swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/security.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: security
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  AdvancedThreatProtectionSetting:
    description: Advanced Threat Protection Settings
    in: body
    name: advancedThreatProtectionSetting
    required: true
    schema:
      $ref: "#/definitions/AdvancedThreatProtectionSetting"
    x-ms-parameter-location: method
  AdvancedThreatProtectionSettingName:
    description: Advanced Threat Protection setting name.
    enum:
      - current
    in: path
    name: settingName
    required: true
    type: string
    x-ms-parameter-location: method
  ApiVersion:
    description: API version for the operation
    enum:
      - 2017-08-01-preview
    in: query
    name: api-version
    required: true
    type: string
  AutoProvisioningSetting:
    description: Auto provisioning setting key
    in: body
    name: setting
    required: true
    schema:
      $ref: "#/definitions/AutoProvisioningSetting"
    x-ms-parameter-location: method
  AutoProvisioningSettingName:
    description: Auto provisioning setting key
    in: path
    name: settingName
    required: true
    type: string
    x-ms-parameter-location: method
  ComplianceName:
    description: name of the Compliance
    in: path
    name: complianceName
    required: true
    type: string
    x-ms-parameter-location: method
  InformationProtectionPolicyName:
    description: Name of the information protection policy.
    enum:
      - effective
      - custom
    in: path
    name: informationProtectionPolicyName
    required: true
    type: string
    x-ms-parameter-location: method
  Pricing:
    description: Pricing object
    in: body
    name: pricing
    required: true
    schema:
      $ref: "#/definitions/Pricing"
    x-ms-parameter-location: method
  PricingName:
    description: name of the pricing configuration
    in: path
    name: pricingName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupName:
    description: The name of the resource group within the user's subscription. The name is case insensitive.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+$
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceId:
    description: The identifier of the resource.
    in: path
    name: resourceId
    required: true
    type: string
    x-ms-parameter-location: method
  Scope:
    description: Scope of the query, can be subscription (/subscriptions/0b06d9ea-afe6-4779-bd59-30e5c2d9d13f) or management group (/providers/Microsoft.Management/managementGroups/mgName).
    in: path
    name: scope
    required: true
    type: string
    x-ms-parameter-location: method
  SecurityContact:
    description: Security contact object
    in: body
    name: securityContact
    required: true
    schema:
      $ref: "#/definitions/SecurityContact"
    x-ms-parameter-location: method
  SecurityContactName:
    description: Name of the security contact object
    in: path
    name: securityContactName
    required: true
    type: string
    x-ms-parameter-location: method
  Setting:
    description: Setting object
    in: body
    name: setting
    required: true
    schema:
      $ref: "#/definitions/Setting"
    x-ms-parameter-location: method
  SettingName:
    description: "Name of setting: (MCAS/WDATP)"
    enum:
      - MCAS
      - WDATP
    in: path
    name: settingName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionId:
    description: Azure subscription ID
    in: path
    name: subscriptionId
    pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
    required: true
    type: string
  WorkspaceSetting:
    description: Security data setting object
    in: body
    name: workspaceSetting
    required: true
    schema:
      $ref: "#/definitions/WorkspaceSetting"
    x-ms-parameter-location: method
  WorkspaceSettingName:
    description: Name of the security setting
    in: path
    name: workspaceSettingName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings":
    get:
      description: Exposes the auto provisioning settings of the subscriptions
      operationId: AutoProvisioningSettings_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AutoProvisioningSettingList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AutoProvisioningSettings
      x-ms-examples:
        Get auto provisioning settings for subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default
                    name: default
                    properties:
                      autoProvision: On
                    type: Microsoft.Security/autoProvisioningSettings
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings/{settingName}":
    get:
      description: Details of a specific setting
      operationId: AutoProvisioningSettings_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/AutoProvisioningSettingName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AutoProvisioningSetting"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AutoProvisioningSettings
      x-ms-examples:
        Get an auto provisioning setting for subscription:
          parameters:
            api-version: 2017-08-01-preview
            settingName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default
                name: default
                properties:
                  autoProvision: On
                type: Microsoft.Security/autoProvisioningSettings
    put:
      description: Details of a specific setting
      operationId: AutoProvisioningSettings_Create
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/AutoProvisioningSettingName"
        - $ref: "#/parameters/AutoProvisioningSetting"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AutoProvisioningSetting"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AutoProvisioningSettings
      x-ms-examples:
        Create auto provisioning settings for subscription:
          parameters:
            api-version: 2017-08-01-preview
            setting:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default
              name: default
              properties:
                autoProvision: On
              type: Microsoft.Security/autoProvisioningSettings
            settingName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default
                name: default
                properties:
                  autoProvision: On
                type: Microsoft.Security/autoProvisioningSettings
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings":
    get:
      description: Security pricing configurations in the subscription
      operationId: Pricings_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PricingList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Pricings
      x-ms-examples:
        Get pricings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/default
                    name: default
                    properties:
                      pricingTier: Standard
                    type: Microsoft.Security/pricings
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/pricings/{pricingName}":
    get:
      description: Security pricing configuration in the subscriptionSecurity pricing configuration in the subscription
      operationId: Pricings_GetSubscriptionPricing
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/PricingName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Pricing"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Pricings
      x-ms-examples:
        Get pricings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            pricingName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/default
                name: default
                properties:
                  pricingTier: Standard
                type: Microsoft.Security/pricings
    put:
      description: Security pricing configuration in the subscription
      operationId: Pricings_UpdateSubscriptionPricing
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/PricingName"
        - $ref: "#/parameters/Pricing"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Pricing"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Pricings
      x-ms-examples:
        Update pricings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            pricing:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/default
              name: default
              properties:
                pricingTier: Standard
              type: Microsoft.Security/pricings
            pricingName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/default
                name: default
                properties:
                  pricingTier: Standard
                type: Microsoft.Security/pricings
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts":
    get:
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SecurityContactList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Security Contacts
      x-ms-examples:
        Update security contact data full:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
                    name: default1
                    properties:
                      alertNotifications: On
                      alertsToAdmins: On
                      email: john@contoso.com
                      phone: (214)275-4038
                    type: Microsoft.Security/securityContacts
        Update security contact data minimal:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
                    name: default2
                    properties:
                      alertNotifications: On
                      alertsToAdmins: On
                      email: chen@contoso.com
                    type: Microsoft.Security/securityContacts
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts/{securityContactName}":
    delete:
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_Delete
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/SecurityContactName"
      responses:
        "204":
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Security Contacts
      x-ms-examples:
        Delete security contact data:
          parameters:
            api-version: 2017-08-01-preview
            securityContactName: default1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "204": {}
    get:
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/SecurityContactName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SecurityContact"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Security Contacts
      x-ms-examples:
        Get security contact data full:
          parameters:
            api-version: 2017-08-01-preview
            securityContactName: default1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
                name: default1
                properties:
                  alertNotifications: On
                  alertsToAdmins: On
                  email: john@contoso.com
                  phone: (214)275-4038
                type: Microsoft.Security/securityContacts
        Get security contact data minimal:
          parameters:
            api-version: 2017-08-01-preview
            securityContactName: default2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
                name: default2
                properties:
                  alertNotifications: On
                  alertsToAdmins: On
                  email: chen@contoso.com
                type: Microsoft.Security/securityContacts
    patch:
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_Update
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/SecurityContactName"
        - $ref: "#/parameters/SecurityContact"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SecurityContact"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Security Contacts
      x-ms-examples:
        Update security contact data full:
          parameters:
            api-version: 2017-08-01-preview
            securityContact:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
              name: default1
              properties:
                alertNotifications: On
                phone: (214)275-4038
              type: Microsoft.Security/securityContacts
            securityContactName: john
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
                name: default1
                properties:
                  alertNotifications: On
                  alertsToAdmins: Off
                  email: john@contoso.com
                  phone: (214)275-4038
                type: Microsoft.Security/securityContacts
        Update security contact data minimal:
          parameters:
            api-version: 2017-08-01-preview
            securityContact:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
              name: default2
              properties:
                alertNotifications: On
              type: Microsoft.Security/securityContacts
            securityContactName: default2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
                name: default2
                properties:
                  alertNotifications: On
                  alertsToAdmins: Off
                  email: chen@contoso.com
                type: Microsoft.Security/securityContacts
    put:
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_Create
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/SecurityContactName"
        - $ref: "#/parameters/SecurityContact"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SecurityContact"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Security Contacts
      x-ms-examples:
        Create security contact data full:
          parameters:
            api-version: 2017-08-01-preview
            securityContact:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
              name: default1
              properties:
                alertNotifications: On
                alertsToAdmins: On
                email: john@contoso.com
                phone: (214)275-4038
              type: Microsoft.Security/securityContacts
            securityContactName: default1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
                name: default1
                properties:
                  alertNotifications: On
                  alertsToAdmins: On
                  email: john@contoso.com
                  phone: (214)275-4038
                type: Microsoft.Security/securityContacts
        Create security contact data minimal:
          parameters:
            api-version: 2017-08-01-preview
            securityContact:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
              name: default2
              properties:
                alertNotifications: On
                alertsToAdmins: On
                email: chen@contoso.com
              type: Microsoft.Security/securityContacts
            securityContactName: default2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
                name: default2
                properties:
                  alertNotifications: On
                  alertsToAdmins: On
                  email: chen@contoso.com
                type: Microsoft.Security/securityContacts
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/settings":
    get:
      description: Settings about different configurations in security center
      operationId: Settings_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SettingsList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Settings
      x-ms-examples:
        Get settings of subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/settings/MCAS
                    kind: DataExportSetting
                    name: MCAS
                    properties:
                      enabled: true
                    type: Microsoft.Security/settings
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/settings/WDATP
                    kind: DataExportSetting
                    name: WDATP
                    properties:
                      enabled: false
                    type: Microsoft.Security/settings
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/settings/{settingName}":
    get:
      description: Settings of different configurations in security center
      operationId: Settings_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/SettingName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Setting"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Settings
      x-ms-examples:
        Get a setting on subscription:
          parameters:
            api-version: 2017-08-01-preview
            settingName: MCAS
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/settings/MCAS
                kind: DataExportSetting
                name: MCAS
                properties:
                  enabled: true
                type: Microsoft.Security/settings
    put:
      description: updating settings about different configurations in security center
      operationId: Settings_Update
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/SettingName"
        - $ref: "#/parameters/Setting"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Setting"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Settings
      x-ms-examples:
        Update a setting for subscription:
          parameters:
            api-version: 2017-08-01-preview
            setting:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/settings/MCAS
              kind: DataExportSetting
              name: MCAS
              properties:
                enabled: true
              type: Microsoft.Security/settings
            settingName: MCAS
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/settings/MCAS
                kind: DataExportSetting
                name: MCAS
                properties:
                  enabled: true
                type: Microsoft.Security/settings
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/workspaceSettings":
    get:
      description: Settings about where we should store your security data and logs. If the result is empty, it means that no custom-workspace configuration was set
      operationId: WorkspaceSettings_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkspaceSettingList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Workspace Settings
      x-ms-examples:
        Get workspace settings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
                    name: default
                    properties:
                      scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
                      workspaceId: /subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace1
                    type: Microsoft.Security/workspaceSettings
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Security/workspaceSettings/myRg
                    name: myRg
                    properties:
                      scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg
                      workspaceId: /subscriptions/c4930e90-cd72-4aa5-93e9-2d081d129569/resourceGroups/myOtherRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace2
                    type: Microsoft.Security/workspaceSettings
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/workspaceSettings/{workspaceSettingName}":
    delete:
      description: Deletes the custom workspace settings for this subscription. new VMs will report to the default workspace
      operationId: WorkspaceSettings_Delete
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/WorkspaceSettingName"
      responses:
        "204":
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Workspace Settings
      x-ms-examples:
        Delete a workspace setting data for resource group:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            workspaceSettingName: default
          responses:
            "204": {}
    get:
      description: Settings about where we should store your security data and logs. If the result is empty, it means that no custom-workspace configuration was set
      operationId: WorkspaceSettings_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/WorkspaceSettingName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkspaceSetting"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Workspace Settings
      x-ms-examples:
        Get a workspace setting on subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            workspaceSettingName: default
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
                name: default
                properties:
                  scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
                  workspaceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace
                type: Microsoft.Security/workspaceSettings
    patch:
      description: Settings about where we should store your security data and logs
      operationId: WorkspaceSettings_Update
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/WorkspaceSettingName"
        - $ref: "#/parameters/WorkspaceSetting"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkspaceSetting"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Workspace Settings
      x-ms-examples:
        Update a workspace setting data for subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            workspaceSetting:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
              name: default
              properties:
                workspaceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace
              type: Microsoft.Security/workspaceSettings
            workspaceSettingName: default
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
                name: default
                properties:
                  scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
                  workspaceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace
                type: Microsoft.Security/workspaceSettings
    put:
      description: creating settings about where we should store your security data and logs
      operationId: WorkspaceSettings_Create
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/WorkspaceSettingName"
        - $ref: "#/parameters/WorkspaceSetting"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/WorkspaceSetting"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Workspace Settings
      x-ms-examples:
        Create a workspace setting data for subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            workspaceSetting:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
              name: default
              properties:
                scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
                workspaceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace
              type: Microsoft.Security/workspaceSettings
            workspaceSettingName: default
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/workspaceSettings/default
                name: default
                properties:
                  scope: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
                  workspaceId: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.OperationalInsights/workspaces/myWorkspace
                type: Microsoft.Security/workspaceSettings
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/pricings":
    get:
      description: Security pricing configurations in the resource group
      operationId: Pricings_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PricingList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Pricings
      x-ms-examples:
        Get pricings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            resourceGroupName: myRg
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/myRg
                    name: myRg
                    properties:
                      pricingTier: Standard
                    type: Microsoft.Security/pricings
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/pricings/{pricingName}":
    get:
      description: Security pricing configuration in the resource group
      operationId: Pricings_GetResourceGroupPricing
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/PricingName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Pricing"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Pricings
      x-ms-examples:
        Get pricings on subscription:
          parameters:
            api-version: 2017-08-01-preview
            pricingName: myRg
            resourceGroupName: myRg
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/myRg
                name: myRg
                properties:
                  pricingTier: Standard
                type: Microsoft.Security/pricings
    put:
      description: Security pricing configuration in the resource group
      operationId: Pricings_CreateOrUpdateResourceGroupPricing
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/PricingName"
        - $ref: "#/parameters/Pricing"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Pricing"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Pricings
      x-ms-examples:
        Update pricings on resource group:
          parameters:
            api-version: 2017-08-01-preview
            pricing:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg/providers/Microsoft.Security/pricings/myRg
              name: myRg
              properties:
                pricingTier: Standard
              type: Microsoft.Security/pricings
            pricingName: myRg
            resourceGroupName: myRg
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/pricings/myRg
                name: myRg
                properties:
                  pricingTier: Standard
                type: Microsoft.Security/pricings
  "/{resourceId}/providers/Microsoft.Security/advancedThreatProtectionSettings/{settingName}":
    get:
      description: Gets the Advanced Threat Protection settings for the specified resource.
      operationId: AdvancedThreatProtection_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceId"
        - $ref: "#/parameters/AdvancedThreatProtectionSettingName"
      responses:
        "200":
          description: Successful request to get Advanced Threat Protection settings.
          schema:
            $ref: "#/definitions/AdvancedThreatProtectionSetting"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AdvancedThreatProtection
      x-ms-examples:
        Gets the Advanced Threat Protection settings for the specified resource.:
          parameters:
            api-version: 2017-08-01-preview
            resourceId: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount
            settingName: current
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount/providers/Microsoft.Security/advancedThreatProtectionSettings/current
                name: current
                properties:
                  isEnabled: true
                type: Microsoft.Security/advancedThreatProtectionSettings
    put:
      description: Creates or updates the Advanced Threat Protection settings on a specified resource.
      operationId: AdvancedThreatProtection_Create
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceId"
        - $ref: "#/parameters/AdvancedThreatProtectionSettingName"
        - $ref: "#/parameters/AdvancedThreatProtectionSetting"
      responses:
        "200":
          description: Successful request to put Advanced Threat Protection settings.
          schema:
            $ref: "#/definitions/AdvancedThreatProtectionSetting"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AdvancedThreatProtection
      x-ms-examples:
        Creates or updates the Advanced Threat Protection settings on a specified resource.:
          parameters:
            advancedThreatProtectionSetting:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount/providers/Microsoft.Security/advancedThreatProtectionSettings/current
              name: current
              properties:
                isEnabled: true
              type: Microsoft.Security/advancedThreatProtectionSettings
            api-version: 2017-08-01-preview
            resourceId: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount
            settingName: current
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount/providers/Microsoft.Security/advancedThreatProtectionSettings/current
                name: current
                properties:
                  isEnabled: true
                type: Microsoft.Security/advancedThreatProtectionSettings
  "/{scope}/providers/Microsoft.Security/compliances":
    get:
      description: The Compliance scores of the specific management group.
      operationId: Compliances_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/Scope"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ComplianceList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Compliances
      x-ms-examples:
        Get security compliance data over time:
          parameters:
            api-version: 2017-08-01-preview
            scope: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-01Z
                    name: 2018-01-01Z
                    properties:
                      assessmentResult:
                        - percentage: 77.77777777777779
                          segmentType: Compliant
                      assessmentTimestampUtcDate: 2018-01-01T00:00:00Z
                      resourceCount: 18
                    type: Microsoft.Security/compliances
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-02Z
                    name: 2018-01-02Z
                    properties:
                      assessmentResult:
                        - percentage: 94.44444444444444
                          segmentType: Compliant
                      assessmentTimestampUtcDate: 2018-01-02T00:00:00Z
                      resourceCount: 18
                    type: Microsoft.Security/compliances
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-03Z
                    name: 2018-01-03Z
                    properties:
                      assessmentResult:
                        - percentage: 100
                          segmentType: Compliant
                      assessmentTimestampUtcDate: 2018-01-03T00:00:00Z
                      resourceCount: 18
                    type: Microsoft.Security/compliances
      x-ms-pageable:
        nextLinkName: nextLink
  "/{scope}/providers/Microsoft.Security/compliances/{complianceName}":
    get:
      description: Details of a specific Compliance.
      operationId: Compliances_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/Scope"
        - $ref: "#/parameters/ComplianceName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Compliance"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Compliances
      x-ms-examples:
        Get security compliance data for a day:
          parameters:
            api-version: 2017-08-01-preview
            complianceName: 2018-01-01Z
            scope: subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/compliances/2018-01-01Z
                name: 2018-01-01Z
                properties:
                  assessmentResult:
                    - percentage: 77.77777777777779
                      segmentType: Compliant
                  assessmentTimestampUtcDate: 2018-01-01T00:00:00Z
                  resourceCount: 18
                type: Microsoft.Security/compliances
  "/{scope}/providers/Microsoft.Security/informationProtectionPolicies":
    get:
      description: Information protection policies of a specific management group.
      operationId: InformationProtectionPolicies_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/Scope"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/InformationProtectionPolicyList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - InformationProtectionPolicies
      x-ms-examples:
        Get information protection policies:
          parameters:
            api-version: 2017-08-01-preview
            scope: providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/effective
                    name: effective
                    properties:
                      informationTypes:
                        3bf35491-99b8-41f2-86d5-c1200a7df658:
                          custom: true
                          displayName: Custom
                          enabled: true
                          keywords:
                            - canBeNumeric: false
                              custom: true
                              pattern: "%networking%"
                          order: 1400
                          recommendedLabelId: 7aa516c7-5a53-4857-bc6e-6808c6acd542
                        5856f35c-8e08-4d08-9bf7-87a146150569:
                          custom: false
                          displayName: Contact Info
                          enabled: true
                          keywords:
                            - canBeNumeric: false
                              custom: false
                              pattern: "%email%"
                            - canBeNumeric: false
                              custom: false
                              pattern: "%e-mail%"
                            - canBeNumeric: false
                              custom: false
                              pattern: "%addr%"
                            - canBeNumeric: true
                              custom: false
                              pattern: "%street%"
                            - canBeNumeric: false
                              custom: false
                              pattern: "%city%"
                          order: 200
                          recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                        7fb9419d-2473-4ad8-8e11-b25cc8cf6a07:
                          custom: false
                          displayName: Networking
                          enabled: true
                          keywords:
                            - canBeNumeric: false
                              custom: false
                              pattern: "%ip%"
                            - canBeNumeric: false
                              custom: false
                              pattern: ip%address%
                            - canBeNumeric: false
                              custom: false
                              pattern: "%mac%address%"
                            - canBeNumeric: true
                              custom: true
                              pattern: "%networking%"
                          order: 100
                          recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                      labels:
                        1345da73-bc5a-4a8f-b7dd-3820eb713da8:
                          displayName: Public
                          enabled: true
                          order: 100
                        575739d2-3d53-4df0-9042-4c7772d5c7b1:
                          displayName: Confidential
                          enabled: true
                          order: 300
                        7aa516c7-5a53-4857-bc6e-6808c6acd542:
                          displayName: General
                          enabled: true
                          order: 200
                    type: Microsoft.Security/informationProtectionPolicies
                  - id: /providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/custom
                    name: custom
                    properties:
                      informationTypes:
                        3bf35491-99b8-41f2-86d5-c1200a7df658:
                          custom: true
                          displayName: Custom
                          enabled: true
                          keywords:
                            - canBeNumeric: true
                              custom: true
                              pattern: "%custom%"
                          order: 1400
                          recommendedLabelId: 7aa516c7-5a53-4857-bc6e-6808c6acd542
                        7fb9419d-2473-4ad8-8e11-b25cc8cf6a07:
                          custom: false
                          displayName: Networking
                          enabled: true
                          keywords:
                            - canBeNumeric: false
                              custom: true
                              pattern: "%networking%"
                          order: 100
                          recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                      labels:
                        1345da73-bc5a-4a8f-b7dd-3820eb713da8:
                          displayName: Public
                          enabled: true
                          order: 100
                        575739d2-3d53-4df0-9042-4c7772d5c7b1:
                          displayName: Confidential
                          enabled: true
                          order: 300
                        7aa516c7-5a53-4857-bc6e-6808c6acd542:
                          displayName: General
                          enabled: true
                          order: 200
                    type: Microsoft.Security/informationProtectionPolicies
      x-ms-pageable:
        nextLinkName: nextLink
  "/{scope}/providers/Microsoft.Security/informationProtectionPolicies/{informationProtectionPolicyName}":
    get:
      description: Details of the information protection policy.
      operationId: InformationProtectionPolicies_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/Scope"
        - $ref: "#/parameters/InformationProtectionPolicyName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/InformationProtectionPolicy"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - InformationProtectionPolicies
      x-ms-examples:
        Get the customized information protection policy for a management group:
          parameters:
            api-version: 2017-08-01-preview
            informationProtectionPolicyName: custom
            scope: providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/custom
                name: custom
                properties:
                  informationTypes:
                    3bf35491-99b8-41f2-86d5-c1200a7df658:
                      custom: true
                      displayName: Custom
                      enabled: true
                      keywords:
                        - canBeNumeric: true
                          custom: true
                          pattern: "%custom%"
                      order: 1400
                      recommendedLabelId: 7aa516c7-5a53-4857-bc6e-6808c6acd542
                    7fb9419d-2473-4ad8-8e11-b25cc8cf6a07:
                      custom: false
                      displayName: Networking
                      enabled: true
                      keywords:
                        - canBeNumeric: false
                          custom: true
                          pattern: "%networking%"
                      order: 100
                      recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                  labels:
                    1345da73-bc5a-4a8f-b7dd-3820eb713da8:
                      displayName: Public
                      enabled: true
                      order: 100
                    575739d2-3d53-4df0-9042-4c7772d5c7b1:
                      displayName: Confidential
                      enabled: true
                      order: 300
                    7aa516c7-5a53-4857-bc6e-6808c6acd542:
                      displayName: General
                      enabled: true
                      order: 200
                type: Microsoft.Security/informationProtectionPolicies
        Get the effective information protection policy for a management group:
          parameters:
            api-version: 2017-08-01-preview
            informationProtectionPolicyName: effective
            scope: providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/effective
                name: effective
                properties:
                  informationTypes:
                    3bf35491-99b8-41f2-86d5-c1200a7df658:
                      custom: true
                      displayName: Custom
                      enabled: true
                      keywords:
                        - canBeNumeric: false
                          custom: true
                          pattern: "%networking%"
                      order: 1400
                      recommendedLabelId: 7aa516c7-5a53-4857-bc6e-6808c6acd542
                    5856f35c-8e08-4d08-9bf7-87a146150569:
                      custom: false
                      displayName: Contact Info
                      enabled: true
                      keywords:
                        - canBeNumeric: false
                          custom: false
                          pattern: "%email%"
                        - canBeNumeric: false
                          custom: false
                          pattern: "%e-mail%"
                        - canBeNumeric: false
                          custom: false
                          pattern: "%addr%"
                        - canBeNumeric: true
                          custom: false
                          pattern: "%street%"
                        - canBeNumeric: false
                          custom: false
                          pattern: "%city%"
                      order: 200
                      recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                    7fb9419d-2473-4ad8-8e11-b25cc8cf6a07:
                      custom: false
                      displayName: Networking
                      enabled: true
                      keywords:
                        - canBeNumeric: false
                          custom: false
                          pattern: "%ip%"
                        - canBeNumeric: false
                          custom: false
                          pattern: ip%address%
                        - canBeNumeric: false
                          custom: false
                          pattern: "%mac%address%"
                        - canBeNumeric: true
                          custom: true
                          excluded: true
                          pattern: "%networking%"
                      order: 100
                      recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                  labels:
                    1345da73-bc5a-4a8f-b7dd-3820eb713da8:
                      displayName: Public
                      enabled: true
                      order: 100
                    575739d2-3d53-4df0-9042-4c7772d5c7b1:
                      displayName: Confidential
                      enabled: true
                      order: 300
                    7aa516c7-5a53-4857-bc6e-6808c6acd542:
                      displayName: General
                      enabled: true
                      order: 200
                type: Microsoft.Security/informationProtectionPolicies
    put:
      description: Details of the information protection policy.
      operationId: InformationProtectionPolicies_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/Scope"
        - $ref: "#/parameters/InformationProtectionPolicyName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/InformationProtectionPolicy"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/InformationProtectionPolicy"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - InformationProtectionPolicies
      x-ms-examples:
        Create or update an information protection policy for a management group:
          parameters:
            InformationProtectionPolicy:
              id: /providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/custom
              name: custom
              properties:
                informationTypes:
                  3bf35491-99b8-41f2-86d5-c1200a7df658:
                    custom: true
                    displayName: Custom
                    enabled: true
                    keywords:
                      - canBeNumeric: true
                        custom: true
                        pattern: "%custom%"
                    order: 1400
                    recommendedLabelId: 7aa516c7-5a53-4857-bc6e-6808c6acd542
                  7fb9419d-2473-4ad8-8e11-b25cc8cf6a07:
                    custom: false
                    displayName: Networking
                    enabled: true
                    keywords:
                      - canBeNumeric: false
                        custom: true
                        pattern: "%networking%"
                    order: 100
                    recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                labels:
                  1345da73-bc5a-4a8f-b7dd-3820eb713da8:
                    displayName: Public
                    enabled: true
                    order: 100
                  575739d2-3d53-4df0-9042-4c7772d5c7b1:
                    displayName: Confidential
                    enabled: true
                    order: 300
                  7aa516c7-5a53-4857-bc6e-6808c6acd542:
                    displayName: General
                    enabled: true
                    order: 200
              type: Microsoft.Security/informationProtectionPolicies
            api-version: 2017-08-01-preview
            informationProtectionPolicyName: custom
            scope: providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e
          responses:
            "200":
              body:
                id: /providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/custom
                name: custom
                properties:
                  informationTypes:
                    3bf35491-99b8-41f2-86d5-c1200a7df658:
                      custom: true
                      displayName: Custom
                      enabled: true
                      keywords:
                        - canBeNumeric: true
                          custom: true
                          pattern: "%custom%"
                      order: 1400
                      recommendedLabelId: 7aa516c7-5a53-4857-bc6e-6808c6acd542
                    7fb9419d-2473-4ad8-8e11-b25cc8cf6a07:
                      custom: false
                      displayName: Networking
                      enabled: true
                      keywords:
                        - canBeNumeric: false
                          custom: true
                          pattern: "%networking%"
                      order: 100
                      recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                  labels:
                    1345da73-bc5a-4a8f-b7dd-3820eb713da8:
                      displayName: Public
                      enabled: true
                      order: 100
                    575739d2-3d53-4df0-9042-4c7772d5c7b1:
                      displayName: Confidential
                      enabled: true
                      order: 300
                    7aa516c7-5a53-4857-bc6e-6808c6acd542:
                      displayName: General
                      enabled: true
                      order: 200
                type: Microsoft.Security/informationProtectionPolicies
            "201":
              body:
                id: /providers/Microsoft.Management/managementGroups/148059f7-faf3-49a6-ba35-85122112291e/providers/Microsoft.Security/informationProtectionPolicies/custom
                name: custom
                properties:
                  informationTypes:
                    3bf35491-99b8-41f2-86d5-c1200a7df658:
                      custom: true
                      displayName: Custom
                      enabled: true
                      keywords:
                        - canBeNumeric: true
                          custom: true
                          pattern: "%custom%"
                      order: 1400
                      recommendedLabelId: 7aa516c7-5a53-4857-bc6e-6808c6acd542
                    7fb9419d-2473-4ad8-8e11-b25cc8cf6a07:
                      custom: false
                      displayName: Networking
                      enabled: true
                      keywords:
                        - canBeNumeric: false
                          custom: true
                          pattern: "%networking%"
                      order: 100
                      recommendedLabelId: 575739d2-3d53-4df0-9042-4c7772d5c7b1
                  labels:
                    1345da73-bc5a-4a8f-b7dd-3820eb713da8:
                      displayName: Public
                      enabled: true
                      order: 100
                    575739d2-3d53-4df0-9042-4c7772d5c7b1:
                      displayName: Confidential
                      enabled: true
                      order: 300
                    7aa516c7-5a53-4857-bc6e-6808c6acd542:
                      displayName: General
                      enabled: true
                      order: 200
                type: Microsoft.Security/informationProtectionPolicies
definitions:
  AdvancedThreatProtectionProperties:
    description: The Advanced Threat Protection settings.
    properties:
      isEnabled:
        description: Indicates whether Advanced Threat Protection is enabled.
        type: boolean
  AdvancedThreatProtectionSetting:
    allOf:
      - $ref: "#/definitions/Resource"
    description: The Advanced Threat Protection resource.
    properties:
      properties:
        $ref: "#/definitions/AdvancedThreatProtectionProperties"
        x-ms-client-flatten: true
    type: object
  AutoProvisioningSetting:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Auto provisioning setting
    properties:
      properties:
        $ref: "#/definitions/AutoProvisioningSettingProperties"
        description: Auto provisioning setting data
        x-ms-client-flatten: true
    type: object
  AutoProvisioningSettingList:
    description: List of all the auto provisioning settings response
    properties:
      nextLink:
        description: The URI to fetch the next page.
        readOnly: true
        type: string
      value:
        description: List of all the auto provisioning settings
        items:
          $ref: "#/definitions/AutoProvisioningSetting"
        type: array
    type: object
  AutoProvisioningSettingProperties:
    description: describes properties of an auto provisioning setting
    properties:
      autoProvision:
        description: Describes what kind of security agent provisioning action to take
        enum:
          - On
          - Off
        type: string
        x-ms-enum:
          modelAsString: true
          name: autoProvision
          values:
            - description: Install missing security agent on VMs automatically
              value: On
            - description: Do not install security agent on the VMs automatically
              value: Off
    required:
      - autoProvision
    type: object
  CloudError:
    description: Error response structure.
    properties:
      error:
        $ref: "#/definitions/CloudErrorBody"
        description: Error data
        x-ms-client-flatten: true
    type: object
    x-ms-external: true
  CloudErrorBody:
    description: Error details.
    properties:
      code:
        description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        readOnly: true
        type: string
      message:
        description: A message describing the error, intended to be suitable for display in a user interface.
        readOnly: true
        type: string
    type: object
    x-ms-external: true
  Compliance:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Compliance of a scope
    properties:
      properties:
        $ref: "#/definitions/ComplianceProperties"
        description: Compliance data
        x-ms-client-flatten: true
    readOnly: true
    type: object
  ComplianceList:
    description: List of Compliance objects response
    properties:
      nextLink:
        description: The URI to fetch the next page.
        readOnly: true
        type: string
      value:
        description: List of Compliance objects
        items:
          $ref: "#/definitions/Compliance"
        type: array
    readOnly: true
    type: object
  ComplianceProperties:
    description: The Compliance score (percentage) of a Subscription is a sum of all Resources' Compliances under the given Subscription. A Resource Compliance is defined as the compliant ('healthy') Policy Definitions out of all Policy Definitions applicable to a given resource.
    properties:
      assessmentResult:
        description: An array of segment, which is the actually the compliance assessment.
        items:
          $ref: "#/definitions/ComplianceSegment"
        readOnly: true
        type: array
      assessmentTimestampUtcDate:
        description: The timestamp when the Compliance calculation was conducted.
        format: date-time
        readOnly: true
        type: string
      resourceCount:
        description: The resource count of the given subscription for which the Compliance calculation was conducted (needed for Management Group Compliance calculation).
        readOnly: true
        type: integer
    type: object
  ComplianceSegment:
    description: A segment of a compliance assessment.
    properties:
      percentage:
        description: The size (%) of the segment.
        format: double
        readOnly: true
        type: number
      segmentType:
        description: The segment type, e.g. compliant, non-compliance, insufficient coverage, N/A, etc.
        readOnly: true
        type: string
    type: object
  DataExportSetting:
    allOf:
      - $ref: "#/definitions/Setting"
    description: Represents a data export setting
    properties:
      properties:
        $ref: "#/definitions/DataExportSettingProperties"
        description: Data export setting data
        x-ms-client-flatten: true
    type: object
    x-ms-discriminator-value: DataExportSetting
  DataExportSettingProperties:
    description: The data export setting properties
    properties:
      enabled:
        description: Is the data export setting is enabled
        type: boolean
    required:
      - enabled
    type: object
  InformationProtectionKeyword:
    description: The information type keyword.
    properties:
      canBeNumeric:
        description: Indicates whether the keyword can be applied on numeric types or not.
        type: boolean
      custom:
        description: Indicates whether the keyword is custom or not.
        type: boolean
      excluded:
        description: Indicates whether the keyword is excluded or not.
        type: boolean
      pattern:
        description: The keyword pattern.
        type: string
    type: object
  InformationProtectionPolicy:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Information protection policy.
    properties:
      properties:
        $ref: "#/definitions/InformationProtectionPolicyProperties"
        description: Information protection policy data
        x-ms-client-flatten: true
    type: object
  InformationProtectionPolicyList:
    description: Information protection policies response.
    properties:
      nextLink:
        description: The URI to fetch the next page.
        readOnly: true
        type: string
      value:
        description: List of information protection policies.
        items:
          $ref: "#/definitions/InformationProtectionPolicy"
        type: array
    readOnly: true
    type: object
  InformationProtectionPolicyProperties:
    description: describes properties of an information protection policy.
    properties:
      informationTypes:
        additionalProperties:
          $ref: "#/definitions/InformationType"
          type: object
        description: The sensitivity information types.
        type: object
      labels:
        additionalProperties:
          $ref: "#/definitions/SensitivityLabel"
          type: object
        description: Dictionary of sensitivity labels.
        type: object
      lastModifiedUtc:
        description: Describes the last UTC time the policy was modified.
        format: date-time
        readOnly: true
        type: string
    type: object
  InformationType:
    description: The information type.
    properties:
      custom:
        description: Indicates whether the information type is custom or not.
        type: boolean
      displayName:
        description: The name of the information type.
        type: string
      enabled:
        description: Indicates whether the information type is enabled or not.
        type: boolean
      keywords:
        description: The information type keywords.
        items:
          $ref: "#/definitions/InformationProtectionKeyword"
        type: array
      order:
        description: The order of the information type.
        type: number
      recommendedLabelId:
        description: The recommended label id to be associated with this information type.
        format: uuid
        type: string
    type: object
  Kind:
    description: Describes an Azure resource with kind
    properties:
      kind:
        description: Kind of the resource
        type: string
    type: object
  Pricing:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Pricing tier will be applied for the scope based on the resource ID
    properties:
      properties:
        $ref: "#/definitions/PricingProperties"
        description: Pricing data
        x-ms-client-flatten: true
    type: object
  PricingList:
    description: List of pricing configurations response
    properties:
      nextLink:
        description: The URI to fetch the next page.
        readOnly: true
        type: string
      value:
        description: List of pricing configurations
        items:
          $ref: "#/definitions/Pricing"
        type: array
    required:
      - value
  PricingProperties:
    description: Pricing data
    properties:
      pricingTier:
        description: Pricing tier type
        enum:
          - Free
          - Standard
        type: string
        x-ms-enum:
          modelAsString: true
          name: pricingTier
          values:
            - description: Get free Azure security center experience with basic security features
              value: Free
            - description: Get the standard Azure security center experience with advanced security features
              value: Standard
    required:
      - pricingTier
    type: object
  Resource:
    description: Describes an Azure resource.
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
      type:
        description: Resource type
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  SecurityContact:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Contact details for security issues
    properties:
      properties:
        $ref: "#/definitions/SecurityContactProperties"
        description: Security contact data
        x-ms-client-flatten: true
    type: object
  SecurityContactList:
    description: List of security contacts response
    properties:
      nextLink:
        description: The URI to fetch the next page.
        readOnly: true
        type: string
      value:
        description: List of security contacts
        items:
          $ref: "#/definitions/SecurityContact"
        readOnly: true
        type: array
    type: object
  SecurityContactProperties:
    description: describes security contact properties
    properties:
      alertNotifications:
        description: Whether to send security alerts notifications to the security contact
        enum:
          - On
          - Off
        type: string
        x-ms-enum:
          modelAsString: true
          name: alertNotifications
          values:
            - description: Get notifications on new alerts
              value: On
            - description: Don't get notifications on new alerts
              value: Off
      alertsToAdmins:
        description: Whether to send security alerts notifications to subscription admins
        enum:
          - On
          - Off
        type: string
        x-ms-enum:
          modelAsString: true
          name: alertsToAdmins
          values:
            - description: Send notification on new alerts to the subscription's admins
              value: On
            - description: Don't send notification on new alerts to the subscription's admins
              value: Off
      email:
        description: The email of this security contact
        format: email
        type: string
      phone:
        description: The phone number of this security contact
        type: string
    required:
      - email
      - alertNotifications
      - alertsToAdmins
    type: object
  SensitivityLabel:
    description: The sensitivity label.
    properties:
      displayName:
        description: The name of the sensitivity label.
        type: string
      enabled:
        description: Indicates whether the label is enabled or not.
        type: boolean
      order:
        description: The order of the sensitivity label.
        type: number
    type: object
  Setting:
    allOf:
      - $ref: "#/definitions/SettingResource"
    description: Represents a security setting in Azure Security Center.
    discriminator: kind
    properties: {}
    type: object
  SettingResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: The kind of the security setting
    properties:
      kind:
        description: the kind of the settings string (DataExportSetting)
        enum:
          - DataExportSetting
          - AlertSuppressionSetting
        type: string
        x-ms-enum:
          modelAsString: true
          name: SettingKind
          values:
            - value: DataExportSetting
            - value: AlertSuppressionSetting
    required:
      - kind
    type: object
  SettingsList:
    description: Subscription settings list.
    properties:
      nextLink:
        description: The URI to fetch the next page.
        readOnly: true
        type: string
      value:
        description: The settings list.
        items:
          $ref: "#/definitions/Setting"
        type: array
    type: object
  WorkspaceSetting:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Configures where to store the OMS agent data for workspaces under a scope
    properties:
      properties:
        $ref: "#/definitions/WorkspaceSettingProperties"
        description: Workspace setting data
        x-ms-client-flatten: true
    type: object
  WorkspaceSettingList:
    description: List of workspace settings response
    properties:
      nextLink:
        description: The URI to fetch the next page.
        readOnly: true
        type: string
      value:
        description: List of workspace settings
        items:
          $ref: "#/definitions/WorkspaceSetting"
        type: array
    required:
      - value
  WorkspaceSettingProperties:
    description: Workspace setting data
    properties:
      scope:
        description: All the VMs in this scope will send their security data to the mentioned workspace unless overridden by a setting with more specific scope
        type: string
      workspaceId:
        description: The full Azure ID of the workspace to save the data in
        type: string
    required:
      - workspaceId
      - scope
    type: object
