swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Hybrid Compute Management Client.
  title: HybridComputeManagementClient
  version: 2019-08-02-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hybridcompute/resource-manager/Microsoft.HybridCompute/preview/2019-08-02/HybridCompute.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: hybridcompute-HybridCompute
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.HybridCompute/operations:
    get:
      description: Gets a list of hybrid compute operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - operations
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/machines":
    get:
      description: Lists all the hybrid machines in the specified subscription. Use the nextLink property in the response to get the next page of hybrid machines.
      operationId: Machines_ListBySubscription
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MachineListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - machines
      x-ms-examples:
        List Machines by resource group:
          parameters:
            api-version: 2019-08-02
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: string
                value:
                  - id: string
                    location: string
                    name: string
                    type: string
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines":
    get:
      description: Lists all the hybrid machines in the specified resource group. Use the nextLink property in the response to get the next page of hybrid machines.
      operationId: Machines_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MachineListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - machines
      x-ms-examples:
        List Machines by resource group:
          parameters:
            api-version: 2019-08-02
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: string
                value:
                  - id: string
                    location: string
                    name: string
                    type: string
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}":
    delete:
      description: The operation to remove a hybrid machine identity in Azure.
      operationId: Machines_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the hybrid machine.
          in: path
          name: name
          required: true
          type: string
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - machines
      x-ms-examples:
        Delete a Machine:
          parameters:
            api-version: 2019-08-02-preview
            name: myMachine
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200": {}
            "204": {}
    get:
      description: Retrieves information about the model view or the instance view of a hybrid machine.
      operationId: Machines_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the hybrid machine.
          in: path
          name: name
          required: true
          type: string
        - description: The expand expression to apply on the operation.
          enum:
            - instanceView
          in: query
          name: $expand
          required: false
          type: string
          x-ms-enum:
            modelAsString: false
            name: InstanceViewTypes
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Machine"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - machines
      x-ms-examples:
        Get Machine:
          parameters:
            api-version: 2019-08-02-preview
            name: myMachine
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: string
                identity:
                  principalId: string
                  tenantId: string
                  type: SystemAssigned
                location: string
                name: string
                properties:
                  agentVersion: null
                  clientPublicKey: string
                  displayName: null
                  errorDetails: null
                  lastStatusChange: null
                  machineFqdn: null
                  osName: null
                  osProfile:
                    computerName: null
                  osVersion: null
                  physicalLocation: ""
                  provisioningState: string
                  status: null
                  vmId: string
                tags: {}
                type: Microsoft.HybridCompute/machines
    patch:
      description: The operation to update a hybrid machine.
      operationId: Machines_Update
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the hybrid machine.
          in: path
          name: name
          required: true
          type: string
        - description: Parameters supplied to the Update hybrid machine operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/MachineUpdate"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Machine"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - machines
      x-ms-examples:
        Update a Machine:
          parameters:
            api-version: 2019-08-02
            identity:
              Type: SystemAssigned
            location: eastus2euap
            name: myMachine
            parameters: string
            properties:
              physicalLocation: newLocation
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: string
                identity:
                  principalId: string
                  tenantId: string
                  type: SystemAssigned
                location: eastus2euap
                name: string
                properties:
                  agentVersion: null
                  clientPublicKey: string
                  displayName: null
                  errorDetails: null
                  lastStatusChange: null
                  machineFqdn: null
                  osName: null
                  osProfile:
                    computerName: null
                  osVersion: null
                  physicalLocation: string
                  provisioningState: Succeeded
                  status: null
                  vmId: string
                tags: null
                type: Microsoft.HybridCompute/machines
    put:
      description: The operation to create or update a hybrid machine resource identity in Azure.
      operationId: Machines_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the hybrid machine.
          in: path
          name: name
          required: true
          type: string
        - description: Parameters supplied to the Create hybrid machine operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Machine"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Machine"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - machines
      x-ms-examples:
        Create or Update a Machine:
          parameters:
            api-version: 2019-08-02
            identity:
              Type: SystemAssigned
            location: eastus2euap
            name: myMachine
            parameters: string
            properties:
              clientPublicKey: string
              physicalLocation: redmond
              vmId: string
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: string
                identity:
                  principalId: string
                  tenantId: string
                  type: SystemAssigned
                location: eastus2euap
                name: string
                properties:
                  agentVersion: null
                  clientPublicKey: string
                  displayName: null
                  errorDetails: null
                  lastStatusChange: null
                  machineFqdn: null
                  osName: null
                  osProfile:
                    computerName: null
                  osVersion: null
                  physicalLocation: string
                  provisioningState: Succeeded
                  status: null
                  vmId: string
                tags: null
                type: Microsoft.HybridCompute/machines
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}/extensions":
    get:
      description: The operation to get all extensions of a non-Azure machine
      operationId: MachineExtensions_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the machine containing the extension.
          in: path
          name: name
          required: true
          type: string
        - description: The expand expression to apply on the operation.
          in: query
          name: $expand
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MachineExtensionsListResult"
      tags:
        - MachineExtensions
      x-ms-examples:
        GET all Machine Extensions:
          parameters:
            api-version: 2019-08-02
            name: myMachine
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: string
                value:
                  - id: string
                    location: string
                    name: string
                    properties:
                      autoUpgradeMinorVersion: true
                      forceUpdateTag: string
                      instanceView:
                        name: string
                        status:
                          code: string
                          displayStatus: string
                          level: Info
                          message: string
                          time: 2019-08-13T17:18:57.405Z
                        type: string
                        typeHandlerVersion: string
                      protectedSettings: {}
                      provisioningState: string
                      publisher: string
                      settings: {}
                      type: string
                      typeHandlerVersion: string
                    type: string
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}/extensions/{extensionName}":
    delete:
      description: The operation to delete the extension.
      operationId: MachineExtensions_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the machine where the extension should be deleted.
          in: path
          name: name
          required: true
          type: string
        - description: The name of the machine extension.
          in: path
          name: extensionName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: No Content
      tags:
        - MachineExtensions
      x-ms-examples: {}
      x-ms-long-running-operation: true
    get:
      description: The operation to get the extension.
      operationId: MachineExtensions_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the machine containing the extension.
          in: path
          name: name
          required: true
          type: string
        - description: The name of the machine extension.
          in: path
          name: extensionName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MachineExtension"
      tags:
        - MachineExtensions
      x-ms-examples:
        GET Machine Extension:
          parameters:
            api-version: 2019-08-02
            extensionName: MMA
            name: myMachine
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: string
                location: string
                name: string
                properties:
                  autoUpgradeMinorVersion: true
                  forceUpdateTag: string
                  instanceView:
                    name: string
                    status:
                      code: string
                      displayStatus: string
                      level: Info
                      message: string
                      time: 2019-08-08T20:42:10.999Z
                    type: string
                    typeHandlerVersion: string
                  protectedSettings: {}
                  provisioningState: string
                  publisher: string
                  settings: {}
                  type: string
                  typeHandlerVersion: string
                type: string
    patch:
      description: The operation to create or update the extension.
      operationId: MachineExtensions_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the machine where the extension should be created or updated.
          in: path
          name: name
          required: true
          type: string
        - description: The name of the machine extension.
          in: path
          name: extensionName
          required: true
          type: string
        - description: Parameters supplied to the Create Machine Extension operation.
          in: body
          name: extensionParameters
          required: true
          schema:
            $ref: "#/definitions/MachineExtensionUpdate"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MachineExtension"
        "202":
          description: Accepted
      tags:
        - MachineExtensions
      x-ms-examples:
        Create or Update a Machine Extension:
          parameters:
            api-version: 2019-08-02
            extensionName: MMA
            extensionParameters:
              properties:
                autoUpgradeMinorVersion: true
                forceUpdateTag: "false"
                protectedSettings: {}
                publisher: Publisher1
                settings: {}
                type: string
                typeHandlerVersion: "1.0"
            name: myMachine
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: string
                location: string
                name: string
                properties:
                  autoUpgradeMinorVersion: true
                  forceUpdateTag: string
                  instanceView:
                    name: string
                    status:
                      code: string
                      displayStatus: string
                      level: Info
                      message: string
                      time: 2019-08-08T20:42:10.999Z
                    type: string
                    typeHandlerVersion: string
                  protectedSettings: {}
                  provisioningState: string
                  publisher: string
                  settings: {}
                  type: string
                  typeHandlerVersion: string
                type: string
            "202": {}
      x-ms-long-running-operation: true
    put:
      description: The operation to create or update the extension.
      operationId: MachineExtensions_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the machine where the extension should be created or updated.
          in: path
          name: name
          required: true
          type: string
        - description: The name of the machine extension.
          in: path
          name: extensionName
          required: true
          type: string
        - description: Parameters supplied to the Create Machine Extension operation.
          in: body
          name: extensionParameters
          required: true
          schema:
            $ref: "#/definitions/MachineExtension"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MachineExtension"
        "202":
          description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
      tags:
        - MachineExtensions
      x-ms-examples:
        Create or Update a Machine Extension:
          parameters:
            api-version: 2019-08-02
            extensionName: MMA
            extensionParameters:
              location: string
              properties:
                autoUpgradeMinorVersion: true
                forceUpdateTag: "false"
                instanceView:
                  name: string
                  status:
                    code: string
                    displayStatus: string
                    level: Info
                    message: string
                    time: 2019-08-08T20:36:46.620Z
                  type: string
                  typeHandlerVersion: string
                protectedSettings: {}
                publisher: Publisher1
                settings: {}
                type: string
                typeHandlerVersion: "1.0"
            name: myMachine
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: string
                location: string
                name: string
                properties:
                  autoUpgradeMinorVersion: true
                  forceUpdateTag: string
                  instanceView:
                    name: string
                    status:
                      code: string
                      displayStatus: string
                      level: Info
                      message: string
                      time: 2019-08-08T20:42:10.999Z
                    type: string
                    typeHandlerVersion: string
                  protectedSettings: {}
                  provisioningState: string
                  publisher: string
                  settings: {}
                  type: string
                  typeHandlerVersion: string
                type: string
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}/reconnect":
    post:
      description: The operation to reconnect a hybrid machine resource to its identity in Azure.
      operationId: Machines_Reconnect
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the hybrid machine.
          in: path
          name: name
          required: true
          type: string
        - description: Parameters supplied to the Reconnect hybrid machine operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/MachineReconnect"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Machine"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - machines
      x-ms-examples:
        Reconnect a Machine:
          parameters:
            api-version: 2019-08-02
            identity:
              Type: SystemAssigned
            location: eastus2euap
            name: myMachine
            parameters: string
            properties:
              clientPublicKey: string
              physicalLocation: redmond
              vmId: string
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: string
                identity:
                  principalId: string
                  tenantId: string
                  type: SystemAssigned
                location: eastus2euap
                name: string
                properties:
                  agentVersion: null
                  clientPublicKey: string
                  displayName: null
                  errorDetails: null
                  lastStatusChange: null
                  machineFqdn: null
                  osName: null
                  osProfile:
                    computerName: null
                  osVersion: null
                  physicalLocation: string
                  provisioningState: Succeeded
                  status: null
                  vmId: string
                tags: null
                type: Microsoft.HybridCompute/machines
definitions:
  ErrorDetail:
    properties:
      code:
        description: The error's code.
        type: string
      details:
        description: Additional error details.
        items:
          $ref: "#/definitions/ErrorDetail"
        type: array
      message:
        description: A human readable error message.
        type: string
      target:
        description: Indicates which property in the request is responsible for the error.
        type: string
    required:
      - code
      - message
    title: Error details.
    type: object
  ErrorResponse:
    description: Contains details when the response code indicates an error.
    properties:
      error:
        $ref: "#/definitions/ErrorDetail"
        description: The error details.
    required:
      - error
    title: Error response.
    type: object
  Identity:
    properties:
      principalId:
        description: The identity's principal id.
        readOnly: true
        type: string
      tenantId:
        description: The identity's tenant id.
        readOnly: true
        type: string
      type:
        description: The identity type.
        type: string
    title: Managed Identity.
    type: object
  Machine:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Describes a hybrid machine.
    properties:
      properties:
        $ref: "#/definitions/MachineProperties"
        description: Hybrid Compute Machine properties
        x-ms-client-flatten: true
  MachineExtension:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Describes a Machine Extension.
    properties:
      properties:
        $ref: "#/definitions/MachineExtensionProperties"
        description: Describes Machine Extension Properties.
        x-ms-client-flatten: true
  MachineExtensionInstanceView:
    description: Describes the Machine Extension Instance View.
    properties:
      name:
        description: The machine extension name.
        type: string
      status:
        description: Instance view status.
        properties:
          code:
            description: The status code.
            type: string
          displayStatus:
            description: The short localizable label for the status.
            type: string
          level:
            description: The level code.
            enum:
              - Info
              - Warning
              - Error
            type: string
            x-ms-enum:
              modelAsString: false
              name: StatusLevelTypes
          message:
            description: The detailed status message, including for alerts and error messages.
            type: string
          time:
            description: The time of the status.
            format: date-time
            type: string
      type:
        description: Specifies the type of the extension; an example is "CustomScriptExtension".
        type: string
      typeHandlerVersion:
        description: Specifies the version of the script handler.
        type: string
  MachineExtensionProperties:
    description: Describes the properties of a Machine Extension.
    properties:
      autoUpgradeMinorVersion:
        description: Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true.
        type: boolean
      forceUpdateTag:
        description: How the extension handler should be forced to update even if the extension configuration has not changed.
        type: string
      instanceView:
        $ref: "#/definitions/MachineExtensionInstanceView"
        description: The machine extension instance view.
      protectedSettings:
        description: The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all.
        type: object
      provisioningState:
        description: The provisioning state, which only appears in the response.
        readOnly: true
        type: string
      publisher:
        description: The name of the extension handler publisher.
        type: string
      settings:
        description: Json formatted public settings for the extension.
        type: object
      type:
        description: Specifies the type of the extension; an example is "CustomScriptExtension".
        type: string
      typeHandlerVersion:
        description: Specifies the version of the script handler.
        type: string
  MachineExtensionUpdate:
    allOf:
      - $ref: "#/definitions/UpdateResource"
    description: Describes a Machine Extension Update.
    properties:
      properties:
        $ref: "#/definitions/MachineExtensionUpdateProperties"
        description: Describes Machine Extension Update Properties.
        x-ms-client-flatten: true
  MachineExtensionUpdateProperties:
    description: Describes the properties of a Machine Extension.
    properties:
      autoUpgradeMinorVersion:
        description: Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true.
        type: boolean
      forceUpdateTag:
        description: How the extension handler should be forced to update even if the extension configuration has not changed.
        type: string
      protectedSettings:
        description: The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all.
        type: object
      publisher:
        description: The name of the extension handler publisher.
        type: string
      settings:
        description: Json formatted public settings for the extension.
        type: object
      type:
        description: Specifies the type of the extension; an example is "CustomScriptExtension".
        type: string
      typeHandlerVersion:
        description: Specifies the version of the script handler.
        type: string
  MachineExtensionsListResult:
    description: Describes the Machine Extensions List Result.
    properties:
      nextLink:
        description: The uri to fetch the next page of machine extensions. Call ListNext() with this to fetch the next page of extensions.
        type: string
      value:
        description: The list of extensions
        items:
          $ref: "#/definitions/MachineExtension"
        type: array
  MachineListResult:
    description: The List hybrid machine operation response.
    properties:
      nextLink:
        description: The URI to fetch the next page of Machines. Call ListNext() with this URI to fetch the next page of hybrid machines.
        type: string
      value:
        description: The list of hybrid machines.
        items:
          $ref: "#/definitions/Machine"
        type: array
    required:
      - value
  MachineProperties:
    description: Describes the properties of a hybrid machine.
    properties:
      agentVersion:
        description: The hybrid machine agent full version.
        readOnly: true
        type: string
      clientPublicKey:
        description: Public Key that the client provides to be used during initial resource onboarding
        type: string
      displayName:
        description: Specifies the hybrid machine display name.
        readOnly: true
        type: string
      errorDetails:
        description: Details about the error state.
        items:
          $ref: "#/definitions/ErrorDetail"
        readOnly: true
        type: array
      extensions:
        description: Machine Extensions information
        items:
          $ref: "#/definitions/MachineExtensionInstanceView"
        type: array
      lastStatusChange:
        description: The time of the last status change.
        format: date-time
        readOnly: true
        type: string
      machineFqdn:
        description: Specifies the hybrid machine FQDN.
        readOnly: true
        type: string
      osName:
        description: The Operating System running on the hybrid machine.
        type: string
      osProfile:
        $ref: "#/definitions/OSProfile"
        description: Specifies the operating system settings for the hybrid machine.
      osVersion:
        description: The version of Operating System running on the hybrid machine.
        type: string
      physicalLocation:
        description: Resource's Physical Location
        type: string
      provisioningState:
        description: The provisioning state, which only appears in the response.
        readOnly: true
        type: string
      status:
        description: The status of the hybrid machine agent.
        enum:
          - Connected
          - Disconnected
          - Error
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: StatusTypes
      vmId:
        description: Specifies the hybrid machine unique ID.
        readOnly: true
        type: string
  MachineReconnect:
    description: Describes a hybrid machine reconnect.
    properties:
      properties:
        $ref: "#/definitions/MachineReconnectProperties"
        description: Hybrid Compute Machine properties
        x-ms-client-flatten: true
  MachineReconnectProperties:
    description: Describes the properties required to reconnect a hybrid machine.
    properties:
      clientPublicKey:
        description: Public Key that the client provides to be used during initial resource onboarding.
        type: string
      vmId:
        description: Specifies the hybrid machine unique ID.
        type: string
  MachineUpdate:
    allOf:
      - $ref: "#/definitions/UpdateResource"
    description: Describes a hybrid machine Update.
    properties:
      identity:
        $ref: "#/definitions/Identity"
        description: Hybrid Compute Machine Managed Identity
        x-ms-client-flatten: true
      properties:
        $ref: "#/definitions/MachineUpdateProperties"
        description: Hybrid Compute Machine properties
        x-ms-client-flatten: true
  MachineUpdateProperties:
    description: Describes the ARM updatable properties of a hybrid machine.
    properties:
      physicalLocation:
        description: Resource's Physical Location
        type: string
  OSProfile:
    description: Specifies the operating system settings for the hybrid machine.
    properties:
      computerName:
        description: Specifies the host OS name of the hybrid machine.
        readOnly: true
        type: string
    readOnly: true
  OperationListResult:
    description: The List Compute Operation operation response.
    properties:
      value:
        description: The list of compute operations
        items:
          $ref: "#/definitions/OperationValue"
        readOnly: true
        type: array
  OperationValue:
    description: Describes the properties of a Compute Operation value.
    properties:
      display:
        $ref: "#/definitions/OperationValueDisplay"
        description: Display properties
        x-ms-client-flatten: true
      name:
        description: The name of the compute operation.
        readOnly: true
        type: string
      origin:
        description: The origin of the compute operation.
        readOnly: true
        type: string
  OperationValueDisplay:
    description: Describes the properties of a Hybrid Compute Operation Value Display.
    properties:
      description:
        description: The description of the operation.
        readOnly: true
        type: string
      operation:
        description: The display name of the compute operation.
        readOnly: true
        type: string
      provider:
        description: The resource provider for the operation.
        readOnly: true
        type: string
      resource:
        description: The display name of the resource the operation applies to.
        readOnly: true
        type: string
  Resource:
    description: The Resource model definition.
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      identity:
        $ref: "#/definitions/Identity"
        description: Hybrid Compute Machine Managed Identity
        x-ms-client-flatten: true
      location:
        description: Resource location
        type: string
        x-ms-mutability:
          - create
          - read
      name:
        description: Resource name
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  UpdateResource:
    description: The Update Resource model definition.
    properties:
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
