swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: RecoveryServicesBackupClient
  version: 2019-06-15
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservicesbackup/resource-manager/Microsoft.RecoveryServices/stable/2019-06-15/bms.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: recoveryservicesbackup-bms
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account.
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersion:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupName:
    description: The name of the resource group where the recovery services vault is present.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionId:
    description: The subscription Id.
    in: path
    name: subscriptionId
    required: true
    type: string
  VaultName:
    description: The name of the recovery services vault.
    in: path
    name: vaultName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}":
    delete:
      description: "Used to disable backup of an item within a container. This is an asynchronous operation. To know the status of the\r

        request, call the GetItemOperationResult API."
      operationId: ProtectedItems_Delete
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Fabric name associated with the backed up item.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with the backed up item.
          in: path
          name: containerName
          required: true
          type: string
        - description: Backed up item to be deleted.
          in: path
          name: protectedItemName
          required: true
          type: string
      responses:
        "202":
          description: Accepted
        "204":
          description: NoContent
      tags:
        - ProtectedItems
      x-ms-examples:
        Delete Protection from Azure Virtual Machine:
          parameters:
            api-version: 2019-06-15
            containerName: iaasvmcontainer;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1
            fabricName: Azure
            protectedItemName: vm;iaasvmcontainerv2;pysdktestrg;pysdktestv2vm1
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupOperations/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupOperationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Retry-After: 60
            "204": {}
    get:
      description: "Provides the details of the backed up item. This is an asynchronous operation. To know the status of the operation,\r

        call the GetItemOperationResult API."
      operationId: ProtectedItems_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Fabric name associated with the backed up item.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with the backed up item.
          in: path
          name: containerName
          required: true
          type: string
        - description: Backed up item name whose details are to be fetched.
          in: path
          name: protectedItemName
          required: true
          type: string
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProtectedItemResource"
      tags:
        - ProtectedItems
      x-ms-examples:
        Get Protected Classic Virtual Machine Details:
          parameters:
            api-version: 2019-06-15
            containerName: iaasvmcontainer;iaasvmcontainer;iaasvm-rg;iaasvm-1
            fabricName: Azure
            protectedItemName: vm;iaasvmcontainer;iaasvm-rg;iaasvm-1
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainer;iaasvm-rg;iaasvm-1/protectedItems/VM;iaasvmcontainer;iaasvm-rg;iaasvm-1
                name: VM;iaasvmcontainer;iaasvm-rg;iaasvm-1
                properties:
                  backupManagementType: AzureIaasVM
                  containerName: iaasvmcontainer;iaasvm-rg;iaasvm-1
                  friendlyName: iaasvm-1
                  healthStatus: Passed
                  lastBackupStatus: Completed
                  lastBackupTime: 2018-01-22T12:25:32.048723Z
                  lastRecoveryPoint: 2017-11-22T12:25:32.048723Z
                  policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupPolicies/testPolicy1
                  protectedItemDataId: "636482643132986882"
                  protectedItemType: Microsoft.ClassicCompute/virtualMachines
                  protectionState: Protected
                  protectionStatus: Healthy
                  sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.ClassicCompute/virtualMachines/iaasvm-1
                  virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.ClassicCompute/virtualMachines/iaasvm-1
                  workloadType: VM
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems
              headers: {}
        Get Protected Virtual Machine Details:
          parameters:
            api-version: 2019-06-15
            containerName: iaasvmcontainer;iaasvmcontainerv2;iaasvm-rg;iaasvm-1
            fabricName: Azure
            protectedItemName: vm;iaasvmcontainerv2;iaasvm-rg;iaasvm-1
            resourceGroupName: PythonSDKBackupTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: PySDKBackupTestRsVault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;iaasvm-rg;iaasvm-1/protectedItems/VM;iaasvmcontainerv2;iaasvm-rg;iaasvm-1
                name: VM;iaasvmcontainerv2;iaasvm-rg;iaasvm-1
                properties:
                  backupManagementType: AzureIaasVM
                  containerName: iaasvmcontainerv2;iaasvm-rg;iaasvm-1
                  friendlyName: iaasvm-1
                  healthStatus: Passed
                  lastBackupStatus: Completed
                  lastBackupTime: 2018-01-22T12:25:32.048723Z
                  lastRecoveryPoint: 2017-11-22T12:25:32.048723Z
                  policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupPolicies/testPolicy1
                  protectedItemDataId: "636482643132986882"
                  protectedItemType: Microsoft.Compute/virtualMachines
                  protectionState: Protected
                  protectionStatus: Healthy
                  sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.Compute/virtualMachines/iaasvm-1
                  virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.Compute/virtualMachines/iaasvm-1
                  workloadType: VM
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems
              headers: {}
      x-ms-odata: "#/definitions/GetProtectedItemQueryObject"
    put:
      description: "Enables backup of an item or to modifies the backup policy information of an already backed up item. This is an\r

        asynchronous operation. To know the status of the operation, call the GetItemOperationResult API."
      operationId: ProtectedItems_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Fabric name associated with the backup item.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with the backup item.
          in: path
          name: containerName
          required: true
          type: string
        - description: Item name to be backed up.
          in: path
          name: protectedItemName
          required: true
          type: string
        - description: resource backed up item
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ProtectedItemResource"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProtectedItemResource"
        "202":
          description: Accepted
      tags:
        - ProtectedItems
      x-ms-examples:
        Enable Protection on Azure IaasVm:
          parameters:
            api-version: 2019-06-15
            containerName: IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            fabricName: Azure
            parameters:
              properties:
                policyId: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/DefaultPolicy
                protectedItemType: Microsoft.Compute/virtualMachines
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
            protectedItemName: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                name: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                properties:
                  backupManagementType: AzureIaasVM
                  containerName: iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                  friendlyName: netvmtestv2vm1
                  healthStatus: Passed
                  lastBackupStatus: Completed
                  lastBackupTime: 2018-01-22T12:25:32.048723Z
                  lastRecoveryPoint: null
                  policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupPolicies/testPolicy1
                  protectedItemDataId: "636482643132986882"
                  protectedItemType: Microsoft.Compute/virtualMachines
                  protectionState: Protected
                  protectionStatus: Healthy
                  sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                  virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                  workloadType: VM
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Retry-After: 60
        Stop Protection with retain data on Azure IaasVm:
          parameters:
            api-version: 2019-06-15
            containerName: IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            fabricName: Azure
            parameters:
              properties:
                protectedItemType: Microsoft.Compute/virtualMachines
                protectionState: ProtectionStopped
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
            protectedItemName: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                name: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                properties:
                  backupManagementType: AzureIaasVM
                  containerName: iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                  friendlyName: netvmtestv2vm1
                  healthStatus: Passed
                  lastBackupStatus: Completed
                  lastBackupTime: 2018-01-22T12:25:32.048723Z
                  lastRecoveryPoint: null
                  policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupPolicies/testPolicy1
                  protectedItemDataId: "636482643132986882"
                  protectedItemType: Microsoft.Compute/virtualMachines
                  protectionState: ProtectionStopped
                  protectionStatus: Healthy
                  sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                  virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                  workloadType: VM
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Retry-After: 60
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/operationResults/{operationId}":
    get:
      description: Fetches the result of any operation on the backup item.
      operationId: ProtectedItemOperationResults_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Fabric name associated with the backup item.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with the backup item.
          in: path
          name: containerName
          required: true
          type: string
        - description: Backup item name whose details are to be fetched.
          in: path
          name: protectedItemName
          required: true
          type: string
        - description: OperationID which represents the operation whose result needs to be fetched.
          in: path
          name: operationId
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProtectedItemResource"
        "202":
          description: Accepted
        "204":
          description: NoContent
      tags:
        - ProtectedItemOperationResults
      x-ms-examples:
        Get Operation Results of Protected Vm:
          parameters:
            api-version: 2019-06-15
            containerName: IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            fabricName: Azure
            operationId: 00000000-0000-0000-0000-000000000000
            protectedItemName: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                name: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                properties:
                  backupManagementType: AzureIaasVM
                  containerName: iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
                  friendlyName: netvmtestv2vm1
                  healthStatus: Passed
                  lastBackupStatus: Completed
                  lastBackupTime: 2018-01-22T12:25:32.048723Z
                  lastRecoveryPoint: null
                  policyId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/PythonSDKBackupTestRg/providers/Microsoft.RecoveryServices/vaults/PySDKBackupTestRsVault/backupPolicies/testPolicy1
                  protectedItemDataId: "636482643132986882"
                  protectedItemType: Microsoft.Compute/virtualMachines
                  protectionState: Protected
                  protectionStatus: Healthy
                  sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                  virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                  workloadType: VM
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Retry-After: 60
            "204": {}
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints":
    get:
      description: Lists the backup copies for the backed up item.
      operationId: RecoveryPoints_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Fabric name associated with the backed up item.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with the backed up item.
          in: path
          name: containerName
          required: true
          type: string
        - description: Backed up item whose backup copies are to be fetched.
          in: path
          name: protectedItemName
          required: true
          type: string
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/RecoveryPointResourceList"
      tags:
        - RecoveryPoints
      x-ms-examples:
        Get Protected Azure Vm Recovery Points:
          parameters:
            api-version: 2019-06-15
            containerName: IaasVMContainer;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall
            fabricName: Azure
            protectedItemName: VM;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall
            resourceGroupName: rshhtestmdvmrg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: rshvault
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rshhtestmdvmrg/providers/Microsoft.RecoveryServices/vaults/rshvault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/protectedItems/VM;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/recoveryPoints/22244821112382
                    name: "22244821112382"
                    properties:
                      isInstantIlrSessionActive: false
                      isManagedVirtualMachine: true
                      isSourceVMEncrypted: false
                      objectType: IaasVMRecoveryPoint
                      originalStorageAccountOption: false
                      recoveryPointAdditionalInfo: ""
                      recoveryPointTierDetails:
                        - status: Valid
                          type: InstantRP
                        - status: Valid
                          type: HardenedRP
                      recoveryPointTime: 2017-12-21T22:48:25.4353958Z
                      recoveryPointType: CrashConsistent
                      sourceVMStorageType: NormalStorage
                      virtualMachineSize: Standard_D1
                    type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rshhtestmdvmrg/providers/Microsoft.RecoveryServices/vaults/rshvault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/protectedItems/VM;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/recoveryPoints/24977149827250
                    name: "24977149827250"
                    properties:
                      isInstantIlrSessionActive: false
                      isManagedVirtualMachine: true
                      isSourceVMEncrypted: false
                      objectType: IaasVMRecoveryPoint
                      originalStorageAccountOption: false
                      recoveryPointAdditionalInfo: ""
                      recoveryPointTierDetails:
                        - status: Valid
                          type: InstantRP
                        - status: Valid
                          type: HardenedRP
                      recoveryPointTime: 2017-12-20T22:49:44.3317945Z
                      recoveryPointType: CrashConsistent
                      sourceVMStorageType: NormalStorage
                      virtualMachineSize: Standard_D1
                    type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints
      x-ms-odata: "#/definitions/BMSRPQueryObject"
      x-ms-pageable:
        nextLinkName: nextLink
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}":
    get:
      description: "Provides the information of the backed up data identified using RecoveryPointID. This is an asynchronous operation.\r

        To know the status of the operation, call the GetProtectedItemOperationResult API."
      operationId: RecoveryPoints_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Fabric name associated with backed up item.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with backed up item.
          in: path
          name: containerName
          required: true
          type: string
        - description: Backed up item name whose backup data needs to be fetched.
          in: path
          name: protectedItemName
          required: true
          type: string
        - description: RecoveryPointID represents the backed up data to be fetched.
          in: path
          name: recoveryPointId
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/RecoveryPointResource"
      tags:
        - RecoveryPoints
      x-ms-examples:
        Get Azure Vm Recovery Point Details:
          parameters:
            api-version: 2019-06-15
            containerName: IaasVMContainer;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall
            fabricName: Azure
            protectedItemName: VM;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall
            recoveryPointId: "26083826328862"
            resourceGroupName: rshhtestmdvmrg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: rshvault
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rshhtestmdvmrg/providers/Microsoft.RecoveryServices/vaults/rshvault/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/protectedItems/VM;iaasvmcontainerv2;rshhtestmdvmrg;rshmdvmsmall/recoveryPoints/26083826328862
                name: "26083826328862"
                properties:
                  isInstantIlrSessionActive: false
                  isManagedVirtualMachine: true
                  isSourceVMEncrypted: false
                  objectType: IaasVMRecoveryPoint
                  originalStorageAccountOption: false
                  recoveryPointAdditionalInfo: ""
                  recoveryPointTierDetails:
                    - status: Valid
                      type: HardenedRP
                  recoveryPointTime: 2017-11-22T22:32:46.6088472Z
                  recoveryPointType: CrashConsistent
                  sourceVMStorageType: NormalStorage
                  virtualMachineSize: Standard_D1
                type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/restore":
    post:
      description: "Restores the specified backed up data. This is an asynchronous operation. To know the status of this API call, use\r

        GetProtectedItemOperationResult API."
      operationId: Restores_Trigger
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Fabric name associated with the backed up items.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Container name associated with the backed up items.
          in: path
          name: containerName
          required: true
          type: string
        - description: Backed up item to be restored.
          in: path
          name: protectedItemName
          required: true
          type: string
        - description: Recovery point ID which represents the backed up data to be restored.
          in: path
          name: recoveryPointId
          required: true
          type: string
        - description: resource restore request
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/RestoreRequestResource"
      responses:
        "202":
          description: Accepted
      tags:
        - Restores
      x-ms-examples:
        Restore Disks:
          parameters:
            api-version: 2019-06-15
            containerName: IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            fabricName: Azure
            parameters:
              properties:
                createNewCloudService: true
                encryptionDetails:
                  encryptionEnabled: false
                objectType: IaasVMRestoreRequest
                originalStorageAccountOption: false
                recoveryPointId: "348916168024334"
                recoveryType: RestoreDisks
                region: southeastasia
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                storageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testingRg/providers/Microsoft.Storage/storageAccounts/testAccount
            protectedItemName: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            recoveryPointId: "348916168024334"
            resourceGroupName: netsdktestrg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasVMContainerV2;netsdktestrg;netvmtestv2vm1/protectedItems/vm;iaasVMContainerV2;netsdktestrg;netvmtestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasVMContainerV2;netsdktestrg;netvmtestv2vm1/protectedItems/vm;iaasVMContainerV2;netsdktestrg;netvmtestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-12-01
                Retry-After: 60
        Restore to New Azure IaasVm:
          parameters:
            api-version: 2019-06-15
            containerName: IaasVMContainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            fabricName: Azure
            parameters:
              properties:
                createNewCloudService: false
                encryptionDetails:
                  encryptionEnabled: false
                objectType: IaasVMRestoreRequest
                originalStorageAccountOption: false
                recoveryPointId: "348916168024334"
                recoveryType: AlternateLocation
                region: southeastasia
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                storageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.Storage/storageAccounts/testingAccount
                subnetId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.Network/virtualNetworks/testNet/subnets/default
                targetResourceGroupId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg2
                targetVirtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg2/providers/Microsoft.Compute/virtualmachines/RSMDALRVM981435
                virtualNetworkId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testRg/providers/Microsoft.Network/virtualNetworks/testNet
            protectedItemName: VM;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1
            recoveryPointId: "348916168024334"
            resourceGroupName: netsdktestrg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/vm;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationsStatus/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.RecoveryServices/vaults/testVault/backupFabrics/Azure/protectionContainers/iaasvmcontainer;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/protectedItems/vm;iaasvmcontainerv2;netsdktestrg;netvmtestv2vm1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Retry-After: 60
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs":
    get:
      description: Provides a pageable list of jobs.
      operationId: BackupJobs_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
        - description: skipToken Filter.
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/JobResourceList"
      tags:
        - BackupJobs
      x-ms-examples:
        List All Jobs:
          parameters:
            api-version: 2019-06-15
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                value:
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                    name: 00000000-0000-0000-0000-000000000000
                    properties:
                      activityId: 00000000-0000-0000-0000-000000000000
                      backupManagementType: AzureIaasVM
                      duration: PT12.4272909S
                      entityFriendlyName: testvm
                      jobType: AzureIaaSVMJob
                      operation: Backup
                      startTime: 2017-08-03T05:31:07.014604Z
                      status: InProgress
                      virtualMachineVersion: Compute
                    type: Microsoft.RecoveryServices/vaults/backupJobs
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                    name: 00000000-0000-0000-0000-000000000000
                    properties:
                      activityId: 00000000-0000-0000-0000-000000000000
                      backupManagementType: AzureIaasVM
                      duration: PT31.3066291S
                      endTime: 2017-08-03T05:31:03.7553376Z
                      entityFriendlyName: testvm
                      jobType: AzureIaaSVMJob
                      operation: ConfigureBackup
                      startTime: 2017-08-03T05:30:32.4487085Z
                      status: Completed
                      virtualMachineVersion: Compute
                    type: Microsoft.RecoveryServices/vaults/backupJobs
        List Jobs With Filters:
          parameters:
            $filter: startTime eq '2016-01-01 00:00:00 AM' and endTime eq '2017-11-29 00:00:00 AM' and operation eq 'Backup' and backupManagementType eq 'AzureIaasVM' and status eq 'InProgress'
            api-version: 2019-06-15
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                value:
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                    name: 00000000-0000-0000-0000-000000000000
                    properties:
                      activityId: 00000000-0000-0000-0000-000000000000
                      backupManagementType: AzureIaasVM
                      duration: PT12.4272909S
                      entityFriendlyName: testvm
                      jobType: AzureIaaSVMJob
                      operation: Backup
                      startTime: 2017-08-03T05:31:07.014604Z
                      status: InProgress
                      virtualMachineVersion: Compute
                    type: Microsoft.RecoveryServices/vaults/backupJobs
        List Jobs With Time Filter:
          parameters:
            $filter: startTime eq '2016-01-01 00:00:00 AM' and endTime eq '2017-11-29 00:00:00 AM'
            api-version: 2019-06-15
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs?api-version=2017-07-01&%24filter=startTime+eq+%272016-01-01+00%3a00%3a00+AM%27+and+endTime+eq+%272017-11-29+00%3a00%3a00+AM%27&%24skiptoken=%3c%3fxml+version%3d%221.0%22+encoding%3d%22utf-16%22%3f%3e%0d%0a%3cContinuationToken%3e%0d%0a++%3cContinuationToken%3e%0d%0a++++%3cVersion%3e2.0%3c%2fVersion%3e%0d%0a++++%3cType%3eTable%3c%2fType%3e%0d%0a++++%3cNextPartitionKey%3e1!28!NzI5MTk0OTM1MDkwNjEwODQzMA--%3c%2fNextPartitionKey%3e%0d%0a++++%3cNextRowKey%3e1!108!am9ic3N0YXJ0dGltZWluZGV4XzBfMjUxODkxNDYzNTI2NjE5Nzg5OF8wXzYwOWZkM2JmLTU4MzctNDFkYi1iMjExLTY1MzliNDNlZjM1OA--%3c%2fNextRowKey%3e%0d%0a++++%3cTargetLocation%3ePrimary%3c%2fTargetLocation%3e%0d%0a++%3c%2fContinuationToken%3e%0d%0a%3c%2fContinuationToken%3e
                value:
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                    name: 00000000-0000-0000-0000-000000000000
                    properties:
                      activityId: 00000000-0000-0000-0000-000000000000
                      backupManagementType: AzureIaasVM
                      duration: PT12.4272909S
                      entityFriendlyName: testvm
                      jobType: AzureIaaSVMJob
                      operation: Backup
                      startTime: 2017-08-03T05:31:07.014604Z
                      status: InProgress
                      virtualMachineVersion: Compute
                    type: Microsoft.RecoveryServices/vaults/backupJobs
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                    name: 00000000-0000-0000-0000-000000000000
                    properties:
                      activityId: 00000000-0000-0000-0000-000000000000
                      backupManagementType: AzureIaasVM
                      duration: PT31.3066291S
                      endTime: 2017-08-03T05:31:03.7553376Z
                      entityFriendlyName: testvm
                      jobType: AzureIaaSVMJob
                      operation: ConfigureBackup
                      startTime: 2017-08-03T05:30:32.4487085Z
                      status: Completed
                      virtualMachineVersion: Compute
                    type: Microsoft.RecoveryServices/vaults/backupJobs
      x-ms-odata: "#/definitions/JobQueryObject"
      x-ms-pageable:
        nextLinkName: nextLink
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/operationResults/{operationId}":
    get:
      description: "Gets the operation result of operation triggered by Export Jobs API. If the operation is successful, then it also\r

        contains URL of a Blob and a SAS key to access the same. The blob contains exported jobs in JSON serialized format."
      operationId: ExportJobsOperationResults_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: OperationID which represents the export job.
          in: path
          name: operationId
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationResultInfoBaseResource"
        "202":
          description: Accepted
          schema:
            $ref: "#/definitions/OperationResultInfoBaseResource"
      tags:
        - ExportJobsOperationResults
      x-ms-examples:
        Export Jobs Operation Results:
          parameters:
            api-version: 2019-06-15
            operationId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                headers: {}
                operation:
                  blobSasKey: ?sv=2014-02-14&sr=b&sig=<sas_signature>&st=2017-11-29T07%3A53%3A34Z&se=2017-11-29T08%3A03%3A34Z&sp=r
                  blobUrl: https://azureblob.blob.core.windows.net/reportcontainer/exportjobsreportc00000000-0000-0000-0000-000000000000
                  objectType: ExportJobsOperationResultInfo
              headers: {}
            "202":
              body:
                headers:
                  Location:
                    - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                  Retry-After:
                    - "60"
                operation:
                  objectType: ExportJobsOperationResultInfo
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Retry-After: 60
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}":
    get:
      description: Gets extended information associated with the job.
      operationId: JobDetails_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Name of the job whose details are to be fetched.
          in: path
          name: jobName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/JobResource"
      tags:
        - JobDetails
      x-ms-examples:
        Get Job Details:
          parameters:
            api-version: 2019-06-15
            jobName: 00000000-0000-0000-0000-000000000000
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000
                name: 00000000-0000-0000-0000-000000000000
                properties:
                  activityId: 00000000-0000-0000-0000-000000000000
                  backupManagementType: AzureIaasVM
                  duration: PT9.8782791S
                  entityFriendlyName: testvm
                  extendedInfo:
                    propertyBag:
                      VM Name: testvm
                    tasksList:
                      - duration: PT0S
                        status: InProgress
                        taskId: Take Snapshot
                      - duration: PT0S
                        status: NotStarted
                        taskId: Transfer data to vault
                  jobType: AzureIaaSVMJob
                  operation: Backup
                  startTime: 2017-08-03T05:31:07.014604Z
                  status: InProgress
                  virtualMachineVersion: Compute
                type: Microsoft.RecoveryServices/vaults/backupJobs
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/cancel":
    post:
      description: "Cancels a job. This is an asynchronous operation. To know the status of the cancellation, call\r

        GetCancelOperationResult API."
      operationId: JobCancellations_Trigger
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Name of the job to cancel.
          in: path
          name: jobName
          required: true
          type: string
      responses:
        "202":
          description: Accepted
      tags:
        - JobCancellations
      x-ms-examples:
        Cancel Job:
          parameters:
            api-version: 2019-06-15
            jobName: 00000000-0000-0000-0000-000000000000
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Retry-After: 60
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobs/{jobName}/operationResults/{operationId}":
    get:
      description: Fetches the result of any operation.
      operationId: JobOperationResults_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Job name whose operation result has to be fetched.
          in: path
          name: jobName
          required: true
          type: string
        - description: OperationID which represents the operation whose result has to be fetched.
          in: path
          name: operationId
          required: true
          type: string
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: NoContent
      tags:
        - JobOperationResults
      x-ms-examples:
        Cancel Job Operation Result:
          parameters:
            api-version: 2019-06-15
            jobName: 00000000-0000-0000-0000-000000000000
            operationId: 00000000-0000-0000-0000-000000000000
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200": {}
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/00000000-0000-0000-0000-000000000000/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Retry-After: 60
            "204": {}
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupJobsExport":
    post:
      description: Triggers export of jobs specified by filters and returns an OperationID to track.
      operationId: Jobs_Export
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "202":
          description: Accepted
      tags:
        - Jobs
      x-ms-examples:
        Export Jobs:
          parameters:
            api-version: 2019-06-15
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupJobs/operationResults/00000000-0000-0000-0000-000000000000?api-version=2017-07-01
                Retry-After: 60
      x-ms-odata: "#/definitions/JobQueryObject"
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies":
    get:
      description: "Lists of backup policies associated with Recovery Services Vault. API provides pagination parameters to fetch\r

        scoped results."
      operationId: BackupPolicies_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProtectionPolicyResourceList"
      tags:
        - BackupPolicies
      x-ms-examples:
        List protection policies with backupManagementType filter as AzureIaasVm:
          parameters:
            $filter: backupManagementType eq 'AzureIaasVM'
            api-version: 2019-06-15
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                value:
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/DefaultPolicy
                    name: DefaultPolicy
                    properties:
                      backupManagementType: AzureIaasVM
                      protectedItemsCount: 0
                      retentionPolicy:
                        dailySchedule:
                          retentionDuration:
                            count: 30
                            durationType: Days
                          retentionTimes:
                            - 2017-12-05T19:00:00Z
                        retentionPolicyType: LongTermRetentionPolicy
                      schedulePolicy:
                        schedulePolicyType: SimpleSchedulePolicy
                        scheduleRunFrequency: Daily
                        scheduleRunTimes:
                          - 2017-12-05T19:00:00Z
                        scheduleWeeklyFrequency: 0
                    type: Microsoft.RecoveryServices/vaults/backupPolicies
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                    name: testPolicy1
                    properties:
                      backupManagementType: AzureIaasVM
                      protectedItemsCount: 0
                      retentionPolicy:
                        dailySchedule:
                          retentionDuration:
                            count: 1
                            durationType: Days
                          retentionTimes:
                            - 2018-01-24T02:00:00Z
                        retentionPolicyType: LongTermRetentionPolicy
                      schedulePolicy:
                        schedulePolicyType: SimpleSchedulePolicy
                        scheduleRunFrequency: Daily
                        scheduleRunTimes:
                          - 2018-01-24T02:00:00Z
                        scheduleWeeklyFrequency: 0
                      timeZone: Pacific Standard Time
                    type: Microsoft.RecoveryServices/vaults/backupPolicies
        List protection policies with backupManagementType filter as AzureWorkload:
          parameters:
            $filter: backupManagementType eq 'AzureWorkload'
            api-version: 2019-06-15
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                value:
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/HourlyLogBackup
                    name: HourlyLogBackup
                    properties:
                      backupManagementType: AzureWorkload
                      protectedItemsCount: 0
                      settings:
                        issqlcompression: false
                        timeZone: UTC
                      subProtectionPolicy:
                        - policyType: Full
                          retentionPolicy:
                            dailySchedule:
                              retentionDuration:
                                count: 30
                                durationType: Days
                              retentionTimes:
                                - 2017-12-05T19:00:00Z
                            retentionPolicyType: LongTermRetentionPolicy
                          schedulePolicy:
                            schedulePolicyType: SimpleSchedulePolicy
                            scheduleRunFrequency: Daily
                            scheduleRunTimes:
                              - 2017-12-05T19:00:00Z
                            scheduleWeeklyFrequency: 0
                        - policyType: Log
                          retentionPolicy:
                            retentionDuration:
                              count: 30
                              durationType: Days
                            retentionPolicyType: SimpleRetentionPolicy
                          schedulePolicy:
                            scheduleFrequencyInMins: 60
                            schedulePolicyType: LogSchedulePolicy
                      workLoadType: SQLDataBase
                    type: Microsoft.RecoveryServices/vaults/backupPolicies
      x-ms-odata: "#/definitions/ProtectionPolicyQueryObject"
      x-ms-pageable:
        nextLinkName: nextLink
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}":
    get:
      description: "Provides the details of the backup policies associated to Recovery Services Vault. This is an asynchronous\r

        operation. Status of the operation can be fetched using GetPolicyOperationResult API."
      operationId: ProtectionPolicies_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Backup policy information to be fetched.
          in: path
          name: policyName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProtectionPolicyResource"
      tags:
        - ProtectionPolicies
      x-ms-examples:
        Get Azure IaasVm Protection Policy Details:
          parameters:
            api-version: 2019-06-15
            policyName: testPolicy1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                name: testPolicy1
                properties:
                  backupManagementType: AzureIaasVM
                  protectedItemsCount: 0
                  retentionPolicy:
                    dailySchedule:
                      retentionDuration:
                        count: 1
                        durationType: Days
                      retentionTimes:
                        - 2018-01-24T02:00:00Z
                    retentionPolicyType: LongTermRetentionPolicy
                  schedulePolicy:
                    schedulePolicyType: SimpleSchedulePolicy
                    scheduleRunFrequency: Daily
                    scheduleRunTimes:
                      - 2018-01-24T02:00:00Z
                    scheduleWeeklyFrequency: 0
                  timeZone: Pacific Standard Time
                type: Microsoft.RecoveryServices/vaults/backupPolicies
    put:
      description: "Creates or modifies a backup policy. This is an asynchronous operation. Status of the operation can be fetched\r

        using GetPolicyOperationResult API."
      operationId: ProtectionPolicies_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Backup policy to be created.
          in: path
          name: policyName
          required: true
          type: string
        - description: resource backup policy
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ProtectionPolicyResource"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProtectionPolicyResource"
        "202":
          description: Accepted
      tags:
        - ProtectionPolicies
      x-ms-examples:
        Create or Update Full Azure Vm Protection Policy:
          parameters:
            api-version: 2019-06-15
            parameters:
              properties:
                backupManagementType: AzureIaasVM
                retentionPolicy:
                  monthlySchedule:
                    retentionDuration:
                      count: 2
                      durationType: Months
                    retentionScheduleFormatType: Weekly
                    retentionScheduleWeekly:
                      daysOfTheWeek:
                        - Wednesday
                        - Thursday
                      weeksOfTheMonth:
                        - First
                        - Third
                    retentionTimes:
                      - 2018-01-24T10:00:00Z
                  retentionPolicyType: LongTermRetentionPolicy
                  weeklySchedule:
                    daysOfTheWeek:
                      - Monday
                      - Wednesday
                      - Thursday
                    retentionDuration:
                      count: 1
                      durationType: Weeks
                    retentionTimes:
                      - 2018-01-24T10:00:00Z
                  yearlySchedule:
                    monthsOfYear:
                      - February
                      - November
                    retentionDuration:
                      count: 4
                      durationType: Years
                    retentionScheduleFormatType: Weekly
                    retentionScheduleWeekly:
                      daysOfTheWeek:
                        - Monday
                        - Thursday
                      weeksOfTheMonth:
                        - Fourth
                    retentionTimes:
                      - 2018-01-24T10:00:00Z
                schedulePolicy:
                  schedulePolicyType: SimpleSchedulePolicy
                  scheduleRunDays:
                    - Monday
                    - Wednesday
                    - Thursday
                  scheduleRunFrequency: Weekly
                  scheduleRunTimes:
                    - 2018-01-24T10:00:00Z
                timeZone: Pacific Standard Time
            policyName: testPolicy1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                name: testPolicy1
                properties:
                  backupManagementType: AzureIaasVM
                  protectedItemsCount: 0
                  retentionPolicy:
                    monthlySchedule:
                      retentionDuration:
                        count: 2
                        durationType: Months
                      retentionScheduleFormatType: Weekly
                      retentionScheduleWeekly:
                        daysOfTheWeek:
                          - Wednesday
                          - Thursday
                        weeksOfTheMonth:
                          - First
                          - Third
                      retentionTimes:
                        - 2018-01-24T10:00:00Z
                    retentionPolicyType: LongTermRetentionPolicy
                    weeklySchedule:
                      daysOfTheWeek:
                        - Monday
                        - Wednesday
                        - Thursday
                      retentionDuration:
                        count: 1
                        durationType: Weeks
                      retentionTimes:
                        - 2018-01-24T10:00:00Z
                    yearlySchedule:
                      monthsOfYear:
                        - February
                        - November
                      retentionDuration:
                        count: 4
                        durationType: Years
                      retentionScheduleFormatType: Weekly
                      retentionScheduleWeekly:
                        daysOfTheWeek:
                          - Monday
                          - Thursday
                        weeksOfTheMonth:
                          - Fourth
                      retentionTimes:
                        - 2018-01-24T10:00:00Z
                  schedulePolicy:
                    schedulePolicyType: SimpleSchedulePolicy
                    scheduleRunDays:
                      - Monday
                      - Wednesday
                      - Thursday
                    scheduleRunFrequency: Weekly
                    scheduleRunTimes:
                      - 2018-01-24T10:00:00Z
                    scheduleWeeklyFrequency: 0
                  timeZone: Pacific Standard Time
                type: Microsoft.RecoveryServices/vaults/backupPolicies
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1/operations/00000000-0000-0000-0000-000000000000?api-version=2016-06-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-06-01
                Retry-After: 60
        Create or Update Full Azure Workload Protection Policy:
          parameters:
            api-version: 2019-06-15
            parameters:
              properties:
                backupManagementType: AzureWorkload
                settings:
                  issqlcompression: false
                  timeZone: Pacific Standard Time
                subProtectionPolicy:
                  - policyType: Full
                    retentionPolicy:
                      monthlySchedule:
                        retentionDuration:
                          count: 1
                          durationType: Months
                        retentionScheduleFormatType: Weekly
                        retentionScheduleWeekly:
                          daysOfTheWeek:
                            - Sunday
                          weeksOfTheMonth:
                            - Second
                        retentionTimes:
                          - 2018-01-24T10:00:00Z
                      retentionPolicyType: LongTermRetentionPolicy
                      weeklySchedule:
                        daysOfTheWeek:
                          - Sunday
                          - Tuesday
                        retentionDuration:
                          count: 2
                          durationType: Weeks
                        retentionTimes:
                          - 2018-01-24T10:00:00Z
                      yearlySchedule:
                        monthsOfYear:
                          - January
                          - June
                          - December
                        retentionDuration:
                          count: 1
                          durationType: Years
                        retentionScheduleFormatType: Weekly
                        retentionScheduleWeekly:
                          daysOfTheWeek:
                            - Sunday
                          weeksOfTheMonth:
                            - Last
                        retentionTimes:
                          - 2018-01-24T10:00:00Z
                    schedulePolicy:
                      schedulePolicyType: SimpleSchedulePolicy
                      scheduleRunDays:
                        - Sunday
                        - Tuesday
                      scheduleRunFrequency: Weekly
                      scheduleRunTimes:
                        - 2018-01-24T10:00:00Z
                  - policyType: Differential
                    retentionPolicy:
                      retentionDuration:
                        count: 8
                        durationType: Days
                      retentionPolicyType: SimpleRetentionPolicy
                    schedulePolicy:
                      schedulePolicyType: SimpleSchedulePolicy
                      scheduleRunDays:
                        - Friday
                      scheduleRunFrequency: Weekly
                      scheduleRunTimes:
                        - 2018-01-24T10:00:00Z
                  - policyType: Log
                    retentionPolicy:
                      retentionDuration:
                        count: 7
                        durationType: Days
                      retentionPolicyType: SimpleRetentionPolicy
                    schedulePolicy:
                      scheduleFrequencyInMins: 60
                      schedulePolicyType: LogSchedulePolicy
                workLoadType: SQLDataBase
            policyName: testPolicy1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                name: testPolicy1
                properties:
                  backupManagementType: AzureWorkload
                  protectedItemsCount: 0
                  settings:
                    issqlcompression: false
                    timeZone: Pacific Standard Time
                  subProtectionPolicy:
                    - policyType: Full
                      retentionPolicy:
                        monthlySchedule:
                          retentionDuration:
                            count: 1
                            durationType: Months
                          retentionScheduleFormatType: Weekly
                          retentionScheduleWeekly:
                            daysOfTheWeek:
                              - Sunday
                            weeksOfTheMonth:
                              - Second
                          retentionTimes:
                            - 2018-01-24T10:00:00Z
                        retentionPolicyType: LongTermRetentionPolicy
                        weeklySchedule:
                          daysOfTheWeek:
                            - Sunday
                            - Tuesday
                          retentionDuration:
                            count: 2
                            durationType: Weeks
                          retentionTimes:
                            - 2018-01-24T10:00:00Z
                        yearlySchedule:
                          monthsOfYear:
                            - January
                            - June
                            - December
                          retentionDuration:
                            count: 1
                            durationType: Years
                          retentionScheduleFormatType: Weekly
                          retentionScheduleWeekly:
                            daysOfTheWeek:
                              - Sunday
                            weeksOfTheMonth:
                              - Last
                          retentionTimes:
                            - 2018-01-24T10:00:00Z
                      schedulePolicy:
                        schedulePolicyType: SimpleSchedulePolicy
                        scheduleRunDays:
                          - Sunday
                          - Tuesday
                        scheduleRunFrequency: Weekly
                        scheduleRunTimes:
                          - 2018-01-24T10:00:00Z
                        scheduleWeeklyFrequency: 0
                    - policyType: Differential
                      retentionPolicy:
                        retentionDuration:
                          count: 8
                          durationType: Days
                        retentionPolicyType: SimpleRetentionPolicy
                      schedulePolicy:
                        schedulePolicyType: SimpleSchedulePolicy
                        scheduleRunDays:
                          - Friday
                        scheduleRunFrequency: Weekly
                        scheduleRunTimes:
                          - 2018-01-24T10:00:00Z
                        scheduleWeeklyFrequency: 0
                    - policyType: Log
                      retentionPolicy:
                        retentionDuration:
                          count: 7
                          durationType: Days
                        retentionPolicyType: SimpleRetentionPolicy
                      schedulePolicy:
                        scheduleFrequencyInMins: 60
                        schedulePolicyType: LogSchedulePolicy
                  workLoadType: SQLDataBase
                type: Microsoft.RecoveryServices/vaults/backupPolicies
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1/operations/00000000-0000-0000-0000-000000000000?api-version=2016-06-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-06-01
                Retry-After: 60
        Create or Update Simple Azure Vm Protection Policy:
          parameters:
            api-version: 2019-06-15
            parameters:
              properties:
                backupManagementType: AzureIaasVM
                retentionPolicy:
                  dailySchedule:
                    retentionDuration:
                      count: 1
                      durationType: Days
                    retentionTimes:
                      - 2018-01-24T02:00:00Z
                  retentionPolicyType: LongTermRetentionPolicy
                schedulePolicy:
                  schedulePolicyType: SimpleSchedulePolicy
                  scheduleRunFrequency: Daily
                  scheduleRunTimes:
                    - 2018-01-24T02:00:00Z
                timeZone: Pacific Standard Time
            policyName: testPolicy1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                name: testPolicy1
                properties:
                  backupManagementType: AzureIaasVM
                  protectedItemsCount: 0
                  retentionPolicy:
                    dailySchedule:
                      retentionDuration:
                        count: 1
                        durationType: Days
                      retentionTimes:
                        - 2018-01-24T02:00:00Z
                    retentionPolicyType: LongTermRetentionPolicy
                  schedulePolicy:
                    schedulePolicyType: SimpleSchedulePolicy
                    scheduleRunFrequency: Daily
                    scheduleRunTimes:
                      - 2018-01-24T02:00:00Z
                    scheduleWeeklyFrequency: 0
                  timeZone: Pacific Standard Time
                type: Microsoft.RecoveryServices/vaults/backupPolicies
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1/operations/00000000-0000-0000-0000-000000000000?api-version=2016-06-01
                Location: https://management.azure.com/Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1/operationResults/00000000-0000-0000-0000-000000000000?api-version=2016-06-01
                Retry-After: 60
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupPolicies/{policyName}/operationResults/{operationId}":
    get:
      description: Provides the result of an operation.
      operationId: ProtectionPolicyOperationResults_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Backup policy name whose operation's result needs to be fetched.
          in: path
          name: policyName
          required: true
          type: string
        - description: Operation ID which represents the operation whose result needs to be fetched.
          in: path
          name: operationId
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProtectionPolicyResource"
      tags:
        - ProtectionPolicyOperationResults
      x-ms-examples:
        Get Protection Policy Operation Results:
          parameters:
            api-version: 2019-06-15
            operationId: 00000000-0000-0000-0000-000000000000
            policyName: testPolicy1
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                name: testPolicy1
                properties:
                  backupManagementType: AzureIaasVM
                  protectedItemsCount: 1
                  retentionPolicy:
                    dailySchedule:
                      retentionDuration:
                        count: 1
                        durationType: Days
                      retentionTimes:
                        - 2018-01-24T02:00:00Z
                    retentionPolicyType: LongTermRetentionPolicy
                  schedulePolicy:
                    schedulePolicyType: SimpleSchedulePolicy
                    scheduleRunFrequency: Daily
                    scheduleRunTimes:
                      - 2018-01-24T02:00:00Z
                    scheduleWeeklyFrequency: 0
                  timeZone: Pacific Standard Time
                type: Microsoft.RecoveryServices/vaults/backupPolicies
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectedItems":
    get:
      description: Provides a pageable list of all items that are backed up within a vault.
      operationId: BackupProtectedItems_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
        - description: skipToken Filter.
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProtectedItemResourceList"
      tags:
        - BackupProtectedItems
      x-ms-examples:
        List protected items with backupManagementType filter as AzureIaasVm:
          parameters:
            $filter: backupManagementType eq 'AzureIaasVM' and itemType eq 'VM'
            api-version: 2019-06-15
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: NetSDKTestRsVault
          responses:
            "200":
              body:
                value:
                  - id: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/protectionContainers/IaasVMContainer;iaasvmcontainer;iaasvm-rg;iaasvm-1/protectedItems/VM;iaasvmcontainer;iaasvm-rg;iaasvm-1
                    name: VM;iaasvmcontainer;iaasvm-rg;iaasvm-1
                    properties:
                      backupManagementType: AzureIaasVM
                      containerName: iaasvmcontainer;iaasvm-rg;iaasvm-1
                      friendlyName: iaasvm-1
                      healthStatus: Passed
                      lastBackupStatus: Completed
                      lastBackupTime: 2018-01-22T12:25:32.048723Z
                      lastRecoveryPoint: 2017-11-22T12:25:32.048723Z
                      policyId: /Subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/NetSDKTestRsVault/backupPolicies/testPolicy1
                      protectedItemDataId: "636482643132986882"
                      protectedItemType: Microsoft.ClassicCompute/virtualMachines
                      protectionState: Protected
                      protectionStatus: Healthy
                      sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.ClassicCompute/virtualMachines/iaasvm-1
                      virtualMachineId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/providers/Microsoft.ClassicCompute/virtualMachines/iaasvm-1
                      workloadType: VM
                    type: Microsoft.RecoveryServices/vaults/backupFabrics/protectionContainers/protectedItems
      x-ms-odata: "#/definitions/ProtectedItemQueryObject"
      x-ms-pageable:
        nextLinkName: nextLink
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupValidateOperation":
    post:
      description: Validate operation for specified backed up item. This is a synchronous operation.
      operationId: Operation_Validate
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: resource validate operation request
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ValidateOperationRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ValidateOperationsResponse"
      tags:
        - Operation
      x-ms-examples:
        Validate Operation:
          parameters:
            api-version: 2019-06-15
            containerName: IaasVMContainer;iaasvmcontainerv2;testRG;testvmName
            fabricName: Azure
            parameters:
              objectType: ValidateIaasVMRestoreOperationRequest
              restoreRequest:
                createNewCloudService: true
                encryptionDetails:
                  encryptionEnabled: false
                objectType: IaasVMRestoreRequest
                originalStorageAccountOption: false
                recoveryPointId: "348916168024334"
                recoveryType: RestoreDisks
                region: southeastasia
                sourceResourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/netsdktestrg/providers/Microsoft.Compute/virtualMachines/netvmtestv2vm1
                storageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/testingRg/providers/Microsoft.Storage/storageAccounts/testAccount
            protectedItemName: VM;iaasvmcontainerv2;testRG;testvmName
            recoveryPointId: "348916168024334"
            resourceGroupName: testRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: testVault
          responses:
            "200":
              body:
                validateOperationResponse:
                  validationResults:
                    - code: UserErrorCoreCountSubscriptionQuotaReached
                      message: Core Count subscription quota has been reached.
                      recommendations:
                        - Contact Azure support to increase the limits.
              headers: {}
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupconfig/vaultconfig":
    get:
      description: Fetches resource vault config.
      operationId: BackupResourceVaultConfigs_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/BackupResourceVaultConfigResource"
      tags:
        - BackupResourceVaultConfigs
      x-ms-examples:
        Get Vault Security Config:
          parameters:
            api-version: 2019-06-15
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: SwaggerTest
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/SwaggerTest/backupconfig/vaultconfig
                name: vaultconfig
                properties:
                  enhancedSecurityState: Enabled
                  softDeleteFeatureState: Enabled
                type: Microsoft.RecoveryServices/vaults/backupconfig
    patch:
      description: Updates vault security config.
      operationId: BackupResourceVaultConfigs_Update
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/VaultName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: resource config request
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/BackupResourceVaultConfigResource"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/BackupResourceVaultConfigResource"
      tags:
        - BackupResourceVaultConfigs
      x-ms-examples:
        Update Vault Security Config:
          parameters:
            api-version: 2019-06-15
            parameters:
              properties:
                enhancedSecurityState: Enabled
                softDeleteFeatureState: Disabled
            resourceGroupName: SwaggerTestRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
            vaultName: SwaggerTest
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/SwaggerTestRg/providers/Microsoft.RecoveryServices/vaults/SwaggerTest/backupconfig/vaultconfig
                name: vaultconfig
                properties:
                  enhancedSecurityState: Enabled
                  softDeleteFeatureState: Disabled
                type: Microsoft.RecoveryServices/vaults/backupconfig
definitions:
  AzureFileShareProtectionPolicy:
    allOf:
      - $ref: "#/definitions/ProtectionPolicy"
    description: AzureStorage backup policy.
    properties:
      retentionPolicy:
        $ref: "#/definitions/RetentionPolicy"
        description: Retention policy with the details on backup copy retention ranges.
      schedulePolicy:
        $ref: "#/definitions/SchedulePolicy"
        description: Backup schedule specified as part of backup policy.
      timeZone:
        description: 'TimeZone optional input as string. For example: TimeZone = "Pacific Standard Time".'
        type: string
      workLoadType:
        description: Type of workload for the backup management
        enum:
          - Invalid
          - VM
          - FileFolder
          - AzureSqlDb
          - SQLDB
          - Exchange
          - Sharepoint
          - VMwareVM
          - SystemState
          - Client
          - GenericDataSource
          - SQLDataBase
          - AzureFileShare
          - SAPHanaDatabase
          - SAPAseDatabase
        type: string
        x-ms-enum:
          modelAsString: true
          name: WorkloadType
    type: object
    x-ms-discriminator-value: AzureStorage
  AzureFileShareRecoveryPoint:
    allOf:
      - $ref: "#/definitions/RecoveryPoint"
    description: Azure File Share workload specific backup copy.
    properties:
      fileShareSnapshotUri:
        description: Contains Url to the snapshot of fileshare, if applicable
        readOnly: true
        type: string
      recoveryPointSizeInGB:
        description: Contains recovery point size
        format: int32
        readOnly: true
        type: integer
      recoveryPointTime:
        description: Time at which this backup copy was created.
        format: date-time
        readOnly: true
        type: string
      recoveryPointType:
        description: Type of the backup copy. Specifies whether it is a crash consistent backup or app consistent.
        readOnly: true
        type: string
    type: object
    x-ms-discriminator-value: AzureFileShareRecoveryPoint
  AzureFileShareRestoreRequest:
    allOf:
      - $ref: "#/definitions/RestoreRequest"
    description: AzureFileShare Restore Request
    properties:
      copyOptions:
        description: Options to resolve copy conflicts.
        enum:
          - Invalid
          - CreateCopy
          - Skip
          - Overwrite
          - FailOnConflict
        type: string
        x-ms-enum:
          modelAsString: true
          name: CopyOptions
      recoveryType:
        description: Type of this recovery.
        enum:
          - Invalid
          - OriginalLocation
          - AlternateLocation
          - RestoreDisks
          - Offline
        type: string
        x-ms-enum:
          modelAsString: true
          name: RecoveryType
      restoreFileSpecs:
        description: List of Source Files/Folders(which need to recover) and TargetFolderPath details
        items:
          $ref: "#/definitions/RestoreFileSpecs"
        type: array
      restoreRequestType:
        description: Restore Type (FullShareRestore or ItemLevelRestore)
        enum:
          - Invalid
          - FullShareRestore
          - ItemLevelRestore
        type: string
        x-ms-enum:
          modelAsString: true
          name: RestoreRequestType
      sourceResourceId:
        description: Source storage account ARM Id
        type: string
      targetDetails:
        $ref: "#/definitions/TargetAFSRestoreInfo"
        description: Target File Share Details
    type: object
    x-ms-discriminator-value: AzureFileShareRestoreRequest
  AzureFileshareProtectedItem:
    allOf:
      - $ref: "#/definitions/ProtectedItem"
    description: Azure File Share workload-specific backup item.
    properties:
      extendedInfo:
        $ref: "#/definitions/AzureFileshareProtectedItemExtendedInfo"
        description: Additional information with this backup item.
      friendlyName:
        description: Friendly name of the fileshare represented by this backup item.
        type: string
      healthStatus:
        description: backups running status for this backup item.
        enum:
          - Passed
          - ActionRequired
          - ActionSuggested
          - Invalid
        type: string
        x-ms-enum:
          modelAsString: true
          name: HealthStatus
      lastBackupStatus:
        description: "Last backup operation status. Possible values: Healthy, Unhealthy."
        type: string
      lastBackupTime:
        description: Timestamp of the last backup operation on this backup item.
        format: date-time
        type: string
      protectionState:
        description: Backup state of this backup item.
        enum:
          - Invalid
          - IRPending
          - Protected
          - ProtectionError
          - ProtectionStopped
          - ProtectionPaused
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProtectionState
      protectionStatus:
        description: Backup status of this backup item.
        type: string
    type: object
    x-ms-discriminator-value: AzureFileShareProtectedItem
  AzureFileshareProtectedItemExtendedInfo:
    description: Additional information about Azure File Share backup item.
    properties:
      oldestRecoveryPoint:
        description: The oldest backup copy available for this item in the service.
        format: date-time
        type: string
      policyState:
        description: Indicates consistency of policy object and policy applied to this backup item.
        type: string
      recoveryPointCount:
        description: Number of available backup copies associated with this backup item.
        format: int32
        type: integer
      resourceState:
        description: Indicates the state of this resource. Possible values are from enum ResourceState {Invalid, Active, SoftDeleted, Deleted}
        readOnly: true
        type: string
      resourceStateSyncTime:
        description: The resource state sync time for this backup item.
        format: date-time
        readOnly: true
        type: string
    type: object
  AzureIaaSClassicComputeVMProtectedItem:
    allOf:
      - $ref: "#/definitions/AzureIaaSVMProtectedItem"
    description: IaaS VM workload-specific backup item representing the Classic Compute VM.
    type: object
    x-ms-discriminator-value: Microsoft.ClassicCompute/virtualMachines
  AzureIaaSComputeVMProtectedItem:
    allOf:
[...]
