{
  "swagger": "2.0",
  "schemes": [
    "http",
    "https"
  ],
  "host": "api.wmata.com",
  "basePath": "/Bus.svc",
  "info": {
    "description": "Bus stop information, route and schedule data, and bus positions.",
    "title": "Bus Route and Stop Methods",
    "version": "1.0",
    "x-apisguru-categories": [
      "transport"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_wmata_profile_image.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://developer.wmata.com/docs/services/54763629281d83086473f231/export?DocumentFormat=Swagger",
        "version": "2.0"
      }
    ],
    "x-providerName": "wmata.com",
    "x-serviceName": "bus-route"
  },
  "securityDefinitions": {
    "apiKeyHeader": {
      "in": "header",
      "name": "api_key",
      "type": "apiKey"
    },
    "apiKeyQuery": {
      "in": "query",
      "name": "api_key",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/BusPositions": {
      "get": {
        "description": "<h4 class=\"text-primary\">Description</h4>\n\n<p>Returns bus positions for the given route, with an optional search radius.\nIf no parameters are specified, all bus positions are returned.</p>\n\n<p>Note that the RouteID parameter accepts only base route names and no\nvariations, i.e.: use 10A instead of 10Av1 or 10Av2.</p>\n\n<p>Bus positions are refreshed approximately every <span style=\"text-decoration: line-through\">20 to 30</span> 7 to 10 seconds.</p>\n\n<h4 class=\"text-primary\">Response Elements</h4>\n\n<table class=\"table table-condensed table-hover\">\n<thead>\n<tr>\n<th class=\"col-md-3\">Element</th>\n\n<th>Description</th>\n</tr>\n</thead>\n\n<tbody>\n<tr>\n<td>BusPositions</td>\n\n<td>\nArray containing bus position information (<a href=\n\"#BusPosition\">BusPositions</a>).\n</td>\n</tr>\n\n<tr>\n<td colspan=\"2\">\n<div class=\"text-primary\" style=\"margin-top: 1em\">\n<a id=\"BusPosition\" name=\"BusPosition\">BusPosition\nElements</a>\n</div>\n</td>\n</tr>\n\n<tr>\n<td>DateTime</td>\n\n<td>Date and time (Eastern Standard Time) of last position update.\nWill be in YYYY-MM-DDTHH:mm:ss format (e.g.:\n2014-10-27T13:23:40).</td>\n</tr>\n\n<tr>\n<td>Deviation</td>\n\n<td>Deviation, in minutes, from schedule. Positive values indicate\nthat the bus is running late while negative ones are for buses\nrunning ahead of schedule.</td>\n</tr>\n\n<tr>\n<td style=\"text-decoration: line-through\">DirectionNum</td>\n\n<td><span class=\"text-danger\">Deprecated.</span> Use the\nDirectionText for a customer-friendly description of\ndirection.</td>\n</tr>\n\n<tr>\n<td>DirectionText</td>\n\n<td>General direction of the trip, not the bus itself (e.g.: NORTH,\nSOUTH, EAST, WEST).</td>\n</tr>\n\n<tr>\n<td>Lat</td>\n\n<td>Last reported Latitude of the bus.</td>\n</tr>\n\n<tr>\n<td>Lon</td>\n\n<td>Last reported Longitude of the bus.</td>\n</tr>\n\n<tr>\n<td>RouteID</td>\n\n<td>Base route name as shown on the bus. Note that the base route\nname could also refer to any variant, so a RouteID of 10A could\nrefer to 10A, 10Av1, 10Av2, etc.</td>\n</tr>\n\n<tr>\n<td>TripEndTime</td>\n\n<td>Scheduled end date and time (Eastern Standard Time) of the\nbus's current trip. Will be in YYYY-MM-DDTHH:mm:ss format (e.g.:\n2014-10-27T13:17:00).</td>\n</tr>\n\n<tr>\n<td>TripHeadsign</td>\n\n<td>Destination of the bus.</td>\n</tr>\n\n<tr>\n<td>TripID</td>\n\n<td>Unique trip ID. This can be correlated with the data returned\nfrom the schedule-related methods.</td>\n</tr>\n\n<tr>\n<td>TripStartTime</td>\n\n<td>Scheduled start date and time (Eastern Standard Time) of the\nbus's current trip. Will be in YYYY-MM-DDTHH:mm:ss format (e.g.:\n2014-10-27T12:40:00).</td>\n</tr>\n\n<tr>\n<td>VehicleID</td>\n\n<td>Unique identifier for the bus. This is usually visible on the\nbus itself.</td>\n</tr>\n</tbody>\n</table>",
        "operationId": "5476362a281d830c946a3d6e",
        "parameters": [
          {
            "default": "70",
            "description": "Bus route, e.g.: 70, 10A.",
            "enum": [
              "70"
            ],
            "in": "query",
            "name": "RouteID",
            "type": "string"
          },
          {
            "description": "Center point Latitude, required if Longitude and Radius are specified.",
            "in": "query",
            "name": "Lat",
            "type": "string"
          },
          {
            "description": "Center point Longitude, required if Latitude and Radius are specified.",
            "in": "query",
            "name": "Lon",
            "type": "string"
          },
          {
            "description": "Radius (meters) to include in the search area, required if Latitude and Longitude are specified.",
            "in": "query",
            "name": "Radius",
            "type": "string"
          }
        ],
        "produces": [
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Default response code.",
            "examples": {
              "application/xml": "\n\n<BusPositionsResp\n    xmlns=\"http://www.wmata.com\"\n    xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <BusPositions>\n        <BusPosition>\n            <DateTime>2014-10-27T13:23:40</DateTime>\n            <Deviation>7.0000000000</Deviation>\n            <DirectionNum>10</DirectionNum>\n            <DirectionText>NORTH</DirectionText>\n            <Lat>39.191525</Lat>\n            <Lon>-76.672821</Lon>\n            <RouteID>B30</RouteID>\n            <TripEndTime>2014-10-27T13:17:00</TripEndTime>\n            <TripHeadsign>BWI LT RAIL STA</TripHeadsign>\n            <TripID>6794838</TripID>\n            <TripStartTime>2014-10-27T12:40:00</TripStartTime>\n            <VehicleID>6217</VehicleID>\n        </BusPosition>\n        <BusPosition>\n            <DateTime>2014-10-27T13:23:19</DateTime>\n            <Deviation>-1.0000000000</Deviation>\n            <DirectionNum>12</DirectionNum>\n            <DirectionText>SOUTH</DirectionText>\n            <Lat>39.030003</Lat>\n            <Lon>-76.948868</Lon>\n            <RouteID>B30</RouteID>\n            <TripEndTime>2014-10-27T13:29:00</TripEndTime>\n            <TripHeadsign>GREENBELT STA</TripHeadsign>\n            <TripID>6794867</TripID>\n            <TripStartTime>2014-10-27T12:53:00</TripStartTime>\n            <VehicleID>6215</VehicleID>\n        </BusPosition>\n        <BusPosition>\n            <DateTime>2014-10-27T13:24:00</DateTime>\n            <Deviation>2.0000000000</Deviation>\n            <DirectionNum>10</DirectionNum>\n            <DirectionText>NORTH</DirectionText>\n            <Lat>39.011429</Lat>\n            <Lon>-76.893158</Lon>\n            <RouteID>B30</RouteID>\n            <TripEndTime>2014-10-27T13:57:00</TripEndTime>\n            <TripHeadsign>BWI LT RAIL STA</TripHeadsign>\n            <TripID>6794839</TripID>\n            <TripStartTime>2014-10-27T13:20:00</TripStartTime>\n            <VehicleID>6213</VehicleID>\n        </BusPosition>\n    </BusPositions>\n</BusPositionsResp>"
            }
          }
        },
        "summary": "XML - Bus Position"
      }
    },
    "/RouteDetails": {
      "get": {
        "description": "<h4 class=\"text-primary\">Description</h4>\r\n<p>For a given date, returns the set of ordered latitude/longitude points along route variant along with the list of stops served.</p>\r\n<h4 class=\"text-primary\">Response Elements</h4>\r\n<table class=\"table table-condensed table-hover\">\r\n<thead>\r\n<tr>\r\n<th class=\"col-md-3\">Element</th>\r\n<th>Description</th>\r\n</tr>\r\n</thead>\r\n<tbody>\r\n<tr>\r\n<td>Direction0/Direction1</td>\r\n<td>\r\nStructures describing <a href=\"#Direction\">path/stop</a>information.<br>\r\n<br>\r\nMost routes will return content in both Direction0 and Direction1 elements, though a few will return NULL for Direction0 or for Direction1.<br>\r\n<br>\r\n0 or 1 are binary properties. There is no specific mapping to direction, but a different value for the same route signifies that the route is in an opposite direction.\r\n</td>\r\n</tr>\r\n<tr>\r\n<td>Name</td>\r\n<td>Descriptive name for the route.</td>\r\n</tr>\r\n<tr>\r\n<td>RouteID</td>\r\n<td>Bus route variant (e.g.: 10A, 10Av1, etc.).</td>\r\n</tr>\r\n<tr>\r\n<td colspan=\"2\">\r\n<div class=\"text-primary\" style=\"margin-top: 1em\">\r\n<a id=\"Direction\" name=\"Direction\">Direction0/Direction1 Elements</a>\r\n</div>\r\n</td>\r\n</tr>\r\n<tr>\r\n<td style=\"text-decoration: line-through\">DirectionNum</td>\r\n<td><span class=\"text-danger\">Deprecated.</span> Use the DirectionText element to denote the general direction of the route variant.</td>\r\n</tr>\r\n<tr>\r\n<td>DirectionText</td>\r\n<td>General direction of the route variant (NORTH, SOUTH, EAST, WEST, LOOP, etc.).</td>\r\n</tr>\r\n<tr>\r\n<td>Shape</td>\r\n<td>\r\nArray containing shape point information (<a href=\"#ShapePoint\">ShapePoint</a>).\r\n</td>\r\n</tr>\r\n<tr>\r\n<td>Stops</td>\r\n<td>\r\nArray containing stop information (<a href=\"#Stop\">Stop</a>).\r\n</td>\r\n</tr>\r\n<tr>\r\n<td>TripHeadsign</td>\r\n<td>Descriptive text of where the bus is headed. This is similar, but not necessarily identical, to what is displayed on the bus.</td>\r\n</tr>\r\n<tr>\r\n<td colspan=\"2\">\r\n<div class=\"text-primary\" style=\"margin-top: 1em\">\r\n<a id=\"ShapePoint\" name=\"ShapePoint\">ShapePoint Elements</a>\r\n</div>\r\n</td>\r\n</tr>\r\n<tr>\r\n<td>Lat</td>\r\n<td>Latitude.</td>\r\n</tr>\r\n<tr>\r\n<td>Lon</td>\r\n<td>Longitude.</td>\r\n</tr>\r\n<tr>\r\n<td>SeqNum</td>\r\n<td>Order of the point in the sequence of ShapePoints.</td>\r\n</tr>\r\n<tr>\r\n<td colspan=\"2\">\r\n<div class=\"text-primary\" style=\"margin-top: 1em\"> \r\n<a id=\"Stop\" name=\"Stop\">Stop Elements</a>\r\n</div>\r\n</td>\r\n</tr>\r\n<tr>\r\n<td>Lat</td>\r\n<td>Latitude.</td>\r\n</tr>\r\n<tr>\r\n<td>Lon</td>\r\n<td>Longitude.</td>\r\n</tr>\r\n<tr>\r\n<td>Name</td>\r\n<td>Stop name. May be slightly different from what is spoken or displayed in the bus.</td>\r\n</tr>\r\n<tr>\r\n<td>Routes</td>\r\n<td>String array of route variants which provide service at this stop. Note that these are not date-specific; any route variant which stops at this stop on any day will be listed.</td>\r\n</tr>\r\n<tr>\r\n<td>StopID</td>\r\n<td>7-digit regional ID which can be used in various bus-related methods. If unavailable, the StopID will be 0 or NULL.</td>\r\n</tr>\r\n</tbody>\r\n</table>",
        "operationId": "5476362a281d830c946a3d6f",
        "parameters": [
          {
            "default": "70",
            "description": "Bus route variant, e.g.: 70, 10A, 10Av1.",
            "enum": [
              "70"
            ],
            "in": "query",
            "name": "RouteID",
            "required": true,
            "type": "string"
          },
          {
            "description": "Date in YYYY-MM-DD format for which to retrieve route and stop information.  Defaults to today's date unless specified.",
            "in": "query",
            "name": "Date",
            "type": "string"
          }
        ],
        "produces": [
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Default response code.",
            "examples": {
              "application/xml": "<RouteDetailsInfo\n    xmlns=\"http://www.wmata.com\"\n    xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <Direction0>\n        <DirectionNum>0</DirectionNum>\n        <DirectionText>NORTH</DirectionText>\n        <Shape>\n            <ShapePoint>\n                <Lat>39.011595754</Lat>\n                <Lon>-76.909996671</Lon>\n                <SeqNum>1</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.011187858</Lat>\n                <Lon>-76.910352233</Lon>\n                <SeqNum>2</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.011017858</Lat>\n                <Lon>-76.910472233</Lon>\n                <SeqNum>3</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.010917858</Lat>\n                <Lon>-76.910452233</Lon>\n                <SeqNum>4</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.010847857</Lat>\n                <Lon>-76.910372232</Lon>\n                <SeqNum>5</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.010817857</Lat>\n                <Lon>-76.910222232</Lon>\n                <SeqNum>6</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.010847858</Lat>\n                <Lon>-76.910082233</Lon>\n                <SeqNum>7</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.011057858</Lat>\n                <Lon>-76.909892232</Lon>\n                <SeqNum>8</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.012227858</Lat>\n                <Lon>-76.908832232</Lon>\n                <SeqNum>9</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.012687858</Lat>\n                <Lon>-76.908432231</Lon>\n                <SeqNum>10</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.012847859</Lat>\n                <Lon>-76.908282232</Lon>\n                <SeqNum>11</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.013007858</Lat>\n                <Lon>-76.908122232</Lon>\n                <SeqNum>12</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.013157859</Lat>\n                <Lon>-76.907852231</Lon>\n                <SeqNum>13</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.013177858</Lat>\n                <Lon>-76.907562232</Lon>\n                <SeqNum>14</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.013137858</Lat>\n                <Lon>-76.907282232</Lon>\n                <SeqNum>15</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.013077858</Lat>\n                <Lon>-76.907102232</Lon>\n                <SeqNum>16</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.012497858</Lat>\n                <Lon>-76.906112231</Lon>\n                <SeqNum>17</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.011487858</Lat>\n                <Lon>-76.904502231</Lon>\n                <SeqNum>18</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.011247859</Lat>\n                <Lon>-76.904202231</Lon>\n                <SeqNum>19</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.011087858</Lat>\n                <Lon>-76.90405223</Lon>\n                <SeqNum>20</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.009857858</Lat>\n                <Lon>-76.90326223</Lon>\n                <SeqNum>21</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.009907858</Lat>\n                <Lon>-76.90295223</Lon>\n                <SeqNum>22</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.009917858</Lat>\n                <Lon>-76.90255223</Lon>\n                <SeqNum>23</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.009937858</Lat>\n                <Lon>-76.901722229</Lon>\n                <SeqNum>24</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.009937858</Lat>\n                <Lon>-76.90128223</Lon>\n                <SeqNum>25</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.009997858</Lat>\n                <Lon>-76.897832228</Lon>\n                <SeqNum>26</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.010007858</Lat>\n                <Lon>-76.897352228</Lon>\n                <SeqNum>27</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.010037859</Lat>\n                <Lon>-76.896962228</Lon>\n                <SeqNum>28</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.010127858</Lat>\n                <Lon>-76.896452228</Lon>\n                <SeqNum>29</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.010277858</Lat>\n                <Lon>-76.895952228</Lon>\n                <SeqNum>30</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.010407858</Lat>\n                <Lon>-76.895642228</Lon>\n                <SeqNum>31</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.011787859</Lat>\n                <Lon>-76.892432226</Lon>\n                <SeqNum>32</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.012007859</Lat>\n                <Lon>-76.892662227</Lon>\n                <SeqNum>33</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.012197859</Lat>\n                <Lon>-76.892872227</Lon>\n                <SeqNum>34</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.012337859</Lat>\n                <Lon>-76.893052227</Lon>\n                <SeqNum>35</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.013427859</Lat>\n                <Lon>-76.894602228</Lon>\n                <SeqNum>36</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.013627859</Lat>\n                <Lon>-76.894862228</Lon>\n                <SeqNum>37</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.014307859</Lat>\n                <Lon>-76.895702228</Lon>\n                <SeqNum>38</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.014697859</Lat>\n                <Lon>-76.896142228</Lon>\n                <SeqNum>39</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.014987859</Lat>\n                <Lon>-76.896462229</Lon>\n                <SeqNum>40</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.01539786</Lat>\n                <Lon>-76.896882229</Lon>\n                <SeqNum>41</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.01606786</Lat>\n                <Lon>-76.897492228</Lon>\n                <SeqNum>42</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.01670786</Lat>\n                <Lon>-76.89802223</Lon>\n                <SeqNum>43</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.01775786</Lat>\n                <Lon>-76.89884223</Lon>\n                <SeqNum>44</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.01858786</Lat>\n                <Lon>-76.89943223</Lon>\n                <SeqNum>45</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.01952786</Lat>\n                <Lon>-76.90003223</Lon>\n                <SeqNum>46</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.02020786</Lat>\n                <Lon>-76.90043223</Lon>\n                <SeqNum>47</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.02076786</Lat>\n                <Lon>-76.90073223</Lon>\n                <SeqNum>48</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.02135786</Lat>\n                <Lon>-76.90100223</Lon>\n                <SeqNum>49</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.021747861</Lat>\n                <Lon>-76.90116223</Lon>\n                <SeqNum>50</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.02229786</Lat>\n                <Lon>-76.90132223</Lon>\n                <SeqNum>51</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.022637861</Lat>\n                <Lon>-76.90137223</Lon>\n                <SeqNum>52</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.02287786</Lat>\n                <Lon>-76.901402231</Lon>\n                <SeqNum>53</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.023077861</Lat>\n                <Lon>-76.90140223</Lon>\n                <SeqNum>54</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.023717861</Lat>\n                <Lon>-76.901412231</Lon>\n                <SeqNum>55</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.024047861</Lat>\n                <Lon>-76.90139223</Lon>\n                <SeqNum>56</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.025357861</Lat>\n                <Lon>-76.901212231</Lon>\n                <SeqNum>57</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.026167861</Lat>\n                <Lon>-76.901142231</Lon>\n                <SeqNum>58</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.026457861</Lat>\n                <Lon>-76.901142231</Lon>\n                <SeqNum>59</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.026767862</Lat>\n                <Lon>-76.90116223</Lon>\n                <SeqNum>60</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.027407861</Lat>\n                <Lon>-76.90126223</Lon>\n                <SeqNum>61</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.028037861</Lat>\n                <Lon>-76.90136223</Lon>\n                <SeqNum>62</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.028427862</Lat>\n                <Lon>-76.901402231</Lon>\n                <SeqNum>63</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.028767861</Lat>\n                <Lon>-76.901382231</Lon>\n                <SeqNum>64</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.029087862</Lat>\n                <Lon>-76.901292231</Lon>\n                <SeqNum>65</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.029297862</Lat>\n                <Lon>-76.901202231</Lon>\n                <SeqNum>66</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.029487862</Lat>\n                <Lon>-76.901082231</Lon>\n                <SeqNum>67</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.029907861</Lat>\n                <Lon>-76.90074223</Lon>\n                <SeqNum>68</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.030797862</Lat>\n                <Lon>-76.900132231</Lon>\n                <SeqNum>69</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.030917862</Lat>\n                <Lon>-76.89995223</Lon>\n                <SeqNum>70</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031087863</Lat>\n                <Lon>-76.89977223</Lon>\n                <SeqNum>71</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031147862</Lat>\n                <Lon>-76.89967223</Lon>\n                <SeqNum>72</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031227862</Lat>\n                <Lon>-76.899472231</Lon>\n                <SeqNum>73</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031297862</Lat>\n                <Lon>-76.899032231</Lon>\n                <SeqNum>74</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031337863</Lat>\n                <Lon>-76.89849223</Lon>\n                <SeqNum>75</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031737862</Lat>\n                <Lon>-76.894402229</Lon>\n                <SeqNum>76</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031787862</Lat>\n                <Lon>-76.893982228</Lon>\n                <SeqNum>77</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032067862</Lat>\n                <Lon>-76.891022228</Lon>\n                <SeqNum>78</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032127862</Lat>\n                <Lon>-76.890022227</Lon>\n                <SeqNum>79</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032107863</Lat>\n                <Lon>-76.889162228</Lon>\n                <SeqNum>80</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032097863</Lat>\n                <Lon>-76.888972227</Lon>\n                <SeqNum>81</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031947863</Lat>\n                <Lon>-76.886812227</Lon>\n                <SeqNum>82</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031887863</Lat>\n                <Lon>-76.885742226</Lon>\n                <SeqNum>83</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031897863</Lat>\n                <Lon>-76.884822226</Lon>\n                <SeqNum>84</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031927863</Lat>\n                <Lon>-76.884262225</Lon>\n                <SeqNum>85</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031997863</Lat>\n                <Lon>-76.883742226</Lon>\n                <SeqNum>86</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032037864</Lat>\n                <Lon>-76.883452226</Lon>\n                <SeqNum>87</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032117864</Lat>\n                <Lon>-76.883102225</Lon>\n                <SeqNum>88</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032197863</Lat>\n                <Lon>-76.882822226</Lon>\n                <SeqNum>89</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032337863</Lat>\n                <Lon>-76.882502225</Lon>\n                <SeqNum>90</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032437863</Lat>\n                <Lon>-76.882352225</Lon>\n                <SeqNum>91</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032557864</Lat>\n                <Lon>-76.882212225</Lon>\n                <SeqNum>92</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032607863</Lat>\n                <Lon>-76.882142225</Lon>\n                <SeqNum>93</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032917863</Lat>\n                <Lon>-76.881802224</Lon>\n                <SeqNum>94</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033187864</Lat>\n                <Lon>-76.881512225</Lon>\n                <SeqNum>95</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033287864</Lat>\n                <Lon>-76.881352225</Lon>\n                <SeqNum>96</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033427863</Lat>\n                <Lon>-76.881112225</Lon>\n                <SeqNum>97</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033507864</Lat>\n                <Lon>-76.880902225</Lon>\n                <SeqNum>98</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033567863</Lat>\n                <Lon>-76.880692225</Lon>\n                <SeqNum>99</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033597864</Lat>\n                <Lon>-76.880472225</Lon>\n                <SeqNum>100</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033607863</Lat>\n                <Lon>-76.880242225</Lon>\n                <SeqNum>101</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033577863</Lat>\n                <Lon>-76.879912225</Lon>\n                <SeqNum>102</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033437863</Lat>\n                <Lon>-76.879372224</Lon>\n                <SeqNum>103</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033187864</Lat>\n                <Lon>-76.878752224</Lon>\n                <SeqNum>104</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032967863</Lat>\n                <Lon>-76.878362223</Lon>\n                <SeqNum>105</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032777863</Lat>\n                <Lon>-76.878092224</Lon>\n                <SeqNum>106</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031917863</Lat>\n                <Lon>-76.876982224</Lon>\n                <SeqNum>107</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031777864</Lat>\n                <Lon>-76.876762223</Lon>\n                <SeqNum>108</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031647863</Lat>\n                <Lon>-76.876482224</Lon>\n                <SeqNum>109</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031557863</Lat>\n                <Lon>-76.876272223</Lon>\n                <SeqNum>110</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031507863</Lat>\n                <Lon>-76.876032222</Lon>\n                <SeqNum>111</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031447864</Lat>\n                <Lon>-76.875692223</Lon>\n                <SeqNum>112</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031427863</Lat>\n                <Lon>-76.875362223</Lon>\n                <SeqNum>113</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031437863</Lat>\n                <Lon>-76.875032223</Lon>\n                <SeqNum>114</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031487864</Lat>\n                <Lon>-76.874572223</Lon>\n                <SeqNum>115</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031557863</Lat>\n                <Lon>-76.874262222</Lon>\n                <SeqNum>116</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.031937863</Lat>\n                <Lon>-76.873162222</Lon>\n                <SeqNum>117</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032097863</Lat>\n                <Lon>-76.872682222</Lon>\n                <SeqNum>118</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032137863</Lat>\n                <Lon>-76.872572222</Lon>\n                <SeqNum>119</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032287863</Lat>\n                <Lon>-76.871962222</Lon>\n                <SeqNum>120</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032337864</Lat>\n                <Lon>-76.871612221</Lon>\n                <SeqNum>121</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032347864</Lat>\n                <Lon>-76.871162222</Lon>\n                <SeqNum>122</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032297864</Lat>\n                <Lon>-76.870832221</Lon>\n                <SeqNum>123</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032197864</Lat>\n                <Lon>-76.869902221</Lon>\n                <SeqNum>124</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032187864</Lat>\n                <Lon>-76.869692221</Lon>\n                <SeqNum>125</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032207862999996</Lat>\n                <Lon>-76.869412221</Lon>\n                <SeqNum>126</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032237864</Lat>\n                <Lon>-76.869082221</Lon>\n                <SeqNum>127</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032307864</Lat>\n                <Lon>-76.868772221</Lon>\n                <SeqNum>128</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032417863</Lat>\n                <Lon>-76.868482221</Lon>\n                <SeqNum>129</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032517864</Lat>\n                <Lon>-76.86829222</Lon>\n                <SeqNum>130</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032987864</Lat>\n                <Lon>-76.86746222</Lon>\n                <SeqNum>131</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033387864</Lat>\n                <Lon>-76.866852221</Lon>\n                <SeqNum>132</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033727864</Lat>\n                <Lon>-76.86632222</Lon>\n                <SeqNum>133</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.034457864</Lat>\n                <Lon>-76.86526222</Lon>\n                <SeqNum>134</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.034717864</Lat>\n                <Lon>-76.86482222</Lon>\n                <SeqNum>135</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.034847864</Lat>\n                <Lon>-76.864492219</Lon>\n                <SeqNum>136</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.034947864</Lat>\n                <Lon>-76.86416222</Lon>\n                <SeqNum>137</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.035017865</Lat>\n                <Lon>-76.86382222</Lon>\n                <SeqNum>138</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.035047864</Lat>\n                <Lon>-76.863372219</Lon>\n                <SeqNum>139</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.035037864</Lat>\n                <Lon>-76.863032219</Lon>\n                <SeqNum>140</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.034977865</Lat>\n                <Lon>-76.862612218</Lon>\n                <SeqNum>141</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.034887865</Lat>\n                <Lon>-76.862232219</Lon>\n                <SeqNum>142</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.034727864</Lat>\n                <Lon>-76.861842219</Lon>\n                <SeqNum>143</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.034547865</Lat>\n                <Lon>-76.861522219</Lon>\n                <SeqNum>144</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033787864</Lat>\n                <Lon>-76.860462219</Lon>\n                <SeqNum>145</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033507864</Lat>\n                <Lon>-76.859992218</Lon>\n                <SeqNum>146</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033347864</Lat>\n                <Lon>-76.859652218</Lon>\n                <SeqNum>147</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033157864</Lat>\n                <Lon>-76.859212218</Lon>\n                <SeqNum>148</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032987865</Lat>\n                <Lon>-76.858602217</Lon>\n                <SeqNum>149</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032907864</Lat>\n                <Lon>-76.858202218</Lon>\n                <SeqNum>150</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032867864</Lat>\n                <Lon>-76.857882217</Lon>\n                <SeqNum>151</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032827864</Lat>\n                <Lon>-76.857442217</Lon>\n                <SeqNum>152</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032827864</Lat>\n                <Lon>-76.857112217</Lon>\n                <SeqNum>153</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.032877864</Lat>\n                <Lon>-76.856312217</Lon>\n                <SeqNum>154</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033087865</Lat>\n                <Lon>-76.854502216</Lon>\n                <SeqNum>155</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033157865</Lat>\n                <Lon>-76.853952217</Lon>\n                <SeqNum>156</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033237864</Lat>\n                <Lon>-76.853222217</Lon>\n                <SeqNum>157</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033377865</Lat>\n                <Lon>-76.852252215</Lon>\n                <SeqNum>158</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033387864</Lat>\n                <Lon>-76.851992216</Lon>\n                <SeqNum>159</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033487864</Lat>\n                <Lon>-76.851032215</Lon>\n                <SeqNum>160</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.033887865</Lat>\n                <Lon>-76.850962215</Lon>\n                <SeqNum>161</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.034667865</Lat>\n                <Lon>-76.850902215</Lon>\n                <SeqNum>162</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.035187865</Lat>\n                <Lon>-76.850802216</Lon>\n                <SeqNum>163</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.035717865</Lat>\n                <Lon>-76.850642216</Lon>\n                <SeqNum>164</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.036567864</Lat>\n                <Lon>-76.850252215</Lon>\n                <SeqNum>165</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.036747865</Lat>\n                <Lon>-76.850202216</Lon>\n                <SeqNum>166</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.038527866</Lat>\n                <Lon>-76.849222215</Lon>\n                <SeqNum>167</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.040027866</Lat>\n                <Lon>-76.848362214</Lon>\n                <SeqNum>168</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.042867867</Lat>\n                <Lon>-76.846672215</Lon>\n                <SeqNum>169</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.044267866</Lat>\n                <Lon>-76.845802214</Lon>\n                <SeqNum>170</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.045627868</Lat>\n                <Lon>-76.844912215</Lon>\n                <SeqNum>171</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.046517867</Lat>\n                <Lon>-76.844332215</Lon>\n                <SeqNum>172</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.048027868</Lat>\n                <Lon>-76.843372214</Lon>\n                <SeqNum>173</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.049417869</Lat>\n                <Lon>-76.842542214</Lon>\n                <SeqNum>174</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.050217869</Lat>\n                <Lon>-76.842112215</Lon>\n                <SeqNum>175</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.050737868</Lat>\n                <Lon>-76.841822213</Lon>\n                <SeqNum>176</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.051507868</Lat>\n                <Lon>-76.841422213</Lon>\n                <SeqNum>177</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.053377869</Lat>\n                <Lon>-76.840522214</Lon>\n                <SeqNum>178</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.053747869</Lat>\n                <Lon>-76.840342213</Lon>\n                <SeqNum>179</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.05530787</Lat>\n                <Lon>-76.839542213</Lon>\n                <SeqNum>180</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.055837869</Lat>\n                <Lon>-76.839272212</Lon>\n                <SeqNum>181</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.058017871</Lat>\n                <Lon>-76.838252212</Lon>\n                <SeqNum>182</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.058477869</Lat>\n                <Lon>-76.838052213</Lon>\n                <SeqNum>183</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.059187871</Lat>\n                <Lon>-76.837702213</Lon>\n                <SeqNum>184</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.059887871</Lat>\n                <Lon>-76.837332213</Lon>\n                <SeqNum>185</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.060237871</Lat>\n                <Lon>-76.837162213</Lon>\n                <SeqNum>186</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.06138787</Lat>\n                <Lon>-76.836552212</Lon>\n                <SeqNum>187</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.063337871</Lat>\n                <Lon>-76.835432213</Lon>\n                <SeqNum>188</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.064247872</Lat>\n                <Lon>-76.834862212</Lon>\n                <SeqNum>189</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.064937871</Lat>\n                <Lon>-76.834432212</Lon>\n                <SeqNum>190</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.066697871</Lat>\n                <Lon>-76.833202212</Lon>\n                <SeqNum>191</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.068327872</Lat>\n                <Lon>-76.832002212</Lon>\n                <SeqNum>192</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.068977873</Lat>\n                <Lon>-76.831452211</Lon>\n                <SeqNum>193</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.069217872</Lat>\n                <Lon>-76.831242212</Lon>\n                <SeqNum>194</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.071247873</Lat>\n                <Lon>-76.829662211</Lon>\n                <SeqNum>195</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.072117873</Lat>\n                <Lon>-76.828922211</Lon>\n                <SeqNum>196</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.073327874</Lat>\n                <Lon>-76.82785221</Lon>\n                <SeqNum>197</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.074387873</Lat>\n                <Lon>-76.82688221</Lon>\n                <SeqNum>198</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.075747874</Lat>\n                <Lon>-76.82559221</Lon>\n                <SeqNum>199</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.077397874</Lat>\n                <Lon>-76.82394221</Lon>\n                <SeqNum>200</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.077887874</Lat>\n                <Lon>-76.82341221</Lon>\n                <SeqNum>201</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.078497875</Lat>\n                <Lon>-76.822702209</Lon>\n                <SeqNum>202</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.079877875</Lat>\n                <Lon>-76.820932209</Lon>\n                <SeqNum>203</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.081427876</Lat>\n                <Lon>-76.818772208</Lon>\n                <SeqNum>204</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.082747875</Lat>\n                <Lon>-76.816952208</Lon>\n                <SeqNum>205</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.084367876</Lat>\n                <Lon>-76.814772207</Lon>\n                <SeqNum>206</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.085447876</Lat>\n                <Lon>-76.813342207</Lon>\n                <SeqNum>207</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.086627876</Lat>\n                <Lon>-76.811942206</Lon>\n                <SeqNum>208</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.088187877</Lat>\n                <Lon>-76.810172206</Lon>\n                <SeqNum>209</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.089947877</Lat>\n                <Lon>-76.808312204999993</Lon>\n                <SeqNum>210</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.092797878</Lat>\n                <Lon>-76.805442204</Lon>\n                <SeqNum>211</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.093017879</Lat>\n                <Lon>-76.805212204</Lon>\n                <SeqNum>212</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.093807878</Lat>\n                <Lon>-76.804412205</Lon>\n                <SeqNum>213</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.094837878</Lat>\n                <Lon>-76.803312204</Lon>\n                <SeqNum>214</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.095667879</Lat>\n                <Lon>-76.802372204</Lon>\n                <SeqNum>215</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.096437879</Lat>\n                <Lon>-76.801462204</Lon>\n                <SeqNum>216</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.096637879</Lat>\n                <Lon>-76.801232204</Lon>\n                <SeqNum>217</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.097247879</Lat>\n                <Lon>-76.800492204</Lon>\n                <SeqNum>218</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.098137879</Lat>\n                <Lon>-76.799392203</Lon>\n                <SeqNum>219</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.09830788</Lat>\n                <Lon>-76.799172204</Lon>\n                <SeqNum>220</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.09844788</Lat>\n                <Lon>-76.798992202</Lon>\n                <SeqNum>221</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.099777879</Lat>\n                <Lon>-76.797192203</Lon>\n                <SeqNum>222</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.10065788</Lat>\n                <Lon>-76.795982202</Lon>\n                <SeqNum>223</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.102157881</Lat>\n                <Lon>-76.793752202</Lon>\n                <SeqNum>224</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.102887881</Lat>\n                <Lon>-76.792722201</Lon>\n                <SeqNum>225</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.104157881</Lat>\n                <Lon>-76.790882201</Lon>\n                <SeqNum>226</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.105227881</Lat>\n                <Lon>-76.789462201</Lon>\n                <SeqNum>227</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.106157881</Lat>\n                <Lon>-76.788312199999993</Lon>\n                <SeqNum>228</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.106497882</Lat>\n                <Lon>-76.7878922</Lon>\n                <SeqNum>229</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.106627882</Lat>\n                <Lon>-76.7877522</Lon>\n                <SeqNum>230</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.107507881</Lat>\n                <Lon>-76.7866922</Lon>\n                <SeqNum>231</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.108347883</Lat>\n                <Lon>-76.785682199</Lon>\n                <SeqNum>232</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.108897882</Lat>\n                <Lon>-76.785012199</Lon>\n                <SeqNum>233</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.109457883</Lat>\n                <Lon>-76.784332199</Lon>\n                <SeqNum>234</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.109727882</Lat>\n                <Lon>-76.784012198</Lon>\n                <SeqNum>235</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.110097883</Lat>\n                <Lon>-76.783602199</Lon>\n                <SeqNum>236</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.110837883</Lat>\n                <Lon>-76.782672199</Lon>\n                <SeqNum>237</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.111797883</Lat>\n                <Lon>-76.781392199</Lon>\n                <SeqNum>238</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.112167884</Lat>\n                <Lon>-76.780882198</Lon>\n                <SeqNum>239</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.112827883</Lat>\n                <Lon>-76.779952198</Lon>\n                <SeqNum>240</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.113667884</Lat>\n                <Lon>-76.778682197</Lon>\n                <SeqNum>241</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.113927883</Lat>\n                <Lon>-76.778302198</Lon>\n                <SeqNum>242</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.114167884</Lat>\n                <Lon>-76.777942198</Lon>\n                <SeqNum>243</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.114277883</Lat>\n                <Lon>-76.777762197</Lon>\n                <SeqNum>244</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.114637884</Lat>\n                <Lon>-76.777192198</Lon>\n                <SeqNum>245</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.116207883</Lat>\n                <Lon>-76.774792197</Lon>\n                <SeqNum>246</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.116887884</Lat>\n                <Lon>-76.773772197</Lon>\n                <SeqNum>247</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.117617884</Lat>\n                <Lon>-76.772742196</Lon>\n                <SeqNum>248</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.117907884</Lat>\n                <Lon>-76.772362196</Lon>\n                <SeqNum>249</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.118197885</Lat>\n                <Lon>-76.771982196</Lon>\n                <SeqNum>250</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.118697884</Lat>\n                <Lon>-76.771302196</Lon>\n                <SeqNum>251</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.119177884</Lat>\n                <Lon>-76.770682196</Lon>\n                <SeqNum>252</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.120337885</Lat>\n                <Lon>-76.769292196</Lon>\n                <SeqNum>253</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.120827885</Lat>\n                <Lon>-76.768752195</Lon>\n                <SeqNum>254</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.121187885</Lat>\n                <Lon>-76.768342195</Lon>\n                <SeqNum>255</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.121487886</Lat>\n                <Lon>-76.768022195</Lon>\n                <SeqNum>256</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.121937885</Lat>\n                <Lon>-76.767532194</Lon>\n                <SeqNum>257</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.122847885</Lat>\n                <Lon>-76.766622194</Lon>\n                <SeqNum>258</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.123597886</Lat>\n                <Lon>-76.765902195</Lon>\n                <SeqNum>259</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.124407886</Lat>\n                <Lon>-76.765162194</Lon>\n                <SeqNum>260</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.125597886</Lat>\n                <Lon>-76.764142195</Lon>\n                <SeqNum>261</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.126717887</Lat>\n                <Lon>-76.763252193</Lon>\n                <SeqNum>262</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.128197887</Lat>\n                <Lon>-76.762162194</Lon>\n                <SeqNum>263</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.128977888</Lat>\n                <Lon>-76.761592194</Lon>\n                <SeqNum>264</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.129737888</Lat>\n                <Lon>-76.761092193</Lon>\n                <SeqNum>265</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.131167888</Lat>\n                <Lon>-76.760152193</Lon>\n                <SeqNum>266</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.132377888</Lat>\n                <Lon>-76.759392193</Lon>\n                <SeqNum>267</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.133257888</Lat>\n                <Lon>-76.758892193</Lon>\n                <SeqNum>268</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.133977889</Lat>\n                <Lon>-76.758472193</Lon>\n                <SeqNum>269</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.134907889</Lat>\n                <Lon>-76.757952193</Lon>\n                <SeqNum>270</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.136147888</Lat>\n                <Lon>-76.757312192</Lon>\n                <SeqNum>271</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.136757889</Lat>\n                <Lon>-76.757002192</Lon>\n                <SeqNum>272</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.137067889</Lat>\n                <Lon>-76.756862193</Lon>\n                <SeqNum>273</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.137367889</Lat>\n                <Lon>-76.756722192</Lon>\n                <SeqNum>274</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.13973789</Lat>\n                <Lon>-76.755592192</Lon>\n                <SeqNum>275</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.14007789</Lat>\n                <Lon>-76.755432192</Lon>\n                <SeqNum>276</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.140187889</Lat>\n                <Lon>-76.755382192</Lon>\n                <SeqNum>277</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.14076789</Lat>\n                <Lon>-76.755132192</Lon>\n                <SeqNum>278</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.14363789</Lat>\n                <Lon>-76.753872192</Lon>\n                <SeqNum>279</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.14441789</Lat>\n                <Lon>-76.753522191</Lon>\n                <SeqNum>280</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.148287891</Lat>\n                <Lon>-76.751762191</Lon>\n                <SeqNum>281</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.149327892</Lat>\n                <Lon>-76.751262192</Lon>\n                <SeqNum>282</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.150147892</Lat>\n                <Lon>-76.750792191</Lon>\n                <SeqNum>283</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.150807892</Lat>\n                <Lon>-76.750352192</Lon>\n                <SeqNum>284</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.151417892</Lat>\n                <Lon>-76.749922192</Lon>\n                <SeqNum>285</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.151997892</Lat>\n                <Lon>-76.74946219</Lon>\n                <SeqNum>286</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.152207893</Lat>\n                <Lon>-76.749292191</Lon>\n                <SeqNum>287</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.153277893</Lat>\n                <Lon>-76.74817219</Lon>\n                <SeqNum>288</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.154647892</Lat>\n                <Lon>-76.746792191</Lon>\n                <SeqNum>289</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.156107893</Lat>\n                <Lon>-76.74518219</Lon>\n                <SeqNum>290</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.156857894</Lat>\n                <Lon>-76.744392189</Lon>\n                <SeqNum>291</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.157987894</Lat>\n                <Lon>-76.74317219</Lon>\n                <SeqNum>292</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.159087894</Lat>\n                <Lon>-76.741922189</Lon>\n                <SeqNum>293</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.159957894</Lat>\n                <Lon>-76.740982189</Lon>\n                <SeqNum>294</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.162137895</Lat>\n                <Lon>-76.738642188</Lon>\n                <SeqNum>295</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.164947895</Lat>\n                <Lon>-76.735712187</Lon>\n                <SeqNum>296</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.165687896</Lat>\n                <Lon>-76.734942187</Lon>\n                <SeqNum>297</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.166437896</Lat>\n                <Lon>-76.734182187</Lon>\n                <SeqNum>298</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.167157895</Lat>\n                <Lon>-76.733522187</Lon>\n                <SeqNum>299</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.167407896</Lat>\n                <Lon>-76.733282187</Lon>\n                <SeqNum>300</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.168067896</Lat>\n                <Lon>-76.732652186</Lon>\n                <SeqNum>301</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.169487897</Lat>\n                <Lon>-76.731382186</Lon>\n                <SeqNum>302</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.169557896</Lat>\n                <Lon>-76.731312186</Lon>\n                <SeqNum>303</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.169967896</Lat>\n                <Lon>-76.730922186</Lon>\n                <SeqNum>304</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.170227897</Lat>\n                <Lon>-76.730672186</Lon>\n                <SeqNum>305</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.170387896</Lat>\n                <Lon>-76.730542186</Lon>\n                <SeqNum>306</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.170667897</Lat>\n                <Lon>-76.730312186</Lon>\n                <SeqNum>307</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.170827896</Lat>\n                <Lon>-76.730162186</Lon>\n                <SeqNum>308</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.173907898</Lat>\n                <Lon>-76.727402186</Lon>\n                <SeqNum>309</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.174157897</Lat>\n                <Lon>-76.727172186</Lon>\n                <SeqNum>310</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.174937897</Lat>\n                <Lon>-76.726472184</Lon>\n                <SeqNum>311</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.180927899</Lat>\n                <Lon>-76.721062184</Lon>\n                <SeqNum>312</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.182057899</Lat>\n                <Lon>-76.720052183</Lon>\n                <SeqNum>313</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.187407901</Lat>\n                <Lon>-76.715232182</Lon>\n                <SeqNum>314</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191857901</Lat>\n                <Lon>-76.711232181</Lon>\n                <SeqNum>315</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.192877901</Lat>\n                <Lon>-76.710292182</Lon>\n                <SeqNum>316</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.193447902</Lat>\n                <Lon>-76.709722181</Lon>\n                <SeqNum>317</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.193977902</Lat>\n                <Lon>-76.709122181</Lon>\n                <SeqNum>318</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.194327902</Lat>\n                <Lon>-76.708692181</Lon>\n                <SeqNum>319</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.194807902</Lat>\n                <Lon>-76.70806218</Lon>\n                <SeqNum>320</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.195497903</Lat>\n                <Lon>-76.707112181</Lon>\n                <SeqNum>321</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.196087902</Lat>\n                <Lon>-76.70612218</Lon>\n                <SeqNum>322</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.196637903</Lat>\n                <Lon>-76.70511218</Lon>\n                <SeqNum>323</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.196887903</Lat>\n                <Lon>-76.704602179</Lon>\n                <SeqNum>324</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.197217902</Lat>\n                <Lon>-76.70386218</Lon>\n                <SeqNum>325</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.197727903</Lat>\n                <Lon>-76.702622178</Lon>\n                <SeqNum>326</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.197947903</Lat>\n                <Lon>-76.702032179</Lon>\n                <SeqNum>327</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.198157903</Lat>\n                <Lon>-76.701452178</Lon>\n                <SeqNum>328</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.198367904</Lat>\n                <Lon>-76.700882178</Lon>\n                <SeqNum>329</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.198727903</Lat>\n                <Lon>-76.699432178</Lon>\n                <SeqNum>330</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.198777903</Lat>\n                <Lon>-76.699162178</Lon>\n                <SeqNum>331</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.198817903</Lat>\n                <Lon>-76.698742178</Lon>\n                <SeqNum>332</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.198817903</Lat>\n                <Lon>-76.698422177</Lon>\n                <SeqNum>333</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.198787904</Lat>\n                <Lon>-76.698142178</Lon>\n                <SeqNum>334</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.198577904</Lat>\n                <Lon>-76.697052177</Lon>\n                <SeqNum>335</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.198427903</Lat>\n                <Lon>-76.696352177</Lon>\n                <SeqNum>336</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.198377903</Lat>\n                <Lon>-76.696142177</Lon>\n                <SeqNum>337</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.197957903</Lat>\n                <Lon>-76.694042176</Lon>\n                <SeqNum>338</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.197827904</Lat>\n                <Lon>-76.693472176</Lon>\n                <SeqNum>339</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.197757903</Lat>\n                <Lon>-76.693272176</Lon>\n                <SeqNum>340</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.197557903</Lat>\n                <Lon>-76.692742176</Lon>\n                <SeqNum>341</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.197367903</Lat>\n                <Lon>-76.692342176</Lon>\n                <SeqNum>342</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.197047904</Lat>\n                <Lon>-76.691822176</Lon>\n                <SeqNum>343</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.196537902</Lat>\n                <Lon>-76.691042176</Lon>\n                <SeqNum>344</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.196317903</Lat>\n                <Lon>-76.690772174</Lon>\n                <SeqNum>345</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.196037903</Lat>\n                <Lon>-76.690442176</Lon>\n                <SeqNum>346</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.195747904</Lat>\n                <Lon>-76.690142174</Lon>\n                <SeqNum>347</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.195437903</Lat>\n                <Lon>-76.689862175</Lon>\n                <SeqNum>348</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.194997903</Lat>\n                <Lon>-76.689562174</Lon>\n                <SeqNum>349</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.194437902</Lat>\n                <Lon>-76.689112174</Lon>\n                <SeqNum>350</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.193567903</Lat>\n                <Lon>-76.688582175</Lon>\n                <SeqNum>351</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.193207903</Lat>\n                <Lon>-76.688362173</Lon>\n                <SeqNum>352</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.192527903</Lat>\n                <Lon>-76.687912174</Lon>\n                <SeqNum>353</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.192127902</Lat>\n                <Lon>-76.687582173</Lon>\n                <SeqNum>354</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191237902</Lat>\n                <Lon>-76.686762173</Lon>\n                <SeqNum>355</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.190627902</Lat>\n                <Lon>-76.686152174</Lon>\n                <SeqNum>356</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.190347902</Lat>\n                <Lon>-76.685862174</Lon>\n                <SeqNum>357</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.189957902</Lat>\n                <Lon>-76.685362173</Lon>\n                <SeqNum>358</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.189627902</Lat>\n                <Lon>-76.684892173</Lon>\n                <SeqNum>359</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.189187902</Lat>\n                <Lon>-76.684262173</Lon>\n                <SeqNum>360</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188927902</Lat>\n                <Lon>-76.683892173</Lon>\n                <SeqNum>361</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188627901</Lat>\n                <Lon>-76.683452172</Lon>\n                <SeqNum>362</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188267902</Lat>\n                <Lon>-76.682912173</Lon>\n                <SeqNum>363</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188137902</Lat>\n                <Lon>-76.682692172</Lon>\n                <SeqNum>364</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.187877902</Lat>\n                <Lon>-76.682332172</Lon>\n                <SeqNum>365</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.187627902</Lat>\n                <Lon>-76.681992171</Lon>\n                <SeqNum>366</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.186667902</Lat>\n                <Lon>-76.680592172</Lon>\n                <SeqNum>367</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.186577902</Lat>\n                <Lon>-76.680442172</Lon>\n                <SeqNum>368</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.186157902</Lat>\n                <Lon>-76.679432171</Lon>\n                <SeqNum>369</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.185957902</Lat>\n                <Lon>-76.678832171</Lon>\n                <SeqNum>370</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.185877901</Lat>\n                <Lon>-76.678532171</Lon>\n                <SeqNum>371</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.185697901</Lat>\n                <Lon>-76.677792171</Lon>\n                <SeqNum>372</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.185647901</Lat>\n                <Lon>-76.677582171</Lon>\n                <SeqNum>373</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.185507901</Lat>\n                <Lon>-76.67706217</Lon>\n                <SeqNum>374</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.185047901</Lat>\n                <Lon>-76.67578217</Lon>\n                <SeqNum>375</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.184867901</Lat>\n                <Lon>-76.67543217</Lon>\n                <SeqNum>376</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.184757901</Lat>\n                <Lon>-76.675242169</Lon>\n                <SeqNum>377</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.184627902</Lat>\n                <Lon>-76.67506217</Lon>\n                <SeqNum>378</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.184507901</Lat>\n                <Lon>-76.67492217</Lon>\n                <SeqNum>379</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.184367901</Lat>\n                <Lon>-76.67479217</Lon>\n                <SeqNum>380</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.183967902</Lat>\n                <Lon>-76.674392169</Lon>\n                <SeqNum>381</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.183577901</Lat>\n                <Lon>-76.67401217</Lon>\n                <SeqNum>382</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.183197901</Lat>\n                <Lon>-76.67359217</Lon>\n                <SeqNum>383</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.182897901</Lat>\n                <Lon>-76.673302168</Lon>\n                <SeqNum>384</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.182257901</Lat>\n                <Lon>-76.672682169</Lon>\n                <SeqNum>385</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.181737901</Lat>\n                <Lon>-76.672112169</Lon>\n                <SeqNum>386</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.181457901</Lat>\n                <Lon>-76.671932169</Lon>\n                <SeqNum>387</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.1797379</Lat>\n                <Lon>-76.670222168</Lon>\n                <SeqNum>388</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.1795379</Lat>\n                <Lon>-76.670012167</Lon>\n                <SeqNum>389</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.179477901</Lat>\n                <Lon>-76.669882168</Lon>\n                <SeqNum>390</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.1794679</Lat>\n                <Lon>-76.669732167</Lon>\n                <SeqNum>391</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.179507901</Lat>\n                <Lon>-76.669472167</Lon>\n                <SeqNum>392</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.1796179</Lat>\n                <Lon>-76.669172167</Lon>\n                <SeqNum>393</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.1797879</Lat>\n                <Lon>-76.668792167</Lon>\n                <SeqNum>394</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.179917901</Lat>\n                <Lon>-76.668622167</Lon>\n                <SeqNum>395</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.180147901</Lat>\n                <Lon>-76.668402167</Lon>\n                <SeqNum>396</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.1804079</Lat>\n                <Lon>-76.668282167</Lon>\n                <SeqNum>397</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.180567901</Lat>\n                <Lon>-76.668322168</Lon>\n                <SeqNum>398</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.181057901</Lat>\n                <Lon>-76.668742167</Lon>\n                <SeqNum>399</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.1812979</Lat>\n                <Lon>-76.668992167</Lon>\n                <SeqNum>400</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.181907901</Lat>\n                <Lon>-76.669542167</Lon>\n                <SeqNum>401</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.1827379</Lat>\n                <Lon>-76.670312167</Lon>\n                <SeqNum>402</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.182967901</Lat>\n                <Lon>-76.670552168</Lon>\n                <SeqNum>403</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.183397901</Lat>\n                <Lon>-76.670982168</Lon>\n                <SeqNum>404</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.183857901</Lat>\n                <Lon>-76.671452169</Lon>\n                <SeqNum>405</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.183977901</Lat>\n                <Lon>-76.671562168</Lon>\n                <SeqNum>406</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.184227902</Lat>\n                <Lon>-76.671792168</Lon>\n                <SeqNum>407</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.184337902</Lat>\n                <Lon>-76.671872169</Lon>\n                <SeqNum>408</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.184487901</Lat>\n                <Lon>-76.671992168</Lon>\n                <SeqNum>409</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.184877902</Lat>\n                <Lon>-76.672302169</Lon>\n                <SeqNum>410</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.185097901</Lat>\n                <Lon>-76.672462169</Lon>\n                <SeqNum>411</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.185547902</Lat>\n                <Lon>-76.672922169</Lon>\n                <SeqNum>412</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.185987902</Lat>\n                <Lon>-76.673332169</Lon>\n                <SeqNum>413</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.186357902</Lat>\n                <Lon>-76.673682169</Lon>\n                <SeqNum>414</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.186887902</Lat>\n                <Lon>-76.67418217</Lon>\n                <SeqNum>415</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.187297901</Lat>\n                <Lon>-76.67457217</Lon>\n                <SeqNum>416</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.187647901</Lat>\n                <Lon>-76.67488217</Lon>\n                <SeqNum>417</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.187987902</Lat>\n                <Lon>-76.67518217</Lon>\n                <SeqNum>418</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188227902</Lat>\n                <Lon>-76.67540217</Lon>\n                <SeqNum>419</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188397902</Lat>\n                <Lon>-76.67557217</Lon>\n                <SeqNum>420</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188527902</Lat>\n                <Lon>-76.67576217</Lon>\n                <SeqNum>421</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188647902</Lat>\n                <Lon>-76.67596217</Lon>\n                <SeqNum>422</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188997902</Lat>\n                <Lon>-76.676592171</Lon>\n                <SeqNum>423</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.189137902</Lat>\n                <Lon>-76.67650217</Lon>\n                <SeqNum>424</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.189287902</Lat>\n                <Lon>-76.67643217</Lon>\n                <SeqNum>425</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.189457902</Lat>\n                <Lon>-76.676372171</Lon>\n                <SeqNum>426</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.189867902</Lat>\n                <Lon>-76.67630217</Lon>\n                <SeqNum>427</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.190387902</Lat>\n                <Lon>-76.67626217</Lon>\n                <SeqNum>428</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.190527903</Lat>\n                <Lon>-76.67625217</Lon>\n                <SeqNum>429</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.190997903</Lat>\n                <Lon>-76.676212171</Lon>\n                <SeqNum>430</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191237902</Lat>\n                <Lon>-76.67619217</Lon>\n                <SeqNum>431</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191457903</Lat>\n                <Lon>-76.67617217</Lon>\n                <SeqNum>432</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191547902</Lat>\n                <Lon>-76.676172171</Lon>\n                <SeqNum>433</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191707902</Lat>\n                <Lon>-76.67623217</Lon>\n                <SeqNum>434</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191777903</Lat>\n                <Lon>-76.67530217</Lon>\n                <SeqNum>435</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191887903</Lat>\n                <Lon>-76.67421217</Lon>\n                <SeqNum>436</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191697903</Lat>\n                <Lon>-76.674152169</Lon>\n                <SeqNum>437</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191627903</Lat>\n                <Lon>-76.67406217</Lon>\n                <SeqNum>438</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191607903</Lat>\n                <Lon>-76.673932169</Lon>\n                <SeqNum>439</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191546519</Lat>\n                <Lon>-76.67302778</Lon>\n                <SeqNum>440</SeqNum>\n            </ShapePoint>\n        </Shape>\n        <Stops>\n            <Stop>\n                <Lat>39.011724</Lat>\n                <Lon>-76.910024</Lon>\n                <Name>GREENBELT STATION + BUS BAY D</Name>\n                <Routes\n                    xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\n                    <a:string>B30</a:string>\n                </Routes>\n                <StopID>3003037</StopID>\n            </Stop>\n            <Stop>\n                <Lat>39.011278</Lat>\n                <Lon>-76.904326</Lon>\n                <Name>GREENBELT METRO DR + CHERRYWOOD LA</Name>\n                <Routes\n                    xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\n                    <a:string>81</a:string>\n                    <a:string>87</a:string>\n                    <a:string>87cv2</a:string>\n                    <a:string>87v1</a:string>\n                    <a:string>89</a:string>\n                    <a:string>89M</a:string>\n                    <a:string>89v1</a:string>\n                    <a:string>B30</a:string>\n                    <a:string>C2</a:string>\n                    <a:string>C2v2</a:string>\n                    <a:string>G12</a:string>\n                    <a:string>G12c</a:string>\n                    <a:string>G12cv1</a:string>\n                    <a:string>G13</a:string>\n                    <a:string>G14</a:string>\n                    <a:string>G16</a:string>\n                    <a:string>R11</a:string>\n                    <a:string>R12</a:string>\n                    <a:string>R3</a:string>\n                </Routes>\n                <StopID>3002579</StopID>\n            </Stop>\n            <Stop>\n                <Lat>39.181777</Lat>\n                <Lon>-76.672053</Lon>\n                <Name>BWI + LOADING AREA SIGN</Name>\n                <Routes\n                    xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\n                    <a:string>B30</a:string>\n                </Routes>\n                <StopID>0</StopID>\n            </Stop>\n            <Stop>\n                <Lat>39.181166</Lat>\n                <Lon>-76.671718</Lon>\n                <Name>BWI AIRPORT + STOP 1</Name>\n                <Routes\n                    xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\n                    <a:string>B30</a:string>\n                </Routes>\n                <StopID>3004114</StopID>\n            </Stop>\n            <Stop>\n                <Lat>39.181321</Lat>\n                <Lon>-76.668936</Lon>\n                <Name>BWI AIRPORT + STOP 2</Name>\n                <Routes\n                    xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\n                    <a:string>B30</a:string>\n                </Routes>\n                <StopID>3003038</StopID>\n            </Stop>\n            <Stop>\n                <Lat>39.184172</Lat>\n                <Lon>-76.671663</Lon>\n                <Name>BWI + EXIT SIGN</Name>\n                <Routes\n                    xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\n                    <a:string>B30</a:string>\n                </Routes>\n                <StopID>0</StopID>\n            </Stop>\n            <Stop>\n                <Lat>39.191491</Lat>\n                <Lon>-76.673025</Lon>\n                <Name>BWI BUSINESS DISTRICT LIGHT RAIL ST</Name>\n                <Routes\n                    xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\n                    <a:string>B30</a:string>\n                </Routes>\n                <StopID>3003039</StopID>\n            </Stop>\n        </Stops>\n        <TripHeadsign>BWI - THURGOOD MARSHALL  AIRPORT</TripHeadsign>\n    </Direction0>\n    <Direction1>\n        <DirectionNum>1</DirectionNum>\n        <DirectionText>SOUTH</DirectionText>\n        <Shape>\n            <ShapePoint>\n                <Lat>39.191546519</Lat>\n                <Lon>-76.673027778</Lon>\n                <SeqNum>1</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191539785</Lat>\n                <Lon>-76.672928564</Lon>\n                <SeqNum>2</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191550233</Lat>\n                <Lon>-76.67276677</Lon>\n                <SeqNum>3</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191593665</Lat>\n                <Lon>-76.672654035</Lon>\n                <SeqNum>4</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.19173021</Lat>\n                <Lon>-76.672568957</Lon>\n                <SeqNum>5</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191847903</Lat>\n                <Lon>-76.672602169</Lon>\n                <SeqNum>6</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.192037902</Lat>\n                <Lon>-76.672642169</Lon>\n                <SeqNum>7</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191887903</Lat>\n                <Lon>-76.67421217</Lon>\n                <SeqNum>8</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191777903</Lat>\n                <Lon>-76.67530217</Lon>\n                <SeqNum>9</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191707902</Lat>\n                <Lon>-76.67623217</Lon>\n                <SeqNum>10</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191537903</Lat>\n                <Lon>-76.67628217</Lon>\n                <SeqNum>11</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.191247903</Lat>\n                <Lon>-76.67633217</Lon>\n                <SeqNum>12</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.190947903</Lat>\n                <Lon>-76.676382171</Lon>\n                <SeqNum>13</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.190527902</Lat>\n                <Lon>-76.67646217</Lon>\n                <SeqNum>14</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.190387903</Lat>\n                <Lon>-76.67648217</Lon>\n                <SeqNum>15</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.189887902</Lat>\n                <Lon>-76.67655217</Lon>\n                <SeqNum>16</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.189697902</Lat>\n                <Lon>-76.676562171</Lon>\n                <SeqNum>17</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.189517902</Lat>\n                <Lon>-76.676592171</Lon>\n                <SeqNum>18</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.189337902</Lat>\n                <Lon>-76.676622171</Lon>\n                <SeqNum>19</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.189207902</Lat>\n                <Lon>-76.67667217</Lon>\n                <SeqNum>20</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.189077903</Lat>\n                <Lon>-76.67674217</Lon>\n                <SeqNum>21</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188957902</Lat>\n                <Lon>-76.67683217</Lon>\n                <SeqNum>22</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188837902</Lat>\n                <Lon>-76.67695217</Lon>\n                <SeqNum>23</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188737902</Lat>\n                <Lon>-76.67712217</Lon>\n                <SeqNum>24</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188657902</Lat>\n                <Lon>-76.67733217</Lon>\n                <SeqNum>25</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188597902</Lat>\n                <Lon>-76.677592171</Lon>\n                <SeqNum>26</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188567901</Lat>\n                <Lon>-76.67789217</Lon>\n                <SeqNum>27</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188527902</Lat>\n                <Lon>-76.67832217</Lon>\n                <SeqNum>28</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188497902</Lat>\n                <Lon>-76.678572171</Lon>\n                <SeqNum>29</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188387902</Lat>\n                <Lon>-76.679002171</Lon>\n                <SeqNum>30</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.188187902</Lat>\n                <Lon>-76.679402171</Lon>\n                <SeqNum>31</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.187897902</Lat>\n                <Lon>-76.679692171</Lon>\n                <SeqNum>32</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.187547901</Lat>\n                <Lon>-76.679882172</Lon>\n                <SeqNum>33</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.187147902</Lat>\n                <Lon>-76.679912171</Lon>\n                <SeqNum>34</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.186897901</Lat>\n                <Lon>-76.679852171</Lon>\n                <SeqNum>35</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.186677902</Lat>\n                <Lon>-76.679732171</Lon>\n                <SeqNum>36</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.186457902</Lat>\n                <Lon>-76.679472171</Lon>\n                <SeqNum>37</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.186237902</Lat>\n                <Lon>-76.679202172</Lon>\n                <SeqNum>38</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.186027902</Lat>\n                <Lon>-76.678692171</Lon>\n                <SeqNum>39</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.185797901</Lat>\n                <Lon>-76.67784217</Lon>\n                <SeqNum>40</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.185497902</Lat>\n                <Lon>-76.67673217</Lon>\n                <SeqNum>41</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.185047901</Lat>\n                <Lon>-76.67578217</Lon>\n                <SeqNum>42</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.184867901</Lat>\n                <Lon>-76.67543217</Lon>\n                <SeqNum>43</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.184757901</Lat>\n                <Lon>-76.675242169</Lon>\n                <SeqNum>44</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.184627902</Lat>\n                <Lon>-76.67506217</Lon>\n                <SeqNum>45</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.184507901</Lat>\n                <Lon>-76.67492217</Lon>\n                <SeqNum>46</SeqNum>\n            </ShapePoint>\n            <ShapePoint>\n                <Lat>39.184367901</Lat>\n           
[...]
