swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Azure Application Insights client for Continuous Export of a component.
  title: ApplicationInsightsManagementClient
  version: 2015-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentContinuousExport_API.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: applicationinsights-componentContinuousExport_API
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ExportId:
    description: The Continuous Export configuration ID. This is unique within a Application Insights component.
    in: path
    name: exportId
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceNameParameter:
    description: The name of the Application Insights component resource.
    in: path
    name: resourceName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/exportconfiguration":
    get:
      description: Gets a list of Continuous Export configuration of an Application Insights component.
      operationId: ExportConfigurations_List
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
      responses:
        "200":
          description: A list containing 0 or more Continuous Export configuration definitions of an Application Insights component.
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentExportConfigurationListResult"
      x-ms-examples:
        ExportConfigurationsList:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                - ApplicationName: my-component
                  ContainerName: mystorageblob
                  DestinationAccountId: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Storage/storageAccounts/mystorageblob
                  DestinationStorageLocationId: eastasia
                  DestinationStorageSubscriptionId: subidc
                  DestinationType: Blob
                  ExportId: uGOoki0jQsyEs3IdQ83Q4QsNr4=
                  ExportStatus: Preparing
                  InstrumentationKey: 8330b4a4-0b8e-40cf-a643-bbaf60d375c9
                  IsUserEnabled: "False"
                  LastGapTime: 9999-12-31T23:59:59.999Z
                  LastSuccessTime: 9999-12-31T23:59:59.999Z
                  LastUserUpdate: 2017-06-05T06:34:26.957Z
                  NotificationQueueEnabled: "False"
                  PermanentErrorReason: None
                  RecordTypes: Requests, Event, Exceptions, Metrics, PageViews, PageViewPerformance, Rdd, PerformanceCounters, Availability
                  ResourceGroup: "2"
                  StorageName: mystorageblob
                  SubscriptionId: subid
    post:
      description: Create a Continuous Export configuration of an Application Insights component.
      operationId: ExportConfigurations_Create
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
        - description: Properties that need to be specified to create a Continuous Export configuration of a Application Insights component.
          in: body
          name: ExportProperties
          required: true
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentExportRequest"
      responses:
        "200":
          description: A list containing the Continuous Export configuration definition created by this POST call.
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentExportConfigurationListResult"
      x-ms-examples:
        ExportConfigurationPost:
          parameters:
            ExportProperties:
              DestinationAccountId: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.ClassicStorage/storageAccounts/mystorageblob
              DestinationAddress: https://mystorageblob.blob.core.windows.net/testexport?sv=2015-04-05&sr=c&sig=token
              DestinationStorageLocationId: eastus
              DestinationStorageSubscriptionId: subid
              DestinationType: Blob
              IsEnabled: "true"
              NotificationQueueEnabled: "false"
              NotificationQueueUri: ""
              RecordTypes: Requests, Event, Exceptions, Metrics, PageViews, PageViewPerformance, Rdd, PerformanceCounters, Availability
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                - ApplicationName: my-component
                  ContainerName: mystorageblob
                  DestinationAccountId: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Storage/storageAccounts/mystorageblob
                  DestinationStorageLocationId: eastasia
                  DestinationStorageSubscriptionId: subidc
                  DestinationType: Blob
                  ExportId: uGOoki0jQsyEs3IdQ83Q4QsNr4=
                  ExportStatus: Preparing
                  InstrumentationKey: 8330b4a4-0b8e-40cf-a643-bbaf60d375c9
                  IsUserEnabled: "False"
                  LastGapTime: 9999-12-31T23:59:59.999Z
                  LastSuccessTime: 9999-12-31T23:59:59.999Z
                  LastUserUpdate: 2017-06-05T06:34:26.957Z
                  NotificationQueueEnabled: "False"
                  PermanentErrorReason: None
                  RecordTypes: Requests, Event, Exceptions, Metrics, PageViews, PageViewPerformance, Rdd, PerformanceCounters, Availability
                  ResourceGroup: "2"
                  StorageName: mystorageblob
                  SubscriptionId: subid
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/exportconfiguration/{exportId}":
    delete:
      description: Delete a Continuous Export configuration of an Application Insights component.
      operationId: ExportConfigurations_Delete
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
        - $ref: "#/parameters/ExportId"
      responses:
        "200":
          description: The Continuous Export configuration that was successfully deleted.
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentExportConfiguration"
      x-ms-examples:
        ExportConfigurationDelete:
          parameters:
            api-version: 2015-05-01
            exportId: uGOoki0jQsyEs3IdQ83Q4QsNr4=
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                ApplicationName: my-component
                ContainerName: mystorageblob
                DestinationAccountId: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Storage/storageAccounts/mystorageblob
                DestinationStorageLocationId: eastasia
                DestinationStorageSubscriptionId: subidc
                DestinationType: Blob
                ExportId: uGOoki0jQsyEs3IdQ83Q4QsNr4=
                ExportStatus: Preparing
                InstrumentationKey: 8330b4a4-0b8e-40cf-a643-bbaf60d375c9
                IsUserEnabled: "False"
                LastGapTime: 9999-12-31T23:59:59.999Z
                LastSuccessTime: 9999-12-31T23:59:59.999Z
                LastUserUpdate: 2017-06-05T06:34:26.957Z
                NotificationQueueEnabled: "False"
                PermanentErrorReason: None
                RecordTypes: Requests, Event, Exceptions, Metrics, PageViews, PageViewPerformance, Rdd, PerformanceCounters, Availability
                ResourceGroup: "2"
                StorageName: mystorageblob
                SubscriptionId: subid
    get:
      description: Get the Continuous Export configuration for this export id.
      operationId: ExportConfigurations_Get
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
        - $ref: "#/parameters/ExportId"
      responses:
        "200":
          description: The Continuous Export configuration for this export id.
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentExportConfiguration"
      x-ms-examples:
        ExportConfigurationGet:
          parameters:
            api-version: 2015-05-01
            exportId: uGOoki0jQsyEs3IdQ83Q4QsNr4=
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                ApplicationName: my-component
                ContainerName: mystorageblob
                DestinationAccountId: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Storage/storageAccounts/mystorageblob
                DestinationStorageLocationId: eastasia
                DestinationStorageSubscriptionId: subidc
                DestinationType: Blob
                ExportId: uGOoki0jQsyEs3IdQ83Q4QsNr4=
                ExportStatus: Preparing
                InstrumentationKey: 8330b4a4-0b8e-40cf-a643-bbaf60d375c9
                IsUserEnabled: "False"
                LastGapTime: 9999-12-31T23:59:59.999Z
                LastSuccessTime: 9999-12-31T23:59:59.999Z
                LastUserUpdate: 2017-06-05T06:34:26.957Z
                NotificationQueueEnabled: "False"
                PermanentErrorReason: None
                RecordTypes: Requests, Event, Exceptions, Metrics, PageViews, PageViewPerformance, Rdd, PerformanceCounters, Availability
                ResourceGroup: "2"
                StorageName: mystorageblob
                SubscriptionId: subid
    put:
      description: Update the Continuous Export configuration for this export id.
      operationId: ExportConfigurations_Update
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
        - $ref: "#/parameters/ExportId"
        - description: Properties that need to be specified to update the Continuous Export configuration.
          in: body
          name: ExportProperties
          required: true
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentExportRequest"
      responses:
        "200":
          description: The Continuous Export configuration that was successfully updated.
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentExportConfiguration"
      x-ms-examples:
        ExportConfigurationUpdate:
          parameters:
            ExportProperties:
              DestinationAccountId: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.ClassicStorage/storageAccounts/mystorageblob
              DestinationAddress: https://mystorageblob.blob.core.windows.net/fchentest?sv=2015-04-05&sr=c&sig=token
              DestinationStorageLocationId: eastus
              DestinationStorageSubscriptionId: subid
              DestinationType: Blob
              IsEnabled: "true"
              NotificationQueueEnabled: "false"
              NotificationQueueUri: ""
              RecordTypes: Requests, Event, Exceptions, Metrics, PageViews, PageViewPerformance, Rdd, PerformanceCounters, Availability
            api-version: 2015-05-01
            exportId: uGOoki0jQsyEs3IdQ83Q4QsNr4=
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                ApplicationName: my-component
                ContainerName: mystorageblob
                DestinationAccountId: /subscriptions/subid/resourceGroups/my-resource-group/providers/Microsoft.Storage/storageAccounts/mystorageblob
                DestinationStorageLocationId: eastasia
                DestinationStorageSubscriptionId: subidc
                DestinationType: Blob
                ExportId: uGOoki0jQsyEs3IdQ83Q4QsNr4=
                ExportStatus: Preparing
                InstrumentationKey: 8330b4a4-0b8e-40cf-a643-bbaf60d375c9
                IsUserEnabled: "False"
                LastGapTime: 9999-12-31T23:59:59.999Z
                LastSuccessTime: 9999-12-31T23:59:59.999Z
                LastUserUpdate: 2017-06-05T06:34:26.957Z
                NotificationQueueEnabled: "False"
                PermanentErrorReason: None
                RecordTypes: Requests, Event, Exceptions, Metrics, PageViews, PageViewPerformance, Rdd, PerformanceCounters, Availability
                ResourceGroup: "2"
                StorageName: mystorageblob
                SubscriptionId: subid
definitions:
  ApplicationInsightsComponentExportConfiguration:
    description: Properties that define a Continuous Export configuration.
    properties:
      ApplicationName:
        description: The name of the Application Insights component.
        readOnly: true
        type: string
      ContainerName:
        description: The name of the destination storage container.
        readOnly: true
        type: string
      DestinationAccountId:
        description: The name of destination account.
        readOnly: true
        type: string
      DestinationStorageLocationId:
        description: The destination account location ID.
        readOnly: true
        type: string
      DestinationStorageSubscriptionId:
        description: The destination storage account subscription ID.
        readOnly: true
        type: string
      DestinationType:
        description: The destination type.
        readOnly: true
        type: string
      ExportId:
        description: The unique ID of the export configuration inside an Application Insights component. It is auto generated when the Continuous Export configuration is created.
        readOnly: true
        type: string
      ExportStatus:
        description: This indicates current Continuous Export configuration status. The possible values are 'Preparing', 'Success', 'Failure'.
        readOnly: true
        type: string
      InstrumentationKey:
        description: The instrumentation key of the Application Insights component.
        readOnly: true
        type: string
      IsUserEnabled:
        description: This will be 'true' if the Continuous Export configuration is enabled, otherwise it will be 'false'.
        readOnly: true
        type: string
      LastGapTime:
        description: The last time the Continuous Export configuration started failing.
        readOnly: true
        type: string
      LastSuccessTime:
        description: The last time data was successfully delivered to the destination storage container for this Continuous Export configuration.
        readOnly: true
        type: string
      LastUserUpdate:
        description: Last time the Continuous Export configuration was updated.
        readOnly: true
        type: string
      NotificationQueueEnabled:
        description: Deprecated
        type: string
      PermanentErrorReason:
        description: This is the reason the Continuous Export configuration started failing. It can be 'AzureStorageNotFound' or 'AzureStorageAccessDenied'.
        readOnly: true
        type: string
      RecordTypes:
        description: This comma separated list of document types that will be exported. The possible values include 'Requests', 'Event', 'Exceptions', 'Metrics', 'PageViews', 'PageViewPerformance', 'Rdd', 'PerformanceCounters', 'Availability', 'Messages'.
        type: string
      ResourceGroup:
        description: The resource group of the Application Insights component.
        readOnly: true
        type: string
      StorageName:
        description: The name of the destination storage account.
        readOnly: true
        type: string
      SubscriptionId:
        description: The subscription of the Application Insights component.
        readOnly: true
        type: string
    type: object
  ApplicationInsightsComponentExportConfigurationListResult:
    description: A list of Continuous Export configurations.
    items:
      $ref: "#/definitions/ApplicationInsightsComponentExportConfiguration"
    type: array
  ApplicationInsightsComponentExportRequest:
    description: An Application Insights component Continuous Export configuration request definition.
    properties:
      DestinationAccountId:
        description: The name of destination storage account.
        type: string
      DestinationAddress:
        description: The SAS URL for the destination storage container. It must grant write permission.
        type: string
      DestinationStorageLocationId:
        description: The location ID of the destination storage container.
        type: string
      DestinationStorageSubscriptionId:
        description: The subscription ID of the destination storage container.
        type: string
      DestinationType:
        description: The Continuous Export destination type. This has to be 'Blob'.
        type: string
      IsEnabled:
        description: Set to 'true' to create a Continuous Export configuration as enabled, otherwise set it to 'false'.
        type: string
      NotificationQueueEnabled:
        description: Deprecated
        type: string
      NotificationQueueUri:
        description: Deprecated
        type: string
      RecordTypes:
        description: The document types to be exported, as comma separated values. Allowed values include 'Requests', 'Event', 'Exceptions', 'Metrics', 'PageViews', 'PageViewPerformance', 'Rdd', 'PerformanceCounters', 'Availability', 'Messages'.
        type: string
    type: object
