openapi: 3.0.0
servers:
  - url: https://tagmanager.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: This API allows clients to access and modify container and tag configuration.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Tag Manager API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://tagmanager.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: tagmanager
externalDocs:
  url: https://developers.google.com/tag-manager
tags:
  - name: accounts
paths:
  /tagmanager/v1/accounts:
    get:
      description: Lists all GTM Accounts that a user has access to.
      operationId: tagmanager.accounts.list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccountsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.manage.accounts
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.manage.accounts
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/tagmanager/v1/accounts/{accountId}":
    get:
      description: Gets a GTM Account.
      operationId: tagmanager.accounts.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.manage.accounts
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.manage.accounts
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Updates a GTM Account.
      operationId: tagmanager.accounts.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: When provided, this fingerprint must match the fingerprint of the account in storage.
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Account"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.manage.accounts
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.manage.accounts
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers":
    get:
      description: Lists all Containers that belongs to a GTM Account.
      operationId: tagmanager.accounts.containers.list
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListContainersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a Container.
      operationId: tagmanager.accounts.containers.create
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Container"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Container"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}":
    delete:
      description: Deletes a Container.
      operationId: tagmanager.accounts.containers.delete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.delete.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.delete.containers
      tags:
        - accounts
    get:
      description: Gets a Container.
      operationId: tagmanager.accounts.containers.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Container"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Updates a Container.
      operationId: tagmanager.accounts.containers.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: When provided, this fingerprint must match the fingerprint of the container in storage.
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Container"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Container"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments":
    get:
      description: Lists all GTM Environments of a GTM Container.
      operationId: tagmanager.accounts.containers.environments.list
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEnvironmentsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a GTM Environment.
      operationId: tagmanager.accounts.containers.environments.create
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Environment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Environment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}":
    delete:
      description: Deletes a GTM Environment.
      operationId: tagmanager.accounts.containers.environments.delete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Environment ID.
          in: path
          name: environmentId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
    get:
      description: Gets a GTM Environment.
      operationId: tagmanager.accounts.containers.environments.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Environment ID.
          in: path
          name: environmentId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Environment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Updates a GTM Environment.
      operationId: tagmanager.accounts.containers.environments.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Environment ID.
          in: path
          name: environmentId
          required: true
          schema:
            type: string
        - description: When provided, this fingerprint must match the fingerprint of the environment in storage.
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Environment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Environment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders":
    get:
      description: Lists all GTM Folders of a Container.
      operationId: tagmanager.accounts.containers.folders.list
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListFoldersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a GTM Folder.
      operationId: tagmanager.accounts.containers.folders.create
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Folder"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Folder"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}":
    delete:
      description: Deletes a GTM Folder.
      operationId: tagmanager.accounts.containers.folders.delete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Folder ID.
          in: path
          name: folderId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
    get:
      description: Gets a GTM Folder.
      operationId: tagmanager.accounts.containers.folders.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Folder ID.
          in: path
          name: folderId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Folder"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Updates a GTM Folder.
      operationId: tagmanager.accounts.containers.folders.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Folder ID.
          in: path
          name: folderId
          required: true
          schema:
            type: string
        - description: When provided, this fingerprint must match the fingerprint of the folder in storage.
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Folder"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Folder"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities":
    get:
      description: List all entities in a GTM Folder.
      operationId: tagmanager.accounts.containers.folders.entities.list
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Folder ID.
          in: path
          name: folderId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FolderEntities"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Moves entities to a GTM Folder.
      operationId: tagmanager.accounts.containers.move_folders.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Folder ID.
          in: path
          name: folderId
          required: true
          schema:
            type: string
        - description: The tags to be moved to the folder.
          explode: true
          in: query
          name: tagId
          schema:
            items:
              type: string
            type: array
          style: form
        - description: The triggers to be moved to the folder.
          explode: true
          in: query
          name: triggerId
          schema:
            items:
              type: string
            type: array
          style: form
        - description: The variables to be moved to the folder.
          explode: true
          in: query
          name: variableId
          schema:
            items:
              type: string
            type: array
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Folder"
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Re-generates the authorization code for a GTM Environment.
      operationId: tagmanager.accounts.containers.reauthorize_environments.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Environment ID.
          in: path
          name: environmentId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Environment"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Environment"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.publish
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.publish
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags":
    get:
      description: Lists all GTM Tags of a Container.
      operationId: tagmanager.accounts.containers.tags.list
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTagsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a GTM Tag.
      operationId: tagmanager.accounts.containers.tags.create
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Tag"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tag"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}":
    delete:
      description: Deletes a GTM Tag.
      operationId: tagmanager.accounts.containers.tags.delete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Tag ID.
          in: path
          name: tagId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
    get:
      description: Gets a GTM Tag.
      operationId: tagmanager.accounts.containers.tags.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Tag ID.
          in: path
          name: tagId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tag"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Updates a GTM Tag.
      operationId: tagmanager.accounts.containers.tags.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Tag ID.
          in: path
          name: tagId
          required: true
          schema:
            type: string
        - description: When provided, this fingerprint must match the fingerprint of the tag in storage.
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Tag"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tag"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers":
    get:
      description: Lists all GTM Triggers of a Container.
      operationId: tagmanager.accounts.containers.triggers.list
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTriggersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a GTM Trigger.
      operationId: tagmanager.accounts.containers.triggers.create
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Trigger"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trigger"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}":
    delete:
      description: Deletes a GTM Trigger.
      operationId: tagmanager.accounts.containers.triggers.delete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Trigger ID.
          in: path
          name: triggerId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
    get:
      description: Gets a GTM Trigger.
      operationId: tagmanager.accounts.containers.triggers.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Trigger ID.
          in: path
          name: triggerId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trigger"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Updates a GTM Trigger.
      operationId: tagmanager.accounts.containers.triggers.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Trigger ID.
          in: path
          name: triggerId
          required: true
          schema:
            type: string
        - description: When provided, this fingerprint must match the fingerprint of the trigger in storage.
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Trigger"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Trigger"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables":
    get:
      description: Lists all GTM Variables of a Container.
      operationId: tagmanager.accounts.containers.variables.list
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVariablesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a GTM Variable.
      operationId: tagmanager.accounts.containers.variables.create
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Variable"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Variable"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}":
    delete:
      description: Deletes a GTM Variable.
      operationId: tagmanager.accounts.containers.variables.delete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Variable ID.
          in: path
          name: variableId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
    get:
      description: Gets a GTM Variable.
      operationId: tagmanager.accounts.containers.variables.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Variable ID.
          in: path
          name: variableId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Variable"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Updates a GTM Variable.
      operationId: tagmanager.accounts.containers.variables.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Variable ID.
          in: path
          name: variableId
          required: true
          schema:
            type: string
        - description: When provided, this fingerprint must match the fingerprint of the variable in storage.
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Variable"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Variable"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions":
    get:
      description: Lists all Container Versions of a GTM Container.
      operationId: tagmanager.accounts.containers.versions.list
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: Retrieve headers only when true.
          in: query
          name: headers
          schema:
            type: boolean
        - description: Also retrieve deleted (archived) versions when true.
          in: query
          name: includeDeleted
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListContainerVersionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a Container Version.
      operationId: tagmanager.accounts.containers.versions.create
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContainerVersionRequestVersionOptions"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateContainerVersionResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}":
    delete:
      description: Deletes a Container Version.
      operationId: tagmanager.accounts.containers.versions.delete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Container Version ID.
          in: path
          name: containerVersionId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
      tags:
        - accounts
    get:
      description: Gets a Container Version.
      operationId: tagmanager.accounts.containers.versions.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Container Version ID. Specify published to retrieve the currently published version.
          in: path
          name: containerVersionId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerVersion"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Updates a Container Version.
      operationId: tagmanager.accounts.containers.versions.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Container Version ID.
          in: path
          name: containerVersionId
          required: true
          schema:
            type: string
        - description: When provided, this fingerprint must match the fingerprint of the container version in storage.
          in: query
          name: fingerprint
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContainerVersion"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerVersion"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Publishes a Container Version.
      operationId: tagmanager.accounts.containers.versions.publish
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Container Version ID.
          in: path
          name: containerVersionId
          required: true
          schema:
            type: string
        - description: When provided, this fingerprint must match the fingerprint of the container version in storage.
          in: query
          name: fingerprint
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublishContainerVersionResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.publish
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.publish
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Restores a Container Version. This will overwrite the container's current configuration (including its variables, triggers and tags). The operation will not have any effect on the version that is being served (i.e. the published version).
      operationId: tagmanager.accounts.containers.versions.restore
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Container Version ID.
          in: path
          name: containerVersionId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerVersion"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Undeletes a Container Version.
      operationId: tagmanager.accounts.containers.versions.undelete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM Container ID.
          in: path
          name: containerId
          required: true
          schema:
            type: string
        - description: The GTM Container Version ID.
          in: path
          name: containerVersionId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerVersion"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.edit.containerversions
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/permissions":
    get:
      description: List all users that have access to the account along with Account and Container Permissions granted to each of them.
      operationId: tagmanager.accounts.permissions.list
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccountUsersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.manage.users
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a user's Account & Container Permissions.
      operationId: tagmanager.accounts.permissions.create
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserAccess"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserAccess"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.manage.users
      tags:
        - accounts
  "/tagmanager/v1/accounts/{accountId}/permissions/{permissionId}":
    delete:
      description: Removes a user from the account, revoking access to it and all of its containers.
      operationId: tagmanager.accounts.permissions.delete
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM User ID.
          in: path
          name: permissionId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.manage.users
      tags:
        - accounts
    get:
      description: Gets a user's Account & Container Permissions.
      operationId: tagmanager.accounts.permissions.get
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM User ID.
          in: path
          name: permissionId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserAccess"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.manage.users
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Updates a user's Account & Container Permissions.
      operationId: tagmanager.accounts.permissions.update
      parameters:
        - description: The GTM Account ID.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The GTM User ID.
          in: path
          name: permissionId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserAccess"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserAccess"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/tagmanager.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/tagmanager.manage.users
      tags:
        - accounts
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Account:
      description: Represents a Google Tag Manager Account.
      properties:
        accountId:
          description: The Account ID uniquely identifies the GTM Account.
          type: string
        fingerprint:
          description: The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.
          type: string
        name:
          description: Account display name. @mutable tagmanager.accounts.create @mutable tagmanager.accounts.update
          type: string
        shareData:
          description: Whether the account shares data anonymously with Google and others. @mutable tagmanager.accounts.create @mutable tagmanager.accounts.update
          type: boolean
      type: object
    AccountAccess:
      description: Defines the Google Tag Manager Account access permissions.
      properties:
        permission:
          description: List of Account permissions. Valid account permissions are read and manage. @mutable tagmanager.accounts.permissions.create @mutable tagmanager.accounts.permissions.update
          items:
            enum:
              - read
              - edit
              - publish
              - delete
              - manage
              - editWorkspace
            type: string
          type: array
      type: object
    Condition:
      description: Represents a predicate.
      properties:
        parameter:
          description: "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. @mutable tagmanager.accounts.containers.triggers.create @mutable tagmanager.accounts.containers.triggers.update"
          items:
            $ref: "#/components/schemas/Parameter"
          type: array
        type:
          description: The type of operator for this condition. @mutable tagmanager.accounts.containers.triggers.create @mutable tagmanager.accounts.containers.triggers.update
          enum:
            - equals
            - contains
            - startsWith
            - endsWith
            - matchRegex
            - greater
            - greaterOrEquals
            - less
            - lessOrEquals
            - cssSelector
            - urlMatches
          type: string
      type: object
    Container:
      description: Represents a Google Tag Manager Container.
      properties:
        accountId:
          description: GTM Account ID.
          type: string
        containerId:
          description: The Container ID uniquely identifies the GTM Container.
          type: string
        domainName:
          description: Optional list of domain names associated with the Container. @mutable tagmanager.accounts.containers.create @mutable tagmanager.accounts.containers.update
          items:
            type: string
          type: array
        enabledBuiltInVariable:
          description: "List of enabled built-in variables. Valid values include: pageUrl, pageHostname, pagePath, referrer, event, clickElement, clickClasses, clickId, clickTarget, clickUrl, clickText, formElement, formClasses, formId, formTarget, formUrl, formText, errorMessage, errorUrl, errorLine, newHistoryFragment, oldHistoryFragment, newHistoryState, oldHistoryState, historySource, containerVersion, debugMode, randomNumber, containerId. @mutable tagmanager.accounts.containers.create @mutable tagmanager.accounts.containers.update"
          items:
            enum:
              - pageUrl
              - pageHostname
              - pagePath
              - referrer
              - event
              - clickElement
              - clickClasses
              - clickId
              - clickTarget
              - clickUrl
              - clickText
              - firstPartyServingUrl
              - formElement
              - formClasses
              - formId
              - formTarget
              - formUrl
              - formText
              - environmentName
              - errorMessage
              - errorUrl
              - errorLine
              - newHistoryUrl
              - oldHistoryUrl
              - newHistoryFragment
              - oldHistoryFragment
              - newHistoryState
              - oldHistoryState
              - historySource
              - containerVersion
              - debugMode
              - randomNumber
              - containerId
              - appId
              - appName
              - appVersionCode
              - appVersionName
              - language
              - osVersion
              - platform
              - sdkVersion
              - deviceName
              - resolution
              - advertiserId
              - advertisingTrackingEnabled
              - htmlId
              - ampBrowserLanguage
              - ampCanonicalPath
              - ampCanonicalUrl
              - ampCanonicalHost
              - ampReferrer
              - ampTitle
              - ampClientId
              - ampClientTimezone
              - ampClientTimestamp
              - ampClientScreenWidth
              - ampClientScreenHeight
              - ampClientScrollX
              - ampClientScrollY
              - ampClientMaxScrollX
              - ampClientMaxScrollY
              - ampTotalEngagedTime
              - ampPageViewId
              - ampPageLoadTime
              - ampPageDownloadTime
              - ampGtmEvent
              - eventName
              - firebaseEventParameterCampaign
              - firebaseEventParameterCampaignAclid
              - firebaseEventParameterCampaignAnid
              - firebaseEventParameterCampaignClickTimestamp
              - firebaseEventParameterCampaignContent
              - firebaseEventParameterCampaignCp1
              - firebaseEventParameterCampaignGclid
              - firebaseEventParameterCampaignSource
              - firebaseEventParameterCampaignTerm
              - firebaseEventParameterCurrency
              - firebaseEventParameterDynamicLinkAcceptTime
              - firebaseEventParameterDynamicLinkLinkid
              - firebaseEventParameterNotificationMessageDeviceTime
              - firebaseEventParameterNotificationMessageId
              - firebaseEventParameterNotificationMessageName
              - firebaseEventParameterNotificationMessageTime
              - firebaseEventParameterNotificationTopic
              - firebaseEventParameterPreviousAppVersion
              - firebaseEventParameterPreviousOsVersion
              - firebaseEventParameterPrice
              - firebaseEventParameterProductId
              - firebaseEventParameterQuantity
              - firebaseEventParameterValue
              - videoProvider
              - videoUrl
              - videoTitle
              - videoDuration
              - videoPercent
              - videoVisible
              - videoStatus
              - videoCurrentTime
              - scrollDepthThreshold
              - scrollDepthUnits
              - scrollDepthDirection
              - elementVisibilityRatio
              - elementVisibilityTime
              - elementVisibilityFirstTime
              - elementVisibilityRecentTime
            type: string
          type: array
        fingerprint:
          description: The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified.
          type: string
        name:
          description: Container display name. @mutable tagmanager.accounts.containers.create @mutable tagmanager.accounts.containers.update
          type: string
        notes:
          description: Container Notes. @mutable tagmanager.accounts.containers.create @mutable tagmanager.accounts.containers.update
          type: string
        publicId:
          description: Container Public ID.
          type: string
        timeZoneCountryId:
          description: Container Country ID. @mutable tagmanager.accounts.containers.create @mutable tagmanager.accounts.containers.update
          type: string
        timeZoneId:
          description: Container Time Zone ID. @mutable tagmanager.accounts.containers.create @mutable tagmanager.accounts.containers.update
          type: string
        usageContext:
          description: "List of Usage Contexts for the Container. Valid values include: web, android, ios. @mutable tagmanager.accounts.containers.create @mutable tagmanager.accounts.containers.update"
          items:
            enum:
              - web
              - android
              - ios
              - androidSdk5
              - iosSdk5
              - amp
            type: string
          type: array
      type: object
    ContainerAccess:
      description: Defines the Google Tag Manager Container access permissions.
      properties:
        containerId:
          description: GTM Container ID. @mutable tagmanager.accounts.permissions.create @mutable tagmanager.accounts.permissions.update
          type: string
        permission:
          description: "List of Container permissions. Valid container permissions are: read, edit, delete, publish. @mutable tagmanager.accounts.permissions.create @mutable tagmanager.accounts.permissions.update"
          items:
            enum:
              - read
              - edit
              - publish
              - delete
              - manage
              - editWorkspace
            type: string
          type: array
      type: object
    ContainerVersion:
      description: Represents a Google Tag Manager Container Version.
      properties:
        accountId:
          description: GTM Account ID.
          type: string
        container:
          $ref: "#/components/schemas/Container"
          description: The container that this version was taken from.
        containerId:
          description: GTM Container ID.
          type: string
        containerVersionId:
          description: The Container Version ID uniquely identifies the GTM Container Version.
          type: string
        deleted:
          description: A value of true indicates this container version has been deleted.
          type: boolean
        fingerprint:
          description: The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.
          type: string
        folder:
          description: The folders in the container that this version was taken from.
          items:
            $ref: "#/components/schemas/Folder"
          type: array
        macro:
          description: The macros in the container that this version was taken from.
          items:
            $ref: "#/components/schemas/Macro"
          type: array
        name:
          description: Container version display name. @mutable tagmanager.accounts.containers.versions.update
          type: string
        notes:
          description: User notes on how to apply this container version in the container. @mutable tagmanager.accounts.containers.versions.update
          type: string
        rule:
          description: The rules in the container that this version was taken from.
          items:
            $ref: "#/components/schemas/Rule"
          type: array
        tag:
          description: The tags in the container that this version was taken from.
          items:
            $ref: "#/components/schemas/Tag"
          type: array
        trigger:
          description: The triggers in the container that this version was taken from.
          items:
            $ref: "#/components/schemas/Trigger"
          type: array
        variable:
          description: The variables in the container that this version was taken from.
          items:
            $ref: "#/components/schemas/Variable"
          type: array
      type: object
    ContainerVersionHeader:
      description: Represents a Google Tag Manager Container Version Header.
      properties:
        accountId:
          description: GTM Account ID.
          type: string
        containerId:
          description: GTM Container ID.
          type: string
        containerVersionId:
          description: The Container Version ID uniquely identifies the GTM Container Version.
          type: string
        deleted:
          description: A value of true indicates this container version has been deleted.
          type: boolean
        name:
          description: Container version display name.
          type: string
        numMacros:
          description: Number of macros in the container version.
          type: string
        numRules:
          description: Number of rules in the container version.
          type: string
        numTags:
          description: Number of tags in the container version.
          type: string
        numTriggers:
          description: Number of triggers in the container version.
          type: string
        numVariables:
          description: Number of variables in the container version.
          type: string
      type: object
    CreateContainerVersionRequestVersionOptions:
      description: Options for new container versions.
      properties:
        name:
          description: The name of the container version to be created.
          type: string
        notes:
          description: The notes of the container version to be created.
          type: string
        quickPreview:
          description: The creation of this version may be for quick preview and shouldn't be saved.
          type: boolean
      type: object
    CreateContainerVersionResponse:
      description: Create container versions response.
      properties:
        compilerError:
          description: Compiler errors or not.
          type: boolean
        containerVersion:
          $ref: "#/components/schemas/ContainerVersion"
          description: The container version created.
      type: object
    Environment:
      description: Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.
      properties:
        accountId:
          description: GTM Account ID.
          type: string
        authorizationCode:
          description: The environment authorization code.
          type: string
        authorizationTimestampMs:
          description: The last update time-stamp for the authorization code.
          format: int64
          type: string
        containerId:
          description: GTM Container ID.
          type: string
        containerVersionId:
          type: string
        description:
          description: The environment description. Can be set or changed only on USER type environments. @mutable tagmanager.accounts.containers.environments.create @mutable tagmanager.accounts.containers.environments.update
          type: string
        enableDebug:
          description: Whether or not to enable debug by default on for the environment. @mutable tagmanager.accounts.containers.environments.create @mutable tagmanager.accounts.containers.environments.update
          type: boolean
        environmentId:
          description: GTM Environment ID uniquely identifies the GTM Environment.
          type: string
        fingerprint:
          description: The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified.
          type: string
        name:
          description: The environment display name. Can be set or changed only on USER type environments. @mutable tagmanager.accounts.containers.environments.create @mutable tagmanager.accounts.containers.environments.update
          type: string
        type:
          description: The type of this environment.
          enum:
            - user
            - live
            - latest
            - draft
          type: string
        url:
          description: Default preview page url for the environment. @mutable tagmanager.accounts.containers.environments.create @mutable tagmanager.accounts.containers.environments.update
          type: string
      type: object
    Folder:
      description: Represents a Google Tag Manager Folder.
      properties:
        accountId:
          description: GTM Account ID.
          type: string
        containerId:
          description: GTM Container ID.
          type: string
        fingerprint:
          description: The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified.
          type: string
        folderId:
          description: The Folder ID uniquely identifies the GTM Folder.
          type: string
        name:
          description: Folder display name. @mutable tagmanager.accounts.containers.folders.create @mutable tagmanager.accounts.containers.folders.update
          type: string
      type: object
    FolderEntities:
      description: Represents a Google Tag Manager Folder's contents.
      properties:
        tag:
          description: The list of tags inside the folder.
          items:
            $ref: "#/components/schemas/Tag"
          type: array
        trigger:
          description: The list of triggers inside the folder.
          items:
            $ref: "#/components/schemas/Trigger"
          type: array
        variable:
          description: The list of variables inside the folder.
          items:
            $ref: "#/components/schemas/Variable"
          type: array
      type: object
    ListAccountUsersResponse:
      description: List AccountUsers Response.
      properties:
        userAccess:
          description: All GTM AccountUsers of a GTM Account.
          items:
            $ref: "#/components/schemas/UserAccess"
          type: array
      type: object
    ListAccountsResponse:
      description: List Accounts Response.
      properties:
        accounts:
          description: List of GTM Accounts that a user has access to.
          items:
            $ref: "#/components/schemas/Account"
          type: array
      type: object
    ListContainerVersionsResponse:
      description: List container versions response.
      properties:
        containerVersion:
          description: All versions of a GTM Container.
          items:
            $ref: "#/components/schemas/ContainerVersion"
          type: array
        containerVersionHeader:
          description: All container version headers of a GTM Container.
          items:
            $ref: "#/components/schemas/ContainerVersionHeader"
          type: array
      type: object
    ListContainersResponse:
      description: List Containers Response.
      properties:
        containers:
          description: All Containers of a GTM Account.
          items:
            $ref: "#/components/schemas/Container"
          type: array
      type: object
    ListEnvironmentsResponse:
      description: List Environments Response.
      properties:
        environments:
          description: All Environments of a GTM Container.
          items:
            $ref: "#/components/schemas/Environment"
          type: array
      type: object
    ListFoldersResponse:
      description: List Folders Response.
      properties:
        folders:
          description: All GTM Folders of a GTM Container.
          items:
            $ref: "#/components/schemas/Folder"
          type: array
      type: object
    ListTagsResponse:
      description: List Tags Response.
      properties:
        tags:
          description: All GTM Tags of a GTM Container.
          items:
            $ref: "#/components/schemas/Tag"
          type: array
      type: object
    ListTriggersResponse:
      description: List triggers response.
      properties:
        triggers:
          description: All GTM Triggers of a GTM Container.
          items:
            $ref: "#/components/schemas/Trigger"
          type: array
      type: object
    ListVariablesResponse:
      description: List Variables Response.
      properties:
        variables:
          description: All GTM Variables of a GTM Container.
          items:
            $ref: "#/components/schemas/Variable"
          type: array
      type: object
    Macro:
      description: Represents a Google Tag Manager Macro.
      properties:
        accountId:
          description: GTM Account ID.
          type: string
        containerId:
          description: GTM Container ID.
          type: string
        disablingRuleId:
          description: "For mobile containers only: A list of rule IDs for disabling conditional macros; the macro is enabled if one of the enabling rules is true while all the disabling rules are false. Treated as an unordered set. @mutable tagmanager.accounts.containers.macros.create @mutable tagmanager.accounts.containers.macros.update"
          items:
            type: string
          type: array
        enablingRuleId:
          description: "For mobile containers only: A list of rule IDs for enabling conditional macros; the macro is enabled if one of the enabling rules is true while all the disabling rules are false. Treated as an unordered set. @mutable tagmanager.accounts.containers.macros.create @mutable tagmanager.accounts.containers.macros.update"
          items:
            type: string
          type: array
        fingerprint:
          description: The fingerprint of the GTM Macro as computed at storage time. This value is recomputed whenever the macro is modified.
          type: string
        macroId:
          description: The Macro ID uniquely identifies the GTM Macro.
          type: string
        name:
          description: Macro display name. @mutable tagmanager.accounts.containers.macros.create @mutable tagmanager.accounts.containers.macros.update
          type: string
        notes:
          description: User notes on how to apply this macro in the container. @mutable tagmanager.accounts.containers.macros.create @mutable tagmanager.accounts.containers.macros.update
          type: string
        parameter:
          description: The macro's parameters. @mutable tagmanager.accounts.containers.macros.create @mutable tagmanager.accounts.containers.macros.update
          items:
            $ref: "#/components/schemas/Parameter"
          type: array
        parentFolderId:
          description: Parent folder id.
          type: string
        scheduleEndMs:
          description: The end timestamp in milliseconds to schedule a macro. @mutable tagmanager.accounts.containers.macros.create @mutable tagmanager.accounts.containers.macros.update
          format: int64
          type: string
        scheduleStartMs:
          description: The start timestamp in milliseconds to schedule a macro. @mutable tagmanager.accounts.containers.macros.create @mutable tagmanager.accounts.containers.macros.update
          format: int64
          type: string
        type:
          description: GTM Macro Type. @mutable tagmanager.accounts.containers.macros.create @mutable tagmanager.accounts.containers.macros.update
          type: string
      type: object
    Parameter:
      description: Represents a Google Tag Manager Parameter.
      properties:
        key:
          description: The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values. @mutable tagmanager.accounts.containers.variables.create @mutable tagmanager.accounts.containers.variables.update @mutable tagmanager.accounts.containers.triggers.create @mutable tagmanager.accounts.containers.triggers.update @mutable tagmanager.accounts.containers.tags.create @mutable tagmanager.accounts.containers.tags.update
          type: string
        list:
          description: This list parameter's parameters (keys will be ignored). @mutable tagmanager.accounts.containers.variables.create @mutable tagmanager.accounts.containers.variables.update @mutable tagmanager.accounts.containers.triggers.create @mutable tagmanager.accounts.containers.triggers.update @mutable tagmanager.accounts.containers.tags.create @mutable tagmanager.accounts.containers.tags.update
          items:
            $ref: "#/components/schemas/Parameter"
          type: array
        map:
          description: This map parameter's parameters (must have keys; keys must be unique). @mutable tagmanager.accounts.containers.variables.create @mutable tagmanager.accounts.containers.variables.update @mutable tagmanager.accounts.containers.triggers.create @mutable tagmanager.accounts.containers.triggers.update @mutable tagmanager.accounts.containers.tags.create @mutable tagmanager.accounts.containers.tags.update
          items:
            $ref: "#/components/schemas/Parameter"
          type: array
        type:
          description: "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name @mutable tagmanager.accounts.containers.variables.create @mutable tagmanager.accounts.containers.variables.update @mutable tagmanager.accounts.containers.triggers.create @mutable tagmanager.accounts.containers.triggers.update @mutable tagmanager.accounts.containers.tags.create @mutable tagmanager.accounts.containers.tags.update"
          enum:
            - template
            - integer
            - boolean
            - list
            - map
            - triggerReference
            - tagReference
          type: string
        value:
          description: A parameter's value (may contain variable references such as "{{myVariable}}") as appropriate to the specified type. @mutable tagmanager.accounts.containers.variables.create @mutable tagmanager.accounts.containers.variables.update @mutable tagmanager.accounts.containers.triggers.create @mutable tagmanager.accounts.containers.triggers.update @mutable tagmanager.accounts.containers.tags.create @mutable tagmanager.accounts.containers.tags.update
          type: string
      type: object
    PublishContainerVersionResponse:
      description: Publish container version response.
[...]
