swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: ResourceManagementClient
  version: 2016-02-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Resources/stable/2016-02-01/resources.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: resources
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: The ID of the target subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Resources/calculateTemplateHash:
    post:
      description: Calculate the hash of the given template.
      operationId: Deployments_CalculateTemplateHash
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - description: The template provided to calculate hash.
          in: body
          name: template
          required: true
          schema:
            type: object
      responses:
        "200":
          description: OK - Returns the hash.
          schema:
            $ref: "#/definitions/TemplateHashResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Deployments
      x-ms-examples:
        Calculate template hash:
          parameters:
            api-version: 2016-02-01
            template:
              $schema: http://schemas.management.azure.com/deploymentTemplate?api-version=2014-04-01-preview
              contentVersion: 1.0.0.0
              outputs:
                string:
                  type: string
                  value: myvalue
              parameters:
                string:
                  type: string
              resources: []
              variables:
                array:
                  - 1
                  - 2
                  - 3
                  - 4
                bool: true
                int: 42
                object:
                  object:
                    location: West US
                    vmSize: Large
                string: string
          responses:
            "200":
              body:
                minifiedTemplate: '{"$SCHEMA":"HTTP://SCHEMAS.MANAGEMENT.AZURE.COM/DEPLOYMENTTEMPLATE?API-VERSION=2014-04-01-PREVIEW","CONTENTVERSION":"1.0.0.0","PARAMETERS":{"STRING":{"TYPE":"STRING"}},"VARIABLES":{"STRING":"STRING","INT":42,"BOOL":TRUE,"ARRAY":[1,2,3,4],"OBJECT":{"OBJECT":{"VMSIZE":"LARGE","LOCATION":"WEST US"}}},"RESOURCES":[],"OUTPUTS":{"STRING":{"TYPE":"STRING","VALUE":"MYVALUE"}}}'
                templateHash: "695440707931307747"
  "/subscriptions/{subscriptionId}/providers":
    get:
      description: Gets a list of resource providers.
      operationId: Providers_List
      parameters:
        - description: Query parameters. If null is passed returns all deployments.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The $expand query parameter. e.g. To include property aliases in response, use $expand=resourceTypes/aliases.
          in: query
          name: $expand
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ProviderListResult"
      tags:
        - Providers
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}":
    get:
      description: Gets a resource provider.
      operationId: Providers_Get
      parameters:
        - description: The $expand query parameter. e.g. To include property aliases in response, use $expand=resourceTypes/aliases.
          in: query
          name: $expand
          required: false
          type: string
        - description: Namespace of the resource provider.
          in: path
          name: resourceProviderNamespace
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Provider"
      tags:
        - Providers
  "/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/register":
    post:
      description: Registers provider to be used with a subscription.
      operationId: Providers_Register
      parameters:
        - description: Namespace of the resource provider.
          in: path
          name: resourceProviderNamespace
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Provider"
      tags:
        - Providers
  "/subscriptions/{subscriptionId}/providers/{resourceProviderNamespace}/unregister":
    post:
      description: Unregisters provider from a subscription.
      operationId: Providers_Unregister
      parameters:
        - description: Namespace of the resource provider.
          in: path
          name: resourceProviderNamespace
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Provider"
      tags:
        - Providers
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/resources":
    get:
      description: Get all of the resources under a subscription.
      operationId: ResourceGroups_ListResources
      parameters:
        - description: Query parameters. If null is passed returns all resource groups.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: The $expand query parameter
          in: query
          name: $expand
          required: false
          type: string
        - description: Query parameters. If null is passed returns all resource groups.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ResourceListResult"
      tags:
        - ResourceGroups
      x-ms-odata: "#/definitions/GenericResourceFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{sourceResourceGroupName}/moveResources":
    post:
      description: Move resources from one resource group to another. The resources being moved should all be in the same resource group.
      operationId: Resources_MoveResources
      parameters:
        - description: Source resource group name.
          in: path
          maxLength: 90
          minLength: 1
          name: sourceResourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: move resources' parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ResourcesMoveInfo"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - Resources
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourcegroups":
    get:
      description: Gets a collection of resource groups.
      operationId: ResourceGroups_List
      parameters:
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: Query parameters. If null is passed returns all resource groups.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ResourceGroupListResult"
      tags:
        - ResourceGroups
      x-ms-odata: "#/definitions/ResourceGroupFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}":
    delete:
      description: Delete resource group.
      operationId: ResourceGroups_Delete
      parameters:
        - description: The name of the resource group to be deleted. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
      tags:
        - ResourceGroups
      x-ms-long-running-operation: true
    get:
      description: Get a resource group.
      operationId: ResourceGroups_Get
      parameters:
        - description: The name of the resource group to get. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ResourceGroup"
      tags:
        - ResourceGroups
    head:
      description: Checks whether resource group exists.
      operationId: ResourceGroups_CheckExistence
      parameters:
        - description: The name of the resource group to check. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "204":
          description: ""
        "404":
          description: ""
      tags:
        - ResourceGroups
    patch:
      description: "Resource groups can be updated through a simple PATCH operation to a group address. The format of the request is the same as that for creating a resource groups, though if a field is unspecified current value will be carried over. "
      operationId: ResourceGroups_Patch
      parameters:
        - description: The name of the resource group to be created or updated. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: Parameters supplied to the update state resource group service operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ResourceGroup"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ResourceGroup"
      tags:
        - ResourceGroups
    put:
      description: Create a resource group.
      operationId: ResourceGroups_CreateOrUpdate
      parameters:
        - description: The name of the resource group to be created or updated.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: Parameters supplied to the create or update resource group service operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ResourceGroup"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ResourceGroup"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/ResourceGroup"
      tags:
        - ResourceGroups
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations":
    get:
      description: Gets a list of deployments operations.
      operationId: DeploymentOperations_List
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: The name of the deployment.
          in: path
          name: deploymentName
          required: true
          type: string
        - description: Query parameters.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DeploymentOperationsListResult"
      tags:
        - DeploymentOperations
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations/{operationId}":
    get:
      description: Get a list of deployments operations.
      operationId: DeploymentOperations_Get
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: The name of the deployment.
          in: path
          name: deploymentName
          required: true
          type: string
        - description: Operation Id.
          in: path
          name: operationId
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DeploymentOperation"
      tags:
        - DeploymentOperations
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/exportTemplate":
    post:
      description: Captures the specified resource group as a template.
      operationId: ResourceGroups_ExportTemplate
      parameters:
        - description: The name of the resource group to be created or updated.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: Parameters supplied to the export template resource group operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ExportTemplateRequest"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ResourceGroupExportResult"
      tags:
        - ResourceGroups
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/":
    get:
      description: Get a list of deployments.
      operationId: Deployments_List
      parameters:
        - description: The name of the resource group to filter by. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: Query parameters. If null is passed returns all deployments.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DeploymentListResult"
      tags:
        - Deployments
      x-ms-odata: "#/definitions/DeploymentExtendedFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}":
    delete:
      description: Delete deployment.
      operationId: Deployments_Delete
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: The name of the deployment to be deleted.
          in: path
          name: deploymentName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - Deployments
      x-ms-long-running-operation: true
    get:
      description: Get a deployment.
      operationId: Deployments_Get
      parameters:
        - description: The name of the resource group to get. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: The name of the deployment.
          in: path
          name: deploymentName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DeploymentExtended"
      tags:
        - Deployments
    head:
      description: Checks whether deployment exists.
      operationId: Deployments_CheckExistence
      parameters:
        - description: The name of the resource group to check. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: The name of the deployment.
          in: path
          name: deploymentName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "204":
          description: ""
        "404":
          description: ""
      tags:
        - Deployments
    put:
      description: Create a named template deployment using a template.
      operationId: Deployments_CreateOrUpdate
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: The name of the deployment.
          in: path
          name: deploymentName
          required: true
          type: string
        - description: Additional parameters supplied to the operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Deployment"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DeploymentExtended"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/DeploymentExtended"
      tags:
        - Deployments
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/cancel":
    post:
      description: Cancel a currently running template deployment.
      operationId: Deployments_Cancel
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: The name of the deployment.
          in: path
          name: deploymentName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "204":
          description: ""
      tags:
        - Deployments
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/exportTemplate":
    post:
      description: Exports a deployment template.
      operationId: Deployments_ExportTemplate
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: The name of the deployment.
          in: path
          name: deploymentName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DeploymentExportResult"
      tags:
        - Deployments
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/validate":
    post:
      description: Validate a deployment template.
      operationId: Deployments_Validate
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: The name of the deployment.
          in: path
          name: deploymentName
          required: true
          type: string
        - description: Deployment to validate.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Deployment"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DeploymentValidateResult"
        "400":
          description: ""
          schema:
            $ref: "#/definitions/DeploymentValidateResult"
      tags:
        - Deployments
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}":
    delete:
      description: "Delete resource and all of its resources. "
      operationId: Resources_Delete
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: Resource identity.
          in: path
          name: resourceProviderNamespace
          required: true
          type: string
        - description: Resource identity.
          in: path
          name: parentResourcePath
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: Resource identity.
          in: path
          name: resourceType
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: Resource identity.
          in: path
          name: resourceName
          required: true
          type: string
        - in: query
          name: api-version
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
      tags:
        - Resources
    get:
      description: Returns a resource belonging to a resource group.
      operationId: Resources_Get
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: Resource identity.
          in: path
          name: resourceProviderNamespace
          required: true
          type: string
        - description: Resource identity.
          in: path
          name: parentResourcePath
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: Resource identity.
          in: path
          name: resourceType
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: Resource identity.
          in: path
          name: resourceName
          required: true
          type: string
        - in: query
          name: api-version
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/GenericResource"
      tags:
        - Resources
    head:
      description: Checks whether resource exists.
      operationId: Resources_CheckExistence
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: Resource identity.
          in: path
          name: resourceProviderNamespace
          required: true
          type: string
        - description: Resource identity.
          in: path
          name: parentResourcePath
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: Resource identity.
          in: path
          name: resourceType
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: Resource identity.
          in: path
          name: resourceName
          required: true
          type: string
        - in: query
          name: api-version
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "204":
          description: ""
        "404":
          description: ""
      tags:
        - Resources
    patch:
      description: Updates a resource.
      operationId: Resources_Update
      parameters:
        - description: The name of the resource group for the resource. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: The namespace of the resource provider.
          in: path
          name: resourceProviderNamespace
          required: true
          type: string
        - description: The parent resource identity.
          in: path
          name: parentResourcePath
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The resource type of the resource to update.
          in: path
          name: resourceType
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The name of the resource to update.
          in: path
          name: resourceName
          required: true
          type: string
        - description: The API version to use for the operation.
          in: query
          name: api-version
          required: true
          type: string
        - description: Parameters for updating the resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/GenericResource"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK - Returns information about the resource.
          schema:
            $ref: "#/definitions/GenericResource"
        "202":
          description: Accepted
      tags:
        - Resources
      x-ms-long-running-operation: true
    put:
      description: Create a resource.
      operationId: Resources_CreateOrUpdate
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: Resource identity.
          in: path
          name: resourceProviderNamespace
          required: true
          type: string
        - description: Resource identity.
          in: path
          name: parentResourcePath
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: Resource identity.
          in: path
          name: resourceType
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: Resource identity.
          in: path
          name: resourceName
          required: true
          type: string
        - in: query
          name: api-version
          required: true
          type: string
        - description: Create or update resource parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/GenericResource"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/GenericResource"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/GenericResource"
      tags:
        - Resources
  "/subscriptions/{subscriptionId}/resources":
    get:
      description: Get all of the resources under a subscription.
      operationId: Resources_List
      parameters:
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: The $expand query parameter.
          in: query
          name: $expand
          required: false
          type: string
        - description: Query parameters. If null is passed returns all resource groups.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ResourceListResult"
      tags:
        - Resources
      x-ms-odata: "#/definitions/GenericResourceFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/tagNames":
    get:
      description: Get a list of subscription resource tags.
      operationId: Tags_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/TagsListResult"
      tags:
        - Tags
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/tagNames/{tagName}":
    delete:
      description: Delete a subscription resource tag.
      operationId: Tags_Delete
      parameters:
        - description: The name of the tag.
          in: path
          name: tagName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "204":
          description: ""
      tags:
        - Tags
    put:
      description: Create a subscription resource tag.
      operationId: Tags_CreateOrUpdate
      parameters:
        - description: The name of the tag.
          in: path
          name: tagName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/TagDetails"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/TagDetails"
      tags:
        - Tags
  "/subscriptions/{subscriptionId}/tagNames/{tagName}/tagValues/{tagValue}":
    delete:
      description: Delete a subscription resource tag value.
      operationId: Tags_DeleteValue
      parameters:
        - description: The name of the tag.
          in: path
          name: tagName
          required: true
          type: string
        - description: The value of the tag.
          in: path
          name: tagValue
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "204":
          description: ""
      tags:
        - Tags
    put:
      description: Create a subscription resource tag value.
      operationId: Tags_CreateOrUpdateValue
      parameters:
        - description: The name of the tag.
          in: path
          name: tagName
          required: true
          type: string
        - description: The value of the tag.
          in: path
          name: tagValue
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/TagValue"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/TagValue"
      tags:
        - Tags
definitions:
  AliasPathType:
    properties:
      apiVersions:
        description: The api versions.
        items:
          type: string
        type: array
      path:
        description: The path of an alias.
        type: string
  AliasType:
    properties:
      name:
        description: The alias name.
        type: string
      paths:
        description: The paths for an alias.
        items:
          $ref: "#/definitions/AliasPathType"
        type: array
  BasicDependency:
    description: Deployment dependency information.
    properties:
      id:
        description: The ID of the dependency.
        type: string
      resourceName:
        description: The dependency resource name.
        type: string
      resourceType:
        description: The dependency resource type.
        type: string
  CloudError:
    description: An error response for a resource management request.
    properties:
      error:
        description: The resource management error response.
        properties:
          additionalInfo:
            description: The error additional info.
            items:
              description: The resource management error additional info.
              properties:
                info:
                  description: The additional info.
                  readOnly: true
                  type: object
                type:
                  description: The additional info type.
                  readOnly: true
                  type: string
            readOnly: true
            type: array
          code:
            description: The error code.
            readOnly: true
            type: string
          details:
            description: The error details.
            items:
              $ref: "#/definitions/ErrorResponse"
            readOnly: true
            type: array
          message:
            description: The error message.
            readOnly: true
            type: string
          target:
            description: The error target.
            readOnly: true
            type: string
    x-ms-external: true
  DebugSetting:
    properties:
      detailLevel:
        description: The debug detail level.
        type: string
        x-ms-client-flatten: true
  Dependency:
    description: Deployment dependency information.
    properties:
      dependsOn:
        description: The list of dependencies.
        items:
          $ref: "#/definitions/BasicDependency"
        type: array
      id:
        description: The ID of the dependency.
        type: string
      resourceName:
        description: The dependency resource name.
        type: string
      resourceType:
        description: The dependency resource type.
        type: string
  Deployment:
    description: Deployment operation parameters.
    properties:
      properties:
        $ref: "#/definitions/DeploymentProperties"
        description: The deployment properties.
  DeploymentExportResult:
    properties:
      template:
        description: The template content.
        type: object
  DeploymentExtended:
    description: Deployment information.
    properties:
      id:
        description: The ID of the deployment.
        readOnly: true
        type: string
      name:
        description: The name of the deployment.
        type: string
      properties:
        $ref: "#/definitions/DeploymentPropertiesExtended"
        description: Deployment properties.
    required:
      - name
    x-ms-azure-resource: true
  DeploymentExtendedFilter:
    description: Deployment filter.
    properties:
      provisioningState:
        description: The provisioning state.
        type: string
  DeploymentListResult:
    description: List of deployments.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: The list of deployments.
        items:
          $ref: "#/definitions/DeploymentExtended"
        type: array
  DeploymentOperation:
    description: Deployment operation information.
    properties:
      id:
        description: Full deployment operation id.
        type: string
      operationId:
        description: Deployment operation id.
        type: string
      properties:
        $ref: "#/definitions/DeploymentOperationProperties"
        description: Deployment properties.
  DeploymentOperationProperties:
    description: Deployment operation properties.
    properties:
      provisioningState:
        description: The state of the provisioning.
        type: string
      request:
        $ref: "#/definitions/HttpMessage"
        description: The HTTP request message.
      response:
        $ref: "#/definitions/HttpMessage"
        description: The HTTP response message.
      serviceRequestId:
        description: Deployment operation service request id.
        type: string
      statusCode:
        description: Operation status code.
        type: string
      statusMessage:
        description: Operation status message.
      targetResource:
        $ref: "#/definitions/TargetResource"
        description: The target resource.
      timestamp:
        description: The date and time of the operation.
        format: date-time
        type: string
  DeploymentOperationsListResult:
    description: List of deployment operations.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: The list of deployments.
        items:
          $ref: "#/definitions/DeploymentOperation"
        type: array
  DeploymentProperties:
    description: Deployment properties.
    properties:
      debugSetting:
        $ref: "#/definitions/DebugSetting"
        description: The debug setting of the deployment.
      mode:
        description: The deployment mode.
        enum:
          - Incremental
          - Complete
        type: string
        x-ms-enum:
          modelAsString: false
          name: DeploymentMode
      parameters:
        description: Deployment parameters. It can be a JObject or a well formed JSON string. Use only one of Parameters or ParametersLink.
        type: object
      parametersLink:
        $ref: "#/definitions/ParametersLink"
        description: The parameters URI. Use only one of Parameters or ParametersLink.
      template:
        description: The template content. It can be a JObject or a well formed JSON string. Use only one of Template or TemplateLink.
        type: object
      templateLink:
        $ref: "#/definitions/TemplateLink"
        description: The template URI. Use only one of Template or TemplateLink.
    required:
      - mode
  DeploymentPropertiesExtended:
    description: Deployment properties with additional details.
    properties:
      correlationId:
        description: The correlation ID of the deployment.
        type: string
      debugSetting:
        $ref: "#/definitions/DebugSetting"
        description: The debug setting of the deployment.
      dependencies:
        description: The list of deployment dependencies.
        items:
          $ref: "#/definitions/Dependency"
        type: array
      mode:
        description: The deployment mode.
        enum:
          - Incremental
          - Complete
        type: string
        x-ms-enum:
          modelAsString: false
          name: DeploymentMode
      outputs:
        description: Key/value pairs that represent deployment output.
        type: object
      parameters:
        description: Deployment parameters. Use only one of Parameters or ParametersLink.
        type: object
      parametersLink:
        $ref: "#/definitions/ParametersLink"
        description: The URI referencing the parameters. Use only one of Parameters or ParametersLink.
      providers:
        description: The list of resource providers needed for the deployment.
        items:
          $ref: "#/definitions/Provider"
        type: array
      provisioningState:
        description: The state of the provisioning.
        type: string
      template:
        description: The template content. Use only one of Template or TemplateLink.
        type: object
      templateLink:
        $ref: "#/definitions/TemplateLink"
        description: The URI referencing the template. Use only one of Template or TemplateLink.
      timestamp:
        description: The timestamp of the template deployment.
        format: date-time
        type: string
  DeploymentValidateResult:
    description: Information from validate template deployment response.
    properties:
      error:
        $ref: "#/definitions/ResourceManagementErrorWithDetails"
        description: Validation error.
      properties:
        $ref: "#/definitions/DeploymentPropertiesExtended"
        description: The template deployment properties.
  ErrorResponse: {}
  ExportTemplateRequest:
    description: Export resource group template request parameters.
    properties:
      options:
        description: "The export template options. A CSV-formatted list containing zero or more of the following: 'IncludeParameterDefaultValue', 'IncludeComments', 'SkipResourceNameParameterization', 'SkipAllParameterization'"
        type: string
      resources:
        description: The IDs of the resources to filter the export by. To export all resources, supply an array with single entry '*'.
        items:
          type: string
        type: array
  GenericResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Resource information.
    properties:
      identity:
        $ref: "#/definitions/Identity"
        description: The identity of the resource.
      kind:
        description: The kind of the resource.
        type: string
      managedBy:
        description: Id of the resource that manages this resource.
        type: string
      plan:
        $ref: "#/definitions/Plan"
        description: The plan of the resource.
      properties:
        description: The resource properties.
        type: object
      sku:
        $ref: "#/definitions/Sku"
        description: The sku of the resource.
  GenericResourceFilter:
    description: Resource filter.
    properties:
      resourceType:
        description: The resource type.
        type: string
      tagname:
        description: The tag name.
        type: string
      tagvalue:
        description: The tag value.
        type: string
  HttpMessage:
    properties:
      content:
        description: HTTP message content.
        type: object
  Identity:
    description: Identity for the resource.
    properties:
      principalId:
        description: The principal id of resource identity.
        readOnly: true
        type: string
      tenantId:
        description: The tenant id of resource.
        readOnly: true
        type: string
      type:
        description: The identity type.
        enum:
          - SystemAssigned
        type: string
        x-ms-enum:
          modelAsString: false
          name: ResourceIdentityType
  ParametersLink:
    description: Entity representing the reference to the deployment parameters.
    properties:
      contentVersion:
        description: If included it must match the ContentVersion in the template.
        type: string
      uri:
        description: URI referencing the template.
        type: string
    required:
      - uri
  Plan:
    description: Plan for the resource.
    properties:
      name:
        description: The plan ID.
        type: string
      product:
        description: The offer ID.
        type: string
      promotionCode:
        description: The promotion code.
        type: string
      publisher:
        description: The publisher ID.
        type: string
  Provider:
    description: Resource provider information.
    properties:
      id:
        description: The provider id.
        type: string
      namespace:
        description: The namespace of the provider.
        type: string
      registrationState:
        description: The registration state of the provider.
        type: string
      resourceTypes:
        description: The collection of provider resource types.
        items:
          $ref: "#/definitions/ProviderResourceType"
        type: array
  ProviderListResult:
    description: List of resource providers.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: The list of resource providers.
        items:
          $ref: "#/definitions/Provider"
        type: array
  ProviderResourceType:
    description: Resource type managed by the resource provider.
    properties:
      aliases:
        description: The aliases that are supported by this resource type.
        items:
          $ref: "#/definitions/AliasType"
        type: array
      apiVersions:
        description: The api version.
        items:
          type: string
        type: array
      locations:
        description: The collection of locations where this resource type can be created in.
        items:
          type: string
        type: array
      properties:
        additionalProperties:
          type: string
        description: The properties.
        type: object
      resourceType:
        description: The resource type.
        type: string
  Resource:
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type
        readOnly: true
        type: string
    x-ms-azure-resource: true
  ResourceGroup:
    description: Resource group information.
    properties:
      id:
        description: The ID of the resource group.
        readOnly: true
        type: string
      location:
        description: The location of the resource group. It cannot be changed after the resource group has been created. Has to be one of the supported Azure Locations, such as West US, East US, West Europe, East Asia, etc.
        type: string
      name:
        description: The Name of the resource group.
        type: string
      properties:
        $ref: "#/definitions/ResourceGroupProperties"
      tags:
        additionalProperties:
          type: string
        description: The tags attached to the resource group.
        type: object
    required:
      - location
    x-ms-azure-resource: true
  ResourceGroupExportResult:
    properties:
      error:
        $ref: "#/definitions/ResourceManagementErrorWithDetails"
        description: The error.
      template:
        description: The template content.
        type: object
  ResourceGroupFilter:
    description: Resource group filter.
    properties:
      tagName:
        description: The tag name.
        type: string
      tagValue:
        description: The tag value.
        type: string
  ResourceGroupListResult:
    description: List of resource groups.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: The list of resource groups.
        items:
          $ref: "#/definitions/ResourceGroup"
        type: array
    required:
      - nextLink
  ResourceGroupProperties:
    description: The resource group properties.
    properties:
      provisioningState:
        description: The provisioning state.
        readOnly: true
        type: string
  ResourceListResult:
    description: List of resource groups.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: The list of resources.
        items:
          $ref: "#/definitions/GenericResource"
        type: array
    required:
      - nextLink
  ResourceManagementErrorWithDetails:
    properties:
      code:
        description: The error code returned from the server.
        type: string
      details:
        description: Validation error.
        items:
          $ref: "#/definitions/ResourceManagementErrorWithDetails"
        type: array
      message:
        description: The error message returned from the server.
        type: string
      target:
        description: The target of the error.
        type: string
    required:
      - code
      - message
  ResourceProviderOperationDisplayProperties:
    description: Resource provider operation's display properties.
    properties:
      description:
        description: Operation description.
        type: string
      operation:
        description: Operation.
        type: string
      provider:
        description: Operation provider.
        type: string
      publisher:
        description: Operation description.
        type: string
      resource:
        description: Operation resource.
        type: string
  ResourcesMoveInfo:
    description: Parameters of move resources.
    properties:
      resources:
        description: The ids of the resources.
        items:
          type: string
        type: array
      targetResourceGroup:
        description: The target resource group.
        type: string
  Sku:
    description: Sku for the resource.
    properties:
      capacity:
        description: The sku capacity.
        format: int32
        type: integer
      family:
        description: The sku family.
        type: string
      model:
        description: The sku model.
        type: string
      name:
        description: The sku name.
        type: string
      size:
        description: The sku size.
        type: string
      tier:
        description: The sku tier.
        type: string
  SubResource:
    properties:
      id:
        description: Resource Id
        type: string
    x-ms-azure-resource: true
  TagCount:
    description: Tag count.
    properties:
      type:
        description: Type of count.
        type: string
      value:
        description: Value of count.
        type: string
  TagDetails:
    description: Tag details.
    properties:
      count:
        $ref: "#/definitions/TagCount"
        description: The tag count.
      id:
        description: The tag ID.
        readOnly: true
        type: string
      tagName:
        description: The tag name.
        type: string
      values:
        description: The list of tag values.
        items:
          $ref: "#/definitions/TagValue"
        type: array
  TagValue:
    description: Tag information.
    properties:
      count:
        $ref: "#/definitions/TagCount"
        description: The tag value count.
      id:
        description: The tag ID.
        readOnly: true
        type: string
      tagValue:
        description: The tag value.
        type: string
    x-ms-azure-resource: true
  TagsListResult:
    description: List of subscription tags.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: The list of tags.
        items:
          $ref: "#/definitions/TagDetails"
        type: array
    required:
      - nextLink
  TargetResource:
    description: Target resource.
    properties:
      id:
        description: The ID of the resource.
        type: string
      resourceName:
        description: The name of the resource.
        type: string
      resourceType:
        description: The type of the resource.
        type: string
  TemplateHashResult:
    description: Result of the request to calculate template hash. It contains a string of minified template and its hash.
    properties:
      minifiedTemplate:
        description: The minified template string.
        type: string
      templateHash:
        description: The template hash.
        type: string
  TemplateLink:
    description: Entity representing the reference to the template.
    properties:
      contentVersion:
        description: If included it must match the ContentVersion in the template.
        type: string
      uri:
        description: URI referencing the template.
        type: string
    required:
      - uri
