openapi: 3.0.1
servers:
  - url: https://api-eu.hosted.exlibrisgroup.com
  - url: https://api-na.hosted.exlibrisgroup.com
  - url: https://api-ap.hosted.exlibrisgroup.com
  - url: https://api-cn.hosted.exlibrisgroup.com
  - url: https://api-ca.hosted.exlibrisgroup.com
info:
  description: For more information on how to use these APIs, including how to create an API key required for authentication, see [Alma REST APIs](https://developers.exlibrisgroup.com/alma/apis).
  termsOfService: https://developers.exlibrisgroup.com/about/terms
  title: Ex Libris APIs
  version: "1.0"
  x-apisguru-categories:
    - text
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_exlibrisgroup.com_wp-content_uploads_2017_11_exlibris-logo.png
  x-origin:
    - format: openapi
      url: https://developers.exlibrisgroup.com/wp-content/uploads/alma/openapi/tasklists.yaml
      version: "3.0"
  x-providerName: exlibrisgroup.com
  x-serviceName: tasklists
externalDocs:
  description: Detailed documentation on these APIs at the Ex Libris Developer Network.
  url: https://developers.exlibrisgroup.com/alma/apis/
security:
  - ApiKeyAuth: []
tags:
  - name: Requested Resources
  - name: Lending Requests
  - name: Printouts
  - name: Test
paths:
  /almaws/v1/task-lists: {}
  /almaws/v1/task-lists/printouts:
    get:
      description: This API returns a list of Printouts.
      operationId: get/almaws/v1/task-lists/printouts
      parameters:
        - description: "Printout Name. Optional. "
          in: query
          name: letter
          required: false
          schema:
            default: ALL
            type: string
        - description: "Printout status. Optional. Valid values are: Printed, Pending, Canceled."
          in: query
          name: status
          required: false
          schema:
            default: ALL
            type: string
        - description: Printout Printer
          in: query
          name: printer_id
          required: false
          schema:
            default: ALL
            type: string
        - description: "A list of Printout IDs (for example: 123,456,778) from 1 to the limit of 100 Optional. Use of this option overrides all of the filtering parameters"
          in: query
          name: printout_id
          required: false
          schema:
            default: ALL
            type: string
        - description: "Limits the number of results. Optional. Valid values are 0-100. Default value: 10."
          in: query
          name: limit
          required: false
          schema:
            default: "10"
            type: integer
        - description: "Offset of the results returned. Optional. Default value: 0, which means that the first results will be returned."
          in: query
          name: offset
          required: false
          schema:
            default: "0"
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                description: A list of printouts.
                properties:
                  printout:
                    description: printout object.
                    items:
                      description: Printout Object.
                      properties:
                        date:
                          description: The time that the letter has been send to the Printout Queue.
                          example: 2019-11-07T08:08:38.614Z
                          format: date-time
                          type: string
                        id:
                          description: The printout id.
                          example: "129313760000121"
                          type: string
                        letter:
                          description: Letter Html body.
                          example: <div> Welcome to...</div>
                          type: string
                        link:
                          example: ""
                          type: string
                          xml:
                            attribute: true
                        printer:
                          description: The printer.
                          properties:
                            desc:
                              example: printer name
                              type: string
                              xml:
                                attribute: true
                            value:
                              example: Printout Queue.
                              type: string
                              xml:
                                name: xml_value
                          type: object
                        printout:
                          description: The printout name.
                          example: Testing
                          type: string
                        size:
                          description: The size of the letter.
                          example: 3.6kb
                          type: string
                        source:
                          description: The user who printed the letter.
                          example: Implementor, Ex Libris
                          type: string
                        status:
                          description: Status of the printout (Pending/Printed/Canceled).
                          properties:
                            desc:
                              example: Pending
                              type: string
                              xml:
                                attribute: true
                            value:
                              example: Pending
                              type: string
                              xml:
                                name: xml_value
                          type: object
                      type: object
                      xml:
                        name: printout
                    type: array
                  total_record_count:
                    description: The total number of printouts.
                    example: ""
                    format: int32
                    type: integer
                    xml:
                      attribute: true
                type: object
                xml:
                  name: printouts
            application/xml:
              schema:
                $ref: "#/paths/~1almaws~1v1~1task-lists~1printouts/get/responses/200/content/application~1json/schema"
          description: OK - This method returns an object based on rest_printouts.xsd. See [here](/alma/apis/docs/xsd/rest_printouts.xsd)
          headers:
            X-Exl-Api-Remaining:
              $ref: "#/components/headers/remaining"
        "400":
          description: |-
            Bad Request

            401666|40166410 - 'Invalid parameter.'
        "500":
          description: Internal Server Error
      summary: Retrieve Printouts
      tags:
        - Printouts
    post:
      description: "This API performs an action on printouts: mark as printed or canceled. 10,000 records can be handled in one requests. Only printouts which were updated will be returned."
      operationId: post/almaws/v1/task-lists/printouts
      parameters:
        - description: "Printout Name. Optional. "
          in: query
          name: letter
          required: false
          schema:
            default: ALL
            type: string
        - description: "Printout status. Optional. Valid values are: Printed, Pending, Canceled."
          in: query
          name: status
          required: false
          schema:
            default: ALL
            type: string
        - description: Printout Printer
          in: query
          name: printer_id
          required: false
          schema:
            default: ALL
            type: string
        - description: "A list of Printout IDs (for example: 123,456,778) from 1 to the limit of 100 Optional. Use of this option overrides all of the filtering parameters"
          in: query
          name: printout_id
          required: false
          schema:
            default: ALL
            type: string
        - description: "The operation to perform on the printout. Currently, the options are: 'mark_as_printed','mark_as_canceled'"
          in: query
          name: op
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/paths/~1almaws~1v1~1task-lists~1printouts/get/responses/200/content/application~1json/schema"
            application/xml:
              schema:
                $ref: "#/paths/~1almaws~1v1~1task-lists~1printouts/get/responses/200/content/application~1json/schema"
          description: OK - This method returns an object based on rest_printouts.xsd. See [here](/alma/apis/docs/xsd/rest_printouts.xsd)
          headers:
            X-Exl-Api-Remaining:
              $ref: "#/components/headers/remaining"
        "400":
          description: |-
            Bad Request

            401666|40166410 - 'Invalid parameter.'
        "500":
          description: Internal Server Error
      summary: Act on Printouts
      tags:
        - Printouts
  "/almaws/v1/task-lists/printouts/{printout_id}":
    get:
      description: This Web service returns a Printout given a Printout ID.
      operationId: get/almaws/v1/task-lists/printouts/{printout_id}
      parameters:
        - description: The Printout ID
          in: path
          name: printout_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/paths/~1almaws~1v1~1task-lists~1printouts/get/responses/200/content/application~1json/schema/properties/printout/items"
            application/xml:
              schema:
                $ref: "#/paths/~1almaws~1v1~1task-lists~1printouts/get/responses/200/content/application~1json/schema/properties/printout/items"
          description: OK - This method returns an object based on rest_printout.xsd. See [here](/alma/apis/docs/xsd/rest_printout.xsd)
          headers:
            X-Exl-Api-Remaining:
              $ref: "#/components/headers/remaining"
        "400":
          description: |-
            Bad Request

            402896 - 'Invalid printout ID.'
        "500":
          description: Internal Server Error
      summary: Retrieve a Printout
      tags:
        - Printouts
    post:
      description: This API operates on an printout. given a Printout ID.
      operationId: post/almaws/v1/task-lists/printouts/{printout_id}
      parameters:
        - description: The Printout ID
          in: path
          name: printout_id
          required: true
          schema:
            type: string
        - description: The operation to perform on the printout. Currently, the options are 'mark_as_printed','mark_as_canceled'
          in: query
          name: op
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/paths/~1almaws~1v1~1task-lists~1printouts/get/responses/200/content/application~1json/schema/properties/printout/items"
            application/xml:
              schema:
                $ref: "#/paths/~1almaws~1v1~1task-lists~1printouts/get/responses/200/content/application~1json/schema/properties/printout/items"
          description: OK - This method returns an object based on rest_printout.xsd. See [here](/alma/apis/docs/xsd/rest_printout.xsd)
          headers:
            X-Exl-Api-Remaining:
              $ref: "#/components/headers/remaining"
        "400":
          description: |-
            Bad Request

            402896 - 'Invalid printout ID.'

            40166410 - 'Invalid parameter.'

            40166412 - 'Failed to perform action.'
        "500":
          description: Internal Server Error
      summary: Printout Service
      tags:
        - Printouts
  /almaws/v1/task-lists/requested-resources:
    get:
      description: This API returns a list of requested resources to be picked from the shelf in Alma
      operationId: get/almaws/v1/task-lists/requested-resources
      parameters:
        - description: The library of the given circulation desk or department where the resources are located. Mandatory.
          in: query
          name: library
          required: true
          schema:
            type: string
        - description: The circulation desk where the action is being performed. Mandatory.
          in: query
          name: circ_desk
          required: true
          schema:
            type: string
        - description: The location code. Optional.
          in: query
          name: location
          required: false
          schema:
            default: ""
            type: string
        - description: "The order in which to retrieve the results: location/call_number (default)."
          in: query
          name: order_by
          required: false
          schema:
            default: call_number
            type: string
        - description: The order direction in which to retrieve the results. Optional.
          in: query
          name: direction
          required: false
          schema:
            default: asc
            type: string
        - description: The pickup institution. Optional.
          in: query
          name: pickup_inst
          required: false
          schema:
            default: ""
            type: string
        - description: "Show reported results: Y/N. Optional."
          in: query
          name: reported
          required: false
          schema:
            default: ""
            type: string
        - description: "Show printed results: Y/N. Optional."
          in: query
          name: printed
          required: false
          schema:
            default: ""
            type: string
        - description: "Limits the number of results. Optional. Valid values are 0-100. Default value: 10."
          in: query
          name: limit
          required: false
          schema:
            default: "10"
            type: integer
        - description: "Offset of the results returned. Optional. Default value: 0, which means that the first results will be returned."
          in: query
          name: offset
          required: false
          schema:
            default: "0"
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                description: A list of requested resources.
                properties:
                  requested_resource:
                    description: Requested resource object.
                    items:
                      description: Requested resource to be picked from the shelf.
                      properties:
                        location:
                          description: Location of the requested resource.
                          properties:
                            call_number:
                              description: Call number of the item.
                              example: BD450 .T266 1989
                              type: string
                            copy:
                              description: Copies of resource in a specific location.
                              items:
                                description: Specific copy of resource in a specific location.
                                properties:
                                  alternative_call_number:
                                    description: Alternative call number.
                                    example: ""
                                    type: string
                                  barcode:
                                    description: The item's barcode.
                                    example: "38751000062809"
                                    type: string
                                  base_status:
                                    description: ""
                                    properties:
                                      desc:
                                        type: string
                                        xml:
                                          attribute: true
                                      value:
                                        example: "0"
                                        type: string
                                        xml:
                                          name: xml_value
                                    type: object
                                  link:
                                    example: ""
                                    type: string
                                    xml:
                                      attribute: true
                                  pid:
                                    description: The resource's pid.
                                    example: "23321797470001021"
                                    type: string
                                  storage_location_id:
                                    description: The item's storage location id.
                                    example: "159111000"
                                    type: string
                                type: object
                                xml:
                                  name: copy
                              type: array
                              xml:
                                name: copies
                                wrapped: true
                            holding_id:
                              description: Holding pid, a unique holding id that the resource is associated with.
                              properties:
                                link:
                                  type: string
                                  xml:
                                    attribute: true
                                value:
                                  example: "22321797490001021"
                                  type: string
                                  xml:
                                    name: xml_value
                              type: object
                            library:
                              description: Library of the requested resource. See [Get libraries API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4Dp4I8TKv6CAxBlD4LyRaVE=/37088dc9-c685-4641-bc7f-60b5ca7cabed).
                              properties:
                                desc:
                                  type: string
                                  xml:
                                    attribute: true
                                value:
                                  example: TML
                                  type: string
                                  xml:
                                    name: xml_value
                              type: object
                            shelving_location:
                              description: The location.
                              example: STACK
                              type: string
                          type: object
                          xml:
                            name: location
                        request:
                          description: Requests for resource.
                          items:
                            description: Request object.
                            properties:
                              comment:
                                description: The related note of the request.
                                example: your request is important to us
                                type: string
                              destination:
                                description: "The destination will be a library in most cases. However, it may at times be: A circulation desk (when the pickup location is a reading room) A Home/Office code, where the request is for personal delivery A Work Order department"
                                properties:
                                  desc:
                                    type: string
                                    xml:
                                      attribute: true
                                  value:
                                    example: ""
                                    type: string
                                    xml:
                                      name: xml_value
                                type: object
                              id:
                                description: The identifier of the request in Alma.
                                example: "1117421001021"
                                type: string
                              link:
                                example: ""
                                type: string
                                xml:
                                  attribute: true
                              printed:
                                description: Indication whether the request is printed.
                                example: "true"
                                type: boolean
                              reported:
                                description: Indication whether the request is reported.
                                example: "true"
                                type: boolean
                              request_date:
                                description: Deprecated - use request_time instead. The request date.
                                example: 2015-05-05Z
                                format: date
                                type: string
                              request_sub_type:
                                description: The sub type of the request.
                                properties:
                                  desc:
                                    type: string
                                    xml:
                                      attribute: true
                                  value:
                                    example: ""
                                    type: string
                                    xml:
                                      name: xml_value
                                type: object
                              request_time:
                                description: The creation date and exact time of the request. Output parameter.
                                example: 2013-11-12T14:59:59.000Z
                                format: date-time
                                type: string
                              request_type:
                                description: ""
                                enum:
                                  - BOOKING
                                  - DIGITIZATION
                                  - HOLD
                                  - MOVE
                                  - WORK_ORDER
                                type: string
                              requester:
                                description: A description of the requester.
                                properties:
                                  desc:
                                    type: string
                                    xml:
                                      attribute: true
                                  value:
                                    example: John Smith
                                    type: string
                                    xml:
                                      name: xml_value
                                type: object
                            required:
                              - request_type
                            type: object
                            xml:
                              name: request
                          type: array
                          xml:
                            name: requests
                            wrapped: true
                        resource_metadata:
                          description: Metadata about the requested resource.
                          properties:
                            author:
                              description: An entity primarily responsible for making the resource.
                              example: Taylor, Charles, 1931-
                              type: string
                            isbn:
                              description: ISBN
                              example: 0674824253 (alk. paper)
                              type: string
                            issn:
                              description: ISSN
                              example: ""
                              type: string
                            mms_id:
                              description: The MMS id of the resource. See [GET BIB API](https://developers.exlibrisgroup.com/alma/apis/bibs/GET/gwPcGly021om4RTvtjbPleCklCGxeYAf3JPdiJpJhUA=/af2fb69d-64f4-42bc-bb05-d8a0ae56936e).
                              properties:
                                link:
                                  type: string
                                  xml:
                                    attribute: true
                                value:
                                  example: "99102122810001021"
                                  type: string
                                  xml:
                                    name: xml_value
                              type: object
                            publication_place:
                              description: Place of publication.
                              example: "Cambridge, Mass. :"
                              type: string
                            publication_year:
                              description: The year associated with the publication of the resource.
                              example: "1989"
                              type: string
                            publisher:
                              description: An entity responsible for making the resource available.
                              example: Harvard University
                              type: string
                            title:
                              description: The resource title.
                              example: "Sources of the self : the making of the modern identity / Charles Taylor."
                              type: string
                          type: object
                          xml:
                            name: resource_metadata
                      type: object
                      xml:
                        name: requested_resource
                    type: array
                  total_record_count:
                    description: The total number of requested resources.
                    example: ""
                    format: int32
                    type: integer
                    xml:
                      attribute: true
                type: object
                xml:
                  name: requested_resources
            application/xml:
              schema:
                $ref: "#/paths/~1almaws~1v1~1task-lists~1requested-resources/get/responses/200/content/application~1json/schema"
          description: OK - This method returns an object based on rest_requested_resources.xsd. See [here](/alma/apis/docs/xsd/rest_requested_resources.xsd)
          headers:
            X-Exl-Api-Remaining:
              $ref: "#/components/headers/remaining"
        "400":
          description: |-
            Bad Request

            402119 - 'General error.'

            401664 - 'Mandatory field is missing: X.'

            40166414 - 'The parameter 'X' is mandatory. Valid options are: Y.'
        "500":
          description: Internal Server Error
      summary: Get Requested Resources
      tags:
        - Requested Resources
    post:
      description: This API performs an action on requested resources that are on the shelf in Alma
      operationId: post/almaws/v1/task-lists/requested-resources
      parameters:
        - description: The library of the given circulation desk or department where the resources are located. Mandatory.
          in: query
          name: library
          required: false
          schema:
            default: ""
            type: string
        - description: The circulation desk where the action is being performed. Mandatory.
          in: query
          name: circ_desk
          required: false
          schema:
            default: ""
            type: string
        - description: Operation to be preformed on the list of given requests. Currently the only supported action is 'mark_reported'. Mandatory.
          in: query
          name: op
          required: false
          schema:
            default: ""
            type: string
        - description: The location code. Optional.
          in: query
          name: location
          required: false
          schema:
            default: ""
            type: string
        - description: The pickup institution. Optional.
          in: query
          name: pickup_inst
          required: false
          schema:
            default: ""
            type: string
        - description: "Show reported results: Y/N. Optional."
          in: query
          name: reported
          required: false
          schema:
            default: ""
            type: string
        - description: "Show printed results: Y/N. Optional."
          in: query
          name: printed
          required: false
          schema:
            default: ""
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/paths/~1almaws~1v1~1task-lists~1requested-resources/get/responses/200/content/application~1json/schema"
            application/xml:
              schema:
                $ref: "#/paths/~1almaws~1v1~1task-lists~1requested-resources/get/responses/200/content/application~1json/schema"
          description: OK - This method returns an object based on rest_requested_resources.xsd. See [here](/alma/apis/docs/xsd/rest_requested_resources.xsd)
          headers:
            X-Exl-Api-Remaining:
              $ref: "#/components/headers/remaining"
        "400":
          description: |-
            Bad Request

            402119 - 'General error.'

            401664 - 'Mandatory field is missing: X.'

            40166414 - 'The parameter 'X' is mandatory. Valid options are: Y.'
        "500":
          description: Internal Server Error
      summary: Act on Requested Resources
      tags:
        - Requested Resources
  /almaws/v1/task-lists/rs/lending-requests:
    get:
      description: This API returns a list of lending requests in Alma
      operationId: get/almaws/v1/task-lists/rs/lending-requests
      parameters:
        - description: The resource sharing library for which lending requests should be retrieved. Mandatory. List of possible libraries can be retrieved using the [GET /almaws/v1/conf/libraries API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4Dp4I8TKv6CAxBlD4LyRaVE=/37088dc9-c685-4641-bc7f-60b5ca7cabed).
          in: query
          name: library
          required: false
          schema:
            default: ""
            type: string
        - description: The status of lending requests to retrieve. Optional. List of possible statuses can be retrieved using the [GET almaws/v1/conf/code-tables/MandatoryLendingWorkflowSteps API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4K7cQ0vuYHLS4NSgDGmcRpRYqx5hIMRTng9SIKO5Vof+/37088dc9-c685-4641-bc7f-60b5ca7cabed) and the  [GET almaws/v1/conf/code-tables/OptionalLendingWorkflowSteps API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4K7cQ0vuYHLS4NSgDGmcRpRYqx5hIMRTng9SIKO5Vof+/37088dc9-c685-4641-bc7f-60b5ca7cabed).
          in: query
          name: status
          required: false
          schema:
            default: ""
            type: string
        - description: "The 'printed' value of lending requests to retrieve. Optional. Possible values: Y, N."
          in: query
          name: printed
          required: false
          schema:
            default: ""
            type: string
        - description: "The 'reported' value of lending requests to retrieve. Optional. Possible values: Y, N."
          in: query
          name: reported
          required: false
          schema:
            default: ""
            type: string
        - description: The partner value. Only lending requests from this partner should be retrieved. Optional. List of possible partners can be retrieved using the [GET almaws/v1/partners API](https://developers.exlibrisgroup.com/alma/apis/partners/GET/gwPcGly021piAVNPLaef7suP1zfa6Lui/8883ef41-c3b8-4792-9ff8-cb6b729d6e07).
          in: query
          name: partner
          required: false
          schema:
            default: ""
            type: string
        - description: Requested format of the resource. Optional. List of possible formats can be retrieved using the [GET almaws/v1/conf/code-tables/RequestFormats API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4K7cQ0vuYHLS4NSgDGmcRpRYqx5hIMRTng9SIKO5Vof+/37088dc9-c685-4641-bc7f-60b5ca7cabed).
          in: query
          name: requested_format
          required: false
          schema:
            default: ""
            type: string
        - description: Supplied Format of the resource. Optional. List of possible formats can be retrieved using the [GET almaws/v1/conf/code-tables/RequestFormats API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4K7cQ0vuYHLS4NSgDGmcRpRYqx5hIMRTng9SIKO5Vof+/37088dc9-c685-4641-bc7f-60b5ca7cabed).
          in: query
          name: supplied_format
          required: false
          schema:
            default: ""
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                description: A list of resource sharing requests.
                properties:
                  total_record_count:
                    description: The total number of resource sharing requests in the given list.
                    example: ""
                    format: int64
                    type: integer
                    xml:
                      attribute: true
                  user_resource_sharing_request:
                    description: UserResourceSharingRequest object.
                    items:
                      description: Resource sharing request Object.
                      properties:
                        additional_barcode:
                          description: List of additional barcodes. Note that the first one appears in the main barcode field.
                          items:
                            example: "00023705571000021"
                            type: string
                            xml:
                              name: additional_barcode
                          type: array
                          xml:
                            name: additional_barcodes
                            wrapped: true
                        additional_person_name:
                          description: The name of an additional contact.
                          example: John Smith
                          type: string
                        agree_to_copyright_terms:
                          description: Indication whether the requester has agreed to the copyright terms. Mandatory for borrowing requests. Currently not relevant for lending requests.
                          example: "true"
                          type: boolean
                        allow_other_formats:
                          description: Indication whether other formats besides the value in format field are acceptable. Default is false.
                          example: "true"
                          type: boolean
                        author:
                          description: Author of the requested resource.
                          example: John Smith
                          type: string
                        author_initials:
                          description: Author initials of the requested resource.
                          example: J.S
                          type: string
                        barcode:
                          description: Barcode of the requested resource.
                          example: "00023705571000021"
                          type: string
                        bib_note:
                          description: The note of the bibliographic record.
                          example: ""
                          type: string
                        call_number:
                          description: The call number of the book. Indicates the library shelf on which the books are located.
                          example: "1"
                          type: string
                        chapter:
                          description: The chapter number in the journal that contains the article.
                          example: "4"
                          type: string
                        chapter_author:
                          description: For a book chapter, the author of this chapter.
                          example: John Smith
                          type: string
                        chapter_title:
                          description: For a book chapter, the title of this chapter.
                          example: Chapter title
                          type: string
                        citation_type:
                          description: "Type of the requested resource. For example, book or article. Mandatory for borrowing requests. Mandatory when creating a lending request unless mms_id is supplied. For borrowing requests, possible codes are listed in 'PhysicalReadingListCitationTypes' [code table](https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API): BK / CR. For lending requests, possible codes are listed in PR_CitationType [code table](https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API): BOOK / JOURNAL."
                          properties:
                            desc:
                              type: string
                              xml:
                                attribute: true
                            value:
                              example: BK
                              type: string
                              xml:
                                name: xml_value
                          type: object
                        copyright_status:
                          description: The copyright status of the request. Relevant if requested format is Digital, and 'rs_borrower_copyright_management' in customer parameters is true. Possible options are listed in 'ResourceSharingCopyrightsStatus' [code table](https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API), default is generated per request. Relevant for GET, POST and PUT of borrowing requests, and GET of lending requests.
                          properties:
                            desc:
                              type: string
                              xml:
                                attribute: true
                            value:
                              example: APPROVED
                              type: string
                              xml:
                                name: xml_value
                          type: object
                        created_date:
                          description: The request creation date.
                          example: 2013-11-12Z
                          format: date
                          type: string
                        created_time:
                          description: The request creation time.
                          example: 2019-12-18T14:36:48.659Z
                          format: date-time
                          type: string
                        doi:
                          description: The doi of the requested resource.
                          example: ""
                          type: string
                        edition:
                          description: The edition of the requested resource.
                          example: "1"
                          type: string
                        editor:
                          description: The editor of the book (typically used for books where chapters have different authors).
                          example: John Smith
                          type: string
                        end_page:
                          description: The end page of the requested resource.
                          example: "49"
                          type: string
                        external_id:
                          description: External identifier of the resource sharing request. Mandatory when creating a lending request.
                          example: "12013330000874120"
                          type: string
                        format:
                          description: Format of the resource requested. For example, physical or digital. Mandatory. Possible codes are listed in RequestFormats [code tables](https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API).
                          properties:
                            desc:
                              type: string
                              xml:
                                attribute: true
                            value:
                              example: PHYSICAL
                              type: string
                              xml:
                                name: xml_value
                          type: object
                        fund:
                          description: The code of the fund. Not relevant for lending requests.
                          properties:
                            desc:
                              type: string
                              xml:
                                attribute: true
                            value:
                              example: ""
                              type: string
                              xml:
                                name: xml_value
                          type: object
                        has_active_notes:
                          description: Indication whether the request has active notes. Output parameter.
                          example: "false"
                          type: boolean
                        isbn:
                          description: ISBN of the requested resource.
                          example: 0674824253 (alk. paper)
                          type: string
                        issn:
                          description: ISSN of the requested resource.
                          example: ""
                          type: string
                        issue:
                          description: The issue of the requested resource.
                          example: ""
                          type: string
                        journal_title:
                          description: The title of the journal. Relevant when an article is requested.
                          example: Journal title
                          type: string
                        last_interest_date:
                          description: Last date the request is needed. Optional.
                          example: 2013-12-13Z
                          format: date
                          type: string
                        last_modified_date:
                          description: Date by which the last change to the request was made.
                          example: 2015-10-11Z
                          format: date
                          type: string
                        last_modified_time:
                          description: Time by which the last change to the request was made.
                          example: 2019-12-18T14:36:48.659Z
                          format: date-time
                          type: string
                        lcc_number:
                          description: The library of congress number of the book.
                          example: "102188800001"
                          type: string
                        level_of_service:
                          description: The code of the resource sharing request Level of Service. Possible options are listed in 'LevelOfService' [code table](https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API), default is generated per request.
                          properties:
                            desc:
                              type: string
                              xml:
                                attribute: true
                            value:
                              example: NORMAL_LOCAL
                              type: string
                              xml:
                                name: xml_value
                          type: object
                        lost_damaged_fee:
                          $ref: "#/paths/~1almaws~1v1~1task-lists~1rs~1lending-requests/get/responses/200/content/application~1json/schema/properties/user_resource_sharing_request/items/properties/shipping_cost"
                        maximum_fee:
                          description: Maximum fee the user is willing to pay for the request. Currently not relevant for lending requests.
                          example: "2000.0"
                          format: float
                          type: number
                        mms_id:
                          description: "MMS ID of the requested resource. Borrowing request: this is relevant after physical material has arrived. Lending request: if supplied when creating a request, the request will be attached to this bib record. See [GET BIB API](https://developers.exlibrisgroup.com/alma/apis/bibs/GET/gwPcGly021om4RTvtjbPleCklCGxeYAf3JPdiJpJhUA=/af2fb69d-64f4-42bc-bb05-d8a0ae56936e)."
                          example: "9933745180101020"
                          type: string
                        need_patron_info:
                          description: Indication whether patron information is needed. Not relevant for lending requests.
                          example: "true"
                          type: boolean
                        note:
                          description: General note.
                          example: ""
                          type: string
                        oclc_number:
                          description: The oclc number of the book.
                          example: "100100100"
                          type: string
                        other_standard_id:
                          description: The other standard id of the requested resource.
                          example: "100100100"
                          type: string
                        owner:
                          description: "The resource sharing library code. See [Get libraries API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4Dp4I8TKv6CAxBlD4LyRaVE=/37088dc9-c685-4641-bc7f-60b5ca7cabed). Borrowing request: Optional. Used only when there are more than one resource sharing library defined for the user. Lending request: Mandatory."
                          example: John Smith
                          type: string
                        pages:
                          description: The relevant pages of the requested resource.
                          example: ""
                          type: string
                        part:
                          description: The part of the requested resource.
                          example: ""
                          type: string
                        partner:
                          description: The code of the partner related to this request. See [Get partners API](https://developers.exlibrisgroup.com/alma/apis/partners/GET/gwPcGly021piAVNPLaef7suP1zfa6Lui/8883ef41-c3b8-4792-9ff8-cb6b729d6e07). Mandatory when creating a lending request.
                          properties:
                            desc:
                              type: string
                              xml:
                                attribute: true
                            value:
                              example: "10218885421021"
                              type: string
                              xml:
                                name: xml_value
                          type: object
                        pickup_location:
                          description: The pickup library code where the resource will be delivered. Relevant and mandatory for physical format delivery Borrowing request. Optional for digital format. Not relevant for lending requests.
                          properties:
                            desc:
                              type: string
                              xml:
                                attribute: true
                            value:
                              example: ONL
                              type: string
                              xml:
                                name: xml_value
                          type: object
                        pickup_location_type:
                          description: "The pickup location type. The pickup location type. Possible values are: LIBRARY, CIRCULATION_DESK."
                          example: LIBRARY
                          type: string
                        place_of_publication:
                          description: The publication place of the requested resource.
                          example: "Cambridge, Mass. :"
                          type: string
                        pmid:
                          description: The pmid of the requested resource.
                          example: "1284442031021"
                          type: string
                        preferred_send_method:
                          description: Preferred send method. Possible options are listed in 'ResourceSharingRequestSendMethod' [code table](https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API). Currently not relevant for lending requests.
                          properties:
                            desc:
                              type: string
                              xml:
                                attribute: true
                            value:
                              example: ARIEL
                              type: string
                              xml:
                                name: xml_value
                          type: object
                        printed:
                          description: Indication whether the request is printed. Output parameter. Relevant for lending requests.
                          example: "true"
                          type: boolean
                        publisher:
                          description: Publisher of the requested resource.
                          example: John Smith
                          type: string
                        reading_room:
                          description: The code of the reading room where the item will be picked up. Mandatory when for_reading_room_only is true. Not relevant for lending requests.
                          properties:
                            desc:
                              type: string
                              xml:
                                attribute: true
                            value:
                              example: ""
                              type: string
                              xml:
                                name: xml_value
                          type: object
                        receive_cost:
                          $ref: "#/paths/~1almaws~1v1~1task-lists~1rs~1lending-requests/get/responses/200/content/application~1json/schema/properties/user_resource_sharing_request/items/properties/shipping_cost"
                        remote_record_id:
                          description: The remote record id of the requested resource.
                          example: "100100100"
                          type: string
                        reported:
                          description: Indication whether the request is reported. Output parameter. Relevant for lending requests.
                          example: "false"
                          type: boolean
                        request_cost:
                          $ref: "#/paths/~1almaws~1v1~1task-lists~1rs~1lending-requests/get/responses/200/content/application~1json/schema/properties/user_resource_sharing_request/items/properties/shipping_cost"
                        request_id:
                          description: Internal identifier of the resource sharing request in Alma, generated by Alma. Should be used in subsequent queries regarding the request.
                          example: "1001966830001021"
                          type: string
                        requested_language:
                          description: The requested language for the resource sharing request. Possible codes are the enabled fields in ResourceSharingLanguages [code table](https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API). Default is null.
                          properties:
                            desc:
                              type: string
                              xml:
                                attribute: true
                            value:
                              example: ml
                              type: string
                              xml:
                                name: xml_value
                          type: object
                        requested_media:
                          description: A description of the requested media. possible values are 1-7 (codes from request media code table), and the codes from 'AdditionalRequestedMedia' [code table](https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API). The valid values are according to the Requested media definition mapping table.
                          example: "1"
                          type: string
                        requester:
                          description: The primary identifier and full name of the requesting user. Relevant for borrowing requests. Not relevant for lending requests.
                          properties:
                            desc:
                              type: string
                              xml:
                                attribute: true
                            value:
                              example: Jane doe
                              type: string
                              xml:
                                name: xml_value
                          type: object
                        rs_note:
                          description: List of related notes that appear in the Notes tab in the UI..
                          items:
                            description: Specific related note.
                            properties:
                              content:
                                description: The note's text. Mandatory.
                                example: ""
                                type: string
                              created_by:
                                description: The creator of the note.
                                example: ""
                                type: string
                              created_date:
                                description: The creation date of the note. Default is the current date.
                                example: 2024-05-30Z
                                format: date
                                type: string
                            type: object
                            xml:
                              name: rs_note
                          type: array
                          xml:
                            name: rs_notes
                            wrapped: true
                        series_title_number:
                          description: The series title number of the requested resource.
                          example: "100"
                          type: string
                        shipping_cost:
                          description: ""
                          properties:
                            currency:
                              description: The currency. Possible values are listed in 'Currency_CT' [code table](https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API).
                              properties:
                                desc:
                                  type: string
                                  xml:
                                    attribute: true
                                value:
                                  example: USD
                                  type: string
                                  xml:
                                    name: xml_value
                              type: object
                            sum:
                              description: The total sum.
                              example: "0.00"
                              format: double
                              type: number
                          required:
                            - sum
                            - currency
                          type: object
                          xml:
                            name: amount
                        source:
                          description: The source of the requested resource.
                          example: ""
                          type: string
                        specific_edition:
                          description: Indication whether edition is used in ISO Protocol and in Locate process. Default is true. Relevant when a book is requested.
                          example: "true"
                          type: boolean
                        start_page:
                          description: The relevant start page of the requested resource.
                          example: "2"
                          type: string
                        status:
                          description: "The resource sharing request status. Borrowing request: Possible codes are listed in MandatoryBorrowingWorkflowSteps or OptionalBorrowingWorkflowSteps [code tables](https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API). Lending request: Possible codes are listed in MandatoryLendingWorkflowSteps or OptionalLendingWorkflowSteps [code tables](https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API)."
                          properties:
                            desc:
                              type: string
                              xml:
                                attribute: true
                            value:
                              example: ACTIVE
                              type: string
                              xml:
                                name: xml_value
                          type: object
                        supplied_format:
                          description: Format of the supplied item. For example, physical or digital. Possible codes are listed in RequestFormats [code table](https://developers.exlibrisgroup.com/blog/Working-with-the-code-tables-API). Relevant only after the request is supplied.
                          properties:
                            desc:
                              type: string
                              xml:
                                attribute: true
                            value:
                              example: DIGITAL
                              type: string
                              xml:
                                name: xml_value
                          type: object
                        text_email:
                          description: "Borrowing request: In use with alternative_address only. In use when sending in digital format. Lending request: Requester's Email."
                          example: ""
                          type: string
                        text_postal_1:
                          description: In use with alternative_address only. Not relevant for lending requests.
                          example: ""
                          type: string
                        text_postal_2:
                          description: In use with alternative_address only. Not relevant for lending requests.
                          example: ""
                          type: string
                        text_postal_3:
                          description: In use with alternative_address only. Not relevant for lending requests.
                          example: ""
                          type: string
                        text_postal_4:
                          description: In use with alternative_address only. Not relevant for lending requests.
                          example: ""
                          type: string
                        title:
                          description: Title of the requested resource. Mandatory unless mms_id is supplied.
                          example: Harry Potter
                          type: string
                        use_alternative_address:
                          description: An indication of whether the delivery should be to an alternative address. Default is false. Not relevant for lending requests.
                          example: "false"
                          type: boolean
                        user_request:
                          description: "The request linked to the resource sharing request. Borrowing requests: this is the related user request. Lending requests: this is the move/digitization request (if exists). See [GET user's request API](https://developers.exlibrisgroup.com/alma/apis/users/GET/gwPcGly021r0XQMGAttqcPPFoLNxBoEZbQsUC/MWTX7aNWi0EYKYFUfYyI8KvpG73JPdiJpJhUA=/0aa8d36f-53d6-48ff-8996-485b90b103e4)."
                          properties:
                            link:
                              type: string
                              xml:
                                attribute: true
                            value:
                              example: ""
                              type: string
                              xml:
                                name: xml_value
                          type: object
                        volume:
                          description: The volume number of the journal that contains the article.
                          example: "10"
                          type: string
                        willing_to_pay:
                          description: Indication whether patron is willing to pay. Currently not relevant for lending requests.
                          example: "false"
                          type: boolean
                        year:
                          description: Publication date of the requested resource.
                          example: "2010"
                          type: string
                      type: object
                      xml:
                        name: user_resource_sharing_request
                    type: array
                type: object
                xml:
                  name: user_resource_sharing_requests
            application/xml:
              schema:
                $ref: "#/paths/~1almaws~1v1~1task-lists~1rs~1lending-requests/get/responses/200/content/application~1json/schema"
          description: OK - This method returns an object based on rest_user_resource_sharing_requests.xsd. See [here](/alma/apis/docs/xsd/rest_user_resource_sharing_requests.xsd)
          headers:
            X-Exl-Api-Remaining:
              $ref: "#/components/headers/remaining"
        "400":
          description: |-
            Bad Request

            402119 - 'General error.'

            401664 - 'Mandatory field is missing: X.'

            40166414 - 'The parameter 'X' is mandatory. Valid options are: Y.'
        "500":
          description: Internal Server Error
      summary: Get Lending Requests
      tags:
        - Lending Requests
    post:
      description: This API preforms the requested action on a list (specified by given filters) of lending requests in Alma
      operationId: post/almaws/v1/task-lists/rs/lending-requests
      parameters:
        - description: The resource sharing library from which lending requests should be retrieved. Mandatory. List of possible libraries can be retrieved using the [GET /almaws/v1/conf/libraries API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4Dp4I8TKv6CAxBlD4LyRaVE=/37088dc9-c685-4641-bc7f-60b5ca7cabed).
          in: query
          name: library
          required: false
          schema:
            default: ""
            type: string
        - description: Operation to be preformed on the list of given requests. Currently the only supported action is 'mark_reported'. Mandatory.
          in: query
          name: op
          required: false
          schema:
            default: ""
            type: string
        - description: The status of lending requests to retrieve. Optional. List of possible statuses can be retrieved using the [GET almaws/v1/conf/code-tables/MandatoryLendingWorkflowSteps API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4K7cQ0vuYHLS4NSgDGmcRpRYqx5hIMRTng9SIKO5Vof+/37088dc9-c685-4641-bc7f-60b5ca7cabed).and the  [GET almaws/v1/conf/code-tables/OptionalLendingWorkflowSteps API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4K7cQ0vuYHLS4NSgDGmcRpRYqx5hIMRTng9SIKO5Vof+/37088dc9-c685-4641-bc7f-60b5ca7cabed).
          in: query
          name: status
          required: false
          schema:
            default: ""
            type: string
        - description: "The 'printed' value of lending requests to retrieve. Optional. Possible values: Y, N."
          in: query
          name: printed
          required: false
          schema:
            default: ""
            type: string
        - description: "The 'reported' value of lending requests to retrieve. Optional. Possible values: Y, N."
          in: query
          name: reported
          required: false
          schema:
            default: ""
            type: string
        - description: The partner value. Only lending requests from this partner should be. Optional. List of possible partners can be retrieved using the [GET almaws/v1/partners API](https://developers.exlibrisgroup.com/alma/apis/partners/GET/gwPcGly021piAVNPLaef7suP1zfa6Lui/8883ef41-c3b8-4792-9ff8-cb6b729d6e07).
          in: query
          name: partner
          required: false
          schema:
            default: ""
            type: string
        - description: Requested format of the resource. Optional. List of possible formats can be retrieved using the [GET almaws/v1/conf/code-tables/RequestFormats API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4K7cQ0vuYHLS4NSgDGmcRpRYqx5hIMRTng9SIKO5Vof+/37088dc9-c685-4641-bc7f-60b5ca7cabed).
          in: query
          name: requested_format
          required: false
          schema:
            default: ""
            type: string
        - description: Supplied Format of the resource. Optional. List of possible formats can be retrieved using the [GET almaws/v1/conf/code-tables/RequestFormats API](https://developers.exlibrisgroup.com/alma/apis/conf/GET/gwPcGly021p29HpB7XTI4K7cQ0vuYHLS4NSgDGmcRpRYqx5hIMRTng9SIKO5Vof+/37088dc9-c685-4641-bc7f-60b5ca7cabed).
          in: query
          name: supplied_format
          required: false
          schema:
            default: ""
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/paths/~1almaws~1v1~1task-lists~1rs~1lending-requests/get/responses/200/content/application~1json/schema/properties/user_resource_sharing_request/items"
            application/xml:
              schema:
                $ref: "#/paths/~1almaws~1v1~1task-lists~1rs~1lending-requests/get/responses/200/content/application~1json/schema/properties/user_resource_sharing_request/items"
          description: OK - This method returns an object based on rest_user_resource_sharing_request.xsd. See [here](/alma/apis/docs/xsd/rest_user_resource_sharing_request.xsd)
          headers:
            X-Exl-Api-Remaining:
              $ref: "#/components/headers/remaining"
        "400":
          description: |-
            Bad Request

            402119 - 'General error.'

            401666 - 'X parameter is not valid.'

            401664 - 'Mandatory field is missing: X.'

            40166414 - 'The parameter 'X' is mandatory. Valid options are: Y.'
        "500":
          description: Internal Server Error
      summary: Act on Lending Requests
      tags:
        - Lending Requests
  /almaws/v1/task-lists/test:
    get:
      description: "This API is used to test if the API key was configured correctly.It returns a short XML (no schema available - the output is subject to changes) with the following structure:<test>GET - OK - institutionCode: 01ABC_INST</test>"
      operationId: get/almaws/v1/task-lists/test
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
          description: OK
          headers:
            X-Exl-Api-Remaining:
              $ref: "#/components/headers/remaining"
        "400":
          description: |+
            Bad Request

        "500":
          description: Internal Server Error
      summary: GET Task-lists Test API
      tags:
        - Test
    post:
      description: This API is used to test if the API key was configured correctly, including read/write permissions.It returns a short XML (no schema available - the output is subject to changes) with the following structure:<test>POST - OK</test>
      operationId: post/almaws/v1/task-lists/test
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
          description: OK
          headers:
            X-Exl-Api-Remaining:
              $ref: "#/components/headers/remaining"
        "400":
          description: |+
            Bad Request

        "500":
          description: Internal Server Error
      summary: POST Task-lists Test API
      tags:
        - Test
components:
  headers:
    remaining:
      description: The number of remaining calls according to the [Governance Threshold](https://developers.exlibrisgroup.com/alma/apis/#threshold)
      schema:
        type: integer
  securitySchemes:
    ApiKeyAuth:
      description: API key used to authorize requests. Learn about how to create API keys at [Alma REST APIs](https://developers.exlibrisgroup.com/alma/apis/#defining)
      in: query
      name: apikey
      type: apiKey
