swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: Provider API Client
  version: 2019-08-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/Provider.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-Provider
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API Version
    in: query
    name: api-version
    required: true
    type: string
  subscriptionIdParameter:
    description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Web/availableStacks:
    get:
      description: Description for Get available application frameworks and their versions
      operationId: Provider_GetAvailableStacks
      parameters:
        - enum:
            - Windows
            - Linux
            - WindowsFunctions
            - LinuxFunctions
          in: query
          name: osTypeSelected
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ApplicationStackCollection"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Get available application frameworks and their versions
      tags:
        - Provider
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Web/operations:
    get:
      description: Description for Gets all available operations for the Microsoft.Web resource provider. Also exposes resource metric definitions
      operationId: Provider_ListOperations
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            description: Collection of Azure resource manager operation metadata.
            properties:
              nextLink:
                description: Link to next page of resources.
                readOnly: true
                type: string
              value:
                description: Collection of resources.
                items:
                  description: Description of an operation available for Microsoft.Web resource provider.
                  properties:
                    display:
                      description: Meta data about operation used for display in portal.
                      properties:
                        description:
                          type: string
                        operation:
                          type: string
                        provider:
                          type: string
                        resource:
                          type: string
                      type: object
                    name:
                      type: string
                    origin:
                      type: string
                    properties:
                      description: Properties available for a Microsoft.Web resource provider operation.
                      properties:
                        serviceSpecification:
                          description: Resource metrics service provided by Microsoft.Insights resource provider.
                          properties:
                            logSpecifications:
                              items:
                                description: Log Definition of a single resource metric.
                                properties:
                                  blobDuration:
                                    type: string
                                  displayName:
                                    type: string
                                  name:
                                    type: string
                                type: object
                              type: array
                            metricSpecifications:
                              items:
                                description: Definition of a single resource metric.
                                properties:
                                  aggregationType:
                                    type: string
                                  availabilities:
                                    items:
                                      description: Retention policy of a resource metric.
                                      properties:
                                        blobDuration:
                                          type: string
                                        timeGrain:
                                          type: string
                                      type: object
                                    type: array
                                  category:
                                    type: string
                                  dimensions:
                                    items:
                                      description: |-
                                        Dimension of a resource metric. For e.g. instance specific HTTP requests for a web app, 
                                        where instance name is dimension of the metric HTTP request
                                      properties:
                                        displayName:
                                          type: string
                                        internalName:
                                          type: string
                                        name:
                                          type: string
                                        toBeExportedForShoebox:
                                          type: boolean
                                      type: object
                                    type: array
                                  displayDescription:
                                    type: string
                                  displayName:
                                    type: string
                                  enableRegionalMdmAccount:
                                    type: boolean
                                  fillGapWithZero:
                                    type: boolean
                                  isInternal:
                                    type: boolean
                                  metricFilterPattern:
                                    type: string
                                  name:
                                    type: string
                                  sourceMdmAccount:
                                    type: string
                                  sourceMdmNamespace:
                                    type: string
                                  supportedTimeGrainTypes:
                                    items:
                                      type: string
                                    type: array
                                  supportsInstanceLevelAggregation:
                                    type: boolean
                                  unit:
                                    type: string
                                type: object
                              type: array
                          type: object
                      type: object
                  type: object
                type: array
            required:
              - value
            type: object
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Gets all available operations for the Microsoft.Web resource provider. Also exposes resource metric definitions
      tags:
        - Provider
      x-ms-examples:
        List operations:
          parameters:
            api-version: 2019-08-01
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Get the properties of a Web App
                      operation: Get Web App
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/Read
                    origin: user,system
                  - display:
                      description: Create a new Web App or update an existing one
                      operation: Create or Update Web App
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/Write
                    origin: user,system
                  - display:
                      description: Create a new Web App Slot or update an existing one
                      operation: Create or Update Web App Slot
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/Write
                    origin: user,system
                  - display:
                      description: Delete an existing Web App
                      operation: Delete Web App
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/Delete
                    origin: user,system
                  - display:
                      description: Delete an existing Web App Slot
                      operation: Delete Web App Slot
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/Delete
                    origin: user,system
                  - display:
                      description: Get Web App Slot's configuration settings
                      operation: Get Web App Slot Configuration
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/config/Read
                    origin: user,system
                  - display:
                      description: Get Web App configuration settings
                      operation: Get Web App Configuration
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/config/Read
                    origin: user,system
                  - display:
                      description: List Web App's security sensitive settings, such as publishing credentials, app settings and connection strings
                      operation: List Web App Security Sensitive Settings
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/config/list/Action
                    origin: user,system
                  - display:
                      description: List Web App Slot's security sensitive settings, such as publishing credentials, app settings and connection strings
                      operation: List Web App Slot Security Sensitive Settings
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/config/list/Action
                    origin: user,system
                  - display:
                      description: Update Web App's configuration settings
                      operation: Update Web App Configuration
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/config/Write
                    origin: user,system
                  - display:
                      description: Update Web App Slot's configuration settings
                      operation: Update Web App Slot Configuration
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/config/Write
                    origin: user,system
                  - display:
                      description: Get Web App's source control configuration settings
                      operation: Get Web App Source Control Configuration
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/sourcecontrols/Read
                    origin: user,system
                  - display:
                      description: Get Web App Slot's source control configuration settings
                      operation: Get Web App Slot Source Control Configuration
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/sourcecontrols/Read
                    origin: user,system
                  - display:
                      description: Update Web App's source control configuration settings
                      operation: Update Web App Source Control Configuration
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/sourcecontrols/Write
                    origin: user,system
                  - display:
                      description: Update Web App Slot's source control configuration settings
                      operation: Update Web App Slot Source Control Configuration
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/sourcecontrols/Write
                    origin: user,system
                  - display:
                      description: Delete Web App's source control configuration settings
                      operation: Delete Web App Source Control Configuration
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/sourcecontrols/Delete
                    origin: user,system
                  - display:
                      description: Delete Web App Slot's source control configuration settings
                      operation: Delete Web App Slot Source Control Configuration
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/sourcecontrols/Delete
                    origin: user,system
                  - display:
                      description: Create a new web app backup
                      operation: Create Web App Backup
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/backup/Action
                    origin: user,system
                  - display:
                      description: Create new Web App Slot backup.
                      operation: Create Web App Slot Backup
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/backup/Action
                    origin: user,system
                  - display:
                      description: Get the properties of a web app's backup
                      operation: Get Web App Backup
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/backups/Read
                    origin: user,system
                  - display:
                      description: Get the properties of a web app slots' backup
                      operation: List Web App Slot Backups
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/backups/Read
                    origin: user,system
                  - display:
                      description: Get publishing profile xml for a Web App
                      operation: Get Web App Publishing Profile
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/publishxml/Action
                    origin: user,system
                  - display:
                      description: Get publishing profile xml for Web App Slot
                      operation: Get Web App Slot Publishing Profile
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/publishxml/Action
                    origin: user,system
                  - display:
                      description: Publish a Web App
                      operation: Publish Web App
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/publish/Action
                    origin: user,system
                  - display:
                      description: Publish a Web App Slot
                      operation: Publish Web App Slot
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/publish/Action
                    origin: user,system
                  - display:
                      description: Restart a Web App
                      operation: Restart Web App
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/restart/Action
                    origin: user,system
                  - display:
                      description: Restart a Web App Slot
                      operation: Restart Web App Slot
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/restart/Action
                    origin: user,system
                  - display:
                      description: Start a Web App
                      operation: Start Web App
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/start/Action
                    origin: user,system
                  - display:
                      description: Start a Web App Slot
                      operation: Start Web App Slot
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/start/Action
                    origin: user,system
                  - display:
                      description: Stop a Web App
                      operation: Stop Web App
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/stop/Action
                    origin: user,system
                  - display:
                      description: Stop a Web App Slot
                      operation: Stop Web App Slot
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/stop/Action
                    origin: user,system
                  - display:
                      description: Swap Web App deployment slots
                      operation: Swap Web App Slots
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/slotsswap/Action
                    origin: user,system
                  - display:
                      description: Swap Web App deployment slots
                      operation: Swap Web App Slots
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/slotsswap/Action
                    origin: user,system
                  - display:
                      description: Get differences in configuration between web app and slots
                      operation: Get Web App Slots Differences
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/slotsdiffs/Action
                    origin: user,system
                  - display:
                      description: Get differences in configuration between web app and slots
                      operation: Get Web App Slots Differences
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/slotsdiffs/Action
                    origin: user,system
                  - display:
                      description: Apply web app slot configuration from target slot to the current web app
                      operation: Apply Web App Configuration
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/applySlotConfig/Action
                    origin: user,system
                  - display:
                      description: Apply web app slot configuration from target slot to the current slot.
                      operation: Apply Web App Slot Configuration
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/applySlotConfig/Action
                    origin: user,system
                  - display:
                      description: Reset web app configuration
                      operation: Reset Web App Configuration
                      provider: Microsoft Web Apps
                      resource: Web App
                    name: Microsoft.Web/sites/resetSlotConfig/Action
                    origin: user,system
                  - display:
                      description: Reset web app slot configuration
                      operation: Reset Web App Slot Configuration
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/resetSlotConfig/Action
                    origin: user,system
                  - display:
                      description: Get the properties of a Web App deployment slot
                      operation: Get Web App Deployment Slot
                      provider: Microsoft Web Apps
                      resource: Web App Slot
                    name: Microsoft.Web/sites/slots/Read
                    origin: user,system
                  - display:
                      description: Get the properties on an App Service Plan
                      operation: Get App Service Plan
                      provider: Microsoft Web Apps
                      resource: App Service Plan
                    name: Microsoft.Web/serverfarms/Read
                    origin: user,system
                  - display:
                      description: Create a new App Service Plan or update an existing one
                      operation: Create or Update App Service Plan
                      provider: Microsoft Web Apps
                      resource: App Service Plan
                    name: Microsoft.Web/serverfarms/Write
                    origin: user,system
                  - display:
                      description: Delete an existing App Service Plan
                      operation: Delete App Service Plan
                      provider: Microsoft Web Apps
                      resource: App Service Plan
                    name: Microsoft.Web/serverfarms/Delete
                    origin: user,system
                  - display:
                      description: Restart all Web Apps in an App Service Plan
                      operation: Restart Web Apps
                      provider: Microsoft Web Apps
                      resource: App Service Plan
                    name: Microsoft.Web/serverfarms/restartSites/Action
                    origin: user,system
                  - display:
                      description: Get the list of certificates.
                      operation: Get Certificates
                      provider: Microsoft Web Apps
                      resource: Certificate
                    name: Microsoft.Web/certificates/Read
                    origin: user,system
                  - display:
                      description: Add a new certificate or update an existing one.
                      operation: Add or Update Certificate
                      provider: Microsoft Web Apps
                      resource: Certificate
                    name: Microsoft.Web/certificates/Write
                    origin: user,system
                  - display:
                      description: Delete an existing certificate.
                      operation: Delete Certificate
                      provider: Microsoft Web Apps
                      resource: Certificate
                    name: Microsoft.Web/certificates/Delete
                    origin: user,system
                  - display:
                      description: Get the list of Geo regions.
                      operation: Get Geo Regions
                      provider: Microsoft Web Apps
                      resource: Geo Region
                    name: Microsoft.Web/geoRegions/Read
                    origin: user,system
                  - display:
                      description: Get names of sites assigned to hostname.
                      operation: Get sites assigned to hostname
                      provider: Microsoft Web Apps
                      resource: Site Name
                    name: Microsoft.Web/listSitesAssignedToHostName/Read
                    origin: user,system
                  - display:
                      description: Get the properties of an App Service Environment
                      operation: Get App Service Environment
                      provider: Microsoft Web Apps
                      resource: App Service Environment
                    name: Microsoft.Web/hostingEnvironments/Read
                    origin: user,system
                  - display:
                      description: Create a new App Service Environment or update existing one
                      operation: Create or Update App Service Environment
                      provider: Microsoft Web Apps
                      resource: App Service Environment
                    name: Microsoft.Web/hostingEnvironments/Write
                    origin: user,system
                  - display:
                      description: Delete an App Service Environment
                      operation: Delete App Service Environment
                      provider: Microsoft Web Apps
                      resource: App Service Environment
                    name: Microsoft.Web/hostingEnvironments/Delete
                    origin: user,system
                  - display:
                      description: Reboot all machines in an App Service Environment
                      operation: Reboot an App Service Environment
                      provider: Microsoft Web Apps
                      resource: App Service Environment
                    name: Microsoft.Web/hostingEnvironments/reboot/Action
                    origin: user,system
                  - display:
                      description: Get the properties of a FrontEnd Pool in an App Service Environment
                      operation: Get FrontEnd Pool
                      provider: Microsoft Web Apps
                      resource: App Service Environment FrontEnd Pool
                    name: Microsoft.Web/hostingEnvironments/multiRolePools/Read
                    origin: user,system
                  - display:
                      description: Create a new FrontEnd Pool in an App Service Environment or update an existing one
                      operation: Create or Update FrontEnd Pool
                      provider: Microsoft Web Apps
                      resource: App Service Environment FrontEnd Pool
                    name: Microsoft.Web/hostingEnvironments/multiRolePools/Write
                    origin: user,system
                  - display:
                      description: Get the properties of a Worker Pool in an App Service Environment
                      operation: Get Worker Pool
                      provider: Microsoft Web Apps
                      resource: App Service Environment Worker Pool
                    name: Microsoft.Web/hostingEnvironments/workerPools/Read
                    origin: user,system
                  - display:
                      description: Create a new Worker Pool in an App Service Environment or update an existing one
                      operation: Create or Update Worker Pool
                      provider: Microsoft Web Apps
                      resource: App Service Environment Worker Pool
                    name: Microsoft.Web/hostingEnvironments/workerPools/Write
                    origin: user,system
                  - display:
                      description: Get the list of Connections.
                      operation: Get Connections
                      provider: Microsoft Web Apps
                      resource: Connections
                    name: Microsoft.Web/connections/Read
                    origin: user,system
                  - display:
                      description: Creates or updates a Connection.
                      operation: Add or Update Connection
                      provider: Microsoft Web Apps
                      resource: Connections
                    name: Microsoft.Web/connections/Write
                    origin: user,system
                  - display:
                      description: Deletes a Connection.
                      operation: Delete Connection
                      provider: Microsoft Web Apps
                      resource: Connections
                    name: Microsoft.Web/connections/Delete
                    origin: user,system
                  - display:
                      description: Joins a Connection.
                      operation: Join Connection
                      provider: Microsoft Web Apps
                      resource: Connections
                    name: Microsoft.Web/connections/Join/Action
                    origin: user,system
                  - display:
                      description: Get the list of Connection Gateways.
                      operation: Get Connection Gateways
                      provider: Microsoft Web Apps
                      resource: Connection Gateways
                    name: Microsoft.Web/connectionGateways/Read
                    origin: user,system
                  - display:
                      description: Creates or updates a Connection Gateway.
                      operation: Add or Update Connection Gateways
                      provider: Microsoft Web Apps
                      resource: Connection Gateways
                    name: Microsoft.Web/connectionGateways/Write
                    origin: user,system
                  - display:
                      description: Deletes a Connection Gateway.
                      operation: Delete Connection Gateway
                      provider: Microsoft Web Apps
                      resource: Connection Gateways
                    name: Microsoft.Web/connectionGateways/Delete
                    origin: user,system
                  - display:
                      description: Joins a Connection Gateway.
                      operation: Join Connection Gateway
                      provider: Microsoft Web Apps
                      resource: Connection Gateways
                    name: Microsoft.Web/connectionGateways/Join/Action
                    origin: user,system
                  - display:
                      description: Get the list of recommendations for subscriptions.
                      operation: Get recommendations
                      provider: Microsoft Web Apps
                      resource: Recommendation
                    name: Microsoft.Web/recommendations/Read
                    origin: user,system
                  - display:
                      description: Get the list of recommendations for web app.
                      operation: Get recommendations for web app
                      provider: Microsoft Web Apps
                      resource: Recommendation
                    name: Microsoft.Web/sites/recommendations/Read
                    origin: user,system
                  - display:
                      description: Get Available Stacks.
                      operation: Get Available Stacks
                      provider: Microsoft Web Apps
                      resource: Available Stacks
                    name: microsoft.web/availablestacks/read
                    origin: user,system
                  - display:
                      description: Check if resource name is available.
                      operation: Get Check Name Availability
                      provider: Microsoft Web Apps
                      resource: Check Name Availability
                    name: microsoft.web/checknameavailability/read
                    origin: user,system
                  - display:
                      description: Get Classic Mobile Services.
                      operation: Get Classic Mobile Services
                      provider: Microsoft Web Apps
                      resource: Classic Mobile Services
                    name: microsoft.web/classicmobileservices/read
                    origin: user,system
                  - display:
                      description: Confirm Connections Consent Code.
                      operation: Confirm Connections Consent Code
                      provider: Microsoft Web Apps
                      resource: Connections
                    name: microsoft.web/connections/confirmconsentcode/action
                    origin: user,system
                  - display:
                      description: List Consent Links for Connections.
                      operation: List Consent Links for Connections
                      provider: Microsoft Web Apps
                      resource: Connections
                    name: microsoft.web/connections/listconsentlinks/action
                    origin: user,system
                  - display:
                      description: Get Deployment Locations.
                      operation: Get Deployment Locations
                      provider: Microsoft Web Apps
                      resource: Deployment Locations
                    name: microsoft.web/deploymentlocations/read
                    origin: user,system
                  - display:
                      description: Get Hosting Environments Capacities.
                      operation: Get Hosting Environments Capacities
                      provider: Microsoft Web Apps
                      resource: Hosting Environments Capacities
                    name: microsoft.web/hostingenvironments/capacities/read
                    origin: user,system
                  - display:
                      description: Get Hosting Environments Diagnostics.
                      operation: Get Hosting Environments Diagnostics
                      provider: Microsoft Web Apps
                      resource: Hosting Environments Diagnostics
                    name: microsoft.web/hostingenvironments/diagnostics/read
                    origin: user,system
                  - display:
                      description: Get Hosting Environments Metric Definitions.
                      operation: Get Hosting Environments Metric Definitions
                      provider: Microsoft Web Apps
                      resource: Hosting Environments Metric Definitions
                    name: microsoft.web/hostingenvironments/metricdefinitions/read
                    origin: user,system
                  - display:
                      description: Get Hosting Environments MultiRole Pools Metric Definitions.
                      operation: Get Hosting Environments MultiRole Pools Metric Definitions
                      provider: Microsoft Web Apps
                      resource: Hosting Environments MultiRole Pools Metric Definitions
                    name: microsoft.web/hostingenvironments/multirolepools/metricdefinitions/read
                    origin: user,system
                  - display:
                      description: Get Hosting Environments MultiRole Pools Metrics.
                      operation: Get Hosting Environments MultiRole Pools Metrics
                      provider: Microsoft Web Apps
                      resource: Hosting Environments MultiRole Pools Metrics
                    name: microsoft.web/hostingenvironments/multirolepools/metrics/read
                    origin: user,system
                  - display:
                      description: Get Hosting Environments MultiRole Pools SKUs.
                      operation: Get Hosting Environments MultiRole Pools SKUs
                      provider: Microsoft Web Apps
                      resource: Hosting Environments MultiRole Pools SKUs
                    name: microsoft.web/hostingenvironments/multirolepools/skus/read
                    origin: user,system
                  - display:
                      description: Get Hosting Environments MultiRole Pools Usages.
                      operation: Get Hosting Environments MultiRole Pools Usages
                      provider: Microsoft Web Apps
                      resource: Hosting Environments MultiRole Pools Usages
                    name: microsoft.web/hostingenvironments/multirolepools/usages/read
                    origin: user,system
                  - display:
                      description: Get Hosting Environments Operations.
                      operation: Get Hosting Environments Operations
                      provider: Microsoft Web Apps
                      resource: Hosting Environments Operations
                    name: microsoft.web/hostingenvironments/operations/read
                    origin: user,system
                  - display:
                      description: Resume Hosting Environments.
                      operation: Resume Hosting Environments
                      provider: Microsoft Web Apps
                      resource: Hosting Environments
                    name: microsoft.web/hostingenvironments/resume/action
                    origin: user,system
                  - display:
                      description: Get Hosting Environments App Service Plans.
                      operation: Get Hosting Environments App Service Plans
                      provider: Microsoft Web Apps
                      resource: Hosting Environments App Service Plans
                    name: microsoft.web/hostingenvironments/serverfarms/read
                    origin: user,system
                  - display:
                      description: Get Hosting Environments Web Apps.
                      operation: Get Hosting Environments Web Apps
                      provider: Microsoft Web Apps
                      resource: Hosting Environments Web Apps
                    name: microsoft.web/hostingenvironments/sites/read
                    origin: user,system
                  - display:
                      description: Suspend Hosting Environments.
                      operation: Suspend Hosting Environments
                      provider: Microsoft Web Apps
                      resource: Hosting Environments
                    name: microsoft.web/hostingenvironments/suspend/action
                    origin: user,system
                  - display:
                      description: Get Hosting Environments Usages.
                      operation: Get Hosting Environments Usages
                      provider: Microsoft Web Apps
                      resource: Hosting Environments Usages
                    name: microsoft.web/hostingenvironments/usages/read
                    origin: user,system
                  - display:
                      description: Get Hosting Environments Workerpools Metric Definitions.
                      operation: Get Hosting Environments Workerpools Metric Definitions
                      provider: Microsoft Web Apps
                      resource: Hosting Environments Workerpools Metric Definitions
                    name: microsoft.web/hostingenvironments/workerpools/metricdefinitions/read
                    origin: user,system
                  - display:
                      description: Get Hosting Environments Workerpools Metrics.
                      operation: Get Hosting Environments Workerpools Metrics
                      provider: Microsoft Web Apps
                      resource: Hosting Environments Workerpools Metrics
                    name: microsoft.web/hostingenvironments/workerpools/metrics/read
                    origin: user,system
                  - display:
                      description: Get Hosting Environments Workerpools SKUs.
                      operation: Get Hosting Environments Workerpools SKUs
                      provider: Microsoft Web Apps
                      resource: Hosting Environments Workerpools SKUs
                    name: microsoft.web/hostingenvironments/workerpools/skus/read
                    origin: user,system
                  - display:
                      description: Get Hosting Environments Workerpools Usages.
                      operation: Get Hosting Environments Workerpools Usages
                      provider: Microsoft Web Apps
                      resource: Hosting Environments Workerpools Usages
                    name: microsoft.web/hostingenvironments/workerpools/usages/read
                    origin: user,system
                  - display:
                      description: Get if Hosting Environment Name is available.
                      operation: Check if Hosting Environment Name is available
                      provider: Microsoft Web Apps
                      resource: Hosting Environment Name
                    name: microsoft.web/ishostingenvironmentnameavailable/read
                    origin: user,system
                  - display:
                      description: Check if Hostname is Available.
                      operation: Check if Hostname is Available
                      provider: Microsoft Web Apps
                      resource: Hostname
                    name: microsoft.web/ishostnameavailable/read
                    origin: user,system
                  - display:
                      description: Check if Username is available.
                      operation: Check if Username is available
                      provider: Microsoft Web Apps
                      resource: Username
                    name: microsoft.web/isusernameavailable/read
                    origin: user,system
                  - display:
                      description: Get Locations API Operations.
                      operation: Get Locations API Operations
                      provider: Microsoft Web Apps
                      resource: Locations API Operations
                    name: microsoft.web/locations/apioperations/read
                    origin: user,system
                  - display:
                      description: Get Locations Connection Gateway Installations.
                      operation: Get Locations Connection Gateway Installations
                      provider: Microsoft Web Apps
                      resource: Locations Connection Gateway Installations
                    name: microsoft.web/locations/connectiongatewayinstallations/read
                    origin: user,system
                  - display:
                      description: Get Locations Managed APIs.
                      operation: Get Locations Managed APIs
                      provider: Microsoft Web Apps
                      resource: Locations Managed APIs
                    name: microsoft.web/locations/managedapis/read
                    origin: user,system
                  - display:
                      description: Get Operations.
                      operation: Get Operations
                      provider: Microsoft Web Apps
                      resource: Operations
                    name: microsoft.web/operations/read
                    origin: user,system
                  - display:
                      description: Get Publishing Users.
                      operation: Get Publishing Users
                      provider: Microsoft Web Apps
                      resource: Publishing Users
                    name: microsoft.web/publishingusers/read
                    origin: user,system
                  - display:
                      description: Update Publishing Users.
                      operation: Update Publishing Users
                      provider: Microsoft Web Apps
                      resource: Publishing Users
                    name: microsoft.web/publishingusers/write
                    origin: user,system
                  - display:
                      description: Get App Service Plans Capabilities.
                      operation: Get App Service Plans Capabilities
                      provider: Microsoft Web Apps
                      resource: App Service Plans Capabilities
                    name: microsoft.web/serverfarms/capabilities/read
                    origin: user,system
                  - display:
                      description: Delete App Service Plans First Party Apps Settings.
                      operation: Delete App Service Plans First Party Apps Settings
                      provider: Microsoft Web Apps
                      resource: App Service Plans First Party Apps Settings
                    name: microsoft.web/serverfarms/firstpartyapps/settings/delete
                    origin: user,system
                  - display:
                      description: Get App Service Plans First Party Apps Settings.
                      operation: Get App Service Plans First Party Apps Settings
                      provider: Microsoft Web Apps
                      resource: App Service Plans First Party Apps Settings
                    name: microsoft.web/serverfarms/firstpartyapps/settings/read
                    origin: user,system
                  - display:
                      description: Update App Service Plans First Party Apps Settings.
                      operation: Update App Service Plans First Party Apps Settings
                      provider: Microsoft Web Apps
                      resource: App Service Plans First Party Apps Settings
                    name: microsoft.web/serverfarms/firstpartyapps/settings/write
                    origin: user,system
                  - display:
                      description: Get App Service Plans Hybrid Connection Namespaces Relays Web Apps.
                      operation: Get App Service Plans Hybrid Connection Namespaces Relays Web Apps
                      provider: Microsoft Web Apps
                      resource: App Service Plans Hybrid Connection Namespaces Relays Web Apps
                    name: microsoft.web/serverfarms/hybridconnectionnamespaces/relays/sites/read
                    origin: user,system
                  - display:
                      description: Get App Service Plans Hybrid Connection Plan Limits.
                      operation: Get App Service Plans Hybrid Connection Plan Limits
                      provider: Microsoft Web Apps
                      resource: App Service Plans Hybrid Connection Plan Limits
                    name: microsoft.web/serverfarms/hybridconnectionplanlimits/read
                    origin: user,system
                  - display:
                      description: Get App Service Plans Hybrid Connection Relays.
                      operation: Get App Service Plans Hybrid Connection Relays
                      provider: Microsoft Web Apps
                      resource: App Service Plans Hybrid Connection Relays
                    name: microsoft.web/serverfarms/hybridconnectionrelays/read
                    origin: user,system
                  - display:
                      description: Get App Service Plans Metric Definitions.
                      operation: Get App Service Plans Metric Definitions
                      provider: Microsoft Web Apps
                      resource: App Service Plans Metric Definitions
                    name: microsoft.web/serverfarms/metricdefinitions/read
                    origin: user,system
                  - display:
                      description: Get App Service Plans Metrics.
                      operation: Get App Service Plans Metrics
                      provider: Microsoft Web Apps
                      resource: App Service Plans Metrics
                    name: microsoft.web/serverfarms/metrics/read
                    origin: user,system
                  - display:
                      description: Get App Service Plans Operation Results.
                      operation: Get App Service Plans Operation Results
                      provider: Microsoft Web Apps
                      resource: App Service Plans Operation Results
                    name: microsoft.web/serverfarms/operationresults/read
                    origin: user,system
                  - display:
                      description: Get App Service Plans Web Apps.
                      operation: Get App Service Plans Web Apps
                      provider: Microsoft Web Apps
                      resource: App Service Plans Web Apps
                    name: microsoft.web/serverfarms/sites/read
                    origin: user,system
                  - display:
                      description: Get App Service Plans SKUs.
                      operation: Get App Service Plans SKUs
                      provider: Microsoft Web Apps
                      resource: App Service Plans SKUs
                    name: microsoft.web/serverfarms/skus/read
                    origin: user,system
                  - display:
                      description: Get App Service Plans Usages.
                      operation: Get App Service Plans Usages
                      provider: Microsoft Web Apps
                      resource: App Service Plans Usages
                    name: microsoft.web/serverfarms/usages/read
                    origin: user,system
                  - display:
                      description: Update App Service Plans Virtual Network Connections Gateways.
                      operation: Update App Service Plans Virtual Network Connections Gateways
                      provider: Microsoft Web Apps
                      resource: App Service Plans Virtual Network Connections Gateways
                    name: microsoft.web/serverfarms/virtualnetworkconnections/gateways/write
                    origin: user,system
                  - display:
                      description: Get App Service Plans Virtual Network Connections.
                      operation: Get App Service Plans Virtual Network Connections
                      provider: Microsoft Web Apps
                      resource: App Service Plans Virtual Network Connections
                    name: microsoft.web/serverfarms/virtualnetworkconnections/read
                    origin: user,system
                  - display:
                      description: Delete App Service Plans Virtual Network Connections Routes.
                      operation: Delete App Service Plans Virtual Network Connections Routes
                      provider: Microsoft Web Apps
                      resource: App Service Plans Virtual Network Connections Routes
                    name: microsoft.web/serverfarms/virtualnetworkconnections/routes/delete
                    origin: user,system
                  - display:
                      description: Get App Service Plans Virtual Network Connections Routes.
                      operation: Get App Service Plans Virtual Network Connections Routes
                      provider: Microsoft Web Apps
                      resource: App Service Plans Virtual Network Connections Routes
                    name: microsoft.web/serverfarms/virtualnetworkconnections/routes/read
                    origin: user,system
                  - display:
                      description: Update App Service Plans Virtual Network Connections Routes.
                      operation: Update App Service Plans Virtual Network Connections Routes
                      provider: Microsoft Web Apps
                      resource: App Service Plans Virtual Network Connections Routes
                    name: microsoft.web/serverfarms/virtualnetworkconnections/routes/write
                    origin: user,system
                  - display:
                      description: Reboot App Service Plans Workers.
                      operation: Reboot App Service Plans Workers
                      provider: Microsoft Web Apps
                      resource: App Service Plans Workers
                    name: microsoft.web/serverfarms/workers/reboot/action
                    origin: user,system
                  - display:
                      description: Analyze Custom Hostname.
                      operation: Analyze Custom Hostname
                      provider: Microsoft Web Apps
                      resource: Custom Hostname
                    name: microsoft.web/sites/analyzecustomhostname/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Backup.
                      operation: Get Web Apps Backup
                      provider: Microsoft Web Apps
                      resource: Web Apps Backup
                    name: microsoft.web/sites/backup/read
                    origin: user,system
                  - display:
                      description: Update Web Apps Backup.
                      operation: Update Web Apps Backup
                      provider: Microsoft Web Apps
                      resource: Web Apps Backup
                    name: microsoft.web/sites/backup/write
                    origin: user,system
                  - display:
                      description: List Web Apps Backups.
                      operation: List Web Apps Backups
                      provider: Microsoft Web Apps
                      resource: Web Apps Backups
                    name: microsoft.web/sites/backups/list/action
                    origin: user,system
                  - display:
                      description: Restore Web Apps Backups.
                      operation: Restore Web Apps Backups
                      provider: Microsoft Web Apps
                      resource: Web Apps Backups
                    name: microsoft.web/sites/backups/restore/action
                    origin: user,system
                  - display:
                      description: Delete Web Apps Config.
                      operation: Delete Web Apps Config
                      provider: Microsoft Web Apps
                      resource: Web Apps Config
                    name: microsoft.web/sites/config/delete
                    origin: user,system
                  - display:
                      description: Delete Web Apps Continuous Web Jobs.
                      operation: Delete Web Apps Continuous Web Jobs
                      provider: Microsoft Web Apps
                      resource: Web Apps Continuous Web Jobs
                    name: microsoft.web/sites/continuouswebjobs/delete
                    origin: user,system
                  - display:
                      description: Get Web Apps Continuous Web Jobs.
                      operation: Get Web Apps Continuous Web Jobs
                      provider: Microsoft Web Apps
                      resource: Web Apps Continuous Web Jobs
                    name: microsoft.web/sites/continuouswebjobs/read
                    origin: user,system
                  - display:
                      description: Start Web Apps Continuous Web Jobs.
                      operation: Start Web Apps Continuous Web Jobs
                      provider: Microsoft Web Apps
                      resource: Web Apps Continuous Web Jobs
                    name: microsoft.web/sites/continuouswebjobs/start/action
                    origin: user,system
                  - display:
                      description: Stop Web Apps Continuous Web Jobs.
                      operation: Stop Web Apps Continuous Web Jobs
                      provider: Microsoft Web Apps
                      resource: Web Apps Continuous Web Jobs
                    name: microsoft.web/sites/continuouswebjobs/stop/action
                    origin: user,system
                  - display:
                      description: Delete Web Apps Deployments.
                      operation: Delete Web Apps Deployments
                      provider: Microsoft Web Apps
                      resource: Web Apps Deployments
                    name: microsoft.web/sites/deployments/delete
                    origin: user,system
                  - display:
                      description: Get Web Apps Deployments Log.
                      operation: Get Web Apps Deployments Log
                      provider: Microsoft Web Apps
                      resource: Web Apps Deployments Log
                    name: microsoft.web/sites/deployments/log/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Deployments.
                      operation: Get Web Apps Deployments
                      provider: Microsoft Web Apps
                      resource: Web Apps Deployments
                    name: microsoft.web/sites/deployments/read
                    origin: user,system
                  - display:
                      description: Update Web Apps Deployments.
                      operation: Update Web Apps Deployments
                      provider: Microsoft Web Apps
                      resource: Web Apps Deployments
                    name: microsoft.web/sites/deployments/write
                    origin: user,system
                  - display:
                      description: Get Web Apps Diagnostics FREB Analysis.
                      operation: Get Web Apps Diagnostics FREB Analysis
                      provider: Microsoft Web Apps
                      resource: Web Apps Diagnostics FREB Analysis
                    name: microsoft.web/sites/diagnostics/frebanalysis/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Diagnostics FREB Analysis.
                      operation: Get Web Apps Slots Diagnostics FREB Analysis
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Diagnostics FREB Analysis
                    name: microsoft.web/sites/slots/diagnostics/frebanalysis/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Diagnostics Categories.
                      operation: Get Web Apps Diagnostics Category
                      provider: Microsoft Web Apps
                      resource: Web Apps Diagnostics Category
                    name: microsoft.web/sites/diagnostics/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Diagnostics Runtime Availability.
                      operation: Get Web Apps Diagnostics Runtime Availability
                      provider: Microsoft Web Apps
                      resource: Web Apps Diagnostics Runtime Availability
                    name: microsoft.web/sites/diagnostics/runtimeavailability/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Diagnostics Service Health.
                      operation: Get Web Apps Diagnostics Service Health
                      provider: Microsoft Web Apps
                      resource: Web Apps Diagnostics Service Health
                    name: microsoft.web/sites/diagnostics/servicehealth/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Diagnostics Workeravailability.
                      operation: Get Web Apps Diagnostics Workeravailability
                      provider: Microsoft Web Apps
                      resource: Web Apps Diagnostics Workeravailability
                    name: microsoft.web/sites/diagnostics/workeravailability/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Diagnostics Workeravailability.
                      operation: Get Web Apps Slots Diagnostics Workeravailability
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Diagnostics Workeravailability
                    name: microsoft.web/sites/slots/diagnostics/workeravailability/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Diagnostics Worker Process Recycle.
                      operation: Get Web Apps Diagnostics Worker Process Recycle
                      provider: Microsoft Web Apps
                      resource: Web Apps Diagnostics Worker Process Recycle
                    name: microsoft.web/sites/diagnostics/workerprocessrecycle/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Diagnostics Worker Process Recycle.
                      operation: Get Web Apps Slots Diagnostics Worker Process Recycle
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Diagnostics Worker Process Recycle
                    name: microsoft.web/sites/slots/diagnostics/workerprocessrecycle/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Diagnostics for ASP.NET Core app.
                      operation: Get Web Apps Diagnostics ASP.NET Core
                      provider: Microsoft Web Apps
                      resource: Web Apps Diagnostics ASP.NET Core
                    name: microsoft.web/sites/diagnostics/aspnetcore/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Diagnostics for ASP.NET Core app.
                      operation: Get Web Apps Slots Diagnostics ASP.NET Core
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Diagnostics ASP.NET Core
                    name: microsoft.web/sites/slots/diagnostics/aspnetcore/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Domain Ownership Identifiers.
                      operation: Get Web Apps Domain Ownership Identifiers
                      provider: Microsoft Web Apps
                      resource: Web Apps Domain Ownership Identifiers
                    name: microsoft.web/sites/domainownershipidentifiers/read
                    origin: user,system
                  - display:
                      description: Update Web Apps Domain Ownership Identifiers.
                      operation: Update Web Apps Domain Ownership Identifiers
                      provider: Microsoft Web Apps
                      resource: Web Apps Domain Ownership Identifiers
                    name: microsoft.web/sites/domainownershipidentifiers/write
                    origin: user,system
                  - display:
                      description: Functions Web Apps.
                      operation: Functions Web Apps
                      provider: Microsoft Web Apps
                      resource: Web Apps
                    name: microsoft.web/sites/functions/action
                    origin: user,system
                  - display:
                      description: Delete Web Apps Functions.
                      operation: Delete Web Apps Functions
                      provider: Microsoft Web Apps
                      resource: Web Apps Functions
                    name: microsoft.web/sites/functions/delete
                    origin: user,system
                  - display:
                      description: List Secrets Web Apps Functions.
                      operation: List Secrets Web Apps Functions
                      provider: Microsoft Web Apps
                      resource: Web Apps Functions
                    name: microsoft.web/sites/functions/listsecrets/action
                    origin: user,system
                  - display:
                      description: Get Web Apps Functions.
                      operation: Get Web Apps Functions
                      provider: Microsoft Web Apps
                      resource: Web Apps Functions
                    name: microsoft.web/sites/functions/read
                    origin: user,system
                  - display:
                      description: Update Web Apps Functions.
                      operation: Update Web Apps Functions
                      provider: Microsoft Web Apps
                      resource: Web Apps Functions
                    name: microsoft.web/sites/functions/write
                    origin: user,system
                  - display:
                      description: Delete Web Apps Hostname Bindings.
                      operation: Delete Web Apps Hostname Bindings
                      provider: Microsoft Web Apps
                      resource: Web Apps Hostname Bindings
                    name: microsoft.web/sites/hostnamebindings/delete
                    origin: user,system
                  - display:
                      description: Get Web Apps Hostname Bindings.
                      operation: Get Web Apps Hostname Bindings
                      provider: Microsoft Web Apps
                      resource: Web Apps Hostname Bindings
                    name: microsoft.web/sites/hostnamebindings/read
                    origin: user,system
                  - display:
                      description: Update Web Apps Hostname Bindings.
                      operation: Update Web Apps Hostname Bindings
                      provider: Microsoft Web Apps
                      resource: Web Apps Hostname Bindings
                    name: microsoft.web/sites/hostnamebindings/write
                    origin: user,system
                  - display:
                      description: Delete Web Apps Hybrid Connection.
                      operation: Delete Web Apps Hybrid Connection
                      provider: Microsoft Web Apps
                      resource: Web Apps Hybrid Connection
                    name: microsoft.web/sites/hybridconnection/delete
                    origin: user,system
                  - display:
                      description: Get Web Apps Hybrid Connection.
                      operation: Get Web Apps Hybrid Connection
                      provider: Microsoft Web Apps
                      resource: Web Apps Hybrid Connection
                    name: microsoft.web/sites/hybridconnection/read
                    origin: user,system
                  - display:
                      description: Update Web Apps Hybrid Connection.
                      operation: Update Web Apps Hybrid Connection
                      provider: Microsoft Web Apps
                      resource: Web Apps Hybrid Connection
                    name: microsoft.web/sites/hybridconnection/write
                    origin: user,system
                  - display:
                      description: Get Web Apps Hybrid Connection Relays.
                      operation: Get Web Apps Hybrid Connection Relays
                      provider: Microsoft Web Apps
                      resource: Web Apps Hybrid Connection Relays
                    name: microsoft.web/sites/hybridconnectionrelays/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Instances Deployments.
                      operation: Get Web Apps Instances Deployments
                      provider: Microsoft Web Apps
                      resource: Web Apps Instances Deployments
                    name: microsoft.web/sites/instances/deployments/read
                    origin: user,system
                  - display:
                      description: Delete Web Apps Instances Processes.
                      operation: Delete Web Apps Instances Processes
                      provider: Microsoft Web Apps
                      resource: Web Apps Instances Processes
                    name: microsoft.web/sites/instances/processes/delete
                    origin: user,system
                  - display:
                      description: Get Web Apps Instances Processes.
                      operation: Get Web Apps Instances Processes
                      provider: Microsoft Web Apps
                      resource: Web Apps Instances Processes
                    name: microsoft.web/sites/instances/processes/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Instances.
                      operation: Get Web Apps Instances
                      provider: Microsoft Web Apps
                      resource: Web Apps Instances
                    name: microsoft.web/sites/instances/read
                    origin: user,system
                  - display:
                      description: List Sync Function Trigger Status Web Apps.
                      operation: List Sync Function Trigger Status Web Apps
                      provider: Microsoft Web Apps
                      resource: Web Apps
                    name: microsoft.web/sites/listsyncfunctiontriggerstatus/action
                    origin: user,system
                  - display:
                      description: Get Web Apps Metric Definitions.
                      operation: Get Web Apps Metric Definitions
                      provider: Microsoft Web Apps
                      resource: Web Apps Metric Definitions
                    name: microsoft.web/sites/metricdefinitions/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Metrics.
                      operation: Get Web Apps Metrics
                      provider: Microsoft Web Apps
                      resource: Web Apps Metrics
                    name: microsoft.web/sites/metrics/read
                    origin: user,system
                  - display:
                      description: Network Trace Web Apps.
                      operation: Network Trace Web Apps
                      provider: Microsoft Web Apps
                      resource: Web Apps
                    name: microsoft.web/sites/networktrace/action
                    origin: user,system
                  - display:
                      description: Newpassword Web Apps.
                      operation: Newpassword Web Apps
                      provider: Microsoft Web Apps
                      resource: Web Apps
                    name: microsoft.web/sites/newpassword/action
                    origin: user,system
                  - display:
                      description: Get Web Apps Operation Results.
                      operation: Get Web Apps Operation Results
                      provider: Microsoft Web Apps
                      resource: Web Apps Operation Results
                    name: microsoft.web/sites/operationresults/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Performance Counters.
                      operation: Get Web Apps Performance Counters
                      provider: Microsoft Web Apps
                      resource: Web Apps Performance Counters
                    name: microsoft.web/sites/perfcounters/read
                    origin: user,system
                  - display:
                      description: Delete Web Apps Premier Addons.
                      operation: Delete Web Apps Premier Addons
                      provider: Microsoft Web Apps
                      resource: Web Apps Premier Addons
                    name: microsoft.web/sites/premieraddons/delete
                    origin: user,system
                  - display:
                      description: Get Web Apps Premier Addons.
                      operation: Get Web Apps Premier Addons
                      provider: Microsoft Web Apps
                      resource: Web Apps Premier Addons
                    name: microsoft.web/sites/premieraddons/read
                    origin: user,system
                  - display:
                      description: Update Web Apps Premier Addons.
                      operation: Update Web Apps Premier Addons
                      provider: Microsoft Web Apps
                      resource: Web Apps Premier Addons
                    name: microsoft.web/sites/premieraddons/write
                    origin: user,system
                  - display:
                      description: Get Web Apps Publishing XML.
                      operation: Get Web Apps Publishing XML
                      provider: Microsoft Web Apps
                      resource: Web Apps Publishing XML
                    name: microsoft.web/sites/publishxml/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Recommendation History.
                      operation: Get Web Apps Recommendation History
                      provider: Microsoft Web Apps
                      resource: Web Apps Recommendation History
                    name: microsoft.web/sites/recommendationhistory/read
                    origin: user,system
                  - display:
                      description: Disable Web Apps Recommendations.
                      operation: Disable Web Apps Recommendations
                      provider: Microsoft Web Apps
                      resource: Web Apps Recommendations
                    name: microsoft.web/sites/recommendations/disable/action
                    origin: user,system
                  - display:
                      description: Get Web Apps Restore.
                      operation: Get Web Apps Restore
                      provider: Microsoft Web Apps
                      resource: Web Apps Restore
                    name: microsoft.web/sites/restore/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Analyze Custom Hostname.
                      operation: Get Web Apps Slots Analyze Custom Hostname
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Analyze Custom Hostname
                    name: microsoft.web/sites/slots/analyzecustomhostname/read
                    origin: user,system
                  - display:
                      description: Update Web Apps Slots Backup.
                      operation: Update Web Apps Slots Backup
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Backup
                    name: microsoft.web/sites/slots/backup/write
                    origin: user,system
                  - display:
                      description: List Web Apps Slots Backups.
                      operation: List Web Apps Slots Backups
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Backups
                    name: microsoft.web/sites/slots/backups/list/action
                    origin: user,system
                  - display:
                      description: Restore Web Apps Slots Backups.
                      operation: Restore Web Apps Slots Backups
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Backups
                    name: microsoft.web/sites/slots/backups/restore/action
                    origin: user,system
                  - display:
                      description: Delete Web Apps Slots Config.
                      operation: Delete Web Apps Slots Config
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Config
                    name: microsoft.web/sites/slots/config/delete
                    origin: user,system
                  - display:
                      description: Delete Web Apps Slots Continuous Web Jobs.
                      operation: Delete Web Apps Slots Continuous Web Jobs
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Continuous Web Jobs
                    name: microsoft.web/sites/slots/continuouswebjobs/delete
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Continuous Web Jobs.
                      operation: Get Web Apps Slots Continuous Web Jobs
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Continuous Web Jobs
                    name: microsoft.web/sites/slots/continuouswebjobs/read
                    origin: user,system
                  - display:
                      description: Start Web Apps Slots Continuous Web Jobs.
                      operation: Start Web Apps Slots Continuous Web Jobs
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Continuous Web Jobs
                    name: microsoft.web/sites/slots/continuouswebjobs/start/action
                    origin: user,system
                  - display:
                      description: Stop Web Apps Slots Continuous Web Jobs.
                      operation: Stop Web Apps Slots Continuous Web Jobs
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Continuous Web Jobs
                    name: microsoft.web/sites/slots/continuouswebjobs/stop/action
                    origin: user,system
                  - display:
                      description: Delete Web Apps Slots Deployments.
                      operation: Delete Web Apps Slots Deployments
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Deployments
                    name: microsoft.web/sites/slots/deployments/delete
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Deployments Log.
                      operation: Get Web Apps Slots Deployments Log
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Deployments Log
                    name: microsoft.web/sites/slots/deployments/log/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Deployments.
                      operation: Get Web Apps Slots Deployments
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Deployments
                    name: microsoft.web/sites/slots/deployments/read
                    origin: user,system
                  - display:
                      description: Update Web Apps Slots Deployments.
                      operation: Update Web Apps Slots Deployments
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Deployments
                    name: microsoft.web/sites/slots/deployments/write
                    origin: user,system
                  - display:
                      description: Delete Web Apps Slots Hostname Bindings.
                      operation: Delete Web Apps Slots Hostname Bindings
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Hostname Bindings
                    name: microsoft.web/sites/slots/hostnamebindings/delete
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Hostname Bindings.
                      operation: Get Web Apps Slots Hostname Bindings
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Hostname Bindings
                    name: microsoft.web/sites/slots/hostnamebindings/read
                    origin: user,system
                  - display:
                      description: Update Web Apps Slots Hostname Bindings.
                      operation: Update Web Apps Slots Hostname Bindings
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Hostname Bindings
                    name: microsoft.web/sites/slots/hostnamebindings/write
                    origin: user,system
                  - display:
                      description: Delete Web Apps Slots Hybrid Connection.
                      operation: Delete Web Apps Slots Hybrid Connection
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Hybrid Connection
                    name: microsoft.web/sites/slots/hybridconnection/delete
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Hybrid Connection.
                      operation: Get Web Apps Slots Hybrid Connection
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Hybrid Connection
                    name: microsoft.web/sites/slots/hybridconnection/read
                    origin: user,system
                  - display:
                      description: Update Web Apps Slots Hybrid Connection.
                      operation: Update Web Apps Slots Hybrid Connection
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Hybrid Connection
                    name: microsoft.web/sites/slots/hybridconnection/write
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Instances Deployments.
                      operation: Get Web Apps Slots Instances Deployments
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Instances Deployments
                    name: microsoft.web/sites/slots/instances/deployments/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Instances Processes.
                      operation: Get Web Apps Slots Instances Processes
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Instances Processes
                    name: microsoft.web/sites/slots/instances/processes/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Instances.
                      operation: Get Web Apps Slots Instances
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Instances
                    name: microsoft.web/sites/slots/instances/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Metric Definitions.
                      operation: Get Web Apps Slots Metric Definitions
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Metric Definitions
                    name: microsoft.web/sites/slots/metricdefinitions/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Metrics.
                      operation: Get Web Apps Slots Metrics
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Metrics
                    name: microsoft.web/sites/slots/metrics/read
                    origin: user,system
                  - display:
                      description: Newpassword Web Apps Slots.
                      operation: Newpassword Web Apps Slots
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots
                    name: microsoft.web/sites/slots/newpassword/action
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Operation Results.
                      operation: Get Web Apps Slots Operation Results
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Operation Results
                    name: microsoft.web/sites/slots/operationresults/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Phplogging.
                      operation: Get Web Apps Slots Phplogging
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Phplogging
                    name: microsoft.web/sites/slots/phplogging/read
                    origin: user,system
                  - display:
                      description: Delete Web Apps Slots Premier Addons.
                      operation: Delete Web Apps Slots Premier Addons
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Premier Addons
                    name: microsoft.web/sites/slots/premieraddons/delete
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Premier Addons.
                      operation: Get Web Apps Slots Premier Addons
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Premier Addons
                    name: microsoft.web/sites/slots/premieraddons/read
                    origin: user,system
                  - display:
                      description: Update Web Apps Slots Premier Addons.
                      operation: Update Web Apps Slots Premier Addons
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Premier Addons
                    name: microsoft.web/sites/slots/premieraddons/write
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Restore.
                      operation: Get Web Apps Slots Restore
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Restore
                    name: microsoft.web/sites/slots/restore/read
                    origin: user,system
                  - display:
                      description: Sync Web Apps Slots.
                      operation: Sync Web Apps Slots
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots
                    name: microsoft.web/sites/slots/sync/action
                    origin: user,system
                  - display:
                      description: Delete Web Apps Slots Triggered WebJobs.
                      operation: Delete Web Apps Slots Triggered WebJobs
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Triggered WebJobs
                    name: microsoft.web/sites/slots/triggeredwebjobs/delete
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Triggered WebJobs.
                      operation: Get Web Apps Slots Triggered WebJobs
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Triggered WebJobs
                    name: microsoft.web/sites/slots/triggeredwebjobs/read
                    origin: user,system
                  - display:
                      description: Run Web Apps Slots Triggered WebJobs.
                      operation: Run Web Apps Slots Triggered WebJobs
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Triggered WebJobs
                    name: microsoft.web/sites/slots/triggeredwebjobs/run/action
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Usages.
                      operation: Get Web Apps Slots Usages
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Usages
                    name: microsoft.web/sites/slots/usages/read
                    origin: user,system
                  - display:
                      description: Delete Web Apps Slots Virtual Network Connections.
                      operation: Delete Web Apps Slots Virtual Network Connections
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Virtual Network Connections
                    name: microsoft.web/sites/slots/virtualnetworkconnections/delete
                    origin: user,system
                  - display:
                      description: Update Web Apps Slots Virtual Network Connections Gateways.
                      operation: Update Web Apps Slots Virtual Network Connections Gateways
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Virtual Network Connections Gateways
                    name: microsoft.web/sites/slots/virtualnetworkconnections/gateways/write
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots Virtual Network Connections.
                      operation: Get Web Apps Slots Virtual Network Connections
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Virtual Network Connections
                    name: microsoft.web/sites/slots/virtualnetworkconnections/read
                    origin: user,system
                  - display:
                      description: Update Web Apps Slots Virtual Network Connections.
                      operation: Update Web Apps Slots Virtual Network Connections
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots Virtual Network Connections
                    name: microsoft.web/sites/slots/virtualnetworkconnections/write
                    origin: user,system
                  - display:
                      description: Get Web Apps Slots WebJobs.
                      operation: Get Web Apps Slots WebJobs
                      provider: Microsoft Web Apps
                      resource: Web Apps Slots WebJobs
                    name: microsoft.web/sites/slots/webjobs/read
                    origin: user,system
                  - display:
                      description: Get Web Apps Snapshots.
                      operation: Get Web Apps Snapshots
                      provider: Microsoft Web Apps
                      resource: Web Apps Snapshots
                    name: microsoft.web/sites/snapshots/read
                    origin: user,system
                  - display:
                      description: Sync Web Apps.
                      operation: Sync Web Apps
                      provider: Microsoft Web Apps
                      resource: Web Apps
                    name: microsoft.web/sites/sync/action
                    origin: user,system
                  - display:
                      description: Delete Web Apps Triggered WebJobs.
                      operation: Delete Web Apps Triggered WebJobs
                      provider: Microsoft Web Apps
                      resource: Web Apps Triggered WebJobs
                    name: microsoft.web/sites/triggeredwebjobs/delete
                    origin: user,system
                  - display:
                      description: Get Web Apps Triggered WebJobs.
                      operation: Get Web Apps Triggered WebJobs
                      provider: Microsoft Web Apps
                      resource: Web Apps Triggered WebJobs
                    name: microsoft.web/sites/triggeredwebjobs/read
                    origin: user,system
                  - display:
                      description: Run Web Apps Triggered WebJobs.
                      operation: Run Web Apps Triggered WebJobs
                      provider: Microsoft Web Apps
                      resource: Web Apps Triggered WebJobs
                    name: microsoft.web/sites/triggeredwebjobs/run/action
                    origin: user,system
                  - display:
                      description: Get Web Apps Usages.
                      operation: Get Web Apps Usages
                      provider: Microsoft Web Apps
                      resource: Web Apps Usages
                    name: microsoft.web/sites/usages/read
                    origin: user,system
                  - display:
                      description: Delete Web Apps Virtual Network Connections.
                      operation: Delete Web Apps Virtual Network Connections
                      provider: Microsoft Web Apps
                      resource: Web Apps Virtual Network Connections
                    name: microsoft.web/sites/virtualnetworkconnections/delete
                    origin: user,system
                  - display:
                      description: Get Web Apps Virtual Network Connections Gateways.
                      operation: Get Web Apps Virtual Network Connections Gateways
                      provider: Microsoft Web Apps
                      resource: Web Apps Virtual Network Connections Gateways
                    name: microsoft.web/sites/virtualnetworkconnections/gateways/read
                    origin: user,system
                  - display:
                      description: Update Web Apps Virtual Network Connections Gateways.
                      operation: Update Web Apps Virtual Network Connections Gateways
                      provider: Microsoft Web Apps
                      resource: Web Apps Virtual Network Connections Gateways
                    name: microsoft.web/sites/virtualnetworkconnections/gateways/write
                    origin: user,system
                  - display:
                      description: Get Web Apps Virtual Network Connections.
                      operation: Get Web Apps Virtual Network Connections
                      provider: Microsoft Web Apps
                      resource: Web Apps Virtual Network Connections
                    name: microsoft.web/sites/virtualnetworkconnections/read
                    origin: user,system
                  - display:
[...]
