swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: Resource health operation endpoints and objects.
  title: InfrastructureInsightsManagementClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/infrastructureinsights/Microsoft.InfrastructureInsights.Admin/preview/2016-05-01/ResourceHealth.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-ResourceHealth
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths/{serviceRegistrationId}/resourceHealths":
    get:
      description: Returns a list of each resource's health under a service.
      operationId: ResourceHealths_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the region
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Service registration ID.
          in: path
          name: serviceRegistrationId
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: OData filter parameter.
          in: query
          name: $filter
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResourceHealthList"
      tags:
        - Resources
      x-ms-examples:
        Returns a list of each resource's health under a service.:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            serviceRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/02860753-c35b-4a1d-9d5b-78d51e08616e
                    location: local
                    name: 02860753-c35b-4a1d-9d5b-78d51e08616e
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 02860753-c35b-4a1d-9d5b-78d51e08616e
                      resourceDisplayName: Portal (Administrator)
                      resourceLocation: local
                      resourceName: PortalAdmin
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/PortalAdmin
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/03e6f2b8-c4b9-4f13-b381-0365e1c83dbf
                    location: local
                    name: 03e6f2b8-c4b9-4f13-b381-0365e1c83dbf
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 03e6f2b8-c4b9-4f13-b381-0365e1c83dbf
                      resourceDisplayName: Load balancer multiplexer
                      resourceLocation: local
                      resourceName: SLBMultiplexer
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/SLBMultiplexer
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/1c5fb7d8-0c79-4157-ba6b-3cd3316dbbdf
                    location: local
                    name: 1c5fb7d8-0c79-4157-ba6b-3cd3316dbbdf
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 1c5fb7d8-0c79-4157-ba6b-3cd3316dbbdf
                      resourceDisplayName: Key Vault controller (User)
                      resourceLocation: local
                      resourceName: KeyVaultControlPlane
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/KeyVaultControlPlane
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/1ee2cdb4-ce31-45d7-890f-3fc3404897a3
                    location: local
                    name: 1ee2cdb4-ce31-45d7-890f-3fc3404897a3
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 1ee2cdb4-ce31-45d7-890f-3fc3404897a3
                      resourceDisplayName: Internal data store
                      resourceLocation: local
                      resourceName: MicrosoftSQLServer
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/MicrosoftSQLServer
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/22e43659-5042-4ffb-896c-83bdd7be7003
                    location: local
                    name: 22e43659-5042-4ffb-896c-83bdd7be7003
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 22e43659-5042-4ffb-896c-83bdd7be7003
                      resourceDisplayName: Backup controller
                      resourceLocation: local
                      resourceName: BackupController
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/BackupController
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/30c69554-bca4-421f-9d70-8c7dc4d9a90a
                    location: local
                    name: 30c69554-bca4-421f-9d70-8c7dc4d9a90a
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 30c69554-bca4-421f-9d70-8c7dc4d9a90a
                      resourceDisplayName: Authorization service (Administrator)
                      resourceLocation: local
                      resourceName: AuthorizationServiceAdmin
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AuthorizationServiceAdmin
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/320279a8-46c2-4551-b739-be1108f07285
                    location: local
                    name: 320279a8-46c2-4551-b739-be1108f07285
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 320279a8-46c2-4551-b739-be1108f07285
                      resourceDisplayName: Health controller
                      resourceLocation: local
                      resourceName: HealthMonitoring
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/HealthMonitoring
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/33651056-1254-41d5-8388-8842a4cb8201
                    location: local
                    name: 33651056-1254-41d5-8388-8842a4cb8201
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 33651056-1254-41d5-8388-8842a4cb8201
                      resourceDisplayName: Network controller
                      resourceLocation: local
                      resourceName: NetworkController
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/NetworkController
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/35348c64-1f2c-453b-8df4-b7cb5827db5d
                    location: local
                    name: 35348c64-1f2c-453b-8df4-b7cb5827db5d
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 35348c64-1f2c-453b-8df4-b7cb5827db5d
                      resourceDisplayName: Authorization service (User)
                      resourceLocation: local
                      resourceName: AuthorizationServiceUser
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AuthorizationServiceUser
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/396efceb-268c-4dfc-80de-d46f67ab9718
                    location: local
                    name: 396efceb-268c-4dfc-80de-d46f67ab9718
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 396efceb-268c-4dfc-80de-d46f67ab9718
                      resourceDisplayName: Insights service (Administrator)
                      resourceLocation: local
                      resourceName: InsightsServiceAdmin
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/InsightsServiceAdmin
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/3a13bf18-e3d8-4533-abbd-97c9afc06a58
                    location: local
                    name: 3a13bf18-e3d8-4533-abbd-97c9afc06a58
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 3a13bf18-e3d8-4533-abbd-97c9afc06a58
                      resourceDisplayName: Key Vault service (Administrator)
                      resourceLocation: local
                      resourceName: KeyVaultInternalDataPlane
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/KeyVaultInternalDataPlane
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/3a868182-32e4-4b78-af5e-4e30f2bb6140
                    location: local
                    name: 3a868182-32e4-4b78-af5e-4e30f2bb6140
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 3a868182-32e4-4b78-af5e-4e30f2bb6140
                      resourceDisplayName: Directory management
                      resourceLocation: local
                      resourceName: ActiveDirectoryDomainServices
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ActiveDirectoryDomainServices
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/4a407ec3-4378-491d-a1b4-747e12cc079f
                    location: local
                    name: 4a407ec3-4378-491d-a1b4-747e12cc079f
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 4a407ec3-4378-491d-a1b4-747e12cc079f
                      resourceDisplayName: Azure Resource Manager (Administrator)
                      resourceLocation: local
                      resourceName: AzureResourceManagerAdmin
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AzureResourceManagerAdmin
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/4b809ab1-6dd8-4944-9236-d94975579138
                    location: local
                    name: 4b809ab1-6dd8-4944-9236-d94975579138
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 4b809ab1-6dd8-4944-9236-d94975579138
                      resourceDisplayName: Usage service (User)
                      resourceLocation: local
                      resourceName: UsageServiceUser
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/UsageServiceUser
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/4f400548-da5c-4fb4-aa23-f44e68b3a168
                    location: local
                    name: 4f400548-da5c-4fb4-aa23-f44e68b3a168
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 4f400548-da5c-4fb4-aa23-f44e68b3a168
                      resourceDisplayName: Key Vault controller (Administrator)
                      resourceLocation: local
                      resourceName: KeyVaultInternalControlPlane
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/KeyVaultInternalControlPlane
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/52115be4-b1f7-4ed2-a8c9-0d93f588ee7f
                    location: local
                    name: 52115be4-b1f7-4ed2-a8c9-0d93f588ee7f
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 52115be4-b1f7-4ed2-a8c9-0d93f588ee7f
                      resourceDisplayName: Storage services
                      resourceLocation: local
                      resourceName: AzureConsistentStorageRing
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AzureConsistentStorageRing
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/58e5e6cc-e880-4f6a-886b-1819d9672bf8
                    location: local
                    name: 58e5e6cc-e880-4f6a-886b-1819d9672bf8
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 58e5e6cc-e880-4f6a-886b-1819d9672bf8
                      resourceDisplayName: Storage controller
                      resourceLocation: local
                      resourceName: StorageController
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/StorageController
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/596fbaa6-66bd-4eac-b002-9b63a69f0728
                    location: local
                    name: 596fbaa6-66bd-4eac-b002-9b63a69f0728
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 596fbaa6-66bd-4eac-b002-9b63a69f0728
                      resourceDisplayName: Azure bridge
                      resourceLocation: local
                      resourceName: AzureBridge
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AzureBridge
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/6e65db7d-de20-4ff0-b628-0a8a5839c61d
                    location: local
                    name: 6e65db7d-de20-4ff0-b628-0a8a5839c61d
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 6e65db7d-de20-4ff0-b628-0a8a5839c61d
                      resourceDisplayName: Insights service (User)
                      resourceLocation: local
                      resourceName: InsightsServiceUser
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/InsightsServiceUser
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/70bca597-4cda-4b3b-94e2-bda43c7207fb
                    location: local
                    name: 70bca597-4cda-4b3b-94e2-bda43c7207fb
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 70bca597-4cda-4b3b-94e2-bda43c7207fb
                      resourceDisplayName: Key Vault name manager
                      resourceLocation: local
                      resourceName: KeyVaultNamingService
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/KeyVaultNamingService
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/7afd76d2-6f78-464a-aac9-55c24692de31
                    location: local
                    name: 7afd76d2-6f78-464a-aac9-55c24692de31
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 7afd76d2-6f78-464a-aac9-55c24692de31
                      resourceDisplayName: Key Vault service (User)
                      resourceLocation: local
                      resourceName: KeyVaultDataPlane
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/KeyVaultDataPlane
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/7cd4c25c-e946-4502-926b-e3c32737b116
                    location: local
                    name: 7cd4c25c-e946-4502-926b-e3c32737b116
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 1
                      healthState: Warning
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 7cd4c25c-e946-4502-926b-e3c32737b116
                      resourceDisplayName: Infrastructure management controller
                      resourceLocation: local
                      resourceName: FabricControllerRing
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/FabricControllerRing
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/8e829737-813b-4637-97d5-83a1eeaea4fe
                    location: local
                    name: 8e829737-813b-4637-97d5-83a1eeaea4fe
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: 8e829737-813b-4637-97d5-83a1eeaea4fe
                      resourceDisplayName: Compute controller
                      resourceLocation: local
                      resourceName: ComputeController
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ComputeController
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/a979da34-78f0-45e6-8579-9023b7aabbbd
                    location: local
                    name: a979da34-78f0-45e6-8579-9023b7aabbbd
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: a979da34-78f0-45e6-8579-9023b7aabbbd
                      resourceDisplayName: Azure Resource Manager (User)
                      resourceLocation: local
                      resourceName: AzureResourceManagerUser
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/AzureResourceManagerUser
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/ac279697-3e4a-441e-a6ab-8afa589a6bf5
                    location: local
                    name: ac279697-3e4a-441e-a6ab-8afa589a6bf5
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: ac279697-3e4a-441e-a6ab-8afa589a6bf5
                      resourceDisplayName: Partition request broker (Administrator)
                      resourceLocation: local
                      resourceName: ApplicationGateway
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ApplicationGateway
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/bd90c001-1ddb-470f-9081-4f6bf254d358
                    location: local
                    name: bd90c001-1ddb-470f-9081-4f6bf254d358
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: bd90c001-1ddb-470f-9081-4f6bf254d358
                      resourceDisplayName: Usage service (Administrator)
                      resourceLocation: local
                      resourceName: UsageServiceAdmin
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/UsageServiceAdmin
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/bffdc1b5-2276-43a1-82a4-01e7a0585162
                    location: local
                    name: bffdc1b5-2276-43a1-82a4-01e7a0585162
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: bffdc1b5-2276-43a1-82a4-01e7a0585162
                      resourceDisplayName: Portal (User)
                      resourceLocation: local
                      resourceName: PortalUser
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/PortalUser
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/c5ab5cc3-0e51-43fd-94f2-a999f4ce00d1
                    location: local
                    name: c5ab5cc3-0e51-43fd-94f2-a999f4ce00d1
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: c5ab5cc3-0e51-43fd-94f2-a999f4ce00d1
                      resourceDisplayName: Active Directory Federation Services
                      resourceLocation: local
                      resourceName: ActiveDirectoryFederationServices
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ActiveDirectoryFederationServices
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/c634d1c5-1a2d-420d-9c88-8d12535d1870
                    location: local
                    name: c634d1c5-1a2d-420d-9c88-8d12535d1870
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: c634d1c5-1a2d-420d-9c88-8d12535d1870
                      resourceDisplayName: Subscriptions service
                      resourceLocation: local
                      resourceName: SubscriptionsServices
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/SubscriptionsServices
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/c9694eb8-5c18-47d1-b07d-55dc6ce88145
                    location: local
                    name: c9694eb8-5c18-47d1-b07d-55dc6ce88145
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: c9694eb8-5c18-47d1-b07d-55dc6ce88145
                      resourceDisplayName: Edge gateway
                      resourceLocation: local
                      resourceName: RASGateway
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/RASGateway
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/cef8ab56-97f5-42ef-a4c5-d63de46f603e
                    location: local
                    name: cef8ab56-97f5-42ef-a4c5-d63de46f603e
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: cef8ab56-97f5-42ef-a4c5-d63de46f603e
                      resourceDisplayName: Certificate management
                      resourceLocation: local
                      resourceName: ActiveDirectoryCertificateServices
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ActiveDirectoryCertificateServices
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/d6374306-6c60-4881-94a3-b8d78e54dde1
                    location: local
                    name: d6374306-6c60-4881-94a3-b8d78e54dde1
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: d6374306-6c60-4881-94a3-b8d78e54dde1
                      resourceDisplayName: Privileged endpoint
                      resourceLocation: local
                      resourceName: SeedRing
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/SeedRing
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/df1a83e9-635b-4ed0-af15-dfdf91ef4631
                    location: local
                    name: df1a83e9-635b-4ed0-af15-dfdf91ef4631
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: df1a83e9-635b-4ed0-af15-dfdf91ef4631
                      resourceDisplayName: Gallery service (User)
                      resourceLocation: local
                      resourceName: GalleryServiceUser
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/GalleryServiceUser
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/e388fe4c-63a0-4253-9b29-6dd4bf024501
                    location: local
                    name: e388fe4c-63a0-4253-9b29-6dd4bf024501
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: e388fe4c-63a0-4253-9b29-6dd4bf024501
                      resourceDisplayName: Partition request broker (User)
                      resourceLocation: local
                      resourceName: NonPrivilegedApplicationGateway
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/NonPrivilegedApplicationGateway
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/e932389e-a9fc-4310-9e69-7451d7b4b878
                    location: local
                    name: e932389e-a9fc-4310-9e69-7451d7b4b878
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: e932389e-a9fc-4310-9e69-7451d7b4b878
                      resourceDisplayName: Infrastructure deployment
                      resourceLocation: local
                      resourceName: EnterpriseCloudEngine
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/EnterpriseCloudEngine
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/eedbe9cb-8d73-45f3-a1a9-fd8422fbaa99
                    location: local
                    name: eedbe9cb-8d73-45f3-a1a9-fd8422fbaa99
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Unknown
                      namespace: Microsoft.Fabric.Admin
                      registrationId: eedbe9cb-8d73-45f3-a1a9-fd8422fbaa99
                      resourceDisplayName: Gallery service (Administrator)
                      resourceLocation: local
                      resourceName: GalleryServiceAdmin
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/GalleryServiceAdmin
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/ffcada0c-9de3-4994-884d-8cf04e3ad0a5
                    location: local
                    name: ffcada0c-9de3-4994-884d-8cf04e3ad0a5
                    properties:
                      alertSummary:
                        criticalAlertCount: 0
                        warningAlertCount: 0
                      healthState: Healthy
                      namespace: Microsoft.Fabric.Admin
                      registrationId: ffcada0c-9de3-4994-884d-8cf04e3ad0a5
                      resourceDisplayName: Infrastructure role controller
                      resourceLocation: local
                      resourceName: ServicesController
                      resourceType: infraRoles
                      resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/ServicesController
                      routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                      rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                      usageMetrics: []
                    tags: {}
                    type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
      x-ms-odata: "#/definitions/ResourceHealth"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths/{serviceRegistrationId}/resourceHealths/{resourceRegistrationId}":
    get:
      description: Returns the requested health information about a resource.
      operationId: ResourceHealths_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the region
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Service registration ID.
          in: path
          name: serviceRegistrationId
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Resource registration ID.
          in: path
          name: resourceRegistrationId
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: OData filter parameter.
          in: query
          name: $filter
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResourceHealth"
      tags:
        - Resources
      x-ms-examples:
        Returns the requested health information about a resource.:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            resourceRegistrationId: e388fe4c-63a0-4253-9b29-6dd4bf024501
            serviceRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c/resourceHealths/e388fe4c-63a0-4253-9b29-6dd4bf024501
                location: local
                name: e388fe4c-63a0-4253-9b29-6dd4bf024501
                properties:
                  alertSummary:
                    criticalAlertCount: 0
                    warningAlertCount: 0
                  healthState: Healthy
                  namespace: Microsoft.Fabric.Admin
                  registrationId: e388fe4c-63a0-4253-9b29-6dd4bf024501
                  resourceDisplayName: Partition request broker (User)
                  resourceLocation: local
                  resourceName: NonPrivilegedApplicationGateway
                  resourceType: infraRoles
                  resourceURI: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/NonPrivilegedApplicationGateway
                  routePrefix: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local
                  rpRegistrationId: e56bc7b8-c8b5-4e25-b00c-4f951effb22c
                  usageMetrics: []
                tags: {}
                type: Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths/resourceHealths
definitions:
  ResourceHealth:
    allOf:
      - allOf:
          - description: The core properties of ARM resources
            properties:
              id:
                description: Fully qualified resource Id for the resource
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The Azure Region where the resource lives
            type: string
            x-ms-mutability:
              - read
              - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
              - read
              - create
              - update
    description: Health information related to a resource.
    properties:
      properties:
        $ref: "#/definitions/ResourceHealthModel"
        description: Health information related to a resource.
        x-ms-client-flatten: true
  ResourceHealthList:
    description: Pageable list of resource health objects.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: List of resource health objects.
        items:
          $ref: "#/definitions/ResourceHealth"
        type: array
  ResourceHealthModel:
    allOf:
      - description: Models the base properties for health resource.
        properties:
          alertSummary:
            description: Summary of the alerts.
            properties:
              criticalAlertCount:
                description: The number of critical alerts for the service.
                type: integer
              warningAlertCount:
                description: The number of warning alerts for the service.
                type: integer
          healthState:
            description: Health state.
            type: string
          namespace:
            description: Namespace of the health resource.
            type: string
          registrationId:
            description: Registration ID.
            type: string
          routePrefix:
            description: Route prefix.
            type: string
    description: Health information related to a resource.
    properties:
      resourceDisplayName:
        description: Resource display name.
        type: string
      resourceLocation:
        description: Resource location.
        type: string
      resourceName:
        description: Resource name.
        type: string
      resourceType:
        description: Resource type.
        type: string
      resourceURI:
        description: Gets or sets the resource URI.
        type: string
      rpRegistrationId:
        description: Gets or sets the resource provider registration ID.
        type: string
      usageMetrics:
        description: Usage metrics.
        items:
          description: Metrics of resource usage.
          properties:
            metricsValue:
              description: List of usage metrics.
              items:
                description: Metrics for a source.
                properties:
                  maCounterName:
                    description: Name of the counter.
                    type: string
                  name:
                    description: Name of the usage metric.
                    type: string
                  observedTimestamp:
                    description: Time counter was observed.
                    format: date-time
                    type: string
                  sourceName:
                    description: The origin of the metric.
                    enum:
                      - PhysicalNode
                      - VirtualMachine
                      - ResourceProvider
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: MetricsSourceType
                  sourceType:
                    description: Type of the source.
                    type: string
                  unit:
                    description: The unit of the metric.
                    enum:
                      - One
                      - Percentage
                      - B
                      - KB
                      - MB
                      - GB
                      - TB
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: MetricsUnit
                  value:
                    description: Name of the usage metric.
                    format: double
                    type: number
              type: array
            name:
              description: Name of the usage metric.
              type: string
        type: array
