openapi: 3.0.0
servers:
  - url: https://api.stackexchange.com/2.0
info:
  description: |
    Stack Exchange is a network of 130+ Q&A communities including Stack Overflow.
  title: StackExchange
  version: "2.0"
  x-apisguru-categories:
    - collaboration
    - developer_tools
    - support
  x-issues:
    - https://github.com/APIs-guru/openapi-directory/issues/699
    - https://github.com/APIs-guru/openapi-directory/issues/217
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/http_sstatic.net_stackexchange_img_se-logo.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/stackexchange.com/2.0/openapi.yaml
      version: "3.0"
  x-providerName: stackexchange.com
  x-tags:
    - helpWanted
  x-unofficialSpec: true
externalDocs:
  url: https://api.stackexchange.com/
paths:
  "/access-tokens/{accessTokens}":
    get:
      description: |
        Reads the properties for a set of access tokens.
         
        {accessTokens} can contain up to 20 access tokens. These are obtained by authenticating a user using OAuth 2.0.
         
        This method returns a list of access_tokens.
      parameters:
        - description: String list (semicolon delimited).
          in: path
          name: accessTokens
          required: true
          schema:
            type: string
        - in: query
          name: pagesize
          schema:
            type: integer
        - in: query
          name: page
          schema:
            type: integer
        - description: |
            #Discussion

            The Stack Exchange API allows applications to exclude almost every field returned. For example, if an application did not care about a user's badge counts it could exclude user.badge_counts whenever it calls a method that returns users.

            An application excludes fields by creating a filter (via /filter/create) and passing it to a method in the filter parameter.

            Filters are immutable and non-expiring. An application can safely "bake in" any filters that are created, it is not necessary (or advisable) to create filters at runtime.

            The motivation for filters are several fold. Filters allow applications to reduce API responses to just the fields they are concerned with, saving bandwidth. With the list of fields an application is actually concerned with, the API can avoid unneccessary queries thereby decreasing response time (and reducing load on our infrastructure). Finally, filters allow us to be more conservative in what the API returns by default without a proliferation of parameters (as was seen with body, answers, and comments in the 1.x API family).

            #Safety

            Filters also carry a notion of safety, which is defined as follows. Any string returned as a result of an API call with a safe filter will be inline-able into HTML without script-injection concerns. That is to say, no additional sanitizing (encoding, HTML tag stripping, etc.) will be necessary on returned strings. Applications that wish to handle sanitizing themselves should create an unsafe filter. All filters are safe by default, under the assumption that double-encoding bugs are more desirable than script injections.

            Note that this does not mean that "safe" filter is mearly an "unsafe" one with all fields passed though UrlEncode(...). Many fields can and will contain HTML in all filter types (most notably, the *.body fields).

            When using unsafe filters, the API returns the highest fidelity data it can reasonably access for the given request. This means that in cases where the "safe" data is the only accessible data it will be returned even in "unsafe" filters. Notably the *.body fields are unchanged, as they are stored in that form. Fields that are unchanged between safe and unsafe filters are denoted in their types documentation.

            #Built In Filters

            The following filters are built in:

            default, each type documents which fields are returned under the default filter (for example, answers).
            withbody, which is default plus the *.body fields
            none, which is empty
            total, which includes just .total

            #Compatibility with V1.x

            For ease of transition from earlier API versions, the filters _b, _ba, _bc, _bca, _a, _ac, and _c are also built in. These are unsafe, and exclude a combination of question and answer body, comments, and answers so as to mimic the body, answers, and comments parameters that have been removed in V2.0. New applications should not use these filters.
          in: query
          name: filter
          schema:
            type: string
        - description: |
            All API responses are JSON, we do support JSONP with the callback query parameter.
          in: query
          name: callback
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/access_tokens"
          description: OK
        "400":
          description: |
            bad_parameter Ã¢â‚¬â€œ 400 An invalid parameter was passed, this includes even "high level" parameters like key or site.
        "401":
          description: |
            access_token_required Ã¢â‚¬â€œ 401 A method that requires an access token (obtained via authentication) was called without one.
        "402":
          description: |
            invalid_access_token Ã¢â‚¬â€œ 402 An invalid access token was passed to a method.
        "403":
          description: |
            access_denied Ã¢â‚¬â€œ 403 A method which requires certain permissions was called with an access token that lacks those permissions.
        "404":
          description: |
            no_method Ã¢â‚¬â€œ 404 An attempt was made to call a method that does not exist. Note, calling methods that expect numeric ids (like /users/{ids}) with non-numeric ids can also result in this error.
        "405":
          description: |
            key_required Ã¢â‚¬â€œ 405 A method was called in a manner that requires an application key (generally, with an access token), but no key was passed.
        "406":
          description: |
            access_token_compromised Ã¢â‚¬â€œ 406 An access token is no longer believed to be secure, normally because it was used on a non-HTTPS call. The access token will be invalidated if this error is returned.
        "500":
          description: |
            internal_error Ã¢â‚¬â€œ 500 An unexpected error occurred in the API. It has been logged, and Stack Exchange developers have been notified. You should report these errors on Stack Apps if you want to be notified when they're fixed.
        "502":
          description: |
            throttle_violation Ã¢â‚¬â€œ 502 An application has violated part of the rate limiting contract, so the request was terminated.
        "503":
          description: |
            temporarily_unavailable Ã¢â‚¬â€œ 503 Some or all of the API is unavailable. Applications should backoff on requests to the method invoked.
  "/access-tokens/{accessTokens}/invalidate":
    get:
      description: |
        Immediately expires the access tokens passed. This method is meant to allow an application to discard any active access tokens it no longer needs.
         
        {accessTokens} can contain up to 20 access tokens. These are obtained by authenticating a user using OAuth 2.0.
         
        This method returns a list of access_tokens.
      parameters:
        - description: String list (semicolon delimited).
          in: path
          name: accessTokens
          required: true
          schema:
            type: string
        - in: query
          name: pagesize
          schema:
            type: integer
        - in: query
          name: page
          schema:
            type: integer
        - description: |
            #Discussion

            The Stack Exchange API allows applications to exclude almost every field returned. For example, if an application did not care about a user's badge counts it could exclude user.badge_counts whenever it calls a method that returns users.

            An application excludes fields by creating a filter (via /filter/create) and passing it to a method in the filter parameter.

            Filters are immutable and non-expiring. An application can safely "bake in" any filters that are created, it is not necessary (or advisable) to create filters at runtime.

            The motivation for filters are several fold. Filters allow applications to reduce API responses to just the fields they are concerned with, saving bandwidth. With the list of fields an application is actually concerned with, the API can avoid unneccessary queries thereby decreasing response time (and reducing load on our infrastructure). Finally, filters allow us to be more conservative in what the API returns by default without a proliferation of parameters (as was seen with body, answers, and comments in the 1.x API family).

            #Safety

            Filters also carry a notion of safety, which is defined as follows. Any string returned as a result of an API call with a safe filter will be inline-able into HTML without script-injection concerns. That is to say, no additional sanitizing (encoding, HTML tag stripping, etc.) will be necessary on returned strings. Applications that wish to handle sanitizing themselves should create an unsafe filter. All filters are safe by default, under the assumption that double-encoding bugs are more desirable than script injections.

            Note that this does not mean that "safe" filter is mearly an "unsafe" one with all fields passed though UrlEncode(...). Many fields can and will contain HTML in all filter types (most notably, the *.body fields).

            When using unsafe filters, the API returns the highest fidelity data it can reasonably access for the given request. This means that in cases where the "safe" data is the only accessible data it will be returned even in "unsafe" filters. Notably the *.body fields are unchanged, as they are stored in that form. Fields that are unchanged between safe and unsafe filters are denoted in their types documentation.

            #Built In Filters

            The following filters are built in:

            default, each type documents which fields are returned under the default filter (for example, answers).
            withbody, which is default plus the *.body fields
            none, which is empty
            total, which includes just .total

            #Compatibility with V1.x

            For ease of transition from earlier API versions, the filters _b, _ba, _bc, _bca, _a, _ac, and _c are also built in. These are unsafe, and exclude a combination of question and answer body, comments, and answers so as to mimic the body, answers, and comments parameters that have been removed in V2.0. New applications should not use these filters.
          in: query
          name: filter
          schema:
            type: string
        - description: |
            All API responses are JSON, we do support JSONP with the callback query parameter.
          in: query
          name: callback
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/access_tokens"
          description: OK
        "400":
          description: |
            bad_parameter Ã¢â‚¬â€œ 400 An invalid parameter was passed, this includes even "high level" parameters like key or site.
        "401":
          description: |
            access_token_required Ã¢â‚¬â€œ 401 A method that requires an access token (obtained via authentication) was called without one.
        "402":
          description: |
            invalid_access_token Ã¢â‚¬â€œ 402 An invalid access token was passed to a method.
        "403":
          description: |
            access_denied Ã¢â‚¬â€œ 403 A method which requires certain permissions was called with an access token that lacks those permissions.
        "404":
          description: |
            no_method Ã¢â‚¬â€œ 404 An attempt was made to call a method that does not exist. Note, calling methods that expect numeric ids (like /users/{ids}) with non-numeric ids can also result in this error.
        "405":
          description: |
            key_required Ã¢â‚¬â€œ 405 A method was called in a manner that requires an application key (generally, with an access token), but no key was passed.
        "406":
          description: |
            access_token_compromised Ã¢â‚¬â€œ 406 An access token is no longer believed to be secure, normally because it was used on a non-HTTPS call. The access token will be invalidated if this error is returned.
        "500":
          description: |
            internal_error Ã¢â‚¬â€œ 500 An unexpected error occurred in the API. It has been logged, and Stack Exchange developers have been notified. You should report these errors on Stack Apps if you want to be notified when they're fixed.
        "502":
          description: |
            throttle_violation Ã¢â‚¬â€œ 502 An application has violated part of the rate limiting contract, so the request was terminated.
        "503":
          description: |
            temporarily_unavailable Ã¢â‚¬â€œ 503 Some or all of the API is unavailable. Applications should backoff on requests to the method invoked.
  /answers:
    get:
      description: |
        Returns all the undeleted answers in the system.
         
        The sorts accepted by this method operate on the follow fields of the answer object:
         - activity - last_activity_date
         - creation - creation_date
         - votes - score
          activity is the default sort.
         
         It is possible to create moderately complex queries using sort, min, max, fromdate, and todate.

         
        This method returns a list of answers.
      parameters:
        - in: query
          name: order
          schema:
            enum:
              - desc
              - asc
            type: string
        - description: |
            sort = activity => date
            sort = creation => date
            sort = votes => number
          in: query
          name: max
          schema:
            type: string
        - description: |
            sort = activity => date
            sort = creation => date
            sort = votes => number
          in: query
          name: min
          schema:
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - activity
              - creation
              - votes
            type: string
        - description: Unix date.
          in: query
          name: fromdate
          schema:
            type: integer
        - description: Unix date.
          in: query
          name: todate
          schema:
            type: integer
        - in: query
          name: pagesize
          schema:
            type: integer
        - in: query
          name: page
          schema:
            type: integer
        - description: |
            #Discussion

            The Stack Exchange API allows applications to exclude almost every field returned. For example, if an application did not care about a user's badge counts it could exclude user.badge_counts whenever it calls a method that returns users.

            An application excludes fields by creating a filter (via /filter/create) and passing it to a method in the filter parameter.

            Filters are immutable and non-expiring. An application can safely "bake in" any filters that are created, it is not necessary (or advisable) to create filters at runtime.

            The motivation for filters are several fold. Filters allow applications to reduce API responses to just the fields they are concerned with, saving bandwidth. With the list of fields an application is actually concerned with, the API can avoid unneccessary queries thereby decreasing response time (and reducing load on our infrastructure). Finally, filters allow us to be more conservative in what the API returns by default without a proliferation of parameters (as was seen with body, answers, and comments in the 1.x API family).

            #Safety

            Filters also carry a notion of safety, which is defined as follows. Any string returned as a result of an API call with a safe filter will be inline-able into HTML without script-injection concerns. That is to say, no additional sanitizing (encoding, HTML tag stripping, etc.) will be necessary on returned strings. Applications that wish to handle sanitizing themselves should create an unsafe filter. All filters are safe by default, under the assumption that double-encoding bugs are more desirable than script injections.

            Note that this does not mean that "safe" filter is mearly an "unsafe" one with all fields passed though UrlEncode(...). Many fields can and will contain HTML in all filter types (most notably, the *.body fields).

            When using unsafe filters, the API returns the highest fidelity data it can reasonably access for the given request. This means that in cases where the "safe" data is the only accessible data it will be returned even in "unsafe" filters. Notably the *.body fields are unchanged, as they are stored in that form. Fields that are unchanged between safe and unsafe filters are denoted in their types documentation.

            #Built In Filters

            The following filters are built in:

            default, each type documents which fields are returned under the default filter (for example, answers).
            withbody, which is default plus the *.body fields
            none, which is empty
            total, which includes just .total

            #Compatibility with V1.x

            For ease of transition from earlier API versions, the filters _b, _ba, _bc, _bca, _a, _ac, and _c are also built in. These are unsafe, and exclude a combination of question and answer body, comments, and answers so as to mimic the body, answers, and comments parameters that have been removed in V2.0. New applications should not use these filters.
          in: query
          name: filter
          schema:
            type: string
        - description: |
            All API responses are JSON, we do support JSONP with the callback query parameter.
          in: query
          name: callback
          schema:
            type: string
        - description: |
            Each of these methods operates on a single site at a time, identified by the site parameter. This parameter can be the full domain name (ie. "stackoverflow.com"), or a short form identified by api_site_parameter on the site object.
          in: query
          name: site
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/answers"
          description: OK
        "400":
          description: |
            bad_parameter Ã¢â‚¬â€œ 400 An invalid parameter was passed, this includes even "high level" parameters like key or site.
        "401":
          description: |
            access_token_required Ã¢â‚¬â€œ 401 A method that requires an access token (obtained via authentication) was called without one.
        "402":
          description: |
            invalid_access_token Ã¢â‚¬â€œ 402 An invalid access token was passed to a method.
        "403":
          description: |
            access_denied Ã¢â‚¬â€œ 403 A method which requires certain permissions was called with an access token that lacks those permissions.
        "404":
          description: |
            no_method Ã¢â‚¬â€œ 404 An attempt was made to call a method that does not exist. Note, calling methods that expect numeric ids (like /users/{ids}) with non-numeric ids can also result in this error.
        "405":
          description: |
            key_required Ã¢â‚¬â€œ 405 A method was called in a manner that requires an application key (generally, with an access token), but no key was passed.
        "406":
          description: |
            access_token_compromised Ã¢â‚¬â€œ 406 An access token is no longer believed to be secure, normally because it was used on a non-HTTPS call. The access token will be invalidated if this error is returned.
        "500":
          description: |
            internal_error Ã¢â‚¬â€œ 500 An unexpected error occurred in the API. It has been logged, and Stack Exchange developers have been notified. You should report these errors on Stack Apps if you want to be notified when they're fixed.
        "502":
          description: |
            throttle_violation Ã¢â‚¬â€œ 502 An application has violated part of the rate limiting contract, so the request was terminated.
        "503":
          description: |
            temporarily_unavailable Ã¢â‚¬â€œ 503 Some or all of the API is unavailable. Applications should backoff on requests to the method invoked.
  "/answers/{ids}":
    get:
      description: |
        Gets the set of answers identified by ids.
         
        This is meant for batch fetcing of questions. A useful trick to poll for updates is to sort by activity, with a minimum date of the last time you polled.
         
        {ids} can contain up to 100 semicolon delimited ids, to find ids programatically look for answer_id on answer objects.
         
        The sorts accepted by this method operate on the follow fields of the answer object:
         - activity - last_activity_date
         - creation - creation_date
         - votes - score
          activity is the default sort.
         
         It is possible to create moderately complex queries using sort, min, max, fromdate, and todate.

         
        This method returns a list of answers.
      parameters:
        - description: Number list (semicolon delimited).
          in: path
          name: ids
          required: true
          schema:
            type: string
        - in: query
          name: order
          schema:
            enum:
              - desc
              - asc
            type: string
        - description: |
            sort = activity => date
            sort = creation => date
            sort = votes => number
          in: query
          name: max
          schema:
            type: string
        - description: |
            sort = activity => date
            sort = creation => date
            sort = votes => number
          in: query
          name: min
          schema:
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - activity
              - creation
              - votes
            type: string
        - description: Unix date.
          in: query
          name: fromdate
          schema:
            type: integer
        - description: Unix date.
          in: query
          name: todate
          schema:
            type: integer
        - in: query
          name: pagesize
          schema:
            type: integer
        - in: query
          name: page
          schema:
            type: integer
        - description: |
            #Discussion

            The Stack Exchange API allows applications to exclude almost every field returned. For example, if an application did not care about a user's badge counts it could exclude user.badge_counts whenever it calls a method that returns users.

            An application excludes fields by creating a filter (via /filter/create) and passing it to a method in the filter parameter.

            Filters are immutable and non-expiring. An application can safely "bake in" any filters that are created, it is not necessary (or advisable) to create filters at runtime.

            The motivation for filters are several fold. Filters allow applications to reduce API responses to just the fields they are concerned with, saving bandwidth. With the list of fields an application is actually concerned with, the API can avoid unneccessary queries thereby decreasing response time (and reducing load on our infrastructure). Finally, filters allow us to be more conservative in what the API returns by default without a proliferation of parameters (as was seen with body, answers, and comments in the 1.x API family).

            #Safety

            Filters also carry a notion of safety, which is defined as follows. Any string returned as a result of an API call with a safe filter will be inline-able into HTML without script-injection concerns. That is to say, no additional sanitizing (encoding, HTML tag stripping, etc.) will be necessary on returned strings. Applications that wish to handle sanitizing themselves should create an unsafe filter. All filters are safe by default, under the assumption that double-encoding bugs are more desirable than script injections.

            Note that this does not mean that "safe" filter is mearly an "unsafe" one with all fields passed though UrlEncode(...). Many fields can and will contain HTML in all filter types (most notably, the *.body fields).

            When using unsafe filters, the API returns the highest fidelity data it can reasonably access for the given request. This means that in cases where the "safe" data is the only accessible data it will be returned even in "unsafe" filters. Notably the *.body fields are unchanged, as they are stored in that form. Fields that are unchanged between safe and unsafe filters are denoted in their types documentation.

            #Built In Filters

            The following filters are built in:

            default, each type documents which fields are returned under the default filter (for example, answers).
            withbody, which is default plus the *.body fields
            none, which is empty
            total, which includes just .total

            #Compatibility with V1.x

            For ease of transition from earlier API versions, the filters _b, _ba, _bc, _bca, _a, _ac, and _c are also built in. These are unsafe, and exclude a combination of question and answer body, comments, and answers so as to mimic the body, answers, and comments parameters that have been removed in V2.0. New applications should not use these filters.
          in: query
          name: filter
          schema:
            type: string
        - description: |
            All API responses are JSON, we do support JSONP with the callback query parameter.
          in: query
          name: callback
          schema:
            type: string
        - description: |
            Each of these methods operates on a single site at a time, identified by the site parameter. This parameter can be the full domain name (ie. "stackoverflow.com"), or a short form identified by api_site_parameter on the site object.
          in: query
          name: site
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/answers"
          description: OK
        "400":
          description: |
            bad_parameter Ã¢â‚¬â€œ 400 An invalid parameter was passed, this includes even "high level" parameters like key or site.
        "401":
          description: |
            access_token_required Ã¢â‚¬â€œ 401 A method that requires an access token (obtained via authentication) was called without one.
        "402":
          description: |
            invalid_access_token Ã¢â‚¬â€œ 402 An invalid access token was passed to a method.
        "403":
          description: |
            access_denied Ã¢â‚¬â€œ 403 A method which requires certain permissions was called with an access token that lacks those permissions.
        "404":
          description: |
            no_method Ã¢â‚¬â€œ 404 An attempt was made to call a method that does not exist. Note, calling methods that expect numeric ids (like /users/{ids}) with non-numeric ids can also result in this error.
        "405":
          description: |
            key_required Ã¢â‚¬â€œ 405 A method was called in a manner that requires an application key (generally, with an access token), but no key was passed.
        "406":
          description: |
            access_token_compromised Ã¢â‚¬â€œ 406 An access token is no longer believed to be secure, normally because it was used on a non-HTTPS call. The access token will be invalidated if this error is returned.
        "500":
          description: |
            internal_error Ã¢â‚¬â€œ 500 An unexpected error occurred in the API. It has been logged, and Stack Exchange developers have been notified. You should report these errors on Stack Apps if you want to be notified when they're fixed.
        "502":
          description: |
            throttle_violation Ã¢â‚¬â€œ 502 An application has violated part of the rate limiting contract, so the request was terminated.
        "503":
          description: |
            temporarily_unavailable Ã¢â‚¬â€œ 503 Some or all of the API is unavailable. Applications should backoff on requests to the method invoked.
  "/answers/{ids}/comments":
    get:
      description: |
        Gets the comments on a set of answers.
         
        If you know that you have an answer id and need the comments, use this method. If you know you have a question id, use /questions/{id}/comments. If you are unsure, use /posts/{id}/comments.
         
        {ids} can contain up to 100 semicolon delimited ids, to find ids programatically look for answer_id on answer objects.
         
        The sorts accepted by this method operate on the follow fields of the comment object:
         - creation - creation_date
         - votes - score
          creation is the default sort.
         
         It is possible to create moderately complex queries using sort, min, max, fromdate, and todate.

         
        This method returns a list of comments.
      parameters:
        - description: Number list (semicolon delimited).
          in: path
          name: ids
          required: true
          schema:
            type: string
        - in: query
          name: order
          schema:
            enum:
              - desc
              - asc
            type: string
        - description: |
            sort = creation => date
            sort = votes => number
          in: query
          name: max
          schema:
            type: string
        - description: |
            sort = creation => date
            sort = votes => number
          in: query
          name: min
          schema:
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - creation
              - votes
            type: string
        - description: Unix date.
          in: query
          name: fromdate
          schema:
            type: integer
        - description: Unix date.
          in: query
          name: todate
          schema:
            type: integer
        - in: query
          name: pagesize
          schema:
            type: integer
        - in: query
          name: page
          schema:
            type: integer
        - description: |
            #Discussion

            The Stack Exchange API allows applications to exclude almost every field returned. For example, if an application did not care about a user's badge counts it could exclude user.badge_counts whenever it calls a method that returns users.

            An application excludes fields by creating a filter (via /filter/create) and passing it to a method in the filter parameter.

            Filters are immutable and non-expiring. An application can safely "bake in" any filters that are created, it is not necessary (or advisable) to create filters at runtime.

            The motivation for filters are several fold. Filters allow applications to reduce API responses to just the fields they are concerned with, saving bandwidth. With the list of fields an application is actually concerned with, the API can avoid unneccessary queries thereby decreasing response time (and reducing load on our infrastructure). Finally, filters allow us to be more conservative in what the API returns by default without a proliferation of parameters (as was seen with body, answers, and comments in the 1.x API family).

            #Safety

            Filters also carry a notion of safety, which is defined as follows. Any string returned as a result of an API call with a safe filter will be inline-able into HTML without script-injection concerns. That is to say, no additional sanitizing (encoding, HTML tag stripping, etc.) will be necessary on returned strings. Applications that wish to handle sanitizing themselves should create an unsafe filter. All filters are safe by default, under the assumption that double-encoding bugs are more desirable than script injections.

            Note that this does not mean that "safe" filter is mearly an "unsafe" one with all fields passed though UrlEncode(...). Many fields can and will contain HTML in all filter types (most notably, the *.body fields).

            When using unsafe filters, the API returns the highest fidelity data it can reasonably access for the given request. This means that in cases where the "safe" data is the only accessible data it will be returned even in "unsafe" filters. Notably the *.body fields are unchanged, as they are stored in that form. Fields that are unchanged between safe and unsafe filters are denoted in their types documentation.

            #Built In Filters

            The following filters are built in:

            default, each type documents which fields are returned under the default filter (for example, answers).
            withbody, which is default plus the *.body fields
            none, which is empty
            total, which includes just .total

            #Compatibility with V1.x

            For ease of transition from earlier API versions, the filters _b, _ba, _bc, _bca, _a, _ac, and _c are also built in. These are unsafe, and exclude a combination of question and answer body, comments, and answers so as to mimic the body, answers, and comments parameters that have been removed in V2.0. New applications should not use these filters.
          in: query
          name: filter
          schema:
            type: string
        - description: |
            All API responses are JSON, we do support JSONP with the callback query parameter.
          in: query
          name: callback
          schema:
            type: string
        - description: |
            Each of these methods operates on a single site at a time, identified by the site parameter. This parameter can be the full domain name (ie. "stackoverflow.com"), or a short form identified by api_site_parameter on the site object.
          in: query
          name: site
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/comments"
          description: OK
        "400":
          description: |
            bad_parameter Ã¢â‚¬â€œ 400 An invalid parameter was passed, this includes even "high level" parameters like key or site.
        "401":
          description: |
            access_token_required Ã¢â‚¬â€œ 401 A method that requires an access token (obtained via authentication) was called without one.
        "402":
          description: |
            invalid_access_token Ã¢â‚¬â€œ 402 An invalid access token was passed to a method.
        "403":
          description: |
            access_denied Ã¢â‚¬â€œ 403 A method which requires certain permissions was called with an access token that lacks those permissions.
        "404":
          description: |
            no_method Ã¢â‚¬â€œ 404 An attempt was made to call a method that does not exist. Note, calling methods that expect numeric ids (like /users/{ids}) with non-numeric ids can also result in this error.
        "405":
          description: |
            key_required Ã¢â‚¬â€œ 405 A method was called in a manner that requires an application key (generally, with an access token), but no key was passed.
        "406":
          description: |
            access_token_compromised Ã¢â‚¬â€œ 406 An access token is no longer believed to be secure, normally because it was used on a non-HTTPS call. The access token will be invalidated if this error is returned.
        "500":
          description: |
            internal_error Ã¢â‚¬â€œ 500 An unexpected error occurred in the API. It has been logged, and Stack Exchange developers have been notified. You should report these errors on Stack Apps if you want to be notified when they're fixed.
        "502":
          description: |
            throttle_violation Ã¢â‚¬â€œ 502 An application has violated part of the rate limiting contract, so the request was terminated.
        "503":
          description: |
            temporarily_unavailable Ã¢â‚¬â€œ 503 Some or all of the API is unavailable. Applications should backoff on requests to the method invoked.
  "/apps/{accessTokens}/de-authenticate":
    get:
      description: |
        Passing valid access_tokens to this method causes the application that created them to be de-authorized by the user associated with each access_token. This will remove the application from their apps tab, and cause all other existing access_tokens to be destroyed.
         
        This method is meant for uninstalling applications, recovering from access_token leaks, or simply as a stronger form of /access-tokens/{accessTokens}/invalidate.
         
        Nothing prevents a user from re-authenticate to an application that has de-authenticated itself, the user will be prompted to approve the application again however.
         
        {accessTokens} can contain up to 20 access tokens. These are obtained by authenticating a user using OAuth 2.0.
         
        This method returns a list of access_tokens.
      parameters:
        - description: String list (semicolon delimited).
          in: path
          name: accessTokens
          required: true
          schema:
            type: string
        - in: query
          name: pagesize
          schema:
            type: integer
        - in: query
          name: page
          schema:
            type: integer
        - description: |
            #Discussion

            The Stack Exchange API allows applications to exclude almost every field returned. For example, if an application did not care about a user's badge counts it could exclude user.badge_counts whenever it calls a method that returns users.

            An application excludes fields by creating a filter (via /filter/create) and passing it to a method in the filter parameter.

            Filters are immutable and non-expiring. An application can safely "bake in" any filters that are created, it is not necessary (or advisable) to create filters at runtime.

            The motivation for filters are several fold. Filters allow applications to reduce API responses to just the fields they are concerned with, saving bandwidth. With the list of fields an application is actually concerned with, the API can avoid unneccessary queries thereby decreasing response time (and reducing load on our infrastructure). Finally, filters allow us to be more conservative in what the API returns by default without a proliferation of parameters (as was seen with body, answers, and comments in the 1.x API family).

            #Safety

            Filters also carry a notion of safety, which is defined as follows. Any string returned as a result of an API call with a safe filter will be inline-able into HTML without script-injection concerns. That is to say, no additional sanitizing (encoding, HTML tag stripping, etc.) will be necessary on returned strings. Applications that wish to handle sanitizing themselves should create an unsafe filter. All filters are safe by default, under the assumption that double-encoding bugs are more desirable than script injections.

            Note that this does not mean that "safe" filter is mearly an "unsafe" one with all fields passed though UrlEncode(...). Many fields can and will contain HTML in all filter types (most notably, the *.body fields).

            When using unsafe filters, the API returns the highest fidelity data it can reasonably access for the given request. This means that in cases where the "safe" data is the only accessible data it will be returned even in "unsafe" filters. Notably the *.body fields are unchanged, as they are stored in that form. Fields that are unchanged between safe and unsafe filters are denoted in their types documentation.

            #Built In Filters

            The following filters are built in:

            default, each type documents which fields are returned under the default filter (for example, answers).
            withbody, which is default plus the *.body fields
            none, which is empty
            total, which includes just .total

            #Compatibility with V1.x

            For ease of transition from earlier API versions, the filters _b, _ba, _bc, _bca, _a, _ac, and _c are also built in. These are unsafe, and exclude a combination of question and answer body, comments, and answers so as to mimic the body, answers, and comments parameters that have been removed in V2.0. New applications should not use these filters.
          in: query
          name: filter
          schema:
            type: string
        - description: |
            All API responses are JSON, we do support JSONP with the callback query parameter.
          in: query
          name: callback
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/access_tokens"
          description: OK
        "400":
          description: |
            bad_parameter Ã¢â‚¬â€œ 400 An invalid parameter was passed, this includes even "high level" parameters like key or site.
        "401":
          description: |
            access_token_required Ã¢â‚¬â€œ 401 A method that requires an access token (obtained via authentication) was called without one.
        "402":
          description: |
            invalid_access_token Ã¢â‚¬â€œ 402 An invalid access token was passed to a method.
        "403":
          description: |
            access_denied Ã¢â‚¬â€œ 403 A method which requires certain permissions was called with an access token that lacks those permissions.
        "404":
          description: |
            no_method Ã¢â‚¬â€œ 404 An attempt was made to call a method that does not exist. Note, calling methods that expect numeric ids (like /users/{ids}) with non-numeric ids can also result in this error.
        "405":
          description: |
            key_required Ã¢â‚¬â€œ 405 A method was called in a manner that requires an application key (generally, with an access token), but no key was passed.
        "406":
          description: |
            access_token_compromised Ã¢â‚¬â€œ 406 An access token is no longer believed to be secure, normally because it was used on a non-HTTPS call. The access token will be invalidated if this error is returned.
        "500":
          description: |
            internal_error Ã¢â‚¬â€œ 500 An unexpected error occurred in the API. It has been logged, and Stack Exchange developers have been notified. You should report these errors on Stack Apps if you want to be notified when they're fixed.
        "502":
          description: |
            throttle_violation Ã¢â‚¬â€œ 502 An application has violated part of the rate limiting contract, so the request was terminated.
        "503":
          description: |
            temporarily_unavailable Ã¢â‚¬â€œ 503 Some or all of the API is unavailable. Applications should backoff on requests to the method invoked.
  /badges:
    get:
      description: |
        Returns all the badges in the system.
         
        Badge sorts are a tad complicated. For the purposes of sorting (and min/max) tag_based is considered to be greater than named.
         
        This means that you can get a list of all tag based badges by passing min=tag_based, and conversely all the named badges by passing max=named, with sort=type.
         
        For ranks, bronze is greater than silver which is greater than gold. Along with sort=rank, set max=gold for just gold badges, max=silver&min=silver for just silver, and min=bronze for just bronze.
         
        rank is the default sort.
         
        This method returns a list of badges.
      parameters:
        - in: query
          name: inname
          schema:
            type: string
        - in: query
          name: order
          schema:
            enum:
              - desc
              - asc
            type: string
        - description: |
            sort = rank => string
            sort = name => string
            sort = type => string
          in: query
          name: max
          schema:
            type: string
        - description: |
            sort = rank => string
            sort = name => string
            sort = type => string
          in: query
          name: min
          schema:
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - rank
              - name
              - type
            type: string
        - description: Unix date.
          in: query
          name: fromdate
          schema:
            type: integer
        - description: Unix date.
          in: query
          name: todate
          schema:
            type: integer
        - in: query
          name: pagesize
          schema:
            type: integer
        - in: query
          name: page
          schema:
            type: integer
        - description: |
            #Discussion

            The Stack Exchange API allows applications to exclude almost every field returned. For example, if an application did not care about a user's badge counts it could exclude user.badge_counts whenever it calls a method that returns users.

            An application excludes fields by creating a filter (via /filter/create) and passing it to a method in the filter parameter.

            Filters are immutable and non-expiring. An application can safely "bake in" any filters that are created, it is not necessary (or advisable) to create filters at runtime.

            The motivation for filters are several fold. Filters allow applications to reduce API responses to just the fields they are concerned with, saving bandwidth. With the list of fields an application is actually concerned with, the API can avoid unneccessary queries thereby decreasing response time (and reducing load on our infrastructure). Finally, filters allow us to be more conservative in what the API returns by default without a proliferation of parameters (as was seen with body, answers, and comments in the 1.x API family).

            #Safety

            Filters also carry a notion of safety, which is defined as follows. Any string returned as a result of an API call with a safe filter will be inline-able into HTML without script-injection concerns. That is to say, no additional sanitizing (encoding, HTML tag stripping, etc.) will be necessary on returned strings. Applications that wish to handle sanitizing themselves should create an unsafe filter. All filters are safe by default, under the assumption that double-encoding bugs are more desirable than script injections.

            Note that this does not mean that "safe" filter is mearly an "unsafe" one with all fields passed though UrlEncode(...). Many fields can and will contain HTML in all filter types (most notably, the *.body fields).

            When using unsafe filters, the API returns the highest fidelity data it can reasonably access for the given request. This means that in cases where the "safe" data is the only accessible data it will be returned even in "unsafe" filters. Notably the *.body fields are unchanged, as they are stored in that form. Fields that are unchanged between safe and unsafe filters are denoted in their types documentation.

            #Built In Filters

            The following filters are built in:

            default, each type documents which fields are returned under the default filter (for example, answers).
            withbody, which is default plus the *.body fields
            none, which is empty
            total, which includes just .total

            #Compatibility with V1.x

            For ease of transition from earlier API versions, the filters _b, _ba, _bc, _bca, _a, _ac, and _c are also built in. These are unsafe, and exclude a combination of question and answer body, comments, and answers so as to mimic the body, answers, and comments parameters that have been removed in V2.0. New applications should not use these filters.
          in: query
          name: filter
          schema:
            type: string
        - description: |
            All API responses are JSON, we do support JSONP with the callback query parameter.
          in: query
          name: callback
          schema:
            type: string
        - description: |
            Each of these methods operates on a single site at a time, identified by the site parameter. This parameter can be the full domain name (ie. "stackoverflow.com"), or a short form identified by api_site_parameter on the site object.
          in: query
          name: site
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/badges"
          description: OK
        "400":
          description: |
            bad_parameter Ã¢â‚¬â€œ 400 An invalid parameter was passed, this includes even "high level" parameters like key or site.
        "401":
          description: |
            access_token_required Ã¢â‚¬â€œ 401 A method that requires an access token (obtained via authentication) was called without one.
        "402":
          description: |
            invalid_access_token Ã¢â‚¬â€œ 402 An invalid access token was passed to a method.
        "403":
          description: |
            access_denied Ã¢â‚¬â€œ 403 A method which requires certain permissions was called with an access token that lacks those permissions.
        "404":
          description: |
            no_method Ã¢â‚¬â€œ 404 An attempt was made to call a method that does not exist. Note, calling methods that expect numeric ids (like /users/{ids}) with non-numeric ids can also result in this error.
        "405":
          description: |
            key_required Ã¢â‚¬â€œ 405 A method was called in a manner that requires an application key (generally, with an access token), but no key was passed.
        "406":
          description: |
            access_token_compromised Ã¢â‚¬â€œ 406 An access token is no longer believed to be secure, normally because it was used on a non-HTTPS call. The access token will be invalidated if this error is returned.
        "500":
          description: |
            internal_error Ã¢â‚¬â€œ 500 An unexpected error occurred in the API. It has been logged, and Stack Exchange developers have been notified. You should report these errors on Stack Apps if you want to be notified when they're fixed.
        "502":
          description: |
            throttle_violation Ã¢â‚¬â€œ 502 An application has violated part of the rate limiting contract, so the request was terminated.
        "503":
          description: |
            temporarily_unavailable Ã¢â‚¬â€œ 503 Some or all of the API is unavailable. Applications should backoff on requests to the method invoked.
  /badges/name:
    get:
      description: |
        Gets all explicitly named badges in the system.
         
        A named badged stands in opposition to a tag-based badge. These are referred to as general badges on the sites themselves.
         
        For the rank sort, bronze is greater than silver which is greater than gold. Along with sort=rank, set max=gold for just gold badges, max=silver&min=silver for just silver, and min=bronze for just bronze.
         
        rank is the default sort.
         
        This method returns a list of badges.
      parameters:
        - in: query
          name: inname
          schema:
            type: string
        - in: query
          name: order
          schema:
            enum:
              - desc
              - asc
            type: string
        - description: |
            sort = rank => string
            sort = name => string
          in: query
          name: max
          schema:
            type: string
        - description: |
            sort = rank => string
            sort = name => string
          in: query
          name: min
          schema:
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - rank
              - name
            type: string
        - description: Unix date.
          in: query
          name: fromdate
          schema:
            type: integer
        - description: Unix date.
          in: query
          name: todate
          schema:
            type: integer
        - in: query
          name: pagesize
          schema:
            type: integer
        - in: query
          name: page
          schema:
            type: integer
        - description: |
            #Discussion

            The Stack Exchange API allows applications to exclude almost every field returned. For example, if an application did not care about a user's badge counts it could exclude user.badge_counts whenever it calls a method that returns users.

            An application excludes fields by creating a filter (via /filter/create) and passing it to a method in the filter parameter.

            Filters are immutable and non-expiring. An application can safely "bake in" any filters that are created, it is not necessary (or advisable) to create filters at runtime.

            The motivation for filters are several fold. Filters allow applications to reduce API responses to just the fields they are concerned with, saving bandwidth. With the list of fields an application is actually concerned with, the API can avoid unneccessary queries thereby decreasing response time (and reducing load on our infrastructure). Finally, filters allow us to be more conservative in what the API returns by default without a proliferation of parameters (as was seen with body, answers, and comments in the 1.x API family).

            #Safety

            Filters also carry a notion of safety, which is defined as follows. Any string returned as a result of an API call with a safe filter will be inline-able into HTML without script-injection concerns. That is to say, no additional sanitizing (encoding, HTML tag stripping, etc.) will be necessary on returned strings. Applications that wish to handle sanitizing themselves should create an unsafe filter. All filters are safe by default, under the assumption that double-encoding bugs are more desirable than script injections.

            Note that this does not mean that "safe" filter is mearly an "unsafe" one with all fields passed though UrlEncode(...). Many fields can and will contain HTML in all filter types (most notably, the *.body fields).

            When using unsafe filters, the API returns the highest fidelity data it can reasonably access for the given request. This means that in cases where the "safe" data is the only accessible data it will be returned even in "unsafe" filters. Notably the *.body fields are unchanged, as they are stored in that form. Fields that are unchanged between safe and unsafe filters are denoted in their types documentation.

            #Built In Filters

            The following filters are built in:

            default, each type documents which fields are returned under the default filter (for example, answers).
            withbody, which is default plus the *.body fields
            none, which is empty
            total, which includes just .total

            #Compatibility with V1.x

            For ease of transition from earlier API versions, the filters _b, _ba, _bc, _bca, _a, _ac, and _c are also built in. These are unsafe, and exclude a combination of question and answer body, comments, and answers so as to mimic the body, answers, and comments parameters that have been removed in V2.0. New applications should not use these filters.
          in: query
          name: filter
          schema:
            type: string
        - description: |
            All API responses are JSON, we do support JSONP with the callback query parameter.
          in: query
          name: callback
          schema:
            type: string
        - description: |
            Each of these methods operates on a single site at a time, identified by the site parameter. This parameter can be the full domain name (ie. "stackoverflow.com"), or a short form identified by api_site_parameter on the site object.
          in: query
          name: site
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/badges"
          description: OK
        "400":
          description: |
            bad_parameter Ã¢â‚¬â€œ 400 An invalid parameter was passed, this includes even "high level" parameters like key or site.
        "401":
          description: |
            access_token_required Ã¢â‚¬â€œ 401 A method that requires an access token (obtained via authentication) was called without one.
        "402":
          description: |
            invalid_access_token Ã¢â‚¬â€œ 402 An invalid access token was passed to a method.
        "403":
          description: |
            access_denied Ã¢â‚¬â€œ 403 A method which requires certain permissions was called with an access token that lacks those permissions.
        "404":
          description: |
            no_method Ã¢â‚¬â€œ 404 An attempt was made to call a method that does not exist. Note, calling methods that expect numeric ids (like /users/{ids}) with non-numeric ids can also result in this error.
        "405":
          description: |
            key_required Ã¢â‚¬â€œ 405 A method was called in a manner that requires an application key (generally, with an access token), but no key was passed.
        "406":
          description: |
            access_token_compromised Ã¢â‚¬â€œ 406 An access token is no longer believed to be secure, normally because it was used on a non-HTTPS call. The access token will be invalidated if this error is returned.
        "500":
          description: |
            internal_error Ã¢â‚¬â€œ 500 An unexpected error occurred in the API. It has been logged, and Stack Exchange developers have been notified. You should report these errors on Stack Apps if you want to be notified when they're fixed.
        "502":
          description: |
            throttle_violation Ã¢â‚¬â€œ 502 An application has violated part of the rate limiting contract, so the request was terminated.
        "503":
          description: |
            temporarily_unavailable Ã¢â‚¬â€œ 503 Some or all of the API is unavailable. Applications should backoff on requests to the method invoked.
  /badges/recipients:
    get:
      description: |
        Returns recently awarded badges in the system.
         
        As these badges have been awarded, they will have the badge.user property set.
         
        This method returns a list of badges.
      parameters:
        - description: Unix date.
          in: query
          name: fromdate
          schema:
            type: integer
        - description: Unix date.
          in: query
          name: todate
          schema:
            type: integer
        - in: query
          name: pagesize
          schema:
            type: integer
        - in: query
          name: page
          schema:
            type: integer
        - description: |
            #Discussion

            The Stack Exchange API allows applications to exclude almost every field returned. For example, if an application did not care about a user's badge counts it could exclude user.badge_counts whenever it calls a method that returns users.

            An application excludes fields by creating a filter (via /filter/create) and passing it to a method in the filter parameter.

            Filters are immutable and non-expiring. An application can safely "bake in" any filters that are created, it is not necessary (or advisable) to create filters at runtime.

            The motivation for filters are several fold. Filters allow applications to reduce API responses to just the fields they are concerned with, saving bandwidth. With the list of fields an application is actually concerned with, the API can avoid unneccessary queries thereby decreasing response time (and reducing load on our infrastructure). Finally, filters allow us to be more conservative in what the API returns by default without a proliferation of parameters (as was seen with body, answers, and comments in the 1.x API family).

            #Safety

            Filters also carry a notion of safety, which is defined as follows. Any string returned as a result of an API call with a safe filter will be inline-able into HTML without script-injection concerns. That is to say, no additional sanitizing (encoding, HTML tag stripping, etc.) will be necessary on returned strings. Applications that wish to handle sanitizing themselves should create an unsafe filter. All filters are safe by default, under the assumption that double-encoding bugs are more desirable than script injections.

            Note that this does not mean that "safe" filter is mearly an "unsafe" one with all fields passed though UrlEncode(...). Many fields can and will contain HTML in all filter types (most notably, the *.body fields).

            When using unsafe filters, the API returns the highest fidelity data it can reasonably access for the given request. This means that in cases where the "safe" data is the only accessible data it will be returned even in "unsafe" filters. Notably the *.body fields are unchanged, as they are stored in that form. Fields that are unchanged between safe and unsafe filters are denoted in their types documentation.

            #Built In Filters

            The following filters are built in:

            default, each type documents which fields are returned under the default filter (for example, answers).
            withbody, which is default plus the *.body fields
            none, which is empty
            total, which includes just .total

            #Compatibility with V1.x

            For ease of transition from earlier API versions, the filters _b, _ba, _bc, _bca, _a, _ac, and _c are also built in. These are unsafe, and exclude a combination of question and answer body, comments, and answers so as to mimic the body, answers, and comments parameters that have been removed in V2.0. New applications should not use these filters.
          in: query
          name: filter
          schema:
            type: string
        - description: |
            All API responses are JSON, we do support JSONP with the callback query parameter.
          in: query
          name: callback
          schema:
            type: string
        - description: |
            Each of these methods operates on a single site at a time, identified by the site parameter. This parameter can be the full domain name (ie. "stackoverflow.com"), or a short form identified by api_site_parameter on the site object.
          in: query
          name: site
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/badges"
          description: OK
        "400":
          description: |
            bad_parameter Ã¢â‚¬â€œ 400 An invalid parameter was passed, this includes even "high level" parameters like key or site.
        "401":
          description: |
            access_token_required Ã¢â‚¬â€œ 401 A method that requires an access token (obtained via authentication) was called without one.
        "402":
          description: |
            invalid_access_token Ã¢â‚¬â€œ 402 An invalid access token was passed to a method.
        "403":
          description: |
            access_denied Ã¢â‚¬â€œ 403 A method which requires certain permissions was called with an access token that lacks those permissions.
        "404":
          description: |
            no_method Ã¢â‚¬â€œ 404 An attempt was made to call a method that does not exist. Note, calling methods that expect numeric ids (like /users/{ids}) with non-numeric ids can also result in this error.
        "405":
          description: |
            key_required Ã¢â‚¬â€œ 405 A method was called in a manner that requires an application key (generally, with an access token), but no key was passed.
        "406":
          description: |
            access_token_compromised Ã¢â‚¬â€œ 406 An access token is no longer believed to be secure, normally because it was used on a non-HTTPS call. The access token will be invalidated if this error is returned.
        "500":
          description: |
            internal_error Ã¢â‚¬â€œ 500 An unexpected error occurred in the API. It has been logged, and Stack Exchange developers have been notified. You should report these errors on Stack Apps if you want to be notified when they're fixed.
        "502":
          description: |
            throttle_violation Ã¢â‚¬â€œ 502 An application has violated part of the rate limiting contract, so the request was terminated.
        "503":
          description: |
            temporarily_unavailable Ã¢â‚¬â€œ 503 Some or all of the API is unavailable. Applications should backoff on requests to the method invoked.
  /badges/tags:
    get:
      description: |
        Returns the badges that are awarded for participation in specific tags.
         
        For the rank sort, bronze is greater than silver which is greater than gold. Along with sort=rank, set max=gold for just gold badges, max=silver&min=silver for just silver, and min=bronze for just bronze.
         
        rank is the default sort.
         
        This method returns a list of badges.
      parameters:
        - in: query
          name: inname
          schema:
            type: string
        - in: query
          name: order
          schema:
            enum:
              - desc
              - asc
            type: string
        - description: |
            sort = rank => string
            sort = name => string
          in: query
          name: max
          schema:
            type: string
        - description: |
            sort = rank => string
            sort = name => string
          in: query
          name: min
          schema:
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - rank
              - name
            type: string
        - description: Unix date.
          in: query
          name: fromdate
          schema:
            type: integer
        - description: Unix date.
          in: query
          name: todate
          schema:
            type: integer
        - in: query
          name: pagesize
          schema:
            type: integer
        - in: query
          name: page
          schema:
            type: integer
        - description: |
            #Discussion

            The Stack Exchange API allows applications to exclude almost every field returned. For example, if an application did not care about a user's badge counts it could exclude user.badge_counts whenever it calls a method that returns users.

            An application excludes fields by creating a filter (via /filter/create) and passing it to a method in the filter parameter.

            Filters are immutable and non-expiring. An application can safely "bake in" any filters that are created, it is not necessary (or advisable) to create filters at runtime.

            The motivation for filters are several fold. Filters allow applications to reduce API responses to just the fields they are concerned with, saving bandwidth. With the list of fields an application is actually concerned with, the API can avoid unneccessary queries thereby decreasing response time (and reducing load on our infrastructure). Finally, filters allow us to be more conservative in what the API returns by default without a proliferation of parameters (as was seen with body, answers, and comments in the 1.x API family).

            #Safety

            Filters also carry a notion of safety, which is defined as follows. Any string returned as a result of an API call with a safe filter will be inline-able into HTML without script-injection concerns. That is to say, no additional sanitizing (encoding, HTML tag stripping, etc.) will be necessary on returned strings. Applications that wish to handle sanitizing themselves should create an unsafe filter. All filters are safe by default, under the assumption that double-encoding bugs are more desirable than script injections.

            Note that this does not mean that "safe" filter is mearly an "unsafe" one with all fields passed though UrlEncode(...). Many fields can and will contain HTML in all filter types (most notably, the *.body fields).

            When using unsafe filters, the API returns the highest fidelity data it can reasonably access for the given request. This means that in cases where the "safe" data is the only accessible data it will be returned even in "unsafe" filters. Notably the *.body fields are unchanged, as they are stored in that form. Fields that are unchanged between safe and unsafe filters are denoted in their types documentation.

            #Built In Filters

            The following filters are built in:

            default, each type documents which fields are returned under the default filter (for example, answers).
            withbody, which is default plus the *.body fields
            none, which is empty
            total, which includes just .total

            #Compatibility with V1.x

            For ease of transition from earlier API versions, the filters _b, _ba, _bc, _bca, _a, _ac, and _c are also built in. These are unsafe, and exclude a combination of question and answer body, comments, and answers so as to mimic the body, answers, and comments parameters that have been removed in V2.0. New applications should not use these filters.
          in: query
          name: filter
          schema:
            type: string
        - description: |
            All API responses are JSON, we do support JSONP with the callback query parameter.
          in: query
          name: callback
          schema:
            type: string
        - description: |
            Each of these methods operates on a single site at a time, identified by the site parameter. This parameter can be the full domain name (ie. "stackoverflow.com"), or a short form identified by api_site_parameter on the site object.
          in: query
          name: site
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/badges"
          description: OK
        "400":
          description: |
            bad_parameter Ã¢â‚¬â€œ 400 An invalid parameter was passed, this includes even "high level" parameters like key or site.
        "401":
          description: |
            access_token_required Ã¢â‚¬â€œ 401 A method that requires an access token (obtained via authentication) was called without one.
        "402":
          description: |
            invalid_access_token Ã¢â‚¬â€œ 402 An invalid access token was passed to a method.
        "403":
          description: |
            access_denied Ã¢â‚¬â€œ 403 A method which requires certain permissions was called with an access token that lacks those permissions.
        "404":
          description: |
            no_method Ã¢â‚¬â€œ 404 An attempt was made to call a method that does not exist. Note, calling methods that expect numeric ids (like /users/{ids}) with non-numeric ids can also result in this error.
        "405":
          description: |
            key_required Ã¢â‚¬â€œ 405 A method was called in a manner that requires an application key (generally, with an access token), but no key was passed.
        "406":
          description: |
            access_token_compromised Ã¢â‚¬â€œ 406 An access token is no longer believed to be secure, normally because it was used on a non-HTTPS call. The access token will be invalidated if this error is returned.
        "500":
          description: |
            internal_error Ã¢â‚¬â€œ 500 An unexpected error occurred in the API. It has been logged, and Stack Exchange developers have been notified. You should report these errors on Stack Apps if you want to be notified when they're fixed.
        "502":
          description: |
            throttle_violation Ã¢â‚¬â€œ 502 An application has violated part of the rate limiting contract, so the request was terminated.
        "503":
          description: |
            temporarily_unavailable Ã¢â‚¬â€œ 503 Some or all of the API is unavailable. Applications should backoff on requests to the method invoked.
  "/badges/{ids}":
    get:
      description: |
        Gets the badges identified in id.
         
        Note that badge ids are not constant across sites, and thus should be looked up via the /badges method. A badge id on a single site is, however, guaranteed to be stable.
         
        Badge sorts are a tad complicated. For the purposes of sorting (and min/max) tag_based is considered to be greater than named.
         
        This means that you can get a list of all tag based badges by passing min=tag_based, and conversely all the named badges by passing max=named, with sort=type.
         
        For ranks, bronze is greater than silver which is greater than gold. Along with sort=rank, set max=gold for just gold badges, max=silver&min=silver for just silver, and min=bronze for just bronze.
         
        rank is the default sort.
         
        {ids} can contain up to 100 semicolon delimited ids, to find ids programatically look for badge_id on badge objects.
         
        This method returns a list of badges.
      parameters:
        - description: Number list (semicolon delimited).
          in: path
          name: ids
          required: true
          schema:
            type: string
        - in: query
          name: order
          schema:
            enum:
              - desc
              - asc
            type: string
        - description: |
            sort = rank => string
            sort = name => string
            sort = type => string
          in: query
          name: max
          schema:
            type: string
        - description: |
            sort = rank => string
            sort = name => string
            sort = type => string
          in: query
          name: min
          schema:
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - rank
              - name
              - type
            type: string
        - description: Unix date.
          in: query
          name: fromdate
          schema:
            type: integer
        - description: Unix date.
          in: query
          name: todate
          schema:
            type: integer
        - in: query
          name: pagesize
          schema:
            type: integer
        - in: query
          name: page
          schema:
            type: integer
        - description: |
            #Discussion

            The Stack Exchange API allows applications to exclude almost every field returned. For example, if an application did not care about a user's badge counts it could exclude user.badge_counts whenever it calls a method that returns users.

            An application excludes fields by creating a filter (via /filter/create) and passing it to a method in the filter parameter.

            Filters are immutable and non-expiring. An application can safely "bake in" any filters that are created, it is not necessary (or advisable) to create filters at runtime.

            The motivation for filters are several fold. Filters allow applications to reduce API responses to just the fields they are concerned with, saving bandwidth. With the list of fields an application is actually concerned with, the API can avoid unneccessary queries thereby decreasing response time (and reducing load on our infrastructure). Finally, filters allow us to be more conservative in what the API returns by default without a proliferation of parameters (as was seen with body, answers, and comments in the 1.x API family).

            #Safety

            Filters also carry a notion of safety, which is defined as follows. Any string returned as a result of an API call with a safe filter will be inline-able into HTML without script-injection concerns. That is to say, no additional sanitizing (encoding, HTML tag stripping, etc.) will be necessary on returned strings. Applications that wish to handle sanitizing themselves should create an unsafe filter. All filters are safe by default, under the assumption that double-encoding bugs are more desirable than script injections.

            Note that this does not mean that "safe" filter is mearly an "unsafe" one with all fields passed though UrlEncode(...). Many fields can and will contain HTML in all filter types (most notably, the *.body fields).

            When using unsafe filters, the API returns the highest fidelity data it can reasonably access for the given request. This means that in cases where the "safe" data is the only accessible data it will be returned even in "unsafe" filters. Notably the *.body fields are unchanged, as they are stored in that form. Fields that are unchanged between safe and unsafe filters are denoted in their types documentation.

            #Built In Filters

            The following filters are built in:

            default, each type documents which fields are returned under the default filter (for example, answers).
            withbody, which is default plus the *.body fields
            none, which is empty
            total, which includes just .total

            #Compatibility with V1.x

            For ease of transition from earlier API versions, the filters _b, _ba, _bc, _bca, _a, _ac, and _c are also built in. These are unsafe, and exclude a combination of question and answer body, comments, and answers so as to mimic the body, answers, and comments parameters that have been removed in V2.0. New applications should not use these filters.
          in: query
          name: filter
          schema:
            type: string
        - description: |
            All API responses are JSON, we do support JSONP with the callback query parameter.
          in: query
          name: callback
          schema:
            type: string
        - description: |
            Each of these methods operates on a single site at a time, identified by the site parameter. This parameter can be the full domain name (ie. "stackoverflow.com"), or a short form identified by api_site_parameter on the site object.
          in: query
          name: site
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/badges"
          description: OK
        "400":
          description: |
            bad_parameter Ã¢â‚¬â€œ 400 An invalid parameter was passed, this includes even "high level" parameters like key or site.
        "401":
          description: |
            access_token_required Ã¢â‚¬â€œ 401 A method that requires an access token (obtained via authentication) was called without one.
        "402":
          description: |
            invalid_access_token Ã¢â‚¬â€œ 402 An invalid access token was passed to a method.
        "403":
          description: |
            access_denied Ã¢â‚¬â€œ 403 A method which requires certain permissions was called with an access token that lacks those permissions.
        "404":
          description: |
            no_method Ã¢â‚¬â€œ 404 An attempt was made to call a method that does not exist. Note, calling methods that expect numeric ids (like /users/{ids}) with non-numeric ids can also result in this error.
        "405":
          description: |
            key_required Ã¢â‚¬â€œ 405 A method was called in a manner that requires an application key (generally, with an access token), but no key was passed.
        "406":
          description: |
            access_token_compromised Ã¢â‚¬â€œ 406 An access token is no longer believed to be secure, normally because it was used on a non-HTTPS call. The access token will be invalidated if this error is returned.
        "500":
          description: |
            internal_error Ã¢â‚¬â€œ 500 An unexpected error occurred in the API. It has been logged, and Stack Exchange developers have been notified. You should report these errors on Stack Apps if you want to be notified when they're fixed.
        "502":
          description: |
            throttle_violation Ã¢â‚¬â€œ 502 An application has violated part of the rate limiting contract, so the request was terminated.
        "503":
          description: |
            temporarily_unavailable Ã¢â‚¬â€œ 503 Some or all of the API is unavailable. Applications should backoff on requests to the method invoked.
  "/badges/{ids}/recipients":
    get:
      description: |
        Returns recently awarded badges in the system, constrained to a certain set of badges.
         
        As these badges have been awarded, they will have the badge.user property set.
         
        {ids} can contain up to 100 semicolon delimited ids, to find ids programatically look for badge_id on badge objects.
         
        This method returns a list of badges.
      parameters:
        - description: Number list (semicolon delimited).
          in: path
          name: ids
          required: true
          schema:
            type: string
        - description: Unix date.
          in: query
          name: fromdate
          schema:
            type: integer
        - description: Unix date.
          in: query
          name: todate
          schema:
            type: integer
        - in: query
          name: pagesize
          schema:
            type: integer
        - in: query
          name: page
          schema:
            type: integer
        - description: |
            #Discussion

            The Stack Exchange API allows applications to exclude almost every field returned. For example, if an application did not care about a user's badge counts it could exclude user.badge_counts whenever it calls a method that returns users.

            An application excludes fields by creating a filter (via /filter/create) and passing it to a method in the filter parameter.

            Filters are immutable and non-expiring. An application can safely "bake in" any filters that are created, it is not necessary (or advisable) to create filters at runtime.

            The motivation for filters are several fold. Filters allow applications to reduce API responses to just the fields they are concerned with, saving bandwidth. With the list of fields an application is actually concerned with, the API can avoid unneccessary queries thereby decreasing response time (and reducing load on our infrastructure). Finally, filters allow us to be more conservative in what the API returns by default without a proliferation of parameters (as was seen with body, answers, and comments in the 1.x API family).

            #Safety

            Filters also carry a notion of safety, which is defined as follows. Any string returned as a result of an API call with a safe filter will be inline-able into HTML without script-injection concerns. That is to say, no additional sanitizing (encoding, HTML tag stripping, etc.) will be necessary on returned strings. Applications that wish to handle sanitizing themselves should create an unsafe filter. All filters are safe by default, under the assumption that double-encoding bugs are more desirable than script injections.

            Note that this does not mean that "safe" filter is mearly an "unsafe" one with all fields passed though UrlEncode(...). Many fields can and will contain HTML in all filter types (most notably, the *.body fields).

            When using unsafe filters, the API returns the highest fidelity data it can reasonably access for the given request. This means that in cases where the "safe" data is the only accessible data it will be returned even in "unsafe" filters. Notably the *.body fields are unchanged, as they are stored in that form. Fields that are unchanged between safe and unsafe filters are denoted in their types documentation.

            #Built In Filters

            The following filters are built in:

            default, each type documents which fields are returned under the default filter (for example, answers).
            withbody, which is default plus the *.body fields
            none, which is empty
            total, which includes just .total

            #Compatibility with V1.x

            For ease of transition from earlier API versions, the filters _b, _ba, _bc, _bca, _a, _ac, and _c are also built in. These are unsafe, and exclude a combination of question and answer body, comments, and answers so as to mimic the body, answers, and comments parameters that have been removed in V2.0. New applications should not use these filters.
          in: query
          name: filter
          schema:
            type: string
        - description: |
            All API responses are JSON, we do support JSONP with the callback query parameter.
          in: query
          name: callback
          schema:
            type: string
        - description: |
            Each of these methods operates on a single site at a time, identified by the site parameter. This parameter can be the full domain name (ie. "stackoverflow.com"), or a short form identified by api_site_parameter on the site object.
          in: query
          name: site
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/badges"
          description: OK
        "400":
          description: |
            bad_parameter Ã¢â‚¬â€œ 400 An invalid parameter was passed, this includes even "high level" parameters like key or site.
        "401":
          description: |
            access_token_required Ã¢â‚¬â€œ 401 A method that requires an access token (obtained via authentication) was called without one.
        "402":
          description: |
            invalid_access_token Ã¢â‚¬â€œ 402 An invalid access token was passed to a method.
        "403":
          description: |
            access_denied Ã¢â‚¬â€œ 403 A method which requires certain permissions was called with an access token that lacks those permissions.
        "404":
          description: |
            no_method Ã¢â‚¬â€œ 404 An attempt was made to call a method that does not exist. Note, calling methods that expect numeric ids (like /users/{ids}) with non-numeric ids can also result in this error.
        "405":
          description: |
            key_required Ã¢â‚¬â€œ 405 A method was called in a manner that requires an application key (generally, with an access token), but no key was passed.
        "406":
          description: |
            access_token_compromised Ã¢â‚¬â€œ 406 An access token is no longer believed to be secure, normally because it was used on a non-HTTPS call. The access token will be invalidated if this error is returned.
        "500":
          description: |
            internal_error Ã¢â‚¬â€œ 500 An unexpected error occurred in the API. It has been logged, and Stack Exchange developers have been notified. You should report these errors on Stack Apps if you want to be notified when they're fixed.
        "502":
          description: |
            throttle_violation Ã¢â‚¬â€œ 502 An application has violated part of the rate limiting contract, so the request was terminated.
        "503":
          description: |
            temporarily_unavailable Ã¢â‚¬â€œ 503 Some or all of the API is unavailable. Applications should backoff on requests to the method invoked.
  /comments:
    get:
      description: |
        Gets all the comments on the site.
         
        If you're filtering for interesting comments (by score, creation date, etc.) make use of the sort paramter with appropriate min and max values.
         
        If you're looking to query conversations between users, instead use the /users/{ids}/mentioned and /users/{ids}/comments/{toid} methods.
         
        The sorts accepted by this method operate on the follow fields of the comment object:
         - creation - creation_date
         - votes - score
          creation is the default sort.
         
         It is possible to create moderately complex queries using sort, min, max, fromdate, and todate.

         
        This method returns a list of comments.
      parameters:
        - in: query
          name: order
          schema:
            enum:
              - desc
              - asc
            type: string
        - description: |
            sort = creation => date
            sort = votes => number
          in: query
          name: max
          schema:
            type: string
        - description: |
            sort = creation => date
            sort = votes => number
          in: query
          name: min
          schema:
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - creation
              - votes
            type: string
        - description: Unix date.
          in: query
          name: fromdate
          schema:
            type: integer
        - description: Unix date.
          in: query
          name: todate
          schema:
            type: integer
        - in: query
          name: pagesize
          schema:
            type: integer
        - in: query
          name: page
          schema:
            type: integer
        - description: |
            #Discussion

            The Stack Exchange API allows applications to exclude almost every field returned. For example, if an application did not care about a user's badge counts it could exclude user.badge_counts whenever it calls a method that returns users.

            An application excludes fields by creating a filter (via /filter/create) and passing it to a method in the filter parameter.

            Filters are immutable and non-expiring. An application can safely "bake in" any filters that are created, it is not necessary (or advisable) to create filters at runtime.

            The motivation for filters are several fold. Filters allow applications to reduce API responses to just the fields they are concerned with, saving bandwidth. With the list of fields an application is actually concerned with, the API can avoid unneccessary queries thereby decreasing response time (and reducing load on our infrastructure). Finally, filters allow us to be more conservative in what the API returns by default without a proliferation of parameters (as was seen with body, answers, and comments in the 1.x API family).

            #Safety

            Filters also carry a notion of safety, which is defined as follows. Any string returned as a result of an API call with a safe filter will be inline-able into HTML without script-injection concerns. That is to say, no additional sanitizing (encoding, HTML tag stripping, etc.) will be necessary on returned strings. Applications that wish to handle sanitizing themselves should create an unsafe filter. All filters are safe by default, under the assumption that double-encoding bugs are more desirable than script injections.

            Note that this does not mean that "safe" filter is mearly an "unsafe" one with all fields passed though UrlEncode(...). Many fields can and will contain HTML in all filter types (most notably, the *.body fields).

            When using unsafe filters, the API returns the highest fidelity data it can reasonably access for the given request. This means that in cases where the "safe" data is the only accessible data it will be returned even in "unsafe" filters. Notably the *.body fields are unchanged, as they are stored in that form. Fields that are unchanged between safe and unsafe filters are denoted in their types documentation.

            #Built In Filters

            The following filters are built in:

            default, each type documents which fields are returned under the default filter (for example, answers).
            withbody, which is default plus the *.body fields
            none, which is empty
            total, which includes just .total

            #Compatibility with V1.x

            For ease of transition from earlier API versions, the filters _b, _ba, _bc, _bca, _a, _ac, and _c are also built in. These are unsafe, and exclude a combination of question and answer body, comments, and answers so as to mimic the body, answers, and comments parameters that have been removed in V2.0. New applications should not use these filters.
          in: query
          name: filter
          schema:
            type: string
        - description: |
            All API responses are JSON, we do support JSONP with the callback query parameter.
          in: query
          name: callback
          schema:
            type: string
        - description: |
            Each of these methods operates on a single site at a time, identified by the site parameter. This parameter can be the full domain name (ie. "stackoverflow.com"), or a short form identified by api_site_parameter on the site object.
          in: query
          name: site
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/comments"
          description: OK
        "400":
          description: |
            bad_parameter Ã¢â‚¬â€œ 400 An invalid parameter was passed, this includes even "high level" parameters like key or site.
        "401":
          description: |
            access_token_required Ã¢â‚¬â€œ 401 A method that requires an access token (obtained via authentication) was called without one.
        "402":
          description: |
            invalid_access_token Ã¢â‚¬â€œ 402 An invalid access token was passed to a method.
        "403":
          description: |
            access_denied Ã¢â‚¬â€œ 403 A method which requires certain permissions was called with an access token that lacks those permissions.
        "404":
          description: |
            no_method Ã¢â‚¬â€œ 404 An attempt was made to call a method that does not exist. Note, calling methods that expect numeric ids (like /users/{ids}) with non-numeric ids can also result in this error.
        "405":
          description: |
            key_required Ã¢â‚¬â€œ 405 A method was called in a manner that requires an application key (generally, with an access token), but no key was passed.
        "406":
          description: |
            access_token_compromised Ã¢â‚¬â€œ 406 An access token is no longer believed to be secure, normally because it was used on a non-HTTPS call. The access token will be invalidated if this error is returned.
        "500":
          description: |
            internal_error Ã¢â‚¬â€œ 500 An unexpected error occurred in the API. It has been logged, and Stack Exchange developers have been notified. You should report these errors on Stack Apps if you want to be notified when they're fixed.
        "502":
          description: |
            throttle_violation Ã¢â‚¬â€œ 502 An application has violated part of the rate limiting contract, so the request was terminated.
        "503":
          description: |
            temporarily_unavailable Ã¢â‚¬â€œ 503 Some or all of the API is unavailable. Applications should backoff on requests to the method invoked.
  "/comments/{ids}":
    get:
      description: |
        Gets the comments identified in id.
         
        This method is most useful if you have a cache of comment ids obtained through other means (such as /questions/{id}/comments) but suspect the data may be stale.
         
        {ids} can contain up to 100 semicolon delimited ids, to find ids programatically look for comment_id on comment objects.
         
        The sorts accepted by this method operate on the follow fields of the comment object:
         - creation - creation_date
         - votes - score
          creation is the default sort.
         
         It is possible to create moderately complex queries using sort, min, max, fromdate, and todate.

         
        This method returns a list of comments.
      parameters:
        - description: Number list (semicolon delimited).
          in: path
          name: ids
          required: true
          schema:
            type: string
        - in: query
          name: order
          schema:
            enum:
              - desc
              - asc
            type: string
        - description: |
            sort = creation => date
            sort = votes => number
          in: query
          name: max
          schema:
            type: string
        - description: |
            sort = creation => date
            sort = votes => number
          in: query
          name: min
          schema:
            type: string
        - in: query
          name: sort
          schema:
            enum:
              - creation
              - votes
            type: string
        - description: Unix date.
          in: query
          name: fromdate
          schema:
            type: integer
        - description: Unix date.
          in: query
          name: todate
          schema:
            type: integer
        - in: query
          name: pagesize
          schema:
            type: integer
        - in: query
          name: page
          schema:
            type: integer
        - description: |
            #Discussion

            The Stack Exchange API allows applications to exclude almost every field returned. For example, if an application did not care about a user's badge counts it could exclude user.badge_counts whenever it calls a method that returns users.

[...]
