{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules, VNET rules, security alert policies, log files and configurations with new business model.",
    "title": "MySQLManagementClient",
    "version": "2018-06-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mysql/resource-manager/Microsoft.DBforMySQL/stable/2018-06-01/PrivateLinkResources.json",
        "version": "2.0"
      }
    ],
    "x-preferred": false,
    "x-providerName": "azure.com",
    "x-serviceName": "mysql-PrivateLinkResources",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "ServerNameParameter": {
      "description": "The name of the server.",
      "in": "path",
      "name": "serverName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/privateLinkResources": {
      "get": {
        "description": "Gets the private link resources for MySQL server.",
        "operationId": "PrivateLinkResources_ListByServer",
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "maxLength": 90,
            "minLength": 1,
            "name": "resourceGroupName",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "description": "The ID of the target subscription.",
            "in": "path",
            "minLength": 1,
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The API version to use for this operation.",
            "in": "query",
            "minLength": 1,
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved private link resources.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "tags": [
          "PrivateLinkResources"
        ],
        "x-ms-examples": {
          "Gets private link resources for MySQL.": {
            "parameters": {
              "api-version": "2018-06-01",
              "resourceGroupName": "Default",
              "serverName": "test-svr",
              "subscriptionId": "00000000-1111-2222-3333-444444444444"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default/providers/Microsoft.DBforMySQL/servers/test-svr/privateLinkResources/plr",
                      "name": "plr",
                      "properties": {
                        "groupId": "mysqlServer",
                        "requiredMembers": [
                          "mysqlServer"
                        ]
                      },
                      "type": "Microsoft.DBforMySQL/servers/privateLinkResources"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/privateLinkResources/{groupName}": {
      "get": {
        "description": "Gets a private link resource for MySQL server.",
        "operationId": "PrivateLinkResources_Get",
        "parameters": [
          {
            "description": "The name of the resource group. The name is case insensitive.",
            "in": "path",
            "maxLength": 90,
            "minLength": 1,
            "name": "resourceGroupName",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "description": "The name of the private link resource.",
            "in": "path",
            "name": "groupName",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the target subscription.",
            "in": "path",
            "minLength": 1,
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The API version to use for this operation.",
            "in": "query",
            "minLength": 1,
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved private link resources.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "tags": [
          "PrivateLinkResources"
        ],
        "x-ms-examples": {
          "Gets a private link resource for MySQL.": {
            "parameters": {
              "api-version": "2018-06-01",
              "groupName": "plr",
              "resourceGroupName": "Default",
              "serverName": "test-svr",
              "subscriptionId": "00000000-1111-2222-3333-444444444444"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default/providers/Microsoft.DBforMySQL/servers/test-svr/privateLinkResources/plr",
                  "name": "plr",
                  "properties": {
                    "groupId": "mysqlServer",
                    "requiredMembers": [
                      "mysqlServer"
                    ]
                  },
                  "type": "Microsoft.DBforMySQL/servers/privateLinkResources"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CloudError": {
      "description": "An error response from the Batch service.",
      "properties": {
        "error": {
          "description": "The resource management error response.",
          "properties": {
            "additionalInfo": {
              "description": "The error additional info.",
              "items": {
                "description": "The resource management error additional info.",
                "properties": {
                  "info": {
                    "description": "The additional info.",
                    "readOnly": true,
                    "type": "object"
                  },
                  "type": {
                    "description": "The additional info type.",
                    "readOnly": true,
                    "type": "string"
                  }
                }
              },
              "readOnly": true,
              "type": "array"
            },
            "code": {
              "description": "The error code.",
              "readOnly": true,
              "type": "string"
            },
            "details": {
              "description": "The error details.",
              "items": {
                "$ref": "#/definitions/ErrorResponse"
              },
              "readOnly": true,
              "type": "array"
            },
            "message": {
              "description": "The error message.",
              "readOnly": true,
              "type": "string"
            },
            "target": {
              "description": "The error target.",
              "readOnly": true,
              "type": "string"
            }
          }
        }
      },
      "x-ms-external": true
    },
    "ErrorResponse": {},
    "PrivateLinkResource": {
      "allOf": [
        {
          "allOf": [
            {
              "properties": {
                "id": {
                  "description": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
                  "readOnly": true,
                  "type": "string"
                },
                "name": {
                  "description": "The name of the resource",
                  "readOnly": true,
                  "type": "string"
                },
                "type": {
                  "description": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.",
                  "readOnly": true,
                  "type": "string"
                }
              },
              "x-ms-azure-resource": true
            }
          ],
          "description": "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags"
        }
      ],
      "description": "A private link resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateLinkResourceProperties",
          "description": "The private link resource group id.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "PrivateLinkResourceListResult": {
      "description": "A list of private link resources",
      "properties": {
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "Array of results.",
          "items": {
            "$ref": "#/definitions/PrivateLinkResource"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "PrivateLinkResourceProperties": {
      "description": "Properties of a private link resource.",
      "properties": {
        "groupId": {
          "description": "The private link resource group id.",
          "readOnly": true,
          "type": "string"
        },
        "requiredMembers": {
          "description": "The private link resource required member names.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    }
  }
}