swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2018-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-04-01/serviceCommunity.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-serviceCommunity
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/bgpServiceCommunities":
    get:
      description: Gets all the available bgp service communities.
      operationId: BgpServiceCommunities_List
      parameters:
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of BgpServiceCommunity resources.
          schema:
            $ref: "#/definitions/BgpServiceCommunityListResult"
      tags:
        - BgpServiceCommunities
      x-ms-examples:
        ServiceCommunityList:
          parameters:
            api-version: 2018-04-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Network/bgpServiceCommunities/skype
                    name: skype
                    properties:
                      bgpCommunities:
                        - communityName: Skype For Business Online
                          communityPrefixes:
                            - 13.67.56.225/32
                            - 13.67.186.105/32
                          communityValue: 12076:5030
                          isAuthorizedToUse: true
                          serviceGroup: O365
                          serviceSupportedRegion: Global
                      serviceName: skype
                    type: Microsoft.Network/bgpServiceCommunities
                  - id: /subscriptions/subid/providers/Microsoft.Network/bgpServiceCommunities/exchange
                    name: exchange
                    properties:
                      bgpCommunities:
                        - communityName: Exchange Online
                          communityPrefixes:
                            - 13.67.56.225/32
                            - 13.67.186.105/32
                          communityValue: 12076:5040
                          isAuthorizedToUse: true
                          serviceGroup: O365
                          serviceSupportedRegion: Global
                      serviceName: exchange
                    type: Microsoft.Network/bgpServiceCommunities
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  BGPCommunity:
    description: Contains bgp community information offered in Service Community resources.
    properties:
      communityName:
        description: The name of the bgp community. e.g. Skype.
        type: string
      communityPrefixes:
        description: The prefixes that the bgp community contains.
        items:
          type: string
        type: array
      communityValue:
        description: "The value of the bgp community. For more information: https://docs.microsoft.com/en-us/azure/expressroute/expressroute-routing."
        type: string
      isAuthorizedToUse:
        description: Customer is authorized to use bgp community or not.
        type: boolean
      serviceGroup:
        description: The service group of the bgp community contains.
        type: string
      serviceSupportedRegion:
        description: The region which the service support. e.g. For O365, region is Global.
        type: string
  BgpServiceCommunity:
    allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Service Community Properties.
    properties:
      properties:
        $ref: "#/definitions/BgpServiceCommunityPropertiesFormat"
        x-ms-client-flatten: true
  BgpServiceCommunityListResult:
    description: Response for the ListServiceCommunity API service call.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: A list of service community resources.
        items:
          $ref: "#/definitions/BgpServiceCommunity"
        type: array
  BgpServiceCommunityPropertiesFormat:
    description: Properties of Service Community.
    properties:
      bgpCommunities:
        description: Get a list of bgp communities.
        items:
          $ref: "#/definitions/BGPCommunity"
        type: array
      serviceName:
        description: The name of the bgp community. e.g. Skype.
        type: string
