swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2015-06-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2015-06-01-preview/discoveredSecuritySolutions.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: security-discoveredSecuritySolutions
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  DiscoveredSecuritySolutionName:
    description: Name of a discovered security solution.
    in: path
    name: discoveredSecuritySolutionName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/discoveredSecuritySolutions":
    get:
      description: Gets a list of discovered Security Solutions for the subscription.
      operationId: DiscoveredSecuritySolutions_List
      parameters:
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
          required: true
          type: string
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiscoveredSecuritySolutionList"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response structure.
            properties:
              error:
                description: Error details.
                properties:
                  code:
                    description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
                    readOnly: true
                    type: string
                  message:
                    description: A message describing the error, intended to be suitable for display in a user interface.
                    readOnly: true
                    type: string
                type: object
                x-ms-external: true
            type: object
            x-ms-external: true
      tags:
        - DiscoveredSecuritySolutions
      x-ms-examples:
        Get discovered security solutions:
          parameters:
            api-version: 2015-06-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Security/locations/centralus/discoveredSecuritySolutions/CP
                    location: eastus
                    name: CP
                    properties:
                      offer: cisco-asav
                      publisher: cisco
                      securityFamily: Ngfw
                      sku: asav-azure-byol
                    type: Microsoft.Security/locations/discoveredSecuritySolutions
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg2/providers/Microsoft.Security/locations/centralus/discoveredSecuritySolutions/paloalto7
                    location: eastus2
                    name: paloalto7
                    properties:
                      offer: vmseries1
                      publisher: paloaltonetworks
                      securityFamily: Ngfw
                      sku: byol
                    type: Microsoft.Security/locations/discoveredSecuritySolutions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/locations/{ascLocation}/discoveredSecuritySolutions":
    get:
      description: Gets a list of discovered Security Solutions for the subscription and location.
      operationId: DiscoveredSecuritySolutions_ListByHomeRegion
      parameters:
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
          required: true
          type: string
        - description: The location where ASC stores the data of the subscription. can be retrieved from Get locations
          in: path
          name: ascLocation
          required: true
          type: string
          x-ms-parameter-location: client
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiscoveredSecuritySolutionList"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response structure.
            properties:
              error:
                description: Error details.
                properties:
                  code:
                    description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
                    readOnly: true
                    type: string
                  message:
                    description: A message describing the error, intended to be suitable for display in a user interface.
                    readOnly: true
                    type: string
                type: object
                x-ms-external: true
            type: object
            x-ms-external: true
      tags:
        - DiscoveredSecuritySolutions
      x-ms-examples:
        Get discovered security solutions from a security data location:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: centralus
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg1/providers/Microsoft.Security/locations/centralus/discoveredSecuritySolutions/CP
                    location: eastus
                    name: CP
                    properties:
                      offer: cisco-asav
                      publisher: cisco
                      securityFamily: Ngfw
                      sku: asav-azure-byol
                    type: Microsoft.Security/locations/discoveredSecuritySolutions
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg2/providers/Microsoft.Security/locations/centralus/discoveredSecuritySolutions/paloalto7
                    location: eastus2
                    name: paloalto7
                    properties:
                      offer: vmseries1
                      publisher: paloaltonetworks
                      securityFamily: Ngfw
                      sku: byol
                    type: Microsoft.Security/locations/discoveredSecuritySolutions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/locations/{ascLocation}/discoveredSecuritySolutions/{discoveredSecuritySolutionName}":
    get:
      description: Gets a specific discovered Security Solution.
      operationId: DiscoveredSecuritySolutions_Get
      parameters:
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
          required: true
          type: string
        - description: The name of the resource group within the user's subscription. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The location where ASC stores the data of the subscription. can be retrieved from Get locations
          in: path
          name: ascLocation
          required: true
          type: string
          x-ms-parameter-location: client
        - $ref: "#/parameters/DiscoveredSecuritySolutionName"
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiscoveredSecuritySolution"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response structure.
            properties:
              error:
                description: Error details.
                properties:
                  code:
                    description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
                    readOnly: true
                    type: string
                  message:
                    description: A message describing the error, intended to be suitable for display in a user interface.
                    readOnly: true
                    type: string
                type: object
                x-ms-external: true
            type: object
            x-ms-external: true
      tags:
        - DiscoveredSecuritySolutions
      x-ms-examples:
        Get discovered security solution from a security data location:
          parameters:
            api-version: 2015-06-01-preview
            ascLocation: centralus
            discoveredSecuritySolutionName: paloalto7
            resourceGroupName: myRg2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/myRg2/providers/Microsoft.Security/locations/centralus/discoveredSecuritySolutions/paloalto7
                location: eastus2
                name: paloalto7
                properties:
                  offer: vmseries1
                  publisher: paloaltonetworks
                  securityFamily: Ngfw
                  sku: byol
                type: Microsoft.Security/locations/discoveredSecuritySolutions
definitions:
  DiscoveredSecuritySolution:
    allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
      - description: Describes an Azure resource with location
        properties:
          location:
            description: Location where the resource is stored
            readOnly: true
            type: string
        type: object
    properties:
      properties:
        $ref: "#/definitions/DiscoveredSecuritySolutionProperties"
        x-ms-client-flatten: true
    required:
      - properties
    type: object
  DiscoveredSecuritySolutionList:
    properties:
      nextLink:
        description: The URI to fetch the next page.
        readOnly: true
        type: string
      value:
        items:
          $ref: "#/definitions/DiscoveredSecuritySolution"
        type: array
    type: object
  DiscoveredSecuritySolutionProperties:
    properties:
      offer:
        description: The security solutions' image offer
        type: string
      publisher:
        description: The security solutions' image publisher
        type: string
      securityFamily:
        description: The security family of the discovered solution
        enum:
          - Waf
          - Ngfw
          - SaasWaf
          - Va
        type: string
        x-ms-enum:
          modelAsString: true
          name: securityFamily
          values:
            - value: Waf
            - value: Ngfw
            - value: SaasWaf
            - value: Va
      sku:
        description: The security solutions' image sku
        type: string
    required:
      - securityFamily
      - offer
      - publisher
      - sku
    type: object
