swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: The Admin Commerce Management Client.
  title: CommerceManagementClient
  version: 2015-06-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/commerce/Microsoft.Commerce.Admin/preview/2015-06-01-preview/Commerce.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Commerce
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  AggregationGranularityParameter:
    description: The aggregation granularity.
    in: query
    name: aggregationGranularity
    required: false
    type: string
    x-ms-parameter-location: method
  ApiVersionParameter:
    default: 2015-06-01-preview
    description: Client API Version.
    in: query
    name: api-version
    required: true
    type: string
  ContinuationTokenParameter:
    description: The continuation token.
    in: query
    name: continuationToken
    required: false
    type: string
    x-ms-parameter-location: method
  ReportedEndTimeParameter:
    description: The reported end time (exclusive).
    format: date-time
    in: query
    name: reportedEndTime
    required: true
    type: string
    x-ms-parameter-location: method
  ReportedStartTimeParameter:
    description: The reported start time (inclusive).
    format: date-time
    in: query
    name: reportedStartTime
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
  TenantSubscriptionIdParameter:
    description: The tenant subscription identifier.
    in: query
    name: subscriberId
    required: false
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.Commerce.Admin/operations:
    get:
      description: Returns the list of supported REST operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationList"
      tags:
        - Commerce
      x-ms-examples:
        Returns the list of supported REST operations.:
          parameters:
            api-version: 2015-06-01-preview
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Updates the encryption used to protect data in storage using the updated encryption configuration.
                      operation: Update Encryption
                      provider: Microsoft Commerce Service
                      resource: UpdateEncryption
                    name: Microsoft.Commerce.Admin/updateEncryption/action
                  - display:
                      description: Lists the supported operations.
                      operation: List Operations
                      provider: Microsoft Commerce Service
                      resource: Operation
                    name: Microsoft.Commerce.Admin/operations/read
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Commerce.Admin/subscriberUsageAggregates":
    get:
      description: Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from users.
      operationId: SubscriberUsageAggregates_List
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ReportedStartTimeParameter"
        - $ref: "#/parameters/ReportedEndTimeParameter"
        - $ref: "#/parameters/AggregationGranularityParameter"
        - $ref: "#/parameters/TenantSubscriptionIdParameter"
        - $ref: "#/parameters/ContinuationTokenParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/UsageAggregatePage"
      tags:
        - Commerce
      x-ms-examples:
        "Gets a collection of SubscriberUsageAggregates, which are UsageAggregates from users.":
          parameters:
            aggregationGranularity: ""
            api-version: 2015-06-01-preview
            continuationToken: ""
            location: local
            reportedEndTime: 2017-08-02T00:00:00.00Z
            reportedStartTime: 2017-08-01T00:00:00.00Z
            subscriberId: ""
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value: []
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Commerce.Admin/updateEncryption":
    post:
      description: Update the encryption.
      operationId: UpdateEncryption
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
      tags:
        - Commerce
      x-ms-examples:
        Update the encryption.:
          parameters:
            api-version: 2015-06-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
definitions:
  Display:
    description: Contains the localized display information for this particular operation / action.
    properties:
      description:
        description: The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views.
        type: string
      operation:
        description: The localized, friendly name for the operation. Use the name as it will be displayed to the user.
        type: string
      provider:
        description: The localized, friendly version of the resource provider name. The provider name is expected to include the name of the publisher or company responsible. The provider name format should use title case and begin with "Microsoft" for first-party services. For example, the provider name may be"Microsoft Monitoring Insights" or "Microsoft Compute".
        type: string
      resource:
        description: The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider.
        type: string
  Operation:
    description: Describes the supported REST operation.
    properties:
      display:
        $ref: "#/definitions/Display"
        description: Contains the localized display information for this particular operation or action.
      name:
        description: The name of the operation performed on the object. The name should match the action name that appears in RBAC or the event service.
        type: string
  OperationList:
    description: List of Operations
    properties:
      nextLink:
        description: URI to the next page of operations.
        type: string
      value:
        description: Array of operations
        items:
          $ref: "#/definitions/Operation"
        type: array
  Resource:
    description: Base Resource Object
    properties:
      id:
        description: URI of the resource.
        readOnly: true
        type: string
      location:
        description: Location where resource is location.
        readOnly: true
        type: string
      name:
        description: Name of the resource.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: List of key-value pairs.
        readOnly: true
        type: object
      type:
        description: Type of resource.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  UsageAggregate:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Aggregate usage values for resource.
    properties:
      properties:
        $ref: "#/definitions/UsageAggregateModel"
        description: Properties for aggregate usage.
        x-ms-client-flatten: true
    type: object
  UsageAggregateModel:
    description: Properties for aggregate usage.
    properties:
      instanceData:
        description: Key-value pairs of instance details represented as a string.
        type: string
      meterId:
        description: Unique ID for the resource that was consumed, for example, the Resource ID.
        type: string
      quantity:
        description: The amount of the resource consumption that occurred in this time frame.
        type: string
      subscriptionId:
        description: Subscription ID of tenant using plan.
        type: string
      usageEndTime:
        description: UTC end time for the usage category to which this usage aggregate belongs.
        format: date-time
        type: string
      usageStartTime:
        description: UTC start time for the usage category to which this usage aggregate belongs.
        format: date-time
        type: string
    type: object
  UsageAggregatePage:
    description: Pageable list of usage aggregates
    properties:
      nextLink:
        description: URI to the next page.
        type: string
      value:
        description: List of usage aggregates.
        items:
          $ref: "#/definitions/UsageAggregate"
        type: array
