swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: REST APIs for Azure Alerts Management Service.
  title: Azure Alerts Management Service Resource Provider
  version: 2018-11-02-privatepreview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/alertsmanagement/resource-manager/Microsoft.AlertsManagement/preview/2018-11-02-privatepreview/AlertsManagement.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: alertsmanagement-AlertsManagement
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  alertId:
    description: Unique ID of an alert object.
    in: path
    name: alertId
    required: true
    type: string
    x-ms-parameter-location: method
  alertState:
    description: filter by state
    enum:
      - New
      - Acknowledged
      - Closed
    in: query
    name: alertState
    required: false
    type: string
    x-ms-enum:
      modelAsString: true
      name: AlertState
    x-ms-parameter-location: method
  alertsSortBy:
    description: sort the query results by input field, default value is 'lastModifiedDateTime'.
    enum:
      - name
      - severity
      - alertState
      - monitorCondition
      - targetResource
      - targetResourceName
      - targetResourceGroup
      - targetResourceType
      - startDateTime
      - lastModifiedDateTime
    in: query
    name: sortBy
    required: false
    type: string
    x-ms-enum:
      modelAsString: true
      name: AlertsSortByFields
    x-ms-parameter-location: method
  api-version:
    description: client API version
    enum:
      - 2018-11-02-privatepreview
      - 2018-05-05
    in: query
    name: api-version
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: api-version
  includePayload:
    description: include payload field content, default value is 'false'.
    in: query
    name: includePayload
    required: false
    type: boolean
    x-ms-parameter-location: method
  monitorCondition:
    description: filter by monitor condition which is the state of the alert at monitor service
    enum:
      - Fired
      - Resolved
    in: query
    name: monitorCondition
    required: false
    type: string
    x-ms-enum:
      modelAsString: true
      name: MonitorCondition
    x-ms-parameter-location: method
  monitorService:
    description: filter by monitor service which is the source of the alert object.
    enum:
      - Platform
      - Application Insights
      - Log Analytics
      - Zabbix
      - SCOM
      - Nagios
      - Infrastructure Insights
      - ActivityLog Administrative
      - ActivityLog Security
      - ActivityLog Recommendation
      - ActivityLog Policy
      - ActivityLog Autoscale
      - ServiceHealth
      - SmartDetector
    in: query
    name: monitorService
    required: false
    type: string
    x-ms-enum:
      modelAsString: true
      name: MonitorService
  newState:
    description: filter by state
    enum:
      - New
      - Acknowledged
      - Closed
    in: query
    name: newState
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: AlertState
    x-ms-parameter-location: method
  pageCount:
    description: number of items per page, default value is '25'.
    in: query
    name: pageCount
    required: false
    type: integer
    x-ms-parameter-location: method
  resourceGroup:
    description: Resource group name where the resource is created.
    in: path
    name: resourceGroup
    required: true
    type: string
  severity:
    description: filter by severity
    enum:
      - Sev0
      - Sev1
      - Sev2
      - Sev3
      - Sev4
    in: query
    name: severity
    required: false
    type: string
    x-ms-enum:
      modelAsString: true
      name: Severity
    x-ms-parameter-location: method
  smartGroupId:
    description: Smart Group Id
    in: path
    name: smartGroupId
    required: true
    type: string
    x-ms-parameter-location: method
  smartGroupIdFilter:
    description: filter by smart Group Id
    in: query
    name: smartGroupId
    required: false
    type: string
    x-ms-parameter-location: method
  smartGroupState:
    description: filter by state
    enum:
      - New
      - Acknowledged
      - Closed
    in: query
    name: smartGroupState
    required: false
    type: string
    x-ms-enum:
      modelAsString: true
      name: AlertState
    x-ms-parameter-location: method
  smartGroupsSortBy:
    description: sort the query results by input field, default value is 'lastModifiedDateTime'.
    enum:
      - alertsCount
      - state
      - severity
      - startDateTime
      - lastModifiedDateTime
    in: query
    name: sortBy
    required: false
    type: string
    x-ms-enum:
      modelAsString: true
      name: SmartGroupsSortByFields
    x-ms-parameter-location: method
  sortOrder:
    description: sort the query results order in either ascending or descending, default value is 'desc' for time fields and 'asc' for others.
    enum:
      - asc
      - desc
    in: query
    name: sortOrder
    required: false
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
  targetResource:
    description: filter by target resource
    in: query
    name: targetResource
    required: false
    type: string
    x-ms-parameter-location: method
  targetResourceGroup:
    description: filter by target resource group name
    in: query
    name: targetResourceGroup
    required: false
    type: string
    x-ms-parameter-location: method
  targetResourceType:
    description: filter by target resource type
    in: query
    name: targetResourceType
    required: false
    type: string
    x-ms-parameter-location: method
  timeRange:
    description: filter by time range, default value is 1 day
    enum:
      - 1h
      - 1d
      - 7d
      - 30d
    in: query
    name: timeRange
    required: false
    type: string
    x-ms-enum:
      modelAsString: true
      name: TimeRange
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.AlertsManagement/operations:
    get:
      description: List all operations available through Azure Alerts Management Resource Provider.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Successfully retrieved operations list.
          schema:
            $ref: "#/definitions/operationsList"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/actionRules":
    get:
      description: List all action rules of the subscription and given input filters
      operationId: ActionRules_GetAll_Subscription
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/targetResourceGroup"
        - $ref: "#/parameters/targetResourceType"
        - $ref: "#/parameters/targetResource"
        - $ref: "#/parameters/severity"
        - $ref: "#/parameters/monitorService"
      responses:
        "200":
          description: OK. Return the list of action rules
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/actionRulesList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/errorResponse"
      summary: Get all action rule in a given subscription
  "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/alerts":
    get:
      description: "List all the existing alerts, where the results can be selective by passing multiple filter parameters including time range and sorted on specific fields. "
      operationId: Alerts_GetAll
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/targetResource"
        - $ref: "#/parameters/targetResourceGroup"
        - $ref: "#/parameters/targetResourceType"
        - $ref: "#/parameters/monitorService"
        - $ref: "#/parameters/monitorCondition"
        - $ref: "#/parameters/severity"
        - $ref: "#/parameters/alertState"
        - $ref: "#/parameters/smartGroupIdFilter"
        - $ref: "#/parameters/includePayload"
        - $ref: "#/parameters/pageCount"
        - $ref: "#/parameters/alertsSortBy"
        - $ref: "#/parameters/sortOrder"
        - $ref: "#/parameters/timeRange"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Successfully listed alert objects.
          schema:
            $ref: "#/definitions/alertsList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/errorResponse"
      x-ms-examples:
        ListAlerts:
          parameters:
            api-version: 2018-05-05-preview
            subscriptionId: 1e3ff1c0-771a-4119-a03b-be82a51e232d
          responses:
            "200":
              body:
                nextLink: https://management.azure.com:443/subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/providers/Microsoft.AlertsManagement/alerts?api-version=2018-05-05-preview&timeRange=1d&ctoken=%2bRID%3aPlwOAPHEGwB9UwEAAAAgCw%3d%3d%23RT%3a2%23TRC%3a500%23RTD%3aqtQyMDE4LTA2LTEyVDE1OjEyOjE1
                value:
                  - id: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100
                    name: cpu alert
                    properties:
                      alertState: New
                      lastModifiedDateTime: 2018-06-12T22:05:09Z
                      lastModifiedUserName: System
                      monitorCondition: Fired
                      monitorService: Application Insights
                      payload: {}
                      severity: Sev3
                      signalType: Log
                      smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
                      smartGroupingReason: Alerts that frequently occur together have been grouped.
                      sourceCreatedId: 57c049b5-9654-4bb4-a443-3bac3f725d34
                      startDateTime: 2018-06-12T22:05:09Z
                      targetResource: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                      targetResourceGroup: alertscorrelationrg
                      targetResourceName: alertscorrelationworkerrole_int
                      targetResourceType: components
                    type: Microsoft.AlertsManagement/alerts
                  - id: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/providers/Microsoft.AlertsManagement/alerts/239f0e9f-9871-4c8b-a6a2-b893853d1066
                    name: cpu alert
                    properties:
                      alertState: New
                      lastModifiedDateTime: 2018-06-12T21:40:09Z
                      lastModifiedUserName: System
                      monitorCondition: Fired
                      monitorService: Application Insights
                      payload: {}
                      severity: Sev3
                      signalType: Log
                      smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
                      smartGroupingReason: Alerts that frequently occur together have been grouped.
                      sourceCreatedId: e1c5c974-b796-46a1-bb59-740eeca48c15
                      startDateTime: 2018-06-12T21:40:09Z
                      targetResource: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                      targetResourceGroup: alertscorrelationrg
                      targetResourceName: alertscorrelationworkerrole_int
                      targetResourceType: components
                    type: Microsoft.AlertsManagement/alerts
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/alerts/{alertId}":
    get:
      description: Get information related to a specific alert
      operationId: Alerts_GetById
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/alertId"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns the alert with the specified ID.
          schema:
            $ref: "#/definitions/alert"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/errorResponse"
      summary: Get a specific alert.
      x-ms-examples:
        GetById:
          parameters:
            alertId: 66114d64-d9d9-478b-95c9-b789d6502100
            api-version: 2018-05-05-preview
            subscriptionId: 9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100
                name: cpu alert
                properties:
                  alertState: New
                  lastModifiedDateTime: 2018-06-12T22:05:09Z
                  lastModifiedUserName: System
                  monitorCondition: Fired
                  monitorService: Application Insights
                  payload: {}
                  severity: Sev3
                  signalType: Log
                  smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
                  smartGroupingReason: Alerts that frequently occur together have been grouped.
                  sourceCreatedId: 57c049b5-9654-4bb4-a443-3bac3f725d34
                  startDateTime: 2018-06-12T22:05:09Z
                  targetResource: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                  targetResourceGroup: alertscorrelationrg
                  targetResourceName: alertscorrelationworkerrole_int
                  targetResourceType: components
                type: Microsoft.AlertsManagement/alerts
  "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/alerts/{alertId}/changestate":
    post:
      description: Change the state of the alert.
      operationId: Alerts_ChangeState
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/alertId"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/newState"
      responses:
        "200":
          description: OK. Alert state updated.
          schema:
            $ref: "#/definitions/alert"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/errorResponse"
      x-ms-examples:
        Resolve:
          parameters:
            alertId: 66114d64-d9d9-478b-95c9-b789d6502100
            api-version: 2018-05-05-preview
            body:
              comments: Acknowledging alert
            newState: Acknowledged
            subscriptionId: 9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100
                name: cpu alert
                properties:
                  alertState: New
                  lastModifiedDateTime: 2018-06-12T22:05:09Z
                  lastModifiedUserName: vikramm@microsoft.com
                  monitorCondition: Fired
                  monitorService: Application Insights
                  payload: {}
                  severity: Sev3
                  signalType: Log
                  smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
                  smartGroupingReason: Alerts that frequently occur together have been grouped.
                  sourceCreatedId: 57c049b5-9654-4bb4-a443-3bac3f725d34
                  startDateTime: 2018-06-12T22:05:09Z
                  targetResource: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                  targetResourceGroup: alertscorrelationrg
                  targetResourceName: alertscorrelationworkerrole_int
                  targetResourceType: components
                type: Microsoft.AlertsManagement/alerts
  "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/alerts/{alertId}/history":
    get:
      description: Get the history of the changes of an alert.
      operationId: Alerts_GetHistory
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/alertId"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns the list of changes of alert.
          schema:
            $ref: "#/definitions/alertModification"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/errorResponse"
      x-ms-examples:
        Resolve:
          parameters:
            alertId: 66114d64-d9d9-478b-95c9-b789d6502100
            api-version: 2018-05-05-preview
            subscriptionId: 9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/alerts/66114d64-d9d9-478b-95c9-b789d6502100/history/default
                name: CPU Alert
                properties:
                  alertId: 66114d64-d9d9-478b-95c9-b789d6502100
                  modifications:
                    - comments: Acknowledging alert
                      description: State changed from 'New' to 'Acknowledged'
                      modificationEvent: StateChange
                      modifiedAt: 2018-06-13T06:14:15.7378737Z
                      modifiedBy: vikramm@microsoft.com
                      newValue: Acknowledged
                      oldValue: New
                    - comments: ""
                      description: New Alert Object is created
                      modificationEvent: AlertCreated
                      modifiedAt: 2018-06-13T06:09:01Z
                      modifiedBy: System
                      newValue: ""
                      oldValue: ""
                type: Microsoft.AlertsManagement/alerts
  "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/alertsSummary":
    get:
      description: Summary of alerts with the count each severity.
      operationId: Alerts_GetSummary
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/targetResourceGroup"
        - $ref: "#/parameters/timeRange"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Alert state updated.
          schema:
            $ref: "#/definitions/alertsSummary"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/errorResponse"
      x-ms-examples:
        Summary:
          parameters:
            api-version: 2018-05-05-preview
            subscriptionId: 1e3ff1c0-771a-4119-a03b-be82a51e232d
          responses:
            "200":
              body:
                id: /subscriptions/1e3ff1c0-771a-4119-a03b-be82a51e232d/providers/Microsoft.AlertsManagement/alertsSummary/current
                name: current
                properties:
                  smartGroupsCount: 2
                  summaryByMonitorService:
                    activityLog Administrative: 0
                    activityLog Autoscale: 0
                    activityLog Policy: 0
                    activityLog Recommendation: 0
                    activityLog Security: 0
                    application Insights: 290
                    infrastructure Insights: 0
                    log Analytics: 595
                    nagios: 0
                    platform: 0
                    scom: 0
                    serviceHealth: 0
                    smartDetector: 0
                    zabbix: 0
                  summaryBySeverity:
                    sev0:
                      acknowledged: 0
                      closed: 0
                      new: 286
                    sev1:
                      acknowledged: 0
                      closed: 0
                      new: 309
                    sev2:
                      acknowledged: 0
                      closed: 0
                      new: 0
                    sev3:
                      acknowledged: 1
                      closed: 0
                      new: 289
                    sev4:
                      acknowledged: 0
                      closed: 0
                      new: 0
                  summaryBySeverityAndMonitorCondition:
                    sev0:
                      fired: 286
                      resolved: 0
                    sev1:
                      fired: 309
                      resolved: 0
                    sev2:
                      fired: 0
                      resolved: 0
                    sev3:
                      fired: 290
                      resolved: 0
                    sev4:
                      fired: 0
                      resolved: 0
                  summaryByState:
                    acknowledged: 1
                    closed: 0
                    new: 884
                  total: 885
                type: Microsoft.AlertsManagement/alertsSummary
  "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/smartGroups":
    get:
      description: "List all the smartGroups within the specified subscription. "
      operationId: SmartGroups_GetAll
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/targetResource"
        - $ref: "#/parameters/targetResourceGroup"
        - $ref: "#/parameters/targetResourceType"
        - $ref: "#/parameters/monitorService"
        - $ref: "#/parameters/monitorCondition"
        - $ref: "#/parameters/severity"
        - $ref: "#/parameters/smartGroupState"
        - $ref: "#/parameters/timeRange"
        - $ref: "#/parameters/pageCount"
        - $ref: "#/parameters/smartGroupsSortBy"
        - $ref: "#/parameters/sortOrder"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns list of all smartGroups.
          schema:
            $ref: "#/definitions/smartGroupsList"
            description: List of smart groups in value property.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/errorResponse"
      summary: Get all smartGroups within the subscription
      x-ms-examples:
        List:
          parameters:
            api-version: 2018-05-05-preview
            subscriptionId: dd91de05-d791-4ceb-b6dc-988682dc7d72
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/a808445e-bb38-4751-85c2-1b109ccc1059
                    name: cpu alert
                    properties:
                      alertSeverities:
                        - count: 1942
                          name: Sev3
                      alertStates:
                        - count: 1941
                          name: New
                        - count: 1
                          name: Acknowledged
                      alertsCount: 1942
                      lastModifiedDateTime: 2018-06-13T06:30:09Z
                      lastModifiedUserName: System
                      monitorConditions:
                        - count: 1942
                          name: Fired
                      monitorServices:
                        - count: 1942
                          name: Application Insights
                      resourceGroups:
                        - count: 1942
                          name: alertscorrelationrg
                      resourceTypes:
                        - count: 1942
                          name: components
                      resources:
                        - count: 1942
                          name: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                      severity: Sev3
                      smartGroupState: New
                      startDateTime: 2018-06-06T12:35:09Z
                    type: Microsoft.AlertsManagement/smartGroups
                  - id: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/01114c7c-769f-4fd4-b6fa-ab77693b83cd
                    name: CPU Alert
                    properties:
                      alertSeverities:
                        - count: 6984
                          name: Sev0
                        - count: 6927
                          name: Sev1
                      alertStates:
                        - count: 15358
                          name: New
                        - count: 12
                          name: Acknowledged
                        - count: 4
                          name: Closed
                      alertsCount: 15374
                      lastModifiedDateTime: 2018-06-13T06:29:01Z
                      lastModifiedUserName: System
                      monitorConditions:
                        - count: 15374
                          name: Fired
                      monitorServices:
                        - count: 13911
                          name: Log Analytics
                      resourceGroups:
                        - count: 15374
                          name: mms-eus
                      resourceTypes:
                        - count: 6912
                          name: microsoft.operationalinsights/workspaces
                        - count: 8462
                          name: workspaces
                      resources:
                        - count: 15374
                          name: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/mms-eus/providers/microsoft.operationalinsights/workspaces/alertsint
                      severity: Sev0
                      smartGroupState: Acknowledged
                      startDateTime: 2018-05-17T10:18:44.2020997Z
                    type: Microsoft.AlertsManagement/smartGroups
  "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/smartGroups/{smartGroupId}":
    get:
      description: Get details of smart group.
      operationId: SmartGroups_GetById
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/smartGroupId"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns the group with the specified smart group Id.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/smartGroup"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/errorResponse"
      summary: Get information of smart alerts group.
      x-ms-examples:
        Get:
          parameters:
            api-version: 2018-05-05-preview
            smartGroupId: 603675da-9851-4b26-854a-49fc53d32715
            subscriptionId: 9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/a808445e-bb38-4751-85c2-1b109ccc1059
                name: cpu alert
                properties:
                  alertSeverities:
                    - count: 1942
                      name: Sev3
                  alertStates:
                    - count: 1941
                      name: New
                    - count: 1
                      name: Acknowledged
                  alertsCount: 1942
                  lastModifiedDateTime: 2018-06-13T06:30:09Z
                  lastModifiedUserName: System
                  monitorConditions:
                    - count: 1942
                      name: Fired
                  monitorServices:
                    - count: 1942
                      name: Application Insights
                  resourceGroups:
                    - count: 1942
                      name: alertscorrelationrg
                  resourceTypes:
                    - count: 1942
                      name: components
                  resources:
                    - count: 1942
                      name: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                  severity: Sev3
                  smartGroupState: New
                  startDateTime: 2018-06-06T12:35:09Z
                type: Microsoft.AlertsManagement/smartGroups
  "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/smartGroups/{smartGroupId}/changeState":
    post:
      description: Change the state from unresolved to resolved and all the alerts within the smart group will also be resolved.
      operationId: SmartGroups_ChangeState
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/smartGroupId"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/newState"
      responses:
        "200":
          description: OK. Alert state updated.
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/smartGroup"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/errorResponse"
      x-ms-examples:
        changestate:
          parameters:
            api-version: 2018-05-05-preview
            body:
              comments: Acknowledging smart group
            newState: Acknowledged
            smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
            subscriptionId: dd91de05-d791-4ceb-b6dc-988682dc7d72
          responses:
            "200":
              body:
                id: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/providers/Microsoft.AlertsManagement/smartGroups/a808445e-bb38-4751-85c2-1b109ccc1059
                name: cpu alert
                properties:
                  alertSeverities:
                    - count: 1942
                      name: Sev3
                  alertStates:
                    - count: 1941
                      name: New
                    - count: 1
                      name: Acknowledged
                  alertsCount: 1942
                  lastModifiedDateTime: 2018-06-13T06:30:09Z
                  lastModifiedUserName: System
                  monitorConditions:
                    - count: 1942
                      name: Fired
                  monitorServices:
                    - count: 1942
                      name: Application Insights
                  resourceGroups:
                    - count: 1942
                      name: alertscorrelationrg
                  resourceTypes:
                    - count: 1942
                      name: components
                  resources:
                    - count: 1942
                      name: /subscriptions/dd91de05-d791-4ceb-b6dc-988682dc7d72/resourcegroups/alertscorrelationrg/providers/microsoft.insights/components/alertscorrelationworkerrole_int
                  severity: Sev3
                  smartGroupState: Acknowledged
                  startDateTime: 2018-06-06T12:35:09Z
                type: Microsoft.AlertsManagement/smartGroups
  "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/smartGroups/{smartGroupId}/history":
    get:
      description: Get the history of the changes of smart group.
      operationId: SmartGroups_GetHistory
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/smartGroupId"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. Returns the list of changes of smart group.
          schema:
            $ref: "#/definitions/smartGroupModification"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/errorResponse"
      x-ms-examples:
        Resolve:
          parameters:
            api-version: 2018-05-05-preview
            smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
            subscriptionId: 9e261de7-c804-4b9d-9ebf-6f50fe350a9a
          responses:
            "200":
              body:
                id: /subscriptions/9e261de7-c804-4b9d-9ebf-6f50fe350a9a/providers/Microsoft.AlertsManagement/smartGroups/a808445e-bb38-4751-85c2-1b109ccc1059/history/default
                name: cpu alert
                properties:
                  modifications:
                    - comments: ""
                      description: New Smart Group is created
                      modificationEvent: SmartGroupCreated
                      modifiedAt: 2018-06-06T12:35:09Z
                      modifiedBy: System
                      newValue: ""
                      oldValue: ""
                  smartGroupId: a808445e-bb38-4751-85c2-1b109ccc1059
                type: Microsoft.AlertsManagement/alerts
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AlertsManagement/actionRules":
    get:
      description: List all action rules of the subscription, created in given resource group and given input filters
      operationId: ActionRules_GetAll_ResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroup"
        - $ref: "#/parameters/targetResourceGroup"
        - $ref: "#/parameters/targetResourceType"
        - $ref: "#/parameters/targetResource"
        - $ref: "#/parameters/severity"
        - $ref: "#/parameters/monitorService"
      responses:
        "200":
          description: OK. Return the list of action rules
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/actionRulesList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/errorResponse"
      summary: Get all action rules created in a resource group
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AlertsManagement/actionRules/{actionRuleName}":
    delete:
      description: Deletes a given action rule
      operationId: ActionRules_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroup"
        - description: The name that needs to be deleted
          in: path
          name: actionRuleName
          required: true
          type: string
      responses:
        "200":
          description: OK. Returns true if deleted successfully
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/errorResponse"
      summary: Delete action rule
    get:
      description: Get a specific action rule
      operationId: ActionRules_GetByName
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroup"
        - description: The name of action rule that needs to be fetched
          in: path
          name: actionRuleName
          required: true
          type: string
      responses:
        "200":
          description: OK. Returns the specific action rule
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/actionRule"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/errorResponse"
      summary: Get action rule by name
    patch:
      description: Update enabled flag and/or tags for the given action rule
      operationId: ActionRules_Patch
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroup"
        - description: The name that needs to be updated
          in: path
          name: actionRuleName
          required: true
          type: string
        - description: Parameters supplied to the operation.
          in: body
          name: actionRulePatch
          required: true
          schema:
            $ref: "#/definitions/patchObject"
      responses:
        "200":
          description: OK. Returns the created/updated action rule
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/errorResponse"
      summary: Patch action rule
    put:
      description: Creates/Updates a specific action rule
      operationId: ActionRules_CreateUpdate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroup"
        - description: The name of action rule that needs to be created/updated
          in: path
          name: actionRuleName
          required: true
          type: string
        - description: action rule to be created/updated
          in: body
          name: actionRule
          required: true
          schema:
            $ref: "#/definitions/actionRule"
      responses:
        "200":
          description: OK. Returns the created/updated action rule
          headers:
            x-ms-request-id:
              description: Service generated Request ID.
              type: string
          schema:
            $ref: "#/definitions/actionRule"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/errorResponse"
      summary: Create/update an action rule
definitions:
  ManagedResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: An azure managed resource object
    properties:
      location:
        description: Resource location
        type: string
        x-ms-mutability:
          - create
          - read
      tags:
        additionalProperties:
          type: string
        description: Resource tags
    required:
      - location
    x-ms-azure-resource: true
  Resource:
    description: An azure resource object
    properties:
      id:
        description: Azure resource Id
        readOnly: true
        type: string
      name:
        description: Azure resource name
        readOnly: true
        type: string
      type:
        description: Azure resource type
        readOnly: true
        type: string
    x-ms-azure-resource: true
  actionRule:
    allOf:
      - $ref: "#/definitions/ManagedResource"
    description: Action rule object containing target scope, conditions and suppression logic
    properties:
      properties:
        $ref: "#/definitions/actionRuleProperties"
  actionRuleProperties:
    description: Action rule properties defining scope, conditions, suppression logic for action rule
    properties:
      conditions:
        $ref: "#/definitions/conditions"
      createdAt:
        description: Creation time of action rule. Date-Time in ISO-8601 format.
        format: date-time
        readOnly: true
        type: string
      createdBy:
        description: Created by user name.
        readOnly: true
        type: string
      description:
        description: Description of action rule
        type: string
      lastModifiedAt:
        description: Last updated time of action rule. Date-Time in ISO-8601 format.
        format: date-time
        readOnly: true
        type: string
      lastModifiedBy:
        description: Last modified by user name.
        readOnly: true
        type: string
      resourceGroup:
        description: Resource group where action rule is stored
        readOnly: true
        type: string
      scope:
        $ref: "#/definitions/scope"
      status:
        description: Indicates if the given action rule is enabled or disabled
        enum:
          - enabled
          - disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: ActionRuleStatus
      suppressionConfig:
        $ref: "#/definitions/suppressionConfig"
  actionRulesList:
    description: List of action rules
    properties:
      nextLink:
        description: URL to fetch the next set of action rules
        type: string
      value:
        description: List of action rules
        items:
          $ref: "#/definitions/actionRule"
        type: array
  alert:
    allOf:
      - $ref: "#/definitions/Resource"
    description: An alert created in alert management service.
    properties:
      properties:
        $ref: "#/definitions/alertProperties"
        x-ms-client-flatten: true
  alertModification:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Alert Modification details
    properties:
      properties:
        $ref: "#/definitions/alertModificationProperties"
  alertModificationItem:
    description: Alert modification item.
    properties:
      comments:
        description: Modification comments
        type: string
      description:
        description: Description of the modification
        type: string
      modificationEvent:
        description: Reason for the modification
        enum:
          - AlertCreated
          - StateChange
          - MonitorConditionChange
        type: string
        x-ms-enum:
          name: AlertModificationEvent
      modifiedAt:
        description: Modified date and time
        type: string
      modifiedBy:
        description: Modified user details (Principal client name)
        type: string
      newValue:
        description: New value
        type: string
      oldValue:
        description: Old value
        type: string
  alertModificationProperties:
    description: Properties of the alert modification item.
    properties:
      alertId:
        description: Unique Id of the alert for which the history is being retrieved
        readOnly: true
        type: string
      modifications:
        description: Modification details
        items:
          $ref: "#/definitions/alertModificationItem"
        type: array
    type: object
  alertProperties:
    description: An alert created in alert management service.
    properties:
      alertState:
        description: Alert object state
        enum:
          - New
          - Acknowledged
          - Closed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: AlertState
      lastModifiedDateTime:
        description: Last modification time(ISO-8601 format).
        format: date-time
        readOnly: true
        type: string
      lastModifiedUserName:
        description: User who last modified the alert.
        readOnly: true
        type: string
      monitorCondition:
        description: Condition of the rule at the monitor service
        enum:
          - Fired
          - Resolved
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: MonitorCondition
      monitorService:
        description: Monitor service which is the source of the alert object.
        enum:
          - Platform
          - Application Insights
          - Log Analytics
          - Infrastructure Insights
          - ActivityLog Administrative
          - ActivityLog Security
          - ActivityLog Recommendation
          - ActivityLog Policy
          - ActivityLog Autoscale
          - ServiceHealth
          - SmartDetector
          - Zabbix
          - SCOM
          - Nagios
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: MonitorService
      payload:
        description: More details which are contextual to the monitor service.
        readOnly: true
        type: object
      severity:
        description: Severity of alert Sev1 being highest and Sev3 being lowest.
        enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: Severity
      signalType:
        description: Log based alert or metric based alert
        enum:
          - Metric
          - Log
          - Unknown
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: SignalType
      smartGroupId:
        description: Unique Id of the smart group
        readOnly: true
        type: string
      smartGroupingReason:
        description: Reason for addition to a smart group
        readOnly: true
        type: string
      sourceCreatedId:
        description: Unique Id created by monitor service
        readOnly: true
        type: string
      startDateTime:
        description: Creation time(ISO-8601 format).
        format: date-time
        readOnly: true
        type: string
      targetResource:
        description: Target ARM resource, on which alert got created.
        type: string
      targetResourceGroup:
        description: Resource group of target ARM resource.
        type: string
      targetResourceName:
        description: Target ARM resource name, on which alert got created.
        type: string
      targetResourceType:
        description: Resource type of target ARM resource
        type: string
    type: object
  alertsList:
    description: List the alerts.
    properties:
      nextLink:
        description: URL to fetch the next set of alerts.
        type: string
      value:
        description: List of alerts
        items:
          $ref: "#/definitions/alert"
        type: array
  alertsSummary:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Summary of the alerts.
    properties:
      properties:
        $ref: "#/definitions/alertsSummaryProperties"
        x-ms-client-flatten: true
  alertsSummaryByMonitorCondition:
    description: Summary of the alerts by monitor condition
    properties:
      fired:
        description: Count of alerts with monitorCondition 'Fired'
        type: integer
      resolved:
        description: Count of alerts with monitorCondition 'Resolved'
        type: integer
    type: object
  alertsSummaryByMonitorService:
    description: Summary of the alerts by monitor service
    properties:
      activityLog Administrative:
        description: Count of alerts of "ActivityLog Administrative"
        type: integer
      activityLog Autoscale:
        description: Count of alerts of "ActivityLog Autoscale"
        type: integer
      activityLog Policy:
        description: Count of alerts of "ActivityLog Policy"
        type: integer
      activityLog Recommendation:
        description: Count of alerts of "ActivityLog Recommendation"
        type: integer
      activityLog Security:
        description: Count of alerts of "ActivityLog Security"
        type: integer
      application Insights:
        description: Count of alerts of "Application Insights"
        type: integer
      infrastructure Insights:
        description: Count of alerts of "Infrastructure Insights"
        type: integer
      log Analytics:
        description: Count of alerts of "Log Analytics"
        type: integer
      nagios:
        description: Count of alerts of "Nagios"
        type: integer
      platform:
        description: Count of alerts of "Platform"
        type: integer
      scom:
        description: Count of alerts of "SCOM"
        type: integer
      serviceHealth:
        description: Count of alerts of "ServiceHealth"
        type: integer
      smartDetector:
        description: Count of alerts of "Smart Detector"
        type: integer
      zabbix:
        description: Count of alerts of "Zabbix"
        type: integer
    type: object
  alertsSummaryBySeverityAndMonitorCondition:
    description: Summary of the alerts by severity and monitor condition
    properties:
      sev0:
        allOf:
          - $ref: "#/definitions/alertsSummaryByMonitorCondition"
        description: Summary of alerts by monitor condition with severity 'Sev0'
      sev1:
        allOf:
          - $ref: "#/definitions/alertsSummaryByMonitorCondition"
        description: Summary of alerts by monitor condition with severity 'Sev1'
      sev2:
        allOf:
          - $ref: "#/definitions/alertsSummaryByMonitorCondition"
        description: Summary of alerts by monitor condition with severity 'Sev2'
      sev3:
        allOf:
          - $ref: "#/definitions/alertsSummaryByMonitorCondition"
        description: Summary of alerts by monitor condition with severity 'Sev3'
      sev4:
        allOf:
          - $ref: "#/definitions/alertsSummaryByMonitorCondition"
        description: Summary of alerts by monitor condition with severity 'Sev4'
    type: object
  alertsSummaryByState:
    description: Summary of alerts by state
    properties:
      acknowledged:
        description: Count of alerts with state 'Acknowledged'
        type: integer
      closed:
        description: Count of alerts with state 'Closed'
        type: integer
      new:
        description: Count of alerts with state 'New'
        type: integer
    type: object
  alertsSummaryProperties:
    description: Summary of the alerts
    properties:
      nextLink:
        description: URL to fetch the next set of results.
        type: string
      smartGroupsCount:
        description: Total number of smart groups.
        type: integer
      summaryByMonitorService:
        allOf:
          - $ref: "#/definitions/alertsSummaryByMonitorService"
        description: Summary of alerts by severity
        type: object
      summaryBySeverity:
        description: Summary of alerts by severity
        properties:
          sev0:
            allOf:
              - $ref: "#/definitions/alertsSummaryByState"
            description: Summary of alerts by severity 'Sev0'
            type: object
          sev1:
            allOf:
              - $ref: "#/definitions/alertsSummaryByState"
            description: Summary of alerts by severity 'Sev1'
            type: object
          sev2:
            allOf:
              - $ref: "#/definitions/alertsSummaryByState"
            description: Summary of alerts by severity 'Sev2'
            type: object
          sev3:
            allOf:
              - $ref: "#/definitions/alertsSummaryByState"
            description: Summary of alerts by severity 'Sev3'
            type: object
          sev4:
            allOf:
              - $ref: "#/definitions/alertsSummaryByState"
            description: Summary of alerts by severity 'Sev4'
            type: object
        type: object
      summaryBySeverityAndMonitorCondition:
        allOf:
          - $ref: "#/definitions/alertsSummaryBySeverityAndMonitorCondition"
        description: Summary of alerts by severity and monitor condition
        type: object
      summaryByState:
        allOf:
          - $ref: "#/definitions/alertsSummaryByState"
        description: Summary of alerts by state
        type: object
      total:
        description: Total number of alerts.
        type: integer
    type: object
  condition:
    description: condition to trigger an action rule
    properties:
      operator:
        description: operator for a given condition
        enum:
          - Equals
          - NotEquals
          - Contains
          - DoesNotContain
        type: string
        x-ms-enum:
          modelAsString: true
          name: ScopeType
      values:
        description: list of values to match for a given condition.
        items:
          type: string
        type: array
    type: object
  conditions:
    description: Conditions in alert instance to be matched for a given action rule. Default value is all. Multiple values could be provided with comma separation.
    properties:
      alertRuleId:
        $ref: "#/definitions/condition"
      applicationInsightsSearchResults:
        $ref: "#/definitions/condition"
      description:
        $ref: "#/definitions/condition"
      logAnalyticsSearchResults:
        $ref: "#/definitions/condition"
      monitorCondition:
        $ref: "#/definitions/condition"
      monitorService:
        $ref: "#/definitions/condition"
      severity:
        $ref: "#/definitions/condition"
      signalType:
        $ref: "#/definitions/condition"
      targetResource:
        $ref: "#/definitions/condition"
      targetResourceGroup:
        $ref: "#/definitions/condition"
      targetResourceType:
        $ref: "#/definitions/condition"
    type: object
  errorResponse:
    description: An error response from the service.
    properties:
      error:
        $ref: "#/definitions/errorResponseBody"
    x-ms-external: true
  errorResponseBody:
    description: Details of error response.
    properties:
      code:
        description: Error code, intended to be consumed programmatically.
        type: string
      details:
        description: A list of additional details about the error.
        items:
          $ref: "#/definitions/errorResponseBody"
        type: array
      message:
        description: Description of the error, intended for display in user interface.
        type: string
      target:
        description: Target of the particular error, for example name of the property.
        type: string
    x-ms-external: true
  operation:
    description: Operation provided by provider
    properties:
      display:
        description: Properties of the operation
        properties:
          description:
            description: Description of the operation
            type: string
          operation:
            description: Operation name
            type: string
          provider:
            description: Provider name
            type: string
          resource:
            description: Resource name
            type: string
        type: object
      name:
        description: Name of the operation
        type: string
  operationsList:
    description: Lists the operations available in the AlertsManagement RP.
    properties:
      nextLink:
        description: URL to fetch the next set of alerts.
        type: string
      value:
        description: Array of operations
        items:
          $ref: "#/definitions/operation"
        type: array
    required:
      - value
  patchObject:
    description: Properties supported by patch
    properties:
      status:
        description: Indicates if the given action rule is enabled or disabled
        enum:
          - enabled
          - disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: ActionRuleStatus
      tags:
        description: tags to be updated
        type: object
  scope:
    description: Target scope for a given action rule. By default scope will be the subscription. User can also provide list of resource groups or list of resources from the scope subscription as well.
    properties:
      type:
        description: type of target scope
        enum:
          - ResourceGroup
          - Resource
        type: string
        x-ms-enum:
          modelAsString: true
          name: ScopeType
      values:
        description: list of ARM IDs of the given scope type which will be the target of the given action rule.
        items:
          type: string
        type: array
    type: object
  smartGroup:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Set of related alerts grouped together smartly by AMS.
    properties:
      properties:
        $ref: "#/definitions/smartGroupProperties"
        x-ms-client-flatten: true
  smartGroupAggregatedProperty:
    description: Aggregated property of each type
    properties:
      count:
        description: Total number of items of type.
        type: integer
      name:
        description: Name of the type.
        type: string
    type: object
  smartGroupModification:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Alert Modification details
    properties:
      properties:
        $ref: "#/definitions/smartGroupModificationProperties"
  smartGroupModificationItem:
    description: smartGroup modification item.
    properties:
      comments:
        description: Modification comments
        type: string
      description:
        description: Description of the modification
        type: string
      modificationEvent:
        description: Reason for the modification
        enum:
          - SmartGroupCreated
          - StateChange
          - AlertAdded
          - AlertRemoved
        type: string
        x-ms-enum:
          name: SmartGroupModificationEvent
      modifiedAt:
        description: Modified date and time
        type: string
      modifiedBy:
        description: Modified user details (Principal client name)
        type: string
      newValue:
        description: New value
        type: string
      oldValue:
        description: Old value
        type: string
  smartGroupModificationProperties:
    description: Properties of the smartGroup modification item.
    properties:
      modifications:
        description: Modification details
        items:
          $ref: "#/definitions/smartGroupModificationItem"
        type: array
      nextLink:
        description: URL to fetch the next set of results.
        type: string
      smartGroupId:
        description: Unique Id of the smartGroup for which the history is being retrieved
        readOnly: true
        type: string
  smartGroupProperties:
    description: Properties of smart group.
    properties:
      alertSeverities:
        description: Summary of alertSeverities in the smart group
        items:
          $ref: "#/definitions/smartGroupAggregatedProperty"
        type: array
      alertStates:
        description: Summary of alertStates in the smart group
        items:
          $ref: "#/definitions/smartGroupAggregatedProperty"
        type: array
      alertsCount:
        description: Total number of alerts in smart group
        type: integer
      lastModifiedDateTime:
        description: Last updated time of smart group. Date-Time in ISO-8601 format.
        format: date-time
        readOnly: true
        type: string
      lastModifiedUserName:
        description: Last modified by user name.
        readOnly: true
        type: string
      monitorConditions:
        description: Summary of monitorConditions in the smart group
        items:
          $ref: "#/definitions/smartGroupAggregatedProperty"
        type: array
      monitorServices:
        description: Summary of monitorServices in the smart group
        items:
          $ref: "#/definitions/smartGroupAggregatedProperty"
        type: array
      nextLink:
        description: The URI to fetch the next page of alerts. Call ListNext() with this URI to fetch the next page alerts.
        type: string
      resourceGroups:
        description: Summary of target resource groups in the smart group
        items:
          $ref: "#/definitions/smartGroupAggregatedProperty"
        type: array
      resourceTypes:
        description: Summary of target resource types in the smart group
        items:
          $ref: "#/definitions/smartGroupAggregatedProperty"
        type: array
      resources:
        description: Summary of target resources in the smart group
        items:
          $ref: "#/definitions/smartGroupAggregatedProperty"
        type: array
      severity:
        description: Severity of smart group is the highest(Sev0 >... > Sev4) severity of all the alerts in the group.
        enum:
          - Sev0
          - Sev1
          - Sev2
          - Sev3
          - Sev4
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: Severity
      smartGroupState:
        description: Smart group state
        enum:
          - New
          - Acknowledged
          - Closed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: State
      startDateTime:
        description: Creation time of smart group. Date-Time in ISO-8601 format.
        format: date-time
        readOnly: true
        type: string
    type: object
  smartGroupsList:
    description: List the alerts.
    properties:
      nextLink:
        description: URL to fetch the next set of alerts.
        type: string
      value:
        description: List of alerts
        items:
          $ref: "#/definitions/smartGroup"
        type: array
  suppressionConfig:
    description: Suppression logic for a given action rule
    discriminator: recurrenceType
    properties:
      recurrenceType:
        description: Specifies when the suppression should be applied
        enum:
          - Always
          - Once
          - Daily
          - Weekly
          - Monthly
        type: string
        x-ms-enum:
          modelAsString: true
          name: SuppressionType
      schedule:
        $ref: "#/definitions/suppressionSchedule"
    required:
      - recurrenceType
    type: object
  suppressionSchedule:
    description: Schedule for a given suppression configuration.
    properties:
      endDate:
        description: End date for suppression
        type: string
      endTime:
        description: End date for suppression
        type: string
      recurrenceValues:
        description: Specifies the values for recurrence pattern
        items:
          type: integer
        type: array
      startDate:
        description: Start date for suppression
        type: string
      startTime:
        description: Start time for suppression
        type: string
    type: object
