{
  "openapi": "3.0.2",
  "servers": [
    {
      "url": "https://apisetu.gov.in/dgft"
    }
  ],
  "info": {
    "contact": {
      "name": "Directorate General of Foreign Trade (DGFT)",
      "url": "https://www.dgft.gov.in/"
    },
    "description": "The Importer-Exporter Code (IEC), issued by Directorate General of Foreign Trade (DGFT), is a key business identification number which is mandatory for Exports or Imports. This API can be used to get details of a importer-exporter by importer-exporter code.",
    "termsOfService": "https://ndh.digitallocker.gov.in/terms.php",
    "title": "Importer-Exporter Details API",
    "version": "3.0.0",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://apisetu.gov.in/api_specification_v8/dgft.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "apisetu.gov.in",
    "x-serviceName": "dgft",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    }
  },
  "paths": {
    "/v1/iec/{iec}": {
      "get": {
        "description": "Description of Importer-Exporter Code (IEC) Verification API.",
        "operationId": "Importer-Exporter Code Verification API",
        "parameters": [
          {
            "description": "Importer-Exporter code",
            "in": "path",
            "name": "iec",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "addressLine1": {
                      "example": "Noida",
                      "minLength": 1,
                      "type": "string"
                    },
                    "addressLine2": {
                      "example": "",
                      "type": "string"
                    },
                    "branch": {
                      "items": {
                        "properties": {
                          "badd1": {
                            "example": "Bokaro",
                            "minLength": 1,
                            "type": "string"
                          },
                          "badd2": {
                            "example": "",
                            "type": "string"
                          },
                          "branchCode": {
                            "example": 1,
                            "minLength": 1,
                            "type": "string"
                          },
                          "city": {
                            "example": "Bokaro",
                            "minLength": 1,
                            "type": "string"
                          },
                          "pin": {
                            "example": 827012,
                            "minLength": 1,
                            "type": "string"
                          },
                          "state": {
                            "example": "JHARKHAND",
                            "minLength": 1,
                            "type": "string"
                          }
                        },
                        "required": [
                          "branchCode",
                          "badd1",
                          "badd2",
                          "city",
                          "state",
                          "pin"
                        ]
                      },
                      "minItems": 1,
                      "type": "array",
                      "uniqueItems": true
                    },
                    "city": {
                      "example": "Bokaro",
                      "minLength": 1,
                      "type": "string"
                    },
                    "dataAsOn": {
                      "format": "date-time",
                      "type": "string"
                    },
                    "directors": {
                      "items": {
                        "properties": {
                          "name": {
                            "example": "Mukund's IEC",
                            "minLength": 1,
                            "type": "string"
                          }
                        },
                        "required": [
                          "name"
                        ]
                      },
                      "minItems": 1,
                      "type": "array",
                      "uniqueItems": true
                    },
                    "entityName": {
                      "example": "Mukund's IEC",
                      "minLength": 1,
                      "type": "string"
                    },
                    "exporterType": {
                      "example": 1,
                      "minLength": 1,
                      "type": "string"
                    },
                    "iec": {
                      "example": "CGRPK3746C",
                      "minLength": 1,
                      "type": "string"
                    },
                    "iecIssueDate": {
                      "example": 8062020,
                      "minLength": 1,
                      "type": "string"
                    },
                    "iecModificationDate": {
                      "example": "",
                      "type": "string"
                    },
                    "iecStatus": {
                      "example": 0,
                      "minLength": 0,
                      "type": "string"
                    },
                    "natureOfConcern": {
                      "example": 1,
                      "minLength": 1,
                      "type": "string"
                    },
                    "pan": {
                      "example": "CGRPK3746CFT001",
                      "minLength": 1,
                      "type": "string"
                    },
                    "pin": {
                      "example": 827012,
                      "minLength": 1,
                      "type": "string"
                    },
                    "state": {
                      "example": "JHARKHAND",
                      "minLength": 1,
                      "type": "string"
                    }
                  },
                  "required": [
                    "iec",
                    "entityName",
                    "addressLine1",
                    "addressLine2",
                    "city",
                    "state",
                    "pin",
                    "iecIssueDate",
                    "exporterType",
                    "pan",
                    "iecStatus",
                    "iecModificationDate",
                    "dataAsOn",
                    "natureOfConcern",
                    "branch",
                    "directors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "successful operation"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "enum": [
                        "invalid parameter",
                        "missing parameter"
                      ],
                      "type": "string"
                    },
                    "errorDescription": {
                      "enum": [
                        "Bad request",
                        "Please provide all mandatory parameters."
                      ],
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "enum": [
                        "invalid_authentication",
                        "invalid_authorization"
                      ],
                      "type": "string"
                    },
                    "errorDescription": {
                      "enum": [
                        "Authentication failed",
                        "You are not authorized to use this API"
                      ],
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Authentication failed"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "enum": [
                        "record_not_found",
                        "Url not found"
                      ],
                      "type": "string"
                    },
                    "errorDescription": {
                      "enum": [
                        "No record found",
                        "Your API url or path is incorrect."
                      ],
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Not Found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "enum": [
                        "internal_server_error"
                      ],
                      "type": "string"
                    },
                    "errorDescription": {
                      "enum": [
                        "Internal server error"
                      ],
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Internal Server Error"
          },
          "502": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "enum": [
                        "bad gateway"
                      ],
                      "type": "string"
                    },
                    "errorDescription": {
                      "enum": [
                        "Publisher service returned an invalid response."
                      ],
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Bad Gateway"
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "enum": [
                        "service_unavailable"
                      ],
                      "type": "string"
                    },
                    "errorDescription": {
                      "enum": [
                        "Publisher service is temporarily unavailable"
                      ],
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Service Unavailable"
          },
          "504": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error": {
                      "enum": [
                        "gateway_timeout"
                      ],
                      "type": "string"
                    },
                    "errorDescription": {
                      "enum": [
                        "Publisher service did not respond in time"
                      ],
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Gateway Timeout"
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "clientId": []
          }
        ],
        "summary": "Importer-Exporter Code (IEC) Verification API.",
        "tags": [
          "APIs"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_key": {
        "in": "header",
        "name": "X-APISETU-APIKEY",
        "type": "apiKey"
      },
      "clientId": {
        "in": "header",
        "name": "X-APISETU-CLIENTID",
        "type": "apiKey"
      }
    }
  }
}