swagger: "2.0"
schemes:
  - https
  - http
host: api.funtranslations.com
info:
  contact:
    name: Fun Translations
    url: http://funtranslations.com/
    x-twitter: funtranslate
  description: |
    Funtranslations Starwars API gives access to the full set of starwars language translations available at funtranslations.com so that you can integrate them in your workflow or an app. [Click here to get details and subscribe](http://funtranslations.com/api/starwars) .      

      You can also subscribe to individual translators. Here are the details.
      
      Ever wonder how to talk like Yoda? Well, use our API and let your APP/webpage speak like Yoda too.[Click here to subscribe](http://funtranslations.com/api/yoda)  
      
      Sith Translator API. [Click here to subscribe](http://funtranslations.com/api/sith) 
      
      Cheunh Translator API. [Click here to subscribe](http://funtranslations.com/api/cheunh) 
      
      Huttese Translator API. [Click here to subscribe](http://funtranslations.com/api/huttese)
      
      Mandalorian Translator API. [Click here to subscribe](http://funtranslations.com/api/mandalorian)
      
      Gungan Translator API. [Click here to subscribe](http://funtranslations.com/api/gungan)
  termsOfService: https://funtranslations.com/terms
  title: Starwars Translations API
  version: "2.3"
  x-apisguru-categories:
    - text
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_funtranslate_profile_image.png
  x-origin:
    - format: swagger
      url: https://funtranslations.com/yaml/funtranslations.starwars.yaml
      version: "2.0"
  x-providerName: funtranslations.com
  x-serviceName: starwars
consumes:
  - application/json
produces:
  - application/json
  - application/xml
  - application/js
securityDefinitions:
  X-Funtranslations-Api-Secret:
    in: header
    name: X-Funtranslations-Api-Secret
    type: apiKey
tags:
  - description: Starwars Translation API
    externalDocs:
      description: Find out more
      url: http://funtranslations.com/api/starwars
    name: Starwars
paths:
  /translate/cheunh:
    get:
      description: Translate from English to Starwars cheunh.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        "200":
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Ch'ah went ch'at coruscant vea was bav parsec ch'itt'suvrecah!",
                  "text": "I went to coruscant which was ten parsec away!",
                  "translation": "cheunh"
                }
              }
        "401":
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }   
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
  /translate/gungan:
    get:
      description: Translate from English to Starwars Gungan Language.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        "200":
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Yousa came to mesa home and mesa said okeeday!",
                  "text": "You came to my home and I said okay!",
                  "translation": "gungan"
                }
              }
        "401":
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              } 
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
  /translate/huttese:
    get:
      description: Translate from English to Starwars Huttese Language.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        "200":
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Did u stuka doe murishani?",
                  "text": "Did you see the bounty hunter?",
                  "translation": "huttese"
                }
              }
        "401":
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
  /translate/mandalorian:
    get:
      description: Translate from English to Starwars Mandalorian Language.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        "200":
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Ni'd guuror a pint cuyir gal",
                  "text": "I'd like a pint of ale",
                  "translation": "mandalorian"
                }
              }
        "401":
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
  /translate/sith:
    get:
      description: Translate from English to Sith Speak.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        "200":
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Nu went kia coruscant which meo ten parsekas salini!",
                  "text": "I went to coruscant which was ten parsec away!",
                  "translation": "sith"
                }
              }
        "401":
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              }
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
  /translate/yoda:
    get:
      description: Translate from English to Yoda Speak.
      parameters:
        - description: Text to translate
          format: string
          in: query
          name: text
          required: true
          type: string
      produces:
        - application/json
        - application/xml
        - application/js
      responses:
        "200":
          description: 200  response
          examples:
            application/json: |-
              {
                "success": {
                  "total": 1
                },
                "contents": {
                  "translated": "Lost a planet,  master obiwan has. ",
                  "text": "Master Obiwan has lost a planet.",
                  "translation": "yoda"
                }
              }
        "401":
          description: 401  response
          examples:
            application/json: |-
              {
                  "error": {
                      "code": 401,
                      "message": "Unauthorized"
                  }
              } 
      security:
        - X-Funtranslations-Api-Secret: []
      tags:
        - Starwars
