{
  "swagger": "2.0",
  "schemes": [
    "https",
    "http"
  ],
  "host": "api.funtranslations.com",
  "info": {
    "contact": {
      "name": "Fun Translations",
      "url": "http://funtranslations.com/",
      "x-twitter": "funtranslate"
    },
    "description": "Funtranslations Starwars API gives access to the full set of starwars language translations available at funtranslations.com so that you can integrate them in your workflow or an app. [Click here to get details and subscribe](http://funtranslations.com/api/starwars) .      \n\n  You can also subscribe to individual translators. Here are the details.\n  \n  Ever wonder how to talk like Yoda? Well, use our API and let your APP/webpage speak like Yoda too.[Click here to subscribe](http://funtranslations.com/api/yoda)  \n  \n  Sith Translator API. [Click here to subscribe](http://funtranslations.com/api/sith) \n  \n  Cheunh Translator API. [Click here to subscribe](http://funtranslations.com/api/cheunh) \n  \n  Huttese Translator API. [Click here to subscribe](http://funtranslations.com/api/huttese)\n  \n  Mandalorian Translator API. [Click here to subscribe](http://funtranslations.com/api/mandalorian)\n  \n  Gungan Translator API. [Click here to subscribe](http://funtranslations.com/api/gungan)\n",
    "termsOfService": "https://funtranslations.com/terms",
    "title": "Starwars Translations API",
    "version": "2.3",
    "x-apisguru-categories": [
      "text"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_funtranslate_profile_image.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://funtranslations.com/yaml/funtranslations.starwars.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "funtranslations.com",
    "x-serviceName": "starwars"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json",
    "application/xml",
    "application/js"
  ],
  "securityDefinitions": {
    "X-Funtranslations-Api-Secret": {
      "in": "header",
      "name": "X-Funtranslations-Api-Secret",
      "type": "apiKey"
    }
  },
  "tags": [
    {
      "description": "Starwars Translation API",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://funtranslations.com/api/starwars"
      },
      "name": "Starwars"
    }
  ],
  "paths": {
    "/translate/cheunh": {
      "get": {
        "description": "Translate from English to Starwars cheunh.",
        "parameters": [
          {
            "description": "Text to translate",
            "format": "string",
            "in": "query",
            "name": "text",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json",
          "application/xml",
          "application/js"
        ],
        "responses": {
          "200": {
            "description": "200  response",
            "examples": {
              "application/json": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Ch'ah went ch'at coruscant vea was bav parsec ch'itt'suvrecah!\",\n    \"text\": \"I went to coruscant which was ten parsec away!\",\n    \"translation\": \"cheunh\"\n  }\n}"
            }
          },
          "401": {
            "description": "401  response",
            "examples": {
              "application/json": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}   "
            }
          }
        },
        "security": [
          {
            "X-Funtranslations-Api-Secret": []
          }
        ],
        "tags": [
          "Starwars"
        ]
      }
    },
    "/translate/gungan": {
      "get": {
        "description": "Translate from English to Starwars Gungan Language.",
        "parameters": [
          {
            "description": "Text to translate",
            "format": "string",
            "in": "query",
            "name": "text",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json",
          "application/xml",
          "application/js"
        ],
        "responses": {
          "200": {
            "description": "200  response",
            "examples": {
              "application/json": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Yousa came to mesa home and mesa said okeeday!\",\n    \"text\": \"You came to my home and I said okay!\",\n    \"translation\": \"gungan\"\n  }\n}"
            }
          },
          "401": {
            "description": "401  response",
            "examples": {
              "application/json": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n} "
            }
          }
        },
        "security": [
          {
            "X-Funtranslations-Api-Secret": []
          }
        ],
        "tags": [
          "Starwars"
        ]
      }
    },
    "/translate/huttese": {
      "get": {
        "description": "Translate from English to Starwars Huttese Language.",
        "parameters": [
          {
            "description": "Text to translate",
            "format": "string",
            "in": "query",
            "name": "text",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json",
          "application/xml",
          "application/js"
        ],
        "responses": {
          "200": {
            "description": "200  response",
            "examples": {
              "application/json": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Did u stuka doe murishani?\",\n    \"text\": \"Did you see the bounty hunter?\",\n    \"translation\": \"huttese\"\n  }\n}"
            }
          },
          "401": {
            "description": "401  response",
            "examples": {
              "application/json": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          }
        },
        "security": [
          {
            "X-Funtranslations-Api-Secret": []
          }
        ],
        "tags": [
          "Starwars"
        ]
      }
    },
    "/translate/mandalorian": {
      "get": {
        "description": "Translate from English to Starwars Mandalorian Language.",
        "parameters": [
          {
            "description": "Text to translate",
            "format": "string",
            "in": "query",
            "name": "text",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json",
          "application/xml",
          "application/js"
        ],
        "responses": {
          "200": {
            "description": "200  response",
            "examples": {
              "application/json": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Ni'd guuror a pint cuyir gal\",\n    \"text\": \"I'd like a pint of ale\",\n    \"translation\": \"mandalorian\"\n  }\n}"
            }
          },
          "401": {
            "description": "401  response",
            "examples": {
              "application/json": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          }
        },
        "security": [
          {
            "X-Funtranslations-Api-Secret": []
          }
        ],
        "tags": [
          "Starwars"
        ]
      }
    },
    "/translate/sith": {
      "get": {
        "description": "Translate from English to Sith Speak.",
        "parameters": [
          {
            "description": "Text to translate",
            "format": "string",
            "in": "query",
            "name": "text",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json",
          "application/xml",
          "application/js"
        ],
        "responses": {
          "200": {
            "description": "200  response",
            "examples": {
              "application/json": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Nu went kia coruscant which meo ten parsekas salini!\",\n    \"text\": \"I went to coruscant which was ten parsec away!\",\n    \"translation\": \"sith\"\n  }\n}"
            }
          },
          "401": {
            "description": "401  response",
            "examples": {
              "application/json": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
            }
          }
        },
        "security": [
          {
            "X-Funtranslations-Api-Secret": []
          }
        ],
        "tags": [
          "Starwars"
        ]
      }
    },
    "/translate/yoda": {
      "get": {
        "description": "Translate from English to Yoda Speak.",
        "parameters": [
          {
            "description": "Text to translate",
            "format": "string",
            "in": "query",
            "name": "text",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json",
          "application/xml",
          "application/js"
        ],
        "responses": {
          "200": {
            "description": "200  response",
            "examples": {
              "application/json": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Lost a planet,  master obiwan has. \",\n    \"text\": \"Master Obiwan has lost a planet.\",\n    \"translation\": \"yoda\"\n  }\n}"
            }
          },
          "401": {
            "description": "401  response",
            "examples": {
              "application/json": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n} "
            }
          }
        },
        "security": [
          {
            "X-Funtranslations-Api-Secret": []
          }
        ],
        "tags": [
          "Starwars"
        ]
      }
    }
  }
}