openapi: 3.0.0
servers:
  - url: https://api.ritekit.com
info:
  description: |-
    RiteKit API is based on REST principles.

    Authentication uses standard OAuth 2.0 process

    ##Getting started

    1. Sign up for [RiteKit](https://ritekit.com/)

    1. Go to [developer dashboard](https://ritekit.com/developer/dashboard/)

    1. Click "Create a token" button to get your **Client ID** and **Client secret**

    1. When you reach your free limit of calls per month, [upgrade to paid tiers](https://ritekit.com/developer/)

    ## Options for authorizing API Calls

    #### Using Client ID directly

    You can directly connect to our API using your **client ID** by sending it as a GET query parameter. This option is simple (no need for oAuth) but it should be used only in case the Client ID is not exposed publicly.

    GET  https://api.ritekit.com/v1/stats/multiple-hashtags?tags=php&client_id=292c6912e7710c838347ae178b4a
  title: RiteKit API
  version: 1.0.0
  x-apisguru-categories:
    - social
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_781729376161366016_qdUFUsCN_400x400.jpg
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: apiBlueprint
      url: https://raw.githubusercontent.com/RiteKit/api-docs/master/apiary.apib
      version: 1A
  x-providerName: ritekit.com
tags: []
paths:
  /v1/emoji/auto-emojify:
    get:
      description: Returns text of the post with emoji added
      operationId: Auto-Emojify
      parameters:
        - description: Text of the post
          example: Why robots may soon steal all manufacturing jobs – but it’s not all bad news
          in: query
          name: text
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    code: 200
                    message: OK
                    result: true
                    text: Why robots may soon steal all manufacturing jobs – but it’s not all bad news 🤖🗞❓
          description: OK
          headers: {}
      summary: Auto-Emojify
      tags: []
  /v1/emoji/suggestions:
    get:
      description: Returns list of emoji suggestions for a given text of the post
      operationId: Emoji Suggestions
      parameters:
        - description: Text of the post
          example: Why robots may soon steal all manufacturing jobs – but it’s not all bad news
          in: query
          name: text
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    code: 200
                    emojis:
                      - 🤖
                      - 🗞
                      - ❓
                    message: OK
                    result: true
          description: OK
          headers: {}
      summary: Emoji Suggestions
      tags: []
  /v1/images/animate:
    get:
      description: Returns URL of an animated GIF.
      operationId: Animate Image
      parameters:
        - description: URL of the company
          example: https://jpeg.org/images/jpeg-home.jpg
          in: query
          name: url
          required: true
          schema:
            type: string
        - description: URL of the company
          example: glint
          in: query
          name: type
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            image/gif:
              examples:
                response:
                  value: ""
          description: OK
          headers: {}
      summary: Animate Image
      tags: []
  /v1/images/logo:
    get:
      description: |-
        Returns a company logo based on website domain. If the logo is not in our database yet, it will be extracted from the site on the fly. White logo background is automatically removed to make the logo look better on color backgrounds.

        Note: It is not possible to access our company logo API publicly without authentication. If you wish to do so, you have to create proxy on your own server that calls our API from the server side.
      operationId: Company Logo
      parameters:
        - description: URL of the company
          example: google.com
          in: query
          name: domain
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            image/png:
              examples:
                response:
                  value: ""
          description: OK
          headers: {}
      summary: Company Logo
      tags: []
  /v1/images/quote:
    get:
      description: Returns URL of an image created from text according to given style parameters
      operationId: Text to Image
      parameters:
        - description: Text of the quote
          example: If you love life, don't waste time, for time is what life is made up of
          in: query
          name: quote
          required: true
          schema:
            type: string
        - description: Name of the author/source
          example: Bruce Lee
          in: query
          name: author
          required: true
          schema:
            type: string
        - description: Font size for the quote (author font size is calculated automatically)
          example: "60"
          in: query
          name: fontSize
          required: true
          schema:
            type: integer
        - description: Font-family used for quote text
          example: Lora
          in: query
          name: quoteFont
          required: true
          schema:
            type: string
        - description: Font color of the quote text
          example: "#4f4f4f"
          in: query
          name: quoteFontColor
          required: true
          schema:
            type: string
        - description: Font-family used for author name
          example: Lato Black
          in: query
          name: authorFont
          required: true
          schema:
            type: string
        - description: Font color of the author
          example: "#e5e5e5"
          in: query
          name: authorFontColor
          required: true
          schema:
            type: string
        - description: Enable highlight on quote text
          example: "1"
          in: query
          name: enableHighlight
          required: true
          schema:
            type: integer
        - description: Color used for highlight
          example: "#f0ea66"
          in: query
          name: highlightColor
          required: true
          schema:
            type: string
        - description: Background type (gradient/solid)
          example: gradient
          in: query
          name: bgType
          required: true
          schema:
            type: string
        - description: Background color for solid background type
          example: "#000000"
          in: query
          name: backgroundColor
          required: true
          schema:
            type: string
        - description: Type of gradient background (linear/radial)
          example: linear
          in: query
          name: gradientType
          required: true
          schema:
            type: string
        - description: First color for gradient background type
          example: "#1ee691"
          in: query
          name: gradientColor1
          required: true
          schema:
            type: string
        - description: Second color for gradient background type
          example: "#1ddad6"
          in: query
          name: gradientColor2
          required: true
          schema:
            type: string
        - description: URL of the brand logo
          example: https://cdn.ritekit.com/assets/img/common/made-with-ritekit-white.png
          in: query
          name: brandLogo
          required: true
          schema:
            type: string
        - description: "Animation type: none, rays, glint, circle"
          example: glint
          in: query
          name: animation
          required: true
          schema:
            type: string
        - description: showing/hiding quote mark
          in: query
          name: showQuoteMark
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    result: true
                    url: https://media.ritekit.com/media/images/82a4d5be-6981-4913-8018-94161a5e190e.jpeg
          description: OK
          headers: {}
      summary: Text to Image
      tags: []
  /v1/link/cta:
    get:
      description: Returns list of available CTA for current user. Requires each user to authenticate with RiteKit
      operationId: List of CTAs
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    list:
                      - code: Bit.ly
                        default: 0
                        id: bit.ly
                        name: Bit.ly
                      - code: test
                        default: 0
                        id: 2163
                        name: test
                    result: true
          description: OK
          headers: {}
      summary: List of CTAs
      tags: []
  /v1/link/short-link:
    get:
      description: Returns a shorten link with a given CTA.
      operationId: Shorten Link
      parameters:
        - description: URL
          example: https://ritekit.com
          in: query
          name: url
          required: true
          schema:
            type: string
        - description: cta id
          example: "6530"
          in: query
          name: cta
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    ctaId: "6530"
                    limit:
                      remaining: 1000
                    original: https://ritekit.com
                    result: true
                    service: rite.ly
                    url: rite.ly/jr6e
          description: OK
          headers: {}
      summary: Shorten Link
      tags: []
  /v1/search/trending:
    get:
      description: Returns list of hashtags currently trending on Twitter
      operationId: Trending Hashtags
      parameters:
        - description: Restrict results only to green hashtags. Hides overused (red) hashtags.
          in: query
          name: green
          required: false
          schema:
            default: "1"
            type: boolean
        - description: Restrict results only to hashtags with latin characters
          in: query
          name: latin
          required: false
          schema:
            default: "1"
            type: boolean
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    code: 200
                    message: OK
                    result: true
                    tags:
                      - color: 3
                        exposure: 122017712
                        links: 0.6537888
                        mentions: 0.2131563
                        photos: 0.2045048
                        retweets: 10025
                        tag: blackfriday
                        tweets: 6704
                      - color: 3
                        exposure: 51914008
                        links: 0.4114146
                        mentions: 0.1771709
                        photos: 0.327556
                        retweets: 9184
                        tag: happythanksgiving
                        tweets: 5712
                      - color: 3
                        exposure: 5492292
                        links: 0.9990805
                        mentions: 0.0031261
                        photos: 0.0283192
                        retweets: 179
                        tag: job
                        tweets: 5438
                      - color: 3
                        exposure: 7558725
                        links: 0.0007849
                        mentions: 0
                        photos: 0.0007849
                        retweets: 104
                        tag: hadith
                        tweets: 5096
                      - color: 3
                        exposure: 5989358
                        links: 0.1435726
                        mentions: 0.4252922
                        photos: 0.1087229
                        retweets: 8846
                        tag: ariasharrystyles
                        tweets: 4792
                      - color: 3
                        exposure: 541196
                        links: 0.9822763
                        mentions: 0.0036302
                        photos: 0
                        retweets: 192
                        tag: mtvstars
                        tweets: 4683
                      - color: 3
                        exposure: 4334317
                        links: 0.0017961
                        mentions: 0.0121239
                        photos: 0.9982039
                        retweets: 2200
                        tag: newprofilepic
                        tweets: 4454
                      - color: 3
                        exposure: 4363421
                        links: 1
                        mentions: 0.0059172
                        photos: 0.0089941
                        retweets: 67
                        tag: hiring
                        tweets: 4225
                      - color: 3
                        exposure: 11793633
                        links: 0.0803743
                        mentions: 0.2557115
                        photos: 0.0195431
                        retweets: 446
                        tag: boxluansantana10anos
                        tweets: 3633
                      - color: 3
                        exposure: 7265592
                        links: 0.97724
                        mentions: 0.04552
                        photos: 0.0959378
                        retweets: 358
                        tag: ad
                        tweets: 3471
                      - color: 3
                        exposure: 30332321
                        links: 0.963461
                        mentions: 0.0561239
                        photos: 0.1584332
                        retweets: 987
                        tag: news
                        tweets: 3421
                      - color: 3
                        exposure: 8032954
                        links: 0.0552941
                        mentions: 0.0035294
                        photos: 0.0035294
                        retweets: 212
                        tag: quran
                        tweets: 3400
                      - color: 3
                        exposure: 72458
                        links: 1
                        mentions: 0
                        photos: 1
                        retweets: 17
                        tag: trecru
                        tweets: 3200
                      - color: 3
                        exposure: 6195338
                        links: 1
                        mentions: 0.1421536
                        photos: 0.0013132
                        retweets: 21
                        tag: tuitutil
                        tweets: 3046
                      - color: 3
                        exposure: 47011650
                        links: 0.8405505
                        mentions: 0.2349782
                        photos: 0.1285666
                        retweets: 4009
                        tag: rt
                        tweets: 2979
                      - color: 3
                        exposure: 19059058
                        links: 0.7874807
                        mentions: 0.3203246
                        photos: 0.070711
                        retweets: 1054
                        tag: np
                        tweets: 2588
                      - color: 3
                        exposure: 2478625
                        links: 0.1447261
                        mentions: 0.1054783
                        photos: 0.1210139
                        retweets: 14304
                        tag: indonesia
                        tweets: 2446
                      - color: 3
                        exposure: 54113471
                        links: 0.9290407
                        mentions: 0.1533071
                        photos: 0.1060009
                        retweets: 559
                        tag: music
                        tweets: 2283
                      - color: 3
                        exposure: 5046671
                        links: 0.9981884
                        mentions: 0.0076993
                        photos: 0.0303442
                        retweets: 42
                        tag: jobs
                        tweets: 2208
          description: OK
          headers: {}
      summary: Trending Hashtags
      tags: []
  /v1/stats/auto-hashtag:
    get:
      description: Returns auto-hashtagged text of the post.
      operationId: Auto-Hashtag
      parameters:
        - description: Text of the post
          example: Is artificial intelligence the future of customer service?
          in: query
          name: post
          required: true
          schema:
            type: string
        - description: Max number of hashtags.
          in: query
          name: maxHashtags
          required: false
          schema:
            default: 2
            type: integer
        - description: "Position of hashtags: end => at the end, auto => anywhere"
          in: query
          name: hashtagPosition
          required: false
          schema:
            default: auto
            type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    code: 200
                    message: OK
                    post: "Is #ArtificialIntelligence the future of #CustomerService?"
                    result: true
          description: OK
          headers: {}
      summary: Auto-Hashtag
      tags: []
  /v1/stats/hashtag-suggestions:
    get:
      description: Returns list of hashtag suggestions for a single-word topic or a shorter text up to 1000 characters. Takes into account both semantic relevancy and real-time hashtag popularity.
      operationId: Hashtag Suggestions
      parameters:
        - description: Topic
          example: seo
          in: query
          name: text
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    code: 200
                    data:
                      - color: 3
                        exposure: 5217908
                        hashtag: seo
                        images: 31.33333
                        links: 98
                        mentions: 14.66667
                        retweets: 338
                        tag: seo
                        tweets: 600
                    hashtag: seo
                    message: OK
                    result: true
          description: OK
          headers: {}
      summary: Hashtag Suggestions
      tags: []
  "/v1/stats/history/{hashtag}":
    get:
      description: Returns historical stats for a given hashtag from the last 30 days
      operationId: Hashtag History
      parameters:
        - description: "Hashtag without # mark"
          example: job
          in: path
          name: hashtag
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    code: 200
                    color:
                      - Unused
                      - Overused
                      - Good
                      - Great
                    data:
                      - color: 3
                        date: 2017-10-25
                        exposure: 160471200
                        images: 0.03
                        links: 1
                        mentions: 0.01
                        retweets: 3100
                        tag: job
                        tweets: 153000
                      - color: 3
                        date: 2017-10-26
                        exposure: 109069700
                        images: 0.02
                        links: 1
                        mentions: 0.01
                        retweets: 4100
                        tag: job
                        tweets: 151000
                      - color: 3
                        date: 2017-10-27
                        exposure: 137699400
                        images: 0.03
                        links: 1
                        mentions: 0.01
                        retweets: 3500
                        tag: job
                        tweets: 148800
                      - color: 3
                        date: 2017-10-28
                        exposure: 235051400
                        images: 0.03
                        links: 1
                        mentions: 0.01
                        retweets: 4600
                        tag: job
                        tweets: 137300
                      - color: 3
                        date: 2017-10-29
                        exposure: 121564000
                        images: 0.02
                        links: 1
                        mentions: 0
                        retweets: 3500
                        tag: job
                        tweets: 134500
                      - color: 3
                        date: 2017-10-30
                        exposure: 128854800
                        images: 0.02
                        links: 1
                        mentions: 0.01
                        retweets: 3600
                        tag: job
                        tweets: 143000
                      - color: 3
                        date: 2017-10-31
                        exposure: 132086500
                        images: 0.02
                        links: 1
                        mentions: 0.01
                        retweets: 4100
                        tag: job
                        tweets: 140800
                      - color: 3
                        date: 2017-11-01
                        exposure: 131824000
                        images: 0.02
                        links: 0.99
                        mentions: 0.01
                        retweets: 3400
                        tag: job
                        tweets: 145400
                      - color: 3
                        date: 2017-11-02
                        exposure: 184530800
                        images: 0.02
                        links: 1
                        mentions: 0.01
                        retweets: 3600
                        tag: job
                        tweets: 155700
                      - color: 3
                        date: 2017-11-03
                        exposure: 144650100
                        images: 0.02
                        links: 1
                        mentions: 0.01
                        retweets: 4200
                        tag: job
                        tweets: 153100
                      - color: 3
                        date: 2017-11-04
                        exposure: 109752200
                        images: 0.02
                        links: 1
                        mentions: 0.01
                        retweets: 4700
                        tag: job
                        tweets: 137800
                      - color: 3
                        date: 2017-11-05
                        exposure: 135693300
                        images: 0.02
                        links: 1
                        mentions: 0.01
                        retweets: 3600
                        tag: job
                        tweets: 136400
                      - color: 3
                        date: 2017-11-06
                        exposure: 156251100
                        images: 0.02
                        links: 1
                        mentions: 0.01
                        retweets: 3400
                        tag: job
                        tweets: 151500
                      - color: 3
                        date: 2017-11-07
                        exposure: 172000300
                        images: 0.02
                        links: 1
                        mentions: 0.01
                        retweets: 4500
                        tag: job
                        tweets: 157300
                      - color: 3
                        date: 2017-11-08
                        exposure: 179755400
                        images: 0.02
                        links: 1
                        mentions: 0.01
                        retweets: 3800
                        tag: job
                        tweets: 155800
                      - color: 3
                        date: 2017-11-09
                        exposure: 146006500
                        images: 0.02
                        links: 1
                        mentions: 0.01
                        retweets: 2800
                        tag: job
                        tweets: 164300
                      - color: 3
                        date: 2017-11-10
                        exposure: 109453700
                        images: 0.03
                        links: 1
                        mentions: 0.01
                        retweets: 2700
                        tag: job
                        tweets: 153500
                      - color: 3
                        date: 2017-11-11
                        exposure: 103181700
                        images: 0.01
                        links: 1
                        mentions: 0.01
                        retweets: 1800
                        tag: job
                        tweets: 144800
                      - color: 3
                        date: 2017-11-12
                        exposure: 67415600
                        images: 0.02
                        links: 1
                        mentions: 0.01
                        retweets: 800
                        tag: job
                        tweets: 40200
                      - color: 3
                        date: 2017-11-13
                        exposure: 102777900
                        images: 0.02
                        links: 1
                        mentions: 0.01
                        retweets: 2400
                        tag: job
                        tweets: 115200
                      - color: 3
                        date: 2017-11-14
                        exposure: 100626300
                        images: 0.03
                        links: 1
                        mentions: 0.01
                        retweets: 2500
                        tag: job
                        tweets: 120400
                      - color: 3
                        date: 2017-11-15
                        exposure: 103573900
                        images: 0.03
                        links: 1
                        mentions: 0.01
                        retweets: 2300
                        tag: job
                        tweets: 148200
                      - color: 3
                        date: 2017-11-16
                        exposure: 104332600
                        images: 0.02
                        links: 1
                        mentions: 0.01
                        retweets: 3900
                        tag: job
                        tweets: 153000
                      - color: 3
                        date: 2017-11-17
                        exposure: 114890500
                        images: 0.03
                        links: 1
                        mentions: 0.01
                        retweets: 2600
                        tag: job
                        tweets: 124000
                      - color: 3
                        date: 2017-11-18
                        exposure: 78934500
                        images: 0.03
                        links: 1
                        mentions: 0.01
                        retweets: 1900
                        tag: job
                        tweets: 116400
                      - color: 3
                        date: 2017-11-19
                        exposure: 125604100
                        images: 0.03
                        links: 1
                        mentions: 0.01
                        retweets: 2600
                        tag: job
                        tweets: 120400
                      - color: 3
                        date: 2017-11-20
                        exposure: 157730700
                        images: 0.03
                        links: 1
                        mentions: 0.01
                        retweets: 3400
                        tag: job
                        tweets: 128300
                      - color: 3
                        date: 2017-11-21
                        exposure: 109622600
                        images: 0.02
                        links: 1
                        mentions: 0
                        retweets: 3100
                        tag: job
                        tweets: 130000
                      - color: 3
                        date: 2017-11-22
                        exposure: 85755200
                        images: 0.02
                        links: 1
                        mentions: 0.01
                        retweets: 1700
                        tag: job
                        tweets: 111600
                      - color: 3
                        date: 2017-11-23
                        exposure: 189899700
                        images: 0.03
                        links: 1
                        mentions: 0.01
                        retweets: 3300
                        tag: job
                        tweets: 131400
                    hashtag: job
                    message: OK
                    result: true
          description: OK
          headers: {}
      summary: Hashtag History
      tags: []
  /v1/stats/multiple-hashtags:
    get:
      description: Returns real-time stats for up to 100 hashtags (updated hourly).
      operationId: Hashtag Stats
      parameters:
        - description: "Hashtag(s) without # mark"
          example: jobs,hello
          explode: false
          in: query
          name: tags
          required: true
          schema:
            items: {}
            type: array
          style: form
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    code: 200
                    color:
                      - Unused
                      - Overused
                      - Good
                      - Great
                    hashtags:
                      - jobs
                      - hello
                    message: OK
                    result: true
                    stats:
                      - color: 3
                        exposure: 5046671
                        hashtag: jobs
                        images: 0.0303442
                        links: 0.9981884
                        mentions: 0.0076993
                        retweets: 42
                        tag: jobs
                        tweets: 2208
                      - color: 2
                        exposure: 5254
                        hashtag: hello
                        images: 0.5714286
                        links: 0.3809524
                        mentions: 0.1904762
                        retweets: 12
                        tag: hello
                        tweets: 21
          description: OK
          headers: {}
      summary: Hashtag Stats
      tags: []
  /v2/instagram/hashtags-cleaner:
    get:
      description: Remove banned hashtags before posting to Instagram
      operationId: Hashtags cleaner
      parameters:
        - description: post
          example: "#instaphotography #instabeauty #instagirls #instanature #instagirl #photography #beauty #girls #nature #girl #sky #water #lady #ladies #woman #women #photograph #photographs #beauties #sunlight #sitting #waters #skies #sit #photographies"
          in: query
          name: post
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              examples:
                response:
                  value:
                    bannedHashtags:
                      - "#instagirl"
                      - "#woman"
                      - "#women"
                    message: OK
                    post: "#instaphotography #instabeauty #instagirls #instanature #photography #beauty #girls #nature #girl #sky #water #lady #ladies #photograph #photographs #beauties #sunlight #sitting #waters #skies #sit #photographies"
                    result: true
          description: OK
          headers: {}
      summary: Hashtags cleaner
      tags: []
components:
  schemas:
    Emojis: {}
    Hashtags: {}
    Images: {}
    Instagram: {}
    Link_shortening: {}
