{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "api.mastercard.com",
  "info": {
    "description": "The Locations API provides access to MasterCard's ATM and Merchant location database",
    "title": "Locations API",
    "version": "1.0.0",
    "x-artifactId": "locations",
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://developer.mastercard.com/devzone/api/portal/swagger/locations",
        "version": "2.0"
      }
    ],
    "x-providerName": "mastercard.com",
    "x-serviceName": "Locations",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    }
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/atms/v1/atm": {
      "get": {
        "description": "Returns detailed information about an ATM location.  This information can be used to display ATMs on a map, provide driving directions, or show special ATM features.\n",
        "parameters": [
          {
            "description": "Zero-based offset where the response will start. The actual start position is this value +1. An offset of 10 starts at item 11. Combined with the PageLength option this allows pagination to be supported through the service requests.",
            "in": "query",
            "name": "PageOffset",
            "required": true,
            "type": "integer",
            "x-example": "0",
            "x-explorer": true
          },
          {
            "description": "Maximum number of items to retrieve within the current \"page\" of results.",
            "in": "query",
            "name": "PageLength",
            "required": true,
            "type": "integer",
            "x-example": "5",
            "x-explorer": true
          },
          {
            "description": "Line 1 of the street address for the merchant location.  Usually includes the street number and name. This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter and either City parameter or PostalCode parameter.",
            "in": "query",
            "name": "AddressLine1",
            "required": false,
            "type": "string",
            "x-example": "114 Fifth Avenue",
            "x-explorer": false
          },
          {
            "description": "Line 2 of the street address usually an apartment number or suite number. This parameter is used rarely and is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter and either City parameter or PostalCode parameter.",
            "in": "query",
            "name": "AddressLine2",
            "required": false,
            "type": "string",
            "x-example": "Apartment 1",
            "x-explorer": false
          },
          {
            "description": "The name of the city for a merchant location.  This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter.",
            "in": "query",
            "name": "City",
            "required": false,
            "type": "string",
            "x-example": "New York City",
            "x-explorer": false
          },
          {
            "description": "The state or province for a merchant location (only supported for US and Canada locations).  This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter.",
            "in": "query",
            "name": "CountrySubdivision",
            "required": false,
            "type": "string",
            "x-example": "NY",
            "x-explorer": false
          },
          {
            "description": "The zip code or postal code for a merchant location.  This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter.",
            "in": "query",
            "name": "PostalCode",
            "required": false,
            "type": "string",
            "x-example": "11101",
            "x-explorer": true
          },
          {
            "description": "Any three digit country code for an ATM location.  Valid values are Three digit alpha country code as defined in ISO 3166-1.  This parameter is ignored if latitude and longitude are provided. This parameter is required if any other address information is provided including AddressLine1 AddressLine2 City PostalCode or CountrySubdivision.",
            "in": "query",
            "name": "Country",
            "required": false,
            "type": "string",
            "x-example": "USA",
            "x-explorer": false
          },
          {
            "description": "The latitude of a merchant location.  If latitude is provided longitude must also be provided.",
            "format": "double",
            "in": "query",
            "name": "Latitude",
            "required": false,
            "type": "number",
            "x-example": "38.76006576913497",
            "x-explorer": false
          },
          {
            "description": "The longitude of a merchant location.  If longitude is provided latitude must also be provided.",
            "format": "double",
            "in": "query",
            "name": "Longitude",
            "required": false,
            "type": "number",
            "x-example": "-90.74615107952418",
            "x-explorer": false
          },
          {
            "description": "Indicates the unit for the radius as well as the units of the distance of each location from the basepoint in the response.",
            "in": "query",
            "name": "DistanceUnit",
            "required": false,
            "type": "string",
            "x-example": "MILE",
            "x-explorer": false
          },
          {
            "description": "This is the radius from the search point in the distance unit you set.  For example if you want to search for locations within 50 miles of a certain point you would set DistanceUnit=mile and Radius=50.  This parameter is ignored in non-geocoded countries.",
            "in": "query",
            "name": "Radius",
            "required": false,
            "type": "integer",
            "x-example": "25",
            "x-explorer": false
          },
          {
            "description": "This indicates whether the ATM should have the ability to read chip cards or not.",
            "in": "query",
            "name": "SupportEMV",
            "required": false,
            "type": "integer",
            "x-example": "1",
            "x-explorer": false
          },
          {
            "description": "This field will provide ATM Terminals which can still process Maestro transactions but are not yet EMV chip reader enabled. Information available only for USA and Argentina till October 2014.",
            "in": "query",
            "name": "InternationalMaestroAccepted",
            "required": false,
            "type": "integer",
            "x-example": "1",
            "x-explorer": false
          }
        ],
        "responses": {
          "200": {
            "description": "An array of ATM locations",
            "schema": {
              "$ref": "#/definitions/AtmsResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "summary": "Returns detailed information about an ATM location.  This information can be used to display ATMs on a map, provide driving directions, or show special ATM features.",
        "tags": [
          "ATM Locations"
        ],
        "x-samples": [
          {
            "name": "atm_locations",
            "request": {
              "application/json": "{\n  \"PageOffset\": \"0\",\n  \"PageLength\": \"5\",\n  \"PostalCode\": \"11101\"\n}"
            },
            "response": {
              "application/json": "{\n \"Atms\":{\n    \"PageOffset\":\"0\",\n    \"TotalCount\":26,\n    \"Atm\":[\n       {\n          \"Location\":{\n             \"Name\":\"Sandbox ATM Location 1\",\n             \"Distance\":0.93,\n             \"DistanceUnit\":\"MILE\",\n             \"Address\":{\n                \"Line1\":\"4201 Leverton Cove Road\",\n                \"Line2\":\"\",\n                \"City\":\"SPRINGFIELD\",\n                \"PostalCode\":\"11101\",\n                \"CountrySubdivision\":{\n                   \"Name\":\"UYQQQQ\",\n                   \"Code\":\"QQ\"\n                },\n                \"Country\":{\n                   \"Name\":\"UYQQQRR\",\n                   \"Code\":\"UYQ\"\n                }\n             },\n             \"Point\":{\n                \"Latitude\":38.76006576913497,\n                \"Longitude\":-90.74615107952418\n             },\n             \"LocationType\":{\n                \"Type\":\"OTHER\"\n             }\n          },\n          \"HandicapAccessible\":\"NO\",\n          \"Camera\":\"NO\",\n          \"Availability\":\"UNKNOWN\",\n          \"AccessFees\":\"UNKNOWN\",\n          \"Owner\":\"Sandbox ATM 1\",\n          \"SharedDeposit\":\"NO\",\n          \"SurchargeFreeAlliance\":\"NO\",\n          \"SurchargeFreeAllianceNetwork\":\"DOES_NOT_PARTICIPATE_IN_SFA\",\n          \"Sponsor\":\"Sandbox\",\n          \"SupportEMV\":1,\n          \"InternationalMaestroAccepted\":1\n       }\n    ]\n  }\n}"
            }
          }
        ]
      }
    },
    "/atms/v1/country": {
      "get": {
        "description": "Returns countries with valid ATM locations.\n",
        "responses": {
          "200": {
            "description": "A list of all the countries that contain ATMs",
            "schema": {
              "$ref": "#/definitions/CountriesResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "summary": "Returns countries with valid ATM locations.",
        "tags": [
          "ATM Countries"
        ],
        "x-samples": [
          {
            "name": "example_atm_country",
            "request": {
              "application/json": "{\n\n}"
            },
            "response": {
              "application/json": "{\n  \"Countries\": {\n    \"Country\": [\n      {\n        \"Name\": \"THAILAND\",\n        \"Code\": \"THA\",\n        \"Geocoding\": \"FALSE\"\n      },\n      {\n        \"Name\": \"TIMOR-LESTE\",\n        \"Code\": \"TMP\",\n        \"Geocoding\": \"FALSE\"\n      },\n      {\n        \"Name\": \"TONGA\",\n        \"Code\": \"TON\",\n        \"Geocoding\": \"FALSE\"\n      }\n    ]\n  }\n}"
            }
          }
        ]
      }
    },
    "/atms/v1/countrysubdivision": {
      "get": {
        "description": "Returns country subdivisions that have ATM locations.  A country subdivision is a segment within a country (ex  state or province). Country subdivisions are only available for the US and Canada.\n",
        "parameters": [
          {
            "description": "Any three digit country code as defined in ISO 3166-1.  \"USA\" or \"CAN\"",
            "in": "query",
            "name": "Country",
            "required": true,
            "type": "string",
            "x-example": "USA",
            "x-explorer": true
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all the CountrySubdivisions",
            "schema": {
              "$ref": "#/definitions/CountrySubdivisionResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "summary": "Returns country subdivisions that have ATM locations.  A country subdivision is a segment within a country (ex  state or province). Country subdivisions are only available for the US and Canada.",
        "tags": [
          "ATM Country Subdivisions"
        ],
        "x-samples": [
          {
            "name": "example_atm_countrysubdivision",
            "request": {
              "application/json": "{\n  \"Country\": \"USA\"\n}"
            },
            "response": {
              "application/json": "{\n  \"CountrySubdivisions\": {\n      \"CountrySubdivision\": [\n        {\n          \"Name\": \"ARMED FORCES AMERICAS\",\n          \"Code\": \"AA\"\n        },\n        {\n          \"Name\": \"ARMED FORCES CAN AFRICA E\",\n          \"Code\": \"AE\"\n        },\n        {\n          \"Name\": \"ALASKA\",\n          \"Code\": \"AK\"\n        }\n      ]\n    }\n}"
            }
          }
        ]
      }
    },
    "/merchants/v1/category": {
      "get": {
        "description": "Returns a list of all merchant categories for contactless and cash back merchants (example:  Airline, Retail, etc.).\n",
        "responses": {
          "200": {
            "description": "A list of all the categories supported",
            "schema": {
              "$ref": "#/definitions/CategoriesResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "summary": "Returns a list of all merchant categories for contactless and cash back merchants (example:  Airline, Retail, etc.).\n",
        "tags": [
          "Merchant Categories"
        ],
        "x-samples": [
          {
            "name": "example_merchants_category",
            "request": {
              "application/json": "{\n\n}"
            },
            "response": {
              "application/json": "{\n  \"Categories\": {\n    \"Category\": [\n      \"1Apparel\",\n      \"2Automotive\",\n      \"3Beauty\",\n      \"4Book Stores\",\n      \"5Convenience Stores\",\n      \"7Dry Cleaners And Laundry Services\",\n      \"8Fast Food Restaurants\",\n      \"9Gift Shops, Hobbies, Jewelers\",\n      \"10Grocery Stores And Supermarkets\",\n      \"11Health\"\n    ]\n  }\n}"
            }
          }
        ]
      }
    },
    "/merchants/v1/country": {
      "get": {
        "description": "Returns countries that have Merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, offer cash at checkout when paying with a Debit MasterCard or Maestro Card.\n",
        "parameters": [
          {
            "description": "This is the type of merchant location. Options  \"acceptance.paypass\" \"topup.repower\"  \"products.prepaidtravelcard\"  and \"offers.easysavings\"",
            "in": "query",
            "name": "details",
            "required": true,
            "type": "string",
            "x-example": "acceptance.paypass",
            "x-explorer": true
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all the countries have a certain category",
            "schema": {
              "$ref": "#/definitions/CountriesResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "summary": "Returns countries that have Merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, offer cash at checkout when paying with a Debit MasterCard or Maestro Card.\n",
        "tags": [
          "Merchant Countries"
        ],
        "x-samples": [
          {
            "name": "example_merchants_country",
            "request": {
              "application/json": "{\n  \"details\": \"acceptance.paypass\"\n}"
            },
            "response": {
              "application/json": "{\n  \"Countries\": {\n    \"Country\": [\n      {\n        \"Name\": \"AUSTRALIA\",\n        \"Code\": \"AUS\",\n        \"Geocoding\": \"TRUE\"\n      },\n      {\n        \"Name\": \"AUSTRIA\",\n        \"Code\": \"AUT\",\n        \"Geocoding\": \"TRUE\"\n      },\n      {\n        \"Name\": \"BELGIUM\",\n        \"Code\": \"BEL\",\n        \"Geocoding\": \"TRUE\"\n      }\n    ]\n  }\n}"
            }
          }
        ]
      }
    },
    "/merchants/v1/countrysubdivision": {
      "get": {
        "description": "Returns country subdivisions that have Merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, offer cash at checkout when paying with a Debit MasterCard or Maestro Card. A country subdivision is a segment within a country (ex  state or province).  Please note country subdivisions are only available for the US and Canada.\n",
        "parameters": [
          {
            "description": "This is the type of merchant location. Options  \"acceptance.paypass\" \"topup.repower\"  \"products.prepaidtravelcard\"  and \"offers.easysavings\"",
            "in": "query",
            "name": "details",
            "required": true,
            "type": "string",
            "x-example": "topup.repower",
            "x-explorer": true
          },
          {
            "description": "Any three digit country code as defined in ISO 3166-1. For example \"USA or \"CAN\"",
            "in": "query",
            "name": "country",
            "required": true,
            "type": "string",
            "x-example": "USA",
            "x-explorer": true
          }
        ],
        "responses": {
          "200": {
            "description": "A list of all the CountrySubdivisions",
            "schema": {
              "$ref": "#/definitions/CountrySubdivisionResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "summary": "Returns country subdivisions that have Merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, offer cash at checkout when paying with a Debit MasterCard or Maestro Card. A country subdivision is a segment within a country (ex  state or province).  Please note country subdivisions are only available for the US and Canada.\n",
        "tags": [
          "Merchant Country Subdivisions"
        ],
        "x-samples": [
          {
            "name": "example_merchants_countrysubdivision",
            "request": {
              "application/json": "{\n  \"details\": \"topup.repower\",\n  \"country\": \"USA\"\n}"
            },
            "response": {
              "application/json": "{\n  \"CountrySubdivisions\": {\n    \"CountrySubdivision\": [\n      {\n        \"Name\": \"ARMED FORCES AMERICAS\",\n        \"Code\": \"AA\"\n      },\n      {\n        \"Name\": \"ARMED FORCES CAN AFRICA E\",\n        \"Code\": \"AE\"\n      },\n      {\n        \"Name\": \"ALASKA\",\n        \"Code\": \"AK\"\n      }\n    ]\n  }\n}"
            }
          }
        ]
      }
    },
    "/merchants/v1/merchant": {
      "get": {
        "description": "Returns merchant location information for merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, participate in the MasterCard Easy Savings program, and offer cash at checkout when paying with a Debit MasterCard or Maestro Card.\n",
        "parameters": [
          {
            "description": "Type of merchant location. Options are \"acceptance.paypass\" \"topup.repower\" \"products.prepaidtravelcard\" \"offers.easysavings\" and \"features.cashback\". Cash Back is currently only available in the US.",
            "in": "query",
            "name": "Details",
            "required": true,
            "type": "string",
            "x-example": "acceptance.paypass",
            "x-explorer": true
          },
          {
            "description": "Zero-based offset where the response will start. The actual start position is this value +1. An offset of 10 starts at item 11. Combined with the PageLength option this allows pagination to be supported through the service requests.",
            "in": "query",
            "name": "PageOffset",
            "required": true,
            "type": "integer",
            "x-example": "0",
            "x-explorer": true
          },
          {
            "description": "Maximum number of items to retrieve within the current \"page\" of results.",
            "in": "query",
            "name": "PageLength",
            "required": true,
            "type": "integer",
            "x-example": "5",
            "x-explorer": true
          },
          {
            "description": "Category of the merchant location. See the Categories (Merchant) resource for a list of valid categories. This parameter is only valid for merchant queries with Details = \"acceptance.paypass\" or \"features.cashback\".",
            "in": "query",
            "name": "Category",
            "required": false,
            "type": "string",
            "x-example": "features.cashback",
            "x-explorer": false
          },
          {
            "description": "Line 1 of the street address for the merchant location.  Usually includes the street number and name. This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter and either City parameter or PostalCode parameter.",
            "in": "query",
            "name": "AddressLine1",
            "required": false,
            "type": "string",
            "x-example": "42 Elm Street",
            "x-explorer": false
          },
          {
            "description": "Line 2 of the street address usually an apartment number or suite number. This parameter is used rarely and is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter and either City parameter or PostalCode parameter.",
            "in": "query",
            "name": "AddressLine2",
            "required": false,
            "type": "string",
            "x-example": "Suite 101",
            "x-explorer": false
          },
          {
            "description": "Name of the city for a merchant location.  This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter.",
            "in": "query",
            "name": "City",
            "required": false,
            "type": "string",
            "x-example": "New York",
            "x-explorer": false
          },
          {
            "description": "State or province for a merchant location (only supported for US and Canada locations).  This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter.",
            "in": "query",
            "name": "CountrySubdivision",
            "required": false,
            "type": "string",
            "x-example": "NY",
            "x-explorer": false
          },
          {
            "description": "Zip code or postal code for a merchant location.  This parameter is ignored if latitude and longitude are provided. If you provide this parameter you must also provide the Country parameter.",
            "in": "query",
            "name": "PostalCode",
            "required": false,
            "type": "string",
            "x-example": "11001",
            "x-explorer": false
          },
          {
            "description": "Any three digit country code for an ATM location.  Valid values are Three digit alpha country code as defined in ISO 3166-1.  This parameter is ignored if latitude and longitude are provided. This parameter is required if any other address information is provided including AddressLine1 AddressLine2 City PostalCode or CountrySubdivision. By default we supply ATM location data for United States ATMs for up to twenty-five records per request.",
            "in": "query",
            "name": "Country",
            "required": false,
            "type": "string",
            "x-example": "USA",
            "x-explorer": false
          },
          {
            "description": "Latitude of a merchant location.  If latitude is provided longitude must also be provided.",
            "format": "double",
            "in": "query",
            "name": "Latitude",
            "required": false,
            "type": "number",
            "x-example": "38.53463",
            "x-explorer": true
          },
          {
            "description": "Longitude of a merchant location.  If longitude is provided latitude must also be provided.",
            "format": "double",
            "in": "query",
            "name": "Longitude",
            "required": false,
            "type": "number",
            "x-example": "-90.286781",
            "x-explorer": true
          },
          {
            "description": "Indicates the unit for the radius as well as the units of the distance of each location from the basepoint in the response.",
            "in": "query",
            "name": "DistanceUnit",
            "required": false,
            "type": "string",
            "x-example": "MILE",
            "x-explorer": false
          },
          {
            "description": "This is the radius from the search point in the distance unit you set.  For example if you want to search for locations within 50 miles of a certain point you would set DistanceUnit=mile and Radius=50.  This parameter is ignored in non-geocoded countries.",
            "in": "query",
            "name": "Radius",
            "required": false,
            "type": "integer",
            "x-example": "25",
            "x-explorer": false
          },
          {
            "description": "Unique identifier that represents the merhcant sponsor of an offer. Any valid merchant ID.",
            "in": "query",
            "name": "OfferMerchantID",
            "required": false,
            "type": "string",
            "x-example": "34760",
            "x-explorer": false
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Merchant locations",
            "schema": {
              "$ref": "#/definitions/MerchantsResponse"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "summary": "Returns merchant location information for merchants offering the following services: accept contactless-enabled cards and devices, allow customers to add money to an eligible MasterCard or Maestro prepaid card, issue MasterCard Prepaid Travel cards, participate in the MasterCard Easy Savings program, and offer cash at checkout when paying with a Debit MasterCard or Maestro Card.\n",
        "tags": [
          "Merchant Locations"
        ],
        "x-samples": [
          {
            "name": "example_merchants",
            "request": {
              "application/json": "{\n  \"Details\": \"acceptance.paypass\",\n  \"PageOffset\": \"0\",\n  \"PageLength\": \"5\",\n  \"Latitude\": \"38.53463\",\n  \"Longitude\": \"-90.286781\"\n}"
            },
            "response": {
              "application/json": "{\n  \"Merchants\": {\n    \"PageOffset\": \"0\",\n    \"TotalCount\": \"3\",\n    \"Merchant\": [\n      {\n        \"Id\": \"36564\",\n        \"Name\": \"Merchant 36564\",\n        \"Category\": \"7 - Dry Cleaners And Laundry Services\",\n        \"Location\": {\n          \"Name\": \"Merchant 36564\",\n          \"Distance\": \"0.9320591049747101\",\n          \"DistanceUnit\": \"MILE\",\n          \"Address\": {\n            \"Line1\": \"3822 West Fork Street\",\n            \"City\": \"Great Falls\",\n            \"PostalCode\": \"51765\",\n            \"CountrySubdivision\": {\n              \"Name\": \"Country Subdivision 517521\",\n              \"Code\": \"Country Subdivision Code 517521\"\n            },\n            \"Country\": {\n              \"Name\": \"Country 5175215\",\n              \"Code\": \"Country Code 5175215\"\n            }\n          },\n          \"Point\": {\n            \"Latitude\": \"38.52114017591121\",\n            \"Longitude\": \"-90.28678100000002\"\n          }\n        },\n        \"Acceptance\": {\n          \"PayPass\": {\n            \"Register\": \"true\"\n          }\n        }\n      }\n    ]\n  }\n}"
            }
          }
        ]
      }
    }
  },
  "definitions": {
    "Acceptance": {
      "properties": {
        "PayPass": {
          "$ref": "#/definitions/PayPass"
        }
      }
    },
    "Address": {
      "properties": {
        "City": {
          "description": "The name of the city for an ATM location.",
          "example": "CHICAGO",
          "type": "string"
        },
        "Country": {
          "$ref": "#/definitions/Country"
        },
        "CountrySubdivision": {
          "$ref": "#/definitions/CountrySubdivision"
        },
        "Line1": {
          "description": "Line 1 of the street address for the merchant location.  Usually includes the street number and name.",
          "example": "42 ELM AVENUE",
          "type": "string"
        },
        "Line2": {
          "description": "Line 2 of the street address usually an apartment number or suite number.",
          "example": "SUITE 100",
          "type": "string"
        },
        "PostalCode": {
          "description": "The zip code or postal code for an ATM location.",
          "example": 60601,
          "type": "string"
        }
      }
    },
    "Atm": {
      "properties": {
        "AccessFees": {
          "description": "This value indicates under what conditions access fees are charged. Options are UNKNOWN, DOMESTIC, INTERNATIONAL, DOMESTIC_AND_INTERNATIONAL, NO_FEE.",
          "example": "DOMESTIC",
          "type": "string"
        },
        "Availability": {
          "description": "This value indicates the availability hours of the ATM. Options are UNKNOWN, ALWAYS_AVAILABLE, BUSINESS_HOURS, IRREGULAR_HOURS.",
          "example": "ALWAYS_AVAILABLE",
          "type": "string"
        },
        "Camera": {
          "description": "This value indicates whether or not a security camera is present or near ATM. Options are UNKNOWN, YES, NO.",
          "example": "YES",
          "type": "string"
        },
        "HandicapAccessible": {
          "description": "This value indicates whether or not the ATM is accessible by wheelchair. Options are UNKNOWN, YES, NO.",
          "example": "YES",
          "type": "string"
        },
        "InternationalMaestroAccepted": {
          "description": "This field will provide ATM Terminals which can still process Maestro transactions but are not yet EMV chip reader enabled. Information available only for USA and Argentina till October 2014. 1=Yes.",
          "example": 1,
          "type": "integer"
        },
        "Location": {
          "$ref": "#/definitions/Location"
        },
        "Owner": {
          "description": "This is the DBA name of the financial institution affiliate or independent service organization.",
          "example": "EGLOBAL",
          "type": "string"
        },
        "SharedDeposit": {
          "description": "This value indicates whether or not the ATM participates in the MasterCard Shared Deposit network. Options are YES or NO.",
          "example": "YES",
          "type": "string"
        },
        "Sponsor": {
          "description": "This is the legal or business name of the entity that sponsors the owner of the ATM into the MasterCard network.",
          "example": "PeoplesBank",
          "type": "string"
        },
        "SupportEMV": {
          "description": "This indicates whether the ATM has the ability to read chip cards or not. Options are 1 = Yes 2 = No or Empty = Unknown.",
          "example": 1,
          "type": "integer"
        },
        "SurchargeFreeAlliance": {
          "description": "This value indicates whether or not the ATM participates in the MasterCard Shared (only) Surcharge Free Alliance network. Options are YES or NO.",
          "example": "YES",
          "type": "string"
        },
        "SurchargeFreeAllianceNetwork": {
          "description": "This value indicates whether or not the ATM participates in the MasterCard Shared (only) Surcharge Free Alliance network. Options are DOES_NOT_PARTICIPATE_IN_SFA, ALLPOINT_PREPAID, MONEYPASS_DEBIT, and ALL_SURCHARGE_FREE.",
          "example": "DOES_NOT_PARTICIPATE_IN_SFA",
          "type": "string"
        }
      }
    },
    "Atms": {
      "properties": {
        "Atm": {
          "items": {
            "$ref": "#/definitions/Atm"
          },
          "type": "array"
        },
        "PageOffset": {
          "description": "Zero-based offset where the response will start. The actual start position is this value +1. An offset of 10 starts at item 11. Combined with the PageLength option this allows pagination to be supported through the service requests.",
          "example": 25,
          "type": "string"
        },
        "TotalCount": {
          "description": "This is the total number of ATMs that match your criteria.",
          "example": 2746,
          "type": "integer"
        }
      }
    },
    "AtmsResponse": {
      "properties": {
        "Atms": {
          "$ref": "#/definitions/Atms"
        }
      }
    },
    "Cashback": {
      "properties": {
        "MaximumAmount": {
          "description": "Maximum cashback amount permitted at the location.",
          "example": 40,
          "type": "integer"
        }
      }
    },
    "Categories": {
      "properties": {
        "Category": {
          "items": {
            "description": "Merchant's category.",
            "example": "SPORTS",
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CategoriesResponse": {
      "properties": {
        "Categories": {
          "$ref": "#/definitions/Categories"
        }
      }
    },
    "Countries": {
      "properties": {
        "Country": {
          "items": {
            "$ref": "#/definitions/Country"
          },
          "type": "array"
        }
      }
    },
    "CountriesResponse": {
      "properties": {
        "Countries": {
          "$ref": "#/definitions/Countries"
        }
      }
    },
    "Country": {
      "properties": {
        "Code": {
          "description": "Three digit alpha country code as defined in ISO 3166-1.",
          "example": "AFG",
          "type": "string"
        },
        "Geocoding": {
          "description": "Boolean which indicates if the country is geocoded. TRUE or FALSE",
          "example": true,
          "type": "boolean"
        },
        "Name": {
          "description": "Name of the country.",
          "example": "AFGHANISTAN",
          "type": "string"
        }
      }
    },
    "CountrySubdivision": {
      "properties": {
        "Code": {
          "description": "Abbreviated code for the state or province.",
          "example": "IL",
          "type": "string"
        },
        "Name": {
          "description": "Name of the state or province for an ATM location.",
          "example": "ILLINOIS",
          "type": "string"
        }
      }
    },
    "CountrySubdivisionResponse": {
      "properties": {
        "CountrySubdivisions": {
          "$ref": "#/definitions/CountrySubdivisions"
        }
      }
    },
    "CountrySubdivisions": {
      "properties": {
        "CountrySubdivision": {
          "items": {
            "$ref": "#/definitions/CountrySubdivision"
          },
          "type": "array"
        }
      }
    },
    "Error": {
      "properties": {
        "ReasonCode": {
          "description": "Identify the reason for the error.",
          "type": "string"
        },
        "Source": {
          "description": "Unique identifier that attempts to define the field in error when available.  If a specific field can't be identified System will be returned.",
          "example": "Atms.Atm.Location.Address.Line1",
          "type": "string"
        }
      }
    },
    "ErrorResponse": {
      "properties": {
        "Errors": {
          "$ref": "#/definitions/Errors"
        }
      }
    },
    "Errors": {
      "properties": {
        "Error": {
          "items": {
            "$ref": "#/definitions/Error"
          },
          "type": "array"
        }
      }
    },
    "Features": {
      "properties": {
        "Cashback": {
          "$ref": "#/definitions/Cashback"
        }
      }
    },
    "Location": {
      "properties": {
        "Address": {
          "$ref": "#/definitions/Address"
        },
        "Distance": {
          "description": "This is the numerical value for the distance from the provided location to the selected ATM.",
          "example": 0.91,
          "format": "double",
          "type": "number"
        },
        "DistanceUnit": {
          "description": "This is the unit of measure value for the distance from the provided location to the selected ATM. Options are KILOMETER and MILE.",
          "example": "KILOMETER",
          "type": "string"
        },
        "LocationType": {
          "$ref": "#/definitions/LocationType"
        },
        "Name": {
          "description": "This is the name of the ATM location",
          "example": "QUIK TRIP STORE 1",
          "type": "string"
        },
        "Point": {
          "$ref": "#/definitions/Point"
        }
      }
    },
    "LocationType": {
      "properties": {
        "AirportCode": {
          "description": "Airport code is a 3 digit field. This is an optional field and will only be returned if Atms.Atm.Location.LocationType.Type=AIRPORT",
          "example": "JFK",
          "type": "string"
        },
        "Type": {
          "description": "Type of location for the ATM. Options are OTHER, AIRPORT, HOSPITAL, FINANCIAL_INSTITUTION.",
          "example": "AIRPORT",
          "type": "string"
        }
      }
    },
    "Merchant": {
      "properties": {
        "Acceptance": {
          "$ref": "#/definitions/Acceptance"
        },
        "Category": {
          "description": "Merchant's category.",
          "example": "DINING AND ENTERTAINMENT",
          "type": "string"
        },
        "Features": {
          "$ref": "#/definitions/Features"
        },
        "Id": {
          "description": "Numerical merchant identifier.",
          "example": 2801796,
          "type": "string"
        },
        "Location": {
          "$ref": "#/definitions/Location"
        },
        "MerchantOfferId": {
          "description": "Merchant's Easy Savings Offer Id",
          "example": 1143109,
          "type": "string"
        },
        "Name": {
          "description": "Name of the merchant",
          "example": "MCDONALDS",
          "type": "string"
        },
        "PhoneNumber": {
          "description": "Merchant's phone number",
          "example": 8165442210,
          "type": "string"
        },
        "Products": {
          "$ref": "#/definitions/Products"
        },
        "Topup": {
          "$ref": "#/definitions/Topup"
        },
        "WebsiteUrl": {
          "description": "Merchant's website URL address.",
          "example": "www.mcdonalds.com",
          "type": "string"
        }
      }
    },
    "Merchants": {
      "properties": {
        "Merchant": {
          "items": {
            "$ref": "#/definitions/Merchant"
          },
          "type": "array"
        },
        "PageOffset": {
          "description": "Zero-based offset where the response will start. The actual start position is this value +1. An offset of 10 starts at item 11. Combined with the PageLength option this allows pagination to be supported through the service requests.",
          "example": 25,
          "type": "string"
        },
        "TotalCount": {
          "description": "This is the total number of ATtms that match your criteria.",
          "example": 86,
          "type": "integer"
        }
      }
    },
    "MerchantsResponse": {
      "properties": {
        "Merchants": {
          "$ref": "#/definitions/Merchants"
        }
      }
    },
    "PayPass": {
      "properties": {
        "Concession": {
          "description": "Boolean value which indicates if the concession area is equipped with a PayPass card reader.",
          "example": true,
          "type": "boolean"
        },
        "DriveThru": {
          "description": "Boolean value which indicates if the drive thru is equipped with a PayPass card reader.",
          "example": true,
          "type": "boolean"
        },
        "FuelPump": {
          "description": "Boolean value which indicates if the fuel pump is equipped with a PayPass card reader.",
          "example": true,
          "type": "boolean"
        },
        "Pharmacy": {
          "description": "Boolean value which indicates if the pharmacy is equipped with a PayPass card reader.",
          "example": true,
          "type": "boolean"
        },
        "Register": {
          "description": "Boolean value which indicates if the register is equipped with a PayPass card reader.",
          "example": true,
          "type": "boolean"
        },
        "Ticketing": {
          "description": "Boolean value which indicates if the ticketing area is equipped with a PayPass card reader.",
          "example": true,
          "type": "boolean"
        },
        "TollBooth": {
          "description": "Boolean value which indicates if the toll booth is equipped with a PayPass card reader.",
          "example": true,
          "type": "boolean"
        },
        "VendingMachine": {
          "description": "Boolean value which indicates if the vending machine is equipped with a PayPass card reader.",
          "example": true,
          "type": "boolean"
        }
      }
    },
    "Point": {
      "properties": {
        "Latitude": {
          "description": "Latitude of the merchant's location.",
          "example": 32.75723000000001,
          "format": "double",
          "type": "number"
        },
        "Longitude": {
          "description": "Longitude of the merchant's location.",
          "example": 89.700215,
          "format": "double",
          "type": "number"
        }
      }
    },
    "Products": {
      "properties": {
        "PrepaidTravelcard": {
          "description": "Boolean value which indicates if the merchant accepts MasterCard Prepaid Travel Cards.",
          "example": true,
          "type": "boolean"
        }
      }
    },
    "Topup": {
      "properties": {
        "rePower": {
          "$ref": "#/definitions/rePower"
        }
      }
    },
    "rePower": {
      "properties": {
        "CardSwipe": {
          "description": "Boolean value which indicates if the repower card load type at this merchant supports Card Swipe.",
          "example": true,
          "type": "boolean"
        },
        "MoneyPak": {
          "description": "Boolean value which indicates if the repower card load type at this merchant supports MoneyPak.",
          "example": true,
          "type": "boolean"
        }
      }
    }
  }
}