swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Use these APIs to manage Azure CDN resources through the Azure Resource Manager. You must make sure that requests made to these resources are secure.
  title: CdnManagementClient
  version: 2016-10-02
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cdn/resource-manager/Microsoft.Cdn/stable/2016-10-02/cdn.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: cdn
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: Version of the API to be used with the client request. Current version is 2016-10-02.
    in: query
    name: api-version
    required: true
    type: string
  resourceGroupNameParameter:
    description: Name of the Resource group within the Azure subscription.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+$
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Azure Subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Cdn/checkNameAvailability:
    post:
      description: Check the availability of a resource name. This is needed for resources where name is globally unique, such as a CDN endpoint.
      operationId: CheckNameAvailability
      parameters:
        - description: Input to check.
          in: body
          name: checkNameAvailabilityInput
          required: true
          schema:
            $ref: "#/definitions/CheckNameAvailabilityInput"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/CheckNameAvailabilityOutput"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CheckNameAvailability
  /providers/Microsoft.Cdn/edgenodes:
    get:
      description: Lists all the edge nodes of a CDN service.
      operationId: EdgeNodes_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/EdgenodeResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Edgenodes
      x-ms-pageable:
        nextLinkName: nextLink
  /providers/Microsoft.Cdn/operations:
    get:
      description: Lists all of the available CDN REST API operations.
      operationId: ListOperations
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/checkResourceUsage":
    post:
      description: Check the quota and actual usage of the CDN profiles under the given subscription.
      operationId: ListResourceUsage
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ResourceUsageListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CheckResourceUsage
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/profiles":
    get:
      description: Lists all of the CDN profiles within an Azure subscription.
      operationId: Profiles_List
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ProfileListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Profiles
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles":
    get:
      description: Lists all of the CDN profiles within a resource group.
      operationId: Profiles_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ProfileListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Profiles
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}":
    delete:
      description: Deletes an existing CDN profile with the specified parameters. Deleting a profile will result in the deletion of all of the sub-resources including endpoints, origins and custom domains.
      operationId: Profiles_Delete
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
        "204":
          description: No Content. The request has been accepted but the profile was not found.
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Profiles
      x-ms-long-running-operation: true
    get:
      description: Gets a CDN profile with the specified profile name under the specified subscription and resource group.
      operationId: Profiles_Get
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Profile"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Profiles
    patch:
      description: Updates an existing CDN profile with the specified profile name under the specified subscription and resource group.
      operationId: Profiles_Update
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Profile properties needed to update an existing profile.
          in: body
          name: profileUpdateParameters
          required: true
          schema:
            $ref: "#/definitions/ProfileUpdateParameters"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Profile"
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/Profile"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Profiles
      x-ms-long-running-operation: true
    put:
      description: Creates a new CDN profile with a profile name under the specified subscription and resource group.
      operationId: Profiles_Create
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Profile properties needed to create a new profile.
          in: body
          name: profile
          required: true
          schema:
            $ref: "#/definitions/Profile"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Profile"
        "201":
          description: Created. The request has been fulfilled and a new profile has been created.
          schema:
            $ref: "#/definitions/Profile"
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/Profile"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Profiles
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/checkResourceUsage":
    post:
      description: Checks the quota and actual usage of endpoints under the given CDN profile.
      operationId: Profiles_ListResourceUsage
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ResourceUsageListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Profiles
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints":
    get:
      description: Lists existing CDN endpoints.
      operationId: Endpoints_ListByProfile
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/EndpointListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}":
    delete:
      description: Deletes an existing CDN endpoint with the specified endpoint name under the specified subscription, resource group and profile.
      operationId: Endpoints_Delete
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: No Content. The request has been accepted but the endpoint was not found.
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
      x-ms-long-running-operation: true
    get:
      description: Gets an existing CDN endpoint with the specified endpoint name under the specified subscription, resource group and profile.
      operationId: Endpoints_Get
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Endpoint"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
    patch:
      description: Updates an existing CDN endpoint with the specified endpoint name under the specified subscription, resource group and profile. Only tags and Origin HostHeader can be updated after creating an endpoint. To update origins, use the Update Origin operation. To update custom domains, use the Update Custom Domain operation.
      operationId: Endpoints_Update
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Endpoint update properties
          in: body
          name: endpointUpdateProperties
          required: true
          schema:
            $ref: "#/definitions/EndpointUpdateParameters"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Endpoint"
        "202":
          description: Accepted and  the operation will complete asynchronously
          schema:
            $ref: "#/definitions/Endpoint"
        default:
          description: CDN error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
      x-ms-long-running-operation: true
    put:
      description: Creates a new CDN endpoint with the specified endpoint name under the specified subscription, resource group and profile.
      operationId: Endpoints_Create
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Endpoint properties
          in: body
          name: endpoint
          required: true
          schema:
            $ref: "#/definitions/Endpoint"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Endpoint"
        "201":
          description: Created. The request has been fulfilled and a new endpoint has been created.
          schema:
            $ref: "#/definitions/Endpoint"
        "202":
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/Endpoint"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/checkResourceUsage":
    post:
      description: Checks the quota and usage of geo filters and custom domains under the given endpoint.
      operationId: Endpoints_ListResourceUsage
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ResourceUsageListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains":
    get:
      description: Lists all of the existing custom domains within an endpoint.
      operationId: CustomDomains_ListByEndpoint
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/CustomDomainListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CustomDomains
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains/{customDomainName}":
    delete:
      description: Deletes an existing custom domain within an endpoint.
      operationId: CustomDomains_Delete
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Name of the custom domain within an endpoint.
          in: path
          name: customDomainName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
        "202":
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/CustomDomain"
        "204":
          description: No Content. The request has been accepted but the custom domain was not found
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CustomDomains
      x-ms-long-running-operation: true
    get:
      description: Gets an existing custom domain within an endpoint.
      operationId: CustomDomains_Get
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Name of the custom domain within an endpoint.
          in: path
          name: customDomainName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/CustomDomain"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CustomDomains
    put:
      description: Creates a new custom domain within an endpoint.
      operationId: CustomDomains_Create
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Name of the custom domain within an endpoint.
          in: path
          name: customDomainName
          required: true
          type: string
        - description: Properties required to create a new custom domain.
          in: body
          name: customDomainProperties
          required: true
          schema:
            $ref: "#/definitions/CustomDomainParameters"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/CustomDomain"
        "201":
          description: Created. The request has been fulfilled and a new custom domain has been created.
          schema:
            $ref: "#/definitions/CustomDomain"
        "202":
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/CustomDomain"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CustomDomains
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains/{customDomainName}/disableCustomHttps":
    post:
      description: Disable https delivery of the custom domain.
      operationId: CustomDomains_DisableCustomHttps
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Name of the custom domain within an endpoint.
          in: path
          name: customDomainName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
        "202":
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/CustomDomain"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CustomDomains
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/customDomains/{customDomainName}/enableCustomHttps":
    post:
      description: Enable https delivery of the custom domain.
      operationId: CustomDomains_EnableCustomHttps
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Name of the custom domain within an endpoint.
          in: path
          name: customDomainName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
        "202":
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/CustomDomain"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CustomDomains
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/load":
    post:
      description: Pre-loads a content to CDN. Available for Verizon Profiles.
      operationId: Endpoints_LoadContent
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: "The path to the content to be loaded. Path should be a full URL, e.g. ‘/pictures/city.png' which loads a single file "
          in: body
          name: contentFilePaths
          required: true
          schema:
            $ref: "#/definitions/LoadParameters"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Accepted and the operation will complete asynchronously.
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/origins":
    get:
      description: Lists all of the existing origins within an endpoint.
      operationId: Origins_ListByEndpoint
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OriginListResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Origins
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/origins/{originName}":
    get:
      description: Gets an existing origin within an endpoint.
      operationId: Origins_Get
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Name of the origin which is unique within the endpoint.
          in: path
          name: originName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Origin"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Origins
    patch:
      description: Updates an existing origin within an endpoint.
      operationId: Origins_Update
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Name of the origin which is unique within the endpoint.
          in: path
          name: originName
          required: true
          type: string
        - description: Origin properties
          in: body
          name: originUpdateProperties
          required: true
          schema:
            $ref: "#/definitions/OriginUpdateParameters"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Origin"
        "202":
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/Origin"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Origins
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/purge":
    post:
      description: Removes a content from CDN.
      operationId: Endpoints_PurgeContent
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: The path to the content to be purged. Path can be a full URL, e.g. '/pictures/city.png' which removes a single file, or a directory with a wildcard, e.g. '/pictures/*' which removes all folders and files in the directory.
          in: body
          name: contentFilePaths
          required: true
          schema:
            $ref: "#/definitions/PurgeParameters"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Accepted and the operation will complete asynchronously.
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/start":
    post:
      description: Starts an existing CDN endpoint that is on a stopped state.
      operationId: Endpoints_Start
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/Endpoint"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/stop":
    post:
      description: Stops an existing running CDN endpoint.
      operationId: Endpoints_Stop
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Accepted and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/Endpoint"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/endpoints/{endpointName}/validateCustomDomain":
    post:
      description: Validates the custom domain mapping to ensure it maps to the correct CDN endpoint in DNS.
      operationId: Endpoints_ValidateCustomDomain
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - description: Name of the endpoint under the profile which is unique globally.
          in: path
          name: endpointName
          required: true
          type: string
        - description: Custom domain to be validated.
          in: body
          name: customDomainProperties
          required: true
          schema:
            $ref: "#/definitions/ValidateCustomDomainInput"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ValidateCustomDomainOutput"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Endpoints
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/generateSsoUri":
    post:
      description: Generates a dynamic SSO URI used to sign in to the CDN supplemental portal. Supplemental portal is used to configure advanced feature capabilities that are not yet available in the Azure portal, such as core reports in a standard profile; rules engine, advanced HTTP reports, and real-time stats and alerts in a premium profile. The SSO URI changes approximately every 10 minutes.
      operationId: Profiles_GenerateSsoUri
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/SsoUri"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Profiles
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/getSupportedOptimizationTypes":
    post:
      description: Gets the supported optimization types for the current profile. A user can create an endpoint with an optimization type from the listed values.
      operationId: Profiles_GetSupportedOptimizationTypes
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of the CDN profile which is unique within the resource group.
          in: path
          name: profileName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/SupportedOptimizationTypesResult"
        default:
          description: CDN error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Profiles
definitions:
  CheckNameAvailabilityInput:
    description: Input of CheckNameAvailability API.
    properties:
      name:
        description: The resource name to validate.
        type: string
      type:
        $ref: "#/definitions/ResourceType"
        description: The type of the resource whose name is to be validated.
    required:
      - name
      - type
    type: object
  CheckNameAvailabilityOutput:
    description: Output of check name availability API.
    properties:
      message:
        description: The detailed error message describing why the name is not available.
        type: string
      nameAvailable:
        description: Indicates whether the name is available.
        type: boolean
      reason:
        description: The reason why the name is not available.
        type: string
    type: object
  CustomDomain:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Customer provided domain for branding purposes, e.g. www.contoso.com.
    properties:
      properties:
        $ref: "#/definitions/CustomDomainProperties"
        x-ms-client-flatten: true
    type: object
  CustomDomainListResult:
    description: Result of the request to list custom domains. It contains a list of custom domain objects and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of custom domain objects if there are any.
        type: string
      value:
        description: List of CDN CustomDomains within an endpoint.
        items:
          $ref: "#/definitions/CustomDomain"
        type: array
  CustomDomainParameters:
    description: The customDomain JSON object required for custom domain creation or update.
    properties:
      properties:
        $ref: "#/definitions/CustomDomainPropertiesParameters"
        x-ms-client-flatten: true
    type: object
  CustomDomainProperties:
    description: The JSON object that contains the properties of the custom domain to create.
    properties:
      customHttpsProvisioningState:
        description: Provisioning state of Custom Https of the custom domain.
        enum:
          - Enabling
          - Enabled
          - Disabling
          - Disabled
          - Failed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CustomHttpsProvisioningState
      hostName:
        description: The host name of the custom domain. Must be a domain name.
        type: string
      provisioningState:
        description: Provisioning status of the custom domain.
        readOnly: true
        type: string
      resourceState:
        description: Resource status of the custom domain.
        enum:
          - Creating
          - Active
          - Deleting
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: CustomDomainResourceState
      validationData:
        description: Special validation or data may be required when delivering CDN to some regions due to local compliance reasons. E.g. ICP license number of a custom domain is required to deliver content in China.
        type: string
    required:
      - hostName
  CustomDomainPropertiesParameters:
    description: The JSON object that contains the properties of the custom domain to create.
    properties:
      hostName:
        description: The host name of the custom domain. Must be a domain name.
        type: string
    required:
      - hostName
  DeepCreatedOrigin:
    description: Origin to be added when creating a CDN endpoint.
    properties:
      name:
        description: Origin name
        type: string
      properties:
        $ref: "#/definitions/DeepCreatedOriginProperties"
        x-ms-client-flatten: true
    required:
      - name
    type: object
    x-ms-azure-resource: true
  DeepCreatedOriginProperties:
    description: Properties of origin Properties of the origin created on the CDN endpoint.
    properties:
      hostName:
        description: The address of the origin. It can be a domain names, IPv4 address, or IPv6 address.
        type: string
      httpPort:
        description: The value of the HTTP port. Must be between 1 and 65535
        exclusiveMaximum: false
        exclusiveMinimum: false
        maximum: 65535
        minimum: 1
        type: integer
      httpsPort:
        description: The value of the HTTPS port. Must be between 1 and 65535
        exclusiveMaximum: false
        exclusiveMinimum: false
        maximum: 65535
        minimum: 1
        type: integer
    required:
      - hostName
    type: object
    x-ms-azure-resource: true
  EdgeNode:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Edge node of CDN service.
    properties:
      properties:
        $ref: "#/definitions/EdgeNodeProperties"
        x-ms-client-flatten: true
    type: object
  EdgeNodeProperties:
    description: The JSON object that contains the properties required to create an edgenode.
    properties:
      ipAddressGroups:
        description: List of ip address groups.
        items:
          $ref: "#/definitions/IpAddressGroup"
        type: array
    required:
      - ipAddressGroups
  EdgenodeResult:
    description: Result of the request to list CDN edgenodes. It contains a list of ip address group and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of edgenode list results if there are any.
        type: string
      value:
        description: Edge node of CDN service.
        items:
          $ref: "#/definitions/EdgeNode"
        type: array
  Endpoint:
    allOf:
      - $ref: "#/definitions/Resource"
    description: CDN endpoint is the entity within a CDN profile containing configuration information such as origin, protocol, content caching and delivery behavior. The CDN endpoint uses the URL format <endpointname>.azureedge.net.
    properties:
      properties:
        $ref: "#/definitions/EndpointProperties"
        x-ms-client-flatten: true
    type: object
  EndpointListResult:
    description: Result of the request to list endpoints. It contains a list of endpoint objects and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of endpoint objects if there are any.
        type: string
      value:
        description: List of CDN endpoints within a profile
        items:
          $ref: "#/definitions/Endpoint"
        type: array
  EndpointProperties:
    allOf:
      - $ref: "#/definitions/EndpointPropertiesUpdateParameters"
    description: The JSON object that contains the properties required to create an endpoint.
    properties:
      hostName:
        description: The host name of the endpoint structured as {endpointName}.{DNSZone}, e.g. contoso.azureedge.net
        readOnly: true
        type: string
      origins:
        description: The source of the content being delivered via CDN.
        items:
          $ref: "#/definitions/DeepCreatedOrigin"
        type: array
      provisioningState:
        description: Provisioning status of the endpoint.
        readOnly: true
        type: string
      resourceState:
        description: Resource status of the endpoint.
        enum:
          - Creating
          - Deleting
          - Running
          - Starting
          - Stopped
          - Stopping
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: EndpointResourceState
    required:
      - origins
  EndpointPropertiesUpdateParameters:
    description: Result of the request to list endpoints. It contains a list of endpoints and a URL link to get the next set of results.
    properties:
      contentTypesToCompress:
        description: List of content types on which compression applies. The value should be a valid MIME type.
        items:
          type: string
        type: array
      geoFilters:
        description: List of rules defining user geo access within a CDN endpoint. Each geo filter defines an access rule to a specified path or content, e.g. block APAC for path /pictures/
        items:
          $ref: "#/definitions/GeoFilter"
        type: array
      isCompressionEnabled:
        description: Indicates whether content compression is enabled on CDN. Default value is false. If compression is enabled, content will be served as compressed if user requests for a compressed version. Content won't be compressed on CDN when requested content is smaller than 1 byte or larger than 1 MB.
        type: boolean
      isHttpAllowed:
        description: Indicates whether HTTP traffic is allowed on the endpoint. Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.
        type: boolean
      isHttpsAllowed:
        description: Indicates whether HTTPS traffic is allowed on the endpoint. Default value is true. At least one protocol (HTTP or HTTPS) must be allowed.
        type: boolean
      optimizationType:
        $ref: "#/definitions/OptimizationType"
        description: Customer can specify what scenario they want this CDN endpoint to optimize, e.g. Download, Media services. With this information we can apply scenario driven optimization.
      originHostHeader:
        description: The host header CDN sends along with content requests to origin. The default value is the host name of the origin.
        type: string
      originPath:
        description: The path used when CDN sends request to origin.
        type: string
      queryStringCachingBehavior:
        $ref: "#/definitions/QueryStringCachingBehavior"
        description: Defines the query string caching behavior
  EndpointUpdateParameters:
    description: Properties required to create a new endpoint.
    properties:
      properties:
        $ref: "#/definitions/EndpointPropertiesUpdateParameters"
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: Endpoint tags.
        type: object
    type: object
    x-ms-azure-resource: true
  ErrorResponse:
    description: Error response indicates CDN service is not able to process the incoming request. The reason is provided in the error message.
    properties:
      code:
        description: Error code.
        type: string
      message:
        description: Error message indicating why the operation failed.
        type: string
    type: object
  GeoFilter:
    description: Rules defining user geo access within a CDN endpoint.
    properties:
      action:
        description: Action of the geo filter, i.e. allow or block access.
        enum:
          - Block
          - Allow
        type: string
        x-ms-enum:
          modelAsString: false
          name: GeoFilterActions
      countryCodes:
        description: Two letter country codes defining user country access in a geo filter, e.g. AU, MX, US.
        items:
          type: string
        type: array
      relativePath:
        description: Relative path applicable to geo filter. (e.g. '/mypictures', '/mypicture/kitty.jpg', and etc.)
        type: string
    required:
      - relativePath
      - action
      - countryCodes
    type: object
  IpAddressGroup:
    description: CDN Ip address group
    properties:
      deliveryRegion:
        description: The delivery region of the ip address group
        type: string
      ipv4Addresses:
        description: The list of ip v4 addresses.
        items:
          $ref: "#/definitions/cidrIpAddress"
        type: array
      ipv6Addresses:
        description: The list of ip v6 addresses.
        items:
          $ref: "#/definitions/cidrIpAddress"
        type: array
    type: object
  LoadParameters:
    description: Parameters required for content load.
    properties:
      contentPaths:
        description: The path to the content to be loaded. Path should be a relative file URL of the origin.
        items:
          type: string
        type: array
    required:
      - contentPaths
    type: object
  Operation:
    description: CDN REST API operation
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: "Operation type: Read, write, delete, etc."
            type: string
          provider:
            description: "Service provider: Microsoft.Cdn"
            type: string
          resource:
            description: "Resource on which the operation is performed: Profile, endpoint, etc."
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}"
        type: string
    type: object
  OperationListResult:
    description: Result of the request to list CDN operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        type: string
      value:
        description: List of CDN operations supported by the CDN resource provider.
        items:
          $ref: "#/definitions/Operation"
        type: array
  OptimizationType:
    description: Customer can specify what scenario they want this CDN endpoint to optimize, e.g. Download, Media services. With this information we can apply scenario driven optimization.
    enum:
      - GeneralWebDelivery
      - GeneralMediaStreaming
      - VideoOnDemandMediaStreaming
      - LargeFileDownload
      - DynamicSiteAcceleration
    type: string
    x-ms-enum:
      modelAsString: true
      name: OptimizationType
  Origin:
    allOf:
      - $ref: "#/definitions/Resource"
    description: CDN origin is the source of the content being delivered via CDN. When the edge nodes represented by an endpoint do not have the requested content cached, they attempt to fetch it from one or more of the configured origins.
    properties:
      properties:
        $ref: "#/definitions/OriginProperties"
        x-ms-client-flatten: true
    type: object
  OriginListResult:
    description: Result of the request to list origins. It contains a list of origin objects and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of origin objects if there are any.
        type: string
      value:
        description: List of CDN origins within an endpoint
        items:
          $ref: "#/definitions/Origin"
        type: array
  OriginProperties:
    description: The JSON object that contains the properties of the origin to create.
    properties:
      hostName:
        description: The address of the origin. Domain names, IPv4 addresses, and IPv6 addresses are supported.
        type: string
      httpPort:
        description: The value of the HTTP port. Must be between 1 and 65535.
        exclusiveMaximum: false
        exclusiveMinimum: false
        maximum: 65535
        minimum: 1
        type: integer
      httpsPort:
        description: The value of the https port. Must be between 1 and 65535.
        exclusiveMaximum: false
        exclusiveMinimum: false
        maximum: 65535
        minimum: 1
        type: integer
      provisioningState:
        description: Provisioning status of the origin.
        readOnly: true
        type: string
      resourceState:
        description: Resource status of the origin.
        enum:
          - Creating
          - Active
          - Deleting
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: OriginResourceState
    required:
      - hostName
  OriginPropertiesParameters:
    description: The JSON object that contains the properties of the origin to create.
    properties:
      hostName:
        description: The address of the origin. Domain names, IPv4 addresses, and IPv6 addresses are supported.
        type: string
      httpPort:
        description: The value of the HTTP port. Must be between 1 and 65535.
        exclusiveMaximum: false
        exclusiveMinimum: false
        maximum: 65535
        minimum: 1
        type: integer
      httpsPort:
        description: The value of the HTTPS port. Must be between 1 and 65535.
        exclusiveMaximum: false
        exclusiveMinimum: false
        maximum: 65535
        minimum: 1
        type: integer
  OriginUpdateParameters:
    description: Origin properties needed for origin creation or update.
    properties:
      properties:
        $ref: "#/definitions/OriginPropertiesParameters"
        x-ms-client-flatten: true
    type: object
    x-ms-azure-resource: true
  Profile:
    allOf:
      - $ref: "#/definitions/Resource"
    description: CDN profile represents the top level resource and the entry point into the CDN API. This allows users to set up a logical grouping of endpoints in addition to creating shared configuration settings and selecting pricing tiers and providers.
    properties:
      properties:
        $ref: "#/definitions/ProfileProperties"
        x-ms-client-flatten: true
      sku:
        $ref: "#/definitions/Sku"
        description: The pricing tier (defines a CDN provider, feature list and rate) of the CDN profile.
    required:
      - sku
    type: object
  ProfileListResult:
    description: Result of the request to list profiles. It contains a list of profile objects and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of profile objects if there are any.
        type: string
      value:
        description: List of CDN profiles within a resource group.
        items:
          $ref: "#/definitions/Profile"
        type: array
  ProfileProperties:
    description: The JSON object that contains the properties required to create a profile.
    properties:
      provisioningState:
        description: Provisioning status of the profile.
        readOnly: true
        type: string
      resourceState:
        description: Resource status of the profile.
        enum:
          - Creating
          - Active
          - Deleting
          - Disabled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProfileResourceState
  ProfileUpdateParameters:
    description: Properties required to update a profile.
    properties:
      tags:
        additionalProperties:
          type: string
        description: Profile tags
        type: object
    required:
      - tags
    type: object
    x-ms-azure-resource: true
  PurgeParameters:
    description: Parameters required for content purge.
    properties:
      contentPaths:
        description: The path to the content to be purged. Can describe a file path or a wild card directory.
        items:
          type: string
        type: array
    required:
      - contentPaths
    type: object
  QueryStringCachingBehavior:
    description: Defines the query string caching behavior.
    enum:
      - IgnoreQueryString
      - BypassCaching
      - UseQueryString
      - NotSet
    type: string
    x-ms-enum:
      modelAsString: false
      name: QueryStringCachingBehavior
  Resource:
    description: The Resource definition.
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
      location:
        description: Resource location.
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
      type:
        description: Resource type.
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  ResourceType:
    description: Type of CDN resource used in CheckNameAvailability.
    enum:
      - Microsoft.Cdn/Profiles/Endpoints
    type: string
    x-ms-enum:
      modelAsString: false
      name: ResourceType
  ResourceUsage:
    description: Output of check resource usage API.
    properties:
      currentValue:
        description: Actual value of the resource type.
        type: integer
      limit:
        description: Quota of the resource type.
        type: integer
      resourceType:
        description: Resource type of the usages.
        type: string
      unit:
        description: Unit of the usage. e.g. Count.
        type: string
    type: object
  ResourceUsageListResult:
    description: Output of check resource usage API.
    properties:
      nextLink:
        description: URL to get the next set of custom domain objects if there are any.
        type: string
      value:
        description: List of resource usages.
        items:
          $ref: "#/definitions/ResourceUsage"
        type: array
  Sku:
    description: The pricing tier (defines a CDN provider, feature list and rate) of the CDN profile.
    properties:
      name:
        description: Name of the pricing tier.
        enum:
          - Standard_Verizon
          - Premium_Verizon
          - Custom_Verizon
          - Standard_Akamai
          - Standard_ChinaCdn
        type: string
        x-ms-enum:
          modelAsString: true
          name: SkuName
    type: object
  SsoUri:
    description: SSO URI required to login to the supplemental portal.
    properties:
      ssoUriValue:
        description: The URI used to login to the supplemental portal.
        type: string
    type: object
  SupportedOptimizationTypesResult:
    description: The result of the GetSupportedOptimizationTypes API
    properties:
      supportedOptimizationTypes:
        description: Supported optimization types for a profile.
        items:
          $ref: "#/definitions/OptimizationType"
        type: array
    type: object
  ValidateCustomDomainInput:
    description: Input of the custom domain to be validated for DNS mapping.
    properties:
      hostName:
        description: The host name of the custom domain. Must be a domain name.
        type: string
    required:
      - hostName
    type: object
  ValidateCustomDomainOutput:
    description: Output of custom domain validation.
    properties:
      customDomainValidated:
        description: Indicates whether the custom domain is validated or not.
        type: boolean
      message:
        description: Error message describing why the custom domain is not valid.
        type: string
      reason:
        description: The reason why the custom domain is not valid.
        type: string
    type: object
  cidrIpAddress:
    description: CIDR Ip address
    properties:
      baseIpAddress:
        description: IP address itself.
        type: string
      prefixLength:
        description: The length of the prefix of the ip address.
        type: integer
    type: object
