swagger: "2.0"
schemes:
  - http
host: dropx.io
basePath: /api/v1
info:
  description: dropX.io API provides programmatic access to the e-commerce intelligence data.
  title: DropX
  version: 1.0.0
  x-apisguru-categories:
    - ecommerce
  x-origin:
    - format: swagger
      url: http://dropx.io/dropx-swagger.yaml
      version: "2.0"
  x-providerName: dropx.io
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
produces:
  - application/json
securityDefinitions:
  api_key:
    description: authentication header should be in header
    in: header
    name: access_token
    type: apiKey
paths:
  /products/:
    get:
      description: Returns product details
      parameters:
        - description: search array of ids
          in: query
          name: pids
          required: true
          type: string
      responses:
        "200":
          description: A list of search details
        "401":
          description: Invalid authentication
        "456":
          description: We are sorry, You have reached your limit
        "458":
          description: Oops...! we don\'t have enough data to serve your request
        "459":
          description: Oops...! Missing reqired "pids" parameter to serve your request
        "464":
          description: Error in finding default plan
        "490":
          description: Unexpected error occurred while processing your request
        "500":
          description: internal server error
      security:
        - api_key: []
      summary: Get product details by providing the product IDs
      tags:
        - Product Details
  /products/link-search:
    get:
      description: Returns list of e-commerce product that are close to the one provided -- one from each provider
      parameters:
        - description: URL must be a url encoded value
          in: query
          name: url
          required: true
          type: string
        - description: A valid e commerce website link(eg. www.flipkart.com or http://www.amazon.in) by a ',' seperated values to filter response by required e-commerce providers
          in: query
          name: providers
          type: string
      responses:
        "200":
          description: A list of search details
        "401":
          description: Invalid authentication
        "452":
          description: Requested url parameter value is not a valid url
        "453":
          description: Requested ip is not white listed app token assigned ip list
        "454":
          description: App does not have any IP
        "455":
          description: User requested with invalid app token
        "456":
          description: User reached maximum allow limit according to his plan
        "458":
          description: Requested search does not have any response
        "459":
          description: Requested search products api required parameter "term" is missing
        "460":
          description: Requested similar search products api required parameter "url" is missing
        "461":
          description: Requested search product api required "term" parameter does not have valid value or empty value passed
        "462":
          description: Requested similar search product api required "url" parameter does not have valid url or empty value passed
        "463":
          description: Error in processing search request in elastic search
        "490":
          description: some unexpected error raised in processing user request
        "500":
          description: internal server error
      security:
        - api_key: []
      summary: Search for similar products by providing a link to any e-commerce product.
      tags:
        - LookUp
  /products/link-search-v2:
    get:
      description: Returns list of e-commerce product that are close to the one provided -- one from each provider
      parameters:
        - description: URL must be a url encoded value
          in: query
          name: url
          required: true
          type: string
        - description: A valid e commerce website link(eg. www.flipkart.com or http://www.amazon.in) by a ',' seperated values to filter response by required e-commerce providers
          in: query
          name: providers
          type: string
      responses:
        "200":
          description: A list of search details
        "401":
          description: Invalid authentication
        "452":
          description: Requested url parameter value is not a valid url
        "453":
          description: Requested ip is not white listed app token assigned ip list
        "454":
          description: App does not have any IP
        "455":
          description: User requested with invalid app token
        "456":
          description: User reached maximum allow limit according to his plan
        "458":
          description: Requested search does not have any response
        "459":
          description: Requested search products api required parameter "term" is missing
        "460":
          description: Requested similar search products api required parameter "url" is missing
        "461":
          description: Requested search product api required "term" parameter does not have valid value or empty value passed
        "462":
          description: Requested similar search product api required "url" parameter does not have valid url or empty value passed
        "463":
          description: Error in processing search request in elastic search
        "490":
          description: some unexpected error raised in processing user request
        "500":
          description: internal server error
      security:
        - api_key: []
      summary: Search for similar products by providing a link to any e-commerce product.
      tags:
        - LookUp
  /products/search:
    get:
      description: Returns one unique result from every provider that dropx.io tracks
      parameters:
        - description: search terms giving any title of products that are sold online
          in: query
          name: term
          required: true
          type: string
        - description: A valid e commerce website link(eg. www.flipkart.com or http://www.amazon.in) by a ',' seperated values to filter response by required e-commerce providers
          in: query
          name: providers
          type: string
      responses:
        "200":
          description: A list of search details
        "401":
          description: Invalid authentication
        "452":
          description: Requested url parameter value is not a valid url
        "453":
          description: Requested ip is not white listed app token assigned ip list
        "454":
          description: App does not have any IP
        "455":
          description: User requested with invalid app token
        "456":
          description: User reached maximum allow limit according to his plan
        "458":
          description: Requested search does not have any response
        "459":
          description: Requested search products api required parameter "term" is missing
        "460":
          description: Requested similar search products api required parameter "url" is missing
        "461":
          description: Requested search product api required "term" parameter does not have valid value or empty value passed
        "462":
          description: Requested similar search product api required "url" parameter does not have valid url or empty value passed
        "463":
          description: Error in processing search request in elastic search
        "490":
          description: some unexpected error raised in processing user request
        "500":
          description: internal server error
      security:
        - api_key: []
      summary: Search for any product using title
      tags:
        - LookUp
  /products/search-v2:
    get:
      description: Returns one unique result from every provider that dropx.io tracks
      parameters:
        - description: search terms giving any title of products that are sold online
          in: query
          name: term
          required: true
          type: string
        - description: A valid e commerce website link(eg. www.flipkart.com or http://www.amazon.in) by a ',' seperated values to filter response by required e-commerce providers
          in: query
          name: providers
          type: string
      responses:
        "200":
          description: A list of search details
        "401":
          description: Invalid authentication
        "452":
          description: Requested url parameter value is not a valid url
        "453":
          description: Requested ip is not white listed app token assigned ip list
        "454":
          description: App does not have any IP
        "455":
          description: User requested with invalid app token
        "456":
          description: User reached maximum allow limit according to his plan
        "458":
          description: Requested search does not have any response
        "459":
          description: Requested search products api required parameter "term" is missing
        "460":
          description: Requested similar search products api required parameter "url" is missing
        "461":
          description: Requested search product api required "term" parameter does not have valid value or empty value passed
        "462":
          description: Requested similar search product api required "url" parameter does not have valid url or empty value passed
        "463":
          description: Error in processing search request in elastic search
        "490":
          description: some unexpected error raised in processing user request
        "500":
          description: internal server error
      security:
        - api_key: []
      summary: Search for any product using title
      tags:
        - LookUp
  /products/title-search:
    get:
      description: Returns list of product ids
      parameters:
        - description: search terms giving any title of products that are sold online
          in: query
          name: term
          required: true
          type: string
      responses:
        "200":
          description: A list of product details
        "401":
          description: Invalid authentication
        "456":
          description: We are sorry, You have reached your limit
        "458":
          description: Oops...! we don\'t have enough data to serve your request
        "459":
          description: Oops...! Missing reqired "term" parameter to serve your request
        "461":
          description: Oops...! Required "term" parameter should not be empty
        "464":
          description: Error in finding default plan
        "490":
          description: Unexpected error occurred while processing your request
        "500":
          description: internal server error
      security:
        - api_key: []
      summary: Search for any product using title
      tags:
        - LookUp
  /users/usage:
    get:
      description: Returns API request consumption details.
      responses:
        "200":
          description: A list of usage details
        "401":
          description: Invalid authentication
        "500":
          description: internal server error
      summary: Get API usuage details
      tags:
        - Monitor
