swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/serviceEndpointPolicy.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-serviceEndpointPolicy
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/ServiceEndpointPolicies":
    get:
      description: Gets all the service endpoint policies in a subscription.
      operationId: ServiceEndpointPolicies_List
      parameters:
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of ServiceEndpointPolicy resources.
          schema:
            $ref: "#/definitions/ServiceEndpointPolicyListResult"
      tags:
        - ServiceEndpointPolicies
      x-ms-examples:
        List all service endpoint policy:
          parameters:
            api-version: 2019-04-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/serviceEndpointPolicies/testPolicy
                    location: westus
                    name: testPolicy
                    properties:
                      provisioningState: Succeeded
                      resourceGuid: 6A7C139D-8B8D-499B-B7CB-4F3F02A8A44F
                      serviceEndpointPolicyDefinitions:
                        - name: StorageServiceEndpointPolicyDefinition1
                          properties:
                            description: Storage Service EndpointPolicy Definition
                            service: Microsoft.Storage
                            serviceResources:
                              - /subscriptions/subid1
                              - /subscriptions/subid1/resourceGroups/storageRg
                              - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
                      subnets: []
                    type: Microsoft.Network/serviceEndpointPolicies
                  - id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.Network/serviceEndpointPolicies/testPolicy2
                    location: westus
                    name: testPolicy1
                    properties:
                      provisioningState: Succeeded
                      resourceGuid: 6A7C139D-8B8D-499B-B7CB-4F3F02A8A44F
                      serviceEndpointPolicyDefinitions:
                        - name: StorageServiceEndpointPolicyDefinition2
                          properties:
                            description: Storage Service EndpointPolicy Definition
                            service: Microsoft.Storage
                            serviceResources:
                              - /subscriptions/subid1
                              - /subscriptions/subid1/resourceGroups/storageRg
                              - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
                      subnets: []
                    type: Microsoft.Network/serviceEndpointPolicies
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceEndpointPolicies":
    get:
      description: Gets all service endpoint Policies in a resource group.
      operationId: ServiceEndpointPolicies_ListByResourceGroup
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of ServiceEndpointPolicy resources.
          schema:
            $ref: "#/definitions/ServiceEndpointPolicyListResult"
      tags:
        - ServiceEndpointPolicies
      x-ms-examples:
        List resource group service endpoint policies:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/serviceEndpointPolicies/testServiceEndpointPolicy
                    location: westus
                    name: testServiceEndpointPolicy
                    properties:
                      provisioningState: Succeeded
                      resourceGuid: 6A7C139D-8B8D-499B-B7CB-4F3F02A8A44F
                      serviceEndpointPolicyDefinitions:
                        - name: StorageServiceEndpointPolicyDefinition
                          properties:
                            description: Storage Service EndpointPolicy Definition
                            service: Microsoft.Storage
                            serviceResources:
                              - /subscriptions/subid1
                              - /subscriptions/subid1resourceGroups/storageRg
                              - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
                      subnets: []
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/serviceEndpointPolicies/testServiceEndpointPolicy1
                    location: westus
                    name: testServiceEndpointPolicy1
                    properties:
                      provisioningState: Succeeded
                      resourceGuid: 6A7C139D-8B8D-499B-B7CB-4F3F02A8A44F
                      serviceEndpointPolicyDefinitions:
                        - name: StorageServiceEndpointPolicyDefinition1
                          properties:
                            description: Storage Service EndpointPolicy Definition
                            service: Microsoft.Storage
                            serviceResources:
                              - /subscriptions/subid1
                              - /subscriptions/subid1/resourceGroups/storageRg
                              - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
                      subnets: []
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceEndpointPolicies/{serviceEndpointPolicyName}":
    delete:
      description: Deletes the specified service endpoint policy.
      operationId: ServiceEndpointPolicies_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the service endpoint policy.
          in: path
          name: serviceEndpointPolicyName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Request successful. Resource does not exist.
      tags:
        - ServiceEndpointPolicies
      x-ms-examples:
        Delete service endpoint policy:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            serviceEndpointPolicyName: serviceEndpointPolicy1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      description: Gets the specified service Endpoint Policies in a specified resource group.
      operationId: ServiceEndpointPolicies_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the service endpoint policy.
          in: path
          name: serviceEndpointPolicyName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting ServiceEndpointPolicy resource.
          schema:
            $ref: "#/definitions/ServiceEndpointPolicy"
      tags:
        - ServiceEndpointPolicies
      x-ms-examples:
        Get service endPoint Policy:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            serviceEndpointPolicyName: testServiceEndpointPolicy
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/serviceEndpointPolicies/testServiceEndpointPolicy
                location: westus
                name: testServiceEndpointPolicy
                properties:
                  provisioningState: Succeeded
                  resourceGuid: 6A7C139D-8B8D-499B-B7CB-4F3F02A8A44F
                  serviceEndpointPolicyDefinitions:
                    - name: StorageServiceEndpointPolicyDefinition
                      properties:
                        description: Storage Service EndpointPolicy Definition
                        service: Microsoft.Storage
                        serviceResources:
                          - /subscriptions/subid1
                          - /subscriptions/subid1/resourceGroups/storageRg
                          - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
                  subnets: []
                type: Microsoft.Network/serviceEndpointPolicies
    patch:
      description: Updates service Endpoint Policies.
      operationId: ServiceEndpointPolicies_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the service endpoint policy.
          in: path
          name: serviceEndpointPolicyName
          required: true
          type: string
        - description: Parameters supplied to update service endpoint policy tags.
          in: body
          name: parameters
          required: true
          schema:
            description: Tags object for patch operations.
            properties:
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting ServiceEndpointPolicy resource.
          schema:
            $ref: "#/definitions/ServiceEndpointPolicy"
      tags:
        - ServiceEndpointPolicies
      x-ms-examples:
        Update service endpoint policy tags:
          parameters:
            api-version: 2019-04-01
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            serviceEndpointPolicyName: testServiceEndpointPolicy
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/serviceEndpointPolicies/testServiceEndpointPolicy
                location: westus
                name: testServiceEndpointPolicy
                properties:
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                  serviceEndpointPolicyDefinitions:
                    - name: StorageServiceEndpointPolicyDefinition
                      properties:
                        description: Storage Service EndpointPolicy Definition
                        service: Microsoft.Storage
                        serviceResources:
                          - /subscriptions/subid1
                          - /subscriptions/subid1/resourceGroups/storageRg
                          - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
                  subnets: []
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/serviceEndpointPolicies
      x-ms-long-running-operation: true
    put:
      description: Creates or updates a service Endpoint Policies.
      operationId: ServiceEndpointPolicies_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the service endpoint policy.
          in: path
          name: serviceEndpointPolicyName
          required: true
          type: string
        - description: Parameters supplied to the create or update service endpoint policy operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ServiceEndpointPolicy"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting ServiceEndpointPolicy resource.
          schema:
            $ref: "#/definitions/ServiceEndpointPolicy"
        "201":
          description: Create successful. The operation returns the resulting ServiceEndpointPolicy resource.
          schema:
            $ref: "#/definitions/ServiceEndpointPolicy"
      tags:
        - ServiceEndpointPolicies
      x-ms-examples:
        Create service endpoint policy:
          parameters:
            api-version: 2019-04-01
            parameters: {}
            resourceGroupName: rg1
            serviceEndpointPolicyName: testPolicy
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/ServiceEndpointPolicies/testpolicy
                location: westus
                name: testnsg
                properties:
                  provisioningState: Succeeded
                  resourceGuid: 6A7C139D-8B8D-499B-B7CB-4F3F02A8A44F
                  serviceEndpointPolicyDefinitions: []
                  subnets: []
                type: Microsoft.Network/ServiceEndpointPolicies
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testpolicy
                location: westus
                name: testnsg
                properties:
                  provisioningState: Succeeded
                  resourceGuid: 6A7C139D-8B8D-499B-B7CB-4F3F02A8A44F
                  serviceEndpointPolicyDefinitions: []
                  subnets: []
                type: Microsoft.Network/ServiceEndpointPolicies
        Create service endpoint policy with definition:
          parameters:
            api-version: 2019-04-01
            parameters:
              properties:
                serviceEndpointPolicyDefinitions:
                  - name: StorageServiceEndpointPolicyDefinition
                    properties:
                      description: Storage Service EndpointPolicy Definition
                      service: Microsoft.Storage
                      serviceResources:
                        - /subscriptions/subid1
                        - /subscriptions/subid1/resourceGroups/storageRg
                        - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
            resourceGroupName: rg1
            serviceEndpointPolicyName: testPolicy
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/ServiceEndpointPolicies/testpolicy
                location: westus
                name: testnsg
                properties:
                  provisioningState: Succeeded
                  resourceGuid: 6A7C139D-8B8D-499B-B7CB-4F3F02A8A44F
                  serviceEndpointPolicyDefinitions:
                    - name: StorageServiceEndpointPolicyDefinition
                      properties:
                        description: Storage Service EndpointPolicy Definition
                        service: Microsoft.Storage
                        serviceResources:
                          - /subscriptions/subid1
                          - /subscriptions/subid1/resourceGroups/storageRg
                          - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
                  subnets: []
                type: Microsoft.Network/ServiceEndpointPolicies
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/ServiceEndpointPolicies/testpolicy
                location: westus
                name: testnsg
                properties:
                  provisioningState: Succeeded
                  resourceGuid: 6A7C139D-8B8D-499B-B7CB-4F3F02A8A44F
                  serviceEndpointPolicyDefinitions:
                    - name: StorageServiceEndpointPolicyDefinition
                      properties:
                        description: Storage Service EndpointPolicy Definition
                        service: Microsoft.Storage
                        serviceResources:
                          - /subscriptions/subid1
                          - /subscriptions/subid1/resourceGroups/storageRg
                          - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
                  subnets: []
                type: Microsoft.Network/ServiceEndpointPolicies
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceEndpointPolicies/{serviceEndpointPolicyName}/serviceEndpointPolicyDefinitions":
    get:
      description: Gets all service endpoint policy definitions in a service end point policy.
      operationId: ServiceEndpointPolicyDefinitions_ListByResourceGroup
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the service endpoint policy name.
          in: path
          name: serviceEndpointPolicyName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of ServiceEndpointPolicyDefinition resources.
          schema:
            $ref: "#/definitions/ServiceEndpointPolicyDefinitionListResult"
      tags:
        - ServiceEndpointPolicyDefinitions
      x-ms-examples:
        List service endpoint definitions in service end point policy:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            serviceEndpointPolicyName: testPolicy
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/serviceEndpointPolicies/testPolicy/serviceEndpointPolicyDefinitions/testDef
                    name: testDef
                    properties:
                      description: Storage Service EndpointPolicy Definition
                      service: Microsoft.Storage
                      serviceResources:
                        - /subscriptions/subid1
                        - /subscriptions/subid1/resourceGroups/storageRg
                        - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/serviceEndpointPolicies/{serviceEndpointPolicyName}/serviceEndpointPolicyDefinitions/{serviceEndpointPolicyDefinitionName}":
    delete:
      description: Deletes the specified ServiceEndpoint policy definitions.
      operationId: ServiceEndpointPolicyDefinitions_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Service Endpoint Policy.
          in: path
          name: serviceEndpointPolicyName
          required: true
          type: string
        - description: The name of the service endpoint policy definition.
          in: path
          name: serviceEndpointPolicyDefinitionName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Request successful. Resource does not exist.
      tags:
        - ServiceEndpointPolicyDefinitions
      x-ms-examples:
        Delete service endpoint policy definitions from service endpoint policy:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            serviceEndpointPolicyDefinitionName: testDefinition
            serviceEndpointPolicyName: testPolicy
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      description: Get the specified service endpoint policy definitions from service endpoint policy.
      operationId: ServiceEndpointPolicyDefinitions_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the service endpoint policy name.
          in: path
          name: serviceEndpointPolicyName
          required: true
          type: string
        - description: The name of the service endpoint policy definition name.
          in: path
          name: serviceEndpointPolicyDefinitionName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting ServiceEndpointPolicyDefinition resource.
          schema:
            $ref: "#/definitions/ServiceEndpointPolicyDefinition"
      tags:
        - serviceEndpointPolicyDefinitions
      x-ms-examples:
        Get service endpoint definition in service endpoint policy:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: rg1
            serviceEndpointPolicyDefinitionName: testDefinition
            serviceEndpointPolicyName: testPolicy
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/serviceEndpointPolicies/testPolicy/serviceEndpointPolicyDefinitions/testDefinition
                name: testDefinition
                properties:
                  description: Storage Service EndpointPolicy Definition
                  service: Microsoft.Storage
                  serviceResources:
                    - /subscriptions/subid1
                    - /subscriptions/subid1/resourceGroups/storageRg
                    - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
    put:
      description: Creates or updates a service endpoint policy definition in the specified service endpoint policy.
      operationId: ServiceEndpointPolicyDefinitions_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the service endpoint policy.
          in: path
          name: serviceEndpointPolicyName
          required: true
          type: string
        - description: The name of the service endpoint policy definition name.
          in: path
          name: serviceEndpointPolicyDefinitionName
          required: true
          type: string
        - description: Parameters supplied to the create or update service endpoint policy operation.
          in: body
          name: ServiceEndpointPolicyDefinitions
          required: true
          schema:
            $ref: "#/definitions/ServiceEndpointPolicyDefinition"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting ServiceEndpointPolicyDefinition resource.
          schema:
            $ref: "#/definitions/ServiceEndpointPolicyDefinition"
        "201":
          description: Create successful. The operation returns the resulting ServiceEndpointPolicyDefinition resource.
          schema:
            $ref: "#/definitions/ServiceEndpointPolicyDefinition"
      tags:
        - serviceEndpointPolicyDefinitions
      x-ms-examples:
        Create service endpoint policy definition:
          parameters:
            ServiceEndpointPolicyDefinitions:
              properties:
                description: Storage Service EndpointPolicy Definition
                service: Microsoft.Storage
                serviceResources:
                  - /subscriptions/subid1
                  - /subscriptions/subid1/resourceGroups/storageRg
                  - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
            api-version: 2019-04-01
            resourceGroupName: rg1
            serviceEndpointPolicyDefinitionName: testDefinition
            serviceEndpointPolicyName: testPolicy
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/serviceEndpointPolicies/testPolicy/serviceEndpointPolicyDefinitions/testDefinition
                name: testDefinition
                properties:
                  description: Storage Service EndpointPolicy Definition
                  service: Microsoft.Storage
                  serviceResources:
                    - /subscriptions/subid1
                    - /subscriptions/subid1/resourceGroups/storageRg
                    - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/networkSecurityGroups/testnsg/securityRules/rule1
                name: rule1
                properties:
                  description: Storage Service EndpointPolicy Definition
                  service: Microsoft.Storage
                  serviceResources:
                    - /subscriptions/subid1
                    - /subscriptions/subid1/resourceGroups/storageRg
                    - /subscriptions/subid1/resourceGroups/storageRg/providers/Microsoft.Storage/storageAccounts/stAccount
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
definitions:
  ServiceEndpointPolicy:
    allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Service End point policy resource.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      properties:
        $ref: "#/definitions/ServiceEndpointPolicyPropertiesFormat"
        description: Properties of the service end point policy.
        x-ms-client-flatten: true
  ServiceEndpointPolicyDefinition:
    allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
    description: Service Endpoint policy definitions.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      name:
        description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
        type: string
      properties:
        description: Service Endpoint policy definition resource.
        properties:
          description:
            description: A description for this rule. Restricted to 140 chars.
            type: string
          provisioningState:
            description: "The provisioning state of the service end point policy definition. Possible values are: 'Updating', 'Deleting', and 'Failed'."
            readOnly: true
            type: string
          service:
            description: Service endpoint name.
            type: string
          serviceResources:
            description: A list of service resources.
            items:
              type: string
            type: array
  ServiceEndpointPolicyDefinitionListResult:
    description: Response for ListServiceEndpointPolicyDefinition API service call. Retrieves all service endpoint policy definition that belongs to a service endpoint policy.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: The service endpoint policy definition in a service endpoint policy.
        items:
          $ref: "#/definitions/ServiceEndpointPolicyDefinition"
        type: array
  ServiceEndpointPolicyDefinitionPropertiesFormat:
    description: Service Endpoint policy definition resource.
    properties:
      description:
        description: A description for this rule. Restricted to 140 chars.
        type: string
      provisioningState:
        description: "The provisioning state of the service end point policy definition. Possible values are: 'Updating', 'Deleting', and 'Failed'."
        readOnly: true
        type: string
      service:
        description: Service endpoint name.
        type: string
      serviceResources:
        description: A list of service resources.
        items:
          type: string
        type: array
  ServiceEndpointPolicyListResult:
    description: Response for ListServiceEndpointPolicies API service call.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        readOnly: true
        type: string
      value:
        description: A list of ServiceEndpointPolicy resources.
        items:
          $ref: "#/definitions/ServiceEndpointPolicy"
        type: array
  ServiceEndpointPolicyPropertiesFormat:
    description: Service Endpoint Policy resource.
    properties:
      provisioningState:
        description: "The provisioning state of the service endpoint policy. Possible values are: 'Updating', 'Deleting', and 'Failed'."
        readOnly: true
        type: string
      resourceGuid:
        description: The resource GUID property of the service endpoint policy resource.
        readOnly: true
        type: string
      serviceEndpointPolicyDefinitions:
        description: A collection of service endpoint policy definitions of the service endpoint policy.
        items:
          allOf:
            - description: Reference to another subresource.
              properties:
                id:
                  description: Resource ID.
                  type: string
              x-ms-azure-resource: true
          description: Service Endpoint policy definitions.
          properties:
            etag:
              description: A unique read-only string that changes whenever the resource is updated.
              type: string
            name:
              description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
              type: string
            properties:
              description: Service Endpoint policy definition resource.
              properties:
                description:
                  description: A description for this rule. Restricted to 140 chars.
                  type: string
                provisioningState:
                  description: "The provisioning state of the service end point policy definition. Possible values are: 'Updating', 'Deleting', and 'Failed'."
                  readOnly: true
                  type: string
                service:
                  description: Service endpoint name.
                  type: string
                serviceResources:
                  description: A list of service resources.
                  items:
                    type: string
                  type: array
        type: array
      subnets:
        description: A collection of references to subnets.
        items:
          $ref: ./virtualNetwork.json#/definitions/Subnet
        readOnly: true
        type: array
