swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: StorSimple8000SeriesManagementClient
  version: 2017-06-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storsimple8000series/resource-manager/Microsoft.StorSimple/stable/2017-06-01/storsimple.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: storsimple8000series-storsimple
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: The api version
    in: query
    name: api-version
    required: true
    type: string
    x-ms-skip-url-encoding: true
  deviceNameParameter:
    description: The device name
    in: path
    name: deviceName
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  managerNameParameter:
    description: The manager name
    in: path
    maxLength: 50
    minLength: 2
    name: managerName
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  resourceGroupNameParameter:
    description: The resource group name
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  subscriptionIdParameter:
    description: The subscription id
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-skip-url-encoding: true
paths:
  /providers/Microsoft.StorSimple/operations:
    get:
      deprecated: false
      description: Lists all of the available REST API operations of the Microsoft.StorSimple provider
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The collection of available provider operations.
          schema:
            $ref: "#/definitions/AvailableProviderOperationList"
      tags:
        - Operations
      x-ms-examples:
        OperationsList:
          parameters:
            api-version: 2017-06-01
          responses:
            "200":
              body:
                value:
                  - display:
                      description: The Update Resource Certificate operation updates the resource/vault credential certificate.
                      operation: Update Resource Certificate
                      provider: Microsoft.StorSimple
                      resource: Managers
                    name: Microsoft.StorSimple/Managers/certificates/write
                    origin: user
                  - display:
                      description: Lists or gets the Update Summary
                      operation: List Update Summary
                      provider: Microsoft StorSimple Device Manager
                      resource: Update Summary
                    name: Microsoft.StorSimple/managers/devices/updateSummary/read
                    origin: user
                  - display:
                      description: Scan for updates in a device.
                      operation: Scan Updates
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/scanForUpdates/action
                    origin: user
                  - display:
                      description: Dowload updates for a device.
                      operation: Download Device Updates
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/download/action
                    origin: user
                  - display:
                      description: Install updates on a device.
                      operation: Install Updates (1200 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/install/action
                    origin: user
                  - display:
                      description: Lists or gets the Time Settings
                      operation: List Time Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Time Settings
                    name: Microsoft.StorSimple/managers/devices/timeSettings/read
                    origin: user
                  - display:
                      description: Lists or gets the Alert Settings
                      operation: List Alert Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Alert Settings
                    name: Microsoft.StorSimple/managers/devices/alertSettings/read
                    origin: user
                  - display:
                      description: Lists or gets the Network Settings
                      operation: List Network Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Network Settings
                    name: Microsoft.StorSimple/managers/devices/networkSettings/read
                    origin: user
                  - display:
                      description: Create or update the Alert Settings
                      operation: Create or Update Alert Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Alert Settings
                    name: Microsoft.StorSimple/managers/devices/alertSettings/write
                    origin: user
                  - display:
                      description: Update the security settings.
                      operation: Update (1200 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Security Settings
                    name: Microsoft.StorSimple/managers/devices/securitySettings/update/action
                    origin: user
                  - display:
                      description: Lists or gets the Devices
                      operation: List Devices
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/read
                    origin: user
                  - display:
                      description: Create or update the Devices
                      operation: Create or Update Devices
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/write
                    origin: user
                  - display:
                      description: Deletes the Devices
                      operation: Delete Devices
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/delete
                    origin: user
                  - display:
                      description: Deactivates a device.
                      operation: Deactivate Device
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/deactivate/action
                    origin: user
                  - display:
                      description: Publish support package of a device for Microsoft Support troubleshooting.
                      operation: Publish Support Package
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/publishSupportPackage/action
                    origin: user
                  - display:
                      description: Lists or gets the Metrics Definitions
                      operation: List Metrics Definitions
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics Definitions
                    name: Microsoft.StorSimple/managers/devices/metricsDefinitions/read
                    origin: user
                  - display:
                      description: Lists or gets the Metrics
                      operation: List Metrics
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics
                    name: Microsoft.StorSimple/managers/devices/metrics/read
                    origin: user
                  - display:
                      description: Failover of the device.
                      operation: Failover Device
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/failover/action
                    origin: user
                  - display:
                      description: Create or update the Shares
                      operation: Create or Update Shares
                      provider: Microsoft StorSimple Device Manager
                      resource: Shares (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/fileservers/shares/write
                    origin: user
                  - display:
                      description: Lists or gets the Shares
                      operation: List Shares
                      provider: Microsoft StorSimple Device Manager
                      resource: Shares (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/fileservers/shares/read
                    origin: user
                  - display:
                      description: Deletes the Shares
                      operation: Delete Shares
                      provider: Microsoft StorSimple Device Manager
                      resource: Shares (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/fileservers/shares/delete
                    origin: user
                  - display:
                      description: Lists or gets the Metrics Definitions
                      operation: List Metrics Definitions
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics Definitions
                    name: Microsoft.StorSimple/managers/devices/fileservers/shares/metricsDefinitions/read
                    origin: user
                  - display:
                      description: Lists or gets the Metrics
                      operation: List Metrics
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics
                    name: Microsoft.StorSimple/managers/devices/fileservers/shares/metrics/read
                    origin: user
                  - display:
                      description: Lists or gets the Disks
                      operation: List Disks
                      provider: Microsoft StorSimple Device Manager
                      resource: Disks (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/disks/read
                    origin: user
                  - display:
                      description: Create or update the Disks
                      operation: Create or Update Disks
                      provider: Microsoft StorSimple Device Manager
                      resource: Disks (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/disks/write
                    origin: user
                  - display:
                      description: Deletes the Disks
                      operation: Delete Disks
                      provider: Microsoft StorSimple Device Manager
                      resource: Disks (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/disks/delete
                    origin: user
                  - display:
                      description: Lists or gets the Metrics Definitions
                      operation: List Metrics Definitions
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics Definitions
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/disks/metricsDefinitions/read
                    origin: user
                  - display:
                      description: Lists or gets the Metrics
                      operation: List Metrics
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/disks/metrics/read
                    origin: user
                  - display:
                      description: Lists or gets the iSCSI Servers
                      operation: List iSCSI Servers
                      provider: Microsoft StorSimple Device Manager
                      resource: iSCSI Servers (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/read
                    origin: user
                  - display:
                      description: Create or update the iSCSI Servers
                      operation: Create or Update iSCSI Servers
                      provider: Microsoft StorSimple Device Manager
                      resource: iSCSI Servers (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/write
                    origin: user
                  - display:
                      description: Deletes the iSCSI Servers
                      operation: Delete iSCSI Servers
                      provider: Microsoft StorSimple Device Manager
                      resource: iSCSI Servers (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/delete
                    origin: user
                  - display:
                      description: Take backup of an iSCSI server.
                      operation: Take Backup
                      provider: Microsoft StorSimple Device Manager
                      resource: iSCSI Servers (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/backup/action
                    origin: user
                  - display:
                      description: Lists or gets the Metrics Definitions
                      operation: List Metrics Definitions
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics Definitions
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/metricsDefinitions/read
                    origin: user
                  - display:
                      description: Lists or gets the Metrics
                      operation: List Metrics
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics
                    name: Microsoft.StorSimple/managers/devices/iscsiservers/metrics/read
                    origin: user
                  - display:
                      description: Lists or gets the Backup Schedule Groups
                      operation: List Backup Schedule Groups
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Schedule Groups (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backupScheduleGroups/read
                    origin: user
                  - display:
                      description: Create or update the Backup Schedule Groups
                      operation: Create or Update Backup Schedule Groups
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Schedule Groups (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backupScheduleGroups/write
                    origin: user
                  - display:
                      description: Deletes the Backup Schedule Groups
                      operation: Delete Backup Schedule Groups
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Schedule Groups (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backupScheduleGroups/delete
                    origin: user
                  - display:
                      description: Lists or gets the Alerts
                      operation: List Alerts
                      provider: Microsoft StorSimple Device Manager
                      resource: Alerts
                    name: Microsoft.StorSimple/managers/alerts/read
                    origin: user
                  - display:
                      description: Clear all the alerts associated with the device manager.
                      operation: Clears All Alerts
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/clearAlerts/action
                    origin: user
                  - display:
                      description: Send test alert email to configured email recipients.
                      operation: Send Test Alert Email
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/sendTestAlertEmail/action
                    origin: user
                  - display:
                      description: Create or update the Storage Account Credentials
                      operation: Create or Update Storage Account Credentials
                      provider: Microsoft StorSimple Device Manager
                      resource: Storage Account Credentials
                    name: Microsoft.StorSimple/managers/storageAccountCredentials/write
                    origin: user
                  - display:
                      description: Lists or gets the Storage Account Credentials
                      operation: List Storage Account Credentials
                      provider: Microsoft StorSimple Device Manager
                      resource: Storage Account Credentials
                    name: Microsoft.StorSimple/managers/storageAccountCredentials/read
                    origin: user
                  - display:
                      description: Deletes the Storage Account Credentials
                      operation: Delete Storage Account Credentials
                      provider: Microsoft StorSimple Device Manager
                      resource: Storage Account Credentials
                    name: Microsoft.StorSimple/managers/storageAccountCredentials/delete
                    origin: user
                  - display:
                      description: Get activation key for the device manager.
                      operation: Get Activation Key
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/getActivationKey/action
                    origin: user
                  - display:
                      description: Regenerate activation key for the device manager.
                      operation: Regenerate Activation Key
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/regenerateActivationKey/action
                    origin: user
                  - display:
                      description: Regenerate registration certificate for the device managers.
                      operation: Regenerate Registration Certificate
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/regenarateRegistationCertificate/action
                    origin: user
                  - display:
                      description: Lists or gets the Encryption Settings
                      operation: List Encryption Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Encryption Settings
                    name: Microsoft.StorSimple/managers/encryptionSettings/read
                    origin: user
                  - display:
                      description: Get encryption key for the device manager.
                      operation: Get Encryption Key
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/getEncryptionKey/action
                    origin: user
                  - display:
                      description: Lists or gets the Device Managers
                      operation: List Device Managers
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/read
                    origin: user
                  - display:
                      description: Deletes the Device Managers
                      operation: Delete Device Managers
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/delete
                    origin: user
                  - display:
                      description: Create or update the Device Managers
                      operation: Create or Update Device Managers
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/write
                    origin: user
                  - display:
                      description: Lists or gets the Metrics Definitions
                      operation: List Metrics Definitions
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics Definitions
                    name: Microsoft.StorSimple/managers/metricsDefinitions/read
                    origin: user
                  - display:
                      description: Lists or gets the Metrics
                      operation: List Metrics
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics
                    name: Microsoft.StorSimple/managers/metrics/read
                    origin: user
                  - display:
                      description: Create or update the Chap Settings
                      operation: Create or Update Chap Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Chap Settings (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/chapSettings/write
                    origin: user
                  - display:
                      description: Lists or gets the Chap Settings
                      operation: List Chap Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Chap Settings (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/chapSettings/read
                    origin: user
                  - display:
                      description: Deletes the Chap Settings
                      operation: Delete Chap Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Chap Settings (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/chapSettings/delete
                    origin: user
                  - display:
                      description: Lists or gets the Backup Set
                      operation: List Backup Set
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Set
                    name: Microsoft.StorSimple/managers/devices/backups/read
                    origin: user
                  - display:
                      description: Deletes the Backup Set
                      operation: Delete Backup Set
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Set
                    name: Microsoft.StorSimple/managers/devices/backups/delete
                    origin: user
                  - display:
                      description: Clone a share or volume using a backup element.
                      operation: Clone
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Elements (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backups/elements/clone/action
                    origin: user
                  - display:
                      description: Lists or gets the Storage Domains
                      operation: List Storage Domains
                      provider: Microsoft StorSimple Device Manager
                      resource: Storage Domains (1200 Series Only)
                    name: Microsoft.StorSimple/managers/storageDomains/read
                    origin: user
                  - display:
                      description: Create or update the Storage Domains
                      operation: Create or Update Storage Domains
                      provider: Microsoft StorSimple Device Manager
                      resource: Storage Domains (1200 Series Only)
                    name: Microsoft.StorSimple/managers/storageDomains/write
                    origin: user
                  - display:
                      description: Deletes the Storage Domains
                      operation: Delete Storage Domains
                      provider: Microsoft StorSimple Device Manager
                      resource: Storage Domains (1200 Series Only)
                    name: Microsoft.StorSimple/managers/storageDomains/delete
                    origin: user
                  - display:
                      description: Lists or gets the Jobs
                      operation: List Jobs
                      provider: Microsoft StorSimple Device Manager
                      resource: Jobs
                    name: Microsoft.StorSimple/managers/devices/jobs/read
                    origin: user
                  - display:
                      description: Lists or gets the Access Control Records
                      operation: List Access Control Records
                      provider: Microsoft StorSimple Device Manager
                      resource: Access Control Records
                    name: Microsoft.StorSimple/managers/accessControlRecords/read
                    origin: user
                  - display:
                      description: Create or update the Access Control Records
                      operation: Create or Update Access Control Records
                      provider: Microsoft StorSimple Device Manager
                      resource: Access Control Records
                    name: Microsoft.StorSimple/managers/accessControlRecords/write
                    origin: user
                  - display:
                      description: Deletes the Access Control Records
                      operation: Delete Access Control Records
                      provider: Microsoft StorSimple Device Manager
                      resource: Access Control Records
                    name: Microsoft.StorSimple/managers/accessControlRecords/delete
                    origin: user
                  - display:
                      description: Lists or gets the File Servers
                      operation: List File Servers
                      provider: Microsoft StorSimple Device Manager
                      resource: File Servers (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/fileservers/read
                    origin: user
                  - display:
                      description: Create or update the File Servers
                      operation: Create or Update File Servers
                      provider: Microsoft StorSimple Device Manager
                      resource: File Servers (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/fileservers/write
                    origin: user
                  - display:
                      description: Deletes the File Servers
                      operation: Delete File Servers
                      provider: Microsoft StorSimple Device Manager
                      resource: File Servers (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/fileservers/delete
                    origin: user
                  - display:
                      description: Take backup of an File Server.
                      operation: Take Backup
                      provider: Microsoft StorSimple Device Manager
                      resource: File Servers (1200 Series Only)
                    name: Microsoft.StorSimple/managers/devices/fileservers/backup/action
                    origin: user
                  - display:
                      description: Lists or gets the Metrics Definitions
                      operation: List Metrics Definitions
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics Definitions
                    name: Microsoft.StorSimple/managers/devices/fileservers/metricsDefinitions/read
                    origin: user
                  - display:
                      description: Lists or gets the Metrics
                      operation: List Metrics
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics
                    name: Microsoft.StorSimple/managers/devices/fileservers/metrics/read
                    origin: user
                  - display:
                      description: Creates a new or updates Time Settings
                      operation: Creates or Updates Time Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Time Settings
                    name: Microsoft.StorSimple/managers/devices/timeSettings/write
                    origin: user
                  - display:
                      description: Creates a new or updates Network Settings
                      operation: Creates or Updates Network Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Network Settings
                    name: Microsoft.StorSimple/managers/devices/networkSettings/write
                    origin: user
                  - display:
                      description: List the Security Settings
                      operation: List Security Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Security Settings
                    name: Microsoft.StorSimple/managers/devices/securitySettings/read
                    origin: user
                  - display:
                      description: Synchronize the remote management certificate for a device.
                      operation: Synchronize Remote Management Certificate (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Security Settings
                    name: Microsoft.StorSimple/managers/devices/securitySettings/syncRemoteManagementCertificate/action
                    origin: user
                  - display:
                      description: Creates a new or updates Security Settings
                      operation: Creates or Updates Security Settings
                      provider: Microsoft StorSimple Device Manager
                      resource: Security Settings
                    name: Microsoft.StorSimple/managers/devices/securitySettings/write
                    origin: user
                  - display:
                      description: Configures a device
                      operation: Configure Device
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/configureDevice/action
                    origin: user
                  - display:
                      description: Installs updates on the devices
                      operation: Install Updates (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/installUpdates/action
                    origin: user
                  - display:
                      description: List the failover sets for an existing device.
                      operation: List Failover Sets
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/listFailoverSets/action
                    origin: user
                  - display:
                      description: List failover targets of the devices
                      operation: List Failover Targets
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/listFailoverTargets/action
                    origin: user
                  - display:
                      description: Gets the activation key of the StorSimple Device Manager.
                      operation: Gets Activation Key
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/listActivationKey/action
                    origin: user
                  - display:
                      description: List public encryption keys of a StorSimple Device Manager.
                      operation: List Public Encryption Key
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/listPublicEncryptionKey/action
                    origin: user
                  - display:
                      description: List public encryption key of the device manager
                      operation: List Public Encryption Key
                      provider: Microsoft StorSimple Device Manager
                      resource: Devices
                    name: Microsoft.StorSimple/managers/devices/publicEncryptionKey/action
                    origin: user
                  - display:
                      description: Gets private encryption key for a StorSimple Device Manager.
                      operation: List Private Encryption Key
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/listPrivateEncryptionKey/action
                    origin: user
                  - display:
                      description: List access keys of Storage Account Credentials
                      operation: List Access Keys
                      provider: Microsoft StorSimple Device Manager
                      resource: Storage Account Credentials
                    name: Microsoft.StorSimple/managers/storageAccountCredentials/listAccessKey/action
                    origin: user
                  - display:
                      description: Cancel a running job
                      operation: Cancel Job
                      provider: Microsoft StorSimple Device Manager
                      resource: Jobs
                    name: Microsoft.StorSimple/managers/devices/jobs/cancel/action
                    origin: user
                  - display:
                      description: Creates a new or updates Volume Containers (8000 Series Only)
                      operation: Creates or Updates Volume Containers (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Volume Containers (8000 Series Only) (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/write
                    origin: user
                  - display:
                      description: List the Volume Containers (8000 Series Only)
                      operation: List Volume Containers (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Volume Containers (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/read
                    origin: user
                  - display:
                      description: Deletes an existing Volume Containers (8000 Series Only)
                      operation: Deletes Volume Containers (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Volume Containers (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/delete
                    origin: user
                  - display:
                      description: List encryption keys of Volume Containers
                      operation: List Encryption Keys
                      provider: Microsoft StorSimple Device Manager
                      resource: Volume Containers (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/listEncryptionKeys/action
                    origin: user
                  - display:
                      description: Rollover encryption keys of Volume Containers
                      operation: Rollover Encryption Keys
                      provider: Microsoft StorSimple Device Manager
                      resource: Volume Containers (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/rolloverEncryptionKey/action
                    origin: user
                  - display:
                      description: List the Metrics Definitions
                      operation: List Metrics Definitions
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics Definitions
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/metricsDefinitions/read
                    origin: user
                  - display:
                      description: List the Metrics
                      operation: List Metrics
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/metrics/read
                    origin: user
                  - display:
                      description: List the Volumes
                      operation: List Volumes
                      provider: Microsoft StorSimple Device Manager
                      resource: Volumes (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/volumes/read
                    origin: user
                  - display:
                      description: Creates a new or updates Volumes
                      operation: Creates or Updates Volumes
                      provider: Microsoft StorSimple Device Manager
                      resource: Volumes
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/volumes/write
                    origin: user
                  - display:
                      description: Deletes an existing Volumes
                      operation: Deletes Volumes
                      provider: Microsoft StorSimple Device Manager
                      resource: Volumes
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/volumes/delete
                    origin: user
                  - display:
                      description: List the Metrics Definitions
                      operation: List Metrics Definitions
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics Definitions
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/volumes/metricsDefinitions/read
                    origin: user
                  - display:
                      description: List the Metrics
                      operation: List Metrics
                      provider: Microsoft StorSimple Device Manager
                      resource: Metrics
                    name: Microsoft.StorSimple/managers/devices/volumeContainers/volumes/metrics/read
                    origin: user
                  - display:
                      description: List the Hardware Component Groups
                      operation: List Hardware Component Groups
                      provider: Microsoft StorSimple Device Manager
                      resource: Hardware Component Groups (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/hardwareComponentGroups/read
                    origin: user
                  - display:
                      description: Change controller power state of hardware component groups
                      operation: Change controller power state of hardware component groups
                      provider: Microsoft StorSimple Device Manager
                      resource: Hardware Component Groups
                    name: Microsoft.StorSimple/managers/devices/hardwareComponentGroups/changeControllerPowerState/action
                    origin: user
                  - display:
                      description: List the Bandwidth Settings (8000 Series Only)
                      operation: List Bandwidth Settings (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Bandwidth Settings (8000 Series Only) (8000 Series Only)
                    name: Microsoft.StorSimple/managers/bandwidthSettings/read
                    origin: user
                  - display:
                      description: Creates a new or updates Bandwidth Settings (8000 Series Only)
                      operation: Creates or Updates Bandwidth Settings (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Bandwidth Settings (8000 Series Only)
                    name: Microsoft.StorSimple/managers/bandwidthSettings/write
                    origin: user
                  - display:
                      description: Deletes an existing Bandwidth Settings (8000 Series Only)
                      operation: Deletes Bandwidth Settings (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Bandwidth Settings (8000 Series Only)
                    name: Microsoft.StorSimple/managers/bandwidthSettings/delete
                    origin: user
                  - display:
                      description: Restore all the volumes from a backup set.
                      operation: Restore from Backup Set
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Set
                    name: Microsoft.StorSimple/managers/devices/backups/restore/action
                    origin: user
                  - display:
                      description: Creates a new or updates Schedules
                      operation: Creates or Updates Schedules
                      provider: Microsoft StorSimple Device Manager
                      resource: Schedules (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backupPolicies/schedules/write
                    origin: user
                  - display:
                      description: List the Schedules
                      operation: List Schedules
                      provider: Microsoft StorSimple Device Manager
                      resource: Schedules
                    name: Microsoft.StorSimple/managers/devices/backupPolicies/schedules/read
                    origin: user
                  - display:
                      description: Deletes an existing Schedules
                      operation: Deletes Schedules
                      provider: Microsoft StorSimple Device Manager
                      resource: Schedules
                    name: Microsoft.StorSimple/managers/devices/backupPolicies/schedules/delete
                    origin: user
                  - display:
                      description: Creates a new or updates Backup Polices (8000 Series Only)
                      operation: Creates or Updates Backup Polices (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Polices (8000 Series Only) (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backupPolicies/write
                    origin: user
                  - display:
                      description: List the Backup Polices (8000 Series Only)
                      operation: List Backup Polices (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Polices (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backupPolicies/read
                    origin: user
                  - display:
                      description: Deletes an existing Backup Polices (8000 Series Only)
                      operation: Deletes Backup Polices (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Polices (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backupPolicies/delete
                    origin: user
                  - display:
                      description: Take a manual backup to create an on-demand backup of all the volumes protected by the policy.
                      operation: Take Backup
                      provider: Microsoft StorSimple Device Manager
                      resource: Backup Polices (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/backupPolicies/backup/action
                    origin: user
                  - display:
                      description: Import source configurations for migration
                      operation: Import Source Configurations
                      provider: Microsoft StorSimple Device Manager
                      resource: Migration Source Configurations (8000 Series Only) (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/migrationSourceConfigurations/import/action
                    origin: user
                  - display:
                      description: Start a job to estimate the duration of the migration process.
                      operation: Start Migration Estimate
                      provider: Microsoft StorSimple Device Manager
                      resource: Migration Source Configurations (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/migrationSourceConfigurations/startMigrationEstimate/action
                    origin: user
                  - display:
                      description: Start migration using source configurations
                      operation: Start Migration
                      provider: Microsoft StorSimple Device Manager
                      resource: Migration Source Configurations (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/migrationSourceConfigurations/startMigration/action
                    origin: user
                  - display:
                      description: Confirms a successful migration and commit it.
                      operation: Confirm Migration
                      provider: Microsoft StorSimple Device Manager
                      resource: Migration Source Configurations (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/migrationSourceConfigurations/confirmMigration/action
                    origin: user
                  - display:
                      description: Fetch the status for the migration estimation job.
                      operation: Fetch Migration Estimate
                      provider: Microsoft StorSimple Device Manager
                      resource: Migration Source Configurations (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/migrationSourceConfigurations/fetchMigrationEstimate/action
                    origin: user
                  - display:
                      description: Fetch the status for the migration.
                      operation: Fetch Migration Status
                      provider: Microsoft StorSimple Device Manager
                      resource: Migration Source Configurations (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/migrationSourceConfigurations/fetchMigrationStatus/action
                    origin: user
                  - display:
                      description: Fetch the confirm status of migration.
                      operation: Fetch Migration Confirm Status
                      provider: Microsoft StorSimple Device Manager
                      resource: Migration Source Configurations (8000 Series Only)
                    name: Microsoft.StorSimple/managers/devices/migrationSourceConfigurations/fetchConfirmMigrationStatus/action
                    origin: user
                  - display:
                      description: Create a new cloud appliance.
                      operation: Create Cloud Appliance (8000 Series Only)
                      provider: Microsoft StorSimple Device Manager
                      resource: Device Managers
                    name: Microsoft.StorSimple/managers/provisionCloudAppliance/action
                    origin: user
                  - display:
                      description: List the Cloud Appliance Supported Configurations
                      operation: List Cloud Appliance Supported Configurations
                      provider: Microsoft StorSimple Device Manager
                      resource: Cloud Appliance Supported Configurations (8000 Series Only)
                    name: Microsoft.StorSimple/managers/cloudApplianceConfigurations/read
                    origin: user
                  - display:
                      description: Create Vault operation creates an Azure resource of type 'vault'
                      operation: Create Vault
                      provider: Microsoft.StorSimple
                      resource: Managers
                    name: Microsoft.StorSimple/Managers/write
                    origin: user
                  - display:
                      description: The Get Vault operation gets an object representing the Azure resource of type 'vault'
                      operation: Get Vault
                      provider: Microsoft.StorSimple
                      resource: Managers
                    name: Microsoft.StorSimple/Managers/read
                    origin: user
                  - display:
                      description: The Delete Vault operation deletes the specified Azure resource of type 'vault'
                      operation: Delete Vault
                      provider: Microsoft.StorSimple
                      resource: Managers
                    name: Microsoft.StorSimple/Managers/delete
                    origin: user
                  - display:
                      description: The Get Extended Info operation gets an object's Extended Info representing the Azure resource of type ?vault?
                      operation: Get Extended Info
                      provider: Microsoft.StorSimple
                      resource: Managers
                    name: Microsoft.StorSimple/Managers/extendedInformation/read
                    origin: user
                  - display:
                      description: The Get Extended Info operation gets an object's Extended Info representing the Azure resource of type ?vault?
                      operation: Get Extended Info
                      provider: Microsoft.StorSimple
                      resource: Managers
                    name: Microsoft.StorSimple/Managers/extendedInformation/write
                    origin: user
                  - display:
                      description: The Get Extended Info operation gets an object's Extended Info representing the Azure resource of type ?vault?
                      operation: Get Extended Info
                      provider: Microsoft.StorSimple
                      resource: Managers
                    name: Microsoft.StorSimple/Managers/extendedInformation/delete
                    origin: user
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.StorSimple/managers":
    get:
      deprecated: false
      description: Retrieves all the managers in a subscription.
      operationId: Managers_List
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The collection of StorSimple managers.
          schema:
            $ref: "#/definitions/ManagerList"
      tags:
        - Managers
      x-ms-examples:
        ManagersList:
          parameters:
            api-version: 2017-06-01
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                value:
                  - etag: W/"datetime'2017-06-05T09%3A36%3A00.8822928Z'"
                    id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroup1/providers/Microsoft.StorSimple/Managers/ManagerForSDKTest
                    location: westus
                    name: Manager1
                    properties:
                      cisIntrinsicSettings:
                        type: GardaV1
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                    type: Microsoft.StorSimple/Managers
                  - etag: W/"datetime'2017-06-05T09%3A36%3A00.8822928Z'"
                    id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/Managers/ManagerForSDKTest
                    location: westus
                    name: ManagerForSDKTest
                    properties:
                      cisIntrinsicSettings:
                        type: GardaV1
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                    type: Microsoft.StorSimple/Managers
                  - etag: W/"datetime'2017-06-14T11%3A27%3A23.8667962Z'"
                    id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/Managers/ManagerForSDKTest1
                    location: westus
                    name: ManagerForSDKTest1
                    properties:
                      cisIntrinsicSettings:
                        type: GardaV1
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                    type: Microsoft.StorSimple/Managers
                  - etag: W/"datetime'2017-06-18T16%3A13%3A43.8476579Z'"
                    id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/Managers/ManagerForSDKTest2
                    location: westus
                    name: ManagerForSDKTest2
                    properties:
                      cisIntrinsicSettings:
                        type: GardaV1
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                    tags:
                      TagName: ForSDKTest
                    type: Microsoft.StorSimple/Managers
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers":
    get:
      deprecated: false
      description: Retrieves all the managers in a resource group.
      operationId: Managers_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The collection of StorSimple managers.
          schema:
            $ref: "#/definitions/ManagerList"
      tags:
        - Managers
      x-ms-examples:
        ManagersListByResourceGroup:
          parameters:
            api-version: 2017-06-01
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                value:
                  - etag: W/"datetime'2017-06-05T09%3A36%3A00.8822928Z'"
                    id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/Managers/ManagerForSDKTest
                    location: westus
                    name: ManagerForSDKTest
                    properties:
                      cisIntrinsicSettings:
                        type: GardaV1
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                    type: Microsoft.StorSimple/Managers
                  - etag: W/"datetime'2017-06-14T11%3A27%3A23.8667962Z'"
                    id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/Managers/ManagerForSDKTest1
                    location: westus
                    name: ManagerForSDKTest1
                    properties:
                      cisIntrinsicSettings:
                        type: GardaV1
                      provisioningState: Succeeded
                      sku:
                        name: Standard
                    type: Microsoft.StorSimple/Managers
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}":
    delete:
      deprecated: false
      description: Deletes the manager.
      operationId: Managers_Delete
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The StorSimple manager has been successfully deleted
        "204":
          description: The StorSimple manager is already in a deleted state
      tags:
        - Managers
      x-ms-examples:
        ManagersDelete:
          parameters:
            api-version: 2017-06-01
            managerName: ManagerForSDKTest2
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200": {}
            "204": {}
    get:
      deprecated: false
      description: Returns the properties of the specified manager name.
      operationId: Managers_Get
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The StorSimple manager.
          schema:
            $ref: "#/definitions/Manager"
      tags:
        - Managers
      x-ms-examples:
        ManagersGet:
          parameters:
            api-version: 2017-06-01
            managerName: ManagerForSDKTest2
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                etag: W/"datetime'2017-06-18T16%3A15%3A11.7946224Z'"
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/Managers/ManagerForSDKTest2
                location: westus
                name: ManagerForSDKTest2
                properties:
                  cisIntrinsicSettings:
                    type: GardaV1
                  provisioningState: Succeeded
                  sku:
                    name: Standard
                tags:
                  TagName: ForSDKTest
                type: Microsoft.StorSimple/Managers
    patch:
      deprecated: false
      description: Updates the StorSimple Manager.
      operationId: Managers_Update
      parameters:
        - description: The manager update parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ManagerPatch"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The StorSimple manager has been successfully updated
          schema:
            $ref: "#/definitions/Manager"
      tags:
        - Managers
      x-ms-examples:
        ManagersUpdate:
          parameters:
            api-version: 2017-06-01
            managerName: ManagerForSDKTest2
            parameters:
              tags:
                TagName: ForSDKTest
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                etag: W/"datetime'2017-06-18T16%3A13%3A43.8476579Z'"
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/Managers/ManagerForSDKTest2
                location: westus
                name: ManagerForSDKTest2
                properties:
                  cisIntrinsicSettings:
                    type: GardaV1
                  provisioningState: Succeeded
                  sku:
                    name: Standard
                tags:
                  TagName: ForSDKTest
                type: Microsoft.StorSimple/Managers
    put:
      deprecated: false
      description: Creates or updates the manager.
      operationId: Managers_CreateOrUpdate
      parameters:
        - description: The manager.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Manager"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The StorSimple manager has been successfully updated
          schema:
            $ref: "#/definitions/Manager"
        "201":
          description: The StorSimple manager has been successfully created
          schema:
            $ref: "#/definitions/Manager"
      tags:
        - Managers
      x-ms-examples:
        ManagersCreateOrUpdate:
          parameters:
            api-version: 2017-06-01
            managerName: ManagerForSDKTest2
            parameters:
              location: westus
              properties:
                cisIntrinsicSettings:
                  type: GardaV1
                sku:
                  name: Standard
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                etag: W/"datetime'2017-06-19T16%3A13%3A18.5925197Z'"
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/Managers/ManagerForSDKTest2
                location: westus
                name: ManagerForSDKTest2
                properties:
                  cisIntrinsicSettings:
                    type: GardaV1
                  provisioningState: Succeeded
                  sku:
                    name: Standard
                type: Microsoft.StorSimple/Managers
            "201":
              body:
                etag: W/"datetime'2017-06-18T16%3A13%3A18.5925197Z'"
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/Managers/ManagerForSDKTest2
                location: westus
                name: ManagerForSDKTest2
                properties:
                  cisIntrinsicSettings:
                    type: GardaV1
                  provisioningState: Succeeded
                  sku:
                    name: Standard
                type: Microsoft.StorSimple/Managers
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords":
    get:
      deprecated: false
      description: Retrieves all the access control records in a manager.
      operationId: AccessControlRecords_ListByManager
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The collection of access control records.
          schema:
            $ref: "#/definitions/AccessControlRecordList"
      tags:
        - AccessControlRecords
      x-ms-examples:
        AccessControlRecordsListByManager:
          parameters:
            api-version: 2017-06-01
            managerName: ManagerForSDKTest1
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/accessControlRecords/ACR2
                    kind: Series8000
                    name: ACR2
                    properties:
                      initiatorName: iqn.1991-05.com.microsoft:test1
                      volumeCount: 1
                    type: Microsoft.StorSimple/managers/accessControlRecords
                  - id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/accessControlRecords/ACR1
                    kind: Series8000
                    name: ACR1
                    properties:
                      initiatorName: iqn.1991-05.com.microsoft:test2
                      volumeCount: 1
                    type: Microsoft.StorSimple/managers/accessControlRecords
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/accessControlRecords/{accessControlRecordName}":
    delete:
      deprecated: false
      description: Deletes the access control record.
      operationId: AccessControlRecords_Delete
      parameters:
        - description: The name of the access control record to delete.
          in: path
          name: accessControlRecordName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Accepted the request to delete the access control record.
        "204":
          description: Successfully deleted the access control record.
      tags:
        - AccessControlRecords
      x-ms-examples:
        AccessControlRecordsDelete:
          parameters:
            accessControlRecordName: ACRForTest
            api-version: 2017-06-01
            managerName: ManagerForSDKTest1
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Returns the properties of the specified access control record name.
      operationId: AccessControlRecords_Get
      parameters:
        - description: Name of access control record to be fetched.
          in: path
          name: accessControlRecordName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The access control record.
          schema:
            $ref: "#/definitions/AccessControlRecord"
      tags:
        - AccessControlRecords
      x-ms-examples:
        AccessControlRecordsGet:
          parameters:
            accessControlRecordName: ACRForTest
            api-version: 2017-06-01
            managerName: ManagerForSDKTest1
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/accessControlRecords/ACRForTest
                kind: Series8000
                name: ACRForTest
                properties:
                  initiatorName: iqn.2017-06.com.contoso:ForTest
                  volumeCount: 0
                type: Microsoft.StorSimple/managers/accessControlRecords
    put:
      deprecated: false
      description: Creates or Updates an access control record.
      operationId: AccessControlRecords_CreateOrUpdate
      parameters:
        - description: The name of the access control record.
          in: path
          name: accessControlRecordName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The access control record to be added or updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/AccessControlRecord"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: Successfully created or updated the access control record.
          schema:
            $ref: "#/definitions/AccessControlRecord"
        "202":
          description: Accepted the request to create or update the access control record.
      tags:
        - AccessControlRecords
      x-ms-examples:
        AccessControlRecordsCreateOrUpdate:
          parameters:
            accessControlRecordName: ACRForTest
            api-version: 2017-06-01
            managerName: ManagerForSDKTest1
            parameters:
              properties:
                initiatorName: iqn.2017-06.com.contoso:ForTest
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/accessControlRecords/ACRForTest
                kind: Series8000
                name: ACRForTest
                properties:
                  initiatorName: iqn.2017-06.com.contoso:ForTest
                  volumeCount: 0
                type: Microsoft.StorSimple/managers/accessControlRecords
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/alerts":
    get:
      deprecated: false
      description: Retrieves all the alerts in a manager.
      operationId: Alerts_ListByManager
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: OData Filter options
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: The collection of alerts.
          schema:
            $ref: "#/definitions/AlertList"
      tags:
        - Alerts
      x-ms-examples:
        AlertsListByManager:
          parameters:
            $filter: status%20eq%20'Active'%20and%20appearedOnTime%20ge%20'2017-06-09T18:30:00Z'%20and%20appearedOnTime%20le%20'2017-06-19T18:30:00Z'%20and%20sourceType%20eq%20'Device'%20and%20sourceName%20eq%20'Device05ForSDKTest'
            $top: 100
            api-version: 2017-06-01
            managerName: ManagerForSDKTest1
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/devices/Device05ForSDKTest/alerts/308b5bd2-824b-436f-840e-44bde075ef33
                    kind: Series8000
                    name: 308b5bd2-824b-436f-840e-44bde075ef33
                    properties:
                      alertType: Security
                      appearedAtSourceTime: 2017-06-14T11:35:41.2266096Z
                      appearedAtTime: 2017-06-14T11:35:41.2266096Z
                      clearedAtSourceTime: 0001-01-01T00:00:00Z
                      clearedAtTime: 0001-01-01T00:00:00Z
                      detailedInformation: {}
                      errorDetails:
                        occurences: 1
                      recommendation: Your device might be under attack or an authorized user is attempting to connect with an incorrect password. Check that your SnapShot manager instances are configured with the correct password. Once you have taken appropriate action, please clear this alert from the alerts page.
                      scope: Device
                      severity: Warning
                      source:
                        alertSourceType: Device
                        name: Device05ForSDKTest
                        timeZone: Pacific Standard Time
                      status: Active
                      title: 4 login attempts failed for SnapShotManager
                    type: Microsoft.StorSimple/managers/devices/alerts
                  - id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/devices/Device05ForSDKTest/alerts/3c3df90a-cbbc-4cc4-bd63-b54ca05997da
                    kind: Series8000
                    name: 3c3df90a-cbbc-4cc4-bd63-b54ca05997da
                    properties:
                      alertType: Cloud Connectivity
                      appearedAtSourceTime: 2017-06-14T11:30:43.6564921Z
                      appearedAtTime: 2017-06-14T11:30:43.6564921Z
                      clearedAtSourceTime: 0001-01-01T00:00:00Z
                      clearedAtTime: 0001-01-01T00:00:00Z
                      detailedInformation:
                        httP code: "400"
                        rpC code: "109"
                        status code: "12"
                      errorDetails:
                        occurences: 1
                      recommendation: Check your network settings.
                      scope: Device
                      severity: Warning
                      source:
                        alertSourceType: Device
                        name: Device05ForSDKTest
                        timeZone: Pacific Standard Time
                      status: Active
                      title: Connectivity to Cloud1 cannot be established
                    type: Microsoft.StorSimple/managers/devices/alerts
      x-ms-odata: "#/definitions/AlertFilter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/bandwidthSettings":
    get:
      deprecated: false
      description: Retrieves all the bandwidth setting in a manager.
      operationId: BandwidthSettings_ListByManager
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The collection of bandwidth settings.
          schema:
            $ref: "#/definitions/BandwidthSettingList"
      tags:
        - BandwidthSettings
      x-ms-examples:
        BandwidthSettingsListByManager:
          parameters:
            api-version: 2017-06-01
            managerName: ManagerForSDKTest1
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/bandwidthSettings/bandwidthSetting1
                    kind: Series8000
                    name: bandwidthSetting1
                    properties:
                      schedules:
                        - days:
                            - Monday
                            - Tuesday
                            - Wednesday
                            - Thursday
                            - Friday
                            - Saturday
                            - Sunday
                          rateInMbps: 150
                          start:
                            hours: 10
                            minutes: 0
                            seconds: 0
                          stop:
                            hours: 22
                            minutes: 0
                            seconds: 0
                        - days:
                            - Saturday
                            - Sunday
                          rateInMbps: 100
                          start:
                            hours: 8
                            minutes: 0
                            seconds: 0
                          stop:
                            hours: 10
                            minutes: 0
                            seconds: 0
                      volumeCount: 1
                    type: Microsoft.StorSimple/managers/bandwidthSettings
                  - id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/bandwidthSettings/BandwidthSetting2
                    kind: Series8000
                    name: BandwidthSetting2
                    properties:
                      schedules:
                        - days:
                            - Monday
                            - Tuesday
                            - Wednesday
                            - Thursday
                            - Friday
                            - Saturday
                            - Sunday
                          rateInMbps: 150
                          start:
                            hours: 10
                            minutes: 0
                            seconds: 0
                          stop:
                            hours: 22
                            minutes: 0
                            seconds: 0
                        - days:
                            - Thursday
                            - Friday
                          rateInMbps: 80
                          start:
                            hours: 8
                            minutes: 0
                            seconds: 0
                          stop:
                            hours: 10
                            minutes: 0
                            seconds: 0
                      volumeCount: 0
                    type: Microsoft.StorSimple/managers/bandwidthSettings
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/bandwidthSettings/{bandwidthSettingName}":
    delete:
      deprecated: false
      description: Deletes the bandwidth setting
      operationId: BandwidthSettings_Delete
      parameters:
        - description: The name of the bandwidth setting.
          in: path
          name: bandwidthSettingName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Accepted the request to delete the bandwidth setting.
        "204":
          description: Successfully deleted the bandwidth setting.
      tags:
        - BandwidthSettings
      x-ms-examples:
        BandwidthSettingsDelete:
          parameters:
            api-version: 2017-06-01
            bandwidthSettingName: BWSForTest
            managerName: ManagerForSDKTest1
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Returns the properties of the specified bandwidth setting name.
      operationId: BandwidthSettings_Get
      parameters:
        - description: The name of bandwidth setting to be fetched.
          in: path
          name: bandwidthSettingName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The bandwidth setting.
          schema:
            $ref: "#/definitions/BandwidthSetting"
      tags:
        - BandwidthSettings
      x-ms-examples:
        BandwidthSettingsGet:
          parameters:
            api-version: 2017-06-01
            bandwidthSettingName: bandwidthSetting1
            managerName: ManagerForSDKTest1
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/bandwidthSettings/bandwidthSetting1
                kind: Series8000
                name: bandwidthSetting1
                properties:
                  schedules:
                    - days:
                        - Monday
                        - Tuesday
                        - Wednesday
                        - Thursday
                        - Friday
                        - Saturday
                        - Sunday
                      rateInMbps: 150
                      start:
                        hours: 10
                        minutes: 0
                        seconds: 0
                      stop:
                        hours: 22
                        minutes: 0
                        seconds: 0
                    - days:
                        - Saturday
                        - Sunday
                      rateInMbps: 100
                      start:
                        hours: 8
                        minutes: 0
                        seconds: 0
                      stop:
                        hours: 10
                        minutes: 0
                        seconds: 0
                  volumeCount: 1
                type: Microsoft.StorSimple/managers/bandwidthSettings
    put:
      deprecated: false
      description: Creates or updates the bandwidth setting
      operationId: BandwidthSettings_CreateOrUpdate
      parameters:
        - description: The bandwidth setting name.
          in: path
          name: bandwidthSettingName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The bandwidth setting to be added or updated.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/BandwidthSetting"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: Successfully created or updated the bandwidth setting.
          schema:
            $ref: "#/definitions/BandwidthSetting"
        "202":
          description: Accepted the request to create or update the bandwidth setting.
      tags:
        - BandwidthSettings
      x-ms-examples:
        BandwidthSettingsCreateOrUpdate:
          parameters:
            api-version: 2017-06-01
            bandwidthSettingName: BWSForTest
            managerName: ManagerForSDKTest1
            parameters:
              properties:
                schedules:
                  - days:
                      - Saturday
                      - Sunday
                    rateInMbps: 10
                    start:
                      hours: 10
                      minutes: 0
                      seconds: 0
                    stop:
                      hours: 20
                      minutes: 0
                      seconds: 0
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/bandwidthSettings/BWSForTest
                kind: Series8000
                name: BWSForTest
                properties:
                  schedules:
                    - days:
                        - Saturday
                        - Sunday
                      rateInMbps: 10
                      start:
                        hours: 10
                        minutes: 0
                        seconds: 0
                      stop:
                        hours: 20
                        minutes: 0
                        seconds: 0
                  volumeCount: 0
                type: Microsoft.StorSimple/managers/bandwidthSettings
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/clearAlerts":
    post:
      deprecated: false
      description: Clear the alerts.
      operationId: Alerts_Clear
      parameters:
        - description: The clear alert request.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ClearAlertRequest"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "204":
          description: Successfully cleared the alerts.
      tags:
        - Alerts
      x-ms-examples:
        AlertsClear:
          parameters:
            $filter: status%20eq%20'Active'%20and%20appearedOnTime%20ge%20'2017-06-09T18:30:00Z'%20and%20appearedOnTime%20le%20'2017-06-19T18:30:00Z'%20and%20sourceType%20eq%20'Device'%20and%20sourceName%20eq%20'Device05ForSDKTest'
            $top: 100
            api-version: 2017-06-01
            managerName: ManagerForSDKTest1
            parameters:
              alerts:
                - /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/devices/Device05ForSDKTest/alerts/308b5bd2-824b-436f-840e-44bde075ef33
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "204": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/cloudApplianceConfigurations":
    get:
      deprecated: false
      description: Lists supported cloud appliance models and supported configurations.
      operationId: CloudAppliances_ListSupportedConfigurations
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The collection of cloud appliance configuration.
          schema:
            $ref: "#/definitions/CloudApplianceConfigurationList"
      tags:
        - CloudAppliances
      x-ms-examples:
        CloudAppliancesListSupportedConfigurations:
          parameters:
            api-version: 2017-06-01
            managerName: ManagerForSDKTest1
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: d3ebfe71-b7a9-4c57-92b9-68a2afde4de5
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/d3ebfe71-b7a9-4c57-92b9-68a2afde4de5/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/managers/cloudApplianceConfigurations/8010
                    kind: Series8000
                    name: "8010"
                    properties:
                      acsConfiguration:
                        namespace: wuspod01rp1users
                        realm: http://windowscloudbackup/m3
                        serviceUrl: accesscontrol.windows.net
                      cloudPlatform: public
                      modelNumber: "8010"
                      supportedRegions:
                        - All
                      supportedStorageAccountTypes:
                        - Standard_LRS
                        - Standard_GRS
                        - Standard_RAGRS
                      supportedVmImages:
                        - name: StorSimple 8000 Series Update 4
                          offer: StorSimple
                          publisher: MicrosoftHybridCloudStorage
                          sku: StorSimple-Garda-8000-Series-BBUpdate
                          version: 9600.17820.170208
                      supportedVmTypes:
                        - Standard_A3
                    type: Microsoft.StorSimple/managers/cloudApplianceConfigurations
                  - id: /subscriptions/d3ebfe71-b7a9-4c57-92b9-68a2afde4de5/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/managers/cloudApplianceConfigurations/8020
                    kind: Series8000
                    name: "8020"
                    properties:
                      acsConfiguration:
                        namespace: wuspod01rp1users
                        realm: http://windowscloudbackup/m3
                        serviceUrl: accesscontrol.windows.net
                      cloudPlatform: public
                      modelNumber: "8020"
                      supportedRegions:
                        - Central US
                        - East US
                        - East US 2
                        - South Central US
                        - West US
                        - North Europe
                        - West Europe
                        - East Asia
                        - Southeast Asia
                        - Japan East
                        - Japan West
                        - Australia East
                        - Australia Southeast
                      supportedStorageAccountTypes:
                        - Premium_LRS
                      supportedVmImages:
                        - name: StorSimple 8000 Series Update 4
                          offer: StorSimple
                          publisher: MicrosoftHybridCloudStorage
                          sku: StorSimple-Garda-8000-Series-BBUpdate
                          version: 9600.17820.170208
                      supportedVmTypes:
                        - Standard_DS3
                    type: Microsoft.StorSimple/managers/cloudApplianceConfigurations
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/configureDevice":
    post:
      deprecated: false
      description: Complete minimal setup before using the device.
      operationId: Devices_Configure
      parameters:
        - description: The minimal properties to configure a device.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ConfigureDeviceRequest"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Accepted the request to configure device.
        "204":
          description: Successfully configured the device.
      tags:
        - Devices
      x-ms-examples:
        DevicesConfigure:
          parameters:
            $expand: details
            api-version: 2017-06-01
            managerName: ManagerForSDKTest1
            parameters:
              properties:
                currentDeviceName: Device001ForSDKTest
                friendlyName: Device001ForSDKTest
                networkInterfaceData0Settings:
                  controllerOneIp: 10.168.220.228
                  controllerZeroIp: 10.168.220.227
                timeZone: Pacific Standard Time
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StorSimple/managers/{managerName}/devices":
    get:
      deprecated: false
      description: Returns the list of devices for the specified manager.
      operationId: Devices_ListByManager
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/managerNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Specify $expand=details to populate additional fields related to the device or $expand=rolloverdetails to populate additional fields related to the service data encryption key rollover on device
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: The collection of devices.
          schema:
            $ref: "#/definitions/DeviceList"
      tags:
        - Devices
      x-ms-examples:
        DevicesListByManager:
          parameters:
            api-version: 2017-06-01
            managerName: ManagerForSDKTest1
            resourceGroupName: ResourceGroupForSDKTest
            subscriptionId: 4385cf00-2d3a-425a-832f-f4285b1c9dce
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/4385cf00-2d3a-425a-832f-f4285b1c9dce/resourceGroups/ResourceGroupForSDKTest/providers/Microsoft.StorSimple/managers/ManagerForSDKTest1/devices/sugattdeviceforSDK
                    kind: Series8000
                    name: sugattdeviceforSDK
                    properties:
                      activationTime: 2017-06-14T07:01:51.8964712Z
                      activeController: Controller0
                      agentGroupVersion: 7
                      availableLocalStorageInBytes: 43980464128
                      availableTieredStorageInBytes: 1099511627776
                      culture: en-US
                      deviceConfigurationStatus: Complete
                      deviceDescription: Device for SDK testing.
                      deviceSoftwareVersion: 6.3.9600.17802
                      deviceType: Series8000PhysicalAppliance
                      friendlyName: sugattdeviceforSDK
                      friendlySoftwareVersion: StorSimple 8000 Series Update 4.0
                      modelDescription: "100"
                      networkInterfaceCardCount: 6
                      provisionedLocalStorageInBytes: 0
[...]
