swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules, VNET rules, security alert policies, log files and configurations with new business model.
  title: MySQLManagementClient
  version: 2018-06-01-privatepreview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mysql/resource-manager/Microsoft.DBforMySQL/preview/2018-06-01-privatepreview/PrivateLinkResources.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: mysql-PrivateLinkResources
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: The API version to use for the request.
    in: query
    name: api-version
    required: true
    type: string
    x-ms-parameter-location: client
  ResourceGroupParameter:
    description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The subscription ID that identifies an Azure subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-parameter-location: client
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/privateLinkResources":
    get:
      description: Gets the private link resources for MySQL server.
      operationId: PrivateLinkResources_ListByServer
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved private link resources.
          schema:
            $ref: "#/definitions/PrivateLinkResourceListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - PrivateLinkResources
      x-ms-examples:
        Gets private link resources for MySQL.:
          parameters:
            api-version: 2018-06-01-privatepreview
            resourceGroupName: Default
            serverName: test-svr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default/providers/Microsoft.DBforMySQL/servers/test-svr/privateLinkResources/plr
                    name: plr
                    properties:
                      groupId: mysqlServer
                      requiredMembers:
                        - mysqlServer
                    type: Microsoft.DBforMySQL/servers/privateLinkResources
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/servers/{serverName}/privateLinkResources/{groupName}":
    get:
      description: Gets a private link resource for MySQL server.
      operationId: PrivateLinkResources_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the private link resource.
          in: path
          name: groupName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved private link resources.
          schema:
            $ref: "#/definitions/PrivateLinkResource"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - PrivateLinkResources
      x-ms-examples:
        Gets a private link resource for MySQL.:
          parameters:
            api-version: 2018-06-01-privatepreview
            groupName: plr
            resourceGroupName: Default
            serverName: test-svr
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/Default/providers/Microsoft.DBforMySQL/servers/test-svr/privateLinkResources/plr
                name: plr
                properties:
                  groupId: mysqlServer
                  requiredMembers:
                    - mysqlServer
                type: Microsoft.DBforMySQL/servers/privateLinkResources
definitions:
  CloudError:
    description: An error response from the Batch service.
    properties:
      error:
        $ref: "#/definitions/CloudErrorBody"
    x-ms-external: true
  CloudErrorBody:
    description: An error response from the Batch service.
    properties:
      code:
        description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        type: string
      details:
        description: A list of additional details about the error.
        items:
          $ref: "#/definitions/CloudErrorBody"
        type: array
      message:
        description: A message describing the error, intended to be suitable for display in a user interface.
        type: string
      target:
        description: The target of the particular error. For example, the name of the property in error.
        type: string
    x-ms-external: true
  PrivateLinkResource:
    allOf:
      - $ref: "#/definitions/ProxyResource"
    description: A private link resource
    properties:
      properties:
        $ref: "#/definitions/PrivateLinkResourceProperties"
        description: The private link resource group id.
        readOnly: true
    type: object
  PrivateLinkResourceListResult:
    description: A list of private link resources
    properties:
      nextLink:
        description: Link to retrieve next page of results.
        readOnly: true
        type: string
      value:
        description: Array of results.
        items:
          $ref: "#/definitions/PrivateLinkResource"
        readOnly: true
        type: array
    type: object
  PrivateLinkResourceProperties:
    description: Properties of a private link resource.
    properties:
      groupId:
        description: The private link resource group id.
        readOnly: true
        type: string
      requiredMembers:
        description: The private link resource required member names.
        items:
          type: string
        readOnly: true
        type: array
    type: object
  ProxyResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: ARM proxy resource.
    properties: {}
    type: object
  Resource:
    description: ARM resource.
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      type:
        description: Resource type.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
