{
  "swagger": "2.0",
  "schemes": [
    "http",
    "https"
  ],
  "host": "api.wmata.com",
  "basePath": "/Incidents.svc",
  "info": {
    "description": "Rail, bus, and elevator disruptions/outages.",
    "title": "Incidents",
    "version": "1.0",
    "x-apisguru-categories": [
      "transport"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_wmata_profile_image.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://developer.wmata.com/docs/services/54763641281d83086473f232/export?DocumentFormat=Swagger",
        "version": "2.0"
      }
    ],
    "x-providerName": "wmata.com",
    "x-serviceName": "incidents"
  },
  "securityDefinitions": {
    "apiKeyHeader": {
      "in": "header",
      "name": "api_key",
      "type": "apiKey"
    },
    "apiKeyQuery": {
      "in": "query",
      "name": "api_key",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/BusIncidents": {
      "get": {
        "description": "<h4 class=\"text-primary\">Description</h4>\r\n\r\n<p>Returns a set of reported bus incidents/delays for a given Route. Omit the\r\nRoute to return all reported items.</p>\r\n\r\n<p>Note that the Route parameter accepts only base route names and no\r\nvariations, i.e.: use 10A instead of 10Av1 and 10Av2.</p>\r\n\r\n<p>Bus incidents/delays are refreshed once every 20 to 30 seconds approximately.</p>\r\n\r\n<h4 class=\"text-primary\">Response Elements</h4>\r\n\r\n<table class=\"table table-condensed table-hover\">\r\n<thead>\r\n<tr>\r\n<th class=\"col-md-3\">Element</th>\r\n\r\n<th>Description</th>\r\n</tr>\r\n</thead>\r\n\r\n<tbody>\r\n<tr>\r\n<td>BusIncidents</td>\r\n\r\n<td>\r\nArray containing bus incident information (<a href=\r\n\"#BusIncident\">BusIncident</a>).\r\n</td>\r\n</tr>\r\n\r\n<tr>\r\n<td colspan=\"2\">\r\n<div class=\"text-primary\" style=\"margin-top: 1em\">\r\n<a id=\"BusIncident\" name=\"BusIncident\">BusIncident\r\nElements</a>\r\n</div>\r\n</td>\r\n</tr>\r\n\r\n<tr>\r\n<td>DateUpdated</td>\r\n\r\n<td>Date and time (Eastern Standard Time) of last update. Will be\r\nin YYYY-MM-DDTHH:mm:ss format (e.g.: 2014-10-28T08:13:03).</td>\r\n</tr>\r\n\r\n<tr>\r\n<td>Description</td>\r\n\r\n<td>Free-text description of the delay or incident.</td>\r\n</tr>\r\n\r\n<tr>\r\n<td>IncidentID</td>\r\n\r\n<td>Unique identifier for an incident.</td>\r\n</tr>\r\n\r\n<tr>\r\n<td>IncidentType</td>\r\n\r\n<td>Free-text description of the incident type. Usually\r\n<span class=\"text-info\">Delay</span> or <span class=\r\n\"text-info\">Alert</span> but is subject to change at any time.</td>\r\n</tr>\r\n\r\n<tr>\r\n<td>RoutesAffected</td>\r\n\r\n<td>Array containing routes affected. Routes listed are usually\r\nidentical to base route names (i.e.: not 10Av1 or 10Av2, but 10A),\r\nbut <em>may</em> differ from what our bus methods return.</td>\r\n</tr>\r\n</tbody>\r\n</table>",
        "operationId": "54763641281d830c946a3d78",
        "parameters": [
          {
            "description": "Bus route.  Use full route code, i.e.: C2 instead of C2v1, C2v2, etc.",
            "enum": [
              "90",
              "X1"
            ],
            "in": "query",
            "name": "Route",
            "type": "string"
          }
        ],
        "produces": [
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Default response code.",
            "examples": {
              "application/xml": "<BusIncidentsResp\n    xmlns=\"http://www.wmata.com\"\n    xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <BusIncidents>\n        <BusIncident>\n            <DateUpdated>2014-10-28T08:13:03</DateUpdated>\n            <Description>90, 92, X1, X2, X9: Due to traffic congestion at 8th &amp; H St NE, buses are experiencing up to 20 minute delays in both directions.</Description>\n            <IncidentType>Delay</IncidentType>\n            <IncidentID>32297013-57B6-467F-BC6B-93DFA4115652</IncidentID>\n            <RoutesAffected\n                xmlns:a=\"http://schemas.microsoft.com/2003/10/Serialization/Arrays\">\n                <a:string>90</a:string>\n                <a:string>92</a:string>\n                <a:string>X1</a:string>\n                <a:string>X2</a:string>\n                <a:string>X9</a:string>\n            </RoutesAffected>\n        </BusIncident>\n    </BusIncidents>\n</BusIncidentsResp>"
            }
          }
        },
        "summary": "XML - Bus Incidents"
      }
    },
    "/ElevatorIncidents": {
      "get": {
        "description": "<h4 class=\"text-primary\">Description</h4>\n\n<p>Returns a list of <em>reported</em> elevator and escalator outages at a\ngiven station. Omit the StationCode parameter to return all reported\noutages.</p>\n\n<p>Note that for stations with multiple platforms and therefore StationCodes\n(e.g.: Metro Center, L'Enfant Plaza, etc.), a distinct call is required for\neach StationCode.</p>\n\n<p>Elevator and escalator outages are refreshed once every 20 to 30 seconds approximately.</p>\n\n<h4 class=\"text-primary\">Response Elements</h4>\n\n<table class=\"table table-condensed table-hover\">\n<thead>\n<tr>\n<th class=\"col-md-3\">Element</th>\n\n<th>Description</th>\n</tr>\n</thead>\n\n<tbody>\n<tr>\n<td>ElevatorIncidents</td>\n\n<td>\nArray containing elevator/escalator outage information\n(<a href=\"#ElevatorIncident\">ElevatorIncident</a>).\n</td>\n</tr>\n\n<tr>\n<td colspan=\"2\">\n<div class=\"text-primary\" style=\"margin-top: 1em\">\n<a id=\"ElevatorIncident\" name=\n\"ElevatorIncident\">ElevatorIncident Elements</a>\n</div>\n</td>\n</tr>\n\n<tr>\n<td>DateOutOfServ</td>\n\n<td>Date and time (Eastern Standard Time) unit was reported out of\nservice. Will be in YYYY-MM-DDTHH:mm:ss format (e.g.:\n2014-10-27T15:17:00).</td>\n</tr>\n\n<tr>\n<td>DateUpdated</td>\n\n<td>Date and time (Eastern Standard Time) outage details was last\nupdated. Will be in YYYY-MM-DDTHH:mm:ss format (e.g.:\n2014-10-27T15:17:00).</td>\n</tr>\n\n<tr>\n<td style=\"text-decoration: line-through\">DisplayOrder</td>\n\n<td><span class=\"text-danger\">Deprecated.</span></td>\n</tr>\n\n<tr>\n<td>EstimatedReturnToService</td>\n\n<td>Estimated date and time (Eastern Standard Time) by when unit is expected to return to normal service. May be NULL, otherwise will be in YYYY-MM-DDTHH:mm:ss format (e.g.:\n2014-10-27T23:59:59).</td>\n</tr>\n\n<tr>\n<td>LocationDescription</td>\n\n<td>Free-text description of the unit location within a station\n(e.g.: <span class=\"text-info\">Escalator between mezzanine and\nplatform</span>).</td>\n</tr>\n\n<tr>\n<td>StationCode</td>\n\n<td>Unit's station code. Use this value in other rail-related APIs\nto retrieve data about a station.</td>\n</tr>\n\n<tr>\n<td>StationName</td>\n\n<td>Full station name, may include entrance information (e.g.:\n<span class=\"text-info\">Metro Center, G and 11th St\nEntrance</span>).</td>\n</tr>\n\n<tr>\n<td style=\"text-decoration: line-through\">SymptomCode</td>\n\n<td><span class=\"text-danger\">Deprecated.</span></td>\n</tr>\n\n<tr>\n<td>SymptomDescription</td>\n\n<td>Description for why the unit is out of service or otherwise in\nreduced operation.</td>\n</tr>\n\n<tr>\n<td style=\"text-decoration: line-through\">TimeOutOfService</td>\n\n<td><span class=\"text-danger\">Deprecated.</span> Use the time\nportion of the DateOutOfServ element.</td>\n</tr>\n\n<tr>\n<td>UnitName</td>\n\n<td>Unique identifier for unit, by type (a single elevator and\nescalator may have the same UnitName, but no two elevators or two\nescalators will have the same UnitName).</td>\n</tr>\n\n<tr>\n<td style=\"text-decoration: line-through\">UnitStatus</td>\n\n<td><span class=\"text-danger\">Deprecated.</span> If listed here,\nthe unit is inoperational or otherwise impaired.</td>\n</tr>\n\n<tr>\n<td>UnitType</td>\n\n<td>Type of unit. Will be <span class=\"text-info\">ELEVATOR</span>\nor <span class=\"text-info\">ESCALATOR</span>.</td>\n</tr>\n</tbody>\n</table>",
        "operationId": "54763641281d830c946a3d79",
        "parameters": [
          {
            "description": "Two-letter station code.  Use the Station List method to return a list of all station codes.",
            "enum": [
              "A03",
              "E09"
            ],
            "in": "query",
            "name": "StationCode",
            "type": "string"
          }
        ],
        "produces": [
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Default response code.",
            "examples": {
              "application/xml": "<ElevatorIncidentsResp\n    xmlns=\"http://www.wmata.com\"\n    xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <ElevatorIncidents>\n        <ElevatorIncident>\n            <DateOutOfServ>2014-10-27T15:17:00</DateOutOfServ>\n            <DateUpdated>2014-10-28T06:28:30</DateUpdated>\n            <DisplayOrder>0</DisplayOrder>\n            <EstimatedReturnToService>2014-10-30T23:59:59</EstimatedReturnToService>\n            <LocationDescription>Escalator between mezzanine and platform to Shady Grove</LocationDescription>\n            <StationCode>A03</StationCode>\n            <StationName>Dupont Circle, Q Street Entrance</StationName>\n            <SymptomCode i:nil=\"true\"/>\n            <SymptomDescription>Service Call</SymptomDescription>\n            <TimeOutOfService>1517</TimeOutOfService>\n            <UnitName>A03N04</UnitName>\n            <UnitStatus i:nil=\"true\"/>\n            <UnitType>ESCALATOR</UnitType>\n        </ElevatorIncident>\n    </ElevatorIncidents>\n</ElevatorIncidentsResp>"
            }
          }
        },
        "summary": "XML - Elevator/Escalator Outages"
      }
    },
    "/Incidents": {
      "get": {
        "description": "<h4 class=\"text-primary\">Description</h4>\r\n\r\n<p>Returns reported rail incidents (significant disruptions and delays to\r\nnormal service). The data is identical to WMATA's <a href=\r\n\"http://www.metroalerts.info/rss.aspx?rs\">Metrorail Service Status\r\nfeed</a>.</p>\r\n\r\n<p>Rail incidents are refreshed once every 20 to 30 seconds approximately.</p>\r\n\r\n<h4 class=\"text-primary\">Response Elements</h4>\r\n\r\n<table class=\"table table-condensed table-hover\">\r\n<thead>\r\n<tr>\r\n<th class=\"col-md-3\">Element</th>\r\n\r\n<th>Description</th>\r\n</tr>\r\n</thead>\r\n\r\n<tbody>\r\n<tr>\r\n<td>Incidents</td>\r\n\r\n<td>\r\nArray containing rail disruption information (<a href=\r\n\"#Incident\">Incident</a>).\r\n</td>\r\n</tr>\r\n\r\n<tr>\r\n<td colspan=\"2\">\r\n<div class=\"text-primary\" style=\"margin-top: 1em\">\r\n<a id=\"Incident\" name=\"Incident\">Incident Elements</a>\r\n</div>\r\n</td>\r\n</tr>\r\n\r\n<tr>\r\n<td>DateUpdated</td>\r\n\r\n<td>Date and time (Eastern Standard Time) of last update. Will be\r\nin YYYY-MM-DDTHH:mm:SS format (e.g.: 2010-07-29T14:21:28).</td>\r\n</tr>\r\n\r\n<tr>\r\n<td style=\"text-decoration: line-through\">DelaySeverity</td>\r\n\r\n<td><span class=\"text-danger\">Deprecated.</span></td>\r\n</tr>\r\n\r\n<tr>\r\n<td>Description</td>\r\n\r\n<td>Free-text description of the incident.</td>\r\n</tr>\r\n\r\n<tr>\r\n<td style=\"text-decoration: line-through\">EmergencyText</td>\r\n\r\n<td><span class=\"text-danger\">Deprecated.</span></td>\r\n</tr>\r\n\r\n<tr>\r\n<td style=\"text-decoration: line-through\">EndLocationFullName</td>\r\n\r\n<td><span class=\"text-danger\">Deprecated.</span></td>\r\n</tr>\r\n\r\n<tr>\r\n<td>IncidentID</td>\r\n\r\n<td>Unique identifier for an incident.</td>\r\n</tr>\r\n\r\n<tr>\r\n<td>IncidentType</td>\r\n\r\n<td>Free-text description of the incident type. Usually Delay or\r\nAlert but is subject to change at any time.</td>\r\n</tr>\r\n\r\n<tr>\r\n<td>LinesAffected</td>\r\n\r\n<td>Semi-colon and space separated list of line codes (e.g.:\r\n<span class=\"text-info\">RD;</span> or <span class=\"text-info\">BL;\r\nOR;</span> or <span class=\"text-info\">BL; OR; RD;</span>). We do\r\nplan to update this to return something more reasonable like an\r\narray, but until then, use code similar to the following:<br>\r\n<br>\r\n<code>\"RD; GR; BL;\".split(/;[\\s]?/).filter(function(fn) { return fn\r\n!== ''; })</code></td>\r\n</tr>\r\n\r\n<tr>\r\n<td style=\"text-decoration: line-through\">PassengerDelay</td>\r\n\r\n<td><span class=\"text-danger\">Deprecated.</span></td>\r\n</tr>\r\n\r\n<tr>\r\n<td style=\"text-decoration: line-through\">\r\nStartLocationFullName</td>\r\n\r\n<td><span class=\"text-danger\">Deprecated.</span></td>\r\n</tr>\r\n</tbody>\r\n</table>",
        "operationId": "54763641281d830c946a3d7a",
        "produces": [
          "application/xml"
        ],
        "responses": {
          "200": {
            "description": "Default response code.",
            "examples": {
              "application/xml": "<IncidentsResp\n    xmlns=\"http://www.wmata.com\"\n    xmlns:i=\"http://www.w3.org/2001/XMLSchema-instance\">\n    <Incidents>\n        <Incident>\n            <DateUpdated>2010-07-29T14:21:18</DateUpdated>\n            <DelaySeverity i:nil=\"true\" />\n            <Description>Blue/Silver Line: Trains single tracking btwn Addison Rd. & Morgan Blvd. due to a disabled train at Addison Rd. Delays in both directions.</Description>\n            <EmergencyText i:nil=\"true\" />\n            <EndLocationFullName i:nil=\"true\" />\n            <IncidentID>A5B9C6F4-65C1-4C7D-AC34-F2EC94C4CE06</IncidentID>\n            <IncidentType>Delay</IncidentType>\n            <LinesAffected>BL; SV;</LinesAffected>\n            <PassengerDelay i:nil=\"true\" />\n            <StartLocationFullName i:nil=\"true\" />\n        </Incident>\n    </Incidents>\n</IncidentsResp>"
            }
          }
        },
        "summary": "XML - Rail Incidents"
      }
    },
    "/json/BusIncidents": {
      "get": {
        "description": "<h4 class=\"text-primary\">Description</h4>\r\n\r\n<p>Returns a set of reported bus incidents/delays for a given Route. Omit the\r\nRoute to return all reported items.</p>\r\n\r\n<p>Note that the Route parameter accepts only base route names and no\r\nvariations, i.e.: use 10A instead of 10Av1 and 10Av2.</p>\r\n\r\n<p>Bus incidents/delays are refreshed once every 20 to 30 seconds approximately.</p>\r\n\r\n<h4 class=\"text-primary\">Response Elements</h4>\r\n\r\n<table class=\"table table-condensed table-hover\">\r\n<thead>\r\n<tr>\r\n<th class=\"col-md-3\">Element</th>\r\n\r\n<th>Description</th>\r\n</tr>\r\n</thead>\r\n\r\n<tbody>\r\n<tr>\r\n<td>BusIncidents</td>\r\n\r\n<td>\r\nArray containing bus incident information (<a href=\r\n\"#BusIncident\">BusIncident</a>).\r\n</td>\r\n</tr>\r\n\r\n<tr>\r\n<td colspan=\"2\">\r\n<div class=\"text-primary\" style=\"margin-top: 1em\">\r\n<a id=\"BusIncident\" name=\"BusIncident\">BusIncident\r\nElements</a>\r\n</div>\r\n</td>\r\n</tr>\r\n\r\n<tr>\r\n<td>DateUpdated</td>\r\n\r\n<td>Date and time (Eastern Standard Time) of last update. Will be\r\nin YYYY-MM-DDTHH:mm:ss format (e.g.: 2014-10-28T08:13:03).</td>\r\n</tr>\r\n\r\n<tr>\r\n<td>Description</td>\r\n\r\n<td>Free-text description of the delay or incident.</td>\r\n</tr>\r\n\r\n<tr>\r\n<td>IncidentID</td>\r\n\r\n<td>Unique identifier for an incident.</td>\r\n</tr>\r\n\r\n<tr>\r\n<td>IncidentType</td>\r\n\r\n<td>Free-text description of the incident type. Usually\r\n<span class=\"text-info\">Delay</span> or <span class=\r\n\"text-info\">Alert</span> but is subject to change at any time.</td>\r\n</tr>\r\n\r\n<tr>\r\n<td>RoutesAffected</td>\r\n\r\n<td>Array containing routes affected. Routes listed are usually\r\nidentical to base route names (i.e.: not 10Av1 or 10Av2, but 10A),\r\nbut <em>may</em> differ from what our bus methods return.</td>\r\n</tr>\r\n</tbody>\r\n</table>",
        "operationId": "54763641281d830c946a3d75",
        "parameters": [
          {
            "description": "Base bus route; variations are not recognized (i.e.: C2 instead of C2v1, C2v2, etc.).",
            "enum": [
              "90",
              "X1"
            ],
            "in": "query",
            "name": "Route",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Default response code.",
            "examples": {
              "application/json": "{\n    \"BusIncidents\": [\n        {\n            \"DateUpdated\": \"2014-10-28T08:13:03\",\n            \"Description\": \"90, 92, X1, X2, X9: Due to traffic congestion at 8th & H St NE, buses are experiencing up to 20 minute delays in both directions.\",\n            \"IncidentID\": \"32297013-57B6-467F-BC6B-93DFA4115652\",\n            \"IncidentType\": \"Delay\",\n            \"RoutesAffected\": [\n                \"90\",\n                \"92\",\n                \"X1\",\n                \"X2\",\n                \"X9\"\n            ]\n        }\n    ]\n}"
            }
          }
        },
        "summary": "JSON - Bus Incidents"
      }
    },
    "/json/ElevatorIncidents": {
      "get": {
        "description": "<h4 class=\"text-primary\">Description</h4>\n\n<p>Returns a list of <em>reported</em> elevator and escalator outages at a\ngiven station. Omit the StationCode parameter to return all reported\noutages.</p>\n\n<p>Note that for stations with multiple platforms and therefore StationCodes\n(e.g.: Metro Center, L'Enfant Plaza, etc.), a distinct call is required for\neach StationCode.</p>\n\n<p>Elevator and escalator outages are refreshed once every 20 to 30 seconds approximately.</p>\n\n<h4 class=\"text-primary\">Response Elements</h4>\n\n<table class=\"table table-condensed table-hover\">\n<thead>\n<tr>\n<th class=\"col-md-3\">Element</th>\n\n<th>Description</th>\n</tr>\n</thead>\n\n<tbody>\n<tr>\n<td>ElevatorIncidents</td>\n\n<td>\nArray containing elevator/escalator outage information\n(<a href=\"#ElevatorIncident\">ElevatorIncident</a>).\n</td>\n</tr>\n\n<tr>\n<td colspan=\"2\">\n<div class=\"text-primary\" style=\"margin-top: 1em\">\n<a id=\"ElevatorIncident\" name=\n\"ElevatorIncident\">ElevatorIncident Elements</a>\n</div>\n</td>\n</tr>\n\n<tr>\n<td>DateOutOfServ</td>\n\n<td>Date and time (Eastern Standard Time) unit was reported out of\nservice. Will be in YYYY-MM-DDTHH:mm:ss format (e.g.:\n2014-10-27T15:17:00).</td>\n</tr>\n\n<tr>\n<td>DateUpdated</td>\n\n<td>Date and time (Eastern Standard Time) outage details was last\nupdated. Will be in YYYY-MM-DDTHH:mm:ss format (e.g.:\n2014-10-27T15:17:00).</td>\n</tr>\n\n<tr>\n<td style=\"text-decoration: line-through\">DisplayOrder</td>\n\n<td><span class=\"text-danger\">Deprecated.</span></td>\n</tr>\n\n<tr>\n<td>EstimatedReturnToService</td>\n\n<td>Estimated date and time (Eastern Standard Time) by when unit is expected to return to normal service. May be NULL, otherwise will be in YYYY-MM-DDTHH:mm:ss format (e.g.:\n2014-10-27T23:59:59).</td>\n</tr>\n\n<tr>\n<td>LocationDescription</td>\n\n<td>Free-text description of the unit location within a station\n(e.g.: <span class=\"text-info\">Escalator between mezzanine and\nplatform</span>).</td>\n</tr>\n\n<tr>\n<td>StationCode</td>\n\n<td>Unit's station code. Use this value in other rail-related APIs\nto retrieve data about a station.</td>\n</tr>\n\n<tr>\n<td>StationName</td>\n\n<td>Full station name, may include entrance information (e.g.:\n<span class=\"text-info\">Metro Center, G and 11th St\nEntrance</span>).</td>\n</tr>\n\n<tr>\n<td style=\"text-decoration: line-through\">SymptomCode</td>\n\n<td><span class=\"text-danger\">Deprecated.</span></td>\n</tr>\n\n<tr>\n<td>SymptomDescription</td>\n\n<td>Description for why the unit is out of service or otherwise in\nreduced operation.</td>\n</tr>\n\n<tr>\n<td style=\"text-decoration: line-through\">TimeOutOfService</td>\n\n<td><span class=\"text-danger\">Deprecated.</span> Use the time\nportion of the DateOutOfServ element.</td>\n</tr>\n\n<tr>\n<td>UnitName</td>\n\n<td>Unique identifier for unit, by type (a single elevator and\nescalator may have the same UnitName, but no two elevators or two\nescalators will have the same UnitName).</td>\n</tr>\n\n<tr>\n<td style=\"text-decoration: line-through\">UnitStatus</td>\n\n<td><span class=\"text-danger\">Deprecated.</span> If listed here,\nthe unit is inoperational or otherwise impaired.</td>\n</tr>\n\n<tr>\n<td>UnitType</td>\n\n<td>Type of unit. Will be <span class=\"text-info\">ELEVATOR</span>\nor <span class=\"text-info\">ESCALATOR</span>.</td>\n</tr>\n</tbody>\n</table>",
        "operationId": "54763641281d830c946a3d76",
        "parameters": [
          {
            "description": "Station code.  Use the Station List method to return a list of all station codes.",
            "enum": [
              "A03",
              "E09"
            ],
            "in": "query",
            "name": "StationCode",
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Default response code.",
            "examples": {
              "application/json": "{\n    \"ElevatorIncidents\": [\n        {\n            \"DateOutOfServ\": \"2014-10-27T15:17:00\",\n            \"DateUpdated\": \"2014-10-28T06:28:30\",\n            \"DisplayOrder\": 0,\n            \"EstimatedReturnToService\": \"2014-10-30T23:59:59\",\n            \"LocationDescription\": \"Escalator between mezzanine and platform to Shady Grove\",\n            \"StationCode\": \"A03\",\n            \"StationName\": \"Dupont Circle, Q Street Entrance\",\n            \"SymptomCode\": null,\n            \"SymptomDescription\": \"Service Call\",\n            \"TimeOutOfService\": \"1517\",\n            \"UnitName\": \"A03N04\",\n            \"UnitStatus\": null,\n            \"UnitType\": \"ESCALATOR\"\n        }\n    ]\n}"
            }
          }
        },
        "summary": "JSON - Elevator/Escalator Outages"
      }
    },
    "/json/Incidents": {
      "get": {
        "description": "<h4 class=\"text-primary\">Description</h4>\r\n\r\n<p>Returns reported rail incidents (significant disruptions and delays to\r\nnormal service). The data is identical to WMATA's <a href=\r\n\"http://www.metroalerts.info/rss.aspx?rs\">Metrorail Service Status\r\nfeed</a>.</p>\r\n\r\n<p>Rail incidents are refreshed once every 20 to 30 seconds approximately.</p>\r\n\r\n<h4 class=\"text-primary\">Response Elements</h4>\r\n\r\n<table class=\"table table-condensed table-hover\">\r\n<thead>\r\n<tr>\r\n<th class=\"col-md-3\">Element</th>\r\n\r\n<th>Description</th>\r\n</tr>\r\n</thead>\r\n\r\n<tbody>\r\n<tr>\r\n<td>Incidents</td>\r\n\r\n<td>\r\nArray containing rail disruption information (<a href=\r\n\"#Incident\">Incident</a>).\r\n</td>\r\n</tr>\r\n\r\n<tr>\r\n<td colspan=\"2\">\r\n<div class=\"text-primary\" style=\"margin-top: 1em\">\r\n<a id=\"Incident\" name=\"Incident\">Incident Elements</a>\r\n</div>\r\n</td>\r\n</tr>\r\n\r\n<tr>\r\n<td>DateUpdated</td>\r\n\r\n<td>Date and time (Eastern Standard Time) of last update. Will be\r\nin YYYY-MM-DDTHH:mm:SS format (e.g.: 2010-07-29T14:21:28).</td>\r\n</tr>\r\n\r\n<tr>\r\n<td style=\"text-decoration: line-through\">DelaySeverity</td>\r\n\r\n<td><span class=\"text-danger\">Deprecated.</span></td>\r\n</tr>\r\n\r\n<tr>\r\n<td>Description</td>\r\n\r\n<td>Free-text description of the incident.</td>\r\n</tr>\r\n\r\n<tr>\r\n<td style=\"text-decoration: line-through\">EmergencyText</td>\r\n\r\n<td><span class=\"text-danger\">Deprecated.</span></td>\r\n</tr>\r\n\r\n<tr>\r\n<td style=\"text-decoration: line-through\">EndLocationFullName</td>\r\n\r\n<td><span class=\"text-danger\">Deprecated.</span></td>\r\n</tr>\r\n\r\n<tr>\r\n<td>IncidentID</td>\r\n\r\n<td>Unique identifier for an incident.</td>\r\n</tr>\r\n\r\n<tr>\r\n<td>IncidentType</td>\r\n\r\n<td>Free-text description of the incident type. Usually Delay or\r\nAlert but is subject to change at any time.</td>\r\n</tr>\r\n\r\n<tr>\r\n<td>LinesAffected</td>\r\n\r\n<td>Semi-colon and space separated list of line codes (e.g.:\r\n<span class=\"text-info\">RD;</span> or <span class=\"text-info\">BL;\r\nOR;</span> or <span class=\"text-info\">BL; OR; RD;</span>). We do\r\nplan to update this to return something more reasonable like an\r\narray, but until then, use code similar to the following:<br>\r\n<br>\r\n<code>\"RD; GR; BL;\".split(/;[\\s]?/).filter(function(fn) { return fn\r\n!== ''; })</code></td>\r\n</tr>\r\n\r\n<tr>\r\n<td style=\"text-decoration: line-through\">PassengerDelay</td>\r\n\r\n<td><span class=\"text-danger\">Deprecated.</span></td>\r\n</tr>\r\n\r\n<tr>\r\n<td style=\"text-decoration: line-through\">\r\nStartLocationFullName</td>\r\n\r\n<td><span class=\"text-danger\">Deprecated.</span></td>\r\n</tr>\r\n</tbody>\r\n</table>",
        "operationId": "54763641281d830c946a3d77",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Default response code.",
            "examples": {
              "application/json": "{\n    \"Incidents\": [\n        {\n            \"DateUpdated\": \"2010-07-29T14:21:28\",\n            \"DelaySeverity\": null,\n            \"Description\": \"Red Line: Expect residual delays to Glenmont due to an earlier signal problem outside Forest Glen.\",\n            \"EmergencyText\": null,\n            \"EndLocationFullName\": null,\n            \"IncidentID\": \"3754F8B2-A0A6-494E-A4B5-82C9E72DFA74\",\n            \"IncidentType\": \"Delay\",\n            \"LinesAffected\": \"RD;\",\n            \"PassengerDelay\": 0,\n            \"StartLocationFullName\": null\n        }\n    ]\n}"
            }
          }
        },
        "summary": "JSON - Rail Incidents"
      }
    }
  }
}