{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "Mixed Reality Resource Provider Proxy API",
    "title": "Mixed Reality",
    "version": "2019-12-02-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mixedreality/resource-manager/Microsoft.MixedReality/preview/2019-12-02-preview/proxy.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "mixedreality-proxy",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "checkNameAvailabilityParameter": {
      "description": "Check Name Availability Request.",
      "in": "body",
      "name": "checkNameAvailability",
      "required": true,
      "schema": {
        "$ref": "#/definitions/CheckNameAvailabilityRequest"
      },
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/providers/Microsoft.MixedReality/operations": {
      "get": {
        "description": "Exposing Available Operations",
        "operationId": "Operations_List",
        "parameters": [
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationPage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Response on Error",
              "properties": {
                "code": {
                  "description": "String that can be used to programmatically identify the error.",
                  "type": "string"
                },
                "details": {
                  "description": "An array of JSON objects that MUST contain name/value pairs for code and message, and MAY contain a name/value pair for target, as described above.The contents of this section are service-defined but must adhere to the aforementioned schema.",
                  "type": "string"
                },
                "message": {
                  "description": "Describes the error in detail and provides debugging information",
                  "type": "string"
                },
                "target": {
                  "description": "The target of the particular error",
                  "type": "string"
                }
              },
              "required": [
                "message",
                "code"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "Proxy"
        ],
        "x-ms-examples": {
          "List available operations": {
            "parameters": {
              "api-version": "2019-02-28-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": null,
                  "value": [
                    {
                      "display": {
                        "description": "Registers a subscription for the Mixed Reality resource provider.",
                        "operation": "Registers the Mixed Reality resource provider",
                        "provider": "Microsoft.MixedReality",
                        "resource": "Mixed Reality resource provider"
                      },
                      "name": "Microsoft.MixedReality/register/action"
                    },
                    {
                      "display": {
                        "description": "Deletes the resource for Microsoft.MixedReality/SpatialAnchorsAccounts",
                        "operation": "Delete Spatial Anchors Accounts",
                        "provider": "Microsoft.MixedReality",
                        "resource": "SpatialAnchorsAccounts"
                      },
                      "name": "Microsoft.MixedReality/SpatialAnchorsAccounts/delete"
                    },
                    {
                      "display": {
                        "description": "Gets the resource for Microsoft.MixedReality/SpatialAnchorsAccounts",
                        "operation": "Get Spatial Anchors Accounts",
                        "provider": "Microsoft.MixedReality",
                        "resource": "SpatialAnchorsAccounts"
                      },
                      "name": "Microsoft.MixedReality/SpatialAnchorsAccounts/read"
                    },
                    {
                      "display": {
                        "description": "Updates the resource for Microsoft.MixedReality/SpatialAnchorsAccounts",
                        "operation": "Update Spatial Anchors Accounts",
                        "provider": "Microsoft.MixedReality",
                        "resource": "SpatialAnchorsAccounts"
                      },
                      "name": "Microsoft.MixedReality/SpatialAnchorsAccounts/write"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/locations/{location}/checkNameAvailability": {
      "post": {
        "description": "Check Name Availability for local uniqueness",
        "operationId": "CheckNameAvailabilityLocal",
        "parameters": [
          {
            "description": "Azure subscription ID.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The location in which uniqueness will be verified.",
            "in": "path",
            "maxLength": 90,
            "minLength": 1,
            "name": "location",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/checkNameAvailabilityParameter"
          },
          {
            "description": "Version of the API to be used with the client request.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Response on Error",
              "properties": {
                "code": {
                  "description": "String that can be used to programmatically identify the error.",
                  "type": "string"
                },
                "details": {
                  "description": "An array of JSON objects that MUST contain name/value pairs for code and message, and MAY contain a name/value pair for target, as described above.The contents of this section are service-defined but must adhere to the aforementioned schema.",
                  "type": "string"
                },
                "message": {
                  "description": "Describes the error in detail and provides debugging information",
                  "type": "string"
                },
                "target": {
                  "description": "The target of the particular error",
                  "type": "string"
                }
              },
              "required": [
                "message",
                "code"
              ],
              "type": "object"
            }
          }
        },
        "tags": [
          "Proxy"
        ],
        "x-ms-examples": {
          "CheckLocalNameAvailability": {
            "parameters": {
              "api-version": "2019-02-28-preview",
              "checkNameAvailability": {
                "name": "MyAccount",
                "type": "SpatialAnchorsAccount"
              },
              "location": "eastus2euap",
              "subscriptionId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
            },
            "responses": {
              "200": {
                "body": {
                  "message": "...",
                  "nameAvailable": "false",
                  "reason": "AlreadyExists"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CheckNameAvailabilityRequest": {
      "description": "Check Name Availability Request",
      "properties": {
        "name": {
          "description": "Resource Name To Verify",
          "type": "string"
        },
        "type": {
          "description": "Fully qualified resource type which includes provider namespace",
          "type": "string"
        }
      },
      "required": [
        "name",
        "type"
      ],
      "type": "object"
    },
    "CheckNameAvailabilityResponse": {
      "description": "Check Name Availability Response",
      "properties": {
        "message": {
          "description": "detail message",
          "type": "string"
        },
        "nameAvailable": {
          "$ref": "#/definitions/NameAvailability",
          "description": "if name Available"
        },
        "reason": {
          "$ref": "#/definitions/NameUnavailableReason",
          "description": "Resource Name To Verify"
        }
      },
      "required": [
        "nameAvailable"
      ],
      "type": "object"
    },
    "NameAvailability": {
      "description": "Whether or not the name is available.",
      "enum": [
        "true",
        "false"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "NameAvailability"
      }
    },
    "NameUnavailableReason": {
      "description": "reason of name unavailable.",
      "enum": [
        "Invalid",
        "AlreadyExists"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "NameUnavailableReason"
      }
    },
    "Operation": {
      "description": "REST API operation",
      "properties": {
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "The object that represents the operation."
        },
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OperationDisplay": {
      "description": "The object that represents the operation.",
      "properties": {
        "description": {
          "description": "Description of operation",
          "type": "string"
        },
        "operation": {
          "description": "Operation type: Read, write, delete, etc.",
          "type": "string"
        },
        "provider": {
          "description": "Service provider: Microsoft.ResourceProvider",
          "type": "string"
        },
        "resource": {
          "description": "Resource on which the operation is performed: Profile, endpoint, etc.",
          "type": "string"
        }
      },
      "required": [
        "provider",
        "resource",
        "operation",
        "description"
      ],
      "type": "object"
    },
    "OperationPage": {
      "description": "Result of the request to list Resource Provider operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string"
        },
        "value": {
          "description": "List of operations supported by the Resource Provider.",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "type": "array"
        }
      }
    }
  }
}