swagger: "2.0"
schemes:
  - https
host: www.who-hosts-this.com
basePath: /APIEndpoint
info:
  contact:
    name: Who Hosts This
    url: https://www.who-hosts-this.com/Contact
  description: Discover the hosting provider for any web site
  title: Who Hosts This API
  version: 0.0.1
  x-apisguru-categories:
    - hosting
    - iot
    - tools
  x-logo:
    backgroundColor: "#2c3e50"
    url: https://api.apis.guru/v2/cache/logo/https_www.who-hosts-this.com_data__uploaded_image_logo-who-hosts-padded.png
  x-origin:
    - format: swagger
      url: https://www.who-hosts-this.com/APISpecification
      version: "2.0"
  x-providerName: who-hosts-this.com
externalDocs:
  url: https://www.who-hosts-this.com/Documentation
produces:
  - application/json
securityDefinitions:
  QueryKey:
    description: Simple api key authentication. API Keys available at https://www.who-hosts-this.com/API
    in: query
    name: key
    type: apiKey
security:
  - QueryKey: []
paths:
  /Detect:
    get:
      parameters:
        - description: The url of the page to check
          in: query
          name: url
          required: true
          type: string
      responses:
        "200":
          description: Status of the detection and list of any found hosting providers
      summary: Discover the hosting provider for a web site
      tags:
        - hosting
  /Status:
    get:
      responses:
        "200":
          description: Status of the detection and list of any found hosting providers
      summary: View usage details for the current billing period
