openapi: 3.0.0
servers:
  - url: https://rest.clicksend.com/v3
info:
  description: |-
    This is the official API documentation for ClickSend.com

    Below you will find a current list of the available methods for clicksend.

    **NOTE**: You will need to create a free account to use the API.

    You can
    [**Register Here**](https://dashboard.clicksend.com/#/signup/step1/).

    # API URL

    The API should always be accessed over SSL.

    Base URL: `https://rest.clicksend.com/v3/`

    # Authentication

    Basic HTTP authentication should be used in the header.

    **Either:**

    `username`: Your API username

    `password`: Your API key

    ```
    You can get your API credentials by clicking 'API Credentials' on the top right of the dashboard.
    ```

    **OR**

    `username`: Your account username

    `password`: Your account password

    ```
    These are the same credentials that you use to login to the dashboard.
    ```

    ### Authorization Header

    The Authorization header is constructed as follows:
    1. Username and password are combined into a string `username:password`
    1. The resulting string is then encoded using Base64 encoding
    1. The authorization method and a space i.e. "Basic " is then put before the encoded string.

    For example, if the user uses `Aladdin` as the username and `open sesame` as the password then the header is formed as follows:

    `Authorization: Basic QWxhZGRpbjpvcGVuIHNlc2FtZQ==`

    ### PHP Authentication Header Example (using cURL)

    `curl_setopt($ch, CURLOPT_HTTPHEADER, ['Authorization: Basic ' . base64_encode("$username:$password")]);`

    # Verbs

    The API uses restful verbs.

    | Verb | Description |
    |---|---|
    | `GET` | Select one or more items. Success returns `200` status code. |
    | `POST` | Create a new item. Success returns `200` status code. |
    | `PUT` | Update an item. Success returns `200` status code. |
    | `DELETE` | Delete an item. Success returns `200` status code. |

    # Status Codes

    The API will respond with one of the following HTTP status codes.

    | Code | Response | Description |
    |---|---|---|
    | `200` | `SUCCESS` | Request completed successfully. |
    | `400` | `BAD_REQUEST` | The request was invalid or cannot be otherwise served. An accompanying error message will explain further. |
    | `401` | `UNAUTHORIZED` | Authentication credentials were missing or incorrect. |
    | `403` | `FORBIDDEN` | The request is understood, but it has been refused or access is not allowed. An accompanying error message will explain why. |
    | `404` | `NOT_FOUND` | The URI requested is invalid or the resource requested does not exists. |
    | `405` | `NOT_FOUND` | Method doesn't exist or is not allowed. |
    | `429` | `TOO_MANY_REQUESTS` | Rate Limit Exceeded. Returned when a request cannot be served due to the application’s rate limit having been exhausted for the resource. See Rate Limiting. |
    | `500` | `INTERNAL_SERVER_ERROR` | Something is broken |

    # Application Status Codes

    The following status codes can be returned in addition to the HTTP status code. For example, when using the Send SMS endpoint:

    | Response | Description |
    |---|---|
    | `SUCCESS` | Message added to queue OK. Use delivery reports to get an update on the delivery status.|
    | `MISSING_CREDENTIALS` | Not enough information has been supplied for authentication. Please ensure that your Username and Unique Key are supplied in your request.|
    | `ACCOUNT_NOT_ACTIVATED` | Your account has not been activated.|
    | `INVALID_RECIPIENT` | The destination mobile number is invalid.|
    | `THROTTLED` | Identical message body recently sent to the same recipient. Please try again in a few seconds.|
    | `INVALID_SENDER_ID` | Invalid Sender ID. Please ensure Sender ID is no longer than 11 characters (if alphanumeric), and contains no spaces.|
    | `INSUFFICIENT_CREDIT` | You have reached the end of your message credits. You will need to purchase more message credits.|
    | `INVALID_CREDENTIALS` | Your Username or Unique Key is incorrect.|
    | `ALREADY_EXISTS` | The resource you're trying to add already exists.|
    | `EMPTY_MESSAGE` | Message is empty.|
    | `TOO_MANY_RECIPIENTS` | Too many recipients.|
    | `MISSING_REQUIRED_FIELDS` | Some required fields are missing.|
    | `INVALID_SCHEDULE` | The schedule specified is invalid. Use a unix timestamp e.g. 1429170372.|
    | `NOT_ENOUGH_PERMISSION_TO_LIST_ID` | Don't have enough privilege to access or send to a list_id.|
    | `INTERNAL_ERROR` | Internal error.|
    | `INVALID_LANG` | An invalid language option has been provided.|
    | `INVALID_VOICE` | An invalid voice (gender) option has been provided.|
    | `SUBJECT_REQUIRED` | Usually happens when MMS Subject is empty.|
    | `INVALID_MEDIA_FILE` | Usually MMS media file is invalid file.|
    | `SOMETHING_IS_WRONG` | Generic Error happened.|

    # Required Headers

    You'll need to send some headers when making API calls.

    | Header | Value |
    |---|---|
    | `Content-type` | `application/json` |

    # Pagination

    Some methods are paginated. By default, 1 page of 15 items will be returned. You can set the pagination parameters by adding `?page={page}&limit={limit}` to the URL.

    ## Request

    | Parameter | Type | Default | Value |
    |---|---|---|---|
    | `page` | integer | `1` | The page number to return in the response. |
    | `limit` | integer | `15` | The number of results per page. Min 15, Max 100. |

    ## Response

    | Attribute | Type | Value |
    |---|---|---|---|
    | `total` | integer | Total number of results available. |
    | `per_page` | integer | Number of results returned per page. |
    | `current_page` | integer | Current page number. |
    | `last_page` | integer | Last page number. |
    | `next_page_url` | string | A URL of the next page. `null` if not available.|
    | `prev_page_url` | string | A URL of the previous page. `null` if not available.|
    | `from` | integer | Number of the first result in current page. |
    | `to` | integer | Number of the last result in current page. |

    # Searching and Sorting

    Most GET endpoints allow searching and sorting. Searches are **not** case-sensitive.

    ## Search

    To perform a search, add `q` as a query parameter. For example:

    `/subaccounts?q=field:value,field2:value`

    ## Order

    To perform a sort, add `order_by` as a query parameter. For example:

    `/subaccounts?order_by=field:desc/asc`

    ## AND / OR

    By default, it will search using the `AND` operator. This can be set using `operator` as a query parameter. For example:

    `/subaccounts?q=field:value&operator=OR`

    **Options:**

    - `AN` - returns results matching **all** query fields specified

    - `OR` - returns results matching **any** query fields specified

    ## Example

    `/subaccounts?q=first_name:john,last_name:smith&order_by=subaccount_id:asc&operator=AND`

    # CORS

    When creating your API app, specify the JavaScript (CORS) origins you'll be using. We use these origins to return the headers needed for CORS.

    # Date and Time

    All date/timestamps will be returned in Unix time (also known as POSIX time or erroneously as Epoch time) with no leap seconds.

    For example: `1435255816`

    ```
    (ISO 8601: 2015-06-25T18:10:16Z)
    ```

    More information: [Wikipedia: Unix time](https://en.wikipedia.org/wiki/Unix_time).

    There is ony one Unix time and it is created by using the UTC/GMT time zone. This means you might have convert time zones to calculate timestamps. Most programming language have libraries to help you converting time zones.

    **The current Unix time can be found here:** [Epoch Converter](http://www.epochconverter.com)

    # Testing

    ## Test Credentials

    These API credentials can be used to test specific scenarios.

    **Note:** you will need to create a free account to test other scenarios. Refer to introduction.

    | API Username | API Key | Description |
    |---|---|---|---|
    | `nocredit` | `D83DED51-9E35-4D42-9BB9-0E34B7CA85AE` | This account has no credit. |
    | `notactive` | `D83DED51-9E35-4D42-9BB9-0E34B7CA85AE` | This account is not active. |
    | `banned` | `D83DED51-9E35-4D42-9BB9-0E34B7CA85AE` | This account is banned. |

    ## Test SMS/MMS Numbers

    The following numbers can be used when testing. No messages will be sent, and your account won't be charged. A success response will be returned.

    - `+61411111111`

    - `+61422222222`

    - `+61433333333`

    - `+61444444444`

    - `+14055555555`

    - `+14055555666`

    - `+447777777777`

    - `+8615555555555`

    ## Test Voice Numbers

    The following numbers can be used when testing. No messages will be sent, and your account won't be charged. A success response will be returned.

    - `+61411111111`

    - `+61422222222`

    - `+61433333333`

    - `+61444444444`

    - `+14055555555`

    - `+14055555666`

    - `+447777777777`

    - `+8615555555555`

    ## Test Fax Numbers

    The following numbers can be used when testing. No messages will be sent, and your account won't be charged. A success response will be returned.

    - `+61261111111`

    - `+61262222222`

    - `+61263333333`

    ## Test Email Addresses

    The following email addresses can be used when testing. No messages will be sent, and your account won't be charged. A success response will be returned.

    - `test1@test.com`

    - `test2@test.com`

    - `test3@test.com`

    ## Test Post Letter Addresses

    The following Postal Codes (address_postal_code) can be used when testing. No messages will be sent when using these post codes, and your account won't be charged. A success response will be returned.

    - `11111`

    - `22222`

    - `33333`
  title: ClickSend REST API v3
  version: 1.0.0
  x-apisguru-categories:
    - email
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.clicksend.com_img_favicons_apple-touch-icon.png
  x-origin:
    - format: swagger
      url: https://clicksend.docs.apiary.io/api-description-document
      version: "2.0"
  x-providerName: clicksend.com
tags:
  - name: Account
  - name: Account Recharge
  - name: Automation Rules
  - name: Contact Lists
  - name: Contact Suggestions
  - name: Contacts
  - name: Countries
  - name: Delivery Issues
  - name: Email Marketing
  - name: Email-to-SMS Allowed Address
  - name: Email-to-SMS Stripped Strings
  - description: |-
      # Supported File Types

      - Supported file types are listed below. If you need to convert a file to a supported format, it can be first passed to our uploads endpoint: `/uploads?convert=fax`

      - This will return a URL to the converted pdf file that can be used in the /fax/send endpoint.

      - Contact us to add support for any other file type.

      ## Documents

      | File type | Required to be passed to uploads endpoint first? |
      |---|---|
      | pdf | No |
      | docx | Yes |
      | doc | Yes |
      | rtf | Yes |
    name: Fax
  - name: Forgot Account
  - description: |-
      # What is it?

      Geolocation allows you to send an SMS to a handset with a URL in the message. When the user taps on the URL, it sends you their location. You will receive the following information:

      - Latitude

      - Longitude

      - Their full address

      - A URL to a Google map with the location marked

      # How to use it

      To use Geolocation, simply insert the placeholder `(Geolocation)` (including the parenthesis) into an SMS or Email message, and that's it. Our system will handle the placeholder and insert the correct information required to allow geolocation tracking via message.

      For more information, see our [help article](https://help.clicksend.com/geolocation/how-does-geolocation-work).
    name: Geolocation
  - description: |-
      # How many messages can I send?

      ## Send MMS Endpoint

      You can post **up to 1000 messages** with each API call. You can send to a mix of contacts and contact lists, as long as the total number of recipients is up to 1000. The response contains a status and details for each recipient.

      Refer to [**Application Status Codes**](#introduction/application-status-codes) for the possible response message status strings.

      # How many characters can I send in a message?

      ## Standard MMS Message

      1500 characters

      ## Unicode MMS Message

      500 characters

      If a message is longer the allowed number of characters it will be truncated. If a message contains any characters that aren't in the GSM 03.38 character set, the message type will be treated as unicode. (`https://en.wikipedia.org/wiki/GSM_03.38`)

      # Maximum File Size

      You can send a single attachment with a size of up to 250 kB. Some older devices can only accept attachments with up to 30 kB.

      # Supported File Types

      - Supported file types are listed below. If you need to convert a file to a supported format, it can be first passed to our uploads endpoint: `/uploads?convert=mms`

      - This will return a URL to the converted image file that can be used in the /mms/send endpoint.

      - Contact us to add support for any other file type.

      ## Images

      | File type | Required to be passed to uploads endpoint first? |
      |---|---|
      | jpg | No |
      | gif | No |
      | jpeg | Yes |
      | png | Yes |
      | bmp | Yes |
    name: MMS
  - name: Numbers
  - name: Pricing
  - name: Post Address Detection
  - name: Post Direct Mail
  - name: Post Letter
  - name: Postcards
  - name: Referral Accounts
  - name: Reseller
  - name: Reseller Accounts
  - name: SDK
  - name: Search
  - description: |-
      # How many messages can I send?

      ## Send SMS Endpoint

      You can post **up to 1000 messages** with each API call. You can send to a mix of contacts and contact lists, as long as the total number of recipients is up to 1000. The response contains a status and details for each recipient.

      Refer to [**Application Status Codes**](#introduction/application-status-codes) for the possible response message status strings.

      ## SMS Campaign Endpoint

      You can post to a list with **up to 20000 recipients** with each API call. You can only send to a single list containing up to 20,000 recipients. The response is far less detailed than the normal Send SMS endpoint.

      # How many characters can I send in a message?

      A standard SMS message has a maximum of 160 characters. Longer messages are definitely possible, however please be aware that exceeding 160 characters will constitute a ‘second’ message. The end user will see this as 1 long message on their handset.
      When a message is longer than 160 characters, this is referred to as a multi-part message as it contains multiple messages (or multiple-parts). The total SMS limit then becomes 153 characters per ‘part’ as the 7 characters are used up by invisible headers and footers which denote which part of the message is being sent (i.e. Part 1 of 2). For example:
      If a message is longer than 6 message parts, it will be truncated (see below). If a message contains any characters that aren't in the GSM 03.38 character set, the message type will be treated as unicode. (`https://en.wikipedia.org/wiki/GSM_03.38`)

      ## Standard English Characters:

      | Number of Characters | Message Credits |
      |---|---|
      | 1 - 160 | 1 |
      | 161 - 306 | 2 |
      | 307 - 459 | 3 |
      | 460 - 612 | 4 |
      | 613 - 765 | 5 |
      | 766 - 918 | 6 |
      | 919 - 1071 | 7 |
      | 1072 - 1224 | 8 |

      ## Non-GSM (Unicode) characters:

      | Number of Characters | Message Credits |
      |---|---|
      |1 - 70 | 1 |
      |71 - 134 | 2 |
      |135 - 201 | 3 |
      |202 - 268 | 4 |
      |269 - 335 | 5 |
      |336 - 402 | 6 |
      |403 - 469 | 7 |
      |470 - 536 | 8 |
    name: SMS
  - name: SMS Campaigns
  - name: SMS Templates
  - name: Statistics
  - name: Subaccounts
  - name: Timezones
  - name: Transactional Email
  - name: Uploads
  - description: |-
      Send TTS (Text-to-speech) voice calls

      # How many messages can I send?

      You can post **up to 1000 messages** with each API call. You can send to a mix of contacts and contact lists, as long as the total number of recipients is up to 1000. The response contains a status and details for each recipient.

      # How many characters can I send in a message?

      If a message is longer than 4 message parts, it will be truncated (see below). If a message contains any characters that aren't in the GSM 03.38 character set, the message type will be treated as unicode. (`https://en.wikipedia.org/wiki/GSM_03.38`)

      ## Standard English Characters:

      | Number of Characters | Message Credits |
      |---|---|
      | 1 - 300 | 1 |
      | 301 - 600 | 2 |
      | 601 - 900 | 3 |
      | 901 - 1200 | 4 |

      ## Non-GSM (Unicode) characters:

      | Number of Characters | Message Credits |
      |---|---|
      |1 - 150 | 1 |
      |151 - 300 | 2 |
      |301 - 450 | 3 |
      |451 - 600 | 4 |

      # Allowed Languages

      | Language, Locale | lang | voice |
      |---|---|---|
      | `English`, US | en-us | female (default) / male|
      | `English`, Australia | en-au | female (default) / male|
      | `English`, UK | en-gb | female (default) / male|
      | `English`, India | en-in | female|
      | `English`, Wales | en-gb-wls | female (default) / male|
      | `Celtic`, Wales | cy-gb-wls | female (default) / male|
      | `German`, Germany | de-de | female (default) / male|
      | `Spanish`, Spain | es-es | female (default) / male|
      | `Spanish`, US | es-us | female (default) / male|
      | `French`, Canada | fr-ca | female|
      | `French`, France | fr-fr | female (default) / male|
      | `Icelandic`, Iceland | is-is | female (default) / male|
      | `Italian`, Italy | it-it | female (default) / male|
      | `Danish`, Denmark | da-dk | female (default) / male|
      | `Dutch`, Netherlands | nl-nl | female (default) / male|
      | `Norwegian`, Norway | nb-no | female|
      | `Polish`, Poland | pl-pl | female (default) / male|
      | `Portuguese`, Portugal | pt-pt | male|
      | `Portuguese`, Brazil | pt-br | female (default) / male|
      | `Romanian`, Romania | ro-ro | female|
      | `Russian`, Russia | ru-ru | female (default) / male|
      | `Swedish`, Sweden | sv-se | female|
      | `Turkish`, Turkey | tr-tr | female|

      # Tips

      To introduce a small delay between words or digits you can use a comma (,).

      For example:
      `Please enter your activation code 9, 0, 9, 0, in the next 20 minutes.`
    name: Voice
paths:
  /account:
    get:
      description: ""
      operationId: Get account
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      _currency:
                        currency_name_long: Australian Dollars
                        currency_name_short: AUD
                        currency_prefix_c: c
                        currency_prefix_d: $
                      _subaccount:
                        access_billing: 1
                        access_contacts: 0
                        access_email: 0
                        access_fax: 0
                        access_mms: 1
                        access_post: 0
                        access_reporting: 1
                        access_reseller: 0
                        access_settings: 1
                        access_sms: 0
                        access_users: 1
                        access_voice: 0
                        api_key: IJVEGTCF-VOHU-GSVF-KNKK-XHTARJXMQTXK
                        api_username: KCIHOYEYGM
                        email: ICMGR@VBSPT.com
                        first_name: Firstname40710
                        last_name: Lastname3672
                        notes: null
                        phone_number: "+61433333333"
                        share_campaigns: 1
                        subaccount_id: 1716
                      account: 0
                      account_billing_email: XDVXC@SJRJU.com
                      account_billing_mobile: "+61433333888"
                      account_name: FTHCQ~!@#$ %^&*()XQMPO
                      active: 1
                      auto_recharge: 0
                      auto_recharge_amount: "20.00"
                      balance: "1117.461060"
                      balance_commission: "2.330130"
                      banned: 0
                      country: AU
                      default_country_sms: AU
                      fax_quality: 0
                      low_credit_amount: "0.00"
                      old_dashboard: 0
                      private_uploads: 0
                      setting_email_sms_subject: 0
                      setting_fix_sender_id: 0
                      setting_sms_hide_business_name: 1
                      setting_sms_hide_your_number: 0
                      setting_sms_message_char_limit: 8
                      setting_unicode_sms: 0
                      timezone: Australia/Melbourne
                      user_email: PNUMB@VAPXX.com
                      user_first_name: fffff
                      user_id: 3819
                      user_last_name: llll
                      user_phone: "+61433333888"
                      username: ULXHP
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Here's your account
          description: OK
          headers: {}
      summary: Get account
      tags:
        - Account
    post:
      description: "**Note:** *Authentication isn't required to create a new account.*"
      operationId: Create a new account
      requestBody:
        content:
          application/json:
            schema:
              example:
                account_name: The Awesome Company
                country: US
                password: pass
                user_email: johndoe1@awesome.com
                user_first_name: John
                user_last_name: Doe
                user_phone: 518-481-1001
                username: johndoe1
              properties:
                account_name:
                  description: Your delivery to value.
                  type: string
                country:
                  description: Your country.
                  type: string
                password:
                  description: Your password.
                  type: string
                user_email:
                  description: Your email.
                  type: string
                user_first_name:
                  description: Your first name.
                  type: string
                user_last_name:
                  description: Your last name.
                  type: string
                user_phone:
                  description: Your phone number in E.164 format.
                  type: string
                username:
                  description: Your username.
                  type: string
              required:
                - username
                - password
                - user_email
                - user_phone
                - user_first_name
                - user_last_name
                - account_name
                - country
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      _currency:
                        currency_name_long: US Dollars
                        currency_name_short: USD
                        currency_prefix_c: ¢
                        currency_prefix_d: $
                      _subaccount:
                        access_billing: 1
                        access_contacts: 1
                        access_email: 1
                        access_fax: 1
                        access_mms: 1
                        access_post: 1
                        access_reporting: 1
                        access_reseller: 1
                        access_settings: 1
                        access_sms: 1
                        access_users: 1
                        access_voice: 1
                        api_key: F3702045-EB2C-0091-C211-7728048DCAE2
                        api_username: johndoe1
                        email: johndoe1@awesome.com
                        first_name: John
                        last_name: Doe
                        notes: null
                        phone_number: "+15184811001"
                        share_campaigns: 0
                        subaccount_id: 126
                      account: 0
                      account_billing_email: johndoe1@awesome.com
                      account_billing_mobile: "+15184811001"
                      account_name: The Awesome Company
                      active: 0
                      auto_recharge: 0
                      auto_recharge_amount: "20.00"
                      balance: "4.998000"
                      balance_commission: "0.299954"
                      banned: 0
                      country: US
                      default_country_sms: US
                      delivery_to: null
                      low_credit_amount: "0.00"
                      old_dashboard: 0
                      reply_to: originalemail
                      setting_email_sms_subject: 0
                      setting_fix_sender_id: 0
                      setting_sms_message_char_limit: 6
                      setting_unicode_sms: 0
                      timezone: Australia/Melbourne
                      user_email: johndoe1@awesome.com
                      user_first_name: John
                      user_id: 116
                      user_last_name: Doe
                      user_phone: "+15184811001"
                      username: johndoe1
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Successfully created an account.
          description: OK
          headers: {}
      summary: Create a new account
      tags:
        - Account
    put:
      description: ""
      operationId: Update Account
      requestBody:
        content:
          application/json:
            schema:
              example:
                account_name: The Awesome Company
                country: AU
                password: pass
                private_uploads: 1
                setting_sms_hide_business_name: 1
                setting_sms_hide_your_number: 0
                timezone: Australia/Melbourne
                user_email: johndoe@awesome.com
                user_first_name: John
                user_last_name: Doe
                user_phone: 518-481-1002
                username: johndoe
              properties:
                account_name:
                  description: Your delivery to value.
                  type: string
                country:
                  description: Your country.
                  type: string
                password:
                  description: Your password.
                  type: string
                private_uploads:
                  description: Set the private uploads flag. 0 or 1 only.
                  type: number
                setting_sms_hide_business_name:
                  description: Set the private uploads flag. 0 or 1 only.
                  type: number
                setting_sms_hide_your_number:
                  description: Set the private uploads flag. 0 or 1 only.
                  type: number
                timezone:
                  description: Timezone.
                  type: string
                user_email:
                  description: Your email.
                  type: string
                user_first_name:
                  description: Your first name.
                  type: string
                user_last_name:
                  description: Your last name.
                  type: string
                user_phone:
                  description: Your phone number in E.164 format.
                  type: string
                username:
                  description: Your username.
                  type: string
              required:
                - username
                - password
                - user_email
                - user_phone
                - user_first_name
                - user_last_name
                - account_name
                - country
                - timezone
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      _currency:
                        currency_name_long: Australian Dollars
                        currency_name_short: AUD
                        currency_prefix_c: c
                        currency_prefix_d: $
                      _subaccount: null
                      account: 0
                      account_billing_email: 1@test.com
                      account_billing_mobile: "+19171234591"
                      account_name: The Awesome Company
                      active: 1
                      auto_recharge: 1
                      auto_recharge_amount: "20.00"
                      balance: "0.592200"
                      balance_commission: "0.299954"
                      banned: 0
                      country: AU
                      default_country_sms: AU
                      delivery_to: 1@test.com
                      fax_quality: 0
                      low_credit_amount: "200.00"
                      old_dashboard: 1
                      private_uploads: 0
                      reply_to: 11@test.com
                      setting_email_sms_subject: 0
                      setting_fix_sender_id: 1
                      setting_sms_hide_business_name: 1
                      setting_sms_hide_your_number: 0
                      setting_sms_message_char_limit: 8
                      setting_unicode_sms: 0
                      timezone: Australia/Melbourne
                      user_email: johndoe@awesome.com
                      user_first_name: John
                      user_id: 1
                      user_last_name: Doe
                      user_phone: 518-481-1003
                      username: johndoe
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your account has been updated.
          description: OK
          headers: {}
      summary: Update Account
      tags:
        - Account
  /account-verify/send:
    put:
      description: ""
      operationId: Send account activation token
      requestBody:
        content:
          application/json:
            schema:
              example:
                country: US
                type: sms
                user_phone: 352-394-4199
              properties:
                country:
                  type: string
                type:
                  type: string
                user_phone:
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      activation_token: "547850"
                      country: US
                      type: sms
                      user_phone: "+13523944199"
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Verification sent.
          description: OK
          headers: {}
      security:
        - basic: []
      summary: Send account activation token
      tags:
        - Account
  "/account-verify/verify/{activation_token}":
    put:
      description: ""
      operationId: Verify new account
      parameters:
        - description: The ActivationToken to be used to verify an account.
          example: "1827364"
          in: path
          name: activation_token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      _currency:
                        currency_name_long: US Dollars
                        currency_name_short: USD
                        currency_prefix_c: ¢
                        currency_prefix_d: $
                      _subaccount:
                        access_billing: 1
                        access_contacts: 0
                        access_reporting: 1
                        access_settings: 1
                        access_smpp: 0
                        access_users: 1
                        api_key: FD3259F9D0A35548682ACEA84A6FF26A
                        api_username: "1"
                        email: 1@test.com
                        first_name: John
                        last_name: Doe
                        mobile: "+639171234501"
                        sms_deidentify_message: 0
                        subaccount_id: 1
                        user_id: 1
                      account: 1
                      account_billing_email: 1@test.com
                      account_billing_mobile: null
                      account_name: null
                      active: 1
                      auto_recharge: 0
                      auto_recharge_amount: "20.00"
                      balance: "4.041500"
                      banned: 0
                      country: US
                      default_country_sms: US
                      delivery_to: null
                      low_credit_amount: "1.50"
                      reply_to: 1@test.com
                      setting_beta: 0
                      setting_email_sms_subject: 0
                      setting_fix_sender_id: 1
                      setting_unicode_sms: 0
                      unsubscribe_mail: 0
                      user_email: 1@test.com
                      user_first_name: John
                      user_id: 1
                      user_last_name: Doe
                      user_phone: "+13523944199"
                      username: "1"
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: You're account has been verified.
          description: OK
          headers: {}
      summary: Verify new account
      tags:
        - Account
  "/account/usage/{year}/{month}/{type}":
    get:
      description: ""
      operationId: Account Usage
      parameters:
        - description: Your account usage year.
          example: "2016"
          in: path
          name: year
          required: true
          schema:
            type: number
        - description: Your account usage month.
          example: "4"
          in: path
          name: month
          required: true
          schema:
            type: number
        - description: The account type. Value can only be either email or subaccount.
          example: subaccount
          in: path
          name: type
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      email:
                        - subaccount_id: 1039
                          total_count: 3992
                          total_price: "9.0020"
                          username: user1
                        - subaccount_id: 1047
                          total_count: 998
                          total_price: "0.0000"
                          username: user5
                      email_total:
                        count: 4990
                        price: "9.0020"
                      fax:
                        - subaccount_id: 1039
                          total_count: "3.00"
                          total_price: "0.6943"
                          username: user1
                        - subaccount_id: 1047
                          total_count: "1.00"
                          total_price: "0.2314"
                          username: user5
                      fax_total:
                        count: 4
                        price: "0.9257"
                      post:
                        - subaccount_id: 1039
                          total_count: "10"
                          total_price: "8.5624"
                          username: user1
                        - subaccount_id: 1047
                          total_count: "3"
                          total_price: "2.5586"
                          username: user5
                      post_total:
                        count: 13
                        price: "11.1210"
                      sms:
                        - subaccount_id: 1039
                          total_count: "29.00"
                          total_price: "2.1337"
                          username: gerald
                        - subaccount_id: 1047
                          total_count: "4.00"
                          total_price: "0.3080"
                          username: user5
                      sms_total:
                        count: 33
                        price: "2.4417"
                      voice:
                        - subaccount_id: 1039
                          total_count: "6.00"
                          total_price: "0.1980"
                          username: user1
                        - subaccount_id: 1047
                          total_count: "1.00"
                          total_price: "0.0330"
                          username: user5
                      voice_total:
                        count: 7
                        price: "0.2310"
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Here is your usage for this month.
          description: OK
          headers: {}
      summary: Account Usage
      tags:
        - Account
  /automations/email/receipt:
    get:
      description: ""
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      current_page: 1
                      data:
                        - action: URL
                          action_address: http://yourdomain.com
                          enabled: 1
                          match_type: 0
                          receipt_rule_id: 1
                          rule_name: Email Test Rule
                        - action: URL
                          action_address: http://yourdomain.com
                          enabled: 1
                          match_type: 0
                          receipt_rule_id: 2
                          rule_name: test
                        - action: URL
                          action_address: http://yourdomain.com
                          enabled: 1
                          match_type: 0
                          receipt_rule_id: 6
                          rule_name: test
                        - action: URL
                          action_address: http://yourdomain.com
                          enabled: 1
                          match_type: 0
                          receipt_rule_id: 7
                          rule_name: test
                      from: 1
                      last_page: 1
                      next_page_url: null
                      per_page: 15
                      prev_page_url: null
                      to: 4
                      total: 4
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Here is your result.
          description: OK
          headers: {}
      summary: List Rules
      tags:
        - Automation Rules
    post:
      description: ""
      requestBody:
        content:
          application/json:
            schema:
              example:
                action: URL
                action_address: http://yourdomain.com
                enabled: 1
                match_type: 0
                rule_name: My Rule
              properties:
                action:
                  description: Action.
                  type: string
                action_address:
                  description: Action Address.
                  type: string
                enabled:
                  description: Enabled.
                  type: number
                match_type:
                  description: Match Type. 0=All reports.
                  type: number
                rule_name:
                  description: Rule Name.
                  type: string
              required:
                - rule_name
                - match_type
                - action
                - action_address
                - enabled
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: URL
                      action_address: http://yourdomain.com
                      enabled: 1
                      match_type: 0
                      receipt_rule_id: 8
                      rule_name: My Rule
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Automation email receipt rule has been created.
          description: OK
          headers: {}
      summary: Create a New Rule
      tags:
        - Automation Rules
  "/automations/email/receipt/{rule_id}":
    delete:
      description: ""
      parameters:
        - description: The email receipt rule id you want to delete.
          example: "8"
          in: path
          name: rule_id
          required: true
          schema:
            type: number
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data: true
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Automation email receipt rule has been deleted.
          description: OK
          headers: {}
      summary: Delete a Rule
      tags:
        - Automation Rules
    get:
      description: ""
      parameters:
        - description: The rule id you want to access.
          example: "5"
          in: path
          name: rule_id
          required: true
          schema:
            type: number
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: URL
                      action_address: http://yourdomain.com
                      enabled: 1
                      match_type: 0
                      receipt_rule_id: 1
                      rule_name: Email Test Rule
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Here is your result.
          description: OK
          headers: {}
      summary: Get a Specific Rule
      tags:
        - Automation Rules
    put:
      description: ""
      parameters:
        - description: The email receipt rule id you want to access.
          example: "8"
          in: path
          name: rule_id
          required: true
          schema:
            type: number
      requestBody:
        content:
          application/json:
            schema:
              example:
                action: URL
                action_address: http://yourdomain.com
                enabled: 1
                match_type: 0
                rule_name: My Rule
              properties:
                action:
                  description: Action.
                  type: string
                action_address:
                  description: Action Address.
                  type: string
                enabled:
                  description: Enabled.
                  type: number
                match_type:
                  description: Match Type. 0=All reports.
                  type: number
                rule_name:
                  description: Rule Name.
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: URL
                      action_address: http://yourdomain.com
                      enabled: 1
                      match_type: 0
                      receipt_rule_id: 8
                      rule_name: My Rule
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Automation email receipt rule has been updated.
          description: OK
          headers: {}
      summary: Update a Rule
      tags:
        - Automation Rules
  /automations/fax/inbound:
    get:
      description: ""
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      current_page: 1
                      data:
                        - action: EMAIL_FIXED
                          action_address: test@test.com
                          dedicated_number: "19"
                          enabled: 1
                          inbound_rule_id: 1
                          rule_name: Email
                          user_id: 1
                        - action: URL
                          action_address: http://yourdomain.com
                          dedicated_number: "19"
                          enabled: 0
                          inbound_rule_id: 2
                          rule_name: URL
                          user_id: 1
                        - action: POLL
                          action_address: http://yourdomain.com
                          dedicated_number: "19"
                          enabled: 0
                          inbound_rule_id: 3
                          rule_name: POLL
                          user_id: 1
                        - action: EMAIL_FIXED
                          action_address: http://yourdomain.com
                          dedicated_number: "19"
                          enabled: 0
                          inbound_rule_id: 4
                          rule_name: POLL
                          user_id: 1
                        - action: NOTHING
                          action_address: http://yourdomain.com
                          dedicated_number: "19"
                          enabled: 0
                          inbound_rule_id: 6
                          rule_name: POLL
                          user_id: 1
                        - action: NOTHING
                          action_address: http://yourdomain.com
                          dedicated_number: "19"
                          enabled: 0
                          inbound_rule_id: 7
                          rule_name: POLL
                          user_id: 1
                        - action: NOTHING
                          action_address: http://yourdomain.com
                          dedicated_number: "19"
                          enabled: 0
                          inbound_rule_id: 8
                          rule_name: POLL
                          user_id: 1
                        - action: NOTHING
                          action_address: http://yourdomain.com
                          dedicated_number: "19"
                          enabled: 0
                          inbound_rule_id: 9
                          rule_name: POLL
                          user_id: 1
                        - action: POLL
                          action_address: http://yourdomain.com
                          dedicated_number: "19"
                          enabled: 0
                          inbound_rule_id: 10
                          rule_name: POLL
                          user_id: 1
                        - action: EMAIL_FIXED
                          action_address: ""
                          dedicated_number: "+61298441484"
                          enabled: 1
                          inbound_rule_id: 12
                          rule_name: Rule Name
                          user_id: 1
                        - action: EMAIL_FIXED
                          action_address: ""
                          dedicated_number: "+61298441484"
                          enabled: 1
                          inbound_rule_id: 13
                          rule_name: Rule Name
                          user_id: 1
                        - action: EMAIL_FIXED
                          action_address: email@domain.com
                          dedicated_number: "+61298441484"
                          enabled: 1
                          inbound_rule_id: 14
                          rule_name: Rule Name
                          user_id: 1
                        - action: EMAIL_FIXED
                          action_address: email@domain.com
                          dedicated_number: "+61298441484"
                          enabled: 1
                          inbound_rule_id: 15
                          rule_name: Rule Name
                          user_id: 1
                        - action: EMAIL_FIXED
                          action_address: email@domain.com
                          dedicated_number: "+61298441484"
                          enabled: 1
                          inbound_rule_id: 16
                          rule_name: Rule Name
                          user_id: 1
                        - action: EMAIL_FIXED
                          action_address: email@domain.com
                          dedicated_number: "+61298441484"
                          enabled: 1
                          inbound_rule_id: 17
                          rule_name: Rule Name
                          user_id: 1
                      from: 1
                      last_page: 2
                      next_page_url: https://rest.clicksend.com/v3/automations/fax/inbound?page=2
                      per_page: 15
                      prev_page_url: null
                      to: 15
                      total: 20
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your inbound fax.
          description: OK
          headers: {}
      summary: List rules
      tags:
        - Automation Rules
    post:
      description: ""
      requestBody:
        $ref: "#/components/requestBodies/Create_a_new_ruleBody"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: EMAIL_FIXED
                      action_address: email@domain.com
                      dedicated_number: "+61298441484"
                      enabled: 1
                      inbound_rule_id: 24
                      rule_name: My Rule
                      user_id: 1
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: New rule has been added.
          description: OK
          headers: {}
      summary: Create a new rule
      tags:
        - Automation Rules
  "/automations/fax/inbound/{inbound_rule_id}":
    delete:
      description: ""
      parameters:
        - description: Fax inbound rule id
          example: "14"
          in: path
          name: inbound_rule_id
          required: true
          schema:
            type: number
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data: []
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your fax inbound rule has been deleted.
          description: OK
          headers: {}
      summary: Delete a rule
      tags:
        - Automation Rules
    get:
      description: ""
      parameters:
        - description: Fax inbound rule id
          example: "14"
          in: path
          name: inbound_rule_id
          required: true
          schema:
            type: number
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: EMAIL_FIXED
                      action_address: email@domain.com
                      dedicated_number: "+61298441484"
                      enabled: 1
                      inbound_rule_id: 14
                      rule_name: Rule Name
                      user_id: 1
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your inbound fax.
          description: OK
          headers: {}
      summary: Get a specific rule
      tags:
        - Automation Rules
    put:
      description: ""
      parameters:
        - description: Fax inbound rule id
          example: "14"
          in: path
          name: inbound_rule_id
          required: true
          schema:
            type: number
      requestBody:
        $ref: "#/components/requestBodies/Create_a_new_ruleBody"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: EMAIL_FIXED
                      action_address: email@domain.com
                      dedicated_number: "+61298441484"
                      enabled: 1
                      inbound_rule_id: 14
                      rule_name: Rule Name
                      user_id: 1
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your inbound fax.
          description: OK
          headers: {}
      summary: Update a rule
      tags:
        - Automation Rules
  /automations/fax/receipts:
    get:
      description: ""
      operationId: List Rules
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      current_page: 1
                      data:
                        - action: URL
                          action_address: http://yourdomain.com
                          enabled: 1
                          match_type: 0
                          receipt_rule_id: 1
                          rule_name: Email Test Rule
                        - action: URL
                          action_address: http://yourdomain.com
                          enabled: 1
                          match_type: 0
                          receipt_rule_id: 2
                          rule_name: test
                        - action: URL
                          action_address: http://yourdomain.com
                          enabled: 1
                          match_type: 0
                          receipt_rule_id: 6
                          rule_name: test
                        - action: URL
                          action_address: http://yourdomain.com
                          enabled: 1
                          match_type: 0
                          receipt_rule_id: 7
                          rule_name: test
                      from: 1
                      last_page: 1
                      next_page_url: null
                      per_page: 15
                      prev_page_url: null
                      to: 4
                      total: 4
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Here is your result.
          description: OK
          headers: {}
      summary: List Rules
      tags:
        - Automation Rules
    post:
      description: ""
      operationId: Create a New Rule
      requestBody:
        content:
          application/json:
            schema:
              example:
                action: EMAIL_FIXED
                action_address: john@doe.com
                enabled: 1
                match_type: 2
                rule_name: My Rule
              properties:
                action:
                  description: Action.
                  type: string
                action_address:
                  description: Action Address.
                  type: string
                enabled:
                  description: Enabled.
                  type: number
                match_type:
                  description: Match Type. 0=All reports.
                  type: number
                rule_name:
                  description: Rule Name.
                  type: string
              required:
                - rule_name
                - match_type
                - action
                - action_address
                - enabled
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: EMAIL_FIXED
                      action_address: john@doe.com
                      enabled: 1
                      match_type: 2
                      receipt_rule_id: 4
                      rule_name: My Rule
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your new Fax receipt has been added.
          description: OK
          headers: {}
      summary: Create a New Rule
      tags:
        - Automation Rules
  "/automations/fax/receipts/{rule_id}":
    delete:
      description: ""
      operationId: Delete a Rule
      parameters:
        - description: The email receipt rule id you want to delete.
          example: "4"
          in: path
          name: rule_id
          required: true
          schema:
            type: number
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data: null
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your rule incoming fax receipt has been deleted.
          description: OK
          headers: {}
      summary: Delete a Rule
      tags:
        - Automation Rules
    get:
      description: ""
      operationId: Get a Specific Rule
      parameters:
        - description: The rule id you want to access.
          example: "4"
          in: path
          name: rule_id
          required: true
          schema:
            type: number
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: EMAIL_FIXED
                      action_address: john@doe.com
                      enabled: 1
                      match_type: 2
                      receipt_rule_id: 4
                      rule_name: My Rule
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your rule incoming fax receipt.
          description: OK
          headers: {}
      summary: Get a Specific Rule
      tags:
        - Automation Rules
    put:
      description: ""
      operationId: Update a Rule
      parameters:
        - description: The email receipt rule id you want to access.
          example: "4"
          in: path
          name: rule_id
          required: true
          schema:
            type: number
      requestBody:
        content:
          application/json:
            schema:
              example:
                action: EMAIL_FIXED
                action_address: john@doe.com
                enabled: 1
                match_type: 1
                rule_name: My Rule
              properties:
                action:
                  description: Action.
                  type: string
                action_address:
                  description: Action Address.
                  type: string
                enabled:
                  description: Enabled.
                  type: number
                match_type:
                  description: Match Type. 0=All reports.
                  type: number
                rule_name:
                  description: Rule Name.
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: EMAIL_FIXED
                      action_address: john@doe.com
                      enabled: 1
                      match_type: 1
                      receipt_rule_id: 4
                      rule_name: My Rule
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your rule incoming fax receipt has been updated.
          description: OK
          headers: {}
      summary: Update a Rule
      tags:
        - Automation Rules
  /automations/sms/inbound:
    get:
      description: ""
      operationId: List rules
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      current_page: 1
                      data:
                        - action: CREATE_CONTACT_PLUS_EMAIL
                          action_address: "430"
                          body: test@test.com
                          dedicated_number: "+61298441484"
                          enabled: 1
                          inbound_rule_id: 10
                          message_search_term: My Search Term
                          message_search_type: 3
                          rule_name: My Rule 10
                        - action: CREATE_CONTACT
                          action_address: john@doe.com
                          body: null
                          dedicated_number: "+61298441484"
                          enabled: 1
                          inbound_rule_id: 9
                          message_search_term: My Search Term
                          message_search_type: 3
                          rule_name: My Rule 9
                        - action: MOVE_CONTACT
                          action_address: john@doe.com
                          body: null
                          dedicated_number: "+61298441484"
                          enabled: 1
                          inbound_rule_id: 8
                          message_search_term: My Search Term
                          message_search_type: 3
                          rule_name: My Rule 8
                        - action: GROUP_SMS
                          action_address: john@doe.com
                          body: null
                          dedicated_number: "+61298441484"
                          enabled: 1
                          inbound_rule_id: 7
                          message_search_term: My Search Term
                          message_search_type: 3
                          rule_name: My Rule 7
                        - action: POLL
                          action_address: john@doe.com
                          body: null
                          dedicated_number: "+61298441484"
                          enabled: 1
                          inbound_rule_id: 6
                          message_search_term: My Search Term
                          message_search_type: 3
                          rule_name: My Rule 6
                        - action: SMS
                          action_address: john@doe.com
                          body: null
                          dedicated_number: "+61298441484"
                          enabled: 1
                          inbound_rule_id: 5
                          message_search_term: My Search Term
                          message_search_type: 3
                          rule_name: My Rule 5
                        - action: URL
                          action_address: john@doe.com
                          body: null
                          dedicated_number: "+61298441484"
                          enabled: 1
                          inbound_rule_id: 4
                          message_search_term: My Search Term
                          message_search_type: 3
                          rule_name: My Rule 4
                        - action: EMAIL_FIXED
                          action_address: john@doe.com
                          body: null
                          dedicated_number: "+61298441484"
                          enabled: 1
                          inbound_rule_id: 3
                          message_search_term: My Search Term
                          message_search_type: 3
                          rule_name: My Rule 3
                        - action: EMAIL_USER
                          action_address: john@doe.com
                          body: null
                          dedicated_number: "+61298441484"
                          enabled: 1
                          inbound_rule_id: 2
                          message_search_term: My Search Term
                          message_search_type: 3
                          rule_name: My Rule 2
                        - action: AUTO_REPLY
                          action_address: john@doe.com
                          body: null
                          dedicated_number: "+61298441484"
                          enabled: 1
                          inbound_rule_id: 1
                          message_search_term: null
                          message_search_type: 3
                          rule_name: My Rule 1
                        - action: CREATE_CONTACT_PLUS_NAME
                          action_address: 534
                          body: null
                          dedicated_number: "+61298441484"
                          enabled: 1
                          inbound_rule_id: 1
                          message_search_term: null
                          message_search_type: 3
                          rule_name: My Rule 1
                      from: 1
                      last_page: 1
                      next_page_url: null
                      per_page: 15
                      prev_page_url: null
                      to: 10
                      total: 10
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your list of inbound rules.
          description: OK
          headers: {}
      summary: List rules
      tags:
        - Automation Rules
  /automations/sms/inbound/:
    post:
      description: ""
      operationId: Create a new rule
      requestBody:
        content:
          application/json:
            schema:
              example:
                action: EMAIL_FIXED
                action_address: john@doe.com
                dedicated_number: "+61298441484"
                enabled: 1
                message_search_term: My Search Term
                message_search_type: 3
                rule_name: My Rule
              properties:
                action:
                  description: Action.
                  type: string
                action_address:
                  description: Action Address.
                  type: string
                dedicated_number:
                  description: Dedicated Number.
                  type: number
                enabled:
                  description: Enabled.
                  type: number
                message_search_term:
                  description: Message Search Term.
                  type: string
                message_search_type:
                  description: "Message Search Type: 0=Any message, 1=starts with, 2=contains, 3=does not contain."
                  type: number
                rule_name:
                  description: Rule Name.
                  type: string
              required:
                - dedicated_number
                - rule_name
                - message_search_type
                - message_search_term
                - action
                - action_address
                - enabled
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: EMAIL_FIXED
                      action_address: john@doe.com
                      dedicated_number: "+61298441484"
                      enabled: 1
                      inbound_rule_id: 11
                      message_search_term: My Search Term
                      message_search_type: 3
                      rule_name: My Rule
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your record has been added.
          description: OK
          headers: {}
      summary: Create a new rule
      tags:
        - Automation Rules
  "/automations/sms/inbound/{inbound_rule_id}":
    delete:
      description: ""
      operationId: Delete a rule
      parameters:
        - description: Inbound Rule ID.
          example: "1"
          in: path
          name: inbound_rule_id
          required: true
          schema:
            type: number
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data: []
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your record has been deleted.
          description: OK
          headers: {}
      summary: Delete a rule
      tags:
        - Automation Rules
    get:
      description: ""
      operationId: Get a specific rule
      parameters:
        - description: Inbound Rule ID.
          example: "1"
          in: path
          name: inbound_rule_id
          required: true
          schema:
            type: number
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: EMAIL_FIXED
                      action_address: john@doe.com
                      body: null
                      dedicated_number: "+61298441484"
                      enabled: 1
                      inbound_rule_id: 1
                      message_search_term: null
                      message_search_type: 3
                      rule_name: My Rule
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your inbound rule.
          description: OK
          headers: {}
      summary: Get a specific rule
      tags:
        - Automation Rules
    put:
      description: ""
      operationId: Update a rule
      parameters:
        - description: Inbound Rule ID.
          example: "1"
          in: path
          name: inbound_rule_id
          required: true
          schema:
            type: number
      requestBody:
        content:
          application/json:
            schema:
              example:
                action: EMAIL_FIXED
                action_address: john@doe.com
                dedicated_number: "+61298441484"
                enabled: 1
                message_search_term: My Search Term
                message_search_type: 3
                rule_name: My Rule
              properties:
                action:
                  description: Action.
                  type: string
                action_address:
                  description: Action Address.
                  type: string
                dedicated_number:
                  description: Dedicated Number
                  type: string
                enabled:
                  description: Enabled.
                  type: number
                message_search_term:
                  description: Message Search Term.
                  type: string
                message_search_type:
                  description: "Message Search Type: 0=Any message, 1=starts with, 2=contains, 3=does not contain."
                  type: number
              required:
                - dedicated_number
                - message_search_type
                - message_search_term
                - action
                - action_address
                - enabled
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: EMAIL_FIXED
                      action_address: john@doe.com
                      body: null
                      dedicated_number: "+61298441484"
                      enabled: 1
                      inbound_rule_id: 1
                      message_search_term: null
                      message_search_type: 3
                      rule_name: My Rule
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your record has been updated.
          description: OK
          headers: {}
      summary: Update a rule
      tags:
        - Automation Rules
  /automations/sms/receipts:
    get:
      description: ""
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      current_page: 1
                      data:
                        - action: EMAIL_FIXED
                          action_address: john@doe.com
                          enabled: 0
                          match_type: 0
                          receipt_rule_id: 5
                          rule_name: My Rule
                        - action: EMAIL_FIXED
                          action_address: john@doe.com
                          enabled: 1
                          match_type: 0
                          receipt_rule_id: 6
                          rule_name: My Rule
                        - action: EMAIL_FIXED
                          action_address: john@doe.com
                          enabled: 1
                          match_type: 0
                          receipt_rule_id: 7
                          rule_name: My Rule
                        - action: SMS
                          action_address: "+61298441484"
                          enabled: 1
                          match_type: 0
                          receipt_rule_id: 8
                          rule_name: My Rule
                        - action: URL
                          action_address: "+61298441485"
                          enabled: 1
                          match_type: 0
                          receipt_rule_id: 9
                          rule_name: My Rule
                      from: 1
                      last_page: 1
                      next_page_url: null
                      per_page: 15
                      prev_page_url: null
                      to: 5
                      total: 5
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your list of rule incoming sms receipt.
          description: OK
          headers: {}
      summary: List rules
      tags:
        - Automation Rules
    post:
      description: ""
      requestBody:
        $ref: "#/components/requestBodies/Create_a_new_ruleBody2"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: EMAIL_FIXED
                      action_address: john@doe.com
                      enabled: 1
                      match_type: 3
                      receipt_rule_id: 10
                      rule_name: My Rule
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your new SMS receipt has been added.
          description: OK
          headers: {}
      summary: Create a new rule
      tags:
        - Automation Rules
  "/automations/sms/receipts/{receipt_rule_id}":
    delete:
      description: ""
      parameters:
        - description: Receipt Rule ID.
          example: "7"
          in: path
          name: receipt_rule_id
          required: true
          schema:
            type: number
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data: []
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your rule incoming sms receipt has been deleted.
          description: OK
          headers: {}
      summary: Delete a rule
      tags:
        - Automation Rules
    get:
      description: ""
      parameters:
        - description: Receipt Rule ID.
          example: "2"
          in: path
          name: receipt_rule_id
          required: true
          schema:
            type: number
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: EMAIL_FIXED
                      action_address: john@doe.com
                      enabled: 1
                      match_type: 0
                      receipt_rule_id: 6
                      rule_name: My Rule
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your rule incoming voice receipt.
          description: OK
          headers: {}
      summary: Get a specific rule
      tags:
        - Automation Rules
    put:
      description: ""
      parameters:
        - description: Receipt Rule ID.
          example: "7"
          in: path
          name: receipt_rule_id
          required: true
          schema:
            type: number
      requestBody:
        $ref: "#/components/requestBodies/Create_a_new_ruleBody2"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: EMAIL_FIXED
                      action_address: john@doe.com
                      enabled: 1
                      match_type: 0
                      receipt_rule_id: 7
                      rule_name: My Rule
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your rule incoming sms receipt has been updated.
          description: OK
          headers: {}
      summary: Update a rule
      tags:
        - Automation Rules
  /automations/voice/receipts:
    get:
      description: ""
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      current_page: 1
                      data:
                        - action: URL
                          action_address: http://yourdomain.com
                          enabled: 1
                          match_type: 3
                          receipt_rule_id: 2
                          rule_name: My Rule 2
                      from: 1
                      last_page: 1
                      next_page_url: null
                      per_page: 15
                      prev_page_url: null
                      to: 1
                      total: 1
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your voice receipts.
          description: OK
          headers: {}
      summary: List rules
      tags:
        - Automation Rules
    post:
      description: ""
      requestBody:
        $ref: "#/components/requestBodies/Create_a_new_ruleBody2"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: EMAIL_FIXED
                      action_address: john@doe.com
                      enabled: 1
                      match_type: 3
                      receipt_rule_id: 3
                      rule_name: My Rule
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your new voice receipt has been added.
          description: OK
          headers: {}
      summary: Create a new rule
      tags:
        - Automation Rules
  "/automations/voice/receipts/{receipt_rule_id}":
    delete:
      description: ""
      parameters:
        - description: Receipt Rule ID.
          example: "2"
          in: path
          name: receipt_rule_id
          required: true
          schema:
            type: number
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data: []
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your rule voice receipt has been deleted.
          description: OK
          headers: {}
      summary: Delete a rule
      tags:
        - Automation Rules
    get:
      description: ""
      parameters:
        - description: Receipt Rule ID.
          example: "2"
          in: path
          name: receipt_rule_id
          required: true
          schema:
            type: number
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: URL
                      action_address: http://yourdomain.com
                      enabled: 1
                      match_type: 3
                      receipt_rule_id: 2
                      rule_name: My Rule 2
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your rule incoming voice receipt.
          description: OK
          headers: {}
      summary: Get a specific rule
      tags:
        - Automation Rules
    put:
      description: ""
      parameters:
        - description: Receipt Rule ID.
          example: "2"
          in: path
          name: receipt_rule_id
          required: true
          schema:
            type: number
      requestBody:
        $ref: "#/components/requestBodies/Create_a_new_ruleBody2"
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      action: URL
                      action_address: http://yourdomain.com
                      enabled: 1
                      match_type: 3
                      receipt_rule_id: 2
                      rule_name: My Rule 2
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Your rule incoming voice receipt.
          description: OK
          headers: {}
      summary: Update a rule
      tags:
        - Automation Rules
  /contact-suggestions:
    get:
      description: ""
      operationId: List Contact Suggestions
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - _list_name: List6eaG4lGIc9
                        address_city: Altavista
                        address_country: AU
                        address_line_1: "3842"
                        address_line_2: Worley Avenue
                        address_postal_code: "24517"
                        address_state: VA
                        contact_id: 4
                        custom_1: Custom A 1
                        custom_2: Custom B 1
                        custom_3: Custom C 1
                        custom_4: Custom D 1
                        date_added: "1462856443"
                        email: johndoe1@gmail.com
                        fax_number: "+61298444214"
                        first_name: John
                        last_name: Doe
                        list_id: 429
                        organization_name: Organization 1
                        phone_number: "+61298444214"
                      - _list_name: List6eaG4lGIc9
                        address_city: Altavista
                        address_country: AU
                        address_line_1: "3842"
                        address_line_2: Worley Avenue
                        address_postal_code: "24517"
                        address_state: VA
                        contact_id: 5
                        custom_1: Custom A 2
                        custom_2: Custom B 1
                        custom_3: Custom C 1
                        custom_4: Custom D 1
                        date_added: "1462856443"
                        email: johndoe1@gmail.com
                        fax_number: "+61298444214"
                        first_name: John
                        last_name: Doe
                        list_id: 429
                        organization_name: Organization 1
                        phone_number: "+61298444214"
                      - _list_name: List6eaG4lGIc9
                        address_city: Altavista
                        address_country: AU
                        address_line_1: "3842"
                        address_line_2: Worley Avenue
                        address_postal_code: "24517"
                        address_state: VA
                        contact_id: 6
                        custom_1: Custom A 3
                        custom_2: Custom B 1
                        custom_3: Custom C 1
                        custom_4: Custom D 1
                        date_added: "1462856443"
                        email: johndoe1@gmail.com
                        fax_number: "+61298444214"
                        first_name: John
                        last_name: Doe
                        list_id: 429
                        organization_name: Organization 1
                        phone_number: "+61298444214"
                      - _list_name: List6eaG4lGIc9
                        address_city: Altavista
                        address_country: AU
                        address_line_1: "3842"
                        address_line_2: Worley Avenue
                        address_postal_code: "24517"
                        address_state: VA
                        contact_id: 7
                        custom_1: Custom A 4
                        custom_2: Custom B 1
                        custom_3: Custom C 1
                        custom_4: Custom D 1
                        date_added: "1462856443"
                        email: johndoe1@gmail.com
                        fax_number: "+61298444214"
                        first_name: John
                        last_name: Doe
                        list_id: 429
                        organization_name: Organization 1
                        phone_number: "+61298444214"
                      - _list_name: List6eaG4lGIc9
                        address_city: Altavista
                        address_country: AU
                        address_line_1: "3842"
                        address_line_2: Worley Avenue
                        address_postal_code: "24517"
                        address_state: VA
                        contact_id: 8
                        custom_1: Custom A 5
                        custom_2: Custom B 1
                        custom_3: Custom C 1
                        custom_4: Custom D 1
                        date_added: "1462856443"
                        email: johndoe1@gmail.com
                        fax_number: "+61298444214"
                        first_name: John
                        last_name: Doe
                        list_id: 429
                        organization_name: Organization 1
                        phone_number: "+61298444214"
                      - _list_name: List6eaG4lGIc9
                        address_city: Altavista
                        address_country: AU
                        address_line_1: "3842"
                        address_line_2: Worley Avenue
                        address_postal_code: "24517"
                        address_state: VA
                        contact_id: 9
                        custom_1: Custom A 6
                        custom_2: Custom B 1
                        custom_3: Custom C 1
                        custom_4: Custom D 1
                        date_added: "1462856443"
                        email: johndoe1@gmail.com
                        fax_number: "+61298444214"
                        first_name: John
                        last_name: Doe
                        list_id: 429
                        organization_name: Organization 1
                        phone_number: "+61298444214"
                      - _list_name: List6eaG4lGIc9
                        address_city: Altavista
                        address_country: AU
                        address_line_1: "3842"
                        address_line_2: Worley Avenue
                        address_postal_code: "24517"
                        address_state: VA
                        contact_id: 10
                        custom_1: Custom A 7
                        custom_2: Custom B 1
                        custom_3: Custom C 1
                        custom_4: Custom D 1
                        date_added: "1462856443"
                        email: johndoe1@gmail.com
                        fax_number: "+61298444214"
                        first_name: John
                        last_name: Doe
                        list_id: 429
                        organization_name: Organization 1
                        phone_number: "+61298444214"
                      - _list_name: List6eaG4lGIc9
                        address_city: Altavista
                        address_country: AU
                        address_line_1: "3842"
                        address_line_2: Worley Avenue
                        address_postal_code: "24517"
                        address_state: VA
                        contact_id: 11
                        custom_1: Custom A 8
                        custom_2: Custom B 1
                        custom_3: Custom C 1
                        custom_4: Custom D 1
                        date_added: "1462856443"
                        email: johndoe1@gmail.com
                        fax_number: "+61298444214"
                        first_name: John
                        last_name: Doe
                        list_id: 429
                        organization_name: Organization 1
                        phone_number: "+61298444214"
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Here are your results.
          description: OK
          headers: {}
      summary: List Contact Suggestions
      tags:
        - Contact Suggestions
  /countries:
    get:
      description: ""
      operationId: Get all Countries
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      - code: AF
                        value: Afghanistan
                      - code: AU
                        value: Australia
                      - code: FI
                        value: Finland
                      - code: FR
                        value: France
                      - code: AE
                        value: United Arab Emirates
                      - code: GB
                        value: United Kingdom
                      - code: US
                        value: United States of America
                      - code: ZW
                        value: Zimbabwe
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: List of Countries.
          description: OK
          headers: {}
      summary: Get all Countries
      tags:
        - Countries
  /delivery-issues:
    get:
      description: ""
      operationId: Get Delivery Issues
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      current_page: 1
                      data:
                        - client_comments: null
                          date_added: 1481610495
                          description: this is a test.
                          email_address: test@user.com
                          issue_id: 1
                          message_id: B388828B-AD46-4366-8AD3-0305FF5E3FE5
                          resolved: 0
                          status: null
                          support_comments: null
                          type: sms
                          user_id: 3820
                        - client_comments: null
                          date_added: 1481610523
                          description: this is a test.
                          email_address: test@user.com
                          issue_id: 2
                          message_id: 90396A38-146B-46C4-A455-675F620C2E05
                          resolved: 0
                          status: null
                          support_comments: null
                          type: sms
                          user_id: 3820
                        - client_comments: null
                          date_added: 1481611389
                          description: this is a test.
                          email_address: test@user.com
                          issue_id: 3
                          message_id: 4ECFB6CB-0300-45EC-96E1-5AB189432AF5
                          resolved: 0
                          status: null
                          support_comments: null
                          type: sms
                          user_id: 3820
                        - client_comments: null
                          date_added: 1481611467
                          description: this is a test.
                          email_address: test@user.com
                          issue_id: 4
                          message_id: test
                          resolved: 0
                          status: null
                          support_comments: null
                          type: sms
                          user_id: 3820
                        - client_comments: null
                          date_added: 1481614516
                          description: this is a test.
                          email_address: test@user.com
                          issue_id: 5
                          message_id: test
                          resolved: 0
                          status: null
                          support_comments: null
                          type: SMS
                          user_id: 3820
                      from: 1
                      last_page: 1
                      next_page_url: null
                      per_page: 15
                      prev_page_url: null
                      to: 7
                      total: 5
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Here is your result.
          description: OK
          headers: {}
      summary: Get Delivery Issues
      tags:
        - Delivery Issues
    post:
      description: ""
      operationId: Create Delivery Issue
      requestBody:
        content:
          application/json:
            schema:
              example:
                client_comments: test
                description: This is a test
                email_address: john_doe@user.com
                message_id: B388828B-AD46-4366-8AD3-0305FF5E3FE5
                type: SMS
              properties:
                client_comments:
                  description: The user's comments.
                  type: string
                description:
                  description: The description of the message.
                  type: string
                email_address:
                  description: The user's email address.
                  type: string
                message_id:
                  description: The message id of the message.
                  type: string
                type:
                  description: "The type of message, must be one of the following values: `SMS`, `MMS`, `VOICE`, `EMAIL_MARKETING`, `EMAIL_TRANSACTIONAL`, `FAX`, `POST`."
                  type: string
              required:
                - message_id
                - type
                - description
                - email_address
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      date_added: 1481617579
                      description: this is a test.
                      email_address: john_doe@user.com
                      issue_id: 9
                      message_id: B388828B-AD46-4366-8AD3-0305FF5E3FE5
                      type: SMS
                      user_id: 3820
                    http_code: 200
                    response_code: SUCCESS
                    response_msg: Delivery issue has been created.
          description: OK
          headers: {}
      summary: Create Delivery Issue
      tags:
        - Delivery Issues
  /email-campaigns:
    get:
      description: ""
      operationId: Get All Email Campaigns
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      current_page: 1
                      data:
                        - abuse_count: 0
                          click_count: 0
                          custom_string: ""
                          date_added: "1455586793"
                          email_campaign_id: 64
[...]
