{
  "openapi": "3.0.2",
  "servers": [
    {
      "description": "No authentication endpoint. Returns latest exchange rates and some metadata.",
      "url": "https://api.exchangerate-api.com/v4"
    }
  ],
  "info": {
    "description": "Fetch the latest currency exchange rates via API. ExchangeRate-API is free and unlimited.",
    "termsOfService": "https://www.exchangerate-api.com/terms",
    "title": "ExchangeRate-API",
    "version": "4",
    "x-apisguru-categories": [
      "financial"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_www.exchangerate-api.com_img_logo-cube-135px.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/mermade/oas-kit",
          "version": "7.0.4"
        },
        "format": "openapi",
        "url": "https://www.exchangerate-api.com/openapi.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "exchangerate-api.com"
  },
  "externalDocs": {
    "description": "API Documentation",
    "url": "https://www.exchangerate-api.com/docs/documentation"
  },
  "paths": {
    "/latest/{base_currency}": {
      "get": {
        "parameters": [
          {
            "description": "**Base Currency**. *Example: USD*. You an use any of the ISO 4217 currency codes we support. See https://www.exchangerate-api.com/docs/supported-currencies",
            "in": "path",
            "name": "base_currency",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "base": {
                      "description": "The currency code you supplied as base in your request",
                      "example": "USD",
                      "type": "string"
                    },
                    "date": {
                      "description": "The date these exchange rates are for",
                      "type": "string"
                    },
                    "rates": {
                      "additionalProperties": {
                        "format": "double",
                        "type": "number"
                      },
                      "description": "Each supported currency code in terms of the base currency",
                      "type": "object"
                    },
                    "time_last_updated": {
                      "description": "The epoch time this set of exchange rates was generated",
                      "example": 1556293443,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "error_type": {
                      "type": "string"
                    },
                    "result": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Currency code not supported"
          }
        },
        "summary": "Returns latest exchange rates in parameter-supplied base currency."
      }
    }
  }
}