swagger: "2.0"
schemes:
  - https
host: api.mastercard.com
info:
  description: Helps acquirers identify potentially high-risk merchants before entering to a merchant agreement.
  title: MATCH API
  version: 1.0.0
  x-artifactId: match
  x-origin:
    - format: swagger
      url: https://developer.mastercard.com/devzone/api/portal/swagger/match
      version: "2.0"
  x-providerName: mastercard.com
  x-serviceName: MATCH
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
consumes:
  - application/json
produces:
  - application/json
paths:
  /fraud/merchant/v3/add-merchant:
    post:
      description: |
        Used by Acquirers to add a terminated a merchant in the MATCH system. Merchant information, and up to five principal owners per merchant, can be provided by an acquiring bank as part of the listing.
      parameters:
        - description: Body of the Add Terminated Merchant Request
          in: body
          name: AddTerminatedMerchantRequestSchema
          required: true
          schema:
            $ref: "#/definitions/AddTerminatedMerchantRequestSchema"
      responses:
        "200":
          description: The add terminated merchant response object.
          schema:
            $ref: "#/definitions/AddTerminatedMerchantResponseSchema"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      summary: Used by Acquirers to add a terminated a merchant in the MATCH system. Merchant information, and up to five principal owners per merchant, can be provided by an acquiring bank as part of the listing.
      tags:
        - Add Terminated Merchant
      x-samples:
        - name: example_add_terminated_merchant
          request:
            application/json: |-
              {
                  "AddMerchantRequest": {
                      "AcquirerId": "1996",
                      "Merchant": {
                          "Name": "TEST TECHMERCHANT1",
                          "DoingBusinessAsName": "TEST TECHMERCHANT1",
                          "MerchantId": "@remember-integer[15]@",
                          "MerchantCategory": "0742",
                          "Address": {
                              "Line1": "6700 Ben Nevis",
                              "Line2": "",
                              "City": "GLASGOW",
                              "Province": "",
                              "CountrySubdivision": "MA",
                              "PostalCode": "93137",
                              "Country": "USA"
                          },
                          "PhoneNumber": "5675542210",
                          "AltPhoneNumber": "5672655441",
                          "NationalTaxId": "56733",
                          "CountrySubdivisionTaxId": "37354",
                          "CATFlag": "N",
                          "DateOpened": "04/12/2009",
                          "DateClosed": "03/19/2013",
                          "ServiceProvLegal": "TEST SVC PRVDER",
                          "ServiceProvDBA": "JNL ASSOC",
                          "Url": [
                              "www.testjj.com",
                              "www.jnltestjj.com"
                          ],
                          "Principal": {
                              "FirstName": "PAUL",
                              "LastName": "HEMINGHOFF",
                              "MiddleInitial": "L",
                              "Address": {
                                  "Line1": "2200 Shepley Drive",
                                  "Line2": "SUITE 789",
                                  "City": "BROWNSVILLE",
                                  "Province": "",
                                  "CountrySubdivision": "MO",
                                  "PostalCode": "89022",
                                  "Country": "USA"
                              },
                              "PhoneNumber": "3906541234",
                              "AltPhoneNumber": "4567390234",
                              "NationalId": "123456789",
                              "DriversLicense": {
                                  "Number": "3K33094",
                                  "CountrySubdivision": "MS",
                                  "Country": "USA"
                              }
                          },
                          "ReasonCode": "04",
                          "Comments": "Added for test reasons"
                      }
                  }
              }
          response:
            application/json: |-
              {
                  
              }
  /fraud/merchant/v3/common/contact-details:
    post:
      description: |
        Returns the contact information for the acquirer id requested. When MATCH returns a possible merchant match, this resource assists users by retrieving the contact information associated with the Acquirer ID/ICA that added the merchant to MATCH.
      parameters:
        - description: The contact request object
          in: body
          name: ContactRequest
          required: true
          schema:
            $ref: "#/definitions/ContactRequestSchema"
      responses:
        "200":
          description: The acquirer contact response object.
          schema:
            $ref: "#/definitions/ContactResponseSchema"
        "400":
          description: Bad request
          schema:
            $ref: "#/definitions/ErrorsResponse"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      summary: Returns the contact information for the acquirer id requested. When MATCH returns a possible merchant match, this resource assists users by retrieving the contact information associated with the Acquirer ID/ICA that added the merchant to MATCH.
      tags:
        - Acquirer Contact Request
      x-samples:
        - name: example_contact_details
          request:
            application/json: |-
              {

                "ContactRequest": {
                  "AcquirerId": "12086"
                }

              }
          response:
            application/json: |-
              {

              }
  /fraud/merchant/v3/retro/retro-inquiry-details:
    post:
      description: |
        Returns detailed information about Merchants, URLs and up to five principal owners, that have been terminated by an acquiring bank after the inquiry was made.  This MATCH resource assists acquirer's ability to consider the merchants terminated after the inquiry was made. If an initial inquiry does not result in a possible match, it is still possible that the merchant listing could appear sometime in the next 360 days. This may occur when another acquirer enters the merchant into the MATCH database. The system will automatically continue to search the MATCH system for 360 days. To view these notifications, acquirers must use the Retroactive Inquiry Summary service. This resource can be used to obtain detailed information, such as, if a Merchant or individual has been terminated by another acquirer after an inquiry was made, the reason for termination, and the history of fraudulent or risky business practices that led to that termination.
      parameters:
        - description: The Member ICA number which is used to validate that the application has permission to hit the MATCH database. This number must be obtained from a participating MATCH acquiring bank or entity before a developer can access the MATCH resource.
          in: query
          name: AcquirerId
          required: true
          type: string
        - description: The retro inquiry request object
          in: body
          name: RetroInquiryRequest
          required: true
          schema:
            $ref: "#/definitions/RetroInquiryRequestSchema"
      responses:
        "200":
          description: The retroactive inquiry response object.
          schema:
            $ref: "#/definitions/RetroInquiryResponseSchema"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      summary: Returns detailed information about Merchants, URLs and up to five principal owners, that have been terminated by an acquiring bank after the inquiry was made.  This MATCH resource assists acquirer's ability to consider the merchants terminated after the inquiry was made. If an initial inquiry does not result in a possible match, it is still possible that the merchant listing could appear sometime in the next 360 days. This may occur when another acquirer enters the merchant into the MATCH database. The system will automatically continue to search the MATCH system for 360 days. To view these notifications, acquirers must use the Retroactive Inquiry Summary service. This resource can be used to obtain detailed information, such as, if a Merchant or individual has been terminated by another acquirer after an inquiry was made, the reason for termination, and the history of fraudulent or risky business practices that led to that termination.
      tags:
        - Retroactive Inquiry Details Request
      x-samples:
        - name: example_retroactive_inquiry_details
          request:
            application/json: |-
              {
                "AcquirerId" : " 1996",
                "RetroInquiryRequest" : {
                  "InquiryReferenceNumber" : "19962014090200009"
                }
              }
          response:
            application/json: |-
              {
                  
              }
      x-testable: false
  /fraud/merchant/v3/retro/retro-list:
    post:
      description: |
        Returns the summary of Retro matches for the given Acquirer Id. This resource will return the summary of Retroactive Inquiry matches for the given Acquirer ID/ICA. If an initial inquiry does not result in a possible match, it is still possible that the merchant listing could appear sometime in the next 360 days. This may occur when another acquirer enters the merchant into the MATCH database. The system will automatically continue to search the MATCH system for 360 days. To view these notifications, acquirers must use the Retroactive Inquiry service.
      parameters:
        - description: The retro request object
          in: body
          name: RetroRequest
          required: true
          schema:
            $ref: "#/definitions/RetroRequestSchema"
      responses:
        "200":
          description: The retroactive request response object.
          schema:
            $ref: "#/definitions/RetroResponseSchema"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      summary: Returns the summary of Retro matches for the given Acquirer Id. This resource will return the summary of Retroactive Inquiry matches for the given Acquirer ID/ICA. If an initial inquiry does not result in a possible match, it is still possible that the merchant listing could appear sometime in the next 360 days. This may occur when another acquirer enters the merchant into the MATCH database. The system will automatically continue to search the MATCH system for 360 days. To view these notifications, acquirers must use the Retroactive Inquiry service.
      tags:
        - Retroactive Inquiry Request
      x-samples:
        - name: example_retroactive_inquiry
          request:
            application/json: |-
              {
                "RetroRequest" : {
                  "AcquirerId" : "1996"
                }
              }
          response:
            application/json: |-
              {
                  
              }
      x-testable: false
  /fraud/merchant/v3/termination-inquiry:
    post:
      description: |
        Returns information on merchants that have been terminated and merchants which have been inquired upon. MATCH can provide the acquiring bank with information, such as, if a Merchant or individual has been terminated by another acquirer already, the reason for termination, the history of fraudulent or risky business practices that led to that termination and the inquiry that was made already on the Merchant or individual by own or another acquiring bank (If opted)
      parameters:
        - description: The zero-based offset to start at. The actual start position is this value +1. An offset of 10 starts at item 11. Combined with the PageLength option this allows pagination to be supported through the service requests.
          in: query
          name: PageOffset
          required: true
          type: number
          x-example: 0
        - description: The maximum number of items to retrieve within the current "page" of results.
          in: query
          name: PageLength
          required: true
          type: number
          x-example: 10
        - description: Body of the Termination Inquiry Request
          in: body
          name: TerminationInquiryRequest
          required: true
          schema:
            $ref: "#/definitions/TerminationInquiryRequestSchema"
      responses:
        "200":
          description: The termination inquiry response object.
          schema:
            $ref: "#/definitions/TerminationInquirySchema"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      summary: Returns information on merchants that have been terminated and merchants that have inquired upon. Provides the acquiring bank with information, such as, if a Merchant or individual has been terminated by another acquirer already, the reason for termination, the history of fraudulent or risky business practices that led to that termination and the inquiry that was made already on the Merchant or individual by own or another acquiring bank (if opted).
      tags:
        - TerminationInquiryRequest
      x-samples:
        - name: example_termination_inquiry
          request:
            application/json: |-
              {
                "PageOffset" : "0",
                "PageLength" : "10",
                "TerminationInquiryRequest": {
                  "AcquirerId": "1996",
                  "Merchant": {
                    "Name": "XYZTEST  XYZTECHMERCHANT",
                    "DoingBusinessAsName": "XYZTEST  XYZTECHMERCHANT",
                    "AltPhoneNumber": "3098876333",
                    "Address": {
                      "Line1": "88 Nounce World",
                      "Line2": "APT 9009",
                      "City": "MICKENVINCE",
                      "CountrySubdivision": "MO",
                      "PostalCode": "66559",
                      "Country": "USA"
                    },
                    "ServiceProvLegal": "JJC WORKSHIRE",
                    "Principal": 
                    [
                    {
                      "FirstName": "PRINCE",
                      "LastName": "HENREY",
                      "PhoneNumber": "9983339923",
                      "AltPhoneNumber": "6365689336",
                      "Address": {
                        "Line1": "42 ELM AVENUE",
                        "City": "DALLAS",
                        "CountrySubdivision": "IL",
                        "PostalCode": "66579",
                        "Country": "USA"
                      },
                      "DriversLicense": {
                        
                      }
                    }],
                    "SearchCriteria": {
                      "SearchAll": "Y",
                      "MinPossibleMatchCount": "1"
                    }
                  }
                }
              }
          response:
            application/json: |-
              {
                "TerminationInquiry": {
                  "PageOffset": 0,
                  "PossibleMerchantMatches": [
                    {
                      "TotalLength": 14,
                      "TerminatedMerchant": [
                        {
                          "Merchant": {
                            "Name": "XYZTEST  XYZTECHMERCHANT",
                            "DoingBusinessAsName": "XYZTEST  XYZTECHMERCHANT",
                            "AddedByAcquirerID": "1996",
                            "AddedOnDate": "10/13/2015",
                            "PhoneNumber": "5675543210",
                            "AltPhoneNumber": "5672655441",
                            "Address": {
                              "Line1": "6700 BEN NEVIS",
                              "City": "GLASGOW",
                              "CountrySubdivision": "MA",
                              "PostalCode": "93137",
                              "Country": "USA"
                            },
                            "CountrySubdivisionTaxId": "*****",
                            "NationalTaxId": "*****",
                            "ServiceProvLegal": "TESTXYZ SVC PRVDER",
                            "ServiceProvDBA": "JNL ASSOC",
                            "Principal": [
                              {
                                "FirstName": "PAUL",
                                "LastName": "HEMINGHOFF",
                                "NationalId": "*****",
                                "PhoneNumber": "3906541234",
                                "AltPhoneNumber": "4567390234",
                                "Address": {
                                  "Line1": "2200 SHEPLEY DRIVE",
                                  "Line2": "SUITE 789",
                                  "City": "BROWNSVILLE",
                                  "CountrySubdivision": "MO",
                                  "PostalCode": "89022",
                                  "Country": "USA"
                                },
                                "DriversLicense": {
                                  "Number": "*****",
                                  "CountrySubdivision": "MS",
                                  "Country": "USA"
                                }
                              }
                            ],
                            "UrlGroup": [
                              {
                                "NoMatchUrls": {
                                  "Url": [
                                    "WWW.TESTJJ.COM",
                                    "WWW.JNLTESTJJ.COM"
                                  ]
                                }
                              }
                            ],
                            "TerminationReasonCode": "04"
                          },
                          "MerchantMatch": {
                            "Name": "M01",
                            "DoingBusinessAsName": "M02",
                            "Address": "M00",
                            "PhoneNumber": "M00",
                            "AltPhoneNumber": "M00",
                            "CountrySubdivisionTaxId": "M00",
                            "NationalTaxId": "M00",
                            "ServiceProvLegal": "M00",
                            "ServiceProvDBA": "M00",
                            "PrincipalMatch": [
                              {
                                "Name": "M00",
                                "Address": "M00",
                                "PhoneNumber": "M00",
                                "AltPhoneNumber": "M00",
                                "NationalId": "M00",
                                "DriversLicense": "M00"
                              }
                            ]
                          }
                        },
                        {
                          "Merchant": {
                            "Name": "XYZTEST  XYZTECHMERCHANT",
                            "DoingBusinessAsName": "XYZTEST  XYZTECHMERCHANT",
                            "AddedByAcquirerID": "1996",
                            "AddedOnDate": "01/20/2016",
                            "PhoneNumber": "5675543210",
                            "AltPhoneNumber": "5672655441",
                            "Address": {
                              "Line1": "6700 BEN NEVIS",
                              "City": "GLASGOW",
                              "CountrySubdivision": "MA",
                              "PostalCode": "93137",
                              "Country": "USA"
                            },
                            "CountrySubdivisionTaxId": "*****",
                            "NationalTaxId": "*****",
                            "ServiceProvLegal": "TESTXYZ SVC PRVDER",
                            "ServiceProvDBA": "JNL ASSOC",
                            "Principal": [
                              {
                                "FirstName": "PAUL",
                                "LastName": "HEMINGHOFF",
                                "NationalId": "*****",
                                "PhoneNumber": "3906541234",
                                "AltPhoneNumber": "4567390234",
                                "Address": {
                                  "Line1": "2200 SHEPLEY DRIVE",
                                  "Line2": "SUITE 789",
                                  "City": "BROWNSVILLE",
                                  "CountrySubdivision": "MO",
                                  "PostalCode": "89022",
                                  "Country": "USA"
                                },
                                "DriversLicense": {
                                  "Number": "*****",
                                  "CountrySubdivision": "MS",
                                  "Country": "USA"
                                }
                              }
                            ],
                            "UrlGroup": [
                              {
                                "NoMatchUrls": {
                                  "Url": [
                                    "WWW.TESTJJ.COM",
                                    "WWW.JNLTESTJJ.COM"
                                  ]
                                }
                              }
                            ],
                            "TerminationReasonCode": "04"
                          },
                          "MerchantMatch": {
                            "Name": "M01",
                            "DoingBusinessAsName": "M02",
                            "Address": "M00",
                            "PhoneNumber": "M00",
                            "AltPhoneNumber": "M00",
                            "CountrySubdivisionTaxId": "M00",
                            "NationalTaxId": "M00",
                            "ServiceProvLegal": "M00",
                            "ServiceProvDBA": "M00",
                            "PrincipalMatch": [
                              {
                                "Name": "M00",
                                "Address": "M00",
                                "PhoneNumber": "M00",
                                "AltPhoneNumber": "M00",
                                "NationalId": "M00",
                                "DriversLicense": "M00"
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              }
        - name: example_termination_inquiry_documentation
          populateDefaults:
            application/json: |-
              {
                "PageOffset" : true,
                "PageLength" : true,
                "TerminationInquiryRequest": {
                  "AcquirerId": true,
                  "Merchant": {
                    "Name": true,
                    "DoingBusinessAsName": true,
                    "AltPhoneNumber": true,
                    "Address": {
                      "Line1": true,
                      "Line2": true,
                      "City": true,
                      "CountrySubdivision": true,
                      "PostalCode": true,
                      "Country": true
                    },
                    "ServiceProvLegal": true,
                    "Principal":
                      {
                        "FirstName": true,
                        "LastName": true,
                        "PhoneNumber": true,
                        "AltPhoneNumber": true,
                        "Address": {
                          "CountrySubdivision": true,
                          "PostalCode": true,
                          "Country": true
                        }
                      }
                    ,
                    "SearchCriteria": {
                      "SearchAll": true,
                      "MinPossibleMatchCount": true
                    }
                  }
                }
              }
          request:
            application/json: |-
              {
                "PageOffset" : "0",
                "PageLength" : "10",
                "TerminationInquiryRequest": {
                  "AcquirerId": "1996",
                  "Merchant": {
                    "Name": "XYZTEST  XYZTECHMERCHANT",
                    "DoingBusinessAsName": "XYZTEST  XYZTECHMERCHANT",
                    "AltPhoneNumber": "3098876333",
                    "Address": {
                      "Line1": "88 Nounce World",
                      "Line2": "APT 9009",
                      "City": "MICKENVINCE",
                      "CountrySubdivision": "MO",
                      "PostalCode": "66559",
                      "Country": "USA"
                    },
                    "ServiceProvLegal": "JJC WORKSHIRE",
                    "Principal": [
                      {
                        "FirstName": "PRINCE",
                        "LastName": "HENREY",
                        "PhoneNumber": "9983339923",
                        "AltPhoneNumber": "6365689336",
                        "Address": {
                          "Line1": "42 ELM AVENUE",
                          "City": "DALLAS",
                          "CountrySubdivision": "IL",
                          "PostalCode": "66579",
                          "Country": "USA"
                        },
                        "DriversLicense": {
                          
                        }
                      }
                    ],
                    "SearchCriteria": {
                      "SearchAll": "Y",
                      "MinPossibleMatchCount": "1"
                    }
                  }
                }
              }
          response:
            application/json: |-
              {
                "TerminationInquiry": {
                  "PageOffset": 0,
                  "PossibleMerchantMatches": [
                    {
                      "TotalLength": 14,
                      "TerminatedMerchant": [
                        {
                          "Merchant": {
                            "Name": "XYZTEST  XYZTECHMERCHANT",
                            "DoingBusinessAsName": "XYZTEST  XYZTECHMERCHANT",
                            "AddedByAcquirerID": "1996",
                            "AddedOnDate": "10/13/2015",
                            "PhoneNumber": "5675543210",
                            "AltPhoneNumber": "5672655441",
                            "Address": {
                              "Line1": "6700 BEN NEVIS",
                              "City": "GLASGOW",
                              "CountrySubdivision": "MA",
                              "PostalCode": "93137",
                              "Country": "USA"
                            },
                            "CountrySubdivisionTaxId": "*****",
                            "NationalTaxId": "*****",
                            "ServiceProvLegal": "TESTXYZ SVC PRVDER",
                            "ServiceProvDBA": "JNL ASSOC",
                            "Principal": [
                              {
                                "FirstName": "PAUL",
                                "LastName": "HEMINGHOFF",
                                "NationalId": "*****",
                                "PhoneNumber": "3906541234",
                                "AltPhoneNumber": "4567390234",
                                "Address": {
                                  "Line1": "2200 SHEPLEY DRIVE",
                                  "Line2": "SUITE 789",
                                  "City": "BROWNSVILLE",
                                  "CountrySubdivision": "MO",
                                  "PostalCode": "89022",
                                  "Country": "USA"
                                },
                                "DriversLicense": {
                                  "Number": "*****",
                                  "CountrySubdivision": "MS",
                                  "Country": "USA"
                                }
                              }
                            ],
                            "UrlGroup": [
                              {
                                "NoMatchUrls": {
                                  "Url": [
                                    "WWW.TESTJJ.COM",
                                    "WWW.JNLTESTJJ.COM"
                                  ]
                                }
                              }
                            ],
                            "TerminationReasonCode": "04"
                          },
                          "MerchantMatch": {
                            "Name": "M01",
                            "DoingBusinessAsName": "M02",
                            "Address": "M00",
                            "PhoneNumber": "M00",
                            "AltPhoneNumber": "M00",
                            "CountrySubdivisionTaxId": "M00",
                            "NationalTaxId": "M00",
                            "ServiceProvLegal": "M00",
                            "ServiceProvDBA": "M00",
                            "PrincipalMatch": [
                              {
                                "Name": "M00",
                                "Address": "M00",
                                "PhoneNumber": "M00",
                                "AltPhoneNumber": "M00",
                                "NationalId": "M00",
                                "DriversLicense": "M00"
                              }
                            ]
                          }
                        },
                        {
                          "Merchant": {
                            "Name": "XYZTEST  XYZTECHMERCHANT",
                            "DoingBusinessAsName": "XYZTEST  XYZTECHMERCHANT",
                            "AddedByAcquirerID": "1996",
                            "AddedOnDate": "01/20/2016",
                            "PhoneNumber": "5675543210",
                            "AltPhoneNumber": "5672655441",
                            "Address": {
                              "Line1": "6700 BEN NEVIS",
                              "City": "GLASGOW",
                              "CountrySubdivision": "MA",
                              "PostalCode": "93137",
                              "Country": "USA"
                            },
                            "CountrySubdivisionTaxId": "*****",
                            "NationalTaxId": "*****",
                            "ServiceProvLegal": "TESTXYZ SVC PRVDER",
                            "ServiceProvDBA": "JNL ASSOC",
                            "Principal": [
                              {
                                "FirstName": "PAUL",
                                "LastName": "HEMINGHOFF",
                                "NationalId": "*****",
                                "PhoneNumber": "3906541234",
                                "AltPhoneNumber": "4567390234",
                                "Address": {
                                  "Line1": "2200 SHEPLEY DRIVE",
                                  "Line2": "SUITE 789",
                                  "City": "BROWNSVILLE",
                                  "CountrySubdivision": "MO",
                                  "PostalCode": "89022",
                                  "Country": "USA"
                                },
                                "DriversLicense": {
                                  "Number": "*****",
                                  "CountrySubdivision": "MS",
                                  "Country": "USA"
                                }
                              }
                            ],
                            "UrlGroup": [
                              {
                                "NoMatchUrls": {
                                  "Url": [
                                    "WWW.TESTJJ.COM",
                                    "WWW.JNLTESTJJ.COM"
                                  ]
                                }
                              }
                            ],
                            "TerminationReasonCode": "04"
                          },
                          "MerchantMatch": {
                            "Name": "M01",
                            "DoingBusinessAsName": "M02",
                            "Address": "M00",
                            "PhoneNumber": "M00",
                            "AltPhoneNumber": "M00",
                            "CountrySubdivisionTaxId": "M00",
                            "NationalTaxId": "M00",
                            "ServiceProvLegal": "M00",
                            "ServiceProvDBA": "M00",
                            "PrincipalMatch": [
                              {
                                "Name": "M00",
                                "Address": "M00",
                                "PhoneNumber": "M00",
                                "AltPhoneNumber": "M00",
                                "NationalId": "M00",
                                "DriversLicense": "M00"
                              }
                            ]
                          }
                        }
                      ]
                    }
                  ]
                }
              }
          type: documentation
  "/fraud/merchant/v3/termination-inquiry/{IRN}":
    get:
      description: |
        Returns information about Merchants, URLs and up to five principal owners, that have been terminated by an acquiring bank from a previous inquiry. The Inquiry History Results resource displays the inquiry with the option to view either; Possible Merchant Matches or Possible Inquiry Matches.
      parameters:
        - description: The zero-based offset to start at. The actual start position is this value +1. An offset of 10 starts at item 11. Combined with the PageLength option this allows pagination to be supported through the service requests.
          in: query
          name: PageOffset
          required: true
          type: number
          x-example: 0
        - description: The maximum number of items to retrieve within the current "page" of results.
          in: query
          name: PageLength
          required: true
          type: number
          x-example: 10
        - description: The Member ICA number which is used to validate that the application has permission to hit the MATCH database. This number must be obtained from a participating MATCH acquiring bank or entity before a developer can access the MATCH resource.
          in: query
          name: AcquirerId
          required: true
          type: string
          x-example: 1996
        - description: Inquiry Reference Number (IRN) A unique identifier generated by the MATCH system that is returned in the original, previously submitted POST request (contained within the "TerminationInquiry.Ref" response node). This unique identifier should be present as a URL parameter within all GET requests.
          in: path
          name: IRN
          required: true
          type: string
          x-example: 19962016070500348
      responses:
        "200":
          description: The termination inquiry history response object.
          schema:
            $ref: "#/definitions/TerminationInquirySchema"
        default:
          description: Unexpected error
          schema:
            $ref: "#/definitions/ErrorsResponse"
      summary: Returns information about Merchants, URLs and up to five principal owners, that have been terminated by an acquiring bank from a previous inquiry. The Inquiry History Results resource displays the inquiry with the option to view either; Possible Merchant Matches or Possible Inquiry Matches.
      tags:
        - Termination Inquiry History Request
      x-samples:
        - name: example_termination_history_inquiry
          request:
            application/json: |-
              {
                "IRN" : "19962016070500348",
                "AcquirerId" : "1996",
                "PageOffset" : "0",
                "PageLength" : "10"
              }
                inquiry/19962016070500348?id=&AcquirerId=1996&PageOffset=0&PageLength=10
          response:
            application/json: |-
              {
                  
              }
      x-testable: false
definitions:
  AddMerchantMerchant:
    properties:
      Address:
        $ref: "#/definitions/Address"
      AltPhoneNumber:
        description: The Business or Merchant's alternate phone number.
        example: "6367558968"
        type: string
      CATFlag:
        description: Cardholder-activated terminal indicator.
        example: Y
        type: string
        x-explorer: true
      Comments:
        description: Brief comments on why Merchant is added
        example: Added for reasons of fraud
        type: string
      CountrySubdivisionTaxId:
        description: The Merchant's state tax ID; for the U.S region only. Return value will be hidden.
        example: "*****"
        type: string
        x-explorer: true
      DateClosed:
        description: Date the agreement was terminated with the merchant
        example: 10/12/2014
        type: string
        x-explorer: true
      DateOpened:
        description: Date the merchant entered into agreement with the acquirer
        example: 12/31/2013
        type: string
        x-explorer: true
      DoingBusinessAsName:
        description: The name used by a merchant that could be different from the legal name of the business. Such as Bait R Us instead of the legal name, The Bait Shop
        example: BAIT R US
        type: string
      MerchantCategory:
        description: A classification code used in authorization, clearing, and other transactions or reports to identify the type of merchant.
        example: "0742"
        type: string
        x-explorer: true
      MerchantId:
        description: The identifier assigned to a merchant by an Acquirer. An Acquirer Id and Merchant Id combination must be unique.
        example: "@random-string[14]@"
        type: string
        x-explorer: true
      Name:
        description: The name of the Business which has been terminated.
        example: THE BAIT SHOP
        type: string
        x-explorer: true
      NationalTaxId:
        description: The National tax ID or business registration number. Return value will be hidden.
        example: "*****"
        type: string
      PhoneNumber:
        description: The Business or Merchant's phone number.
        example: "6367558963"
        type: string
        x-explorer: true
      Principal:
        $ref: "#/definitions/Principal"
      ReasonCode:
        description: A two digit numeric code indication why a particular merchant was terminated.  01   Account Data Compromise, 02   Common Points of Purchase, 03   Laundering, 04   Excessive Chargebacks, 05   Excessive Fraud, 06   Reserved for Future Use, 07   Fraud Conviction, 08   MasterCard Questionable Merchant Audit Program, 09   Bankruptcy/Liquidation/Insolvency, 10   Violation of MasterCard Standards, 11   Merchant collusion, 12   PCI Data Security Standard, Noncompliance, 13   Illegal Transactions, 14   Identity Theft
        example: "13"
        type: string
        x-explorer: true
      ServiceProvDBA:
        description: The name of the service provider associated with the merchant listed in the MATCH.
        example: XYZ FINANCIAL SERVICE
        type: string
      ServiceProvLegal:
        description: The name of the service provider associated with the merchant listed in the MATCH.
        example: XYZ FINANCIAL SERVICE INCORPORATED
        type: string
      Url:
        items:
          description: Website address of the merchant. A request may include multiple URLs . The total cumulative size of the URLs cannot exceed 20000 bytes.
          example: "www.testmerchant.com "
          type: string
        type: array
    required:
      - MerchantId
      - Name
      - CountrySubdivisionTaxId
      - CATFlag
      - PhoneNumber
      - ReasonCode
      - MerchantCategory
      - DateOpened
      - DateClosed
  AddMerchantRequest:
    properties:
      AcquirerId:
        description: The ID of the acquirer.
        example: 1996
        type: string
        x-explorer: true
      Merchant:
        $ref: "#/definitions/AddMerchantMerchant"
    required:
      - AcquirerId
  AddMerchantResponse:
    properties:
      MerchantReferenceNumber:
        description: A number assigned by the MATCH system to uniquely identify the newly added merchant. Return of this number indicates a successful add.
        example: "19962015072000000"
        type: string
      Name:
        description: Name of the merchant that was added to the MATCH system as verification of what was added.
        example: XYZTEST XYZTECHMERCHANT
        type: string
  AddTerminatedMerchantRequestSchema:
    properties:
      AddMerchantRequest:
        $ref: "#/definitions/AddMerchantRequest"
  AddTerminatedMerchantResponseSchema:
    properties:
      AddMerchantResponse:
        $ref: "#/definitions/AddMerchantResponse"
  Address:
    properties:
      City:
        description: The name of the city for a merchant location.
        example: DALLAS
        type: string
        x-explorer: true
      Country:
        description: The three digit country code of the principal owner. Valid values are Three digit alpha country codes as defined in ISO 3166-1.
        example: USA
        type: string
        x-explorer: true
      CountrySubdivision:
        description: The abbreviated state or province code for a merchant location (only supported for US and Canada merchants).
        example: IL
        type: string
        x-explorer: true
      Line1:
        description: Line 1 of the street address for the merchant location. Usually includes street number and name.
        example: 42 ELM AVENUE
        type: string
        x-explorer: true
      Line2:
        description: Line 2 of the street address,usually an apartment number or suite number.
        example: SUITE 201
        type: string
      PostalCode:
        description: The postal code for a merchant location (only supported for US and Canada merchants).
        example: "66579"
        type: string
        x-explorer: true
      Province:
        description: The name of the province for the location.
        example: ""
        type: string
    required:
      - Country
      - Line1
      - City
      - PostalCode
      - CountrySubdivision
  Contact:
    properties:
      BankName:
        description: The name of acquiring bank.
        example: THE XYZ BANK
        type: string
      EmailAddress:
        description: The Email address of primary contact of acquiring bank. The results may return information for more than one Contact.
        example: JACK_SMITH@XYZ.COM
        type: string
      FaxNumber:
        description: The Fax Number of primary contact of acquiring bank. The results may return information for more than one Contact.
        example: "6360000001"
        type: string
      FirstName:
        description: The first name of primary contact of acquiring bank. The results may return information for more than one Contact.
        example: JACK
        type: string
      LastName:
        description: The last name of primary contact of acquiring bank. The results may return information for more than one Contact.
        example: SMITH
        type: string
      PhoneNumber:
        description: The Phone Number of primary contact of acquiring bank. The results may return information for more than one Contact.
        example: "6360000000"
        type: string
      Region:
        description: The region of acquiring bank. The results may return information for more than one Contact.
        example: UNITED STATES
        type: string
  ContactRequest:
    properties:
      AcquirerId:
        description: The acquiring bank ICA number whose contact information is to be fetched.
        example: "12086"
        type: string
        x-explorer: true
    required:
      - AcquirerId
  ContactRequestSchema:
    properties:
      ContactRequest:
        $ref: "#/definitions/ContactRequest"
  ContactResponse:
    properties:
      Contact:
        items:
          $ref: "#/definitions/Contact"
        type: array
  ContactResponseSchema:
    properties:
      ContactResponse:
        $ref: "#/definitions/ContactResponse"
  DriversLicense:
    properties:
      Country:
        description: The three digit country code of the principal owner. Valid values are Three digit alpha country codes as defined in ISO 3166-1. Required when Drivers License Number is provided. Should not be provided if Drivers License Number is not provided.
        example: USA
        type: string
      CountrySubdivision:
        description: The abbreviated state or province code for a merchant location (only supported for US and Canada merchants).  Required when Drivers License Country is 'USA' . Should not be provided for non-US Drivers License Country.
        example: IL
        type: string
      Number:
        description: The drivers license number of a principal owner.
        example: M15698025
        type: string
  Error:
    properties:
      Description:
        description: This is the text description of the error. This is optional and will only be displayed if more information is available than is stored in the data identifier and reason code.
        example: Unauthorized Access
        type: string
      ReasonCode:
        description: This will identify the reason for the error.
        example: AUTHENTICATION_FAILED
        type: string
      Recoverable:
        description: This is a true/false presentation to explain if the transaction was submitted again would it be successful or not.
        example: true
        type: boolean
      Source:
        description: This is the unique identifier that attempts to define the field in error when available.  If a specific field cant be identified System will be returned.
        example: System
        type: string
  Errors:
    properties:
      Error:
        items:
          $ref: "#/definitions/Error"
        type: array
  ErrorsResponse:
    properties:
      Errors:
        $ref: "#/definitions/Errors"
  InquiredMerchant:
    properties:
      Merchant:
        properties:
          AddedByAcquirerID:
            description: The Member ICA that has added the merchant to the MATCH system
            example: "1234"
            type: string
          AddedOnDate:
            description: The date on which the merchant was added to the MATCH system. Format MM/DD/YYYY
            example: 12/03/2009
            type: string
          Address:
            $ref: "#/definitions/Address"
          AltPhoneNumber:
            description: The Business or Merchant's alternate phone number.
            example: "6367558968"
            type: string
          CountrySubdivisionTaxId:
            description: The Merchant's state tax ID; for the U.S region only. Return value will be hidden.
            example: "*****"
            type: string
          DoingBusinessAsName:
            description: The name used by a merchant that could be different from the legal name of the business. Such as Bait R Us instead of the legal name, The Bait Shop
            example: BAIT R US
            type: string
          MerchantMatch:
            $ref: "#/definitions/MerchantMatch"
          Name:
            description: The name of the Business which has been terminated.
            example: THE BAIT SHOP
            type: string
          NationalTaxId:
            description: The National tax ID or business registration number. Return value will be hidden.
            example: "*****"
            type: string
          PhoneNumber:
            description: The Business or Merchant's phone number.
            example: "6367558963"
            type: string
          Principal:
            $ref: "#/definitions/Principal"
          ServiceProvDBA:
            description: The name of the service provider associated with the merchant listed in the MATCH.
            example: XYZ FINANCIAL SERVICE
            type: string
          ServiceProvLegal:
            description: The name of the service provider associated with the merchant listed in the MATCH.
            example: XYZ FINANCIAL SERVICE INCORPORATED
            type: string
          TerminationReasonCode:
            description: A two digit numeric code indication why a particular merchant was terminated.  01   Account Data Compromise, 02   Common Points of Purchase, 03   Laundering, 04   Excessive Chargebacks, 05   Excessive Fraud, 06   Reserved for Future Use, 07   Fraud Conviction, 08   MasterCard Questionable Merchant Audit Program, 09   Bankruptcy/Liquidation/Insolvency, 10   Violation of MasterCard Standards, 11   Merchant collusion, 12   PCI Data Security Standard, Noncompliance, 13   Illegal Transactions, 14   Identity Theft
            example: "13"
            type: string
          UrlGroup:
            $ref: "#/definitions/UrlGroup"
  Merchant:
    properties:
      AddedByAcquirerID:
        description: The Member ICA that has added the merchant to the MATCH system
        example: "1234"
        type: string
      AddedOnDate:
        description: Date the merchant was added to the MATCH database.
        example: 10/13/2015
        type: string
      Address:
        $ref: "#/definitions/Address"
      AltPhoneNumber:
        description: The Business or Merchant's alternate phone number, including the area code. Within the USA, phone numbers have a length of 10, and for out outside the US, a max length of 25. Within the U.S. phone numbers can not start with 0 or 1. If the number is outside the U.S. region; do not include the country code. The number must be digits only, with no format characters such as parenthesis or dashes.
        example: "3165557625"
        type: string
      CountrySubdivisionTaxId:
        description: The Merchant Country Subdivision tax ID, leave blank if not in the U.S region.
        example: "492321030"
        type: string
      DoingBusinessAsName:
        description: The name used by a merchant that could be different from the legal name of the business. Such as Bait R Us instead of the legal name, The Bait Shop.
        example: BAIT R US
        type: string
      Name:
        description: The name of the business assigned by the principal owner(s)
        example: THE BAIT SHOP
        type: string
      NationalTaxId:
        description: The Merchant national tax ID, leave blank if not in the U.S region.
        example: "888596927"
        type: string
      PhoneNumber:
        description: The Business or Merchant's phone number, including the area code. Within the USA, phone numbers have a length of 10, and for outside the US, it can be any length with a maximum of 12 digits. Within the U.S. phone numbers can not start with 0 or 1. If the number is outside the U.S. region; do not include the country code. The phone number must be digits only, with no format characters such as parenthesis or dashes.
        example: "3165557625"
        type: string
      Principal:
        description: The details for the principal owner of the business.  A maximum of 5 principals may be submitted.
        items:
          $ref: "#/definitions/Principal"
        type: array
      SearchCriteria:
        $ref: "#/definitions/SearchCriteria"
      ServiceProvDBA:
        description: The name of the service provider associated with the merchant listed in the MATCH
        example: XYZ FINANCIAL SERVICE
        type: string
      ServiceProvLegal:
        description: The name of the service provider associated with the merchant listed in the MATCH
        example: XYZ FINANCIAL SERVICE INCORPORATED
        type: string
      TerminationReasonCode:
        description: A two digit numeric code indication why a particular merchant was terminated.  01   Account Data Compromise, 02   Common Points of Purchase, 03   Laundering, 04   Excessive Chargebacks, 05   Excessive Fraud, 06   Reserved for Future Use, 07   Fraud Conviction, 08   MasterCard Questionable Merchant Audit Program, 09   Bankruptcy/Liquidation/Insolvency, 10   Violation of MasterCard Standards, 11   Merchant collusion, 12   PCI Data Security Standard, Noncompliance, 13   Illegal Transactions, 14   Identity Theft
        example: "13"
        type: string
      Url:
        description: Website address of the merchant. A request may include multiple URLs. The total cumulative size of the URLs cannot exceed 20,000 bytes.
        example: WWW.TESTMERCHANT.COM
        type: string
      UrlGroup:
        items:
          $ref: "#/definitions/UrlGroup"
        type: array
    required:
      - Name
  MerchantMatch:
    properties:
      Address:
        $ref: "#/definitions/Address"
      AltPhoneNumber:
        description: The Business or Merchant's alternate phone number.
        example: "6367558968"
        type: string
      CountrySubdivisionTaxId:
        description: The Merchant's state tax ID; for the U.S region only. Return value will be hidden.
        example: "*****"
        type: string
      DoingBusinessAsName:
        description: The name used by a merchant that could be different from the legal name of the business. Such as Bait R Us instead of the legal name, The Bait Shop
        example: BAIT R US
        type: string
      Name:
        description: The name of the Business which has been terminated.
        example: THE BAIT SHOP
        type: string
      NationalTaxId:
        description: The National tax ID or business registration number. Return value will be hidden.
        example: "*****"
        type: string
      PhoneNumber:
        description: The Business or Merchant's phone number.
        example: "6367558963"
        type: string
      PrincipalMatch:
        items:
          $ref: "#/definitions/PrincipalMatch"
        type: array
      ServiceProvDBA:
        description: The name of the service provider associated with the merchant listed in the MATCH.
        example: XYZ FINANCIAL SERVICE
        type: string
      ServiceProvLegal:
        description: The name of the service provider associated with the merchant listed in the MATCH.
        example: XYZ FINANCIAL SERVICE INCORPORATED
        type: string
  PossibleInquiryMatches:
    properties:
      InquiredMerchant:
        items:
          $ref: "#/definitions/InquiredMerchant"
        type: array
      TotalLength:
        description: The total length of the result set from possible merchant matches of inquiry.
        example: "2"
        type: string
  PossibleMerchantMatches:
    properties:
      TerminatedMerchant:
        items:
          $ref: "#/definitions/TerminatedMerchant"
        type: array
      TotalLength:
        description: The total length of the result set from possible merchant matches of inquiry.
        example: "2"
        type: string
  Principal:
    properties:
      Address:
        $ref: "#/definitions/Address"
      AltPhoneNumber:
        description: The Business or Merchant's alternate phone number, including the area code. Within the USA, phone numbers have a length of 10, and for out outside the US, a max length of 25. Within the U.S. phone numbers can not start with 0 or 1. If the number is outside the U.S. region; do not include the country code. The number must be digits only, with no format characters such as parenthesis or dashes.
        example: "3165557625"
        type: string
      DriversLicense:
        $ref: "#/definitions/DriversLicense"
      FirstName:
        description: The first name of the principal owner of the business.
        example: DAVID
        type: string
        x-explorer: true
      LastName:
        description: The last name of the principal owner of the business.
        example: SMITH
        type: string
        x-explorer: true
      MiddleInitial:
        description: THe middle initial of the name of the principal owner of the business.
        example: P
        type: string
      NationalId:
        description: The Social Security number of a principal owner. If the principal owner is not from the U.S. Region, then use their national ID card number.
        example: "541022104"
        type: string
      PhoneNumber:
        description: The Business or Merchant's phone number, including the area code. Within the USA, phone numbers have a length of 10, and for outside the US, it can be any length with a maximum of 12 digits. Within the U.S. phone numbers can not start with 0 or 1. If the number is outside the U.S. region; do not include the country code. The phone number must be digits only, with no format characters such as parenthesis or dashes.
        example: "3165557625"
        type: string
      SearchCriteria:
        $ref: "#/definitions/SearchCriteria"
    required:
      - FirstName
      - LastName
  PrincipalMatch:
    properties:
      Address:
        $ref: "#/definitions/Address"
      AltPhoneNumber:
        description: The Business or Merchant's alternate phone number, including the area code. Within the USA, phone numbers have a length of 10, and for out outside the US, a max length of 25. Within the U.S. phone numbers can not start with 0 or 1. If the number is outside the U.S. region; do not include the country code. The number must be digits only, with no format characters such as parenthesis or dashes.
        example: "3165557625"
        type: string
      DriversLicense:
        $ref: "#/definitions/DriversLicense"
      FirstName:
        description: The first name of the principal owner of the business.
        example: DAVID
        type: string
      LastName:
        description: The last name of the principal owner of the business.
        example: SMITH
        type: string
      MiddleInitial:
        description: THe middle initial of the name of the principal owner of the business.
        example: P
        type: string
      Name:
        description: The name of the Business which has been terminated.
        example: THE BAIT SHOP
        type: string
      NationalId:
        description: The Social Security number of a principal owner. If the principal owner is not from the U.S. Region, then use their national ID card number.
        example: "541022104"
        type: string
      PhoneNumber:
        description: The Business or Merchant's phone number, including the area code. Within the USA, phone numbers have a length of 10, and for outside the US, it can be any length with a maximum of 12 digits. Within the U.S. phone numbers can not start with 0 or 1. If the number is outside the U.S. region; do not include the country code. The phone number must be digits only, with no format characters such as parenthesis or dashes.
        example: "3165557625"
        type: string
      SearchCriteria:
        $ref: "#/definitions/SearchCriteria"
  RetroInquiryRequest:
    properties:
      InquiryReferenceNumber:
        description: This is the reference number that was obtained from Retroactive Inquiry Summary resource.
        example: "19962014090300001"
        type: string
  RetroInquiryRequestSchema:
    properties:
      RetroInquiryRequest:
        $ref: "#/definitions/RetroInquiryRequest"
  RetroInquiryResponse:
    properties:
      PossibleMerchantMatches:
        $ref: "#/definitions/PossibleMerchantMatches"
  RetroInquiryResponseSchema:
    properties:
      RetroInquiryResponse:
        $ref: "#/definitions/RetroInquiryResponse"
  RetroRequest:
    properties:
      AcquirerId:
        description: The Acquirer Id for the retro summary to be fetched.
        example: "1996"
        type: string
  RetroRequestSchema:
    properties:
      RetroRequest:
        $ref: "#/definitions/RetroRequest"
  RetroResponse:
    properties:
      BusinessName:
        description: Name of Merchant or Business corresponds to retro inquiry.
        example: THE BAIT SHOP
        type: string
      City:
        description: The name of the city for the merchant location corresponds to retro inquiry.
        example: CHICAGO
        type: string
      Country:
        description: The three digit country code corresponds to retro inquiry. Valid values are Three digit alpha country codes as defined in ISO 3166-1.
        example: USA
        type: string
      Date:
        description: Date on which the retro inquiry was made. This will be in MM/DD/YYYY format.
        example: 09/02/2014
        type: string
      RefNum:
        description: The reference number of retroactive inquiry. Using this reference number, the details can be obtained.
        example: "19962014090200009"
        type: string
      State:
        description: The abbreviated state for a merchant location corresponds to retro inquiry.
        example: IL
        type: string
  RetroResponseSchema:
    properties:
      RetroResponse:
        $ref: "#/definitions/RetroResponse"
  SearchCriteria:
    properties:
      Country:
        items:
          description: The three digit country code of the principal owner. Valid values are Three digit alpha country codes as defined in ISO 3166-1. A maximum of 10 countries may be submitted.
          example: USA
          type: string
        type: array
      MinPossibleMatchCount:
        description: Determines how many minimum matches present for a merchant or inquiry to appear in the results.
        example: "3"
        type: string
      Region:
        items:
          description: Region in which the inquiry results must be obtained.  (1)  - U.S. REGION; (A)  - CANADA; (B)  - CARIB,C AMERICA,MEX,S AMERICA; (C)  - ASIA/PACIFIC; (D)  - EUROPE; (E)  - SOUTH ASIA MIDDLE EAST AFRICA.  A maximum of 6 regions may be submitted.
          example: A
          type: string
        type: array
      SearchAll:
        description: Determines if the inquiry is worldwide or not.
        example: N
        type: string
        x-explorer: true
    required:
      - SearchAll
  TerminatedMerchant:
    properties:
      Merchant:
        $ref: "#/definitions/Merchant"
      MerchantMatch:
        $ref: "#/definitions/MerchantMatch"
  TerminationInquiry:
    properties:
      PageOffset:
        type: string
      PossibleInquiryMatches:
        $ref: "#/definitions/PossibleInquiryMatches"
      PossibleMerchantMatches:
        items:
          $ref: "#/definitions/PossibleMerchantMatches"
        type: array
      TransactionReferenceNumber:
        description: User-defined identifier for the inquiry submitted.
        example: "12345"
        type: string
  TerminationInquiryRequest:
    properties:
      AcquirerId:
        description: The Member ICA number which is used to validate that the application has permission to hit the MATCH database. This number must be obtained from a participating MATCH acquiring bank or entity before a developer can access the MATCH resource.
        example: "1996"
        type: string
      Merchant:
        $ref: "#/definitions/Merchant"
      TransactionReferenceNumber:
        description: User-defined identifier for the inquiry submitted.
        example: "12345"
        type: string
    required:
      - AcquirerId
  TerminationInquiryRequestSchema:
    properties:
      TerminationInquiryRequest:
        $ref: "#/definitions/TerminationInquiryRequest"
  TerminationInquirySchema:
    properties:
      TerminationInquiry:
        $ref: "#/definitions/TerminationInquiry"
  Url:
    properties:
      Url:
        items:
          description: The Url
          example: WWW.SHOESHOP.COM
          type: string
        type: array
  UrlGroup:
    properties:
      CloseMatchUrls:
        description: The closely matched URL of Merchant.The results may return 0 or more URLs.
        items:
          $ref: "#/definitions/Url"
        type: array
      ExactMatchUrls:
        description: The exactly matched URL of Merchant.The results may return 0 or more URLs.
        items:
          $ref: "#/definitions/Url"
        type: array
      NoMatchUrls:
        $ref: "#/definitions/Url"
        description: The unmatched URL of Merchant.The results may return 0 or more URLs.
