swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: File share operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/FileShare.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-FileShare
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  FileShareParameter:
    description: Fabric file share name.
    in: path
    name: fileShare
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/fileShares":
    get:
      description: Returns a list of all fabric file shares at a certain location.
      operationId: FileShares_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: OData filter parameter.
          in: query
          name: $filter
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/FileShareList"
        "404":
          description: NOT FOUND
      tags:
        - FileShares
      x-ms-examples:
        Returns a list of all fabric file shares at a certain location.:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_Infrastructure_1
                    location: local
                    name: SU1_Infrastructure_1
                    properties:
                      associatedVolume: 05c1cbb7
                      uncPath: \\\\SU1FileServer.azurestack.local\\SU1_Infrastructure_1
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/fileShares
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_Infrastructure_2
                    location: local
                    name: SU1_Infrastructure_2
                    properties:
                      associatedVolume: 05c1cbb7
                      uncPath: \\\\SU1FileServer.azurestack.local\\SU1_Infrastructure_2
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/fileShares
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_Infrastructure_3
                    location: local
                    name: SU1_Infrastructure_3
                    properties:
                      associatedVolume: 05c1cbb7
                      uncPath: \\\\SU1FileServer.azurestack.local\\SU1_Infrastructure_3
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/fileShares
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_ObjStore
                    location: local
                    name: SU1_ObjStore
                    properties:
                      associatedVolume: 05c1cbb7
                      uncPath: \\\\SU1FileServer.azurestack.local\\SU1_ObjStore
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/fileShares
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_Public
                    location: local
                    name: SU1_Public
                    properties:
                      associatedVolume: 05c1cbb7
                      uncPath: \\\\SU1FileServer.azurestack.local\\SU1_Public
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/fileShares
                  - id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_VmTemp
                    location: local
                    name: SU1_VmTemp
                    properties:
                      associatedVolume: 05c1cbb7
                      uncPath: \\\\SU1FileServer.azurestack.local\\SU1_VmTemp
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/fileShares
            "404": {}
      x-ms-odata: "#/definitions/FileShare"
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/fileShares/{fileShare}":
    get:
      description: Returns the requested fabric file share.
      operationId: FileShares_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/FileShareParameter"
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/FileShare"
        "404":
          description: NOT FOUND
      tags:
        - FileShares
      x-ms-examples:
        Returns the requested fabric file share.:
          parameters:
            api-version: 2016-05-01
            fileShare: SU1_Public
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_VmTemp
                location: local
                name: SU1_VmTemp
                properties:
                  associatedVolume: 05c1cbb7
                  uncPath: \\\\SU1FileServer.azurestack.local\\SU1_VmTemp
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/fileShares
            "404": {}
definitions:
  FileShare:
    allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Object that contains properties of the file share resource.
    properties:
      properties:
        $ref: "#/definitions/FileShareModel"
        description: Properties of a file share resource.
        x-ms-client-flatten: true
    type: object
  FileShareList:
    description: Pageable list of fabric file share locations.
    properties:
      value:
        description: List of fabric file shares.
        items:
          $ref: "#/definitions/FileShare"
        type: array
    type: object
  FileShareModel:
    description: Properties of a file share resource.
    properties:
      associatedVolume:
        description: Associated volume ID.
        type: string
      uncPath:
        description: The UNCPath for the fileshare.
        type: string
    type: object
