swagger: "2.0"
schemes:
  - https
host: api-sandbox.cloud.wowza.com
basePath: /api/v1
info:
  contact:
    name: Contact Us
    url: https://www.wowza.com/contact
    x-twitter: wowzamedia
  description: |
    
    # About the REST API

    The Wowza Streaming Cloud<sup>TM</sup> REST API (application programming interface) offers complete programmatic control over live streams, transcoders, stream sources, and stream targets. Anything you can do in the Wowza Streaming Cloud UI can also be achieved by making HTTP-based requests to cloud-based servers through the REST API.

    The Wowza Streaming Cloud REST API features *cross-origin resource sharing*, or CORS.
    CORS is a [W3C specification](https://www.w3.org/TR/cors/) that provides headers in HTTP requests to enable a web server to safely make a network request to another domain.

    In order to protect shared resources, the Wowza Streaming Cloud REST API is subject to limits. For details, see [Wowza Streaming Cloud REST API limits](https://www.wowza.com/docs/wowza-streaming-cloud-rest-api-limits).
    # About this documentation
    This reference documentation is based on the open-source [Swagger framework](http://swagger.io/specification/).
    It allows you to view the operations, parameters, and request and reponse schemas for every resource. Request samples are presented in cURL (Shell) and JavaScript; some samples also include just the JSON object. Response samples are all JSON.

    For more information and examples on using the Wowza Streaming Cloud REST API, see our [library of Wowza Streaming Cloud REST API technical articles](https://www.wowza.com/docs/wowza-streaming-cloud-rest-api).

    # Query requirements
    The Wowza Streaming Cloud REST API uses HTTP requests to retrieve data from cloud-based servers. Requests must contain proper JSON, two authentication keys, and the correct version number in the base path.

    ## JSON
    The Wowza Streaming Cloud REST API uses the [JSON API specification](http://jsonapi.org/format/) to request and return data. This means requests must include the header `Content-Type: application/json` and must include a single resource object in JSON format as primary data.

    Responses include HTTP status codes that indicate whether the query was successful. If there was an error, a description explains the problem so that you can fix it and try again.

    ## Authentication
    Requests to the Wowza Streaming Cloud REST API must be authenticated with two keys: an API key and an access key. Each key is a 64-character alphanumeric string that you can find on the **API Access** page in Wowza Streaming Cloud.

    Use the `wsc-api-key` and `wsc-access-key` headers to authenticate requests, like this (in cURL):

    ```bash
    curl -H 'wsc-api-key: [64-character-api-key-goes-here]' -H 'wsc-access-key: [64-character-access-key-goes-here]'
    ```

    <!-- ReDoc-Inject: <security-definitions> -->

    ## Version
    The Wowza Streaming Cloud API is currently at version 1.0.0. Use `v1` in your base path in every request, like this path to the live_streams endpoint:
    ```
    https://api.cloud.wowza.com/api/v1/live_streams
    ```
    ## Example query
    Here is a complete example POST request, in cURL, with proper JSON syntax, headers, authentication, and version information:
    ```bash
    curl -H 'wsc-api-key: [64-character-api-key-goes-here]' -H 'wsc-access-key: [64-character-access-key-goes-here]'
      -H 'Content-Type: application/json' -X POST -d '{
        "live_stream": {
          "name": "My live Stream",
          "...": "..."
        }
      }' https://api.cloud.wowza.com/api/v1/live_streams
    ```
  license:
    name: Terms of Use
    url: https://www.wowza.com/legal/terms-of-use
  termsOfService: http://www.wowza.com/legal/terms-of-use
  title: Wowza Streaming Cloud REST API Reference Documentation
  version: "1"
  x-apisguru-categories:
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_wowzamedia_profile_image.png
  x-origin:
    - format: swagger
      url: https://sandbox.cloud.wowza.com/en/docs/api/v1
      version: "2.0"
  x-providerName: wowza.com
externalDocs:
  description: "Quick Start: How to broadcast a live stream by using the Wowza Streaming Cloud REST API"
  url: https://www.wowza.com/docs/how-to-broadcast-a-live-stream-by-using-the-wowza-streaming-cloud-rest-api
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  wsc-access-key:
    description: A valid 64-digit, alphanumeric API access key.
    in: header
    name: wsc-access-key
    type: apiKey
  wsc-api-key:
    description: "Your account's 64-digit, alphanumeric API key. "
    in: header
    name: wsc-api-key
    type: apiKey
security:
  - wsc-api-key: []
  - wsc-access-key: []
parameters:
  "filter[from]":
    description: The start of the date and time range for calculating usage. Express the value by using the ISO 8601 standard of **YYYY-MM-DDTHH:MM:SSZ** where **HH** is a 24-hour clock in UTC. The default is the beginning of the current month.
    in: query
    name: filter[from]
    type: string
  "filter[interval]":
    description: The length of time for a block of usage data. Valid values are **year**, **quarter**, **month**, **week**, **day** or **1d** - **364d**, **hour** or **1h** to **23h**, **minute** or **1m** - **59m**, and **second** or **1s** - **59s**. The default is **10m** (10 minutes).
    in: query
    name: filter[interval]
    type: string
  "filter[to]":
    description: The end of the date and time range for calculating usage. Express the value by using the ISO 8601 standard of **YYYY-MM-DDTHH:MM:SSZ** where **HH** is a 24-hour clock in UTC. The default is the current date and time.
    in: query
    name: filter[to]
    type: string
  page:
    description: Returns a paginated view of results from the HTTP request. Specify a positive integer to indicate which page of the results should be displayed first. <strong>Next</strong> and <strong>Previous</strong> links allow you to navigate multiple pages of results. Omit the <em>page</em> parameter or specify an integer that's less than or equal to <strong>0</strong> to view all (unpaginated) results.
    in: query
    name: page
    type: integer
  per_page:
    description: For use with the <em>page</em> parameter. Indicates how many records should be included on each page of results. A valid value is any positive integer. The default is <strong>10</strong>.
    in: query
    name: per_page
    type: integer
tags:
  - description: Operations related to live streams.
    name: live_streams
    x-displayName: Live Streams
  - description: Operations related to players, which are created through the /live_streams resource.
    name: players
    x-displayName: Players
  - description: Operations related to recordings.
    name: recordings
    x-displayName: Recordings
  - description: Operations related to schedules.
    name: schedules
    x-displayName: Schedules
  - description: Operations related to stream sources.
    name: stream_sources
    x-displayName: Stream Sources
  - description: Operations related to stream targets.
    name: stream_targets
    x-displayName: Stream Targets
  - description: Operations related to transcoders, output renditions, and output stream targets.
    name: transcoders
    x-displayName: Transcoders
  - description: Operations related to network usage for an account.
    name: network
    x-displayName: Network
  - description: Operations related to stream processing time for an account.
    name: processing time
    x-displayName: Processing Time
  - description: Operations related to the Swagger specification.
    name: specs
    x-displayName: Specs
  - description: Operations related to peak recording storage for an account.
    name: storage
    x-displayName: Storage
  - description: Operations related to stream target viewer data.
    name: viewer data
    x-displayName: Viewer Data
paths:
  /api/v1/specs:
    get:
      description: |
        This operation shows the details of the Swagger specification.
      operationId: specs
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Spec"
      security:
        - {}
      summary: Fetch Swagger information
      tags:
        - specs
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/specs"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            https.get('https://api-sandbox.cloud.wowza.com/api/v1/specs', function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
  /live_streams:
    get:
      description: This operation shows the details of all of your live streams.
      operationId: listLiveStreams
      parameters:
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/per_page"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/live_streams"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
      summary: Fetch all live streams
      tags:
        - live_streams
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/live_streams"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/live_streams',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
    post:
      description: This operation creates a live stream.
      operationId: createLiveStream
      parameters:
        - description: Provide the details of the live stream to create in the body of the request.
          in: body
          name: live_stream
          required: true
          schema:
            $ref: "#/definitions/live_stream_create_input"
      responses:
        "200":
          description: Success
          schema:
            properties:
              live_stream:
                $ref: "#/definitions/live_stream"
            required:
              - live_stream
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Create a live stream
      tags:
        - live_streams
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "POST" "https://api-sandbox.cloud.wowza.com/api/v1/live_streams" \
                 -d $'{
              "live_stream": {
                "name": "My New Live Stream",
                "transcoder_type": "transcoded",
                "billing_mode": "pay_as_you_go",
                "broadcast_location": "us_west_california",
                "encoder": "other_rtmp",
                "delivery_method": "push",
                "aspect_ratio_width": 1920,
                "aspect_ratio_height": 1080
              }
            }'
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/live_streams',
              method: 'POST',
              headers: {
                'api-key': 'a726c273...',
                'access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            const req = https.request(options, function(res) {
              var body = '';
              res.on('data', function(data) {
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
            req.write(JSON.stringify({
              "live_stream": {
                "name": "My New Live Stream"
              }
            }));
            req.end();
  "/live_streams/{id}":
    delete:
      description: This operation deletes a live stream, including all assigned outputs and targets.
      operationId: deleteLiveStream
      parameters:
        - description: The unique alphanumeric string that identifies the live stream.
          in: path
          name: id
          required: true
          type: string
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Delete a live stream
      tags:
        - live_streams
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "DELETE" "https://api-sandbox.cloud.wowza.com/api/v1/live_streams/2adffc17"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/live_streams/2adffc17',
              method: 'DELETE',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              // no data being returned, just: 204 NO CONTENT
              console.log(res.statusCode);
            }).on('error', function(e) {
              console.log(e.message);
            });
    get:
      description: This operation shows the details of a specific live stream.
      operationId: showLiveStream
      parameters:
        - description: The unique alphanumeric string that identifies the live stream.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              live_stream:
                $ref: "#/definitions/live_stream"
            required:
              - live_stream
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
      summary: Fetch a live stream
      tags:
        - live_streams
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/live_streams/2adffc17"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/live_streams/2adffc17',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
    patch:
      description: This operation updates a live stream.
      operationId: updateLiveStream
      parameters:
        - description: The unique alphanumeric string that identifies the live stream.
          in: path
          name: id
          required: true
          type: string
        - description: Provide the details of the live stream to update in the body of the request.
          in: body
          name: live_stream
          required: true
          schema:
            $ref: "#/definitions/live_stream_update_input"
      responses:
        "200":
          description: Success
          schema:
            properties:
              live_stream:
                $ref: "#/definitions/live_stream"
            required:
              - live_stream
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Update a live stream
      tags:
        - live_streams
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "PATCH" "https://api-sandbox.cloud.wowza.com/api/v1/live_streams/2adffc17" \
                 -d $'{
              "live_stream": {
                "property": "My Value",
                "...": "..."
              }
            }'
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/live_streams/2adffc17',
              method: 'PATCH',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            const req = https.request(options, function(res) {
              var body = '';
              res.on('data', function(data) {
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
            req.write(JSON.stringify({
              "live_stream": {
                "property": "My Value",
                "...": "..."
              }
            }));
            req.end();
  "/live_streams/{id}/regenerate_connection_code":
    put:
      description: This operation regenerates the connection code of a live stream.
      operationId: regenerateConnectionCodeLiveStream
      parameters:
        - description: The unique alphanumeric string that identifies the live stream.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              live_stream:
                properties:
                  connection_code:
                    description: A six-character, alphanumeric string that allows certain encoders, including Wowza Streaming Engine and the Wowza GoCoder app, to connect with Wowza Streaming Cloud. The code can be used once and expires 24 hours after it's created.
                    example: 0cd2e8
                    type: string
                title: live_stream
                type: object
            required:
              - live_stream
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Regenerate the connection code for a live stream
      tags:
        - live_streams
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "PUT" "https://api-sandbox.cloud.wowza.com/api/v1/live_streams/2adffc17/regenerate_connection_code"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/live_streams/2adffc17/regenerate_connection_code',
              method: 'PUT',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            const req = https.request(options, function(res) {
              var body = '';
              res.on('data', function(data) {
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
            req.end();
  "/live_streams/{id}/reset":
    put:
      description: This operation resets a live stream.
      operationId: resetLiveStream
      parameters:
        - description: The unique alphanumeric string that identifies the live stream.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              live_stream:
                properties:
                  state:
                    description: The state of the live stream.
                    enum:
                      - started
                      - stopped
                      - starting
                      - stopping
                      - resetting
                    example: resetting
                    type: string
                title: live_stream
                type: object
            required:
              - live_stream
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Reset a live stream
      tags:
        - live_streams
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "PUT" "https://api-sandbox.cloud.wowza.com/api/v1/live_streams/2adffc17/reset"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/live_streams/2adffc17/reset',
              method: 'PUT',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            const req = https.request(options, function(res) {
              var body = '';
              res.on('data', function(data) {
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
            req.end();
  "/live_streams/{id}/start":
    put:
      description: This operation starts a live stream.
      operationId: startLiveStream
      parameters:
        - description: The unique alphanumeric string that identifies the live stream.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              live_stream:
                properties:
                  state:
                    description: The state of the live stream.
                    enum:
                      - started
                      - stopped
                      - starting
                      - stopping
                      - resetting
                    example: starting
                    type: string
                title: live_stream
                type: object
            required:
              - live_stream
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Start a live stream
      tags:
        - live_streams
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "PUT" "https://api-sandbox.cloud.wowza.com/api/v1/live_streams/2adffc17/start"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/live_streams/2adffc17/start',
              method: 'PUT',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            const req = https.request(options, function(res) {
              var body = '';
              res.on('data', function(data) {
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
            req.end();
  "/live_streams/{id}/state":
    get:
      description: This operation shows the current state of a live stream.
      operationId: showLiveStreamState
      parameters:
        - description: The unique alphanumeric string that identifies the live stream.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              live_stream:
                properties:
                  state:
                    description: The state of the live stream.
                    enum:
                      - started
                      - stopped
                      - starting
                      - stopping
                      - resetting
                    example: stopped
                    type: string
                title: live_stream
                type: object
            required:
              - live_stream
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
      summary: Fetch the state of a live stream
      tags:
        - live_streams
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/live_streams/2adffc17/state"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/live_streams/2adffc17/state',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
  "/live_streams/{id}/stats":
    get:
      description: This operation returns a hash of metrics keys, each of which identifies a status, text description, unit, and value.
      operationId: showLiveStreamStats
      parameters:
        - description: The unique alphanumeric string that identifies the live stream.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              live_stream:
                $ref: "#/definitions/shm_metrics"
            required:
              - live_stream
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
      summary: Fetch metrics for an active live stream
      tags:
        - live_streams
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/live_streams/2adffc17/stats"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/live_streams/2adffc17/stats',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
  "/live_streams/{id}/stop":
    put:
      description: This operation stops a live stream.
      operationId: stopLiveStream
      parameters:
        - description: The unique alphanumeric string that identifies the live stream.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              live_stream:
                properties:
                  state:
                    description: The state of the live stream.
                    enum:
                      - started
                      - stopped
                      - starting
                      - stopping
                      - resetting
                    example: stopped
                    type: string
                title: live_stream
                type: object
            required:
              - live_stream
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Stop a live stream
      tags:
        - live_streams
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "PUT" "https://api-sandbox.cloud.wowza.com/api/v1/live_streams/2adffc17/stop"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/live_streams/2adffc17/stop',
              method: 'PUT',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            const req = https.request(options, function(res) {
              var body = '';
              res.on('data', function(data) {
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
            req.end();
  "/live_streams/{id}/thumbnail_url":
    get:
      description: This operation shows the thumbnail URL of a started live stream.
      operationId: showLiveStreamThumbnailUrl
      parameters:
        - description: The unique alphanumeric string that identifies the live stream.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              live_stream:
                properties:
                  thumbnail_url:
                    description: The URL to receive the preview thumbnail.
                    example: https://cloud.wowza.com/proxy/stats/?target=10.11.12.13&app=app-79b8&stream=99b62146@130135.stream&media=json
                    type: string
                title: live_stream
                type: object
            required:
              - live_stream
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
      summary: Fetch the thumbnail URL of a live stream
      tags:
        - live_streams
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/live_streams/2adffc17/thumbnail_url"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/live_streams/2adffc17/thumbnail_url',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
  /players:
    get:
      description: This operation shows the details of all of your players.
      operationId: listPlayers
      parameters:
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/per_page"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/players"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
      summary: Fetch all players
      tags:
        - players
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/players"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/players',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
  "/players/{id}":
    get:
      description: This operation shows details of a specific player.
      operationId: showPlayer
      parameters:
        - description: The unique alphanumeric string that identifies the player.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              player:
                $ref: "#/definitions/player"
            required:
              - player
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
      summary: Fetch a player
      tags:
        - players
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/players/2adffc17"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/players/2adffc17',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
    patch:
      description: This operation updates a player.
      operationId: updatePlayer
      parameters:
        - description: The unique alphanumeric string that identifies the player.
          in: path
          name: id
          required: true
          type: string
        - description: Provide the details of the player to update in the body of the request.
          in: body
          name: player
          required: true
          schema:
            $ref: "#/definitions/player_update_input"
      responses:
        "200":
          description: Success
          schema:
            properties:
              player:
                $ref: "#/definitions/player"
            required:
              - player
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Update a player
      tags:
        - players
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "PATCH" "https://api-sandbox.cloud.wowza.com/api/v1/players/2adffc17" \
                 -d $'{
              "player": {
                "property": "My Value",
                "...": "..."
              }
            }'
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/players/2adffc17',
              method: 'PATCH',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            const req = https.request(options, function(res) {
              var body = '';
              res.on('data', function(data) {
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
            req.write(JSON.stringify({
              "player": {
                "property": "My Value",
                "...": "..."
              }
            }));
            req.end();
  "/players/{id}/rebuild":
    post:
      description: This operation rebuilds the player with the current configuration.
      operationId: requestPlayerRebuild
      parameters:
        - description: The unique alphanumeric string that identifies the player.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              player:
                properties:
                  state:
                    description: The state of the player.
                    enum:
                      - requested
                      - already_requested
                      - activated
                      - archived
                    example: requested
                    type: string
                title: player
                type: object
            required:
              - player
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
      summary: Rebuild player code
      tags:
        - players
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "POST" "https://api-sandbox.cloud.wowza.com/api/v1/players/2adffc17/rebuild"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/players/2adffc17/rebuild',
              method: 'POST',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            const req = https.request(options, function(res) {
              var body = '';
              res.on('data', function(data) {
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
            req.end();
  "/players/{id}/state":
    get:
      description: This operation shows the current state of a player.
      operationId: showPlayerState
      parameters:
        - description: The unique alphanumeric string that identifies the player.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              player:
                properties:
                  state:
                    description: The state of the player.
                    enum:
                      - requested
                      - already_requested
                      - activated
                      - archived
                    example: activated
                    type: string
                title: player
                type: object
            required:
              - player
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
      summary: Fetch the state of a player
      tags:
        - players
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/players/2adffc17/state"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/players/2adffc17/state',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
  "/players/{player_id}/urls":
    get:
      description: This operation shows the details of all player URLs.
      operationId: listPlayerUrls
      parameters:
        - description: The unique alphanumeric string that identifies the player.
          in: path
          name: player_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/urls"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
      summary: Fetch all player URLs
      tags:
        - players
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/players/2adffc17/urls"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/players/2adffc17/urls',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
    post:
      description: This operation creates a new player URL.
      operationId: createPlayerUrl
      parameters:
        - description: The unique alphanumeric string that identifies the player.
          in: path
          name: player_id
          required: true
          type: string
        - description: Provide the details of the player URL to create in the body of the request.
          in: body
          name: url
          required: true
          schema:
            $ref: "#/definitions/url_create_input"
      responses:
        "200":
          description: Success
          schema:
            properties:
              url:
                $ref: "#/definitions/url"
            required:
              - url
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Create a player URL
      tags:
        - players
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "POST" "https://api-sandbox.cloud.wowza.com/api/v1/players/2adffc17/urls" \
                 -d $'{
              "player": {
                "property": "My Value",
                "...": "..."
              }
            }'
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/players/2adffc17/urls',
              method: 'POST',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            const req = https.request(options, function(res) {
              var body = '';
              res.on('data', function(data) {
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
            req.write(JSON.stringify({
              "player": {
                "property": "My Value",
                "...": "..."
              }
            }));
            req.end();
  "/players/{player_id}/urls/{id}":
    delete:
      description: "This operation deletes a player URL. "
      operationId: deletePlayerUrl
      parameters:
        - description: The unique alphanumeric string that identifies the player.
          in: path
          name: player_id
          required: true
          type: string
        - description: The unique alphanumeric string that identifies the player URL.
          in: path
          name: id
          required: true
          type: string
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Delete a player URL
      tags:
        - players
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "DELETE" "https://api-sandbox.cloud.wowza.com/api/v1/players/2adffc17/urls/cupertino-cupertinoProgramDateTimeOffset"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/players/2adffc17/urls/cupertino-cupertinoProgramDateTimeOffset',
              method: 'DELETE',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              // no data being returned, just: 204 NO CONTENT
              console.log(res.statusCode);
            }).on('error', function(e) {
              console.log(e.message);
            });
    get:
      description: This operation shows the details of a player URL.
      operationId: showPlayerUrl
      parameters:
        - description: The unique alphanumeric string that identifies the player.
          in: path
          name: player_id
          required: true
          type: string
        - description: The unique alphanumeric string that identifies the player URL.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              url:
                $ref: "#/definitions/url"
            required:
              - url
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
      summary: Fetch a player URL
      tags:
        - players
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/players/2adffc17/urls/cupertino-cupertinoProgramDateTimeOffset"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/players/2adffc17/urls/cupertino-cupertinoProgramDateTimeOffset',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
    patch:
      description: This operation updates a player URL.
      operationId: updatePlayerUrl
      parameters:
        - description: The unique alphanumeric string that identifies the player.
          in: path
          name: player_id
          required: true
          type: string
        - description: The unique alphanumeric string that identifies the player URL.
          in: path
          name: id
          required: true
          type: string
        - description: Provide the details of the player URL to update in the body of the request.
          in: body
          name: url
          required: true
          schema:
            $ref: "#/definitions/url_update_input"
      responses:
        "200":
          description: Success
          schema:
            properties:
              url:
                $ref: "#/definitions/url"
            required:
              - url
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Update a player URL
      tags:
        - players
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "PATCH" "https://api-sandbox.cloud.wowza.com/api/v1/players/2adffc17/urls/cupertino-cupertinoProgramDateTimeOffset" \
                 -d $'{
              "player": {
                "property": "My Value",
                "...": "..."
              }
            }'
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/players/2adffc17/urls/cupertino-cupertinoProgramDateTimeOffset',
              method: 'PATCH',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            const req = https.request(options, function(res) {
              var body = '';
              res.on('data', function(data) {
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
            req.write(JSON.stringify({
              "player": {
                "property": "My Value",
                "...": "..."
              }
            }));
            req.end();
  /recordings:
    get:
      description: This operation shows the details of all of your recordings.
      operationId: listRecordings
      parameters:
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/per_page"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/recordings"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
      summary: Fetch all recordings
      tags:
        - recordings
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/recordings"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/recordings',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
  "/recordings/{id}":
    delete:
      description: This operation deletes a recording.
      operationId: deleteRecording
      parameters:
        - description: The unique alphanumeric string that identifies the recording.
          in: path
          name: id
          required: true
          type: string
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Delete a recording
      tags:
        - recordings
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "DELETE" "https://api-sandbox.cloud.wowza.com/api/v1/recordings/2adffc17"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/recordings/2adffc17',
              method: 'DELETE',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              // no data being returned, just: 204 NO CONTENT
              console.log(res.statusCode);
            }).on('error', function(e) {
              console.log(e.message);
            });
    get:
      description: This operation shows the details of a specific recording.
      operationId: showRecording
      parameters:
        - description: The unique alphanumeric string that identifies the recording.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              recording:
                $ref: "#/definitions/recording"
            required:
              - recording
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
      summary: Fetch a recording
      tags:
        - recordings
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/recordings/2adffc17"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/recordings/2adffc17',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
  "/recordings/{id}/state":
    get:
      description: This operation shows the current state of a recording.
      operationId: showRecordingState
      parameters:
        - description: The unique alphanumeric string that identifies the recording.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              recording:
                properties:
                  state:
                    description: The state of the recording.
                    enum:
                      - uploading
                      - converting
                      - removing
                      - completed
                      - failed
                    example: completed
                    type: string
                title: recording
                type: object
            required:
              - recording
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
      summary: Fetch the state of a recording
      tags:
        - recordings
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/recordings/2adffc17/state"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/recordings/2adffc17/state',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
  /schedules:
    get:
      description: This operation shows the details of all of your schedules.
      operationId: listSchedules
      parameters:
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/per_page"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/schedules"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
      summary: Fetch all schedules
      tags:
        - schedules
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/schedules"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/schedules',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
    post:
      description: This operation creates a schedule.
      operationId: createSchedule
      parameters:
        - description: Provide the details of the schedule to create in the body of the request.
          in: body
          name: schedule
          required: true
          schema:
            $ref: "#/definitions/schedule_create_input"
      responses:
        "200":
          description: Success
          schema:
            properties:
              schedule:
                $ref: "#/definitions/schedule"
            required:
              - schedule
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Create a schedule
      tags:
        - schedules
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "POST" "https://api-sandbox.cloud.wowza.com/api/v1/schedules" \
                 -d $'{
              "schedule": {
                "property": "My Value",
                "...": "..."
              }
            }'
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/schedules',
              method: 'POST',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            const req = https.request(options, function(res) {
              var body = '';
              res.on('data', function(data) {
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
            req.write(JSON.stringify({
              "schedule": {
                "property": "My Value",
                "...": "..."
              }
            }));
            req.end();
  "/schedules/{id}":
    delete:
      description: This operation deletes a schedule.
      operationId: deleteSchedule
      parameters:
        - description: The unique alphanumeric string that identifies the schedule.
          in: path
          name: id
          required: true
          type: string
      responses:
        "204":
          description: No Content
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Delete a schedule
      tags:
        - schedules
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "DELETE" "https://api-sandbox.cloud.wowza.com/api/v1/schedules/2adffc17"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/schedules/2adffc17',
              method: 'DELETE',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              // no data being returned, just: 204 NO CONTENT
              console.log(res.statusCode);
            }).on('error', function(e) {
              console.log(e.message);
            });
    get:
      description: This operation shows the details of a specific schedule.
      operationId: showSchedule
      parameters:
        - description: The unique alphanumeric string that identifies the schedule.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              schedule:
                $ref: "#/definitions/schedule"
            required:
              - schedule
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
      summary: Fetch a schedule
      tags:
        - schedules
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/schedules/2adffc17"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/schedules/2adffc17',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
    patch:
      description: This operation updates a schedule.
      operationId: updateSchedule
      parameters:
        - description: The unique alphanumeric string that identifies the schedule.
          in: path
          name: id
          required: true
          type: string
        - description: Provide the details of the schedule to update in the body of the request.
          in: body
          name: schedule
          required: true
          schema:
            $ref: "#/definitions/schedule_update_input"
      responses:
        "200":
          description: Success
          schema:
            properties:
              schedule:
                $ref: "#/definitions/schedule"
            required:
              - schedule
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Update a schedule
      tags:
        - schedules
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "PATCH" "https://api-sandbox.cloud.wowza.com/api/v1/schedules/2adffc17" \
                 -d $'{
              "schedule": {
                "property": "My Value",
                "...": "..."
              }
            }'
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/schedules/2adffc17',
              method: 'PATCH',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            const req = https.request(options, function(res) {
              var body = '';
              res.on('data', function(data) {
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
            req.write(JSON.stringify({
              "schedule": {
                "property": "My Value",
                "...": "..."
              }
            }));
            req.end();
  "/schedules/{id}/disable":
    put:
      description: This operation disables a schedule.
      operationId: disableSchedule
      parameters:
        - description: The unique alphanumeric string that identifies the schedule.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              schedule:
                properties:
                  state:
                    description: A schedule must be <strong>enabled</strong> to run. Specify <strong>enabled</strong> to run the schedule or <strong>disabled</strong> to turn off the schedule so that it doesn't run.
                    enum:
                      - enabled
                      - disabled
                      - expired
                    example: disabled
                    type: string
                title: schedule
                type: object
            required:
              - schedule
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Disable a schedule
      tags:
        - schedules
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "PUT" "https://api-sandbox.cloud.wowza.com/api/v1/schedules/2adffc17/disable"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/schedules/2adffc17/disable',
              method: 'PUT',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            const req = https.request(options, function(res) {
              var body = '';
              res.on('data', function(data) {
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
            req.end();
  "/schedules/{id}/enable":
    put:
      description: This operation enables a schedule.
      operationId: enableSchedule
      parameters:
        - description: The unique alphanumeric string that identifies the schedule.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              schedule:
                properties:
                  state:
                    description: A schedule must be <strong>enabled</strong> to run. Specify <strong>enabled</strong> to run the schedule or <strong>disabled</strong> to turn off the schedule so that it doesn't run.
                    enum:
                      - enabled
                      - disabled
                      - expired
                    example: enabled
                    type: string
                title: schedule
                type: object
            required:
              - schedule
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Enable a schedule
      tags:
        - schedules
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "PUT" "https://api-sandbox.cloud.wowza.com/api/v1/schedules/2adffc17/enable"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/schedules/2adffc17/enable',
              method: 'PUT',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            const req = https.request(options, function(res) {
              var body = '';
              res.on('data', function(data) {
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
            req.end();
  "/schedules/{id}/state":
    get:
      description: This operation shows the current state of a schedule.
      operationId: showScheduleState
      parameters:
        - description: The unique alphanumeric string that identifies the schedule.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            properties:
              schedule:
                properties:
                  state:
                    description: A schedule must be <strong>enabled</strong> to run. Specify <strong>enabled</strong> to run the schedule or <strong>disabled</strong> to turn off the schedule so that it doesn't run.
                    enum:
                      - enabled
                      - disabled
                      - expired
                    example: enabled
                    type: string
                title: schedule
                type: object
            required:
              - schedule
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "403":
          description: Forbidden
          schema:
            $ref: "#/definitions/Error403"
        "404":
          description: Not Found
          schema:
            $ref: "#/definitions/Error404"
        "410":
          description: Gone
          schema:
            $ref: "#/definitions/Error410"
      summary: Fetch the state of a schedule
      tags:
        - schedules
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/schedules/2adffc17/state"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/schedules/2adffc17/state',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
  /stream_sources:
    get:
      description: This operation shows the details of all of your stream sources.
      operationId: listStreamSources
      parameters:
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/per_page"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/stream_sources"
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
      summary: Fetch all stream sources
      tags:
        - stream_sources
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "GET" "https://api-sandbox.cloud.wowza.com/api/v1/stream_sources"
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/stream_sources',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            https.get(options, function(res) {
              var body = '';
              res.on('data', function(data){
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
    post:
      description: This operation adds a stream source.
      operationId: createStreamSource
      parameters:
        - description: Provide the details of the stream source to add in the body of the request.
          in: body
          name: stream_source
          required: true
          schema:
            $ref: "#/definitions/stream_source_create_input"
      responses:
        "200":
          description: Success
          schema:
            properties:
              stream_source:
                $ref: "#/definitions/stream_source"
            required:
              - stream_source
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Add a stream source
      tags:
        - stream_sources
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "POST" "https://api-sandbox.cloud.wowza.com/api/v1/stream_sources" \
                 -d $'{
              "stream_source": {
                "property": "My Value",
                "...": "..."
              }
            }'
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/stream_sources',
              method: 'POST',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            const req = https.request(options, function(res) {
              var body = '';
              res.on('data', function(data) {
                body += data;
              });
              res.on('end', function() {
                console.log(JSON.parse(body));
              });
            }).on('error', function(e) {
              console.log(e.message);
            });
            req.write(JSON.stringify({
              "stream_source": {
                "property": "My Value",
                "...": "..."
              }
            }));
            req.end();
  /stream_sources/add:
    post:
      deprecated: true
      description: POST /stream_sources/add/ is deprecated. To add a stream source, use POST /stream_sources instead.
      operationId: addStreamSource
      parameters:
        - description: Provide the details of the stream source to add in the body of the request.
          in: body
          name: stream_source
          required: true
          schema:
            $ref: "#/definitions/stream_source_create_input"
      responses:
        "200":
          description: Success
          schema:
            properties:
              stream_source:
                $ref: "#/definitions/stream_source"
            required:
              - stream_source
            type: object
        "401":
          description: Unauthorized
          schema:
            $ref: "#/definitions/Error401"
        "422":
          description: Unprocessable Entity
          schema:
            $ref: "#/definitions/Error422"
      summary: Deprecated operation
      tags:
        - stream_sources
      x-code-samples:
        - lang: Shell
          source: |
            // Using cURL
            curl -H "wsc-api-key: a726c273..." \
                 -H "wsc-access-key: 68289d8d..." \
                 -H "Content-Type: application/json" \
                 -X "POST" "https://api-sandbox.cloud.wowza.com/api/v1/stream_sources/add" \
                 -d $'{
              "stream_source": {
                "property": "My Value",
                "...": "..."
              }
            }'
        - lang: JavaScript
          source: |
            // Using Node.js
            var https = require('https');
            const options = {
              hostname: 'api-sandbox.cloud.wowza.com',
              path: '/api/v1/stream_sources/add',
              method: 'POST',
              headers: {
                'wsc-api-key': 'a726c273...',
                'wsc-access-key': '68289d8d...',
                'Content-Type': 'application/json'
              }
            };
            const req = https.request(options, function(res) {
              var body = '';
              res.on('data', function(data) {
                body += data;
              });
              res.on('end', function() {
[...]
