swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Provides create, read, update and delete functionality Azure SQL server communication links.
  title: Azure SQL Database
  version: 2014-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/serverCommunicationLinks.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-serverCommunicationLinks
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/communicationLinks":
    get:
      description: Gets a list of server communication links.
      operationId: ServerCommunicationLinks_ListByServer
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ServerCommunicationLinkListResult"
      tags:
        - ServerCommunicationLinks
      x-ms-examples:
        List server communication links:
          parameters:
            api-version: 2014-04-01
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/communicationLinks/link1
                    kind: null
                    location: Central US
                    name: link1
                    properties:
                      partnerServer: sqlcrudtest-test
                      state: Ready
                    type: Microsoft.Sql/servers/communicationLinks
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/communicationLinks/{communicationLinkName}":
    delete:
      description: Deletes a server communication link.
      operationId: ServerCommunicationLinks_Delete
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the server communication link.
          in: path
          name: communicationLinkName
          required: true
          type: string
      responses:
        "200":
          description: OK
      tags:
        - ServerCommunicationLinks
      x-ms-examples:
        Delete a server communication link:
          parameters:
            api-version: 2014-04-01
            communicationLinkName: link1
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
    get:
      description: Returns a server communication link.
      operationId: ServerCommunicationLinks_Get
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the server communication link.
          in: path
          name: communicationLinkName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ServerCommunicationLink"
      tags:
        - ServerCommunicationLinks
      x-ms-examples:
        Get a server communication link:
          parameters:
            api-version: 2014-04-01
            communicationLinkName: link1
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/communicationLinks/link1
                kind: null
                location: Central US
                name: link1
                properties:
                  partnerServer: sqlcrudtest-test
                  state: Ready
                type: Microsoft.Sql/servers/communicationLinks
    put:
      description: Creates a server communication link.
      operationId: ServerCommunicationLinks_CreateOrUpdate
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the server communication link.
          in: path
          name: communicationLinkName
          required: true
          type: string
        - description: The required parameters for creating a server communication link.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ServerCommunicationLink"
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/ServerCommunicationLink"
        "202":
          description: Accepted
      tags:
        - ServerCommunicationLinks
      x-ms-examples:
        Create a server communication link:
          parameters:
            api-version: 2014-04-01
            communicationLinkName: link1
            parameters:
              properties:
                partnerServer: sqldcrudtest-test
            resourceGroupName: sqlcrudtest-7398
            serverName: sqlcrudtest-4645
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-7398/providers/Microsoft.Sql/servers/sqlcrudtest-4645/communicationLinks/link1
                kind: null
                location: Central US
                name: link1
                properties:
                  partnerServer: sqlcrudtest-test
                  state: Ready
                type: Microsoft.Sql/servers/communicationLinks
            "202": {}
      x-ms-long-running-operation: true
definitions:
  ServerCommunicationLink:
    allOf:
      - allOf:
          - description: ARM resource.
            properties:
              id:
                description: Resource ID.
                readOnly: true
                type: string
              name:
                description: Resource name.
                readOnly: true
                type: string
              type:
                description: Resource type.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: ARM proxy resource.
        properties: {}
        type: object
    description: Server communication link.
    properties:
      kind:
        description: Communication link kind.  This property is used for Azure Portal metadata.
        readOnly: true
        type: string
      location:
        description: Communication link location.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/ServerCommunicationLinkProperties"
        description: The properties of resource.
        x-ms-client-flatten: true
  ServerCommunicationLinkListResult:
    description: A list of server communication links.
    properties:
      value:
        description: The list of server communication links.
        items:
          $ref: "#/definitions/ServerCommunicationLink"
        type: array
  ServerCommunicationLinkProperties:
    description: The properties of a server communication link.
    properties:
      partnerServer:
        description: The name of the partner server.
        type: string
        x-ms-mutability:
          - create
          - read
      state:
        description: The state.
        readOnly: true
        type: string
    required:
      - partnerServer
