{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://apisetu.gov.in/edistrictkerala/v3"
    }
  ],
  "info": {
    "description": "eDistrict Kerala (https://edistrict.kerala.gov.in/) is the online service delivery portal for Kerala State Govt. Certain documents issued by it (e.g. Residence, Income, Caste Certificates etc) are made available in citizens' DigiLocker accounts.",
    "termsOfService": "https://apisetu.gov.in/terms.php",
    "title": "eDistrict Kerala, Kerala",
    "version": "3.0.0",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://apisetu.gov.in/api_specification_v8/edistrictkerala.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "apisetu.gov.in",
    "x-serviceName": "edistrictkerala",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    }
  },
  "paths": {
    "/cmcer/certificate": {
      "post": {
        "description": "API to verify Community Certificate.",
        "operationId": "cmcer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Community Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/cncer/certificate": {
      "post": {
        "description": "API to verify Conversion Certificate.",
        "operationId": "cncer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Conversion Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/ctcer/certificate": {
      "post": {
        "description": "API to verify Caste Certificate.",
        "operationId": "ctcer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Caste Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/dmcer/certificate": {
      "post": {
        "description": "API to verify Domicile Certificate.",
        "operationId": "dmcer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Domicile Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/dpcer/certificate": {
      "post": {
        "description": "API to verify Dependency Certificate.",
        "operationId": "dpcer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Dependency Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/dscer/certificate": {
      "post": {
        "description": "API to verify Destitute Certificate.",
        "operationId": "dscer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Destitute Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/fmcer/certificate": {
      "post": {
        "description": "API to verify Family Membership Certificate.",
        "operationId": "fmcer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Family Membership Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/idcer/certificate": {
      "post": {
        "description": "API to verify Identification Certificate.",
        "operationId": "idcer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Identification Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/imcer/certificate": {
      "post": {
        "description": "API to verify Inter-Caste Marriage Certificate.",
        "operationId": "imcer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Inter-Caste Marriage Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/incer/certificate": {
      "post": {
        "description": "API to verify Income Certificate.",
        "operationId": "incer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Income Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/lfcer/certificate": {
      "post": {
        "description": "API to verify Life Certificate.",
        "operationId": "lfcer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Life Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/lhcer/certificate": {
      "post": {
        "description": "API to verify Legal Heir Certificate.",
        "operationId": "lhcer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Legal Heir Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/locer/certificate": {
      "post": {
        "description": "API to verify Location Certificate.",
        "operationId": "locer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Location Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/mncer/certificate": {
      "post": {
        "description": "API to verify Minority Certificate.",
        "operationId": "mncer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Minority Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/nrcer/certificate": {
      "post": {
        "description": "API to verify Non-Remarriage Certificate.",
        "operationId": "nrcer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Non-Remarriage Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/ntcer/certificate": {
      "post": {
        "description": "API to verify Nativity Certificate.",
        "operationId": "ntcer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Nativity Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/oscer/certificate": {
      "post": {
        "description": "API to verify One and the Same Certificate.",
        "operationId": "oscer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "One and the Same Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/pncer/certificate": {
      "post": {
        "description": "API to verify Possession and Non-Attachment Certificate.",
        "operationId": "pncer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Possession and Non-Attachment Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/pscer/certificate": {
      "post": {
        "description": "API to verify Possession Certificate.",
        "operationId": "pscer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Possession Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/rlcer/certificate": {
      "post": {
        "description": "API to verify Relationship Certificate.",
        "operationId": "rlcer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Relationship Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/rscer/certificate": {
      "post": {
        "description": "API to verify Residence Certificate.",
        "operationId": "rscer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Residence Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/slcer/certificate": {
      "post": {
        "description": "API to verify Solvency Certificate.",
        "operationId": "slcer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Solvency Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/vlcer/certificate": {
      "post": {
        "description": "API to verify Valuation Certificate.",
        "operationId": "vlcer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Valuation Certificate",
        "tags": [
          "APIs"
        ]
      }
    },
    "/wwcer/certificate": {
      "post": {
        "description": "API to verify Widow-Widower Certificate.",
        "operationId": "wwcer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificateParameters": {
                    "properties": {
                      "aplno": {
                        "description": "Application Number",
                        "example": "564323",
                        "type": "string"
                      },
                      "certno": {
                        "description": "Certificate Number",
                        "example": "342567",
                        "type": "string"
                      },
                      "sccd": {
                        "description": "Security Code",
                        "example": "QASE5",
                        "type": "string"
                      }
                    },
                    "required": [
                      "aplno",
                      "sccd",
                      "certno"
                    ],
                    "type": "object"
                  },
                  "consentArtifact": {
                    "$ref": "#/components/schemas/ConsentArtifactSchema"
                  },
                  "format": {
                    "description": "The format of the certificate in response.",
                    "enum": [
                      "pdf"
                    ],
                    "type": "string"
                  },
                  "txnId": {
                    "description": "A unique transaction id for this request in UUID format. It is used for tracking the request.",
                    "example": "f7f1469c-29b0-4325-9dfc-c567200a70f7",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "txnId",
                  "format"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request format"
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "example": "Response body contains contents of the certificate in PDF format."
              }
            },
            "description": "The certificate data in response body in PDF, XML or JSON format as requested in format parameter."
          },
          "400": {
            "$ref": "#/components/responses/400Error"
          },
          "401": {
            "$ref": "#/components/responses/401Error"
          },
          "404": {
            "$ref": "#/components/responses/404Error"
          },
          "500": {
            "$ref": "#/components/responses/500Error"
          },
          "502": {
            "$ref": "#/components/responses/502Error"
          },
          "503": {
            "$ref": "#/components/responses/503Error"
          },
          "504": {
            "$ref": "#/components/responses/504Error"
          }
        },
        "security": [
          {
            "apiKey": [],
            "clientId": []
          }
        ],
        "summary": "Widow-Widower Certificate",
        "tags": [
          "APIs"
        ]
      }
    }
  },
  "components": {
    "responses": {
      "400Error": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "error": {
                  "enum": [
                    "missing_parameter",
                    "invalid_parameter",
                    "invalid_format",
                    "invalid_txnid",
                    "invalid_consentid"
                  ],
                  "type": "string"
                },
                "errorDescription": {
                  "enum": [
                    "Please provide all mandatory parameters",
                    "Bad request",
                    "The format parameter is invalid",
                    "The txnId parameter must be in UUID format",
                    "The consentId parameter must be in UUID format"
                  ],
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "description": "Bad request"
      },
      "401Error": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "error": {
                  "enum": [
                    "invalid_authentication",
                    "invalid_authorization"
                  ],
                  "type": "string"
                },
                "errorDescription": {
                  "enum": [
                    "Authentication failed",
                    "You are not authorized to use this API"
                  ],
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "description": "Unauthorized access"
      },
      "404Error": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "error": {
                  "enum": [
                    "record_not_found",
                    "url_not_found"
                  ],
                  "type": "string"
                },
                "errorDescription": {
                  "enum": [
                    "No record found",
                    "Your API url or path is incorrect"
                  ],
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "description": "No record found"
      },
      "500Error": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "error": {
                  "enum": [
                    "internal_server_error"
                  ],
                  "type": "string"
                },
                "errorDescription": {
                  "enum": [
                    "Internal server error"
                  ],
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "description": "Internal server error"
      },
      "502Error": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "error": {
                  "enum": [
                    "bad_gatewy"
                  ],
                  "type": "string"
                },
                "errorDescription": {
                  "enum": [
                    "Publisher service returned an invalid response"
                  ],
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "description": "Bad gateway"
      },
      "503Error": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "error": {
                  "enum": [
                    "service_unavailable"
                  ],
                  "type": "string"
                },
                "errorDescription": {
                  "enum": [
                    "Publisher service is temporarily unavailable"
                  ],
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "description": "Service unavailable"
      },
      "504Error": {
        "content": {
          "application/json": {
            "schema": {
              "properties": {
                "error": {
                  "enum": [
                    "gateway_timeout"
                  ],
                  "type": "string"
                },
                "errorDescription": {
                  "enum": [
                    "Publisher service did not respond in time"
                  ],
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        },
        "description": "Gateway timeout"
      }
    },
    "schemas": {
      "AcademicCertificateSchema": {
        "properties": {
          "CertificateData": {
            "properties": {
              "Examination": {
                "properties": {
                  "month": {
                    "example": "MARCH",
                    "minLength": 1,
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  },
                  "name": {
                    "example": "SENION SCHOOL CERTIFICATE EXAMINATION",
                    "minLength": 1,
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  },
                  "year": {
                    "example": 2019,
                    "minLength": 1,
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  }
                },
                "required": [
                  "name",
                  "month",
                  "year"
                ],
                "type": "object"
              },
              "Performance": {
                "properties": {
                  "Subjects": {
                    "items": {
                      "properties": {
                        "code": {
                          "example": 30,
                          "minLength": 1,
                          "type": "string",
                          "xml": {
                            "attribute": true
                          }
                        },
                        "gp": {
                          "example": "",
                          "type": "string",
                          "xml": {
                            "attribute": true
                          }
                        },
                        "gpMax": {
                          "example": "",
                          "type": "string",
                          "xml": {
                            "attribute": true
                          }
                        },
                        "grade": {
                          "example": "A2",
                          "minLength": 1,
                          "type": "string",
                          "xml": {
                            "attribute": true
                          }
                        },
                        "marksMax": {
                          "example": "",
                          "type": "integer",
                          "xml": {
                            "attribute": true
                          }
                        },
                        "marksMaxPractical": {
                          "example": "",
                          "type": "integer",
                          "xml": {
                            "attribute": true
                          }
                        },
                        "marksMaxTheory": {
                          "example": "",
                          "type": "integer",
                          "xml": {
                            "attribute": true
                          }
                        },
                        "marksPractical": {
                          "example": 17,
                          "type": "integer",
                          "xml": {
                            "attribute": true
                          }
                        },
                        "marksTheory": {
                          "example": 70,
                          "minLength": 1,
                          "type": "integer",
                          "xml": {
                            "attribute": true
                          }
                        },
                        "marksTotal": {
                          "example": 87,
                          "minLength": 1,
                          "type": "integer",
                          "xml": {
                            "attribute": true
                          }
                        },
                        "name": {
                          "example": "ECONOMICS",
                          "minLength": 1,
                          "type": "string",
                          "xml": {
                            "attribute": true
                          }
                        }
                      },
                      "required": [
                        "name",
                        "code",
                        "marksTheory",
                        "marksMaxTheory",
                        "marksPractical",
                        "marksMaxPractical",
                        "marksTotal",
                        "marksMax",
                        "gp",
                        "gpMax",
                        "grade"
                      ],
                      "type": "object",
                      "xml": {
                        "name": "Subject"
                      }
                    },
                    "type": "array",
                    "xml": {
                      "name": "Subjects",
                      "wrapped": true
                    }
                  },
                  "cgpa": {
                    "example": "",
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  },
                  "cgpaMax": {
                    "example": "",
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  },
                  "grade": {
                    "example": "",
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  },
                  "marksMax": {
                    "example": "",
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  },
                  "marksTotal": {
                    "example": "",
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  },
                  "percentage": {
                    "example": "",
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  },
                  "result": {
                    "example": "PASS",
                    "minLength": 1,
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  },
                  "resultDate": {
                    "example": "02-05-2019",
                    "minLength": 1,
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  },
                  "updateDate": {
                    "example": "",
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  }
                },
                "required": [
                  "result",
                  "marksTotal",
                  "marksMax",
                  "percentage",
                  "cgpa",
                  "cgpaMax",
                  "grade",
                  "resultDate",
                  "updateDate",
                  "Subjects"
                ],
                "type": "object"
              },
              "School": {
                "properties": {
                  "code": {
                    "example": 20020,
                    "minLength": 1,
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  },
                  "name": {
                    "example": "DELHI PUBLIC SCHOOL GURGAON",
                    "minLength": 1,
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  }
                },
                "required": [
                  "name",
                  "code"
                ],
                "type": "object"
              }
            },
            "required": [
              "School",
              "Examination",
              "Performance"
            ],
            "type": "object"
          },
          "IssuedBy": {
            "properties": {
              "Organization": {
                "properties": {
                  "Address": {
                    "properties": {
                      "country": {
                        "example": "IN",
                        "minLength": 1,
                        "type": "string",
                        "xml": {
                          "attribute": true
                        }
                      },
                      "district": {
                        "example": "",
                        "type": "string",
                        "xml": {
                          "attribute": true
                        }
                      },
                      "house": {
                        "example": "",
                        "type": "string",
                        "xml": {
                          "attribute": true
                        }
                      },
                      "landmark": {
                        "example": "",
                        "type": "string",
                        "xml": {
                          "attribute": true
                        }
                      },
                      "line1": {
                        "example": "",
                        "type": "string",
                        "xml": {
                          "attribute": true
                        }
                      },
                      "line2": {
                        "example": "",
                        "type": "string",
                        "xml": {
                          "attribute": true
                        }
                      },
                      "locality": {
                        "example": "",
                        "type": "string",
                        "xml": {
                          "attribute": true
                        }
                      },
                      "pin": {
                        "example": "",
                        "type": "string",
                        "xml": {
                          "attribute": true
                        }
                      },
                      "state": {
                        "example": "",
                        "type": "string",
                        "xml": {
                          "attribute": true
                        }
                      },
                      "type": {
                        "example": "",
                        "type": "string",
                        "xml": {
                          "attribute": true
                        }
                      },
                      "vtc": {
                        "example": "",
                        "type": "string",
                        "xml": {
                          "attribute": true
                        }
                      }
                    },
                    "required": [
                      "type",
                      "line1",
                      "line2",
                      "house",
                      "landmark",
                      "locality",
                      "vtc",
                      "district",
                      "pin",
                      "state",
                      "country"
                    ],
                    "type": "object"
                  },
                  "code": {
                    "example": "",
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  },
                  "name": {
                    "example": "Central Board of Secondary Education",
                    "minLength": 1,
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  },
                  "tin": {
                    "example": "",
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  },
                  "type": {
                    "example": "CG",
                    "minLength": 1,
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  },
                  "uid": {
                    "example": "",
                    "type": "string",
                    "xml": {
                      "attribute": true
                    }
                  }
                },
                "required": [
                  "name",
                  "code",
                  "tin",
                  "uid",
                  "type",
                  "Address"
[...]
