swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  title: Compute Admin Client
  version: 2015-12-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/compute/Microsoft.Compute.Admin/preview/2015-12-01-preview/PlatformImages.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-PlatformImages
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  NewPlatformImageParameter:
    description: New platform image.
    in: body
    name: newImage
    required: true
    schema:
      $ref: "#/definitions/PlatformImageParameters"
    x-ms-parameter-location: method
  OfferParameter:
    description: Name of the offer.
    in: path
    name: offer
    required: true
    type: string
    x-ms-parameter-location: method
  SkuParameter:
    description: Name of the SKU.
    in: path
    name: sku
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/artifactTypes/platformImage":
    get:
      description: Returns a list of all platform images.
      operationId: PlatformImages_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2015-12-01-preview
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PlatformImageList"
      summary: Returns all platform images.
      tags:
        - PlatformImages
      x-ms-examples:
        Returns a list of all platform images.:
          parameters:
            api-version: 2015-12-01-preview
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                - id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/platformImage/publishers/Canonical/offers/UbuntuServer/skus/16.04-LTS/versions/1.0.0
                  location: local
                  properties:
                    osDisk:
                      osType: Linux
                      uri: https://test.blob.local.azurestack.external/test/medium.vhd
                    provisioningState: Creating
                  type: Microsoft.Compute.Admin/locations/artifactTypes/publishers/offers/skus/versions
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/artifactTypes/platformImage/publishers/{publisher}/offers/{offer}/skus/{sku}/versions/{version}":
    delete:
      description: Delete a platform image
      operationId: PlatformImages_Delete
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the publisher.
          in: path
          name: publisher
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/OfferParameter"
        - $ref: "#/parameters/SkuParameter"
        - description: The version of the resource.
          in: path
          name: version
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2015-12-01-preview
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
      summary: Deletes a platform image matching publisher, offer, skus and version
      tags:
        - PlatformImages
      x-ms-examples:
        Delete a platform image.:
          parameters:
            api-version: 2015-12-01-preview
            location: local
            offer: UbuntuServer
            publisher: Canonical
            sku: 16.04-:LTS
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            version: "16.04"
          responses:
            "200": {}
    get:
      description: Returns the specific platform image matching publisher, offer, skus and version.
      operationId: PlatformImages_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the publisher.
          in: path
          name: publisher
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/OfferParameter"
        - $ref: "#/parameters/SkuParameter"
        - description: The version of the resource.
          in: path
          name: version
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2015-12-01-preview
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PlatformImage"
      summary: Returns the requested platform image.
      tags:
        - PlatformImages
      x-ms-examples:
        Get a platform image by name.:
          parameters:
            api-version: 2015-12-01-preview
            location: local
            offer: UbuntuServer
            publisher: Canonical
            sku: 16.04-:LTS
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            version: "16.04"
          responses:
            "200":
              body:
                id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/platformImage/publishers/Canonical/offers/UbuntuServer/skus/16.04-LTS/versions/1.0.0
                location: local
                properties:
                  osDisk:
                    osType: Linux
                    uri: https://test.blob.local.azurestack.external/test/medium.vhd
                  provisioningState: Creating
                type: Microsoft.Compute.Admin/locations/artifactTypes/publishers/offers/skus/versions
    put:
      description: Creates a new platform image with given publisher, offer, skus and version.
      operationId: PlatformImages_Create
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the publisher.
          in: path
          name: publisher
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/OfferParameter"
        - $ref: "#/parameters/SkuParameter"
        - description: The version of the resource.
          in: path
          name: version
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2015-12-01-preview
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
        - $ref: "#/parameters/NewPlatformImageParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PlatformImage"
        "201":
          description: CREATED
          schema:
            $ref: "#/definitions/PlatformImage"
        "202":
          description: ACCEPTED
          schema:
            $ref: "#/definitions/PlatformImage"
      summary: Creates a platform image.
      tags:
        - PlatformImages
      x-ms-examples:
        Creates a new platform image.:
          parameters:
            api-version: 2015-12-01-preview
            location: local
            newImage:
              properties:
                osDisk:
                  osType: Linux
                  uri: https://test.blob.local.azurestack.external/test/medium.vhd
            offer: UbuntuServer
            publisher: Canonical
            sku: 16.04-:LTS
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            version: "16.04"
          responses:
            "200":
              body:
                id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/platformImage/publishers/Canonical/offers/UbuntuServer/skus/16.04-LTS/versions/1.0.0
                location: local
                properties:
                  osDisk:
                    osType: Linux
                    uri: https://test.blob.local.azurestack.external/test/medium.vhd
                  provisioningState: Creating
                type: Microsoft.Compute.Admin/locations/artifactTypes/publishers/offers/skus/versions
            "201":
              body:
                id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/platformImage/publishers/Canonical/offers/UbuntuServer/skus/16.04-LTS/versions/1.0.0
                location: local
                properties:
                  osDisk:
                    osType: Linux
                    uri: https://test.blob.local.azurestack.external/test/medium.vhd
                  provisioningState: Creating
                type: Microsoft.Compute.Admin/locations/artifactTypes/publishers/offers/skus/versions
            "202":
              body:
                id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/artifactTypes/platformImage/publishers/Canonical/offers/UbuntuServer/skus/16.04-LTS/versions/1.0.0
                location: local
                properties:
                  osDisk:
                    osType: Linux
                    uri: https://test.blob.local.azurestack.external/test/medium.vhd
                  provisioningState: Creating
                type: Microsoft.Compute.Admin/locations/artifactTypes/publishers/offers/skus/versions
      x-ms-long-running-operation: true
definitions:
  DataDisk:
    description: Information about datadisk.
    properties:
      lun:
        description: Logical unit number.
        format: int32
        type: integer
      uri:
        description: Location of the disk template.
        type: string
    type: object
  ImageDetails:
    description: Information about the disk image.
    properties:
      billingPartNumber:
        description: The part number is used to bill for software costs.
        type: string
    type: object
  OsDisk:
    description: Operating system disk.
    properties:
      osType:
        $ref: "#/definitions/OsType"
        description: Operating system type.
      uri:
        description: Location of the disk.
        type: string
    type: object
  OsType:
    description: Operating system type.
    enum:
      - Unknown
      - Windows
      - Linux
    type: string
    x-ms-enum:
      name: OsType
  PlatformImage:
    allOf:
      - description: Base resource object.
        properties:
          id:
            description: ID of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          type:
            description: Type of Resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Platform image represents a virtual machine.
    properties:
      properties:
        $ref: "#/definitions/PlatformImageProperties"
        description: Platform image properties.
        x-ms-client-flatten: true
    type: object
  PlatformImageList:
    description: List of platform images.
    items:
      $ref: "#/definitions/PlatformImage"
    type: array
  PlatformImageParameters:
    description: Parameters used to create a new platform image.
    properties:
      properties:
        $ref: "#/definitions/PlatformImageProperties"
        description: Platform image properties.
        x-ms-client-flatten: true
    type: object
  PlatformImageProperties:
    description: Properties of platform image.
    properties:
      dataDisks:
        description: Data disks used by the platform image.
        items:
          $ref: "#/definitions/DataDisk"
        type: array
      details:
        $ref: "#/definitions/ImageDetails"
        description: Information about the image.
      osDisk:
        $ref: "#/definitions/OsDisk"
        description: Operating system used for this platform image.
      provisioningState:
        description: The provisioning state of the resource.
        enum:
          - Creating
          - Failed
          - Succeeded
          - Canceled
        type: string
        x-ms-enum:
          name: ProvisioningState
    type: object
