{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "adminmanagement.local.azurestack.external",
  "info": {
    "description": "Software load balancer multiplexer operation endpoints and objects.",
    "title": "FabricAdminClient",
    "version": "2016-05-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/SlbMuxInstance.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "azsadmin-SlbMuxInstance",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "SLBMuxInstanceParameter": {
      "description": "Name of a SLB MUX instance.",
      "in": "path",
      "name": "slbMuxInstance",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/slbMuxInstances": {
      "get": {
        "description": "Returns a list of all software load balancer instances at a location.",
        "operationId": "SlbMuxInstances_List",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Location of the resource.",
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "default": "2016-05-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "OData filter parameter.",
            "in": "query",
            "name": "$filter",
            "type": "string",
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SlbMuxInstanceList"
            }
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "SlbMuxInstances"
        ],
        "x-ms-examples": {
          "Returns all software load balancer MUX Instances": {
            "parameters": {
              "api-version": "2016-05-01",
              "location": "local",
              "resourceGroupName": "System.local",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/slbMuxInstances/AzS-SLB01",
                      "location": "local",
                      "name": "local/AzS-SLB01",
                      "properties": {
                        "bgpPeers": [
                          "BGPGateway-64000-64001"
                        ],
                        "configurationState": "Success",
                        "virtualServer": "AzS-SLB01"
                      },
                      "tags": {},
                      "type": "Microsoft.Fabric.Admin/fabricLocations/slbMuxInstances"
                    }
                  ]
                }
              },
              "404": {}
            }
          }
        },
        "x-ms-odata": "#/definitions/SlbMuxInstance",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/slbMuxInstances/{slbMuxInstance}": {
      "get": {
        "description": "Returns the requested software load balancer multiplexer instance.",
        "operationId": "SlbMuxInstances_Get",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Location of the resource.",
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/SLBMuxInstanceParameter"
          },
          {
            "default": "2016-05-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SlbMuxInstance"
            }
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "SlbMuxInstances"
        ],
        "x-ms-examples": {
          "Returns the requested software load balancer MUX Instance": {
            "parameters": {
              "api-version": "2016-05-01",
              "location": "local",
              "resourceGroupName": "System.local",
              "slbMuxInstance": "AzS-SLB01",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/slbMuxInstances/AzS-SLB01",
                  "location": "local",
                  "name": "local/AzS-SLB01",
                  "properties": {
                    "bgpPeers": [
                      "BGPGateway-64000-64001"
                    ],
                    "configurationState": "Success",
                    "virtualServer": "AzS-SLB01"
                  },
                  "tags": {},
                  "type": "Microsoft.Fabric.Admin/fabricLocations/slbMuxInstances"
                }
              },
              "404": {}
            }
          }
        }
      }
    }
  },
  "definitions": {
    "SlbMuxInstance": {
      "allOf": [
        {
          "description": "Base resource object.",
          "properties": {
            "id": {
              "description": "URI of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "location": {
              "description": "The region where the resource is located.",
              "type": "string"
            },
            "name": {
              "description": "Name of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "tags": {
              "additionalProperties": {
                "type": "string"
              },
              "description": "List of key-value pairs.",
              "type": "object"
            },
            "type": {
              "description": "Type of resource.",
              "readOnly": true,
              "type": "string"
            }
          },
          "type": "object",
          "x-ms-azure-resource": true
        }
      ],
      "description": "This resource represents an SLB MUX (software load balancing multiplexer, which distributes the tenant and tenant customer network traffic).",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SlbMuxInstanceModel",
          "description": "Properties of a SLB MUX.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "SlbMuxInstanceList": {
      "description": "A pageable list of SLB MUX instances.",
      "properties": {
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        },
        "value": {
          "description": "List of SLB MUX instances.",
          "items": {
            "$ref": "#/definitions/SlbMuxInstance"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SlbMuxInstanceModel": {
      "description": "Properties of a SLB MUX.",
      "properties": {
        "bgpPeers": {
          "description": "List of BGP peers.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "configurationState": {
          "description": "Configuration state.",
          "type": "string"
        },
        "virtualServer": {
          "description": "Virtual server.",
          "type": "string"
        }
      },
      "type": "object"
    }
  }
}