{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.interzoid.com"
    }
  ],
  "info": {
    "contact": {
      "email": "support@interzoid.com",
      "name": "API Support",
      "url": "https://www.interzoid.com",
      "x-twitter": "interzoid"
    },
    "description": "This API provides validation information for email addresses to aid in deliverability. Syntax, existence of mail servers, and other tests are run to ensure delivery. Additional demographics are provided for the email address as well, including identifying generic, vulgar, education, government, or other entity type email addresses.",
    "license": {
      "name": "Interzoid license",
      "url": "https://www.interzoid.com/license"
    },
    "termsOfService": "https://www.interzoid.com/terms",
    "title": "Interzoid Get Email Information API",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_interzoid_profile_image.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://oas.interzoid.com/api/getemailinfo.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "interzoid.com",
    "x-serviceName": "getemailinfo"
  },
  "externalDocs": {
    "description": "API home page and documentation",
    "url": "https://www.interzoid.com/services/getemailinfo"
  },
  "paths": {
    "/getemailinfo": {
      "get": {
        "description": "Get email validation information and other demographics for an email address.",
        "operationId": "getemailinfo",
        "parameters": [
          {
            "description": "Your Interzoid license API key. Register at www.interzoid.com/register",
            "in": "query",
            "name": "license",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Email address to retrieve validation information",
            "in": "query",
            "name": "email",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Code": {
                      "type": "string"
                    },
                    "Credits": {
                      "type": "string"
                    },
                    "Email": {
                      "type": "string"
                    },
                    "Geolocation": {
                      "type": "string"
                    },
                    "Info": {
                      "type": "string"
                    },
                    "IsDisposable": {
                      "type": "string"
                    },
                    "IsEducational": {
                      "type": "string"
                    },
                    "IsGeneric": {
                      "type": "string"
                    },
                    "IsGovernment": {
                      "type": "string"
                    },
                    "IsOrganizational": {
                      "type": "string"
                    },
                    "IsVulgar": {
                      "type": "string"
                    },
                    "Response": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Email validation and demographic information"
          },
          "400": {
            "description": "bad request - insufficient parameters"
          },
          "402": {
            "description": "credits exhausted"
          },
          "403": {
            "description": "invalid license API key"
          },
          "404": {
            "description": "email address not valid"
          },
          "405": {
            "description": "method not allowed"
          },
          "500": {
            "description": "internal server error"
          }
        },
        "summary": "Gets email validation information for an email address",
        "tags": [
          "Email Address Information"
        ]
      }
    }
  }
}