swagger: "2.0"
schemes:
  - https
host: api.cognitive.microsoft.com
basePath: /bing/v7.0
info:
  contact:
    x-twitter: microsoft
  description: The Image Search API lets you send a search query to Bing and get back a list of relevant images. This section provides technical details about the query parameters and headers that you use to request images and the JSON response objects that contain them. For examples that show how to make requests, see [Searching the Web for Images](https://docs.microsoft.com/azure/cognitive-services/bing-image-search/search-the-web).
  title: Image Search Client
  version: "1.0"
  x-apisguru-categories:
    - developer_tools
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/ImageSearch/stable/v1.0/ImageSearch.json
      version: "2.0"
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-ImageSearch
  x-tags:
    - Microsoft
produces:
  - application/json
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
security:
  - apiKeyHeader: []
parameters:
  x-bingapis-sdk:
    description: Activate swagger compliance
    enum:
      - "true"
    in: header
    name: X-BingApis-SDK
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: XBingApisSDK
    x-ms-parameter-location: method
paths:
  /images/details:
    get:
      operationId: Images_Details
      parameters:
        - $ref: "#/parameters/x-bingapis-sdk"
        - description: The default media type is application/json. To specify that the response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
          in: header
          name: Accept
          required: false
          type: string
        - description: A comma-delimited list of one or more languages to use for user interface strings. The list is in decreasing order of preference. For additional information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). This header and the [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#setlang) query parameter are mutually exclusive; do not specify both. If you set this header, you must also specify the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#cc) query parameter. To determine the market to return results for, Bing uses the first supported language it finds from the list and combines it with the cc parameter value. If the list does not include a supported language, Bing finds the closest language and market that supports the request or it uses an aggregated or default market for the results. To determine the market that Bing used, see the BingAPIs-Market header. Use this header and the cc query parameter only if you specify multiple languages. Otherwise, use the [mkt](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#mkt) and [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#setlang) query parameters. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Any links to Bing.com properties in the response objects apply the specified language.
          in: header
          name: Accept-Language
          required: false
          type: string
          x-ms-client-name: AcceptLanguage
        - description: Optional request header. If you set the [modules](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#modulesrequested) query parameter to RecognizedEntities, you may specify the binary of an image in the body of a POST request. If you specify the image in the body of a POST request, you must specify this header and set its value to multipart/form-data. The maximum image size is 1 MB.
          in: header
          name: Content-Type
          required: false
          type: string
          x-ms-client-name: ContentType
        - description: "The user agent originating the request. Bing uses the user agent to provide mobile users with an optimized experience. Although optional, you are encouraged to always specify this header. The user-agent should be the same string that any commonly used browser sends. For information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). The following are examples of user-agent strings. Windows Phone: Mozilla/5.0 (compatible; MSIE 10.0; Windows Phone 8.0; Trident/6.0; IEMobile/10.0; ARM; Touch; NOKIA; Lumia 822). Android: Mozilla / 5.0 (Linux; U; Android 2.3.5; en - us; SCH - I500 Build / GINGERBREAD) AppleWebKit / 533.1 (KHTML; like Gecko) Version / 4.0 Mobile Safari / 533.1. iPhone: Mozilla / 5.0 (iPhone; CPU iPhone OS 6_1 like Mac OS X) AppleWebKit / 536.26 (KHTML; like Gecko) Mobile / 10B142 iPhone4; 1 BingWeb / 3.03.1428.20120423. PC: Mozilla / 5.0 (Windows NT 6.3; WOW64; Trident / 7.0; Touch; rv:11.0) like Gecko. iPad: Mozilla / 5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit / 537.51.1 (KHTML, like Gecko) Version / 7.0 Mobile / 11A465 Safari / 9537.53"
          in: header
          name: User-Agent
          required: false
          type: string
          x-ms-client-name: UserAgent
        - description: "Bing uses this header to provide users with consistent behavior across Bing API calls. Bing often flights new features and improvements, and it uses the client ID as a key for assigning traffic on different flights. If you do not use the same client ID for a user across multiple requests, then Bing may assign the user to multiple conflicting flights. Being assigned to multiple conflicting flights can lead to an inconsistent user experience. For example, if the second request has a different flight assignment than the first, the experience may be unexpected. Also, Bing can use the client ID to tailor web results to that client ID’s search history, providing a richer experience for the user. Bing also uses this header to help improve result rankings by analyzing the activity generated by a client ID. The relevance improvements help with better quality of results delivered by Bing APIs and in turn enables higher click-through rates for the API consumer. IMPORTANT: Although optional, you should consider this header required. Persisting the client ID across multiple requests for the same end user and device combination enables 1) the API consumer to receive a consistent user experience, and 2) higher click-through rates via better quality of results from the Bing APIs. Each user that uses your application on the device must have a unique, Bing generated client ID. If you do not include this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID response header. The only time that you should NOT include this header in a request is the first time the user uses your app on that device. Use the client ID for each Bing API request that your app makes for this user on the device. Persist the client ID. To persist the ID in a browser app, use a persistent HTTP cookie to ensure the ID is used across all sessions. Do not use a session cookie. For other apps such as mobile apps, use the device's persistent storage to persist the ID. The next time the user uses your app on that device, get the client ID that you persisted. Bing responses may or may not include this header. If the response includes this header, capture the client ID and use it for all subsequent Bing requests for the user on that device. If you include the X-MSEdge-ClientID, you must not include cookies in the request."
          in: header
          name: X-MSEdge-ClientID
          required: false
          type: string
          x-ms-client-name: ClientId
        - description: The IPv4 or IPv6 address of the client device. The IP address is used to discover the user's location. Bing uses the location information to determine safe search behavior. Although optional, you are encouraged to always specify this header and the X-Search-Location header. Do not obfuscate the address (for example, by changing the last octet to 0). Obfuscating the address results in the location not being anywhere near the device's actual location, which may result in Bing serving erroneous results.
          in: header
          name: X-MSEdge-ClientIP
          required: false
          type: string
          x-ms-client-name: ClientIp
        - description: "A semicolon-delimited list of key/value pairs that describe the client's geographical location. Bing uses the location information to determine safe search behavior and to return relevant local content. Specify the key/value pair as <key>:<value>. The following are the keys that you use to specify the user's location. lat (required): The latitude of the client's location, in degrees. The latitude must be greater than or equal to -90.0 and less than or equal to +90.0. Negative values indicate southern latitudes and positive values indicate northern latitudes. long (required): The longitude of the client's location, in degrees. The longitude must be greater than or equal to -180.0 and less than or equal to +180.0. Negative values indicate western longitudes and positive values indicate eastern longitudes. re (required): The radius, in meters, which specifies the horizontal accuracy of the coordinates. Pass the value returned by the device's location service. Typical values might be 22m for GPS/Wi-Fi, 380m for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional): The UTC UNIX timestamp of when the client was at the location. (The UNIX timestamp is the number of seconds since January 1, 1970.) head (optional): The client's relative heading or direction of travel. Specify the direction of travel as degrees from 0 through 360, counting clockwise relative to true north. Specify this key only if the sp key is nonzero. sp (optional): The horizontal velocity (speed), in meters per second, that the client device is traveling. alt (optional): The altitude of the client device, in meters. are (optional): The radius, in meters, that specifies the vertical accuracy of the coordinates. Specify this key only if you specify the alt key. Although many of the keys are optional, the more information that you provide, the more accurate the location results are. Although optional, you are encouraged to always specify the user's geographical location. Providing the location is especially important if the client's IP address does not accurately reflect the user's physical location (for example, if the client uses VPN). For optimal results, you should include this header and the X-MSEdge-ClientIP header, but at a minimum, you should include this header."
          in: header
          name: X-Search-Location
          required: false
          type: string
          x-ms-client-name: Location
        - description: The bottom coordinate of the region to crop. The coordinate is a fractional value of the original image's height and is measured from the top, left corner of the image. Specify the coordinate as a value from 0.0 through 1.0. Use this parameter only with the Insights API. Do not specify this parameter when calling the Images, Trending Images, or Web Search APIs.
          format: float
          in: query
          name: cab
          required: false
          type: number
          x-ms-client-name: CropBottom
        - description: The left coordinate of the region to crop. The coordinate is a fractional value of the original image's height and is measured from the top, left corner of the image. Specify the coordinate as a value from 0.0 through 1.0. Use this parameter only with the Insights API. Do not specify this parameter when calling the Images, Trending Images, or Web Search APIs.
          format: float
          in: query
          name: cal
          required: false
          type: number
          x-ms-client-name: CropLeft
        - description: The right coordinate of the region to crop. The coordinate is a fractional value of the original image's height and is measured from the top, left corner of the image. Specify the coordinate as a value from 0.0 through 1.0. Use this parameter only with the Insights API. Do not specify this parameter when calling the Images, Trending Images, or Web Search APIs.
          format: float
          in: query
          name: car
          required: false
          type: number
          x-ms-client-name: CropRight
        - description: The top coordinate of the region to crop. The coordinate is a fractional value of the original image's height and is measured from the top, left corner of the image. Specify the coordinate as a value from 0.0 through 1.0. Use this parameter only with the Insights API. Do not specify this parameter when calling the Images, Trending Images, or Web Search APIs.
          format: float
          in: query
          name: cat
          required: false
          type: number
          x-ms-client-name: CropTop
        - description: "The crop type to use when cropping the image based on the coordinates specified in the cal, cat, car, and cab parameters. The following are the possible values. 0: Rectangular (default). Use this parameter only with the Insights API. Do not specify this parameter when calling the Images, Trending Images, or Web Search APIs."
          enum:
            - Rectangular
          in: query
          name: ct
          required: false
          type: string
          x-ms-client-name: CropType
          x-ms-enum:
            modelAsString: true
            name: ImageCropType
        - description: A 2-character country code of the country where the results come from. For a list of possible values, see [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#market-codes). If you set this parameter, you must also specify the [Accept-Language](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#acceptlanguage) header. Bing uses the first supported language it finds from the languages list, and combine that language with the country code that you specify to determine the market to return results for. If the languages list does not include a supported language, Bing finds the closest language and market that supports the request, or it may use an aggregated or default market for the results instead of a specified one. You should use this query parameter and the Accept-Language query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. This parameter and the [mkt](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#mkt) query parameter are mutually exclusive—do not specify both.
          in: query
          name: cc
          required: false
          type: string
          x-ms-client-name: CountryCode
        - description: An ID that uniquely identifies an image. Use this parameter to ensure that the specified image is the first image in the list of images that Bing returns. The [Image](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#image) object's imageId field contains the ID that you set this parameter to.
          in: query
          name: id
          required: false
          type: string
          x-ms-client-name: Id
        - description: The URL of an image that you want to get insights of. Use this parameter as an alternative to using the insightsToken parameter to specify the image. You may also specify the image by placing the binary of the image in the body of a POST request. If you use the binary option, see the [Content-Type](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#contenttype) header. The maximum supported image size is 1 MB. Use this parameter only with the Insights API. Do not specify this parameter when calling the Images, Trending Images, or Web Search APIs.
          in: query
          name: imgUrl
          required: false
          type: string
          x-ms-client-name: ImageUrl
        - description: An image token. The [Image](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#image) object's [imageInsightsToken](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#image-imageinsightstoken) contains the token. Specify this parameter to get additional information about an image, such as a caption or shopping source. For a list of the additional information about an image that you can get, see the [modules](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#modulesrequested) query parameter. Use this parameter only with the Insights API. Do not specify this parameter when calling the Images, Trending Images, or Web Search APIs.
          in: query
          name: insightsToken
          required: false
          type: string
          x-ms-client-name: InsightsToken
        - collectionFormat: csv
          description: "A comma-delimited list of insights to request. The following are the possible case-insensitive values. All: Return all insights, if available, except RecognizedEntities. BRQ: Best representative query. The query term that best describes the image. Caption: A caption that provides information about the image. If the caption contains entities, the response may include links to images of those entities. Collections: A list of related images. Recipes: A list of recipes for cooking the food shown in the images. PagesIncluding: A list of webpages that include the image. RecognizedEntities: A list of entities (people) that were recognized in the image. NOTE: You may not specify this module with any other module. If you specify it with other modules, the response doesn't include recognized entities. RelatedSearches: A list of related searches made by others. ShoppingSources: A list of merchants where you can buy related offerings. SimilarImages: A list of images that are visually similar to the original image. SimilarProducts: A list of images that contain a product that is similar to a product found in the original image. Tags: Provides characteristics of the type of content found in the image. For example, if the image is of a person, the tags might indicate the person's gender and type of clothes they're wearing. If you specify a module and there is no data for the module, the response object doesn't include the related field. For example, if you specify Caption and it does not exist, the response doesn't include the imageCaption field. To include related searches, the request must include the original query string. Although the original query string is not required for similar images or products, you should always include it because it can help improve relevance and the results. Use this parameter only with the Insights API. Do not specify this parameter when calling the Images, Trending Images, or Web Search APIs."
          in: query
          items:
            enum:
              - All
              - BRQ
              - Caption
              - Collections
              - Recipes
              - PagesIncluding
              - RecognizedEntities
              - RelatedSearches
              - ShoppingSources
              - SimilarImages
              - SimilarProducts
              - Tags
            type: string
            x-ms-enum:
              modelAsString: true
              name: ImageInsightModule
          name: modules
          required: false
          type: array
          x-ms-client-name: Modules
        - description: "The market where the results come from. Typically, mkt is the country where the user is making the request from. However, it could be a different country if the user is not located in a country where Bing delivers results. The market must be in the form <language code>-<country code>. For example, en-US. The string is case insensitive. For a list of possible market values, see [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#market-codes). NOTE: If known, you are encouraged to always specify the market. Specifying the market helps Bing route the request and return an appropriate and optimal response. If you specify a market that is not listed in [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#market-codes), Bing uses a best fit market code based on an internal mapping that is subject to change. This parameter and the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#cc) query parameter are mutually exclusive—do not specify both."
          in: query
          name: mkt
          required: false
          type: string
          x-ms-client-name: Market
        - description: The user's search query term. The term cannot be empty. The term may contain [Bing Advanced Operators](http://msdn.microsoft.com/library/ff795620.aspx). For example, to limit images to a specific domain, use the [site:](http://msdn.microsoft.com/library/ff795613.aspx) operator. To help improve relevance of an insights query (see [insightsToken](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#insightstoken)), you should always include the user's query term. Use this parameter only with the Image Search API.Do not specify this parameter when calling the Trending Images API.
          in: query
          name: q
          required: true
          type: string
          x-ms-client-name: Query
        - description: "Filter images for adult content. The following are the possible filter values. Off: May return images with adult content. If the request is through the Image Search API, the response includes thumbnail images that are clear (non-fuzzy). However, if the request is through the Web Search API, the response includes thumbnail images that are pixelated (fuzzy). Moderate: If the request is through the Image Search API, the response doesn't include images with adult content. If the request is through the Web Search API, the response may include images with adult content (the thumbnail images are pixelated (fuzzy)). Strict: Do not return images with adult content. The default is Moderate. If the request comes from a market that Bing's adult policy requires that safeSearch is set to Strict, Bing ignores the safeSearch value and uses Strict. If you use the site: query operator, there is the chance that the response may contain adult content regardless of what the safeSearch query parameter is set to. Use site: only if you are aware of the content on the site and your scenario supports the possibility of adult content."
          enum:
            - Off
            - Moderate
            - Strict
          in: query
          name: safeSearch
          required: false
          type: string
          x-ms-client-name: SafeSearch
          x-ms-enum:
            modelAsString: true
            name: SafeSearch
        - description: The language to use for user interface strings. Specify the language using the ISO 639-1 2-letter language code. For example, the language code for English is EN. The default is EN (English). Although optional, you should always specify the language. Typically, you set setLang to the same language specified by mkt unless the user wants the user interface strings displayed in a different language. This parameter and the [Accept-Language](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-images-api-v7-reference#acceptlanguage) header are mutually exclusive; do not specify both. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Also, any links to Bing.com properties in the response objects apply the specified language.
          in: query
          name: setLang
          required: false
          type: string
          x-ms-client-name: SetLang
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/ImageInsights"
        default:
          description: An error has occurred. Check the response type and/or status code for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: The Image Detail Search API lets you search on Bing and get back insights about an image, such as webpages that include the image. This section provides technical details about the query parameters and headers that you use to request insights of images and the JSON response objects that contain them. For examples that show how to make requests, see [Searching the Web for Images](https://docs.microsoft.com/azure/cognitive-services/bing-image-search/search-the-web).
      tags:
        - ImageDetailSearch
      x-ms-examples:
        Successful image detail:
          parameters:
            Ocp-Apim-Subscription-Key: "{API key}"
            X-BingApis-SDK: "true"
          responses:
            "200":
              body:
                _type: ImageInsights
                bestRepresentativeQuery:
                  displayText: Edgar Degas Paintings
                  text: Edgar Degas Paintings
                  webSearchUrl: https://www.bing.com/images/search?q=Edgar+Degas+Paintings&id=3B429ACA76F93D5417A3F0D646E96520CE704B3F&FORM=IDBQDM
                imageCaption:
                  caption: Degas was most known for his dance images.
                  dataSourceUrl: http://artsandfacts.blogspot.co.uk/2012_02_01_archive.html
                  relatedSearches: []
                imageInsightsToken: bcid_2B63103C3B473829DCC4F03074E157E6*ccid_sGbXtPJL*mid_3B429ACA76F93D5417A3F0D646E96520CE704B3F*simid_608000193735756642
                imageTags:
                  value:
                    - name: degas ballerina sculpture
                    - name: degas paintings
                    - name: ballet paintings
                    - name: art
                    - name: impressionist paintings
                    - name: oil painting
                    - name: painting
                    - name: degas dancers
                    - name: famous paintings
                    - name: degas
                pagesIncluding:
                  value:
                    - accentColor: "996732"
                      contentSize: 108648 B
                      contentUrl: http://arts-wallpapers.com/paintings/edgar-degas-painting-art/images/degas-009.jpg
                      datePublished: 2012-08-02T12:00:00.0000000Z
                      encodingFormat: jpeg
                      height: 768
                      hostPageDisplayUrl: work-of-junk.blogspot.com/2012/08/day-6-artist-of-day-degas.html
                      hostPageUrl: http://work-of-junk.blogspot.com/2012/08/day-6-artist-of-day-degas.html
                      imageId: F73C72C3B3328B2DEE89F34B4E4EACAFE21CC40F
                      imageInsightsToken: ccid_ekwShWf2*mid_F73C72C3B3328B2DEE89F34B4E4EACAFE21CC40F*simid_608024679330612493*thid_OIP.ekwShWf2KqzA5w5mng9lQQEgDY
                      name: "work of junk: Day 6|| Artist of the day// Degas"
                      thumbnail:
                        height: 216
                        width: 288
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP.ekwShWf2KqzA5w5mng9lQQEgDY&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=F73C72C3B3328B2DEE89F34B4E4EACAFE21CC40F&simid=608024679330612493
                      width: 1024
                    - accentColor: "996732"
                      contentSize: 108428 B
                      contentUrl: http://4.bp.blogspot.com/-FIb7AI4wJQQ/T0V9ccRW2UI/AAAAAAAAATo/nu7_-XkL77M/s1600/002.jpg
                      datePublished: 2012-02-22T12:00:00.0000000Z
                      encodingFormat: jpeg
                      height: 768
                      hostPageDisplayUrl: artsandfacts.blogspot.com/2012/02/episode-20-edgar-degas.html
                      hostPageUrl: http://artsandfacts.blogspot.com/2012/02/episode-20-edgar-degas.html
                      imageId: 3B429ACA76F93D5417A3F0D646E96520CE704B3F
                      imageInsightsToken: ccid_sGbXtPJL*mid_3B429ACA76F93D5417A3F0D646E96520CE704B3F*simid_608000193748862912*thid_OIP.sGbXtPJLgOt8i\_88mVkJDgEsDh
                      name: "Arts and Facts: Episode 20: Edgar Degas"
                      thumbnail:
                        height: 225
                        width: 300
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OIP.sGbXtPJLgOt8i_88mVkJDgEsDh&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=3B429ACA76F93D5417A3F0D646E96520CE704B3F&simid=608000193748862912
                      width: 1024
                    - accentColor: 9F6A2C
                      contentSize: 36579 B
                      contentUrl: http://1.bp.blogspot.com/-AE5t-SYyVEI/T31b1rznW4I/AAAAAAAAAUI/ET-dVV4nNgE/s320/Degas-LEtoileonlestage-1877.jpg
                      datePublished: 2012-04-05T12:00:00.0000000Z
                      encodingFormat: jpeg
                      height: 240
                      hostPageDisplayUrl: romantic-wonders.blogspot.com/2012/04/edgar-degas-18341917-no...
                      hostPageUrl: http://romantic-wonders.blogspot.com/2012/04/edgar-degas-18341917-no-comment.html
                      imageId: FCE20A62220B755C0953F8AF83B8CA11B5926527
                      imageInsightsToken: ccid_9hO2pMzK*mid_FCE20A62220B755C0953F8AF83B8CA11B5926527*simid_608020367159462423*thid_OIP.9hO2pMzK5keJw\_v8H0phzgEgDY
                      name: "Romantic Wonders....................: Edgar Degas (1834-1917) - No comment"
                      thumbnail:
                        height: 216
                        width: 288
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP.9hO2pMzK5keJw_v8H0phzgEgDY&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=FCE20A62220B755C0953F8AF83B8CA11B5926527&simid=608020367159462423
                      width: 320
                    - accentColor: 614B30
                      contentSize: 49574 B
                      contentUrl: https://s-media-cache-ak0.pinimg.com/564x/11/4d/89/114d89973371f06d71b08932b25650e1.jpg
                      datePublished: 2017-04-16T04:50:00.0000000Z
                      encodingFormat: jpeg
                      height: 423
                      hostPageDisplayUrl: https://nl.pinterest.com/pin/473652085780027053
                      hostPageUrl: https://nl.pinterest.com/pin/473652085780027053/
                      imageId: 16CD9A534052DB93867993963C66AA68762E78FC
                      imageInsightsToken: ccid_xJv3Hdjn*mid_16CD9A534052DB93867993963C66AA68762E78FC*simid_608040566435286953*thid_OIP.xJv3HdjnAEYq1nqOK8eDlwEsDh
                      name: Ballerina Edgar Degas - Inspiration Modern Art | Pinterest - Degas ballerina, Verliefd en Monet
                      thumbnail:
                        height: 225
                        width: 300
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OIP.xJv3HdjnAEYq1nqOK8eDlwEsDh&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=16CD9A534052DB93867993963C66AA68762E78FC&simid=608040566435286953
                      width: 564
                    - accentColor: "996732"
                      contentSize: 108428 B
                      contentUrl: http://4.bp.blogspot.com/-FIb7AI4wJQQ/T0V9ccRW2UI/AAAAAAAAATo/nu7_-XkL77M/s1600/002.jpg
                      datePublished: 2016-12-04T08:32:00.0000000Z
                      encodingFormat: jpeg
                      height: 768
                      hostPageDisplayUrl: www.picstopin.com/1341/danse-degas/http:||upload*wikimedia*org...
                      hostPageUrl: http://www.picstopin.com/1341/danse-degas/http:%7C%7Cupload*wikimedia*org%7Cwikipedia%7Ccommons%7Cb%7Cb9%7CDanseuse2_degas_Musee_Orsay*jpg/
                      imageId: 0F0B5401CD7F44AC75A7F0D646E96520CE704B3F
                      imageInsightsToken: ccid_sGbXtPJL*mid_0F0B5401CD7F44AC75A7F0D646E96520CE704B3F*simid_608050157068684401*thid_OIP.sGbXtPJLgOt8i\_88mVkJDgEsDh
                      name: Pin Danse Degas on Pinterest
                      thumbnail:
                        height: 225
                        width: 300
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OIP.sGbXtPJLgOt8i_88mVkJDgEsDh&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=0F0B5401CD7F44AC75A7F0D646E96520CE704B3F&simid=608050157068684401
                      width: 1024
                    - accentColor: 125BB2
                      contentSize: 100035 B
                      contentUrl: https://diablusinmusica.files.wordpress.com/2017/04/naxos-25th-anniversary-2-great-ballet.jpg
                      datePublished: 2017-08-13T22:51:00.0000000Z
                      encodingFormat: jpeg
                      height: 500
                      hostPageDisplayUrl: https://classicalpippo9.com/2017/08/13/naxos-25th-anniversary-2...
                      hostPageUrl: https://classicalpippo9.com/2017/08/13/naxos-25th-anniversary-2-great-ballet-box-set-10cds/
                      imageId: A4393217EB9E11FF2B42016BA37D1F8D8EFF5579
                      imageInsightsToken: ccid_woqPe64K*mid_A4393217EB9E11FF2B42016BA37D1F8D8EFF5579*simid_608012889686609183*thid_OIP.woqPe64KgTf\_PFC8\_vTy3AD9D2
                      name: Naxos 25th Anniversary 2 - Great Ballet - Box Set 10CDs | Diabolus In Musica
                      thumbnail:
                        height: 246
                        width: 253
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP.woqPe64KgTf_PFC8_vTy3AD9D2&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=A4393217EB9E11FF2B42016BA37D1F8D8EFF5579&simid=608012889686609183
                      width: 515
                    - accentColor: "996732"
                      contentSize: 108428 B
                      contentUrl: http://4.bp.blogspot.com/-FIb7AI4wJQQ/T0V9ccRW2UI/AAAAAAAAATo/nu7_-XkL77M/s1600/002.jpg
                      datePublished: 2017-07-06T20:11:00.0000000Z
                      encodingFormat: jpeg
                      height: 768
                      hostPageDisplayUrl: artsandfacts.blogspot.com.ar/2012/02/episode-20-edgar-degas.html
                      hostPageUrl: http://artsandfacts.blogspot.com.ar/2012/02/episode-20-edgar-degas.html
                      imageId: 86451AF0FCAF26574231F0D646E96520CE704B3F
                      imageInsightsToken: ccid_sGbXtPJL*mid_86451AF0FCAF26574231F0D646E96520CE704B3F*simid_608049834944892467*thid_OIP.sGbXtPJLgOt8i\_88mVkJDgEsDh
                      name: "Arts and Facts: Episode 20: Edgar Degas"
                      thumbnail:
                        height: 225
                        width: 300
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OIP.sGbXtPJLgOt8i_88mVkJDgEsDh&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=86451AF0FCAF26574231F0D646E96520CE704B3F&simid=608049834944892467
                      width: 1024
                    - accentColor: "996832"
                      contentSize: 100037 B
                      contentUrl: http://4.bp.blogspot.com/-d17XdPF0-DY/URTdpgY1pnI/AAAAAAAAGAY/PHqy5h1kD70/s640/ballerina_art.jpg
                      datePublished: 2015-07-26T20:12:00.0000000Z
                      encodingFormat: jpeg
                      height: 480
                      hostPageDisplayUrl: clubfashionista.blogspot.com/2013/02/ballerinas.html
                      hostPageUrl: http://clubfashionista.blogspot.com/2013/02/ballerinas.html
                      imageId: 65CDC1B7B11C14E53510E671FF59C606D2128A46
                      imageInsightsToken: ccid_0fE4279Z*mid_65CDC1B7B11C14E53510E671FF59C606D2128A46*simid_608009707061055072*thid_OIP.0fE4279ZCxAhwr7SWKHnfAEsDh
                      name: We are a global lifestyle, travel and fashion guide. Read more about the latest trends around ...
                      thumbnail:
                        height: 225
                        width: 300
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP.0fE4279ZCxAhwr7SWKHnfAEsDh&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=65CDC1B7B11C14E53510E671FF59C606D2128A46&simid=608009707061055072
                      width: 640
                    - accentColor: "996832"
                      contentSize: 100037 B
                      contentUrl: http://4.bp.blogspot.com/-d17XdPF0-DY/URTdpgY1pnI/AAAAAAAAGAY/PHqy5h1kD70/s640/ballerina_art.jpg
                      datePublished: 2015-05-10T15:43:00.0000000Z
                      encodingFormat: jpeg
                      height: 480
                      hostPageDisplayUrl: clubfashionista.com/2013/02/ballerinas.html
                      hostPageUrl: http://clubfashionista.com/2013/02/ballerinas.html
                      imageId: 3343F205D0B336929DB9E671FF59C606D2128A46
                      imageInsightsToken: ccid_0fE4279Z*mid_3343F205D0B336929DB9E671FF59C606D2128A46*simid_608036765365177757*thid_OIP.0fE4279ZCxAhwr7SWKHnfAEsDh
                      name: We are a global lifestyle, travel and fashion guide. Read more about the latest trends around ...
                      thumbnail:
                        height: 225
                        width: 300
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP.0fE4279ZCxAhwr7SWKHnfAEsDh&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=3343F205D0B336929DB9E671FF59C606D2128A46&simid=608036765365177757
                      width: 640
                    - accentColor: 966A35
                      contentSize: 6999 B
                      contentUrl: http://hdwallpapers.cat/thumbnail-small/degas_painting_dance_delicate_emotion_hd-wallpaper-499903.jpg
                      datePublished: 2016-09-14T08:35:00.0000000Z
                      encodingFormat: jpeg
                      height: 126
                      hostPageDisplayUrl: hdwallpapers.cat/degas
                      hostPageUrl: http://hdwallpapers.cat/degas
                      imageId: 4C69BF47DA3E3742C5DE6AB216735CF53E7D647D
                      imageInsightsToken: ccid_1VI675ot*mid_4C69BF47DA3E3742C5DE6AB216735CF53E7D647D*simid_607988017479354882*thid_OIP.1VI675otVbGEu-qbtl18-ADgB-
                      name: Degas HD Wallpapers
                      thumbnail:
                        height: 126
                        width: 224
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP.1VI675otVbGEu-qbtl18-ADgB-&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=4C69BF47DA3E3742C5DE6AB216735CF53E7D647D&simid=607988017479354882
                      width: 224
                    - accentColor: "996732"
                      contentSize: 108648 B
                      contentUrl: http://www.arts-wallpapers.com/paintings/edgar-degas-painting-art/images/degas-009.jpg
                      datePublished: 2017-07-21T16:47:00.0000000Z
                      encodingFormat: jpeg
                      height: 768
                      hostPageDisplayUrl: work-of-junk.blogspot.com/2012_08_01_archive.html
                      hostPageUrl: http://work-of-junk.blogspot.com/2012_08_01_archive.html
                      imageId: CD78342C41A4C8729303F34B4E4EACAFE21CC40F
                      imageInsightsToken: ccid_ekwShWf2*mid_CD78342C41A4C8729303F34B4E4EACAFE21CC40F*simid_608042795491852741*thid_OIP.ekwShWf2KqzA5w5mng9lQQEgDY
                      name: "work of junk: August 2012"
                      thumbnail:
                        height: 216
                        width: 288
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP.ekwShWf2KqzA5w5mng9lQQEgDY&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=CD78342C41A4C8729303F34B4E4EACAFE21CC40F&simid=608042795491852741
                      width: 1024
                    - accentColor: "996732"
                      contentSize: 108648 B
                      contentUrl: http://arts-wallpapers.com/paintings/edgar-degas-painting-art/images/degas-009.jpg
                      datePublished: 2012-02-11T19:04:00.0000000Z
                      encodingFormat: jpeg
                      height: 768
                      hostPageDisplayUrl: www.arts-wallpapers.com/paintings/edgar-degas-painting-art...
                      hostPageUrl: http://www.arts-wallpapers.com/paintings/edgar-degas-painting-art/imagepages/image9.htm
                      imageId: 0FB2E9868502DECD2542F34B4E4EACAFE21CC40F
                      imageInsightsToken: ccid_ekwShWf2*mid_0FB2E9868502DECD2542F34B4E4EACAFE21CC40F*simid_608031847649314122*thid_OIP.ekwShWf2KqzA5w5mng9lQQEgDY
                      name: Edgar Degas Paintings, Prints, Posters
                      thumbnail:
                        height: 216
                        width: 288
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP.ekwShWf2KqzA5w5mng9lQQEgDY&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=0FB2E9868502DECD2542F34B4E4EACAFE21CC40F&simid=608031847649314122
                      width: 1024
                    - accentColor: 9D6C2E
                      contentSize: 262480 B
                      contentUrl: http://1.bp.blogspot.com/-yr9IXwIKTmA/VS5npSS09RI/AAAAAAAAAwA/iNpfeSrccCs/s1600/Danza.jpg
                      datePublished: 2015-04-15T17:34:00.0000000Z
                      encodingFormat: jpeg
                      height: 1200
                      hostPageDisplayUrl: elblogdeasolapoargentina.blogspot.com/2015/04/a-bailarina-escribe...
                      hostPageUrl: http://elblogdeasolapoargentina.blogspot.com/2015/04/a-bailarina-escribe-maria-ines-de-paula.html
                      imageId: E24677FEDB98ACB7001AD82540C1712D26B7E39C
                      imageInsightsToken: ccid_9/M3wVyN*mid_E24677FEDB98ACB7001AD82540C1712D26B7E39C*simid_608033131847812120*thid_OIP.9\_M3wVyNijZQ9AMbO1f\_rgEsDh
                      name: "ASOLAPO ARGENTINA: A BAILARINA, escribe MARA INS DE PAULA BOMFIM, poeta y escritora de Belo ..."
                      thumbnail:
                        height: 225
                        width: 300
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OIP.9_M3wVyNijZQ9AMbO1f_rgEsDh&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=E24677FEDB98ACB7001AD82540C1712D26B7E39C&simid=608033131847812120
                      width: 1600
                    - accentColor: 9F6A2C
                      contentSize: 64873 B
                      contentUrl: http://f.share.photo.xuite.net/maggie0313/1f2a1ee/10309907/472798939_m.jpg
                      datePublished: 2017-10-11T10:23:00.0000000Z
                      encodingFormat: jpeg
                      height: 375
                      hostPageDisplayUrl: maggie313824.blogspot.com/2012/05/blog-post_2299.html
                      hostPageUrl: http://maggie313824.blogspot.com/2012/05/blog-post_2299.html
                      imageId: D46FEB14B950D31989F77326208E459B53A6B7ED
                      imageInsightsToken: ccid_12sTM/6w*mid_D46FEB14B950D31989F77326208E459B53A6B7ED*simid_608026328563646568*thid_OIP.12sTM\_6wEt1GPW1cO8ixPgEsDh
                      name: Degas
                      thumbnail:
                        height: 225
                        width: 300
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.12sTM_6wEt1GPW1cO8ixPgEsDh&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=D46FEB14B950D31989F77326208E459B53A6B7ED&simid=608026328563646568
                      width: 500
                    - accentColor: "472008"
                      contentSize: 18448 B
                      contentUrl: http://www.arte-line.com/foto_piccole/Hilaire-Germain-Edgar_Degas_The_Star_piccolam.jpg
                      datePublished: 2017-06-14T13:49:00.0000000Z
                      encodingFormat: jpeg
                      height: 260
                      hostPageDisplayUrl: www.arte-line.com/moderni19.html
                      hostPageUrl: http://www.arte-line.com/moderni19.html
                      imageId: D34684A79843310910C2AB17141C794574ED9061
                      imageInsightsToken: ccid_QumkATh6*mid_D34684A79843310910C2AB17141C794574ED9061*simid_608023854684376837*thid_OIP.QumkATh6N641ngKrc1JGmwC2EE
                      name: Arte-line vendita riproduzioni ad olio su tela copie dipinti
                      thumbnail:
                        height: 260
                        width: 182
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.QumkATh6N641ngKrc1JGmwC2EE&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=D34684A79843310910C2AB17141C794574ED9061&simid=608023854684376837
                      width: 182
                    - accentColor: 9A6D31
                      contentSize: 13735 B
                      contentUrl: http://3.bp.blogspot.com/-IMkp2XbhKYQ/VS71TO9KLEI/AAAAAAAAEvE/Dxr5rj9ffug/s1600/th-11.jpeg
                      datePublished: 2015-04-17T12:00:00.0000000Z
                      encodingFormat: jpeg
                      height: 225
                      hostPageDisplayUrl: homeschoolingwith.blogspot.com/2015/04/normal-0-false-false-false...
                      hostPageUrl: http://homeschoolingwith.blogspot.com/2015/04/normal-0-false-false-false-en-us-ja-x.html
                      imageId: D0EEDC5EDA869DEEA8B8AC15485E86372709ED3F
                      imageInsightsToken: ccid_/yrWxSxA*mid_D0EEDC5EDA869DEEA8B8AC15485E86372709ED3F*simid_608027080203897827*thid_OIP.\_yrWxSxArxnd9o6dLVitWAEgDY
                      name: "Homeschool Happenings: ARTistic Pursuits ~ High School Color and Composition, Book Two"
                      thumbnail:
                        height: 216
                        width: 288
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP._yrWxSxArxnd9o6dLVitWAEgDY&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=D0EEDC5EDA869DEEA8B8AC15485E86372709ED3F&simid=608027080203897827
                      width: 300
                    - accentColor: 69480F
                      contentSize: 124552 B
                      contentUrl: http://www.delfi.rs/_img/artikli/2016/08/fr_ogledalce_degas_the_star_vv.jpg
                      datePublished: 2017-10-29T02:09:00.0000000Z
                      encodingFormat: jpeg
                      height: 400
                      hostPageDisplayUrl: www.delfi.rs/gift/96447_ogledalce_edgar_degas_-_the_star_gift_delfi...
                      hostPageUrl: http://www.delfi.rs/gift/96447_ogledalce_edgar_degas_-_the_star_gift_delfi_knjizare.html
                      imageId: 959790F22163DD958D32BACA7F8DF08AC26CFE2C
                      imageInsightsToken: ccid_o35nAnIn*mid_959790F22163DD958D32BACA7F8DF08AC26CFE2C*simid_608022415894252473*thid_OIP.o35nAnInpEsbyVhfU462swEsEs
                      name: Ogledalce, Edgar Degas - The Star - | Delfi knjiare | Sve dobre knjige na jednom mestu
                      thumbnail:
                        height: 300
                        width: 300
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OIP.o35nAnInpEsbyVhfU462swEsEs&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=959790F22163DD958D32BACA7F8DF08AC26CFE2C&simid=608022415894252473
                      width: 400
                    - accentColor: 9B7930
                      contentSize: 38263 B
                      contentUrl: http://www.mondragon-plus.com/images4/France_arts08.jpg
                      datePublished: 2017-06-12T23:17:00.0000000Z
                      encodingFormat: jpeg
                      height: 553
                      hostPageDisplayUrl: www.mondragon-plus.com/France_des_arts.htm
                      hostPageUrl: http://www.mondragon-plus.com/France_des_arts.htm
                      imageId: 07CE51F2603EB6BC45C8AB2F865C5D87B9DCB270
                      imageInsightsToken: ccid_AHtIwOEg*mid_07CE51F2603EB6BC45C8AB2F865C5D87B9DCB270*simid_608045076122044467*thid_OIP.AHtIwOEgvdiTiung5BpBLwDbEd
                      name: La France des arts par Marie
                      thumbnail:
                        height: 285
                        width: 219
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OIP.AHtIwOEgvdiTiung5BpBLwDbEd&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=07CE51F2603EB6BC45C8AB2F865C5D87B9DCB270&simid=608045076122044467
                      width: 425
                    - accentColor: 9D6B2E
                      contentSize: 16369 B
                      contentUrl: http://ecx.images-amazon.com/images/I/51cyLL4L1lL._SY300_QL70_.jpg
                      datePublished: 2012-08-08T17:47:00.0000000Z
                      encodingFormat: jpeg
                      height: 300
                      hostPageDisplayUrl: amazon.co.jp/-...
                      hostPageUrl: http://amazon.co.jp/%C3%A3%C2%82%C2%A2%C3%A3%C2%83%C2%80%C3%A3%C2%83%C2%B3-%C3%A3%C2%83%C2%90%C3%A3%C2%83%C2%AC%C3%A3%C2%82%C2%A8%C3%A9%C2%9F%C2%B3%C3%A6%C2%A5%C2%BD%C3%A3%C2%80%C2%8C%C3%A3%C2%82%C2%B8%C3%A3%C2%82%C2%BC%C3%A3%C2%83%C2%AB-%C3%A3%C2%81%C2%BE%C3%A3%C2%81%C2%9F%C3%A3%C2%81%C2%AF%C3%A3%C2%82%C2%A6%C3%A3%C2%82%C2%A3%C3%A3%C2%83%C2%AA%C3%A3%C2%81%C2%9F%C3%A3%C2%81%C2%A1%C3%A3%C2%80%C2%8D-%C3%A3%C2%83%C2%8F%C3%A3%C2%82%C2%A4%C3%A3%C2%83%C2%A9%C3%A3%C2%82%C2%A4%C3%A3%C2%83%C2%88/dp/b0089vj5oo
                      imageId: B0AFBF5ADD2A5F0705AD292E182C9A9905448271
                      imageInsightsToken: ccid_UC6GvBKi*mid_B0AFBF5ADD2A5F0705AD292E182C9A9905448271*simid_607990061890602744*thid_OIP.UC6GvBKiFkjrvEhy8v9uUAEsEs
                      name: Amazon.co.jp
                      thumbnail:
                        height: 300
                        width: 300
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.UC6GvBKiFkjrvEhy8v9uUAEsEs&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=B0AFBF5ADD2A5F0705AD292E182C9A9905448271&simid=607990061890602744
                      width: 300
                    - accentColor: "796852"
                      contentSize: 23407 B
                      contentUrl: http://bilder.buecher.de/produkte/13/13188/13188772z.jpg
                      datePublished: 2017-04-16T23:34:00.0000000Z
                      encodingFormat: jpeg
                      height: 418
                      hostPageDisplayUrl: www.buecher.de/shop/buecher/edgar-degas-1834-1917/growe-bernd...
                      hostPageUrl: http://www.buecher.de/shop/buecher/edgar-degas-1834-1917/growe-bernd/products_products/detail/prod_id/13188772/
                      imageId: 9C668B09D334957B745F3D500DB8D129F4FC7776
                      imageInsightsToken: ccid_31ZQky4x*mid_9C668B09D334957B745F3D500DB8D129F4FC7776*simid_608025353623833656*thid_OIP.31ZQky4xXXn3fqYMFewhIwD0Es
                      name: Edgar Degas 1834-1917 von Bernd Growe - Buch - buecher.de
                      thumbnail:
                        height: 300
                        width: 244
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OIP.31ZQky4xXXn3fqYMFewhIwD0Es&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=9C668B09D334957B745F3D500DB8D129F4FC7776&simid=608025353623833656
                      width: 340
                    - accentColor: 9A6631
                      contentSize: 277046 B
                      contentUrl: http://fr.muzeo.com/sites/default/files/styles/image_facebook_repro/public/oeuvres/dessin/moderne/letoile_ou_danseuse_sur_sceene19518_0.jpg?itok=OxktZ2HK
                      datePublished: 2017-07-06T11:35:00.0000000Z
                      encodingFormat: png
                      height: 279
                      hostPageDisplayUrl: fr.muzeo.com/reproduction-oeuvre/letoile-ou-danseuse-sur-scene...
                      hostPageUrl: http://fr.muzeo.com/reproduction-oeuvre/letoile-ou-danseuse-sur-scene/degas-edgar-0
                      imageId: 1C8ADCC85FC7CB718F6C375432E2A2B62B8217BA
                      imageInsightsToken: ccid_7jV82BhV*mid_1C8ADCC85FC7CB718F6C375432E2A2B62B8217BA*simid_608049577268219087*thid_OIP.7jV82BhV495HIMJ-wchnqwFZC0
                      name: L'Etoile ou Danseuse sur scne de Degas Edgar - Reproduction d'art haut de gamme
                      thumbnail:
                        height: 180
                        width: 345
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OIP.7jV82BhV495HIMJ-wchnqwFZC0&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=1C8ADCC85FC7CB718F6C375432E2A2B62B8217BA&simid=608049577268219087
                      width: 534
                    - accentColor: 7C5E4F
                      contentSize: 119226 B
                      contentUrl: http://fildeleau.unblog.fr/files/2015/03/10406810_1005350366159741_7099954852988146901_n.jpg
                      datePublished: 2017-07-14T06:47:00.0000000Z
                      encodingFormat: jpeg
                      height: 960
                      hostPageDisplayUrl: fildeleau.unblog.fr/2015/03/27/degas-au-musee-des-impressionnistes...
                      hostPageUrl: http://fildeleau.unblog.fr/2015/03/27/degas-au-musee-des-impressionnistes-a-givery/
                      imageId: 5E7B88164E2782DDB91463F5EA8547ED2260A205
                      imageInsightsToken: ccid_OKOiuScA*mid_5E7B88164E2782DDB91463F5EA8547ED2260A205*simid_608026152468088776*thid_OIP.OKOiuScA6NzFdqhPMBE2AADSEs
                      name: DEGAS au Muse des impressionnistes  Givery | Au fil de l'eau
                      thumbnail:
                        height: 300
                        width: 210
                      thumbnailUrl: https://tse3.mm.bing.net/th?id=OIP.OKOiuScA6NzFdqhPMBE2AADSEs&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=5E7B88164E2782DDB91463F5EA8547ED2260A205&simid=608026152468088776
                      width: 674
                    - accentColor: 9F732C
                      contentSize: 164327 B
                      contentUrl: http://2.bp.blogspot.com/_s4KWGLo-TIw/S68NxQ5DzMI/AAAAAAAAAeI/C-D9SnvY97s/s1600/edgar_degas01_800.jpg
                      datePublished: 2017-07-31T03:35:00.0000000Z
                      encodingFormat: jpeg
                      height: 600
                      hostPageDisplayUrl: thereforus.blogspot.com/2010_03_28_archive.html
                      hostPageUrl: http://thereforus.blogspot.com/2010_03_28_archive.html
                      imageId: 8D6F5AD69638C8F392E0E54FFF60843DE237CD76
                      imageInsightsToken: ccid_9PnLmdw5*mid_8D6F5AD69638C8F392E0E54FFF60843DE237CD76*simid_608026401595656979*thid_OIP.9PnLmdw5NFv2InNr33LDHwEsDh
                      name: "There For Us--: 2010-03-28"
                      thumbnail:
                        height: 225
                        width: 300
                      thumbnailUrl: https://tse3.mm.bing.net/th?id=OIP.9PnLmdw5NFv2InNr33LDHwEsDh&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=8D6F5AD69638C8F392E0E54FFF60843DE237CD76&simid=608026401595656979
                      width: 800
                    - accentColor: 9A7B31
                      contentSize: 24931 B
                      contentUrl: https://muzei-mira.com/templates/museum/images/paint/zvezda-dega-.jpg
                      datePublished: 2017-07-05T19:57:00.0000000Z
                      encodingFormat: jpeg
                      height: 270
                      hostPageDisplayUrl: https://muzei-mira.com/kartini_francii/1506-zvezda-edgar-dega.html
                      hostPageUrl: https://muzei-mira.com/kartini_francii/1506-zvezda-edgar-dega.html
                      imageId: EA039D0E5D788A331D0AC31F3E923F6C6EE97222
                      imageInsightsToken: ccid_JuyC1Fw7*mid_EA039D0E5D788A331D0AC31F3E923F6C6EE97222*simid_608022192552675450*thid_OIP.JuyC1Fw74apUTUz7X9621AEHDt
                      name: Degas
                      thumbnail:
                        height: 237
                        width: 263
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.JuyC1Fw74apUTUz7X9621AEHDt&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=EA039D0E5D788A331D0AC31F3E923F6C6EE97222&simid=608022192552675450
                      width: 300
                    - accentColor: "996732"
                      contentSize: 108428 B
                      contentUrl: http://4.bp.blogspot.com/-FIb7AI4wJQQ/T0V9ccRW2UI/AAAAAAAAATo/nu7_-XkL77M/s1600/002.jpg
                      datePublished: 2016-04-09T10:09:00.0000000Z
                      encodingFormat: jpeg
                      height: 768
                      hostPageDisplayUrl: https://fr.pinterest.com/pin/531143349772678814
                      hostPageUrl: https://fr.pinterest.com/pin/531143349772678814/
                      imageId: 9E2A15B024DDECD23AD0F0D646E96520CE704B3F
                      imageInsightsToken: ccid_sGbXtPJL*mid_9E2A15B024DDECD23AD0F0D646E96520CE704B3F*simid_608037757504981097*thid_OIP.sGbXtPJLgOt8i\_88mVkJDgEsDh
                      name: pingl par graldine sur art | Pinterest | Edgar Degas, Pantoufles et Danseurs De Ballet
                      thumbnail:
                        height: 225
                        width: 300
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OIP.sGbXtPJLgOt8i_88mVkJDgEsDh&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=9E2A15B024DDECD23AD0F0D646E96520CE704B3F&simid=608037757504981097
                      width: 1024
                    - accentColor: 6D614D
                      contentSize: 34334 B
                      contentUrl: http://at.france.fr/sites/default/files/degas_etoile_c_paris_musee_dorsay_dist.rmn_-_grand_palais_patrice_schmidt_2.jpg
                      datePublished: 2015-04-15T01:05:00.0000000Z
                      encodingFormat: jpeg
                      height: 487
                      hostPageDisplayUrl: at.france.fr/de/info/grosse-ausstellungen-frankreich-2015
                      hostPageUrl: http://at.france.fr/de/info/grosse-ausstellungen-frankreich-2015
                      imageId: BD60392C33A79382448B3E7646CC06826B765FC5
                      imageInsightsToken: ccid_cI8PjwId*mid_BD60392C33A79382448B3E7646CC06826B765FC5*simid_607994412674582831*thid_OIP.cI8PjwId4zugnniTnuWb7AEsDz
                      name: Groe Ausstellungen in Frankreich - 2015 | Offizielle webseite fr tourismus in Frankreich
                      thumbnail:
                        height: 243
                        width: 300
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP.cI8PjwId4zugnniTnuWb7AEsDz&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=BD60392C33A79382448B3E7646CC06826B765FC5&simid=607994412674582831
                      width: 600
                    - accentColor: 6D614D
                      contentSize: 34334 B
                      contentUrl: http://france.fr/sites/default/files/degas_etoile_c_paris_musee_dorsay_dist.rmn_-_grand_palais_patrice_schmidt_0.jpg
                      datePublished: 2016-02-26T00:07:00.0000000Z
                      encodingFormat: jpeg
                      height: 487
                      hostPageDisplayUrl: france.fr/nl/tips/exposities-frankrijk-2015-0
                      hostPageUrl: http://france.fr/nl/tips/exposities-frankrijk-2015-0
                      imageId: EC173B0BF5A07C4D0096C3BA48654A014432D492
                      imageInsightsToken: ccid_cI8PjwId*mid_EC173B0BF5A07C4D0096C3BA48654A014432D492*simid_608052145635528332*thid_OIP.cI8PjwId4zugnniTnuWb7AEsDz
                      name: Exposities in Frankrijk in 2015 | Officile website voor toerisme in Frankrijk
                      thumbnail:
                        height: 243
                        width: 300
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP.cI8PjwId4zugnniTnuWb7AEsDz&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=EC173B0BF5A07C4D0096C3BA48654A014432D492&simid=608052145635528332
                      width: 600
                    - accentColor: "996732"
                      contentSize: 108428 B
                      contentUrl: http://4.bp.blogspot.com/-FIb7AI4wJQQ/T0V9ccRW2UI/AAAAAAAAATo/nu7_-XkL77M/s1600/002.jpg
                      datePublished: 2017-10-09T18:47:00.0000000Z
                      encodingFormat: jpeg
                      height: 768
                      hostPageDisplayUrl: https://www.ana.rs/forum/index.php?topic=149852.0
                      hostPageUrl: https://www.ana.rs/forum/index.php?topic=149852.0
                      imageId: 0EB031DA7954A300B635F0D646E96520CE704B3F
                      imageInsightsToken: ccid_sGbXtPJL*mid_0EB031DA7954A300B635F0D646E96520CE704B3F*simid_608050341751818834*thid_OIP.sGbXtPJLgOt8i\_88mVkJDgEsDh
                      name: Omiljeni slikar/slikarka ili period u umetnosti
                      thumbnail:
                        height: 225
                        width: 300
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OIP.sGbXtPJLgOt8i_88mVkJDgEsDh&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=0EB031DA7954A300B635F0D646E96520CE704B3F&simid=608050341751818834
                      width: 1024
                    - accentColor: "996732"
                      contentSize: 108428 B
                      contentUrl: http://4.bp.blogspot.com/-FIb7AI4wJQQ/T0V9ccRW2UI/AAAAAAAAATo/nu7_-XkL77M/s1600/002.jpg
                      datePublished: 2012-08-12T20:11:00.0000000Z
                      encodingFormat: jpeg
                      height: 768
                      hostPageDisplayUrl: www.ana.rs/forum/index.php?topic=149852.0
                      hostPageUrl: http://www.ana.rs/forum/index.php?topic=149852.0
                      imageId: 50D9FF7B20546526F3BBF0D646E96520CE704B3F
                      imageInsightsToken: ccid_sGbXtPJL*mid_50D9FF7B20546526F3BBF0D646E96520CE704B3F*simid_608020607678940133*thid_OIP.sGbXtPJLgOt8i\_88mVkJDgEsDh
                      name: Omiljeni slikar/slikarka ili period u umetnosti
                      thumbnail:
                        height: 225
                        width: 300
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OIP.sGbXtPJLgOt8i_88mVkJDgEsDh&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=50D9FF7B20546526F3BBF0D646E96520CE704B3F&simid=608020607678940133
                      width: 1024
                    - accentColor: 9F6A2C
                      contentSize: 140284 B
                      contentUrl: http://1.bp.blogspot.com/-EnFSV7IwTlQ/ThBxxSm5tEI/AAAAAAAAAac/KZ_i9RqsE0E/s1600/degas.jpg
                      datePublished: 2011-07-03T12:00:00.0000000Z
                      encodingFormat: jpeg
                      height: 768
                      hostPageDisplayUrl: tatianajustel.blogspot.com/2011/07/tatiana-leskova-uma-bailarina...
                      hostPageUrl: http://tatianajustel.blogspot.com/2011/07/tatiana-leskova-uma-bailarina-solta-no.html
                      imageId: B422DFC3EF275846D9DFBFC41C1FEF04A288AC31
                      imageInsightsToken: ccid_UwC0EbB6*mid_B422DFC3EF275846D9DFBFC41C1FEF04A288AC31*simid_607994721935886678*thid_OIP.UwC0EbB6atYQx\_sW6wb43gEsDh
                      name: "Au Revoir Et a Bientot / Fazendo Arte: TATIANA LESKOVA uma BAILARINA solta no Mundo"
                      thumbnail:
                        height: 225
                        width: 300
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP.UwC0EbB6atYQx_sW6wb43gEsDh&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=B422DFC3EF275846D9DFBFC41C1FEF04A288AC31&simid=607994721935886678
                      width: 1024
                    - accentColor: "857046"
                      contentSize: 21399 B
                      contentUrl: https://gss0.baidu.com/9fo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/8ad4b31c8701a18b6d810ff59c2f07082838fe26.jpg
                      datePublished: 2017-10-09T02:47:00.0000000Z
                      encodingFormat: jpeg
                      height: 246
                      hostPageDisplayUrl: https://zhidao.baidu.com/question/2052160984074273107.html
                      hostPageUrl: https://zhidao.baidu.com/question/2052160984074273107.html
                      imageId: B8A1D0A0AD0B744ABBFF7E610E941F3465E670EE
                      imageInsightsToken: ccid_Qas5kmgB*mid_B8A1D0A0AD0B744ABBFF7E610E941F3465E670EE*simid_608040562126226096*thid_OIP.Qas5kmgBa4jYpIH1wQxT7AD3D2
                      name: Degas
                      thumbnail:
                        height: 246
                        width: 247
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OIP.Qas5kmgBa4jYpIH1wQxT7AD3D2&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=B8A1D0A0AD0B744ABBFF7E610E941F3465E670EE&simid=608040562126226096
                      width: 247
                    - accentColor: 9A6D31
                      contentSize: 31544 B
                      contentUrl: https://img1.etsystatic.com/000/0/6500921/il_340x270.270972763.jpg
                      datePublished: 2016-10-02T10:59:00.0000000Z
                      encodingFormat: jpeg
                      height: 270
                      hostPageDisplayUrl: https://etsy.com/listing/183662873/danseuse-fin-darabesque-by-edgar...
                      hostPageUrl: https://etsy.com/listing/183662873/danseuse-fin-darabesque-by-edgar-degas
                      imageId: E39BB49D7221B3390658663DC522154CB030FF91
                      imageInsightsToken: ccid_cn4F3Tpz*mid_E39BB49D7221B3390658663DC522154CB030FF91*simid_608020294149145089*thid_OIP.cn4F3TpzHkS347nUo-SX9wEsDu
                      name: Items similar to Danseuse, Fin d'Arabesque by Edgar Degas beautiful fine art print in choice of ...
                      thumbnail:
                        height: 238
                        width: 300
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OIP.cn4F3TpzHkS347nUo-SX9wEsDu&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=E39BB49D7221B3390658663DC522154CB030FF91&simid=608020294149145089
                      width: 340
                    - accentColor: "996732"
                      contentSize: 108648 B
                      contentUrl: http://www.arts-wallpapers.com/paintings/edgar-degas-painting-art/images/degas-009.jpg
                      datePublished: 2016-09-10T03:18:00.0000000Z
                      encodingFormat: jpeg
                      height: 768
                      hostPageDisplayUrl: appsdirectories.com/edgar/edgar-degas-paintings-1024-x-768.html
                      hostPageUrl: http://appsdirectories.com/edgar/edgar-degas-paintings-1024-x-768.html
                      imageId: 366560BB13C297ABEDF5F34B4E4EACAFE21CC40F
                      imageInsightsToken: ccid_ekwShWf2*mid_366560BB13C297ABEDF5F34B4E4EACAFE21CC40F*simid_608048348904228454*thid_OIP.ekwShWf2KqzA5w5mng9lQQEgDY
                      name: Edgar Degas Paintings 1024 X 768 | Apps Directories
                      thumbnail:
                        height: 216
                        width: 288
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP.ekwShWf2KqzA5w5mng9lQQEgDY&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=366560BB13C297ABEDF5F34B4E4EACAFE21CC40F&simid=608048348904228454
                      width: 1024
                    - accentColor: 9B6C30
                      contentSize: 10936 B
                      contentUrl: https://s-media-cache-ak0.pinimg.com/236x/ab/e8/68/abe868eec64c8d81674c438d85a8dfee.jpg
                      datePublished: 2017-04-25T22:12:00.0000000Z
                      encodingFormat: jpeg
                      height: 177
                      hostPageDisplayUrl: https://www.pinterest.com/pin/397583473334047316
                      hostPageUrl: https://www.pinterest.com/pin/397583473334047316/
                      imageId: 236EB6067A19433164945500DB401129E2619F2E
                      imageInsightsToken: ccid_jRZDSkTK*mid_236EB6067A19433164945500DB401129E2619F2E*simid_608049611618321208*thid_OIP.jRZDSkTKXPSeHpX5A8xbygDsCx
                      name: LAST PREPARATIONS, BY CONSTANTINE LVOVICH | Beautiful, Ballet and Love this
                      thumbnail:
                        height: 177
                        width: 236
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OIP.jRZDSkTKXPSeHpX5A8xbygDsCx&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=236EB6067A19433164945500DB401129E2619F2E&simid=608049611618321208
                      width: 236
                    - accentColor: "796852"
                      contentSize: 18952 B
                      contentUrl: http://pictures.abebooks.com/isbn/9783822811337-de-300.jpg
                      datePublished: 2016-08-12T17:57:00.0000000Z
                      encodingFormat: jpeg
                      height: 368
                      hostPageDisplayUrl: www.abebooks.de/buch-suchen/titel/edgar-degas-1834-1917
                      hostPageUrl: http://www.abebooks.de/buch-suchen/titel/edgar-degas-1834-1917/
                      imageId: 26779A25409177E24477F514B44C8F21DDF3DC41
                      imageInsightsToken: ccid_5Way9jqE*mid_26779A25409177E24477F514B44C8F21DDF3DC41*simid_607986875048004904*thid_OIP.5Way9jqEneqTfyXmvz-tBAD0Es
                      name: edgar degas 1834 1917 - AbeBooks
                      thumbnail:
                        height: 300
                        width: 244
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP.5Way9jqEneqTfyXmvz-tBAD0Es&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=26779A25409177E24477F514B44C8F21DDF3DC41&simid=607986875048004904
                      width: 300
                    - accentColor: "996732"
                      contentSize: 108648 B
                      contentUrl: http://www.arts-wallpapers.com/paintings/edgar-degas-painting-art/images/degas-009.jpg
                      datePublished: 2016-11-21T13:13:00.0000000Z
                      encodingFormat: jpeg
                      height: 768
                      hostPageDisplayUrl: www.appsdirectories.com/edgar/edgar-degas-posters-buy-a-poster.html
                      hostPageUrl: http://www.appsdirectories.com/edgar/edgar-degas-posters-buy-a-poster.html
                      imageId: 7FB074835116E1AB3E75F34B4E4EACAFE21CC40F
                      imageInsightsToken: ccid_ekwShWf2*mid_7FB074835116E1AB3E75F34B4E4EACAFE21CC40F*simid_608022647812000300*thid_OIP.ekwShWf2KqzA5w5mng9lQQEgDY
                      name: Edgar Degas Posters Buy A Poster | Apps Directories
                      thumbnail:
                        height: 216
                        width: 288
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP.ekwShWf2KqzA5w5mng9lQQEgDY&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=7FB074835116E1AB3E75F34B4E4EACAFE21CC40F&simid=608022647812000300
                      width: 1024
                    - accentColor: 9F6A2C
                      contentSize: 140186 B
                      contentUrl: http://img.photobucket.com/albums/v382/lyonlamb/Degas-LEtoileonlestage-1877.jpg
                      datePublished: 2017-09-10T03:43:00.0000000Z
                      encodingFormat: jpeg
                      height: 768
                      hostPageDisplayUrl: enchantedink.forumcommunity.net/?t=48968942
                      hostPageUrl: http://enchantedink.forumcommunity.net/?t=48968942
                      imageId: 923F6D88D40FF038B69BCE09DDB7D1DF7D721AB1
                      imageInsightsToken: ccid_JIQz7Dbl*mid_923F6D88D40FF038B69BCE09DDB7D1DF7D721AB1*simid_608056036872949670*thid_OIP.JIQz7DblIGwRkkzijA6r7gEsDh
                      name: Edgar Degas
                      thumbnail:
                        height: 225
                        width: 300
                      thumbnailUrl: https://tse3.mm.bing.net/th?id=OIP.JIQz7DblIGwRkkzijA6r7gEsDh&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=923F6D88D40FF038B69BCE09DDB7D1DF7D721AB1&simid=608056036872949670
                      width: 1024
                    - accentColor: "986833"
                      contentSize: 79006 B
                      contentUrl: http://img217.imageshack.us/img217/1191/1111111d.jpg
                      datePublished: 2017-04-17T09:07:00.0000000Z
                      encodingFormat: jpeg
                      height: 768
                      hostPageDisplayUrl: www.gorselsanatlar.org/sanat-elestirisi/edgar-degas
                      hostPageUrl: http://www.gorselsanatlar.org/sanat-elestirisi/edgar-degas/
                      imageId: 10768B7BFD0BC0DF968E155B6413BB84279C4791
                      imageInsightsToken: ccid_ZVky22u/*mid_10768B7BFD0BC0DF968E155B6413BB84279C4791*simid_607989439122441745*thid_OIP.ZVky22u\_J1uc01WIaKRLZAEsDh
                      name: Edgar Degas
                      thumbnail:
                        height: 225
                        width: 300
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OIP.ZVky22u_J1uc01WIaKRLZAEsDh&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=10768B7BFD0BC0DF968E155B6413BB84279C4791&simid=607989439122441745
                      width: 1024
                    - accentColor: 9E682D
                      contentSize: 144839 B
                      contentUrl: http://item.shopping.c.yimg.jp/i/l/oriehankachinet_h-dg
                      datePublished: 2016-12-09T02:00:00.0000000Z
                      encodingFormat: jpeg
                      height: 600
                      hostPageDisplayUrl: store.shopping.yahoo.co.jp/oriehankachinet/h-dg.html
                      hostPageUrl: http://store.shopping.yahoo.co.jp/oriehankachinet/h-dg.html
                      imageId: 22EF1DA388E1DC91054D1A30C3C26B213D2E083D
                      imageInsightsToken: ccid_G12bK/Ag*mid_22EF1DA388E1DC91054D1A30C3C26B213D2E083D*simid_608016398631438578*thid_OIP.G12bK\_AgsdjYKpg7avGLwgEsEs
                      name: Yahoo! Search degas
                      thumbnail:
                        height: 300
                        width: 300
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP.G12bK_AgsdjYKpg7avGLwgEsEs&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=22EF1DA388E1DC91054D1A30C3C26B213D2E083D&simid=608016398631438578
                      width: 600
                    - accentColor: AF9D1C
                      contentSize: 20148 B
                      contentUrl: http://p8.qhmsg.com/dr/270_500_/t01822aa237b0ebfa3e.jpg?size=600x572
                      datePublished: 2016-02-15T13:20:00.0000000Z
                      encodingFormat: jpeg
                      height: 257
                      hostPageDisplayUrl: baike.so.com/doc/6375525-6589173.html
                      hostPageUrl: http://baike.so.com/doc/6375525-6589173.html
                      imageId: 6F8D333197DB49EB61FBDD4400C970335075B81C
                      imageInsightsToken: ccid_Rhqh9LG0*mid_6F8D333197DB49EB61FBDD4400C970335075B81C*simid_607992260929257944*thid_OIP.Rhqh9LG0eJdI\_AZ\_tJvpWQEOEB
                      name: _360
                      thumbnail:
                        height: 257
                        width: 270
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP.Rhqh9LG0eJdI_AZ_tJvpWQEOEB&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=6F8D333197DB49EB61FBDD4400C970335075B81C&simid=607992260929257944
                      width: 270
                    - accentColor: 614B30
                      contentSize: 119480 B
                      contentUrl: http://image.slidesharecdn.com/2-sigloxix-impresionismo-130527235857-phpapp02/95/2-siglo-xix-impresionismo-10-638.jpg?cb=1369699235
                      datePublished: 2016-11-23T23:26:00.0000000Z
                      encodingFormat: jpeg
                      height: 479
                      hostPageDisplayUrl: es.slideshare.net/banquetearte/2-siglo-xix-impresionismo
                      hostPageUrl: http://es.slideshare.net/banquetearte/2-siglo-xix-impresionismo
                      imageId: 6FA4D8CCBCC7E31F94DBB9E8016D8BADA8297A02
                      imageInsightsToken: ccid_ggDzL2Fr*mid_6FA4D8CCBCC7E31F94DBB9E8016D8BADA8297A02*simid_608055749112299527*thid_OIP.ggDzL2FrEKteunIHWty-QwEgDY
                      name: 2. siglo xix. impresionismo
                      thumbnail:
                        height: 216
                        width: 288
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OIP.ggDzL2FrEKteunIHWty-QwEgDY&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=6FA4D8CCBCC7E31F94DBB9E8016D8BADA8297A02&simid=608055749112299527
                      width: 638
                relatedSearches:
                  value:
                    - displayText: Pierre-Auguste Renoir
                      text: Pierre-Auguste Renoir
                      thumbnail:
                        url: https://tse4.mm.bing.net/th?q=Pierre-Auguste+Renoir&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Pierre-Auguste+Renoir&FORM=IDINTS
                    - displayText: Mary Cassatt
                      text: Mary Cassatt
                      thumbnail:
                        url: https://tse1.mm.bing.net/th?q=Mary+Cassatt&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Mary+Cassatt&FORM=IDINTS
                    - displayText: Vincent Van Gogh
                      text: Vincent Van Gogh
                      thumbnail:
                        url: https://tse2.mm.bing.net/th?q=Vincent+Van+Gogh&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Vincent+Van+Gogh&FORM=IDINTS
                    - displayText: Henri Matisse
                      text: Henri Matisse
                      thumbnail:
                        url: https://tse3.mm.bing.net/th?q=Henri+Matisse&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Henri+Matisse&FORM=IDINTS
                    - displayText: Claude Monet
                      text: Claude Monet
                      thumbnail:
                        url: https://tse2.mm.bing.net/th?q=Claude+Monet&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Claude+Monet&FORM=IDINTS
                    - displayText: Camille Pissarro
                      text: Camille Pissarro
                      thumbnail:
                        url: https://tse1.mm.bing.net/th?q=Camille+Pissarro&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Camille+Pissarro&FORM=IDINTS
                    - displayText: Claude Monet Paintings
                      text: Claude Monet Paintings
                      thumbnail:
                        url: https://tse3.mm.bing.net/th?q=Claude+Monet+Paintings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Claude+Monet+Paintings&FORM=IDINTS
                    - displayText: Berthe Morisot Paintings
                      text: Berthe Morisot Paintings
                      thumbnail:
                        url: https://tse3.mm.bing.net/th?q=Berthe+Morisot+Paintings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Berthe+Morisot+Paintings&FORM=IDINTS
                    - displayText: Vincent Van Gogh Paintings
                      text: Vincent Van Gogh Paintings
                      thumbnail:
                        url: https://tse1.mm.bing.net/th?q=Vincent+Van+Gogh+Paintings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Vincent+Van+Gogh+Paintings&FORM=IDINTS
                    - displayText: Paul Cezanne Paintings
                      text: Paul Cezanne Paintings
                      thumbnail:
                        url: https://tse4.mm.bing.net/th?q=Paul+Cezanne+Paintings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Paul+Cezanne+Paintings&FORM=IDINTS
                    - displayText: Edouard Manet Paintings
                      text: Edouard Manet Paintings
                      thumbnail:
                        url: https://tse1.mm.bing.net/th?q=Edouard+Manet+Paintings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Edouard+Manet+Paintings&FORM=IDINTS
                    - displayText: Pablo Picasso Paintings
                      text: Pablo Picasso Paintings
                      thumbnail:
                        url: https://tse2.mm.bing.net/th?q=Pablo+Picasso+Paintings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Pablo+Picasso+Paintings&FORM=IDINTS
                    - displayText: Edgar Degas Most Famous Painting
                      text: Edgar Degas Most Famous Painting
                      thumbnail:
                        url: https://tse4.mm.bing.net/th?q=Edgar+Degas+Most+Famous+Painting&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Edgar+Degas+Most+Famous+Painting&FORM=IDINTS
                    - displayText: Edgar Degas Impressionist Paintings
                      text: Edgar Degas Impressionist Paintings
                      thumbnail:
                        url: https://tse2.mm.bing.net/th?q=Edgar+Degas+Impressionist+Paintings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Edgar+Degas+Impressionist+Paintings&FORM=IDINTS
                    - displayText: Edgar Degas Horse Paintings
                      text: Edgar Degas Horse Paintings
                      thumbnail:
                        url: https://tse4.mm.bing.net/th?q=Edgar+Degas+Horse+Paintings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Edgar+Degas+Horse+Paintings&FORM=IDINTS
                    - displayText: Edgar Degas Landscape Paintings
                      text: Edgar Degas Landscape Paintings
                      thumbnail:
                        url: https://tse4.mm.bing.net/th?q=Edgar+Degas+Landscape+Paintings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Edgar+Degas+Landscape+Paintings&FORM=IDINTS
                    - displayText: Dancers Edgar Degas Painting
                      text: Dancers Edgar Degas Painting
                      thumbnail:
                        url: https://tse2.mm.bing.net/th?q=Dancers+Edgar+Degas+Painting&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Dancers+Edgar+Degas+Painting&FORM=IDINTS
                    - displayText: Edgar Degas Ballerina Paintings
                      text: Edgar Degas Ballerina Paintings
                      thumbnail:
                        url: https://tse3.mm.bing.net/th?q=Edgar+Degas+Ballerina+Paintings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Edgar+Degas+Ballerina+Paintings&FORM=IDINTS
                    - displayText: Famous Paintings by Edgar Degas
                      text: Famous Paintings by Edgar Degas
                      thumbnail:
                        url: https://tse3.mm.bing.net/th?q=Famous+Paintings+by+Edgar+Degas&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Famous+Paintings+by+Edgar+Degas&FORM=IDINTS
                    - displayText: Pierre-Auguste Renoir Paintings
                      text: Pierre-Auguste Renoir Paintings
                      thumbnail:
                        url: https://tse3.mm.bing.net/th?q=Pierre-Auguste+Renoir+Paintings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Pierre-Auguste+Renoir+Paintings&FORM=IDINTS
                    - displayText: Edvard Munch Paintings
                      text: Edvard Munch Paintings
                      thumbnail:
                        url: https://tse3.mm.bing.net/th?q=Edvard+Munch+Paintings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Edvard+Munch+Paintings&FORM=IDINTS
                    - displayText: Georges Seurat Paintings
                      text: Georges Seurat Paintings
                      thumbnail:
                        url: https://tse2.mm.bing.net/th?q=Georges+Seurat+Paintings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Georges+Seurat+Paintings&FORM=IDINTS
                    - displayText: Edward Hopper Paintings
                      text: Edward Hopper Paintings
                      thumbnail:
                        url: https://tse1.mm.bing.net/th?q=Edward+Hopper+Paintings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Edward+Hopper+Paintings&FORM=IDINTS
                    - displayText: Mary Cassatt Paintings
                      text: Mary Cassatt Paintings
                      thumbnail:
                        url: https://tse2.mm.bing.net/th?q=Mary+Cassatt+Paintings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Mary+Cassatt+Paintings&FORM=IDINTS
                    - displayText: Edgar Degas Sculptures
                      text: Edgar Degas Sculptures
                      thumbnail:
                        url: https://tse4.mm.bing.net/th?q=Edgar+Degas+Sculptures&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Edgar+Degas+Sculptures&FORM=IDINTS
                    - displayText: Edgar Degas Drawings
                      text: Edgar Degas Drawings
                      thumbnail:
                        url: https://tse3.mm.bing.net/th?q=Edgar+Degas+Drawings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Edgar+Degas+Drawings&FORM=IDINTS
                    - displayText: Edgar Degas Gallery
                      text: Edgar Degas Gallery
                      thumbnail:
                        url: https://tse4.mm.bing.net/th?q=Edgar+Degas+Gallery&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Edgar+Degas+Gallery&FORM=IDINTS
                    - displayText: Artist Edgar Degas
                      text: Artist Edgar Degas
                      thumbnail:
                        url: https://tse1.mm.bing.net/th?q=Artist+Edgar+Degas&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Artist+Edgar+Degas&FORM=IDINTS
                    - displayText: Edgar Degas Lithographs
                      text: Edgar Degas Lithographs
                      thumbnail:
                        url: https://tse3.mm.bing.net/th?q=Edgar+Degas+Lithographs&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Edgar+Degas+Lithographs&FORM=IDINTS
                    - displayText: Edgar Degas L'Absinthe
                      text: Edgar Degas L'Absinthe
                      thumbnail:
                        url: https://tse3.mm.bing.net/th?q=Edgar+Degas+L%27Absinthe&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Edgar+Degas+L%27Absinthe&FORM=IDINTS
                    - displayText: Edgar Degas Little Dancer
                      text: Edgar Degas Little Dancer
                      thumbnail:
                        url: https://tse1.mm.bing.net/th?q=Edgar+Degas+Little+Dancer&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Edgar+Degas+Little+Dancer&FORM=IDINTS
                    - displayText: Edgar Degas the Tub
                      text: Edgar Degas the Tub
                      thumbnail:
                        url: https://tse2.mm.bing.net/th?q=Edgar+Degas+the+Tub&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Edgar+Degas+the+Tub&FORM=IDINTS
                    - displayText: Blue Dancers by Edgar Degas
                      text: Blue Dancers by Edgar Degas
                      thumbnail:
                        url: https://tse3.mm.bing.net/th?q=Blue+Dancers+by+Edgar+Degas&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Blue+Dancers+by+Edgar+Degas&FORM=IDINTS
                    - displayText: The Bellelli Family Edgar Degas
                      text: The Bellelli Family Edgar Degas
                      thumbnail:
                        url: https://tse2.mm.bing.net/th?q=The+Bellelli+Family+Edgar+Degas&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=The+Bellelli+Family+Edgar+Degas&FORM=IDINTS
                    - displayText: Berthe Morisot
                      text: Berthe Morisot
                      thumbnail:
                        url: https://tse2.mm.bing.net/th?q=Berthe+Morisot&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Berthe+Morisot&FORM=IDINTS
                    - displayText: Auguste Renoir
                      text: Auguste Renoir
                      thumbnail:
                        url: https://tse4.mm.bing.net/th?q=Auguste+Renoir&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Auguste+Renoir&FORM=IDINTS
                    - displayText: Degas Artwork
                      text: Degas Artwork
                      thumbnail:
                        url: https://tse3.mm.bing.net/th?q=Degas+Artwork&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Degas+Artwork&FORM=IDINTS
                    - displayText: Degas Ballerina
                      text: Degas Ballerina
                      thumbnail:
                        url: https://tse3.mm.bing.net/th?q=Degas+Ballerina&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Degas+Ballerina&FORM=IDINTS
                    - displayText: Edgar Degas Ballet
                      text: Edgar Degas Ballet
                      thumbnail:
                        url: https://tse4.mm.bing.net/th?q=Edgar+Degas+Ballet&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Edgar+Degas+Ballet&FORM=IDINTS
                    - displayText: Ballerinas by Edgar Degas
                      text: Ballerinas by Edgar Degas
                      thumbnail:
                        url: https://tse2.mm.bing.net/th?q=Ballerinas+by+Edgar+Degas&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Ballerinas+by+Edgar+Degas&FORM=IDINTS
                    - displayText: Famous Paintings of Degas Ballerina
                      text: Famous Paintings of Degas Ballerina
                      thumbnail:
                        url: https://tse2.mm.bing.net/th?q=Famous+Paintings+of+Degas+Ballerina&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Famous+Paintings+of+Degas+Ballerina&FORM=IDINTS
                    - displayText: The Art Forger Degas Painting
                      text: The Art Forger Degas Painting
                      thumbnail:
                        url: https://tse2.mm.bing.net/th?q=The+Art+Forger+Degas+Painting&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=The+Art+Forger+Degas+Painting&FORM=IDINTS
                    - displayText: Dega Famous Most Ballerina Paintings
                      text: Dega Famous Most Ballerina Paintings
                      thumbnail:
                        url: https://tse1.mm.bing.net/th?q=Dega+Famous+Most+Ballerina+Paintings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Dega+Famous+Most+Ballerina+Paintings&FORM=IDINTS
                    - displayText: Paintings by Degas
                      text: Paintings by Degas
                      thumbnail:
                        url: https://tse1.mm.bing.net/th?q=Paintings+by+Degas&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Paintings+by+Degas&FORM=IDINTS
                    - displayText: Famous Paintings
                      text: Famous Paintings
                      thumbnail:
                        url: https://tse3.mm.bing.net/th?q=Famous+Paintings&pid=Api&mkt=en-US&adlt=moderate
                      webSearchUrl: https://www.bing.com/images/search?q=Famous+Paintings&FORM=IDINTS
                visuallySimilarImages:
                  value:
                    - accentColor: "986833"
                      contentSize: 79006 B
                      contentUrl: http://img217.imageshack.us/img217/1191/1111111d.jpg
                      datePublished: 2017-04-17T09:07:00.0000000Z
                      encodingFormat: jpeg
                      height: 768
                      hostPageDisplayUrl: www.gorselsanatlar.org/sanat-elestirisi/edgar-degas
                      hostPageUrl: http://www.gorselsanatlar.org/sanat-elestirisi/edgar-degas/
                      imageId: 10768B7BFD0BC0DF968E155B6413BB84279C4791
                      imageInsightsToken: ccid_ZVky22u/*mid_10768B7BFD0BC0DF968E155B6413BB84279C4791*simid_607989439122441745*thid_OIP.ZVky22u\_J1uc01WIaKRLZAEsDh
                      insightsMetadata:
                        recipeSourcesCount: 0
                      name: Edgar Degas
                      thumbnail:
                        height: 225
                        width: 300
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OIP.ZVky22u_J1uc01WIaKRLZAEsDh&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=10768B7BFD0BC0DF968E155B6413BB84279C4791&simid=607989439122441745
                      width: 1024
                    - accentColor: 986C33
                      contentSize: 35867 B
                      contentUrl: http://www.leblebitozu.com/wp-content/uploads/2017/02/Edgar-Degas-The-Star-1878.jpg
                      datePublished: 2017-10-31T03:04:00.0000000Z
                      encodingFormat: jpeg
                      height: 450
                      hostPageDisplayUrl: www.leblebitozu.com/edgar-degasin-eserleri-ve-hayati
                      hostPageUrl: http://www.leblebitozu.com/edgar-degasin-eserleri-ve-hayati/
                      imageId: D703EDAE3DD5D21D80D009383B26ED0C829A765A
                      imageInsightsToken: ccid_tI8xpmIi*mid_D703EDAE3DD5D21D80D009383B26ED0C829A765A*simid_608050943055626892*thid_OIP.tI8xpmIittE548KJtsqn4gD6D5
                      name: Edgar Degas'n Eserleri ve Hayat
                      thumbnail:
                        height: 249
                        width: 250
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OIP.tI8xpmIittE548KJtsqn4gD6D5&pid=Api
                      webSearchUrl: https://www.bing.com/images/search?view=detailv2&FORM=OIIRPO&q=degas&id=D703EDAE3DD5D21D80D009383B26ED0C829A765A&simid=608050943055626892
                      width: 451
                    - accentColor: 9B6F30
                      contentSize: 118826 B
                      contentUrl: https://classconnection.s3.amazonaws.com/108/flashcards/352108/jpg/aic_200031315545330520.jpg
                      datePublished: 2016-04-23T13:44:00.0000000Z
                      encodingFormat: jpeg
                      height: 1024
                      hostPageDisplayUrl: https://www.studyblue.com/notes/note/n/arth-310-slide-quiz-1-part-1...
                      hostPageUrl: https://www.studyblue.com/notes/note/n/arth-310-slide-quiz-1-part-1/deck/1093589
                      imageId: 0EAA5F4ADCAA2EA28001CBE1E9CCCE9E88D6A74A
                      imageInsightsToken: ccid_bFmbdFfC*mid_0EAA5F4ADCAA2EA28001CBE1E9CCCE9E88D6A74A*simid_608024327133072852*thid_OIP.bFmbdFfCi7T-bSSU\_tfrtgDKEs
                      name: "ARTH 310 Slide Quiz #1 (Part 1) at Sacramento City College - StudyBlue"
                      thumbnail:
[...]
