swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: Marketplace RP Service
  version: 2019-12-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/marketplace/resource-manager/Microsoft.Marketplace/stable/2019-12-01/Marketplace.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: marketplace-Marketplace
  x-tags:
    - Azure
    - Microsoft
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ApiVersionParameter:
    description: The API version to use for the request.
    in: query
    name: api-version
    required: true
    type: string
  subscriptionIdParameter:
    description: The Azure subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Marketplace/operations:
    get:
      description: Lists all of the available Microsoft.Marketplace REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Microsoft.Marketplace error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
  "/subscriptions/{subscriptionId}/providers/Microsoft.Marketplace/privateStoreClient/isPrivateClient":
    get:
      consumes:
        - application/json
      description: Check if client is private or not.
      operationId: PrivateStoreClient_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      produces:
        - application/json
      responses:
        "200":
          description: OK. The request has succeeded.
      tags:
        - isPrivateClient
      x-ms-examples:
        GetPrivateStoreClient:
          parameters:
            api-version: 2019-12-01
            clusterName: myCluster
            resourceGroupName: resRg
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              description: OK. The request has succeeded.
definitions:
  ErrorResponse:
    description: Error response indicates Microsoft.Marketplace service is not able to process the incoming request. The reason is provided in the error message.
    properties:
      error:
        description: The details of the error.
        properties:
          code:
            description: Error code.
            readOnly: true
            type: string
          message:
            description: Error message indicating why the operation failed.
            readOnly: true
            type: string
    type: object
  Operation:
    description: Microsoft.Marketplace REST API operation
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: "Operation type: Get Amendments etc."
            type: string
          provider:
            description: "Service provider: Microsoft.Marketplace"
            type: string
          resource:
            description: "Resource on which the operation is performed: Amendments"
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}"
        type: string
    type: object
  OperationListResult:
    description: Result of the request to list Marketplace operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        readOnly: true
        type: string
      value:
        description: List of Microsoft.Marketplace operations supported by the Microsoft.Marketplace resource provider.
        items:
          $ref: "#/definitions/Operation"
        type: array
