swagger: "2.0"
schemes:
  - https
host: developer.walmart.com
basePath: /orderProxy/order-api-doc-app/rest
info:
  contact:
    name: partnerapis@walmartlabs.com
    x-twitter: Walmart
  description: Please make sure you use the correct version of the APIs for your use case. To find out the appropriate version, go to the API Docs  drop down on the menu.
  title: Orders API
  version: 3.0.1
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_Walmart_profile_image.jpeg
  x-origin:
    - format: swagger
      url: https://developer.walmart.com/v1/swaggerProxy?type=order
      version: "2.0"
  x-providerName: walmart.com
  x-serviceName: order
tags:
  - name: Version 3
paths:
  /v3/orders:
    get:
      consumes:
        - application/xml
        - application/json
      description: You can display a list of all orders with the query parameter filter criteria.
      operationId: getAllOrders
      parameters:
        - description: Ship Node
          in: query
          name: shipNode
          required: false
          type: string
        - description: Retrieves all orders with the specified SKU.
          in: query
          name: sku
          required: false
          type: string
        - description: Retrives the details of the specified customerOrderId.
          in: query
          name: customerOrderId
          required: false
          type: string
        - description: The purchase order ID associated with the order to retrieve. One customer order can have multiple purchase orders associated with it.
          in: query
          name: purchaseOrderId
          required: false
          type: string
        - description: The list of orders corresponding to the requested status.
          in: query
          name: status
          required: false
          type: string
        - description: Limit orders to those created after this date or a timestamp.
          in: query
          name: createdStartDate
          required: false
          type: string
        - description: Limit orders to those created before this date or timestamp.
          in: query
          name: createdEndDate
          required: false
          type: string
        - description: Limit orders to those that have order lines with an expected ship date after this date.
          in: query
          name: fromExpectedShipDate
          required: false
          type: string
        - description: "Limit orders to those that have order lines with an expected ship date before this date. "
          in: query
          name: toExpectedShipDate
          required: false
          type: string
        - default: 10
          description: The number of orders to be returned. Do not set this parameter to over 200 orders.
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Content-Type
          required: true
          type: string
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Accept
          required: true
          type: string
        - default: SWAGGER_CHANNEL_TYPE
          description: Channel Type
          enum:
            - SWAGGER_CHANNEL_TYPE
          in: header
          name: WM_CONSUMER.CHANNEL.TYPE
          required: true
          type: string
        - description: Your Consumer ID
          in: header
          name: WM_CONSUMER.ID
          required: true
          type: string
        - default: Auto populated
          description: Epoch timestamp
          in: header
          name: WM_SEC.TIMESTAMP
          required: true
          type: string
        - default: Auto populated
          description: Authentication signature
          in: header
          name: WM_SEC.AUTH_SIGNATURE
          required: true
          type: string
        - default: Walmart Marketplace
          description: The Service name
          in: header
          name: WM_SVC.NAME
          required: true
          type: string
        - default: 123456abcdef
          description: A Transaction ID
          in: header
          name: WM_QOS.CORRELATION_ID
          required: true
          type: string
      produces:
        - application/xml
        - application/json
      responses:
        default:
          description: successful operation
      summary: Get all orders
      tags:
        - Version 3
  /v3/orders/released:
    get:
      consumes:
        - application/xml
        - application/json
      description: You can display all released orders that have been created and are ready for fulfilment.
      operationId: getReleasedOrders
      parameters:
        - description: Ship Node
          in: query
          name: shipNode
          required: false
          type: string
        - description: Limit orders to those created after this date or a timestamp.
          in: query
          name: createdStartDate
          required: true
          type: string
        - description: The number of orders to be returned. Do not set this parameter to over 200 orders.
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Content-Type
          required: true
          type: string
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Accept
          required: true
          type: string
        - default: SWAGGER_CHANNEL_TYPE
          description: Channel Type
          enum:
            - SWAGGER_CHANNEL_TYPE
          in: header
          name: WM_CONSUMER.CHANNEL.TYPE
          required: true
          type: string
        - description: Your Consumer ID
          in: header
          name: WM_CONSUMER.ID
          required: true
          type: string
        - default: Auto populated
          description: Epoch timestamp
          in: header
          name: WM_SEC.TIMESTAMP
          required: true
          type: string
        - default: Auto populated
          description: Authentication signature
          in: header
          name: WM_SEC.AUTH_SIGNATURE
          required: true
          type: string
        - default: Walmart Marketplace
          description: The Service name
          in: header
          name: WM_SVC.NAME
          required: true
          type: string
        - default: 123456abcdef
          description: A Transaction ID
          in: header
          name: WM_QOS.CORRELATION_ID
          required: true
          type: string
      produces:
        - application/xml
        - application/json
      responses:
        default:
          description: successful operation
      summary: Get all released orders
      tags:
        - Version 3
  "/v3/orders/released{nextCursor}":
    get:
      consumes:
        - application/xml
        - application/json
      description: You can display all released orders that have been created and are ready for fulfilment with nextCursor path parameter.
      operationId: getNextCursorReleasedOrders
      parameters:
        - description: Used for pagination when there are more than 200 orders to retrieve. The nextCursor value of the returned response includes a link to another GET call to retrieve the next page. Copy the link and paste it in the next call.
          in: path
          name: nextCursor
          required: true
          type: string
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Content-Type
          required: true
          type: string
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Accept
          required: true
          type: string
        - default: SWAGGER_CHANNEL_TYPE
          description: Channel Type
          enum:
            - SWAGGER_CHANNEL_TYPE
          in: header
          name: WM_CONSUMER.CHANNEL.TYPE
          required: true
          type: string
        - description: Your Consumer ID
          in: header
          name: WM_CONSUMER.ID
          required: true
          type: string
        - default: Auto populated
          description: Epoch timestamp
          in: header
          name: WM_SEC.TIMESTAMP
          required: true
          type: string
        - default: Auto populated
          description: Authentication signature
          in: header
          name: WM_SEC.AUTH_SIGNATURE
          required: true
          type: string
        - default: Walmart Marketplace
          description: The Service name
          in: header
          name: WM_SVC.NAME
          required: true
          type: string
        - default: 123456abcdef
          description: A Transaction ID
          in: header
          name: WM_QOS.CORRELATION_ID
          required: true
          type: string
      produces:
        - application/xml
        - application/json
      responses:
        default:
          description: successful operation
      summary: Get released orders for next page
      tags:
        - Version 3
  "/v3/orders/{purchaseOrderId}":
    get:
      consumes:
        - application/xml
        - application/json
      description: You can display details of a specific order based on the purchaseOrderId.
      operationId: getOrderByPurchaseOrderId
      parameters:
        - description: Purchase Order ID
          in: path
          name: purchaseOrderId
          required: true
          type: string
        - description: Ship Node
          in: query
          name: shipNode
          required: false
          type: string
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Content-Type
          required: true
          type: string
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Accept
          required: true
          type: string
        - default: SWAGGER_CHANNEL_TYPE
          description: Channel Type
          enum:
            - SWAGGER_CHANNEL_TYPE
          in: header
          name: WM_CONSUMER.CHANNEL.TYPE
          required: true
          type: string
        - description: Your Consumer ID
          in: header
          name: WM_CONSUMER.ID
          required: true
          type: string
        - default: Auto populated
          description: Epoch timestamp
          in: header
          name: WM_SEC.TIMESTAMP
          required: true
          type: string
        - default: Auto populated
          description: Authentication signature
          in: header
          name: WM_SEC.AUTH_SIGNATURE
          required: true
          type: string
        - default: Walmart Marketplace
          description: The Service name
          in: header
          name: WM_SVC.NAME
          required: true
          type: string
        - default: 123456abcdef
          description: A Transaction ID
          in: header
          name: WM_QOS.CORRELATION_ID
          required: true
          type: string
      produces:
        - application/xml
        - application/json
      responses:
        default:
          description: successful operation
      summary: Get an order
      tags:
        - Version 3
  "/v3/orders/{purchaseOrderId}/acknowledge":
    post:
      consumes:
        - application/xml
        - application/json
      description: You can acknowledge an entire order, including all of its order lines. Walmart business rules require to acknowledge orders within four hour of receipt of the order, except in extenuating circumstances.
      operationId: acknowledgeOrders
      parameters:
        - description: Purchase Order ID
          in: path
          name: purchaseOrderId
          required: true
          type: string
        - description: Ship Node
          in: query
          name: shipNode
          required: false
          type: string
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Content-Type
          required: true
          type: string
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Accept
          required: true
          type: string
        - default: SWAGGER_CHANNEL_TYPE
          description: Channel Type
          enum:
            - SWAGGER_CHANNEL_TYPE
          in: header
          name: WM_CONSUMER.CHANNEL.TYPE
          required: true
          type: string
        - description: Your Consumer ID
          in: header
          name: WM_CONSUMER.ID
          required: true
          type: string
        - default: Auto populated
          description: Epoch timestamp
          in: header
          name: WM_SEC.TIMESTAMP
          required: true
          type: string
        - default: Auto populated
          description: Authentication signature
          in: header
          name: WM_SEC.AUTH_SIGNATURE
          required: true
          type: string
        - default: Walmart Marketplace
          description: The Service name
          in: header
          name: WM_SVC.NAME
          required: true
          type: string
        - default: 123456abcdef
          description: A Transaction ID
          in: header
          name: WM_QOS.CORRELATION_ID
          required: true
          type: string
      produces:
        - application/xml
        - application/json
      responses:
        default:
          description: successful operation
      summary: Acknowledge orders
      tags:
        - Version 3
  "/v3/orders/{purchaseOrderId}/cancel":
    post:
      consumes:
        - application/xml
        - application/json
      description: You can cancel one or more order lines. You must include a purchaseOrderLineNumber when cancelling an order. After cancelling your order, update the inventory for the cancelled order and send it in the next inventory feed.
      operationId: cancelOrder
      parameters:
        - description: Purchase Order ID
          in: path
          name: purchaseOrderId
          required: true
          type: string
        - description: Ship Node
          in: query
          name: shipNode
          required: false
          type: string
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Content-Type
          required: true
          type: string
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Accept
          required: true
          type: string
        - description: Request body
          in: body
          name: Request body
          required: true
          schema:
            type: string
        - default: SWAGGER_CHANNEL_TYPE
          description: Channel Type
          enum:
            - SWAGGER_CHANNEL_TYPE
          in: header
          name: WM_CONSUMER.CHANNEL.TYPE
          required: true
          type: string
        - description: Your Consumer ID
          in: header
          name: WM_CONSUMER.ID
          required: true
          type: string
        - default: Auto populated
          description: Epoch timestamp
          in: header
          name: WM_SEC.TIMESTAMP
          required: true
          type: string
        - default: Auto populated
          description: Authentication signature
          in: header
          name: WM_SEC.AUTH_SIGNATURE
          required: true
          type: string
        - default: Walmart Marketplace
          description: The Service name
          in: header
          name: WM_SVC.NAME
          required: true
          type: string
        - default: 123456abcdef
          description: A Transaction ID
          in: header
          name: WM_QOS.CORRELATION_ID
          required: true
          type: string
      produces:
        - application/xml
        - application/json
      responses:
        default:
          description: successful operation
      summary: Cancel order lines
      tags:
        - Version 3
  "/v3/orders/{purchaseOrderId}/refund":
    post:
      consumes:
        - application/xml
        - application/json
      description: You can refund one or more order lines that have been shipped. The response to a successful call contains the order with the refunded line item.
      operationId: refundOrder
      parameters:
        - description: Purchase Order ID
          in: path
          name: purchaseOrderId
          required: true
          type: string
        - description: Ship Node
          in: query
          name: shipNode
          required: false
          type: string
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Content-Type
          required: true
          type: string
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Accept
          required: true
          type: string
        - description: Request body
          in: body
          name: Request body
          required: true
          schema:
            type: string
        - default: SWAGGER_CHANNEL_TYPE
          description: Channel Type
          enum:
            - SWAGGER_CHANNEL_TYPE
          in: header
          name: WM_CONSUMER.CHANNEL.TYPE
          required: true
          type: string
        - description: Your Consumer ID
          in: header
          name: WM_CONSUMER.ID
          required: true
          type: string
        - default: Auto populated
          description: Epoch timestamp
          in: header
          name: WM_SEC.TIMESTAMP
          required: true
          type: string
        - default: Auto populated
          description: Authentication signature
          in: header
          name: WM_SEC.AUTH_SIGNATURE
          required: true
          type: string
        - default: Walmart Marketplace
          description: The Service name
          in: header
          name: WM_SVC.NAME
          required: true
          type: string
        - default: 123456abcdef
          description: A Transaction ID
          in: header
          name: WM_QOS.CORRELATION_ID
          required: true
          type: string
      produces:
        - application/xml
        - application/json
      responses:
        default:
          description: successful operation
      summary: Refund order lines
      tags:
        - Version 3
  "/v3/orders/{purchaseOrderId}/shipping":
    post:
      consumes:
        - application/xml
        - application/json
      description: You can change the status of order lines to "Shipped" and trigger the charge to a customer. You must acknowledge your orders before sending a shipping update to avoid underselling. An order line, once marked as shipped, cannot be updated.
      operationId: shippingOrder
      parameters:
        - description: Purchase Order ID
          in: path
          name: purchaseOrderId
          required: true
          type: string
        - description: Ship Node
          in: query
          name: shipNode
          required: false
          type: string
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Content-Type
          required: true
          type: string
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Accept
          required: true
          type: string
        - description: Request body
          in: body
          name: Request body
          required: true
          schema:
            type: string
        - default: SWAGGER_CHANNEL_TYPE
          description: Channel Type
          enum:
            - SWAGGER_CHANNEL_TYPE
          in: header
          name: WM_CONSUMER.CHANNEL.TYPE
          required: true
          type: string
        - description: Your Consumer ID
          in: header
          name: WM_CONSUMER.ID
          required: true
          type: string
        - default: Auto populated
          description: Epoch timestamp
          in: header
          name: WM_SEC.TIMESTAMP
          required: true
          type: string
        - default: Auto populated
          description: Authentication signature
          in: header
          name: WM_SEC.AUTH_SIGNATURE
          required: true
          type: string
        - default: Walmart Marketplace
          description: The Service name
          in: header
          name: WM_SVC.NAME
          required: true
          type: string
        - default: 123456abcdef
          description: A Transaction ID
          in: header
          name: WM_QOS.CORRELATION_ID
          required: true
          type: string
      produces:
        - application/xml
        - application/json
      responses:
        default:
          description: successful operation
      summary: Shipping updates
      tags:
        - Version 3
  "/v3/orders{nextCursor}":
    get:
      consumes:
        - application/xml
        - application/json
      description: You can display a list of all orders with nextCursor path parameter pagination criteria.
      operationId: getAllOrdersNext
      parameters:
        - description: Used for pagination when there are more than 200 orders to retrieve. The nextCursor value of the returned response includes a link to another GET call to retrieve the next page. Copy the link and paste it in the next call.
          in: path
          name: nextCursor
          required: true
          type: string
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Content-Type
          required: true
          type: string
        - default: application/xml
          description: |-
            application/xml,
            application/json
          enum:
            - application/xml
            - application/json
          in: header
          name: Accept
          required: true
          type: string
        - default: SWAGGER_CHANNEL_TYPE
          description: Channel Type
          enum:
            - SWAGGER_CHANNEL_TYPE
          in: header
          name: WM_CONSUMER.CHANNEL.TYPE
          required: true
          type: string
        - description: Your Consumer ID
          in: header
          name: WM_CONSUMER.ID
          required: true
          type: string
        - default: Auto populated
          description: Epoch timestamp
          in: header
          name: WM_SEC.TIMESTAMP
          required: true
          type: string
        - default: Auto populated
          description: Authentication signature
          in: header
          name: WM_SEC.AUTH_SIGNATURE
          required: true
          type: string
        - default: Walmart Marketplace
          description: The Service name
          in: header
          name: WM_SVC.NAME
          required: true
          type: string
        - default: 123456abcdef
          description: A Transaction ID
          in: header
          name: WM_QOS.CORRELATION_ID
          required: true
          type: string
      produces:
        - application/xml
        - application/json
      responses:
        default:
          description: successful operation
      summary: Get orders for next page
      tags:
        - Version 3
