swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: GuestConfiguration
  version: 2018-06-30-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/guestconfiguration/resource-manager/Microsoft.GuestConfiguration/preview/2018-06-30-preview/guestconfiguration_NotImplemented.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: guestconfiguration-guestconfiguration_NotImplemented
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/providers/Microsoft.GuestConfiguration/guestConfigurationAssignments/{guestConfigurationAssignmentName}":
    delete:
      description: Delete a guest configuration assignment
      operationId: GuestConfigurationAssignments_Delete
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the guest configuration assignment
          in: path
          name: guestConfigurationAssignmentName
          required: true
          type: string
        - description: Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The name of the virtual machine.
          in: path
          name: vmName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              message:
                description: Error message indicating why the operation failed.
                type: string
      tags:
        - GuestConfigurationAssignments
      x-ms-examples:
        Delete an guest configuration assignment:
          parameters:
            api-version: 2018-06-30-preview
            guestConfigurationAssignmentName: SecureProtocol
            resourceGroupName: myResourceGroupName
            subscriptionId: mySubscriptionId
            vmName: myVMName
          responses:
            "200": {}
            "204": {}
      x-ms-long-running-operation: true
definitions: {}
