openapi: 3.0.0
servers:
  - url: https://developer.openbanking.org.uk/reference-implementation/open-banking/v1.3
info:
  description: Latest Swagger specification for OpenData
  title: Open Data API
  version: v1.3
  x-apisguru-categories:
    - financial
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_avatars0.githubusercontent.com_u_23359225.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/OpenBankingUK/opendata-api-spec-compiled/master/opendata-swagger.json
      version: "3.0"
  x-providerName: openbanking.org.uk
tags:
  - description: Endpoint for getting Branch data
    name: Branch
  - description: Endpoint for getting ATM data
    name: ATM
  - description: Endpoint for getting Personal Current Account data
    name: PCA
  - description: Endpoint for getting Business Current Account data
    name: BCA
  - description: Endpoint for getting Unsecured SME Loan data
    name: SME
  - description: Endpoint for getting Commercial Credit Card data
    name: CCC
paths:
  /atms:
    get:
      description: Gets a list of all `ATM` objects.
      parameters:
        - description: Used for conditional request, to retrieve data only if modified since a given date
          in: header
          name: If-Modified-Since
          required: false
          schema:
            type: string
        - description: Used for conditional request, to retrieve data only if the given Etag value does not match
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/prs.openbanking.opendata.v1.3+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      additionalProperties: false
                      properties:
                        ATMID:
                          description: ATM terminal device identification for the acquirer and the issuer
                          maxLength: 35
                          minLength: 1
                          type: string
                        ATMServices:
                          description: Information about ATM services
                          items:
                            description: Information about ATM services
                            enum:
                              - Balance
                              - BillPayments
                              - CashDeposits
                              - CashWithdrawal
                              - CharityDonation
                              - ChequeBookRequest
                              - ChequeDeposits
                              - FastCash
                              - MiniStatement
                              - MobileBankingRegistration
                              - MobilePaymentRegistration
                              - MobilePhoneTopUp
                              - OrderStatement
                              - PINActivation
                              - PINChange
                            type: string
                          minItems: 1
                          type: array
                          uniqueItems: true
                        AccessibilityTypes:
                          description: Information about the accessibility
                          items:
                            description: Information about the accessibility
                            enum:
                              - AudioCashMachine
                              - AutomaticDoors
                              - ChairAccess
                              - DriveThru
                              - ExternalRamp
                              - InductionLoop
                              - InternalRamp
                              - LevelAccess
                              - LowerLevelCounter
                              - WheelchairAccess
                            type: string
                          type: array
                          uniqueItems: true
                        AdditionalATMServices:
                          description: ATM Service Description
                          items:
                            description: maxLength 350 text
                            maxLength: 350
                            minLength: 1
                            type: string
                          type: array
                        Address:
                          additionalProperties: false
                          description: Postal Address
                          properties:
                            BuildingNumberOrName:
                              description: Number or Name that identifies the position of a building on a street
                              maxLength: 350
                              minLength: 1
                              type: string
                            Country:
                              description: Nation with its own government
                              pattern: "[A-Z]{2}"
                              type: string
                            CountrySubDivision:
                              description: Identifies a subdivision of a country such as state, region, county
                              maxLength: 35
                              minLength: 1
                              type: string
                            OptionalAddressField:
                              description: Directions for customers
                              maxLength: 350
                              minLength: 1
                              type: string
                            PostCode:
                              description: Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail
                              maxLength: 16
                              minLength: 1
                              type: string
                            StreetName:
                              description: Name of a street or thoroughfare
                              maxLength: 70
                              minLength: 1
                              type: string
                            TownName:
                              description: Name of a built-up area, with defined boundaries, and a local government
                              maxLength: 35
                              minLength: 1
                              type: string
                          required:
                            - StreetName
                            - PostCode
                            - Country
                          type: object
                        BranchIdentification:
                          description: Unique and unambiguous identification of a retail branch of a financial institution
                          maxLength: 35
                          minLength: 1
                          type: string
                        Currency:
                          description: Defines currency type available for dispense
                          items:
                            description: Active or Historic Currency Code
                            pattern: "[A-Z]{3}"
                            type: string
                          minItems: 1
                          type: array
                          uniqueItems: true
                        GeographicLocation:
                          additionalProperties: false
                          description: Geographic Coordinates
                          properties:
                            Latitude:
                              description: The Latitude measured in decimal format according to ISO 213
                              pattern: ^-?\d{1,3}\.\d{1,8}$
                              type: string
                            Longitude:
                              description: The longitude measured in decimal format according to ISO 213
                              pattern: ^-?\d{1,3}\.\d{1,8}$
                              type: string
                          required:
                            - Latitude
                            - Longitude
                          type: object
                        LocationCategory:
                          description: Indicates the environment of the ATM
                          enum:
                            - Airport
                            - BankSpecialisedOutlet
                            - BranchExternal
                            - BranchInternal
                            - BranchLobby
                            - BureauDeChange
                            - CoachStation
                            - CommercialSpaceInternal
                            - ConvenienceStore
                            - ExhibitionCentre
                            - FactoryOrOffice
                            - FillingStation
                            - FinancialInstitution
                            - GovernmentOffice
                            - Hospital
                            - Hotel
                            - KioskPod
                            - LeisureCentre
                            - PleasurePark
                            - PublicHouse
                            - RailwayStation
                            - RemoteUnit
                            - RetailerDepartmentStore
                            - RetailerOutlet
                            - SeaportTerminal
                            - ServiceStation
                            - ShoppingCentreExternal
                            - ShoppingCentreInternal
                            - StorageDepot
                            - SupermarketExternal
                            - SupermarketInternal
                            - UndergroundRailwayStation
                            - UniversityOrCollege
                          type: string
                        MinimumValueDispensed:
                          description: Minimum currency denominations usually available
                          enum:
                            - £5
                            - £10
                            - £20
                            - £50
                            - £100
                          type: string
                        Organisation:
                          additionalProperties: false
                          description: Organisation
                          properties:
                            Brand:
                              additionalProperties: false
                              description: Brand
                              properties:
                                TrademarkID:
                                  description: "The trademark number that has been registered with the Intellectual Property Office. Note: The 2 letter IPO prefix should be omitted"
                                  maxLength: 35
                                  minLength: 1
                                  type: string
                                TrademarkIPOCode:
                                  description: "The Intellectual Property Office (IPO) is the official body responsible for intellectual property (IP) rights including patents, designs, trademarks and copyright. (Code: UK or EU only)"
                                  enum:
                                    - UK
                                    - EU
                                  type: string
                              required:
                                - TrademarkIPOCode
                                - TrademarkID
                              type: object
                            ParentOrganisation:
                              additionalProperties: false
                              description: Parent organisation
                              properties:
                                BIC:
                                  description: The BIC from the organisation
                                  pattern: "[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3})?"
                                  type: string
                                LEI:
                                  description: The LEI ID of the organisation
                                  pattern: ^[A-Z0-9]{18,18}[0-9]{2,2}$
                                  type: string
                                OrganisationName:
                                  additionalProperties: false
                                  description: Organisation Name
                                  properties:
                                    LegalName:
                                      description: Legal Name of the organisation
                                      maxLength: 35
                                      minLength: 1
                                      type: string
                                  required:
                                    - LegalName
                                  type: object
                              required:
                                - OrganisationName
                              type: object
                          required:
                            - ParentOrganisation
                            - Brand
                          type: object
                        SiteID:
                          description: Site identifying code, where ATM is located
                          maxLength: 35
                          minLength: 1
                          type: string
                        SiteName:
                          description: Site identifying name, where ATM is located
                          maxLength: 35
                          minLength: 1
                          type: string
                        SupportedLanguages:
                          description: Languages that the ATM supports
                          items:
                            description: must be ISO 693-2 codes
                            type: string
                          minItems: 1
                          type: array
                      required:
                        - Organisation
                        - ATMID
                        - Address
                        - GeographicLocation
                        - SupportedLanguages
                        - ATMServices
                        - Currency
                      title: ATM
                      type: object
                    type: array
                  meta:
                    additionalProperties: false
                    properties:
                      Agreement:
                        enum:
                          - Use of the APIs and any related data will be subject to the terms of the Open Licence and subject to terms and conditions
                        type: string
                      LastUpdated:
                        format: date-time
                        type: string
                      License:
                        description: Open Banking License
                        enum:
                          - https://www.openbanking.org.uk/open-licence
                        format: uri
                        type: string
                      TermsOfUse:
                        description: Open Banking Terms of Use
                        enum:
                          - https://www.openbanking.org.uk/terms
                        format: uri
                        type: string
                      TotalResults:
                        type: integer
                    required:
                      - LastUpdated
                      - TotalResults
                      - Agreement
                      - License
                      - TermsOfUse
                    title: Meta data
                    type: object
                required:
                  - meta
                  - data
                type: object
          description: Successful response with a list of `ATM` data
          headers:
            Cache-Control:
              description: Describes how long this response can be cached
              schema:
                default: max-age=28800
                type: string
            Etag:
              description: A unique ID identifying whether this resource has changed
              schema:
                type: string
            Strict-Transport-Security:
              description: HTTPS strict transport security header
              schema:
                default: max-age=31536000
                type: string
            X-Content-Type-Options:
              description: Ensures each page has a content type and prevents browsers from doing MIME type sniffing
              schema:
                default: nosniff
                type: string
            X-Frame-Options:
              description: Prevent this request from being loaded in any iframes
              schema:
                default: DENY
                type: string
        "400":
          content:
            application/prs.openbanking.opendata.v1.3+json:
              schema:
                additionalProperties: false
                properties:
                  description:
                    enum:
                      - You have sent a request which could not be understood.
                    type: string
                  status:
                    enum:
                      - "400"
                    type: string
                  title:
                    enum:
                      - Bad request
                    type: string
                required:
                  - status
                  - title
                  - description
                title: 400 Error object
                type: object
          description: You have sent a request which could not be understood.
          headers:
            Strict-Transport-Security:
              description: HTTPS strict transport security header
              schema:
                type: string
            X-Content-Type-Options:
              description: Ensures each page has a content type and prevents browsers from doing MIME type sniffing
              schema:
                default: nosniff
                type: string
            X-Frame-Options:
              description: Prevent this request from being loaded in any iframes
              schema:
                default: DENY
                type: string
        "408":
          content:
            application/prs.openbanking.opendata.v1.3+json:
              schema:
                additionalProperties: false
                properties:
                  description:
                    enum:
                      - Your client has failed to submit a request, and a timeout has occurred.
                    type: string
                  status:
                    enum:
                      - "408"
                    type: string
                  title:
                    enum:
                      - Client timeout
                    type: string
                required:
                  - status
                  - title
                  - description
                title: 408 Error object
                type: object
          description: Your client has failed to submit a request, and a timeout has occurred.
          headers:
            Strict-Transport-Security:
              description: HTTPS strict transport security header
              schema:
                type: string
            X-Content-Type-Options:
              description: Ensures each page has a content type and prevents browsers from doing MIME type sniffing
              schema:
                default: nosniff
                type: string
            X-Frame-Options:
              description: Prevent this request from being loaded in any iframes
              schema:
                default: DENY
                type: string
        "429":
          content:
            application/prs.openbanking.opendata.v1.3+json:
              schema:
                additionalProperties: false
                properties:
                  description:
                    enum:
                      - You have requested this resource too often. Slow down.
                    type: string
                  status:
                    enum:
                      - "429"
                    type: string
                  title:
                    enum:
                      - Too many requests
                    type: string
                required:
                  - status
                  - title
                  - description
                title: 429 Error object
                type: object
          description: You have requested this resource too often. Slow down.
          headers:
            Strict-Transport-Security:
              description: HTTPS strict transport security header
              schema:
                type: string
            X-Content-Type-Options:
              description: Ensures each page has a content type and prevents browsers from doing MIME type sniffing
              schema:
                default: nosniff
                type: string
            X-Frame-Options:
              description: Prevent this request from being loaded in any iframes
              schema:
                default: DENY
                type: string
        "500":
          content:
            application/prs.openbanking.opendata.v1.3+json:
              schema:
                additionalProperties: false
                properties:
                  description:
                    enum:
                      - An error occurred on the server. No further information is available.
                    type: string
                  status:
                    enum:
                      - "500"
                    type: string
                  title:
                    enum:
                      - Internal server error
                    type: string
                required:
                  - status
                  - title
                  - description
                title: 500 Error object
                type: object
          description: An error occurred on the server. No further information is available.
          headers:
            Strict-Transport-Security:
              description: HTTPS strict transport security header
              schema:
                type: string
            X-Content-Type-Options:
              description: Ensures each page has a content type and prevents browsers from doing MIME type sniffing
              schema:
                default: nosniff
                type: string
            X-Frame-Options:
              description: Prevent this request from being loaded in any iframes
              schema:
                default: DENY
                type: string
        "503":
          content:
            application/prs.openbanking.opendata.v1.3+json:
              schema:
                additionalProperties: false
                properties:
                  description:
                    enum:
                      - The service is temporarily unavailable.
                    type: string
                  status:
                    enum:
                      - "503"
                    type: string
                  title:
                    enum:
                      - Service temporarily unavailable
                    type: string
                required:
                  - status
                  - title
                  - description
                title: 503 Error object
                type: object
          description: The service is temporarily unavailable.
          headers:
            Strict-Transport-Security:
              description: HTTPS strict transport security header
              schema:
                type: string
            X-Content-Type-Options:
              description: Ensures each page has a content type and prevents browsers from doing MIME type sniffing
              schema:
                default: nosniff
                type: string
            X-Frame-Options:
              description: Prevent this request from being loaded in any iframes
              schema:
                default: DENY
                type: string
        default:
          content:
            application/prs.openbanking.opendata.v1.3+json:
              schema:
                additionalProperties: false
                properties:
                  description:
                    description: Further details describing the error
                    type: string
                  status:
                    description: This corresponds to the HTTP status code
                    type: string
                  title:
                    description: A short title of the type of error
                    type: string
                required:
                  - status
                  - title
                  - description
                title: Error object
                type: object
          description: A standard error response.
          headers:
            Strict-Transport-Security:
              description: HTTPS strict transport security header
              schema:
                type: string
            X-Content-Type-Options:
              description: Ensures each page has a content type and prevents browsers from doing MIME type sniffing
              schema:
                default: nosniff
                type: string
            X-Frame-Options:
              description: Prevent this request from being loaded in any iframes
              schema:
                default: DENY
                type: string
      tags:
        - ATM
    head:
      description: Gets header information on the current set of `ATM` data
      parameters:
        - description: Used for conditional request, to retrieve data only if modified since a given date
          in: header
          name: If-Modified-Since
          required: false
          schema:
            type: string
        - description: Used for conditional request, to retrieve data only if the given Etag value does not match
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
      responses:
        default:
          content:
            application/prs.openbanking.opendata.v1.3+json:
              schema:
                properties: {}
                title: No response
                type: object
          description: No response
      tags:
        - ATM
  /branches:
    get:
      description: Gets a list of all `Branch` objects.
      parameters:
        - description: Used for conditional request, to retrieve data only if modified since a given date
          in: header
          name: If-Modified-Since
          required: false
          schema:
            type: string
        - description: Used for conditional request, to retrieve data only if the given Etag value does not match
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/prs.openbanking.opendata.v1.3+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      additionalProperties: false
                      properties:
                        ATMAtBranch:
                          description: Indicated whether an ATM is at the branch
                          type: boolean
                        AccessibilityTypes:
                          description: Information about the accessibility
                          enum:
                            - AudioCashMachine
                            - AutomaticDoors
                            - ChairAccess
                            - DriveThru
                            - ExternalRamp
                            - InductionLoop
                            - InternalRamp
                            - LevelAccess
                            - LowerLevelCounter
                            - WheelchairAccess
                          type: string
                        Address:
                          additionalProperties: false
                          description: Postal Address
                          properties:
                            BuildingNumberOrName:
                              description: Number or Name that identifies the position of a building on a street
                              maxLength: 350
                              minLength: 1
                              type: string
                            Country:
                              description: Nation with its own government
                              pattern: "[A-Z]{2}"
                              type: string
                            CountrySubDivision:
                              description: Identifies a subdivision of a country such as state, region, county
                              maxLength: 35
                              minLength: 1
                              type: string
                            OptionalAddressField:
                              description: Directions for customers
                              maxLength: 350
                              minLength: 1
                              type: string
                            PostCode:
                              description: Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail
                              maxLength: 16
                              minLength: 1
                              type: string
                            StreetName:
                              description: Name of a street or thoroughfare
                              maxLength: 70
                              minLength: 1
                              type: string
                            TownName:
                              description: Name of a built-up area, with defined boundaries, and a local government
                              maxLength: 35
                              minLength: 1
                              type: string
                          required:
                            - Country
                          type: object
                        AlternatePhone:
                          items:
                            additionalProperties: false
                            description: Alternative Phone Number
                            properties:
                              AlternateTelephoneNumber:
                                description: Collection of information that identifies a phone number, as defined by telecom services.
                                pattern: ^[+][0-9]{1,3}-[0-9()+-]{1,30}$
                                type: string
                              AlternateTelephoneNumberDescription:
                                description: Description of the telephone number
                                maxLength: 35
                                minLength: 1
                                type: string
                            type: object
                          type: array
                        ArrivalTime:
                          description: Time that the mobile branch is scheduled to arrive
                          pattern: ^(([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9].\d{3})|(^24:00:00\.000)(?:Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$
                          type: string
                        BranchDescription:
                          description: Description of the branch
                          maxLength: 140
                          minLength: 1
                          type: string
                        BranchFacilitiesName:
                          description: Information about branch facilities
                          items:
                            description: Information about branch facilities
                            enum:
                              - BusinessITSupport
                              - CollectionLockers
                              - MeetingRooms
                              - Parking
                              - Wifi
                            type: string
                          type: array
                          uniqueItems: true
                        BranchIdentification:
                          description: Unique and unambiguous identification of a retail branch of a financial institution
                          maxLength: 35
                          minLength: 1
                          type: string
                        BranchMediatedServiceName:
                          description: Information about mediated branch facilities
                          items:
                            description: Information about mediated branch facilities
                            enum:
                              - BureauDeChange
                              - BusinessCounter
                              - CardIssuanceFacility
                              - CounterServices
                              - DriveThru
                              - MortgageAdvisor
                              - NightSafe
                              - OnDemandCurrency
                              - PremierCounter
                              - VideoBanking
                              - WheelChairAccess
                            type: string
                          type: array
                          uniqueItems: true
                        BranchName:
                          description: Name by which a party is known and which is usually used to identify that party
                          maxLength: 35
                          minLength: 1
                          type: string
                        BranchOtherFacilities:
                          description: Any other facilities not mentioned in BranchFacilitiesName
                          items:
                            description: maxLength 350 text
                            maxLength: 350
                            minLength: 1
                            type: string
                          type: array
                        BranchOtherMediatedServices:
                          description: Mediated Services not described in BranchMediatedServiceName
                          items:
                            description: maxLength 350 text
                            maxLength: 350
                            minLength: 1
                            type: string
                          type: array
                        BranchOtherSelfServices:
                          description: Self Services not described in BranchSelfServeServiceName
                          items:
                            description: maxLength 350 text
                            maxLength: 350
                            minLength: 1
                            type: string
                          type: array
                        BranchPhoto:
                          description: Image related to the branch
                          format: uri
                          type: string
                        BranchSelfServeServiceName:
                          items:
                            description: Information about self service branch services
                            enum:
                              - AccountVerificationService
                              - AssistedServiceCounter
                              - BusinessDepositTerminal
                              - CashChequeDepositMachineCoin
                              - CashChequeDepositMachineNoCoin
                              - ExternalAtmAudio
                              - ExternalAtmNoAudio
                              - ExternalQuickServicePoint
                              - InternalAtmAudio
                              - InternalAtmNoAudio
                              - InternalQuickServicePoint
                              - LodgementDevice
                              - OnlineBankingPoint
                              - QuickDeposit
                              - SaturdayCounterService
                              - SelfServiceAccountOpening
                              - StatementPrinter
                            type: string
                          type: array
                          uniqueItems: true
                        BranchType:
                          description: Information on the type of branch
                          enum:
                            - Physical
                            - Mobile
                          type: string
                        CustomerSegment:
                          description: Customer segment which the branch is able to service
                          items:
                            description: Customer segment which the branch is able to service
                            enum:
                              - Business
                              - Corporate
                              - Personal
                              - Premier
                              - Private
                              - Select
                              - SME
                              - Wealth
                            type: string
                          type: array
                          uniqueItems: true
                        DaysOfTheWeek:
                          description: Description on when the mobile branch is available. e.g. The weekend of Glastonbury festival; or Mondays and during the shrimp season also Wednesdays
                          maxLength: 35
                          minLength: 1
                          type: string
                        DepartureTime:
                          description: Time that the mobile branch is scheduled to depart
                          pattern: ^(([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9].\d{3})|(^24:00:00\.000)(?:Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$
                          type: string
                        FaxNumber:
                          description: Collection of information that identifies a FAX number, as defined by telecom services.
                          items:
                            description: Collection of information that identifies a phone number, as defined by telecom services.
                            pattern: ^[+][0-9]{1,3}-[0-9()+-]{1,30}$
                            type: string
                          type: array
                        GeographicLocation:
                          additionalProperties: false
                          description: Geographic Coordinates
                          properties:
                            Latitude:
                              description: The Latitude measured in decimal format according to ISO 213
                              pattern: ^-?\d{1,3}\.\d{1,8}$
                              type: string
                            Longitude:
                              description: The longitude measured in decimal format according to ISO 213
                              pattern: ^-?\d{1,3}\.\d{1,8}$
                              type: string
                          required:
                            - Latitude
                            - Longitude
                          type: object
                        OpeningTimes:
                          additionalProperties: false
                          description: Branch Opening Times
                          items:
                            properties:
                              ClosingTime:
                                description: ISOTime, local time hh:mm:ss.sss or time in utc hh:mm:ss.sssZ or time with timezone hh:mm:ss.sss+hh:mm hh:mm:ss.sss-hh:mm
                                pattern: ^(([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9].\d{3})|(^24:00:00\.000)(?:Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$
                                type: string
                              OpeningDay:
                                description: Day of the week
                                enum:
                                  - Monday
                                  - Tuesday
                                  - Wednesday
                                  - Thursday
                                  - Friday
                                  - Saturday
                                  - Sunday
                                  - Public and Bank Holiday
                                maxLength: 35
                                minLength: 1
                                type: string
                              OpeningTime:
                                description: ISOTime, local time hh:mm:ss.sss or time in utc hh:mm:ss.sssZ or time with timezone hh:mm:ss.sss+hh:mm hh:mm:ss.sss-hh:mm
                                pattern: ^(([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9].\d{3})|(^24:00:00\.000)(?:Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$
                                type: string
                              UnavailableFinishTime:
                                description: ISOTime, local time hh:mm:ss.sss or time in utc hh:mm:ss.sssZ or time with timezone hh:mm:ss.sss+hh:mm hh:mm:ss.sss-hh:mm
                                pattern: ^(([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9].\d{3})|(^24:00:00\.000)(?:Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$
                                type: string
                              UnavailableStartTime:
                                description: ISOTime, local time hh:mm:ss.sss or time in utc hh:mm:ss.sssZ or time with timezone hh:mm:ss.sss+hh:mm hh:mm:ss.sss-hh:mm
                                pattern: ^(([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9].\d{3})|(^24:00:00\.000)(?:Z|[+-](?:2[0-3]|[01][0-9]):[0-5][0-9])?$
                                type: string
                            required:
                              - OpeningDay
                              - OpeningTime
                              - ClosingTime
                            type: object
                          minItems: 1
                          type: array
                        Organisation:
                          additionalProperties: false
                          description: Organisation
                          properties:
                            Brand:
                              additionalProperties: false
                              description: Brand
                              properties:
                                TrademarkID:
                                  description: "The trademark number that has been registered with the Intellectual Property Office. Note: The 2 letter IPO prefix should be omitted"
                                  maxLength: 35
                                  minLength: 1
                                  type: string
                                TrademarkIPOCode:
                                  description: "The Intellectual Property Office (IPO) is the official body responsible for intellectual property (IP) rights including patents, designs, trademarks and copyright. (Code: UK or EU only)"
                                  enum:
                                    - UK
                                    - EU
                                  type: string
                              required:
                                - TrademarkIPOCode
                                - TrademarkID
                              type: object
                            ParentOrganisation:
                              additionalProperties: false
                              description: Parent organisation
                              properties:
                                BIC:
                                  description: The BIC from the organisation
                                  pattern: "[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3})?"
                                  type: string
                                LEI:
                                  description: The LEI ID of the organisation
                                  pattern: ^[A-Z0-9]{18,18}[0-9]{2,2}$
                                  type: string
                                OrganisationName:
                                  additionalProperties: false
                                  description: Organisation Name
                                  properties:
                                    LegalName:
                                      description: Legal Name of the organisation
                                      maxLength: 35
                                      minLength: 1
                                      type: string
                                  required:
                                    - LegalName
                                  type: object
                              required:
                                - OrganisationName
                              type: object
                          required:
                            - ParentOrganisation
                            - Brand
                          type: object
                        ParkingLocation:
                          description: Place where the mobile branch is located, such as between the news agent and the church.
                          maxLength: 50
                          minLength: 1
                          type: string
                        PlannedBranchClosure:
                          items:
                            additionalProperties: false
                            description: Planned branch closure
                            properties:
                              EndDate:
                                description: Date when a branch is due to re-open following temporary closure
                                pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                type: string
                              StartDate:
                                description: Date when a branch is due to close temporarily or permanently
                                pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                type: string
                            type: object
                          type: array
                        StopName:
                          description: Name of the stop of the mobile branch
                          maxLength: 15
                          minLength: 1
                          type: string
                        TelephoneNumber:
                          description: Collection of information that identifies a phone number, as defined by telecom services.
                          pattern: ^[+][0-9]{1,3}-[0-9()+-]{1,30}$
                          type: string
                      required:
                        - Organisation
                        - BranchIdentification
                        - BranchType
                        - CustomerSegment
                        - Address
                        - TelephoneNumber
                        - OpeningTimes
                        - ATMAtBranch
                      title: Branch
                      type: object
                    type: array
                  meta:
                    additionalProperties: false
                    properties:
                      Agreement:
                        enum:
                          - Use of the APIs and any related data will be subject to the terms of the Open Licence and subject to terms and conditions
                        type: string
                      LastUpdated:
                        format: date-time
                        type: string
                      License:
                        description: Open Banking License
                        enum:
                          - https://www.openbanking.org.uk/open-licence
                        format: uri
                        type: string
                      TermsOfUse:
                        description: Open Banking Terms of Use
                        enum:
                          - https://www.openbanking.org.uk/terms
                        format: uri
                        type: string
                      TotalResults:
                        type: integer
                    required:
                      - LastUpdated
                      - TotalResults
                      - Agreement
                      - License
                      - TermsOfUse
                    title: Meta data
                    type: object
                required:
                  - meta
                  - data
                type: object
          description: Successful response with a list of `Branch` data
          headers:
            Cache-Control:
              description: Describes how long this response can be cached
              schema:
                default: max-age=28800
                type: string
            Etag:
              description: A unique ID identifying whether this resource has changed
              schema:
                type: string
            Strict-Transport-Security:
              description: HTTPS strict transport security header
              schema:
                default: max-age=31536000
                type: string
            X-Content-Type-Options:
              description: Ensures each page has a content type and prevents browsers from doing MIME type sniffing
              schema:
                default: nosniff
                type: string
            X-Frame-Options:
              description: Prevent this request from being loaded in any iframes
              schema:
                default: DENY
                type: string
        "400":
          content:
            application/prs.openbanking.opendata.v1.3+json:
              schema:
                additionalProperties: false
                properties:
                  description:
                    enum:
                      - You have sent a request which could not be understood.
                    type: string
                  status:
                    enum:
                      - "400"
                    type: string
                  title:
                    enum:
                      - Bad request
                    type: string
                required:
                  - status
                  - title
                  - description
                title: 400 Error object
                type: object
          description: You have sent a request which could not be understood.
          headers:
            Strict-Transport-Security:
              description: HTTPS strict transport security header
              schema:
                type: string
            X-Content-Type-Options:
              description: Ensures each page has a content type and prevents browsers from doing MIME type sniffing
              schema:
                default: nosniff
                type: string
            X-Frame-Options:
              description: Prevent this request from being loaded in any iframes
              schema:
                default: DENY
                type: string
        "408":
          content:
            application/prs.openbanking.opendata.v1.3+json:
              schema:
                additionalProperties: false
                properties:
                  description:
                    enum:
                      - Your client has failed to submit a request, and a timeout has occurred.
                    type: string
                  status:
                    enum:
                      - "408"
                    type: string
                  title:
                    enum:
                      - Client timeout
                    type: string
                required:
                  - status
                  - title
                  - description
                title: 408 Error object
                type: object
          description: Your client has failed to submit a request, and a timeout has occurred.
          headers:
            Strict-Transport-Security:
              description: HTTPS strict transport security header
              schema:
                type: string
            X-Content-Type-Options:
              description: Ensures each page has a content type and prevents browsers from doing MIME type sniffing
              schema:
                default: nosniff
                type: string
            X-Frame-Options:
              description: Prevent this request from being loaded in any iframes
              schema:
                default: DENY
                type: string
        "429":
          content:
            application/prs.openbanking.opendata.v1.3+json:
              schema:
                additionalProperties: false
                properties:
                  description:
                    enum:
                      - You have requested this resource too often. Slow down.
                    type: string
                  status:
                    enum:
                      - "429"
                    type: string
                  title:
                    enum:
                      - Too many requests
                    type: string
                required:
                  - status
                  - title
                  - description
                title: 429 Error object
                type: object
          description: You have requested this resource too often. Slow down.
          headers:
            Strict-Transport-Security:
              description: HTTPS strict transport security header
              schema:
                type: string
            X-Content-Type-Options:
              description: Ensures each page has a content type and prevents browsers from doing MIME type sniffing
              schema:
                default: nosniff
                type: string
            X-Frame-Options:
              description: Prevent this request from being loaded in any iframes
              schema:
                default: DENY
                type: string
        "500":
          content:
            application/prs.openbanking.opendata.v1.3+json:
              schema:
                additionalProperties: false
                properties:
                  description:
                    enum:
                      - An error occurred on the server. No further information is available.
                    type: string
                  status:
                    enum:
                      - "500"
                    type: string
                  title:
                    enum:
                      - Internal server error
                    type: string
                required:
                  - status
                  - title
                  - description
                title: 500 Error object
                type: object
          description: An error occurred on the server. No further information is available.
          headers:
            Strict-Transport-Security:
              description: HTTPS strict transport security header
              schema:
                type: string
            X-Content-Type-Options:
              description: Ensures each page has a content type and prevents browsers from doing MIME type sniffing
              schema:
                default: nosniff
                type: string
            X-Frame-Options:
              description: Prevent this request from being loaded in any iframes
              schema:
                default: DENY
                type: string
        "503":
          content:
            application/prs.openbanking.opendata.v1.3+json:
              schema:
                additionalProperties: false
                properties:
                  description:
                    enum:
                      - The service is temporarily unavailable.
                    type: string
                  status:
                    enum:
                      - "503"
                    type: string
                  title:
                    enum:
                      - Service temporarily unavailable
                    type: string
                required:
                  - status
                  - title
                  - description
                title: 503 Error object
                type: object
          description: The service is temporarily unavailable.
          headers:
            Strict-Transport-Security:
              description: HTTPS strict transport security header
              schema:
                type: string
            X-Content-Type-Options:
              description: Ensures each page has a content type and prevents browsers from doing MIME type sniffing
              schema:
                default: nosniff
                type: string
            X-Frame-Options:
              description: Prevent this request from being loaded in any iframes
              schema:
                default: DENY
                type: string
        default:
          content:
            application/prs.openbanking.opendata.v1.3+json:
              schema:
                additionalProperties: false
                properties:
                  description:
                    description: Further details describing the error
                    type: string
                  status:
                    description: This corresponds to the HTTP status code
                    type: string
                  title:
                    description: A short title of the type of error
                    type: string
                required:
                  - status
                  - title
                  - description
                title: Error object
                type: object
          description: A standard error response.
          headers:
            Strict-Transport-Security:
              description: HTTPS strict transport security header
              schema:
                type: string
            X-Content-Type-Options:
              description: Ensures each page has a content type and prevents browsers from doing MIME type sniffing
              schema:
                default: nosniff
                type: string
            X-Frame-Options:
              description: Prevent this request from being loaded in any iframes
              schema:
                default: DENY
                type: string
      tags:
        - Branch
    head:
      description: Gets header information on the current set of `Branch` data
      parameters:
        - description: Used for conditional request, to retrieve data only if modified since a given date
          in: header
          name: If-Modified-Since
          required: false
          schema:
            type: string
        - description: Used for conditional request, to retrieve data only if the given Etag value does not match
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
      responses:
        default:
          content:
            application/prs.openbanking.opendata.v1.3+json:
              schema:
                properties: {}
                title: No response
                type: object
          description: No response
      tags:
        - Branch
  /business-current-accounts:
    get:
      description: Gets a list of all `Branch Current Account` objects.
      parameters:
        - description: Used for conditional request, to retrieve data only if modified since a given date
          in: header
          name: If-Modified-Since
          required: false
          schema:
            type: string
        - description: Used for conditional request, to retrieve data only if the given Etag value does not match
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/prs.openbanking.opendata.v1.3+json:
              schema:
                additionalProperties: false
                properties:
                  data:
                    items:
                      description: Business current account
                      properties:
                        AccessChannels:
                          description: Ways to interact with the bank when managing account
                          items:
                            description: Channel
                            enum:
                              - ATM
                              - Branch
                              - BusinessCommercialCentre
                              - CallCentre
                              - MobileApps
                              - MobileBanking
                              - Online
                              - Phone
                              - Post
                              - PostOffice
                              - RelationshipManager
                              - Text
                            type: string
                          minItems: 1
                          type: array
                        Benefits:
                          additionalProperties: false
                          description: Benefit
                          properties:
                            Benefit:
                              description: Describe  one or more benefits if they exist
                              type: boolean
                            BenefitGroup:
                              items:
                                additionalProperties: false
                                description: Benefit Interest Group
                                properties:
                                  BenefitItem:
                                    additionalProperties: false
                                    description: Benefit Item
                                    properties:
                                      BenefitDetail:
                                        items:
                                          additionalProperties: false
                                          description: Benefit detail
                                          properties:
                                            BenefitDescription:
                                              description: A textual explanation of what the benefit is
                                              type: string
                                            BenefitID:
                                              description: Unique benefit identifier per organisation
                                              type: string
                                            BenefitName:
                                              description: The name of the benefit
                                              type: string
                                            BenefitType:
                                              description: Type that represents the nature of the benefit
                                              type: string
                                            BenefitValue:
                                              description: The value or values permissible for a specific benefit for an individual product representing a product characteristic
                                              type: string
                                            Counter:
                                              description: Counter for the criteria (e.g. number of DD)
                                              type: integer
                                            CriteriaType:
                                              items:
                                                description: Criteria that is required in order to be eligible for the Benefit
                                                enum:
                                                  - CashDeposit
                                                  - Deposit
                                                  - DirectDebit
                                                  - InitialDeposit
                                                  - InternetLogon
                                                  - MobileLogon
                                                  - RegularDeposit
                                                type: string
                                              type: array
                                            DefaultToAccounts:
                                              description: Is the benefit part of the default account
                                              type: boolean
                                            MaximumCriteria:
                                              description: Maximum amount for the criteria
                                              pattern: ^-?\d{1,10}\.\d{1,2}$
                                              type: string
                                            MinimumCriteria:
                                              description: Minimum amount for the criteria
                                              pattern: ^-?\d{1,10}\.\d{1,2}$
                                              type: string
                                            PromotionEndDate:
                                              description: If the benefit is temporal the end date is when the benefit is no longer applicable
                                              pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                              type: string
                                            PromotionStartDate:
                                              description: If the benefit is temporal the start date is when the benefit comes into effect
                                              pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                              type: string
                                          type: object
                                        type: array
                                      DateOfChange:
                                        description: Date of the change if it refers to future terms
                                        pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                        type: string
                                      LengthPromotionalInDays:
                                        description: Describes the length if only a duration is given instead of a date in days
                                        type: integer
                                      StartPromotionOrFutureTerms:
                                        description: Describes the start date
                                        pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                        type: string
                                      StopPromotionOrFutureTerms:
                                        description: Describes the end date
                                        pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                        type: string
                                    type: object
                                  BenefitSubType:
                                    description: Benefit Subtype Code
                                    enum:
                                      - FutureMultipleTerms
                                      - Promotional
                                      - Regular
                                    type: string
                                required:
                                  - BenefitItem
                                type: object
                              type: array
                          required:
                            - Benefit
                          type: object
                        CAPricing:
                          items:
                            additionalProperties: false
                            description: Card Price
                            properties:
                              CAPricingItem:
                                additionalProperties: false
                                description: Card Pricing
                                properties:
                                  DateOfChange:
                                    description: Date of the change if it refers to future terms
                                    pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                    type: string
                                  ExchangeRateAdjustment:
                                    description: The margin added, by certain card issuers, to the scheme rate in order to arrive at the exchange rate qouted as the reference exchange rate to the cardholder
                                    pattern: ^-?\d{1,3}\.\d{1,4}$
                                    type: string
                                  LengthPromotionalInDays:
                                    description: Describes the length if only a duration is given instead of a date
                                    type: integer
                                  StartPromotionOrFutureTerms:
                                    description: Describes the start date
                                    pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                    type: string
                                  StopPromotionOrFutureTerms:
                                    description: Describes the end date
                                    pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                    type: string
                                type: object
                              ProductState:
                                description: Describes if the offering is promotional or a description of a future state.
                                enum:
                                  - FutureMultipleTerms
                                  - Promotional
                                  - Regular
                                type: string
                            required:
                              - ProductState
                              - CAPricingItem
                            type: object
                          minItems: 1
                          type: array
                        CardNotes:
                          description: Optional additional notes to supplement the card details
                          type: string
                        CardType:
                          description: Card Type available
                          items:
                            description: Indicates the card scheme
                            enum:
                              - BasicCard
                              - BusinessQuickLodgeCard
                              - Cashcard
                              - ContactlessCashcard
                              - ContactlessDebitMastercard
                              - ContactlessDebitVisa
                              - DebitMastercard
                              - VisaDebit
                              - DepositCard
                              - OperatorCard
                              - POCACard
                            type: string
                          minItems: 1
                          type: array
                        CardWithdrawalLimit:
                          description: The daily Limit that a customer can get via the ATM. This describes the default limit rather than the maximum
                          pattern: ^-?\d{1,10}\.\d{1,2}$
                          type: string
                        ChequeBookAvailable:
                          description: Can a chequebook be issued
                          type: boolean
                        Contactless:
                          description: Does the card issued have contactless facility
                          type: boolean
                        CreditInterest:
                          additionalProperties: false
                          description: Credit Interest
                          properties:
                            CreditCharged:
                              description: Is credit paid to the account. The answer will be the condition of all other fields to be filled
                              type: boolean
                            CreditInterestGroup:
                              items:
                                additionalProperties: false
                                description: Credit Interest Group
                                properties:
                                  CreditInterestItem:
                                    additionalProperties: false
                                    description: Credit Interest item
                                    properties:
                                      CalculationFrequency:
                                        description: How often is interest applied to account
                                        enum:
                                          - Daily
                                          - Weekly
                                          - Monthly
                                          - Quarterly
                                          - Half-Yearly
                                          - Yearly
                                          - Overnight
                                        type: string
                                      CalculationMethod:
                                        description: Method for interest calculation
                                        enum:
                                          - Banded
                                          - Tiered
                                          - Whole
                                        type: string
                                      DateOfChange:
                                        description: Date of the change if it refers to future terms
                                        pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                        type: string
                                      EndDate:
                                        description: If interest is charged on a specific date range as end date (often used for promotion)
                                        pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                        type: string
                                      FixedInterestLength:
                                        description: Fixed interest length in days
                                        type: integer
                                      InterestNotes:
                                        description: Additional notes to supplement the interest details
                                        type: string
                                      InterestRateType:
                                        description: Credit Interest Payment Rate Type
                                        enum:
                                          - Fixed
                                          - Variable
                                        type: string
                                      InterestTiers:
                                        items:
                                          additionalProperties: false
                                          description: Credit Interest Tiers
                                          properties:
                                            APRAERRate:
                                              description: AER or APR Rate for comparison
                                              pattern: ^-?\d{1,3}\.\d{1,4}$
                                              type: string
                                            DailyChargeForMaximum:
                                              description: Special charge on tiered overdraft
                                              pattern: ^-?\d{1,10}\.\d{1,2}$
                                              type: string
                                            DailyChargeForMinimum:
                                              description: Special charge on tiered overdraft
                                              pattern: ^-?\d{1,10}\.\d{1,2}$
                                              type: string
                                            InterestTier:
                                              description: Identifier for the tier
                                              type: string
                                            Rate:
                                              description: Rate being paid by the bank (gross)
                                              pattern: ^-?\d{1,3}\.\d{1,4}$
                                              type: string
                                            RateComparisonType:
                                              description: Rate Comparison Type
                                              enum:
                                                - APR
                                                - AER
                                                - Gross
                                                - Net
                                                - RepApr
                                              type: string
                                            TierValueMaximum:
                                              description: Max Value of interst tier
                                              maxLength: 15
                                              minLength: 1
                                              type: string
                                            TierValueMinimum:
                                              description: Lower value of interest tier
                                              pattern: ^-?\d{1,10}\.\d{1,2}$
                                              type: string
                                          type: object
                                        type: array
                                      LengthPromotionalInDays:
                                        description: Describes the length if only a duration is given instead of a date
                                        type: integer
                                      PaymentMethod:
                                        description: Credit Interest Payment Method Code
                                        enum:
                                          - Compound
                                          - PayAway
                                          - SelfCredit
                                          - SimpleInterest
                                        type: string
                                      StartDate:
                                        description: If interest is charged on a specific date range as start date (often used for promotion)
                                        pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                        type: string
                                      StartPromotionOrFutureTerms:
                                        description: Describes the start date
                                        pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                        type: string
                                      StopPromotionOrFutureTerms:
                                        description: Describes the end date
                                        pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                        type: string
                                    type: object
                                  InterestTierSubType:
                                    description: Describes if the offering is promotional, regular or a description of a future state
                                    enum:
                                      - FutureMultipleTerms
                                      - Promotional
                                      - Regular
                                    type: string
                                required:
                                  - CreditInterestItem
                                type: object
                              type: array
                          required:
                            - CreditCharged
                          type: object
                        CreditScoringPartOfAccountOpeningForGettingAnAccount:
                          description: Indicates whether a credit check performed on an inquiry to open an account is submitted
                          type: boolean
                        CreditScoringPartOfAccountOpeningForIDVerification:
                          description: Indicates whether a credit check is used to check the address of a potential new account holder
                          type: boolean
                        CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore:
                          items:
                            description: Indicates the type of scoring
                            enum:
                              - Hard
                              - Soft
                            type: string
                          type: array
                        CreditScoringPartOfAccountOpeningIDVerificationText:
                          description: Details on the specific credit scoring
                          items:
                            type: string
                          type: array
                        CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore:
                          description: Describes the type of credit scoring
                          items:
                            description: Indicates the type of scoring
                            enum:
                              - Hard
                              - Soft
                            type: string
                          type: array
                        CreditScoringPartOfAccountOpeningText:
                          description: Details on the specific credit scoring
                          type: string
                        Currency:
                          description: Currency of the Account. Default to GBP at present
                          items:
                            description: Active or Historic Currency Code
                            pattern: "[A-Z]{3}"
                            type: string
                          minItems: 1
                          type: array
                        Eligibility:
                          additionalProperties: false
                          description: Eligibility
                          properties:
                            AgeRestricted:
                              description: Indicates a customer's age is part of eligibility criteria
                              type: boolean
                            AnnualBusinessTurnover:
                              description: Annual Business Turnover
                              pattern: ^-?\d{1,10}\.\d{1,2}$
                              type: string
                            AnnualBusinessTurnoverCurrency:
                              description: Annual Business Turnover Currency
                              pattern: "[A-Z]{3}"
                              type: string
                            Description:
                              description: One paragraph detailing the eligibility
                              type: string
                            EligibilityName:
                              description: Free text description, denotes non standard eligibilities not included in the code list
                              type: string
                            EligibilityNotes:
                              description: Optional additional notes to supplement the eligibility conditions. Only used for very specific conditions
                              type: string
                            EligibilityType:
                              description: Eligibility type
                              enum:
                                - AnyBusinessCustomer
                                - BusinessOnly
                                - CreditCard
                                - CreditScoring
                                - EmailAddress
                                - ExistingCustomers
                                - IdAndV
                                - Mortgage
                                - NoArrearsOnLoan
                                - NoCustomerInArrears
                                - NoOverOverdraftThirtyDays
                                - NoSoleUkAccountOrBankrupt
                                - NTB
                                - NTBBusiness
                                - SoleStudentAccount
                                - SoleUkAccount
                                - StudentsOnly
                                - TwoMonthsOfCourseStart
                                - UCASFulltimeTwoYears
                              type: string
                            IncomeCondition:
                              description: Stipulates any particular definition of income that applies to the income eligibility and/or method by which income must paid into the account (eg Salary DD)
                              type: string
                            IncomeTurnoverRelated:
                              description: Indicates if eligibility linked to income
                              type: boolean
                            MarketingEligibility:
                              items:
                                description: Specific eligibility for marketing
                                enum:
                                  - ExistingCustomers
                                  - NewCustomersOnly
                                  - SwitchersOnly
                                  - StartUp
                                type: string
                              type: array
                              uniqueItems: true
                            MaxNumberOfAccounts:
                              description: Maximum number of the same prodcut the customer may hold
                              type: string
                            MaximumAge:
                              description: Maximum age, in years, allowed to hold the account
                              type: integer
                            MaximumAgeToOpen:
                              description: Maximum age, in years, to open an account
                              type: integer
                            MaximumOpeningAmount:
                              description: A maximum amount to be deposited at opening
                              type: boolean
                            MinIncomeTurnoverPaidIntoAccount:
                              description: Minimum Income Amount required to paid into the account
                              type: integer
                            MinimumAge:
                              description: Minimum age, in years, required to hold an account
                              type: integer
                            MinimumDeposit:
                              description: A minimum deposit required to hold this account
                              type: boolean
                            MinimumIncomeFrequency:
                              description: The frequency that the minimum mentioned before is deposited in the account. Yearly is very important for premium accounts
                              enum:
                                - AcademicTerm
                                - HalfYearly
                                - Monthly
                                - Quarterly
                                - Weekly
                                - Yearly
                              type: string
                            MinimumIncomeTurnoverAmount:
                              description: Minimum income / Turnover required to hold the product
                              pattern: ^-?\d{1,10}\.\d{1,2}$
                              type: string
                            MinimumIncomeTurnoverCurrency:
                              description: Minimum income / Turnover Currency
                              pattern: "[A-Z]{3}"
                              type: string
                            MinimumOperatingBalance:
                              description: Minimum Operating Balance
                              pattern: ^-?\d{1,10}\.\d{1,2}$
                              type: string
                            MinimumOperatingBalanceCurrency:
                              description: Minimum Operating Balance currency
                              pattern: "[A-Z]{3}"
                              type: string
                            MinimumOperatingBalanceExists:
                              description: Is there a Minimum Operating Balance?
                              type: boolean
                            OpeningDepositMaximumAmount:
                              description: Maximum Amount to be depositing at opening
                              pattern: ^-?\d{1,10}\.\d{1,2}$
                              type: string
                            OpeningDepositMaximumCurrency:
                              description: The currency of the Minimum Amount to be depositing at opening
                              pattern: "[A-Z]{3}"
                              type: string
                            OpeningDepositMinimum:
                              description: Minimum Amount to be held on account
                              pattern: ^-?\d{1,10}\.\d{1,2}$
                              type: string
                            OpeningDepositMinimumCurrency:
                              description: The currency of the Minimum Amount to be depositing at opening
                              pattern: "[A-Z]{3}"
                              type: string
                            OtherFinancialHoldingRequired:
                              description: Indicates that it is necessary to hold another product with the bank in order to be eligible for this product or feature
                              type: boolean
                            PreviousBankruptcy:
                              description: Describes if a previous bankruptcy / insolvency disqualfies for this account Details in ELI-280
                              type: boolean
                            ResidencyRestricted:
                              description: Indicates a customer's residency forms part of the eligibility criteria
                              type: boolean
                            ResidencyRestrictedRegion:
                              description: Indicates a customer must be current resident of a geographic area/country
                              enum:
                                - UK
                                - EEA
                                - EU
                                - EFTA
                                - GB - ENG
                                - GB - NIR
                                - GB - SCT
                                - GB - WLS
                                - IRL
                              type: string
                            SingleJointIncome:
                              description: Minimum Income Source. For certain products a minimum income is required. This can be mandated as to the single income or to a joint income. This field describes this
                              enum:
                                - Joint
                                - SoleIncome
                                - SoleOrJoint
                                - Turnover
                              type: string
                            ThirdSectorOrganisations:
                              description: Is the product available to operate as a Clubs or Societies account?
                              type: boolean
                          required:
                            - AgeRestricted
                            - OtherFinancialHoldingRequired
                            - Description
                            - IncomeTurnoverRelated
                            - ResidencyRestricted
                            - ThirdSectorOrganisations
                            - PreviousBankruptcy
                          type: object
                        Feature:
                          items:
                            description: Account Features
                            properties:
                              DateOfChange:
                                description: Date of the change if it refers to future terms
                                pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                type: string
                              ExistingFeature:
                                description: Indicates whether the account has any feature
                                type: boolean
                              FeatureDetails:
                                description: Feature details
                                items:
                                  description: Feature Details
                                  properties:
                                    CriteriaType:
                                      description: Criteria that is required in order to be eligible for the feature
                                      type: string
                                    DateOfChange:
                                      description: Date of the change if it refers to future terms
                                      pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                      type: string
                                    FeatureDescription:
                                      description: A textual explanation of what the feature
                                      type: string
                                    FeatureName:
                                      description: The name of the feature
                                      type: string
                                    FeatureSubType:
                                      description: ""
                                      enum:
                                        - FutureMultipleTerms
                                        - Promotional
                                        - Regular
                                      type: string
                                    FeatureType:
                                      description: Type that represents the nature of the feature
                                      type: string
                                    FeatureValue:
                                      description: The value or values permissible for a specific feature for an individual product representing a product characteristic
                                      type: string
                                    LengthPromotionalInDays:
                                      description: Describes the length if only a duration is given instead of a date
                                      type: integer
                                    StartPromotionOrFutureTerms:
                                      description: Describes the start date
                                      pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                      type: string
                                    StopPromotionOrFutureTerms:
                                      description: Describes the end date
                                      pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                      type: string
                                  type: object
                                type: array
                              LengthPromotionalInDays:
                                description: Describes the length if only a duration is given instead of a date
                                type: integer
                              ProductState:
                                description: Describes if the offering is promotional or a description of a future state.
                                enum:
                                  - FutureMultipleTerms
                                  - Promotional
                                  - Regular
                                type: string
                              StartPromotionOrFutureTerms:
                                description: Describes the start date
                                pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                type: string
                              StopPromotionOrFutureTerms:
                                description: Describes the end date
                                pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                type: string
                            required:
                              - ExistingFeature
                            type: object
                          type: array
                        FeesAndCharges:
                          items:
                            additionalProperties: false
                            description: Fees And Charges
                            properties:
                              Fees:
                                additionalProperties: false
                                description: Fees
                                properties:
                                  DateOfChange:
                                    description: Date of the change if it refers to future terms
                                    pattern: ^[0-9]{4}-(0[1-9]|(1[0|1|2]))-((0[1-9])|((1|2)[0-9])|(30|31))$
                                    type: string
                                  FeeDetails:
                                    items:
                                      additionalProperties: false
                                      description: Fee Details
                                      properties:
                                        FeeDetail:
                                          additionalProperties: false
                                          description: Fee Detail
                                          properties:
[...]
