swagger: "2.0"
schemes:
  - https
host: api.xero.com
basePath: /api.xro/2.0
info:
  contact:
    name: Xero Developer Team
    url: https://developer.xero.com
    x-twitter: XeroAPI
  description: |
    # Introduction
    The Xero Accounting API is a RESTful web service and uses the OAuth (v1.0a) protocol to authenticate 3rd party applications. The Accounting API exposes accounting and related functions of the main Xero application and can be used for a variety of purposes such as creating transactions like invoices and credit notes, right through to extracting accounting data via our reports endpoint.
  title: Accounting
  version: "2.0"
  x-apisguru-categories:
    - financial
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_lh3.googleusercontent.com_-_IQ9BNy118c_AAAAAAAAAAI_AAAAAAAAAB0_yvA2ZQSg_pk_s500-c-no_photo.jpg
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/XeroAPI/Xero-OpenAPI/master/spec/accounting2.yaml
      version: "2.0"
  x-providerName: xero.com
consumes:
  - application/json
  - application/xml
produces:
  - application/json
  - application/xml
parameters:
  If-Modified-Since:
    default: 2009-11-12T00:00:00Z
    description: A UTC timestamp (yyyy-mm-ddThh:mm:ss) . Only invoices created or modified since this timestamp will be returned e.g. 2009-11-12T00:00:00
    format: date-time
    in: header
    name: If-Modified-Since
    required: false
    type: string
  includeArchived:
    default: true
    description: "Include archived records in the response "
    in: query
    name: includeArchived
    required: false
    type: boolean
  offset:
    default: 0
    description: Offset by a specified journal number. e.g. journals with a JournalNumber greater than the offset will be returned.
    in: query
    name: offset
    required: false
    type: integer
  order:
    default: ""
    description: Order by any element returned
    in: query
    name: order
    required: false
    type: string
  page:
    default: 1
    description: Page number e.g. page=1. Page size is 100. When using the page parameter full resource details will be returned (including line items).
    in: query
    name: page
    required: false
    type: integer
  paymentsOnly:
    default: false
    description: Return results on a the cash basis
    in: query
    name: paymentsOnly
    required: false
    type: boolean
  summarizeErrors:
    default: false
    description: If you plan to submit more than one entity per API call, we recommend that you append the summarizeErrors=false querystring to your API call. This ensures that every entity is returned back to you, each having their own status attribute.
    in: query
    name: summarizeErrors
    required: false
    type: boolean
  unitdp:
    default: 4
    description: Determines the decimal places accepted/returned on the UnitAmount. UnitAmount is 2 decimal places by default but can be increased to 4 decimal places by supplying the unitdp=4 parameter.
    in: query
    name: unitdp
    required: false
    type: integer
  where:
    default: ""
    description: Filter by an any element
    in: query
    name: where
    required: false
    type: string
responses:
  400ErrorResponse:
    description: An validation exception occured.
    schema:
      properties:
        Elements:
          properties:
            DataContractBase:
              properties:
                ValidationErrors:
                  items:
                    properties:
                      ValidationError:
                        properties:
                          Message:
                            description: The validation error message
                            example: You did something silly
                            type: string
                        type: object
                  type: array
              type: object
          type: object
        ErrorNumber:
          description: Please ignore (doesn't really mean anything)
          example: 10
          type: string
        Message:
          description: The exception description
          example: A validation exception occurred
          type: string
        Type:
          description: The type of exception
          example: ValidationException
          type: string
      type: object
      xml:
        name: APIException
  404ErrorResponse:
    description: The resource you're looking for cannot be found
  500ErrorResponse:
    description: An unexpected error occured.
    schema:
      properties:
        ErrorNumber:
          description: The HTTP error code
          example: 500
          type: string
        Message:
          description: The exception description
          example: An error occurred in Xero. Check the API Status page for current service status. Contact the API support team at api@xero.com for more assistance.
          type: string
        Type:
          description: The type of exception
          example: UnknownErrorException
          type: string
      type: object
      xml:
        name: APIException
  AccountsResponse:
    description: A successful response
    schema:
      properties:
        Accounts:
          items:
            $ref: "#/definitions/Account"
          type: array
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  AttachmentsResponse:
    description: A successful response
    schema:
      properties:
        Attachments:
          items:
            $ref: "#/definitions/Attachment"
          type: array
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  BankTransactionsResponse:
    description: A successful response
    schema:
      properties:
        BankTransactions:
          items:
            $ref: "#/definitions/BankTransaction"
          type: array
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  BankTransfersResponse:
    description: A successful response
    schema:
      properties:
        BankTransfers:
          items:
            $ref: "#/definitions/BankTransfer"
          type: array
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  BrandingThemesResponse:
    description: A successful response
    schema:
      properties:
        BrandingThemes:
          items:
            $ref: "#/definitions/BrandingTheme"
          type: array
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  ContactGroupsResponse:
    description: A successful response
    schema:
      properties:
        ContactGroups:
          items:
            $ref: "#/definitions/ContactGroup"
          type: array
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  ContactsResponse:
    description: A successful response
    schema:
      properties:
        Contacts:
          items:
            $ref: "#/definitions/Contact"
          type: array
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  CreditNotesResponse:
    description: A successful response
    schema:
      properties:
        CreditNotes:
          items:
            $ref: "#/definitions/CreditNote"
          type: array
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  CurrenciesResponse:
    description: A successful response
    schema:
      properties:
        Currencies:
          items:
            $ref: "#/definitions/Currency"
          type: array
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  EmployeesResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        Employees:
          items:
            $ref: "#/definitions/Employee"
          type: array
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  ExpenseClaimsResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ExpenseClaims:
          items:
            $ref: "#/definitions/ExpenseClaim"
          type: array
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  InvoicesResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        Invoices:
          items:
            $ref: "#/definitions/Invoice"
          type: array
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  ItemsResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        Items:
          items:
            $ref: "#/definitions/Item"
          type: array
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  JournalsResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        Journals:
          items:
            $ref: "#/definitions/Journal"
          type: array
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  LinkedTransactionsResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        LinkedTransactions:
          items:
            $ref: "#/definitions/LinkedTransaction"
          type: array
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  ManualJournalsResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ManualJournals:
          items:
            $ref: "#/definitions/ManualJournal"
          type: array
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  OnlineInvoicesResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          format: uuid
          readOnly: true
          type: string
        OnlineInvoices:
          items:
            $ref: "#/definitions/OnlineInvoice"
          type: array
        ProviderName:
          description: Name of the application that made the request
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  OrganisationsResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        Organisations:
          items:
            $ref: "#/definitions/Organisation"
          type: array
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  OverpaymentsResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        Overpayments:
          items:
            $ref: "#/definitions/Overpayment"
          type: array
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  PaymentsResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        Payments:
          items:
            $ref: "#/definitions/Payment"
          type: array
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  PrepaymentsResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        Prepayments:
          items:
            $ref: "#/definitions/Prepayment"
          type: array
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  PurchaseOrdersResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        PurchaseOrders:
          items:
            $ref: "#/definitions/PurchaseOrder"
          type: array
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  ReceiptsResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Receipts:
          items:
            $ref: "#/definitions/Receipt"
          type: array
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  RepeatingInvoicesResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        RepeatingInvoices:
          items:
            $ref: "#/definitions/RepeatingInvoice"
          type: array
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  ReportSummaryResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Reports:
          items:
            $ref: "#/definitions/ReportSummary"
          type: array
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  ReportsResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Reports:
          items:
            $ref: "#/definitions/Report"
          type: array
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  TaxRatesResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
        TaxRates:
          items:
            $ref: "#/definitions/TaxRate"
          type: array
      type: object
      xml:
        name: Response
  TaxReportResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Reports:
          items:
            $ref: "#/definitions/TaxReport"
          type: array
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
      type: object
      xml:
        name: Response
  TrackingCategoriesResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
        TrackingCategories:
          items:
            $ref: "#/definitions/TrackingCategory"
          type: array
      type: object
      xml:
        name: Response
  UsersResponse:
    description: A successful response
    schema:
      properties:
        DateTimeUTC:
          description: DateTime of the request
          format: date-time
          readOnly: true
          type: string
        ID:
          description: Unique identifier for each response
          example: 8904103f-f25e-4af2-887a-f5d3acace293
          format: uuid
          readOnly: true
          type: string
        ProviderName:
          description: Name of the application that made the request
          example: My Awesome App
          readOnly: true
          type: string
        Status:
          description: OK for a successful response
          example: OK
          readOnly: true
          type: string
        Users:
          items:
            $ref: "#/definitions/User"
          type: array
      type: object
      xml:
        name: Response
tags:
  - externalDocs:
      description: Accounts
      url: https://developer.xero.com/documentation/api/accounts/
    name: Accounts
  - externalDocs:
      description: BankTransactions
      url: https://developer.xero.com/documentation/api/banktransactions/
    name: BankTransactions
  - externalDocs:
      description: BankTransfers
      url: https://developer.xero.com/documentation/api/banktransfers/
    name: BankTransfers
  - externalDocs:
      description: BrandingThemes
      url: https://developer.xero.com/documentation/api/brandingthemes/
    name: BrandingThemes
  - externalDocs:
      description: Contacts
      url: https://developer.xero.com/documentation/api/contacts/
    name: Contacts
  - externalDocs:
      description: ContactGroups
      url: https://developer.xero.com/documentation/api/contactgroups/
    name: ContactGroups
  - externalDocs:
      description: CreditNotes
      url: https://developer.xero.com/documentation/api/creditnotes/
    name: CreditNotes
  - externalDocs:
      description: Currencies
      url: https://developer.xero.com/documentation/api/currencies/
    name: Currencies
  - externalDocs:
      description: Employees
      url: https://developer.xero.com/documentation/api/employees/
    name: Employees
  - externalDocs:
      description: ExpenseClaims
      url: https://developer.xero.com/documentation/api/expenseclaims/
    name: ExpenseClaims
  - externalDocs:
      description: Invoices
      url: https://developer.xero.com/documentation/api/invoices/
    name: Invoices
  - externalDocs:
      description: Items
      url: https://developer.xero.com/documentation/api/items/
    name: Items
  - externalDocs:
      description: Journals
      url: https://developer.xero.com/documentation/api/journals/
    name: Journals
  - externalDocs:
      description: LinkedTransactions
      url: https://developer.xero.com/documentation/api/Linked-Transactions/
    name: LinkedTransactions
  - externalDocs:
      description: ManualJournals
      url: https://developer.xero.com/documentation/api/manual-journals/
    name: ManualJournals
  - externalDocs:
      description: Organsiations
      url: https://developer.xero.com/documentation/api/organisation/
    name: Organisations
  - externalDocs:
      description: Overpayments
      url: https://developer.xero.com/documentation/api/overpayments/
    name: Overpayments
  - externalDocs:
      description: Payments
      url: https://developer.xero.com/documentation/api/payments/
    name: Payments
  - externalDocs:
      description: Prepayments
      url: https://developer.xero.com/documentation/api/prepayments/
    name: Prepayments
  - externalDocs:
      description: PurchaseOrders
      url: https://developer.xero.com/documentation/api/purchase-orders/
    name: PurchaseOrders
  - externalDocs:
      description: Receipts
      url: https://developer.xero.com/documentation/api/receipts/
    name: Receipts
  - externalDocs:
      description: RepeatingInvoices
      url: https://developer.xero.com/documentation/api/repeating-invoices/
    name: RepeatingInvoices
  - externalDocs:
      description: Reports
      url: https://developer.xero.com/documentation/api/reports/
    name: Reports
  - externalDocs:
      description: TaxRates
      url: https://developer.xero.com/documentation/api/tax-rates/
    name: TaxRates
  - externalDocs:
      description: TrackingCategories
      url: https://developer.xero.com/documentation/api/tracking-categories/
    name: TrackingCategories
  - externalDocs:
      description: Users
      url: https://developer.xero.com/documentation/api/users/
    name: Users
paths:
  /Accounts:
    get:
      description: Retrieve the chart of accounts
      parameters:
        - $ref: "#/parameters/If-Modified-Since"
        - $ref: "#/parameters/where"
        - $ref: "#/parameters/order"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/AccountsResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve the full chart of accounts
      tags:
        - Accounts
    post:
      parameters:
        - in: body
          name: Accounts
          required: true
          schema:
            $ref: "#/definitions/Account"
      responses:
        "200":
          $ref: "#/responses/AccountsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
      summary: Create or update accounts
      tags:
        - Accounts
    put:
      parameters:
        - in: body
          name: Accounts
          required: true
          schema:
            $ref: "#/definitions/Account"
      responses:
        "200":
          $ref: "#/responses/AccountsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
      summary: Create new accounts
      tags:
        - Accounts
    x-related-model: Account
  "/Accounts/{AccountID}":
    delete:
      parameters:
        - format: uuid
          in: path
          name: AccountID
          required: true
          type: string
      responses:
        "200":
          description: A successful request
        "404":
          $ref: "#/responses/404ErrorResponse"
      summary: Delete an account
      tags:
        - Accounts
    get:
      parameters:
        - format: uuid
          in: path
          name: AccountID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/AccountsResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
      summary: Retrieve a single account
      tags:
        - Accounts
    post:
      parameters:
        - in: body
          name: Accounts
          required: true
          schema:
            $ref: "#/definitions/Account"
        - format: uuid
          in: path
          name: AccountID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/AccountsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
      summary: Update an account
      tags:
        - Accounts
    x-related-model: Account
  "/Accounts/{AccountID}/Attachments":
    get:
      description: Retrieve Attachments
      parameters:
        - description: The Xero generated unique identifier for an account
          in: path
          name: AccountID
          required: true
          type: string
        - $ref: "#/parameters/If-Modified-Since"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/AttachmentsResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve Attachments
      tags:
        - Accounts
  "/Accounts/{AccountID}/Attachments/{FileName}":
    get:
      description: Download an Attachment
      parameters:
        - description: The filename of the attachment to be downloaded
          in: path
          name: FileName
          required: true
          type: string
        - description: The Xero generated unique identifier for an account
          in: path
          name: AccountID
          required: true
          type: string
        - $ref: "#/parameters/If-Modified-Since"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          description: Successful response. The response message will contain the raw file content that was originally uploaded. The response won’t contain any xml or json encoded information
        "404":
          description: Attachment does not exist
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Download an Attachment
      tags:
        - Accounts
    post:
      description: Upload an Attachment
      parameters:
        - description: The filename of the attachment being uploaded
          in: path
          name: FileName
          required: true
          type: string
        - description: The Xero generated unique identifier for an account
          in: path
          name: AccountID
          required: true
          type: string
        - description: The raw content of the file to be uploaded
          in: body
          name: Content
          required: true
          schema:
            $ref: "#/definitions/Content"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/AttachmentsResponse"
        "400":
          description: Attachment couldn't be created.
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Upload an Attachment
      tags:
        - Accounts
  /BankTransactions:
    get:
      parameters:
        - $ref: "#/parameters/If-Modified-Since"
        - $ref: "#/parameters/where"
        - $ref: "#/parameters/order"
        - $ref: "#/parameters/unitdp"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/BankTransactionsResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve any spend or receive money transactions (inc. prepayments and overpayments)
      tags:
        - BankTransactions
    post:
      parameters:
        - in: body
          name: BankTransactions
          required: true
          schema:
            $ref: "#/definitions/BankTransaction"
        - $ref: "#/parameters/unitdp"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/BankTransactionsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Create a new spend or receive money (inc. prepayments and overpayments)
      tags:
        - BankTransactions
    put:
      parameters:
        - in: body
          name: BankTransactions
          required: true
          schema:
            $ref: "#/definitions/BankTransaction"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/BankTransactionsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Create a new spend or receive money (inc. prepayments and overpayments)
      tags:
        - BankTransactions
    x-related-model: BankTransaction
  "/BankTransactions/{BankTransactionID}":
    get:
      parameters:
        - format: uuid
          in: path
          name: BankTransactionID
          required: true
          type: string
        - $ref: "#/parameters/unitdp"
      responses:
        "200":
          $ref: "#/responses/BankTransactionsResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve a spend or receive money (inc. prepayments and overpayments)
      tags:
        - BankTransactions
    post:
      parameters:
        - in: body
          name: BankTransactions
          required: true
          schema:
            $ref: "#/definitions/BankTransaction"
        - format: uuid
          in: path
          name: BankTransactionID
          required: true
          type: string
        - $ref: "#/parameters/unitdp"
      responses:
        "200":
          $ref: "#/responses/BankTransactionsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Update a spend or receive money
      tags:
        - BankTransactions
    x-related-model: BankTransaction
  "/BankTransactions/{BankTransactionID}/Attachments":
    get:
      description: Retrieve Attachments
      parameters:
        - description: The Xero generated unique identifier for an bank transaction
          in: path
          name: BankTransactionID
          required: true
          type: string
        - $ref: "#/parameters/If-Modified-Since"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/AttachmentsResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve Attachments
      tags:
        - BankTransactions
  "/BankTransactions/{BankTransactionID}/Attachments/{FileName}":
    get:
      description: Download an Attachment
      parameters:
        - description: The filename of the attachment to be downloaded
          in: path
          name: FileName
          required: true
          type: string
        - description: The Xero generated unique identifier for an bank transaction
          in: path
          name: BankTransactionID
          required: true
          type: string
        - $ref: "#/parameters/If-Modified-Since"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          description: Successful response. The response message will contain the raw file content that was originally uploaded. The response won’t contain any xml or json encoded information
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Download an Attachment
      tags:
        - BankTransactions
    post:
      description: Upload an Attachment
      parameters:
        - description: The filename of the attachment being uploaded
          in: path
          name: FileName
          required: true
          type: string
        - description: The Xero generated unique identifier for an bank transaction
          in: path
          name: BankTransactionID
          required: true
          type: string
        - description: The raw content of the file to be uploaded
          in: body
          name: Content
          required: true
          schema:
            $ref: "#/definitions/Content"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/AttachmentsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Upload an Attachment
      tags:
        - BankTransactions
  /BankTransfers:
    get:
      parameters:
        - $ref: "#/parameters/If-Modified-Since"
        - $ref: "#/parameters/where"
        - $ref: "#/parameters/order"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/BankTransfersResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve a colection of bank transfers
      tags:
        - BankTransfers
    put:
      parameters:
        - in: body
          name: BankTransfers
          required: true
          schema:
            $ref: "#/definitions/BankTransfer"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/BankTransfersResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Create a bank transfer
      tags:
        - BankTransfers
    x-related-model: BankTransfer
  "/BankTransfers/{BankTransferID}":
    get:
      parameters:
        - format: uuid
          in: path
          name: BankTransferID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/BankTransfersResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve an individual bank transfer
      tags:
        - BankTransfers
    x-related-model: BankTransfer
  "/BankTransfers/{BankTransferID}/Attachments/{FileName}":
    get:
      description: Download an Attachment
      parameters:
        - description: The filename of the attachment to be downloaded
          in: path
          name: FileName
          required: true
          type: string
        - description: The Xero generated unique identifier for an BankTransfer
          in: path
          name: BankTransferID
          required: true
          type: string
        - $ref: "#/parameters/If-Modified-Since"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          description: Successful response. The response message will contain the raw file content that was originally uploaded. The response won’t contain any xml or json encoded information
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Download an Attachment
      tags:
        - BankTransfers
    post:
      description: Upload an Attachment
      parameters:
        - description: The filename of the attachment being uploaded
          in: path
          name: FileName
          required: true
          type: string
        - description: The Xero generated unique identifier for a BankTransfer
          in: path
          name: BankTransferID
          required: true
          type: string
        - description: The raw content of the file to be uploaded
          in: body
          name: Content
          required: true
          schema:
            $ref: "#/definitions/Content"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/AttachmentsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Upload an Attachment
      tags:
        - BankTransfers
  /BrandingThemes:
    get:
      responses:
        "200":
          $ref: "#/responses/BrandingThemesResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve a collection of BrandingThemes
      tags:
        - BrandingThemes
    x-related-model: BrandingTheme
  "/BrandingThemes/{BrandingThemeID}":
    get:
      parameters:
        - format: uuid
          in: path
          name: BrandingThemeID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/BrandingThemesResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve an individual BrandingTheme
      tags:
        - BrandingThemes
    x-related-model: BrandingTheme
  /ContactGroups:
    get:
      parameters:
        - $ref: "#/parameters/If-Modified-Since"
        - $ref: "#/parameters/where"
        - $ref: "#/parameters/order"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/ContactGroupsResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve a collection of contact groups
      tags:
        - ContactGroups
    post:
      parameters:
        - in: body
          name: ContactGroups
          required: true
          schema:
            $ref: "#/definitions/ContactGroup"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/ContactGroupsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Create or update a contact group
      tags:
        - ContactGroups
    put:
      parameters:
        - in: body
          name: ContactGroups
          required: true
          schema:
            $ref: "#/definitions/ContactGroup"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/ContactGroupsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Create a new contact group
      tags:
        - ContactGroups
    x-related-model: ContactGroup
  "/ContactGroups/{ContactGroupID}":
    delete:
      parameters:
        - format: uuid
          in: path
          name: ContactGroupID
          required: true
          type: string
      responses:
        "200":
          description: A successful request
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Delete a contact group
      tags:
        - ContactGroups
    get:
      parameters:
        - format: uuid
          in: path
          name: ContactGroupID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/ContactGroupsResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve the ContactID and Name of all the contacts in a contact group
      tags:
        - ContactGroups
    post:
      parameters:
        - in: body
          name: ContactGroups
          required: true
          schema:
            $ref: "#/definitions/ContactGroup"
        - format: uuid
          in: path
          name: ContactGroupID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/ContactGroupsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Update a contact group
      tags:
        - ContactGroups
    x-related-model: ContactGroup
  "/ContactGroups/{ContactGroupID}/Contacts":
    delete:
      parameters:
        - format: uuid
          in: path
          name: ContactGroupID
          required: true
          type: string
      responses:
        "200":
          description: A successful request
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Remove all contacts from a contact group
      tags:
        - ContactGroups
    put:
      parameters:
        - in: body
          name: Contacts
          required: true
          schema:
            $ref: "#/definitions/Contact"
        - format: uuid
          in: path
          name: ContactGroupID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/ContactGroupsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Add contacts to a contact group
      tags:
        - ContactGroups
    x-related-model: ContactGroup
  "/ContactGroups/{ContactGroupID}/Contacts/{ContactID}":
    delete:
      parameters:
        - format: uuid
          in: path
          name: ContactGroupID
          required: true
          type: string
        - format: uuid
          in: path
          name: ContactID
          required: true
          type: string
      responses:
        "200":
          description: A successful request
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Remove a contact from a contact group
      tags:
        - ContactGroups
    x-related-model: ContactGroup
  /Contacts:
    get:
      parameters:
        - $ref: "#/parameters/If-Modified-Since"
        - $ref: "#/parameters/where"
        - $ref: "#/parameters/order"
        - $ref: "#/parameters/includeArchived"
        - default: ""
          description: Filter by a comma-separated list of ContactIDs
          in: query
          name: IDs
          required: false
          type: string
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/ContactsResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve a collection of contacts
      tags:
        - Contacts
    post:
      parameters:
        - in: body
          name: Contacts
          required: true
          schema:
            $ref: "#/definitions/Contact"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/ContactsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Create or update a contact
      tags:
        - Contacts
    put:
      parameters:
        - in: body
          name: Contacts
          required: true
          schema:
            $ref: "#/definitions/Contact"
      responses:
        "200":
          $ref: "#/responses/ContactsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Create a contact
      tags:
        - Contacts
    x-related-model: Contact
  "/Contacts/{ContactID}":
    get:
      parameters:
        - format: uuid
          in: path
          name: ContactID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/ContactsResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve an individual contact
      tags:
        - Contacts
    post:
      parameters:
        - in: body
          name: Contacts
          required: true
          schema:
            $ref: "#/definitions/Contact"
        - format: uuid
          in: path
          name: ContactID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/ContactsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Update a contact
      tags:
        - Contacts
    x-related-model: Contact
  "/Contacts/{ContactID}/Attachments":
    get:
      description: Retrieve Attachments
      parameters:
        - description: The Xero generated unique identifier for a Contact
          in: path
          name: ContactID
          required: true
          type: string
        - $ref: "#/parameters/If-Modified-Since"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/AttachmentsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve Attachments
      tags:
        - Contacts
  "/Contacts/{ContactID}/Attachments/{FileName}":
    get:
      description: Download an Attachment
      parameters:
        - description: The filename of the attachment to be downloaded
          in: path
          name: FileName
          required: true
          type: string
        - description: The Xero generated unique identifier for a Contact
          in: path
          name: ContactID
          required: true
          type: string
        - $ref: "#/parameters/If-Modified-Since"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          description: Successful response. The response message will contain the raw file content that was originally uploaded. The response won’t contain any xml or json encoded information
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Download an Attachment
      tags:
        - Contacts
    post:
      description: Upload an Attachment
      parameters:
        - description: The filename of the attachment being uploaded
          in: path
          name: FileName
          required: true
          type: string
        - description: The Xero generated unique identifier for a Contact
          in: path
          name: ContactID
          required: true
          type: string
        - description: The raw content of the file to be uploaded
          in: body
          name: Content
          required: true
          schema:
            $ref: "#/definitions/Content"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/AttachmentsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Upload an Attachment
      tags:
        - Contacts
  /CreditNotes:
    get:
      parameters:
        - $ref: "#/parameters/If-Modified-Since"
        - $ref: "#/parameters/where"
        - $ref: "#/parameters/order"
        - $ref: "#/parameters/unitdp"
        - $ref: "#/parameters/page"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/CreditNotesResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve a collection of credit notes
      tags:
        - CreditNotes
    post:
      parameters:
        - in: body
          name: CreditNotes
          required: true
          schema:
            $ref: "#/definitions/CreditNote"
        - $ref: "#/parameters/unitdp"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/CreditNotesResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Create or update a credit note
      tags:
        - CreditNotes
    put:
      parameters:
        - in: body
          name: CreditNotes
          required: true
          schema:
            $ref: "#/definitions/CreditNote"
        - $ref: "#/parameters/unitdp"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/CreditNotesResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Create a credit note
      tags:
        - CreditNotes
    x-related-model: CreditNote
  "/CreditNotes/{CreditNoteID}":
    get:
      parameters:
        - format: uuid
          in: path
          name: CreditNoteID
          required: true
          type: string
        - $ref: "#/parameters/unitdp"
      responses:
        "200":
          $ref: "#/responses/CreditNotesResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve an individual credit note
      tags:
        - CreditNotes
    post:
      parameters:
        - in: body
          name: CreditNotes
          required: true
          schema:
            $ref: "#/definitions/CreditNote"
        - format: uuid
          in: path
          name: CreditNoteID
          required: true
          type: string
        - $ref: "#/parameters/unitdp"
      responses:
        "200":
          $ref: "#/responses/CreditNotesResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Update a credit note
      tags:
        - CreditNotes
    x-related-model: CreditNote
  "/CreditNotes/{CreditNoteID}/Allocations":
    put:
      parameters:
        - in: body
          name: Allocations
          required: true
          schema:
            $ref: "#/definitions/Allocation"
        - format: uuid
          in: path
          name: CreditNoteID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/CreditNotesResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Allocate a credit note
      tags:
        - CreditNotes
    x-related-model: CreditNote
  "/CreditNotes/{CreditNoteID}/Attachments":
    get:
      description: Retrieve Attachments
      parameters:
        - description: The Xero generated unique identifier for a CreditNote
          in: path
          name: CreditNoteID
          required: true
          type: string
        - $ref: "#/parameters/If-Modified-Since"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/AttachmentsResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve Attachments
      tags:
        - CreditNotes
  "/CreditNotes/{CreditNoteID}/Attachments/{FileName}":
    get:
      description: Download an Attachment
      parameters:
        - description: The filename of the attachment to be downloaded
          in: path
          name: FileName
          required: true
          type: string
        - description: The Xero generated unique identifier for a CreditNote
          in: path
          name: CreditNoteID
          required: true
          type: string
        - $ref: "#/parameters/If-Modified-Since"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          description: Successful response. The response message will contain the raw file content that was originally uploaded. The response won’t contain any xml or json encoded information
        "400":
          $ref: "#/responses/400ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Download an Attachment
      tags:
        - CreditNotes
    post:
      description: Upload an Attachment
      parameters:
        - description: The filename of the attachment being uploaded
          in: path
          name: FileName
          required: true
          type: string
        - description: The Xero generated unique identifier for a CreditNote
          in: path
          name: CreditNoteID
          required: true
          type: string
        - description: The raw content of the file to be uploaded
          in: body
          name: Content
          required: true
          schema:
            $ref: "#/definitions/Content"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/AttachmentsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Upload an Attachment
      tags:
        - CreditNotes
  /Currencies:
    get:
      parameters:
        - $ref: "#/parameters/If-Modified-Since"
        - $ref: "#/parameters/where"
        - $ref: "#/parameters/order"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/CurrenciesResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve the currencies the organisation is subscribed to
      tags:
        - Currencies
    put:
      parameters:
        - in: body
          name: Currencies
          required: true
          schema:
            $ref: "#/definitions/Currency"
        - $ref: "#/parameters/summarizeErrors"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/CurrenciesResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Add currencies to the organisation
      tags:
        - Currencies
    x-related-model: Currency
  /Employees:
    get:
      parameters:
        - $ref: "#/parameters/If-Modified-Since"
        - $ref: "#/parameters/where"
        - $ref: "#/parameters/order"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/EmployeesResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve a collection of employees
      tags:
        - Employees
    post:
      parameters:
        - in: body
          name: Employees
          required: true
          schema:
            $ref: "#/definitions/Employee"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/EmployeesResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Create or update employees
      tags:
        - Employees
    put:
      parameters:
        - in: body
          name: Employees
          required: true
          schema:
            $ref: "#/definitions/Employee"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/EmployeesResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Create employees
      tags:
        - Employees
    x-related-model: Employee
  "/Employees/{EmployeeID}":
    get:
      parameters:
        - format: uuid
          in: path
          name: EmployeeID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/EmployeesResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve an individual employee
      tags:
        - Employees
    post:
      parameters:
        - in: body
          name: Employees
          required: true
          schema:
            $ref: "#/definitions/Employee"
        - format: uuid
          in: path
          name: EmployeeID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/EmployeesResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Update an employee
      tags:
        - Employees
    x-related-model: Employee
  /ExpenseClaims:
    get:
      parameters:
        - $ref: "#/parameters/If-Modified-Since"
        - $ref: "#/parameters/where"
        - $ref: "#/parameters/order"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/ExpenseClaimsResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve a collection of expense claims
      tags:
        - ExpenseClaims
    post:
      parameters:
        - in: body
          name: ExpenseClaims
          required: true
          schema:
            $ref: "#/definitions/ExpenseClaim"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/ExpenseClaimsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Create or update an expense claim
      tags:
        - ExpenseClaims
    put:
      parameters:
        - in: body
          name: ExpenseClaims
          required: true
          schema:
            $ref: "#/definitions/ExpenseClaim"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/ExpenseClaimsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Create an expense claim
      tags:
        - ExpenseClaims
    x-related-model: ExpenseClaim
  "/ExpenseClaims/{ExpenseClaimID}":
    get:
      parameters:
        - format: uuid
          in: path
          name: ExpenseClaimID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/ExpenseClaimsResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve an individual expense claim
      tags:
        - ExpenseClaims
    post:
      parameters:
        - in: body
          name: ExpenseClaims
          required: true
          schema:
            $ref: "#/definitions/ExpenseClaim"
        - format: uuid
          in: path
          name: ExpenseClaimID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/ExpenseClaimsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Update an expense claim
      tags:
        - ExpenseClaims
    x-related-model: ExpenseClaim
  /Invoices:
    get:
      parameters:
        - $ref: "#/parameters/If-Modified-Since"
        - $ref: "#/parameters/where"
        - $ref: "#/parameters/order"
        - $ref: "#/parameters/unitdp"
        - default: ""
          description: Filter by a comma-separated list of InvoiceIDs
          in: query
          name: IDs
          required: false
          type: string
        - default: ""
          description: Filter by a comma-separated list of ContactIDs
          in: query
          name: ContactIDs
          required: false
          type: string
        - default: ""
          description: Filter by a comma-separated list of Statuses
          in: query
          name: Statuses
          required: false
          type: string
        - default: ""
          description: Filter by a comma-separated list of InvoiceNumbers
          in: query
          name: InvoiceNumbers
          required: false
          type: string
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/InvoicesResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve a collection of invoices (sales invoices and bills)
      tags:
        - Invoices
    post:
      parameters:
        - in: body
          name: Invoices
          required: true
          schema:
            $ref: "#/definitions/Invoice"
        - $ref: "#/parameters/unitdp"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/InvoicesResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Create or update an Invoice (sales invoices or bills)
      tags:
        - Invoices
    put:
      parameters:
        - in: body
          name: Invoices
          required: true
          schema:
            $ref: "#/definitions/Invoice"
        - $ref: "#/parameters/unitdp"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/InvoicesResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Create an Invoice (sales invoices or bills)
      tags:
        - Invoices
    x-related-model: Invoice
  "/Invoices/{InvoiceID}":
    get:
      parameters:
        - format: uuid
          in: path
          name: InvoiceID
          required: true
          type: string
        - $ref: "#/parameters/unitdp"
      responses:
        "200":
          $ref: "#/responses/InvoicesResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve an Invoice (sales invoice or bill)
      tags:
        - Invoices
    post:
      parameters:
        - in: body
          name: Invoices
          required: true
          schema:
            $ref: "#/definitions/Invoice"
        - format: uuid
          in: path
          name: InvoiceID
          required: true
          type: string
        - $ref: "#/parameters/unitdp"
      responses:
        "200":
          $ref: "#/responses/InvoicesResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Update an Invoice (sales invoice or bill)
      tags:
        - Invoices
    x-related-model: Invoice
  "/Invoices/{InvoiceID}/Attachments":
    get:
      description: Retrieve Attachments
      parameters:
        - description: The Xero generated unique identifier for an Invoice
          in: path
          name: InvoiceID
          required: true
          type: string
        - $ref: "#/parameters/If-Modified-Since"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/AttachmentsResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve Attachments
      tags:
        - Invoices
  "/Invoices/{InvoiceID}/Attachments/{FileName}":
    get:
      description: Download an Attachment
      parameters:
        - description: The filename of the attachment to be downloaded
          in: path
          name: FileName
          required: true
          type: string
        - description: The Xero generated unique identifier for an Invoice
          in: path
          name: InvoiceID
          required: true
          type: string
        - $ref: "#/parameters/If-Modified-Since"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          description: Successful response. The response message will contain the raw file content that was originally uploaded. The response won’t contain any xml or json encoded information
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Download an Attachment
      tags:
        - Invoices
    post:
      description: Upload an Attachment
      parameters:
        - description: The filename of the attachment being uploaded
          in: path
          name: FileName
          required: true
          type: string
        - description: The Xero generated unique identifier for an Invoice
          in: path
          name: InvoiceID
          required: true
          type: string
        - description: The raw content of the file to be uploaded
          in: body
          name: Content
          required: true
          schema:
            $ref: "#/definitions/Content"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/AttachmentsResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Upload an Attachment
      tags:
        - Invoices
  "/Invoices/{InvoiceID}/OnlineInvoice":
    get:
      parameters:
        - format: uuid
          in: path
          name: InvoiceID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/OnlineInvoicesResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve the URL to view the online invoice
      tags:
        - Invoices
    x-related-model: OnlineInvoice
  /Items:
    get:
      parameters:
        - $ref: "#/parameters/If-Modified-Since"
        - $ref: "#/parameters/where"
        - $ref: "#/parameters/order"
        - $ref: "#/parameters/unitdp"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/ItemsResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve a collection of items
      tags:
        - Items
    post:
      parameters:
        - in: body
          name: Items
          required: true
          schema:
            $ref: "#/definitions/Item"
        - $ref: "#/parameters/unitdp"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/ItemsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Create or update an item
      tags:
        - Items
    put:
      parameters:
        - in: body
          name: Items
          required: true
          schema:
            $ref: "#/definitions/Item"
        - $ref: "#/parameters/unitdp"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/ItemsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Create an item
      tags:
        - Items
    x-related-model: Item
  "/Items/{ItemID}":
    delete:
      parameters:
        - format: uuid
          in: path
          name: ItemID
          required: true
          type: string
      responses:
        "200":
          description: A successful request
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Delete an item
      tags:
        - Items
    get:
      parameters:
        - format: uuid
          in: path
          name: ItemID
          required: true
          type: string
        - $ref: "#/parameters/unitdp"
      responses:
        "200":
          $ref: "#/responses/ItemsResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve an item
      tags:
        - Items
    post:
      parameters:
        - in: body
          name: Items
          required: true
          schema:
            $ref: "#/definitions/Item"
        - format: uuid
          in: path
          name: ItemID
          required: true
          type: string
        - $ref: "#/parameters/unitdp"
      responses:
        "200":
          $ref: "#/responses/ItemsResponse"
        "400":
          $ref: "#/responses/400ErrorResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Update an item
      tags:
        - Items
    x-related-model: Item
  /Journals:
    get:
      parameters:
        - $ref: "#/parameters/If-Modified-Since"
        - $ref: "#/parameters/paymentsOnly"
        - $ref: "#/parameters/offset"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/JournalsResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve a collection of journals.
      tags:
        - Journals
    x-related-model: Journal
  "/Journals/{JournalID}":
    get:
      parameters:
        - format: uuid
          in: path
          name: JournalID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/JournalsResponse"
        "404":
          $ref: "#/responses/404ErrorResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve an individual journal.
      tags:
        - Journals
    x-related-model: Journal
  /LinkedTransactions:
    get:
      parameters:
        - $ref: "#/parameters/page"
        - description: Filter by the SourceTransactionID. Get all the linked transactions created from a particular ACCPAY invoice
          format: uuid
          in: query
          name: SourceTransactionID
          type: string
        - description: Filter by the ContactID. Get all the linked transactions that have been assigned to a particular customer.
          format: uuid
          in: query
          name: ContactID
          type: string
        - description: Filter by the combination of ContactID and Status. Get all the linked transactions that have been assigned to a particular customer and have a particular status e.g. GET /LinkedTransactions?ContactID=4bb34b03-3378-4bb2-a0ed-6345abf3224e&Status=APPROVED.
          format: uuid
          in: query
          name: Status
          type: string
        - description: Filter by the TargetTransactionID. Get all the linked transactions allocated to a particular ACCREC invoice.
          format: uuid
          in: query
          name: TargetTransactionID
          type: string
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/LinkedTransactionsResponse"
      summary: Retrieve a collection of linked transactions (billable expenses)
      tags:
        - LinkedTransactions
    post:
      parameters:
        - in: body
          name: LinkedTransactions
          required: true
          schema:
            $ref: "#/definitions/LinkedTransaction"
      responses:
        "200":
          $ref: "#/responses/LinkedTransactionsResponse"
      summary: Create or update a linked transaction (billable expense)
      tags:
        - LinkedTransactions
    put:
      parameters:
        - in: body
          name: LinkedTransactions
          required: true
          schema:
            $ref: "#/definitions/LinkedTransaction"
      responses:
        "200":
          $ref: "#/responses/LinkedTransactionsResponse"
      summary: Create a linked transaction (billable expense)
      tags:
        - LinkedTransactions
    x-related-model: LinkedTransaction
  "/LinkedTransactions/{LinkedTransactionID}":
    delete:
      parameters:
        - format: uuid
          in: path
          name: LinkedTransactionID
          required: true
          type: string
      responses:
        "200":
          description: A successful request
      summary: Delete a linked transaction (billable expense)
      tags:
        - LinkedTransactions
    get:
      parameters:
        - format: uuid
          in: path
          name: LinkedTransactionID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/LinkedTransactionsResponse"
      summary: Retrieve a linked transaction (billable expense)
      tags:
        - LinkedTransactions
    post:
      parameters:
        - in: body
          name: LinkedTransactions
          required: true
          schema:
            $ref: "#/definitions/LinkedTransaction"
        - format: uuid
          in: path
          name: LinkedTransactionID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/LinkedTransactionsResponse"
      summary: Update a linked transaction (billable expense)
      tags:
        - LinkedTransactions
    x-related-model: LinkedTransaction
  /ManualJournals:
    get:
      parameters:
        - $ref: "#/parameters/If-Modified-Since"
        - $ref: "#/parameters/where"
        - $ref: "#/parameters/order"
        - $ref: "#/parameters/page"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/ManualJournalsResponse"
      summary: Retrieve a collection of manual journals
      tags:
        - ManualJournals
    post:
      parameters:
        - in: body
          name: ManualJournals
          required: true
          schema:
            $ref: "#/definitions/ManualJournal"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/ManualJournalsResponse"
      summary: Create or update a manual journal
      tags:
        - ManualJournals
    put:
      parameters:
        - in: body
          name: ManualJournals
          required: true
          schema:
            $ref: "#/definitions/ManualJournal"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/ManualJournalsResponse"
      summary: Create a manual journal
      tags:
        - ManualJournals
    x-related-model: ManualJournal
  "/ManualJournals/{ManualJournalID}":
    get:
      parameters:
        - format: uuid
          in: path
          name: ManualJournalID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/ManualJournalsResponse"
      summary: Retrieve an individual manual journal
      tags:
        - ManualJournals
    post:
      parameters:
        - in: body
          name: ManualJournals
          required: true
          schema:
            $ref: "#/definitions/ManualJournal"
        - format: uuid
          in: path
          name: ManualJournalID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/ManualJournalsResponse"
      summary: Update a manual journal
      tags:
        - ManualJournals
    x-related-model: ManualJournal
  "/ManualJournals/{ManualJournalID}/Attachments":
    get:
      description: Retrieve Attachments
      parameters:
        - description: The Xero generated unique identifier for a Manual Journal
          in: path
          name: ManualJournalID
          required: true
          type: string
        - $ref: "#/parameters/If-Modified-Since"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/AttachmentsResponse"
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Retrieve Attachments
      tags:
        - ManualJournals
  "/ManualJournals/{ManualJournalID}/Attachments/{FileName}":
    get:
      description: Download an Attachment
      parameters:
        - description: The filename of the attachment to be downloaded
          in: path
          name: FileName
          required: true
          type: string
        - description: The Xero generated unique identifier for a Manual Journal
          in: path
          name: ManualJournalID
          required: true
          type: string
        - $ref: "#/parameters/If-Modified-Since"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          description: Successful response. The response message will contain the raw file content that was originally uploaded. The response won’t contain any xml or json encoded information
        "404":
          description: Attachment does not exist
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Download an Attachment
      tags:
        - ManualJournals
    post:
      description: Upload an Attachment
      parameters:
        - description: The filename of the attachment being uploaded
          in: path
          name: FileName
          required: true
          type: string
        - description: The Xero generated unique identifier for a Manual Journal
          in: path
          name: ManualJournalID
          required: true
          type: string
        - description: The raw content of the file to be uploaded
          in: body
          name: Content
          required: true
          schema:
            $ref: "#/definitions/Content"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/AttachmentsResponse"
        "400":
          description: Attachment couldn't be created.
        "500":
          $ref: "#/responses/500ErrorResponse"
      summary: Upload an Attachment
      tags:
        - ManualJournals
  /Organisation:
    get:
      responses:
        "200":
          $ref: "#/responses/OrganisationsResponse"
      summary: Retrieve Organisation details
      tags:
        - Organisations
    x-related-model: Organisation
  "/Organisation/{ShortCode}":
    get:
      parameters:
        - format: uuid
          in: path
          name: ShortCode
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/OrganisationsResponse"
      summary: Retrieve Organisation details
      tags:
        - Organisations
    x-related-model: Organisation
  /Overpayments:
    get:
      parameters:
        - $ref: "#/parameters/If-Modified-Since"
        - $ref: "#/parameters/where"
        - $ref: "#/parameters/order"
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/unitdp"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/OverpaymentsResponse"
      summary: Retrieve a collection of overpayments
      tags:
        - Overpayments
    x-related-model: Overpayment
  "/Overpayments/{OverpaymentID}":
    get:
      parameters:
        - format: uuid
          in: path
          name: OverpaymentID
          required: true
          type: string
        - $ref: "#/parameters/unitdp"
      responses:
        "200":
          $ref: "#/responses/OverpaymentsResponse"
      summary: Retrieve an overpayment
      tags:
        - Overpayments
    x-related-model: Overpayment
  "/Overpayments/{OverpaymentID}/Allocations":
    put:
      parameters:
        - in: body
          name: Allocations
          required: true
          schema:
            $ref: "#/definitions/Allocation"
        - format: uuid
          in: path
          name: OverpaymentID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/OverpaymentsResponse"
      summary: Allocate an overpayment
      tags:
        - Overpayments
    x-related-model: Overpayment
  /Payments:
    get:
      parameters:
        - $ref: "#/parameters/If-Modified-Since"
        - $ref: "#/parameters/where"
        - $ref: "#/parameters/order"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/PaymentsResponse"
      summary: Retrieve a collection of payments for invoices, credit notes, prepayments and overpayments
      tags:
        - Payments
    post:
      parameters:
        - in: body
          name: Payments
          required: true
          schema:
            $ref: "#/definitions/Payment"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/PaymentsResponse"
      summary: Create a payment
      tags:
        - Payments
    put:
      parameters:
        - in: body
          name: Payments
          required: true
          schema:
            $ref: "#/definitions/Payment"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/PaymentsResponse"
      summary: Create a payment
      tags:
        - Payments
    x-related-model: Payment
  "/Payments/{PaymentID}":
    get:
      parameters:
        - format: uuid
          in: path
          name: PaymentID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/PaymentsResponse"
      summary: Retrieve a payment
      tags:
        - Payments
    post:
      parameters:
        - in: body
          name: Payments
          required: true
          schema:
            $ref: "#/definitions/Payment"
        - format: uuid
          in: path
          name: PaymentID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/PaymentsResponse"
      summary: Update a payment's status to deleted
      tags:
        - Payments
    x-related-model: Payment
  /Prepayments:
    get:
      parameters:
        - $ref: "#/parameters/If-Modified-Since"
        - $ref: "#/parameters/where"
        - $ref: "#/parameters/order"
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/unitdp"
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/PrepaymentsResponse"
      summary: Retrieve a collection of prepayments
      tags:
        - Prepayments
    x-related-model: Prepayment
  "/Prepayments/{PrepaymentID}":
    get:
      parameters:
        - format: uuid
          in: path
          name: PrepaymentID
          required: true
          type: string
        - $ref: "#/parameters/unitdp"
      responses:
        "200":
          $ref: "#/responses/PrepaymentsResponse"
      summary: Retrieve an individual prepayment
      tags:
        - Prepayments
    x-related-model: Prepayment
  "/Prepayments/{PrepaymentID}/Allocations":
    put:
      parameters:
        - in: body
          name: Allocations
          required: true
          schema:
            $ref: "#/definitions/Allocation"
        - format: uuid
          in: path
          name: PrepaymentID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/PrepaymentsResponse"
      summary: Allocate a prepayment
      tags:
        - Prepayments
    x-related-model: Prepayment
  /PurchaseOrders:
    get:
      parameters:
        - $ref: "#/parameters/If-Modified-Since"
        - $ref: "#/parameters/order"
        - $ref: "#/parameters/page"
        - format: date
          in: query
          name: DateFrom
          required: false
          type: string
        - format: date
          in: query
          name: DateTo
          required: false
          type: string
        - in: query
          name: Status
          required: false
          type: string
      produces:
        - application/xml
        - application/json
      responses:
        "200":
          $ref: "#/responses/PurchaseOrdersResponse"
      summary: Retrieve a collection of purchase orders
      tags:
        - PurchaseOrders
    post:
      parameters:
        - in: body
          name: PurchaseOrders
          required: true
          schema:
            $ref: "#/definitions/PurchaseOrder"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/PurchaseOrdersResponse"
      summary: Create and update purchase orders
      tags:
        - PurchaseOrders
    put:
      parameters:
        - in: body
          name: PurchaseOrders
          required: true
          schema:
            $ref: "#/definitions/PurchaseOrder"
        - $ref: "#/parameters/summarizeErrors"
      responses:
        "200":
          $ref: "#/responses/PurchaseOrdersResponse"
      summary: Create purchase orders
      tags:
        - PurchaseOrders
    x-related-model: PurchaseOrder
  "/PurchaseOrders/{PurchaseOrderID}":
    get:
      parameters:
        - format: uuid
          in: path
          name: PurchaseOrderID
          required: true
          type: string
      responses:
        "200":
          $ref: "#/responses/PurchaseOrdersResponse"
      summary: Retrieve a single purchase order
      tags:
        - PurchaseOrders
    post:
      parameters:
        - in: body
          name: PurchaseOrders
          required: true
          schema:
            $ref: "#/definitions/PurchaseOrder"
        - format: uuid
          in: path
          name: PurchaseOrderID
          required: true
          type: string
      responses:
        "200":
[...]
