swagger: "2.0"
schemes:
  - https
host: management.azure.com
basePath: /
info:
  contact:
    name: Mohamed Enein
  description: APIs for managing software update configurations.
  title: Update Management
  version: 2017-05-15-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/softwareUpdateConfigurationRun.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-softwareUpdateConfigurationRun
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationRuns":
    get:
      description: Return list of software update configuration runs
      externalDocs:
        url: http://aka.ms/azureautomationsdk/softwareupdateconfigurationoperations
      operationId: SoftwareUpdateConfigurationRuns_List
      parameters:
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Identifies this specific client request.
          in: header
          name: clientRequestId
          required: false
          type: string
          x-ms-parameter-location: method
        - description: "The filter to apply on the operation. You can use the following filters: 'properties/osType', 'properties/status', 'properties/startTime', and 'properties/softwareUpdateConfiguration/name'"
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of entries you skip before returning results
          in: query
          name: $skip
          required: false
          type: string
        - description: Maximum number of entries returned in the results collection
          in: query
          name: $top
          required: false
          type: string
      responses:
        "200":
          description: Return list of software update configurations runs.
          schema:
            $ref: "#/definitions/softwareUpdateConfigurationRunListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Software Update Configuration Run
      x-ms-examples:
        List software update configuration machine run with status equal to 'Failed':
          parameters:
            $filter: properties/status%20eq%20'Failed'
            api-version: 2017-05-15-preview
            automationAccountName: myaccount
            resourceGroupName: mygroup
            softwareUpdateConfigurationRunId: a2c7c4b8-55d6-4505-bea7-756e93b18a35
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                nextLink: https://management.azure.com:443/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/stas-wcus/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview&_=1508725900015&$skip=100
                value:
                  - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns/2bd77cfa-2e9c-41b4-a45b-684a77cfeca9
                    name: 2bd77cfa-2e9c-41b4-a45b-684a77cfeca9
                    properties:
                      computerCount: 1
                      configuredDuration: PT2H
                      creationTime: 2017-10-23T02:30:36.2401233+00:00
                      endTime: 2017-10-23T02:30:42.8466667+00:00
                      failedCount: 0
                      lastModifiedBy: ""
                      lastModifiedTime: 2017-10-23T02:31:39.3966667+00:00
                      osType: Windows
                      softwareUpdateConfiguration:
                        name: mypatch
                      startTime: 2017-10-23T02:30:36.2401233+00:00
                      status: Failed
                      tasks:
                        postTask: null
                        preTask:
                          jobId: be430e9e-2290-462e-8f86-686407c35fab
                          source: preRunbook
                          status: Completed
                  - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns/5dabff55-9812-4a58-af16-b0cb1d9384e8
                    name: 5dabff55-9812-4a58-af16-b0cb1d9384e8
                    properties:
                      computerCount: 1
                      configuredDuration: PT2H
                      creationTime: 2017-10-23T01:33:01.8818952+00:00
                      endTime: 2017-10-23T01:33:08.1133333+00:00
                      failedCount: 0
                      lastModifiedBy: ""
                      lastModifiedTime: 2017-10-23T01:34:03.94+00:00
                      osType: Windows
                      softwareUpdateConfiguration:
                        name: mypatch
                      startTime: 2017-10-23T01:33:01.8818952+00:00
                      status: Failed
                      tasks:
                        postTask: null
                        preTask:
                          jobId: be430e9e-2290-462e-8f86-686407c35fab
                          source: preRunbook
                          status: Completed
              headers: {}
        List software update configuration machine runs:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: myaccount
            resourceGroupName: mygroup
            softwareUpdateConfigurationRunId: a2c7c4b8-55d6-4505-bea7-756e93b18a35
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                nextLink: https://management.azure.com:443/subscriptions/1a7d4044-286c-4acb-969a-96639265bf2e/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/stas-wcus/softwareUpdateConfigurationRuns?api-version=2017-05-15-preview&_=1508725900015&$skip=100
                value:
                  - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns/2bd77cfa-2e9c-41b4-a45b-684a77cfeca9
                    name: 2bd77cfa-2e9c-41b4-a45b-684a77cfeca9
                    properties:
                      computerCount: 1
                      configuredDuration: PT2H
                      creationTime: 2017-10-23T02:30:36.2401233+00:00
                      endTime: 2017-10-23T02:30:42.8466667+00:00
                      failedCount: 0
                      lastModifiedBy: ""
                      lastModifiedTime: 2017-10-23T02:31:39.3966667+00:00
                      osType: Windows
                      softwareUpdateConfiguration:
                        name: mypatch
                      startTime: 2017-10-23T02:30:36.2401233+00:00
                      status: Succeeded
                      tasks:
                        postTask: null
                        preTask:
                          jobId: be430e9e-2290-462e-8f86-686407c35fab
                          source: preRunbook
                          status: Completed
                  - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns/5dabff55-9812-4a58-af16-b0cb1d9384e8
                    name: 5dabff55-9812-4a58-af16-b0cb1d9384e8
                    properties:
                      computerCount: 1
                      configuredDuration: PT2H
                      creationTime: 2017-10-23T01:33:01.8818952+00:00
                      endTime: 2017-10-23T01:33:08.1133333+00:00
                      failedCount: 0
                      lastModifiedBy: ""
                      lastModifiedTime: 2017-10-23T01:34:03.94+00:00
                      osType: Windows
                      softwareUpdateConfiguration:
                        name: mypatch
                      startTime: 2017-10-23T01:33:01.8818952+00:00
                      status: Succeeded
                      tasks:
                        postTask: null
                        preTask:
                          jobId: be430e9e-2290-462e-8f86-686407c35fab
                          source: preRunbook
                          status: Completed
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/softwareUpdateConfigurationRuns/{softwareUpdateConfigurationRunId}":
    get:
      description: Get a single software update configuration Run by Id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/softwareupdateconfigurationrunoperations
      operationId: SoftwareUpdateConfigurationRuns_GetById
      parameters:
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The Id of the software update configuration run.
          format: uuid
          in: path
          name: softwareUpdateConfigurationRunId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Identifies this specific client request.
          in: header
          name: clientRequestId
          required: false
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: A single software update configuration Run.
          schema:
            $ref: "#/definitions/softwareUpdateConfigurationRun"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Software Update Configuration Run
      x-ms-examples:
        Get software update configuration runs by Id:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: myaccount
            resourceGroupName: mygroup
            softwareUpdateConfigurationRunId: 2bd77cfa-2e9c-41b4-a45b-684a77cfeca9
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/myaccount/softwareUpdateConfigurationRuns/2bd77cfa-2e9c-41b4-a45b-684a77cfeca9
                name: 2bd77cfa-2e9c-41b4-a45b-684a77cfeca9
                properties:
                  computerCount: 1
                  configuredDuration: PT2H
                  creationTime: 2017-10-23T02:30:36.2401233+00:00
                  endTime: 2017-10-23T02:30:42.8466667+00:00
                  failedCount: 0
                  lastModifiedBy: ""
                  lastModifiedTime: 2017-10-23T02:31:39.3966667+00:00
                  osType: Windows
                  softwareUpdateConfiguration:
                    name: mypatch
                  startTime: 2017-10-23T02:30:36.2401233+00:00
                  status: Succeeded
                  tasks:
                    postTask: null
                    preTask:
                      jobId: be430e9e-2290-462e-8f86-686407c35fab
                      source: preRunbook
                      status: Completed
              headers: {}
definitions:
  softareUpdateConfigurationRunTaskProperties:
    description: Task properties of the software update configuration.
    properties:
      jobId:
        description: The job id of the task.
        type: string
      source:
        description: The name of the source of the task.
        type: string
      status:
        description: The status of the task.
        type: string
    type: object
  softareUpdateConfigurationRunTasks:
    description: Software update configuration run tasks model.
    properties:
      postTask:
        $ref: "#/definitions/softareUpdateConfigurationRunTaskProperties"
        description: Post task properties.
      preTask:
        $ref: "#/definitions/softareUpdateConfigurationRunTaskProperties"
        description: Pre task properties.
    type: object
  softwareUpdateConfigurationRun:
    description: Software update configuration Run properties.
    properties:
      id:
        description: Resource Id of the software update configuration run
        readOnly: true
        type: string
      name:
        description: Name of the software update configuration run.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/softwareUpdateConfigurationRunProperties"
        description: Software update configuration Run properties.
        x-ms-client-flatten: true
    type: object
    x-ms-azure-resource: false
  softwareUpdateConfigurationRunListResult:
    description: result of listing all software update configuration runs
    properties:
      nextLink:
        description: link to next page of results.
        type: string
      value:
        description: outer object returned when listing all software update configuration runs
        items:
          $ref: "#/definitions/softwareUpdateConfigurationRun"
        type: array
  softwareUpdateConfigurationRunProperties:
    description: Software update configuration properties.
    properties:
      computerCount:
        description: Number of computers in the software update configuration run.
        readOnly: true
        type: integer
      configuredDuration:
        description: Configured duration for the software update configuration run.
        readOnly: true
        type: string
      createdBy:
        description: CreatedBy property, which only appears in the response.
        readOnly: true
        type: string
      creationTime:
        description: Creation time of the resource, which only appears in the response.
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      endTime:
        description: End time of the software update configuration run.
        format: date-time
        readOnly: true
        type: string
        x-nullable: true
      failedCount:
        description: Number of computers with failed status.
        readOnly: true
        type: integer
      lastModifiedBy:
        description: LastModifiedBy property, which only appears in the response.
        readOnly: true
        type: string
      lastModifiedTime:
        description: Last time resource was modified, which only appears in the response.
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      osType:
        description: Operating system target of the software update configuration triggered this run
        readOnly: true
        type: string
      softwareUpdateConfiguration:
        $ref: "#/definitions/updateConfigurationNavigation"
        description: software update configuration triggered this run
      startTime:
        description: Start time of the software update configuration run.
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      status:
        description: Status of the software update configuration run.
        readOnly: true
        type: string
      tasks:
        $ref: "#/definitions/softareUpdateConfigurationRunTasks"
        description: Software update configuration tasks triggered in this run
  updateConfigurationNavigation:
    description: Software update configuration Run Navigation model.
    properties:
      name:
        description: Name of the software update configuration triggered the software update configuration run
        readOnly: true
        type: string
    type: object
