swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Use this API to manage Microsoft HealthcareApis services in your Azure subscription.
  title: HealthcareApisClient
  version: 2018-08-20-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/healthcareapis/resource-manager/Microsoft.HealthcareApis/preview/2018-08-20-preview/healthcare-apis.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: healthcareapis-healthcare-apis
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  api-version:
    description: The version of the API.
    enum:
      - 2018-08-20-preview
    in: query
    minLength: 10
    name: api-version
    required: true
    type: string
  locationName:
    description: The location of the operation.
    in: path
    name: locationName
    required: true
    type: string
    x-ms-parameter-location: method
  operationResultId:
    description: The ID of the operation result to get.
    in: path
    name: operationResultId
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupName:
    description: The name of the resource group that contains the service instance.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+$
    required: true
    type: string
    x-ms-parameter-location: method
  resourceName:
    description: The name of the service instance.
    in: path
    maxLength: 24
    minLength: 3
    name: resourceName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: The subscription identifier.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.HealthcareApis/operations:
    get:
      deprecated: false
      description: Lists all of the available Healthcare service REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      tags:
        - Proxy
      x-ms-examples:
        OperationsList:
          parameters:
            api-version: 2018-08-20-preview
          responses:
            "200":
              body:
                value:
                  - display: {}
                    name: Microsoft.HealthcareApis/services/read
                    origin: user,system
                  - display: {}
                    name: Microsoft.HealthcareApis/services/write
                    origin: user,system
                  - display: {}
                    name: Microsoft.HealthcareApis/services/delete
                    origin: user,system
                  - display:
                      description: Get the status of an asynchronous operation
                      operation: read
                      provider: Microsoft.HealthcareApis
                      resource: operationresults
                    name: Microsoft.HealthcareApis/locations/operationresults/read
                    origin: user,system
                  - display: {}
                    name: Microsoft.HealthcareApis/checkNameAvailability/post
                    origin: user
                  - display:
                      description: Get the list of operations supported by this Resource Provider.
                      operation: read
                      provider: Microsoft.HealthcareApis
                      resource: operations
                    name: Microsoft.HealthcareApis/Operations/read
                    origin: user,system
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.HealthcareApis/checkNameAvailability":
    post:
      deprecated: false
      description: Check if a service instance name is available.
      operationId: Services_CheckNameAvailability
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - description: Set the name parameter in the CheckNameAvailabilityParameters structure to the name of the service instance to check.
          in: body
          name: checkNameAvailabilityInputs
          required: true
          schema:
            $ref: "#/definitions/CheckNameAvailabilityParameters"
      responses:
        "200":
          description: This is a synchronous operation. The body contains a JSON-serialized response that specifies whether the service name is available. If the name is not available, the body contains the reason.
          schema:
            $ref: "#/definitions/ServicesNameAvailabilityInfo"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      tags:
        - Proxy
      x-ms-examples:
        ServiceList:
          parameters:
            api-version: 2018-08-20-preview
            checkNameAvailabilityInputs:
              name: serviceName
              type: Microsoft.HealthcareApis/services
            subscriptionId: subid
          responses:
            "200":
              body:
                message: Service name is not available.
                nameAvailable: false
                reason: AlreadyExists
  "/subscriptions/{subscriptionId}/providers/Microsoft.HealthcareApis/locations/{locationName}/operationresults/{operationResultId}":
    get:
      deprecated: false
      description: Get the operation result for a long running operation.
      operationId: OperationResults_Get
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/locationName"
        - $ref: "#/parameters/operationResultId"
      responses:
        "200":
          description: The body contains all of the properties of the operation result.
          schema:
            $ref: "#/definitions/OperationResultsDescription"
        "404":
          description: No operation result was found matching operationResultId.
          schema:
            $ref: "#/definitions/ErrorDetails"
        default:
          description: Default error response
          schema:
            $ref: "#/definitions/ErrorDetails"
      tags:
        - Resource
      x-ms-examples:
        OperationResultsGet:
          parameters:
            api-version: 2018-08-20-preview
            locationName: westus
            operationResultId: exampleid
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.HealthcareApis/locations/westus/operationresults/exampleid
                name: servicename
                properties: {}
                startTime: 2019-01-21T06:03:30.2716301Z
                status: Requested
            "404":
              body:
                error:
                  code: OperationResultNotFound
                  message: The operation result was not found.
  "/subscriptions/{subscriptionId}/providers/Microsoft.HealthcareApis/services":
    get:
      deprecated: false
      description: Get all the service instances in a subscription.
      operationId: Services_List
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
      responses:
        "200":
          description: This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the service instances in the subscription.
          schema:
            $ref: "#/definitions/ServicesDescriptionListResult"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      tags:
        - Collection
      x-ms-examples:
        ServiceList:
          parameters:
            api-version: 2018-08-20-preview
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: https://host/subscriptions/subid/providers/Microsoft.HealthcareApis/services?api-version=2018-08-20-preview&%24skipToken=e30%3d
                value:
                  - etag: etag
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service1
                    kind: fhir
                    location: West US
                    name: service1
                    properties:
                      accessPolicies:
                        - objectId: c487e7d1-3210-41a3-8ccc-e9372b78da47
                        - objectId: 5b307da8-43d4-492b-8b66-b0294ade872f
                      authenticationConfiguration:
                        audience: https://azurehealthcareapis.com
                        authority: https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc
                        smartProxyEnabled: true
                      corsConfiguration:
                        allowCredentials: false
                        headers:
                          - "*"
                        maxAge: 1440
                        methods:
                          - DELETE
                          - GET
                          - OPTIONS
                          - PATCH
                          - POST
                          - PUT
                        origins:
                          - "*"
                      cosmosDbConfiguration:
                        offerThroughput: 1000
                      provisioningState: Creating
                    tags: {}
                    type: Microsoft.HealthcareApis/services
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/services":
    get:
      deprecated: false
      description: Get all the service instances in a resource group.
      operationId: Services_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
      responses:
        "200":
          description: This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the service instances in the resource group.
          schema:
            $ref: "#/definitions/ServicesDescriptionListResult"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      tags:
        - Collection
      x-ms-examples:
        ServiceListByResourceGroup:
          parameters:
            api-version: 2018-08-20-preview
            resourceGroupName: rgname
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: https://host/subscriptions/subid/resourceGroups/rgname/providers/Microsoft.HealthcareApis/services?api-version=2018-08-20-preview&%24skipToken=e30%3d
                value:
                  - etag: etagvalue
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/dddb8dcb-effb-4290-bb47-ce1e8440c729
                    kind: fhir
                    location: westus
                    name: service1
                    properties:
                      accessPolicies:
                        - objectId: c487e7d1-3210-41a3-8ccc-e9372b78da47
                        - objectId: 5b307da8-43d4-492b-8b66-b0294ade872f
                      authenticationConfiguration:
                        audience: https://azurehealthcareapis.com
                        authority: https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc
                        smartProxyEnabled: true
                      corsConfiguration:
                        allowCredentials: false
                        headers:
                          - "*"
                        maxAge: 1440
                        methods:
                          - DELETE
                          - GET
                          - OPTIONS
                          - PATCH
                          - POST
                          - PUT
                        origins:
                          - "*"
                      cosmosDbConfiguration:
                        offerThroughput: 1000
                      provisioningState: Creating
                    tags: {}
                    type: Microsoft.HealthcareApis/services
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/services/{resourceName}":
    delete:
      description: Delete a service instance.
      operationId: Services_Delete
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
      responses:
        "202":
          description: Accepted - Delete request accepted; the operation will complete asynchronously.
        "204":
          description: The resource does not exist.
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      tags:
        - Resource
      x-ms-examples:
        ServiceDelete:
          parameters:
            api-version: 2018-08-20-preview
            resourceGroupName: rg1
            resourceName: service1
            subscriptionId: subid
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Get the metadata of a service instance.
      operationId: Services_Get
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
      responses:
        "200":
          description: The body contains all of the properties of the service instance.
          schema:
            $ref: "#/definitions/ServicesDescription"
        default:
          description: Default error response
          schema:
            $ref: "#/definitions/ErrorDetails"
      tags:
        - Resource
      x-ms-examples:
        ServiceGet:
          parameters:
            api-version: 2018-08-20-preview
            resourceGroupName: rg1
            resourceName: service1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: etagvalue
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service1
                kind: fhir
                location: West US
                name: service1
                properties:
                  accessPolicies:
                    - objectId: c487e7d1-3210-41a3-8ccc-e9372b78da47
                    - objectId: 5b307da8-43d4-492b-8b66-b0294ade872f
                  authenticationConfiguration:
                    audience: https://azurehealthcareapis.com
                    authority: https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc
                    smartProxyEnabled: true
                  corsConfiguration:
                    allowCredentials: false
                    headers:
                      - "*"
                    maxAge: 1440
                    methods:
                      - DELETE
                      - GET
                      - OPTIONS
                      - PATCH
                      - POST
                      - PUT
                    origins:
                      - "*"
                  cosmosDbConfiguration:
                    offerThroughput: 1000
                  provisioningState: Creating
                tags: {}
                type: Microsoft.HealthcareApis/services
    patch:
      deprecated: false
      description: Update the metadata of a service instance.
      operationId: Services_Update
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
        - description: The service instance metadata and security metadata.
          in: body
          name: servicePatchDescription
          required: true
          schema:
            $ref: "#/definitions/ServicesPatchDescription"
      responses:
        "200":
          description: The tags for the resource were updated successfully.
          schema:
            $ref: "#/definitions/ServicesDescription"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      tags:
        - Resource
      x-ms-examples:
        ServicePatch:
          parameters:
            api-version: 2018-08-20-preview
            resourceGroupName: rg1
            resourceName: service1
            servicePatchDescription:
              tags:
                tag1: value1
                tag2: value2
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: etagvalue
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service1
                kind: fhir
                location: West US
                name: service1
                properties:
                  accessPolicies:
                    - objectId: c487e7d1-3210-41a3-8ccc-e9372b78da47
                    - objectId: 5b307da8-43d4-492b-8b66-b0294ade872f
                  authenticationConfiguration:
                    audience: https://azurehealthcareapis.com
                    authority: https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc
                    smartProxyEnabled: true
                  corsConfiguration:
                    allowCredentials: false
                    headers:
                      - "*"
                    maxAge: 1440
                    methods:
                      - DELETE
                      - GET
                      - OPTIONS
                      - PATCH
                      - POST
                      - PUT
                    origins:
                      - "*"
                  cosmosDbConfiguration:
                    offerThroughput: 1000
                  provisioningState: Creating
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.HealthcareApis/services
      x-ms-long-running-operation: true
    put:
      deprecated: false
      description: Create or update the metadata of a service instance.
      operationId: Services_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
        - description: The service instance metadata.
          in: body
          name: serviceDescription
          required: true
          schema:
            $ref: "#/definitions/ServicesDescription"
      responses:
        "200":
          description: Updated - Put request accepted and an existing resource is being updated; the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/ServicesDescription"
        "201":
          description: Created - Put request accepted and a new resource was created; the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/ServicesDescription"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      tags:
        - Resource
      x-ms-examples:
        ServicePut:
          parameters:
            api-version: 2018-08-20-preview
            resourceGroupName: rg1
            resourceName: service1
            serviceDescription:
              kind: fhir
              location: westus
              properties:
                accessPolicies:
                  - objectId: c487e7d1-3210-41a3-8ccc-e9372b78da47
                  - objectId: 5b307da8-43d4-492b-8b66-b0294ade872f
                authenticationConfiguration:
                  audience: https://azurehealthcareapis.com
                  authority: https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc
                  smartProxyEnabled: true
                corsConfiguration:
                  allowCredentials: false
                  headers:
                    - "*"
                  maxAge: 1440
                  methods:
                    - DELETE
                    - GET
                    - OPTIONS
                    - PATCH
                    - POST
                    - PUT
                  origins:
                    - "*"
                cosmosDbConfiguration:
                  offerThroughput: 1000
              tags: {}
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: etagvalue
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service1
                kind: fhir
                location: West US
                name: service1
                properties:
                  accessPolicies:
                    - objectId: c487e7d1-3210-41a3-8ccc-e9372b78da47
                    - objectId: 5b307da8-43d4-492b-8b66-b0294ade872f
                  authenticationConfiguration:
                    audience: https://azurehealthcareapis.com
                    authority: https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc
                    smartProxyEnabled: true
                  corsConfiguration:
                    allowCredentials: false
                    headers:
                      - "*"
                    maxAge: 1440
                    methods:
                      - DELETE
                      - GET
                      - OPTIONS
                      - PATCH
                      - POST
                      - PUT
                    origins:
                      - "*"
                  cosmosDbConfiguration:
                    offerThroughput: 1000
                  provisioningState: Creating
                tags: {}
                type: Microsoft.HealthcareApis/services
            "201":
              body:
                etag: etagvalue
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service1
                kind: fhir
                location: West US
                name: service1
                properties:
                  accessPolicies:
                    - objectId: c487e7d1-3210-41a3-8ccc-e9372b78da47
                    - objectId: 5b307da8-43d4-492b-8b66-b0294ade872f
                  authenticationConfiguration:
                    audience: https://azurehealthcareapis.com
                    authority: https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc
                    smartProxyEnabled: true
                  corsConfiguration:
                    allowCredentials: false
                    headers:
                      - "*"
                    maxAge: 1440
                    methods:
                      - DELETE
                      - GET
                      - OPTIONS
                      - PATCH
                      - POST
                      - PUT
                    origins:
                      - "*"
                  cosmosDbConfiguration:
                    offerThroughput: 1000
                  provisioningState: Creating
                tags: {}
                type: Microsoft.HealthcareApis/services
      x-ms-long-running-operation: true
definitions:
  CheckNameAvailabilityParameters:
    description: Input values.
    properties:
      name:
        description: The name of the service instance to check.
        type: string
      type:
        description: The fully qualified resource type which includes provider namespace.
        type: string
    required:
      - name
      - type
    type: object
  ErrorDetails:
    description: Error details.
    properties:
      error:
        $ref: "#/definitions/ErrorDetailsInternal"
        description: Object containing error details.
    type: object
  ErrorDetailsInternal:
    description: Error details.
    properties:
      code:
        description: The error code.
        readOnly: true
        type: string
      message:
        description: The error message.
        readOnly: true
        type: string
      target:
        description: The target of the particular error.
        readOnly: true
        type: string
    type: object
  Operation:
    description: Service REST API operation.
    properties:
      display:
        $ref: "#/definitions/OperationDisplay"
        description: The information displayed about the operation.
      name:
        description: "Operation name: {provider}/{resource}/{read | write | action | delete}"
        readOnly: true
        type: string
      origin:
        description: Default value is 'user,system'.
        readOnly: true
        type: string
    type: object
  OperationDisplay:
    description: The object that represents the operation.
    properties:
      description:
        description: Friendly description for the operation,
        readOnly: true
        type: string
      operation:
        description: Name of the operation
        readOnly: true
        type: string
      provider:
        description: "Service provider: Microsoft.HealthcareApis"
        readOnly: true
        type: string
      resource:
        description: "Resource Type: Services"
        readOnly: true
        type: string
    type: object
  OperationListResult:
    description: A list of service operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: The link used to get the next page of service description objects.
        type: string
      value:
        description: A list of service operations supported by the Microsoft.HealthcareApis resource provider.
        items:
          $ref: "#/definitions/Operation"
        readOnly: true
        type: array
    type: object
  OperationResultsDescription:
    description: The properties indicating the operation result of an operation on a service.
    properties:
      id:
        description: The ID of the operation returned.
        readOnly: true
        type: string
      name:
        description: The name of the operation result.
        readOnly: true
        type: string
      properties:
        description: Additional properties of the operation result.
        x-ms-client-flatten: false
      startTime:
        description: The time that the operation was started.
        readOnly: true
        type: string
      status:
        description: The status of the operation being performed.
        enum:
          - Canceled
          - Succeeded
          - Failed
          - Requested
          - Running
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: OperationResultStatus
    type: object
  Resource:
    description: The common properties of a service.
    properties:
      etag:
        description: An etag associated with the resource, used for optimistic concurrency when editing it.
        type: string
      id:
        description: The resource identifier.
        readOnly: true
        type: string
      kind:
        description: "The kind of the service. Valid values are: fhir, fhir-Stu3 and fhir-R4."
        enum:
          - fhir
          - fhir-Stu3
          - fhir-R4
        readOnly: false
        type: string
        x-ms-enum:
          modelAsString: false
          name: kind
      location:
        description: The resource location.
        type: string
        x-ms-mutability:
          - create
          - read
      name:
        description: The resource name.
        pattern: ^[a-z0-9][a-z0-9-]{1,21}[a-z0-9]$
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: The resource tags.
        type: object
      type:
        description: The resource type.
        readOnly: true
        type: string
    required:
      - location
      - kind
    x-ms-azure-resource: true
  ServiceAccessPoliciesInfo:
    description: The access policies of the service instance.
    items:
      $ref: "#/definitions/ServiceAccessPolicyEntry"
    minItems: 1
    type: array
  ServiceAccessPolicyEntry:
    description: An access policy entry.
    properties:
      objectId:
        description: An object ID that is allowed access to the FHIR service.
        pattern: ^(([0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}){1})+$
        type: string
    required:
      - objectId
  ServiceAuthenticationConfigurationInfo:
    description: Authentication configuration information
    properties:
      audience:
        description: The audience url for the service
        readOnly: false
        type: string
      authority:
        description: The authority url for the service
        readOnly: false
        type: string
      smartProxyEnabled:
        description: If the SMART on FHIR proxy is enabled
        readOnly: false
        type: boolean
    type: object
  ServiceCorsConfigurationHeaderEntry:
    description: A header for CORS.
    type: string
  ServiceCorsConfigurationInfo:
    description: The settings for the CORS configuration of the service instance.
    properties:
      allowCredentials:
        description: If credentials are allowed via CORS.
        readOnly: false
        type: boolean
      headers:
        description: The headers to be allowed via CORS.
        items:
          $ref: "#/definitions/ServiceCorsConfigurationHeaderEntry"
        readOnly: false
        type: array
      maxAge:
        description: The max age to be allowed via CORS.
        maximum: 99999
        minimum: 0
        readOnly: false
        type: integer
      methods:
        description: The methods to be allowed via CORS.
        items:
          $ref: "#/definitions/ServiceCorsConfigurationMethodEntry"
        readOnly: false
        type: array
      origins:
        description: The origins to be allowed via CORS.
        items:
          $ref: "#/definitions/ServiceCorsConfigurationOriginEntry"
        readOnly: false
        type: array
    type: object
  ServiceCorsConfigurationMethodEntry:
    description: A method for CORS.
    type: string
  ServiceCorsConfigurationOriginEntry:
    description: An origin for CORS.
    pattern: ^(?:(?:(?:[hH][tT][tT][pP](?:[sS]|))\:\/\/(?:[a-zA-Z0-9-]+[.]?)+(?:\:[0-9]{1,5})?|[*]))$
    type: string
  ServiceCosmosDbConfigurationInfo:
    description: The settings for the Cosmos DB database backing the service.
    properties:
      offerThroughput:
        description: The provisioned throughput for the backing database.
        maximum: 10000
        minimum: 400
        readOnly: false
        type: integer
    type: object
  ServicesDescription:
    allOf:
      - $ref: "#/definitions/Resource"
    description: The description of the service.
    properties:
      properties:
        $ref: "#/definitions/ServicesProperties"
        description: The common properties of a service.
        x-ms-client-flatten: false
    type: object
  ServicesDescriptionListResult:
    description: A list of service description objects with a next link.
    properties:
      nextLink:
        description: The link used to get the next page of service description objects.
        type: string
      value:
        description: A list of service description objects.
        items:
          $ref: "#/definitions/ServicesDescription"
        type: array
    type: object
  ServicesNameAvailabilityInfo:
    description: The properties indicating whether a given service name is available.
    properties:
      message:
        description: The detailed reason message.
        type: string
      nameAvailable:
        description: The value which indicates whether the provided name is available.
        readOnly: true
        type: boolean
      reason:
        description: The reason for unavailability.
        enum:
          - Invalid
          - AlreadyExists
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: ServiceNameUnavailabilityReason
    type: object
  ServicesPatchDescription:
    description: The description of the service.
    properties:
      tags:
        additionalProperties:
          type: string
        description: Instance tags
        type: object
    type: object
  ServicesProperties:
    description: The properties of a service instance.
    properties:
      accessPolicies:
        $ref: "#/definitions/ServiceAccessPoliciesInfo"
        description: The access policies of the service instance.
      authenticationConfiguration:
        $ref: "#/definitions/ServiceAuthenticationConfigurationInfo"
        description: The authentication configuration for the service instance.
      corsConfiguration:
        $ref: "#/definitions/ServiceCorsConfigurationInfo"
        description: The settings for the CORS configuration of the service instance.
      cosmosDbConfiguration:
        $ref: "#/definitions/ServiceCosmosDbConfigurationInfo"
        description: The settings for the Cosmos DB database backing the service.
      provisioningState:
        description: The provisioning state.
        enum:
          - Deleting
          - Succeeded
          - Creating
          - Accepted
          - Verifying
          - Updating
          - Failed
          - Canceled
          - Deprovisioned
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: provisioningState
    required:
      - accessPolicies
    type: object
