swagger: "2.0"
schemes:
  - https
host: api.cognitive.microsoft.com
basePath: /bing/v7.0
info:
  contact:
    x-twitter: microsoft
  description: The Entity Search API lets you send a search query to Bing and get back search results that include entities and places. Place results include restaurants, hotel, or other local businesses. For places, the query can specify the name of the local business or it can ask for a list (for example, restaurants near me). Entity results include persons, places, or things. Place in this context is tourist attractions, states, countries, etc.
  title: Entity Search Client
  version: "1.0"
  x-apisguru-categories:
    - developer_tools
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/EntitySearch/stable/v1.0/EntitySearch.json
      version: "2.0"
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-EntitySearch
  x-tags:
    - Microsoft
produces:
  - application/json
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
security:
  - apiKeyHeader: []
parameters:
  x-bingapis-sdk:
    description: Activate swagger compliance
    enum:
      - "true"
    in: header
    name: X-BingApis-SDK
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: XBingApisSDK
    x-ms-parameter-location: method
paths:
  /entities:
    get:
      operationId: Entities_Search
      parameters:
        - $ref: "#/parameters/x-bingapis-sdk"
        - description: The default media type is application/json. To specify that the response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
          in: header
          name: Accept
          required: false
          type: string
        - description: A comma-delimited list of one or more languages to use for user interface strings. The list is in decreasing order of preference. For additional information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). This header and the setLang query parameter are mutually exclusive; do not specify both. If you set this header, you must also specify the cc query parameter. Bing will use the first supported language it finds from the list, and combine that language with the cc parameter value to determine the market to return results for. If the list does not include a supported language, Bing will find the closest language and market that supports the request, and may use an aggregated or default market for the results instead of a specified one. You should use this header and the cc query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. A user interface string is a string that's used as a label in a user interface. There are very few user interface strings in the JSON response objects. Any links in the response objects to Bing.com properties will apply the specified language.
          in: header
          name: Accept-Language
          required: false
          type: string
          x-ms-client-name: AcceptLanguage
        - description: "By default, Bing returns cached content, if available. To prevent Bing from returning cached content, set the Pragma header to no-cache (for example, Pragma: no-cache)."
          in: header
          name: Pragma
          required: false
          type: string
        - description: The user agent originating the request. Bing uses the user agent to provide mobile users with an optimized experience. Although optional, you are strongly encouraged to always specify this header. The user-agent should be the same string that any commonly used browser would send. For information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          in: header
          name: User-Agent
          required: false
          type: string
          x-ms-client-name: UserAgent
        - description: "Bing uses this header to provide users with consistent behavior across Bing API calls. Bing often flights new features and improvements, and it uses the client ID as a key for assigning traffic on different flights. If you do not use the same client ID for a user across multiple requests, then Bing may assign the user to multiple conflicting flights. Being assigned to multiple conflicting flights can lead to an inconsistent user experience. For example, if the second request has a different flight assignment than the first, the experience may be unexpected. Also, Bing can use the client ID to tailor web results to that client ID’s search history, providing a richer experience for the user. Bing also uses this header to help improve result rankings by analyzing the activity generated by a client ID. The relevance improvements help with better quality of results delivered by Bing APIs and in turn enables higher click-through rates for the API consumer. IMPORTANT: Although optional, you should consider this header required. Persisting the client ID across multiple requests for the same end user and device combination enables 1) the API consumer to receive a consistent user experience, and 2) higher click-through rates via better quality of results from the Bing APIs. Each user that uses your application on the device must have a unique, Bing generated client ID. If you do not include this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID response header. The only time that you should NOT include this header in a request is the first time the user uses your app on that device. Use the client ID for each Bing API request that your app makes for this user on the device. Persist the client ID. To persist the ID in a browser app, use a persistent HTTP cookie to ensure the ID is used across all sessions. Do not use a session cookie. For other apps such as mobile apps, use the device's persistent storage to persist the ID. The next time the user uses your app on that device, get the client ID that you persisted. Bing responses may or may not include this header. If the response includes this header, capture the client ID and use it for all subsequent Bing requests for the user on that device. If you include the X-MSEdge-ClientID, you must not include cookies in the request."
          in: header
          name: X-MSEdge-ClientID
          required: false
          type: string
          x-ms-client-name: ClientId
        - description: The IPv4 or IPv6 address of the client device. The IP address is used to discover the user's location. Bing uses the location information to determine safe search behavior. Although optional, you are encouraged to always specify this header and the X-Search-Location header. Do not obfuscate the address (for example, by changing the last octet to 0). Obfuscating the address results in the location not being anywhere near the device's actual location, which may result in Bing serving erroneous results.
          in: header
          name: X-MSEdge-ClientIP
          required: false
          type: string
          x-ms-client-name: ClientIp
        - description: "A semicolon-delimited list of key/value pairs that describe the client's geographical location. Bing uses the location information to determine safe search behavior and to return relevant local content. Specify the key/value pair as <key>:<value>. The following are the keys that you use to specify the user's location. lat (required): The latitude of the client's location, in degrees. The latitude must be greater than or equal to -90.0 and less than or equal to +90.0. Negative values indicate southern latitudes and positive values indicate northern latitudes. long (required): The longitude of the client's location, in degrees. The longitude must be greater than or equal to -180.0 and less than or equal to +180.0. Negative values indicate western longitudes and positive values indicate eastern longitudes. re (required): The radius, in meters, which specifies the horizontal accuracy of the coordinates. Pass the value returned by the device's location service. Typical values might be 22m for GPS/Wi-Fi, 380m for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional): The UTC UNIX timestamp of when the client was at the location. (The UNIX timestamp is the number of seconds since January 1, 1970.) head (optional): The client's relative heading or direction of travel. Specify the direction of travel as degrees from 0 through 360, counting clockwise relative to true north. Specify this key only if the sp key is nonzero. sp (optional): The horizontal velocity (speed), in meters per second, that the client device is traveling. alt (optional): The altitude of the client device, in meters. are (optional): The radius, in meters, that specifies the vertical accuracy of the coordinates. Specify this key only if you specify the alt key. Although many of the keys are optional, the more information that you provide, the more accurate the location results are. Although optional, you are encouraged to always specify the user's geographical location. Providing the location is especially important if the client's IP address does not accurately reflect the user's physical location (for example, if the client uses VPN). For optimal results, you should include this header and the X-MSEdge-ClientIP header, but at a minimum, you should include this header."
          in: header
          name: X-Search-Location
          required: false
          type: string
          x-ms-client-name: Location
        - description: A 2-character country code of the country where the results come from. This API supports only the United States market. If you specify this query parameter, it must be set to us. If you set this parameter, you must also specify the Accept-Language header. Bing uses the first supported language it finds from the languages list, and combine that language with the country code that you specify to determine the market to return results for. If the languages list does not include a supported language, Bing finds the closest language and market that supports the request, or it may use an aggregated or default market for the results instead of a specified one. You should use this query parameter and the Accept-Language query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. This parameter and the mkt query parameter are mutually exclusive—do not specify both.
          in: query
          name: cc
          required: false
          type: string
          x-ms-client-name: CountryCode
        - default: en-us
          description: The market where the results come from. You are strongly encouraged to always specify the market, if known. Specifying the market helps Bing route the request and return an appropriate and optimal response. This parameter and the cc query parameter are mutually exclusive—do not specify both.
          in: query
          name: mkt
          required: false
          type: string
          x-ms-client-name: Market
        - description: The user's search term.
          in: query
          name: q
          required: true
          type: string
          x-ms-client-name: Query
        - collectionFormat: csv
          description: A comma-delimited list of answers to include in the response. If you do not specify this parameter, the response includes all search answers for which there's relevant data.
          in: query
          items:
            enum:
              - Entities
              - Places
            type: string
            x-ms-enum:
              modelAsString: true
              name: AnswerType
          name: ResponseFilter
          required: false
          type: array
        - collectionFormat: csv
          description: "The media type to use for the response. The following are the possible case-insensitive values: JSON, JSONLD. The default is JSON. If you specify JSONLD, the response body includes JSON-LD objects that contain the search results."
          in: query
          items:
            enum:
              - Json
              - JsonLd
            type: string
            x-ms-enum:
              modelAsString: true
              name: ResponseFormat
          name: ResponseFormat
          required: false
          type: array
        - description: "A filter used to filter adult content. Off: Return webpages with adult text, images, or videos. Moderate: Return webpages with adult text, but not adult images or videos. Strict: Do not return webpages with adult text, images, or videos. The default is Moderate. If the request comes from a market that Bing's adult policy requires that safeSearch is set to Strict, Bing ignores the safeSearch value and uses Strict. If you use the site: query operator, there is the chance that the response may contain adult content regardless of what the safeSearch query parameter is set to. Use site: only if you are aware of the content on the site and your scenario supports the possibility of adult content."
          enum:
            - Off
            - Moderate
            - Strict
          in: query
          name: SafeSearch
          required: false
          type: string
          x-ms-enum:
            modelAsString: true
            name: SafeSearch
        - description: The language to use for user interface strings. Specify the language using the ISO 639-1 2-letter language code. For example, the language code for English is EN. The default is EN (English). Although optional, you should always specify the language. Typically, you set setLang to the same language specified by mkt unless the user wants the user interface strings displayed in a different language. This parameter and the Accept-Language header are mutually exclusive; do not specify both. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Also, any links to Bing.com properties in the response objects apply the specified language.
          in: query
          name: SetLang
          required: false
          type: string
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/SearchResponse"
        default:
          description: An error has occurred. Check the response type and/or status code for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: The Entity Search API lets you send a search query to Bing and get back search results that include entities and places. Place results include restaurants, hotel, or other local businesses. For places, the query can specify the name of the local business or it can ask for a list (for example, restaurants near me). Entity results include persons, places, or things. Place in this context is tourist attractions, states, countries, etc.
      tags:
        - EntitySearch
      x-ms-examples:
        Successful query:
          parameters:
            Ocp-Apim-Subscription-Key: "{API key}"
            q: tom cruise
          responses:
            "200":
              body:
                _type: SearchResponse
                entities:
                  _type: Entities
                  value:
                    - _type: Thing
                      bingId: fdc9ba0e-f198-b3c3-3cad-cf81595a654c
                      contractualRules:
                        - _type: ContractualRules/LicenseAttribution
                          license:
                            _type: License
                            name: CC-BY-SA
                            url: http://creativecommons.org/licenses/by-sa/3.0/
                          licenseNotice: Text under CC-BY-SA license
                          mustBeCloseToContent: true
                          targetPropertyName: description
                        - _type: ContractualRules/LinkAttribution
                          mustBeCloseToContent: true
                          targetPropertyName: description
                          text: Wikipedia
                          url: http://en.wikipedia.org/wiki/Tom_Cruise
                        - _type: ContractualRules/MediaAttribution
                          mustBeCloseToContent: true
                          targetPropertyName: image
                          url: http://www.imdb.com/name/nm0000129/
                      description: Thomas Cruise Mapother IV, known professionally as Tom Cruise, is an American actor and producer. He has been nominated for three Academy Awards and has won three Golden Globe Awards. He started his career at age 19 in the film Endless Love.
                      entityPresentationInfo:
                        entityScenario: DominantEntity
                        entityTypeDisplayHint: Actor
                        entityTypeHints:
                          - Actor
                      id: https://localhost/api/v7/#Entities.0
                      image:
                        _type: ImageObject
                        height: 110
                        hostPageUrl: https://images-na.ssl-images-amazon.com/images/M/MV5BMTk1MjM3NTU5M15BMl5BanBnXkFtZTcwMTMyMjAyMg@@._V1_UY317_CR14,0,214,317_AL_.jpg
                        name: The thing about filmmaking is I give it everything, that's why I work so hard. I always tell young actors to take charge. It's not that hard. Sign your own checks, be responsible.
                        provider:
                          - _type: Organization
                            url: http://www.imdb.com/name/nm0000129/
                        thumbnailUrl: https://www.bing.com/th?id=Acf56e67b7cc2c2cbff9de810b1c93e0c&w=110&h=110&c=12&rs=1&qlt=80&cdv=1&pid=16.2
                        width: 110
                      name: Tom Cruise
                      url: http://www.tomcruise.com/
                      webSearchUrl: https://www.bing.com/search?q=Tom+Cruise&filters=sid:%22fdc9ba0e-f198-b3c3-3cad-cf81595a654c%22&elv=AXXfrEiqqD9r3GuelwApulp!j8eybyJ2oV2pcNg*iHI!c9smB16spplYx9SWZMALokr6sIq4plb6PjOE7tvZdFBHYf6fDwegyoSg0f2We0Lf
                queryContext:
                  originalQuery: tom cruise
              headers: {}
definitions:
  Airport:
    allOf:
      - $ref: "#/definitions/CivicStructure"
    properties:
      iataCode:
        readOnly: true
        type: string
      icaoCode:
        readOnly: true
        type: string
    type: object
  Answer:
    allOf:
      - $ref: "#/definitions/Response"
    properties: {}
    type: object
  CivicStructure:
    allOf:
      - $ref: "#/definitions/Place"
    type: object
  ContractualRulesAttribution:
    allOf:
      - $ref: "#/definitions/ContractualRulesContractualRule"
    properties:
      mustBeCloseToContent:
        description: A Boolean value that determines whether the contents of the rule must be placed in close proximity to the field that the rule applies to. If true, the contents must be placed in close proximity. If false, or this field does not exist, the contents may be placed at the caller's discretion.
        readOnly: true
        type: boolean
    type: object
    x-ms-discriminator-value: ContractualRules/Attribution
  ContractualRulesContractualRule:
    discriminator: _type
    properties:
      _type:
        type: string
      targetPropertyName:
        description: The name of the field that the rule applies to.
        readOnly: true
        type: string
    required:
      - _type
    type: object
    x-ms-discriminator-value: ContractualRules/ContractualRule
  ContractualRulesLicenseAttribution:
    allOf:
      - $ref: "#/definitions/ContractualRulesAttribution"
    description: Defines a contractual rule for license attribution.
    properties:
      license:
        $ref: "#/definitions/License"
        description: The license under which the content may be used.
        readOnly: true
      licenseNotice:
        description: The license to display next to the targeted field.
        readOnly: true
        type: string
    type: object
    x-ms-discriminator-value: ContractualRules/LicenseAttribution
  ContractualRulesLinkAttribution:
    allOf:
      - $ref: "#/definitions/ContractualRulesAttribution"
    description: Defines a contractual rule for link attribution.
    properties:
      optionalForListDisplay:
        description: Indicates whether this provider's attribution is optional.
        readOnly: true
        type: boolean
      text:
        description: The attribution text.
        type: string
      url:
        description: The URL to the provider's website. Use text and URL to create the hyperlink.
        type: string
    required:
      - text
      - url
    type: object
    x-ms-discriminator-value: ContractualRules/LinkAttribution
  ContractualRulesMediaAttribution:
    allOf:
      - $ref: "#/definitions/ContractualRulesAttribution"
    description: Defines a contractual rule for media attribution.
    properties:
      url:
        description: The URL that you use to create of hyperlink of the media content. For example, if the target is an image, you would use the URL to make the image clickable.
        readOnly: true
        type: string
    type: object
    x-ms-discriminator-value: ContractualRules/MediaAttribution
  ContractualRulesTextAttribution:
    allOf:
      - $ref: "#/definitions/ContractualRulesAttribution"
    description: Defines a contractual rule for text attribution.
    properties:
      optionalForListDisplay:
        description: Indicates whether this provider's attribution is optional.
        readOnly: true
        type: boolean
      text:
        description: The attribution text. Text attribution applies to the entity as a whole and should be displayed immediately following the entity presentation. If there are multiple text or link attribution rules that do not specify a target, you should concatenate them and display them using a "Data from:" label.
        type: string
    required:
      - text
    type: object
    x-ms-discriminator-value: ContractualRules/TextAttribution
  CreativeWork:
    allOf:
      - $ref: "#/definitions/Thing"
    properties:
      provider:
        description: The source of the creative work.
        items:
          $ref: "#/definitions/Thing"
        readOnly: true
        type: array
      text:
        readOnly: true
        type: string
      thumbnailUrl:
        description: The URL to a thumbnail of the item.
        readOnly: true
        type: string
    type: object
  EntertainmentBusiness:
    allOf:
      - $ref: "#/definitions/LocalBusiness"
    type: object
  Entities:
    allOf:
      - $ref: "#/definitions/SearchResultsAnswer"
    description: Defines an entity answer.
    properties:
      queryScenario:
        default: DominantEntity
        description: The supported query scenario. This field is set to DominantEntity or DisambiguationItem. The field is set to DominantEntity if Bing determines that only a single entity satisfies the request. For example, a book, movie, person, or attraction. If multiple entities could satisfy the request, the field is set to DisambiguationItem. For example, if the request uses the generic title of a movie franchise, the entity's type would likely be DisambiguationItem. But, if the request specifies a specific title from the franchise, the entity's type would likely be DominantEntity.
        enum:
          - DominantEntity
          - DominantEntityWithDisambiguation
          - Disambiguation
          - List
          - ListWithPivot
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: EntityQueryScenario
      value:
        description: A list of entities.
        items:
          $ref: "#/definitions/Thing"
        type: array
    required:
      - value
    type: object
  EntitiesEntityPresentationInfo:
    description: Defines additional information about an entity such as type hints.
    properties:
      entityScenario:
        default: DominantEntity
        description: The supported scenario.
        enum:
          - DominantEntity
          - DisambiguationItem
          - ListItem
        type: string
        x-ms-enum:
          modelAsString: true
          name: EntityScenario
      entityTypeDisplayHint:
        description: A display version of the entity hint. For example, if entityTypeHints is Artist, this field may be set to American Singer.
        readOnly: true
        type: string
      entityTypeHints:
        description: A list of hints that indicate the entity's type. The list could contain a single hint such as Movie or a list of hints such as Place, LocalBusiness, Restaurant. Each successive hint in the array narrows the entity's type.
        items:
          enum:
            - Generic
            - Person
            - Place
            - Media
            - Organization
            - LocalBusiness
            - Restaurant
            - Hotel
            - TouristAttraction
            - Travel
            - City
            - Country
            - Attraction
            - House
            - State
            - RadioStation
            - StreetAddress
            - Neighborhood
            - Locality
            - PostalCode
            - Region
            - SubRegion
            - MinorRegion
            - Continent
            - PointOfInterest
            - Other
            - Movie
            - Book
            - TelevisionShow
            - TelevisionSeason
            - VideoGame
            - MusicAlbum
            - MusicRecording
            - MusicGroup
            - Composition
            - TheaterPlay
            - Event
            - Actor
            - Artist
            - Attorney
            - Speciality
            - CollegeOrUniversity
            - School
            - Food
            - Drug
            - Animal
            - SportsTeam
            - Product
            - Car
          type: string
          x-ms-enum:
            modelAsString: true
            name: EntityType
        readOnly: true
        type: array
    required:
      - entityScenario
    type: object
    x-ms-discriminator-value: Entities/EntityPresentationInfo
  Error:
    description: Defines the error that occurred.
    properties:
      code:
        default: None
        description: The error code that identifies the category of error.
        enum:
          - None
          - ServerError
          - InvalidRequest
          - RateLimitExceeded
          - InvalidAuthorization
          - InsufficientAuthorization
        type: string
        x-ms-enum:
          modelAsString: true
          name: ErrorCode
      message:
        description: A description of the error.
        type: string
      moreDetails:
        description: A description that provides additional information about the error.
        readOnly: true
        type: string
      parameter:
        description: The parameter in the request that caused the error.
        readOnly: true
        type: string
      subCode:
        description: The error code that further helps to identify the error.
        enum:
          - UnexpectedError
          - ResourceError
          - NotImplemented
          - ParameterMissing
          - ParameterInvalidValue
          - HttpNotAllowed
          - Blocked
          - AuthorizationMissing
          - AuthorizationRedundancy
          - AuthorizationDisabled
          - AuthorizationExpired
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ErrorSubCode
      value:
        description: The parameter's value in the request that was not valid.
        readOnly: true
        type: string
    required:
      - code
      - message
    type: object
  ErrorResponse:
    allOf:
      - $ref: "#/definitions/Response"
    description: The top-level response that represents a failed request.
    properties:
      errors:
        description: A list of errors that describe the reasons why the request failed.
        items:
          $ref: "#/definitions/Error"
        type: array
    required:
      - errors
    type: object
  FoodEstablishment:
    allOf:
      - $ref: "#/definitions/LocalBusiness"
    type: object
  Hotel:
    allOf:
      - $ref: "#/definitions/LodgingBusiness"
    properties:
      amenities:
        items:
          type: string
        readOnly: true
        type: array
      hotelClass:
        readOnly: true
        type: string
    type: object
  Identifiable:
    allOf:
      - $ref: "#/definitions/ResponseBase"
    description: Defines the identity of a resource.
    properties:
      id:
        description: A String identifier.
        readOnly: true
        type: string
    type: object
  ImageObject:
    allOf:
      - $ref: "#/definitions/MediaObject"
    description: Defines an image
    properties:
      thumbnail:
        $ref: "#/definitions/ImageObject"
        description: The URL to a thumbnail of the image
        readOnly: true
    type: object
  Intangible:
    allOf:
      - $ref: "#/definitions/Thing"
    type: object
  License:
    allOf:
      - $ref: "#/definitions/CreativeWork"
    description: Defines the license under which the text or photo may be used.
    type: object
  LocalBusiness:
    allOf:
      - $ref: "#/definitions/Place"
    properties:
      isPermanentlyClosed:
        readOnly: true
        type: boolean
      panoramas:
        items:
          $ref: "#/definitions/ImageObject"
        readOnly: true
        type: array
      priceRange:
        description: $$.
        readOnly: true
        type: string
      tagLine:
        readOnly: true
        type: string
    type: object
  LodgingBusiness:
    allOf:
      - $ref: "#/definitions/LocalBusiness"
    type: object
  MediaObject:
    allOf:
      - $ref: "#/definitions/CreativeWork"
    properties:
      contentUrl:
        description: Original URL to retrieve the source (file) for the media object (e.g the source URL for the image).
        readOnly: true
        type: string
      height:
        description: The height of the source media object, in pixels.
        format: int32
        readOnly: true
        type: integer
      hostPageUrl:
        description: URL of the page that hosts the media object.
        readOnly: true
        type: string
      width:
        description: The width of the source media object, in pixels.
        format: int32
        readOnly: true
        type: integer
    type: object
  MovieTheater:
    allOf:
      - $ref: "#/definitions/EntertainmentBusiness"
    properties:
      screenCount:
        format: int32
        readOnly: true
        type: integer
    type: object
  Organization:
    allOf:
      - $ref: "#/definitions/Thing"
    description: Defines an organization.
    properties: {}
    type: object
  Place:
    allOf:
      - $ref: "#/definitions/Thing"
    description: Defines information about a local entity, such as a restaurant or hotel.
    properties:
      address:
        $ref: "#/definitions/PostalAddress"
        description: The postal address of where the entity is located
        readOnly: true
      telephone:
        description: The entity's telephone number
        readOnly: true
        type: string
    type: object
  Places:
    allOf:
      - $ref: "#/definitions/SearchResultsAnswer"
    description: Defines a local entity answer.
    properties:
      value:
        description: A list of local entities, such as restaurants or hotels.
        items:
          $ref: "#/definitions/Thing"
        type: array
    required:
      - value
    type: object
  PostalAddress:
    allOf:
      - $ref: "#/definitions/StructuredValue"
    description: Defines a postal address.
    properties:
      addressCountry:
        description: The country/region where the street address is located. This could be the two-letter ISO code. For example, US, or the full name, United States.
        readOnly: true
        type: string
      addressLocality:
        description: The city where the street address is located. For example, Seattle.
        readOnly: true
        type: string
      addressRegion:
        description: The state or province code where the street address is located. This could be the two-letter code. For example, WA, or the full name , Washington.
        readOnly: true
        type: string
      addressRegionAbbreviation:
        description: Region Abbreviation. For example, WA.
        readOnly: true
        type: string
      addressSubregion:
        readOnly: true
        type: string
      countryIso:
        description: The two letter ISO code of this country. For example, US.
        readOnly: true
        type: string
      neighborhood:
        description: The neighborhood where the street address is located. For example, Westlake.
        readOnly: true
        type: string
      postOfficeBoxNumber:
        readOnly: true
        type: string
      postalCode:
        description: The zip code or postal code where the street address is located. For example, 98052.
        readOnly: true
        type: string
      streetAddress:
        readOnly: true
        type: string
      text:
        description: The complete address. For example, 2100 Westlake Ave N, Bellevue, WA 98052.
        readOnly: true
        type: string
    type: object
  QueryContext:
    description: Defines the query context that Bing used for the request.
    properties:
      adultIntent:
        description: A Boolean value that indicates whether the specified query has adult intent. The value is true if the query has adult intent; otherwise, false.
        readOnly: true
        type: boolean
      alterationOverrideQuery:
        description: The query string to use to force Bing to use the original string. For example, if the query string is "saling downwind", the override query string will be "+saling downwind". Remember to encode the query string which results in "%2Bsaling+downwind". This field is included only if the original query string contains a spelling mistake.
        readOnly: true
        type: string
      alteredQuery:
        description: The query string used by Bing to perform the query. Bing uses the altered query string if the original query string contained spelling mistakes. For example, if the query string is "saling downwind", the altered query string will be "sailing downwind". This field is included only if the original query string contains a spelling mistake.
        readOnly: true
        type: string
      askUserForLocation:
        description: A Boolean value that indicates whether Bing requires the user's location to provide accurate results. If you specified the user's location by using the X-MSEdge-ClientIP and X-Search-Location headers, you can ignore this field. For location aware queries, such as "today's weather" or "restaurants near me" that need the user's location to provide accurate results, this field is set to true. For location aware queries that include the location (for example, "Seattle weather"), this field is set to false. This field is also set to false for queries that are not location aware, such as "best sellers".
        readOnly: true
        type: boolean
      originalQuery:
        description: The query string as specified in the request.
        type: string
    required:
      - originalQuery
    type: object
  Response:
    allOf:
      - $ref: "#/definitions/Identifiable"
    description: Defines a response. All schemas that could be returned at the root of a response should inherit from this
    properties:
      contractualRules:
        description: A list of rules that you must adhere to if you display the item.
        items:
          $ref: "#/definitions/ContractualRulesContractualRule"
        readOnly: true
        type: array
      webSearchUrl:
        description: The URL To Bing's search result for this item.
        readOnly: true
        type: string
    type: object
  ResponseBase:
    discriminator: _type
    properties:
      _type:
        type: string
    required:
      - _type
    type: object
  Restaurant:
    allOf:
      - $ref: "#/definitions/FoodEstablishment"
    properties:
      acceptsReservations:
        readOnly: true
        type: boolean
      menuUrl:
        readOnly: true
        type: string
      reservationUrl:
        readOnly: true
        type: string
      servesCuisine:
        items:
          type: string
        readOnly: true
        type: array
    type: object
  SearchResponse:
    allOf:
      - $ref: "#/definitions/Response"
    description: Defines the top-level object that the response includes when the request succeeds.
    properties:
      entities:
        $ref: "#/definitions/Entities"
        description: A list of entities that are relevant to the search query.
        readOnly: true
      places:
        $ref: "#/definitions/Places"
        description: A list of local entities such as restaurants or hotels that are relevant to the query.
        readOnly: true
      queryContext:
        $ref: "#/definitions/QueryContext"
        description: An object that contains the query string that Bing used for the request. This object contains the query string as entered by the user. It may also contain an altered query string that Bing used for the query if the query string contained a spelling mistake.
        readOnly: true
    type: object
  SearchResultsAnswer:
    allOf:
      - $ref: "#/definitions/Answer"
    properties:
      queryContext:
        $ref: "#/definitions/QueryContext"
        readOnly: true
    type: object
  StructuredValue:
    allOf:
      - $ref: "#/definitions/Intangible"
    type: object
  Thing:
    allOf:
      - $ref: "#/definitions/Response"
    properties:
      bingId:
        description: An ID that uniquely identifies this item.
        readOnly: true
        type: string
      description:
        description: A short description of the item.
        readOnly: true
        type: string
      entityPresentationInfo:
        $ref: "#/definitions/EntitiesEntityPresentationInfo"
        description: Additional information about the entity such as hints that you can use to determine the entity's type. To determine the entity's type, use the entityScenario and entityTypeHint fields.
        readOnly: true
      image:
        $ref: "#/definitions/ImageObject"
        readOnly: true
      name:
        description: The name of the thing represented by this object.
        readOnly: true
        type: string
      url:
        description: The URL to get more information about the thing represented by this object.
        readOnly: true
        type: string
    type: object
  TouristAttraction:
    allOf:
      - $ref: "#/definitions/Place"
    type: object
x-ms-parameterized-host:
  hostTemplate: "{Endpoint}"
  parameters:
    - default: https://api.cognitive.microsoft.com
      description: 'Supported Cognitive Services endpoints (protocol and hostname, for example: "https://westus.api.cognitive.microsoft.com", "https://api.cognitive.microsoft.com").'
      x-ms-parameter-location: client
      x-ms-skip-url-encoding: true
  useSchemePrefix: false
