swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: AutomationManagement
  version: 2017-05-15-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/sourceControlSyncJobStreams.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-sourceControlSyncJobStreams
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs/{sourceControlSyncJobId}/streams":
    get:
      description: Retrieve a list of sync job streams identified by sync job id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations
      operationId: SourceControlSyncJobStreams_ListBySyncJob
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The source control name.
          in: path
          name: sourceControlName
          required: true
          type: string
        - description: The source control sync job id.
          format: uuid
          in: path
          name: sourceControlSyncJobId
          required: true
          type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SourceControlSyncJobStreamsListBySyncJob"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - SourceControlSyncJobStreams
      x-ms-examples:
        Get a list of sync job streams identified by sync job id:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            sourceControlName: MySourceControl
            sourceControlSyncJobId: ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2b
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2b/streams/b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855134810785_00000000000000000005
                    properties:
                      sourceControlSyncJobStreamId: b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855134810785_00000000000000000005
                      streamType: Error
                      summary: "ForbiddenError: The server failed to authenticate the request. Verify that the certificate is valid and is associated with this subscription."
                      time: 2017-03-28T23:14:26.903+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2b/streams/b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855136998262_00000000000000000006
                    properties:
                      sourceControlSyncJobStreamId: b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855136998262_00000000000000000006
                      streamType: Error
                      summary: "System.Management.Automation.RuntimeException: Cannot index into a null array.\r

                        \   at CallSite.Target(Closure , CallSite , Object , Int32 )\r

                        \   at System.Dynamic.UpdateDelegates.UpdateAndExecute2[T0,T1,TRet](CallSite site, T0 arg0, T1 arg1)\r

                        \   at System.Management.Automation.Interpreter.DynamicInstruction`3.Run(InterpretedFrame frame)\r

                        \   at System.Management.Automation.Interpreter.EnterTryCatchFinallyInstruction.Run(InterpretedFrame frame)"
                      time: 2017-03-28T23:14:27.903+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2b/streams/b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855139029522_00000000000000000007
                    properties:
                      sourceControlSyncJobStreamId: b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855139029522_00000000000000000007
                      streamType: Error
                      summary: "System.Management.Automation.ParameterBindingValidationException: Cannot validate argument on parameter 'Location'. The argument is null or empty. Provide an argument that is not null or empty, and then try the command again. ---> System.Management.Automation.ValidationMetadataException: The argument is null or empty. Provide an argument that is not null or empty, and then try the command again.\r

                        \   at System.Management.Automation.ValidateNotNullOrEmptyAttribute.Validate(Object arguments, EngineIntrinsics engineIntrinsics)"
                      time: 2017-03-28T23:14:28.903+00:00
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs/{sourceControlSyncJobId}/streams/{streamId}":
    get:
      description: Retrieve a sync job stream identified by stream id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations
      operationId: SourceControlSyncJobStreams_Get
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The source control name.
          in: path
          name: sourceControlName
          required: true
          type: string
        - description: The source control sync job id.
          format: uuid
          in: path
          name: sourceControlSyncJobId
          required: true
          type: string
        - description: The id of the sync job stream.
          in: path
          name: streamId
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SourceControlSyncJobStreamById"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - SourceControlSyncJobStreams
      x-ms-examples:
        Get a sync job stream identified by sync job stream id.:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            sourceControlName: MySourceControl
            sourceControlSyncJobId: ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2b
            streamId: b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855139029522_00000000000000000007
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2b/streams/b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855139029522_00000000000000000007
                properties:
                  sourceControlSyncJobStreamId: b86c5c31-e9fd-4734-8764-ddd6c101e706_00636596855139029522_00000000000000000007
                  streamText: "New-AzureAffinityGroup : Cannot validate argument on parameter 'Location'. The argument is null or empty. Provide an \r

                    argument that is not null or empty, and then try the command again.\r

                    At DatabaseExportImport1fba401e-0:69 char:69\r

                    + \r

                    \ + CategoryInfo : InvalidData: . . . ."
                  streamType: Error
                  summary: ""
                  time: 2017-03-28T23:14:26.903+00:00
                  value:
                    Exception:
                      Message: "System.Management.Automation.ParameterBindingValidationException: Cannot validate argument on parameter 'Location'. The argument is null or empty . . .} }"
              headers: {}
definitions:
  SourceControlSyncJobStream:
    description: Definition of the source control sync job stream.
    properties:
      id:
        description: Resource id.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/SourceControlSyncJobStreamProperties"
        description: The properties of the source control sync job stream.
        x-ms-client-flatten: true
  SourceControlSyncJobStreamById:
    description: Definition of the source control sync job stream by id.
    properties:
      id:
        description: Resource id.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/SourceControlSyncJobStreamByIdProperties"
        description: The properties of the source control sync job stream.
        x-ms-client-flatten: true
  SourceControlSyncJobStreamByIdProperties:
    description: Definition of source control sync job stream by id properties.
    properties:
      sourceControlSyncJobStreamId:
        description: The sync job stream id.
        type: string
      streamText:
        description: The text of the sync job stream.
        type: string
      streamType:
        description: The type of the sync job stream.
        enum:
          - Error
          - Output
        type: string
        x-ms-enum:
          modelAsString: true
          name: streamType
      summary:
        description: The summary of the sync job stream.
        type: string
      time:
        description: The time of the sync job stream.
        format: date-time
        readOnly: true
        type: string
        x-nullable: true
      value:
        additionalProperties:
          type: object
        description: The values of the job stream.
        type: object
  SourceControlSyncJobStreamProperties:
    description: Definition of source control sync job stream properties.
    properties:
      sourceControlSyncJobStreamId:
        description: The sync job stream id.
        type: string
      streamType:
        description: The type of the sync job stream.
        enum:
          - Error
          - Output
        type: string
        x-ms-enum:
          modelAsString: true
          name: streamType
      summary:
        description: The summary of the sync job stream.
        type: string
      time:
        description: The time of the sync job stream.
        format: date-time
        readOnly: true
        type: string
        x-nullable: true
  SourceControlSyncJobStreamsListBySyncJob:
    description: The response model for the list source control sync job streams operation.
    properties:
      nextLink:
        description: The next link.
        readOnly: true
        type: string
      value:
        description: The list of source control sync job streams.
        items:
          $ref: "#/definitions/SourceControlSyncJobStream"
        type: array
