{
  "openapi": "3.0.1",
  "servers": [
    {
      "url": "https://api.mailboxvalidator.com"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "MailBoxV"
    },
    "description": "The Single Validation API does validation on a single email address and returns all the validation results in either JSON or XML format. Refer to https://www.mailboxvalidator.com for further information.",
    "title": "MailboxValidator Email Validation",
    "version": "0.1",
    "x-apisguru-categories": [
      "email"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_MailBoxV_profile_image.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/mermade/oas-kit",
          "version": "7.0.4"
        },
        "format": "openapi",
        "url": "https://api.swaggerhub.com/apis/mailboxvalidator/MailboxValidator-Email-Validation/0.1",
        "version": "3.0"
      }
    ],
    "x-providerName": "mailboxvalidator.com",
    "x-serviceName": "validation"
  },
  "paths": {
    "/v1/validation/single": {
      "get": {
        "description": "The Single Validation API does validation on a single email address and returns all the validation results in either JSON or XML format.",
        "parameters": [
          {
            "description": "Return the result in json (default) or xml format.",
            "in": "query",
            "name": "format",
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          },
          {
            "description": "The email address to be validated.",
            "in": "query",
            "name": "email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "API key.",
            "in": "query",
            "name": "key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json; charset=utf-8": {
                "examples": {
                  "0": {
                    "value": "{\"email_address\":\"\",\"domain\":\"\",\"is_free\":\"\",\"is_syntax\":\"\",\"is_domain\":\"\",\"is_smtp\":\"\",\"is_verified\":\"\",\"is_server_down\":\"\",\"is_greylisted\":\"\",\"is_disposable\":\"\",\"is_suppressed\":\"\",\"is_role\":\"\",\"is_high_risk\":\"\",\"is_catchall\":\"\",\"mailboxvalidator_score\":\"\",\"time_taken\":0,\"status\":\"\",\"credits_available\":\"\",\"error_code\":\"100\",\"error_message\":\"Missing parameter.\"}"
                  }
                },
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "single email validation response"
          }
        }
      }
    }
  }
}