swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: AutomationManagement
  version: 2015-10-31
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/dscNodeConfiguration.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: automation-dscNodeConfiguration
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodeConfigurations":
    get:
      description: Retrieve a list of dsc node configurations.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeconfigurations
      operationId: DscNodeConfiguration_ListByAutomationAccount
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DscNodeConfigurationListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscNodeConfiguration
      x-ms-examples:
        List DSC node configurations by Automation Account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - configuration:
                      name: SetupServer
                    creationTime: 2017-03-28T23:17:06.8901968+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodeConfigurations/SetupServer.localhost
                    lastModifiedTime: 2017-03-28T23:17:06.8901968+00:00
                    name: SetupServer.localhost
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/nodeConfigurations/{nodeConfigurationName}":
    delete:
      description: Delete the Dsc node configurations by node configuration.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeconfigurations
      operationId: DscNodeConfiguration_Delete
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The Dsc node configuration name.
          in: path
          name: nodeConfigurationName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscNodeConfiguration
      x-ms-examples:
        Delete a DSC node configuration:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount20
            credentialName: myCredential
            nodeConfigurationName: configName.nodeConfigName
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200": {}
    get:
      description: Retrieve the Dsc node configurations by node configuration.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeconfigurations
      operationId: DscNodeConfiguration_Get
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The Dsc node configuration name.
          in: path
          name: nodeConfigurationName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DscNodeConfiguration"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscNodeConfiguration
      x-ms-examples:
        Get a DSC node configuration:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            nodeConfigurationName: SetupServer.localhost
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                configuration:
                  name: SetupServer
                creationTime: 2017-03-28T23:17:06.8901968+00:00
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/nodeConfigurations/SetupServer.localhost
                lastModifiedTime: 2017-03-28T23:17:06.8901968+00:00
                name: SetupServer.localhost
              headers: {}
    put:
      description: Create the node configuration identified by node configuration name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscnodeconfigurations
      operationId: DscNodeConfiguration_CreateOrUpdate
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The create or update parameters for configuration.
          in: path
          name: nodeConfigurationName
          required: true
          type: string
        - description: The create or update parameters for configuration.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/DscNodeConfigurationCreateOrUpdateParameters"
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DscNodeConfiguration"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscNodeConfiguration
      x-ms-examples:
        Get a DSC node configuration:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount20
            credentialName: myCredential
            nodeConfigurationName: configName.nodeConfigName
            parameters:
              configuration:
                name: configName
              incrementNodeConfigurationBuild: true
              name: configName.nodeConfigName
              source:
                hash:
                  algorithm: sha256
                  value: 6DE256A57F01BFA29B88696D5E77A383D6E61484C7686E8DB955FA10ACE9FFE5
                type: embeddedContent
                value: "\r

                  instance of MSFT_RoleResource as $MSFT_RoleResource1ref\r

                  {\r

                  ResourceID = \"[WindowsFeature]IIS\";\r

                  \ Ensure = \"Present\";\r

                  \ SourceInfo = \"::3::32::WindowsFeature\";\r

                  \ Name = \"Web-Server\";\r

                  \ ModuleName = \"PsDesiredStateConfiguration\";\r

                  \r

                  ModuleVersion = \"1.0\";\r\r

                  \ ConfigurationName = \"configName\";\r\r

                  };\r

                  instance of OMI_ConfigurationDocument\r

                  \r\r

                  \                    {\r

                  \ Version=\"2.0.0\";\r

                  \ \r\r

                  \                        MinimumCompatibleVersion = \"1.0.0\";\r

                  \ \r\r

                  \                        CompatibleVersionAdditionalProperties= {\"Omi_BaseResource:ConfigurationName\"};\r

                  \ \r\r

                  \                        Author=\"weijiel\";\r

                  \ \r\r

                  \                        GenerationDate=\"03/30/2017 13:40:25\";\r

                  \ \r\r

                  \                        GenerationHost=\"TEST-BACKEND\";\r

                  \ \r\r

                  \                        Name=\"configName\";\r

                  \r\r

                  \                    };\r\n"
                version: "1.0"
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                configuration:
                  name: configName
                creationTime: 2017-06-16T01:18:39.010771+00:00
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/nodeConfigurations/nodeConfigName
                lastModifiedTime: 2017-06-16T01:18:39.010771+00:00
                name: nodeConfigName
              headers: {}
definitions:
  ContentHash:
    description: Definition of the runbook property type.
    properties:
      algorithm:
        description: Gets or sets the content hash algorithm used to hash the content.
        type: string
      value:
        description: Gets or sets expected hash value of the content.
        type: string
    required:
      - algorithm
      - value
  ContentSource:
    description: Definition of the content source.
    properties:
      hash:
        $ref: "#/definitions/ContentHash"
        description: Gets or sets the hash.
      type:
        description: Gets or sets the content source type.
        enum:
          - embeddedContent
          - uri
        type: string
        x-ms-enum:
          modelAsString: true
          name: ContentSourceType
      value:
        description: Gets or sets the value of the content. This is based on the content source type.
        type: string
      version:
        description: Gets or sets the version of the content.
        type: string
  DscConfigurationAssociationProperty:
    description: The Dsc configuration property associated with the entity.
    properties:
      name:
        description: Gets or sets the name of the Dsc configuration.
        type: string
  DscNodeConfiguration:
    allOf:
      - allOf:
          - description: The core properties of ARM resources
            properties:
              id:
                description: Fully qualified resource Id for the resource
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: ARM proxy resource.
        properties: {}
        type: object
    description: Definition of the dsc node configuration.
    properties:
      configuration:
        $ref: "#/definitions/DscConfigurationAssociationProperty"
        description: Gets or sets the configuration of the node.
      creationTime:
        description: Gets or sets creation time.
        format: date-time
        type: string
        x-nullable: false
      lastModifiedTime:
        description: Gets or sets the last modified time.
        format: date-time
        type: string
        x-nullable: false
  DscNodeConfigurationCreateOrUpdateParameters:
    description: The parameters supplied to the create or update node configuration operation.
    properties:
      configuration:
        $ref: "#/definitions/DscConfigurationAssociationProperty"
        description: Gets or sets the configuration of the node.
      incrementNodeConfigurationBuild:
        description: If a new build version of NodeConfiguration is required.
        type: boolean
      name:
        description: Name of the node configuration.
        type: string
      source:
        $ref: "#/definitions/ContentSource"
        description: Gets or sets the source.
    required:
      - source
      - name
      - configuration
  DscNodeConfigurationListResult:
    description: The response model for the list job operation.
    properties:
      nextLink:
        description: Gets or sets the next link.
        type: string
      value:
        description: Gets or sets a list of Dsc node configurations.
        items:
          $ref: "#/definitions/DscNodeConfiguration"
        type: array
