{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "www.haloapi.com",
  "basePath": "/ugc",
  "info": {
    "contact": {
      "x-twitter": "halo"
    },
    "description": "API that provides Metadata about User-Generated Content (Maps and Game Variants).",
    "title": "UGC",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_d_d7_Halo_%28series%29_logo.svg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://developer.haloapi.com/docs/services/58acde2921091812784ce8c3/export?DocumentFormat=Swagger",
        "version": "2.0"
      },
      {
        "format": "swagger",
        "url": "https://developer.haloapi.com/docs/services/58acde2921091812784ce8c3/export?DocumentFormat=Swagger",
        "version": "2.0"
      }
    ],
    "x-providerName": "haloapi.com",
    "x-serviceName": "ugc"
  },
  "securityDefinitions": {
    "apiKeyHeader": {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "type": "apiKey"
    },
    "apiKeyQuery": {
      "in": "query",
      "name": "subscription-key",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/h5/players/{player}/gamevariants": {
      "get": {
        "description": "<p>Retrieves a list of Game Variants created by a Player.</p>\n<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"List Game Variants\" to \"Halo 5 - Player Game Variants\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>August 5, 2016:</strong></p>\n    <ul>\n        <li>Added Endpoint.</li>\n    </ul>\n</div>\n",
        "operationId": "58acde292109180bdcacc40d",
        "parameters": [
          {
            "description": "The Gamertag of the Player that owns the listed Game Variants.",
            "in": "path",
            "name": "player",
            "required": true,
            "type": "string"
          },
          {
            "description": "When specified, this indicates the starting index (0-based) for which the list of results will begin at.",
            "in": "query",
            "name": "start",
            "type": "number"
          },
          {
            "description": "When specified, this indicates the maximum quantity of items the caller would like returned in the response.",
            "in": "query",
            "name": "count",
            "type": "number"
          },
          {
            "description": "When specified, this indicates what field should be used to sort the results as the primary sort order. When omitted, \"modified\" (descending) is the assumed primary sort order. Allowed sort fields are: name, description, accessibility, created, modified, bookmarkCount.",
            "in": "query",
            "name": "sort",
            "type": "number"
          },
          {
            "description": "When specified, this indicates the ordering that will be applied. When omitted, \"desc\" is assumed. Allowed order values are: asc, desc.",
            "in": "query",
            "name": "order",
            "type": "number"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain a list of the Player-created Game Variants.",
            "examples": {
              "application/json": "{\n  // A list of game variants owned by the requested player.\n  \"Results\": [\n    {\n      // Internal use only. This will always be 1.\n      \"BaseGameEngineType\": \"int\",\n\n      // Internal use only. This will always be 1.\n      \"GameType\": \"int\",\n\n      // The base game variant on which this variant is created.\n      \"BaseGame\": {\n\n        // The resource type. 8 indicates base game variant.\n        \"ResourceType\": 8,\n\n        // The ID of the base game variant.\n        \"ResourceId\": \"guid\",\n\n        // The source of the base game variant. will always be 3 (Official) for the\n        // BaseGame.\n        \"OwnerType\": \"int\",\n\n        // The gamertag of the user that created the base game variant if this is a\n        // user-generated game variant, or null otherwise.\n        \"Owner\": \"string\"\n      },\n\n      // The minimum score necessary for a player to win the match. A value of 0\n      // indicates the base game variant's default value is used.\n      \"ScoreToWin\": \"int\",\n\n      // The number of lives allowed. A value of 0 indicates the base game variant's\n      // default value is used.\n      \"NumberOfLives\": \"int\",\n\n      // Maximum runtime of the match in seconds. A value of 0 indicates the base game\n      // variant's default value is used.\n      \"MatchDurationInSeconds\": \"int\",\n\n      // The number of rounds in the match. A value of 0 indicates the base game\n      // variant's default value is used.\n      \"NumberOfRounds\": \"int\",\n\n      // The name of the game variant.\n      \"Name\": \"sring\",\n\n      // The description of the game variant.\n      \"Description\": \"string\",\n\n      // Indicates the restrictions for access that apply to the game variant. possible\n      // values are:\n      //   Listed (game variant will show up in search results) = 0,\n      //   Unlisted (game variant won't show up in search results) = 1,\n      //   Unknown = 2.\n      \"AccessControl\": \"int\",\n\n      // Internal use only.\n      \"Links\": \"links\",\n\n      // The date that the game variant was created. The time component of this date is\n      // always set to \"00:00:00\". This is expressed as an ISO 8601 combined Date and\n      // Time.\n      \"CreationTimeUtc\": {\n\n        \"ISO8601Date\": \"string\"\n      },\n\n      // The date that the game variant was last modified. The time component of this\n      // date is always set to \"00:00:00\". This is expressed as an ISO 8601 combined Date\n      // and Time.\n      \"LastModifiedTimeUtc\": {\n\n        \"ISO8601Date\": \"string\"\n      },\n\n      // A flag indicating whether this file has been banned or not.\n      \"Banned\": \"boolean\",\n\n      // The identity of the game variant.\n      \"Identity\": {\n\n        // The resource type. 2 inidicates game variant.\n        \"ResourceType\": 2,\n\n        // The ID of the game varaint.\n        \"ResourceId\": \"guid\",\n\n        // The source of the game variant. will always be 1 (user generated).\n        \"OwnerType\": 1,\n\n        // The gamertag of the user that created the game variant.\n        \"Owner\": \"string\"\n      },\n\n      // The set of aggregate statistics associated with this game variant.\n      \"Stats\": {\n\n        // The current number of active bookmarks on this game variant.\n        \"BookmarkCount\": \"int\",\n\n        // Internal use only. This will always be false.\n        \"HasCallerBookmarked\": false\n      }\n    }\n  ],\n\n  // The starting point that was used. When the \"start\" query string parameter is\n  // specified, this value is identical. When \"start\" is omitted, the default value is\n  // returned.\n  \"Start\": \"int\",\n\n  // The number of results that the service attempted to retrieve to satisfy this\n  // request. Normally this value is equal to the \"count\" parameter. If the client\n  // specified a count parameter greater than the maximum allowed, this value contains\n  // the maximum allowed amount.\n  \"Count\": \"int\",\n\n  // The number of results that are actually being returned in this response. This field\n  // is named \"ResultCount\" to avoid confusion with \"Count\".\n  \"ResultCount\": \"int\",\n\n  // Total number of items of the requested type.\n  \"TotalCount\": \"int\",\n\n  // Internal use only.\n  \"Links\": \"links\"\n}\n"
            }
          },
          "400": {
            "description": "Specified Gamertag is malformed."
          },
          "404": {
            "description": "The player does not exist."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Halo 5 - Player Game Variants"
      }
    },
    "/h5/players/{player}/gamevariants/{variant}": {
      "get": {
        "description": "<p>Retrieves Metadata about a Player-created Game Variant.</p>\n<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Get Game Variant\" to \"Halo 5 - Player Game Variant\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>August 5, 2016:</strong></p>\n    <ul>\n        <li>Added Endpoint.</li>\n    </ul>\n</div>\n",
        "operationId": "58acde292109180bdcacc40c",
        "parameters": [
          {
            "description": "The Gamertag of the Player that owns the Game Variant.",
            "in": "path",
            "name": "player",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID for the Game Variant.",
            "in": "path",
            "name": "variant",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the Metadata for the Player-created Game Variant.",
            "examples": {
              "application/json": "{\n  // Internal use only. This will always be 1.\n  \"BaseGameEngineType\": \"int\",\n\n  // Internal use only. This will always be 1.\n  \"GameType\": \"int\",\n\n  // The base game variant on which this variant is created.\n  \"BaseGame\": {\n\n    // The resource type. 8 indicates base game variant.\n    \"ResourceType\": 8,\n\n    // The ID of the base game variant.\n    \"ResourceId\": \"guid\",\n\n    // The source of the base game variant. will always be 3 (Official) for the BaseGame.\n    \"OwnerType\": \"int\",\n\n    // The gamertag of the user that created the base game variant if this is a\n    // user-generated game variant, or null otherwise.\n    \"Owner\": \"string\"\n  },\n\n  // The minimum score necessary for a player to win the match. A value of 0 indicates\n  // the base game variant's default value is used.\n  \"ScoreToWin\": \"int\",\n\n  // The number of lives allowed. A value of 0 indicates the base game variant's default\n  // value is used.\n  \"NumberOfLives\": \"int\",\n\n  // Maximum runtime of the match in seconds. A value of 0 indicates the base game\n  // variant's default value is used.\n  \"MatchDurationInSeconds\": \"int\",\n\n  // The number of rounds in the match. A value of 0 indicates the base game variant's\n  // default value is used.\n  \"NumberOfRounds\": \"int\",\n\n  // The name of the game variant.\n  \"Name\": \"sring\",\n\n  // The description of the game variant.\n  \"Description\": \"string\",\n\n  // Indicates the restrictions for access that apply to the game variant. possible\n  // values are:\n  //   Listed (game variant will show up in search results) = 0,\n  //   Unlisted (game variant won't show up in search results) = 1,\n  //   Unknown = 2.\n  \"AccessControl\": \"int\",\n\n  // Internal use only.\n  \"Links\": \"links\",\n\n  // The date that the game variant was created. The time component of this date is\n  // always set to \"00:00:00\". This is expressed as an ISO 8601 combined Date and Time.\n  \"CreationTimeUtc\": {\n\n    \"ISO8601Date\": \"string\"\n  },\n\n  // The date that the game variant was last modified. The time component of this date is\n  // always set to \"00:00:00\". This is expressed as an ISO 8601 combined Date and Time.\n  \"LastModifiedTimeUtc\": {\n\n    \"ISO8601Date\": \"string\"\n  },\n\n  // A flag indicating whether this file has been banned or not.\n  \"Banned\": \"boolean\",\n\n  // The identity of the game variant.\n  \"Identity\": {\n\n    // The resource type. 2 inidicates game variant.\n    \"ResourceType\": 2,\n\n    // The ID of the game varaint.\n    \"ResourceId\": \"guid\",\n\n    // The source of the game variant. will always be 1 (user generated).\n    \"OwnerType\": 1,\n\n    // The gamertag of the user that created the game variant.\n    \"Owner\": \"string\"\n  },\n\n  // The set of aggregate statistics associated with this game variant.\n  \"Stats\": {\n\n    // The current number of active bookmarks on this game variant.\n    \"BookmarkCount\": \"int\",\n\n    // Internal use only. This will always be false.\n    \"HasCallerBookmarked\": false\n  }\n}\n"
            }
          },
          "400": {
            "description": "Specified Gamertag is malformed or the Game Variant ID is malformed."
          },
          "404": {
            "description": "The player does not exist or the Game Variant does not exist in the provided Player's file share."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Halo 5 - Player Game Variant"
      }
    },
    "/h5/players/{player}/mapvariants": {
      "get": {
        "description": "<p>Retrieves a list Map Variants created by a Player.</p>\n<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"List Map Variants\" to \"Halo 5 - Player Map Variants\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>August 5, 2016:</strong></p>\n    <ul>\n        <li>Added Endpoint.</li>\n    </ul>\n</div>\n",
        "operationId": "58acde292109180bdcacc40f",
        "parameters": [
          {
            "description": "The Gamertag of the Player that owns the listed Map Variants.",
            "in": "path",
            "name": "player",
            "required": true,
            "type": "string"
          },
          {
            "description": "When specified, this indicates the starting index (0-based) for which the list of results will begin at.",
            "in": "query",
            "name": "start",
            "type": "number"
          },
          {
            "description": "When specified, this indicates the maximum quantity of items the caller would like returned in the response.",
            "in": "query",
            "name": "count",
            "type": "number"
          },
          {
            "description": "When specified, this indicates what field should be used to sort the results as the primary sort order. When omitted, \"modified\" (descending) is the assumed primary sort order. Allowed sort fields are: name, description, accessibility, created, modified, bookmarkCount.",
            "in": "query",
            "name": "sort",
            "type": "number"
          },
          {
            "description": "When specified, this indicates the ordering that will be applied. When omitted, \"desc\" is assumed. Allowed order values are: asc, desc.",
            "in": "query",
            "name": "order",
            "type": "number"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain a list of the Player-created Map Variants.",
            "examples": {
              "application/json": "{\n  // A list of map variants owned by the requested player.\n  \"Results\": [\n    {\n      // The base map on which this variant is created from.\n      \"BaseMap\": {\n\n        // The resource type. 9 indicates base map.\n        \"ResourceType\": 9,\n\n        // The ID of the base map.\n        \"ResourceId\": \"guid\",\n\n        // The source of the base map variant. will always be 3 (Official) for the BasMap.\n        \"OwnerType\": \"int\",\n\n        // The gamertag of the user that created the base game variant if this is a\n        // user-generated game variant, or null otherwise.\n        \"Owner\": \"string\"\n      },\n\n      // The name of the map variant.\n      \"Name\": \"string\",\n\n      // The description of the map variant.\n      \"Description\": \"string\",\n\n      // Indicates the restrictions for access that apply to the game variant. possible\n      // values are:\n      //   Listed (game variant will show up in search results) = 0,\n      //   Unlisted (game variant won't show up in search results) = 1,\n      //   Unknown = 2.\n      \"AccessControl\": \"int\",\n\n      // Internal use only.\n      \"Links\": \"links\",\n\n      // The date that the map variant was created. The time component of this date is\n      // always set to \"00:00:00\". This is expressed as an ISO 8601 combined Date and\n      // Time.\n      \"CreationTimeUtc\": {\n\n        \"ISO8601Date\": \"string\"\n      },\n\n      // The date that the map variant was last modified. The time component of this date\n      // is always set to \"00:00:00\". This is expressed as an ISO 8601 combined Date and\n      // Time.\n      \"LastModifiedTimeUtc\": {\n\n        \"ISO8601Date\": \"string\"\n      },\n\n      // A flag indicating whether this file has been banned or not.\n      \"Banned\": \"boolean\",\n\n      // The identity of the map variant.\n      \"Identity\": {\n\n        // The resource type. 3 inidicates map variant.\n        \"ResourceType\": 3,\n\n        // The ID of the map varaint.\n        \"ResourceId\": \"guid\",\n\n        // The source of the map variant. will always be 1 (user generated).\n        \"OwnerType\": 1,\n\n        // The gamertag of the user that created the game variant.\n        \"Owner\": \"string\"\n      },\n\n      // The set of aggregate statistics associated with this map variant.\n      \"Stats\": {\n\n        // The current number of active bookmarks on this map variant.\n        \"BookmarkCount\": \"int\",\n\n        // Internal use only. This will always be false.\n        \"HasCallerBookmarked\": false\n      }\n    }\n  ],\n\n  // The starting point that was used. When the \"start\" query string parameter is\n  // specified, this value is identical. When \"start\" is omitted, the default value is\n  // returned.\n  \"Start\": \"int\",\n\n  // The number of results that the service attempted to retrieve to satisfy this\n  // request. Normally this value is equal to the \"count\" parameter. If the client\n  // specified a count parameter greater than the maximum allowed, this value contains\n  // the maximum allowed amount.\n  \"Count\": \"int\",\n\n  // The number of results that are actually being returned in this response. This field\n  // is named \"ResultCount\" to avoid confusion with \"Count\".\n  \"ResultCount\": \"int\",\n\n  // Total number of items of the requested type.\n  \"TotalCount\": \"int\",\n\n  // Internal use only.\n  \"Links\": \"links\"\n}\n"
            }
          },
          "400": {
            "description": "Specified Gamertag is malformed."
          },
          "404": {
            "description": "The Player does not exist."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Halo 5 - Player Map Variants"
      }
    },
    "/h5/players/{player}/mapvariants/{variant}": {
      "get": {
        "description": "<p>Retrieves Metadata about a Player-created Map Variant.</p>\n<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Get Map Variant\" to \"Halo 5 - Player Map Variant\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>August 5, 2016:</strong></p>\n    <ul>\n        <li>Added Endpoint.</li>\n    </ul>\n</div>\n",
        "operationId": "58acde292109180bdcacc40e",
        "parameters": [
          {
            "description": "The Gamertag of the Player that owns the Map Variant.",
            "in": "path",
            "name": "player",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID for the Map Variant.",
            "in": "path",
            "name": "variant",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the Metadata for the Player-created Map Variant.",
            "examples": {
              "application/json": "{\n  // A list of map variants owned by the requested player.\n  \"Results\": [\n    {\n      // The base map on which this variant is created from.\n      \"BaseMap\": {\n\n        // The resource type. 9 indicates base map.\n        \"ResourceType\": 9,\n\n        // The ID of the base map.\n        \"ResourceId\": \"guid\",\n\n        // The source of the base map variant. will always be 3 (Official) for the BasMap.\n        \"OwnerType\": \"int\",\n\n        // The gamertag of the user that created the base game variant if this is a\n        // user-generated game variant, or null otherwise.\n        \"Owner\": \"string\"\n      },\n\n      // The name of the map variant.\n      \"Name\": \"string\",\n\n      // The description of the map variant.\n      \"Description\": \"string\",\n\n      // Indicates the restrictions for access that apply to the game variant. possible\n      // values are:\n      //   Listed (game variant will show up in search results) = 0,\n      //   Unlisted (game variant won't show up in search results) = 1,\n      //   Unknown = 2.\n      \"AccessControl\": \"int\",\n\n      // Internal use only.\n      \"Links\": \"links\",\n\n      // The date that the map variant was created. The time component of this date is\n      // always set to \"00:00:00\". This is expressed as an ISO 8601 combined Date and\n      // Time.\n      \"CreationTimeUtc\": {\n\n        \"ISO8601Date\": \"string\"\n      },\n\n      // The date that the map variant was last modified. The time component of this date\n      // is always set to \"00:00:00\". This is expressed as an ISO 8601 combined Date and\n      // Time.\n      \"LastModifiedTimeUtc\": {\n\n        \"ISO8601Date\": \"string\"\n      },\n\n      // A flag indicating whether this file has been banned or not.\n      \"Banned\": \"boolean\",\n\n      // The identity of the map variant.\n      \"Identity\": {\n\n        // The resource type. 3 inidicates map variant.\n        \"ResourceType\": 3,\n\n        // The ID of the map varaint.\n        \"ResourceId\": \"guid\",\n\n        // The source of the map variant. will always be 1 (user generated).\n        \"OwnerType\": 1,\n\n        // The gamertag of the user that created the game variant.\n        \"Owner\": \"string\"\n      },\n\n      // The set of aggregate statistics associated with this map variant.\n      \"Stats\": {\n\n        // The current number of active bookmarks on this map variant.\n        \"BookmarkCount\": \"int\",\n\n        // Internal use only. This will always be false.\n        \"HasCallerBookmarked\": false\n      }\n    }\n  ],\n\n  // The starting point that was used. When the \"start\" query string parameter is\n  // specified, this value is identical. When \"start\" is omitted, the default value is\n  // returned.\n  \"Start\": \"int\",\n\n  // The number of results that the service attempted to retrieve to satisfy this\n  // request. Normally this value is equal to the \"count\" parameter. If the client\n  // specified a count parameter greater than the maximum allowed, this value contains\n  // the maximum allowed amount.\n  \"Count\": \"int\",\n\n  // The number of results that are actually being returned in this response. This field\n  // is named \"ResultCount\" to avoid confusion with \"Count\".\n  \"ResultCount\": \"int\",\n\n  // Total number of items of the requested type.\n  \"TotalCount\": \"int\",\n\n  // Internal use only.\n  \"Links\": \"links\"\n}\n"
            }
          },
          "400": {
            "description": "Specified Gamertag is malformed or the Map Variant ID is malformed."
          },
          "404": {
            "description": "The Player does not exist or the Map Variant does not exist in the provided Player's file share."
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "summary": "Halo 5 - Player Map Variant"
      }
    }
  }
}