{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://api.fungenerators.com"
    },
    {
      "url": "https://api.fungenerators.com"
    }
  ],
  "info": {
    "contact": {
      "name": "Fun Generators",
      "url": "http://fungenerators.com/api/pirate/"
    },
    "description": "Ahoy matey! We help the landlubbers to get to know about the seamen way! You can generate pirate names, get some real pirate insults and pirate filler text. Oh you can translate to pirate lingo as well. [Click here to subscribe](http://fungenerators.com/api/pirate/) \n",
    "termsOfService": "https://fungenerators.com/terms",
    "title": "Pirates API",
    "version": "1.5",
    "x-apisguru-categories": [
      "text"
    ],
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://fungenerators.com/yaml/pirate.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "fungenerators.com",
    "x-serviceName": "pirate",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    }
  },
  "tags": [
    {
      "description": "Generate names, insults, lorem ipsum etc",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://fungenerators.com/api/pirate/"
      },
      "name": "Generation"
    },
    {
      "description": "Translate to pirate lingo",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://fungenerators.com/api/pirate/"
      },
      "name": "Translation"
    }
  ],
  "paths": {
    "/pirate/generate/insult": {
      "get": {
        "description": "Generate random pirate insults.",
        "parameters": [
          {
            "description": "No of insults to generate",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 5,\n    \"limit\": 5\n  },\n  \"contents\": {\n    \"taunts\": [\n      \"It's all great fun 'til somebody loses an eye! ye swashbucklin' deck-swabbing Orlop!\",\n      \"Go pose in front o' the mirror some more plait bearded dung munchin Duffle!\",\n      \"Kill my parrot will ye? I'm gonna knot yer legs together ye  loot-stealing narwhal-smelling bat-spit!\",\n      \"Welcome to PAIN TIME with a Pirate! Starring YOU! ye squiffy deck-swabbing bilge rat!\",\n      \"Blow it out yer bilge! ye rat-eating grog-drinking Jolly Roger!\"\n    ]\n  },\n  \"copyright\": \"https://fungenerators.com/\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}                    "
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Generation"
        ]
      }
    },
    "/pirate/generate/lorem-ipsum": {
      "get": {
        "description": "Generate pirate lorem ipsum.",
        "parameters": [
          {
            "description": "Type of element to generate `paragraphs/sentences/words`.",
            "in": "query",
            "name": "type",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "No of elements to generate",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 4,\n    \"limit\": 4\n  },\n  \"contents\": {\n    \"lorem-ipsum\": \"[\\\"Wanna shiver me timbers? \\\\u201cI\\\\u2019ve got a jar of dirt! I\\\\u2019ve got a jar of dirt, and guess what\\\\u2019s inside it?\\\\u201d \\\\u201cWhy is the rum always gone?\\\\u201d \\\\u201cYes, I do heartily repent. I repent I had not done more mischief; and that we did not cut the throats of them that took us, and I am extremely sorry that you aren\\\\u2019t hanged as well as we. \\\\u201d It is when pirates count their booty that they become mere thieves. Arrrrrrrr Piracy \\\\u2013 Hostile take over.\\\",\\\"Avast, me proud beauty! Wanna know why my Roger is so Jolly?  Ya know, darlin\\\\u2019, I\\\\u2019m 97 percent chum free Wanna shiver me timbers? Give me freedom or give me the rope. For I shall not take the shackles that subjugate the poor to uphold the rich. \\\\u201cYes, I do heartily repent. I repent I had not done more mischief; and that we did not cut the throats of them that took us, and I am extremely sorry that you aren\\\\u2019t hanged as well as we. \\\\u201d But I am touched by y\\\\u2019loyalty mate. Piracy \\\\u2013 Hostile take over.\\\",\\\"How\\\\u2019d you like to scrape the barnacles off of me rudder? That\\\\u2019s the finest pirate booty I\\\\u2019ve ever laid eyes on. C\\\\u2019mon, lad, shiver me timbers! To err is human but to arr is pirate!!\\\",\\\"Yes, that is a hornpipe in my pocket and I am happy to see you. Aye, I guarantee ye, I\\\\u2019ve had a twenty percent decrease in me \\\\u201clice ratio!\\\\u201d Why is the rum gone? Drink up me hearties yoho \\\\u2026a pirates life for me Where there is a sea there are pirates. \\\\u201cYes, I do heartily repent. I repent I had not done more mischief; and that we did not cut the throats of them that took us, and I am extremely sorry that you aren\\\\u2019t hanged as well as we. \\\\u201d\\\"]\"\n  },\n  \"copyright\": \"https://fungenerators.com/\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}                    "
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Generation"
        ]
      }
    },
    "/pirate/generate/name": {
      "get": {
        "description": "Generate random pirate names.",
        "parameters": [
          {
            "description": "Variation to generate `male/female`.",
            "in": "query",
            "name": "variation",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          },
          {
            "description": "No of names to generate",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 5,\n    \"start\": 0,\n    \"limit\": 5\n  },\n  \"contents\": {\n    \"variation\": \"male\",\n    \"names\": [\n      \"Mabry 'Devil's Smile' Hades\",\n      \"Rae 'The Wrath' Rakshasas\",\n      \"Thorndike 'Merry' Tyndall\",\n      \"Crofton 'The Lion' Dante\",\n      \"Southwell 'Squealer' Sweete\"\n    ]\n  },\n  \"copyright\": \"https://fungenerators.com/\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Generation"
        ]
      }
    },
    "/pirate/translate": {
      "get": {
        "description": "Translate from English to pirate.",
        "parameters": [
          {
            "description": "Text to translate to pirate lingo.",
            "in": "query",
            "name": "text",
            "required": true,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"contents\": {\n    \"translated\": \"Ahoy matey!  Splice the mainbrace! me dear ol' mum, bless her black soul goes with me t' th' briny deep.\",\n    \"text\": \"Hello sir! my mother goes with me to the ocean.\"\n  },\n  \"copyright\": \"https://fungenerators.com/\"\n}"
                  }
                }
              }
            },
            "description": "200  response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}       "
                  }
                }
              }
            },
            "description": "401  response"
          }
        },
        "security": [
          {
            "X-Fungenerators-Api-Secret": []
          }
        ],
        "tags": [
          "Translation"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "X-Fungenerators-Api-Secret": {
        "in": "header",
        "name": "X-Fungenerators-Api-Secret",
        "type": "apiKey"
      }
    }
  }
}