{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.interzoid.com"
    }
  ],
  "info": {
    "contact": {
      "email": "support@interzoid.com",
      "name": "API Support",
      "url": "https://www.interzoid.com",
      "x-twitter": "interzoid"
    },
    "description": "This API enables you to convert an amount of one currency into another currency using current foreign exchange rates.",
    "license": {
      "name": "Interzoid license",
      "url": "https://www.interzoid.com/license"
    },
    "termsOfService": "https://www.interzoid.com/terms",
    "title": "Interzoid Convert Currency Rate API",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_interzoid_profile_image.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://oas.interzoid.com/api/convertcurrency.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "interzoid.com",
    "x-serviceName": "convertcurrency"
  },
  "externalDocs": {
    "description": "API home page and documentation",
    "url": "https://www.interzoid.com/services/convertcurrency"
  },
  "paths": {
    "/convertcurrency": {
      "get": {
        "description": "Provide an amount in one currency (EUR, GBP, CNY, JPY, AUD, etc.), and also a second currency to convert it to. The API will return the result using current foreign exchange rates. See the API home page for a list of all supported currencies.",
        "operationId": "convertcurrency",
        "parameters": [
          {
            "description": "Your Interzoid license API key. Register at www.interzoid.com/register",
            "in": "query",
            "name": "license",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Currency symbol for the converted from amount",
            "in": "query",
            "name": "from",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Currency symbol for the converted to amount",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The amount of currency to be converted",
            "in": "query",
            "name": "amount",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Code": {
                      "type": "string"
                    },
                    "Converted": {
                      "type": "string"
                    },
                    "Credits": {
                      "type": "string"
                    },
                    "Currency": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Currency rate data to one US DOllar"
          },
          "400": {
            "description": "bad request - insufficient parameters"
          },
          "402": {
            "description": "credits exhausted"
          },
          "403": {
            "description": "invalid license API key"
          },
          "404": {
            "description": "currency symbol not found"
          },
          "405": {
            "description": "method not allowed"
          },
          "500": {
            "description": "internal server error"
          }
        },
        "summary": "Converts amount in one currency to that of another",
        "tags": [
          "Live Currency Rate Conversion"
        ]
      }
    }
  }
}