swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  contact:
    email: aiapi@microsoft.com
    name: AIAPI Team
    url: https://dev.applicationinsights.io/support
  description: This API exposes AI metric & event information and associated metadata
  license:
    name: Microsoft
    url: https://dev.applicationinsights.io/license
  termsOfService: https://dev.applicationinsights.io/tos
  title: Application Insights Data Plane
  version: 2018-04-20
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/data-plane/Microsoft.Insights/preview/2018-04-20/swagger.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: applicationinsights-swagger
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersion:
    description: Client API version.
    in: query
    name: apiVersion
    required: true
    type: string
    x-ms-parameter-location: method
  appId:
    description: ID of the application. This is Application ID from the API Access settings blade in the Azure portal.
    in: path
    name: appId
    required: true
    type: string
    x-ms-parameter-location: method
  applicationName:
    description: Name of the Application Insights application.
    in: path
    name: applicationName
    required: true
    type: string
    x-ms-parameter-location: method
  applicationsParam:
    default: ""
    description: A list of applications over which to query.
    in: query
    name: applications
    required: false
    type: string
    x-ms-parameter-location: method
  eventId:
    description: ID of event.
    in: path
    name: eventId
    required: true
    type: string
    x-ms-parameter-location: method
  eventType:
    description: The type of events to query; either a standard event type (`traces`, `customEvents`, `pageViews`, `requests`, `dependencies`, `exceptions`, `availabilityResults`) or `$all` to query across all event types.
    enum:
      - $all
      - traces
      - customEvents
      - pageViews
      - browserTimings
      - requests
      - dependencies
      - exceptions
      - availabilityResults
      - performanceCounters
      - customMetrics
    in: path
    name: eventType
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: EventType
    x-ms-parameter-location: method
  eventsApply:
    description: An expression used for aggregation over returned events
    in: query
    name: $apply
    type: string
    x-ms-parameter-location: method
  eventsCount:
    description: Request a count of matching items included with the returned events
    in: query
    name: $count
    type: boolean
    x-ms-parameter-location: method
  eventsFilter:
    description: An expression used to filter the returned events
    in: query
    name: $filter
    required: false
    type: string
    x-ms-parameter-location: method
  eventsFormat:
    description: Format for the returned events
    in: query
    name: $format
    type: string
    x-ms-parameter-location: method
  eventsOrderBy:
    description: A comma-separated list of properties with \"asc\" (the default) or \"desc\" to control the order of returned events
    in: query
    name: $orderby
    type: string
    x-ms-parameter-location: method
  eventsSearch:
    description: A free-text search expression to match for whether a particular event should be returned
    in: query
    name: $search
    type: string
    x-ms-parameter-location: method
  eventsSelect:
    description: Limits the properties to just those requested on each returned event
    in: query
    name: $select
    type: string
    x-ms-parameter-location: method
  eventsSkip:
    description: The number of items to skip over before returning events
    format: int32
    in: query
    name: $skip
    type: integer
    x-ms-parameter-location: method
  eventsTimespan:
    description: Optional. The timespan over which to retrieve events. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the Odata expression.
    in: query
    name: timespan
    required: false
    type: string
    x-ms-parameter-location: method
  eventsTop:
    description: The number of events to return
    format: int32
    in: query
    name: $top
    type: integer
    x-ms-parameter-location: method
  metricId:
    description: ID of the metric. This is either a standard AI metric, or an application-specific custom metric.
    enum:
      - requests/count
      - requests/duration
      - requests/failed
      - users/count
      - users/authenticated
      - pageViews/count
      - pageViews/duration
      - client/processingDuration
      - client/receiveDuration
      - client/networkDuration
      - client/sendDuration
      - client/totalDuration
      - dependencies/count
      - dependencies/failed
      - dependencies/duration
      - exceptions/count
      - exceptions/browser
      - exceptions/server
      - sessions/count
      - performanceCounters/requestExecutionTime
      - performanceCounters/requestsPerSecond
      - performanceCounters/requestsInQueue
      - performanceCounters/memoryAvailableBytes
      - performanceCounters/exceptionsPerSecond
      - performanceCounters/processCpuPercentage
      - performanceCounters/processIOBytesPerSecond
      - performanceCounters/processPrivateBytes
      - performanceCounters/processorCpuPercentage
      - availabilityResults/availabilityPercentage
      - availabilityResults/duration
      - billing/telemetryCount
      - customEvents/count
    in: path
    name: metricId
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: MetricId
    x-ms-parameter-location: method
  metricsAggregation:
    collectionFormat: csv
    description: The aggregation to use when computing the metric values. To retrieve more than one aggregation at a time, separate them with a comma. If no aggregation is specified, then the default aggregation for the metric is used.
    in: query
    items:
      enum:
        - min
        - max
        - avg
        - sum
        - count
        - unique
      type: string
      x-ms-enum:
        modelAsString: true
        name: MetricsAggregation
    minItems: 1
    name: aggregation
    type: array
    x-ms-parameter-location: method
  metricsFilter:
    description: An expression used to filter the results.  This value should be a valid OData filter expression where the keys of each clause should be applicable dimensions for the metric you are retrieving.
    in: query
    name: filter
    type: string
    x-ms-parameter-location: method
  metricsInterval:
    description: The time interval to use when retrieving metric values. This is an ISO8601 duration. If interval is omitted, the metric value is aggregated across the entire timespan. If interval is supplied, the server may adjust the interval to a more appropriate size based on the timespan used for the query. In all cases, the actual interval used for the query is included in the response.
    format: duration
    in: query
    name: interval
    type: string
    x-ms-parameter-location: method
  metricsOrderBy:
    description: The aggregation function and direction to sort the segments by.  This value is only valid when segment is specified.
    in: query
    name: orderby
    type: string
    x-ms-parameter-location: method
  metricsPostBody:
    description: The batched metrics query.
    in: body
    name: body
    required: true
    schema:
      $ref: "#/definitions/metricsPostBody"
    x-ms-parameter-location: method
  metricsSegment:
    collectionFormat: csv
    description: The name of the dimension to segment the metric values by. This dimension must be applicable to the metric you are retrieving. To segment by more than one dimension at a time, separate them with a comma (,). In this case, the metric data will be segmented in the order the dimensions are listed in the parameter.
    in: query
    items:
      enum:
        - applicationBuild
        - applicationVersion
        - authenticatedOrAnonymousTraffic
        - browser
        - browserVersion
        - city
        - cloudRoleName
        - cloudServiceName
        - continent
        - countryOrRegion
        - deploymentId
        - deploymentUnit
        - deviceType
        - environment
        - hostingLocation
        - instanceName
      type: string
      x-ms-enum:
        modelAsString: true
        name: MetricsSegment
    minItems: 1
    name: segment
    type: array
    x-ms-parameter-location: method
  metricsTimespan:
    description: The timespan over which to retrieve metric values. This is an ISO8601 time period value. If timespan is omitted, a default time range of `PT12H` ("last 12 hours") is used. The actual timespan that is queried may be adjusted by the server based. In all cases, the actual time span used for the query is included in the response.
    in: query
    name: timespan
    required: false
    type: string
    x-ms-parameter-location: method
  metricsTop:
    description: The number of segments to return.  This value is only valid when segment is specified.
    format: int32
    in: query
    name: top
    type: integer
    x-ms-parameter-location: method
  queryBody:
    description: The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)
    in: body
    name: body
    required: true
    schema:
      $ref: "#/definitions/queryBody"
    x-ms-parameter-location: method
  queryParam:
    description: The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)
    in: query
    name: query
    required: true
    type: string
    x-ms-parameter-location: method
  queryTimespan:
    description: Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.
    in: query
    name: timespan
    required: false
    type: string
    x-ms-parameter-location: method
  resourceGroupName:
    description: The name of the resource group to get. The name is case insensitive.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+$
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Insights/components/{applicationName}/events/$metadata":
    get:
      description: Gets OData EDMX metadata describing the event data model
      operationId: Events_GetOdataMetadata
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/applicationName"
        - $ref: "#/parameters/apiVersion"
      produces:
        - application/xml;charset=utf-8
      responses:
        "200":
          description: Successful response
          schema:
            type: object
        default:
          description: An error response object.
          schema:
            $ref: "#/definitions/errorResponse"
      summary: Get OData metadata
      x-ms-examples:
        eventMetadata:
          description: Gets event metadata
          parameters:
            apiVersion: 2018-04-20
            applicationName: azure-insights
            resourceGroupName: test-rg
            subscriptionId: c512b59c-4005-40e2-b13d-ac29cfb46af4
          responses:
            "200":
              body: <?xml version="1.0" encoding="utf-8"?> <edmx:Edmx Version="4.0" xmlns:edmx="http://docs.oasis-open.org/odata/ns/edmx"> <edmx:DataServices> <Schema Namespace="ApplicationInsights" xmlns="http://docs.oasis-open.org/odata/ns/edm"> <ComplexType Name="TraceCustomDimensionsType" OpenType="True"> <Property Name="AgentSession" Type="Edm.String"/> <Property Name="AgentVersion" Type="Edm.String"/> <Property Name="MachineName" Type="Edm.String"/> <Property Name="RunningMode" Type="Edm.String"/> <Property Name="Source" Type="Edm.String"/> <Property Name="AgentAssemblyVersion" Type="Edm.String"/> <Property Name="AgentProcessSession" Type="Edm.String"/> <Property Name="HashedMachineName" Type="Edm.String"/> <Property Name="DataCube" Type="Edm.String"/> <Property Name="DeveloperMode" Type="Edm.String"/> </ComplexType> <ComplexType Name="TraceCustomMeasurementsType" OpenType="True"> <Property Name="AgentSession" Type="Edm.String"/> <Property Name="AgentVersion" Type="Edm.String"/> <Property Name="MachineName" Type="Edm.String"/> <Property Name="RunningMode" Type="Edm.String"/> <Property Name="Source" Type="Edm.String"/> <Property Name="AgentAssemblyVersion" Type="Edm.String"/> <Property Name="AgentProcessSession" Type="Edm.String"/> <Property Name="HashedMachineName" Type="Edm.String"/> <Property Name="DataCube" Type="Edm.String"/> <Property Name="DeveloperMode" Type="Edm.String"/> </ComplexType> <ComplexType Name="RequestCustomDimensionsType" OpenType="True"> <Property Name="_MS.ProcessedByMetricExtractors" Type="Edm.String"/> <Property Name="DeveloperMode" Type="Edm.String"/> </ComplexType> <ComplexType Name="RequestCustomMeasurementsType" OpenType="True"> <Property Name="_MS.ProcessedByMetricExtractors" Type="Edm.String"/> <Property Name="DeveloperMode" Type="Edm.String"/> </ComplexType> <ComplexType Name="PageViewCustomDimensionsType" OpenType="True"> <Property Name="IbizaSessionId" Type="Edm.String"/> <Property Name="PartInstance" Type="Edm.String"/> </ComplexType> <ComplexType Name="PageViewCustomMeasurementsType" OpenType="True"> <Property Name="IbizaSessionId" Type="Edm.String"/> <Property Name="PartInstance" Type="Edm.String"/> </ComplexType> <ComplexType Name="DependencyCustomDimensionsType" OpenType="True"> <Property Name="Container" Type="Edm.String"/> <Property Name="_MS.ProcessedByMetricExtractors" Type="Edm.String"/> <Property Name="Blob" Type="Edm.String"/> <Property Name="ErrorMessage" Type="Edm.String"/> <Property Name="DeveloperMode" Type="Edm.String"/> <Property Name="IbizaSessionId" Type="Edm.String"/> <Property Name="PartInstance" Type="Edm.String"/> </ComplexType> <ComplexType Name="DependencyCustomMeasurementsType" OpenType="True"> <Property Name="Container" Type="Edm.String"/> <Property Name="_MS.ProcessedByMetricExtractors" Type="Edm.String"/> <Property Name="Blob" Type="Edm.String"/> <Property Name="ErrorMessage" Type="Edm.String"/> <Property Name="DeveloperMode" Type="Edm.String"/> <Property Name="IbizaSessionId" Type="Edm.String"/> <Property Name="PartInstance" Type="Edm.String"/> </ComplexType> <ComplexType Name="CustomEventCustomDimensionsType" OpenType="True"> <Property Name="ServiceProfilerContent" Type="Edm.String"/> <Property Name="ServiceProfilerVersion" Type="Edm.String"/> <Property Name="DeveloperMode" Type="Edm.String"/> <Property Name="RequestId" Type="Edm.String"/> <Property Name="EventName" Type="Edm.String"/> <Property Name="Page Title" Type="Edm.String"/> <Property Name="ExecutingAssemblyFileVersion" Type="Edm.String"/> <Property Name="ProcessId" Type="Edm.String"/> <Property Name="RunningSession" Type="Edm.String"/> <Property Name="ProblemId" Type="Edm.String"/> <Property Name="SnapshotContext" Type="Edm.String"/> <Property Name="SnapshotVersion" Type="Edm.String"/> <Property Name="Duration" Type="Edm.String"/> <Property Name="SnapshotId" Type="Edm.String"/> <Property Name="StampId" Type="Edm.String"/> <Property Name="DeOptimizationId" Type="Edm.String"/> <Property Name="Method" Type="Edm.String"/> <Property Name="parentProcessId" Type="Edm.String"/> <Property Name="Section" Type="Edm.String"/> <Property Name="Configuration" Type="Edm.String"/> <Property Name="dumpFolder" Type="Edm.String"/> <Property Name="Reason" Type="Edm.String"/> <Property Name="ExtensionVersion" Type="Edm.String"/> <Property Name="SiteName" Type="Edm.String"/> </ComplexType> <ComplexType Name="CustomEventCustomMeasurementsType" OpenType="True"> <Property Name="ServiceProfilerContent" Type="Edm.String"/> <Property Name="ServiceProfilerVersion" Type="Edm.String"/> <Property Name="DeveloperMode" Type="Edm.String"/> <Property Name="RequestId" Type="Edm.String"/> <Property Name="EventName" Type="Edm.String"/> <Property Name="Page Title" Type="Edm.String"/> <Property Name="ExecutingAssemblyFileVersion" Type="Edm.String"/> <Property Name="ProcessId" Type="Edm.String"/> <Property Name="RunningSession" Type="Edm.String"/> <Property Name="ProblemId" Type="Edm.String"/> <Property Name="SnapshotContext" Type="Edm.String"/> <Property Name="SnapshotVersion" Type="Edm.String"/> <Property Name="Duration" Type="Edm.String"/> <Property Name="SnapshotId" Type="Edm.String"/> <Property Name="StampId" Type="Edm.String"/> <Property Name="DeOptimizationId" Type="Edm.String"/> <Property Name="Method" Type="Edm.String"/> <Property Name="parentProcessId" Type="Edm.String"/> <Property Name="Section" Type="Edm.String"/> <Property Name="Configuration" Type="Edm.String"/> <Property Name="dumpFolder" Type="Edm.String"/> <Property Name="Reason" Type="Edm.String"/> <Property Name="ExtensionVersion" Type="Edm.String"/> <Property Name="SiteName" Type="Edm.String"/> </ComplexType> <ComplexType Name="AvailabilityResultCustomDimensionsType" OpenType="True"> <Property Name="FullTestResultAvailable" Type="Edm.String"/> </ComplexType> <ComplexType Name="AvailabilityResultCustomMeasurementsType" OpenType="True"> <Property Name="FullTestResultAvailable" Type="Edm.String"/> </ComplexType> <ComplexType Name="ExceptionCustomDimensionsType" OpenType="True"> <Property Name="url" Type="Edm.String"/> <Property Name="ai.snapshot.stampid" Type="Edm.String"/> <Property Name="ai.snapshot.id" Type="Edm.String"/> <Property Name="ai.snapshot.version" Type="Edm.String"/> <Property Name="DeveloperMode" Type="Edm.String"/> <Property Name="IbizaSessionId" Type="Edm.String"/> <Property Name="PartInstance" Type="Edm.String"/> <Property Name="ai.snapshot.planid" Type="Edm.String"/> <Property Name="_MS.Example" Type="Edm.String"/> <Property Name="_MS.ProcessedByMetricExtractors" Type="Edm.String"/> </ComplexType> <ComplexType Name="ExceptionCustomMeasurementsType" OpenType="True"> <Property Name="url" Type="Edm.String"/> <Property Name="ai.snapshot.stampid" Type="Edm.String"/> <Property Name="ai.snapshot.id" Type="Edm.String"/> <Property Name="ai.snapshot.version" Type="Edm.String"/> <Property Name="DeveloperMode" Type="Edm.String"/> <Property Name="IbizaSessionId" Type="Edm.String"/> <Property Name="PartInstance" Type="Edm.String"/> <Property Name="ai.snapshot.planid" Type="Edm.String"/> <Property Name="_MS.Example" Type="Edm.String"/> <Property Name="_MS.ProcessedByMetricExtractors" Type="Edm.String"/> </ComplexType> <ComplexType Name="BrowserTimingCustomDimensionsType" OpenType="True"/> <ComplexType Name="BrowserTimingCustomMeasurementsType" OpenType="True"/> <ComplexType Name="TraceType"> <Property Name="message" Type="Edm.String"/> <Property Name="severityLevel" Type="Edm.Double"/> </ComplexType> <ComplexType Name="OperationType"> <Property Name="name" Type="Edm.String"/> <Property Name="id" Type="Edm.String"/> <Property Name="parentId" Type="Edm.String"/> <Property Name="syntheticSource" Type="Edm.String"/> </ComplexType> <ComplexType Name="SessionType"> <Property Name="id" Type="Edm.String"/> </ComplexType> <ComplexType Name="UserType"> <Property Name="id" Type="Edm.String"/> <Property Name="authenticatedId" Type="Edm.String"/> <Property Name="accountId" Type="Edm.String"/> </ComplexType> <ComplexType Name="ApplicationType"> <Property Name="version" Type="Edm.String"/> </ComplexType> <ComplexType Name="ClientType"> <Property Name="type" Type="Edm.String"/> <Property Name="model" Type="Edm.String"/> <Property Name="os" Type="Edm.String"/> <Property Name="ip" Type="Edm.String"/> <Property Name="city" Type="Edm.String"/> <Property Name="stateOrProvince" Type="Edm.String"/> <Property Name="countryOrRegion" Type="Edm.String"/> <Property Name="browser" Type="Edm.String"/> </ComplexType> <ComplexType Name="CloudType"> <Property Name="roleName" Type="Edm.String"/> <Property Name="roleInstance" Type="Edm.String"/> </ComplexType> <ComplexType Name="AiType"> <Property Name="appId" Type="Edm.String"/> <Property Name="appName" Type="Edm.String"/> <Property Name="iKey" Type="Edm.String"/> <Property Name="sdkVersion" Type="Edm.String"/> </ComplexType> <ComplexType Name="RequestType"> <Property Name="id" Type="Edm.String"/> <Property Name="source" Type="Edm.String"/> <Property Name="name" Type="Edm.String"/> <Property Name="url" Type="Edm.String"/> <Property Name="success" Type="Edm.String"/> <Property Name="resultCode" Type="Edm.String"/> <Property Name="duration" Type="Edm.Double"/> <Property Name="performanceBucket" Type="Edm.String"/> </ComplexType> <ComplexType Name="PageViewType"> <Property Name="name" Type="Edm.String"/> <Property Name="url" Type="Edm.String"/> <Property Name="duration" Type="Edm.Double"/> <Property Name="performanceBucket" Type="Edm.String"/> </ComplexType> <ComplexType Name="DependencyType"> <Property Name="id" Type="Edm.String"/> <Property Name="target" Type="Edm.String"/> <Property Name="type" Type="Edm.String"/> <Property Name="name" Type="Edm.String"/> <Property Name="data" Type="Edm.String"/> <Property Name="success" Type="Edm.String"/> <Property Name="resultCode" Type="Edm.String"/> <Property Name="duration" Type="Edm.Double"/> <Property Name="performanceBucket" Type="Edm.String"/> </ComplexType> <ComplexType Name="CustomEventType"> <Property Name="name" Type="Edm.String"/> </ComplexType> <ComplexType Name="AvailabilityResultType"> <Property Name="id" Type="Edm.String"/> <Property Name="name" Type="Edm.String"/> <Property Name="location" Type="Edm.String"/> <Property Name="success" Type="Edm.String"/> <Property Name="message" Type="Edm.String"/> <Property Name="size" Type="Edm.Double"/> <Property Name="duration" Type="Edm.Double"/> <Property Name="performanceBucket" Type="Edm.String"/> </ComplexType> <ComplexType Name="ExceptionType"> <Property Name="problemId" Type="Edm.String"/> <Property Name="handledAt" Type="Edm.String"/> <Property Name="type" Type="Edm.String"/> <Property Name="message" Type="Edm.String"/> <Property Name="assembly" Type="Edm.String"/> <Property Name="method" Type="Edm.String"/> <Property Name="outerType" Type="Edm.String"/> <Property Name="outerMessage" Type="Edm.String"/> <Property Name="outerAssembly" Type="Edm.String"/> <Property Name="outerMethod" Type="Edm.String"/> <Property Name="innermostType" Type="Edm.String"/> <Property Name="innermostMessage" Type="Edm.String"/> <Property Name="innermostAssembly" Type="Edm.String"/> <Property Name="innermostMethod" Type="Edm.String"/> <Property Name="severityLevel" Type="Edm.Double"/> <Property Name="details" Type="Edm.String"/> </ComplexType> <ComplexType Name="BrowserTimingType"> <Property Name="name" Type="Edm.String"/> <Property Name="url" Type="Edm.String"/> <Property Name="networkDuration" Type="Edm.Double"/> <Property Name="sendDuration" Type="Edm.Double"/> <Property Name="receiveDuration" Type="Edm.Double"/> <Property Name="processingDuration" Type="Edm.Double"/> <Property Name="totalDuration" Type="Edm.Double"/> <Property Name="performanceBucket" Type="Edm.String"/> </ComplexType> <EntityType  Name="Trace"> <Key> <PropertyRef Name="id"/> </Key> <Property Name="timestamp" Type="Edm.DateTimeOffset"/> <Property Name="id" Type="Edm.String" Nullable="false"/> <Property Name="type" Type="Edm.String"/> <Property Name="count" Type="Edm.Double"/> <Property Name="customDimensions" Type="ApplicationInsights.TraceCustomDimensionsType"/> <Property Name="customMeasurements" Type="ApplicationInsights.TraceCustomMeasurementsType"/> <Property Name="trace" Type="ApplicationInsights.TraceType"/> <Property Name="operation" Type="ApplicationInsights.OperationType"/> <Property Name="session" Type="ApplicationInsights.SessionType"/> <Property Name="user" Type="ApplicationInsights.UserType"/> <Property Name="application" Type="ApplicationInsights.ApplicationType"/> <Property Name="client" Type="ApplicationInsights.ClientType"/> <Property Name="cloud" Type="ApplicationInsights.CloudType"/> <Property Name="ai" Type="ApplicationInsights.AiType"/> </EntityType > <EntityType  Name="Request"> <Key> <PropertyRef Name="id"/> </Key> <Property Name="timestamp" Type="Edm.DateTimeOffset"/> <Property Name="id" Type="Edm.String" Nullable="false"/> <Property Name="type" Type="Edm.String"/> <Property Name="count" Type="Edm.Double"/> <Property Name="customDimensions" Type="ApplicationInsights.RequestCustomDimensionsType"/> <Property Name="customMeasurements" Type="ApplicationInsights.RequestCustomMeasurementsType"/> <Property Name="request" Type="ApplicationInsights.RequestType"/> <Property Name="operation" Type="ApplicationInsights.OperationType"/> <Property Name="session" Type="ApplicationInsights.SessionType"/> <Property Name="user" Type="ApplicationInsights.UserType"/> <Property Name="application" Type="ApplicationInsights.ApplicationType"/> <Property Name="client" Type="ApplicationInsights.ClientType"/> <Property Name="cloud" Type="ApplicationInsights.CloudType"/> <Property Name="ai" Type="ApplicationInsights.AiType"/> </EntityType > <EntityType  Name="PageView"> <Key> <PropertyRef Name="id"/> </Key> <Property Name="timestamp" Type="Edm.DateTimeOffset"/> <Property Name="id" Type="Edm.String" Nullable="false"/> <Property Name="type" Type="Edm.String"/> <Property Name="count" Type="Edm.Double"/> <Property Name="customDimensions" Type="ApplicationInsights.PageViewCustomDimensionsType"/> <Property Name="customMeasurements" Type="ApplicationInsights.PageViewCustomMeasurementsType"/> <Property Name="pageView" Type="ApplicationInsights.PageViewType"/> <Property Name="operation" Type="ApplicationInsights.OperationType"/> <Property Name="session" Type="ApplicationInsights.SessionType"/> <Property Name="user" Type="ApplicationInsights.UserType"/> <Property Name="application" Type="ApplicationInsights.ApplicationType"/> <Property Name="client" Type="ApplicationInsights.ClientType"/> <Property Name="cloud" Type="ApplicationInsights.CloudType"/> <Property Name="ai" Type="ApplicationInsights.AiType"/> </EntityType > <EntityType  Name="Dependency"> <Key> <PropertyRef Name="id"/> </Key> <Property Name="timestamp" Type="Edm.DateTimeOffset"/> <Property Name="id" Type="Edm.String" Nullable="false"/> <Property Name="type" Type="Edm.String"/> <Property Name="count" Type="Edm.Double"/> <Property Name="customDimensions" Type="ApplicationInsights.DependencyCustomDimensionsType"/> <Property Name="customMeasurements" Type="ApplicationInsights.DependencyCustomMeasurementsType"/> <Property Name="dependency" Type="ApplicationInsights.DependencyType"/> <Property Name="operation" Type="ApplicationInsights.OperationType"/> <Property Name="session" Type="ApplicationInsights.SessionType"/> <Property Name="user" Type="ApplicationInsights.UserType"/> <Property Name="application" Type="ApplicationInsights.ApplicationType"/> <Property Name="client" Type="ApplicationInsights.ClientType"/> <Property Name="cloud" Type="ApplicationInsights.CloudType"/> <Property Name="ai" Type="ApplicationInsights.AiType"/> </EntityType > <EntityType  Name="CustomEvent"> <Key> <PropertyRef Name="id"/> </Key> <Property Name="timestamp" Type="Edm.DateTimeOffset"/> <Property Name="id" Type="Edm.String" Nullable="false"/> <Property Name="type" Type="Edm.String"/> <Property Name="count" Type="Edm.Double"/> <Property Name="customDimensions" Type="ApplicationInsights.CustomEventCustomDimensionsType"/> <Property Name="customMeasurements" Type="ApplicationInsights.CustomEventCustomMeasurementsType"/> <Property Name="customEvent" Type="ApplicationInsights.CustomEventType"/> <Property Name="operation" Type="ApplicationInsights.OperationType"/> <Property Name="session" Type="ApplicationInsights.SessionType"/> <Property Name="user" Type="ApplicationInsights.UserType"/> <Property Name="application" Type="ApplicationInsights.ApplicationType"/> <Property Name="client" Type="ApplicationInsights.ClientType"/> <Property Name="cloud" Type="ApplicationInsights.CloudType"/> <Property Name="ai" Type="ApplicationInsights.AiType"/> </EntityType > <EntityType  Name="AvailabilityResult"> <Key> <PropertyRef Name="id"/> </Key> <Property Name="timestamp" Type="Edm.DateTimeOffset"/> <Property Name="id" Type="Edm.String" Nullable="false"/> <Property Name="type" Type="Edm.String"/> <Property Name="count" Type="Edm.Double"/> <Property Name="customDimensions" Type="ApplicationInsights.AvailabilityResultCustomDimensionsType"/> <Property Name="customMeasurements" Type="ApplicationInsights.AvailabilityResultCustomMeasurementsType"/> <Property Name="availabilityResult" Type="ApplicationInsights.AvailabilityResultType"/> <Property Name="operation" Type="ApplicationInsights.OperationType"/> <Property Name="session" Type="ApplicationInsights.SessionType"/> <Property Name="user" Type="ApplicationInsights.UserType"/> <Property Name="application" Type="ApplicationInsights.ApplicationType"/> <Property Name="client" Type="ApplicationInsights.ClientType"/> <Property Name="cloud" Type="ApplicationInsights.CloudType"/> <Property Name="ai" Type="ApplicationInsights.AiType"/> </EntityType > <EntityType  Name="Exception"> <Key> <PropertyRef Name="id"/> </Key> <Property Name="timestamp" Type="Edm.DateTimeOffset"/> <Property Name="id" Type="Edm.String" Nullable="false"/> <Property Name="type" Type="Edm.String"/> <Property Name="count" Type="Edm.Double"/> <Property Name="customDimensions" Type="ApplicationInsights.ExceptionCustomDimensionsType"/> <Property Name="customMeasurements" Type="ApplicationInsights.ExceptionCustomMeasurementsType"/> <Property Name="exception" Type="ApplicationInsights.ExceptionType"/> <Property Name="operation" Type="ApplicationInsights.OperationType"/> <Property Name="session" Type="ApplicationInsights.SessionType"/> <Property Name="user" Type="ApplicationInsights.UserType"/> <Property Name="application" Type="ApplicationInsights.ApplicationType"/> <Property Name="client" Type="ApplicationInsights.ClientType"/> <Property Name="cloud" Type="ApplicationInsights.CloudType"/> <Property Name="ai" Type="ApplicationInsights.AiType"/> </EntityType > <EntityType  Name="BrowserTiming"> <Key> <PropertyRef Name="id"/> </Key> <Property Name="timestamp" Type="Edm.DateTimeOffset"/> <Property Name="id" Type="Edm.String" Nullable="false"/> <Property Name="type" Type="Edm.String"/> <Property Name="count" Type="Edm.Double"/> <Property Name="customDimensions" Type="ApplicationInsights.BrowserTimingCustomDimensionsType"/> <Property Name="customMeasurements" Type="ApplicationInsights.BrowserTimingCustomMeasurementsType"/> <Property Name="browserTiming" Type="ApplicationInsights.BrowserTimingType"/> <Property Name="operation" Type="ApplicationInsights.OperationType"/> <Property Name="session" Type="ApplicationInsights.SessionType"/> <Property Name="user" Type="ApplicationInsights.UserType"/> <Property Name="application" Type="ApplicationInsights.ApplicationType"/> <Property Name="client" Type="ApplicationInsights.ClientType"/> <Property Name="cloud" Type="ApplicationInsights.CloudType"/> <Property Name="ai" Type="ApplicationInsights.AiType"/> </EntityType > </Schema> <Schema Namespace="Default" xmlns="http://docs.oasis-open.org/odata/ns/edm"> <EntityContainer Name="Container"> <EntitySet Name="traces" EntityType="ApplicationInsights.Trace"/> <EntitySet Name="requests" EntityType="ApplicationInsights.Request"/> <EntitySet Name="pageViews" EntityType="ApplicationInsights.PageView"/> <EntitySet Name="dependencies" EntityType="ApplicationInsights.Dependency"/> <EntitySet Name="customEvents" EntityType="ApplicationInsights.CustomEvent"/> <EntitySet Name="availabilityResults" EntityType="ApplicationInsights.AvailabilityResult"/> <EntitySet Name="exceptions" EntityType="ApplicationInsights.Exception"/> <EntitySet Name="browserTimings" EntityType="ApplicationInsights.BrowserTiming"/> </EntityContainer> </Schema> </edmx:DataServices> </edmx:Edmx>
              headers:
                content-type: application/xml;charset=utf-8
          title: Get Events Metadata
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Insights/components/{applicationName}/events/{eventType}":
    get:
      description: Executes an OData query for events
      operationId: Events_GetByType
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/applicationName"
        - $ref: "#/parameters/eventType"
        - $ref: "#/parameters/eventsTimespan"
        - $ref: "#/parameters/eventsFilter"
        - $ref: "#/parameters/eventsSearch"
        - $ref: "#/parameters/eventsOrderBy"
        - $ref: "#/parameters/eventsSelect"
        - $ref: "#/parameters/eventsSkip"
        - $ref: "#/parameters/eventsTop"
        - $ref: "#/parameters/eventsFormat"
        - $ref: "#/parameters/eventsCount"
        - $ref: "#/parameters/eventsApply"
        - $ref: "#/parameters/apiVersion"
      responses:
        "200":
          description: Successful response
          schema:
            $ref: "#/definitions/eventsResults"
        default:
          description: An error response object.
          schema:
            $ref: "#/definitions/errorResponse"
      summary: Execute OData query
      x-ms-examples:
        eventByType:
          description: Gets events of a specific type
          parameters:
            apiVersion: 2018-04-20
            applicationName: azure-insights
            event-top: 5
            eventType: traces
            resourceGroupName: test-rg
            subscriptionId: c512b59c-4005-40e2-b13d-ac29cfb46af4
          responses:
            "200":
              body:
                "@ai.messages":
                  - code: AddedLimitToQuery
                    message: The query was limited to last 12 hours, since no other limit for timestamp field was specified
                "@odata.context": https://api.applicationinsights.io/v1/apps/DEMO_APP/events/$metadata#traces
                value:
                  - ai:
                      appId: cf58dcfd-0683-487c-bc84-048789bca8e5
                      appName: fabrikamprod
                      iKey: 5a2e4e0c-e136-4a15-9824-90ba859b0a89
                      sdkVersion: sd:2.4.1-442
                    application:
                      version: ""
                    client:
                      browser: null
                      city: London
                      countryOrRegion: United Kingdom
                      ip: 51.140.105.0
                      model: null
                      os: null
                      stateOrProvince: England
                      type: PC
                    cloud:
                      roleInstance: AIConnect2
                      roleName: ""
                    count: 1
                    customDimensions: null
                    customMeasurements: null
                    id: dc76df01-0141-11e8-9894-e3e7c1eeabad
                    operation:
                      id: HPFy1bNlyQ0=
                      name: GET /FabrikamProd/Employees/Create
                      parentId: "|HPFy1bNlyQ0=.c642e1f1_"
                      syntheticSource: Application Insights Availability Monitoring
                    session:
                      id: 97915c9e-2ba3-4258-82f5-84233de21127
                    timestamp: 2018-01-24T20:04:32.243Z
                    trace:
                      message: New Request Received
                      severityLevel: 0
                    type: trace
                    user:
                      accountId: null
                      authenticatedId: null
                      id: emea-ru-msa-edge_97915c9e-2ba3-4258-82f5-84233de21127
                  - ai:
                      appId: cf58dcfd-0683-487c-bc84-048789bca8e5
                      appName: fabrikamprod
                      iKey: 5a2e4e0c-e136-4a15-9824-90ba859b0a89
                      sdkVersion: sd:2.4.1-442
                    application:
                      version: ""
                    client:
                      browser: null
                      city: Des Moines
                      countryOrRegion: United States
                      ip: 52.173.244.0
                      model: null
                      os: null
                      stateOrProvince: Iowa
                      type: PC
                    cloud:
                      roleInstance: AIConnect2
                      roleName: ""
                    count: 1
                    customDimensions: null
                    customMeasurements: null
                    id: ca54b09b-0141-11e8-8c76-4de3c2c29f12
                    operation:
                      id: fYhtYFzAYv4=
                      name: GET /FabrikamProd/Employees/Create
                      parentId: "|fYhtYFzAYv4=.c642e1f0_"
                      syntheticSource: Application Insights Availability Monitoring
                    session:
                      id: e0aca036-2ef0-4c41-adb9-5875625901ee
                    timestamp: 2018-01-24T20:04:22.799Z
                    trace:
                      message: New Request Received
                      severityLevel: 0
                    type: trace
                    user:
                      accountId: null
                      authenticatedId: null
                      id: us-fl-mia-edge_e0aca036-2ef0-4c41-adb9-5875625901ee
                  - ai:
                      appId: cf58dcfd-0683-487c-bc84-048789bca8e5
                      appName: fabrikamprod
                      iKey: 5a2e4e0c-e136-4a15-9824-90ba859b0a89
                      sdkVersion: sd:2.4.1-442
                    application:
                      version: AutoGen_49c3aea0-4641-4675-93b5-55f7a62d22d3
                    client:
                      browser: null
                      city: Hong Kong
                      countryOrRegion: Hong Kong
                      ip: 52.175.39.0
                      model: null
                      os: null
                      stateOrProvince: Central and Western District
                      type: PC
                    cloud:
                      roleInstance: RD00155D467E8D
                      roleName: fabrikamfiberapp
                    count: 1
                    customDimensions: null
                    customMeasurements: null
                    id: caf07b61-0141-11e8-bb21-bb0d564a046f
                    operation:
                      id: EfIqgW6eLWQ=
                      name: GET /
                      parentId: "|EfIqgW6eLWQ=.1eb73a79_"
                      syntheticSource: Application Insights Availability Monitoring
                    session:
                      id: 323ab959-4c64-4de4-95e9-04334fbd7749
                    timestamp: 2018-01-24T20:04:02.106Z
                    trace:
                      message: New Request Received
                      severityLevel: 0
                    type: trace
                    user:
                      accountId: null
                      authenticatedId: null
                      id: apac-hk-hkn-azr_323ab959-4c64-4de4-95e9-04334fbd7749
                  - ai:
                      appId: cf58dcfd-0683-487c-bc84-048789bca8e5
                      appName: fabrikamprod
                      iKey: 5a2e4e0c-e136-4a15-9824-90ba859b0a89
                      sdkVersion: sd:2.4.1-442
                    application:
                      version: AutoGen_49c3aea0-4641-4675-93b5-55f7a62d22d3
                    client:
                      browser: null
                      city: Chicago
                      countryOrRegion: United States
                      ip: 52.237.156.0
                      model: null
                      os: null
                      stateOrProvince: Illinois
                      type: PC
                    cloud:
                      roleInstance: RD00155D467E8D
                      roleName: fabrikamfiberapp
                    count: 1
                    customDimensions: null
                    customMeasurements: null
                    id: b8599222-0141-11e8-99cf-07437267f251
                    operation:
                      id: 7j5dSPYFB5A=
                      name: GET /
                      parentId: "|7j5dSPYFB5A=.1eb73a78_"
                      syntheticSource: Application Insights Availability Monitoring
                    session:
                      id: b82a2630-5598-4291-a3db-976117f07490
                    timestamp: 2018-01-24T20:03:55.554Z
                    trace:
                      message: New Request Received
                      severityLevel: 0
                    type: trace
                    user:
                      accountId: null
                      authenticatedId: null
                      id: us-il-ch1-azr_b82a2630-5598-4291-a3db-976117f07490
                  - ai:
                      appId: cf58dcfd-0683-487c-bc84-048789bca8e5
                      appName: fabrikamprod
                      iKey: 5a2e4e0c-e136-4a15-9824-90ba859b0a89
                      sdkVersion: sd:2.4.1-442
                    application:
                      version: AutoGen_49c3aea0-4641-4675-93b5-55f7a62d22d3
                    client:
                      browser: null
                      city: London
                      countryOrRegion: United Kingdom
                      ip: 51.140.79.0
                      model: null
                      os: null
                      stateOrProvince: England
                      type: PC
                    cloud:
                      roleInstance: RD00155D467E8D
                      roleName: fabrikamfiberapp
                    count: 1
                    customDimensions: null
                    customMeasurements: null
                    id: b8599221-0141-11e8-99cf-07437267f251
                    operation:
                      id: xoAJ+fhhQQE=
                      name: GET /
                      parentId: "|xoAJ+fhhQQE=.1eb73a77_"
                      syntheticSource: Application Insights Availability Monitoring
                    session:
                      id: b2066202-e8cd-47de-8c4c-d4d55f3653a4
                    timestamp: 2018-01-24T20:03:37.437Z
                    trace:
                      message: New Request Received
                      severityLevel: 0
                    type: trace
                    user:
                      accountId: null
                      authenticatedId: null
                      id: emea-ru-msa-edge_b2066202-e8cd-47de-8c4c-d4d55f3653a4
          title: Get Events By Type
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Insights/components/{applicationName}/events/{eventType}/{eventId}":
    get:
      description: Gets the data for a single event
      operationId: Events_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/applicationName"
        - $ref: "#/parameters/eventType"
        - $ref: "#/parameters/eventsTimespan"
        - $ref: "#/parameters/eventId"
        - $ref: "#/parameters/apiVersion"
      responses:
        "200":
          description: Successful response
          schema:
            $ref: "#/definitions/eventsResults"
        default:
          description: An error response object.
          schema:
            $ref: "#/definitions/errorResponse"
      summary: Get an event
      x-ms-examples:
        eventById:
          description: Gets a specific event by type and id.
          parameters:
            apiVersion: 2018-04-20
            applicationName: azure-insights
            eventId: dc76df01-0141-11e8-9894-e3e7c1eeabad
            eventType: traces
            resourceGroupName: test-rg
            subscriptionId: c512b59c-4005-40e2-b13d-ac29cfb46af4
          responses:
            "200":
              body:
                "@odata.context": https://api.applicationinsights.io/v1/apps/DEMO_APP/events/traces/$metadata#traces
                value:
                  - ai:
                      appId: cf58dcfd-0683-487c-bc84-048789bca8e5
                      appName: fabrikamprod
                      iKey: 5a2e4e0c-e136-4a15-9824-90ba859b0a89
                      sdkVersion: sd:2.4.1-442
                    application:
                      version: null
                    client:
                      browser: null
                      city: London
                      countryOrRegion: United Kingdom
                      ip: 51.140.105.0
                      model: null
                      os: null
                      stateOrProvince: England
                      type: PC
                    cloud:
                      roleInstance: AIConnect2
                      roleName: null
                    count: 1
                    customDimensions: null
                    customMeasurements: null
                    id: dc76df01-0141-11e8-9894-e3e7c1eeabad
                    operation:
                      id: HPFy1bNlyQ0=
                      name: GET /FabrikamProd/Employees/Create
                      parentId: "|HPFy1bNlyQ0=.c642e1f1_"
                      syntheticSource: Application Insights Availability Monitoring
                    session:
                      id: 97915c9e-2ba3-4258-82f5-84233de21127
                    timestamp: 2018-01-24T20:04:32.243Z
                    trace:
                      message: New Request Received
                      severityLevel: 0
                    type: trace
                    user:
                      accountId: null
                      authenticatedId: null
                      id: emea-ru-msa-edge_97915c9e-2ba3-4258-82f5-84233de21127
          title: Get A Specific Events By Type & ID
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Insights/components/{applicationName}/metrics/metadata":
    get:
      description: Gets metadata describing the available metrics
      operationId: Metrics_GetMetadata
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/applicationName"
        - $ref: "#/parameters/apiVersion"
      responses:
        "200":
          description: Successful responses
          schema:
            type: object
        default:
          description: An error response object.
          schema:
            $ref: "#/definitions/errorResponse"
      summary: Retrieve metric metadata
      x-ms-examples:
        metricMetadata:
          description: Gets metadata data for metrics.
          parameters:
            apiVersion: 2018-04-20
            applicationName: azure-insights
            resourceGroupName: test-rg
            subscriptionId: c512b59c-4005-40e2-b13d-ac29cfb46af4
          responses:
            "200":
              body:
                dimensions:
                  application/version:
                    displayName: Application version
                  availabilityResult/location:
                    displayName: Run location
                  availabilityResult/name:
                    displayName: Test name
                  availabilityResult/success:
                    displayName: Test result
                  billing/telemetryItemSource:
                    displayName: Telemetry item source
                  billing/telemetryItemType:
                    displayName: Telemetry item type
                  browserTiming/name:
                    displayName: Name
                  browserTiming/performanceBucket:
                    displayName: Performance Bucket
                  browserTiming/urlHost:
                    displayName: Url host
                  browserTiming/urlPath:
                    displayName: Url path
                  client/browser:
                    displayName: Browser version
                  client/city:
                    displayName: City
                  client/countryOrRegion:
                    displayName: Country or region
                  client/model:
                    displayName: Device model
                  client/os:
                    displayName: Operating system
                  client/stateOrProvince:
                    displayName: State or province
                  client/type:
                    displayName: Device type
                  cloud/roleInstance:
                    displayName: Cloud role instance
                  cloud/roleName:
                    displayName: Cloud role name
                  customDimensions/AgentAssemblyVersion:
                    displayName: AgentAssemblyVersion
                  customDimensions/AgentProcessSession:
                    displayName: AgentProcessSession
                  customDimensions/AgentSession:
                    displayName: AgentSession
                  customDimensions/AgentVersion:
                    displayName: AgentVersion
                  customDimensions/Blob:
                    displayName: Blob
                  customDimensions/Configuration:
                    displayName: Configuration
                  customDimensions/Container:
                    displayName: Container
                  customDimensions/CounterInstanceName:
                    displayName: CounterInstanceName
                  customDimensions/CustomPerfCounter:
                    displayName: CustomPerfCounter
                  customDimensions/DataCube:
                    displayName: DataCube
                  customDimensions/DeOptimizationId:
                    displayName: DeOptimizationId
                  customDimensions/Dependency.Success:
                    displayName: Dependency.Success
                  customDimensions/Dependency.Type:
                    displayName: Dependency.Type
                  customDimensions/DeveloperMode:
                    displayName: DeveloperMode
                  customDimensions/Duration:
                    displayName: Duration
                  customDimensions/ErrorMessage:
                    displayName: ErrorMessage
                  customDimensions/EventName:
                    displayName: EventName
                  customDimensions/ExecutingAssemblyFileVersion:
                    displayName: ExecutingAssemblyFileVersion
                  customDimensions/ExtensionVersion:
                    displayName: ExtensionVersion
                  customDimensions/FullTestResultAvailable:
                    displayName: FullTestResultAvailable
                  customDimensions/HashedMachineName:
                    displayName: HashedMachineName
                  customDimensions/IbizaSessionId:
                    displayName: IbizaSessionId
                  customDimensions/MachineName:
                    displayName: MachineName
                  customDimensions/Method:
                    displayName: Method
                  customDimensions/Page Title:
                    displayName: Page Title
                  customDimensions/PartInstance:
                    displayName: PartInstance
                  customDimensions/ProblemId:
                    displayName: ProblemId
                  customDimensions/ProcessId:
                    displayName: ProcessId
                  customDimensions/Reason:
                    displayName: Reason
                  customDimensions/Request.Success:
                    displayName: Request.Success
                  customDimensions/RequestId:
                    displayName: RequestId
                  customDimensions/RunningMode:
                    displayName: RunningMode
                  customDimensions/RunningSession:
                    displayName: RunningSession
                  customDimensions/SA_OriginAppId:
                    displayName: SA_OriginAppId
                  customDimensions/Section:
                    displayName: Section
                  customDimensions/ServiceProfilerContent:
                    displayName: ServiceProfilerContent
                  customDimensions/ServiceProfilerVersion:
                    displayName: ServiceProfilerVersion
                  customDimensions/SiteName:
                    displayName: SiteName
                  customDimensions/SnapshotContext:
                    displayName: SnapshotContext
                  customDimensions/SnapshotId:
                    displayName: SnapshotId
                  customDimensions/SnapshotVersion:
                    displayName: SnapshotVersion
                  customDimensions/Source:
                    displayName: Source
                  customDimensions/StampId:
                    displayName: StampId
                  customDimensions/_MS.AggregationIntervalMs:
                    displayName: _MS.AggregationIntervalMs
                  customDimensions/_MS.Example:
                    displayName: _MS.Example
                  customDimensions/_MS.IsAutocollected:
                    displayName: _MS.IsAutocollected
                  customDimensions/_MS.MetricId:
                    displayName: _MS.MetricId
                  customDimensions/_MS.ProcessedByMetricExtractors:
                    displayName: _MS.ProcessedByMetricExtractors
                  customDimensions/ai.snapshot.id:
                    displayName: ai.snapshot.id
                  customDimensions/ai.snapshot.planid:
                    displayName: ai.snapshot.planid
                  customDimensions/ai.snapshot.stampid:
                    displayName: ai.snapshot.stampid
                  customDimensions/ai.snapshot.version:
                    displayName: ai.snapshot.version
                  customDimensions/baseSdkTargetFramework:
                    displayName: baseSdkTargetFramework
                  customDimensions/dumpFolder:
                    displayName: dumpFolder
                  customDimensions/operationName:
                    displayName: operationName
                  customDimensions/parentProcessId:
                    displayName: parentProcessId
                  customDimensions/problemId:
                    displayName: problemId
                  customDimensions/runtimeFramework:
                    displayName: runtimeFramework
                  customDimensions/url:
                    displayName: url
                  customEvent/name:
                    displayName: Event name
                  dependency/name:
                    displayName: Remote dependency name
                  dependency/performanceBucket:
                    displayName: Performance
                  dependency/resultCode:
                    displayName: Result code
                  dependency/success:
                    displayName: Dependency call status
                  dependency/target:
                    displayName: Base name
                  dependency/type:
                    displayName: Dependency type
                  exception/assembly:
                    displayName: Assembly
                  exception/handledAt:
                    displayName: Handled at
                  exception/method:
                    displayName: Failed method
                  exception/problemId:
                    displayName: Problem Id
                  exception/severityLevel:
                    displayName: Severity level
                  exception/type:
                    displayName: Exception type
                  operation/name:
                    displayName: Operation name
                  operation/synthetic:
                    displayName: Real or synthetic traffic
                  operation/syntheticSource:
                    displayName: Source of synthetic traffic
                  pageView/name:
                    displayName: View page name
                  pageView/performanceBucket:
                    displayName: Performance
                  pageView/urlHost:
                    displayName: Page view URL host
                  pageView/urlPath:
                    displayName: Page view URL path
                  performanceCounter/category:
                    displayName: Category name
                  performanceCounter/counter:
                    displayName: Counter
                  performanceCounter/instance:
                    displayName: Instance name
                  performanceCounter/name:
                    displayName: Name
                  request/name:
                    displayName: Request name
                  request/performanceBucket:
                    displayName: Performance
                  request/resultCode:
                    displayName: Response code
                  request/source:
                    displayName: Request source
                  request/success:
                    displayName: Successful request
                  request/urlHost:
                    displayName: Request URL host
                  request/urlPath:
                    displayName: Request URL path
                  trace/severityLevel:
                    displayName: Severity level
                  type:
                    displayName: Telemetry type
                  user/authenticated:
                    displayName: Authenticated user
                metrics:
                  availabilityResults/availabilityPercentage:
                    defaultAggregation: avg
                    displayName: Availability
                    supportedAggregations:
                      - avg
                      - count
                    supportedGroupBy:
                      all:
                        - availabilityResult/name
                        - availabilityResult/location
                        - availabilityResult/success
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/FullTestResultAvailable
                    units: percent
                  availabilityResults/count:
                    defaultAggregation: sum
                    displayName: Availability test results count
                    supportedAggregations:
                      - sum
                    supportedGroupBy:
                      all:
                        - availabilityResult/name
                        - availabilityResult/location
                        - availabilityResult/success
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/FullTestResultAvailable
                  availabilityResults/duration:
                    defaultAggregation: avg
                    displayName: Test duration
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                    supportedGroupBy:
                      all:
                        - availabilityResult/name
                        - availabilityResult/location
                        - availabilityResult/success
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/FullTestResultAvailable
                    units: ms
                  billingMeters/telemetryCount:
                    defaultAggregation: sum
                    displayName: Data point count
                    supportedAggregations:
                      - sum
                    supportedGroupBy:
                      all:
                        - billing/telemetryItemSource
                        - billing/telemetryItemType
                  billingMeters/telemetrySize:
                    defaultAggregation: sum
                    displayName: Data point volume
                    supportedAggregations:
                      - sum
                    supportedGroupBy:
                      all:
                        - billing/telemetryItemSource
                        - billing/telemetryItemType
                    units: bytes
                  browserTimings/networkDuration:
                    defaultAggregation: avg
                    displayName: Page load network connect time
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                    supportedGroupBy:
                      all:
                        - browserTiming/name
                        - browserTiming/urlHost
                        - browserTiming/urlPath
                        - browserTiming/performanceBucket
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/IbizaSessionId
                        - customDimensions/PartInstance
                    units: ms
                  browserTimings/processingDuration:
                    defaultAggregation: avg
                    displayName: Client processing time
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                    supportedGroupBy:
                      all:
                        - browserTiming/name
                        - browserTiming/urlHost
                        - browserTiming/urlPath
                        - browserTiming/performanceBucket
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/IbizaSessionId
                        - customDimensions/PartInstance
                    units: ms
                  browserTimings/receiveDuration:
                    defaultAggregation: avg
                    displayName: Receiving response time
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                    supportedGroupBy:
                      all:
                        - browserTiming/name
                        - browserTiming/urlHost
                        - browserTiming/urlPath
                        - browserTiming/performanceBucket
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/IbizaSessionId
                        - customDimensions/PartInstance
                    units: ms
                  browserTimings/sendDuration:
                    defaultAggregation: avg
                    displayName: Send request time
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                    supportedGroupBy:
                      all:
                        - browserTiming/name
                        - browserTiming/urlHost
                        - browserTiming/urlPath
                        - browserTiming/performanceBucket
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/IbizaSessionId
                        - customDimensions/PartInstance
                    units: ms
                  browserTimings/totalDuration:
                    defaultAggregation: avg
                    displayName: Browser page load time
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                    supportedGroupBy:
                      all:
                        - browserTiming/name
                        - browserTiming/urlHost
                        - browserTiming/urlPath
                        - browserTiming/performanceBucket
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/IbizaSessionId
                        - customDimensions/PartInstance
                    units: ms
                  customEvents/count:
                    defaultAggregation: sum
                    displayName: Events
                    supportedAggregations:
                      - sum
                    supportedGroupBy:
                      all:
                        - customEvent/name
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/EventName
                        - customDimensions/Page Title
                        - customDimensions/ServiceProfilerContent
                        - customDimensions/ExecutingAssemblyFileVersion
                        - customDimensions/ServiceProfilerVersion
                        - customDimensions/DeveloperMode
                        - customDimensions/ProcessId
                        - customDimensions/RequestId
                        - customDimensions/RunningSession
                        - customDimensions/ProblemId
                        - customDimensions/SnapshotContext
                        - customDimensions/SnapshotVersion
                        - customDimensions/Duration
                        - customDimensions/SnapshotId
                        - customDimensions/StampId
                        - customDimensions/DeOptimizationId
                        - customDimensions/Method
                        - customDimensions/parentProcessId
                        - customDimensions/Section
                        - customDimensions/Configuration
                        - customDimensions/dumpFolder
                        - customDimensions/Reason
                        - customDimensions/ExtensionVersion
                        - customDimensions/SiteName
                  customEvents/custom/Completion Time:
                    defaultAggregation: avg
                    displayName: Completion Time
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                      - unique
                    supportedGroupBy:
                      all:
                        - customEvent/name
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/EventName
                        - customDimensions/Page Title
                        - customDimensions/ServiceProfilerContent
                        - customDimensions/ExecutingAssemblyFileVersion
                        - customDimensions/ServiceProfilerVersion
                        - customDimensions/DeveloperMode
                        - customDimensions/ProcessId
                        - customDimensions/RequestId
                        - customDimensions/RunningSession
                        - customDimensions/ProblemId
                        - customDimensions/SnapshotContext
                        - customDimensions/SnapshotVersion
                        - customDimensions/Duration
                        - customDimensions/SnapshotId
                        - customDimensions/StampId
                        - customDimensions/DeOptimizationId
                        - customDimensions/Method
                        - customDimensions/parentProcessId
                        - customDimensions/Section
                        - customDimensions/Configuration
                        - customDimensions/dumpFolder
                        - customDimensions/Reason
                        - customDimensions/ExtensionVersion
                        - customDimensions/SiteName
                  customEvents/custom/DurationInSeconds:
                    defaultAggregation: avg
                    displayName: DurationInSeconds
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                      - unique
                    supportedGroupBy:
                      all:
                        - customEvent/name
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/EventName
                        - customDimensions/Page Title
                        - customDimensions/ServiceProfilerContent
                        - customDimensions/ExecutingAssemblyFileVersion
                        - customDimensions/ServiceProfilerVersion
                        - customDimensions/DeveloperMode
                        - customDimensions/ProcessId
                        - customDimensions/RequestId
                        - customDimensions/RunningSession
                        - customDimensions/ProblemId
                        - customDimensions/SnapshotContext
                        - customDimensions/SnapshotVersion
                        - customDimensions/Duration
                        - customDimensions/SnapshotId
                        - customDimensions/StampId
                        - customDimensions/DeOptimizationId
                        - customDimensions/Method
                        - customDimensions/parentProcessId
                        - customDimensions/Section
                        - customDimensions/Configuration
                        - customDimensions/dumpFolder
                        - customDimensions/Reason
                        - customDimensions/ExtensionVersion
                        - customDimensions/SiteName
                  customEvents/custom/ProcessPagedMemoryInMB:
                    defaultAggregation: avg
                    displayName: ProcessPagedMemoryInMB
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                      - unique
                    supportedGroupBy:
                      all:
                        - customEvent/name
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/EventName
                        - customDimensions/Page Title
                        - customDimensions/ServiceProfilerContent
                        - customDimensions/ExecutingAssemblyFileVersion
                        - customDimensions/ServiceProfilerVersion
                        - customDimensions/DeveloperMode
                        - customDimensions/ProcessId
                        - customDimensions/RequestId
                        - customDimensions/RunningSession
                        - customDimensions/ProblemId
                        - customDimensions/SnapshotContext
                        - customDimensions/SnapshotVersion
                        - customDimensions/Duration
                        - customDimensions/SnapshotId
                        - customDimensions/StampId
                        - customDimensions/DeOptimizationId
                        - customDimensions/Method
                        - customDimensions/parentProcessId
                        - customDimensions/Section
                        - customDimensions/Configuration
                        - customDimensions/dumpFolder
                        - customDimensions/Reason
                        - customDimensions/ExtensionVersion
                        - customDimensions/SiteName
                  customEvents/custom/ProcessWorkingSetInMB:
                    defaultAggregation: avg
                    displayName: ProcessWorkingSetInMB
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                      - unique
                    supportedGroupBy:
                      all:
                        - customEvent/name
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/EventName
                        - customDimensions/Page Title
                        - customDimensions/ServiceProfilerContent
                        - customDimensions/ExecutingAssemblyFileVersion
                        - customDimensions/ServiceProfilerVersion
                        - customDimensions/DeveloperMode
                        - customDimensions/ProcessId
                        - customDimensions/RequestId
                        - customDimensions/RunningSession
                        - customDimensions/ProblemId
                        - customDimensions/SnapshotContext
                        - customDimensions/SnapshotVersion
                        - customDimensions/Duration
                        - customDimensions/SnapshotId
                        - customDimensions/StampId
                        - customDimensions/DeOptimizationId
                        - customDimensions/Method
                        - customDimensions/parentProcessId
                        - customDimensions/Section
                        - customDimensions/Configuration
                        - customDimensions/dumpFolder
                        - customDimensions/Reason
                        - customDimensions/ExtensionVersion
                        - customDimensions/SiteName
                  customEvents/custom/sizeInMB:
                    defaultAggregation: avg
                    displayName: sizeInMB
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                      - unique
                    supportedGroupBy:
                      all:
                        - customEvent/name
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/EventName
                        - customDimensions/Page Title
                        - customDimensions/ServiceProfilerContent
                        - customDimensions/ExecutingAssemblyFileVersion
                        - customDimensions/ServiceProfilerVersion
                        - customDimensions/DeveloperMode
                        - customDimensions/ProcessId
                        - customDimensions/RequestId
                        - customDimensions/RunningSession
                        - customDimensions/ProblemId
                        - customDimensions/SnapshotContext
                        - customDimensions/SnapshotVersion
                        - customDimensions/Duration
                        - customDimensions/SnapshotId
                        - customDimensions/StampId
                        - customDimensions/DeOptimizationId
                        - customDimensions/Method
                        - customDimensions/parentProcessId
                        - customDimensions/Section
                        - customDimensions/Configuration
                        - customDimensions/dumpFolder
                        - customDimensions/Reason
                        - customDimensions/ExtensionVersion
                        - customDimensions/SiteName
                  customMetrics/AvgResponseTime:
                    defaultAggregation: avg
                    displayName: AvgResponseTime
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                      - unique
                    supportedGroupBy:
                      all:
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/SA_OriginAppId
                        - customDimensions/baseSdkTargetFramework
                        - customDimensions/runtimeFramework
                        - customDimensions/DeveloperMode
                        - customDimensions/_MS.AggregationIntervalMs
                        - customDimensions/problemId
                        - customDimensions/operationName
                        - customDimensions/Request.Success
                        - customDimensions/_MS.MetricId
                        - customDimensions/Dependency.Success
                        - customDimensions/_MS.IsAutocollected
                        - customDimensions/Dependency.Type
                  customMetrics/AzureBlobSuccessRate:
                    defaultAggregation: avg
                    displayName: AzureBlobSuccessRate
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                      - unique
                    supportedGroupBy:
                      all:
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/SA_OriginAppId
                        - customDimensions/baseSdkTargetFramework
                        - customDimensions/runtimeFramework
                        - customDimensions/DeveloperMode
                        - customDimensions/_MS.AggregationIntervalMs
                        - customDimensions/problemId
                        - customDimensions/operationName
                        - customDimensions/Request.Success
                        - customDimensions/_MS.MetricId
                        - customDimensions/Dependency.Success
                        - customDimensions/_MS.IsAutocollected
                        - customDimensions/Dependency.Type
                  customMetrics/AzureDependencyFailureRate5Min:
                    defaultAggregation: avg
                    displayName: AzureDependencyFailureRate5Min
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                      - unique
                    supportedGroupBy:
                      all:
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/SA_OriginAppId
                        - customDimensions/baseSdkTargetFramework
                        - customDimensions/runtimeFramework
                        - customDimensions/DeveloperMode
                        - customDimensions/_MS.AggregationIntervalMs
                        - customDimensions/problemId
                        - customDimensions/operationName
                        - customDimensions/Request.Success
                        - customDimensions/_MS.MetricId
                        - customDimensions/Dependency.Success
                        - customDimensions/_MS.IsAutocollected
                        - customDimensions/Dependency.Type
                  customMetrics/Blah:
                    defaultAggregation: avg
                    displayName: Blah
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                      - unique
                    supportedGroupBy:
                      all:
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/SA_OriginAppId
                        - customDimensions/baseSdkTargetFramework
                        - customDimensions/runtimeFramework
                        - customDimensions/DeveloperMode
                        - customDimensions/_MS.AggregationIntervalMs
                        - customDimensions/problemId
                        - customDimensions/operationName
                        - customDimensions/Request.Success
                        - customDimensions/_MS.MetricId
                        - customDimensions/Dependency.Success
                        - customDimensions/_MS.IsAutocollected
                        - customDimensions/Dependency.Type
                  customMetrics/ChrisRequestDuration:
                    defaultAggregation: avg
                    displayName: ChrisRequestDuration
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                      - unique
                    supportedGroupBy:
                      all:
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/SA_OriginAppId
                        - customDimensions/baseSdkTargetFramework
                        - customDimensions/runtimeFramework
                        - customDimensions/DeveloperMode
                        - customDimensions/_MS.AggregationIntervalMs
                        - customDimensions/problemId
                        - customDimensions/operationName
                        - customDimensions/Request.Success
                        - customDimensions/_MS.MetricId
                        - customDimensions/Dependency.Success
                        - customDimensions/_MS.IsAutocollected
                        - customDimensions/Dependency.Type
                  customMetrics/CritFailureRate2:
                    defaultAggregation: avg
                    displayName: CritFailureRate2
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                      - unique
                    supportedGroupBy:
                      all:
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/SA_OriginAppId
                        - customDimensions/baseSdkTargetFramework
                        - customDimensions/runtimeFramework
                        - customDimensions/DeveloperMode
                        - customDimensions/_MS.AggregationIntervalMs
                        - customDimensions/problemId
                        - customDimensions/operationName
                        - customDimensions/Request.Success
                        - customDimensions/_MS.MetricId
                        - customDimensions/Dependency.Success
                        - customDimensions/_MS.IsAutocollected
                        - customDimensions/Dependency.Type
                  customMetrics/CriticalOperationFailureRate:
                    defaultAggregation: avg
                    displayName: CriticalOperationFailureRate
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                      - unique
                    supportedGroupBy:
                      all:
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/SA_OriginAppId
                        - customDimensions/baseSdkTargetFramework
                        - customDimensions/runtimeFramework
                        - customDimensions/DeveloperMode
                        - customDimensions/_MS.AggregationIntervalMs
                        - customDimensions/problemId
                        - customDimensions/operationName
                        - customDimensions/Request.Success
                        - customDimensions/_MS.MetricId
                        - customDimensions/Dependency.Success
                        - customDimensions/_MS.IsAutocollected
                        - customDimensions/Dependency.Type
                  customMetrics/Customer Lead Time:
                    defaultAggregation: avg
                    displayName: Customer Lead Time
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                      - unique
                    supportedGroupBy:
                      all:
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/SA_OriginAppId
                        - customDimensions/baseSdkTargetFramework
                        - customDimensions/runtimeFramework
                        - customDimensions/DeveloperMode
                        - customDimensions/_MS.AggregationIntervalMs
                        - customDimensions/problemId
                        - customDimensions/operationName
                        - customDimensions/Request.Success
                        - customDimensions/_MS.MetricId
                        - customDimensions/Dependency.Success
                        - customDimensions/_MS.IsAutocollected
                        - customDimensions/Dependency.Type
                  customMetrics/Dependency duration:
                    defaultAggregation: avg
                    displayName: Dependency duration
                    supportedAggregations:
                      - avg
                      - min
                      - max
                      - sum
                      - count
                      - unique
                    supportedGroupBy:
                      all:
                        - operation/name
                        - operation/synthetic
                        - operation/syntheticSource
                        - user/authenticated
                        - application/version
                        - client/type
                        - client/model
                        - client/os
                        - client/city
                        - client/stateOrProvince
                        - client/countryOrRegion
                        - client/browser
                        - cloud/roleName
                        - cloud/roleInstance
                        - customDimensions/SA_OriginAppId
                        - customDimensions/baseSdkTargetFramework
                        - customDimensions/runtimeFramework
                        - customDimensions/DeveloperMode
                        - customDimensions/_MS.AggregationIntervalMs
                        - customDimensions/problemId
                        - customDimensions/operationName
                        - customDimensions/Request.Success
                        - customDimensions/_MS.MetricId
                        - customDimensions/Dependency.Success
                        - customDimensions/_MS.IsAutocollected
                        - customDimensions/Dependency.Type
[...]
