swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: CostManagementClient
  version: 2019-03-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cost-management/resource-manager/Microsoft.CostManagement/preview/2019-03-01-preview/costmanagement.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: cost-management-costmanagement
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: Version of the API to be used with the client request. The current version is 2019-03-01-preview
    in: query
    name: api-version
    required: true
    type: string
  billingAccountIdParameter:
    description: BillingAccount ID
    in: path
    name: billingAccountId
    required: true
    type: string
    x-ms-parameter-location: method
  connectorNameParameter:
    description: Connector Name.
    in: path
    name: connectorName
    required: true
    type: string
    x-ms-parameter-location: method
  departmentIdParameter:
    description: Department ID
    in: path
    name: departmentId
    required: true
    type: string
    x-ms-parameter-location: method
  enrollmentAccountIdParameter:
    description: Enrollment Account ID
    in: path
    name: enrollmentAccountId
    required: true
    type: string
    x-ms-parameter-location: method
  externalBillingAccountNameParameter:
    description: External Billing Account Name. (eg 'aws-{PayerAccountId}')
    in: path
    name: externalBillingAccountName
    required: true
    type: string
    x-ms-parameter-location: method
  externalSubscriptionNameParameter:
    description: External Subscription Name. (eg 'aws-{UsageAccountId}')
    in: path
    name: externalSubscriptionName
    required: true
    type: string
    x-ms-parameter-location: method
  managementGroupIdParameter:
    description: ManagementGroup ID
    in: path
    name: managementGroupId
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: Azure Resource Group Name.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ruleNameParameter:
    description: Showback rule name
    in: path
    name: ruleName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Azure Subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/Forecast":
    post:
      description: Forecast the usage data for department.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Forecast_UsageByDepartment
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/departmentIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Forecast
      x-ms-examples:
        DepartmentForecast:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            departmentId: "123"
            parameters:
              dataset:
                filter:
                  and:
                    - or:
                        - dimension:
                            name: SubscriptionName
                            operator: In
                            values:
                              - Azure Dev Subscription
                              - Azure Prod Subscription
                              - Azure PPE Subscription
                        - tag:
                            name: Environment
                            operator: In
                            values:
                              - Dev
                              - PPE
                              - Prod
                    - dimension:
                        name: AccountName
                        operator: In
                        values:
                          - Azure Account
                granularity: Daily
              timePeriod:
                from: 2018-10-01T00:00:00.000Z
                to: 2018-12-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Forecast/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: CostStatus
                          type: String
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Forecast?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - 20181026
                          - Actual
                          - USD
                        - - 20.41179241293923
                          - 20181027
                          - Actual
                          - USD
                        - - 21.35941656262545
                          - 20181028
                          - Actual
                          - USD
                        - - 22.545363672276512
                          - 20181029
                          - Forecast
                          - USD
                        - - 23.41979241290323
                          - 20181030
                          - Forecast
                          - USD
                        - - 24.35941656262545
                          - 20181031
                          - Forecast
                          - USD
                    type: microsoft.costmanagement/Forecast
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/Query":
    post:
      description: Query the usage data for department.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Query_UsageByDepartment
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/departmentIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Query
      x-ms-examples:
        DepartmentQuery:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            departmentId: "123"
            parameters:
              dataset:
                filter:
                  and:
                    - or:
                        - dimension:
                            name: SubscriptionName
                            operator: In
                            values:
                              - Azure Dev Subscription
                              - Azure Prod Subscription
                              - Azure PPE Subscription
                        - tag:
                            name: Environment
                            operator: In
                            values:
                              - Dev
                              - PPE
                              - Prod
                    - dimension:
                        name: AccountName
                        operator: In
                        values:
                          - Azure Account
                granularity: Daily
              timePeriod:
                from: 2018-10-01T00:00:00.000Z
                to: 2018-12-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Query?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - 20181031
                          - USD
                        - - 173.41979241290323
                          - 20181031
                          - USD
                        - - 20.35941656262545
                          - 20181031
                          - USD
                    type: microsoft.costmanagement/Query
        DepartmentQueryGroupingUsage:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            departmentId: "123"
            parameters:
              dataset:
                aggregation:
                  totalCost:
                    function: Sum
                    name: PreTaxCost
                granularity: None
                grouping:
                  - name: AccountName
                    type: Dimension
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: AccountName
                          type: String
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/departments/123/providers/Microsoft.CostManagement/Query?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - Azure Dev Account
                          - USD
                        - - 173.41979241290323
                          - Azure PPE Account
                          - USD
                        - - 20.35941656262545
                          - Azure Prod Account
                          - USD
                    type: microsoft.costmanagement/Query
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}/providers/Microsoft.CostManagement/dimensions":
    get:
      description: Lists the dimensions by Department Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Dimensions_ListByDepartment
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/departmentIdParameter"
        - description: May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          type: string
        - description: May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N dimension data.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/DimensionsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Dimensions
      x-ms-examples:
        DepartmentDimensionsList:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "100"
            departmentId: "123"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31
                    name: dimensions_ResourceGroup_2018-12-01_2018-12-31
                    properties:
                      category: ResourceGroup
                      data: []
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.consumption/dimensions_ResourceType_2018-12-01_2018-12-31
                    name: dimensions_ResourceType_2018-12-01_2018-12-31
                    properties:
                      category: ResourceType
                      data: []
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
        DepartmentDimensionsListExpandAndTop:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2019-03-01-preview
            billingAccountId: "100"
            departmentId: "123"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceGroup
                      data:
                        - thoroetrg01
                        - default-notificationhubs-westus
                        - jedikeyvaultrg
                        - contosocodeflow8d4a
                        - noobaa
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.consumption/dimensions_ResourceType_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceType_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.automation/automationaccounts
                        - microsoft.databricks/workspaces
                        - microsoft.dbformysql/servers
                        - microsoft.containerregistry/registries
                        - microsoft.search/searchservices
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
        DepartmentDimensionsListWithFilter:
          parameters:
            $expand: properties/data
            $filter: properties/category eq 'resourceId'
            $top: 5
            api-version: 2019-03-01-preview
            billingAccountId: "100"
            departmentId: "123"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.consumption/dimensions_ResourceId_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceId_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceId
                      data:
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                        - /subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1
                        - /subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume
                      description: Resource Id
                      filterEnabled: true
                      groupingEnabled: true
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/Microsoft.Consumption/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2019-03-01-preview&$expand=properties/data&$skiptoken=AQAAAA%3D%3D
                      total: 1409
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
      x-ms-odata: "#/definitions/Dimension"
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/Forecast":
    post:
      description: Forecast the usage data for an enrollment account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Forecast_UsageByEnrollmentAccount
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/enrollmentAccountIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Forecast
      x-ms-examples:
        EnrollmentAccountForecast:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            enrollmentAccountId: "456"
            parameters:
              dataset:
                filter:
                  or:
                    - dimension:
                        name: SubscriptionName
                        operator: In
                        values:
                          - Azure Dev Subscription
                          - Azure Prod Subscription
                          - Azure PPE Subscription
                    - tag:
                        name: Environment
                        operator: In
                        values:
                          - Dev
                          - PPE
                          - Prod
                granularity: Daily
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Forecast/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: CostStatus
                          type: String
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Forecast?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 168.54532346722763
                          - 20180826
                          - Actual
                          - USD
                        - - 169.41979241290343
                          - 20180927
                          - Actual
                          - USD
                        - - 170.35941656233845
                          - 20181028
                          - Actual
                          - USD
                        - - 172.54536323427652
                          - 20180829
                          - Forecast
                          - USD
                        - - 173.41979241290323
                          - 20180930
                          - Forecast
                          - USD
                        - - 174.35941656262546
                          - 20181031
                          - Forecast
                          - USD
                    type: microsoft.costmanagement/Forecast
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/Query":
    post:
      description: Query the usage data for an enrollment account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Query_UsageByEnrollmentAccount
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/enrollmentAccountIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Query
      x-ms-examples:
        EnrollmentAccountQuery:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            enrollmentAccountId: "456"
            parameters:
              dataset:
                filter:
                  or:
                    - dimension:
                        name: SubscriptionName
                        operator: In
                        values:
                          - Azure Dev Subscription
                          - Azure Prod Subscription
                          - Azure PPE Subscription
                    - tag:
                        name: Environment
                        operator: In
                        values:
                          - Dev
                          - PPE
                          - Prod
                granularity: Daily
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Query?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - 20180831
                          - USD
                        - - 173.41979241290323
                          - 20180930
                          - USD
                        - - 20.35941656262545
                          - 20181031
                          - USD
                    type: microsoft.costmanagement/Query
        EnrollmentAccountQueryGroupingUsage:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            enrollmentAccountId: "456"
            parameters:
              dataset:
                aggregation:
                  totalCost:
                    function: Sum
                    name: PreTaxCost
                granularity: Daily
                grouping:
                  - name: SubscriptionName
                    type: Dimension
                sorting:
                  - name: UsageDate
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: SubscriptionName
                          type: String
                        - name: UsageDate
                          type: Number
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/enrollmentAccounts/456/providers/Microsoft.CostManagement/Query?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - Azure Dev Subscription
                          - 20180831
                          - USD
                        - - 173.41979241290323
                          - Azure PPE Subscription
                          - 20180930
                          - USD
                        - - 20.35941656262545
                          - Azure Prod Subscription
                          - 20181031
                          - USD
                    type: microsoft.costmanagement/Query
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}/providers/Microsoft.CostManagement/dimensions":
    get:
      description: Lists the dimensions by Enrollment Account Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Dimensions_ListByEnrollmentAccount
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/enrollmentAccountIdParameter"
        - description: May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          type: string
        - description: May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N dimension data.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/DimensionsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Dimensions
      x-ms-examples:
        EnrollmentAccountDimensionsList:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "100"
            enrollmentAccountId: "456"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31
                    name: dimensions_ResourceGroup_2018-12-01_2018-12-31
                    properties:
                      category: ResourceGroup
                      data: []
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.consumption/dimensions_ResourceType_2018-12-01_2018-12-31
                    name: dimensions_ResourceType_2018-12-01_2018-12-31
                    properties:
                      category: ResourceType
                      data: []
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
        EnrollmentAccountDimensionsListExpandAndTop:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2019-03-01-preview
            billingAccountId: "100"
            enrollmentAccountId: "456"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceGroup
                      data:
                        - thoroetrg01
                        - default-notificationhubs-westus
                        - jedikeyvaultrg
                        - contosocodeflow8d4a
                        - noobaa
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.consumption/dimensions_ResourceType_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceType_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.automation/automationaccounts
                        - microsoft.databricks/workspaces
                        - microsoft.dbformysql/servers
                        - microsoft.containerregistry/registries
                        - microsoft.search/searchservices
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
        EnrollmentAccountDimensionsListWithFilter:
          parameters:
            $expand: properties/data
            $filter: properties/category eq 'resourceId'
            $top: 5
            api-version: 2019-03-01-preview
            billingAccountId: "100"
            enrollmentAccountId: "456"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.consumption/dimensions_ResourceId_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceId_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceId
                      data:
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                        - /subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1
                        - /subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume
                      description: Resource Id
                      filterEnabled: true
                      groupingEnabled: true
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/Microsoft.Consumption/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2019-03-01-preview&$expand=properties/data&$skiptoken=AQAAAA%3D%3D
                      total: 1409
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
      x-ms-odata: "#/definitions/Dimension"
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/Forecast":
    post:
      description: Forecast the usage data for billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Forecast_UsageByBillingAccount
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Forecast
      x-ms-examples:
        BillingAccountForecast:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            parameters:
              dataset:
                filter:
                  and:
                    - or:
                        - dimension:
                            name: SubscriptionName
                            operator: In
                            values:
                              - Azure Dev
                              - Azure Prod
                              - Azure PPE
                        - tag:
                            name: Environment
                            operator: In
                            values:
                              - Dev
                              - PPE
                              - Prod
                    - dimension:
                        name: DepartmentName
                        operator: In
                        values:
                          - Azure Dept
                granularity: Daily
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Forecast/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: CostStatus
                          type: String
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Forecast?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - 20180831
                          - Actual
                          - USD
                        - - 20.41979233490323
                          - 20180930
                          - Actual
                          - USD
                        - - 21.322216562625453
                          - 20181031
                          - Actual
                          - USD
                        - - 22.545363672276533
                          - 20180831
                          - Actual
                          - USD
                        - - 23.41979675590323
                          - 20180930
                          - Forecast
                          - USD
                        - - 24.359416562626652
                          - 20181031
                          - Forecast
                          - USD
                    type: microsoft.costmanagement/Forecast
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/Query":
    post:
      description: Query the usage data for billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Query_UsageByBillingAccount
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Query
      x-ms-examples:
        BillingAccountQuery:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            parameters:
              dataset:
                filter:
                  and:
                    - or:
                        - dimension:
                            name: SubscriptionName
                            operator: In
                            values:
                              - Azure Dev
                              - Azure Prod
                              - Azure PPE
                        - tag:
                            name: Environment
                            operator: In
                            values:
                              - Dev
                              - PPE
                              - Prod
                    - dimension:
                        name: DepartmentName
                        operator: In
                        values:
                          - Azure Dept
                granularity: Daily
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - 20180831
                          - USD
                        - - 173.41979241290323
                          - 20180930
                          - USD
                        - - 20.35941656262545
                          - 20181031
                          - USD
                    type: microsoft.costmanagement/Query
        BillingAccountQueryGroupingUsage:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "70664866"
            parameters:
              dataset:
                aggregation:
                  totalCost:
                    function: Sum
                    name: PreTaxCost
                granularity: None
                grouping:
                  - name: SubscriptionName
                    type: Dimension
              timePeriod:
                from: 2018-10-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: SubscriptionName
                          type: String
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/70664866/providers/Microsoft.CostManagement/Query?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.545363672276512
                          - Trial Subscription
                          - USD
                        - - 173.41979241290323
                          - DEV Subscription
                          - USD
                        - - 20.35941656262545
                          - Cost Management Subscrioption
                          - USD
                    type: microsoft.costmanagement/Query
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/dimensions":
    get:
      description: Lists the dimensions by billingAccount Id.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Dimensions_ListByBillingAccount
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - description: May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          type: string
        - description: May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N dimension data.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/DimensionsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Dimensions
      x-ms-examples:
        BillingAccountDimensionsList:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31
                    name: dimensions_ResourceGroup_2018-12-01_2018-12-31
                    properties:
                      category: SubscriptionGuid
                      data: []
                      description: Subscription Guid
                      filterEnabled: true
                      groupingEnabled: true
                      total: 3
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceType_2018-12-01_2018-12-31
                    name: dimensions_ResourceType_2018-12-01_2018-12-31
                    properties:
                      category: Account Name
                      data: []
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
        BillingAccountDimensionsListExpandAndTop:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2019-03-01-preview
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceGroup_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceGroup
                      data:
                        - thoroetrg01
                        - default-notificationhubs-westus
                        - jedikeyvaultrg
                        - contosocodeflow8d4a
                        - noobaa
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceType_2018-12-31_2018-12-31_5
                    name: dimensions_ResourceType_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.automation/automationaccounts
                        - microsoft.databricks/workspaces
                        - microsoft.dbformysql/servers
                        - microsoft.containerregistry/registries
                        - microsoft.search/searchservices
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
        BillingAccountDimensionsListWithFilter:
          parameters:
            $expand: properties/data
            $filter: properties/category eq 'resourceId'
            $top: 5
            api-version: 2019-03-01-preview
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.consumption/dimensions_ResourceId_2018-12-01_2018-12-31_5
                    name: dimensions_ResourceId_2018-12-01_2018-12-31_5
                    properties:
                      category: ResourceId
                      data:
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                        - /subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1
                        - /subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume
                      description: Resource Id
                      filterEnabled: true
                      groupingEnabled: true
                      nextLink: http://management.azure.com/ccmapi/providers/Microsoft.Billing/billingAccounts/100/providers/Microsoft.Consumption/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2019-03-01-preview&$expand=properties/data&$skiptoken=AQAAAA%3D%3D
                      total: 1409
                      usageEnd: 2018-12-31T00:00:00-07:00
                      usageStart: 2018-12-01T00:00:00-07:00
                    type: microsoft.consumption/dimensions
      x-ms-odata: "#/definitions/Dimension"
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/showbackRules":
    get:
      description: Get list all Showback Rules.
      operationId: ShowbackRules_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ShowbackRuleListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ShowbackRules
      x-ms-examples:
        ShowbackRules_List:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "100"
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/Microsoft.CostManagement/showbackRules/testRule
                    name: testRule
                    properties:
                      creationTime: 2019-01-16T09:18:20.8665509Z
                      deprecationTime: 2019-03-16T09:18:20.8665509Z
                      description: This is a testRule
                      details:
                        benefits:
                          - None
                        markups: null
                        pricesheet: Pay-As-You-Go (0003P)
                      modificationTime: 2019-01-17T09:18:20.8665509Z
                      ruleType: CustomPrice
                      scopes: null
                      status: NotActive
                      version: 1
                    type: Microsoft.CostManagement/showbackRules
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/showbackRules/{ruleName}":
    get:
      description: Gets the showback rule by rule name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: ShowbackRule_GetBillingAccountId
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/ruleNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ShowbackRule"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ShowbackRules
      x-ms-examples:
        ShowbackRules:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "100"
            ruleName: testRule
          responses:
            "200":
              body:
                id: providers/Microsoft.Billing/billingAccounts/100/providers/Microsoft.CostManagement/showbackRules/testRule
                name: testRule
                properties:
                  creationTime: 2019-01-16T09:18:20.8665509Z
                  deprecationTime: 2019-03-16T09:18:20.8665509Z
                  description: This is a testRule
                  details:
                    benefits:
                      - None
                    markups: null
                    pricesheet: Pay-As-You-Go (0003P)
                  modificationTime: 2019-01-17T09:18:20.8665509Z
                  ruleType: CustomPrice
                  scopes: null
                  status: NotActive
                  version: 1
                type: Microsoft.CostManagement/showbackRules
    put:
      description: Create/Update showback rule for billing account.
      operationId: ShowbackRule_CreateUpdateRule
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/billingAccountIdParameter"
        - $ref: "#/parameters/ruleNameParameter"
        - description: Showback rule to create or update.
          in: body
          name: showbackRule
          required: true
          schema:
            $ref: "#/definitions/ShowbackRule"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ShowbackRule"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ShowbackRules
      x-ms-examples:
        ShowbackRules:
          parameters:
            api-version: 2019-03-01-preview
            billingAccountId: "100"
            ruleName: testRule
            showbackRule:
              name: demo
              properties:
                description: Welcome to Showback demo
                details:
                  benefits:
                    - None
                  markups:
                    - percentage: "1.1"
                  pricesheet: Pay-As-You-Go (0003P)
                ruleType: CustomPrice
                scopes:
                  - childScope: null
                    id: 292105a9-680d-48cf-bdad-1d023104d69f
                    type: Enrollment
                status: Active
          responses:
            "200":
              body:
                id: providers/Microsoft.Billing/billingAccounts/71824150/providers/Microsoft.CostManagement/showbackRules/demo
                name: demo
                properties:
                  creationTime: 2019-01-16T09:18:20.8665509Z
                  deprecationTime: 2019-03-16T09:18:20.8665509Z
                  description: Welcome to Showback demo
                  details:
                    benefits:
                      - None
                    markups:
                      - percentage: "1.1"
                    pricesheet: Pay-As-You-Go (0003P)
                  modificationTime: 2019-01-17T09:18:20.8665509Z
                  ruleType: CustomPrice
                  scopes: null
                  status: NotActive
                  version: 999
                type: Microsoft.CostManagement/showbackRules
  /providers/Microsoft.CostManagement/cloudConnectors:
    get:
      description: List all cloud connector definitions
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: CloudConnector_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ConnectorDefinitionListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CloudConnectors
      x-ms-examples:
        CloudConnector_List:
          parameters:
            api-version: 2019-03-01-preview
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.CostManagement/cloudConnectors/aws-123456789012
                    kind: aws
                    name: aws-123456789012
                    properties:
                      billingModel: autoUpgrade
                      createdOn: 2018-05-15T13:25:48Z
                      credentialsKey: arn:aws:iam::123456789012:role/AzureCostManagementRole
                      daysTrialRemaining: 62
                      defaultManagementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                      displayName: AWS-Consolidated-1
                      externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                      modifiedOn: 2018-05-23T09:21:11Z
                      providerBillingAccountDisplayName: MyCompany Consolidated
                      providerBillingAccountId: "123456789012"
                      reportId: HourlyWithResources
                      status: active
                      subscriptionId: 22222222-3333-4444-1111-777777777777
                    type: Microsoft.CostManagement/cloudConnectors
                  - id: /providers/Microsoft.CostManagement/cloudConnectors/aws-100000000007
                    kind: aws
                    name: aws-100000000007
                    properties:
                      billingModel: premium
                      createdOn: 2018-06-16T11:23:44Z
                      credentialsKey: arn:aws:iam::100000000007:role/AzureCostManagementRole
                      defaultManagementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                      displayName: AWS-Consolidated-2
                      externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-100000000007
                      modifiedOn: 2018-06-21T17:33:28Z
                      providerBillingAccountId: "100000000007"
                      reportId: CURHourlyWithResources
                      status: active
                      subscriptionId: 22222222-3333-4444-1111-777777777777
                    type: Microsoft.CostManagement/cloudConnectors
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.CostManagement/cloudConnectors/{connectorName}":
    delete:
      description: Delete a cloud connector definition
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: CloudConnector_Delete
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/connectorNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CloudConnectors
      x-ms-examples:
        CloudConnector_Delete:
          parameters:
            api-version: 2019-03-01-preview
            connectorName: aws-123456789012
          responses:
            "200": {}
    get:
      description: Get a cloud connector definition
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: CloudConnector_Get
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/connectorNameParameter"
        - description: May be used to expand the collectionInfo property. By default, collectionInfo is not included.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ConnectorDefinition"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CloudConnectors
      x-ms-examples:
        CloudConnector_Get:
          parameters:
            api-version: 2019-03-01-preview
            connectorName: aws-123456789012
          responses:
            "200":
              body:
                id: /providers/Microsoft.CostManagement/cloudConnectors/aws-123456789012
                kind: aws
                name: aws-123456789012
                properties:
                  billingModel: autoUpgrade
                  createdOn: 2018-05-15T13:25:48Z
                  credentialsKey: arn:aws:iam::123456789012:role/AzureCostManagementRole
                  daysTrialRemaining: 62
                  defaultManagementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                  displayName: AWS-Consolidated-1
                  externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                  modifiedOn: 2018-05-23T09:21:11Z
                  providerBillingAccountDisplayName: MyCompany Consolidated
                  providerBillingAccountId: "123456789012"
                  reportId: HourlyWithResources
                  status: active
                  subscriptionId: 22222222-3333-4444-1111-777777777777
                type: Microsoft.CostManagement/cloudConnectors
        CloudConnector_Get_Expand:
          parameters:
            $expand: collectionInfo
            api-version: 2019-03-01-preview
            connectorName: aws-123456789012
          responses:
            "200":
              body:
                id: /providers/Microsoft.CostManagement/cloudConnectors/aws-123456789012
                kind: aws
                name: aws-123456789012
                properties:
                  billingModel: autoUpgrade
                  collectionInfo:
                    error:
                      errorCode: FailedToAssumeRole
                      errorInnerMessage: Insufficient access to assume role arn:aws:iam::123456789012:role/AzureCostManagementRole
                      errorMessage: Failed to assume role
                      errorStartTime: 2018-06-12T21:41:03Z
                    lastChecked: 2018-06-15T03:21:08Z
                    lastUpdated: 2018-06-12T17:25:28Z
                    sourceLastUpdated: 2018-06-12T16:41:28Z
                  createdOn: 2018-05-15T13:25:48Z
                  credentialsKey: arn:aws:iam::123456789012:role/AzureCostManagementRole
                  daysTrialRemaining: 62
                  defaultManagementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                  displayName: AWS-Consolidated-1
                  externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                  modifiedOn: 2018-05-23T09:21:11Z
                  providerBillingAccountDisplayName: MyCompany Consolidated
                  providerBillingAccountId: "123456789012"
                  reportId: HourlyWithResources
                  status: warning
                  subscriptionId: 22222222-3333-4444-1111-777777777777
                type: Microsoft.CostManagement/cloudConnectors
    patch:
      description: Update a cloud connector definition
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: CloudConnector_Update
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/connectorNameParameter"
        - description: Connector details
          in: body
          name: connector
          required: true
          schema:
            $ref: "#/definitions/ConnectorDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ConnectorDefinition"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CloudConnectors
      x-ms-examples:
        CloudConnector_Update:
          parameters:
            api-version: 2019-03-01-preview
            connector: {}
            connectorName: aws-123456789012
          responses:
            "200":
              body:
                id: /providers/Microsoft.CostManagement/cloudConnectors/aws-123456789012
                kind: aws
                name: aws-123456789012
                properties:
                  billingModel: autoUpgrade
                  createdOn: 2018-05-15T13:25:48Z
                  credentialsKey: arn:aws:iam::123456789012:role/AzureCostManagementRole
                  daysTrialRemaining: 62
                  defaultManagementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                  displayName: AWS-Consolidated-3
                  externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                  modifiedOn: 2018-05-23T09:21:11Z
                  providerBillingAccountId: "123456789012"
                  reportId: HourlyWithResources
                  status: active
                  subscriptionId: 22222222-3333-4444-1111-777777777777
                type: Microsoft.CostManagement/cloudConnectors
    put:
      description: Create or update a cloud connector definition
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: CloudConnector_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/connectorNameParameter"
        - description: Connector details
          in: body
          name: connector
          required: true
          schema:
            $ref: "#/definitions/ConnectorDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ConnectorDefinition"
        "201":
          description: Created.
          schema:
            $ref: "#/definitions/ConnectorDefinition"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - CloudConnectors
      x-ms-examples:
        CloudConnector_Put:
          parameters:
            api-version: 2019-03-01-preview
            connector:
              properties:
                credentialsKey: arn:aws:iam::123456789012:role/AzureCostManagementRole
                credentialsSecret: external-id
                displayName: AWS-Consolidated-1
                reportId: HourlyWithResources
            connectorName: aws-123456789012
          responses:
            "200":
              body:
                id: /providers/Microsoft.CostManagement/cloudConnectors/aws-123456789012
                kind: aws
                name: aws-123456789012
                properties:
                  billingModel: autoUpgrade
                  createdOn: 2018-05-15T13:25:48Z
                  credentialsKey: arn:aws:iam::123456789012:role/AzureCostManagementRole
                  daysTrialRemaining: 62
                  defaultManagementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                  displayName: AWS-Consolidated-1
                  externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                  modifiedOn: 2018-05-23T09:21:11Z
                  providerBillingAccountId: "123456789012"
                  reportId: HourlyWithResources
                  status: active
                  subscriptionId: 22222222-3333-4444-1111-777777777777
                type: Microsoft.CostManagement/cloudConnectors
            "201":
              body:
                id: /providers/Microsoft.CostManagement/cloudConnectors/aws-123456789012
                kind: aws
                name: aws-123456789012
                properties:
                  billingModel: autoUpgrade
                  createdOn: 2018-05-15T13:25:48Z
                  credentialsKey: arn:aws:iam::123456789012:role/AzureCostManagementRole
                  daysTrialRemaining: 62
                  defaultManagementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                  displayName: AWS-Consolidated-1
                  externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                  modifiedOn: 2018-05-23T09:21:11Z
                  providerBillingAccountId: "123456789012"
                  reportId: HourlyWithResources
                  status: active
                  subscriptionId: 22222222-3333-4444-1111-777777777777
                type: Microsoft.CostManagement/cloudConnectors
  /providers/Microsoft.CostManagement/externalBillingAccounts:
    get:
      description: List all ExternalBillingAccount definitions
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: ExternalBillingAccount_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ExternalBillingAccountDefinitionListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ExternalBillingAccounts
      x-ms-examples:
        ExternalBillingAccount_List:
          parameters:
            api-version: 2019-03-01-preview
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                    kind: aws
                    name: aws-123456789012
                    properties:
                      connectorId: /providers/Microsoft.CostManagement/cloudConnectors/12345678-9012-3456-7890-111111111111
                      displayName: MyCompany Consolidated
                      providerBillingAccountId: "123456789012"
                    type: Microsoft.CostManagement/externalBillingAccounts
                  - id: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-112233445566
                    kind: aws
                    name: aws-112233445566
                    properties:
                      connectorId: /providers/Microsoft.CostManagement/cloudConnectors/11111111-2222-3333-4444-555555555555
                      displayName: MyCompany Consolidated2
                      providerBillingAccountId: "112233445566"
                    type: Microsoft.CostManagement/externalBillingAccounts
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}":
    get:
      description: Get a ExternalBillingAccount definition
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: ExternalBillingAccount_Get
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/externalBillingAccountNameParameter"
        - description: May be used to expand the collectionInfo property. By default, collectionInfo is not included.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ExternalBillingAccountDefinition"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ExternalBillingAccounts
      x-ms-examples:
        ExternalBillingAccount_Get:
          parameters:
            api-version: 2019-03-01-preview
            externalBillingAccountName: aws-123456789012
          responses:
            "200":
              body:
                id: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                kind: aws
                name: aws-123456789012
                properties:
                  connectorId: /providers/Microsoft.CostManagement/cloudConnectors/aws-123456789012
                  displayName: MyCompany Consolidated
                  providerBillingAccountId: "123456789012"
                type: Microsoft.CostManagement/externalBillingAccounts
        ExternalBillingAccount_Get_Expand:
          parameters:
            $expand: collectionInfo
            api-version: 2019-03-01-preview
            externalBillingAccountName: aws-123456789012
          responses:
            "200":
              body:
                id: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                kind: aws
                name: aws-123456789012
                properties:
                  collectionInfo:
                    lastUpdated: 2018-06-12T17:25:28Z
                    sourceLastUpdated: 2018-06-12T16:41:28Z
                  connectorId: /providers/Microsoft.CostManagement/cloudConnectors/aws-123456789012
                  displayName: MyCompany Consolidated
                  providerBillingAccountId: "123456789012"
                type: Microsoft.CostManagement/externalBillingAccounts
  "/providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}/Forecast":
    post:
      description: Forecast the usage data for external billing account.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Forecast_UsageByExternalBillingAccount
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/externalBillingAccountNameParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Forecast
      x-ms-examples:
        ExternalBillingAccountForecast:
          parameters:
            api-version: 2019-03-01-preview
            externalBillingAccountName: aws-123456789012
            parameters:
              dataset:
                filter:
                  and:
                    - or:
                        - dimension:
                            name: SubscriptionName
                            operator: In
                            values:
                              - Azure Dev
                              - Azure Prod
                              - Azure PPE
                        - tag:
                            name: Environment
                            operator: In
                            values:
                              - Dev
                              - PPE
                              - Prod
                    - dimension:
                        name: DepartmentName
                        operator: In
                        values:
                          - Azure Dept
                granularity: Daily
              timePeriod:
                from: 2018-08-01T00:00:00.000Z
                to: 2018-10-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012/Forecast/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: CostStatus
                          type: String
                        - name: Currency
                          type: String
                      nextLink: null
                      rows:
                        - - 19.545363672276512
                          - 20180831
                          - Actual
                          - USD
                        - - 20.41979233490323
                          - 20180930
                          - Actual
                          - USD
                        - - 21.322216562625453
                          - 20181031
                          - Actual
                          - USD
                        - - 22.545363672276533
                          - 20180831
                          - Actual
                          - USD
                        - - 23.41979675590323
                          - 20180930
                          - Forecast
                          - USD
                        - - 24.359416562626652
                          - 20181031
                          - Forecast
                          - USD
                    type: Microsoft.CostManagement/forecast
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}/externalSubscriptions":
    get:
      description: List all ExternalSubscriptions by ExternalBillingAccount definitions
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: ExternalSubscription_ListByExternalBillingAccount
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/externalBillingAccountNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ExternalSubscriptionDefinitionListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ExternalSubscriptions
      x-ms-examples:
        ExternalBillingAccountExternalSubscription_List:
          parameters:
            api-version: 2019-03-01-preview
            externalBillingAccountName: aws-123456789012
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.CostManagement/externalSubscriptions/aws-654321654321
                    kind: aws
                    name: aws-654321654321
                    properties:
                      displayName: MyUsageAccount1
                      externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                      managementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                      providerAccountId: "654321654321"
                      providerBillingAccountId: "123456789012"
                    type: Microsoft.CostManagement/externalSubscriptions
      x-ms-pageable:
        nextLinkName: null
  /providers/Microsoft.CostManagement/externalSubscriptions:
    get:
      description: List all ExternalSubscription definitions
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: ExternalSubscription_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ExternalSubscriptionDefinitionListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ExternalSubscriptions
      x-ms-examples:
        ExternalSubscription_List:
          parameters:
            api-version: 2019-03-01-preview
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.CostManagement/externalSubscriptions/aws-654321654321
                    kind: aws
                    name: aws-654321654321
                    properties:
                      displayName: MyUsageAccount1
                      externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                      managementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                      providerAccountId: "654321654321"
                      providerBillingAccountId: "123456789012"
                    type: Microsoft.CostManagement/externalSubscriptions
                  - id: /providers/Microsoft.CostManagement/externalSubscriptions/aws-110011001100
                    kind: aws
                    name: aws-110011001100
                    properties:
                      displayName: MyUsageAccount2
                      externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-112233445566
                      managementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                      providerAccountId: "110011001100"
                      providerBillingAccountId: "112233445566"
                    type: Microsoft.CostManagement/externalSubscriptions
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}":
    get:
      description: Get an ExternalSubscription definition
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: ExternalSubscription_Get
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/externalSubscriptionNameParameter"
        - description: May be used to expand the collectionInfo property. By default, collectionInfo is not included.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ExternalSubscriptionDefinition"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ExternalSubscriptions
      x-ms-examples:
        ExternalSubscription_Get:
          parameters:
            api-version: 2019-03-01-preview
            externalSubscriptionName: aws-654321654321
          responses:
            "200":
              body:
                id: /providers/Microsoft.CostManagement/externalSubscriptions/aws-654321654321
                kind: aws
                name: aws-654321654321
                properties:
                  displayName: MyUsageAccount1
                  externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                  managementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                  providerAccountId: "654321654321"
                  providerBillingAccountId: "123456789012"
                type: Microsoft.CostManagement/externalSubscriptions
        ExternalSubscription_Get_Expand:
          parameters:
            $expand: collectionInfo
            api-version: 2019-03-01-preview
            externalSubscriptionName: aws-654321654321
          responses:
            "200":
              body:
                id: /providers/Microsoft.CostManagement/externalSubscriptions/aws-654321654321
                kind: aws
                name: aws-654321654321
                properties:
                  collectionInfo:
                    lastUpdated: 2018-06-12T17:25:28Z
                    sourceLastUpdated: 2018-06-12T16:41:28Z
                  displayName: MyUsageAccount1
                  externalBillingAccountId: /providers/Microsoft.CostManagement/externalBillingAccounts/aws-123456789012
                  managementGroupId: /providers/Microsoft.Management/managementGroups/XYZ
                  providerAccountId: "654321654321"
                  providerBillingAccountId: "123456789012"
                type: Microsoft.CostManagement/externalSubscriptions
  /providers/Microsoft.CostManagement/operations:
    get:
      description: Lists all of the available consumption REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/Forecast":
    post:
      description: Lists the usage data for management group.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Forecast_UsageByManagementGroup
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/managementGroupIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Forecast
      x-ms-examples:
        ManagementGroupForecast:
          parameters:
            api-version: 2019-03-01-preview
            managementGroupId: MyMgId
            parameters:
              dataset:
                filter:
                  or:
                    - dimension:
                        name: SubscriptionName
                        operator: In
                        values:
                          - Azure Dev
                          - Azure Prod
                          - Azure PPE
                    - tag:
                        name: Environment
                        operator: In
                        values:
                          - Dev
                          - PPE
                          - Prod
                granularity: Daily
              timePeriod:
                from: 2018-11-01T00:00:00.000Z
                to: 2019-01-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Management/managementGroups/MyMgId/providers/Microsoft.CostManagement/Forecast/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    name: ad67fd91-c131-4bda-9ba9-7187ecb1cebd
                    properties:
                      columns:
                        - name: PreTaxCost
                          type: Number
                        - name: UsageDate
                          type: Number
                        - name: CostStatus
                          type: String
                        - name: Currency
                          type: String
                      nextLink: https://management.azure.com/providers/Microsoft.Management/managementGroups/MyMgId/providers/Microsoft.CostManagement/Forecast?api-version=2019-03-01-preview&$skiptoken=AQAAAA%3D%3D
                      rows:
                        - - 19.045363672276512
                          - 20190126
                          - Actual
                          - USD
                        - - 19.41979241290323
                          - 20190127
                          - Actual
                          - USD
                        - - 20.35941656262545
                          - 20190128
                          - Actual
                          - USD
                        - - 19.045363672276512
                          - 20190129
                          - Forecast
                          - USD
                        - - 19.41979241290323
                          - 20190130
                          - Forecast
                          - USD
                        - - 20.35941656262545
                          - 20190131
                          - Forecast
                          - USD
                    type: microsoft.costmanagement/Forecast
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.CostManagement/Query":
    post:
      description: Lists the usage data for management group.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Query_UsageByManagementGroup
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/managementGroupIdParameter"
        - description: Parameters supplied to the CreateOrUpdate Report Config operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ReportConfigDefinition"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/QueryResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Query
      x-ms-examples:
        ManagementGroupQuery:
          parameters:
            api-version: 2019-03-01-preview
            managementGroupId: MyMgId
            parameters:
              dataset:
                filter:
                  or:
                    - dimension:
                        name: SubscriptionName
                        operator: In
                        values:
                          - Azure Dev
                          - Azure Prod
                          - Azure PPE
                    - tag:
                        name: Environment
                        operator: In
                        values:
                          - Dev
                          - PPE
                          - Prod
                granularity: Daily
              timePeriod:
                from: 2018-11-01T00:00:00.000Z
                to: 2019-01-31T00:00:00.000Z
              timeframe: Custom
              type: Usage
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Management/managementGroups/MyMgId/providers/Microsoft.CostManagement/Query/ad67fd91-c131-4bda-9ba9-7187ecb1cebd
[...]
