swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: To manage and control access to your resources, you can define customized policies and assign them at a scope.
  title: PolicyClient
  version: 2017-06-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Authorization/preview/2017-06-01-preview/policyAssignments.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: resources-policyAssignments
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: The API version to use for the operation.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: The ID of the target subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/policyAssignments":
    get:
      description: Gets all the policy assignments for a subscription.
      operationId: PolicyAssignments_List
      parameters:
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK - Returns an array of policy assignments.
          schema:
            $ref: "#/definitions/PolicyAssignmentListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - PolicyAssignments
      x-ms-examples:
        List policy assignments:
          parameters:
            $filter: atScope()
            api-version: 2017-06-01-preview
            subscriptionId: subId
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subId/providers/Microsoft.Authorization/policyAssignments/costManagement
                    name: costManagement
                    properties:
                      description: Policies required to minimize the risk of accidental cost overruns
                      displayName: Storage Cost Management
                      metadata:
                        category: Cost Management
                      notScopes:
                        - /subscriptions/subId/resourcegroups/testingResourceGroup
                      parameters:
                        allowedSkus:
                          type: Array
                      policyDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/policyDefinitions/storageSkus
                      scope: /subscriptions/subId
                    sku:
                      name: A0
                      tier: Free
                    type: Microsoft.Authorization/policyAssignments
                  - id: /subscriptions/subId/providers/Microsoft.Authorization/policyAssignments/tagEnforcement
                    name: tagEnforcement
                    properties:
                      description: Policy that ensures a given tag key and value are present on all resources
                      displayName: Enforces a tag key and value
                      policyDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/policyDefinitions/tagKeyValue
                      scope: /subscriptions/subId
                    sku:
                      name: A0
                      tier: Free
                    type: Microsoft.Authorization/policyAssignments
              headers: {}
      x-ms-odata: "#/definitions/PolicyAssignment"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Authorization/policyAssignments":
    get:
      description: Gets policy assignments for the resource group.
      operationId: PolicyAssignments_ListForResourceGroup
      parameters:
        - description: The name of the resource group that contains policy assignments.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
          x-ms-skip-url-encoding: true
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK - Returns an array of policy assignments.
          schema:
            $ref: "#/definitions/PolicyAssignmentListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - PolicyAssignments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{parentResourcePath}/{resourceType}/{resourceName}/providers/Microsoft.Authorization/policyAssignments":
    get:
      deprecated: true
      description: Gets policy assignments for a resource.
      operationId: PolicyAssignments_ListForResource
      parameters:
        - description: The name of the resource group containing the resource. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
        - description: The namespace of the resource provider.
          in: path
          name: resourceProviderNamespace
          required: true
          type: string
        - description: The parent resource path.
          in: path
          name: parentResourcePath
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The resource type.
          in: path
          name: resourceType
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The name of the resource with policy assignments.
          in: path
          name: resourceName
          required: true
          type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK - Returns an array of policy assignments.
          schema:
            $ref: "#/definitions/PolicyAssignmentListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - PolicyAssignments
      x-ms-odata: "#/definitions/PolicyAssignment"
      x-ms-pageable:
        nextLinkName: nextLink
  "/{policyAssignmentId}":
    delete:
      description: When providing a scope for the assignment, use '/subscriptions/{subscription-id}/' for subscriptions, '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}' for resource groups, and '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider-namespace}/{resource-type}/{resource-name}' for resources.
      operationId: PolicyAssignments_DeleteById
      parameters:
        - description: The ID of the policy assignment to delete. Use the format '/{scope}/providers/Microsoft.Authorization/policyAssignments/{policy-assignment-name}'.
          in: path
          name: policyAssignmentId
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK - Returns information about the policy assignment.
          schema:
            $ref: "#/definitions/PolicyAssignment"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Deletes a policy assignment by ID.
      tags:
        - PolicyAssignments
    get:
      description: When providing a scope for the assignment, use '/subscriptions/{subscription-id}/' for subscriptions, '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}' for resource groups, and '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider-namespace}/{resource-type}/{resource-name}' for resources.
      operationId: PolicyAssignments_GetById
      parameters:
        - description: The ID of the policy assignment to get. Use the format '/{scope}/providers/Microsoft.Authorization/policyAssignments/{policy-assignment-name}'.
          in: path
          name: policyAssignmentId
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK - Returns information about the policy assignment.
          schema:
            $ref: "#/definitions/PolicyAssignment"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Gets a policy assignment by ID.
      tags:
        - PolicyAssignments
    put:
      description: Policy assignments are inherited by child resources. For example, when you apply a policy to a resource group that policy is assigned to all resources in the group. When providing a scope for the assignment, use '/subscriptions/{subscription-id}/' for subscriptions, '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}' for resource groups, and '/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/{resource-provider-namespace}/{resource-type}/{resource-name}' for resources.
      operationId: PolicyAssignments_CreateById
      parameters:
        - description: The ID of the policy assignment to create. Use the format '/{scope}/providers/Microsoft.Authorization/policyAssignments/{policy-assignment-name}'.
          in: path
          name: policyAssignmentId
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: Parameters for policy assignment.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/PolicyAssignment"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "201":
          description: Created - Returns information about the policy assignment.
          schema:
            $ref: "#/definitions/PolicyAssignment"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Creates a policy assignment by ID.
      tags:
        - PolicyAssignments
  "/{scope}/providers/Microsoft.Authorization/policyAssignments/{policyAssignmentName}":
    delete:
      description: Deletes a policy assignment.
      operationId: PolicyAssignments_Delete
      parameters:
        - description: The scope of the policy assignment.
          in: path
          name: scope
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The name of the policy assignment to delete.
          in: path
          name: policyAssignmentName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK - Returns information about the deleted assignment.
          schema:
            $ref: "#/definitions/PolicyAssignment"
        "204":
          description: No Content - the policy assignment doesn't exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - PolicyAssignments
    get:
      description: Gets a policy assignment.
      operationId: PolicyAssignments_Get
      parameters:
        - description: The scope of the policy assignment.
          in: path
          name: scope
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The name of the policy assignment to get.
          in: path
          name: policyAssignmentName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK - Returns information about the policy assignment.
          schema:
            $ref: "#/definitions/PolicyAssignment"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - PolicyAssignments
      x-ms-examples:
        Get a policy assignment:
          parameters:
            api-version: 2017-06-01-preview
            policyAssignmentName: costManagement
            scope: subscriptions/subId
          responses:
            "200":
              body:
                id: /subscriptions/subId/providers/Microsoft.Authorization/policyAssignments/costManagement
                name: costManagement
                properties:
                  description: Policies required to minimize the risk of accidental cost overruns
                  displayName: Storage Cost Management
                  metadata:
                    category: Cost Management
                  notScopes:
                    - /subscriptions/subId/resourcegroups/testingResourceGroup
                  parameters:
                    allowedSkus:
                      type: Array
                  policyDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/policyDefinitions/storageSkus
                  scope: /subscriptions/subId
                sku:
                  name: A0
                  tier: Free
                type: Microsoft.Authorization/policyAssignments
              headers: {}
    put:
      description: Policy assignments are inherited by child resources. For example, when you apply a policy to a resource group that policy is assigned to all resources in the group.
      operationId: PolicyAssignments_Create
      parameters:
        - description: The scope of the policy assignment.
          in: path
          name: scope
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The name of the policy assignment.
          in: path
          name: policyAssignmentName
          required: true
          type: string
        - description: Parameters for the policy assignment.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/PolicyAssignment"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "201":
          description: Created - Returns information about the new policy assignment.
          schema:
            $ref: "#/definitions/PolicyAssignment"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Creates a policy assignment.
      tags:
        - PolicyAssignments
      x-ms-examples:
        Put a policy assignment:
          parameters:
            api-version: 2017-06-01-preview
            parameters:
              properties:
                description: Policies required to minimize the risk of accidental cost overruns
                displayName: Storage Cost Management
                metadata:
                  category: Cost Management
                notScopes:
                  - /subscriptions/subId/resourcegroups/testingResourceGroup
                parameters:
                  allowedSkus:
                    type: Array
                policyDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/policyDefinitions/storageSkus
              sku:
                name: A0
                tier: Free
            policyAssignmentName: costManagement
            scope: subscriptions/subId
          responses:
            "201":
              body:
                id: /subscriptions/subId/providers/Microsoft.Authorization/policyAssignments/costManagement
                name: costManagement
                properties:
                  description: Policies required to minimize the risk of accidental cost overruns
                  displayName: Storage Cost Management
                  metadata:
                    category: Cost Management
                  notScopes:
                    - /subscriptions/subId/resourcegroups/testingResourceGroup
                  parameters:
                    allowedSkus:
                      type: Array
                  policyDefinitionId: /subscriptions/subId/providers/Microsoft.Authorization/policyDefinitions/storageSkus
                  scope: /subscriptions/subId
                sku:
                  name: A0
                  tier: Free
                type: Microsoft.Authorization/policyAssignments
              headers: {}
definitions:
  ErrorResponse:
    description: Error response indicates ARM is not able to process the incoming request. The reason is provided in the error message.
    properties:
      errorCode:
        description: Error code.
        type: string
      errorMessage:
        description: Error message indicating why the operation failed.
        type: string
      httpStatus:
        description: Http status code.
        type: string
    type: object
  PolicyAssignment:
    description: The policy assignment.
    properties:
      id:
        description: The ID of the policy assignment.
        readOnly: true
        type: string
      name:
        description: The name of the policy assignment.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/PolicyAssignmentProperties"
        description: Properties for the policy assignment.
        x-ms-client-flatten: true
      sku:
        $ref: "#/definitions/PolicySku"
        description: The policy sku.
      type:
        description: The type of the policy assignment.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  PolicyAssignmentListResult:
    description: List of policy assignments.
    properties:
      nextLink:
        description: The URL to use for getting the next set of results.
        type: string
      value:
        description: An array of policy assignments.
        items:
          $ref: "#/definitions/PolicyAssignment"
        type: array
  PolicyAssignmentProperties:
    description: The policy assignment properties.
    properties:
      description:
        description: This message will be part of response in case of policy violation.
        type: string
      displayName:
        description: The display name of the policy assignment.
        type: string
      metadata:
        description: The policy assignment metadata.
        type: object
      notScopes:
        description: The policy's excluded scopes.
        items:
          type: string
        type: array
      parameters:
        description: Required if a parameter is used in policy rule.
        type: object
      policyDefinitionId:
        description: The ID of the policy definition.
        type: string
      scope:
        description: The scope for the policy assignment.
        type: string
  PolicySku:
    description: The policy sku.
    properties:
      name:
        description: The name of the policy sku. Possible values are A0 and A1.
        type: string
      tier:
        description: The policy sku tier. Possible values are Free and Standard.
        type: string
    required:
      - name
