swagger: "2.0"
schemes:
  - https
host: gitlab.com
basePath: /api
info:
  description: |-
    The platform for modern developers
    GitLab unifies issues, code review, CI and CD into a single UI
  title: Gitlab
  version: v3
  x-apisguru-categories:
    - developer_tools
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_cloud.githubusercontent.com_assets_21603_24521837_642e411c-1585-11e7-817f-61082580b6f6.png
  x-origin:
    - format: swagger
      url: https://axil.gitlab.io/swaggerapi/static/swagger.json
      version: "2.0"
    - format: swagger
      url: https://raw.githubusercontent.com/Mermade/openapi-definitions/master/gitlab/swagger.json
      version: "2.0"
  x-providerName: gitlab.com
produces:
  - application/json
  - text/plain
securityDefinitions:
  private_token_header:
    in: header
    name: PRIVATE_HEADER
    type: apiKey
  private_token_query:
    in: query
    name: private_token
    type: apiKey
security:
  - private_token_header: []
  - private_token_query: []
tags:
  - description: Operations about groups
    name: groups
  - description: Operations about projects
    name: projects
  - description: Operations about internals
    name: internal
  - description: Operations about issues
    name: issues
  - description: Operations about keys
    name: keys
  - description: Operations about cis
    name: ci
  - description: Operations about namespaces
    name: namespaces
  - description: Operations about notification_settings
    name: notification_settings
  - description: Operations about runners
    name: runners
  - description: Operations about snippets
    name: snippets
  - description: Operations about hooks
    name: hooks
  - description: Operations about todos
    name: todos
  - description: Operations about users
    name: users
  - description: Operations about users
    name: user
  - description: Operations about deploy_keys
    name: deploy_keys
  - description: Operations about sessions
    name: session
  - description: Operations about applications
    name: application
  - description: Operations about sidekiqs
    name: sidekiq
  - description: Operations about licenses
    name: licenses
  - description: Operations about templates
    name: templates
  - description: Operations about gitignores
    name: gitignores
  - description: Operations about gitlab_ci_ymls
    name: gitlab_ci_ymls
  - description: Operations about dockerfiles
    name: dockerfiles
  - description: Operations about versions
    name: version
paths:
  /v3/application/settings:
    get:
      description: Get the current application settings
      operationId: getV3ApplicationSettings
      produces:
        - application/json
      responses:
        "200":
          description: Get the current application settings
          schema:
            $ref: "#/definitions/ApplicationSetting"
      summary: Get the current application settings
      tags:
        - application
    put:
      consumes:
        - application/json
      description: Modify application settings
      operationId: putV3ApplicationSettings
      parameters:
        - description: Determine if developers can push to master
          enum:
            - 0
            - 1
            - 2
          format: int32
          in: formData
          name: default_branch_protection
          required: false
          type: integer
        - description: The default project visibility
          enum:
            - 0
            - 10
            - 20
          format: int32
          in: formData
          name: default_project_visibility
          required: false
          type: integer
        - description: The default snippet visibility
          enum:
            - 0
            - 10
            - 20
          format: int32
          in: formData
          name: default_snippet_visibility
          required: false
          type: integer
        - description: The default group visibility
          enum:
            - 0
            - 10
            - 20
          format: int32
          in: formData
          name: default_group_visibility
          required: false
          type: integer
        - description: Selected levels cannot be used by non-admin users for projects or snippets. If the public level is restricted, user profiles are only visible to logged in users.
          in: formData
          items:
            type: string
          name: restricted_visibility_levels
          required: false
          type: array
        - description: Enabled sources for code import during project creation. OmniAuth must be configured for GitHub, Bitbucket, and GitLab.com
          enum:
            - github
            - bitbucket
            - gitlab
            - google_code
            - fogbugz
            - git
            - gitlab_project
          in: formData
          items:
            type: string
          name: import_sources
          required: false
          type: array
        - description: Disable certain OAuth sign-in sources
          in: formData
          items:
            type: string
          name: disabled_oauth_sign_in_sources
          required: false
          type: array
        - description: Allow only the selected protocols to be used for Git access.
          enum:
            - ssh
            - http
            - nil
          in: formData
          name: enabled_git_access_protocol
          required: false
          type: string
        - description: Flag indicating if the Gravatar service is enabled
          in: formData
          name: gravatar_enabled
          required: false
          type: boolean
        - description: The maximum number of personal projects
          format: int32
          in: formData
          name: default_projects_limit
          required: false
          type: integer
        - description: Maximum attachment size in MB
          format: int32
          in: formData
          name: max_attachment_size
          required: false
          type: integer
        - description: Session duration in minutes. GitLab restart is required to apply changes.
          format: int32
          in: formData
          name: session_expire_delay
          required: false
          type: integer
        - description: Allow users to register any application to use GitLab as an OAuth provider
          in: formData
          name: user_oauth_applications
          required: false
          type: boolean
        - description: Newly registered users will by default be external
          in: formData
          name: user_default_external
          required: false
          type: boolean
        - description: Flag indicating if sign up is enabled
          in: formData
          name: signup_enabled
          required: false
          type: boolean
        - description: Send confirmation email on sign-up
          in: formData
          name: send_user_confirmation_email
          required: false
          type: boolean
        - description: "ONLY users with e-mail addresses that match these domain(s) will be able to sign-up. Wildcards allowed. Use separate lines for multiple entries. Ex: domain.com, *.domain.com"
          in: formData
          name: domain_whitelist
          required: false
          type: string
        - description: Enable domain blacklist for sign ups
          in: formData
          name: domain_blacklist_enabled
          required: false
          type: boolean
        - description: "Users with e-mail addresses that match these domain(s) will NOT be able to sign-up. Wildcards allowed. Use separate lines for multiple entries. Ex: domain.com, *.domain.com"
          in: formData
          name: domain_blacklist
          required: true
          type: string
        - description: Text shown after sign up
          in: formData
          name: after_sign_up_text
          required: false
          type: string
        - description: Flag indicating if sign in is enabled
          in: formData
          name: signin_enabled
          required: false
          type: boolean
        - description: Require all users to setup Two-factor authentication
          in: formData
          name: require_two_factor_authentication
          required: false
          type: boolean
        - description: Amount of time (in hours) that users are allowed to skip forced configuration of two-factor authentication
          format: int32
          in: formData
          name: two_factor_grace_period
          required: true
          type: integer
        - description: We will redirect non-logged in users to this page
          in: formData
          name: home_page_url
          required: false
          type: string
        - description: We will redirect users to this page after they sign out
          in: formData
          name: after_sign_out_path
          required: false
          type: string
        - description: The sign in text of the GitLab application
          in: formData
          name: sign_in_text
          required: false
          type: string
        - description: Custom text displayed on the help page
          in: formData
          name: help_page_text
          required: false
          type: string
        - description: Enable shared runners for new projects
          in: formData
          name: shared_runners_enabled
          required: false
          type: boolean
        - description: "Shared runners text "
          in: formData
          name: shared_runners_text
          required: true
          type: string
        - description: Set the maximum file size each build's artifacts can have
          format: int32
          in: formData
          name: max_artifacts_size
          required: false
          type: integer
        - description: Authorization token duration (minutes)
          format: int32
          in: formData
          name: container_registry_token_expire_delay
          required: false
          type: integer
        - description: Enable the InfluxDB metrics
          in: formData
          name: metrics_enabled
          required: false
          type: boolean
        - description: The InfluxDB host
          in: formData
          name: metrics_host
          required: true
          type: string
        - description: The UDP port to use for connecting to InfluxDB
          format: int32
          in: formData
          name: metrics_port
          required: true
          type: integer
        - description: The amount of InfluxDB connections to open
          format: int32
          in: formData
          name: metrics_pool_size
          required: true
          type: integer
        - description: The amount of seconds after which an InfluxDB connection will time out
          format: int32
          in: formData
          name: metrics_timeout
          required: true
          type: integer
        - description: A method call is only tracked when it takes longer to complete than the given amount of milliseconds.
          format: int32
          in: formData
          name: metrics_method_call_threshold
          required: true
          type: integer
        - description: The sampling interval in seconds
          format: int32
          in: formData
          name: metrics_sample_interval
          required: true
          type: integer
        - description: The amount of points to store in a single UDP packet
          format: int32
          in: formData
          name: metrics_packet_size
          required: true
          type: integer
        - description: Enable Sidekiq Job Throttling
          in: formData
          name: sidekiq_throttling_enabled
          required: false
          type: boolean
        - description: Choose which queues you wish to throttle
          in: formData
          items:
            type: string
          name: sidekiq_throttling_queus
          required: true
          type: array
        - description: The factor by which the queues should be throttled. A value between 0.0 and 1.0, exclusive.
          format: float
          in: formData
          name: sidekiq_throttling_factor
          required: true
          type: number
        - description: Helps prevent bots from creating accounts
          in: formData
          name: recaptcha_enabled
          required: false
          type: boolean
        - description: Generate site key at http://www.google.com/recaptcha
          in: formData
          name: recaptcha_site_key
          required: true
          type: string
        - description: Generate private key at http://www.google.com/recaptcha
          in: formData
          name: recaptcha_private_key
          required: true
          type: string
        - description: Helps prevent bots from creating issues
          in: formData
          name: akismet_enabled
          required: false
          type: boolean
        - description: Generate API key at http://www.akismet.com
          in: formData
          name: akismet_api_key
          required: true
          type: string
        - description: Abuse reports will be sent to this address if it is set. Abuse reports are always available in the admin area.
          in: formData
          name: admin_notification_email
          required: false
          type: string
        - description: "Sentry is an error reporting and logging tool which is currently not shipped with GitLab, get it here: https://getsentry.com"
          in: formData
          name: sentry_enabled
          required: false
          type: boolean
        - description: Sentry Data Source Name
          in: formData
          name: sentry_dsn
          required: true
          type: string
        - description: Storage paths for new projects
          in: formData
          name: repository_storage
          required: false
          type: string
        - description: GitLab will periodically run 'git fsck' in all project and wiki repositories to look for silent disk corruption issues.
          in: formData
          name: repository_checks_enabled
          required: false
          type: boolean
        - description: Enable Koding
          in: formData
          name: koding_enabled
          required: false
          type: boolean
        - description: The Koding team URL
          in: formData
          name: koding_url
          required: true
          type: string
        - description: Enable PlantUML
          in: formData
          name: plantuml_enabled
          required: false
          type: boolean
        - description: The PlantUML server URL
          in: formData
          name: plantuml_url
          required: true
          type: string
        - description: Let GitLab inform you when an update is available.
          in: formData
          name: version_check_enabled
          required: false
          type: boolean
        - description: Some email servers do not support overriding the email sender name. Enable this option to include the name of the author of the issue, merge request or comment in the email body instead.
          in: formData
          name: email_author_in_body
          required: false
          type: boolean
        - description: By default GitLab sends emails in HTML and plain text formats so mail clients can choose what format to use. Disable this option if you only want to send emails in plain text format.
          in: formData
          name: html_emails_enabled
          required: false
          type: boolean
        - description: Enable automatic repository housekeeping (git repack, git gc)
          in: formData
          name: housekeeping_enabled
          required: false
          type: boolean
        - description: Creating pack file bitmaps makes housekeeping take a little longer but bitmaps should accelerate 'git clone' performance.
          in: formData
          name: housekeeping_bitmaps_enabled
          required: true
          type: boolean
        - description: Number of Git pushes after which an incremental 'git repack' is run.
          format: int32
          in: formData
          name: housekeeping_incremental_repack_period
          required: true
          type: integer
        - description: Number of Git pushes after which a full 'git repack' is run.
          format: int32
          in: formData
          name: housekeeping_full_repack_period
          required: true
          type: integer
        - description: Number of Git pushes after which 'git gc' is run.
          format: int32
          in: formData
          name: housekeeping_gc_period
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Modify application settings
          schema:
            $ref: "#/definitions/ApplicationSetting"
      summary: Modify application settings
      tags:
        - application
  /v3/ci/lint:
    post:
      consumes:
        - application/json
      description: Validation of .gitlab-ci.yml content
      operationId: postV3CiLint
      parameters:
        - description: Content of .gitlab-ci.yml
          in: formData
          name: content
          required: true
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: Validation of .gitlab-ci.yml content
      summary: Validation of .gitlab-ci.yml content
      tags:
        - ci
  /v3/deploy_keys:
    get:
      operationId: getV3DeployKeys
      produces:
        - application/json
      responses:
        "200":
          description: get DeployKey(s)
      tags:
        - deploy_keys
  /v3/dockerfiles:
    get:
      description: This feature was introduced in GitLab 8.15. This endpoint is deprecated and will be removed in GitLab 9.0.
      operationId: getV3Dockerfiles
      produces:
        - application/json
      responses:
        "200":
          description: Get the list of the available template
          schema:
            $ref: "#/definitions/TemplatesList"
      summary: Get the list of the available template
      tags:
        - dockerfiles
  "/v3/dockerfiles/{name}":
    get:
      description: This feature was introduced in GitLab 8.15. This endpoint is deprecated and will be removed in GitLab 9.0.
      operationId: getV3DockerfilesName
      parameters:
        - description: The name of the template
          in: path
          name: name
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Get the text for a specific template present in local filesystem
          schema:
            $ref: "#/definitions/Template"
      summary: Get the text for a specific template present in local filesystem
      tags:
        - dockerfiles
  /v3/gitignores:
    get:
      description: This feature was introduced in GitLab 8.8. This endpoint is deprecated and will be removed in GitLab 9.0.
      operationId: getV3Gitignores
      produces:
        - application/json
      responses:
        "200":
          description: Get the list of the available template
          schema:
            $ref: "#/definitions/TemplatesList"
      summary: Get the list of the available template
      tags:
        - gitignores
  "/v3/gitignores/{name}":
    get:
      description: This feature was introduced in GitLab 8.8. This endpoint is deprecated and will be removed in GitLab 9.0.
      operationId: getV3GitignoresName
      parameters:
        - description: The name of the template
          in: path
          name: name
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Get the text for a specific template present in local filesystem
          schema:
            $ref: "#/definitions/Template"
      summary: Get the text for a specific template present in local filesystem
      tags:
        - gitignores
  /v3/gitlab_ci_ymls:
    get:
      description: This feature was introduced in GitLab 8.9. This endpoint is deprecated and will be removed in GitLab 9.0.
      operationId: getV3GitlabCiYmls
      produces:
        - application/json
      responses:
        "200":
          description: Get the list of the available template
          schema:
            $ref: "#/definitions/TemplatesList"
      summary: Get the list of the available template
      tags:
        - gitlab_ci_ymls
  "/v3/gitlab_ci_ymls/{name}":
    get:
      description: This feature was introduced in GitLab 8.9. This endpoint is deprecated and will be removed in GitLab 9.0.
      operationId: getV3GitlabCiYmlsName
      parameters:
        - description: The name of the template
          in: path
          name: name
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Get the text for a specific template present in local filesystem
          schema:
            $ref: "#/definitions/Template"
      summary: Get the text for a specific template present in local filesystem
      tags:
        - gitlab_ci_ymls
  /v3/groups:
    get:
      description: Get a groups list
      operationId: getV3Groups
      parameters:
        - description: Include project statistics
          in: query
          name: statistics
          required: false
          type: boolean
        - description: Array of group ids to exclude from list
          in: formData
          items:
            format: int32
            type: integer
          name: skip_groups
          required: false
          type: array
        - description: Show all group that you have access to
          in: query
          name: all_available
          required: false
          type: boolean
        - description: Search for a specific group
          in: query
          name: search
          required: false
          type: string
        - default: name
          description: Order by name or path
          enum:
            - name
            - path
          in: query
          name: order_by
          required: false
          type: string
        - default: asc
          description: Sort by asc (ascending) or desc (descending)
          enum:
            - asc
            - desc
          in: query
          name: sort
          required: false
          type: string
        - description: Current page number
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Number of items per page
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Get a groups list
          schema:
            $ref: "#/definitions/Group"
      summary: Get a groups list
      tags:
        - groups
    post:
      consumes:
        - application/json
      description: Create a group. Available only for users who can create groups.
      operationId: postV3Groups
      parameters:
        - description: The name of the group
          in: formData
          name: name
          required: true
          type: string
        - description: The path of the group
          in: formData
          name: path
          required: true
          type: string
        - description: The description of the group
          in: formData
          name: description
          required: false
          type: string
        - description: The visibility level of the group
          format: int32
          in: formData
          name: visibility_level
          required: false
          type: integer
        - description: Enable/disable LFS for the projects in this group
          in: formData
          name: lfs_enabled
          required: false
          type: boolean
        - description: Allow users to request member access
          in: formData
          name: request_access_enabled
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "201":
          description: Create a group. Available only for users who can create groups.
          schema:
            $ref: "#/definitions/Group"
      summary: Create a group. Available only for users who can create groups.
      tags:
        - groups
  /v3/groups/owned:
    get:
      description: Get list of owned groups for authenticated user
      operationId: getV3GroupsOwned
      parameters:
        - description: Current page number
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Number of items per page
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: Include project statistics
          in: query
          name: statistics
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: Get list of owned groups for authenticated user
          schema:
            $ref: "#/definitions/Group"
      summary: Get list of owned groups for authenticated user
      tags:
        - groups
  "/v3/groups/{id}":
    delete:
      description: Remove a group.
      operationId: deleteV3GroupsId
      parameters:
        - description: The ID of a group
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "204":
          description: Remove a group.
      summary: Remove a group.
      tags:
        - groups
    get:
      description: Get a single group, with containing projects.
      operationId: getV3GroupsId
      parameters:
        - description: The ID of a group
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Get a single group, with containing projects.
          schema:
            $ref: "#/definitions/GroupDetail"
      summary: Get a single group, with containing projects.
      tags:
        - groups
    put:
      consumes:
        - application/json
      description: Update a group. Available only for users who can administrate groups.
      operationId: putV3GroupsId
      parameters:
        - description: The ID of a group
          in: path
          name: id
          required: true
          type: string
        - description: The name of the group
          in: formData
          name: name
          required: false
          type: string
        - description: The path of the group
          in: formData
          name: path
          required: false
          type: string
        - description: The description of the group
          in: formData
          name: description
          required: false
          type: string
        - description: The visibility level of the group
          format: int32
          in: formData
          name: visibility_level
          required: false
          type: integer
        - description: Enable/disable LFS for the projects in this group
          in: formData
          name: lfs_enabled
          required: false
          type: boolean
        - description: Allow users to request member access
          in: formData
          name: request_access_enabled
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: Update a group. Available only for users who can administrate groups.
          schema:
            $ref: "#/definitions/Group"
      summary: Update a group. Available only for users who can administrate groups.
      tags:
        - groups
  "/v3/groups/{id}/access_requests":
    get:
      description: This feature was introduced in GitLab 8.11.
      operationId: getV3GroupsIdAccessRequests
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          type: string
        - description: Current page number
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Number of items per page
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Gets a list of access requests for a group.
          schema:
            $ref: "#/definitions/AccessRequester"
      summary: Gets a list of access requests for a group.
      tags:
        - groups
    post:
      consumes:
        - application/json
      description: This feature was introduced in GitLab 8.11.
      operationId: postV3GroupsIdAccessRequests
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: Requests access for the authenticated user to a group.
          schema:
            $ref: "#/definitions/AccessRequester"
      summary: Requests access for the authenticated user to a group.
      tags:
        - groups
  "/v3/groups/{id}/access_requests/{user_id}":
    delete:
      description: This feature was introduced in GitLab 8.11.
      operationId: deleteV3GroupsIdAccessRequestsUserId
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          type: string
        - description: The user ID of the access requester
          format: int32
          in: path
          name: user_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "204":
          description: Denies an access request for the given user.
      summary: Denies an access request for the given user.
      tags:
        - groups
  "/v3/groups/{id}/access_requests/{user_id}/approve":
    put:
      consumes:
        - application/json
      description: This feature was introduced in GitLab 8.11.
      operationId: putV3GroupsIdAccessRequestsUserIdApprove
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          type: string
        - description: The user ID of the access requester
          format: int32
          in: path
          name: user_id
          required: true
          type: integer
        - description: "A valid access level (defaults: `30`, developer access level)"
          format: int32
          in: formData
          name: access_level
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Approves an access request for the given user.
          schema:
            $ref: "#/definitions/Member"
      summary: Approves an access request for the given user.
      tags:
        - groups
  "/v3/groups/{id}/issues":
    get:
      description: Get a list of group issues
      operationId: getV3GroupsIdIssues
      parameters:
        - description: The ID of a group
          in: path
          name: id
          required: true
          type: string
        - default: opened
          description: Return opened, closed, or all issues
          enum:
            - opened
            - closed
            - all
          in: query
          name: state
          required: false
          type: string
        - description: Comma-separated list of label names
          in: query
          name: labels
          required: false
          type: string
        - description: Return issues for a specific milestone
          in: query
          name: milestone
          required: false
          type: string
        - default: created_at
          description: Return issues ordered by `created_at` or `updated_at` fields.
          enum:
            - created_at
            - updated_at
          in: query
          name: order_by
          required: false
          type: string
        - default: desc
          description: Return issues sorted in `asc` or `desc` order.
          enum:
            - asc
            - desc
          in: query
          name: sort
          required: false
          type: string
        - description: Current page number
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Number of items per page
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Get a list of group issues
          schema:
            $ref: "#/definitions/Issue"
      summary: Get a list of group issues
      tags:
        - groups
  "/v3/groups/{id}/members":
    get:
      description: Gets a list of group or project members viewable by the authenticated user.
      operationId: getV3GroupsIdMembers
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          type: string
        - description: A query string to search for members
          in: query
          name: query
          required: false
          type: string
        - description: Current page number
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Number of items per page
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Gets a list of group or project members viewable by the authenticated user.
          schema:
            $ref: "#/definitions/Member"
      summary: Gets a list of group or project members viewable by the authenticated user.
      tags:
        - groups
    post:
      consumes:
        - application/json
      description: Adds a member to a group or project.
      operationId: postV3GroupsIdMembers
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          type: string
        - description: The user ID of the new member
          format: int32
          in: formData
          name: user_id
          required: true
          type: integer
        - description: "A valid access level (defaults: `30`, developer access level)"
          format: int32
          in: formData
          name: access_level
          required: true
          type: integer
        - description: Date string in the format YEAR-MONTH-DAY
          format: date-time
          in: formData
          name: expires_at
          required: false
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: Adds a member to a group or project.
          schema:
            $ref: "#/definitions/Member"
      summary: Adds a member to a group or project.
      tags:
        - groups
  "/v3/groups/{id}/members/{user_id}":
    delete:
      description: Removes a user from a group or project.
      operationId: deleteV3GroupsIdMembersUserId
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          type: string
        - description: The user ID of the member
          format: int32
          in: path
          name: user_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "204":
          description: Removes a user from a group or project.
      summary: Removes a user from a group or project.
      tags:
        - groups
    get:
      description: Gets a member of a group or project.
      operationId: getV3GroupsIdMembersUserId
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          type: string
        - description: The user ID of the member
          format: int32
          in: path
          name: user_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Gets a member of a group or project.
          schema:
            $ref: "#/definitions/Member"
      summary: Gets a member of a group or project.
      tags:
        - groups
    put:
      consumes:
        - application/json
      description: Updates a member of a group or project.
      operationId: putV3GroupsIdMembersUserId
      parameters:
        - description: The group ID
          in: path
          name: id
          required: true
          type: string
        - description: The user ID of the new member
          format: int32
          in: path
          name: user_id
          required: true
          type: integer
        - description: A valid access level
          format: int32
          in: formData
          name: access_level
          required: true
          type: integer
        - description: Date string in the format YEAR-MONTH-DAY
          format: date-time
          in: formData
          name: expires_at
          required: false
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Updates a member of a group or project.
          schema:
            $ref: "#/definitions/Member"
      summary: Updates a member of a group or project.
      tags:
        - groups
  "/v3/groups/{id}/notification_settings":
    get:
      description: This feature was introduced in GitLab 8.12
      operationId: getV3GroupsIdNotificationSettings
      parameters:
        - description: The group ID or project ID or project NAMESPACE/PROJECT_NAME
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Get group level notification level settings, defaults to Global
          schema:
            $ref: "#/definitions/NotificationSetting"
      summary: Get group level notification level settings, defaults to Global
      tags:
        - groups
    put:
      consumes:
        - application/json
      description: This feature was introduced in GitLab 8.12
      operationId: putV3GroupsIdNotificationSettings
      parameters:
        - description: The group ID or project ID or project NAMESPACE/PROJECT_NAME
          in: path
          name: id
          required: true
          type: string
        - description: The group notification level
          in: formData
          name: level
          required: false
          type: string
        - description: Enable/disable this notification
          in: formData
          name: new_note
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: new_issue
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: reopen_issue
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: close_issue
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: reassign_issue
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: new_merge_request
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: reopen_merge_request
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: close_merge_request
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: reassign_merge_request
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: merge_merge_request
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: failed_pipeline
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: success_pipeline
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: Update group level notification level settings, defaults to Global
          schema:
            $ref: "#/definitions/NotificationSetting"
      summary: Update group level notification level settings, defaults to Global
      tags:
        - groups
  "/v3/groups/{id}/projects":
    get:
      description: Get a list of projects in this group.
      operationId: getV3GroupsIdProjects
      parameters:
        - description: The ID of a group
          in: path
          name: id
          required: true
          type: string
        - description: Limit by archived status
          in: query
          name: archived
          required: false
          type: boolean
        - description: Limit by visibility
          enum:
            - public
            - internal
            - private
          in: query
          name: visibility
          required: false
          type: string
        - description: Return list of authorized projects matching the search criteria
          in: query
          name: search
          required: false
          type: string
        - default: created_at
          description: Return projects ordered by field
          enum:
            - id
            - name
            - path
            - created_at
            - updated_at
            - last_activity_at
          in: query
          name: order_by
          required: false
          type: string
        - default: desc
          description: Return projects sorted in ascending and descending order
          enum:
            - asc
            - desc
          in: query
          name: sort
          required: false
          type: string
        - description: Return only the ID, URL, name, and path of each project
          in: query
          name: simple
          required: false
          type: boolean
        - description: Current page number
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Number of items per page
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Get a list of projects in this group.
          schema:
            $ref: "#/definitions/Project"
      summary: Get a list of projects in this group.
      tags:
        - groups
  "/v3/groups/{id}/projects/{project_id}":
    post:
      consumes:
        - application/json
      description: Transfer a project to the group namespace. Available only for admin.
      operationId: postV3GroupsIdProjectsProjectId
      parameters:
        - description: The ID of a group
          in: path
          name: id
          required: true
          type: string
        - description: The ID or path of the project
          in: path
          name: project_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: Transfer a project to the group namespace. Available only for admin.
          schema:
            $ref: "#/definitions/GroupDetail"
      summary: Transfer a project to the group namespace. Available only for admin.
      tags:
        - groups
  /v3/hooks:
    get:
      description: Get the list of system hooks
      operationId: getV3Hooks
      produces:
        - application/json
      responses:
        "200":
          description: Get the list of system hooks
          schema:
            $ref: "#/definitions/Hook"
      summary: Get the list of system hooks
      tags:
        - hooks
    post:
      consumes:
        - application/json
      description: Create a new system hook
      operationId: postV3Hooks
      parameters:
        - description: The URL to send the request to
          in: formData
          name: url
          required: true
          type: string
        - description: The token used to validate payloads
          in: formData
          name: token
          required: false
          type: string
        - description: Trigger hook on push events
          in: formData
          name: push_events
          required: false
          type: boolean
        - description: Trigger hook on tag push events
          in: formData
          name: tag_push_events
          required: false
          type: boolean
        - description: Do SSL verification when triggering the hook
          in: formData
          name: enable_ssl_verification
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "201":
          description: Create a new system hook
          schema:
            $ref: "#/definitions/Hook"
      summary: Create a new system hook
      tags:
        - hooks
  "/v3/hooks/{id}":
    delete:
      description: Delete a hook
      operationId: deleteV3HooksId
      parameters:
        - description: The ID of the system hook
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Delete a hook
          schema:
            $ref: "#/definitions/Hook"
      summary: Delete a hook
      tags:
        - hooks
    get:
      description: Test a hook
      operationId: getV3HooksId
      parameters:
        - description: The ID of the system hook
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Test a hook
          schema:
            $ref: "#/definitions/Hook"
      summary: Test a hook
      tags:
        - hooks
  /v3/internal/allowed:
    post:
      consumes:
        - application/json
      operationId: postV3InternalAllowed
      produces:
        - application/json
      responses:
        "201":
          description: created Allowed
      tags:
        - internal
  /v3/internal/broadcast_message:
    get:
      operationId: getV3InternalBroadcastMessage
      produces:
        - application/json
      responses:
        "200":
          description: get BroadcastMessage(s)
      tags:
        - internal
  /v3/internal/check:
    get:
      operationId: getV3InternalCheck
      produces:
        - application/json
      responses:
        "200":
          description: get Check(s)
      tags:
        - internal
  /v3/internal/discover:
    get:
      operationId: getV3InternalDiscover
      produces:
        - application/json
      responses:
        "200":
          description: get Discover(s)
      tags:
        - internal
  /v3/internal/lfs_authenticate:
    post:
      consumes:
        - application/json
      operationId: postV3InternalLfsAuthenticate
      produces:
        - application/json
      responses:
        "201":
          description: created LfsAuthenticate
      tags:
        - internal
  /v3/internal/merge_request_urls:
    get:
      operationId: getV3InternalMergeRequestUrls
      produces:
        - application/json
      responses:
        "200":
          description: get MergeRequestUrl(s)
      tags:
        - internal
  /v3/internal/two_factor_recovery_codes:
    post:
      consumes:
        - application/json
      operationId: postV3InternalTwoFactorRecoveryCodes
      produces:
        - application/json
      responses:
        "201":
          description: created TwoFactorRecoveryCode
      tags:
        - internal
  /v3/issues:
    get:
      description: Get currently authenticated user's issues
      operationId: getV3Issues
      parameters:
        - default: all
          description: Return opened, closed, or all issues
          enum:
            - opened
            - closed
            - all
          in: query
          name: state
          required: false
          type: string
        - description: Comma-separated list of label names
          in: query
          name: labels
          required: false
          type: string
        - description: Return issues for a specific milestone
          in: query
          name: milestone
          required: false
          type: string
        - default: created_at
          description: Return issues ordered by `created_at` or `updated_at` fields.
          enum:
            - created_at
            - updated_at
          in: query
          name: order_by
          required: false
          type: string
        - default: desc
          description: Return issues sorted in `asc` or `desc` order.
          enum:
            - asc
            - desc
          in: query
          name: sort
          required: false
          type: string
        - description: Current page number
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Number of items per page
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Get currently authenticated user's issues
          schema:
            $ref: "#/definitions/Issue"
      summary: Get currently authenticated user's issues
      tags:
        - issues
  "/v3/keys/{id}":
    get:
      description: Get single ssh key by id. Only available to admin users
      operationId: getV3KeysId
      parameters:
        - format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Get single ssh key by id. Only available to admin users
          schema:
            $ref: "#/definitions/SSHKeyWithUser"
      summary: Get single ssh key by id. Only available to admin users
      tags:
        - keys
  /v3/licenses:
    get:
      description: This feature was introduced in GitLab 8.7. This endpoint is deprecated and will be removed in GitLab 9.0.
      operationId: getV3Licenses
      parameters:
        - description: If passed, returns only popular licenses
          in: query
          name: popular
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: Get the list of the available license template
          schema:
            $ref: "#/definitions/RepoLicense"
      summary: Get the list of the available license template
      tags:
        - licenses
  "/v3/licenses/{name}":
    get:
      description: This feature was introduced in GitLab 8.7. This endpoint is deprecated and will be removed in GitLab 9.0.
      operationId: getV3LicensesName
      parameters:
        - description: The name of the template
          in: path
          name: name
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Get the text for a specific license
          schema:
            $ref: "#/definitions/RepoLicense"
      summary: Get the text for a specific license
      tags:
        - licenses
  /v3/namespaces:
    get:
      description: Get a namespaces list
      operationId: getV3Namespaces
      parameters:
        - description: Search query for namespaces
          in: query
          name: search
          required: false
          type: string
        - description: Current page number
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Number of items per page
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Get a namespaces list
          schema:
            $ref: "#/definitions/Namespace"
      summary: Get a namespaces list
      tags:
        - namespaces
  /v3/notification_settings:
    get:
      description: This feature was introduced in GitLab 8.12
      operationId: getV3NotificationSettings
      produces:
        - application/json
      responses:
        "200":
          description: Get global notification level settings and email, defaults to Participate
          schema:
            $ref: "#/definitions/GlobalNotificationSetting"
      summary: Get global notification level settings and email, defaults to Participate
      tags:
        - notification_settings
    put:
      consumes:
        - application/json
      description: This feature was introduced in GitLab 8.12
      operationId: putV3NotificationSettings
      parameters:
        - description: The global notification level
          in: formData
          name: level
          required: false
          type: string
        - description: The email address to send notifications
          in: formData
          name: notification_email
          required: false
          type: string
        - description: Enable/disable this notification
          in: formData
          name: new_note
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: new_issue
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: reopen_issue
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: close_issue
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: reassign_issue
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: new_merge_request
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: reopen_merge_request
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: close_merge_request
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: reassign_merge_request
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: merge_merge_request
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: failed_pipeline
          required: false
          type: boolean
        - description: Enable/disable this notification
          in: formData
          name: success_pipeline
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: Update global notification level settings and email, defaults to Participate
          schema:
            $ref: "#/definitions/GlobalNotificationSetting"
      summary: Update global notification level settings and email, defaults to Participate
      tags:
        - notification_settings
  /v3/projects:
    get:
      description: Get a projects list for authenticated user
      operationId: getV3Projects
      parameters:
        - default: created_at
          description: Return projects ordered by field
          enum:
            - id
            - name
            - path
            - created_at
            - updated_at
            - last_activity_at
          in: query
          name: order_by
          required: false
          type: string
        - default: desc
          description: Return projects sorted in ascending and descending order
          enum:
            - asc
            - desc
          in: query
          name: sort
          required: false
          type: string
        - description: Limit by archived status
          in: query
          name: archived
          required: false
          type: boolean
        - description: Limit by visibility
          enum:
            - public
            - internal
            - private
          in: query
          name: visibility
          required: false
          type: string
        - description: Return list of authorized projects matching the search criteria
          in: query
          name: search
          required: false
          type: string
        - description: Current page number
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Number of items per page
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: Return only the ID, URL, name, and path of each project
          in: query
          name: simple
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: Get a projects list for authenticated user
          schema:
            $ref: "#/definitions/BasicProjectDetails"
      summary: Get a projects list for authenticated user
      tags:
        - projects
    post:
      consumes:
        - application/json
      description: Create new project
      operationId: postV3Projects
      parameters:
        - description: The name of the project
          in: formData
          name: name
          required: true
          type: string
        - description: The path of the repository
          in: formData
          name: path
          required: false
          type: string
        - description: The description of the project
          in: formData
          name: description
          required: false
          type: string
        - description: Flag indication if the issue tracker is enabled
          in: formData
          name: issues_enabled
          required: false
          type: boolean
        - description: Flag indication if merge requests are enabled
          in: formData
          name: merge_requests_enabled
          required: false
          type: boolean
        - description: Flag indication if the wiki is enabled
          in: formData
          name: wiki_enabled
          required: false
          type: boolean
        - description: Flag indication if builds are enabled
          in: formData
          name: builds_enabled
          required: false
          type: boolean
        - description: Flag indication if snippets are enabled
          in: formData
          name: snippets_enabled
          required: false
          type: boolean
        - description: Flag indication if shared runners are enabled for that project
          in: formData
          name: shared_runners_enabled
          required: false
          type: boolean
        - description: Flag indication if the container registry is enabled for that project
          in: formData
          name: container_registry_enabled
          required: false
          type: boolean
        - description: Flag indication if Git LFS is enabled for that project
          in: formData
          name: lfs_enabled
          required: false
          type: boolean
        - description: Create a public project. The same as visibility_level = 20.
          in: formData
          name: public
          required: false
          type: boolean
        - description: Create a public project. The same as visibility_level = 20.
          enum:
            - 0
            - 10
            - 20
          format: int32
          in: formData
          name: visibility_level
          required: false
          type: integer
        - description: Perform public builds
          in: formData
          name: public_builds
          required: false
          type: boolean
        - description: Allow users to request member access
          in: formData
          name: request_access_enabled
          required: false
          type: boolean
        - description: Only allow to merge if builds succeed
          in: formData
          name: only_allow_merge_if_build_succeeds
          required: false
          type: boolean
        - description: Only allow to merge if all discussions are resolved
          in: formData
          name: only_allow_merge_if_all_discussions_are_resolved
          required: false
          type: boolean
        - description: Namespace ID for the new project. Default to the user namespace.
          format: int32
          in: formData
          name: namespace_id
          required: false
          type: integer
        - description: URL from which the project is imported
          in: formData
          name: import_url
          required: false
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: Create new project
          schema:
            $ref: "#/definitions/Project"
      summary: Create new project
      tags:
        - projects
  /v3/projects/all:
    get:
      description: Get all projects for admin user
      operationId: getV3ProjectsAll
      parameters:
        - default: created_at
          description: Return projects ordered by field
          enum:
            - id
            - name
            - path
            - created_at
            - updated_at
            - last_activity_at
          in: query
          name: order_by
          required: false
          type: string
        - default: desc
          description: Return projects sorted in ascending and descending order
          enum:
            - asc
            - desc
          in: query
          name: sort
          required: false
          type: string
        - description: Limit by archived status
          in: query
          name: archived
          required: false
          type: boolean
        - description: Limit by visibility
          enum:
            - public
            - internal
            - private
          in: query
          name: visibility
          required: false
          type: string
        - description: Return list of authorized projects matching the search criteria
          in: query
          name: search
          required: false
          type: string
        - description: Current page number
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Number of items per page
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: Return only the ID, URL, name, and path of each project
          in: query
          name: simple
          required: false
          type: boolean
        - description: Include project statistics
          in: query
          name: statistics
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: Get all projects for admin user
          schema:
            $ref: "#/definitions/BasicProjectDetails"
      summary: Get all projects for admin user
      tags:
        - projects
  "/v3/projects/fork/{id}":
    post:
      consumes:
        - application/json
      description: Fork new project for the current user or provided namespace.
      operationId: postV3ProjectsForkId
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
        - description: The ID or name of the namespace that the project will be forked into
          in: formData
          name: namespace
          required: false
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: Fork new project for the current user or provided namespace.
          schema:
            $ref: "#/definitions/Project"
      summary: Fork new project for the current user or provided namespace.
      tags:
        - projects
  /v3/projects/owned:
    get:
      description: Get an owned projects list for authenticated user
      operationId: getV3ProjectsOwned
      parameters:
        - default: created_at
          description: Return projects ordered by field
          enum:
            - id
            - name
            - path
            - created_at
            - updated_at
            - last_activity_at
          in: query
          name: order_by
          required: false
          type: string
        - default: desc
          description: Return projects sorted in ascending and descending order
          enum:
            - asc
            - desc
          in: query
          name: sort
          required: false
          type: string
        - description: Limit by archived status
          in: query
          name: archived
          required: false
          type: boolean
        - description: Limit by visibility
          enum:
            - public
            - internal
            - private
          in: query
          name: visibility
          required: false
          type: string
        - description: Return list of authorized projects matching the search criteria
          in: query
          name: search
          required: false
          type: string
        - description: Current page number
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Number of items per page
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: Return only the ID, URL, name, and path of each project
          in: query
          name: simple
          required: false
          type: boolean
        - description: Include project statistics
          in: query
          name: statistics
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: Get an owned projects list for authenticated user
          schema:
            $ref: "#/definitions/BasicProjectDetails"
      summary: Get an owned projects list for authenticated user
      tags:
        - projects
  "/v3/projects/search/{query}":
    get:
      description: Search for projects the current user has access to
      operationId: getV3ProjectsSearchQuery
      parameters:
        - description: The project name to be searched
          in: path
          name: query
          required: true
          type: string
        - default: created_at
          description: Return projects ordered by field
          enum:
            - id
            - name
            - path
            - created_at
            - updated_at
            - last_activity_at
          in: query
          name: order_by
          required: false
          type: string
        - default: desc
          description: Return projects sorted in ascending and descending order
          enum:
            - asc
            - desc
          in: query
          name: sort
          required: false
          type: string
        - description: Current page number
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Number of items per page
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Search for projects the current user has access to
          schema:
            $ref: "#/definitions/Project"
      summary: Search for projects the current user has access to
      tags:
        - projects
  /v3/projects/starred:
    get:
      description: Gets starred project for the authenticated user
      operationId: getV3ProjectsStarred
      parameters:
        - default: created_at
          description: Return projects ordered by field
          enum:
            - id
            - name
            - path
            - created_at
            - updated_at
            - last_activity_at
          in: query
          name: order_by
          required: false
          type: string
        - default: desc
          description: Return projects sorted in ascending and descending order
          enum:
            - asc
            - desc
          in: query
          name: sort
          required: false
          type: string
        - description: Limit by archived status
          in: query
          name: archived
          required: false
          type: boolean
        - description: Limit by visibility
          enum:
            - public
            - internal
            - private
          in: query
          name: visibility
          required: false
          type: string
        - description: Return list of authorized projects matching the search criteria
          in: query
          name: search
          required: false
          type: string
        - description: Current page number
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Number of items per page
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: Return only the ID, URL, name, and path of each project
          in: query
          name: simple
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: Gets starred project for the authenticated user
          schema:
            $ref: "#/definitions/BasicProjectDetails"
      summary: Gets starred project for the authenticated user
      tags:
        - projects
  "/v3/projects/user/{user_id}":
    post:
      consumes:
        - application/json
      description: Create new project for a specified user. Only available to admin users.
      operationId: postV3ProjectsUserUserId
      parameters:
        - description: The name of the project
          in: formData
          name: name
          required: true
          type: string
        - description: The ID of a user
          format: int32
          in: path
          name: user_id
          required: true
          type: integer
        - description: The default branch of the project
          in: formData
          name: default_branch
          required: false
          type: string
        - description: The description of the project
          in: formData
          name: description
          required: false
          type: string
        - description: Flag indication if the issue tracker is enabled
          in: formData
          name: issues_enabled
          required: false
          type: boolean
        - description: Flag indication if merge requests are enabled
          in: formData
          name: merge_requests_enabled
          required: false
          type: boolean
        - description: Flag indication if the wiki is enabled
          in: formData
          name: wiki_enabled
          required: false
          type: boolean
        - description: Flag indication if builds are enabled
          in: formData
          name: builds_enabled
          required: false
          type: boolean
        - description: Flag indication if snippets are enabled
          in: formData
          name: snippets_enabled
          required: false
          type: boolean
        - description: Flag indication if shared runners are enabled for that project
          in: formData
          name: shared_runners_enabled
          required: false
          type: boolean
        - description: Flag indication if the container registry is enabled for that project
          in: formData
          name: container_registry_enabled
          required: false
          type: boolean
        - description: Flag indication if Git LFS is enabled for that project
          in: formData
          name: lfs_enabled
          required: false
          type: boolean
        - description: Create a public project. The same as visibility_level = 20.
          in: formData
          name: public
          required: false
          type: boolean
        - description: Create a public project. The same as visibility_level = 20.
          enum:
            - 0
            - 10
            - 20
          format: int32
          in: formData
          name: visibility_level
          required: false
          type: integer
        - description: Perform public builds
          in: formData
          name: public_builds
          required: false
          type: boolean
        - description: Allow users to request member access
          in: formData
          name: request_access_enabled
          required: false
          type: boolean
        - description: Only allow to merge if builds succeed
          in: formData
          name: only_allow_merge_if_build_succeeds
          required: false
          type: boolean
        - description: Only allow to merge if all discussions are resolved
          in: formData
          name: only_allow_merge_if_all_discussions_are_resolved
          required: false
          type: boolean
        - description: Namespace ID for the new project. Default to the user namespace.
          format: int32
          in: formData
          name: namespace_id
          required: false
          type: integer
        - description: URL from which the project is imported
          in: formData
          name: import_url
          required: false
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: Create new project for a specified user. Only available to admin users.
          schema:
            $ref: "#/definitions/Project"
      summary: Create new project for a specified user. Only available to admin users.
      tags:
        - projects
  /v3/projects/visible:
    get:
      description: Get a list of visible projects for authenticated user
      operationId: getV3ProjectsVisible
      parameters:
        - default: created_at
          description: Return projects ordered by field
          enum:
            - id
            - name
            - path
            - created_at
            - updated_at
            - last_activity_at
          in: query
          name: order_by
          required: false
          type: string
        - default: desc
          description: Return projects sorted in ascending and descending order
          enum:
            - asc
            - desc
          in: query
          name: sort
          required: false
          type: string
        - description: Limit by archived status
          in: query
          name: archived
          required: false
          type: boolean
        - description: Limit by visibility
          enum:
            - public
            - internal
            - private
          in: query
          name: visibility
          required: false
          type: string
        - description: Return list of authorized projects matching the search criteria
          in: query
          name: search
          required: false
          type: string
        - description: Current page number
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Number of items per page
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
        - description: Return only the ID, URL, name, and path of each project
          in: query
          name: simple
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: Get a list of visible projects for authenticated user
          schema:
            $ref: "#/definitions/BasicProjectDetails"
      summary: Get a list of visible projects for authenticated user
      tags:
        - projects
  "/v3/projects/{id}":
    delete:
      description: Remove a project
      operationId: deleteV3ProjectsId
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "204":
          description: Remove a project
      summary: Remove a project
      tags:
        - projects
    get:
      description: Get a single project
      operationId: getV3ProjectsId
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Get a single project
          schema:
            $ref: "#/definitions/ProjectWithAccess"
      summary: Get a single project
      tags:
        - projects
    put:
      consumes:
        - application/json
      description: Update an existing project
      operationId: putV3ProjectsId
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
        - description: The name of the project
          in: formData
          name: name
          required: false
          type: string
        - description: The default branch of the project
          in: formData
          name: default_branch
          required: false
          type: string
        - description: The path of the repository
          in: formData
          name: path
          required: false
          type: string
        - description: The description of the project
          in: formData
          name: description
          required: false
          type: string
        - description: Flag indication if the issue tracker is enabled
          in: formData
          name: issues_enabled
          required: false
          type: boolean
        - description: Flag indication if merge requests are enabled
          in: formData
          name: merge_requests_enabled
          required: false
          type: boolean
        - description: Flag indication if the wiki is enabled
          in: formData
          name: wiki_enabled
          required: false
          type: boolean
        - description: Flag indication if builds are enabled
          in: formData
          name: builds_enabled
          required: false
          type: boolean
        - description: Flag indication if snippets are enabled
          in: formData
          name: snippets_enabled
          required: false
          type: boolean
        - description: Flag indication if shared runners are enabled for that project
          in: formData
          name: shared_runners_enabled
          required: false
          type: boolean
        - description: Flag indication if the container registry is enabled for that project
          in: formData
          name: container_registry_enabled
          required: false
          type: boolean
        - description: Flag indication if Git LFS is enabled for that project
          in: formData
          name: lfs_enabled
          required: false
          type: boolean
        - description: Create a public project. The same as visibility_level = 20.
          in: formData
          name: public
          required: false
          type: boolean
        - description: Create a public project. The same as visibility_level = 20.
          enum:
            - 0
            - 10
            - 20
          format: int32
          in: formData
          name: visibility_level
          required: false
          type: integer
        - description: Perform public builds
          in: formData
          name: public_builds
          required: false
          type: boolean
        - description: Allow users to request member access
          in: formData
          name: request_access_enabled
          required: false
          type: boolean
        - description: Only allow to merge if builds succeed
          in: formData
          name: only_allow_merge_if_build_succeeds
          required: false
          type: boolean
        - description: Only allow to merge if all discussions are resolved
          in: formData
          name: only_allow_merge_if_all_discussions_are_resolved
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        "200":
          description: Update an existing project
          schema:
            $ref: "#/definitions/Project"
      summary: Update an existing project
      tags:
        - projects
  "/v3/projects/{id}/(ref/{ref}/)trigger/builds":
    post:
      consumes:
        - application/json
      description: Trigger a GitLab project build
      operationId: postV3ProjectsId(refRef)triggerBuilds
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
        - description: The commit sha or name of a branch or tag
          in: path
          name: ref
          required: true
          type: string
        - description: The unique token of trigger
          in: formData
          name: token
          required: true
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: Trigger a GitLab project build
          schema:
            $ref: "#/definitions/TriggerRequest"
      summary: Trigger a GitLab project build
      tags:
        - projects
  "/v3/projects/{id}/access_requests":
    get:
      description: This feature was introduced in GitLab 8.11.
      operationId: getV3ProjectsIdAccessRequests
      parameters:
        - description: The project ID
          in: path
          name: id
          required: true
          type: string
        - description: Current page number
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Number of items per page
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Gets a list of access requests for a project.
          schema:
            $ref: "#/definitions/AccessRequester"
      summary: Gets a list of access requests for a project.
      tags:
        - projects
    post:
      consumes:
        - application/json
      description: This feature was introduced in GitLab 8.11.
      operationId: postV3ProjectsIdAccessRequests
      parameters:
        - description: The project ID
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: Requests access for the authenticated user to a project.
          schema:
            $ref: "#/definitions/AccessRequester"
      summary: Requests access for the authenticated user to a project.
      tags:
        - projects
  "/v3/projects/{id}/access_requests/{user_id}":
    delete:
      description: This feature was introduced in GitLab 8.11.
      operationId: deleteV3ProjectsIdAccessRequestsUserId
      parameters:
        - description: The project ID
          in: path
          name: id
          required: true
          type: string
        - description: The user ID of the access requester
          format: int32
          in: path
          name: user_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "204":
          description: Denies an access request for the given user.
      summary: Denies an access request for the given user.
      tags:
        - projects
  "/v3/projects/{id}/access_requests/{user_id}/approve":
    put:
      consumes:
        - application/json
      description: This feature was introduced in GitLab 8.11.
      operationId: putV3ProjectsIdAccessRequestsUserIdApprove
      parameters:
        - description: The project ID
          in: path
          name: id
          required: true
          type: string
        - description: The user ID of the access requester
          format: int32
          in: path
          name: user_id
          required: true
          type: integer
        - description: "A valid access level (defaults: `30`, developer access level)"
          format: int32
          in: formData
          name: access_level
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Approves an access request for the given user.
          schema:
            $ref: "#/definitions/Member"
      summary: Approves an access request for the given user.
      tags:
        - projects
  "/v3/projects/{id}/archive":
    post:
      consumes:
        - application/json
      description: Archive a project
      operationId: postV3ProjectsIdArchive
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "201":
          description: Archive a project
          schema:
            $ref: "#/definitions/Project"
      summary: Archive a project
      tags:
        - projects
  "/v3/projects/{id}/boards":
    get:
      description: This feature was introduced in 8.13
      operationId: getV3ProjectsIdBoards
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Get all project boards
          schema:
            $ref: "#/definitions/Board"
      summary: Get all project boards
      tags:
        - projects
  "/v3/projects/{id}/boards/{board_id}/lists":
    get:
      description: Does not include `backlog` and `done` lists. This feature was introduced in 8.13
      operationId: getV3ProjectsIdBoardsBoardIdLists
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
        - description: The ID of a board
          format: int32
          in: path
          name: board_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Get the lists of a project board
          schema:
            $ref: "#/definitions/List"
      summary: Get the lists of a project board
      tags:
        - projects
    post:
      consumes:
        - application/json
      description: This feature was introduced in 8.13
      operationId: postV3ProjectsIdBoardsBoardIdLists
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
        - description: The ID of a board
          format: int32
          in: path
          name: board_id
          required: true
          type: integer
        - description: The ID of an existing label
          format: int32
          in: formData
          name: label_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "201":
          description: Create a new board list
          schema:
            $ref: "#/definitions/List"
      summary: Create a new board list
      tags:
        - projects
  "/v3/projects/{id}/boards/{board_id}/lists/{list_id}":
    delete:
      description: This feature was introduced in 8.13
      operationId: deleteV3ProjectsIdBoardsBoardIdListsListId
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
        - description: The ID of a board
          format: int32
          in: path
          name: board_id
          required: true
          type: integer
        - description: The ID of a board list
          format: int32
          in: path
          name: list_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Delete a board list
          schema:
            $ref: "#/definitions/List"
      summary: Delete a board list
      tags:
        - projects
    get:
      description: This feature was introduced in 8.13
      operationId: getV3ProjectsIdBoardsBoardIdListsListId
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
        - description: The ID of a board
          format: int32
          in: path
          name: board_id
          required: true
          type: integer
        - description: The ID of a list
          format: int32
          in: path
          name: list_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Get a list of a project board
          schema:
            $ref: "#/definitions/List"
      summary: Get a list of a project board
      tags:
        - projects
    put:
      consumes:
        - application/json
      description: This feature was introduced in 8.13
      operationId: putV3ProjectsIdBoardsBoardIdListsListId
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
        - description: The ID of a board
          format: int32
          in: path
          name: board_id
          required: true
          type: integer
        - description: The ID of a list
          format: int32
          in: path
          name: list_id
          required: true
          type: integer
        - description: The position of the list
          format: int32
          in: formData
          name: position
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Moves a board list to a new position
          schema:
            $ref: "#/definitions/List"
      summary: Moves a board list to a new position
      tags:
        - projects
  "/v3/projects/{id}/builds":
    get:
      description: Get a project builds
      operationId: getV3ProjectsIdBuilds
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
        - description: The scope of builds to show
          enum:
            - pending
            - running
            - failed
            - success
            - canceled
          in: query
          name: scope
          required: false
          type: string
        - description: Current page number
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Number of items per page
          format: int32
          in: query
          name: per_page
          required: false
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Get a project builds
          schema:
            $ref: "#/definitions/Build"
      summary: Get a project builds
      tags:
        - projects
  "/v3/projects/{id}/builds/artifacts/{ref_name}/download":
    get:
      description: This feature was introduced in GitLab 8.10
      operationId: getV3ProjectsIdBuildsArtifactsRefNameDownload
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
        - description: The ref from repository
          in: path
          name: ref_name
          required: true
          type: string
        - description: The name for the build
          in: query
          name: job
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: Download the artifacts file from build
      summary: Download the artifacts file from build
      tags:
        - projects
  "/v3/projects/{id}/builds/{build_id}":
    get:
      description: Get a specific build of a project
      operationId: getV3ProjectsIdBuildsBuildId
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
        - description: The ID of a build
          format: int32
          in: path
          name: build_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Get a specific build of a project
          schema:
            $ref: "#/definitions/Build"
      summary: Get a specific build of a project
      tags:
        - projects
  "/v3/projects/{id}/builds/{build_id}/artifacts":
    get:
      description: This feature was introduced in GitLab 8.5
      operationId: getV3ProjectsIdBuildsBuildIdArtifacts
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
        - description: The ID of a build
          format: int32
          in: path
          name: build_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "200":
          description: Download the artifacts file from build
      summary: Download the artifacts file from build
      tags:
        - projects
  "/v3/projects/{id}/builds/{build_id}/artifacts/keep":
    post:
      consumes:
        - application/json
      description: Keep the artifacts to prevent them from being deleted
      operationId: postV3ProjectsIdBuildsBuildIdArtifactsKeep
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
        - description: The ID of a build
          format: int32
          in: path
          name: build_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "201":
          description: Keep the artifacts to prevent them from being deleted
          schema:
            $ref: "#/definitions/Build"
      summary: Keep the artifacts to prevent them from being deleted
      tags:
        - projects
  "/v3/projects/{id}/builds/{build_id}/cancel":
    post:
      consumes:
        - application/json
      description: Cancel a specific build of a project
      operationId: postV3ProjectsIdBuildsBuildIdCancel
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
        - description: The ID of a build
          format: int32
          in: path
          name: build_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "201":
          description: Cancel a specific build of a project
          schema:
            $ref: "#/definitions/Build"
      summary: Cancel a specific build of a project
      tags:
        - projects
  "/v3/projects/{id}/builds/{build_id}/erase":
    post:
      consumes:
        - application/json
      description: Erase build (remove artifacts and build trace)
      operationId: postV3ProjectsIdBuildsBuildIdErase
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
        - description: The ID of a build
          format: int32
          in: path
          name: build_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "201":
          description: Erase build (remove artifacts and build trace)
          schema:
            $ref: "#/definitions/Build"
      summary: Erase build (remove artifacts and build trace)
      tags:
        - projects
  "/v3/projects/{id}/builds/{build_id}/play":
    post:
      consumes:
        - application/json
      description: This feature was added in GitLab 8.11
      operationId: postV3ProjectsIdBuildsBuildIdPlay
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
        - description: The ID of a Build
          format: int32
          in: path
          name: build_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "201":
          description: Trigger a manual build
          schema:
            $ref: "#/definitions/Build"
      summary: Trigger a manual build
      tags:
        - projects
  "/v3/projects/{id}/builds/{build_id}/retry":
    post:
      consumes:
        - application/json
      description: Retry a specific build of a project
      operationId: postV3ProjectsIdBuildsBuildIdRetry
      parameters:
        - description: The ID of a project
          in: path
          name: id
          required: true
          type: string
        - description: The ID of a build
          format: int32
          in: path
          name: build_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        "201":
          description: Retry a specific build of a project
          schema:
            $ref: "#/definitions/Build"
      summary: Retry a specific build of a project
      tags:
        - projects
  "/v3/projects/{id}/builds/{build_id}/trace":
    get:
      description: Get a trace of a specific build of a project
      operationId: getV3ProjectsIdBuildsBuildIdTrace
      parameters:
        - description: The ID of a project
          in: path
[...]
