swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: AutomationManagement
  version: 2015-10-31
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/connectionType.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-connectionType
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connectionTypes":
    get:
      description: Retrieve a list of connection types.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/connectiontypeoperations
      operationId: ConnectionType_ListByAutomationAccount
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ConnectionTypeListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - ConnectionType
      x-ms-examples:
        "Get connection types, first 100":
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount25
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: https://management.azure.com:443/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes?api-version=2015-10-31&$skip=100
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/Azure
                    name: Azure
                    properties:
                      creationTime: 2014-03-18T23:02:40.613+00:00
                      fieldDefinitions:
                        AutomationCertificateName:
                          isEncrypted: false
                          isOptional: false
                          type: System.String
                        SubscriptionID:
                          isEncrypted: false
                          isOptional: false
                          type: System.String
                      isGlobal: true
                      lastModifiedTime: 2014-03-18T23:02:40.74+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/AzureClassicCertificate
                    name: AzureClassicCertificate
                    properties:
                      creationTime: 2016-04-25T23:54:02.65+00:00
                      fieldDefinitions:
                        CertificateAssetName:
                          isEncrypted: false
                          isOptional: false
                          type: System.String
                        SubscriptionId:
                          isEncrypted: false
                          isOptional: false
                          type: System.String
                        SubscriptionName:
                          isEncrypted: false
                          isOptional: false
                          type: System.String
                      isGlobal: true
                      lastModifiedTime: 2016-04-25T23:54:03.167+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/AzureServicePrincipal
                    name: AzureServicePrincipal
                    properties:
                      creationTime: 2016-03-16T23:08:41.853+00:00
                      fieldDefinitions:
                        ApplicationId:
                          isEncrypted: false
                          isOptional: false
                          type: System.String
                        CertificateThumbprint:
                          isEncrypted: false
                          isOptional: false
                          type: System.String
                        SubscriptionId:
                          isEncrypted: false
                          isOptional: false
                          type: System.String
                        TenantId:
                          isEncrypted: false
                          isOptional: false
                          type: System.String
                      isGlobal: true
                      lastModifiedTime: 2016-03-16T23:08:42.407+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT
                    name: myCT
                    properties:
                      creationTime: 2017-03-27T06:25:14.43+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:14.51+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT0
                    name: myCT0
                    properties:
                      creationTime: 2017-03-27T06:25:14.837+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:14.853+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT1
                    name: myCT1
                    properties:
                      creationTime: 2017-03-27T06:25:15.04+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:15.057+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT10
                    name: myCT10
                    properties:
                      creationTime: 2017-03-27T06:25:17.12+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:17.15+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT100
                    name: myCT100
                    properties:
                      creationTime: 2017-03-27T06:25:36.73+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:36.76+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT101
                    name: myCT101
                    properties:
                      creationTime: 2017-03-27T06:25:36.963+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:36.993+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT102
                    name: myCT102
                    properties:
                      creationTime: 2017-03-27T06:25:37.197+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:37.213+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT103
                    name: myCT103
                    properties:
                      creationTime: 2017-03-27T06:25:37.417+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:37.43+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT104
                    name: myCT104
                    properties:
                      creationTime: 2017-03-27T06:25:37.633+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:37.65+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT105
                    name: myCT105
                    properties:
                      creationTime: 2017-03-27T06:25:37.837+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:37.883+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT106
                    name: myCT106
                    properties:
                      creationTime: 2017-03-27T06:25:38.073+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:38.087+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT107
                    name: myCT107
                    properties:
                      creationTime: 2017-03-27T06:25:38.277+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:38.29+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT108
                    name: myCT108
                    properties:
                      creationTime: 2017-03-27T06:25:38.493+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:38.51+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT109
                    name: myCT109
                    properties:
                      creationTime: 2017-03-27T06:25:38.697+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:38.713+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT11
                    name: myCT11
                    properties:
                      creationTime: 2017-03-27T06:25:17.337+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:17.383+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT110
                    name: myCT110
                    properties:
                      creationTime: 2017-03-27T06:25:38.93+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:38.947+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT111
                    name: myCT111
                    properties:
                      creationTime: 2017-03-27T06:25:39.15+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:39.167+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT112
                    name: myCT112
                    properties:
                      creationTime: 2017-03-27T06:25:39.353+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:39.37+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT113
                    name: myCT113
                    properties:
                      creationTime: 2017-03-27T06:25:39.557+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:39.573+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT114
                    name: myCT114
                    properties:
                      creationTime: 2017-03-27T06:25:39.777+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:39.79+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT115
                    name: myCT115
                    properties:
                      creationTime: 2017-03-27T06:25:39.98+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:39.993+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT116
                    name: myCT116
                    properties:
                      creationTime: 2017-03-27T06:25:40.18+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:40.197+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT117
                    name: myCT117
                    properties:
                      creationTime: 2017-03-27T06:25:40.417+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:40.43+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT118
                    name: myCT118
                    properties:
                      creationTime: 2017-03-27T06:25:40.633+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:40.65+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT119
                    name: myCT119
                    properties:
                      creationTime: 2017-03-27T06:25:40.837+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:40.853+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT12
                    name: myCT12
                    properties:
                      creationTime: 2017-03-27T06:25:17.587+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:17.603+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT120
                    name: myCT120
                    properties:
                      creationTime: 2017-03-27T06:25:41.04+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:41.057+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT121
                    name: myCT121
                    properties:
                      creationTime: 2017-03-27T06:25:41.26+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:41.277+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT122
                    name: myCT122
                    properties:
                      creationTime: 2017-03-27T06:25:41.48+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:41.557+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT123
                    name: myCT123
                    properties:
                      creationTime: 2017-03-27T06:25:41.743+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:41.76+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT124
                    name: myCT124
                    properties:
                      creationTime: 2017-03-27T06:25:41.947+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:41.963+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT125
                    name: myCT125
                    properties:
                      creationTime: 2017-03-27T06:25:42.18+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:42.197+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT126
                    name: myCT126
                    properties:
                      creationTime: 2017-03-27T06:25:42.383+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:42.4+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT127
                    name: myCT127
                    properties:
                      creationTime: 2017-03-27T06:25:42.603+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:42.62+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT128
                    name: myCT128
                    properties:
                      creationTime: 2017-03-27T06:25:42.823+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:42.837+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT129
                    name: myCT129
                    properties:
                      creationTime: 2017-03-27T06:25:43.027+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:43.04+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT13
                    name: myCT13
                    properties:
                      creationTime: 2017-03-27T06:25:17.79+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:17.807+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT130
                    name: myCT130
                    properties:
                      creationTime: 2017-03-27T06:25:43.243+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:43.26+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT131
                    name: myCT131
                    properties:
                      creationTime: 2017-03-27T06:25:43.447+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:43.463+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT132
                    name: myCT132
                    properties:
                      creationTime: 2017-03-27T06:25:43.65+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:43.667+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT133
                    name: myCT133
                    properties:
                      creationTime: 2017-03-27T06:25:43.87+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:43.887+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT134
                    name: myCT134
                    properties:
                      creationTime: 2017-03-27T06:25:44.073+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:44.087+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT135
                    name: myCT135
                    properties:
                      creationTime: 2017-03-27T06:25:44.29+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:44.307+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT136
                    name: myCT136
                    properties:
                      creationTime: 2017-03-27T06:25:44.493+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:44.51+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT137
                    name: myCT137
                    properties:
                      creationTime: 2017-03-27T06:25:44.76+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:44.807+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT138
                    name: myCT138
                    properties:
                      creationTime: 2017-03-27T06:25:45.01+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:45.027+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT139
                    name: myCT139
                    properties:
                      creationTime: 2017-03-27T06:25:45.213+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:45.23+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT14
                    name: myCT14
                    properties:
                      creationTime: 2017-03-27T06:25:17.993+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:18.01+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT140
                    name: myCT140
                    properties:
                      creationTime: 2017-03-27T06:25:45.433+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:45.463+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT141
                    name: myCT141
                    properties:
                      creationTime: 2017-03-27T06:25:45.65+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:45.667+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT142
                    name: myCT142
                    properties:
                      creationTime: 2017-03-27T06:25:45.883+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:45.917+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT143
                    name: myCT143
                    properties:
                      creationTime: 2017-03-27T06:25:46.103+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:46.133+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT144
                    name: myCT144
                    properties:
                      creationTime: 2017-03-27T06:25:46.34+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:46.353+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT145
                    name: myCT145
                    properties:
                      creationTime: 2017-03-27T06:25:46.54+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:46.557+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT146
                    name: myCT146
                    properties:
                      creationTime: 2017-03-27T06:25:46.76+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:46.777+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT147
                    name: myCT147
                    properties:
                      creationTime: 2017-03-27T06:25:46.963+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:46.98+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT148
                    name: myCT148
                    properties:
                      creationTime: 2017-03-27T06:25:47.197+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:47.213+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT149
                    name: myCT149
                    properties:
                      creationTime: 2017-03-27T06:25:47.417+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:47.43+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT15
                    name: myCT15
                    properties:
                      creationTime: 2017-03-27T06:25:18.213+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:18.227+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT150
                    name: myCT150
                    properties:
                      creationTime: 2017-03-27T06:25:47.637+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:47.65+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT151
                    name: myCT151
                    properties:
                      creationTime: 2017-03-27T06:25:47.853+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:47.87+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT152
                    name: myCT152
                    properties:
                      creationTime: 2017-03-27T06:25:48.103+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:48.167+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT153
                    name: myCT153
                    properties:
                      creationTime: 2017-03-27T06:25:48.37+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:48.4+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT154
                    name: myCT154
                    properties:
                      creationTime: 2017-03-27T06:25:48.59+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:48.667+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT155
                    name: myCT155
                    properties:
                      creationTime: 2017-03-27T06:25:48.887+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:48.93+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT156
                    name: myCT156
                    properties:
                      creationTime: 2017-03-27T06:25:49.12+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:49.167+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT157
                    name: myCT157
                    properties:
                      creationTime: 2017-03-27T06:25:49.37+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:49.4+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT158
                    name: myCT158
                    properties:
                      creationTime: 2017-03-27T06:25:49.603+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:49.637+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT159
                    name: myCT159
                    properties:
                      creationTime: 2017-03-27T06:25:49.84+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:49.87+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT16
                    name: myCT16
                    properties:
                      creationTime: 2017-03-27T06:25:18.417+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:18.43+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT160
                    name: myCT160
                    properties:
                      creationTime: 2017-03-27T06:25:50.09+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:50.103+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT161
                    name: myCT161
                    properties:
                      creationTime: 2017-03-27T06:25:50.29+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:50.307+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT162
                    name: myCT162
                    properties:
                      creationTime: 2017-03-27T06:25:50.493+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:50.51+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT163
                    name: myCT163
                    properties:
                      creationTime: 2017-03-27T06:25:50.697+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:50.713+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT164
                    name: myCT164
                    properties:
                      creationTime: 2017-03-27T06:25:50.917+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:50.933+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT165
                    name: myCT165
                    properties:
                      creationTime: 2017-03-27T06:25:51.12+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:51.137+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT166
                    name: myCT166
                    properties:
                      creationTime: 2017-03-27T06:25:51.34+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:51.353+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT167
                    name: myCT167
                    properties:
                      creationTime: 2017-03-27T06:25:51.54+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:51.557+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT168
                    name: myCT168
                    properties:
                      creationTime: 2017-03-27T06:25:51.743+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:51.76+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT169
                    name: myCT169
                    properties:
                      creationTime: 2017-03-27T06:25:51.98+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:51.98+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT17
                    name: myCT17
                    properties:
                      creationTime: 2017-03-27T06:25:18.62+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:18.633+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT170
                    name: myCT170
                    properties:
                      creationTime: 2017-03-27T06:25:52.213+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:52.23+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT171
                    name: myCT171
                    properties:
                      creationTime: 2017-03-27T06:25:52.417+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:52.433+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT172
                    name: myCT172
                    properties:
                      creationTime: 2017-03-27T06:25:52.637+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:52.65+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT173
                    name: myCT173
                    properties:
                      creationTime: 2017-03-27T06:25:52.84+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:52.87+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT174
                    name: myCT174
                    properties:
                      creationTime: 2017-03-27T06:25:53.057+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:53.073+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT175
                    name: myCT175
                    properties:
                      creationTime: 2017-03-27T06:25:53.26+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:53.29+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT18
                    name: myCT18
                    properties:
                      creationTime: 2017-03-27T06:25:18.82+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:18.837+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT19
                    name: myCT19
                    properties:
                      creationTime: 2017-03-27T06:25:19.04+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:19.057+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT2
                    name: myCT2
                    properties:
                      creationTime: 2017-03-27T06:25:15.26+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:15.273+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT20
                    name: myCT20
                    properties:
                      creationTime: 2017-03-27T06:25:19.243+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:19.26+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT21
                    name: myCT21
                    properties:
                      creationTime: 2017-03-27T06:25:19.463+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:19.477+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT22
                    name: myCT22
                    properties:
                      creationTime: 2017-03-27T06:25:19.667+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:19.68+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT23
                    name: myCT23
                    properties:
                      creationTime: 2017-03-27T06:25:19.883+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:19.9+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT24
                    name: myCT24
                    properties:
                      creationTime: 2017-03-27T06:25:20.103+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:20.12+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT25
                    name: myCT25
                    properties:
                      creationTime: 2017-03-27T06:25:20.4+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:20.417+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT26
                    name: myCT26
                    properties:
                      creationTime: 2017-03-27T06:25:20.65+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:20.667+00:00
              headers: {}
        "Get connection types, next 100":
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount25
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT27
                    name: myCT27
                    properties:
                      creationTime: 2017-03-27T06:25:20.87+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
                          type: string
                      isGlobal: false
                      lastModifiedTime: 2017-03-27T06:25:20.883+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount25/connectionTypes/myCT28
                    name: myCT28
                    properties:
                      creationTime: 2017-03-27T06:25:21.07+00:00
                      fieldDefinitions:
                        myBoolField:
                          isEncrypted: false
                          isOptional: false
                          type: bool
                        myStringField:
                          isEncrypted: false
                          isOptional: false
                          type: string
                        myStringFieldEncrypted:
                          isEncrypted: true
                          isOptional: false
[...]
