swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2018-11-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-11-01/applicationSecurityGroup.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-applicationSecurityGroup
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/applicationSecurityGroups":
    get:
      description: Gets all application security groups in a subscription.
      operationId: ApplicationSecurityGroups_ListAll
      parameters:
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of application security group resources.
          schema:
            $ref: "#/definitions/ApplicationSecurityGroupListResult"
      tags:
        - ApplicationSecurityGroups
      x-ms-examples:
        List all application security groups:
          parameters:
            api-version: 2018-11-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationSecurityGroups/asg1
                    location: westus
                    name: asg1
                    properties:
                      provisioningState: Succeeded
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                    type: Microsoft.Network/applicationSecurityGroups
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationSecurityGroups/asg2
                    location: westus
                    name: asg2
                    properties:
                      provisioningState: Succeeded
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                    type: Microsoft.Network/applicationSecurityGroups
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationSecurityGroups":
    get:
      description: Gets all the application security groups in a resource group.
      operationId: ApplicationSecurityGroups_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a list of application security group resources.
          schema:
            $ref: "#/definitions/ApplicationSecurityGroupListResult"
      tags:
        - ApplicationSecurityGroups
      x-ms-examples:
        List load balancers in resource group:
          parameters:
            api-version: 2018-11-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationSecurityGroups/asg1
                    location: westus
                    name: asg1
                    properties:
                      provisioningState: Succeeded
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                    type: Microsoft.Network/applicationSecurityGroups
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationSecurityGroups/asg2
                    location: westus
                    name: asg2
                    properties:
                      provisioningState: Succeeded
                      resourceGuid: 00000000-0000-0000-0000-000000000000
                    type: Microsoft.Network/applicationSecurityGroups
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/applicationSecurityGroups/{applicationSecurityGroupName}":
    delete:
      description: Deletes the specified application security group.
      operationId: ApplicationSecurityGroups_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application security group.
          in: path
          name: applicationSecurityGroupName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Request successful. Resource does not exist.
      tags:
        - ApplicationSecurityGroups
      x-ms-examples:
        Delete application security group:
          parameters:
            api-version: 2018-11-01
            applicationSecurityGroupName: test-asg
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets information about the specified application security group.
      operationId: ApplicationSecurityGroups_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application security group.
          in: path
          name: applicationSecurityGroupName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the specified application security group resource.
          schema:
            $ref: "#/definitions/ApplicationSecurityGroup"
      tags:
        - ApplicationSecurityGroups
      x-ms-examples:
        Get application security group:
          parameters:
            api-version: 2018-11-01
            applicationSecurityGroupName: test-asg
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationSecurityGroups/test-asg
                location: westus
                name: test-asg
                properties:
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                type: Microsoft.Network/applicationSecurityGroups
    patch:
      description: Updates an application security group's tags.
      operationId: ApplicationSecurityGroups_UpdateTags
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application security group.
          in: path
          name: applicationSecurityGroupName
          required: true
          type: string
        - description: Parameters supplied to update application security group tags.
          in: body
          name: parameters
          required: true
          schema:
            description: Tags object for patch operations.
            properties:
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting ApplicationSecurityGroup resource.
          schema:
            $ref: "#/definitions/ApplicationSecurityGroup"
      tags:
        - applicationSecurityGroups
      x-ms-examples:
        Update application security group tags:
          parameters:
            api-version: 2018-11-01
            applicationSecurityGroupName: test-asg
            location: westus
            parameters:
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationSecurityGroups/test-asg
                location: westus
                name: test-asg
                properties:
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Network/applicationSecurityGroups
      x-ms-long-running-operation: true
    put:
      description: Creates or updates an application security group.
      operationId: ApplicationSecurityGroups_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the application security group.
          in: path
          name: applicationSecurityGroupName
          required: true
          type: string
        - description: Parameters supplied to the create or update ApplicationSecurityGroup operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApplicationSecurityGroup"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Update successful. The operation returns the resulting application security group resource.
          schema:
            $ref: "#/definitions/ApplicationSecurityGroup"
        "201":
          description: Create successful. The operation returns the resulting application security group resource.
          schema:
            $ref: "#/definitions/ApplicationSecurityGroup"
      tags:
        - ApplicationSecurityGroups
      x-ms-examples:
        Create application security group:
          parameters:
            api-version: 2018-11-01
            applicationSecurityGroupName: test-asg
            parameters:
              location: westus
              properties: {}
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationSecurityGroups/test-asg
                location: westus
                name: test-asg
                properties:
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                type: Microsoft.Network/applicationSecurityGroups
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/applicationSecurityGroups/test-asg
                location: westus
                name: test-asg
                properties:
                  provisioningState: Succeeded
                  resourceGuid: 00000000-0000-0000-0000-000000000000
                type: Microsoft.Network/applicationSecurityGroups
      x-ms-long-running-operation: true
definitions:
  ApplicationSecurityGroup:
    allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: An application security group in a resource group.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/ApplicationSecurityGroupPropertiesFormat"
        description: Properties of the application security group.
        x-ms-client-flatten: true
  ApplicationSecurityGroupListResult:
    description: A list of application security groups.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        readOnly: true
        type: string
      value:
        description: A list of application security groups.
        items:
          $ref: "#/definitions/ApplicationSecurityGroup"
        type: array
  ApplicationSecurityGroupPropertiesFormat:
    description: Application security group properties.
    properties:
      provisioningState:
        description: "The provisioning state of the application security group resource. Possible values are: 'Succeeded', 'Updating', 'Deleting', and 'Failed'."
        readOnly: true
        type: string
      resourceGuid:
        description: The resource GUID property of the application security group resource. It uniquely identifies a resource, even if the user changes its name or migrate the resource across subscriptions or resource groups.
        readOnly: true
        type: string
