{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "adminmanagement.local.azurestack.external",
  "info": {
    "description": "The Admin Subscriptions Management Client.",
    "title": "SubscriptionsManagementClient",
    "version": "2015-11-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/OfferDelegation.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "azsadmin-OfferDelegation",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 flow",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "NewOfferDelegationParameter": {
      "description": "New offer delegation parameter.",
      "in": "body",
      "name": "newOfferDelegation",
      "required": true,
      "schema": {
        "$ref": "#/definitions/OfferDelegation"
      },
      "x-ms-parameter-location": "method"
    },
    "OfferDelegationParameter": {
      "description": "Name of a offer delegation.",
      "in": "path",
      "name": "offerDelegationName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/offerDelegations": {
      "get": {
        "description": "Get the list of offer delegations.",
        "operationId": "OfferDelegations_List",
        "parameters": [
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The resource group the resource is located under.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Name of an offer.",
            "in": "path",
            "name": "offer",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "default": "2015-11-01",
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OfferDelegationList"
            }
          }
        },
        "tags": [
          "OfferDelegations"
        ],
        "x-ms-examples": {
          "Get the list of offer delegations.": {
            "parameters": {
              "api-version": "2015-11-01",
              "location": "local",
              "offer": "Default Offer",
              "resourceGroupName": "RG",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/resourceGroups/cnur9852subscrrg374/providers/Microsoft.Subscriptions.Admin/offers/cnur9852tenantoffer374/offerDelegations/testOfferDelegation",
                      "location": "local",
                      "name": "cnur9852tenantoffer374/testOfferDelegation",
                      "properties": {
                        "subscriptionId": "9e8052f2-70df-44c0-8300-f97949ca75f0"
                      },
                      "type": "Microsoft.Subscriptions.Admin/offers/offerDelegations"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/offerDelegations/{offerDelegationName}": {
      "delete": {
        "description": "Delete the specified offer delegation.",
        "operationId": "OfferDelegations_Delete",
        "parameters": [
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The resource group the resource is located under.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Name of an offer.",
            "in": "path",
            "name": "offer",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/OfferDelegationParameter"
          },
          {
            "default": "2015-11-01",
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "OfferDelegations"
        ],
        "x-ms-examples": {
          "Delete the specified offer delegation.": {
            "parameters": {
              "api-version": "2015-11-01",
              "location": "local",
              "offer": "cnur9852tenantoffer374",
              "offerDelegationName": "testOfferDelegation",
              "resourceGroupName": "cnur9852subscrrg374",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "description": "Get the specified offer delegation.",
        "operationId": "OfferDelegations_Get",
        "parameters": [
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The resource group the resource is located under.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Name of an offer.",
            "in": "path",
            "name": "offer",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/OfferDelegationParameter"
          },
          {
            "default": "2015-11-01",
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OfferDelegation"
            }
          }
        },
        "tags": [
          "OfferDelegations"
        ],
        "x-ms-examples": {
          "Get the specified offer delegation.": {
            "parameters": {
              "api-version": "2015-11-01",
              "location": "local",
              "offer": "cnur9852tenantoffer374",
              "offerDelegationName": "testOfferDelegation",
              "resourceGroupName": "cnur9852subscrrg374",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/resourceGroups/cnur9852subscrrg374/providers/Microsoft.Subscriptions.Admin/offers/cnur9852tenantoffer374/offerDelegations/testOfferDelegation",
                  "location": "local",
                  "name": "cnur9852tenantoffer374/testOfferDelegation",
                  "properties": {
                    "subscriptionId": "9e8052f2-70df-44c0-8300-f97949ca75f0"
                  },
                  "type": "Microsoft.Subscriptions.Admin/offers/offerDelegations"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Create or update the offer delegation.",
        "operationId": "OfferDelegations_CreateOrUpdate",
        "parameters": [
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The resource group the resource is located under.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Name of an offer.",
            "in": "path",
            "name": "offer",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/OfferDelegationParameter"
          },
          {
            "default": "2015-11-01",
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/NewOfferDelegationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OfferDelegation"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OfferDelegation"
            }
          }
        },
        "tags": [
          "OfferDelegations"
        ],
        "x-ms-examples": {
          "Create or update the offer delegation.": {
            "parameters": {
              "api-version": "2015-11-01",
              "location": "local",
              "newOfferDelegation": "newDelegationName",
              "offer": "cnur9852tenantoffer374",
              "offerDelegationName": "testOfferDelegation",
              "resourceGroupName": "cnur9852subscrrg374",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/resourceGroups/cnur9852subscrrg374/providers/Microsoft.Subscriptions.Admin/offers/cnur9852tenantoffer374/offerDelegations/testOfferDelegation",
                  "location": "local",
                  "name": "cnur9852tenantoffer374/testOfferDelegation",
                  "properties": {
                    "subscriptionId": "9e8052f2-70df-44c0-8300-f97949ca75f0"
                  },
                  "type": "Microsoft.Subscriptions.Admin/offers/offerDelegations"
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/2ac7d4ad-fece-4cf0-bc29-e8678897fa75/resourceGroups/cnur9852subscrrg374/providers/Microsoft.Subscriptions.Admin/offers/cnur9852tenantoffer374/offerDelegations/testOfferDelegation",
                  "location": "local",
                  "name": "cnur9852tenantoffer374/testOfferDelegation",
                  "properties": {
                    "subscriptionId": "9e8052f2-70df-44c0-8300-f97949ca75f0"
                  },
                  "type": "Microsoft.Subscriptions.Admin/offers/offerDelegations"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OfferDelegation": {
      "allOf": [
        {
          "description": "Base Resource Object",
          "properties": {
            "id": {
              "description": "URI of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "location": {
              "description": "Location of the resource",
              "type": "string"
            },
            "name": {
              "description": "Name of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "tags": {
              "additionalProperties": {
                "type": "string"
              },
              "description": "List of key-value pairs.",
              "readOnly": true,
              "type": "object"
            },
            "type": {
              "description": "Type of resource.",
              "readOnly": true,
              "type": "string"
            }
          },
          "type": "object",
          "x-ms-azure-resource": true
        }
      ],
      "description": "Offer delegation.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OfferDelegationProperties",
          "description": "Properties for an offer.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "OfferDelegationList": {
      "description": ".",
      "properties": {
        "nextLink": {
          "description": "Continuation token",
          "type": "string"
        },
        "value": {
          "description": "Array of usage aggregates.",
          "items": {
            "$ref": "#/definitions/OfferDelegation"
          },
          "type": "array"
        }
      }
    },
    "OfferDelegationProperties": {
      "description": "Properties for an offer delegation.",
      "properties": {
        "subscriptionId": {
          "description": "Identifier of the subscription receiving the delegated offer.",
          "type": "string"
        }
      },
      "type": "object"
    }
  }
}