swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Azure Application Insights workbook template type.
  title: ApplicationInsightsManagementClient
  version: 2019-10-17-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/workbookTemplates_API.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: applicationinsights-workbookTemplates_API
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  WorkbookTemplateResourceNameParameter:
    description: The name of the Application Insights component resource.
    in: path
    name: resourceName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroup/{resourceGroupName}/providers/microsoft.insights/workbooktemplates":
    get:
      description: Get all Workbook templates defined within a specified resource group.
      operationId: WorkbookTemplates_ListByResourceGroup
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: A list containing 0 or more workbook template definitions.
          schema:
            $ref: "#/definitions/WorkbookTemplatesListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/WorkbookError"
      x-ms-examples:
        WorkbookTemplatesList:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            subscriptionId: 6b643656-33eb-422f-aee8-3ac145d124af
          responses:
            "200":
              body:
                - id: /subscriptions/6b643656-33eb-422f-aee8-3ac145d124af/resourceGroups/my-resource-group/providers/microsoft.insights/workbooktemplates/my-resource-name
                  location: westus
                  name: my-resource-name
                  properties:
                    author: Contoso
                    galleries:
                      - category: Failures
                        name: Simple Template
                        order: 100
                        resourceType: microsoft.insights/components
                        type: tsg
                    priority: 1
                    templateData: {}
                  tags: null
                  type: microsoft.insights/workbooktemplate
                - id: /subscriptions/6b643656-33eb-422f-aee8-3ac145d124af/resourceGroups/my-resource-group/providers/microsoft.insights/workbooktemplates/my-resource-name2
                  location: westus
                  name: my-resource-name2
                  properties:
                    author: Contoso
                    galleries:
                      - category: Failures
                        name: Simple Template 2
                        order: 100
                        resourceType: microsoft.insights/components
                        type: tsg
                    priority: 1
                    templateData: {}
                  tags: null
                  type: microsoft.insights/workbooktemplate
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroup/{resourceGroupName}/providers/microsoft.insights/workbooktemplates/{resourceName}":
    delete:
      description: Delete a workbook template.
      operationId: WorkbookTemplates_Delete
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/WorkbookTemplateResourceNameParameter"
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: The workbook template has been successfully deleted.
        "204":
          description: The resource doesn't exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/WorkbookError"
      x-ms-examples:
        WorkbookTemplateDelete:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            resourceName: my-template-resource
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
    get:
      description: Get a single workbook template by its resourceName.
      operationId: WorkbookTemplates_Get
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/WorkbookTemplateResourceNameParameter"
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: A workbook template definition.
          schema:
            $ref: "#/definitions/WorkbookTemplate"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/WorkbookError"
      x-ms-examples:
        WorkbookTemplateGet:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            resourceName: my-resource-name
            subscriptionId: 6b643656-33eb-422f-aee8-3ac145d124af
          responses:
            "200":
              body:
                id: /subscriptions/6b643656-33eb-422f-aee8-3ac145d124af/resourceGroups/my-resource-group/providers/microsoft.insights/workbooktemplates/my-resource-name
                location: westus
                name: my-resource-name
                properties:
                  author: Contoso
                  galleries:
                    - category: Failures
                      name: Simple Template
                      order: 100
                      resourceType: microsoft.insights/components
                      type: tsg
                  priority: 1
                  templateData: {}
                tags: null
                type: microsoft.insights/workbooktemplate
    patch:
      description: Updates a workbook template that has already been added.
      operationId: WorkbookTemplates_Update
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/WorkbookTemplateResourceNameParameter"
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: Properties that need to be specified to patch a workbook template.
          in: body
          name: WorkbookTemplateUpdateParameters
          required: false
          schema:
            $ref: "#/definitions/WorkbookTemplateUpdateParameters"
      responses:
        "200":
          description: The workbook template definition updated.
          schema:
            $ref: "#/definitions/WorkbookTemplate"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/WorkbookError"
      x-ms-examples:
        WorkbookTemplateUpdate:
          parameters:
            api-version: 2018-06-17-preview
            resourceGroupName: my-resource-group
            resourceName: my-template-resource
            subscriptionId: 6b643656-33eb-422f-aee8-3ac145d124af
            workbookTemplateProperties:
              location: west us
              name: display-name-of-template
              properties:
                author: Contoso
                galleries:
                  - category: Failures
                    name: Simple Template
                    order: 100
                    resourceType: microsoft.insights/components
                    type: tsg
                priority: 1
                templateData: {}
              tags: null
              type: microsoft.insights/workbooktemplates
          responses:
            "200":
              body:
                id: /subscriptions/50359d91-7b9d-4823-85af-eb298a61ba95/resourceGroups/testrg/providers/microsoft.insights/workbooktemplates/testtemplate2
                location: westeurope
                name: testtemplate2
                properties:
                  author: Contoso
                  galleries:
                    - category: Failures
                      name: Simple Template
                      order: 100
                      resourceType: microsoft.insights/components
                      type: tsg
                  localized: null
                  priority: 1
                  templateData: {}
                tags: null
                type: microsoft.insights/workbooktemplates
    put:
      description: Create a new workbook template.
      operationId: WorkbookTemplates_CreateOrUpdate
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/WorkbookTemplateResourceNameParameter"
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: Properties that need to be specified to create a new workbook.
          in: body
          name: workbookTemplateProperties
          required: true
          schema:
            $ref: "#/definitions/WorkbookTemplate"
      responses:
        "200":
          description: The newly created workbook template.
          schema:
            $ref: "#/definitions/WorkbookTemplate"
        "201":
          description: The newly created workbook template.
          schema:
            $ref: "#/definitions/WorkbookTemplate"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/WorkbookError"
      x-ms-examples:
        WorkbookTemplateAdd:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            resourceName: testtemplate2
            subscriptionId: subid
            workbookTemplateProperties:
              location: west us
              properties:
                author: Contoso
                galleries:
                  - category: Failures
                    name: Simple Template
                    order: 100
                    resourceType: microsoft.insights/components
                    type: tsg
                priority: 1
                templateData: {}
              tags: null
          responses:
            "200":
              body:
                id: /subscriptions/50359d91-7b9d-4823-85af-eb298a61ba95/resourceGroups/testrg/providers/microsoft.insights/workbooktemplates/testtemplate2
                location: westeurope
                name: testtemplate2
                properties:
                  author: Contoso
                  galleries:
                    - category: Failures
                      name: Simple Template
                      order: 100
                      resourceType: microsoft.insights/components
                      type: tsg
                  localized: null
                  priority: 1
                  templateData: {}
                tags: null
                type: microsoft.insights/workbooktemplates
            "201":
              body:
                id: /subscriptions/50359d91-7b9d-4823-85af-eb298a61ba95/resourceGroups/testrg/providers/microsoft.insights/workbooktemplates/testtemplate2
                location: westeurope
                name: testtemplate2
                properties:
                  author: Contoso
                  galleries:
                    - category: Failures
                      name: Simple Template
                      order: 100
                      resourceType: microsoft.insights/components
                      type: tsg
                  localized: null
                  priority: 1
                  templateData: {}
                tags: null
                type: microsoft.insights/workbooktemplates
definitions:
  ErrorFieldContract:
    description: Error Field contract.
    properties:
      code:
        description: Property level error code.
        type: string
      message:
        description: Human-readable representation of property-level error.
        type: string
      target:
        description: Property name.
        type: string
  WorkbookError:
    description: Error message body that will indicate why the operation failed.
    properties:
      code:
        description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
        type: string
      details:
        description: The list of invalid fields send in request, in case of validation error.
        items:
          $ref: "#/definitions/ErrorFieldContract"
        type: array
      message:
        description: Human-readable representation of the error.
        type: string
  WorkbookTemplate:
    allOf:
      - $ref: "#/definitions/WorkbookTemplateResource"
    description: An Application Insights workbook template definition.
    properties:
      properties:
        $ref: "#/definitions/WorkbookTemplateProperties"
        description: Metadata describing a workbook template for an Azure resource.
        x-ms-client-flatten: true
  WorkbookTemplateGallery:
    description: Gallery information for a workbook template.
    properties:
      category:
        description: Category for the gallery.
        type: string
      name:
        description: Name of the workbook template in the gallery.
        type: string
      order:
        description: Order of the template within the gallery.
        type: integer
      resourceType:
        description: Azure resource type supported by the gallery.
        type: string
      type:
        description: Type of workbook supported by the workbook template.
        type: string
  WorkbookTemplateLocalizedGallery:
    description: Localized template data and gallery information.
    properties:
      galleries:
        description: Workbook galleries supported by the template.
        items:
          $ref: "#/definitions/WorkbookTemplateGallery"
        type: array
      templateData:
        description: Valid JSON object containing workbook template payload.
        type: object
  WorkbookTemplateProperties:
    description: Properties that contain a workbook template.
    properties:
      author:
        description: Information about the author of the workbook template.
        type: string
      galleries:
        description: Workbook galleries supported by the template.
        items:
          $ref: "#/definitions/WorkbookTemplateGallery"
        type: array
      localized:
        additionalProperties:
          items:
            $ref: "#/definitions/WorkbookTemplateLocalizedGallery"
          type: array
        description: Key value pair of localized gallery. Each key is the locale code of languages supported by the Azure portal.
        type: object
      priority:
        description: Priority of the template. Determines which template to open when a workbook gallery is opened in viewer mode.
        type: integer
      templateData:
        description: Valid JSON object containing workbook template payload.
        type: object
    required:
      - templateData
      - galleries
  WorkbookTemplateResource:
    description: An azure resource object
    properties:
      id:
        description: Azure resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
        x-ms-mutability:
          - create
          - read
      name:
        description: Azure resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Azure resource type
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  WorkbookTemplateUpdateParameters:
    description: The parameters that can be provided when updating workbook template.
    properties:
      properties:
        $ref: "#/definitions/WorkbookTemplateProperties"
        description: Metadata describing a workbook for an Azure resource.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
  WorkbookTemplatesListResult:
    description: WorkbookTemplate list result.
    properties:
      value:
        description: An array of workbook templates.
        items:
          $ref: "#/definitions/WorkbookTemplate"
        type: array
