swagger: "2.0"
schemes:
  - https
host: echodata.epa.gov
basePath: /echo
info:
  contact:
    name: U.S. EPA, OECA Integration, Targeting and Access Branch
    url: https://echo.epa.gov/resources/general-info/contact-us
  description: |-
    Enforcement and Compliance History Online (ECHO) is a tool developed and maintained by EPA's Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated compliance and enforcement information for over 1 million regulated facilities nationwide.

    Air Rest Services provides multiple service endpoints, each with specific capabilities, to search and retrieve data on facilities regulated under the Clean Air Act (CAA). The returned results reflect data drawn from EPA's ICIS-Air database.

    The get_facilities, get_map, get_qid, and get_download end points are meant to be used together, while the enhanced get_facility_info end point is self contained.
    The get_facility_info end point returns either an array of state, county or zip clusters with summary statistics per cluster or an array of facilities.

    The recommended use scenario for get_facilities, get_qid, get_map, and get_downoad is:

    <b>1)</b>  Use get_facilities to validate passed query parameters, obtain summary statistics and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for approximately 30 minutes.
    <b>2)</b>  Use get_qid, with the returned QID, to paginate through arrays of facility results.
    <b>3)</b>  Use get_map, with the returned QID, to zoom in/out and pan on the clustered and individual facility coordinates that meet the QID query criteria.
    <b>4)</b>  Use get_download, with the returned QID, to generate a Comma Separated Value (CSV) file of facility information that meets the QID query criteria.

    Use the qcolumns parameter to customize your search results.  Use the Metadata service endpoint for a list of available output objects, their Column Ids, and their definitions to help you build your customized output. 

    Additional ECHO Resources:   <a href="https://echo.epa.gov/tools/web-services">Web Services</a>, <a href="https://echo.epa.gov/resources/echo-data/about-the-data">About ECHO's Data</a>, <a href="https://echo.epa.gov/tools/data-downloads">Data Downloads</a>
  license:
    name: U.S. Public Domain License
    url: https://edg.epa.gov/EPA_Data_License.html
  title: U.S. EPA Enforcement and Compliance History Online (ECHO) - Clean Air Act
  version: 2019.10.15
  x-apisguru-categories:
    - open_data
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_632233890594299904_DgRDU6dx_400x400.png
  x-origin:
    - format: swagger
      url: https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=AIR
      version: "2.0"
  x-providerName: epa.gov
  x-serviceName: air
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
  - application/xml
parameters:
  f.c1_lat:
    description: Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: c1_lat
    required: false
    type: number
  f.c1_long:
    description: Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: c1_long
    required: false
    type: number
  f.c2_lat:
    description: Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: c2_lat
    required: false
    type: number
  f.c2_long:
    description: Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: c2_long
    required: false
    type: number
  f.callback:
    description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
    in: formData
    name: callback
    required: false
    type: string
  f.descending:
    description: Output Sort Column Descending Flag.  Enter Y to column identified in the newsort parameter descending.  Enter N to use ascending sort order. Used only when newsort parameter is populated.
    enum:
      - Y
      - N
    in: formData
    name: descending
    required: false
    type: string
  f.maplist:
    description: Map List Flag.  Provide a Y to return mappable coordinates representing the full geographic extent of the queryset (all facilities that met the selection criteria).
    enum:
      - Y
      - N
    in: formData
    name: maplist
    required: false
    type: string
  f.newsort:
    description: Output Sort Column.  Enter the number of the column on which the data will be sorted. If unpopulated results will sort on the first column.
    in: formData
    name: newsort
    required: false
    type: number
  f.p_act:
    description: Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.
    enum:
      - Y
      - N
      - A
    in: formData
    name: p_act
    required: false
    type: string
  f.p_agoo:
    description: Indicates whether to AND or OR the Owner/Operator parameter (p_owop) and the federal agency code (p_fa) parameters.
    enum:
      - AND
      - OR
    in: formData
    name: p_agoo
    required: false
    type: string
  f.p_ar:
    description: |-
      Associated EPA Air Reports Program Filter.  Enter multiple values as a comma-delimited list.  Valid values are:
      - TRI = Toxic Release Inventory.
      - GHG = Green House Gas Reporter.
      - EIS = Emission Inventory System.
      - CAMD = Clean Air Markets Program Reporter.
    in: formData
    name: p_ar
    required: false
    type: string
  f.p_c1lat:
    description: In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: p_c1lat
    required: false
    type: number
  f.p_c1lon:
    description: In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: p_c1lon
    required: false
    type: number
  f.p_c2lat:
    description: In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: p_c2lat
    required: false
    type: number
  f.p_c2lon:
    description: In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: p_c2lon
    required: false
    type: number
  f.p_cifdi:
    description: Compliance issuess found during inspection.
    enum:
      - Any
      - Yes
      - No
      - Undetermined
    in: formData
    name: p_cifdi
    required: false
    type: string
  f.p_co:
    description: Facility County Filter. Provide a single county name in combination with a state value provided via p_st.
    in: formData
    name: p_co
    required: false
    type: string
  f.p_ct:
    description: Facility City Filter. Enter a single case-insensitive city name to filter results.
    in: formData
    name: p_ct
    required: false
    type: string
  f.p_decouple:
    description: Decouple Inspection Code Search Flag.  Enter "Y" to search for inspection code types with p_pityp without respect to the date range search provided with p_ysl* parameters.
    enum:
      - Y
      - N
    in: formData
    name: p_decouple
    required: false
    type: string
  f.p_des:
    description: Universe Designation Limiter.  Enter one or more universe designation codes.  Provide multiple values as a comma-delimited list.  Use code "TSDF" to return the full enforcement TSDF universe and "Operating TSDF" to return the operating TSDF universe.
    in: formData
    name: p_des
    required: false
    type: string
  f.p_ejscreen:
    description: Enter "Y" to limit facilities to Census block groups where one of more Environmental Justice indexes above 80th percentile.
    in: formData
    name: p_ejscreen
    required: false
    type: string
  f.p_ejscreen_over80cnt:
    description: The number of Environmenmt Justice Indicators above the 80th percentile.  Valid values are 1 through 11.
    enum:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      - "6"
      - "7"
      - "8"
      - "9"
      - "10"
      - "11"
    in: formData
    name: p_ejscreen_over80cnt
    required: false
    type: string
  f.p_fa:
    description: Federal Agency. 1 character or 5-character values; may contain multiple comma-separated values. ALL will retrieve all facilities where the federal agency code is not null.  Use the Federal Agencies lookup service to obtain a list of values.
    in: formData
    name: p_fa
    required: false
    type: string
  f.p_fac_ico:
    description: FRS tribal land code flag.  Enter "Y" or "N" to include or exclude facilities based on FRS tribal land code.
    enum:
      - Y
      - N
    in: formData
    name: p_fac_ico
    required: false
    type: string
  f.p_fac_icos:
    description: FRS tribal land spatial flag.  Enter "Y" or "N" to include or exclude facilities based on FRS tribal land spatial flag.
    in: formData
    name: p_fac_icos
    required: false
    type: string
  f.p_fea:
    description: |-
      Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
    in: formData
    name: p_fea
    required: false
    type: string
  f.p_feaa:
    description: |-
      Agency associated with Formal Enforcement Actions:
      - E = EPA
      - S = State
      - A = All
    enum:
      - A
      - E
      - S
    in: formData
    name: p_feaa
    required: false
    type: string
  f.p_feay:
    description: Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: formData
    name: p_feay
    required: false
    type: number
  f.p_fips:
    description: FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059.
    in: formData
    name: p_fips
    required: false
    type: string
  f.p_fn:
    description: Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers.
    in: formData
    name: p_fn
    required: false
    type: string
  f.p_fntype:
    description: |-
      Controls type of text search performed on facility name with parameter p_fn.
      - EXACT = Find facilities having the exact provided name(s).
      - BEGINS = Find facilities with names starting with the provided term(s).
      - ALL = Find facilities using Oracle text search terms.
      - CONTAINS = 
    enum:
      - ALL
      - CONTAINS
      - EXACT
      - BEGINS
    in: formData
    name: p_fntype
    required: false
    type: string
  f.p_frs:
    description: Facility Registry Service ID Filter. Enter a single 12-digit FRS identifier to filter results.
    in: formData
    name: p_frs
    required: false
    type: string
  f.p_ghg_amt:
    description: Green House Gas (GHG) CO2 Equivalent Formatted Release Amount.  First 2 characters must contain GT (greater than) followed by a number.
    enum:
      - None
      - "0"
      - GT0
      - GT10000
      - GT25000
      - GT250000
      - GT1000000
    in: formData
    name: p_ghg_amt
    required: false
    type: string
  f.p_ghg_any_amt:
    description: Green House Gas (GHG) C02 Equivalent Custom Amount.  The C02E value reported for the provided category, will be greater or equal to the amount provided.
    in: formData
    name: p_ghg_any_amt
    required: false
    type: number
  f.p_ghg_cat:
    description: Green House Gas (GHG) Gas Code Category.  Must be used with either a formatted (p_ghg_amt) or custom (p_ghg_any_amt) release amount.
    enum:
      - ALL
      - BIOCO2
      - CH4
      - CO2
      - HFC
      - N2O
      - NF3
      - OTHER_L
      - PFC
      - SF6
    in: formData
    name: p_ghg_cat
    required: false
    type: string
  f.p_ghg_yr:
    description: Green House Gas (GHG) Reporting Year. (2010 through 2015)
    in: formData
    name: p_ghg_yr
    required: false
    type: string
  f.p_hpvmth:
    description: "Months in high priority violation status out of the previous three years limiter.  Provide a number of months in the past three years.  Results will limited to facilities in high priority violation status during that time. "
    in: formData
    name: p_hpvmth
    required: false
    type: string
  f.p_huc:
    description: 2-, 4-, 6-, or 8-character watershed code. May contain multiple comma-separated values.
    in: formData
    name: p_huc
    required: false
    type: string
  f.p_ico:
    description: Indian Country Flag.  Enter a "Y" or "N" to restrict searches to facilities inside or outside Indian Country.
    enum:
      - Y
      - N
    in: formData
    name: p_ico
    required: false
    type: string
  f.p_icoo:
    description: Indian country search and/or flag.  Enter "Y" to set indian country search conditions to return any results found using p_ico, p_fac_ico or p_fac_icoo.  Otherwise only results matching all provided p_ico, p_fac_ico or p_fac_icoo conditions will be returned.
    in: formData
    name: p_icoo
    required: false
    type: string
  f.p_id:
    description: Identifier for the service.
    in: formData
    name: p_id
    required: true
    type: string
  f.p_idt1:
    description: Beginning of date range of most recent facility inspection.
    in: formData
    name: p_idt1
    required: false
    type: string
  f.p_idt2:
    description: End of date range of most recent facility inspection.
    in: formData
    name: p_idt2
    required: false
    type: string
  f.p_iea:
    description: |-
      Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
    in: formData
    name: p_iea
    required: false
    type: string
  f.p_ieaa:
    description: |-
      Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.
      - E = EPA
      - S = State
    enum:
      - E
      - S
    in: formData
    name: p_ieaa
    required: false
    type: string
  f.p_ieay:
    description: Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: formData
    name: p_ieay
    required: false
    type: number
  f.p_impw:
    description: Discharging into Impaired Waters Flag. Enter Y to limit results to facilities with discharge to waterbodies listed as impaired in the ATTAINS database.
    enum:
      - Y
      - N
    in: formData
    name: p_impw
    required: false
    type: string
  f.p_lat:
    description: Latitude location in decimal degrees.
    in: formData
    name: p_lat
    required: false
    type: number
  f.p_lcon:
    description: Air Program Local Control Region Code Filter.  Enter one or more local control region codes to filter results.  Provide multiple codes as a comma-delimited list.  Codes where they exist are specific by state.
    in: formData
    name: p_lcon
    required: false
    type: string
  f.p_limit_addr:
    description: "Limit Address Search Flag.  Enter Y to restrict facility searches to native data source only.  "
    enum:
      - Y
      - N
    in: formData
    name: p_limit_addr
    required: false
    type: string
  f.p_long:
    description: Longitude location in decimal degrees.
    in: formData
    name: p_long
    required: false
    type: number
  f.p_mact:
    description: CAA Maximum Achievable Control Technology (MACT) Subpart codes (alpha ID between 1 and 7 characters) applicable to the facility.
    in: formData
    name: p_mact
    required: false
    type: string
  f.p_maj:
    description: Major Facility Flag.  Enter Y to restrict results to Major facilities only.
    enum:
      - Y
      - N
    in: formData
    name: p_maj
    required: false
    type: string
  f.p_med:
    description: |-
      Filter Results by Media.
      - M = RMP (Risk Management Plan)
      - R = RCRA (Hazardous Waste)
      - S = SDWA (Public Drinking Water Systems)
      - W = Water
      - ALL = Water and RCRA and SDWA
    enum:
      - M
      - R
      - S
      - W
      - ALL
    in: formData
    name: p_med
    required: false
    type: string
  f.p_naa:
    description: Non-Attainment Area Flag.  Enter a Y or N to filter for or against facilities flagged as non-attainment areas.
    in: formData
    name: p_naa
    required: false
    type: string
  f.p_ncs:
    description: North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values.
    in: formData
    name: p_ncs
    required: false
    type: string
  f.p_nei_amt:
    description: "National Emissions Inventory (NEI) Formatted Pollutant Amount.  A formatted value where the 1st two characters must start with GT or LT followed by a number.  Identifies facilities that have a NEI Pollutant Emission  where the supplied value is > or < the pollutant emission amount.  "
    enum:
      - None
      - "0"
      - GT0
      - GT10000
      - GT25000
      - GT250000
      - GT1000000
    in: formData
    name: p_nei_amt
    required: false
    type: string
  f.p_nei_any_amt:
    description: National Emissions Inventory (NEI) Custom Pollutant Amount.  Only a number can be entered.  Identifies facilities with where the NEI Pollutant Emission Amount is greater than the number entered.
    in: formData
    name: p_nei_any_amt
    required: false
    type: number
  f.p_nei_cat:
    description: National Emissions Inventory (NEI) Pollutant Category.  When a pollutant category is entered, a corresponding formatted pollutant amount or custom amount must be entered.
    in: formData
    name: p_nei_cat
    required: false
    type: string
  f.p_nei_pol:
    description: National Emissions Inventory (NEI) Pollutant Identifier.  When a pollutant identifer is entered a corresponding formatted amount or custom amount must be entered.
    in: formData
    name: p_nei_pol
    required: false
    type: string
  f.p_nei_yr:
    description: "National Emissions Inventory (NEI) year:  2014 or 2011"
    in: formData
    name: p_nei_yr
    required: false
    type: string
  f.p_nsps:
    description: "Air Programl New Source Performance Standards (NSPS)  Subpart Code Search.  One or more valid Air Program NSPS Program codes cand be passed.  "
    in: formData
    name: p_nsps
    required: false
    type: string
  f.p_nspsm:
    description: "Air Programl New Source Performance Standards Minors (NSPSM) Subpart Code Search.  One or more valid Air Program NSPSM Subpart codes can be passed.  "
    in: formData
    name: p_nspsm
    required: false
    type: string
  f.p_opst:
    description: Operating status filter.  Enter one or more operating status codes to limit results.   Provide multiple codes as a comma-delimited list.
    in: formData
    name: p_opst
    required: false
    type: string
  f.p_owop:
    description: |-
      Owner/Operator code filter.  Enter one or more codes to limit results.
      - CNG
      - COR
      - CTG
      - DIS
      - FDF
      - MWD
      - MXO
      - NON
      - POF
      - SDT
      - STF
      - TRB
    in: formData
    name: p_owop
    required: false
    type: string
  f.p_pctrack:
    description: |-
      Compliance Tracking Limiter. Provide a keyword to indicate the extent to which data is being entered and effluent exceedances are being identified.
      - Off
      - Partial
      - On
    enum:
      - Off
      - Partial
      - On
    in: formData
    name: p_pctrack
    required: false
    type: string
  f.p_pd:
    description: |-
      Population Density Limiter (per sq mile). Enter a value to limit results to facilities located in area of a given population density.
      - NONE = 0 population density per square mile
      - GT100 = More than 100 population density per square mile
      - GT500 = More than 500 population density per square mile
      - GT1000 = More than 1000 population density per square mile
      - GT5000 = More than 5000 population density per square mile
      - GT10000 = More than 10000 population density per square mile
      - GT20000 = More than 20000 population density per square mile
    enum:
      - NONE
      - GT100
      - GT500
      - GT1000
      - GT5000
      - GT10000
      - GT20000
    in: formData
    name: p_pd
    required: false
    type: string
  f.p_pen:
    description: |-
      Last Penality Date Qualifier Filter.  Enter one of the following:   
      - NEVER = No Penalties
      - ANY = Any Penalty
      - LEXX = Less than or equal to XX months.  Provide a number in place of XX, e.g. "LE5" for a facility with a penalty within previous 5 months.
      - GTXX = Greater than XX months.  Provide a number in place of XX, eg. GT12, for a facility with the last penalty greater than 12 months ago.
    in: formData
    name: p_pen
    required: false
    type: string
  f.p_pfead1:
    description: Formal Enforcement Action Date Range Start.  Enter a date in MM/DD/YYYY format to set the start of the range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.
    in: formData
    name: p_pfead1
    required: false
    type: string
  f.p_pfead2:
    description: Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY format to set the end of the date range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.
    in: formData
    name: p_pfead2
    required: false
    type: string
  f.p_pfeat:
    description: Formal Enforcement Action (FEA) Code Filter.  Enter one or more three-letter FEA codes to restrict results to facilities with these attributes.  Use p_fead1 and p_fead2 parameters to further restrict this filter by entering a date range.  Provide multiple codes as a comma-delimited list.
    in: formData
    name: p_pfeat
    required: false
    type: string
  f.p_pid:
    description: Nine-digit permit IDs. May contain up to 2000 comma-separated values.
    in: formData
    name: p_pid
    required: false
    type: string
  f.p_pidall:
    description: Controls whether search is restricted to existing system. Y means the search will match the p_pid parameter against all associated permits (AIR, RCRA, SDWIS, etc).
    enum:
      - Y
      - N
    in: formData
    name: p_pidall
    required: false
    type: string
  f.p_pityp:
    description: |-
      Inspection Type:
      - CAC = Corrective Action Inspection
      - CAV = Compliance Assistance Visit
      - CDI = Case Development Inspection
      - CEI = Inspection Inspection
      - CSE = Compliance Schedule Evaluation
      - FCI = Focused Compliance
      - FRR = Financial Record Review
      - FSD = Facility Self Disclosure
      - FUI = Follow-Up Inspection
      - GME = Groundwater Monitoring Evaluation
      - NRR = Non-Financial Record Review
      - OAM = Operation and Maintenance Inspection
      May contain multiple comma-separated values.
    in: formData
    name: p_pityp
    required: false
    type: string
  f.p_pm:
    description: |-
      Percent Minority Population Limiter.  Enter a value to restrict results to facilities with a given percentage of minority population within 3-mile radius.
      - NONE = 0%
      - GT5 = greater than 5%
      - GT10 = greater than 10%
      - GT25 = greater than 25%
      - GT50 = greater than 50%
      - GT75 = greater than 75%
    enum:
      - NONE
      - GT5
      - GT10
      - GT25
      - GT50
      - GT75
    in: formData
    name: p_pm
    required: false
    type: string
  f.p_pollvio:
    description: Air Pollutant Code For A Recent Violation Filter.  Provide one or more pollutant codes to select facilities with one or more of the entered pollutant codes for a recent air violation.  Provide multiple values as a comma-delimited list.
    in: formData
    name: p_pollvio
    required: false
    type: string
  f.p_pretty_print:
    description: Optional flag to request GeoJSON formatted results to be pretty printed.  Only provide a numeric value when the output needs to be human readable as pretty printing has a performance cost.
    in: formData
    name: p_pretty_print
    required: false
    type: number
  f.p_prog:
    description: Air Program Code Filter.  Enter one or more Air program codes to filter results.  Provide multiple values as a comma-delimited list.
    in: formData
    name: p_prog
    required: false
    type: string
  f.p_psncq:
    description: |-
      Quarters in Significant Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of significant noncompliance.
      - Z = Zero quarters in significant noncompliance.
      - GEXX = Replacing XX with a numeric value, that number of quarterd or more in significant noncompliance.
      - GTXX = Replacing XX with a numeric value, more than that number of quarters in significant noncompliance.
    enum:
      - GT1
      - GE1
      - GT2
      - GE2
      - GT4
      - GE4
      - GT8
      - GE8
      - GT12
      - GE12
    in: formData
    name: p_psncq
    required: false
    type: string
  f.p_qid:
    description: Query ID Selector.  Enter the QueryID number from a previously run query.
    in: formData
    name: p_qid
    required: true
    type: string
  f.p_qiv:
    description: |-
      Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.
      - Z = Zero quarters in noncompliance.
      - GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.
      - GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.
    enum:
      - "0"
      - GT1
      - GT2
      - GT4
      - GT8
      - "12"
    in: formData
    name: p_qiv
    required: false
    type: string
  f.p_qnc:
    description: Number of quarters in non-compliance limiter.  Enter an integer value between 1 and 4 to limit results.
    in: formData
    name: p_qnc
    required: false
    type: number
  f.p_qs:
    description: Quick Search. Allows entry for city, state, and/or zip code.
    in: formData
    name: p_qs
    required: false
    type: string
  f.p_radius:
    description: Spatial Search Radius.  Enter a radius up to 100 miles in which to spatially search for facilities.
    in: formData
    name: p_radius
    required: false
    type: number
  f.p_recvio:
    description: |-
      Recent Violation Status Filter.  Enter one or more recent violation codes to limit results.  Provide multiple values as a comma-delimited list.
      - NO VIOL = Selects facilities with no recent violations.
      - ANY HPV = Selects facilities with either addressed or unaddressed high priority violations.
      - ADDRS-EPA - Select facilities with recent EPA addressed violations.
      - ADDRS-LOCAL - Select facilities with recent locally addressed violations.
      - ADDRS-STATE - Select facilities with recent state addressed violations.
      - UNADDR-EPA - Select facilities with recent EPA unaddressed violations.
      - UNADDR-LOCAL - Select facilities with recent locally unaddressed violations.
      - UNADDR-STATE - Select facilities with recent state unaddressed violations.
      - FRV VIOL = Selects facilities with a recent federally reportable violation without a high priority violation.
    in: formData
    name: p_recvio
    required: false
    type: string
  f.p_reg:
    description: EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.
    enum:
      - "01"
      - "02"
      - "03"
      - "04"
      - "05"
      - "06"
      - "07"
      - "08"
      - "09"
      - "10"
    in: formData
    name: p_reg
    required: false
    type: string
  f.p_sa:
    description: Facility street address. Enter a complete or partial street address.
    in: formData
    name: p_sa
    required: false
    type: string
  f.p_sa1:
    description: Facility street address. Enter a complete or partial street address.   Note that p_sa1 is culmulative with p_sa.
    in: formData
    name: p_sa1
    required: false
    type: string
  f.p_sfs:
    description: Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched.
    in: formData
    name: p_sfs
    required: false
    type: string
  f.p_sic:
    description: Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.  If more complex filtering is required, use p_sic2 and p_sic4.
    in: formData
    name: p_sic
    required: false
    type: string
  f.p_sic2:
    description: Standard Industrial Classification (SIC) Code Filter Alternate 2. Enter a wild-card search against SIC codes.  A final wild-card is always present allowing "22" to match all SIC codes beginning with 22.  Use the "%" character within strings to match any SIC values with the pattern.  For example, "2%21" matches 2021, 2121, 2221, etc.
    in: formData
    name: p_sic2
    required: false
    type: string
  f.p_sic4:
    description: Standard Industrial Classification (SIC) Code Filter Alternate 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities having those code prefixes.  As this alternative does not utilize an index, p_sic2 will generally be quicker.
    in: formData
    name: p_sic4
    required: false
    type: string
  f.p_st:
    description: Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list.
    in: formData
    name: p_st
    required: false
    type: string
  f.p_stdt1:
    description: Beginning of date range of most recent stack test.
    in: formData
    name: p_stdt1
    required: false
    type: string
  f.p_stdt2:
    description: End of date range of most recent stack test.
    in: formData
    name: p_stdt2
    required: false
    type: string
  f.p_stres:
    description: Air Stack Test Status Description Filter.  Enter one or more test status descriptions to filter results.  Enter multiple values as a comma-delimited list.
    in: formData
    name: p_stres
    required: false
    type: string
  f.p_stsl:
    description: |-
      Last Stack Test [within / not within] Specified Date Range Indicator.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
    in: formData
    name: p_stsl
    required: false
    type: string
  f.p_stsla:
    description: |-
      Stack Last Test Code Filter.  Enter a value to limit results:
      - A = All
      - E = EPA
      - S = State
    enum:
      - A
      - E
      - S
    in: formData
    name: p_stsla
    required: false
    type: string
  f.p_stsly:
    description: Number of years (1 to 5) since date of last stack test. A value of 1 means it has been inspected within the year.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: formData
    name: p_stsly
    required: false
    type: number
  f.p_sttyp:
    description: Air Conductor Type Code Filter.  Enter one or more conductor type codes to filter results.  Provide multiple values as a comma-delimited list.
    in: formData
    name: p_sttyp
    required: false
    type: string
  f.p_swpa:
    description: Source water protection area
    enum:
      - source water
      - surface water
      - ground water
      - waiting for SSO
    in: formData
    name: p_swpa
    required: false
    type: string
  f.p_trep:
    description: |-
      Current Toxics Release Inventory (TRI) Reporter Limiter.  Enter one of the following codes to limit results.
      - CURR = Current TRI reporter.
      - NONCURR = Has reported to TRI in the past but not for the current reporting year.
    enum:
      - CURR
      - NOTCURR
    in: formData
    name: p_trep
    required: false
    type: string
  f.p_tri_amt:
    description: Toxic Release Inventory Release Amount Filter.  Enter a value in pounds to limit results to facilities releasing this amount or greateer of TRI releases.  Valid values are 0, GT0, GT1000, GT5000, GT10000 and GT50000. Note when filtering by TRI release amounts one may only use either p_tri_amt or p_tri_any_amt.
    enum:
      - "0"
      - GT0
      - GT1000
      - GT5000
      - GT10000
      - GT50000
    in: formData
    name: p_tri_amt
    required: false
    type: string
  f.p_tri_any_amt:
    description: Toxic Release Inventory Release Of Any Kind Above Value Filter.  Enter a value to limit results to facilities releasing this amount or more of TRI releases.  Note when filtering by TRI releases one may only use p_tri_any_amt or p_tri_amt and not both.
    in: formData
    name: p_tri_any_amt
    required: false
    type: number
  f.p_tri_cat:
    description: |-
      Toxic Release Inventory Released To Air Chemical Identifier Category Filter.  Enter the chemical identifier category code to limit results. Note when filtering by TRI chemical identifier categories one may not also filter by specific chemical identifiers via p_tri_pol.  You must also specify a release amount using p_tri_amt or p_tri_any_amt.
      - TOTAL = Total Released to Air
      - CARC = Total Carcinogens Released to Air
      - HAP = Total Hazardous Air Pollutants Released to Air
    enum:
      - TOTAL
      - CARC
      - HAP
    in: formData
    name: p_tri_cat
    required: false
    type: string
  f.p_tri_pol:
    description: Toxic Release Inventory Chemical Identifier Filter.  Enter one or more chemical identifier codes to limit results. Note when filtering by specific TRI chemical identifiers one may not also filter by chemical identifier categories via p_tri_cat.
    in: formData
    name: p_tri_pol
    required: false
    type: string
  f.p_tri_yr:
    description: Toxic Release Inventory Reporting Year Filter.  Enter one or more year values to filter results by the TRI reporting year.  Provide multiple years as a comma-delimited list.
    in: formData
    name: p_tri_yr
    required: false
    type: string
  f.p_tribedist:
    description: Proximity to tribal land limiter. Enter an amount of mile between 0 and 25 to filter results.  This parameter is only evaluated if p_tribeid is populated.
    in: formData
    name: p_tribedist
    required: false
    type: number
  f.p_tribeid:
    description: Numeric code for tribe (or list of tribes).
    in: formData
    name: p_tribeid
    required: false
    type: number
  f.p_tribename:
    description: Tribe Name Filter.  Enter a single tribe name to filter results.
    in: formData
    name: p_tribename
    required: false
    type: string
  f.p_usmex:
    description: US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.
    enum:
      - Y
      - N
    in: formData
    name: p_usmex
    required: false
    type: string
  f.p_wbd:
    description: 2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value.
    in: formData
    name: p_wbd
    required: false
    type: string
  f.p_ysl:
    description: |-
      Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
      - NV
    in: formData
    name: p_ysl
    required: false
    type: string
  f.p_ysla:
    description: |-
      Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:
      - E = EPA
      - S = State
    enum:
      - E
      - S
      - A
    in: formData
    name: p_ysla
    required: false
    type: string
  f.p_ysly:
    description: Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: formData
    name: p_ysly
    required: false
    type: number
  f.p_zip:
    description: 5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values.
    in: formData
    name: p_zip
    required: false
    type: string
  f.pageno:
    default: 1
    description: Indicates the number of the page to display. It is used only when the results are paginated.
    in: formData
    name: pageno
    required: false
    type: number
  f.qcolumns:
    description: Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.
    in: formData
    name: qcolumns
    required: false
    type: string
  f.qid:
    description: Query ID Selector.  Enter the QueryID number from a previously run query.
    in: formData
    name: qid
    required: true
    type: string
  f.queryset:
    description: Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000.
    in: formData
    name: queryset
    required: false
    type: number
  f.responseset:
    description: Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000.
    in: formData
    name: responseset
    required: false
    type: number
  f.summarylist:
    description: Summary List Flag.  Enter a Y to return a list of summary statistics based on the parameters submitted to the query service.
    enum:
      - Y
      - N
    in: formData
    name: summarylist
    required: false
    type: string
  f.tablelist:
    description: Table List Flag. Enter a Y to display the first page of facility results.
    enum:
      - Y
      - N
    in: formData
    name: tablelist
    required: false
    type: string
  f.xmax:
    description: Maximum longitude value in decimal degrees.
    in: formData
    name: xmax
    required: false
    type: number
  f.xmin:
    description: Minimum longitude value in decimal degrees.
    in: formData
    name: xmin
    required: false
    type: number
  f.ymax:
    description: Maximum latitude value in decimal degrees.
    in: formData
    name: ymax
    required: false
    type: number
  f.ymin:
    description: Minimum latitude value in decimal degrees.
    in: formData
    name: ymin
    required: false
    type: number
  q.c1_lat:
    description: Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: c1_lat
    required: false
    type: number
  q.c1_long:
    description: Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: c1_long
    required: false
    type: number
  q.c2_lat:
    description: Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: c2_lat
    required: false
    type: number
  q.c2_long:
    description: Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: c2_long
    required: false
    type: number
  q.callback:
    description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
    in: query
    name: callback
    required: false
    type: string
  q.descending:
    description: Output Sort Column Descending Flag.  Enter Y to column identified in the newsort parameter descending.  Enter N to use ascending sort order. Used only when newsort parameter is populated.
    enum:
      - Y
      - N
    in: query
    name: descending
    required: false
    type: string
  q.maplist:
    description: Map List Flag.  Provide a Y to return mappable coordinates representing the full geographic extent of the queryset (all facilities that met the selection criteria).
    enum:
      - Y
      - N
    in: query
    name: maplist
    required: false
    type: string
  q.newsort:
    description: Output Sort Column.  Enter the number of the column on which the data will be sorted. If unpopulated results will sort on the first column.
    in: query
    name: newsort
    required: false
    type: number
  q.p_act:
    description: Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.
    enum:
      - Y
      - N
      - A
    in: query
    name: p_act
    required: false
    type: string
  q.p_agoo:
    description: Indicates whether to AND or OR the Owner/Operator parameter (p_owop) and the federal agency code (p_fa) parameters.
    enum:
      - AND
      - OR
    in: query
    name: p_agoo
    required: false
    type: string
  q.p_ar:
    description: |-
      Associated EPA Air Reports Program Filter.  Enter multiple values as a comma-delimited list.  Valid values are:
      - TRI = Toxic Release Inventory.
      - GHG = Green House Gas Reporter.
      - EIS = Emission Inventory System.
      - CAMD = Clean Air Markets Program Reporter.
    in: query
    name: p_ar
    required: false
    type: string
  q.p_c1lat:
    description: In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: p_c1lat
    required: false
    type: number
  q.p_c1lon:
    description: In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: p_c1lon
    required: false
    type: number
  q.p_c2lat:
    description: In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: p_c2lat
    required: false
    type: number
  q.p_c2lon:
    description: In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: p_c2lon
    required: false
    type: number
  q.p_cifdi:
    description: Compliance issuess found during inspection.
    enum:
      - Any
      - Yes
      - No
      - Undetermined
    in: query
    name: p_cifdi
    required: false
    type: string
  q.p_co:
    description: Facility County Filter. Provide a single county name in combination with a state value provided via p_st.
    in: query
    name: p_co
    required: false
    type: string
  q.p_ct:
    description: Facility City Filter. Enter a single case-insensitive city name to filter results.
    in: query
    name: p_ct
    required: false
    type: string
  q.p_decouple:
    description: Decouple Inspection Code Search Flag.  Enter "Y" to search for inspection code types with p_pityp without respect to the date range search provided with p_ysl* parameters.
    enum:
      - Y
      - N
    in: query
    name: p_decouple
    required: false
    type: string
  q.p_des:
    description: Universe Designation Limiter.  Enter one or more universe designation codes.  Provide multiple values as a comma-delimited list.  Use code "TSDF" to return the full enforcement TSDF universe and "Operating TSDF" to return the operating TSDF universe.
    in: query
    name: p_des
    required: false
    type: string
  q.p_ejscreen:
    description: Enter "Y" to limit facilities to Census block groups where one of more Environmental Justice indexes above 80th percentile.
    in: query
    name: p_ejscreen
    required: false
    type: string
  q.p_ejscreen_over80cnt:
    description: The number of Environmenmt Justice Indicators above the 80th percentile.  Valid values are 1 through 11.
    enum:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      - "6"
      - "7"
      - "8"
      - "9"
      - "10"
      - "11"
    in: query
    name: p_ejscreen_over80cnt
    required: false
    type: string
  q.p_fa:
    description: Federal Agency. 1 character or 5-character values; may contain multiple comma-separated values. ALL will retrieve all facilities where the federal agency code is not null.  Use the Federal Agencies lookup service to obtain a list of values.
    in: query
    name: p_fa
    required: false
    type: string
  q.p_fac_ico:
    description: FRS tribal land code flag.  Enter "Y" or "N" to include or exclude facilities based on FRS tribal land code.
    enum:
      - Y
      - N
    in: query
    name: p_fac_ico
    required: false
    type: string
  q.p_fac_icos:
    description: FRS tribal land spatial flag.  Enter "Y" or "N" to include or exclude facilities based on FRS tribal land spatial flag.
    in: query
    name: p_fac_icos
    required: false
    type: string
  q.p_fea:
    description: |-
      Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
    in: query
    name: p_fea
    required: false
    type: string
  q.p_feaa:
    description: |-
      Agency associated with Formal Enforcement Actions:
      - E = EPA
      - S = State
      - A = All
    enum:
      - A
      - E
      - S
    in: query
    name: p_feaa
    required: false
    type: string
  q.p_feay:
    description: Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: query
    name: p_feay
    required: false
    type: number
  q.p_fips:
    description: FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059.
    in: query
    name: p_fips
    required: false
    type: string
  q.p_fn:
    description: Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers.
    in: query
    name: p_fn
    required: false
    type: string
  q.p_fntype:
    description: |-
      Controls type of text search performed on facility name with parameter p_fn.
      - EXACT = Find facilities having the exact provided name(s).
      - BEGINS = Find facilities with names starting with the provided term(s).
      - ALL = Find facilities using Oracle text search terms.
      - CONTAINS = 
    enum:
      - ALL
      - CONTAINS
      - EXACT
      - BEGINS
    in: query
    name: p_fntype
    required: false
    type: string
  q.p_frs:
    description: Facility Registry Service ID Filter. Enter a single 12-digit FRS identifier to filter results.
    in: query
    name: p_frs
    required: false
    type: string
  q.p_ghg_amt:
    description: Green House Gas (GHG) CO2 Equivalent Formatted Release Amount.  First 2 characters must contain GT (greater than) followed by a number.
    enum:
      - None
      - "0"
      - GT0
      - GT10000
      - GT25000
      - GT250000
      - GT1000000
    in: query
    name: p_ghg_amt
    required: false
    type: string
  q.p_ghg_any_amt:
    description: Green House Gas (GHG) C02 Equivalent Custom Amount.  The C02E value reported for the provided category, will be greater or equal to the amount provided.
    in: query
    name: p_ghg_any_amt
    required: false
    type: number
  q.p_ghg_cat:
    description: Green House Gas (GHG) Gas Code Category.  Must be used with either a formatted (p_ghg_amt) or custom (p_ghg_any_amt) release amount.
    enum:
      - ALL
      - BIOCO2
      - CH4
      - CO2
      - HFC
      - N2O
      - NF3
      - OTHER_L
      - PFC
      - SF6
    in: query
    name: p_ghg_cat
    required: false
    type: string
  q.p_ghg_yr:
    description: Green House Gas (GHG) Reporting Year. (2010 through 2015)
    in: query
    name: p_ghg_yr
    required: false
    type: string
  q.p_hpvmth:
    description: "Months in high priority violation status out of the previous three years limiter.  Provide a number of months in the past three years.  Results will limited to facilities in high priority violation status during that time. "
    in: query
    name: p_hpvmth
    required: false
    type: string
  q.p_huc:
    description: 2-, 4-, 6-, or 8-character watershed code. May contain multiple comma-separated values.
    in: query
    name: p_huc
    required: false
    type: string
  q.p_ico:
    description: Indian Country Flag.  Enter a "Y" or "N" to restrict searches to facilities inside or outside Indian Country.
    enum:
      - Y
      - N
    in: query
    name: p_ico
    required: false
    type: string
  q.p_icoo:
    description: Indian country search and/or flag.  Enter "Y" to set indian country search conditions to return any results found using p_ico, p_fac_ico or p_fac_icoo.  Otherwise only results matching all provided p_ico, p_fac_ico or p_fac_icoo conditions will be returned.
    in: query
    name: p_icoo
    required: false
    type: string
  q.p_id:
    description: Identifier for the service.
    in: query
    name: p_id
    required: true
    type: string
  q.p_idt1:
    description: Beginning of date range of most recent facility inspection.
    in: query
    name: p_idt1
    required: false
    type: string
  q.p_idt2:
    description: End of date range of most recent facility inspection.
    in: query
    name: p_idt2
    required: false
    type: string
  q.p_iea:
    description: |-
      Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
    in: query
    name: p_iea
    required: false
    type: string
  q.p_ieaa:
    description: |-
      Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.
      - E = EPA
      - S = State
    enum:
      - E
      - S
    in: query
    name: p_ieaa
    required: false
    type: string
  q.p_ieay:
    description: Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: query
    name: p_ieay
    required: false
    type: number
  q.p_impw:
    description: Discharging into Impaired Waters Flag. Enter Y to limit results to facilities with discharge to waterbodies listed as impaired in the ATTAINS database.
    enum:
      - Y
      - N
    in: query
    name: p_impw
    required: false
    type: string
  q.p_lat:
    description: Latitude location in decimal degrees.
    in: query
    name: p_lat
    required: false
    type: number
  q.p_lcon:
    description: Air Program Local Control Region Code Filter.  Enter one or more local control region codes to filter results.  Provide multiple codes as a comma-delimited list.  Codes where they exist are specific by state.
    in: query
    name: p_lcon
    required: false
    type: string
  q.p_limit_addr:
    description: "Limit Address Search Flag.  Enter Y to restrict facility searches to native data source only.  "
    enum:
      - Y
      - N
    in: query
    name: p_limit_addr
    required: false
    type: string
  q.p_long:
    description: Longitude location in decimal degrees.
    in: query
    name: p_long
    required: false
    type: number
  q.p_mact:
    description: CAA Maximum Achievable Control Technology (MACT) Subpart codes (alpha ID between 1 and 7 characters) applicable to the facility.
    in: query
    name: p_mact
    required: false
    type: string
  q.p_maj:
    description: Major Facility Flag.  Enter Y to restrict results to Major facilities only.
    enum:
      - Y
      - N
    in: query
    name: p_maj
    required: false
    type: string
  q.p_med:
    description: |-
      Filter Results by Media.
      - M = RMP (Risk Management Plan)
      - R = RCRA (Hazardous Waste)
      - S = SDWA (Public Drinking Water Systems)
      - W = Water
      - ALL = Water and RCRA and SDWA
    enum:
      - M
      - R
      - S
      - W
      - ALL
    in: query
    name: p_med
    required: false
    type: string
  q.p_naa:
    description: Non-Attainment Area Flag.  Enter a Y or N to filter for or against facilities flagged as non-attainment areas.
    in: query
    name: p_naa
    required: false
    type: string
  q.p_ncs:
    description: North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values.
    in: query
    name: p_ncs
    required: false
    type: string
  q.p_nei_amt:
    description: "National Emissions Inventory (NEI) Formatted Pollutant Amount.  A formatted value where the 1st two characters must start with GT or LT followed by a number.  Identifies facilities that have a NEI Pollutant Emission  where the supplied value is > or < the pollutant emission amount.  "
    enum:
      - None
      - "0"
      - GT0
      - GT10000
      - GT25000
      - GT250000
      - GT1000000
    in: query
    name: p_nei_amt
    required: false
    type: string
  q.p_nei_any_amt:
    description: National Emissions Inventory (NEI) Custom Pollutant Amount.  Only a number can be entered.  Identifies facilities with where the NEI Pollutant Emission Amount is greater than the number entered.
    in: query
    name: p_nei_any_amt
    required: false
    type: number
  q.p_nei_cat:
    description: National Emissions Inventory (NEI) Pollutant Category.  When a pollutant category is entered, a corresponding formatted pollutant amount or custom amount must be entered.
    in: query
    name: p_nei_cat
    required: false
    type: string
  q.p_nei_pol:
    description: National Emissions Inventory (NEI) Pollutant Identifier.  When a pollutant identifer is entered a corresponding formatted amount or custom amount must be entered.
    in: query
    name: p_nei_pol
    required: false
    type: string
  q.p_nei_yr:
    description: "National Emissions Inventory (NEI) year:  2014 or 2011"
    in: query
    name: p_nei_yr
    required: false
    type: string
  q.p_nsps:
    description: "Air Programl New Source Performance Standards (NSPS)  Subpart Code Search.  One or more valid Air Program NSPS Program codes cand be passed.  "
    in: query
    name: p_nsps
    required: false
    type: string
  q.p_nspsm:
    description: "Air Programl New Source Performance Standards Minors (NSPSM) Subpart Code Search.  One or more valid Air Program NSPSM Subpart codes can be passed.  "
    in: query
    name: p_nspsm
    required: false
    type: string
  q.p_opst:
    description: Operating status filter.  Enter one or more operating status codes to limit results.   Provide multiple codes as a comma-delimited list.
    in: query
    name: p_opst
    required: false
    type: string
  q.p_owop:
    description: |-
      Owner/Operator code filter.  Enter one or more codes to limit results.
      - CNG
      - COR
      - CTG
      - DIS
      - FDF
      - MWD
      - MXO
      - NON
      - POF
      - SDT
      - STF
      - TRB
    in: query
    name: p_owop
    required: false
    type: string
  q.p_pctrack:
    description: |-
      Compliance Tracking Limiter. Provide a keyword to indicate the extent to which data is being entered and effluent exceedances are being identified.
      - Off
      - Partial
      - On
    enum:
      - Off
      - Partial
      - On
    in: query
    name: p_pctrack
    required: false
    type: string
  q.p_pd:
    description: |-
      Population Density Limiter (per sq mile). Enter a value to limit results to facilities located in area of a given population density.
      - NONE = 0 population density per square mile
      - GT100 = More than 100 population density per square mile
      - GT500 = More than 500 population density per square mile
      - GT1000 = More than 1000 population density per square mile
      - GT5000 = More than 5000 population density per square mile
      - GT10000 = More than 10000 population density per square mile
      - GT20000 = More than 20000 population density per square mile
    enum:
      - NONE
      - GT100
      - GT500
      - GT1000
      - GT5000
      - GT10000
      - GT20000
    in: query
    name: p_pd
    required: false
    type: string
  q.p_pen:
    description: |-
      Last Penality Date Qualifier Filter.  Enter one of the following:   
      - NEVER = No Penalties
      - ANY = Any Penalty
      - LEXX = Less than or equal to XX months.  Provide a number in place of XX, e.g. "LE5" for a facility with a penalty within previous 5 months.
      - GTXX = Greater than XX months.  Provide a number in place of XX, eg. GT12, for a facility with the last penalty greater than 12 months ago.
    in: query
    name: p_pen
    required: false
    type: string
  q.p_pfead1:
    description: Formal Enforcement Action Date Range Start.  Enter a date in MM/DD/YYYY format to set the start of the range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.
    in: query
    name: p_pfead1
    required: false
    type: string
  q.p_pfead2:
    description: Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY format to set the end of the date range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.
    in: query
    name: p_pfead2
    required: false
    type: string
  q.p_pfeat:
    description: Formal Enforcement Action (FEA) Code Filter.  Enter one or more three-letter FEA codes to restrict results to facilities with these attributes.  Use p_fead1 and p_fead2 parameters to further restrict this filter by entering a date range.  Provide multiple codes as a comma-delimited list.
    in: query
    name: p_pfeat
    required: false
    type: string
  q.p_pid:
    description: Nine-digit permit IDs. May contain up to 2000 comma-separated values.
    in: query
    name: p_pid
    required: false
    type: string
  q.p_pidall:
    description: Controls whether search is restricted to existing system. Y means the search will match the p_pid parameter against all associated permits (AIR, RCRA, SDWIS, etc).
    enum:
      - Y
      - N
    in: query
    name: p_pidall
    required: false
    type: string
  q.p_pityp:
    description: |-
      Inspection Type:
      - CAC = Corrective Action Inspection
      - CAV = Compliance Assistance Visit
      - CDI = Case Development Inspection
      - CEI = Inspection Inspection
      - CSE = Compliance Schedule Evaluation
      - FCI = Focused Compliance
      - FRR = Financial Record Review
      - FSD = Facility Self Disclosure
      - FUI = Follow-Up Inspection
      - GME = Groundwater Monitoring Evaluation
      - NRR = Non-Financial Record Review
      - OAM = Operation and Maintenance Inspection
      May contain multiple comma-separated values.
    in: query
    name: p_pityp
    required: false
    type: string
  q.p_pm:
    description: |-
      Percent Minority Population Limiter.  Enter a value to restrict results to facilities with a given percentage of minority population within 3-mile radius.
      - NONE = 0%
      - GT5 = greater than 5%
      - GT10 = greater than 10%
      - GT25 = greater than 25%
      - GT50 = greater than 50%
      - GT75 = greater than 75%
    enum:
      - NONE
      - GT5
      - GT10
      - GT25
      - GT50
      - GT75
    in: query
    name: p_pm
    required: false
    type: string
  q.p_pollvio:
    description: Air Pollutant Code For A Recent Violation Filter.  Provide one or more pollutant codes to select facilities with one or more of the entered pollutant codes for a recent air violation.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_pollvio
    required: false
    type: string
  q.p_pretty_print:
    description: Optional flag to request GeoJSON formatted results to be pretty printed.  Only provide a numeric value when the output needs to be human readable as pretty printing has a performance cost.
    in: query
    name: p_pretty_print
    required: false
    type: number
  q.p_prog:
    description: Air Program Code Filter.  Enter one or more Air program codes to filter results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_prog
    required: false
    type: string
  q.p_psncq:
    description: |-
      Quarters in Significant Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of significant noncompliance.
      - Z = Zero quarters in significant noncompliance.
      - GEXX = Replacing XX with a numeric value, that number of quarterd or more in significant noncompliance.
      - GTXX = Replacing XX with a numeric value, more than that number of quarters in significant noncompliance.
    enum:
      - GT1
      - GE1
      - GT2
      - GE2
      - GT4
      - GE4
      - GT8
      - GE8
      - GT12
      - GE12
    in: query
    name: p_psncq
    required: false
    type: string
  q.p_qid:
    description: Query ID Selector.  Enter the QueryID number from a previously run query.
    in: query
    name: p_qid
    required: true
    type: string
  q.p_qiv:
    description: |-
      Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.
      - Z = Zero quarters in noncompliance.
      - GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.
      - GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.
    enum:
      - "0"
      - GT1
      - GT2
      - GT4
      - GT8
      - "12"
    in: query
    name: p_qiv
    required: false
    type: string
  q.p_qnc:
    description: Number of quarters in non-compliance limiter.  Enter an integer value between 1 and 4 to limit results.
    in: query
    name: p_qnc
    required: false
    type: number
  q.p_qs:
    description: Quick Search. Allows entry for city, state, and/or zip code.
    in: query
    name: p_qs
    required: false
    type: string
  q.p_radius:
    description: Spatial Search Radius.  Enter a radius up to 100 miles in which to spatially search for facilities.
    in: query
    name: p_radius
    required: false
    type: number
  q.p_recvio:
    description: |-
      Recent Violation Status Filter.  Enter one or more recent violation codes to limit results.  Provide multiple values as a comma-delimited list.
      - NO VIOL = Selects facilities with no recent violations.
      - ANY HPV = Selects facilities with either addressed or unaddressed high priority violations.
      - ADDRS-EPA - Select facilities with recent EPA addressed violations.
      - ADDRS-LOCAL - Select facilities with recent locally addressed violations.
      - ADDRS-STATE - Select facilities with recent state addressed violations.
      - UNADDR-EPA - Select facilities with recent EPA unaddressed violations.
      - UNADDR-LOCAL - Select facilities with recent locally unaddressed violations.
      - UNADDR-STATE - Select facilities with recent state unaddressed violations.
      - FRV VIOL = Selects facilities with a recent federally reportable violation without a high priority violation.
    in: query
    name: p_recvio
    required: false
    type: string
  q.p_reg:
    description: EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.
    enum:
      - "01"
      - "02"
      - "03"
      - "04"
      - "05"
      - "06"
      - "07"
      - "08"
      - "09"
      - "10"
    in: query
    name: p_reg
    required: false
    type: string
  q.p_sa:
    description: Facility street address. Enter a complete or partial street address.
    in: query
    name: p_sa
    required: false
    type: string
  q.p_sa1:
    description: Facility street address. Enter a complete or partial street address.   Note that p_sa1 is culmulative with p_sa.
    in: query
    name: p_sa1
    required: false
    type: string
  q.p_sfs:
    description: Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched.
    in: query
    name: p_sfs
    required: false
    type: string
  q.p_sic:
    description: Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.  If more complex filtering is required, use p_sic2 and p_sic4.
    in: query
    name: p_sic
    required: false
    type: string
  q.p_sic2:
    description: Standard Industrial Classification (SIC) Code Filter Alternate 2. Enter a wild-card search against SIC codes.  A final wild-card is always present allowing "22" to match all SIC codes beginning with 22.  Use the "%" character within strings to match any SIC values with the pattern.  For example, "2%21" matches 2021, 2121, 2221, etc.
    in: query
    name: p_sic2
    required: false
    type: string
  q.p_sic4:
    description: Standard Industrial Classification (SIC) Code Filter Alternate 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities having those code prefixes.  As this alternative does not utilize an index, p_sic2 will generally be quicker.
    in: query
    name: p_sic4
    required: false
    type: string
  q.p_st:
    description: Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_st
    required: false
    type: string
  q.p_stdt1:
    description: Beginning of date range of most recent stack test.
    in: query
    name: p_stdt1
    required: false
    type: string
  q.p_stdt2:
    description: End of date range of most recent stack test.
    in: query
    name: p_stdt2
    required: false
    type: string
  q.p_stres:
    description: Air Stack Test Status Description Filter.  Enter one or more test status descriptions to filter results.  Enter multiple values as a comma-delimited list.
    in: query
    name: p_stres
    required: false
    type: string
  q.p_stsl:
    description: |-
      Last Stack Test [within / not within] Specified Date Range Indicator.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
    in: query
    name: p_stsl
    required: false
    type: string
  q.p_stsla:
    description: |-
      Stack Last Test Code Filter.  Enter a value to limit results:
      - A = All
      - E = EPA
      - S = State
    enum:
      - A
      - E
      - S
    in: query
    name: p_stsla
    required: false
    type: string
  q.p_stsly:
    description: Number of years (1 to 5) since date of last stack test. A value of 1 means it has been inspected within the year.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: query
    name: p_stsly
    required: false
    type: number
  q.p_sttyp:
    description: Air Conductor Type Code Filter.  Enter one or more conductor type codes to filter results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_sttyp
    required: false
    type: string
  q.p_swpa:
    description: Source water protection area
    enum:
      - source water
      - surface water
      - ground water
      - waiting for SSO
    in: query
    name: p_swpa
    required: false
    type: string
  q.p_trep:
    description: |-
      Current Toxics Release Inventory (TRI) Reporter Limiter.  Enter one of the following codes to limit results.
      - CURR = Current TRI reporter.
      - NONCURR = Has reported to TRI in the past but not for the current reporting year.
    enum:
      - CURR
      - NOTCURR
    in: query
    name: p_trep
    required: false
    type: string
  q.p_tri_amt:
    description: Toxic Release Inventory Release Amount Filter.  Enter a value in pounds to limit results to facilities releasing this amount or greateer of TRI releases.  Valid values are 0, GT0, GT1000, GT5000, GT10000 and GT50000. Note when filtering by TRI release amounts one may only use either p_tri_amt or p_tri_any_amt.
    enum:
      - "0"
      - GT0
      - GT1000
      - GT5000
      - GT10000
      - GT50000
    in: query
    name: p_tri_amt
    required: false
    type: string
  q.p_tri_any_amt:
    description: Toxic Release Inventory Release Of Any Kind Above Value Filter.  Enter a value to limit results to facilities releasing this amount or more of TRI releases.  Note when filtering by TRI releases one may only use p_tri_any_amt or p_tri_amt and not both.
    in: query
    name: p_tri_any_amt
    required: false
    type: number
  q.p_tri_cat:
    description: |-
      Toxic Release Inventory Released To Air Chemical Identifier Category Filter.  Enter the chemical identifier category code to limit results. Note when filtering by TRI chemical identifier categories one may not also filter by specific chemical identifiers via p_tri_pol.  You must also specify a release amount using p_tri_amt or p_tri_any_amt.
      - TOTAL = Total Released to Air
      - CARC = Total Carcinogens Released to Air
      - HAP = Total Hazardous Air Pollutants Released to Air
    enum:
      - TOTAL
      - CARC
      - HAP
    in: query
    name: p_tri_cat
    required: false
    type: string
  q.p_tri_pol:
    description: Toxic Release Inventory Chemical Identifier Filter.  Enter one or more chemical identifier codes to limit results. Note when filtering by specific TRI chemical identifiers one may not also filter by chemical identifier categories via p_tri_cat.
    in: query
    name: p_tri_pol
    required: false
    type: string
  q.p_tri_yr:
    description: Toxic Release Inventory Reporting Year Filter.  Enter one or more year values to filter results by the TRI reporting year.  Provide multiple years as a comma-delimited list.
    in: query
    name: p_tri_yr
    required: false
    type: string
  q.p_tribedist:
    description: Proximity to tribal land limiter. Enter an amount of mile between 0 and 25 to filter results.  This parameter is only evaluated if p_tribeid is populated.
    in: query
    name: p_tribedist
    required: false
    type: number
  q.p_tribeid:
    description: Numeric code for tribe (or list of tribes).
    in: query
    name: p_tribeid
    required: false
    type: number
  q.p_tribename:
    description: Tribe Name Filter.  Enter a single tribe name to filter results.
    in: query
    name: p_tribename
    required: false
    type: string
  q.p_usmex:
    description: US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.
    enum:
      - Y
      - N
    in: query
    name: p_usmex
    required: false
    type: string
  q.p_wbd:
    description: 2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value.
    in: query
    name: p_wbd
    required: false
    type: string
  q.p_ysl:
    description: |-
      Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
      - NV
    in: query
    name: p_ysl
    required: false
    type: string
  q.p_ysla:
    description: |-
      Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:
      - E = EPA
      - S = State
    enum:
      - E
      - S
      - A
    in: query
    name: p_ysla
    required: false
    type: string
  q.p_ysly:
    description: Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: query
    name: p_ysly
    required: false
    type: number
  q.p_zip:
    description: 5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values.
    in: query
    name: p_zip
    required: false
    type: string
  q.pageno:
    default: 1
    description: Indicates the number of the page to display. It is used only when the results are paginated.
    in: query
    name: pageno
    required: false
    type: number
  q.qcolumns:
    description: Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.
    in: query
    name: qcolumns
    required: false
    type: string
  q.qid:
    description: Query ID Selector.  Enter the QueryID number from a previously run query.
    in: query
    name: qid
    required: true
    type: string
  q.queryset:
    description: Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000.
    in: query
    name: queryset
    required: false
    type: number
  q.responseset:
    description: Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000.
    in: query
    name: responseset
    required: false
    type: number
  q.summarylist:
    description: Summary List Flag.  Enter a Y to return a list of summary statistics based on the parameters submitted to the query service.
    enum:
      - Y
      - N
    in: query
    name: summarylist
    required: false
    type: string
  q.tablelist:
    description: Table List Flag. Enter a Y to display the first page of facility results.
    enum:
      - Y
      - N
    in: query
    name: tablelist
    required: false
    type: string
  q.xmax:
    description: Maximum longitude value in decimal degrees.
    in: query
    name: xmax
    required: false
    type: number
  q.xmin:
    description: Minimum longitude value in decimal degrees.
    in: query
    name: xmin
    required: false
    type: number
  q.ymax:
    description: Maximum latitude value in decimal degrees.
    in: query
    name: ymax
    required: false
    type: number
  q.ymin:
    description: Minimum latitude value in decimal degrees.
    in: query
    name: ymin
    required: false
    type: number
paths:
  /air_rest_services.get_download:
    get:
      description: Based on the QID obtained from a get_facilities or get_facility_info query, return a comma sepated vaule (CSV) file of the facilities found.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - CSV = Facility results formatted as comma delimited file download (default).
            - GEOJSOND = Facility results formatted as GeoJSON feature collection download.
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.qid"
        - $ref: "#/parameters/q.qcolumns"
        - $ref: "#/parameters/q.p_pretty_print"
      responses:
        "200":
          description: Results are a comma separated value (CSV) file or a file containing a GeoJSON feature collection.
          schema:
            type: file
      summary: Clean Air Act Download Data Service
      tags:
        - Facilities
    post:
      description: Based on the QID obtained from a get_facilities or get_facility_info query, return a comma sepated vaule (CSV) file of the facilities found.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - CSV = Facility results formatted as comma delimited file download (default).
            - GEOJSOND = Facility results formatted as GeoJSON feature collection download.
          in: formData
          name: output
          required: false
          type: string
        - $ref: "#/parameters/f.qid"
        - $ref: "#/parameters/f.qcolumns"
        - $ref: "#/parameters/f.p_pretty_print"
      responses:
        "200":
          description: Results are a comma separated value (CSV) file or a file containing a GeoJSON feature collection.
          schema:
            type: file
      summary: Clean Air Act Download Data Service
      tags:
        - Facilities
  /air_rest_services.get_facilities:
    get:
      description: Validates query search parameters and returns query identifier.  Use the responseset parameter to set the page size
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.p_fn"
        - $ref: "#/parameters/q.p_sa"
        - $ref: "#/parameters/q.p_sa1"
        - $ref: "#/parameters/q.p_ct"
        - $ref: "#/parameters/q.p_co"
        - $ref: "#/parameters/q.p_fips"
        - $ref: "#/parameters/q.p_st"
        - $ref: "#/parameters/q.p_zip"
        - $ref: "#/parameters/q.p_lcon"
        - $ref: "#/parameters/q.p_frs"
        - $ref: "#/parameters/q.p_reg"
        - $ref: "#/parameters/q.p_sic"
        - $ref: "#/parameters/q.p_ncs"
        - $ref: "#/parameters/q.p_qnc"
        - $ref: "#/parameters/q.p_pen"
        - $ref: "#/parameters/q.p_opst"
        - $ref: "#/parameters/q.p_c1lat"
        - $ref: "#/parameters/q.p_c1lon"
        - $ref: "#/parameters/q.p_c2lat"
        - $ref: "#/parameters/q.p_c2lon"
        - $ref: "#/parameters/q.p_usmex"
        - $ref: "#/parameters/q.p_sic2"
        - $ref: "#/parameters/q.p_sic4"
        - $ref: "#/parameters/q.p_fa"
        - $ref: "#/parameters/q.p_act"
        - $ref: "#/parameters/q.p_maj"
        - $ref: "#/parameters/q.p_mact"
        - $ref: "#/parameters/q.p_nsps"
        - $ref: "#/parameters/q.p_nspsm"
        - $ref: "#/parameters/q.p_prog"
        - $ref: "#/parameters/q.p_fea"
        - $ref: "#/parameters/q.p_feay"
        - $ref: "#/parameters/q.p_feaa"
        - $ref: "#/parameters/q.p_iea"
        - $ref: "#/parameters/q.p_ieay"
        - $ref: "#/parameters/q.p_ieaa"
        - $ref: "#/parameters/q.p_qiv"
        - $ref: "#/parameters/q.p_naa"
        - $ref: "#/parameters/q.p_impw"
        - $ref: "#/parameters/q.p_trep"
        - $ref: "#/parameters/q.p_tri_cat"
        - $ref: "#/parameters/q.p_tri_amt"
        - $ref: "#/parameters/q.p_tri_any_amt"
        - $ref: "#/parameters/q.p_tri_pol"
        - $ref: "#/parameters/q.p_ghg_cat"
        - $ref: "#/parameters/q.p_ghg_amt"
        - $ref: "#/parameters/q.p_ghg_any_amt"
        - $ref: "#/parameters/q.p_ghg_yr"
        - $ref: "#/parameters/q.p_nei_pol"
        - $ref: "#/parameters/q.p_nei_amt"
        - $ref: "#/parameters/q.p_nei_any_amt"
        - $ref: "#/parameters/q.p_nei_yr"
        - $ref: "#/parameters/q.p_nei_cat"
        - $ref: "#/parameters/q.p_pm"
        - $ref: "#/parameters/q.p_pd"
        - $ref: "#/parameters/q.p_ico"
        - $ref: "#/parameters/q.p_huc"
        - $ref: "#/parameters/q.p_wbd"
        - $ref: "#/parameters/q.p_pid"
        - $ref: "#/parameters/q.p_med"
        - $ref: "#/parameters/q.p_ysl"
        - $ref: "#/parameters/q.p_ysly"
        - $ref: "#/parameters/q.p_ysla"
        - $ref: "#/parameters/q.p_stsl"
        - $ref: "#/parameters/q.p_stsly"
        - $ref: "#/parameters/q.p_stsla"
        - $ref: "#/parameters/q.p_stres"
        - $ref: "#/parameters/q.p_sttyp"
        - $ref: "#/parameters/q.p_qs"
        - $ref: "#/parameters/q.p_sfs"
        - $ref: "#/parameters/q.p_tribeid"
        - $ref: "#/parameters/q.p_tribename"
        - $ref: "#/parameters/q.p_tribedist"
        - $ref: "#/parameters/q.p_owop"
        - $ref: "#/parameters/q.p_agoo"
        - $ref: "#/parameters/q.p_idt1"
        - $ref: "#/parameters/q.p_idt2"
        - $ref: "#/parameters/q.p_stdt1"
        - $ref: "#/parameters/q.p_stdt2"
        - $ref: "#/parameters/q.p_pityp"
        - $ref: "#/parameters/q.p_cifdi"
        - $ref: "#/parameters/q.p_pfead1"
        - $ref: "#/parameters/q.p_pfead2"
        - $ref: "#/parameters/q.p_pfeat"
        - $ref: "#/parameters/q.p_psncq"
        - $ref: "#/parameters/q.p_pctrack"
        - $ref: "#/parameters/q.p_swpa"
        - $ref: "#/parameters/q.p_des"
        - $ref: "#/parameters/q.p_fntype"
        - $ref: "#/parameters/q.p_hpvmth"
        - $ref: "#/parameters/q.p_recvio"
        - $ref: "#/parameters/q.p_pollvio"
        - $ref: "#/parameters/q.p_ar"
        - $ref: "#/parameters/q.p_tri_yr"
        - $ref: "#/parameters/q.p_pidall"
        - $ref: "#/parameters/q.p_fac_ico"
        - $ref: "#/parameters/q.p_icoo"
        - $ref: "#/parameters/q.p_fac_icos"
        - $ref: "#/parameters/q.p_ejscreen"
        - $ref: "#/parameters/q.p_limit_addr"
        - $ref: "#/parameters/q.p_lat"
        - $ref: "#/parameters/q.p_long"
        - $ref: "#/parameters/q.p_radius"
        - $ref: "#/parameters/q.p_decouple"
        - $ref: "#/parameters/q.p_ejscreen_over80cnt"
        - $ref: "#/parameters/q.queryset"
        - $ref: "#/parameters/q.responseset"
        - $ref: "#/parameters/q.tablelist"
        - $ref: "#/parameters/q.maplist"
        - $ref: "#/parameters/q.summarylist"
        - $ref: "#/parameters/q.callback"
        - $ref: "#/parameters/q.qcolumns"
      responses:
        "200":
          description: Results are summary statistics for the query and a query identifier (QID).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/air05"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Clean Air Act Facility Search
      tags:
        - Facilities
    post:
      description: Validates query search parameters and returns query identifier.  Use the responseset parameter to set the page size
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: formData
          name: output
          required: false
          type: string
        - $ref: "#/parameters/f.p_fn"
        - $ref: "#/parameters/f.p_sa"
        - $ref: "#/parameters/f.p_sa1"
        - $ref: "#/parameters/f.p_ct"
        - $ref: "#/parameters/f.p_co"
        - $ref: "#/parameters/f.p_fips"
        - $ref: "#/parameters/f.p_st"
        - $ref: "#/parameters/f.p_zip"
        - $ref: "#/parameters/f.p_lcon"
        - $ref: "#/parameters/f.p_frs"
        - $ref: "#/parameters/f.p_reg"
        - $ref: "#/parameters/f.p_sic"
        - $ref: "#/parameters/f.p_ncs"
        - $ref: "#/parameters/f.p_qnc"
        - $ref: "#/parameters/f.p_pen"
        - $ref: "#/parameters/f.p_opst"
        - $ref: "#/parameters/f.p_c1lat"
        - $ref: "#/parameters/f.p_c1lon"
        - $ref: "#/parameters/f.p_c2lat"
        - $ref: "#/parameters/f.p_c2lon"
        - $ref: "#/parameters/f.p_usmex"
        - $ref: "#/parameters/f.p_sic2"
        - $ref: "#/parameters/f.p_sic4"
        - $ref: "#/parameters/f.p_fa"
        - $ref: "#/parameters/f.p_act"
        - $ref: "#/parameters/f.p_maj"
        - $ref: "#/parameters/f.p_mact"
        - $ref: "#/parameters/f.p_nsps"
        - $ref: "#/parameters/f.p_nspsm"
        - $ref: "#/parameters/f.p_prog"
        - $ref: "#/parameters/f.p_fea"
        - $ref: "#/parameters/f.p_feay"
        - $ref: "#/parameters/f.p_feaa"
        - $ref: "#/parameters/f.p_iea"
        - $ref: "#/parameters/f.p_ieay"
        - $ref: "#/parameters/f.p_ieaa"
        - $ref: "#/parameters/f.p_qiv"
        - $ref: "#/parameters/f.p_naa"
        - $ref: "#/parameters/f.p_impw"
        - $ref: "#/parameters/f.p_trep"
        - $ref: "#/parameters/f.p_tri_cat"
        - $ref: "#/parameters/f.p_tri_amt"
        - $ref: "#/parameters/f.p_tri_any_amt"
        - $ref: "#/parameters/f.p_tri_pol"
        - $ref: "#/parameters/f.p_ghg_cat"
        - $ref: "#/parameters/f.p_ghg_amt"
        - $ref: "#/parameters/f.p_ghg_any_amt"
        - $ref: "#/parameters/f.p_ghg_yr"
        - $ref: "#/parameters/f.p_nei_pol"
        - $ref: "#/parameters/f.p_nei_amt"
        - $ref: "#/parameters/f.p_nei_any_amt"
        - $ref: "#/parameters/f.p_nei_yr"
        - $ref: "#/parameters/f.p_nei_cat"
        - $ref: "#/parameters/f.p_pm"
        - $ref: "#/parameters/f.p_pd"
        - $ref: "#/parameters/f.p_ico"
        - $ref: "#/parameters/f.p_huc"
        - $ref: "#/parameters/f.p_wbd"
        - $ref: "#/parameters/f.p_pid"
        - $ref: "#/parameters/f.p_med"
        - $ref: "#/parameters/f.p_ysl"
        - $ref: "#/parameters/f.p_ysly"
        - $ref: "#/parameters/f.p_ysla"
        - $ref: "#/parameters/f.p_stsl"
        - $ref: "#/parameters/f.p_stsly"
        - $ref: "#/parameters/f.p_stsla"
        - $ref: "#/parameters/f.p_stres"
        - $ref: "#/parameters/f.p_sttyp"
        - $ref: "#/parameters/f.p_qs"
        - $ref: "#/parameters/f.p_sfs"
        - $ref: "#/parameters/f.p_tribeid"
        - $ref: "#/parameters/f.p_tribename"
        - $ref: "#/parameters/f.p_tribedist"
        - $ref: "#/parameters/f.p_owop"
        - $ref: "#/parameters/f.p_agoo"
        - $ref: "#/parameters/f.p_idt1"
        - $ref: "#/parameters/f.p_idt2"
        - $ref: "#/parameters/f.p_stdt1"
        - $ref: "#/parameters/f.p_stdt2"
        - $ref: "#/parameters/f.p_pityp"
        - $ref: "#/parameters/f.p_cifdi"
        - $ref: "#/parameters/f.p_pfead1"
        - $ref: "#/parameters/f.p_pfead2"
        - $ref: "#/parameters/f.p_pfeat"
        - $ref: "#/parameters/f.p_psncq"
        - $ref: "#/parameters/f.p_pctrack"
        - $ref: "#/parameters/f.p_swpa"
        - $ref: "#/parameters/f.p_des"
        - $ref: "#/parameters/f.p_fntype"
        - $ref: "#/parameters/f.p_hpvmth"
        - $ref: "#/parameters/f.p_recvio"
        - $ref: "#/parameters/f.p_pollvio"
        - $ref: "#/parameters/f.p_ar"
        - $ref: "#/parameters/f.p_tri_yr"
        - $ref: "#/parameters/f.p_pidall"
        - $ref: "#/parameters/f.p_fac_ico"
        - $ref: "#/parameters/f.p_icoo"
        - $ref: "#/parameters/f.p_fac_icos"
        - $ref: "#/parameters/f.p_ejscreen"
        - $ref: "#/parameters/f.p_limit_addr"
        - $ref: "#/parameters/f.p_lat"
        - $ref: "#/parameters/f.p_long"
        - $ref: "#/parameters/f.p_radius"
        - $ref: "#/parameters/f.p_decouple"
        - $ref: "#/parameters/f.p_ejscreen_over80cnt"
        - $ref: "#/parameters/f.queryset"
        - $ref: "#/parameters/f.responseset"
        - $ref: "#/parameters/f.tablelist"
        - $ref: "#/parameters/f.maplist"
        - $ref: "#/parameters/f.summarylist"
        - $ref: "#/parameters/f.callback"
        - $ref: "#/parameters/f.qcolumns"
      responses:
        "200":
          description: Results are summary statistics for the query and a query identifier (QID).
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/air05"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Clean Air Act Facility Search
      tags:
        - Facilities
  /air_rest_services.get_facility_info:
    get:
      description: Returns either an array of Facilities or an array of Clusters that meet the specified search criteria.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
            - CSV = Facility results formatted as comma delimited file download.
            - GEOJSON = Facility results formatted as GeoJSON feature collection.
            - GEOJSONP = Facility results formatted as GeoJSON feature collection with Padding.
            - GEOJSOND = Facility results formatted as GeoJSON feature collection download.
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.p_fn"
        - $ref: "#/parameters/q.p_sa"
        - $ref: "#/parameters/q.p_sa1"
        - $ref: "#/parameters/q.p_ct"
        - $ref: "#/parameters/q.p_co"
        - $ref: "#/parameters/q.p_fips"
        - $ref: "#/parameters/q.p_st"
        - $ref: "#/parameters/q.p_zip"
        - $ref: "#/parameters/q.p_lcon"
        - $ref: "#/parameters/q.p_frs"
        - $ref: "#/parameters/q.p_reg"
        - $ref: "#/parameters/q.p_sic"
        - $ref: "#/parameters/q.p_ncs"
        - $ref: "#/parameters/q.p_qnc"
        - $ref: "#/parameters/q.p_pen"
        - $ref: "#/parameters/q.p_opst"
        - $ref: "#/parameters/q.xmin"
        - $ref: "#/parameters/q.ymin"
        - $ref: "#/parameters/q.xmax"
        - $ref: "#/parameters/q.ymax"
        - $ref: "#/parameters/q.p_usmex"
        - $ref: "#/parameters/q.p_sic2"
        - $ref: "#/parameters/q.p_sic4"
        - $ref: "#/parameters/q.p_fa"
        - $ref: "#/parameters/q.p_act"
        - $ref: "#/parameters/q.p_maj"
        - $ref: "#/parameters/q.p_mact"
        - $ref: "#/parameters/q.p_nsps"
        - $ref: "#/parameters/q.p_nspsm"
        - $ref: "#/parameters/q.p_prog"
        - $ref: "#/parameters/q.p_fea"
        - $ref: "#/parameters/q.p_feay"
        - $ref: "#/parameters/q.p_feaa"
        - $ref: "#/parameters/q.p_iea"
        - $ref: "#/parameters/q.p_ieay"
        - $ref: "#/parameters/q.p_ieaa"
        - $ref: "#/parameters/q.p_qiv"
        - $ref: "#/parameters/q.p_naa"
        - $ref: "#/parameters/q.p_impw"
        - $ref: "#/parameters/q.p_trep"
        - $ref: "#/parameters/q.p_tri_cat"
        - $ref: "#/parameters/q.p_tri_amt"
        - $ref: "#/parameters/q.p_tri_any_amt"
        - $ref: "#/parameters/q.p_tri_pol"
        - $ref: "#/parameters/q.p_ghg_cat"
        - $ref: "#/parameters/q.p_ghg_amt"
        - $ref: "#/parameters/q.p_ghg_any_amt"
        - $ref: "#/parameters/q.p_ghg_yr"
        - $ref: "#/parameters/q.p_nei_pol"
        - $ref: "#/parameters/q.p_nei_amt"
        - $ref: "#/parameters/q.p_nei_any_amt"
        - $ref: "#/parameters/q.p_nei_yr"
        - $ref: "#/parameters/q.p_nei_cat"
        - $ref: "#/parameters/q.p_pm"
        - $ref: "#/parameters/q.p_pd"
        - $ref: "#/parameters/q.p_ico"
        - $ref: "#/parameters/q.p_huc"
        - $ref: "#/parameters/q.p_wbd"
        - $ref: "#/parameters/q.p_pid"
        - $ref: "#/parameters/q.p_med"
        - $ref: "#/parameters/q.p_ysl"
        - $ref: "#/parameters/q.p_ysly"
        - $ref: "#/parameters/q.p_ysla"
        - $ref: "#/parameters/q.p_stsl"
        - $ref: "#/parameters/q.p_stsly"
        - $ref: "#/parameters/q.p_stsla"
        - $ref: "#/parameters/q.p_stres"
        - $ref: "#/parameters/q.p_sttyp"
        - $ref: "#/parameters/q.p_qs"
        - $ref: "#/parameters/q.p_sfs"
        - $ref: "#/parameters/q.p_tribeid"
        - $ref: "#/parameters/q.p_tribename"
        - $ref: "#/parameters/q.p_tribedist"
        - $ref: "#/parameters/q.p_owop"
        - $ref: "#/parameters/q.p_agoo"
        - $ref: "#/parameters/q.p_idt1"
        - $ref: "#/parameters/q.p_idt2"
        - $ref: "#/parameters/q.p_stdt1"
        - $ref: "#/parameters/q.p_stdt2"
        - $ref: "#/parameters/q.p_pityp"
        - $ref: "#/parameters/q.p_cifdi"
        - $ref: "#/parameters/q.p_pfead1"
        - $ref: "#/parameters/q.p_pfead2"
        - $ref: "#/parameters/q.p_pfeat"
        - $ref: "#/parameters/q.p_psncq"
        - $ref: "#/parameters/q.p_pctrack"
        - $ref: "#/parameters/q.p_swpa"
        - $ref: "#/parameters/q.p_des"
        - $ref: "#/parameters/q.p_fntype"
        - $ref: "#/parameters/q.p_hpvmth"
        - $ref: "#/parameters/q.p_recvio"
        - $ref: "#/parameters/q.p_pollvio"
        - $ref: "#/parameters/q.p_ar"
        - $ref: "#/parameters/q.p_tri_yr"
        - $ref: "#/parameters/q.p_pidall"
        - $ref: "#/parameters/q.p_fac_ico"
        - $ref: "#/parameters/q.p_icoo"
        - $ref: "#/parameters/q.p_fac_icos"
        - $ref: "#/parameters/q.p_ejscreen"
        - $ref: "#/parameters/q.p_limit_addr"
        - $ref: "#/parameters/q.p_lat"
        - $ref: "#/parameters/q.p_long"
        - $ref: "#/parameters/q.p_radius"
        - $ref: "#/parameters/q.p_decouple"
        - $ref: "#/parameters/q.p_ejscreen_over80cnt"
        - $ref: "#/parameters/q.queryset"
        - $ref: "#/parameters/q.responseset"
        - $ref: "#/parameters/q.summarylist"
        - $ref: "#/parameters/q.callback"
        - $ref: "#/parameters/q.qcolumns"
        - $ref: "#/parameters/q.p_pretty_print"
      responses:
        "200":
          description: Results will either be an array of Facilities or an array of Clusters. The search will return clusters if the number of facilities returned is greater than the resposeset size, otherwise individual facility records will be returned.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/air08"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Clean Air Act Facility Enhanced Search
      tags:
        - Facilities
    post:
      description: Returns either an array of Facilities or an array of Clusters that meet the specified search criteria.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
            - CSV = Facility results formatted as comma delimited file download.
            - GEOJSON = Facility results formatted as GeoJSON feature collection.
            - GEOJSONP = Facility results formatted as GeoJSON feature collection with Padding.
            - GEOJSOND = Facility results formatted as GeoJSON feature collection download.
          in: formData
          name: output
          required: false
          type: string
        - $ref: "#/parameters/f.p_fn"
        - $ref: "#/parameters/f.p_sa"
        - $ref: "#/parameters/f.p_sa1"
        - $ref: "#/parameters/f.p_ct"
        - $ref: "#/parameters/f.p_co"
        - $ref: "#/parameters/f.p_fips"
        - $ref: "#/parameters/f.p_st"
        - $ref: "#/parameters/f.p_zip"
        - $ref: "#/parameters/f.p_lcon"
        - $ref: "#/parameters/f.p_frs"
        - $ref: "#/parameters/f.p_reg"
        - $ref: "#/parameters/f.p_sic"
        - $ref: "#/parameters/f.p_ncs"
        - $ref: "#/parameters/f.p_qnc"
        - $ref: "#/parameters/f.p_pen"
        - $ref: "#/parameters/f.p_opst"
        - $ref: "#/parameters/f.xmin"
        - $ref: "#/parameters/f.ymin"
        - $ref: "#/parameters/f.xmax"
        - $ref: "#/parameters/f.ymax"
        - $ref: "#/parameters/f.p_usmex"
        - $ref: "#/parameters/f.p_sic2"
        - $ref: "#/parameters/f.p_sic4"
        - $ref: "#/parameters/f.p_fa"
        - $ref: "#/parameters/f.p_act"
        - $ref: "#/parameters/f.p_maj"
        - $ref: "#/parameters/f.p_mact"
        - $ref: "#/parameters/f.p_nsps"
        - $ref: "#/parameters/f.p_nspsm"
        - $ref: "#/parameters/f.p_prog"
        - $ref: "#/parameters/f.p_fea"
        - $ref: "#/parameters/f.p_feay"
        - $ref: "#/parameters/f.p_feaa"
        - $ref: "#/parameters/f.p_iea"
        - $ref: "#/parameters/f.p_ieay"
        - $ref: "#/parameters/f.p_ieaa"
        - $ref: "#/parameters/f.p_qiv"
        - $ref: "#/parameters/f.p_naa"
        - $ref: "#/parameters/f.p_impw"
        - $ref: "#/parameters/f.p_trep"
        - $ref: "#/parameters/f.p_tri_cat"
        - $ref: "#/parameters/f.p_tri_amt"
        - $ref: "#/parameters/f.p_tri_any_amt"
        - $ref: "#/parameters/f.p_tri_pol"
        - $ref: "#/parameters/f.p_ghg_cat"
        - $ref: "#/parameters/f.p_ghg_amt"
        - $ref: "#/parameters/f.p_ghg_any_amt"
        - $ref: "#/parameters/f.p_ghg_yr"
        - $ref: "#/parameters/f.p_nei_pol"
        - $ref: "#/parameters/f.p_nei_amt"
        - $ref: "#/parameters/f.p_nei_any_amt"
        - $ref: "#/parameters/f.p_nei_yr"
        - $ref: "#/parameters/f.p_nei_cat"
        - $ref: "#/parameters/f.p_pm"
        - $ref: "#/parameters/f.p_pd"
        - $ref: "#/parameters/f.p_ico"
[...]
