{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "ee.iva-api.com",
  "info": {
    "contact": {
      "x-twitter": "VideoDetective"
    },
    "description": "Your Gateway to Building Incredible Movie, TV, and Game Content Discovery Experiences.",
    "license": {
      "name": "Terms and Conditions",
      "url": "https://developer.iva-Entertainment.com/terms"
    },
    "title": "Entertainment Express API",
    "version": "2.0",
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_VideoDetective_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://ee.iva-api.com/specs/openapi",
        "version": "2.0"
      },
      {
        "format": "swagger",
        "url": "https://ee.iva-api.com/specs/openapi",
        "version": "2.0"
      }
    ],
    "x-providerName": "iva-api.com"
  },
  "externalDocs": {
    "description": "For addition information about this api visit the external documentation.",
    "url": "https://developer.iva-Entertainment.com/docs/v2/getting-started"
  },
  "consumes": [
    "application/json"
  ],
  "securityDefinitions": {
    "ApiKeyHeader": {
      "description": "Authorize requests passing your apiKey in HTTP header.",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "type": "apiKey"
    },
    "ApiKeyQuery": {
      "description": "Authorize requests passing your apiKey in Querystring.",
      "in": "query",
      "name": "subscription-Key",
      "type": "apiKey"
    }
  },
  "parameters": {
    "Accept": {
      "description": "Accept Header",
      "enum": [
        "application/json"
      ],
      "in": "header",
      "name": "Accept",
      "required": true,
      "type": "string"
    }
  },
  "tags": [],
  "paths": {},
  "definitions": {}
}