{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "title": "MonitorManagementClient",
    "version": "2017-05-01-preview",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-05-01-preview/diagnosticsSettingsCategories_API.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "monitor-diagnosticsSettingsCategories_API",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "ApiVersionParameter": {
      "description": "Client Api Version.",
      "in": "query",
      "name": "api-version",
      "required": true,
      "type": "string"
    },
    "NameParameter": {
      "description": "The name of the diagnostic setting.",
      "in": "path",
      "name": "name",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceUriParameter": {
      "description": "The identifier of the resource.",
      "in": "path",
      "name": "resourceUri",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  },
  "paths": {
    "/{resourceUri}/providers/microsoft.insights/diagnosticSettingsCategories": {
      "get": {
        "description": "Lists the diagnostic settings categories for the specified resource.",
        "operationId": "DiagnosticSettingsCategory_List",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to get more information about diagnostic setting category",
            "schema": {
              "$ref": "#/definitions/DiagnosticSettingsCategoryResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "DiagnosticSettingsCategories"
        ],
        "x-ms-examples": {
          "Gets the diagnostic setting": {
            "parameters": {
              "api-version": "2017-05-01-preview",
              "resourceUri": "subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/providers/microsoft.insights/diagnosticSettingsCategories/WorkflowRuntime",
                      "name": "WorkflowRuntime",
                      "properties": {
                        "categoryType": "Logs"
                      },
                      "type": "microsoft.insights/diagnosticSettingsCategories"
                    },
                    {
                      "id": "/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/providers/microsoft.insights/diagnosticSettingsCategories/WorkflowMetric",
                      "name": "WorkflowMetric",
                      "properties": {
                        "categoryType": "Metrics"
                      },
                      "type": "microsoft.insights/diagnosticSettingsCategories"
                    }
                  ]
                },
                "headers": {}
              }
            }
          }
        }
      }
    },
    "/{resourceUri}/providers/microsoft.insights/diagnosticSettingsCategories/{name}": {
      "get": {
        "description": "Gets the diagnostic settings category for the specified resource.",
        "operationId": "DiagnosticSettingsCategory_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to get more information about diagnostic setting category",
            "schema": {
              "$ref": "#/definitions/DiagnosticSettingsCategoryResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "DiagnosticSettingsCategories"
        ],
        "x-ms-examples": {
          "Gets the diagnostic setting": {
            "parameters": {
              "api-version": "2017-05-01-preview",
              "name": "WorkflowRuntime",
              "resourceUri": "subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/1a66ce04-b633-4a0b-b2bc-a912ec8986a6/resourcegroups/viruela1/providers/microsoft.logic/workflows/viruela6/providers/microsoft.insights/diagnosticSettingsCategories/WorkflowRuntime",
                  "name": "WorkflowRuntime",
                  "properties": {
                    "categoryType": "Logs"
                  },
                  "type": "microsoft.insights/diagnosticSettingsCategories"
                },
                "headers": {}
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DiagnosticSettingsCategory": {
      "description": "The diagnostic settings Category.",
      "properties": {
        "categoryType": {
          "description": "The type of the diagnostic settings category.",
          "enum": [
            "Metrics",
            "Logs"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "categoryType"
          },
          "x-nullable": false
        }
      }
    },
    "DiagnosticSettingsCategoryResource": {
      "allOf": [
        {
          "$ref": "#/definitions/ProxyOnlyResource"
        }
      ],
      "description": "The diagnostic settings category resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DiagnosticSettingsCategory",
          "description": "The properties of a Diagnostic Settings Category.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "DiagnosticSettingsCategoryResourceCollection": {
      "description": "Represents a collection of diagnostic setting category resources.",
      "properties": {
        "value": {
          "description": "The collection of diagnostic settings category resources.",
          "items": {
            "$ref": "#/definitions/DiagnosticSettingsCategoryResource"
          },
          "type": "array"
        }
      }
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProxyOnlyResource": {
      "description": "A proxy only azure resource object",
      "properties": {
        "id": {
          "description": "Azure resource Id",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Azure resource name",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Azure resource type",
          "readOnly": true,
          "type": "string"
        }
      },
      "x-ms-azure-resource": true
    }
  }
}