swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: REST API for Azure SignalR Service
  title: SignalRManagementClient
  version: 2018-03-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/signalr/resource-manager/Microsoft.SignalRService/preview/2018-03-01-preview/signalr.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: signalr
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    enum:
      - 2018-03-01-preview
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupParameter:
    description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SignalRServiceName:
    description: The name of the SignalR resource.
    in: path
    name: resourceName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Gets subscription Id which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.SignalRService/operations:
    get:
      description: Lists all of the available REST API operations of the Microsoft.SignalRService provider.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Success. The response describes the list of operations.
          schema:
            $ref: "#/definitions/OperationList"
      tags:
        - SignalR
      x-ms-examples:
        ListOperations:
          parameters:
            api-version: 2018-03-01-preview
          responses:
            "200":
              body:
                nextLink: providers/Microsoft.SignalRService?$skipToken={opaqueString}
                value:
                  - display:
                      description: View the SignalR's settings and configurations in the management portal or through API
                      operation: Manage SignalR (read-only)
                      provider: Microsoft.SignalRService
                      resource: SignalR
                    name: Microsoft.SignalRService/SignalR/read
                    properties: {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/SignalR":
    get:
      description: Handles requests to list all resources in a subscription.
      operationId: SignalR_ListBySubscription
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Success. The response describes the list of SignalR services in the subscription.
          schema:
            $ref: "#/definitions/SignalRResourceList"
      tags:
        - SignalR
      x-ms-examples:
        ListBySubscription:
          parameters:
            api-version: 2018-03-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/myResourceGroup/providers/Microsoft.SignalRService/SignalR/mySignalRService
                    location: eastus
                    name: mySignalRService
                    properties:
                      externalIP: 10.0.0.1
                      hostName: myservice.service.signalr.net
                      hostNamePrefix: null
                      provisioningState: Succeeded
                      publicPort: 5001
                      serverPort: 5002
                      version: 1.0-preview
                    sku:
                      capacity: 1
                      name: Standard_S1
                      size: S1
                      tier: Standard
                    tags:
                      key1: value1
                    type: Microsoft.SignalRService/SignalR
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/locations/{location}/checkNameAvailability":
    post:
      description: Checks that the SignalR name is valid and is not already in use.
      operationId: SignalR_CheckNameAvailability
      parameters:
        - description: the region
          in: path
          name: location
          required: true
          type: string
        - description: Parameters supplied to the operation.
          in: body
          name: parameters
          required: false
          schema:
            $ref: "#/definitions/NameAvailabilityParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Success. The response describes the name availability.
          schema:
            $ref: "#/definitions/NameAvailability"
      tags:
        - SignalR
      x-ms-examples:
        CheckNameAvailability:
          parameters:
            api-version: 2018-03-01-preview
            location: eastus
            parameters:
              name: my-signalr-service
              type: Microsoft.SignalRService/SignalR
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                message: The leaf is already used by other people
                nameAvailable: false
                reason: AlreadyExists
  "/subscriptions/{subscriptionId}/providers/Microsoft.SignalRService/locations/{location}/usages":
    get:
      description: List usage quotas for Azure SignalR service by location.
      operationId: Usages_List
      parameters:
        - description: the location like "eastus"
          in: path
          name: location
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Success. The response describe the usage quotas of a subscription in specified region.
          schema:
            $ref: "#/definitions/SignalRUsageList"
      tags:
        - SignalR
      x-ms-examples:
        ListUsagesByLocation:
          parameters:
            api-version: 2018-03-01-preview
            location: eastus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/subid/providers/Microsoft.SignalRService/...pathToMoreResults...
                value:
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/eastus/usages/Usage1
                    limit: 100
                    name:
                      localizedValue: Usage1
                      value: Usage1
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/eastus/usages/Usage2
                    limit: 100
                    name:
                      localizedValue: Usage2
                      value: Usage2
                    unit: Count
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/SignalR":
    get:
      description: Handles requests to list all resources in a resource group.
      operationId: SignalR_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
      responses:
        "200":
          description: Success. The response describes the list of SignalR services in a resourceGroup.
          schema:
            $ref: "#/definitions/SignalRResourceList"
      tags:
        - SignalR
      x-ms-examples:
        ListByResourceGroup:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/myResourceGroup/providers/Microsoft.SignalRService/SignalR/mySignalRService
                    location: eastus
                    name: mySignalRService
                    properties:
                      externalIP: 10.0.0.1
                      hostName: myservice.service.signalr.net
                      hostNamePrefix: null
                      provisioningState: Succeeded
                      publicPort: 5001
                      serverPort: 5002
                      version: 1.0-preview
                    sku:
                      capacity: 1
                      name: Standard_S1
                      size: S1
                      tier: Standard
                    tags:
                      key1: value1
                    type: Microsoft.SignalRService/SignalR
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/SignalR/{resourceName}":
    delete:
      description: Operation to delete a SignalR service.
      operationId: SignalR_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/SignalRServiceName"
      responses:
        "202":
          description: Accepted. The response indicates the delete operation is performed in the background.
        "204":
          description: Success. The response indicates the resource is already deleted.
      tags:
        - SignalR
      x-ms-examples:
        Delete:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: myResourceGroup
            resourceName: mySignalRService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/subid/providers/Microsoft.SignalRService/...pathToOperationResult...
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Get the SignalR service and its properties.
      operationId: SignalR_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/SignalRServiceName"
      responses:
        "200":
          description: Success. The response describe the corresponding SignalR service.
          schema:
            $ref: "#/definitions/SignalRResource"
      tags:
        - SignalR
      x-ms-examples:
        Get:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: myResourceGroup
            resourceName: mySignalRService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/myResourceGroup/providers/Microsoft.SignalRService/SignalR/mySignalRService
                location: eastus
                name: mySignalRService
                properties:
                  externalIP: 10.0.0.1
                  hostName: myservice.service.signalr.net
                  hostNamePrefix: null
                  provisioningState: Succeeded
                  publicPort: 5001
                  serverPort: 5002
                  version: 1.0-preview
                sku:
                  capacity: 1
                  name: Standard_S1
                  size: S1
                  tier: Standard
                tags:
                  key1: value1
                type: Microsoft.SignalRService/SignalR
    patch:
      description: Operation to update an exiting SignalR service.
      operationId: SignalR_Update
      parameters:
        - description: Parameters for the update operation
          in: body
          name: parameters
          required: false
          schema:
            $ref: "#/definitions/SignalRUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/SignalRServiceName"
      responses:
        "200":
          description: Success. The response describes a SignalR service which is not up-to-date.
          schema:
            $ref: "#/definitions/SignalRResource"
        "202":
          description: Accepted. The response indicates the exiting SignalR service is now updating  and contains a Location header to query the operation result..
      tags:
        - SignalR
      x-ms-examples:
        Update:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              properties:
                hostNamePrefix: null
              sku:
                capacity: 1
                name: Standard_S1
                tier: Standard
              tags:
                key1: value1
            resourceGroupName: myResourceGroup
            resourceName: mySignalRService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/myResourceGroup/providers/Microsoft.SignalRService/SignalR/mySignalRService
                location: eastus
                name: mySignalRService
                properties:
                  externalIP: 10.0.0.1
                  hostName: myservice.service.signalr.net
                  hostNamePrefix: null
                  provisioningState: Succeeded
                  publicPort: 5001
                  serverPort: 5002
                  version: 1.0-preview
                sku:
                  capacity: 1
                  name: Standard_S1
                  size: S1
                  tier: Standard
                tags:
                  key1: value1
                type: Microsoft.SignalRService/SignalR
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/subid/providers/Microsoft.SignalRService/...pathToOperationResult...
      x-ms-long-running-operation: true
    put:
      description: Create a new SignalR service and update an exiting SignalR service.
      operationId: SignalR_CreateOrUpdate
      parameters:
        - description: Parameters for the create or update operation
          in: body
          name: parameters
          required: false
          schema:
            $ref: "#/definitions/SignalRCreateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/SignalRServiceName"
      responses:
        "201":
          description: Created. The response describes the new service and contains a Location header to query the operation result.
          schema:
            $ref: "#/definitions/SignalRResource"
        "202":
          description: Accepted. The response indicates the exiting SignalR service is now updating  and contains a Location header to query the operation result..
      tags:
        - SignalR
      x-ms-examples:
        CreateOrUpdate:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              location: eastus
              properties:
                hostNamePrefix: null
              sku:
                capacity: 1
                name: Standard_S1
                tier: Standard
              tags:
                key1: value1
            resourceGroupName: myResourceGroup
            resourceName: mySignalRService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/myResourceGroup/providers/Microsoft.SignalRService/SignalR/mySignalRService
                location: eastus
                name: mySignalRService
                properties:
                  externalIP: 10.0.0.1
                  hostName: myservice.service.signalr.net
                  hostNamePrefix: null
                  provisioningState: Succeeded
                  publicPort: 5001
                  serverPort: 5002
                  version: 1.0-preview
                sku:
                  capacity: 1
                  name: Standard_S1
                  size: S1
                  tier: Standard
                tags:
                  key1: value1
                type: Microsoft.SignalRService/SignalR
              headers:
                Location: https://management.azure.com/subscriptions/subid/providers/Microsoft.SignalRService/...pathToOperationResult...
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/subid/providers/Microsoft.SignalRService/...pathToOperationResult...
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/SignalR/{resourceName}/listKeys":
    post:
      description: Get the access keys of the SignalR resource.
      operationId: SignalR_ListKeys
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/SignalRServiceName"
      responses:
        "200":
          description: Success. The response describes SignalR service access keys.
          schema:
            $ref: "#/definitions/SignalRKeys"
      tags:
        - SignalR
      x-ms-examples:
        ListKeys:
          parameters:
            api-version: 2018-03-01-preview
            resourceGroupName: myResourceGroup
            resourceName: mySignalRService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                primaryConnectionString: Endpoint=https://yourServiceName.service.signalr.net;AccessKey=primaryAccessKey;
                primaryKey: primaryAccessKey
                secondaryConnectionString: Endpoint=https://yourServiceName.service.signalr.net;AccessKey=secondaryAccessKey;
                secondaryKey: secondaryAccessKey
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SignalRService/SignalR/{resourceName}/regenerateKey":
    post:
      description: Regenerate SignalR service access key. PrimaryKey and SecondaryKey cannot be regenerated at the same time.
      operationId: SignalR_RegenerateKey
      parameters:
        - description: Parameter that describes the Regenerate Key Operation.
          in: body
          name: parameters
          required: false
          schema:
            $ref: "#/definitions/RegenerateKeyParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/SignalRServiceName"
      responses:
        "201":
          description: Created and an async operation is executing in background to make the new key to take effect. The response contains new keys and a Location header to query the async operation result.
          schema:
            $ref: "#/definitions/SignalRKeys"
      tags:
        - SignalR
      x-ms-examples:
        RegenerateKey:
          parameters:
            api-version: 2018-03-01-preview
            parameters:
              keyType: Primary
            resourceGroupName: myResourceGroup
            resourceName: mySignalRService
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "201":
              body:
                primaryConnectionString: Endpoint=https://yourServiceName.service.signalr.net;AccessKey=primaryAccessKey;
                primaryKey: primaryAccessKey
                secondaryConnectionString: Endpoint=https://yourServiceName.service.signalr.net;AccessKey=secondaryAccessKey;
                secondaryKey: secondaryAccessKey
              headers:
                Location: https://management.azure.com/subscriptions/subid/providers/Microsoft.SignalRService/...pathToOperationResult...
      x-ms-long-running-operation: true
definitions:
  Dimension:
    description: Specifications of the Dimension of metrics.
    properties:
      displayName:
        description: Localized friendly display name of the dimension.
        type: string
      internalName:
        description: Name of the dimension as it appears in MDM.
        type: string
      name:
        description: The public facing name of the dimension.
        type: string
      toBeExportedForShoebox:
        description: A Boolean flag indicating whether this dimension should be included for the shoebox export scenario.
        type: boolean
    type: object
  MetricSpecification:
    description: Specifications of the Metrics for Azure Monitoring.
    properties:
      aggregationType:
        description: "Only provide one value for this field. Valid values: Average, Minimum, Maximum, Total, Count."
        type: string
      category:
        description: The name of the metric category that the metric belongs to. A metric can only belong to a single category.
        type: string
      dimensions:
        description: The dimensions of the metrics.
        items:
          $ref: "#/definitions/Dimension"
        type: array
      displayDescription:
        description: Localized friendly description of the metric.
        type: string
      displayName:
        description: Localized friendly display name of the metric.
        type: string
      fillGapWithZero:
        description: "Optional. If set to true, then zero will be returned for time duration where no metric is emitted/published. \r

          Ex. a metric that returns the number of times a particular error code was emitted. The error code may not appear \r

          often, instead of the RP publishing 0, Shoebox can auto fill in 0s for time periods where nothing was emitted."
        type: string
      name:
        description: Name of the metric.
        type: string
      unit:
        description: The unit that makes sense for the metric.
        type: string
    type: object
  NameAvailability:
    description: Result of the request to check name availability. It contains a flag and possible reason of failure.
    properties:
      message:
        description: The message of the operation.
        type: string
      nameAvailable:
        description: Indicates whether the name is available or not.
        type: boolean
      reason:
        description: The reason of the availability. Required if name is not available.
        type: string
    type: object
  NameAvailabilityParameters:
    description: Data POST-ed to the nameAvailability action
    properties:
      name:
        description: The SignalR service name to validate. e.g."my-signalR-name-here"
        type: string
      type:
        description: The resource type. Should be always "Microsoft.SignalRService/SignalR".
        type: string
    required:
      - type
      - name
    type: object
  Operation:
    description: REST API operation supported by SignalR resource provider.
    properties:
      display:
        $ref: "#/definitions/OperationDisplay"
        description: The object that describes the operation.
      name:
        description: "Name of the operation with format: {provider}/{resource}/{operation}"
        type: string
      origin:
        description: Optional. The intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX.
        type: string
      properties:
        $ref: "#/definitions/OperationProperties"
        description: Extra properties for the operation.
        x-ms-client-flatten: false
    type: object
  OperationDisplay:
    description: The object that describes a operation.
    properties:
      description:
        description: The localized friendly description for the operation
        type: string
      operation:
        description: The localized friendly name for the operation.
        type: string
      provider:
        description: Friendly name of the resource provider
        type: string
      resource:
        description: Resource type on which the operation is performed.
        type: string
    type: object
  OperationList:
    description: Result of the request to list REST API operations. It contains a list of operations.
    properties:
      nextLink:
        description: "The URL the client should use to fetch the next page (per server side paging).\r

          It's null for now, added for future use."
        type: string
      value:
        description: List of operations supported by the resource provider.
        items:
          $ref: "#/definitions/Operation"
        type: array
    type: object
  OperationProperties:
    description: Extra Operation properties.
    properties:
      serviceSpecification:
        $ref: "#/definitions/ServiceSpecification"
        description: The service specifications.
    type: object
  RegenerateKeyParameters:
    description: Parameters describes the request to regenerate access keys
    properties:
      keyType:
        description: The keyType to regenerate. Must be either 'primary' or 'secondary'(case-insensitive).
        enum:
          - Primary
          - Secondary
        type: string
        x-ms-enum:
          modelAsString: true
          name: KeyType
    type: object
  Resource:
    description: The core properties of ARM resources.
    properties:
      id:
        description: Fully qualified resource Id for the resource.
        readOnly: true
        type: string
      name:
        description: The name of the resource.
        readOnly: true
        type: string
      type:
        description: The type of the service - e.g. "Microsoft.SignalRService/SignalR"
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  ResourceSku:
    description: The billing information of the resource.(e.g. basic vs. standard)
    properties:
      capacity:
        description: "Optional, integer. If the SKU supports scale out/in then the capacity integer should be included. If scale out/in is not \r

          possible for the resource this may be omitted."
        format: int32
        type: integer
      family:
        description: Optional, string. If the service has different generations of hardware, for the same SKU, then that can be captured here.
        type: string
      name:
        description: The name of the SKU. This is typically a letter + number code, such as A0 or P3.  Required (if sku is specified)
        type: string
      size:
        description: Optional, string. When the name field is the combination of tier and some other value, this would be the standalone code.
        type: string
      tier:
        description: Optional tier of this particular SKU. `Basic` is deprecated, use `Standard` instead for Basic tier
        enum:
          - Free
          - Basic
          - Standard
          - Premium
        type: string
        x-ms-enum:
          modelAsString: true
          name: SignalRSkuTier
    required:
      - name
    type: object
  ServiceSpecification:
    description: An object that describes a specification.
    properties:
      metricSpecifications:
        description: Specifications of the Metrics for Azure Monitoring.
        items:
          $ref: "#/definitions/MetricSpecification"
        type: array
    type: object
  SignalRCreateOrUpdateProperties:
    description: Settings used to provision or configure the resource.
    properties:
      hostNamePrefix:
        description: "Prefix for the hostName of the SignalR service. Retained for future use.\r

          The hostname will be of format: &lt;hostNamePrefix&gt;.service.signalr.net."
        type: string
    type: object
  SignalRCreateParameters:
    allOf:
      - $ref: "#/definitions/SignalRUpdateParameters"
    description: "Parameters for SignalR service create/update operation.\r

      \r

      Keep the same schema as AzSignalR.Models.SignalRResource"
    properties:
      location:
        description: "Azure GEO region: e.g. West US | East US | North Central US | South Central US | West Europe | North Europe | East Asia | Southeast Asia | etc. \r

          The geo region of a resource never changes after it is created."
        type: string
    required:
      - location
    type: object
  SignalRKeys:
    description: A class represents the access keys of SignalR service.
    properties:
      primaryConnectionString:
        description: SignalR connection string constructed via the primaryKey
        type: string
      primaryKey:
        description: The primary access key.
        type: string
      secondaryConnectionString:
        description: SignalR connection string constructed via the secondaryKey
        type: string
      secondaryKey:
        description: The secondary access key.
        type: string
    type: object
  SignalRProperties:
    allOf:
      - $ref: "#/definitions/SignalRCreateOrUpdateProperties"
    description: A class that describes the properties of the SignalR service that should contain more read-only properties than AzSignalR.Models.SignalRCreateOrUpdateProperties
    properties:
      externalIP:
        description: The publicly accessible IP of the SignalR service.
        readOnly: true
        type: string
      hostName:
        description: "FQDN of the SignalR service instance. Format: xxx.service.signalr.net"
        readOnly: true
        type: string
      provisioningState:
        description: Provisioning state of the resource.
        enum:
          - Unknown
          - Succeeded
          - Failed
          - Canceled
          - Running
          - Creating
          - Updating
          - Deleting
          - Moving
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      publicPort:
        description: The publicly accessibly port of the SignalR service which is designed for browser/client side usage.
        format: int32
        readOnly: true
        type: integer
      serverPort:
        description: The publicly accessibly port of the SignalR service which is designed for customer server side usage.
        format: int32
        readOnly: true
        type: integer
      version:
        description: Version of the SignalR resource. Probably you need the same or higher version of client SDKs.
        type: string
    type: object
  SignalRResource:
    allOf:
      - $ref: "#/definitions/TrackedResource"
    description: A class represent a SignalR service resource.
    properties:
      id:
        description: Fully qualified resource Id for the resource.
        readOnly: true
        type: string
      name:
        description: The name of the resource.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/SignalRProperties"
        description: The properties of the service.
        x-ms-client-flatten: true
      sku:
        $ref: "#/definitions/ResourceSku"
        description: SKU of the service.
      type:
        description: The type of the service - e.g. "Microsoft.SignalRService/SignalR"
        readOnly: true
        type: string
    type: object
  SignalRResourceList:
    description: Object that includes an array of SignalR services and a possible link for next set.
    properties:
      nextLink:
        description: "The URL the client should use to fetch the next page (per server side paging).\r

          It's null for now, added for future use."
        type: string
      value:
        description: List of SignalR services
        items:
          $ref: "#/definitions/SignalRResource"
        type: array
    type: object
  SignalRUpdateParameters:
    description: Parameters for SignalR service update operation
    properties:
      properties:
        $ref: "#/definitions/SignalRCreateOrUpdateProperties"
        description: Settings used to provision or configure the resource
        x-ms-client-flatten: false
      sku:
        $ref: "#/definitions/ResourceSku"
        description: The billing information of the resource.(e.g. basic vs. standard)
      tags:
        additionalProperties:
          type: string
        description: A list of key value pairs that describe the resource.
        type: object
    type: object
  SignalRUsage:
    description: Object that describes a specific usage of SignalR resources.
    properties:
      currentValue:
        description: Current value for the usage quota.
        format: int64
        type: integer
      id:
        description: Fully qualified ARM resource id
        type: string
      limit:
        description: The maximum permitted value for the usage quota. If there is no limit, this value will be -1.
        format: int64
        type: integer
      name:
        $ref: "#/definitions/SignalRUsageName"
        description: Localizable String object containing the name and a localized value.
      unit:
        description: "Representing the units of the usage quota. Possible values are: Count, Bytes, Seconds, Percent, CountPerSecond, BytesPerSecond."
        type: string
    type: object
  SignalRUsageList:
    description: Object that includes an array of SignalR resource usages and a possible link for next set.
    properties:
      nextLink:
        description: "The URL the client should use to fetch the next page (per server side paging).\r

          It's null for now, added for future use."
        type: string
      value:
        description: List of SignalR usages
        items:
          $ref: "#/definitions/SignalRUsage"
        type: array
    type: object
  SignalRUsageName:
    description: Localizable String object containing the name and a localized value.
    properties:
      localizedValue:
        description: Localized name of the usage.
        type: string
      value:
        description: The identifier of the usage.
        type: string
    type: object
  TrackedResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: The resource model definition for a ARM tracked top level resource.
    properties:
      location:
        description: The GEO location of the SignalR service. e.g. West US | East US | North Central US | South Central US.
        type: string
        x-ms-mutability:
          - read
          - create
      tags:
        additionalProperties:
          type: string
        description: Tags of the service which is a list of key value pairs that describe the resource.
        type: object
        x-ms-mutability:
          - read
          - create
          - update
    type: object
