swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: Diagnostics API Client
  version: 2016-03-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/Diagnostics.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-Diagnostics
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API Version
    in: query
    name: api-version
    required: true
    type: string
  resourceGroupNameParameter:
    description: Name of the resource group to which the resource belongs.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+[^\.]$
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/detectors":
    get:
      description: List Hosting Environment Detector Responses
      operationId: Diagnostics_ListHostingEnvironmentDetectorResponses
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DetectorResponseCollection"
      summary: List Hosting Environment Detector Responses
      tags:
        - Diagnostics
      x-ms-examples:
        List App Service Environment Detector Responses:
          parameters:
            api-version: 2016-03-01
            name: SampleAppServiceEnvironment
            resourceGroupName: Sample-WestUSResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/hostingEnvironments/SampleAppServiceEnvironment/detectors/runtimeavailability
                    name: runtimeavailability
                    properties:
                      dataset: []
                      metadata:
                        category: Availability and Performance
                        description: This detector analyzes all the requests to all applications running on this app service environment.
                        subCategory: App Availability
                        supportTopicId: ""
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/detectors/{detectorName}":
    get:
      description: Get Hosting Environment Detector Response
      operationId: Diagnostics_GetHostingEnvironmentDetectorResponse
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: App Service Environment Name
          in: path
          name: name
          required: true
          type: string
        - description: Detector Resource Name
          in: path
          name: detectorName
          required: true
          type: string
        - description: Start Time
          format: date-time
          in: query
          name: startTime
          type: string
        - description: End Time
          format: date-time
          in: query
          name: endTime
          type: string
        - description: Time Grain
          in: query
          name: timeGrain
          pattern: PT[1-9][0-9]+[SMH]
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DetectorResponse"
      summary: Get Hosting Environment Detector Response
      tags:
        - Diagnostics
      x-ms-examples:
        Get App Service Environment Detector Response:
          parameters:
            api-version: 2016-03-01
            detectorName: runtimeavailability
            name: SampleAppServiceEnvironment
            resourceGroupName: Sample-WestUSResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/hostingEnvironments/SampleAppServiceEnvironment/detectors/runtimeavailability
                name: runtimeavailability
                properties:
                  dataset:
                    - renderingProperties:
                        description: This detector breaks down the number of requests that your apps on this app service environment received for each status code.
                        renderingType: TimeSeries
                        title: Requests by Status Code
                      table:
                        columns:
                          - columnName: PreciseTimeStamp
                            columnType: datetime
                            dataType: DateTime
                          - columnName: count_Http2xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http3xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http4xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http5xx
                            columnType: long
                            dataType: Int64
                        rows:
                          - - 2018-03-27T00:25:00Z
                            - "772705"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:30:00Z
                            - "787069"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:35:00Z
                            - "781627"
                            - "0"
                            - "1"
                            - "0"
                          - - 2018-03-27T00:40:00Z
                            - "785017"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:45:00Z
                            - "783518"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:50:00Z
                            - "785783"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:55:00Z
                            - "772874"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:00:00Z
                            - "787162"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:05:00Z
                            - "782036"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:10:00Z
                            - "784642"
                            - "0"
                            - "0"
                            - "0"
                        tableName: Table_0
                  metadata:
                    category: Availability and Performance
                    description: This detector analyzes all the requests to all applications running on this app service environment.
                    subCategory: App Availability
                    supportTopicId: ""
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/detectors":
    get:
      description: List Site Detector Responses
      operationId: Diagnostics_ListSiteDetectorResponses
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DetectorResponseCollection"
      summary: List Site Detector Responses
      tags:
        - Diagnostics
      x-ms-examples:
        List App Detector Responses:
          parameters:
            api-version: 2016-03-01
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/detectors/runtimeavailability
                    name: runtimeavailability
                    properties:
                      dataset: []
                      metadata:
                        category: Availability and Performance
                        description: This detector analyzes the requests to your application.
                        subCategory: App Availability
                        supportTopicId: ""
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/detectors/{detectorName}":
    get:
      description: Get site detector response
      operationId: Diagnostics_GetSiteDetectorResponse
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Detector Resource Name
          in: path
          name: detectorName
          required: true
          type: string
        - description: Start Time
          format: date-time
          in: query
          name: startTime
          type: string
        - description: End Time
          format: date-time
          in: query
          name: endTime
          type: string
        - description: Time Grain
          in: query
          name: timeGrain
          pattern: PT[1-9][0-9]+[SMH]
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DetectorResponse"
      summary: Get site detector response
      tags:
        - Diagnostics
      x-ms-examples:
        Get App Detector Response:
          parameters:
            api-version: 2016-03-01
            detectorName: runtimeavailability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/detectors/runtimeavailability
                name: runtimeavailability
                properties:
                  dataset:
                    - renderingProperties:
                        description: This detector breaks down the number of requests that your app received for each status code.
                        renderingType: TimeSeries
                        title: Requests by Status Code
                      table:
                        columns:
                          - columnName: PreciseTimeStamp
                            columnType: datetime
                            dataType: DateTime
                          - columnName: count_Http2xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http3xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http4xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http5xx
                            columnType: long
                            dataType: Int64
                        rows:
                          - - 2018-03-27T00:25:00Z
                            - "772705"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:30:00Z
                            - "787069"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:35:00Z
                            - "781627"
                            - "0"
                            - "1"
                            - "0"
                          - - 2018-03-27T00:40:00Z
                            - "785017"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:45:00Z
                            - "783518"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:50:00Z
                            - "785783"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:55:00Z
                            - "772874"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:00:00Z
                            - "787162"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:05:00Z
                            - "782036"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:10:00Z
                            - "784642"
                            - "0"
                            - "0"
                            - "0"
                        tableName: Table_0
                  metadata:
                    category: Availability and Performance
                    description: This detector analyzes the requests to your application.
                    subCategory: Web App Down
                    supportTopicId: ""
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics":
    get:
      description: Get Diagnostics Categories
      operationId: Diagnostics_ListSiteDiagnosticCategories
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticCategoryCollection"
      summary: Get Diagnostics Categories
      tags:
        - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}":
    get:
      description: Get Diagnostics Category
      operationId: Diagnostics_GetSiteDiagnosticCategory
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticCategory"
      summary: Get Diagnostics Category
      tags:
        - Diagnostics
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses":
    get:
      description: Get Site Analyses
      operationId: Diagnostics_ListSiteAnalyses
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticAnalysisCollection"
      summary: Get Site Analyses
      tags:
        - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}":
    get:
      description: Get Site Analysis
      operationId: Diagnostics_GetSiteAnalysis
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Analysis Name
          in: path
          name: analysisName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticAnalysis"
      summary: Get Site Analysis
      tags:
        - Diagnostics
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}/execute":
    post:
      description: Execute Analysis
      operationId: Diagnostics_ExecuteSiteAnalysis
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Category Name
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Analysis Resource Name
          in: path
          name: analysisName
          required: true
          type: string
        - description: Start Time
          format: date-time
          in: query
          name: startTime
          type: string
        - description: End Time
          format: date-time
          in: query
          name: endTime
          type: string
        - description: Time Grain
          in: query
          name: timeGrain
          pattern: PT[1-9][0-9]+[SMH]
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticAnalysis"
      summary: Execute Analysis
      tags:
        - Diagnostics
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors":
    get:
      description: Get Detectors
      operationId: Diagnostics_ListSiteDetectors
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticDetectorCollection"
      summary: Get Detectors
      tags:
        - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}":
    get:
      description: Get Detector
      operationId: Diagnostics_GetSiteDetector
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Detector Name
          in: path
          name: detectorName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticDetectorCollection"
      summary: Get Detector
      tags:
        - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}/execute":
    post:
      description: Execute Detector
      operationId: Diagnostics_ExecuteSiteDetector
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Detector Resource Name
          in: path
          name: detectorName
          required: true
          type: string
        - description: Category Name
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Start Time
          format: date-time
          in: query
          name: startTime
          type: string
        - description: End Time
          format: date-time
          in: query
          name: endTime
          type: string
        - description: Time Grain
          in: query
          name: timeGrain
          pattern: PT[1-9][0-9]+[SMH]
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticDetectorResponse"
      summary: Execute Detector
      tags:
        - Diagnostics
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/detectors":
    get:
      description: List Site Detector Responses
      operationId: Diagnostics_ListSiteDetectorResponsesSlot
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DetectorResponseCollection"
      summary: List Site Detector Responses
      tags:
        - Diagnostics
      x-ms-examples:
        List App Slot Detector Responses:
          parameters:
            api-version: 2016-03-01
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/detectors/runtimeavailability
                    name: runtimeavailability
                    properties:
                      dataset: []
                      metadata:
                        category: Availability and Performance
                        description: This detector analyzes the requests to your application.
                        subCategory: App Availability
                        supportTopicId: ""
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/detectors/{detectorName}":
    get:
      description: Get site detector response
      operationId: Diagnostics_GetSiteDetectorResponseSlot
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Detector Resource Name
          in: path
          name: detectorName
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - description: Start Time
          format: date-time
          in: query
          name: startTime
          type: string
        - description: End Time
          format: date-time
          in: query
          name: endTime
          type: string
        - description: Time Grain
          in: query
          name: timeGrain
          pattern: PT[1-9][0-9]+[SMH]
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DetectorResponse"
      summary: Get site detector response
      tags:
        - Diagnostics
      x-ms-examples:
        Get App Slot Detector Response:
          parameters:
            api-version: 2016-03-01
            detectorName: runtimeavailability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/slots/staging/detectors/runtimeavailability
                name: runtimeavailability
                properties:
                  dataset:
                    - renderingProperties:
                        description: This detector breaks down the number of requests that your app received for each status code.
                        renderingType: TimeSeries
                        title: Requests by Status Code
                      table:
                        columns:
                          - columnName: PreciseTimeStamp
                            columnType: datetime
                            dataType: DateTime
                          - columnName: count_Http2xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http3xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http4xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http5xx
                            columnType: long
                            dataType: Int64
                        rows:
                          - - 2018-03-27T00:25:00Z
                            - "772705"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:30:00Z
                            - "787069"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:35:00Z
                            - "781627"
                            - "0"
                            - "1"
                            - "0"
                          - - 2018-03-27T00:40:00Z
                            - "785017"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:45:00Z
                            - "783518"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:50:00Z
                            - "785783"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:55:00Z
                            - "772874"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:00:00Z
                            - "787162"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:05:00Z
                            - "782036"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:10:00Z
                            - "784642"
                            - "0"
                            - "0"
                            - "0"
                        tableName: Table_0
                  metadata:
                    category: Availability and Performance
                    description: This detector analyzes the requests to your application.
                    subCategory: Web App Down
                    supportTopicId: ""
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics":
    get:
      description: Get Diagnostics Categories
      operationId: Diagnostics_ListSiteDiagnosticCategoriesSlot
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticCategoryCollection"
      summary: Get Diagnostics Categories
      tags:
        - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}":
    get:
      description: Get Diagnostics Category
      operationId: Diagnostics_GetSiteDiagnosticCategorySlot
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticCategory"
      summary: Get Diagnostics Category
      tags:
        - Diagnostics
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses":
    get:
      description: Get Site Analyses
      operationId: Diagnostics_ListSiteAnalysesSlot
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticAnalysisCollection"
      summary: Get Site Analyses
      tags:
        - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses/{analysisName}":
    get:
      description: Get Site Analysis
      operationId: Diagnostics_GetSiteAnalysisSlot
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Analysis Name
          in: path
          name: analysisName
          required: true
          type: string
        - description: Slot - optional
          in: path
          name: slot
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticAnalysis"
      summary: Get Site Analysis
      tags:
        - Diagnostics
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses/{analysisName}/execute":
    post:
      description: Execute Analysis
      operationId: Diagnostics_ExecuteSiteAnalysisSlot
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Category Name
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Analysis Resource Name
          in: path
          name: analysisName
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - description: Start Time
          format: date-time
          in: query
          name: startTime
          type: string
        - description: End Time
          format: date-time
          in: query
          name: endTime
          type: string
        - description: Time Grain
          in: query
          name: timeGrain
          pattern: PT[1-9][0-9]+[SMH]
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticAnalysis"
      summary: Execute Analysis
      tags:
        - Diagnostics
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors":
    get:
      description: Get Detectors
      operationId: Diagnostics_ListSiteDetectorsSlot
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticDetectorCollection"
      summary: Get Detectors
      tags:
        - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors/{detectorName}":
    get:
      description: Get Detector
      operationId: Diagnostics_GetSiteDetectorSlot
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Detector Name
          in: path
          name: detectorName
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticDetectorCollection"
      summary: Get Detector
      tags:
        - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors/{detectorName}/execute":
    post:
      description: Execute Detector
      operationId: Diagnostics_ExecuteSiteDetectorSlot
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Detector Resource Name
          in: path
          name: detectorName
          required: true
          type: string
        - description: Category Name
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - description: Start Time
          format: date-time
          in: query
          name: startTime
          type: string
        - description: End Time
          format: date-time
          in: query
          name: endTime
          type: string
        - description: Time Grain
          in: query
          name: timeGrain
          pattern: PT[1-9][0-9]+[SMH]
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticDetectorResponse"
      summary: Execute Detector
      tags:
        - Diagnostics
definitions:
  AbnormalTimePeriod:
    description: Class representing Abnormal Time Period identified in diagnosis
    properties:
      endTime:
        description: End time of the downtime
        format: date-time
        type: string
      events:
        description: List of Possible Cause of downtime
        items:
          $ref: "#/definitions/DetectorAbnormalTimePeriod"
        type: array
      solutions:
        description: List of proposed solutions
        items:
          $ref: "#/definitions/Solution"
        type: array
      startTime:
        description: Start time of the downtime
        format: date-time
        type: string
    type: object
  AnalysisData:
    description: Class Representing Detector Evidence used for analysis
    properties:
      data:
        description: Additional Source Data
        items:
          items:
            description: Name value pair.
            properties:
              name:
                description: Pair name.
                type: string
              value:
                description: Pair value.
                type: string
            type: object
          type: array
        type: array
      detectorDefinition:
        $ref: "#/definitions/DetectorDefinition"
        description: Detector Definition
      detectorMetaData:
        $ref: "#/definitions/ResponseMetaData"
        description: Detector Meta Data
      metrics:
        description: Source Metrics
        items:
          $ref: "#/definitions/DiagnosticMetricSet"
        type: array
      source:
        description: Name of the Detector
        type: string
    type: object
  AnalysisDefinition:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Definition of Analysis
    properties:
      properties:
        description: AnalysisDefinition resource specific properties
        properties:
          description:
            description: Description of the Analysis
            readOnly: true
            type: string
        x-ms-client-flatten: true
    type: object
  DataSource:
    description: Class representing data source used by the detectors
    properties:
      dataSourceUri:
        description: Datasource Uri Links
        items:
          description: Name value pair.
          properties:
            name:
              description: Pair name.
              type: string
            value:
              description: Pair value.
              type: string
          type: object
        type: array
      instructions:
        description: Instructions if any for the data source
        items:
          type: string
        type: array
    type: object
  DataTableResponseColumn:
    description: Column definition
    properties:
      columnName:
        description: Name of the column
        type: string
      columnType:
        description: Column Type
        type: string
      dataType:
        description: Data type which looks like 'String' or 'Int32'.
        type: string
    type: object
  DataTableResponseObject:
    description: Data Table which defines columns and raw row values
    properties:
      columns:
        description: List of columns with data types
        items:
          $ref: "#/definitions/DataTableResponseColumn"
        type: array
      rows:
        description: Raw row values
        items:
          items:
            type: string
          type: array
        type: array
      tableName:
        description: Name of the table
        type: string
    type: object
  DetectorAbnormalTimePeriod:
    description: Class representing Abnormal Time Period detected.
    properties:
      endTime:
        description: End time of the correlated event
        format: date-time
        type: string
      message:
        description: Message describing the event
        type: string
      metaData:
        description: Downtime metadata
        items:
          items:
            description: Name value pair.
            properties:
              name:
                description: Pair name.
                type: string
              value:
                description: Pair value.
                type: string
            type: object
          type: array
        type: array
      priority:
        description: Represents the rank of the Detector
        format: double
        type: number
      solutions:
        description: List of proposed solutions
        items:
          $ref: "#/definitions/Solution"
        type: array
      source:
        description: Represents the name of the Detector
        type: string
      startTime:
        description: Start time of the correlated event
        format: date-time
        type: string
      type:
        description: Represents the type of the Detector
        enum:
          - ServiceIncident
          - AppDeployment
          - AppCrash
          - RuntimeIssueDetected
          - AseDeployment
          - UserIssue
          - PlatformIssue
          - Other
        type: string
        x-ms-enum:
          modelAsString: false
          name: IssueType
    type: object
  DetectorDefinition:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Class representing detector definition
    properties:
      properties:
        description: DetectorDefinition resource specific properties
        properties:
          description:
            description: Description of the detector
            readOnly: true
            type: string
          displayName:
            description: Display name of the detector
            readOnly: true
            type: string
          isEnabled:
            description: Flag representing whether detector is enabled or not.
            readOnly: true
            type: boolean
          rank:
            description: Detector Rank
            format: double
            readOnly: true
            type: number
        x-ms-client-flatten: true
    type: object
  DetectorInfo:
    description: Definition of Detector
    properties:
      category:
        description: Support Category
        readOnly: true
        type: string
      description:
        description: Short description of the detector and its purpose
        readOnly: true
        type: string
      subCategory:
        description: Support Sub Category
        readOnly: true
        type: string
      supportTopicId:
        description: Support Topic Id
        readOnly: true
        type: string
    type: object
  DetectorResponse:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Class representing Response from Detector
    properties:
      properties:
        description: DetectorResponse resource specific properties
        properties:
          dataset:
            description: Data Set
            items:
              $ref: "#/definitions/DiagnosticData"
            type: array
          metadata:
            $ref: "#/definitions/DetectorInfo"
            description: metadata for the detector
        x-ms-client-flatten: true
    type: object
  DetectorResponseCollection:
    description: Collection of detector responses
    properties:
      nextLink:
        description: Link to next page of resources.
        readOnly: true
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: "#/definitions/DetectorResponse"
        type: array
    required:
      - value
    type: object
  DiagnosticAnalysis:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Class representing a diagnostic analysis done on an application
    properties:
      properties:
        description: DiagnosticAnalysis resource specific properties
        properties:
          abnormalTimePeriods:
            description: List of time periods.
            items:
              $ref: "#/definitions/AbnormalTimePeriod"
            type: array
          endTime:
            description: End time of the period
            format: date-time
            type: string
          nonCorrelatedDetectors:
            description: Data by each detector for detectors that did not corelate
            items:
              $ref: "#/definitions/DetectorDefinition"
            type: array
          payload:
            description: Data by each detector
            items:
              $ref: "#/definitions/AnalysisData"
            type: array
          startTime:
            description: Start time of the period
            format: date-time
            type: string
        x-ms-client-flatten: true
    type: object
  DiagnosticAnalysisCollection:
    description: Collection of Diagnostic Analyses
    properties:
      nextLink:
        description: Link to next page of resources.
        readOnly: true
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: "#/definitions/AnalysisDefinition"
        type: array
    required:
      - value
    type: object
  DiagnosticCategory:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Class representing detector definition
    properties:
      properties:
        description: DiagnosticCategory resource specific properties
        properties:
          description:
            description: Description of the diagnostic category
            readOnly: true
            type: string
        x-ms-client-flatten: true
    type: object
  DiagnosticCategoryCollection:
    description: Collection of Diagnostic Categories
    properties:
      nextLink:
        description: Link to next page of resources.
        readOnly: true
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: "#/definitions/DiagnosticCategory"
        type: array
    required:
      - value
    type: object
  DiagnosticData:
    description: Set of data with rendering instructions
    properties:
      renderingProperties:
        $ref: "#/definitions/Rendering"
        description: Properties that describe how the table should be rendered
      table:
        $ref: "#/definitions/DataTableResponseObject"
        description: Data in table form
    type: object
  DiagnosticDetectorCollection:
    description: Collection of Diagnostic Detectors
    properties:
      nextLink:
        description: Link to next page of resources.
        readOnly: true
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: "#/definitions/DetectorDefinition"
        type: array
    required:
      - value
    type: object
  DiagnosticDetectorResponse:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Class representing Response from Diagnostic Detectors
    properties:
      properties:
        description: DiagnosticDetectorResponse resource specific properties
        properties:
          abnormalTimePeriods:
            description: List of Correlated events found by the detector
            items:
              $ref: "#/definitions/DetectorAbnormalTimePeriod"
            type: array
          data:
            description: Additional Data that detector wants to send.
            items:
              items:
                description: Name value pair.
                properties:
                  name:
                    description: Pair name.
                    type: string
                  value:
                    description: Pair value.
                    type: string
                type: object
              type: array
            type: array
          detectorDefinition:
            $ref: "#/definitions/DetectorDefinition"
            description: Detector's definition
          endTime:
            description: End time of the period
            format: date-time
            type: string
          issueDetected:
            description: Flag representing Issue was detected.
            type: boolean
          metrics:
            description: Metrics provided by the detector
            items:
              $ref: "#/definitions/DiagnosticMetricSet"
            type: array
          responseMetaData:
            $ref: "#/definitions/ResponseMetaData"
            description: Meta Data
          startTime:
            description: Start time of the period
            format: date-time
            type: string
        x-ms-client-flatten: true
    type: object
  DiagnosticMetricSample:
    description: Class representing Diagnostic Metric
    properties:
      isAggregated:
        description: Whether the values are aggregates across all workers or not
        type: boolean
      maximum:
        description: Maximum of the metric sampled during the time period
        format: double
        type: number
      minimum:
        description: Minimum of the metric sampled during the time period
        format: double
        type: number
      roleInstance:
        description: |-
          Role Instance. Null if this counter is not per instance 
          This is returned and should be whichever instance name we desire to be returned
          i.e. CPU and Memory return RDWORKERNAME (LargeDed..._IN_0) 
          where RDWORKERNAME is Machine name below and RoleInstance name in parenthesis
        type: string
      timestamp:
        description: Time at which metric is measured
        format: date-time
        type: string
      total:
        description: Total value of the metric. If multiple measurements are made this will have sum of all.
        format: double
        type: number
    type: object
  DiagnosticMetricSet:
    description: Class representing Diagnostic Metric information
    properties:
      endTime:
        description: End time of the period
        format: date-time
        type: string
      name:
        description: Name of the metric
        type: string
      startTime:
        description: Start time of the period
        format: date-time
        type: string
      timeGrain:
        description: Presented time grain. Supported grains at the moment are PT1M, PT1H, P1D
        type: string
      unit:
        description: Metric's unit
        type: string
      values:
        description: Collection of metric values for the selected period based on the {Microsoft.Web.Hosting.Administration.DiagnosticMetricSet.TimeGrain}
        items:
          $ref: "#/definitions/DiagnosticMetricSample"
        type: array
    type: object
  Rendering:
    description: Instructions for rendering the data
    properties:
      description:
        description: Description of the data that will help it be interpreted
        type: string
      renderingType:
        description: Rendering Type
        enum:
          - NoGraph
          - Table
          - TimeSeries
          - TimeSeriesPerInstance
        type: string
        x-ms-enum:
          modelAsString: false
          name: RenderingType
      title:
        description: Title of data
        type: string
    type: object
  ResponseMetaData:
    properties:
      dataSource:
        $ref: "#/definitions/DataSource"
        description: Source of the Data
    type: object
  Solution:
    description: Class Representing Solution for problems detected.
    properties:
      data:
        description: Solution Data.
        items:
          items:
            description: Name value pair.
            properties:
              name:
                description: Pair name.
                type: string
              value:
                description: Pair value.
                type: string
            type: object
          type: array
        type: array
      description:
        description: Description of the solution
        type: string
      displayName:
        description: Display Name of the solution
        type: string
      id:
        description: Solution Id.
        format: double
        type: number
      metadata:
        description: Solution Metadata.
        items:
          items:
            description: Name value pair.
            properties:
              name:
                description: Pair name.
                type: string
              value:
                description: Pair value.
                type: string
            type: object
          type: array
        type: array
      order:
        description: Order of the solution.
        format: double
        type: number
      type:
        description: Type of Solution
        enum:
          - QuickSolution
          - DeepInvestigation
          - BestPractices
        type: string
        x-ms-enum:
          modelAsString: false
          name: SolutionType
    type: object
