swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: AutomationManagement
  version: 2018-01-15
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2018-01-15/dscCompilationJob.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: automation-dscCompilationJob
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/compilationjobs":
    get:
      description: Retrieve a list of dsc compilation jobs.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/compilationjoboperations
      operationId: DscCompilationJob_ListByAutomationAccount
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DscCompilationJobListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscCompilationJob
      x-ms-examples:
        List DSC Compilation job in Automation Account:
          parameters:
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/
                    name: CompilationConfiguration1
                    properties:
                      configuration:
                        name: TestDscConfiguration
                      creationTime: 2017-11-17T19:45:24.59+00:00
                      endTime: null
                      jobId: e6e7fbab-183c-405a-afe6-9eb5db97921a
                      lastModifiedTime: 2017-11-17T19:45:58.5933333+00:00
                      startTime: 2017-11-17T19:45:52.9833333+00:00
                      status: Suspended
                    type: Microsoft.Automation/AutomationAccounts/compilationjobs
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/
                    name: CompilationConfiguration2
                    properties:
                      configuration:
                        name: NewDscConfiguration
                      creationTime: 2017-12-05T21:29:07.74+00:00
                      endTime: 2017-12-05T21:30:42.6+00:00
                      jobId: 111d4e06-2d88-46b4-8500-7febd4906838
                      lastModifiedTime: 2017-12-05T21:30:42.6+00:00
                      startTime: 2017-12-05T21:30:26.48+00:00
                      status: Completed
                    type: Microsoft.Automation/AutomationAccounts/compilationjobs
              headers: {}
      x-ms-odata: "#/definitions/DscCompilationJob"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/compilationjobs/{compilationJobName}":
    get:
      description: Retrieve the Dsc configuration compilation job identified by job id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dsccompilationjoboperations
      operationId: DscCompilationJob_Get
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The DSC configuration Id.
          in: path
          name: compilationJobName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DscCompilationJob"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscCompilationJob
      x-ms-examples:
        Get a DSC Compilation job:
          parameters:
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            compilationJobName: TestCompilationJob
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/TestCompilationJob
                name: TestCompilationJob
                properties:
                  configuration:
                    name: SetupServer
                  creationTime: 2017-03-28T23:14:26.903+00:00
                  endTime: null
                  exception: null
                  jobId: ce6fe3e3-9db3-4096-a6b4-82bfb4c10a9a
                  lastModifiedTime: 2017-03-28T23:14:26.903+00:00
                  lastStatusModifiedTime: 2017-03-28T23:14:26.903+00:00
                  parameters: null
                  provisioningState: Processing
                  runOn: null
                  startTime: null
                  status: New
                  statusDetails: None
                type: Microsoft.Automation/AutomationAccounts/compilationjobs
              headers: {}
    put:
      description: Creates the Dsc compilation job of the configuration.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/dscconfigurationcompilejoboperations
      operationId: DscCompilationJob_Create
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The DSC configuration Id.
          in: path
          name: compilationJobName
          required: true
          type: string
        - description: The parameters supplied to the create compilation job operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/DscCompilationJobCreateParameters"
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/DscCompilationJob"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscCompilationJob
      x-ms-examples:
        Create or update a DSC Compilation job:
          parameters:
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            compilationJobName: TestCompilationJob
            parameters:
              properties:
                configuration:
                  name: SetupServer
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/TestCompilationJob
                name: TestCompilationJob
                properties:
                  configuration:
                    name: SetupServer
                  creationTime: 2017-03-28T23:14:26.903+00:00
                  endTime: null
                  exception: null
                  jobId: ce6fe3e3-9db3-4096-a6b4-82bfb4c10a9a
                  lastModifiedTime: 2017-03-28T23:14:26.903+00:00
                  lastStatusModifiedTime: 2017-03-28T23:14:26.903+00:00
                  parameters: {}
                  provisioningState: Processing
                  runOn: null
                  startTime: null
                  status: New
                  statusDetails: None
                type: Microsoft.Automation/AutomationAccounts/compilationjobs
              headers: {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/compilationjobs/{jobId}/streams":
    get:
      description: Retrieve all the job streams for the compilation Job.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobstreamoperations
      operationId: DscCompilationJobStream_ListByJob
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job id.
          format: uuid
          in: path
          name: jobId
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/JobStreamListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscCompilationJob
      x-ms-examples:
        List DSC Compilation job streams:
          parameters:
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            jobId: 836d4e06-2d88-46b4-8500-7febd4906838
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062355996678_00000000000000000001
                    properties:
                      jobStreamId: 836d4e06-2d88-46b4-8500-7febd4906838_00636481062355996678_00000000000000000001
                      streamType: Warning
                      summary: 836d4e06-2d88-46b4-8500-7febd4906838:[localhost]:The 'Microsoft.PowerShell.Management' module was not imported because the 'Microsoft.PowerShell.Management' snap-in was already imported.
                      time: 2017-12-05T21:30:35.5996678+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062380840740_00000000000000000002
                    properties:
                      jobStreamId: 836d4e06-2d88-46b4-8500-7febd4906838_00636481062380840740_00000000000000000002
                      streamType: Warning
                      summary: 836d4e06-2d88-46b4-8500-7febd4906838:[localhost]:The configuration 'NewDscConfiguration' is loading one or more built-in resources without explicitly importing associated modules. Add Import-DscResource –ModuleName 'PSDesiredStateConfiguration' to your configuration to avoid this message.
                      time: 2017-12-05T21:30:38.084074+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062384590127_00000000000000000003
                    properties:
                      jobStreamId: 836d4e06-2d88-46b4-8500-7febd4906838_00636481062384590127_00000000000000000003
                      streamType: Warning
                      summary: 836d4e06-2d88-46b4-8500-7febd4906838:[localhost]:The 'Microsoft.PowerShell.Management' module was not imported because the 'Microsoft.PowerShell.Management' snap-in was already imported.
                      time: 2017-12-05T21:30:38.4590127+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062387245395_00000000000000000004
                    properties:
                      jobStreamId: 836d4e06-2d88-46b4-8500-7febd4906838_00636481062387245395_00000000000000000004
                      streamType: Warning
                      summary: 836d4e06-2d88-46b4-8500-7febd4906838:[localhost]:The configuration 'NewDscConfiguration' is loading one or more built-in resources without explicitly importing associated modules. Add Import-DscResource –ModuleName 'PSDesiredStateConfiguration' to your configuration to avoid this message.
                      time: 2017-12-05T21:30:38.7245395+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062417091181_00000000000000000005
                    properties:
                      jobStreamId: 836d4e06-2d88-46b4-8500-7febd4906838_00636481062417091181_00000000000000000005
                      streamType: Output
                      summary: ""
                      time: 2017-12-05T21:30:41.7091181+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062418809632_00000000000000000006
                    properties:
                      jobStreamId: 836d4e06-2d88-46b4-8500-7febd4906838_00636481062418809632_00000000000000000006
                      streamType: Output
                      summary: ""
                      time: 2017-12-05T21:30:41.8809632+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062420371712_00000000000000000007
                    properties:
                      jobStreamId: 836d4e06-2d88-46b4-8500-7febd4906838_00636481062420371712_00000000000000000007
                      streamType: Output
                      summary: ""
                      time: 2017-12-05T21:30:42.0371712+00:00
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062421684835_00000000000000000008
                    properties:
                      jobStreamId: 836d4e06-2d88-46b4-8500-7febd4906838_00636481062421684835_00000000000000000008
                      streamType: Output
                      summary: ""
                      time: 2017-12-05T21:30:42.1684835+00:00
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/compilationjobs/{jobId}/streams/{jobStreamId}":
    get:
      description: Retrieve the job stream identified by job stream id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobstreamoperations
      operationId: DscCompilationJob_GetStream
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job id.
          format: uuid
          in: path
          name: jobId
          required: true
          type: string
        - description: The job stream id.
          in: path
          name: jobStreamId
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/JobStream"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - DscCompilationJob
      x-ms-examples:
        Get a DSC Compilation job stream by job stream id:
          parameters:
            api-version: 2018-01-15
            automationAccountName: myAutomationAccount33
            jobId: 836d4e06-2d88-46b4-8500-7febd4906838
            jobStreamId: 836d4e06-2d88-46b4-8500-7febd4906838_00636481062421684835_00000000000000000008
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/compilationjobs/836d4e06-2d88-46b4-8500-7febd4906838/streams/836d4e06-2d88-46b4-8500-7febd4906838_00636481062421684835_00000000000000000008
                properties:
                  jobStreamId: 836d4e06-2d88-46b4-8500-7febd4906838:00636481062421684835:00000000000000000001
                  streamText: ""
                  streamType: Output
                  summary: ""
                  time: 2017-12-05T21:30:42.1684835+00:00
                  value:
                    PSComputerName: localhost
                    PSShowComputerName: true
                    PSSourceJobInstanceId: 836d4e06-2d88-46b4-8500-7febd4906838
                    value: ""
              headers: {}
definitions:
  DscCompilationJob:
    allOf:
      - allOf:
          - description: The core properties of ARM resources
            properties:
              id:
                description: Fully qualified resource Id for the resource
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: ARM proxy resource.
        properties: {}
        type: object
    description: Definition of the Dsc Compilation job.
    properties:
      properties:
        $ref: "#/definitions/DscCompilationJobProperties"
        description: Gets or sets the properties of the Dsc Compilation job.
        x-ms-client-flatten: true
  DscCompilationJobCreateParameters:
    description: The parameters supplied to the create compilation job operation.
    properties:
      location:
        description: Gets or sets the location of the resource.
        type: string
      name:
        description: Gets or sets name of the resource.
        type: string
      properties:
        $ref: "#/definitions/DscCompilationJobCreateProperties"
        description: Gets or sets the list of compilation job properties.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: Gets or sets the tags attached to the resource.
        type: object
    required:
      - properties
  DscCompilationJobCreateProperties:
    description: The parameters supplied to the create compilation job operation.
    properties:
      configuration:
        $ref: "#/definitions/DscConfigurationAssociationProperty"
        description: Gets or sets the configuration.
      incrementNodeConfigurationBuild:
        description: If a new build version of NodeConfiguration is required.
        type: boolean
      parameters:
        additionalProperties:
          type: string
        description: Gets or sets the parameters of the job.
        type: object
    required:
      - configuration
  DscCompilationJobListResult:
    description: The response model for the list job operation.
    properties:
      nextLink:
        description: Gets or sets the next link.
        type: string
      value:
        description: Gets or sets a list of Dsc Compilation jobs.
        items:
          $ref: "#/definitions/DscCompilationJob"
        type: array
  DscCompilationJobProperties:
    description: Definition of Dsc Compilation job properties.
    properties:
      configuration:
        $ref: "#/definitions/DscConfigurationAssociationProperty"
        description: Gets or sets the configuration.
      creationTime:
        description: Gets the creation time of the job.
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      endTime:
        description: Gets the end time of the job.
        format: date-time
        readOnly: true
        type: string
        x-nullable: true
      exception:
        description: Gets the exception of the job.
        readOnly: true
        type: string
      jobId:
        description: Gets the id of the job.
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      lastModifiedTime:
        description: Gets the last modified time of the job.
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      lastStatusModifiedTime:
        description: Gets the last status modified time of the job.
        format: date-time
        readOnly: true
        type: string
        x-nullable: true
      parameters:
        additionalProperties:
          type: string
        description: Gets or sets the parameters of the job.
        type: object
      provisioningState:
        $ref: "#/definitions/JobProvisioningStateProperty"
        description: The current provisioning state of the job.
      runOn:
        description: Gets or sets the runOn which specifies the group name where the job is to be executed.
        type: string
      startTime:
        description: Gets the start time of the job.
        format: date-time
        readOnly: true
        type: string
        x-nullable: true
      startedBy:
        description: Gets the compilation job started by.
        readOnly: true
        type: string
      status:
        description: Gets or sets the status of the job.
        enum:
          - New
          - Activating
          - Running
          - Completed
          - Failed
          - Stopped
          - Blocked
          - Suspended
          - Disconnected
          - Suspending
          - Stopping
          - Resuming
          - Removing
        type: string
        x-ms-enum:
          modelAsString: true
          name: JobStatus
      statusDetails:
        description: Gets or sets the status details of the job.
        type: string
  DscConfigurationAssociationProperty:
    description: The Dsc configuration property associated with the entity.
    properties:
      name:
        description: Gets or sets the name of the Dsc configuration.
        type: string
  JobProvisioningStateProperty:
    description: The provisioning state of the resource.
    enum:
      - Failed
      - Succeeded
      - Suspended
      - Processing
    readOnly: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: JobProvisioningState
  JobStream:
    description: Definition of the job stream.
    properties:
      id:
        description: Gets or sets the id of the resource.
        type: string
      properties:
        $ref: "#/definitions/JobStreamProperties"
        description: Gets or sets the id of the job stream.
        x-ms-client-flatten: true
  JobStreamListResult:
    description: The response model for the list job stream operation.
    properties:
      nextLink:
        description: Gets or sets the next link.
        type: string
      value:
        description: A list of job streams.
        items:
          $ref: "#/definitions/JobStream"
        type: array
  JobStreamProperties:
    description: Definition of the job stream.
    properties:
      jobStreamId:
        description: Gets or sets the id of the job stream.
        type: string
      streamText:
        description: Gets or sets the stream text.
        type: string
      streamType:
        description: Gets or sets the stream type.
        enum:
          - Progress
          - Output
          - Warning
          - Error
          - Debug
          - Verbose
          - Any
        type: string
        x-ms-enum:
          modelAsString: true
          name: JobStreamType
      summary:
        description: Gets or sets the summary.
        type: string
      time:
        description: Gets or sets the creation time of the job.
        format: date-time
        type: string
        x-nullable: false
      value:
        additionalProperties:
          type: object
        description: Gets or sets the values of the job stream.
        type: object
    x-ms-client-flatten: true
