swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/autoProvisioningSettings.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: security-autoProvisioningSettings
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  AutoProvisioningSetting:
    description: Auto provisioning setting key
    in: body
    name: setting
    required: true
    schema:
      $ref: "#/definitions/AutoProvisioningSetting"
    x-ms-parameter-location: method
  AutoProvisioningSettingName:
    description: Auto provisioning setting key
    in: path
    name: settingName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings":
    get:
      description: Exposes the auto provisioning settings of the subscriptions
      operationId: AutoProvisioningSettings_List
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          type: string
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AutoProvisioningSettingList"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response structure.
            properties:
              error:
                description: Error details.
                properties:
                  code:
                    description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
                    readOnly: true
                    type: string
                  message:
                    description: A message describing the error, intended to be suitable for display in a user interface.
                    readOnly: true
                    type: string
                type: object
                x-ms-external: true
            type: object
            x-ms-external: true
      tags:
        - AutoProvisioningSettings
      x-ms-examples:
        Get auto provisioning settings for subscription:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default
                    name: default
                    properties:
                      autoProvision: On
                    type: Microsoft.Security/autoProvisioningSettings
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/autoProvisioningSettings/{settingName}":
    get:
      description: Details of a specific setting
      operationId: AutoProvisioningSettings_Get
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          type: string
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
          required: true
          type: string
        - $ref: "#/parameters/AutoProvisioningSettingName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AutoProvisioningSetting"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response structure.
            properties:
              error:
                description: Error details.
                properties:
                  code:
                    description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
                    readOnly: true
                    type: string
                  message:
                    description: A message describing the error, intended to be suitable for display in a user interface.
                    readOnly: true
                    type: string
                type: object
                x-ms-external: true
            type: object
            x-ms-external: true
      tags:
        - AutoProvisioningSettings
      x-ms-examples:
        Get an auto provisioning setting for subscription:
          parameters:
            api-version: 2017-08-01-preview
            settingName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default
                name: default
                properties:
                  autoProvision: On
                type: Microsoft.Security/autoProvisioningSettings
    put:
      description: Details of a specific setting
      operationId: AutoProvisioningSettings_Create
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          type: string
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
          required: true
          type: string
        - $ref: "#/parameters/AutoProvisioningSettingName"
        - $ref: "#/parameters/AutoProvisioningSetting"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AutoProvisioningSetting"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response structure.
            properties:
              error:
                description: Error details.
                properties:
                  code:
                    description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
                    readOnly: true
                    type: string
                  message:
                    description: A message describing the error, intended to be suitable for display in a user interface.
                    readOnly: true
                    type: string
                type: object
                x-ms-external: true
            type: object
            x-ms-external: true
      tags:
        - AutoProvisioningSettings
      x-ms-examples:
        Create auto provisioning settings for subscription:
          parameters:
            api-version: 2017-08-01-preview
            setting:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default
              name: default
              properties:
                autoProvision: On
              type: Microsoft.Security/autoProvisioningSettings
            settingName: default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/autoProvisioningSettings/default
                name: default
                properties:
                  autoProvision: On
                type: Microsoft.Security/autoProvisioningSettings
definitions:
  AutoProvisioningSetting:
    allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Auto provisioning setting
    properties:
      properties:
        $ref: "#/definitions/AutoProvisioningSettingProperties"
        description: Auto provisioning setting data
        x-ms-client-flatten: true
    type: object
  AutoProvisioningSettingList:
    description: List of all the auto provisioning settings response
    properties:
      nextLink:
        description: The URI to fetch the next page.
        readOnly: true
        type: string
      value:
        description: List of all the auto provisioning settings
        items:
          $ref: "#/definitions/AutoProvisioningSetting"
        type: array
    type: object
  AutoProvisioningSettingProperties:
    description: describes properties of an auto provisioning setting
    properties:
      autoProvision:
        description: Describes what kind of security agent provisioning action to take
        enum:
          - On
          - Off
        type: string
        x-ms-enum:
          modelAsString: true
          name: autoProvision
          values:
            - description: Install missing security agent on VMs automatically
              value: On
            - description: Do not install security agent on the VMs automatically
              value: Off
    required:
      - autoProvision
    type: object
