swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The DNS Management Client.
  title: DnsManagementClient
  version: 2016-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/dns/resource-manager/Microsoft.Network/stable/2016-04-01/dns.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: dns
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/dnszones":
    get:
      description: Lists the DNS zones in all resource groups in a subscription.
      operationId: Zones_List
      parameters:
        - description: The maximum number of DNS zones to return. If not specified, returns up to 100 zones.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/ZoneListResult"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Zones
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones":
    get:
      description: Lists the DNS zones within a resource group.
      operationId: Zones_ListByResourceGroup
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The maximum number of record sets to return. If not specified, returns up to 100 record sets.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/ZoneListResult"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Zones
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}":
    delete:
      description: "Deletes a DNS zone. WARNING: All DNS records in the zone will also be deleted. This operation cannot be undone."
      operationId: Zones_Delete
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          type: string
        - description: The etag of the DNS zone. Omit this value to always delete the current zone. Specify the last-seen etag value to prevent accidentally deleting any concurrent changes.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-client-name: IfMatch
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The DNS zone has been deleted.
          schema:
            $ref: "#/definitions/ZoneDeleteResult"
        "202":
          description: The DNS zone delete operation has been accepted and will complete asynchronously.
        "204":
          description: The DNS zone was not found.
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Zones
      x-ms-long-running-operation: true
    get:
      description: Gets a DNS zone. Retrieves the zone properties, but not the record sets within the zone.
      operationId: Zones_Get
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          type: string
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/Zone"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Zones
    put:
      description: Creates or updates a DNS zone. Does not modify DNS records within the zone.
      operationId: Zones_CreateOrUpdate
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          type: string
        - description: Parameters supplied to the CreateOrUpdate operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Zone"
        - description: The etag of the DNS zone. Omit this value to always overwrite the current zone. Specify the last-seen etag value to prevent accidentally overwriting any concurrent changes.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-client-name: IfMatch
        - description: Set to '*' to allow a new DNS zone to be created, but to prevent updating an existing zone. Other values will be ignored.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-client-name: IfNoneMatch
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The DNS zone has been updated.
          schema:
            $ref: "#/definitions/Zone"
        "201":
          description: The DNS zone has been created.
          schema:
            $ref: "#/definitions/Zone"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Zones
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/recordsets":
    get:
      description: Lists all record sets in a DNS zone.
      operationId: RecordSets_ListByDnsZone
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          type: string
        - description: The maximum number of record sets to return. If not specified, returns up to 100 record sets.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The suffix label of the record set name that has to be used to filter the record set enumerations. If this parameter is specified, Enumeration will return only records that end with .<recordSetNameSuffix>
          in: query
          name: $recordsetnamesuffix
          required: false
          type: string
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/RecordSetListResult"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - RecordSets
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/{recordType}":
    get:
      description: Lists the record sets of a specified type in a DNS zone.
      operationId: RecordSets_ListByType
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          type: string
        - description: The type of record sets to enumerate.
          enum:
            - A
            - AAAA
            - CNAME
            - MX
            - NS
            - PTR
            - SOA
            - SRV
            - TXT
          in: path
          name: recordType
          required: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - description: The maximum number of record sets to return. If not specified, returns up to 100 record sets.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The suffix label of the record set name that has to be used to filter the record set enumerations. If this parameter is specified, Enumeration will return only records that end with .<recordSetNameSuffix>
          in: query
          name: $recordsetnamesuffix
          required: false
          type: string
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/RecordSetListResult"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - RecordSets
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnsZones/{zoneName}/{recordType}/{relativeRecordSetName}":
    delete:
      description: Deletes a record set from a DNS zone. This operation cannot be undone.
      operationId: RecordSets_Delete
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          type: string
        - description: The name of the record set, relative to the name of the zone.
          in: path
          name: relativeRecordSetName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The type of DNS record in this record set. Record sets of type SOA cannot be deleted (they are deleted when the DNS zone is deleted).
          enum:
            - A
            - AAAA
            - CNAME
            - MX
            - NS
            - PTR
            - SOA
            - SRV
            - TXT
          in: path
          name: recordType
          required: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - description: The etag of the record set. Omit this value to always delete the current record set. Specify the last-seen etag value to prevent accidentally deleting any concurrent changes.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-client-name: IfMatch
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The record set has been deleted.
        "204":
          description: The record set was not found.
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - RecordSets
    get:
      description: Gets a record set.
      operationId: RecordSets_Get
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          type: string
        - description: The name of the record set, relative to the name of the zone.
          in: path
          name: relativeRecordSetName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The type of DNS record in this record set.
          enum:
            - A
            - AAAA
            - CNAME
            - MX
            - NS
            - PTR
            - SOA
            - SRV
            - TXT
          in: path
          name: recordType
          required: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/RecordSet"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - RecordSets
    patch:
      description: Updates a record set within a DNS zone.
      operationId: RecordSets_Update
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          type: string
        - description: The name of the record set, relative to the name of the zone.
          in: path
          name: relativeRecordSetName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The type of DNS record in this record set.
          enum:
            - A
            - AAAA
            - CNAME
            - MX
            - NS
            - PTR
            - SOA
            - SRV
            - TXT
          in: path
          name: recordType
          required: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - description: Parameters supplied to the Update operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/RecordSet"
        - description: The etag of the record set. Omit this value to always overwrite the current record set. Specify the last-seen etag value to prevent accidentally overwriting concurrent changes.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-client-name: IfMatch
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The record set has been updated.
          schema:
            $ref: "#/definitions/RecordSet"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - RecordSets
    put:
      description: Creates or updates a record set within a DNS zone.
      operationId: RecordSets_CreateOrUpdate
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the DNS zone (without a terminating dot).
          in: path
          name: zoneName
          required: true
          type: string
        - description: The name of the record set, relative to the name of the zone.
          in: path
          name: relativeRecordSetName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The type of DNS record in this record set. Record sets of type SOA can be updated but not created (they are created when the DNS zone is created).
          enum:
            - A
            - AAAA
            - CNAME
            - MX
            - NS
            - PTR
            - SOA
            - SRV
            - TXT
          in: path
          name: recordType
          required: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - description: Parameters supplied to the CreateOrUpdate operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/RecordSet"
        - description: The etag of the record set. Omit this value to always overwrite the current record set. Specify the last-seen etag value to prevent accidentally overwriting any concurrent changes.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-client-name: IfMatch
        - description: Set to '*' to allow a new record set to be created, but to prevent updating an existing record set. Other values will be ignored.
          in: header
          name: If-None-Match
          required: false
          type: string
          x-ms-client-name: IfNoneMatch
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The record set has been updated.
          schema:
            $ref: "#/definitions/RecordSet"
        "201":
          description: The record set has been created.
          schema:
            $ref: "#/definitions/RecordSet"
        default:
          description: Default response. It will be deserialized as per the Error definition.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - RecordSets
definitions:
  ARecord:
    description: An A record.
    properties:
      ipv4Address:
        description: The IPv4 address of this A record.
        type: string
  AaaaRecord:
    description: An AAAA record.
    properties:
      ipv6Address:
        description: The IPv6 address of this AAAA record.
        type: string
  CloudError:
    properties:
      error:
        $ref: "#/definitions/CloudErrorBody"
    type: object
    x-ms-external: true
  CloudErrorBody:
    properties:
      code:
        type: string
      details:
        items:
          $ref: "#/definitions/CloudErrorBody"
        type: array
      message:
        type: string
      target:
        type: string
    type: object
    x-ms-external: true
  CnameRecord:
    description: A CNAME record.
    properties:
      cname:
        description: The canonical name for this CNAME record.
        type: string
  MxRecord:
    description: An MX record.
    properties:
      exchange:
        description: The domain name of the mail host for this MX record.
        type: string
      preference:
        description: The preference value for this MX record.
        format: int32
        type: integer
  NsRecord:
    description: An NS record.
    properties:
      nsdname:
        description: The name server name for this NS record.
        type: string
  PtrRecord:
    description: A PTR record.
    properties:
      ptrdname:
        description: The PTR target domain name for this PTR record.
        type: string
  RecordSet:
    description: Describes a DNS record set (a collection of DNS records with the same name and type).
    properties:
      etag:
        description: The etag of the record set.
        type: string
      id:
        description: The ID of the record set.
        type: string
      name:
        description: The name of the record set.
        type: string
      properties:
        $ref: "#/definitions/RecordSetProperties"
        description: The properties of the record set.
        x-ms-client-flatten: true
      type:
        description: The type of the record set.
        type: string
  RecordSetListResult:
    description: The response to a record set List operation.
    properties:
      nextLink:
        description: The continuation token for the next page of results.
        type: string
      value:
        description: Information about the record sets in the response.
        items:
          $ref: "#/definitions/RecordSet"
        type: array
  RecordSetProperties:
    description: Represents the properties of the records in the record set.
    properties:
      AAAARecords:
        description: The list of AAAA records in the record set.
        items:
          $ref: "#/definitions/AaaaRecord"
        type: array
        x-ms-client-name: AaaaRecords
      ARecords:
        description: The list of A records in the record set.
        items:
          $ref: "#/definitions/ARecord"
        type: array
      CNAMERecord:
        $ref: "#/definitions/CnameRecord"
        description: The CNAME record in the  record set.
        x-ms-client-name: CnameRecord
      MXRecords:
        description: The list of MX records in the record set.
        items:
          $ref: "#/definitions/MxRecord"
        type: array
        x-ms-client-name: MxRecords
      NSRecords:
        description: The list of NS records in the record set.
        items:
          $ref: "#/definitions/NsRecord"
        type: array
        x-ms-client-name: NsRecords
      PTRRecords:
        description: The list of PTR records in the record set.
        items:
          $ref: "#/definitions/PtrRecord"
        type: array
        x-ms-client-name: PtrRecords
      SOARecord:
        $ref: "#/definitions/SoaRecord"
        description: The SOA record in the record set.
        x-ms-client-name: SoaRecord
      SRVRecords:
        description: The list of SRV records in the record set.
        items:
          $ref: "#/definitions/SrvRecord"
        type: array
        x-ms-client-name: SrvRecords
      TTL:
        description: The TTL (time-to-live) of the records in the record set.
        format: int64
        type: integer
      TXTRecords:
        description: The list of TXT records in the record set.
        items:
          $ref: "#/definitions/TxtRecord"
        type: array
        x-ms-client-name: TxtRecords
      metadata:
        additionalProperties:
          type: string
        description: The metadata attached to the record set.
        type: object
  RecordSetUpdateParameters:
    description: Parameters supplied to update a record set.
    properties:
      RecordSet:
        $ref: "#/definitions/RecordSet"
        description: Specifies information about the record set being updated.
  SoaRecord:
    description: An SOA record.
    properties:
      email:
        description: The email contact for this SOA record.
        type: string
      expireTime:
        description: The expire time for this SOA record.
        format: int64
        type: integer
      host:
        description: The domain name of the authoritative name server for this SOA record.
        type: string
      minimumTTL:
        description: The minimum value for this SOA record. By convention this is used to determine the negative caching duration.
        format: int64
        type: integer
        x-ms-client-name: minimumTtl
      refreshTime:
        description: The refresh value for this SOA record.
        format: int64
        type: integer
      retryTime:
        description: The retry time for this SOA record.
        format: int64
        type: integer
      serialNumber:
        description: The serial number for this SOA record.
        format: int64
        type: integer
  SrvRecord:
    description: An SRV record.
    properties:
      port:
        description: The port value for this SRV record.
        format: int32
        type: integer
      priority:
        description: The priority value for this SRV record.
        format: int32
        type: integer
      target:
        description: The target domain name for this SRV record.
        type: string
      weight:
        description: The weight value for this SRV record.
        format: int32
        type: integer
  SubResource:
    properties:
      id:
        description: Resource Id.
        type: string
    x-ms-external: true
  TxtRecord:
    description: A TXT record.
    properties:
      value:
        description: The text value of this TXT record.
        items:
          type: string
        type: array
  Zone:
    allOf:
      - allOf:
          - properties:
              id:
                description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The geo-location where the resource lives
            type: string
            x-ms-mutability:
              - read
              - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
              - read
              - create
              - update
        required:
          - location
    description: Describes a DNS zone.
    properties:
      etag:
        description: The etag of the zone.
        type: string
      properties:
        $ref: "#/definitions/ZoneProperties"
        description: The properties of the zone.
        x-ms-client-flatten: true
  ZoneDeleteResult:
    description: The response to a Zone Delete operation.
    properties:
      azureAsyncOperation:
        description: Users can perform a Get on Azure-AsyncOperation to get the status of their delete Zone operations.
        type: string
      requestId:
        type: string
      status:
        enum:
          - InProgress
          - Succeeded
          - Failed
        type: string
        x-ms-enum:
          modelAsString: false
          name: OperationStatus
      statusCode:
        enum:
          - Continue
          - SwitchingProtocols
          - OK
          - Created
          - Accepted
          - NonAuthoritativeInformation
          - NoContent
          - ResetContent
          - PartialContent
          - MultipleChoices
          - Ambiguous
          - MovedPermanently
          - Moved
          - Found
          - Redirect
          - SeeOther
          - RedirectMethod
          - NotModified
          - UseProxy
          - Unused
          - TemporaryRedirect
          - RedirectKeepVerb
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - NotAcceptable
          - ProxyAuthenticationRequired
          - RequestTimeout
          - Conflict
          - Gone
          - LengthRequired
          - PreconditionFailed
          - RequestEntityTooLarge
          - RequestUriTooLong
          - UnsupportedMediaType
          - RequestedRangeNotSatisfiable
          - ExpectationFailed
          - UpgradeRequired
          - InternalServerError
          - NotImplemented
          - BadGateway
          - ServiceUnavailable
          - GatewayTimeout
          - HttpVersionNotSupported
        type: string
        x-ms-enum:
          modelAsString: false
          name: HttpStatusCode
  ZoneListResult:
    description: The response to a Zone List or ListAll operation.
    properties:
      nextLink:
        description: The continuation token for the next page of results.
        type: string
      value:
        description: Information about the DNS zones.
        items:
          $ref: "#/definitions/Zone"
        type: array
  ZoneProperties:
    description: Represents the properties of the zone.
    properties:
      maxNumberOfRecordSets:
        description: The maximum number of record sets that can be created in this DNS zone.  This is a read-only property and any attempt to set this value will be ignored.
        format: int64
        type: integer
      nameServers:
        description: The name servers for this DNS zone. This is a read-only property and any attempt to set this value will be ignored.
        items:
          type: string
        readOnly: true
        type: array
      numberOfRecordSets:
        description: The current number of record sets in this DNS zone.  This is a read-only property and any attempt to set this value will be ignored.
        format: int64
        type: integer
