swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: AutomationManagement
  version: 2015-10-31
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/schedule.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-schedule
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/schedules":
    get:
      description: Retrieve a list of schedules.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/scheduleoperations
      operationId: Schedule_ListByAutomationAccount
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ScheduleListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Schedule
      x-ms-examples:
        "List schedules by automation account, first 100":
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: https://management.azure.com:443/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules?api-version=2015-10-31&$skip=100
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule
                    name: mySchedule
                    properties:
                      creationTime: 2017-03-27T16:59:22.697+00:00
                      description: my updated description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: false
                      lastModifiedTime: 2017-03-27T17:00:14.027+00:00
                      nextRun: 2017-03-27T17:28:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T17:28:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule0
                    name: mySchedule0
                    properties:
                      creationTime: 2017-03-27T17:00:17.18+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:17.18+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule1
                    name: mySchedule1
                    properties:
                      creationTime: 2017-03-27T17:00:17.493+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:17.493+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule10
                    name: mySchedule10
                    properties:
                      creationTime: 2017-03-27T17:00:20.54+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:20.54+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule100
                    name: mySchedule100
                    properties:
                      creationTime: 2017-03-27T17:00:50.103+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:50.103+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule101
                    name: mySchedule101
                    properties:
                      creationTime: 2017-03-27T17:00:50.433+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:50.433+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule102
                    name: mySchedule102
                    properties:
                      creationTime: 2017-03-27T17:00:50.713+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:50.713+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule103
                    name: mySchedule103
                    properties:
                      creationTime: 2017-03-27T17:00:51.04+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:51.04+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule104
                    name: mySchedule104
                    properties:
                      creationTime: 2017-03-27T17:00:51.323+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:51.323+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule105
                    name: mySchedule105
                    properties:
                      creationTime: 2017-03-27T17:00:51.62+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:51.62+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule106
                    name: mySchedule106
                    properties:
                      creationTime: 2017-03-27T17:00:51.9+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:51.9+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule107
                    name: mySchedule107
                    properties:
                      creationTime: 2017-03-27T17:00:52.183+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:52.183+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule108
                    name: mySchedule108
                    properties:
                      creationTime: 2017-03-27T17:00:52.48+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:52.48+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule109
                    name: mySchedule109
                    properties:
                      creationTime: 2017-03-27T17:00:52.76+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:52.76+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule11
                    name: mySchedule11
                    properties:
                      creationTime: 2017-03-27T17:00:20.883+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:20.883+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule110
                    name: mySchedule110
                    properties:
                      creationTime: 2017-03-27T17:00:53.073+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:53.073+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule111
                    name: mySchedule111
                    properties:
                      creationTime: 2017-03-27T17:00:53.48+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:53.48+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule112
                    name: mySchedule112
                    properties:
                      creationTime: 2017-03-27T17:00:53.807+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:53.807+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule113
                    name: mySchedule113
                    properties:
                      creationTime: 2017-03-27T17:00:54.073+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:54.073+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule114
                    name: mySchedule114
                    properties:
                      creationTime: 2017-03-27T17:00:54.353+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:54.353+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule115
                    name: mySchedule115
                    properties:
                      creationTime: 2017-03-27T17:00:54.65+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:54.65+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule116
                    name: mySchedule116
                    properties:
                      creationTime: 2017-03-27T17:00:54.933+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:54.933+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule117
                    name: mySchedule117
                    properties:
                      creationTime: 2017-03-27T17:00:55.277+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:55.277+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule118
                    name: mySchedule118
                    properties:
                      creationTime: 2017-03-27T17:00:55.65+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:55.65+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule119
                    name: mySchedule119
                    properties:
                      creationTime: 2017-03-27T17:00:55.95+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:55.95+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule12
                    name: mySchedule12
                    properties:
                      creationTime: 2017-03-27T17:00:21.213+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:21.213+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule120
                    name: mySchedule120
                    properties:
                      creationTime: 2017-03-27T17:00:56.353+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:56.353+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule121
                    name: mySchedule121
                    properties:
                      creationTime: 2017-03-27T17:00:56.65+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:56.65+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule122
                    name: mySchedule122
                    properties:
                      creationTime: 2017-03-27T17:00:56.95+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:56.95+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule123
                    name: mySchedule123
                    properties:
                      creationTime: 2017-03-27T17:00:57.247+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:57.247+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule124
                    name: mySchedule124
                    properties:
                      creationTime: 2017-03-27T17:00:57.573+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:57.573+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule125
                    name: mySchedule125
                    properties:
                      creationTime: 2017-03-27T17:00:57.9+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:57.9+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule126
                    name: mySchedule126
                    properties:
                      creationTime: 2017-03-27T17:00:58.387+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:58.387+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule127
                    name: mySchedule127
                    properties:
                      creationTime: 2017-03-27T17:00:58.7+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:58.7+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule128
                    name: mySchedule128
                    properties:
                      creationTime: 2017-03-27T17:00:59.4+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:59.4+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule129
                    name: mySchedule129
                    properties:
                      creationTime: 2017-03-27T17:00:59.73+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:59.73+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule13
                    name: mySchedule13
                    properties:
                      creationTime: 2017-03-27T17:00:21.603+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:21.603+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule130
                    name: mySchedule130
                    properties:
                      creationTime: 2017-03-27T17:01:00.09+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:00.09+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule131
                    name: mySchedule131
                    properties:
                      creationTime: 2017-03-27T17:01:00.4+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:00.4+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule132
                    name: mySchedule132
                    properties:
                      creationTime: 2017-03-27T17:01:00.683+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:00.683+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule133
                    name: mySchedule133
                    properties:
                      creationTime: 2017-03-27T17:01:01.073+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:01.073+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule134
                    name: mySchedule134
                    properties:
                      creationTime: 2017-03-27T17:01:01.387+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:01.387+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule135
                    name: mySchedule135
                    properties:
                      creationTime: 2017-03-27T17:01:01.667+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:01.667+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule136
                    name: mySchedule136
                    properties:
                      creationTime: 2017-03-27T17:01:01.95+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:01.95+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule137
                    name: mySchedule137
                    properties:
                      creationTime: 2017-03-27T17:01:02.247+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:02.247+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule138
                    name: mySchedule138
                    properties:
                      creationTime: 2017-03-27T17:01:02.557+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:02.557+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule139
                    name: mySchedule139
                    properties:
                      creationTime: 2017-03-27T17:01:02.853+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:02.853+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule14
                    name: mySchedule14
                    properties:
                      creationTime: 2017-03-27T17:00:21.98+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:21.98+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule140
                    name: mySchedule140
                    properties:
                      creationTime: 2017-03-27T17:01:03.247+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:03.247+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule141
                    name: mySchedule141
                    properties:
                      creationTime: 2017-03-27T17:01:03.573+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:03.573+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule142
                    name: mySchedule142
                    properties:
                      creationTime: 2017-03-27T17:01:03.87+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:03.87+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule143
                    name: mySchedule143
                    properties:
                      creationTime: 2017-03-27T17:01:04.2+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:04.2+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule144
                    name: mySchedule144
                    properties:
                      creationTime: 2017-03-27T17:01:04.48+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:04.48+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule145
                    name: mySchedule145
                    properties:
                      creationTime: 2017-03-27T17:01:04.76+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:04.76+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule146
                    name: mySchedule146
                    properties:
                      creationTime: 2017-03-27T17:01:05.027+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:05.027+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule147
                    name: mySchedule147
                    properties:
                      creationTime: 2017-03-27T17:01:05.353+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:05.353+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule148
                    name: mySchedule148
                    properties:
                      creationTime: 2017-03-27T17:01:05.65+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:05.65+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule149
                    name: mySchedule149
                    properties:
                      creationTime: 2017-03-27T17:01:05.95+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:05.95+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule15
                    name: mySchedule15
                    properties:
                      creationTime: 2017-03-27T17:00:22.353+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:22.353+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule150
                    name: mySchedule150
                    properties:
                      creationTime: 2017-03-27T17:01:06.247+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:06.247+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule151
                    name: mySchedule151
                    properties:
                      creationTime: 2017-03-27T17:01:06.527+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:06.527+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule152
                    name: mySchedule152
                    properties:
                      creationTime: 2017-03-27T17:01:06.81+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:06.81+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule153
                    name: mySchedule153
                    properties:
                      creationTime: 2017-03-27T17:01:07.157+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:07.157+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule154
                    name: mySchedule154
                    properties:
                      creationTime: 2017-03-27T17:01:07.453+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:07.453+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule155
                    name: mySchedule155
                    properties:
                      creationTime: 2017-03-27T17:01:07.75+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:07.75+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule156
                    name: mySchedule156
                    properties:
                      creationTime: 2017-03-27T17:01:08.093+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:08.093+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule157
                    name: mySchedule157
                    properties:
                      creationTime: 2017-03-27T17:01:08.513+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:08.513+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule158
                    name: mySchedule158
                    properties:
                      creationTime: 2017-03-27T17:01:08.873+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:08.873+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule159
                    name: mySchedule159
                    properties:
                      creationTime: 2017-03-27T17:01:09.203+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:09.203+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule16
                    name: mySchedule16
                    properties:
                      creationTime: 2017-03-27T17:00:22.697+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:22.697+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule160
                    name: mySchedule160
                    properties:
                      creationTime: 2017-03-27T17:01:09.547+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:09.547+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule161
                    name: mySchedule161
                    properties:
                      creationTime: 2017-03-27T17:01:09.843+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:09.843+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule162
                    name: mySchedule162
                    properties:
                      creationTime: 2017-03-27T17:01:10.14+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:10.14+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule163
                    name: mySchedule163
                    properties:
                      creationTime: 2017-03-27T17:01:10.437+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:10.437+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule164
                    name: mySchedule164
                    properties:
                      creationTime: 2017-03-27T17:01:10.72+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:10.72+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule165
                    name: mySchedule165
                    properties:
                      creationTime: 2017-03-27T17:01:11.013+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:11.013+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule166
                    name: mySchedule166
                    properties:
                      creationTime: 2017-03-27T17:01:11.297+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:11.297+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule167
                    name: mySchedule167
                    properties:
                      creationTime: 2017-03-27T17:01:11.61+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:11.61+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule168
                    name: mySchedule168
                    properties:
                      creationTime: 2017-03-27T17:01:11.89+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:11.89+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule169
                    name: mySchedule169
                    properties:
                      creationTime: 2017-03-27T17:01:12.203+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:12.203+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule17
                    name: mySchedule17
                    properties:
                      creationTime: 2017-03-27T17:00:23.027+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:23.027+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule170
                    name: mySchedule170
                    properties:
                      creationTime: 2017-03-27T17:01:12.453+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:12.453+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule171
                    name: mySchedule171
                    properties:
                      creationTime: 2017-03-27T17:01:12.733+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:12.733+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule172
                    name: mySchedule172
                    properties:
                      creationTime: 2017-03-27T17:01:13.03+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:13.03+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule173
                    name: mySchedule173
                    properties:
                      creationTime: 2017-03-27T17:01:13.31+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:13.31+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule174
                    name: mySchedule174
                    properties:
                      creationTime: 2017-03-27T17:01:13.623+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:13.623+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule175
                    name: mySchedule175
                    properties:
                      creationTime: 2017-03-27T17:01:13.937+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:01:13.937+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule18
                    name: mySchedule18
                    properties:
                      creationTime: 2017-03-27T17:00:23.337+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:23.337+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule19
                    name: mySchedule19
                    properties:
                      creationTime: 2017-03-27T17:00:23.667+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:23.667+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule2
                    name: mySchedule2
                    properties:
                      creationTime: 2017-03-27T17:00:17.823+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:17.823+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule20
                    name: mySchedule20
                    properties:
                      creationTime: 2017-03-27T17:00:24.01+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:24.01+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule21
                    name: mySchedule21
                    properties:
                      creationTime: 2017-03-27T17:00:24.337+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:24.337+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule22
                    name: mySchedule22
                    properties:
                      creationTime: 2017-03-27T17:00:24.667+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:24.667+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule23
                    name: mySchedule23
                    properties:
                      creationTime: 2017-03-27T17:00:24.98+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:24.98+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule24
                    name: mySchedule24
                    properties:
                      creationTime: 2017-03-27T17:00:25.353+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:25.353+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule25
                    name: mySchedule25
                    properties:
                      creationTime: 2017-03-27T17:00:25.68+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:25.68+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule26
                    name: mySchedule26
                    properties:
                      creationTime: 2017-03-27T17:00:26.01+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:26.01+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule27
                    name: mySchedule27
                    properties:
                      creationTime: 2017-03-27T17:00:26.323+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:26.323+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule28
                    name: mySchedule28
                    properties:
                      creationTime: 2017-03-27T17:00:26.65+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:26.65+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule29
                    name: mySchedule29
                    properties:
                      creationTime: 2017-03-27T17:00:26.947+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:26.947+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
              headers: {}
        "List schedules by automation account, next 100":
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount33
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule3
                    name: mySchedule3
                    properties:
                      creationTime: 2017-03-27T17:00:18.12+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:18.12+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule30
                    name: mySchedule30
                    properties:
                      creationTime: 2017-03-27T17:00:27.277+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:27.277+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule31
                    name: mySchedule31
                    properties:
                      creationTime: 2017-03-27T17:00:27.603+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:27.603+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule32
                    name: mySchedule32
                    properties:
                      creationTime: 2017-03-27T17:00:28.04+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:28.04+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule33
                    name: mySchedule33
                    properties:
                      creationTime: 2017-03-27T17:00:28.353+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:28.353+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule34
                    name: mySchedule34
                    properties:
                      creationTime: 2017-03-27T17:00:28.667+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
                      frequency: Hour
                      interval: 1
                      isEnabled: true
                      lastModifiedTime: 2017-03-27T17:00:28.667+00:00
                      nextRun: 2017-03-27T18:59:00+00:00
                      nextRunOffsetMinutes: 0
                      startTime: 2017-03-27T18:59:00+00:00
                      startTimeOffsetMinutes: 0
                      timeZone: UTC
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/schedules/mySchedule35
                    name: mySchedule35
                    properties:
                      creationTime: 2017-03-27T17:00:29.01+00:00
                      description: my description of schedule goes here
                      expiryTime: 2017-04-01T17:28:00+00:00
                      expiryTimeOffsetMinutes: 0
[...]
