swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: AutomationManagement
  version: 2017-05-15-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/job.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: automation-job
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs":
    get:
      description: Retrieve a list of jobs.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      operationId: Job_ListByAutomationAccount
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Identifies this specific client request.
          in: header
          name: clientRequestId
          required: false
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/JobListResultV2"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Job
      x-ms-examples:
        List jobs by automation account:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: ContoseAutomationAccount
            jobName: foo
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/job1
                    name: job1
                    properties:
                      creationTime: 2017-03-30T05:53:30.243+00:00
                      endTime: null
                      jobId: 45203a94-a8cb-47c3-8ce4-4dcc3a5f7d23
                      lastModifiedTime: 2017-03-30T05:53:30.243+00:00
                      provisioningState: Succeeded
                      runbook:
                        name: TestRunbook
                      startTime: null
                      status: New
                    type: Microsoft.Automation/AutomationAccounts/Jobs
                  - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/job2
                    name: job2
                    properties:
                      creationTime: 2017-03-30T05:46:49.37+00:00
                      endTime: 2017-03-30T05:48:38.857+00:00
                      jobId: 7584055f-5118-460a-a2dd-5176c9c8efe9
                      lastModifiedTime: 2017-03-30T05:48:38.857+00:00
                      provisioningState: Succeeded
                      runbook:
                        name: TestRunbook
                      startTime: 2017-03-30T05:47:35.2+00:00
                      status: Completed
                    type: Microsoft.Automation/AutomationAccounts/Jobs
              headers: {}
      x-ms-odata: "#/definitions/JobCollectionItem"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}":
    get:
      description: Retrieve the job identified by job name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      operationId: Job_Get
      parameters:
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job name.
          in: path
          name: jobName
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Identifies this specific client request.
          in: header
          name: clientRequestId
          required: false
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Job"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Job
      x-ms-examples:
        Get job:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: ContoseAutomationAccount
            jobName: foo
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/jobName
                name: foo
                properties:
                  creationTime: 2018-02-01T05:53:30.243+00:00
                  endTime: null
                  exception: null
                  jobId: 5b8a3960-e8ab-45f6-bec6-567df8467d1a
                  lastModifiedTime: 2018-02-01T05:53:30.243+00:00
                  lastStatusModifiedTime: 2018-02-01T05:53:30.243+00:00
                  parameters:
                    tag01: value01
                    tag02: value02
                  provisioningState: Processing
                  runOn: ""
                  runbook:
                    name: TestRunbook
                  startTime: null
                  status: New
                  statusDetails: None
                type: Microsoft.Automation/AutomationAccounts/Jobs
              headers: {}
    put:
      description: Create a job of the runbook.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      operationId: Job_Create
      parameters:
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job name.
          in: path
          name: jobName
          required: true
          type: string
        - description: The parameters supplied to the create job operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/JobCreateParameters"
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Identifies this specific client request.
          in: header
          name: clientRequestId
          required: false
          type: string
          x-ms-parameter-location: method
      responses:
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Job"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Job
      x-ms-examples:
        Create job:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: ContoseAutomationAccount
            jobName: foo
            parameters:
              properties:
                parameters:
                  key01: value01
                  key02: value02
                runOn: ""
                runbook:
                  name: TestRunbook
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "201":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourceGroups/mygroup/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/jobName
                name: foo
                properties:
                  creationTime: 2018-02-01T05:53:30.243+00:00
                  endTime: null
                  exception: null
                  jobId: 5b8a3960-e8ab-45f6-bec6-567df8467d1a
                  lastModifiedTime: 2018-02-01T05:53:30.243+00:00
                  lastStatusModifiedTime: 2018-02-01T05:53:30.243+00:00
                  parameters:
                    tag01: value01
                    tag02: value02
                  provisioningState: Processing
                  runOn: ""
                  runbook:
                    name: TestRunbook
                  startTime: null
                  status: New
                  statusDetails: None
                type: Microsoft.Automation/AutomationAccounts/Jobs
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/output":
    get:
      description: Retrieve the job output identified by job name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      operationId: Job_GetOutput
      parameters:
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the job to be created.
          in: path
          name: jobName
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Identifies this specific client request.
          in: header
          name: clientRequestId
          required: false
          type: string
          x-ms-parameter-location: method
      produces:
        - text/plain
      responses:
        "200":
          description: OK
          schema:
            type: file
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Job
      x-ms-examples:
        Get Job Output:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: ContoseAutomationAccount
            jobName: foo
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body: Wednesday, February 7, 2018 3:47:17 PM
              headers:
                Content-Type: text/plain
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/resume":
    post:
      description: Resume the job identified by jobName.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      operationId: Job_Resume
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job name.
          in: path
          name: jobName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Identifies this specific client request.
          in: header
          name: clientRequestId
          required: false
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Job
      x-ms-examples:
        Resume job:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: ContoseAutomationAccount
            jobName: foo
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/runbookContent":
    get:
      description: Retrieve the runbook content of the job identified by job name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      operationId: Job_GetRunbookContent
      parameters:
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job name.
          in: path
          name: jobName
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Identifies this specific client request.
          in: header
          name: clientRequestId
          required: false
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          schema:
            type: file
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Job
      x-ms-examples:
        Get Job Runbook Content:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: ContoseAutomationAccount
            jobName: foo
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body: get-date
              headers:
                Content-Type: text/powershell
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/stop":
    post:
      description: Stop the job identified by jobName.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      operationId: Job_Stop
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job name.
          in: path
          name: jobName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Identifies this specific client request.
          in: header
          name: clientRequestId
          required: false
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Job
      x-ms-examples:
        Stop job:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: ContoseAutomationAccount
            jobName: foo
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/streams":
    get:
      description: Retrieve a list of jobs streams identified by job name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobstreamoperations
      operationId: JobStream_ListByJob
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job name.
          in: path
          name: jobName
          required: true
          type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Identifies this specific client request.
          in: header
          name: clientRequestId
          required: false
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/JobStreamListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - JobStream
      x-ms-examples:
        List job streams by job name:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: ContoseAutomationAccount
            jobName: foo
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourcegroups/mygroup/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/jobName/streams/24456a8a-2857-4af6-932c-3455f38bd05e_00636535675981232703_00000000000000000001
                    properties:
                      jobStreamId: 24456a8a-2857-4af6-932c-3455f38bd05e_00636535675981232703_00000000000000000001
                      streamType: Output
                      summary: null
                      time: 2018-02-07T02:33:18.1232703+00:00
                  - id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourcegroups/mygroup/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/jobName/streams/24456a8a-2857-4af6-932c-3455f38bd05e_00636535675984691350_00000000000000000002
                    properties:
                      jobStreamId: 24456a8a-2857-4af6-932c-3455f38bd05e_00636535675984691350_00000000000000000002
                      streamType: Output
                      summary: null
                      time: 2018-02-07T02:33:18.469135+00:00
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/streams/{jobStreamId}":
    get:
      description: Retrieve the job stream identified by job stream id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/jobstreamoperations
      operationId: JobStream_Get
      parameters:
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job name.
          in: path
          name: jobName
          required: true
          type: string
        - description: The job stream id.
          in: path
          name: jobStreamId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Identifies this specific client request.
          in: header
          name: clientRequestId
          required: false
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/JobStream"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - JobStream
      x-ms-examples:
        Get job stream:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: ContoseAutomationAccount
            jobName: foo
            jobStreamId: 851b2101-686f-40e2-8a4b-5b8df08afbd1_00636535684910693884_00000000000000000001
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200":
              body:
                id: /subscriptions/51766542-3ed7-4a72-a187-0c8ab644ddab/resourcegroups/mygroup/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/jobs/jobName/streams/851b2101-686f-40e2-8a4b-5b8df08afbd1_00636535684910693884_00000000000000000001
                properties:
                  jobStreamId: 851b2101-686f-40e2-8a4b-5b8df08afbd1:00636535684910693884:00000000000000000001
                  streamText: ""
                  streamType: Output
                  summary: null
                  time: 2018-02-07T02:48:11.0693884+00:00
                  value: {}
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobName}/suspend":
    post:
      description: Suspend the job identified by job name.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/joboperations
      operationId: Job_Suspend
      parameters:
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The job name.
          in: path
          name: jobName
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Identifies this specific client request.
          in: header
          name: clientRequestId
          required: false
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Job
      x-ms-examples:
        Suspend job:
          parameters:
            api-version: 2017-05-15-preview
            automationAccountName: ContoseAutomationAccount
            jobName: foo
            resourceGroupName: mygroup
            subscriptionId: 51766542-3ed7-4a72-a187-0c8ab644ddab
          responses:
            "200": {}
definitions:
  Job:
    allOf:
      - allOf:
          - description: The core properties of ARM resources
            properties:
              id:
                description: Fully qualified resource Id for the resource
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: ARM proxy resource.
        properties: {}
        type: object
    description: Definition of the job.
    properties:
      properties:
        $ref: "#/definitions/JobProperties"
        description: The properties of the job.
        x-ms-client-flatten: true
    x-ms-mutability:
      - read
      - create
  JobCollectionItem:
    allOf:
      - allOf:
          - description: The core properties of ARM resources
            properties:
              id:
                description: Fully qualified resource Id for the resource
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: ARM proxy resource.
        properties: {}
        type: object
    description: Job collection item properties.
    properties:
      properties:
        $ref: "#/definitions/JobCollectionItemProperties"
        description: Job properties.
        x-ms-client-flatten: true
    required:
      - properties
    type: object
  JobCollectionItemProperties:
    description: Job collection item properties.
    properties:
      creationTime:
        description: The creation time of the job.
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      endTime:
        description: The end time of the job.
        format: date-time
        readOnly: true
        type: string
        x-nullable: true
      jobId:
        description: The id of the job.
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      lastModifiedTime:
        description: The last modified time of the job.
        format: date-time
        readOnly: true
        type: string
        x-nullable: true
      provisioningState:
        description: The provisioning state of a resource.
        readOnly: true
        type: string
      runOn:
        description: Specifies the runOn group name where the job was executed.
        type: string
      runbook:
        $ref: "#/definitions/RunbookAssociationProperty"
        description: The runbook association.
        readOnly: true
      startTime:
        description: The start time of the job.
        format: date-time
        readOnly: true
        type: string
        x-nullable: true
      status:
        description: The status of the job.
        enum:
          - New
          - Activating
          - Running
          - Completed
          - Failed
          - Stopped
          - Blocked
          - Suspended
          - Disconnected
          - Suspending
          - Stopping
          - Resuming
          - Removing
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: JobStatus
  JobCreateParameters:
    description: The parameters supplied to the create job operation.
    properties:
      properties:
        $ref: "#/definitions/JobCreateProperties"
        description: Gets or sets the list of job properties.
        x-ms-client-flatten: true
    required:
      - properties
  JobCreateProperties:
    properties:
      parameters:
        additionalProperties:
          type: string
        description: Gets or sets the parameters of the job.
        type: object
      runOn:
        description: Gets or sets the runOn which specifies the group name where the job is to be executed.
        type: string
      runbook:
        $ref: "#/definitions/RunbookAssociationProperty"
        description: Gets or sets the runbook.
  JobListResultV2:
    description: The response model for the list job operation.
    properties:
      nextLink:
        description: The  link to the next page.
        readOnly: true
        type: string
      value:
        description: List of jobs.
        items:
          $ref: "#/definitions/JobCollectionItem"
          readOnly: true
        type: array
  JobProperties:
    description: Definition of job properties.
    properties:
      creationTime:
        description: Gets or sets the creation time of the job.
        format: date-time
        type: string
        x-nullable: false
      endTime:
        description: Gets or sets the end time of the job.
        format: date-time
        type: string
        x-nullable: true
      exception:
        description: Gets or sets the exception of the job.
        type: string
      jobId:
        description: Gets or sets the id of the job.
        format: uuid
        type: string
        x-nullable: false
      lastModifiedTime:
        description: Gets or sets the last modified time of the job.
        format: date-time
        type: string
        x-nullable: true
      lastStatusModifiedTime:
        description: Gets or sets the last status modified time of the job.
        format: date-time
        type: string
        x-nullable: true
      parameters:
        additionalProperties:
          type: string
        description: Gets or sets the parameters of the job.
        type: object
      provisioningState:
        $ref: "#/definitions/JobProvisioningStateProperty"
        description: The current provisioning state of the job.
      runOn:
        description: Gets or sets the runOn which specifies the group name where the job is to be executed.
        type: string
      runbook:
        $ref: "#/definitions/RunbookAssociationProperty"
        description: Gets or sets the runbook.
      startTime:
        description: Gets or sets the start time of the job.
        format: date-time
        type: string
        x-nullable: true
      startedBy:
        description: Gets or sets the job started by.
        type: string
      status:
        description: Gets or sets the status of the job.
        enum:
          - New
          - Activating
          - Running
          - Completed
          - Failed
          - Stopped
          - Blocked
          - Suspended
          - Disconnected
          - Suspending
          - Stopping
          - Resuming
          - Removing
        type: string
        x-ms-enum:
          modelAsString: true
          name: JobStatus
      statusDetails:
        description: Gets or sets the status details of the job.
        type: string
  JobProvisioningStateProperty:
    description: The provisioning state of the resource.
    enum:
      - Failed
      - Succeeded
      - Suspended
      - Processing
    readOnly: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: JobProvisioningState
  JobStream:
    description: Definition of the job stream.
    properties:
      id:
        description: Gets or sets the id of the resource.
        type: string
      properties:
        $ref: "#/definitions/JobStreamProperties"
        description: Gets or sets the id of the job stream.
        x-ms-client-flatten: true
  JobStreamListResult:
    description: The response model for the list job stream operation.
    properties:
      nextLink:
        description: Gets or sets the next link.
        type: string
      value:
        description: A list of job streams.
        items:
          $ref: "#/definitions/JobStream"
        type: array
  JobStreamProperties:
    description: Definition of the job stream.
    properties:
      jobStreamId:
        description: Gets or sets the id of the job stream.
        type: string
      streamText:
        description: Gets or sets the stream text.
        type: string
      streamType:
        description: Gets or sets the stream type.
        enum:
          - Progress
          - Output
          - Warning
          - Error
          - Debug
          - Verbose
          - Any
        type: string
        x-ms-enum:
          modelAsString: true
          name: JobStreamType
      summary:
        description: Gets or sets the summary.
        type: string
      time:
        description: Gets or sets the creation time of the job.
        format: date-time
        type: string
        x-nullable: false
      value:
        additionalProperties:
          type: object
        description: Gets or sets the values of the job stream.
        type: object
    x-ms-client-flatten: true
  RunbookAssociationProperty:
    description: The runbook property associated with the entity.
    properties:
      name:
        description: Gets or sets the name of the runbook.
        type: string
