swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2016-12-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2016-12-01/vmssNetworkInterface.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-vmssNetworkInterface
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  SubscriptionIdParameter:
    description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/networkInterfaces":
    get:
      description: Gets all network interfaces in a virtual machine scale set.
      operationId: NetworkInterfaces_ListVirtualMachineScaleSetNetworkInterfaces
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          type: string
        - description: Client API version.
          enum:
            - 2016-09-01
          in: query
          name: api-version
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApiVersion
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Request successful. The operation returns a list of NetworkInterface resources.
          schema:
            description: Response for the ListNetworkInterface API service call.
            properties:
              nextLink:
                description: The URL to get the next set of results.
                type: string
              value:
                description: A list of network interfaces in a resource group.
                items:
                  allOf:
                    - properties:
                        id:
                          description: Resource ID.
                          type: string
                        location:
                          description: Resource location.
                          type: string
                        name:
                          description: Resource name.
                          readOnly: true
                          type: string
                        tags:
                          additionalProperties:
                            type: string
                          description: Resource tags.
                          type: object
                        type:
                          description: Resource type.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: A network interface in a resource group.
                  properties:
                    etag:
                      description: A unique read-only string that changes whenever the resource is updated.
                      type: string
                    properties:
                      $ref: "#/definitions/NetworkInterfacePropertiesFormat"
                      x-ms-client-flatten: true
                type: array
      tags:
        - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces":
    get:
      description: Gets information about all network interfaces in a virtual machine in a virtual machine scale set.
      operationId: NetworkInterfaces_ListVirtualMachineScaleSetVMNetworkInterfaces
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          type: string
        - description: The virtual machine index.
          in: path
          name: virtualmachineIndex
          required: true
          type: string
        - description: Client API version.
          enum:
            - 2016-09-01
          in: query
          name: api-version
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApiVersion
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Request successful. The operation returns a list of NetworkInterface resources.
          schema:
            description: Response for the ListNetworkInterface API service call.
            properties:
              nextLink:
                description: The URL to get the next set of results.
                type: string
              value:
                description: A list of network interfaces in a resource group.
                items:
                  allOf:
                    - properties:
                        id:
                          description: Resource ID.
                          type: string
                        location:
                          description: Resource location.
                          type: string
                        name:
                          description: Resource name.
                          readOnly: true
                          type: string
                        tags:
                          additionalProperties:
                            type: string
                          description: Resource tags.
                          type: object
                        type:
                          description: Resource type.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: A network interface in a resource group.
                  properties:
                    etag:
                      description: A unique read-only string that changes whenever the resource is updated.
                      type: string
                    properties:
                      $ref: "#/definitions/NetworkInterfacePropertiesFormat"
                      x-ms-client-flatten: true
                type: array
      tags:
        - NetworkInterfaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines/{virtualmachineIndex}/networkInterfaces/{networkInterfaceName}":
    get:
      description: Get the specified network interface in a virtual machine scale set.
      operationId: NetworkInterfaces_GetVirtualMachineScaleSetNetworkInterface
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual machine scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          type: string
        - description: The virtual machine index.
          in: path
          name: virtualmachineIndex
          required: true
          type: string
        - description: The name of the network interface.
          in: path
          name: networkInterfaceName
          required: true
          type: string
        - description: Client API version.
          enum:
            - 2016-09-01
          in: query
          name: api-version
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: ApiVersion
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting NetworkInterface resource.
          schema:
            allOf:
              - properties:
                  id:
                    description: Resource ID.
                    type: string
                  location:
                    description: Resource location.
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  tags:
                    additionalProperties:
                      type: string
                    description: Resource tags.
                    type: object
                  type:
                    description: Resource type.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: A network interface in a resource group.
            properties:
              etag:
                description: A unique read-only string that changes whenever the resource is updated.
                type: string
              properties:
                $ref: "#/definitions/NetworkInterfacePropertiesFormat"
                x-ms-client-flatten: true
      tags:
        - NetworkInterfaces
definitions:
  NetworkInterfacePropertiesFormat: {}
