{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.math.tools"
    },
    {
      "url": "http://api.math.tools"
    }
  ],
  "info": {
    "description": "All about Numbers. REST access with json/xml/jsonp result support. Below is the documentation for the Numbers API. You can try them out right here. Find more information and subscribe at [math.tools](https://math.tools/api/numbers/)  \n",
    "title": "Numbers API",
    "version": "1.5",
    "x-apisguru-categories": [
      "open_data"
    ],
    "x-logo": {
      "backgroundColor": "#FFFFFF",
      "url": "https://api.apis.guru/v2/cache/logo/https_math.tools_branding_blackboard_small.png"
    },
    "x-origin": [
      {
        "converter": {
          "url": "https://github.com/mermade/oas-kit",
          "version": "7.0.4"
        },
        "format": "openapi",
        "url": "https://api.math.tools/yaml/math.tools.numbers.openapi.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "math.tools"
  },
  "tags": [
    {
      "description": "Number of the day. This API is free (rate limited).",
      "name": "Number of the day"
    },
    {
      "description": "Get random interesting fact about a given number.",
      "name": "Number Facts"
    },
    {
      "description": "Generate Random and interesting numbers.",
      "name": "Number Generation"
    },
    {
      "description": "Spell out a number ordinal, cardinal or currency. This API is free (rate limited).",
      "name": "Spell"
    },
    {
      "description": "Convert from one base to another. This API is free (rate limited).",
      "name": "Base Conversion"
    },
    {
      "description": "Convert from one number system to another.",
      "name": "Number Systems Conversion"
    },
    {
      "description": "Things to do with Prime numbers",
      "name": "Prime"
    },
    {
      "description": "Digits of PI and more.This API is free (rate limited).",
      "name": "PI"
    },
    {
      "description": "Check Property of a given number.",
      "name": "Number Checks"
    }
  ],
  "paths": {
    "/numbers/base": {
      "get": {
        "description": "Convert a given number from one base to another base",
        "parameters": [
          {
            "description": "Number to convert to the target base",
            "in": "query",
            "name": "number",
            "required": true,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          },
          {
            "description": "Base of the supplied number (Optional base 10 assumed by default)",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          },
          {
            "description": "Target base to convert to",
            "in": "query",
            "name": "to",
            "required": true,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 32,\n    \"base\": {\n      \"from\": 10,\n      \"to\": 2\n    },\n    \"answer\": \"100000\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200 success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Base Conversion"
        ]
      }
    },
    "/numbers/base/binary": {
      "get": {
        "description": "Convert a given number to binary",
        "parameters": [
          {
            "description": "Number to convert to binary",
            "in": "query",
            "name": "number",
            "required": true,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          },
          {
            "description": "Base of the supplied number (Optional base 10 assumed by default)",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 32,\n    \"base\": {\n      \"from\": 10,\n      \"to\": 2\n    },\n    \"answer\": \"100000\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200 success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}                    "
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Base Conversion"
        ]
      }
    },
    "/numbers/base/hex": {
      "get": {
        "description": "Convert a given number to hexadecimal",
        "parameters": [
          {
            "description": "Number to convert to hex",
            "in": "query",
            "name": "number",
            "required": true,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          },
          {
            "description": "Base of the supplied number (Optional base 10 assumed by default)",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 78,\n    \"base\": {\n      \"from\": 10,\n      \"to\": 16\n    },\n    \"answer\": \"4e\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200 success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}                          "
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Base Conversion"
        ]
      }
    },
    "/numbers/base/octal": {
      "get": {
        "description": "Convert a given number to octal",
        "parameters": [
          {
            "description": "Number to convert to octal",
            "in": "query",
            "name": "number",
            "required": true,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          },
          {
            "description": "Base of the supplied number (Optional base 10 assumed by default)",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 78,\n    \"base\": {\n      \"from\": 10,\n      \"to\": 8\n    },\n    \"answer\": \"116\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200 success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}  "
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Base Conversion"
        ]
      }
    },
    "/numbers/cardinal": {
      "get": {
        "description": "Get the cardinal of the given number",
        "parameters": [
          {
            "description": "Number value",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          },
          {
            "description": "Language to use",
            "in": "query",
            "name": "language",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 2342,\n    \"language\": \"en_US\",\n    \"result\": \"two thousand three hundred forty-two\",\n    \"cardinal\": \"two thousand three hundred forty-two\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Spell"
        ]
      }
    },
    "/numbers/currency": {
      "get": {
        "description": "Spells out the number as a currency",
        "parameters": [
          {
            "description": "Number to spell",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          },
          {
            "description": "Language to use",
            "in": "query",
            "name": "language",
            "required": false,
            "schema": {
              "format": "string",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 1345456654,\n    \"language\": \"en_US\",\n    \"result\": \"one billion three hundred forty-five million four hundred fifty-six thousand six hundred fifty-four dollars\",\n    \"currency\": \"one billion three hundred forty-five million four hundred fifty-six thousand six hundred fifty-four dollars\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}                    "
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Spell"
        ]
      }
    },
    "/numbers/fact": {
      "get": {
        "description": "Get a random fact about a number",
        "parameters": [
          {
            "description": "Number value",
            "in": "query",
            "name": "number",
            "required": true,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 11,\n    \"fact\": \"11 is the largest known multiplicative persistence.\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}                    "
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Number Facts"
        ]
      }
    },
    "/numbers/is-cube": {
      "get": {
        "description": "Checks whether a given number is a cube number or not.",
        "parameters": [
          {
            "description": "Number to check",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 27,\n    \"answer\": true\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}       "
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Number Checks"
        ]
      }
    },
    "/numbers/is-palindrome": {
      "get": {
        "description": "Checks whether a given number is a palindrome number or not.",
        "parameters": [
          {
            "description": "Number to check",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 456654,\n    \"answer\": true\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}               "
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Number Checks"
        ]
      }
    },
    "/numbers/is-square": {
      "get": {
        "description": "Checks whether a given number is a square number or not.",
        "parameters": [
          {
            "description": "Number to check",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 16,\n    \"answer\": true\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}                                          "
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Number Checks"
        ]
      }
    },
    "/numbers/is-triangle": {
      "get": {
        "description": "Checks whether a given number is a triangle number or not.",
        "parameters": [
          {
            "description": "Number to check",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 45,\n    \"answer\": true\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}  "
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Number Checks"
        ]
      }
    },
    "/numbers/nod": {
      "get": {
        "description": "Get the number of the day for current day",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"nod\": {\n      \"category\": {\n        \"name\": \"nod\",\n        \"description\": \"Number of the day.\",\n        \"background\": \"\"\n      },\n      \"numbers\": {\n        \"number\": \"56006\",\n        \"uuid\": \"56006\",\n        \"id\": \"56006\",\n        \"names\": {\n          \"nominal\": {\n            \"name\": \"nominal\",\n            \"description\": \"Nominal\",\n            \"value\": \"56006\",\n            \"display\": \"56006\"\n          },\n          \"cardinal\": {\n            \"name\": \"cardinal\",\n            \"description\": \"Cardinal\",\n            \"value\": \"fifty-six thousand six\",\n            \"display\": \"fifty-six thousand six\"\n          },\n          \"ordinal\": {\n            \"name\": \"ordinal\",\n            \"description\": \"Ordinal\",\n            \"value\": \"56,006th\",\n            \"display\": \"56,006th\"\n          },\n          \"us_currency\": {\n            \"name\": \"us_currency\",\n            \"description\": \"This number as US currency\",\n            \"value\": \"fifty-six thousand six dollars\",\n            \"display\": \"fifty-six thousand six dollars\"\n          }\n        },\n        \"bases\": {\n          \"binary\": {\n            \"name\": \"binary\",\n            \"description\": \"Base 2 (Binary)\",\n            \"value\": \"1101101011000110\",\n            \"display\": \"1101101011000110<sub>2</sub>\"\n          },\n          \"ternary\": {\n            \"name\": \"ternary\",\n            \"description\": \"Base 3 (Ternary)\",\n            \"value\": \"2211211022\",\n            \"display\": \"2211211022<sub>3</sub>\"\n          },\n          \"quaternary\": {\n            \"name\": \"quaternary\",\n            \"description\": \"Base 4 (Quaternary)\",\n            \"value\": \"31223012\",\n            \"display\": \"31223012<sub>4</sub>\"\n          },\n          \"quinary\": {\n            \"name\": \"quinary\",\n            \"description\": \"Base 5 (Quinary)\",\n            \"value\": \"3243011\",\n            \"display\": \"3243011<sub>5</sub>\"\n          },\n          \"senary\": {\n            \"name\": \"senary\",\n            \"description\": \"Base 6 (Senary)\",\n            \"value\": \"1111142\",\n            \"display\": \"1111142<sub>6</sub>\"\n          },\n          \"octal\": {\n            \"name\": \"octal\",\n            \"description\": \"Base 8 (Octal)\",\n            \"value\": \"155306\",\n            \"display\": \"155306<sub>8</sub>\"\n          },\n          \"duodecimal\": {\n            \"name\": \"duodecimal\",\n            \"description\": \"Base 12 (Duodecimal)\",\n            \"value\": \"284B2\",\n            \"display\": \"284B2<sub>12</sub>\"\n          },\n          \"hexadecimal\": {\n            \"name\": \"vexadecimal\",\n            \"description\": \"Base 16 (Hexadecimal)\",\n            \"value\": \"DAC6\",\n            \"display\": \"DAC6<sub>16</sub>\"\n          },\n          \"vigesimal\": {\n            \"name\": \"vigesimal\",\n            \"description\": \"Base 20 (Vigesimal)\",\n            \"value\": \"7006\",\n            \"display\": \"7006<sub>20</sub>\"\n          }\n        },\n        \"numerals\": {\n          \"roman\": {\n            \"name\": \"roman\",\n            \"description\": \"56006 in <a href=\\\"/numbers/to-roman/\\\">Roman Numeral</a>\",\n            \"value\": \"<span class='u'>L</span><span class='u'>V</span>MVI\",\n            \"display\": \"<span class='u'>L</span><span class='u'>V</span>MVI\"\n          },\n          \"chinese\": {\n            \"name\": \"chinese\",\n            \"description\": \"56006 in <a href=\\\"/numbers/to-chinese/\\\">Chinese Numeral</a>\",\n            \"value\": \"&#20237;&#33836;&#38520;&#20191;&#38520;\",\n            \"display\": \"&#20237;&#33836;&#38520;&#20191;&#38520;\"\n          },\n          \"egyptian\": {\n            \"name\": \"egyptian\",\n            \"description\": \"56006 in <a href=\\\"/numbers/to-egyptian/\\\">Egyptian Numeral</a>\",\n            \"value\": \"&#x130b1;&#x131c1;&#x133ff;\",\n            \"display\": \"&#x130b1;&#x131c1;&#x133ff;\"\n          },\n          \"babylonian\": {\n            \"name\": \"babylonian\",\n            \"description\": \"56006 in <a href=\\\"/numbers/to-babylonian/\\\">Babylonian Numeral</a>\",\n            \"value\": \"<img src=\\\"https://math.tools/img/babnumbers/bab_15.gif\\\" alt=\\\"15\\\"> &nbsp; <img src=\\\"https://math.tools/img/babnumbers/bab_33.gif\\\" alt=\\\"33\\\"> &nbsp; <img src=\\\"https://math.tools/img/babnumbers/bab_26.gif\\\" alt=\\\"26\\\"> &nbsp; \",\n            \"display\": \"<img src=\\\"https://math.tools/img/babnumbers/bab_15.gif\\\" alt=\\\"15\\\"> &nbsp; <img src=\\\"https://math.tools/img/babnumbers/bab_33.gif\\\" alt=\\\"33\\\"> &nbsp; <img src=\\\"https://math.tools/img/babnumbers/bab_26.gif\\\" alt=\\\"26\\\"> &nbsp; \"\n          }\n        },\n        \"general-facts\": {\n          \"odd\": {\n            \"name\": \"odd\",\n            \"description\": \"Is 56006 an odd number?\",\n            \"value\": false,\n            \"display\": \"56006 is NOT an odd number\"\n          },\n          \"even\": {\n            \"name\": \"even\",\n            \"description\": \"Is 56006 an even number?\",\n            \"value\": true,\n            \"display\": \"56006 is  an even number\"\n          },\n          \"palindrome\": {\n            \"name\": \"palindrome\",\n            \"description\": \"Is 56006 a palindrome?\",\n            \"value\": false,\n            \"display\": \"56006 is  NOT a palindrome number\"\n          },\n          \"triangle\": {\n            \"name\": \"triangle\",\n            \"description\": \"Is 56006 a triangle number?\",\n            \"value\": false,\n            \"display\": \"56006 is  NOT a triangle number\"\n          }\n        },\n        \"prime-facts\": {\n          \"prime\": {\n            \"name\": \"prime\",\n            \"description\": \"Is 56006 a Prime Number?\",\n            \"value\": false,\n            \"display\": \"56006 is NOT a  prime\"\n          },\n          \"perfect\": {\n            \"name\": \"perfect\",\n            \"description\": \"Is 56006 a perfect number?\",\n            \"value\": false,\n            \"display\": \"56006 is NOT a perfect number\"\n          },\n          \"mersenne\": {\n            \"name\": \"mersenne\",\n            \"description\": \"Is 56006 a Mersenne Prime?\",\n            \"value\": false,\n            \"display\": \"56006 is NOT a Mersenne prime\"\n          },\n          \"fermat\": {\n            \"name\": \"fermat\",\n            \"description\": \"Is 56006 a Fermat Prime?\",\n            \"value\": false,\n            \"display\": \"56006 is NOT a Fermat prime\"\n          },\n          \"fibonacci\": {\n            \"name\": \"fibonacci\",\n            \"description\": \"Is 56006 a Fibonacci Prime?\",\n            \"value\": false,\n            \"display\": \"56006 is NOT a Fibonacci prime\"\n          },\n          \"partition\": {\n            \"name\": \"partition\",\n            \"description\": \"Is 56006 a Partition Prime?\",\n            \"value\": false,\n            \"display\": \"56006 is NOT a Partition prime\"\n          },\n          \"pell\": {\n            \"name\": \"pell\",\n            \"description\": \"Is 56006 a Pell Prime?\",\n            \"value\": false,\n            \"display\": \"56006 is NOT a Pell prime\"\n          }\n        },\n        \"recreational\": {\n          \"reverse\": {\n            \"name\": \"reverse\",\n            \"description\": \"Number 56006 reversed\",\n            \"value\": \"60065\",\n            \"display\": \"60065\"\n          },\n          \"digitssum\": {\n            \"name\": \"digitssum\",\n            \"description\": \"Sum of the digits\",\n            \"value\": 17,\n            \"display\": 17\n          },\n          \"noofdigits\": {\n            \"name\": \"noofdigits\",\n            \"description\": \"No of digits\",\n            \"value\": 5,\n            \"display\": 5\n          }\n        },\n        \"category\": \"nod\"\n      }\n    }\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Number of the day"
        ]
      }
    },
    "/numbers/numeral/chinese": {
      "get": {
        "description": "Convert base 10 representation of a given number to chinese numeral.",
        "parameters": [
          {
            "description": "Number to convert",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 4568367,\n    \"system\": \"chinese\",\n    \"result\": \"\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Number Systems Conversion"
        ]
      }
    },
    "/numbers/numeral/egyptian": {
      "get": {
        "description": "Convert base 10 representation of a given number to egyptian numeral.",
        "parameters": [
          {
            "description": "Number to convert",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 4568367,\n    \"system\": \"egyptian\",\n    \"result\": \"\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Number Systems Conversion"
        ]
      }
    },
    "/numbers/numeral/roman": {
      "get": {
        "description": "Convert base 10 representation of a given number to roman numeral.",
        "parameters": [
          {
            "description": "Number to convert",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 4568367,\n    \"system\": \"roman\",\n    \"result\": \"DLXVMMMCCCLXVII\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Number Systems Conversion"
        ]
      }
    },
    "/numbers/ordinal": {
      "get": {
        "description": "Get the ordinal of the given number",
        "parameters": [
          {
            "description": "Number value",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 2342,\n    \"result\": \"2342nd\",\n    \"ordinal\": \"2342nd\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Spell"
        ]
      }
    },
    "/numbers/pi": {
      "get": {
        "description": "Get digits of pi (Ï€)",
        "parameters": [
          {
            "description": "Optional start position",
            "in": "query",
            "name": "from",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          },
          {
            "description": "Optional start position",
            "in": "query",
            "name": "to",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"cotents\": {\n    \"from\": 0,\n    \"to\": 100,\n    \"result\": \"3.1415926535897932384626433832795028841971693993751058209749445923078164062862089986280348253421170679\",\n    \"number\": \"pi\"\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n} "
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "PI"
        ]
      }
    },
    "/numbers/prime/factors": {
      "get": {
        "description": "Get the prime factors of a given number.",
        "parameters": [
          {
            "description": "Number to get the factors",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 228,\n    \"answer\": [\n      {\n        \"factor\": 2,\n        \"times\": 2\n      },\n      {\n        \"factor\": 3,\n        \"times\": 1\n      },\n      {\n        \"factor\": 19,\n        \"times\": 1\n      }\n    ],\n    \"prime-factors\": [\n      {\n        \"factor\": 2,\n        \"times\": 2\n      },\n      {\n        \"factor\": 3,\n        \"times\": 1\n      },\n      {\n        \"factor\": 19,\n        \"times\": 1\n      }\n    ]\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}                      "
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Prime"
        ]
      }
    },
    "/numbers/prime/is-fermat-prime": {
      "get": {
        "description": "Checks whether a given number is a known fermat prime number or not.",
        "parameters": [
          {
            "description": "Number to check",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 257,\n    \"answer\": true\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}                    "
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Prime",
          "Number Checks"
        ]
      }
    },
    "/numbers/prime/is-fibonacci-prime": {
      "get": {
        "description": "Checks whether a given number is a known fibonacci prime number or not.",
        "parameters": [
          {
            "description": "Number to check",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 1597,\n    \"answer\": true\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}                    "
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Prime",
          "Number Checks"
        ]
      }
    },
    "/numbers/prime/is-mersenne-prime": {
      "get": {
        "description": "Checks whether a given number is a known mersenne prime number or not.",
        "parameters": [
          {
            "description": "Number to check",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 8191,\n    \"answer\": true\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Prime",
          "Number Checks"
        ]
      }
    },
    "/numbers/prime/is-partition-prime": {
      "get": {
        "description": "Checks whether a given number is a known partition prime number or not.",
        "parameters": [
          {
            "description": "Number to check",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 33461,\n    \"answer\": true\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}"
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Prime",
          "Number Checks"
        ]
      }
    },
    "/numbers/prime/is-pell-prime": {
      "get": {
        "description": "Checks whether a given number is a known pell prime number or not.",
        "parameters": [
          {
            "description": "Number to check",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 33461,\n    \"answer\": true\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n} "
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Prime",
          "Number Checks"
        ]
      }
    },
    "/numbers/prime/is-perfect": {
      "get": {
        "description": "Checks whether a given number is a perfect number or not.",
        "parameters": [
          {
            "description": "Number to check",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 8128,\n    \"answer\": true\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n} "
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Prime",
          "Number Checks"
        ]
      }
    },
    "/numbers/prime/is-prime": {
      "get": {
        "description": "Checks whether a given number is a known prime number or not.",
        "parameters": [
          {
            "description": "Number to check",
            "in": "query",
            "name": "number",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"number\": 227,\n    \"answer\": true\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n} "
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Prime",
          "Number Checks"
        ]
      }
    },
    "/numbers/random": {
      "get": {
        "description": "Generate random number(s)",
        "parameters": [
          {
            "description": "Minimum Number value in the range",
            "in": "query",
            "name": "min",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          },
          {
            "description": "Maximum Number value",
            "in": "query",
            "name": "max",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          },
          {
            "description": "Total number of random numbers to generate. Defaults to 1",
            "in": "query",
            "name": "total",
            "required": false,
            "schema": {
              "format": "integer",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n  \"success\": {\n    \"total\": 1\n  },\n  \"copyright\": {\n    \"copyright\": \"2019-21 https://math.tools\"\n  },\n  \"contents\": {\n    \"numbers\": [\n      1942400822,\n      828097719,\n      1581110549,\n      1957713319,\n      1920104909\n    ],\n    \"min\": 1,\n    \"max\": 2147483647,\n    \"requested\": 5,\n    \"returned\": 5\n  }\n}"
                  }
                }
              }
            },
            "description": "200 Success response"
          },
          "401": {
            "content": {
              "application/json": {
                "examples": {
                  "response": {
                    "value": "{\n    \"error\": {\n        \"code\": 401,\n        \"message\": \"Unauthorized\"\n    }\n}                    "
                  }
                }
              }
            },
            "description": "401 Unauthorized response"
          }
        },
        "security": [
          {
            "X-Mathtools-Api-Secret": []
          }
        ],
        "tags": [
          "Number Generation"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "X-Mathtools-Api-Secret": {
        "in": "header",
        "name": "X-Mathtools-Api-Secret",
        "type": "apiKey"
      }
    }
  }
}