swagger: "2.0"
schemes:
  - https
host: management.azure.com
x-hasEquivalentPaths: true
info:
  description: Creates an Azure Data Lake Analytics account management client.
  title: DataLakeAnalyticsAccountManagementClient
  version: 2015-10-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/preview/2015-10-01-preview/account.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: datalake-analytics-account
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
  - application/octet-stream
produces:
  - application/json
  - text/json
  - application/octet-stream
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeAnalytics/accounts":
    get:
      description: Gets the first page of Data Lake Analytics accounts, if any, within the current subscription. This includes a link to the next page, if any.
      operationId: Account_List
      parameters:
        - description: OData filter. Optional.
          in: query
          name: $filter
          required: false
          type: string
        - description: The number of items to return. Optional.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The number of items to skip over before returning elements. Optional.
          format: int32
          in: query
          name: $skip
          required: false
          type: integer
        - description: OData expansion. Expand related resources in line with the retrieved resources, e.g. Categories/$expand=Products would expand Product data in line with each Category entry. Optional.
          in: query
          name: $expand
          required: false
          type: string
        - description: OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.
          in: query
          name: $select
          required: false
          type: string
        - description: OrderBy clause. One or more comma-separated expressions with an optional "asc" (the default) or "desc" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.
          in: query
          name: $orderby
          required: false
          type: string
        - description: The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.
          in: query
          name: $count
          required: false
          type: boolean
        - description: A free form search. A free-text search expression to match for whether a particular entry should be included in the feed, e.g. Categories?$search=blue OR green. Optional.
          in: query
          name: $search
          required: false
          type: string
        - description: The desired return format. Return the response in particular format without access to request headers for standard content-type negotiation (e.g Orders?$format=json). Optional.
          in: query
          name: $format
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccountListResult"
      tags:
        - Account
      x-ms-odata: "#/definitions/DataLakeAnalyticsAccount"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts":
    get:
      description: Gets the first page of Data Lake Analytics accounts, if any, within a specific resource group. This includes a link to the next page, if any.
      operationId: Account_ListByResourceGroup
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Analytics account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: OData filter. Optional.
          in: query
          name: $filter
          required: false
          type: string
        - description: The number of items to return. Optional.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The number of items to skip over before returning elements. Optional.
          format: int32
          in: query
          name: $skip
          required: false
          type: integer
        - description: OData expansion. Expand related resources in line with the retrieved resources, e.g. Categories/$expand=Products would expand Product data in line with each Category entry. Optional.
          in: query
          name: $expand
          required: false
          type: string
        - description: OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.
          in: query
          name: $select
          required: false
          type: string
        - description: OrderBy clause. One or more comma-separated expressions with an optional "asc" (the default) or "desc" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.
          in: query
          name: $orderby
          required: false
          type: string
        - description: The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.
          in: query
          name: $count
          required: false
          type: boolean
        - description: A free form search. A free-text search expression to match for whether a particular entry should be included in the feed, e.g. Categories?$search=blue OR green. Optional.
          in: query
          name: $search
          required: false
          type: string
        - description: The return format. Return the response in particular format without access to request headers for standard content-type negotiation (e.g Orders?$format=json). Optional.
          in: query
          name: $format
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccountListResult"
      tags:
        - Account
      x-ms-odata: "#/definitions/DataLakeAnalyticsAccount"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}":
    delete:
      description: Begins the delete process for the Data Lake Analytics account object specified by the account name.
      operationId: Account_Delete
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Analytics account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Analytics account to delete
          in: path
          name: accountName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
        "202":
          description: ""
        "204":
          description: ""
        "404":
          description: ""
      tags:
        - Account
      x-ms-long-running-operation: true
    get:
      description: Gets details of the specified Data Lake Analytics account.
      operationId: Account_Get
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Analytics account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Analytics account to retrieve.
          in: path
          name: accountName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccount"
      tags:
        - Account
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/DataLakeStoreAccounts/":
    get:
      description: Gets the first page of Data Lake Store accounts linked to the specified Data Lake Analytics account. The response includes a link to the next page, if any.
      operationId: Account_ListDataLakeStoreAccounts
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Analytics account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Analytics account for which to list Data Lake Store accounts.
          in: path
          name: accountName
          required: true
          type: string
        - description: OData filter. Optional.
          in: query
          name: $filter
          required: false
          type: string
        - description: The number of items to return. Optional.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The number of items to skip over before returning elements. Optional.
          format: int32
          in: query
          name: $skip
          required: false
          type: integer
        - description: OData expansion. Expand related resources in line with the retrieved resources, e.g. Categories/$expand=Products would expand Product data in line with each Category entry. Optional.
          in: query
          name: $expand
          required: false
          type: string
        - description: OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.
          in: query
          name: $select
          required: false
          type: string
        - description: OrderBy clause. One or more comma-separated expressions with an optional "asc" (the default) or "desc" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.
          in: query
          name: $orderby
          required: false
          type: string
        - description: The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.
          in: query
          name: $count
          required: false
          type: boolean
        - description: A free form search. A free-text search expression to match for whether a particular entry should be included in the feed, e.g. Categories?$search=blue OR green. Optional.
          in: query
          name: $search
          required: false
          type: string
        - description: The desired return format. Return the response in particular format without access to request headers for standard content-type negotiation (e.g Orders?$format=json). Optional.
          in: query
          name: $format
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccountListDataLakeStoreResult"
      tags:
        - Account
      x-ms-odata: "#/definitions/DataLakeStoreAccountInfo"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/DataLakeStoreAccounts/{dataLakeStoreAccountName}":
    delete:
      description: Updates the Data Lake Analytics account specified to remove the specified Data Lake Store account.
      operationId: Account_DeleteDataLakeStoreAccount
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Analytics account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Analytics account from which to remove the Data Lake Store account.
          in: path
          name: accountName
          required: true
          type: string
        - description: The name of the Data Lake Store account to remove
          in: path
          name: dataLakeStoreAccountName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
      tags:
        - Account
    get:
      description: Gets the specified Data Lake Store account details in the specified Data Lake Analytics account.
      operationId: Account_GetDataLakeStoreAccount
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Analytics account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Analytics account from which to retrieve the Data Lake Store account details.
          in: path
          name: accountName
          required: true
          type: string
        - description: The name of the Data Lake Store account to retrieve
          in: path
          name: dataLakeStoreAccountName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DataLakeStoreAccountInfo"
      tags:
        - Account
    put:
      description: Updates the specified Data Lake Analytics account to include the additional Data Lake Store account.
      operationId: Account_AddDataLakeStoreAccount
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Analytics account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Analytics account to which to add the Data Lake Store account.
          in: path
          name: accountName
          required: true
          type: string
        - description: The name of the Data Lake Store account to add.
          in: path
          name: dataLakeStoreAccountName
          required: true
          type: string
        - description: The details of the Data Lake Store account.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/AddDataLakeStoreParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
      tags:
        - Account
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/StorageAccounts/":
    get:
      description: Gets the first page of Azure Storage accounts, if any, linked to the specified Data Lake Analytics account. The response includes a link to the next page, if any.
      operationId: Account_ListStorageAccounts
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Analytics account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Analytics account for which to list Azure Storage accounts.
          in: path
          name: accountName
          required: true
          type: string
        - description: The OData filter. Optional.
          in: query
          name: $filter
          required: false
          type: string
        - description: The number of items to return. Optional.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The number of items to skip over before returning elements. Optional.
          format: int32
          in: query
          name: $skip
          required: false
          type: integer
        - description: OData expansion. Expand related resources in line with the retrieved resources, e.g. Categories/$expand=Products would expand Product data in line with each Category entry. Optional.
          in: query
          name: $expand
          required: false
          type: string
        - description: OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.
          in: query
          name: $select
          required: false
          type: string
        - description: OrderBy clause. One or more comma-separated expressions with an optional "asc" (the default) or "desc" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.
          in: query
          name: $orderby
          required: false
          type: string
        - description: The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.
          in: query
          name: $count
          required: false
          type: boolean
        - description: A free form search. A free-text search expression to match for whether a particular entry should be included in the feed, e.g. Categories?$search=blue OR green. Optional.
          in: query
          name: $search
          required: false
          type: string
        - description: The desired return format. Return the response in particular format without access to request headers for standard content-type negotiation (e.g Orders?$format=json). Optional.
          in: query
          name: $format
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccountListStorageAccountsResult"
      tags:
        - Account
      x-ms-odata: "#/definitions/StorageAccountInfo"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/StorageAccounts/{storageAccountName}":
    delete:
      description: Updates the specified Data Lake Analytics account to remove an Azure Storage account.
      operationId: Account_DeleteStorageAccount
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Analytics account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Analytics account from which to remove the Azure Storage account.
          in: path
          name: accountName
          required: true
          type: string
        - description: The name of the Azure Storage account to remove
          in: path
          name: storageAccountName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
      tags:
        - Account
    get:
      description: Gets the specified Azure Storage account linked to the given Data Lake Analytics account.
      operationId: Account_GetStorageAccount
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Analytics account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Analytics account from which to retrieve Azure storage account details.
          in: path
          name: accountName
          required: true
          type: string
        - description: The name of the Azure Storage account for which to retrieve the details.
          in: path
          name: storageAccountName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/StorageAccountInfo"
      tags:
        - Account
    patch:
      description: Updates the Data Lake Analytics account to replace Azure Storage blob account details, such as the access key and/or suffix.
      operationId: Account_UpdateStorageAccount
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Analytics account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Analytics account to modify storage accounts in
          in: path
          name: accountName
          required: true
          type: string
        - description: The Azure Storage account to modify
          in: path
          name: storageAccountName
          required: true
          type: string
        - description: The parameters containing the access key and suffix to update the storage account with.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/AddStorageAccountParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
      tags:
        - Account
    put:
      description: Updates the specified Data Lake Analytics account to add an Azure Storage account.
      operationId: Account_AddStorageAccount
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Analytics account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Analytics account to which to add the Azure Storage account.
          in: path
          name: accountName
          required: true
          type: string
        - description: The name of the Azure Storage account to add
          in: path
          name: storageAccountName
          required: true
          type: string
        - description: The parameters containing the access key and optional suffix for the Azure Storage Account.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/AddStorageAccountParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
      tags:
        - Account
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/StorageAccounts/{storageAccountName}/Containers":
    get:
      description: Lists the Azure Storage containers, if any, associated with the specified Data Lake Analytics and Azure Storage account combination. The response includes a link to the next page of results, if any.
      operationId: Account_ListStorageContainers
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Analytics account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Analytics account for which to list Azure Storage blob containers.
          in: path
          name: accountName
          required: true
          type: string
        - description: The name of the Azure storage account from which to list blob containers.
          in: path
          name: storageAccountName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ListBlobContainersResult"
      tags:
        - Account
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/StorageAccounts/{storageAccountName}/Containers/{containerName}":
    get:
      description: Gets the specified Azure Storage container associated with the given Data Lake Analytics and Azure Storage accounts.
      operationId: Account_GetStorageContainer
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Analytics account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Analytics account for which to retrieve blob container.
          in: path
          name: accountName
          required: true
          type: string
        - description: The name of the Azure storage account from which to retrieve the blob container.
          in: path
          name: storageAccountName
          required: true
          type: string
        - description: The name of the Azure storage container to retrieve
          in: path
          name: containerName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/BlobContainer"
      tags:
        - Account
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/StorageAccounts/{storageAccountName}/Containers/{containerName}/listSasTokens":
    post:
      description: Gets the SAS token associated with the specified Data Lake Analytics and Azure Storage account and container combination.
      operationId: Account_ListSasTokens
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Analytics account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Analytics account from which an Azure Storage account's SAS token is being requested.
          in: path
          name: accountName
          required: true
          type: string
        - description: The name of the Azure storage account for which the SAS token is being requested.
          in: path
          name: storageAccountName
          required: true
          type: string
        - description: The name of the Azure storage container for which the SAS token is being requested.
          in: path
          name: containerName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ListSasTokensResult"
      tags:
        - Account
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{name}":
    patch:
      description: Updates the Data Lake Analytics account object specified by the accountName with the contents of the account object.
      operationId: Account_Update
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Analytics account.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Analytics account to update.
          in: path
          name: name
          required: true
          type: string
        - description: Parameters supplied to the update Data Lake Analytics account operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccount"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccount"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccount"
      tags:
        - Account
      x-ms-long-running-operation: true
    put:
      description: Creates the specified Data Lake Analytics account. This supplies the user with computation services for Data Lake Analytics workloads
      operationId: Account_Create
      parameters:
        - description: The name of the Azure resource group that contains the Data Lake Analytics account.the account will be associated with.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Data Lake Analytics account to create.
          in: path
          name: name
          required: true
          type: string
        - description: Parameters supplied to the create Data Lake Analytics account operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccount"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccount"
        "201":
          description: ""
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccount"
      tags:
        - Account
      x-ms-long-running-operation: true
definitions:
  AddDataLakeStoreParameters:
    description: Additional Data Lake Store parameters.
    properties:
      properties:
        $ref: "#/definitions/DataLakeStoreAccountInfoProperties"
        description: the properties for the Data Lake Store account being added.
    required:
      - properties
  AddStorageAccountParameters:
    description: Additional Azure Storage account parameters.
    properties:
      properties:
        $ref: "#/definitions/StorageAccountProperties"
        description: the properties for the Azure Storage account being added.
    required:
      - properties
  AzureAsyncOperationResult:
    description: The response body contains the status of the specified asynchronous operation, indicating whether it has succeeded, is inprogress, or has failed. Note that this status is distinct from the HTTP status code returned for the Get Operation Status operation itself. If the asynchronous operation succeeded, the response body includes the HTTP status code for the successful request. If the asynchronous operation failed, the response body includes the HTTP status code for the failed request and error information regarding the failure.
    properties:
      error:
        $ref: "#/definitions/Error"
        readOnly: true
      status:
        description: the status of the AzureAsyncOperation
        enum:
          - InProgress
          - Succeeded
          - Failed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: OperationStatus
  BlobContainer:
    description: Azure Storage blob container information.
    properties:
      id:
        description: the unique identifier of the blob container.
        readOnly: true
        type: string
      name:
        description: the name of the blob container.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/BlobContainerProperties"
        description: the properties of the blob container.
        readOnly: true
      type:
        description: the type of the blob container.
        readOnly: true
        type: string
  BlobContainerProperties:
    description: Azure Storage blob container properties information.
    properties:
      lastModifiedTime:
        description: the last modified time of the blob container.
        format: date-time
        readOnly: true
        type: string
  DataLakeAnalyticsAccount:
    description: A Data Lake Analytics account object, containing all information associated with the named Data Lake Analytics account.
    properties:
      id:
        description: the account subscription ID.
        readOnly: true
        type: string
      location:
        description: the account regional location.
        type: string
      name:
        description: the account name.
        type: string
      properties:
        $ref: "#/definitions/DataLakeAnalyticsAccountProperties"
        description: the properties defined by Data Lake Analytics all properties are specific to each resource provider.
      tags:
        additionalProperties:
          type: string
        description: the value of custom properties.
        type: object
      type:
        description: the namespace and type of the account.
        readOnly: true
        type: string
  DataLakeAnalyticsAccountListDataLakeStoreResult:
    description: Data Lake Account list information.
    properties:
      count:
        description: total number of results.
        format: int32
        readOnly: true
        type: integer
      nextLink:
        description: the link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: the results of the list operation
        items:
          $ref: "#/definitions/DataLakeStoreAccountInfo"
        readOnly: true
        type: array
  DataLakeAnalyticsAccountListResult:
    description: DataLakeAnalytics Account list information.
    properties:
      nextLink:
        description: the link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: the results of the list operation
        items:
          $ref: "#/definitions/DataLakeAnalyticsAccount"
        readOnly: true
        type: array
  DataLakeAnalyticsAccountListStorageAccountsResult:
    description: Azure Storage Account list information.
    properties:
      count:
        description: total number of results.
        format: int32
        readOnly: true
        type: integer
      nextLink:
        description: the link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: the results of the list operation
        items:
          $ref: "#/definitions/StorageAccountInfo"
        readOnly: true
        type: array
  DataLakeAnalyticsAccountProperties:
    description: The account specific properties that are associated with an underlying Data Lake Analytics account.
    properties:
      creationTime:
        description: the account creation time.
        format: date-time
        readOnly: true
        type: string
      dataLakeStoreAccounts:
        description: the list of Data Lake storage accounts associated with this account.
        items:
          $ref: "#/definitions/DataLakeStoreAccountInfo"
        type: array
      defaultDataLakeStoreAccount:
        description: the default data lake storage account associated with this Data Lake Analytics account.
        type: string
      endpoint:
        description: the full CName endpoint for this account.
        readOnly: true
        type: string
      lastModifiedTime:
        description: the account last modified time.
        format: date-time
        readOnly: true
        type: string
      maxDegreeOfParallelism:
        description: the maximum supported degree of parallelism for this account.
        format: int32
        type: integer
      maxJobCount:
        description: the maximum supported jobs running under the account at the same time.
        format: int32
        type: integer
      provisioningState:
        description: the provisioning status of the Data Lake Analytics account.
        enum:
          - Failed
          - Creating
          - Running
          - Succeeded
          - Patching
          - Suspending
          - Resuming
          - Deleting
          - Deleted
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: DataLakeAnalyticsAccountStatus
      state:
        description: the state of the Data Lake Analytics account.
        enum:
          - active
          - suspended
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: DataLakeAnalyticsAccountState
      storageAccounts:
        description: the list of Azure Blob storage accounts associated with this account.
        items:
          $ref: "#/definitions/StorageAccountInfo"
        type: array
  DataLakeStoreAccountInfo:
    description: Data Lake Store account information.
    properties:
      name:
        description: the account name of the Data Lake Store account.
        type: string
      properties:
        $ref: "#/definitions/DataLakeStoreAccountInfoProperties"
        description: the properties associated with this Data Lake Store account.
    required:
      - name
  DataLakeStoreAccountInfoProperties:
    description: Data Lake Store account properties information.
    properties:
      suffix:
        description: the optional suffix for the Data Lake Store account.
        type: string
  Error:
    description: Generic resource error information.
    properties:
      code:
        description: the HTTP status code or error code associated with this error
        readOnly: true
        type: string
      details:
        description: the list of error details
        items:
          $ref: "#/definitions/ErrorDetails"
        readOnly: true
        type: array
      innerError:
        $ref: "#/definitions/InnerError"
        description: the inner exceptions or errors, if any
        readOnly: true
      message:
        description: the error message to display.
        readOnly: true
        type: string
      target:
        description: the target of the error.
        readOnly: true
        type: string
  ErrorDetails:
    description: Generic resource error details information.
    properties:
      code:
        description: the HTTP status code or error code associated with this error
        readOnly: true
        type: string
      message:
        description: the error message localized based on Accept-Language
        readOnly: true
        type: string
      target:
        description: the target of the particular error (for example, the name of the property in error).
        readOnly: true
        type: string
  InnerError:
    description: Generic resource inner error information.
    properties:
      context:
        description: the context for the error message
        readOnly: true
        type: string
      trace:
        description: the stack trace for the error
        readOnly: true
        type: string
  ListBlobContainersResult:
    description: The list of blob containers associated with the storage account attached to the Data Lake Analytics account.
    properties:
      nextLink:
        description: the link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: the results of the list operation
        items:
          $ref: "#/definitions/BlobContainer"
        readOnly: true
        type: array
  ListSasTokensResult:
    description: The SAS response that contains the storage account, container and associated SAS token for connection use.
    properties:
      nextLink:
        description: the link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        items:
          $ref: "#/definitions/SasTokenInfo"
        readOnly: true
        type: array
  SasTokenInfo:
    description: SAS token information.
    properties:
      accessToken:
        description: the access token for the associated Azure Storage Container.
        readOnly: true
        type: string
  StorageAccountInfo:
    description: Azure Storage account information.
    properties:
      name:
        description: the account name associated with the Azure storage account.
        type: string
      properties:
        $ref: "#/definitions/StorageAccountProperties"
        description: the properties associated with this storage account.
    required:
      - name
      - properties
  StorageAccountProperties:
    description: Azure Storage account properties information.
    properties:
      accessKey:
        description: the access key associated with this Azure Storage account that will be used to connect to it.
        type: string
      suffix:
        description: the optional suffix for the Data Lake account.
        type: string
    required:
      - accessKey
