swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: The Admin Subscriptions Management Client.
  title: SubscriptionsManagementClient
  version: 2015-11-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/Location.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Location
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  NewLocationParameter:
    description: The new location
    in: body
    name: newLocation
    required: true
    schema:
      $ref: "#/definitions/Location"
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations":
    get:
      description: Get a list of all AzureStack location.
      operationId: Locations_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - default: 2015-11-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/LocationList"
      tags:
        - Locations
      x-ms-examples:
        Get a list of all AzureStack location.:
          parameters:
            api-version: 2015-11-01
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - displayName: local
                    id: /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Subscriptions.Admin/locations/local
                    latitude: ""
                    longitude: ""
                    name: local
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}":
    get:
      description: Get the specified location.
      operationId: Locations_Get
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The AzureStack location.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2015-11-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Location"
      tags:
        - Locations
      x-ms-examples:
        Get the specified location.:
          parameters:
            api-version: 2015-11-01
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                displayName: local
                id: /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Subscriptions.Admin/locations/local
                latitude: ""
                longitude: ""
                name: local
    put:
      description: Updates the specified location.
      operationId: Locations_CreateOrUpdate
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The AzureStack location.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2015-11-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - $ref: "#/parameters/NewLocationParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Location"
      tags:
        - Locations
      x-ms-examples:
        Updates the specified location.:
          parameters:
            api-version: 2015-11-01
            location: local
            newLocation:
              displayName: local
              latitude: "56"
              longitude: "65"
              name: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                displayName: local
                id: /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Subscriptions.Admin/locations/local
                latitude: ""
                longitude: ""
                name: local
  "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/locations/{location}/operationsStatus/{operationsStatusName}":
    get:
      description: Get the operation status.
      operationId: Locations_GetOperationsStatus
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The AzureStack location.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The operation status name.
          in: path
          name: operationsStatusName
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2015-11-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationsStatus"
        "202":
          description: Accepted
        "204":
          description: Not Content
        "404":
          description: Not Found
      tags:
        - Locations
      x-ms-examples:
        Get the specified operation status.:
          parameters:
            api-version: 2015-11-01
            location: local
            operationsStatusName: subname
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                endTime: 2017-08-01T00:00:00.00Z
                error:
                  code: ""
                  message: ""
                id:
                  location: local
                  name: ""
                  subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
                percentComplete: 0
                properties: {}
                responseContent: {}
                retryAfter: ""
                startTime: 2017-08-01T00:00:00.00Z
                status: ""
                terminalHttpStatusCode: ""
            "202": {}
            "204": {}
            "404": {}
definitions:
  ExtendedErrorInfo:
    description: The extended error information.
    properties:
      code:
        description: The error code.
        type: string
      details:
        $ref: "#/definitions/ExtendedErrorInfoList"
        description: The detailed error message details.
      message:
        description: The error message.
        type: string
  ExtendedErrorInfoList:
    description: List of the extended error information.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: List of the extended error information.
        items:
          $ref: "#/definitions/ExtendedErrorInfo"
        type: array
  Location:
    description: Contains information about a geographical location where resource providers can be deployed.
    properties:
      displayName:
        description: Display name of the location.
        type: string
      id:
        description: Location identifier.
        type: string
      latitude:
        description: Latitude of the location.
        type: string
      longitude:
        description: Longitude of the location.
        type: string
      name:
        description: Location name.
        type: string
    type: object
  LocationList:
    description: List of locations.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: List of locations.
        items:
          $ref: "#/definitions/Location"
        type: array
  OperationsStatus:
    description: A long running operation status.
    properties:
      endTime:
        description: The end time of the operation.
        format: date-time
        type: string
      error:
        $ref: "#/definitions/ExtendedErrorInfo"
        description: The operation error.
      id:
        $ref: "#/definitions/OperationsStatusIdentifier"
        description: The operation status identifier.
      percentComplete:
        description: The completion percentage of the operation.
        type: number
      properties:
        description: The internal operation properties.
        type: object
      responseContent:
        description: The content of the response.
        type: object
      retryAfter:
        description: The amount of time clients should wait..
        type: string
      startTime:
        description: The start time of the operation.
        format: date-time
        type: string
      status:
        description: The status of the operation.
        type: string
      terminalHttpStatusCode:
        description: The terminal http status code for the operation.
        type: string
    type: object
  OperationsStatusIdentifier:
    description: The admin offer identifier for the location wide SubscriptionsAdminResourceTypes.OperationsStatus resource type.
    properties:
      location:
        description: The location of the operations status.
        type: string
      name:
        description: The name of the operations status.
        type: string
      subscriptionId:
        description: The subscription identifier..
        type: string
