swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Description of the new service
  title: VMwareCloudSimple
  version: 2019-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-ms-code-generation-settings:
    name: VMwareCloudSimpleClient
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/vmwarecloudsimple/resource-manager/Microsoft.VMwareCloudSimple/stable/2019-04-01/vmwarecloudsimple.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: vmwarecloudsimple
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  api-version:
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
  pcName:
    description: The private cloud name
    in: path
    name: pcName
    required: true
    type: string
    x-ms-parameter-location: method
  referer:
    description: referer url
    in: header
    name: Referer
    required: true
    type: string
    x-ms-parameter-location: client
  regionId:
    description: The region Id (westus, eastus)
    in: path
    name: regionId
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupName:
    description: The name of the resource group
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: The subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
tags:
  - description: Subscription life cycle
    name: Subscription
  - description: Virtual machine resource operations
    name: VirtualMachines
  - description: Virtual networks functions
    name: VirtualNetwork
  - description: VM templates functions
    name: VirtualMachineTemplates
  - description: available operations function
    name: Operations
  - description: Resource pools operations
    name: ResourcePools
  - description: dedicated cloud nodes operations
    name: DedicatedCloudNodes
  - description: Azure Service object operations
    name: AzureService
  - description: operations related to availability and usage
    name: AvailabilityUsages
  - description: Customization policies operations
    name: CustomizationPolicies
paths:
  /providers/Microsoft.VMwareCloudSimple/operations:
    get:
      description: Return list of operations
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/AvailableOperationsListResponse"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements list of available operations
      tags:
        - Operations
      x-ms-examples:
        ListOperations:
          parameters:
            api-version: 2019-04-01
          responses:
            "200":
              body:
                nextLink: string
                value:
                  - display:
                      description: Creates a new dedicated cloud node
                      operation: Create Dedicated Cloud Node
                      provider: VMware Solution by CloudSimple
                      resource: Dedicated Cloud Nodes
                    name: Microsoft.VMwareCloudSimple/dedicatedCloudNodes/write
                    origin: user,system
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes":
    get:
      description: Returns list of dedicate cloud nodes within subscription
      operationId: DedicatedCloudNodes_ListBySubscription
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/api-version"
        - description: The filter to apply on the list operation
          in: query
          name: $filter
          type: string
        - description: The maximum number of record sets to return
          format: int32
          in: query
          name: $top
          type: integer
        - description: to be used by nextLink implementation
          in: query
          name: $skipToken
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DedicatedCloudNodeListResponse"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements list of dedicated cloud nodes within subscription method
      tags:
        - DedicatedCloudNodes
      x-ms-examples:
        ListDedicatedCloudNodes:
          parameters:
            api-version: 2019-04-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup-1/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/node-2
                    location: westus2
                    name: node-2
                    properties:
                      availabilityZoneId: az1
                      availabilityZoneName: Availability Zone 1
                      cloudRackName: cloud_rack_1
                      created: 2019-05-21T07:32:12.134Z
                      nodesCount: 0
                      placementGroupId: n2
                      placementGroupName: Placement Group 2
                      privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                      privateCloudName: private_cloud_name
                      purchaseId: 225fadec-3bbe-4e61-a119-ff102da67d0d
                      skuDescription:
                        id: general
                        name: CS28-Node
                      status: used
                      vmwareClusterName: Cluster
                    sku:
                      name: VMware_CloudSimple_CS28
                    type: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
                  - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup-2/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/node-1
                    location: westus2
                    name: node1
                    properties:
                      availabilityZoneId: az1
                      availabilityZoneName: Availability Zone 1
                      created: 2019-05-22T11:57:43.891Z
                      nodesCount: 0
                      placementGroupId: n1
                      placementGroupName: Placement Group 1
                      purchaseId: eb9d2e22-c787-4723-aa4f-3760b53a0a4d
                      skuDescription:
                        id: general
                        name: CS28-Node
                      status: unused
                    sku:
                      name: VMware_CloudSimple_CS28
                    type: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices":
    get:
      description: Returns list of dedicated cloud services within a subscription
      operationId: DedicatedCloudServices_ListBySubscription
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/api-version"
        - description: The filter to apply on the list operation
          in: query
          name: $filter
          type: string
        - description: The maximum number of record sets to return
          format: int32
          in: query
          name: $top
          type: integer
        - description: to be used by nextLink implementation
          in: query
          name: $skipToken
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DedicatedCloudServiceListResponse"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements list of dedicatedCloudService objects within subscription method
      tags:
        - DedicatedCloudServices
      x-ms-examples:
        ListDedicatedCloudServices:
          parameters:
            api-version: 2019-04-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup-1/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/service-east
                    location: eastus
                    name: service-east
                    properties:
                      gatewaySubnet: 10.101.201.0/28
                      isAccountOnboarded: onBoarded
                      serviceURL: https://eastus-he.azure.cloudsimple.com
                    type: Microsoft.VMwareCloudSimple/dedicatedCloudServices
                  - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup-2/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/service-west
                    location: westus
                    name: service-west
                    properties:
                      gatewaySubnet: 10.0.0.0/28
                      isAccountOnboarded: onBoarded
                      serviceURL: https://westus-he.azure.cloudsimple.com
                    type: Microsoft.VMwareCloudSimple/dedicatedCloudServices
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/availabilities":
    get:
      description: Returns list of available resources in region
      operationId: SkusAvailability_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/regionId"
        - description: sku id, if no sku is passed availability for all skus will be returned
          in: query
          name: skuId
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/SkuAvailabilityListResponse"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements SkuAvailability List method
      tags:
        - AvailabilityUsages
      x-ms-examples:
        ListAvailabilities:
          parameters:
            api-version: 2019-04-01
            regionId: westus2
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - dedicatedAvailabilityZoneId: az1
                    dedicatedAvailabilityZoneName: Availability Zone 1
                    dedicatedPlacementGroupId: n1
                    dedicatedPlacementGroupName: Placement Group 1
                    limit: 0
                    resourceType: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
                    skuId: general
                    skuName: CS28-Node
                  - dedicatedAvailabilityZoneId: az1
                    dedicatedAvailabilityZoneName: Availability Zone 1
                    dedicatedPlacementGroupId: n1
                    dedicatedPlacementGroupName: Placement Group 1
                    limit: 0
                    resourceType: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
                    skuId: large
                    skuName: CS36-Node
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/operationResults/{operationId}":
    get:
      description: Return an async operation
      operationId: Operations_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/regionId"
        - $ref: "#/parameters/referer"
        - description: operation id
          in: path
          name: operationId
          required: true
          type: string
      responses:
        "200":
          description: Successful operation
          schema:
            $ref: "#/definitions/OperationResource"
        "202":
          description: Operation is still running
          headers:
            Location:
              type: string
            Retry-After:
              type: integer
        "204":
          description: No Content
        default:
          description: General Error
          headers:
            Content-Type:
              default: application/json
              type: string
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements get of async operation
      tags:
        - Operations
      x-ms-examples:
        GetFailedOperationResult:
          parameters:
            Referer: https://management.azure.com/
            api-version: 2019-04-01
            operationId: d030bb3f-7d53-11e9-8e09-9a86872085ff
            regionId: westus2
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                endTime: 2019-05-23T12:11:00.655Z
                error:
                  code: InternalError
                  message: Internal Service error
                id: /subscriptions/{subscription-id}/providers/microsoft.vmwarecloudsimple/locations/westus2/operationresults/d030bb3f-7d53-11e9-8e09-9a86872085ff
                name: d030bb3f-7d53-11e9-8e09-9a86872085ff
                startTime: 2019-05-23T12:10:54.012Z
                status: Failed
            "202": {}
            "204": {}
        GetOperationResult:
          parameters:
            Referer: https://management.azure.com/
            api-version: 2019-04-01
            operationId: f8e1c8f1-7d52-11e9-8e07-9a86872085ff
            regionId: westus2
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                endTime: 2019-05-23T12:05:55.660Z
                id: /subscriptions/{subscription-id}/providers/microsoft.vmwarecloudsimple/locations/westus2/operationresults/f8e1c8f1-7d52-11e9-8e07-9a86872085ff
                name: f8e1c8f1-7d52-11e9-8e07-9a86872085ff
                startTime: 2019-05-23T12:04:52.784Z
                status: Succeeded
            "202": {}
            "204": {}
  "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds":
    get:
      description: Returns list of private clouds in particular region
      operationId: PrivateClouds_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/regionId"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/PrivateCloudList"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements private cloud list GET method
      tags:
        - PrivateClouds
      x-ms-examples:
        ListPrivateCloudInLocation:
          parameters:
            api-version: 2019-04-01
            regionId: eastus
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/eastus/privateClouds/myPrivateCloud
                    location: eastus
                    name: myPrivateCloud
                    properties:
                      availabilityZoneId: az1
                      availabilityZoneName: Availability Zone 1
                      clustersNumber: 1
                      createdBy: john.doe@cloudsimple.com
                      createdOn: 2019-05-21T07:32:59.491Z
                      dnsServers:
                        - 100.100.100.8
                        - 100.100.100.9
                      expires: n/a
                      nsxType: Advanced
                      placementGroupId: n2
                      placementGroupName: Placement Group 2
                      privateCloudId: private-cloud-id
                      state: operational
                      totalCpuCores: 84
                      totalNodes: 3
                      totalRam: 768
                      totalStorage: 16.875
                      type: vSphere
                      vSphereVersion: 6.7u1
                      vcenterFqdn: vcsa-eastus.az.cloudsimple.io
                      vcenterRefid: 100.100.100.6
                    type: Microsoft.VMwareCloudSimple/privateClouds
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}":
    get:
      description: Returns private cloud by its name
      operationId: PrivateClouds_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/pcName"
        - $ref: "#/parameters/regionId"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/PrivateCloud"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements private cloud GET method
      tags:
        - PrivateClouds
      x-ms-examples:
        GetPrivateCloud:
          parameters:
            api-version: 2019-04-01
            pcName: myPrivateCloud
            regionId: westus2
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                location: westus2
                name: myPrivateCloud
                properties:
                  availabilityZoneId: az1
                  availabilityZoneName: Availability Zone 1
                  clustersNumber: 1
                  createdBy: john.doe@cloudsimple.com
                  createdOn: 2019-05-22T09:55:36.627Z
                  dnsServers:
                    - 100.0.0.8
                    - 100.0.0.9
                  expires: n/a
                  nsxType: Advanced
                  placementGroupId: n1
                  placementGroupName: Placement Group 1
                  privateCloudId: "{pc-id}"
                  resourcePools:
                    - id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/resourcePools/resgroup-26
                      location: westus2
                      name: Workload
                      privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                      properties:
                        fullName: myPrivateCloud/Datacenter/Cluster/Workload
                      type: Microsoft.VMwareCloudSimple/resourcePools
                  state: operational
                  totalCpuCores: 28
                  totalNodes: 1
                  totalRam: 256
                  totalStorage: 5.625
                  type: vSphere
                  vSphereVersion: 6.7u1
                  vcenterFqdn: vcsa-4-westus2.az.cloudsimple.io
                  vcenterRefid: 100.0.0.6
                  virtualMachineTemplates:
                    - id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualMachineTemplates/vm-34
                      location: westus2
                      name: centos-template
                      properties:
                        amountOfRam: 4096
                        controllers:
                          - id: "1000"
                            name: SCSI controller 0
                            subType: LSI_PARALEL
                            type: SCSI
                        disks:
                          - controllerId: "1000"
                            independenceMode: persistent
                            totalSize: 10485760
                            virtualDiskId: "2000"
                            virtualDiskName: Hard disk 1
                        guestOS: Other (32-bit)
                        guestOSType: other
                        nics:
                          - ipAddresses: null
                            macAddress: 00:50:56:a6:7e:93
                            network:
                              id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19
                            nicType: E1000
                            powerOnBoot: true
                            virtualNicId: "4000"
                            virtualNicName: Network adapter 1
                        numberOfCores: 2
                        path: Datacenter/Workload VMs
                        privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                        vSphereNetworks: null
                        vSphereTags: null
                        vmwaretools: "10309"
                      type: Microsoft.VMwareCloudSimple/virtualMachineTemplates
                  virtualNetworks:
                    - assignable: false
                      id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19
                      location: westus2
                      name: Datacenter/CS-Management
                      properties:
                        privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                      type: Microsoft.VMwareCloudSimple/virtualNetworks
                    - assignable: true
                      id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-20
                      location: westus2
                      name: Datacenter/CS-Rescue
                      properties:
                        privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                      type: Microsoft.VMwareCloudSimple/virtualNetworks
                    - assignable: false
                      id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-21
                      location: westus2
                      name: Datacenter/CS-VSAN
                      properties:
                        privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                      type: Microsoft.VMwareCloudSimple/virtualNetworks
                    - assignable: false
                      id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-22
                      location: westus2
                      name: Datacenter/CS-VMotion
                      properties:
                        privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                      type: Microsoft.VMwareCloudSimple/virtualNetworks
                    - assignable: true
                      id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-35
                      location: westus2
                      name: Datacenter/net-01
                      properties:
                        privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                      type: Microsoft.VMwareCloudSimple/virtualNetworks
                type: Microsoft.VMwareCloudSimple/privateClouds
  "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/customizationPolicies":
    get:
      description: Returns list of customization policies in region for private cloud
      operationId: customizationPolicies_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/regionId"
        - $ref: "#/parameters/pcName"
        - $ref: "#/parameters/api-version"
        - description: The filter to apply on the list operation. only type is allowed here as a filter e.g. $filter=type eq 'xxxx'
          in: query
          name: $filter
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/CustomizationPoliciesListResponse"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements get of customization policies list
      tags:
        - customizationPolicies
      x-ms-examples:
        ListCustomizationPolicies:
          parameters:
            api-version: 2019-04-01
            pcName: myPrivateCloud
            regionId: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/b85c4986-56ae-4ebd-b5c5-a1595ca3dab1/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/foobar/customizationpolicies/Linux1
                    location: westus2
                    name: Linux1
                    properties:
                      privateCloudId: /subscriptions/b85c4986-56ae-4ebd-b5c5-a1595ca3dab1/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/foobar
                      specification:
                        identity:
                          hostName:
                            type: USER_DEFINED
                          type: LINUX
                          userData:
                            isPasswordPredefined: false
                        nicSettings:
                          - adapter:
                              gateway: null
                              ip:
                                type: USER_DEFINED
                      type: LINUX
                      version: "1568102823"
                    type: Microsoft.VMwareCloudSimple/customizationPolicies
                  - id: /subscriptions/b85c4986-56ae-4ebd-b5c5-a1595ca3dab1/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/foobar/customizationpolicies/Linux2
                    location: westus2
                    name: Linux2
                    properties:
                      privateCloudId: /subscriptions/b85c4986-56ae-4ebd-b5c5-a1595ca3dab1/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/foobar
                      specification:
                        identity:
                          hostName:
                            type: VIRTUAL_MACHINE_NAME
                          type: LINUX
                          userData:
                            isPasswordPredefined: false
                        nicSettings:
                          - adapter:
                              gateway: null
                              ip:
                                type: DHCP_IP
                      type: LINUX
                      version: "1568102846"
                    type: Microsoft.VMwareCloudSimple/customizationPolicies
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/customizationPolicies/{customizationPolicyName}":
    get:
      description: Returns customization policy by its name
      operationId: customizationPolicies_Get
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/regionId"
        - $ref: "#/parameters/pcName"
        - description: customization policy name
          in: path
          name: customizationPolicyName
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/CustomizationPolicy"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements get of customization policy
      tags:
        - customizationPolicies
      x-ms-examples:
        GetCustomizationPolicy:
          parameters:
            api-version: 2019-04-01
            customizationPolicyName: Linux1
            pcName: myPrivateCloud
            regionId: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/b85c4986-56ae-4ebd-b5c5-a1595ca3dab1/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/foobar/customizationpolicies/Linux1
                location: westus2
                name: Linux1
                properties:
                  privateCloudId: /subscriptions/b85c4986-56ae-4ebd-b5c5-a1595ca3dab1/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/foobar
                  specification:
                    identity:
                      hostName:
                        type: USER_DEFINED
                      type: LINUX
                      userData:
                        isPasswordPredefined: false
                    nicSettings:
                      - adapter:
                          gateway: null
                          ip:
                            type: USER_DEFINED
                  type: LINUX
                  version: "1568102823"
                type: Microsoft.VMwareCloudSimple/customizationPolicies
  "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/resourcePools":
    get:
      description: Returns list of resource pools in region for private cloud
      operationId: ResourcePools_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/regionId"
        - $ref: "#/parameters/pcName"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/ResourcePoolsListResponse"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements get of resource pools list
      tags:
        - ResourcePools
      x-ms-examples:
        ListResourcePools:
          parameters:
            api-version: 2019-04-01
            pcName: myPrivateCloud
            regionId: westus2
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/resourcePools/resgroup-26
                    location: westus2
                    name: Workload
                    privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                    properties:
                      fullName: myPrivateCloud/Datacenter/Cluster/Workload
                    type: Microsoft.VMwareCloudSimple/resourcePools
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/resourcePools/{resourcePoolName}":
    get:
      description: Returns resource pool templates by its name
      operationId: ResourcePools_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/regionId"
        - $ref: "#/parameters/pcName"
        - description: resource pool id (vsphereId)
          in: path
          name: resourcePoolName
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/ResourcePool"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements get of resource pool
      tags:
        - ResourcePools
      x-ms-examples:
        GetResourcePool:
          parameters:
            api-version: 2019-04-01
            pcName: myPrivateCloud
            regionId: westus2
            resourcePoolName: resgroup-26
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/resourcePools/resgroup-26
                location: westus2
                name: Workload
                privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                properties:
                  fullName: myPrivateCloud/Datacenter/Cluster/Workload
                type: Microsoft.VMwareCloudSimple/resourcePools
  "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/virtualMachineTemplates":
    get:
      description: Returns list of virtual machine templates in region for private cloud
      operationId: VirtualMachineTemplates_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/pcName"
        - $ref: "#/parameters/regionId"
        - description: Resource pool used to derive vSphere cluster which contains VM templates
          in: query
          name: resourcePoolName
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/VirtualMachineTemplateListResponse"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements list of available VM templates
      tags:
        - VirtualMachineTemplates
      x-ms-examples:
        ListVirtualMachineTemplates:
          parameters:
            api-version: 2019-04-01
            pcName: myPrivateCloud
            regionId: westus2
            resourcePoolName: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/resourcePools/resgroup-26
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualMachineTemplates/vm-34
                    location: westus2
                    name: centos-template
                    properties:
                      amountOfRam: 4096
                      controllers:
                        - id: "1000"
                          name: SCSI controller 0
                          subType: LSI_PARALEL
                          type: SCSI
                      disks:
                        - controllerId: "1000"
                          independenceMode: persistent
                          totalSize: 10485760
                          virtualDiskId: "2000"
                          virtualDiskName: Hard disk 1
                      guestOS: Other (32-bit)
                      guestOSType: other
                      nics:
                        - ipAddresses: null
                          macAddress: 00:50:56:a6:7e:93
                          network:
                            id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19
                          nicType: E1000
                          powerOnBoot: true
                          virtualNicId: "4000"
                          virtualNicName: Network adapter 1
                      numberOfCores: 2
                      path: Datacenter/Workload VMs
                      privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                      vSphereNetworks: null
                      vSphereTags: null
                      vmwaretools: "10309"
                    type: Microsoft.VMwareCloudSimple/virtualMachineTemplates
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/virtualMachineTemplates/{virtualMachineTemplateName}":
    get:
      description: Returns virtual machine templates by its name
      operationId: VirtualMachineTemplates_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/regionId"
        - $ref: "#/parameters/pcName"
        - description: virtual machine template id (vsphereId)
          in: path
          name: virtualMachineTemplateName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/VirtualMachineTemplate"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements virtual machine template GET method
      tags:
        - VirtualMachineTemplates
      x-ms-examples:
        GetVirtualMachineTemplate:
          parameters:
            api-version: 2019-04-01
            pcName: myPrivateCloud
            regionId: westus2
            subscriptionId: "{subscription-id}"
            virtualMachineTemplateName: vm-34
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualMachineTemplates/vm-34
                location: westus2
                name: centos-template
                properties:
                  amountOfRam: 4096
                  controllers:
                    - id: "1000"
                      name: SCSI controller 0
                      subType: LSI_PARALEL
                      type: SCSI
                  disks:
                    - controllerId: "1000"
                      independenceMode: persistent
                      totalSize: 10485760
                      virtualDiskId: "2000"
                      virtualDiskName: Hard disk 1
                  guestOS: Other (32-bit)
                  guestOSType: other
                  nics:
                    - ipAddresses: null
                      macAddress: 00:50:56:a6:7e:93
                      network:
                        id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19
                      nicType: E1000
                      powerOnBoot: true
                      virtualNicId: "4000"
                      virtualNicName: Network adapter 1
                  numberOfCores: 2
                  path: Datacenter/Workload VMs
                  privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                  vSphereNetworks: null
                  vSphereTags: null
                  vmwaretools: "10309"
                type: Microsoft.VMwareCloudSimple/virtualMachineTemplates
  "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/virtualNetworks":
    get:
      description: Return list of virtual networks in location for private cloud
      operationId: VirtualNetworks_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/regionId"
        - $ref: "#/parameters/pcName"
        - $ref: "#/parameters/api-version"
        - description: Resource pool used to derive vSphere cluster which contains virtual networks
          in: query
          name: resourcePoolName
          required: true
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/VirtualNetworkListResponse"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements list available virtual networks within a subscription method
      tags:
        - VirtualNetworks
      x-ms-examples:
        ListVirtualNetworks:
          parameters:
            api-version: 2019-04-01
            pcName: myPrivateCloud
            regionId: westus2
            resourcePoolName: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/resourcePools/resgroup-26
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - assignable: false
                    id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19
                    location: westus2
                    name: Datacenter/CS-Management
                    properties:
                      privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                    type: Microsoft.VMwareCloudSimple/virtualNetworks
                  - assignable: true
                    id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-20
                    location: westus2
                    name: Datacenter/CS-Rescue
                    properties:
                      privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                    type: Microsoft.VMwareCloudSimple/virtualNetworks
                  - assignable: false
                    id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-21
                    location: westus2
                    name: Datacenter/CS-VSAN
                    properties:
                      privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                    type: Microsoft.VMwareCloudSimple/virtualNetworks
                  - assignable: false
                    id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-22
                    location: westus2
                    name: Datacenter/CS-VMotion
                    properties:
                      privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                    type: Microsoft.VMwareCloudSimple/virtualNetworks
                  - assignable: true
                    id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-35
                    location: westus2
                    name: Datacenter/net-01
                    properties:
                      privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                    type: Microsoft.VMwareCloudSimple/virtualNetworks
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/privateClouds/{pcName}/virtualNetworks/{virtualNetworkName}":
    get:
      description: Return virtual network by its name
      operationId: VirtualNetworks_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/regionId"
        - $ref: "#/parameters/pcName"
        - description: virtual network id (vsphereId)
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/VirtualNetwork"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements virtual network GET method
      tags:
        - VirtualNetworks
      x-ms-examples:
        GetVirtualNetwork:
          parameters:
            api-version: 2019-04-01
            pcName: myPrivateCloud
            regionId: westus2
            subscriptionId: "{subscription-id}"
            virtualNetworkName: dvportgroup-19
          responses:
            "200":
              body:
                assignable: false
                id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19
                location: westus2
                name: Datacenter/CS-Management
                properties:
                  privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                type: Microsoft.VMwareCloudSimple/virtualNetworks
  "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/locations/{regionId}/usages":
    get:
      description: Returns list of usage in region
      operationId: Usages_List
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/regionId"
        - description: The filter to apply on the list operation. only name.value is allowed here as a filter e.g. $filter=name.value eq 'xxxx'
          in: query
          name: $filter
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/UsageListResponse"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements Usages List method
      tags:
        - AvailabilityUsages
      x-ms-examples:
        ListUsages:
          parameters:
            api-version: 2019-04-01
            regionId: westus2
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - currentValue: 1
                    limit: 5
                    name:
                      localizedValue: CS28-Node
                      value: general
                    unit: Count
                  - currentValue: 0
                    limit: 5
                    name:
                      localizedValue: CS36-Node
                      value: large
                    unit: Count
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.VMwareCloudSimple/virtualMachines":
    get:
      description: Returns list virtual machine within subscription
      operationId: VirtualMachines_ListBySubscription
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/api-version"
        - description: The filter to apply on the list operation
          in: query
          name: $filter
          type: string
        - description: The maximum number of record sets to return
          format: int32
          in: query
          name: $top
          type: integer
        - description: to be used by nextLink implementation
          in: query
          name: $skipToken
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/VirtualMachineListResponse"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements list virtual machine within subscription method
      tags:
        - VirtualMachines
      x-ms-examples:
        ListVirtualMachines:
          parameters:
            api-version: 2019-04-01
            regionId: westus2
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup-1/providers/Microsoft.VMwareCloudSimple/virtualMachines/virtualMachine-1
                    location: westus2
                    name: virtualMachine-1
                    properties:
                      amountOfRam: 4096
                      controllers:
                        - id: "1000"
                          name: SCSI controller 0
                          subType: LSI_PARALEL
                          type: SCSI
                      disks:
                        - controllerId: "1000"
                          independenceMode: persistent
                          totalSize: 10485760
                          virtualDiskId: "2000"
                          virtualDiskName: Hard disk 1
                      guestOS: Other (32-bit)
                      guestOSType: other
                      nics:
                        - ipAddresses: null
                          macAddress: 00:50:56:a6:d0:e1
                          network:
                            id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19
                          nicType: E1000
                          powerOnBoot: true
                          virtualNicId: "4000"
                          virtualNicName: Network adapter 1
                      numberOfCores: 2
                      privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                      resourcePool:
                        id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/rp-test/resourcepools/resgroup-26
                      templateId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualMachineTemplates/vm-34
                      vSphereNetworks: null
                      vmId: vm-100
                      vmwaretools: "10309"
                    tags:
                      inUse: "true"
                    type: Microsoft.VMwareCloudSimple/virtualMachines
                  - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup-2/providers/Microsoft.VMwareCloudSimple/virtualMachines/virtualMachine-2
                    location: westus2
                    name: virtualMachine-2
                    properties:
                      amountOfRam: 4096
                      controllers:
                        - id: "1000"
                          name: SCSI controller 0
                          subType: LSI_PARALEL
                          type: SCSI
                      disks:
                        - controllerId: "1000"
                          independenceMode: persistent
                          totalSize: 10485760
                          virtualDiskId: "2000"
                          virtualDiskName: Hard disk 1
                      guestOS: Other (32-bit)
                      guestOSType: other
                      nics:
                        - ipAddresses: null
                          macAddress: 00:50:56:a6:33:12
                          network:
                            id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19
                          nicType: E1000
                          powerOnBoot: true
                          virtualNicId: "4000"
                          virtualNicName: Network adapter 1
                      numberOfCores: 2
                      privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                      resourcePool:
                        id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/rp-test/resourcepools/resgroup-26
                      templateId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualMachineTemplates/vm-34
                      vSphereNetworks: null
                      vmId: vm-101
                      vmwaretools: "10309"
                    tags:
                      inUse: "true"
                    type: Microsoft.VMwareCloudSimple/virtualMachines
                  - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup-1/providers/Microsoft.VMwareCloudSimple/virtualMachines/virtualMachine-3
                    location: westus2
                    name: virtualMachine-3
                    properties:
                      amountOfRam: 4096
                      controllers:
                        - id: "1000"
                          name: SCSI controller 0
                          subType: LSI_PARALEL
                          type: SCSI
                      disks:
                        - controllerId: "1000"
                          independenceMode: persistent
                          totalSize: 10485760
                          virtualDiskId: "2000"
                          virtualDiskName: Hard disk 1
                      guestOS: Other (32-bit)
                      guestOSType: other
                      nics:
                        - ipAddresses: null
                          macAddress: 00:50:56:a6:63:f3
                          network:
                            id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19
                          nicType: E1000
                          powerOnBoot: true
                          virtualNicId: "4000"
                          virtualNicName: Network adapter 1
                      numberOfCores: 2
                      privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                      resourcePool:
                        id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/rp-test/resourcepools/resgroup-26
                      templateId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualMachineTemplates/vm-34
                      vSphereNetworks: null
                      vmId: vm-102
                      vmwaretools: "10309"
                    tags:
                      inUse: "true"
                    type: Microsoft.VMwareCloudSimple/virtualMachines
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes":
    get:
      description: Returns list of dedicate cloud nodes within resource group
      operationId: DedicatedCloudNodes_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/api-version"
        - description: The filter to apply on the list operation
          in: query
          name: $filter
          type: string
        - description: The maximum number of record sets to return
          format: int32
          in: query
          name: $top
          type: integer
        - description: to be used by nextLink implementation
          in: query
          name: $skipToken
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DedicatedCloudNodeListResponse"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements list of dedicated cloud nodes within RG method
      tags:
        - DedicatedCloudNodes
      x-ms-examples:
        ListRGDedicatedCloudNodes:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/{subscription-id}/resourcegroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/node-east-1
                    location: eastus
                    name: node-east-1
                    properties:
                      availabilityZoneId: az1
                      availabilityZoneName: Availability Zone 1
                      cloudRackName: cloud_rack_1
                      created: 2019-05-21T07:32:12.134Z
                      nodesCount: 0
                      placementGroupId: n2
                      placementGroupName: Placement Group 2
                      privateCloudId: private_cloud_id
                      privateCloudName: private_cloud_name
                      purchaseId: 225fadec-3bbe-4e61-a119-ff102da67d0d
                      skuDescription:
                        id: general
                        name: CS28-Node
                      status: used
                      vmwareClusterName: Cluster
                    sku:
                      name: VMware_CloudSimple_CS28
                    type: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
                  - id: /subscriptions/{subscription-id}/resourcegroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/node-east-2
                    location: eastus
                    name: node-east-2
                    properties:
                      availabilityZoneId: az1
                      availabilityZoneName: Availability Zone 1
                      cloudRackName: cloud_rack_1
                      created: 2019-05-21T07:32:12.114Z
                      nodesCount: 0
                      placementGroupId: n2
                      placementGroupName: Placement Group 2
                      privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                      privateCloudName: private_cloud_name
                      purchaseId: 225fadec-3bbe-4e61-a119-ff102da67d0d
                      skuDescription:
                        id: general
                        name: CS28-Node
                      status: used
                      vmwareClusterName: Cluster
                    sku:
                      name: VMware_CloudSimple_CS28
                    type: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
                  - id: /subscriptions/{subscription-id}/resourcegroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/myNode
                    location: eastus
                    name: myNode
                    properties:
                      availabilityZoneId: az1
                      availabilityZoneName: Availability Zone 1
                      cloudRackName: cloud_rack_1
                      created: 2019-05-08T09:35:47.961Z
                      nodesCount: 0
                      placementGroupId: n2
                      placementGroupName: Placement Group 2
                      privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                      privateCloudName: myPrivateCloud
                      purchaseId: b3fcd958-f19c-4421-ab46-e4fa9cc8514e
                      skuDescription:
                        id: general
                        name: CS28-Node
                      status: used
                      vmwareClusterName: Cluster
                    sku:
                      name: VMware_CloudSimple_CS28
                    type: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/{dedicatedCloudNodeName}":
    delete:
      description: Delete dedicated cloud node
      operationId: DedicatedCloudNodes_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: dedicated cloud node name
          in: path
          name: dedicatedCloudNodeName
          pattern: ^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "204":
          description: no content. resource does not exist and the request is well formed
        default:
          description: General Error
          headers:
            Content-Type:
              default: application/json
              type: string
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements dedicated cloud node DELETE method
      tags:
        - DedicatedCloudNodes
      x-ms-examples:
        DeleteDedicatedCloudNode:
          parameters:
            api-version: 2019-04-01
            dedicatedCloudNodeName: myNode
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "204": {}
    get:
      description: Returns dedicated cloud node
      operationId: DedicatedCloudNodes_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: dedicated cloud node name
          in: path
          name: dedicatedCloudNodeName
          pattern: ^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DedicatedCloudNode"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements dedicated cloud node GET method
      tags:
        - DedicatedCloudNodes
      x-ms-examples:
        GetDedicatedCloudNode:
          parameters:
            api-version: 2019-04-01
            dedicatedCloudNodeName: myNode
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourcegroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/myNode
                location: eastus
                name: myNode
                properties:
                  availabilityZoneId: az1
                  availabilityZoneName: Availability Zone 1
                  cloudRackName: cloud_rack_1
                  created: 2019-05-21T07:32:12.114Z
                  nodesCount: 0
                  placementGroupId: n2
                  placementGroupName: Placement Group 2
                  privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                  privateCloudName: private_cloud_name
                  purchaseId: 225fadec-3bbe-4e61-a119-ff102da67d0d
                  skuDescription:
                    id: general
                    name: CS28-Node
                  status: used
                  vmwareClusterName: Cluster
                sku:
                  name: VMware_CloudSimple_CS28
                type: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
    patch:
      description: Patches dedicated node properties
      operationId: DedicatedCloudNodes_Update
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: dedicated cloud node name
          in: path
          name: dedicatedCloudNodeName
          pattern: ^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$
          required: true
          type: string
        - description: Patch Dedicated Cloud Node request
          in: body
          name: dedicatedCloudNodeRequest
          required: true
          schema:
            $ref: "#/definitions/PatchPayload"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: If resource is created or updated successfully, 200 should be returned
          schema:
            $ref: "#/definitions/DedicatedCloudNode"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements dedicated cloud node PATCH method
      tags:
        - DedicatedCloudNodes
      x-ms-examples:
        PatchDedicatedCloudNode:
          parameters:
            Referer: https://management.azure.com/
            api-version: 2019-04-01
            dedicatedCloudNodeName: myNode
            dedicatedCloudNodeRequest:
              tags:
                myTag: tagValue
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/myNode
                location: westus
                name: myNode
                properties:
                  availabilityZoneId: az1
                  created: 2019-05-21T13:43:26.441Z
                  nodesCount: 0
                  placementGroupId: n1
                  purchaseId: 56acbd46-3d36-4bbf-9b08-57c30fdf6932
                  skuDescription:
                    id: general
                    name: CS28-Node
                  status: unused
                tags:
                  myTag: tagValue
                type: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
    put:
      description: Returns dedicated cloud node by its name
      operationId: DedicatedCloudNodes_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/referer"
        - description: dedicated cloud node name
          in: path
          name: dedicatedCloudNodeName
          pattern: ^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$
          required: true
          type: string
        - description: Create Dedicated Cloud Node request
          in: body
          name: dedicatedCloudNodeRequest
          required: true
          schema:
            $ref: "#/definitions/DedicatedCloudNode"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: If resource is created or updated successfully, 200 should be returned
          headers:
            Azure-AsyncOperation:
              type: string
            Location:
              type: string
            Retry-After:
              type: integer
          schema:
            $ref: "#/definitions/DedicatedCloudNode"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements dedicated cloud node PUT method
      tags:
        - DedicatedCloudNodes
      x-ms-examples:
        CreateDedicatedCloudNode:
          parameters:
            Referer: https://management.azure.com/
            api-version: 2019-04-01
            dedicatedCloudNodeName: myNode
            dedicatedCloudNodeRequest:
              location: westus
              properties:
                availabilityZoneId: az1
                nodesCount: 1
                placementGroupId: n1
                purchaseId: 56acbd46-3d36-4bbf-9b08-57c30fdf6932
                skuDescription:
                  id: general
                  name: CS28-Node
              sku:
                name: VMware_CloudSimple_CS28
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudNodes/myNode
                location: westus
                name: myNode
                properties:
                  availabilityZoneId: az1
                  created: 2019-05-21T13:43:26.441Z
                  nodesCount: 0
                  placementGroupId: n1
                  provisioningState: Accepted
                  purchaseId: 56acbd46-3d36-4bbf-9b08-57c30fdf6932
                  skuDescription:
                    id: general
                    name: CS28-Node
                  status: unused
                sku:
                  name: VMware_CloudSimple_CS28
                type: Microsoft.VMwareCloudSimple/dedicatedCloudNodes
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices":
    get:
      description: Returns list of dedicated cloud services within a resource group
      operationId: DedicatedCloudServices_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/api-version"
        - description: The filter to apply on the list operation
          in: query
          name: $filter
          type: string
        - description: The maximum number of record sets to return
          format: int32
          in: query
          name: $top
          type: integer
        - description: to be used by nextLink implementation
          in: query
          name: $skipToken
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DedicatedCloudServiceListResponse"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements list of dedicatedCloudService objects within RG method
      tags:
        - DedicatedCloudServices
      x-ms-examples:
        ListRGDedicatedCloudServices:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/service-east
                    location: eastus
                    name: service-east
                    properties:
                      gatewaySubnet: 10.101.201.0/28
                      isAccountOnboarded: onBoarded
                      serviceURL: https://eastus-he.azure.cloudsimple.com
                    type: Microsoft.VMwareCloudSimple/dedicatedCloudServices
                  - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/service-west
                    location: westus
                    name: service-west
                    properties:
                      gatewaySubnet: 10.0.0.0/28
                      isAccountOnboarded: onBoarded
                      serviceURL: https://westus-he.azure.cloudsimple.com
                    type: Microsoft.VMwareCloudSimple/dedicatedCloudServices
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/{dedicatedCloudServiceName}":
    delete:
      description: Delete dedicate cloud service
      operationId: DedicatedCloudServices_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: dedicated cloud service name
          in: path
          name: dedicatedCloudServiceName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "204":
          description: no content. resource does not exist and the request is well formed
        default:
          description: General Error
          headers:
            Content-Type:
              default: application/json
              type: string
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements dedicatedCloudService DELETE method
      tags:
        - DedicatedCloudServices
      x-ms-examples:
        DeleteDedicatedCloudService:
          parameters:
            api-version: 2019-04-01
            dedicatedCloudServiceName: myService
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Returns Dedicate Cloud Service
      operationId: DedicatedCloudServices_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: dedicated cloud Service name
          in: path
          name: dedicatedCloudServiceName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/DedicatedCloudService"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements dedicatedCloudService GET method
      tags:
        - DedicatedCloudServices
      x-ms-examples:
        GetDedicatedCloudService:
          parameters:
            api-version: 2019-04-01
            dedicatedCloudServiceName: myService
            dedicatedCloudServiceRequest:
              location: westus
              name: myService
              properties:
                gatewaySubnet: 10.0.0.0
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/myService
                location: westus
                name: myService
                properties:
                  gatewaySubnet: 10.0.10.0/28
                  isAccountOnboarded: notOnBoarded
                  nodes: 1
                  serviceURL: https://westus-he.azure.cloudsimple.com
                type: Microsoft.VMwareCloudSimple/dedicatedCloudServices
    patch:
      description: Patch dedicated cloud service's properties
      operationId: DedicatedCloudServices_Update
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: dedicated cloud service name
          in: path
          name: dedicatedCloudServiceName
          required: true
          type: string
        - description: Patch Dedicated Cloud Service request
          in: body
          name: dedicatedCloudServiceRequest
          required: true
          schema:
            $ref: "#/definitions/PatchPayload"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: If resource is created or updated successfully, 200 should be returned
          schema:
            $ref: "#/definitions/DedicatedCloudService"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements dedicatedCloudService PATCH method
      tags:
        - DedicatedCloudServices
      x-ms-examples:
        PatchDedicatedService:
          parameters:
            api-version: 2019-04-01
            dedicatedCloudServiceName: myService
            dedicatedCloudServiceRequest:
              tags:
                myTag: tagValue
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/myService
                location: westus2
                name: myService
                properties:
                  gatewaySubnet: 10.0.0.0/28
                  isAccountOnboarded: onBoarded
                  serviceURL: https://westus-he.azure.cloudsimple.com
                tags:
                  myTag: tagValue
                type: Microsoft.VMwareCloudSimple/dedicatedCloudServices
    put:
      description: Create dedicate cloud service
      operationId: DedicatedCloudServices_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: dedicated cloud Service name
          in: path
          name: dedicatedCloudServiceName
          pattern: ^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$
          required: true
          type: string
        - description: Create Dedicated Cloud Service request
          in: body
          name: dedicatedCloudServiceRequest
          required: true
          schema:
            $ref: "#/definitions/DedicatedCloudService"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: If resource is created or updated successfully, 200 should be returned
          schema:
            $ref: "#/definitions/DedicatedCloudService"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements dedicated cloud service PUT method
      tags:
        - DedicatedCloudServices
      x-ms-examples:
        CreateDedicatedCloudService:
          parameters:
            Referer: https://management.azure.com/
            api-version: 2019-04-01
            dedicatedCloudServiceName: myService
            dedicatedCloudServiceRequest:
              location: westus
              properties:
                gatewaySubnet: 10.0.0.0
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/dedicatedCloudServices/myService
                location: westus
                name: myService
                properties:
                  gatewaySubnet: 10.0.10.0/28
                  isAccountOnboarded: notOnBoarded
                type: Microsoft.VMwareCloudSimple/dedicatedCloudServices
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/virtualMachines":
    get:
      description: Returns list of virtual machine within resource group
      operationId: VirtualMachines_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/api-version"
        - description: The filter to apply on the list operation
          in: query
          name: $filter
          type: string
        - description: The maximum number of record sets to return
          format: int32
          in: query
          name: $top
          type: integer
        - description: to be used by nextLink implementation
          in: query
          name: $skipToken
          type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/VirtualMachineListResponse"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements list virtual machine within RG method
      tags:
        - VirtualMachines
      x-ms-examples:
        ListRGVirtualMachines:
          parameters:
            api-version: 2019-04-01
            regionId: westus2
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/virtualMachines/virtualMachine-2
                    location: westus2
                    name: virtualMachine-2
                    properties:
                      amountOfRam: 4096
                      controllers:
                        - id: "1000"
                          name: SCSI controller 0
                          subType: LSI_PARALEL
                          type: SCSI
                      disks:
                        - controllerId: "1000"
                          independenceMode: persistent
                          totalSize: 10485760
                          virtualDiskId: "2000"
                          virtualDiskName: Hard disk 1
                      guestOS: Other (32-bit)
                      guestOSType: other
                      nics:
                        - ipAddresses: null
                          macAddress: 00:50:56:a6:33:12
                          network:
                            id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19
                          nicType: E1000
                          powerOnBoot: true
                          virtualNicId: "4000"
                          virtualNicName: Network adapter 1
                      numberOfCores: 2
                      privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                      resourcePool:
                        id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/rp-test/resourcepools/resgroup-26
                      templateId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualMachineTemplates/vm-34
                      vSphereNetworks: null
                      vmId: vm-101
                      vmwaretools: "10309"
                    tags:
                      inUse: "true"
                    type: Microsoft.VMwareCloudSimple/virtualMachines
                  - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/virtualMachines/virtualMachine-3
                    location: westus2
                    name: virtualMachine-3
                    properties:
                      amountOfRam: 4096
                      controllers:
                        - id: "1000"
                          name: SCSI controller 0
                          subType: LSI_PARALEL
                          type: SCSI
                      disks:
                        - controllerId: "1000"
                          independenceMode: persistent
                          totalSize: 10485760
                          virtualDiskId: "2000"
                          virtualDiskName: Hard disk 1
                      guestOS: Other (32-bit)
                      guestOSType: other
                      nics:
                        - ipAddresses: null
                          macAddress: 00:50:56:a6:63:f3
                          network:
                            id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19
                          nicType: E1000
                          powerOnBoot: true
                          virtualNicId: "4000"
                          virtualNicName: Network adapter 1
                      numberOfCores: 2
                      privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                      resourcePool:
                        id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/rp-test/resourcepools/resgroup-26
                      templateId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualMachineTemplates/vm-34
                      vSphereNetworks: null
                      vmId: vm-102
                      vmwaretools: "10309"
                    tags:
                      inUse: "true"
                    type: Microsoft.VMwareCloudSimple/virtualMachines
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.VMwareCloudSimple/virtualMachines/{virtualMachineName}":
    delete:
      description: Delete virtual machine
      operationId: VirtualMachines_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/referer"
        - description: virtual machine name
          in: path
          name: virtualMachineName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "202":
          description: accepted. the operation will complete asynchronously
          headers:
            Azure-AsyncOperation:
              type: string
            Location:
              type: string
            Retry-After:
              type: integer
        "204":
          description: no content. resource does not exist and the request is well formed
        default:
          description: General Error
          headers:
            Content-Type:
              default: application/json
              type: string
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements virtual machine DELETE method
      tags:
        - VirtualMachines
      x-ms-examples:
        DeleteVirtualMachine:
          parameters:
            Referer: https://management.azure.com/
            api-version: 2019-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
            virtualMachineName: myVirtualMachine
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Get virtual machine
      operationId: VirtualMachines_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: virtual machine name
          in: path
          name: virtualMachineName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: successful operation
          schema:
            $ref: "#/definitions/VirtualMachine"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements virtual machine GET method
      tags:
        - VirtualMachines
      x-ms-examples:
        GetVirtualMachine:
          parameters:
            api-version: 2019-04-01
            regionId: westus2
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
            virtualMachineName: myVirtualMachine
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourcegroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/virtualMachines/myVirtualMachine
                location: westus2
                name: myVirtualMachine
                properties:
                  amountOfRam: 4096
                  controllers:
                    - id: "1000"
                      name: SCSI controller 0
                      subType: LSI_PARALEL
                      type: SCSI
                  disks:
                    - controllerId: "1000"
                      independenceMode: persistent
                      totalSize: 10485760
                      virtualDiskId: "2000"
                      virtualDiskName: Hard disk 1
                  folder: Datacenter/Workload VMs
                  guestOS: Other (32-bit)
                  guestOSType: other
                  nics:
                    - ipAddresses: null
                      macAddress: 00:50:56:a6:d0:e1
                      network:
                        assignable: false
                        id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualnetworks/dvportgroup-19
                        location: westus2
                        name: Datacenter/CS-Management
                        properties:
                          privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                        type: Microsoft.VMwareCloudSimple/virtualNetworks
                      nicType: E1000
                      powerOnBoot: true
                      virtualNicId: "4000"
                      virtualNicName: Network adapter 1
                  numberOfCores: 2
                  privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                  provisioningState: Succeeded
                  resourcePool:
                    id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/resourcepools/resgroup-26
                    location: westus2
                    name: Workload
                    privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                    properties:
                      fullName: Datacenter/Cluster/Workload
                    type: Microsoft.VMwareCloudSimple/resourcePools
                  status: running
                  templateId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualmachinetemplates/vm-34
                  vSphereNetworks: null
                  vmId: vm-100
                  vmwaretools: "10309"
                tags:
                  inUse: "true"
                type: Microsoft.VMwareCloudSimple/virtualMachines
    patch:
      description: Patch virtual machine properties
      operationId: VirtualMachines_Update
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - description: virtual machine name
          in: path
          name: virtualMachineName
          required: true
          type: string
        - description: Patch virtual machine request
          in: body
          name: virtualMachineRequest
          required: true
          schema:
            $ref: "#/definitions/PatchPayload"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: If resource is created or updated successfully, 200 should be returned
          schema:
            $ref: "#/definitions/VirtualMachine"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements virtual machine PATCH method
      tags:
        - VirtualMachines
      x-ms-examples:
        PatchVirtualMachine:
          parameters:
            api-version: 2019-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
            virtualMachineName: myVirtualMachine
            virtualMachineRequest:
              tags:
                myTag: tagValue
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourcegroups/myResourceGroup/providers/Microsoft.VMwareCloudSimple/virtualMachines/myVirtualMachine
                location: westus2
                name: myVirtualMachine
                properties:
                  amountOfRam: 4096
                  controllers:
                    - id: "1000"
                      name: SCSI controller 0
                      subType: LSI_PARALEL
                      type: SCSI
                  disks:
                    - controllerId: "1000"
                      independenceMode: persistent
                      totalSize: 10485760
                      virtualDiskId: "2000"
                      virtualDiskName: Hard disk 1
                  guestOS: Other (32-bit)
                  guestOSType: other
                  nics:
                    - ipAddresses: null
                      network:
                        id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19
                      nicType: E1000
                      powerOnBoot: true
                      virtualNicId: "4000"
                      virtualNicName: Network adapter 1
                  numberOfCores: 2
                  privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                  provisioningState: Succeeded
                  resourcePool:
                    id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/resourcePools/resgroup-26
                  status: running
                  templateId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualMachineTemplates/vm-34
                  vSphereNetworks: null
                  vmId: vm-106
                  vmwaretools: "10309"
                tags:
                  myTag: tagValue
                type: Microsoft.VMwareCloudSimple/virtualMachines
      x-ms-long-running-operation: true
    put:
      description: Create Or Update Virtual Machine
      operationId: VirtualMachines_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/referer"
        - description: virtual machine name
          in: path
          name: virtualMachineName
          pattern: ^[a-zA-Z0-9]([-_.a-zA-Z0-9]*[a-zA-Z0-9])?$
          required: true
          type: string
        - description: Create or Update Virtual Machine request
          in: body
          name: virtualMachineRequest
          required: true
          schema:
            $ref: "#/definitions/VirtualMachine"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: If resource is created or updated successfully, 200 should be returned
          headers:
            Azure-AsyncOperation:
              type: string
          schema:
            $ref: "#/definitions/VirtualMachine"
        "201":
          description: If resource is created or updated successfully, 201 should be returned. provisionedState would of VirtualMachineProperties object would reflect the state of the resource
          headers:
            Azure-AsyncOperation:
              type: string
          schema:
            $ref: "#/definitions/VirtualMachine"
        default:
          description: General Error
          schema:
            $ref: "#/definitions/CSRPError"
      summary: Implements virtual machine PUT method
      tags:
        - VirtualMachines
      x-ms-examples:
        CreateVirtualMachine:
          parameters:
            Referer: https://management.azure.com/
            api-version: 2019-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
            virtualMachineName: myVirtualMachine
            virtualMachineRequest:
              location: westus2
              properties:
                amountOfRam: 4096
                disks:
                  - controllerId: "1000"
                    independenceMode: persistent
                    totalSize: 10485760
                    virtualDiskId: "2000"
                nics:
                  - network:
                      id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualNetworks/dvportgroup-19
                    nicType: E1000
                    powerOnBoot: true
                    virtualNicId: "4000"
                numberOfCores: 2
                privateCloudId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud
                resourcePool:
                  id: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/resourcePools/resgroup-26
                templateId: /subscriptions/{subscription-id}/providers/Microsoft.VMwareCloudSimple/locations/westus2/privateClouds/myPrivateCloud/virtualMachineTemplates/vm-34
          responses:
[...]
