openapi: 3.0.0
servers:
  - url: https://www.googleapis.com/adexchangebuyer/v1.2
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Accesses your bidding-account information, submits creatives for validation, finds available direct deals, and retrieves performance reports.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Ad Exchange Buyer API
  version: v1.2
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: google
      url: https://www.googleapis.com/discovery/v1/apis/adexchangebuyer/v1.2/rest
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: adexchangebuyer
externalDocs:
  url: https://developers.google.com/ad-exchange/buyer-rest
tags:
  - name: accounts
  - name: creatives
paths:
  /accounts:
    get:
      description: Retrieves the authenticated user's list of accounts.
      operationId: adexchangebuyer.accounts.list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountsList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{id}":
    get:
      description: Gets one account by ID.
      operationId: adexchangebuyer.accounts.get
      parameters:
        - description: The account id
          in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Updates an existing account. This method supports patch semantics.
      operationId: adexchangebuyer.accounts.patch
      parameters:
        - description: The account id
          in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Account"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - accounts
    put:
      description: Updates an existing account.
      operationId: adexchangebuyer.accounts.update
      parameters:
        - description: The account id
          in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Account"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - accounts
  /creatives:
    get:
      description: Retrieves a list of the authenticated user's active creatives. A creative will be available 30-40 minutes after submission.
      operationId: adexchangebuyer.creatives.list
      parameters:
        - description: Maximum number of entries returned on one result page. If not set, the default is 100. Optional.
          in: query
          name: maxResults
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response. Optional.
          in: query
          name: pageToken
          schema:
            type: string
        - description: When specified, only creatives having the given status are returned.
          in: query
          name: statusFilter
          schema:
            enum:
              - approved
              - disapproved
              - not_checked
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreativesList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - creatives
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Submit a new creative.
      operationId: adexchangebuyer.creatives.insert
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Creative"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Creative"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - creatives
  "/creatives/{accountId}/{buyerCreativeId}":
    get:
      description: Gets the status for a single creative. A creative will be available 30-40 minutes after submission.
      operationId: adexchangebuyer.creatives.get
      parameters:
        - description: The id for the account that will serve this creative.
          in: path
          name: accountId
          required: true
          schema:
            type: integer
        - description: The buyer-specific id for this creative.
          in: path
          name: buyerCreativeId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Creative"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - creatives
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
components:
  parameters:
    alt:
      description: Data format for the response.
      in: query
      name: alt
      schema:
        enum:
          - json
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    userIp:
      description: Deprecated. Please use quotaUser instead.
      in: query
      name: userIp
      schema:
        type: string
  schemas:
    Account:
      description: Configuration data for an Ad Exchange buyer account.
      properties:
        bidderLocation:
          description: Your bidder locations that have distinct URLs.
          items:
            properties:
              maximumQps:
                description: The maximum queries per second the Ad Exchange will send.
                format: int32
                type: integer
              region:
                description: |-
                  The geographical region the Ad Exchange should send requests from. Only used by some quota systems, but always setting the value is recommended. Allowed values:  
                  - ASIA 
                  - EUROPE 
                  - US_EAST 
                  - US_WEST
                type: string
              url:
                description: The URL to which the Ad Exchange will send bid requests.
                type: string
            type: object
          type: array
        cookieMatchingNid:
          description: The nid parameter value used in cookie match requests. Please contact your technical account manager if you need to change this.
          type: string
        cookieMatchingUrl:
          description: The base URL used in cookie match requests.
          type: string
        id:
          description: Account id.
          format: int32
          type: integer
        kind:
          default: adexchangebuyer#account
          description: Resource type.
          type: string
        maximumActiveCreatives:
          description: The maximum number of active creatives that an account can have, where a creative is active if it was inserted or bid with in the last 30 days. Please contact your technical account manager if you need to change this.
          format: int32
          type: integer
        maximumTotalQps:
          description: The sum of all bidderLocation.maximumQps values cannot exceed this. Please contact your technical account manager if you need to change this.
          format: int32
          type: integer
        numberActiveCreatives:
          description: The number of creatives that this account inserted or bid with in the last 30 days.
          format: int32
          type: integer
      type: object
    AccountsList:
      description: An account feed lists Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single buyer account.
      properties:
        items:
          description: A list of accounts.
          items:
            $ref: "#/components/schemas/Account"
          type: array
        kind:
          default: adexchangebuyer#accountsList
          description: Resource type.
          type: string
      type: object
    Creative:
      description: A creative and its classification data.
      properties:
        HTMLSnippet:
          description: The HTML snippet that displays the ad when inserted in the web page. If set, videoURL should not be set.
          type: string
        accountId:
          description: Account id.
          format: int32
          type: integer
        advertiserId:
          description: Detected advertiser id, if any. Read-only. This field should not be set in requests.
          items:
            format: int64
            type: string
          type: array
        advertiserName:
          description: The name of the company being advertised in the creative.
          type: string
        agencyId:
          description: The agency id for this creative.
          format: int64
          type: string
        apiUploadTimestamp:
          description: The last upload timestamp of this creative if it was uploaded via API. Read-only. The value of this field is generated, and will be ignored for uploads. (formatted RFC 3339 timestamp).
          format: date-time
          type: string
        attribute:
          description: All attributes for the ads that may be shown from this snippet.
          items:
            format: int32
            type: integer
          type: array
        buyerCreativeId:
          description: A buyer-specific id identifying the creative in this ad.
          type: string
        clickThroughUrl:
          description: The set of destination urls for the snippet.
          items:
            type: string
          type: array
        corrections:
          description: Shows any corrections that were applied to this creative. Read-only. This field should not be set in requests.
          items:
            properties:
              details:
                description: Additional details about the correction.
                items:
                  type: string
                type: array
              reason:
                description: The type of correction that was applied to the creative.
                type: string
            type: object
          type: array
        disapprovalReasons:
          description: The reasons for disapproval, if any. Note that not all disapproval reasons may be categorized, so it is possible for the creative to have a status of DISAPPROVED with an empty list for disapproval_reasons. In this case, please reach out to your TAM to help debug the issue. Read-only. This field should not be set in requests.
          items:
            properties:
              details:
                description: Additional details about the reason for disapproval.
                items:
                  type: string
                type: array
              reason:
                description: The categorized reason for disapproval.
                type: string
            type: object
          type: array
        filteringReasons:
          description: The filtering reasons for the creative. Read-only. This field should not be set in requests.
          properties:
            date:
              description: The date in ISO 8601 format for the data. The data is collected from 00:00:00 to 23:59:59 in PST.
              type: string
            reasons:
              description: The filtering reasons.
              items:
                properties:
                  filteringCount:
                    description: The number of times the creative was filtered for the status. The count is aggregated across all publishers on the exchange.
                    format: int64
                    type: string
                  filteringStatus:
                    description: The filtering status code. Please refer to the creative-status-codes.txt file for different statuses.
                    format: int32
                    type: integer
                type: object
              type: array
          type: object
        height:
          description: Ad height.
          format: int32
          type: integer
        impressionTrackingUrl:
          description: The set of urls to be called to record an impression.
          items:
            type: string
          type: array
        kind:
          default: adexchangebuyer#creative
          description: Resource type.
          type: string
        productCategories:
          description: Detected product categories, if any. Read-only. This field should not be set in requests.
          items:
            format: int32
            type: integer
          type: array
        restrictedCategories:
          description: All restricted categories for the ads that may be shown from this snippet.
          items:
            format: int32
            type: integer
          type: array
        sensitiveCategories:
          description: Detected sensitive categories, if any. Read-only. This field should not be set in requests.
          items:
            format: int32
            type: integer
          type: array
        status:
          description: Creative serving status. Read-only. This field should not be set in requests.
          type: string
        vendorType:
          description: All vendor types for the ads that may be shown from this snippet.
          items:
            format: int32
            type: integer
          type: array
        version:
          description: The version for this creative. Read-only. This field should not be set in requests.
          format: int32
          type: integer
        videoURL:
          description: The url to fetch a video ad. If set, HTMLSnippet should not be set.
          type: string
        width:
          description: Ad width.
          format: int32
          type: integer
      type: object
    CreativesList:
      description: The creatives feed lists the active creatives for the Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single creative.
      properties:
        items:
          description: A list of creatives.
          items:
            $ref: "#/components/schemas/Creative"
          type: array
        kind:
          default: adexchangebuyer#creativesList
          description: Resource type.
          type: string
        nextPageToken:
          description: Continuation token used to page through creatives. To retrieve the next page of results, set the next request's "pageToken" value to this.
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/adexchange.buyer: Manage your Ad Exchange buyer account configuration
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/adexchange.buyer: Manage your Ad Exchange buyer account configuration
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
