swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: Edge gateway pool operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/EdgeGatewayPool.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-EdgeGatewayPool
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  EdgeGatewayPoolParameter:
    description: Name of the edge gateway pool.
    in: path
    name: edgeGatewayPool
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGatewayPools":
    get:
      description: Returns a list of all edge gateway pool objects at a location.
      operationId: EdgeGatewayPools_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: OData filter parameter.
          in: query
          name: $filter
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/EdgeGatewayPoolList"
        "404":
          description: NOT FOUND
      tags:
        - EdgeGatewayPools
      x-ms-examples:
        Returns a list of all edge gateway pool objects at a location.:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/edgeGatewayPools/default
                    location: local
                    name: default
                    properties:
                      edgeGateways:
                        - local/AzS-Gwy01
                      gatewayCapacityKiloBitsPerSecond: 100000000
                      gatewayType: S2sIPsec
                      numberOfGateways: 1
                      publicIpAddress: 00000000-5555-0000-0001-000000000000
                      redundantGatewayCount: 0
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/edgeGatewayPools
            "404": {}
      x-ms-odata: "#/definitions/EdgeGatewayPool"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/edgeGatewayPools/{edgeGatewayPool}":
    get:
      description: Returns the requested edge gateway pool object.
      operationId: EdgeGatewayPools_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/EdgeGatewayPoolParameter"
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/EdgeGatewayPool"
        "404":
          description: NOT FOUND
      tags:
        - EdgeGatewayPools
      x-ms-examples:
        Returns the requested edge gateway pool object.:
          parameters:
            api-version: 2016-05-01
            edgeGatewayPool: default
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/23a94a7f-64b3-42d8-807c-733284339015/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/edgeGatewayPools/default
                location: local
                name: default
                properties:
                  edgeGateways:
                    - local/AzS-Gwy01
                  gatewayCapacityKiloBitsPerSecond: 100000000
                  gatewayType: S2sIPsec
                  numberOfGateways: 1
                  publicIpAddress: 00000000-5555-0000-0001-000000000000
                  redundantGatewayCount: 0
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/edgeGatewayPools
            "404": {}
definitions:
  EdgeGatewayPool:
    allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: This object represents an edge gateway pool, which contains a list of gateways.
    properties:
      properties:
        $ref: "#/definitions/EdgeGatewayPoolModel"
        description: The properties of an edge gateway pool.
        x-ms-client-flatten: true
    type: object
  EdgeGatewayPoolList:
    description: A pageable list of edge gateway pools objects.
    properties:
      nextLink:
        description: The URI to the next page.
        type: string
      value:
        description: List of edge gateway pool objects.
        items:
          $ref: "#/definitions/EdgeGatewayPool"
        type: array
    type: object
  EdgeGatewayPoolModel:
    description: An object that contains the properties of an edge gateway pool.
    properties:
      edgeGateways:
        description: List of the edge gateways in the pool.
        items:
          type: string
        type: array
      gatewayCapacityKiloBitsPerSecond:
        description: Gateway capacity in kilobits per second.
        format: int32
        type: integer
      gatewayType:
        description: The gateway type, for example, S2sIPsec, S2sGre, and so on.
        type: string
      greVipSubnet:
        description: The GRE VIP subnet.
        type: string
      numberOfGateways:
        description: The number of gateways in the pool.
        format: int32
        type: integer
      publicIpAddress:
        description: The public IP address.
        type: string
      redundantGatewayCount:
        description: The number of redundant gateways.
        format: int64
        type: integer
    type: object
