openapi: 3.0.0
servers:
  - url: https://www.googleapis.com/androidpublisher/v1/applications
info:
  contact:
    name: Google
    url: https://google.com
  description: Accesses Android application developers' Google Play accounts.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Play Developer
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_android_market_images_web_play_logo_x2.png
  x-origin:
    - converter:
        url: https://github.com/lucybot/api-spec-converter
        version: 2.7.31
      format: google
      url: https://www.googleapis.com/discovery/v1/apis/androidpublisher/v1/rest
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: androidpublisher
externalDocs:
  url: https://developers.google.com/android-publisher
tags:
  - name: purchases
paths:
  "/{packageName}/subscriptions/{subscriptionId}/purchases/{token}":
    get:
      description: Checks whether a user's subscription purchase is valid and returns its expiry time.
      operationId: androidpublisher.purchases.get
      parameters:
        - description: The package name of the application for which this subscription was purchased (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The purchased subscription ID (for example, 'monthly001').
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SubscriptionPurchase"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/{packageName}/subscriptions/{subscriptionId}/purchases/{token}/cancel":
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Cancels a user's subscription purchase. The subscription remains valid until its expiration time.
      operationId: androidpublisher.purchases.cancel
      parameters:
        - description: The package name of the application for which this subscription was purchased (for example, 'com.some.thing').
          in: path
          name: packageName
          required: true
          schema:
            type: string
        - description: The purchased subscription ID (for example, 'monthly001').
          in: path
          name: subscriptionId
          required: true
          schema:
            type: string
        - description: The token provided to the user's device when the subscription was purchased.
          in: path
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/androidpublisher
          Oauth2c:
            - https://www.googleapis.com/auth/androidpublisher
      tags:
        - purchases
components:
  parameters:
    alt:
      description: Data format for the response.
      in: query
      name: alt
      schema:
        default: json
        enum:
          - json
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        default: true
        type: boolean
    quotaUser:
      description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    userIp:
      description: Deprecated. Please use quotaUser instead.
      in: query
      name: userIp
      schema:
        type: string
  schemas:
    SubscriptionPurchase:
      description: A SubscriptionPurchase resource indicates the status of a user's subscription purchase.
      properties:
        autoRenewing:
          description: Whether the subscription will automatically be renewed when it reaches its current expiry time.
          type: boolean
        initiationTimestampMsec:
          description: Time at which the subscription was granted, in milliseconds since the Epoch.
          format: int64
          type: string
        kind:
          default: androidpublisher#subscriptionPurchase
          description: This kind represents a subscriptionPurchase object in the androidpublisher service.
          type: string
        validUntilTimestampMsec:
          description: Time at which the subscription will expire, in milliseconds since the Epoch.
          format: int64
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/androidpublisher: View and manage your Google Play Developer account
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 accessCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/androidpublisher: View and manage your Google Play Developer account
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
