{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Main (production) server",
      "url": "https://api.easypdfserver.com"
    }
  ],
  "info": {
    "description": "API for converting HTML to PDF.",
    "title": "EasyPDFServer",
    "version": "1",
    "x-apisguru-categories": [
      "text"
    ],
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://www.easypdfserver.com/openapi.yaml",
        "version": "3.0"
      }
    ],
    "x-providerName": "easypdfserver.com",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg"
    }
  },
  "paths": {
    "/make-pdf": {
      "post": {
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "html": {
                    "type": "string"
                  },
                  "key": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  }
                },
                "required": [
                  "key"
                ],
                "type": "object"
              }
            }
          },
          "description": "Pass the API key from easypdfserver.com and either HTML or URL to generate your PDF.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "Your PDF file"
          }
        },
        "summary": "Generate a PDF from HTML or URL."
      }
    }
  }
}