{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "title": "Azure Stack Azure Bridge Client",
    "version": "2017-06-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/AzureStack.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "azurestack-AzureStack",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "ApiVersionParameter": {
      "default": "2017-06-01",
      "description": "Client API Version.",
      "in": "query",
      "name": "api-version",
      "required": true,
      "type": "string"
    },
    "RegistrationNameParameter": {
      "description": "Name of the Azure Stack registration.",
      "in": "path",
      "name": "registrationName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "description": "Name of the resource group.",
      "in": "path",
      "name": "resourceGroup",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "in": "path",
      "name": "subscriptionId",
      "required": true,
      "type": "string"
    }
  },
  "paths": {
    "/providers/Microsoft.AzureStack/operations": {
      "get": {
        "description": "Returns the list of supported REST operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          }
        },
        "tags": [
          "AzureStack"
        ],
        "x-ms-examples": {
          "Returns the list of supported REST operations.": {
            "parameters": {
              "api-version": "2017-06-01"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "display": {
                        "description": "Gets the properties of an Azure Stack registration",
                        "operation": "Get Azure Stack Registration",
                        "provider": "Azure Stack Resource Provider",
                        "resource": "Azure Stack Registration"
                      },
                      "name": "Microsoft.AzureStack/registrations/read",
                      "origin": "user,system"
                    },
                    {
                      "display": {
                        "description": "Creates or updates an Azure Stack registration",
                        "operation": "Create Azure Stack Registration",
                        "provider": "Azure Stack Resource Provider",
                        "resource": "Azure Stack Registration"
                      },
                      "name": "Microsoft.AzureStack/registrations/write",
                      "origin": "user,system"
                    },
                    {
                      "display": {
                        "description": "Deletes an Azure Stack registration",
                        "operation": "Delete Azure Stack Registration",
                        "provider": "Azure Stack Resource Provider",
                        "resource": "Azure Stack Registration"
                      },
                      "name": "Microsoft.AzureStack/registrations/delete",
                      "origin": "user,system"
                    },
                    {
                      "display": {
                        "description": "Gets the latest Azure Stack activation key",
                        "operation": "Get Azure Stack Activation Key",
                        "provider": "Azure Stack Resource Provider",
                        "resource": "Azure Stack Registration"
                      },
                      "name": "Microsoft.AzureStack/registrations/getActivationKey/action",
                      "origin": "user,system"
                    },
                    {
                      "display": {
                        "description": "Registers Subscription with Microsoft.AzureStack resource provider",
                        "operation": "Register Subscription for Azure Stack",
                        "provider": "Azure Stack Resource Provider"
                      },
                      "name": "Microsoft.AzureStack/register/action",
                      "origin": "user,system"
                    },
                    {
                      "display": {
                        "description": "Gets the properties of an Azure Stack Marketplace product",
                        "operation": "Get Azure Stack Marketplace Product",
                        "provider": "Azure Stack Resource Provider",
                        "resource": "Azure Stack Marketplace Product"
                      },
                      "name": "Microsoft.AzureStack/registrations/products/read",
                      "origin": "user,system"
                    },
                    {
                      "display": {
                        "description": "Retrieves extended details for an Azure Stack Marketplace product",
                        "operation": "Get Azure Stack Marketplace Product Details",
                        "provider": "Azure Stack Resource Provider",
                        "resource": "Azure Stack Marketplace Product"
                      },
                      "name": "Microsoft.AzureStack/registrations/products/listDetails/action",
                      "origin": "user,system"
                    },
                    {
                      "display": {
                        "description": "Gets the properties of an Azure Stack Customer Subscription",
                        "operation": "Get Azure Stack Customer Subscription",
                        "provider": "Azure Stack Resource Provider",
                        "resource": "Azure Stack Customer Subscription"
                      },
                      "name": "Microsoft.AzureStack/registrations/customerSubscriptions/read",
                      "origin": "user,system"
                    },
                    {
                      "display": {
                        "description": "Creates or updates an Azure Stack Customer Subscription",
                        "operation": "Create Azure Stack Customer Subscription",
                        "provider": "Azure Stack Resource Provider",
                        "resource": "Azure Stack Customer Subscription"
                      },
                      "name": "Microsoft.AzureStack/registrations/customerSubscriptions/write",
                      "origin": "user,system"
                    },
                    {
                      "display": {
                        "description": "Deletes an Azure Stack Customer Subscription",
                        "operation": "Delete Azure Stack Customer Subscription",
                        "provider": "Azure Stack Resource Provider",
                        "resource": "Azure Stack Customer Subscription"
                      },
                      "name": "Microsoft.AzureStack/registrations/customerSubscriptions/delete",
                      "origin": "user,system"
                    },
                    {
                      "display": {
                        "description": "The localized friendly description for the operation, as it should be shown to the user.",
                        "operation": "Read Resource Provider Operations",
                        "provider": "Name of the Resource Provider.",
                        "resource": "Resource Type Display Name."
                      },
                      "name": "Microsoft.AzureStack/Operations/read",
                      "origin": "user,system"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Display": {
      "description": "Contains the localized display information for this particular operation or action.",
      "properties": {
        "description": {
          "description": "The localized, friendly description for the operation. The description will be displayed to the user. It should be thorough and concise for used in both tooltips and detailed views.",
          "type": "string"
        },
        "operation": {
          "description": "The localized, friendly name for the operation. Use the name as it will displayed to the user.",
          "type": "string"
        },
        "provider": {
          "description": "The localized, friendly version of the resource provider name.",
          "type": "string"
        },
        "resource": {
          "description": "The localized, friendly version of the resource type related to this action or operation; the resource type should match the public documentation for the resource provider.",
          "type": "string"
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "readOnly": true,
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "description": "The target of the particular error.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDetails",
          "description": "The details of the error."
        }
      },
      "type": "object"
    },
    "Operation": {
      "description": "Describes the supported REST operation.",
      "properties": {
        "display": {
          "$ref": "#/definitions/Display",
          "description": "Contains the localized display information for this particular operation or action."
        },
        "name": {
          "description": "The name of the operation being performed on this particular object.",
          "type": "string"
        },
        "origin": {
          "description": "The intended executor of the operation.",
          "type": "string"
        }
      }
    },
    "OperationList": {
      "description": "List of Operations",
      "properties": {
        "nextLink": {
          "description": "URI to the next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "Array of operations",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "type": "array"
        }
      }
    },
    "ProvisioningState": {
      "description": "The provisioning state of the resource.",
      "enum": [
        "Creating",
        "Failed",
        "Succeeded",
        "Canceled"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ProvisioningState"
      }
    },
    "Resource": {
      "description": "Base resource object.",
      "properties": {
        "etag": {
          "description": "The entity tag used for optimistic concurrency when modifying the resource.",
          "type": "string"
        },
        "id": {
          "description": "ID of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Name of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Type of Resource.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "x-ms-azure-resource": true
    },
    "TrackedResource": {
      "description": "Base resource object.",
      "properties": {
        "etag": {
          "description": "The entity tag used for optimistic concurrency when modifying the resource.",
          "type": "string"
        },
        "id": {
          "description": "ID of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "location": {
          "description": "Location of the resource.",
          "enum": [
            "global"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "Location"
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "name": {
          "description": "Name of the resource.",
          "readOnly": true,
          "type": "string"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Custom tags for the resource.",
          "type": "object"
        },
        "type": {
          "description": "Type of Resource.",
          "readOnly": true,
          "type": "string"
        }
      },
      "required": [
        "location"
      ],
      "type": "object",
      "x-ms-azure-resource": true
    }
  }
}