{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.interzoid.com"
    }
  ],
  "info": {
    "contact": {
      "email": "support@interzoid.com",
      "name": "API Support",
      "url": "https://www.interzoid.com",
      "x-twitter": "interzoid"
    },
    "description": "This API retrieves the current time for a city or geographic location around the globe.",
    "license": {
      "name": "Interzoid license",
      "url": "https://www.interzoid.com/license"
    },
    "termsOfService": "https://www.interzoid.com/terms",
    "title": "Interzoid Get Global Time API",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "developer_tools"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_interzoid_profile_image.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://oas.interzoid.com/api/getglobaltime.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "interzoid.com",
    "x-serviceName": "getglobaltime"
  },
  "externalDocs": {
    "description": "API home page and documentation",
    "url": "https://www.interzoid.com/services/getglobaltime"
  },
  "paths": {
    "/getglobaltime": {
      "get": {
        "description": "Gets the current time for a global locale (city, state, region, or country such as Chicago, London, Paris, Seoul, Spain, Buenos Aires, Hawaii, Moscow, Tokyo, Hanoi, etc.)",
        "operationId": "getglobaltime",
        "parameters": [
          {
            "description": "Your Interzoid license API key. Register at www.interzoid.com/register",
            "in": "query",
            "name": "license",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Geographic locale to get the current time for",
            "in": "query",
            "name": "locale",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "ClockTime": {
                      "type": "string"
                    },
                    "Code": {
                      "type": "string"
                    },
                    "Credits": {
                      "type": "string"
                    },
                    "CurrentDate": {
                      "type": "string"
                    },
                    "CurrentTime": {
                      "type": "string"
                    },
                    "Day": {
                      "type": "string"
                    },
                    "Hour": {
                      "type": "string"
                    },
                    "Locale": {
                      "type": "string"
                    },
                    "Minute": {
                      "type": "string"
                    },
                    "Month": {
                      "type": "string"
                    },
                    "MonthNumber": {
                      "type": "string"
                    },
                    "Second": {
                      "type": "string"
                    },
                    "TimeStamp": {
                      "type": "string"
                    },
                    "Weekday": {
                      "type": "string"
                    },
                    "Year": {
                      "type": "string"
                    },
                    "Zone": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Current global time in many forms and related information"
          },
          "400": {
            "description": "bad request - insufficient parameters"
          },
          "402": {
            "description": "credits exhausted"
          },
          "403": {
            "description": "invalid license API key"
          },
          "404": {
            "description": "locale not found"
          },
          "405": {
            "description": "method not allowed"
          },
          "500": {
            "description": "internal server error"
          }
        },
        "summary": "Gets the current time for a global locale",
        "tags": [
          "Current Global Time"
        ]
      }
    }
  }
}