swagger: "2.0"
schemes:
  - https
host: a.blazemeter.com
basePath: /api/v4
info:
  contact:
    email: support@blazemeter.com
    x-twitter: BlazeMeter
  description: Live API Documentation
  license:
    name: LGPL-2.1
    url: https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html
  title: Blazemeter API Explorer
  version: "4"
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_BlazeMeter_profile_image.png
  x-origin:
    - converter:
        url: https://github.com/lucybot/api-spec-converter
        version: 2.6.0
      format: swagger
      url: https://a.blazemeter.com/api/v4/explorer/resources.json
      version: "1.2"
  x-providerName: blazemeter.com
consumes:
  - application/json
  - multipart/form-data
  - text/csv
  - text/plain
produces:
  - application/json
  - text/html
  - text/javascript
  - text/csv
  - text/plain
securityDefinitions:
  apiKey:
    in: query
    name: api_key
    type: apiKey
tags:
  - name: user
paths:
  /user/active/sessions:
    get:
      operationId: active_sessions
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: "#/definitions/blazemeter\\Model\\ApiResponse"
      security:
        - apiKey: []
      summary: '&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>'
      tags:
        - user
  /user/active/terminate:
    post:
      operationId: panic_terminate
      parameters:
        - description: <section class="body-param"><strong>session_ids</strong> (required)<br/></section>
          in: body
          name: blazemeter\Routing\v4\UserModel5
          required: false
          schema:
            $ref: "#/definitions/blazemeter\\Routing\\v4\\UserModel5"
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: "#/definitions/blazemeter\\Model\\ApiResponse"
      security:
        - apiKey: []
      summary: '&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>'
      tags:
        - user
  /user/collections:
    get:
      operationId: retrieveCollections
      parameters:
        - in: query
          name: skip
          required: false
          type: string
        - in: query
          name: limit
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: "#/definitions/blazemeter\\Model\\ApiResponse"
        "500":
          description: RestException
      security:
        - apiKey: []
      summary: List organization multi-tests&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
        - user
  /user/invites:
    get:
      operationId: retrieveInvites
      responses:
        "200":
          description: No response was specified
          schema:
            items:
              type: string
            type: array
      security:
        - apiKey: []
      summary: '&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>'
      tags:
        - user
  /user/locations:
    get:
      operationId: retrieveLocations
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: "#/definitions/blazemeter\\Model\\ApiResponse"
        "500":
          description: RestException
      security:
        - apiKey: []
      summary: Get user available locations&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
        - user
  /user/masters:
    get:
      operationId: retrieveMasters
      parameters:
        - format: int64
          in: query
          name: skip
          required: false
          type: integer
        - default: 1000
          format: int64
          in: query
          name: limit
          required: false
          type: integer
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: "#/definitions/blazemeter\\Model\\ApiResponse"
      security:
        - apiKey: []
      summary: List user private masters&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
        - user
  /user/password:
    patch:
      parameters:
        - description: <section class="body-param"><strong>currentPassword</strong> (required)<br/><strong>newPassword</strong> (required)<br/></section>
          in: body
          name: blazemeter\Routing\v4\UserModel1
          required: true
          schema:
            $ref: "#/definitions/blazemeter\\Routing\\v4\\UserModel1"
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: "#/definitions/blazemeter\\Model\\ApiResponse"
        "500":
          description: RestException
      security:
        - apiKey: []
      summary: Update user name&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
        - user
    post:
      parameters:
        - description: <section class="body-param"><strong>currentPassword</strong> (required)<br/><strong>newPassword</strong> (required)<br/></section>
          in: body
          name: blazemeter\Routing\v4\UserModel3
          required: true
          schema:
            $ref: "#/definitions/blazemeter\\Routing\\v4\\UserModel3"
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: "#/definitions/blazemeter\\Model\\ApiResponse"
        "500":
          description: RestException
      security:
        - apiKey: []
      summary: Update user name&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
        - user
    put:
      parameters:
        - description: <section class="body-param"><strong>currentPassword</strong> (required)<br/><strong>newPassword</strong> (required)<br/></section>
          in: body
          name: blazemeter\Routing\v4\UserModel2
          required: true
          schema:
            $ref: "#/definitions/blazemeter\\Routing\\v4\\UserModel2"
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: "#/definitions/blazemeter\\Model\\ApiResponse"
        "500":
          description: RestException
      security:
        - apiKey: []
      summary: Update user name&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
        - user
  /user/projects:
    get:
      operationId: retrieveProjects
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: "#/definitions/blazemeter\\Model\\ApiResponse"
      security:
        - apiKey: []
      summary: Get user projects&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
        - user
  /user/register:
    get:
      operationId: register_retrieve
      parameters:
        - description: Email address
          in: query
          name: email
          required: true
          type: string
        - description: Password
          in: query
          name: password
          required: true
          type: string
        - description: First name
          in: query
          name: firstName
          required: false
          type: string
        - description: Last name
          in: query
          name: lastName
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: "#/definitions/blazemeter\\Model\\ApiResponse"
        "500":
          description: RestException
      security:
        - apiKey: []
      summary: Registration&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
        - user
    post:
      operationId: register
      parameters:
        - description: <section class="body-param"><strong>firstName</strong> (required)<br/><strong>lastName</strong> (required)<br/><strong>email</strong> (required)<br/><strong>password</strong> (required)<br/></section>
          in: body
          name: blazemeter\Routing\v4\UserModel4
          required: true
          schema:
            $ref: "#/definitions/blazemeter\\Routing\\v4\\UserModel4"
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: "#/definitions/blazemeter\\Model\\ApiResponse"
        "500":
          description: RestException
      security:
        - apiKey: []
      summary: Registration&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
        - user
  /user/tests:
    get:
      operationId: retrieveTests
      parameters:
        - in: query
          name: skip
          required: false
          type: string
        - in: query
          name: limit
          required: false
          type: string
      responses:
        "200":
          description: No response was specified
          schema:
            $ref: "#/definitions/blazemeter\\Model\\ApiResponse"
        "500":
          description: RestException
      security:
        - apiKey: []
      summary: List user private tests&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>
      tags:
        - user
  /user/top:
    get:
      operationId: top
      responses:
        "200":
          description: No response was specified
          schema:
            items:
              type: string
            type: array
      security:
        - apiKey: []
      summary: '&nbsp; <i class="fa fa-lg fa-unlock-alt"></i>'
      tags:
        - user
definitions:
  ApiResponse:
    description: ApiResponse Model
    properties:
      api_version:
        type: string
      error:
        type: string
      result:
        type: string
    required:
      - api_version
      - error
      - result
  UserModel1:
    description: UserModel1 Model
    properties:
      currentPassword:
        type: string
      newPassword:
        type: string
    required:
      - currentPassword
      - newPassword
  UserModel2:
    description: UserModel2 Model
    properties:
      currentPassword:
        type: string
      newPassword:
        type: string
    required:
      - currentPassword
      - newPassword
  UserModel3:
    description: UserModel3 Model
    properties:
      currentPassword:
        type: string
      newPassword:
        type: string
    required:
      - currentPassword
      - newPassword
  UserModel4:
    description: UserModel4 Model
    properties:
      email:
        description: Email address
        type: string
      firstName:
        description: First name
        type: string
      lastName:
        description: Last name
        type: string
      password:
        description: Password
        type: string
    required:
      - firstName
      - lastName
      - email
      - password
  UserModel5:
    description: UserModel5 Model
    properties:
      session_ids:
        items:
          type: string
        type: array
  blazemeter\Model\ApiResponse: {}
  blazemeter\Routing\v4\UserModel1: {}
  blazemeter\Routing\v4\UserModel2: {}
  blazemeter\Routing\v4\UserModel3: {}
  blazemeter\Routing\v4\UserModel4: {}
  blazemeter\Routing\v4\UserModel5: {}
