swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: ResourceHealthMetadata API Client
  version: 2016-03-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2016-03-01/ResourceHealthMetadata.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-ResourceHealthMetadata
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API Version
    in: query
    name: api-version
    required: true
    type: string
  resourceGroupNameParameter:
    description: Name of the resource group to which the resource belongs.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+[^\.]$
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/resourceHealthMetadata":
    get:
      description: List all ResourceHealthMetadata for all sites in the subscription.
      operationId: ResourceHealthMetadata_List
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResourceHealthMetadataCollection"
        default:
          description: Default error response
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: List all ResourceHealthMetadata for all sites in the subscription.
      tags:
        - ResourceHealthMetadata
      x-ms-examples:
        List ResourceHealthMetadata for a subscription:
          parameters:
            api-version: 2016-03-01
            subscriptionId: 4adb32ad-8327-4cbb-b775-b84b4465bb38
          responses:
            "200":
              body:
                nextLink: ""
                value:
                  - id: /subscriptions/4adb32ad-8327-4cbb-b775-b84b4465bb38/resourceGroups/Default-Web-NorthCentralUS/providers/Microsoft.Web/sites/newsiteinnewASE-NCUS/resourceHealthMetadata/default
                    name: default
                    properties:
                      category: Shared
                      signalAvailability: true
                    type: Microsoft.Web/sites/resourceHealthMetadata
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/resourceHealthMetadata":
    get:
      description: List all ResourceHealthMetadata for all sites in the resource group in the subscription.
      operationId: ResourceHealthMetadata_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResourceHealthMetadataCollection"
        default:
          description: Default error response
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: List all ResourceHealthMetadata for all sites in the resource group in the subscription.
      tags:
        - ResourceHealthMetadata
      x-ms-examples:
        List ResourceHealthMetadata for a resource group:
          parameters:
            api-version: 2016-03-01
            resourceGroupName: Default-Web-NorthCentralUS
            subscriptionId: 4adb32ad-8327-4cbb-b775-b84b4465bb38
          responses:
            "200":
              body:
                nextLink: ""
                value:
                  - id: /subscriptions/4adb32ad-8327-4cbb-b775-b84b4465bb38/resourceGroups/Default-Web-NorthCentralUS/providers/Microsoft.Web/sites/newsiteinnewASE-NCUS/resourceHealthMetadata/default
                    name: default
                    properties:
                      category: Shared
                      signalAvailability: true
                    type: Microsoft.Web/sites/resourceHealthMetadata
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/resourceHealthMetadata":
    get:
      description: Gets the category of ResourceHealthMetadata to use for the given site as a collection
      operationId: ResourceHealthMetadata_ListBySite
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of web app.
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResourceHealthMetadataCollection"
        default:
          description: Default error response
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Gets the category of ResourceHealthMetadata to use for the given site as a collection
      tags:
        - ResourceHealthMetadata
      x-ms-examples:
        List ResourceHealthMetadata for a site:
          parameters:
            api-version: 2016-03-01
            name: newsiteinnewASE-NCUS
            resourceGroupName: Default-Web-NorthCentralUS
            slot: Production
            subscriptionId: 4adb32ad-8327-4cbb-b775-b84b4465bb38
          responses:
            "200":
              body:
                nextLink: ""
                value:
                  - id: /subscriptions/4adb32ad-8327-4cbb-b775-b84b4465bb38/resourceGroups/Default-Web-NorthCentralUS/providers/Microsoft.Web/sites/newsiteinnewASE-NCUS/resourceHealthMetadata/default
                    name: default
                    properties:
                      category: Shared
                      signalAvailability: true
                    type: Microsoft.Web/sites/resourceHealthMetadata
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/resourceHealthMetadata/default":
    get:
      description: Gets the category of ResourceHealthMetadata to use for the given site
      operationId: ResourceHealthMetadata_GetBySite
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of web app
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResourceHealthMetadata"
        default:
          description: Default error response
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Gets the category of ResourceHealthMetadata to use for the given site
      tags:
        - ResourceHealthMetadata
      x-ms-examples:
        Get ResourceHealthMetadata:
          parameters:
            api-version: 2016-03-01
            metadataName: default
            name: newsiteinnewASE-NCUS
            resourceGroupName: Default-Web-NorthCentralUS
            slot: Production
            subscriptionId: 4adb32ad-8327-4cbb-b775-b84b4465bb38
          responses:
            "200":
              body:
                id: /subscriptions/4adb32ad-8327-4cbb-b775-b84b4465bb38/resourceGroups/Default-Web-NorthCentralUS/providers/Microsoft.Web/sites/newsiteinnewASE-NCUS/resourceHealthMetadata/default
                name: default
                properties:
                  category: Shared
                  signalAvailability: true
                type: Microsoft.Web/sites/resourceHealthMetadata
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/slots/{slot}/resourceHealthMetadata":
    get:
      description: Gets the category of ResourceHealthMetadata to use for the given site as a collection
      operationId: ResourceHealthMetadata_ListBySiteSlot
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of web app.
          in: path
          name: name
          required: true
          type: string
        - description: Name of web app slot. If not specified then will default to production slot.
          in: path
          name: slot
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResourceHealthMetadataCollection"
        default:
          description: Default error response
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Gets the category of ResourceHealthMetadata to use for the given site as a collection
      tags:
        - ResourceHealthMetadata
      x-ms-examples:
        List ResourceHealthMetadata for a site:
          parameters:
            api-version: 2016-03-01
            name: newsiteinnewASE-NCUS
            resourceGroupName: Default-Web-NorthCentralUS
            slot: Production
            subscriptionId: 4adb32ad-8327-4cbb-b775-b84b4465bb38
          responses:
            "200":
              body:
                nextLink: ""
                value:
                  - id: /subscriptions/4adb32ad-8327-4cbb-b775-b84b4465bb38/resourceGroups/Default-Web-NorthCentralUS/providers/Microsoft.Web/sites/newsiteinnewASE-NCUS/resourceHealthMetadata/default
                    name: default
                    properties:
                      category: Shared
                      signalAvailability: true
                    type: Microsoft.Web/sites/resourceHealthMetadata
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{name}/slots/{slot}/resourceHealthMetadata/default":
    get:
      description: Gets the category of ResourceHealthMetadata to use for the given site
      operationId: ResourceHealthMetadata_GetBySiteSlot
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Name of web app
          in: path
          name: name
          required: true
          type: string
        - description: Name of web app slot. If not specified then will default to production slot.
          in: path
          name: slot
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResourceHealthMetadata"
        default:
          description: Default error response
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Gets the category of ResourceHealthMetadata to use for the given site
      tags:
        - ResourceHealthMetadata
      x-ms-examples:
        Get ResourceHealthMetadata:
          parameters:
            api-version: 2016-03-01
            metadataName: default
            name: newsiteinnewASE-NCUS
            resourceGroupName: Default-Web-NorthCentralUS
            slot: Production
            subscriptionId: 4adb32ad-8327-4cbb-b775-b84b4465bb38
          responses:
            "200":
              body:
                id: /subscriptions/4adb32ad-8327-4cbb-b775-b84b4465bb38/resourceGroups/Default-Web-NorthCentralUS/providers/Microsoft.Web/sites/newsiteinnewASE-NCUS/resourceHealthMetadata/default
                name: default
                properties:
                  category: Shared
                  signalAvailability: true
                type: Microsoft.Web/sites/resourceHealthMetadata
definitions:
  ResourceHealthMetadata:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Used for getting ResourceHealthCheck settings.
    properties:
      properties:
        description: ResourceHealthMetadata resource specific properties
        properties:
          category:
            description: The category that the resource matches in the RHC Policy File
            type: string
          signalAvailability:
            description: Is there a health signal for the resource
            type: boolean
        x-ms-client-flatten: true
    type: object
  ResourceHealthMetadataCollection:
    description: Collection of resource health metadata.
    properties:
      nextLink:
        description: Link to next page of resources.
        readOnly: true
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: "#/definitions/ResourceHealthMetadata"
        type: array
    required:
      - value
    type: object
