swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: " API Client"
  version: 2019-08-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/ResourceProvider.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-ResourceProvider
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API Version
    in: query
    name: api-version
    required: true
    type: string
  resourceGroupNameParameter:
    description: Name of the resource group to which the resource belongs.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+[^\.]$
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Web/publishingUsers/web:
    get:
      description: Description for Gets publishing user
      operationId: GetPublishingUser
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            allOf:
              - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
                properties:
                  id:
                    description: Resource Id.
                    readOnly: true
                    type: string
                  kind:
                    description: Kind of resource.
                    type: string
                  name:
                    description: Resource Name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: User credentials used for publishing activity.
            properties:
              properties:
                description: User resource specific properties
                properties:
                  publishingPassword:
                    description: Password used for publishing.
                    format: password
                    type: string
                  publishingPasswordHash:
                    description: Password hash used for publishing.
                    format: password
                    type: string
                  publishingPasswordHashSalt:
                    description: Password hash salt used for publishing.
                    format: password
                    type: string
                  publishingUserName:
                    description: Username used for publishing.
                    type: string
                  scmUri:
                    description: Url of SCM site.
                    type: string
                required:
                  - publishingUserName
                x-ms-client-flatten: true
            type: object
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Gets publishing user
    put:
      description: Description for Updates publishing user
      operationId: UpdatePublishingUser
      parameters:
        - description: Details of publishing user
          in: body
          name: userDetails
          required: true
          schema:
            allOf:
              - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
                properties:
                  id:
                    description: Resource Id.
                    readOnly: true
                    type: string
                  kind:
                    description: Kind of resource.
                    type: string
                  name:
                    description: Resource Name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: User credentials used for publishing activity.
            properties:
              properties:
                description: User resource specific properties
                properties:
                  publishingPassword:
                    description: Password used for publishing.
                    format: password
                    type: string
                  publishingPasswordHash:
                    description: Password hash used for publishing.
                    format: password
                    type: string
                  publishingPasswordHashSalt:
                    description: Password hash salt used for publishing.
                    format: password
                    type: string
                  publishingUserName:
                    description: Username used for publishing.
                    type: string
                  scmUri:
                    description: Url of SCM site.
                    type: string
                required:
                  - publishingUserName
                x-ms-client-flatten: true
            type: object
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            allOf:
              - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
                properties:
                  id:
                    description: Resource Id.
                    readOnly: true
                    type: string
                  kind:
                    description: Kind of resource.
                    type: string
                  name:
                    description: Resource Name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: User credentials used for publishing activity.
            properties:
              properties:
                description: User resource specific properties
                properties:
                  publishingPassword:
                    description: Password used for publishing.
                    format: password
                    type: string
                  publishingPasswordHash:
                    description: Password hash used for publishing.
                    format: password
                    type: string
                  publishingPasswordHashSalt:
                    description: Password hash salt used for publishing.
                    format: password
                    type: string
                  publishingUserName:
                    description: Username used for publishing.
                    type: string
                  scmUri:
                    description: Url of SCM site.
                    type: string
                required:
                  - publishingUserName
                x-ms-client-flatten: true
            type: object
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Updates publishing user
  /providers/Microsoft.Web/sourcecontrols:
    get:
      description: Description for Gets the source controls available for Azure websites.
      operationId: ListSourceControls
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SourceControlCollection"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Gets the source controls available for Azure websites.
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.Web/sourcecontrols/{sourceControlType}":
    get:
      description: Description for Gets source control token
      operationId: GetSourceControl
      parameters:
        - description: Type of source control
          in: path
          name: sourceControlType
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SourceControl"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Gets source control token
    put:
      description: Description for Updates source control token
      operationId: UpdateSourceControl
      parameters:
        - description: Type of source control
          in: path
          name: sourceControlType
          required: true
          type: string
        - description: Source control token information
          in: body
          name: requestMessage
          required: true
          schema:
            $ref: "#/definitions/SourceControl"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SourceControl"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Updates source control token
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/billingMeters":
    get:
      description: Description for Gets a list of meters for a given location.
      operationId: ListBillingMeters
      parameters:
        - description: Azure Location of billable resource
          in: query
          name: billingLocation
          type: string
        - description: App Service OS type meters used for
          in: query
          name: osType
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/BillingMeterCollection"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Gets a list of meters for a given location.
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/checknameavailability":
    post:
      description: Description for Check if a resource name is available.
      operationId: CheckNameAvailability
      parameters:
        - description: Name availability request.
          in: body
          name: request
          required: true
          schema:
            $ref: "#/definitions/ResourceNameAvailabilityRequest"
          x-ms-client-flatten: true
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResourceNameAvailability"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Check if a resource name is available.
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/deploymentLocations":
    get:
      description: Description for Gets list of available geo regions plus ministamps
      operationId: GetSubscriptionDeploymentLocations
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DeploymentLocations"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Gets list of available geo regions plus ministamps
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/geoRegions":
    get:
      description: Description for Get a list of available geographical regions.
      operationId: ListGeoRegions
      parameters:
        - description: Name of SKU used to filter the regions.
          enum:
            - Free
            - Shared
            - Basic
            - Standard
            - Premium
            - Dynamic
            - Isolated
            - PremiumV2
            - ElasticPremium
            - ElasticIsolated
          in: query
          name: sku
          type: string
          x-ms-enum:
            modelAsString: true
            name: SkuName
        - description: Specify <code>true</code> if you want to filter to only regions that support Linux workers.
          in: query
          name: linuxWorkersEnabled
          type: boolean
        - description: Specify <code>true</code> if you want to filter to only regions that support Xenon workers.
          in: query
          name: xenonWorkersEnabled
          type: boolean
        - description: Specify <code>true</code> if you want to filter to only regions that support Linux Consumption Workers.
          in: query
          name: linuxDynamicWorkersEnabled
          type: boolean
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/GeoRegionCollection"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Get a list of available geographical regions.
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/listSitesAssignedToHostName":
    post:
      description: Description for List all apps that are assigned to a hostname.
      operationId: ListSiteIdentifiersAssignedToHostName
      parameters:
        - description: Hostname information.
          in: body
          name: nameIdentifier
          required: true
          schema:
            description: Identifies an object.
            properties:
              name:
                description: Name of the object.
                type: string
            type: object
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            description: Collection of identifiers.
            properties:
              nextLink:
                description: Link to next page of resources.
                readOnly: true
                type: string
              value:
                description: Collection of resources.
                items:
                  allOf:
                    - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
                      properties:
                        id:
                          description: Resource Id.
                          readOnly: true
                          type: string
                        kind:
                          description: Kind of resource.
                          type: string
                        name:
                          description: Resource Name.
                          readOnly: true
                          type: string
                        type:
                          description: Resource type.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: A domain specific resource identifier.
                  properties:
                    properties:
                      description: Identifier resource specific properties
                      properties:
                        id:
                          description: String representation of the identity.
                          type: string
                          x-ms-client-name: value
                      x-ms-client-flatten: true
                  type: object
                type: array
            required:
              - value
            type: object
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: List all apps that are assigned to a hostname.
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/premieraddonoffers":
    get:
      description: Description for List all premier add-on offers.
      operationId: ListPremierAddOnOffers
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PremierAddOnOfferCollection"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: List all premier add-on offers.
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/skus":
    get:
      description: Description for List all SKUs.
      operationId: ListSkus
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SkuInfos"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: List all SKUs.
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/verifyHostingEnvironmentVnet":
    post:
      description: Description for Verifies if this VNET is compatible with an App Service Environment by analyzing the Network Security Group rules.
      operationId: VerifyHostingEnvironmentVnet
      parameters:
        - description: VNET information
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VnetParameters"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VnetValidationFailureDetails"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Verifies if this VNET is compatible with an App Service Environment by analyzing the Network Security Group rules.
      x-ms-examples:
        VerifyHostingEnvironmentVnet:
          parameters:
            api-version: 2019-08-01
            parameters:
              properties:
                vnetName: vNet123
                vnetResourceGroup: vNet123rg
                vnetSubnetName: vNet123SubNet
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/providers/Microsoft.Web/verifyHostingEnvironmentVnet
                properties:
                  failed: false
                  failedTests: []
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources":
    post:
      description: Description for Move resources between resource groups.
      operationId: Move
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Object that represents the resource to move.
          in: body
          name: moveResourceEnvelope
          required: true
          schema:
            $ref: "#/definitions/CsmMoveResourceEnvelope"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "204":
          description: No Content
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Move resources between resource groups.
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/validate":
    post:
      description: Description for Validate if a resource can be created.
      operationId: Validate
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Request with the resources to validate.
          in: body
          name: validateRequest
          required: true
          schema:
            $ref: "#/definitions/ValidateRequest"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ValidateResponse"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Validate if a resource can be created.
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/validateMoveResources":
    post:
      description: Description for Validate whether a resource can be moved.
      operationId: ValidateMove
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Object that represents the resource to move.
          in: body
          name: moveResourceEnvelope
          required: true
          schema:
            $ref: "#/definitions/CsmMoveResourceEnvelope"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "204":
          description: No Content
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Validate whether a resource can be moved.
definitions:
  BillingMeter:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: App Service billing entity that contains information about meter which the Azure billing system utilizes to charge users for services.
    properties:
      properties:
        description: BillingMeter resource specific properties
        properties:
          billingLocation:
            description: Azure Location of billable resource
            type: string
          friendlyName:
            description: Friendly name of the meter
            type: string
          meterId:
            description: Meter GUID onboarded in Commerce
            type: string
          osType:
            description: App Service OS type meter used for
            type: string
          resourceType:
            description: App Service ResourceType meter used for
            type: string
          shortName:
            description: Short Name from App Service Azure pricing Page
            type: string
        x-ms-client-flatten: true
    type: object
  BillingMeterCollection:
    description: Collection of Billing Meters
    properties:
      nextLink:
        description: Link to next page of resources.
        readOnly: true
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: "#/definitions/BillingMeter"
        type: array
    required:
      - value
    type: object
  CsmMoveResourceEnvelope:
    description: Object with a list of the resources that need to be moved and the resource group they should be moved to.
    properties:
      resources:
        items:
          type: string
        type: array
      targetResourceGroup:
        maxLength: 90
        minLength: 1
        pattern: " ^[-\\w\\._\\(\\)]+[^\\.]$"
        type: string
    type: object
  DeploymentLocations:
    description: |-
      List of available locations (regions or App Service Environments) for
      deployment of App Service resources.
    properties:
      hostingEnvironmentDeploymentInfos:
        description: Available App Service Environments with basic information.
        items:
          $ref: "#/definitions/HostingEnvironmentDeploymentInfo"
        type: array
      hostingEnvironments:
        description: Available App Service Environments with full descriptions of the environments.
        items:
          description: Description of an App Service Environment.
          properties:
            allowedMultiSizes:
              description: List of comma separated strings describing which VM sizes are allowed for front-ends.
              readOnly: true
              type: string
            allowedWorkerSizes:
              description: List of comma separated strings describing which VM sizes are allowed for workers.
              readOnly: true
              type: string
            apiManagementAccountId:
              description: API Management Account associated with the App Service Environment.
              type: string
            clusterSettings:
              description: Custom settings for changing the behavior of the App Service Environment.
              items:
                description: Name value pair.
                properties:
                  name:
                    description: Pair name.
                    type: string
                  value:
                    description: Pair value.
                    type: string
                type: object
              type: array
            databaseEdition:
              description: Edition of the metadata database for the App Service Environment, e.g. "Standard".
              readOnly: true
              type: string
            databaseServiceObjective:
              description: Service objective of the metadata database for the App Service Environment, e.g. "S0".
              readOnly: true
              type: string
            defaultFrontEndScaleFactor:
              description: Default Scale Factor for FrontEnds.
              format: int32
              readOnly: true
              type: integer
            dnsSuffix:
              description: DNS suffix of the App Service Environment.
              type: string
            dynamicCacheEnabled:
              description: |-
                True/false indicating whether the App Service Environment is suspended. The environment can be suspended e.g. when the management endpoint is no longer available
                (most likely because NSG blocked the incoming traffic).
              type: boolean
            environmentCapacities:
              description: Current total, used, and available worker capacities.
              items:
                description: Stamp capacity information.
                properties:
                  availableCapacity:
                    description: Available capacity (# of machines, bytes of storage etc...).
                    format: int64
                    type: integer
                  computeMode:
                    description: Shared/dedicated workers.
                    enum:
                      - Shared
                      - Dedicated
                      - Dynamic
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: ComputeModeOptions
                  excludeFromCapacityAllocation:
                    description: |-
                      If <code>true</code>, it includes basic apps.
                      Basic apps are not used for capacity allocation.
                    type: boolean
                  isApplicableForAllComputeModes:
                    description: <code>true</code> if capacity is applicable for all apps; otherwise, <code>false</code>.
                    type: boolean
                  isLinux:
                    description: Is this a linux stamp capacity
                    type: boolean
                  name:
                    description: Name of the stamp.
                    type: string
                  siteMode:
                    description: Shared or Dedicated.
                    type: string
                  totalCapacity:
                    description: Total capacity (# of machines, bytes of storage etc...).
                    format: int64
                    type: integer
                  unit:
                    description: Name of the unit.
                    type: string
                  workerSize:
                    description: Size of the machines.
                    enum:
                      - Small
                      - Medium
                      - Large
                      - D1
                      - D2
                      - D3
                      - NestedSmall
                      - Default
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: WorkerSizeOptions
                  workerSizeId:
                    description: |-
                      Size ID of machines: 
                      0 - Small
                      1 - Medium
                      2 - Large
                    format: int32
                    type: integer
                type: object
              readOnly: true
              type: array
            environmentIsHealthy:
              description: True/false indicating whether the App Service Environment is healthy.
              readOnly: true
              type: boolean
            environmentStatus:
              description: Detailed message about with results of the last check of the App Service Environment.
              readOnly: true
              type: string
            frontEndScaleFactor:
              description: Scale factor for front-ends.
              format: int32
              type: integer
            hasLinuxWorkers:
              description: Flag that displays whether an ASE has linux workers or not
              type: boolean
            internalLoadBalancingMode:
              description: Specifies which endpoints to serve internally in the Virtual Network for the App Service Environment.
              enum:
                - None
                - Web
                - Publishing
              type: string
              x-ms-enum:
                modelAsString: false
                name: InternalLoadBalancingMode
            ipsslAddressCount:
              description: Number of IP SSL addresses reserved for the App Service Environment.
              format: int32
              type: integer
            lastAction:
              description: Last deployment action on the App Service Environment.
              readOnly: true
              type: string
            lastActionResult:
              description: Result of the last deployment action on the App Service Environment.
              readOnly: true
              type: string
            location:
              description: Location of the App Service Environment, e.g. "West US".
              type: string
            maximumNumberOfMachines:
              description: Maximum number of VMs in the App Service Environment.
              format: int32
              readOnly: true
              type: integer
            multiRoleCount:
              description: Number of front-end instances.
              format: int32
              type: integer
            multiSize:
              description: Front-end VM size, e.g. "Medium", "Large".
              type: string
            name:
              description: Name of the App Service Environment.
              type: string
            networkAccessControlList:
              description: Access control list for controlling traffic to the App Service Environment.
              items:
                description: Network access control entry.
                properties:
                  action:
                    description: Action object.
                    enum:
                      - Permit
                      - Deny
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: AccessControlEntryAction
                  description:
                    description: Description of network access control entry.
                    type: string
                  order:
                    description: Order of precedence.
                    format: int32
                    type: integer
                  remoteSubnet:
                    description: Remote subnet.
                    type: string
                type: object
              type: array
            provisioningState:
              description: Provisioning state of the App Service Environment.
              enum:
                - Succeeded
                - Failed
                - Canceled
                - InProgress
                - Deleting
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: ProvisioningState
            resourceGroup:
              description: Resource group of the App Service Environment.
              readOnly: true
              type: string
            sslCertKeyVaultId:
              description: Key Vault ID for ILB App Service Environment default SSL certificate
              type: string
            sslCertKeyVaultSecretName:
              description: Key Vault Secret Name for ILB App Service Environment default SSL certificate
              type: string
            status:
              description: Current status of the App Service Environment.
              enum:
                - Preparing
                - Ready
                - Scaling
                - Deleting
              readOnly: true
              type: string
              x-ms-enum:
                modelAsString: false
                name: HostingEnvironmentStatus
            subscriptionId:
              description: Subscription of the App Service Environment.
              readOnly: true
              type: string
            suspended:
              description: |-
                <code>true</code> if the App Service Environment is suspended; otherwise, <code>false</code>. The environment can be suspended, e.g. when the management endpoint is no longer available
                 (most likely because NSG blocked the incoming traffic).
              type: boolean
            upgradeDomains:
              description: Number of upgrade domains of the App Service Environment.
              format: int32
              readOnly: true
              type: integer
            userWhitelistedIpRanges:
              description: User added ip ranges to whitelist on ASE db
              items:
                type: string
              type: array
            vipMappings:
              description: Description of IP SSL mapping for the App Service Environment.
              items:
                description: Virtual IP mapping.
                properties:
                  inUse:
                    description: Is virtual IP mapping in use.
                    type: boolean
                  internalHttpPort:
                    description: Internal HTTP port.
                    format: int32
                    type: integer
                  internalHttpsPort:
                    description: Internal HTTPS port.
                    format: int32
                    type: integer
                  serviceName:
                    description: name of the service that virtual IP is assigned to
                    type: string
                  virtualIP:
                    description: Virtual IP address.
                    type: string
                type: object
              readOnly: true
              type: array
            virtualNetwork:
              description: Specification for using a Virtual Network.
              properties:
                id:
                  description: Resource id of the Virtual Network.
                  type: string
                name:
                  description: Name of the Virtual Network (read-only).
                  readOnly: true
                  type: string
                subnet:
                  description: Subnet within the Virtual Network.
                  type: string
                type:
                  description: Resource type of the Virtual Network (read-only).
                  readOnly: true
                  type: string
              type: object
            vnetName:
              description: Name of the Virtual Network for the App Service Environment.
              type: string
            vnetResourceGroupName:
              description: Resource group of the Virtual Network.
              type: string
            vnetSubnetName:
              description: Subnet of the Virtual Network.
              type: string
            workerPools:
              description: Description of worker pools with worker size IDs, VM sizes, and number of workers in each pool.
              items:
                description: Worker pool of an App Service Environment.
                properties:
                  computeMode:
                    description: Shared or dedicated app hosting.
                    enum:
                      - Shared
                      - Dedicated
                      - Dynamic
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: ComputeModeOptions
                  instanceNames:
                    description: Names of all instances in the worker pool (read only).
                    items:
                      type: string
                    readOnly: true
                    type: array
                  workerCount:
                    description: Number of instances in the worker pool.
                    format: int32
                    type: integer
                  workerSize:
                    description: VM size of the worker pool instances.
                    type: string
                  workerSizeId:
                    description: Worker size ID for referencing this worker pool.
                    format: int32
                    type: integer
                type: object
              type: array
          required:
            - name
            - location
            - virtualNetwork
            - workerPools
          type: object
        type: array
      locations:
        description: Available regions.
        items:
          $ref: "#/definitions/GeoRegion"
        type: array
    type: object
  GeoRegion:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Geographical region.
    properties:
      properties:
        description: GeoRegion resource specific properties
        properties:
          description:
            description: Region description.
            readOnly: true
            type: string
          displayName:
            description: Display name for region.
            readOnly: true
            type: string
          orgDomain:
            description: Display name for region.
            readOnly: true
            type: string
        x-ms-client-flatten: true
    type: object
  GeoRegionCollection:
    description: Collection of geographical regions.
    properties:
      nextLink:
        description: Link to next page of resources.
        readOnly: true
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: "#/definitions/GeoRegion"
        type: array
    required:
      - value
    type: object
  GlobalCsmSkuDescription:
    description: A Global SKU Description.
    properties:
      capabilities:
        description: Capabilities of the SKU, e.g., is traffic manager enabled?
        items:
          description: Describes the capabilities/features allowed for a specific SKU.
          properties:
            name:
              description: Name of the SKU capability.
              type: string
            reason:
              description: Reason of the SKU capability.
              type: string
            value:
              description: Value of the SKU capability.
              type: string
          type: object
        type: array
      capacity:
        description: Description of the App Service plan scale options.
        properties:
          default:
            description: Default number of workers for this App Service plan SKU.
            format: int32
            type: integer
          maximum:
            description: Maximum number of workers for this App Service plan SKU.
            format: int32
            type: integer
          minimum:
            description: Minimum number of workers for this App Service plan SKU.
            format: int32
            type: integer
          scaleType:
            description: Available scale configurations for an App Service plan.
            type: string
        type: object
      family:
        description: Family code of the resource SKU.
        type: string
      locations:
        description: Locations of the SKU.
        items:
          type: string
        type: array
      name:
        description: Name of the resource SKU.
        type: string
      size:
        description: Size specifier of the resource SKU.
        type: string
      tier:
        description: Service Tier of the resource SKU.
        type: string
    type: object
  HostingEnvironmentDeploymentInfo:
    description: Information needed to create resources on an App Service Environment.
    properties:
      location:
        description: Location of the App Service Environment.
        type: string
      name:
        description: Name of the App Service Environment.
        type: string
    type: object
  PremierAddOnOffer:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Premier add-on offer.
    properties:
      properties:
        description: PremierAddOnOffer resource specific properties
        properties:
          legalTermsUrl:
            description: Legal terms URL.
            type: string
          marketplaceOffer:
            description: Marketplace offer.
            type: string
          marketplacePublisher:
            description: Marketplace publisher.
            type: string
          privacyPolicyUrl:
            description: Privacy policy URL.
            type: string
          product:
            description: Premier add on offer Product.
            type: string
          promoCodeRequired:
            description: <code>true</code> if promotion code is required; otherwise, <code>false</code>.
            type: boolean
          quota:
            description: Premier add on offer Quota.
            format: int32
            type: integer
          sku:
            description: Premier add on SKU.
            type: string
          vendor:
            description: Premier add on offer Vendor.
            type: string
          webHostingPlanRestrictions:
            description: App Service plans this offer is restricted to.
            enum:
              - None
              - Free
              - Shared
              - Basic
              - Standard
              - Premium
            type: string
            x-ms-enum:
              modelAsString: false
              name: AppServicePlanRestrictions
        x-ms-client-flatten: true
    type: object
  PremierAddOnOfferCollection:
    description: Collection of premier add-on offers.
    properties:
      nextLink:
        description: Link to next page of resources.
        readOnly: true
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: "#/definitions/PremierAddOnOffer"
        type: array
    required:
      - value
    type: object
  ResourceNameAvailability:
    description: Information regarding availability of a resource name.
    properties:
      message:
        description: If reason == invalid, provide the user with the reason why the given name is invalid, and provide the resource naming requirements so that the user can select a valid name. If reason == AlreadyExists, explain that resource name is already in use, and direct them to select a different name.
        type: string
      nameAvailable:
        description: <code>true</code> indicates name is valid and available. <code>false</code> indicates the name is invalid, unavailable, or both.
        type: boolean
      reason:
        description: <code>Invalid</code> indicates the name provided does not match Azure App Service naming requirements. <code>AlreadyExists</code> indicates that the name is already in use and is therefore unavailable.
        enum:
          - Invalid
          - AlreadyExists
        type: string
        x-ms-enum:
          modelAsString: true
          name: InAvailabilityReasonType
    type: object
  ResourceNameAvailabilityRequest:
    description: Resource name availability request content.
    properties:
      isFqdn:
        description: Is fully qualified domain name.
        type: boolean
      name:
        description: Resource name to verify.
        type: string
      type:
        description: Resource type used for verification.
        enum:
          - Site
          - Slot
          - HostingEnvironment
          - PublishingUser
          - Microsoft.Web/sites
          - Microsoft.Web/sites/slots
          - Microsoft.Web/hostingEnvironments
          - Microsoft.Web/publishingUsers
        type: string
        x-ms-enum:
          modelAsString: true
          name: CheckNameResourceTypes
    required:
      - name
      - type
    type: object
  SkuInfos:
    description: Collection of SKU information.
    properties:
      resourceType:
        description: Resource type that this SKU applies to.
        type: string
      skus:
        description: List of SKUs the subscription is able to use.
        items:
          $ref: "#/definitions/GlobalCsmSkuDescription"
        type: array
    type: object
  SourceControl:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: The source control OAuth token.
    properties:
      properties:
        description: SourceControl resource specific properties
        properties:
          expirationTime:
            description: OAuth token expiration.
            format: date-time
            type: string
          refreshToken:
            description: OAuth refresh token.
            type: string
          token:
            description: OAuth access token.
            type: string
          tokenSecret:
            description: OAuth access token secret.
            type: string
        x-ms-client-flatten: true
    type: object
  SourceControlCollection:
    description: Collection of source controls.
    properties:
      nextLink:
        description: Link to next page of resources.
        readOnly: true
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: "#/definitions/SourceControl"
        type: array
    required:
      - value
    type: object
  ValidateProperties:
    description: App properties used for validation.
    properties:
      capacity:
        description: Target capacity of the App Service plan (number of VMs).
        format: int32
        minimum: 1
        type: integer
      containerImagePlatform:
        description: Platform (windows or linux)
        type: string
      containerImageRepository:
        description: Repository name (image name)
        type: string
      containerImageTag:
        description: Image tag
        type: string
      containerRegistryBaseUrl:
        description: Base URL of the container registry
        type: string
      containerRegistryPassword:
        description: Password for to access the container registry
        type: string
      containerRegistryUsername:
        description: Username for to access the container registry
        type: string
      hostingEnvironment:
        description: Name of App Service Environment where app or App Service plan should be created.
        type: string
      isSpot:
        description: <code>true</code> if App Service plan is for Spot instances; otherwise, <code>false</code>.
        type: boolean
      isXenon:
        description: <code>true</code> if App Service plan is running as a windows container
        type: boolean
      needLinuxWorkers:
        description: <code>true</code> if App Service plan is for Linux workers; otherwise, <code>false</code>.
        type: boolean
      serverFarmId:
        description: ARM resource ID of an App Service plan that would host the app.
        type: string
      skuName:
        description: Name of the target SKU for the App Service plan.
        type: string
    type: object
  ValidateRequest:
    description: Resource validation request content.
    properties:
      location:
        description: Expected location of the resource.
        type: string
      name:
        description: Resource name to verify.
        type: string
      properties:
        $ref: "#/definitions/ValidateProperties"
        description: Properties of the resource to validate.
        x-ms-client-flatten: true
      type:
        description: Resource type used for verification.
        enum:
          - ServerFarm
          - Site
        type: string
        x-ms-enum:
          modelAsString: true
          name: ValidateResourceTypes
    required:
      - name
      - type
      - location
      - properties
    type: object
  ValidateResponse:
    description: Describes the result of resource validation.
    properties:
      error:
        $ref: "#/definitions/ValidateResponseError"
        description: Error details for the case when validation fails.
      status:
        description: Result of validation.
        type: string
    type: object
  ValidateResponseError:
    description: Error details for when validation fails.
    properties:
      code:
        description: Validation error code.
        type: string
      message:
        description: Validation error message.
        type: string
    type: object
  VnetParameters:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: The required set of inputs to validate a VNET
    properties:
      properties:
        description: VnetParameters resource specific properties
        properties:
          vnetName:
            description: The name of the VNET to be validated
            type: string
          vnetResourceGroup:
            description: The Resource Group of the VNET to be validated
            type: string
          vnetSubnetName:
            description: The subnet name to be validated
            type: string
        x-ms-client-flatten: true
    type: object
  VnetValidationFailureDetails:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: A class that describes the reason for a validation failure.
    properties:
      properties:
        description: VnetValidationFailureDetails resource specific properties
        properties:
          failed:
            description: A flag describing whether or not validation failed.
            type: boolean
          failedTests:
            description: A list of tests that failed in the validation.
            items:
              $ref: "#/definitions/VnetValidationTestFailure"
            type: array
        x-ms-client-flatten: true
    type: object
  VnetValidationTestFailure:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: A class that describes a test that failed during NSG and UDR validation.
    properties:
      properties:
        description: VnetValidationTestFailure resource specific properties
        properties:
          details:
            description: The details of what caused the failure, e.g. the blocking rule name, etc.
            type: string
          testName:
            description: The name of the test that failed.
            type: string
        x-ms-client-flatten: true
    type: object
