swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: The Admin Subscriptions Management Client.
  title: SubscriptionsManagementClient
  version: 2015-11-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/Plan.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Plan
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  NewPlanParameter:
    description: New plan.
    in: body
    name: newPlan
    required: true
    schema:
      $ref: "#/definitions/Plan"
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/plans":
    get:
      description: List all plans across all subscriptions.
      operationId: Plans_ListAll
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - default: 2015-11-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PlanList"
      tags:
        - Plans
      x-ms-examples:
        Get the list of plans.:
          parameters:
            api-version: 2015-11-01
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourceGroups/balarg/providers/Microsoft.Subscriptions.Admin/plans/balaplan
                    location: local
                    name: balaplan
                    properties:
                      displayName: balaplan
                      name: balaplan
                      quotaIds:
                        - /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/quotas/Default Quota
                      subscriptionCount: 0
                    type: Microsoft.Subscriptions.Admin/plans
                  - id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourceGroups/cnur8007subscrrg352/providers/Microsoft.Subscriptions.Admin/plans/cnur8007tenantplan352
                    location: local
                    name: cnur8007tenantplan352
                    properties:
                      displayName: cnur8007tenantplan352
                      name: cnur8007tenantplan352
                      quotaIds:
                        - /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Compute.Admin/locations/local/quotas/ascanarycomputequota
                        - /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.KeyVault.Admin/locations/local/quotas/Unlimited
                        - /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Network.Admin/locations/local/quotas/ascanarynetworkquota
                        - /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Storage.Admin/locations/local/quotas/ascanarystoragequota
                      subscriptionCount: 0
                    tags: {}
                    type: Microsoft.Subscriptions.Admin/plans
                  - id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourceGroups/cnur8007resellersubscrrg352/providers/Microsoft.Subscriptions.Admin/plans/cnur8007subsvcplan352
                    location: local
                    name: cnur8007subsvcplan352
                    properties:
                      displayName: cnur8007subsvcplan352
                      name: cnur8007subsvcplan352
                      quotaIds:
                        - /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions.Admin/locations/local/quotas/delegatedProviderQuota
                      subscriptionCount: 0
                    tags: {}
                    type: Microsoft.Subscriptions.Admin/plans
                  - id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourceGroups/TestRG-c895f7cb-18e0-41b4-a4e9-c29131dbbc48/providers/Microsoft.Subscriptions.Admin/plans/TestPlan-f366b2c1-17e9-4522-b162-fb5a016a9f94
                    location: local
                    name: TestPlan-f366b2c1-17e9-4522-b162-fb5a016a9f94
                    properties:
                      displayName: TestPlan-f366b2c1-17e9-4522-b162-fb5a016a9f94
                      name: TestPlan-f366b2c1-17e9-4522-b162-fb5a016a9f94
                      quotaIds:
                        - /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions.Admin/locations/local/quotas/delegatedProviderQuota
                      subscriptionCount: 0
                    tags: {}
                    type: Microsoft.Subscriptions.Admin/plans
                  - id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourceGroups/balarg/providers/Microsoft.Subscriptions.Admin/plans/balaplan2
                    location: local
                    name: balaplan2
                    properties:
                      displayName: balaplan2
                      name: balaplan2
                      quotaIds:
                        - /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions.Admin/locations/local/quotas/delegatedProviderQuota
                      subscriptionCount: 0
                    type: Microsoft.Subscriptions.Admin/plans
                  - id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourceGroups/balarg/providers/Microsoft.Subscriptions.Admin/plans/bala2
                    location: local
                    name: bala2
                    properties:
                      displayName: bala2
                      name: bala2
                      quotaIds:
                        - /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions.Admin/locations/local/quotas/delegatedProviderQuota
                      subscriptionCount: 0
                    tags: {}
                    type: Microsoft.Subscriptions.Admin/plans
                  - id: /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourceGroups/balarg/providers/Microsoft.Subscriptions.Admin/plans/bala3
                    location: local
                    name: bala3
                    properties:
                      displayName: bala2
                      name: bala3
                      quotaIds:
                        - /subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/providers/Microsoft.Subscriptions.Admin/locations/local/quotas/delegatedProviderQuota
                      subscriptionCount: 0
                    tags: {}
                    type: Microsoft.Subscriptions.Admin/plans
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans":
    get:
      description: Get the list of plans under a resource group.
      operationId: Plans_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2015-11-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PlanList"
      tags:
        - Plans
      x-ms-examples:
        Get the list of plans under a resource group.:
          parameters:
            api-version: 2015-11-01
            location: local
            resourceGroupName: plans
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/Plans/providers/Microsoft.Subscriptions.Admin/plans/testplan
                    location: local
                    name: testplan
                    properties:
                      displayName: TestPlan
                      name: testplan
                      quotaIds:
                        - /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Compute.Admin/locations/local/quotas/Default Quota
                        - /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.KeyVault.Admin/locations/local/quotas/Unlimited
                        - /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Network.Admin/locations/local/quotas/Default Quota
                        - /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Storage.Admin/locations/local/quotas/Default Quota
                        - /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Subscriptions.Admin/locations/local/quotas/delegatedProviderQuota
                      subscriptionCount: 0
                    type: Microsoft.Subscriptions.Admin/plans
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans/{plan}":
    delete:
      description: Delete the specified plan.
      operationId: Plans_Delete
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the plan.
          in: path
          name: plan
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2015-11-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
        "204":
          description: No Content
      tags:
        - Plans
      x-ms-examples:
        Delete the specified plan.:
          parameters:
            api-version: 2015-11-01
            location: local
            plan: testplan
            resourceGroupName: plans
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200": {}
            "204": {}
    get:
      description: Get the specified plan.
      operationId: Plans_Get
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the plan.
          in: path
          name: plan
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2015-11-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Plan"
      tags:
        - Plans
      x-ms-examples:
        Get the specified plan.:
          parameters:
            api-version: 2015-11-01
            location: local
            plan: testplan
            resourceGroupName: plans
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/Plans/providers/Microsoft.Subscriptions.Admin/plans/testplan
                location: local
                name: testplan
                properties:
                  displayName: TestPlan
                  name: testplan
                  quotaIds:
                    - /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Compute.Admin/locations/local/quotas/Default Quota
                    - /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.KeyVault.Admin/locations/local/quotas/Unlimited
                    - /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Network.Admin/locations/local/quotas/Default Quota
                    - /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Storage.Admin/locations/local/quotas/Default Quota
                    - /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Subscriptions.Admin/locations/local/quotas/delegatedProviderQuota
                  subscriptionCount: 0
                type: Microsoft.Subscriptions.Admin/plans
    put:
      description: Create or update the plan.
      operationId: Plans_CreateOrUpdate
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the plan.
          in: path
          name: plan
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2015-11-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - $ref: "#/parameters/NewPlanParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Plan"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Plan"
      tags:
        - Plans
      x-ms-examples:
        Create or update the plan.:
          parameters:
            api-version: 2015-11-01
            location: local
            newPlan:
              properties:
                description: test plan
                displayName: testplans
                name: newplan
                quotaIds:
                  - "123"
                  - abc
                subscriptionCount: 0
            plan: testplan
            resourceGroupName: plans
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/testrg/providers/Microsoft.Subscriptions.Admin/plans/testplans
                location: local
                name: testplans
                properties:
                  description: test plan
                  displayName: testplans
                  name: testplans
                  quotaIds:
                    - /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Subscriptions.Admin/locations/local/quotas/delegatedProviderQuota
                  subscriptionCount: 0
                type: Microsoft.Subscriptions.Admin/plans
            "201":
              body:
                id: /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/testrg/providers/Microsoft.Subscriptions.Admin/plans/testplans
                location: local
                name: testplans
                properties:
                  description: test plan
                  displayName: testplans
                  name: testplans
                  quotaIds:
                    - /subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/providers/Microsoft.Subscriptions.Admin/locations/local/quotas/delegatedProviderQuota
                  subscriptionCount: 0
                type: Microsoft.Subscriptions.Admin/plans
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans/{plan}/metricDefinitions":
    get:
      description: Get the metric definitions of the specified plan.
      operationId: Plans_ListMetricDefinitions
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the plan.
          in: path
          name: plan
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2015-11-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            description: List of metric definitions.
            properties:
              nextLink:
                description: Continuation token
                type: string
              value:
                description: Array of metric definitions.
                items:
                  description: Metric Definition
                  properties:
                    metricAvailabilities:
                      description: List of metric definitions.
                      items:
                        description: Metric Definition
                        properties:
                          retention:
                            description: the retention. Metrics may be queried for this interval.
                            type: string
                          timeGrain:
                            description: The time grain. Metrics will be available for this time grain.
                            type: string
                        type: object
                      type: array
                    name:
                      description: Metric definition name.
                      type: string
                    primaryAggregationType:
                      description: The primary aggregation type for resource metric.
                      enum:
                        - None
                        - Average
                        - Total
                        - Minimum
                        - Maximum
                        - Last
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: MetricPrimaryAggregationType
                        values:
                          - description: No aggregation applied to resource.
                            name: None
                            value: None
                          - description: The average aggregation type.
                            name: Average
                            value: Average
                          - description: The total aggregation type.
                            name: Total
                            value: Total
                          - description: The minimum aggregation type.
                            name: Minimum
                            value: Minimum
                          - description: The maximum aggregation type.
                            name: Maximum
                            value: Maximum
                          - description: The last aggregation type.
                            name: Last
                            value: Last
                    unit:
                      description: The resource metric unit.
                      enum:
                        - Count
                        - Bytes
                        - Seconds
                        - CountPerSecond
                        - BytesPerSecond
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: MetricUnit
                        values:
                          - description: The count.
                            name: Count
                            value: Count
                          - description: The bytes.
                            name: Bytes
                            value: Bytes
                          - description: The seconds.
                            name: Seconds
                            value: Seconds
                          - description: The count per second.
                            name: CountPerSecond
                            value: CountPerSecond
                          - description: The bytes per second.
                            name: BytesPerSecond
                            value: BytesPerSecond
                  type: object
                type: array
      tags:
        - Plans
      x-ms-examples:
        Get the metric definitions of the specified plan.:
          parameters:
            api-version: 2015-11-01
            location: local
            plan: testplan
            resourceGroupName: plans
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                nextLink: null
                value: []
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/plans/{plan}/metrics":
    get:
      description: Get the metrics of the specified plan.
      operationId: Plans_ListMetrics
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the plan.
          in: path
          name: plan
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2015-11-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            description: List of metrics.
            properties:
              nextLink:
                description: Continuation token
                type: string
              value:
                description: List of metrics.
                items:
                  description: The resource metric set that represents the metrics for a particular resource.
                  properties:
                    endTime:
                      description: End time of the metric.
                      format: date-time
                      type: string
                    metricUnit:
                      description: The resource metric unit.
                      enum:
                        - Count
                        - Bytes
                        - Seconds
                        - CountPerSecond
                        - BytesPerSecond
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: MetricUnit
                        values:
                          - description: The count.
                            name: Count
                            value: Count
                          - description: The bytes.
                            name: Bytes
                            value: Bytes
                          - description: The seconds.
                            name: Seconds
                            value: Seconds
                          - description: The count per second.
                            name: CountPerSecond
                            value: CountPerSecond
                          - description: The bytes per second.
                            name: BytesPerSecond
                            value: BytesPerSecond
                    metricValues:
                      description: List of metric values.
                      items:
                        description: Metric value
                        properties:
                          average:
                            description: Average value for metric sample period.
                            format: double
                            type: number
                          count:
                            description: Number of measurements for metric sample period.
                            type: integer
                          maximum:
                            description: Maximum value for metric sample period.
                            format: double
                            type: number
                          minimum:
                            description: Minimum value for metric sample period.
                            format: double
                            type: number
                          properties:
                            additionalProperties:
                              type: string
                            description: Extended properties.
                            type: object
                            x-ms-client-name: extendedProperties
                          timeStamp:
                            description: Timestamp of when the metric value was collected.
                            format: date-time
                            type: string
                          total:
                            description: Total value for metric sample period.
                            format: double
                            type: number
                        type: object
                      type: array
                    startTime:
                      description: Start time of the metric.
                      format: date-time
                      type: string
                    timeGrain:
                      description: Timespan of the metric.
                      type: string
                  type: object
                type: array
      tags:
        - Plans
      x-ms-examples:
        Get the metrics of the specified plan.:
          parameters:
            api-version: 2015-11-01
            location: local
            plan: testplan
            resourceGroupName: plans
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                nextLink: null
                value: []
definitions:
  Plan:
    allOf:
      - description: Base Resource Object
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            readOnly: true
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: A plan represents a package of quotas and capabilities that are offered tenants. A tenant can acquire this plan through an offer to upgrade his access to underlying cloud services.
    properties:
      properties:
        $ref: "#/definitions/PlanProperties"
        description: Properties of a plan.
        x-ms-client-flatten: true
    type: object
  PlanList:
    description: List of plans
    properties:
      nextLink:
        description: Continuation token
        type: string
      value:
        description: Array of plans.
        items:
          $ref: "#/definitions/Plan"
        type: array
  PlanProperties:
    description: Properties of a plan.
    properties:
      description:
        description: Description of the plan.
        type: string
      displayName:
        description: Display name.
        type: string
      externalReferenceId:
        description: External reference identifier.
        type: string
      name:
        description: Name of the plan.
        type: string
      quotaIds:
        description: Quota identifiers under the plan.
        items:
          type: string
        type: array
      skuIds:
        description: SKU identifiers.
        items:
          type: string
        type: array
      subscriptionCount:
        description: Subscription count.
        type: integer
    type: object
