swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Use these REST APIs for performing operations on Property entity associated with your Azure API Management deployment. API Management policies are a powerful capability of the system that allow the publisher to change the behavior of the API through configuration. Policies are a collection of statements that are executed sequentially on the request or response of an API. Policy statements can be constructed using literal text values, policy expressions, and properties. Each API Management service instance has a properties collection of key/value pairs that are global to the service instance. These properties can be used to manage constant string values across all API configuration and policies.
  title: ApiManagementClient
  version: 2016-10-10
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2016-10-10/apimproperties.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimproperties
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  PropertyIdParameter:
    description: Identifier of the property.
    in: path
    maxLength: 256
    name: propId
    pattern: ^[^*#&+:<>?]+$
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/properties":
    get:
      description: Lists a collection of properties defined within a service instance.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt651775.aspx
      operationId: Properties_ListByService
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: |-
            | Field | Supported operators    | Supported functions                                   |
            |-------|------------------------|-------------------------------------------------------|
            | tags  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith, any, all |
            | name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith           |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: A Collection of the Property entities for the specified API Management service instance.
          schema:
            $ref: "#/definitions/PropertyCollection"
      tags:
        - Property
      x-ms-odata: "#/definitions/PropertyContract"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/properties/{propId}":
    delete:
      description: Deletes specific property from the API Management service instance.
      operationId: Property_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/PropertyIdParameter"
        - description: The entity state (Etag) version of the property to delete. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "204":
          description: Property was successfully deleted.
        "405":
          description: The specified property cannot be deleted because it is in use in a policy. You must remove all references to this property before it can be deleted.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Property
    get:
      description: Gets the details of the property specified by its identifier.
      operationId: Property_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/PropertyIdParameter"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The response body contains the specified Property entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: "#/definitions/PropertyContract"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Property
    patch:
      description: Updates the specific property.
      operationId: Property_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/PropertyIdParameter"
        - description: Update parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/PropertyUpdateParameters"
        - description: The entity state (Etag) version of the property to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "204":
          description: Property was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Property
    put:
      description: Creates or updates a property.
      operationId: Property_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/PropertyIdParameter"
        - description: Create parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/PropertyCreateParameters"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "201":
          description: Property was successfully created.
        "204":
          description: Property was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Property
definitions:
  PropertyCollection:
    description: Paged Property list representation.
    properties:
      count:
        description: Total record count number across all pages.
        format: int64
        type: integer
      nextLink:
        description: Next page link if any.
        type: string
      value:
        description: Page values.
        items:
          $ref: "#/definitions/PropertyContract"
        type: array
  PropertyContract:
    description: Property details.
    properties:
      id:
        description: Uniquely identifies the property within the current API Management service instance. The value is a valid relative URL in the format of /properties/{propId} where {propId} is a property identifier.
        readOnly: true
        type: string
      name:
        description: Unique name of Property. It may contain only letters, digits, period, dash, and underscore characters.
        maxLength: 256
        minLength: 1
        pattern: ^[A-Z0-9-._]+$
        type: string
      secret:
        description: Determines whether the value is a secret and should be encrypted or not. Default value is false.
        type: boolean
      tags:
        description: Optional tags that when provided can be used to filter the property list.
        items:
          type: string
        maxItems: 32
        type: array
      value:
        description: Value of the property. Can contain policy expressions. It may not be empty or consist only of whitespace.
        maxLength: 4096
        minLength: 1
        type: string
    required:
      - name
      - value
  PropertyCreateParameters:
    description: Parameters supplied to the Create Property operation.
    properties:
      name:
        description: Unique name of Property. It may contain only letters, digits, period, dash, and underscore characters.
        maxLength: 256
        minLength: 1
        pattern: ^[A-Z0-9-._]+$
        type: string
      secret:
        description: Determines whether the value is a secret and should be encrypted or not. Default value is false.
        type: boolean
      tags:
        description: Optional tags that when provided can be used to filter the property list.
        items:
          type: string
        maxItems: 32
        type: array
      value:
        description: Value of the property. Can contain policy expressions. It may not be empty or consist only of whitespace.
        maxLength: 4096
        minLength: 1
        type: string
    required:
      - name
      - value
  PropertyUpdateParameters:
    description: Parameters supplied to the Update Property operation.
    properties:
      name:
        description: Unique name of Property. It may contain only letters, digits, period, dash, and underscore characters.
        maxLength: 256
        minLength: 1
        pattern: ^[A-Z0-9-._]+$
        type: string
      secret:
        description: Determines whether the value is a secret and should be encrypted or not. Default value is false.
        type: boolean
      tags:
        description: Optional tags that when provided can be used to filter the property list.
        items:
          type: string
        maxItems: 32
        type: array
      value:
        description: Value of the property. Can contain policy expressions. It may not be empty or consist only of whitespace.
        maxLength: 4096
        minLength: 1
        type: string
