swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.
  title: SqlManagementClient
  version: 2015-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2015-05-01/capabilities.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: sql-capabilities
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ApiVersionParameter:
    description: The API version to use for the request.
    in: query
    name: api-version
    required: true
    type: string
    x-ms-parameter-location: client
  DatabaseNameParameter:
    description: The name of the database.
    in: path
    name: databaseName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupParameter:
    description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
  SqlVirtualMachineContainerNameParameter:
    description: The name of the SqlVirtualMachineContainer.
    in: path
    name: sqlVirtualMachineContainerName
    required: true
    type: string
    x-ms-parameter-location: method
  SqlVirtualMachineInstanceNameParameter:
    description: The name of the SqlVirtualMachineInstance.
    in: path
    name: sqlVirtualMachineInstanceName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The subscription ID that identifies an Azure subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-parameter-location: client
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationName}/capabilities":
    get:
      description: Gets the subscription capabilities available for the specified location.
      operationId: Capabilities_ListByLocation
      parameters:
        - description: The location name whose capabilities are retrieved.
          in: path
          name: locationName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the subscription location capabilities.
          schema:
            $ref: "#/definitions/LocationCapabilities"
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidLocation - An invalid location was specified.

             * 400 SubscriptionNotFound - The requested subscription was not found.
      tags:
        - LocationCapabilities
      x-ms-examples:
        List subscription capabilities in the given location.:
          parameters:
            api-version: 2015-05-01
            locationName: eastus2euap
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                name: East US 2 EUAP
                status: Available
                supportedServerVersions:
                  - name: "12.0"
                    status: Default
                    supportedEditions:
                      - name: System
                        reason: "'System' is not a valid database edition in this version of SQL Server."
                        status: Visible
                        supportedServiceLevelObjectives:
                          - id: 26e021db-f1f9-4c98-84c6-92af8ef433d7
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System
                            performanceLevel:
                              unit: DTU
                              value: 0
                            reason: "'System' is not a valid database edition in this version of SQL Server."
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                          - id: 29dd7459-4a7c-4e56-be22-f0adda49440d
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System0
                            performanceLevel:
                              unit: DTU
                              value: 0
                            reason: "'System' is not a valid database edition in this version of SQL Server."
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                          - id: c99ac918-dbea-463f-a475-16ec020fdc12
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System1
                            performanceLevel:
                              unit: DTU
                              value: 0
                            reason: "'System' is not a valid database edition in this version of SQL Server."
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                          - id: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System2
                            performanceLevel:
                              unit: DTU
                              value: 0
                            reason: "'System' is not a valid database edition in this version of SQL Server."
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                          - id: 33d0db1f-6893-4210-99f9-463fb9b496a4
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System3
                            performanceLevel:
                              unit: DTU
                              value: 0
                            reason: "'System' is not a valid database edition in this version of SQL Server."
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                          - id: da24338c-a6c9-46c2-a4bf-4ac95b496ae4
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System4
                            performanceLevel:
                              unit: DTU
                              value: 0
                            reason: "'System' is not a valid database edition in this version of SQL Server."
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                          - id: 53f7fa1b-b0d0-43d6-bc29-c5f059fb36e9
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System2L
                            performanceLevel:
                              unit: DTU
                              value: 0
                            reason: "'System' is not a valid database edition in this version of SQL Server."
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                          - id: e79cd55c-689f-48d9-bffa-0dd12c772248
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System3L
                            performanceLevel:
                              unit: DTU
                              value: 0
                            reason: "'System' is not a valid database edition in this version of SQL Server."
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                          - id: 4b37bb6d-e004-47ac-8f7a-be56ac9fb490
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System4L
                            performanceLevel:
                              unit: DTU
                              value: 0
                            reason: "'System' is not a valid database edition in this version of SQL Server."
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: "'System' is not a valid database edition in this version of SQL Server."
                                status: Visible
                                unit: Gigabytes
                      - name: Free
                        status: Available
                        supportedServiceLevelObjectives:
                          - id: 6aa3bb3e-7f50-40d6-95ef-5497c30d99d8
                            includedMaxSize:
                              limit: 32
                              status: Available
                              unit: Megabytes
                            name: Free
                            performanceLevel:
                              unit: DTU
                              value: 5
                            status: Default
                            supportedMaxSizes:
                              - limit: 32
                                status: Default
                                unit: Megabytes
                      - name: Basic
                        status: Available
                        supportedServiceLevelObjectives:
                          - id: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                            includedMaxSize:
                              limit: 2048
                              status: Available
                              unit: Megabytes
                            name: Basic
                            performanceLevel:
                              unit: DTU
                              value: 5
                            status: Default
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Default
                                unit: Gigabytes
                      - name: Standard
                        status: Default
                        supportedServiceLevelObjectives:
                          - id: f1173c43-91bd-4aaa-973c-54e79e15235b
                            includedMaxSize:
                              limit: 256000
                              status: Available
                              unit: Megabytes
                            name: S0
                            performanceLevel:
                              unit: DTU
                              value: 10
                            status: Default
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Default
                                unit: Gigabytes
                          - id: 1b1ebd4d-d903-4baa-97f9-4ea675f5e928
                            includedMaxSize:
                              limit: 256000
                              status: Available
                              unit: Megabytes
                            name: S1
                            performanceLevel:
                              unit: DTU
                              value: 20
                            status: Available
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Default
                                unit: Gigabytes
                          - id: 455330e1-00cd-488b-b5fa-177c226f28b7
                            includedMaxSize:
                              limit: 256000
                              status: Available
                              unit: Megabytes
                            name: S2
                            performanceLevel:
                              unit: DTU
                              value: 50
                            status: Available
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Default
                                unit: Gigabytes
                          - id: 789681b8-ca10-4eb0-bdf2-e0b050601b40
                            includedMaxSize:
                              limit: 256000
                              status: Available
                              unit: Megabytes
                            name: S3
                            performanceLevel:
                              unit: DTU
                              value: 100
                            status: Available
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Default
                                unit: Gigabytes
                              - limit: 300
                                status: Available
                                unit: Gigabytes
                              - limit: 400
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1024
                                status: Available
                                unit: Gigabytes
                          - id: 3cf14e1a-0a5d-408c-bbc7-f63c5282f735
                            includedMaxSize:
                              limit: 256000
                              status: Available
                              unit: Megabytes
                            name: S4
                            performanceLevel:
                              unit: DTU
                              value: 200
                            reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                            status: Visible
                            supportedMaxSizes:
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 1
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 2
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 5
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 10
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 20
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 40
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 50
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 150
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 200
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 250
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 300
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 400
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 750
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 1024
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                          - id: ab69b4e3-d7cc-4aa5-87a6-f8b50615a03c
                            includedMaxSize:
                              limit: 256000
                              status: Available
                              unit: Megabytes
                            name: S6
                            performanceLevel:
                              unit: DTU
                              value: 400
                            reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                            status: Visible
                            supportedMaxSizes:
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 1
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 2
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 5
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 10
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 20
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 40
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 50
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 150
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 200
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 250
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 300
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 400
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 750
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 1024
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                          - id: b6ca0894-d2f0-4e40-99f5-0f8a93cc2437
                            includedMaxSize:
                              limit: 256000
                              status: Available
                              unit: Megabytes
                            name: S7
                            performanceLevel:
                              unit: DTU
                              value: 800
                            reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                            status: Visible
                            supportedMaxSizes:
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 1
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 2
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 5
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 10
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 20
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 40
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 50
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 150
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 200
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 250
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 300
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 400
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 750
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 1024
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                          - id: 0efa88e9-99ff-4e36-a148-8c4b20c0826c
                            includedMaxSize:
                              limit: 256000
                              status: Available
                              unit: Megabytes
                            name: S9
                            performanceLevel:
                              unit: DTU
                              value: 1600
                            reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                            status: Visible
                            supportedMaxSizes:
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 1
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 2
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 5
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 10
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 20
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 40
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 50
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 150
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 200
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 250
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 300
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 400
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 750
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 1024
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                          - id: 98100e8b-2f8a-4a81-9eb5-4d1e675c5a29
                            includedMaxSize:
                              limit: 256000
                              status: Available
                              unit: Megabytes
                            name: S12
                            performanceLevel:
                              unit: DTU
                              value: 3000
                            reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                            status: Visible
                            supportedMaxSizes:
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 1
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 2
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 5
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 10
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 20
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 40
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 50
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 150
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 200
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 250
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 300
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 400
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 750
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 1024
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                      - name: Premium
                        reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                        status: Visible
                        supportedServiceLevelObjectives:
                          - id: 7203483a-c4fb-4304-9e9f-17c71c904f5d
                            includedMaxSize:
                              limit: 512000
                              status: Available
                              unit: Megabytes
                            name: P1
                            performanceLevel:
                              unit: DTU
                              value: 125
                            reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                            status: Visible
                            supportedMaxSizes:
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 1
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 2
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 5
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 10
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 20
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 40
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 50
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 150
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 200
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 250
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 300
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 400
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 750
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 1024
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                          - id: a7d1b92d-c987-4375-b54d-2b1d0e0f5bb0
                            includedMaxSize:
                              limit: 512000
                              status: Available
                              unit: Megabytes
                            name: P2
                            performanceLevel:
                              unit: DTU
                              value: 250
                            reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                            status: Visible
                            supportedMaxSizes:
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 1
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 2
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 5
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 10
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 20
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 40
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 50
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 150
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 200
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 250
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 300
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 400
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 750
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 1024
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                          - id: afe1eee1-1f12-4e5f-9ad6-2de9c12cb4dc
                            includedMaxSize:
                              limit: 512000
                              status: Available
                              unit: Megabytes
                            name: P4
                            performanceLevel:
                              unit: DTU
                              value: 500
                            reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                            status: Visible
                            supportedMaxSizes:
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 1
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 2
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 5
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 10
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 20
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 40
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 50
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 150
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 200
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 250
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 300
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 400
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 750
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 1024
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                          - id: 43940481-9191-475a-9dba-6b505615b9aa
                            includedMaxSize:
                              limit: 512000
                              status: Available
                              unit: Megabytes
                            name: P6
                            performanceLevel:
                              unit: DTU
                              value: 1000
                            reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                            status: Visible
                            supportedMaxSizes:
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 1
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 2
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 5
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 10
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 20
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 40
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 50
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 150
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 200
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 250
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 300
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 400
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 750
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 1024
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                          - id: dd00d544-bbc0-4f61-ba60-cdce0c410288
                            includedMaxSize:
                              limit: 1048576
                              status: Available
                              unit: Megabytes
                            name: P11
                            performanceLevel:
                              unit: DTU
                              value: 1750
                            reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                            status: Visible
                            supportedMaxSizes:
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Megabytes
                              - limit: 1
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 2
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 5
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 10
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 20
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 40
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 50
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 100
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 150
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 200
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 250
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 300
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 400
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 500
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
                                status: Visible
                                unit: Gigabytes
                              - limit: 750
                                reason: Free Trial subscriptions can provision Basic, Standard S0 through S3 databases, up to 100 eDTU Basic or Standard elastic pools and DW100 through DW400 data warehouses
[...]
