swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Use these REST APIs for performing operations on OpenId Connect Provider entity associated with your Azure API Management deployment. API Management allows you to access APIs secured with token from [OpenID Connect Provider ](http://openid.net/connect/) to be accessed from the Developer Console.
  title: ApiManagementClient
  version: 2018-06-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2018-06-01-preview/apimopenidconnectproviders.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimopenidconnectproviders
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/openidConnectProviders":
    get:
      description: Lists of all the OpenId Connect Providers.
      operationId: OpenIdConnectProvider_ListByService
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: "| Field       | Supported operators    | Supported functions               |

            |-------------|------------------------|-----------------------------------|

            \r

            |name | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|

            |displayName | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith|\n"
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Lists of all the OpenId Connect Providers.
          schema:
            description: Paged OpenIdProviders list representation.
            properties:
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Page values.
                items:
                  allOf:
                    - description: The Resource definition.
                      properties:
                        id:
                          description: Resource ID.
                          readOnly: true
                          type: string
                        name:
                          description: Resource name.
                          readOnly: true
                          type: string
                        type:
                          description: Resource type for API Management resource.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: OpenId Connect Provider details.
                  properties:
                    properties:
                      description: OpenID Connect Providers Contract.
                      properties:
                        clientId:
                          description: Client ID of developer console which is the client application.
                          type: string
                        clientSecret:
                          description: Client Secret of developer console which is the client application.
                          type: string
                        description:
                          description: User-friendly description of OpenID Connect Provider.
                          type: string
                        displayName:
                          description: User-friendly OpenID Connect Provider name.
                          maxLength: 50
                          type: string
                        metadataEndpoint:
                          description: Metadata endpoint URI.
                          type: string
                      required:
                        - displayName
                        - metadataEndpoint
                        - clientId
                type: array
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - OpenidConnectProvider
      x-ms-examples:
        ApiManagementListOpenIdConnectProviders:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/openidConnectProviders/templateOpenIdConnect2
                    name: templateOpenIdConnect2
                    properties:
                      clientId: oidprovidertemplate2
                      clientSecret: oidsecretproviderTemplate2
                      description: open id provider template2
                      displayName: templateoidprovider2
                      metadataEndpoint: https://oidprovider-template2.net
                    type: Microsoft.ApiManagement/service/openidconnectproviders
      x-ms-odata: ./definitions.json#/definitions/OpenidConnectProviderContract
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/openidConnectProviders/{opid}":
    delete:
      description: Deletes specific OpenID Connect Provider of the API Management service instance.
      operationId: OpenIdConnectProvider_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Identifier of the OpenID Connect Provider.
          in: path
          maxLength: 256
          name: opid
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: OpenId Connect Provider was successfully deleted.
        "204":
          description: OpenId Connect Provider was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - OpenidConnectProvider
      x-ms-examples:
        ApiManagementDeleteOpenIdConnectProvider:
          parameters:
            If-Match: "*"
            api-version: 2018-06-01-preview
            opid: templateOpenIdConnect3
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets specific OpenID Connect Provider.
      operationId: OpenIdConnectProvider_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Identifier of the OpenID Connect Provider.
          in: path
          maxLength: 256
          name: opid
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The response body contains the specified OpenId Connect Provider entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: OpenId Connect Provider details.
            properties:
              properties:
                description: OpenID Connect Providers Contract.
                properties:
                  clientId:
                    description: Client ID of developer console which is the client application.
                    type: string
                  clientSecret:
                    description: Client Secret of developer console which is the client application.
                    type: string
                  description:
                    description: User-friendly description of OpenID Connect Provider.
                    type: string
                  displayName:
                    description: User-friendly OpenID Connect Provider name.
                    maxLength: 50
                    type: string
                  metadataEndpoint:
                    description: Metadata endpoint URI.
                    type: string
                required:
                  - displayName
                  - metadataEndpoint
                  - clientId
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - OpenidConnectProvider
      x-ms-examples:
        ApiManagementGetOpenIdConnectProvider:
          parameters:
            api-version: 2018-06-01-preview
            opid: templateOpenIdConnect2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/openidConnectProviders/templateOpenIdConnect2
                name: templateOpenIdConnect2
                properties:
                  clientId: oidprovidertemplate2
                  clientSecret: oidsecretproviderTemplate2
                  description: open id provider template2
                  displayName: templateoidprovider2
                  metadataEndpoint: https://oidprovider-template2.net
                type: Microsoft.ApiManagement/service/openidconnectproviders
    head:
      description: Gets the entity state (Etag) version of the openIdConnectProvider specified by its identifier.
      operationId: OpenIdConnectProvider_GetEntityTag
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Identifier of the OpenID Connect Provider.
          in: path
          maxLength: 256
          name: opid
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Specified openidConnectProvider entity exists and current entity state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - OpenidConnectProvider
      x-ms-examples:
        ApiManagementHeadOpenIdConnectProvider:
          parameters:
            api-version: 2018-06-01-preview
            opid: templateOpenIdConnect2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
    patch:
      description: Updates the specific OpenID Connect Provider.
      operationId: OpenIdConnectProvider_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Identifier of the OpenID Connect Provider.
          in: path
          maxLength: 256
          name: opid
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Update parameters.
          in: body
          name: parameters
          required: true
          schema:
            description: Parameters supplied to the Update OpenID Connect Provider operation.
            properties:
              properties:
                description: Parameters supplied to the Update OpenID Connect Provider operation.
                properties:
                  clientId:
                    description: Client ID of developer console which is the client application.
                    type: string
                  clientSecret:
                    description: Client Secret of developer console which is the client application.
                    type: string
                  description:
                    description: User-friendly description of OpenID Connect Provider.
                    type: string
                  displayName:
                    description: User-friendly OpenID Connect Provider name.
                    maxLength: 50
                    type: string
                  metadataEndpoint:
                    description: Metadata endpoint URI.
                    type: string
        - description: ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "204":
          description: OpenId Connect Provider was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - OpenidConnectProvider
      x-ms-examples:
        ApiManagementUpdateOpenIdConnectProvider:
          parameters:
            If-Match: "*"
            api-version: 2018-06-01-preview
            opid: templateOpenIdConnect2
            parameters:
              properties:
                clientSecret: updatedsecret
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
    put:
      description: Creates or updates the OpenID Connect Provider.
      operationId: OpenIdConnectProvider_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Identifier of the OpenID Connect Provider.
          in: path
          maxLength: 256
          name: opid
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Create parameters.
          in: body
          name: parameters
          required: true
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: OpenId Connect Provider details.
            properties:
              properties:
                description: OpenID Connect Providers Contract.
                properties:
                  clientId:
                    description: Client ID of developer console which is the client application.
                    type: string
                  clientSecret:
                    description: Client Secret of developer console which is the client application.
                    type: string
                  description:
                    description: User-friendly description of OpenID Connect Provider.
                    type: string
                  displayName:
                    description: User-friendly OpenID Connect Provider name.
                    maxLength: 50
                    type: string
                  metadataEndpoint:
                    description: Metadata endpoint URI.
                    type: string
                required:
                  - displayName
                  - metadataEndpoint
                  - clientId
        - description: ETag of the Entity. Not required when creating an entity, but required when updating an entity.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: OpenIdConnect Provider was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: OpenId Connect Provider details.
            properties:
              properties:
                description: OpenID Connect Providers Contract.
                properties:
                  clientId:
                    description: Client ID of developer console which is the client application.
                    type: string
                  clientSecret:
                    description: Client Secret of developer console which is the client application.
                    type: string
                  description:
                    description: User-friendly description of OpenID Connect Provider.
                    type: string
                  displayName:
                    description: User-friendly OpenID Connect Provider name.
                    maxLength: 50
                    type: string
                  metadataEndpoint:
                    description: Metadata endpoint URI.
                    type: string
                required:
                  - displayName
                  - metadataEndpoint
                  - clientId
        "201":
          description: OpenIdConnect Provider was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: OpenId Connect Provider details.
            properties:
              properties:
                description: OpenID Connect Providers Contract.
                properties:
                  clientId:
                    description: Client ID of developer console which is the client application.
                    type: string
                  clientSecret:
                    description: Client Secret of developer console which is the client application.
                    type: string
                  description:
                    description: User-friendly description of OpenID Connect Provider.
                    type: string
                  displayName:
                    description: User-friendly OpenID Connect Provider name.
                    maxLength: 50
                    type: string
                  metadataEndpoint:
                    description: Metadata endpoint URI.
                    type: string
                required:
                  - displayName
                  - metadataEndpoint
                  - clientId
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - OpenidConnectProvider
      x-ms-examples:
        ApiManagementCreateOpenIdConnectProvider:
          parameters:
            api-version: 2018-06-01-preview
            opid: templateOpenIdConnect3
            parameters:
              properties:
                clientId: oidprovidertemplate3
                displayName: templateoidprovider3
                metadataEndpoint: https://oidprovider-template3.net
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/openidConnectProviders/templateOpenIdConnect3
                name: templateOpenIdConnect3
                properties:
                  clientId: oidprovidertemplate3
                  displayName: templateoidprovider3
                  metadataEndpoint: https://oidprovider-template3.net
                type: Microsoft.ApiManagement/service/openidconnectproviders
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/openidConnectProviders/templateOpenIdConnect3
                name: templateOpenIdConnect3
                properties:
                  clientId: oidprovidertemplate3
                  displayName: templateoidprovider3
                  metadataEndpoint: https://oidprovider-template3.net
                type: Microsoft.ApiManagement/service/openidconnectproviders
definitions: {}
