swagger: "2.0"
schemes:
  - https
host: management.local.azurestack.external
info:
  description: The Admin KeyVault Management Client.
  title: KeyVaultManagementClient
  version: 2017-02-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/keyvault/Microsoft.KeyVault.Admin/preview/2017-02-01-preview/Quotas.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: azsadmin-Quotas
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault.Admin/locations/{location}/quotas":
    get:
      description: Get a list of all quota objects for KeyVault at a location.
      operationId: Quotas_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The location of the quota.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2017-02-01-preview
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/QuotaList"
      tags:
        - KeyVault
      x-ms-examples:
        Get a list of all quota objects for KeyVault at a location.:
          parameters:
            api-version: 2017-02-01-preview
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                nextLink: ""
                value:
                  - id: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
                    location: local
                    name: local/Unlimited
                    properties: "null"
                    type: Microsoft.KeyVault/locations/quotas
      x-ms-pageable:
        nextLinkName: null
definitions:
  Quota:
    allOf:
      - description: Base Resource Object
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: Location where resource is location.
            readOnly: true
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key value pairs.
            readOnly: true
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: KeyVault Quota.
    properties:
      properties:
        $ref: "#/definitions/QuotaProperties"
        description: Properties for keyvault quotas.
        x-ms-client-flatten: true
    type: object
  QuotaList:
    description: List of keyvault quotas.
    properties:
      nextLink:
        description: URI to the next page.
        type: string
      value:
        description: List of keyvault quotas.
        items:
          $ref: "#/definitions/Quota"
        type: array
    type: object
  QuotaProperties:
    description: Properties for keyvault quotas.
    properties: {}
    type: object
