swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MariaDB resources including servers, databases, firewall rules, VNET rules, log files and configurations with new business model.
  title: MariaDBManagementClient
  version: 2018-06-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mariadb/resource-manager/Microsoft.DBforMariaDB/preview/2018-06-01-preview/mariadb.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: mariadb
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: The API version to use for the request.
    in: query
    name: api-version
    required: true
    type: string
  ConfigurationNameParameter:
    description: The name of the server configuration.
    in: path
    name: configurationName
    required: true
    type: string
    x-ms-parameter-location: method
  DatabaseNameParameter:
    description: The name of the database.
    in: path
    name: databaseName
    required: true
    type: string
    x-ms-parameter-location: method
  FirewallRuleNameParameter:
    description: The name of the server firewall rule.
    in: path
    name: firewallRuleName
    required: true
    type: string
    x-ms-parameter-location: method
  LocationNameParameter:
    description: The name of the location.
    in: path
    name: locationName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupParameter:
    description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SecurityAlertPolicyNameParameter:
    description: The name of the security alert policy.
    enum:
      - default
    in: path
    name: securityAlertPolicyName
    required: true
    type: string
    x-ms-parameter-location: method
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The subscription ID that identifies an Azure subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
  virtualNetworkRuleNameParameter:
    description: The name of the virtual network rule.
    in: path
    name: virtualNetworkRuleName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.DBforMariaDB/operations:
    get:
      description: Lists all of the available REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationListResult"
      tags:
        - Operations
      x-ms-examples:
        OperationList:
          parameters:
            api-version: 2018-06-01-preview
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Returns the list of Performance Tiers available.
                      operation: List Performance Tiers
                      provider: Microsoft DB for MariaDB
                      resource: Performance Tiers
                    name: Microsoft.DBforMariaDB/locations/performanceTiers/read
                  - display:
                      description: Return the list of firewall rules for a server or gets the properties for the specified firewall rule.
                      operation: List/Get Firewall Rules
                      provider: Microsoft DB for MariaDB
                      resource: Firewall Rules
                    name: Microsoft.DBforMariaDB/servers/firewallRules/read
                  - display:
                      description: Creates a firewall rule with the specified parameters or update an existing rule.
                      operation: Create/Update Firewall Rule
                      provider: Microsoft DB for MariaDB
                      resource: Firewall Rules
                    name: Microsoft.DBforMariaDB/servers/firewallRules/write
                  - display:
                      description: Deletes an existing firewall rule.
                      operation: Delete Firewall Rule
                      provider: Microsoft DB for MariaDB
                      resource: Firewall Rules
                    name: Microsoft.DBforMariaDB/servers/firewallRules/delete
                  - display:
                      description: Return the list of servers or gets the properties for the specified server.
                      operation: List/Get MariaDB Servers
                      provider: Microsoft DB for MariaDB
                      resource: MariaDB Server
                    name: Microsoft.DBforMariaDB/servers/read
                  - display:
                      description: Creates a server with the specified parameters or update the properties or tags for the specified server.
                      operation: Create/Update MariaDB Server
                      provider: Microsoft DB for MariaDB
                      resource: MariaDB Server
                    name: Microsoft.DBforMariaDB/servers/write
                  - display:
                      description: Deletes an existing server.
                      operation: Delete MariaDB Server
                      provider: Microsoft DB for MariaDB
                      resource: MariaDB Server
                    name: Microsoft.DBforMariaDB/servers/delete
                  - display:
                      description: Returns the list of Performance Tiers available.
                      operation: List Performance Tiers
                      provider: Microsoft DB for MariaDB
                      resource: Performance Tiers
                    name: Microsoft.DBforMariaDB/performanceTiers/read
                  - display:
                      description: Return the recoverable MariaDB Server info
                      operation: Get Recoverable MariaDB Server info
                      provider: Microsoft DB for MariaDB
                      resource: Recoverable MariaDB Server
                    name: Microsoft.DBforMariaDB/servers/recoverableServers/read
                  - display:
                      description: Return types of metrics that are available for databases
                      operation: Get database metric definitions
                      provider: Microsoft DB for MariaDB
                      resource: Database Metric Definition
                    name: Microsoft.DBforMariaDB/servers/providers/Microsoft.Insights/metricDefinitions/read
                    properties:
                      serviceSpecification:
                        metricSpecifications:
                          - aggregationType: Average
                            displayDescription: CPU percent
                            displayName: CPU percent
                            fillGapWithZero: true
                            name: cpu_percent
                            unit: Percent
                          - aggregationType: Average
                            displayDescription: Memory percent
                            displayName: Memory percent
                            fillGapWithZero: true
                            name: memory_percent
                            unit: Percent
                          - aggregationType: Average
                            displayDescription: IO percent
                            displayName: IO percent
                            fillGapWithZero: true
                            name: io_consumption_percent
                            unit: Percent
                          - aggregationType: Average
                            displayDescription: Storage percentage
                            displayName: Storage percentage
                            name: storage_percent
                            unit: Percent
                          - aggregationType: Average
                            displayDescription: Storage used
                            displayName: Storage used
                            name: storage_used
                            unit: Bytes
                          - aggregationType: Average
                            displayDescription: Storage limit
                            displayName: Storage limit
                            name: storage_limit
                            unit: Bytes
                          - aggregationType: Average
                            displayDescription: Server Log storage percent
                            displayName: Server Log storage percent
                            name: serverlog_storage_percent
                            unit: Percent
                          - aggregationType: Average
                            displayDescription: Server Log storage used
                            displayName: Server Log storage used
                            name: serverlog_storage_usage
                            unit: Bytes
                          - aggregationType: Average
                            displayDescription: Server Log storage limit
                            displayName: Server Log storage limit
                            name: serverlog_storage_limit
                            unit: Bytes
                          - aggregationType: Average
                            displayDescription: Total active connections
                            displayName: Total active connections
                            fillGapWithZero: true
                            name: active_connections
                            unit: Count
                          - aggregationType: Average
                            displayDescription: Total failed connections
                            displayName: Total failed connections
                            fillGapWithZero: true
                            name: connections_failed
                            unit: Count
                          - aggregationType: Average
                            displayDescription: Replication lag in seconds
                            displayName: Replication lag in seconds
                            fillGapWithZero: true
                            name: seconds_behind_master
                            unit: Count
                  - display:
                      description: Gets the disagnostic setting for the resource
                      operation: Read diagnostic setting
                      provider: Microsoft DB for MariaDB
                      resource: Database Metric Definition
                    name: Microsoft.DBforMariaDB/servers/providers/Microsoft.Insights/diagnosticSettings/read
                  - display:
                      description: Creates or updates the diagnostic setting for the resource
                      operation: Write diagnostic setting
                      provider: Microsoft DB for MariaDB
                      resource: Database Metric Definition
                    name: Microsoft.DBforMariaDB/servers/providers/Microsoft.Insights/diagnosticSettings/write
  "/subscriptions/{subscriptionId}/providers/Microsoft.DBforMariaDB/checkNameAvailability":
    post:
      description: Check the availability of name for resource
      operationId: CheckNameAvailability_Execute
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The required parameters for checking if resource name is available.
          in: body
          name: nameAvailabilityRequest
          required: true
          schema:
            $ref: "#/definitions/NameAvailabilityRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/NameAvailability"
      tags:
        - CheckNameAvailability
      x-ms-examples:
        NameAvailability:
          parameters:
            api-version: 2018-06-01-preview
            nameAvailabilityRequest:
              name: name1
              type: Microsoft.DBforMariaDB
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                message: ""
                nameAvailable: true
                reason: ""
  "/subscriptions/{subscriptionId}/providers/Microsoft.DBforMariaDB/locations/{locationName}/performanceTiers":
    get:
      description: List all the performance tiers at specified location in a given subscription.
      operationId: LocationBasedPerformanceTier_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/LocationNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/PerformanceTierListResult"
      tags:
        - LocationBasedPerformanceTier
      x-ms-examples:
        PerformanceTiersList:
          parameters:
            api-version: 2018-06-01-preview
            locationName: WestUS
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                  - id: Basic
                    serviceLevelObjectives:
                      - edition: Basic
                        hardwareGeneration: Gen5
                        id: B_Gen5_1
                        maxBackupRetentionDays: 35
                        maxStorageMB: 1048576
                        minBackupRetentionDays: 7
                        minStorageMB: 5120
                        vCore: 1
                      - edition: Basic
                        hardwareGeneration: Gen5
                        id: B_Gen5_2
                        maxBackupRetentionDays: 35
                        maxStorageMB: 1048576
                        minBackupRetentionDays: 7
                        minStorageMB: 5120
                        vCore: 2
                  - id: GeneralPurpose
                    serviceLevelObjectives:
                      - edition: GeneralPurpose
                        hardwareGeneration: Gen5
                        id: GP_Gen5_2
                        maxBackupRetentionDays: 35
                        maxStorageMB: 2097152
                        minBackupRetentionDays: 7
                        minStorageMB: 5120
                        vCore: 2
                      - edition: GeneralPurpose
                        hardwareGeneration: Gen5
                        id: GP_Gen5_4
                        maxBackupRetentionDays: 35
                        maxStorageMB: 2097152
                        minBackupRetentionDays: 7
                        minStorageMB: 5120
                        vCore: 4
                      - edition: GeneralPurpose
                        hardwareGeneration: Gen5
                        id: GP_Gen5_8
                        maxBackupRetentionDays: 35
                        maxStorageMB: 2097152
                        minBackupRetentionDays: 7
                        minStorageMB: 5120
                        vCore: 8
                      - edition: GeneralPurpose
                        hardwareGeneration: Gen5
                        id: GP_Gen5_16
                        maxBackupRetentionDays: 35
                        maxStorageMB: 2097152
                        minBackupRetentionDays: 7
                        minStorageMB: 5120
                        vCore: 16
                      - edition: GeneralPurpose
                        hardwareGeneration: Gen5
                        id: GP_Gen5_32
                        maxBackupRetentionDays: 35
                        maxStorageMB: 2097152
                        minBackupRetentionDays: 7
                        minStorageMB: 5120
                        vCore: 32
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.DBforMariaDB/servers":
    get:
      description: List all the servers in a given subscription.
      operationId: Servers_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ServerListResult"
      tags:
        - Servers
      x-ms-examples:
        ServerList:
          parameters:
            api-version: 2018-06-01-preview
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1
                    location: westus
                    name: mariadbtestsvc1
                    properties:
                      administratorLogin: testuser
                      earliestRestoreDate: 2018-02-28T23:56:02.627+00:00
                      fullyQualifiedDomainName: mariadbtestsvc1.mariadb.database.azure.com
                      sslEnforcement: Enabled
                      storageProfile:
                        backupRetentionDays: 7
                        geoRedundantBackup: Disabled
                        storageMB: 5120
                      userVisibleState: Ready
                      version: "5.7"
                    sku:
                      capacity: 2
                      family: Gen5
                      name: B_Gen5_2
                      tier: Basic
                    type: Microsoft.DBforMariaDB/servers
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtstsvc2
                    location: westus
                    name: mariadbtstsvc2
                    properties:
                      administratorLogin: testuser
                      earliestRestoreDate: 2018-02-28T23:56:54.3+00:00
                      fullyQualifiedDomainName: mariadbtstsvc2.mariadb.database.azure.com
                      sslEnforcement: Enabled
                      storageProfile:
                        backupRetentionDays: 7
                        geoRedundantBackup: Disabled
                        storageMB: 5120
                      userVisibleState: Ready
                      version: "5.7"
                    sku:
                      capacity: 2
                      family: Gen5
                      name: GP_Gen5_2
                      tier: GeneralPurpose
                    type: Microsoft.DBforMariaDB/servers
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg1/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc3
                    location: westus
                    name: mariadbtestsvc3
                    properties:
                      administratorLogin: testuser
                      earliestRestoreDate: 2018-02-28T23:59:44.847+00:00
                      fullyQualifiedDomainName: mariadbtestsvc3.mariadb.database.azure.com
                      sslEnforcement: Enabled
                      storageProfile:
                        backupRetentionDays: 35
                        geoRedundantBackup: Enabled
                        storageMB: 102400
                      userVisibleState: Ready
                      version: "5.7"
                    sku:
                      capacity: 4
                      family: Gen5
                      name: GP_Gen5_4
                      tier: GeneralPurpose
                    type: Microsoft.DBforMariaDB/servers
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers":
    get:
      description: List all the servers in a given resource group.
      operationId: Servers_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ServerListResult"
      tags:
        - Servers
      x-ms-examples:
        ServerListByResourceGroup:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: testrg
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1
                    location: westus
                    name: mariadbtestsvc1
                    properties:
                      administratorLogin: testuser
                      earliestRestoreDate: 2018-03-07T18:17:35.729321+00:00
                      fullyQualifiedDomainName: mariadbtestsvc1.mariadb.database.azure.com
                      sslEnforcement: Enabled
                      storageProfile:
                        backupRetentionDays: 7
                        geoRedundantBackup: Disabled
                        storageMB: 5120
                      userVisibleState: Ready
                      version: "5.7"
                    sku:
                      capacity: 1
                      family: Gen5
                      name: B_Gen5_1
                      tier: Basic
                    type: Microsoft.DBforMariaDB/servers
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtstsvc2
                    location: westus
                    name: mariadbtstsvc2
                    properties:
                      administratorLogin: testuser
                      earliestRestoreDate: 2018-03-07T18:17:35.729321+00:00
                      fullyQualifiedDomainName: mariadbtstsvc2.mariadb.database.azure.com
                      sslEnforcement: Enabled
                      storageProfile:
                        backupRetentionDays: 7
                        geoRedundantBackup: Disabled
                        storageMB: 5120
                      userVisibleState: Ready
                      version: "5.7"
                    sku:
                      capacity: 2
                      family: Gen5
                      name: GP_Gen5_2
                      tier: GeneralPurpose
                    type: Microsoft.DBforMariaDB/servers
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}":
    delete:
      description: Deletes a server.
      operationId: Servers_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: NoContent
      tags:
        - Servers
      x-ms-examples:
        ServerDelete:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets information about a server.
      operationId: Servers_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Server"
      tags:
        - Servers
      x-ms-examples:
        ServerGet:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: testrg
            serverName: mariadbtestsvc4
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc4
                location: westus
                name: mariadbtestsvc4
                properties:
                  administratorLogin: cloudsa
                  earliestRestoreDate: 2018-03-14T18:02:41.577+00:00
                  fullyQualifiedDomainName: mariadbtestsvc4.mariadb.database.azure.com
                  masterServerId: ""
                  replicaCapacity: 5
                  replicationRole: None
                  sslEnforcement: Enabled
                  storageProfile:
                    backupRetentionDays: 7
                    geoRedundantBackup: Enabled
                    storageMB: 128000
                  userVisibleState: Ready
                  version: "5.7"
                sku:
                  capacity: 2
                  family: Gen5
                  name: GP_Gen5_2
                  tier: GeneralPurpose
                tags:
                  ElasticServer: "1"
                type: Microsoft.DBforMariaDB/servers
    patch:
      description: Updates an existing server. The request body can contain one to many of the properties present in the normal server definition.
      operationId: Servers_Update
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The required parameters for updating a server.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ServerUpdateParameters"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Server"
        "202":
          description: Accepted
      tags:
        - Servers
      x-ms-examples:
        ServerUpdate:
          parameters:
            api-version: 2018-06-01-preview
            parameters:
              properties:
                administratorLoginPassword: newpa$$w0rd
                sslEnforcement: Disabled
            resourceGroupName: testrg
            serverName: mariadbtestsvc4
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc4
                location: westus
                name: mariadbtestsvc4
                properties:
                  administratorLogin: cloudsa
                  earliestRestoreDate: 2018-03-14T18:02:41.577+00:00
                  fullyQualifiedDomainName: mariadbtestsvc4.mariadb.database.azure.com
                  sslEnforcement: Disabled
                  storageProfile:
                    backupRetentionDays: 7
                    geoRedundantBackup: Enabled
                    storageMB: 128000
                  userVisibleState: Ready
                  version: "5.7"
                sku:
                  capacity: 2
                  family: Gen5
                  name: GP_Gen5_2
                  tier: GeneralPurpose
                tags:
                  ElasticServer: "1"
                type: Microsoft.DBforMariaDB/servers
            "202": {}
      x-ms-long-running-operation: true
    put:
      description: Creates a new server or updates an existing server. The update action will overwrite the existing server.
      operationId: Servers_Create
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The required parameters for creating or updating a server.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ServerForCreate"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Server"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Server"
        "202":
          description: Accepted
      tags:
        - Servers
      x-ms-examples:
        Create a database as a point in time restore:
          parameters:
            api-version: 2018-06-01-preview
            parameters:
              location: brazilsouth
              properties:
                createMode: PointInTimeRestore
                restorePointInTime: 2017-12-14T00:00:37.467Z
                sourceServerId: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/SourceResourceGroup/providers/Microsoft.DBforMariaDB/servers/sourceserver
              sku:
                capacity: 2
                family: Gen5
                name: GP_Gen5_2
                tier: GeneralPurpose
              tags:
                ElasticServer: "1"
            resourceGroupName: TargetResourceGroup
            serverName: targetserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/targetserver
                location: brazilsouth
                name: targetserver
                properties:
                  administratorLogin: cloudsa
                  earliestRestoreDate: 2018-03-14T18:02:41.577+00:00
                  fullyQualifiedDomainName: targetserver.mariadb.database.azure.com
                  sslEnforcement: Enabled
                  storageProfile:
                    backupRetentionDays: 7
                    geoRedundantBackup: Enabled
                    storageMB: 128000
                  userVisibleState: Ready
                  version: "5.7"
                sku:
                  capacity: 2
                  family: Gen5
                  name: GP_Gen5_2
                  tier: GeneralPurpose
                tags:
                  elasticServer: "1"
                type: Microsoft.DBforMariaDB/servers
            "201":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/targetserver
                location: brazilsouth
                name: targetserver
                properties:
                  administratorLogin: cloudsa
                  earliestRestoreDate: 2018-03-14T18:02:41.577+00:00
                  fullyQualifiedDomainName: targetserver.mariadb.database.azure.com
                  sslEnforcement: Enabled
                  storageProfile:
                    backupRetentionDays: 7
                    geoRedundantBackup: Enabled
                    storageMB: 128000
                  userVisibleState: Ready
                  version: "5.7"
                sku:
                  capacity: 2
                  family: Gen5
                  name: GP_Gen5_2
                  tier: GeneralPurpose
                tags:
                  ElasticServer: "1"
                type: Microsoft.DBforMariaDB/servers
            "202": {}
        Create a new server:
          parameters:
            api-version: 2018-06-01-preview
            parameters:
              location: westus
              properties:
                administratorLogin: cloudsa
                administratorLoginPassword: pass$w0rd
                createMode: Default
                sslEnforcement: Enabled
                storageProfile:
                  backupRetentionDays: 7
                  geoRedundantBackup: Enabled
                  storageMB: 128000
              sku:
                capacity: 2
                family: Gen5
                name: GP_Gen5_2
                tier: GeneralPurpose
              tags:
                ElasticServer: "1"
            resourceGroupName: testrg
            serverName: mariadbtestsvc4
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc4
                location: westus
                name: mariadbtestsvc4
                properties:
                  administratorLogin: cloudsa
                  earliestRestoreDate: 2018-03-14T18:02:41.577+00:00
                  fullyQualifiedDomainName: mariadbtestsvc4.mariadb.database.azure.com
                  sslEnforcement: Enabled
                  storageProfile:
                    backupRetentionDays: 7
                    geoRedundantBackup: Enabled
                    storageMB: 128000
                  userVisibleState: Ready
                  version: "5.7"
                sku:
                  capacity: 2
                  family: Gen5
                  name: GP_Gen5_2
                  tier: GeneralPurpose
                tags:
                  elasticServer: "1"
                type: Microsoft.DBforMariaDB/servers
            "201":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc4
                location: westus
                name: mariadbtestsvc4
                properties:
                  administratorLogin: cloudsa
                  earliestRestoreDate: 2018-03-14T18:02:41.577+00:00
                  fullyQualifiedDomainName: mariadbtestsvc4.mariadb.database.azure.com
                  sslEnforcement: Enabled
                  storageProfile:
                    backupRetentionDays: 7
                    geoRedundantBackup: Enabled
                    storageMB: 128000
                  userVisibleState: Ready
                  version: "5.7"
                sku:
                  capacity: 2
                  family: Gen5
                  name: GP_Gen5_2
                  tier: GeneralPurpose
                tags:
                  ElasticServer: "1"
                type: Microsoft.DBforMariaDB/servers
            "202": {}
        Create a replica server:
          parameters:
            api-version: 2018-06-01-preview
            parameters:
              location: westus
              properties:
                createMode: Replica
                sourceServerId: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/MasterResourceGroup/providers/Microsoft.DBforMariaDB/servers/masterserver
            resourceGroupName: TargetResourceGroup
            serverName: targetserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TargetResourceGroup/providers/Microsoft.DBforMariaDB/servers/targetserver
                location: westus
                name: targetserver
                properties:
                  administratorLogin: cloudsa
                  earliestRestoreDate: 2018-03-14T18:02:41.577+00:00
                  fullyQualifiedDomainName: targetserver.mariadb.database.azure.com
                  masterServerId: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/MasterResourceGroup/providers/Microsoft.DBforMariaDB/servers/masterserver
                  replicaCapacity: 0
                  replicationRole: Replica
                  sslEnforcement: Enabled
                  storageProfile:
                    backupRetentionDays: 14
                    geoRedundantBackup: Enabled
                    storageMB: 128000
                  userVisibleState: Ready
                  version: "5.7"
                sku:
                  capacity: 2
                  family: Gen5
                  name: GP_Gen5_2
                  tier: GeneralPurpose
                tags:
                  ElasticServer: "1"
                type: Microsoft.DBforMariaDB/servers
            "201":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TargetResourceGroup/providers/Microsoft.DBforMariaDB/servers/targetserver
                location: westus
                name: targetserver
                properties:
                  administratorLogin: cloudsa
                  earliestRestoreDate: 2018-03-14T18:02:41.577+00:00
                  fullyQualifiedDomainName: targetserver.mariadb.database.azure.com
                  masterServerId: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/MasterResourceGroup/providers/Microsoft.DBforMariaDB/servers/masterserver
                  replicaCapacity: 0
                  replicationRole: Replica
                  sslEnforcement: Enabled
                  storageProfile:
                    backupRetentionDays: 14
                    geoRedundantBackup: Enabled
                    storageMB: 128000
                  userVisibleState: Ready
                  version: "5.7"
                sku:
                  capacity: 2
                  family: Gen5
                  name: GP_Gen5_2
                  tier: GeneralPurpose
                tags:
                  ElasticServer: "1"
                type: Microsoft.DBforMariaDB/servers
            "202": {}
        "Create a server as a geo restore ":
          parameters:
            api-version: 2018-06-01-preview
            parameters:
              location: westus
              properties:
                createMode: GeoRestore
                sourceServerId: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/SourceResourceGroup/providers/Microsoft.DBforMariaDB/servers/sourceserver
              sku:
                capacity: 2
                family: Gen5
                name: GP_Gen5_2
                tier: GeneralPurpose
              tags:
                ElasticServer: "1"
            resourceGroupName: TargetResourceGroup
            serverName: targetserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/targetserver
                location: westus
                name: targetserver
                properties:
                  administratorLogin: cloudsa
                  earliestRestoreDate: 2018-03-14T18:02:41.577+00:00
                  fullyQualifiedDomainName: targetserver.mariadb.database.azure.com
                  sslEnforcement: Enabled
                  storageProfile:
                    backupRetentionDays: 14
                    geoRedundantBackup: Enabled
                    storageMB: 128000
                  userVisibleState: Ready
                  version: "5.7"
                sku:
                  capacity: 2
                  family: Gen5
                  name: GP_Gen5_2
                  tier: GeneralPurpose
                tags:
                  elasticServer: "1"
                type: Microsoft.DBforMariaDB/servers
            "201":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/targetserver
                location: westus
                name: targetserver
                properties:
                  administratorLogin: cloudsa
                  earliestRestoreDate: 2018-03-14T18:02:41.577+00:00
                  fullyQualifiedDomainName: targetserver.mariadb.database.azure.com
                  sslEnforcement: Enabled
                  storageProfile:
                    backupRetentionDays: 14
                    geoRedundantBackup: Enabled
                    storageMB: 128000
                  userVisibleState: Ready
                  version: "5.7"
                sku:
                  capacity: 2
                  family: Gen5
                  name: GP_Gen5_2
                  tier: GeneralPurpose
                tags:
                  ElasticServer: "1"
                type: Microsoft.DBforMariaDB/servers
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/configurations":
    get:
      description: List all the configurations in a given server.
      operationId: Configurations_ListByServer
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ConfigurationListResult"
      tags:
        - Configurations
      x-ms-examples:
        ConfigurationList:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: testrg
            serverName: mariadbtestsvc1
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/event_scheduler
                    name: event_scheduler
                    properties:
                      allowedValues: ON,OFF,DISABLED
                      dataType: Enumeration
                      defaultValue: OFF
                      description: Indicates the status of the Event Scheduler.
                      source: system-default
                      value: OFF
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/div_precision_increment
                    name: div_precision_increment
                    properties:
                      allowedValues: 0-30
                      dataType: Integer
                      defaultValue: "4"
                      description: Number of digits by which to increase the scale of the result of division operations.
                      source: system-default
                      value: "4"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/group_concat_max_len
                    name: group_concat_max_len
                    properties:
                      allowedValues: 4-16777216
                      dataType: Integer
                      defaultValue: "1024"
                      description: Maximum allowed result length in bytes for the GROUP_CONCAT().
                      source: system-default
                      value: "1024"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/innodb_adaptive_hash_index
                    name: innodb_adaptive_hash_index
                    properties:
                      allowedValues: ON,OFF
                      dataType: Enumeration
                      defaultValue: ON
                      description: Whether innodb adaptive hash indexes are enabled or disabled.
                      source: system-default
                      value: ON
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/innodb_lock_wait_timeout
                    name: innodb_lock_wait_timeout
                    properties:
                      allowedValues: 1-3600
                      dataType: Integer
                      defaultValue: "50"
                      description: The length of time in seconds an InnoDB transaction waits for a row lock before giving up.
                      source: system-default
                      value: "50"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/interactive_timeout
                    name: interactive_timeout
                    properties:
                      allowedValues: 10-1800
                      dataType: Integer
                      defaultValue: "1800"
                      description: Number of seconds the server waits for activity on an interactive connection before closing it.
                      source: system-default
                      value: "1800"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/log_queries_not_using_indexes
                    name: log_queries_not_using_indexes
                    properties:
                      allowedValues: ON,OFF
                      dataType: Enumeration
                      defaultValue: OFF
                      description: Logs queries that are expected to retrieve all rows to slow query log.
                      source: system-default
                      value: OFF
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/log_throttle_queries_not_using_indexes
                    name: log_throttle_queries_not_using_indexes
                    properties:
                      allowedValues: 0-4294967295
                      dataType: Integer
                      defaultValue: "0"
                      description: Limits the number of such queries per minute that can be written to the slow query log.
                      source: system-default
                      value: "0"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/log_slow_admin_statements
                    name: log_slow_admin_statements
                    properties:
                      allowedValues: ON,OFF
                      dataType: Enumeration
                      defaultValue: OFF
                      description: Include slow administrative statements in the statements written to the slow query log.
                      source: system-default
                      value: OFF
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/log_slow_slave_statements
                    name: log_slow_slave_statements
                    properties:
                      allowedValues: ON,OFF
                      dataType: Enumeration
                      defaultValue: OFF
                      description: When the slow query log is enabled, this variable enables logging for queries that have taken more than long_query_time seconds to execute on the slave.
                      source: system-default
                      value: OFF
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/log_bin_trust_function_creators
                    name: log_bin_trust_function_creators
                    properties:
                      allowedValues: ON,OFF
                      dataType: Enumeration
                      defaultValue: OFF
                      description: This variable applies when binary logging is enabled. It controls whether stored function creators can be trusted not to create stored functions that will cause unsafe events to be written to the binary log.
                      source: system-default
                      value: OFF
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/long_query_time
                    name: long_query_time
                    properties:
                      allowedValues: 0-1E+100
                      dataType: Numeric
                      defaultValue: "10"
                      description: If a query takes longer than this many seconds, the server increments the Slow_queries status variable.
                      source: system-default
                      value: "10"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/min_examined_row_limit
                    name: min_examined_row_limit
                    properties:
                      allowedValues: 0-18446744073709551615
                      dataType: Integer
                      defaultValue: "0"
                      description: Can be used to cause queries which examine fewer than the stated number of rows not to be logged.
                      source: system-default
                      value: "0"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/slow_query_log
                    name: slow_query_log
                    properties:
                      allowedValues: ON,OFF
                      dataType: Enumeration
                      defaultValue: OFF
                      description: Enable or disable the slow query log
                      source: system-default
                      value: OFF
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/sql_mode
                    name: sql_mode
                    properties:
                      allowedValues: ",ALLOW_INVALID_DATES,ANSI_QUOTES,ERROR_FOR_DIVISION_BY_ZERO,HIGH_NOT_PRECEDENCE,IGNORE_SPACE,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_BACKSLASH_ESCAPES,NO_DIR_IN_CREATE,NO_ENGINE_SUBSTITUTION,NO_FIELD_OPTIONS,NO_KEY_OPTIONS,NO_TABLE_OPTIONS,NO_UNSIGNED_SUBTRACTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ONLY_FULL_GROUP_BY,PAD_CHAR_TO_FULL_LENGTH,PIPES_AS_CONCAT,REAL_AS_FLOAT,STRICT_ALL_TABLES,STRICT_TRANS_TABLES"
                      dataType: Set
                      defaultValue: ""
                      description: The current server SQL mode.
                      source: system-default
                      value: ""
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/wait_timeout
                    name: wait_timeout
                    properties:
                      allowedValues: 60-86400
                      dataType: Integer
                      defaultValue: "120"
                      description: The number of seconds the server waits for activity on a noninteractive connection before closing it.
                      source: system-default
                      value: "120"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/net_read_timeout
                    name: net_read_timeout
                    properties:
                      allowedValues: 10-3600
                      dataType: Integer
                      defaultValue: "120"
                      description: The number of seconds the server waits for network reading action, especially for LOAD DATA LOCAL FILE.
                      source: system-default
                      value: "120"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/net_write_timeout
                    name: net_write_timeout
                    properties:
                      allowedValues: 10-3600
                      dataType: Integer
                      defaultValue: "240"
                      description: The number of seconds the server waits for network writing action, especially for LOAD DATA LOCAL FILE.
                      source: system-default
                      value: "240"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/server_id
                    name: server_id
                    properties:
                      allowedValues: 1000-4294967295
                      dataType: Integer
                      defaultValue: "1000"
                      description: The server ID, used in replication to give each master and slave a unique identity.
                      source: user-override
                      value: "1381286943"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/max_allowed_packet
                    name: max_allowed_packet
                    properties:
                      allowedValues: 1024-1073741824
                      dataType: Integer
                      defaultValue: "536870912"
                      description: The maximum size of one packet or any generated/intermediate string, or any parameter sent by the mariadb_stmt_send_long_data() C API function.
                      source: system-default
                      value: "536870912"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/slave_net_timeout
                    name: slave_net_timeout
                    properties:
                      allowedValues: 30-3600
                      dataType: Integer
                      defaultValue: "60"
                      description: The number of seconds to wait for more data from the master before the slave considers the connection broken, aborts the read, and tries to reconnect.
                      source: system-default
                      value: "60"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/time_zone
                    name: time_zone
                    properties:
                      allowedValues: "[+|-][0]{0,1}[0-9]:[0-5][0-9]|[+|-][1][0-2]:[0-5][0-9]|SYSTEM"
                      dataType: String
                      defaultValue: SYSTEM
                      description: The server time zone
                      source: system-default
                      value: SYSTEM
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/binlog_group_commit_sync_delay
                    name: binlog_group_commit_sync_delay
                    properties:
                      allowedValues: 0,11-1000000
                      dataType: Integer
                      defaultValue: "1000"
                      description: Controls how many microseconds the binary log commit waits before synchronizing the binary log file to disk.
                      source: system-default
                      value: "1000"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/binlog_group_commit_sync_no_delay_count
                    name: binlog_group_commit_sync_no_delay_count
                    properties:
                      allowedValues: 0-1000000
                      dataType: Integer
                      defaultValue: "0"
                      description: The maximum number of transactions to wait for before aborting the current delay as specified by binlog-group-commit-sync-delay.
                      source: system-default
                      value: "0"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/character_set_server
                    name: character_set_server
                    properties:
                      allowedValues: BIG5,DEC8,CP850,HP8,KOI8R,LATIN1,LATIN2,SWE7,ASCII,UJIS,SJIS,HEBREW,TIS620,EUCKR,KOI8U,GB2312,GREEK,CP1250,GBK,LATIN5,ARMSCII8,UTF8,UCS2,CP866,KEYBCS2,MACCE,MACROMAN,CP852,LATIN7,UTF8MB4,CP1251,UTF16,CP1256,CP1257,UTF32,BINARY,GEOSTD8,CP932,EUCJPMS
                      dataType: Enumeration
                      defaultValue: latin1
                      description: Use charset_name as the default server character set.
                      source: system-default
                      value: latin1
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/join_buffer_size
                    name: join_buffer_size
                    properties:
                      allowedValues: 128-2097152
                      dataType: Integer
                      defaultValue: "262144"
                      description: The minimum size of the buffer that is used for plain index scans, range index scans, and joins that do not use indexes and thus perform full table scans.
                      source: system-default
                      value: "262144"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/table_open_cache
                    name: table_open_cache
                    properties:
                      allowedValues: 1-4000
                      dataType: Integer
                      defaultValue: "2000"
                      description: The number of open tables for all threads.
                      source: system-default
                      value: "2000"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/lower_case_table_names
                    name: lower_case_table_names
                    properties:
                      allowedValues: 1,2
                      dataType: Enumeration
                      defaultValue: "1"
                      description: If set to 1, table names are stored in lowercase on disk and comparisons are not case sensitive. If set to 2, table names are stored as given but compared in lowercase.
                      source: system-default
                      value: "1"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/slave_compressed_protocol
                    name: slave_compressed_protocol
                    properties:
                      allowedValues: ON,OFF
                      dataType: Enumeration
                      defaultValue: OFF
                      description: This option places an upper limit on the total size in bytes of all relay logs on the slave.
                      source: system-default
                      value: OFF
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/innodb_io_capacity
                    name: innodb_io_capacity
                    properties:
                      allowedValues: 100-1500
                      dataType: Integer
                      defaultValue: "200"
                      description: Sets an upper limit on I/O activity performed by InnoDB background tasks, such as flushing pages from the buffer pool and merging data from the change buffer.
                      source: system-default
                      value: "200"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/innodb_read_io_threads
                    name: innodb_read_io_threads
                    properties:
                      allowedValues: 1-64
                      dataType: Integer
                      defaultValue: "4"
                      description: The number of I/O threads for read operations in InnoDB.
                      source: system-default
                      value: "4"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/innodb_thread_concurrency
                    name: innodb_thread_concurrency
                    properties:
                      allowedValues: 0-1000
                      dataType: Integer
                      defaultValue: "0"
                      description: InnoDB tries to keep the number of operating system threads concurrently inside InnoDB less than or equal to the limit given by this variable.
                      source: system-default
                      value: "0"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/innodb_write_io_threads
                    name: innodb_write_io_threads
                    properties:
                      allowedValues: 1-64
                      dataType: Integer
                      defaultValue: "4"
                      description: The number of I/O threads for write operations in InnoDB.
                      source: system-default
                      value: "4"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/innodb_page_cleaners
                    name: innodb_page_cleaners
                    properties:
                      allowedValues: 1-64
                      dataType: Integer
                      defaultValue: "4"
                      description: The number of page cleaner threads that flush dirty pages from buffer pool instances.
                      source: system-default
                      value: "4"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/innodb_online_alter_log_max_size
                    name: innodb_online_alter_log_max_size
                    properties:
                      allowedValues: 65536-2147483648
                      dataType: Integer
                      defaultValue: "134217728"
                      description: Specifies an upper limit on the size of the temporary log files used during online DDL operations for InnoDB tables.
                      source: system-default
                      value: "134217728"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/init_connect
                    name: init_connect
                    properties:
                      allowedValues: ""
                      dataType: String
                      defaultValue: ""
                      description: A string to be executed by the server for each client that connects.
                      source: system-default
                      value: ""
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/tx_isolation
                    name: tx_isolation
                    properties:
                      allowedValues: READ-UNCOMMITTED,READ-COMMITTED,REPEATABLE-READ,SERIALIZABLE
                      dataType: Enumeration
                      defaultValue: REPEATABLE-READ
                      description: The default transaction isolation level.
                      source: system-default
                      value: REPEATABLE-READ
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/eq_range_index_dive_limit
                    name: eq_range_index_dive_limit
                    properties:
                      allowedValues: 0-4294967295
                      dataType: Integer
                      defaultValue: "200"
                      description: This variable indicates the number of equality ranges in an equality comparison condition when the optimizer should switch from using index dives to index statistics in estimating the number of qualifying rows.
                      source: system-default
                      value: "200"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/innodb_old_blocks_pct
                    name: innodb_old_blocks_pct
                    properties:
                      allowedValues: 5-95
                      dataType: Integer
                      defaultValue: "37"
                      description: Specifies the approximate percentage of the InnoDB buffer pool used for the old block sublist.
                      source: system-default
                      value: "37"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/innodb_old_blocks_time
                    name: innodb_old_blocks_time
                    properties:
                      allowedValues: 0-4294967295
                      dataType: Integer
                      defaultValue: "1000"
                      description: Non-zero values protect against the buffer pool being filled by data that is referenced only for a brief period, such as during a full table scan.
                      source: system-default
                      value: "1000"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/innodb_read_ahead_threshold
                    name: innodb_read_ahead_threshold
                    properties:
                      allowedValues: 0-64
                      dataType: Integer
                      defaultValue: "56"
                      description: Controls the sensitivity of linear read-ahead that InnoDB uses to prefetch pages into the buffer pool.
                      source: system-default
                      value: "56"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/max_length_for_sort_data
                    name: max_length_for_sort_data
                    properties:
                      allowedValues: 4-8388608
                      dataType: Integer
                      defaultValue: "1024"
                      description: The cutoff on the size of index values that determines which filesort algorithm to use.
                      source: system-default
                      value: "1024"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/max_connect_errors
                    name: max_connect_errors
                    properties:
                      allowedValues: 1-18446744073709551615
                      dataType: Integer
                      defaultValue: "100"
                      description: If more than this many successive connection requests from a host are interrupted without a successful connection, the server blocks that host from further connections.
                      source: system-default
                      value: "100"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/innodb_thread_sleep_delay
                    name: innodb_thread_sleep_delay
                    properties:
                      allowedValues: 0-1000000
                      dataType: Integer
                      defaultValue: "10000"
                      description: Defines how long InnoDB threads sleep before joining the InnoDB queue, in microseconds.
                      source: system-default
                      value: "10000"
                    type: Microsoft.DBforMariaDB/servers/configurations
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/configurations/innodb_file_format
                    name: innodb_file_format
                    properties:
                      allowedValues: Antelope,Barracuda
                      dataType: Enumeration
                      defaultValue: Barracuda
                      description: Indicates the InnoDB file format for file-per-table tablespaces.
                      source: system-default
                      value: Barracuda
                    type: Microsoft.DBforMariaDB/servers/configurations
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/configurations/{configurationName}":
    get:
      description: Gets information about a configuration of server.
      operationId: Configurations_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - $ref: "#/parameters/ConfigurationNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Configuration"
      tags:
        - Configurations
      x-ms-examples:
        ConfigurationGet:
          parameters:
            api-version: 2018-06-01-preview
            configurationName: event_scheduler
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testserver/configurations/event_scheduler
                name: event_scheduler
                properties:
                  allowedValues: ON,OFF,DISABLED
                  dataType: Enumeration
                  defaultValue: OFF
                  description: Indicates the status of the Event Scheduler.
                  source: user-override
                  value: ON
                type: Microsoft.DBforMariaDB/servers/configurations
    put:
      description: Updates a configuration of a server.
      operationId: Configurations_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - $ref: "#/parameters/ConfigurationNameParameter"
        - description: The required parameters for updating a server configuration.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Configuration"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Configuration"
        "202":
          description: Accepted
      tags:
        - Configurations
      x-ms-examples:
        ConfigurationCreateOrUpdate:
          parameters:
            api-version: 2018-06-01-preview
            configurationName: event_scheduler
            parameters:
              properties:
                source: user-override
                value: off
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testserver/configurations/event_scheduler
                name: event_scheduler
                properties:
                  allowedValues: ON,OFF,DISABLED
                  dataType: Enumeration
                  defaultValue: OFF
                  description: Indicates the status of the Event Scheduler.
                  source: user-override
                  value: ON
                type: Microsoft.DBforMariaDB/servers/configurations
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/databases":
    get:
      description: List all the databases in a given server.
      operationId: Databases_ListByServer
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DatabaseListResult"
      tags:
        - Databases
      x-ms-examples:
        DatabaseList:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testserver/databases/db1
                    name: db1
                    properties:
                      charset: utf8
                      collation: utf8_general_ci
                    type: Microsoft.DBforMariaDB/servers/databases
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testserver/databases/db2
                    name: db2
                    properties:
                      charset: utf8
                      collation: utf8_general_ci
                    type: Microsoft.DBforMariaDB/servers/databases
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/databases/{databaseName}":
    delete:
      description: Deletes a database.
      operationId: Databases_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - $ref: "#/parameters/DatabaseNameParameter"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: NoContent
      tags:
        - Databases
      x-ms-examples:
        DatabaseDelete:
          parameters:
            api-version: 2018-06-01-preview
            databaseName: db1
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets information about a database.
      operationId: Databases_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - $ref: "#/parameters/DatabaseNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Database"
      tags:
        - Databases
      x-ms-examples:
        DatabaseGet:
          parameters:
            api-version: 2018-06-01-preview
            databaseName: db1
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testserver/databases/db1
                name: db1
                properties:
                  charset: utf8
                  collation: utf8_general_ci
                type: Microsoft.DBforMariaDB/servers/databases
    put:
      description: Creates a new database or updates an existing database.
      operationId: Databases_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - $ref: "#/parameters/DatabaseNameParameter"
        - description: The required parameters for creating or updating a database.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Database"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Database"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Database"
        "202":
          description: Accepted
      tags:
        - Databases
      x-ms-examples:
        DatabaseCreate:
          parameters:
            api-version: 2018-06-01-preview
            databaseName: db1
            parameters:
              properties:
                charset: utf8
                collation: utf8_general_ci
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testserver/databases/db1
                name: db1
                properties:
                  charset: utf8
                  collation: utf8_general_ci
                type: Microsoft.DBforMariaDB/servers/databases
            "201":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testserver/databases/db1
                name: db1
                properties:
                  charset: utf8
                  collation: utf8_general_ci
                type: Microsoft.DBforMariaDB/servers/databases
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/firewallRules":
    get:
      description: List all the firewall rules in a given server.
      operationId: FirewallRules_ListByServer
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/FirewallRuleListResult"
      tags:
        - FirewallRules
      x-ms-examples:
        FirewallRuleList:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testserver/firewallRules/rule1
                    name: rule1
                    properties:
                      endIpAddress: 255.255.255.255
                      startIpAddress: 0.0.0.0
                    type: Microsoft.DBforMariaDB/servers/firewallRules
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testserver/firewallRules/rule2
                    name: rule2
                    properties:
                      endIpAddress: 255.0.0.0
                      startIpAddress: 1.0.0.0
                    type: Microsoft.DBforMariaDB/servers/firewallRules
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/firewallRules/{firewallRuleName}":
    delete:
      description: Deletes a server firewall rule.
      operationId: FirewallRules_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - $ref: "#/parameters/FirewallRuleNameParameter"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: NoContent
      tags:
        - FirewallRules
      x-ms-examples:
        FirewallRuleDelete:
          parameters:
            api-version: 2018-06-01-preview
            firewallRuleName: rule1
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets information about a server firewall rule.
      operationId: FirewallRules_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - $ref: "#/parameters/FirewallRuleNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/FirewallRule"
      tags:
        - FirewallRules
      x-ms-examples:
        FirewallRuleGet:
          parameters:
            api-version: 2018-06-01-preview
            firewallRuleName: rule1
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testserver/firewallRules/rule1
                name: rule1
                properties:
                  endIpAddress: 255.255.255.255
                  startIpAddress: 0.0.0.0
                type: Microsoft.DBforMariaDB/servers/firewallRules
    put:
      description: Creates a new firewall rule or updates an existing firewall rule.
      operationId: FirewallRules_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - $ref: "#/parameters/FirewallRuleNameParameter"
        - description: The required parameters for creating or updating a firewall rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/FirewallRule"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/FirewallRule"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/FirewallRule"
        "202":
          description: Accepted
      tags:
        - FirewallRules
      x-ms-examples:
        FirewallRuleCreate:
          parameters:
            api-version: 2018-06-01-preview
            firewallRuleName: rule1
            parameters:
              properties:
                endIpAddress: 255.255.255.255
                startIpAddress: 0.0.0.0
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testserver/firewallRules/rule1
                name: rule1
                properties:
                  endIpAddress: 255.255.255.255
                  startIpAddress: 0.0.0.0
                type: Microsoft.DBforMariaDB/servers/firewallRules
            "201":
              body:
                id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testserver/firewallRules/rule1
                name: rule1
                properties:
                  endIpAddress: 255.255.255.255
                  startIpAddress: 0.0.0.0
                type: Microsoft.DBforMariaDB/servers/firewallRules
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/logFiles":
    get:
      description: List all the log files in a given server.
      operationId: LogFiles_ListByServer
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/LogFileListResult"
      tags:
        - LogFiles
      x-ms-examples:
        LogFileList:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/testrg/providers/Microsoft.DBforMariaDB/servers/mariadbtestsvc1/logFiles/mariadb-slow-mariadbtestsvc1-2018022823.log
                    name: mariadb-slow-mariadbtestsvc1-2018022823.log
                    properties:
                      createdTime: 0001-01-01T00:00:00+00:00
                      lastModifiedTime: 2018-03-01T06:09:20+00:00
                      sizeInKB: 1
                      type: slowlog
                      url: https://wasd2prodwus1afse42.file.core.windows.net/833c99b2f36c47349e5554b903fe0440/serverlogs/mariadb-slow-mariadbtestsvc1-2018022823.log?sv=2015-04-05&sr=f&sig=D9Ga4N5Pa%2BPe5Bmjpvs7A0TPD%2FF7IZpk9e4KWR0jgpM%3D&se=2018-03-01T07%3A12%3A13Z&sp=r
                    type: Microsoft.DBforMariaDB/servers/logFiles
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/replicas":
    get:
      description: List all the replicas for a given server.
      operationId: Replicas_ListByServer
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ServerListResult"
      tags:
        - Replicas
      x-ms-examples:
        ReplicasListByServer:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: TestGroup
            serverName: testmaster
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testserver
                    location: northeurope
                    name: testserver
                    properties:
                      administratorLogin: cloudsa
                      earliestRestoreDate: 2018-06-11T23:56:54.3+00:00
                      fullyQualifiedDomainName: testserver.mariadb.database.azure.com
                      masterServerId: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testmaster
                      replicaCapacity: 0
                      replicationRole: Replica
                      sslEnforcement: Enabled
                      storageProfile:
                        backupRetentionDays: 35
                        geoRedundantBackup: Enabled
                        storageMB: 256000
                      userVisibleState: Ready
                      version: "5.6"
                    sku:
                      capacity: 2
                      family: Gen4
                      name: GP_Gen4_2
                      tier: GeneralPurpose
                    tags:
                      elasticServer: "1"
                    type: Microsoft.DBforMariaDB/servers
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testserver1
                    location: northeurope
                    name: testserver1
                    properties:
                      administratorLogin: cloudsa
                      earliestRestoreDate: 2018-06-11T23:56:54.3+00:00
                      fullyQualifiedDomainName: testserver1.mariadb.database.azure.com
                      masterServerId: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testmaster
                      replicaCapacity: 0
                      replicationRole: Replica
                      sslEnforcement: Enabled
                      storageProfile:
                        backupRetentionDays: 35
                        geoRedundantBackup: Enabled
                        storageMB: 256000
                      userVisibleState: Ready
                      version: "5.6"
                    sku:
                      capacity: 2
                      family: Gen4
                      name: GP_Gen4_2
                      tier: GeneralPurpose
                    tags:
                      elasticServer: "1"
                    type: Microsoft.DBforMariaDB/servers
                  - id: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testserver2
                    location: northeurope
                    name: testserver2
                    properties:
                      administratorLogin: cloudsa
                      earliestRestoreDate: 2018-06-11T23:56:54.3+00:00
                      fullyQualifiedDomainName: testserver2.mariadb.database.azure.com
                      masterServerId: /subscriptions/ffffffff-ffff-ffff-ffff-ffffffffffff/resourceGroups/TestGroup/providers/Microsoft.DBforMariaDB/servers/testmaster
                      replicaCapacity: 0
                      replicationRole: Replica
                      sslEnforcement: Enabled
                      storageProfile:
                        backupRetentionDays: 35
                        geoRedundantBackup: Enabled
                        storageMB: 256000
                      userVisibleState: Ready
                      version: "5.6"
                    sku:
                      capacity: 2
                      family: Gen4
                      name: GP_Gen4_2
                      tier: GeneralPurpose
                    tags:
                      elasticServer: "1"
                    type: Microsoft.DBforMariaDB/servers
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/restart":
    post:
      description: Restarts a server.
      operationId: Servers_Restart
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - ServerRestart
      x-ms-examples:
        ServerRestart:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: TestGroup
            serverName: testserver
            subscriptionId: ffffffff-ffff-ffff-ffff-ffffffffffff
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMariaDB/servers/{serverName}/securityAlertPolicies/{securityAlertPolicyName}":
    get:
      description: Get a server's security alert policy.
      operationId: ServerSecurityAlertPolicies_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the security alert policy.
          enum:
            - Default
          in: path
          name: securityAlertPolicyName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: SecurityAlertPolicyName
        - $ref: "#/parameters/SubscriptionIdParameter"
[...]
