swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: These APIs allow end users to operate on Azure Machine Learning Workspace resources.
  title: Azure Machine Learning Workspaces
  version: 2019-11-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/machinelearningservices/resource-manager/Microsoft.MachineLearningServices/stable/2019-11-01/machineLearningServices.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: machinelearningservices-machineLearningServices
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  APIVersionParameter:
    description: Version of Azure Machine Learning resource provider API.
    in: query
    name: api-version
    required: true
    type: string
  AsyncOperationIdParameter:
    description: Identifier of an asynchronous Azure Machine Learning compute operation.
    in: path
    name: asyncOperationId
    required: true
    type: string
    x-ms-parameter-location: method
  ComputeDefinitionParameter:
    description: Payload with Machine Learning compute definition.
    in: body
    name: parameters
    required: true
    schema:
      $ref: "#/definitions/ComputeResource"
    x-ms-parameter-location: method
  ComputeNameParameter:
    description: Name of the Azure Machine Learning compute.
    in: path
    name: computeName
    required: true
    type: string
    x-ms-parameter-location: method
  ComputeTypeParameter:
    description: Type of compute to filter by.
    in: query
    name: compute-type
    required: false
    type: string
    x-ms-parameter-location: method
  LocationParameter:
    description: The name of the Azure location/region.
    in: path
    name: location
    required: true
    type: string
    x-ms-parameter-location: method
  PaginationParameter:
    description: Continuation token for pagination.
    in: query
    name: $skiptoken
    required: false
    type: string
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: Name of the resource group in which workspace is located.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Azure subscription identifier.
    in: path
    name: subscriptionId
    required: true
    type: string
  UnderlyingResourceActionParameter:
    description: Delete the underlying compute if 'Delete', or detach the underlying compute from workspace if 'Detach'.
    enum:
      - Delete
      - Detach
    in: query
    name: underlyingResourceAction
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: UnderlyingResourceAction
    x-ms-parameter-location: method
  WorkspaceNameParameter:
    description: Name of Azure Machine Learning workspace.
    in: path
    name: workspaceName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.MachineLearningServices/operations:
    get:
      description: Lists all of the available Azure Machine Learning Workspaces REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - Operation
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/Quotas":
    get:
      description: Gets the currently assigned Workspace Quotas based on VMFamily.
      operationId: Quotas_List
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The location for which resource usage is queried.
          in: path
          name: location
          pattern: ^[-\w\._]+$
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ListWorkspaceQuotas"
      tags:
        - Quota
      x-ms-examples:
        List workspace quotas by VMFamily:
          parameters:
            api-version: 2019-11-01
            location: eastus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_D_Family_Cluster_Dedicated_vCPUs
                    limit: 48
                    name:
                      localizedValue: Standard D Family Cluster Dedicated vCPUs
                      value: Standard D Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_D_Family_Cluster_Dedicated_vCPUs
                    limit: 12
                    name:
                      localizedValue: Standard D Family Cluster Dedicated vCPUs
                      value: Standard D Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_D_Family_Cluster_Dedicated_vCPUs
                    limit: 12
                    name:
                      localizedValue: Standard D Family Cluster Dedicated vCPUs
                      value: Standard D Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_D_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard D Family Cluster Dedicated vCPUs
                      value: Standard D Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard DSv2 Family Cluster Dedicated vCPUs
                      value: Standard DSv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/quota
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard DSv2 Family Cluster Dedicated vCPUs
                      value: Standard DSv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                    limit: 12
                    name:
                      localizedValue: Standard DSv2 Family Cluster Dedicated vCPUs
                      value: Standard DSv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                    limit: 12
                    name:
                      localizedValue: Standard DSv2 Family Cluster Dedicated vCPUs
                      value: Standard DSv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_Dv2_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard Dv2 Family Cluster Dedicated vCPUs
                      value: Standard Dv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_Dv2_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard Dv2 Family Cluster Dedicated vCPUs
                      value: Standard Dv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_Dv2_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard Dv2 Family Cluster Dedicated vCPUs
                      value: Standard Dv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_Dv2_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard Dv2 Family Cluster Dedicated vCPUs
                      value: Standard Dv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_FSv2_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard FSv2 Family Cluster Dedicated vCPUs
                      value: Standard FSv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_FSv2_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard FSv2 Family Cluster Dedicated vCPUs
                      value: Standard FSv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_FSv2_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard FSv2 Family Cluster Dedicated vCPUs
                      value: Standard FSv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_FSv2_Family_Cluster_Dedicated_vCPUs
                    limit: 12
                    name:
                      localizedValue: Standard FSv2 Family Cluster Dedicated vCPUs
                      value: Standard FSv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_NC_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard NC Family Cluster Dedicated vCPUs
                      value: Standard NC Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_NC_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard NC Family Cluster Dedicated vCPUs
                      value: Standard NC Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_NC_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard NC Family Cluster Dedicated vCPUs
                      value: Standard NC Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_NC_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard NC Family Cluster Dedicated vCPUs
                      value: Standard NC Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_NCv2_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard NCv2 Family Cluster Dedicated vCPUs
                      value: Standard NCv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_NCv2_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard NCv2 Family Cluster Dedicated vCPUs
                      value: Standard NCv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_NCv2_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard NCv2 Family Cluster Dedicated vCPUs
                      value: Standard NCv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_NCv2_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard NCv2 Family Cluster Dedicated vCPUs
                      value: Standard NCv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_NCv3_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard NCv3 Family Cluster Dedicated vCPUs
                      value: Standard NCv3 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_NCv3_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard NCv3 Family Cluster Dedicated vCPUs
                      value: Standard NCv3 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_NCv3_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard NCv3 Family Cluster Dedicated vCPUs
                      value: Standard NCv3 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_NCv3_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard NCv3 Family Cluster Dedicated vCPUs
                      value: Standard NCv3 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_ND_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard ND Family Cluster Dedicated vCPUs
                      value: Standard ND Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_ND_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard ND Family Cluster Dedicated vCPUs
                      value: Standard ND Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_ND_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard ND Family Cluster Dedicated vCPUs
                      value: Standard ND Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_ND_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard ND Family Cluster Dedicated vCPUs
                      value: Standard ND Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_NDv2_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard NDv2 Family Cluster Dedicated vCPUs
                      value: Standard NDv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_NDv2_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard NDv2 Family Cluster Dedicated vCPUs
                      value: Standard NDv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_NDv2_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard NDv2 Family Cluster Dedicated vCPUs
                      value: Standard NDv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_NDv2_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard NDv2 Family Cluster Dedicated vCPUs
                      value: Standard NDv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/quotas/Standard_NV_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard NV Family Cluster Dedicated vCPUs
                      value: Standard NV Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_NV_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard NV Family Cluster Dedicated vCPUs
                      value: Standard NV Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_NV_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard NV Family Cluster Dedicated vCPUs
                      value: Standard NV Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace3/quotas/Standard_NV_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard NV Family Cluster Dedicated vCPUs
                      value: Standard NV Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/updateQuotas":
    post:
      description: Update quota for each VM family in workspace.
      operationId: Quotas_Update
      parameters:
        - description: The location for update quota is queried.
          in: path
          name: location
          pattern: ^[-\w\._]+$
          required: true
          type: string
        - description: Quota update parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/QuotaUpdateParameters"
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful.
          schema:
            $ref: "#/definitions/UpdateWorkspaceQuotasResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - Quota
      x-ms-examples:
        update quotas:
          parameters:
            api-version: 2019-11-01
            location: eastus
            parameters:
              value:
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                  limit: 100
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
                - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                  limit: 200
                  type: Microsoft.MachineLearningServices/workspaces/quotas
                  unit: Count
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                    limit: 100
                    status: Success
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/quotas/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                    limit: 200
                    status: Success
                    type: Microsoft.MachineLearningServices/workspaces/quotas
                    unit: Count
  "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/usages":
    get:
      description: Gets the current usage information as well as limits for AML resources for given subscription and location.
      operationId: Usages_List
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The location for which resource usage is queried.
          in: path
          name: location
          pattern: ^[-\w\._]+$
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ListUsagesResult"
      tags:
        - Usage
      x-ms-examples:
        List Usages:
          parameters:
            api-version: 2019-11-01
            location: eastus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - currentValue: 7
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages
                    limit: 100
                    name:
                      localizedValue: Clusters
                      value: Clusters
                    type: Microsoft.MachineLearningServices/totalCores/usages
                    unit: Count
                  - currentValue: 14
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages
                    limit: 24
                    name:
                      localizedValue: Total Cluster Dedicated Regional vCPUs
                      value: Total Cluster Dedicated Regional vCPUs
                    type: Microsoft.MachineLearningServices/dedicatedCores/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_D_Family_Cluster_Dedicated_vCPUs
                    limit: 48
                    name:
                      localizedValue: Standard D Family Cluster Dedicated vCPUs
                      value: Standard D Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 2
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard DSv2 Family Cluster Dedicated vCPUs
                      value: Standard DSv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 2
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/usages/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard DSv2 Family Cluster Dedicated vCPUs
                      value: Standard DSv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/usages
                    unit: Count
                  - currentValue: 2
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/computes/demo_cluster1_dsv2/usages/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard DSv2 Family Cluster Dedicated vCPUs
                      value: Standard DSv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/computes/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/computes/demo_cluster2_dsv2/usages/Standard_DSv2_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard DSv2 Family Cluster Dedicated vCPUs
                      value: Standard DSv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/computes/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_Dv2_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard Dv2 Family Cluster Dedicated vCPUs
                      value: Standard Dv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_FSv2_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard FSv2 Family Cluster Dedicated vCPUs
                      value: Standard FSv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 12
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NC_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard NC Family Cluster Dedicated vCPUs
                      value: Standard NC Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 6
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/usages/Standard_NC_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard NC Family Cluster Dedicated vCPUs
                      value: Standard NC Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspace/usages
                    unit: Count
                  - currentValue: 6
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/computes/demo_cluster1_nc/usages/Standard_NC_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard NC Family Cluster Dedicated vCPUs
                      value: Standard NC Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspace/computes/usages
                    unit: Count
                  - currentValue: 6
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/usages/Standard_NC_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard NC Family Cluster Dedicated vCPUs
                      value: Standard NC Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/usages
                    unit: Count
                  - currentValue: 6
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/computes/demo_cluser1_nc/usages/Standard_NC_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard NC Family Cluster Dedicated vCPUs
                      value: Standard NC Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/workspaces/computes/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NCv2_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard NCv2 Family Cluster Dedicated vCPUs
                      value: Standard NCv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NCv3_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard NCv3 Family Cluster Dedicated vCPUs
                      value: Standard NCv3 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_ND_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard ND Family Cluster Dedicated vCPUs
                      value: Standard ND Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NDv2_Family_Cluster_Dedicated_vCPUs
                    limit: 0
                    name:
                      localizedValue: Standard NDv2 Family Cluster Dedicated vCPUs
                      value: Standard NDv2 Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NV_Family_Cluster_Dedicated_vCPUs
                    limit: 24
                    name:
                      localizedValue: Standard NV Family Cluster Dedicated vCPUs
                      value: Standard NV Family Cluster Dedicated vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 18
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages
                    limit: 50
                    name:
                      localizedValue: Total Cluster LowPriority Regional vCPUs
                      value: Total Cluster LowPriority Regional vCPUs
                    type: Microsoft.MachineLearningServices/lowPriorityCores/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_D_Family_Cluster_LowPriority_vCPUs
                    limit: -1
                    name:
                      localizedValue: Standard D Family Cluster LowPriority vCPUs
                      value: Standard D Family Cluster LowPriority vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_DSv2_Family_Cluster_LowPriority_vCPUs
                    limit: -1
                    name:
                      localizedValue: Standard DSv2 Family Cluster LowPriority vCPUs
                      value: Standard DSv2 Family Cluster LowPriority vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_Dv2_Family_Cluster_LowPriority_vCPUs
                    limit: -1
                    name:
                      localizedValue: Standard Dv2 Family Cluster LowPriority vCPUs
                      value: Standard Dv2 Family Cluster LowPriority vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_FSv2_Family_Cluster_LowPriority_vCPUs
                    limit: -1
                    name:
                      localizedValue: Standard FSv2 Family Cluster LowPriority vCPUs
                      value: Standard FSv2 Family Cluster LowPriority vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 18
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs
                    limit: -1
                    name:
                      localizedValue: Standard NC Family Cluster LowPriority vCPUs
                      value: Standard NC Family Cluster LowPriority vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 6
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs
                    limit: -1
                    name:
                      localizedValue: Standard NC Family Cluster LowPriority vCPUs
                      value: Standard NC Family Cluster LowPriority vCPUs
                    type: Microsoft.MachineLearningServices/workspace/usages
                    unit: Count
                  - currentValue: 6
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace1/computes/demo_cluster1_lowPriority_nc/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs
                    limit: -1
                    name:
                      localizedValue: Standard NC Family Cluster LowPriority vCPUs
                      value: Standard NC Family Cluster LowPriority vCPUs
                    type: Microsoft.MachineLearningServices/workspace/computes/usages
                    unit: Count
                  - currentValue: 12
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs
                    limit: -1
                    name:
                      localizedValue: Standard NC Family Cluster LowPriority vCPUs
                      value: Standard NC Family Cluster LowPriority vCPUs
                    type: Microsoft.MachineLearningServices/workspace/usages
                    unit: Count
                  - currentValue: 6
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/computes/demo_cluster2_lowPriority_nc/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs
                    limit: -1
                    name:
                      localizedValue: Standard NC Family Cluster LowPriority vCPUs
                      value: Standard NC Family Cluster LowPriority vCPUs
                    type: Microsoft.MachineLearningServices/workspace/computes/usages
                    unit: Count
                  - currentValue: 6
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg/providers/Microsoft.MachineLearningServices/workspaces/demo_workspace2/computes/demo_cluster3_lowPriority_nc/usages/Standard_NC_Family_Cluster_LowPriority_vCPUs
                    limit: -1
                    name:
                      localizedValue: Standard NC Family Cluster LowPriority vCPUs
                      value: Standard NC Family Cluster LowPriority vCPUs
                    type: Microsoft.MachineLearningServices/workspace/computes/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NCv2_Family_Cluster_LowPriority_vCPUs
                    limit: -1
                    name:
                      localizedValue: Standard NCv2 Family Cluster LowPriority vCPUs
                      value: Standard NCv2 Family Cluster LowPriority vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NCv3_Family_Cluster_LowPriority_vCPUs
                    limit: -1
                    name:
                      localizedValue: Standard NCv3 Family Cluster LowPriority vCPUs
                      value: Standard NCv3 Family Cluster LowPriority vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_ND_Family_Cluster_LowPriority_vCPUs
                    limit: -1
                    name:
                      localizedValue: Standard ND Family Cluster LowPriority vCPUs
                      value: Standard ND Family Cluster LowPriority vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NDv2_Family_Cluster_LowPriority_vCPUs
                    limit: -1
                    name:
                      localizedValue: Standard NDv2 Family Cluster LowPriority vCPUs
                      value: Standard NDv2 Family Cluster LowPriority vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
                  - currentValue: 0
                    id: /subscriptions/00000000-0000-0000-0000-000000000000/usages/Standard_NV_Family_Cluster_LowPriority_vCPUs
                    limit: -1
                    name:
                      localizedValue: Standard NV Family Cluster LowPriority vCPUs
                      value: Standard NV Family Cluster LowPriority vCPUs
                    type: Microsoft.MachineLearningServices/vmFamily/usages
                    unit: Count
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/locations/{location}/vmSizes":
    get:
      description: Returns supported VM Sizes in a location
      operationId: VirtualMachineSizes_List
      parameters:
        - description: The location upon which virtual-machine-sizes is queried.
          in: path
          name: location
          pattern: ^[-\w\._]+$
          required: true
          type: string
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VirtualMachineSizeListResult"
      tags:
        - VirtualMachineSizes
      x-ms-examples:
        List VM Sizes:
          parameters:
            api-version: 2019-11-01
            location: eastus
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                amlCompute:
                  - family: standardFSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 16384
                    memoryGB: 4
                    name: Standard_F2s_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 2
                  - family: standardFSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 32768
                    memoryGB: 8
                    name: Standard_F4s_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 4
                  - family: standardFSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 65536
                    memoryGB: 16
                    name: Standard_F8s_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 8
                  - family: standardFSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 131072
                    memoryGB: 32
                    name: Standard_F16s_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 16
                  - family: standardFSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 262144
                    memoryGB: 64
                    name: Standard_F32s_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 32
                  - family: standardFSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 524288
                    memoryGB: 128
                    name: Standard_F64s_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 64
                  - family: standardFSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 589824
                    memoryGB: 144
                    name: Standard_F72s_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 72
                  - family: standardDv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 51200
                    memoryGB: 3.5
                    name: Standard_D1_v2
                    osVhdSizeMB: 1047552
                    premiumIO: false
                    vCPUs: 1
                  - family: standardDv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 102400
                    memoryGB: 7
                    name: Standard_D2_v2
                    osVhdSizeMB: 1047552
                    premiumIO: false
                    vCPUs: 2
                  - family: standardDv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 204800
                    memoryGB: 14
                    name: Standard_D3_v2
                    osVhdSizeMB: 1047552
                    premiumIO: false
                    vCPUs: 4
                  - family: standardDv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 409600
                    memoryGB: 28
                    name: Standard_D4_v2
                    osVhdSizeMB: 1047552
                    premiumIO: false
                    vCPUs: 8
                  - family: standardDv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 102400
                    memoryGB: 14
                    name: Standard_D11_v2
                    osVhdSizeMB: 1047552
                    premiumIO: false
                    vCPUs: 2
                  - family: standardDv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 204800
                    memoryGB: 28
                    name: Standard_D12_v2
                    osVhdSizeMB: 1047552
                    premiumIO: false
                    vCPUs: 4
                  - family: standardDv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 409600
                    memoryGB: 56
                    name: Standard_D13_v2
                    osVhdSizeMB: 1047552
                    premiumIO: false
                    vCPUs: 8
                  - family: standardDv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 819200
                    memoryGB: 112
                    name: Standard_D14_v2
                    osVhdSizeMB: 1047552
                    premiumIO: false
                    vCPUs: 16
                  - family: standardDSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 7168
                    memoryGB: 3.5
                    name: Standard_DS1_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 1
                  - family: standardDSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 14336
                    memoryGB: 7
                    name: Standard_DS2_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 2
                  - family: standardDSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 28672
                    memoryGB: 14
                    name: Standard_DS3_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 4
                  - family: standardDSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 57344
                    memoryGB: 28
                    name: Standard_DS4_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 8
                  - family: standardDSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 114688
                    memoryGB: 56
                    name: Standard_DS5_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 16
                  - family: standardDSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 28672
                    memoryGB: 14
                    name: Standard_DS11_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 2
                  - family: standardDSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 57344
                    memoryGB: 28
                    name: Standard_DS12_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 4
                  - family: standardDSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 114688
                    memoryGB: 56
                    name: Standard_DS13_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 8
                  - family: standardDSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 229376
                    memoryGB: 112
                    name: Standard_DS14_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 16
                  - family: standardDSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 286720
                    memoryGB: 140
                    name: Standard_DS15_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 20
                  - family: standardNCSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 344064
                    memoryGB: 112
                    name: Standard_NC6s_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 6
                  - family: standardNCSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 688128
                    memoryGB: 224
                    name: Standard_NC12s_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 12
                  - family: standardNCSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 1376256
                    memoryGB: 448
                    name: Standard_NC24rs_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 24
                  - family: standardNCSv2Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 1376256
                    memoryGB: 448
                    name: Standard_NC24s_v2
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 24
                  - family: standardNCSv3Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 344064
                    memoryGB: 112
                    name: Standard_NC6s_v3
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 6
                  - family: standardNCSv3Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 688128
                    memoryGB: 224
                    name: Standard_NC12s_v3
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 12
                  - family: standardNCSv3Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 1376256
                    memoryGB: 448
                    name: Standard_NC24rs_v3
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 24
                  - family: standardNCSv3Family
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 1376256
                    memoryGB: 448
                    name: Standard_NC24s_v3
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 24
                  - family: standardNCFamily
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 389120
                    memoryGB: 56
                    name: Standard_NC6
                    osVhdSizeMB: 1047552
                    premiumIO: false
                    vCPUs: 6
                  - family: standardNCFamily
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 696320
                    memoryGB: 112
                    name: Standard_NC12
                    osVhdSizeMB: 1047552
                    premiumIO: false
                    vCPUs: 12
                  - family: standardNCFamily
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 1474560
                    memoryGB: 224
                    name: Standard_NC24
                    osVhdSizeMB: 1047552
                    premiumIO: false
                    vCPUs: 24
                  - family: standardNCFamily
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 1474560
                    memoryGB: 224
                    name: Standard_NC24r
                    osVhdSizeMB: 1047552
                    premiumIO: false
                    vCPUs: 24
                  - family: standardNVFamily
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 389120
                    memoryGB: 56
                    name: Standard_NV6
                    osVhdSizeMB: 1047552
                    premiumIO: false
                    vCPUs: 6
                  - family: standardNVFamily
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 696320
                    memoryGB: 112
                    name: Standard_NV12
                    osVhdSizeMB: 1047552
                    premiumIO: false
                    vCPUs: 12
                  - family: standardNVFamily
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 1474560
                    memoryGB: 224
                    name: Standard_NV24
                    osVhdSizeMB: 1047552
                    premiumIO: false
                    vCPUs: 24
                  - family: standardNDSFamily
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 344064
                    memoryGB: 112
                    name: Standard_ND6s
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 6
                  - family: standardNDSFamily
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 688128
                    memoryGB: 224
                    name: Standard_ND12s
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 12
                  - family: standardNDSFamily
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 1376256
                    memoryGB: 448
                    name: Standard_ND24rs
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 24
                  - family: standardNDSFamily
                    lowPriorityCapable: true
                    maxResourceVolumeMB: 1376256
                    memoryGB: 448
                    name: Standard_ND24s
                    osVhdSizeMB: 1047552
                    premiumIO: true
                    vCPUs: 24
  "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/workspaces":
    get:
      description: Lists all the available machine learning workspaces under the specified subscription.
      operationId: Workspaces_ListBySubscription
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/PaginationParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/WorkspaceListResult"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - Workspaces
      x-ms-examples:
        Get Workspaces by subscription:
          parameters:
            api-version: 2019-11-01
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                nextLink: nextLink
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                    location: eastus2euap
                    name: testworkspace
                    properties:
                      applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                      containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                      creationTime: 2017-03-01T23:14:37.0707808Z
                      description: test description
                      discoveryUrl: http://example.com
                      friendlyName: HelloName
                      keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                      storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                    sku:
                      name: Enterprise
                      tier: Enterprise
                    type: Microsoft.MachineLearningServices/workspaces
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-5678/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                    location: eastus2euap
                    name: testworkspace
                    properties:
                      applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                      containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistryNew
                      creationTime: 2017-03-01T23:14:37.0707808Z
                      description: test description
                      discoveryUrl: http://example.com
                      friendlyName: HelloName
                      keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkvNew
                      storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccountOld
                    sku:
                      name: Enterprise
                      tier: Enterprise
                    type: Microsoft.MachineLearningServices/workspaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearningServices/workspaces/skus":
    get:
      description: Lists all skus with associated features
      operationId: ListSkus
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/SkuListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - WorkspaceSkus
      x-ms-examples:
        List Skus:
          parameters:
            api-version: 2019-11-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - capabilities:
                      - name: automatedml_readhyperdrivesdk
                        value: |-
                          {
                            "id": "automatedml_ readhyperdrivesdk",
                            "name": "Read hyperdrive SDK",
                            "description": "Read only access to Hyperdrive in the SDK"
                          }
                      - name: workspace_upgradeworkspacesdk
                        value: |-
                          {
                            "id": "workspace_upgradeworkspacesdk",
                            "name": "Upgrade workspace SDK",
                            "description": "Upgrade workspace from Basic to enterprise from the SDK"
                          }
                    locationInfo:
                      - location: westus
                        zones:
                          - westus-AZ02
                          - westus-AZ01
                    locations:
                      - westus
                    name: Basic
                    resourceType: workspaces
                    restrictions: []
                    tier: Basic
                  - capabilities:
                      - name: automatedml_createeditexperimentssdk
                        value: |-
                          {
                            "id": "automatedml_createeditexperimentssdk",
                            "name": "Create edit experiments SDK",
                            "description": "Create, edit or delete AutoML experiments in the SDK"
                          }
                    locationInfo:
                      - location: westus
                        zoneDetails:
                          - capabilities:
                              - name: automatedml_createeditexperimentssdk
                                value: |-
                                  {
                                    "id": "automatedml_createeditexperimentssdk",
                                    "name": "Create edit experiments SDK",
                                    "description": "Create, edit or delete AutoML experiments in the SDK"
                                  }
                            name:
                              - westus-AZ01
                        zones:
                          - westus-AZ01
                    locations:
                      - westus
                    name: Enterprise
                    resourceType: workspaces
                    restrictions: []
                    tier: Enterprise
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces":
    get:
      description: Lists all the available machine learning workspaces under the specified resource group.
      operationId: Workspaces_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/PaginationParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/WorkspaceListResult"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - Workspaces
      x-ms-examples:
        Get Workspaces by Resource Group:
          parameters:
            api-version: 2019-11-01
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                nextLink: nextLink
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                    location: eastus2euap
                    name: testworkspace
                    properties:
                      applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                      containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                      creationTime: 2017-03-01T23:14:37.0707808Z
                      description: test description
                      discoveryUrl: http://example.com
                      friendlyName: HelloName
                      keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                      storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                    sku:
                      name: Basic
                      tier: Basic
                    type: Microsoft.MachineLearningServices/workspaces
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace1
                    location: eastus2euap
                    name: testworkspace1
                    properties:
                      applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                      containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistryNew
                      creationTime: 2017-03-01T23:14:37.0707808Z
                      description: test description
                      discoveryUrl: http://example.com
                      friendlyName: HelloName 1
                      keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkvNew
                      storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccountOld
                    sku:
                      name: Basic
                      tier: Basic
                    type: Microsoft.MachineLearningServices/workspaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}":
    delete:
      description: Deletes a machine learning workspace.
      operationId: Workspaces_Delete
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
        "204":
          description: The machine learning workspace does not exist in the subscription.
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - Workspaces
      x-ms-examples:
        Delete Workspace:
          parameters:
            api-version: 2019-11-01
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the properties of the specified machine learning workspace.
      operationId: Workspaces_Get
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Workspace"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - Workspaces
      x-ms-examples:
        Get Workspace:
          parameters:
            api-version: 2019-11-01
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: test description
                  discoveryUrl: http://example.com
                  friendlyName: HelloName
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                sku:
                  name: Enterprise
                  tier: Enterprise
                type: Microsoft.MachineLearningServices/workspaces
    patch:
      description: Updates a machine learning workspace with the specified parameters.
      operationId: Workspaces_Update
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - description: The parameters for updating a machine learning workspace.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/WorkspaceUpdateParameters"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Workspace"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - Workspaces
      x-ms-examples:
        Update Workspace:
          parameters:
            api-version: 2019-11-01
            parameters:
              properties:
                description: new description
                friendlyName: New friendly name
              sku:
                name: Enterprise
                tier: Enterprise
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: new description
                  discoveryUrl: http://example.com
                  friendlyName: New friendly name
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                sku:
                  name: Enterprise
                  tier: Enterprise
                type: Microsoft.MachineLearningServices/workspaces
    put:
      description: Creates or updates a workspace with the specified parameters.
      operationId: Workspaces_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - description: The parameters for creating or updating a machine learning workspace.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Workspace"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Workspace"
        "201":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Workspace"
        "202":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Workspace"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - Workspaces
      x-ms-examples:
        Create Workspace:
          parameters:
            api-version: 2019-11-01
            parameters:
              location: eastus2euap
              properties:
                applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                description: test description
                friendlyName: HelloName
                keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
              sku:
                name: Basic
                tier: Basic
            resourceGroupName: workspace-1234
            subscriptionId: 00000000-1111-2222-3333-444444444444
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: test description
                  discoveryUrl: http://example.com
                  friendlyName: HelloName
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                sku:
                  name: Basic
                  tier: Basic
                type: Microsoft.MachineLearningServices/workspaces
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: test description
                  discoveryUrl: http://example.com
                  friendlyName: HelloName
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                sku:
                  name: Basic
                  tier: Basic
                type: Microsoft.MachineLearningServices/workspaces
            "202":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.MachineLearningServices/workspaces/testworkspace
                location: eastus2euap
                name: testworkspace
                properties:
                  applicationInsights: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/microsoft.insights/components/testinsights
                  containerRegistry: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.ContainerRegistry/registries/testRegistry
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  description: test description
                  discoveryUrl: http://example.com
                  friendlyName: HelloName
                  keyVault: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/workspace-1234/providers/Microsoft.KeyVault/vaults/testkv
                  storageAccount: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/accountcrud-1234/providers/Microsoft.Storage/storageAccounts/testStorageAccount
                sku:
                  name: Basic
                  tier: Basic
                type: Microsoft.MachineLearningServices/workspaces
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes":
    get:
      description: Gets computes in specified workspace.
      operationId: MachineLearningCompute_ListByWorkspace
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/PaginationParameter"
      responses:
        "200":
          description: The response includes a paginated array of Machine Learning computes and a URI to the next set of results, if any. For the more information the limits of the number of items in a resource group, see https://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits/.
          schema:
            $ref: "#/definitions/PaginatedComputeResourcesList"
        default:
          description: Error response describing why the request failed.
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - OperationalizationClusters
        - MachineLearningComputes
      x-ms-examples:
        Get Computes:
          parameters:
            api-version: 2019-11-01
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                nextLink: nextLink
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                    location: eastus
                    name: compute123
                    properties:
                      computeType: AKS
                      description: some compute
                      provisioningState: Succeeded
                      resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testrg123/providers/Microsoft.ContainerService/managedClusters/compute123-56826-c9b00420020b2
                    type: Microsoft.MachineLearningServices/workspaces/computes
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute1234
                    location: eastus
                    name: compute1234
                    properties:
                      computeType: AKS
                      description: some compute
                      provisioningState: Succeeded
                      resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testrg123/providers/Microsoft.ContainerService/managedClusters/compute1234-56826-c9b00420020b2
                    type: Microsoft.MachineLearningServices/workspaces/computes
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/computes/{computeName}":
    delete:
      description: Deletes specified Machine Learning compute.
      operationId: MachineLearningCompute_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ComputeNameParameter"
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/UnderlyingResourceActionParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
        "202":
          description: Compute deletion initiated.
          headers:
            Azure-AsyncOperation:
              description: URI to poll for asynchronous operation status.
              type: string
            Location:
              description: URI to poll for asynchronous operation result.
              type: string
        default:
          description: Error response describing why the request failed.
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - OperationalizationClusters
        - MachineLearningComputes
      x-ms-examples:
        Delete Compute:
          parameters:
            api-version: 2019-11-01
            computeName: compute123
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            underlyingResourceAction: Delete
            workspaceName: workspaces123
          responses:
            "200": {}
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/...pathToOperationStatus...
                Location: https://management.azure.com/subscriptions/...pathToOperationResult...
      x-ms-long-running-operation: true
    get:
      description: Gets compute definition by its name. Any secrets (storage keys, service credentials, etc) are not returned - use 'keys' nested resource to get them.
      operationId: MachineLearningCompute_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ComputeNameParameter"
        - $ref: "#/parameters/APIVersionParameter"
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/ComputeResource"
        default:
          description: Error response describing why the request failed.
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - OperationalizationClusters
        - MachineLearningComputes
      x-ms-examples:
        Get a AKS Compute:
          parameters:
            api-version: 2019-11-01
            computeName: compute123
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus
                name: compute123
                properties:
                  computeType: AKS
                  description: some compute
                  provisioningState: Succeeded
                  resourceId: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourcegroups/testrg123/providers/Microsoft.ContainerService/managedClusters/compute123-56826-c9b00420020b2
                type: Microsoft.MachineLearningServices/workspaces/computes
        Get a AML Compute:
          parameters:
            api-version: 2019-11-01
            computeName: compute123
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus2
                name: compute123
                properties:
                  computeType: AmlCompute
                  createdOn: 2017-09-26T22:28:08.327Z
                  description: some compute
                  properties:
                    allocationState: Resizing
                    allocationStateTransitionTime: 2017-09-27T22:28:08.998Z
                    currentNodeCount: 0
                    errors: null
                    nodeStateCounts:
                      idleNodeCount: 0
                      leavingNodeCount: 0
                      preemptedNodeCount: 0
                      preparingNodeCount: 0
                      runningNodeCount: 0
                      unusableNodeCount: 0
                    remoteLoginPortPublicAccess: Enabled
                    scaleSettings:
                      maxNodeCount: 1
                      minNodeCount: 0
                      nodeIdleTimeBeforeScaleDown: PT5M
                    subnet: test-subnet-resource-id
                    targetNodeCount: 1
                    vmPriority: Dedicated
                    vmSize: STANDARD_NC6
                  provisioningState: Succeeded
                type: Microsoft.MachineLearningServices/workspaces/computes
    patch:
      description: Updates properties of a compute. This call will overwrite a compute if it exists. This is a nonrecoverable operation.
      operationId: MachineLearningCompute_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ComputeNameParameter"
        - $ref: "#/parameters/APIVersionParameter"
        - description: Additional parameters for cluster update.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ClusterUpdateParameters"
      responses:
        "200":
          description: Compute update initiated.
          schema:
            $ref: "#/definitions/ComputeResource"
        default:
          description: Error response describing why the request failed.
          schema:
            $ref: "#/definitions/MachineLearningServiceError"
      tags:
        - OperationalizationClusters
        - MachineLearningComputes
      x-ms-examples:
        Update a AmlCompute Compute:
          parameters:
            api-version: 2019-11-01
            computeName: compute123
            parameters:
              properties:
                scaleSettings:
                  maxNodeCount: 4
                  minNodeCount: 4
                  nodeIdleTimeBeforeScaleDown: PT5M
            resourceGroupName: testrg123
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            workspaceName: workspaces123
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/testrg123/providers/Microsoft.MachineLearningServices/workspaces/workspaces123/computes/compute123
                location: eastus2
                name: compute123
                properties:
                  computeType: AmlCompute
                  description: some compute
                  provisioningState: Updating
                type: Microsoft.MachineLearningServices/workspaces/computes
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/...pathToOperationStatus...
      x-ms-long-running-operation: true
    put:
      description: Creates or updates compute. This call will overwrite a compute if it exists. This is a nonrecoverable operation. If your intent is to create a new compute, do a GET first to verify that it does not exist yet.
      operationId: MachineLearningCompute_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ComputeNameParameter"
        - $ref: "#/parameters/APIVersionParameter"
        - $ref: "#/parameters/ComputeDefinitionParameter"
      responses:
        "200":
          description: Compute creation or update initiated.
          schema:
[...]
