swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Deployment Admin Client.
  title: DeploymentAdminClient
  version: 2019-01-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/deployment/Microsoft.Deployment.Admin/preview/2019-01-01/ActionPlan.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-ActionPlan
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  PlanIdParameter:
    description: Identifier of the action plan.
    in: path
    name: planId
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans":
    get:
      description: Gets the list of action plans
      operationId: ActionPlans_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ActionPlanList"
      tags:
        - ActionPlans
      x-ms-examples:
        Gets the list of action plans:
          parameters:
            api-version: 2019-01-01
            location: global
            planId: 5f7d40b0-c504-4ebe-9db2-6f906d0faf6e
            productId: Microsoft.IotHubPreview.1.0.2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              "404": {}
              body:
                value:
                  - id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/actionplans/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e
                    name: global/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e
                    properties:
                      actionPlanUri: https://deploymentrp.blob.redmond.ext-n22r1708.masd.stbtest.microsoft.com/msdpfilecontainer-cb72641657134ed79ffeb632a58a671e/Deployment/DeploymentPlan.json
                      endTime: 2019-10-15T19:36:29.5214075Z
                      parameters: {}
                      provisioningState: Succeeded
                      resourceGroupName: Microsoft.NullProvider
                      startTime: 2019-10-15T19:29:22.6861068Z
                      subscriptionId: ca13578c-6d3b-4478-b63e-a65c89601d86
                    type: Microsoft.Deployment.Admin/locations/actionplans
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/actionPlans/{planId}":
    get:
      description: Gets the specified action plan
      operationId: ActionPlans_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/PlanIdParameter"
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ActionPlanResourceEntity"
        "404":
          description: NOT FOUND
      tags:
        - ActionPlans
      x-ms-examples:
        Gets the specified action plan:
          parameters:
            api-version: 2019-01-01
            location: global
            planId: 5f7d40b0-c504-4ebe-9db2-6f906d0faf6e
            productId: Microsoft.IotHubPreview.1.0.2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/actionplans/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e
                name: global/5f7d40b0-c504-4ebe-9db2-6f906d0faf6e
                properties:
                  actionPlanUri: https://deploymentrp.blob.redmond.ext-n22r1708.masd.stbtest.microsoft.com/msdpfilecontainer-cb72641657134ed79ffeb632a58a671e/Deployment/DeploymentPlan.json
                  endTime: 2019-10-15T19:36:29.5214075Z
                  parameters: {}
                  provisioningState: Succeeded
                  resourceGroupName: Microsoft.NullProvider
                  startTime: 2019-10-15T19:29:22.6861068Z
                  subscriptionId: ca13578c-6d3b-4478-b63e-a65c89601d86
                type: Microsoft.Deployment.Admin/locations/actionplans
            "404": {}
definitions:
  ActionPlanAdminProperties:
    description: Action Plan Properties
    properties:
      actionPlanInstanceId:
        description: Action plan instance identifier
        type: string
      actionPlanUri:
        description: Action plan uri
        type: string
      blobContainerName:
        description: Blob container name storing the deployment data
        type: string
      endTime:
        description: The deployment end time
        format: date-time
        type: string
      error:
        description: Error information
        properties:
          code:
            description: Error Code
            type: string
          details:
            $ref: "#/definitions/ExtendedErrorInfo"
            description: Error message details
          message:
            description: Error Message
            type: string
        type: object
      parameters:
        description: Error information
        properties:
          value:
            description: Parameters as JToken string
            type: string
        type: object
      provisioningState:
        description: The provisioning state
        type: string
      resourceGroupName:
        description: The target resource group name
        type: string
      startTime:
        description: The deployment start time
        format: date-time
        type: string
      subscriptionId:
        description: The target subscription identifier
        type: string
    type: object
  ActionPlanList:
    description: List of action plans
    properties:
      nextLink:
        description: Continuation token
        type: string
      value:
        description: Array of action plans.
        items:
          $ref: "#/definitions/ActionPlanResourceEntity"
        type: array
  ActionPlanResourceEntity:
    allOf:
      - description: Object model of azure resource manager base.
        properties:
          id:
            description: ID of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          type:
            description: Type of Resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Action Plan Resource Entity
    properties:
      eTag:
        description: Entity tag of the resource
        type: string
      properties:
        $ref: "#/definitions/ActionPlanAdminProperties"
        description: Action Plan Properties
        x-ms-client-flatten: true
    type: object
  ExtendedErrorInfo: {}
