swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Microsoft Azure Quota Resource Provider.
  title: Azure Reservation
  version: 2019-07-19-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/reservations/resource-manager/Microsoft.Capacity/preview/2019-07-19/quota.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: reservations-quota
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Api version.
    in: query
    name: api-version
    required: true
    type: string
  IfMatchRequiredParameter:
    description: ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
    in: header
    name: If-Match
    required: true
    type: string
    x-ms-parameter-location: method
  LocationIdInParameters:
    description: Azure region.
    in: path
    name: location
    required: true
    type: string
    x-ms-parameter-location: method
  ProviderIdInParameters:
    description: Azure resource Provider id.
    in: path
    name: providerId
    required: true
    type: string
    x-ms-parameter-location: method
  RequestIdInParameters:
    description: Quota Request id.
    in: path
    name: id
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceNameInParameters:
    description: The Resource name for the specific resource provider, such as SKU name for Microsoft.Compute, pool for Microsoft.Batch.
    in: path
    name: resourceName
    required: true
    type: string
    x-ms-parameter-location: method
  SkipTokenParameter:
    description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls
    in: query
    name: $skiptoken
    required: false
    type: string
    x-ms-parameter-location: method
  SubscriptionIdInParameters:
    description: Azure subscription id.
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-parameter-location: method
  TopQueryParameter:
    description: Number of records to return.
    format: int32
    in: query
    minimum: 1
    name: $top
    required: false
    type: integer
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/autoQuotaIncrease":
    get:
      description: Gets the Auto Quota Increase enrollment details for the specified subscription.
      operationId: AutoQuotaIncrease_GetProperties
      parameters:
        - $ref: "#/parameters/SubscriptionIdInParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Ok. Returning the properties of auto quota increase .
          schema:
            $ref: "#/definitions/AutoQuotaIncreaseDetail"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      summary: For the specified subscription, gets the Auto Quota Increase enrollment status.
      tags:
        - AutoQuotaIncrease
      x-ms-examples:
        GetAutoQuotaIncreaseSettings:
          parameters:
            api-version: 2019-07-19-preview
            subscriptionId: D7EC67B3-7657-4966-BFFC-41EFD36BAAB3
          responses:
            "200":
              body:
                id: /subscriptions/D7EC67B3-7657-4966-BFFC-41EFD36BAAB3/providers/Microsoft.Capacity/autoQuotaIncrease
                name: Automatic Quota Increase
                properties:
                  onFailure:
                    emailActions:
                      value:
                        - emailAddress: itsupport@contoso.com
                        - emailAddress: admin2@contoso.com
                  onSuccess:
                    emailActions:
                      value:
                        - emailAddress: itsupport@contoso.com
                        - emailAddress: admin2@contoso.com
                  settings:
                    autoQuotaIncreaseState: enabled
                  supportTicketAction:
                    alternateEmailAddresses:
                      - admin@contoso.com
                      - admin3@contoso.com
                    autoQuotaIncreaseState: enabled
                    country: US
                    firstName: FN
                    lastName: LN
                    phoneNumber: 123-456-7890
                    preferredContactMethod: Phone
                    primaryEmailAddress: admin3@contoso.com
                    severity: Minimal
                    supportLanguage: en-US
                type: Microsoft.Capacity/autoQuotaIncrease
    put:
      description: Sets the Auto Quota Increase enrollment properties for the specified subscription.
      operationId: AutoQuotaIncrease_Create
      parameters:
        - $ref: "#/parameters/SubscriptionIdInParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Auto Quota increase request payload.
          in: body
          name: autoQuotaIncreaseRequest
          required: true
          schema:
            $ref: "#/definitions/AutoQuotaIncreaseDetail"
      responses:
        "200":
          description: Ok. Returning the updated status of auto quota increase request.
          schema:
            $ref: "#/definitions/AutoQuotaIncreaseDetail"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      summary: For the specified subscription, sets the Auto Quota Increase enrollment properties.
      tags:
        - AutoQuotaIncrease
      x-ms-examples:
        SetAutoQuotaIncreaseSettings:
          parameters:
            api-version: 2019-07-19-preview
            autoQuotaIncreaseRequest:
              properties:
                onFailure:
                  emailActions:
                    value:
                      - emailAddress: itsupport@contoso.com
                      - emailAddress: admin2@contoso.com
                onSuccess:
                  emailActions:
                    value:
                      - emailAddress: itsupport@contoso.com
                      - emailAddress: admin3@contoso.com
                settings:
                  autoQuotaIncreaseState: enabled
                supportTicketAction:
                  alternateEmailAddresses:
                    - admin@contoso.com
                    - admin3@contoso.com
                  autoQuotaIncreaseState: enabled
                  country: US
                  firstName: FN
                  lastName: LN
                  phoneNumber: 123-456-7890
                  preferredContactMethod: Phone
                  primaryEmailAddress: admin2@contoso.com
                  severity: Minimal
                  supportLanguage: en-us
            subscriptionId: D7EC67B3-7657-4966-BFFC-41EFD36BAAB3
          responses:
            "200":
              body:
                id: /subscriptions/D7EC67B3-7657-4966-BFFC-41EFD36BAAB3/providers/Microsoft.Capacity/autoQuotaIncrease
                name: Automatic Quota Increase
                properties:
                  onFailure:
                    emailActions:
                      value:
                        - emailAddress: itsupport@contoso.com
                        - emailAddress: admin2@contoso.com
                  onSuccess:
                    emailActions:
                      value:
                        - emailAddress: itsupport@contoso.com
                        - emailAddress: admin2@contoso.com
                  settings:
                    autoQuotaIncreaseState: enabled
                  supportTicketAction:
                    alternateEmailAddresses:
                      - admin@contoso.com
                      - admin3@contoso.com
                    autoQuotaIncreaseState: enabled
                    country: US
                    firstName: FN
                    lastName: LN
                    phoneNumber: 123-456-7890
                    preferredContactMethod: Phone
                    primaryEmailAddress: admin2@contoso.com
                    severity: Minimal
                    supportLanguage: en-us
                type: Microsoft.Capacity/autoQuotaIncrease
        TurnOffAutoQuotaIncrease:
          parameters:
            api-version: 2019-07-19-preview
            autoQuotaIncreaseRequest:
              properties:
                onFailure:
                  emailActions:
                    value:
                      - emailAddress: itsupport@contoso.com
                      - emailAddress: admin2@contoso.com
                onSuccess:
                  emailActions:
                    value:
                      - emailAddress: itsupport@contoso.com
                      - emailAddress: admin2@contoso.com
                settings:
                  autoQuotaIncreaseState: disabled
                supportTicketAction:
                  alternateEmailAddresses:
                    - admin@contoso.com
                    - admin3@contoso.com
                  autoQuotaIncreaseState: disabled
                  country: US
                  firstName: FN
                  lastName: LN
                  phoneNumber: 123-456-7890
                  preferredContactMethod: Phone
                  primaryEmailAddress: admin3@contoso.com
                  severity: Minimal
                  supportLanguage: en-us
            subscriptionId: D7EC67B3-7657-4966-BFFC-41EFD36BAAB3
          responses:
            "200":
              body:
                id: /subscriptions/D7EC67B3-7657-4966-BFFC-41EFD36BAAB3/providers/Microsoft.Capacity/autoQuotaIncrease
                name: Automatic Quota Increase
                properties:
                  onFailure:
                    emailActions:
                      value:
                        - emailAddress: itsupport@contoso.com
                        - emailAddress: admin2@contoso.com
                  onSuccess:
                    emailActions:
                      value:
                        - emailAddress: itsupport@contoso.com
                        - emailAddress: admin2@contoso.com
                  settings:
                    autoQuotaIncreaseState: disabled
                  supportTicketAction:
                    alternateEmailAddresses:
                      - admin@contoso.com
                      - admin3@contoso.com
                    autoQuotaIncreaseState: disabled
                    country: US
                    firstName: FN
                    lastName: LN
                    phoneNumber: 123-456-7890
                    preferredContactMethod: Phone
                    primaryEmailAddress: admin3@contoso.com
                    severity: Minimal
                    supportLanguage: en-us
                type: Microsoft.Capacity/autoQuotaIncrease
  "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimits":
    get:
      description: This API gets the current quota limits and usages for the resource provider for the specified location. This response can be used to submit quotaRequests.
      operationId: Quotas_listStatus
      parameters:
        - $ref: "#/parameters/SubscriptionIdInParameters"
        - $ref: "#/parameters/ProviderIdInParameters"
        - $ref: "#/parameters/LocationIdInParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK. Quota information will be returned as response with pagination.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: "#/definitions/QuotaLimits"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      summary: Gets the current quota limit and usages for all the resources by the resource provider at the specified location.
      tags:
        - QuotaInformation
      x-ms-examples:
        Quotas_listUsagesForBatchAI:
          parameters:
            api-version: 2019-07-19-preview
            location: eastus
            providerId: Microsoft.BatchAI
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - currentValue: 15
                    limit: 20
                    name:
                      localizedValue: Clusters
                      value: Clusters
                    unit: Count
                  - currentValue: 49
                    limit: 600
                    name:
                      localizedValue: Total Cluster Dedicated Regional vCPUs
                      value: Total Cluster Dedicated Regional vCPUs
                    unit: Count
                  - currentValue: 1
                    limit: 600
                    name:
                      localizedValue: Standard D Family Cluster Dedicated vCPUs
                      value: Standard D Family Cluster Dedicated vCPUs
                    unit: Count
                  - currentValue: 0
                    limit: 0
                    name:
                      localizedValue: Standard ND Family Cluster Low Priority vCPUs
                      value: Standard ND Family Cluster LowPriority vCPUs
                    unit: Count
                  - currentValue: 0
                    limit: 150
                    name:
                      localizedValue: Standard NV Family Cluster Low Priority vCPUs
                      value: Standard NV Family Cluster LowPriority vCPUs
                    unit: Count
        Quotas_listUsagesForCompute:
          parameters:
            api-version: 2019-07-19-preview
            location: eastus
            providerId: Microsoft.Compute
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nextLink: ""
                value:
                  - currentValue: 0
                    limit: 100
                    name:
                      localizedValue: Standard FSv2 Family vCPUs
                      value: standardFSv2Family
                    unit: Count
                  - currentValue: 0
                    limit: 0
                    name:
                      localizedValue: Standard NDS Family vCPUs
                      value: standardNDSFamily
                    unit: Count
                  - currentValue: 0
                    limit: 0
                    name:
                      localizedValue: Standard NCSv2 Family vCPUs
                      value: standardNCSv2Family
                    unit: Count
                  - currentValue: 0
                    limit: 0
                    name:
                      localizedValue: Standard NCSv3 Family vCPUs
                      value: standardNCSv3Family
                    unit: Count
                  - currentValue: 0
                    limit: 100
                    name:
                      localizedValue: Standard LSv2 Family vCPUs
                      value: standardLSv2Family
                    unit: Count
                  - currentValue: 0
                    limit: 6
                    name:
                      localizedValue: Standard PBS Family vCPUs
                      value: standardPBSFamily
                    unit: Count
                  - currentValue: 0
                    limit: 100
                    name:
                      localizedValue: Standard EIv3 Family vCPUs
                      value: standardEIv3Family
                    unit: Count
                  - currentValue: 0
                    limit: 100
                    name:
                      localizedValue: Standard EISv3 Family vCPUs
                      value: standardEISv3Family
                    unit: Count
                  - currentValue: 0
                    limit: 8
                    name:
                      localizedValue: Standard DCS Family vCPUs
                      value: standardDCSFamily
                    unit: Count
                  - currentValue: 0
                    limit: 0
                    name:
                      localizedValue: Standard NVSv2 Family vCPUs
                      value: standardNVSv2Family
                    unit: Count
                  - currentValue: 0
                    limit: 0
                    name:
                      localizedValue: Standard MSv2 Family vCPUs
                      value: standardMSv2Family
                    unit: Count
        Quotas_listUsagesForMsSql:
          parameters:
            api-version: 2019-07-19-preview
            location: westus
            providerId: Microsoft.Sql
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - currentValue: 1
                    limit: 20
                    name:
                      localizedValue: Regional Server Quota for West US
                      value: ServerQuota
                    unit: Count
                  - currentValue: 0
                    limit: 1
                    name:
                      localizedValue: Free Database Count per Subscription for West US
                      value: SubscriptionFreeDatabaseCount
                    unit: Count
                  - currentValue: 365
                    limit: 365
                    name:
                      localizedValue: Free to Basic Database Upgrade count-down in West US
                      value: SubscriptionFreeDatabaseDaysLeft
                    unit: Count
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimits/{resourceName}":
    get:
      description: This API gets the current quota limit and usages for the specific resource for resource provider for the specified location. This response can be used to submit quotaRequests.
      operationId: Quota_listStatus
      parameters:
        - $ref: "#/parameters/SubscriptionIdInParameters"
        - $ref: "#/parameters/ProviderIdInParameters"
        - $ref: "#/parameters/LocationIdInParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ResourceNameInParameters"
      responses:
        "200":
          description: OK. Quota information will be returned as response with pagination.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: "#/definitions/CurrentQuotaLimitBase"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      summary: Gets the current quota limit and usages for the resource provider for the specified location for the specific resource in the parameter.
      tags:
        - QuotaInformation
      x-ms-examples:
        Quotas_Request_ForCompute:
          parameters:
            api-version: 2019-07-19-preview
            location: eastus
            providerId: Microsoft.Compute
            resourceName: standardNDSFamily
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                currentValue: 0
                limit: 0
                name:
                  localizedValue: Standard NDS Family vCPUs
                  value: standardNDSFamily
                unit: Count
    patch:
      description: Submits Quota change request for a resource provider for the specified location for the specific resource in the parameter. To use, first make a Get request to get quota information. This information consists of a list of resources and information regarding those resources. For all the resources in that list which require an update to their quotas, update their limit fields in the response from the Get request to their new values. Then, submit this updated JSON object to this quota request API. This will update the quota to the values specified. The location header in the response will be used to track the status of the quota request. Please check the provisioningState field in the response.
      operationId: QuotaRequest_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdInParameters"
        - $ref: "#/parameters/ProviderIdInParameters"
        - $ref: "#/parameters/LocationIdInParameters"
        - $ref: "#/parameters/ResourceNameInParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Quota requests payload.
          in: body
          name: createQuotaRequest
          required: true
          schema:
            $ref: "#/definitions/CurrentQuotaLimitBase"
        - $ref: "#/parameters/IfMatchRequiredParameter"
      responses:
        "200":
          description: OK. Returns Quota requests details.
          schema:
            $ref: "#/definitions/QuotaRequestOneResourceSubmitResponse"
        "201":
          description: The request is accepted and is being processed. Please use requestId to check the status.
          schema:
            $ref: "#/definitions/QuotaRequestSubmitResponse201"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      summary: Submits a Quota Request for a resource provider at the specified location for the specific resource in the parameter.
      tags:
        - QuotaRequests
      x-ms-examples:
        Quotas_Request_PatchForCompute:
          parameters:
            If-Match: F2E0FB94-7F6B-4852-8EE8-67A04BBA6520
            api-version: 2019-07-19-preview
            createQuotaRequest:
              limit: 200
              name:
                value: standardFSv2Family
              unit: Count
            location: eastus
            providerId: Microsoft.Compute
            resourceName: standardFSv2Family
            subscriptionId: D7EC67B3-7657-4966-BFFC-41EFD36BAAB3
          responses:
            "200":
              body:
                id: /subscriptions/D7EC67B3-7657-4966-BFFC-41EFD36BAAB3/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/eastus/quotaRequests/2B5C8515-37D8-4B6A-879B-CD641A2CF605
                name: 2B5C8515-37D8-4B6A-879B-CD641A2CF605
                properties:
                  message: ""
                  properties:
                    currentValue: 80
                    limit: 200
                    name:
                      localizedValue: Standard FSv2 Family vCPUs
                      value: standardFSv2Family
                    unit: Count
                  provisioningState: Succeeded
                type: Microsoft.Capacity/serviceLimits
            "201":
              body:
                id: /subscriptions/D7EC67B3-7657-4966-BFFC-41EFD36BAAB3/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/eastus/serviceLimits/requests/2B5C8515-37D8-4B6A-879B-CD641A2CF605
                name: 2B5C8515-37D8-4B6A-879B-CD641A2CF605
                properties:
                  message: ""
                  provisioningState: InProgress
                type: Microsoft.Capacity/ServiceLimits
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    put:
      description: Submits Quota change request for a resource provider for the specified location for the specific resource in the parameter. To use, first make a Get request to get quota information. This information consists of a list of resources and information regarding those resources. For all the resources in that list which require an update to their quotas, update their limit fields in the response from the Get request to their new values. Then, submit this updated JSON object to this quota request API. This will update the quota to the values specified. The location header in the response will be used to track the status of the quota request. Please check the provisioningState field in the response.
      operationId: QuotaRequest_Create
      parameters:
        - $ref: "#/parameters/SubscriptionIdInParameters"
        - $ref: "#/parameters/ProviderIdInParameters"
        - $ref: "#/parameters/LocationIdInParameters"
        - $ref: "#/parameters/ResourceNameInParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Quota requests payload.
          in: body
          name: createQuotaRequest
          required: true
          schema:
            $ref: "#/definitions/CurrentQuotaLimitBase"
        - $ref: "#/parameters/IfMatchRequiredParameter"
      responses:
        "200":
          description: OK. Returns Quota requests details.
          schema:
            $ref: "#/definitions/QuotaRequestOneResourceSubmitResponse"
        "201":
          description: The request is accepted and is being processed. Please use requestId to check the status.
          schema:
            $ref: "#/definitions/QuotaRequestSubmitResponse201"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      summary: Submits a Quota Request for a resource provider at the specified location for the specific resource in the parameter.
      tags:
        - QuotaRequests
      x-ms-examples:
        Quotas_Request_listForCompute:
          parameters:
            If-Match: "*"
            api-version: 2019-07-19-preview
            createQuotaRequest:
              limit: 200
              name:
                value: standardFSv2Family
              unit: Count
            location: eastus
            providerId: Microsoft.Compute
            resourceName: standardFSv2Family
            subscriptionId: D7EC67B3-7657-4966-BFFC-41EFD36BAAB3
          responses:
            "200":
              body:
                id: /subscriptions/D7EC67B3-7657-4966-BFFC-41EFD36BAAB3/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/eastus/quotaRequests/2B5C8515-37D8-4B6A-879B-CD641A2CF605
                name: 2B5C8515-37D8-4B6A-879B-CD641A2CF605
                properties:
                  message: ""
                  properties:
                    currentValue: 160
                    limit: 200
                    name:
                      localizedValue: Standard FSv2 Family vCPUs
                      value: standardFSv2Family
                    unit: Count
                  provisioningState: Succeeded
                type: Microsoft.Capacity/serviceLimits
            "201":
              body:
                id: /subscriptions/D7EC67B3-7657-4966-BFFC-41EFD36BAAB3/providers/Microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/eastus/serviceLimits/requests/2B5C8515-37D8-4B6A-879B-CD641A2CF605
                name: 2B5C8515-37D8-4B6A-879B-CD641A2CF605
                properties:
                  message: ""
                  provisioningState: InProgress
                type: Microsoft.Capacity/ServiceLimits
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
  "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimitsRequests":
    get:
      description: For the specified location and Resource provider gets the current quota requests under the subscription over the time period of one year ago from now to one year back. oData filter can be used to select quota requests.
      operationId: QuotaRequests_ListStatus
      parameters:
        - $ref: "#/parameters/SubscriptionIdInParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ProviderIdInParameters"
        - $ref: "#/parameters/LocationIdInParameters"
        - description: "| Field                    | Supported operators \ 

            |---------------------|------------------------

            \r

            |requestSubmitTime | ge, le, eq, gt, lt\n"
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/TopQueryParameter"
        - $ref: "#/parameters/SkipTokenParameter"
      responses:
        "200":
          description: Ok. Sending Quota request status and details
          schema:
            $ref: "#/definitions/QuotaRequestDetailsList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      summary: |-
        For the specified location and resource Provider, gets the quota requests under the subscription over the time
         period of one year ago from now to one year back, based on the filter specified.
      tags:
        - QuotaRequests
      x-ms-examples:
        QuotaRequestHistory:
          parameters:
            api-version: 2019-07-19-preview
            location: eastus
            providerId: Microsoft.Compute
            subscriptionId: 3f75fdf7-977e-44ad-990d-99f14f0f299f
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/3f75fdf7-977e-44ad-990d-99f14f0f299f/providers/microsoft.Capacity/resourceProviders/Microsoft.Compute/locations/eastus/serviceLimitsRequests?api-version=2019-07-19-preview&amp;$top=3
                value:
                  - id: 2B5C8515-37D8-4B6A-879B-CD641A2CF605
                    name: 00000000-0000-0000-0000-000000000000/2B5C8515-37D8-4B6A-879B-CD641A2CF605
                    properties:
                      message: Request completed
                      provisioningState: Success
                      requestSubmitTime: 2019-08-19T19:23:17.904Z
                      value:
                        - limit: 200
                          message: Request completed
                          name:
                            localizedValue: Standard HCS Family vCPUs
                            value: standardHCSFamily
                          provisioningState: Success
                          subRequestId: AD07450A-DE86-4FD3-859B-107BEF218C4C
                        - limit: 50
                          message: Request completed
                          name:
                            localizedValue: Standard NC Promo Family vCPUs
                            value: standardNCPromoFamily
                          provisioningState: Success
                          subRequestId: AD07450A-DE86-4FD3-859B-107BEF218C4C
                    type: Microsoft.Capacity/serviceLimitsRequests
                  - id: 7E73A85C-83BB-4DE4-903F-076F1A2B91D6
                    name: 00000000-0000-0000-0000-000000000000/7E73A85C-83BB-4DE4-903F-076F1A2B91D6
                    properties:
                      message: Request completed
                      provisioningState: Succeeded
                      requestSubmitTime: 2019-08-18T19:23:17.904Z
                      value:
                        - limit: 100
                          message: Request completed
                          name:
                            localizedValue: Standard NVSv3 Family vCPUs
                            value: standardNVSv3Family
                          provisioningState: Success
                          subRequestId: AD07450A-DE86-4FD3-859B-107BEF218C4C
                        - limit: 150
                          message: Request completed
                          name:
                            localizedValue: Standard NV Promo Family vCPUs
                            value: standardNVPromoFamily
                          provisioningState: Succeeded
                          subRequestId: AD07450A-DE86-4FD3-859B-107BEF218C4C
                    type: Microsoft.Capacity/serviceLimitsRequests
                  - id: 5E460077-AB53-4802-8997-A6940E0B7649
                    name: 00000000-0000-0000-0000-000000000000/5E460077-AB53-4802-8997-A6940E0B7649
                    properties:
                      message: Request completed
                      provisioningState: Succeeded
                      requestSubmitTime: 2019-08-17T19:23:17.904Z
                      value:
                        - limit: 70
                          message: Request completed
                          name:
                            localizedValue: Standard NC Promo Family vCPUs
                            value: standardNCPromoFamily
                          provisioningState: Succeeded
                          subRequestId: AD07450A-DE86-4FD3-859B-107BEF218C4C
                        - limit: 52
                          message: Request completed
                          name:
                            localizedValue: Standard HBS Family vCPUs
                            value: standardHBSFamily
                          provisioningState: Succeeded
                          subRequestId: AD07450A-DE86-4FD3-859B-107BEF218C4C
                    type: Microsoft.Capacity/serviceLimitsRequests
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Capacity/resourceProviders/{providerId}/locations/{location}/serviceLimitsRequests/{id}":
    get:
      description: Gets the QuotaRequest details and status by the quota requestId for the resources for the resource provider at a specific location. The requestId is returned as response to the Put requests for serviceLimits.
      operationId: QuotaRequests_GetStatus
      parameters:
        - $ref: "#/parameters/SubscriptionIdInParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ProviderIdInParameters"
        - $ref: "#/parameters/LocationIdInParameters"
        - $ref: "#/parameters/RequestIdInParameters"
      responses:
        "200":
          description: Ok. Returning the status for the quota request .
          schema:
            $ref: "#/definitions/QuotaRequestDetails"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      summary: Gets the Quota request status by requestId, for the specified resource provider at specified location.
      tags:
        - QuotaRequests
      x-ms-examples:
        QuotaRequestFailed:
          parameters:
            api-version: 2019-07-19-preview
            id: 2B5C8515-37D8-4B6A-879B-CD641A2CF605
            location: eastus
            providerId: Microsoft.Compute
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: 2B5C8515-37D8-4B6A-879B-CD641A2CF605
                name: 00000000-0000-0000-0000-000000000000/2B5C8515-37D8-4B6A-879B-CD641A2CF605
                properties:
                  message: Request failed, please contatct support.
                  provisioningState: Failed
                  requestSubmitTime: 2019-08-19T19:23:17.904Z
                  value:
                    - limit: 200
                      message: Request completed
                      name:
                        localizedValue: Standard HCS Family vCPUs
                        value: standardHCSFamily
                      provisioningState: Succeeded
                      subRequestId: AD07450A-DE86-4FD3-859B-107BEF218C4C
                    - limit: 50
                      message: RRequest failed, please contatct support.
                      name:
                        localizedValue: Standard NC Promo Family vCPUs
                        value: standardNCPromoFamily
                      provisioningState: Failed
                      subRequestId: AD07450A-DE86-4FD3-859B-107BEF218C4C
                type: Microsoft.Capacity/serviceLimitsRequests
        QuotaRequestInProgress:
          parameters:
            api-version: 2019-07-19-preview
            id: 2B5C8515-37D8-4B6A-879B-CD641A2CF605
            location: eastus
            providerId: Microsoft.Compute
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: 2B5C8515-37D8-4B6A-879B-CD641A2CF605
                name: 00000000-0000-0000-0000-000000000000/2B5C8515-37D8-4B6A-879B-CD641A2CF605
                properties:
                  message: Request processing
                  provisioningState: InProgress
                  requestSubmitTime: 2019-08-19T19:23:17.904Z
                  value:
                    - limit: 200
                      message: Request completed
                      name:
                        localizedValue: Standard HCS Family vCPUs
                        value: standardHCSFamily
                      provisioningState: Succeeded
                      subRequestId: AD07450A-DE86-4FD3-859B-107BEF218C4C
                    - limit: 50
                      message: Request processing
                      name:
                        localizedValue: Standard NC Promo Family vCPUs
                        value: standardNCPromoFamily
                      provisioningState: InProgress
                      subRequestId: AD07450A-DE86-4FD3-859B-107BEF218C4C
                type: Microsoft.Capacity/serviceLimitsRequests
        QuotaRequestStatus:
          parameters:
            api-version: 2019-07-19-preview
            id: 2B5C8515-37D8-4B6A-879B-CD641A2CF605
            location: eastus
            providerId: Microsoft.Compute
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: 2B5C8515-37D8-4B6A-879B-CD641A2CF605
                name: 00000000-0000-0000-0000-000000000000/2B5C8515-37D8-4B6A-879B-CD641A2CF605
                properties:
                  message: Request completed
                  provisioningState: Succeeded
                  requestSubmitTime: 2019-08-19T19:23:17.904Z
                  value:
                    - limit: 200
                      message: Request completed
                      name:
                        localizedValue: Standard HCS Family vCPUs
                        value: standardHCSFamily
                      provisioningState: Succeeded
                      subRequestId: AD07450A-DE86-4FD3-859B-107BEF218C4C
                    - limit: 50
                      message: Request completed
                      name:
                        localizedValue: Standard NC Promo Family vCPUs
                        value: standardNCPromoFamily
                      provisioningState: Succeeded
                type: Microsoft.Capacity/serviceLimitsRequests
definitions:
  Actions:
    description: The actions for auto quota increase.
    properties:
      emailActions:
        description: The email actions for auto quota increase.
        properties:
          value:
            description: The list of email actions.
            items:
              $ref: "#/definitions/EmailAction"
              description: The email recipients.
            type: array
      phoneActions:
        description: The phone actions for auto quota increase.
        properties:
          value:
            description: The list of phone actions.
            items:
              $ref: "#/definitions/PhoneAction"
              description: The email recipients.
            type: array
    type: object
  AqiState:
    description: The Auto quota increase state.
    enum:
      - enabled
      - disabled
    x-ms-enum:
      modelAsString: true
      name: AqiStateType
  AutoQuotaIncreaseDetail:
    description: Auto Quota Increase settings.
    properties:
      id:
        description: The subscription Id.
        readOnly: true
        type: string
      name:
        description: The name of the auto quota increase.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/autoQuotaIncreaseSettings"
        description: Actions for auto quota increase.
        x-ms-client-flatten: true
      type:
        description: The type of the resource
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  ContactMethod:
    description: The contact method.
    enum:
      - Email
      - Phone
    x-ms-enum:
      modelAsString: true
      name: ContactMethodType
  CreateGenericQuotaRequestParameters:
    description: Quota change requests information.
    properties:
      value:
        description: Quota change requests.
        items:
          $ref: "#/definitions/CurrentQuotaLimitBase"
        type: array
    type: object
  CurrentQuotaLimit:
    description: Quota limits.
    properties:
      properties:
        $ref: "#/definitions/QuotaRequestStatusDetails"
        description: Addition properties for the quota request status for the resource.
        x-ms-client-flatten: true
      quotaInformation:
        $ref: "#/definitions/CurrentQuotaLimitBase"
        description: Quota information detail.
        x-ms-client-flatten: true
    type: object
    x-ms-azure-resource: true
  CurrentQuotaLimitBase:
    description: Quota limits.
    properties:
      currentValue:
        description: The current resource usages information.
        readOnly: true
        type: integer
      limit:
        description: The quota limit.
        type: integer
      name:
        description: Name of the resource provide by the resource Provider. Please use this name property for quotaRequests.
        properties:
          localizedValue:
            description: Resource display name.
            readOnly: true
            type: string
          value:
            description: Resource name.
            readOnly: false
            type: string
      properties:
        description: Additional properties for the specific resource provider.
        type: object
      quotaPeriod:
        description: The quota period over which the usage values are summarized, such as - P1D (Per one day), PT1M (Per one minute), PT1S (Per one second). This parameter is optional because, for some resources like compute, the period doesn’t matter.
        readOnly: true
        type: string
      resourceType:
        $ref: "#/definitions/ResourceTypesName"
        description: The Resource Type Name.
        readOnly: false
      unit:
        description: " The units of the limit, such as - Count, Bytes, etc. Use the unit field provided in the Get quota response."
        readOnly: false
        type: string
    type: object
    x-ms-azure-resource: true
  EmailAction:
    description: Email Action.
    properties:
      emailAddress:
        description: The email address for the action.
        type: string
  EmailActions:
    description: The email actions.
    properties:
      value:
        description: The list of actions based on the success or failure of automatic quota increase action.
        items:
          $ref: "#/definitions/EmailAction"
          description: The email recipients for the specific action types.
        type: array
  ExceptionResponse:
    description: The api error.
    properties:
      error:
        $ref: "#/definitions/ServiceError"
        description: The api error details.
    type: object
  OnFailure:
    $ref: "#/definitions/Actions"
    description: The on failure action for auto quota increase.
  OnSuccess:
    $ref: "#/definitions/Actions"
    description: The on success action for auto quota increase.
  PhoneAction:
    description: Phone Action.
    properties:
      phoneNumber:
        description: The phone number for the action.
        type: string
      preferredChannel:
        $ref: "#/definitions/ContactMethod"
        description: The preferred communication channel.
    type: object
  QuotaLimits:
    description: Quota limits.
    properties:
      nextLink:
        description: The uri to fetch the next page of quota limits. When there are no more pages, this is null.
        type: string
      value:
        description: List of Quota limits.
        items:
          $ref: "#/definitions/CurrentQuotaLimitBase"
        type: array
  QuotaLimitsResponse:
    description: Quota limits request response.
    properties:
      nextLink:
        description: The uri to fetch the next page of quota limits. When there are no more pages, this is null.
        type: string
      value:
        description: List of Quota limits with the quota request status.
        items:
          $ref: "#/definitions/CurrentQuotaLimit"
        type: array
  QuotaRequestDetails:
    description: The details of the quota Request.
    properties:
      id:
        description: The quota request Id.
        readOnly: true
        type: string
      name:
        description: The name of the quota request.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/QuotaRequestProperties"
        description: The quota request details.
        x-ms-client-flatten: true
      type:
        description: Type of resource. "Microsoft.Capacity/ServiceLimits"
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  QuotaRequestDetailsList:
    description: Quota requests information.
    properties:
      nextLink:
        description: The uri to fetch the next page of quota limits. When there are no more pages, this is null.
        type: string
      value:
        description: The quota Requests.
        items:
          $ref: "#/definitions/QuotaRequestDetails"
        type: array
    type: object
  QuotaRequestOneResourceSubmitResponse:
    description: Quota submit request response
    properties:
      id:
        description: The quota request Id.
        readOnly: true
        type: string
      name:
        description: The name of the quota request.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/quotaRequestOneResourceProperties"
        description: The quota request details.
        x-ms-client-flatten: true
      type:
        description: Type of resource. "Microsoft.Capacity/ServiceLimits"
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  QuotaRequestProperties:
    description: The details of quota request.
    properties:
      message:
        description: User friendly status message.
        readOnly: true
        type: string
      provisioningState:
        $ref: "#/definitions/QuotaRequestState"
        description: The quota request status.
      requestSubmitTime:
        description: "The quota request submit time. The date conforms to the following format: yyyy-MM-ddTHH:mm:ssZ as specified by the ISO 8601 standard."
        format: date-time
        readOnly: true
        type: string
      value:
        description: The quotaRequests.
        items:
          $ref: "#/definitions/SubRequest"
        type: array
    type: object
  QuotaRequestState:
    description: The quota request status.
    enum:
      - Accepted
      - Invalid
      - Succeeded
      - Failed
      - InProgress
    x-ms-enum:
      modelAsString: true
      name: QuotaRequestState
  QuotaRequestStatusDetails:
    description: The quota request status details.
    properties:
      message:
        description: A user friendly message.
        readOnly: true
        type: string
      provisioningState:
        $ref: "#/definitions/QuotaRequestState"
        description: The quota request status.
        readOnly: true
    type: object
  QuotaRequestSubmitResponse:
    description: Quota submit request response
    properties:
      id:
        description: The quota request Id.
        readOnly: true
        type: string
      name:
        description: The name of the quota request.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/QuotaRequestProperties"
        description: The quota request details.
        type: object
      type:
        description: Type of resource. "Microsoft.Capacity/serviceLimits"
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  QuotaRequestSubmitResponse201:
    description: The quota request submit response with request id.
    properties:
      id:
        description: The quota request id. Please use the requestId to check the request status.
        readOnly: true
        type: string
      name:
        description: The operation Id
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/QuotaRequestStatusDetails"
        description: The quota request status.
        x-ms-client-flatten: true
      type:
        description: The resource type
        readOnly: true
        type: string
    type: object
  ResourceTypesName:
    description: The resource types.
    enum:
      - standard
      - dedicated
      - shared
      - serviceSpecific
    x-ms-enum:
      modelAsString: true
      name: ResourceType
  ServiceError:
    description: The api error details.
    properties:
      code:
        description: The error code.
        type: string
      details:
        description: The list of error details.
        items:
          $ref: "#/definitions/ServiceErrorDetail"
        readOnly: true
        type: array
      message:
        description: The error message.
        type: string
    type: object
  ServiceErrorDetail:
    description: The error details.
    properties:
      code:
        description: The error code.
        readOnly: true
        type: string
      message:
        description: The error message.
        readOnly: true
        type: string
    type: object
  SeverityTypes:
    description: The Severity types.
    enum:
      - Critical
      - Moderate
      - Minimal
    x-ms-enum:
      modelAsString: true
      name: SeverityType
  SubRequest:
    description: The sub-request submitted with the quota request.
    properties:
      limit:
        description: The Resource limit.
        readOnly: true
        type: integer
      message:
        description: User friendly status message.
        readOnly: true
        type: string
      name:
        description: The Resource name.
        properties:
          localizedValue:
            description: Resource display name.
            readOnly: true
            type: string
          value:
            description: Resource name.
            readOnly: true
            type: string
      provisioningState:
        $ref: "#/definitions/QuotaRequestState"
        description: The quota request status.
      resourceType:
        description: Resource type for which the quota check was made.
        readOnly: true
        type: string
      subRequestId:
        description: Sub request id for individual request.
        readOnly: true
        type: string
      unit:
        description: " The units of the limit, such as - Count, Bytes, etc. Use the unit field provided in the Get quota response."
        type: string
    type: object
  SupportContactTypes:
    description: The support contact types.
    enum:
      - email
      - phone
      - chat
    x-ms-enum:
      modelAsString: true
      name: SupportContactType
  SupportRequestAction:
    description: The SupportRequest action.
    properties:
      alternateEmailAddresses:
        description: The alternate email address of the recipient.
        items:
          description: The email recipients.
          type: string
        type: array
      autoQuotaIncreaseState:
        $ref: "#/definitions/AqiState"
        description: Is support request action enabled.
      country:
        description: The country of the recipient.
        type: string
      firstName:
        description: The first name of the recipient.
        type: string
      lastName:
        description: The last name of the recipient.
        type: string
      phoneNumber:
        description: The phone number of the recipient.
        type: string
      preferredContactMethod:
        $ref: "#/definitions/ContactMethod"
        description: The preferred communication channel.
      primaryEmailAddress:
        description: The primary email addresses of the recipients.
        type: string
      severity:
        $ref: "#/definitions/SeverityTypes"
        description: The support request severity.
      supportLanguage:
        description: The support language.
        type: string
    type: object
  aqiSettings:
    description: Settings for auto quota increase.
    properties:
      autoQuotaIncreaseState:
        $ref: "#/definitions/AqiState"
        description: If the subscription has enabled automatic quota increase.
    type: object
  autoQuotaIncreaseSettings:
    description: Actions for auto quota increase.
    properties:
      onFailure:
        $ref: "#/definitions/OnFailure"
        description: The on failure Actions.
      onSuccess:
        $ref: "#/definitions/OnSuccess"
        description: The on success Actions.
      settings:
        $ref: "#/definitions/aqiSettings"
        description: Settings for automatic quota increase.
      supportTicketAction:
        $ref: "#/definitions/SupportRequestAction"
        description: The support ticket action.
    type: object
  quotaRequestOneResourceProperties:
    description: The details of quota request.
    properties:
      message:
        description: User friendly status message.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/CurrentQuotaLimitBase"
        description: The quota request addition properties.
        x-ms-client-flatten: true
      provisioningState:
        $ref: "#/definitions/QuotaRequestState"
        description: The quota request status.
        readOnly: true
      requestSubmitTime:
        description: "The quota request submit time. The date conforms to the following format: yyyy-MM-ddTHH:mm:ssZ as specified by the ISO 8601 standard."
        format: date-time
        readOnly: true
        type: string
    type: object
