swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Storage Import/Export Resource Provider API.
  title: StorageImportExport
  version: 2016-11-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/storageimportexport/resource-manager/Microsoft.ImportExport/stable/2016-11-01/storageimportexport.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: storageimportexport
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  Accept-Language:
    description: Specifies the preferred language for the response.
    in: header
    name: Accept-Language
    required: false
    type: string
    x-ms-parameter-location: client
  api-version:
    description: Specifies the API version to use for this request.
    enum:
      - 2016-11-01
    in: query
    name: api-version
    required: true
    type: string
  resourceGroupName:
    description: The resource group name uniquely identifies the resource group within the user subscription.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: The subscription ID for the Azure user.
    in: path
    name: subscriptionId
    required: true
    type: string
  x-ms-client-tenant-id:
    description: The tenant ID of the client making the request.
    in: header
    name: x-ms-client-tenant-id
    required: false
    type: string
    x-ms-client-name: ClientTenantId
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.ImportExport/locations:
    get:
      description: Returns a list of locations to which you can ship the disks associated with an import or export job. A location is a Microsoft data center region.
      externalDocs:
        url: ""
      operationId: Locations_List
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/Accept-Language"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/LocationsResponse"
        default:
          description: An error occurs.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - StorageImportExport
      x-ms-examples:
        List locations:
          parameters:
            api-version: 2016-11-01
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.ImportExport/locations/australiaeast
                    name: Australia East
                    properties:
                      alternateLocations:
                        - /providers/Microsoft.ImportExport/locations/australiaeast
                      city: Macquarie Park
                      countryOrRegion: Australia
                      phone: 612 0000 0000
                      postalCode: "2113"
                      recipientName: Windows Azure Import/Export Service
                      stateOrProvince: NSW
                      streetAddress1: Customer-A c/o NEXTDC Ltd, Delivery code ABCDEFG, 4 Eden Park Drive
                      streetAddress2: ""
                      supportedCarriers:
                        - DHL
                    type: Microsoft.ImportExport/locations
                  - id: /providers/Microsoft.ImportExport/locations/australiasoutheast
                    name: Australia Southeast
                    properties:
                      alternateLocations:
                        - /providers/Microsoft.ImportExport/locations/australiasoutheast
                      city: Melbourne
                      countryOrRegion: Australia
                      phone: 61 0 0000 0000
                      postalCode: "3207"
                      recipientName: Microsoft Azure Import/Export Service
                      stateOrProvince: Melbourne
                      streetAddress1: Microsoft, c/o NEXTDC Ltd, Delivery code ABCDEFG, 826-830 Lorimer St, Port
                      streetAddress2: ""
                      supportedCarriers:
                        - DHL
                    type: Microsoft.ImportExport/locations
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.ImportExport/locations/{locationName}":
    get:
      description: Returns the details about a location to which you can ship the disks associated with an import or export job. A location is an Azure region.
      externalDocs:
        url: ""
      operationId: Locations_Get
      parameters:
        - description: The name of the location. For example, West US or westus.
          in: path
          name: locationName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/Accept-Language"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Location"
        default:
          description: An error occurs.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - StorageImportExport
      x-ms-examples:
        Get locations:
          parameters:
            api-version: 2016-11-01
            locationName: West US
          responses:
            "200":
              body:
                id: /providers/Microsoft.ImportExport/locations/westus
                name: West US
                properties:
                  alternateLocations:
                    - /providers/Microsoft.ImportExport/locations/westus
                  city: Santa Clara
                  countryOrRegion: USA
                  phone: 408 352 7600
                  postalCode: "95050"
                  recipientName: Microsoft Azure Import/Export Service
                  stateOrProvince: CA
                  streetAddress1: 2045 Lafayette Street
                  streetAddress2: ""
                  supportedCarriers:
                    - FedEx
                type: Microsoft.ImportExport/locations
  /providers/Microsoft.ImportExport/operations:
    get:
      description: Returns the list of operations supported by the import/export resource provider.
      externalDocs:
        url: ""
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/Accept-Language"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ListOperationsResponse"
        default:
          description: An error occurs.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - StorageImportExport
      x-ms-examples:
        List available operations:
          parameters:
            api-version: 2016-11-01
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Gets the properties for the specified location or returns the list of locations.
                      operation: Get or List Locations
                      provider: Microsoft Import/Export
                      resource: Locations
                    name: Microsoft.ImportExport/locations/read
                  - display:
                      description: Creates a job with the specified parameters or update the properties or tags for the specified job.
                      operation: Create or Update Job
                      provider: Microsoft Import/Export
                      resource: Jobs
                    name: Microsoft.ImportExport/jobs/write
                  - display:
                      description: Gets the properties for the specified job or returns the list of jobs.
                      operation: Get or List Jobs
                      provider: Microsoft Import/Export
                      resource: Jobs
                    name: Microsoft.ImportExport/jobs/read
                  - display:
                      description: Gets the BitLocker keys for the specified job.
                      operation: List BitLocker Keys
                      provider: Microsoft Import/Export
                      resource: Jobs
                    name: Microsoft.ImportExport/jobs/listBitLockerKeys/action
                  - display:
                      description: Deletes an existing job.
                      operation: Delete Job
                      provider: Microsoft Import/Export
                      resource: Jobs
                    name: Microsoft.ImportExport/jobs/delete
                  - display:
                      description: Registers the subscription for the import/export resource provider and enables the creation of import/export jobs.
                      operation: Registers the Import/Export Resource Provider
                      provider: Microsoft Import/Export
                      resource: Import/Export Resource Provider
                    name: Microsoft.ImportExport/register/action
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.ImportExport/jobs":
    get:
      description: Returns all active and completed jobs in a subscription.
      externalDocs:
        url: ""
      operationId: Jobs_ListBySubscription
      parameters:
        - description: An integer value that specifies how many jobs at most should be returned. The value cannot exceed 100.
          in: query
          name: $top
          required: false
          type: integer
        - description: Can be used to restrict the results to certain conditions.
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/Accept-Language"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ListJobsResponse"
        default:
          description: An error occurs.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - StorageImportExport
      x-ms-examples:
        List jobs in a subscription:
          parameters:
            api-version: 2016-11-01
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/testrg/providers/Microsoft.ImportExport/jobs/test-bn1-import-cpu100-01
                    location: East US 2
                    name: test-bn1-import-cpu100-01
                    properties:
                      backupDriveManifest: true
                      cancelRequested: false
                      deliveryPackage:
                        carrierName: FedEx
                        driveCount: 1
                        shipDate: 8/11/2017 9:05:00 PM
                        trackingNumber: "992016102507"
                      diagnosticsPath: waimportexport
                      driveList:
                        - driveId: 7PHR882C
                          manifestFile: \DriveManifest.xml
                          manifestHash: E5D632DB047C74B3B17C8F3359950ADB
                          state: Received
                      jobType: Import
                      logLevel: Verbose
                      provisioningState: Succeeded
                      returnAddress:
                        city: city
                        countryOrRegion: USA
                        email: test@contoso.com
                        phone: "425000000"
                        postalCode: "98007"
                        recipientName: La
                        stateOrProvince: wa
                        streetAddress1: Street1
                        streetAddress2: street2
                      shippingInformation:
                        city: Boydton
                        countryOrRegion: USA
                        phone: +1-434-738-9443
                        postalCode: "23917"
                        recipientName: Windows Azure Import Export Service
                        stateOrProvince: VA
                        streetAddress1: "Boydton 1 / BLDG # 1 101 Herbert Drive"
                        streetAddress2: ""
                      state: Received
                      storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/testrg/providers/Microsoft.Storage/storageAccounts/xtprodtestarmos2
                    type: Microsoft.ImportExport/jobs
                  - id: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/testrg/providers/Microsoft.ImportExport/jobs/test-bn1-import-cpu100-02
                    location: East US 2
                    name: test-bn1-import-cpu100-02
                    properties:
                      backupDriveManifest: true
                      cancelRequested: false
                      deliveryPackage:
                        carrierName: FedEx
                        driveCount: 1
                        shipDate: 8/13/2017 7:32:23 PM
                        trackingNumber: "992016102508"
                      diagnosticsPath: waimportexport
                      driveList:
                        - copyStatus: InProgress
                          driveId: KV6H86XP
                          errorLogUri: https://foo.blob.core.windows.net/waimportexport/waies/test-bn1-import-cpu100-02_KV6H86XP_20170813-194620-021_error.xml
                          manifestFile: \DriveManifest.xml
                          manifestHash: F6A488A65AF0CCA7D050B7F9F43A197C
                          manifestUri: https://foo.blob.core.windows.net/waimportexport/waies/test-bn1-import-cpu100-02_KV6H86XP_20170813-194620-574_manifest.xml
                          state: CompletedMoreInfo
                          verboseLogUri: https://foo.blob.core.windows.net/waimportexport/waies/test-bn1-import-cpu100-02_KV6H86XP_20170813-194618-350_verbose.xml
                      jobType: Import
                      logLevel: Verbose
                      percentComplete: 6
                      provisioningState: Succeeded
                      returnAddress:
                        city: city
                        countryOrRegion: USA
                        email: test@contoso.com
                        phone: "4256150991"
                        postalCode: "98007"
                        recipientName: La
                        stateOrProvince: wa
                        streetAddress1: Street1
                        streetAddress2: street2
                      shippingInformation:
                        city: Boydton
                        countryOrRegion: USA
                        phone: +1-434-738-9443
                        postalCode: "23917"
                        recipientName: Windows Azure Import Export Service
                        stateOrProvince: VA
                        streetAddress1: "Boydton 1 / BLDG # 1 101 Herbert Drive"
                        streetAddress2: ""
                      state: Transferring
                      storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/testrg/providers/Microsoft.Storage/storageAccounts/xtprodtestarmos2
                    type: Microsoft.ImportExport/jobs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs":
    get:
      description: Returns all active and completed jobs in a resource group.
      externalDocs:
        url: ""
      operationId: Jobs_ListByResourceGroup
      parameters:
        - description: An integer value that specifies how many jobs at most should be returned. The value cannot exceed 100.
          in: query
          name: $top
          required: false
          type: integer
        - description: Can be used to restrict the results to certain conditions.
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/Accept-Language"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ListJobsResponse"
        default:
          description: An error occurs.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - StorageImportExport
      x-ms-examples:
        List jobs in a resource group:
          parameters:
            api-version: 2016-11-01
            resourceGroupName: Default-Storage-WestUS
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ImportExport/jobs/test-by1-ssd-2
                    location: West US
                    name: test-by1-ssd-2
                    properties:
                      backupDriveManifest: true
                      cancelRequested: false
                      deliveryPackage:
                        carrierName: FedEx
                        driveCount: 1
                        shipDate: 9/29/2017 10:28:35 PM
                        trackingNumber: "787895108176"
                      diagnosticsPath: waimportexport
                      jobType: Import
                      logLevel: Verbose
                      provisioningState: Succeeded
                      returnAddress:
                        city: Redmond
                        countryOrRegion: USA
                        email: test@contoso.com
                        phone: "4250000000"
                        postalCode: "98007"
                        recipientName: La
                        stateOrProvince: wa
                        streetAddress1: Street1
                        streetAddress2: street2
                      shippingInformation:
                        city: Santa Clara
                        countryOrRegion: USA
                        phone: 408 352 7600
                        postalCode: "95050"
                        recipientName: Microsoft Azure Import/Export Service
                        stateOrProvince: CA
                        streetAddress1: 2045 Lafayette Street
                        streetAddress2: ""
                      state: Received
                      storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/xtprodtestwu
                    type: Microsoft.ImportExport/jobs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}":
    delete:
      description: Deletes an existing job. Only jobs in the Creating or Completed states can be deleted.
      externalDocs:
        url: ""
      operationId: Jobs_Delete
      parameters:
        - description: The name of the import/export job.
          in: path
          name: jobName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/Accept-Language"
      responses:
        "200":
          description: OK
        default:
          description: An error occurs.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - StorageImportExport
      x-ms-examples:
        Delete job:
          parameters:
            api-version: 2016-11-01
            jobName: test-by1-import
            resourceGroupName: Default-Storage-WestUS
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
          responses:
            "200":
              id: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ImportExport/jobs/test
              location: West US
              name: test-by1-import
              properties:
                backupDriveManifest: true
                cancelRequested: false
                diagnosticsPath: waimportexport
                driveList:
                  - driveHeaderHash: ""
                    driveId: 9CA995BB
                    manifestFile: \DriveManifest.xml
                    manifestHash: 109B21108597EF36D5785F08303F3638
                    state: Specified
                jobType: Import
                logLevel: Verbose
                provisioningState: Succeeded
                returnAddress:
                  city: Redmond
                  countryOrRegion: USA
                  email: Test@contoso.com
                  phone: "4250000000"
                  postalCode: "98007"
                  recipientName: Tets
                  stateOrProvince: wa
                  streetAddress1: Street1
                  streetAddress2: street2
                shippingInformation:
                  city: Santa Clara
                  countryOrRegion: USA
                  phone: 408 0000 0000
                  postalCode: "95050"
                  recipientName: Microsoft Azure Import/Export Service
                  stateOrProvince: CA
                  streetAddress1: 2045 Lafayette Street
                  streetAddress2: ""
                state: Creating
                storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/test
              type: Microsoft.ImportExport/jobs
    get:
      description: Gets information about an existing job.
      externalDocs:
        url: ""
      operationId: Jobs_Get
      parameters:
        - description: The name of the import/export job.
          in: path
          name: jobName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/Accept-Language"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/JobResponse"
        default:
          description: An error occurs.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - StorageImportExport
      x-ms-examples:
        Get job:
          parameters:
            api-version: 2016-11-01
            jobName: test-by1-import
            resourceGroupName: Default-Storage-WestUS
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
          responses:
            "200":
              body:
                id: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ImportExport/jobs/test
                location: West US
                name: test-by1-import
                properties:
                  backupDriveManifest: true
                  cancelRequested: false
                  diagnosticsPath: waimportexport
                  driveList:
                    - driveHeaderHash: ""
                      driveId: 9CA995BB
                      manifestFile: \DriveManifest.xml
                      manifestHash: 109B21108597EF36D5785F08303F3638
                      state: Specified
                  jobType: Import
                  logLevel: Verbose
                  provisioningState: Succeeded
                  returnAddress:
                    city: Redmond
                    countryOrRegion: USA
                    email: Test@contoso.com
                    phone: "4250000000"
                    postalCode: "98007"
                    recipientName: Tets
                    stateOrProvince: wa
                    streetAddress1: Street1
                    streetAddress2: street2
                  shippingInformation:
                    city: Santa Clara
                    countryOrRegion: USA
                    phone: 408 0000 0000
                    postalCode: "95050"
                    recipientName: Microsoft Azure Import/Export Service
                    stateOrProvince: CA
                    streetAddress1: 2045 Lafayette Street
                    streetAddress2: ""
                  state: Creating
                  storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/test
                type: Microsoft.ImportExport/jobs
    patch:
      description: Updates specific properties of a job. You can call this operation to notify the Import/Export service that the hard drives comprising the import or export job have been shipped to the Microsoft data center. It can also be used to cancel an existing job.
      externalDocs:
        url: ""
      operationId: Jobs_Update
      parameters:
        - description: The name of the import/export job.
          in: path
          name: jobName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/Accept-Language"
        - description: The parameters to update in the job
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/UpdateJobParameters"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/JobResponse"
        default:
          description: An error occurs.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - StorageImportExport
      x-ms-examples:
        Update job:
          parameters:
            api-version: 2016-11-01
            body:
              properties:
                backupDriveManifest: true
                logLevel: Verbose
                state: ""
            jobName: test-by1-import
            resourceGroupName: Default-Storage-WestUS
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
          responses:
            "200":
              body:
                id: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ImportExport/jobs/test-by1-import
                location: West US
                name: test-by1-import
                properties:
                  backupDriveManifest: true
                  cancelRequested: false
                  diagnosticsPath: waimportexport
                  driveList:
                    - driveHeaderHash: ""
                      driveId: 9CA995BB
                      manifestFile: \DriveManifest.xml
                      manifestHash: 109B21108597EF36D5785F08303F3638
                      state: Specified
                  jobType: Import
                  logLevel: Verbose
                  provisioningState: Succeeded
                  returnAddress:
                    city: Redmond
                    countryOrRegion: USA
                    email: Test@contoso.com
                    phone: "4250000000"
                    postalCode: "98007"
                    recipientName: Tets
                    stateOrProvince: wa
                    streetAddress1: Street1
                    streetAddress2: street2
                  shippingInformation:
                    city: Santa Clara
                    countryOrRegion: USA
                    phone: 408 352 7600
                    postalCode: "95050"
                    recipientName: Microsoft Azure Import/Export Service
                    stateOrProvince: CA
                    streetAddress1: 2045 Lafayette Street
                    streetAddress2: ""
                  state: Creating
                  storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/test
                type: Microsoft.ImportExport/jobs
    put:
      description: Creates a new job or updates an existing job in the specified subscription.
      externalDocs:
        url: ""
      operationId: Jobs_Create
      parameters:
        - description: The name of the import/export job.
          in: path
          name: jobName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/Accept-Language"
        - $ref: "#/parameters/x-ms-client-tenant-id"
        - description: The parameters used for creating the job
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/PutJobParameters"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/JobResponse"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/JobResponse"
        default:
          description: An error occurs.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - StorageImportExport
      x-ms-examples:
        Create job:
          parameters:
            api-version: 2016-11-01
            body:
              location: West US
              properties:
                backupDriveManifest: true
                diagnosticsPath: waimportexport
                driveList:
                  - bitLockerKey: 238810-662376-448998-450120-652806-203390-606320-483076
                    driveHeaderHash: ""
                    driveId: 9CA995BB
                    manifestFile: \DriveManifest.xml
                    manifestHash: 109B21108597EF36D5785F08303F3638
                jobType: Import
                logLevel: Verbose
                returnAddress:
                  city: Redmond
                  countryOrRegion: USA
                  email: Test@contoso.com
                  phone: "4250000000"
                  postalCode: "98007"
                  recipientName: Tets
                  stateOrProvince: wa
                  streetAddress1: Street1
                  streetAddress2: street2
                storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/test
            jobName: test-by1-import
            resourceGroupName: Default-Storage-WestUS
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
          responses:
            "200":
              body:
                id: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ImportExport/jobs/test
                location: West US
                name: test-by1-import
                properties:
                  backupDriveManifest: true
                  cancelRequested: false
                  diagnosticsPath: waimportexport
                  driveList:
                    - driveHeaderHash: ""
                      driveId: 9CA995BB
                      manifestFile: \DriveManifest.xml
                      manifestHash: 109B21108597EF36D5785F08303F3638
                      state: Specified
                  jobType: Import
                  logLevel: Verbose
                  provisioningState: Succeeded
                  returnAddress:
                    city: Redmond
                    countryOrRegion: USA
                    email: Test@contoso.com
                    phone: "4250000000"
                    postalCode: "98007"
                    recipientName: Tets
                    stateOrProvince: wa
                    streetAddress1: Street1
                    streetAddress2: street2
                  shippingInformation:
                    city: Santa Clara
                    countryOrRegion: USA
                    phone: 408 0000 0000
                    postalCode: "95050"
                    recipientName: Microsoft Azure Import/Export Service
                    stateOrProvince: CA
                    streetAddress1: 2045 Lafayette Street
                    streetAddress2: ""
                  state: Creating
                  storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/test
                type: Microsoft.ImportExport/jobs
            "201":
              body:
                id: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ImportExport/jobs/test
                location: West US
                name: test-by1-import
                properties:
                  backupDriveManifest: true
                  cancelRequested: false
                  diagnosticsPath: waimportexport
                  driveList:
                    - driveHeaderHash: ""
                      driveId: 9CA995BB
                      manifestFile: \DriveManifest.xml
                      manifestHash: 109B21108597EF36D5785F08303F3638
                      state: Specified
                  jobType: Import
                  logLevel: Verbose
                  provisioningState: Succeeded
                  returnAddress:
                    city: Redmond
                    countryOrRegion: USA
                    email: Test@contoso.com
                    phone: "4250000000"
                    postalCode: "98007"
                    recipientName: Tets
                    stateOrProvince: wa
                    streetAddress1: Street1
                    streetAddress2: street2
                  shippingInformation:
                    city: Santa Clara
                    countryOrRegion: USA
                    phone: 408 0000 0000
                    postalCode: "95050"
                    recipientName: Microsoft Azure Import/Export Service
                    stateOrProvince: CA
                    streetAddress1: 2045 Lafayette Street
                    streetAddress2: ""
                  state: Creating
                  storageAccountId: /subscriptions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee/resourceGroups/Default-Storage-WestUS/providers/Microsoft.ClassicStorage/storageAccounts/test
                type: Microsoft.ImportExport/jobs
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}/listBitLockerKeys":
    post:
      description: Returns the BitLocker Keys for all drives in the specified job.
      externalDocs:
        url: ""
      operationId: BitLockerKeys_List
      parameters:
        - description: The name of the import/export job.
          in: path
          name: jobName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/Accept-Language"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/GetBitLockerKeysResponse"
        default:
          description: An error occurs.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - StorageImportExport
      x-ms-examples:
        List BitLocker Keys for drives in a job:
          parameters:
            api-version: 2016-11-01
            jobName: test-by1-import
            resourceGroupName: Default-Storage-WestUS
            subscriptionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
          responses:
            "200":
              body:
                value:
                  - bitLockerKey: 000000-000000-111111-222222-333333-444444-555555-666666
                    driveId: 9CA995BB
      x-ms-pageable:
        nextLinkName: null
definitions:
  DriveBitLockerKey:
    description: BitLocker recovery key or password to the specified drive
    properties:
      bitLockerKey:
        description: BitLocker recovery key or password
        type: string
      driveId:
        description: Drive ID
        type: string
  DriveStatus:
    description: Provides information about the drive's status
    properties:
      bitLockerKey:
        description: The BitLocker key used to encrypt the drive.
        type: string
      bytesSucceeded:
        description: Bytes successfully transferred for the drive.
        format: int64
        type: integer
      copyStatus:
        description: Detailed status about the data transfer process. This field is not returned in the response until the drive is in the Transferring state.
        type: string
      driveHeaderHash:
        description: The drive header hash value.
        type: string
      driveId:
        description: The drive's hardware serial number, without spaces.
        type: string
      errorLogUri:
        description: A URI that points to the blob containing the error log for the data transfer operation.
        type: string
      manifestFile:
        description: "The relative path of the manifest file on the drive. "
        type: string
      manifestHash:
        description: The Base16-encoded MD5 hash of the manifest file on the drive.
        type: string
      manifestUri:
        description: "A URI that points to the blob containing the drive manifest file. "
        type: string
      percentComplete:
        description: "Percentage completed for the drive. "
        type: integer
      state:
        description: "The drive's current state. "
        enum:
          - Specified
          - Received
          - NeverReceived
          - Transferring
          - Completed
          - CompletedMoreInfo
          - ShippedBack
        type: string
        x-ms-enum:
          modelAsString: true
          name: DriveState
      verboseLogUri:
        description: "A URI that points to the blob containing the verbose log for the data transfer operation. "
        type: string
  ErrorResponse:
    description: Response when errors occurred
    properties:
      error:
        description: Describes the error information.
        properties:
          code:
            description: Provides information about the error code.
            type: string
          details:
            description: Describes the error details if present.
            items:
              properties:
                code:
                  description: Provides information about the error code.
                  type: string
                message:
                  description: Provides information about the error message.
                  type: string
                target:
                  description: Provides information about the error target.
                  type: string
            type: array
          innererror:
            description: Inner error object if present.
            type: object
          message:
            description: Provides information about the error message.
            type: string
          target:
            description: Provides information about the error target.
            type: string
        x-ms-client-flatten: true
  Export:
    description: A property containing information about the blobs to be exported for an export job. This property is required for export jobs, but must not be specified for import jobs.
    properties:
      blobList:
        description: A list of the blobs to be exported.
        properties:
          blobPath:
            description: A collection of blob-path strings.
            items:
              type: string
            type: array
          blobPathPrefix:
            description: A collection of blob-prefix strings.
            items:
              type: string
            type: array
        x-ms-client-flatten: true
      blobListblobPath:
        description: "The relative URI to the block blob that contains the list of blob paths or blob path prefixes as defined above, beginning with the container name. If the blob is in root container, the URI must begin with $root. "
        type: string
  GetBitLockerKeysResponse:
    description: GetBitLockerKeys response
    properties:
      value:
        description: drive status
        items:
          $ref: "#/definitions/DriveBitLockerKey"
        type: array
  JobDetails:
    description: Specifies the job properties
    properties:
      backupDriveManifest:
        description: Default value is false. Indicates whether the manifest files on the drives should be copied to block blobs.
        type: boolean
      cancelRequested:
        description: Indicates whether a request has been submitted to cancel the job.
        type: boolean
      deliveryPackage:
        $ref: "#/definitions/PackageInfomation"
        description: "Contains information about the package being shipped by the customer to the Microsoft data center. "
      diagnosticsPath:
        description: The virtual blob directory to which the copy logs and backups of drive manifest files (if enabled) will be stored.
        type: string
      driveList:
        description: List of up to ten drives that comprise the job. The drive list is a required element for an import job; it is not specified for export jobs.
        items:
          $ref: "#/definitions/DriveStatus"
        type: array
      export:
        $ref: "#/definitions/Export"
        description: A property containing information about the blobs to be exported for an export job. This property is included for export jobs only.
      incompleteBlobListUri:
        description: A blob path that points to a block blob containing a list of blob names that were not exported due to insufficient drive space. If all blobs were exported successfully, then this element is not included in the response.
        type: string
      jobType:
        description: The type of job
        type: string
      logLevel:
        description: Default value is Error. Indicates whether error logging or verbose logging will be enabled.
        type: string
      percentComplete:
        description: Overall percentage completed for the job.
        type: integer
      provisioningState:
        description: Specifies the provisioning state of the job.
        type: string
      returnAddress:
        $ref: "#/definitions/ReturnAddress"
        description: "Specifies the return address information for the job. "
      returnPackage:
        $ref: "#/definitions/PackageInfomation"
        description: "Contains information about the package being shipped from the Microsoft data center to the customer to return the drives. The format is the same as the deliveryPackage property above. This property is not included if the drives have not yet been returned. "
      returnShipping:
        $ref: "#/definitions/ReturnShipping"
        description: "Specifies the return carrier and customer's account with the carrier. "
      shippingInformation:
        $ref: "#/definitions/ShippingInformation"
        description: "Contains information about the Microsoft datacenter to which the drives should be shipped. "
      state:
        description: Current state of the job.
        type: string
      storageAccountId:
        description: The resource identifier of the storage account where data will be imported to or exported from.
        type: string
  JobResponse:
    description: Contains the job information.
    properties:
      id:
        description: Specifies the resource identifier of the job.
        readOnly: true
        type: string
      location:
        description: Specifies the Azure location where the job is created.
        type: string
      name:
        description: Specifies the name of the job.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/JobDetails"
        description: Specifies the job properties
      tags:
        description: Specifies the tags that are assigned to the job.
        type: object
      type:
        description: Specifies the type of the job resource.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  ListJobsResponse:
    description: List jobs response
    properties:
      nextLink:
        description: link to next batch of jobs
        type: string
      value:
        description: Job list
        items:
          $ref: "#/definitions/JobResponse"
        type: array
  ListOperationsResponse:
    description: List operations response
    properties:
      value:
        description: operations
        items:
          $ref: "#/definitions/Operation"
        type: array
  Location:
    description: Provides information about an Azure data center location.
    properties:
      id:
        description: "Specifies the resource identifier of the location. "
        type: string
      name:
        description: "Specifies the name of the location. Use List Locations to get all supported locations. "
        type: string
      properties:
        description: location properties
        properties:
          alternateLocations:
            description: "A list of location IDs that should be used to ship shipping drives to for jobs created against the current location. If the current location is active, it will be part of the list. If it is temporarily closed due to maintenance, this list may contain other locations. "
            items:
              type: string
            type: array
          city:
            description: "The city name to use when shipping the drives to the Azure data center. "
            type: string
          countryOrRegion:
            description: "The country or region to use when shipping the drives to the Azure data center. "
            type: string
          phone:
            description: "The phone number for the Azure data center. "
            type: string
          postalCode:
            description: "The postal code to use when shipping the drives to the Azure data center. "
            type: string
          recipientName:
            description: "The recipient name to use when shipping the drives to the Azure data center. "
            type: string
          stateOrProvince:
            description: "The state or province to use when shipping the drives to the Azure data center. "
            type: string
          streetAddress1:
            description: "The first line of the street address to use when shipping the drives to the Azure data center. "
            type: string
          streetAddress2:
            description: "The second line of the street address to use when shipping the drives to the Azure data center. "
            type: string
          supportedCarriers:
            description: "A list of carriers that are supported at this location. "
            items:
              type: string
            type: array
        x-ms-client-flatten: true
      type:
        description: "Specifies the type of the location. "
        type: string
  LocationsResponse:
    description: Locations response
    properties:
      value:
        description: locations
        items:
          $ref: "#/definitions/Location"
        type: array
  Operation:
    description: Describes a supported operation by the Storage Import/Export job API.
    properties:
      display:
        description: operation display properties
        properties:
          description:
            description: Short description of the operation.
            type: string
          operation:
            description: The display name of the operation.
            type: string
          provider:
            description: The resource provider name to which the operation belongs.
            type: string
          resource:
            description: The name of the resource to which the operation belongs.
            type: string
        x-ms-client-flatten: true
      name:
        description: Name of the operation.
        type: string
    required:
      - name
      - display
  PackageInfomation:
    description: Contains information about the package being shipped by the customer to the Microsoft data center.
    properties:
      carrierName:
        description: The name of the carrier that is used to ship the import or export drives.
        type: string
      driveCount:
        description: The number of drives included in the package.
        type: integer
      shipDate:
        description: The date when the package is shipped.
        type: string
      trackingNumber:
        description: The tracking number of the package.
        type: string
    required:
      - carrierName
      - trackingNumber
      - driveCount
      - shipDate
  PutJobParameters:
    description: Put Job parameters
    properties:
      location:
        description: Specifies the supported Azure location where the job should be created
        type: string
      properties:
        $ref: "#/definitions/JobDetails"
        description: Specifies the job properties
      tags:
        description: Specifies the tags that will be assigned to the job.
        type: object
  ReturnAddress:
    description: Specifies the return address information for the job.
    properties:
      city:
        description: The city name to use when returning the drives.
        type: string
      countryOrRegion:
        description: "The country or region to use when returning the drives. "
        type: string
      email:
        description: Email address of the recipient of the returned drives.
        type: string
      phone:
        description: Phone number of the recipient of the returned drives.
        type: string
      postalCode:
        description: The postal code to use when returning the drives.
        type: string
      recipientName:
        description: "The name of the recipient who will receive the hard drives when they are returned. "
        type: string
      stateOrProvince:
        description: The state or province to use when returning the drives.
        type: string
      streetAddress1:
        description: "The first line of the street address to use when returning the drives. "
        type: string
      streetAddress2:
        description: "The second line of the street address to use when returning the drives. "
        type: string
    required:
      - recipientName
      - streetAddress1
      - city
      - postalCode
      - countryOrRegion
      - phone
      - email
  ReturnShipping:
    description: Specifies the return carrier and customer's account with the carrier.
    properties:
      carrierAccountNumber:
        description: The customer's account number with the carrier.
        type: string
      carrierName:
        description: The carrier's name.
        type: string
    required:
      - carrierName
      - carrierAccountNumber
  ShippingInformation:
    description: Contains information about the Microsoft datacenter to which the drives should be shipped.
    properties:
      city:
        description: The city name to use when returning the drives.
        type: string
      countryOrRegion:
        description: "The country or region to use when returning the drives. "
        type: string
      phone:
        description: Phone number of the recipient of the returned drives.
        type: string
      postalCode:
        description: The postal code to use when returning the drives.
        type: string
      recipientName:
        description: "The name of the recipient who will receive the hard drives when they are returned. "
        type: string
      stateOrProvince:
        description: The state or province to use when returning the drives.
        type: string
      streetAddress1:
        description: "The first line of the street address to use when returning the drives. "
        type: string
      streetAddress2:
        description: "The second line of the street address to use when returning the drives. "
        type: string
    required:
      - recipientName
      - streetAddress1
      - city
      - stateOrProvince
      - postalCode
      - countryOrRegion
  UpdateJobParameters:
    description: Update Job parameters
    properties:
      properties:
        description: Specifies the properties of a UpdateJob.
        properties:
          backupDriveManifest:
            description: Indicates whether the manifest files on the drives should be copied to block blobs.
            type: boolean
          cancelRequested:
            description: "If specified, the value must be true. The service will attempt to cancel the job. "
            type: boolean
          deliveryPackage:
            $ref: "#/definitions/PackageInfomation"
            description: Contains information about the package being shipped by the customer to the Microsoft data center.
          driveList:
            description: List of drives that comprise the job.
            items:
              $ref: "#/definitions/DriveStatus"
            type: array
          logLevel:
            description: Indicates whether error logging or verbose logging is enabled.
            type: string
          returnAddress:
            $ref: "#/definitions/ReturnAddress"
            description: Specifies the return address information for the job.
          returnShipping:
            $ref: "#/definitions/ReturnShipping"
            description: Specifies the return carrier and customer's account with the carrier.
          state:
            description: "If specified, the value must be Shipping, which tells the Import/Export service that the package for the job has been shipped. The ReturnAddress and DeliveryPackage properties must have been set either in this request or in a previous request, otherwise the request will fail. "
            type: string
        x-ms-client-flatten: true
      tags:
        description: Specifies the tags that will be assigned to the job
        type: object
