openapi: 3.0.0
servers:
  - url: http://timetableapi.ptv.vic.gov.au
  - url: https://timetableapi.ptv.vic.gov.au
info:
  contact:
    name: Public Transport Victoria
    url: http://ptv.vic.gov.au/digital
  description: "The PTV Timetable API provides direct access to Public Transport Victoria’s public transport timetable data.\r

    \r

    The API returns scheduled timetable, route and stop data for all metropolitan and regional train, tram and bus services in Victoria, including Night Network(Night Train and Night Tram data are included in metropolitan train and tram services data, respectively, whereas Night Bus is a separate route type).\r

    \r

    The API also returns real-time data for metropolitan train, tram and bus services (where this data is made available to PTV), as well as disruption information, stop facility information, and access to myki ticket outlet data.\r

    \r

    This Swagger is for Version 3 of the PTV Timetable API. By using this documentation you agree to comply with the licence and terms of service.\r

    \r

    Train timetable data is updated daily, while the remaining data is updated weekly, taking into account any planned timetable changes (for example, due to holidays or planned disruptions). The PTV timetable API is the same API used by PTV for its apps. To access the most up to date data PTV has (including real-time data) you must use the API dynamically.\r

    \r

    You can access the PTV Timetable API through a HTTP or HTTPS interface, as follows:\r

    \r

    \    base URL / version number / API name / query string\r

    The base URL is either:\r

    \  *  http://timetableapi.ptv.vic.gov.au\r

    or\r

    \  *  https://timetableapi.ptv.vic.gov.au\r

    \r

    The Swagger JSON file is available at http://timetableapi.ptv.vic.gov.au/swagger/docs/v3\r

    \r

    Frequently asked questions are available on the PTV website at http://ptv.vic.gov.au/apifaq\r

    \r

    Links to the following information are also provided on the PTV website at http://ptv.vic.gov.au/ptv-timetable-api/\r

    * How to register for an API key and calculate a signature\r

    * PTV Timetable API V2 to V3 Migration Guide\r

    * Documentation for Version 2 of the PTV Timetable API\r

    * PTV Timetable API Data Quality Statement\r

    \r

    All information about how to use the API is in this documentation. PTV cannot provide technical support for the API.\r

    \r

    Credits: This page has been based on Steve Bennett's http://opentransportdata.org/, used with permission.\r\n"
  license:
    name: Creative Commons Attribution 4.0 International
    url: https://creativecommons.org/licenses/by/4.0/
  title: PTV Timetable API - Version 3
  version: v3
  x-apisguru-categories:
    - transport
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_544730682023346176_sAia9jJQ_400x400.jpeg
  x-origin:
    - format: openapi
      url: http://timetableapi.ptv.vic.gov.au/swagger/docs/v3
      version: "3.0"
  x-providerName: ptv.vic.gov.au
paths:
  "/v3/departures/route_type/{route_type}/stop/{stop_id}":
    get:
      deprecated: false
      operationId: Departures_GetForStop
      parameters:
        - description: Number identifying transport mode; values returned via RouteTypes API
          in: path
          name: route_type
          required: true
          schema:
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
            format: int32
            type: integer
        - description: Identifier of stop; values returned by Stops API
          in: path
          name: stop_id
          required: true
          schema:
            format: int32
            type: integer
        - description: Filter by platform number at stop
          explode: true
          in: query
          name: platform_numbers
          required: false
          schema:
            items:
              format: int32
              type: integer
            type: array
        - description: Filter by identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}
          in: query
          name: direction_id
          required: false
          schema:
            format: int32
            type: integer
        - description: Indicates that stop_id parameter will accept "GTFS stop_id" data
          in: query
          name: gtfs
          required: false
          schema:
            type: boolean
        - description: Filter by the date and time of the request (ISO 8601 UTC format) (default = current date and time)
          in: query
          name: date_utc
          required: false
          schema:
            format: date-time
            type: string
        - description: Maximum number of results returned
          in: query
          name: max_results
          required: false
          schema:
            format: int32
            type: integer
        - description: Indicates if cancelled services (if they exist) are returned (default = false) - metropolitan train only
          in: query
          name: include_cancelled
          required: false
          schema:
            type: boolean
        - description: Indicates if filtering runs (and their departures) to those that arrive at destination before date_utc (default = false). Requires max_results &gt; 0.
          in: query
          name: look_backwards
          required: false
          schema:
            type: boolean
        - description: "List of objects to be returned in full (i.e. expanded) - options include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition, VehicleDescriptor or None.\r

            \            Run must be expanded to receive VehiclePosition and VehicleDescriptor information."
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              enum:
                - All
                - Stop
                - Route
                - Run
                - Direction
                - Disruption
                - VehicleDescriptor
                - VehiclePosition
                - None
              type: string
            type: array
        - description: Indicates if the route geopath should be returned
          in: query
          name: include_geopath
          required: false
          schema:
            type: boolean
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.DeparturesResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.DeparturesResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.DeparturesResponse"
          description: Service departures from the specified stop for all routes of the specified route type; departures are timetabled and real-time (if applicable).
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View departures for all routes from a stop
      tags:
        - Departures
  "/v3/departures/route_type/{route_type}/stop/{stop_id}/route/{route_id}":
    get:
      deprecated: false
      operationId: Departures_GetForStopAndRoute
      parameters:
        - description: Number identifying transport mode; values returned via RouteTypes API
          in: path
          name: route_type
          required: true
          schema:
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
            format: int32
            type: integer
        - description: Identifier of stop; values returned by Stops API
          in: path
          name: stop_id
          required: true
          schema:
            format: int32
            type: integer
        - description: Identifier of route; values returned by Routes API - v3/routes
          in: path
          name: route_id
          required: true
          schema:
            type: string
        - description: Filter by identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}
          in: query
          name: direction_id
          required: false
          schema:
            format: int32
            type: integer
        - description: Indicates that stop_id parameter will accept "GTFS stop_id" data
          in: query
          name: gtfs
          required: false
          schema:
            type: boolean
        - description: Filter by the date and time of the request (ISO 8601 UTC format) (default = current date and time)
          in: query
          name: date_utc
          required: false
          schema:
            format: date-time
            type: string
        - description: Maximum number of results returned
          in: query
          name: max_results
          required: false
          schema:
            format: int32
            type: integer
        - description: Indicates if cancelled services (if they exist) are returned (default = false) - metropolitan train only
          in: query
          name: include_cancelled
          required: false
          schema:
            type: boolean
        - description: Indicates if filtering runs (and their departures) to those that arrive at destination before date_utc (default = false). Requires max_results &gt; 0.
          in: query
          name: look_backwards
          required: false
          schema:
            type: boolean
        - description: "List of objects to be returned in full (i.e. expanded) - options include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition, VehicleDescriptor or None.\r

            \            Run must be expanded to receive VehiclePosition and VehicleDescriptor information."
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              enum:
                - All
                - Stop
                - Route
                - Run
                - Direction
                - Disruption
                - VehicleDescriptor
                - VehiclePosition
                - None
              type: string
            type: array
        - description: Indicates if the route geopath should be returned
          in: query
          name: include_geopath
          required: false
          schema:
            type: boolean
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.DeparturesResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.DeparturesResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.DeparturesResponse"
          description: Service departures from the specified stop for the specified route (and route type); departures are timetabled and real-time (if applicable).
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View departures for a specific route from a stop
      tags:
        - Departures
  "/v3/directions/route/{route_id}":
    get:
      deprecated: false
      operationId: Directions_ForRoute
      parameters:
        - description: Identifier of route; values returned by Routes API - v3/routes
          in: path
          name: route_id
          required: true
          schema:
            format: int32
            type: integer
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.DirectionsResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.DirectionsResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.DirectionsResponse"
          description: The directions that a specified route travels in.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View directions that a route travels in
      tags:
        - Directions
  "/v3/directions/{direction_id}":
    get:
      deprecated: false
      operationId: Directions_ForDirection
      parameters:
        - description: Identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}
          in: path
          name: direction_id
          required: true
          schema:
            format: int32
            type: integer
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.DirectionsResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.DirectionsResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.DirectionsResponse"
          description: All routes that travel in the specified direction.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View all routes for a direction of travel
      tags:
        - Directions
  "/v3/directions/{direction_id}/route_type/{route_type}":
    get:
      deprecated: false
      operationId: Directions_ForDirectionAndType
      parameters:
        - description: Identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}
          in: path
          name: direction_id
          required: true
          schema:
            format: int32
            type: integer
        - description: Number identifying transport mode; values returned via RouteTypes API
          in: path
          name: route_type
          required: true
          schema:
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
            format: int32
            type: integer
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.DirectionsResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.DirectionsResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.DirectionsResponse"
          description: All routes of the specified route type that travel in the specified direction.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View all routes of a particular type for a direction of travel
      tags:
        - Directions
  /v3/disruptions:
    get:
      deprecated: false
      operationId: Disruptions_GetAllDisruptions
      parameters:
        - description: Filter by route_type; values returned via RouteTypes API
          explode: true
          in: query
          name: route_types
          required: false
          schema:
            items:
              enum:
                - 0
                - 1
                - 2
                - 3
                - 4
              format: int32
              type: integer
            type: array
        - description: Filter by disruption_mode; values returned via v3/disruptions/modes API
          explode: true
          in: query
          name: disruption_modes
          required: false
          schema:
            items:
              enum:
                - 1
                - 2
                - 3
                - 4
                - 5
                - 7
                - 8
                - 9
                - 10
                - 11
                - 12
                - 13
                - 14
                - 100
              format: int32
              type: integer
            type: array
        - description: Filter by status of disruption
          in: query
          name: disruption_status
          required: false
          schema:
            enum:
              - current
              - planned
            type: string
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.DisruptionsResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.DisruptionsResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.DisruptionsResponse"
          description: All disruption information for all route types.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View all disruptions for all route types
      tags:
        - Disruptions
  /v3/disruptions/modes:
    get:
      deprecated: false
      operationId: Disruptions_GetDisruptionModes
      parameters:
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.DisruptionModesResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.DisruptionModesResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.DisruptionModesResponse"
          description: Disruption specific modes
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: Get all disruption modes
      tags:
        - Disruptions
  "/v3/disruptions/route/{route_id}":
    get:
      deprecated: false
      operationId: Disruptions_GetDisruptionsByRoute
      parameters:
        - description: Identifier of route; values returned by Routes API - v3/routes
          in: path
          name: route_id
          required: true
          schema:
            format: int32
            type: integer
        - description: Filter by status of disruption
          in: query
          name: disruption_status
          required: false
          schema:
            enum:
              - current
              - planned
            type: string
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.DisruptionsResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.DisruptionsResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.DisruptionsResponse"
          description: All disruption information (if any exists) for the specified route.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View all disruptions for a particular route
      tags:
        - Disruptions
  "/v3/disruptions/route/{route_id}/stop/{stop_id}":
    get:
      deprecated: false
      operationId: Disruptions_GetDisruptionsByRouteAndStop
      parameters:
        - description: Identifier of route; values returned by Routes API - v3/routes
          in: path
          name: route_id
          required: true
          schema:
            format: int32
            type: integer
        - description: Identifier of stop; values returned by Stops API - v3/stops
          in: path
          name: stop_id
          required: true
          schema:
            format: int32
            type: integer
        - description: Filter by status of disruption
          in: query
          name: disruption_status
          required: false
          schema:
            enum:
              - current
              - planned
            type: string
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.DisruptionsResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.DisruptionsResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.DisruptionsResponse"
          description: All disruption information (if any exists) for the specified route and stop.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View all disruptions for a particular route and stop
      tags:
        - Disruptions
  "/v3/disruptions/stop/{stop_id}":
    get:
      deprecated: false
      operationId: Disruptions_GetDisruptionsByStop
      parameters:
        - description: Identifier of stop; values returned by Stops API - v3/stops
          in: path
          name: stop_id
          required: true
          schema:
            format: int32
            type: integer
        - description: Filter by status of disruption
          in: query
          name: disruption_status
          required: false
          schema:
            enum:
              - current
              - planned
            type: string
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.DisruptionsResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.DisruptionsResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.DisruptionsResponse"
          description: All disruption information (if any exists) for the specified stop.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View all disruptions for a particular stop
      tags:
        - Disruptions
  "/v3/disruptions/{disruption_id}":
    get:
      deprecated: false
      operationId: Disruptions_GetDisruptionById
      parameters:
        - description: Identifier of disruption; values returned by Disruptions API - /v3/disruptions OR /v3/disruptions/route/{route_id}
          in: path
          name: disruption_id
          required: true
          schema:
            format: int64
            type: integer
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.DisruptionResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.DisruptionResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.DisruptionResponse"
          description: Disruption information for the specified disruption ID.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View a specific disruption
      tags:
        - Disruptions
  "/v3/fare_estimate/min_zone/{minZone}/max_zone/{maxZone}":
    get:
      deprecated: false
      operationId: FareEstimate_GetFareEstimateByZone
      parameters:
        - description: Minimum Zone travelled through ie. 1
          in: path
          name: minZone
          required: true
          schema:
            format: int32
            type: integer
        - description: Maximum Zone travelled through id. 6
          in: path
          name: maxZone
          required: true
          schema:
            format: int32
            type: integer
        - description: JourneyTouchOnUtc in format yyyy-M-d h:m (e.g 2016-5-31 16:53).
          in: query
          name: journey_touch_on_utc
          required: false
          schema:
            format: date-time
            type: string
        - description: JourneyTouchOffUtc in format yyyy-M-d h:m (e.g 2016-5-31 16:53).
          in: query
          name: journey_touch_off_utc
          required: false
          schema:
            format: date-time
            type: string
        - in: query
          name: is_journey_in_free_tram_zone
          required: false
          schema:
            type: boolean
        - explode: true
          in: query
          name: travelled_route_types
          required: false
          schema:
            items:
              enum:
                - 0
                - 1
                - 2
                - 3
                - 4
              format: int32
              type: integer
            type: array
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.FareEstimateResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.FareEstimateResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.FareEstimateResponse"
          description: Resultant set fare estimates
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: Estimate a fare by zone
      tags:
        - FareEstimate
  /v3/outlets:
    get:
      deprecated: false
      operationId: Outlets_GetAllOutlets
      parameters:
        - description: Maximum number of results returned (default = 30)
          in: query
          name: max_results
          required: false
          schema:
            format: int32
            type: integer
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.OutletResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.OutletResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.OutletResponse"
          description: Ticket outlets.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: List all ticket outlets
      tags:
        - Outlets
  "/v3/outlets/location/{latitude},{longitude}":
    get:
      deprecated: false
      operationId: Outlets_GetOutletsByGeolocation
      parameters:
        - description: Geographic coordinate of latitude
          in: path
          name: latitude
          required: true
          schema:
            format: float
            type: number
        - description: Geographic coordinate of longitude
          in: path
          name: longitude
          required: true
          schema:
            format: float
            type: number
        - description: Filter by maximum distance (in metres) from location specified via latitude and longitude parameters (default = 300)
          in: query
          name: max_distance
          required: false
          schema:
            format: double
            type: number
        - description: Maximum number of results returned (default = 30)
          in: query
          name: max_results
          required: false
          schema:
            format: int32
            type: integer
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.OutletGeolocationResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.OutletGeolocationResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.OutletGeolocationResponse"
          description: Ticket outlets near the specified location.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: List ticket outlets near a specific location
      tags:
        - Outlets
  "/v3/pattern/run/{run_ref}/route_type/{route_type}":
    get:
      deprecated: false
      operationId: Patterns_GetPatternByRun
      parameters:
        - description: The run_ref is the identifier of a run as returned by the departures/* and runs/* endpoints. WARNING, run_id is deprecated. Use run_ref instead.
          in: path
          name: run_ref
          required: true
          schema:
            type: string
        - description: Number identifying transport mode; values returned via RouteTypes API
          in: path
          name: route_type
          required: true
          schema:
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
            format: int32
            type: integer
        - description: "List of objects to be returned in full (i.e. expanded) - options include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition, VehicleDescriptor and None. Default is Disruption. Run must be expanded to receive VehiclePosition and VehicleDescriptor information."
          explode: true
          in: query
          name: expand
          required: true
          schema:
            items:
              enum:
                - All
                - Stop
                - Route
                - Run
                - Direction
                - Disruption
                - VehicleDescriptor
                - VehiclePosition
                - None
              type: string
            type: array
        - description: Filter by stop_id; values returned by Stops API
          in: query
          name: stop_id
          required: false
          schema:
            format: int32
            type: integer
        - description: Filter by the date and time of the request (ISO 8601 UTC format)
          in: query
          name: date_utc
          required: false
          schema:
            format: date-time
            type: string
        - description: Include any skipped stops in a stopping pattern. Defaults to false.
          in: query
          name: include_skipped_stops
          required: false
          schema:
            type: boolean
        - description: Indicates if geopath data will be returned (default = false)
          in: query
          name: include_geopath
          required: false
          schema:
            type: boolean
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.StoppingPattern"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.StoppingPattern"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.StoppingPattern"
          description: "The stopping pattern of the specified run_ref and route type. (NOTE: the departure sequence field should be used to sort departures in chronological order, however it is not always N+1 or N-1 of the previous or following departure. e.g 100, 200, 250, 300 instead of 1, 2, 3, 4)"
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View the stopping pattern for a specific trip/service run
      tags:
        - Patterns
  /v3/route_types:
    get:
      deprecated: false
      operationId: RouteTypes_GetRouteTypes
      parameters:
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.RouteTypesResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.RouteTypesResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.RouteTypesResponse"
          description: All route types (i.e. identifiers of transport modes) and their names.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View all route types and their names
      tags:
        - RouteTypes
  /v3/routes:
    get:
      deprecated: false
      operationId: Routes_OneOrMoreRoutes
      parameters:
        - description: Filter by route_type; values returned via RouteTypes API
          explode: true
          in: query
          name: route_types
          required: false
          schema:
            items:
              enum:
                - 0
                - 1
                - 2
                - 3
                - 4
              format: int32
              type: integer
            type: array
        - description: Filter by name  of route (accepts partial route name matches)
          in: query
          name: route_name
          required: false
          schema:
            type: string
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.RouteResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.RouteResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.RouteResponse"
          description: Route names and numbers for all routes of all route types.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View route names and numbers for all routes
      tags:
        - Routes
  "/v3/routes/{route_id}":
    get:
      deprecated: false
      operationId: Routes_RouteFromId
      parameters:
        - description: Identifier of route; values returned by Departures, Directions and Disruptions APIs
          in: path
          name: route_id
          required: true
          schema:
            format: int32
            type: integer
        - description: Indicates kif geopath data will be returned (default = false)
          in: query
          name: include_geopath
          required: false
          schema:
            type: boolean
        - description: Filter geopaths by date (ISO 8601 UTC format) (default = current date)
          in: query
          name: geopath_utc
          required: false
          schema:
            format: date-time
            type: string
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.RouteResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.RouteResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.RouteResponse"
          description: The route name and number for the specified route ID.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View route name and number for specific route ID
      tags:
        - Routes
  "/v3/runs/route/{route_id}":
    get:
      deprecated: false
      operationId: Runs_ForRoute
      parameters:
        - description: Identifier of route; values returned by Routes API - v3/routes.
          in: path
          name: route_id
          required: true
          schema:
            format: int32
            type: integer
        - description: "List of objects to be returned in full (i.e. expanded) - options include: All, VehiclePosition, VehicleDescriptor, or None. Default is None."
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              enum:
                - All
                - VehicleDescriptor
                - VehiclePosition
                - None
              type: string
            type: array
        - description: Date of the request. (optional - defaults to now)
          in: query
          name: date_utc
          required: false
          schema:
            format: date-time
            type: string
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.RunsResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.RunsResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.RunsResponse"
          description: All trip/service run details for the specified route ID.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View all trip/service runs for a specific route ID
      tags:
        - Runs
  "/v3/runs/route/{route_id}/route_type/{route_type}":
    get:
      deprecated: false
      operationId: Runs_ForRouteAndRouteType
      parameters:
        - description: Identifier of route; values returned by Routes API - v3/routes.
          in: path
          name: route_id
          required: true
          schema:
            format: int32
            type: integer
        - description: Number identifying transport mode; values returned via RouteTypes API
          in: path
          name: route_type
          required: true
          schema:
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
            format: int32
            type: integer
        - description: "List of objects to be returned in full (i.e. expanded) - options include: All, VehiclePosition, VehicleDescriptor, or None. Default is All."
          explode: true
          in: query
          name: expand
          required: true
          schema:
            items:
              enum:
                - All
                - VehicleDescriptor
                - VehiclePosition
                - None
              type: string
            type: array
        - description: Date of the request. (optional - defaults to now)
          in: query
          name: date_utc
          required: false
          schema:
            format: date-time
            type: string
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.RunsResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.RunsResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.RunsResponse"
          description: All trip/service run details for the specified route ID and route type.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View all trip/service runs for a specific route ID and route type
      tags:
        - Runs
  "/v3/runs/{run_ref}":
    get:
      deprecated: false
      operationId: Runs_ForRun
      parameters:
        - description: The run_ref is the identifier of a run as returned by the departures/* and runs/* endpoints. WARNING, run_id is deprecated. Use run_ref instead.
          in: path
          name: run_ref
          required: true
          schema:
            type: string
        - description: "List of objects to be returned in full (i.e. expanded) - options include: All, VehiclePosition, VehicleDescriptor, or None. Default is None."
          explode: true
          in: query
          name: expand
          required: true
          schema:
            items:
              enum:
                - All
                - VehicleDescriptor
                - VehiclePosition
                - None
              type: string
            type: array
        - description: Date of the request. (optional - defaults to now)
          in: query
          name: date_utc
          required: false
          schema:
            format: date-time
            type: string
        - description: Indicates if geopath data will be returned (default = false)
          in: query
          name: include_geopath
          required: false
          schema:
            type: boolean
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.RunsResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.RunsResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.RunsResponse"
          description: All trip/service run details for the specified run_ref.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View all trip/service runs for a specific run_ref
      tags:
        - Runs
  "/v3/runs/{run_ref}/route_type/{route_type}":
    get:
      deprecated: false
      operationId: Runs_ForRunAndRouteType
      parameters:
        - description: The run_ref is the identifier of a run as returned by the departures/* and runs/* endpoints. WARNING, run_id is deprecated. Use run_ref instead.
          in: path
          name: run_ref
          required: true
          schema:
            type: string
        - description: Number identifying transport mode; values returned via RouteTypes API
          in: path
          name: route_type
          required: true
          schema:
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
            format: int32
            type: integer
        - description: "List of objects to be returned in full (i.e. expanded) - options include: All, VehiclePosition, VehicleDescriptor, or None. Default is None."
          explode: true
          in: query
          name: expand
          required: true
          schema:
            items:
              enum:
                - All
                - VehicleDescriptor
                - VehiclePosition
                - None
              type: string
            type: array
        - description: Date of the request. (optional - defaults to now)
          in: query
          name: date_utc
          required: false
          schema:
            format: date-time
            type: string
        - description: Indicates if geopath data will be returned (default = false)
          in: query
          name: include_geopath
          required: false
          schema:
            type: boolean
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.RunResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.RunResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.RunResponse"
          description: The trip/service run details for the run_ref and route type specified.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View the trip/service run for a specific run_ref and route type
      tags:
        - Runs
  "/v3/search/{search_term}":
    get:
      deprecated: false
      operationId: Search_Search
      parameters:
        - description: "Search text (note: if search text is numeric and/or less than 3 characters, the API will only return routes)"
          in: path
          name: search_term
          required: true
          schema:
            type: string
        - description: "Filter by route_type; values returned via RouteTypes API (note: stops and routes are ordered by route_types specified)"
          explode: true
          in: query
          name: route_types
          required: false
          schema:
            items:
              enum:
                - 0
                - 1
                - 2
                - 3
                - 4
              format: int32
              type: integer
            type: array
        - description: Filter by geographic coordinate of latitude
          in: query
          name: latitude
          required: false
          schema:
            format: float
            type: number
        - description: Filter by geographic coordinate of longitude
          in: query
          name: longitude
          required: false
          schema:
            format: float
            type: number
        - description: Filter by maximum distance (in metres) from location specified via latitude and longitude parameters
          in: query
          name: max_distance
          required: false
          schema:
            format: float
            type: number
        - description: Placeholder for future development; currently unavailable
          in: query
          name: include_addresses
          required: false
          schema:
            type: boolean
        - description: Indicates if outlets will be returned in response (default = true)
          in: query
          name: include_outlets
          required: false
          schema:
            type: boolean
        - description: Indicates whether to find stops by suburbs in the search term (default = true)
          in: query
          name: match_stop_by_suburb
          required: false
          schema:
            type: boolean
        - description: Indicates whether to find routes by suburbs in the search term (default = true)
          in: query
          name: match_route_by_suburb
          required: false
          schema:
            type: boolean
        - description: Indicates whether to search for stops according to a metlink stop ID (default = false)
          in: query
          name: match_stop_by_gtfs_stop_id
          required: false
          schema:
            type: boolean
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.SearchResult"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.SearchResult"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.SearchResult"
          description: "Stops, routes and myki ticket outlets that contain the search term (note: stops and routes are ordered by route_type by default)."
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View stops, routes and myki ticket outlets that match the search term
      tags:
        - Search
  "/v3/stops/location/{latitude},{longitude}":
    get:
      deprecated: false
      operationId: Stops_StopsByGeolocation
      parameters:
        - description: Geographic coordinate of latitude
          in: path
          name: latitude
          required: true
          schema:
            format: float
            type: number
        - description: Geographic coordinate of longitude
          in: path
          name: longitude
          required: true
          schema:
            format: float
            type: number
        - description: Filter by route_type; values returned via RouteTypes API
          explode: true
          in: query
          name: route_types
          required: false
          schema:
            items:
              enum:
                - 0
                - 1
                - 2
                - 3
                - 4
              format: int32
              type: integer
            type: array
        - description: Maximum number of results returned (default = 30)
          in: query
          name: max_results
          required: false
          schema:
            format: int32
            type: integer
        - description: Filter by maximum distance (in metres) from location specified via latitude and longitude parameters (default = 300)
          in: query
          name: max_distance
          required: false
          schema:
            format: double
            type: number
        - description: Indicates if stop disruption information will be returned (default = false)
          in: query
          name: stop_disruptions
          required: false
          schema:
            type: boolean
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.StopsByDistanceResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.StopsByDistanceResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.StopsByDistanceResponse"
          description: All stops near the specified location.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View all stops near a specific location
      tags:
        - Stops
  "/v3/stops/route/{route_id}/route_type/{route_type}":
    get:
      deprecated: false
      operationId: Stops_StopsForRoute
      parameters:
        - description: Identifier of route; values returned by Routes API - v3/routes
          in: path
          name: route_id
          required: true
          schema:
            format: int32
            type: integer
        - description: Number identifying transport mode; values returned via RouteTypes API
          in: path
          name: route_type
          required: true
          schema:
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
            format: int32
            type: integer
        - description: An optional direction; values returned by Directions API. When this is set, stop sequence information is returned in the response.
          in: query
          name: direction_id
          required: false
          schema:
            format: int32
            type: integer
        - description: Indicates if stop disruption information will be returned (default = false)
          in: query
          name: stop_disruptions
          required: false
          schema:
            type: boolean
        - description: Indicates if geopath data will be returned (default = false)
          in: query
          name: include_geopath
          required: false
          schema:
            type: boolean
        - description: Filter geopaths by date (ISO 8601 UTC format) (default = current date)
          in: query
          name: geopath_utc
          required: false
          schema:
            format: date-time
            type: string
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.StopsOnRouteResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.StopsOnRouteResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.StopsOnRouteResponse"
          description: All stops on the specified route.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View all stops on a specific route
      tags:
        - Stops
  "/v3/stops/{stop_id}/route_type/{route_type}":
    get:
      deprecated: false
      operationId: Stops_StopDetails
      parameters:
        - description: Identifier of stop; values returned by Stops API
          in: path
          name: stop_id
          required: true
          schema:
            format: int32
            type: integer
        - description: Number identifying transport mode; values returned via RouteTypes API
          in: path
          name: route_type
          required: true
          schema:
            enum:
              - 0
              - 1
              - 2
              - 3
              - 4
            format: int32
            type: integer
        - description: Indicates if stop location information will be returned (default = false)
          in: query
          name: stop_location
          required: false
          schema:
            type: boolean
        - description: Indicates if stop amenity information will be returned (default = false)
          in: query
          name: stop_amenities
          required: false
          schema:
            type: boolean
        - description: Indicates if stop accessibility information will be returned (default = false)
          in: query
          name: stop_accessibility
          required: false
          schema:
            type: boolean
        - description: Indicates if stop contact information will be returned (default = false)
          in: query
          name: stop_contact
          required: false
          schema:
            type: boolean
        - description: Indicates if stop ticket information will be returned (default = false)
          in: query
          name: stop_ticket
          required: false
          schema:
            type: boolean
        - description: Incdicates whether the stop_id is a GTFS ID or not
          in: query
          name: gtfs
          required: false
          schema:
            type: boolean
        - description: Indicates if stop staffing information will be returned (default = false)
          in: query
          name: stop_staffing
          required: false
          schema:
            type: boolean
        - description: Indicates if stop disruption information will be returned (default = false)
          in: query
          name: stop_disruptions
          required: false
          schema:
            type: boolean
        - description: Please ignore
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: Your developer id
          in: query
          name: devid
          required: false
          schema:
            type: string
        - description: Authentication signature for request
          in: query
          name: signature
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.StopResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.StopResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.StopResponse"
          description: Stop location, amenity and accessibility facility information for the specified stop (metropolitan and V/Line stations only).
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Invalid Request
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/html:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
            text/json:
              schema:
                $ref: "#/components/schemas/V3.ErrorResponse"
          description: Access Denied
      summary: View facilities at a specific stop (Metro and V/Line stations only)
      tags:
        - Stops
components:
  schemas:
    V2.Object:
      properties: {}
      type: object
    V2.Void:
      properties: {}
      type: object
    V3.BulkDeparturesRequest:
      properties:
        date_utc:
          description: Filter by the date and time of the request (ISO 8601 UTC format) (default = current date and time)
          format: date-time
          type: string
        expand:
          description: "List objects to be returned in full (i.e. expanded) - options include: all, stop, route, run, direction, disruption, none"
          items:
            enum:
              - All
              - Stop
              - Route
              - Run
              - Direction
              - Disruption
              - VehicleDescriptor
              - VehiclePosition
              - None
            type: string
          type: array
        include_cancelled:
          description: Indicates if cancelled services (if they exist) are returned (default = false) - metropolitan train only
          type: boolean
        include_geopath:
          description: Indicates if the route geopath should be returned
          type: boolean
        look_backwards:
          description: Indicates if filtering runs (and their departures) to those that arrive at destination before date_utc (default = false). Requires max_results &gt; 0.
          type: boolean
        requests:
          description: Collection of departure requests
          items:
            $ref: "#/components/schemas/V3.StopDepartureRequest"
          type: array
      required:
        - requests
      type: object
    V3.BulkDeparturesResponse:
      properties:
        directions:
          description: Directions of travel of route
          items:
            $ref: "#/components/schemas/V3.Direction"
          type: array
        disruptions:
          additionalProperties:
            $ref: "#/components/schemas/V3.Disruption"
          description: Disruption information applicable to relevant routes or stops
          type: object
        responses:
          description: Contains departures for the requested stop and route(s). It includes details as to the route_direction and whether it is still valid.
          items:
            $ref: "#/components/schemas/V3.BulkDeparturesUpdateResponse"
          type: array
        routes:
          description: Train lines, tram routes, bus routes, regional coach routes, Night Bus routes
          items:
            $ref: "#/components/schemas/V2.Object"
          type: array
        runs:
          description: Individual trips/services of a route
          items:
            $ref: "#/components/schemas/V3.Run"
          type: array
        status:
          $ref: "#/components/schemas/V3.Status"
        stops:
          additionalProperties:
            $ref: "#/components/schemas/V3.BulkDeparturesStopResponse"
          description: A train station, tram stop, bus stop, regional coach stop or Night Bus stop
          type: object
      type: object
    V3.BulkDeparturesRouteDirectionResponse:
      properties:
        direction_id:
          description: Direction of travel identifier
          format: int32
          type: integer
        direction_name:
          description: Name of direction of travel
          type: string
        route_id:
          description: Route identifier
          type: string
      type: object
    V3.BulkDeparturesStopResponse:
      properties:
        stop_id:
          description: Stop identifier
          format: int32
          type: integer
        stop_landmark:
          description: Landmark in proximity of stop
          type: string
        stop_latitude:
          description: Geographic coordinate of latitude at stop
          format: float
          type: number
        stop_longitude:
          description: Geographic coordinate of longitude at stop
          format: float
          type: number
        stop_name:
          description: Name of stop
          type: string
        stop_suburb:
          description: suburb of stop
          type: string
      type: object
    V3.BulkDeparturesUpdateResponse:
      properties:
        departures:
          description: Timetabled and real-time service departures
          items:
            $ref: "#/components/schemas/V3.Departure"
          type: array
        requested_route_direction:
          $ref: "#/components/schemas/V3.BulkDeparturesRouteDirectionResponse"
        route_direction:
          $ref: "#/components/schemas/V3.BulkDeparturesRouteDirectionResponse"
        route_direction_status:
          description: "The status of the route direction (changed | unchanged).\r

            \            If changed, requests should change the requested_route_direction for the route_direction supplied."
          enum:
            - 0
            - 1
          format: int32
          type: integer
        route_type:
          description: Transport mode identifier
          format: int32
          type: integer
        stop_id:
          description: Stop identifier
          format: int32
          type: integer
      type: object
    V3.Departure:
      properties:
        at_platform:
          description: Indicates if the metropolitan train service is at the platform at the time of query; returns false for other modes
          type: boolean
        departure_sequence:
          description: Chronological sequence for the departures in a run. Order ascendingly by this field to get chronological order (earliest first) of departures with the same run_ref. NOTE, this field is not always N+1 or N-1 of the previous or following departure. e.g 100, 200, 250, 300 instead of 1, 2, 3, 4
          format: int32
          type: integer
        direction_id:
          description: Direction of travel identifier
          format: int32
          type: integer
        disruption_ids:
          description: Disruption information identifier(s)
          items:
            format: int64
            type: integer
          type: array
        estimated_departure_utc:
          description: Real-time estimate of departure time and date in ISO 8601 UTC format
          format: date-time
          type: string
        flags:
          description: Flag indicating special condition for run (e.g. RR Reservations Required, GC Guaranteed Connection, DOO Drop Off Only, PUO Pick Up Only, MO Mondays only, TU Tuesdays only, WE Wednesdays only, TH Thursdays only, FR Fridays only, SS School days only; ignore E flag)
          type: string
        platform_number:
          description: Platform number at stop (metropolitan train only; returns null for other modes)
          type: string
        route_id:
          description: Route identifier
          format: int32
          type: integer
        run_id:
          description: Numeric trip/service run identifier. Defaults to -1 when run identifier is Alphanumeric
          format: int32
          readOnly: true
          type: integer
        run_ref:
          description: Alphanumeric trip/service run identifier
          type: string
        scheduled_departure_utc:
          description: Scheduled (i.e. timetabled) departure time and date in ISO 8601 UTC format
          format: date-time
          type: string
        stop_id:
          description: Stop identifier
          format: int32
          type: integer
      type: object
    V3.DeparturesBroadParameters:
      properties:
        date_utc:
          description: Filter by the date and time of the request (ISO 8601 UTC format) (default = current date and time)
          format: date-time
          type: string
        direction_id:
          description: Filter by identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}
          format: int32
          type: integer
        expand:
          description: "List of objects to be returned in full (i.e. expanded) - options include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition, VehicleDescriptor or None.\r

            \            Run must be expanded to receive VehiclePosition and VehicleDescriptor information."
          items:
            enum:
              - All
              - Stop
              - Route
              - Run
              - Direction
              - Disruption
              - VehicleDescriptor
              - VehiclePosition
              - None
            type: string
          type: array
        gtfs:
          description: Indicates that stop_id parameter will accept "GTFS stop_id" data
          type: boolean
        include_cancelled:
          description: Indicates if cancelled services (if they exist) are returned (default = false) - metropolitan train only
          type: boolean
        include_geopath:
          description: Indicates if the route geopath should be returned
          type: boolean
        look_backwards:
          description: Indicates if filtering runs (and their departures) to those that arrive at destination before date_utc (default = false). Requires max_results &gt; 0.
          type: boolean
        max_results:
          description: Maximum number of results returned
          format: int32
          type: integer
        platform_numbers:
          description: Filter by platform number at stop
          items:
            format: int32
            type: integer
          type: array
      type: object
    V3.DeparturesResponse:
      properties:
        departures:
          description: Timetabled and real-time service departures
          items:
            $ref: "#/components/schemas/V3.Departure"
          type: array
        directions:
          additionalProperties:
            $ref: "#/components/schemas/V3.Direction"
          description: Directions of travel of route
          type: object
        disruptions:
          additionalProperties:
            $ref: "#/components/schemas/V3.Disruption"
          description: Disruption information applicable to relevant routes or stops
          type: object
        routes:
          additionalProperties:
            $ref: "#/components/schemas/V2.Object"
          description: Train lines, tram routes, bus routes, regional coach routes, Night Bus routes
          type: object
        runs:
          additionalProperties:
            $ref: "#/components/schemas/V3.Run"
          description: Individual trips/services of a route
          type: object
        status:
          $ref: "#/components/schemas/V3.Status"
        stops:
          additionalProperties:
            $ref: "#/components/schemas/V3.StopModel"
          description: A train station, tram stop, bus stop, regional coach stop or Night Bus stop
          type: object
      type: object
    V3.DeparturesSpecificParameters:
      properties:
        date_utc:
          description: Filter by the date and time of the request (ISO 8601 UTC format) (default = current date and time)
          format: date-time
          type: string
        direction_id:
          description: Filter by identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}
          format: int32
          type: integer
        expand:
          description: "List of objects to be returned in full (i.e. expanded) - options include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition, VehicleDescriptor or None.\r

            \            Run must be expanded to receive VehiclePosition and VehicleDescriptor information."
          items:
            enum:
              - All
              - Stop
              - Route
              - Run
              - Direction
              - Disruption
              - VehicleDescriptor
              - VehiclePosition
              - None
            type: string
          type: array
        gtfs:
          description: Indicates that stop_id parameter will accept "GTFS stop_id" data
          type: boolean
        include_cancelled:
          description: Indicates if cancelled services (if they exist) are returned (default = false) - metropolitan train only
          type: boolean
        include_geopath:
          description: Indicates if the route geopath should be returned
          type: boolean
        look_backwards:
          description: Indicates if filtering runs (and their departures) to those that arrive at destination before date_utc (default = false). Requires max_results &gt; 0.
          type: boolean
        max_results:
          description: Maximum number of results returned
          format: int32
          type: integer
      type: object
    V3.Direction:
      properties:
        direction_id:
          description: Direction of travel identifier
          format: int32
          type: integer
        direction_name:
          description: Name of direction of travel
          type: string
        route_id:
          description: Route identifier
          format: int32
          type: integer
        route_type:
          description: Transport mode identifier
          format: int32
          type: integer
      type: object
    V3.DirectionWithDescription:
      properties:
        direction_id:
          description: Direction of travel identifier
          format: int32
          type: integer
        direction_name:
          description: Name of direction of travel
          type: string
        route_direction_description:
          type: string
        route_id:
          description: Route identifier
          format: int32
          type: integer
        route_type:
          description: Transport mode identifier
          format: int32
          type: integer
      type: object
    V3.DirectionsResponse:
      properties:
        directions:
          description: Directions of travel of route
          items:
            $ref: "#/components/schemas/V3.DirectionWithDescription"
          type: array
        status:
          $ref: "#/components/schemas/V3.Status"
      type: object
    V3.Disruption:
      properties:
        colour:
          type: string
        description:
          description: Description of the disruption
          type: string
        display_on_board:
          type: boolean
        display_status:
          type: boolean
        disruption_id:
          description: Disruption information identifier
          format: int64
          type: integer
        disruption_status:
          description: Status of the disruption (e.g. "Planned", "Current")
          type: string
        disruption_type:
          description: Type of disruption
          type: string
        from_date:
          description: Date and time at which disruption begins, in ISO 8601 UTC format
          format: date-time
          type: string
        last_updated:
          description: Date and time disruption information was last updated by PTV, in ISO 8601 UTC format
          format: date-time
          type: string
        published_on:
          description: Date and time disruption information is published on PTV website, in ISO 8601 UTC format
          format: date-time
          type: string
        routes:
          description: Route relevant to a disruption (if applicable)
          items:
            $ref: "#/components/schemas/V3.DisruptionRoute"
          type: array
        stops:
          description: Stop relevant to a disruption (if applicable)
          items:
            $ref: "#/components/schemas/V3.DisruptionStop"
          type: array
        title:
          description: Headline title summarising disruption information
[...]
