swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Consumption management client provides access to consumption resources for Azure Enterprise Subscriptions.
  title: ConsumptionManagementClient
  version: 2017-11-30
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/consumption/resource-manager/Microsoft.Consumption/stable/2017-11-30/consumption.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: consumption
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: Version of the API to be used with the client request. The current version is 2017-11-30.
    in: query
    name: api-version
    required: true
    type: string
  subscriptionIdParameter:
    description: Azure Subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
tags:
  - description: Lists the usage details for a scope by billing period. Usage details are available via this API only for May 1, 2014 or later.
    externalDocs:
      url: https://docs.microsoft.com/en-us/rest/api/consumption/
    name: UsageDetails
paths:
  /providers/Microsoft.Consumption/operations:
    get:
      description: Lists all of the available consumption REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  "/{scope}/providers/Microsoft.Consumption/reservationDetails":
    get:
      description: Lists the reservations details for provided date range.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: ReservationsDetails_List
      parameters:
        - description: The scope of the reservation details. The scope can be 'providers/Microsoft.Capacity/reservationorders/{ReservationOrderId}' or 'providers/Microsoft.Capacity/reservationorders/{ReservationOrderId}/reservations/{ReservationId}'
          in: path
          name: scope
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge' "
          in: query
          name: $filter
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReservationDetailsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ReservedInstances
      x-ms-examples:
        ReservationDetails:
          parameters:
            $filter: properties/UsageDate ge 2017-10-01 AND properties/UsageDate le 2017-12-05
            api-version: 2017-11-30
            scope: providers/Microsoft.Capacity/reservationorders/87f3c981-3e33-43d0-b26b-dfca785cf18a
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ba4a5693-71ef-4ec2-a5ea-c4897ee7e740/providers/Microsoft.Consumption/reservationDetails/20171129
                    name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ba4a5693-71ef-4ec2-a5ea-c4897ee7e740_20171129
                    properties:
                      instanceId: /subscriptions/ace02136-302a-429c-a2c8-dac173f60bea/resourcegroups/wvn-sql/providers/microsoft.compute/virtualmachines/wvn-sql2014sp33
                      reservationId: ba4a5693-71ef-4ec2-a5ea-c4897ee7e740
                      reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                      reservedHours: 24
                      skuName: Standard_D2_v2
                      totalReservedQuantity: 1
                      usageDate: 2017-11-29T00:00:00Z
                      usedHours: 24
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationDetails
        ReservationDetailsWithReservationId:
          parameters:
            $filter: properties/UsageDate ge 2017-10-01 AND properties/UsageDate le 2017-12-05
            api-version: 2017-11-30
            scope: providers/Microsoft.Capacity/reservationorders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ba4a5693-71ef-4ec2-a5ea-c4897ee7e740
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ba4a5693-71ef-4ec2-a5ea-c4897ee7e740/providers/Microsoft.Consumption/reservationDetails/20171129
                    name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ba4a5693-71ef-4ec2-a5ea-c4897ee7e740_20171129
                    properties:
                      instanceId: /subscriptions/ace02136-302a-429c-a2c8-dac173f60bea/resourcegroups/wvn-sql/providers/microsoft.compute/virtualmachines/wvn-sql2014sp33
                      reservationId: ba4a5693-71ef-4ec2-a5ea-c4897ee7e740
                      reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                      reservedHours: 24
                      skuName: Standard_D2_v2
                      totalReservedQuantity: 1
                      usageDate: 2017-11-29T00:00:00Z
                      usedHours: 24
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationDetails
      x-ms-pageable:
        nextLinkName: null
  "/{scope}/providers/Microsoft.Consumption/reservationSummaries":
    get:
      description: Lists the reservations summaries for daily or monthly grain.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: ReservationsSummaries_List
      parameters:
        - description: The scope of the reservation summaries. The scope can be 'providers/Microsoft.Capacity/reservationorders/{ReservationOrderId}' or 'providers/Microsoft.Capacity/reservationorders/{ReservationOrderId}/reservations/{ReservationId}'
          in: path
          name: scope
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: Can be daily or monthly
          enum:
            - daily
            - monthly
          in: query
          name: grain
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: datagrain
            values:
              - description: Daily grain of data
                name: DailyGrain
                value: daily
              - description: Monthly grain of data
                name: MonthlyGrain
                value: monthly
        - description: Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ReservationSummariesListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - ReservedInstances
      x-ms-examples:
        ReservationSummariesDaily:
          parameters:
            $filter: properties/UsageDate ge 2017-10-01 AND properties/UsageDate le 2017-11-20
            api-version: 2017-11-30
            grain: daily
            scope: providers/Microsoft.Capacity/reservationorders/87f3c981-3e33-43d0-b26b-dfca785cf18a
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ed0bcc5a-8027-451e-8435-e96c4021abc3/providers/Microsoft.Consumption/reservationSummaries/20171001
                    name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ed0bcc5a-8027-451e-8435-e96c4021abc3_20171001
                    properties:
                      avgUtilizationPercentage: 0
                      maxUtilizationPercentage: 0
                      minUtilizationPercentage: 0
                      reservationId: ed0bcc5a-8027-451e-8435-e96c4021abc3
                      reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                      reservedHours: 0
                      skuName: Standard_D8s_v3
                      usageDate: 2017-10-01T00:00:00Z
                      usedHours: 0
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationsummaries
        ReservationSummariesDailyWithReservationId:
          parameters:
            $filter: properties/UsageDate ge 2017-10-01 AND properties/UsageDate le 2017-11-20
            api-version: 2017-11-30
            grain: daily
            scope: providers/Microsoft.Capacity/reservationorders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ed0bcc5a-8027-451e-8435-e96c4021abc3
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ed0bcc5a-8027-451e-8435-e96c4021abc3/providers/Microsoft.Consumption/reservationSummaries/20171001
                    name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ed0bcc5a-8027-451e-8435-e96c4021abc3_20171001
                    properties:
                      avgUtilizationPercentage: 0
                      maxUtilizationPercentage: 0
                      minUtilizationPercentage: 0
                      reservationId: ed0bcc5a-8027-451e-8435-e96c4021abc3
                      reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                      reservedHours: 0
                      skuName: Standard_D8s_v3
                      usageDate: 2017-10-01T00:00:00Z
                      usedHours: 0
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationsummaries
        ReservationSummariesMonthly:
          parameters:
            api-version: 2017-11-30
            grain: monthly
            scope: providers/Microsoft.Capacity/reservationorders/87f3c981-3e33-43d0-b26b-dfca785cf18a
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ed0bcc5a-8027-451e-8435-e96c4021abc3/providers/Microsoft.Consumption/reservationSummaries/20171001
                    name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ed0bcc5a-8027-451e-8435-e96c4021abc3_20171001
                    properties:
                      avgUtilizationPercentage: 0
                      maxUtilizationPercentage: 0
                      minUtilizationPercentage: 0
                      reservationId: ed0bcc5a-8027-451e-8435-e96c4021abc3
                      reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                      reservedHours: 0
                      skuName: Standard_D8s_v3
                      usageDate: 2017-10-01T00:00:00Z
                      usedHours: 0
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationsummaries
        ReservationSummariesMonthlyWithReservationId:
          parameters:
            api-version: 2017-11-30
            grain: monthly
            scope: providers/Microsoft.Capacity/reservationorders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ed0bcc5a-8027-451e-8435-e96c4021abc3
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Capacity/reservationOrders/87f3c981-3e33-43d0-b26b-dfca785cf18a/reservations/ed0bcc5a-8027-451e-8435-e96c4021abc3/providers/Microsoft.Consumption/reservationSummaries/20171001
                    name: 87f3c981-3e33-43d0-b26b-dfca785cf18a_ed0bcc5a-8027-451e-8435-e96c4021abc3_20171001
                    properties:
                      avgUtilizationPercentage: 0
                      maxUtilizationPercentage: 0
                      minUtilizationPercentage: 0
                      reservationId: ed0bcc5a-8027-451e-8435-e96c4021abc3
                      reservationOrderId: 87f3c981-3e33-43d0-b26b-dfca785cf18a
                      reservedHours: 0
                      skuName: Standard_D8s_v3
                      usageDate: 2017-10-01T00:00:00Z
                      usedHours: 0
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/reservationsummaries
      x-ms-pageable:
        nextLinkName: null
  "/{scope}/providers/Microsoft.Consumption/usageDetails":
    get:
      description: Lists the usage details for a scope by billing period. Usage details are available via this API only for May 1, 2014 or later.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/consumption/
      operationId: UsageDetails_List
      parameters:
        - description: The scope of the usage details. The scope can be '/subscriptions/{subscriptionId}' for a subscription, or '/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}' for a billing period.
          in: path
          name: scope
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: May be used to expand the properties/additionalProperties or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.
          in: query
          name: $expand
          required: false
          type: string
        - description: May be used to filter usageDetails by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.
          in: query
          name: $filter
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N usageDetails.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/UsageDetailsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - UsageDetails
      x-ms-examples:
        UsageDetailsExpand:
          parameters:
            $expand: meterDetails,additionalProperties
            $filter: usageEnd le 2017-02-14T00:00:00Z
            $top: 1
            api-version: 2017-04-30
            scope: subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      accountName: My account name
                      additionalProperties: '{"MyType":"","ServiceType":"","VMName":"","UsageType":"MyUsage"}'
                      billableQuantity: 0.00328
                      billingPeriodId: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702
                      consumedService: My consumed service
                      costCenter: Cost center 1
                      currency: USD
                      departmentName: My department name
                      instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceLocation: eastasia
                      instanceName: shared1
                      invoiceId: /subscriptions/subid/providers/Microsoft.Billing/invoices/201703-123456789
                      isEstimated: false
                      meterDetails:
                        meterCategory: Networking
                        meterLocation: Zone 2
                        meterName: Data Transfer Out (GB)
                        pretaxStandardRate: 0.138
                        totalIncludedQuantity: 0
                        unit: GB
                      meterId: fe167397-a38d-43c3-9bb3-8e2907e56a41
                      pretaxCost: 0.67
                      product: My product name
                      subscriptionGuid: fe167397-a38d-43c3-9bb3-8e2907e56a41
                      subscriptionName: Dummy subscription
                      usageEnd: 2017-02-13T23:59:59Z
                      usageQuantity: 0.00328
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/usageDetails
        UsageDetailsList:
          parameters:
            api-version: 2017-11-30
            scope: subscriptions/subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      billableQuantity: 0.00328
                      billingPeriodId: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702
                      currency: USD
                      instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceLocation: eastasia
                      instanceName: shared1
                      invoiceId: /subscriptions/subid/providers/Microsoft.Billing/invoices/201703-123456789
                      isEstimated: false
                      meterId: fe167397-a38d-43c3-9bb3-8e2907e56a41
                      pretaxCost: 0.67
                      usageEnd: 2017-02-13T23:59:59Z
                      usageQuantity: 0.00328
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/usageDetails
        UsageDetailsListForBillingPeriod:
          parameters:
            api-version: 2017-11-30
            scope: subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702/providers/Microsoft.Consumption/usageDetails/usageDetailsId1
                    name: usageDetailsId1
                    properties:
                      billableQuantity: 0.00328
                      billingPeriodId: /subscriptions/subid/providers/Microsoft.Billing/billingPeriods/201702
                      currency: USD
                      instanceId: /subscriptions/subid/resourceGroups/Default-Web-eastasia/providers/Microsoft.Web/sites/shared1
                      instanceLocation: eastasia
                      instanceName: shared1
                      invoiceId: /subscriptions/subid/providers/Microsoft.Billing/invoices/201703-123456789
                      isEstimated: false
                      meterId: fe167397-a38d-43c3-9bb3-8e2907e56a41
                      pretaxCost: 0.67
                      usageEnd: 2017-02-13T23:59:59Z
                      usageQuantity: 0.00328
                      usageStart: 2017-02-13T00:00:00Z
                    tags:
                      dev: tools
                      env: newcrp
                    type: Microsoft.Consumption/usageDetails
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  ErrorDetails:
    description: The details of the error.
    properties:
      code:
        description: Error code.
        readOnly: true
        type: string
      message:
        description: Error message indicating why the operation failed.
        readOnly: true
        type: string
  ErrorResponse:
    description: Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.
    properties:
      error:
        $ref: "#/definitions/ErrorDetails"
        description: The details of the error.
    type: object
  MeterDetails:
    description: The properties of the meter detail.
    properties:
      meterCategory:
        description: The category of the meter, for example, 'Cloud services', 'Networking', etc..
        readOnly: true
        type: string
      meterLocation:
        description: The location in which the Azure service is available.
        readOnly: true
        type: string
      meterName:
        description: The name of the meter, within the given meter category
        readOnly: true
        type: string
      meterSubCategory:
        description: The subcategory of the meter, for example, 'A6 Cloud services', 'ExpressRoute (IXP)', etc..
        readOnly: true
        type: string
      pretaxStandardRate:
        description: The pretax listing price.
        format: decimal
        readOnly: true
        type: number
      totalIncludedQuantity:
        description: The total included quantity associated with the offer.
        format: decimal
        readOnly: true
        type: number
      unit:
        description: The unit in which the meter consumption is charged, for example, 'Hours', 'GB', etc.
        readOnly: true
        type: string
  Operation:
    description: A Consumption REST API operation.
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: "Operation type: Read, write, delete, etc."
            readOnly: true
            type: string
          provider:
            description: "Service provider: Microsoft.Consumption."
            readOnly: true
            type: string
          resource:
            description: "Resource on which the operation is performed: UsageDetail, etc."
            readOnly: true
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}."
        readOnly: true
        type: string
    type: object
  OperationListResult:
    description: Result of listing consumption operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        readOnly: true
        type: string
      value:
        description: List of consumption operations supported by the Microsoft.Consumption resource provider.
        items:
          $ref: "#/definitions/Operation"
        readOnly: true
        type: array
  ReservationDetails:
    allOf:
      - $ref: "#/definitions/Resource"
    description: reservation details resource.
    properties:
      properties:
        $ref: "#/definitions/ReservationDetailsProperties"
        title: Reservation Details properties
        x-ms-client-flatten: true
    type: object
  ReservationDetailsListResult:
    description: Result of listing reservation details.
    properties:
      value:
        description: The list of reservation details.
        items:
          $ref: "#/definitions/ReservationDetails"
        readOnly: true
        type: array
  ReservationDetailsProperties:
    description: The properties of the reservation details.
    properties:
      instanceId:
        description: This identifier is the name of the resource or the fully qualified Resource ID.
        readOnly: true
        type: string
      reservationId:
        description: The reservation ID is the identifier of a reservation within a reservation order. Each reservation is the grouping for applying the benefit scope and also specifies the number of instances to which the reservation benefit can be applied to.
        readOnly: true
        type: string
      reservationOrderId:
        description: The reservation order ID is the identifier for a reservation purchase. Each reservation order ID represents a single purchase transaction. A reservation order contains reservations. The reservation order specifies the VM size and region for the reservations.
        readOnly: true
        type: string
      reservedHours:
        description: This is the total hours reserved for the day. E.g. if reservation for 1 instance was made on 1 PM, this will be 11 hours for that day and 24 hours from subsequent days.
        format: decimal
        readOnly: true
        type: number
      skuName:
        description: This is the ARM Sku name. It can be used to join with the serviceType field in additional info in usage records.
        readOnly: true
        type: string
      totalReservedQuantity:
        description: This is the total count of instances that are reserved for the reservationId.
        format: decimal
        readOnly: true
        type: number
      usageDate:
        description: The date on which consumption occurred.
        format: date-time
        readOnly: true
        type: string
      usedHours:
        description: This is the total hours used by the instance.
        format: decimal
        readOnly: true
        type: number
  ReservationSummaries:
    allOf:
      - $ref: "#/definitions/Resource"
    description: reservation summaries resource.
    properties:
      properties:
        $ref: "#/definitions/ReservationSummariesProperties"
        title: Reservation Summaries properties
        x-ms-client-flatten: true
    type: object
  ReservationSummariesListResult:
    description: Result of listing reservation summaries.
    properties:
      value:
        description: The list of reservation summaries.
        items:
          $ref: "#/definitions/ReservationSummaries"
        readOnly: true
        type: array
  ReservationSummariesProperties:
    description: The properties of the reservation summaries.
    properties:
      avgUtilizationPercentage:
        description: This is average utilization for the entire time range. (day or month depending on the grain)
        format: decimal
        readOnly: true
        type: number
      maxUtilizationPercentage:
        description: This is the maximum hourly utilization in the usage time (day or month). E.g. if usage record corresponds to 12/10/2017 and on that for hour 4 and 5, utilization was 100%, this field will return 100% for that day.
        format: decimal
        readOnly: true
        type: number
      minUtilizationPercentage:
        description: This is the minimum hourly utilization in the usage time (day or month). E.g. if usage record corresponds to 12/10/2017 and on that for hour 4 and 5, utilization was 10%, this field will return 10% for that day
        format: decimal
        readOnly: true
        type: number
      reservationId:
        description: The reservation ID is the identifier of a reservation within a reservation order. Each reservation is the grouping for applying the benefit scope and also specifies the number of instances to which the reservation benefit can be applied to.
        readOnly: true
        type: string
      reservationOrderId:
        description: The reservation order ID is the identifier for a reservation purchase. Each reservation order ID represents a single purchase transaction. A reservation order contains reservations. The reservation order specifies the VM size and region for the reservations.
        readOnly: true
        type: string
      reservedHours:
        description: This is the total hours reserved. E.g. if reservation for 1 instance was made on 1 PM, this will be 11 hours for that day and 24 hours from subsequent days
        format: decimal
        readOnly: true
        type: number
      skuName:
        description: This is the ARM Sku name. It can be used to join with the serviceType field in additional info in usage records.
        readOnly: true
        type: string
      usageDate:
        description: Data corresponding to the utilization record. If the grain of data is monthly, it will be first day of month.
        format: date-time
        readOnly: true
        type: string
      usedHours:
        description: Total used hours by the reservation
        format: decimal
        readOnly: true
        type: number
  Resource:
    description: The Resource model definition.
    properties:
      id:
        description: Resource Id.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        readOnly: true
        type: object
      type:
        description: Resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  UsageDetail:
    allOf:
      - $ref: "#/definitions/Resource"
    description: An usage detail resource.
    properties:
      properties:
        $ref: "#/definitions/UsageDetailProperties"
        title: Usage detail properties
        x-ms-client-flatten: true
    type: object
  UsageDetailProperties:
    description: The properties of the usage detail.
    properties:
      accountName:
        description: Account name.
        readOnly: true
        type: string
      additionalProperties:
        description: Additional details of this usage item. By default this is not populated, unless it's specified in $expand.
        readOnly: true
        type: string
      billableQuantity:
        description: The billable usage quantity.
        format: decimal
        readOnly: true
        type: number
      billingPeriodId:
        description: The id of the billing period resource that the usage belongs to.
        readOnly: true
        type: string
      consumedService:
        description: Consumed service name.
        readOnly: true
        type: string
      costCenter:
        description: The cost center of this department if it is a department and a costcenter exists
        readOnly: true
        type: string
      currency:
        description: The ISO currency in which the meter is charged, for example, USD.
        readOnly: true
        type: string
      departmentName:
        description: Department name.
        readOnly: true
        type: string
      instanceId:
        description: The uri of the resource instance that the usage is about.
        readOnly: true
        type: string
      instanceLocation:
        description: The location of the resource instance that the usage is about.
        readOnly: true
        type: string
      instanceName:
        description: The name of the resource instance that the usage is about.
        readOnly: true
        type: string
      invoiceId:
        description: The id of the invoice resource that the usage belongs to.
        readOnly: true
        type: string
      isEstimated:
        description: The estimated usage is subject to change.
        readOnly: true
        type: boolean
      meterDetails:
        $ref: "#/definitions/MeterDetails"
        description: The details about the meter. By default this is not populated, unless it's specified in $expand.
        readOnly: true
      meterId:
        description: The meter id.
        readOnly: true
        type: string
      pretaxCost:
        description: The amount of cost before tax.
        format: decimal
        readOnly: true
        type: number
      product:
        description: Product name.
        readOnly: true
        type: string
      subscriptionGuid:
        description: Subscription guid.
        readOnly: true
        type: string
      subscriptionName:
        description: Subscription name.
        readOnly: true
        type: string
      usageEnd:
        description: The end of the date time range covered by the usage detail.
        format: date-time
        readOnly: true
        type: string
      usageQuantity:
        description: The quantity of usage.
        format: decimal
        readOnly: true
        type: number
      usageStart:
        description: The start of the date time range covered by the usage detail.
        format: date-time
        readOnly: true
        type: string
  UsageDetailsListResult:
    description: Result of listing usage details. It contains a list of available usage details in reverse chronological order by billing period.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The list of usage details.
        items:
          $ref: "#/definitions/UsageDetail"
        readOnly: true
        type: array
