swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Azure Application Insights client for favorites.
  title: ApplicationInsightsManagementClient
  version: 2015-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/favorites_API.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: applicationinsights-favorites_API
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  CanFetchFavoriteContentParameter:
    description: Flag indicating whether or not to return the full content for each applicable favorite. If false, only return summary content for favorites.
    in: query
    name: canFetchContent
    required: false
    type: boolean
    x-ms-parameter-location: method
  FavoriteIdParameter:
    description: The Id of a specific favorite defined in the Application Insights component
    in: path
    name: favoriteId
    required: true
    type: string
    x-ms-parameter-location: method
  FavoriteTypeParameter:
    default: shared
    description: The type of favorite. Value can be either shared or user.
    enum:
      - shared
      - user
    in: query
    name: favoriteType
    required: false
    type: string
    x-ms-enum:
      modelAsString: false
      name: FavoriteType
    x-ms-parameter-location: method
  ResourceNameParameter:
    description: The name of the Application Insights component resource.
    in: path
    name: resourceName
    required: true
    type: string
    x-ms-parameter-location: method
  SourceTypeParameter:
    allowEmptyValue: true
    description: Source type of favorite to return. When left out, the source type defaults to 'other' (not present in this enum).
    enum:
      - retention
      - notebook
      - sessions
      - events
      - userflows
      - funnel
      - impact
      - segmentation
    in: query
    name: sourceType
    required: false
    type: string
    x-ms-enum:
      modelAsString: true
      name: FavoriteSourceType
    x-ms-parameter-location: method
  TagsFilterParameter:
    collectionFormat: csv
    description: Tags that must be present on each favorite returned.
    in: query
    items:
      type: string
    name: tags
    required: false
    type: array
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/favorites":
    get:
      description: Gets a list of favorites defined within an Application Insights component.
      operationId: Favorites_List
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
        - $ref: "#/parameters/FavoriteTypeParameter"
        - $ref: "#/parameters/SourceTypeParameter"
        - $ref: "#/parameters/CanFetchFavoriteContentParameter"
        - $ref: "#/parameters/TagsFilterParameter"
      responses:
        "200":
          description: A list containing 0 or more favorite definitions associated to the Application Insights component.
          schema:
            items:
              $ref: "#/definitions/ApplicationInsightsComponentFavorite"
            type: array
      x-ms-examples:
        FavoritesList:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-ai-component
            subscriptionId: subid
          responses:
            "200":
              body:
                - Category: null
                  Config: blah blah
                  FavoriteId: c0deea5e-3344-40f2-96f8-6f8e1c3b5722
                  FavoriteType: shared
                  IsGeneratedFromTemplate: false
                  Name: Example Metric Chart Favorite
                  SourceType: null
                  Tags: []
                  TimeModified: 2018-01-31T23:56:16.008902Z
                  Version: ME
                - Category: null
                  Config: '{"TimeSelection":{"durationMs":1800000,"endTime":"2018-01-31T23:56:15.493Z","createdTime":"Wed Jan 31 2018 15:58:36 GMT-0800 (Pacific Standard Time)","isInitialTime":false,"grain":1,"useDashboardTimeRange":false},"SearchFilter":{"eventTypes":[1,2],"typeFacets":{},"isPermissive":false},"QueryText":"*","partId":"99e33a16-1b00-4a7d-b98f-a3c1bb3a4df8"}'
                  FavoriteId: deadb33f-5e0d-4064-8ebb-1a4ed0313eb2
                  FavoriteType: shared
                  IsGeneratedFromTemplate: false
                  Name: Example Search Blade Favorite
                  SourceType: null
                  Tags:
                    - SampleTag01
                    - SampleTag2
                  TimeModified: 2018-01-31T23:59:25.4594264Z
                  Version: Search
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/favorites/{favoriteId}":
    delete:
      description: Remove a favorite that is associated to an Application Insights component.
      operationId: Favorites_Delete
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
        - $ref: "#/parameters/FavoriteIdParameter"
      responses:
        "200":
          description: The favorite has been successfully removed from the Application Insights component.
      x-ms-examples:
        FavoriteList:
          parameters:
            api-version: 2015-05-01
            favoriteId: deadb33f-5e0d-4064-8ebb-1a4ed0313eb2
            resourceGroupName: my-resource-group
            resourceName: my-ai-component
            subscriptionId: subid
          responses:
            "200": {}
    get:
      description: Get a single favorite by its FavoriteId, defined within an Application Insights component.
      operationId: Favorites_Get
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
        - $ref: "#/parameters/FavoriteIdParameter"
      responses:
        "200":
          description: A favorite definition associated to the Application Insights component.
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentFavorite"
      x-ms-examples:
        FavoriteGet:
          parameters:
            api-version: 2015-05-01
            favoriteId: deadb33f-5e0d-4064-8ebb-1a4ed0313eb2
            resourceGroupName: my-resource-group
            resourceName: my-ai-component
            subscriptionId: subid
          responses:
            "200":
              body:
                Category: null
                Config: '{"TimeSelection":{"durationMs":1800000,"endTime":"2018-01-31T23:56:15.493Z","createdTime":"Wed Jan 31 2018 15:58:36 GMT-0800 (Pacific Standard Time)","isInitialTime":false,"grain":1,"useDashboardTimeRange":false},"SearchFilter":{"eventTypes":[1,2],"typeFacets":{},"isPermissive":false},"QueryText":"*","partId":"99e33a16-1b00-4a7d-b98f-a3c1bb3a4df8"}'
                FavoriteId: deadb33f-5e0d-4064-8ebb-1a4ed0313eb2
                FavoriteType: shared
                IsGeneratedFromTemplate: false
                Name: Example Search Blade Favorite
                SourceType: null
                Tags:
                  - SampleTag1
                  - SampleTag2
                TimeModified: 2018-01-31T23:59:25.4594264Z
                Version: Search
    patch:
      description: Updates a favorite that has already been added to an Application Insights component.
      operationId: Favorites_Update
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
        - $ref: "#/parameters/FavoriteIdParameter"
        - description: Properties that need to be specified to update the existing favorite.
          in: body
          name: favoriteProperties
          required: true
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentFavorite"
      responses:
        "200":
          description: The favorite definition updated.
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentFavorite"
      x-ms-examples:
        FavoriteList:
          parameters:
            api-version: 2015-05-01
            favoriteId: deadb33f-5e0d-4064-8ebb-1a4ed0313eb2
            favoriteProperties:
              Category: null
              Config: '{"MEDataModelRawJSON":"{\"version\": \"1.4.1\",\"isCustomDataModel\": true,\"items\": [{\"id\": \"90a7134d-9a38-4c25-88d3-a495209873eb\",\"chartType\": \"Area\",\"chartHeight\": 4,\"metrics\": [{\"id\": \"preview/requests/count\",\"metricAggregation\": \"Sum\",\"color\": \"msportalfx-bgcolor-d0\"}],\"priorPeriod\": false,\"clickAction\": {\"defaultBlade\": \"SearchBlade\"},\"horizontalBars\": true,\"showOther\": true,\"aggregation\": \"Sum\",\"percentage\": false,\"palette\": \"fail\",\"yAxisOption\": 0,\"title\": \"\"},{\"id\": \"0c289098-88e8-4010-b212-546815cddf70\",\"chartType\": \"Area\",\"chartHeight\": 2,\"metrics\": [{\"id\": \"preview/requests/duration\",\"metricAggregation\": \"Avg\",\"color\": \"msportalfx-bgcolor-j1\"}],\"priorPeriod\": false,\"clickAction\": {\"defaultBlade\": \"SearchBlade\"},\"horizontalBars\": true,\"showOther\": true,\"aggregation\": \"Avg\",\"percentage\": false,\"palette\": \"greenHues\",\"yAxisOption\": 0,\"title\": \"\"},{\"id\": \"cbdaab6f-a808-4f71-aca5-b3976cbb7345\",\"chartType\": \"Bar\",\"chartHeight\": 4,\"metrics\": [{\"id\": \"preview/requests/duration\",\"metricAggregation\": \"Avg\",\"color\": \"msportalfx-bgcolor-d0\"}],\"priorPeriod\": false,\"clickAction\": {\"defaultBlade\": \"SearchBlade\"},\"horizontalBars\": true,\"showOther\": true,\"aggregation\": \"Avg\",\"percentage\": false,\"palette\": \"magentaHues\",\"yAxisOption\": 0,\"title\": \"\"},{\"id\": \"1d5a6a3a-9fa1-4099-9cf9-05eff72d1b02\",\"grouping\": {\"kind\": \"ByDimension\",\"dimension\": \"context.application.version\"},\"chartType\": \"Grid\",\"chartHeight\": 1,\"metrics\": [{\"id\": \"basicException.count\",\"metricAggregation\": \"Sum\",\"color\": \"msportalfx-bgcolor-g0\"},{\"id\": \"requestFailed.count\",\"metricAggregation\": \"Sum\",\"color\": \"msportalfx-bgcolor-f0s2\"}],\"priorPeriod\": true,\"clickAction\": {\"defaultBlade\": \"SearchBlade\"},\"horizontalBars\": true,\"showOther\": true,\"percentage\": false,\"palette\": \"blueHues\",\"yAxisOption\": 0,\"title\": \"\"}],\"currentFilter\": {\"eventTypes\": [1,2],\"typeFacets\": {},\"isPermissive\": false},\"timeContext\": {\"durationMs\": 75600000,\"endTime\": \"2018-01-31T20:30:00.000Z\",\"createdTime\": \"2018-01-31T23:54:26.280Z\",\"isInitialTime\": false,\"grain\": 1,\"useDashboardTimeRange\": false},\"jsonUri\": \"Favorite_BlankChart\",\"timeSource\": 0}"}'
              FavoriteId: deadb33f-5e0d-4064-8ebb-1a4ed0313eb2
              FavoriteType: shared
              IsGeneratedFromTemplate: false
              Name: Derek Changed This
              SourceType: null
              Tags:
                - TagSample01
                - TagSample02
                - TagSample03
              TimeModified: 2018-02-02T18:39:11.6569686Z
              Version: ME
            resourceGroupName: my-resource-group
            resourceName: my-ai-component
            subscriptionId: subid
          responses:
            "200":
              body:
                Category: null
                Config: '{"MEDataModelRawJSON":"{\"version\": \"1.4.1\",\"isCustomDataModel\": true,\"items\": [{\"id\": \"90a7134d-9a38-4c25-88d3-a495209873eb\",\"chartType\": \"Area\",\"chartHeight\": 4,\"metrics\": [{\"id\": \"preview/requests/count\",\"metricAggregation\": \"Sum\",\"color\": \"msportalfx-bgcolor-d0\"}],\"priorPeriod\": false,\"clickAction\": {\"defaultBlade\": \"SearchBlade\"},\"horizontalBars\": true,\"showOther\": true,\"aggregation\": \"Sum\",\"percentage\": false,\"palette\": \"fail\",\"yAxisOption\": 0,\"title\": \"\"},{\"id\": \"0c289098-88e8-4010-b212-546815cddf70\",\"chartType\": \"Area\",\"chartHeight\": 2,\"metrics\": [{\"id\": \"preview/requests/duration\",\"metricAggregation\": \"Avg\",\"color\": \"msportalfx-bgcolor-j1\"}],\"priorPeriod\": false,\"clickAction\": {\"defaultBlade\": \"SearchBlade\"},\"horizontalBars\": true,\"showOther\": true,\"aggregation\": \"Avg\",\"percentage\": false,\"palette\": \"greenHues\",\"yAxisOption\": 0,\"title\": \"\"},{\"id\": \"cbdaab6f-a808-4f71-aca5-b3976cbb7345\",\"chartType\": \"Bar\",\"chartHeight\": 4,\"metrics\": [{\"id\": \"preview/requests/duration\",\"metricAggregation\": \"Avg\",\"color\": \"msportalfx-bgcolor-d0\"}],\"priorPeriod\": false,\"clickAction\": {\"defaultBlade\": \"SearchBlade\"},\"horizontalBars\": true,\"showOther\": true,\"aggregation\": \"Avg\",\"percentage\": false,\"palette\": \"magentaHues\",\"yAxisOption\": 0,\"title\": \"\"},{\"id\": \"1d5a6a3a-9fa1-4099-9cf9-05eff72d1b02\",\"grouping\": {\"kind\": \"ByDimension\",\"dimension\": \"context.application.version\"},\"chartType\": \"Grid\",\"chartHeight\": 1,\"metrics\": [{\"id\": \"basicException.count\",\"metricAggregation\": \"Sum\",\"color\": \"msportalfx-bgcolor-g0\"},{\"id\": \"requestFailed.count\",\"metricAggregation\": \"Sum\",\"color\": \"msportalfx-bgcolor-f0s2\"}],\"priorPeriod\": true,\"clickAction\": {\"defaultBlade\": \"SearchBlade\"},\"horizontalBars\": true,\"showOther\": true,\"percentage\": false,\"palette\": \"blueHues\",\"yAxisOption\": 0,\"title\": \"\"}],\"currentFilter\": {\"eventTypes\": [1,2],\"typeFacets\": {},\"isPermissive\": false},\"timeContext\": {\"durationMs\": 75600000,\"endTime\": \"2018-01-31T20:30:00.000Z\",\"createdTime\": \"2018-01-31T23:54:26.280Z\",\"isInitialTime\": false,\"grain\": 1,\"useDashboardTimeRange\": false},\"jsonUri\": \"Favorite_BlankChart\",\"timeSource\": 0}"}'
                FavoriteId: deadb33f-5e0d-4064-8ebb-1a4ed0313eb2
                FavoriteType: shared
                IsGeneratedFromTemplate: false
                Name: Derek Changed This
                SourceType: null
                Tags:
                  - TagSample01
                  - TagSample02
                  - TagSample03
                TimeModified: 2018-02-02T18:39:11.6569686Z
                Version: ME
    put:
      description: Adds a new favorites to an Application Insights component.
      operationId: Favorites_Add
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
        - $ref: "#/parameters/FavoriteIdParameter"
        - description: Properties that need to be specified to create a new favorite and add it to an Application Insights component.
          in: body
          name: favoriteProperties
          required: true
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentFavorite"
      responses:
        "200":
          description: The newly created favorite that is associated to the Application Insights component.
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentFavorite"
      x-ms-examples:
        FavoriteAdd:
          parameters:
            api-version: 2015-05-01
            favoriteId: deadb33f-8bee-4d3b-a059-9be8dac93960
            favoriteProperties:
              Category: null
              Config: '{"MEDataModelRawJSON":"{\n  \"version\": \"1.4.1\",\n  \"isCustomDataModel\": true,\n  \"items\": [\n    {\n      \"id\": \"90a7134d-9a38-4c25-88d3-a495209873eb\",\n      \"chartType\": \"Area\",\n      \"chartHeight\": 4,\n      \"metrics\": [\n        {\n          \"id\": \"preview/requests/count\",\n          \"metricAggregation\": \"Sum\",\n          \"color\": \"msportalfx-bgcolor-d0\"\n        }\n      ],\n      \"priorPeriod\": false,\n      \"clickAction\": {\n        \"defaultBlade\": \"SearchBlade\"\n      },\n      \"horizontalBars\": true,\n      \"showOther\": true,\n      \"aggregation\": \"Sum\",\n      \"percentage\": false,\n      \"palette\": \"fail\",\n      \"yAxisOption\": 0,\n      \"title\": \"\"\n    },\n    {\n      \"id\": \"0c289098-88e8-4010-b212-546815cddf70\",\n      \"chartType\": \"Area\",\n      \"chartHeight\": 2,\n      \"metrics\": [\n        {\n          \"id\": \"preview/requests/duration\",\n          \"metricAggregation\": \"Avg\",\n          \"color\": \"msportalfx-bgcolor-j1\"\n        }\n      ],\n      \"priorPeriod\": false,\n      \"clickAction\": {\n        \"defaultBlade\": \"SearchBlade\"\n      },\n      \"horizontalBars\": true,\n      \"showOther\": true,\n      \"aggregation\": \"Avg\",\n      \"percentage\": false,\n      \"palette\": \"greenHues\",\n      \"yAxisOption\": 0,\n      \"title\": \"\"\n    },\n    {\n      \"id\": \"cbdaab6f-a808-4f71-aca5-b3976cbb7345\",\n      \"chartType\": \"Bar\",\n      \"chartHeight\": 4,\n      \"metrics\": [\n        {\n          \"id\": \"preview/requests/duration\",\n          \"metricAggregation\": \"Avg\",\n          \"color\": \"msportalfx-bgcolor-d0\"\n        }\n      ],\n      \"priorPeriod\": false,\n      \"clickAction\": {\n        \"defaultBlade\": \"SearchBlade\"\n      },\n      \"horizontalBars\": true,\n      \"showOther\": true,\n      \"aggregation\": \"Avg\",\n      \"percentage\": false,\n      \"palette\": \"magentaHues\",\n      \"yAxisOption\": 0,\n      \"title\": \"\"\n    },\n    {\n      \"id\": \"1d5a6a3a-9fa1-4099-9cf9-05eff72d1b02\",\n      \"grouping\": {\n        \"kind\": \"ByDimension\",\n        \"dimension\": \"context.application.version\"\n      },\n      \"chartType\": \"Grid\",\n      \"chartHeight\": 1,\n      \"metrics\": [\n        {\n          \"id\": \"basicException.count\",\n          \"metricAggregation\": \"Sum\",\n          \"color\": \"msportalfx-bgcolor-g0\"\n        },\n        {\n          \"id\": \"requestFailed.count\",\n          \"metricAggregation\": \"Sum\",\n          \"color\": \"msportalfx-bgcolor-f0s2\"\n        }\n      ],\n      \"priorPeriod\": true,\n      \"clickAction\": {\n        \"defaultBlade\": \"SearchBlade\"\n      },\n      \"horizontalBars\": true,\n      \"showOther\": true,\n      \"percentage\": false,\n      \"palette\": \"blueHues\",\n      \"yAxisOption\": 0,\n      \"title\": \"\"\n    }\n  ],\n  \"currentFilter\": {\n    \"eventTypes\": [\n      1,\n      2\n    ],\n    \"typeFacets\": {},\n    \"isPermissive\": false\n  },\n  \"timeContext\": {\n    \"durationMs\": 75600000,\n    \"endTime\": \"2018-01-31T20:30:00.000Z\",\n    \"createdTime\": \"2018-01-31T23:54:26.280Z\",\n    \"isInitialTime\": false,\n    \"grain\": 1,\n    \"useDashboardTimeRange\": false\n  },\n  \"jsonUri\": \"Favorite_BlankChart\",\n  \"timeSource\": 0\n}"}'
              FavoriteId: deadb33f-8bee-4d3b-a059-9be8dac93960
              FavoriteType: shared
              IsGeneratedFromTemplate: false
              Name: Blah Blah Blah
              SourceType: null
              Tags:
                - TagSample01
                - TagSample02
              TimeModified: null
              Version: ME
            resourceGroupName: my-resource-group
            resourceName: my-ai-component
            subscriptionId: subid
          responses:
            "200":
              body:
                Category: ""
                Config: |-
                  {"MEDataModelRawJSON":{
                    "version": "1.4.1",
                    "isCustomDataModel": true,
                    "items": [
                      {
                        "id": "90a7134d-9a38-4c25-88d3-a495209873eb",
                        "chartType": "Area",
                   "chartHeight": 4,
                        "metrics": [
                          {
                            "id": "preview/requests/count",
                            "metricAggregation": "Sum",
                            "color": "msportalfx-bgcolor-d0"
                          }
                  ],
                        "priorPeriod": false,
                        "clickAction": {
                          "defaultBlade": "SearchBlade"
                        },
                        "horizontalBars": true,
                        "showOther": true,
                        "aggregation": "Sum",
                   "percentage": false,
                        "palette": "fail",
                        "yAxisOption": 0,
                        "title": ""
                      },
                      {
                        "id": "0c289098-88e8-4010-b212-546815cddf70",
                        "chartType": "Area",
                        "chartHeight": 2,
                        "metrics": [
                          {
                            "id": "preview/requests/duration",
                            "metricAggregation": "Avg",
                            "color": "msportalfx-bgcolor-j1"
                          }
                        ],
                        "priorPeriod": false,
                        "clickAction": {
                          "defaultBlade": "SearchBlade"
                        },
                        "horizontalBars": true,
                   "showOther": true,
                        "aggregation": "Avg",
                        "percentage": false,
                        "palette": "greenHues",
                        "yAxisOption": 0,
                        "title": ""
                      },
                      {
                        "id": "cbdaab6f-a808-4f71-aca5-b3976cbb7345",
                        "chartType": "Bar",
                        "chartHeight": 4,
                        "metrics": [
                          {
                            "id": "preview/requests/duration",
                   "metricAggregation": "Avg",
                            "color": "msportalfx-bgcolor-d0"
                          }
                        ],
                        "priorPeriod": false,
                        "clickAction": {
                          "defaultBlade": "SearchBlade"
                   },
                        "horizontalBars": true,
                        "showOther": true,
                        "aggregation": "Avg",
                        "percentage": false,
                        "palette": "magentaHues",
                        "yAxisOption": 0,
                        "title": ""
                      },
                      {
                        "id": "1d5a6a3a-9fa1-4099-9cf9-05eff72d1b02",
                        "grouping": {
                          "kind": "ByDimension",
                          "dimension": "context.application.version"
                        },
                   "chartType": "Grid",
                        "chartHeight": 1,
                        "metrics": [
                          {
                            "id": "basicException.count",
                            "metricAggregation": "Sum",
                            "color": "msportalfx-bgcolor-g0"
                          },
                          {
                            "id": "requestFailed.count",
                            "metricAggregation": "Sum",
                            "color": "msportalfx-bgcolor-f0s2"
                          }
                        ],
                   "priorPeriod": true,
                        "clickAction": {
                          "defaultBlade": "SearchBlade"
                        },
                        "horizontalBars": true,
                        "showOther": true,
                        "percentage": false,
                   "palette": "blueHues",
                        "yAxisOption": 0,
                        "title": ""
                      }
                    ],
                    "currentFilter": {
                      "eventTypes": [
                        1,
                        2
                      ],
                      "typeFacets": {},
                   "isPermissive": false
                    },
                    "timeContext": {
                      "durationMs": 75600000,
                      "endTime": "2018-01-31T20:30:00.000Z",
                      "createdTime": "2018-01-31T23:54:26.280Z",
                      "isInitialTime": false,
                      "grain": 1,
                      "useDashboardTimeRange": false
                    },
                    "jsonUri": "Favorite_BlankChart",
                    "timeSource": 0
                  }"}
                FavoriteId: deadb33f-8bee-4d3b-a059-9be8dac93960
                FavoriteType: shared
                IsGeneratedFromTemplate: false
                Name: Blah Blah Blah
                SourceType: ""
                Tags:
                  - TagSample01
                  - TagSample02
                TimeModified: 2018-02-02T23:18:32.1850959Z
                Version: ME
definitions:
  ApplicationInsightsComponentFavorite:
    description: Properties that define a favorite that is associated to an Application Insights component.
    properties:
      Category:
        description: Favorite category, as defined by the user at creation time.
        type: string
      Config:
        description: Configuration of this particular favorite, which are driven by the Azure portal UX. Configuration data is a string containing valid JSON
        type: string
      FavoriteId:
        description: Internally assigned unique id of the favorite definition.
        readOnly: true
        type: string
      FavoriteType:
        description: Enum indicating if this favorite definition is owned by a specific user or is shared between all users with access to the Application Insights component.
        enum:
          - shared
          - user
        type: string
        x-ms-enum:
          modelAsString: false
          name: FavoriteType
      IsGeneratedFromTemplate:
        description: Flag denoting wether or not this favorite was generated from a template.
        type: boolean
      Name:
        description: The user-defined name of the favorite.
        type: string
      SourceType:
        description: The source of the favorite definition.
        type: string
      Tags:
        description: A list of 0 or more tags that are associated with this favorite definition
        items:
          type: string
        type: array
      TimeModified:
        description: Date and time in UTC of the last modification that was made to this favorite definition.
        readOnly: true
        type: string
      UserId:
        description: Unique user id of the specific user that owns this favorite.
        readOnly: true
        type: string
      Version:
        description: This instance's version of the data model. This can change as new features are added that can be marked favorite. Current examples include MetricsExplorer (ME) and Search.
        type: string
