swagger: "2.0"
schemes:
  - https
host: api.cognitive.microsoft.com
basePath: /bing/v7.0
info:
  contact:
    x-twitter: microsoft
  description: The Video Search API lets you search on Bing for video that are relevant to the user's search query, for insights about a video or for videos that are trending based on search requests made by others. This section provides technical details about the query parameters and headers that you use to request videos and the JSON response objects that contain them. For examples that show how to make requests, see [Searching the Web for Videos](https://docs.microsoft.com/azure/cognitive-services/bing-video-search/search-the-web).
  title: Video Search Client
  version: "1.0"
  x-apisguru-categories:
    - developer_tools
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/VideoSearch/stable/v1.0/VideoSearch.json
      version: "2.0"
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-VideoSearch
  x-tags:
    - Microsoft
produces:
  - application/json
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
security:
  - apiKeyHeader: []
parameters:
  x-bingapis-sdk:
    description: Activate swagger compliance
    enum:
      - "true"
    in: header
    name: X-BingApis-SDK
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: XBingApisSDK
    x-ms-parameter-location: method
paths:
  /videos/details:
    get:
      operationId: Videos_Details
      parameters:
        - $ref: "#/parameters/x-bingapis-sdk"
        - description: The default media type is application/json. To specify that the response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
          in: header
          name: Accept
          required: false
          type: string
        - description: A comma-delimited list of one or more languages to use for user interface strings. The list is in decreasing order of preference. For additional information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). This header and the [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#setlang) query parameter are mutually exclusive; do not specify both. If you set this header, you must also specify the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#cc) query parameter. To determine the market to return results for, Bing uses the first supported language it finds from the list and combines it with the cc parameter value. If the list does not include a supported language, Bing finds the closest language and market that supports the request or it uses an aggregated or default market for the results. To determine the market that Bing used, see the BingAPIs-Market header. Use this header and the cc query parameter only if you specify multiple languages. Otherwise, use the [mkt](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#mkt) and [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#setlang) query parameters. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Any links to Bing.com properties in the response objects apply the specified language.
          in: header
          name: Accept-Language
          required: false
          type: string
          x-ms-client-name: AcceptLanguage
        - description: "The user agent originating the request. Bing uses the user agent to provide mobile users with an optimized experience. Although optional, you are encouraged to always specify this header. The user-agent should be the same string that any commonly used browser sends. For information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). The following are examples of user-agent strings. Windows Phone: Mozilla/5.0 (compatible; MSIE 10.0; Windows Phone 8.0; Trident/6.0; IEMobile/10.0; ARM; Touch; NOKIA; Lumia 822). Android: Mozilla / 5.0 (Linux; U; Android 2.3.5; en - us; SCH - I500 Build / GINGERBREAD) AppleWebKit / 533.1 (KHTML; like Gecko) Version / 4.0 Mobile Safari / 533.1. iPhone: Mozilla / 5.0 (iPhone; CPU iPhone OS 6_1 like Mac OS X) AppleWebKit / 536.26 (KHTML; like Gecko) Mobile / 10B142 iPhone4; 1 BingWeb / 3.03.1428.20120423. PC: Mozilla / 5.0 (Windows NT 6.3; WOW64; Trident / 7.0; Touch; rv:11.0) like Gecko. iPad: Mozilla / 5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit / 537.51.1 (KHTML, like Gecko) Version / 7.0 Mobile / 11A465 Safari / 9537.53"
          in: header
          name: User-Agent
          required: false
          type: string
          x-ms-client-name: UserAgent
        - description: "Bing uses this header to provide users with consistent behavior across Bing API calls. Bing often flights new features and improvements, and it uses the client ID as a key for assigning traffic on different flights. If you do not use the same client ID for a user across multiple requests, then Bing may assign the user to multiple conflicting flights. Being assigned to multiple conflicting flights can lead to an inconsistent user experience. For example, if the second request has a different flight assignment than the first, the experience may be unexpected. Also, Bing can use the client ID to tailor web results to that client ID’s search history, providing a richer experience for the user. Bing also uses this header to help improve result rankings by analyzing the activity generated by a client ID. The relevance improvements help with better quality of results delivered by Bing APIs and in turn enables higher click-through rates for the API consumer. IMPORTANT: Although optional, you should consider this header required. Persisting the client ID across multiple requests for the same end user and device combination enables 1) the API consumer to receive a consistent user experience, and 2) higher click-through rates via better quality of results from the Bing APIs. Each user that uses your application on the device must have a unique, Bing generated client ID. If you do not include this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID response header. The only time that you should NOT include this header in a request is the first time the user uses your app on that device. Use the client ID for each Bing API request that your app makes for this user on the device. Persist the client ID. To persist the ID in a browser app, use a persistent HTTP cookie to ensure the ID is used across all sessions. Do not use a session cookie. For other apps such as mobile apps, use the device's persistent storage to persist the ID. The next time the user uses your app on that device, get the client ID that you persisted. Bing responses may or may not include this header. If the response includes this header, capture the client ID and use it for all subsequent Bing requests for the user on that device. If you include the X-MSEdge-ClientID, you must not include cookies in the request."
          in: header
          name: X-MSEdge-ClientID
          required: false
          type: string
          x-ms-client-name: ClientId
        - description: The IPv4 or IPv6 address of the client device. The IP address is used to discover the user's location. Bing uses the location information to determine safe search behavior. Although optional, you are encouraged to always specify this header and the X-Search-Location header. Do not obfuscate the address (for example, by changing the last octet to 0). Obfuscating the address results in the location not being anywhere near the device's actual location, which may result in Bing serving erroneous results.
          in: header
          name: X-MSEdge-ClientIP
          required: false
          type: string
          x-ms-client-name: ClientIp
        - description: "A semicolon-delimited list of key/value pairs that describe the client's geographical location. Bing uses the location information to determine safe search behavior and to return relevant local content. Specify the key/value pair as <key>:<value>. The following are the keys that you use to specify the user's location. lat (required): The latitude of the client's location, in degrees. The latitude must be greater than or equal to -90.0 and less than or equal to +90.0. Negative values indicate southern latitudes and positive values indicate northern latitudes. long (required): The longitude of the client's location, in degrees. The longitude must be greater than or equal to -180.0 and less than or equal to +180.0. Negative values indicate western longitudes and positive values indicate eastern longitudes. re (required): The radius, in meters, which specifies the horizontal accuracy of the coordinates. Pass the value returned by the device's location service. Typical values might be 22m for GPS/Wi-Fi, 380m for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional): The UTC UNIX timestamp of when the client was at the location. (The UNIX timestamp is the number of seconds since January 1, 1970.) head (optional): The client's relative heading or direction of travel. Specify the direction of travel as degrees from 0 through 360, counting clockwise relative to true north. Specify this key only if the sp key is nonzero. sp (optional): The horizontal velocity (speed), in meters per second, that the client device is traveling. alt (optional): The altitude of the client device, in meters. are (optional): The radius, in meters, that specifies the vertical accuracy of the coordinates. Specify this key only if you specify the alt key. Although many of the keys are optional, the more information that you provide, the more accurate the location results are. Although optional, you are encouraged to always specify the user's geographical location. Providing the location is especially important if the client's IP address does not accurately reflect the user's physical location (for example, if the client uses VPN). For optimal results, you should include this header and the X-MSEdge-ClientIP header, but at a minimum, you should include this header."
          in: header
          name: X-Search-Location
          required: false
          type: string
          x-ms-client-name: Location
        - description: A 2-character country code of the country where the results come from. This API supports only the United States market. If you specify this query parameter, it must be set to us. If you set this parameter, you must also specify the Accept-Language header. Bing uses the first supported language it finds from the languages list, and combine that language with the country code that you specify to determine the market to return results for. If the languages list does not include a supported language, Bing finds the closest language and market that supports the request, or it may use an aggregated or default market for the results instead of a specified one. You should use this query parameter and the Accept-Language query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. This parameter and the mkt query parameter are mutually exclusive—do not specify both.
          in: query
          name: cc
          required: false
          type: string
          x-ms-client-name: CountryCode
        - description: An ID that uniquely identifies a video. The [Video](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#video) object's videoId field contains the ID that you set this parameter to. You use this parameter to identify the video to get insights of.
          in: query
          name: id
          required: false
          type: string
          x-ms-client-name: Id
        - collectionFormat: csv
          description: "A comma-delimited list of insights to request. The following are the possible case-insensitive values. All: Return all available insights. RelatedVideos: Return a list of videos that are similar to the video specified by the id query parameter. VideoResult: Return the video that you're requesting insights of (this is the video that you set the id query parameter to in your insights request). If you specify an insight and there is no data for it, the response object does not include the related field. For example, if you specify RelatedVideos and none exist, the response does not include the relatedVideos field. Although the user's query term is not required, you should always include it because it helps to improve relevance and the results."
          in: query
          items:
            enum:
              - All
              - RelatedVideos
              - VideoResult
            type: string
            x-ms-enum:
              modelAsString: false
              name: VideoInsightModule
          name: modules
          required: false
          type: array
          x-ms-client-name: Modules
        - description: "The market where the results come from. Typically, mkt is the country where the user is making the request from. However, it could be a different country if the user is not located in a country where Bing delivers results. The market must be in the form <language code>-<country code>. For example, en-US. The string is case insensitive. For a list of possible market values, see [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#market-codes). NOTE: If known, you are encouraged to always specify the market. Specifying the market helps Bing route the request and return an appropriate and optimal response. If you specify a market that is not listed in [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#market-codes), Bing uses a best fit market code based on an internal mapping that is subject to change. This parameter and the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#cc) query parameter are mutually exclusive—do not specify both."
          in: query
          name: mkt
          required: false
          type: string
          x-ms-client-name: Market
        - description: The user's search query string. The query string cannot be empty. The query string may contain [Bing Advanced Operators](http://msdn.microsoft.com/library/ff795620.aspx). For example, to limit videos to a specific domain, use the [site:](http://msdn.microsoft.com/library/ff795613.aspx) operator. Use this parameter only with the Video Search API. Do not specify this parameter when calling the Trending Videos API.
          in: query
          name: q
          required: true
          type: string
          x-ms-client-name: Query
        - description: "Filter videos by the following resolutions: SD480p: Return videos with a 480p or higher resolution. HD720p: Return videos with a 720p or higher resolution. HD1080p: Return videos with a 1080p or higher resolution. All: Do not filter by resolution.Specifying this value is the same as not specifying the resolution parameter."
          enum:
            - All
            - SD480p
            - HD720p
            - HD1080p
          in: query
          name: resolution
          required: false
          type: string
          x-ms-client-name: Resolution
          x-ms-enum:
            modelAsString: false
            name: VideoResolution
        - description: "Filter videos for adult content. The following are the possible filter values. Off: If the request is through the Video Search API, the response includes adult videos and the thumbnail images of the videos are clear (non-fuzzy). If the request is through the Web Search API, the response includes adult videos but the thumbnail images of the videos are pixelated (fuzzy). Moderate: If the request is through the Video Search API, the response does not include videos with adult content. If the request is through the Web Search API, the response may include videos with adult content but the thumbnail images of the videos are pixelated (fuzzy). Strict: Does not return videos with adult content. The default is Moderate. If the request comes from a market that Bing's adult policy requires that safeSearch is set to Strict, Bing ignores the safeSearch value and uses Strict. If you use the site: query operator, there is the chance that the response may contain adult content regardless of what the safeSearch query parameter is set to. Use site: only if you are aware of the content on the site and your scenario supports the possibility of adult content."
          enum:
            - Off
            - Moderate
            - Strict
          in: query
          name: safeSearch
          required: false
          type: string
          x-ms-client-name: SafeSearch
          x-ms-enum:
            modelAsString: false
            name: SafeSearch
        - description: The language to use for user interface strings. Specify the language using the ISO 639-1 2-letter language code. For example, the language code for English is EN. The default is EN (English). Although optional, you should always specify the language. Typically, you set setLang to the same language specified by mkt unless the user wants the user interface strings displayed in a different language. This parameter and the [Accept-Language](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#acceptlanguage) header are mutually exclusive; do not specify both. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Also, any links to Bing.com properties in the response objects apply the specified language.
          in: query
          name: setLang
          required: false
          type: string
          x-ms-client-name: SetLang
        - description: A Boolean value that determines whether display strings contain decoration markers such as hit highlighting characters. If true, the strings may include markers. The default is false. To specify whether to use Unicode characters or HTML tags as the markers, see the [textFormat](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#textformat) query parameter. For information about hit highlighting, see [Hit Highlighting](https://docs.microsoft.com/azure/cognitive-services/bing-news-search/hit-highlighting).
          in: query
          name: textDecorations
          required: false
          type: boolean
          x-ms-client-name: TextDecorations
        - description: The type of markers to use for text decorations (see the textDecorations query parameter). Possible values are Raw—Use Unicode characters to mark content that needs special formatting. The Unicode characters are in the range E000 through E019. For example, Bing uses E000 and E001 to mark the beginning and end of query terms for hit highlighting. HTML—Use HTML tags to mark content that needs special formatting. For example, use <b> tags to highlight query terms in display strings. The default is Raw. For display strings that contain escapable HTML characters such as <, >, and &, if textFormat is set to HTML, Bing escapes the characters as appropriate (for example, < is escaped to &lt;).
          enum:
            - Raw
            - Html
          in: query
          name: textFormat
          required: false
          type: string
          x-ms-client-name: TextFormat
          x-ms-enum:
            modelAsString: false
            name: TextFormat
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/VideoDetails"
        default:
          description: An error has occurred. Check the response type and/or status code for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: The Video Detail Search API lets you search on Bing and get back insights about a video, such as related videos. This section provides technical details about the query parameters and headers that you use to request insights of videos and the JSON response objects that contain them. For examples that show how to make requests, see [Searching the Web for Videos](https://docs.microsoft.com/azure/cognitive-services/bing-video-search/search-the-web).
      tags:
        - VideoDetailSearch
      x-ms-examples:
        Successful video detail:
          parameters:
            Ocp-Apim-Subscription-Key: "{API key}"
          responses:
            "200":
              body:
                _type: Api.VideoDetails.VideoDetails
                instrumentation: {}
                relatedVideos:
                  value:
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=7hqOHxetPXU
                      creator:
                        name: Kids Channel - Cartoon Videos for Kids
                      datePublished: 2017-02-27T13:49:56.0000000
                      duration: PT1H3M45S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=7hqOHxetPXU
                      hostPageUrl: https://www.youtube.com/watch?v=7hqOHxetPXU
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse2.mm.bing.net/th?id=OM.pVkI9pWPPcHzyg_1502783553&pid=Api
                      name: Rhymes | Videos For Kids | Kids Cars | Car Cartoons
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OVP.dyd3l1d9Eav64QLZHyL1uAEsCo&pid=Api
                      videoId: CAF3C13D8F95F60859A5CAF3C13D8F95F60859A5
                      viewCount: 14467367
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=CAF3C13D8F95F60859A5CAF3C13D8F95F60859A5
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=B1-AHKil-RI
                      creator:
                        name: Video For Kids
                      datePublished: 2017-03-29T06:59:47.0000000
                      duration: PT6M52S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=B1-AHKil-RI
                      hostPageUrl: https://www.youtube.com/watch?v=B1-AHKil-RI
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse2.mm.bing.net/th?id=OM.9UrS4dpOO%2b49Ow_1502898462&pid=Api
                      name: Video for kids with Police chases & Car Wash Police cars in the mud
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OVP.kijP1zRUBJvQELf5J6GbtgEsCp&pid=Api
                      videoId: 3B3DEE3B4EDAE1D24AF53B3DEE3B4EDAE1D24AF5
                      viewCount: 11949800
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=3B3DEE3B4EDAE1D24AF53B3DEE3B4EDAE1D24AF5
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=NiOcekC-0uk
                      creator:
                        name: Мульти Мульт
                      datePublished: 2017-02-16T15:01:46.0000000
                      duration: PT11M59S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=NiOcekC-0uk
                      hostPageUrl: https://www.youtube.com/watch?v=NiOcekC-0uk
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse3.mm.bing.net/th?id=OM.LAVnCqKVeoDvZQ_1509291753&pid=Api
                      name: Learning Vehicles Names and Sounds | Emergency Vehicles | Police Car. Fire Truck. Rescue Trucks Kids
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OVP.EuueymUWyMMXZ3KWVmbSEgEsCo&pid=Api
                      videoId: 65EF807A95A20A67052C65EF807A95A20A67052C
                      viewCount: 4924148
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=65EF807A95A20A67052C65EF807A95A20A67052C
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=wTAr0xo2mSs
                      creator:
                        name: Kids Rhymes - Cartoon Videos for Children
                      datePublished: 2017-01-04T13:33:20.0000000
                      duration: PT21M50S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=wTAr0xo2mSs
                      hostPageUrl: https://www.youtube.com/watch?v=wTAr0xo2mSs
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse4.mm.bing.net/th?id=OM.G2LOodsfhT%2fCAg_1502776800&pid=Api
                      name: police cars | emergency vehicles | kids car cartoons
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OVP.iYBh1XuxiQcNE_5l9kxxsgEsCo&pid=Api
                      videoId: 02C23F851FDBA1CE621B02C23F851FDBA1CE621B
                      viewCount: 4302392
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=02C23F851FDBA1CE621B02C23F851FDBA1CE621B
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=bBH0ele7qdw
                      creator:
                        name: FullHDvideos4me
                      datePublished: 2013-06-26T20:37:08.0000000
                      duration: PT21M21S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=bBH0ele7qdw
                      hostPageUrl: https://www.youtube.com/watch?v=bBH0ele7qdw
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse2.mm.bing.net/th?id=OM.IpKXX6G11c8Aow_1503407537&pid=Api
                      name: Cars Toon - ENGLISH - Mater's Tall Tales - Maters - McQueen - kids movie - Mater Toons - the cars
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OVP.T4lhcFqGO72V9HureeJ9XwEsC3&pid=Api
                      videoId: A300CFD5B5A15F979222A300CFD5B5A15F979222
                      viewCount: 203184571
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=A300CFD5B5A15F979222A300CFD5B5A15F979222
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=5nkXCEVuw3s
                      creator:
                        name: Cars & Trucks Stories
                      datePublished: 2017-03-07T11:03:24.0000000
                      duration: PT20M5S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=5nkXCEVuw3s
                      hostPageUrl: https://www.youtube.com/watch?v=5nkXCEVuw3s
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse4.mm.bing.net/th?id=OM.ssrrm7V1kiQ8BA_1503348629&pid=Api
                      name: Police Car Chase with Racing Cars Cartoon for children & kids 3D Animation - Cars & Truck Stories
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse3.mm.bing.net/th?id=OVP.cM3N1-K07h-kxzMB_CbzzQEsCo&pid=Api
                      videoId: 043C249275B59BEBCAB2043C249275B59BEBCAB2
                      viewCount: 697899
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=043C249275B59BEBCAB2043C249275B59BEBCAB2
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=um1dO0EvsoM
                      creator:
                        name: McQueen Songs
                      datePublished: 2016-12-06T10:49:44.0000000
                      duration: PT13M17S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=um1dO0EvsoM
                      hostPageUrl: https://www.youtube.com/watch?v=um1dO0EvsoM
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse4.mm.bing.net/th?id=OM.Zl%2fZF%2fBxWGdiMA_1507509699&pid=Api
                      name: Learn Vehicles - Fire Truck & Police Car | Colors Transport for Toddlers | Videos for Kids
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OVP.WbdIMuFnZNCFpayu8I3ffAEsCo&pid=Api
                      videoId: 3062675871F017D95F663062675871F017D95F66
                      viewCount: 12134786
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=3062675871F017D95F663062675871F017D95F66
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=MILhzvM0cRA
                      creator:
                        name: Blippi
                      datePublished: 2017-05-10T08:17:41.0000000
                      duration: PT17M48S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=MILhzvM0cRA
                      hostPageUrl: https://www.youtube.com/watch?v=MILhzvM0cRA
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse1.mm.bing.net/th?id=OM.ARhQF0FJAqvBmg_1500946783&pid=Api
                      name: Police Cars for Children with Blippi | Educational Videos for Kids
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OVP.QcRXmziUO0Q8QhJBmFfQkwEsCo&pid=Api
                      videoId: 9AC1AB024941175018019AC1AB02494117501801
                      viewCount: 13194440
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=9AC1AB024941175018019AC1AB02494117501801
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=fUm8sgTQ7kg
                      creator:
                        name: Kids Games
                      datePublished: 2017-04-16T22:27:43.0000000
                      duration: PT12M2S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=fUm8sgTQ7kg
                      hostPageUrl: https://www.youtube.com/watch?v=fUm8sgTQ7kg
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse4.mm.bing.net/th?id=OM.YoQCmjkFy9zOzw_1506927817&pid=Api
                      name: "Police Car, Police Helicopter - My Town Police : Cars for Kids| Videos for Children - Android Games"
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse3.mm.bing.net/th?id=OVP.pmcgfZ1W-mzAETTF9duZQAEsCo&pid=Api
                      videoId: CFCEDCCB05399A028462CFCEDCCB05399A028462
                      viewCount: 149103
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=CFCEDCCB05399A028462CFCEDCCB05399A028462
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=xBmEWiWkx9I
                      creator:
                        name: twentytrucks
                      datePublished: 2016-10-05T18:32:18.0000000
                      duration: PT3M55S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=xBmEWiWkx9I
                      hostPageUrl: https://www.youtube.com/watch?v=xBmEWiWkx9I
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse4.mm.bing.net/th?id=OM.%2b8WHTMoWsIxFUg_1503469069&pid=Api
                      name: Police Car for Children | Kids Truck Video - Police Vehicles
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OVP.Te5ZY-JtEdDO-6IOGQ2XPwEsCo&pid=Api
                      videoId: 52458CB016CA4C87C5FB52458CB016CA4C87C5FB
                      viewCount: 11031696
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=52458CB016CA4C87C5FB52458CB016CA4C87C5FB
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=w_uDmovoPgo
                      creator:
                        name: Video For Kids
                      datePublished: 2017-04-01T13:37:49.0000000
                      duration: PT1H3M57S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=w_uDmovoPgo
                      hostPageUrl: https://www.youtube.com/watch?v=w_uDmovoPgo
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse3.mm.bing.net/th?id=OM.U4gGVIvnUo8cdw_1504100802&pid=Api
                      name: Police Chase with Racing Cars Monster Trucks & Police Cars Video For Kids
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OVP.gD3YJd4TWHaUSuasaWaWhgEsCp&pid=Api
                      videoId: 771C8F52E78B54068853771C8F52E78B54068853
                      viewCount: 2051416
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=771C8F52E78B54068853771C8F52E78B54068853
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=f5bt01v01cs
                      creator:
                        name: Hulyan Maya
                      datePublished: 2016-04-20T07:16:23.0000000
                      duration: PT21M58S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=f5bt01v01cs
                      hostPageUrl: https://www.youtube.com/watch?v=f5bt01v01cs
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse3.mm.bing.net/th?id=OM.5bYVALx7283iiQ_1507047988&pid=Api
                      name: "Toy Cars for Kids: Semi Truck Car Hauler Set, Monster Truck Wheelie and Bump & Go Sportscar"
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OVP.mGOuldxRnDH-KD-hUm_9xAEsCo&pid=Api
                      videoId: 89E2CDDB7BBC0015B6E589E2CDDB7BBC0015B6E5
                      viewCount: 5574027
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=89E2CDDB7BBC0015B6E589E2CDDB7BBC0015B6E5
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=cUHrekf1R0M
                      creator:
                        name: Video For Kids
                      datePublished: 2017-02-18T08:51:22.0000000
                      duration: PT12M54S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=cUHrekf1R0M
                      hostPageUrl: https://www.youtube.com/watch?v=cUHrekf1R0M
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse1.mm.bing.net/th?id=OM.j%2f4qI0Azt6KiUg_1501215790&pid=Api
                      name: Car Toy Factory for Kids
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OVP.Cg-wKLPpCHHvQ8mBPoDSmwEsCp&pid=Api
                      videoId: 52A2A2B73340232AFE8F52A2A2B73340232AFE8F
                      viewCount: 2073895
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=52A2A2B73340232AFE8F52A2A2B73340232AFE8F
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=9-FKSNYHkNk
                      creator:
                        name: Kids Channel - Cartoon Videos for Kids
                      datePublished: 2016-12-29T13:32:19.0000000
                      duration: PT1H7M7S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=9-FKSNYHkNk
                      hostPageUrl: https://www.youtube.com/watch?v=9-FKSNYHkNk
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse1.mm.bing.net/th?id=OM.Uxuqpi9wiBRnUg_1503900161&pid=Api
                      name: Learn Colors With Street Vehicles | Color Song | Cartoon Cars For Kids
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OVP.wj6iDg_LaIrJ_AAn0KLDfAEsCo&pid=Api
                      videoId: 52671488702FA6AA1B5352671488702FA6AA1B53
                      viewCount: 2805913
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=52671488702FA6AA1B5352671488702FA6AA1B53
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=E7lT_kPkoiw
                      creator:
                        name: Kids Channel - Cartoon Videos for Kids
                      datePublished: 2017-03-18T15:22:26.0000000
                      duration: PT1H1M57S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=E7lT_kPkoiw
                      hostPageUrl: https://www.youtube.com/watch?v=E7lT_kPkoiw
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse2.mm.bing.net/th?id=OM.y4MOARZQh45f3Q_1509274033&pid=Api
                      name: Police Car Chase And Stunts Car Videos For Kids
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OVP._JnuJJTsuww3lnIdX7dTowEsCo&pid=Api
                      videoId: DD5F8E875016010E83CBDD5F8E875016010E83CB
                      viewCount: 128569
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=DD5F8E875016010E83CBDD5F8E875016010E83CB
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=rO65QV82xSw
                      creator:
                        name: Video For Kids
                      datePublished: 2016-08-30T14:00:33.0000000
                      duration: PT28M57S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=rO65QV82xSw
                      hostPageUrl: https://www.youtube.com/watch?v=rO65QV82xSw
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse2.mm.bing.net/th?id=OM.EYP8aVJYDy6zyw_1498851522&pid=Api
                      name: The Police Chase with Racing Cars Monster Trucks & Police Cars Video For Kids
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse3.mm.bing.net/th?id=OVP.W-AxCHcnhoKvWBgbfoY4GQEsCo&pid=Api
                      videoId: CBB32E0F585269FC8311CBB32E0F585269FC8311
                      viewCount: 15352561
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=CBB32E0F585269FC8311CBB32E0F585269FC8311
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=M8BFtmQRHq4
                      creator:
                        name: coilbook™ | Learning For Children
                      datePublished: 2015-10-23T02:43:23.0000000
                      duration: PT14M49S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=M8BFtmQRHq4
                      hostPageUrl: https://www.youtube.com/watch?v=M8BFtmQRHq4
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse1.mm.bing.net/th?id=OM.Pmsul2qSX6FpGQ_1501880373&pid=Api
                      name: Learn Shapes And Race Monster Trucks - TOYS (Part 3) | Videos For Children
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OVP.3HsitFDq6LUTon6i2tidyQEsCo&pid=Api
                      videoId: 1969A15F926A972E6B3E1969A15F926A972E6B3E
                      viewCount: 36696302
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=1969A15F926A972E6B3E1969A15F926A972E6B3E
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=SGowPVkyius
                      creator:
                        name: Kids Channel - Cartoon Videos for Kids
                      datePublished: 2015-06-24T16:41:23.0000000
                      duration: PT1H21M57S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=SGowPVkyius
                      hostPageUrl: https://www.youtube.com/watch?v=SGowPVkyius
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse3.mm.bing.net/th?id=OM.5janwzvdhHUSlA_1504775176&pid=Api
                      name: Police Car Compilation | 60mins Video For Kids | learn vehicles | kids videos
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OVP.DHeo4fsxZm69xVGZTZqAKQEsCo&pid=Api
                      videoId: 94127584DD3BC3A736E694127584DD3BC3A736E6
                      viewCount: 8634626
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=94127584DD3BC3A736E694127584DD3BC3A736E6
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=LuXcXGSszJc
                      creator:
                        name: Toy Cars
                      datePublished: 2016-07-22T06:38:16.0000000
                      duration: PT2M32S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=LuXcXGSszJc
                      hostPageUrl: https://www.youtube.com/watch?v=LuXcXGSszJc
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse2.mm.bing.net/th?id=OM.ZQChQMjYcbCg3Q_1509978928&pid=Api
                      name: CRAZY POLICE CHASE Ford Mustang Toy Cars Kids FUN! Action!
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OVP.tZH0Lda10t42C4DFbjol_gEsCo&pid=Api
                      videoId: DDA0B071D8C840A10065DDA0B071D8C840A10065
                      viewCount: 4874362
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=DDA0B071D8C840A10065DDA0B071D8C840A10065
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=xtOUO0l38Zk
                      creator:
                        name: Tiki Taki Cars
                      datePublished: 2016-09-02T08:19:55.0000000
                      duration: PT22M25S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=xtOUO0l38Zk
                      hostPageUrl: https://www.youtube.com/watch?v=xtOUO0l38Zk
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse2.mm.bing.net/th?id=OM.c6uwuLnovapMuw_1507174721&pid=Api
                      name: Cars and Trucks Cartoon for Kids. Ambulance. Fire Truck. Police Car. Cartoons for Children
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OVP.OIYDfS6E0o3cKXg8AbGoFwEsCo&pid=Api
                      videoId: BB4CAABDE8B9B8B0AB73BB4CAABDE8B9B8B0AB73
                      viewCount: 1822363
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=BB4CAABDE8B9B8B0AB73BB4CAABDE8B9B8B0AB73
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=VHbHdOo0iK0
                      creator:
                        name: 4 your kids
                      datePublished: 2016-11-04T08:42:32.0000000
                      duration: PT1H38S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=VHbHdOo0iK0
                      hostPageUrl: https://www.youtube.com/watch?v=VHbHdOo0iK0
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse1.mm.bing.net/th?id=OM.KD9Gk3AzCB9OEg_1504723365&pid=Api
                      name: CARS and TRUCKS Cartoons Compilation for Children - 4 Your Kids
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OVP.yQtIiH60Rr_PwHtizk4hqgEsCo&pid=Api
                      videoId: 124E1F08337093463F28124E1F08337093463F28
                      viewCount: 5466050
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=124E1F08337093463F28124E1F08337093463F28
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=DS88TwUvzjM
                      creator:
                        name: coilbook™ | Learning For Children
                      datePublished: 2015-05-16T13:25:02.0000000
                      duration: PT12M43S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=DS88TwUvzjM
                      hostPageUrl: https://www.youtube.com/watch?v=DS88TwUvzjM
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse3.mm.bing.net/th?id=OM.PBkYjOaPubxybA_1503505764&pid=Api
                      name: Sergeant Cooper the Police Car - Real City Heroes (RCH) - Videos For Children
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OVP.nqc9YM60xc6Wi7UnWQVhGAEsCo&pid=Api
                      videoId: 6C72BCB98FE68C18193C6C72BCB98FE68C18193C
                      viewCount: 123196938
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=6C72BCB98FE68C18193C6C72BCB98FE68C18193C
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=5npTw1KAY0Q
                      creator:
                        name: Tiki Taki Cars
                      datePublished: 2016-09-24T07:41:10.0000000
                      duration: PT21M6S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=5npTw1KAY0Q
                      hostPageUrl: https://www.youtube.com/watch?v=5npTw1KAY0Q
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse4.mm.bing.net/th?id=OM.A7KnyC9EtxcHWQ_1498197456&pid=Api
                      name: Police Car cartoon for children | Emergency Vehicles cartoons | Car cartoons for kids
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse3.mm.bing.net/th?id=OVP.l3Pt4peVxrVwzWJbIRNuVwEsCo&pid=Api
                      videoId: 590717B7442FC8A7B203590717B7442FC8A7B203
                      viewCount: 4092778
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=590717B7442FC8A7B203590717B7442FC8A7B203
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=YwPyRv25wyk
                      creator:
                        name: Kids Channel - Cartoon Videos for Kids
                      datePublished: 2016-10-14T15:24:46.0000000
                      duration: PT26M39S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=YwPyRv25wyk
                      hostPageUrl: https://www.youtube.com/watch?v=YwPyRv25wyk
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse1.mm.bing.net/th?id=OM.%2bWuLa0sJEqgxFw_1502211998&pid=Api
                      name: Police Car | formation and uses | Police Car Cartoons
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse3.mm.bing.net/th?id=OVP.7_Ig7jxHEAP_sZ80rAYDmwEsCo&pid=Api
                      videoId: 1731A812094B6B8B6BF91731A812094B6B8B6BF9
                      viewCount: 3418122
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=1731A812094B6B8B6BF91731A812094B6B8B6BF9
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=s_cGx_GByNQ
                      creator:
                        name: Tiki Taki Cars
                      datePublished: 2016-04-01T08:09:35.0000000
                      duration: PT20M59S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=s_cGx_GByNQ
                      hostPageUrl: https://www.youtube.com/watch?v=s_cGx_GByNQ
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse1.mm.bing.net/th?id=OM.k69owH8JMMiPzg_1505868239&pid=Api
                      name: Car Cartoons for kids. Police Car & Racing Car. Race. Emergency Vehicles for children. Episode 63
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse3.mm.bing.net/th?id=OVP.sJ2ZssHFF-loXyPds7-qbgEsCo&pid=Api
                      videoId: CE8FC830097FC068AF93CE8FC830097FC068AF93
                      viewCount: 2610222
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=CE8FC830097FC068AF93CE8FC830097FC068AF93
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=3ulurahh5hc
                      creator:
                        name: Car City
                      datePublished: 2016-02-10T17:24:37.0000000
                      duration: PT4M29S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=3ulurahh5hc
                      hostPageUrl: https://www.youtube.com/watch?v=3ulurahh5hc
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse1.mm.bing.net/th?id=OM.cykt%2ftgSqEk%2bcQ_1509280905&pid=Api
                      name: Tom The Tow Truck and the Police Car in Car City | Trucks cartoon for children
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OVP.TyLjzNZpxNCFEqAgcbfVnQEsCo&pid=Api
                      videoId: 713E49A812D8FE2D2973713E49A812D8FE2D2973
                      viewCount: 5312412
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=713E49A812D8FE2D2973713E49A812D8FE2D2973
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=ssHriuhOuzc
                      creator:
                        name: Kids Channel - Cartoon Videos for Kids
                      datePublished: 2016-11-14T15:05:18.0000000
                      duration: PT26M
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=ssHriuhOuzc
                      hostPageUrl: https://www.youtube.com/watch?v=ssHriuhOuzc
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse4.mm.bing.net/th?id=OM.%2fUFs2XjxTnm7yg_1503330914&pid=Api
                      name: Kids Channel Police Car | Car Videos
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OVP.3x01QFvBFWu1RM7dUrwzrAEsCo&pid=Api
                      videoId: CABB794EF178D96C41FDCABB794EF178D96C41FD
                      viewCount: 231053
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=CABB794EF178D96C41FDCABB794EF178D96C41FD
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=-r7yQo4y1YE
                      creator:
                        name: Video For Kids
                      datePublished: 2017-02-14T14:08:32.0000000
                      duration: PT11M4S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=-r7yQo4y1YE
                      hostPageUrl: https://www.youtube.com/watch?v=-r7yQo4y1YE
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse4.mm.bing.net/th?id=OM.uHFZPyx1a1vnFQ_1507548617&pid=Api
                      name: Police Chase for Children with Police Cars & Racing Cars Video for Kids
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OVP.bl2hojjK68XoUbJsgyOiGwEsCp&pid=Api
                      videoId: 15E75B6B752C3F5971B815E75B6B752C3F5971B8
                      viewCount: 1095193
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=15E75B6B752C3F5971B815E75B6B752C3F5971B8
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=RAw7egfZUOE
                      creator:
                        name: Video For Kids
                      datePublished: 2017-03-26T14:29:28.0000000
                      duration: PT37M56S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=RAw7egfZUOE
                      hostPageUrl: https://www.youtube.com/watch?v=RAw7egfZUOE
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse2.mm.bing.net/th?id=OM.F%2f2Q%2bqPw6qHFfQ_1503451291&pid=Api
                      name: A lot of Cars Toys for Kids Video for Children
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse3.mm.bing.net/th?id=OVP.ezzjOEFPLneEYjgGY-B1VgEsCp&pid=Api
                      videoId: 7DC5A1EAF0A3FA90FD177DC5A1EAF0A3FA90FD17
                      viewCount: 794592
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=7DC5A1EAF0A3FA90FD177DC5A1EAF0A3FA90FD17
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=J7eU39mAYRU
                      creator:
                        name: LittleBabyTV
                      datePublished: 2016-11-17T03:37:26.0000000
                      duration: PT47M28S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=J7eU39mAYRU
                      hostPageUrl: https://www.youtube.com/watch?v=J7eU39mAYRU
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse1.mm.bing.net/th?id=OM.r4R%2bjh95Q4mHyg_1504144429&pid=Api
                      name: Learn Colours With Cars for Toddlers Kids Children | Videos for Children
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OVP.FqyYMe92eysGYO81u2EOCQEsCo&pid=Api
                      videoId: CA878943791F8E7E84AFCA878943791F8E7E84AF
                      viewCount: 14912449
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=CA878943791F8E7E84AFCA878943791F8E7E84AF
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=z6JpETLLvNM
                      creator:
                        name: Kids Channel - Cartoon Videos for Kids
                      datePublished: 2017-01-14T12:11:42.0000000
                      duration: PT1H1M49S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=z6JpETLLvNM
                      hostPageUrl: https://www.youtube.com/watch?v=z6JpETLLvNM
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse1.mm.bing.net/th?id=OM.IP1Bic5gE76fLg_1501904215&pid=Api
                      name: Turbo Town | baby cartoons | car cartoon | kids compilation
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse3.mm.bing.net/th?id=OVP.ZWqkGW1du0q_nmWt5qmt0gEsCo&pid=Api
                      videoId: 2E9FBE1360CE8941FD202E9FBE1360CE8941FD20
                      viewCount: 3404850
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=2E9FBE1360CE8941FD202E9FBE1360CE8941FD20
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=Tldlt2RhrDw
                      creator:
                        name: Ryan ToysReview
                      datePublished: 2015-06-30T21:22:58.0000000
                      duration: PT7M26S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=Tldlt2RhrDw
                      hostPageUrl: https://www.youtube.com/watch?v=Tldlt2RhrDw
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse2.mm.bing.net/th?id=OM.SxwACBZwwDGp5g_1508275665&pid=Api
                      name: 100+ cars toys GIANT EGG SURPRISE OPENING Disney Pixar Lightning McQueen kids video Ryan ToysReview
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OVP.Ts-rPrzK6jbVLYPC_WGX9QEsCo&pid=Api
                      videoId: E6A931C0701608001C4BE6A931C0701608001C4B
                      viewCount: 766400565
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=E6A931C0701608001C4BE6A931C0701608001C4B
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=alJU33729mM
                      creator:
                        name: Kids Channel - Cartoon Videos for Kids
                      datePublished: 2014-12-17T08:03:32.0000000
                      duration: PT49M49S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=alJU33729mM
                      hostPageUrl: https://www.youtube.com/watch?v=alJU33729mM
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse4.mm.bing.net/th?id=OM.0RM8n0l7Uykweg_1503143742&pid=Api
                      name: CAR WASH | COMPILATION | Videos For Children | Videos for kids | Learn Vehicles
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OVP.nTRohDuscWOBLULhe_cUFQEsCo&pid=Api
                      videoId: 7A3029537B499F3C13D17A3029537B499F3C13D1
                      viewCount: 93939180
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=7A3029537B499F3C13D17A3029537B499F3C13D1
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=U_x_mp1BGOE
                      creator:
                        name: Ryan ToysReview
                      datePublished: 2016-08-11T21:30:22.0000000
                      duration: PT9M2S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=U_x_mp1BGOE
                      hostPageUrl: https://www.youtube.com/watch?v=U_x_mp1BGOE
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse4.mm.bing.net/th?id=OM.hZMcKt6LSkqzYA_1504426200&pid=Api
                      name: HUGE POWER WHEELS COLLECTIONS Ride On Cars for Kids Compilations Part 1
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse3.mm.bing.net/th?id=OVP.HIpR1tfDK69JnHUHIAm5OwEsCo&pid=Api
                      videoId: 60B34A4A8BDE2A1C938560B34A4A8BDE2A1C9385
                      viewCount: 22633870
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=60B34A4A8BDE2A1C938560B34A4A8BDE2A1C9385
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=Nco6E0qjz7A
                      creator:
                        name: Jugnu Kids - Nursery Rhymes and Kids Songs
                      datePublished: 2017-05-30T23:54:58.0000000
                      duration: PT1H10M45S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=Nco6E0qjz7A
                      hostPageUrl: https://www.youtube.com/watch?v=Nco6E0qjz7A
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse2.mm.bing.net/th?id=OM.KaCENz6RuziGZw_1508841951&pid=Api
                      name: Police Chase Thief Car Videos los angeles - Kids Toys Unboxing - Surprise Eggs Toys for Kids
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OVP.GwEjRjULxt5fkNo-FAV8SwEsCo&pid=Api
                      videoId: 678638BB913E3784A029678638BB913E3784A029
                      viewCount: 5912788
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=678638BB913E3784A029678638BB913E3784A029
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=VxXgMajxyk4
                      creator:
                        name: Kids Channel - Cartoon Videos for Kids
                      datePublished: 2016-08-29T09:55:15.0000000
                      duration: PT41M33S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=VxXgMajxyk4
                      hostPageUrl: https://www.youtube.com/watch?v=VxXgMajxyk4
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse1.mm.bing.net/th?id=OM.jjO9tuGRmTSp0w_1501917499&pid=Api
                      name: train car wash | car cartoons for children | kids video
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OVP.Z6963FYweRUTZrcesxfbdwEsCo&pid=Api
                      videoId: D3A9349991E1B6BD338ED3A9349991E1B6BD338E
                      viewCount: 7257139
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=D3A9349991E1B6BD338ED3A9349991E1B6BD338E
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=nMDnm5TyG4w
                      creator:
                        name: Kids Channel - Cartoon Videos for Kids
                      datePublished: 2014-09-05T14:28:23.0000000
                      duration: PT2M32S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=nMDnm5TyG4w
                      hostPageUrl: https://www.youtube.com/watch?v=nMDnm5TyG4w
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse3.mm.bing.net/th?id=OM.NkHmrKeHTBDwLw_1504053689&pid=Api
                      name: Police Car Wash | videos For Children | videos for kids
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OVP.g9jWn5SyL2oZ0eJkyPe7fwEsCo&pid=Api
                      videoId: 2FF0104C87A7ACE641362FF0104C87A7ACE64136
                      viewCount: 44940799
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=2FF0104C87A7ACE641362FF0104C87A7ACE64136
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=loSDJk3VjdI
                      creator:
                        name: Demonracer2
                      datePublished: 2016-04-30T13:21:03.0000000
                      duration: PT11M2S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=loSDJk3VjdI
                      hostPageUrl: https://www.youtube.com/watch?v=loSDJk3VjdI
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse2.mm.bing.net/th?id=OM.uZ5dhEQVZ84mTg_1505274246&pid=Api
                      name: Police Cars Fire Trucks And Ambulance Responding Compilation Part 6
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OVP.JzHoDzXHMeaj_XW9uHL4qAEsCo&pid=Api
                      videoId: 4E26CE671544845D9EB94E26CE671544845D9EB9
                      viewCount: 2644389
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=4E26CE671544845D9EB94E26CE671544845D9EB9
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=uT0MTubFXRQ
                      creator:
                        name: Car City
                      datePublished: 2017-01-10T18:48:27.0000000
                      duration: PT33M40S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=uT0MTubFXRQ
                      hostPageUrl: https://www.youtube.com/watch?v=uT0MTubFXRQ
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse1.mm.bing.net/th?id=OM.wHyf2D%2fYZ%2fHeqw_1502909456&pid=Api
                      name: "The Car Patrol: fire truck and police car in Amber's siren is stolen in Car City Trucks Cartoons"
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse1.mm.bing.net/th?id=OVP.ef25OP9x1mxQ5v_XzBNTuwEsCo&pid=Api
                      videoId: ABDEF167D83FD89F7CC0ABDEF167D83FD89F7CC0
                      viewCount: 6192700
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=ABDEF167D83FD89F7CC0ABDEF167D83FD89F7CC0
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=JvJzQdVnDuU
                      creator:
                        name: Morphle TV
                      datePublished: 2016-09-29T15:52:28.0000000
                      duration: PT29M33S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=JvJzQdVnDuU
                      hostPageUrl: https://www.youtube.com/watch?v=JvJzQdVnDuU
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse3.mm.bing.net/th?id=OM.rKqHRxcOsju8HQ_1501397240&pid=Api
                      name: My Red Police Car - My Magic Pet Morphle Compilation with Police Vehicle Videos for Kids!
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse4.mm.bing.net/th?id=OVP.yKZcfXb-kLXrXcmOO9P7RQEsCo&pid=Api
                      videoId: 1DBC3BB20E174787AAAC1DBC3BB20E174787AAAC
                      viewCount: 27075263
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=1DBC3BB20E174787AAAC1DBC3BB20E174787AAAC
                    - allowHttpsEmbed: true
                      allowMobileEmbed: false
                      contentUrl: https://www.youtube.com/watch?v=fRCcbbjEV3U
                      creator:
                        name: Toy Factory
                      datePublished: 2017-07-15T12:06:51.0000000
                      duration: PT14M20S
                      hostPageDisplayUrl: https://www.youtube.com/watch?v=fRCcbbjEV3U
                      hostPageUrl: https://www.youtube.com/watch?v=fRCcbbjEV3U
                      isAccessibleForFree: true
                      isSuperfresh: false
                      motionThumbnailUrl: https://tse1.mm.bing.net/th?id=OM.ziBTXI8vVQm6Cw_1509023063&pid=Api
                      name: Car parking cartoon - cars cartoon- cars for kids - trains for children - toy factory cartoon
                      publisher:
                        - name: YouTube
                      thumbnailUrl: https://tse2.mm.bing.net/th?id=OVP.OiZe6oUi6joug0nPfE3jTAEsCo&pid=Api
                      videoId: 0BBA09552F8F5C5320CE0BBA09552F8F5C5320CE
                      viewCount: 3675116
                      webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=0BBA09552F8F5C5320CE0BBA09552F8F5C5320CE
                videoResult:
                  allowHttpsEmbed: true
                  allowMobileEmbed: true
                  contentUrl: https://www.youtube.com/watch?v=wHpCrFP3WIg
                  creator:
                    name: Cars & Trains Cartoons
                  datePublished: 2017-05-06T08:33:12.0000000
                  description: Video for children with Cop Cars Kids Cartoon! Enjoy The Police Car New Kids Animation - Cars & Trucks Cartoons for children on the screen! Enjoy best educat...
                  duration: PT1H3M17S
                  embedHtml: <iframe width="1280" height="720" src="https://www.youtube.com/embed/wHpCrFP3WIg?autoplay=1" frameborder="0" allowfullscreen></iframe>
                  encodingFormat: h264
                  height: 720
                  hostPageDisplayUrl: https://www.youtube.com/watch?v=wHpCrFP3WIg
                  hostPageUrl: https://www.youtube.com/watch?v=wHpCrFP3WIg
                  isAccessibleForFree: true
                  isSuperfresh: false
                  motionThumbnailUrl: https://tse1.mm.bing.net/th?id=OM.8SsKh4IYGr%2bmqQ_1506858484&pid=Api
                  name: Cop Cars Kid Cartoon - The Police Car New Cars for kids & Trucks Cartoons for children
                  publisher:
                    - name: YouTube
                  thumbnail:
                    height: 168
                    width: 300
                  thumbnailUrl: https://tse4.mm.bing.net/th?id=OVP.IwahJWZR_3EraqgrED0rzwEsCo&pid=Api
                  videoId: A9A6BF1A1882870A2BF1A9A6BF1A1882870A2BF1
                  viewCount: 3872833
                  webSearchUrl: https://www.bing.com/videos/search?q=&view=detail&mid=A9A6BF1A1882870A2BF1A9A6BF1A1882870A2BF1
                  width: 1280
              headers: {}
  /videos/search:
    get:
      operationId: Videos_Search
      parameters:
        - $ref: "#/parameters/x-bingapis-sdk"
        - description: The default media type is application/json. To specify that the response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
          in: header
          name: Accept
          required: false
          type: string
        - description: A comma-delimited list of one or more languages to use for user interface strings. The list is in decreasing order of preference. For additional information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). This header and the [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#setlang) query parameter are mutually exclusive; do not specify both. If you set this header, you must also specify the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#cc) query parameter. To determine the market to return results for, Bing uses the first supported language it finds from the list and combines it with the cc parameter value. If the list does not include a supported language, Bing finds the closest language and market that supports the request or it uses an aggregated or default market for the results. To determine the market that Bing used, see the BingAPIs-Market header. Use this header and the cc query parameter only if you specify multiple languages. Otherwise, use the [mkt](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#mkt) and [setLang](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#setlang) query parameters. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Any links to Bing.com properties in the response objects apply the specified language.
          in: header
          name: Accept-Language
          required: false
          type: string
          x-ms-client-name: AcceptLanguage
        - description: "The user agent originating the request. Bing uses the user agent to provide mobile users with an optimized experience. Although optional, you are encouraged to always specify this header. The user-agent should be the same string that any commonly used browser sends. For information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). The following are examples of user-agent strings. Windows Phone: Mozilla/5.0 (compatible; MSIE 10.0; Windows Phone 8.0; Trident/6.0; IEMobile/10.0; ARM; Touch; NOKIA; Lumia 822). Android: Mozilla / 5.0 (Linux; U; Android 2.3.5; en - us; SCH - I500 Build / GINGERBREAD) AppleWebKit / 533.1 (KHTML; like Gecko) Version / 4.0 Mobile Safari / 533.1. iPhone: Mozilla / 5.0 (iPhone; CPU iPhone OS 6_1 like Mac OS X) AppleWebKit / 536.26 (KHTML; like Gecko) Mobile / 10B142 iPhone4; 1 BingWeb / 3.03.1428.20120423. PC: Mozilla / 5.0 (Windows NT 6.3; WOW64; Trident / 7.0; Touch; rv:11.0) like Gecko. iPad: Mozilla / 5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit / 537.51.1 (KHTML, like Gecko) Version / 7.0 Mobile / 11A465 Safari / 9537.53"
          in: header
          name: User-Agent
          required: false
          type: string
          x-ms-client-name: UserAgent
        - description: "Bing uses this header to provide users with consistent behavior across Bing API calls. Bing often flights new features and improvements, and it uses the client ID as a key for assigning traffic on different flights. If you do not use the same client ID for a user across multiple requests, then Bing may assign the user to multiple conflicting flights. Being assigned to multiple conflicting flights can lead to an inconsistent user experience. For example, if the second request has a different flight assignment than the first, the experience may be unexpected. Also, Bing can use the client ID to tailor web results to that client ID’s search history, providing a richer experience for the user. Bing also uses this header to help improve result rankings by analyzing the activity generated by a client ID. The relevance improvements help with better quality of results delivered by Bing APIs and in turn enables higher click-through rates for the API consumer. IMPORTANT: Although optional, you should consider this header required. Persisting the client ID across multiple requests for the same end user and device combination enables 1) the API consumer to receive a consistent user experience, and 2) higher click-through rates via better quality of results from the Bing APIs. Each user that uses your application on the device must have a unique, Bing generated client ID. If you do not include this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID response header. The only time that you should NOT include this header in a request is the first time the user uses your app on that device. Use the client ID for each Bing API request that your app makes for this user on the device. Persist the client ID. To persist the ID in a browser app, use a persistent HTTP cookie to ensure the ID is used across all sessions. Do not use a session cookie. For other apps such as mobile apps, use the device's persistent storage to persist the ID. The next time the user uses your app on that device, get the client ID that you persisted. Bing responses may or may not include this header. If the response includes this header, capture the client ID and use it for all subsequent Bing requests for the user on that device. If you include the X-MSEdge-ClientID, you must not include cookies in the request."
          in: header
          name: X-MSEdge-ClientID
          required: false
          type: string
          x-ms-client-name: ClientId
        - description: The IPv4 or IPv6 address of the client device. The IP address is used to discover the user's location. Bing uses the location information to determine safe search behavior. Although optional, you are encouraged to always specify this header and the X-Search-Location header. Do not obfuscate the address (for example, by changing the last octet to 0). Obfuscating the address results in the location not being anywhere near the device's actual location, which may result in Bing serving erroneous results.
          in: header
          name: X-MSEdge-ClientIP
          required: false
          type: string
          x-ms-client-name: ClientIp
        - description: "A semicolon-delimited list of key/value pairs that describe the client's geographical location. Bing uses the location information to determine safe search behavior and to return relevant local content. Specify the key/value pair as <key>:<value>. The following are the keys that you use to specify the user's location. lat (required): The latitude of the client's location, in degrees. The latitude must be greater than or equal to -90.0 and less than or equal to +90.0. Negative values indicate southern latitudes and positive values indicate northern latitudes. long (required): The longitude of the client's location, in degrees. The longitude must be greater than or equal to -180.0 and less than or equal to +180.0. Negative values indicate western longitudes and positive values indicate eastern longitudes. re (required): The radius, in meters, which specifies the horizontal accuracy of the coordinates. Pass the value returned by the device's location service. Typical values might be 22m for GPS/Wi-Fi, 380m for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional): The UTC UNIX timestamp of when the client was at the location. (The UNIX timestamp is the number of seconds since January 1, 1970.) head (optional): The client's relative heading or direction of travel. Specify the direction of travel as degrees from 0 through 360, counting clockwise relative to true north. Specify this key only if the sp key is nonzero. sp (optional): The horizontal velocity (speed), in meters per second, that the client device is traveling. alt (optional): The altitude of the client device, in meters. are (optional): The radius, in meters, that specifies the vertical accuracy of the coordinates. Specify this key only if you specify the alt key. Although many of the keys are optional, the more information that you provide, the more accurate the location results are. Although optional, you are encouraged to always specify the user's geographical location. Providing the location is especially important if the client's IP address does not accurately reflect the user's physical location (for example, if the client uses VPN). For optimal results, you should include this header and the X-MSEdge-ClientIP header, but at a minimum, you should include this header."
          in: header
          name: X-Search-Location
          required: false
          type: string
          x-ms-client-name: Location
        - description: A 2-character country code of the country where the results come from. This API supports only the United States market. If you specify this query parameter, it must be set to us. If you set this parameter, you must also specify the Accept-Language header. Bing uses the first supported language it finds from the languages list, and combine that language with the country code that you specify to determine the market to return results for. If the languages list does not include a supported language, Bing finds the closest language and market that supports the request, or it may use an aggregated or default market for the results instead of a specified one. You should use this query parameter and the Accept-Language query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. This parameter and the mkt query parameter are mutually exclusive—do not specify both.
          in: query
          name: cc
          required: false
          type: string
          x-ms-client-name: CountryCode
        - description: The number of videos to return in the response. The actual number delivered may be less than requested. The default is 35. The maximum is 105. You may use this parameter along with the offset parameter to page results. For example, if your user interface presents 20 videos per page, set count to 20 and offset to 0 to get the first page of results. For each subsequent page, increment offset by 20 (for example, 0, 20, 40). Use this parameter only with the Video Search API. Do not specify this parameter when calling the Trending Videos API or the Web Search API.
          format: int32
          in: query
          name: count
          required: false
          type: integer
          x-ms-client-name: Count
        - description: "Filter videos by the date and time that Bing discovered the video. The following are the possible filter values. Day: Return videos discovered within the last 24 hours. Week: Return videos discovered within the last 7 days. Month: Return videos discovered within the last 30 days."
          enum:
            - Day
            - Week
            - Month
          in: query
          name: freshness
          required: false
          type: string
          x-ms-client-name: Freshness
          x-ms-enum:
            modelAsString: false
            name: Freshness
        - description: An ID that uniquely identifies a video. The [Video](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#video) object's videoId field contains the ID that you set this parameter to. You use this parameter to ensure that the specified video is the first video in the list of videos that Bing returns.
          in: query
          name: id
          required: false
          type: string
          x-ms-client-name: Id
        - description: "Filter videos by the following lengths: Short: Return videos that are less than 5 minutes. Medium: Return videos that are between 5 and 20 minutes, inclusive. Long: Return videos that are longer than 20 minutes. All: Do not filter by length.Specifying this value is the same as not specifying the videoLength parameter."
          enum:
            - All
            - Short
            - Medium
            - Long
          in: query
          name: length
          required: false
          type: string
          x-ms-client-name: Length
          x-ms-enum:
            modelAsString: false
            name: VideoLength
        - description: "The market where the results come from. Typically, mkt is the country where the user is making the request from. However, it could be a different country if the user is not located in a country where Bing delivers results. The market must be in the form <language code>-<country code>. For example, en-US. The string is case insensitive. For a list of possible market values, see [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#market-codes). NOTE: If known, you are encouraged to always specify the market. Specifying the market helps Bing route the request and return an appropriate and optimal response. If you specify a market that is not listed in [Market Codes](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#market-codes), Bing uses a best fit market code based on an internal mapping that is subject to change. This parameter and the [cc](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#cc) query parameter are mutually exclusive—do not specify both."
          in: query
          name: mkt
          required: false
          type: string
          x-ms-client-name: Market
        - description: The zero-based offset that indicates the number of videos to skip before returning videos. The default is 0. The offset should be less than ([totalEstimatedMatches](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#videos-totalmatches) - count). Use this parameter along with the count parameter to page results. For example, if your user interface displays 20 videos per page, set count to 20 and offset to 0 to get the first page of results. For each subsequent page, increment offset by 20 (for example, 0, 20, 40). It is possible for multiple pages to include some overlap in results. To prevent duplicates, see [nextOffset](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#videos-nextoffset). Use this parameter only with the Video Search API.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
          x-ms-client-name: Offset
        - description: "Filter videos by the following pricing options: Free: Return videos that are free to view. Paid: Return videos that require a subscription or payment to view. All: Do not filter by pricing.Specifying this value is the same as not specifying the pricing parameter."
          enum:
            - All
            - Free
            - Paid
          in: query
          name: pricing
          required: false
          type: string
          x-ms-client-name: Pricing
          x-ms-enum:
            modelAsString: false
            name: VideoPricing
        - description: The user's search query string. The query string cannot be empty. The query string may contain [Bing Advanced Operators](http://msdn.microsoft.com/library/ff795620.aspx). For example, to limit videos to a specific domain, use the [site:](http://msdn.microsoft.com/library/ff795613.aspx) operator. Use this parameter only with the Video Search API. Do not specify this parameter when calling the Trending Videos API.
          in: query
          name: q
          required: true
          type: string
          x-ms-client-name: Query
        - description: "Filter videos by the following resolutions: SD480p: Return videos with a 480p or higher resolution. HD720p: Return videos with a 720p or higher resolution. HD1080p: Return videos with a 1080p or higher resolution. All: Do not filter by resolution.Specifying this value is the same as not specifying the resolution parameter."
          enum:
            - All
            - SD480p
            - HD720p
            - HD1080p
          in: query
          name: resolution
          required: false
          type: string
          x-ms-client-name: Resolution
          x-ms-enum:
            modelAsString: false
            name: VideoResolution
        - description: "Filter videos for adult content. The following are the possible filter values. Off: If the request is through the Video Search API, the response includes adult videos and the thumbnail images of the videos are clear (non-fuzzy). If the request is through the Web Search API, the response includes adult videos but the thumbnail images of the videos are pixelated (fuzzy). Moderate: If the request is through the Video Search API, the response does not include videos with adult content. If the request is through the Web Search API, the response may include videos with adult content but the thumbnail images of the videos are pixelated (fuzzy). Strict: Does not return videos with adult content. The default is Moderate. If the request comes from a market that Bing's adult policy requires that safeSearch is set to Strict, Bing ignores the safeSearch value and uses Strict. If you use the site: query operator, there is the chance that the response may contain adult content regardless of what the safeSearch query parameter is set to. Use site: only if you are aware of the content on the site and your scenario supports the possibility of adult content."
          enum:
            - Off
            - Moderate
            - Strict
          in: query
          name: safeSearch
          required: false
          type: string
          x-ms-client-name: SafeSearch
          x-ms-enum:
            modelAsString: false
            name: SafeSearch
        - description: The language to use for user interface strings. Specify the language using the ISO 639-1 2-letter language code. For example, the language code for English is EN. The default is EN (English). Although optional, you should always specify the language. Typically, you set setLang to the same language specified by mkt unless the user wants the user interface strings displayed in a different language. This parameter and the [Accept-Language](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#acceptlanguage) header are mutually exclusive; do not specify both. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Also, any links to Bing.com properties in the response objects apply the specified language.
          in: query
          name: setLang
          required: false
          type: string
          x-ms-client-name: SetLang
        - description: A Boolean value that determines whether display strings contain decoration markers such as hit highlighting characters. If true, the strings may include markers. The default is false. To specify whether to use Unicode characters or HTML tags as the markers, see the [textFormat](https://docs.microsoft.com/en-us/rest/api/cognitiveservices/bing-video-api-v7-reference#textformat) query parameter. For information about hit highlighting, see [Hit Highlighting](https://docs.microsoft.com/azure/cognitive-services/bing-news-search/hit-highlighting).
          in: query
          name: textDecorations
          required: false
          type: boolean
          x-ms-client-name: TextDecorations
        - description: The type of markers to use for text decorations (see the textDecorations query parameter). Possible values are Raw—Use Unicode characters to mark content that needs special formatting. The Unicode characters are in the range E000 through E019. For example, Bing uses E000 and E001 to mark the beginning and end of query terms for hit highlighting. HTML—Use HTML tags to mark content that needs special formatting. For example, use <b> tags to highlight query terms in display strings. The default is Raw. For display strings that contain escapable HTML characters such as <, >, and &, if textFormat is set to HTML, Bing escapes the characters as appropriate (for example, < is escaped to &lt;).
          enum:
            - Raw
            - Html
          in: query
          name: textFormat
          required: false
          type: string
          x-ms-client-name: TextFormat
          x-ms-enum:
            modelAsString: false
            name: TextFormat
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/Videos"
        default:
          description: An error has occurred. Check the response type and/or status code for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: The Video Search API lets you send a search query to Bing and get back a list of videos that are relevant to the search query. This section provides technical details about the query parameters and headers that you use to request videos and the JSON response objects that contain them. For examples that show how to make requests, see [Searching the Web for Videos](https://docs.microsoft.com/azure/cognitive-services/bing-video-search/search-the-web).
      tags:
        - VideoSearch
      x-ms-examples:
        Successful video search:
          parameters:
            Ocp-Apim-Subscription-Key: "{API key}"
          responses:
            "200":
              body:
                _type: Videos
                instrumentation: {}
                nextOffset: 39
                pivotSuggestions:
                  - pivot: cars
                    suggestions:
                      - displayText: Planes Movie
                        searchLink: https://api.cognitive.microsoft.com/api/v7/videos/search?q=Planes+Movie&tq=%7b%22pq%22%3a%22cars%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22cars%22%2c%22pv%22%3a%22cars%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Planes+Movie%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Planes Movie
                        thumbnail:
                          thumbnailUrl: https://tse2.mm.bing.net/th?q=Planes+Movie&pid=Api&mkt=en-US&adlt=moderate&t=1
                        webSearchUrl: https://www.bing.com/videos/search?q=Planes+Movie&tq=%7b%22pq%22%3a%22cars%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22cars%22%2c%22pv%22%3a%22cars%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Planes+Movie%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=VRQBPS
                      - displayText: Up Movie
                        searchLink: https://api.cognitive.microsoft.com/api/v7/videos/search?q=Up+Movie&tq=%7b%22pq%22%3a%22cars%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22cars%22%2c%22pv%22%3a%22cars%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Up+Movie%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Up Movie
                        thumbnail:
                          thumbnailUrl: https://tse2.mm.bing.net/th?q=Up+Movie&pid=Api&mkt=en-US&adlt=moderate&t=1
                        webSearchUrl: https://www.bing.com/videos/search?q=Up+Movie&tq=%7b%22pq%22%3a%22cars%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22cars%22%2c%22pv%22%3a%22cars%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Up+Movie%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=VRQBPS
                      - displayText: Ratatouille Movie
                        searchLink: https://api.cognitive.microsoft.com/api/v7/videos/search?q=Ratatouille+Movie&tq=%7b%22pq%22%3a%22cars%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22cars%22%2c%22pv%22%3a%22cars%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Ratatouille+Movie%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Ratatouille Movie
                        thumbnail:
                          thumbnailUrl: https://tse3.mm.bing.net/th?q=Ratatouille+Movie&pid=Api&mkt=en-US&adlt=moderate&t=1
                        webSearchUrl: https://www.bing.com/videos/search?q=Ratatouille+Movie&tq=%7b%22pq%22%3a%22cars%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22cars%22%2c%22pv%22%3a%22cars%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Ratatouille+Movie%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=VRQBPS
                      - displayText: Pixar
                        searchLink: https://api.cognitive.microsoft.com/api/v7/videos/search?q=Pixar&tq=%7b%22pq%22%3a%22cars%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22cars%22%2c%22pv%22%3a%22cars%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Pixar%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d
                        text: Pixar
                        thumbnail:
                          thumbnailUrl: https://tse1.mm.bing.net/th?q=Pixar&pid=Api&mkt=en-US&adlt=moderate&t=1
                        webSearchUrl: https://www.bing.com/videos/search?q=Pixar&tq=%7b%22pq%22%3a%22cars%22%2c%22qs%22%3a%5b%7b%22cv%22%3a%22cars%22%2c%22pv%22%3a%22cars%22%2c%22hps%22%3atrue%2c%22iqp%22%3afalse%7d%2c%7b%22cv%22%3a%22Pixar%22%2c%22pv%22%3a%22%22%2c%22hps%22%3afalse%2c%22iqp%22%3atrue%7d%5d%7d&FORM=VRQBPS
                queryExpansions:
                  - displayText: 2 Full Movie
[...]
