swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Azure Monitor API reference for Private Links Scopes management.
  title: Azure Monitor Private Link Scopes
  version: 2019-10-17-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2019-10-17-preview/privateLinkScopes_API.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-privateLinkScopes_API
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  GroupNameParameter:
    description: The name of the private link resource.
    in: path
    name: groupName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceNameParameter:
    description: The name of the Azure Monitor PrivateLinkScope resource.
    in: path
    name: scopeName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/microsoft.insights/privateLinkScopes":
    get:
      description: Gets a list of all Azure Monitor PrivateLinkScopes within a subscription.
      operationId: PrivateLinkScopes_List
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: A list containing 0 or more Azure Monitor PrivateLinkScope definitions.
          schema:
            $ref: "#/definitions/AzureMonitorPrivateLinkScopeListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-ms-examples:
        PrivateLinkScopesList.json:
          parameters:
            api-version: 2019-10-17-preview
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/privateLinkScopes/my-privatelinkscope
                    location: Global
                    name: my-privatelinkscope
                    properties:
                      provisioningState: Succeeded
                    tags: {}
                    type: Microsoft.Insights/privateLinkScopes
                  - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-other-resource-group/providers/microsoft.insights/privateLinkScopes/my-other-privatelinkscope
                    location: Global
                    name: my-other-privatelinkscope
                    properties:
                      provisioningState: Succeeded
                    tags: {}
                    type: Microsoft.Insights/privateLinkScopes
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/privateEndpointConnections":
    get:
      description: Gets all private endpoint connections on a private link scope.
      operationId: PrivateEndpointConnections_ListByPrivateLinkScope
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: Name of the Azure Monitor PrivateLinkScope that will contain the datasource
          in: path
          name: scopeName
          required: true
          type: string
      responses:
        "200":
          description: Successfully retrieved private endpoint connections.
          schema:
            $ref: "#/definitions/PrivateEndpointConnectionListResult"
      tags:
        - PrivateEndpointConnections
      x-ms-examples:
        Gets list of private endpoint connections on a private link scope.:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/privateEndpointConnections/private-endpoint-connection-name-2
                    name: private-endpoint-connection-name
                    properties:
                      privateEndpoint:
                        id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                      privateLinkServiceConnectionState:
                        actionsRequired: None
                        description: Auto-approved
                        status: Approved
                      provisioningState: Succeeded
                    type: Microsoft.Insights/privateLinkScopes/privateEndpointConnections
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/privateEndpointConnections/private-endpoint-connection-name-2
                    name: private-endpoint-connection-name-2
                    properties:
                      privateEndpoint:
                        id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name-2
                      privateLinkServiceConnectionState:
                        actionsRequired: None
                        description: Please approve my connection.
                        status: Pending
                      provisioningState: Succeeded
                    type: Microsoft.Insights/privateLinkScopes/privateEndpointConnections
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/privateEndpointConnections/{privateEndpointConnectionName}":
    delete:
      description: Deletes a private endpoint connection with a given name.
      operationId: PrivateEndpointConnections_Delete
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: Name of the Azure Monitor PrivateLinkScope that will contain the datasource
          in: path
          name: scopeName
          required: true
          type: string
        - description: The name of the private endpoint connection.
          in: path
          name: privateEndpointConnectionName
          required: true
          type: string
      responses:
        "200":
          description: Successfully deleted private endpoint connection.
        "202":
          description: Accepted
        "204":
          description: Private endpoint connection does not exist.
      tags:
        - PrivateEndpointConnections
      x-ms-examples:
        Deletes a private endpoint connection with a given name.:
          parameters:
            api-version: 2019-10-17-preview
            privateEndpointConnectionName: private-endpoint-connection-name
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets a private endpoint connection.
      operationId: PrivateEndpointConnections_Get
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: Name of the Azure Monitor PrivateLinkScope that will contain the datasource
          in: path
          name: scopeName
          required: true
          type: string
        - description: The name of the private endpoint connection.
          in: path
          name: privateEndpointConnectionName
          required: true
          type: string
      responses:
        "200":
          description: Successfully retrieved a specified private endpoint connection.
          schema:
            $ref: "#/definitions/PrivateEndpointConnection"
      tags:
        - PrivateEndpointConnections
      x-ms-examples:
        Gets private endpoint connection.:
          parameters:
            api-version: 2019-10-17-preview
            privateEndpointConnectionName: private-endpoint-connection-name
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/privateEndpointConnections/private-endpoint-connection-name
                name: private-endpoint-connection-name
                properties:
                  privateEndpoint:
                    id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                  privateLinkServiceConnectionState:
                    actionsRequired: None
                    description: Auto-approved
                    status: Approved
                  provisioningState: Succeeded
                type: Microsoft.Insights/privateLinkScopes/privateEndpointConnections
    put:
      description: Approve or reject a private endpoint connection with a given name.
      operationId: PrivateEndpointConnections_CreateOrUpdate
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: Name of the Azure Monitor PrivateLinkScope that will contain the datasource
          in: path
          name: scopeName
          required: true
          type: string
        - description: The name of the private endpoint connection.
          in: path
          name: privateEndpointConnectionName
          required: true
          type: string
        - in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/PrivateEndpointConnection"
      responses:
        "200":
          description: Successfully approved or rejected private endpoint connection.
          schema:
            $ref: "#/definitions/PrivateEndpointConnection"
        "202":
          description: Accepted
      tags:
        - PrivateEndpointConnections
      x-ms-examples:
        Approve or reject a private endpoint connection with a given name.:
          parameters:
            api-version: 2019-10-17-preview
            parameters:
              properties:
                privateLinkServiceConnectionState:
                  description: Approved by johndoe@contoso.com
                  status: Approved
            privateEndpointConnectionName: private-endpoint-connection-name
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/privateEndpointConnections/private-endpoint-connection-name
                name: private-endpoint-connection-name
                properties:
                  privateEndpoint:
                    id: /subscriptions/55555555-6666-7777-8888-999999999999/resourceGroups/Default-Network/providers/Microsoft.Network/privateEndpoints/private-endpoint-name
                  privateLinkServiceConnectionState:
                    actionsRequired: None
                    description: Approved by johndoe@contoso.com
                    status: Approved
                  provisioningState: Succeeded
                type: Microsoft.Insights/privateLinkScopes/privateEndpointConnections
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/privateLinkResources":
    get:
      description: Gets the private link resources that need to be created for a Azure Monitor PrivateLinkScope.
      operationId: PrivateLinkResources_ListByPrivateLinkScope
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: Name of the Azure Monitor PrivateLinkScope that will contain the datasource
          in: path
          name: scopeName
          required: true
          type: string
      responses:
        "200":
          description: Successfully retrieved private link resources.
          schema:
            $ref: "#/definitions/PrivateLinkResourceListResult"
      tags:
        - PrivateLinkResources
      x-ms-examples:
        Gets private endpoint connection.:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/privateLinkResources/azuremonitor
                    name: azuremonitor
                    properties:
                      groupId: azuremonitor
                      requiredMembers:
                        - draft
                        - breeze
                        - livemetrics
                        - snapshotdebugger
                        - profiler
                        - oms-12300000-1111-2222-3333-444444444444
                        - ods-12300000-1111-2222-3333-444444444444
                        - agent-12300000-1111-2222-3333-444444444444
                    type: Microsoft.Insights/privateLinkScopes/privateLinkResources
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/privateLinkResources/{groupName}":
    get:
      description: Gets the private link resources that need to be created for a Azure Monitor PrivateLinkScope.
      operationId: PrivateLinkResources_Get
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: Name of the Azure Monitor PrivateLinkScope that will contain the datasource
          in: path
          name: scopeName
          required: true
          type: string
        - $ref: "#/parameters/GroupNameParameter"
      responses:
        "200":
          description: Successfully retrieved a specified private link resource.
          schema:
            $ref: "#/definitions/PrivateLinkResource"
      tags:
        - PrivateLinkResources
      x-ms-examples:
        Gets private endpoint connection.:
          parameters:
            api-version: 2019-10-17-preview
            groupName: azuremonitor
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/privateLinkResources/azuremonitor
                name: azuremonitor
                properties:
                  groupId: azuremonitor
                  requiredMembers:
                    - draft
                    - breeze
                    - livemetrics
                    - snapshotdebugger
                    - profiler
                    - oms-12300000-1111-2222-3333-444444444444
                    - ods-12300000-1111-2222-3333-444444444444
                    - agent-12300000-1111-2222-3333-444444444444
                type: Microsoft.Insights/privateLinkScopes/privateLinkResources
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/scopedResources":
    get:
      description: Gets all private endpoint connections on a private link scope.
      operationId: PrivateLinkScopedResources_ListByPrivateLinkScope
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: Name of the Azure Monitor PrivateLinkScope that will contain the datasource
          in: path
          name: scopeName
          required: true
          type: string
      responses:
        "200":
          description: Successfully retrieved scoped resources in a private link scope.
          schema:
            $ref: "#/definitions/ScopedResourceListResult"
      tags:
        - PrivateLinkScopedResources
      x-ms-examples:
        Gets list of scoped resources in a private link scope.:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/scopedResources/scoped-resource-name
                    name: scoped-resource-name
                    properties:
                      linkedResourceId: /subscriptions/00000000-0000-2222-3333-444444444444/resourceGroups/MyComponentResourceGroup/providers/Microsoft.Insights/components/my-component
                      provisioningState: Succeeded
                    type: Microsoft.Insights/privateLinkScopes/scopedResources
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/scopedResources/other-scoped-resource-name
                    name: other-scoped-resource-name
                    properties:
                      linkedResourceId: /subscriptions/00000000-3333-2222-5555-444444444444/resourceGroups/MyWorkspaceResourceGroup/providers/Microsoft.OperationalInsights/workspaces/my-workspace
                      provisioningState: Provisioning
                    type: Microsoft.Insights/privateLinkScopes/scopedResources
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/privateLinkScopes/{scopeName}/scopedResources/{name}":
    delete:
      description: Deletes a private endpoint connection with a given name.
      operationId: PrivateLinkScopedResources_Delete
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: Name of the Azure Monitor PrivateLinkScope that will contain the datasource
          in: path
          name: scopeName
          required: true
          type: string
        - description: The name of the scoped resource object.
          in: path
          name: name
          required: true
          type: string
      responses:
        "200":
          description: Successfully deleted scoped resource.
        "202":
          description: Accepted
        "204":
          description: Scoped resource does not exist.
      tags:
        - PrivateLinkScopedResources
      x-ms-examples:
        Deletes a scoped resource with a given name.:
          parameters:
            api-version: 2019-10-17-preview
            name: scoped-resource-name
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets a scoped resource in a private link scope.
      operationId: PrivateLinkScopedResources_Get
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: Name of the Azure Monitor PrivateLinkScope that will contain the datasource
          in: path
          name: scopeName
          required: true
          type: string
        - description: The name of the scoped resource object.
          in: path
          name: name
          required: true
          type: string
      responses:
        "200":
          description: Successfully retrieved a scoped resource in a private link scope.
          schema:
            $ref: "#/definitions/ScopedResource"
      tags:
        - PrivateLinkScopedResources
      x-ms-examples:
        Gets private link scoped resource.:
          parameters:
            api-version: 2019-10-17-preview
            name: scoped-resource-name
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/scopedResources/scoped-resource-name
                name: scoped-resource-name
                properties:
                  linkedResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/components/my-component
                  provisioningState: Succeeded
                type: Microsoft.Insights/privateLinkScopes/scopedResources
    put:
      description: Approve or reject a private endpoint connection with a given name.
      operationId: PrivateLinkScopedResources_CreateOrUpdate
      parameters:
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: Name of the Azure Monitor PrivateLinkScope that will contain the datasource
          in: path
          name: scopeName
          required: true
          type: string
        - description: The name of the scoped resource object.
          in: path
          name: name
          required: true
          type: string
        - in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ScopedResource"
      responses:
        "200":
          description: Successfully scoped azure monitor resource in a private link scope.
          schema:
            $ref: "#/definitions/ScopedResource"
        "202":
          description: Accepted
      tags:
        - PrivateLinkScopedResources
      x-ms-examples:
        Update a scoped resource in a private link scope.:
          parameters:
            api-version: 2019-10-17-preview
            name: scoped-resource-name
            parameters:
              properties:
                linkedResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/components/my-component
            resourceGroupName: MyResourceGroup
            scopeName: MyPrivateLinkScope
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/privateLinkScopes/MyPrivateLinkScope/scopedResources/scoped-resource-name
                name: scoped-resource-name
                properties:
                  linkedResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/MyResourceGroup/providers/Microsoft.Insights/components/my-component
                  provisioningState: Succeeded
                type: Microsoft.Insights/privateLinkScopes/scopedResources
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/privateLinkScopes":
    get:
      description: Gets a list of Azure Monitor PrivateLinkScopes within a resource group.
      operationId: PrivateLinkScopes_ListByResourceGroup
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: A list containing 0 or more Azure Monitor PrivateLinkScope definitions.
          schema:
            $ref: "#/definitions/AzureMonitorPrivateLinkScopeListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-ms-examples:
        PrivateLinkScopeListByResourceGroup:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/privateLinkScopes/my-privatelinkscope
                    location: Global
                    name: my-privatelinkscope
                    properties:
                      provisioningState: Succeeded
                    tags: {}
                    type: Microsoft.Insights/privateLinkScopes
                  - id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/privateLinkScopes/my-other-privatelinkscope
                    location: Global
                    name: my-other-privatelinkscope
                    properties:
                      provisioningState: Succeeded
                    tags: {}
                    type: Microsoft.Insights/privateLinkScopes
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/privateLinkScopes/{scopeName}":
    delete:
      description: Deletes a Azure Monitor PrivateLinkScope.
      operationId: PrivateLinkScopes_Delete
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
      responses:
        "200":
          description: Successful request when deleting a Azure Monitor PrivateLinkScope.
        "202":
          description: Accepted.
        "204":
          description: The specified PrivateLinkScope does not exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-ms-examples:
        PrivateLinkScopesDelete:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            scopeName: my-privatelinkscope
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Returns a Azure Monitor PrivateLinkScope.
      operationId: PrivateLinkScopes_Get
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
      responses:
        "200":
          description: An Azure Monitor PrivateLinkScope definition.
          schema:
            $ref: "#/definitions/AzureMonitorPrivateLinkScope"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-ms-examples:
        PrivateLinkScopeGet:
          parameters:
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            scopeName: my-privatelinkscope
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200":
              body:
                id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/privateLinkScopes/my-privatelinkscope
                location: Global
                name: my-privatelinkscope
                properties:
                  provisioningState: Succeeded
                tags: {}
                type: Microsoft.Insights/privateLinkScopes
    patch:
      description: Updates an existing PrivateLinkScope's tags. To update other fields use the CreateOrUpdate method.
      operationId: PrivateLinkScopes_UpdateTags
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
        - description: Updated tag information to set into the PrivateLinkScope instance.
          in: body
          name: PrivateLinkScopeTags
          required: true
          schema:
            $ref: "#/definitions/TagsResource"
      responses:
        "200":
          description: Updating the Azure Monitor PrivateLinkScope's tags was successful. PrivateLinkScope tags are updated and returned with the rest of the PrivateLinkScope's object properties.
          schema:
            $ref: "#/definitions/AzureMonitorPrivateLinkScope"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-ms-examples:
        PrivateLinkScopeUpdateTagsOnly:
          parameters:
            PrivateLinkScopeTags:
              tags:
                Tag1: Value1
                Tag2: Value2
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            scopeName: my-privatelinkscope
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/my-resource-group/providers/microsoft.insights/privateLinkScopes/my-privatelinkscope
                location: Global
                name: my-privatelinkscope
                properties:
                  provisioningState: Succeeded
                tags:
                  Tag1: Value1
                  Tag2: Value2
                type: Microsoft.Insights/privateLinkScopes
    put:
      description: "Creates (or updates) a Azure Monitor PrivateLinkScope. Note: You cannot specify a different value for InstrumentationKey nor AppId in the Put operation."
      operationId: PrivateLinkScopes_CreateOrUpdate
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
        - description: Properties that need to be specified to create or update a Azure Monitor PrivateLinkScope.
          in: body
          name: AzureMonitorPrivateLinkScopePayload
          required: true
          schema:
            $ref: "#/definitions/AzureMonitorPrivateLinkScope"
      responses:
        "200":
          description: Successful request when creating or updating a Azure Monitor PrivateLinkScope. The updated PrivateLinkScope is returned.
          schema:
            $ref: "#/definitions/AzureMonitorPrivateLinkScope"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-ms-examples:
        PrivateLinkScopeCreate:
          parameters:
            AzureMonitorPrivateLinkScopePayload:
              location: Global
              properties: {}
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            scopeName: my-privatelinkscope
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200":
              body:
                id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/privateLinkScopes/my-privatelinkscope
                location: Global
                name: my-privatelinkscope
                properties:
                  provisioningState: Succeeded
                tags: {}
                type: Microsoft.Insights/privateLinkScopes
        PrivateLinkScopeUpdate:
          parameters:
            AzureMonitorPrivateLinkScopePayload:
              location: Global
              properties: {}
              tags:
                Tag1: Value1
            api-version: 2019-10-17-preview
            resourceGroupName: my-resource-group
            scopeName: my-privatelinkscope
            subscriptionId: 86dc51d3-92ed-4d7e-947a-775ea79b4919
          responses:
            "200":
              body:
                id: /subscriptions/86dc51d3-92ed-4d7e-947a-775ea79b4919/resourceGroups/my-resource-group/providers/microsoft.insights/privateLinkScopes/my-privatelinkscope
                location: Global
                name: my-privatelinkscope
                properties:
                  provisioningState: Succeeded
                tags:
                  Tag1: Value1
                type: Microsoft.Insights/privateLinkScopes
definitions:
  AzureMonitorPrivateLinkScope:
    allOf:
      - $ref: "#/definitions/PrivateLinkScopesResource"
    description: An Azure Monitor PrivateLinkScope definition.
    properties:
      properties:
        $ref: "#/definitions/AzureMonitorPrivateLinkScopeProperties"
        description: Properties that define a Azure Monitor PrivateLinkScope resource.
        x-ms-client-flatten: true
    required:
      - properties
  AzureMonitorPrivateLinkScopeListResult:
    description: Describes the list of Azure Monitor PrivateLinkScope resources.
    properties:
      nextLink:
        description: The URI to get the next set of Azure Monitor PrivateLinkScope definitions if too many PrivateLinkScopes where returned in the result set.
        type: string
      value:
        description: List of Azure Monitor PrivateLinkScope definitions.
        items:
          $ref: "#/definitions/AzureMonitorPrivateLinkScope"
        type: array
    required:
      - value
  AzureMonitorPrivateLinkScopeProperties:
    description: Properties that define a Azure Monitor PrivateLinkScope resource.
    properties:
      provisioningState:
        description: "Current state of this PrivateLinkScope: whether or not is has been provisioned within the resource group it is defined. Users cannot change this value but are able to read from it. Values will include Provisioning ,Succeeded, Canceled and Failed."
        readOnly: true
        type: string
  ErrorResponse:
    description: Describe the format of an Error response.
    properties:
      code:
        description: Error code
        type: string
      message:
        description: Error message indicating why the operation failed.
        type: string
    type: object
  PrivateEndpointConnection:
    allOf:
      - $ref: "#/definitions/ProxyResource"
    description: A private endpoint connection
    properties:
      properties:
        $ref: "#/definitions/PrivateEndpointConnectionProperties"
        description: Resource properties.
        x-ms-client-flatten: true
    type: object
    x-ms-azure-resource: true
  PrivateEndpointConnectionListResult:
    description: A list of private endpoint connections.
    properties:
      nextLink:
        description: Link to retrieve next page of results.
        readOnly: true
        type: string
      value:
        description: Array of results.
        items:
          $ref: "#/definitions/PrivateEndpointConnection"
        readOnly: true
        type: array
    type: object
  PrivateEndpointConnectionProperties:
    description: Properties of a private endpoint connection.
    properties:
      privateEndpoint:
        $ref: "#/definitions/PrivateEndpointProperty"
        description: Private endpoint which the connection belongs to.
      privateLinkServiceConnectionState:
        $ref: "#/definitions/PrivateLinkServiceConnectionStateProperty"
        description: Connection state of the private endpoint connection.
      provisioningState:
        description: State of the private endpoint connection.
        readOnly: true
        type: string
    type: object
  PrivateEndpointProperty:
    description: Private endpoint which the connection belongs to.
    properties:
      id:
        description: Resource id of the private endpoint.
        type: string
    type: object
  PrivateLinkResource:
    allOf:
      - $ref: "#/definitions/ProxyResource"
    description: A private link resource
    properties:
      properties:
        $ref: "#/definitions/PrivateLinkResourceProperties"
        description: Resource properties.
        x-ms-client-flatten: true
    type: object
  PrivateLinkResourceListResult:
    description: A list of private link resources
    properties:
      nextLink:
        description: Link to retrieve next page of results.
        readOnly: true
        type: string
      value:
        description: Array of results.
        items:
          $ref: "#/definitions/PrivateLinkResource"
        readOnly: true
        type: array
    type: object
  PrivateLinkResourceProperties:
    description: Properties of a private link resource.
    properties:
      groupId:
        description: The private link resource group id.
        readOnly: true
        type: string
      requiredMembers:
        description: The private link resource required member names.
        items:
          type: string
        readOnly: true
        type: array
    type: object
  PrivateLinkScopesResource:
    description: An azure resource object
    properties:
      id:
        description: Azure resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
        x-ms-mutability:
          - create
          - read
      name:
        description: Azure resource name
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
      type:
        description: Azure resource type
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  PrivateLinkServiceConnectionStateProperty:
    description: State of the private endpoint connection.
    properties:
      actionsRequired:
        description: The actions required for private link service connection.
        readOnly: true
        type: string
      description:
        description: The private link service connection description.
        type: string
      status:
        description: The private link service connection status.
        type: string
    required:
      - status
      - description
    type: object
  ProxyResource:
    description: Common properties of proxy resource.
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type.
        readOnly: true
        type: string
  ScopedResource:
    allOf:
      - $ref: "#/definitions/ProxyResource"
    description: A private link scoped resource
    properties:
      properties:
        $ref: "#/definitions/ScopedResourceProperties"
        description: Resource properties.
        x-ms-client-flatten: true
    type: object
    x-ms-azure-resource: true
  ScopedResourceListResult:
    description: A list of scoped resources in a private link scope.
    properties:
      nextLink:
        description: Link to retrieve next page of results.
        readOnly: true
        type: string
      value:
        description: Array of results.
        items:
          $ref: "#/definitions/ScopedResource"
        readOnly: true
        type: array
    type: object
  ScopedResourceProperties:
    description: Properties of a private link scoped resource.
    properties:
      linkedResourceId:
        description: The resource id of the scoped Azure monitor resource.
        type: string
      provisioningState:
        description: State of the private endpoint connection.
        readOnly: true
        type: string
    type: object
  TagsResource:
    description: A container holding only the Tags for a resource, allowing the user to update the tags on a PrivateLinkScope instance.
    properties:
      tags:
        additionalProperties:
          type: string
        description: Resource tags
