swagger: "2.0"
schemes:
  - https
host: api.ebay.com
basePath: /buy/browse/v1
info:
  contact:
    name: eBay Inc,
    x-twitter: ebay
  description: "The Browse API has the following resources: item_summary: Lets shoppers search for specific items by keyword, GTIN, category, charity, product, or item aspects and refine the results by using filters, such as aspects, compatibility, and fields values. &nbsp;(Experimental) search_by_image: Lets shoppers search for specific items by image. You can refine the results by using URI parameters and filters. item: Lets you retrieve the details of a specific item or all the items in an item group, which is an item with variations such as color and size and check if a product is compatible with the specified item, such as if a specific car is compatible with a specific part. Provides a bridge between the eBay legacy APIs, such as Finding, and the RESTful APIs, which use different formats for the item IDs. &nbsp;(Experimental) shopping_cart: Provides the ability for eBay members to see the contents of their eBay cart, and add, remove, and change the quantity of items in their eBay cart.&nbsp;&nbsp; Note: This resource is not available in the eBay API Explorer. The item_summary, search_by_image, and item resource calls require an Application access token. The shopping_cart resource calls require a User access token."
  license:
    name: eBay API License Agreement
    url: https://go.developer.ebay.com/api-license-agreement
  title: Browse API
  version: v1.1.0
  x-apisguru-categories:
    - ecommerce
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_ebay_profile_image.jpeg
  x-origin:
    - format: swagger
      url: https://developer.ebay.com/api-docs/master/buy/browse/openapi/2/buy_browse_v1_beta_oas2.json
      version: "2.0"
  x-providerName: ebay.com
  x-serviceName: buy-browse
securityDefinitions:
  Authorization Code:
    authorizationUrl: https://auth.ebay.com/oauth2/authorize
    description: The security definitions for this API. Please check individual operations for applicable scopes.
    flow: accessCode
    scopes:
      https://api.ebay.com/oauth/api_scope/buy.shopping.cart: " This scope would allow signed in user to access shopping carts"
    tokenUrl: https://api.ebay.com/identity/v1/oauth2/token
    type: oauth2
  Client Credentials:
    description: The security definitions for this API. Please check individual operations for applicable scopes.
    flow: application
    scopes:
      https://api.ebay.com/oauth/api_scope: View public data from eBay
      https://api.ebay.com/oauth/api_scope/buy.item.bulk: Retrieve eBay items in bulk.
      https://api.ebay.com/oauth/scope/base@application: " This scope would allow applications to access any API associated with a base intent. Tokens with this scope should be restricted to use from server environments."
    tokenUrl: https://api.ebay.com/identity/v1/oauth2/token
    type: oauth2
paths:
  /item/:
    get:
      consumes:
        - application/json
      description: "This method retrieves the details of specific items that the buyer needs to make a purchasing decision. Note: This is a (Limited Release) available only to select Partners. For this method, only the following fields are returned: eligibleForInlineCheckout, estimatedAvailabilities, itemAffiliateWebURL, itemID, ItemWebURL, legacyItemID, price, sellerItemRevision, and topRatedBuyingExperience. URLs for this method Production URL: https://api.ebay.com/buy/browse/v1/item/ Sandbox URL: https://api.sandbox.ebay.com/buy/browse/v1/item/ Request headers This method uses the X-EBAY-C-ENDUSERCTX request header to support revenue sharing for eBay Partner Networks and to improve the accuracy of shipping and delivery time estimations. For details see, Request headers in the Buying Integration Guide. Restrictions For a list of supported sites and other restrictions, see API Restrictions. eBay Partner Network: In order to be commissioned for your sales, you must use the URL returned in the itemAffiliateWebUrl field to forward your buyer to the ebay.com site."
      operationId: getItems
      parameters:
        - description: "A list of item IDs. Item IDs are the eBay RESTful identifier of items. RESTful Item ID Format: v1|#|# For example: v1|272394640372|0 or v1|162846450672|461882996982 In any given request, either item_ids or item_group_ids can be retrieved. Attempting to retrieve both will result in an error. In a request, multiple item_ids can be passed as comma separated values. Maximum allowed itemIDs: 20 For more information about item IDs for RESTful APIs, see the Legacy API compatibility section of the Buy APIs Overview."
          in: query
          name: item_ids
          required: false
          type: string
        - description: "A list of item group IDs. Item group IDs are the eBay RESTful identifier of item groups. RESTful Group Item ID Format: ############ For example: 330017835749 or 330017835740 In any given request, either item_ids or item_group_ids can be retrieved. Attempting to retrieve both will result in an error. In a request, multiple item_group_ids can be passed as comma separated values. Maximum allowed itemGroupIDs: 10"
          in: query
          name: item_group_ids
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Items"
          x-response-codes:
            errors:
              "11001":
                category: REQUEST
                description: The specified item ID was not found.
                domain: API_BROWSE
              "11002":
                category: REQUEST
                description: The specified item group was not found.
                domain: API_BROWSE
              "11004":
                category: REQUEST
                description: The item group is not available. This can be for many reasons, such as when the listing is being updated by the seller. Wait a few minutes and try the call again.
                domain: API_BROWSE
              "11005":
                category: REQUEST
                description: The item group ID is invalid. Use {itemHref} to get the item details.
                domain: API_BROWSE
              "11008":
                category: REQUEST
                description: The item group is not available. This can be for many reasons, such as when the listing is being updated by the seller. Wait a few minutes and try the call again.
                domain: API_BROWSE
              "11502":
                category: APPLICATION
                description: There was a problem extracting product information for this item. Please try again.
                domain: API_BROWSE
              "11508":
                category: APPLICATION
                description: This seller is currently away. If you make a purchase, please allow additional time for your order to be processed.
                domain: API_BROWSE
              "11509":
                category: APPLICATION
                description: This seller is currently away until {sellerReturnDate}. If you make a purchase, please allow additional time for your order to be processed.
                domain: API_BROWSE
        "400":
          description: Bad Request
          x-response-codes:
            errors:
              "11011":
                category: REQUEST
                description: "The marketplace value is not supported. The supported values are: {allowedMarketplaces}"
                domain: API_BROWSE
              "11012":
                category: REQUEST
                description: The specified item IDs are invalid, or the format of the specified values are invalid.
                domain: API_BROWSE
              "11013":
                category: REQUEST
                description: The specified group IDs are invalid, or the format of the specified values are invalid.
                domain: API_BROWSE
              "11014":
                category: REQUEST
                description: An item_ids and an item_group_ids list cannot be used at same time. Please use only one of these lists.
                domain: API_BROWSE
              "11015":
                category: REQUEST
                description: The maximum number of item IDs has been exceeded. Please reduce the number of item IDs to {maxAllowedItemIds} or less.
                domain: API_BROWSE
              "11016":
                category: REQUEST
                description: The maximum number of item group IDs has been exceeded. Please reduce the number of item group ids to {maxAllowedItemGroupIds} or less.
                domain: API_BROWSE
              "11017":
                category: REQUEST
                description: An item_ids or an item_group_ids list is required. Please use one of these lists.
                domain: API_BROWSE
        "404":
          description: Not Found
        "409":
          description: Conflict
        "500":
          description: Internal Server Error
          x-response-codes:
            errors:
              "11000":
                category: APPLICATION
                description: There was a problem with an eBay internal system or process. Contact eBay developer support for assistance.
                domain: API_BROWSE
      security:
        - Client Credentials:
            - https://api.ebay.com/oauth/api_scope/buy.item.bulk
      tags:
        - item
  /item/get_item_by_legacy_id:
    get:
      description: "This method is a bridge between the eBay legacy APIs, such as Shopping, and Finding and the eBay Buy APIs. There are differences between how legacy APIs and RESTful APIs return the identifier of an &quot;item&quot; and what the item ID represents. This method lets you use the legacy item ids retrieve the details of a specific item, such as description, price, and other information the buyer needs to make a purchasing decision. It also returns the RESTful item ID, which you can use with all the Buy API methods. For more information about how to use legacy ids with the Buy APIs, see Legacy API compatibility in the Buying Integration guide. This method returns the item details and requires you to pass in either the item ID of a non-variation item or the item ids of both the parent and child of an item group. An item group is an item that has various aspect differences, such as color, size, storage capacity, etc. When an item group is created, one of the item variations, such as the red shirt size L, is chosen as the &quot;parent&quot;. All the other items in the group are the children, such as the blue shirt size L, red shirt size M, etc. The fieldgroups URI parameter lets you control what is returned in the response. Setting fieldgroups to PRODUCT, adds additional fields to the default response that return information about the product of the item. For more information, see fieldgroups. URLs for this method Production URL: https://api.ebay.com/buy/browse/v1/item/get_item_by_legacy_id/ Sandbox URL: https://api.sandbox.ebay.com/buy/browse/v1/item/get_item_by_legacy_id/ Request headers This method uses the X-EBAY-C-ENDUSERCTX request header to support revenue sharing for eBay Partner Networks and to improve the accuracy of shipping and delivery time estimations. For details see, Request headers in the Buying Integration Guide. Restrictions For a list of supported sites and other restrictions, see API Restrictions. eBay Partner Network: In order to be commissioned for your sales, you must use the URL returned in the itemAffiliateWebUrl field to forward your buyer to the ebay.com site."
      operationId: getItemByLegacyId
      parameters:
        - description: "This field lets you control what is returned in the response. If you do not set this field, the method returns all the details of the item. Note: In this method, the only value supported is PRODUCT. Valid Values: PRODUCT - This adds the additionalImages, additionalProductIdentities, aspectGroups, description, gtins, image, and title fields to the response, which describe the item's product. See Product for more information about these fields. Code so that your app gracefully handles any future changes to this list."
          in: query
          name: fieldgroups
          required: false
          type: string
        - description: "Specifies either: The legacy item ID of an item that is not part of a group. The legacy item ID of a group, which is the ID of the &quot;parent&quot; of the group of items. Note: If you pass in a group ID, you must also use the legacy_variation_id field and pass in the legacy ID of the specific item variation (child ID). Legacy ids are returned by APIs, such as the Finding API. The following is an example of using the value of the ItemID field for a specific item from Finding to get the RESTful itemId value. &nbsp;&nbsp;&nbsp; browse/v1/item/get_item_by_legacy_id?legacy_item_id=110039490209 Maximum: 1"
          in: query
          name: legacy_item_id
          required: true
          type: string
        - description: "Specifies the legacy item ID of a specific item in an item group, such as the red shirt size L. Legacy ids are returned by APIs, such as the Finding API. Maximum: 1 Requirement: You must always pass in the legacy_item_id with the legacy_variation_id"
          in: query
          name: legacy_variation_id
          required: false
          type: string
        - description: "Specifics the legacy SKU of the item. SKU are item ids created by the seller. Legacy SKUs are returned by eBay the Shopping API. The following is an example of using the value of the ItemID and SKU fields to get the RESTful itemId value. &nbsp;&nbsp;&nbsp; browse/v1/item/get_item_by_legacy_id?legacy_item_id=110039490209&amp;legacy_variation_sku=V-00031-WHM Maximum: 1 Requirement: You must always pass in the legacy_item_id with the legacy_variation_sku"
          in: query
          name: legacy_variation_sku
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Item"
          x-response-codes:
            errors:
              "11502":
                category: APPLICATION
                description: There was a problem extracting product information for this Item. Please try again.
                domain: API_BROWSE
              "11508":
                category: APPLICATION
                description: This seller is currently away. If you make a purchase, please allow additional time for your order to be processed.
                domain: API_BROWSE
              "11509":
                category: APPLICATION
                description: This seller is currently away until {sellerReturnDate}. If you make a purchase, please allow additional time for your order to be processed.
                domain: API_BROWSE
        "400":
          description: Bad Request
          x-response-codes:
            errors:
              "11003":
                category: REQUEST
                description: The specified legacy item ID was not found.
                domain: API_BROWSE
              "11004":
                category: REQUEST
                description: The item is not available for purchase. This can be for many reasons, such as when the listing is being updated by the seller. Wait a few minutes and try the call again.
                domain: API_BROWSE
              "11006":
                category: REQUEST
                description: The legacy ID is invalid. Use {itemGroupHref} to get the item group details.
                domain: API_BROWSE
              "11009":
                category: REQUEST
                description: The legacy variation sku is invalid.
                domain: API_BROWSE
              "11010":
                category: REQUEST
                description: You cannot submit legacy_variation_sku and legacy_variation_id in the same request. For help, see the documentation.
                domain: API_BROWSE
              "11011":
                category: REQUEST
                description: "The marketplace value {marketplaceId} is not supported. The supported values are: {allowedMarketplaces}"
                domain: API_BROWSE
        "404":
          description: Not Found
        "409":
          description: Conflict
        "500":
          description: Internal Server Error
          x-response-codes:
            errors:
              "11000":
                category: APPLICATION
                description: There was a problem with an eBay internal system or process. Contact eBay developer support for assistance.
                domain: API_BROWSE
      security:
        - Client Credentials:
            - https://api.ebay.com/oauth/api_scope
      tags:
        - item
  /item/get_items_by_item_group:
    get:
      consumes:
        - application/json
      description: "This method retrieves the details of the individual items in an item group. An item group is an item that has various aspect differences, such as color, size, storage capacity, etc. You pass in the item group ID as a URI parameter. You use this method to show the item details of items with multiple aspects, such as color, size, storage capacity, etc. This method returns two main containers; items and commonDescriptions. The items container has an array of containers with the details of each item in the group. The commonDescriptions container has an array of containers for a description and the item ids of all the items that have this exact description. Because items within an item group often have the same description, this decreases the size of the response. URLs for this method Production URL: https://api.ebay.com/buy/browse/v1/item/get_items_by_item_group/ Sandbox URL: https://api.sandbox.ebay.com/buy/browse/v1/item/get_items_by_item_group/ Request headers This method uses the X-EBAY-C-ENDUSERCTX request header to support revenue sharing for eBay Partner Networks and to improve the accuracy of shipping and delivery time estimations. For details see, Request headers in the Buying Integration Guide. Restrictions For a list of supported sites and other restrictions, see API Restrictions. eBay Partner Network: In order to be commissioned for your sales, you must use the URL returned in the itemAffiliateWebUrl field to forward your buyer to the ebay.com site."
      operationId: getItemsByItemGroup
      parameters:
        - description: "Identifier of the item group to return. An item group is an item that has various aspect differences, such as color, size, storage capacity, etc. This ID is returned in the itemGroupHref field of the search and getItem methods. For Example: https://api.ebay.com/buy/browse/v1/item/get_items_by_item_group?item_group_id=351825690866"
          in: query
          name: item_group_id
          required: true
          type: string
      produces:
        - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ItemGroup"
          x-response-codes:
            errors:
              "11508":
                category: APPLICATION
                description: This seller is currently away. If you make a purchase, please allow additional time for your order to be processed.
                domain: API_BROWSE
              "11509":
                category: APPLICATION
                description: This seller is currently away until {sellerReturnDate}. If you make a purchase, please allow additional time for your order to be processed.
                domain: API_BROWSE
        "400":
          description: Bad Request
          x-response-codes:
            errors:
              "11002":
                category: REQUEST
                description: The specified item group was not found.
                domain: API_BROWSE
              "11005":
                category: REQUEST
                description: Item Group Id is invalid. Use {itemHref} to get the item details.
                domain: API_BROWSE
              "11008":
                category: REQUEST
                description: The item group is not available. This can be for many reasons, such as when the listing is being updated by the seller. Wait a few minutes and try the call again.
                domain: API_BROWSE
              "11011":
                category: REQUEST
                description: "The marketplace value {marketplaceId} is not supported. The supported values are: {allowedMarketplaces}"
                domain: API_BROWSE
        "404":
          description: Not Found
        "409":
          description: Conflict
        "500":
          description: Internal Server Error
          x-response-codes:
            errors:
              "11000":
                category: APPLICATION
                description: There was a problem with an eBay internal system or process. Contact eBay developer support for assistance.
                domain: API_BROWSE
      tags:
        - item
  "/item/{item_id}":
    get:
      description: "This method retrieves the details of a specific item, such as description, price, category, all item aspects, condition, return policies, seller feedback and score, shipping options, shipping costs, estimated delivery, and other information the buyer needs to make a purchasing decision. The Buy APIs are designed to let you create an eBay shopping experience in your app or website. This means you will need to know when something, such as the availability, quantity, etc., has changed in any eBay item you are offering. You can do this easily by setting the fieldgroups URI parameter. This parameter lets you control what is returned in the response. Setting fieldgroups to COMPACT reduces the response to only the five fields that you need in order to check if any item detail has changed. Setting fieldgroups to PRODUCT, adds additional fields to the default response that return information about the product of the item. You can use either COMPACT or PRODUCT but not both. For more information, see fieldgroups. URLs for this method Production URL: https://api.ebay.com/buy/browse/v1/item/ Sandbox URL: https://api.sandbox.ebay.com/buy/browse/v1/item/ Request headers This method uses the X-EBAY-C-ENDUSERCTX request header to support revenue sharing for eBay Partner Networks and to improve the accuracy of shipping and delivery time estimations. For details see, Request headers in the Buying Integration Guide. Restrictions For a list of supported sites and other restrictions, see API Restrictions. eBay Partner Network: In order to be commissioned for your sales, you must use the URL returned in the itemAffiliateWebUrl field to forward your buyer to the ebay.com site."
      operationId: getItem
      parameters:
        - description: "This parameter lets you control what is returned in the response. If you do not set this field, the method returns all the details of the item. Valid Values: PRODUCT - This adds the additionalImages, additionalProductIdentities, aspectGroups, description, gtins, image, and title product fields to the response, which describe the product associated with the item. See Product for more information about these fields. COMPACT - This returns only the following fields, which let you quickly check if the availability or price of the item has changed, if the item has been revised by the seller, or if an item's top-rated plus status has changed for items you have stored. itemId - The identifier of the item. itemAffiliateWebURL - The URL of the View Item page of the item, which includes the affiliate tracking ID. This field is only returned if the eBay partner enables affiliate tracking for the item by including the X-EBAY-C-ENDUSERCTX request header in the method. ItemWebURL - The URL of the View Item page of the item. This enables you to include a &quot;Report Item on eBay&quot; link that takes the buyer to the View Item page on eBay. From there they can report any issues regarding this item to eBay. legacyItemId - The unique identifier of the eBay listing that contains the item. This is the traditional/legacy ID that is often seen in the URL of the listing View Item page. sellerItemRevision - An identifier generated/incremented when a seller revises the item. The follow are the two types of item revisions: Seller changes, such as changing the title eBay system changes, such as changing the quantity when an item is purchased. This ID is changed only when the seller makes a change to the item. This means you cannot use this value to determine if the quantity has changed. To check if the quantity has changed, use estimatedAvailabilities. topRatedBuyingExperience - A boolean value indicating if this item is a top-rated plus item. A change in the item's top rated plus standing is not tracked by the revision ID. See topRatedBuyingExperience for more information. price - This is tracked by the revision ID but is returned here to enable you to quickly verify the price of the item. estimatedAvailabilities - Returns the item availability information, which is based on the item's quantity. Note: Changes in quantity are not tracked by sellerItemRevision. itemEndDate - This is the scheduled end time of the listing. eligibleForInlineCheckout - This parameter returns items based on whether or not the items can be purchased using the Buy Order API. If the value of this field is true, this indicates that the item can be purchased using the Order API. If the value of this field is false, this indicates that the item cannot be purchased using the Order API and must be purchased on the eBay site. For Example To check if a stored item's information is current, do following. Pass in the item ID and set fieldgroups to COMPACT. item/v1|46566502948|0?fieldgroups=COMPACT Do one of the following: If the sellerItemRevision field is returned and you haven't stored a revision number for this item, record the number and pass in the item ID in the getItem method to get the latest information. If the revision number is different from the value you have stored, update the value and pass in the item ID in the getItem method to get the latest information. If the sellerItemRevision field is not returned or has not changed, where needed, update the item information with the information returned in the response. Maximum value: 1 If more than one values is specified, the first value will be used."
          in: query
          name: fieldgroups
          required: false
          type: string
        - description: "The eBay RESTful identifier of an item. This ID is returned by the Browse and Feed API methods. RESTful Item ID Format: v1|#|# For example: v1|272394640372|0 or v1|162846450672|461882996982 For more information about item ID for RESTful APIs, see the Legacy API compatibility section of the Buy APIs Overview."
          in: path
          name: item_id
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Item"
          x-response-codes:
            errors:
              "11001":
                category: REQUEST
                description: The specified item ID was not found.
                domain: API_BROWSE
              "11002":
                category: REQUEST
                description: The specified item group was not found.
                domain: API_BROWSE
              "11004":
                category: REQUEST
                description: The item is not available for purchase. This can be for many reasons, such as when the listing is being updated by the seller. Wait a few minutes and try the call again.
                domain: API_BROWSE
              "11005":
                category: REQUEST
                description: The item group ID is invalid. Use {itemHref} to get the item details.
                domain: API_BROWSE
              "11008":
                category: REQUEST
                description: The item group is not available. This can be for many reasons, such as when the listing is being updated by the seller. Wait a few minutes and try the call again.
                domain: API_BROWSE
              "11502":
                category: APPLICATION
                description: There was a problem extracting product information for this Item. Please try again.
                domain: API_BROWSE
              "11508":
                category: APPLICATION
                description: This seller is currently away. If you make a purchase, please allow additional time for your order to be processed.
                domain: API_BROWSE
              "11509":
                category: APPLICATION
                description: This seller is currently away until {sellerReturnDate}. If you make a purchase, please allow additional time for your order to be processed.
                domain: API_BROWSE
        "400":
          description: Bad Request
          x-response-codes:
            errors:
              "11011":
                category: REQUEST
                description: "The marketplace value {marketplaceId} is not supported. The supported values are: {allowedMarketplaces}"
                domain: API_BROWSE
              "11012":
                category: REQUEST
                description: The specified item IDs are invalid, or the format of the specified values are invalid.
                domain: API_BROWSE
              "11013":
                category: REQUEST
                description: The specified group IDs are invalid, or the format of the specified values are invalid.
                domain: API_BROWSE
              "11014":
                category: REQUEST
                description: An item_ids and an item_group_ids list cannot be used at same time. Please use only one of these lists.
                domain: API_BROWSE
              "11015":
                category: REQUEST
                description: The maximum number of item ids has been exceeded. Please reduce the number of item ids to {maxAllowedItemIds} or less.
                domain: API_BROWSE
              "11016":
                category: REQUEST
                description: The maximum number of item group IDs has been exceeded. Please reduce the number of item group ids to {maxAllowedItemGroupIds} or less.
                domain: API_BROWSE
              "11501":
                category: REQUEST
                description: "The 'fieldgroups' value {fieldgroups} is invalid. The supported fieldgroups are: {supportedFieldgroups}"
                domain: API_BROWSE
        "404":
          description: Not Found
        "409":
          description: Conflict
        "500":
          description: Internal Server Error
          x-response-codes:
            errors:
              "11000":
                category: APPLICATION
                description: There was a problem with an eBay internal system or process. Contact eBay developer support for assistance.
                domain: API_BROWSE
      security:
        - Client Credentials:
            - https://api.ebay.com/oauth/api_scope
      tags:
        - item
  "/item/{item_id}/check_compatibility":
    post:
      description: "This method checks if a product is compatible with the specified item. You can use this method to check the compatibility of cars, trucks, and motorcycles with a specific part listed on eBay. For example, to check the compatibility of a part, you pass in the item ID of the part as a URI parameter and specify all the attributes used to define a specific car in the compatibilityProperties container. If the call is successful, the response will be COMPATIBLE, NOT_COMPATIBLE, or UNDETERMINED. See compatibilityStatus for details. Note: The only products supported are cars, trucks, and motorcycles. To find the attributes and values for a specific marketplace, you can use the compatibility methods in the Taxonomy API. You can use this data to create menus to help buyers specify the product, such as their car. For more details and a list of the required attributes for the US marketplace that describe motor vehicles, see Check compatibility in the Buy Integration Guide. For an example, see the Samples section. URLs for this method Production URL: https://api.ebay.com/buy/browse/v1/item/ Note: This method is supported only on Production. Restrictions For a list of supported sites and other restrictions, see API Restrictions."
      operationId: checkCompatibility
      parameters:
        - description: "The eBay RESTful identifier of an item (such as a part you want to check). This ID is returned by the Browse and Feed API methods. RESTful Item ID Format: v1|#|# For example: v1|272394640372|0 or v1|162846450672|461882996982 For more information about item ID for RESTful APIs, see the Legacy API compatibility section of the Buy APIs Overview."
          in: path
          name: item_id
          required: true
          type: string
        - description: "The ID of the eBay marketplace you want to use. Note: This value is case sensitive. For example: &nbsp;&nbsp;X-EBAY-C-MARKETPLACE-ID = EBAY_US For a list of supported sites see, API Restrictions."
          in: header
          name: X-EBAY-C-MARKETPLACE-ID
          required: true
          type: string
        - in: body
          name: body
          required: false
          schema:
            $ref: "#/definitions/CompatibilityPayload"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CompatibilityResponse"
          x-response-codes:
            errors:
              "11504":
                category: REQUEST
                description: "The following compatibilityProperties (attributes name/value pairs) are missing: {attributes}"
                domain: API_BROWSE
        "400":
          description: Bad Request
          x-response-codes:
            errors:
              "11001":
                category: REQUEST
                description: The specified item ID was not found.
                domain: API_BROWSE
              "11011":
                category: REQUEST
                description: "The marketplace value {marketplaceId} is not supported. The supported values are: {allowedMarketplaces}"
                domain: API_BROWSE
              "11503":
                category: REQUEST
                description: The request is either empty or incomplete. For help, see the documentation for this call.
                domain: API_BROWSE
              "11505":
                category: REQUEST
                description: The item is not valid for compatibility validation.
                domain: API_BROWSE
              "11506":
                category: REQUEST
                description: The 'name' {compatibilityNames} appears more than once in the request.
                domain: API_BROWSE
              "11507":
                category: REQUEST
                description: The following name(s) in the request are not supported {attributes}.
                domain: API_BROWSE
        "404":
          description: Not Found
        "409":
          description: Conflict
        "500":
          description: Internal Server Error
          x-response-codes:
            errors:
              "11000":
                category: APPLICATION
                description: There was a problem with an eBay internal system or process. Contact eBay developer support for assistance.
                domain: API_BROWSE
      security:
        - Client Credentials:
            - https://api.ebay.com/oauth/api_scope
      tags:
        - item
  /item_summary/search:
    get:
      description: "This method searches for eBay items by various query parameters and retrieves summaries of the items. You can search by keyword, category, eBay product ID (ePID), or GTIN, charity ID, or a combination of these. Note: Only FIXED_PRICE (Buy It Now) items are returned by default. However, this method does return items where both FIXED_PRICE and AUCTION are available as a buying option. After a bid has been placed, items become active auction items and are no longer returned by default, but they remain accessible by filtering for the AUCTION buying option. This method also supports the following: Filtering by the value of one or multiple fields, such as listing format, item condition, price range, location, and more. For the fields supported by this method, see the filter parameter. Retrieving the refinements (metadata) of an item , such as item aspects (color, brand), condition, category, etc. using the fieldgroups parameter. Filtering by item aspects and other refinements using the aspect_filter parameter. Filtering for items that are compatible with a specific product, using the compatibility_filter parameter. Creating aspects histograms, which enables shoppers to drill down in each refinement narrowing the search results. For details and examples of these capabilities, see Browse API in the Buying Integration Guide. Pagination and sort controls There are pagination controls (limit and offset fields) and sort query parameters that control/sort the data that is returned. By default, the results are sorted by &quot;Best Match&quot;. For more information about Best Match, see the eBay help page Best Match. URLs for this method Production URL: https://api.ebay.com/buy/browse/v1/item_summary/ Sandbox URL: https://api.sandbox.ebay.com/buy/browse/v1/item_summary/ Request headers This method uses the X-EBAY-C-ENDUSERCTX request header to support revenue sharing for eBay Partner Networks and to improve the accuracy of shipping and delivery time estimations. For details see, Request headers in the Buying Integration Guide. Restrictions This method can return a maximum of 10,000 items. For a list of supported sites and other restrictions, see API Restrictions. eBay Partner Network: In order to receive a commission for your sales, you must use the URL returned in the itemAffiliateWebUrl field to forward your buyer to the ebay.com site."
      operationId: search
      parameters:
        - description: "This field lets you filter by item aspects. The aspect name/value pairs and category, which is required, is used to limit the results to specific aspects of the item. For example, in a clothing category one aspect pair would be Color/Red. For example, the method below uses the category ID for Women's Clothing. This will return only items for a woman's red shirt. /buy/browse/v1/item_summary/search?q=shirt&amp;category_ids=15724&amp;aspect_filter=categoryId:15724,Color:{Red} To get a list of the aspects pairs and the category, which is returned in the dominantCategoryId field, set fieldgroups to ASPECT_REFINEMENTS. /buy/browse/v1/item_summary/search?q=shirt&amp;fieldgroups=ASPECT_REFINEMENTS Required: The category ID is required twice; once as a URI parameter and as part of the aspect_filter. For implementation help, refer to eBay API documentation at https://developer.ebay.com/api-docs/buy/browse/types/gct:AspectFilter"
          in: query
          name: aspect_filter
          required: false
          type: string
        - description: "A query parameter that enables auto correction. Valid Values: KEYWORD"
          in: query
          name: auto_correct
          required: false
          type: string
        - description: "The category ID is used to limit the results. This field can have one category ID or a comma separated list of IDs. For example: /buy/browse/v1/item_summary/search?category_ids=29792 Note: Currently, you can pass in only one category ID per request. You can also use any combination of the category_Ids, epid, and q fields. This gives you additional control over the result set. For example, let's say you are looking of a toy phone. If you search for &quot;phone&quot;, the result set will be mobile phones because this is the &quot;Best Match&quot; for this search. But if you also include the toy category ID, the results will be what you wanted. For example: /buy/browse/v1/item_summary/search?q=phone&amp;category_ids=220 The list of eBay category IDs is not published and category IDs are not the same across all the eBay marketplaces. You can use the following techniques to find a category by site: Use the Category Changes page. Use the Taxonomy API. For details see Get Categories for Buy APIs. Submit the following method to get the dominantCategoryId for an item. /buy/browse/v1/item_summary/search?q= keyword&amp;fieldgroups=ASPECT_REFINEMENTS Note: If a top-level (L1) category is specified, you must also include the q query parameter. Required: The method must have category_ids, epid, gtin, or q (or any combination of these)"
          in: query
          name: category_ids
          required: false
          type: string
        - description: "The charity ID is used to limit the results to only items associated with the specified charity. This field can have one charity ID or a comma separated list of IDs. The method will return all the items associated with the specified charities. For example: /buy/browse/v1/item_summary/search?charity_ids=13-1788491,300108469 The charity ID is the charity's registration ID, also known as the Employer Identification Number (EIN). In GB, it is the Charity Registration Number (CRN), commonly called &quot;Charity Number&quot;. To find the charities eBay supports, you can search for a charity at Charity Search or go to Charity Shop. To find the charity ID of a specific charity, click on a charity and use the EIN number. For example, the charity ID for American Red Cross, is 530196605. You can also use any combination of the category_Ids and q fields with a charity_Ids to filter the result set. This gives you additional control over the result set. Restriction: This is supported only on the US and GB marketplaces. Maximum: 20 IDs Required: One ID"
          in: query
          name: charity_ids
          required: false
          type: string
        - description: "This field specifies the attributes used to define a specific product. The service searches for items matching the keyword or matching the keyword and a product attribute value in the title of the item. For example, if the keyword is brakes and compatibility-filter=Year:2018;Make:Honda, the items returned are items with brakes, 2018, or Honda in the title. The service uses the product attributes to determine if the item is compatible. The service returns the attributes that are compatible and the CompatibilityMatchEnum value that indicates how well the item matches the attributes. For the best compatibility results, submit all the attributes used to define the product. Best Practice: Submit all the product attributes for the specific product. For more details, see Check compatibility in the Buy Integration Guide. Note: The only products supported are cars, trucks, and motorcycles. For an example, see the Samples section. Note: Testing in Sandbox is only supported using mock data. See Testing search in the Sandbox for details. Required: q (keyword) one fitment supported category ID (such as 33559 Brakes) a least one product attribute name/value pair For implementation help, refer to eBay API documentation at https://developer.ebay.com/api-docs/buy/browse/types/gct:CompatibilityFilter"
          in: query
          name: compatibility_filter
          required: false
          type: string
        - description: "The ePID is the eBay product identifier of a product from the eBay product catalog. This field limits the results to only items in the specified ePID. The Marketing API getMerchandisedProducts method and the Browse API getItem, getItemByLegacyId, and getItemsByItemGroup calls return the ePID of the product. You can also use the product_summary/search method in the Catalog API to search for the ePID of the product. For example: /buy/browse/v1/item_summary/search?epid=15032 Maximum: 1 Required: The method must have category_ids, epid, gtin, or q (or any combination of these)"
          in: query
          name: epid
          required: false
          type: string
        - description: "This field is a comma separated list of values that lets you control what is returned in the response. The default is MATCHING_ITEMS, which returns the items that match the keyword or category specified. The other values return data that can be used to create histograms or provide additional information. Valid Values: ASPECT_REFINEMENTS - This returns the aspectDistributions container, which has the dominantCategoryId, matchCount, and refinementHref for the various aspects of the items found. For example, if you searched for 'Mustang', some of the aspect would be Model Year, Exterior Color, Vehicle Mileage, etc. Note: ASPECT_REFINEMENTS are category specific. BUYING_OPTION_REFINEMENTS - This returns the buyingOptionDistributions container, which has the matchCount and refinementHref for AUCTION and FIXED_PRICE (Buy It Now) items. Note: Classified items are not supported and only &quot;Buy It Now&quot; (non-auction) items are returned. CATEGORY_REFINEMENTS - This returns the categoryDistributions container, which has the categories that the item is in. CONDITION_REFINEMENTS - This returns the conditionDistributions container, such as NEW, USED, etc. Within these groups are multiple states of the condition. For example, New can be New without tag, New in box, New without box, etc. EXTENDED - This returns the shortDescription field, which provides condition and item aspect information and the itemLocation.city field. MATCHING_ITEMS - This is meant to be used with one or more of the refinement values above. You use this to return the specified refinements and all the matching items. FULL - This returns all the refinement containers and all the matching items. Code so that your app gracefully handles any future changes to this list. Default: MATCHING_ITEMS"
          in: query
          name: fieldgroups
          required: false
          type: string
        - description: "This field supports multiple field filters that can be used to limit/customize the result set. For example: /buy/browse/v1/item_summary/search?q=shirt&amp;filter=price:[10..50] You can also combine filters. /buy/browse/v1/item_summary/search?q=shirt&amp;filter=price:[10..50],sellers:{rpseller|bigSal} The following are the supported filters. For details and examples for all the filters, see Buy API Field Filters. buyingOptions charityOnly conditionIds conditions deliveryCountry deliveryOptions deliveryPostalCode excludeCategoryIds excludeSellers guaranteedDeliveryInDays itemEndDate itemLocationCountry itemStartDate paymentMethods pickupCountry pickupPostalCode pickupRadius pickupRadiusUnit price priceCurrency qualifiedPrograms maxDeliveryCost (free shipping) returnsAccepted sellerAccountTypes sellers For implementation help, refer to eBay API documentation at https://developer.ebay.com/api-docs/buy/browse/types/cos:FilterField"
          in: query
          name: filter
          required: false
          type: string
        - description: "This field lets you search by the Global Trade Item Number of the item as defined by https://www.gtin.info. You can search only by UPC (Universal Product Code). If you have other formats of GTIN, you need to search by keyword. For example: /buy/browse/v1/item_summary/search?gtin=099482432621 Maximum: 1 Required: The method must have category_ids, epid, gtin, or q (or any combination of these)"
          in: query
          name: gtin
          required: false
          type: string
        - description: "The number of items, from the result set, returned in a single page. Default: 50 Maximum number of items per page (limit): 200 Maximum number of items in a result set: 10,000"
          in: query
          name: limit
          required: false
          type: string
        - description: "Specifies the number of items to skip in the result set. This is used with the limit field to control the pagination of the output. If offset is 0 and limit is 10, the method will retrieve items 1-10 from the list of items returned, if offset is 10 and limit is 10, the method will retrieve items 11 thru 20 from the list of items returned. Valid Values: 0-10,000 (inclusive) Default: 0 Maximum number of items returned: 10,000"
          in: query
          name: offset
          required: false
          type: string
        - description: "A string consisting of one or more keywords that are used to search for items on eBay. The keywords are handled as follows: If the keywords are separated by a comma, it is treated as an AND. In the following example, the query returns items that have iphone AND ipad. /buy/browse/v1/item_summary/search?q=iphone,ipad If the keywords are separated by a space, it is treated as an OR. In the following examples, the query returns items that have iphone OR ipad. /buy/browse/v1/item_summary/search?q=iphone&nbsp;ipad /buy/browse/v1/item_summary/search?q=iphone,&nbsp;ipad Restriction: The * wildcard character is not allowed in this field. Required: The method must have category_ids, epid, gtin, or q (or any combination of these)"
          in: query
          name: q
          required: false
          type: string
        - description: "Specifies the order and the field name to use to sort the items. You can sort items by price (in ascending or descending order) or by distance (only applicable if the &quot;pickup&quot; filters are used, and only ascending order is supported). You can also sort items by listing date, with the most recently listed (newest) items appearing first. Note: To sort in descending order, insert a hyphen (-) before the field name. If no sort parameter is submitted, the result set is sorted by &quot;Best Match&quot;. The following are examples of using the sort query parameter. Sort Result sort=price Sorts by price in ascending order (lowest price first) sort=-price Sorts by price in descending order (highest price first) sort=distance Sorts by distance in ascending order (shortest distance first) sort=newlyListed Sorts by listing date (most recently listed/newest items first) Default: Ascending For implementation help, refer to eBay API documentation at https://developer.ebay.com/api-docs/buy/browse/types/cos:SortField"
          in: query
          name: sort
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SearchPagedCollection"
          x-response-codes:
            errors:
              "12002":
                category: REQUEST
                description: The {filterName} value is invalid. For the valid values, refer to the API call documentation.
                domain: API_BROWSE
              "12003":
                category: REQUEST
                description: A seller 'username' provided in the request filters is invalid.
                domain: API_BROWSE
              "12008":
                category: REQUEST
                description: The 'sort' value is invalid. For the valid values, refer to the API call documentation.
                domain: API_BROWSE
              "12009":
                category: REQUEST
                description: The 'category_ids' query parameter is invalid.
                domain: API_BROWSE
              "12010":
                category: REQUEST
                description: There are four filters required for local pickup. 'pickupPostalCode','pickupCountry','pickupRadiusUnit','pickupRadius'. One or more is missing or invalid.
                domain: API_BROWSE
              "12011":
                category: REQUEST
                description: "'deliveryCountry' is a mandatory filter to provide a delivery location. 'deliveryPostalCode' is optional."
                domain: API_BROWSE
              "12012":
                category: REQUEST
                description: A valid 'price' filter and a valid 'priceCurrency' filter is necessary to filter based on price.
                domain: API_BROWSE
              "12014":
                category: BUSINESS
                description: "The 'sellerAccountTypes' filter is not supported for the marketplace {marketplaceId}. Valid marketplaces are: {validMarketplaces}"
                domain: API_BROWSE
              "12015":
                category: REQUEST
                description: The postal code filter value is invalid for the specified country and this filter was ignored.
                domain: API_BROWSE
              "12016":
                category: REQUEST
                description: The 'fieldgroups' value {fieldgroups} is invalid. For the valid values, refer to the API call reference documentation
                domain: API_BROWSE
              "12017":
                category: REQUEST
                description: The 'aspect_filter' query parameter must include a categoryId. For information, see the API call reference documentation.
                domain: API_BROWSE
              "12018":
                category: REQUEST
                description: The {aspectFilter} aspect_filter value is invalid. For information, see the API call reference documentation.
                domain: API_BROWSE
              "12021":
                category: REQUEST
                description: The 'epid' value {epid} is invalid. For information, see the API call reference documentation.
                domain: API_BROWSE
              "12022":
                category: REQUEST
                description: The 'gtin' value {gtin} is invalid. For information, see the API call reference documentation.
                domain: API_BROWSE
              "12024":
                category: REQUEST
                description: The 'charity_ids' value {charity_id} is invalid. For more information see the API call reference documentation.
                domain: API_BROWSE
              "12502":
                category: REQUEST
                description: The {compatibilityFilter} compatibility_filter is invalid. For information, see the API call reference documentation.
                domain: API_BROWSE
              "12511":
                category: REQUEST
                description: Either 'deliveryCountry' or 'deliveryPostalCode' is invalid, hence 'guaranteedDeliveryInDays' filter was ignored.
                domain: API_BROWSE
        "400":
          description: Bad Request
          x-response-codes:
            errors:
              "12001":
                category: REQUEST
                description: The call must have a valid 'q', 'category_ids', 'epid' or 'gtin' query parameter.
                domain: API_BROWSE
              "12004":
                category: REQUEST
                description: The 'offset' value cannot be negative.
                domain: API_BROWSE
              "12005":
                category: REQUEST
                description: The 'offset' value must be an integer.
                domain: API_BROWSE
              "12006":
                category: REQUEST
                description: The 'limit' value should be between 1 and 200 (inclusive).
                domain: API_BROWSE
              "12007":
                category: REQUEST
                description: The 'limit' value must be an integer value.
                domain: API_BROWSE
              "12023":
                category: REQUEST
                description: This keyword search results in a response that is too large to return. Either change the keyword or add additional query parameters and/or filters.
                domain: API_BROWSE
              "12025":
                category: REQUEST
                description: The 'charity_ids' field has exceeded the maximum limit of 20.
                domain: API_BROWSE
              "12026":
                category: REQUEST
                description: "The 'charity_ids' field is not supported for the marketplace {marketplaceId}. Valid marketplaces are: {validMarketplaces}."
                domain: API_BROWSE
              "12027":
                category: REQUEST
                description: The 'auto_correct' value is invalid. For the valid values, refer to the API call documentation.
                domain: API_BROWSE
              "12028":
                category: REQUEST
                description: "The 'auto_correct' is not supported for the marketplace {marketplaceId}. Valid marketplaces are: {validMarketplaces}"
                domain: API_BROWSE
              "12029":
                category: REQUEST
                description: The number of sellers in the filter has exceeded the limit. Please reduce the number of sellers to 250 or fewer.
                domain: API_BROWSE
              "12030":
                category: REQUEST
                description: The number of categories in the request has exceeded the limit. Please reduce the number of categories to {allowedMaxCategories} or less.
                domain: API_BROWSE
              "12503":
                category: REQUEST
                description: There is no compatibility information found either because there is no compatibility results or the data provided in the compatibility_filter is invalid or insufficient.
                domain: API_BROWSE
              "12504":
                category: REQUEST
                description: You must provide a category ID that supports fitment.
                domain: API_BROWSE
              "12505":
                category: REQUEST
                description: "The following compatibility attributes in the request are not supported: {attributes}."
                domain: API_BROWSE
              "12506":
                category: REQUEST
                description: The category ID submitted does not support fitment.
                domain: API_BROWSE
              "12507":
                category: REQUEST
                description: To filter by 'guaranteedDeliveryInDays', you must include 'deliveryCountry'.
                domain: API_BROWSE
              "12508":
                category: REQUEST
                description: To filter by 'guaranteedDeliveryInDays', you must include 'deliveryPostalCode' for the 'deliveryCountry'.
                domain: API_BROWSE
              "12509":
                category: REQUEST
                description: The 'guaranteedDeliveryInDays' value {guaranteedDeliveryInDays} is invalid for 'deliveryCountry' value {deliveryCountry}.  Valid values for 'guaranteedDeliveryInDays' for {deliveryCountry} must be in the range of {rangeLowerBound} to {rangeUpperBound} inclusive.
                domain: API_BROWSE
              "12510":
                category: REQUEST
                description: "The 'guaranteedDeliveryInDays' filter is not supported for the marketplace {marketplaceId}. Valid marketplaces are: {validMarketplaces}"
                domain: API_BROWSE
              "12512":
                category: REQUEST
                description: "The 'qualifiedPrograms' filter is not supported for the marketplace {marketplaceId}. Valid marketplaces are: {validMarketplaces}"
                domain: API_BROWSE
        "409":
          description: Conflict
          x-response-codes:
            errors:
              "12013":
                category: BUSINESS
                description: Top level category browsing is not allowed. Please provide keywords or more filters for the applied top level category.
                domain: API_BROWSE
              "12019":
                category: BUSINESS
                description: "Currently, the {marketplaceId} marketplace is not supported. The supported Marketplaces are: {allowedMarketplaces} ."
                domain: API_BROWSE
              "12020":
                category: BUSINESS
                description: The 'fieldgroups' value {fieldgroups} is invalid when multiple 'category_ids' are specified. Either change the call to have only one value in 'category_ids' or remove the 'fieldgroups'.
                domain: API_BROWSE
        "500":
          description: Internal Server Error
          x-response-codes:
            errors:
              "12000":
                category: APPLICATION
                description: There was a problem with an eBay internal system or process. Contact eBay developer support for assistance.
                domain: API_BROWSE
      security:
        - Client Credentials:
            - https://api.ebay.com/oauth/api_scope
      tags:
        - item_summary
  /item_summary/search_by_image:
    post:
      consumes:
        - application/json
      description: "This is an Experimental method. This method searches for eBay items based on a image and retrieves summaries of the items. You pass in a Base64 image in the request payload and can refine the search by category, or eBay product ID (ePID), or a combination of these using URI parameters. To get the Base64 image string, you can use sites such as https://codebeautify.org/image-to-base64-converter. This method also supports the following: Filtering by the value of one or multiple fields, such as listing format, item condition, price range, location, and more. For the fields supported by this method, see the filter parameter. Filtering by item aspects using the aspect_filter parameter. For details and examples of these capabilities, see Browse API in the Buying Integration Guide. Pagination and sort controls There are pagination controls (limit and offset fields) and sort query parameters that control/sort the data that is returned. By default, the results are sorted by &quot;Best Match&quot;. For more information about Best Match, see the eBay help page Best Match. URLs for this method Production URL: https://api.ebay.com/buy/browse/v1/item_summary/search_by_image/ Sandbox URL: Due to the data available, this method is not supported in the eBay Sandbox. To test your integration, use the Production URL. Request headers This method uses the X-EBAY-C-ENDUSERCTX request header to support revenue sharing for eBay Partner Networks and to improve the accuracy of shipping and delivery time estimations. For details see, Request headers in the Buying Integration Guide. URL Encoding for Parameters Query parameter values need to be URL encoded. For details, see URL encoding query parameter values. For readability, code examples in this document have not been URL encoded. Restrictions This method can return a maximum of 10,000 items. For a list of supported sites and other restrictions, see API Restrictions. eBay Partner Network: In order to receive a commission for your sales, you must use the URL returned in the itemAffiliateWebUrl field to forward your buyer to the ebay.com site."
      operationId: searchByImage
      parameters:
        - description: "This field lets you filter by item aspects. The aspect name/value pairs and category, which is required, is used to limit the results to specific aspects of the item. For example, in a clothing category one aspect pair would be Color/Red. For example, the method below uses the category ID for Women's Clothing. This will return only items for a woman's red shirt. category_ids=15724&amp;aspect_filter=categoryId:15724,Color:{Red} Required: The category ID is required twice; once as a URI parameter and as part of the aspect_filter. For implementation help, refer to eBay API documentation at https://developer.ebay.com/api-docs/buy/browse/types/gct:AspectFilter"
          in: query
          name: aspect_filter
          required: false
          type: string
        - description: "The category ID is used to limit the results. This field can have one category ID or a comma separated list of IDs. Note: Currently, you can pass in only one category ID per request. You can also use any combination of the category_Ids and epid fields. This gives you additional control over the result set. The list of eBay category IDs is not published and category IDs are not the same across all the eBay marketplaces. You can use the following techniques to find a category by site: Use the Category Changes page. Use the Taxonomy API. For details see Get Categories for Buy APIs. Submit the following method to get the dominantCategoryId for an item. /buy/browse/v1/item_summary/search?q= keyword&amp;fieldgroups=ASPECT_REFINEMENTS Required: The method must have category_ids or epid (or any combination of these)"
          in: query
          name: category_ids
          required: false
          type: string
        - description: "The charity ID is used to limit the results to only items associated with the specified charity. This field can have one charity ID or a comma separated list of IDs. The method will return all the items associated with the specified charities. For example: /buy/browse/v1/item_summary/search?charity_ids=13-1788491,300108469 The charity ID is the charity's registration ID, also known as the Employer Identification Number (EIN). In GB, it is the Charity Registration Number (CRN), commonly called &quot;Charity Number&quot;. To find the charities eBay supports, you can search for a charity at Charity Search or go to Charity Shop. To find the charity ID of a specific charity, click on a charity and use the EIN number. For example, the charity ID for American Red Cross, is 530196605. You can also use any combination of the category_Ids and q fields with a charity_Ids to filter the result set. This gives you additional control over the result set. Restriction: This is supported only on the US and GB marketplaces. Maximum: 20 IDs Required: One ID"
          in: query
          name: charity_ids
          required: false
          type: string
        - description: "This field is a comma separated list of values that lets you control what is returned in the response. The default is MATCHING_ITEMS, which returns the items that match the keyword or category specified. The other values return data that can be used to create histograms or provide additional information. Valid Values: ASPECT_REFINEMENTS - This returns the aspectDistributions container, which has the dominantCategoryId, matchCount, and refinementHref for the various aspects of the items found. For example, if you searched for 'Mustang', some of the aspect would be Model Year, Exterior Color, Vehicle Mileage, etc. Note: ASPECT_REFINEMENTS are category specific. BUYING_OPTION_REFINEMENTS - This returns the buyingOptionDistributions container, which has the matchCount and refinementHref for AUCTION and FIXED_PRICE (Buy It Now) items. Note: Classified items are not supported and only &quot;Buy It Now&quot; (non-auction) items are returned. CATEGORY_REFINEMENTS - This returns the categoryDistributions container, which has the categories that the item is in. CONDITION_REFINEMENTS - This returns the conditionDistributions container, such as NEW, USED, etc. Within these groups are multiple states of the condition. For example, New can be New without tag, New in box, New without box, etc. EXTENDED - This returns the shortDescription field, which provides condition and item aspect information and the itemLocation.city field. MATCHING_ITEMS - This is meant to be used with one or more of the refinement values above. You use this to return the specified refinements and all the matching items. FULL - This returns all the refinement containers and all the matching items. Code so that your app gracefully handles any future changes to this list. Default: MATCHING_ITEMS"
          in: query
          name: fieldgroups
          required: false
          type: string
        - description: "This field supports multiple field filters that can be used to limit/customize the result set. For example: /buy/browse/v1/item_summary/search?q=shirt&amp;filter=price:[10..50] You can also combine filters. /buy/browse/v1/item_summary/search?q=shirt&amp;filter=price:[10..50],sellers:{rpseller|bigSal} The following are the supported filters. For details and examples for all the filters, see Buy API Field Filters. buyingOptions charityOnly conditionIds conditions deliveryCountry deliveryOptions deliveryPostalCode excludeCategoryIds excludeSellers guaranteedDeliveryInDays itemEndDate itemLocationCountry itemStartDate paymentMethods pickupCountry pickupPostalCode pickupRadius pickupRadiusUnit price priceCurrency maxDeliveryCost (free shipping) returnsAccepted sellerAccountTypes sellers For implementation help, refer to eBay API documentation at https://developer.ebay.com/api-docs/buy/browse/types/cos:FilterField"
          in: query
          name: filter
          required: false
          type: string
        - description: "The number of items, from the result set, returned in a single page. Default: 50 Maximum number of items per page (limit): 200 Maximum number of items in a result set: 10,000"
          in: query
          name: limit
          required: false
          type: string
        - description: "The number of items to skip in the result set. This is used with the limit field to control the pagination of the output. If offset is 0 and limit is 10, the method will retrieve items 1-10 from the list of items returned, if offset is 10 and limit is 10, the method will retrieve items 11 thru 20 from the list of items returned. Valid Values: 0-10,000 (inclusive) Default: 0 Maximum number of items returned: 10,000"
          in: query
          name: offset
          required: false
          type: string
        - description: "Specifies the order and the field name to use to sort the items. You can sort items by price (in ascending or descending order) or by distance (only applicable if the &quot;pickup&quot; filters are used, and only ascending order is supported). You can also sort items by listing date, with the most recently listed (newest) items appearing first. Note: To sort in descending order, insert a hyphen (-) before the field name. If no sort parameter is submitted, the result set is sorted by &quot;Best Match&quot;. The following are examples of using the sort query parameter. Sort Result sort=price Sorts by price in ascending order (lowest price first) sort=-price Sorts by price in descending order (highest price first) sort=distance Sorts by distance in ascending order (shortest distance first) sort=newlyListed Sorts by listing date (most recently listed/newest items first) Default: Ascending For implementation help, refer to eBay API documentation at https://developer.ebay.com/api-docs/buy/browse/types/cos:SortField"
          in: query
          name: sort
          required: false
          type: string
        - description: The container for the image information fields.
          in: body
          name: body
          required: false
          schema:
            $ref: "#/definitions/SearchByImageRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SearchPagedCollection"
          x-response-codes:
            errors:
              "12002":
                category: REQUEST
                description: The {filterName} value is invalid. For the valid values, refer to the API call documentation.
                domain: API_BROWSE
              "12003":
                category: REQUEST
                description: A seller 'username' provided in the request filters is invalid.
                domain: API_BROWSE
              "12008":
                category: REQUEST
                description: The 'sort' value is invalid. For the valid values, refer to the API call documentation.
                domain: API_BROWSE
              "12009":
                category: REQUEST
                description: The 'category_ids' query parameter is invalid.
                domain: API_BROWSE
              "12010":
                category: REQUEST
                description: There are four filters required for local pickup. 'pickupPostalCode','pickupCountry','pickupRadiusUnit','pickupRadius'. One or more is missing or invalid.
                domain: API_BROWSE
              "12011":
                category: REQUEST
                description: "'deliveryCountry' is a mandatory filter to provide a delivery location. 'deliveryPostalCode' is optional."
                domain: API_BROWSE
              "12012":
                category: REQUEST
                description: A valid 'price' filter and a valid 'priceCurrency' filter is necessary to filter based on price.
                domain: API_BROWSE
              "12014":
                category: BUSINESS
                description: "The 'sellerAccountTypes' filter is not supported for the marketplace {marketplaceId}. Valid marketplaces are: {validMarketplaces}"
                domain: API_BROWSE
              "12015":
                category: REQUEST
                description: The postal code filter value is invalid for the specified country and this filter was ignored.
                domain: API_BROWSE
              "12017":
                category: REQUEST
                description: The 'aspect_filter' query parameter must include a categoryId. For information, see the API call reference documentation.
                domain: API_BROWSE
              "12018":
                category: REQUEST
                description: The {aspectFilter} aspect_filter value is invalid. For information, see the API call reference documentation.
                domain: API_BROWSE
              "12021":
                category: REQUEST
                description: The 'epid' value {epid} is invalid. For information, see the API call reference documentation.
                domain: API_BROWSE
        "400":
          description: Bad Request
          x-response-codes:
            errors:
              "12004":
                category: REQUEST
                description: The 'offset' value cannot be negative.
                domain: API_BROWSE
              "12005":
                category: REQUEST
                description: The 'offset' value must be an integer.
                domain: API_BROWSE
              "12006":
                category: REQUEST
                description: The 'limit' value should be between 1 and 200 (inclusive).
                domain: API_BROWSE
              "12007":
                category: REQUEST
                description: The 'limit' value must be an integer value.
                domain: API_BROWSE
              "12029":
                category: REQUEST
                description: The number of sellers in the filter has exceeded the limit. Please reduce the number of sellers to 250 or fewer.
                domain: API_BROWSE
              "12030":
                category: REQUEST
                description: The number of categories in the request has exceeded the limit. Please reduce the number of categories to {allowedMaxCategories} or less.
                domain: API_BROWSE
              "12500":
                category: REQUEST
                description: This image search results in a response that is too large to return. Either change the image or add additional query parameters and/or filters.
                domain: API_BROWSE
              "12501":
                category: REQUEST
                description: The image data is empty, is not Base64 encoded, or is invalid.
                domain: API_BROWSE
        "409":
          description: Conflict
          x-response-codes:
            errors:
              "12013":
                category: BUSINESS
                description: Top level category browsing is not allowed. Please provide keywords or more filters for the applied top level category.
                domain: API_BROWSE
              "12019":
                category: BUSINESS
                description: "Currently, the {marketplaceId} marketplace is not supported. The supported Marketplaces are: {allowedMarketplaces} ."
                domain: API_BROWSE
        "500":
          description: Internal Server Error
          x-response-codes:
            errors:
              "12000":
                category: APPLICATION
                description: There was a problem with an eBay internal system or process. Contact eBay developer support for assistance.
                domain: API_BROWSE
      security:
        - Client Credentials:
            - https://api.ebay.com/oauth/api_scope
      tags:
        - search_by_image
  /shopping_cart/:
    get:
      description: "This is an experimental method. This method retrieves all the items in the eBay member's cart; items added to the cart while on ebay.com as well as items added to the cart using the Browse API. There are no URI parameters or request payload. The response returns the summary details of all the items in the eBay member's cart; items added to the cart while on ebay.com as well as items added to the cart using the Browse API. If the cart is empty, the response is HTTP 204. The quantity and state of an item changes often. If the item becomes &quot;unavailable&quot; such as, when the listing has ended or the item is out of stock, the item will be returned in the unavailableCartItems container. URLs for this method Production URL: https://api.ebay.com/buy/browse/v1/shopping_cart/ Sandbox URL: https://api.sandbox.ebay.com/buy/browse/v1/shopping_cart/ Note: This method is not available in the eBay API Explorer. Restrictions This method can be used only for eBay members. For a list of supported sites and other restrictions, see API Restrictions."
      operationId: getShoppingCart
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/RemoteShopcartResponse"
          x-response-codes:
            errors:
              "10004":
                category: BUSINESS
                description: The item {itemId} is not available for purchase. This can be for several reason such as, the listing has ended or the item is out of stock.
                domain: API_BROWSE
              "10005":
                category: BUSINESS
                description: The item {itemId} is revised.
                domain: API_BROWSE
              "10006":
                category: BUSINESS
                description: The item {itemId} in your cart is not available in the quantity specified. The quantity of this item has been changed to the quantity that is currently available. Please review this change before proceeding to checkout.
                domain: API_BROWSE
              "10020":
                category: BUSINESS
                description: The buyer is blocked from purchasing the item {itemId}.
                domain: API_BROWSE
              "10024":
                category: BUSINESS
                description: The buyer is blocked from purchasing the item {itemId} because the seller does not ship to the buyer's location.
                domain: API_BROWSE
              "10025":
                category: REQUEST
                description: "The header 'X-EBAY-C-MARKETPLACE-ID' is required. The valid Marketplaces are: {supportedValues}."
                domain: API_BROWSE
        "204":
          description: No Content
        "400":
          description: Bad Request
          x-response-codes:
            errors:
              "10001":
                category: REQUEST
                description: "The X-EBAY-C-MARKETPLACE-ID value is not supported. The supported values are: {supportedValues}."
                domain: API_BROWSE
              "10002":
                category: REQUEST
                description: Insufficient permissions to fulfill the request.
                domain: API_BROWSE
        "403":
          description: Forbidden
        "404":
          description: Not Found
        "500":
          description: Internal Server Error
          x-response-codes:
            errors:
              "10000":
                category: APPLICATION
                description: There was a problem with an eBay internal system or process. Contact eBay developer support for assistance.
                domain: API_BROWSE
      security:
        - Authorization Code:
            - https://api.ebay.com/oauth/api_scope/buy.shopping.cart
      tags:
        - shopping_cart
  /shopping_cart/add_item:
    post:
      description: "This is an Experimental method. This method creates an eBay cart for the eBay member, if one does not exist, and adds items to that cart. Because a cart never expires, any item added to the cart will remain in the cart until it is removed. To use this method, you must submit a RESTful item ID and the quantity of the item. If the quantity value is greater than the number of available, the quantity value is changed to the number available and a warning is returned. For example, if there are 15 baseballs available and you set the quantity value to 50, the service automatically changes the value of quantity to 15. The response returns all the items in the eBay member's cart; items added to the cart while on ebay.com as well as items added to the cart using the Browse API. The quantity and state of an item changes often. If the item becomes &quot;unavailable&quot; such as, when the listing has ended or the item is out of stock, whether it has just been added to the cart or has been in the cart for some time, the item will be returned in the unavailableCartItems container. Note: There are differences between how legacy APIs, such as Finding, and RESTful APIs, such as Browse, return the identifier of an &quot;item&quot; and what the item ID represents. If you have an item ID from one of the legacy APIs, you can use the legacy item ID with the getItemByLegacyId method to retrieve the RESTful ID for that item. For more information about how to use legacy IDs with the Buy APIs, see Legacy API compatibility in the Buying Integration guide. URLs for this method Production URL: https://api.ebay.com/buy/browse/v1/shopping_cart/ Sandbox URL: https://api.sandbox.ebay.com/buy/browse/v1/shopping_cart/ Note: This method is not available in the eBay API Explorer. Restrictions This method can be used only for eBay members. You can add only items with a FIXED_PRICE that accept PayPal as a payment. For a list of supported sites and other restrictions, see API Restrictions."
      operationId: addItem
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: "#/definitions/AddCartItemInput"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/RemoteShopcartResponse"
          x-response-codes:
            errors:
              "10004":
                category: BUSINESS
                description: The item {itemId} is not available for purchase. This can be for several reason such as, the listing has ended or the item is out of stock.
                domain: API_BROWSE
              "10005":
                category: BUSINESS
                description: The item {itemId} is revised.
                domain: API_BROWSE
              "10006":
                category: BUSINESS
                description: The item {itemId} in your cart is not available in the quantity specified. The quantity of this item has been changed to the quantity that is currently available. Please review this change before proceeding to checkout.
                domain: API_BROWSE
              "10020":
                category: BUSINESS
                description: The buyer is blocked from purchasing the item {itemId}.
                domain: API_BROWSE
              "10024":
                category: BUSINESS
                description: The buyer is blocked from purchasing the item {itemId} because the seller does not ship to the buyer's location.
                domain: API_BROWSE
        "204":
          description: No Content
        "400":
          description: Bad Request
          x-response-codes:
            errors:
              "10001":
                category: REQUEST
                description: "The X-EBAY-C-MARKETPLACE-ID value is not supported. The supported values are: {supportedValues}."
                domain: API_BROWSE
              "10002":
                category: REQUEST
                description: Insufficient permissions to fulfill the request.
                domain: API_BROWSE
              "10007":
                category: REQUEST
                description: "The field: {field} is required. Add the field and resubmit the call."
                domain: API_BROWSE
              "10008":
                category: REQUEST
                description: The item ID {itemId} is invalid.
                domain: API_BROWSE
              "10009":
                category: REQUEST
                description: The quantity value is invalid. The quantity must be greater than 0.
                domain: API_BROWSE
              "10010":
                category: REQUEST
                description: The item does not exist.
                domain: API_BROWSE
              "10025":
                category: REQUEST
                description: "The header 'X-EBAY-C-MARKETPLACE-ID' is required. The valid Marketplaces are: {supportedValues}."
                domain: API_BROWSE
        "403":
          description: Insufficient permissions to fulfill the request
        "409":
          description: Conflict
          x-response-codes:
            errors:
              "10011":
                category: BUSINESS
                description: The item {itemId} is already in the shopping cart. To change the quantity of the item, use the updateQuantity call.
                domain: API_BROWSE
              "10016":
                category: BUSINESS
                description: You have exceeded the maximum number of items in a cart, which is {MaxCartIems}. To add more items, either remove or purchase some of the items in the cart.
                domain: API_BROWSE
              "10017":
                category: BUSINESS
                description: The item does not meet the cart criteria and cannot be added to the cart.
                domain: API_BROWSE
              "10018":
                category: BUSINESS
                description: There is a limit on the quantity of this item that can be purchased. The quantity specified exceeds this limit.
                domain: API_BROWSE
              "10019":
                category: BUSINESS
                description: The buyer is blocked from purchasing the item you are trying to add to the cart.
                domain: API_BROWSE
              "10021":
                category: BUSINESS
                description: The item you are trying to add is not available in the quantity specified. Please adjust the quantity and try again.
                domain: API_BROWSE
              "10022":
                category: BUSINESS
                description: The item you are trying to add is not available for purchase. This can be for several reason such as, the listing has ended or the item is out of stock.
                domain: API_BROWSE
              "10023":
                category: BUSINESS
                description: The buyer is blocked from purchasing the item because the seller does not ship to the buyer's location.
                domain: API_BROWSE
        "500":
          description: Internal Server Error
          x-response-codes:
            errors:
              "10000":
                category: APPLICATION
                description: There was a problem with an eBay internal system or process. Contact eBay developer support for assistance.
                domain: API_BROWSE
      security:
        - Authorization Code:
            - https://api.ebay.com/oauth/api_scope/buy.shopping.cart
      tags:
        - shopping_cart
  /shopping_cart/remove_item:
    post:
      description: "This is an experimental method. This method removes a specific item from the eBay member's cart. You specify the ID of the item in the cart (cartItemId) that you want to remove. The response returns all the items in the eBay member's cart; items added to the cart while on ebay.com as well as items added to the cart using the Browse API. If you remove the last item in the cart, the response is HTTP 204. The quantity and state of an item changes often. If the item becomes &quot;unavailable&quot; such as, when the listing has ended or the item is out of stock, the item will be returned in the unavailableCartItems container. Note: The cartItemId is not the same as the item ID. The cartItemId is the identifier of a specific item in the cart and is generated when the item was added to the cart. URLs for this method Production URL: https://api.ebay.com/buy/browse/v1/shopping_cart/ Sandbox URL: https://api.sandbox.ebay.com/buy/browse/v1/shopping_cart/ Note: This method is not available in the eBay API Explorer. Restrictions This method can be used only for eBay members. For a list of supported sites and other restrictions, see API Restrictions."
      operationId: removeItem
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: "#/definitions/RemoveCartItemInput"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/RemoteShopcartResponse"
          x-response-codes:
            errors:
              "10004":
                category: BUSINESS
                description: The item {itemId} is not available for purchase. This can be for several reason such as, the listing has ended or the item is out of stock.
                domain: API_BROWSE
              "10005":
                category: BUSINESS
                description: The item {itemId} is revised.
                domain: API_BROWSE
              "10006":
                category: BUSINESS
                description: The item {itemId} in your cart is not available in the quantity specified. The quantity of this item has been changed to the quantity that is currently available. Please review this change before proceeding to checkout..
                domain: API_BROWSE
              "10020":
                category: BUSINESS
                description: The buyer is blocked from purchasing the item {itemId}.
                domain: API_BROWSE
              "10024":
                category: BUSINESS
                description: The buyer is blocked from purchasing the item {itemId} because the seller does not ship to the buyer's location.
                domain: API_BROWSE
        "204":
          description: No Content
        "400":
          description: Bad Request
          x-response-codes:
            errors:
              "10001":
                category: REQUEST
                description: "The X-EBAY-C-MARKETPLACE-ID value is not supported. The supported values are: {supportedValues}."
                domain: API_BROWSE
              "10002":
                category: REQUEST
                description: Insufficient permissions to fulfill the request.
                domain: API_BROWSE
              "10007":
                category: REQUEST
                description: "The field: {field} is required. Add the field and resubmit the call."
                domain: API_BROWSE
              "10012":
                category: REQUEST
                description: The value of 'cartItemId' {cartItemId} is invalid.
                domain: API_BROWSE
              "10025":
                category: REQUEST
                description: "The header 'X-EBAY-C-MARKETPLACE-ID' is required. The valid Marketplaces are: {supportedValues}."
                domain: API_BROWSE
        "403":
          description: Insufficient permissions to fulfill the request
        "409":
          description: Conflict
          x-response-codes:
            errors:
              "10013":
                category: BUSINESS
                description: The item is not in your cart.
                domain: API_BROWSE
        "500":
          description: Internal Server Error
          x-response-codes:
            errors:
              "10000":
                category: APPLICATION
                description: There was a problem with an eBay internal system or process. Contact eBay developer support for assistance.
                domain: API_BROWSE
      security:
        - Authorization Code:
            - https://api.ebay.com/oauth/api_scope/buy.shopping.cart
      tags:
        - shopping_cart
  /shopping_cart/update_quantity:
    post:
      description: "This is an experimental method. This method updates the quantity value of a specific item in the eBay member's cart. You specify the ID of the item in the cart (cartItemId) and the new value for the quantity. If the quantity value is greater than the number of available, the quantity value is changed to the number available and a warning is returned. For example, if there are 15 baseballs available and you set the quantity value to 50, the service automatically changes the value of quantity to 15. The response returns all the items in the eBay member's cart; items added to the cart while on ebay.com as well as items added to the cart using the Browse API. The quantity and state of an item changes often. If the item becomes &quot;unavailable&quot; such as, the listing has ended or the item is out of stock, the item will be returned in the unavailableCartItems container. Note: The cartItemId is not the same as the item ID. The cartItemId is the identifier of a specific item in the cart and is generated when the item was added to the cart. URLs for this method Production URL: https://api.ebay.com/buy/browse/v1/shopping_cart/ Sandbox URL: https://api.sandbox.ebay.com/buy/browse/v1/shopping_cart/ Note: This method is not available in the eBay API Explorer. Restrictions This method can be used only for eBay members. For a list of supported sites and other restrictions, see API Restrictions."
      operationId: updateQuantity
      parameters:
        - in: body
          name: body
          required: false
          schema:
            $ref: "#/definitions/UpdateCartItemInput"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/RemoteShopcartResponse"
          x-response-codes:
            errors:
              "10004":
                category: BUSINESS
                description: The item {itemId} is not available for purchase. This can be for several reason such as, the listing has ended or the item is out of stock.
                domain: API_BROWSE
              "10005":
                category: BUSINESS
                description: The item {itemId} is revised.
                domain: API_BROWSE
              "10006":
                category: BUSINESS
                description: The item {itemId} in your cart is not available in the quantity specified. The quantity of this item has been changed to the quantity that is currently available. Please review this change before proceeding to checkout..
                domain: API_BROWSE
              "10020":
                category: BUSINESS
                description: The buyer is blocked from purchasing the item {itemId}.
                domain: API_BROWSE
              "10024":
                category: BUSINESS
                description: The buyer is blocked from purchasing the item {itemId} because the seller does not ship to the buyer's location.
                domain: API_BROWSE
        "400":
          description: Bad Request
          x-response-codes:
            errors:
              "10001":
                category: REQUEST
                description: "The X-EBAY-C-MARKETPLACE-ID value is not supported. The supported values are: {supportedValues}."
                domain: API_BROWSE
              "10002":
                category: REQUEST
                description: Insufficient permissions to fulfill the request.
                domain: API_BROWSE
              "10007":
                category: REQUEST
                description: "The field: {field} is required. Add the field and resubmit the call."
                domain: API_BROWSE
              "10009":
                category: REQUEST
                description: The quantity value is invalid. The quantity must be greater than 0.
                domain: API_BROWSE
              "10012":
                category: REQUEST
                description: The value of 'cartItemId' {cartItemId} is invalid.
                domain: API_BROWSE
              "10025":
                category: REQUEST
                description: "The header 'X-EBAY-C-MARKETPLACE-ID' is required. The valid Marketplaces are: {supportedValues}."
                domain: API_BROWSE
        "403":
          description: Insufficient permissions to fulfill the request
        "409":
          description: Conflict
          x-response-codes:
            errors:
              "10013":
                category: BUSINESS
                description: The item is not in your cart.
                domain: API_BROWSE
        "500":
          description: Internal Server Error
          x-response-codes:
            errors:
              "10000":
                category: APPLICATION
                description: There was a problem with an eBay internal system or process. Contact eBay developer support for assistance.
                domain: API_BROWSE
      security:
        - Authorization Code:
            - https://api.ebay.com/oauth/api_scope/buy.shopping.cart
      tags:
        - shopping_cart
definitions:
  AddCartItemInput:
    description: The type that defines the fields for the <b>addItems</b> request.
    properties:
      itemId:
        description: "The eBay RESTful identifier of the item you want added to the cart. RESTful Item ID Format: v1|#|# For example: v1|272394640372|0 v1|162846450672|461882996982 For more information about item ID for RESTful APIs, see the Legacy API compatibility section of the Buy APIs Overview. Maximum number of items in a cart: 100"
        type: string
      quantity:
        description: "The number of this item the buyer wants to purchase. If this value is greater than the number available, the service will change this value to the number available. If this happens, a warning is returned. Maximum: number available"
        type: integer
    type: object
  AdditionalProductIdentity:
    description: The type that defines the array of product identifiers associated with the item. This container is returned if the seller has associated the eBay Product Identifier (ePID) with the item and in the request <b> fieldgroups</b> is set to <code>PRODUCT</code>.
    properties:
      productIdentity:
        description: An array of the product identifier/value pairs for the product associated with the item. This is returned if the seller has associated the eBay Product Identifier (ePID) with the item and the request has fieldgroups set to PRODUCT. The following table shows what is returned, based on the item information provided by the seller, when the fieldgroups set to PRODUCT. ePID Provided Product&nbsp;ID(s) Provided Response No No The AdditionalProductIdentity container is not returned. No Yes The AdditionalProductIdentity container is not returned but the product identifiers specified by the seller are returned in the localizedAspects container. Yes No The AdditionalProductIdentity container is returned listing the product identifiers of the product. Yes Yes The AdditionalProductIdentity container is returned listing all the product identifiers of the product and the product identifiers specified by the seller are returned in the localizedAspects container.
        items:
[...]
