swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Use these REST APIs for getting the network connectivity status of your Azure API Management deployment. When the API Management service is deployed inside a Virtual Network, it needs to have access to other Azure resources it depends on. This also gives details about the DNS Servers visible to Azure API Management deployment.
  title: ApiManagementClient
  version: 2019-12-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/preview/2019-12-01-preview/apimnetworkstatus.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimnetworkstatus
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/locations/{locationName}/networkstatus":
    get:
      description: Gets the Connectivity Status to the external resources on which the Api Management service depends from inside the Cloud Service. This also returns the DNS Servers as visible to the CloudService.
      operationId: NetworkStatus_ListByLocation
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location in which the API Management service is deployed. This is one of the Azure Regions like West US, East US, South Central US.
          in: path
          minLength: 1
          name: locationName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Gets the Network status details.
          schema:
            $ref: "#/definitions/NetworkStatusContract"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - NetworkStatus
      x-ms-examples:
        ApiManagementServiceGetNetworkStatusByLocation:
          parameters:
            api-version: 2019-12-01-preview
            locationName: North Central US
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                connectivityStatus:
                  - error: ""
                    lastStatusChange: 2018-06-13T20:31:06.6590782Z
                    lastUpdated: 2018-06-13T22:41:07.3844516Z
                    name: apimgmtst6mtxxxxxxxx.blob.core.windows.net
                    status: success
                  - error: ""
                    lastStatusChange: 2018-06-13T20:31:06.8934611Z
                    lastUpdated: 2018-06-13T22:41:08.6657305Z
                    name: apimgmtst6mtxxxxxxxx.file.core.windows.net
                    status: success
                  - error: ""
                    lastStatusChange: 2018-06-13T20:31:06.7529128Z
                    lastUpdated: 2018-06-13T22:41:08.7594708Z
                    name: apimgmtst6mtxxxxxxxx.table.core.windows.net
                    status: success
                  - error: ""
                    lastStatusChange: 2018-06-13T20:31:07.1125257Z
                    lastUpdated: 2018-06-13T22:41:08.6969746Z
                    name: https://prod3.metrics.nsatc.net:1886/RecoveryService
                    status: success
                  - error: ""
                    lastStatusChange: 2018-06-13T20:31:07.0968711Z
                    lastUpdated: 2018-06-13T22:41:09.5094848Z
                    name: n20fxxx.database.windows.net
                    status: success
                  - error: ""
                    lastStatusChange: 2018-06-13T20:41:09.8627827Z
                    lastUpdated: 2018-06-13T22:41:29.4358865Z
                    name: Scm
                    status: success
                dnsServers:
                  - 100.78.90.70
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/networkstatus":
    get:
      description: Gets the Connectivity Status to the external resources on which the Api Management service depends from inside the Cloud Service. This also returns the DNS Servers as visible to the CloudService.
      operationId: NetworkStatus_ListByService
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Gets the list Network status details for all regions in which service is deployed.
          schema:
            description: List of Network Status values.
            items:
              $ref: "#/definitions/NetworkStatusContractByLocation"
            type: array
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - NetworkStatus
      x-ms-examples:
        ApiManagementServiceGetNetworkStatus:
          parameters:
            api-version: 2019-12-01-preview
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                - location: West Europe
                  networkStatus:
                    connectivityStatus:
                      - error: ""
                        lastStatusChange: 2019-01-24T21:47:53.851895Z
                        lastUpdated: 2019-12-18T12:04:43.6997938Z
                        name: apimgmtsttgzqxxxxxcrsc.blob.core.windows.net
                        status: success
                      - error: ""
                        lastStatusChange: 2019-05-02T21:22:50.6835366Z
                        lastUpdated: 2019-12-18T12:04:44.0439771Z
                        name: apimgmtsttgzqxxxxxcrsc.file.core.windows.net
                        status: success
                      - error: ""
                        lastStatusChange: 2019-05-02T20:53:26.6260794Z
                        lastUpdated: 2019-12-18T12:04:44.8564232Z
                        name: apimgmtsttgzqxxxxxcrsc.queue.core.windows.net
                        status: success
                      - error: ""
                        lastStatusChange: 2019-05-02T20:53:21.6729263Z
                        lastUpdated: 2019-12-18T12:04:44.0439771Z
                        name: apimgmtsttgzqxxxxxcrsc.table.core.windows.net
                        status: success
                      - error: ""
                        lastStatusChange: 2019-05-02T21:02:00.9466899Z
                        lastUpdated: 2019-12-18T12:04:44.1845483Z
                        name: ftmrcxxx.database.windows.net
                        status: success
                      - error: Failed to connect to https://prod3.metrics.nsatc.net:1886/RecoveryService with error Unable to connect to the remote server
                        lastStatusChange: 2019-01-24T22:00:04.2450462Z
                        lastUpdated: 2019-12-18T12:04:30.1214083Z
                        name: https://prod3.metrics.nsatc.net:1886/RecoveryService
                        status: failure
                      - error: ""
                        lastStatusChange: 2019-12-18T11:14:43.3860126Z
                        lastUpdated: 2019-12-18T12:04:43.8251399Z
                        name: https://westeurope.prod.warm.ingestion.msftcloudes.com
                        status: success
                      - error: ""
                        lastStatusChange: 2019-12-18T11:14:44.4966742Z
                        lastUpdated: 2019-12-18T12:04:50.6376685Z
                        name: LocalGatewayRedis
                        status: success
                      - error: ""
                        lastStatusChange: 2019-05-08T00:09:58.031766Z
                        lastUpdated: 2019-12-18T12:04:44.4345454Z
                        name: prod.warmpath.msftcloudes.com
                        status: success
                      - error: ""
                        lastStatusChange: 2019-12-18T11:24:48.4795085Z
                        lastUpdated: 2019-12-18T12:04:58.4815899Z
                        name: Scm
                        status: success
                      - error: Connection smtpi-db3.msn.com:25028 failed with Error Unable to connect to the remote server
                        lastStatusChange: 2019-12-18T11:23:05.7709057Z
                        lastUpdated: 2019-12-18T12:04:30.1526431Z
                        name: smtpi-db3.msn.com:25028
                        status: failure
                    dnsServers:
                      - 100.78.90.70
definitions:
  ConnectivityStatusContract:
    description: Details about connectivity to a resource.
    properties:
      error:
        description: Error details of the connectivity to the resource.
        type: string
      lastStatusChange:
        description: |
          The date when the resource connectivity status last Changed from success to failure or vice-versa. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
        format: date-time
        type: string
      lastUpdated:
        description: |
          The date when the resource connectivity status was last updated. This status should be updated every 15 minutes. If this status has not been updated, then it means that the service has lost network connectivity to the resource, from inside the Virtual Network.The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard.
        format: date-time
        type: string
      name:
        description: The hostname of the resource which the service depends on. This can be the database, storage or any other azure resource on which the service depends upon.
        minLength: 1
        type: string
      status:
        description: Resource Connectivity Status Type identifier.
        enum:
          - initializing
          - success
          - failure
        type: string
        x-ms-enum:
          modelAsString: true
          name: ConnectivityStatusType
    required:
      - name
      - status
      - lastUpdated
      - lastStatusChange
  NetworkStatusContract:
    description: Network Status details.
    properties:
      connectivityStatus:
        description: Gets the list of Connectivity Status to the Resources on which the service depends upon.
        items:
          $ref: "#/definitions/ConnectivityStatusContract"
        type: array
      dnsServers:
        description: Gets the list of DNS servers IPV4 addresses.
        items:
          type: string
        type: array
    required:
      - dnsServers
      - connectivityStatus
  NetworkStatusContractByLocation:
    description: Network Status in the Location
    properties:
      location:
        description: Location of service
        minLength: 1
        type: string
      networkStatus:
        $ref: "#/definitions/NetworkStatusContract"
        description: Network status in Location
