swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: KustoManagementClient
  version: 2019-05-15
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azure-kusto/resource-manager/Microsoft.Kusto/stable/2019-05-15/kusto.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: azure-kusto
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ApiVersionParameter:
    description: Client API Version.
    in: query
    name: api-version
    required: true
    type: string
  ClusterNameParameter:
    description: The name of the Kusto cluster.
    in: path
    name: clusterName
    required: true
    type: string
    x-ms-parameter-location: method
  DataConnectionNameParameter:
    description: The name of the data connection.
    in: path
    name: dataConnectionName
    required: true
    type: string
    x-ms-parameter-location: method
  DatabaseNameParameter:
    description: The name of the database in the Kusto cluster.
    in: path
    name: databaseName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupParameter:
    description: The name of the resource group containing the Kusto cluster.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Kusto/operations:
    get:
      description: Lists available operations for the Microsoft.Kusto provider.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the list of available operations.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Operations
      x-ms-examples:
        KustoOperationsList:
          parameters:
            api-version: 2019-05-15
          responses:
            "200":
              body:
                value:
                  - display:
                      description: operation description
                      operation: operationName
                      provider: providerName
                      resource: resourceName
                    name: operationName
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Kusto/clusters":
    get:
      description: Lists all Kusto clusters within a subscription.
      operationId: Clusters_List
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/ClusterListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Clusters
      x-ms-examples:
        KustoClustersList:
          parameters:
            api-version: 2019-05-15
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4
                    location: westus
                    name: KustoClusterRPTest4
                    properties:
                      provisioningState: Succeeded
                    sku:
                      capacity: 2
                      name: Standard_L8s
                      tier: Standard
                    type: Microsoft.Kusto/Clusters
                  - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest3
                    location: westus
                    name: KustoClusterRPTest3
                    properties:
                      provisioningState: Succeeded
                    sku:
                      capacity: 2
                      name: Standard_L8s
                      tier: Standard
                    type: Microsoft.Kusto/Clusters
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.Kusto/locations/{location}/checkNameAvailability":
    post:
      description: Checks that the cluster name is valid and is not already in use.
      operationId: Clusters_CheckNameAvailability
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: Azure location.
          in: path
          name: location
          required: true
          type: string
        - description: The name of the cluster.
          in: body
          name: clusterName
          required: true
          schema:
            $ref: "#/definitions/ClusterCheckNameRequest"
      responses:
        "200":
          description: OK -- Operation to check the kusto resource name availability was successful.
          schema:
            $ref: "#/definitions/CheckNameResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Clusters
      x-ms-examples:
        KustoClustersCheckNameAvailability:
          parameters:
            api-version: 2019-05-15
            clusterName:
              name: kuskusprod
              type: Microsoft.Kusto/clusters
            location: West US
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                message: Name 'kuskusprod' is already taken. Please specify a different name
                name: kuskusprod
                nameAvailable: false
  "/subscriptions/{subscriptionId}/providers/Microsoft.Kusto/skus":
    get:
      description: Lists eligible SKUs for Kusto resource provider.
      operationId: Clusters_ListSkus
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/SkuDescriptionList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      x-ms-examples:
        KustoClustersListSkus:
          parameters:
            api-version: 2019-05-15
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                  - locationInfo:
                      - location: West US
                        zones:
                          - "1"
                          - "2"
                          - "3"
                      - location: West Europe
                        zones: []
                    locations:
                      - West US
                      - West Europe
                    name: Standard_D13_v2
                    tier: Standard
                  - locationInfo:
                      - location: West US
                        zones:
                          - "1"
                          - "2"
                          - "3"
                      - location: West Europe
                        zones: []
                    locations:
                      - West US
                      - West Europe
                    name: Standard_D14_v2
                    tier: Standard
                  - locationInfo:
                      - location: West US
                        zones:
                          - "1"
                          - "2"
                          - "3"
                      - location: West Europe
                        zones: []
                    locations:
                      - West US
                      - West Europe
                    name: L8
                    tier: Standard
                  - locationInfo:
                      - location: West US
                        zones:
                          - "1"
                          - "2"
                          - "3"
                      - location: West Europe
                        zones: []
                    locations:
                      - West US
                      - West Europe
                    name: L16
                    tier: Standard
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters":
    get:
      description: Lists all Kusto clusters within a resource group.
      operationId: Clusters_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/ClusterListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Clusters
      x-ms-examples:
        KustoClustersListByResourceGroup:
          parameters:
            api-version: 2019-05-15
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4
                    location: westus
                    name: KustoClusterRPTest4
                    properties:
                      provisioningState: Succeeded
                    sku:
                      capacity: 2
                      name: Standard_L8s
                      tier: Standard
                    type: Microsoft.Kusto/Clusters
                  - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest3
                    location: westus
                    name: KustoClusterRPTest3
                    properties:
                      provisioningState: Succeeded
                    sku:
                      capacity: 2
                      name: Standard_L8s
                      tier: Standard
                    type: Microsoft.Kusto/Clusters
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}":
    delete:
      description: Deletes a Kusto cluster.
      operationId: Clusters_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK -- cluster deleted successfully.
        "202":
          description: Accepted the delete cluster request.
        "204":
          description: NoContent -- cluster does not exist in the subscription.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Clusters
      x-ms-examples:
        KustoClustersDelete:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets a Kusto cluster.
      operationId: Clusters_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: The Kusto cluster.
          schema:
            $ref: "#/definitions/Cluster"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Clusters
      x-ms-examples:
        KustoClustersGet:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4
                location: westus
                name: KustoClusterRPTest4
                properties:
                  provisioningState: Succeeded
                sku:
                  capacity: 2
                  name: Standard_L8s
                  tier: Standard
                type: Microsoft.Kusto/clusters
    patch:
      description: Update a Kusto cluster.
      operationId: Clusters_Update
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - description: The Kusto cluster parameters supplied to the Update operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ClusterUpdate"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the Cluster.
          schema:
            $ref: "#/definitions/Cluster"
        "201":
          description: Successfully updated the cluster.
          schema:
            $ref: "#/definitions/Cluster"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Clusters
      x-ms-examples:
        KustoClustersUpdate:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            parameters:
              location: westus
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4
                location: westus
                name: KustoClusterRPTest4
                properties:
                  provisioningState: Succeeded
                sku:
                  capacity: 2
                  name: Standard_L8s
                  tier: Standard
                type: Microsoft.Kusto/clusters
            "201":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4
                location: westus
                name: KustoClusterRPTest4
                properties:
                  provisioningState: Succeeded
                sku:
                  capacity: 2
                  name: Standard_L8s
                  tier: Standard
                type: Microsoft.Kusto/clusters
      x-ms-long-running-operation: true
    put:
      description: Create or update a Kusto cluster.
      operationId: Clusters_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - description: The Kusto cluster parameters supplied to the CreateOrUpdate operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Cluster"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the Cluster.
          schema:
            $ref: "#/definitions/Cluster"
        "201":
          description: Successfully created the cluster.
          schema:
            $ref: "#/definitions/Cluster"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Clusters
      x-ms-examples:
        KustoClustersCreateOrUpdate:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            parameters:
              location: westus
              sku:
                capacity: 2
                name: Standard_L8s
                tier: Standard
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4
                location: westus
                name: KustoClusterRPTest4
                properties:
                  provisioningState: Succeeded
                sku:
                  capacity: 2
                  name: Standard_L8s
                  tier: Standard
                type: Microsoft.Kusto/clusters
            "201":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4
                location: westus
                name: KustoClusterRPTest4
                properties:
                  provisioningState: Succeeded
                sku:
                  capacity: 2
                  name: Standard_L8s
                  tier: Standard
                type: Microsoft.Kusto/clusters
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/checkNameAvailability":
    post:
      description: Checks that the database name is valid and is not already in use.
      operationId: Databases_CheckNameAvailability
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the database.
          in: body
          name: databaseName
          required: true
          schema:
            $ref: "#/definitions/DatabaseCheckNameRequest"
      responses:
        "200":
          description: OK -- Operation to check the kusto resource name availability was successful.
          schema:
            $ref: "#/definitions/CheckNameResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Databases
      x-ms-examples:
        KustoDatabaseCheckNameAvailability:
          parameters:
            api-version: 2019-01-21
            clusterName: kustoProd
            databaseName:
              name: kuskus
              type: Microsoft.Kusto/clusters/databases
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                message: Name 'kuskus' is already taken. Please specify a different name
                name: kuskus
                nameAvailable: false
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases":
    get:
      description: Returns the list of databases of the given Kusto cluster.
      operationId: Databases_ListByCluster
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of databases.
          schema:
            $ref: "#/definitions/DatabaseListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Databases
      x-ms-examples:
        KustoDatabasesListByCluster:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                    location: westus
                    name: KustoClusterRPTest4/KustoDatabase8
                    properties:
                      provisioningState: Succeeded
                      softDeletePeriod: P1D
                    type: Microsoft.Kusto/clusters/databases
                  - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase9
                    location: westus
                    name: KustoClusterRPTest4/KustoDatabase9
                    properties:
                      provisioningState: Succeeded
                      softDeletePeriod: P1D
                    type: Microsoft.Kusto/clusters/databases
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}":
    delete:
      description: Deletes the database with the given name.
      operationId: Databases_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/DatabaseNameParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully deleted the database.
        "202":
          description: Accepted.
        "204":
          description: The specified database does not exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Databases
      x-ms-examples:
        KustoDatabasesDelete:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Returns a database.
      operationId: Databases_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/DatabaseNameParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the specified database.
          schema:
            $ref: "#/definitions/Database"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Databases
      x-ms-examples:
        KustoDatabasesGet:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  provisioningState: Succeeded
                  softDeletePeriod: P1D
                type: Microsoft.Kusto/clusters/databases
    patch:
      description: Updates a database.
      operationId: Databases_Update
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/DatabaseNameParameter"
        - description: The database parameters supplied to the Update operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/DatabaseUpdate"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the database.
          schema:
            $ref: "#/definitions/Database"
        "201":
          description: Successfully updated the database.
          schema:
            $ref: "#/definitions/Database"
        "202":
          description: Accepted the update database request.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Databases
      x-ms-examples:
        KustoDatabasesUpdate:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            parameters:
              location: westus
              properties:
                softDeletePeriod: P1D
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  provisioningState: Succeeded
                  softDeletePeriod: P1D
                type: Microsoft.Kusto/clusters/databases
            "201":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  provisioningState: Succeeded
                  softDeletePeriod: P1D
                type: Microsoft.Kusto/clusters/databases
            "202": {}
      x-ms-long-running-operation: true
    put:
      description: Creates or updates a database.
      operationId: Databases_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/DatabaseNameParameter"
        - description: The database parameters supplied to the CreateOrUpdate operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Database"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the database.
          schema:
            $ref: "#/definitions/Database"
        "201":
          description: Successfully created the database.
          schema:
            $ref: "#/definitions/Database"
        "202":
          description: Accepted the create database request.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Databases
      x-ms-examples:
        KustoDatabasesCreateOrUpdate:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            parameters:
              location: westus
              properties:
                softDeletePeriod: P1D
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  provisioningState: Succeeded
                  softDeletePeriod: P1D
                type: Microsoft.Kusto/clusters/databases
            "201":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8
                properties:
                  provisioningState: Succeeded
                  softDeletePeriod: P1D
                type: Microsoft.Kusto/clusters/databases
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/addPrincipals":
    post:
      description: Add Database principals permissions.
      operationId: Databases_AddPrincipals
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/DatabaseNameParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: List of database principals to add.
          in: body
          name: databasePrincipalsToAdd
          required: true
          schema:
            $ref: "#/definitions/DatabasePrincipalListRequest"
      responses:
        "200":
          description: OK -- Successfully added the list of database principals. Returns the updated list of principals.
          schema:
            $ref: "#/definitions/DatabasePrincipalListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Databases
      x-ms-examples:
        KustoDatabaseAddPrincipals:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            databaseName: databaseName1
            databasePrincipalsToAdd:
              value:
                - appId: ""
                  email: user@microsoft.com
                  fqn: aaduser=some_guid
                  name: Some User
                  role: Admin
                  type: User
                - appId: ""
                  email: kusto@microsoft.com
                  fqn: aadgroup=some_guid
                  name: Kusto
                  role: Viewer
                  type: Group
                - appId: some_guid_app_id
                  email: ""
                  fqn: aadapp=some_guid_app_id
                  name: SomeApp
                  role: Admin
                  type: App
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                  - appId: ""
                    email: user@microsoft.com
                    fqn: aaduser=some_guid
                    name: Some User
                    role: Admin
                    type: User
                  - appId: ""
                    email: kusto@microsoft.com
                    fqn: aadgroup=some_guid
                    name: Kusto
                    role: Viewer
                    type: Group
                  - appId: some_guid_app_id
                    email: ""
                    fqn: aadapp=some_guid_app_id
                    name: SomeApp
                    role: Admin
                    type: App
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/checkNameAvailability":
    post:
      description: Checks that the data connection name is valid and is not already in use.
      operationId: DataConnections_CheckNameAvailability
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/DatabaseNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The name of the data connection.
          in: body
          name: dataConnectionName
          required: true
          schema:
            $ref: "#/definitions/DataConnectionCheckNameRequest"
      responses:
        "200":
          description: OK -- Operation to check the Kusto resource name availability was successful.
          schema:
            $ref: "#/definitions/CheckNameResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - DataConnections
      x-ms-examples:
        KustoDataConnectionsCheckNameAvailability:
          parameters:
            api-version: 2019-05-15
            clusterName: kustoProd
            dataConnectionName:
              name: DataConnections8
              type: Microsoft.Kusto/clusters/databases/dataConnections
            databaseName: KustoDatabase8
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                message: Name 'DataConnections8' is already taken. Please specify a different name.
                name: DataConnections8
                nameAvailable: false
                reason: AlreadyExists
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/dataConnectionValidation":
    post:
      description: Checks that the data connection parameters are valid.
      operationId: DataConnections_dataConnectionValidation
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/DatabaseNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The data connection parameters supplied to the CreateOrUpdate operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/DataConnectionValidation"
      responses:
        "200":
          description: OK -- Operation to check the kusto resource name availability was successful.
          schema:
            $ref: "#/definitions/DataConnectionValidationListResult"
      tags:
        - DataConnections
      x-ms-examples:
        KustoDataConnectionValidation:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            parameters:
              dataConnectionName: DataConnections8
              properties:
                kind: EventHub
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                - errorMessage: event hub namespace does not exist
                - errorMessage: database does not exist
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/dataConnections":
    get:
      description: Returns the list of data connections of the given Kusto database.
      operationId: DataConnections_ListByDatabase
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/DatabaseNameParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of data connections.
          schema:
            $ref: "#/definitions/DataConnectionListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - DataConnections
      x-ms-examples:
        KustoDatabasesListByCluster:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            databaseName: KustoDatabase8
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8/DataConnections/KustoDataConnection8
                    kind: EventHub
                    location: westus
                    name: KustoClusterRPTest4/KustoDatabase8/KustoDataConnection8
                    properties:
                      consumerGroup: testConsumerGroup1
                      eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                    type: Microsoft.Kusto/clusters/databases/dataConnections
                  - id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase9/DataConnections/KustoDataConnection9
                    kind: EventHub
                    location: westus
                    name: KustoClusterRPTest4/KustoDatabase9/KustoDataConnection9
                    properties:
                      consumerGroup: testConsumerGroup2
                      eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns2/eventhubs/eventhubTest2
                    type: Microsoft.Kusto/clusters/databases/dataConnections
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/dataConnections/{dataConnectionName}":
    delete:
      description: Deletes the data connection with the given name.
      operationId: DataConnections_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/DatabaseNameParameter"
        - $ref: "#/parameters/DataConnectionNameParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully deleted the data connection.
        "202":
          description: Accepted.
        "204":
          description: The specified data connection does not exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - DataConnections
      x-ms-examples:
        KustoDataConnectionsDelete:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            dataConnectionName: kustoeventhubconnection1
            databaseName: KustoDatabase8
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Returns a data connection.
      operationId: DataConnections_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/DatabaseNameParameter"
        - $ref: "#/parameters/DataConnectionNameParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the specified data connection.
          schema:
            $ref: "#/definitions/DataConnection"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - DataConnections
      x-ms-examples:
        KustoDataConnectionsGet:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            dataConnectionName: DataConnections8
            databaseName: KustoDatabase8
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8/DataConnections/DataConnections8
                kind: EventHub
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8/DataConnections8
                properties:
                  consumerGroup: testConsumerGroup1
                  eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                type: Microsoft.Kusto/clusters/databases/dataConnections
    patch:
      description: Updates a data connection.
      operationId: DataConnections_Update
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/DatabaseNameParameter"
        - $ref: "#/parameters/DataConnectionNameParameter"
        - description: The data connection parameters supplied to the Update operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/DataConnection"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the data connection.
          schema:
            $ref: "#/definitions/DataConnection"
        "201":
          description: Successfully updated the data connection.
          schema:
            $ref: "#/definitions/DataConnection"
        "202":
          description: Accepted the update data connection request.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - DataConnections
      x-ms-examples:
        KustoDataConnectionsUpdate:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            dataConnectionName: DataConnections8
            databaseName: KustoDatabase8
            parameters:
              kind: EventHub
              location: westus
              properties:
                consumerGroup: testConsumerGroup1
                eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8/DataConnections/DataConnections8
                kind: EventHub
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8/DataConnections8
                properties:
                  consumerGroup: testConsumerGroup1
                  eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                type: Microsoft.Kusto/clusters/databases/dataConnections
            "201":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8/DataConnections/DataConnections8
                kind: EventHub
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8/DataConnections8
                properties:
                  consumerGroup: testConsumerGroup1
                  eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                type: Microsoft.Kusto/clusters/databases/dataConnections
            "202": {}
      x-ms-long-running-operation: true
    put:
      description: Creates or updates a data connection.
      operationId: DataConnections_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/DatabaseNameParameter"
        - $ref: "#/parameters/DataConnectionNameParameter"
        - description: The data connection parameters supplied to the CreateOrUpdate operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/DataConnection"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the data connection.
          schema:
            $ref: "#/definitions/DataConnection"
        "201":
          description: Successfully created the data connection.
          schema:
            $ref: "#/definitions/DataConnection"
        "202":
          description: Accepted the create data connection request.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - DataConnections
      x-ms-examples:
        KustoDataConnectionsCreateOrUpdate:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            dataConnectionName: DataConnections8
            databaseName: KustoDatabase8
            parameters:
              kind: EventHub
              location: westus
              properties:
                consumerGroup: testConsumerGroup1
                eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8/DataConnections/DataConnections8
                kind: EventHub
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8/DataConnections8
                properties:
                  consumerGroup: testConsumerGroup1
                  eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                type: Microsoft.Kusto/clusters/databases/dataConnections
            "201":
              body:
                id: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.Kusto/Clusters/KustoClusterRPTest4/Databases/KustoDatabase8/DataConnections/DataConnections8
                kind: EventHub
                location: westus
                name: KustoClusterRPTest4/KustoDatabase8/DataConnections8
                properties:
                  consumerGroup: testConsumerGroup1
                  eventHubResourceId: /subscriptions/12345678-1234-1234-1234-123456789098/resourceGroups/kustorptest/providers/Microsoft.EventHub/namespaces/eventhubTestns1/eventhubs/eventhubTest1
                type: Microsoft.Kusto/clusters/databases/dataConnections
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/listPrincipals":
    post:
      description: Returns a list of database principals of the given Kusto cluster and database.
      operationId: Databases_ListPrincipals
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/DatabaseNameParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of database principals.
          schema:
            $ref: "#/definitions/DatabasePrincipalListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Databases
      x-ms-examples:
        KustoDatabaseListPrincipals:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            databaseName: databaseName1
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                  - appId: ""
                    email: user@microsoft.com
                    fqn: aaduser=some_guid
                    name: Some User
                    role: Admin
                    type: User
                  - appId: ""
                    email: kusto@microsoft.com
                    fqn: aadgroup=some_guid
                    name: Kusto
                    role: Viewer
                    type: Group
                  - appId: some_guid_app_id
                    email: ""
                    fqn: aadapp=some_guid_app_id
                    name: SomeApp
                    role: Admin
                    type: App
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/databases/{databaseName}/removePrincipals":
    post:
      description: Remove Database principals permissions.
      operationId: Databases_RemovePrincipals
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/DatabaseNameParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: List of database principals to remove.
          in: body
          name: databasePrincipalsToRemove
          required: true
          schema:
            $ref: "#/definitions/DatabasePrincipalListRequest"
      responses:
        "200":
          description: OK -- Successfully removed the list of database principals. Returns the updated list of principals.
          schema:
            $ref: "#/definitions/DatabasePrincipalListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Databases
      x-ms-examples:
        KustoDatabaseRemovePrincipals:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            databaseName: databaseName1
            databasePrincipalsToRemove:
              value:
                - appId: ""
                  email: user@microsoft.com
                  fqn: aaduser=some_guid
                  name: Some User
                  role: Admin
                  type: User
                - appId: ""
                  email: kusto@microsoft.com
                  fqn: aadgroup=some_guid
                  name: Kusto
                  role: Viewer
                  type: Group
                - appId: some_guid_app_id
                  email: ""
                  fqn: aadapp=some_guid_app_id
                  name: SomeApp
                  role: Admin
                  type: App
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                  - appId: ""
                    email: user@microsoft.com
                    fqn: aaduser=some_guid
                    name: Some User
                    role: Admin
                    type: User
                  - appId: ""
                    email: kusto@microsoft.com
                    fqn: aadgroup=some_guid
                    name: Kusto
                    role: Viewer
                    type: Group
                  - appId: some_guid_app_id
                    email: ""
                    fqn: aadapp=some_guid_app_id
                    name: SomeApp
                    role: Admin
                    type: App
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/skus":
    get:
      description: Returns the SKUs available for the provided resource.
      operationId: Clusters_ListSkusByResource
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/ListResourceSkusResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Clusters
      x-ms-examples:
        KustoClustersListResourceSkus:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200":
              body:
                value:
                  - capacity:
                      default: 2
                      maximum: 100
                      minimum: 2
                      scaleType: automatic
                    resourceType: clusters
                    sku:
                      name: Standard_D13_v2
                      tier: Standard
                  - capacity:
                      default: 2
                      maximum: 100
                      minimum: 2
                      scaleType: automatic
                    resourceType: clusters
                    sku:
                      name: Standard_D14_v2
                      tier: Standard
                  - capacity:
                      default: 2
                      maximum: 100
                      minimum: 2
                      scaleType: automatic
                    resourceType: clusters
                    sku:
                      name: Standard_L8s
                      tier: Standard
                  - capacity:
                      default: 2
                      maximum: 100
                      minimum: 2
                      scaleType: automatic
                    resourceType: clusters
                    sku:
                      name: Standard_L16s
                      tier: Standard
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/start":
    post:
      description: Starts a Kusto cluster.
      operationId: Clusters_Start
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK.
        "202":
          description: Accepted.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Clusters
      x-ms-examples:
        KustoClustersStart:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Kusto/clusters/{clusterName}/stop":
    post:
      description: Stops a Kusto cluster.
      operationId: Clusters_Stop
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK.
        "202":
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Clusters
      x-ms-examples:
        KustoClustersStop:
          parameters:
            api-version: 2019-05-15
            clusterName: KustoClusterRPTest4
            resourceGroupName: kustorptest
            subscriptionId: 12345678-1234-1234-1234-123456789098
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
definitions:
  AzureCapacity:
    description: Azure capacity definition.
    properties:
      default:
        description: The default capacity that would be used.
        type: integer
      maximum:
        description: Maximum allowed capacity.
        type: integer
      minimum:
        description: Minimum allowed capacity.
        type: integer
      scaleType:
        description: Scale type.
        enum:
          - automatic
          - manual
          - none
        type: string
        x-ms-enum:
          modelAsString: true
          name: AzureScaleType
    required:
      - minimum
      - maximum
      - default
      - scaleType
    type: object
  AzureResourceSku:
    description: Azure resource SKU definition.
    properties:
      capacity:
        $ref: "#/definitions/AzureCapacity"
        description: The number of instances of the cluster.
      resourceType:
        description: Resource Namespace and Type.
        type: string
      sku:
        $ref: "#/definitions/AzureSku"
        description: The SKU details.
  AzureSku:
    description: Azure SKU definition.
    properties:
      capacity:
        description: The number of instances of the cluster.
        type: integer
      name:
        description: SKU name.
        enum:
          - Standard_DS13_v2+1TB_PS
          - Standard_DS13_v2+2TB_PS
          - Standard_DS14_v2+3TB_PS
          - Standard_DS14_v2+4TB_PS
          - Standard_D13_v2
          - Standard_D14_v2
          - Standard_L8s
          - Standard_L16s
          - Standard_D11_v2
          - Standard_D12_v2
          - Standard_L4s
          - Dev(No SLA)_Standard_D11_v2
        type: string
        x-ms-enum:
          modelAsString: true
          name: AzureSkuName
      tier:
        description: SKU tier.
        enum:
          - Basic
          - Standard
        type: string
        x-ms-enum:
          modelAsString: true
          name: AzureSkuTier
    required:
      - name
      - tier
    type: object
  CheckNameResult:
    description: The result returned from a check name availability request.
    properties:
      message:
        description: Message indicating an unavailable name due to a conflict, or a description of the naming rules that are violated.
        type: string
      name:
        description: The name that was checked.
        type: string
      nameAvailable:
        description: Specifies a Boolean value that indicates if the name is available.
        type: boolean
      reason:
        description: Message providing the reason why the given name is invalid.
        enum:
          - Invalid
          - AlreadyExists
        type: string
        x-ms-enum:
          modelAsString: true
          name: reason
    type: object
  CloudError:
    description: An error response from Kusto.
    properties:
      error:
        $ref: "#/definitions/CloudErrorBody"
        description: An error response from Kusto.
    x-ms-external: true
  CloudErrorBody:
    description: An error response from Kusto.
    properties:
      code:
        description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        type: string
      details:
        description: A list of additional details about the error.
        items:
          $ref: "#/definitions/CloudErrorBody"
        type: array
      message:
        description: A message describing the error, intended to be suitable for displaying in a user interface.
        type: string
      target:
        description: The target of the particular error. For example, the name of the property in error.
        type: string
    x-ms-external: true
  Cluster:
    allOf:
      - allOf:
          - properties:
              id:
                description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The geo-location where the resource lives
            type: string
            x-ms-mutability:
              - read
              - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
              - read
              - create
              - update
        required:
          - location
    description: Class representing a Kusto cluster.
    properties:
      properties:
        $ref: "#/definitions/ClusterProperties"
        description: The cluster properties.
        x-ms-client-flatten: true
      sku:
        $ref: "#/definitions/AzureSku"
        description: The SKU of the cluster.
      zones:
        $ref: "#/definitions/Zones"
        description: The availability zones of the cluster.
    required:
      - sku
  ClusterCheckNameRequest:
    description: The result returned from a cluster check name availability request.
    properties:
      name:
        description: Cluster name.
        type: string
      type:
        description: The type of resource, Microsoft.Kusto/clusters.
        enum:
          - Microsoft.Kusto/clusters
        type: string
        x-ms-enum:
          modelAsString: false
          name: Type
    required:
      - name
      - type
    type: object
  ClusterListResult:
    description: The list Kusto clusters operation response.
    properties:
      value:
        description: The list of Kusto clusters.
        items:
          $ref: "#/definitions/Cluster"
        type: array
  ClusterProperties:
    description: Class representing the Kusto cluster properties.
    properties:
      dataIngestionUri:
        description: The cluster data ingestion URI.
        readOnly: true
        type: string
      enableDiskEncryption:
        description: A boolean value that indicates if the cluster's disks are encrypted.
        type: boolean
      enableStreamingIngest:
        default: false
        description: A boolean value that indicates if the streaming ingest is enabled.
        type: boolean
      optimizedAutoscale:
        $ref: "#/definitions/OptimizedAutoscale"
        description: Optimized auto scale definition.
        type: object
      provisioningState:
        description: The provisioned state of the resource.
        enum:
          - Running
          - Creating
          - Deleting
          - Succeeded
          - Failed
          - Moving
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      state:
        description: The state of the resource.
        enum:
          - Creating
          - Unavailable
          - Running
          - Deleting
          - Deleted
          - Stopping
          - Stopped
          - Starting
          - Updating
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: State
      trustedExternalTenants:
        description: The cluster's external tenants.
        items:
          $ref: "#/definitions/TrustedExternalTenant"
        type: array
      uri:
        description: The cluster URI.
        readOnly: true
        type: string
      virtualNetworkConfiguration:
        $ref: "#/definitions/VirtualNetworkConfiguration"
        description: Virtual network definition.
        type: object
  ClusterUpdate:
    allOf:
      - properties:
          id:
            description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
            readOnly: true
            type: string
          name:
            description: The name of the resource
            readOnly: true
            type: string
          type:
            description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Class representing an update to a Kusto cluster.
    properties:
      location:
        description: Resource location.
        type: string
      properties:
        $ref: "#/definitions/ClusterProperties"
        description: The cluster properties.
        x-ms-client-flatten: true
      sku:
        $ref: "#/definitions/AzureSku"
        description: The SKU of the cluster.
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
        x-ms-mutability:
          - read
          - create
          - update
  DataConnection:
    allOf:
      - allOf:
          - properties:
              id:
                description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource. It will have everything other than required location and tags
    description: Class representing an data connection.
    discriminator: kind
    properties:
      kind:
        description: Kind of the endpoint for the data connection
        enum:
          - EventHub
          - EventGrid
          - IotHub
        type: string
        x-ms-enum:
          modelAsString: true
          name: Kind
      location:
        description: Resource location.
        type: string
    required:
      - kind
  DataConnectionCheckNameRequest:
    description: The result returned from a data connections check name availability request.
    properties:
      name:
        description: Data Connection name.
        type: string
      type:
        description: The type of resource, Microsoft.Kusto/clusters/databases/dataConnections.
        enum:
          - Microsoft.Kusto/clusters/databases/dataConnections
        type: string
        x-ms-enum:
          modelAsString: false
          name: Type
    required:
      - name
      - type
    type: object
  DataConnectionListResult:
    description: The list Kusto data connections operation response.
    properties:
      value:
        description: The list of Kusto data connections.
        items:
          $ref: "#/definitions/DataConnection"
        type: array
  DataConnectionValidation:
    description: Class representing an data connection validation.
    properties:
      dataConnectionName:
        description: The name of the data connection.
        type: string
      properties:
        $ref: "#/definitions/DataConnection"
        description: The data connection properties to validate.
  DataConnectionValidationListResult:
    description: The list Kusto data connection validation result.
    properties:
      value:
        description: The list of Kusto data connection validation errors.
        items:
          $ref: "#/definitions/DataConnectionValidationResult"
        type: array
  DataConnectionValidationResult:
    description: The result returned from a data connection validation request.
    properties:
      errorMessage:
        description: A message which indicates a problem in data connection validation.
        type: string
    type: object
  DataFormat:
    description: The data format of the message. Optionally the data format can be added to each message.
    enum:
      - MULTIJSON
      - JSON
      - CSV
      - TSV
      - SCSV
      - SOHSV
      - PSV
      - TXT
      - RAW
      - SINGLEJSON
      - AVRO
      - TSVE
    type: string
    x-ms-enum:
      modelAsString: true
      name: dataFormat
  Database:
    allOf:
      - allOf:
          - properties:
              id:
                description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource. It will have everything other than required location and tags
    description: Class representing a Kusto database.
    properties:
      location:
        description: Resource location.
        type: string
      properties:
        $ref: "#/definitions/DatabaseProperties"
        description: The database properties.
        x-ms-client-flatten: true
  DatabaseCheckNameRequest:
    description: The result returned from a database check name availability request.
    properties:
      name:
        description: Database name.
        type: string
      type:
        description: The type of resource, Microsoft.Kusto/clusters/databases.
        enum:
          - Microsoft.Kusto/clusters/databases
        type: string
        x-ms-enum:
          modelAsString: false
          name: Type
    required:
      - name
      - type
    type: object
  DatabaseListResult:
    description: The list Kusto databases operation response.
    properties:
      value:
        description: The list of Kusto databases.
        items:
          $ref: "#/definitions/Database"
        type: array
  DatabasePrincipal:
    description: A class representing database principal entity.
    properties:
      appId:
        description: Application id - relevant only for application principal type.
        type: string
      email:
        description: Database principal email if exists.
        type: string
      fqn:
        description: Database principal fully qualified name.
        type: string
      name:
        description: Database principal name.
        type: string
      role:
        description: Database principal role.
        enum:
          - Admin
          - Ingestor
          - Monitor
          - User
          - UnrestrictedViewers
          - Viewer
        type: string
        x-ms-enum:
          modelAsString: true
          name: DatabasePrincipalRole
      tenantName:
        description: The tenant name of the principal
        readOnly: true
        type: string
      type:
        description: Database principal type.
        enum:
          - App
          - Group
          - User
        type: string
        x-ms-enum:
          modelAsString: true
          name: DatabasePrincipalType
    required:
      - name
      - role
      - type
    type: object
  DatabasePrincipalListRequest:
    description: The list Kusto database principals operation request.
    properties:
      value:
        description: The list of Kusto database principals.
        items:
          $ref: "#/definitions/DatabasePrincipal"
        type: array
  DatabasePrincipalListResult:
    description: The list Kusto database principals operation response.
    properties:
      value:
        description: The list of Kusto database principals.
        items:
          $ref: "#/definitions/DatabasePrincipal"
        type: array
  DatabaseProperties:
    description: Class representing the Kusto database properties.
    properties:
      hotCachePeriod:
        description: The time the data should be kept in cache for fast queries in TimeSpan.
        format: duration
        type: string
      provisioningState:
        description: The provisioned state of the resource.
        enum:
          - Running
          - Creating
          - Deleting
          - Succeeded
          - Failed
          - Moving
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      softDeletePeriod:
        description: The time the data should be kept before it stops being accessible to queries in TimeSpan.
        format: duration
        type: string
      statistics:
        $ref: "#/definitions/DatabaseStatistics"
        description: The statistics of the database.
  DatabaseStatistics:
    description: A class that contains database statistics information.
    properties:
      size:
        description: The database size - the total size of compressed data and index in bytes.
        type: number
    readOnly: true
    type: object
  DatabaseUpdate:
    allOf:
      - properties:
          id:
            description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
            readOnly: true
            type: string
          name:
            description: The name of the resource
            readOnly: true
            type: string
          type:
            description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Class representing an update to a Kusto database.
    properties:
      location:
        description: Resource location.
        type: string
      properties:
        $ref: "#/definitions/DatabaseProperties"
        description: The properties of the updated database.
        x-ms-client-flatten: true
  EventGridConnectionProperties:
    description: Class representing the Kusto event grid connection properties.
    properties:
      consumerGroup:
        description: The event hub consumer group.
        type: string
      dataFormat:
        $ref: "#/definitions/DataFormat"
        description: The data format of the message. Optionally the data format can be added to each message.
      eventHubResourceId:
        description: The resource ID where the event grid is configured to send events.
        type: string
      mappingRuleName:
        description: The mapping rule to be used to ingest the data. Optionally the mapping information can be added to each message.
        type: string
      storageAccountResourceId:
        description: The resource ID of the storage account where the data resides.
        type: string
      tableName:
        description: The table where the data should be ingested. Optionally the table information can be added to each message.
        type: string
    required:
      - storageAccountResourceId
      - eventHubResourceId
      - consumerGroup
      - tableName
      - dataFormat
  EventGridDataConnection:
    allOf:
      - $ref: "#/definitions/DataConnection"
    description: Class representing an Event Grid data connection.
    properties:
      properties:
        $ref: "#/definitions/EventGridConnectionProperties"
        description: The properties of the Event Grid data connection.
        x-ms-client-flatten: true
    x-ms-discriminator-value: EventGrid
  EventHubConnectionProperties:
    description: Class representing the Kusto event hub connection properties.
    properties:
      consumerGroup:
        description: The event hub consumer group.
        type: string
      dataFormat:
        $ref: "#/definitions/DataFormat"
        description: The data format of the message. Optionally the data format can be added to each message.
      eventHubResourceId:
        description: The resource ID of the event hub to be used to create a data connection.
        type: string
      eventSystemProperties:
        description: System properties of the event hub
        items:
          type: string
        type: array
      mappingRuleName:
        description: The mapping rule to be used to ingest the data. Optionally the mapping information can be added to each message.
        type: string
      tableName:
        description: The table where the data should be ingested. Optionally the table information can be added to each message.
        type: string
    required:
      - eventHubResourceId
      - consumerGroup
  EventHubDataConnection:
    allOf:
      - $ref: "#/definitions/DataConnection"
    description: Class representing an event hub data connection.
    properties:
      properties:
        $ref: "#/definitions/EventHubConnectionProperties"
        description: The Event Hub data connection properties to validate.
        x-ms-client-flatten: true
    x-ms-discriminator-value: EventHub
  IotHubConnectionProperties:
    description: Class representing the Kusto iot hub connection properties.
    properties:
      consumerGroup:
        description: The iot hub consumer group.
        type: string
      dataFormat:
        $ref: "#/definitions/DataFormat"
        description: The data format of the message. Optionally the data format can be added to each message.
      eventSystemProperties:
        description: System properties of the iot hub
        items:
          type: string
        type: array
      iotHubResourceId:
        description: The resource ID of the Iot hub to be used to create a data connection.
        type: string
      mappingRuleName:
        description: The mapping rule to be used to ingest the data. Optionally the mapping information can be added to each message.
        type: string
      sharedAccessPolicyName:
        description: The name of the share access policy name
        type: string
      tableName:
        description: The table where the data should be ingested. Optionally the table information can be added to each message.
        type: string
    required:
      - iotHubResourceId
      - consumerGroup
      - sharedAccessPolicyName
  IotHubDataConnection:
    allOf:
      - $ref: "#/definitions/DataConnection"
    description: Class representing an iot hub data connection.
    properties:
      properties:
        $ref: "#/definitions/IotHubConnectionProperties"
        description: The Iot Hub data connection properties.
        x-ms-client-flatten: true
    x-ms-discriminator-value: IotHub
  ListResourceSkusResult:
    description: List of available SKUs for a Kusto Cluster.
    properties:
      value:
        description: The collection of available SKUs for an existing resource.
        items:
          $ref: "#/definitions/AzureResourceSku"
        type: array
    type: object
  Operation:
    properties:
      display:
        properties:
          description:
            title: The friendly name of the operation.
            type: string
          operation:
            description: "For example: read, write, delete."
            title: The operation type.
            type: string
          provider:
            title: Friendly name of the resource provider.
            type: string
          resource:
            title: The resource type on which the operation is performed.
            type: string
        title: The object that describes the operation.
      name:
        description: This is of the format {provider}/{resource}/{operation}.
        title: The operation name.
        type: string
      origin:
        title: The intended executor of the operation.
        type: string
      properties:
        title: Properties of the operation.
        type: object
        x-ms-client-flatten: true
    title: A REST API operation
    type: object
  OperationListResult:
    properties:
      nextLink:
        title: The URL to get the next set of operation list results if there are any.
        type: string
      value:
        items:
          $ref: "#/definitions/Operation"
        title: The list of operations supported by the resource provider.
        type: array
    title: Result of the request to list REST API operations. It contains a list of operations and a URL nextLink to get the next set of results.
  OptimizedAutoscale:
    description: A class that contains the optimized auto scale definition.
    properties:
      isEnabled:
        description: A boolean value that indicate if the optimized autoscale feature is enabled or not.
        type: boolean
      maximum:
        description: Maximum allowed instances count.
        type: integer
      minimum:
        description: Minimum allowed instances count.
        type: integer
      version:
        description: The version of the template defined, for instance 1.
        type: integer
    required:
      - version
      - isEnabled
      - minimum
      - maximum
    type: object
  SkuDescription:
    description: The Kusto SKU description of given resource type
    properties:
      locationInfo:
        description: Locations and zones
        items:
          $ref: "#/definitions/SkuLocationInfoItem"
        readOnly: true
        type: array
      locations:
        description: The set of locations that the SKU is available
        items:
          type: string
        readOnly: true
        type: array
      name:
        description: The name of the SKU
        readOnly: true
        type: string
      resourceType:
        description: The resource type
        readOnly: true
        type: string
      restrictions:
        description: The restrictions because of which SKU cannot be used
        items:
          type: object
        readOnly: true
        type: array
      tier:
        description: The tier of the SKU
        readOnly: true
        type: string
    type: object
  SkuDescriptionList:
    description: The list of the EngagementFabric SKU descriptions
    properties:
      value:
        description: SKU descriptions
        items:
          $ref: "#/definitions/SkuDescription"
        readOnly: true
        type: array
    type: object
  SkuLocationInfoItem:
    description: The locations and zones info for SKU.
    properties:
      location:
        description: The available location of the SKU.
        type: string
      zones:
        description: The available zone of the SKU.
        items:
          type: string
        type: array
    required:
      - location
    type: object
  TrustedExternalTenant:
    description: Represents a tenant ID that is trusted by the cluster.
    properties:
      value:
        description: GUID representing an external tenant.
        type: string
  VirtualNetworkConfiguration:
    description: A class that contains virtual network definition.
    properties:
      dataManagementPublicIpId:
        description: Data management's service public IP address resource id.
        type: string
      enginePublicIpId:
        description: Engine service's public IP address resource id.
        type: string
      subnetId:
        description: The subnet resource id.
        type: string
    required:
      - subnetId
      - enginePublicIpId
      - dataManagementPublicIpId
    type: object
  Zones:
    description: An array represents the availability zones of the cluster.
    items:
      type: string
    type: array
