swagger: "2.0"
schemes:
  - https
host: devdata.osisoft.com
basePath: /piwebapi
info:
  contact:
    email: techsupport@osisoft.com
    name: OSIsoft, LLC.
    url: https://techsupport.osisoft.com/
  description: Swagger Spec file that describes PI Web API
  license:
    name: Apache 2.0 License
    url: http://tempuri.org/license
  termsOfService: https://pisquare.osisoft.com/docs/DOC-1105
  title: PI Web API 2018 SP1 Swagger Spec
  version: 1.11.1.5383
  x-apisguru-categories:
    - enterprise
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_OSIsoft_profile_image.jpeg
  x-origin:
    - format: swagger
      url: https://devdata.osisoft.com/piwebapi/help/specification
      version: "2.0"
  x-providerName: osisoft.com
paths:
  /:
    get:
      consumes: []
      deprecated: false
      operationId: Home_Get
      parameters: []
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: Links to top level collections and system information.
          schema:
            $ref: "#/definitions/Landing"
      summary: Get top level links for this PI System Web API instance.
      tags:
        - Home
  /analyses:
    get:
      consumes: []
      deprecated: false
      description: This method returns an Analysis based on the hierarchical path associated with it, and should be used when a path has been received from a separate part of the PI System for use in the PI Web API. Users should primarily search with the WebID when available.
      operationId: Analysis_GetByPath
      parameters:
        - description: The path to the Analysis.
          in: query
          name: path
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The specified Analysis.
          schema:
            $ref: "#/definitions/Analysis"
      summary: Retrieve an Analysis by path.
      tags:
        - Analysis
  /analyses/search:
    get:
      consumes: []
      deprecated: false
      operationId: Analysis_GetAnalysesQuery
      parameters:
        - description: The ID of the asset database to use as the root of the query.
          in: query
          name: databaseWebId
          required: false
          type: string
        - description: The maximum number of objects to be returned per call (page size). The default is 1000.
          in: query
          name: maxCount
          required: false
          type: integer
        - description: 'The query string is a list of filters used to perform an AFSearch for the analyses in the asset database. An example would be: "query= Name:=MyAnalysis1* Template:=AnalysisTemplate".'
          in: query
          name: query
          required: false
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: The starting index (zero based) of the items to be returned. The default is 0.
          in: query
          name: startIndex
          required: false
          type: integer
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: A list of analyses matching the specified conditions.
          schema:
            $ref: "#/definitions/Items[Analysis]"
      summary: Retrieve analyses based on the specified conditions. By default, returns all analyses.
      tags:
        - Analysis
  "/analyses/{webId}":
    delete:
      consumes: []
      deprecated: false
      operationId: Analysis_Delete
      parameters:
        - description: The ID of the Analysis to delete.
          in: path
          name: webId
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "204":
          description: The Analysis was deleted.
      summary: Delete an Analysis.
      tags:
        - Analysis
    get:
      consumes: []
      deprecated: false
      operationId: Analysis_Get
      parameters:
        - description: The ID of the Analysis.
          in: path
          name: webId
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The specified Analysis.
          schema:
            $ref: "#/definitions/Analysis"
      summary: Retrieve an Analysis.
      tags:
        - Analysis
    patch:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: Analysis_Update
      parameters:
        - description: The ID of the Analysis to update.
          in: path
          name: webId
          required: true
          type: string
        - description: A partial Analysis containing the desired changes.
          in: body
          name: analysis
          required: true
          schema:
            $ref: "#/definitions/Analysis"
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "204":
          description: The Analysis was updated.
      summary: Update an Analysis.
      tags:
        - Analysis
  "/analyses/{webId}/categories":
    get:
      consumes: []
      deprecated: false
      operationId: Analysis_GetCategories
      parameters:
        - description: The ID of the Analysis.
          in: path
          name: webId
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: A list of categories.
          schema:
            $ref: "#/definitions/Items[AnalysisCategory]"
      summary: Get an Analysis' categories.
      tags:
        - Analysis
  "/analyses/{webId}/security":
    get:
      consumes: []
      deprecated: false
      operationId: Analysis_GetSecurity
      parameters:
        - description: The ID of the Analysis for the security to be checked.
          in: path
          name: webId
          required: true
          type: string
        - collectionFormat: multi
          description: The user identity for the security information to be checked. Multiple security identities may be specified with multiple instances of the parameter. If the parameter is not specified, only the current user's security rights will be returned.
          in: query
          items:
            type: string
          name: userIdentity
          required: true
          type: array
        - description: Indicates if the security cache should be refreshed before getting security information. The default is 'false'.
          in: query
          name: forceRefresh
          required: false
          type: boolean
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: Security rights.
          schema:
            $ref: "#/definitions/Items[SecurityRights]"
        "400":
          description: An invalid or local account is specified as the user identity.
          schema:
            $ref: "#/definitions/Errors"
        "401":
          description: Access denied for the specified user identity.
          schema:
            $ref: "#/definitions/Errors"
        "409":
          description: Unsupported when using Anonymous authentication method.
          schema:
            $ref: "#/definitions/Errors"
        "502":
          description: Failed to retrieve the specified user identity.
          schema:
            $ref: "#/definitions/Errors"
      summary: Get the security information of the specified security item associated with the Analysis for a specified user.
      tags:
        - Analysis
  "/analyses/{webId}/securityentries":
    get:
      consumes: []
      deprecated: false
      operationId: Analysis_GetSecurityEntries
      parameters:
        - description: The ID of the analysis.
          in: path
          name: webId
          required: true
          type: string
        - description: The name query string used for filtering security entries. The default is no filter.
          in: query
          name: nameFilter
          required: false
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: A list of security entries matching the specified condition.
          schema:
            $ref: "#/definitions/Items[SecurityEntry]"
      summary: Retrieve the security entries associated with the analysis based on the specified criteria. By default, all security entries for this analysis are returned.
      tags:
        - Analysis
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: Analysis_CreateSecurityEntry
      parameters:
        - description: The ID of the analysis, where the security entry will be created.
          in: path
          name: webId
          required: true
          type: string
        - description: The new security entry definition. The full list of allow and deny rights must be supplied.
          in: body
          name: securityEntry
          required: true
          schema:
            $ref: "#/definitions/SecurityEntry"
        - description: If false, the new access permissions are only applied to the associated object. If true, the access permissions of children with any parent-child reference types will change when the permissions on the primary parent change.
          in: query
          name: applyToChildren
          required: false
          type: boolean
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "201":
          description: The security entry was created. The response's Location header is a link to the security entry.
      summary: Create a security entry owned by the analysis.
      tags:
        - Analysis
  "/analyses/{webId}/securityentries/{name}":
    delete:
      consumes: []
      deprecated: false
      operationId: Analysis_DeleteSecurityEntry
      parameters:
        - description: The name of the security entry. For every backslash character (\) in the security entry name, replace with asterisk (*). As an example, use domain*username instead of domain\username.
          in: path
          name: name
          required: true
          type: string
        - description: The ID of the analysis, where the security entry will be deleted.
          in: path
          name: webId
          required: true
          type: string
        - description: If false, the new access permissions are only applied to the associated object. If true, the access permissions of children with any parent-child reference types will change when the permissions on the primary parent change.
          in: query
          name: applyToChildren
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "204":
          description: The security entry was deleted.
      summary: Delete a security entry owned by the analysis.
      tags:
        - Analysis
    get:
      consumes: []
      deprecated: false
      operationId: Analysis_GetSecurityEntryByName
      parameters:
        - description: The name of the security entry. For every backslash character (\) in the security entry name, replace with asterisk (*). As an example, use domain*username instead of domain\username.
          in: path
          name: name
          required: true
          type: string
        - description: The ID of the analysis.
          in: path
          name: webId
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The security entry matching the specified condition.
          schema:
            $ref: "#/definitions/SecurityEntry"
        "404":
          description: The security entry with the specified name is not found.
          schema:
            $ref: "#/definitions/Errors"
      summary: Retrieve the security entry associated with the analysis with the specified name.
      tags:
        - Analysis
    put:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: Analysis_UpdateSecurityEntry
      parameters:
        - description: The name of the security entry.
          in: path
          name: name
          required: true
          type: string
        - description: The ID of the analysis, where the security entry will be updated.
          in: path
          name: webId
          required: true
          type: string
        - description: The new security entry definition. The full list of allow and deny rights must be supplied or they will be removed.
          in: body
          name: securityEntry
          required: true
          schema:
            $ref: "#/definitions/SecurityEntry"
        - description: If false, the new access permissions are only applied to the associated object. If true, the access permissions of children with any parent-child reference types will change when the permissions on the primary parent change.
          in: query
          name: applyToChildren
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "204":
          description: The security entry was updated.
      summary: Update a security entry owned by the analysis.
      tags:
        - Analysis
  /analysiscategories:
    get:
      consumes: []
      deprecated: false
      operationId: AnalysisCategory_GetByPath
      parameters:
        - description: The path to the target analysis category.
          in: query
          name: path
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The specified analysis category.
          schema:
            $ref: "#/definitions/AnalysisCategory"
      summary: Retrieve an analysis category by path.
      tags:
        - AnalysisCategory
  "/analysiscategories/{webId}":
    delete:
      consumes: []
      deprecated: false
      operationId: AnalysisCategory_Delete
      parameters:
        - description: The ID of the analysis category to delete.
          in: path
          name: webId
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "204":
          description: The analysis category was deleted.
      summary: Delete an analysis category.
      tags:
        - AnalysisCategory
    get:
      consumes: []
      deprecated: false
      operationId: AnalysisCategory_Get
      parameters:
        - description: The ID of the analysis category.
          in: path
          name: webId
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The specified analysis category.
          schema:
            $ref: "#/definitions/AnalysisCategory"
      summary: Retrieve an analysis category.
      tags:
        - AnalysisCategory
    patch:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: AnalysisCategory_Update
      parameters:
        - description: The ID of the analysis category to update.
          in: path
          name: webId
          required: true
          type: string
        - description: A partial analysis category containing the desired changes.
          in: body
          name: category
          required: true
          schema:
            $ref: "#/definitions/AnalysisCategory"
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "204":
          description: The analysis category was updated.
      summary: Update an analysis category by replacing items in its definition.
      tags:
        - AnalysisCategory
  "/analysiscategories/{webId}/security":
    get:
      consumes: []
      deprecated: false
      operationId: AnalysisCategory_GetSecurity
      parameters:
        - description: The ID of the analysis category for the security to be checked.
          in: path
          name: webId
          required: true
          type: string
        - collectionFormat: multi
          description: The user identity for the security information to be checked. Multiple security identities may be specified with multiple instances of the parameter. If the parameter is not specified, only the current user's security rights will be returned.
          in: query
          items:
            type: string
          name: userIdentity
          required: true
          type: array
        - description: Indicates if the security cache should be refreshed before getting security information. The default is 'false'.
          in: query
          name: forceRefresh
          required: false
          type: boolean
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: Security rights.
          schema:
            $ref: "#/definitions/Items[SecurityRights]"
        "400":
          description: An invalid or local account is specified as the user identity.
          schema:
            $ref: "#/definitions/Errors"
        "401":
          description: Access denied for the specified user identity.
          schema:
            $ref: "#/definitions/Errors"
        "409":
          description: Unsupported when using Anonymous authentication method.
          schema:
            $ref: "#/definitions/Errors"
        "502":
          description: Failed to retrieve the specified user identity.
          schema:
            $ref: "#/definitions/Errors"
      summary: Get the security information of the specified security item associated with the analysis category for a specified user.
      tags:
        - AnalysisCategory
  "/analysiscategories/{webId}/securityentries":
    get:
      consumes: []
      deprecated: false
      operationId: AnalysisCategory_GetSecurityEntries
      parameters:
        - description: The ID of the analysis category.
          in: path
          name: webId
          required: true
          type: string
        - description: The name query string used for filtering security entries. The default is no filter.
          in: query
          name: nameFilter
          required: false
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: A list of security entries matching the specified condition.
          schema:
            $ref: "#/definitions/Items[SecurityEntry]"
      summary: Retrieve the security entries associated with the analysis category based on the specified criteria. By default, all security entries for this analysis category are returned.
      tags:
        - AnalysisCategory
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: AnalysisCategory_CreateSecurityEntry
      parameters:
        - description: The ID of the analysis category, where the security entry will be created.
          in: path
          name: webId
          required: true
          type: string
        - description: The new security entry definition. The full list of allow and deny rights must be supplied.
          in: body
          name: securityEntry
          required: true
          schema:
            $ref: "#/definitions/SecurityEntry"
        - description: If false, the new access permissions are only applied to the associated object. If true, the access permissions of children with any parent-child reference types will change when the permissions on the primary parent change.
          in: query
          name: applyToChildren
          required: false
          type: boolean
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "201":
          description: The security entry was created. The response's Location header is a link to the security entry.
      summary: Create a security entry owned by the analysis category.
      tags:
        - AnalysisCategory
  "/analysiscategories/{webId}/securityentries/{name}":
    delete:
      consumes: []
      deprecated: false
      operationId: AnalysisCategory_DeleteSecurityEntry
      parameters:
        - description: The name of the security entry. For every backslash character (\) in the security entry name, replace with asterisk (*). As an example, use domain*username instead of domain\username.
          in: path
          name: name
          required: true
          type: string
        - description: The ID of the analysis category, where the security entry will be deleted.
          in: path
          name: webId
          required: true
          type: string
        - description: If false, the new access permissions are only applied to the associated object. If true, the access permissions of children with any parent-child reference types will change when the permissions on the primary parent change.
          in: query
          name: applyToChildren
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "204":
          description: The security entry was deleted.
      summary: Delete a security entry owned by the analysis category.
      tags:
        - AnalysisCategory
    get:
      consumes: []
      deprecated: false
      operationId: AnalysisCategory_GetSecurityEntryByName
      parameters:
        - description: The name of the security entry. For every backslash character (\) in the security entry name, replace with asterisk (*). As an example, use domain*username instead of domain\username.
          in: path
          name: name
          required: true
          type: string
        - description: The ID of the analysis category.
          in: path
          name: webId
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The security entry matching the specified condition.
          schema:
            $ref: "#/definitions/SecurityEntry"
        "404":
          description: The security entry with the specified name is not found.
          schema:
            $ref: "#/definitions/Errors"
      summary: Retrieve the security entry associated with the analysis category with the specified name.
      tags:
        - AnalysisCategory
    put:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: AnalysisCategory_UpdateSecurityEntry
      parameters:
        - description: The name of the security entry.
          in: path
          name: name
          required: true
          type: string
        - description: The ID of the analysis category, where the security entry will be updated.
          in: path
          name: webId
          required: true
          type: string
        - description: The new security entry definition. The full list of allow and deny rights must be supplied or they will be removed.
          in: body
          name: securityEntry
          required: true
          schema:
            $ref: "#/definitions/SecurityEntry"
        - description: If false, the new access permissions are only applied to the associated object. If true, the access permissions of children with any parent-child reference types will change when the permissions on the primary parent change.
          in: query
          name: applyToChildren
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "204":
          description: The security entry was updated.
      summary: Update a security entry owned by the analysis category.
      tags:
        - AnalysisCategory
  /analysisruleplugins:
    get:
      consumes: []
      deprecated: false
      description: This method returns an Analysis Rule Plug-in based on the hierarchical path associated with it, and should be used when a path has been received from a separate part of the PI System for use in the PI Web API. Users should primarily search with the WebID when available.
      operationId: AnalysisRulePlugIn_GetByPath
      parameters:
        - description: The path to the Analysis Rule Plug-in.
          in: query
          name: path
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The specified Analysis Rule Plug-in.
          schema:
            $ref: "#/definitions/AnalysisRulePlugIn"
      summary: Retrieve an Analysis Rule Plug-in by path.
      tags:
        - AnalysisRulePlugIn
  "/analysisruleplugins/{webId}":
    get:
      consumes: []
      deprecated: false
      operationId: AnalysisRulePlugIn_Get
      parameters:
        - description: The ID of the Analysis Rule Plug-in.
          in: path
          name: webId
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The specified Analysis Rule Plug-in.
          schema:
            $ref: "#/definitions/AnalysisRulePlugIn"
      summary: Retrieve an Analysis Rule Plug-in.
      tags:
        - AnalysisRulePlugIn
  /analysisrules:
    get:
      consumes: []
      deprecated: false
      description: This method returns an Analysis Rule based on the hierarchical path associated with it, and should be used when a path has been received from a separate part of the PI System for use in the PI Web API. Users should primarily search with the WebID when available.
      operationId: AnalysisRule_GetByPath
      parameters:
        - description: The path to the Analysis Rule.
          in: query
          name: path
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The requested Analysis Rule.
          schema:
            $ref: "#/definitions/AnalysisRule"
      summary: Retrieve an Analysis Rule by path.
      tags:
        - AnalysisRule
  "/analysisrules/{webId}":
    delete:
      consumes: []
      deprecated: false
      operationId: AnalysisRule_Delete
      parameters:
        - description: The ID of the Analysis Rule.
          in: path
          name: webId
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "204":
          description: The Analysis Rule was deleted.
      summary: Delete an Analysis Rule.
      tags:
        - AnalysisRule
    get:
      consumes: []
      deprecated: false
      operationId: AnalysisRule_Get
      parameters:
        - description: The ID of the Analysis Rule.
          in: path
          name: webId
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The requested Analysis Rule.
          schema:
            $ref: "#/definitions/AnalysisRule"
      summary: Retrieve an Analysis Rule.
      tags:
        - AnalysisRule
    patch:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: AnalysisRule_Update
      parameters:
        - description: The ID of the Analysis Rule.
          in: path
          name: webId
          required: true
          type: string
        - description: A partial Analysis Rule containing the desired changes.
          in: body
          name: analysisRule
          required: true
          schema:
            $ref: "#/definitions/AnalysisRule"
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "204":
          description: The Analysis Rule was updated.
      summary: Update an Analysis Rule by replacing items in its definition.
      tags:
        - AnalysisRule
  "/analysisrules/{webId}/analysisrules":
    get:
      consumes: []
      deprecated: false
      operationId: AnalysisRule_GetAnalysisRules
      parameters:
        - description: The ID of the parent Analysis Rule.
          in: path
          name: webId
          required: true
          type: string
        - description: The maximum number of objects to be returned per call (page size). The default is 1000.
          in: query
          name: maxCount
          required: false
          type: integer
        - description: The name query string used for finding Analysis Rules. The default is no filter.
          in: query
          name: nameFilter
          required: false
          type: string
        - description: Specifies if the search should include Analysis Rules nested further than the immediate children of the searchRoot. The default is 'false'.
          in: query
          name: searchFullHierarchy
          required: false
          type: boolean
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: The field or property of the object used to sort the returned collection. The default is 'Name'.
          in: query
          name: sortField
          required: false
          type: string
        - description: The order that the returned collection is sorted. The default is 'Ascending'.
          in: query
          name: sortOrder
          required: false
          type: string
        - description: The starting index (zero based) of the items to be returned. The default is 0.
          in: query
          name: startIndex
          required: false
          type: integer
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: A list of child Analysis Rules.
          schema:
            $ref: "#/definitions/Items[AnalysisRule]"
      summary: Get the child Analysis Rules of the Analysis Rule.
      tags:
        - AnalysisRule
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: AnalysisRule_CreateAnalysisRule
      parameters:
        - description: The ID of the parent Analysis Rule, on which to create the child Analysis Rule.
          in: path
          name: webId
          required: true
          type: string
        - description: The definition of the new Analysis Rule.
          in: body
          name: analysisRule
          required: true
          schema:
            $ref: "#/definitions/AnalysisRule"
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "201":
          description: The Analysis Rule was created. The response's Location header is a link to the created Analysis Rule.
      summary: Create a new Analysis Rule as a child of an existing Analysis Rule.
      tags:
        - AnalysisRule
  /analysistemplates:
    get:
      consumes: []
      deprecated: false
      description: This method returns an analysis template based on the hierarchical path associated with it, and should be used when a path has been received from a separate part of the PI System for use in the PI Web API. Users should primarily search with the WebID when available.
      operationId: AnalysisTemplate_GetByPath
      parameters:
        - description: The path to the analysis template.
          in: query
          name: path
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The specified analysis template.
          schema:
            $ref: "#/definitions/AnalysisTemplate"
      summary: Retrieve an analysis template by path.
      tags:
        - AnalysisTemplate
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: AnalysisTemplate_CreateFromAnalysis
      parameters:
        - description: The ID of the Analysis, on which the template is created.
          in: query
          name: analysisWebId
          required: true
          type: string
        - description: The name for the created template, which must be unique within the database's AnalysisTemplate collection. If the name ends with an asterisk (*), then a unique name will be generated based on the supplied name. The default is the specified Analysis' name suffixed with an asterisk (*).
          in: query
          name: name
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "201":
          description: The Analysis Template was created. The response's Location header is a link to the created Analysis Template.
      summary: Create an Analysis template based upon a specified Analysis.
      tags:
        - AnalysisTemplate
  /analysistemplates/search:
    get:
      consumes: []
      deprecated: false
      operationId: AnalysisTemplate_GetAnalysisTemplatesQuery
      parameters:
        - description: The ID of the asset database to use as the root of the query.
          in: query
          name: databaseWebId
          required: false
          type: string
        - description: The maximum number of objects to be returned per call (page size). The default is 1000.
          in: query
          name: maxCount
          required: false
          type: integer
        - description: 'The query string is a list of filters used to perform an AFSearch for the analyses in the asset database. An example would be: "query= Name:=MyAnalysisTemplate1*".'
          in: query
          name: query
          required: false
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: The starting index (zero based) of the items to be returned. The default is 0.
          in: query
          name: startIndex
          required: false
          type: integer
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: A list of analysis templates matching the specified conditions.
          schema:
            $ref: "#/definitions/Items[AnalysisTemplate]"
      summary: Retrieve analysis templates based on the specified conditions. By default, returns all analysis templates.
      tags:
        - AnalysisTemplate
  "/analysistemplates/{webId}":
    delete:
      consumes: []
      deprecated: false
      description: Deleting an analysis template will delete any analysis which was created from it, unless the analysis is tied to a notification.
      operationId: AnalysisTemplate_Delete
      parameters:
        - description: The ID of the analysis template to update.
          in: path
          name: webId
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "204":
          description: The analysis template was deleted.
      summary: Delete an analysis template.
      tags:
        - AnalysisTemplate
    get:
      consumes: []
      deprecated: false
      operationId: AnalysisTemplate_Get
      parameters:
        - description: The ID of the analysis template.
          in: path
          name: webId
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The specified analysis template.
          schema:
            $ref: "#/definitions/AnalysisTemplate"
      summary: Retrieve an analysis template.
      tags:
        - AnalysisTemplate
    patch:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: AnalysisTemplate_Update
      parameters:
        - description: The ID of the analysis template to update.
          in: path
          name: webId
          required: true
          type: string
        - description: A partial analysis template containing the desired changes.
          in: body
          name: template
          required: true
          schema:
            $ref: "#/definitions/AnalysisTemplate"
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "204":
          description: The analysis template was updated.
      summary: Update an analysis template by replacing items in its definition.
      tags:
        - AnalysisTemplate
  "/analysistemplates/{webId}/categories":
    get:
      consumes: []
      deprecated: false
      operationId: AnalysisTemplate_GetCategories
      parameters:
        - description: The ID of the analysis template.
          in: path
          name: webId
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: A list of categories.
          schema:
            $ref: "#/definitions/Items[AnalysisCategory]"
      summary: Get an analysis template's categories.
      tags:
        - AnalysisTemplate
  "/analysistemplates/{webId}/security":
    get:
      consumes: []
      deprecated: false
      operationId: AnalysisTemplate_GetSecurity
      parameters:
        - description: The ID of the analysis template for the security to be checked.
          in: path
          name: webId
          required: true
          type: string
        - collectionFormat: multi
          description: The user identity for the security information to be checked. Multiple security identities may be specified with multiple instances of the parameter. If the parameter is not specified, only the current user's security rights will be returned.
          in: query
          items:
            type: string
          name: userIdentity
          required: true
          type: array
        - description: Indicates if the security cache should be refreshed before getting security information. The default is 'false'.
          in: query
          name: forceRefresh
          required: false
          type: boolean
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: Security rights.
          schema:
            $ref: "#/definitions/Items[SecurityRights]"
        "400":
          description: An invalid or local account is specified as the user identity.
          schema:
            $ref: "#/definitions/Errors"
        "401":
          description: Access denied for the specified user identity.
          schema:
            $ref: "#/definitions/Errors"
        "409":
          description: Unsupported when using Anonymous authentication method.
          schema:
            $ref: "#/definitions/Errors"
        "502":
          description: Failed to retrieve the specified user identity.
          schema:
            $ref: "#/definitions/Errors"
      summary: Get the security information of the specified security item associated with the analysis template for a specified user.
      tags:
        - AnalysisTemplate
  "/analysistemplates/{webId}/securityentries":
    get:
      consumes: []
      deprecated: false
      operationId: AnalysisTemplate_GetSecurityEntries
      parameters:
        - description: The ID of the analysis template.
          in: path
          name: webId
          required: true
          type: string
        - description: The name query string used for filtering security entries. The default is no filter.
          in: query
          name: nameFilter
          required: false
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: A list of security entries matching the specified condition.
          schema:
            $ref: "#/definitions/Items[SecurityEntry]"
      summary: Retrieve the security entries associated with the analysis template based on the specified criteria. By default, all security entries for this analysis template are returned.
      tags:
        - AnalysisTemplate
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: AnalysisTemplate_CreateSecurityEntry
      parameters:
        - description: The ID of the analysis template, where the security entry will be created.
          in: path
          name: webId
          required: true
          type: string
        - description: The new security entry definition. The full list of allow and deny rights must be supplied.
          in: body
          name: securityEntry
          required: true
          schema:
            $ref: "#/definitions/SecurityEntry"
        - description: If false, the new access permissions are only applied to the associated object. If true, the access permissions of children with any parent-child reference types will change when the permissions on the primary parent change.
          in: query
          name: applyToChildren
          required: false
          type: boolean
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "201":
          description: The security entry was created. The response's Location header is a link to the security entry.
      summary: Create a security entry owned by the analysis template.
      tags:
        - AnalysisTemplate
  "/analysistemplates/{webId}/securityentries/{name}":
    delete:
      consumes: []
      deprecated: false
      operationId: AnalysisTemplate_DeleteSecurityEntry
      parameters:
        - description: The name of the security entry. For every backslash character (\) in the security entry name, replace with asterisk (*). As an example, use domain*username instead of domain\username.
          in: path
          name: name
          required: true
          type: string
        - description: The ID of the analysis template, where the security entry will be deleted.
          in: path
          name: webId
          required: true
          type: string
        - description: If false, the new access permissions are only applied to the associated object. If true, the access permissions of children with any parent-child reference types will change when the permissions on the primary parent change.
          in: query
          name: applyToChildren
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "204":
          description: The security entry was deleted.
      summary: Delete a security entry owned by the analysis template.
      tags:
        - AnalysisTemplate
    get:
      consumes: []
      deprecated: false
      operationId: AnalysisTemplate_GetSecurityEntryByName
      parameters:
        - description: The name of the security entry. For every backslash character (\) in the security entry name, replace with asterisk (*). As an example, use domain*username instead of domain\username.
          in: path
          name: name
          required: true
          type: string
        - description: The ID of the analysis template.
          in: path
          name: webId
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The security entry matching the specified condition.
          schema:
            $ref: "#/definitions/SecurityEntry"
        "404":
          description: The security entry with the specified name is not found.
          schema:
            $ref: "#/definitions/Errors"
      summary: Retrieve the security entry associated with the analysis template with the specified name.
      tags:
        - AnalysisTemplate
    put:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: AnalysisTemplate_UpdateSecurityEntry
      parameters:
        - description: The name of the security entry.
          in: path
          name: name
          required: true
          type: string
        - description: The ID of the analysis template, where the security entry will be updated.
          in: path
          name: webId
          required: true
          type: string
        - description: The new security entry definition. The full list of allow and deny rights must be supplied or they will be removed.
          in: body
          name: securityEntry
          required: true
          schema:
            $ref: "#/definitions/SecurityEntry"
        - description: If false, the new access permissions are only applied to the associated object. If true, the access permissions of children with any parent-child reference types will change when the permissions on the primary parent change.
          in: query
          name: applyToChildren
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "204":
          description: The security entry was updated.
      summary: Update a security entry owned by the analysis template.
      tags:
        - AnalysisTemplate
  /assetdatabases:
    get:
      consumes: []
      deprecated: false
      description: This method returns an asset database based on the hierarchical path associated with it, and should be used when a path has been received from a separate part of the PI System for use in the PI Web API. Users should primarily search with the WebID when available.
      operationId: AssetDatabase_GetByPath
      parameters:
        - description: The path to the database.
          in: query
          name: path
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The specified database.
          schema:
            $ref: "#/definitions/AssetDatabase"
      summary: Retrieve an Asset Database by path.
      tags:
        - AssetDatabase
  "/assetdatabases/{webId}":
    delete:
      consumes: []
      deprecated: false
      operationId: AssetDatabase_Delete
      parameters:
        - description: The ID of the database.
          in: path
          name: webId
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "204":
          description: The database was deleted.
      summary: Delete an asset database.
      tags:
        - AssetDatabase
    get:
      consumes: []
      deprecated: false
      operationId: AssetDatabase_Get
      parameters:
        - description: The ID of the database.
          in: path
          name: webId
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The specified database.
          schema:
            $ref: "#/definitions/AssetDatabase"
      summary: Retrieve an Asset Database.
      tags:
        - AssetDatabase
    patch:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: AssetDatabase_Update
      parameters:
        - description: The ID of the database.
          in: path
          name: webId
          required: true
          type: string
        - description: A partial database containing the desired changes.
          in: body
          name: database
          required: true
          schema:
            $ref: "#/definitions/AssetDatabase"
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "204":
          description: The database was updated.
      summary: Update an asset database by replacing items in its definition.
      tags:
        - AssetDatabase
  "/assetdatabases/{webId}/analyses":
    get:
      consumes: []
      deprecated: false
      description: Users can search for the analyses based on specific search parameters. If no parameters are specified in the search, the default values for each parameter will be used and will return the analyses that match the default search.
      operationId: AssetDatabase_FindAnalyses
      parameters:
        - description: The ID of the database to search for the analyses.
          in: path
          name: webId
          required: true
          type: string
        - collectionFormat: multi
          description: Specifies which of the object's properties are searched. Multiple search fields may be specified with multiple instances of the parameter. The default is 'Name'.
          in: query
          items:
            type: string
          name: field
          required: true
          type: array
        - description: The maximum number of objects to be returned per call (page size). The default is 1000.
          in: query
          name: maxCount
          required: false
          type: integer
        - description: The query string used for finding analyses. The default is null.
          in: query
          name: query
          required: false
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: The field or property of the object used to sort the returned collection. The default is 'Name'.
          in: query
          name: sortField
          required: false
          type: string
        - description: The order that the returned collection is sorted. The default is 'Ascending'.
          in: query
          name: sortOrder
          required: false
          type: string
        - description: The starting index (zero based) of the items to be returned. The default is 0.
          in: query
          name: startIndex
          required: false
          type: integer
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: A list of analyses matching the specified conditions.
          schema:
            $ref: "#/definitions/Items[Analysis]"
      summary: Retrieve analyses based on the specified conditions.
      tags:
        - AssetDatabase
  "/assetdatabases/{webId}/analysiscategories":
    get:
      consumes: []
      deprecated: false
      operationId: AssetDatabase_GetAnalysisCategories
      parameters:
        - description: The ID of the database.
          in: path
          name: webId
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The analysis categories that exist in the database.
          schema:
            $ref: "#/definitions/Items[AnalysisCategory]"
      summary: Retrieve analysis categories for a given Asset Database.
      tags:
        - AssetDatabase
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: AssetDatabase_CreateAnalysisCategory
      parameters:
        - description: The ID of the database in which to create the analysis category.
          in: path
          name: webId
          required: true
          type: string
        - description: The new analysis category definition.
          in: body
          name: analysisCategory
          required: true
          schema:
            $ref: "#/definitions/AnalysisCategory"
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "201":
          description: The analysis category was created. The response's Location header is a link to the analysis category.
      summary: Create an analysis category at the Asset Database root.
      tags:
        - AssetDatabase
  "/assetdatabases/{webId}/analysistemplates":
    get:
      consumes: []
      deprecated: false
      description: Users can search for the analysis templates based on specific search parameters. If no parameters are specified in the search, the default values for each parameter will be used and will return the templates that match the default search.
      operationId: AssetDatabase_GetAnalysisTemplates
      parameters:
        - description: The ID of the database to search.
          in: path
          name: webId
          required: true
          type: string
        - collectionFormat: multi
          description: Specifies which of the object's properties are searched. Multiple search fields may be specified with multiple instances of the parameter. The default is 'Name'.
          in: query
          items:
            type: string
          name: field
          required: true
          type: array
        - description: The maximum number of objects to be returned per call (page size). The default is 1000.
          in: query
          name: maxCount
          required: false
          type: integer
        - description: The query string used for finding objects. The default is no query string.
          in: query
          name: query
          required: false
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: The field or property of the object used to sort the returned collection. The default is 'Name'.
          in: query
          name: sortField
          required: false
          type: string
        - description: The order that the returned collection is sorted. The default is 'Ascending'.
          in: query
          name: sortOrder
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: A list of analysis templates matching the specified condition.
          schema:
            $ref: "#/definitions/Items[AnalysisTemplate]"
      summary: Retrieve analysis templates based on the specified criteria. By default, all analysis templates in the specified Asset Database are returned.
      tags:
        - AssetDatabase
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      description: Analyses that are based on an analysis template will inherit characteristics defined in the template.
      operationId: AssetDatabase_CreateAnalysisTemplate
      parameters:
        - description: The ID of the database in which to create the analysis template.
          in: path
          name: webId
          required: true
          type: string
        - description: The new analysis template definition.
          in: body
          name: template
          required: true
          schema:
            $ref: "#/definitions/AnalysisTemplate"
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "201":
          description: The analysis template was created. The response's Location header is a link to the created template.
      summary: Create an analysis template at the Asset Database root.
      tags:
        - AssetDatabase
  "/assetdatabases/{webId}/attributecategories":
    get:
      consumes: []
      deprecated: false
      operationId: AssetDatabase_GetAttributeCategories
      parameters:
        - description: The ID of the database.
          in: path
          name: webId
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The attribute categories that exist in the database.
          schema:
            $ref: "#/definitions/Items[AttributeCategory]"
      summary: Retrieve attribute categories for a given Asset Database.
      tags:
        - AssetDatabase
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: AssetDatabase_CreateAttributeCategory
      parameters:
        - description: The ID of the database in which to create the attribute category.
          in: path
          name: webId
          required: true
          type: string
        - description: The new attribute category definition.
          in: body
          name: attributeCategory
          required: true
          schema:
            $ref: "#/definitions/AttributeCategory"
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "201":
          description: The attribute category was created. The response's Location header is a link to the attribute category.
      summary: Create an attribute category at the Asset Database root.
      tags:
        - AssetDatabase
  "/assetdatabases/{webId}/elementattributes":
    get:
      consumes: []
      deprecated: false
      operationId: AssetDatabase_FindElementAttributes
      parameters:
        - description: The ID of the asset database to use as the root of the search.
          in: path
          name: webId
          required: true
          type: string
        - description: Associated values to return in the response, separated by semicolons (;). This call supports DataReference to return attributes with data references. If this parameter is not specified, DataReference values are not returned.
          in: query
          name: associations
          required: false
          type: string
        - description: Specify that returned attributes must have this category. The default is no filter.
          in: query
          name: attributeCategory
          required: false
          type: string
        - description: The attribute description filter string used for finding objects. Only the first 440 characters of the description will be searched. For Asset Servers older than 2.7, a 400 status code (Bad Request) will be returned if this parameter is specified. The default is no filter.
          in: query
          name: attributeDescriptionFilter
          required: false
          type: string
        - description: The attribute name filter string used for finding objects. The default is no filter.
          in: query
          name: attributeNameFilter
          required: false
          type: string
        - description: Specify that returned attributes' value type must be this value type. The default is no filter.
          in: query
          name: attributeType
          required: false
          type: string
        - description: Specify that the owner of the returned attributes must have this category. The default is no filter.
          in: query
          name: elementCategory
          required: false
          type: string
        - description: The element description filter string used for finding objects. Only the first 440 characters of the description will be searched. For Asset Servers older than 2.7, a 400 status code (Bad Request) will be returned if this parameter is specified. The default is no filter.
          in: query
          name: elementDescriptionFilter
          required: false
          type: string
        - description: The element name filter string used for finding objects. The default is no filter.
          in: query
          name: elementNameFilter
          required: false
          type: string
        - description: Specify that the owner of the returned attributes must have this template or a template derived from this template. The default is no filter.
          in: query
          name: elementTemplate
          required: false
          type: string
        - description: Specify that the element of the returned attributes must have this AFElementType. The default is no filter.
          in: query
          name: elementType
          required: false
          type: string
        - description: The maximum number of objects to be returned (the page size). The default is 1000.
          in: query
          name: maxCount
          required: false
          type: integer
        - description: Specifies if the search should include objects nested further than immediate children of the given resource. The default is 'false'.
          in: query
          name: searchFullHierarchy
          required: false
          type: boolean
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: The field or property of the object used to sort the returned collection. The default is 'Name'.
          in: query
          name: sortField
          required: false
          type: string
        - description: The order that the returned collection is sorted. The default is 'Ascending'.
          in: query
          name: sortOrder
          required: false
          type: string
        - description: The starting index (zero based) of the items to be returned. The default is 0.
          in: query
          name: startIndex
          required: false
          type: integer
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: a list of matching attributes.
          schema:
            $ref: "#/definitions/Items[Attribute]"
      summary: Retrieves a list of element attributes matching the specified filters from the specified asset database.
      tags:
        - AssetDatabase
  "/assetdatabases/{webId}/elementcategories":
    get:
      consumes: []
      deprecated: false
      operationId: AssetDatabase_GetElementCategories
      parameters:
        - description: The ID of the database.
          in: path
          name: webId
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The element categories that exist in the database.
          schema:
            $ref: "#/definitions/Items[ElementCategory]"
      summary: Retrieve element categories for a given Asset Database.
      tags:
        - AssetDatabase
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: AssetDatabase_CreateElementCategory
      parameters:
        - description: The ID of the database in which to create the element category.
          in: path
          name: webId
          required: true
          type: string
        - description: The new element category definition.
          in: body
          name: elementCategory
          required: true
          schema:
            $ref: "#/definitions/ElementCategory"
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "201":
          description: The element category was created. The response's Location header is a link to the element category.
      summary: Create an element category at the Asset Database root.
      tags:
        - AssetDatabase
  "/assetdatabases/{webId}/elements":
    get:
      consumes: []
      deprecated: false
      description: Users can search for the elements based on specific search parameters. If no parameters are specified in the search, the default values for each parameter will be used and will return the elements that match the default search.
      operationId: AssetDatabase_GetElements
      parameters:
        - description: The ID of the database to use as the root of the search.
          in: path
          name: webId
          required: true
          type: string
        - description: Associated values to return in the response, separated by semicolons (;). This call supports Paths to return all paths to the element. If this parameter is not specified, paths are not returned.
          in: query
          name: associations
          required: false
          type: string
        - description: Specify that returned elements must have this category. The default is no category filter.
          in: query
          name: categoryName
          required: false
          type: string
        - description: Specify that returned elements must have this description. The default is no description filter.
          in: query
          name: descriptionFilter
          required: false
          type: string
        - description: Specify that returned elements must have this type. The default type is 'Any'.
          in: query
          name: elementType
          required: false
          type: string
        - description: The maximum number of objects to be returned per call (page size). The default is 1000.
          in: query
          name: maxCount
          required: false
          type: integer
        - description: The name query string used for finding objects. The default is no filter.
          in: query
          name: nameFilter
          required: false
          type: string
        - description: Specifies if the search should include objects nested further than the immediate children of the searchRoot. The default is 'false'.
          in: query
          name: searchFullHierarchy
          required: false
          type: boolean
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: The field or property of the object used to sort the returned collection. The default is 'Name'.
          in: query
          name: sortField
          required: false
          type: string
        - description: The order that the returned collection is sorted. The default is 'Ascending'.
          in: query
          name: sortOrder
          required: false
          type: string
        - description: The starting index (zero based) of the items to be returned. The default is 0.
          in: query
          name: startIndex
          required: false
          type: integer
        - description: Specify that returned elements must have this template or a template derived from this template. The default is no template filter.
          in: query
          name: templateName
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: A list of elements matching the specified conditions.
          schema:
            $ref: "#/definitions/Items[Element]"
      summary: Retrieve elements based on the specified conditions. By default, this method selects immediate children of the specified asset database.
      tags:
        - AssetDatabase
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: AssetDatabase_CreateElement
      parameters:
        - description: The ID of the asset database on which to create the element.
          in: path
          name: webId
          required: true
          type: string
        - description: The new element definition.
          in: body
          name: element
          required: true
          schema:
            $ref: "#/definitions/Element"
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "201":
          description: The element was created. The response's Location header is a link to the element.
      summary: Create a child element.
      tags:
        - AssetDatabase
  "/assetdatabases/{webId}/elementtemplates":
    get:
      consumes: []
      deprecated: false
      description: Users can search for the element and event frame template based on specific search parameters. If no parameters are specified in the search, the default values for each parameter will be used and will return the templates that match the default search.
      operationId: AssetDatabase_GetElementTemplates
      parameters:
        - description: The ID of the database to search.
          in: path
          name: webId
          required: true
          type: string
        - collectionFormat: multi
          description: Specifies which of the object's properties are searched. Multiple search fields may be specified with multiple instances of the parameter. The default is 'Name'.
          in: query
          items:
            type: string
          name: field
          required: true
          type: array
        - description: The maximum number of objects to be returned per call (page size). The default is 1000.
          in: query
          name: maxCount
          required: false
          type: integer
        - description: The query string used for finding objects. The default is no query string.
          in: query
          name: query
          required: false
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: The field or property of the object used to sort the returned collection. The default is 'Name'.
          in: query
          name: sortField
          required: false
          type: string
        - description: The order that the returned collection is sorted. The default is 'Ascending'.
          in: query
          name: sortOrder
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: A list of element templates matching the specified condition.
          schema:
            $ref: "#/definitions/Items[ElementTemplate]"
      summary: Retrieve element templates based on the specified criteria. Only templates of instance type "Element" and "EventFrame" are returned. By default, all element and event frame templates in the specified Asset Database are returned.
      tags:
        - AssetDatabase
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      description: Elements and event frames that are based on an element template will inherit characteristics defined in the template.
      operationId: AssetDatabase_CreateElementTemplate
      parameters:
        - description: The ID of the database in which to create the element template.
          in: path
          name: webId
          required: true
          type: string
        - description: The new element template definition.
          in: body
          name: template
          required: true
          schema:
            $ref: "#/definitions/ElementTemplate"
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "201":
          description: The element template was created. The response's Location header is a link to the created template.
      summary: Create a template at the Asset Database root. Specify InstanceType of "Element" or "EventFrame" to create element or event frame template respectively. Only these two types of templates can be created.
      tags:
        - AssetDatabase
  "/assetdatabases/{webId}/enumerationsets":
    get:
      consumes: []
      deprecated: false
      operationId: AssetDatabase_GetEnumerationSets
      parameters:
        - description: The ID of the database.
          in: path
          name: webId
          required: true
          type: string
        - description: List of fields to be returned in the response, separated by semicolons (;). If this parameter is not specified, all available fields will be returned.
          in: query
          name: selectedFields
          required: false
          type: string
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "200":
          description: The specified enumeration sets.
          schema:
            $ref: "#/definitions/Items[EnumerationSet]"
      summary: Retrieve enumeration sets for given asset database.
      tags:
        - AssetDatabase
    post:
      consumes:
        - application/json
        - text/json
      deprecated: false
      operationId: AssetDatabase_CreateEnumerationSet
      parameters:
        - description: The ID of the database in which to create the enumeration set.
          in: path
          name: webId
          required: true
          type: string
        - description: The new enumeration set definition.
          in: body
          name: enumerationSet
          required: true
          schema:
            $ref: "#/definitions/EnumerationSet"
        - description: Optional parameter. Used to specify the type of WebID. Useful for URL brevity and other special cases. Default is the value of the configuration item "WebIDType".
          in: query
          name: webIdType
          required: false
          type: string
      produces:
        - application/json
        - text/json
        - text/html
        - application/x-ms-application
      responses:
        "201":
          description: The enumeration set was created. The response's Location header is a link to the created enumeration set.
      summary: Create an enumeration set at the Asset Database.
      tags:
        - AssetDatabase
  "/assetdatabases/{webId}/eventframeattributes":
    get:
      consumes: []
      deprecated: false
      operationId: AssetDatabase_FindEventFrameAttributes
      parameters:
        - description: The ID of the asset database to use as the root of the search.
          in: path
          name: webId
          required: true
          type: string
        - description: Associated values to return in the response, separated by semicolons (;). This call supports DataReference to return attributes with data references. If this parameter is not specified, DataReference values are not returned.
          in: query
          name: associations
          required: false
          type: string
        - description: Specify that returned attributes must have this category. The default is no filter.
          in: query
          name: attributeCategory
          required: false
          type: string
        - description: The attribute description filter string used for finding objects. Only the first 440 characters of the description will be searched. For Asset Servers older than 2.7, a 400 status code (Bad Request) will be returned if this parameter is specified. The default is no filter.
          in: query
          name: attributeDescriptionFilter
          required: false
          type: string
        - description: The attribute name filter string used for finding objects. The default is no filter.
          in: query
          name: attributeNameFilter
          required: false
          type: string
        - description: Specify that returned attributes' value type must be this value type. The default is no filter.
          in: query
          name: attributeType
          required: false
          type: string
[...]
