swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The HDInsight Management Client.
  title: HDInsightManagementClient
  version: 2018-06-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/locations.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: hdinsight-locations
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: The HDInsight client API Version.
    in: query
    name: api-version
    required: true
    type: string
  LocationParameter:
    description: The Azure location (region) for which to make the request.
    in: path
    name: location
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/billingSpecs":
    get:
      description: Lists the billingSpecs for the specified subscription and location.
      operationId: Locations_ListBillingSpecs
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/LocationParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK response definition.
          schema:
            $ref: "#/definitions/BillingResponseListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Describes the format of Error response.
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Regions
      x-ms-examples:
        Get the subscription billingSpecs for the specified location:
          parameters:
            api-version: 2018-06-01-preview
            location: East US 2
            subscriptionId: subid
          responses:
            "200":
              body:
                billingResources:
                  - billingMeters: []
                    diskBillingMeters: []
                    region: East US 2
                  - billingMeters:
                      - meter: 11111111-1111-1111-1111-111111111111
                        meterParameter: default
                        unit: CoreHours
                      - meter: 11111111-1111-1111-1111-111111111111
                        meterParameter: Kafka
                        unit: CoreHours
                    diskBillingMeters:
                      - diskRpMeter: 11111111-1111-1111-1111-111111111111
                        sku: All
                        tier: Standard
                      - diskRpMeter: 11111111-1111-1111-1111-111111111111
                        sku: All
                        tier: Standard
                    region: default
                vmSizeFilters:
                  - clusterFlavors: null
                    clusterVersions: null
                    filterMode: Exclude
                    nodeTypes: null
                    osType: null
                    regions: null
                    vmSizes: null
                vmSizes:
                  - A5
                  - A6
                  - A7
  "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/capabilities":
    get:
      description: Gets the capabilities for the specified location.
      operationId: Locations_GetCapabilities
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/LocationParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK response definition.
          schema:
            $ref: "#/definitions/CapabilitiesResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Describes the format of Error response.
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Regions
      x-ms-examples:
        Get the subscription capabilities for specific location:
          parameters:
            api-version: 2018-06-01-preview
            location: West US
            subscriptionId: subid
          responses:
            "200":
              body:
                features:
                  - ALLOW_GATEWAY_AUTH_BYPASS
                  - AUX_IAAS_FUNCTIONALITIES
                  - BLOCK_APPS_FOR_SECURE_CLUSTER
                  - CLUSTER_RESIZE
                  - CLUSTERS_CONTRACT_1
                  - CLUSTERS_CONTRACT_1_SDK
                  - CLUSTERS_CONTRACT_2_SDK
                  - CLUSTERS_CONTRACT_VERSION_3_SDK
                  - COLLECTANONYMIZEDLOGS
                  - CONTAINER_LOG_COLLECTOR
                  - CONTAINER_RESOURCE_V3
                  - CUSTOM_ACTIONS_V2
                  - DATALAKE
                  - DATALAKE_3_2
                  - DATALAKE_3_4
                  - DATALAKE_3_5
                  - DATALAKE_DEFAULTFS_3_5
                  - DEFAULT_CONTAINER_IDENTIFIER_AND_STORAGEFQDN_ALREADY_USED
                  - DOCUMENT_VALIDATION_IN_API
                  - ENABLEDATALAKE
                  - ENABLEGENEVAANALYTICS
                  - HADOOP_VIRTUAL_NETWORK_ENABLED
                  - HS2_ZK_ROUTER_INTERACTIVEHIVE
                  - IAAS_ALLOW_CUSTOM_DNS
                  - IAAS_AMBARI_APP_TIMELINE_SERVER_HA_SERVICE
                  - IAAS_AMBARI_DEPENDENCY_BASED_DEPLOYMENT
                  - IAAS_AMBARI_HA_SERVICES
                  - IAAS_AMBARI_HISTORYSERVER_HA_SERVICE
                  - IAAS_AMBARI_LOWER_LATENCY
                  - IAAS_AMBARI_SKIP_COMPONENTS_INSTALL
                  - IAAS_ARM_PROVISIONING
                  - IAAS_CLOSE_HEAD_HTTPS_END_POINT_AFTER_CLUSTER_CREATE
                  - IAAS_CLUSTER_APPLICATION_ALLOW_MULTIPLE_ROLE_INSTANCES
                  - IAAS_CLUSTER_APPLICATION_REMOVE
                  - IAAS_CLUSTER_CONTAINER_PREUPLOAD_SUBMIT_WAIT
                  - IAAS_CLUSTER_RSERVER
                  - IAAS_DB_CREATION_IN_PARALLEL_TO_VM
                  - IAAS_DELETE_LEAKED_RESOURCES
                  - IAAS_DEPLOYMENTS
                  - IAAS_DO_NOT_CREATE_WASB_TABLES_IN_CUSTOMER_STORAGE
                  - IAAS_ENABLE_CLUSTER_CONFIG_OVERRIDES
                  - IAAS_ENABLE_OFFLINE_CLEANUP
                  - IAAS_ENABLE_OFFLINE_CLEANUP_FOR_DELETING_VMS
                  - IAAS_INCLUDE_STORAGE_IN_SUBSCRIPTION_SELECTION
                  - IAAS_PARALLEL_DB_CREATE
                  - IAAS_PREPROVISION_METASTORES_SCHEMAS
                  - IAAS_SCRIPTACTIONS_DELETE_VMS_CRUD_FAILURES
                  - IAAS_SCRIPTACTIONS_RUNNING
                  - IAAS_SHORT_VM_NAME
                  - IAAS_SUBMIT_AMBARI_REQUEST_ONCE_LINUX_VM_ARE_AVAILABLE
                  - IAAS_TEZ_ATS_V15
                  - IAAS_USE_UNATTENDED_UPGRADES_FOR_PATCHING
                  - IAAS_VALIDATE_CUSTOM_VNET
                  - IAAS_VALIDATE_NSG
                  - IAAS_WAIT_FOR_CLOSING_HEAD_HTTPS_END_POINT_AFTER_CLUSTER_CREATE
                  - IAAS_YARN_HDINSIGHT_SQL_TIMELINE_STORE
                  - IAAS_YARN_HDINSIGHT_TIMELINE_STORE
                  - INTERACTIVEHIVE
                  - MDSCENTRALLOGGING
                  - NODE_SETUP_POLLER_ENABLED
                  - OVERPROVISION_HOSTGROUP_edgenode
                  - OVERPROVISION_HOSTGROUP_Gateway
                  - OVERPROVISION_HOSTGROUP_Workernode
                  - OVERPROVISION_HOSTGROUP_zookeepernode
                  - PERF_OPTIMIZED_RESOURCE_LOCATION_FETCH
                  - PORTALAPPINSTALL
                  - POWERSHELL_SCRIPT_ACTION
                  - POWERSHELL_SCRIPT_ACTION_SDK
                  - PREMIUM_TIER_PREVIEW
                  - PROVISIONING_AGENT
                  - RMHA
                  - RSERVER_CLUSTERTYPE_3_5_ENABLED
                  - RSERVER_CLUSTERTYPE_ENABLED
                  - SHOW_HUMBOLDT_GA
                  - SHOW_IBIZA_CREATE
                  - SPARK_2_1
                  - SPARK_EXPERIMENTAL
                  - STORM_PREVIEW
                  - UI_CREATE_WIZARD_V2
                  - VIRTUAL_NETWORK_ENABLED
                  - VMSIZES_AUX
                quota:
                  cores_used: 0
                  max_cores_allowed: 3000
                  regionalQuotas:
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Australia East
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Australia Southeast
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Brazil South
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Canada Central
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Canada East
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Central India
                    - cores_available: 1000
                      cores_used: 24
                      region_name: Central US
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Central US EUAP
                    - cores_available: 1000
                      cores_used: 24
                      region_name: East Asia
                    - cores_available: 1000
                      cores_used: 24
                      region_name: East US
                    - cores_available: 1000
                      cores_used: 0
                      region_name: East US 2
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Japan East
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Japan West
                    - cores_available: 1000
                      cores_used: 0
                      region_name: North Central US
                    - cores_available: 1000
                      cores_used: 0
                      region_name: North Europe
                    - cores_available: 1000
                      cores_used: 0
                      region_name: South Central US
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Southeast Asia
                    - cores_available: 1000
                      cores_used: 0
                      region_name: West Central US
                    - cores_available: 1000
                      cores_used: 0
                      region_name: West Europe
                    - cores_available: 1000
                      cores_used: 132
                      region_name: West US
                    - cores_available: 1000
                      cores_used: 0
                      region_name: West US 2
                regions:
                  iaas:
                    available:
                      - AUSTRALIA EAST
                      - AUSTRALIA SOUTHEAST
                      - BRAZIL SOUTH
                      - CANADA CENTRAL
                      - CANADA EAST
                      - CENTRAL INDIA
                      - CENTRAL US
                      - CENTRAL US EUAP
                      - EAST ASIA
                      - EAST US
                      - EAST US 2
                      - JAPAN EAST
                      - JAPAN WEST
                      - NORTH CENTRAL US
                      - NORTH EUROPE
                      - SOUTH CENTRAL US
                      - SOUTHEAST ASIA
                      - WEST CENTRAL US
                      - WEST EUROPE
                      - WEST US
                      - WEST US 2
                  paas:
                    available:
                      - AUSTRALIA EAST
                      - AUSTRALIA SOUTHEAST
                      - BRAZIL SOUTH
                      - CENTRAL INDIA
                      - CENTRAL US
                      - EAST ASIA
                      - EAST US
                      - EAST US 2
                      - JAPAN EAST
                      - JAPAN WEST
                      - NORTH CENTRAL US
                      - NORTH EUROPE
                      - SOUTH CENTRAL US
                      - SOUTHEAST ASIA
                      - WEST EUROPE
                      - WEST US
                      - WEST US 2
                versions:
                  iaas:
                    available:
                      - componentVersions:
                          HBase: 0.98.4
                          HDP: "2.2"
                          Hadoop: 2.6.0
                          Storm: 0.9.3
                        displayName: Version 3.2.1000.0.8840373
                        friendlyName: "3.2"
                        isDefault: "false"
                      - componentVersions:
                          HBase: 1.1.2
                          HDP: "2.3"
                          Hadoop: 2.7.0
                          Spark: 1.5.2
                          Storm: 0.10.0
                        displayName: Version 3.3.1000.0.9776961
                        friendlyName: "3.3"
                        isDefault: "false"
                      - componentVersions:
                          HBase: 1.1.2
                          HDP: "2.4"
                          Hadoop: 2.7.1
                          RServer: "8.0"
                          Spark: 1.6.2
                          Storm: 0.10.0
                        displayName: Version 3.4.1000.0.9719475
                        friendlyName: "3.4"
                        isDefault: "false"
                      - componentVersions:
                          HBase: 1.1.2
                          HDP: "2.5"
                          Hadoop: 2.7.3
                          InteractiveHive: 2.1.0
                          RServer: "9.0"
                          Spark: 1.6.3,2.0.2
                          Storm: 1.0.1
                        displayName: Version 3.5.1000.0.9732704
                        friendlyName: "3.5"
                        isDefault: "true"
                      - componentVersions:
                          HDP: "2.6"
                          Spark: 2.1.0
                        displayName: Version 3.6.1000.0.9503998
                        friendlyName: "3.6"
                        isDefault: "false"
                      - displayName: Version 99.152.1000.0.6943836
                        friendlyName: "99.152"
                        isDefault: "false"
                  paas:
                    available:
                      - displayName: HdInsight version 1.6.1.0.335536
                        friendlyName: "1.6"
                        isDefault: "false"
                      - componentVersions:
                          HDP: "1.3"
                          Hadoop: 1.2.0
                        displayName: Version 2.1.9.406.1221105
                        friendlyName: "2.1"
                        isDefault: "false"
                      - componentVersions:
                          HDP: "2.0"
                          Hadoop: 2.2.0
                        displayName: Version 3.0.6.989.2441725
                        friendlyName: "3.0"
                        isDefault: "false"
                      - componentVersions:
                          HBase: "0.98"
                          HDP: 2.1.7
                          Hadoop: 2.4.0
                        displayName: Version 3.1.4.989.2441725
                        friendlyName: "3.1"
                        isDefault: "false"
                      - componentVersions:
                          HBase: 0.98.4
                          HDP: "2.2"
                          Hadoop: 2.6.0
                          Storm: 0.9.3
                        displayName: Version 3.2.7.989.2441725
                        friendlyName: "3.2"
                        isDefault: "false"
                      - componentVersions:
                          HBase: 1.1.2
                          HDP: "2.3"
                          Hadoop: 2.7.0
                          Storm: 0.10.0
                        displayName: Version 3.3.0.989.2441725
                        friendlyName: "3.3"
                        isDefault: "true"
                vmSize_filters:
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - A5
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - A5
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - A5
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - A5
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - A5
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - A6
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - A6
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - A6
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - A6
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - A7
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - A7
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - A7
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - A7
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - EXTRALARGE
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - EXTRALARGE
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - WorkerNodeRole
                      - EdgeNodeRole
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - EXTRALARGE
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - EXTRALARGE
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - LARGE
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - LARGE
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - LARGE
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - LARGE
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - MEDIUM
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - MEDIUM
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - MEDIUM
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - SMALL
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - SMALL
                  - ClusterFlavors:
                      - HBase
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - SMALL
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - SMALL
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D1
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D1
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D1
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D1
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D1
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D1
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D1_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D1_V2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D1_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    vmsizes:
                      - STANDARD_D1_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D1_V2
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D1_V2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D11
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D11
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D11
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D11
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D11
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D11
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D11_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D11_V2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D11_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    vmsizes:
                      - STANDARD_D11_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D11_V2
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D11_V2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D12
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D12
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D12
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D12
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D12
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D12_V2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D12_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    vmsizes:
                      - STANDARD_D12_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D12_V2
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D12_V2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D13
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D13
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D13
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D13
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D13_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    vmsizes:
                      - STANDARD_D13_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D13_V2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D14
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D14
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D14
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D14
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D14_V2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D14_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    vmsizes:
                      - STANDARD_D14_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D14_V2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D2
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D2_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D2_V2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D2_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    vmsizes:
                      - STANDARD_D2_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D2_V2
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D2_V2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D3
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D3
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D3
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D3
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D3
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D3_V2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D3_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    vmsizes:
                      - STANDARD_D3_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D3_V2
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D3_V2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D4
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D4
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D4
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D4
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D4
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D4_V2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D4_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    vmsizes:
                      - STANDARD_D4_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D4_V2
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D4_V2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D5_V2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D5_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    vmsizes:
                      - STANDARD_D5_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D5_V2
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - "*"
                    vmsizes:
                      - STANDARD_D5_V2
                  - ClusterFlavors:
                      - HBase
                      - Storm
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D1_V2
                  - ClusterFlavors:
                      - HBase
                      - Storm
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D11_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D12_V2
                  - ClusterFlavors:
                      - HBase
                      - Storm
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D12_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D13_V2
                  - ClusterFlavors:
                      - HBase
                      - Storm
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D13_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D14_V2
                  - ClusterFlavors:
                      - HBase
                      - Storm
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D14_V2
                  - ClusterFlavors:
                      - HBase
                      - Storm
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D2_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D3_V2
                  - ClusterFlavors:
                      - HBase
                      - Storm
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D3_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D4_V2
                  - ClusterFlavors:
                      - HBase
                      - Storm
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - ZookeeperRole
                    Regions:
                      - Central India
                    vmsizes:
                      - STANDARD_D4_V2
                vmSizes:
                  iaas:
                    available:
                      - A5
                      - A6
                      - A7
                      - EXTRALARGE
                      - LARGE
                      - MEDIUM
                      - SMALL
                      - STANDARD_D1
                      - STANDARD_D1_V2
                      - STANDARD_D11
                      - STANDARD_D11_V2
                      - STANDARD_D12
                      - STANDARD_D12_V2
                      - STANDARD_D13
                      - STANDARD_D13_V2
                      - STANDARD_D14
                      - STANDARD_D14_V2
                      - STANDARD_D2
                      - STANDARD_D2_V2
                      - STANDARD_D3
                      - STANDARD_D3_V2
                      - STANDARD_D4
                      - STANDARD_D4_V2
                      - STANDARD_D5_V2
                  paas:
                    available:
                      - A5
                      - A6
                      - A7
                      - EXTRALARGE
                      - LARGE
                      - MEDIUM
                      - SMALL
                      - STANDARD_D1
                      - STANDARD_D1_V2
                      - STANDARD_D11
                      - STANDARD_D11_V2
                      - STANDARD_D12
                      - STANDARD_D12_V2
                      - STANDARD_D13
                      - STANDARD_D13_V2
                      - STANDARD_D14
                      - STANDARD_D14_V2
                      - STANDARD_D2
                      - STANDARD_D2_V2
                      - STANDARD_D3
                      - STANDARD_D3_V2
                      - STANDARD_D4
                      - STANDARD_D4_V2
                      - STANDARD_D5_V2
  "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/usages":
    get:
      description: Lists the usages for the specified location.
      operationId: Locations_ListUsages
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/LocationParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK response definition.
          schema:
            $ref: "#/definitions/UsagesListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Describes the format of Error response.
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Regions
      x-ms-examples:
        Get the subscription usages for specific location:
          parameters:
            api-version: 2018-06-01-preview
            location: West US
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - currentValue: 0
                    limit: 5000
                    name:
                      localizedValue: Cores
                      value: cores
                    unit: Count
definitions:
  BillingMeters:
    description: The billing meters.
    properties:
      meter:
        description: The HDInsight meter guid.
        type: string
      meterParameter:
        description: The virtual machine sizes.
        type: string
      unit:
        description: The unit of meter, VMHours or CoreHours.
        type: string
    type: object
  BillingResources:
    description: The billing resources.
    properties:
      billingMeters:
        description: The billing meter information.
        items:
          $ref: "#/definitions/BillingMeters"
        type: array
      diskBillingMeters:
        description: The managed disk billing information.
        items:
          $ref: "#/definitions/DiskBillingMeters"
        type: array
      region:
        description: The region or location.
        type: string
    type: object
  BillingResponseListResult:
    description: The response for the operation to get regional billingSpecs for a subscription.
    properties:
      billingResources:
        description: The billing and managed disk billing resources for a region.
        items:
          $ref: "#/definitions/BillingResources"
        type: array
      vmSizeFilters:
        description: The virtual machine filtering mode. Effectively this can enabling or disabling the virtual machine sizes in a particular set.
        items:
          $ref: "#/definitions/VmSizeCompatibilityFilterV2"
        type: array
      vmSizes:
        description: The virtual machine sizes to include or exclude.
        items:
          type: string
        type: array
    type: object
  CapabilitiesResult:
    description: The Get Capabilities operation response.
    properties:
      features:
        description: The capability features.
        items:
          type: string
        type: array
      quota:
        $ref: "#/definitions/QuotaCapability"
        description: The quota capability.
      regions:
        additionalProperties:
          $ref: "#/definitions/RegionsCapability"
        description: The virtual machine size compatibility features.
        type: object
      versions:
        additionalProperties:
          $ref: "#/definitions/VersionsCapability"
        description: The version capability.
        type: object
      vmSize_filters:
        description: The virtual machine size compatibility filters.
        items:
          $ref: "#/definitions/VmSizeCompatibilityFilter"
        type: array
      vmSizes:
        additionalProperties:
          $ref: "#/definitions/VmSizesCapability"
        description: The virtual machine sizes.
        type: object
    readOnly: true
  DiskBillingMeters:
    description: The disk billing meters.
    properties:
      diskRpMeter:
        description: The managed disk meter guid.
        type: string
      sku:
        description: The managed disk billing sku, P30 or S30.
        type: string
      tier:
        description: The managed disk billing tier, Standard or Premium.
        enum:
          - Standard
          - Premium
        type: string
        x-ms-enum:
          modelAsString: false
          name: Tier
    type: object
  LocalizedName:
    description: The details about the localizable name of a type of usage.
    properties:
      localizedValue:
        description: The localized name of the used resource.
        type: string
      value:
        description: The name of the used resource.
        type: string
    readOnly: true
  QuotaCapability:
    description: The regional quota capability.
    properties:
      cores_used:
        description: The number of cores used in the subscription.
        format: int64
        type: integer
      max_cores_allowed:
        description: The number of cores that the subscription allowed.
        format: int64
        type: integer
      regionalQuotas:
        description: The list of region quota capabilities.
        items:
          $ref: "#/definitions/RegionalQuotaCapability"
        type: array
    readOnly: true
  RegionalQuotaCapability:
    description: The regional quota capacity.
    properties:
      cores_available:
        description: The number of cores available in the region.
        format: int64
        type: integer
      cores_used:
        description: The number of cores used in the region.
        format: int64
        type: integer
      region_name:
        description: The region name.
        type: string
    readOnly: true
  RegionsCapability:
    description: The regions capability.
    properties:
      available:
        description: The list of region capabilities.
        items:
          type: string
        type: array
    readOnly: true
  Usage:
    description: The details about the usage of a particular limited resource.
    properties:
      currentValue:
        description: The current usage.
        type: integer
      limit:
        description: The maximum allowed usage.
        type: integer
      name:
        $ref: "#/definitions/LocalizedName"
        description: The details about the localizable name of the used resource.
      unit:
        description: The type of measurement for usage.
        type: string
    readOnly: true
  UsagesListResult:
    description: The response for the operation to get regional usages for a subscription.
    properties:
      value:
        description: The list of usages.
        items:
          $ref: "#/definitions/Usage"
        type: array
    readOnly: true
  VersionSpec:
    description: The version properties.
    properties:
      componentVersions:
        additionalProperties:
          type: string
        description: The component version property.
        type: object
      displayName:
        description: The display name
        type: string
      friendlyName:
        description: The friendly name
        type: string
      isDefault:
        description: Whether or not the version is the default version.
        type: string
    readOnly: true
  VersionsCapability:
    description: The version capability.
    properties:
      available:
        description: The list of version capabilities.
        items:
          $ref: "#/definitions/VersionSpec"
        type: array
    readOnly: true
  VmSizeCompatibilityFilter:
    description: The virtual machine type compatibility filter.
    properties:
      ClusterFlavors:
        description: The list of cluster types available.
        items:
          type: string
        type: array
      ClusterVersions:
        description: The list of cluster versions.
        items:
          type: string
        type: array
      FilterMode:
        description: The mode for the filter.
        type: string
      NodeTypes:
        description: The list of node types.
        items:
          type: string
        type: array
      Regions:
        description: The list of regions.
        items:
          type: string
        type: array
      vmsizes:
        description: The list of virtual machine sizes.
        items:
          type: string
        type: array
    readOnly: true
  VmSizeCompatibilityFilterV2:
    description: "This class represent a single filter object that defines a multidimensional set. The dimensions of this set are Regions, ClusterFlavors, NodeTypes and ClusterVersions. The constraint should be defined based on the following: FilterMode (Exclude vs Include), VMSizes (the vm sizes in affect of exclusion/inclusion) and the ordering of the Filters. Later filters override previous settings if conflicted."
    properties:
      clusterFlavors:
        description: The list of cluster flavors under the effect of the filter.
        items:
          type: string
        type: array
      clusterVersions:
        description: The list of cluster versions affected in Major.Minor format.
        items:
          type: string
        type: array
      filterMode:
        description: The filtering mode. Effectively this can enabling or disabling the VM sizes in a particular set.
        enum:
          - Exclude
          - Include
        type: string
        x-ms-enum:
          modelAsString: true
          name: FilterMode
      nodeTypes:
        description: The list of node types affected by the filter.
        items:
          type: string
        type: array
      osType:
        description: The OSType affected, Windows or Linux.
        items:
          enum:
            - Windows
            - Linux
          type: string
          x-ms-enum:
            modelAsString: false
            name: OSType
        type: array
      regions:
        description: The list of regions under the effect of the filter.
        items:
          type: string
        type: array
      vmSizes:
        description: The list of virtual machine sizes to include or exclude.
        items:
          type: string
        type: array
    type: object
  VmSizesCapability:
    description: The virtual machine sizes capability.
    properties:
      available:
        description: The list of virtual machine size capabilities.
        items:
          type: string
        type: array
    readOnly: true
