swagger: "2.0"
schemes:
  - https
host: api.zalando.com
basePath: /
info:
  description: The shop API empowers developers to build amazing new apps or websites using Zalando shop data and services.
  title: Zalando Shop
  version: v1.0
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_Zalando_profile_image.jpeg
  x-origin:
    - format: swagger
      url: https://api.zalando.com/schema/swagger.json
      version: "2.0"
  x-providerName: zalando.com
produces:
  - application/json
parameters:
  acceptLanguage:
    description: |-
      Specify which Shop to use.

      A standard `Accept-Language` header which specifies the shop that should be used. E.g. `de-DE` will use the German
      shop (as does [https://www.zalando.de](https://www/zalando.de) and `de-AT` will use the Austrian one.

      The shop choosen will e.g. define the currency used for prices as well as the language for product names and
      descriptions. Furthermore it will impact which articles are available as they might differ between countries.
    enum:
      - da-DK
      - de-AT
      - de-CH
      - de-DE
      - en-GB
      - es-ES
      - fi-FI
      - fr-BE
      - fr-CH
      - fr-FR
      - it-IT
      - nl-BE
      - nl-NL
      - no-NO
      - pl-PL
      - sv-SE
    in: header
    name: Accept-Language
    required: false
    type: string
  activationDate:
    collectionFormat: multi
    description: period or time the articles are activated for selling in the shop
    in: query
    items:
      enum:
        - thisWeek
        - lastWeek
        - lastMonth
      type: string
    name: activationDate
    required: false
    type: array
  ageGroup:
    collectionFormat: multi
    description: "filters by age group (eg: kids)"
    in: query
    items:
      enum:
        - babies
        - kids
        - teen
        - adult
      type: string
    name: ageGroup
    required: false
    type: array
  articleId:
    collectionFormat: multi
    description: |-
      The `articleIds` to use use for filtering.

      One or more `articleIds` might be used as a filter criteria. Submit multiple `articleId` request parameters for
      more than one to be used. They will be treated as `OR` criteria.
    in: query
    items:
      type: string
    name: articleId
    required: false
    type: array
  articleModelId:
    collectionFormat: multi
    description: filters by article ModelId
    in: query
    items:
      type: string
    name: articleModelId
    required: false
    type: array
  articleReviewSort:
    default: newest
    description: "articles are sorted on reviews provided by customers (eg: best)"
    enum:
      - newest
      - best
      - worst
      - most_helpful
    in: query
    name: sort
    required: false
    type: string
  articleUnitId:
    collectionFormat: multi
    description: filters by article's unit id
    in: query
    items:
      type: string
    name: articleUnitId
    required: false
    type: array
  assortmentArea:
    collectionFormat: multi
    description: "filters by classification of articles (eg: maternity) "
    in: query
    items:
      enum:
        - standard
        - maternity
        - plusSize
        - petite
      type: string
    name: assortmentArea
    required: false
    type: array
  brand:
    collectionFormat: multi
    description: "filters by brand key given by user (eg: SA5)"
    in: query
    items:
      type: string
    name: brand
    required: false
    type: array
  brandfamily:
    collectionFormat: multi
    description: "filters by brand family key (eg: nike) "
    in: query
    items:
      type: string
    name: brandfamily
    required: false
    type: array
  category:
    collectionFormat: multi
    description: "filters by category (eg: Socks, Rain Coats)"
    in: query
    items:
      type: string
    name: category
    required: false
    type: array
  color:
    collectionFormat: multi
    description: "filters by color (eg: red, blue)"
    in: query
    items:
      enum:
        - black
        - brown
        - beige
        - gray
        - white
        - blue
        - petrol
        - turquoise
        - green
        - olive
        - yellow
        - orange
        - red
        - pink
        - purple
        - gold
        - silver
        - multicolored
      type: string
    name: color
    required: false
    type: array
  den:
    collectionFormat: multi
    description: "filters by den "
    in: query
    items:
      enum:
        - den15
        - den20
        - den40
        - den60
        - den80
        - den100
        - den200
        - den120
        - den12
        - den50
      type: string
    name: den
    required: false
    type: array
  fields:
    collectionFormat: multi
    description: |-
      Comma separated list of fields that should be returned. Fields of subobjects are specified with dots as separator. Fields of objects within lists are specified in the same way.

      Example: id,name,brand.key,brand.name, units.id,units.size,units.price.formatted
    in: query
    items:
      type: string
    name: fields
    required: false
    type: array
  filling:
    collectionFormat: multi
    description: "filters by different kinds of garment filling materials (eg: satin, wolle)"
    in: query
    items:
      enum:
        - angora
        - baumwolle
        - daunen
        - fell
        - fleece
        - frottee
        - kaschmir
        - lammfell
        - leder
        - lederimitat
        - merinowolle
        - microfaser
        - mohair
        - satin
        - schurwolle
        - seide
        - sonstige
        - textil
        - warm
        - wolle
      type: string
    name: filling
    required: false
    type: array
  fullText:
    description: "filters by text (eg: search by 'as' gives result with articles of brand Sass)"
    in: query
    name: fullText
    required: false
    type: string
  gender:
    collectionFormat: multi
    description: filters by gender
    in: query
    items:
      enum:
        - male
        - female
      type: string
    name: gender
    required: false
    type: array
  heelForm:
    collectionFormat: multi
    description: "filters by heel form (eg: flat)"
    in: query
    items:
      enum:
        - block
        - flat
        - wedge
        - penny
        - funnel
        - plateau
        - plateauBoots
        - wedgeHidden
        - plateauHidden
        - plateauHeels
      type: string
    name: heelForm
    required: false
    type: array
  heelHeight:
    collectionFormat: multi
    description: "filters by height of the heel size or length (eg: xs)"
    in: query
    items:
      enum:
        - xs
        - s
        - m
      type: string
    name: heelHeight
    required: false
    type: array
  length:
    description: "filters by garments length (eg: 3/4 length, knee-length)"
    in: query
    name: length
    required: false
    type: string
  maxStarRating:
    description: To get reviews with maximum star rating.
    in: query
    name: maxStarRating
    required: false
    type: string
  minStarRating:
    description: To get reviews with minimum star rating.
    in: query
    name: minStarRating
    required: false
    type: string
  occasion:
    collectionFormat: multi
    description: "filters by type of occasion (eg: party, business)"
    in: query
    items:
      enum:
        - business
        - octoberFest
        - loungeWear
        - evening
        - party
        - leisure
      type: string
    name: occasion
    required: false
    type: array
  page:
    description: to request with required page number or pagination
    in: query
    name: page
    required: false
    type: string
  pageSize:
    description: to request with required page size in a page
    in: query
    name: pageSize
    required: false
    type: string
  pattern:
    collectionFormat: multi
    description: "filters by pattern on the garments (eg: animal print, plain)"
    in: query
    items:
      enum:
        - animalPrint
        - checkered
        - colored
        - floral
        - polkaDot
        - striped
        - paisley
        - plain
        - print
        - burnout
        - herringBone
        - camouflage
        - flecked
        - pinstripe
        - gradient
        - photoPrint
      type: string
    name: pattern
    required: false
    type: array
  price:
    description: "filters all articles in price range (eg: 9-90)"
    in: query
    name: price
    required: false
    type: string
  sale:
    description: filters discounted articles marked as sale
    in: query
    items:
      enum:
        - sale
      type: string
    name: sale
    required: false
    type: array
  season:
    collectionFormat: multi
    description: filters by season (Autumn/Winter or Spring/Summer)
    in: query
    items:
      enum:
        - winter
        - summer
      type: string
    name: season
    required: false
    type: array
  shaftHeight:
    collectionFormat: multi
    description: "filters by shaft height (eg: s, xs)"
    in: query
    items:
      enum:
        - xs
        - s
        - m
        - l
      type: string
    name: shaftHeight
    required: false
    type: array
  shaftWidth:
    collectionFormat: multi
    description: "filters by shaft width (eg: s, l)"
    in: query
    items:
      enum:
        - s
        - m
        - l
      type: string
    name: shaftWidth
    required: false
    type: array
  shirtCollar:
    collectionFormat: multi
    description: "filters by shirt collar styles (eg: low V neck, lined collar)"
    in: query
    items:
      enum:
        - lapelCollar
        - mandarinCollar
        - hood
        - poloNeck
        - poloShirt
        - cowlNeck
        - roundNeck
        - scarfCollar
        - boatNeck
        - vNeck
        - buttonDown
        - turnDownCollar
        - highCollar
        - linedCollar
        - shirtCollar
        - cutawayCollar
        - doubleCollar
        - peterPanCollar
        - kentCollar
        - cupShapedCollar
        - contrastCollar
        - maoCollar
        - wingCollar
        - tabCollar
        - volantCollar
        - shawlCollar
        - envelope
        - lowVNeck
        - cacheCeour
        - lowRoundNeck
        - backless
        - henley
        - squareNeck
        - offTheShoulder
      type: string
    name: shirtCollar
    required: false
    type: array
  shoeFastener:
    collectionFormat: multi
    description: "filters by shoe fastener types (eg: buckle, lacing)"
    in: query
    items:
      enum:
        - buckle
        - belt
        - lacing
        - open
        - zipper
        - velcro
      type: string
    name: shoeFastener
    required: false
    type: array
  shoeToecap:
    collectionFormat: multi
    description: "filters by shoe toe cap variants (eg: pointed, square)"
    in: query
    items:
      enum:
        - round
        - pointed
        - open
        - square
      type: string
    name: shoeToecap
    required: false
    type: array
  shopArea:
    collectionFormat: multi
    description: filters by classification of articles
    in: query
    items:
      enum:
        - shop
        - sale
      type: string
    name: shopArea
    required: false
    type: array
  size:
    description: filters by size
    in: query
    name: size
    required: false
    type: string
  sort:
    description: "sorting order (eg: popularity)"
    enum:
      - popularity
      - activationdate
      - pricedesc
      - priceasc
      - sale
    in: query
    name: sort
    required: false
    type: string
  sports:
    collectionFormat: multi
    description: "filters by different sport activities (eg: football)"
    in: query
    items:
      enum:
        - outdoor
        - skiSnow
        - running
        - training
        - football
        - handball
        - basketball
        - volleyball
        - golf
        - tennis
        - beach
        - skate
        - riding
        - cycling
        - sailing
        - badminton
        - dancing
        - snowboard
        - swimming
      type: string
    name: sports
    required: false
    type: array
  technology:
    collectionFormat: multi
    description: filters by technology used to produce the articles
    in: query
    items:
      enum:
        - clima365
        - climacool
        - climalite
        - climaproof
        - climawarm
        - driFit
        - flywire
        - formotion
        - omniHeat
        - polartec
        - primaloft
        - staywarm
        - techfit
        - thinsulate
        - venturi
        - h2no
        - dermizax
        - performanceShell
        - softShell
        - windstopper
        - proShell
        - hydratic
        - pacliteShell
        - activeShell
        - goreTex
        - hyvent
        - texapore
        - precip
      type: string
    name: technology
    required: false
    type: array
  trouserRise:
    collectionFormat: multi
    description: filters by trouser rise
    in: query
    items:
      enum:
        - high
        - medium
        - low
      type: string
    name: trouserRise
    required: false
    type: array
  upperMaterial:
    collectionFormat: multi
    description: "filters by different type of upper material used on garments (eg: lace)"
    in: query
    items:
      enum:
        - batiste
        - caoutchouc
        - cashmere
        - damask
        - down
        - feathers
        - felt
        - flanelette
        - flannel
        - fleece
        - imitationLeather
        - jacquard
        - jersey
        - leather
        - linen
        - linon
        - mesh
        - microfiber
        - mohair
        - other
        - percale
        - polyester
        - renforce
        - satin
        - seersucker
        - silk
        - synthetic
        - textile
        - towelling
        - varnish
        - velours
        - viscose
        - wool
        - cord
        - denim
        - rib
        - braided
        - crocheted
        - hardshell
        - softshell
        - lace
        - sweat
      type: string
    name: upperMaterial
    required: false
    type: array
  volume:
    collectionFormat: multi
    description: filters by volume
    in: query
    items:
      enum:
        - smallest
        - small
        - medium
        - large
        - largest
      type: string
    name: volume
    required: false
    type: array
paths:
  /article-reviews:
    get:
      description: Zalando API Article Reviews Schema
      parameters:
        - collectionFormat: multi
          description: |
            Article IDs. A list of config SKUs for which the article reviews will be returned.
            Required if articleModelId is empty.
          in: query
          items:
            type: string
          name: articleId
          required: false
          type: array
        - collectionFormat: multi
          description: |
            Article model IDs. A list of model SKUs for which the article reviews will be returned.
            Required if articleId is empty.
          in: query
          items:
            type: string
          name: articleModelId
          required: false
          type: array
        - $ref: "#/parameters/minStarRating"
        - $ref: "#/parameters/maxStarRating"
        - $ref: "#/parameters/articleReviewSort"
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/pageSize"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Articles Reviews response.
          examples:
            application/json:
              content:
                - articleId: EW012B00C-C11
                  articleModelId: EW012B00C
                  articleSizeRatings:
                    OVERALL: 3
                    SHOE_WIDTH: 3
                  created: 2015-07-23T17:52:14+02:00
                  customerCity: Brixton
                  customerCountry: GB
                  description: "Very nice trainers, with an extremely prompt arrival... "
                  helpfulCount: 0
                  language: en
                  rating: 5
                  recommend: false
                  reviewId: 4405383-EW012B00C-C11
                  title: Dream turned to reality in the blink of an eye!
                  unhelpfulCount: 0
          schema:
            $ref: "#/definitions/Article-Reviews"
        "400":
          description: Bad request.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Get Article Reviews
      tags:
        - articles
  /article-reviews-summaries:
    get:
      description: Zalando API Article Reviews Summaries Schema
      parameters:
        - collectionFormat: multi
          description: Article model IDs. A list of model SKUs for which the article review summaries will be returned.
          in: query
          items:
            type: string
          name: articleModelId
          required: true
          type: array
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/pageSize"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Articles Reviews Summaries response.
          examples:
            application/json:
              content:
                - articleModelId: K4411C00Y
                  averageStarRating: 4
                  numberOfUserPositiveRecommendations: 0
                  numberOfUserRecommendations: 0
                  numberOfUserReviews: 1
                  starRatingDistribution:
                    "1": 0
                    "2": 0
                    "3": 0
                    "4": 1
                    "5": 0
          schema:
            $ref: "#/definitions/Article-Reviews-Summaries"
        "400":
          description: Bad request.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Get Article Reviews Summaries
      tags:
        - articles
  "/article-reviews-summaries/{articleModelId}":
    get:
      description: Zalando API ArticleReviewsSummaries Schema
      parameters:
        - description: To get unique reviews summary from article model Id.
          in: path
          name: articleModelId
          required: true
          type: string
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Articles Reviews Summaries by articleModelId response.
          examples:
            application/json:
              articleModelId: K4411C00Y
              averageStarRating: 4
              numberOfUserPositiveRecommendations: 0
              numberOfUserRecommendations: 0
              numberOfUserReviews: 1
              starRatingDistribution:
                "1": 0
                "2": 0
                "3": 0
                "4": 1
                "5": 0
          schema:
            $ref: "#/definitions/Article-Reviews-Summary"
        "400":
          description: Bad request.
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: Not found.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Get Article Reviews Summaries by articleModelId
      tags:
        - articles
  "/article-reviews/{reviewId}":
    get:
      description: Zalando API ArticleReviews Schema
      parameters:
        - description: To get unique review by review Id.
          in: path
          name: reviewId
          required: true
          type: string
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Articles Reviews by reviewId response.
          examples:
            application/json:
              articleId: EW012B00C-C11
              articleModelId: EW012B00C
              articleSizeRatings:
                OVERALL: 3
                SHOE_WIDTH: 3
              created: 2015-07-23T17:52:14+02:00
              customerCity: Brixton
              customerCountry: GB
              description: Very nice trainers, with an extremely prompt arrival...
              helpfulCount: 0
              language: en
              rating: 5
              recommend: false
              reviewId: 4405383-EW012B00C-C11
              title: Dream turned to reality in the blink of an eye!
              unhelpfulCount: 0
          schema:
            $ref: "#/definitions/Article-Review"
        "404":
          description: Not found.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Get Article Reviews by reviewId
      tags:
        - articles
  /articles:
    get:
      description: |-
        Search for articles based on various different possible filter like e.g. the `brandFamily`, the `catagory` or a
        specific `color`. See [Filters](https://todo) for a list of all available filter options.

        The default `pageSize` for responses is set to `20`. You can add a `pageSize` request parameter to adjust that.
        Please keep in mind that the maximum `pageSize` for this resource is `200`.

        The endpoint also supports reducing the fields returned for each article via the `fields` parameter. Please
        refer to [fields parameter](https://todo) for more details.
      parameters:
        - $ref: "#/parameters/articleId"
        - $ref: "#/parameters/articleModelId"
        - $ref: "#/parameters/articleUnitId"
        - $ref: "#/parameters/activationDate"
        - $ref: "#/parameters/ageGroup"
        - $ref: "#/parameters/assortmentArea"
        - $ref: "#/parameters/brand"
        - $ref: "#/parameters/brandfamily"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/color"
        - $ref: "#/parameters/den"
        - $ref: "#/parameters/filling"
        - $ref: "#/parameters/fullText"
        - $ref: "#/parameters/gender"
        - $ref: "#/parameters/heelForm"
        - $ref: "#/parameters/heelHeight"
        - $ref: "#/parameters/length"
        - $ref: "#/parameters/occasion"
        - $ref: "#/parameters/pattern"
        - $ref: "#/parameters/price"
        - $ref: "#/parameters/sale"
        - $ref: "#/parameters/season"
        - $ref: "#/parameters/shaftHeight"
        - $ref: "#/parameters/shaftWidth"
        - $ref: "#/parameters/shirtCollar"
        - $ref: "#/parameters/shoeFastener"
        - $ref: "#/parameters/shoeToecap"
        - $ref: "#/parameters/shopArea"
        - $ref: "#/parameters/size"
        - $ref: "#/parameters/sports"
        - $ref: "#/parameters/technology"
        - $ref: "#/parameters/trouserRise"
        - $ref: "#/parameters/upperMaterial"
        - $ref: "#/parameters/volume"
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/pageSize"
        - $ref: "#/parameters/sort"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Articles response.
          examples:
            application/json:
              content:
                - activationDate: 2015-01-12T17:12:15+01:00
                  additionalInfos: []
                  ageGroups:
                    - BABY
                  attributes:
                    - name: Total length
                      values:
                        - 10.0 " (Size 50)
                    - name: Fabric
                      values:
                        - Jersey
                    - name: Length
                      values:
                        - Standard
                    - name: Pattern
                      values:
                        - Print
                    - name: Fit
                      values:
                        - normal
                    - name: Occasion
                      values:
                        - Leisure
                    - name: Neckline
                      values:
                        - Envelope
                    - name: sleeve length
                      values:
                        - 8.0 " (Size 50)
                    - name: outer fabric material
                      values:
                        - 100% cotton
                    - name: Sleeve length
                      values:
                        - Long sleeve
                  available: false
                  brand:
                    key: BE8
                    logoLargeUrl: https://i2.ztat.net/brandxl/belly-button-1.jpg
                    logoUrl: https://i2.ztat.net/brand/belly-button-1.jpg
                    name: bellybutton
                    shopUrl: https://www.zalando.co.uk/belly-button
                  categoryKeys:
                    - catalog
                    - kids
                    - childrens-clothing
                    - kids-clothing-shirts-tops
                    - kids-clothing-long-sleeve-tops
                    - all
                    - clothing
                  color: Grey
                  genders:
                    - MALE
                  id: BE824G002-C11
                  media:
                    images:
                      - largeHdUrl: https://i2.ztat.net/large_hd/BE/82/4G/00/2C/11/BE824G002-C11@8.jpg
                        largeUrl: https://i2.ztat.net/large/BE/82/4G/00/2C/11/BE824G002-C11@8.jpg
                        mediumHdUrl: https://i2.ztat.net/detail_hd/BE/82/4G/00/2C/11/BE824G002-C11@8.jpg
                        mediumUrl: https://i2.ztat.net/detail/BE/82/4G/00/2C/11/BE824G002-C11@8.jpg
                        orderNumber: 1
                        smallHdUrl: https://i2.ztat.net/catalog_hd/BE/82/4G/00/2C/11/BE824G002-C11@8.jpg
                        smallUrl: https://i2.ztat.net/catalog/BE/82/4G/00/2C/11/BE824G002-C11@8.jpg
                        thumbnailHdUrl: https://i2.ztat.net/thumb_hd/BE/82/4G/00/2C/11/BE824G002-C11@8.jpg
                        type: NON_MODEL
                      - largeHdUrl: https://i1.ztat.net/large_hd/BE/82/4G/00/2C/11/BE824G002-C11@7.jpg
                        largeUrl: https://i1.ztat.net/large/BE/82/4G/00/2C/11/BE824G002-C11@7.jpg
                        mediumHdUrl: https://i1.ztat.net/detail_hd/BE/82/4G/00/2C/11/BE824G002-C11@7.jpg
                        mediumUrl: https://i1.ztat.net/detail/BE/82/4G/00/2C/11/BE824G002-C11@7.jpg
                        orderNumber: 2
                        smallHdUrl: https://i1.ztat.net/catalog_hd/BE/82/4G/00/2C/11/BE824G002-C11@7.jpg
                        smallUrl: https://i1.ztat.net/catalog/BE/82/4G/00/2C/11/BE824G002-C11@7.jpg
                        thumbnailHdUrl: https://i1.ztat.net/thumb_hd/BE/82/4G/00/2C/11/BE824G002-C11@7.jpg
                        type: NON_MODEL
                      - largeHdUrl: https://i2.ztat.net/large_hd/BE/82/4G/00/2C/11/BE824G002-C11@6.jpg
                        largeUrl: https://i2.ztat.net/large/BE/82/4G/00/2C/11/BE824G002-C11@6.jpg
                        mediumHdUrl: https://i2.ztat.net/detail_hd/BE/82/4G/00/2C/11/BE824G002-C11@6.jpg
                        mediumUrl: https://i2.ztat.net/detail/BE/82/4G/00/2C/11/BE824G002-C11@6.jpg
                        orderNumber: 3
                        smallHdUrl: https://i2.ztat.net/catalog_hd/BE/82/4G/00/2C/11/BE824G002-C11@6.jpg
                        smallUrl: https://i2.ztat.net/catalog/BE/82/4G/00/2C/11/BE824G002-C11@6.jpg
                        thumbnailHdUrl: https://i2.ztat.net/thumb_hd/BE/82/4G/00/2C/11/BE824G002-C11@6.jpg
                        type: NON_MODEL
                      - largeHdUrl: https://i3.ztat.net/large_hd/BE/82/4G/00/2C/11/BE824G002-C11@5.jpg
                        largeUrl: https://i3.ztat.net/large/BE/82/4G/00/2C/11/BE824G002-C11@5.jpg
                        mediumHdUrl: https://i3.ztat.net/detail_hd/BE/82/4G/00/2C/11/BE824G002-C11@5.jpg
                        mediumUrl: https://i3.ztat.net/detail/BE/82/4G/00/2C/11/BE824G002-C11@5.jpg
                        orderNumber: 4
                        smallHdUrl: https://i3.ztat.net/catalog_hd/BE/82/4G/00/2C/11/BE824G002-C11@5.jpg
                        smallUrl: https://i3.ztat.net/catalog/BE/82/4G/00/2C/11/BE824G002-C11@5.jpg
                        thumbnailHdUrl: https://i3.ztat.net/thumb_hd/BE/82/4G/00/2C/11/BE824G002-C11@5.jpg
                        type: NON_MODEL
                  modelId: BE824G002
                  name: Long sleeved top - stormy weather
                  season: SUMMER
                  seasonYear: "2015"
                  shopUrl: https://www.zalando.co.uk/bellybutton-long-sleeved-top-grey-be824g002-c11.html
                  units:
                    - available: false
                      id: BE824G002-C110068000
                      originalPrice:
                        currency: GBP
                        formatted: £11.00
                        value: 11
                      price:
                        currency: GBP
                        formatted: £11.00
                        value: 11
                      size: 4-6m
                      stock: 0
                    - available: false
                      id: BE824G002-C110062000
                      originalPrice:
                        currency: GBP
                        formatted: £11.00
                        value: 11
                      price:
                        currency: GBP
                        formatted: £11.00
                        value: 11
                      size: 2-4m
                      stock: 0
                    - available: false
                      id: BE824G002-C110074000
                      originalPrice:
                        currency: GBP
                        formatted: £11.00
                        value: 11
                      price:
                        currency: GBP
                        formatted: £11.00
                        value: 11
                      size: 6-9m
                      stock: 0
                    - available: false
                      id: BE824G002-C110050000
                      originalPrice:
                        currency: GBP
                        formatted: £11.00
                        value: 11
                      price:
                        currency: GBP
                        formatted: £11.00
                        value: 11
                      size: 1m
                      stock: 0
                    - available: false
                      id: BE824G002-C110056000
                      originalPrice:
                        currency: GBP
                        formatted: £11.00
                        value: 11
                      price:
                        currency: GBP
                        formatted: £11.00
                        value: 11
                      size: 2m
                      stock: 0
          schema:
            $ref: "#/definitions/Articles"
        "400":
          description: Bad request.
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: Not found.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Search for Articles
      tags:
        - articles
  "/articles/{articleId}":
    get:
      description: Zalando API Article Schema
      parameters:
        - description: To get unique article for article Id.
          in: path
          name: articleId
          required: true
          type: string
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Article response.
          examples:
            application/json:
              activationDate: 2015-04-30T16:52:52+02:00
              additionalInfos: []
              ageGroups:
                - ADULT
              attributes:
                - name: Neckline
                  values:
                    - Crew neck
                - name: Fit
                  values:
                    - Waisted
              available: true
              brand:
                key: AN6
                logoUrl: https://i6.ztat.net/brand/anna-field.jpg
                name: Anna Field
                shopUrl: https://www.zalando.co.uk/anna-field
              categoryKeys:
                - catalog
                - women
                - womens-clothing
                - womens-clothing-dresses
                - summer-dresses
                - all
                - clothing
              color: Blue
              genders:
                - FEMALE
              id: AN621C0S5-K11
              media:
                images:
                  - largeHdUrl: https://i2.ztat.net/large_hd/AN/62/1C/0S/5K/11/AN621C0S5-K11@16.jpg
                    largeUrl: https://i2.ztat.net/large/AN/62/1C/0S/5K/11/AN621C0S5-K11@16.jpg
                    mediumHdUrl: https://i2.ztat.net/detail_hd/AN/62/1C/0S/5K/11/AN621C0S5-K11@16.jpg
                    mediumUrl: https://i2.ztat.net/detail/AN/62/1C/0S/5K/11/AN621C0S5-K11@16.jpg
                    orderNumber: 1
                    smallHdUrl: https://i2.ztat.net/catalog_hd/AN/62/1C/0S/5K/11/AN621C0S5-K11@16.jpg
                    smallUrl: https://i2.ztat.net/catalog/AN/62/1C/0S/5K/11/AN621C0S5-K11@16.jpg
                    thumbnailHdUrl: https://i2.ztat.net/thumb_hd/AN/62/1C/0S/5K/11/AN621C0S5-K11@16.jpg
                    type: NON_MODEL
                  - largeHdUrl: https://i3.ztat.net/large_hd/AN/62/1C/0S/5K/11/AN621C0S5-K11@15.jpg
                    largeUrl: https://i3.ztat.net/large/AN/62/1C/0S/5K/11/AN621C0S5-K11@15.jpg
                    mediumHdUrl: https://i3.ztat.net/detail_hd/AN/62/1C/0S/5K/11/AN621C0S5-K11@15.jpg
                    mediumUrl: https://i3.ztat.net/detail/AN/62/1C/0S/5K/11/AN621C0S5-K11@15.jpg
                    orderNumber: 2
                    smallHdUrl: https://i3.ztat.net/catalog_hd/AN/62/1C/0S/5K/11/AN621C0S5-K11@15.jpg
                    smallUrl: https://i3.ztat.net/catalog/AN/62/1C/0S/5K/11/AN621C0S5-K11@15.jpg
                    thumbnailHdUrl: https://i3.ztat.net/thumb_hd/AN/62/1C/0S/5K/11/AN621C0S5-K11@15.jpg
                    type: STYLE
              modelId: AN621C0S5
              name: Summer dress - blue/white
              season: SUMMER
              seasonYear: "2015"
              shopUrl: https://www.zalando.co.uk/anna-field-summer-dress-blue-white-an621c0s5-k11.html
              units:
                - available: true
                  id: AN621C0S5-K110420000
                  originalPrice:
                    currency: GBP
                    formatted: £21.00
                    value: 21
                  price:
                    currency: GBP
                    formatted: £21.00
                    value: 21
                  size: "16"
                  stock: 3
          schema:
            $ref: "#/definitions/Article"
        "400":
          description: Bad request.
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: Not found.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Get Article by articleId
      tags:
        - articles
  "/articles/{articleId}/media":
    get:
      description: Zalando API Article Schema
      parameters:
        - description: To get unique article for article Id media.
          in: path
          name: articleId
          required: true
          type: string
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Article response.
          examples:
            application/json:
              images:
                - largeHdUrl: https://i2.ztat.net/large_hd/BE/82/4G/00/2C/11/BE824G002-C11@8.jpg
                  largeUrl: https://i2.ztat.net/large/BE/82/4G/00/2C/11/BE824G002-C11@8.jpg
                  mediumHdUrl: https://i2.ztat.net/detail_hd/BE/82/4G/00/2C/11/BE824G002-C11@8.jpg
                  mediumUrl: https://i2.ztat.net/detail/BE/82/4G/00/2C/11/BE824G002-C11@8.jpg
                  orderNumber: 1
                  smallHdUrl: https://i2.ztat.net/catalog_hd/BE/82/4G/00/2C/11/BE824G002-C11@8.jpg
                  smallUrl: https://i2.ztat.net/catalog/BE/82/4G/00/2C/11/BE824G002-C11@8.jpg
                  thumbnailHdUrl: https://i2.ztat.net/thumb_hd/BE/82/4G/00/2C/11/BE824G002-C11@8.jpg
                  type: NON_MODEL
          schema:
            $ref: "#/definitions/Article-Media"
        "400":
          description: Bad request.
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: Not found.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Get Article media by articleId
      tags:
        - articles
  "/articles/{articleId}/reviews":
    get:
      description: Zalando API Article Schema
      parameters:
        - description: To get unique article for article Id reviews.
          in: path
          name: articleId
          required: true
          type: string
        - $ref: "#/parameters/minStarRating"
        - $ref: "#/parameters/maxStarRating"
        - $ref: "#/parameters/articleReviewSort"
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/pageSize"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Article response.
          examples:
            application/json:
              content:
                - articleId: EW012B00C-C11
                  articleModelId: EW012B00C
                  articleSizeRatings:
                    OVERALL: 3
                    SHOE_WIDTH: 3
                  created: 2015-07-23T17:52:14+02:00
                  customerCity: Brixton
                  customerCountry: GB
                  description: Very nice trainers, with an extremely prompt arrival...
                  helpfulCount: 0
                  language: en
                  rating: 5
                  recommend: false
                  reviewId: 4405383-EW012B00C-C11
                  title: Dream turned to reality in the blink of an eye!
                  unhelpfulCount: 0
              page: 1
              size: 1
              totalElements: 1
              totalPages: 1
          schema:
            $ref: "#/definitions/Article-Reviews"
        "400":
          description: Bad request.
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: Not found.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Get Article reviews by articleId
      tags:
        - articles
  "/articles/{articleId}/reviews-summary":
    get:
      description: Zalando API Article Schema
      parameters:
        - description: To get unique article for article Id reviews summary.
          in: path
          name: articleId
          required: true
          type: string
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Article response.
          examples:
            application/json:
              articleModelId: EW012B00C
              articleSizeRatings:
                OVERALL: 3
                SHOE_WIDTH: 3
              averageStarRating: 5
              numberOfUserPositiveRecommendations: 0
              numberOfUserRecommendations: 1
              numberOfUserReviews: 1
              starRatingDistribution:
                "1": 0
                "2": 0
                "3": 0
                "4": 0
                "5": 1
          schema:
            $ref: "#/definitions/Article-Reviews-Summary"
        "400":
          description: Bad request.
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: Not found.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Get Article reviews summary by articleId
      tags:
        - articles
  "/articles/{articleId}/units":
    get:
      description: Zalando API Article Schema
      parameters:
        - description: To get unique article for article Id units.
          in: path
          name: articleId
          required: true
          type: string
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Article response.
          examples:
            application/json:
              - available: false
                id: TC021A00J-A110040000
                originalPrice:
                  currency: GBP
                  formatted: £130.00
                  value: 130
                price:
                  currency: GBP
                  formatted: £65.00
                  value: 65
                size: "14"
                stock: 0
          schema:
            $ref: "#/definitions/Article-Units"
        "400":
          description: Bad request.
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: Not found.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Get Article units by articleId
      tags:
        - articles
  "/articles/{articleId}/units/{unitId}":
    get:
      description: Zalando API Article Schema
      parameters:
        - description: To get unique article for article Id.
          in: path
          name: articleId
          required: true
          type: string
        - description: To get unique article for article Id unit.
          in: path
          name: unitId
          required: true
          type: string
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Article response.
          examples:
            application/json:
              available: false
              id: TC021A00J-A110040000
              originalPrice:
                currency: GBP
                formatted: £130.00
                value: 130
              price:
                currency: GBP
                formatted: £65.00
                value: 65
              size: "14"
              stock: 0
          schema:
            $ref: "#/definitions/Article-Unit"
        "400":
          description: Bad request.
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: Not found.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Get Article units by articleId snd unitId
      tags:
        - articles
  /brands:
    get:
      description: Zalando API Brands Schema
      parameters:
        - collectionFormat: multi
          description: Request Brand by key
          in: query
          items:
            type: string
          name: key
          required: false
          type: array
        - collectionFormat: multi
          description: Request Brand by name
          in: query
          items:
            type: string
          name: name
          required: false
          type: array
        - collectionFormat: multi
          description: Request Brand by brandFamilyName
          in: query
          items:
            type: string
          name: brandFamilyName
          required: false
          type: array
        - collectionFormat: multi
          description: Request Brand by brandFamilyKey
          in: query
          items:
            type: string
          name: brandFamilyKey
          required: false
          type: array
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/pageSize"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Brands response.
          examples:
            application/json:
              content:
                - key: NV3
                  name: Nike Vision
                  shopUrl: https://www.zalando.co.uk/nike-vision
                - brandFamily:
                    key: NIKE
                    name: Nike
                    shopUrl: https://www.zalando.co.uk/nike
                  key: N12
                  logoLargeUrl: https://i1.ztat.net/brandxl/nike-performance.jpg
                  logoUrl: https://i1.ztat.net/brand/nike-performance.jpg
                  name: Nike Performance
                  shopUrl: https://www.zalando.co.uk/nike-performance
              page: 1
              size: 2
              totalElements: 6
              totalPages: 3
          schema:
            $ref: "#/definitions/Brands"
        "400":
          description: Bad request.
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: Not found.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Shop Brands
      tags:
        - brands
  "/brands/{key}":
    get:
      description: Zalando API Brand Schema
      parameters:
        - description: To get unique Brand by key.
          in: path
          name: key
          required: true
          type: string
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Brand Key response.
          examples:
            application/json:
              brandFamily:
                key: NIKE
                name: Nike
                shopUrl: https://www.zalando.co.uk/nike
              key: N12
              logoLargeUrl: https://i1.ztat.net/brandxl/nike-performance.jpg
              logoUrl: https://i1.ztat.net/brand/nike-performance.jpg
              name: Nike Performance
              shopUrl: https://www.zalando.co.uk/nike-performance
          schema:
            $ref: "#/definitions/Brand"
        "404":
          description: Brand not found.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Get Single Brand by Key
      tags:
        - brands
  /categories:
    get:
      description: Zalando API Categories Schema
      parameters:
        - collectionFormat: multi
          description: Request Categories by names
          in: query
          items:
            type: string
          name: name
          required: false
          type: array
        - collectionFormat: multi
          description: Request Categories by type
          in: query
          name: type
          required: false
          type: string
        - collectionFormat: multi
          description: Request Categories by outlet
          in: query
          name: outlet
          required: false
          type: string
        - collectionFormat: multi
          description: Request Categories by hidden
          in: query
          name: hidden
          required: false
          type: string
        - collectionFormat: multi
          description: Request Categories by target group
          in: query
          name: targetGroup
          required: false
          type: string
        - collectionFormat: multi
          description: Request Categories by keys
          in: query
          items:
            type: string
          name: key
          required: false
          type: array
        - collectionFormat: multi
          description: Request Categories by parent keys
          in: query
          items:
            type: string
          name: parentKey
          required: false
          type: array
        - collectionFormat: multi
          description: Request Categories by child keys
          in: query
          items:
            type: string
          name: childKey
          required: false
          type: array
        - collectionFormat: multi
          description: Request Categories by suggested filters
          in: query
          items:
            type: string
          name: suggestedFilter
          required: false
          type: array
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/pageSize"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Categories response.
          examples:
            application/json:
              content:
                - childKeys:
                    - all
                    - women
                    - men
                    - kids
                    - home
                  hidden: false
                  key: catalog
                  name: Catalog
                  outlet: false
                  suggestedFilters:
                    - category
                    - brand
                    - color
                    - price
                    - activationDate
                  targetGroup: ALL
                  type: default
                - childKeys:
                    - womens-shoes
                    - womens-clothing
                    - sports-womens
                    - premium-womens
                  hidden: false
                  key: women
                  name: Women
                  outlet: false
                  parentKey: catalog
                  suggestedFilters:
                    - brandfamily
                    - sale
                    - upperMaterial
                    - season
                  targetGroup: WOMEN
                  type: default
              page: 1
              size: 2
              totalElements: 2263
              totalPages: 1132
          schema:
            $ref: "#/definitions/Categories"
        "400":
          description: Bad request.
          schema:
            $ref: "#/definitions/ErrorMessage"
        "404":
          description: Categories Not found.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Shop Categories
      tags:
        - categories
  "/categories/{key}":
    get:
      description: Zalando API Category Schema
      parameters:
        - description: To get unique Category by key.
          in: path
          items:
            type: string
          name: key
          required: true
          type: array
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Category Key response.
          examples:
            application/json:
              content:
                - childKeys:
                    - womens-shoes
                    - womens-clothing
                    - sports-womens
                    - premium-womens
                  hidden: false
                  key: women
                  name: Women
                  outlet: false
                  parentKey: catalog
                  targetGroup: WOMEN
                  type: default
          schema:
            $ref: "#/definitions/Category"
        "404":
          description: Category not found.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Get Single Category by Key
      tags:
        - categories
  /domains:
    get:
      description: Zalando API Domains Schema
      responses:
        "200":
          description: Domains response.
          schema:
            description: Zalando API Domains Schema
            items:
              $ref: "#/definitions/Domain"
            type: array
      summary: Shop Domains
      tags:
        - domains
  /facets:
    get:
      description: Zalando API Facets Schema
      parameters:
        - $ref: "#/parameters/ageGroup"
        - $ref: "#/parameters/articleId"
        - $ref: "#/parameters/activationDate"
        - $ref: "#/parameters/articleModelId"
        - $ref: "#/parameters/assortmentArea"
        - $ref: "#/parameters/brand"
        - $ref: "#/parameters/brandfamily"
        - $ref: "#/parameters/category"
        - $ref: "#/parameters/color"
        - $ref: "#/parameters/den"
        - $ref: "#/parameters/filling"
        - $ref: "#/parameters/gender"
        - $ref: "#/parameters/heelForm"
        - $ref: "#/parameters/heelHeight"
        - $ref: "#/parameters/length"
        - $ref: "#/parameters/occasion"
        - $ref: "#/parameters/pattern"
        - $ref: "#/parameters/price"
        - $ref: "#/parameters/sale"
        - $ref: "#/parameters/season"
        - $ref: "#/parameters/shaftHeight"
        - $ref: "#/parameters/shaftWidth"
        - $ref: "#/parameters/shirtCollar"
        - $ref: "#/parameters/shoeFastener"
        - $ref: "#/parameters/shoeToecap"
        - $ref: "#/parameters/shopArea"
        - $ref: "#/parameters/size"
        - $ref: "#/parameters/sports"
        - $ref: "#/parameters/technology"
        - $ref: "#/parameters/trouserRise"
        - $ref: "#/parameters/upperMaterial"
        - $ref: "#/parameters/volume"
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Facets response.
          examples:
            application/json:
              - facets:
                  - count: 2080
                    displayName: Sports Shoes
                    key: childrens-sports-shoes
                  - count: 273
                    displayName: Outdoor Shoes
                    key: childrens-outdoor-shoes
                  - count: 1365
                    displayName: Sandals & Flip Flops
                    key: kids-shoes-sandals-flip-flops
                filter: category
              - facets:
                  - count: 190247
                    displayName: female
                    key: female
                  - count: 117211
                    displayName: male
                    key: male
                filter: gender
              - facets:
                  - count: 17844
                    displayName: allSeason
                    key: allSeason
                  - count: 155667
                    displayName: summer
                    key: summer
                  - count: 116763
                    displayName: winter
                    key: winter
                filter: season
          schema:
            $ref: "#/definitions/Facets"
        "400":
          description: Bad request.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Shop Facets
      tags:
        - facets
  /filters:
    get:
      description: Zalando API Filters Schema
      parameters:
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Filters response.
          examples:
            application/json:
              - multiValue: true
                name: ageGroup
                type: ENUM
                values:
                  - displayName: babies
                    key: babies
                  - displayName: kids
                    key: kids
                  - displayName: teen
                    key: teen
                  - displayName: adult
                    key: adult
              - multiValue: true
                name: brand
                type: KEY
                values: []
          schema:
            $ref: "#/definitions/Filters"
      summary: Shop Filters
      tags:
        - filters
  "/filters/{filterName}":
    get:
      description: Zalando API Filters Schema
      parameters:
        - description: To get Filter by filterName.
          in: path
          name: filterName
          required: true
          type: string
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Filters response.
          examples:
            application/json:
              multiValue: true
              name: ageGroup
              type: ENUM
              values:
                - displayName: babies
                  key: babies
                - displayName: kids
                  key: kids
                - displayName: teen
                  key: teen
                - displayName: adult
                  key: adult
          schema:
            $ref: "#/definitions/Filter"
        "404":
          description: Filter not found.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Get Single Filter by filterName
      tags:
        - filters
  "/recommendations/{articleIds}":
    get:
      description: Zalando API Recommendations Schema
      parameters:
        - description: To get Recommendations by articleIds.
          in: path
          items:
            type: string
          name: articleIds
          required: true
          type: array
        - description: To get maximum results of Recommendations by articleId.
          in: query
          name: maxResults
          required: false
          type: string
        - $ref: "#/parameters/acceptLanguage"
        - $ref: "#/parameters/fields"
      responses:
        "200":
          description: Recommendations response.
          examples:
            application/json:
              id: TC021A00J-A11
              media:
                images:
                  - largeHdUrl: https://i5.ztat.net/large_hd/TC/02/1A/00/JA/11/TC021A00J-A11@12.jpg
                    largeUrl: https://i5.ztat.net/large/TC/02/1A/00/JA/11/TC021A00J-A11@12.jpg
                    mediumHdUrl: https://i5.ztat.net/detail_hd/TC/02/1A/00/JA/11/TC021A00J-A11@12.jpg
                    mediumUrl: https://i5.ztat.net/detail/TC/02/1A/00/JA/11/TC021A00J-A11@12.jpg
                    orderNumber: 1
                    smallHdUrl: https://i5.ztat.net/catalog_hd/TC/02/1A/00/JA/11/TC021A00J-A11@12.jpg
                    smallUrl: https://i5.ztat.net/catalog/TC/02/1A/00/JA/11/TC021A00J-A11@12.jpg
                    thumbnailHdUrl: https://i5.ztat.net/thumb_hd/TC/02/1A/00/JA/11/TC021A00J-A11@12.jpg
                    type: UNSPECIFIED
              modelId: TC021A00J
              name: MADDY - Jumpsuit - waterlilly/noir
              shopUrl: https://www.zalando.co.uk/2-love-tony-cohen-maddy-jumpsuit-white-tc021a00j-a11.html
          schema:
            $ref: "#/definitions/Recommendations"
        "400":
          description: Bad Request.
          schema:
            $ref: "#/definitions/ErrorMessage"
      summary: Get Recommendations by articleId
      tags:
        - recommendations
definitions:
  Article:
    description: A single article
    properties:
      activationDate:
        description: timestamp the article was available in the Zalando webshop
        format: date-time
        type: string
      additionalInfos:
        description: "any additional information of the article "
        items:
          type: string
        minItems: 0
        type: array
      ageGroups:
        description: age group of the article belongs to
        items:
          enum:
            - BABY
            - CHILD
            - TEEN
            - ADULT
          type: string
        minItems: 1
        type: array
      attributes:
        description: article attributes
        items:
          $ref: "#/definitions/Article-Attribute"
        minItems: 0
        type: array
      available:
        description: will be true if at least one article unit is available
        type: boolean
      brand:
        $ref: "#/definitions/Brand"
      categoryKeys:
        description: category keys of the article belongs to
        items:
          type: string
        minItems: 1
        type: array
      color:
        description: the main color of the article
        type: string
      genders:
        description: gender of the article belongs to
        items:
          enum:
            - MALE
            - FEMALE
          type: string
        minItems: 1
        type: array
      id:
        description: unique article id
        type: string
      media:
        $ref: "#/definitions/Article-Media"
      modelId:
        description: unique article model id
        type: string
      name:
        description: article name
        type: string
      season:
        description: collection season the article belongs to
        enum:
          - SUMMER
          - WINTER
          - ALL
        type: string
      seasonYear:
        description: collection year the article belongs to. Could be either a year or 'ALL'
        pattern: ^ALL$|^20[0-9]{2}$
        type: string
      shopUrl:
        description: url of the article within the Zalando webshop
        format: uri
        type: string
      tags:
        items:
          type: string
        type: array
      units:
        description: price of the article
        items:
          $ref: "#/definitions/Article-Unit"
        minItems: 1
        type: array
    required:
      - id
      - modelId
      - name
      - shopUrl
      - color
      - available
      - season
      - seasonYear
      - activationDate
      - additionalInfos
      - genders
      - ageGroups
      - brand
      - categoryKeys
      - attributes
      - units
      - media
    type: object
  Article-Attribute:
    description: Zalando API Article Attribute Schema
    properties:
      name:
        description: name of the article attribute
        type: string
      values:
        description: value of the article attribute
        items:
          type: string
        minItems: 1
        type: array
    required:
      - name
      - values
    type: object
  Article-Image:
    description: Zalando API Article Image Schema
    properties:
      largeHdUrl:
        description: large HD image of the article
        format: uri
        type: string
      largeUrl:
        description: large image of the article
        format: uri
        type: string
      mediumHdUrl:
        description: medium HD image of the article
        format: uri
        type: string
      mediumUrl:
        description: medium image of the article
        format: uri
        type: string
      orderNumber:
        description: sequence of the article images
        type: integer
      smallHdUrl:
        description: small HD image of the article
        format: uri
        type: string
      smallUrl:
        description: small image of the article
        format: uri
        type: string
      thumbnailHdUrl:
        description: thumbnail HD url of the article images
        format: uri
        type: string
      type:
        description: model or non model type article images
        type: string
    required:
      - orderNumber
      - type
      - thumbnailHdUrl
      - smallUrl
      - smallHdUrl
      - mediumUrl
      - mediumHdUrl
      - largeUrl
      - largeHdUrl
    type: object
  Article-Media:
    description: Zalando API Article Media Schema
    properties:
      images:
        items:
          $ref: "#/definitions/Article-Image"
        minItems: 0
        type: array
    required:
      - images
    type: object
  Article-Price:
    description: Zalando API Article Price Schema
    properties:
      currency:
        description: ""
        type: string
      formatted:
        description: ""
        type: string
      value:
        description: ""
        type: number
    required:
      - currency
      - value
      - formatted
    type: object
  Article-Review:
    description: Zalando API Article Review Schema
    properties:
      articleId:
        type: string
      articleModelId:
        type: string
      articleSizeRatings:
        description: ""
        properties:
          BOOTLEG_WIDTH:
            type: integer
          CHEST:
            type: integer
          CHEST_GIRTH:
            type: integer
          COLLAR_SIZE:
            type: integer
          CUP_SIZE:
            type: integer
          HIPS_OR_REAR:
            type: integer
          LEG_FIT:
            type: integer
          LENGTH:
            type: integer
          OVERALL:
            type: integer
          SHOE_WIDTH:
            type: integer
          SHOULDERS:
            type: integer
          SLEEVES:
            type: integer
        type: object
      created:
        description: article review created date and time
        format: date-time
        type: string
      customerCity:
        description: customer city in the article review
        type: string
      customerCountry:
        description: customer country in the article review
        type: string
      customerNickname:
        description: Customer short name in the article review
        type: string
      description:
        description: description of the article review
        type: string
      helpfulCount:
        description: customer review helpful count of the article
        type: integer
      language:
        description: language in the article review
        type: string
      rating:
        description: customer rating of the article
        type: integer
      recommend:
        description: customer recommend to the article
        type: boolean
      reviewId:
        description: unique article review id
        type: string
      title:
        description: title in the article review
        type: string
      unhelpfulCount:
        description: customer review unhelpful count of the article
        type: integer
    required:
      - reviewId
      - articleId
      - articleModelId
      - language
      - title
      - description
      - created
      - rating
      - helpfulCount
      - unhelpfulCount
    type: object
  Article-Reviews:
    allOf:
      - $ref: "#/definitions/Page"
      - properties:
          content:
            items:
              $ref: "#/definitions/Article-Review"
            minItems: 0
            type: array
    description: Zalando API Paged Article Reviews Schema
    type: object
  Article-Reviews-Summaries:
    allOf:
      - $ref: "#/definitions/Page"
      - properties:
          content:
            items:
              $ref: "#/definitions/Article-Reviews-Summary"
            minItems: 0
            type: array
    description: Zalando API Paged Article Reviews Summaries Schema
    type: object
  Article-Reviews-Summary:
    description: Zalando API Article Reviews Summary Schema
    properties:
      articleModelId:
        type: string
      articleSizeRatings:
        description: size rating of the article
        properties:
          BOOTLEG_WIDTH:
            type: number
          CHEST:
            type: number
          CHEST_GIRTH:
            type: number
          COLLAR_SIZE:
            type: number
          CUP_SIZE:
            type: number
          HIPS_OR_REAR:
            type: number
          LEG_FIT:
            type: number
          LENGTH:
            type: number
          OVERALL:
            type: number
          SHOE_WIDTH:
            type: number
          SHOULDERS:
            type: number
          SLEEVES:
            type: number
        type: object
      averageStarRating:
        description: average star rating of the article
        type: number
      numberOfUserPositiveRecommendations:
        description: number of positive recommendations to the article
        type: integer
      numberOfUserRecommendations:
        description: number of users recommended to the article
        type: integer
      numberOfUserReviews:
        description: number of user reviews of the article
        type: integer
      starRatingDistribution:
        description: start rating distribution of the article
        properties:
          "1":
            type: integer
          "2":
            type: integer
          "3":
            type: integer
          "4":
            type: integer
          "5":
            type: integer
        required:
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
        type: object
    required:
      - articleModelId
      - averageStarRating
      - numberOfUserReviews
      - numberOfUserRecommendations
      - numberOfUserPositiveRecommendations
      - starRatingDistribution
    type: object
  Article-Unit:
    description: Zalando API Article Unit Schema
    properties:
      available:
        description: availability of the article
        type: boolean
      id:
        description: article id (sku)
        type: string
      originalPrice:
        $ref: "#/definitions/Article-Price"
      partnerId:
        description: partner id (vendor id) of the article
        type: string
      price:
        $ref: "#/definitions/Article-Price"
      size:
        description: article size
        type: string
      stock:
        description: stock of the article
        type: integer
    required:
      - id
      - size
      - price
      - originalPrice
      - available
      - stock
    type: object
  Article-Units:
    description: Zalando API Article Units Schema
    items:
      $ref: "#/definitions/Article-Unit"
    minItems: 1
    type: array
  Articles:
    allOf:
      - $ref: "#/definitions/Page"
      - properties:
          content:
            items:
              $ref: "#/definitions/Article"
            minItems: 0
            type: array
    description: A simple container object that carries paging information as well as a list of articles on the `content` property.
    type: object
  Brand:
    description: Zalando API Brand Schema
    properties:
      brandFamily:
        $ref: "#/definitions/BrandFamily"
      key:
        description: The unique key for a brand
        type: string
      logoLargeUrl:
        description: The url of the large brand logo within the Zalando web shop
        format: uri
        type: string
      logoUrl:
        description: The url of the brand logo within the Zalando web shop
        format: uri
        type: string
      name:
        description: Name of the brand
        type: string
      shopUrl:
        description: The url of the brand within the Zalando web shop
        format: uri
        type: string
    required:
      - key
      - name
      - shopUrl
    type: object
  BrandFamily:
    description: Zalando API BrandFamily Schema
    properties:
      key:
        description: The unique key for a brandFamily
        type: string
      name:
        description: Name of the brandFamily
        type: string
      shopUrl:
        description: The url of the brandFamily within the Zalando web shop
        format: uri
        type: string
    required:
      - key
      - name
      - shopUrl
    type: object
  Brands:
    allOf:
      - $ref: "#/definitions/Page"
      - properties:
          content:
            items:
              $ref: "#/definitions/Brand"
            minItems: 0
            type: array
    description: Zalando API Paged Brands Schema
    type: object
  Categories:
    allOf:
      - $ref: "#/definitions/Page"
      - properties:
          content:
            items:
              $ref: "#/definitions/Category"
            minItems: 0
            type: array
    description: Zalando API Paged Categories Schema
    type: object
  Category:
    description: Zalando API Category Schema
    properties:
      childKeys:
        description: The list of keys of the child categories
        items:
          type: string
        minItems: 0
        type: array
      cid:
        description: The numeric ID for a category.
        type: integer
      hidden:
        description: The category is hidden and not shown on the Zalando web shop
        type: boolean
      key:
        description: The unique key for a category
        type: string
      name:
        description: Name of the category
        type: string
      outlet:
        description: Containing articles are from last seasons
        type: boolean
      parentKey:
        description: The key of the parent category
        type: string
      suggestedFilters:
        description: list of filter names that are reasonable to use within this category
        items:
          type: string
        minItems: 1
        type: array
      targetGroup:
        description: The target group of the articles from this category
        enum:
          - ALL
          - WOMEN
          - MEN
          - KIDS
        type: string
      type:
        description: The type of the category.
        type: string
    required:
      - key
      - name
      - childKeys
      - targetGroup
      - suggestedFilters
    type: object
  Domain:
    description: Zalando API Domain Schema
    properties:
      countryCode:
        description: domain country code
        type: string
      currencyCode:
        description: domain currency code
        type: string
      languageCode:
        description: domain language
        type: string
      rootCategoryKey:
        description: domain root category
        type: string
      shopUrl:
        description: domain specific url
        type: string
      taxRate:
        description: domain tax rate
        exclusiveMaximum: true
        exclusiveMinimum: true
        maximum: 1
        minimum: 0
        type: number
    required:
      - languageCode
      - countryCode
      - currencyCode
      - taxRate
      - rootCategoryKey
      - shopUrl
    type: object
  ErrorDetail:
    properties:
      invalidName:
        type: boolean
      invalidValues:
        items:
          type: string
        type: array
      key:
        type: string
      name:
        type: string
      value:
        type: string
    type: object
  ErrorMessage:
    properties:
      errors:
        items:
          $ref: "#/definitions/ErrorDetail"
        type: array
      message:
        type: string
      status:
        type: integer
    required:
      - status
      - message
    type: object
  Facet:
    description: Zalando API Facet Schema
    properties:
      facets:
        description: list of the calculated article counts for each filter value
        items:
          $ref: "#/definitions/Facet-Value"
        minItems: 1
        type: array
      filter:
        type: string
    required:
      - filter
      - facets
    type: object
  Facet-Value:
    description: Zalando API FacetValue Schema
    properties:
      count:
        description: number of articles matching this filter value
        type: integer
      displayName:
        type: string
      key:
        type: string
    required:
      - key
      - displayName
      - count
    type: object
  Facets:
    description: Zalando API Facets Schema
    items:
      $ref: "#/definitions/Facet"
    minItems: 0
    type: array
  Filter:
    description: Zalando API Filter Schema
    properties:
      multiValue:
        description: can this filter be used multiple times with different values in one search request
        type: boolean
      name:
        description: The unique name for a filter
        type: string
      type:
        description: filter enum types
        enum:
          - SKU
          - KEY
          - ENUM
          - STRING
          - RANGE
        type: string
      values:
        description: only if type is 'enum' this list contains all possible filter values
        items:
          $ref: "#/definitions/Filter-Value"
        minItems: 0
        type: array
    required:
      - name
      - multiValue
      - type
      - values
    type: object
  Filter-Value:
    description: Zalando API FilterValue Schema
    properties:
      displayName:
        description: translated display name
        type: string
      key:
        description: The key for a filterValue. Only unique within one filter
        type: string
    required:
      - key
      - displayName
    type: object
  Filters:
    items:
      $ref: "#/definitions/Filter"
    minItems: 0
    type: array
  Page:
    description: wrapper object for paged responses
    discriminator: content
    properties:
      content:
        description: page content
        items: {}
        minItems: 0
        type: array
      page:
        description: page number
        type: integer
      size:
        description: total number of elements in a page
        type: integer
      totalElements:
        description: total elements in the response
        type: integer
      totalPages:
        description: total number of pages in the response
        type: integer
    required:
      - totalElements
      - totalPages
      - page
      - size
      - content
    type: object
  Recommendations:
    description: Zalando API Recommendations Schema
    items:
      $ref: "#/definitions/Recommendations-Article"
    minItems: 0
    type: array
  Recommendations-Article:
    description: Zalando API Recommendation Article Schema
    properties:
      id:
        type: string
      media:
        $ref: "#/definitions/Article-Media"
      modelId:
        type: string
      name:
        type: string
      shopUrl:
        type: string
    required:
      - id
      - modelId
      - name
      - shopUrl
      - media
    type: object
