swagger: "2.0"
schemes:
  - https
host: api.mastercard.com
basePath: /fraud/mtf/bintable/v1
info:
  contact:
    email: mastercard@mastercard.com
    name: Mastercard
  description: MasterCard Bin Table Listing API
  license:
    name: mastercard
    url: http://www.mastercard.com
  title: MasterCard Bin Table Listing
  version: "1.0"
  x-artifactId: bintable
  x-origin:
    - format: swagger
      url: https://developer.mastercard.com/devzone/api/portal/swagger/bin-table-resource
      version: "2.0"
  x-providerName: mastercard.com
  x-serviceName: BINTableResource
  x-test-on-environment:
    environment: SANDBOX_MTF
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
produces:
  - application/json
paths:
  /binlisting:
    get:
      description: REST service will retrieve and return the BIN Table file to Merchants.
      responses:
        "200":
          description: Successfully retrieved the BIN Table Listing file and available to Merchants
          schema:
            $ref: "#/definitions/BinTableResponse"
        "404":
          description: Resource Not Found
          schema:
            $ref: "#/definitions/NoResource"
      summary: BIN Table Listing file
      tags:
        - BIN Table Listing Service
      x-samples:
        - keyId: default2
          name: example_BinTAble_Getrequest
          request:
            application/json: |-
              {
               }     
          response:
            application/json: |-
              {
                 "data":"04241000000000000000424109999999999999MSI0000004782FIFTH"

               }
definitions:
  BinTableResponse:
    properties:
      data:
        description: BIN Table Listing file.
        example: "001234"
        type: string
    required:
      - data
    type: object
  NoResource:
    properties:
      ReasonCode:
        description: RESOURCE_UNKOWN
        example: RESOURCE_UNKOWN
        type: string
      Source:
        description: System.
        example: System
        type: string
      description:
        description: Resource not found
        example: Resource not found
        type: string
      recoverable:
        example: false
        type: boolean
