swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: MonitorManagementClient
  version: 2017-12-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2017-12-01-preview/metricNamespaces_API.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-metricNamespaces_API
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceUriParameter:
    description: The identifier of the resource.
    in: path
    name: resourceUri
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  StartTimeParameter:
    description: The ISO 8601 conform Date start time from which to query for metric namespaces.
    in: query
    name: startTime
    required: false
    type: string
    x-ms-parameter-location: method
paths:
  "/{resourceUri}/providers/microsoft.insights/metricNamespaces":
    get:
      description: Lists the metric namespaces for the resource.
      operationId: MetricNamespaces_List
      parameters:
        - $ref: "#/parameters/ResourceUriParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/StartTimeParameter"
      responses:
        "200":
          description: Successful request to get the list of metric namespaces
          schema:
            $ref: "#/definitions/MetricNamespaceCollection"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - metricNamespaces
      x-ms-examples:
        Get Metric Namespaces without filter:
          parameters:
            api-version: 2017-12-01-preview
            resourceUri: subscriptions/a252e87d-ec06-45b1-8901-57e613be91b0/resourceGroups/larrytest/providers/Microsoft.DocumentDB/databaseAccounts/larrytestdocdb
            startTime: 2018-08-31T15:53:00Z
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/a252e87d-ec06-45b1-8901-57e613be91b0/resourceGroups/larrytest/providers/Microsoft.DocumentDB/databaseAccounts/larrytestdocdb/providers/microsoft.insights/metricNamespaces/Microsoft.DocumentDB-databaseAccounts
                    name: Microsoft.DocumentDB-databaseAccounts
                    properties:
                      metricNamespaceName: Microsoft.DocumentDB/databaseAccounts
                    type: Microsoft.Insights/metricNamespaces
      x-ms-pageable:
        nextLinkName: null
definitions:
  ErrorResponse:
    description: Describes the format of Error response.
    properties:
      code:
        description: Error code
        type: string
      message:
        description: Error message indicating why the operation failed.
        type: string
    type: object
  MetricNamespace:
    description: Metric namespace class specifies the metadata for a metric namespace.
    properties:
      id:
        description: The ID of the metricNamespace.
        type: string
      name:
        description: The name of the namespace.
        type: string
      properties:
        $ref: "#/definitions/MetricNamespaceName"
        description: Properties which include the fully qualified namespace name.
      type:
        description: The type of the namespace.
        type: string
    type: object
  MetricNamespaceCollection:
    description: Represents collection of metric namespaces.
    properties:
      value:
        description: The values for the metric namespaces.
        items:
          $ref: "#/definitions/MetricNamespace"
        type: array
    required:
      - value
  MetricNamespaceName:
    description: The fully qualified metric namespace name.
    properties:
      metricNamespaceName:
        description: The metric namespace name.
        type: string
