swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2019-09-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2019-09-01/virtualRouter.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-virtualRouter
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualRouters":
    get:
      description: Gets all the Virtual Routers in a subscription.
      operationId: VirtualRouters_List
      parameters:
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Success. The operation returns a list of Virtual Router resources.
          schema:
            $ref: "#/definitions/VirtualRouterListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - VirtualRouters
      x-ms-examples:
        List all Virtual Routers for a given subscription:
          parameters:
            api-version: 2019-09-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter
                    location: West US
                    name: virtualRouter
                    properties:
                      hostedGateway:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vnetGateway
                      peerings:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                      provisioningState: Succeeded
                      virtualRouterAsn: 10000
                      virtualRouterIps:
                        - 192.168.1.1
                        - 192.168.1.2
                    tags:
                      key1: value1
                    type: Microsoft.Network/virtualRouters
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters":
    get:
      description: Lists all Virtual Routers in a resource group.
      operationId: VirtualRouters_ListByResourceGroup
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Success. The operation returns a list of Virtual Router resources.
          schema:
            $ref: "#/definitions/VirtualRouterListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - VirtualRouters
      x-ms-examples:
        List all Virtual Router for a given resource group:
          parameters:
            api-version: 2019-09-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: w/\00000000-0000-0000-0000-000000000000\
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter
                    location: West US
                    name: virtualRouter
                    properties:
                      hostedGateway:
                        id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vnetGateway
                      peerings:
                        - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                      provisioningState: Succeeded
                      virtualRouterAsn: 10000
                      virtualRouterIps:
                        - 192.168.1.1
                        - 192.168.1.2
                    tags:
                      key1: value1
                    type: Microsoft.Network/virtualRouters
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}":
    delete:
      description: Deletes the specified Virtual Router.
      operationId: VirtualRouters_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Virtual Router.
          in: path
          name: virtualRouterName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Request successful. Resource with the specified name does not exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - VirtualRouters
      x-ms-examples:
        Delete VirtualRouter:
          parameters:
            api-version: 2019-09-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualRouterName: virtualRouter
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      description: Gets the specified Virtual Router.
      operationId: VirtualRouters_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Virtual Router.
          in: path
          name: virtualRouterName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a Virtual Router resource.
          schema:
            $ref: "#/definitions/VirtualRouter"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - VirtualRouters
      x-ms-examples:
        Get VirtualRouter:
          parameters:
            api-version: 2019-09-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualRouterName: virtualRouter
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter
                location: West US
                name: virtualRouter
                properties:
                  hostedGateway:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vnetGateway
                  peerings:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                  provisioningState: Succeeded
                  virtualRouterAsn: 10000
                  virtualRouterIps:
                    - 192.168.1.1
                    - 192.168.1.2
                tags:
                  key1: value1
                type: Microsoft.Network/virtualRouters
    put:
      description: Creates or updates the specified Virtual Router.
      operationId: VirtualRouters_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Virtual Router.
          in: path
          name: virtualRouterName
          required: true
          type: string
        - description: Parameters supplied to the create or update Virtual Router.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VirtualRouter"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting Virtual Router resource.
          schema:
            $ref: "#/definitions/VirtualRouter"
        "201":
          description: Request received successfully. The operation returns the resulting Virtual Router resource.
          schema:
            $ref: "#/definitions/VirtualRouter"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - VirtualRouters
      x-ms-examples:
        Create VirtualRouter:
          parameters:
            api-version: 2019-09-01
            parameters:
              location: West US
              properties:
                hostedGateway:
                  id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vnetGateway
              tags:
                key1: value1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualRouterName: virtualRouter
          responses:
            "200":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter
                location: West US
                name: virtualRouter
                properties:
                  hostedGateway:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vnetGateway
                  peerings:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                  provisioningState: Succeeded
                  virtualRouterAsn: 10000
                  virtualRouterIps:
                    - 192.168.1.1
                    - 192.168.1.2
                tags:
                  key1: value1
                type: Microsoft.Network/virtualRouters
            "201":
              body:
                etag: w/\00000000-0000-0000-0000-000000000000\
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter
                location: West US
                name: virtualRouter
                properties:
                  hostedGateway:
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworkGateways/vnetGateway
                  peerings:
                    - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                  provisioningState: Succeeded
                  virtualRouterAsn: 10000
                  virtualRouterIps:
                    - 192.168.1.1
                    - 192.168.1.2
                tags:
                  key1: value1
                type: Microsoft.Network/virtualRouters
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}/peerings":
    get:
      description: Lists all Virtual Router Peerings in a Virtual Router resource.
      operationId: VirtualRouterPeerings_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Virtual Router.
          in: path
          name: virtualRouterName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Success. The operation returns a list of Virtual Router Peering resources.
          schema:
            $ref: "#/definitions/VirtualRouterPeeringListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - VirtualRouterPeerings
      x-ms-examples:
        List all Virtual Router Peerings for a given Virtual Router:
          parameters:
            api-version: 2019-09-01
            resourceGroupName: rg1
            subscriptionId: subid
            virtualRouterName: virtualRouter
          responses:
            "200":
              body:
                value:
                  - etag: W/"72090554-7e3b-43f2-80ad-99a9020dcb11"
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                    name: peering1
                    properties:
                      peerAsn: 20000
                      peerIp: 192.168.1.5
                      provisioningState: Succeeded
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualRouters/{virtualRouterName}/peerings/{peeringName}":
    delete:
      description: Deletes the specified peering from a Virtual Router.
      operationId: VirtualRouterPeerings_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Virtual Router.
          in: path
          name: virtualRouterName
          required: true
          type: string
        - description: The name of the peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Delete successful.
        "202":
          description: Accepted and the operation will complete asynchronously.
        "204":
          description: Request successful. Resource with the specified name does not exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - VirtualRouterPeerings
      x-ms-examples:
        Delete VirtualRouterPeering:
          parameters:
            api-version: 2019-09-01
            peeringName: peering1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualRouterName: virtualRouter
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
    get:
      description: Gets the specified Virtual Router Peering.
      operationId: VirtualRouterPeerings_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Virtual Router.
          in: path
          name: virtualRouterName
          required: true
          type: string
        - description: The name of the Virtual Router Peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns a Virtual Router Peering resource.
          schema:
            $ref: "#/definitions/VirtualRouterPeering"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - VirtualRouterPeerings
      x-ms-examples:
        Get Virtual Router Peering:
          parameters:
            api-version: 2019-09-01
            peeringName: peering1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualRouterName: virtualRouter
          responses:
            "200":
              body:
                etag: W/"72090554-7e3b-43f2-80ad-99a9020dcb11"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                name: peering1
                properties:
                  peerAsn: 20000
                  peerIp: 192.168.1.5
                  provisioningState: Succeeded
    put:
      description: Creates or updates the specified Virtual Router Peering.
      operationId: VirtualRouterPeerings_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Virtual Router.
          in: path
          name: virtualRouterName
          required: true
          type: string
        - description: The name of the Virtual Router Peering.
          in: path
          name: peeringName
          required: true
          type: string
        - description: Parameters supplied to the create or update Virtual Router Peering operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VirtualRouterPeering"
        - description: Client API version.
          in: query
          name: api-version
          required: true
          type: string
        - description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Request successful. The operation returns the resulting Virtual Router Peering resource.
          schema:
            $ref: "#/definitions/VirtualRouterPeering"
        "201":
          description: Request received successfully. The operation returns the resulting Virtual Router Peering resource.
          schema:
            $ref: "#/definitions/VirtualRouterPeering"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Common error representation.
            properties:
              code:
                description: Error code.
                type: string
              details:
                description: Error details.
                items:
                  description: Common error details representation.
                  properties:
                    code:
                      description: Error code.
                      type: string
                    message:
                      description: Error message.
                      type: string
                    target:
                      description: Error target.
                      type: string
                type: array
              innerError:
                description: Inner error message.
                type: string
              message:
                description: Error message.
                type: string
              target:
                description: Error target.
                type: string
      tags:
        - VirtualRouterPeerings
      x-ms-examples:
        Create Virtual Router Peering:
          parameters:
            api-version: 2019-09-01
            parameters:
              properties:
                peerAsn: 20000
                peerIp: 192.168.1.5
            peeringName: peering1
            resourceGroupName: rg1
            subscriptionId: subid
            virtualRouterName: virtualRouter
          responses:
            "200":
              body:
                etag: W/"72090554-7e3b-43f2-80ad-99a9020dcb11"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                name: peering1
                properties:
                  peerAsn: 20000
                  peerIp: 192.168.1.5
                  provisioningState: Succeeded
            "201":
              body:
                etag: W/"72090554-7e3b-43f2-80ad-99a9020dcb11"
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualRouters/virtualRouter/peerings/peering1
                name: peering1
                properties:
                  peerAsn: 20000
                  peerIp: 192.168.1.5
                  provisioningState: Succeeded
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
definitions:
  VirtualRouter:
    allOf:
      - description: Common resource representation.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: VirtualRouter Resource.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/VirtualRouterPropertiesFormat"
        description: Properties of the Virtual Router.
        x-ms-client-flatten: true
  VirtualRouterListResult:
    description: Response for ListVirtualRouters API service call.
    properties:
      nextLink:
        description: URL to get the next set of results.
        type: string
      value:
        description: List of Virtual Routers.
        items:
          $ref: "#/definitions/VirtualRouter"
        type: array
  VirtualRouterPeering:
    allOf:
      - description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
    description: Virtual Router Peering resource.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        readOnly: true
        type: string
      name:
        description: Name of the virtual router peering that is unique within a virtual router.
        type: string
      properties:
        $ref: "#/definitions/VirtualRouterPeeringProperties"
        description: The properties of the Virtual Router Peering.
        x-ms-client-flatten: true
      type:
        description: Peering type.
        readOnly: true
        type: string
  VirtualRouterPeeringListResult:
    description: Response for ListVirtualRouterPeerings API service call.
    properties:
      nextLink:
        description: URL to get the next set of results.
        type: string
      value:
        description: List of VirtualRouterPeerings in a VirtualRouter.
        items:
          $ref: "#/definitions/VirtualRouterPeering"
        type: array
  VirtualRouterPeeringProperties:
    description: Properties of the rule group.
    properties:
      peerAsn:
        description: Peer ASN.
        format: int64
        maximum: 4294967295
        minimum: 0
        readOnly: false
        type: integer
      peerIp:
        description: Peer IP.
        readOnly: false
        type: string
      provisioningState:
        description: The current provisioning state.
        enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
  VirtualRouterPropertiesFormat:
    description: Virtual Router definition.
    properties:
      hostedGateway:
        description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
      hostedSubnet:
        description: Reference to another subresource.
        properties:
          id:
            description: Resource ID.
            type: string
        x-ms-azure-resource: true
      peerings:
        description: List of references to VirtualRouterPeerings.
        items:
          description: Reference to another subresource.
          properties:
            id:
              description: Resource ID.
              type: string
          x-ms-azure-resource: true
        readOnly: true
        type: array
      provisioningState:
        description: The current provisioning state.
        enum:
          - Succeeded
          - Updating
          - Deleting
          - Failed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      virtualRouterAsn:
        description: VirtualRouter ASN.
        format: int64
        maximum: 4294967295
        minimum: 0
        readOnly: false
        type: integer
      virtualRouterIps:
        description: VirtualRouter IPs.
        items:
          type: string
        readOnly: false
        type: array
