{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "api.spinbot.net",
  "basePath": "/",
  "info": {
    "contact": {
      "email": "admin@spinbot.net",
      "name": "Spinbot Admin",
      "url": "https://spinbot.net"
    },
    "description": "Spinbot.net propose a new solution based on high technologies for faster article spinner and extractor that you will love to use it. ",
    "termsOfService": "https://spinbot.net/terms-and-conditions",
    "title": "Article Rewriter and Article Extractor API",
    "version": "1.0",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_logo-core.clearbit.com_spinbot.net"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "http://spinbot.net/spinbot_api_swagger.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "spinbot.net"
  },
  "externalDocs": {
    "url": "https://spinbot.net/api-documentation"
  },
  "consumes": [],
  "produces": [],
  "securityDefinitions": {
    "key": {
      "in": "query",
      "name": "key",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "description": "Article rewriter (spinner): rewrite your origin article by replacing every terms/words to their synonyms. Our program will try its best to detect as many words that can be replaced as possible. So that you will never care about the plagiarism checkers. ",
      "externalDocs": {
        "url": "https://spinbot.net/api-documentation"
      },
      "name": "article rewriter"
    },
    {
      "description": "Article extractor: a lot of techniques and mordern algorithms like machine learning are used to detect the main article content in your given url. It's an automated tool to scrape and collect articles. It will reduce your time to collect data and keywords for you websites to improve their ranks.",
      "externalDocs": {
        "url": "https://spinbot.net/api-documentation"
      },
      "name": "article extractor"
    }
  ],
  "paths": {
    "/api/acc": {
      "get": {
        "description": "Return the user credit information.",
        "operationId": "getInfo",
        "parameters": [
          {
            "description": "Your api key",
            "in": "query",
            "name": "key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {}
          }
        },
        "summary": "Return the user credit information."
      }
    },
    "/api/article": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Extracting the main article of the given URL. The response is in JSON format.",
        "operationId": "postArticle",
        "parameters": [
          {
            "description": "Your spinbot API key",
            "in": "formData",
            "name": "key",
            "required": true,
            "type": "string"
          },
          {
            "description": "The url of target article",
            "in": "formData",
            "name": "url",
            "required": true,
            "type": "string"
          },
          {
            "description": "you can set this input value to 1 to skip detecting the size (width and height in pixel) of all the images inside the extracted article. The response time of your request will be shortened if you set this input value to 1.",
            "in": "formData",
            "name": "faster_mode",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Default response",
            "schema": {}
          }
        },
        "summary": "Extracting the main article of the given URL."
      }
    },
    "/api/pretty-spinner": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Human readable auto rewrite your article. The response is in JSON format.",
        "operationId": "postPrettySpinner",
        "parameters": [
          {
            "description": "Your spinbot API key",
            "in": "formData",
            "name": "key",
            "required": true,
            "type": "string"
          },
          {
            "description": "Input article that need to be rewrited.",
            "in": "formData",
            "name": "text",
            "required": true,
            "type": "string"
          },
          {
            "description": "Keep words/phrases, separated by newline, those remain unchanged during the rewrite process.",
            "in": "formData",
            "name": "keep",
            "required": true,
            "type": "string"
          },
          {
            "description": "Rewrite accuracy profile, accepted values are very-low, low, medium, high, very-high",
            "in": "formData",
            "name": "accuracy",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Default response",
            "schema": {}
          }
        },
        "summary": "Human readable auto rewrite your article."
      }
    },
    "/api/spinner": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Rewriting (spinning) you input article. The response is in JSON format.",
        "operationId": "postSpinner",
        "parameters": [
          {
            "description": "Your spinbot API key",
            "in": "formData",
            "name": "key",
            "required": true,
            "type": "string"
          },
          {
            "description": "Input article that need to be rewrited.",
            "in": "formData",
            "name": "text",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Default response",
            "schema": {}
          }
        },
        "summary": "Rewriting (spinning) your input article."
      }
    },
    "/api/spintax": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "description": "Generate Spintax format for the input article, so you can rewrite it yourself. The response is in JSON format.",
        "operationId": "postSpintax",
        "parameters": [
          {
            "description": "Your spinbot API key",
            "in": "formData",
            "name": "key",
            "required": true,
            "type": "string"
          },
          {
            "description": "Input article that need to be rewritten.",
            "in": "formData",
            "name": "text",
            "required": true,
            "type": "string"
          },
          {
            "description": "Full mode option.",
            "in": "formData",
            "name": "full_mode",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Default response",
            "schema": {}
          }
        },
        "summary": "Generate Spintax format for the input article"
      }
    }
  }
}