openapi: 3.0.0
servers:
  - url: https://containers-api.ng.bluemix.net/v3
info:
  description: |-
    Containers are virtual software objects that include all the elements that an app needs to run. A container has the benefits of resource isolation and allocation but is more portable and efficient than, for example, a virtual machine.

     This documentation describes the IBM Containers API, which is based on the Docker Remote API. The API provides endpoints that you can use to create and manage your single containers and container groups in Bluemix. Endpoints are summarized under the following tags: 

    - **Authentication**: Retrieve and refresh your TLS certificates. 
    - **Private Docker images registry**: Create your own private Docker images registry in Bluemix by setting a namespace for your organization. 
    - **Images**: View, build, and push your images to your private Bluemix registry so you can use them with IBM Containers. You can also scan your container images with the Vulnerability Advisor against standard policies set by the organization manager and a database of known Ubuntu issues. 
    - **Single Containers**: Create and manage single containers in Bluemix. Use a single container to implement short-lived processes or to run simple tests as you develop an app or service. To make your single container available from the internet, review the `Public IP addresses` endpoints. 
    - **Container Groups**: Create and manage your container groups in Bluemix. A container group consists of multiple single containers that are all created from the same container image and as a consequence are configured in the same way. Container groups offer further options at no cost to make your app highly available. These options include in-built load balancing, auto-recovery of unhealthy container instances, and auto-scaling of container instances based on CPU and memory usage. Map a public route to your container group to make your app accessible from the internet.  
    - **Public IP addresses**: Use these endpoints to request public IP addresses for your space. You can bind this IP address to your container to make your container accessible from the internet. 
    - **File shares**: Create, list and delete file shares in a space. A file share is a NFS storage system that hosts Docker volumes.  
    - **Volumes**: Create and manage container volumes in your space to persist the data of your containers.  


     Each API request requires an HTTP header that includes the 'X-Auth-Token’ and 'X-Auth-Project-Id’ parameter. 

    - **X-Auth-Token**: The JSON web token (JWT) that you receive when logging into the Bluemix platform. It allows you to use the IBM Containers REST API, access services, and resources. Run `cf oauth-token` to retrieve your access token information.
    - **X-Auth-Project-Id**: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.


     For further information about how containers work in the IBM Containers service, review the documentation under https://new-console.ng.bluemix.net/docs/containers/container_index.html. 
  license:
    name: (C) Copyright IBM Corp. 2016 All Rights Reserved.
  title: IBM Containers API
  version: 3.0.0
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_IBMCloud_profile_image.jpeg
  x-origin:
    - format: openapi
      url: http://ccsapi-doc.mybluemix.net/swagger.json
      version: "3.0"
  x-providerName: bluemix.net
  x-serviceName: containers
paths:
  /build:
    post:
      description: |-
        This API builds a new container image from a Dockerfile that is stored on your local machine and pushes the image to the private Bluemix registry (corresponding IBM Containers command: `cf ic build`).

         To push an image to your Bluemix registry, a namespace must be set for the organization. Run `cf ic namespace get` or call the `GET /registry/namespaces` API to check if a namespace is already set. If not, run `cf ic namespace set NAMESPACE` or call the `PUT /registry/namespaces/{namespace}` API to set a namespace for your organization.
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: "Tag the image with the full path to your private Bluemix registry in the following format: `t=registry.ng.bluemix.net/<namespace>/<image_name>:<tag>`. This path is used to push the image to the private Bluemix registry after it is built."
          in: query
          name: t
          required: true
          schema:
            type: string
        - description: You can choose whether or not to show the verbose build output to review every step during the container image build. If you set the query parameter to `q=false`, `q=False`, or `q=0`, the verbose build output is suppressed. To show the verbose build output, enter `q=true`, `q=True`, or `q=1`.
          in: query
          name: q
          required: false
          schema:
            type: boolean
        - description: If you set the query parameter to `nocache=true`, `nocache=True`, or `nocache=1`, the cache will not be used to build your image. To use the cache, enter `nocache=false`, `nocache=False`, or `nocache=0`.
          in: query
          name: nocache
          required: false
          schema:
            type: boolean
        - description: If set to pull=true, pull=True, or pull=1, then a newer version of the image is always attempted to be pulled even though an older version of the image exists locally. If set to pull=false, pull=False, or pull=0, then the local image will be used if one exists.
          in: query
          name: pull
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/tar:
            schema:
              format: binary
              type: string
        description: Must be the content of a tar archive compressed with gzip. The archive must include a file called 'Dockerfile' at its root. It may include any number of other files which will be accessible in the build context.
        required: true
      responses:
        "200":
          description: OK. The container image was built successfully and pushed to your private Bluemix repository. The build output stream is returned in JSON format.
        "400":
          description: Bad request. Your could not be processed. Be sure to include the `t` query parameter to tag your image and that your Dockerfile has been tar archived with gzip.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Build a Docker image from a Dockerfile
      tags:
        - Images
  /containers/create:
    post:
      description: |-
        This endpoint creates and starts a single container in your space based on the Docker image that is specified in the Image field of the request json. A single container in IBM Containers is similar to a container that you create in your local Docker environment. Single containers are a good way to start with IBM Containers and to learn about how containers work in the IBM Cloud and the features that IBM Containers provides. They are also recommended when you want to run simple app tests or during the development process of an app. 

         In the Docker API there are two separate APIs to create and start a container. However in IBM Containers a container is created and started in a single API call. Therefore, this API merges parameters from the Docker API to create and start container. 

         To create a container with IBM Containers, you must at least define the image that the container is based on.

        - Image: You must include the full path to the image in your private Bluemix registry in the format: `registry.ng.bluemix.net/<namespace>/<image>`.
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: Choose a name for your container. The characters in the name can include uppercase letters, lowercase letters, numbers, periods (.), underscores (_), or hyphens (-), but the name must start with a letter.
          in: query
          name: name
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContainer"
        description: Summary of input parameter to create a container in IBM Containers.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerId"
          description: OK. The creation of a single container with the specified attributes has been initiated.
        "400":
          description: Bad request. The data that you entered in the request body are either incomplete or in the wrong format. Be sure to include at least the Docker image that you want to use in JSON format and re-run the API request.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "409":
          description: " Conflict. A container with the same name already exists. Choose another name for your container and re-run the API request."
        "500":
          description: "Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support. "
      summary: Create and start a single container
      tags:
        - Single containers
  /containers/floating-ips:
    get:
      description: "This endpoint returns a list of all public IP addresses that are allocated to a space and not bound to a container. If you want to list all public IP addresses that are allocated to a space, even those that are already bound to a container, use the `all` query parameter (corrsponding IBM Containers command: `cf ic ip list`)."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: If this option is set to `all=1`, `all=True`, or `all=true`, all public IP addresses that are allocated to a space are returned. If this option is set to `all=0`, `all=False`, or `all=false`, only available public IP addresses that are allocated but not bound to a container are returned. By default, only available public IP addresses are returned.
          in: query
          name: all
          required: false
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FloatingIP"
                type: array
          description: OK. A list of public IP addresses that are allocated to the space is returned.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: List available public IP addresses in a space
      tags:
        - Public IP addresses
  /containers/floating-ips/request:
    post:
      description: "This endpoint requests a new public IP address for a space (corresponding IBM Containers command: `cf ic ip request`). The number of public IP addresses depends on the quota that is assigned to the space. If there is not enough quota left to request a new public IP address, you can either contact your organization manager to increase the quota, or unbind an existing IP address from a container by running `cf ic ip unbind <ip_adress> <container>` command, or  calling the `POST /container/{name_or_id}/floating-ips/{ip}/unbind` endpoint."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                description: New public IP address that is allocated to your space.
                type: string
          description: OK. A new public IP address is allocated to your space.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "402":
          description: Payment required. This request exceeds the quota that is allocated to the space. You can either contact your organization manager to increase the quota, or unbind an existing IP address from a container by running `cf ic ip unbind <ip_adress> <container>`, or calling the `POST /container/{name_or_id}/floating-ips/{ip}/unbind` endpoint.
        "409":
          description: Conflict. This request exceeds the quota that is allocated to the space. You can either contact your organization manager to increase the quota, or unbind an existing IP address from a container by running `cf ic ip unbind <ip_adress> <container>`, or calling the `POST /container/{name_or_id}/floating-ips/{ip}/unbind` endpoint.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Request a public IP address for a space
      tags:
        - Public IP addresses
  "/containers/floating-ips/{ip}/release":
    post:
      description: "This endpoint releases a public IP address from a space (corresponding IBM Containers command: `cf ic ip release <ip_adress>`). The public IP address is no longer allocated to the space. If a container was bound to the IP address, it is automatically unbound."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The public IP address that you want to release. Run `cf ic ip list` or call the `GET /containers/floating-ips?all=true` endpoint to review all public IP address that are allocated to your space. After a public IP address is released, it will no longer be allocated to your space.
          in: path
          name: ip
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content. The public IP address has been released from your space.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: Not found. The public IP address that you entered, could not be found. Run `cf ic ip list`, or call the `GET /containers/floating-ips?all=true` endpoint to review your public IP addresses. Re-run the API call with the updated public IP address information.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Release public IP address
      tags:
        - Public IP addresses
  /containers/groups:
    get:
      description: "This endpoint returns a list of all container groups in a space independent of their current state. (corresponding IBM Containers command: `cf ic group list`)."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ContainersGroupsGetListItem"
                type: array
          description: OK. A list of container groups is returned.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: List all container groups in a space
      tags:
        - Container Groups
    post:
      description: |-
        This endpoint creates and starts a new container group in your space. A container group consists of two or more single containers that are all created from the same container image and as a consequence are configured in the same way. Container groups offer different options at no cost to make your app highly available, such as in-built load balancing, auto-recovery of unhealthy container instances, and auto-scaling of container instances based on CPU and memory usage.

        To create a container group with IBM Containers, you must at least define a container group name and the image that the container group is based on. Required attributes:
















        - Name: The container group name must start with a letter and then can include uppercase letters, lowercase letters, numbers, periods (.), underscores (_), or hyphens (-). 
        - Image: You must include the full path to the image in your private Bluemix registry in the format:`registry.ng.bluemix.net/<namespace>/<image>`.
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContainersGroupsPostRequiredAttributes"
        description: Attributes that are required to create a container group in your space.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainersGroupsPostCreatedInfo"
          description: Created. Your container group was successfully created.
        "400":
          description: Bad request. The information that you entered in the request body are either incomplete or in the wrong format to process your request. Be sure, to specify at least the name and container image for your container group in JSON format and re-run the REST call.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "409":
          description: Conflict. A container group with the same name already exists. Choose a new name for your container group and re-run the REST call.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Create and start a container group.
      tags:
        - Container Groups
  "/containers/groups/{name_or_id}":
    delete:
      description: "Stops and deletes the container instances that run in a container group (corresponding IBM Containers command: `cf ic group rm <group_name>`). When you delete a container group, all floating private IP addresses are released."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The name or unique ID of the container group that you want to delete. Run `cf ic group list` or call the `GET /containers/groups` endpoint to retrieve a list of container groups in your space.
          in: path
          name: name_or_id
          required: true
          schema:
            type: string
        - description: "If you want to force the deletion of a container group that has running container instances, use the force option. This parameter needs to be set to either true or false. If set to `force=true`, `force=True`, or `force=1`, running container instances are deleted. If set to `force=false`, `force=False`, or `force=0`, running container instances are not deleted. If you do not specify this paramater, running container instances are not deleted by default. "
          in: query
          name: force
          required: false
          schema:
            type: string
      responses:
        "204":
          description: OK. No content. The deletion of the container group was successfully processed.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "403":
          description: The container group cannot be deleted due to running or failed container instances. Set the force query parameter to `force=true`, `force=True`, or `force=1` and re-run the REST call to force the deletion of your container group.
        "404":
          description: Not Found. The name or ID of the container group that you want to delete could not be found. Run `cf ic group list` or call the `GET /containers/groups` endpoint to retrieve a list of container groups in your space. Enter the correct name or ID and re-run the API call.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Stop and delete all container instances in a container group.
      tags:
        - Container Groups
    get:
      description: "This endpoint retrieves detailed information about a container group with a given name (corresponding IBM Containers command: `cf ic group inspect GROUP`)."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The name or unique ID of the container group that you want to inspect. Run `cf ic group list` or call the `GET /containers/groups` endpoint to retrieve a list of container groups in your space.
          in: path
          name: name_or_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainersGroupsNameOrIdGetDetails"
          description: OK. A detailed list of information about a container group is retrieved.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: Not Found. The specified name or ID of the container group that you want to update could not be found. Run `cf ic group list` or call the `GET /containers/groups` endpoint to retrieve a list of container groups in your space. Enter the correct name or ID and re-run the REST call.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Inspect a container group.
      tags:
        - Container Groups
    patch:
      description: |-
        Update the number of container instances that run in a container group (corresponding IBM Containers command: `cf ic group update <option> <group>`). 

        Note: You can run only one update at a time.  

         The desired number is the number of container instances that you require. It must be within the current limits of Max and Min. To increase the number of desired container instances above the Max value, you must first execute an update on the Max value. Once this update is completed, you can increase the desired number of container instances. 
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The name or unique ID of the container group that you want to update.
          in: path
          name: name_or_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContainersGroupsNameOrIdPatchUpdatedInfo"
        description: The container group parameter that you want to update.
        required: true
      responses:
        "204":
          description: No content. The update has successfully been processed.
        "400":
          description: Bad request. The information that you entered in the body of your request are either incomplete or in the wrong format. Be sure, to enter the information that you want to update in JSON format and review the description for each parameter to assure your desired update is valid and can be processed.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: Not Found. The name or ID of the container group that you want to update could not be found. Run `cf ic group list` or call the `GET /containers/groups` endpoint to retrieve a list of container groups in your space. Enter the correct name or ID and re-run the REST call.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Update a container group.
      tags:
        - Container Groups
  "/containers/groups/{name_or_id}/maproute":
    post:
      description: "If you want your container group to be accessible from the Internet, you need to expose a public port and map a public route to it (corresponding IBM Containers command: `cf ic route map -n <host> -d <domain> <group>`). Every route consists of the host name and domain."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The name or unique ID of the container group to which you want to map a public route. Run `cf ic group list` or call the `GET /containers/groups` endpoint to retrieve a list of container groups in your space.
          in: path
          name: name_or_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Route"
        description: The public route that is mapped to the container group. A public route consists of the host name and domain.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainersGroupsNameOrIdMaproutePostInfo"
          description: OK. The route that you specified was successfully mapped to the container group.
        "400":
          description: Bad request. The information that you entered in the body request is either incomplete or in the wrong format. To map a route enter the domain and host name in JSON format. Be sure, that you have exposed a public port when you created the container group, otherwise you cannot map a public route to it.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: Not Found. The name or ID of the container group to which you want to map a public route could not be found. Run `cf ic group list` or call the `GET /containers/groups` endpoint to retrieve a list of container groups in your space. Enter the correct name or ID and re-run the REST call.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Map a public route to a container group.
      tags:
        - Container Groups
  "/containers/groups/{name_or_id}/unmaproute":
    post:
      description: |-
        This endpoint unmaps a public route from a container group (corresponding IBM Containers command: `cf ic route unmap -n <host> -d <domain> <group>`). If no other public route is mapped to the container group, then the container group is no longer available from the internet. 

         When you unmap a route from a container group, the route is not deleted and can be mapped to other container groups. 
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The name or unique ID (UUID) of the container group that you want to inspect.
          in: path
          name: name_or_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Route"
        description: The public route that is unmapped from the container group. A public route consists of the host name and domain.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainersGroupsNameOrIdMaproutePostInfo"
          description: OK. The route that you specified was successfully unmapped from the container group.
        "400":
          description: Bad request. The information that you entered in the body of your request is either incomplete or in the wrong format. To unmap a route, enter the domain and host name in JSON format and re-run the REST call.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: Not Found. The name or ID of the container group from which you want to unmap a public route could not be found. Enter the correct name or ID and re-run the REST call.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Unmap a public route from a container group
      tags:
        - Container Groups
  /containers/json:
    get:
      description: "This endpoint returns a list of all single containers in a space that are currently in a running state (corresponding IBM Containers command: `cf ic ps`). To list all single containers independent of their current state, set the `all` query parameter to true."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: "By default, the `GET /containers/json` endpoint returns a list of all single containers in a space that are in a running state. To request a list of all containers independent of their current state, set the `all` query parameter to true. Allowed values are: `all=true`, `all=True`, and `all=1`. "
          in: query
          name: all
          required: false
          schema:
            type: string
        - description: You can filter your containers by any environment variable key or value that is listed in the `Env` section of your CLI/ API response when you run the `cf ic inspect <container>` command, or call the `GET /containers/{id}/json` endpoint. Your search criteria does not need to be an exact match. It can also be a part of the key or value you are looking for. For example, to filter all containers with an environment variable that contains `id` in one of their environment variables, use `filter=id`.
          in: query
          name: filters
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Container"
                type: array
          description: OK. A list of single containers that match the search criteria is returned.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "500":
          description: "Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support. "
      summary: List single containers in a space.
      tags:
        - Single containers
  /containers/messages:
    get:
      description: This endpoint retrieves all IBM Containers system messages for the user.
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: "The unique ID of your organization space where you want to create or work with your containers. To retrieve your space ID, run `cf space <space_name> --guid` and replace `<space_name>` with the name of the space where you want to create or work with your container. "
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  created_date:
                    description: Timestamp when the message was created.
                    type: string
                  message:
                    description: Important information for the IBM Containers user.
                    type: string
                type: object
          description: OK. A list of messages is returned.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: List messages for the user
      tags:
        - API info
  /containers/quota:
    get:
      description: Retrieve the quota that is assigned to the organization and space.
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainersQuotaInfo"
          description: "OK. The current quota that is assigned to the organization and space is returned. "
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Retrieve organization and space specific quota
      tags:
        - Quota
    put:
      description: |-
        This endpoint updates the quota that is allocated to a Bluemix space. 

         **Note**: Only paid accounts are eligbile to update the space quota. If you are using a free-trial account, upgrade to a paid account first.
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContainersQuotaList"
        description: The space quota details that you want to update.
        required: true
      responses:
        "204":
          description: "No content. The request to update the organization and/ or space quota has been processed. "
        "400":
          description: "Bad request. The "
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Update space quota
      tags:
        - Quota
  /containers/usage:
    get:
      description: |-
        This endpoint returns a list of available container sizes and the quota limit and usage for the space. 

        - Container sizes: A list of available container sizes indicating the amount of container memory, disk space and virtual CPUs that can be assigned to the container.
        - Quota limit: Lists the number of containers, public IP addresses, available container memory, and virtual CPUS that are allocated to a space. 
        - Quota usage: Lists the current number of containers, images, and public IP addresses in a space that is counted towards your quota limit. 
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainersUsageInfo"
          description: "OK. A list of available container sizes as well as the quota limit and usage for a space is returned. "
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: List container sizes and quota limits
      tags:
        - Quota
  /containers/version:
    get:
      description: This endpoint retrieves a list of all microservices that are used in the IBM Containers service with their current build version. This method does not require authentication.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainersVersionGetInfo"
          description: OK. A list of the current API and microservices versions is returend.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: List latest API version
      tags:
        - API info
  "/containers/{id}/status":
    get:
      description: This endpoint returns the current state of a container. This state can either be a transient state, such as BUILDING and NETWORKING, or a non-transient state, such as RUNNING, SHUTDOWN, CRASHED, or SUSPENDED.
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The unique identifier that represents the container. Run `cf ic ps`, or call the `GET /containers/json` endpoint to retrieve the ID of the container.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getContainerStatus"
          description: OK. The current status of a container is returned.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: Not Found. The container could not be found. Run `cf ic ps` or call the `GET /containers/json` endpoint to review the ID of your container.
        "500":
          description: "Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support. "
      summary: List the current state of a container.
      tags:
        - Single containers
  "/containers/{name_or_id}":
    delete:
      description: "Remove a single container that is identified by container ID or name from a space (corresponding IBM Containers command: `cf ic delete <container>`). The container must be stopped before it can be deleted, unless the `force` query parameter is set to true."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The unique identifier or name of the container that you want to delete. Run `cf ic ps -a` or call the `GET /containers/json?all=true` endpoint to review all containers in your space.
          in: path
          name: name_or_id
          required: true
          schema:
            type: string
        - description: Use the `force` query parameter if you want to delete the container independent of their current state. The container does not need to be stopped first. To force the deletion of a container, enter `force=true`, `force=True`, or `force=1`. If you want to delete containers that are in a non-running state only, do either not set this query parameter, or enter `force=false`, `force=False`, or `force=0`.
          in: query
          name: force
          required: false
          schema:
            type: boolean
      responses:
        "204":
          description: No Content. The deletion of your container has been initiated.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: Not Found. The container with the specified name or ID could not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true` endpoint to review the ID and name of your container.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Remove a single container
      tags:
        - Single containers
  "/containers/{name_or_id}/floating-ips/{ip}/bind":
    post:
      description: "This endpoint binds an available public IP address to a single container (corresponding IBM Containers command: `cf ic ip bind <ip_adress> <container>`). After a container is bound to a public IP address, it can be accessed at `https://<public_ip_adress>:<public_port>`."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The name or ID of the container that you want to bind to the public IP address. Run the `cf ic ps` command or call the `GET /containers/json` endpoint to retrieve a list of containers in your space.
          in: path
          name: name_or_id
          required: true
          schema:
            type: string
        - description: |-
            The public IP address that you want to bind to your container. 

            Note: The public IP address must be available in the space and not bound to a container. Run `cf ic ip list` or call the `GET /containers/floating-ips` endpoint.
          in: path
          name: ip
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content. Your request to bind a public IP address to a container has successfully been processed.
        "304":
          description: Not modified. The container is already bound to a public IP address. To view the details of your container, run `cf ic inspect <container>` or call the `GET /containers/{name_or_id}/json endpoint.
        "400":
          description: Bad request. The IP address that you entered does not exist. Run `cf ic ip list` or call the `GET /containers/floating-ips` endpoint to retrieve a list of available public IP addresses in your space.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: "Not Found. The container with the specified name or ID could not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true` endpoint to review the ID and name of your container. "
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Bind a public IP address to a single container
      tags:
        - Public IP addresses
  "/containers/{name_or_id}/floating-ips/{ip}/unbind":
    post:
      description: "This endpoint unbinds a public IP address from a container (corresponding IBM Containers command: `cf ic ip unbind <ip_adress> <container>`). The container that is unbound from the IP address will not be accessible from the internet anymore. The public IP address will be further allocated to the space and can be used to be bound to other containers. "
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: "The name or ID of the container that you want to bind to the public IP address. Run the `cf ic ps` command or call the `GET /containers/json` endpoint to retrieve a list of containers in your space. "
          in: path
          name: name_or_id
          required: true
          schema:
            type: string
        - description: |-
            The public IP address that you want to unbind from your container. 

             Note: After unbinding a public IP address, this IP address will still be allocated to the space and can be used to be bound to other containers.
          in: path
          name: ip
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content. Your request to unbind a public IP address from a container has successfully been processed.
        "400":
          description: Bad request. The IP address that you entered does not exist. Run `cf ic ip list` or call the `GET /containers/floating-ips` endpoint to retrieve a list of available public IP addresses in your space.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: "Not Found. The container with the specified name or ID could not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true` endpoint to review the ID and name of your container. "
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Unbind a public IP address from a container
      tags:
        - Public IP addresses
  "/containers/{name_or_id}/json":
    get:
      description: "This endpoint retrieves detailed information about a single container (corresponding IBM Containers command: `cf ic inspect <container>`)."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The name or ID of the container that you want to inspect. Run the `cf ic ps` command or call the `GET /containers/json` endpoint to retrieve a list of containers in your space.
          in: path
          name: name_or_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerInfo"
          description: "OK. A list with detailed information about the container is returned. "
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: Not Found. The container name or ID that you entered, could not be found. Run the `cf ic ps` command or call the `GET /containers/json` to review the name or ID of the container that you want to inspect.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Inspect a single container
      tags:
        - Single containers
  "/containers/{name_or_id}/pause":
    post:
      description: "Pause all processes in a running single container with a given container ID or name (corresponding IBM Containers command: `cf ic pause <container>`)."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The unique identifier or name of the container that you want to pause. Run `cf ic ps` or call the `GET /containers/json` endpoint to review all containers in your space that are currently in a running state.
          in: path
          name: name_or_id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content. The pausing of all processes inside the container has been initiated.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: Not Found. The container with the specified name or ID could not be found. Run `cf ic ps` or call the `GET /containers/json` endpoint to review the ID and name of your container.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Pause a single container
      tags:
        - Single containers
  "/containers/{name_or_id}/rename":
    post:
      description: "Change the current name of an existing single container that is identified by the container ID or name (corresponding IBM Containers command: `cf ic rename <old_name> <new_name>`). "
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The unique identifier or name of the container that you want to rename. Run `cf ic ps -a` or call the `GET /containers/json?all=true` endpoint to review all containers in your space.
          in: path
          name: name_or_id
          required: true
          schema:
            type: string
        - description: The new name for the container. The characters in the name can include uppercase letters, lowercase letters, numbers, periods (.), underscores (_), or hyphens (-), but the name must start with a letter.
          in: query
          name: name
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content. The request to rename the container has been initiated.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: Not Found. The container with the specified name or ID could not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true` endpoint to review the ID and name of your container.
        "409":
          description: "Conflict. A container with the same name already exists. Choose another name for your container and re-run the API call. "
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Rename a single container
      tags:
        - Single containers
  "/containers/{name_or_id}/restart":
    post:
      description: "Restart a container with a given container ID or name (corresponding IBM Containers command: `cf ic restart <container>`)."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The unique identifier or name of the container that you want to restart. Run `cf ic ps` or call the `GET /containers/json` endpoint to review all containers in your space.
          in: path
          name: name_or_id
          required: true
          schema:
            type: string
        - description: The number of seconds to wait before the container is restarted. For example, if you want a container to restart after 10 seconds, enter `t=10`.
          in: query
          name: t
          required: false
          schema:
            type: integer
      responses:
        "204":
          description: No Content. The restart of the container has been initiated.
        "304":
          description: Not Modified. A request to restart the container with the specified name or ID has already been initiated. To review the current state of your container, run `cf ic ps` or call the `GET /containers/json` endpoint.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: Not Found. The container with the specified name or ID could not be found. Run `cf ic ps` or call the `GET /containers/json` endpoint to review the ID and name of your container.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Restart a single container
      tags:
        - Single containers
  "/containers/{name_or_id}/start":
    post:
      description: "Start a single container with a given container name or ID (corresponding IBM Containers command: `cf ic start <container>`)."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The unique identifier or name of the container that you want to start. Run `cf ic ps -a` or call the `GET /containers/json?all=true` endpoint to review the containers in your space that are currently not in a running state.
          in: path
          name: name_or_id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content. The start of the container has been initiated.
        "304":
          description: Not Modified. A request to start the container with the specified name or ID has already been initiated. To review the current state of your container, run `cf ic ps` or call the `GET /containers/json` endpoint.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: Not Found. The container with the specified name or ID could not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true` endpoint to review the ID and name of your container.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Start a single container
      tags:
        - Single containers
  "/containers/{name_or_id}/stop":
    post:
      description: "Stop a single container with a given container name or ID (corresponding IBM Containers command: `cf ic stop <container>`)."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The unique identifier or name of the container that you want to stop. Run `cf ic ps` or call the `GET /containers/json` endpoint to review the containers in your space that are currently in a running state.
          in: path
          name: name_or_id
          required: true
          schema:
            type: string
        - description: The number of seconds to wait before the container is stopped. For example, if you want a container to stop after 10 seconds, enter `t=10`.
          in: query
          name: t
          required: false
          schema:
            type: integer
      responses:
        "204":
          description: No Content. The stop of the container has been initiated.
        "304":
          description: Not Modified. A request to stop the container with the specified name or ID has already been initiated. To review the current state of your container, run `cf ic ps` or call the `GET /containers/json` endpoint.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: Not Found. The container with the specified name or ID could not be found. Run `cf ic ps` or call the `GET /containers/json` endpoint to review the ID and name of your container.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Stop a single container
      tags:
        - Single containers
  "/containers/{name_or_id}/unpause":
    post:
      description: "Unpause all processes that are currently stopped inside a single containers with a given container ID or name (corresponding IBM Containers command: `cf ic unpause <container>`)."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The unique identifier or name of the container that you want to unpause. Run `cf ic ps -a` or call the `GET /containers/json?all=true` endpoint to review all containers in your space.
          in: path
          name: name_or_id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content. The unpausing of all processes inside the container has been initiated.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: Not Found. The container with the specified name or ID could not be found. Run `cf ic ps -a` or call the `GET /containers/json?all=true` endpoint to review the ID and name of your container.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Unpause a single container
      tags:
        - Single containers
  /images/json:
    get:
      description: "This endpoint returns a list of all available Docker images in a private Bluemix registry (corresponding IBM Containers command: `cf ic images`."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageInfo"
          description: OK. A list of all available Docker images in the private Bluemix registry is returned.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: List all Docker images that are available in your private Bluemix registry.
      tags:
        - Images
  "/images/{id}":
    delete:
      description: "Remove a Docker image from the private Bluemix registry that is identified by the image ID (corresponding IBM Containers command: `cf ic rmi <image>`)."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The unique identifier representing a Docker image. Run `cf ic images`, or call the `GET /images/json` endpoint to review the Docker images that are available in your private Bluemix registry.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: No Content. The image was successfully removed from your private Bluemix registry.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: Not found. The specified Docker image ID could not be found. Run `cf ic images` or call the `GET /images/json` endpoint to list all images in your private Bluemix registry. Note the ID of the image that you want to delete.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Remove a Docker image.
      tags:
        - Images
  "/images/{name_or_id}/json":
    get:
      description: "This endpoint returns detailed information about a Docker image that is stored in the private Bluemix registry of an organization (corresponding IBM Containers command: `cf ic inspect <image_name_or_id>`)."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: "The full private Bluemix registry path to your image or the unique ID of the image that you want to inspect. Run `cf ic images` or call the `GET /images/json` endpoint to review the images in your private Bluemix registry. "
          in: path
          name: name_or_id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageDetail"
          description: OK. A list of details about the container image is returned.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: The specified image name or ID could not be found. Run `cf ic images` or call the `GET /images/json` endpoint to retrieve the name or ID of your image.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Inspect a Docker image in private Bluemix registry
      tags:
        - Images
  /registry/namespaces:
    get:
      description: "This endpoint retrieves the namespace that was set for the organization that owns the current space (corresponding IBM Containers command: `cf ic namespace get`)."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Namespace"
          description: OK. The namespace of the organization is returned.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: Not found. A namespace could not be found for the organization. Set a namespace by running `cf ic namespace set <namespace>`, or calling the `PUT /registry/namespaces/<namespace>` endpoint.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Retrieve the namespace of an organization.
      tags:
        - Private Docker images registry
  "/registry/namespaces/{namespace}":
    get:
      description: |-
        This endpoint checks whether a namespace is available in Bluemix and can be used to set up the private Docker images registry for an organization. When a HTTP code `201 Ok` is returned, the namespace is already assigned to another organization in Bluemix and cannot be used. When a HTTP code `404 Not found` is returned, the namespace can be used for your organization. 

         Consider the following rules when choosing a namespace for your organization: 

        - Every organization can have one namespace at a time only 
        - The namespace must be unique in Bluemix. 
        - The namespace can be 4-30 characters long. 
        - The namespace must start with at least one letter or number. 
        - The namespace can only contain lowercase letters, numbers or underscores (_). 
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: The name of the namespace that you would like to use for your organization and for which you would like to check availability in Bluemix.
          in: path
          name: namespace
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Namespace"
          description: OK. The namespace that you chose is already used in Bluemix. Choose another namespace and re-run the API call.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "404":
          description: Not found. The namespace that you chose does not exist. You can use it to set it for your organization by running `cf ic namespace set <namespace>`, or calling the `PUT /registry/namespaces/<namespace>` endpoint.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Check the availability of a namespace
      tags:
        - Private Docker images registry
    put:
      description: |-
        Set up your own Docker images registry in Bluemix by defining a namespace for your organization (corresponding IBM Containers command: `cf ic namespace set <namespace>`). The namespace is used to generate a unique URL to your private Bluemix registry. In your private registry you store all Docker images that you want to share across your organization. To create a container from an image, you must first push the image to your registry. 

         The namespace cannot be changed after is has been set. Consider the following rules to choose a namespace for your organization: 

        - Every organization can have one namespace at a time only 
        - The namespace must be unique in Bluemix. 
        - The namespace can be 4-30 characters long. 
        - The namespace must start with at least one letter or number. 
        - The namespace can only contain lowercase letters, numbers or underscores (_).
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
        - description: "The name for your namespace to create your private Docker images registry in Bluemix. You cannot change the name afterward. The namespace can be 4-30 characters long, must start with at least one letter or number, and can only contain lowercase letters, numbers or underscores (_). You can test the availability of your namespace by calling the `GET /registry/namespaces/<namespace>` endpoint. When a HTTP code `404 Not Found` is returned, the namespace is available in Bluemix. "
          in: path
          name: namespace
          required: true
          schema:
            type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Namespace"
          description: OK. The namespace is successfully set for your organization.
        "400":
          description: Bad request. The specified namespace does not meet the Bluemix namespace requirements. The namespace can be 4-30 characters long, must start with at least one letter or number, and can only contain lowercase letters, numbers or underscores (_). Verify your namespace and re-run the API request.
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "409":
          description: Conflict. The namespace that you chose either already exists in Bluemix, or a namespace is already been set for your organization. Run `cf ic namespace get` or call the `GET /registry/namespaces` endpoint to retrieve your namespace information. If a namespace is not yet set for your organization, choose another name. You can test the namespace by calling the `GET /registry/namespaces/<namespace>` endpoint. Re-run the API call with the updated namespace.
        "500":
          description: Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support.
      summary: Set a namespace for your private Bluemix registry.
      tags:
        - Private Docker images registry
  /tlskey:
    get:
      description: "This endpoint returns the TLS (Transport Layer Security) certificate to the user (corresponding IBM Containers command: `cf ic login`). The TLS certificate is a SSL certificate that is used to authenticate the user's CLI with the IBM Containers service and to establish a secure communication between the user's local machine and the container in Bluemix."
      parameters:
        - description: The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token.
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Certificate"
          description: Ok. A list of certificates is returned
        "401":
          description: Authentication failed. The Access Token is invalid, or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "500":
          description: "Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support. "
      summary: Retrieve the TLS Certificate
      tags:
        - Authentication
  /tlskey/refresh:
    put:
      description: "This endpoint requests to generate a new TLS (Transport Layer Security) certificate on the server and to update the existing user TLS certificate (corresponding IBM Containers command: `cf ic init`)."
      parameters:
        - description: "The Bluemix JSON web token that you receive when logging into Bluemix. Run `cf oauth-token` to retrieve your access token. "
          in: header
          name: X-Auth-Token
          required: true
          schema:
            type: string
        - description: The unique ID of your organization space where you want to create or work with your containers. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
          in: header
          name: X-Auth-Project-Id
          required: true
          schema:
            type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertificateRefresh"
          description: Ok. A list of updated certificates is returned.
        "401":
          description: Authentication failed. The Access Token is invalid or the Space ID that you entered could not be found. Run `cf oauth-token` to retrieve your access token. Run `cf space <space_name> --guid`, where `<space_name>` is the name of your space, to retrieve your space ID.
        "500":
          description: "Internal Server Error. The IBM Containers service is currently unavailable. Your request could not be processed. Please wait a few minutes and try again. If you still encounter this problem, note the incident ID and contact the IBM Bluemix support. "
      summary: Refresh the TLS Certificate
      tags:
        - Authentication
  /volumes/create:
    post:
      description: |-
        This endpoints creates a new volume in your space (corresponding IBM Containers command: `cf ic volume create VOLNAME`). A volume is used to persist and access app data between container restarts. Volumes are hosted on file shares that define the available actual storage in Bluemix and the number of input and output transactions per second (IOPS). 

[...]
