{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "title": "Azure Stack Azure Bridge Client",
    "version": "2017-06-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azurestack/resource-manager/Microsoft.AzureStack/stable/2017-06-01/Registration.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "azurestack-Registration",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "NewRegistrationParameter": {
      "description": "Registration token",
      "in": "body",
      "name": "token",
      "required": true,
      "schema": {
        "$ref": "#/definitions/RegistrationParameter"
      },
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations": {
      "get": {
        "description": "Returns a list of all registrations.",
        "operationId": "Registrations_List",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of the resource group.",
            "in": "path",
            "name": "resourceGroup",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "default": "2017-06-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RegistrationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
              "properties": {
                "error": {
                  "description": "The details of the error.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message indicating why the operation failed.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "target": {
                      "description": "The target of the particular error.",
                      "readOnly": true,
                      "type": "string"
                    }
                  }
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Registrations"
        ],
        "x-ms-examples": {
          "Returns a list of all registrations.": {
            "parameters": {
              "api-version": "2017-06-01",
              "resourceGroup": "azurestack",
              "subscriptionId": "dd8597b4-8739-4467-8b10-f8679f62bfbf"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "etag": "0d00527e-0000-0000-0000-5a81ebdf0000",
                      "id": "/subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration",
                      "location": "global",
                      "name": "testregistration",
                      "properties": {
                        "billingModel": "Development",
                        "objectId": "9e9704ab-561a-4498-ac60-64b2314456ee"
                      },
                      "type": "Microsoft.AzureStack/registrations"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}": {
      "delete": {
        "description": "Delete the requested Azure Stack registration.",
        "operationId": "Registrations_Delete",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of the resource group.",
            "in": "path",
            "name": "resourceGroup",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Name of the Azure Stack registration.",
            "in": "path",
            "name": "registrationName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "default": "2017-06-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NO CONTENT"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
              "properties": {
                "error": {
                  "description": "The details of the error.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message indicating why the operation failed.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "target": {
                      "description": "The target of the particular error.",
                      "readOnly": true,
                      "type": "string"
                    }
                  }
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Registrations"
        ],
        "x-ms-examples": {
          "Delete the requested Azure Stack registration.": {
            "parameters": {
              "api-version": "2017-06-01",
              "registrationName": "testregistration",
              "resourceGroup": "azurestack",
              "subscriptionId": "dd8597b4-8739-4467-8b10-f8679f62bfbf"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "description": "Returns the properties of an Azure Stack registration.",
        "operationId": "Registrations_Get",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of the resource group.",
            "in": "path",
            "name": "resourceGroup",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Name of the Azure Stack registration.",
            "in": "path",
            "name": "registrationName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "default": "2017-06-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
              "properties": {
                "error": {
                  "description": "The details of the error.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message indicating why the operation failed.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "target": {
                      "description": "The target of the particular error.",
                      "readOnly": true,
                      "type": "string"
                    }
                  }
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Registrations"
        ],
        "x-ms-examples": {
          "Returns the properties of an Azure Stack registration.": {
            "parameters": {
              "api-version": "2017-06-01",
              "registrationName": "testregistration",
              "resourceGroup": "azurestack",
              "subscriptionId": "dd8597b4-8739-4467-8b10-f8679f62bfbf"
            },
            "responses": {
              "200": {
                "body": {
                  "etag": "0d00527e-0000-0000-0000-5a81ebdf0000",
                  "id": "/subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration",
                  "location": "global",
                  "name": "azurestack",
                  "properties": {
                    "billingModel": "Development",
                    "objectId": "9e9704ab-561a-4498-ac60-64b2314456ee"
                  },
                  "type": "Microsoft.AzureStack/registrations"
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Patch an Azure Stack registration.",
        "operationId": "Registrations_Update",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of the resource group.",
            "in": "path",
            "name": "resourceGroup",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Name of the Azure Stack registration.",
            "in": "path",
            "name": "registrationName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "default": "2017-06-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/NewRegistrationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
              "properties": {
                "error": {
                  "description": "The details of the error.",
                  "properties": {
                    "code": {
                      "description": "Error code.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "message": {
                      "description": "Error message indicating why the operation failed.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "target": {
                      "description": "The target of the particular error.",
                      "readOnly": true,
                      "type": "string"
                    }
                  }
                }
              },
              "type": "object"
            }
          }
        },
        "tags": [
          "Registrations"
        ],
        "x-ms-examples": {
          "Patch an Azure Stack registration.": {
            "parameters": {
              "api-version": "2017-06-01",
              "registrationName": "testregistration",
              "resourceGroup": "azurestack",
              "subscriptionId": "dd8597b4-8739-4467-8b10-f8679f62bfbf",
              "token": {
                "location": "global",
                "properties": {
                  "registrationToken": "EyjIAWXSAw5nTw9KZWWiOiJeZxZlbg9wBwvUdCiSIM9iaMVjdeLkijoinwIzyJa2Ytgtowm2yy00OdG4lTlLyJmtztHjZGfJZTC0NZK1iIWiY2XvdWRJzCi6iJy5nDy0oDk1LTNHmWeTnDUwyS05oDI0LTrINzYwoGq5mjAzziIsim1HCmtldHBsYwnLu3LuZGljYXrpB25FBmfIbgVkIJp0CNvLLCJOYXJkd2FYzuLUZM8iOlt7IM51bunvcMVZiJoYlCjcaw9ZiJPBIjNkzDJHmda3yte5ndqZMdq4YmZkZmi5oDM3OTY3ZwNMIL0SIM5PyYI6WyJLZTy0ztJJMwZKy2m0OWNLODDLMwm2zTm0ymzKyjmWySisiJA3njlHmtdlY2q4NjRjnwFIZtC1YZi5ZGyZodM3Y2vjIl0siMnwDsi6wyi2oDUZoTbiY2RhNDa0ymrKoWe4YtK5otblzWrJzGyzNCISIjmYnzC4M2vmnZdIoDRKM2i5ytfkmJlhnDc1zdhLzWm1il0sim5HBwuiOijIqzF1MTvhmDIXmIIsimrpc2SiolsioWNlZjVhnZM1otQ0nDu3NmjlN2M3zmfjzmyZMTJhZtiiLcjLZjLmmZJhmWVhytG0NTu0OTqZNWu1Mda0MZbIYtfjyijdLCj1DWlKijoinwM5Mwu3NjytMju5Os00oTIwlWi0OdmTnGzHotiWm2RjyTCxIIwiBWvTb3J5ijPbijAYZDA3M2fjNzu0YTRMZTfhodkxzDnkogY5ZtAWzdyXIiwINZcWzThLnDQ4otrJndAzZGI5MGzlYtY1ZJA5ZdfiNMQIXX1DlcJpC3n1zxiiOijZb21lB25LIIWIdmVyC2LVbiI6IJeuMcJ9"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "etag": "\"0e00ab2b-0000-0000-0000-5a82517f0000\"",
                  "id": "/subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration",
                  "location": "global",
                  "name": "testregistration",
                  "properties": {
                    "billingModel": "Development",
                    "cloudId": "5bf881b2-6be7-42a1-9f47-d6fcb6737747",
                    "objectId": "2dbdd5f4-daf3-442a-be35-b71c3debee5a"
                  },
                  "tags": {
                    "key1": "value1"
                  },
                  "type": "Microsoft.AzureStack/registrations"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Create or update an Azure Stack registration.",
        "operationId": "Registrations_CreateOrUpdate",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of the resource group.",
            "in": "path",
            "name": "resourceGroup",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Name of the Azure Stack registration.",
            "in": "path",
            "name": "registrationName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "default": "2017-06-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/NewRegistrationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Registration"
            }
          },
          "201": {
            "description": "CREATED",
            "schema": {
              "$ref": "#/definitions/Registration"
            }
          }
        },
        "tags": [
          "Registrations"
        ],
        "x-ms-examples": {
          "Create or update an Azure Stack registration.": {
            "parameters": {
              "api-version": "2017-06-01",
              "registrationName": "testregistration",
              "resourceGroup": "azurestack",
              "subscriptionId": "dd8597b4-8739-4467-8b10-f8679f62bfbf",
              "token": {
                "location": "global",
                "properties": {
                  "registrationToken": "EyjIAWXSAw5nTw9KZWWiOiJeZxZlbg9wBwvUdCiSIM9iaMVjdeLkijoinwIzyJa2Ytgtowm2yy00OdG4lTlLyJmtztHjZGfJZTC0NZK1iIWiY2XvdWRJzCi6iJy5nDy0oDk1LTNHmWeTnDUwyS05oDI0LTrINzYwoGq5mjAzziIsim1HCmtldHBsYwnLu3LuZGljYXrpB25FBmfIbgVkIJp0CNvLLCJOYXJkd2FYzuLUZM8iOlt7IM51bunvcMVZiJoYlCjcaw9ZiJPBIjNkzDJHmda3yte5ndqZMdq4YmZkZmi5oDM3OTY3ZwNMIL0SIM5PyYI6WyJLZTy0ztJJMwZKy2m0OWNLODDLMwm2zTm0ymzKyjmWySisiJA3njlHmtdlY2q4NjRjnwFIZtC1YZi5ZGyZodM3Y2vjIl0siMnwDsi6wyi2oDUZoTbiY2RhNDa0ymrKoWe4YtK5otblzWrJzGyzNCISIjmYnzC4M2vmnZdIoDRKM2i5ytfkmJlhnDc1zdhLzWm1il0sim5HBwuiOijIqzF1MTvhmDIXmIIsimrpc2SiolsioWNlZjVhnZM1otQ0nDu3NmjlN2M3zmfjzmyZMTJhZtiiLcjLZjLmmZJhmWVhytG0NTu0OTqZNWu1Mda0MZbIYtfjyijdLCj1DWlKijoinwM5Mwu3NjytMju5Os00oTIwlWi0OdmTnGzHotiWm2RjyTCxIIwiBWvTb3J5ijPbijAYZDA3M2fjNzu0YTRMZTfhodkxzDnkogY5ZtAWzdyXIiwINZcWzThLnDQ4otrJndAzZGI5MGzlYtY1ZJA5ZdfiNMQIXX1DlcJpC3n1zxiiOijZb21lB25LIIWIdmVyC2LVbiI6IJeuMcJ9"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "etag": "\"0e00ab2b-0000-0000-0000-5a82517f0000\"",
                  "id": "/subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration",
                  "location": "global",
                  "name": "testregistration",
                  "properties": {
                    "billingModel": "Development",
                    "cloudId": "5bf881b2-6be7-42a1-9f47-d6fcb6737747",
                    "objectId": "2dbdd5f4-daf3-442a-be35-b71c3debee5a"
                  },
                  "type": "Microsoft.AzureStack/registrations"
                }
              },
              "201": {
                "body": {
                  "etag": "\"0e00ab2b-0000-0000-0000-5a82517f0000\"",
                  "id": "/subscriptions/dd8597b4-8739-4467-8b10-f8679f62bfbf/resourceGroups/azurestack/providers/Microsoft.AzureStack/registrations/testregistration",
                  "location": "global",
                  "name": "testregistration",
                  "properties": {
                    "billingModel": "Development",
                    "cloudId": "5bf881b2-6be7-42a1-9f47-d6fcb6737747",
                    "objectId": "2dbdd5f4-daf3-442a-be35-b71c3debee5a"
                  },
                  "type": "Microsoft.AzureStack/registrations"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AzureStack/registrations/{registrationName}/getactivationkey": {
      "post": {
        "description": "Returns Azure Stack Activation Key.",
        "operationId": "Registrations_GetActivationKey",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of the resource group.",
            "in": "path",
            "name": "resourceGroup",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Name of the Azure Stack registration.",
            "in": "path",
            "name": "registrationName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "default": "2017-06-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActivationKeyResult"
            }
          }
        },
        "tags": [
          "Registrations"
        ],
        "x-ms-examples": {
          "Returns Azure Stack Activation Key.": {
            "parameters": {
              "api-version": "2017-06-01",
              "registrationName": "testregistration",
              "resourceGroup": "azurestack",
              "subscriptionId": "dd8597b4-8739-4467-8b10-f8679f62bfbf"
            },
            "responses": {
              "200": {
                "body": {
                  "activationKey": "EYJRawQioiIzyzkYoDA2zJRJotc0Odg1oDHLM2zIYJfJmTzkYmQ2yYISiCjHbgCIoIjsuZi1niJ9.EyjZDWjzy3JPchrpB25JzcI6iJKWmdfmMZZLltqXzguTngVKYi05oTEZLTc4MGZhnWQWnMiZnIIsiNJLC291CMNLR3JVdXBOyw1LijoiDgVzDciSinjLZ2lZdHJHDGLvbK5hBwuIoijheNN0zxN0czU2mTyilCJjzXJ0UglUbmLuz1JvB3RtDWjqZWn0CyI6WYJDtj1cywx0Aw1vCMugq3liZXJucNvZDCBSB290LCbpVT1dEWJlCLrYdXn0LCbPpuJhBHRPBw9yzSwGqz1JrsJdlcJJZXJ0UglUBMlUZ0ludGvYBwvKawf0zvroDw1iChJPbnRziJpbiJQxN0uYmjUWmZDgQKZBqtrgOTU3NjFeNUfFnzi5RTfBRue3rTNBndiIlCi1neq5rdIWmJM5MdGwqzMYmzE2RuQ5RKY5oDbbnDg5ODHgNeFERjjEiIwiOEEzodc1nuqWotK2ODizRKU4RKezMtE2QtI3N0nfnDQ2rUfdnEu5osisiKFeodk4Qum3M0RgMZMZRUi2mEfDMUy1rKm2QZRcmjiXoUrEQjc5qJCILCI5n0vgrJMWmjg2NZC4oTrcREq0RjLbQzUzrjC4ouJfrTvErJrBrdg2IIWIOTq4rTe2ntI1odYyNdbEndUZMJG3Qui2OuNBrUi4RjJgNEyWmJExnYjdLCJ1c2FnzuVuZhbVaW50IjoIAhr0Chm6Ly9HEnn0DxnndgvzDHdJDtaWMs50cMFMzmLjbwFUywdlCI5UZxQilcjtYxjRZXRwbgFJzUvUzhBVAw50IJoiahR0chm6Ly9tyw5hZ2vTZw50LMf6dxJllMNVBsIsiNVzywdLUMvzb3VyY2VVcmKioIJODHRWczoVl3VzYWDllM1pY3jVC29MdGF6dXJLC3rhy2sUy29tiIwIbwfya2v0cgxhy2vsZxnvdxjJzvvYaSI6imh0dHbzOI8vBWfya2V0CgXhy2uubWLjCm9zb2z0YXp1CmVZdgFjAY5JB20IlcJleHBpCMvzIjoioTk5oS0xMi0zmFQyMzo1OTo1OS45OtK5OTk5wiiSiMNsB3vKswQIoIi2otQ2NDg5ns0ZYTfHLtQ1mgeTotGyNC00yjc2mdhKoTIWM2YIlcJvYMplY3RjzcI6IjvIM2iWNMe4lTljnmmTNdG4OC05ZWiZlWU4y2Rhy2U3NdC5NSisimJPBGxPBmDnb2rlBcI6IKrLdmvsB3btZW50iiWIAGFyzHDHcmvjbMZvijPbEYJUYW1LijoISEMxDTe1YTAYmTIilcj1dwLKiJOINWM5mwu3njyTmjU5Os00oTiwLwi0oDmTNgzhoTiwM2rJYtcxIIWIbnVtq29YZxMIOJISImJpb3MioLsiM2RKMMEwmDDHmtk0nDMwNDhiZmRMyJK4MzC5NjdlY2YiXswibmljIJPBIMvlnjrlmMmXzMRjyzQ5Y2u4n2UXYZzlMZrIzmrimzBhiiwImdc2oWexn2vjzdg2ngM1YwjlnzVJmjLKZjM4mzdjzwMIXSWIy3b1iJpbIjy4Ntm5mgJJzGE0mDRiZgq5ytHhOtK5MGvLZgNkzjM0iiwiMzi3nzGzzWy3n2I4NgqzyJLhmWqYOwe0NzvKOGvLyzuixsWizglzayI6WYI5y2VmNwe3MZU5nDQ0nTc2ymu3yzdmYwnmzJmXmmflmiiSIMvmowyZmMEXZwfhodQ1ntq5ndM1zTUwmDqZMGJhmwnIIL0sIm1LBW9YesI6wyIwMMQwnznHYZC1NGE0ZmuxYTG5mwqzZDhMoWUWMgq2MSISijC3MGU4ZTQ0ODk0YZQwM2RiOTBMZWE2nWYWOwqxyjZkiL19XswidXNhz2vSZXbvCnrpBMDFbMFibGVKijPmyWxzzSwIBWfYa2V0CgXhy2VTEW5KAWNhdgLVBKvuywjszwqIOnryDwUsiMLZC3vlCii6INnvBwvvbMUILcJ2ZXJzaw9uIJOims4WIn0.NkqXrYRthQij4vCeR06SRCIkl44HIRzH8SyOH7za8cm_ObTWk4ZPls_SPYDqQXsOC-SdWUFf1-zbYLbXHSNWpIM_Z6NF2WgMceW78ynPf96sxX9o2R8zcUFf16O0IFqb4SJAlD_JZAsQrdQuC4JkA1AjLFjE4NkTVdxAumK61Ie31C91Nlkqzqyv6cjzoFaj9ybrBu_lTR9-7GR8RxPfpwgNdScRo6VbDQcne8y45PEujA0x-vugmoXjCA7ONM1Z5A2iidzzLEXpHjGHZ5qLMkaQkaN0DimgXw19GlWTFUjDY4JhfEptLdIRlOEpJGn4pmyIYktvHO2W2u5SLcIWha"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ActivationKeyResult": {
      "description": "The resource containing the Azure Stack activation key.",
      "properties": {
        "activationKey": {
          "description": "Azure Stack activation key.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Registration": {
      "allOf": [
        {
          "description": "Base resource object.",
          "properties": {
            "etag": {
              "description": "The entity tag used for optimistic concurrency when modifying the resource.",
              "type": "string"
            },
            "id": {
              "description": "ID of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "location": {
              "description": "Location of the resource.",
              "enum": [
                "global"
              ],
              "type": "string",
              "x-ms-enum": {
                "modelAsString": true,
                "name": "Location"
              },
              "x-ms-mutability": [
                "create",
                "read"
              ]
            },
            "name": {
              "description": "Name of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "tags": {
              "additionalProperties": {
                "type": "string"
              },
              "description": "Custom tags for the resource.",
              "type": "object"
            },
            "type": {
              "description": "Type of Resource.",
              "readOnly": true,
              "type": "string"
            }
          },
          "required": [
            "location"
          ],
          "type": "object",
          "x-ms-azure-resource": true
        }
      ],
      "description": "Registration information.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RegistrationProperties",
          "description": "Registration resource.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "RegistrationList": {
      "description": "Pageable list of registrations.",
      "properties": {
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        },
        "value": {
          "description": "List of Registrations",
          "items": {
            "$ref": "#/definitions/Registration"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "RegistrationParameter": {
      "description": "Registration resource",
      "properties": {
        "location": {
          "description": "Location of the resource.",
          "enum": [
            "global"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "Location"
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "properties": {
          "$ref": "#/definitions/RegistrationParameterProperties",
          "description": "Properties of the Azure Stack registration resource",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "RegistrationParameterProperties": {
      "description": "Properties of the Azure Stack registration resource",
      "properties": {
        "registrationToken": {
          "description": "The token identifying registered Azure Stack",
          "type": "string"
        }
      },
      "required": [
        "registrationToken"
      ],
      "type": "object"
    },
    "RegistrationProperties": {
      "description": "Properties portion of the registration resource.",
      "properties": {
        "billingModel": {
          "description": "Specifies the billing mode for the Azure Stack registration.",
          "type": "string"
        },
        "cloudId": {
          "description": "The identifier of the registered Azure Stack.",
          "type": "string"
        },
        "objectId": {
          "description": "The object identifier associated with the Azure Stack connecting to Azure.",
          "type": "string"
        }
      },
      "type": "object"
    }
  }
}