swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Microsoft Azure Support Resource Provider.
  title: Microsoft.Support
  version: 2019-05-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/support/resource-manager/Microsoft.Support/preview/2019-05-01-preview/support.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: support
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Api version
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: Azure subscription id
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Support/operations:
    get:
      description: This lists all the available Microsoft Support REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved list of operations.
          schema:
            $ref: "#/definitions/OperationsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      tags:
        - Operations
      x-ms-examples:
        Get all operations:
          parameters:
            api-version: 2019-05-01-preview
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Gets all the Azure services available for support
                      operation: Reads Services
                      provider: Microsoft Support
                      resource: Service
                    name: Microsoft.Support/services/read
                  - display:
                      description: Gets all the problem classifications available for a specific Azure service
                      operation: Reads Problem Classifications
                      provider: Microsoft Support
                      resource: Problem Classification
                    name: Microsoft.Support/problemClassifications/read
                  - display:
                      description: Gets all the support tickets
                      operation: Reads Support Tickets
                      provider: Microsoft Support
                      resource: Support Ticket
                    name: Microsoft.Support/supportTickets/read
                  - display:
                      description: Updates support ticket
                      operation: Updates support ticket
                      provider: Microsoft Support
                      resource: Support Ticket
                    name: Microsoft.Support/supportTickets/write
                  - display:
                      description: Gets all the communications
                      operation: Reads Communications
                      provider: Microsoft Support
                      resource: Communication
                    name: Microsoft.Support/communications/read
                  - display:
                      description: Creates a communication
                      operation: Creates a communication
                      provider: Microsoft Support
                      resource: Communication
                    name: Microsoft.Support/communications/write
                  - display:
                      description: Registers Support Resource Provider
                      operation: Registers Support Resource Provider
                      provider: Registers Support Resource Provider
                      resource: Support Registration
                    name: Microsoft.Support/register/action
                  - display:
                      description: Creates support ticket
                      operation: Registers Support Resource Provider
                      provider: Microsoft Support
                      resource: SupportTicket
                    name: Microsoft.Support/createSupportTicket/action
                  - display:
                      description: Add communication to support ticket
                      operation: Registers Support Resource Provider
                      provider: Microsoft Support
                      resource: Communication
                    name: Microsoft.Support/addCommunication/action
      x-ms-pageable:
        nextLinkName: null
  /providers/Microsoft.Support/services:
    get:
      description: "Lists all the Azure services available for support ticket creation. Here are the Service Ids for **Billing**, **Subscription Management**, and **Service and subscription limits (Quotas)** issues: <br/><table><tr><td><u>Issue type</u></td><td><u>Service Id</u></td></tr><tr><td>Billing</td><td>'/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc'</td></tr><tr><td>Subscription Management</td><td>'/providers/Microsoft.Support/services/f3dc5421-79ef-1efa-41a5-42bf3cbb52c6'</td></tr><tr><td>Quota</td><td>'/providers/Microsoft.Support/services/06bfd9d3-516b-d5c6-5802-169c800dec89'</td></tr></table> <br/><br/> For **Technical** issues, select the Service Id that maps to the Azure service/product as displayed in the **Services** drop-down list on the Azure portal's <a target='_blank' href='https://portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview'>New support request</a> page. <br/><br/> Always use the service and it's corresponding problem classification(s) obtained programmatically for support ticket creation. This practice ensures that you always have the most recent set of service and problem classification Ids."
      operationId: Services_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved list of Azure services available for support.
          schema:
            $ref: "#/definitions/ServicesListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      tags:
        - Services
      x-ms-examples:
        Gets list of services for which a support ticket can be created:
          parameters:
            api-version: 2019-05-01-preview
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Support/services/service_guid_1
                    name: service_guid_1
                    properties:
                      displayName: Billing
                    type: Microsoft.Support/services
                  - id: /providers/Microsoft.Support/services/service_guid_2
                    name: service_guid_2
                    properties:
                      displayName: Service and subscription limits (quotas)
                    type: Microsoft.Support/services
                  - id: /providers/Microsoft.Support/services/service_guid_3
                    name: service_guid_3
                    properties:
                      displayName: Subscription management
                    type: Microsoft.Support/services
                  - id: /providers/Microsoft.Support/services/service_guid_4
                    name: service_guid_4
                    properties:
                      displayName: Data Explorer
                    type: Microsoft.Support/services
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Support/services/{serviceName}":
    get:
      description: Gets a specific Azure service for support ticket creation.
      operationId: Services_Get
      parameters:
        - description: Name of Azure service
          in: path
          name: serviceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved Azure service for support ticket creation.
          schema:
            $ref: "#/definitions/Service"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      tags:
        - Services
      x-ms-examples:
        Gets details of Azure service:
          parameters:
            api-version: 2019-05-01-preview
            serviceName: service_guid
          responses:
            "200":
              body:
                id: /providers/Microsoft.Support/services/service_guid
                name: service_guid
                properties:
                  displayName: Billing
                type: Microsoft.Support/services
  "/providers/Microsoft.Support/services/{serviceName}/problemClassifications":
    get:
      description: Lists all the problem classifications (categories) available for a specific Azure service.<br/><br/> Always use the service and problem classifications obtained programmatically. This practice ensures that you always have the most recent set of service and problem classification Ids.
      operationId: ProblemClassifications_List
      parameters:
        - description: Name of Azure service for which the problem classifications need to be retrieved.
          in: path
          name: serviceName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved list of problem classifications for the specified Azure service.
          schema:
            $ref: "#/definitions/ProblemClassificationsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      tags:
        - ProblemClassifications
      x-ms-examples:
        Gets list of problemClassifications for a service for which a support ticket can be created:
          parameters:
            api-version: 2019-05-01-preview
            serviceName: service_guid
          responses:
            "200":
              body:
                value:
                  - id: /providers/Microsoft.Support/services/service_guid/problemClassifications/problemClassification_guid_1
                    name: problemClassification_guid_1
                    properties:
                      displayName: Reservation Management / Exchanges and Refunds
                    type: Microsoft.Support/problemClassifications
                  - id: /providers/Microsoft.Support/services/service_guid/problemClassifications/problemClassification_guid_2
                    name: problemClassification_guid_2
                    properties:
                      displayName: Reservation Management / Request Invoices
                    type: Microsoft.Support/problemClassifications
                  - id: /providers/Microsoft.Support/services/service_guid/problemClassifications/problemClassification_guid_3
                    name: problemClassification_guid_3
                    properties:
                      displayName: Reservation Management / Other Iissues or Requests
                    type: Microsoft.Support/problemClassifications
                  - id: /providers/Microsoft.Support/services/service_guid/problemClassifications/problemClassification_guid_4
                    name: problemClassification_guid_4
                    properties:
                      displayName: Other General Billing Questions
                    type: Microsoft.Support/problemClassifications
      x-ms-pageable:
        nextLinkName: null
  "/providers/Microsoft.Support/services/{serviceName}/problemClassifications/{problemClassificationName}":
    get:
      description: Gets the details of a specific problem classification for a specific Azure service.
      operationId: ProblemClassifications_Get
      parameters:
        - description: Name of Azure service available for support.
          in: path
          name: serviceName
          required: true
          type: string
        - description: Name of problem classification.
          in: path
          name: problemClassificationName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved problem classification details.
          schema:
            $ref: "#/definitions/ProblemClassification"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      tags:
        - ProblemClassifications
      x-ms-examples:
        Gets details of problemClassification for Azure service:
          parameters:
            api-version: 2019-05-01-preview
            problemClassificationName: problemClassification_guid
            serviceName: service_guid
          responses:
            "200":
              body:
                id: /providers/Microsoft.Support/services/service_guid/problemClassifications/problemClassification_guid
                name: problemClassification_guid
                properties:
                  displayName: Reservation Management / Exchanges and Refunds
                type: Microsoft.Support/problemClassifications
  "/subscriptions/{subscriptionId}/providers/Microsoft.Support/checkNameAvailability":
    post:
      description: Check the availability of a resource name. This API should to be used to check the uniqueness of the name for support ticket creation for the selected subscription.
      operationId: SupportTickets_CheckNameAvailability
      parameters:
        - description: Input to check.
          in: body
          name: checkNameAvailabilityInput
          required: true
          schema:
            $ref: "#/definitions/CheckNameAvailabilityInput"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/CheckNameAvailabilityOutput"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      tags:
        - SupportTickets
      x-ms-examples:
        Checks whether name is available for SupportTicket resource:
          parameters:
            api-version: 2019-05-01-preview
            checkNameAvailabilityInput:
              name: sampleName
              type: Microsoft.Support/supportTickets
            subscriptionId: subid
          responses:
            "200":
              body:
                message: Name not available
                nameAvailable: false
                reason: Name is already in use
  "/subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets":
    get:
      description: Lists all the support tickets for an Azure subscription. <br/><br/>You can also filter the support tickets by <i>Status</i> or <i>CreatedDate</i> using the $filter parameter. Output will be a paged result with <i>nextLink</i>, using which you can retrieve the next set of support tickets. <br/><br/>Support ticket data is available for 12 months after ticket creation. If a ticket was created more than 12 months ago, a request for data might cause an error.
      operationId: SupportTickets_List
      parameters:
        - description: The number of values to return in the collection. Default is 25 and max is 100.
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation. We support 'odata v4.0' filter semantics. <a target='_blank' href='https://docs.microsoft.com/odata/concepts/queryoptions-overview'>Learn more</a> <br/><i>Status</i> filter can only be used with 'eq' operator. For <i>CreatedDate</i> filter, the supported operators are 'gt' and 'ge'. When using both filters, combine them using the logical 'AND'.
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved support tickets.
          schema:
            $ref: "#/definitions/SupportTicketsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      tags:
        - SupportTickets
      x-ms-examples:
        List support tickets created on or after a certain date and in open state for a subscription:
          parameters:
            $filter: createdDate ge 2019-12-10T22:08:51Z and status eq 'Open'
            api-version: 2019-05-01-preview
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                    name: testticket
                    properties:
                      contactDetails:
                        country: usa
                        firstName: abc
                        lastName: xyz
                        preferredContactMethod: email
                        preferredSupportLanguage: en-US
                        preferredTimeZone: Pacific Standard Time
                        primaryEmailAddress: abc@contoso.com
                      createdDate: 2019-12-20T21:36:18Z
                      description: my description
                      modifiedDate: 2019-12-20T21:36:23Z
                      problemClassificationDisplayName: Connectivity / Cannot connect to virtual machine by using RDP or SSH
                      problemClassificationId: /providers/Microsoft.Support/services/virtual_machine_service_guid/problemClassifications/problemClassification_guid
                      productionOutage: false
                      require24X7Response: false
                      serviceDisplayName: Virtual Machine running Linux
                      serviceId: /providers/Microsoft.Support/services/virtual_machine_service_guid
                      serviceLevelAgreement:
                        expirationTime: 2019-12-21T17:36:18Z
                        slaMinutes: 240
                        startTime: 2019-12-20T21:36:18Z
                      severity: moderate
                      status: Open
                      supportPlanType: Premier
                      supportTicketId: "119120321001170"
                      technicalTicketDetails:
                        resourceId: /subscriptions/subid/resourceGroups/test/providers/Microsoft.Compute/virtualMachines/testserver
                      title: my title
                    type: Microsoft.Support/supportTickets
                  - id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket2
                    name: testticket2
                    properties:
                      contactDetails:
                        country: USA
                        firstName: abc
                        lastName: xyz
                        preferredContactMethod: email
                        preferredSupportLanguage: en-US
                        preferredTimeZone: Pacific Standard Time
                        primaryEmailAddress: abc@contoso.com
                      createdDate: 2019-12-20T21:36:18Z
                      description: This is a test - please ignore
                      modifiedDate: 2019-12-20T21:36:23Z
                      problemClassificationDisplayName: Add or Edit VAT, TAX ID, or PO Number
                      problemClassificationId: /providers/Microsoft.Support/services/subscription_management_service_guid/problemClassifications/problemClassification_guid
                      productionOutage: false
                      require24X7Response: false
                      serviceDisplayName: Subscription management
                      serviceId: /providers/Microsoft.Support/services/subscription_management_service_guid
                      serviceLevelAgreement:
                        expirationTime: 2019-12-21T17:36:18Z
                        slaMinutes: 240
                        startTime: 2019-12-20T21:36:18Z
                      severity: minimal
                      status: Open
                      supportPlanType: Premier
                      supportTicketId: "118032014183771"
                      title: Test - please ignore
                    type: Microsoft.Support/supportTickets
        List support tickets for a subscription:
          parameters:
            api-version: 2019-05-01-preview
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                    name: testticket
                    properties:
                      contactDetails:
                        country: usa
                        firstName: abc
                        lastName: xyz
                        preferredContactMethod: email
                        preferredSupportLanguage: en-US
                        preferredTimeZone: Pacific Standard Time
                        primaryEmailAddress: abc@contoso.com
                      createdDate: 2018-03-20T21:36:18Z
                      description: my description
                      modifiedDate: 2018-03-20T21:36:23Z
                      problemClassificationDisplayName: Connectivity / Cannot connect to virtual machine by using RDP or SSH
                      problemClassificationId: /providers/Microsoft.Support/services/virtual_machine_service_guid/problemClassifications/problemClassification_guid
                      productionOutage: false
                      require24X7Response: false
                      serviceDisplayName: Virtual Machine running Linux
                      serviceId: /providers/Microsoft.Support/services/virtual_machine_service_guid
                      serviceLevelAgreement:
                        expirationTime: 2018-03-21T17:36:18Z
                        slaMinutes: 240
                        startTime: 2018-03-20T21:36:18Z
                      severity: moderate
                      status: Open
                      supportPlanType: Premier
                      supportTicketId: "119120321001170"
                      technicalTicketDetails:
                        resourceId: /subscriptions/subid/resourceGroups/test/providers/Microsoft.Compute/virtualMachines/testserver
                      title: my title
                    type: Microsoft.Support/supportTickets
                  - id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket2
                    name: testticket2
                    properties:
                      contactDetails:
                        country: USA
                        firstName: abc
                        lastName: xyz
                        preferredContactMethod: email
                        preferredSupportLanguage: en-US
                        preferredTimeZone: Pacific Standard Time
                        primaryEmailAddress: abc@contoso.com
                      createdDate: 2018-03-20T21:36:18Z
                      description: This is a test - please ignore
                      modifiedDate: 2018-03-20T21:36:23Z
                      problemClassificationDisplayName: Add or Edit VAT, TAX ID, or PO Number
                      problemClassificationId: /providers/Microsoft.Support/services/subscription_management_service_guid/problemClassifications/problemClassification_guid
                      productionOutage: false
                      require24X7Response: false
                      serviceDisplayName: Subscription management
                      serviceId: /providers/Microsoft.Support/services/subscription_management_service_guid
                      serviceLevelAgreement:
                        expirationTime: 2018-03-21T17:36:18Z
                        slaMinutes: 240
                        startTime: 2018-03-20T21:36:18Z
                      severity: minimal
                      status: Open
                      supportPlanType: Premier
                      supportTicketId: "118032014183771"
                      title: Test - please ignore
                    type: Microsoft.Support/supportTickets
        List support tickets in open state for a subscription:
          parameters:
            $filter: status eq 'Open'
            api-version: 2019-05-01-preview
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                    name: testticket
                    properties:
                      contactDetails:
                        country: usa
                        firstName: abc
                        lastName: xyz
                        preferredContactMethod: email
                        preferredSupportLanguage: en-US
                        preferredTimeZone: Pacific Standard Time
                        primaryEmailAddress: abc@contoso.com
                      createdDate: 2018-03-20T21:36:18Z
                      description: my description
                      modifiedDate: 2018-03-20T21:36:23Z
                      problemClassificationDisplayName: Connectivity / Cannot connect to virtual machine by using RDP or SSH
                      problemClassificationId: /providers/Microsoft.Support/services/virtual_machine_service_guid/problemClassifications/problemClassification_guid
                      productionOutage: false
                      require24X7Response: false
                      serviceDisplayName: Virtual Machine running Linux
                      serviceId: /providers/Microsoft.Support/services/virtual_machine_service_guid
                      serviceLevelAgreement:
                        expirationTime: 2018-03-21T17:36:18Z
                        slaMinutes: 240
                        startTime: 2018-03-20T21:36:18Z
                      severity: moderate
                      status: Open
                      supportPlanType: Premier
                      supportTicketId: "119120321001170"
                      technicalTicketDetails:
                        resourceId: /subscriptions/subid/resourceGroups/test/providers/Microsoft.Compute/virtualMachines/testserver
                      title: my title
                    type: Microsoft.Support/supportTickets
                  - id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket2
                    name: testticket2
                    properties:
                      contactDetails:
                        country: USA
                        firstName: abc
                        lastName: xyz
                        preferredContactMethod: email
                        preferredSupportLanguage: en-US
                        preferredTimeZone: Pacific Standard Time
                        primaryEmailAddress: abc@contoso.com
                      createdDate: 2018-03-20T21:36:18Z
                      description: This is a test - please ignore
                      modifiedDate: 2018-03-20T21:36:23Z
                      problemClassificationDisplayName: Add or Edit VAT, TAX ID, or PO Number
                      problemClassificationId: /providers/Microsoft.Support/services/subscription_management_service_guid/problemClassifications/problemClassification_guid
                      productionOutage: false
                      require24X7Response: false
                      serviceDisplayName: Subscription management
                      serviceId: /providers/Microsoft.Support/services/subscription_management_service_guid
                      serviceLevelAgreement:
                        expirationTime: 2018-03-21T17:36:18Z
                        slaMinutes: 240
                        startTime: 2018-03-20T21:36:18Z
                      severity: minimal
                      status: Open
                      supportPlanType: Premier
                      supportTicketId: "118032014183771"
                      title: Test - please ignore
                    type: Microsoft.Support/supportTickets
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets/{supportTicketName}":
    get:
      description: Gets details for a specific support ticket in an Azure subscription. <br/><br/>Support ticket data is available for 12 months after ticket creation. If a ticket was created more than 12 months ago, a request for data might cause an error.
      operationId: SupportTickets_Get
      parameters:
        - description: Support ticket name
          in: path
          name: supportTicketName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved support ticket.
          schema:
            $ref: "#/definitions/SupportTicketDetails"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      tags:
        - SupportTickets
      x-ms-examples:
        Get details of a subscription ticket:
          parameters:
            api-version: 2019-05-01-preview
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                name: testticket
                properties:
                  contactDetails:
                    country: USA
                    firstName: abc
                    lastName: xyz
                    preferredContactMethod: email
                    preferredSupportLanguage: en-US
                    preferredTimeZone: Pacific Standard Time
                    primaryEmailAddress: abc@contoso.com
                  createdDate: 2018-03-20T21:36:18Z
                  description: This is a test - please ignore
                  modifiedDate: 2018-03-20T21:36:23Z
                  problemClassificationDisplayName: Add or Edit VAT, TAX ID, or PO Number
                  problemClassificationId: /providers/Microsoft.Support/services/subscription_management_service_guid/problemClassifications/problemClassification_guid
                  productionOutage: false
                  require24X7Response: false
                  serviceDisplayName: Subscription management
                  serviceId: /providers/Microsoft.Support/services/subscription_management_service_guid
                  serviceLevelAgreement:
                    expirationTime: 2018-03-21T17:36:18Z
                    slaMinutes: 240
                    startTime: 2018-03-20T21:36:18Z
                  severity: minimal
                  status: Open
                  supportPlanType: Premier
                  supportTicketId: "118032014183770"
                  title: Test - please ignore
                type: Microsoft.Support/supportTickets
    patch:
      description: "This API allows you to update the severity level or your contact information in the support ticket. <br/><br/> Note: The severity levels cannot be changed if a support ticket is actively being worked upon by an Azure support engineer. In such a case, contact your support engineer to request severity update by adding a new communication using the Communications API."
      operationId: SupportTickets_Update
      parameters:
        - description: Support ticket name
          in: path
          name: supportTicketName
          required: true
          type: string
        - description: UpdateSupportTicket object
          in: body
          name: updateSupportTicket
          required: true
          schema:
            $ref: "#/definitions/UpdateSupportTicket"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated support ticket.
          schema:
            $ref: "#/definitions/SupportTicketDetails"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      tags:
        - SupportTickets
      x-ms-examples:
        UpdateSupportTicketForSubscription:
          parameters:
            api-version: 2019-05-01-preview
            subscriptionId: subid
            supportTicketName: testticket
            updateSupportTicket:
              contactDetails:
                additionalEmailAddresses:
                  - tname@contoso.com
                  - teamtest@contoso.com
                country: USA
                firstName: first name
                lastName: last name
                phoneNumber: 123-456-7890
                preferredContactMethod: email
                preferredSupportLanguage: en-US
                preferredTimeZone: Pacific Standard Time
                primaryEmailAddress: test.name@contoso.com
              severity: critical
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                name: testticket
                properties:
                  contactDetails:
                    country: USA
                    firstName: abc
                    lastName: xyz
                    preferredContactMethod: email
                    preferredSupportLanguage: en-US
                    preferredTimeZone: Pacific Standard Time
                    primaryEmailAddress: abc@contoso.com
                  createdDate: 2018-03-20T21:36:18Z
                  description: This is a test - please ignore
                  modifiedDate: 2018-03-20T21:36:23Z
                  problemClassificationDisplayName: Add or Edit VAT, TAX ID, or PO Number
                  problemClassificationId: /providers/Microsoft.Support/services/subscription_management_service_guid/problemClassifications/problemClassification_guid
                  productionOutage: false
                  require24X7Response: false
                  serviceDisplayName: Subscription management
                  serviceId: /providers/Microsoft.Support/services/subscription_management_service_guid
                  serviceLevelAgreement:
                    expirationTime: 2018-03-21T17:36:18Z
                    slaMinutes: 240
                    startTime: 2018-03-20T21:36:18Z
                  severity: critical
                  status: Open
                  supportPlanType: Premier
                  supportTicketId: "118032014183770"
                  title: Test - please ignore
                type: Microsoft.Support/supportTickets
    put:
      description: "Creates a new support ticket for Quota increase, Technical, Billing, and Subscription Management issues for the specified subscription. <br/><br/>A paid technical support plan is required to create a support ticket using this API. <a href='https://aka.ms/supportticketAPI'>Learn more</a> <br/><br/> Use the Services API to map the right Service Id to the issue type. For example: For billing tickets set *serviceId* to *'/providers/Microsoft.Support/services/517f2da6-78fd-0498-4e22-ad26996b1dfc'*. <br/> For Technical issues, the Service id will map to the Azure service you want to raise a support ticket for. <br/><br/>Always call the Services and ProblemClassifications API to get the most recent set of services and problem categories required for support ticket creation."
      operationId: SupportTickets_Create
      parameters:
        - description: Support ticket name.
          in: path
          name: supportTicketName
          required: true
          type: string
        - description: Support ticket request payload.
          in: body
          name: createSupportTicketParameters
          required: true
          schema:
            $ref: "#/definitions/SupportTicketDetails"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK - SupportTicket created successfully
          schema:
            $ref: "#/definitions/SupportTicketDetails"
        "202":
          description: Accepted, SupportTicket will be created asynchronously
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      tags:
        - SupportTickets
      x-ms-examples:
        Create a ticket for Billing related issues:
          parameters:
            api-version: 2019-05-01-preview
            createSupportTicketParameters:
              properties:
                contactDetails:
                  country: usa
                  firstName: abc
                  lastName: xyz
                  preferredContactMethod: email
                  preferredSupportLanguage: en-US
                  preferredTimeZone: Pacific Standard Time
                  primaryEmailAddress: abc@contoso.com
                description: my description
                problemClassificationId: /providers/Microsoft.Support/services/billing_service_guid/problemClassifications/billing_problemClassification_guid
                serviceId: /providers/Microsoft.Support/services/billing_service_guid
                severity: moderate
                title: my title
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                name: testticket
                properties:
                  contactDetails:
                    country: usa
                    firstName: abc
                    lastName: xyz
                    preferredContactMethod: email
                    preferredSupportLanguage: en-US
                    preferredTimeZone: Pacific Standard Time
                    primaryEmailAddress: abc@contoso.com
                  createdDate: 2018-03-20T21:36:18Z
                  description: my description
                  modifiedDate: 2018-03-20T21:36:23Z
                  problemClassificationDisplayName: Refund request
                  problemClassificationId: /providers/Microsoft.Support/services/billing_service_guid/problemClassifications/billing_problemClassification_guid
                  productionOutage: false
                  require24X7Response: false
                  serviceDisplayName: Billing
                  serviceId: /providers/Microsoft.Support/services/billing_service_guid
                  serviceLevelAgreement:
                    expirationTime: 2018-03-21T17:36:18Z
                    slaMinutes: 240
                    startTime: 2018-03-20T21:36:18Z
                  severity: moderate
                  status: Open
                  supportPlanType: Premier
                  supportTicketId: "119120321001170"
                  title: my title
                type: Microsoft.Support/supportTickets
            "202":
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationsStatus/operationid?api-version=2019-05-01-preview
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationResults/operationid?api-version=2019-05-01-preview
        Create a ticket for Subscription Management related issues:
          parameters:
            api-version: 2019-05-01-preview
            createSupportTicketParameters:
              properties:
                contactDetails:
                  country: usa
                  firstName: abc
                  lastName: xyz
                  preferredContactMethod: email
                  preferredSupportLanguage: en-US
                  preferredTimeZone: Pacific Standard Time
                  primaryEmailAddress: abc@contoso.com
                description: my description
                problemClassificationId: /providers/Microsoft.Support/services/subscription_management_service_guid/problemClassifications/subscription_management_problemClassification_guid
                serviceId: /providers/Microsoft.Support/services/subscription_management_service_guid
                severity: moderate
                title: my title
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                name: testticket
                properties:
                  contactDetails:
                    country: usa
                    firstName: abc
                    lastName: xyz
                    preferredContactMethod: email
                    preferredSupportLanguage: en-US
                    preferredTimeZone: Pacific Standard Time
                    primaryEmailAddress: abc@contoso.com
                  createdDate: 2018-03-20T21:36:18Z
                  description: my description
                  modifiedDate: 2018-03-20T21:36:23Z
                  problemClassificationDisplayName: Transfer ownership of my subscription
                  problemClassificationId: /providers/Microsoft.Support/services/subscription_management_service_guid/problemClassifications/subscription_management_problemClassification_guid
                  productionOutage: false
                  require24X7Response: false
                  serviceDisplayName: Subscription management
                  serviceId: /providers/Microsoft.Support/services/subscription_management_service_guid
                  serviceLevelAgreement:
                    expirationTime: 2018-03-21T17:36:18Z
                    slaMinutes: 240
                    startTime: 2018-03-20T21:36:18Z
                  severity: moderate
                  status: Open
                  supportPlanType: Premier
                  supportTicketId: "119120321001170"
                  title: my title
                type: Microsoft.Support/supportTickets
            "202":
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationsStatus/operationid?api-version=2019-05-01-preview
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationResults/operationid?api-version=2019-05-01-preview
        Create a ticket for Technical issue related to a specific resource:
          parameters:
            api-version: 2019-05-01-preview
            createSupportTicketParameters:
              properties:
                contactDetails:
                  country: usa
                  firstName: abc
                  lastName: xyz
                  preferredContactMethod: email
                  preferredSupportLanguage: en-US
                  preferredTimeZone: Pacific Standard Time
                  primaryEmailAddress: abc@contoso.com
                description: my description
                problemClassificationId: /providers/Microsoft.Support/services/virtual_machine_running_linux_service_guid/problemClassifications/problemClassification_guid
                serviceId: /providers/Microsoft.Support/services/cddd3eb5-1830-b494-44fd-782f691479dc
                severity: moderate
                technicalTicketDetails:
                  resourceId: /subscriptions/subid/resourceGroups/test/providers/Microsoft.Compute/virtualMachines/testserver
                title: my title
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                name: testticket
                properties:
                  contactDetails:
                    country: usa
                    firstName: abc
                    lastName: xyz
                    preferredContactMethod: email
                    preferredSupportLanguage: en-US
                    preferredTimeZone: Pacific Standard Time
                    primaryEmailAddress: abc@contoso.com
                  createdDate: 2018-03-20T21:36:18Z
                  description: my description
                  modifiedDate: 2018-03-20T21:36:23Z
                  problemClassificationDisplayName: Connectivity / Cannot connect to virtual machine by using RDP or SSH
                  problemClassificationId: /providers/Microsoft.Support/services/virtual_machine_running_linux_service_guid/problemClassifications/problemClassification_guid
                  productionOutage: false
                  require24X7Response: false
                  serviceDisplayName: Virtual Machine running Linux
                  serviceId: /providers/Microsoft.Support/services/virtual_machine_running_linux_service_guid
                  serviceLevelAgreement:
                    expirationTime: 2018-03-21T17:36:18Z
                    slaMinutes: 240
                    startTime: 2018-03-20T21:36:18Z
                  severity: moderate
                  status: Open
                  supportPlanType: Premier
                  supportTicketId: "119120321001170"
                  technicalTicketDetails:
                    resourceId: /subscriptions/subid/resourceGroups/test/providers/Microsoft.Compute/virtualMachines/testserver
                  title: my title
                type: Microsoft.Support/supportTickets
            "202":
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationsStatus/operationid?api-version=2019-05-01-preview
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationResults/operationid?api-version=2019-05-01-preview
        Create a ticket to request Quota increase for Active Jobs and Job Schedules for a Batch account:
          parameters:
            api-version: 2019-05-01-preview
            createSupportTicketParameters:
              properties:
                contactDetails:
                  country: usa
                  firstName: abc
                  lastName: xyz
                  preferredContactMethod: email
                  preferredSupportLanguage: en-US
                  preferredTimeZone: Pacific Standard Time
                  primaryEmailAddress: abc@contoso.com
                description: my description
                problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/batch_problemClassification_guid
                quotaTicketDetails:
                  quotaChangeRequestSubType: Account
                  quotaChangeRequestVersion: "1.0"
                  quotaChangeRequests:
                    - payload: '{"AccountName":"test","NewLimit":200,"Type":"Jobs"}'
                      region: EastUS
                serviceId: /providers/Microsoft.Support/services/quota_service_guid
                severity: moderate
                title: my title
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                name: testticket
                properties:
                  contactDetails:
                    country: usa
                    firstName: abc
                    lastName: xyz
                    preferredContactMethod: email
                    preferredSupportLanguage: en-US
                    preferredTimeZone: Pacific Standard Time
                    primaryEmailAddress: abc@contoso.com
                  createdDate: 2018-03-20T21:36:18Z
                  description: my description
                  modifiedDate: 2018-03-20T21:36:23Z
                  problemClassificationDisplayName: Batch
                  problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/batch_problemClassification_guid
                  productionOutage: false
                  quotaTicketDetails:
                    quotaChangeRequestSubType: Account
                    quotaChangeRequestVersion: "1.0"
                    quotaChangeRequests:
                      - payload: '{"AccountName":"test","NewLimit":200,"Type":"Jobs"}'
                        region: EastUS
                  require24X7Response: false
                  serviceDisplayName: Service and subscription limits (quotas)
                  serviceId: /providers/Microsoft.Support/services/quota_service_guid
                  serviceLevelAgreement:
                    expirationTime: 2018-03-21T17:36:18Z
                    slaMinutes: 240
                    startTime: 2018-03-20T21:36:18Z
                  severity: moderate
                  status: Open
                  supportPlanType: Premier
                  supportTicketId: "119120321001170"
                  title: my title
                type: Microsoft.Support/supportTickets
            "202":
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationsStatus/operationid?api-version=2019-05-01-preview
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationResults/operationid?api-version=2019-05-01-preview
        Create a ticket to request Quota increase for Compute VM Cores:
          parameters:
            api-version: 2019-05-01-preview
            createSupportTicketParameters:
              properties:
                contactDetails:
                  country: usa
                  firstName: abc
                  lastName: xyz
                  preferredContactMethod: email
                  preferredSupportLanguage: en-US
                  preferredTimeZone: Pacific Standard Time
                  primaryEmailAddress: abc@contoso.com
                description: my description
                problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/cores_problemClassification_guid
                quotaTicketDetails:
                  quotaChangeRequestVersion: "1.0"
                  quotaChangeRequests:
                    - payload: '{"SKU":"DSv3 Series","NewLimit":104}'
                      region: EastUS
                serviceId: /providers/Microsoft.Support/services/quota_service_guid
                severity: moderate
                title: my title
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                name: testticket
                properties:
                  contactDetails:
                    country: usa
                    firstName: abc
                    lastName: xyz
                    preferredContactMethod: email
                    preferredSupportLanguage: en-US
                    preferredTimeZone: Pacific Standard Time
                    primaryEmailAddress: abc@contoso.com
                  createdDate: 2018-03-20T21:36:18Z
                  description: my description
                  modifiedDate: 2018-03-20T21:36:23Z
                  problemClassificationDisplayName: Compute-VM (cores-vCPUs) subscription limit increases
                  problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/cores_problemClassification_guid
                  productionOutage: false
                  quotaTicketDetails:
                    quotaChangeRequestVersion: "1.0"
                    quotaChangeRequests:
                      - payload: '{"VmFamily":"DSv3 Series","NewLimit":104}'
                        region: EastUS
                  require24X7Response: false
                  serviceDisplayName: Service and subscription limits (quotas)
                  serviceId: /providers/Microsoft.Support/services/quota_service_guid
                  serviceLevelAgreement:
                    expirationTime: 2018-03-21T17:36:18Z
                    slaMinutes: 240
                    startTime: 2018-03-20T21:36:18Z
                  severity: moderate
                  status: Open
                  supportPlanType: Premier
                  supportTicketId: "119120321001170"
                  title: my title
                type: Microsoft.Support/supportTickets
            "202":
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationsStatus/operationid?api-version=2019-05-01-preview
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationResults/operationid?api-version=2019-05-01-preview
        Create a ticket to request Quota increase for DTUs for SQL Data Warehouse:
          parameters:
            api-version: 2019-05-01-preview
            createSupportTicketParameters:
              properties:
                contactDetails:
                  country: usa
                  firstName: abc
                  lastName: xyz
                  preferredContactMethod: email
                  preferredSupportLanguage: en-US
                  preferredTimeZone: Pacific Standard Time
                  primaryEmailAddress: abc@contoso.com
                description: my description
                problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/sql_datawarehouse_problemClassification_guid
                quotaTicketDetails:
                  quotaChangeRequestSubType: DTUs
                  quotaChangeRequestVersion: "1.0"
                  quotaChangeRequests:
                    - payload: '{"ServerName":"testserver","NewLimit":54000}'
                      region: EastUS
                serviceId: /providers/Microsoft.Support/services/quota_service_guid
                severity: moderate
                title: my title
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                name: testticket
                properties:
                  contactDetails:
                    country: usa
                    firstName: abc
                    lastName: xyz
                    preferredContactMethod: email
                    preferredSupportLanguage: en-US
                    preferredTimeZone: Pacific Standard Time
                    primaryEmailAddress: abc@contoso.com
                  createdDate: 2018-03-20T21:36:18Z
                  description: my description
                  modifiedDate: 2018-03-20T21:36:23Z
                  problemClassificationDisplayName: SQL Data Warehouse
                  problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/sql_datawarehouse_problemClassification_guid
                  productionOutage: false
                  quotaTicketDetails:
                    quotaChangeRequestSubType: DTUs
                    quotaChangeRequestVersion: "1.0"
                    quotaChangeRequests:
                      - payload: '{"ServerName":"testserver","NewLimit":54000}'
                        region: EastUS
                  require24X7Response: false
                  serviceDisplayName: Service and subscription limits (quotas)
                  serviceId: /providers/Microsoft.Support/services/quota_service_guid
                  serviceLevelAgreement:
                    expirationTime: 2018-03-21T17:36:18Z
                    slaMinutes: 240
                    startTime: 2018-03-20T21:36:18Z
                  severity: moderate
                  status: Open
                  supportPlanType: Premier
                  supportTicketId: "119120321001170"
                  title: my title
                type: Microsoft.Support/supportTickets
            "202":
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationsStatus/operationid?api-version=2019-05-01-preview
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationResults/operationid?api-version=2019-05-01-preview
        Create a ticket to request Quota increase for DTUs for SQL Database:
          parameters:
            api-version: 2019-05-01-preview
            createSupportTicketParameters:
              properties:
                contactDetails:
                  country: usa
                  firstName: abc
                  lastName: xyz
                  preferredContactMethod: email
                  preferredSupportLanguage: en-US
                  preferredTimeZone: Pacific Standard Time
                  primaryEmailAddress: abc@contoso.com
                description: my description
                problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/sql_database_problemClassification_guid
                quotaTicketDetails:
                  quotaChangeRequestSubType: DTUs
                  quotaChangeRequestVersion: "1.0"
                  quotaChangeRequests:
                    - payload: '{"ServerName":"testserver","NewLimit":54000}'
                      region: EastUS
                serviceId: /providers/Microsoft.Support/services/quota_service_guid
                severity: moderate
                title: my title
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                name: testticket
                properties:
                  contactDetails:
                    country: usa
                    firstName: abc
                    lastName: xyz
                    preferredContactMethod: email
                    preferredSupportLanguage: en-US
                    preferredTimeZone: Pacific Standard Time
                    primaryEmailAddress: abc@contoso.com
                  createdDate: 2018-03-20T21:36:18Z
                  description: my description
                  modifiedDate: 2018-03-20T21:36:23Z
                  problemClassificationDisplayName: SQL database
                  problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/sql_database_problemClassification_guid
                  productionOutage: false
                  quotaTicketDetails:
                    quotaChangeRequestSubType: DTUs
                    quotaChangeRequestVersion: "1.0"
                    quotaChangeRequests:
                      - payload: '{"ServerName":"testserver","NewLimit":54000}'
                        region: EastUS
                  require24X7Response: false
                  serviceDisplayName: Service and subscription limits (quotas)
                  serviceId: /providers/Microsoft.Support/services/quota_service_guid
                  serviceLevelAgreement:
                    expirationTime: 2018-03-21T17:36:18Z
                    slaMinutes: 240
                    startTime: 2018-03-20T21:36:18Z
                  severity: moderate
                  status: Open
                  supportPlanType: Premier
                  supportTicketId: "119120321001170"
                  title: my title
                type: Microsoft.Support/supportTickets
            "202":
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationsStatus/operationid?api-version=2019-05-01-preview
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationResults/operationid?api-version=2019-05-01-preview
        Create a ticket to request Quota increase for Low-priority cores for Machine Learning service:
          parameters:
            api-version: 2019-05-01-preview
            createSupportTicketParameters:
              properties:
                contactDetails:
                  country: usa
                  firstName: abc
                  lastName: xyz
                  preferredContactMethod: email
                  preferredSupportLanguage: en-US
                  preferredTimeZone: Pacific Standard Time
                  primaryEmailAddress: abc@contoso.com
                description: my description
                problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/machine_learning_service_problemClassification_guid
                quotaTicketDetails:
                  quotaChangeRequestSubType: Account
                  quotaChangeRequestVersion: "1.0"
                  quotaChangeRequests:
                    - payload: '{"NewLimit":200,"Type":"LowPriority"}'
                      region: EastUS
                serviceId: /providers/Microsoft.Support/services/quota_service_guid
                severity: moderate
                title: my title
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                name: testticket
                properties:
                  contactDetails:
                    country: usa
                    firstName: abc
                    lastName: xyz
                    preferredContactMethod: email
                    preferredSupportLanguage: en-US
                    preferredTimeZone: Pacific Standard Time
                    primaryEmailAddress: abc@contoso.com
                  createdDate: 2018-03-20T21:36:18Z
                  description: my description
                  modifiedDate: 2018-03-20T21:36:23Z
                  problemClassificationDisplayName: Machine Learning service
                  problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/machine_learning_service_problemClassification_guid
                  productionOutage: false
                  quotaTicketDetails:
                    quotaChangeRequestSubType: Account
                    quotaChangeRequestVersion: "1.0"
                    quotaChangeRequests:
                      - payload: '{"NewLimit":200,"Type":"LowPriority"}'
                        region: EastUS
                  require24X7Response: false
                  serviceDisplayName: Service and subscription limits (quotas)
                  serviceId: /providers/Microsoft.Support/services/quota_service_guid
                  serviceLevelAgreement:
                    expirationTime: 2018-03-21T17:36:18Z
                    slaMinutes: 240
                    startTime: 2018-03-20T21:36:18Z
                  severity: moderate
                  status: Open
                  supportPlanType: Premier
                  supportTicketId: "119120321001170"
                  title: my title
                type: Microsoft.Support/supportTickets
            "202":
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationsStatus/operationid?api-version=2019-05-01-preview
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationResults/operationid?api-version=2019-05-01-preview
        Create a ticket to request Quota increase for Low-priority cores for a Batch account:
          parameters:
            api-version: 2019-05-01-preview
            createSupportTicketParameters:
              properties:
                contactDetails:
                  country: usa
                  firstName: abc
                  lastName: xyz
                  preferredContactMethod: email
                  preferredSupportLanguage: en-US
                  preferredTimeZone: Pacific Standard Time
                  primaryEmailAddress: abc@contoso.com
                description: my description
                problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/batch_problemClassification_guid
                quotaTicketDetails:
                  quotaChangeRequestSubType: Account
                  quotaChangeRequestVersion: "1.0"
                  quotaChangeRequests:
                    - payload: '{"AccountName":"test","NewLimit":200,"Type":"LowPriority"}'
                      region: EastUS
                serviceId: /providers/Microsoft.Support/services/quota_service_guid
                severity: moderate
                title: my title
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                name: testticket
                properties:
                  contactDetails:
                    country: usa
                    firstName: abc
                    lastName: xyz
                    preferredContactMethod: email
                    preferredSupportLanguage: en-US
                    preferredTimeZone: Pacific Standard Time
                    primaryEmailAddress: abc@contoso.com
                  createdDate: 2018-03-20T21:36:18Z
                  description: my description
                  modifiedDate: 2018-03-20T21:36:23Z
                  problemClassificationDisplayName: Batch
                  problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/batch_problemClassification_guid
                  productionOutage: false
                  quotaTicketDetails:
                    quotaChangeRequestSubType: Account
                    quotaChangeRequestVersion: "1.0"
                    quotaChangeRequests:
                      - payload: '{"AccountName":"test","NewLimit":200,"Type":"LowPriority"}'
                        region: EastUS
                  require24X7Response: false
                  serviceDisplayName: Service and subscription limits (quotas)
                  serviceId: /providers/Microsoft.Support/services/quota_service_guid
                  serviceLevelAgreement:
                    expirationTime: 2018-03-21T17:36:18Z
                    slaMinutes: 240
                    startTime: 2018-03-20T21:36:18Z
                  severity: moderate
                  status: Open
                  supportPlanType: Premier
                  supportTicketId: "119120321001170"
                  title: my title
                type: Microsoft.Support/supportTickets
            "202":
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationsStatus/operationid?api-version=2019-05-01-preview
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationResults/operationid?api-version=2019-05-01-preview
        Create a ticket to request Quota increase for Pools for a Batch account:
          parameters:
            api-version: 2019-05-01-preview
            createSupportTicketParameters:
              properties:
                contactDetails:
                  country: usa
                  firstName: abc
                  lastName: xyz
                  preferredContactMethod: email
                  preferredSupportLanguage: en-US
                  preferredTimeZone: Pacific Standard Time
                  primaryEmailAddress: abc@contoso.com
                description: my description
                problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/batch_problemClassification_guid
                quotaTicketDetails:
                  quotaChangeRequestSubType: Account
                  quotaChangeRequestVersion: "1.0"
                  quotaChangeRequests:
                    - payload: '{"AccountName":"test","NewLimit":200,"Type":"Pools"}'
                      region: EastUS
                serviceId: /providers/Microsoft.Support/services/quota_service_guid
                severity: moderate
                title: my title
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                name: testticket
                properties:
                  contactDetails:
                    country: usa
                    firstName: abc
                    lastName: xyz
                    preferredContactMethod: email
                    preferredSupportLanguage: en-US
                    preferredTimeZone: Pacific Standard Time
                    primaryEmailAddress: abc@contoso.com
                  createdDate: 2018-03-20T21:36:18Z
                  description: my description
                  modifiedDate: 2018-03-20T21:36:23Z
                  problemClassificationDisplayName: Batch
                  problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/batch_problemClassification_guid
                  productionOutage: false
                  quotaTicketDetails:
                    quotaChangeRequestSubType: Account
                    quotaChangeRequestVersion: "1.0"
                    quotaChangeRequests:
                      - payload: '{"AccountName":"test","NewLimit":200,"Type":"Pools"}'
                        region: EastUS
                  require24X7Response: false
                  serviceDisplayName: Service and subscription limits (quotas)
                  serviceId: /providers/Microsoft.Support/services/quota_service_guid
                  serviceLevelAgreement:
                    expirationTime: 2018-03-21T17:36:18Z
                    slaMinutes: 240
                    startTime: 2018-03-20T21:36:18Z
                  severity: moderate
                  status: Open
                  supportPlanType: Premier
                  supportTicketId: "119120321001170"
                  title: my title
                type: Microsoft.Support/supportTickets
            "202":
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationsStatus/operationid?api-version=2019-05-01-preview
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationResults/operationid?api-version=2019-05-01-preview
        Create a ticket to request Quota increase for Servers for SQL Data Warehouse:
          parameters:
            api-version: 2019-05-01-preview
            createSupportTicketParameters:
              properties:
                contactDetails:
                  country: usa
                  firstName: abc
                  lastName: xyz
                  preferredContactMethod: email
                  preferredSupportLanguage: en-US
                  preferredTimeZone: Pacific Standard Time
                  primaryEmailAddress: abc@contoso.com
                description: my description
                problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/sql_datawarehouse_problemClassification_guid
                quotaTicketDetails:
                  quotaChangeRequestSubType: Servers
                  quotaChangeRequestVersion: "1.0"
                  quotaChangeRequests:
                    - payload: '{"NewLimit":200}'
                      region: EastUS
                serviceId: /providers/Microsoft.Support/services/quota_service_guid
                severity: moderate
                title: my title
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                name: testticket
                properties:
                  contactDetails:
                    country: usa
                    firstName: abc
                    lastName: xyz
                    preferredContactMethod: email
                    preferredSupportLanguage: en-US
                    preferredTimeZone: Pacific Standard Time
                    primaryEmailAddress: abc@contoso.com
                  createdDate: 2018-03-20T21:36:18Z
                  description: my description
                  modifiedDate: 2018-03-20T21:36:23Z
                  problemClassificationDisplayName: SQL Data Warehouse
                  problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/sql_datawarehouse_problemClassification_guid
                  productionOutage: false
                  quotaTicketDetails:
                    quotaChangeRequestSubType: Servers
                    quotaChangeRequestVersion: "1.0"
                    quotaChangeRequests:
                      - payload: '{"NewLimit":200}'
                        region: EastUS
                  require24X7Response: false
                  serviceDisplayName: Service and subscription limits (quotas)
                  serviceId: /providers/Microsoft.Support/services/quota_service_guid
                  serviceLevelAgreement:
                    expirationTime: 2018-03-21T17:36:18Z
                    slaMinutes: 240
                    startTime: 2018-03-20T21:36:18Z
                  severity: moderate
                  status: Open
                  supportPlanType: Premier
                  supportTicketId: "119120321001170"
                  title: my title
                type: Microsoft.Support/supportTickets
            "202":
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationsStatus/operationid?api-version=2019-05-01-preview
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationResults/operationid?api-version=2019-05-01-preview
        Create a ticket to request Quota increase for Servers for SQL Database:
          parameters:
            api-version: 2019-05-01-preview
            createSupportTicketParameters:
              properties:
                contactDetails:
                  country: usa
                  firstName: abc
                  lastName: xyz
                  preferredContactMethod: email
                  preferredSupportLanguage: en-US
                  preferredTimeZone: Pacific Standard Time
                  primaryEmailAddress: abc@contoso.com
                description: my description
                problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/sql_database_problemClassification_guid
                quotaTicketDetails:
                  quotaChangeRequestSubType: Servers
                  quotaChangeRequestVersion: "1.0"
                  quotaChangeRequests:
                    - payload: '{"NewLimit":200}'
                      region: EastUS
                serviceId: /providers/Microsoft.Support/services/quota_service_guid
                severity: moderate
                title: my title
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                name: testticket
                properties:
                  contactDetails:
                    country: usa
                    firstName: abc
                    lastName: xyz
                    preferredContactMethod: email
                    preferredSupportLanguage: en-US
                    preferredTimeZone: Pacific Standard Time
                    primaryEmailAddress: abc@contoso.com
                  createdDate: 2018-03-20T21:36:18Z
                  description: my description
                  modifiedDate: 2018-03-20T21:36:23Z
                  problemClassificationDisplayName: SQL database
                  problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/sql_database_problemClassification_guid
                  productionOutage: false
                  quotaTicketDetails:
                    quotaChangeRequestSubType: Servers
                    quotaChangeRequestVersion: "1.0"
                    quotaChangeRequests:
                      - payload: '{"NewLimit":200}'
                        region: EastUS
                  require24X7Response: false
                  serviceDisplayName: Service and subscription limits (quotas)
                  serviceId: /providers/Microsoft.Support/services/quota_service_guid
                  serviceLevelAgreement:
                    expirationTime: 2018-03-21T17:36:18Z
                    slaMinutes: 240
                    startTime: 2018-03-20T21:36:18Z
                  severity: moderate
                  status: Open
                  supportPlanType: Premier
                  supportTicketId: "119120321001170"
                  title: my title
                type: Microsoft.Support/supportTickets
            "202":
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationsStatus/operationid?api-version=2019-05-01-preview
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationResults/operationid?api-version=2019-05-01-preview
        Create a ticket to request Quota increase for number of Batch accounts for a subscription:
          parameters:
            api-version: 2019-05-01-preview
            createSupportTicketParameters:
              properties:
                contactDetails:
                  country: usa
                  firstName: abc
                  lastName: xyz
                  preferredContactMethod: email
                  preferredSupportLanguage: en-US
                  preferredTimeZone: Pacific Standard Time
                  primaryEmailAddress: abc@contoso.com
                description: my description
                problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/batch_problemClassification_guid
                quotaTicketDetails:
                  quotaChangeRequestSubType: Subscription
                  quotaChangeRequestVersion: "1.0"
                  quotaChangeRequests:
                    - payload: '{"NewLimit":200,"Type":"Account"}'
                      region: EastUS
                serviceId: /providers/Microsoft.Support/services/quota_service_guid
                severity: moderate
                title: my title
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                name: testticket
                properties:
                  contactDetails:
                    country: usa
                    firstName: abc
                    lastName: xyz
                    preferredContactMethod: email
                    preferredSupportLanguage: en-US
                    preferredTimeZone: Pacific Standard Time
                    primaryEmailAddress: abc@contoso.com
                  createdDate: 2018-03-20T21:36:18Z
                  description: my description
                  modifiedDate: 2018-03-20T21:36:23Z
                  problemClassificationDisplayName: Batch
                  problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/batch_problemClassification_guid
                  productionOutage: false
                  quotaTicketDetails:
                    quotaChangeRequestSubType: Subscription
                    quotaChangeRequestVersion: "1.0"
                    quotaChangeRequests:
                      - payload: '{"NewLimit":200,"Type":"Account"}'
                        region: EastUS
                  require24X7Response: false
                  serviceDisplayName: Service and subscription limits (quotas)
                  serviceId: /providers/Microsoft.Support/services/quota_service_guid
                  serviceLevelAgreement:
                    expirationTime: 2018-03-21T17:36:18Z
                    slaMinutes: 240
                    startTime: 2018-03-20T21:36:18Z
                  severity: moderate
                  status: Open
                  supportPlanType: Premier
                  supportTicketId: "119120321001170"
                  title: my title
                type: Microsoft.Support/supportTickets
            "202":
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationsStatus/operationid?api-version=2019-05-01-preview
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationResults/operationid?api-version=2019-05-01-preview
        Create a ticket to request Quota increase for specific VM family cores for Machine Learning service:
          parameters:
            api-version: 2019-05-01-preview
            createSupportTicketParameters:
              properties:
                contactDetails:
                  country: usa
                  firstName: abc
                  lastName: xyz
                  preferredContactMethod: email
                  preferredSupportLanguage: en-US
                  preferredTimeZone: Pacific Standard Time
                  primaryEmailAddress: abc@contoso.com
                description: my description
                problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/machine_learning_service_problemClassification_guid
                quotaTicketDetails:
                  quotaChangeRequestSubType: Account
                  quotaChangeRequestVersion: "1.0"
                  quotaChangeRequests:
                    - payload: '{"VMFamily":"standardA0_A7Family","NewLimit":200,"Type":"Dedicated"}'
                      region: EastUS
                serviceId: /providers/Microsoft.Support/services/quota_service_guid
                severity: moderate
                title: my title
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                name: testticket
                properties:
                  contactDetails:
                    country: usa
                    firstName: abc
                    lastName: xyz
                    preferredContactMethod: email
                    preferredSupportLanguage: en-US
                    preferredTimeZone: Pacific Standard Time
                    primaryEmailAddress: abc@contoso.com
                  createdDate: 2018-03-20T21:36:18Z
                  description: my description
                  modifiedDate: 2018-03-20T21:36:23Z
                  problemClassificationDisplayName: Machine Learning service
                  problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/machine_learning_service_problemClassification_guid
                  productionOutage: false
                  quotaTicketDetails:
                    quotaChangeRequestSubType: Account
                    quotaChangeRequestVersion: "1.0"
                    quotaChangeRequests:
                      - payload: '{"VMFamily":"standardA0_A7Family","NewLimit":200,"Type":"Dedicated"}'
                        region: EastUS
                  require24X7Response: false
                  serviceDisplayName: Service and subscription limits (quotas)
                  serviceId: /providers/Microsoft.Support/services/quota_service_guid
                  serviceLevelAgreement:
                    expirationTime: 2018-03-21T17:36:18Z
                    slaMinutes: 240
                    startTime: 2018-03-20T21:36:18Z
                  severity: moderate
                  status: Open
                  supportPlanType: Premier
                  supportTicketId: "119120321001170"
                  title: my title
                type: Microsoft.Support/supportTickets
            "202":
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationsStatus/operationid?api-version=2019-05-01-preview
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationResults/operationid?api-version=2019-05-01-preview
        Create a ticket to request Quota increase for specific VM family cores for a Batch account:
          parameters:
            api-version: 2019-05-01-preview
            createSupportTicketParameters:
              properties:
                contactDetails:
                  country: usa
                  firstName: abc
                  lastName: xyz
                  preferredContactMethod: email
                  preferredSupportLanguage: en-US
                  preferredTimeZone: Pacific Standard Time
                  primaryEmailAddress: abc@contoso.com
                description: my description
                problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/batch_problemClassification_guid
                quotaTicketDetails:
                  quotaChangeRequestSubType: Account
                  quotaChangeRequestVersion: "1.0"
                  quotaChangeRequests:
                    - payload: '{"AccountName":"test","VMFamily":"standardA0_A7Family","NewLimit":200,"Type":"Dedicated"}'
                      region: EastUS
                serviceId: /providers/Microsoft.Support/services/quota_service_guid
                severity: moderate
                title: my title
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket
                name: testticket
                properties:
                  contactDetails:
                    country: usa
                    firstName: abc
                    lastName: xyz
                    preferredContactMethod: email
                    preferredSupportLanguage: en-US
                    preferredTimeZone: Pacific Standard Time
                    primaryEmailAddress: abc@contoso.com
                  createdDate: 2018-03-20T21:36:18Z
                  description: my description
                  modifiedDate: 2018-03-20T21:36:23Z
                  problemClassificationDisplayName: Batch
                  problemClassificationId: /providers/Microsoft.Support/services/quota_service_guid/problemClassifications/batch_problemClassification_guid
                  productionOutage: false
                  quotaTicketDetails:
                    quotaChangeRequestSubType: Account
                    quotaChangeRequestVersion: "1.0"
                    quotaChangeRequests:
                      - payload: '{"AccountName":"test","VMFamily":"standardA0_A7Family","NewLimit":200,"Type":"Dedicated"}'
                        region: EastUS
                  require24X7Response: false
                  serviceDisplayName: Service and subscription limits (quotas)
                  serviceId: /providers/Microsoft.Support/services/quota_service_guid
                  serviceLevelAgreement:
                    expirationTime: 2018-03-21T17:36:18Z
                    slaMinutes: 240
                    startTime: 2018-03-20T21:36:18Z
                  severity: moderate
                  status: Open
                  supportPlanType: Premier
                  supportTicketId: "119120321001170"
                  title: my title
                type: Microsoft.Support/supportTickets
            "202":
              headers:
                azure-asyncoperation: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationsStatus/operationid?api-version=2019-05-01-preview
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.Support/operationResults/operationid?api-version=2019-05-01-preview
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets/{supportTicketName}/checkNameAvailability":
    post:
      description: Check the availability of a resource name. This API should to be used to check the uniqueness of the name for adding a new communication to the support ticket.
      operationId: Communications_CheckNameAvailability
      parameters:
        - description: Support ticket name
          in: path
          name: supportTicketName
          required: true
          type: string
        - description: Input to check
          in: body
          name: checkNameAvailabilityInput
          required: true
          schema:
            $ref: "#/definitions/CheckNameAvailabilityInput"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/CheckNameAvailabilityOutput"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      tags:
        - Communications
      x-ms-examples:
        Checks whether name is available for Communication resource:
          parameters:
            api-version: 2019-05-01-preview
            checkNameAvailabilityInput:
              name: sampleName
              type: Microsoft.Support/communications
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                message: Name not available
                nameAvailable: false
                reason: Name is already in use
  "/subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets/{supportTicketName}/communications":
    get:
      description: Lists all communications (attachments not included) for a support ticket. <br/></br> You can also filter support ticket communications by <i>CreatedDate</i>�or <i>CommunicationType</i> using the $filter parameter. The only type of communication supported today is <i>Web</i>. Output will be a paged result with <i>nextLink</i>, using which you can retrieve the next set of Communication results. <br/><br/> Support ticket data is available for 12 months after ticket creation. If a ticket was created more than 12 months ago, a request for data might cause an error.
      operationId: Communications_List
      parameters:
        - description: Support ticket name
          in: path
          name: supportTicketName
          required: true
          type: string
        - description: The number of values to return in the collection. Default is 10 and max is 10.
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation. You can filter by communicationType and createdDate properties. CommunicationType supports Equals ('eq') operator and createdDate supports Greater Than ('gt') and Greater Than or Equals ('ge') operators. You may combine the CommunicationType and CreatedDate filters by Logical And ('and') operator.
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved communications for a support ticket.
          schema:
            $ref: "#/definitions/CommunicationsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ExceptionResponse"
      tags:
        - Communications
      x-ms-examples:
        List communications for a subscription support ticket:
          parameters:
            api-version: 2019-05-01-preview
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket/communications/testmessage1
                    name: testmessage1
                    properties:
                      body: this is a test message
                      communicationDirection: outbound
                      communicationType: web
                      createdDate: 2016-08-24T20:18:19Z
                      sender: user@contoso.com
                      subject: this is a test message
                    type: Microsoft.Support/communications
                  - id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket/communications/testmessage2
                    name: testmessage2
                    properties:
                      body: test
                      communicationDirection: outbound
                      communicationType: web
                      createdDate: 2016-08-29T10:53:19Z
                      sender: user@contoso.com
                      subject: test
                    type: Microsoft.Support/communications
        List web communication created on or after a specific date for a subscription support ticket:
          parameters:
            $filter: communicationType eq 'web' and createdDate ge 2019-12-10T22:08:51Z
            api-version: 2019-05-01-preview
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket/communications/testmessage1
                    name: testmessage1
                    properties:
                      body: this is a test message
                      communicationDirection: outbound
                      communicationType: web
                      createdDate: 2019-06-24T20:18:19Z
                      sender: user@contoso.com
                      subject: this is a test message
                    type: Microsoft.Support/communications
                  - id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket/communications/testmessage2
                    name: testmessage2
                    properties:
                      body: test
                      communicationDirection: outbound
                      communicationType: web
                      createdDate: 2019-08-29T10:53:19Z
                      sender: user@contoso.com
                      subject: test
                    type: Microsoft.Support/communications
        List web communications for a subscription support ticket:
          parameters:
            $filter: communicationType eq 'web'
            api-version: 2019-05-01-preview
            subscriptionId: subid
            supportTicketName: testticket
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket/communications/testmessage1
                    name: testmessage1
                    properties:
                      body: this is a test message
                      communicationDirection: outbound
                      communicationType: web
                      createdDate: 2016-08-24T20:18:19Z
                      sender: user@contoso.com
                      subject: this is a test message
                    type: Microsoft.Support/communications
                  - id: /subscriptions/subid/providers/Microsoft.Support/supportTickets/testticket/communications/testmessage2
                    name: testmessage2
                    properties:
                      body: test
                      communicationDirection: outbound
                      communicationType: web
                      createdDate: 2016-08-29T10:53:19Z
                      sender: user@contoso.com
                      subject: test
                    type: Microsoft.Support/communications
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Support/supportTickets/{supportTicketName}/communications/{communicationName}":
    get:
      description: Returns details of a specific communication in a support ticket.
      operationId: Communications_Get
      parameters:
        - description: Support ticket name
          in: path
          name: supportTicketName
          required: true
          type: string
        - description: Communication name
          in: path
          name: communicationName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved communication details.
          schema:
[...]
