swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.
  title: SqlManagementClient
  version: 2017-03-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/jobs.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-jobs
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ApiVersionParameter:
    description: The API version to use for the request.
    in: query
    name: api-version
    required: true
    type: string
    x-ms-parameter-location: client
  BlobAuditingPolicyNameParameter:
    description: The name of the blob auditing policy.
    enum:
      - default
    in: path
    name: blobAuditingPolicyName
    required: true
    type: string
    x-ms-parameter-location: method
  DatabaseNameParameter:
    description: The name of the database.
    in: path
    name: databaseName
    required: true
    type: string
    x-ms-parameter-location: method
  ManagedInstanceNameParameter:
    description: The name of the managed instance.
    in: path
    name: managedInstanceName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupParameter:
    description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
  SqlVirtualMachineContainerNameParameter:
    description: The name of the SqlVirtualMachineContainer.
    in: path
    name: sqlVirtualMachineContainerName
    required: true
    type: string
    x-ms-parameter-location: method
  SqlVirtualMachineInstanceNameParameter:
    description: The name of the SqlVirtualMachineInstance.
    in: path
    name: sqlVirtualMachineInstanceName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The subscription ID that identifies an Azure subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-parameter-location: client
  VirtualClusterNameParameter:
    description: The name of the virtual cluster.
    in: path
    name: virtualClusterName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents":
    get:
      description: Gets a list of job agents in a server.
      operationId: JobAgents_ListByServer
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of job agents.
          schema:
            $ref: "#/definitions/JobAgentListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
        - JobAgents
      x-ms-examples:
        List job agents in a server:
          parameters:
            api-version: 2017-03-01-preview
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1
                    location: southeastasia
                    name: agent1
                    properties:
                      databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
                    sku:
                      capacity: 100
                      name: Agent
                    type: Microsoft.Sql/servers/jobAgents
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/jobAgent2
                    location: southeastasia
                    name: jobAgent2
                    properties:
                      databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db12
                    sku:
                      capacity: 100
                      name: Agent
                    type: Microsoft.Sql/servers/jobAgents
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}":
    delete:
      description: Deletes a job agent.
      operationId: JobAgents_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent to be deleted.
          in: path
          name: jobAgentName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully deleted the job agent.
        "202":
          description: Accepted
        "204":
          description: The specified job agent does not exist.
        default:
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.
      tags:
        - JobAgents
      x-ms-examples:
        Delete a job agent:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets a job agent.
      operationId: JobAgents_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent to be retrieved.
          in: path
          name: jobAgentName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the specified job agent.
          schema:
            $ref: "#/definitions/JobAgent"
        default:
          description: |-
            *** Error Responses: ***

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.
      tags:
        - JobAgents
      x-ms-examples:
        Get a job agent:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1
                location: southeastasia
                name: agent1
                properties:
                  databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
                sku:
                  capacity: 100
                  name: Agent
                type: Microsoft.Sql/servers/jobAgents
    patch:
      description: Updates a job agent.
      operationId: JobAgents_Update
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent to be updated.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The update to the job agent.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/JobAgentUpdate"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the job agent.
          schema:
            $ref: "#/definitions/JobAgent"
        "202":
          description: Accepted
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidResourceRequestBody - The resource or resource properties in the request body is empty or invalid.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 PropertyChangeUnsupported - Property cannot be modified.
      tags:
        - JobAgents
      x-ms-examples:
        Update a job agent's tags.:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            parameters:
              tags:
                mytag1: myvalue1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1
                location: southeastasia
                name: agent1
                properties:
                  databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
                tags:
                  mytag1: myvalue1
                type: Microsoft.Sql/servers/jobAgents
            "202": {}
      x-ms-long-running-operation: true
    put:
      description: Creates or updates a job agent.
      operationId: JobAgents_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent to be created or updated.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The requested job agent resource state.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/JobAgent"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the job agent.
          schema:
            $ref: "#/definitions/JobAgent"
        "201":
          description: Successfully created the job agent.
          schema:
            $ref: "#/definitions/JobAgent"
        "202":
          description: Accepted
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidResourceRequestBody - The resource or resource properties in the request body is empty or invalid.

             * 400 MissingSkuName - Sku name is required.

             * 400 InvalidDatabaseResourceId - Invalid database resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 DatabaseDoesNotExist - The requested database was not found

             * 400 JobAgentExceededQuota - Could not create job agent because it would exceed the quota.

             * 400 JobAgentAlreadyExists - The job agent already exists on the server.

             * 400 JobAgentDatabaseEditionUnsupported - The specified database's service level objective is not supported for use as a job agent database.

             * 400 JobAgentDatabaseSecondary - A job agent cannot be linked to a geo-secondary database.

             * 400 JobAgentDatabaseAlreadyLinked - The specified database is already linked to another job agent.

             * 400 CannotUseReservedDatabaseName - Cannot use reserved database name in this operation.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 SubscriptionNotFound - The requested subscription was not found.

             * 404 PropertyChangeUnsupported - Property cannot be modified.
      tags:
        - JobAgents
      x-ms-examples:
        Create or update a job agent with all properties:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            parameters:
              location: southeastasia
              properties:
                databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
              sku:
                capacity: 100
                name: Agent
              tags:
                octopus: agent
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1
                location: southeastasia
                name: agent1
                properties:
                  databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
                sku:
                  capacity: 100
                  name: Agent
                tags:
                  octopus: agent
                type: Microsoft.Sql/servers/jobAgents
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1
                location: southeastasia
                name: agent1
                properties:
                  databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
                sku:
                  capacity: 100
                  name: Agent
                tags:
                  octopus: agent
                type: Microsoft.Sql/servers/jobAgents
            "202": {}
        Create or update a job agent with minimum properties:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            parameters:
              location: southeastasia
              properties:
                databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1
                location: southeastasia
                name: agent1
                properties:
                  databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
                sku:
                  capacity: 100
                  name: Agent
                type: Microsoft.Sql/servers/jobAgents
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1
                location: southeastasia
                name: agent1
                properties:
                  databaseId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/databases/db1
                sku:
                  capacity: 100
                  name: Agent
                type: Microsoft.Sql/servers/jobAgents
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/credentials":
    get:
      description: Gets a list of jobs credentials.
      operationId: JobCredentials_ListByAgent
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of job credentials.
          schema:
            $ref: "#/definitions/JobCredentialListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
        - JobCredentials
      x-ms-examples:
        List credentials in a job agent:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred1
                    name: cred1
                    properties:
                      username: myuser
                    type: Microsoft.Sql/servers/jobAccounts/credentials
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred2
                    name: cred2
                    properties:
                      username: anotherUser
                    type: Microsoft.Sql/servers/jobAccounts/credentials
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/credentials/{credentialName}":
    delete:
      description: Deletes a job credential.
      operationId: JobCredentials_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the credential.
          in: path
          name: credentialName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully deleted the credential.
        "204":
          description: A credential with the specified name does not exist.
        default:
          description: |-
            *** Error Responses: ***

             * 403 JobCredentialPermissionError - Azure Resource Manager does not have permission to use or manage the credential.

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - JobCredentials
      x-ms-examples:
        Delete a credential:
          parameters:
            api-version: 2017-03-01-preview
            credentialName: cred1
            jobAgentName: agent1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets a jobs credential.
      operationId: JobCredentials_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the credential.
          in: path
          name: credentialName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the job credential.
          schema:
            $ref: "#/definitions/JobCredential"
        default:
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - JobCredentials
      x-ms-examples:
        Get a credential:
          parameters:
            api-version: 2017-03-01-preview
            credentialName: cred1
            jobAgentName: agent1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred1
                name: cred1
                properties:
                  username: myuser
                type: Microsoft.Sql/servers/jobAccounts/credentials
    put:
      description: Creates or updates a job credential.
      operationId: JobCredentials_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the credential.
          in: path
          name: credentialName
          required: true
          type: string
        - description: The requested job credential state.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/JobCredential"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the credential.
          schema:
            $ref: "#/definitions/JobCredential"
        "201":
          description: Successfully created the credential.
          schema:
            $ref: "#/definitions/JobCredential"
        default:
          description: |-
            *** Error Responses: ***

             * 400 InvalidResourceRequestBody - The resource or resource properties in the request body is empty or invalid.

             * 400 InvalidJobCredentialUsername - Invalid credential username.

             * 403 JobCredentialPermissionError - Azure Resource Manager does not have permission to use or manage the credential.

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
        - JobCredentials
      x-ms-examples:
        Create or update a credential:
          parameters:
            api-version: 2017-03-01-preview
            credentialName: cred1
            jobAgentName: agent1
            parameters:
              properties:
                password: <password>
                username: myuser
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred1
                name: cred1
                properties:
                  username: myuser
                type: Microsoft.Sql/servers/jobAccounts/credentials
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred1
                name: cred1
                properties:
                  username: myuser
                type: Microsoft.Sql/servers/jobAccounts/credentials
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/executions":
    get:
      description: Lists all executions in a job agent.
      operationId: JobExecutions_ListByAgent
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: If specified, only job executions created at or after the specified time are included.
          format: date-time
          in: query
          name: createTimeMin
          required: false
          type: string
        - description: If specified, only job executions created before the specified time are included.
          format: date-time
          in: query
          name: createTimeMax
          required: false
          type: string
        - description: If specified, only job executions completed at or after the specified time are included.
          format: date-time
          in: query
          name: endTimeMin
          required: false
          type: string
        - description: If specified, only job executions completed before the specified time are included.
          format: date-time
          in: query
          name: endTimeMax
          required: false
          type: string
        - description: If specified, only active or only completed job executions are included.
          in: query
          name: isActive
          required: false
          type: boolean
        - description: The number of elements in the collection to skip.
          in: query
          name: $skip
          required: false
          type: integer
        - description: The number of elements to return from the collection.
          in: query
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved job executions.
          schema:
            $ref: "#/definitions/JobExecutionListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
        - JobExecutions
      x-ms-examples:
        List all job executions in a job agent with filtering.:
          parameters:
            api-version: 2017-03-01-preview
            createTimeMax: 2017-03-21T19:05:00.0000000Z
            createTimeMin: 2017-03-21T19:00:00.0000000Z
            endTimeMax: 2017-03-21T19:25:00.0000000Z
            endTimeMin: 2017-03-21T19:20:00.0000000Z
            isActive: false
            jobAgentName: agent1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1//executions?api-version=2017-03-01-preview&%24skip=2
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999
                    name: 5555-6666-7777-8888-999999999999
                    properties:
                      createTime: 2017-03-21T19:02:00.8707045Z
                      currentAttemptStartTime: 2017-03-21T19:12:00.8707045Z
                      currentAttempts: 0
                      endTime: 2017-03-21T19:22:00.8707045Z
                      jobExecutionId: 5555-6666-7777-8888-999999999999
                      jobVersion: 1
                      lastMessage: Job execution created.
                      lifecycle: Created
                      provisioningState: Created
                      startTime: 2017-03-21T19:12:00.8707045Z
                    type: Microsoft.Sql/servers/jobAgents/jobs/executions
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job2/executions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                    name: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                    properties:
                      createTime: 2017-12-15T19:02:00.8707045Z
                      currentAttempts: 1
                      endTime: 2017-12-15T19:22:00.8707045Z
                      jobExecutionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                      jobVersion: 1
                      lastMessage: Job execution succeeded.
                      lifecycle: Succeeded
                      provisioningState: Succeeded
                      startTime: 2017-12-15T19:12:00.8707045Z
                    type: Microsoft.Sql/servers/jobAgents/jobs/executions
        List all job executions in a job agent.:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1//executions?api-version=2017-03-01-preview&%24skip=2
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999
                    name: 5555-6666-7777-8888-999999999999
                    properties:
                      createTime: 2017-03-21T19:02:00.8707045Z
                      currentAttemptStartTime: 2017-03-21T19:12:00.8707045Z
                      currentAttempts: 0
                      endTime: 2017-03-21T19:22:00.8707045Z
                      jobExecutionId: 5555-6666-7777-8888-999999999999
                      jobVersion: 1
                      lastMessage: Job execution created.
                      lifecycle: Created
                      provisioningState: Created
                      startTime: 2017-03-21T19:12:00.8707045Z
                    type: Microsoft.Sql/servers/jobAgents/jobs/executions
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job2/executions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                    name: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                    properties:
                      createTime: 2017-12-15T19:02:00.8707045Z
                      currentAttempts: 1
                      endTime: 2017-12-15T19:22:00.8707045Z
                      jobExecutionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                      jobVersion: 1
                      lastMessage: Job execution succeeded.
                      lifecycle: Succeeded
                      provisioningState: Succeeded
                      startTime: 2017-12-15T19:12:00.8707045Z
                    type: Microsoft.Sql/servers/jobAgents/jobs/executions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs":
    get:
      description: Gets a list of jobs.
      operationId: Jobs_ListByAgent
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of jobs.
          schema:
            $ref: "#/definitions/JobListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
        - Jobs
      x-ms-examples:
        List jobs in a job agent:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1
                    name: job1
                    properties:
                      description: my favourite job
                      schedule:
                        enabled: true
                        endTime: 2015-09-24T23:59:59Z
                        interval: PT5M
                        startTime: 2015-09-24T18:30:01Z
                        type: Recurring
                      version: 0
                    type: Microsoft.Sql/servers/jobAccounts/jobs
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job3
                    name: job3
                    properties:
                      description: this job will be scheduled once
                      schedule:
                        enabled: true
                        endTime: 2017-12-27T06:00:00Z
                        startTime: 2017-07-01T03:45:00Z
                        type: Once
                      version: 1
                    type: Microsoft.Sql/servers/jobAccounts/jobs
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job2
                    name: job2
                    properties:
                      description: this job will never be automatically scheduled
                      schedule:
                        enabled: false
                        endTime: 2017-12-27T06:00:00Z
                        startTime: 2017-07-01T03:45:00Z
                        type: Once
                      version: 1
                    type: Microsoft.Sql/servers/jobAccounts/jobs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}":
    delete:
      description: Deletes a job.
      operationId: Jobs_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the job to delete.
          in: path
          name: jobName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully deleted the job.
        "204":
          description: The specified job does not exist.
        default:
          description: |-
            *** Error Responses: ***

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - Jobs
      x-ms-examples:
        Delete a job:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets a job.
      operationId: Jobs_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the job to get.
          in: path
          name: jobName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the job.
          schema:
            $ref: "#/definitions/Job"
        default:
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - Jobs
      x-ms-examples:
        Get a job:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1
                name: job1
                properties:
                  description: my favourite job
                  schedule:
                    enabled: true
                    endTime: 2015-09-24T23:59:59Z
                    startTime: 2015-09-24T18:30:01Z
                    type: Once
                  version: 0
                type: Microsoft.Sql/servers/jobAccounts/jobs
    put:
      description: Creates or updates a job.
      operationId: Jobs_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the job to get.
          in: path
          name: jobName
          required: true
          type: string
        - description: The requested job state.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Job"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the job.
          schema:
            $ref: "#/definitions/Job"
        "201":
          description: Successfully created the job.
          schema:
            $ref: "#/definitions/Job"
        default:
          description: |-
            *** Error Responses: ***

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 400 InvalidResourceRequestBody - The resource or resource properties in the request body is empty or invalid.

             * 400 InvalidDuration - Invalid duration.

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
        - Jobs
      x-ms-examples:
        Create a job with all properties specified:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobName: job1
            parameters:
              properties:
                description: my favourite job
                schedule:
                  enabled: true
                  endTime: 2015-09-24T23:59:59Z
                  interval: PT5M
                  startTime: 2015-09-24T18:30:01Z
                  type: Recurring
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1
                name: job1
                properties:
                  description: my favourite job
                  schedule:
                    enabled: true
                    endTime: 2015-09-24T23:59:59Z
                    interval: PT5M
                    startTime: 2015-09-24T18:30:01Z
                    type: Recurring
                  version: 0
                type: Microsoft.Sql/servers/jobAccounts/jobs
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1
                name: job1
                properties:
                  description: my favourite job
                  schedule:
                    enabled: true
                    endTime: 2015-09-24T23:59:59Z
                    interval: PT5M
                    startTime: 2015-09-24T18:30:01Z
                    type: Recurring
                  version: 0
                type: Microsoft.Sql/servers/jobAccounts/jobs
        Create a job with default properties:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobName: job1
            parameters: {}
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1
                name: job1
                properties:
                  description: ""
                  schedule:
                    enabled: false
                    endTime: 9999-12-31T11:59:59Z
                    startTime: 0001-01-01T00:00:00Z
                    type: Once
                  version: 0
                type: Microsoft.Sql/servers/jobAccounts/jobs
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1
                name: job1
                properties:
                  description: ""
                  schedule:
                    enabled: false
                    endTime: 9999-12-31T11:59:59Z
                    startTime: 0001-01-01T00:00:00Z
                    type: Once
                  version: 0
                type: Microsoft.Sql/servers/jobAccounts/jobs
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions":
    get:
      description: Lists a job's executions.
      operationId: JobExecutions_ListByJob
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the job to get.
          in: path
          name: jobName
          required: true
          type: string
        - description: If specified, only job executions created at or after the specified time are included.
          format: date-time
          in: query
          name: createTimeMin
          required: false
          type: string
        - description: If specified, only job executions created before the specified time are included.
          format: date-time
          in: query
          name: createTimeMax
          required: false
          type: string
        - description: If specified, only job executions completed at or after the specified time are included.
          format: date-time
          in: query
          name: endTimeMin
          required: false
          type: string
        - description: If specified, only job executions completed before the specified time are included.
          format: date-time
          in: query
          name: endTimeMax
          required: false
          type: string
        - description: If specified, only active or only completed job executions are included.
          in: query
          name: isActive
          required: false
          type: boolean
        - description: The number of elements in the collection to skip.
          in: query
          name: $skip
          required: false
          type: integer
        - description: The number of elements to return from the collection.
          in: query
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved job executions.
          schema:
            $ref: "#/definitions/JobExecutionListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
        - JobExecutions
      x-ms-examples:
        List a job's executions.:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions?api-version=2017-03-01-preview&%24skip=2
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999
                    name: 5555-6666-7777-8888-999999999999
                    properties:
                      createTime: 2017-03-21T19:02:00.8707045Z
                      currentAttemptStartTime: 2017-03-21T19:12:00.8707045Z
                      currentAttempts: 0
                      endTime: 2017-03-21T19:22:00.8707045Z
                      jobExecutionId: 5555-6666-7777-8888-999999999999
                      jobVersion: 1
                      lastMessage: Job execution created.
                      lifecycle: Created
                      provisioningState: Created
                      startTime: 2017-03-21T19:12:00.8707045Z
                    type: Microsoft.Sql/servers/jobAgents/jobs/executions
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                    name: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                    properties:
                      createTime: 2017-12-15T19:02:00.8707045Z
                      currentAttempts: 1
                      endTime: 2017-12-15T19:22:00.8707045Z
                      jobExecutionId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                      jobVersion: 1
                      lastMessage: Job execution succeeded.
                      lifecycle: Succeeded
                      provisioningState: Succeeded
                      startTime: 2017-12-15T19:12:00.8707045Z
                    type: Microsoft.Sql/servers/jobAgents/jobs/executions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}":
    get:
      description: Gets a job execution.
      operationId: JobExecutions_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the job.
          in: path
          name: jobName
          required: true
          type: string
        - description: The id of the job execution
          format: uuid
          in: path
          name: jobExecutionId
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the job.
          schema:
            $ref: "#/definitions/JobExecution"
        default:
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
        - JobExecutions
      x-ms-examples:
        Get a job execution.:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobExecutionId: 5555-6666-7777-8888-999999999999
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999
                name: 5555-6666-7777-8888-999999999999
                properties:
                  createTime: 2017-12-21T19:02:00.8707045Z
                  currentAttemptStartTime: 2017-11-13T19:12:00.8707045Z
                  currentAttempts: 0
                  endTime: 2017-12-21T19:22:00.8707045Z
                  jobExecutionId: 5555-6666-7777-8888-999999999999
                  jobVersion: 1
                  lastMessage: Job execution created.
                  lifecycle: Created
                  provisioningState: Created
                  startTime: 2017-12-21T19:12:00.8707045Z
                type: Microsoft.Sql/servers/jobAgents/executions
    put:
      description: Creates or updates a job execution.
      operationId: JobExecutions_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the job to get.
          in: path
          name: jobName
          required: true
          type: string
        - description: The job execution id to create the job execution under.
          format: uuid
          in: path
          name: jobExecutionId
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: A job execution for the job with the given id already existed.
          schema:
            $ref: "#/definitions/JobExecution"
        "201":
          description: Successfully started an execution for the job.
          schema:
            $ref: "#/definitions/JobExecution"
        "202":
          description: Accepted
        default:
          description: |-
            *** Error Responses: ***

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
        - JobExecutions
      x-ms-examples:
        Create job execution.:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobExecutionId: 5555-6666-7777-8888-999999999999
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999
                name: 5555-6666-7777-8888-999999999999
                properties:
                  createTime: 2017-12-18T19:02:00.8707045Z
                  currentAttempts: 0
                  jobExecutionId: 5555-6666-7777-8888-999999999999
                  jobVersion: 1
                  lastMessage: Job execution created.
                  lifecycle: Created
                  provisioningState: Created
                type: Microsoft.Sql/servers/jobAgents/executions
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999
                name: 5555-6666-7777-8888-999999999999
                properties:
                  createTime: 2017-05-04T19:02:00.8707045Z
                  currentAttempts: 0
                  jobExecutionId: 5555-6666-7777-8888-999999999999
                  jobVersion: 1
                  lastMessage: Job execution created.
                  lifecycle: Created
                  provisioningState: Created
                type: Microsoft.Sql/servers/jobAgents/executions
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}/cancel":
    post:
      description: Requests cancellation of a job execution.
      operationId: JobExecutions_Cancel
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the job.
          in: path
          name: jobName
          required: true
          type: string
        - description: The id of the job execution to cancel.
          format: uuid
          in: path
          name: jobExecutionId
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully requested cancellation of the job execution.
        default:
          description: |-
            *** Error Responses: ***

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - JobExecutions
      x-ms-examples:
        Cancel a job execution.:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobExecutionId: 5555-6666-7777-8888-999999999999
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}/steps":
    get:
      description: Lists the step executions of a job execution.
      operationId: JobStepExecutions_ListByJobExecution
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the job to get.
          in: path
          name: jobName
          required: true
          type: string
        - description: The id of the job execution
          format: uuid
          in: path
          name: jobExecutionId
          required: true
          type: string
        - description: If specified, only job executions created at or after the specified time are included.
          format: date-time
          in: query
          name: createTimeMin
          required: false
          type: string
        - description: If specified, only job executions created before the specified time are included.
          format: date-time
          in: query
          name: createTimeMax
          required: false
          type: string
        - description: If specified, only job executions completed at or after the specified time are included.
          format: date-time
          in: query
          name: endTimeMin
          required: false
          type: string
        - description: If specified, only job executions completed before the specified time are included.
          format: date-time
          in: query
          name: endTimeMax
          required: false
          type: string
        - description: If specified, only active or only completed job executions are included.
          in: query
          name: isActive
          required: false
          type: boolean
        - description: The number of elements in the collection to skip.
          in: query
          name: $skip
          required: false
          type: integer
        - description: The number of elements to return from the collection.
          in: query
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the step executions.
          schema:
            $ref: "#/definitions/JobExecutionListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
        - JobStepExecutions
      x-ms-examples:
        List job step executions:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobExecutionId: 5555-6666-7777-8888-999999999999
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999/steps/step1
                    name: step1
                    properties:
                      createTime: 2017-12-03T04:33:15.7189151Z
                      currentAttemptStartTime: 2017-12-03T04:33:17.4840068Z
                      currentAttempts: 1
                      endTime: 2017-12-03T04:33:19.0600862Z
                      jobExecutionId: 5555-6666-7777-8888-999999999999
                      jobVersion: 1
                      lastMessage: Step 1 succeeded.
                      lifecycle: Succeeded
                      provisioningState: Succeeded
                      startTime: 2017-12-03T04:33:16.176937Z
                      stepId: 1
                      stepName: step1
                    type: Microsoft.Sql/servers/jobAgents/jobs/executions/steps
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}/steps/{stepName}":
    get:
      description: Gets a step execution of a job execution.
      operationId: JobStepExecutions_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the job to get.
          in: path
          name: jobName
          required: true
          type: string
        - description: The unique id of the job execution
          format: uuid
          in: path
          name: jobExecutionId
          required: true
          type: string
        - description: The name of the step.
          in: path
          name: stepName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the step execution.
          schema:
            $ref: "#/definitions/JobExecution"
        default:
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - JobStepExecutions
      x-ms-examples:
        Get a job step execution:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobExecutionId: 5555-6666-7777-8888-999999999999
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            stepName: step1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999/steps/step1
                name: step1
                properties:
                  createTime: 2017-12-27T04:33:15.7189151Z
                  currentAttemptStartTime: 2017-12-27T04:33:17.4840068Z
                  currentAttempts: 1
                  endTime: 2017-12-27T04:33:19.0600862Z
                  jobExecutionId: 5555-6666-7777-8888-999999999999
                  jobVersion: 1
                  lastMessage: Step 1 succeeded.
                  lifecycle: Succeeded
                  provisioningState: Succeeded
                  startTime: 2017-12-27T04:33:16.176937Z
                  stepId: 1
                  stepName: step1
                type: Microsoft.Sql/servers/jobAgents/jobs/executions/steps
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}/steps/{stepName}/targets":
    get:
      description: Lists the target executions of a job step execution.
      operationId: JobTargetExecutions_ListByStep
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the job to get.
          in: path
          name: jobName
          required: true
          type: string
        - description: The id of the job execution
          format: uuid
          in: path
          name: jobExecutionId
          required: true
          type: string
        - description: The name of the step.
          in: path
          name: stepName
          required: true
          type: string
        - description: If specified, only job executions created at or after the specified time are included.
          format: date-time
          in: query
          name: createTimeMin
          required: false
          type: string
        - description: If specified, only job executions created before the specified time are included.
          format: date-time
          in: query
          name: createTimeMax
          required: false
          type: string
        - description: If specified, only job executions completed at or after the specified time are included.
          format: date-time
          in: query
          name: endTimeMin
          required: false
          type: string
        - description: If specified, only job executions completed before the specified time are included.
          format: date-time
          in: query
          name: endTimeMax
          required: false
          type: string
        - description: If specified, only active or only completed job executions are included.
          in: query
          name: isActive
          required: false
          type: boolean
        - description: The number of elements in the collection to skip.
          in: query
          name: $skip
          required: false
          type: integer
        - description: The number of elements to return from the collection.
          in: query
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the target executions.
          schema:
            $ref: "#/definitions/JobExecutionListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
        - JobTargetExecutions
      x-ms-examples:
        List job step target executions:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobExecutionId: 5555-6666-7777-8888-999999999999
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            stepName: step1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999/steps/step1/targets/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                    name: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                    properties:
                      createTime: 2017-07-01T04:33:17.5133333Z
                      currentAttemptStartTime: 2017-07-01T04:33:18.2391013Z
                      currentAttempts: 1
                      endTime: 2017-07-01T04:33:18.7031029Z
                      jobExecutionId: 5555-6666-7777-8888-999999999999
                      jobVersion: 1
                      lastMessage: Step 1 succeeded execution on target (server 'server1', database 'database1').
                      lifecycle: Succeeded
                      provisioningState: Succeeded
                      startTime: 2017-07-01T04:33:18.1230403Z
                      stepId: 1
                      stepName: step1
                      target:
                        databaseName: database1
                        serverName: server1
                        type: SqlDatabase
                    type: Microsoft.Sql/servers/jobAgents/jobs/executions/steps/targets
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}/steps/{stepName}/targets/{targetId}":
    get:
      description: Gets a target execution.
      operationId: JobTargetExecutions_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the job to get.
          in: path
          name: jobName
          required: true
          type: string
        - description: The unique id of the job execution
          format: uuid
          in: path
          name: jobExecutionId
          required: true
          type: string
        - description: The name of the step.
          in: path
          name: stepName
          required: true
          type: string
        - description: The target id.
          format: uuid
          in: path
          name: targetId
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the target execution.
          schema:
            $ref: "#/definitions/JobExecution"
        default:
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - JobTargetExecutions
      x-ms-examples:
        Get a job step target execution:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobExecutionId: 5555-6666-7777-8888-999999999999
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            stepName: step1
            subscriptionId: 00000000-1111-2222-3333-444444444444
            targetId: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999/steps/step1/targets/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                name: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                properties:
                  createTime: 2017-11-05T04:33:17.5133333Z
                  currentAttemptStartTime: 2017-11-05T04:33:18.2391013Z
                  currentAttempts: 1
                  endTime: 2017-11-05T04:33:18.7031029Z
                  jobExecutionId: 5555-6666-7777-8888-999999999999
                  jobVersion: 1
                  lastMessage: Step 1 succeeded execution on target (server 'server1', database 'database1').
                  lifecycle: Succeeded
                  provisioningState: Succeeded
                  startTime: 2017-11-05T04:33:18.1230403Z
                  stepId: 1
                  stepName: step1
                  target:
                    databaseName: database1
                    serverName: server1
                    type: SqlDatabase
                type: Microsoft.Sql/servers/jobAgents/jobs/executions/steps/targets
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}/targets":
    get:
      description: Lists target executions for all steps of a job execution.
      operationId: JobTargetExecutions_ListByJobExecution
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the job to get.
          in: path
          name: jobName
          required: true
          type: string
        - description: The id of the job execution
          format: uuid
          in: path
          name: jobExecutionId
          required: true
          type: string
        - description: If specified, only job executions created at or after the specified time are included.
          format: date-time
          in: query
          name: createTimeMin
          required: false
          type: string
        - description: If specified, only job executions created before the specified time are included.
          format: date-time
          in: query
          name: createTimeMax
          required: false
          type: string
        - description: If specified, only job executions completed at or after the specified time are included.
          format: date-time
          in: query
          name: endTimeMin
          required: false
          type: string
        - description: If specified, only job executions completed before the specified time are included.
          format: date-time
          in: query
          name: endTimeMax
          required: false
          type: string
        - description: If specified, only active or only completed job executions are included.
          in: query
          name: isActive
          required: false
          type: boolean
        - description: The number of elements in the collection to skip.
          in: query
          name: $skip
          required: false
          type: integer
        - description: The number of elements to return from the collection.
          in: query
          name: $top
          required: false
          type: integer
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the target executions.
          schema:
            $ref: "#/definitions/JobExecutionListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
        - JobTargetExecutions
      x-ms-examples:
        List job step target executions:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobExecutionId: 5555-6666-7777-8888-999999999999
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999/steps/step1/targets/aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                    name: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
                    properties:
                      createTime: 2017-07-01T04:33:17.5133333Z
                      currentAttemptStartTime: 2017-07-01T04:33:18.2391013Z
                      currentAttempts: 1
                      endTime: 2017-07-01T04:33:18.7031029Z
                      jobExecutionId: 5555-6666-7777-8888-999999999999
                      jobVersion: 1
                      lastMessage: Step 1 succeeded execution on target (server 'server1', database 'database1').
                      lifecycle: Succeeded
                      provisioningState: Succeeded
                      startTime: 2017-07-01T04:33:18.1230403Z
                      stepId: 1
                      stepName: step1
                      target:
                        databaseName: database1
                        serverName: server1
                        type: SqlDatabase
                    type: Microsoft.Sql/servers/jobAgents/jobs/executions/steps/targets
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/start":
    post:
      description: Starts an elastic job execution.
      operationId: JobExecutions_Create
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the job to get.
          in: path
          name: jobName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully started an execution for the job.
          schema:
            $ref: "#/definitions/JobExecution"
        "202":
          description: Accepted
        default:
          description: |-
            *** Error Responses: ***

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - JobExecutions
      x-ms-examples:
        Start a job execution.:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/executions/5555-6666-7777-8888-999999999999
                name: 5555-6666-7777-8888-999999999999
                properties:
                  createTime: 2016-09-23T01:00:00.0000000Z
                  currentAttempts: 0
                  jobExecutionId: 5555-6666-7777-8888-999999999999
                  jobVersion: 1
                  lastMessage: Job execution created.
                  lifecycle: Created
                  provisioningState: Created
                type: Microsoft.Sql/servers/jobAgents/executions
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/steps":
    get:
      description: Gets all job steps for a job's current version.
      operationId: JobSteps_ListByJob
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the job to get.
          in: path
          name: jobName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of job steps.
          schema:
            $ref: "#/definitions/JobStepListResult"
        default:
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
        - JobSteps
      x-ms-examples:
        List job steps for the latest version of a job.:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/steps/step1
                    name: step1
                    properties:
                      action:
                        source: Inline
                        type: TSql
                        value: select 2
                      credential: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred1
                      executionOptions:
                        initialRetryIntervalSeconds: 11
                        maximumRetryIntervalSeconds: 222
                        retryAttempts: 42
                        retryIntervalBackoffMultiplier: 3
                        timeoutSeconds: 1234
                      output:
                        credential: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred0
                        databaseName: database3
                        resourceGroupName: group3
                        schemaName: myschema1234
                        serverName: server3
                        subscriptionId: 3501b905-a848-4b5d-96e8-b253f62d735a
                        tableName: mytable5678
                        type: SqlDatabase
                      stepId: 1
                      targetGroup: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/targetGroups/targetGroup1
                    type: Microsoft.Sql/servers/jobAgents/jobs/steps
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/steps/step2
                    name: step2
                    properties:
                      action:
                        source: Inline
                        type: TSql
                        value: select 2
                      credential: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred1
                      executionOptions:
                        initialRetryIntervalSeconds: 11
                        maximumRetryIntervalSeconds: 222
                        retryAttempts: 42
                        retryIntervalBackoffMultiplier: 3
                        timeoutSeconds: 1234
                      output:
                        credential: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred0
                        databaseName: database3
                        resourceGroupName: group3
                        schemaName: myschema1234
                        serverName: server3
                        subscriptionId: 3501b905-a848-4b5d-96e8-b253f62d735a
                        tableName: mytable5678
                        type: SqlDatabase
                      stepId: 2
                      targetGroup: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/targetGroups/targetGroup1
                    type: Microsoft.Sql/servers/jobAgents/jobs/steps
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/steps/{stepName}":
    delete:
      description: Deletes a job step. This will implicitly create a new job version.
      operationId: JobSteps_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the job.
          in: path
          name: jobName
          required: true
          type: string
        - description: The name of the job step to delete.
          in: path
          name: stepName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully deleted the job step.
        "204":
          description: The specified job step does not exist.
        default:
          description: |-
            *** Error Responses: ***

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found

             * 404 ResourceNotFound - The requested resource was not found.
      tags:
        - JobSteps
      x-ms-examples:
        Delete a job step.:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            stepName: step1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets a job step in a job's current version.
      operationId: JobSteps_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the job.
          in: path
          name: jobName
          required: true
          type: string
        - description: The name of the job step.
          in: path
          name: stepName
          required: true
          type: string
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the job step.
          schema:
            $ref: "#/definitions/JobStep"
        default:
          description: |-
            *** Error Responses: ***

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
        - JobSteps
      x-ms-examples:
        Get the latest version of a job step.:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobName: job1
            resourceGroupName: group1
            serverName: server1
            stepName: step1
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/jobs/job1/steps/step1
                name: step1
                properties:
                  action:
                    source: Inline
                    type: TSql
                    value: select 2
                  credential: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred1
                  executionOptions:
                    initialRetryIntervalSeconds: 11
                    maximumRetryIntervalSeconds: 222
                    retryAttempts: 42
                    retryIntervalBackoffMultiplier: 3
                    timeoutSeconds: 1234
                  output:
                    credential: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred0
                    databaseName: database3
                    resourceGroupName: group3
                    schemaName: myschema1234
                    serverName: server3
                    subscriptionId: 3501b905-a848-4b5d-96e8-b253f62d735a
                    tableName: mytable5678
                    type: SqlDatabase
                  stepId: 1
                  targetGroup: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/targetGroups/targetGroup1
                type: Microsoft.Sql/servers/jobAgents/jobs/steps
    put:
      description: Creates or updates a job step. This will implicitly create a new job version.
      operationId: JobSteps_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the job agent.
          in: path
          name: jobAgentName
          required: true
          type: string
        - description: The name of the job.
          in: path
          name: jobName
          required: true
          type: string
        - description: The name of the job step.
          in: path
          name: stepName
          required: true
          type: string
        - description: The requested state of the job step.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/JobStep"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the job step.
          schema:
            $ref: "#/definitions/JobStep"
        "201":
          description: Successfully added the job step.
          schema:
            $ref: "#/definitions/JobStep"
        default:
          description: |-
            *** Error Responses: ***

             * 400 JobStepIdMismatch - Step Id in the specified Job Step URI does not match step id in provided Job Step Resource.

             * 400 InvalidResourceRequestBody - The resource or resource properties in the request body is empty or invalid.

             * 400 InvalidResourceId - Invalid resource identifier.

             * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.

             * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.

             * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.

             * 400 MismatchingJobAccountNameWithUrl - The provided job account name did not match the name in the Url.

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 400 ElasticJobsOperationFailed - Elastic jobs management operation failed.

             * 404 JobAgentNotFound - Specified job agent does not exist in the specified logical server.

             * 404 ResourceNotFound - The requested resource was not found.

             * 404 SubscriptionDoesNotHaveServer - The requested server was not found
      tags:
        - JobSteps
      x-ms-examples:
        Create or update a job step with all properties specified.:
          parameters:
            api-version: 2017-03-01-preview
            jobAgentName: agent1
            jobName: job1
            parameters:
              properties:
                action:
                  source: Inline
                  type: TSql
                  value: select 2
                credential: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred1
                executionOptions:
                  initialRetryIntervalSeconds: 11
                  maximumRetryIntervalSeconds: 222
                  retryAttempts: 42
                  retryIntervalBackoffMultiplier: 3
                  timeoutSeconds: 1234
                output:
                  credential: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/group1/providers/Microsoft.Sql/servers/server1/jobAgents/agent1/credentials/cred0
                  databaseName: database3
                  resourceGroupName: group3
                  schemaName: myschema1234
                  serverName: server3
                  subscriptionId: 3501b905-a848-4b5d-96e8-b253f62d735a
                  tableName: mytable5678
                  type: SqlDatabase
                stepId: 1
[...]
