{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "adminmanagement.local.azurestack.external",
  "info": {
    "description": "Logical subnet operation endpoints and objects.",
    "title": "FabricAdminClient",
    "version": "2016-05-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/LogicalSubnet.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "azsadmin-LogicalSubnet",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "LogicalNetworkParameter": {
      "description": "Name of the logical network.",
      "in": "path",
      "name": "logicalNetwork",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "LogicalSubnetParameter": {
      "description": "Name of the logical subnet.",
      "in": "path",
      "name": "logicalSubnet",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/logicalNetworks/{logicalNetwork}/logicalSubnets": {
      "get": {
        "description": "Returns a list of all logical subnets.",
        "operationId": "LogicalSubnets_List",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Location of the resource.",
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/LogicalNetworkParameter"
          },
          {
            "default": "2016-05-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "OData filter parameter.",
            "in": "query",
            "name": "$filter",
            "type": "string",
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogicalSubnetList"
            }
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "LogicalSubnets"
        ],
        "x-ms-examples": {
          "Returns a list of all logical subnets.": {
            "parameters": {
              "api-version": "2016-05-01",
              "location": "local",
              "logicalNetwork": "00000000-2222-1111-9999-000000000001",
              "resourceGroupName": "System.local",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/00000000-2222-1111-9999-000000000001/logicalSubnets/de2b8680-ed17-4df9-a5f9-c05c090e8f4a",
                      "location": "local",
                      "name": "de2b8680-ed17-4df9-a5f9-c05c090e8f4a",
                      "properties": {
                        "ipPools": [
                          "8b13b443-ed0e-462b-bf8e-415c69288fb5"
                        ],
                        "isPublic": false
                      },
                      "tags": {},
                      "type": "Microsoft.Fabric.Admin/fabricLocations/logicalNetworks/logicalSubnets"
                    }
                  ]
                }
              },
              "404": {}
            }
          }
        },
        "x-ms-odata": "#/definitions/LogicalSubnet",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/logicalNetworks/{logicalNetwork}/logicalSubnets/{logicalSubnet}": {
      "get": {
        "description": "Returns the requested logical subnet.",
        "operationId": "LogicalSubnets_Get",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Location of the resource.",
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/LogicalNetworkParameter"
          },
          {
            "$ref": "#/parameters/LogicalSubnetParameter"
          },
          {
            "default": "2016-05-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogicalSubnet"
            }
          },
          "404": {
            "description": "NOT FOUND"
          }
        },
        "tags": [
          "LogicalSubnets"
        ],
        "x-ms-examples": {
          "Returns the requested logical subnet.": {
            "parameters": {
              "api-version": "2016-05-01",
              "location": "local",
              "logicalNetwork": "00000000-2222-1111-9999-000000000001",
              "logicalSubnet": "9ea1839b-4025-416b-b67c-405d667691bb",
              "resourceGroupName": "System.local",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/00000000-2222-1111-9999-000000000001/logicalSubnets/de2b8680-ed17-4df9-a5f9-c05c090e8f4a",
                  "location": "local",
                  "name": "de2b8680-ed17-4df9-a5f9-c05c090e8f4a",
                  "properties": {
                    "ipPools": [
                      "8b13b443-ed0e-462b-bf8e-415c69288fb5"
                    ],
                    "isPublic": false
                  },
                  "tags": {},
                  "type": "Microsoft.Fabric.Admin/fabricLocations/logicalNetworks/logicalSubnets"
                }
              },
              "404": {}
            }
          }
        }
      }
    }
  },
  "definitions": {
    "LogicalSubnet": {
      "allOf": [
        {
          "description": "Base resource object.",
          "properties": {
            "id": {
              "description": "URI of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "location": {
              "description": "The region where the resource is located.",
              "type": "string"
            },
            "name": {
              "description": "Name of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "tags": {
              "additionalProperties": {
                "type": "string"
              },
              "description": "List of key-value pairs.",
              "type": "object"
            },
            "type": {
              "description": "Type of resource.",
              "readOnly": true,
              "type": "string"
            }
          },
          "type": "object",
          "x-ms-azure-resource": true
        }
      ],
      "description": "This resource represents a logical subnet.  A logical subnet is made of a subnet-vlan pair.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LogicalSubnetModel",
          "description": "Properties of a logical subnet.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "LogicalSubnetList": {
      "description": "Pageable list of logical subnets.",
      "properties": {
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        },
        "value": {
          "description": "List of logical subnets.",
          "items": {
            "$ref": "#/definitions/LogicalSubnet"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "LogicalSubnetModel": {
      "description": "Properties of a logical subnet.",
      "properties": {
        "ipPools": {
          "description": "All IP pools which belong to this subnet.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "isPublic": {
          "description": "The visibility status of the IP pool.  If is true the associated pools are public IP address pools.",
          "type": "boolean"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata related to the logical network.",
          "type": "object"
        }
      },
      "type": "object"
    }
  }
}