swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Service Map API Reference
  title: Service Map
  version: 2015-11-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/service-map/resource-manager/Microsoft.OperationalInsights/preview/2015-11-01-preview/arm-service-map.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: service-map-arm-service-map
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: API version.
    in: query
    name: api-version
    required: true
    type: string
  ClientGroupNameParameter:
    description: Client Group resource name.
    in: path
    maxLength: 256
    minLength: 3
    name: clientGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  MachineGroupNameParameter:
    description: Machine Group resource name.
    in: path
    maxLength: 36
    minLength: 36
    name: machineGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  MachineNameParameter:
    description: Machine resource name.
    in: path
    maxLength: 64
    minLength: 3
    name: machineName
    required: true
    type: string
    x-ms-parameter-location: method
  PortNameParameter:
    description: Port resource name.
    in: path
    maxLength: 64
    minLength: 3
    name: portName
    required: true
    type: string
    x-ms-parameter-location: method
  ProcessNameParameter:
    description: Process resource name.
    in: path
    maxLength: 128
    minLength: 3
    name: processName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: Resource group name within the specified subscriptionId.
    in: path
    maxLength: 64
    minLength: 1
    name: resourceGroupName
    pattern: "[a-zA-Z0-9_-]+"
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Azure subscription identifier.
    in: path
    name: subscriptionId
    required: true
    type: string
  WorkspaceNameParameter:
    description: OMS workspace containing the resources of interest.
    in: path
    maxLength: 63
    minLength: 3
    name: workspaceName
    pattern: "[a-zA-Z0-9_][a-zA-Z0-9_-]+[a-zA-Z0-9_]"
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/clientGroups/{clientGroupName}":
    get:
      description: Retrieves the specified client group
      operationId: ClientGroups_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ClientGroupNameParameter"
        - description: UTC date and time specifying the start time of an interval. When not specified the service uses DateTime.UtcNow - 10m
          format: date-time
          in: query
          name: startTime
          required: false
          type: string
        - description: UTC date and time specifying the end time of an interval. When not specified the service uses DateTime.UtcNow
          format: date-time
          in: query
          name: endTime
          required: false
          type: string
      responses:
        "200":
          description: The operation completed successfully.
          schema:
            $ref: "#/definitions/ClientGroup"
        default:
          description: An error occurred while processing the request. See the error.code parameter to identify the specific error.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Client Groups
      x-ms-examples:
        SMClientGroupsGetGet:
          parameters:
            api-version: 2016-08-02
            clientGroupName: m!m-A4AB1C69-03E9-42D2-B822-B42555569FB4!b!b-c0a8010a_10000
            endTime: 2018-01-08T21:28:53.7181136Z
            resourceGroupName: rg-sm
            startTime: 2018-01-08T21:26:53.7181136Z
            subscriptionId: 63BE4E24-FDF0-4E9C-9342-6A5D5A359722
            workspaceName: D6F79F14-E563-469B-84B5-9286D2803B2F
          responses:
            "200":
              body:
                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-A4AB1C69-03E9-42D2-B822-B42555569FB4!b!b-c0a8010a_10000
                kind: clientGroup
                name: m!m-A4AB1C69-03E9-42D2-B822-B42555569FB4!b!b-c0a8010a_10000
                properties:
                  clientsOf:
                    id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-A4AB1C69-03E9-42D2-B822-B42555569FB4/ports/b-c0a8010a_10000
                    kind: ref:port
                    name: b-c0a8010a_10000
                    properties:
                      ipAddress: 192.168.1.10
                      machine:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-A4AB1C69-03E9-42D2-B822-B42555569FB4
                        kind: ref:machine
                        name: m-A4AB1C69-03E9-42D2-B822-B42555569FB4
                        type: Microsoft.OperationalInsights/workspaces/features/machines
                      portNumber: 10000
                    type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                type: Microsoft.OperationalInsights/workspaces/features/clientGroups
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/clientGroups/{clientGroupName}/members":
    get:
      description: Returns the members of the client group during the specified time interval.
      operationId: ClientGroups_ListMembers
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ClientGroupNameParameter"
        - description: UTC date and time specifying the start time of an interval. When not specified the service uses DateTime.UtcNow - 10m
          format: date-time
          in: query
          name: startTime
          required: false
          type: string
        - description: UTC date and time specifying the end time of an interval. When not specified the service uses DateTime.UtcNow
          format: date-time
          in: query
          name: endTime
          required: false
          type: string
        - description: Page size to use. When not specified, the default page size is 100 records.
          format: int32
          in: query
          maximum: 200
          minimum: 1
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: The operation completed successfully.
          schema:
            $ref: "#/definitions/ClientGroupMembersCollection"
        default:
          description: An error occurred while processing the request. See the error.code parameter to identify the specific error.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Client Groups
      x-ms-examples:
        SMClientGroupsListMembersGet:
          parameters:
            api-version: 2016-08-02
            clientGroupName: m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000
            endTime: 2018-01-08T21:52:03.301Z
            resourceGroupName: rg-sm
            startTime: 2018-01-08T21:51:48.301Z
            subscriptionId: 63BE4E24-FDF0-4E9C-9342-6A5D5A359722
            workspaceName: D6F79F14-E563-469B-84B5-9286D2803B2F
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010000
                    name: "01010000"
                    properties:
                      ipAddress: 1.1.0.0
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010001
                    name: "01010001"
                    properties:
                      ipAddress: 1.1.0.1
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010002
                    name: "01010002"
                    properties:
                      ipAddress: 1.1.0.2
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010003
                    name: "01010003"
                    properties:
                      ipAddress: 1.1.0.3
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010004
                    name: "01010004"
                    properties:
                      ipAddress: 1.1.0.4
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010005
                    name: "01010005"
                    properties:
                      ipAddress: 1.1.0.5
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010006
                    name: "01010006"
                    properties:
                      ipAddress: 1.1.0.6
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010007
                    name: "01010007"
                    properties:
                      ipAddress: 1.1.0.7
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010008
                    name: 1010008
                    properties:
                      ipAddress: 1.1.0.8
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010009
                    name: 1010009
                    properties:
                      ipAddress: 1.1.0.9
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/0101000a
                    name: 0101000a
                    properties:
                      ipAddress: 1.1.0.10
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/0101000b
                    name: 0101000b
                    properties:
                      ipAddress: 1.1.0.11
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/0101000c
                    name: 0101000c
                    properties:
                      ipAddress: 1.1.0.12
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/0101000d
                    name: 0101000d
                    properties:
                      ipAddress: 1.1.0.13
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/0101000e
                    name: 0101000e
                    properties:
                      ipAddress: 1.1.0.14
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/0101000f
                    name: 0101000f
                    properties:
                      ipAddress: 1.1.0.15
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010010
                    name: "01010010"
                    properties:
                      ipAddress: 1.1.0.16
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010011
                    name: "01010011"
                    properties:
                      ipAddress: 1.1.0.17
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010012
                    name: "01010012"
                    properties:
                      ipAddress: 1.1.0.18
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010013
                    name: "01010013"
                    properties:
                      ipAddress: 1.1.0.19
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010014
                    name: "01010014"
                    properties:
                      ipAddress: 1.1.0.20
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010015
                    name: "01010015"
                    properties:
                      ipAddress: 1.1.0.21
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010016
                    name: "01010016"
                    properties:
                      ipAddress: 1.1.0.22
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010017
                    name: "01010017"
                    properties:
                      ipAddress: 1.1.0.23
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
                  - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000/members/01010018
                    name: 1010018
                    properties:
                      ipAddress: 1.1.0.24
                      port:
                        id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b/ports/b-c0a8010a_8000
                        kind: ref:port
                        name: b-c0a8010a_8000
                        properties:
                          ipAddress: 192.168.1.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            kind: ref:machine
                            name: m-12bc33c3-31ad-42e0-a08b-bd1c2531776b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          portNumber: 8000
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    type: Microsoft.OperationalInsights/workspaces/features/clientGroups/members
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/clientGroups/{clientGroupName}/membersCount":
    get:
      description: Returns the approximate number of members in the client group.
      operationId: ClientGroups_GetMembersCount
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/ClientGroupNameParameter"
        - description: UTC date and time specifying the start time of an interval. When not specified the service uses DateTime.UtcNow - 10m
          format: date-time
          in: query
          name: startTime
          required: false
          type: string
        - description: UTC date and time specifying the end time of an interval. When not specified the service uses DateTime.UtcNow
          format: date-time
          in: query
          name: endTime
          required: false
          type: string
      responses:
        "200":
          description: The operation completed successfully.
          schema:
            $ref: "#/definitions/ClientGroupMembersCount"
        default:
          description: An error occurred while processing the request. See the error.code parameter to identify the specific error.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Client Groups
      x-ms-examples:
        SMClientGroupsGetMembersCountGet:
          parameters:
            api-version: 2016-08-02
            clientGroupName: m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000
            endTime: 2018-01-08T21:52:03.301Z
            resourceGroupName: rg-sm
            startTime: 2018-01-08T21:51:48.301Z
            subscriptionId: 63BE4E24-FDF0-4E9C-9342-6A5D5A359722
            workspaceName: D6F79F14-E563-469B-84B5-9286D2803B2F
          responses:
            "200":
              body:
                accuracy: actual
                count: 25
                endTime: 2018-01-08T21:52:03.301Z
                groupId: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-12bc33c3-31ad-42e0-a08b-bd1c2531776b!b!b-c0a8010a_8000
                startTime: 2018-01-08T21:51:48.301Z
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/features/serviceMap/generateMap":
    post:
      description: Generates the specified map.
      operationId: Maps_Generate
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: Request options.
          in: body
          name: request
          required: true
          schema:
            $ref: "#/definitions/MapRequest"
      responses:
        "200":
          description: The operation completed successfully.
          schema:
            $ref: "#/definitions/MapResponse"
        default:
          description: An error occurred while processing the request. See the error.code parameter to identify the specific error.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Maps
      x-ms-examples:
        SMMapsGenerateMachineGroupDependencyPost:
          parameters:
            api-version: 2016-08-02
            request:
              endTime: 2018-01-08T20:01:06.325Z
              filterProcesses: false
              kind: map:machine-group-dependency
              machineGroupId: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machineGroups/b90f6d8f-a9b9-4ac6-abeb-abd8fe10a6dc
              startTime: 2018-01-08T20:00:51.325Z
            resourceGroupName: rg-sm
            subscriptionId: 63BE4E24-FDF0-4E9C-9342-6A5D5A359722
            workspaceName: D6F79F14-E563-469B-84B5-9286D2803B2F
          responses:
            "200":
              body:
                endTime: 2018-01-08T20:01:06.325Z
                map:
                  edges:
                    acceptors:
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/acceptors/m@m-80cf74cb-2828-42be-8eb1-d78fe35c662b@b@b-c0a80003_80!m@m-80cf74cb-2828-42be-8eb1-d78fe35c662b@p@p-d6e3705d92e552df838f6fe13c72153923fbf3c6
                        kind: rel:acceptor
                        name: m@m-80cf74cb-2828-42be-8eb1-d78fe35c662b@b@b-c0a80003_80!m@m-80cf74cb-2828-42be-8eb1-d78fe35c662b@p@p-d6e3705d92e552df838f6fe13c72153923fbf3c6
                        properties:
                          destination:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-80cf74cb-2828-42be-8eb1-d78fe35c662b/processes/p-d6e3705d92e552df838f6fe13c72153923fbf3c6
                            kind: ref:process
                            name: p-d6e3705d92e552df838f6fe13c72153923fbf3c6
                            properties:
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-80cf74cb-2828-42be-8eb1-d78fe35c662b
                                kind: ref:machine
                                name: m-80cf74cb-2828-42be-8eb1-d78fe35c662b
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                            type: Microsoft.OperationalInsights/workspaces/features/machines/processes
                          source:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-80cf74cb-2828-42be-8eb1-d78fe35c662b/ports/b-c0a80003_80
                            kind: ref:port
                            name: b-c0a80003_80
                            properties:
                              ipAddress: 192.168.0.3
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-80cf74cb-2828-42be-8eb1-d78fe35c662b
                                kind: ref:machine
                                name: m-80cf74cb-2828-42be-8eb1-d78fe35c662b
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                              portNumber: 80
                            type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                        type: Microsoft.OperationalInsights/workspaces/features/acceptors
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/acceptors/m@t-0a0a0a0a@b@b-0a0a0a0a_8880!m@t-0a0a0a0a@p@ts-m@@t-0a0a0a0a@@b@@b-0a0a0a0a_8880
                        kind: rel:acceptor
                        name: m@t-0a0a0a0a@b@b-0a0a0a0a_8880!m@t-0a0a0a0a@p@ts-m@@t-0a0a0a0a@@b@@b-0a0a0a0a_8880
                        properties:
                          destination:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/t-0a0a0a0a/processes/ts-m@t-0a0a0a0a@b@b-0a0a0a0a_8880
                            kind: ref:process
                            name: ts-m@t-0a0a0a0a@b@b-0a0a0a0a_8880
                            properties:
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/t-0a0a0a0a
                                kind: ref:machine
                                name: t-0a0a0a0a
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                            type: Microsoft.OperationalInsights/workspaces/features/machines/processes
                          source:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/t-0a0a0a0a/ports/b-0a0a0a0a_8880
                            kind: ref:port
                            name: b-0a0a0a0a_8880
                            properties:
                              ipAddress: 10.10.10.10
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/t-0a0a0a0a
                                kind: ref:machine
                                name: t-0a0a0a0a
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                              portNumber: 8880
                            type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                        type: Microsoft.OperationalInsights/workspaces/features/acceptors
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/acceptors/m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@b@b-c0a80002_90!m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@p@p-a53c0b2e1e6b779729257570076303b32b13add9
                        kind: rel:acceptor
                        name: m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@b@b-c0a80002_90!m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@p@p-a53c0b2e1e6b779729257570076303b32b13add9
                        properties:
                          destination:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab/processes/p-a53c0b2e1e6b779729257570076303b32b13add9
                            kind: ref:process
                            name: p-a53c0b2e1e6b779729257570076303b32b13add9
                            properties:
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                kind: ref:machine
                                name: m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                            type: Microsoft.OperationalInsights/workspaces/features/machines/processes
                          source:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab/ports/b-c0a80002_90
                            kind: ref:port
                            name: b-c0a80002_90
                            properties:
                              ipAddress: 192.168.0.2
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                kind: ref:machine
                                name: m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                              portNumber: 90
                            type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                        type: Microsoft.OperationalInsights/workspaces/features/acceptors
                    connections:
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/connections/m@m-d3641418-6ac8-4024-8074-48f6d9db9825@p@p-e12c75e851c715e7e5ee7e889d858cfc3661e91f!m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@p@p-a53c0b2e1e6b779729257570076303b32b13add9!m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@b@b-c0a80002_90
                        kind: rel:connection
                        name: m@m-d3641418-6ac8-4024-8074-48f6d9db9825@p@p-e12c75e851c715e7e5ee7e889d858cfc3661e91f!m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@p@p-a53c0b2e1e6b779729257570076303b32b13add9!m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@b@b-c0a80002_90
                        properties:
                          destination:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab/processes/p-a53c0b2e1e6b779729257570076303b32b13add9
                            kind: ref:process
                            name: p-a53c0b2e1e6b779729257570076303b32b13add9
                            properties:
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                kind: ref:machine
                                name: m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                            type: Microsoft.OperationalInsights/workspaces/features/machines/processes
                          failureState: ok
                          serverPort:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab/ports/b-c0a80002_90
                            kind: ref:port
                            name: b-c0a80002_90
                            properties:
                              ipAddress: 192.168.0.2
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                kind: ref:machine
                                name: m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                              portNumber: 90
                            type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                          source:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-d3641418-6ac8-4024-8074-48f6d9db9825/processes/p-e12c75e851c715e7e5ee7e889d858cfc3661e91f
                            kind: ref:process
                            name: p-e12c75e851c715e7e5ee7e889d858cfc3661e91f
                            properties:
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-d3641418-6ac8-4024-8074-48f6d9db9825
                                kind: ref:machine
                                name: m-d3641418-6ac8-4024-8074-48f6d9db9825
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                            type: Microsoft.OperationalInsights/workspaces/features/machines/processes
                        type: Microsoft.OperationalInsights/workspaces/features/connections
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/connections/c@m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab!m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@p@p-a53c0b2e1e6b779729257570076303b32b13add9!m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@b@b-c0a80002_90
                        kind: rel:connection
                        name: c@m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab!m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@p@p-a53c0b2e1e6b779729257570076303b32b13add9!m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@b@b-c0a80002_90
                        properties:
                          destination:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab/processes/p-a53c0b2e1e6b779729257570076303b32b13add9
                            kind: ref:process
                            name: p-a53c0b2e1e6b779729257570076303b32b13add9
                            properties:
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                kind: ref:machine
                                name: m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                            type: Microsoft.OperationalInsights/workspaces/features/machines/processes
                          failureState: ok
                          serverPort:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab/ports/b-c0a80002_90
                            kind: ref:port
                            name: b-c0a80002_90
                            properties:
                              ipAddress: 192.168.0.2
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                kind: ref:machine
                                name: m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                              portNumber: 90
                            type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                          source:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                            kind: ref:clientgroup
                            name: m!m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                            type: Microsoft.OperationalInsights/workspaces/features/clientGroups
                        type: Microsoft.OperationalInsights/workspaces/features/connections
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/connections/c@m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@p@p-a53c0b2e1e6b779729257570076303b32b13add9!m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@p@p-a53c0b2e1e6b779729257570076303b32b13add9!m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@b@b-c0a80002_90
                        kind: rel:connection
                        name: c@m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@p@p-a53c0b2e1e6b779729257570076303b32b13add9!m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@p@p-a53c0b2e1e6b779729257570076303b32b13add9!m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@b@b-c0a80002_90
                        properties:
                          destination:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab/processes/p-a53c0b2e1e6b779729257570076303b32b13add9
                            kind: ref:process
                            name: p-a53c0b2e1e6b779729257570076303b32b13add9
                            properties:
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                kind: ref:machine
                                name: m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                            type: Microsoft.OperationalInsights/workspaces/features/machines/processes
                          failureState: ok
                          serverPort:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab/ports/b-c0a80002_90
                            kind: ref:port
                            name: b-c0a80002_90
                            properties:
                              ipAddress: 192.168.0.2
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                kind: ref:machine
                                name: m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                              portNumber: 90
                            type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                          source:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-f16c3a13-c1b4-453b-bff1-4607d18436ab!p!p-a53c0b2e1e6b779729257570076303b32b13add9
                            kind: ref:clientgroup
                            name: m!m-f16c3a13-c1b4-453b-bff1-4607d18436ab!p!p-a53c0b2e1e6b779729257570076303b32b13add9
                            type: Microsoft.OperationalInsights/workspaces/features/clientGroups
                        type: Microsoft.OperationalInsights/workspaces/features/connections
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/connections/m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@p@p-508565aaf451d5e1e8dbf579493139cd50facb26!m@m-80cf74cb-2828-42be-8eb1-d78fe35c662b@p@p-d6e3705d92e552df838f6fe13c72153923fbf3c6!m@m-80cf74cb-2828-42be-8eb1-d78fe35c662b@b@b-c0a80003_80
                        kind: rel:connection
                        name: m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@p@p-508565aaf451d5e1e8dbf579493139cd50facb26!m@m-80cf74cb-2828-42be-8eb1-d78fe35c662b@p@p-d6e3705d92e552df838f6fe13c72153923fbf3c6!m@m-80cf74cb-2828-42be-8eb1-d78fe35c662b@b@b-c0a80003_80
                        properties:
                          destination:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-80cf74cb-2828-42be-8eb1-d78fe35c662b/processes/p-d6e3705d92e552df838f6fe13c72153923fbf3c6
                            kind: ref:process
                            name: p-d6e3705d92e552df838f6fe13c72153923fbf3c6
                            properties:
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-80cf74cb-2828-42be-8eb1-d78fe35c662b
                                kind: ref:machine
                                name: m-80cf74cb-2828-42be-8eb1-d78fe35c662b
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                            type: Microsoft.OperationalInsights/workspaces/features/machines/processes
                          failureState: ok
                          serverPort:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-80cf74cb-2828-42be-8eb1-d78fe35c662b/ports/b-c0a80003_80
                            kind: ref:port
                            name: b-c0a80003_80
                            properties:
                              ipAddress: 192.168.0.3
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-80cf74cb-2828-42be-8eb1-d78fe35c662b
                                kind: ref:machine
                                name: m-80cf74cb-2828-42be-8eb1-d78fe35c662b
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                              portNumber: 80
                            type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                          source:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab/processes/p-508565aaf451d5e1e8dbf579493139cd50facb26
                            kind: ref:process
                            name: p-508565aaf451d5e1e8dbf579493139cd50facb26
                            properties:
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                kind: ref:machine
                                name: m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                            type: Microsoft.OperationalInsights/workspaces/features/machines/processes
                        type: Microsoft.OperationalInsights/workspaces/features/connections
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/connections/m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@p@p-508565aaf451d5e1e8dbf579493139cd50facb26!m@t-0a0a0a0a@p@ts-m@@t-0a0a0a0a@@b@@b-0a0a0a0a_8880!m@t-0a0a0a0a@b@b-0a0a0a0a_8880
                        kind: rel:connection
                        name: m@m-f16c3a13-c1b4-453b-bff1-4607d18436ab@p@p-508565aaf451d5e1e8dbf579493139cd50facb26!m@t-0a0a0a0a@p@ts-m@@t-0a0a0a0a@@b@@b-0a0a0a0a_8880!m@t-0a0a0a0a@b@b-0a0a0a0a_8880
                        properties:
                          destination:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/t-0a0a0a0a/processes/ts-m@t-0a0a0a0a@b@b-0a0a0a0a_8880
                            kind: ref:process
                            name: ts-m@t-0a0a0a0a@b@b-0a0a0a0a_8880
                            properties:
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/t-0a0a0a0a
                                kind: ref:machine
                                name: t-0a0a0a0a
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                            type: Microsoft.OperationalInsights/workspaces/features/machines/processes
                          failureState: ok
                          serverPort:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/t-0a0a0a0a/ports/b-0a0a0a0a_8880
                            kind: ref:port
                            name: b-0a0a0a0a_8880
                            properties:
                              ipAddress: 10.10.10.10
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/t-0a0a0a0a
                                kind: ref:machine
                                name: t-0a0a0a0a
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                              portNumber: 8880
                            type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                          source:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab/processes/p-508565aaf451d5e1e8dbf579493139cd50facb26
                            kind: ref:process
                            name: p-508565aaf451d5e1e8dbf579493139cd50facb26
                            properties:
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                kind: ref:machine
                                name: m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                            type: Microsoft.OperationalInsights/workspaces/features/machines/processes
                        type: Microsoft.OperationalInsights/workspaces/features/connections
                  nodes:
                    clientGroups:
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                        kind: clientGroup
                        name: m!m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                        properties:
                          clientsOf:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                            kind: ref:machine
                            name: m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                        type: Microsoft.OperationalInsights/workspaces/features/clientGroups
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/clientGroups/m!m-f16c3a13-c1b4-453b-bff1-4607d18436ab!p!p-a53c0b2e1e6b779729257570076303b32b13add9
                        kind: clientGroup
                        name: m!m-f16c3a13-c1b4-453b-bff1-4607d18436ab!p!p-a53c0b2e1e6b779729257570076303b32b13add9
                        properties:
                          clientsOf:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab/processes/p-a53c0b2e1e6b779729257570076303b32b13add9
                            kind: ref:process
                            name: p-a53c0b2e1e6b779729257570076303b32b13add9
                            properties:
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                kind: ref:machine
                                name: m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                            type: Microsoft.OperationalInsights/workspaces/features/machines/processes
                        type: Microsoft.OperationalInsights/workspaces/features/clientGroups
                    machines:
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-d3641418-6ac8-4024-8074-48f6d9db9825
                        kind: machine
                        name: m-d3641418-6ac8-4024-8074-48f6d9db9825
                        properties:
                          displayName: 192.168.0.1
                          monitoringState: monitored
                          networking:
                            ipv4Interfaces:
                              - ipAddress: 192.168.0.1
                                subnetMask: 255.255.255.255
                          operatingSystem:
                            bitness: 64bit
                            family: linux
                            fullName: Ubuntu Server Linux 10.4.53
                          virtualizationState: unknown
                        type: Microsoft.OperationalInsights/workspaces/features/machines
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                        kind: machine
                        name: m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                        properties:
                          displayName: 192.168.0.2
                          monitoringState: monitored
                          networking:
                            ipv4Interfaces:
                              - ipAddress: 192.168.0.2
                                subnetMask: 255.255.255.255
                          operatingSystem:
                            bitness: 32bit
                            family: windows
                            fullName: Windows 7
                          virtualizationState: unknown
                        type: Microsoft.OperationalInsights/workspaces/features/machines
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-80cf74cb-2828-42be-8eb1-d78fe35c662b
                        kind: machine
                        name: m-80cf74cb-2828-42be-8eb1-d78fe35c662b
                        properties:
                          displayName: 192.168.0.3
                          monitoringState: monitored
                          networking:
                            ipv4Interfaces:
                              - ipAddress: 192.168.0.3
                                subnetMask: 255.255.255.255
                          operatingSystem:
                            bitness: 64bit
                            family: windows
                            fullName: Windows Server 2012 SP2
                          virtualizationState: unknown
                        type: Microsoft.OperationalInsights/workspaces/features/machines
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/t-0a0a0a0a
                        kind: machine
                        name: t-0a0a0a0a
                        properties:
                          displayName: unmonitored.server.com
                          monitoringState: discovered
                          networking:
                            dnsNames:
                              - unmonitored.server.com
                            ipv4Interfaces:
                              - ipAddress: 10.10.10.10
                                subnetMask: 255.255.255.255
                          virtualizationState: unknown
                        type: Microsoft.OperationalInsights/workspaces/features/machines
                    ports:
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab/ports/b-c0a80002_90
                        kind: port
                        name: b-c0a80002_90
                        properties:
                          displayName: :90
                          ipAddress: 192.168.0.2
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                            kind: ref:machine
                            name: m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          monitoringState: monitored
                          portNumber: 90
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-80cf74cb-2828-42be-8eb1-d78fe35c662b/ports/b-c0a80003_80
                        kind: port
                        name: b-c0a80003_80
                        properties:
                          displayName: :80
                          ipAddress: 192.168.0.3
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-80cf74cb-2828-42be-8eb1-d78fe35c662b
                            kind: ref:machine
                            name: m-80cf74cb-2828-42be-8eb1-d78fe35c662b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          monitoringState: monitored
                          portNumber: 80
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/t-0a0a0a0a/ports/b-0a0a0a0a_8880
                        kind: port
                        name: b-0a0a0a0a_8880
                        properties:
                          displayName: :8880
                          ipAddress: 10.10.10.10
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/t-0a0a0a0a
                            kind: ref:machine
                            name: t-0a0a0a0a
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          monitoringState: discovered
                          portNumber: 8880
                        type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                    processes:
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-d3641418-6ac8-4024-8074-48f6d9db9825/processes/p-e12c75e851c715e7e5ee7e889d858cfc3661e91f
                        kind: process
                        name: p-e12c75e851c715e7e5ee7e889d858cfc3661e91f
                        properties:
                          displayName: ???
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-d3641418-6ac8-4024-8074-48f6d9db9825
                            kind: ref:machine
                            name: m-d3641418-6ac8-4024-8074-48f6d9db9825
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          monitoringState: monitored
                        type: Microsoft.OperationalInsights/workspaces/features/machines/processes
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab/processes/p-a53c0b2e1e6b779729257570076303b32b13add9
                        kind: process
                        name: p-a53c0b2e1e6b779729257570076303b32b13add9
                        properties:
                          displayName: Apache HTTP Server
                          executableName: httpd
                          group: Apache HTTP Server
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                            kind: ref:machine
                            name: m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          monitoringState: monitored
                          role: webServer
                        type: Microsoft.OperationalInsights/workspaces/features/machines/processes
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab/processes/p-508565aaf451d5e1e8dbf579493139cd50facb26
                        kind: process
                        name: p-508565aaf451d5e1e8dbf579493139cd50facb26
                        properties:
                          displayName: ???
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                            kind: ref:machine
                            name: m-f16c3a13-c1b4-453b-bff1-4607d18436ab
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          monitoringState: monitored
                        type: Microsoft.OperationalInsights/workspaces/features/machines/processes
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-80cf74cb-2828-42be-8eb1-d78fe35c662b/processes/p-d6e3705d92e552df838f6fe13c72153923fbf3c6
                        kind: process
                        name: p-d6e3705d92e552df838f6fe13c72153923fbf3c6
                        properties:
                          displayName: ???
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-80cf74cb-2828-42be-8eb1-d78fe35c662b
                            kind: ref:machine
                            name: m-80cf74cb-2828-42be-8eb1-d78fe35c662b
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          monitoringState: monitored
                        type: Microsoft.OperationalInsights/workspaces/features/machines/processes
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/t-0a0a0a0a/processes/ts-m@t-0a0a0a0a@b@b-0a0a0a0a_8880
                        kind: process
                        name: ts-m@t-0a0a0a0a@b@b-0a0a0a0a_8880
                        properties:
                          acceptorOf:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/t-0a0a0a0a/ports/b-0a0a0a0a_8880
                            kind: ref:port
                            name: b-0a0a0a0a_8880
                            properties:
                              ipAddress: 10.10.10.10
                              machine:
                                id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/t-0a0a0a0a
                                kind: ref:machine
                                name: t-0a0a0a0a
                                type: Microsoft.OperationalInsights/workspaces/features/machines
                              portNumber: 8880
                            type: Microsoft.OperationalInsights/workspaces/features/machines/ports
                          displayName: Port 8880
                          machine:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/t-0a0a0a0a
                            kind: ref:machine
                            name: t-0a0a0a0a
                            type: Microsoft.OperationalInsights/workspaces/features/machines
                          monitoringState: discovered
                          role: appServer
                        type: Microsoft.OperationalInsights/workspaces/features/machines/processes
                startTime: 2018-01-08T20:00:51.325Z
        SMMapsGenerateMachineListDependencyPost:
          parameters:
            api-version: 2016-08-02
            request:
              endTime: 2018-01-08T20:08:04.78Z
              filterProcesses: false
              kind: map:machine-list-dependency
              machineIds:
                - /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-d60cf4c2-047a-408e-a5ff-cf3d77928c9f
                - /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-52d4f2f9-e684-4003-a774-9cf99898861b
              startTime: 2018-01-08T20:07:49.78Z
            resourceGroupName: rg-sm
            subscriptionId: 63BE4E24-FDF0-4E9C-9342-6A5D5A359722
            workspaceName: D6F79F14-E563-469B-84B5-9286D2803B2F
          responses:
            "200":
              body:
                endTime: 2018-01-08T20:08:04.78Z
                map:
                  edges:
                    acceptors:
                      - id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/acceptors/m@m-ca3ca15a-6fa3-4776-993b-28f95821cc44@b@b-c0a80003_80!m@m-ca3ca15a-6fa3-4776-993b-28f95821cc44@p@p-d6e3705d92e552df838f6fe13c72153923fbf3c6
                        kind: rel:acceptor
                        name: m@m-ca3ca15a-6fa3-4776-993b-28f95821cc44@b@b-c0a80003_80!m@m-ca3ca15a-6fa3-4776-993b-28f95821cc44@p@p-d6e3705d92e552df838f6fe13c72153923fbf3c6
                        properties:
                          destination:
                            id: /subscriptions/63BE4E24-FDF0-4E9C-9342-6A5D5A359722/resourceGroups/rg-sm/providers/Microsoft.OperationalInsights/workspaces/D6F79F14-E563-469B-84B5-9286D2803B2F/machines/m-ca3ca15a-6fa3-4776-993b-28f95821cc44/processes/p-d6e3705d92e552df838f6fe13c72153923fbf3c6
                            kind: ref:process
                            name: p-d6e3705d92e552df838f6fe13c72153923fbf3c6
[...]
