swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: The Admin Storage Management Client.
  title: StorageManagementClient
  version: 2015-12-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/storage/Microsoft.Storage.Admin/preview/2015-12-01/farms.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-farms
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms":
    get:
      description: Returns a list of all storage farms.
      operationId: Farms_List
      parameters:
        - description: Subscription Id.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: REST Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK -- The list of storage farms has been returned.
          schema:
            $ref: "#/definitions/FarmList"
      tags:
        - Farms
      x-ms-examples:
        Returns a list of all storage farms.:
          parameters:
            api-version: 2015-12-01-preview
            resourceGroupName: System.local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af
                    location: local
                    name: 3cf03497-c44a-4e51-a56f-3987d88c70af
                    properties:
                      farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
                      settings:
                        bandwidthThrottleIsEnabled: false
                        corsAllowedOriginsList: https://adminportal.local.azurestack.external/;https://adminportal.local.azurestack.external:12649/;https://portal.local.azurestack.external/;https://portal.local.azurestack.external:12649/
                        dataCenterUriHostSuffixes: local.azurestack.external
                        defaultEgressThresholdInGbps: 3
                        defaultIngressThresholdInGbps: 2
                        defaultIntranetEgressThresholdInGbps: 3
                        defaultIntranetIngressThresholdInGbps: 2
                        defaultRequestThresholdInTps: 200
                        defaultThrottleProbabilityDecayIntervalInSeconds: 240
                        defaultTotalEgressThresholdInGbps: 5
                        defaultTotalIngressThresholdInGbps: 5
                        feedbackRefreshIntervalInSeconds: 10
                        gracePeriodForFullThrottlingInRefreshIntervals: 3
                        gracePeriodMaxThrottleProbability: 0.9
                        hostStyleHttpPort: 0
                        hostStyleHttpsPort: 0
                        minimumEgressThresholdInGbps: 0.0008
                        minimumIngressThresholdInGbps: 0.0008
                        minimumIntranetEgressThresholdInGbps: 0.0008
                        minimumIntranetIngressThresholdInGbps: 0.0008
                        minimumRequestThresholdInTps: 1
                        minimumTotalEgressThresholdInGbps: 0.0008
                        minimumTotalIngressThresholdInGbps: 0.0008
                        numberOfAccountsToSync: 20
                        overallEgressThresholdInGbps: 30
                        overallIngressThresholdInGbps: 25
                        overallIntranetEgressThresholdInGbps: 30
                        overallIntranetIngressThresholdInGbps: 25
                        overallRequestThresholdInTps: 10000
                        overallTotalEgressThresholdInGbps: 50
                        overallTotalIngressThresholdInGbps: 50
                        retentionPeriodForDeletedStorageAccountsInDays: 0
                        settingsPollingIntervalInSecond: 60
                        toleranceFactorForEgress: 2
                        toleranceFactorForIngress: 2
                        toleranceFactorForIntranetEgress: 2
                        toleranceFactorForIntranetIngress: 2
                        toleranceFactorForTotalEgress: 2
                        toleranceFactorForTotalIngress: 2
                        toleranceFactorForTps: 2
                        usageCollectionIntervalInSeconds: 10
                      settingsStore: AzS-ACS01.azurestack.local:19000
                      version: 2015-12-01-preview
                    type: Microsoft.Storage.Admin/farms
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}":
    get:
      description: Returns the Storage properties and settings for a specified storage farm.
      operationId: Farms_Get
      parameters:
        - description: Subscription Id.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Farm Id.
          in: path
          name: farmId
          required: true
          type: string
          x-ms-parameter-location: method
        - description: REST Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK -- The farm has been returned.
          schema:
            $ref: "#/definitions/Farm"
        "404":
          description: NOT FOUND -- The specified farm was not found.
      tags:
        - Farms
      x-ms-examples:
        Returns the Storage properties and settings for a specified storage farm.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af
                location: local
                name: 3cf03497-c44a-4e51-a56f-3987d88c70af
                properties:
                  farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
                  settings:
                    bandwidthThrottleIsEnabled: false
                    corsAllowedOriginsList: https://adminportal.local.azurestack.external/;https://adminportal.local.azurestack.external:12649/;https://portal.local.azurestack.external/;https://portal.local.azurestack.external:12649/
                    dataCenterUriHostSuffixes: local.azurestack.external
                    defaultEgressThresholdInGbps: 3
                    defaultIngressThresholdInGbps: 2
                    defaultIntranetEgressThresholdInGbps: 3
                    defaultIntranetIngressThresholdInGbps: 2
                    defaultRequestThresholdInTps: 200
                    defaultThrottleProbabilityDecayIntervalInSeconds: 240
                    defaultTotalEgressThresholdInGbps: 5
                    defaultTotalIngressThresholdInGbps: 5
                    feedbackRefreshIntervalInSeconds: 10
                    gracePeriodForFullThrottlingInRefreshIntervals: 3
                    gracePeriodMaxThrottleProbability: 0.9
                    hostStyleHttpPort: 0
                    hostStyleHttpsPort: 0
                    minimumEgressThresholdInGbps: 0.0008
                    minimumIngressThresholdInGbps: 0.0008
                    minimumIntranetEgressThresholdInGbps: 0.0008
                    minimumIntranetIngressThresholdInGbps: 0.0008
                    minimumRequestThresholdInTps: 1
                    minimumTotalEgressThresholdInGbps: 0.0008
                    minimumTotalIngressThresholdInGbps: 0.0008
                    numberOfAccountsToSync: 20
                    overallEgressThresholdInGbps: 30
                    overallIngressThresholdInGbps: 25
                    overallIntranetEgressThresholdInGbps: 30
                    overallIntranetIngressThresholdInGbps: 25
                    overallRequestThresholdInTps: 10000
                    overallTotalEgressThresholdInGbps: 50
                    overallTotalIngressThresholdInGbps: 50
                    retentionPeriodForDeletedStorageAccountsInDays: 0
                    settingsPollingIntervalInSecond: 60
                    toleranceFactorForEgress: 2
                    toleranceFactorForIngress: 2
                    toleranceFactorForIntranetEgress: 2
                    toleranceFactorForIntranetIngress: 2
                    toleranceFactorForTotalEgress: 2
                    toleranceFactorForTotalIngress: 2
                    toleranceFactorForTps: 2
                    usageCollectionIntervalInSeconds: 10
                  settingsStore: AzS-ACS01.azurestack.local:19000
                  version: 2015-12-01-preview
                type: Microsoft.Storage.Admin/farms
            "404": {}
    patch:
      description: Update an existing storage farm.
      operationId: Farms_Update
      parameters:
        - description: Subscription Id.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: REST Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Farm Id.
          in: path
          name: farmId
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Farm to update.
          in: body
          name: farmObject
          required: true
          schema:
            $ref: "#/definitions/Farm"
      responses:
        "200":
          description: OK -- The properties and settings of storage farm have been updated.
          schema:
            $ref: "#/definitions/Farm"
      tags:
        - Farms
      x-ms-examples:
        Update an existing storage farm.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            farmObject:
              id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af
              location: local
              name: 3cf03497-c44a-4e51-a56f-3987d88c70af
              properties:
                farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
                settings:
                  bandwidthThrottleIsEnabled: false
                  corsAllowedOriginsList: https://adminportal.local.azurestack.external/;https://adminportal.local.azurestack.external:12649/;https://portal.local.azurestack.external/;https://portal.local.azurestack.external:12649/
                  dataCenterUriHostSuffixes: local.azurestack.external
                  defaultEgressThresholdInGbps: 3
                  defaultIngressThresholdInGbps: 2
                  defaultIntranetEgressThresholdInGbps: 3
                  defaultIntranetIngressThresholdInGbps: 2
                  defaultRequestThresholdInTps: 200
                  defaultThrottleProbabilityDecayIntervalInSeconds: 240
                  defaultTotalEgressThresholdInGbps: 5
                  defaultTotalIngressThresholdInGbps: 5
                  feedbackRefreshIntervalInSeconds: 10
                  gracePeriodForFullThrottlingInRefreshIntervals: 3
                  gracePeriodMaxThrottleProbability: 0.9
                  hostStyleHttpPort: 0
                  hostStyleHttpsPort: 0
                  minimumEgressThresholdInGbps: 0.0008
                  minimumIngressThresholdInGbps: 0.0008
                  minimumIntranetEgressThresholdInGbps: 0.0008
                  minimumIntranetIngressThresholdInGbps: 0.0008
                  minimumRequestThresholdInTps: 1
                  minimumTotalEgressThresholdInGbps: 0.0008
                  minimumTotalIngressThresholdInGbps: 0.0008
                  numberOfAccountsToSync: 20
                  overallEgressThresholdInGbps: 30
                  overallIngressThresholdInGbps: 25
                  overallIntranetEgressThresholdInGbps: 30
                  overallIntranetIngressThresholdInGbps: 25
                  overallRequestThresholdInTps: 10000
                  overallTotalEgressThresholdInGbps: 50
                  overallTotalIngressThresholdInGbps: 50
                  retentionPeriodForDeletedStorageAccountsInDays: 0
                  settingsPollingIntervalInSecond: 60
                  toleranceFactorForEgress: 2
                  toleranceFactorForIngress: 2
                  toleranceFactorForIntranetEgress: 2
                  toleranceFactorForIntranetIngress: 2
                  toleranceFactorForTotalEgress: 2
                  toleranceFactorForTotalIngress: 2
                  toleranceFactorForTps: 2
                  usageCollectionIntervalInSeconds: 10
                settingsStore: AzS-ACS01.azurestack.local:19000
                version: 2015-12-01-preview
              type: Microsoft.Storage.Admin/farms
            resourceGroupName: System.local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af
                location: local
                name: 3cf03497-c44a-4e51-a56f-3987d88c70af
                properties:
                  farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
                  settings:
                    bandwidthThrottleIsEnabled: false
                    corsAllowedOriginsList: https://adminportal.local.azurestack.external/;https://adminportal.local.azurestack.external:12649/;https://portal.local.azurestack.external/;https://portal.local.azurestack.external:12649/
                    dataCenterUriHostSuffixes: local.azurestack.external
                    defaultEgressThresholdInGbps: 3
                    defaultIngressThresholdInGbps: 2
                    defaultIntranetEgressThresholdInGbps: 3
                    defaultIntranetIngressThresholdInGbps: 2
                    defaultRequestThresholdInTps: 200
                    defaultThrottleProbabilityDecayIntervalInSeconds: 240
                    defaultTotalEgressThresholdInGbps: 5
                    defaultTotalIngressThresholdInGbps: 5
                    feedbackRefreshIntervalInSeconds: 10
                    gracePeriodForFullThrottlingInRefreshIntervals: 3
                    gracePeriodMaxThrottleProbability: 0.9
                    hostStyleHttpPort: 0
                    hostStyleHttpsPort: 0
                    minimumEgressThresholdInGbps: 0.0008
                    minimumIngressThresholdInGbps: 0.0008
                    minimumIntranetEgressThresholdInGbps: 0.0008
                    minimumIntranetIngressThresholdInGbps: 0.0008
                    minimumRequestThresholdInTps: 1
                    minimumTotalEgressThresholdInGbps: 0.0008
                    minimumTotalIngressThresholdInGbps: 0.0008
                    numberOfAccountsToSync: 20
                    overallEgressThresholdInGbps: 30
                    overallIngressThresholdInGbps: 25
                    overallIntranetEgressThresholdInGbps: 30
                    overallIntranetIngressThresholdInGbps: 25
                    overallRequestThresholdInTps: 10000
                    overallTotalEgressThresholdInGbps: 50
                    overallTotalIngressThresholdInGbps: 50
                    retentionPeriodForDeletedStorageAccountsInDays: 0
                    settingsPollingIntervalInSecond: 60
                    toleranceFactorForEgress: 2
                    toleranceFactorForIngress: 2
                    toleranceFactorForIntranetEgress: 2
                    toleranceFactorForIntranetIngress: 2
                    toleranceFactorForTotalEgress: 2
                    toleranceFactorForTotalIngress: 2
                    toleranceFactorForTps: 2
                    usageCollectionIntervalInSeconds: 10
                  settingsStore: AzS-ACS01.azurestack.local:19000
                  version: 2015-12-01-preview
                type: Microsoft.Storage.Admin/farms
    put:
      description: Create a new storage farm.
      operationId: Farms_Create
      parameters:
        - description: Subscription Id.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Farm Id.
          in: path
          name: farmId
          required: true
          type: string
          x-ms-parameter-location: method
        - description: REST Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Parameters used to create a farm
          in: body
          name: farmObject
          required: true
          schema:
            $ref: "#/definitions/FarmCreationProperties"
      responses:
        "200":
          description: OK -- The new storage farm has been created.
          schema:
            $ref: "#/definitions/Farm"
      tags:
        - Farms
      x-ms-examples:
        Create a new storage farm.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            farmObject:
              properties:
                settingAccessString: local
            resourceGroupName: System.local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                id: /subscriptions/9ad61516-995c-4873-a21f-7e44904f0ed2/resourceGroups/System.local/providers/Microsoft.Storage.Admin/farms/3cf03497-c44a-4e51-a56f-3987d88c70af
                location: local
                name: 3cf03497-c44a-4e51-a56f-3987d88c70af
                properties:
                  farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
                  settings:
                    bandwidthThrottleIsEnabled: false
                    corsAllowedOriginsList: https://adminportal.local.azurestack.external/;https://adminportal.local.azurestack.external:12649/;https://portal.local.azurestack.external/;https://portal.local.azurestack.external:12649/
                    dataCenterUriHostSuffixes: local.azurestack.external
                    defaultEgressThresholdInGbps: 3
                    defaultIngressThresholdInGbps: 2
                    defaultIntranetEgressThresholdInGbps: 3
                    defaultIntranetIngressThresholdInGbps: 2
                    defaultRequestThresholdInTps: 200
                    defaultThrottleProbabilityDecayIntervalInSeconds: 240
                    defaultTotalEgressThresholdInGbps: 5
                    defaultTotalIngressThresholdInGbps: 5
                    feedbackRefreshIntervalInSeconds: 10
                    gracePeriodForFullThrottlingInRefreshIntervals: 3
                    gracePeriodMaxThrottleProbability: 0.9
                    hostStyleHttpPort: 0
                    hostStyleHttpsPort: 0
                    minimumEgressThresholdInGbps: 0.0008
                    minimumIngressThresholdInGbps: 0.0008
                    minimumIntranetEgressThresholdInGbps: 0.0008
                    minimumIntranetIngressThresholdInGbps: 0.0008
                    minimumRequestThresholdInTps: 1
                    minimumTotalEgressThresholdInGbps: 0.0008
                    minimumTotalIngressThresholdInGbps: 0.0008
                    numberOfAccountsToSync: 20
                    overallEgressThresholdInGbps: 30
                    overallIngressThresholdInGbps: 25
                    overallIntranetEgressThresholdInGbps: 30
                    overallIntranetIngressThresholdInGbps: 25
                    overallRequestThresholdInTps: 10000
                    overallTotalEgressThresholdInGbps: 50
                    overallTotalIngressThresholdInGbps: 50
                    retentionPeriodForDeletedStorageAccountsInDays: 0
                    settingsPollingIntervalInSecond: 60
                    toleranceFactorForEgress: 2
                    toleranceFactorForIngress: 2
                    toleranceFactorForIntranetEgress: 2
                    toleranceFactorForIntranetIngress: 2
                    toleranceFactorForTotalEgress: 2
                    toleranceFactorForTotalIngress: 2
                    toleranceFactorForTps: 2
                    usageCollectionIntervalInSeconds: 10
                  settingsStore: AzS-ACS01.azurestack.local:19000
                  version: 2015-12-01-preview
                type: Microsoft.Storage.Admin/farms
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/metricdefinitions":
    get:
      description: Returns a list of metric definitions for a storage farm.
      operationId: Farms_ListMetricDefinitions
      parameters:
        - description: Subscription Id.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Farm Id.
          in: path
          name: farmId
          required: true
          type: string
          x-ms-parameter-location: method
        - description: REST Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK -- The list of metric definitions has been returned.
          schema:
            description: Pageable list of metric definitions.
            properties:
              nextLink:
                description: URI to the next page.
                readOnly: true
                type: string
              value:
                description: List of metric definitions.
                items:
                  description: Metric definition.
                  properties:
                    metricAvailabilities:
                      description: Metric availabilities.
                      items:
                        description: Metric availability.
                        properties:
                          retention:
                            description: Retention of metric.
                            type: string
                          timeGrain:
                            description: Time grain.
                            type: string
                        type: object
                      readOnly: true
                      type: array
                    name:
                      description: Localizable string.
                      properties:
                        localizedValue:
                          description: Localized value of the string.
                          type: string
                        value:
                          description: Value of the string.
                          type: string
                      type: object
                    primaryAggregationType:
                      description: Aggregate type.
                      enum:
                        - None
                        - Average
                        - Total
                        - Minimum
                        - Maximum
                        - Last
                      readOnly: true
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: AggregateType
                    unit:
                      description: Metric unit.
                      enum:
                        - Count
                        - Bytes
                        - Seconds
                        - CountPerSecond
                        - BytesPerSecond
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: MetricUnit
                  type: object
                readOnly: true
                type: array
            type: object
        "404":
          description: NOT FOUND -- The specified farm was not found.
      tags:
        - Farms
      x-ms-examples:
        Returns a list of metric definitions for a storage farm.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                value:
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Processor time percentage
                      value: ProcessorTime
                    primaryAggregationType: Average
                    unit: Count
                  - metricAvailabilities:
                      - retention: P10D
                        timeGrain: PT1M
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Available memory
                      value: AvailableMemory
                    primaryAggregationType: Average
                    unit: Count
                  - metricAvailabilities:
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Total Capacity
                      value: TotalCapacity
                    primaryAggregationType: Average
                    unit: Count
                  - metricAvailabilities:
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Used Capacity
                      value: UsedCapacity
                    primaryAggregationType: Average
                    unit: Count
                  - metricAvailabilities:
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Free Space
                      value: FreeSpace
                    primaryAggregationType: Average
                    unit: Count
                  - metricAvailabilities:
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Used Capacity Percentage
                      value: "UsedCapacityPercentage "
                    primaryAggregationType: Average
                    unit: Count
                  - metricAvailabilities:
                      - retention: P30D
                        timeGrain: PT1H
                      - retention: P60D
                        timeGrain: P1D
                    name:
                      localizedValue: Free Space Percentage
                      value: "FreeSpacePercentage "
                    primaryAggregationType: Average
                    unit: Count
            "404": {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/metrics":
    get:
      description: Returns a list of storage farm metrics.
      operationId: Farms_ListMetrics
      parameters:
        - description: Subscription Id.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Farm Id.
          in: path
          name: farmId
          required: true
          type: string
          x-ms-parameter-location: method
        - description: REST Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK -- The list of metrics has been returned.
          schema:
            description: Pageable list of metrics.
            properties:
              nextLink:
                description: URI to the next page.
                readOnly: true
                type: string
              value:
                description: List of metrics.
                items:
                  description: Metric information.
                  properties:
                    endTime:
                      description: Metric end time.
                      format: date-time
                      readOnly: true
                      type: string
                    metricUnit:
                      description: Metric unit.
                      enum:
                        - Count
                        - Bytes
                        - Seconds
                        - CountPerSecond
                        - BytesPerSecond
                      type: string
                      x-ms-enum:
                        modelAsString: true
                        name: MetricUnit
                    metricValues:
                      description: List of metric values.
                      items:
                        description: Metric value.
                        properties:
                          average:
                            description: Average value of metric.
                            format: float
                            readOnly: true
                            type: number
                          count:
                            description: Count of metric values.
                            format: int32
                            readOnly: true
                            type: integer
                          maximum:
                            description: Maximum value of metric.
                            format: float
                            readOnly: true
                            type: number
                          minimum:
                            description: Minimum value of metric.
                            format: float
                            readOnly: true
                            type: number
                          properties:
                            description: Metric value properties.
                            readOnly: true
                            type: string
                          timeStamp:
                            description: Timestamp of metric value.
                            format: date-time
                            readOnly: true
                            type: string
                          total:
                            description: Total value of metric.
                            format: float
                            readOnly: true
                            type: number
                      readOnly: true
                      type: array
                    name:
                      description: Localizable string.
                      properties:
                        localizedValue:
                          description: Localized value of the string.
                          type: string
                        value:
                          description: Value of the string.
                          type: string
                      type: object
                    startTime:
                      description: Metric start time.
                      format: date-time
                      readOnly: true
                      type: string
                    timeGrain:
                      description: Metric time grain.
                      readOnly: true
                      type: string
                  type: object
                readOnly: true
                type: array
            type: object
        "404":
          description: NOT FOUND -- The specified farm was not found.
      tags:
        - Farms
      x-ms-examples:
        Returns a list of storage farm metrics.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body:
                value:
                  - endTime: 2018-01-30T19:31:03.1837713Z
                    metricUnit: Count
                    metricValues: []
                    name:
                      localizedValue: Processor time percentage
                      value: ProcessorTime
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:03.1837713Z
                    metricUnit: Count
                    metricValues: []
                    name:
                      localizedValue: Available memory
                      value: AvailableMemory
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:03.1837713Z
                    metricUnit: Count
                    metricValues:
                      - average: 2728176648192
                        timeStamp: 2018-01-29T00:00:00Z
                      - average: 2728176648192
                        timeStamp: 2018-01-28T00:00:00Z
                      - average: 2728176648192
                        timeStamp: 2018-01-27T00:00:00Z
                      - average: 2728176648192
                        timeStamp: 2018-01-26T00:00:00Z
                      - average: 2728176648192
                        timeStamp: 2018-01-25T00:00:00Z
                      - average: 2728176648192
                        timeStamp: 2018-01-24T00:00:00Z
                      - average: 2728176648192
                        timeStamp: 2018-01-23T00:00:00Z
                    name:
                      localizedValue: Total Capacity
                      value: TotalCapacity
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:03.1837713Z
                    metricUnit: Count
                    metricValues:
                      - average: 389873692672
                        timeStamp: 2018-01-29T00:00:00Z
                      - average: 379637998762.6667
                        timeStamp: 2018-01-28T00:00:00Z
                      - average: 369550244352
                        timeStamp: 2018-01-27T00:00:00Z
                      - average: 359099803818.6667
                        timeStamp: 2018-01-26T00:00:00Z
                      - average: 348343386965.3333
                        timeStamp: 2018-01-25T00:00:00Z
                      - average: 338910678186.6667
                        timeStamp: 2018-01-24T00:00:00Z
                      - average: 330334962346.6667
                        timeStamp: 2018-01-23T00:00:00Z
                    name:
                      localizedValue: Used Capacity
                      value: UsedCapacity
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:03.1837713Z
                    metricUnit: Count
                    metricValues:
                      - average: 2338302955520
                        timeStamp: 2018-01-29T00:00:00Z
                      - average: 2348538649429.3335
                        timeStamp: 2018-01-28T00:00:00Z
                      - average: 2358626403840
                        timeStamp: 2018-01-27T00:00:00Z
                      - average: 2369076844373.3335
                        timeStamp: 2018-01-26T00:00:00Z
                      - average: 2379833261226.6665
                        timeStamp: 2018-01-25T00:00:00Z
                      - average: 2389265970005.3335
                        timeStamp: 2018-01-24T00:00:00Z
                      - average: 2397841685845.3335
                        timeStamp: 2018-01-23T00:00:00Z
                    name:
                      localizedValue: Free Space
                      value: FreeSpace
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:03.1837713Z
                    metricUnit: Count
                    metricValues:
                      - average: 0.1429063227743609
                        timeStamp: 2018-01-29T00:00:00Z
                      - average: 0.139154478510128
                        timeStamp: 2018-01-28T00:00:00Z
                      - average: 0.13545686075603133
                        timeStamp: 2018-01-27T00:00:00Z
                      - average: 0.13162630215189586
                        timeStamp: 2018-01-26T00:00:00Z
                      - average: 0.12768358940253569
                        timeStamp: 2018-01-25T00:00:00Z
                      - average: 0.1242260754673886
                        timeStamp: 2018-01-24T00:00:00Z
                      - average: 0.12108268816302059
                        timeStamp: 2018-01-23T00:00:00Z
                    name:
                      localizedValue: Used Capacity Percentage
                      value: "UsedCapacityPercentage "
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
                  - endTime: 2018-01-30T19:31:03.1837713Z
                    metricUnit: Count
                    metricValues:
                      - average: 0.857093677225639
                        timeStamp: 2018-01-29T00:00:00Z
                      - average: 0.8608455214898721
                        timeStamp: 2018-01-28T00:00:00Z
                      - average: 0.8645431392439686
                        timeStamp: 2018-01-27T00:00:00Z
                      - average: 0.8683736978481039
                        timeStamp: 2018-01-26T00:00:00Z
                      - average: 0.8723164105974645
                        timeStamp: 2018-01-25T00:00:00Z
                      - average: 0.8757739245326116
                        timeStamp: 2018-01-24T00:00:00Z
                      - average: 0.8789173118369794
                        timeStamp: 2018-01-23T00:00:00Z
                    name:
                      localizedValue: Free Space Percentage
                      value: "FreeSpacePercentage "
                    startTime: 2018-01-23T00:00:00Z
                    timeGrain: P1D
            "404": {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/ondemandgc":
    post:
      description: Start garbage collection on deleted storage objects.
      operationId: Farms_StartGarbageCollection
      parameters:
        - description: Subscription Id.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Farm Id.
          in: path
          name: farmId
          required: true
          type: string
          x-ms-parameter-location: method
        - description: REST Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK -- Garbage collection has completed.
        "202":
          description: ACCEPTED -- Garbage collection has started.
      tags:
        - Farms
      x-ms-examples:
        Start garbage collection on deleted storage objects.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            resourceGroupName: System.local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage.Admin/farms/{farmId}/operationresults/{operationId}":
    get:
      description: Returns the state of the garbage collection job.
      operationId: Farms_GetGarbageCollectionState
      parameters:
        - description: Subscription Id.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Farm Id.
          in: path
          name: farmId
          required: true
          type: string
          x-ms-parameter-location: method
        - description: REST Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: Operation Id.
          in: path
          name: operationId
          required: true
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK -- The state of garbage collection has been returned.
          schema:
            type: string
        "404":
          description: NOT FOUND -- The specified farm or garbage collection job can not be found.
      tags:
        - GC
      x-ms-examples:
        Returns the state of the garbage collection job.:
          parameters:
            api-version: 2015-12-01-preview
            farmId: 3cf03497-c44a-4e51-a56f-3987d88c70af
            operationId: 5ad334a7-4f51-141a-b52f-39a7df8d7033
            resourceGroupName: System.local
            subscriptionId: 9ad61516-995c-4873-a21f-7e44904f0ed2
          responses:
            "200":
              body: Failed?
            "404": {}
definitions:
  Farm:
    allOf:
      - description: Base resource object.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource Name.
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            type: string
        type: object
        x-ms-azure-resource: true
    description: Storage farm.
    properties:
      properties:
        $ref: "#/definitions/FarmProperties"
        description: Storage farm properties.
        x-ms-client-flatten: true
    type: object
  FarmCreationProperties:
    allOf:
      - description: Base resource object.
        properties:
          id:
            description: Resource ID.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource Name.
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            type: string
        type: object
        x-ms-azure-resource: true
    description: Storage farm properties.
    properties:
      properties:
        $ref: "#/definitions/SettingAccessString"
        description: Storage farm properties.
        x-ms-client-flatten: true
    type: object
  FarmList:
    description: Pageable list of storage farms.
    properties:
      nextLink:
        description: URI to the next page.
        readOnly: true
        type: string
      value:
        description: List of storage farms.
        items:
          $ref: "#/definitions/Farm"
        type: array
    type: object
  FarmProperties:
    description: The properties of storage farm.
    properties:
      farmId:
        description: Farm identifier.
        type: string
      settings:
        $ref: "#/definitions/FarmSettings"
        description: The properties of storage farm.
        x-ms-client-flatten: true
      settingsStore:
        description: The settings of storage farm.
        type: string
      version:
        description: Resource version.
        type: string
    type: object
  FarmSettings:
    description: Storage farm settings.
    properties:
      bandwidthThrottleIsEnabled:
        description: Switch of bandwidth throttle enablement.
        type: boolean
      corsAllowedOriginsList:
        description: The list of allowed origins.
        type: string
      dataCenterUriHostSuffixes:
        description: The suffixes of URI of hosts in data center.
        type: string
      defaultEgressThresholdInGbps:
        description: Default egress threshold (in Gbps).
        format: float
        type: number
      defaultIngressThresholdInGbps:
        description: Default ingress threshold (in Gbps).
        format: float
        type: number
      defaultIntranetEgressThresholdInGbps:
        description: Default Intranet egress threshold (in Gbps).
        format: float
        type: number
      defaultIntranetIngressThresholdInGbps:
        description: Default Intranet ingress threshold (in Gbps).
        format: float
        type: number
      defaultRequestThresholdInTps:
        description: Default request threshold (in TPS).
        format: float
        type: number
      defaultThrottleProbabilityDecayIntervalInSeconds:
        description: Interval (in seconds) of default throttle probability decay.
        format: int32
        type: integer
      defaultTotalEgressThresholdInGbps:
        description: Default total egress threshold (in Gbps).
        format: float
        type: number
      defaultTotalIngressThresholdInGbps:
        description: Default total ingress threshold (in Gbps).
        format: float
        type: number
      feedbackRefreshIntervalInSeconds:
        description: Interval (in seconds) of feedback refresh.
        format: int32
        type: integer
      gracePeriodForFullThrottlingInRefreshIntervals:
        description: Grace period for full throttling in refresh intervals.
        format: int32
        type: integer
      gracePeriodMaxThrottleProbability:
        description: Maximum probability of throttle in grace period.
        format: float
        type: number
      hostStyleHttpPort:
        description: Host style HTTP port.
        format: int32
        type: integer
      hostStyleHttpsPort:
        description: Host style HTTPs port.
        format: int32
        type: integer
      minimumEgressThresholdInGbps:
        description: Minimum egress threshold (in Gbps).
        format: float
        type: number
      minimumIngressThresholdInGbps:
        description: Minimum ingress threshold (in Gbps).
        format: float
        type: number
      minimumIntranetEgressThresholdInGbps:
        description: Minimum Intranet egress threshold (in Gbps).
        format: float
        type: number
      minimumIntranetIngressThresholdInGbps:
        description: Minimum Intranet ingress threshold (in Gbps).
        format: float
        type: number
      minimumRequestThresholdInTps:
        description: Minimum request threshold (in TPS).
        format: float
        type: number
      minimumTotalEgressThresholdInGbps:
        description: Minimum total egress threshold (in Gbp
        format: float
        type: number
      minimumTotalIngressThresholdInGbps:
        description: Minimum total ingress threshold (in Gbps).
        format: float
        type: number
      numberOfAccountsToSync:
        description: Number of accounts to sync.
        format: int32
        type: integer
      overallEgressThresholdInGbps:
        description: Overall egress threshold (in Gbps).
        format: float
        type: number
      overallIngressThresholdInGbps:
        description: Overall ingress threshold (in Gbps)
        format: float
        type: number
      overallIntranetEgressThresholdInGbps:
        description: Overall Intranet egress threshold (in Gbps).
        format: float
        type: number
      overallIntranetIngressThresholdInGbps:
        description: Overall Intranet ingress threshold (in Gbps).
        format: float
        type: number
      overallRequestThresholdInTps:
        description: Overall request threshold (in TPS).
        format: float
        type: number
      overallTotalEgressThresholdInGbps:
        description: Overall total egress threshold (in Gbps).
        format: float
        type: number
      overallTotalIngressThresholdInGbps:
        description: Overall total ingress threshold (in Gbps).
        format: float
        type: number
      retentionPeriodForDeletedStorageAccountsInDays:
        description: The retention period (in days) for deleted storage account.
        format: int32
        type: integer
      settingsPollingIntervalInSecond:
        description: The polling interval (in second).
        format: int32
        type: integer
      toleranceFactorForEgress:
        description: Tolerance factor for egress.
        format: float
        type: number
      toleranceFactorForIngress:
        description: Tolerance factor for ingress.
        format: float
        type: number
      toleranceFactorForIntranetEgress:
        description: Tolerance factor for Intranet egress.
        format: float
        type: number
      toleranceFactorForIntranetIngress:
        description: Tolerance factor for Intranet ingress.
        format: float
        type: number
      toleranceFactorForTotalEgress:
        description: Tolerance factor for total egress.
        format: float
        type: number
      toleranceFactorForTotalIngress:
        description: Tolerance factor for total ingress.
        format: float
        type: number
      toleranceFactorForTps:
        description: Tolerance factor for TPS.
        format: float
        type: number
      usageCollectionIntervalInSeconds:
        description: Interval (in seconds) of storage usage collection.
        format: int32
        type: integer
    type: object
  SettingAccessString:
    description: Setting access string.
    properties:
      settingAccessString:
        description: Setting access string.
        type: string
    type: object
