openapi: 3.0.0
servers:
  - url: https://www.googleapis.com/adexchangebuyer/v1.3
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Accesses your bidding-account information, submits creatives for validation, finds available direct deals, and retrieves performance reports.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Ad Exchange Buyer API
  version: v1.3
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: google
      url: https://www.googleapis.com/discovery/v1/apis/adexchangebuyer/v1.3/rest
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: adexchangebuyer
externalDocs:
  url: https://developers.google.com/ad-exchange/buyer-rest
tags:
  - name: accounts
  - name: billingInfo
  - name: budget
  - name: creatives
  - name: directDeals
  - name: performanceReport
  - name: pretargetingConfig
paths:
  /accounts:
    get:
      description: Retrieves the authenticated user's list of accounts.
      operationId: adexchangebuyer.accounts.list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountsList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/accounts/{id}":
    get:
      description: Gets one account by ID.
      operationId: adexchangebuyer.accounts.get
      parameters:
        - description: The account id
          in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Updates an existing account. This method supports patch semantics.
      operationId: adexchangebuyer.accounts.patch
      parameters:
        - description: The account id
          in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Account"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - accounts
    put:
      description: Updates an existing account.
      operationId: adexchangebuyer.accounts.update
      parameters:
        - description: The account id
          in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Account"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - accounts
  /billinginfo:
    get:
      description: Retrieves a list of billing information for all accounts of the authenticated user.
      operationId: adexchangebuyer.billingInfo.list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingInfoList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - billingInfo
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/billinginfo/{accountId}":
    get:
      description: Returns the billing information for one account specified by account ID.
      operationId: adexchangebuyer.billingInfo.get
      parameters:
        - description: The account id.
          in: path
          name: accountId
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingInfo"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - billingInfo
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/billinginfo/{accountId}/{billingId}":
    get:
      description: Returns the budget information for the adgroup specified by the accountId and billingId.
      operationId: adexchangebuyer.budget.get
      parameters:
        - description: The account id to get the budget information for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The billing id to get the budget information for.
          in: path
          name: billingId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Budget"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - budget
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Updates the budget amount for the budget of the adgroup specified by the accountId and billingId, with the budget amount in the request. This method supports patch semantics.
      operationId: adexchangebuyer.budget.patch
      parameters:
        - description: The account id associated with the budget being updated.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The billing id associated with the budget being updated.
          in: path
          name: billingId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Budget"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Budget"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - budget
    put:
      description: Updates the budget amount for the budget of the adgroup specified by the accountId and billingId, with the budget amount in the request.
      operationId: adexchangebuyer.budget.update
      parameters:
        - description: The account id associated with the budget being updated.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The billing id associated with the budget being updated.
          in: path
          name: billingId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Budget"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Budget"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - budget
  /creatives:
    get:
      description: Retrieves a list of the authenticated user's active creatives. A creative will be available 30-40 minutes after submission.
      operationId: adexchangebuyer.creatives.list
      parameters:
        - description: When specified, only creatives for the given account ids are returned.
          explode: true
          in: query
          name: accountId
          schema:
            items:
              type: integer
            type: array
          style: form
        - description: When specified, only creatives for the given buyer creative ids are returned.
          explode: true
          in: query
          name: buyerCreativeId
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Maximum number of entries returned on one result page. If not set, the default is 100. Optional.
          in: query
          name: maxResults
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response. Optional.
          in: query
          name: pageToken
          schema:
            type: string
        - description: When specified, only creatives having the given status are returned.
          in: query
          name: statusFilter
          schema:
            enum:
              - approved
              - disapproved
              - not_checked
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreativesList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - creatives
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Submit a new creative.
      operationId: adexchangebuyer.creatives.insert
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Creative"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Creative"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - creatives
  "/creatives/{accountId}/{buyerCreativeId}":
    get:
      description: Gets the status for a single creative. A creative will be available 30-40 minutes after submission.
      operationId: adexchangebuyer.creatives.get
      parameters:
        - description: The id for the account that will serve this creative.
          in: path
          name: accountId
          required: true
          schema:
            type: integer
        - description: The buyer-specific id for this creative.
          in: path
          name: buyerCreativeId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Creative"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - creatives
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  /directdeals:
    get:
      description: Retrieves the authenticated user's list of direct deals.
      operationId: adexchangebuyer.directDeals.list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectDealsList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - directDeals
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/directdeals/{id}":
    get:
      description: Gets one direct deal by ID.
      operationId: adexchangebuyer.directDeals.get
      parameters:
        - description: The direct deal id
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DirectDeal"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - directDeals
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  /performancereport:
    get:
      description: Retrieves the authenticated user's list of performance metrics.
      operationId: adexchangebuyer.performanceReport.list
      parameters:
        - description: The account id to get the reports.
          in: query
          name: accountId
          required: true
          schema:
            type: string
        - description: The end time of the report in ISO 8601 timestamp format using UTC.
          in: query
          name: endDateTime
          required: true
          schema:
            type: string
        - description: The start time of the report in ISO 8601 timestamp format using UTC.
          in: query
          name: startDateTime
          required: true
          schema:
            type: string
        - description: Maximum number of entries returned on one result page. If not set, the default is 100. Optional.
          in: query
          name: maxResults
          schema:
            maximum: 1000
            minimum: 1
            type: integer
        - description: A continuation token, used to page through performance reports. To retrieve the next page, set this parameter to the value of "nextPageToken" from the previous response. Optional.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PerformanceReportList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - performanceReport
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
  "/pretargetingconfigs/{accountId}":
    get:
      description: Retrieves a list of the authenticated user's pretargeting configurations.
      operationId: adexchangebuyer.pretargetingConfig.list
      parameters:
        - description: The account id to get the pretargeting configs for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PretargetingConfigList"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - pretargetingConfig
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    post:
      description: Inserts a new pretargeting configuration.
      operationId: adexchangebuyer.pretargetingConfig.insert
      parameters:
        - description: The account id to insert the pretargeting config for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PretargetingConfig"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PretargetingConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - pretargetingConfig
  "/pretargetingconfigs/{accountId}/{configId}":
    delete:
      description: Deletes an existing pretargeting config.
      operationId: adexchangebuyer.pretargetingConfig.delete
      parameters:
        - description: The account id to delete the pretargeting config for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The specific id of the configuration to delete.
          in: path
          name: configId
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - pretargetingConfig
    get:
      description: Gets a specific pretargeting configuration
      operationId: adexchangebuyer.pretargetingConfig.get
      parameters:
        - description: The account id to get the pretargeting config for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The specific id of the configuration to retrieve.
          in: path
          name: configId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PretargetingConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - pretargetingConfig
    parameters:
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/userIp"
    patch:
      description: Updates an existing pretargeting config. This method supports patch semantics.
      operationId: adexchangebuyer.pretargetingConfig.patch
      parameters:
        - description: The account id to update the pretargeting config for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The specific id of the configuration to update.
          in: path
          name: configId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PretargetingConfig"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PretargetingConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - pretargetingConfig
    put:
      description: Updates an existing pretargeting config.
      operationId: adexchangebuyer.pretargetingConfig.update
      parameters:
        - description: The account id to update the pretargeting config for.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The specific id of the configuration to update.
          in: path
          name: configId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PretargetingConfig"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PretargetingConfig"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/adexchange.buyer
          Oauth2c:
            - https://www.googleapis.com/auth/adexchange.buyer
      tags:
        - pretargetingConfig
components:
  parameters:
    alt:
      description: Data format for the response.
      in: query
      name: alt
      schema:
        enum:
          - json
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    userIp:
      description: Deprecated. Please use quotaUser instead.
      in: query
      name: userIp
      schema:
        type: string
  schemas:
    Account:
      description: Configuration data for an Ad Exchange buyer account.
      properties:
        bidderLocation:
          description: Your bidder locations that have distinct URLs.
          items:
            properties:
              maximumQps:
                description: The maximum queries per second the Ad Exchange will send.
                format: int32
                type: integer
              region:
                description: |-
                  The geographical region the Ad Exchange should send requests from. Only used by some quota systems, but always setting the value is recommended. Allowed values:  
                  - ASIA 
                  - EUROPE 
                  - US_EAST 
                  - US_WEST
                type: string
              url:
                description: The URL to which the Ad Exchange will send bid requests.
                type: string
            type: object
          type: array
        cookieMatchingNid:
          description: The nid parameter value used in cookie match requests. Please contact your technical account manager if you need to change this.
          type: string
        cookieMatchingUrl:
          description: The base URL used in cookie match requests.
          type: string
        id:
          description: Account id.
          format: int32
          type: integer
        kind:
          default: adexchangebuyer#account
          description: Resource type.
          type: string
        maximumActiveCreatives:
          description: The maximum number of active creatives that an account can have, where a creative is active if it was inserted or bid with in the last 30 days. Please contact your technical account manager if you need to change this.
          format: int32
          type: integer
        maximumTotalQps:
          description: The sum of all bidderLocation.maximumQps values cannot exceed this. Please contact your technical account manager if you need to change this.
          format: int32
          type: integer
        numberActiveCreatives:
          description: The number of creatives that this account inserted or bid with in the last 30 days.
          format: int32
          type: integer
      type: object
    AccountsList:
      description: An account feed lists Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single buyer account.
      properties:
        items:
          description: A list of accounts.
          items:
            $ref: "#/components/schemas/Account"
          type: array
        kind:
          default: adexchangebuyer#accountsList
          description: Resource type.
          type: string
      type: object
    BillingInfo:
      description: The configuration data for an Ad Exchange billing info.
      properties:
        accountId:
          description: Account id.
          format: int32
          type: integer
        accountName:
          description: Account name.
          type: string
        billingId:
          description: A list of adgroup IDs associated with this particular account. These IDs may show up as part of a realtime bidding BidRequest, which indicates a bid request for this account.
          items:
            type: string
          type: array
        kind:
          default: adexchangebuyer#billingInfo
          description: Resource type.
          type: string
      type: object
    BillingInfoList:
      description: A billing info feed lists Billing Info the Ad Exchange buyer account has access to. Each entry in the feed corresponds to a single billing info.
      properties:
        items:
          description: A list of billing info relevant for your account.
          items:
            $ref: "#/components/schemas/BillingInfo"
          type: array
        kind:
          default: adexchangebuyer#billingInfoList
          description: Resource type.
          type: string
      type: object
    Budget:
      description: The configuration data for Ad Exchange RTB - Budget API.
      properties:
        accountId:
          description: The id of the account. This is required for get and update requests.
          format: int64
          type: string
        billingId:
          description: The billing id to determine which adgroup to provide budget information for. This is required for get and update requests.
          format: int64
          type: string
        budgetAmount:
          description: The daily budget amount in unit amount of the account currency to apply for the billingId provided. This is required for update requests.
          format: int64
          type: string
        currencyCode:
          description: The currency code for the buyer. This cannot be altered here.
          type: string
        id:
          description: The unique id that describes this item.
          type: string
        kind:
          default: adexchangebuyer#budget
          description: The kind of the resource, i.e. "adexchangebuyer#budget".
          type: string
      type: object
    Creative:
      description: A creative and its classification data.
      properties:
        HTMLSnippet:
          description: The HTML snippet that displays the ad when inserted in the web page. If set, videoURL should not be set.
          type: string
        accountId:
          description: Account id.
          format: int32
          type: integer
        adTechnologyProviders:
          properties:
            detectedProviderIds:
              description: The detected ad technology provider IDs for this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv for mapping of provider ID to provided name, a privacy policy URL, and a list of domains which can be attributed to the provider. If this creative contains provider IDs that are outside of those listed in the `BidRequest.adslot.consented_providers_settings.consented_providers` field on the  Authorized Buyers Real-Time Bidding protocol or the `BidRequest.user.ext.consented_providers_settings.consented_providers` field on the OpenRTB protocol, a bid submitted for a European Economic Area (EEA) user with this creative is not compliant with the GDPR policies as mentioned in the "Third-party Ad Technology Vendors" section of Authorized Buyers Program Guidelines.
              items:
                format: int64
                type: string
              type: array
            hasUnidentifiedProvider:
              description: Whether the creative contains an unidentified ad technology provider. If true, a bid submitted for a European Economic Area (EEA) user with this creative is not compliant with the GDPR policies as mentioned in the "Third-party Ad Technology Vendors" section of Authorized Buyers Program Guidelines.
              type: boolean
          type: object
        advertiserId:
          description: Detected advertiser id, if any. Read-only. This field should not be set in requests.
          items:
            format: int64
            type: string
          type: array
        advertiserName:
          description: The name of the company being advertised in the creative.
          type: string
        agencyId:
          description: The agency id for this creative.
          format: int64
          type: string
        apiUploadTimestamp:
          description: The last upload timestamp of this creative if it was uploaded via API. Read-only. The value of this field is generated, and will be ignored for uploads. (formatted RFC 3339 timestamp).
          format: date-time
          type: string
        attribute:
          description: All attributes for the ads that may be shown from this snippet.
          items:
            format: int32
            type: integer
          type: array
        buyerCreativeId:
          description: A buyer-specific id identifying the creative in this ad.
          type: string
        clickThroughUrl:
          description: The set of destination urls for the snippet.
          items:
            type: string
          type: array
        corrections:
          description: Shows any corrections that were applied to this creative. Read-only. This field should not be set in requests.
          items:
            properties:
              details:
                description: Additional details about the correction.
                items:
                  type: string
                type: array
              reason:
                description: The type of correction that was applied to the creative.
                type: string
            type: object
          type: array
        disapprovalReasons:
          description: The reasons for disapproval, if any. Note that not all disapproval reasons may be categorized, so it is possible for the creative to have a status of DISAPPROVED with an empty list for disapproval_reasons. In this case, please reach out to your TAM to help debug the issue. Read-only. This field should not be set in requests.
          items:
            properties:
              details:
                description: Additional details about the reason for disapproval.
                items:
                  type: string
                type: array
              reason:
                description: The categorized reason for disapproval.
                type: string
            type: object
          type: array
        filteringReasons:
          description: The filtering reasons for the creative. Read-only. This field should not be set in requests.
          properties:
            date:
              description: The date in ISO 8601 format for the data. The data is collected from 00:00:00 to 23:59:59 in PST.
              type: string
            reasons:
              description: The filtering reasons.
              items:
                properties:
                  filteringCount:
                    description: The number of times the creative was filtered for the status. The count is aggregated across all publishers on the exchange.
                    format: int64
                    type: string
                  filteringStatus:
                    description: The filtering status code. Please refer to the creative-status-codes.txt file for different statuses.
                    format: int32
                    type: integer
                type: object
              type: array
          type: object
        height:
          description: Ad height.
          format: int32
          type: integer
        impressionTrackingUrl:
          description: The set of urls to be called to record an impression.
          items:
            type: string
          type: array
        kind:
          default: adexchangebuyer#creative
          description: Resource type.
          type: string
        nativeAd:
          description: If nativeAd is set, HTMLSnippet and videoURL should not be set.
          properties:
            advertiser:
              type: string
            appIcon:
              description: The app icon, for app download ads.
              properties:
                height:
                  format: int32
                  type: integer
                url:
                  type: string
                width:
                  format: int32
                  type: integer
              type: object
            body:
              description: A long description of the ad.
              type: string
            callToAction:
              description: A label for the button that the user is supposed to click.
              type: string
            clickTrackingUrl:
              description: The URL to use for click tracking.
              type: string
            headline:
              description: A short title for the ad.
              type: string
            image:
              description: A large image.
              properties:
                height:
                  format: int32
                  type: integer
                url:
                  type: string
                width:
                  format: int32
                  type: integer
              type: object
            impressionTrackingUrl:
              description: The URLs are called when the impression is rendered.
              items:
                type: string
              type: array
            logo:
              description: A smaller image, for the advertiser logo.
              properties:
                height:
                  format: int32
                  type: integer
                url:
                  type: string
                width:
                  format: int32
                  type: integer
              type: object
            price:
              description: The price of the promoted app including the currency info.
              type: string
            starRating:
              description: The app rating in the app store. Must be in the range [0-5].
              format: double
              type: number
          type: object
        productCategories:
          description: Detected product categories, if any. Read-only. This field should not be set in requests.
          items:
            format: int32
            type: integer
          type: array
        restrictedCategories:
          description: All restricted categories for the ads that may be shown from this snippet.
          items:
            format: int32
            type: integer
          type: array
        sensitiveCategories:
          description: Detected sensitive categories, if any. Read-only. This field should not be set in requests.
          items:
            format: int32
            type: integer
          type: array
        status:
          description: Creative serving status. Read-only. This field should not be set in requests.
          type: string
        vendorType:
          description: All vendor types for the ads that may be shown from this snippet.
          items:
            format: int32
            type: integer
          type: array
        version:
          description: The version for this creative. Read-only. This field should not be set in requests.
          format: int32
          type: integer
        videoURL:
          description: The URL to fetch a video ad. If set, HTMLSnippet and the nativeAd should not be set.
          type: string
        width:
          description: Ad width.
          format: int32
          type: integer
      type: object
    CreativesList:
      description: The creatives feed lists the active creatives for the Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single creative.
      properties:
        items:
          description: A list of creatives.
          items:
            $ref: "#/components/schemas/Creative"
          type: array
        kind:
          default: adexchangebuyer#creativesList
          description: Resource type.
          type: string
        nextPageToken:
          description: Continuation token used to page through creatives. To retrieve the next page of results, set the next request's "pageToken" value to this.
          type: string
      type: object
    DirectDeal:
      description: The configuration data for an Ad Exchange direct deal.
      properties:
        accountId:
          description: The account id of the buyer this deal is for.
          format: int32
          type: integer
        advertiser:
          description: The name of the advertiser this deal is for.
          type: string
        allowsAlcohol:
          description: Whether the publisher for this deal is eligible for alcohol ads.
          type: boolean
        buyerAccountId:
          description: The account id that this deal was negotiated for. It is either the buyer or the client that this deal was negotiated on behalf of.
          format: int64
          type: string
        currencyCode:
          description: The currency code that applies to the fixed_cpm value. If not set then assumed to be USD.
          type: string
        dealTier:
          description: The deal type such as programmatic reservation or fixed price and so on.
          type: string
        endTime:
          description: End time for when this deal stops being active. If not set then this deal is valid until manually disabled by the publisher. In seconds since the epoch.
          format: int64
          type: string
        fixedCpm:
          description: The fixed price for this direct deal. In cpm micros of currency according to currency_code. If set, then this deal is eligible for the fixed price tier of buying (highest priority, pay exactly the configured fixed price).
          format: int64
          type: string
        id:
          description: Deal id.
          format: int64
          type: string
        kind:
          default: adexchangebuyer#directDeal
          description: Resource type.
          type: string
        name:
          description: Deal name.
          type: string
        privateExchangeMinCpm:
          description: The minimum price for this direct deal. In cpm micros of currency according to currency_code. If set, then this deal is eligible for the private exchange tier of buying (below fixed price priority, run as a second price auction).
          format: int64
          type: string
        publisherBlocksOverriden:
          description: If true, the publisher has opted to have their blocks ignored when a creative is bid with for this deal.
          type: boolean
        sellerNetwork:
          description: The name of the publisher offering this direct deal.
          type: string
        startTime:
          description: Start time for when this deal becomes active. If not set then this deal is active immediately upon creation. In seconds since the epoch.
          format: int64
          type: string
      type: object
    DirectDealsList:
      description: A direct deals feed lists Direct Deals the Ad Exchange buyer account has access to. This includes direct deals set up for the buyer account as well as its merged stream seats.
      properties:
        directDeals:
          description: A list of direct deals relevant for your account.
          items:
            $ref: "#/components/schemas/DirectDeal"
          type: array
        kind:
          default: adexchangebuyer#directDealsList
          description: Resource type.
          type: string
      type: object
    PerformanceReport:
      description: The configuration data for an Ad Exchange performance report list.
      properties:
        bidRate:
          description: The number of bid responses with an ad.
          format: double
          type: number
        bidRequestRate:
          description: The number of bid requests sent to your bidder.
          format: double
          type: number
        calloutStatusRate:
          description: Rate of various prefiltering statuses per match. Please refer to the callout-status-codes.txt file for different statuses.
          items: {}
          type: array
        cookieMatcherStatusRate:
          description: Average QPS for cookie matcher operations.
          items: {}
          type: array
        creativeStatusRate:
          description: Rate of ads with a given status. Please refer to the creative-status-codes.txt file for different statuses.
          items: {}
          type: array
        filteredBidRate:
          description: The number of bid responses that were filtered due to a policy violation or other errors.
          format: double
          type: number
        hostedMatchStatusRate:
          description: Average QPS for hosted match operations.
          items: {}
          type: array
        inventoryMatchRate:
          description: The number of potential queries based on your pretargeting settings.
          format: double
          type: number
        kind:
          default: adexchangebuyer#performanceReport
          description: Resource type.
          type: string
        latency50thPercentile:
          description: The 50th percentile round trip latency(ms) as perceived from Google servers for the duration period covered by the report.
          format: double
          type: number
        latency85thPercentile:
          description: The 85th percentile round trip latency(ms) as perceived from Google servers for the duration period covered by the report.
          format: double
          type: number
        latency95thPercentile:
          description: The 95th percentile round trip latency(ms) as perceived from Google servers for the duration period covered by the report.
          format: double
          type: number
        noQuotaInRegion:
          description: Rate of various quota account statuses per quota check.
          format: double
          type: number
        outOfQuota:
          description: Rate of various quota account statuses per quota check.
          format: double
          type: number
        pixelMatchRequests:
          description: Average QPS for pixel match requests from clients.
          format: double
          type: number
        pixelMatchResponses:
          description: Average QPS for pixel match responses from clients.
          format: double
          type: number
        quotaConfiguredLimit:
          description: The configured quota limits for this account.
          format: double
          type: number
        quotaThrottledLimit:
          description: The throttled quota limits for this account.
          format: double
          type: number
        region:
          description: The trading location of this data.
          type: string
        successfulRequestRate:
          description: The number of properly formed bid responses received by our servers within the deadline.
          format: double
          type: number
        timestamp:
          description: The unix timestamp of the starting time of this performance data.
          format: int64
          type: string
        unsuccessfulRequestRate:
          description: The number of bid responses that were unsuccessful due to timeouts, incorrect formatting, etc.
          format: double
          type: number
      type: object
    PerformanceReportList:
      description: The configuration data for an Ad Exchange performance report list.
      properties:
        kind:
          default: adexchangebuyer#performanceReportList
          description: Resource type.
          type: string
        performanceReport:
          description: A list of performance reports relevant for the account.
          items:
            $ref: "#/components/schemas/PerformanceReport"
          type: array
      type: object
    PretargetingConfig:
      properties:
        billingId:
          description: The id for billing purposes, provided for reference. Leave this field blank for insert requests; the id will be generated automatically.
          format: int64
          type: string
        configId:
          description: The config id; generated automatically. Leave this field blank for insert requests.
          format: int64
          type: string
        configName:
          description: The name of the config. Must be unique. Required for all requests.
          type: string
        creativeType:
          description: List must contain exactly one of PRETARGETING_CREATIVE_TYPE_HTML or PRETARGETING_CREATIVE_TYPE_VIDEO.
          items:
            type: string
          type: array
        dimensions:
          description: Requests which allow one of these (width, height) pairs will match. All pairs must be supported ad dimensions.
          items:
            properties:
              height:
                description: Height in pixels.
                format: int64
                type: string
              width:
                description: Width in pixels.
                format: int64
                type: string
            type: object
          type: array
        excludedContentLabels:
          description: Requests with any of these content labels will not match. Values are from content-labels.txt in the downloadable files section.
          items:
            format: int64
            type: string
          type: array
        excludedGeoCriteriaIds:
          description: Requests containing any of these geo criteria ids will not match.
          items:
            format: int64
            type: string
          type: array
        excludedPlacements:
          description: Requests containing any of these placements will not match.
          items:
            properties:
              token:
                description: The value of the placement. Interpretation depends on the placement type, e.g. URL for a site placement, channel name for a channel placement, app id for a mobile app placement.
                type: string
              type:
                description: The type of the placement.
                type: string
            type: object
          type: array
        excludedUserLists:
          description: Requests containing any of these users list ids will not match.
          items:
            format: int64
            type: string
          type: array
        excludedVerticals:
          description: Requests containing any of these vertical ids will not match. Values are from the publisher-verticals.txt file in the downloadable files section.
          items:
            format: int64
            type: string
          type: array
        geoCriteriaIds:
          description: Requests containing any of these geo criteria ids will match.
          items:
            format: int64
            type: string
          type: array
        isActive:
          description: Whether this config is active. Required for all requests.
          type: boolean
        kind:
          default: adexchangebuyer#pretargetingConfig
          description: The kind of the resource, i.e. "adexchangebuyer#pretargetingConfig".
          type: string
        languages:
          description: Request containing any of these language codes will match.
          items:
            type: string
          type: array
        maximumQps:
          description: The maximum QPS allocated to this pretargeting configuration, used for pretargeting-level QPS limits. By default, this is not set, which indicates that there is no QPS limit at the configuration level (a global or account-level limit may still be imposed).
          format: int64
          type: string
        mobileCarriers:
          description: Requests containing any of these mobile carrier ids will match. Values are from mobile-carriers.csv in the downloadable files section.
          items:
            format: int64
            type: string
          type: array
        mobileDevices:
          description: Requests containing any of these mobile device ids will match. Values are from mobile-devices.csv in the downloadable files section.
          items:
            format: int64
            type: string
          type: array
        mobileOperatingSystemVersions:
          description: Requests containing any of these mobile operating system version ids will match. Values are from mobile-os.csv in the downloadable files section.
          items:
            format: int64
            type: string
          type: array
        placements:
          description: Requests containing any of these placements will match.
          items:
            properties:
              token:
                description: The value of the placement. Interpretation depends on the placement type, e.g. URL for a site placement, channel name for a channel placement, app id for a mobile app placement.
                type: string
              type:
                description: The type of the placement.
                type: string
            type: object
          type: array
        platforms:
          description: Requests matching any of these platforms will match. Possible values are PRETARGETING_PLATFORM_MOBILE, PRETARGETING_PLATFORM_DESKTOP, and PRETARGETING_PLATFORM_TABLET.
          items:
            type: string
          type: array
        supportedCreativeAttributes:
          description: Creative attributes should be declared here if all creatives corresponding to this pretargeting configuration have that creative attribute. Values are from pretargetable-creative-attributes.txt in the downloadable files section.
          items:
            format: int64
            type: string
          type: array
        userLists:
          description: Requests containing any of these user list ids will match.
          items:
            format: int64
            type: string
          type: array
        vendorTypes:
          description: Requests that allow any of these vendor ids will match. Values are from vendors.txt in the downloadable files section.
          items:
            format: int64
            type: string
          type: array
        verticals:
          description: Requests containing any of these vertical ids will match.
          items:
            format: int64
            type: string
          type: array
      type: object
    PretargetingConfigList:
      properties:
        items:
          description: A list of pretargeting configs
          items:
            $ref: "#/components/schemas/PretargetingConfig"
          type: array
        kind:
          default: adexchangebuyer#pretargetingConfigList
          description: Resource type.
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/adexchange.buyer: Manage your Ad Exchange buyer account configuration
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/adexchange.buyer: Manage your Ad Exchange buyer account configuration
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
