swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Subscription client provides an interface to create and manage Azure subscriptions programmatically.
  title: SubscriptionClient
  version: 2018-11-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-11-01-preview/subscriptions.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: subscription-subscriptions
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: Version of the API to be used with the client request. Current version is 2018-11-01-preview
    in: query
    name: api-version
    required: true
    type: string
paths:
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Subscription/createSubscription":
    post:
      description: The operation to create a new WebDirect or EA Azure subscription.
      operationId: SubscriptionFactory_CreateSubscription
      parameters:
        - description: The name of the Microsoft Customer Agreement billing account for which you want to create the subscription.
          in: path
          name: billingAccountName
          required: true
          type: string
        - description: The name of the billing profile in the billing account for which you want to create the subscription.
          in: path
          name: billingProfileName
          required: true
          type: string
        - description: The name of the invoice section in the billing account for which you want to create the subscription.
          in: path
          name: invoiceSectionName
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
        - description: The subscription creation parameters.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/ModernSubscriptionCreationParameters"
      responses:
        "200":
          description: Normal response for a successful query. The response body will contain the data that matches the filters specified in the query parameters.
          schema:
            $ref: "#/definitions/SubscriptionCreationResult"
        "202":
          description: Accepted. Subscription creation is in progress.
          headers:
            Location:
              description: GET this URL to retrieve the status of the asynchronous operation.
              type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.
              type: integer
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-ms-examples:
        createSubscription:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountName: 0aa27f2b-ec7f-5a65-71f6-a5ff0897bd55:ae0dae1e-de9a-41f6-8257-76b055d98372_2019-05-31
            billingProfileName: 27VR-HDWX-BG7-TGB
            body:
              billingProfileId: /providers/Microsoft.Billing/billingAccounts/0aa27f2b-ec7f-5a65-71f6-a5ff0897bd55:ae0dae1e-de9a-41f6-8257-76b055d98372_2019-05-31/billingProfiles/27VR-HDWX-BG7-TGB
              costCenter: "135366376"
              displayName: Contoso MCA subscription
              owner:
                objectId: 973034ff-acb7-409c-b731-e789672c7b32
              skuId: "0001"
            invoiceSectionName: JGF7-NSBG-PJA-TGB
          responses:
            "200":
              body:
                subscriptionLink: /subscriptions/d0d6ee57-6530-4fca-93a6-b755a070be35
            "202":
              headers:
                Location: https://management.azure.com/providers/Microsoft.Subscription/subscriptionOperations/ODdmYTU0MDktODc5YS00ZTEzLTg2MWItNTQ4ZjYxNzBlOTQw?api-version=2018-03-01-preview
                Retry-After: 8
      x-ms-long-running-operation: true
  "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/customers/{customerName}/providers/Microsoft.Subscription/createSubscription":
    post:
      description: The operation to create a new CSP subscription.
      operationId: SubscriptionFactory_CreateCspSubscription
      parameters:
        - description: The name of the Microsoft Customer Agreement billing account for which you want to create the subscription.
          in: path
          name: billingAccountName
          required: true
          type: string
        - description: The name of the customer.
          in: path
          name: customerName
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
        - description: The subscription creation parameters.
          in: body
          name: body
          required: true
          schema:
            $ref: "#/definitions/ModernCspSubscriptionCreationParameters"
      responses:
        "200":
          description: Normal response for a successful query. The response body will contain the data that matches the filters specified in the query parameters.
          schema:
            $ref: "#/definitions/SubscriptionCreationResult"
        "202":
          description: Accepted. Subscription creation is in progress.
          headers:
            Location:
              description: GET this URL to retrieve the status of the asynchronous operation.
              type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.
              type: integer
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      x-ms-examples:
        createSubscription:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountName: 2bc54a6f-8d8a-5be1-5bff-bb4f285f512b:11a72812-d9a4-446e-9a1e-70c8bcadf5c0_2019-05-31
            body:
              displayName: Contoso MCA subscription
              skuId: "0001"
            customerName: e33ba30d-3718-4b15-bfaa-5627a57cda6f
          responses:
            "200":
              body:
                subscriptionLink: /subscriptions/d0d6ee57-6530-4fca-93a6-b755a070be35
            "202":
              headers:
                Location: https://management.azure.com/providers/Microsoft.Subscription/subscriptionOperations/MzcwYzI3MDItNjA1MC00NTZkLTgyMTgtZjM0NDcyMjkwMTY0?api-version=2018-03-01-preview
                Retry-After: 8
      x-ms-long-running-operation: true
  "/providers/Microsoft.Subscription/subscriptionOperations/{operationId}":
    get:
      description: Get the status of the pending Microsoft.Subscription API operations.
      operationId: SubscriptionOperation_Get
      parameters:
        - description: The operation ID, which can be found from the Location field in the generate recommendation response header.
          in: path
          name: operationId
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: Successful completion of the asynchronous operation
          schema:
            $ref: "#/definitions/SubscriptionCreationResult"
        "202":
          description: Accepted. Subscription update is in progress.
          headers:
            Location:
              description: The URL where the status of the asynchronous operation can be checked.
              type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.
              type: integer
      x-ms-examples:
        getPendingSubscriptionOperations:
          parameters:
            api-version: 2018-11-01-preview
            operationId: e4b8d068-f574-462a-a76f-6fa0afc613c9
          responses:
            "200":
              body:
                subscriptionLink: /subscriptions/4df8d5c2-1b7e-4dd5-bc61-640704bde633
            "202":
              headers:
                Location: /providers/Microsoft.Subscription/subscriptionOperations/e4b8d068-f574-462a-a76f-6fa0afc613c9?api-version=2018-11-01-preview
                Retry-After: 8
definitions:
  AdPrincipal:
    description: Active Directory Principal who’ll get owner access on the new subscription.
    properties:
      objectId:
        description: Object id of the Principal
        type: string
    required:
      - objectId
  ErrorResponse:
    description: Describes the format of Error response.
    properties:
      code:
        description: Error code
        type: string
      message:
        description: Error message indicating why the operation failed.
        type: string
    type: object
  ModernCspSubscriptionCreationParameters:
    description: The parameters required to create a new CSP subscription.
    properties:
      displayName:
        description: The friendly name of the subscription.
        type: string
      resellerId:
        description: Reseller ID, basically MPN Id.
        type: string
      serviceProviderId:
        description: Service provider ID, basically MPN Id.
        type: string
      skuId:
        description: The SKU ID of the Azure plan. Azure plan determines the pricing and service-level agreement of the subscription.  Use 001 for Microsoft Azure Plan and 002 for Microsoft Azure Plan for DevTest.
        type: string
    required:
      - displayName
      - skuId
  ModernSubscriptionCreationParameters:
    description: The parameters required to create a new subscription.
    properties:
      additionalParameters:
        additionalProperties:
          type: object
        description: Additional, untyped parameters to support custom subscription creation scenarios.
        type: object
      billingProfileId:
        description: The ARM ID of the billing profile for which you want to create the subscription.
        type: string
      costCenter:
        description: If set, the cost center will show up on the Azure usage and charges file.
        type: string
      displayName:
        description: The friendly name of the subscription.
        type: string
      managementGroupId:
        description: The identifier of the management group to which this subscription will be associated.
        type: string
      owner:
        $ref: "#/definitions/AdPrincipal"
        description: If specified, the AD principal will get owner access to the subscription, along with the user who is performing the create subscription operation
      skuId:
        description: The SKU ID of the Azure plan. Azure plan determines the pricing and service-level agreement of the subscription.  Use 001 for Microsoft Azure Plan and 002 for Microsoft Azure Plan for DevTest.
        type: string
    required:
      - displayName
      - billingProfileId
      - skuId
  Operation:
    description: REST API operation
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: "Operation type: Read, write, delete, etc."
            type: string
          provider:
            description: "Service provider: Microsoft.Subscription"
            type: string
          resource:
            description: "Resource on which the operation is performed: Profile, endpoint, etc."
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}"
        type: string
    type: object
  OperationListResult:
    description: Result of the request to list operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        type: string
      value:
        description: List of operations.
        items:
          $ref: "#/definitions/Operation"
        type: array
  SubscriptionCreationResult:
    description: The created subscription object.
    properties:
      subscriptionLink:
        description: The link to the new subscription. Use this link to check the status of subscription creation operation.
        type: string
  SubscriptionOperation:
    description: status of the subscription POST operation.
    properties:
      id:
        description: The operation Id.
        readOnly: true
        type: string
      status:
        description: Status of the pending subscription
        type: string
      statusDetail:
        description: Status Detail of the pending subscription
        type: string
  SubscriptionOperationListResult:
    description: A list of pending subscription operations.
    properties:
      value:
        description: A list of pending SubscriptionOperations
        items:
          $ref: "#/definitions/SubscriptionOperation"
        type: array
