swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Azure Application Insights client for selecting pricing plans and options.
  title: ApplicationInsightsManagementClient
  version: 2015-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/applicationinsights/resource-manager/Microsoft.Insights/stable/2015-05-01/componentFeaturesAndPricing_API.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: applicationinsights-componentFeaturesAndPricing_API
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ResourceNameParameter:
    description: The name of the Application Insights component resource.
    in: path
    name: resourceName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/currentbillingfeatures":
    get:
      description: Returns current billing features for an Application Insights component.
      operationId: ComponentCurrentBillingFeatures_Get
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
      responses:
        "200":
          description: An Application Insights component billing features definition.
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentBillingFeatures"
      x-ms-examples:
        ComponentCurrentBillingFeaturesGet:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                CurrentBillingFeatures:
                  - Basic
                DataVolumeCap:
                  Cap: 500
                  MaxHistoryCap: 500
                  ResetTime: 16
                  StopSendNotificationWhenHitCap: false
                  StopSendNotificationWhenHitThreshold: false
                  WarningThreshold: 90
    put:
      description: Update current billing features for an Application Insights component.
      operationId: ComponentCurrentBillingFeatures_Update
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
        - description: Properties that need to be specified to update billing features for an Application Insights component.
          in: body
          name: BillingFeaturesProperties
          required: true
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentBillingFeatures"
      responses:
        "200":
          description: Successful request when updating billing features for an Application Insights component. The updated current billing features are returned.
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentBillingFeatures"
      x-ms-examples:
        ComponentCurrentBillingFeaturesUpdate:
          parameters:
            BillingFeaturesProperties:
              CurrentBillingFeatures:
                - Basic
                - Application Insights Enterprise
              DataVolumeCap:
                Cap: 100
                StopSendNotificationWhenHitCap: true
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                CurrentBillingFeatures:
                  - Basic
                  - Application Insights Enterprise
                DataVolumeCap:
                  Cap: 100
                  MaxHistoryCap: 500
                  ResetTime: 16
                  StopSendNotificationWhenHitCap: true
                  StopSendNotificationWhenHitThreshold: false
                  WarningThreshold: 90
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/featurecapabilities":
    get:
      description: Returns feature capabilities of the application insights component.
      operationId: ComponentFeatureCapabilities_Get
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
      responses:
        "200":
          description: An Application Insights component feature capabilities definition.
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentFeatureCapabilities"
      x-ms-examples:
        ComponentCurrentBillingFeaturesGet:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                AnalyticsIntegration: true
                ApiAccessLevel: Premium
                ApplicationMap: true
                BurstThrottlePolicy: B2
                DailyCap: 0.0323
                DailyCapResetTime: 4
                LiveStreamMetrics: true
                MetadataClass: null
                MultipleStepWebTest: true
                OpenSchema: true
                PowerBIIntegration: true
                ProactiveDetection: false
                SupportExportData: true
                ThrottleRate: 0
                TrackingType: Basic
                WorkItemIntegration: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/getavailablebillingfeatures":
    get:
      description: Returns all available features of the application insights component.
      operationId: ComponentAvailableFeatures_Get
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
      responses:
        "200":
          description: An Application Insights component available features definition.
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentAvailableFeatures"
      x-ms-examples:
        ComponentCurrentBillingFeaturesGet:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                Result:
                  - Capabilities:
                      - Description: Number of application hosts
                        MeterId: null
                        MeterRateFrequency: null
                        Name: hostnumber
                        Unit: null
                        Value: Unlimited
                      - Description: Included data
                        MeterId: acf26b15-ee92-440d-9973-9a72d77641aa
                        MeterRateFrequency: GB/month
                        Name: includeddata
                        Unit: null
                        Value: "1"
                      - Description: Additional data
                        MeterId: b90f8b65-6c3e-43fc-9149-bdfc73b6a5b9
                        MeterRateFrequency: /GB
                        Name: additionaldata
                        Unit: null
                        Value: null
                      - Description: Data retention
                        MeterId: null
                        MeterRateFrequency: null
                        Name: dataretention
                        Unit: days
                        Value: "90"
                      - Description: Response time monitoring and diagnostics
                        MeterId: null
                        MeterRateFrequency: null
                        Name: responsetimemonitoring
                        Unit: null
                        Value: Enabled
                      - Description: Failed requests monitoring and diagnostics
                        MeterId: null
                        MeterRateFrequency: null
                        Name: failedrequestsmonitoring
                        Unit: null
                        Value: Enabled
                      - Description: Browser performance
                        MeterId: null
                        MeterRateFrequency: null
                        Name: browserperformance
                        Unit: null
                        Value: Enabled
                      - Description: Usage analysis
                        MeterId: null
                        MeterRateFrequency: null
                        Name: usageanalysis
                        Unit: null
                        Value: Enabled
                      - Description: Server monitoring
                        MeterId: null
                        MeterRateFrequency: null
                        Name: servermonitoring
                        Unit: null
                        Value: Enabled
                      - Description: Alerting and notifications
                        MeterId: null
                        MeterRateFrequency: null
                        Name: alertingandnotifications
                        Unit: null
                        Value: Enabled
                      - Description: Daily notification of failed request rate spikes
                        MeterId: null
                        MeterRateFrequency: null
                        Name: notificationfailedrequestrate
                        Unit: null
                        Value: Enabled
                      - Description: Telemetry analyzer
                        MeterId: null
                        MeterRateFrequency: null
                        Name: telemetryanalyzer
                        Unit: null
                        Value: Enabled
                      - Description: Search and Analytics
                        MeterId: null
                        MeterRateFrequency: null
                        Name: searchandanalytics
                        Unit: null
                        Value: Enabled
                      - Description: Web tests (multi-step tests)
                        MeterId: 0aa0e0e9-3f58-4dcf-9bb0-9db7ae1d5954
                        MeterRateFrequency: /test (per month)
                        Name: webtests
                        Unit: null
                        Value: null
                      - Description: Live stream metrics
                        MeterId: null
                        MeterRateFrequency: null
                        Name: livestreammetrics
                        Unit: null
                        Value: Enabled
                      - Description: Application map
                        MeterId: null
                        MeterRateFrequency: null
                        Name: applicationmap
                        Unit: null
                        Value: Enabled
                      - Description: Daily notification for many key metrics
                        MeterId: null
                        MeterRateFrequency: null
                        Name: dailynotificationforkeymetrics
                        Unit: null
                        Value: Enabled
                      - Description: Work item integration
                        MeterId: null
                        MeterRateFrequency: null
                        Name: workitemintegration
                        Unit: null
                        Value: Enabled
                      - Description: API access
                        MeterId: null
                        MeterRateFrequency: null
                        Name: apiaccess
                        Unit: null
                        Value: Enabled
                      - Description: Power BI integration
                        MeterId: null
                        MeterRateFrequency: null
                        Name: powerbiintegration
                        Unit: null
                        Value: Enabled
                      - Description: Bulk data import
                        MeterId: null
                        MeterRateFrequency: null
                        Name: bulkdataimport
                        Unit: null
                        Value: Enabled
                      - Description: Automatic data evaluation
                        MeterId: null
                        MeterRateFrequency: null
                        Name: automaticdataevaluation
                        Unit: null
                        Value: Enabled
                      - Description: Analytics integration with Azure dashboards
                        MeterId: null
                        MeterRateFrequency: null
                        Name: analyticsintegration
                        Unit: null
                        Value: Enabled
                      - Description: Continuous export
                        MeterId: 90fa4d31-3ea2-4178-a894-ec4c76c712b2
                        MeterRateFrequency: /GB
                        Name: continuousexport
                        Unit: null
                        Value: Enabled
                      - Description: Default daily cap
                        MeterId: null
                        MeterRateFrequency: null
                        Name: defaultdailycap
                        Unit: G
                        Value: "100"
                      - Description: Default maximum daily cap
                        MeterId: null
                        MeterRateFrequency: null
                        Name: defaultmaxdailycap
                        Unit: G
                        Value: "1000"
                    FeatureName: Basic
                    IsHidden: true
                    IsMainFeature: true
                    MeterId: c9a05f12-4910-4527-a9ec-1db4e4dba60e
                    MeterRateFrequency: /month
                    ResouceId: null
                    SupportedAddonFeatures: Application Insights Enterprise
                    Title: Application Insights Basic
                  - Capabilities:
                      - Description: Enterprise Included data
                        MeterId: acf26b15-ee92-440d-9973-9a72d77641aa
                        MeterRateFrequency: GB/month
                        Name: enterpriseincludeddata
                        Unit: null
                        Value: "0.20"
                      - Description: Enterprise Additional data
                        MeterId: 3fedc88a-b68f-4936-bbf0-f290a254388c
                        MeterRateFrequency: /GB
                        Name: enterpriseadditionaldata
                        Unit: null
                        Value: null
                      - Description: Default daily cap
                        MeterId: null
                        MeterRateFrequency: null
                        Name: defaultdailycap
                        Unit: G
                        Value: "100"
                      - Description: Default maximum daily cap
                        MeterId: null
                        MeterRateFrequency: null
                        Name: defaultmaxdailycap
                        Unit: G
                        Value: "1000"
                    FeatureName: Application Insights Enterprise
                    IsHidden: false
                    IsMainFeature: false
                    MeterId: 222f32c5-a319-4787-b934-5fb95105b2c8
                    MeterRateFrequency: /node/month
                    ResouceId: null
                    SupportedAddonFeatures: null
                    Title: Enterprise
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/quotastatus":
    get:
      description: Returns daily data volume cap (quota) status for an Application Insights component.
      operationId: ComponentQuotaStatus_Get
      parameters:
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ResourceNameParameter"
      responses:
        "200":
          description: An Application Insights component daily data volume cap status definition.
          schema:
            $ref: "#/definitions/ApplicationInsightsComponentQuotaStatus"
      x-ms-examples:
        ComponentCurrentBillingFeaturesGet:
          parameters:
            api-version: 2015-05-01
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            "200":
              body:
                AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                ExpirationTime: 2017-08-10T05:00:00
                ShouldBeThrottled: true
definitions:
  ApplicationInsightsComponentAvailableFeatures:
    description: An Application Insights component available features.
    properties:
      Result:
        description: A list of Application Insights component feature.
        items:
          $ref: "#/definitions/ApplicationInsightsComponentFeature"
          type: object
        readOnly: true
        type: array
    type: object
  ApplicationInsightsComponentBillingFeatures:
    description: An Application Insights component billing features
    properties:
      CurrentBillingFeatures:
        description: Current enabled pricing plan. When the component is in the Enterprise plan, this will list both 'Basic' and 'Application Insights Enterprise'.
        items:
          type: string
        type: array
      DataVolumeCap:
        $ref: "#/definitions/ApplicationInsightsComponentDataVolumeCap"
        description: An Application Insights component daily data volume cap
    type: object
  ApplicationInsightsComponentDataVolumeCap:
    description: An Application Insights component daily data volume cap
    properties:
      Cap:
        description: Daily data volume cap in GB.
        type: number
      MaxHistoryCap:
        description: Maximum daily data volume cap that the user can set for this component.
        readOnly: true
        type: number
      ResetTime:
        description: Daily data volume cap UTC reset hour.
        readOnly: true
        type: integer
      StopSendNotificationWhenHitCap:
        description: Do not send a notification email when the daily data volume cap is met.
        type: boolean
      StopSendNotificationWhenHitThreshold:
        description: Reserved, not used for now.
        type: boolean
      WarningThreshold:
        description: Reserved, not used for now.
        type: integer
    type: object
  ApplicationInsightsComponentFeature:
    description: An Application Insights component daily data volume cap status
    properties:
      Capabilities:
        description: A list of Application Insights component feature capability.
        items:
          $ref: "#/definitions/ApplicationInsightsComponentFeatureCapability"
          type: object
        readOnly: true
        type: array
      FeatureName:
        description: The pricing feature name.
        readOnly: true
        type: string
      IsHidden:
        description: Reserved, not used now.
        readOnly: true
        type: boolean
      IsMainFeature:
        description: Whether can apply addon feature on to it.
        readOnly: true
        type: boolean
      MeterId:
        description: The meter id used for the feature.
        readOnly: true
        type: string
      MeterRateFrequency:
        description: The meter rate for the feature's meter.
        readOnly: true
        type: string
      ResouceId:
        description: Reserved, not used now.
        readOnly: true
        type: string
      SupportedAddonFeatures:
        description: The add on features on main feature.
        readOnly: true
        type: string
      Title:
        description: Display name of the feature.
        readOnly: true
        type: string
    type: object
  ApplicationInsightsComponentFeatureCapabilities:
    description: An Application Insights component feature capabilities
    properties:
      AnalyticsIntegration:
        description: Reserved, not used now.
        readOnly: true
        type: boolean
      ApiAccessLevel:
        description: Reserved, not used now.
        readOnly: true
        type: string
      ApplicationMap:
        description: Reserved, not used now.
        readOnly: true
        type: boolean
      BurstThrottlePolicy:
        description: Reserved, not used now.
        readOnly: true
        type: string
      DailyCap:
        description: Daily data volume cap in GB.
        readOnly: true
        type: number
      DailyCapResetTime:
        description: Daily data volume cap UTC reset hour.
        readOnly: true
        type: number
      LiveStreamMetrics:
        description: Reserved, not used now.
        readOnly: true
        type: boolean
      MetadataClass:
        description: Reserved, not used now.
        readOnly: true
        type: string
      MultipleStepWebTest:
        description: Whether allow to use multiple steps web test feature.
        readOnly: true
        type: boolean
      OpenSchema:
        description: Reserved, not used now.
        readOnly: true
        type: boolean
      PowerBIIntegration:
        description: Reserved, not used now.
        readOnly: true
        type: boolean
      ProactiveDetection:
        description: Reserved, not used now.
        readOnly: true
        type: boolean
      SupportExportData:
        description: Whether allow to use continuous export feature.
        readOnly: true
        type: boolean
      ThrottleRate:
        description: Reserved, not used now.
        readOnly: true
        type: number
      TrackingType:
        description: The application insights component used tracking type.
        readOnly: true
        type: string
      WorkItemIntegration:
        description: Whether allow to use work item integration feature.
        readOnly: true
        type: boolean
    type: object
  ApplicationInsightsComponentFeatureCapability:
    description: An Application Insights component feature capability
    properties:
      Description:
        description: The description of the capability.
        readOnly: true
        type: string
      MeterId:
        description: The meter used for the capability.
        readOnly: true
        type: string
      MeterRateFrequency:
        description: The meter rate of the meter.
        readOnly: true
        type: string
      Name:
        description: The name of the capability.
        readOnly: true
        type: string
      Unit:
        description: The unit of the capability.
        readOnly: true
        type: string
      Value:
        description: The value of the capability.
        readOnly: true
        type: string
    type: object
  ApplicationInsightsComponentQuotaStatus:
    description: An Application Insights component daily data volume cap status
    properties:
      AppId:
        description: The Application ID for the Application Insights component.
        readOnly: true
        type: string
      ExpirationTime:
        description: Date and time when the daily data volume cap will be reset, and data ingestion will resume.
        readOnly: true
        type: string
      ShouldBeThrottled:
        description: The daily data volume cap is met, and data ingestion will be stopped.
        readOnly: true
        type: boolean
    type: object
