swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: SiteRecoveryManagementClient
  version: 2018-07-10
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-ms-code-generation-settings:
    header: MICROSOFT_MIT_NO_VERSION
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2018-07-10/service.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: recoveryservicessiterecovery-service
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account.
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersion:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupName:
    description: The name of the resource group where the recovery services vault is present.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: client
  ResourceName:
    description: The name of the recovery services vault.
    in: path
    name: resourceName
    required: true
    type: string
    x-ms-parameter-location: client
  SubscriptionId:
    description: The subscription Id.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}/providers/Microsoft.RecoveryServices/replicationEligibilityResults":
    get:
      description: Validates whether a given VM can be protected or not in which case returns list of errors.
      operationId: ReplicationEligibilityResults_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Virtual Machine name.
          in: path
          name: virtualMachineName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ReplicationEligibilityResultsCollection"
      summary: Gets the validation errors in case the VM is unsuitable for protection.
      tags:
        - ReplicationEligibilityResults
      x-ms-examples:
        Gets the validation errors in case the VM is unsuitable for protection.:
          parameters:
            api-version: 2018-07-10
            resourceGroupName: testRg1
            subscriptionId: d90d145a-4cdd-45a3-b2c4-971d69775278
            virtualMachineName: testVm2
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/d90d145a-4cdd-45a3-b2c4-971d69775278/resourceGroups/testRg1/providers/Microsoft.Compute/virtualMachines/testVm2/providers/Microsoft.RecoveryServices/replicationEligibilityResults/default
                    name: default
                    properties:
                      clientRequestId: a62c81df-e26e-47ea-ab4b-f1fcc1e5b135
                      errors:
                        - code: AzureVmIsNotInDesiredProvisioningState
                          message: Azure virtual machine with Id (/subscriptions/d90d145a-4cdd-45a3-b2c4-971d69775278/resourceGroups/testRg1/providers/Microsoft.Compute/virtualMachines/testVm2) is with provisioning state 'failed'. To enable replication, VM's provisioning state should be 'succeeded'.
                          possibleCauses: Virtual machine is not in desired state.
                          recommendedAction: |2-
                            
                                  Ensure that the VM's provisioning state is 'succeeded'.
                                  Refer to https://aka.ms/a2a-vm-state-issues to troubleshoot VM provisioning state issues.
                          status: Error
                        - code: AzureVmIsNotInDesiredPowerState
                          message: Azure virtual machine with Id (/subscriptions/d90d145a-4cdd-45a3-b2c4-971d69775278/resourceGroups/testRg1/providers/Microsoft.Compute/virtualMachines/testVm2) is with power status 'deallocated'. To enable replication, VM's power status should be 'running'.
                          possibleCauses: Virtual machine is not in desired state.
                          recommendedAction: |2-
                            
                                  Ensure that the VM's power status is 'running'.
                                  You can check the power status in 'VM > Settings > Properties > Status' in Azure portal.
                          status: Error
                    type: Microsoft.RecoveryServices/replicationEligibilityResults
      x-ms-long-running-operation: true
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}/providers/Microsoft.RecoveryServices/replicationEligibilityResults/default":
    get:
      description: Validates whether a given VM can be protected or not in which case returns list of errors.
      operationId: ReplicationEligibilityResults_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Virtual Machine name.
          in: path
          name: virtualMachineName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ReplicationEligibilityResults"
      summary: Gets the validation errors in case the VM is unsuitable for protection.
      tags:
        - ReplicationEligibilityResults
      x-ms-examples:
        Gets the validation errors in case the VM is unsuitable for protection.:
          parameters:
            api-version: 2018-07-10
            resourceGroupName: testRg1
            subscriptionId: d90d145a-4cdd-45a3-b2c4-971d69775278
            virtualMachineName: testVm1
          responses:
            "200":
              body:
                id: /subscriptions/d90d145a-4cdd-45a3-b2c4-971d69775278/resourceGroups/testRg1/providers/Microsoft.Compute/virtualMachines/testVm1/providers/Microsoft.RecoveryServices/replicationEligibilityResults/default
                name: default
                properties:
                  clientRequestId: 7d72ade7-b9f7-4d9b-8a19-15d9728c6190
                  errors:
                    - code: A2AOperatingSystemNotSupported
                      message: The A2A operation could not be completed as the virtual machine is running OS 'ubuntu' with version '18.04' which is not supported for replication.
                      possibleCauses: OS version not supported.
                      recommendedAction: The virtual machine is running unsupported Operating system. Refer to the documentation for supported OS versions - https://aka.ms/a2a-os-support-matrix.
                      status: Error
                type: Microsoft.RecoveryServices/replicationEligibilityResults
      x-ms-long-running-operation: true
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/operations":
    get:
      description: Operation to return the list of available operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationsDiscoveryCollection"
      summary: Returns the list of available operations.
      tags:
        - Operations
      x-ms-examples:
        Returns the list of available operations.:
          parameters:
            api-version: 2018-07-10
            resourceGroupName: resourceGroupPS1
            subscriptionId: c183865e-6077-46f2-a3b1-deb0f4f4650a
          responses:
            "200":
              body:
                value:
                  - display:
                      description: The Vault Token operation can be used to get   Vault Token for vault level backend operations.
                      operation: Vault Token
                      provider: Microsoft.RecoveryServices
                      resource: Vaults
                    name: Microsoft.RecoveryServices/Vaults/vaultTokens/read
                    origin: user
                  - display:
                      description: The Register Service Container   operation can be used to register a container with Recovery Service.
                      operation: Register Service Container
                      provider: Microsoft.RecoveryServices
                      resource: Vaults
                    name: Microsoft.RecoveryServices/Vaults/registeredIdentities/write
                    origin: user,system
                  - display:
                      description: The Get Operation Results operation can   be used get the operation status and result for the asynchronously submitted operation
                      operation: Get Operation Results
                      provider: Microsoft.RecoveryServices
                      resource: Vaults
                    name: Microsoft.RecoveryServices/Vaults/registeredIdentities/operationResults/read
                    origin: user,system
                  - display:
                      description: The Get Containers operation can be used get   the containers registered for a resource.
                      operation: Get Containers
                      provider: Microsoft.RecoveryServices
                      resource: Vaults
                    name: Microsoft.RecoveryServices/Vaults/registeredIdentities/read
                    origin: user,system
                  - display:
                      description: The UnRegister Container   operation can be used to unregister a container.
                      operation: Unregister Service Container
                      provider: Microsoft.RecoveryServices
                      resource: Vaults
                    name: Microsoft.RecoveryServices/Vaults/registeredIdentities/delete
                    origin: user,system
                  - display:
                      description: The Update Resource Certificate   operation updates the resource/vault credential certificate.
                      operation: Update Resource Certificate
                      provider: Microsoft.RecoveryServices
                      resource: Vaults
                    name: Microsoft.RecoveryServices/Vaults/certificates/write
                    origin: user
                  - display:
                      description: Read Any Alerts Settings
                      operation: Read Alerts Settings
                      provider: Microsoft Recovery Services
                      resource: Alerts   Settings
                    name: Microsoft.RecoveryServices/vaults/replicationAlertSettings/read
                    origin: user,system
                  - display:
                      description: Create or Update Any Alerts Settings
                      operation: Create or Update Alerts Settings
                      provider: Microsoft Recovery Services
                      resource: Alerts   Settings
                    name: Microsoft.RecoveryServices/vaults/replicationAlertSettings/write
                    origin: user,system
                  - display:
                      description: Read Any Events
                      operation: Read Events
                      provider: Microsoft Recovery   Services
                      resource: Events
                    name: Microsoft.RecoveryServices/vaults/replicationEvents/read
                    origin: user,system
                  - display:
                      description: Read Any Networks
                      operation: Read Networks
                      provider: Microsoft Recovery   Services
                      resource: Networks
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationNetworks/read
                    origin: user,system
                  - display:
                      description: Read Any Network   Mappings
                      operation: Read Network Mappings
                      provider: Microsoft   Recovery Services
                      resource: Network Mappings
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationNetworks/replicationNetworkMappings/read
                    origin: user,system
                  - display:
                      description: Create or Update Any Network   Mappings
                      operation: Create or Update Network Mappings
                      provider: Microsoft   Recovery Services
                      resource: Network Mappings
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationNetworks/replicationNetworkMappings/write
                    origin: user,system
                  - display:
                      description: Delete Any Network   Mappings
                      operation: Delete Network Mappings
                      provider: Microsoft   Recovery Services
                      resource: Network Mappings
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationNetworks/replicationNetworkMappings/delete
                    origin: user,system
                  - display:
                      description: Read Any Protectable   Items
                      operation: Read Protectable Items
                      provider: Microsoft Recovery Services
                      resource: Protectable Items
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectableItems/read
                    origin: user,system
                  - display:
                      description: Read Any Protection Container Mappings
                      operation: Read Protection Container   Mappings
                      provider: Microsoft Recovery Services
                      resource: Protection Container Mappings
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectionContainerMappings/read
                    origin: user,system
                  - display:
                      description: Create or Update Any Protection Container Mappings
                      operation: Create or Update Protection Container   Mappings
                      provider: Microsoft Recovery Services
                      resource: Protection Container Mappings
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectionContainerMappings/write
                    origin: user,system
                  - display:
                      description: Remove Protection Container Mapping
                      operation: Remove Protection Container   Mapping
                      provider: Microsoft Recovery Services
                      resource: Protection Container Mappings
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectionContainerMappings/remove/action
                    origin: user,system
                  - display:
                      description: Delete Any Protection Container Mappings
                      operation: Delete Protection Container   Mappings
                      provider: Microsoft Recovery Services
                      resource: Protection Container Mappings
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectionContainerMappings/delete
                    origin: user,system
                  - display:
                      description: Read   Any Replication Recovery Points
                      operation: Read Replication Recovery Points
                      provider: Microsoft Recovery Services
                      resource: Replication Recovery Points
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectedItems/recoveryPoints/read
                    origin: user,system
                  - display:
                      description: Read Any Protected   Items
                      operation: Read Protected Items
                      provider: Microsoft Recovery Services
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectedItems/read
                    origin: user,system
                  - display:
                      description: Create or Update   Any Protected Items
                      operation: Create or Update Protected Items
                      provider: Microsoft Recovery Services
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectedItems/write
                    origin: user,system
                  - display:
                      description: Delete Any Protected   Items
                      operation: Delete Protected Items
                      provider: Microsoft Recovery Services
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectedItems/delete
                    origin: user,system
                  - display:
                      description: Remove Protected   Item
                      operation: Remove Protected Item
                      provider: Microsoft Recovery Services
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectedItems/remove/action
                    origin: user,system
                  - display:
                      description: Planned   Failover
                      operation: Planned Failover
                      provider: Microsoft Recovery Services
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectedItems/plannedFailover/action
                    origin: user,system
                  - display:
                      description: Failover
                      operation: Failover
                      provider: Microsoft Recovery Services
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectedItems/unplannedFailover/action
                    origin: user,system
                  - display:
                      description: Test   Failover
                      operation: Test Failover
                      provider: Microsoft Recovery Services
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectedItems/testFailover/action
                    origin: user,system
                  - display:
                      description: Test Failover   Cleanup
                      operation: Test Failover Cleanup
                      provider: Microsoft Recovery Services
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectedItems/testFailoverCleanup/action
                    origin: user,system
                  - display:
                      description: Failover   Commit
                      operation: Failover Commit
                      provider: Microsoft Recovery Services
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectedItems/failoverCommit/action
                    origin: user,system
                  - display:
                      description: ReProtect Protected   Item
                      operation: ReProtect Protected Item
                      provider: Microsoft Recovery Services
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectedItems/reProtect/action
                    origin: user,system
                  - display:
                      description: Update Mobility   Service
                      operation: Update Mobility Service
                      provider: Microsoft Recovery Services
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectedItems/updateMobilityService/action
                    origin: user,system
                  - display:
                      description: Repair   replication
                      operation: Repair replication
                      provider: Microsoft Recovery Services
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectedItems/repairReplication/action
                    origin: user,system
                  - display:
                      description: Apply Recovery   Point
                      operation: Apply Recovery Point
                      provider: Microsoft Recovery Services
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/replicationProtectedItems/applyRecoveryPoint/action
                    origin: user,system
                  - display:
                      description: Read Any Jobs
                      operation: Read Jobs
                      provider: Microsoft Recovery   Services
                      resource: Jobs
                    name: Microsoft.RecoveryServices/vaults/replicationJobs/read
                    origin: user,system
                  - display:
                      description: Cancel Job
                      operation: Cancel Job
                      provider: Microsoft Recovery   Services
                      resource: Jobs
                    name: Microsoft.RecoveryServices/vaults/replicationJobs/cancel/action
                    origin: user,system
                  - display:
                      description: Restart job
                      operation: Restart job
                      provider: Microsoft Recovery   Services
                      resource: Jobs
                    name: Microsoft.RecoveryServices/vaults/replicationJobs/restart/action
                    origin: user,system
                  - display:
                      description: Resume Job
                      operation: Resume Job
                      provider: Microsoft Recovery   Services
                      resource: Jobs
                    name: Microsoft.RecoveryServices/vaults/replicationJobs/resume/action
                    origin: user,system
                  - display:
                      description: Read Any Protection   Containers
                      operation: Read Protection Containers
                      provider: Microsoft Recovery   Services
                      resource: Protection Containers
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/read
                    origin: user,system
                  - display:
                      description: Discover   Protectable Item
                      operation: Discover Protectable Item
                      provider: Microsoft Recovery Services
                      resource: Protection Containers
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/discoverProtectableItem/action
                    origin: user,system
                  - display:
                      description: Create or Update Any Protection   Containers
                      operation: Create or Update Protection Containers
                      provider: Microsoft Recovery   Services
                      resource: Protection Containers
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/write
                    origin: user,system
                  - display:
                      description: Remove Protection   Container
                      operation: Remove Protection Container
                      provider: Microsoft Recovery   Services
                      resource: Protection Containers
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/remove/action
                    origin: user,system
                  - display:
                      description: Switch Protection   Container
                      operation: Switch Protection Container
                      provider: Microsoft   Recovery Services
                      resource: Protection Containers
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationProtectionContainers/switchprotection/action
                    origin: user,system
                  - display:
                      description: Read Any Policies
                      operation: Read Policies
                      provider: Microsoft Recovery   Services
                      resource: Policies
                    name: Microsoft.RecoveryServices/vaults/replicationPolicies/read
                    origin: user,system
                  - display:
                      description: Create or Update Any Policies
                      operation: Create or Update Policies
                      provider: Microsoft Recovery   Services
                      resource: Policies
                    name: Microsoft.RecoveryServices/vaults/replicationPolicies/write
                    origin: user,system
                  - display:
                      description: Delete Any Policies
                      operation: Delete Policies
                      provider: Microsoft Recovery   Services
                      resource: Policies
                    name: Microsoft.RecoveryServices/vaults/replicationPolicies/delete
                    origin: user,system
                  - display:
                      description: Read Any Recovery Plans
                      operation: Read Recovery Plans
                      provider: Microsoft Recovery Services
                      resource: Recovery   Plans
                    name: Microsoft.RecoveryServices/vaults/replicationRecoveryPlans/read
                    origin: user,system
                  - display:
                      description: Create or Update Any Recovery Plans
                      operation: Create or Update Recovery Plans
                      provider: Microsoft Recovery Services
                      resource: Recovery   Plans
                    name: Microsoft.RecoveryServices/vaults/replicationRecoveryPlans/write
                    origin: user,system
                  - display:
                      description: Delete Any Recovery Plans
                      operation: Delete Recovery Plans
                      provider: Microsoft Recovery Services
                      resource: Recovery   Plans
                    name: Microsoft.RecoveryServices/vaults/replicationRecoveryPlans/delete
                    origin: user,system
                  - display:
                      description: Planned Failover Recovery   Plan
                      operation: Planned Failover Recovery Plan
                      provider: Microsoft Recovery   Services
                      resource: Recovery Plans
                    name: Microsoft.RecoveryServices/vaults/replicationRecoveryPlans/plannedFailover/action
                    origin: user,system
                  - display:
                      description: Failover Recovery   Plan
                      operation: Failover Recovery Plan
                      provider: Microsoft Recovery Services
                      resource: Recovery Plans
                    name: Microsoft.RecoveryServices/vaults/replicationRecoveryPlans/unplannedFailover/action
                    origin: user,system
                  - display:
                      description: Test Failover Recovery   Plan
                      operation: Test Failover Recovery Plan
                      provider: Microsoft Recovery Services
                      resource: Recovery Plans
                    name: Microsoft.RecoveryServices/vaults/replicationRecoveryPlans/testFailover/action
                    origin: user,system
                  - display:
                      description: Test Failover   Cleanup Recovery Plan
                      operation: Test Failover Cleanup Recovery Plan
                      provider: Microsoft Recovery Services
                      resource: Recovery Plans
                    name: Microsoft.RecoveryServices/vaults/replicationRecoveryPlans/testFailoverCleanup/action
                    origin: user,system
                  - display:
                      description: Failover Commit   Recovery Plan
                      operation: Failover Commit Recovery Plan
                      provider: Microsoft Recovery Services
                      resource: Recovery Plans
                    name: Microsoft.RecoveryServices/vaults/replicationRecoveryPlans/failoverCommit/action
                    origin: user,system
                  - display:
                      description: ReProtect Recovery   Plan
                      operation: ReProtect Recovery Plan
                      provider: Microsoft Recovery Services
                      resource: Recovery Plans
                    name: Microsoft.RecoveryServices/vaults/replicationRecoveryPlans/reProtect/action
                    origin: user,system
                  - display:
                      description: Read   Any Recovery Services Providers
                      operation: Read Recovery Services Providers
                      provider: Microsoft Recovery Services
                      resource: Recovery Services Providers
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationRecoveryServicesProviders/read
                    origin: user,system
                  - display:
                      description: Remove Recovery Services   Provider
                      operation: Remove Recovery Services Provider
                      provider: Microsoft   Recovery Services
                      resource: Recovery Services Providers
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationRecoveryServicesProviders/remove/action
                    origin: user,system
                  - display:
                      description: Delete Any Recovery Services   Providers
                      operation: Delete Recovery Services Providers
                      provider: Microsoft Recovery   Services
                      resource: Recovery Services Providers
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationRecoveryServicesProviders/delete
                    origin: user,system
                  - display:
                      description: Refresh   Provider
                      operation: Refresh Provider
                      provider: Microsoft Recovery Services
                      resource: Recovery Services Providers
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationRecoveryServicesProviders/refreshProvider/action
                    origin: user,system
                  - display:
                      description: Read Any Fabrics
                      operation: Read Fabrics
                      provider: Microsoft Recovery   Services
                      resource: Fabrics
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/read
                    origin: user,system
                  - display:
                      description: Create or Update Any Fabrics
                      operation: Create or Update Fabrics
                      provider: Microsoft Recovery   Services
                      resource: Fabrics
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/write
                    origin: user,system
                  - display:
                      description: Remove Fabric
                      operation: Remove Fabric
                      provider: Microsoft Recovery   Services
                      resource: Fabrics
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/remove/action
                    origin: user,system
                  - display:
                      description: Checks Consistency of the   Fabric
                      operation: Checks Consistency of the Fabric
                      provider: Microsoft Recovery   Services
                      resource: Fabrics
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/checkConsistency/action
                    origin: user,system
                  - display:
                      description: Delete Any Fabrics
                      operation: Delete Fabrics
                      provider: Microsoft Recovery   Services
                      resource: Fabrics
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/delete
                    origin: user,system
                  - display:
                      description: Renew Certificate for Fabric
                      operation: Renew Certificate for Fabric
                      provider: Microsoft Recovery   Services
                      resource: Fabrics
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/renewcertificate/action
                    origin: user,system
                  - display:
                      description: Deploy Process Server Image
                      operation: Deploy Process Server Image
                      provider: Microsoft Recovery   Services
                      resource: Fabrics
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/deployProcessServerImage/action
                    origin: user,system
                  - display:
                      description: Reassociate Gateway
                      operation: Reassociate Gateway
                      provider: Microsoft Recovery   Services
                      resource: Fabrics
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/reassociateGateway/action
                    origin: user,system
                  - display:
                      description: Read Any Storage   Classifications
                      operation: Read Storage Classifications
                      provider: Microsoft Recovery   Services
                      resource: Storage Classifications
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationStorageClassifications/read
                    origin: user,system
                  - display:
                      description: Read Any Storage Classification Mappings
                      operation: Read Storage Classification   Mappings
                      provider: Microsoft Recovery Services
                      resource: Storage Classification Mappings
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationStorageClassifications/replicationStorageClassificationMappings/read
                    origin: user,system
                  - display:
                      description: Create or Update Any Storage Classification Mappings
                      operation: Create or Update Storage Classification   Mappings
                      provider: Microsoft Recovery Services
                      resource: Storage Classification Mappings
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationStorageClassifications/replicationStorageClassificationMappings/write
                    origin: user,system
                  - display:
                      description: Delete Any Storage Classification Mappings
                      operation: Delete Storage Classification   Mappings
                      provider: Microsoft Recovery Services
                      resource: Storage Classification Mappings
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationStorageClassifications/replicationStorageClassificationMappings/delete
                    origin: user,system
                  - display:
                      description: Read Any Vault Usages
                      operation: Read   Vault Usages
                      provider: Microsoft Recovery Services
                      resource: Vault Usages
                    name: Microsoft.RecoveryServices/vaults/usages/read
                    origin: user,system
                  - display:
                      description: Read Any Jobs
                      operation: Read Jobs
                      provider: Microsoft Recovery   Services
                      resource: Jobs
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationvCenters/read
                    origin: user,system
                  - display:
                      description: Create or Update Any Jobs
                      operation: Create or Update Jobs
                      provider: Microsoft Recovery   Services
                      resource: Jobs
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationvCenters/write
                    origin: user,system
                  - display:
                      description: Delete Any Jobs
                      operation: Delete Jobs
                      provider: Microsoft Recovery   Services
                      resource: Jobs
                    name: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationvCenters/delete
                    origin: user,system
                  - display:
                      description: Returns usage details for a Recovery Services Vault.
                      operation: Recovery Services Vault usage details.
                      provider: Microsoft.RecoveryServices
                      resource: Vault   Usage
                    name: Microsoft.RecoveryServices/Vaults/usages/read
                    origin: user
                  - display:
                      description: Returns summaries for   Protected Items and Protected Servers for a Recovery Services .
                      operation: Recovery Services Protected Items and Protected Servers usage summaries details.
                      provider: Microsoft.RecoveryServices
                      resource: Backup Usages   Summaries
                    name: Microsoft.RecoveryServices/Vaults/backupUsageSummaries/read
                    origin: user
                  - display:
                      description: Returns Storage Configuration for Recovery Services Vault.
                      operation: Get Resource Storage Config
                      provider: Microsoft.RecoveryServices
                      resource: Vault Storage   Config
                    name: Microsoft.RecoveryServices/Vaults/storageConfig/read
                    origin: user
                  - display:
                      description: Updates Storage Configuration for Recovery Services Vault.
                      operation: Write Resource Storage Config
                      provider: Microsoft.RecoveryServices
                      resource: Vault Storage   Config
                    name: Microsoft.RecoveryServices/Vaults/storageConfig/write
                    origin: user
                  - display:
                      description: Returns Configuration for Recovery Services Vault.
                      operation: Get Resource Config
                      provider: Microsoft.RecoveryServices
                      resource: Vault   Config
                    name: Microsoft.RecoveryServices/Vaults/backupconfig/vaultconfig/read
                    origin: user
                  - display:
                      description: Updates Configuration for Recovery Services Vault.
                      operation: Update Resource Config
                      provider: Microsoft.RecoveryServices
                      resource: Vault   Config
                    name: Microsoft.RecoveryServices/Vaults/backupconfig/vaultconfig/write
                    origin: user
                  - display:
                      description: Returns token information for Recovery Services Vault.
                      operation: Get   Vault Token Info
                      provider: Microsoft.RecoveryServices
                      resource: Token Info
                    name: Microsoft.RecoveryServices/Vaults/tokenInfo/read
                    origin: user
                  - display:
                      description: Returns Security PIN   Information for Recovery Services Vault.
                      operation: Get Security PIN Info
                      provider: Microsoft.RecoveryServices
                      resource: SecurityPINInfo
                    name: Microsoft.RecoveryServices/Vaults/backupSecurityPIN/read
                    origin: user
                  - display:
                      description: Returns   Backup Management Metadata for Recovery Services Vault.
                      operation: Get Backup Management Metadata
                      provider: Microsoft.RecoveryServices
                      resource: Backup Management Metadata
                    name: Microsoft.RecoveryServices/Vaults/backupManagementMetaData/read
                    origin: user
                  - display:
                      description: Returns Backup Operation Result for Recovery Services Vault.
                      operation: Get Backup Operation Result
                      provider: Microsoft.RecoveryServices
                      resource: Backup Operation   Results
                    name: Microsoft.RecoveryServices/Vaults/backupOperationResults/read
                    origin: user
                  - display:
                      description: Returns Backup Operation Status for Recovery Services Vault.
                      operation: Get Backup Operation Status
                      provider: Microsoft.RecoveryServices
                      resource: Backup Operation   Status
                    name: Microsoft.RecoveryServices/Vaults/backupOperations/read
                    origin: user
                  - display:
                      description: Returns all Job Objects
                      operation: Get Jobs
                      provider: Microsoft.RecoveryServices
                      resource: Backup   Jobs
                    name: Microsoft.RecoveryServices/Vaults/backupJobs/read
                    origin: user
                  - display:
                      description: Cancel the Job
                      operation: Cancel Jobs
                      provider: Microsoft.RecoveryServices
                      resource: Backup   Jobs
                    name: Microsoft.RecoveryServices/Vaults/backupJobs/cancel/action
                    origin: user
                  - display:
                      description: Export Jobs
                      operation: Export Jobs
                      provider: Microsoft.RecoveryServices
                      resource: Export Backup   Jobs
                    name: Microsoft.RecoveryServices/Vaults/backupJobsExport/action
                    origin: user
                  - display:
                      description: Returns the Result of Job Operation.
                      operation: Get Job Operation Result
                      provider: Microsoft.RecoveryServices
                      resource: Backup Jobs   Operation Results
                    name: Microsoft.RecoveryServices/Vaults/backupJobs/operationResults/read
                    origin: user
                  - display:
                      description: Returns the Result of Export Job Operation.
                      operation: Get Export Job Operation   Result
                      provider: Microsoft.RecoveryServices
                      resource: Export Backup Jobs Operation Results
                    name: Microsoft.RecoveryServices/Vaults/backupJobsExport/operationResults/read
                    origin: user
                  - display:
                      description: Get Recovery Points for   Protected Items.
                      operation: Get Recovery Points
                      provider: Microsoft.RecoveryServices
                      resource: Recovery Points
                    name: Microsoft.RecoveryServices/Vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints/read
                    origin: user
                  - display:
                      description: Restore Recovery Points for   Protected Items.
                      operation: Restore Recovery Points
                      provider: Microsoft.RecoveryServices
                      resource: Recovery Points
                    name: Microsoft.RecoveryServices/Vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints/restore/action
                    origin: user
                  - display:
                      description: Provision Instant Item Recovery for Protected Item
                      operation: Provision Instant Item Recovery for Protected   Item
                      provider: Microsoft.RecoveryServices
                      resource: Recovery Points
                    name: Microsoft.RecoveryServices/Vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints/provisionInstantItemRecovery/action
                    origin: user
                  - display:
                      description: Revoke Instant Item Recovery for Protected Item
                      operation: Revoke Instant Item Recovery for Protected   Item
                      provider: Microsoft.RecoveryServices
                      resource: Recovery Points
                    name: Microsoft.RecoveryServices/Vaults/backupFabrics/protectionContainers/protectedItems/recoveryPoints/revokeInstantItemRecovery/action
                    origin: user
                  - display:
                      description: Returns all Protection Policies
                      operation: Get Protection Policy
                      provider: Microsoft.RecoveryServices
                      resource: Backup   Policies
                    name: Microsoft.RecoveryServices/Vaults/backupPolicies/read
                    origin: user
                  - display:
                      description: Creates Protection Policy
                      operation: Create Protection Policy
                      provider: Microsoft.RecoveryServices
                      resource: Backup   Policies
                    name: Microsoft.RecoveryServices/Vaults/backupPolicies/write
                    origin: user
                  - display:
                      description: Delete a Protection Policy
                      operation: Delete Protection Policy
                      provider: Microsoft.RecoveryServices
                      resource: Backup   Policies
                    name: Microsoft.RecoveryServices/Vaults/backupPolicies/delete
                    origin: user
                  - display:
                      description: Get Results of Policy Operation.
                      operation: Get Policy Operation Results
                      provider: Microsoft.RecoveryServices
                      resource: Backup   Policy Operation Results
                    name: Microsoft.RecoveryServices/Vaults/backupPolicies/operationResults/read
                    origin: user
                  - display:
                      description: Get Status of Policy Operation.
                      operation: Get Policy Operation Status
                      provider: Microsoft.RecoveryServices
                      resource: Backup   Policy Operation Status
                    name: Microsoft.RecoveryServices/Vaults/backupPolicies/operationStatus/read
                    origin: user
                  - display:
                      description: Returns object details of   the Protected Item
                      operation: Get Protected Item Details
                      provider: Microsoft.RecoveryServices
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/Vaults/backupFabrics/protectionContainers/protectedItems/read
                    origin: user
                  - display:
                      description: Returns the list of all   Protected Items.
                      operation: Get All Protected Items
                      provider: Microsoft.RecoveryServices
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/Vaults/backupProtectedItems/read
                    origin: user
                  - display:
                      description: Create a backup   Protected Item
                      operation: Create Backup Protected Item
                      provider: Microsoft.RecoveryServices
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/Vaults/backupFabrics/protectionContainers/protectedItems/write
                    origin: user
                  - display:
                      description: Deletes Protected   Item
                      operation: Delete Protected Items
                      provider: Microsoft.RecoveryServices
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/Vaults/backupFabrics/protectionContainers/protectedItems/delete
                    origin: user
                  - display:
                      description: Gets Result of Operation Performed on Protected Items.
                      operation: Get Protected Items Operation   Results
                      provider: Microsoft.RecoveryServices
                      resource: Protected Item Operation Results
                    name: Microsoft.RecoveryServices/Vaults/backupFabrics/protectionContainers/protectedItems/operationResults/read
                    origin: user
                  - display:
                      description: Returns the status of Operation performed on Protected Items.
                      operation: Get Protected Items operation   status
                      provider: Microsoft.RecoveryServices
                      resource: Protected Item Operation Status
                    name: Microsoft.RecoveryServices/Vaults/backupFabrics/protectionContainers/protectedItems/operationStatus/read
                    origin: user
                  - display:
                      description: Performs Backup for Protected   Item.
                      operation: Backup Protected Item
                      provider: Microsoft.RecoveryServices
                      resource: Protected Items
                    name: Microsoft.RecoveryServices/Vaults/backupFabrics/protectionContainers/protectedItems/backup/action
                    origin: user
                  - display:
                      description: Returns list of all   Protectable Items.
                      operation: Get Protectable Items
                      provider: Microsoft.RecoveryServices
                      resource: Backup Protectable Items
                    name: Microsoft.RecoveryServices/Vaults/backupProtectableItems/read
                    origin: user
                  - display:
                      description: Refreshes the container   list
                      operation: Refresh container
                      provider: Microsoft.RecoveryServices
                      resource: Refresh Containers
                    name: Microsoft.RecoveryServices/Vaults/refreshContainers/read
                    origin: user
                  - display:
                      description: Returns   status of the operation
                      operation: Get Operation Results
                      provider: Microsoft.RecoveryServices
                      resource: Refresh Containers Operation Results
                    name: Microsoft.RecoveryServices/Vaults/backupFabrics/operationResults/read
                    origin: user
                  - display:
                      description: Returns   all containers belonging to the subscription
                      operation: Get Containers In Subscription
                      provider: Microsoft.RecoveryServices
                      resource: Backup Protection Containers
                    name: Microsoft.RecoveryServices/Vaults/backupProtectionContainers/read
                    origin: user
                  - display:
                      description: Returns all   registered containers
                      operation: Get Registered Container
                      provider: Microsoft.RecoveryServices
                      resource: Protection Containers
                    name: Microsoft.RecoveryServices/Vaults/backupFabrics/protectionContainers/read
                    origin: user
                  - display:
                      description: Gets result of Operation performed on Protection Container.
                      operation: Get Container Operation   Results
                      provider: Microsoft.RecoveryServices
                      resource: Protection Containers Operation Results
                    name: Microsoft.RecoveryServices/Vaults/backupFabrics/protectionContainers/operationResults/read
                    origin: user
                  - display:
                      description: Returns all the backup management servers registered with   vault.
                      operation: List of backup management servers.
                      provider: Microsoft.RecoveryServices
                      resource: Backup   Engines
                    name: Microsoft.RecoveryServices/Vaults/backupEngines
                    origin: user
                  - display:
                      description: Check Backup Status for   Recovery Services Vaults
                      operation: Check Backup Status for Vault
                      provider: Microsoft.RecoveryServices
                      resource: Backup Status
                    name: Microsoft.RecoveryServices/Vaults/backupStatus
                    origin: user
                  - display:
                      description: Create Vault operation creates an Azure resource   of type 'vault'
                      operation: Create Vault
                      provider: Microsoft.RecoveryServices
                      resource: Vaults
                    name: Microsoft.RecoveryServices/Vaults/write
                    origin: user
                  - display:
                      description: The Get Vault operation gets an object representing   the Azure resource of type 'vault'
                      operation: Get Vault
                      provider: Microsoft.RecoveryServices
                      resource: Vaults
                    name: Microsoft.RecoveryServices/Vaults/read
                    origin: user
                  - display:
                      description: The Delete Vault operation deletes the specified   Azure resource of type 'vault'
                      operation: Delete Vault
                      provider: Microsoft.RecoveryServices
                      resource: Vaults
                    name: Microsoft.RecoveryServices/Vaults/delete
                    origin: user
                  - display:
                      description: The Get Extended Info operation gets an   object's Extended Info representing the Azure resource of type ?vault?
                      operation: Get Extended Info
                      provider: Microsoft.RecoveryServices
                      resource: Vaults
                    name: Microsoft.RecoveryServices/Vaults/extendedInformation/read
                    origin: user
                  - display:
                      description: The Get Extended Info operation gets an   object's Extended Info representing the Azure resource of type ?vault?
                      operation: Get Extended Info
                      provider: Microsoft.RecoveryServices
                      resource: Vaults
                    name: Microsoft.RecoveryServices/Vaults/extendedInformation/write
                    origin: user
                  - display:
                      description: The Get Extended Info operation gets an   object's Extended Info representing the Azure resource of type ?vault?
                      operation: Get Extended Info
                      provider: Microsoft.RecoveryServices
                      resource: Vaults
                    name: Microsoft.RecoveryServices/Vaults/extendedInformation/delete
                    origin: user
                  - display:
                      description: GetAllocatedStamp is   internal operation used by service
                      operation: Get Allocated Stamp
                      provider: Microsoft.RecoveryServices
                      resource: locations/allocatedStamp
                    name: Microsoft.RecoveryServices/locations/allocatedStamp/read
                    origin: user
                  - display:
                      description: AllocateStamp is   internal operation used by service
                      operation: Allocated Stamp Action
                      provider: Microsoft.RecoveryServices
                      resource: locations/allocateStamp
                    name: Microsoft.RecoveryServices/locations/allocateStamp/action
                    origin: user
      x-ms-pageable:
        nextLinkName: nextLink
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationAlertSettings":
    get:
      description: Gets the list of email notification(alert) configurations for the vault.
      operationId: ReplicationAlertSettings_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AlertCollection"
      summary: Gets the list of configured email notification(alert) configurations.
      tags:
        - ReplicationAlertSettings
      x-ms-examples:
        Gets the list of configured email notification(alert) configurations.:
          parameters:
            api-version: 2018-07-10
            resourceGroupName: resourceGroupPS1
            resourceName: vault1
            subscriptionId: c183865e-6077-46f2-a3b1-deb0f4f4650a
          responses:
            "200":
              body:
                value:
                  - id: /Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/resourceGroupPS1/providers/Microsoft.RecoveryServices/vaults/vault1/replicationAlertSettings/defaultAlertSetting
                    name: defaultAlertSetting
                    properties:
                      customEmailAddresses:
                        - ronehr@microsoft.com
                      locale: en-US
                      sendToOwners: "false"
                    type: Microsoft.RecoveryServices/vaults/replicationAlertSettings
      x-ms-pageable:
        nextLinkName: nextLink
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationAlertSettings/{alertSettingName}":
    get:
      description: Gets the details of the specified email notification(alert) configuration.
      operationId: ReplicationAlertSettings_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: The name of the email notification configuration.
          in: path
          name: alertSettingName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Alert"
      summary: Gets an email notification(alert) configuration.
      tags:
        - ReplicationAlertSettings
      x-ms-examples:
        Gets an email notification(alert) configuration.:
          parameters:
            alertSettingName: defaultAlertSetting
            api-version: 2018-07-10
            resourceGroupName: resourceGroupPS1
            resourceName: vault1
            subscriptionId: c183865e-6077-46f2-a3b1-deb0f4f4650a
          responses:
            "200":
              body:
                id: /Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/resourceGroupPS1/providers/Microsoft.RecoveryServices/vaults/vault1/replicationAlertSettings/defaultAlertSetting
                name: defaultAlertSetting
                properties:
                  customEmailAddresses:
                    - ronehr@microsoft.com
                  locale: en-US
                  sendToOwners: "false"
                type: Microsoft.RecoveryServices/vaults/replicationAlertSettings
    put:
      description: Create or update an email notification(alert) configuration.
      operationId: ReplicationAlertSettings_Create
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: The name of the email notification(alert) configuration.
          in: path
          name: alertSettingName
          required: true
          type: string
        - description: The input to configure the email notification(alert).
          in: body
          name: request
          required: true
          schema:
            $ref: "#/definitions/ConfigureAlertRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Alert"
      summary: Configures email notifications for this vault.
      tags:
        - ReplicationAlertSettings
      x-ms-examples:
        Configures email notifications for this vault.:
          parameters:
            alertSettingName: defaultAlertSetting
            api-version: 2018-07-10
            request:
              properties:
                customEmailAddresses:
                  - ronehr@microsoft.com
                locale: ""
                sendToOwners: "false"
            resourceGroupName: resourceGroupPS1
            resourceName: vault1
            subscriptionId: c183865e-6077-46f2-a3b1-deb0f4f4650a
          responses:
            "200":
              body:
                id: /Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/resourceGroupPS1/providers/Microsoft.RecoveryServices/vaults/vault1/replicationAlertSettings/defaultAlertSetting
                name: defaultAlertSetting
                properties:
                  customEmailAddresses:
                    - ronehr@microsoft.com
                  locale: en-US
                  sendToOwners: "false"
                type: Microsoft.RecoveryServices/vaults/replicationAlertSettings
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationEvents":
    get:
      description: Gets the list of Azure Site Recovery events for the vault.
      operationId: ReplicationEvents_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: OData filter options.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/EventCollection"
      summary: Gets the list of Azure Site Recovery events.
      tags:
        - ReplicationEvents
      x-ms-examples:
        Gets the list of Azure Site Recovery events.:
          parameters:
            api-version: 2018-07-10
            resourceGroupName: resourceGroupPS1
            resourceName: vault1
            subscriptionId: c183865e-6077-46f2-a3b1-deb0f4f4650a
          responses:
            "200":
              body:
                value:
                  - id: /Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/resourceGroupPS1/providers/Microsoft.RecoveryServices/vaults/vault1/replicationEvents/JobStatusMonitoringEvent;9091989892524070155_4ed6f1a6-9b6d-4048-9079-1307dd24b814
                    name: JobStatusMonitoringEvent;9091989892524070155_4ed6f1a6-9b6d-4048-9079-1307dd24b814
                    properties:
                      affectedObjectFriendlyName: vm1
                      description: TestFailover - Failed
                      eventCode: d32574f6-f59e-4545-b5ac-bc88d545f089
                      eventSpecificDetails:
                        instanceType: JobStatus
                      eventType: JobStatus
                      fabricId: /Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/resourceGroupPS1/providers/Microsoft.RecoveryServices/vaults/vault1/replicationFabrics/cloud1
                      healthErrors:
                        - errorCode: "499"
                          errorMessage: An internal error occurred.
                          possibleCauses: The operation failed due to an internal error.
                          recommendedAction: Retry the last action. If the issue persists, contact Support.
                      providerSpecificDetails:
                        instanceType: HyperVReplicaAzure
                      severity: Critical
                      timeOfOccurrence: 2017-05-02T16:00:33.0705652Z
                    type: Microsoft.RecoveryServices/vaults/replicationEvents
                  - id: /Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/resourceGroupPS1/providers/Microsoft.RecoveryServices/vaults/vault1/replicationEvents/VmMonitoringEvent;9091989947769704276_516de684-0079-48f7-b44b-882923268654
                    name: VmMonitoringEvent;9091989947769704276_516de684-0079-48f7-b44b-882923268654
                    properties:
                      affectedObjectFriendlyName: vm1
                      description: Virtual machine health is OK
                      eventCode: d9a07b07-c7b5-49ca-ab6c-6926596dfe47
                      eventSpecificDetails:
                        instanceType: JobStatus
                      eventType: VmHealth
                      fabricId: /Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/resourceGroupPS1/providers/Microsoft.RecoveryServices/vaults/vault1/replicationFabrics/cloud1
                      healthErrors: []
                      providerSpecificDetails:
                        instanceType: HyperVReplicaAzure
                      severity: OK
                      timeOfOccurrence: 2017-05-02T14:28:28.5071531Z
                    type: Microsoft.RecoveryServices/vaults/replicationEvents
      x-ms-odata: "#/definitions/EventQueryParameter"
      x-ms-pageable:
        nextLinkName: nextLink
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationEvents/{eventName}":
    get:
      description: The operation to get the details of an Azure Site recovery event.
      operationId: ReplicationEvents_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: The name of the Azure Site Recovery event.
          in: path
          name: eventName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Event"
      summary: Get the details of an Azure Site recovery event.
      tags:
        - ReplicationEvents
      x-ms-examples:
        Get the details of an Azure Site recovery event.:
          parameters:
            api-version: 2018-07-10
            eventName: 654b71d0-b2ce-4e6e-a861-98528d4bd375
            resourceGroupName: resourceGroupPS1
            resourceName: vault1
            subscriptionId: c183865e-6077-46f2-a3b1-deb0f4f4650a
          responses:
            "200":
              body:
                id: /Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/resourceGroupPS1/providers/Microsoft.RecoveryServices/vaults/vault1/replicationEvents/VmMonitoringEvent;9091989947769704276_516de684-0079-48f7-b44b-882923268654
                name: VmMonitoringEvent;9091989947769704276_516de684-0079-48f7-b44b-882923268654
                properties:
                  affectedObjectFriendlyName: vm1
                  description: Virtual machine health is OK
                  eventCode: d9a07b07-c7b5-49ca-ab6c-6926596dfe47
                  eventSpecificDetails:
                    instanceType: JobStatus
                  eventType: VmHealth
                  fabricId: /Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/resourceGroupPS1/providers/Microsoft.RecoveryServices/vaults/vault1/replicationFabrics/cloud1
                  healthErrors: []
                  providerSpecificDetails:
                    instanceType: HyperVReplicaAzure
                  severity: OK
                  timeOfOccurrence: 2017-05-02T14:28:28.5071531Z
                type: Microsoft.RecoveryServices/vaults/replicationEvents
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics":
    get:
      description: Gets a list of the Azure Site Recovery fabrics in the vault.
      operationId: ReplicationFabrics_List
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/FabricCollection"
      summary: Gets the list of ASR fabrics
      tags:
        - ReplicationFabrics
      x-ms-examples:
        Gets the list of ASR fabrics:
          parameters:
            api-version: 2018-07-10
            resourceGroupName: resourceGroupPS1
            resourceName: vault1
            subscriptionId: c183865e-6077-46f2-a3b1-deb0f4f4650a
          responses:
            "200":
              body:
                value:
                  - id: /Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/resourceGroupPS1/providers/Microsoft.RecoveryServices/vaults/vault1/replicationFabrics/cloud1
                    name: cloud1
                    properties:
                      bcdrState: Valid
                      customDetails:
                        instanceType: HyperVSite
                      encryptionDetails:
                        kekState: None
                      friendlyName: cloud1
                      health: Normal
                      healthErrorDetails: []
                      internalIdentifier: 6d224fc6-f326-5d35-96de-fbf51efb3179
                      rolloverEncryptionDetails:
                        kekState: None
                    type: Microsoft.RecoveryServices/vaults/replicationFabrics
      x-ms-pageable:
        nextLinkName: nextLink
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}":
    delete:
      description: The operation to purge(force delete) an Azure Site Recovery fabric.
      operationId: ReplicationFabrics_Purge
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: ASR fabric to purge.
          in: path
          name: fabricName
          required: true
          type: string
      responses:
        "202":
          description: Accepted
        "204":
          description: NoContent
      summary: Purges the site.
      tags:
        - ReplicationFabrics
      x-ms-examples:
        Purges the site.:
          parameters:
            api-version: 2018-07-10
            fabricName: cloud1
            resourceGroupName: resourceGroupPS1
            resourceName: vault1
            subscriptionId: c183865e-6077-46f2-a3b1-deb0f4f4650a
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the details of an Azure Site Recovery fabric.
      operationId: ReplicationFabrics_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Fabric name.
          in: path
          name: fabricName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Fabric"
      summary: Gets the details of an ASR fabric.
      tags:
        - ReplicationFabrics
      x-ms-examples:
        Gets the details of an ASR fabric.:
          parameters:
            api-version: 2018-07-10
            fabricName: cloud1
            resourceGroupName: resourceGroupPS1
            resourceName: vault1
            subscriptionId: c183865e-6077-46f2-a3b1-deb0f4f4650a
          responses:
            "200":
              body:
                id: /Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/resourceGroupPS1/providers/Microsoft.RecoveryServices/vaults/vault1/replicationFabrics/cloud1
                name: cloud1
                properties:
                  bcdrState: Valid
                  customDetails:
                    instanceType: HyperVSite
                  encryptionDetails:
                    kekState: None
                  friendlyName: cloud1
                  health: Normal
                  healthErrorDetails: []
                  internalIdentifier: 6d224fc6-f326-5d35-96de-fbf51efb3179
                  rolloverEncryptionDetails:
                    kekState: None
                type: Microsoft.RecoveryServices/vaults/replicationFabrics
    put:
      description: The operation to create an Azure Site Recovery fabric (for e.g. Hyper-V site)
      operationId: ReplicationFabrics_Create
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Name of the ASR fabric.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Fabric creation input.
          in: body
          name: input
          required: true
          schema:
            $ref: "#/definitions/FabricCreationInput"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Fabric"
        "202":
          description: Accepted
      summary: Creates an Azure Site Recovery fabric.
      tags:
        - ReplicationFabrics
      x-ms-examples:
        Creates an Azure Site Recovery fabric.:
          parameters:
            api-version: 2018-07-10
            fabricName: cloud1
            input:
              properties:
                customDetails:
                  instanceType: FabricSpecificCreationInput
            resourceGroupName: resourceGroupPS1
            resourceName: vault1
            subscriptionId: c183865e-6077-46f2-a3b1-deb0f4f4650a
          responses:
            "200":
              body:
                id: /Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/resourceGroupPS1/providers/Microsoft.RecoveryServices/vaults/vault1/replicationFabrics/cloud1
                name: cloud1
                properties:
                  bcdrState: Valid
                  customDetails:
                    instanceType: HyperVSite
                  encryptionDetails:
                    kekState: None
                  friendlyName: cloud1
                  health: Normal
                  healthErrorDetails: []
                  internalIdentifier: 6d224fc6-f326-5d35-96de-fbf51efb3179
                  rolloverEncryptionDetails:
                    kekState: None
                type: Microsoft.RecoveryServices/vaults/replicationFabrics
            "202": {}
      x-ms-long-running-operation: true
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/checkConsistency":
    post:
      description: The operation to perform a consistency check on the fabric.
      operationId: ReplicationFabrics_CheckConsistency
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Fabric name.
          in: path
          name: fabricName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Fabric"
        "202":
          description: Accepted
      summary: Checks the consistency of the ASR fabric.
      tags:
        - ReplicationFabrics
      x-ms-examples:
        Checks the consistency of the ASR fabric.:
          parameters:
            api-version: 2018-07-10
            fabricName: cloud1
            resourceGroupName: resourceGroupPS1
            resourceName: vault1
            subscriptionId: c183865e-6077-46f2-a3b1-deb0f4f4650a
          responses:
            "200":
              body:
                id: /Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/resourceGroupPS1/providers/Microsoft.RecoveryServices/vaults/vault1/replicationFabrics/cloud1
                name: cloud1
                properties:
                  bcdrState: Valid
                  customDetails:
                    instanceType: HyperVSite
                  encryptionDetails:
                    kekState: None
                  friendlyName: cloud1
                  health: Normal
                  healthErrorDetails: []
                  internalIdentifier: 6d224fc6-f326-5d35-96de-fbf51efb3179
                  rolloverEncryptionDetails:
                    kekState: None
                type: Microsoft.RecoveryServices/vaults/replicationFabrics
            "202": {}
      x-ms-long-running-operation: true
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/migratetoaad":
    post:
      description: The operation to migrate an Azure Site Recovery fabric to AAD.
      operationId: ReplicationFabrics_MigrateToAad
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: ASR fabric to migrate.
          in: path
          name: fabricName
          required: true
          type: string
      responses:
        "202":
          description: Accepted
        "204":
          description: NoContent
      summary: Migrates the site to AAD.
      tags:
        - ReplicationFabrics
      x-ms-examples:
        Migrates the site to AAD.:
          parameters:
            api-version: 2018-07-10
            fabricName: cloud1
            resourceGroupName: resourceGroupPS1
            resourceName: vault1
            subscriptionId: c183865e-6077-46f2-a3b1-deb0f4f4650a
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/reassociateGateway":
    post:
      description: The operation to move replications from a process server to another process server.
      operationId: ReplicationFabrics_ReassociateGateway
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: The name of the fabric containing the process server.
          in: path
          name: fabricName
          required: true
          type: string
        - description: The input to the failover process server operation.
          in: body
          name: failoverProcessServerRequest
          required: true
          schema:
            $ref: "#/definitions/FailoverProcessServerRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Fabric"
        "202":
          description: Accepted
      summary: Perform failover of the process server.
      tags:
        - ReplicationFabrics
      x-ms-examples:
        Perform failover of the process server.:
          parameters:
            api-version: 2018-07-10
            fabricName: GRACE-V2A-1
            failoverProcessServerRequest:
              properties:
                containerName: cloud_1f3c15af-2256-4568-9e06-e1ef4f728f75
                sourceProcessServerId: AFA0EC54-1894-4E44-9CAB02DB8854B117
                targetProcessServerId: 5D3ED340-85AE-C646-B338641E015DA405
                updateType: ServerLevel
                vmsToMigrate:
                  - Vm1
                  - Vm2
            resourceGroupName: MadhaviVRG
            resourceName: MadhaviVault
            subscriptionId: 7c943c1b-5122-4097-90c8-861411bdd574
          responses:
            "200":
              body:
                id: /Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/MadhaviVRG/providers/Microsoft.RecoveryServices/vaults/MadhaviVault/replicationFabrics/bc15edf300344660d9c2965f5d9225593d99734f6580613c997033abc3512a56
                name: bc15edf300344660d9c2965f5d9225593d99734f6580613c997033abc3512a56
                properties:
                  bcdrState: Valid
                  customDetails:
                    instanceType: VMware
                  encryptionDetails:
                    kekState: None
                  friendlyName: GRACE-V2A-1
                  health: Normal
                  healthErrorDetails: []
                  internalIdentifier: 1f3c15af-2256-4568-9e06-e1ef4f728f75
                  rolloverEncryptionDetails:
                    kekState: None
                type: Microsoft.RecoveryServices/vaults/replicationFabrics
            "202": {}
      x-ms-long-running-operation: true
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/remove":
    post:
      description: The operation to delete or remove an Azure Site Recovery fabric.
      operationId: ReplicationFabrics_Delete
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: ASR fabric to delete
          in: path
          name: fabricName
          required: true
          type: string
      responses:
        "202":
          description: Accepted
        "204":
          description: NoContent
      summary: Deletes the site.
      tags:
        - ReplicationFabrics
      x-ms-examples:
        Deletes the site.:
          parameters:
            api-version: 2018-07-10
            fabricName: cloud1
            resourceGroupName: resourceGroupPS1
            resourceName: vault1
            subscriptionId: c183865e-6077-46f2-a3b1-deb0f4f4650a
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/renewCertificate":
    post:
      description: Renews the connection certificate for the ASR replication fabric.
      operationId: ReplicationFabrics_RenewCertificate
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: fabric name to renew certs for.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Renew certificate input.
          in: body
          name: renewCertificate
          required: true
          schema:
            $ref: "#/definitions/RenewCertificateInput"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Fabric"
        "202":
          description: Accepted
      summary: Renews certificate for the fabric.
      tags:
        - ReplicationFabrics
      x-ms-examples:
        Renews certificate for the fabric.:
          parameters:
            api-version: 2018-07-10
            fabricName: cloud1
            renewCertificate:
              properties:
                renewCertificateType: Cloud
            resourceGroupName: resourceGroupPS1
            resourceName: vault1
            subscriptionId: c183865e-6077-46f2-a3b1-deb0f4f4650a
          responses:
            "200":
              body:
                id: /Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/resourceGroupPS1/providers/Microsoft.RecoveryServices/vaults/vault1/replicationFabrics/cloud1
                name: cloud1
                properties:
                  bcdrState: Valid
                  customDetails:
                    instanceType: HyperVSite
                  encryptionDetails:
                    kekState: None
                  friendlyName: cloud1
                  health: Normal
                  healthErrorDetails: []
                  internalIdentifier: 6d224fc6-f326-5d35-96de-fbf51efb3179
                  rolloverEncryptionDetails:
                    kekState: None
                type: Microsoft.RecoveryServices/vaults/replicationFabrics
            "202": {}
      x-ms-long-running-operation: true
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationLogicalNetworks":
    get:
      description: Lists all the logical networks of the Azure Site Recovery fabric
      operationId: ReplicationLogicalNetworks_ListByReplicationFabrics
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Server Id.
          in: path
          name: fabricName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/LogicalNetworkCollection"
      summary: Gets the list of logical networks under a fabric.
      tags:
        - ReplicationLogicalNetworks
      x-ms-examples:
        Gets the list of logical networks under a fabric.:
          parameters:
            api-version: 2018-07-10
            fabricName: cloud1
            resourceGroupName: resourceGroupPS1
            resourceName: vault1
            subscriptionId: c183865e-6077-46f2-a3b1-deb0f4f4650a
          responses:
            "200":
              body:
                value:
                  - id: /Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/resourceGroupPS1/providers/Microsoft.RecoveryServices/vaults/vault1/replicationFabrics/cloud1/replicationLogicalNetworks/53f5a278-ae85-4001-bd5f-f6a02e1f579d
                    name: 87ab394f-165f-4aa9-bd84-b018500b4509
                    properties:
                      friendlyName: corp
                      logicalNetworkDefinitionsStatus: LogicalNetworkDefinitionsNotIsolated
                      logicalNetworkUsage: NotUsedAsPrivateNetworkForTestFailover
                      networkVirtualizationStatus: NetworkVirtualizationNotEnabled
                    type: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationLogicalNetworks
                  - id: /Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/resourceGroupPS1/providers/Microsoft.RecoveryServices/vaults/vault1/replicationFabrics/cloud1/replicationLogicalNetworks/87ab394f-165f-4aa9-bd84-b018500b4509
                    name: 53f5a278-ae85-4001-bd5f-f6a02e1f579d
                    properties:
                      friendlyName: LN-VLANNetwork-4
                      logicalNetworkDefinitionsStatus: LogicalNetworkDefinitionsIsolated
                      logicalNetworkUsage: NotUsedAsPrivateNetworkForTestFailover
                      networkVirtualizationStatus: NetworkVirtualizationNotEnabled
                    type: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationLogicalNetworks
      x-ms-pageable:
        nextLinkName: nextLink
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationLogicalNetworks/{logicalNetworkName}":
    get:
      description: Gets the details of a logical network.
      operationId: ReplicationLogicalNetworks_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Server Id.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Logical network name.
          in: path
          name: logicalNetworkName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/LogicalNetwork"
      summary: Gets a logical network with specified server id and logical network name.
      tags:
        - ReplicationLogicalNetworks
      x-ms-examples:
        Gets a logical network with specified server id and logical network name.:
          parameters:
            api-version: 2018-07-10
            fabricName: cloud1
            logicalNetworkName: 87ab394f-165f-4aa9-bd84-b018500b4509
            resourceGroupName: resourceGroupPS1
            resourceName: vault1
            subscriptionId: c183865e-6077-46f2-a3b1-deb0f4f4650a
          responses:
            "200":
              body:
                id: /Subscriptions/c183865e-6077-46f2-a3b1-deb0f4f4650a/resourceGroups/resourceGroupPS1/providers/Microsoft.RecoveryServices/vaults/vault1/replicationFabrics/cloud1/replicationLogicalNetworks/53f5a278-ae85-4001-bd5f-f6a02e1f579d
                name: 87ab394f-165f-4aa9-bd84-b018500b4509
                properties:
                  friendlyName: corp
                  logicalNetworkDefinitionsStatus: LogicalNetworkDefinitionsNotIsolated
                  logicalNetworkUsage: NotUsedAsPrivateNetworkForTestFailover
                  networkVirtualizationStatus: NetworkVirtualizationNotEnabled
                type: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationLogicalNetworks
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationNetworks":
    get:
      description: Lists the networks available for a fabric.
      operationId: ReplicationNetworks_ListByReplicationFabrics
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Fabric name
          in: path
          name: fabricName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/NetworkCollection"
      summary: Gets the list of networks under a fabric.
      tags:
        - ReplicationNetworks
      x-ms-examples:
        Gets the list of networks under a fabric.:
          parameters:
            api-version: 2018-07-10
            fabricName: b0cef6e9a4437b81803d0b55ada4f700ab66caae59c35d62723a1589c0cd13ac
            resourceGroupName: srcBvte2a14C27
            resourceName: srce2avaultbvtaC27
            subscriptionId: 9112a37f-0f3e-46ec-9c00-060c6edca071
          responses:
            "200":
              body:
                value:
                  - id: /Subscriptions/9112a37f-0f3e-46ec-9c00-060c6edca071/resourceGroups/srcBvte2a14C27/providers/Microsoft.RecoveryServices/vaults/srce2avaultbvtaC27/replicationFabrics/b0cef6e9a4437b81803d0b55ada4f700ab66caae59c35d62723a1589c0cd13ac/replicationNetworks/93ce99d7-1219-4914-aa61-73fe5023988e
                    name: 93ce99d7-1219-4914-aa61-73fe5023988e
                    properties:
                      fabricType: VMM
                      friendlyName: VSwitch_VLan
                      networkType: NoIsolation
                      subnets: []
                    type: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationNetworks
                  - id: /Subscriptions/9112a37f-0f3e-46ec-9c00-060c6edca071/resourceGroups/srcBvte2a14C27/providers/Microsoft.RecoveryServices/vaults/srce2avaultbvtaC27/replicationFabrics/b0cef6e9a4437b81803d0b55ada4f700ab66caae59c35d62723a1589c0cd13ac/replicationNetworks/b83bf8fd-f304-48d7-82c9-5d74e6215c1b
                    name: b83bf8fd-f304-48d7-82c9-5d74e6215c1b
                    properties:
                      fabricType: VMM
                      friendlyName: VSwitch_NoIso
                      networkType: NoIsolation
                      subnets: []
                    type: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationNetworks
                  - id: /Subscriptions/9112a37f-0f3e-46ec-9c00-060c6edca071/resourceGroups/srcBvte2a14C27/providers/Microsoft.RecoveryServices/vaults/srce2avaultbvtaC27/replicationFabrics/b0cef6e9a4437b81803d0b55ada4f700ab66caae59c35d62723a1589c0cd13ac/replicationNetworks/e2267b5c-2650-49bd-ab3f-d66aae694c06
                    name: e2267b5c-2650-49bd-ab3f-d66aae694c06
                    properties:
                      fabricType: VMM
                      friendlyName: corp
                      networkType: NoIsolation
                      subnets: []
                    type: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationNetworks
      x-ms-pageable:
        nextLinkName: nextLink
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationNetworks/{networkName}":
    get:
      description: Gets the details of a network.
      operationId: ReplicationNetworks_Get
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Server Id.
          in: path
          name: fabricName
          required: true
          type: string
        - description: Primary network name.
          in: path
          name: networkName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Network"
      summary: Gets a network with specified server id and network name.
      tags:
        - ReplicationNetworks
      x-ms-examples:
        Gets a network with specified server id and network name.:
          parameters:
            api-version: 2018-07-10
            fabricName: b0cef6e9a4437b81803d0b55ada4f700ab66caae59c35d62723a1589c0cd13ac
            networkName: 93ce99d7-1219-4914-aa61-73fe5023988e
            resourceGroupName: srcBvte2a14C27
            resourceName: srce2avaultbvtaC27
            subscriptionId: 9112a37f-0f3e-46ec-9c00-060c6edca071
          responses:
            "200":
              body:
                id: /Subscriptions/9112a37f-0f3e-46ec-9c00-060c6edca071/resourceGroups/srcBvte2a14C27/providers/Microsoft.RecoveryServices/vaults/srce2avaultbvtaC27/replicationFabrics/b0cef6e9a4437b81803d0b55ada4f700ab66caae59c35d62723a1589c0cd13ac/replicationNetworks/93ce99d7-1219-4914-aa61-73fe5023988e
                name: 93ce99d7-1219-4914-aa61-73fe5023988e
                properties:
                  fabricType: VMM
                  friendlyName: VSwitch_VLan
                  networkType: NoIsolation
                  subnets: []
                type: Microsoft.RecoveryServices/vaults/replicationFabrics/replicationNetworks
  "/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{resourceName}/replicationFabrics/{fabricName}/replicationNetworks/{networkName}/replicationNetworkMappings":
    get:
      description: Lists all ASR network mappings for the specified network.
      operationId: ReplicationNetworkMappings_ListByReplicationNetworks
      parameters:
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/ResourceName"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/SubscriptionId"
        - description: Primary fabric name.
          in: path
          name: fabricName
          required: true
          type: string
[...]
