swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Creates an Azure Data Lake Store account management client.
  title: DataLakeStoreAccountManagementClient
  version: 2016-11-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/datalake-store/resource-manager/Microsoft.DataLakeStore/stable/2016-11-01/account.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: datalake-store-account
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  AccountNameParameter:
    description: The name of the Data Lake Store account.
    in: path
    name: accountName
    required: true
    type: string
    x-ms-parameter-location: method
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupNameParameter:
    description: The name of the Azure resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.DataLakeStore/operations:
    get:
      description: Lists all of the available Data Lake Store REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully listed the available operations for Data Lake Store.
          schema:
            $ref: "#/definitions/OperationListResult"
      tags:
        - Operations
      x-ms-examples:
        Lists all of the available Data Lake Store REST API operations:
          parameters:
            api-version: 2016-11-01
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>
                value:
                  - display:
                      description: Get available operations of DataLakeStore.
                      operation: Get Available Operations
                      provider: Microsoft DataLakeStore
                      resource: Available Operations
                    name: Microsoft.DataLakeStore/operations/read
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/accounts":
    get:
      description: Lists the Data Lake Store accounts within the subscription. The response includes a link to the next page of results, if any.
      operationId: Accounts_List
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: OData filter. Optional.
          in: query
          name: $filter
          required: false
          type: string
        - description: The number of items to return. Optional.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
        - description: The number of items to skip over before returning elements. Optional.
          format: int32
          in: query
          minimum: 1
          name: $skip
          required: false
          type: integer
        - description: OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.
          in: query
          name: $select
          required: false
          type: string
        - description: OrderBy clause. One or more comma-separated expressions with an optional "asc" (the default) or "desc" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.
          in: query
          name: $orderby
          required: false
          type: string
        - description: The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.
          in: query
          name: $count
          required: false
          type: boolean
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of accounts.
          schema:
            $ref: "#/definitions/DataLakeStoreAccountListResult"
      tags:
        - Accounts
      x-ms-examples:
        Lists the Data Lake Store accounts within the subscription:
          parameters:
            $count: false
            $filter: test_filter
            $orderby: test_orderby
            $select: test_select
            $skip: 1
            $top: 1
            api-version: 2016-11-01
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeStore/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>
                value:
                  - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    location: eastus2
                    name: contosoadla
                    properties:
                      accountId: 94f4bf5d-78a9-4c31-8aa7-b34d07bad898
                      creationTime: 2017-04-14T13:21:56.6819037-07:00
                      endpoint: testadlfs17607.azuredatalakestore.net
                      lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                      provisioningState: Succeeded
                      state: Active
                    tags:
                      test_key: test_value
                    type: test_type
      x-ms-odata: "#/definitions/DataLakeStoreAccountBasic"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/capability":
    get:
      description: Gets subscription-level properties and limits for Data Lake Store specified by resource location.
      operationId: Locations_GetCapability
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The resource location without whitespace.
          in: path
          name: location
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the subscription-level properties and limits for Data Lake Store specified by resource location.
          schema:
            $ref: "#/definitions/CapabilityInformation"
        "404":
          description: Subscription not found.
      tags:
        - Locations
      x-ms-examples:
        Gets subscription-level properties and limits for Data Lake Store specified by resource location:
          parameters:
            api-version: 2016-11-01
            location: EastUS2
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                accountCount: 100
                maxAccountCount: 150
                migrationState: false
                state: Registered
                subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            "404": {}
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/checkNameAvailability":
    post:
      description: Checks whether the specified account name is available or taken.
      operationId: Accounts_CheckNameAvailability
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The resource location without whitespace.
          in: path
          name: location
          required: true
          type: string
        - description: Parameters supplied to check the Data Lake Store account name availability.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CheckNameAvailabilityParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the Data Lake Store account name availability information.
          schema:
            $ref: "#/definitions/NameAvailabilityInformation"
      tags:
        - Accounts
      x-ms-examples:
        Checks whether the specified account name is available or taken:
          parameters:
            api-version: 2016-11-01
            location: EastUS2
            parameters:
              name: contosoadla
              type: Microsoft.DataLakeStore/accounts
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                message: An account named 'abc' already exists.
                nameAvailable: false
                reason: AlreadyExists
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeStore/locations/{location}/usages":
    get:
      description: Gets the current usage count and the limit for the resources of the location under the subscription.
      operationId: Locations_GetUsage
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The resource location without whitespace.
          in: path
          name: location
          required: true
          type: string
      responses:
        "200":
          description: OK -- current usage count and limit retrieved and returned successfully.
          schema:
            $ref: "#/definitions/UsageListResult"
      tags:
        - LocationUsage
      x-ms-examples:
        UsageList:
          parameters:
            api-version: 2016-11-01
            location: WestUS
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - currentValue: 69
                    id: /subscriptions/0f936178-0d48-4777-a7ab-47860b604941/providers/Microsoft.DataLakeStore/locations/WestUS/usages/DataLakeStoreAccounts
                    limit: -1
                    name:
                      localizedValue: Data Lake Store Accounts
                      value: DataLakeStoreAccounts
                    unit: Count
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts":
    get:
      description: Lists the Data Lake Store accounts within a specific resource group. The response includes a link to the next page of results, if any.
      operationId: Accounts_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: OData filter. Optional.
          in: query
          name: $filter
          required: false
          type: string
        - description: The number of items to return. Optional.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
        - description: The number of items to skip over before returning elements. Optional.
          format: int32
          in: query
          minimum: 1
          name: $skip
          required: false
          type: integer
        - description: OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.
          in: query
          name: $select
          required: false
          type: string
        - description: OrderBy clause. One or more comma-separated expressions with an optional "asc" (the default) or "desc" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.
          in: query
          name: $orderby
          required: false
          type: string
        - description: A Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.
          in: query
          name: $count
          required: false
          type: boolean
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of accounts in the specified resource group.
          schema:
            $ref: "#/definitions/DataLakeStoreAccountListResult"
      tags:
        - Accounts
      x-ms-examples:
        Lists the Data Lake Store accounts within a specific resource group:
          parameters:
            $count: false
            $filter: test_filter
            $orderby: test_orderby
            $select: test_select
            $skip: 1
            $top: 1
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeStore/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>
                value:
                  - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    location: eastus2
                    name: contosoadla
                    properties:
                      accountId: 94f4bf5d-78a9-4c31-8aa7-b34d07bad898
                      creationTime: 2017-04-14T13:21:56.6819037-07:00
                      endpoint: testadlfs17607.azuredatalakestore.net
                      lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                      provisioningState: Succeeded
                      state: Active
                    tags:
                      test_key: test_value
                    type: test_type
      x-ms-odata: "#/definitions/DataLakeStoreAccountBasic"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}":
    delete:
      description: Deletes the specified Data Lake Store account.
      operationId: Accounts_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully deleted the specified account.
        "202":
          description: Successfully initiated the deletion of the specified account.
        "204":
          description: The specified account was not found.
      tags:
        - Accounts
      x-ms-examples:
        Deletes the specified Data Lake Store account:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the specified Data Lake Store account.
      operationId: Accounts_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved details of the specified account.
          schema:
            $ref: "#/definitions/DataLakeStoreAccount"
      tags:
        - Accounts
      x-ms-examples:
        Gets the specified Data Lake Store account:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                identity:
                  principalId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  tenantId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab346
                  type: SystemAssigned
                location: eastus2
                name: contosoadla
                properties:
                  accountId: 94f4bf5d-78a9-4c31-8aa7-b34d07bad898
                  creationTime: 2017-04-14T13:21:56.6819037-07:00
                  currentTier: Consumption
                  defaultGroup: test_default_group
                  encryptionConfig:
                    keyVaultMetaInfo:
                      encryptionKeyName: test_encryption_key_name
                      encryptionKeyVersion: encryption_key_version
                      keyVaultResourceId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    type: UserManaged
                  encryptionProvisioningState: Succeeded
                  encryptionState: Enabled
                  endpoint: testadlfs17607.azuredatalakestore.net
                  firewallAllowAzureIps: Enabled
                  firewallRules:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_rule
                      properties:
                        endIpAddress: 2.2.2.2
                        startIpAddress: 1.1.1.1
                      type: test_type
                  firewallState: Enabled
                  lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                  newTier: Consumption
                  provisioningState: Succeeded
                  state: Active
                  trustedIdProviderState: Enabled
                  trustedIdProviders:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_trusted_id_provider_name
                      properties:
                        idProvider: https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1
                      type: test_type
                tags:
                  test_key: test_value
                type: test_type
    patch:
      description: Updates the specified Data Lake Store account information.
      operationId: Accounts_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: Parameters supplied to update the Data Lake Store account.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/UpdateDataLakeStoreAccountParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the account details.
          schema:
            $ref: "#/definitions/DataLakeStoreAccount"
        "201":
          description: Successfully initiated the update of the account details.
          schema:
            $ref: "#/definitions/DataLakeStoreAccount"
        "202":
          description: Successfully initiated the update of the account details.
          schema:
            $ref: "#/definitions/DataLakeStoreAccount"
      tags:
        - Accounts
      x-ms-examples:
        Updates the specified Data Lake Store account information:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            parameters:
              properties:
                defaultGroup: test_default_group
                encryptionConfig:
                  keyVaultMetaInfo:
                    encryptionKeyVersion: encryption_key_version
                firewallAllowAzureIps: Enabled
                firewallState: Enabled
                newTier: Consumption
                trustedIdProviderState: Enabled
              tags:
                test_key: test_value
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                identity:
                  principalId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  tenantId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab346
                  type: SystemAssigned
                location: eastus2
                name: contosoadla
                properties:
                  accountId: 94f4bf5d-78a9-4c31-8aa7-b34d07bad898
                  creationTime: 2017-04-14T13:21:56.6819037-07:00
                  currentTier: Consumption
                  defaultGroup: test_default_group
                  encryptionConfig:
                    keyVaultMetaInfo:
                      encryptionKeyName: test_encryption_key_name
                      encryptionKeyVersion: encryption_key_version
                      keyVaultResourceId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    type: UserManaged
                  encryptionProvisioningState: Succeeded
                  encryptionState: Enabled
                  endpoint: testadlfs17607.azuredatalakestore.net
                  firewallAllowAzureIps: Enabled
                  firewallRules:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_rule
                      properties:
                        endIpAddress: 2.2.2.2
                        startIpAddress: 1.1.1.1
                      type: test_type
                  firewallState: Enabled
                  lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                  newTier: Consumption
                  provisioningState: Succeeded
                  state: Active
                  trustedIdProviderState: Enabled
                  trustedIdProviders:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_trusted_id_provider_name
                      properties:
                        idProvider: https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1
                      type: test_type
                tags:
                  test_key: test_value
                type: test_type
            "201":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                identity:
                  principalId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  tenantId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab346
                  type: SystemAssigned
                location: eastus2
                name: contosoadla
                properties:
                  accountId: 94f4bf5d-78a9-4c31-8aa7-b34d07bad898
                  creationTime: 2017-04-14T13:21:56.6819037-07:00
                  currentTier: Consumption
                  defaultGroup: test_default_group
                  encryptionConfig:
                    keyVaultMetaInfo:
                      encryptionKeyName: test_encryption_key_name
                      encryptionKeyVersion: encryption_key_version
                      keyVaultResourceId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    type: UserManaged
                  encryptionProvisioningState: Succeeded
                  encryptionState: Enabled
                  endpoint: testadlfs17607.azuredatalakestore.net
                  firewallAllowAzureIps: Enabled
                  firewallRules:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_rule
                      properties:
                        endIpAddress: 2.2.2.2
                        startIpAddress: 1.1.1.1
                      type: test_type
                  firewallState: Enabled
                  lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                  newTier: Consumption
                  provisioningState: Succeeded
                  state: Active
                  trustedIdProviderState: Enabled
                  trustedIdProviders:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_trusted_id_provider_name
                      properties:
                        idProvider: https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1
                      type: test_type
                tags:
                  test_key: test_value
                type: test_type
            "202":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                identity:
                  principalId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  tenantId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab346
                  type: SystemAssigned
                location: eastus2
                name: contosoadla
                properties:
                  accountId: 94f4bf5d-78a9-4c31-8aa7-b34d07bad898
                  creationTime: 2017-04-14T13:21:56.6819037-07:00
                  currentTier: Consumption
                  defaultGroup: test_default_group
                  encryptionConfig:
                    keyVaultMetaInfo:
                      encryptionKeyName: test_encryption_key_name
                      encryptionKeyVersion: encryption_key_version
                      keyVaultResourceId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    type: UserManaged
                  encryptionProvisioningState: Succeeded
                  encryptionState: Enabled
                  endpoint: testadlfs17607.azuredatalakestore.net
                  firewallAllowAzureIps: Enabled
                  firewallRules:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_rule
                      properties:
                        endIpAddress: 2.2.2.2
                        startIpAddress: 1.1.1.1
                      type: test_type
                  firewallState: Enabled
                  lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                  newTier: Consumption
                  provisioningState: Succeeded
                  state: Active
                  trustedIdProviderState: Enabled
                  trustedIdProviders:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_trusted_id_provider_name
                      properties:
                        idProvider: https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1
                      type: test_type
                tags:
                  test_key: test_value
                type: test_type
      x-ms-long-running-operation: true
    put:
      description: Creates the specified Data Lake Store account.
      operationId: Accounts_Create
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: Parameters supplied to create the Data Lake Store account.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CreateDataLakeStoreAccountParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully created the account.
          schema:
            $ref: "#/definitions/DataLakeStoreAccount"
        "201":
          description: Successfully initiated creation of the account.
          schema:
            $ref: "#/definitions/DataLakeStoreAccount"
      tags:
        - Accounts
      x-ms-examples:
        Creates the specified Data Lake Store account:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            parameters:
              identity:
                type: SystemAssigned
              location: eastus2
              properties:
                defaultGroup: test_default_group
                encryptionConfig:
                  keyVaultMetaInfo:
                    encryptionKeyName: test_encryption_key_name
                    encryptionKeyVersion: encryption_key_version
                    keyVaultResourceId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  type: UserManaged
                encryptionState: Enabled
                firewallAllowAzureIps: Enabled
                firewallRules:
                  - name: test_rule
                    properties:
                      endIpAddress: 2.2.2.2
                      startIpAddress: 1.1.1.1
                firewallState: Enabled
                newTier: Consumption
                trustedIdProviderState: Enabled
                trustedIdProviders:
                  - name: test_trusted_id_provider_name
                    properties:
                      idProvider: https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1
              tags:
                test_key: test_value
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                identity:
                  principalId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  tenantId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab346
                  type: SystemAssigned
                location: eastus2
                name: contosoadla
                properties:
                  accountId: 94f4bf5d-78a9-4c31-8aa7-b34d07bad898
                  creationTime: 2017-04-14T13:21:56.6819037-07:00
                  currentTier: Consumption
                  defaultGroup: test_default_group
                  encryptionConfig:
                    keyVaultMetaInfo:
                      encryptionKeyName: test_encryption_key_name
                      encryptionKeyVersion: encryption_key_version
                      keyVaultResourceId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    type: UserManaged
                  encryptionProvisioningState: Succeeded
                  encryptionState: Enabled
                  endpoint: testadlfs17607.azuredatalakestore.net
                  firewallAllowAzureIps: Enabled
                  firewallRules:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_rule
                      properties:
                        endIpAddress: 2.2.2.2
                        startIpAddress: 1.1.1.1
                      type: test_type
                  firewallState: Enabled
                  lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                  newTier: Consumption
                  provisioningState: Succeeded
                  state: Active
                  trustedIdProviderState: Enabled
                  trustedIdProviders:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_trusted_id_provider_name
                      properties:
                        idProvider: https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1
                      type: test_type
                tags:
                  test_key: test_value
                type: test_type
            "201":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                identity:
                  principalId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  tenantId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab346
                  type: SystemAssigned
                location: eastus2
                name: contosoadla
                properties:
                  accountId: 94f4bf5d-78a9-4c31-8aa7-b34d07bad898
                  creationTime: 2017-04-14T13:21:56.6819037-07:00
                  currentTier: Consumption
                  defaultGroup: test_default_group
                  encryptionConfig:
                    keyVaultMetaInfo:
                      encryptionKeyName: test_encryption_key_name
                      encryptionKeyVersion: encryption_key_version
                      keyVaultResourceId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    type: UserManaged
                  encryptionProvisioningState: Succeeded
                  encryptionState: Enabled
                  endpoint: testadlfs17607.azuredatalakestore.net
                  firewallAllowAzureIps: Enabled
                  firewallRules:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_rule
                      properties:
                        endIpAddress: 2.2.2.2
                        startIpAddress: 1.1.1.1
                      type: test_type
                  firewallState: Enabled
                  lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                  newTier: Consumption
                  provisioningState: Succeeded
                  state: Active
                  trustedIdProviderState: Enabled
                  trustedIdProviders:
                    - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      name: test_trusted_id_provider_name
                      properties:
                        idProvider: https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1
                      type: test_type
                tags:
                  test_key: test_value
                type: test_type
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/enableKeyVault":
    post:
      description: Attempts to enable a user managed Key Vault for encryption of the specified Data Lake Store account.
      operationId: Accounts_EnableKeyVault
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully enabled the user-managed Key Vault settings used for encrypting this Data Lake Store account.
      tags:
        - Accounts
      x-ms-examples:
        Attempts to enable a user managed Key Vault for encryption of the specified Data Lake Store account:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/firewallRules":
    get:
      description: Lists the Data Lake Store firewall rules within the specified Data Lake Store account.
      operationId: FirewallRules_ListByAccount
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of firewall rules.
          schema:
            $ref: "#/definitions/FirewallRuleListResult"
      tags:
        - FirewallRules
      x-ms-examples:
        Lists the Data Lake Store firewall rules within the specified Data Lake Store account.:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeStore/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>
                value:
                  - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    name: test_rule
                    properties:
                      endIpAddress: 2.2.2.2
                      startIpAddress: 1.1.1.1
                    type: test_type
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/firewallRules/{firewallRuleName}":
    delete:
      description: Deletes the specified firewall rule from the specified Data Lake Store account.
      operationId: FirewallRules_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the firewall rule to delete.
          in: path
          name: firewallRuleName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully deleted the specified firewall rule.
        "204":
          description: The specified firewall rule does not exist or was already deleted.
      tags:
        - FirewallRules
      x-ms-examples:
        Deletes the specified firewall rule from the specified Data Lake Store account.:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            firewallRuleName: test_rule
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the specified Data Lake Store firewall rule.
      operationId: FirewallRules_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the firewall rule to retrieve.
          in: path
          name: firewallRuleName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the firewall rule.
          schema:
            $ref: "#/definitions/FirewallRule"
      tags:
        - FirewallRules
      x-ms-examples:
        Gets the specified Data Lake Store firewall rule.:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            firewallRuleName: test_rule
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_rule
                properties:
                  endIpAddress: 2.2.2.2
                  startIpAddress: 1.1.1.1
                type: test_type
    patch:
      description: Updates the specified firewall rule.
      operationId: FirewallRules_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the firewall rule to update.
          in: path
          name: firewallRuleName
          required: true
          type: string
        - description: Parameters supplied to update the firewall rule.
          in: body
          name: parameters
          required: false
          schema:
            $ref: "#/definitions/UpdateFirewallRuleParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the specified firewall rule.
          schema:
            $ref: "#/definitions/FirewallRule"
      tags:
        - FirewallRules
      x-ms-examples:
        Updates the specified firewall rule.:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            firewallRuleName: test_rule
            parameters:
              properties:
                endIpAddress: 2.2.2.2
                startIpAddress: 1.1.1.1
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_rule
                properties:
                  endIpAddress: 2.2.2.2
                  startIpAddress: 1.1.1.1
                type: test_type
    put:
      description: Creates or updates the specified firewall rule. During update, the firewall rule with the specified name will be replaced with this new firewall rule.
      operationId: FirewallRules_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the firewall rule to create or update.
          in: path
          name: firewallRuleName
          required: true
          type: string
        - description: Parameters supplied to create or update the firewall rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CreateOrUpdateFirewallRuleParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully created or updated the specified firewall rule.
          schema:
            $ref: "#/definitions/FirewallRule"
      tags:
        - FirewallRules
      x-ms-examples:
        "Creates or updates the specified firewall rule. During update, the firewall rule with the specified name will be replaced with this new firewall rule":
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            firewallRuleName: test_rule
            parameters:
              properties:
                endIpAddress: 2.2.2.2
                startIpAddress: 1.1.1.1
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_rule
                properties:
                  endIpAddress: 2.2.2.2
                  startIpAddress: 1.1.1.1
                type: test_type
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/trustedIdProviders":
    get:
      description: Lists the Data Lake Store trusted identity providers within the specified Data Lake Store account.
      operationId: TrustedIdProviders_ListByAccount
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of trusted identity providers.
          schema:
            $ref: "#/definitions/TrustedIdProviderListResult"
      tags:
        - TrustedIdProviders
      x-ms-examples:
        Lists the Data Lake Store trusted identity providers within the specified Data Lake Store account:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeStore/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>
                value:
                  - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    name: test_trusted_id_provider_name
                    properties:
                      idProvider: https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1
                    type: test_type
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/trustedIdProviders/{trustedIdProviderName}":
    delete:
      description: Deletes the specified trusted identity provider from the specified Data Lake Store account
      operationId: TrustedIdProviders_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the trusted identity provider to delete.
          in: path
          name: trustedIdProviderName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully deleted the specified trusted identity provider details.
        "204":
          description: The specified trusted identity provider was not found.
      tags:
        - TrustedIdProviders
      x-ms-examples:
        Deletes the specified trusted identity provider from the specified Data Lake Store account:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            trustedIdProviderName: test_trusted_id_provider_name
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the specified Data Lake Store trusted identity provider.
      operationId: TrustedIdProviders_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the trusted identity provider to retrieve.
          in: path
          name: trustedIdProviderName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved details of the specified trusted identity provider.
          schema:
            $ref: "#/definitions/TrustedIdProvider"
      tags:
        - TrustedIdProviders
      x-ms-examples:
        Gets the specified Data Lake Store trusted identity provider:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            trustedIdProviderName: test_trusted_id_provider_name
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_trusted_id_provider_name
                properties:
                  idProvider: https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1
                type: test_type
    patch:
      description: Updates the specified trusted identity provider.
      operationId: TrustedIdProviders_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the trusted identity provider. This is used for differentiation of providers in the account.
          in: path
          name: trustedIdProviderName
          required: true
          type: string
        - description: Parameters supplied to update the trusted identity provider.
          in: body
          name: parameters
          required: false
          schema:
            $ref: "#/definitions/UpdateTrustedIdProviderParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully added the trusted identity provider.
          schema:
            $ref: "#/definitions/TrustedIdProvider"
      tags:
        - TrustedIdProviders
      x-ms-examples:
        Updates the specified trusted identity provider:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            parameters:
              properties:
                idProvider: https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            trustedIdProviderName: test_trusted_id_provider_name
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_trusted_id_provider_name
                properties:
                  idProvider: https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1
                type: test_type
    put:
      description: Creates or updates the specified trusted identity provider. During update, the trusted identity provider with the specified name will be replaced with this new provider
      operationId: TrustedIdProviders_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the trusted identity provider. This is used for differentiation of providers in the account.
          in: path
          name: trustedIdProviderName
          required: true
          type: string
        - description: Parameters supplied to create or replace the trusted identity provider.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CreateOrUpdateTrustedIdProviderParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully added the trusted identity provider.
          schema:
            $ref: "#/definitions/TrustedIdProvider"
      tags:
        - TrustedIdProviders
      x-ms-examples:
        "Creates or updates the specified trusted identity provider. During update, the trusted identity provider with the specified name will be replaced with this new provider":
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            parameters:
              properties:
                idProvider: https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            trustedIdProviderName: test_trusted_id_provider_name
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_trusted_id_provider_name
                properties:
                  idProvider: https://sts.windows.net/ea9ec534-a3e3-4e45-ad36-3afc5bb291c1
                type: test_type
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/virtualNetworkRules":
    get:
      description: Lists the Data Lake Store virtual network rules within the specified Data Lake Store account.
      operationId: VirtualNetworkRules_ListByAccount
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of virtual network rules.
          schema:
            $ref: "#/definitions/VirtualNetworkRuleListResult"
      tags:
        - VirtualNetworkRules
      x-ms-examples:
        Lists the Data Lake Store virtual network rules within the specified Data Lake Store account.:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeStore/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>
                value:
                  - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    name: test_virtual_network_rules_name
                    properties:
                      subnetId: test_subnetId
                    type: test_type
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeStore/accounts/{accountName}/virtualNetworkRules/{virtualNetworkRuleName}":
    delete:
      description: Deletes the specified virtual network rule from the specified Data Lake Store account.
      operationId: VirtualNetworkRules_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the virtual network rule to delete.
          in: path
          name: virtualNetworkRuleName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully deleted the specified virtual network rule.
        "204":
          description: The specified virtual network rule does not exist or was already deleted.
      tags:
        - VirtualNetworkRules
      x-ms-examples:
        Deletes the specified virtual network rule from the specified Data Lake Store account.:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            virtualNetworkRuleName: test_virtual_network_rules_name
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the specified Data Lake Store virtual network rule.
      operationId: VirtualNetworkRules_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the virtual network rule to retrieve.
          in: path
          name: virtualNetworkRuleName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the virtual network rule.
          schema:
            $ref: "#/definitions/VirtualNetworkRule"
      tags:
        - VirtualNetworkRules
      x-ms-examples:
        Gets the specified Data Lake Store virtual network rule.:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            virtualNetworkRuleName: test_virtual_network_rules_name
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_virtual_network_rules_name
                properties:
                  subnetId: test_subnetId
                type: test_type
    patch:
      description: Updates the specified virtual network rule.
      operationId: VirtualNetworkRules_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the virtual network rule to update.
          in: path
          name: virtualNetworkRuleName
          required: true
          type: string
        - description: Parameters supplied to update the virtual network rule.
          in: body
          name: parameters
          required: false
          schema:
            $ref: "#/definitions/UpdateVirtualNetworkRuleParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the specified virtual network rule.
          schema:
            $ref: "#/definitions/VirtualNetworkRule"
      tags:
        - VirtualNetworkRules
      x-ms-examples:
        Updates the specified virtual network rule.:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            parameters:
              properties:
                subnetId: test_subnetId
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            virtualNetworkRuleName: test_virtual_network_rules_name
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_virtual_network_rules_name
                properties:
                  subnetId: test_subnetId
                type: test_type
    put:
      description: Creates or updates the specified virtual network rule. During update, the virtual network rule with the specified name will be replaced with this new virtual network rule.
      operationId: VirtualNetworkRules_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the virtual network rule to create or update.
          in: path
          name: virtualNetworkRuleName
          required: true
          type: string
        - description: Parameters supplied to create or update the virtual network rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CreateOrUpdateVirtualNetworkRuleParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully created or updated the specified virtual network rule.
          schema:
            $ref: "#/definitions/VirtualNetworkRule"
      tags:
        - VirtualNetworkRules
      x-ms-examples:
        "Creates or updates the specified virtual network rule. During update, the virtual network rule with the specified name will be replaced with this new virtual network rule.":
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            parameters:
              properties:
                subnetId: test_subnetId
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            virtualNetworkRuleName: test_virtual_network_rules_name
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_virtual_network_rules_name
                properties:
                  subnetId: test_subnetId
                type: test_type
definitions:
  CapabilityInformation:
    description: Subscription-level properties and limits for Data Lake Store.
    properties:
      accountCount:
        description: The current number of accounts under this subscription.
        format: int32
        readOnly: true
        type: integer
      maxAccountCount:
        description: The maximum supported number of accounts under this subscription.
        format: int32
        readOnly: true
        type: integer
      migrationState:
        description: The Boolean value of true or false to indicate the maintenance state.
        readOnly: true
        type: boolean
      state:
        description: The subscription state.
        enum:
          - Registered
          - Suspended
          - Deleted
          - Unregistered
          - Warned
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: SubscriptionState
      subscriptionId:
        description: The subscription credentials that uniquely identifies the subscription.
        format: uuid
        readOnly: true
        type: string
  CheckNameAvailabilityParameters:
    description: Data Lake Store account name availability check parameters.
    properties:
      name:
        description: The Data Lake Store name to check availability for.
        type: string
      type:
        description: "The resource type. Note: This should not be set by the user, as the constant value is Microsoft.DataLakeStore/accounts"
        enum:
          - Microsoft.DataLakeStore/accounts
        type: string
    required:
      - name
      - type
  CreateDataLakeStoreAccountParameters:
    properties:
      identity:
        $ref: "#/definitions/EncryptionIdentity"
        description: The Key Vault encryption identity, if any.
      location:
        description: The resource location.
        type: string
      properties:
        $ref: "#/definitions/CreateDataLakeStoreAccountProperties"
        description: The Data Lake Store account properties to use for creating.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: The resource tags.
        type: object
    required:
      - location
  CreateDataLakeStoreAccountProperties:
    properties:
      defaultGroup:
        description: The default owner group for all new folders and files created in the Data Lake Store account.
        type: string
      encryptionConfig:
        $ref: "#/definitions/EncryptionConfig"
        description: The Key Vault encryption configuration.
      encryptionState:
        description: The current state of encryption for this Data Lake Store account.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: EncryptionState
      firewallAllowAzureIps:
        description: The current state of allowing or disallowing IPs originating within Azure through the firewall. If the firewall is disabled, this is not enforced.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: FirewallAllowAzureIpsState
      firewallRules:
        description: The list of firewall rules associated with this Data Lake Store account.
        items:
          $ref: "#/definitions/CreateFirewallRuleWithAccountParameters"
        type: array
      firewallState:
        description: The current state of the IP address firewall for this Data Lake Store account.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: FirewallState
      newTier:
        description: The commitment tier to use for next month.
        enum:
          - Consumption
          - Commitment_1TB
          - Commitment_10TB
          - Commitment_100TB
          - Commitment_500TB
          - Commitment_1PB
          - Commitment_5PB
        type: string
        x-ms-enum:
          modelAsString: false
          name: TierType
      trustedIdProviderState:
        description: The current state of the trusted identity provider feature for this Data Lake Store account.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: TrustedIdProviderState
      trustedIdProviders:
        description: The list of trusted identity providers associated with this Data Lake Store account.
        items:
          $ref: "#/definitions/CreateTrustedIdProviderWithAccountParameters"
        type: array
      virtualNetworkRules:
        description: The list of virtual network rules associated with this Data Lake Store account.
        items:
          $ref: "#/definitions/CreateVirtualNetworkRuleWithAccountParameters"
        type: array
  CreateFirewallRuleWithAccountParameters:
    description: The parameters used to create a new firewall rule while creating a new Data Lake Store account.
    properties:
      name:
        description: The unique name of the firewall rule to create.
        type: string
      properties:
        $ref: "#/definitions/CreateOrUpdateFirewallRuleProperties"
        description: The firewall rule properties to use when creating a new firewall rule.
        x-ms-client-flatten: true
    required:
      - name
      - properties
  CreateOrUpdateFirewallRuleParameters:
    description: The parameters used to create a new firewall rule.
    properties:
      properties:
        $ref: "#/definitions/CreateOrUpdateFirewallRuleProperties"
        description: The firewall rule properties to use when creating a new firewall rule.
        x-ms-client-flatten: true
    required:
      - properties
  CreateOrUpdateFirewallRuleProperties:
    description: The firewall rule properties to use when creating a new firewall rule.
    properties:
      endIpAddress:
        description: The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        type: string
      startIpAddress:
        description: The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        type: string
    required:
      - startIpAddress
      - endIpAddress
  CreateOrUpdateTrustedIdProviderParameters:
    description: The parameters used to create a new trusted identity provider.
    properties:
      properties:
        $ref: "#/definitions/CreateOrUpdateTrustedIdProviderProperties"
        description: The trusted identity provider properties to use when creating a new trusted identity provider.
        x-ms-client-flatten: true
    required:
      - properties
  CreateOrUpdateTrustedIdProviderProperties:
    description: The trusted identity provider properties to use when creating a new trusted identity provider.
    properties:
      idProvider:
        description: The URL of this trusted identity provider.
        type: string
    required:
      - idProvider
  CreateOrUpdateVirtualNetworkRuleParameters:
    description: The parameters used to create a new virtual network rule.
    properties:
      properties:
        $ref: "#/definitions/CreateOrUpdateVirtualNetworkRuleProperties"
        description: The virtual network rule properties to use when creating a new virtual network rule.
        x-ms-client-flatten: true
    required:
      - properties
  CreateOrUpdateVirtualNetworkRuleProperties:
    description: The virtual network rule properties to use when creating a new virtual network rule.
    properties:
      subnetId:
        description: The resource identifier for the subnet.
        type: string
    required:
      - subnetId
  CreateTrustedIdProviderWithAccountParameters:
    description: The parameters used to create a new trusted identity provider while creating a new Data Lake Store account.
    properties:
      name:
        description: The unique name of the trusted identity provider to create.
        type: string
      properties:
        $ref: "#/definitions/CreateOrUpdateTrustedIdProviderProperties"
        description: The trusted identity provider properties to use when creating a new trusted identity provider.
        x-ms-client-flatten: true
    required:
      - name
      - properties
  CreateVirtualNetworkRuleWithAccountParameters:
    description: The parameters used to create a new virtual network rule while creating a new Data Lake Store account.
    properties:
      name:
        description: The unique name of the virtual network rule to create.
        type: string
      properties:
        $ref: "#/definitions/CreateOrUpdateVirtualNetworkRuleProperties"
        description: The virtual network rule properties to use when creating a new virtual network rule.
        x-ms-client-flatten: true
    required:
      - name
      - properties
  DataLakeStoreAccount:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Data Lake Store account information.
    properties:
      identity:
        $ref: "#/definitions/EncryptionIdentity"
        description: The Key Vault encryption identity, if any.
        readOnly: true
      properties:
        $ref: "#/definitions/DataLakeStoreAccountProperties"
        description: The Data Lake Store account properties.
        readOnly: true
        x-ms-client-flatten: true
  DataLakeStoreAccountBasic:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Basic Data Lake Store account information, returned on list calls.
    properties:
      properties:
        $ref: "#/definitions/DataLakeStoreAccountPropertiesBasic"
        description: The basic Data Lake Store account properties.
        readOnly: true
        x-ms-client-flatten: true
  DataLakeStoreAccountListResult:
    description: Data Lake Store account list information response.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The results of the list operation.
        items:
          $ref: "#/definitions/DataLakeStoreAccountBasic"
        readOnly: true
        type: array
  DataLakeStoreAccountProperties:
    allOf:
      - $ref: "#/definitions/DataLakeStoreAccountPropertiesBasic"
    description: Data Lake Store account properties information.
    properties:
      currentTier:
        description: The commitment tier in use for the current month.
        enum:
          - Consumption
          - Commitment_1TB
          - Commitment_10TB
          - Commitment_100TB
          - Commitment_500TB
          - Commitment_1PB
          - Commitment_5PB
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: TierType
      defaultGroup:
        description: The default owner group for all new folders and files created in the Data Lake Store account.
        readOnly: true
        type: string
      encryptionConfig:
        $ref: "#/definitions/EncryptionConfig"
        description: The Key Vault encryption configuration.
        readOnly: true
      encryptionProvisioningState:
        description: The current state of encryption provisioning for this Data Lake Store account.
        enum:
          - Creating
          - Succeeded
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: EncryptionProvisioningState
      encryptionState:
        description: The current state of encryption for this Data Lake Store account.
        enum:
          - Enabled
          - Disabled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: EncryptionState
      firewallAllowAzureIps:
        description: The current state of allowing or disallowing IPs originating within Azure through the firewall. If the firewall is disabled, this is not enforced.
        enum:
          - Enabled
          - Disabled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: FirewallAllowAzureIpsState
      firewallRules:
        description: The list of firewall rules associated with this Data Lake Store account.
        items:
          $ref: "#/definitions/FirewallRule"
        readOnly: true
        type: array
      firewallState:
        description: The current state of the IP address firewall for this Data Lake Store account.
        enum:
          - Enabled
          - Disabled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: FirewallState
      newTier:
        description: The commitment tier to use for next month.
        enum:
          - Consumption
          - Commitment_1TB
          - Commitment_10TB
          - Commitment_100TB
          - Commitment_500TB
          - Commitment_1PB
          - Commitment_5PB
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: TierType
      trustedIdProviderState:
        description: The current state of the trusted identity provider feature for this Data Lake Store account.
        enum:
          - Enabled
          - Disabled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: TrustedIdProviderState
      trustedIdProviders:
        description: The list of trusted identity providers associated with this Data Lake Store account.
        items:
          $ref: "#/definitions/TrustedIdProvider"
        readOnly: true
        type: array
      virtualNetworkRules:
        description: The list of virtual network rules associated with this Data Lake Store account.
        items:
          $ref: "#/definitions/VirtualNetworkRule"
        readOnly: true
        type: array
  DataLakeStoreAccountPropertiesBasic:
    description: The basic account specific properties that are associated with an underlying Data Lake Store account.
    properties:
      accountId:
        description: The unique identifier associated with this Data Lake Store account.
        format: uuid
        readOnly: true
        type: string
      creationTime:
        description: The account creation time.
        format: date-time
        readOnly: true
        type: string
      endpoint:
        description: The full CName endpoint for this account.
        readOnly: true
        type: string
      lastModifiedTime:
        description: The account last modified time.
        format: date-time
        readOnly: true
        type: string
      provisioningState:
        description: The provisioning status of the Data Lake Store account.
        enum:
          - Failed
          - Creating
          - Running
          - Succeeded
          - Patching
          - Suspending
          - Resuming
          - Deleting
          - Deleted
          - Undeleting
          - Canceled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: DataLakeStoreAccountStatus
      state:
        description: The state of the Data Lake Store account.
        enum:
          - Active
          - Suspended
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: DataLakeStoreAccountState
  EncryptionConfig:
    description: The encryption configuration for the account.
    properties:
      keyVaultMetaInfo:
        $ref: "#/definitions/KeyVaultMetaInfo"
        description: The Key Vault information for connecting to user managed encryption keys.
      type:
        description: The type of encryption configuration being used. Currently the only supported types are 'UserManaged' and 'ServiceManaged'.
        enum:
          - UserManaged
          - ServiceManaged
        type: string
        x-ms-enum:
          modelAsString: false
          name: EncryptionConfigType
    required:
      - type
  EncryptionIdentity:
    description: The encryption identity properties.
    properties:
      principalId:
        description: The principal identifier associated with the encryption.
        format: uuid
        readOnly: true
        type: string
      tenantId:
        description: The tenant identifier associated with the encryption.
        format: uuid
        readOnly: true
        type: string
      type:
        description: The type of encryption being used. Currently the only supported type is 'SystemAssigned'.
        enum:
          - SystemAssigned
        type: string
        x-ms-enum:
          modelAsString: false
          name: EncryptionIdentityType
    required:
      - type
  FirewallRule:
    allOf:
      - $ref: "#/definitions/SubResource"
    description: Data Lake Store firewall rule information.
    properties:
      properties:
        $ref: "#/definitions/FirewallRuleProperties"
        description: The firewall rule properties.
        readOnly: true
        x-ms-client-flatten: true
  FirewallRuleListResult:
    description: Data Lake Store firewall rule list information.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The results of the list operation.
        items:
          $ref: "#/definitions/FirewallRule"
        readOnly: true
        type: array
  FirewallRuleProperties:
    description: The firewall rule properties.
    properties:
      endIpAddress:
        description: The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        readOnly: true
        type: string
      startIpAddress:
        description: The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        readOnly: true
        type: string
  KeyVaultMetaInfo:
    description: Metadata information used by account encryption.
    properties:
      encryptionKeyName:
        description: The name of the user managed encryption key.
        type: string
      encryptionKeyVersion:
        description: The version of the user managed encryption key.
        type: string
      keyVaultResourceId:
        description: The resource identifier for the user managed Key Vault being used to encrypt.
        type: string
    required:
      - keyVaultResourceId
      - encryptionKeyName
      - encryptionKeyVersion
  NameAvailabilityInformation:
    description: Data Lake Store account name availability result information.
    properties:
      message:
        description: The message describing why the Data Lake Store account name is not available, if nameAvailable is false.
        readOnly: true
        type: string
      nameAvailable:
        description: The Boolean value of true or false to indicate whether the Data Lake Store account name is available or not.
        readOnly: true
        type: boolean
      reason:
        description: The reason why the Data Lake Store account name is not available, if nameAvailable is false.
        readOnly: true
        type: string
  Operation:
    description: An available operation for Data Lake Store.
    properties:
      display:
        $ref: "#/definitions/OperationDisplay"
        description: The display information for the operation.
      name:
        description: The name of the operation.
        readOnly: true
        type: string
      origin:
        description: The intended executor of the operation.
        enum:
          - user
          - system
          - user,system
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: OperationOrigin
  OperationDisplay:
    description: The display information for a particular operation.
    properties:
      description:
        description: A friendly description of the operation.
        readOnly: true
        type: string
      operation:
        description: A friendly name of the operation.
        readOnly: true
        type: string
      provider:
        description: The resource provider of the operation.
        readOnly: true
        type: string
      resource:
        description: The resource type of the operation.
        readOnly: true
        type: string
  OperationListResult:
    description: The list of available operations for Data Lake Store.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The results of the list operation.
        items:
          $ref: "#/definitions/Operation"
        readOnly: true
        type: array
  Resource:
    description: The resource model definition.
    properties:
      id:
        description: The resource identifier.
        readOnly: true
        type: string
      location:
        description: The resource location.
        readOnly: true
        type: string
      name:
        description: The resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: The resource tags.
        readOnly: true
        type: object
      type:
        description: The resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  SubResource:
    description: The resource model definition for a nested resource.
    properties:
      id:
        description: The resource identifier.
        readOnly: true
        type: string
      name:
        description: The resource name.
        readOnly: true
        type: string
      type:
        description: The resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  TrustedIdProvider:
    allOf:
      - $ref: "#/definitions/SubResource"
    description: Data Lake Store trusted identity provider information.
    properties:
      properties:
        $ref: "#/definitions/TrustedIdProviderProperties"
        description: The trusted identity provider properties.
        readOnly: true
        x-ms-client-flatten: true
  TrustedIdProviderListResult:
    description: Data Lake Store trusted identity provider list information.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The results of the list operation.
        items:
          $ref: "#/definitions/TrustedIdProvider"
        readOnly: true
        type: array
  TrustedIdProviderProperties:
    description: The trusted identity provider properties.
    properties:
      idProvider:
        description: The URL of this trusted identity provider.
        readOnly: true
        type: string
  UpdateDataLakeStoreAccountParameters:
    description: Data Lake Store account information to update.
    properties:
      properties:
        $ref: "#/definitions/UpdateDataLakeStoreAccountProperties"
        description: The Data Lake Store account properties to update.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
  UpdateDataLakeStoreAccountProperties:
    description: Data Lake Store account properties information to be updated.
    properties:
      defaultGroup:
        description: The default owner group for all new folders and files created in the Data Lake Store account.
        type: string
      encryptionConfig:
        $ref: "#/definitions/UpdateEncryptionConfig"
        description: Used for rotation of user managed Key Vault keys. Can only be used to rotate a user managed encryption Key Vault key.
      firewallAllowAzureIps:
        description: The current state of allowing or disallowing IPs originating within Azure through the firewall. If the firewall is disabled, this is not enforced.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: FirewallAllowAzureIpsState
      firewallRules:
        description: The list of firewall rules associated with this Data Lake Store account.
        items:
          $ref: "#/definitions/UpdateFirewallRuleWithAccountParameters"
        type: array
      firewallState:
        description: The current state of the IP address firewall for this Data Lake Store account. Disabling the firewall does not remove existing rules, they will just be ignored until the firewall is re-enabled.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: FirewallState
      newTier:
        description: The commitment tier to use for next month.
        enum:
          - Consumption
          - Commitment_1TB
          - Commitment_10TB
          - Commitment_100TB
          - Commitment_500TB
          - Commitment_1PB
          - Commitment_5PB
        type: string
        x-ms-enum:
          modelAsString: false
          name: TierType
      trustedIdProviderState:
        description: The current state of the trusted identity provider feature for this Data Lake Store account. Disabling trusted identity provider functionality does not remove the providers, they will just be ignored until this feature is re-enabled.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: TrustedIdProviderState
      trustedIdProviders:
        description: The list of trusted identity providers associated with this Data Lake Store account.
        items:
          $ref: "#/definitions/UpdateTrustedIdProviderWithAccountParameters"
        type: array
      virtualNetworkRules:
        description: The list of virtual network rules associated with this Data Lake Store account.
        items:
          $ref: "#/definitions/UpdateVirtualNetworkRuleWithAccountParameters"
        type: array
  UpdateEncryptionConfig:
    description: The encryption configuration used to update a user managed Key Vault key.
    properties:
      keyVaultMetaInfo:
        $ref: "#/definitions/UpdateKeyVaultMetaInfo"
        description: The updated Key Vault key to use in user managed key rotation.
  UpdateFirewallRuleParameters:
    description: The parameters used to update a firewall rule.
    properties:
      properties:
        $ref: "#/definitions/UpdateFirewallRuleProperties"
        description: The firewall rule properties to use when updating a firewall rule.
        x-ms-client-flatten: true
  UpdateFirewallRuleProperties:
    description: The firewall rule properties to use when updating a firewall rule.
    properties:
      endIpAddress:
        description: The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        type: string
      startIpAddress:
        description: The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        type: string
  UpdateFirewallRuleWithAccountParameters:
    description: The parameters used to update a firewall rule while updating a Data Lake Store account.
    properties:
      name:
        description: The unique name of the firewall rule to update.
        type: string
      properties:
        $ref: "#/definitions/UpdateFirewallRuleProperties"
        description: The firewall rule properties to use when updating a firewall rule.
        x-ms-client-flatten: true
    required:
      - name
  UpdateKeyVaultMetaInfo:
    description: The Key Vault update information used for user managed key rotation.
    properties:
      encryptionKeyVersion:
        description: The version of the user managed encryption key to update through a key rotation.
        type: string
  UpdateTrustedIdProviderParameters:
    description: The parameters used to update a trusted identity provider.
    properties:
      properties:
        $ref: "#/definitions/UpdateTrustedIdProviderProperties"
        description: The trusted identity provider properties to use when updating a trusted identity provider.
        x-ms-client-flatten: true
  UpdateTrustedIdProviderProperties:
    description: The trusted identity provider properties to use when updating a trusted identity provider.
    properties:
      idProvider:
        description: The URL of this trusted identity provider.
        type: string
  UpdateTrustedIdProviderWithAccountParameters:
    description: The parameters used to update a trusted identity provider while updating a Data Lake Store account.
    properties:
      name:
        description: The unique name of the trusted identity provider to update.
        type: string
      properties:
        $ref: "#/definitions/UpdateTrustedIdProviderProperties"
        description: The trusted identity provider properties to use when updating a trusted identity provider.
        x-ms-client-flatten: true
    required:
      - name
  UpdateVirtualNetworkRuleParameters:
    description: The parameters used to update a virtual network rule.
    properties:
      properties:
        $ref: "#/definitions/UpdateVirtualNetworkRuleProperties"
        description: The virtual network rule properties to use when updating a virtual network rule.
        x-ms-client-flatten: true
  UpdateVirtualNetworkRuleProperties:
    description: The virtual network rule properties to use when updating a virtual network rule.
    properties:
      subnetId:
        description: The resource identifier for the subnet.
        type: string
  UpdateVirtualNetworkRuleWithAccountParameters:
    description: The parameters used to update a virtual network rule while updating a Data Lake Store account.
    properties:
      name:
        description: The unique name of the virtual network rule to update.
        type: string
      properties:
        $ref: "#/definitions/UpdateVirtualNetworkRuleProperties"
        description: The virtual network rule properties to use when updating a virtual network rule.
        x-ms-client-flatten: true
    required:
      - name
  Usage:
    description: Describes the Resource Usage.
    properties:
      currentValue:
        description: Gets the current count of the allocated resources in the subscription.
        format: int32
        readOnly: true
        type: integer
      id:
        description: Resource identifier.
        readOnly: true
        type: string
      limit:
        description: Gets the maximum count of the resources that can be allocated in the subscription.
        format: int32
        readOnly: true
        type: integer
      name:
        $ref: "#/definitions/UsageName"
        description: Gets the name of the type of usage.
        readOnly: true
      unit:
        description: Gets the unit of measurement.
        enum:
          - Count
          - Bytes
          - Seconds
          - Percent
          - CountsPerSecond
          - BytesPerSecond
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: UsageUnit
  UsageListResult:
    description: The response from the List Usages operation.
    properties:
      value:
        description: Gets or sets the list of Storage Resource Usages.
        items:
          $ref: "#/definitions/Usage"
        type: array
  UsageName:
    description: The usage names that can be used.
    properties:
      localizedValue:
        description: Gets a localized string describing the resource name.
        readOnly: true
        type: string
      value:
        description: Gets a string describing the resource name.
        readOnly: true
        type: string
  VirtualNetworkRule:
    allOf:
      - $ref: "#/definitions/SubResource"
    description: Data Lake Store virtual network rule information.
    properties:
      properties:
        $ref: "#/definitions/VirtualNetworkRuleProperties"
        description: The virtual network rule properties.
        readOnly: true
        x-ms-client-flatten: true
  VirtualNetworkRuleListResult:
    description: Data Lake Store virtual network rule list information.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The results of the list operation.
        items:
          $ref: "#/definitions/VirtualNetworkRule"
        readOnly: true
        type: array
  VirtualNetworkRuleProperties:
    description: The virtual network rule properties.
    properties:
      subnetId:
        description: The resource identifier for the subnet.
        readOnly: true
        type: string
