swagger: "2.0"
schemes:
  - https
host: api.demo.frankiefinancial.io
basePath: /compliance/v1.2
info:
  contact:
    email: dev-support@frankiefinancial.com
  description: |
    ------  
    This API allows developers to integrate the Frankie Financial Compliance Utility into their applications. The API allows:
      - Checking name, address, date of birth against national databases
      - Validating Australian driver's licences, passports, medicare, visas and other Australian national ID documents
      - Validating Australian electricity bills
      - Validating NZ driver's licences
      - Validating Chinese bank cards and national ID card
      - Validating International passports and national ID documents
      - PEP, Sanctions, Watchlist and adverse media checking
      - Australian visa checks 
      - Fraud list and fraud background checks
      - ID validation and selfie check comparisons.
      
    ------  
     
    Industry specific services

      - Comparing Australian electricity retailers for a better deal.

    ------  
     
    KYB specific services

      - Query organisation ownership
      - Perform KYC & AML checks on shareholders, beneficial owners and office bearers.
      - Query credit score and credit reports
      - International company searches
      - International company profiles
      
    ------  
    The full version of this documentation along with supplemental articles can be found here:
      - https://apidocs.frankiefinancial.com/

    The traditional Swagger view of this documentation can be found here:
      - https://app.swaggerhub.com/apis-docs/FrankieFinancial/kycutility

    ------  
    Sandbox base URL is:
      - https://api.demo.frankiefinancial.io/compliance/v1.2
      
      - We do have an old sandbox at https://sandbox.frankiefinancial.com/compliance/v1.2 but this has been retired.

      - All calls are the same as production, only with canned data. 

      - Full Swagger definition, along with test data for playing in the sandbox can be obtained once initial commercial discussions have commenced.

      - Production and optional UAT access will be opened up only to those with a signed commercial contract.
      
    ------  
    Contact us at hello@frankiefinancial.com to speak with a sales rep about issuing a Customer ID and Sandbox api key.
  title: Frankie Financial API
  version: 1.5.3
  x-apisguru-categories:
    - financial
  x-origin:
    - format: swagger
      url: https://app.swaggerhub.com/apiproxy/registry/FrankieFinancial/kycutility/1.5.3
      version: "2.0"
  x-providerName: frankiefinancial.io
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  api_key:
    description: API key issued by Frankie Financial. This will rotate regularly.
    in: header
    name: api_key
    type: apiKey
security:
  - api_key: []
parameters:
  AlertIDPathParameter:
    description: The alertId that was passed to you in a previous notification
    format: uuid
    in: path
    name: alertId
    required: true
    type: string
  AllDataQueryParameter:
    description: |
      Requests that literally all data should be included in the response to a "get checks" request. This is as opposed to a filtered view where expired results are by default not included for entities that have an assigned profile.
    in: query
    name: alldata
    required: false
    type: boolean
  AskingNicelyQueryParameter:
    description: |
      If set to true, the request is being made politely.
    in: query
    name: askingNicely
    required: false
    type: boolean
  AttributeQueryParameter:
    description: |+
      Specify the blacklisted attribute.
      Valid values are:
        - "ENTIRE_PROFILE"
        - "FULL_NAME"
        - "EMAIL_ADDRESS"
        - "PHONE_NUMBER"
        - "ID_DOCUMENT"
        - "MAILING_ADDRESS"
        - "RESIDENTIAL_ADDRESS"
        
    in: query
    name: attribute
    required: false
    type: string
  BackgroundHeader:
    description: |
      If this header parameter is supplied and set to 1, then the request will not wait for the process to finish, and will return a 202 if there are no obvious errors in the input. The request will then run in the background and send a notification back to the customer. See out callback API for details on this.

      See more details here:
        https://apidocs.frankiefinancial.com/docs/asynchronous-calls-backgrounding-processes
    in: header
    maximum: 1
    minimum: 0
    name: X-Frankie-Background
    required: false
    type: integer
  BlockedByQueryParameter:
    description: |
      Specify who is setting the entity as blacklisted.
    in: query
    name: blockedBy
    required: false
    type: string
  BlocklistsQueryParameter:
    description: |
      Specify the blacklisted attribute.
    in: query
    items:
      type: string
    name: blockLists
    required: false
    type: array
  BusinessCheckResultLevelQueryParameter:
    default: summary
    description: |
      The result level allows you to specify the level of detail returned for the entity check. You can choose summary or full.
    enum:
      - summary
      - full
    in: query
    name: resultLevel
    required: false
    type: string
  BusinessCheckTypeQueryParameter:
    collectionFormat: csv
    description: |
      When creating a new check, we need to define the checks we wish to run. If this parameter is not supplied then the check will be based on a configured check type for each entity category.
        
      The checkType is make up of a comma separated list of the types of check we wish to run.

      The order is important, and must be of the form:
        - Entity Check (if you're running this). Choose one from the available options
        - ID Check (If you want this)
        - PEP Checks (again if you want this, choose one of the options)

      Entity Checks - One of:
        - "one_plus": Checks name, address and DoB against a minimum of 1 data source. (also known as a 1+1)
        - "two_plus": Checks name, address and DoB against a minimum of 2 independent data sources (also known as a 2+2)

      ID Checks - One of:
        - "id": Checks all of the identity documents, but not necessarily the entity itself independently. Use this in conjunction with a one_plus or two_plus for more.
        
      Fraud Checks - One or more  of:
        - "fraudlist": Checks to see if the identity appears on any known fraud lists. Should be run after KYC/ID checks have passed.
        - "fraudid": Checks external ID services to see if details appear in fraud detection services (e.g. EmailAge or FraudNet)
        
      PEP Checks - One of:
        - "pep": Will only run PEP/Sanctions checks (no identity verification)
        - "pep_media": Will run PEP/Sanctions checks, as well as watchlist and adverse media checks. (no identity verification)
        
        * NOTE: These checks will ONLY run if either the KYC/ID checks have been run prior, or it is the only check requested.
        
      Pre-defined combinations:
        - "full": equivalent to "two_plus,id,pep_media" or "pep_media" if the target is an organisation.
        - "default": Currently defined as "two_plus,id" or "pep" if the target is an organisation.

      Custom:
        - By arrangement with Frankie you can define your own KYC check type.
        
        This will allow you to set the minimum number of matches for:
          - name 
          - date of birth
          - address
          - government id
        
        This allows for alternatives to the "standard" two_plus or one_plus (note, these can be overridden too).
        
      Profile:
        - "profile": By arrangement with Frankie you can have a "profile" check type that applies checks according to a profile that you assign to the entity from a predefined set of profiles.
        
        The profile to use will be taken from the entity.entityProfile field if set, or be run through a set of configurable rules to determine which one to use.
        
        Profiles act a little like the Pre-defined combinations above in that they can map to a defined list. But they offer a lot more besides, including rules for determining default settings, inbuild data aging and other configurable features.
        They also allow for a new result set top be returned that provides a more detailed and useful breakdown of the check/verification process.
        
        Entity Profiles are the future of checks with Frankie Financial.
    in: query
    items:
      enum:
        - full
        - default
        - one_plus
        - two_plus
        - id
        - fraudlist
        - fraudcheck
        - pep
        - pep_media
        - profile
      type: string
    name: checkType
    required: false
    type: array
    uniqueItems: true
  BusinessEntityCategoriesQueryParameter:
    collectionFormat: csv
    description: |
      A comma separated list that specifies the categories of entities associated with the target organisation that will be checked.

        - organisation - Just the organisation itself.
        - ubos - All ultimate beneficial owners.
        - pseudo_ubos - Use an alterntive category when an organisation has no actual UBOs. The actual category to use is defined via configuration, default is no alterntive category.
        - direct_owners - All direct owners of the company, both organisations and individuals, may include UBOs for for simple ownership.
        - officers - All officers of the company
        - officers_directors - All directors of the company
        - officers_other - All non-director officers of the company
        - all - All direct and indirect owners, both organisations and individuals (including UBOs), and officers of all organisations.
    in: query
    items:
      enum:
        - organisation
        - ubos
        - pseudo_ubos
        - direct_owners
        - officers
        - officers_directors
        - officers_other
        - all
      type: string
    name: entityCategories
    required: false
    type: array
    uniqueItems: true
  BusinessGenerateReportQueryParameter:
    description: |
      The type of human readable report, if any, to generate based on the ownership query results.
    in: query
    name: generateReport
    required: false
    type: string
  BusinessIncludeHistoricalQueryParameter:
    description: |
      If set to true, historical ownership data will be requested.
    in: query
    name: includeHistorical
    required: false
    type: boolean
  BusinessOnlyProfileQueryParameter:
    description: |
      If set to true, a full UBO report will not be requested.
    in: query
    name: onlyProfile
    required: false
    type: boolean
  BusinessReportTypesQueryParameter:
    description: |
      Define the report(s) you wish to run.

      You can request more than one as a comma separated list. 
      Duplicates will be ignored.

      Note: These reports are different to the business details and UBO queries and are meant to provide deeper detail and background on a business or organisation.
        
      Current valid report types are:
        - creditScore
        - creditReport
    in: query
    name: reportTypes
    required: true
    type: string
  BusinessValidationParameter:
    description: |
      Should a validation check be run before the ownership query. The default is specified via configuration. The validation checks to see if the provided organisation is suitable for an ownership query by looking for the ACN in public data sources. 
      Options are:
      - "on": Validate only when ACN is not provided. This is the typical default.
      - "acn": Validate even if ACN is provided.
      - "only": Like "acn" but only do validation query, don't proceed with ownership query. This option cannot be set as the default via configuration.
      - "off": Never validate. The Ownership query will then fail if an ACN is not provided.
    enum:
      - on
      - off
      - only
      - acn
    in: query
    name: validation
    required: false
    type: string
  CheckClassActionQueryParameter:
    description: |
      Set the new status of the Check Class (PRO/BCRO).
      Valid values are:
        - "unknown"
        - "true_positive"
        - "true_positive_accept"
        - "true_positive_reject"
        - "false_positive"
        - "stale"
    in: query
    name: status
    required: true
    type: string
  CheckClassIDPathParameter:
    description: |
      A PRO/BCRO ID
    in: path
    name: checkClassId
    required: true
    type: string
  CheckClassPathParameter:
    description: |
      Specify which check Class this action will apply to (PRO, BCRO etc.).
      Valid values are:
        - "pro": Update a Process Result Object
        - "bcro": Update a Background Check Result Object. The class IDs in the request must be the IDs from Background Check Result Object Containers.
        - "fraudlist": Update a fraud list Process Result Object. The class IDs in the request must be check sources from fraudlist Process Result Objects.
    enum:
      - pro
      - bcro
      - fraudlist
    in: path
    name: checkClass
    required: true
    type: string
  CheckIDPathParameter:
    description: The checkId returned previously from an earlier call to */verify
    format: uuid
    in: path
    name: checkId
    required: true
    type: string
  CheckTypeParameter:
    default: default
    description: |
      When creating a new check, you need to define the checks you wish to run.
        
      The checkType is make up of a comma separated list of the types of check you wish to run. The order of the requested checks is not important, they will be re-ordered by the service and in some cases, depending on your account configuration, may be skipped.

        The validation that is performed on the requested checks is to:
        - ensure the check type is known
        - is suitable for the type of entity (no KYC for organisations)
        - disallow manual (mKYC) check with any other kind of KYC
        - disallow mixing the "profile" check with any other kind of check.

      The supported check types are:

      Profile:
        - "profile": By arrangement with Frankie we will create a "profile" check type that applies checks according to a recipe that you assign to the entity from a predefined set of profiles.
        
        The profile to use will be taken from the entity.entityProfile field if set, or be run through a set of configurable rules to determine which one to use.
        
        Profiles provide a pre-defined combination of individual checkTypes (see the list below). But they offer a lot more besides, including rules for determining default settings, inbuilt data aging and other configurable features.
        They also allow for a new result set top be returned that provides a more detailed and useful breakdown of the check/verification process.
        
        Entity Profiles are a recent feature (since v1.4.0) but are now the default checkType to use with Frankie Financial.

      **Individual Check Types**

      Whilst we strongly recommend the use of the "profile" checktype, it does map of any combination of the types below. If you wish to use these individually, please contact developer support for more details on how to use these effectively.

      Entity Checks - One of:
        - "one_plus": Checks name, address and DoB against a minimum of 1 data source. (also known as a 1+1)
        - "two_plus": Checks name, address and DoB against a minimum of 2 independent data sources (also known as a 2+2)

      ID Checks - One of:
        - "id": Checks all of the identity documents, but not necessarily the entity itself independently. Use this in conjunction with a one_plus or two_plus for more.
        - "visa":
        
      ID Validate - One of:
        - "idvalidate": Checks to see if photo ID has had OCR scanning, ID document validation and photo comparison run against it. Can be used in conjunction with any of the KYC/ID/AML checks.
        
      Manual Check:
        - "manual": (mKYC) Checks user has a sufficient amount of operator verified ID and will then "pass" all Entity and ID related checks.
        
      Fraud Checks - One or more of:
        - "fraudlist": Checks to see if the identity appears on any known fraud lists. Should be run after KYC/ID checks have passed.
        - "fraudcheck": Checks external ID services to see if details appear in fraud detection services (e.g. EmailAge or FraudNet)
        
      PEP Checks - One of:
        - "pep": Will only run PEP/Sanctions checks (no identity verification)
        - "pep_media": Will run PEP/Sanctions checks, as well as watchlist and adverse media checks. (no identity verification)
        
        * NOTE: These checks will ONLY run if either the KYC/ID checks have been run prior, or it is the only check requested.
        
      Custom:
        - By arrangement with Frankie you can define your own KYC check type.
        
        This will allow you to set the minimum number of matches for:
          - name 
          - date of birth
          - address
          - government id
        
        This allows for alternatives to the "standard" two_plus or one_plus (note, these can be overridden too).
    in: path
    name: checkType
    required: true
    type: string
  CommentQueryParameter:
    description: |
      A comment describing the reason for a request.
    in: query
    name: comment
    required: false
    type: string
  CustomerChildIDHeader:
    description: |
      If, as a Frankie Customer, you are acting on behalf of your own customers, then you can populate this field with a Frankie-assigned ID.

      Note: If using a CustomerChildID, you will also need a separate api_key for each child.

      Any documents, checks, entities that are created when this field has been populated will now be tied to this CustomerID + CustomerChildID combination. Just as Customers cannot see data created by other Customers, so too a Customer's Children will not be able to see each other's data.

      A Customer can see the documents/entities and checks of all their Children.
    format: uuid
    in: header
    name: X-Frankie-CustomerChildID
    required: false
    type: string
  CustomerIDHeader:
    description: |
      Customer ID issued by Frankie Financial. This will never change. Your API key, which is mapped to this identity, will change over time.
    format: uuid
    in: header
    name: X-Frankie-CustomerID
    required: true
    type: string
  DocumentIDPathParameter:
    description: The documentId returned previously from an earlier call to /check or /entity or /document
    format: uuid
    in: path
    name: documentId
    required: true
    type: string
  EntityIDPathParameter:
    description: The entityId returned previously from an earlier call to /check or /entity
    format: uuid
    in: path
    name: entityId
    required: true
    type: string
  EntityRiskQueryParameter:
    description: |
      The risk override setting for an entity. This value will be used until a verify result updates a real risk factor.
      Valid values are:
        - "low"
        - "medium"
        - "high"
        - "unacceptable"
        - "significant"
    enum:
      - low
      - medium
      - high
      - unacceptable
      - significant
    in: query
    name: risk
    required: false
    type: string
  ForceFlagQueryParameter:
    description: |
      Force the verification to run, overriding any data aging or past check
    in: query
    name: force
    required: false
    type: boolean
  IndustryPathParameter:
    description: |
      Specify which industry the industry-specific process will come from.
      Valid values are:
        - "electricity": Electricity specific functions.
        - "gas": Gas specific functions.
        - "gaming": Gaming specific functions.
        - "gambling": Gambling specific functions.
        - "cryptocurrency": Cryptocurrency specific functions.
    enum:
      - electricity
      - utility
      - gas
      - gaming
      - gambling
      - cryptocurrency
    in: path
    name: industry
    required: true
    type: string
  IndustryProcessPathParameter:
    description: |
      Specify the industry-specific process to be performed
      Valid values are:
        - Electricity specific functions:
          - scan (scan and extract account holder data)
          - compare (scan, then generate plan comparison)
        - Gas specific functions:
          - scan (scan and extract account holder data)
          - compare (scan, then generate plan comparison)
        - Gambling specific functions:
          - blacklist (add entity to industry blacklist)
          - deblacklist (remove entity to industry blacklist)
        - Cryptocurrency specific functions:
          - blacklist (add entity to industry blacklist)
          - deblacklist (remove entity to industry blacklist)
      Note: Trying to use a process not tied to an industry will generate an error response. So no silly business.
    enum:
      - scan
      - compare
      - consent
      - switch
      - blacklist
      - deblacklist
    in: path
    name: industryProcess
    required: true
    type: string
  NoInvalidateQueryParameter:
    description: |
      Disable check result invalidation for this update request.
    in: query
    name: noInvalidate
    required: false
    type: boolean
  NoPushQueryParameter:
    description: |
      If set to true, then no SMS/email will be pushed. It will be up to the API caller to manage the delivery of the link.
    in: query
    name: nopush
    required: false
    type: boolean
  NotificationIDPathParameter:
    description: This is a Customer/ChildCustomer specific ID (UUID) that is used to help identify Frankie as a known notifying service. This ID is configured on the Frankie side along with the rest of the customer path as the endpoint for us to push notifications to.
    format: uuid
    in: path
    name: notificationId
    required: true
    type: string
  OriginalIdQueryParameter:
    description: |
      Specify the Id of the matching blacklisted entity or single data-point.
    in: query
    name: originalId
    required: false
    type: string
  OtherIDPathParameter:
    description: An entityId returned previously from an earlier call to /check or /entity. Used when an operation requires two entityIds
    format: uuid
    in: path
    name: otherId
    required: true
    type: string
  PTMPhaseQueryParameter:
    description: |
      Set the Push To Mobile phase.

      Currently supported values:
      - 2
    in: query
    name: phase
    required: false
    type: integer
  PayloadEncodingQueryParameter:
    description: |
      Specifies the type of the payload field in the retrieved response. Default is 'string'.
    enum:
      - string
      - object
    in: query
    name: payload
    type: string
  PlanLimitQueryParameter:
    default: 30
    description: The maximum number of plans to return
    in: query
    name: planLimit
    required: false
    type: integer
  ReasonFlagQueryParameter:
    description: |
      Set the reason for blacklisting.
      Valid values are:
        - "NO_REASON_SUPPLIED"
        - "FABRICATED_IDENTITY"
        - "IDENTITY_TAKEOVER"
        - "FALSIFIED_ID_DOCUMENTS"
        - "STOLEN_ID_DOCUMENTS"
        - "MERCHANT_FRAUD"
        - "NEVER_PAY_BUST_OUT"
        - "CONFLICTING_DATA_PROVIDED"
        - "MONEY_MULE"
        - "FALSE_FRAUD_CLAIM"
        - "FRAUDULENT_3RD_PARTY"
        - "COMPANY_TAKEOVER"
        - "FICTITIOUS_EMPLOYER"
        - "COLLUSIVE_EMPLOYER"
        - "OVER_VALUATION_OF_ASSETS"
        - "FALSIFIED_EMPLOYMENT_DETAILS"
        - "MANIPULATED_IDENTITY"
        - "SYNDICATED_FRAUD"
        - "INTERNAL_FRAUD"
        - "BANK_FRAUD"
        - "UNDISCLOSED_DATA"
        - "FALSE_HARDSHIP"
        - "SMR_REPORT_LODGED"
        - "2X_SMR_REPORTS_LODGED"
    in: query
    name: reason
    required: false
    type: string
  ReasonWlFlagQueryParameter:
    description: |
      Set the reason for watchlisting.
      Valid values are:
       - "WAS_BLACKLISTED"
    in: query
    name: reason
    required: false
    type: string
  RequestIDPathParameter:
    description: |
      This will be the same RequestId that was sent in the 202 acceptance response.
    format: string
    in: path
    name: requestId
    required: true
    type: string
  ResultLevelPathParameter:
    description: |
      How much detail we return. 

      Acceptable values are:
        * simple - Only available with "profile" check type. Returns just an EntityProfileResultObject (which is also included for "profile" checks at the other result levels), and a CheckEntityCheckResultObjectEntityResult with just the entity details but no separate results.
        * summary
        * full - You need to have your account configured for this.
    enum:
      - simple
      - summary
      - full
    in: path
    name: resultLevel
    required: true
    type: string
  SetEntityStatusQueryParameter:
    description: |
      The status of an entity.
      Valid values are:
        - "wait": Waiting for new details from entity.
        - "fail": Manually fail the onboarding process.
        - "archived": Hide entity from on onboarding.
        - "clear": Remove any of the above manual states as well as any manual risk.
        - "inactive": Hide entity and prevent any further operations on it. Cannot be cleared.
    enum:
      - wait
      - fail
      - archived
      - clear
      - inactive
    in: query
    name: set
    required: false
    type: string
  SetFlagQueryParameter:
    description: |
      Set the value of an entity flag.
    in: query
    name: set
    required: true
    type: boolean
  UndoQueryParameter:
    description: |
      Undo a prior operation.
    in: query
    name: undo
    required: false
    type: boolean
responses:
  respErr400BadRequest:
    description: Bad request. One or more request fields is either missing or incorrect. Details are in the error response.
    schema:
      $ref: "#/definitions/ErrorObject"
  respErr401Unauthorized:
    description: |
      The request has failed an authorisation check. This can happen for a variety of reasons, such as an invalid or expired API key, or invalid Customer/CustomerChildIDs. 
      * NOTE: This does not include attempts to read/write data you don't have access to - that's a 404 error (as we don't want to leak information through guessing)
    schema:
      $ref: "#/definitions/ErrorObject"
  respErr404CannotReturnResponse:
    description: Cannot return response. In the case of a query, or reference to a specific entity/check/etc, it means that the requested item was not found, or you don't have access to it. Please check your query before trying again.
    schema:
      $ref: "#/definitions/ErrorObject"
  respErr405NotAllowed:
    description: A request to POST an update to an object was not allowed due to it's state. This may indicate an already completed check, or a document that has been processed. You need to create a new document/check if you wish to update the object in question.
    schema:
      $ref: "#/definitions/ErrorObject"
  respErr415UnsupportedMediaType:
    description: For requests with payloads, an unsupported Content-Type was specified. The Frankie Financial API only supports a content type of application/json.
    schema:
      $ref: "#/definitions/ErrorObject"
  respErr422Unprocessable:
    description: |
      Unprocessable request. This can be triggered in a number of ways.
      * An attempt to force a check or scan to run, but there is insufficient data to be able to do so.
      * An attempt to run a utility comparison, or similar industry/document/entity specific scan or process on an unsupported document type (e.g. electricity comparison on a passport)
      Details of what is required will be in the issues list of the error response.
    schema:
      $ref: "#/definitions/ErrorObject"
  respErr429TooManyRequests:
    description: The API client is making too many concurrent requests, and some are being throttled. Throttled requests can be retried after a short delay.
    schema:
      $ref: "#/definitions/ErrorObject"
  respErr500UnexpectedError:
    description: Unexpected error. Something went wrong during the checking process.
    schema:
      $ref: "#/definitions/ErrorObject"
  respErr503NoSourcesAvailable:
    description: All of the ID sources configured by the customer are unavailable, or there is no available document processor.
    schema:
      $ref: "#/definitions/ErrorObject"
  respOk200AcceptedOwnershipQuery:
    description: |
      !!!! This response will never be sent synchronously !!!!

      This is what you will find in the payload of a retrieved response should the ownership query succeed.
    schema:
      $ref: "#/definitions/OrganisationCheckResponseObject"
  respOk200RetrieveResponse:
    description: The request was valid and able to be processed in some fashion. Results may or may not be successful, but it was completed as far as practical with no actual errors.
    schema:
      $ref: "#/definitions/RetrievedResponseObject"
  respOk200SuccessBusinessReportsResponse:
    description: The request was valid and was successfully processed. The report was run and the results have been attached.
    schema:
      $ref: "#/definitions/BusinessReportResponseDetails"
  respOk200SuccessCheckEntity:
    description: The request was valid and able to be processed in some fashion. Results may or may not be successful, but it was completed as far as practical with no actual errors. Returns the entity object as it stands now. No docScan file data from any attached ID documents will be returned unless the /full variant is requested.
    schema:
      $ref: "#/definitions/CheckEntityCheckResultObject"
  respOk200SuccessDocument:
    description: The request was valid and able to be processed in some fashion. Results may or may not be successful, but it was completed as far as practical with no actual errors. Returns the document object as it stands now. No docScan file data will be returned unless the /full variant is requested.
    schema:
      $ref: "#/definitions/DocumentResultObject"
  respOk200SuccessDocumentChecks:
    description: |
      The request was valid and able to be processed in some fashion. Results may or may not be successful, but it was completed as far as practical with no actual errors. Returns the results of all checks carried out upon this document.
    schema:
      $ref: "#/definitions/DocumentChecksResultObject"
  respOk200SuccessDocumentCompare:
    description: |
      The request was valid and able to be processed in some fashion. Results may or may not be successful, but it was completed as far as practical with no actual errors. Returns the results of the document comparison process.
    schema:
      $ref: "#/definitions/DocumentCompareResultObject"
  respOk200SuccessDocumentDelete:
    description: |
      The request was valid and able to be processed in some fashion. Returns a simple status to indicate that the deletion has taken place.
    schema:
      $ref: "#/definitions/BasicStatusResultObject"
  respOk200SuccessDocumentScan:
    description: |
      The request was valid and able to be processed in some fashion. Results may or may not be successful, but it was completed as far as practical with no actual errors. Returns the results of the document scanning process.
    schema:
      $ref: "#/definitions/DocumentScanResultObject"
  respOk200SuccessDocumentSearch:
    description: |
      The request was valid and able to be processed in some fashion. Returns a list of potentially matching documents or document references, along with a confidence level in the match.
    schema:
      $ref: "#/definitions/DocumentSearchResultObject"
  respOk200SuccessDocumentVerify:
    description: |
      The request was valid and able to be processed in some fashion. Results may or may not be successful, but it was completed as far as practical with no actual errors. Returns the results of the document verification process.
    schema:
      $ref: "#/definitions/DocumentVerifyResultObject"
  respOk200SuccessEntity:
    description: The request was valid and able to be processed in some fashion. Results may or may not be successful, but it was completed as far as practical with no actual errors. Returns the entity object as it stands now. No docScan file data from any attached ID documents will be returned unless the /full variant is requested.
    schema:
      $ref: "#/definitions/EntityResultObject"
  respOk200SuccessEntityDelete:
    description: |
      The request was valid and able to be processed in some fashion. Returns a simple status to indicate that the deletion has taken place.
    schema:
      $ref: "#/definitions/BasicStatusResultObject"
  respOk200SuccessEntityIDV:
    description: |
      The request was valid and able to be processed in some fashion. Results may or may not be successful, but it was completed as far as practical with no actual errors. Returns the entity object as it stands now. No docScan file data from any attached ID documents will be returned unless the /full variant is requested.

      Also returned is the applicantId and token to be in the IDV process.
    schema:
      $ref: "#/definitions/EntityIDVResultObject"
  respOk200SuccessEntitySearch:
    description: |
      The request was valid and able to be processed in some fashion. Returns a list of potentially matching entity or entity references, along with a confidence level in the match.
    schema:
      $ref: "#/definitions/EntitySearchResultObject"
  respOk200SuccessIndustryUtilityConsent:
    description: |
      The request was valid and able to be processed in some fashion. Results may or may not be successful, but it was completed as far as practical with no actual errors. Returns the results directly from the service provider. 
      Returns the results of the provision of explicit informed consent directly from the service provider.
    schema:
      $ref: "#/definitions/DocumentIndustryUtilityConsentResultObject"
  respOk200SuccessIndustryUtilityDocument:
    description: |
      The request was valid and able to be processed in some fashion. Results may or may not be successful, but it was completed as far as practical with no actual errors. 
      Returns the results of the utility comparison directly from the service provider.
    schema:
      $ref: "#/definitions/DocumentIndustryUtilityProcessResultObject"
  respOk200SuccessIndustryUtilitySwitch:
    description: |
      The request was valid and able to be processed in some fashion. Results may or may not be successful, but it was completed as far as practical with no actual errors. Returns the results directly from the service provider.
      Returns the results of the utility switch over directly from the service provider.
    schema:
      $ref: "#/definitions/DocumentIndustryUtilitySwitchResultObject"
  respOk200SuccessInternationalBusinessProfileResponse:
    description: The request was valid and was successfully processed. The search has been carried out and the results are attached.
    schema:
      $ref: "#/definitions/InternationalBusinessProfileResponse"
  respOk200SuccessInternationalBusinessSearchResponse:
    description: The request was valid and was successfully processed. The search has been carried out and the results are attached.
    schema:
      $ref: "#/definitions/InternationalBusinessSearchResponse"
  respOk202AcceptedCheckOrganisation:
    description: The request was valid and can potentially be fulfilled. The Frankie service has now accepted responsibility for processing and we will either push the results to you, or send you a notification, depending on the request and your configuration.
    schema:
      $ref: "#/definitions/AcceptedEntityResultObject"
  respOk202AcceptedDocument:
    description: The request was valid and can potentially be fulfilled. The Frankie service has now accepted responsibility for processing and we will either push the results to you, or send you a notification, depending on the request and your configuration.
    schema:
      $ref: "#/definitions/AcceptedDocumentResultObject"
  respOk202AcceptedEntity:
    description: The request was valid and can potentially be fulfilled. The Frankie service has now accepted responsibility for processing and we will either push the results to you, or send you a notification, depending on the request and your configuration.
    schema:
      $ref: "#/definitions/AcceptedEntityResultObject"
  respOk202AcceptedOwnershipQuery:
    description: The request was valid and can potentially be fulfilled. The Frankie service has now accepted responsibility for processing and we will either push the results to you, or send you a notification, depending on the request and your configuration.
    schema:
      $ref: "#/definitions/AcceptedEntityResultObject"
  respSystem200OK:
    description: The system is fine. No issues, and everyone gets a puppy. But only if a Customer ID is supplied, otherwise, no puppy for you. Also, try asking nicely.
    schema:
      $ref: "#/definitions/PuppyObject"
  respSystem500NotGood:
    description: The system is presently unavailable, or running in a severely degraded state. Check the error message for details
    schema:
      $ref: "#/definitions/ErrorObject"
tags:
  - description: Service status functions you can use to make sure things are up and running.
    name: Status
  - description: Operations on specific ID documents, specific to an entity (people).
    name: Document
  - description: Operations on specific entities (people / companies / etc)
    name: Entity
  - description: Operations on entities that are set to type ORGANISATION
    name: Business
  - description: Industry-specific operations on documents and entities.
    name: Industry
  - description: These are callback/webhook functions. If you've requested a callback, this will be what is sent to you. You do not need to implement these as a client, but you do need to be able to accept them as a server.
    name: Push Notification
  - description: Functions used for retrieving past results
    name: Retrieve
  - description: Operations on entities to set specific flags and states.
    name: Flag
paths:
  /business/international/profile:
    post:
      description: |
        Using the Company Code retrieved from the search response (see above) you can pull back the details of the company.

        The Frankie platform will save the details of the response as an ORGANISATION type entity with the profile attached as a report which you can potentially re-retrieve later if you wish.
      operationId: InternationalBusinessProfile
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - description: |
            The country, cxompany code and optional registry of the organisation to be queried.
          in: body
          name: organisation
          required: true
          schema:
            $ref: "#/definitions/InternationalBusinessProfileCriteria"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessInternationalBusinessProfileResponse"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
        "503":
          $ref: "#/responses/respErr503NoSourcesAvailable"
      summary: Retrieve a business profile from any country (AUS included).
      tags:
        - Business
  /business/international/search:
    post:
      description: |
        Search for a given business name or business number across international business registers.

        The search will return a list of matching companies that you can then potentially query using the international profile query (see below).
        Each search result will have a CompanyCode that you use to retrieve the specific company details using the profile function.

        This process will not save any details from the search results.
      operationId: InternationalBusinessSearch
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - description: |
            The country, name or business number of the organisation to be queried.
          in: body
          name: organisation
          required: true
          schema:
            $ref: "#/definitions/InternationalBusinessSearchCriteria"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessInternationalBusinessSearchResponse"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
        "503":
          $ref: "#/responses/respErr503NoSourcesAvailable"
      summary: Search for a business from any country (AUS included).
      tags:
        - Business
  /business/ownership/query:
    post:
      description: |
        Process a request for ownership details for an Australian organisation.

        See below for more generic international queries.

        At a minimum, you just need to supply an ACN or ABN and we can retrieve the rest.
        You also have the option of supplying company name, type (as per ABR types) and both ABN/ACN and we'll attempt to verfy that that data matches what is on record before attempting any further verification and validation.

        KYC/AML for a selection of entities associated with an organisation and/or the organisation itself can optionally be run, but not by default. To enable KYC/AML checks one or more entity categories must be provided. If such a list of entity categories is given then default checks based on configuration will be run for those categories. If a check type is also provided in the request then that type will be used for entities representing individual entities, and the AML subset of that check will be used for organisations if any. Specifying a check type without an entity category will result in an error.

        NOTE: This query will always run asynchronously and you will only ever be returned a 202 ACCEPT response, or an error.
        Results will be pushed using the Push Notification API below and you will be able to retrieve the results using the Retrieve API.

        We have supplied the 200 response in the definition below only so what will be sent to you when you later retrieve the details.

        More details on how to use this API and interpret the results can be found here:
          
          https://apidocs.frankiefinancial.com/docs/which-function-to-use
      operationId: BusinessOwnershipQuery
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BusinessCheckTypeQueryParameter"
        - $ref: "#/parameters/BusinessEntityCategoriesQueryParameter"
        - $ref: "#/parameters/BusinessCheckResultLevelQueryParameter"
        - $ref: "#/parameters/BusinessValidationParameter"
        - $ref: "#/parameters/BusinessGenerateReportQueryParameter"
        - $ref: "#/parameters/BusinessIncludeHistoricalQueryParameter"
        - $ref: "#/parameters/BusinessOnlyProfileQueryParameter"
        - description: |
            The organisation to be queried. An entity object that must have an organisation object with at least one organisation number.
          in: body
          name: query
          required: true
          schema:
            $ref: "#/definitions/OwnershipQuery"
      responses:
        "200":
          $ref: "#/responses/respOk200AcceptedOwnershipQuery"
        "202":
          $ref: "#/responses/respOk202AcceptedOwnershipQuery"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
        "503":
          $ref: "#/responses/respErr503NoSourcesAvailable"
      summary: Create Business Entity and Query UBO (AUS Only)
      tags:
        - Business
  /business/reports:
    post:
      description: |
        NOTE: Australian companies ONLY.
        Create or find and update an ORGANISATION type entity, then run the requested reports.
        Reports include:
         - Credit Report
         - Credit Score

        At a minimum, you just need to supply an ACN and/or ABN and an entity type set to ORGANISATION. Alternatively the entity ID of an existing ORGANISATION entity gan be given in the request body

        Note: these reports are different to the Ultimate Beneficial Owner and Business Detail requests - these reports are independent data and analysis over and above company information and verification details.

        You can request multiple reports to be run at once and they will be returned as a group (where feasible).

        If a report can only be generated over time, then a temporary response will be returned and a webhook notification will be pushed later once the report has been completed.
      operationId: RunBusinessReports
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BusinessReportTypesQueryParameter"
        - description: |
            The organisation to be queried. An entity object that must have be an ORGANISATION type with at least one organisation number (ABN or ACN).
          in: body
          name: organisation
          required: true
          schema:
            $ref: "#/definitions/EntityObject"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessBusinessReportsResponse"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
        "503":
          $ref: "#/responses/respErr503NoSourcesAvailable"
      summary: Run Report(s) against a new or existing organisation entity (AUS Only).
      tags:
        - Business
  "/business/{entityId}/verify":
    post:
      description: |
        Run KYC/AML for a selection of entities associated with an organisation and/or the organisation itself based on a previous ownership query.
        By default AML will be checked for just the organisation itself. If a list of entity categories is given then default checks based on configuration will be run for those categories. If a check type is also provided in the request then that type will be used for entities representing individual entities, and the AML subset of that check will be used for organisations if any.
        If no ownership query has been run, then this operation will return an error.
      operationId: CheckOrganisation
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/EntityIDPathParameter"
        - $ref: "#/parameters/BusinessCheckTypeQueryParameter"
        - $ref: "#/parameters/BusinessEntityCategoriesQueryParameter"
        - $ref: "#/parameters/BusinessCheckResultLevelQueryParameter"
        - $ref: "#/parameters/BusinessGenerateReportQueryParameter"
      responses:
        "202":
          $ref: "#/responses/respOk202AcceptedCheckOrganisation"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
        "503":
          $ref: "#/responses/respErr503NoSourcesAvailable"
      summary: Run KYC/AML Checks on Organisation and/or Associated Individuals.
      tags:
        - Business
  /document:
    post:
      description: |
        Create a document object. A document object can be used to simply store data around a given identity or similar document. You can attach scans, PDFs, photos, videos, etc to the objectif you wish and these may be processed later (using the /scan function) to extract useful information. Or you can manually supply the extracted information if you choose.
        Document objects can be used to create an entity, based on extracted or supplied data; or it may be attached to an existing entity, either directly or through an ID check.
      operationId: CreateDocument
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - in: body
          name: document
          schema:
            $ref: "#/definitions/IdentityDocumentObject"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessDocument"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: Create New Document.
      tags:
        - Document
  /document/new/compare:
    post:
      description: |
        Creates a new document from the "toDocument" parameter (usual rules apply in that it must be a valid document, with no existing documentId).
        The compareDocument can be an existing documentId, or it too can be new as well.
          * If existing (i.e. a valid DocumentId is supplied), it will be updated with any new data supplied before being sent to the comparison process.
          * If new, then a new document will be created too, and the ID returned in the result.
          
        The document scans are then sent for processing and comparison, such as comparing a selfie-video against a drivers licence photo.

        * NOTE: This is NOT the verification process (see /document/verify)

        * NOTE: This is NOT the OCR data extraction process either (see /document/scan)
      operationId: CompareDocument
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BackgroundHeader"
        - description: |
            Contains the document (compareDocument) we want to compare (toDocument)
          in: body
          name: ComparisonSet
          required: true
          schema:
            $ref: "#/definitions/ComparisonSet"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessDocumentCompare"
        "202":
          $ref: "#/responses/respOk202AcceptedDocument"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
        "503":
          $ref: "#/responses/respErr503NoSourcesAvailable"
      summary: Create Document and Compare to Original.
      tags:
        - Document
  /document/new/scan:
    post:
      description: |
        Create a document object. This is then processed to extract useful information and create an entity; or it may be attached to an entity, either directly or through an ID check.
        The service will attempt to extract relevant data from any/all uploaded images/documents and will place those in the extraData KVP block.
      operationId: CreateScanDocument
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BackgroundHeader"
        - in: body
          name: document
          schema:
            $ref: "#/definitions/IdentityDocumentObject"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessDocumentScan"
        "202":
          $ref: "#/responses/respOk202AcceptedDocument"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: Create and OCR Scan Document.
      tags:
        - Document
  /document/new/utility/process/compare:
    post:
      description: |
        Create a document object. This is then processed to extract useful information, just like a normal OCR scan. The service will then push the document through an industry specific comparison process, where the details are used to find a better plan, based on the bill.

        100's of datapoints are accurately extracted from the uploaded document. This data is then used to compare the bill against the whole market. A personalised comparison is returned that is a best fit for the customer's energy profile.

        * NOTE: It is expected that the type of document being uploaded will be a PDF and the idType is UTILITY_BILL. (These values will be set automatically if not supplied). 
          You can optionally include the utility name (e.g. Origin Energy) in the idSubType if you wish.
      operationId: CreateProcessIndustryUtilityDocument
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BackgroundHeader"
        - $ref: "#/parameters/PlanLimitQueryParameter"
        - in: body
          name: document
          schema:
            $ref: "#/definitions/IdentityDocumentObject"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessIndustryUtilityDocument"
        "202":
          $ref: "#/responses/respOk202AcceptedDocument"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: Create Document and Run Utility Price Comparison.
      tags:
        - Industry
  /document/new/verify:
    post:
      description: |
        Send the document to an external service to have the detailed verified.

        For example, we could send through the details of a drivers licence to be checked against a national database.

        * NOTE: This is NOT the OCR data extraction process (see /document/scan)
        * NOTE: This is NOT the comparison process (see /document/compare)
      operationId: VerifyDocument
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BackgroundHeader"
        - description: |
            The document and (possibly) its associated scans to be verified.

            There is also an entity object (normally stripped back to it's bare minimum) that can be used to provide supporting data, such as name, address, etc. The entity object may be empty/
          in: body
          name: processDocument
          required: true
          schema:
            $ref: "#/definitions/DocumentVerify"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessDocumentVerify"
        "202":
          $ref: "#/responses/respOk202AcceptedDocument"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
        "503":
          $ref: "#/responses/respErr503NoSourcesAvailable"
      summary: Create and Verify Document.
      tags:
        - Document
  /document/search:
    post:
      description: |
        
        Search for an existing document that matches the criteria supplied

        There are of course limits to what can be searched upon. For a document search to work, you must supply at a minimum:

          * idType
          * country
          * idNumber

        The service will return a list of matching documents with confidence levels.

        If you are the "owner" of the document - i.e. the same CustomerID and CustomerChildID (if relevant) - then the full details of the document will be returned, except for the contents of any attached scans.
        If you are not the owner of the document, then just the ID and confidence level is returned. You can still use this ID to retrieve any check results (see GET /document/{documentId}/checks)

        Note: At this time, we cannot perform searches on document scans. But, you can supply extraData KVPs if they're known. These will help doublecheck search results with ambiguous results.
      operationId: SearchDocument
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - description: |
            A document object with the parameters you wish to search on.
          in: body
          name: searchDocument
          required: true
          schema:
            $ref: "#/definitions/IdentityDocumentObject"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessDocumentSearch"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
        "503":
          $ref: "#/responses/respErr503NoSourcesAvailable"
      summary: Search For a Document !! EXPERIMENTAL !!
      tags:
        - Document
  "/document/{documentId}":
    delete:
      description: |
        Mark this document as deleted. It will then become effectively invisible to all queries, but will be available in anonymised form for a past check.
      operationId: DeleteDocument
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BackgroundHeader"
        - $ref: "#/parameters/DocumentIDPathParameter"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessDocumentDelete"
        "202":
          $ref: "#/responses/respOk202AcceptedDocument"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: Delete Document.
      tags:
        - Document
    get:
      description: |
        Query the current status and details of a given documentId.
      operationId: QueryDocument
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/DocumentIDPathParameter"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessDocument"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: Retrieve Document Details
      tags:
        - Document
    post:
      description: |
        Using a previously uploaded but incomplete document, you can optionally supply updated details (such as corrections on a previous scan), along with one or more additional ID scans (e.g. additional pages).
      operationId: UpdateDocument
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BackgroundHeader"
        - $ref: "#/parameters/DocumentIDPathParameter"
        - $ref: "#/parameters/NoInvalidateQueryParameter"
        - description: The document to be updated
          in: body
          name: document
          required: true
          schema:
            $ref: "#/definitions/IdentityDocumentObject"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessDocument"
        "202":
          $ref: "#/responses/respOk202AcceptedDocument"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
        "503":
          $ref: "#/responses/respErr503NoSourcesAvailable"
      summary: Update Existing Document.
      tags:
        - Document
  "/document/{documentId}/checks":
    get:
      description: |
        Get the complete list of all checks that have been performed upon a given document, including the checks that have been performed by others (in those cases you just get the id, status and date run, none of the details).
      operationId: QueryDocumentChecks
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BackgroundHeader"
        - $ref: "#/parameters/DocumentIDPathParameter"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessDocumentChecks"
        "202":
          $ref: "#/responses/respOk202AcceptedDocument"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: |
        Retrieve Document Verification Check Details.
      tags:
        - Document
  "/document/{documentId}/compare":
    post:
      description: |
        Send the attached document scans to an external service for processing and comparison, such as comparing a selfie-video against a drivers licence photo.

        * NOTE: This is NOT the verification process (see /document/verify)

        * NOTE: This is NOT the OCR data extraction process either (see /document/scan)
      operationId: UpdateCompareDocument
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BackgroundHeader"
        - $ref: "#/parameters/DocumentIDPathParameter"
        - description: |
            Contains the document (compareDocument) we want to compare (toDocument).

            In this case, the toDocument should be left blank, and is assumed to be "this" document
          in: body
          name: ComparisonSet
          required: true
          schema:
            $ref: "#/definitions/ComparisonSet"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessDocumentCompare"
        "202":
          $ref: "#/responses/respOk202AcceptedDocument"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
        "503":
          $ref: "#/responses/respErr503NoSourcesAvailable"
      summary: Update Document and Compare to Original.
      tags:
        - Document
  "/document/{documentId}/full":
    get:
      description: |
        Query the current status and details of a given documentId. Also returns all document file data, not just the metadata.
      operationId: QueryDocumentFull
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/DocumentIDPathParameter"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessDocument"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: Retrieve Document and Scan Data
      tags:
        - Document
  "/document/{documentId}/scan":
    post:
      description: |
        Using a previously uploaded but potentially incomplete document, you can optionally supply updated details (such as corrections on a previous scan), along with one or more additional ID scans (e.g. additional pages). Includes a follow-on action as well initiating OCR processing proceedures immediately.
        The service will attempt to extract relevant data from any/all uploaded images/documents and will place those in the extraData KVP block.
      operationId: UpdateScanDocument
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BackgroundHeader"
        - $ref: "#/parameters/DocumentIDPathParameter"
        - description: |
            The entity to be optionally updated, then processed.
            If updating a document, you only need to populate the fields you're actually adding/updating.
          in: body
          name: document
          required: true
          schema:
            $ref: "#/definitions/IdentityDocumentObject"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessDocumentScan"
        "202":
          $ref: "#/responses/respOk202AcceptedDocument"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
        "503":
          $ref: "#/responses/respErr503NoSourcesAvailable"
      summary: Update and OCR Scan Document
      tags:
        - Document
  "/document/{documentId}/utility/process/compare":
    post:
      description: |
        Using a previously uploaded but incomplete document, you can optionally supply updated details or simply request that the document be re-processed through the industry comparison service. 

        100's of datapoints are accurately extracted from the uploaded document. This data is then used to compare the bill against the whole market. A personalised comparison is returned that is a best fit for the customer's energy profile.

        * NOTE: It is expected that the type of document being uploaded will be a PDF and the idType is UTILITY_BILL. (These values will be set automatically if not supplied). 
          You can optionally include the utility name (e.g. Origin Energy) in the idSubType if you wish.
      operationId: UpdateProcessIndustryUtilityDocument
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BackgroundHeader"
        - $ref: "#/parameters/DocumentIDPathParameter"
        - $ref: "#/parameters/PlanLimitQueryParameter"
        - in: body
          name: document
          schema:
            $ref: "#/definitions/IdentityDocumentObject"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessIndustryUtilityDocument"
        "202":
          $ref: "#/responses/respOk202AcceptedDocument"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: Update Document and Run Utility Price Comparison.
      tags:
        - Industry
  "/document/{documentId}/utility/process/consent":
    post:
      description: |
        Using a previously uploaded and processed document, the user must provide explicit consent before being able to call the /switch function. 

        Before entering into a contract with a new energy retailer, consumers are first obliged to review the retailer's contractual terms and conditions, confirm they understand these terms as well as give explicit, informed consent (EIC) for the switch to occur. This API call retrieves all information        that must be displayed in order for a compliant EIC to be captured from a consumer.

        * NOTE: as part of this call, you must provide a previously returned corellationId that is associated with this document and the returned plan options. Failure to do so will result in an error response.
      operationId: UpdateProcessIndustryUtilityDocumentConsent
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BackgroundHeader"
        - $ref: "#/parameters/DocumentIDPathParameter"
        - in: body
          name: consentRequest
          schema:
            $ref: "#/definitions/EICRequest"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessIndustryUtilityConsent"
        "202":
          $ref: "#/responses/respOk202AcceptedDocument"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: Provide Explicit Consent to Switch Utility Plans.
      tags:
        - Industry
  "/document/{documentId}/utility/process/switch":
    post:
      description: |
        Using a previously uploaded and processed document, the user must provide explicit consent before being able to call the /switch function. 

        The bill payer has uploaded their current bill, selected a new plan, accepted the terms and conditions and given their consent for the switch to occur. This API call will finalise the switch request and send all the customers data along with the requested plan to the selected retailer.

        * NOTE: as part of this call, you must provide a previously returned corellationId that is associated with this document and the returned plan options. Failure to do so will result in an error response.
      operationId: UpdateProcessIndustryUtilityDocumentSwitch
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BackgroundHeader"
        - $ref: "#/parameters/DocumentIDPathParameter"
        - in: body
          name: switchRequest
          schema:
            $ref: "#/definitions/SwitchRequest"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessIndustryUtilitySwitch"
        "202":
          $ref: "#/responses/respOk202AcceptedDocument"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: Initiate Switching of Utility Plan.
      tags:
        - Industry
  "/document/{documentId}/verify":
    post:
      description: |
        Using a previously uploaded but potentially incomplete document, you can optionally supply updated details (such as corrections on a previous scan), along with one or more additional ID scans (e.g. additional pages). Includes a follow-on action as well initiating verification proceedures immediately.

        Sends the updated document to an external service to have the detailed verified.

        For example, we could send through the details of a drivers licence to be checked against a national database.

        * NOTE: This is NOT the OCR data extraction process (see /document/scan)
        * NOTE: This is NOT the comparison process (see /document/compare)
      operationId: UpdateVerifyDocument
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BackgroundHeader"
        - $ref: "#/parameters/DocumentIDPathParameter"
        - description: |
            The document and (possibly) its associated scans to be verified.

            There is also an optional entity object (normally stripped back to it's bare minimum) that can be used to provide supporting data, such as name, address, etc. The entity object may be empty, and is not processed or stored in any way.
          in: body
          name: processDocument
          required: true
          schema:
            $ref: "#/definitions/DocumentVerify"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessDocumentVerify"
        "202":
          $ref: "#/responses/respOk202AcceptedDocument"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
        "503":
          $ref: "#/responses/respErr503NoSourcesAvailable"
      summary: Update and Verify Document.
      tags:
        - Document
  /entity:
    post:
      description: |
        Create an entity object. An entity object can be used to simply store data around a given identity. You can attach ID documents, scans, PDFs, photos, videos, etc to the entity if you wish and these may be processed later (using the /scan function) to extract useful information. Or you can manually supply the  information if you choose.

        Entity objects can be used to run a check, using the data held in the records.
      operationId: CreateEntity
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - in: body
          name: entity
          schema:
            $ref: "#/definitions/EntityObject"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessEntity"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: Create New Entity.
      tags:
        - Entity
  /entity/new/idvalidate/getToken:
    post:
      description: |
        Create an entity object and if successful, obtain a token for use in an ID Validation service SDK (web or native app) 

        At a minimum, you will need to supply:
         - the entity familyName. 
         - the entity givenName
         
         For best results, you should gather the DoB, address, ID document details as well before  calling the initProcess function.

        SPECIAL NOTE 1: Tokens have a limited lifespan, typically only 1 hour. Make sure you've used it or you will need to create another using update version of this function. 

        SPECIAL NOTE 2: This function will need to be followed up with a call to /entity/{id}/idvalidate/initProcess once you've collected all your data in your app/web capture process.
      operationId: CreateEntityGetIDVToken
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - description: The entity and required data to generate an IDV token
          in: body
          name: entityIDVDetails
          required: true
          schema:
            $ref: "#/definitions/EntityIDVDetailsObject"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessEntityIDV"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
        "503":
          $ref: "#/responses/respErr503NoSourcesAvailable"
      summary: Create Entity and Get IDV Token
      tags:
        - Entity
  /entity/new/verify/pushToMobile:
    post:
      description: |
        Create an entity object and begin the process of verification after pushing a message to a mobile number. 
        The entity will receive a link on their mobile and will then be guided through a series of steps to capture and OCR scan their ID, and perform a selfie comparison. We'll then attempt to verify the data received and push a notification back to the calling customer.

        At a minimum, you will need to supply the name and a MOBILE_PHONE document type. 

        SPECIAL NOTE: This will only ever return a 202 response if successfully accepted. You will need to ensure your account is configured for push notifications. Contact developer supprt to arrange this.
      operationId: CreateCheckEntityPushToMobile
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BackgroundHeader"
        - $ref: "#/parameters/NoPushQueryParameter"
        - description: The entity and any associated / additional information to be checked
          in: body
          name: entityDetails
          required: true
          schema:
            $ref: "#/definitions/EntityCheckDetailsObject"
      responses:
        "202":
          $ref: "#/responses/respOk202AcceptedEntity"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
        "503":
          $ref: "#/responses/respErr503NoSourcesAvailable"
      summary: Create Entity and Push Self-Verification Link
      tags:
        - Entity
  "/entity/new/verify/{checkType}/{resultLevel}":
    post:
      description: |
        Create an entity object. An entity object can be used to simply store data around a given identity. You can attach ID documents, scans, PDFs, photos, videos, etc to the entity if you wish and these may be processed later (using the /scan function) to extract useful information. Or you can manually supply the  information if you choose.

        If the entity is successfully created, take the details and documents provided, and set about verifying them all.
        So for example, you might extract:

        * The name from the entity.name object
        * The address from the entity.address object
        * The DoB..

        All documents that are attached to the entity will also be verified (if possible).

        You can also specify the level of detail returned using the resultLevel parameter. You can choose "summary" or "full". For the "profile" check type you can also select "simple" to only get the entity profile result.

        SPECIAL NOTE: A "Full" response includes details of all checks and how they map against each element, along with all the details of pep/sanctions/etc checks too.

        Your account also needs to be configured to support a full response too (talk to your account manager for more information). If you're not configured for full responses, we'll only return summary level data regardless.
      operationId: CreateCheckEntity
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BackgroundHeader"
        - $ref: "#/parameters/CheckTypeParameter"
        - $ref: "#/parameters/ResultLevelPathParameter"
        - description: The entity and any associated / additional information to be checked
          in: body
          name: entityDetails
          required: true
          schema:
            $ref: "#/definitions/EntityCheckDetailsObject"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessCheckEntity"
        "202":
          $ref: "#/responses/respOk202AcceptedEntity"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
        "503":
          $ref: "#/responses/respErr503NoSourcesAvailable"
      summary: Create and Verify Entity
      tags:
        - Entity
  /entity/search:
    post:
      description: |
        
        Search for an existing entity that matches the criteria supplied

        Criteria are supplied in the form of a populated entity object, with the name/address/DoB details supplied.
        You can also include documents that can be used to further refine your search (see the /document/search function for minimum requirements for a document search)

        At an absolute minimum, you must supply one of the following combinations:

          * name.familyName +
          * name.givenNames
          
          or
          
          * name.familyName +
          * one identityDocument object (that meets minimum criteria)
          
        Obviously, the more data you provide, the better search results we can provide.

        The service will return a list of matching entities with confidence levels.

        If you are the "owner" of the entity - i.e. the same CustomerID and CustomerChildID (if relevant) - then the full details of the entity and any owned documents will be returned, except for the contents of any attached scans.

        If you are not the owner of the entity (or linked documents), then just the ID and confidence level is returned. You can still use this ID to retrieve any check results (see GET  /entity/{entityId}/checks and GET /document/{documentId}/checks)

        Note: This functionality must be enabled by Frankie administrators. Please contact your sales representative if you wish to discuss this.
      operationId: SearchEntity
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - description: |
            An entity object with the parameters you wish to search on.
          in: body
          name: searchEntity
          required: true
          schema:
            $ref: "#/definitions/EntityObject"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessEntitySearch"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
        "503":
          $ref: "#/responses/respErr503NoSourcesAvailable"
      summary: Search for Entity
      tags:
        - Entity
  "/entity/{entityId}":
    delete:
      description: |
        Marks the entity as deleted in the system, and no further operations or general queries may be executed against it by the Customer. If another customer is presently relying on this data, it will still be available to them (but only in the partially anonymised form they originally had.

        An entity and its related data is only completely deleted from the database when either:

          - a) There are no more references to it (i.e. it has been DELETEd by all Customers relying on the data), and 12 months have passed.
          
          - b) The actual consumer who owns the data makes a direct request. If this occurs, then all subscribing Customers will be notified that this entity has been removed and they will need to contact them if needed in order to update their own records again.
      operationId: DeleteEntity
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BackgroundHeader"
        - $ref: "#/parameters/EntityIDPathParameter"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessEntityDelete"
        "202":
          $ref: "#/responses/respOk202AcceptedEntity"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: Delete Entity
      tags:
        - Entity
    get:
      description: |
        Query the current status and details of a given entityId.
      operationId: QueryEntity
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/EntityIDPathParameter"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessEntity"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: Retrieve Entity Details
      tags:
        - Entity
    post:
      description: |
        Using a previously uploaded but incomplete Entity, you can optionally supply updated details (such as corrections on a previous address), along with one or more additional ID docs/scans (e.g. new documents to parse, etc).
      operationId: UpdateEntity
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/BackgroundHeader"
        - $ref: "#/parameters/EntityIDPathParameter"
        - $ref: "#/parameters/NoInvalidateQueryParameter"
        - description: The entity to be updated
          in: body
          name: entity
          required: true
          schema:
            $ref: "#/definitions/EntityObject"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessEntity"
        "202":
          $ref: "#/responses/respOk202AcceptedEntity"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "415":
          $ref: "#/responses/respErr415UnsupportedMediaType"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
        "503":
          $ref: "#/responses/respErr503NoSourcesAvailable"
      summary: Update Existing Entity.
      tags:
        - Entity
  "/entity/{entityId}/check/{checkId}/{checkClass}":
    post:
      description: |
        Internal only

        Update a given set of KYC and/or AML check result statuses in order to force a re-evaluation of the overall check result.
      operationId: UpdateCheckClassResults
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/EntityIDPathParameter"
        - $ref: "#/parameters/CheckIDPathParameter"
        - $ref: "#/parameters/CheckClassPathParameter"
        - description: The check result status change details to apply
          in: body
          name: checkResultUpdate
          required: true
          schema:
            $ref: "#/definitions/CheckResultUpdateObject"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessCheckEntity"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: Update Check Result States (Batch)
      tags:
        - Entity
  "/entity/{entityId}/check/{checkId}/{checkClass}/{checkClassId}":
    post:
      description: |
        Internal only

        Update a given KYC or AML check result status in order to force a re-evaluation of the overall check result.
      operationId: UpdateCheckClassResult
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/EntityIDPathParameter"
        - $ref: "#/parameters/CheckIDPathParameter"
        - $ref: "#/parameters/CheckClassPathParameter"
        - $ref: "#/parameters/CheckClassIDPathParameter"
        - $ref: "#/parameters/CheckClassActionQueryParameter"
        - $ref: "#/parameters/UndoQueryParameter"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessCheckEntity"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "405":
          $ref: "#/responses/respErr405NotAllowed"
        "422":
          $ref: "#/responses/respErr422Unprocessable"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: Update Check Result State
      tags:
        - Entity
  "/entity/{entityId}/checks":
    get:
      description: |
        Get the complete list of all checks that have been performed upon a given entity and its documents, including the checks that have been performed by others (in those cases you just get the id, status and date run, none of the details).
      operationId: QueryEntityChecks
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/EntityIDPathParameter"
        - $ref: "#/parameters/AllDataQueryParameter"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessCheckEntity"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: |
        Retrieve Entity Verication Check Details
      tags:
        - Entity
  "/entity/{entityId}/flag/blacklist":
    post:
      description: |
        Mark the entity as blacklisted or not with the '?set=' query parameter as 'true' or 'false'.
      operationId: BlacklistEntity
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/EntityIDPathParameter"
        - $ref: "#/parameters/SetFlagQueryParameter"
        - $ref: "#/parameters/ReasonFlagQueryParameter"
        - $ref: "#/parameters/BlockedByQueryParameter"
        - $ref: "#/parameters/AttributeQueryParameter"
        - $ref: "#/parameters/OriginalIdQueryParameter"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessEntity"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: Set Entity Blacklist State.
      tags:
        - Flag
  "/entity/{entityId}/flag/duplicate/{otherId}":
    post:
      description: |
        Resolve the state of a pair of duplicate entities with the '?set=' query parameter as 'true' or 'false'.
        Setting duplicate to 'true' will make entityId invisible for most purposes and otherId will continue to function as normal.
        Setting duplicate to 'false' means the two entities are in fact separate but similar and they will both continue to exist independently but will no longer be identified as duplicates of eachother.
      operationId: FlagDuplicateEntity
      parameters:
        - $ref: "#/parameters/CustomerIDHeader"
        - $ref: "#/parameters/CustomerChildIDHeader"
        - $ref: "#/parameters/EntityIDPathParameter"
        - $ref: "#/parameters/OtherIDPathParameter"
        - $ref: "#/parameters/SetFlagQueryParameter"
      responses:
        "200":
          $ref: "#/responses/respOk200SuccessEntity"
        "400":
          $ref: "#/responses/respErr400BadRequest"
        "401":
          $ref: "#/responses/respErr401Unauthorized"
        "404":
          $ref: "#/responses/respErr404CannotReturnResponse"
        "429":
          $ref: "#/responses/respErr429TooManyRequests"
        "500":
          $ref: "#/responses/respErr500UnexpectedError"
      summary: Resolve Duplicate States.
      tags:
        - Flag
  "/entity/{entityId}/flag/monitor":
    post:
[...]
