swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Deployment Admin Client.
  title: DeploymentAdminClient
  version: 2019-01-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/deployment/Microsoft.Deployment.Admin/preview/2019-01-01/ProductPackage.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-ProductPackage
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages":
    get:
      description: Returns an array of product packages.
      operationId: ProductPackages_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProductPackagesList"
      tags:
        - ProductPackages
      x-ms-examples:
        Return product packages list.:
          parameters:
            api-version: 2019-01-01
            location: global
            subscriptionId: be8b2e19-7f92-4644-b808-a18283aebb01
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/productPackages/Microsoft.NullProvider.1.1
                    name: global/Microsoft.NullProvider.1.1
                    properties:
                      fileContainerId: Microsoft.NullProvider.1.1
                      isDeployable: true
                      isUpdatable: true
                      provisioningState: Succeeded
                    type: Microsoft.Deployment.Admin/locations/productPackages
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{productId}":
    delete:
      description: Deletes a product package.
      operationId: ProductPackages_Delete
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The product identifier.
          in: path
          name: productId
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
        "404":
          description: Not found
      tags:
        - ProductPackages
      x-ms-examples:
        Removes a product package.:
          parameters:
            api-version: 2019-01-01
            location: global
            productId: Microsoft.NullProvider.1.1
            subscriptionId: be8b2e19-7f92-4644-b808-a18283aebb01
          responses:
            "200": {}
            "404": {}
      x-ms-long-running-operation: true
    get:
      description: Retrieves the specific product package details.
      operationId: ProductPackages_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The product identifier.
          in: path
          name: productId
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProductPackage"
        "404":
          description: Not Found
      tags:
        - ProductPackages
      x-ms-examples:
        Return the product package details.:
          parameters:
            api-version: 2019-01-01
            location: global
            productId: Microsoft.NullProvider.1.1
            subscriptionId: be8b2e19-7f92-4644-b808-a18283aebb01
          responses:
            "200":
              body:
                id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/productPackages/Microsoft.NullProvider.1.1
                name: global/Microsoft.NullProvider.1.1
                properties:
                  fileContainerId: Microsoft.NullProvider.1.1
                  isDeployable: true
                  isUpdatable: true
                  provisioningState: Succeeded
                type: Microsoft.Deployment.Admin/locations/productPackages
            "404": {}
    put:
      description: Creates a new product package.
      operationId: ProductPackages_Create
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The product identifier.
          in: path
          name: productId
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2019-01-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProductPackage"
        "202":
          description: Accepted
      tags:
        - ProductPackages
      x-ms-examples:
        Creates a new product package.:
          parameters:
            api-version: 2019-01-01
            fileContainerParameter:
              properties:
                fileContainerId: Microsoft.NullProvider.1.1
            location: global
            productId: Microsoft.NullProvider.1.1
            subscriptionId: be8b2e19-7f92-4644-b808-a18283aebb01
          responses:
            "200":
              body:
                id: /subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/productPackages/Microsoft.NullProvider.1.1
                name: global/Microsoft.NullProvider.1.1
                properties:
                  fileContainerId: Microsoft.NullProvider.1.1
                  isDeployable: true
                  isUpdatable: true
                  provisioningState: Succeeded
                type: Microsoft.Deployment.Admin/locations/productPackages
            "202": {}
      x-ms-long-running-operation: true
definitions:
  FileContainerId:
    description: File container resource identifier containing product manifest.
    type: string
  ProductLink:
    description: Link to a product.
    properties:
      displayName:
        description: Displayed name of product.
        type: string
      uri:
        description: URI to product.
        type: string
    type: object
  ProductLinks:
    description: List of product links.
    items:
      $ref: "#/definitions/ProductLink"
    type: array
  ProductPackage:
    allOf:
      - description: Object model of azure resource manager base.
        properties:
          id:
            description: ID of the resource.
            readOnly: true
            type: string
          location:
            description: Location of the resource.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          type:
            description: Type of Resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Properties for a product package.
    properties:
      properties:
        $ref: "#/definitions/ProductPackageProperties"
        description: Properties of a product package.
        x-ms-client-flatten: true
    type: object
  ProductPackageProperties:
    description: Properties for Product package.
    properties:
      fileContainerId:
        $ref: "#/definitions/FileContainerId"
        description: File container resource identifier containing product manifest.
      isDeployable:
        description: Value indicating whether the package is applicable for deployment.
        type: boolean
      isUpdatable:
        description: Value indicating whether the package is applicable for update.
        type: boolean
      productDeploymentId:
        description: The identifier of product deployment; null if this version is not installed.
        type: string
      provisioningState:
        description: Provisioning state of the resource.
        type: string
    type: object
  ProductPackagesList:
    description: List of product packages.
    properties:
      nextLink:
        description: Continuation Token.
        type: string
      value:
        description: List of product packages.
        items:
          $ref: "#/definitions/ProductPackage"
        type: array
  ProductProperties:
    description: Additional properties of the product
    properties:
      version:
        description: The version of the product
        type: string
    type: object
