swagger: "2.0"
schemes:
  - https
host: language-identification-prediction.p.rapidapi.com
basePath: /v1/
info:
  contact:
    name: Forum
    url: https://rapidapi.com/BigLobster/api/language-identification-prediction/discussions
    x-twitter: Rapid_API
  description: Automatic language detection for any texts. Supports over 150 languages.
  title: Language Identification (Prediction)
  version: 1.0.0
  x-apisguru-categories:
    - text
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_Rapid_API_profile_image.jpeg
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/BigLobsterito/apis/master/language-identification-swagger.yaml
      version: "2.0"
  x-providerName: rapidapi.com
  x-serviceName: language-identification
externalDocs:
  url: https://rapidapi.com/BigLobster/api/language-identification-prediction/details
consumes:
  - application/x-www-form-urlencoded
  - multipart/form-data
produces:
  - application/json
paths:
  /recognize-language/:
    post:
      parameters:
        - default: language-identification-prediction.p.rapidapi.com
          in: header
          name: X-RapidAPI-Host
          required: true
          type: string
        - in: header
          name: X-RapidAPI-Key
          required: true
          type: string
        - description: text
          in: formData
          name: text
          required: true
          type: string
      responses:
        "200":
          description: OK
      summary: Recognize Language
