openapi: 3.0.0
servers:
  - url: https://api.personio.de/v1
info:
  contact:
    x-twitter: PersonioHR
  description: Personio Authentication API
  title: Authentication
  version: "1.0"
  x-apisguru-categories:
    - enterprise
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_PersonioHR_profile_image.jpeg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/personio/api-docs/master/personio-auth-api.yaml
      version: "3.0"
  x-providerName: personio.de
  x-serviceName: authentication
paths:
  /auth:
    post:
      description: Request Authentication Token
      parameters:
        - description: Client id of the downloaded credentials file
          in: query
          name: client_id
          required: true
          schema:
            type: string
        - description: Client secret of the downloaded credentials file
          in: query
          name: client_secret
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    data:
                      token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOi8vYXBpLmRldi5wZXJzb25pby5kZTozMDAwMS92MS9hdXRoIiwiaWF0IjoxNDg5MDkxMzA2LCJleHAiOjE0ODkxNzc3MDYsIm5iZiI6MTQ4OTA5MTMwNiwianRpIjoiZmU1ZjkxOGY2MDZjOWI4OGMwMzM0ZmJkZjkyYzkwMzgiLCJzdWIiOiJPR014TVdRd1kySmxZbVF6Tm1RNVpqQmxOell6WmpsaSJ9.QZZCdlDjmL-LYdoDx2XLUfhwTdcjDgm9h4t-6JoACiM
                    success: true
              schema:
                $ref: "#/components/schemas/AuthenticationTokenResponse"
          description: ""
components:
  schemas:
    AuthenticationTokenResponse:
      allOf:
        - $ref: "#/components/schemas/Response"
        - properties:
            data:
              properties:
                token:
                  type: string
              required:
                - token
              type: object
          type: object
      title: Request Authentication Token response
    Response:
      properties:
        data:
          type: object
        success:
          type: boolean
      required:
        - success
        - data
      title: Default response object
      type: object
