swagger: "2.0"
host: quicksold.co.uk
basePath: /
info:
  contact:
    email: info@quicksold.co.uk
    name: Quicksold.co.uk
    url: https://quicksold.co.uk
    x-twitter: QuicksoldCoUk
  license:
    name: License
    url: https://quicksold.co.uk/terms-and-conditions
  termsOfService: https://quicksold.co.uk/terms-and-conditions
  title: Quicksold REST API
  version: "1.0"
  x-apisguru-categories:
    - location
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_QuicksoldCoUk_profile_image.jpeg
  x-origin:
    - format: swagger
      url: https://quicksold.co.uk/v2/api-docs
      version: "2.0"
  x-providerName: quicksold.co.uk
  x-serviceName: location
tags:
  - description: Wgs 84 To Osgb 36 Controller
    name: WGS84 To OSGB36
paths:
  "/v1/wgs84ToOsgb36/{latitude}/{longitude}":
    get:
      operationId: wgs84ToOsgb36UsingGET
      parameters:
        - description: latitude
          in: path
          name: latitude
          required: true
          type: string
        - description: longitude
          in: path
          name: longitude
          required: true
          type: string
      produces:
        - "*/*"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ApiResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: wgs84ToOsgb36
      tags:
        - WGS84 To OSGB36
definitions:
  ApiResponse:
    properties:
      data:
        type: object
      error:
        type: string
      errors:
        type: object
      message:
        type: string
      path:
        type: string
      status:
        format: int32
        type: integer
      timestamp:
        format: int64
        type: integer
    title: ApiResponse
    type: object
