swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: Logical network operation endpoints and objects.
  title: FabricAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2016-05-01/LogicalNetwork.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-LogicalNetwork
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  LogicalNetworkParameter:
    description: Name of the logical network.
    in: path
    name: logicalNetwork
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/logicalNetworks":
    get:
      description: Returns a list of all logical networks at a location.
      operationId: LogicalNetworks_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: OData filter parameter.
          in: query
          name: $filter
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/LogicalNetworkList"
        "404":
          description: NOT FOUND
      tags:
        - LogicalNetworks
      x-ms-examples:
        Returns a list of all logical networks at a location.:
          parameters:
            api-version: 2016-05-01
            location: local
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/00000000-2222-1111-9999-000000000001
                    location: local
                    name: 00000000-2222-1111-9999-000000000001
                    properties:
                      networkVirtualizationEnabled: false
                      subnets:
                        - de2b8680-ed17-4df9-a5f9-c05c090e8f4a
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/logicalNetworks
                  - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/47931036-2874-4d45-b1f1-b69666088968
                    location: local
                    name: 47931036-2874-4d45-b1f1-b69666088968
                    properties:
                      networkVirtualizationEnabled: false
                      subnets:
                        - 0af29a71-c4f4-42b3-bd7f-83b65340b0fb
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/logicalNetworks
                  - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/B60B71AA-36BF-40AC-A9CE-A6915D1EAE1A
                    location: local
                    name: B60B71AA-36BF-40AC-A9CE-A6915D1EAE1A
                    properties:
                      networkVirtualizationEnabled: false
                      subnets:
                        - 85f3102d-0213-4445-8aef-6507440f2228
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/logicalNetworks
                  - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/bb6c6f28-bad9-441b-8e62-57d2be255904
                    location: local
                    name: bb6c6f28-bad9-441b-8e62-57d2be255904
                    properties:
                      networkVirtualizationEnabled: true
                      subnets:
                        - e5e8cf68-5daf-4d4a-a2eb-c38852a6a1dc
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/logicalNetworks
                  - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/F207C184-367C-4BC7-8C74-03AA39D68C24
                    location: local
                    name: F207C184-367C-4BC7-8C74-03AA39D68C24
                    properties:
                      networkVirtualizationEnabled: false
                      subnets:
                        - 0cb684a8-0ccd-42b9-b1e4-243a05622b8f
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/logicalNetworks
                  - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/f8f67956-3906-4303-94c5-09cf91e7e311
                    location: local
                    name: f8f67956-3906-4303-94c5-09cf91e7e311
                    properties:
                      networkVirtualizationEnabled: false
                      subnets:
                        - 11313dcd-b797-43eb-8234-2d10b208e0b6
                        - Subnet-TestIpPool1992
                        - Subnet-TestIpPool199198
                        - Subnet-TestIpPool1993
                        - Subnet-TestIpPool1994
                        - Subnet-TestIpPool199196
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/logicalNetworks
            "404": {}
      x-ms-odata: "#/definitions/LogicalNetwork"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/logicalNetworks/{logicalNetwork}":
    get:
      description: Returns the requested logical network.
      operationId: LogicalNetworks_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/LogicalNetworkParameter"
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/LogicalNetwork"
        "404":
          description: NOT FOUND
      tags:
        - LogicalNetworks
      x-ms-examples:
        Returns the requested logical network.:
          parameters:
            api-version: 2016-05-01
            location: local
            logicalNetwork: B60B71AA-36BF-40AC-A9CE-A6915D1EAE1A
            resourceGroupName: System.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/logicalNetworks/f8f67956-3906-4303-94c5-09cf91e7e311
                location: local
                name: f8f67956-3906-4303-94c5-09cf91e7e311
                properties:
                  networkVirtualizationEnabled: false
                  subnets:
                    - 11313dcd-b797-43eb-8234-2d10b208e0b6
                    - Subnet-TestIpPool1992
                    - Subnet-TestIpPool199198
                    - Subnet-TestIpPool1993
                    - Subnet-TestIpPool1994
                    - Subnet-TestIpPool199196
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/logicalNetworks
            "404": {}
definitions:
  LogicalNetwork:
    allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: This resource represents a logical partition of physical network that is dedicated for a particular purpose.  A logical network comprises a collection of logical subnets.
    properties:
      properties:
        $ref: "#/definitions/LogicalNetworkModel"
        description: Properties of a logical network.
        x-ms-client-flatten: true
    type: object
  LogicalNetworkList:
    description: A pageable list of logical networks.
    properties:
      nextLink:
        description: URI to the next page.
        type: string
      value:
        description: List of logical networks.
        items:
          $ref: "#/definitions/LogicalNetwork"
        type: array
    type: object
  LogicalNetworkModel:
    description: Properties of a logical network.
    properties:
      metadata:
        additionalProperties:
          type: string
        description: Metadata related to the logical network.
        type: object
      networkVirtualizationEnabled:
        description: Flag to indicate that the network virtualization is enabled on the logical network.
        type: boolean
      subnets:
        description: List of subnets belonging to the logical network.
        items:
          type: string
        type: array
    type: object
