swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The AAD Domain Services API.
  title: Domain Services Resource Provider
  version: 2017-01-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/domainservices/resource-manager/Microsoft.AAD/stable/2017-01-01/domainservices.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: domainservices
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  DomainServiceNameParameter:
    description: The name of the domain service.
    in: path
    name: domainServiceName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: The name of the resource group within the user's subscription. The name is case insensitive.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+$
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.AAD/operations:
    get:
      description: Lists all the available Domain Services operations.
      operationId: DomainServiceOperations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: HTTP 200 (OK) if the operation was successful.
          schema:
            $ref: "#/definitions/OperationEntityListResult"
      tags:
        - DomainServices
      x-ms-examples:
        Get Operations:
          parameters:
            api-version: 2017-01-01
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Unregisters Domain Services
                      operation: Unregister Domain Service
                      provider: Domain Services Resource Provider
                      resource: Domain Service Type
                    name: Microsoft.AAD/unregister/action
                    origin: user,system
                  - display:
                      description: Registers Domain Services
                      operation: Register Domain Service
                      provider: Domain Services Resource Provider
                      resource: Domain Service Type
                    name: Microsoft.AAD/register/action
                    origin: user,system
                  - display:
                      description: Reads Domain Services
                      operation: Read Domain Service
                      provider: Domain Services Resource Provider
                      resource: Domain Service Type
                    name: Microsoft.AAD/domainServices/read
                    origin: user,system
                  - display:
                      description: Writes Domain Services
                      operation: Write Domain Service
                      provider: Domain Services Resource Provider
                      resource: Domain Service Type
                    name: Microsoft.AAD/domainServices/write
                    origin: user,system
                  - display:
                      description: Deletes Domain Services
                      operation: Delete Domain Service
                      provider: Domain Services Resource Provider
                      resource: Domain Service Type
                    name: Microsoft.AAD/domainServices/delete
                    origin: user,system
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.AAD/domainServices":
    get:
      description: The List Domain Services in Subscription operation lists all the domain services available under the given subscription (and across all resource groups within that subscription).
      operationId: DomainServices_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: HTTP 200 (OK) if the operation was successful.
          schema:
            $ref: "#/definitions/DomainServiceListResult"
      summary: List Domain Services in Subscription (GET Resources)
      tags:
        - DomainServices
      x-ms-examples:
        List Domain Service:
          parameters:
            api-version: 2017-01-01
            subscriptionId: 1639790a-76a2-4ac4-98d9-8562f5dfcb4d
          responses:
            "200":
              body:
                value:
                  - etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                    id: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/sva-tt-WUS/providers/Microsoft.AAD/domainServices/zdomain.zforest.com
                    location: westus
                    name: zdomain.zforest.com
                    properties:
                      domainControllerIpAddress:
                        - 10.0.0.5
                        - 10.0.0.8
                      domainName: zdomain.zforest.com
                      domainSecuritySettings:
                        ntlmV1: Enabled
                        syncNtlmPasswords: Enabled
                        tlsV1: Disabled
                      filteredSync: Enabled
                      healthAlerts:
                        - id: AADDS104
                          issue: Microsoft is unable to reach the domain controllers for this managed domain. This may happen if a network security group (NSG) configured on your virtual network blocks access to the managed domain. Another possible reason is if there is a user defined route that blocks incoming traffic from the internet.
                          lastDetected: 2018-09-18T17:46:39.2697888Z
                          name: The managed domain is experiencing a network error
                          raised: 2018-09-18T01:55:40.7834289Z
                          resolutionUri: https://aka.ms/aadds-neterr
                          severity: "2"
                      healthLastEvaluated: 2018-02-15T21:43:21Z
                      healthMonitors:
                        - details: Last backed up on Tue, 18 Sep 2018 03:37:04 GMT
                          id: AADDS501
                          name: Backup
                        - details: Synchronized on Tue, 18 Sep 2018 16:47:57 GMT.
                          id: AADDS500
                          name: Synchronization with Azure AD
                      ldapsSettings:
                        certificateNotAfter: 2018-02-15T21:43:21Z
                        certificateThumbprint: 9154A390F0C387D679E0DD040701745CDFED67F3
                        externalAccess: Enabled
                        externalAccessIpAddress: 13.64.148.151
                        ldaps: Enabled
                        publicCertificate: MIIDPDCCAiSgAwIBAgIQQUI9P6tq2p9OFIJa7DLNvTANBgkqhkiG9w0BAQsFADAgMR4w...
                      notificationSettings:
                        additionalRecipients:
                          - jicha@microsoft.com
                          - caalmont@microsoft.com
                        notifyDcAdmins: Enabled
                        notifyGlobalAdmins: Enabled
                      provisioningState: Succeeded
                      serviceStatus: Running
                      subnetId: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/Default-Networking/providers/Microsoft.ClassicNetwork/virtualNetworks/DCIaasTmpWusNet/subnets/Subnet-1
                      tenantId: 3f8cd22c-7b32-48aa-a01c-f533133b1def
                      vnetSiteId: 99083198-a39c-469f-972d-59017e7f078c
                    tags:
                      Owner: jicha
                    type: Microsoft.AAD/domainServices
              description: HTTP 200 (OK) if the operation was successful.
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AAD/domainServices":
    get:
      description: The List Domain Services in Resource Group operation lists all the domain services available under the given resource group.
      operationId: DomainServices_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
      responses:
        "200":
          description: HTTP 200 (OK) if the operation was successful.
          schema:
            $ref: "#/definitions/DomainServiceListResult"
      summary: List Domain Services in Resource Group (GET Resources)
      tags:
        - DomainServices
      x-ms-examples:
        List Domain Service:
          parameters:
            api-version: 2017-01-01
            resourceGroupName: sva-tt-WUS
            subscriptionId: 1639790a-76a2-4ac4-98d9-8562f5dfcb4d
          responses:
            "200":
              body:
                value:
                  - etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                    id: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/sva-tt-WUS/providers/Microsoft.AAD/domainServices/zdomain.zforest.com
                    location: westus
                    name: zdomain.zforest.com
                    properties:
                      domainControllerIpAddress:
                        - 10.0.0.5
                        - 10.0.0.8
                      domainName: zdomain.zforest.com
                      domainSecuritySettings:
                        ntlmV1: Enabled
                        syncNtlmPasswords: Enabled
                        tlsV1: Disabled
                      filteredSync: Enabled
                      healthAlerts:
                        - id: AADDS104
                          issue: Microsoft is unable to reach the domain controllers for this managed domain. This may happen if a network security group (NSG) configured on your virtual network blocks access to the managed domain. Another possible reason is if there is a user defined route that blocks incoming traffic from the internet.
                          lastDetected: 2018-09-18T17:46:39.2697888Z
                          name: The managed domain is experiencing a network error
                          raised: 2018-09-18T01:55:40.7834289Z
                          resolutionUri: https://aka.ms/aadds-neterr
                          severity: "2"
                      healthLastEvaluated: 2018-02-15T21:43:21Z
                      healthMonitors:
                        - details: Last backed up on Tue, 18 Sep 2018 03:37:04 GMT
                          id: AADDS501
                          name: Backup
                        - details: Synchronized on Tue, 18 Sep 2018 16:47:57 GMT.
                          id: AADDS500
                          name: Synchronization with Azure AD
                      ldapsSettings:
                        certificateNotAfter: 2018-02-15T21:43:21Z
                        certificateThumbprint: 9154A390F0C387D679E0DD040701745CDFED67F3
                        externalAccess: Enabled
                        externalAccessIpAddress: 13.64.148.151
                        ldaps: Enabled
                        publicCertificate: MIIDPDCCAiSgAwIBAgIQQUI9P6tq2p9OFIJa7DLNvTANBgkqhkiG9w0BAQsFADAgMR4w...
                      notificationSettings:
                        additionalRecipients:
                          - jicha@microsoft.com
                          - caalmont@microsoft.com
                        notifyDcAdmins: Enabled
                        notifyGlobalAdmins: Enabled
                      provisioningState: Succeeded
                      serviceStatus: Running
                      subnetId: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/Default-Networking/providers/Microsoft.ClassicNetwork/virtualNetworks/DCIaasTmpWusNet/subnets/Subnet-1
                      tenantId: 3f8cd22c-7b32-48aa-a01c-f533133b1def
                      vnetSiteId: 99083198-a39c-469f-972d-59017e7f078c
                    tags:
                      Owner: jicha
                    type: Microsoft.AAD/domainServices
              description: HTTP 200 (OK) if the operation was successful.
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AAD/domainServices/{domainServiceName}":
    delete:
      description: The Delete Domain Service operation deletes an existing Domain Service.
      operationId: DomainServices_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/DomainServiceNameParameter"
      responses:
        "202":
          description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
        "204":
          description: HTTP 204 (Not Content) should be used if the resource does not exist and the request is well formed.
      summary: Delete Domain Service (DELETE Resource)
      tags:
        - DomainServices
      x-ms-examples:
        Delete Domain Service:
          parameters:
            api-version: 2017-01-01
            domainServiceName: zdomain.zforest.com
            resourceGroupName: sva-tt-WUS
            subscriptionId: 1639790a-76a2-4ac4-98d9-8562f5dfcb4d
          responses:
            "202":
              description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
            "204":
              description: HTTP 204 (Not Content) should be used if the resource does not exist and the request is well formed.
      x-ms-long-running-operation: true
    get:
      description: The Get Domain Service operation retrieves a json representation of the Domain Service.
      operationId: DomainServices_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/DomainServiceNameParameter"
      responses:
        "200":
          description: HTTP 200 (OK) if the operation was successful.
          schema:
            $ref: "#/definitions/DomainService"
      summary: Get Domain Service (GET Resources)
      tags:
        - DomainServices
      x-ms-examples:
        Get Domain Service:
          parameters:
            api-version: 2017-01-01
            domainServiceName: zdomain.zforest.com
            resourceGroupName: sva-tt-WUS
            subscriptionId: 1639790a-76a2-4ac4-98d9-8562f5dfcb4d
          responses:
            "200":
              body:
                etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                id: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/sva-tt-WUS/providers/Microsoft.AAD/domainServices/zdomain.zforest.com
                location: westus
                name: zdomain.zforest.com
                properties:
                  domainControllerIpAddress:
                    - 10.0.0.5
                    - 10.0.0.8
                  domainName: zdomain.zforest.com
                  domainSecuritySettings:
                    ntlmV1: Enabled
                    syncNtlmPasswords: Enabled
                    tlsV1: Disabled
                  filteredSync: Enabled
                  healthAlerts:
                    - id: AADDS104
                      issue: Microsoft is unable to reach the domain controllers for this managed domain. This may happen if a network security group (NSG) configured on your virtual network blocks access to the managed domain. Another possible reason is if there is a user defined route that blocks incoming traffic from the internet.
                      lastDetected: 2018-09-18T17:46:39.2697888Z
                      name: The managed domain is experiencing a network error
                      raised: 2018-09-18T01:55:40.7834289Z
                      resolutionUri: https://aka.ms/aadds-neterr
                      severity: "2"
                  healthLastEvaluated: 2018-02-15T21:43:21Z
                  healthMonitors:
                    - details: Last backed up on Tue, 18 Sep 2018 03:37:04 GMT
                      id: AADDS501
                      name: Backup
                    - details: Synchronized on Tue, 18 Sep 2018 16:47:57 GMT.
                      id: AADDS500
                      name: Synchronization with Azure AD
                  ldapsSettings:
                    certificateNotAfter: 2018-02-15T21:43:21Z
                    certificateThumbprint: 9154A390F0C387D679E0DD040701745CDFED67F3
                    externalAccess: Enabled
                    externalAccessIpAddress: 13.64.148.151
                    ldaps: Enabled
                    publicCertificate: MIIDPDCCAiSgAwIBAgIQQUI9P6tq2p9OFIJa7DLNvTANBgkqhkiG9w0BAQsFADAgMR4w...
                  notificationSettings:
                    additionalRecipients:
                      - jicha@microsoft.com
                      - caalmont@microsoft.com
                    notifyDcAdmins: Enabled
                    notifyGlobalAdmins: Enabled
                  provisioningState: Succeeded
                  serviceStatus: Running
                  subnetId: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/Default-Networking/providers/Microsoft.ClassicNetwork/virtualNetworks/DCIaasTmpWusNet/subnets/Subnet-1
                  tenantId: 3f8cd22c-7b32-48aa-a01c-f533133b1def
                  vnetSiteId: 99083198-a39c-469f-972d-59017e7f078c
                tags:
                  Owner: jicha
                type: Microsoft.AAD/domainServices
              description: HTTP 200 (OK) if the operation was successful.
    patch:
      description: The Update Domain Service operation can be used to update the existing deployment. The update call only supports the properties listed in the PATCH body.
      operationId: DomainServices_Update
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/DomainServiceNameParameter"
        - description: Properties supplied to the Update a Domain Service operation.
          in: body
          name: domainService
          required: true
          schema:
            $ref: "#/definitions/DomainService"
      responses:
        "200":
          description: HTTP 200 (OK) if the operation was successful.
          schema:
            $ref: "#/definitions/DomainService"
        "202":
          description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
          schema:
            $ref: "#/definitions/DomainService"
      summary: Update Domain Service (PATCH Resource)
      tags:
        - DomainServices
      x-ms-examples:
        Update Domain Service:
          parameters:
            api-version: 2017-01-01
            domainService:
              location: westus
              properties:
                domainSecuritySettings:
                  ntlmV1: Enabled
                  syncNtlmPasswords: Enabled
                  tlsV1: Disabled
                filteredSync: Enabled
                ldapsSettings:
                  externalAccess: Enabled
                  ldaps: Enabled
                  pfxCertificate: MIIDPDCCAiSgAwIBAgIQQUI9P6tq2p9OFIJa7DLNvTANBgkqhkiG9w0BAQsFADAgMR4w...
                  pfxCertificatePassword: Password01
                notificationSettings:
                  additionalRecipients:
                    - jicha@microsoft.com
                    - caalmont@microsoft.com
                  notifyDcAdmins: Enabled
                  notifyGlobalAdmins: Enabled
            domainServiceName: zdomain.zforest.com
            resourceGroupName: sva-tt-WUS
            subscriptionId: 1639790a-76a2-4ac4-98d9-8562f5dfcb4d
          responses:
            "200":
              body:
                etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                id: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/sva-tt-WUS/providers/Microsoft.AAD/domainServices/zdomain.zforest.com
                location: westus
                name: zdomain.zforest.com
                properties:
                  domainControllerIpAddress:
                    - 10.0.0.5
                    - 10.0.0.8
                  domainName: zdomain.zforest.com
                  domainSecuritySettings:
                    ntlmV1: Enabled
                    syncNtlmPasswords: Enabled
                    tlsV1: Disabled
                  filteredSync: Enabled
                  ldapsSettings:
                    certificateNotAfter: 2018-02-15T21:43:21Z
                    certificateThumbprint: 9154A390F0C387D679E0DD040701745CDFED67F3
                    externalAccess: Enabled
                    externalAccessIpAddress: 13.64.148.151
                    ldaps: Enabled
                    publicCertificate: MIIDPDCCAiSgAwIBAgIQQUI9P6tq2p9OFIJa7DLNvTANBgkqhkiG9w0BAQsFADAgMR4w...
                  notificationSettings:
                    additionalRecipients:
                      - jicha@microsoft.com
                      - caalmont@microsoft.com
                    notifyDcAdmins: Enabled
                    notifyGlobalAdmins: Enabled
                  provisioningState: Succeeded
                  serviceStatus: Running
                  subnetId: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/Default-Networking/providers/Microsoft.ClassicNetwork/virtualNetworks/DCIaasTmpWusNet/subnets/Subnet-1
                  tenantId: 3f8cd22c-7b32-48aa-a01c-f533133b1def
                  vnetSiteId: 99083198-a39c-469f-972d-59017e7f078c
                tags:
                  Owner: jicha
                type: Microsoft.AAD/domainServices
              description: HTTP 200 (OK) if the operation was successful.
            "202":
              body:
                etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                id: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/sva-tt-WUS/providers/Microsoft.AAD/domainServices/zdomain.zforest.com
                location: westus
                name: zdomain.zforest.com
                properties:
                  domainSecuritySettings:
                    ntlmV1: Enabled
                    syncNtlmPasswords: Enabled
                    tlsV1: Disabled
                  filteredSync: Enabled
                  ldapsSettings:
                    externalAccess: Enabled
                    ldaps: Enabled
                    pfxCertificate: MIIDPDCCAiSgAwIBAgIQQUI9P6tq2p9OFIJa7DLNvTANBgkqhkiG9w0BAQsFADAgMR4w...
                    pfxCertificatePassword: Password01
                  notificationSettings:
                    additionalRecipients:
                      - jicha@microsoft.com
                      - caalmont@microsoft.com
                    notifyDcAdmins: Enabled
                    notifyGlobalAdmins: Enabled
                  provisioningState: Accepted
                type: Microsoft.AAD/domainServices
              description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
      x-ms-long-running-operation: true
    put:
      description: The Create Domain Service operation creates a new domain service with the specified parameters. If the specific service already exists, then any patchable properties will be updated and any immutable properties will remain unchanged.
      operationId: DomainServices_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/DomainServiceNameParameter"
        - description: Properties supplied to the Create or Update a Domain Service operation.
          in: body
          name: domainService
          required: true
          schema:
            $ref: "#/definitions/DomainService"
      responses:
        "200":
          description: HTTP 200 (OK) if the operation was successful.
          schema:
            $ref: "#/definitions/DomainService"
        "201":
          description: HTTP 201 (Created) if the operation completed successfully.
          schema:
            $ref: "#/definitions/DomainService"
        "202":
          description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
          schema:
            $ref: "#/definitions/DomainService"
      summary: Create or Update Domain Service (PUT Resource)
      tags:
        - DomainServices
      x-ms-examples:
        Create Domain Service:
          parameters:
            api-version: 2017-01-01
            domainService:
              location: westus
              properties:
                domainName: zdomain.zforest.com
                domainSecuritySettings:
                  ntlmV1: Enabled
                  syncNtlmPasswords: Enabled
                  tlsV1: Disabled
                filteredSync: Enabled
                ldapsSettings:
                  externalAccess: Enabled
                  ldaps: Enabled
                  pfxCertificate: MIIDPDCCAiSgAwIBAgIQQUI9P6tq2p9OFIJa7DLNvTANBgkqhkiG9w0BAQsFADAgMR4w...
                  pfxCertificatePassword: Password01
                notificationSettings:
                  additionalRecipients:
                    - jicha@microsoft.com
                    - caalmont@microsoft.com
                  notifyDcAdmins: Enabled
                  notifyGlobalAdmins: Enabled
                subnetId: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/Default-Networking/providers/Microsoft.ClassicNetwork/virtualNetworks/DCIaasTmpWusNet/subnets/Subnet-1
            domainServiceName: zdomain.zforest.com
            resourceGroupName: sva-tt-WUS
            subscriptionId: 1639790a-76a2-4ac4-98d9-8562f5dfcb4d
          responses:
            "200":
              body:
                etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                id: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/sva-tt-WUS/providers/Microsoft.AAD/domainServices/zdomain.zforest.com
                location: westus
                name: zdomain.zforest.com
                properties:
                  domainControllerIpAddress:
                    - 10.0.0.5
                    - 10.0.0.8
                  domainName: zdomain.zforest.com
                  domainSecuritySettings:
                    ntlmV1: Enabled
                    syncNtlmPasswords: Enabled
                    tlsV1: Disabled
                  filteredSync: Enabled
                  ldapsSettings:
                    certificateNotAfter: 2018-02-15T21:43:21Z
                    certificateThumbprint: 9154A390F0C387D679E0DD040701745CDFED67F3
                    externalAccess: Enabled
                    externalAccessIpAddress: 13.64.148.151
                    ldaps: Enabled
                    publicCertificate: MIIDPDCCAiSgAwIBAgIQQUI9P6tq2p9OFIJa7DLNvTANBgkqhkiG9w0BAQsFADAgMR4w...
                  notificationSettings:
                    additionalRecipients:
                      - jicha@microsoft.com
                      - caalmont@microsoft.com
                    notifyDcAdmins: Enabled
                    notifyGlobalAdmins: Enabled
                  provisioningState: Succeeded
                  serviceStatus: Running
                  subnetId: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/Default-Networking/providers/Microsoft.ClassicNetwork/virtualNetworks/DCIaasTmpWusNet/subnets/Subnet-1
                  tenantId: 3f8cd22c-7b32-48aa-a01c-f533133b1def
                  vnetSiteId: 99083198-a39c-469f-972d-59017e7f078c
                type: Microsoft.AAD/domainServices
              description: HTTP 200 (OK) if the operation was successful.
            "201":
              body:
                etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                id: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/sva-tt-WUS/providers/Microsoft.AAD/domainServices/zdomain.zforest.com
                location: westus
                name: zdomain.zforest.com
                properties:
                  domainControllerIpAddress:
                    - 10.0.0.5
                    - 10.0.0.8
                  domainName: zdomain.zforest.com
                  domainSecuritySettings:
                    ntlmV1: Enabled
                    syncNtlmPasswords: Enabled
                    tlsV1: Disabled
                  filteredSync: Enabled
                  ldapsSettings:
                    certificateNotAfter: 2018-02-15T21:43:21Z
                    certificateThumbprint: 9154A390F0C387D679E0DD040701745CDFED67F3
                    externalAccess: Enabled
                    externalAccessIpAddress: 13.64.148.151
                    ldaps: Enabled
                    publicCertificate: MIIDPDCCAiSgAwIBAgIQQUI9P6tq2p9OFIJa7DLNvTANBgkqhkiG9w0BAQsFADAgMR4w...
                  notificationSettings:
                    additionalRecipients:
                      - jicha@microsoft.com
                      - caalmont@microsoft.com
                    notifyDcAdmins: Enabled
                    notifyGlobalAdmins: Enabled
                  provisioningState: Succeeded
                  serviceStatus: Running
                  subnetId: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/Default-Networking/providers/Microsoft.ClassicNetwork/virtualNetworks/DCIaasTmpWusNet/subnets/Subnet-1
                  tenantId: 3f8cd22c-7b32-48aa-a01c-f533133b1def
                  vnetSiteId: 99083198-a39c-469f-972d-59017e7f078c
                type: Microsoft.AAD/domainServices
              description: HTTP 201 (Created) if the operation completed successfully.
            "202":
              body:
                etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                id: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/sva-tt-WUS/providers/Microsoft.AAD/domainServices/zdomain.zforest.com
                location: westus
                name: zdomain.zforest.com
                properties:
                  domainName: zdomain.zforest.com
                  domainSecuritySettings:
                    ntlmV1: Enabled
                    syncNtlmPasswords: Enabled
                    tlsV1: Disabled
                  filteredSync: Enabled
                  ldapsSettings:
                    externalAccess: Enabled
                    ldaps: Enabled
                  notificationSettings:
                    additionalRecipients:
                      - jicha@microsoft.com
                      - caalmont@microsoft.com
                    notifyDcAdmins: Enabled
                    notifyGlobalAdmins: Enabled
                  provisioningState: Accepted
                  subnetId: /subscriptions/1639790a-76a2-4ac4-98d9-8562f5dfcb4d/resourceGroups/Default-Networking/providers/Microsoft.ClassicNetwork/virtualNetworks/DCIaasTmpWusNet/subnets/Subnet-1
                type: Microsoft.AAD/domainServices
              description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
      x-ms-long-running-operation: true
definitions:
  DomainSecuritySettings:
    description: Domain Security Settings
    properties:
      ntlmV1:
        description: A flag to determine whether or not NtlmV1 is enabled or disabled.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: NtlmV1
      syncNtlmPasswords:
        description: A flag to determine whether or not SyncNtlmPasswords is enabled or disabled.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: SyncNtlmPasswords
      tlsV1:
        description: A flag to determine whether or not TlsV1 is enabled or disabled.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: TlsV1
  DomainService:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Domain service.
    properties:
      properties:
        $ref: "#/definitions/DomainServiceProperties"
        description: Domain service properties
        x-ms-client-flatten: true
  DomainServiceListResult:
    description: The response from the List Domain Services operation.
    properties:
      nextLink:
        description: The continuation token for the next page of results.
        readOnly: true
        type: string
      value:
        description: the list of domain services.
        items:
          $ref: "#/definitions/DomainService"
        type: array
  DomainServiceProperties:
    description: Properties of the Domain Service.
    properties:
      domainControllerIpAddress:
        description: List of Domain Controller IP Address
        items:
          description: Domain Controller IP Address
          type: string
        readOnly: true
        type: array
      domainName:
        description: The name of the Azure domain that the user would like to deploy Domain Services to.
        type: string
      domainSecuritySettings:
        $ref: "#/definitions/DomainSecuritySettings"
        description: DomainSecurity Settings
      filteredSync:
        description: Enabled or Disabled flag to turn on Group-based filtered sync
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: filteredSync
      healthAlerts:
        description: List of Domain Health Alerts
        items:
          $ref: "#/definitions/HealthAlert"
          description: Domain Health Alerts
        readOnly: true
        type: array
      healthLastEvaluated:
        description: Last domain evaluation run DateTime
        format: date-time
        readOnly: true
        type: string
      healthMonitors:
        description: List of Domain Health Monitors
        items:
          $ref: "#/definitions/HealthMonitor"
          description: Domain Health Monitors
        readOnly: true
        type: array
      ldapsSettings:
        $ref: "#/definitions/LdapsSettings"
        description: Secure LDAP Settings
      notificationSettings:
        $ref: "#/definitions/NotificationSettings"
        description: Notification Settings
      provisioningState:
        description: the current deployment or provisioning state, which only appears in the response.
        readOnly: true
        type: string
      serviceStatus:
        description: Status of Domain Service instance
        readOnly: true
        type: string
      subnetId:
        description: The name of the virtual network that Domain Services will be deployed on. The id of the subnet that Domain Services will be deployed on. /virtualNetwork/vnetName/subnets/subnetName.
        type: string
      tenantId:
        description: Azure Active Directory tenant id
        readOnly: true
        type: string
      vnetSiteId:
        description: Virtual network site id
        readOnly: true
        type: string
  HealthAlert:
    description: Health Alert Description
    properties:
      id:
        description: Health Alert Id
        readOnly: true
        type: string
      issue:
        description: Health Alert Issue
        readOnly: true
        type: string
      lastDetected:
        description: Health Alert Last Detected DateTime
        format: date-time
        readOnly: true
        type: string
      name:
        description: Health Alert Name
        readOnly: true
        type: string
      raised:
        description: Health Alert Raised DateTime
        format: date-time
        readOnly: true
        type: string
      resolutionUri:
        description: Health Alert TSG Link
        readOnly: true
        type: string
      severity:
        description: Health Alert Severity
        readOnly: true
        type: string
  HealthMonitor:
    description: Health Monitor Description
    properties:
      details:
        description: Health Monitor Details
        readOnly: true
        type: string
      id:
        description: Health Monitor Id
        readOnly: true
        type: string
      name:
        description: Health Monitor Name
        readOnly: true
        type: string
  LdapsSettings:
    description: Secure LDAP Settings
    properties:
      certificateNotAfter:
        description: NotAfter DateTime of configure ldaps certificate.
        format: date-time
        readOnly: true
        type: string
      certificateThumbprint:
        description: Thumbprint of configure ldaps certificate.
        readOnly: true
        type: string
      externalAccess:
        description: A flag to determine whether or not Secure LDAP access over the internet is enabled or disabled.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: ExternalAccess
      externalAccessIpAddress:
        description: External access ip address.
        readOnly: true
        type: string
      ldaps:
        description: A flag to determine whether or not Secure LDAP is enabled or disabled.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: Ldaps
      pfxCertificate:
        description: The certificate required to configure Secure LDAP. The parameter passed here should be a base64encoded representation of the certificate pfx file.
        type: string
      pfxCertificatePassword:
        description: The password to decrypt the provided Secure LDAP certificate pfx file.
        type: string
      publicCertificate:
        description: Public certificate used to configure secure ldap.
        readOnly: true
        type: string
  NotificationSettings:
    description: Settings for notification
    properties:
      additionalRecipients:
        description: The list of additional recipients
        items:
          description: Email address for additional recipient
          type: string
        type: array
      notifyDcAdmins:
        description: Should domain controller admins be notified
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: notifyDcAdmins
      notifyGlobalAdmins:
        description: Should global admins be notified
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: notifyGlobalAdmins
  OperationDisplayInfo:
    description: The operation supported by Domain Services.
    properties:
      description:
        description: The description of the operation.
        type: string
      operation:
        description: The action that users can perform, based on their permission level.
        type: string
      provider:
        description: "Service provider: Domain Services."
        type: string
      resource:
        description: Resource on which the operation is performed.
        type: string
    type: object
  OperationEntity:
    description: The operation supported by Domain Services.
    properties:
      display:
        $ref: "#/definitions/OperationDisplayInfo"
        description: The operation supported by Domain Services.
      name:
        description: "Operation name: {provider}/{resource}/{operation}."
        type: string
      origin:
        description: The origin of the operation.
        type: string
    type: object
  OperationEntityListResult:
    description: The list of domain service operation response.
    properties:
      nextLink:
        description: The continuation token for the next page of results.
        readOnly: true
        type: string
      value:
        description: The list of operations.
        items:
          $ref: "#/definitions/OperationEntity"
        type: array
    type: object
  Resource:
    description: The Resource model definition.
    properties:
      etag:
        description: Resource etag
        type: string
      id:
        description: Resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
        x-ms-mutability:
          - read
          - create
      name:
        description: Resource name
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type
        readOnly: true
        type: string
    x-ms-azure-resource: true
