{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "title": "Security Center",
    "version": "2019-01-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/stable/2019-01-01/advancedThreatProtectionSettings.json",
        "version": "2.0"
      }
    ],
    "x-preferred": true,
    "x-providerName": "azure.com",
    "x-serviceName": "security-advancedThreatProtectionSettings",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "AdvancedThreatProtectionSetting": {
      "description": "Advanced Threat Protection Settings",
      "in": "body",
      "name": "advancedThreatProtectionSetting",
      "required": true,
      "schema": {
        "$ref": "#/definitions/AdvancedThreatProtectionSetting"
      },
      "x-ms-parameter-location": "method"
    },
    "AdvancedThreatProtectionSettingName": {
      "description": "Advanced Threat Protection setting name.",
      "enum": [
        "current"
      ],
      "in": "path",
      "name": "settingName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/{resourceId}/providers/Microsoft.Security/advancedThreatProtectionSettings/{settingName}": {
      "get": {
        "description": "Gets the Advanced Threat Protection settings for the specified resource.",
        "operationId": "AdvancedThreatProtection_Get",
        "parameters": [
          {
            "description": "API version for the operation",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "The identifier of the resource.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/AdvancedThreatProtectionSettingName"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to get Advanced Threat Protection settings.",
            "schema": {
              "$ref": "#/definitions/AdvancedThreatProtectionSetting"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error response structure.",
              "properties": {
                "error": {
                  "description": "Error details.",
                  "properties": {
                    "code": {
                      "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "message": {
                      "description": "A message describing the error, intended to be suitable for display in a user interface.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-ms-external": true
                }
              },
              "type": "object",
              "x-ms-external": true
            }
          }
        },
        "tags": [
          "AdvancedThreatProtection"
        ],
        "x-ms-examples": {
          "Gets the Advanced Threat Protection settings for the specified resource.": {
            "parameters": {
              "api-version": "2019-01-01",
              "resourceId": "subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount",
              "settingName": "current"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount/providers/Microsoft.Security/advancedThreatProtectionSettings/current",
                  "name": "current",
                  "properties": {
                    "isEnabled": true
                  },
                  "type": "Microsoft.Security/advancedThreatProtectionSettings"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Creates or updates the Advanced Threat Protection settings on a specified resource.",
        "operationId": "AdvancedThreatProtection_Create",
        "parameters": [
          {
            "description": "API version for the operation",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "The identifier of the resource.",
            "in": "path",
            "name": "resourceId",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/AdvancedThreatProtectionSettingName"
          },
          {
            "$ref": "#/parameters/AdvancedThreatProtectionSetting"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to put Advanced Threat Protection settings.",
            "schema": {
              "$ref": "#/definitions/AdvancedThreatProtectionSetting"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "description": "Error response structure.",
              "properties": {
                "error": {
                  "description": "Error details.",
                  "properties": {
                    "code": {
                      "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically.",
                      "readOnly": true,
                      "type": "string"
                    },
                    "message": {
                      "description": "A message describing the error, intended to be suitable for display in a user interface.",
                      "readOnly": true,
                      "type": "string"
                    }
                  },
                  "type": "object",
                  "x-ms-external": true
                }
              },
              "type": "object",
              "x-ms-external": true
            }
          }
        },
        "tags": [
          "AdvancedThreatProtection"
        ],
        "x-ms-examples": {
          "Creates or updates the Advanced Threat Protection settings on a specified resource.": {
            "parameters": {
              "advancedThreatProtectionSetting": {
                "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount/providers/Microsoft.Security/advancedThreatProtectionSettings/current",
                "name": "current",
                "properties": {
                  "isEnabled": true
                },
                "type": "Microsoft.Security/advancedThreatProtectionSettings"
              },
              "api-version": "2019-01-01",
              "resourceId": "subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount",
              "settingName": "current"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/SampleRG/providers/Microsoft.Storage/storageAccounts/samplestorageaccount/providers/Microsoft.Security/advancedThreatProtectionSettings/current",
                  "name": "current",
                  "properties": {
                    "isEnabled": true
                  },
                  "type": "Microsoft.Security/advancedThreatProtectionSettings"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AdvancedThreatProtectionProperties": {
      "description": "The Advanced Threat Protection settings.",
      "properties": {
        "isEnabled": {
          "description": "Indicates whether Advanced Threat Protection is enabled.",
          "type": "boolean"
        }
      }
    },
    "AdvancedThreatProtectionSetting": {
      "allOf": [
        {
          "description": "Describes an Azure resource.",
          "properties": {
            "id": {
              "description": "Resource Id",
              "readOnly": true,
              "type": "string"
            },
            "name": {
              "description": "Resource name",
              "readOnly": true,
              "type": "string"
            },
            "type": {
              "description": "Resource type",
              "readOnly": true,
              "type": "string"
            }
          },
          "type": "object",
          "x-ms-azure-resource": true
        }
      ],
      "description": "The Advanced Threat Protection resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AdvancedThreatProtectionProperties",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    }
  }
}