{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "www.haloapi.com",
  "basePath": "/stats",
  "info": {
    "contact": {
      "x-twitter": "halo"
    },
    "description": "API that provides statistical data about Players and Matches.",
    "title": "Stats",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_d_d7_Halo_%28series%29_logo.svg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://developer.haloapi.com/docs/services/58acdf27e2f7f71ad0dad84b/export?DocumentFormat=Swagger",
        "version": "2.0"
      },
      {
        "format": "swagger",
        "url": "https://developer.haloapi.com/docs/services/58acdf27e2f7f71ad0dad84b/export?DocumentFormat=Swagger",
        "version": "2.0"
      }
    ],
    "x-providerName": "haloapi.com",
    "x-serviceName": "stats"
  },
  "securityDefinitions": {
    "apiKeyHeader": {
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key",
      "type": "apiKey"
    },
    "apiKeyQuery": {
      "in": "query",
      "name": "subscription-key",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/h5/arena/matches/{matchId}": {
      "get": {
        "description": "<p>Retrieves detailed statistics for a Match with the Arena Game Mode.</p>\n<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>December 12, 2018:</strong></p>\n    <ul>\n        <li>Updated the documentation for \"PlayerScore\".</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>December 22, 2017:</strong></p>\n    <ul>\n        <li>Added Game Mode clarifications to the Endpoint description.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Post-Game Carnage Report: Arena\" to \"Halo 5 - Match Result - Arena\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Updated the documentation for \"GameVariantResourceId\" and \"MapVariantResourceId\" to reference the UGC API.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>May 16, 2016:</strong></p>\n    <ul>\n        <li>Documented HTTP 503 Response Code.</li>\n        <li>Added documentation for the \"MatchSpeedWinAmount\", \"ObjectivesCompletedAmount\", and \"BoostData\" fields.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>April 20, 2016:</strong></p>\n    <ul>\n        <li>Added documentation for the \"GameVariantResourceId\", \"MapVariantResourceId\", and \"PlayerScore\" fields.</li>\n        <li>Updated the documentation for the \"MapVariantId\" and \"GameVariantId\" fields with the recommendation of using the \"MapVariantResourceId\" and \"GameVariantResourceId\" fields, respectively.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Match-Result-Arena",
        "parameters": [
          {
            "description": "An ID that uniquely identifies a Match. Match IDs can be retrieved from the \"Halo 5 - Player Match History\" Endpoint.",
            "in": "path",
            "name": "matchId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the Match Result.",
            "examples": {
              "application/json": "{\n  // A list of stats for each player who was present in the match.\n  \"PlayerStats\": [\n    {\n      // The experience information for the player in this match.\n      \"XpInfo\": {\n\n        // The player's Spartan Rank before the match started.\n        \"PrevSpartanRank\": \"int\",\n\n        // The player's Spartan Rank after the match ended.\n        \"SpartanRank\": \"int\",\n\n        // The player's XP before the match started.\n        \"PrevTotalXP\": \"int\",\n\n        // The player's XP after the match ended.\n        \"TotalXP\": \"int\",\n\n        // The multiplier on the XP earned this match based on their Spartan Rank when\n        // the match ended.\n        \"SpartanRankMatchXPScalar\": \"double\",\n\n        // The portion of the XP the player earned this match that was based on how much\n        // time was spent in-match.\n        \"PlayerTimePerformanceXPAward\": \"int\",\n\n        // The XP awarded to the player based on how their team ranked when the match\n        // concluded.\n        \"PerformanceXP\": \"int\",\n\n        // The XP awarded to the player for their team-agnostic rank.\n        \"PlayerRankXPAward\": \"int\",\n\n        // The amount of XP the player earned if they played a boost card for this match,\n        // and the boost card criteria was met. This is a fixed amount of XP, not a\n        // multiplier.\n        \"BoostAmount\": \"int\",\n\n        // The amount of XP the player earned for finishing the match quickly.\n        \"MatchSpeedWinAmount\": \"int\",\n\n        // The amount of XP the player earned for completing objectives.\n        \"ObjectivesCompletedAmount\": \"int\"\n      },\n\n      // The Competitive Skill Ranking (CSR) of the player before the match started. If\n      // the player is still in measurement matches, this field is null. If the player\n      // finished the last measurement match this match, this field is still null.\n      \"PreviousCsr\": {\n\n        // The CSR tier. CSR Tiers are designation-specific and are available via the\n        // Metadata API.\n        \"Tier\": \"int\",\n\n        // The Designation of the CSR. CSR Designations are available via the Metadata\n        // API.\n        \"DesignationId\": \"int\",\n\n        // The CSR value. Zero for normal (Diamond and below) designations.\n        \"Csr\": \"int\",\n\n        // The percentage of progress towards the next CSR tier.\n        \"PercentToNextTier\": \"int\",\n\n        // If the CSR is Onyx or Champion, the player's leaderboard ranking. Null\n        // otherwise.\n        \"Rank\": \"int\"\n      },\n\n      // The Competitive Skill Ranking (CSR) of the player after the match ended. If the\n      // player is still in measurement matches, this field is null.\n      \"CurrentCsr\": {\n\n        // The CSR tier. CSR Tiers are designation-specific and are available via the\n        // Metadata API.\n        \"Tier\": \"int\",\n\n        // The Designation of the CSR. CSR Designations are available via the Metadata\n        // API.\n        \"DesignationId\": \"int\",\n\n        // The CSR value. Zero for normal (Diamond and below) designations.\n        \"Csr\": \"int\",\n\n        // The percentage of progress towards the next CSR tier.\n        \"PercentToNextTier\": \"int\",\n\n        // If the CSR is Onyx or Champion, the player's leaderboard ranking. Null\n        // otherwise.\n        \"Rank\": \"int\"\n      },\n\n      // The player's measurement matches left. If this field is greater than zero, then\n      // the player will not have a CSR yet. If the player finished the match, this match\n      // is included in this count.\n      \"MeasurementMatchesLeft\": \"int\",\n\n      // The set of rewards that the player got in this match.\n      \"RewardSets\": [\n        {\n          // The ID of the reward.\n          \"RewardSet\": \"guid\",\n\n          // The source of the reward. Options are:\n          //   None = 0,\n          //   Meta Commendation = 1,\n          //   Progress Commendation = 2,\n          //   Spartan Rank = 3\n          \"RewardSourceType\": \"int\",\n\n          // If the Reward Source is Spartan Rank, this value is set to the Spartan Rank\n          // the player acquired that led to this reward being granted. Note: Unlike the\n          // commendations fields in this structure, this is not the GUID to a Spartan\n          // Rank content item. That's because the Spartan Rank content item itself does\n          // not detail what specific Spartan Rank it pertains to - this information is\n          // derived from the list of Spartan Ranks as a whole. Spartan Ranks are\n          // available via the Metadata API.\n          \"SpartanRankSource\": \"int\",\n\n          // If the Reward Source is a Commendation, this is the ID of the level of the\n          // commendation that earned the reward.\n          \"CommendationLevelId\": \"guid\",\n\n          // If the Reward Source is a Meta Commendation or Progress Commendation, this\n          // is the ID of the Meta Commendation or Progress Commendation, respectively,\n          // that earned the reward. Commendations are available via the Metadata API.\n          \"CommendationSource\": \"guid\"\n        },\n\n      ],\n\n      // The number of times the player killed each opponent. If the player did not kill\n      // an opponent, there will be no entry for that opponent.\n      \"KilledOpponentDetails\": [\n        {\n          // The gamertag of the opponent that was killed.\n          \"GamerTag\": \"string\",\n\n          // The number of times that opponent was killed.\n          \"TotalKills\": \"int\"\n        }\n      ],\n\n      // The number of times the player was killed by each opponent. If the player was\n      // not killed by an opponent, there will be no entry for that opponent.\n      \"KilledByOpponentDetails\": [\n        {\n          // The gamertag of the opponent that killed the player.\n          \"GamerTag\": \"string\",\n\n          // The number of times the opponent killed the player.\n          \"TotalKills\": \"int\"\n        }\n      ],\n\n      // The game base variant specific stats for this match. Flexible stats are\n      // available via the Metadata API.\n      \"FlexibleStats\": {\n\n        // The set of flexible stats that are derived from medal events.\n        \"MedalStatCounts\": [\n          {\n            // The ID of the flexible stat.\n            \"Id\": \"guid\",\n\n            // The number of times this flexible stat was earned.\n            \"Count\": \"int\"\n          }\n        ],\n\n        // The set of flexible stats that are derived from impulse events.\n        \"ImpulseStatCounts\": [\n          {\n            // The ID of the flexible stat.\n            \"Id\": \"guid\",\n\n            // The number of times this flexible stat was earned.\n            \"Count\": \"int\"\n          }\n        ],\n\n        // The set of flexible stats that are derived from medal time lapses.\n        \"MedalTimelapses\": [\n          {\n            // The ID of the flexible stat.\n            \"Id\": \"guid\",\n\n            // The amount of time the flexible stat was earned for. This is expressed as\n            // an ISO 8601 Duration.\n            \"Timelapse\": \"string\"\n          }\n        ],        \n\n        // The set of flexible stats that are derived from impulse time lapses.\n        \"ImpulseTimelapses\": [\n          {\n            // The ID of the flexible stat.\n            \"Id\": \"guid\",\n\n            // The amount of time the flexible stat was earned for. This is expressed as\n            // an ISO 8601 Duration.\n            \"Timelapse\": \"string\"\n          }\n        ]\n      },\n\n      // Details on any credits the player may have earned from playing this match.\n      \"CreditsEarned\": {\n\n        // Indicates how the credits result was arrived at. Options are:\n        //   Credits Disabled In Playlist = 0,\n        //   Player Did Not Finish = 1,\n        //   Credits Earned = 2\n        // Credits Disabled In Playlist: TotalCreditsEarned is zero because this playlist\n        // has credits disabled.\n        // Player Did Not Finish: Credits are enabled in this playlist, but\n        // TotalCreditsEarned is zero because the player did not finish the match.\n        // Credits Earned: Credits are enabled in this playlist and the player completed\n        // the match, so the credits formula was successfully evaluated. The fields below\n        // provide the client with the values used in the formula. Note: That if we used\n        // one or more default values, we still return \"NormalResult\". The fields below\n        // will confirm the actual values used.\n        \"Result\": \"int\",\n\n        // The total number of credits the player earned from playing this match.\n        \"TotalCreditsEarned\": \"int\",\n\n        // The scalar applied to the credits earned based on the player's Spartan Rank.\n        \"SpartanRankModifier\": \"double\",\n\n        // The portion of credits earned due to the player's team-agnostic rank in the\n        // match.\n        \"PlayerRankAmount\": \"int\",\n\n        // The portion of credits earned due to the time the player played in the match.\n        \"TimePlayedAmount\": \"double\",\n\n        // The portion of credits earned due to the boost card the user applied\n        \"BoostAmount\": \"int\"\n      },\n\n      // The player's progress towards meta commendations. Commendations that had no\n      // progress earned this match will not be returned. \n      \"MetaCommendationDeltas\": [\n        {\n          // The commendation ID. Commendations are available via the Metadata API.\n          \"Id\": \"guid\",\n\n          // The progress the player had made towards the commendation level before the\n          // match. In C#, this can be reassembled into a Guid in the following manner:\n          // new Guid((int)Data1, (short)Data2, (short)Data3,\n          // BitConverter.GetBytes((long)Data4)).\n          \"PreviousMetRequirements\": [\n            {\n              \"Data1\": \"int\",\n\n              \"Data2\": \"int\",\n\n              \"Data3\": \"int\",\n\n              \"Data4\": \"int\"\n            }\n          ],\n\n          // The progress the player had made towards the commendation level after the\n          // match. In C#, this can be reassembled into a Guid in the following manner:\n          // new Guid((int)Data1, (short)Data2, (short)Data3,\n          // BitConverter.GetBytes((long)Data4)).\n          \"MetRequirements\": [\n            {\n              \"Data1\": \"int\",\n\n              \"Data2\": \"int\",\n\n              \"Data3\": \"int\",\n\n              \"Data4\": \"int\"\n            }\n          ]\n        }\n      ],\n\n      // The player's progress towards progressive commendations. Commendations that had\n      // no progress earned this match will not be returned.\n      \"ProgressiveCommendationDeltas\": [\n        {\n          // The commendation ID. Commendations are available via the Metadata API.\n          \"Id\": \"guid\",\n\n          // The progress the player had made towards the commendation level before the\n          // match.\n          \"PreviousProgress\": \"int\",\n\n          // The progress the player had made towards the commendation level after the\n          // match.\n          \"Progress\": \"int\"\n        }\n      ],\n\n      // Details on the boost card the user used in this match. If the user did not use a\n      // boost card this field will be null.\n      \"BoostData\": {\n\n        // The identifier of the boost card that was used. Boost cards are available via\n        // the Requisitions Metadata API.\n        \"DefinitionId\": \"guid\",\n\n        // Whether the card was consumed because its conditions were met. If not consumed\n        // the card is returned to the user's inventory.\n        \"CardConsumed\": \"bool\"\n      },\n\n      \"Player\": {\n\n         // The player's gamertag.\n        \"Gamertag\": \"string\",\n\n        // Internal use only. This will always be null.\n        \"Xuid\": null\n      },\n\n      // The ID of the team that the player was on when the match ended. \n      \"TeamId\": \"int\",\n\n      // The player's team-agnostic ranking.\n      \"Rank\": \"int\",\n\n      // Indicates whether the player was present in the match when it ended.\n      \"DNF\": \"boolean\",\n\n      // The player's average lifetime.\n      \"AvgLifeTimeOfPlayer\": \"string\",\n\n      // Internal use only. This will always be null.\n      \"PreMatchRatings\": null,\n\n      // Internal use only. This will always be null.\n      \"PostMatchRatings\": null,\n\n      // The Player's Score. This is not used by all Game Variants and may contain null\n      // or invalid data.\n      \"PlayerScore\": \"int\",\n\n      // Total number of kills done by the player. This includes melee kills, shoulder\n      // bash kills and Spartan charge kills, all power weapons, AI kills and vehicle\n      // destructions.       \n      \"TotalKills\": \"int\",\n\n      // Total number of headshots done by the player.\n      \"TotalHeadshots\": \"int\",\n\n      // Total weapon damage dealt by the player.\n      \"TotalWeaponDamage\": \"double\",\n\n      // Total number of shots fired by the player.\n      \"TotalShotsFired\": \"int\",\n\n      // Total number of shots landed by the player.\n      \"TotalShotsLanded\": \"int\",\n\n      // The weapon the player used to get the most kills this match.\n      \"WeaponWithMostKills\": {\n\n        \"WeaponId\": {\n\n          // The ID of the weapon. Weapons are available via the Metadata API.\n          \"StockId\": \"int\",\n\n          // Any attachments the weapon had.\n          \"Attachments\": [ \"int\" ]\n        },\n\n        // The number of shots fired for this weapon.\n        \"TotalShotsFired\": \"int\",\n\n        // The number of shots landed for this weapon.\n        \"TotalShotsLanded\": \"int\",\n\n        // The number of headshots for this weapon.\n        \"TotalHeadshots\": \"int\",\n\n        // The number of kills for this weapon.\n        \"TotalKills\": \"int\",\n\n        // The total damage dealt for this weapon.\n        \"TotalDamageDealt\": \"double\",\n\n        // The total possession time for this weapon. This is expressed as an ISO 8601\n        // Duration.\n        \"TotalPossessionTime\": \"string\"\n      },\n\n      // Total number of melee kills by the player.\n      \"TotalMeleeKills\": \"int\",\n\n      // Total melee damage dealt by the player.\n      \"TotalMeleeDamage\": \"double\",\n\n      // Total number of assassinations by the player.\n      \"TotalAssassinations\": \"int\",\n\n      // Total number of ground pound kills by the player.\n      \"TotalGroundPoundKills\": \"int\",\n\n      // Total ground pound damage dealt by the player.\n      \"TotalGroundPoundDamage\": \"double\",\n\n      // Total number of shoulder bash kills by the player.\n      \"TotalShoulderBashKills\": \"int\",\n\n      // Total shoulder bash damage dealt by the player.\n      \"TotalShoulderBashDamage\": \"double\",\n\n      // Total grenade damage dealt by the player.\n      \"TotalGrenadeDamage\": \"double\",\n\n      // Total number of power weapon kills by the player.\n      \"TotalPowerWeaponKills\": \"int\",\n\n      // Total power weapon damage dealt by the player.\n      \"TotalPowerWeaponDamage\": \"double\",\n\n      // Total number of power weapon grabs by the player.\n      \"TotalPowerWeaponGrabs\": \"int\",\n\n      // Total power weapon possession by the player. This is expressed as an ISO 8601\n      // Duration.\n      \"TotalPowerWeaponPossessionTime\": \"string\",\n\n      // Total number of deaths by the player.\n      \"TotalDeaths\": \"int\",\n\n      // Total number of assists by the player.\n      \"TotalAssists\": \"int\",\n\n      // Not used.\n      \"TotalGamesCompleted\": \"int\",\n\n      // Not used.\n      \"TotalGamesWon\": \"int\",\n\n      // Not used.\n      \"TotalGamesLost\": \"int\",\n\n      // Not used.\n      \"TotalGamesTied\": \"int\",\n\n      // Total timed played in this match by the player.\n      \"TotalTimePlayed\": \"string\",\n\n      // Total number of grenade kills by the player.\n      \"TotalGrenadeKills\": \"int\",\n\n      // The set of Medals earned by the player.\n      \"MedalAwards\": [\n        {\n          // The ID of the Medal. Medals are available via the Metadata API.\n          \"MedalId\": \"int\",\n\n          // The number of times the Medal was earned.\n          \"Count\": \"int\"\n        }\n      ], \n\n      // List of enemy vehicles destroyed. Vehicles are available via the Metadata API.\n      // Note: this stat measures enemy vehicles, not any vehicle destruction.\n      \"DestroyedEnemyVehicles\": [\n        {\n          // The enemy this entry references\n          \"Enemy\": {\n\n            // The Base ID for the enemy.\n            \"BaseId\": \"int\",\n\n            // The attachments (variants) for the enemy.\n            \"Attachments\": [\n              \"int\"\n            ]\n          },\n\n          // Total number of kills on the enemy by the player\n          \"TotalKills\": \"int\"\n        }\n      ],\n\n      // List of enemies killed, per enemy type. Enemies are available via the Metadata\n      // API.\n      \"EnemyKills\": [\n        {\n          // The enemy this entry references\n          \"Enemy\": {\n\n            // The Base ID for the enemy.\n            \"BaseId\": \"int\",\n\n            // The attachments (variants) for the enemy.\n            \"Attachments\": [\n              \"int\"\n            ]\n          },\n\n          // Total number of kills on the enemy by the player\n          \"TotalKills\": \"int\"\n        }\n      ],\n\n      // The set of weapons (weapons and vehicles included) used by the player.\n      \"WeaponStats\": [\n        {\n          \"WeaponId\": {\n\n              // The ID of the weapon. Weapons are available via the Metadata API.\n            \"StockId\": \"int\",\n\n              // Any attachments the weapon had.\n            \"Attachments\": [ \n              \"int\" \n            ]\n          },\n\n          // The number of shots fired for this weapon.\n          \"TotalShotsFired\": \"int\",\n\n          // The number of shots landed for this weapon.\n          \"TotalShotsLanded\": \"int\",\n\n          // The number of headshots for this weapon.\n          \"TotalHeadshots\": \"int\",\n\n          // The number of kills for this weapon.\n          \"TotalKills\": \"int\",\n\n          // The total damage dealt for this weapon.\n          \"TotalDamageDealt\": \"double\",\n\n          // The total possession time for this weapon. This is expressed as an ISO 8601\n          // Duration.\n          \"TotalPossessionTime\": \"string\"\n        }\n      ],\n\n      // The set of Impulses (invisible Medals) earned by the player.\n      \"Impulses\": [\n        {\n          // The ID of the Impulse. Impulses are available via the Metadata API.\n          \"Id\": \"int\",\n\n          // The number of times the Impulse was earned.\n          \"Count\": \"int\"\n        }\n      ],\n\n      // Total number of Spartan kills by the player.\n      \"TotalSpartanKills\": \"int\"\n    }\n  ],\n\n  // A list of stats for each team who in the match. Note that in Free For All modes,\n  // there is an entry for every player.\n  \"TeamStats\": [\n    {\n      // The ID for the team.\n      \"TeamId\": \"int\",\n\n      // The team's score at the end of the match. The way the score is determined is\n      // based off the game base variant being played: \n      //   Breakout = number of rounds won,\n      //   CTF = number of flag captures,\n      //   Slayer = number of kills,\n      //   Strongholds = number of points,\n      //   Warzone = number of points.\n      // Score can be a negative value. Unfortunately, this value is returned as an\n      // unsigned 32-bit integer. This means that if the score is -1, the score reported\n      // is 4,294,967,295.\n      \"Score\": \"uint32\",\n\n      // The team's rank at the end of the match.\n      \"Rank\": \"int\",\n\n      // The set of round stats for the team.\n      \"RoundStats\": [\n        {\n          // The round number this entry pertains to.\n          \"RoundNumber\": \"int\",\n\n          // The end rank for the team this round.\n          \"Rank\": \"int\",\n\n          // The end score for the team this round.\n          // Score can be a negative value. Unfortunately, this value is returned as an\n          // unsigned 32-bit integer. This means that if the score is -1, the score\n          // reported is 4,294,967,295.\n          \"Score\": \"uint32\",\n\n        }\n      ]\n    }\n  ],\n\n  // Indicates if the match is completed or not. Some match details are available while\n  // the match is in-progress, but the behavior for incomplete matches in undefined.\n  \"IsMatchOver\": \"boolean\",\n\n  // The length of the match. This is expressed as an ISO 8601 Duration.\n  \"TotalDuration\": \"string\",\n\n  // The variant of the map for this match. Map variants are available via the Metadata\n  // API. More information is available in MapVariantResourceId.\n  \"MapVariantId\": \"guid\",\n\n  // The variant of the game for this match. Game variants are available via the Metadata\n  // API. More information is available in GameVariantResourceId.\n  \"GameVariantId\": \"guid\",\n\n  // The playlist ID of the match. Playlists are available via the Metadata API.\n  \"PlaylistId\": \"guid\",\n\n  // The ID of the base map for this match. Maps are available via the Metadata API.\n  \"MapId\": \"guid\",\n\n  // The ID of the game base variant for this match. Game base variants are available via\n  // the Metadata API.\n  \"GameBaseVariantId\": \"guid\",\n\n  // Whether this was a team-based game or not.\n  \"IsTeamGame\": \"boolean\",\n\n  // The ID of the season for this match if it was played in a seasonal playlist. Null if\n  // the match was played in a non-seasonal playlist.\n  \"SeasonId\": \"guid\",\n\n  // The variant of the game for this match. There are two sources of game variants:\n  // official game variants available via the Metadata API and user-generated game\n  // variants available via the UGC API.\n  \"GameVariantResourceId\": {\n\n    // The resource type. 2 indicates game variant.\n    \"ResourceType\": 2,\n\n    // The ID of the game variant. Official game variants are available via the Metadata\n    // API.\n    \"ResourceId\": \"guid\",        \n\n    // The source of the game variant. Options are:\n    //   Unknown = 0,\n    //   User-generated = 1,\n    //   Official = 3.\n    \"OwnerType\": \"int\",\n\n    // The gamertag of the user that created the game variant if this is a user-generated\n    // game variant, or null otherwise. \n    \"Owner\": \"string\"\n  },\n\n  // The variant of the map for this match. There are two sources of map variants:\n  // official map variants available via the Metadata API and user-generated map variants\n  // available via the UGC API.\n  \"MapVariantResourceId\": {\n\n    // The resource type. 3 indicates map variant.\n    \"ResourceType\": 3,\n\n    // The ID of the map variant. Official map variants are available via the Metadata\n    // API.\n    \"ResourceId\": \"guid\",\n\n    // The source of the map variant. Options are:\n    //   Unknown = 0,\n    //   User-generated = 1,\n    //   Official = 3.\n    \"OwnerType\": \"int\",\n\n    // The gamertag of the user that created the map variant if this is a user-generated\n    // map variant, or null otherwise. \n    \"Owner\": \"string\"\n  }\n}\n"
            }
          },
          "404": {
            "description": "The specified Match could not be found."
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "summary": "Halo 5 - Match Result - Arena"
      }
    },
    "/h5/campaign/matches/{matchId}": {
      "get": {
        "description": "<p>Retrieves detailed statistics for a Match with the Campaign Game Mode.</p>\n<p>Every time a player plays a portion of a Campaign Mission, a Match will be generated whether the player finishes the Mission or not. If the \"Match\" ends because the Mission was completed, this will be indicated in the response.</p>\n<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>December 22, 2017:</strong></p>\n    <ul>\n        <li>Added Game Mode clarifications to the Endpoint description.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Post-Game Carnage Report: Campaign\" to \"Halo 5 - Match Result - Campaign\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>May 16, 2016:</strong></p>\n    <ul>\n        <li>Documented HTTP 503 Response Code.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>April 20, 2016:</strong></p>\n    <ul>\n        <li>Added documentation for the \"GameVariantResourceId\", \"MapVariantResourceId\", and \"PlayerScore\" fields.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Match-Result-Campaign",
        "parameters": [
          {
            "description": "An ID that uniquely identifies a Match. Match IDs can be retrieved from the \"Halo 5 - Player Match History\" Endpoint.",
            "in": "path",
            "name": "matchId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the Match Result.",
            "examples": {
              "application/json": "{\n  // A list of stats for each player who was present in the match.\n  \"PlayerStats\": [\n    {\n      // The player's biggest score due to a kill.\n      \"BiggestKillScore\": \"int\",\n\n      // The game base variant specific stats for this match. Flexible stats are\n      // available via the Metadata API.\n      \"FlexibleStats\": {\n\n        // The set of flexible stats that are derived from medal events.\n        \"MedalStatCounts\": [\n          {\n            // The ID of the flexible stat.\n            \"Id\": \"guid\",\n\n            // The number of times this flexible stat was earned.\n            \"Count\": \"int\"\n          }\n        ],\n\n        // The set of flexible stats that are derived from impulse events.\n        \"ImpulseStatCounts\": [\n          {\n            // The ID of the flexible stat.\n            \"Id\": \"guid\",\n\n            // The number of times this flexible stat was earned.\n            \"Count\": \"int\"\n          }\n        ],\n\n        // The set of flexible stats that are derived from medal time lapses.\n        \"MedalTimelapses\": [\n          {\n            // The ID of the flexible stat.\n            \"Id\": \"guid\",\n\n            // The amount of time the flexible stat was earned for. This is expressed as\n            // an ISO 8601 Duration.\n            \"Timelapse\": \"string\"\n          }\n        ],        \n\n        // The set of flexible stats that are derived from impulse time lapses.\n        \"ImpulseTimelapses\": [\n          {\n            // The ID of the flexible stat.\n            \"Id\": \"guid\",\n\n            // The amount of time the flexible stat was earned for. This is expressed as\n            // an ISO 8601 Duration.\n            \"Timelapse\": \"string\"\n          }\n        ]\n      },\n\n      // The player's score.\n      // Score can be a negative value. Unfortunately, this value is returned as an\n      // unsigned 32-bit integer. This means that if the score is -1, the score reported\n      // is 4,294,967,295.\n      \"Score\": \"uint32\",\n\n      // Unused.\n      \"CharacterIndex\": null,\n\n      \"Player\": {\n\n         // The player's gamertag.\n        \"Gamertag\": \"string\",\n\n        // Internal use only. This will always be null.\n        \"Xuid\": null\n      },\n\n      // The ID of the team that the player was on when the match ended. This value has\n      // no meaning in Campaign.\n      \"TeamId\": \"int\",\n\n      // The player's team-agnostic ranking.\n      \"Rank\": \"int\",\n\n      // Indicates whether the player was present in the match when it ended. \n      \"DNF\": \"boolean\",\n\n      // The player's average lifetime.\n      \"AvgLifeTimeOfPlayer\": \"string\",\n\n      // Internal use only. This will always be null.\n      \"PreMatchRatings\": null,\n\n      // Internal use only. This will always be null.\n      \"PostMatchRatings\": null,\n\n      // Unused for Campaign matches. This will usually be null or contain invalid data.\n      \"PlayerScore\": null,\n\n      // Total number of kills done by the player. This includes melee kills, shoulder\n      // bash kills and Spartan charge kills, all power weapons, AI kills and vehicle\n      // destructions. \n      \"TotalKills\": \"int\",\n\n      // Total number of headshots done by the player.\n      \"TotalHeadshots\": \"int\",\n\n      // Total weapon damage dealt by the player.\n      \"TotalWeaponDamage\": \"double\",\n\n      // Total number of shots fired by the player.\n      \"TotalShotsFired\": \"int\",\n\n      // Total number of shots landed by the player.\n      \"TotalShotsLanded\": \"int\",\n\n      // The weapon the player used to get the most kills this match.\n      \"WeaponWithMostKills\": {\n\n        \"WeaponId\": {\n\n          // The ID of the weapon. Weapons are available via the Metadata API.\n          \"StockId\": \"int\",\n\n          // Any attachments the weapon had.\n          \"Attachments\": [ \"int\" ]\n        },\n\n        // The number of shots fired for this weapon.\n        \"TotalShotsFired\": \"int\",\n\n        // The number of shots landed for this weapon.\n        \"TotalShotsLanded\": \"int\",\n\n        // The number of headshots for this weapon.\n        \"TotalHeadshots\": \"int\",\n\n        // The number of kills for this weapon.\n        \"TotalKills\": \"int\",\n\n        // The total damage dealt for this weapon.\n        \"TotalDamageDealt\": \"double\",\n\n        // The total possession time for this weapon. This is expressed as an ISO 8601\n        // Duration.\n        \"TotalPossessionTime\": \"string\"\n      },\n\n      // Total number of melee kills by the player.\n      \"TotalMeleeKills\": \"int\",\n\n      // Total melee damage dealt by the player.\n      \"TotalMeleeDamage\": \"double\",\n\n      // Total number of assassinations by the player.\n      \"TotalAssassinations\": \"int\",\n\n      // Total number of ground pound kills by the player.\n      \"TotalGroundPoundKills\": \"int\",\n\n      // Total ground pound damage dealt by the player.\n      \"TotalGroundPoundDamage\": \"double\",\n\n      // Total number of shoulder bash kills by the player.\n      \"TotalShoulderBashKills\": \"int\",\n\n      // Total shoulder bash damage dealt by the player.\n      \"TotalShoulderBashDamage\": \"double\",\n\n      // Total grenade damage dealt by the player.\n      \"TotalGrenadeDamage\": \"double\",\n\n      // Total number of power weapon kills by the player.\n      \"TotalPowerWeaponKills\": \"int\",\n\n      // Total power weapon damage dealt by the player.\n      \"TotalPowerWeaponDamage\": \"double\",\n\n      // Total number of power weapon grabs by the player.\n      \"TotalPowerWeaponGrabs\": \"int\",\n\n      // Total power weapon possession by the player. This is expressed as an ISO 8601\n      // Duration.\n      \"TotalPowerWeaponPossessionTime\": \"string\",\n\n      // Total number of deaths by the player.\n      \"TotalDeaths\": \"int\",\n\n      // Total number of assists by the player.\n      \"TotalAssists\": \"int\",\n\n      // Not used.\n      \"TotalGamesCompleted\": \"int\",\n\n      // Not used.\n      \"TotalGamesWon\": \"int\",\n\n      // Not used.\n      \"TotalGamesLost\": \"int\",\n\n      // Not used.\n      \"TotalGamesTied\": \"int\",\n\n      // Total timed played in this match by the player.\n      \"TotalTimePlayed\": \"string\",\n\n      // Total number of grenade kills by the player.\n      \"TotalGrenadeKills\": \"int\",\n\n      // The set of Medals earned by the player.\n      \"MedalAwards\": [\n        {\n          // The ID of the Medal. Medals are available via the Metadata API.\n          \"MedalId\": \"int\",\n\n          // The number of times the Medal was earned.\n          \"Count\": \"int\"\n        }\n      ], \n\n      // List of enemy vehicles destroyed. Vehicles are available via the Metadata API.\n      // Note: this stat measures enemy vehicles, not any vehicle destruction.\n      \"DestroyedEnemyVehicles\": [\n        {\n          // The enemy this entry references\n          \"Enemy\": {\n\n            // The Base ID for the enemy.\n            \"BaseId\": \"int\",\n\n            // The attachments (variants) for the enemy.\n            \"Attachments\": [\n              \"int\"\n            ]\n          },\n\n          // Total number of kills on the enemy by the player\n          \"TotalKills\": \"int\"\n        }\n      ],\n\n      // List of enemies killed, per enemy type. Enemies are available via the Metadata\n      // API.\n      \"EnemyKills\": [\n        {\n          // The enemy this entry references\n          \"Enemy\": {\n\n            // The Base ID for the enemy.\n            \"BaseId\": \"int\",\n\n            // The attachments (variants) for the enemy.\n            \"Attachments\": [\n              \"int\"\n            ]\n          },\n\n          // Total number of kills on the enemy by the player\n          \"TotalKills\": \"int\"\n        }\n      ],\n\n      // The set of weapons (weapons and vehicles included) used by the player.\n      \"WeaponStats\": [\n        {\n          \"WeaponId\": {\n\n              // The ID of the weapon. Weapons are available via the Metadata API.\n            \"StockId\": \"int\",\n\n              // Any attachments the weapon had.\n            \"Attachments\": [ \n              \"int\" \n            ]\n          },\n\n            // The number of shots fired for this weapon.\n          \"TotalShotsFired\": \"int\",\n\n            // The number of shots landed for this weapon.\n          \"TotalShotsLanded\": \"int\",\n\n            // The number of headshots for this weapon.\n          \"TotalHeadshots\": \"int\",\n\n            // The number of kills for this weapon.\n          \"TotalKills\": \"int\",\n\n            // The total damage dealt for this weapon.\n          \"TotalDamageDealt\": \"double\",\n\n            // The total possession time for this weapon. This is expressed as an ISO\n            // 8601 Duration.\n          \"TotalPossessionTime\": \"string\"\n        }\n      ],\n\n      // The set of Impulses (invisible Medals) earned by the player.\n      \"Impulses\": [\n        {\n          // The ID of the Impulse. Impulses are available via the Metadata API.\n          \"Id\": \"int\",\n\n          // The number of times the Impulse was earned.\n          \"Count\": \"int\"\n        }\n      ],\n\n      // Total number of Spartan kills by the player.\n      \"TotalSpartanKills\": \"int\"\n    }\n  ],\n\n  // The total playthrough time of the mission as calculated by the game. This value is\n  // persisted in save files.\n  \"TotalMissionPlaythroughTime\": \"string\",\n\n  // The difficulty the mission was played at. Options are:\n  //   Easy = 0,\n  //   Normal = 1,\n  //   Heroic = 2,\n  //   Legendary = 3\n  \"Difficulty\": \"int\",\n\n  // The list of skulls used for the mission. Skulls are available via the Metadata API.\n  \"Skulls\": [\n    \"int\"\n  ],\n\n  // Indicates whether the mission was completed when the match ended.\n  \"MissionCompleted\": \"boolean\",\n\n  // Indicates if the match is completed or not. Some match details are available while\n  // the match is in-progress, but the behavior for incomplete matches in undefined.\n  \"IsMatchOver\": \"boolean\",\n\n  // The length of the match. This is expressed as an ISO 8601 Duration.\n  \"TotalDuration\": \"string\",\n\n  // Unused for Campaign matches. This will always be an empty guid.\n  \"MapVariantId\": \"guid\",\n\n  // Unused for Campaign matches. This will always be empty guid.\n  \"GameVariantId\": \"guid\",\n\n  // The playlist ID of the match. Playlists are available via the Metadata API.\n  \"PlaylistId\": \"guid\",\n\n  // The ID of the Campaign Mission. In Campaign, Map ID is overriden to be the Mission\n  // ID. Missions are available via the Metadata API.\n  \"MapId\": \"guid\",\n\n  // The ID of the game base variant for this match. Game base variants are available via\n  // the Metadata API.\n  \"GameBaseVariantId\": \"guid\",\n\n  // Whether this was a team-based game or not.\n  \"IsTeamGame\": \"boolean\",\n\n  // Unused for Campaign matches. This will always be null.\n  \"SeasonId\": null,\n\n  // Unused for Campaign matches. All fields within this structure will have their\n  // default value.\n  \"GameVariantResourceId\": {\n\n    \"ResourceType\": \"int\",\n\n    \"ResourceId\": \"guid\",\n\n    \"OwnerType\": \"int\",\n\n    \"Owner\": \"string\"\n  },\n\n  // Unused for Campaign matches. All fields within this structure will have their\n  // default value.\n  \"MapVariantResourceId\": {\n\n    \"ResourceType\": \"int\",\n\n    \"ResourceId\": \"guid\",\n\n    \"OwnerType\": \"int\",\n\n    \"Owner\": \"string\"\n  }\n}\n"
            }
          },
          "404": {
            "description": "The specified Match could not be found."
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "summary": "Halo 5 - Match Result - Campaign"
      }
    },
    "/h5/companies/{companyId}": {
      "get": {
        "description": "<p>Retrieves information about the Company. The response will contain the Company's name, status, and members.</p>\n<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>July 14, 2017:</strong></p>\n    <ul>\n        <li>Added Endpoint.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Company",
        "parameters": [
          {
            "description": "The ID for the Company. The Company ID for a player can be retrieved from the Profile APIs via the \"Halo 5 - Player Apperance\" Endpoint.",
            "in": "path",
            "name": "companyId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the Company name, status, and members.",
            "examples": {
              "application/json": "{\n  // The ID of the company.\n  \"Id\": \"guid\",\n\n  // The name of the company.\n  \"Name\": \"string\",\n\n  // Information about the creator of the company. The creator might not necessarily be a\n  // member of the company.\n  \"Creator\": {\n\n    // The company creator's gamertag.\n    \"Gamertag\": \"string\",\n\n    // Internal use only. This will always be null.\n    \"Xuid\": null\n  },\n\n  // The highest number of users that were (or are) in this company.\n  \"PeakMembershipCount\": \"int\",\n\n  // Indicates the date that the company is suspended until. This is expressed as an ISO\n  // 8601 combined Date and Time.\n  \"SuspendedUntilDate\": {\n\n    \"ISO8601Date\": \"string\"\n  },\n\n  // The current members of the company. If the company does not have any members, this\n  // list will be empty. \n  \"Members\": [\n    {\n       // Information about the member. \n      \"Player\": {\n\n        // The member's gamertag.\n        \"Gamertag\": \"string\",\n\n        // Internal use only. This will always be null.\n        \"Xuid\": null\n      },\n\n      // The role of the member in the company. This field will contain one of the\n      // following values:\n      //   Member = 0,\n      //   Lieutenant = 1,\n      //   Leader = 2\n      \"Role\": \"int\",\n\n      // The date when the member was added to the company. The time component of this\n      // date is always set to \"00:00:00\". This is expressed as an ISO 8601 combined Date\n      // and Time.\n      \"JoinedDate\": {\n\n        \"ISO8601Date\": \"string\"\n      },\n\n      // The date when the member's role was last modified. The time component of this\n      // date is always set to \"00:00:00\". This is expressed as an ISO 8601 combined Date\n      // and Time.\n      \"LastModifiedDate\": {\n\n        \"ISO8601Date\": \"string\"\n    }\n  ],\n\n  // The date when the company was created. The time component of this date is always set\n  // to \"00:00:00\". This is expressed as an ISO 8601 combined Date and Time.\n  \"CreatedDate\": {\n\n    \"ISO8601Date\": \"string\"\n  },\n\n  // The date when the company was last modified. The time component of this date is\n  // always set to \"00:00:00\". This is expressed as an ISO 8601 combined Date and Time.\n  \"LastModifiedDate\": {\n\n    \"ISO8601Date\": \"string\"\n  }\n}\n"
            }
          },
          "404": {
            "description": "Specified Company was not found."
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "summary": "Halo 5 - Company"
      }
    },
    "/h5/companies/{companyId}/commendations": {
      "get": {
        "description": "<p>Retrieves the commendation state for a Company.</p>\n<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>July 14, 2017:</strong></p>\n    <ul>\n        <li>Added Endpoint.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Company-Commendations",
        "parameters": [
          {
            "description": "The ID for the Company. The Company ID for a player can be retrieved from the Profile APIs via the \"Halo 5 - Player Apperance\" Endpoint.",
            "in": "path",
            "name": "companyId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the commendation state for the Company.",
            "examples": {
              "application/json": "{\n  // Internal use only. A set of related resource links.\n  \"Links\": null,\n\n  // The progress towards each Progressive Commendation. Progressive commendations have a\n  // series of increasingly difficult thresholds (levels) that must crossed to receive\n  // increasingly greater rewards. If no progress has been made for a progressive\n  // commendation, it is omitted from this list.\n  \"ProgressiveCommendations\": [\n    {\n      // The commendation ID. Commendations are available via the Metadata API.\n      \"Id\": \"guid\",\n\n      // The progress that has been made towards the commendation.\n      \"Progress\": \"int\",\n\n      // The levels that have been completed for the commendation.\n      \"CompletedLevels\": [\n        {\n          // The commendation level ID. Commendation Levels area available via the\n          // Metadata API.\n          \"Id\": \"guid\",\n\n          // The date the commendation level was completed. The time component of this\n          // date is always set to \"00:00:00\". This is expressed as an ISO 8601 combined\n          // Date and Time.\n          \"CompletedDateUtc\": {\n\n            \"ISO8601Date\": \"string\"\n          }\n        }\n      ]\n    }\n  ],\n\n  // The progress towards each Meta Commendation. Meta commendations are unlocked when\n  // one or more other commendation levels have been completed. If no progress has been\n  // made for a meta commendation, it is omitted from this list.\n  \"MetaCommendations\": [\n    {\n      // The commendation ID. Commendations are available via the Metadata API.\n      \"Id\": \"guid\",\n\n      // The required commendation IDs that have been completed that are associated with\n      // this meta commendation. In C#, this can be reassembled into a Guid in the\n      // following manner: new Guid((int)Data1, (short)Data2, (short)Data3,\n      // BitConverter.GetBytes((long)Data4)).\n      \"MetRequirements\": [\n        {\n          \"Data1\": \"int\",\n\n          \"Data2\": \"int\",\n\n          \"Data3\": \"int\",\n\n          \"Data4\": \"int\"\n        }\n      ]\n    }\n  ],\n\n  // The date when the commendations progress was last updated. The time component of\n  // this date is always set to \"00:00:00\". This is expressed as an ISO 8601 combined\n  // Date and Time.\n  \"LastUpdatedDateUtc\": {\n\n    \"ISO8601Date\": \"string\"\n  }\n}\n"
            }
          },
          "404": {
            "description": "Specified Company was not found."
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "summary": "Halo 5 - Company Commendations"
      }
    },
    "/h5/custom/matches/{matchId}": {
      "get": {
        "description": "<p>Retrieves detailed statistics for a Match with the Custom Game Mode. Games with the Custom Game Mode are played on Xbox Live Servers. For games played on Local Servers, use the \"Halo 5 - Match Result - Custom Local\" Endpoint.</p>\n<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>December 12, 2018:</strong></p>\n    <ul>\n        <li>Updated the documentation for \"PlayerScore\".</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>December 22, 2017:</strong></p>\n    <ul>\n        <li>Added Game Mode clarifications to the Endpoint description.</li>\n        <li>Added documentation for \"PresentInMatch\".</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Post-Game Carnage Report: Custom\" to \"Halo 5 - Match Result - Custom\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n        <li>Updated the documentation for \"GameVariantResourceId\" and \"MapVariantResourceId\" to reference the UGC API.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>May 16, 2016:</strong></p>\n    <ul>\n        <li>Documented HTTP 503 Response Code.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>April 20, 2016:</strong></p>\n    <ul>\n        <li>Added documentation for the \"GameVariantResourceId\", \"MapVariantResourceId\", and \"PlayerScore\" fields.</li>\n        <li>Updated the documentation for the \"MapVariantId\" and \"GameVariantId\" fields with the recommendation of using the \"MapVariantResourceId\" and \"GameVariantResourceId\" fields, respectively.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Match-Result-Custom",
        "parameters": [
          {
            "description": "An ID that uniquely identifies a Match. Match IDs can be retrieved from the \"Halo 5 - Player Match History\" Endpoint.",
            "in": "path",
            "name": "matchId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the Match Result.",
            "examples": {
              "application/json": "{\n  // A list of stats for each player who was present in the match.\n  \"PlayerStats\": [\n    {\n      // The number of times the player killed each opponent. If the player did not kill\n      // an opponent, there will be no entry for that opponent.\n      \"KilledOpponentDetails\": [\n        {\n          // The gamertag of the opponent that was killed.\n          \"GamerTag\": \"string\",\n\n          // The number of times that opponent was killed.\n          \"TotalKills\": \"int\"\n        }\n      ],\n\n      // The number of times the player was killed by each opponent. If the player was\n      // not killed by an opponent, there will be no entry for that opponent.\n      \"KilledByOpponentDetails\": [\n        {\n          // The gamertag of the opponent that killed the player.\n          \"GamerTag\": \"string\",\n\n          // The number of times the opponent killed the player.\n          \"TotalKills\": \"int\"\n        }\n      ],\n\n      // The game base variant specific stats for this match. Flexible stats are\n      // available via the Metadata API.\n      \"FlexibleStats\": {\n\n        // The set of flexible stats that are derived from medal events.\n        \"MedalStatCounts\": [\n          {\n            // The ID of the flexible stat.\n            \"Id\": \"guid\",\n\n            // The number of times this flexible stat was earned.\n            \"Count\": \"int\"\n          }\n        ],\n\n        // The set of flexible stats that are derived from impulse events.\n        \"ImpulseStatCounts\": [\n          {\n            // The ID of the flexible stat.\n            \"Id\": \"guid\",\n\n            // The number of times this flexible stat was earned.\n            \"Count\": \"int\"\n          }\n        ],\n\n        // The set of flexible stats that are derived from medal time lapses.\n        \"MedalTimelapses\": [\n          {\n            // The ID of the flexible stat.\n            \"Id\": \"guid\",\n\n            // The amount of time the flexible stat was earned for. This is expressed as\n            // an ISO 8601 Duration.\n            \"Timelapse\": \"string\"\n          }\n        ],        \n\n        // The set of flexible stats that are derived from impulse time lapses.\n        \"ImpulseTimelapses\": [\n          {\n            // The ID of the flexible stat.\n            \"Id\": \"guid\",\n\n            // The amount of time the flexible stat was earned for. This is expressed as\n            // an ISO 8601 Duration.\n            \"Timelapse\": \"string\"\n          }\n        ]\n      },\n\n      // Internal use only.\n      \"PresentInMatch\": \"boolean\",\n\n      \"Player\": {\n\n         // The player's gamertag.\n        \"Gamertag\": \"string\",\n\n        // Internal use only. This will always be null.\n        \"Xuid\": null\n      },\n\n      // The ID of the team that the player was on when the match ended. \n      \"TeamId\": \"int\",\n\n      // The player's team-agnostic ranking.\n      \"Rank\": \"int\",\n\n      // Indicates whether the player was present in the match when it ended.\n      \"DNF\": \"boolean\",\n\n      // The player's average lifetime.\n      \"AvgLifeTimeOfPlayer\": \"string\",\n\n      // Internal use only. This will always be null.\n      \"PreMatchRatings\": null,\n\n      // Internal use only. This will always be null.\n      \"PostMatchRatings\": null,\n\n      // The Player's Score. This is not used by all Game Variants and may contain null\n      // or invalid data.\n      \"PlayerScore\": \"int\",\n\n      // Total number of kills done by the player. This includes melee kills, shoulder\n      // bash kills and Spartan charge kills, all power weapons, AI kills and vehicle\n      // destructions. \n      \"TotalKills\": \"int\",\n\n      // Total number of headshots done by the player.\n      \"TotalHeadshots\": \"int\",\n\n      // Total weapon damage dealt by the player.\n      \"TotalWeaponDamage\": \"double\",\n\n      // Total number of shots fired by the player.\n      \"TotalShotsFired\": \"int\",\n\n      // Total number of shots landed by the player.\n      \"TotalShotsLanded\": \"int\",\n\n      // The weapon the player used to get the most kills this match.\n      \"WeaponWithMostKills\": {\n\n        \"WeaponId\": {\n\n          // The ID of the weapon. Weapons are available via the Metadata API.\n          \"StockId\": \"int\",\n\n          // Any attachments the weapon had.\n          \"Attachments\": [ \"int\" ]\n        },\n\n        // The number of shots fired for this weapon.\n        \"TotalShotsFired\": \"int\",\n\n        // The number of shots landed for this weapon.\n        \"TotalShotsLanded\": \"int\",\n\n        // The number of headshots for this weapon.\n        \"TotalHeadshots\": \"int\",\n\n        // The number of kills for this weapon.\n        \"TotalKills\": \"int\",\n\n        // The total damage dealt for this weapon.\n        \"TotalDamageDealt\": \"double\",\n\n        // The total possession time for this weapon. This is expressed as an ISO 8601\n        // Duration.\n        \"TotalPossessionTime\": \"string\"\n      },\n\n      // Total number of melee kills by the player.\n      \"TotalMeleeKills\": \"int\",\n\n      // Total melee damage dealt by the player.\n      \"TotalMeleeDamage\": \"double\",\n\n      // Total number of assassinations by the player.\n      \"TotalAssassinations\": \"int\",\n\n      // Total number of ground pound kills by the player.\n      \"TotalGroundPoundKills\": \"int\",\n\n      // Total ground pound damage dealt by the player.\n      \"TotalGroundPoundDamage\": \"double\",\n\n      // Total number of shoulder bash kills by the player.\n      \"TotalShoulderBashKills\": \"int\",\n\n      // Total shoulder bash damage dealt by the player.\n      \"TotalShoulderBashDamage\": \"double\",\n\n      // Total grenade damage dealt by the player.\n      \"TotalGrenadeDamage\": \"double\",\n\n      // Total number of power weapon kills by the player.\n      \"TotalPowerWeaponKills\": \"int\",\n\n      // Total power weapon damage dealt by the player.\n      \"TotalPowerWeaponDamage\": \"double\",\n\n      // Total number of power weapon grabs by the player.\n      \"TotalPowerWeaponGrabs\": \"int\",\n\n      // Total power weapon possession by the player. This is expressed as an ISO 8601\n      // Duration.\n      \"TotalPowerWeaponPossessionTime\": \"string\",\n\n      // Total number of deaths by the player.\n      \"TotalDeaths\": \"int\",\n\n      // Total number of assists by the player.\n      \"TotalAssists\": \"int\",\n\n      // Not used.\n      \"TotalGamesCompleted\": \"int\",\n\n      // Not used.\n      \"TotalGamesWon\": \"int\",\n\n      // Not used.\n      \"TotalGamesLost\": \"int\",\n\n      // Not used.\n      \"TotalGamesTied\": \"int\",\n\n      // Total timed played in this match by the player.\n      \"TotalTimePlayed\": \"string\",\n\n      // Total number of grenade kills by the player.\n      \"TotalGrenadeKills\": \"int\",\n\n      // The set of Medals earned by the player.\n      \"MedalAwards\": [\n        {\n          // The ID of the Medal. Medals are available via the Metadata API.\n          \"MedalId\": \"int\",\n\n          // The number of times the Medal was earned.\n          \"Count\": \"int\"\n        }\n      ], \n\n      // List of enemy vehicles destroyed. Vehicles are available via the Metadata API.\n      // Note: this stat measures enemy vehicles, not any vehicle destruction.\n      \"DestroyedEnemyVehicles\": [\n        {\n          // The enemy this entry references\n          \"Enemy\": {\n\n            // The Base ID for the enemy.\n            \"BaseId\": \"int\",\n\n            // The attachments (variants) for the enemy.\n            \"Attachments\": [\n              \"int\"\n            ]\n          },\n\n          // Total number of kills on the enemy by the player\n          \"TotalKills\": \"int\"\n        }\n      ],\n\n      // List of enemies killed, per enemy type. Enemies are available via the Metadata\n      // API.\n      \"EnemyKills\": [\n        {\n          // The enemy this entry references\n          \"Enemy\": {\n\n            // The Base ID for the enemy.\n            \"BaseId\": \"int\",\n\n            // The attachments (variants) for the enemy.\n            \"Attachments\": [\n              \"int\"\n            ]\n          },\n\n          // Total number of kills on the enemy by the player\n          \"TotalKills\": \"int\"\n        }\n      ],\n\n      // The set of weapons (weapons and vehicles included) used by the player.\n      \"WeaponStats\": [\n        {\n          \"WeaponId\": {\n\n              // The ID of the weapon. Weapons are available via the Metadata API.\n            \"StockId\": \"int\",\n\n              // Any attachments the weapon had.\n            \"Attachments\": [ \n              \"int\" \n            ]\n          },\n\n            // The number of shots fired for this weapon.\n          \"TotalShotsFired\": \"int\",\n\n            // The number of shots landed for this weapon.\n          \"TotalShotsLanded\": \"int\",\n\n            // The number of headshots for this weapon.\n          \"TotalHeadshots\": \"int\",\n\n            // The number of kills for this weapon.\n          \"TotalKills\": \"int\",\n\n            // The total damage dealt for this weapon.\n          \"TotalDamageDealt\": \"double\",\n\n            // The total possession time for this weapon. This is expressed as an ISO\n            // 8601 Duration.\n          \"TotalPossessionTime\": \"string\"\n        }\n      ],\n\n      // The set of Impulses (invisible Medals) earned by the player.\n      \"Impulses\": [\n        {\n          // The ID of the Impulse. Impulses are available via the Metadata API.\n          \"Id\": \"int\",\n\n          // The number of times the Impulse was earned.\n          \"Count\": \"int\"\n        }\n      ],\n\n      // Total number of Spartan kills by the player.\n      \"TotalSpartanKills\": \"int\"\n    },\n\n  ],\n\n  // A list of stats for each team who in the match. Note that in Free For All modes,\n  // there is an entry for every player.\n  \"TeamStats\": [\n    {\n      // The ID for the team.\n      \"TeamId\": \"int\",\n\n      // The team's score at the end of the match. The way the score is determined is\n      // based off the game base variant being played: \n      //   Breakout = number of rounds won,\n      //   CTF = number of flag captures,\n      //   Slayer = number of kills,\n      //   Strongholds = number of points,\n      //   Warzone = number of points.\n      // Score can be a negative value. Unfortunately, this value is returned as an\n      // unsigned 32-bit integer. This means that if the score is -1, the score reported\n      // is 4,294,967,295.\n      \"Score\": \"uint32\",\n\n      // The team's rank at the end of the match.\n      \"Rank\": \"int\",\n\n      // The set of round stats for the team.\n      \"RoundStats\": [\n        {\n          // The round number this entry pertains to.\n          \"RoundNumber\": \"int\",\n\n          // The end rank for the team this round.\n          \"Rank\": \"int\",\n\n          // The end score for the team this round.\n          // Score can be a negative value. Unfortunately, this value is returned as an\n          // unsigned 32-bit integer. This means that if the score is -1, the score\n          // reported is 4,294,967,295.\n          \"Score\": \"uint32\",\n\n        }\n      ]\n    }\n  ],\n\n  // Indicates if the match is completed or not. Some match details are available while\n  // the match is in-progress, but the behavior for incomplete matches in undefined.\n  \"IsMatchOver\": \"boolean\",\n\n  // The length of the match. This is expressed as an ISO 8601 Duration.\n  \"TotalDuration\": \"string\",\n\n  // The variant of the map for this match. Map variants are available via the Metadata\n  // API. More information is available in MapVariantResourceId.\n  \"MapVariantId\": \"guid\",\n\n  // The variant of the game for this match. Game variants are available via the Metadata\n  // API. More information is available in GameVariantResourceId.\n  \"GameVariantId\": \"guid\",\n\n  // The playlist ID of the match. Playlists are available via the Metadata API.\n  \"PlaylistId\": \"guid\",\n\n  // The ID of the base map for this match. Maps are available via the Metadata API.\n  \"MapId\": \"guid\",\n\n  // The ID of the game base variant for this match. Game base variants are available via\n  // the Metadata API.\n  \"GameBaseVariantId\": \"guid\",\n\n  // Whether this was a team-based game or not.\n  \"IsTeamGame\": \"boolean\",\n\n  // Unused for Custom matches. This will always be null.\n  \"SeasonId\": null,\n\n  // The variant of the game for this match. There are two sources of game variants:\n  // official game variants available via the Metadata API and user-generated game\n  // variants are available via the UGC API.\n  \"GameVariantResourceId\": {\n\n    // The resource type. 2 indicates game variant.\n    \"ResourceType\": 2,\n\n    // The ID of the game variant. Official game variants are available via the Metadata\n    // API.\n    \"ResourceId\": \"guid\",        \n\n    // The source of the game variant. Options are:\n    //   Unknown = 0,\n    //   User-generated = 1,\n    //   Official = 3.\n    \"OwnerType\": \"int\",\n\n    // The gamertag of the user that created the game variant if this is a user-generated\n    // game variant, or null otherwise. \n    \"Owner\": \"string\"\n  },\n\n  // The variant of the map for this match. There are two sources of map variants:\n  // official map variants available via the Metadata API and user-generated map variants\n  // available vai the UGC API.\n  \"MapVariantResourceId\": {\n\n    // The resource type. 3 indicates map variant.\n    \"ResourceType\": 3,\n\n    // The ID of the map variant. Official map variants are available via the Metadata\n    // API.\n    \"ResourceId\": \"guid\",\n\n    // The source of the map variant. Options are:\n    //   Unknown = 0,\n    //   User-generated = 1,\n    //   Official = 3.\n    \"OwnerType\": \"int\",\n\n    // The gamertag of the user that created the map variant if this is a user-generated\n    // map variant, or null otherwise. \n    \"Owner\": \"string\"\n  }\n}\n"
            }
          },
          "404": {
            "description": "The specified Match could not be found."
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "summary": "Halo 5 - Match Result - Custom"
      }
    },
    "/h5/customlocal/matches/{matchId}": {
      "get": {
        "description": "<p>Retrieves detailed statistics for a Match with the Custom Local Game Mode. Games with the Custom Local Game Mode are played on Local Servers. For games played on Xbox Live Servers, use the \"Halo 5 - Match Result - Custom\" Endpoint.</p>\n<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>December 12, 2018:</strong></p>\n    <ul>\n        <li>Updated the documentation for \"PlayerScore\".</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>December 22, 2017:</strong></p>\n    <ul>\n        <li>Added Endpoint.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Match-Result-Custom-Local",
        "parameters": [
          {
            "description": "An ID that uniquely identifies a Match. Match IDs can be retrieved from the \"Halo 5 - Player Match History\" Endpoint.",
            "in": "path",
            "name": "matchId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the Match Result.",
            "examples": {
              "application/json": "{\n  // A list of stats for each player who was present in the match.\n  \"PlayerStats\": [\n    {\n      // The number of times the player killed each opponent. If the player did not kill\n      // an opponent, there will be no entry for that opponent.\n      \"KilledOpponentDetails\": [\n        {\n          // The gamertag of the opponent that was killed.\n          \"GamerTag\": \"string\",\n\n          // The number of times that opponent was killed.\n          \"TotalKills\": \"int\"\n        }\n      ],\n\n      // The number of times the player was killed by each opponent. If the player was\n      // not killed by an opponent, there will be no entry for that opponent.\n      \"KilledByOpponentDetails\": [\n        {\n          // The gamertag of the opponent that killed the player.\n          \"GamerTag\": \"string\",\n\n          // The number of times the opponent killed the player.\n          \"TotalKills\": \"int\"\n        }\n      ],\n\n      // The game base variant specific stats for this match. Flexible stats are\n      // available via the Metadata API.\n      \"FlexibleStats\": {\n\n        // The set of flexible stats that are derived from medal events.\n        \"MedalStatCounts\": [\n          {\n            // The ID of the flexible stat.\n            \"Id\": \"guid\",\n\n            // The number of times this flexible stat was earned.\n            \"Count\": \"int\"\n          }\n        ],\n\n        // The set of flexible stats that are derived from impulse events.\n        \"ImpulseStatCounts\": [\n          {\n            // The ID of the flexible stat.\n            \"Id\": \"guid\",\n\n            // The number of times this flexible stat was earned.\n            \"Count\": \"int\"\n          }\n        ],\n\n        // The set of flexible stats that are derived from medal time lapses.\n        \"MedalTimelapses\": [\n          {\n            // The ID of the flexible stat.\n            \"Id\": \"guid\",\n\n            // The amount of time the flexible stat was earned for. This is expressed as\n            // an ISO 8601 Duration.\n            \"Timelapse\": \"string\"\n          }\n        ],        \n\n        // The set of flexible stats that are derived from impulse time lapses.\n        \"ImpulseTimelapses\": [\n          {\n            // The ID of the flexible stat.\n            \"Id\": \"guid\",\n\n            // The amount of time the flexible stat was earned for. This is expressed as\n            // an ISO 8601 Duration.\n            \"Timelapse\": \"string\"\n          }\n        ]\n      },\n\n      // Internal use only.\n      \"PresentInMatch\": \"boolean\",\n\n      \"Player\": {\n\n         // The player's gamertag.\n        \"Gamertag\": \"string\",\n\n        // Internal use only. This will always be null.\n        \"Xuid\": null\n      },\n\n      // The ID of the team that the player was on when the match ended. \n      \"TeamId\": \"int\",\n\n      // The player's team-agnostic ranking.\n      \"Rank\": \"int\",\n\n      // Indicates whether the player was present in the match when it ended.\n      \"DNF\": \"boolean\",\n\n      // The player's average lifetime.\n      \"AvgLifeTimeOfPlayer\": \"string\",\n\n      // Internal use only. This will always be null.\n      \"PreMatchRatings\": null,\n\n      // Internal use only. This will always be null.\n      \"PostMatchRatings\": null,\n\n      // The Player's Score. This is not used by all Game Variants and may contain null\n      // or invalid data.\n      \"PlayerScore\": \"int\",\n\n      // Total number of kills done by the player. This includes melee kills, shoulder\n      // bash kills and Spartan charge kills, all power weapons, AI kills and vehicle\n      // destructions. \n      \"TotalKills\": \"int\",\n\n      // Total number of headshots done by the player.\n      \"TotalHeadshots\": \"int\",\n\n      // Total weapon damage dealt by the player.\n      \"TotalWeaponDamage\": \"double\",\n\n      // Total number of shots fired by the player.\n      \"TotalShotsFired\": \"int\",\n\n      // Total number of shots landed by the player.\n      \"TotalShotsLanded\": \"int\",\n\n      // The weapon the player used to get the most kills this match.\n      \"WeaponWithMostKills\": {\n\n        \"WeaponId\": {\n\n          // The ID of the weapon. Weapons are available via the Metadata API.\n          \"StockId\": \"int\",\n\n          // Any attachments the weapon had.\n          \"Attachments\": [ \"int\" ]\n        },\n\n        // The number of shots fired for this weapon.\n        \"TotalShotsFired\": \"int\",\n\n        // The number of shots landed for this weapon.\n        \"TotalShotsLanded\": \"int\",\n\n        // The number of headshots for this weapon.\n        \"TotalHeadshots\": \"int\",\n\n        // The number of kills for this weapon.\n        \"TotalKills\": \"int\",\n\n        // The total damage dealt for this weapon.\n        \"TotalDamageDealt\": \"double\",\n\n        // The total possession time for this weapon. This is expressed as an ISO 8601\n        // Duration.\n        \"TotalPossessionTime\": \"string\"\n      },\n\n      // Total number of melee kills by the player.\n      \"TotalMeleeKills\": \"int\",\n\n      // Total melee damage dealt by the player.\n      \"TotalMeleeDamage\": \"double\",\n\n      // Total number of assassinations by the player.\n      \"TotalAssassinations\": \"int\",\n\n      // Total number of ground pound kills by the player.\n      \"TotalGroundPoundKills\": \"int\",\n\n      // Total ground pound damage dealt by the player.\n      \"TotalGroundPoundDamage\": \"double\",\n\n      // Total number of shoulder bash kills by the player.\n      \"TotalShoulderBashKills\": \"int\",\n\n      // Total shoulder bash damage dealt by the player.\n      \"TotalShoulderBashDamage\": \"double\",\n\n      // Total grenade damage dealt by the player.\n      \"TotalGrenadeDamage\": \"double\",\n\n      // Total number of power weapon kills by the player.\n      \"TotalPowerWeaponKills\": \"int\",\n\n      // Total power weapon damage dealt by the player.\n      \"TotalPowerWeaponDamage\": \"double\",\n\n      // Total number of power weapon grabs by the player.\n      \"TotalPowerWeaponGrabs\": \"int\",\n\n      // Total power weapon possession by the player. This is expressed as an ISO 8601\n      // Duration.\n      \"TotalPowerWeaponPossessionTime\": \"string\",\n\n      // Total number of deaths by the player.\n      \"TotalDeaths\": \"int\",\n\n      // Total number of assists by the player.\n      \"TotalAssists\": \"int\",\n\n      // Not used.\n      \"TotalGamesCompleted\": \"int\",\n\n      // Not used.\n      \"TotalGamesWon\": \"int\",\n\n      // Not used.\n      \"TotalGamesLost\": \"int\",\n\n      // Not used.\n      \"TotalGamesTied\": \"int\",\n\n      // Total timed played in this match by the player.\n      \"TotalTimePlayed\": \"string\",\n\n      // Total number of grenade kills by the player.\n      \"TotalGrenadeKills\": \"int\",\n\n      // The set of Medals earned by the player.\n      \"MedalAwards\": [\n        {\n          // The ID of the Medal. Medals are available via the Metadata API.\n          \"MedalId\": \"int\",\n\n          // The number of times the Medal was earned.\n          \"Count\": \"int\"\n        }\n      ], \n\n      // List of enemy vehicles destroyed. Vehicles are available via the Metadata API.\n      // Note: this stat measures enemy vehicles, not any vehicle destruction.\n      \"DestroyedEnemyVehicles\": [\n        {\n          // The enemy this entry references\n          \"Enemy\": {\n\n            // The Base ID for the enemy.\n            \"BaseId\": \"int\",\n\n            // The attachments (variants) for the enemy.\n            \"Attachments\": [\n              \"int\"\n            ]\n          },\n\n          // Total number of kills on the enemy by the player\n          \"TotalKills\": \"int\"\n        }\n      ],\n\n      // List of enemies killed, per enemy type. Enemies are available via the Metadata\n      // API.\n      \"EnemyKills\": [\n        {\n          // The enemy this entry references\n          \"Enemy\": {\n\n            // The Base ID for the enemy.\n            \"BaseId\": \"int\",\n\n            // The attachments (variants) for the enemy.\n            \"Attachments\": [\n              \"int\"\n            ]\n          },\n\n          // Total number of kills on the enemy by the player\n          \"TotalKills\": \"int\"\n        }\n      ],\n\n      // The set of weapons (weapons and vehicles included) used by the player.\n      \"WeaponStats\": [\n        {\n          \"WeaponId\": {\n\n              // The ID of the weapon. Weapons are available via the Metadata API.\n            \"StockId\": \"int\",\n\n              // Any attachments the weapon had.\n            \"Attachments\": [ \n              \"int\" \n            ]\n          },\n\n            // The number of shots fired for this weapon.\n          \"TotalShotsFired\": \"int\",\n\n            // The number of shots landed for this weapon.\n          \"TotalShotsLanded\": \"int\",\n\n            // The number of headshots for this weapon.\n          \"TotalHeadshots\": \"int\",\n\n            // The number of kills for this weapon.\n          \"TotalKills\": \"int\",\n\n            // The total damage dealt for this weapon.\n          \"TotalDamageDealt\": \"double\",\n\n            // The total possession time for this weapon. This is expressed as an ISO\n            // 8601 Duration.\n          \"TotalPossessionTime\": \"string\"\n        }\n      ],\n\n      // The set of Impulses (invisible Medals) earned by the player.\n      \"Impulses\": [\n        {\n          // The ID of the Impulse. Impulses are available via the Metadata API.\n          \"Id\": \"int\",\n\n          // The number of times the Impulse was earned.\n          \"Count\": \"int\"\n        }\n      ],\n\n      // Total number of Spartan kills by the player.\n      \"TotalSpartanKills\": \"int\"\n    },\n\n  ],\n\n  // A list of stats for each team who in the match. Note that in Free For All modes,\n  // there is an entry for every player.\n  \"TeamStats\": [\n    {\n      // The ID for the team.\n      \"TeamId\": \"int\",\n\n      // The team's score at the end of the match. The way the score is determined is\n      // based off the game base variant being played: \n      //   Breakout = number of rounds won,\n      //   CTF = number of flag captures,\n      //   Slayer = number of kills,\n      //   Strongholds = number of points,\n      //   Warzone = number of points.\n      // Score can be a negative value. Unfortunately, this value is returned as an\n      // unsigned 32-bit integer. This means that if the score is -1, the score reported\n      // is 4,294,967,295.\n      \"Score\": \"uint32\",\n\n      // The team's rank at the end of the match.\n      \"Rank\": \"int\",\n\n      // The set of round stats for the team.\n      \"RoundStats\": [\n        {\n          // The round number this entry pertains to.\n          \"RoundNumber\": \"int\",\n\n          // The end rank for the team this round.\n          \"Rank\": \"int\",\n\n          // The end score for the team this round.\n          // Score can be a negative value. Unfortunately, this value is returned as an\n          // unsigned 32-bit integer. This means that if the score is -1, the score\n          // reported is 4,294,967,295.\n          \"Score\": \"uint32\",\n\n        }\n      ]\n    }\n  ],\n\n  // Indicates if the match is completed or not. Some match details are available while\n  // the match is in-progress, but the behavior for incomplete matches in undefined.\n  \"IsMatchOver\": \"boolean\",\n\n  // The length of the match. This is expressed as an ISO 8601 Duration.\n  \"TotalDuration\": \"string\",\n\n  // The variant of the map for this match. Map variants are available via the Metadata\n  // API. More information is available in MapVariantResourceId.\n  \"MapVariantId\": \"guid\",\n\n  // The variant of the game for this match. Game variants are available via the Metadata\n  // API. More information is available in GameVariantResourceId.\n  \"GameVariantId\": \"guid\",\n\n  // The playlist ID of the match. Playlists are available via the Metadata API.\n  \"PlaylistId\": \"guid\",\n\n  // The ID of the base map for this match. Maps are available via the Metadata API.\n  \"MapId\": \"guid\",\n\n  // The ID of the game base variant for this match. Game base variants are available via\n  // the Metadata API.\n  \"GameBaseVariantId\": \"guid\",\n\n  // Whether this was a team-based game or not.\n  \"IsTeamGame\": \"boolean\",\n\n  // Unused for Custom matches. This will always be null.\n  \"SeasonId\": null,\n\n  // The variant of the game for this match. There are two sources of game variants:\n  // official game variants available via the Metadata API and user-generated game\n  // variants are available via the UGC API.\n  \"GameVariantResourceId\": {\n\n    // The resource type. 2 indicates game variant.\n    \"ResourceType\": 2,\n\n    // The ID of the game variant. Official game variants are available via the Metadata\n    // API.\n    \"ResourceId\": \"guid\",        \n\n    // The source of the game variant. Options are:\n    //   Unknown = 0,\n    //   User-generated = 1,\n    //   Official = 3.\n    \"OwnerType\": \"int\",\n\n    // The gamertag of the user that created the game variant if this is a user-generated\n    // game variant, or null otherwise. \n    \"Owner\": \"string\"\n  },\n\n  // The variant of the map for this match. There are two sources of map variants:\n  // official map variants available via the Metadata API and user-generated map variants\n  // available vai the UGC API.\n  \"MapVariantResourceId\": {\n\n    // The resource type. 3 indicates map variant.\n    \"ResourceType\": 3,\n\n    // The ID of the map variant. Official map variants are available via the Metadata\n    // API.\n    \"ResourceId\": \"guid\",\n\n    // The source of the map variant. Options are:\n    //   Unknown = 0,\n    //   User-generated = 1,\n    //   Official = 3.\n    \"OwnerType\": \"int\",\n\n    // The gamertag of the user that created the map variant if this is a user-generated\n    // map variant, or null otherwise. \n    \"Owner\": \"string\"\n  }\n}\n"
            }
          },
          "404": {
            "description": "The specified Match could not be found."
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "summary": "Halo 5 - Match Result - Custom Local"
      }
    },
    "/h5/matches/{matchId}/events": {
      "get": {
        "description": "<p>Retrieves a set of Events related to the Match specified. Events are only available once the Match has completed.</p>\n<p>The set of Events may grow over time as data becomes available.</p>\n<p>This Endpoint does not have the accuracy guarantees of other Endpoints have, so please use with caution. This endpoint may not return Matches before December 1, 2015.</p>\n<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Events for Match\" to \"Halo 5 - Match Events\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>May 20, 2016:</strong></p>\n    <ul>\n        <li>The Endpoint now correctly reports the \"Content-Type\" Response Header as \"application/json\".</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>May 16, 2016:</strong></p>\n    <ul>\n        <li>Documented HTTP 503 Response Code.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>April 20, 2016:</strong></p>\n    <ul>\n        <li>Added new types of events to the Endpoint: Impulses, Medals, Player Spawns, Round Stats, Round Ends, Weapon Drops, Weapon Pickups, and Weapon Pickup Pads.</li>\n        <li>Fixed an issue that caused the API to consistently return HTTP 500's for matches where a player left and rejoined the match.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Match-Events",
        "parameters": [
          {
            "description": "An ID that uniquely identifies a Match. Match IDs can be retrieved from the \"Halo 5 - Player Match History\" Endpoint.",
            "in": "path",
            "name": "matchId",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain the Match Events.",
            "examples": {
              "application/json": "{\n  // Events that describe a match from start to completion. Events are reported in\n  // chronological order.\n  // Events can come in a variety of types indicated by the \"EventName\" field. Each event\n  // is documented in detail below the documentation for this return contract.\n  // Additional event types may be added in the future.\n  // When deserializing events, it is suggested to use a union of all of the fields\n  // across all of the different event types, shown below.\n  \"GameEvents\": [\n    {\n      \"Assistants\": [\n        {\n          \"Gamertag\": \"string\",\n\n          \"Xuid\": null\n        }\n      ],\n\n      \"DeathDisposition\": \"int\",\n\n      \"ImpulseId\": \"int\",\n\n      \"IsAssassination\": \"boolean\",\n\n      \"IsGroundPound\": \"boolean\",\n\n      \"IsHeadshot\": \"boolean\",\n\n      \"IsMelee\": \"boolean\",\n\n      \"IsShoulderBash\": \"boolean\",\n\n      \"IsWeapon\": \"boolean\",\n\n      \"Killer\": {\n\n        \"Gamertag\": \"string\",\n\n        \"Xuid\": null\n      },\n\n      \"KillerAgent\": \"int\",\n\n      \"KillerWeaponAttachmentIds\": [ \"int\" ],\n\n      \"KillerWeaponStockId\": \"int\",\n\n      \"KillerWorldLocation\": {\n\n        \"x\": \"double\",\n\n        \"y\": \"double\",\n\n        \"z\": \"double\"\n      },\n\n      \"MedalId\": \"int\",\n\n      \"Player\": {\n\n        \"Gamertag\": \"string\",\n\n        \"Xuid\": null\n      },\n\n      \"RoundIndex\": \"int\",\n\n      \"ShotsFired\": \"int\",\n\n      \"ShotsLanded\": \"int\",\n\n      \"TimeWeaponActiveAsPrimary\": \"string\",\n\n      \"Victim\": {\n\n        \"Gamertag\": \"string\",\n\n        \"Xuid\": null\n      },\n\n      \"VictimAgent\": \"int\",\n\n      \"VictimAttachmentIds\": [ \"int\" ],\n\n      \"VictimStockId\": \"int\",\n\n      \"VictimWorldLocation\": {\n\n        \"x\": \"double\",\n\n        \"y\": \"double\",\n\n        \"z\": \"double\"\n      },\n\n      \"WeaponAttachmentIds\": [ \"int\" ],\n\n      \"WeaponStockId\": \"int\",\n\n      // Descriptor to determine what fields will be filled in for the event. This list\n      // will grow over time as more events are exposed. Can be one of the following:\n      //   \"Death\" - An event that is created when a death occurs in the match.\n      //   \"Impulse\" - An event that is created when an impulse (invisible medal) is\n      // triggered in the match.\n      //   \"Medal\" - An event that is created when a medal is awarded in the match.\n      //   \"PlayerSpawn\" - An event that is created when a player spawns in the match.\n      //   \"RoundStart\" - An event that is created when a round starts. In regular\n      // matches, there is typically one round. However, some modes have multiple rounds..\n      //   \"RoundEnd\" - An event that is created when a round ends. In regular matches,\n      // there is typically one round. However, some modes have multiple rounds..\n      //   \"WeaponDrop\" - An event that is created when a player drops a weapon for a new\n      // weapon. This occurs when a player picks up a new weapon and drops their current\n      // one, when a player dies and drops their weapon(s), or at the end of the match\n      // for each player.\n      //   \"WeaponPickup\" - An event that is created when a player picks up a weapon.\n      // This can be when a player spawns, or when a player picks up a new weapon.\n      //   \"WeaponPickupPad\" - An event that is created when a player picks up a weapon\n      // off a pad. This will not be triggered if the weapon was picked up off the ground\n      // after another player who had picked it off a pad.\n      \"EventName\": \"string\",\n\n      // Time passed since the start of the match when the event occurred. This is\n      // expressed as an ISO 8601 Duration.\n      \"TimeSinceStart\": \"string\"\n    }\n  ],\n\n  // As this is an experimental API it has no guarantees around its accuracy. However we\n  // do try our best to ensure all events are valid and accounted for. If they do not\n  // match up to our expectations this field will return as false indicating this may not\n  // be the full set of events that occurred in game.\n  \"IsCompleteSetOfEvents\": \"boolean\",\n\n  // Internal use only. A set of related resource links.\n  \"Links\": null\n}\n\n// Death Event\n{\n  // The gamertags of players who contributed to a kill.\n  \"Assistants\": [\n  {\n    // The player's gamertag.\n    \"Gamertag\": \"string\",\n\n    // Internal use only. This will always be null.\n    \"Xuid\": null\n  }],\n\n  // The disposition of the death. Can be one of the following:\n  //   Friendly = 0,\n  //   Hostile = 1,\n  //   Neutral = 2\n  \"DeathDisposition\": \"int\",\n\n  // Describes if the death was committed by the killer from behind (Assassination or\n  // melee to back).\n  \"IsAssassination\": \"boolean\",\n\n  // Describes if the kill was committed by the killer with a ground pound.\n  \"IsGroundPound\": \"boolean\",\n\n  // Describes if the kill was committed by the killer with a head shot.\n  \"IsHeadshot\": \"boolean\",\n\n  // Describes if the kill was committed by the killer using melee.\n  \"IsMelee\": \"boolean\",\n\n  // Describes if the kill was committed by the killer with a shoulder bash.\n  \"IsShoulderBash\": \"boolean\",\n\n  // Describes if the kill was committed by the killer with a weapon.\n  \"IsWeapon\": \"boolean\",\n\n  // Describes the killer's information. Can be null if killer is not a player in the\n  // game.\n  \"Killer\": {\n\n    // The player's gamertag.\n    \"Gamertag\": \"string\",\n\n    // Internal use only. This will always be null.\n    \"Xuid\": null\n  },\n\n  // The type of killer that caused the death. Can be one of the following:\n  //   None = 0,\n  //   Player = 1,\n  //   AI = 2\n  \"KillerAgent\": \"int\",\n\n  // The IDs of any attachments that were associated with the weapon that was used to\n  // kill the victim.\n  \"KillerWeaponAttachmentIds\": [\"int\"],\n\n  // The ID of the weapon that was used to kill the victim. Depending on the type of the\n  // kill, this could be the ID of an Enemy, Vehicle, or Weapon, all of which are\n  // available via the Metadata APIs. Note that most vehicles are duplicated between both\n  // the Vehicle and Weapon Metadata APIs. If this was a standard kill with an actual\n  // weapon, then this will be the ID of the weapon that killed the victim. If this was a\n  // kill with a vehicle, then this will the ID of the vehicle that killed the victim. If\n  // this was a melee kill, then this will be the ID of the type of the object that\n  // killed the player (which will be either Spartan or the type of the type of the AI\n  // enemy that killed the player). Note that if the victim was killed by a weapon held\n  // by an AI enemy, the type of the AI enemy is unknown.\n  \"KillerWeaponStockId\": \"int\",\n\n  // Object describing the position of the killer on the map when they made the kill.\n  \"KillerWorldLocation\": {\n\n    \"x\": \"double\",\n\n    \"y\": \"double\",\n\n    \"z\": \"double\"\n  },\n\n  // Describes the victim's information. Can be null if victim is not a player in the\n  // game.\n  \"Victim\": {\n\n    // The player's gamertag.\n    \"Gamertag\": \"string\",\n\n    // Internal use only. This will always be null.\n    \"Xuid\": null\n  },\n\n  // The type of victim who was killed. Can be one of the following:\n  //   None = 0,\n  //   Player = 1,\n  //   AI = 2\n  \"VictimAgent\": \"int\",\n\n  // Any variants of the AI enemy, empty otherwise.\n  \"VictimAttachmentIds\": [\"int\"],\n\n  // The ID of the AI Enemy killed, zero otherwise. Enemy IDs are available via the\n  // Metadata API.\n  \"VictimStockId\": \"int\",\n\n  // Object describing the position of the victim on the map when they were killed.\n  \"VictimWorldLocation\": {\n\n    \"x\": \"double\",\n\n    \"y\": \"double\",\n\n    \"z\": \"double\"\n  },\n\n  // Descriptor to determine what fields will be filled in for the event.\n  \"EventName\": \"string\",\n\n  // Time passed since the start of the match when the event occurred. This is expressed\n  // as an ISO 8601 Duration.\n  \"TimeSinceStart\": \"string\"\n}\n\n// Impulse Event\n{\n  // The ID that uniquely identifies this impulse. Impulses are available via the\n  // Metadata API.\n  \"ImpulseId\" : \"int\",\n\n  // The player who received the impulse.\n  \"Player\": {\n\n    // The player's gamertag.\n    \"Gamertag\": \"string\",\n\n    // Internal use only. This will always be null.\n    \"Xuid\": null\n  }\n  // Descriptor to determine what fields will be filled in for the event.\n  \"EventName\": \"Impulse\",\n\n  // Time passed since the start of the match when the event occurred. This is expressed\n  // as an ISO 8601 Duration.\n  \"TimeSinceStart\": \"string\"\n}\n\n// Medal Event\n{\n  // The ID that uniquely identifies this medal. Medals are available via the Metadata\n  // API.\n  \"MedalId\" : \"int\",\n\n  // The player who received the medal.\n  \"Player\": {\n\n    // The player's gamertag.\n    \"Gamertag\": \"string\",\n\n    // Internal use only. This will always be null.\n    \"Xuid\": null\n  },\n\n  // Descriptor to determine what fields will be filled in for the event.\n  \"EventName\": \"Medal\",\n\n  // Time passed since the start of the match when the event occurred. This is expressed\n  // as an ISO 8601 Duration.\n  \"TimeSinceStart\": \"string\"\n}\n\n// PlayerSpawn Event\n{\n  // The player who spawned.\n  \"Player\": {\n\n    // The player's gamertag.\n    \"Gamertag\": \"string\",\n\n    // Internal use only. This will always be null.\n    \"Xuid\": null\n  },\n\n  // Descriptor to determine what fields will be filled in for the event.\n  \"EventName\": \"PlayerSpawn\",\n\n  // Time passed since the start of the match when the event occurred. This is expressed\n  // as an ISO 8601 Duration.\n  \"TimeSinceStart\": \"string\"\n}\n\n// RoundStart Event\n{\n  // The index of the round that started.\n  \"RoundIndex\" : \"int\",\n\n  // Descriptor to determine what fields will be filled in for the event.\n  \"EventName\": \"RoundStart\",\n\n  // Time passed since the start of the match when the event occurred. This is expressed\n  // as an ISO 8601 Duration.\n  \"TimeSinceStart\": \"string\"\n}\n\n// RoundEnd Event\n{\n  // The index of the round that ended.\n  \"RoundIndex\" : \"int\",\n\n  // Descriptor to determine what fields will be filled in for the event.\n  \"EventName\": \"RoundEnd\",\n\n  // Time passed since the start of the match when the event occurred. This is expressed\n  // as an ISO 8601 Duration.\n  \"TimeSinceStart\": \"string\"\n}\n\n// WeaponDrop Event\n{\n  // The player who dropped the weapon.\n  \"Player\": {\n\n    // The player's gamertag.\n    \"Gamertag\": \"string\",\n\n    // Internal use only. This will always be null.\n    \"Xuid\": null\n  },\n\n  // The number of shots fired with the weapon by the player.\n  \"ShotsFired\" : \"int\",\n\n  // The number of shots that hit the target with the weapon by the player.\n  \"ShotsLanded\" : \"int\",\n\n  // The amount of time the weapon was in the active slot of the player. This is\n  // expressed as an ISO 8601 Duration.\n  \"TimeWeaponActiveAsPrimary\": \"string\",\n\n  // The IDs of any attachments that were associated with the weapon that was dropped.\n  \"WeaponAttachmentIds\": [\"int\"],\n\n  // The ID of the weapon that was dropped. Weapons are available via the Metadata API.\n  \"WeaponStockId\": \"int\",\n\n  // Descriptor to determine what fields will be filled in for the event.\n  \"EventName\": \"WeaponDrop\",\n\n  // Time passed since the start of the match when the event occurred. This is expressed\n  // as an ISO 8601 Duration.\n  \"TimeSinceStart\": \"string\"\n}\n\n// WeaponPickup Event\n{\n  // The player who picked up the weapon.\n  \"Player\": {\n\n    // The player's gamertag.\n    \"Gamertag\": \"string\",\n\n    // Internal use only. This will always be null.\n    \"Xuid\": null\n  },\n\n  // The IDs of any attachments that were associated with the weapon that was picked up.\n  \"WeaponAttachmentIds\": [\"int\"],\n\n  // The ID of the weapon that was picked up. Weapons are available via the Metadata API.\n  \"WeaponStockId\": \"int\",\n\n  // Descriptor to determine what fields will be filled in for the event.\n  \"EventName\": \"WeaponPickup\",\n\n  // Time passed since the start of the match when the event occurred. This is expressed\n  // as an ISO 8601 Duration.\n  \"TimeSinceStart\": \"string\"\n}\n\n// WeaponPickupPad Event\n{\n  // The player who picked up the weapon.\n  \"Player\": {\n\n    // The player's gamertag.\n    \"Gamertag\": \"string\",\n\n    // Internal use only. This will always be null.\n    \"Xuid\": null\n  },\n\n  // The IDs of any attachments that were associated with the weapon that was picked up.\n  \"WeaponAttachmentIds\": [\"int\"],\n\n  // The ID of the weapon that was picked up. Weapons are available via the Metadata API.\n  \"WeaponStockId\": \"int\",\n\n  // Descriptor to determine what fields will be filled in for the event.\n  \"EventName\": \"WeaponPickupPad\",\n\n  // Time passed since the start of the match when the event occurred. This is expressed\n  // as an ISO 8601 Duration.\n  \"TimeSinceStart\": \"string\"\n}\n"
            }
          },
          "404": {
            "description": "The specified Match could not be found."
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        },
        "summary": "Halo 5 - Match Events"
      }
    },
    "/h5/player-leaderboards/csr/{seasonId}/{playlistId}": {
      "get": {
        "description": "<p>Retrieves the Leaderboard for Player CSRs. The Leaderboard consists of the top Players with a CSR of 1800 or above for a given Playlist in a Season.</p>\n<br />\n<h4>Changelog</h4>\n<div class=\"panel-body\">\n    <p><strong>March 6, 2018:</strong></p>\n    <ul>\n        <li>Fixed documentation typos for the names of the \"Player\" and \"Gamertag\" properties.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>July 31, 2017:</strong></p>\n    <ul>\n        <li>Clarified documentation for which players are included in the leaderboard.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>February 21, 2017:</strong></p>\n    <ul>\n        <li>Renamed Endpoint from \"Player Leaderboard\" to \"Halo 5 - Leaderboard Player CSR\".</li>\n        <li>Removed \"{title}\" Request Parameter.</li>\n    </ul>\n</div>\n<div class=\"panel-body\">\n    <p><strong>April 20, 2016:</strong></p>\n    <ul>\n        <li>Added Endpoint.</li>\n    </ul>\n</div>\n",
        "operationId": "Halo-5-Leaderboard-Player-CSR",
        "parameters": [
          {
            "description": "The ID for the Season.",
            "in": "path",
            "name": "seasonId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID for the Playlist.",
            "in": "path",
            "name": "playlistId",
            "required": true,
            "type": "string"
          },
          {
[...]
