swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: AutomationManagement
  version: 2015-10-31
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/credential.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-credential
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/credentials":
    get:
      description: Retrieve a list of credentials.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/credentialoperations
      operationId: Credential_ListByAutomationAccount
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/CredentialListResult"
      tags:
        - Credential
      x-ms-examples:
        "List credentials by automation account, first 100":
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount20
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: https://management.azure.com:443/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials?api-version=2015-10-31&$skip=100
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential
                    name: myCredential
                    properties:
                      creationTime: 2017-03-26T21:43:38.91+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:45.393+00:00
                      userName: mylingaiah
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential0
                    name: myCredential0
                    properties:
                      creationTime: 2017-03-26T21:43:51.77+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:51.77+00:00
                      userName: myCredential0
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential1
                    name: myCredential1
                    properties:
                      creationTime: 2017-03-26T21:43:52.113+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:52.113+00:00
                      userName: myCredential1
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential10
                    name: myCredential10
                    properties:
                      creationTime: 2017-03-26T21:43:55.3+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:55.3+00:00
                      userName: myCredential10
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential100
                    name: myCredential100
                    properties:
                      creationTime: 2017-03-26T21:44:25.41+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:25.41+00:00
                      userName: myCredential100
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential101
                    name: myCredential101
                    properties:
                      creationTime: 2017-03-26T21:44:25.69+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:25.69+00:00
                      userName: myCredential101
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential102
                    name: myCredential102
                    properties:
                      creationTime: 2017-03-26T21:44:26.003+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:26.003+00:00
                      userName: myCredential102
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential103
                    name: myCredential103
                    properties:
                      creationTime: 2017-03-26T21:44:26.337+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:26.337+00:00
                      userName: myCredential103
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential104
                    name: myCredential104
                    properties:
                      creationTime: 2017-03-26T21:44:26.677+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:26.677+00:00
                      userName: myCredential104
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential105
                    name: myCredential105
                    properties:
                      creationTime: 2017-03-26T21:44:27.02+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:27.02+00:00
                      userName: myCredential105
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential106
                    name: myCredential106
                    properties:
                      creationTime: 2017-03-26T21:44:27.35+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:27.35+00:00
                      userName: myCredential106
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential107
                    name: myCredential107
                    properties:
                      creationTime: 2017-03-26T21:44:27.66+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:27.66+00:00
                      userName: myCredential107
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential108
                    name: myCredential108
                    properties:
                      creationTime: 2017-03-26T21:44:27.99+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:27.99+00:00
                      userName: myCredential108
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential109
                    name: myCredential109
                    properties:
                      creationTime: 2017-03-26T21:44:28.3+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:28.3+00:00
                      userName: myCredential109
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential11
                    name: myCredential11
                    properties:
                      creationTime: 2017-03-26T21:43:55.677+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:55.677+00:00
                      userName: myCredential11
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential110
                    name: myCredential110
                    properties:
                      creationTime: 2017-03-26T21:44:28.63+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:28.63+00:00
                      userName: myCredential110
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential111
                    name: myCredential111
                    properties:
                      creationTime: 2017-03-26T21:44:28.943+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:28.943+00:00
                      userName: myCredential111
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential112
                    name: myCredential112
                    properties:
                      creationTime: 2017-03-26T21:44:29.253+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:29.253+00:00
                      userName: myCredential112
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential113
                    name: myCredential113
                    properties:
                      creationTime: 2017-03-26T21:44:29.567+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:29.567+00:00
                      userName: myCredential113
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential114
                    name: myCredential114
                    properties:
                      creationTime: 2017-03-26T21:44:29.88+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:29.88+00:00
                      userName: myCredential114
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential115
                    name: myCredential115
                    properties:
                      creationTime: 2017-03-26T21:44:30.207+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:30.207+00:00
                      userName: myCredential115
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential116
                    name: myCredential116
                    properties:
                      creationTime: 2017-03-26T21:44:30.52+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:30.52+00:00
                      userName: myCredential116
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential117
                    name: myCredential117
                    properties:
                      creationTime: 2017-03-26T21:44:30.833+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:30.833+00:00
                      userName: myCredential117
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential118
                    name: myCredential118
                    properties:
                      creationTime: 2017-03-26T21:44:31.24+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:31.24+00:00
                      userName: myCredential118
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential119
                    name: myCredential119
                    properties:
                      creationTime: 2017-03-26T21:44:31.6+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:31.6+00:00
                      userName: myCredential119
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential12
                    name: myCredential12
                    properties:
                      creationTime: 2017-03-26T21:43:56.02+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:56.02+00:00
                      userName: myCredential12
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential120
                    name: myCredential120
                    properties:
                      creationTime: 2017-03-26T21:44:31.943+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:31.943+00:00
                      userName: myCredential120
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential121
                    name: myCredential121
                    properties:
                      creationTime: 2017-03-26T21:44:32.333+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:32.333+00:00
                      userName: myCredential121
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential122
                    name: myCredential122
                    properties:
                      creationTime: 2017-03-26T21:44:32.66+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:32.66+00:00
                      userName: myCredential122
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential123
                    name: myCredential123
                    properties:
                      creationTime: 2017-03-26T21:44:32.957+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:32.957+00:00
                      userName: myCredential123
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential124
                    name: myCredential124
                    properties:
                      creationTime: 2017-03-26T21:44:33.27+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:33.27+00:00
                      userName: myCredential124
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential125
                    name: myCredential125
                    properties:
                      creationTime: 2017-03-26T21:44:33.6+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:33.6+00:00
                      userName: myCredential125
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential126
                    name: myCredential126
                    properties:
                      creationTime: 2017-03-26T21:44:33.957+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:33.957+00:00
                      userName: myCredential126
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential127
                    name: myCredential127
                    properties:
                      creationTime: 2017-03-26T21:44:34.287+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:34.287+00:00
                      userName: myCredential127
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential128
                    name: myCredential128
                    properties:
                      creationTime: 2017-03-26T21:44:34.613+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:34.613+00:00
                      userName: myCredential128
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential129
                    name: myCredential129
                    properties:
                      creationTime: 2017-03-26T21:44:34.973+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:34.973+00:00
                      userName: myCredential129
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential13
                    name: myCredential13
                    properties:
                      creationTime: 2017-03-26T21:43:56.393+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:56.393+00:00
                      userName: myCredential13
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential130
                    name: myCredential130
                    properties:
                      creationTime: 2017-03-26T21:44:35.363+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:35.363+00:00
                      userName: myCredential130
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential131
                    name: myCredential131
                    properties:
                      creationTime: 2017-03-26T21:44:35.707+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:35.707+00:00
                      userName: myCredential131
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential132
                    name: myCredential132
                    properties:
                      creationTime: 2017-03-26T21:44:36.037+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:36.037+00:00
                      userName: myCredential132
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential133
                    name: myCredential133
                    properties:
                      creationTime: 2017-03-26T21:44:36.38+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:36.38+00:00
                      userName: myCredential133
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential134
                    name: myCredential134
                    properties:
                      creationTime: 2017-03-26T21:44:36.74+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:36.74+00:00
                      userName: myCredential134
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential135
                    name: myCredential135
                    properties:
                      creationTime: 2017-03-26T21:44:37.05+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:37.05+00:00
                      userName: myCredential135
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential136
                    name: myCredential136
                    properties:
                      creationTime: 2017-03-26T21:44:37.41+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:37.41+00:00
                      userName: myCredential136
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential137
                    name: myCredential137
                    properties:
                      creationTime: 2017-03-26T21:44:37.723+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:37.723+00:00
                      userName: myCredential137
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential138
                    name: myCredential138
                    properties:
                      creationTime: 2017-03-26T21:44:38.037+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:38.037+00:00
                      userName: myCredential138
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential139
                    name: myCredential139
                    properties:
                      creationTime: 2017-03-26T21:44:38.35+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:38.35+00:00
                      userName: myCredential139
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential14
                    name: myCredential14
                    properties:
                      creationTime: 2017-03-26T21:43:56.723+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:56.723+00:00
                      userName: myCredential14
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential140
                    name: myCredential140
                    properties:
                      creationTime: 2017-03-26T21:44:38.71+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:38.71+00:00
                      userName: myCredential140
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential141
                    name: myCredential141
                    properties:
                      creationTime: 2017-03-26T21:44:39.037+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:39.037+00:00
                      userName: myCredential141
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential142
                    name: myCredential142
                    properties:
                      creationTime: 2017-03-26T21:44:39.35+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:39.35+00:00
                      userName: myCredential142
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential143
                    name: myCredential143
                    properties:
                      creationTime: 2017-03-26T21:44:39.677+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:39.677+00:00
                      userName: myCredential143
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential144
                    name: myCredential144
                    properties:
                      creationTime: 2017-03-26T21:44:39.99+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:39.99+00:00
                      userName: myCredential144
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential145
                    name: myCredential145
                    properties:
                      creationTime: 2017-03-26T21:44:40.317+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:40.317+00:00
                      userName: myCredential145
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential146
                    name: myCredential146
                    properties:
                      creationTime: 2017-03-26T21:44:40.63+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:40.63+00:00
                      userName: myCredential146
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential147
                    name: myCredential147
                    properties:
                      creationTime: 2017-03-26T21:44:40.943+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:40.943+00:00
                      userName: myCredential147
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential148
                    name: myCredential148
                    properties:
                      creationTime: 2017-03-26T21:44:41.27+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:41.27+00:00
                      userName: myCredential148
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential149
                    name: myCredential149
                    properties:
                      creationTime: 2017-03-26T21:44:41.6+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:41.6+00:00
                      userName: myCredential149
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential15
                    name: myCredential15
                    properties:
                      creationTime: 2017-03-26T21:43:57.033+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:57.033+00:00
                      userName: myCredential15
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential150
                    name: myCredential150
                    properties:
                      creationTime: 2017-03-26T21:44:41.91+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:41.91+00:00
                      userName: myCredential150
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential151
                    name: myCredential151
                    properties:
                      creationTime: 2017-03-26T21:44:42.24+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:42.24+00:00
                      userName: myCredential151
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential152
                    name: myCredential152
                    properties:
                      creationTime: 2017-03-26T21:44:42.567+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:42.567+00:00
                      userName: myCredential152
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential153
                    name: myCredential153
                    properties:
                      creationTime: 2017-03-26T21:44:42.88+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:42.88+00:00
                      userName: myCredential153
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential154
                    name: myCredential154
                    properties:
                      creationTime: 2017-03-26T21:44:43.193+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:43.193+00:00
                      userName: myCredential154
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential155
                    name: myCredential155
                    properties:
                      creationTime: 2017-03-26T21:44:43.52+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:43.52+00:00
                      userName: myCredential155
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential156
                    name: myCredential156
                    properties:
                      creationTime: 2017-03-26T21:44:43.833+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:43.833+00:00
                      userName: myCredential156
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential157
                    name: myCredential157
                    properties:
                      creationTime: 2017-03-26T21:44:44.147+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:44.147+00:00
                      userName: myCredential157
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential158
                    name: myCredential158
                    properties:
                      creationTime: 2017-03-26T21:44:44.473+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:44.473+00:00
                      userName: myCredential158
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential159
                    name: myCredential159
                    properties:
                      creationTime: 2017-03-26T21:44:44.787+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:44.787+00:00
                      userName: myCredential159
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential16
                    name: myCredential16
                    properties:
                      creationTime: 2017-03-26T21:43:57.363+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:57.363+00:00
                      userName: myCredential16
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential160
                    name: myCredential160
                    properties:
                      creationTime: 2017-03-26T21:44:45.1+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:45.1+00:00
                      userName: myCredential160
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential161
                    name: myCredential161
                    properties:
                      creationTime: 2017-03-26T21:44:45.427+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:45.427+00:00
                      userName: myCredential161
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential162
                    name: myCredential162
                    properties:
                      creationTime: 2017-03-26T21:44:45.74+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:45.74+00:00
                      userName: myCredential162
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential163
                    name: myCredential163
                    properties:
                      creationTime: 2017-03-26T21:44:46.067+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:46.067+00:00
                      userName: myCredential163
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential164
                    name: myCredential164
                    properties:
                      creationTime: 2017-03-26T21:44:46.38+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:46.38+00:00
                      userName: myCredential164
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential165
                    name: myCredential165
                    properties:
                      creationTime: 2017-03-26T21:44:46.71+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:46.71+00:00
                      userName: myCredential165
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential166
                    name: myCredential166
                    properties:
                      creationTime: 2017-03-26T21:44:47.037+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:47.037+00:00
                      userName: myCredential166
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential167
                    name: myCredential167
                    properties:
                      creationTime: 2017-03-26T21:44:47.35+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:47.35+00:00
                      userName: myCredential167
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential168
                    name: myCredential168
                    properties:
                      creationTime: 2017-03-26T21:44:47.677+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:47.677+00:00
                      userName: myCredential168
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential169
                    name: myCredential169
                    properties:
                      creationTime: 2017-03-26T21:44:47.99+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:47.99+00:00
                      userName: myCredential169
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential17
                    name: myCredential17
                    properties:
                      creationTime: 2017-03-26T21:43:57.677+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:57.677+00:00
                      userName: myCredential17
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential170
                    name: myCredential170
                    properties:
                      creationTime: 2017-03-26T21:44:48.287+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:48.287+00:00
                      userName: myCredential170
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential171
                    name: myCredential171
                    properties:
                      creationTime: 2017-03-26T21:44:48.613+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:48.613+00:00
                      userName: myCredential171
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential172
                    name: myCredential172
                    properties:
                      creationTime: 2017-03-26T21:44:48.927+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:48.927+00:00
                      userName: myCredential172
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential173
                    name: myCredential173
                    properties:
                      creationTime: 2017-03-26T21:44:49.257+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:49.257+00:00
                      userName: myCredential173
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential174
                    name: myCredential174
                    properties:
                      creationTime: 2017-03-26T21:44:49.567+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:49.567+00:00
                      userName: myCredential174
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential175
                    name: myCredential175
                    properties:
                      creationTime: 2017-03-26T21:44:49.88+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:49.88+00:00
                      userName: myCredential175
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential176
                    name: myCredential176
                    properties:
                      creationTime: 2017-03-26T21:44:50.21+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:50.21+00:00
                      userName: myCredential176
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential177
                    name: myCredential177
                    properties:
                      creationTime: 2017-03-26T21:44:50.537+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:50.537+00:00
                      userName: myCredential177
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential178
                    name: myCredential178
                    properties:
                      creationTime: 2017-03-26T21:44:50.863+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:50.863+00:00
                      userName: myCredential178
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential179
                    name: myCredential179
                    properties:
                      creationTime: 2017-03-26T21:44:51.193+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:51.193+00:00
                      userName: myCredential179
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential18
                    name: myCredential18
                    properties:
                      creationTime: 2017-03-26T21:43:58.003+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:58.003+00:00
                      userName: myCredential18
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential180
                    name: myCredential180
                    properties:
                      creationTime: 2017-03-26T21:44:51.6+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:51.6+00:00
                      userName: myCredential180
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential181
                    name: myCredential181
                    properties:
                      creationTime: 2017-03-26T21:44:51.91+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:51.91+00:00
                      userName: myCredential181
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential182
                    name: myCredential182
                    properties:
                      creationTime: 2017-03-26T21:44:52.223+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:52.223+00:00
                      userName: myCredential182
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential183
                    name: myCredential183
                    properties:
                      creationTime: 2017-03-26T21:44:52.6+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:52.6+00:00
                      userName: myCredential183
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential184
                    name: myCredential184
                    properties:
                      creationTime: 2017-03-26T21:44:52.927+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:52.927+00:00
                      userName: myCredential184
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential185
                    name: myCredential185
                    properties:
                      creationTime: 2017-03-26T21:44:53.27+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:53.27+00:00
                      userName: myCredential185
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential186
                    name: myCredential186
                    properties:
                      creationTime: 2017-03-26T21:44:53.583+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:53.583+00:00
                      userName: myCredential186
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential187
                    name: myCredential187
                    properties:
                      creationTime: 2017-03-26T21:44:54.037+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:54.037+00:00
                      userName: myCredential187
              headers: {}
        "List credentials by automation account, next 100":
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount20
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: https://management.azure.com:443/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials?api-version=2015-10-31&$skip=200
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential188
                    name: myCredential188
                    properties:
                      creationTime: 2017-03-26T21:44:54.397+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:54.397+00:00
                      userName: myCredential188
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential189
                    name: myCredential189
                    properties:
                      creationTime: 2017-03-26T21:44:54.71+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:54.71+00:00
                      userName: myCredential189
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential19
                    name: myCredential19
                    properties:
                      creationTime: 2017-03-26T21:43:58.33+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:58.33+00:00
                      userName: myCredential19
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential190
                    name: myCredential190
                    properties:
                      creationTime: 2017-03-26T21:44:55.037+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:55.037+00:00
                      userName: myCredential190
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential191
                    name: myCredential191
                    properties:
                      creationTime: 2017-03-26T21:44:55.35+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:55.35+00:00
                      userName: myCredential191
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential192
                    name: myCredential192
                    properties:
                      creationTime: 2017-03-26T21:44:55.677+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:55.677+00:00
                      userName: myCredential192
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential193
                    name: myCredential193
                    properties:
                      creationTime: 2017-03-26T21:44:56.007+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:56.007+00:00
                      userName: myCredential193
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential194
                    name: myCredential194
                    properties:
                      creationTime: 2017-03-26T21:44:56.333+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:56.333+00:00
                      userName: myCredential194
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential195
                    name: myCredential195
                    properties:
                      creationTime: 2017-03-26T21:44:56.66+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:56.66+00:00
                      userName: myCredential195
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential196
                    name: myCredential196
                    properties:
                      creationTime: 2017-03-26T21:44:57.007+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:57.007+00:00
                      userName: myCredential196
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential197
                    name: myCredential197
                    properties:
                      creationTime: 2017-03-26T21:44:57.333+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:57.333+00:00
                      userName: myCredential197
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential198
                    name: myCredential198
                    properties:
                      creationTime: 2017-03-26T21:44:57.66+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:57.66+00:00
                      userName: myCredential198
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential199
                    name: myCredential199
                    properties:
                      creationTime: 2017-03-26T21:44:57.973+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:57.973+00:00
                      userName: myCredential199
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential2
                    name: myCredential2
                    properties:
                      creationTime: 2017-03-26T21:43:52.44+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:52.44+00:00
                      userName: myCredential2
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential20
                    name: myCredential20
                    properties:
                      creationTime: 2017-03-26T21:43:58.66+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:58.66+00:00
                      userName: myCredential20
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential200
                    name: myCredential200
                    properties:
                      creationTime: 2017-03-26T21:44:58.303+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:58.303+00:00
                      userName: myCredential200
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential21
                    name: myCredential21
                    properties:
                      creationTime: 2017-03-26T21:43:59.033+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:59.033+00:00
                      userName: myCredential21
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential22
                    name: myCredential22
                    properties:
                      creationTime: 2017-03-26T21:43:59.363+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:59.363+00:00
                      userName: myCredential22
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential23
                    name: myCredential23
                    properties:
                      creationTime: 2017-03-26T21:43:59.707+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:59.707+00:00
                      userName: myCredential23
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential24
                    name: myCredential24
                    properties:
                      creationTime: 2017-03-26T21:44:00.02+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:00.02+00:00
                      userName: myCredential24
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential25
                    name: myCredential25
                    properties:
                      creationTime: 2017-03-26T21:44:00.33+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:00.33+00:00
                      userName: myCredential25
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential26
                    name: myCredential26
                    properties:
                      creationTime: 2017-03-26T21:44:00.707+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:00.707+00:00
                      userName: myCredential26
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential27
                    name: myCredential27
                    properties:
                      creationTime: 2017-03-26T21:44:01.02+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:01.02+00:00
                      userName: myCredential27
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential28
                    name: myCredential28
                    properties:
                      creationTime: 2017-03-26T21:44:01.347+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:01.347+00:00
                      userName: myCredential28
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential29
                    name: myCredential29
                    properties:
                      creationTime: 2017-03-26T21:44:01.847+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:01.847+00:00
                      userName: myCredential29
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential3
                    name: myCredential3
                    properties:
                      creationTime: 2017-03-26T21:43:52.863+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:52.863+00:00
                      userName: myCredential3
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential30
                    name: myCredential30
                    properties:
                      creationTime: 2017-03-26T21:44:02.16+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:02.16+00:00
                      userName: myCredential30
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential31
                    name: myCredential31
                    properties:
                      creationTime: 2017-03-26T21:44:02.503+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:02.503+00:00
                      userName: myCredential31
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential32
                    name: myCredential32
                    properties:
                      creationTime: 2017-03-26T21:44:02.88+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:02.88+00:00
                      userName: myCredential32
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential33
                    name: myCredential33
                    properties:
                      creationTime: 2017-03-26T21:44:03.177+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:03.177+00:00
                      userName: myCredential33
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential34
                    name: myCredential34
                    properties:
                      creationTime: 2017-03-26T21:44:03.55+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:03.55+00:00
                      userName: myCredential34
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential35
                    name: myCredential35
                    properties:
                      creationTime: 2017-03-26T21:44:03.893+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:03.893+00:00
                      userName: myCredential35
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential36
                    name: myCredential36
                    properties:
                      creationTime: 2017-03-26T21:44:04.207+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:04.207+00:00
                      userName: myCredential36
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential37
                    name: myCredential37
                    properties:
                      creationTime: 2017-03-26T21:44:04.55+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:04.55+00:00
                      userName: myCredential37
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential38
                    name: myCredential38
                    properties:
                      creationTime: 2017-03-26T21:44:04.847+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:04.847+00:00
                      userName: myCredential38
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential39
                    name: myCredential39
                    properties:
                      creationTime: 2017-03-26T21:44:05.177+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:05.177+00:00
                      userName: myCredential39
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential4
                    name: myCredential4
                    properties:
                      creationTime: 2017-03-26T21:43:53.253+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:53.253+00:00
                      userName: myCredential4
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential40
                    name: myCredential40
                    properties:
                      creationTime: 2017-03-26T21:44:05.49+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:05.49+00:00
                      userName: myCredential40
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential41
                    name: myCredential41
                    properties:
                      creationTime: 2017-03-26T21:44:05.83+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:05.83+00:00
                      userName: myCredential41
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential42
                    name: myCredential42
                    properties:
                      creationTime: 2017-03-26T21:44:06.143+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:06.143+00:00
                      userName: myCredential42
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential43
                    name: myCredential43
                    properties:
                      creationTime: 2017-03-26T21:44:06.457+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:06.457+00:00
                      userName: myCredential43
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential44
                    name: myCredential44
                    properties:
                      creationTime: 2017-03-26T21:44:06.94+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:06.94+00:00
                      userName: myCredential44
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential45
                    name: myCredential45
                    properties:
                      creationTime: 2017-03-26T21:44:07.3+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:07.3+00:00
                      userName: myCredential45
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential46
                    name: myCredential46
                    properties:
                      creationTime: 2017-03-26T21:44:07.63+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:07.63+00:00
                      userName: myCredential46
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential47
                    name: myCredential47
                    properties:
                      creationTime: 2017-03-26T21:44:07.957+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:07.957+00:00
                      userName: myCredential47
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential48
                    name: myCredential48
                    properties:
                      creationTime: 2017-03-26T21:44:08.27+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:08.27+00:00
                      userName: myCredential48
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential49
                    name: myCredential49
                    properties:
                      creationTime: 2017-03-26T21:44:08.58+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:08.58+00:00
                      userName: myCredential49
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential5
                    name: myCredential5
                    properties:
                      creationTime: 2017-03-26T21:43:53.567+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:53.567+00:00
                      userName: myCredential5
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential50
                    name: myCredential50
                    properties:
                      creationTime: 2017-03-26T21:44:09.02+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:09.02+00:00
                      userName: myCredential50
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential51
                    name: myCredential51
                    properties:
                      creationTime: 2017-03-26T21:44:09.33+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:09.33+00:00
                      userName: myCredential51
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential52
                    name: myCredential52
                    properties:
                      creationTime: 2017-03-26T21:44:09.643+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:09.643+00:00
                      userName: myCredential52
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential53
                    name: myCredential53
                    properties:
                      creationTime: 2017-03-26T21:44:09.973+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:09.973+00:00
                      userName: myCredential53
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential54
                    name: myCredential54
                    properties:
                      creationTime: 2017-03-26T21:44:10.287+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:10.287+00:00
                      userName: myCredential54
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential55
                    name: myCredential55
                    properties:
                      creationTime: 2017-03-26T21:44:10.66+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:10.66+00:00
                      userName: myCredential55
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential56
                    name: myCredential56
                    properties:
                      creationTime: 2017-03-26T21:44:10.973+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:10.973+00:00
                      userName: myCredential56
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential57
                    name: myCredential57
                    properties:
                      creationTime: 2017-03-26T21:44:11.33+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:11.33+00:00
                      userName: myCredential57
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential58
                    name: myCredential58
                    properties:
                      creationTime: 2017-03-26T21:44:11.643+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:11.643+00:00
                      userName: myCredential58
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential59
                    name: myCredential59
                    properties:
                      creationTime: 2017-03-26T21:44:11.99+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:11.99+00:00
                      userName: myCredential59
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential6
                    name: myCredential6
                    properties:
                      creationTime: 2017-03-26T21:43:53.863+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:53.863+00:00
                      userName: myCredential6
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential60
                    name: myCredential60
                    properties:
                      creationTime: 2017-03-26T21:44:12.3+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:12.3+00:00
                      userName: myCredential60
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential61
                    name: myCredential61
                    properties:
                      creationTime: 2017-03-26T21:44:12.63+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:12.63+00:00
                      userName: myCredential61
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential62
                    name: myCredential62
                    properties:
                      creationTime: 2017-03-26T21:44:12.957+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:12.957+00:00
                      userName: myCredential62
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential63
                    name: myCredential63
                    properties:
                      creationTime: 2017-03-26T21:44:13.27+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:13.27+00:00
                      userName: myCredential63
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential64
                    name: myCredential64
                    properties:
                      creationTime: 2017-03-26T21:44:13.583+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:13.583+00:00
                      userName: myCredential64
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential65
                    name: myCredential65
                    properties:
                      creationTime: 2017-03-26T21:44:13.893+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:13.893+00:00
                      userName: myCredential65
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential66
                    name: myCredential66
                    properties:
                      creationTime: 2017-03-26T21:44:14.207+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:14.207+00:00
                      userName: myCredential66
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential67
                    name: myCredential67
                    properties:
                      creationTime: 2017-03-26T21:44:14.537+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:14.537+00:00
                      userName: myCredential67
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential68
                    name: myCredential68
                    properties:
                      creationTime: 2017-03-26T21:44:14.847+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:14.847+00:00
                      userName: myCredential68
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential69
                    name: myCredential69
                    properties:
                      creationTime: 2017-03-26T21:44:15.19+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:15.19+00:00
                      userName: myCredential69
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential7
                    name: myCredential7
                    properties:
                      creationTime: 2017-03-26T21:43:54.19+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:54.19+00:00
                      userName: myCredential7
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential70
                    name: myCredential70
                    properties:
                      creationTime: 2017-03-26T21:44:15.503+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:15.503+00:00
                      userName: myCredential70
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential71
                    name: myCredential71
                    properties:
                      creationTime: 2017-03-26T21:44:15.91+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:15.91+00:00
                      userName: myCredential71
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential72
                    name: myCredential72
                    properties:
                      creationTime: 2017-03-26T21:44:16.253+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:16.253+00:00
                      userName: myCredential72
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential73
                    name: myCredential73
                    properties:
                      creationTime: 2017-03-26T21:44:16.567+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:16.567+00:00
                      userName: myCredential73
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential74
                    name: myCredential74
                    properties:
                      creationTime: 2017-03-26T21:44:16.927+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:16.927+00:00
                      userName: myCredential74
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential75
                    name: myCredential75
                    properties:
                      creationTime: 2017-03-26T21:44:17.253+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:17.253+00:00
                      userName: myCredential75
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential76
                    name: myCredential76
                    properties:
                      creationTime: 2017-03-26T21:44:17.567+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:17.567+00:00
                      userName: myCredential76
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential77
                    name: myCredential77
                    properties:
                      creationTime: 2017-03-26T21:44:17.88+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:17.88+00:00
                      userName: myCredential77
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential78
                    name: myCredential78
                    properties:
                      creationTime: 2017-03-26T21:44:18.19+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:18.19+00:00
                      userName: myCredential78
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential79
                    name: myCredential79
                    properties:
                      creationTime: 2017-03-26T21:44:18.52+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:18.52+00:00
                      userName: myCredential79
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential8
                    name: myCredential8
                    properties:
                      creationTime: 2017-03-26T21:43:54.503+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:54.503+00:00
                      userName: myCredential8
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential80
                    name: myCredential80
                    properties:
                      creationTime: 2017-03-26T21:44:18.833+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:18.833+00:00
                      userName: myCredential80
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential81
                    name: myCredential81
                    properties:
                      creationTime: 2017-03-26T21:44:19.177+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:19.177+00:00
                      userName: myCredential81
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential82
                    name: myCredential82
                    properties:
                      creationTime: 2017-03-26T21:44:19.49+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:19.49+00:00
                      userName: myCredential82
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential83
                    name: myCredential83
                    properties:
                      creationTime: 2017-03-26T21:44:19.833+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:19.833+00:00
                      userName: myCredential83
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential84
                    name: myCredential84
                    properties:
                      creationTime: 2017-03-26T21:44:20.177+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:20.177+00:00
                      userName: myCredential84
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential85
                    name: myCredential85
                    properties:
                      creationTime: 2017-03-26T21:44:20.503+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:20.503+00:00
                      userName: myCredential85
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential86
                    name: myCredential86
                    properties:
                      creationTime: 2017-03-26T21:44:20.817+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:20.817+00:00
                      userName: myCredential86
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential87
                    name: myCredential87
                    properties:
                      creationTime: 2017-03-26T21:44:21.143+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:21.143+00:00
                      userName: myCredential87
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential88
                    name: myCredential88
                    properties:
                      creationTime: 2017-03-26T21:44:21.457+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:21.457+00:00
                      userName: myCredential88
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential89
                    name: myCredential89
                    properties:
                      creationTime: 2017-03-26T21:44:21.787+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:21.787+00:00
                      userName: myCredential89
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential9
                    name: myCredential9
                    properties:
                      creationTime: 2017-03-26T21:43:54.957+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:43:54.957+00:00
                      userName: myCredential9
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential90
                    name: myCredential90
                    properties:
                      creationTime: 2017-03-26T21:44:22.1+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:22.1+00:00
                      userName: myCredential90
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential91
                    name: myCredential91
                    properties:
                      creationTime: 2017-03-26T21:44:22.427+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:22.427+00:00
                      userName: myCredential91
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential92
                    name: myCredential92
                    properties:
                      creationTime: 2017-03-26T21:44:22.77+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:22.77+00:00
                      userName: myCredential92
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential93
                    name: myCredential93
                    properties:
                      creationTime: 2017-03-26T21:44:23.083+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:23.083+00:00
                      userName: myCredential93
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential94
                    name: myCredential94
                    properties:
                      creationTime: 2017-03-26T21:44:23.41+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:23.41+00:00
                      userName: myCredential94
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential95
                    name: myCredential95
                    properties:
                      creationTime: 2017-03-26T21:44:23.753+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:23.753+00:00
                      userName: myCredential95
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential96
                    name: myCredential96
                    properties:
                      creationTime: 2017-03-26T21:44:24.1+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:24.1+00:00
                      userName: myCredential96
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount20/credentials/myCredential97
                    name: myCredential97
                    properties:
                      creationTime: 2017-03-26T21:44:24.427+00:00
                      description: my description goes here
                      lastModifiedTime: 2017-03-26T21:44:24.427+00:00
                      userName: myCredential97
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/credentials/{credentialName}":
    delete:
      description: Delete the credential.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/credentialoperations
      operationId: Credential_Delete
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
[...]
