{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "Deployment Admin Client.",
    "title": "DeploymentAdminClient",
    "version": "2019-01-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/deployment/Microsoft.Deployment.Admin/preview/2019-01-01/ProductSecret.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "azsadmin-ProductSecret",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "PasswordParameter": {
      "description": "The password.",
      "in": "body",
      "name": "PasswordParameter",
      "required": true,
      "schema": {
        "$ref": "#/definitions/Password"
      },
      "x-ms-parameter-location": "method"
    },
    "PfxFileNameParameter": {
      "description": "The pfx certificate file location.",
      "in": "body",
      "name": "pfxFileName",
      "required": true,
      "schema": {
        "$ref": "#/definitions/PfxFileName"
      },
      "x-ms-parameter-location": "method"
    },
    "PfxPasswordParameter": {
      "description": "The pfx certificate file password.",
      "in": "body",
      "name": "pfxPasswordParameter",
      "required": true,
      "schema": {
        "$ref": "#/definitions/PfxPassword"
      },
      "x-ms-parameter-location": "method"
    },
    "SecretNameParameter": {
      "description": "The secret name.",
      "in": "path",
      "name": "secretName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SecretParameters": {
      "description": "The parameters required for creating/updating a product secret.",
      "in": "body",
      "name": "secretParameters",
      "required": true,
      "schema": {
        "$ref": "#/definitions/SecretParameters"
      },
      "x-ms-parameter-location": "method"
    },
    "SecretValueParameter": {
      "description": "The secret value in a secure string format.",
      "in": "body",
      "name": "secretValue",
      "required": true,
      "schema": {
        "$ref": "#/definitions/SecretValue"
      },
      "x-ms-parameter-location": "method"
    },
    "SymmetricKeyParameter": {
      "description": "The symmetric key.",
      "in": "body",
      "name": "SymmetricKeyParameter",
      "required": true,
      "schema": {
        "$ref": "#/definitions/SymmetricKey"
      },
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productPackages/{productId}/secrets": {
      "get": {
        "description": "Returns an array of product secrets.",
        "operationId": "ProductSecrets_List",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "default": "2019-01-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "The product identifier.",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProductSecretsList"
            }
          }
        },
        "tags": [
          "ProductSecrets"
        ],
        "x-ms-examples": {
          "Return product secrets list.": {
            "parameters": {
              "api-version": "2019-01-01",
              "location": "global",
              "productId": "Microsoft.IotHubPreview.1.0.2",
              "secretValue": "sslCert",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/productPackages/Microsoft.NullProvider.1.1/secrets/AdHoc",
                      "name": "global/Microsoft.NullProvider.1.1/AdHoc",
                      "properties": {
                        "description": "This is an ad-hoc secret.",
                        "expiresAfter": "P365D",
                        "provisioningState": "Succeeded",
                        "secretKind": "AdHoc",
                        "secretState": {
                          "rotationStatus": "None",
                          "status": "NotUploaded"
                        }
                      },
                      "type": "Microsoft.Deployment.Admin/locations/productPackages/secrets"
                    },
                    {
                      "id": "/subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/productPackages/Microsoft.NullProvider.1.1/secrets/TlsCertificate",
                      "name": "global/Microsoft.NullProvider.1.1/TlsCertificate",
                      "properties": {
                        "description": "This is a TLS certificate.",
                        "expiresAfter": "P365D",
                        "provisioningState": "Succeeded",
                        "secretDescriptor": {
                          "alternativeDnsNames": [
                            "noterp.redmond.ext-n22r1708.masd.stbtest.microsoft.com"
                          ],
                          "keyLength": 4096,
                          "subject": "CN=NullProviderTLS"
                        },
                        "secretKind": "Certificate",
                        "secretState": {
                          "rotationStatus": "None",
                          "status": "NotUploaded"
                        }
                      },
                      "type": "Microsoft.Deployment.Admin/locations/productPackages/secrets"
                    },
                    {
                      "id": "/subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/productPackages/Microsoft.NullProvider.1.1/secrets/ExternalPassword",
                      "name": "global/Microsoft.NullProvider.1.1/ExternalPassword",
                      "properties": {
                        "description": "This is an external password.",
                        "expiresAfter": "P365D",
                        "provisioningState": "Succeeded",
                        "secretDescriptor": {
                          "allowedCharacters": "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz",
                          "passwordLength": 10,
                          "passwordValidationRegex": "^(?=.*\\d)(?=.*[A-Z])(?=.*[a-z]).*$"
                        },
                        "secretKind": "Password",
                        "secretState": {
                          "rotationStatus": "None",
                          "status": "NotUploaded"
                        }
                      },
                      "type": "Microsoft.Deployment.Admin/locations/productPackages/secrets"
                    },
                    {
                      "id": "/subscriptions/be8b2e19-7f92-4644-b808-a18283aebb01/providers/Microsoft.Deployment.Admin/locations/global/productPackages/Microsoft.NullProvider.1.1/secrets/ExternalSymmetricKey",
                      "name": "global/Microsoft.NullProvider.1.1/ExternalSymmetricKey",
                      "properties": {
                        "description": "This is an external symmetric key.",
                        "expiresAfter": "P365D",
                        "provisioningState": "Succeeded",
                        "secretDescriptor": {
                          "keyLength": 128
                        },
                        "secretKind": "SymmetricKey",
                        "secretState": {
                          "rotationStatus": "None",
                          "status": "NotUploaded"
                        }
                      },
                      "type": "Microsoft.Deployment.Admin/locations/productPackages/secrets"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productSecrets/{productId}/secrets/{secretName}": {
      "get": {
        "description": "Retrieves the specific product secret details.",
        "operationId": "ProductSecrets_Get",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The product identifier.",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "default": "2019-01-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/SecretNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProductSecret"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "ProductSecrets"
        ],
        "x-ms-examples": {
          "Return the product package details.": {
            "parameters": {
              "api-version": "2019-01-01",
              "location": "global",
              "productId": "Microsoft.IotHubPreview.1.0.2",
              "secretName": "secretName",
              "secretValue": "sslCert",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/0a581108-e747-40cf-8a80-2c82ddd0438a/providers/Microsoft.Deployment.Admin/locations/global/productPackages/Microsoft.IotHubPreview.1.0.2/secrets/sslCert",
                  "name": "global/Microsoft.IotHubPreview.1.0.2/sslCert",
                  "properties": {
                    "description": "Application SSL certificate.",
                    "expiresAfter": "P365D",
                    "provisioningState": "Succeeded",
                    "secretDescriptor": {
                      "alternativeDnsNames": [],
                      "keyLength": 3072
                    },
                    "secretKind": "Certificate",
                    "secretState": {
                      "rotationStatus": "None",
                      "status": "NotUploaded"
                    }
                  },
                  "type": "Microsoft.Deployment.Admin/locations/productPackages/secrets"
                }
              },
              "404": {}
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productSecrets/{productId}/secrets/{secretName}/import": {
      "post": {
        "description": "Imports a product secret.",
        "operationId": "ProductSecrets_Import",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The product identifier.",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/SecretNameParameter"
          },
          {
            "default": "2019-01-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/SecretParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Accepted"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "ProductSecrets"
        ],
        "x-ms-examples": {
          "Imports a product secret.": {
            "parameters": {
              "api-version": "2019-01-01",
              "location": "global",
              "newOffer": {
                "properties": {
                  "data": "MIIasdajCasdadIIKlDCCCpAGCyqGSIb3DQEMCgECoIIJfjCCCXowHAYKKoZIhvcNAQwBAzAOBAg8H9AO2t5mSwICB9AEgglYZET8GdClyLmngkqx8gob6P56kmMBIB72BG9BZtjnCpY/D4E9Rhl2hmxHFPY2ivsRSgFKDg8tVs+hnMuokWShJhZ0oIaBo4nHRcKk4sWzCfgEN21T2tgCnkG+Fz2kpvv485YaRpnU+vRU19NfwOe34A+zxI63H7V8cnAOuy5fI7MPqWYFDYLAWtJwVbslLVBDmdyKTah7+53g4P71wZD3rupW/ntOJQUzmZUV5RXphIyQn1pN15DCLRPwgc0FwqglrUJMxHD/MJ8w23JXG9HcgVS7tCEDEVGs2X7P/svcy8zV14Amhy73Lcqy7ZS8lxlyvyuXMCbRmY9UxsGc3SvbgWZqVzWaaHbiq/8jEncq0Cd21I0Ynv3cGBwGR9ERml3NNeZWon1NFUxkZhG2CQ5z6W4NhnVX3iq9D1lklRbzYls8qcCKTIsT6qPbBonAKFBZ9+JqJxZSkzoiWVR3GqTdGaaSrY56g2WKwQ330/rJXSR2iaeWc/V+JXRz0GJ9bIrgqrFXunmyVJ6zXftu9sfFz/PTD9exbHVlYItzxxMTuCIfeHs6Neb4s1IP8JKEGHfmldoFOoInwL2NW7Q6EERLmvAZ600JTsD5lyDum8ne4J9yzCP09Qoruo7TtoFPE+CBqbb3hUVfT/kDp8EbqseWG6fyydXwI49VGwX5xUfO8qNW56tpjPZWg6wx4zLfkqxkEu3/+4/2IWtyAfFp6L0VdpyCFwJ0dcWJUI13WujHOobfjPWJ+atdXR4qbZ6QpKeotYKq+twmZXIkgSvWxkg/QR1j1wf+PMFnVoexPiqH0rxMS+VcLLUA/fXfrBaD/Q/0ZPChLOM9rBBN0tb6Kj09jlFKrqm0PsqPsXg9j1PwH5h0Ou6aaJ0GKj5LFAESeKp8FloBq5GXzROokjMjxoXN0S1KY/zgl+J57ZzNO21MGjXTE1jmHnCGKgMSoX+myE75o46FcvFrgdxWjR0XvAjCJdF0dnMk/HCxtTHxd0U5qhsIX9chZBW83mPMHhxmPPa/V5t+3YL0v2EOmsXtb3tVi3KlMwxNQKdNgbX4OFRY27crgLTzEhwgCXhwwsHayu/R7pBYCO6czJuSxGo5xdqWeF0wewZ4+bEzGfsAkY0sXMSelz48ehtVLaiEcWNYAVvRwV5AyBfXtPBBpZa8XMROXIlFDAFHVDQ7F+r6PlbZVT9z3ziAF+CeCCEFAsT86MMPHHtCr+ljAq4ZOGR2SgsY0idcETdSfZNpC+D2JF1g98niQOk7Gws1SeWf4mLRTQTSGBGTO/CONYaGo+H5erMF9uzRd3IuqmI6rjG0Upvl4hBu8bT+Kyy/5fHRDMwF8cc2IKCFHoPuTE/u6m0VSWGuR+WnAjem+McqxmWiqWgsfLKlfs9YzxbLLvBpPTDcUZgz16BB//Az9gRT/6dtwgSZ5U0zyq4+xED+LImQ3IJXfReaas5QS0b2JAeR1EcNio6221xh78+S5K2B7+LAhMRxGn2l4NZTYatugZimjp1vJK/pHo1Ph0ILpd5DwSmQMmnvDVIgttDnsMiYkL0voQNriDeGupqgxsh3Y7fOh8EqySr63XYhkYSM/BzuUFkdnc0hkMEd96p1OhjjJ8n1+FUuHjMGYMTaZyHCHB9+wLIQUiz1Y328B2qHN2vAKnA5vcx+Y+30rc3PM1Gu0zMJDB17bsLrpNZHQ0e7bzekKdVY27bbRjDX/ZfSmEt5Iq24ilcbL3WBFChwBesDRrnFHkxNJUR+suVTlaX80axjOABtJxfSJ9xEa1orA9I1d5hlRVWGgRXsOM1u9rKauCGKZ4jdl1pfIVSUyT5N1HBUvmfn4Nau/+AsgBy4+cbVVd77gbdAt+YXp7EYF665SlipcvDzmcLp9WsCasYeNbQ9l4G4Vh8dzyuJZuJSrOe/Ue7pQgLRSZx58NLGvy2HhZ6h9i+z7967iPhUrkMb/gGorof2qCtB9VgP8Kg7VV1rym9suFj41zS0CE3BGjwFK4zvIrFKB4zH//qZdEG366zA145hWOnFWVqF88YAuZTJ2JWGoIiq5SZ8wZfOQRVAK4rdDlKVT2+wCr2mAK0xU8r2ln61xsQq7OvYi4iNvMkFcV9Y5afoHoCQdtvURN3Oipoi8om+iNOm2TDx8YtLEvWYWzOEmYHGOmfAs9wSCSI5xcW9tBPBsVCxympFcsW4tMx34sPAS8PzzkymFiUy+HMtuhyvTzQ5paqgQkelvbh3Re1hGEmHSaOn7y9vRUOMfQyGTA89ohUVYkfrOvDh+aUtWlcd7SCMeUOevE46YJJY/TzGEr4XBrfVoMI1S0oiRLvfnI8B2II06Y9Ae0zj2zQTUuIZj+8go3N6ClDFe8+C03cC6xTvnTlf33VWZzv0t33xGmVDYgQpC+cV99AJb7jS1Zkk+Ed2K79IeLAKWIydqkmRqPKuncEEYL54BGgHJqw5k/gtyAEjoqUBcsI9mUpjLSXXXRq04J41TkBEkSyMqeb9zNeuH23pLqF3k/LZxIQ6VFpZeX0DDHZfqR9DhX+7V7wuPqpiNiCnWbhDyr4RjtKSpuKnfzWgAjnkaUXaNCwyogBnV+fpt8klZSDvnyuZMQGr8rIy+P/rpWCOAkU6pvumVwNk+1CE8x0GSzWx6BoC/8ieeEv0maZnBBARe/07i+rNETbKh9YaSK5YLCer1KQeoHrFoyaka44ngYjo09X5dJlZutmsPm46Up0n1PAeqLxQbSUxiT1leaS3DiWmUaPAUFYkVKWYvlNG6jk70+ei2ivAGmcID6yQFfQRF5t/v71U2qSSKBPfsFXH69xw/UY1ivjZ2EASRG9u45bWLPhOOMQ5ilSb80nPcGHSIpz0gayGUhIgTJhOue13HnjIfmbo0pE2yECggQmvMO/833FStNzI7MG6nsiryFAShuMDPG89C4kjA0f07Q6agUtpJgHCZfHOMnKYOwO6h8QC5woNjKxhQl7cZFpPEE7xCEicmAmP3A4wS46S7MA0rGagU1AGCUUOVad62PEBsghReVkRsEelIG2NOYTyuIGXgcsQBvdNmnhtHTdIgQ6ycxR7IOmJIzN50kBx32xN+IfaLh37oAIrM/+dD9KxzrQCghtrEiGQeDdEI25rHIdtE3dwhWSEZ1fl/6B21S6Yh13YDOWpVnhgdX/9w+mdXD+mQjWxmK9ZdptgTaCoiro45zGB/jANBgkrBgEEAYI3EQIxADATBgkqhkiG9w0BCRUxBgQEAQAAADBdBgkqhkiG9w0BCRQxUB5OAHQAZQAtADYANwBiADQAYwAzAGIAMQAtADcANwBiAGQALQA0ADYAMwAxAC0AYgBhADQAYwAtADMAZABkADIANAAwAGIAMgA0ADIANQA1MHkGCSsGAQQBgjcRATFsHmoATQBpAGMAcgBvAHMAbwBmAHQAIABFAG4AaABhAG4AYwBlAGQAIABSAFMAQQAgAGEAbgBkACAAQQBFAFMAIABDAHIAeQBwAHQAbwBnAHIAYQBwAGgAaQBjACAAUAByAG8AdgBpAGQAZQByMIIMfwYJKoZIhvcNAQcGoIIMcDCCDGwCAQAwggxlBgkqhkiG9w0BBwEwHAYKKoZIhvcNAQwBAzAOBAgK726i3z4NuwICB9CAggw4LOMv7g2Y9P0912i5nlJpTiX9mjGTJyl5WDiCtLy1Ik23TOKlRpXahQ8bPGAxR2ebCgVHL3iTStiiu3Wb3V93ZUmWo9aY84BTN2PJsF8O5m2OvpY08DZUOD4F0pLfkUv7lUBGjdYmRDh7SJLFQztENdji511bz1nfonfcTgIlYou5cAhitb/bp7NHbCsCugPKXd0yG1y/jOKEQzQ7oKlPP92DgpA2VUqeQOm79FZA/F/SoH6bfwWa7tsC1uE40psgJqrQMYq7pZfSr9GFtKW1XiLvVbzAnvyn+SH2AA85W1c2w8sh4NEiLajY3NPX+jStly9N0i2Yepn493dg/Wk553FLVa+QrP62C766yyjDPkYhCbBQowB0oiH0drykL7wRbYaTtfcC9N2GdENT6SrBZfdqO0wjLTHfbpxnB2cI0ziWCsTyX1OQPrvZYmRXeeoQ569uOBGT2xXi6BSrMRDIJxyO/M/qTvLsoroB2MoCkF4t9/XZYdCDaIxSMxauQ9bHUBEkJz7srfn6OxU/2Z/PysX3sOQS5JJqeat8ryCG5MTJz69QLqDUTutBSOJ8isXC3TcjjYWzxO0jc3PmmmGIqX0D5ZLeURG1ePrkxSPKHNbMYtg/lvDNSZ6R35ApQ7EDXUVZSmlJFDnxPYjuwo9JV6W0AZMekKGdUJMOtwAy0BekBDuTAnzHRbe4QxNCbjDQXbtvOcZ1Q1DRekJtPPM20clucthlTHBgFRtoEFoIcLunY/jbpxrsjMeuKp+iuxnDVHhxxJLdtF/4WI9OKNC6sPGpqhQjGujzg+bCzYn6tuxqf5zgsEiSpqwoxIQLQ/yPJr1UXOWf6NY8AAkBjQ59ExisFGhtg88HgwC9QkMpxWBU0UOnrx7twBwlWNIVjt4yR5UMiMNOIcemZukt7GeXojcpti/mtzbaLOjCB25C6fZBBUJS7hYE3WZ+fMgyUIf1f1VqCdbVBclrduAdx9BqSCPMpjmtKN5MZewc/CNqrm8sPmjYiWI5LC1vh4dbcSpd6Pl76YV3vxPWn3cZTeDwLSU2lX7lVqS3jrj0NF8/VkVR8iS13u6baAIRN6UZNOSLwcalB/eZkRSYHqSTE4Cnh1O+qkoTX/PGYm1BIv5NKGnSJjc6+/vD3xMAIxYr4FbdCZ+VDIVRb0iAhC8hArHXjU6vHL8EAQYxeC8t5JcvfmmaDTkaymVKJz+6mNKSUhLDHJIo1h8Y4a/oVwL+bLPO8HwYQyLxVMwQLeEOc0isB1i62Kygwf+Pvg2xRgcuNwXRarsFQj+wkj0b+8vTyWVS8hTUWi9LkB95sNBwBwCKaHU6lbQBjUCApiV23F3ssJISR8nDuIgRWFYjNU8tUk4lCy0zeM0v9JzbbWm7vGfURx5CPxo4h1PL/Cw+l3QO9qG+FmawLNfF4wO3I/DaSd8aav60r7+mdj6WIcv6F5+MlFMW11kIlBwEh44umhVpzUpSFt8tI3oJ/TTzxdOgXJTg4uZk1ljOd1tXgvKG9+EpFGcFVbcm3ikljcMRY1neXFUV2p9A8tfTCFigB+j+zCQJXPDQlsgdgnBk6uwm4c7vxIEIU+ZMpv+Q2BhP69+W5RpXUo4431R5/bM8mVAmSPvMBSKYh2uZSEhGt/7rC3z61zmYGjSj8RFStBQG/Y82ZVmdFSKz+YYj/wljs1YZo2XghFfTgT/CdZyNWhLO+nHL2H9h0Po4TN5fHXsrfsyFfzIcxjfc+3iCw+Nw0IghSBDFaAkX3jV8ZF9o23vo3AopM8W+2qscnTe+wMSdrME/h7EvvnpMTBnZIpjyFw2vXoOSjitWijvbomDzyHXBwfoKqHquhPLIx7ub0xG6FhxWeKNMfxhJ0/W0Z7iHKGRXH55s05Wd3wjwnghQfFdAjftkcFEkEQIQ3xLzd1QEaRgMbYZEQkH9PYitiIbNmURaZlY5jJZwL5itouaZhsaMoPsego1e0UQfij1bUpJcFL6L4VI5eokeeAtfGguLtaKxkPuHWeWnrErnXWbI7rqFkq5fkESZSv+IaGUYZGRJ1ybpgrH6Ik7Mvi9L3kBCs6dZg6ACkDgq98kpazOCjk0JWuTHaoekTr26NBglfKWdPWke2qvKEuq9baMUkB05+PlC29TW6tvrucRiX1pO9xQjipZ7c6yF8sel/msn3Xj5EB78yPjWZjrwPst3fkFcC1kiBxSPovefaxChjG+u5nP5jbV1NGiQBk/OdIYggel74VkYQ4DANo4D+rs0s6UnzBbsMEe+qxt7ztM7AUAIXfmz0T+XD+pT5Qwv5pE/wuysSLk5KKXw/bFLRORJbzY1f03wKKlTaD7jFVbCJgy7lj2fc+sUCGdaUxmiczJc58n1RK/sqccRNQrnPyi5YYrYZ8EdvwqkHwMSIvZjT0hPw+/ooOLjN8TNPtYRnm3DDN3KN2S8iaHQOxokBD1SWzGN/v1d19+kYcG2aayosqHcr7XcAc5aQKT+M8YdZwgcTu+NsTz5o3YIG4+xIphdjiWAGWKIvlhiXDnVi5zNPt/YqnNE0Vl5mVMaPnKs31PQzErzFeF80ZQ/gSPflWadLLMcoZV3Q8VNGbcmQHuOpdS/rEBGDWE9jRGcC3i+V7CKpzt7ehNLq9b5CdX5qvkfoci/4iDNjXsR8qEMdlKjSD8H9PH7j0JP476El0TaqiuVApv+X/S10x8au086wnKu2L4dzMu9O2VV4qx1xFZI0SAD/JCVYddApkpGAweEMRHoEWqwcBwIsF2mYPmTRaU29Z4laCCMA1uCMMFcL4tM57XlptxFsZgNrWbFJdnOh0KM6TGAeXq9j6h3g0A4PaqfNAOaG5HWQBlOf5KmviO5EtcfslfL0XaS65E+fK8RoOpj0Um6b069R1NwrHy4/YdJZQFUt5EJFKa+m0MvdFxiIeiNIYhG+POH0l+6ycVz4u4nKplh0jmskj2kyNy+65TX4Y1Gg5dKVSQWfG2c5Tuim1UBB/51cS1cgS73SbdEe136kCuUg5Cc0/jm0RCS31DW/GLtrdGtgOcmPNrAk7HomiD6nHvV1yb/ghgyGKRIMmQEMOfn2ul/51Lo0sPSP++1KJKfEkqJFnjYWrmRR2x0rEf/3juYlN4GXO0YTNtfyou3DBI/mpdpHgiR1/jXKWe+h9wMWyVZt4goyQifTYSs+3L7Bx3EsrjhZQzoe/lQTywtkvLIeq5zOkRK2EPkDPjLPbD4nqp+mzQg74Y7ZGWy7DBlU97TdYyFIossYnpNxbRPodJ/xqtB5IPvCjp6uoUwRJyPNBCUCJyanVlN7R2Tju5NszpwhnN3xtcUbvA45M/b2lV4RBh6pnLi/ktajwBo331edlI4q91AGxuJvxugwPYiudkiSWnZc7LxwOPiwExivuq7Era85mci9URRnBb+EYMA4RqnFrs327POeytuMmNtGAESRA1NwlRJOTLplO7suJmnDT9A0mOfUmnkcyzah3khqCucl96w9mINmbcEoOBGp1xVske2TGhFSsDCObae0BvF2f+43ciwbxDpGTuNB9UnV8w41HV2UhZ+OjYJK0pgVlk5+vfnXEw+iJiPItSynB1HZsdqLJuEqRESRVRIozqR/bHSkv61y2Bq5isT9ZwF9FNbZuSgGoLAvuzpwN95Mx83g4MsNvYWo9EyIEGvjbecBzL9fpeunkvrD2LC8k8+sdtQQ5rPibMKV6kL6ThWbeDhXExk0vZcHos3nLBLsW5Ov/J2erN/CcJdd/CGnwzxMjfmbp2FxLFMwe4XdMsBp7WlGjMy++hRbINtwMAysboIb/YOTOylgBNSDl6uJ27MHtbLhgSyDEw18bFglqWvjvKUJKPbZE7bEw9w3HgWojsQavaqewuAp9OYyg4ZfQCApNmSievlt673v0nZ5dooS9rZroDukwIwTQpxmWaS0wo7SWkkRy99Owe08PFEsM93FrtuyTNz4+1sAWWkQrU7eU5l5C+NM9ZUhCe7jTxTBAs+VMHdMVRF5FQKPLM5CU5RIfg7RDs94TSVPEB8gG5r13+Kmf5gv1NzX8QHmrRA1k0uzF9g4btWdXhoCarB61wFXsizx3mTFEmYev5A3vb6Dn6E4Md//+gJFJ31DcmK7I1DvJCM8QV1mKQydZTef5GkrPxxCk4/kK6cbSNpaHwgNZRPoq+2q9+ZBGK8dzvWbOUwOzAfMAcGBSsOAwIaBBQYe7dTefP7Lx9vu5M0PY3co6yQXwQUiMIUs1ICQSCmLpbiC0DEBnr1JxYCAgfQ",
                  "password": "password"
                }
              },
              "productId": "Microsoft.IotHubPreview.1.0.2",
              "secretName": "secretName",
              "secretParameters": {
                "properties": {
                  "secretValue": "sslCert"
                }
              },
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {},
              "404": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Deployment.Admin/locations/global/productSecrets/{productId}/secrets/{secretName}/validate": {
      "post": {
        "description": "Validates a product secret.",
        "operationId": "ProductSecrets_Validate",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The product identifier.",
            "in": "path",
            "name": "productId",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/SecretNameParameter"
          },
          {
            "default": "2019-01-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/SecretParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "Accepted"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "ProductSecrets"
        ],
        "x-ms-examples": {
          "Validates a product secret.": {
            "parameters": {
              "api-version": "2019-01-01",
              "location": "global",
              "newOffer": {
                "properties": {
                  "data": "MIIasdajCasdadIIKlDCCCpAGCyqGSIb3DQEMCgECoIIJfjCCCXowHAYKKoZIhvcNAQwBAzAOBAg8H9AO2t5mSwICB9AEgglYZET8GdClyLmngkqx8gob6P56kmMBIB72BG9BZtjnCpY/D4E9Rhl2hmxHFPY2ivsRSgFKDg8tVs+hnMuokWShJhZ0oIaBo4nHRcKk4sWzCfgEN21T2tgCnkG+Fz2kpvv485YaRpnU+vRU19NfwOe34A+zxI63H7V8cnAOuy5fI7MPqWYFDYLAWtJwVbslLVBDmdyKTah7+53g4P71wZD3rupW/ntOJQUzmZUV5RXphIyQn1pN15DCLRPwgc0FwqglrUJMxHD/MJ8w23JXG9HcgVS7tCEDEVGs2X7P/svcy8zV14Amhy73Lcqy7ZS8lxlyvyuXMCbRmY9UxsGc3SvbgWZqVzWaaHbiq/8jEncq0Cd21I0Ynv3cGBwGR9ERml3NNeZWon1NFUxkZhG2CQ5z6W4NhnVX3iq9D1lklRbzYls8qcCKTIsT6qPbBonAKFBZ9+JqJxZSkzoiWVR3GqTdGaaSrY56g2WKwQ330/rJXSR2iaeWc/V+JXRz0GJ9bIrgqrFXunmyVJ6zXftu9sfFz/PTD9exbHVlYItzxxMTuCIfeHs6Neb4s1IP8JKEGHfmldoFOoInwL2NW7Q6EERLmvAZ600JTsD5lyDum8ne4J9yzCP09Qoruo7TtoFPE+CBqbb3hUVfT/kDp8EbqseWG6fyydXwI49VGwX5xUfO8qNW56tpjPZWg6wx4zLfkqxkEu3/+4/2IWtyAfFp6L0VdpyCFwJ0dcWJUI13WujHOobfjPWJ+atdXR4qbZ6QpKeotYKq+twmZXIkgSvWxkg/QR1j1wf+PMFnVoexPiqH0rxMS+VcLLUA/fXfrBaD/Q/0ZPChLOM9rBBN0tb6Kj09jlFKrqm0PsqPsXg9j1PwH5h0Ou6aaJ0GKj5LFAESeKp8FloBq5GXzROokjMjxoXN0S1KY/zgl+J57ZzNO21MGjXTE1jmHnCGKgMSoX+myE75o46FcvFrgdxWjR0XvAjCJdF0dnMk/HCxtTHxd0U5qhsIX9chZBW83mPMHhxmPPa/V5t+3YL0v2EOmsXtb3tVi3KlMwxNQKdNgbX4OFRY27crgLTzEhwgCXhwwsHayu/R7pBYCO6czJuSxGo5xdqWeF0wewZ4+bEzGfsAkY0sXMSelz48ehtVLaiEcWNYAVvRwV5AyBfXtPBBpZa8XMROXIlFDAFHVDQ7F+r6PlbZVT9z3ziAF+CeCCEFAsT86MMPHHtCr+ljAq4ZOGR2SgsY0idcETdSfZNpC+D2JF1g98niQOk7Gws1SeWf4mLRTQTSGBGTO/CONYaGo+H5erMF9uzRd3IuqmI6rjG0Upvl4hBu8bT+Kyy/5fHRDMwF8cc2IKCFHoPuTE/u6m0VSWGuR+WnAjem+McqxmWiqWgsfLKlfs9YzxbLLvBpPTDcUZgz16BB//Az9gRT/6dtwgSZ5U0zyq4+xED+LImQ3IJXfReaas5QS0b2JAeR1EcNio6221xh78+S5K2B7+LAhMRxGn2l4NZTYatugZimjp1vJK/pHo1Ph0ILpd5DwSmQMmnvDVIgttDnsMiYkL0voQNriDeGupqgxsh3Y7fOh8EqySr63XYhkYSM/BzuUFkdnc0hkMEd96p1OhjjJ8n1+FUuHjMGYMTaZyHCHB9+wLIQUiz1Y328B2qHN2vAKnA5vcx+Y+30rc3PM1Gu0zMJDB17bsLrpNZHQ0e7bzekKdVY27bbRjDX/ZfSmEt5Iq24ilcbL3WBFChwBesDRrnFHkxNJUR+suVTlaX80axjOABtJxfSJ9xEa1orA9I1d5hlRVWGgRXsOM1u9rKauCGKZ4jdl1pfIVSUyT5N1HBUvmfn4Nau/+AsgBy4+cbVVd77gbdAt+YXp7EYF665SlipcvDzmcLp9WsCasYeNbQ9l4G4Vh8dzyuJZuJSrOe/Ue7pQgLRSZx58NLGvy2HhZ6h9i+z7967iPhUrkMb/gGorof2qCtB9VgP8Kg7VV1rym9suFj41zS0CE3BGjwFK4zvIrFKB4zH//qZdEG366zA145hWOnFWVqF88YAuZTJ2JWGoIiq5SZ8wZfOQRVAK4rdDlKVT2+wCr2mAK0xU8r2ln61xsQq7OvYi4iNvMkFcV9Y5afoHoCQdtvURN3Oipoi8om+iNOm2TDx8YtLEvWYWzOEmYHGOmfAs9wSCSI5xcW9tBPBsVCxympFcsW4tMx34sPAS8PzzkymFiUy+HMtuhyvTzQ5paqgQkelvbh3Re1hGEmHSaOn7y9vRUOMfQyGTA89ohUVYkfrOvDh+aUtWlcd7SCMeUOevE46YJJY/TzGEr4XBrfVoMI1S0oiRLvfnI8B2II06Y9Ae0zj2zQTUuIZj+8go3N6ClDFe8+C03cC6xTvnTlf33VWZzv0t33xGmVDYgQpC+cV99AJb7jS1Zkk+Ed2K79IeLAKWIydqkmRqPKuncEEYL54BGgHJqw5k/gtyAEjoqUBcsI9mUpjLSXXXRq04J41TkBEkSyMqeb9zNeuH23pLqF3k/LZxIQ6VFpZeX0DDHZfqR9DhX+7V7wuPqpiNiCnWbhDyr4RjtKSpuKnfzWgAjnkaUXaNCwyogBnV+fpt8klZSDvnyuZMQGr8rIy+P/rpWCOAkU6pvumVwNk+1CE8x0GSzWx6BoC/8ieeEv0maZnBBARe/07i+rNETbKh9YaSK5YLCer1KQeoHrFoyaka44ngYjo09X5dJlZutmsPm46Up0n1PAeqLxQbSUxiT1leaS3DiWmUaPAUFYkVKWYvlNG6jk70+ei2ivAGmcID6yQFfQRF5t/v71U2qSSKBPfsFXH69xw/UY1ivjZ2EASRG9u45bWLPhOOMQ5ilSb80nPcGHSIpz0gayGUhIgTJhOue13HnjIfmbo0pE2yECggQmvMO/833FStNzI7MG6nsiryFAShuMDPG89C4kjA0f07Q6agUtpJgHCZfHOMnKYOwO6h8QC5woNjKxhQl7cZFpPEE7xCEicmAmP3A4wS46S7MA0rGagU1AGCUUOVad62PEBsghReVkRsEelIG2NOYTyuIGXgcsQBvdNmnhtHTdIgQ6ycxR7IOmJIzN50kBx32xN+IfaLh37oAIrM/+dD9KxzrQCghtrEiGQeDdEI25rHIdtE3dwhWSEZ1fl/6B21S6Yh13YDOWpVnhgdX/9w+mdXD+mQjWxmK9ZdptgTaCoiro45zGB/jANBgkrBgEEAYI3EQIxADATBgkqhkiG9w0BCRUxBgQEAQAAADBdBgkqhkiG9w0BCRQxUB5OAHQAZQAtADYANwBiADQAYwAzAGIAMQAtADcANwBiAGQALQA0ADYAMwAxAC0AYgBhADQAYwAtADMAZABkADIANAAwAGIAMgA0ADIANQA1MHkGCSsGAQQBgjcRATFsHmoATQBpAGMAcgBvAHMAbwBmAHQAIABFAG4AaABhAG4AYwBlAGQAIABSAFMAQQAgAGEAbgBkACAAQQBFAFMAIABDAHIAeQBwAHQAbwBnAHIAYQBwAGgAaQBjACAAUAByAG8AdgBpAGQAZQByMIIMfwYJKoZIhvcNAQcGoIIMcDCCDGwCAQAwggxlBgkqhkiG9w0BBwEwHAYKKoZIhvcNAQwBAzAOBAgK726i3z4NuwICB9CAggw4LOMv7g2Y9P0912i5nlJpTiX9mjGTJyl5WDiCtLy1Ik23TOKlRpXahQ8bPGAxR2ebCgVHL3iTStiiu3Wb3V93ZUmWo9aY84BTN2PJsF8O5m2OvpY08DZUOD4F0pLfkUv7lUBGjdYmRDh7SJLFQztENdji511bz1nfonfcTgIlYou5cAhitb/bp7NHbCsCugPKXd0yG1y/jOKEQzQ7oKlPP92DgpA2VUqeQOm79FZA/F/SoH6bfwWa7tsC1uE40psgJqrQMYq7pZfSr9GFtKW1XiLvVbzAnvyn+SH2AA85W1c2w8sh4NEiLajY3NPX+jStly9N0i2Yepn493dg/Wk553FLVa+QrP62C766yyjDPkYhCbBQowB0oiH0drykL7wRbYaTtfcC9N2GdENT6SrBZfdqO0wjLTHfbpxnB2cI0ziWCsTyX1OQPrvZYmRXeeoQ569uOBGT2xXi6BSrMRDIJxyO/M/qTvLsoroB2MoCkF4t9/XZYdCDaIxSMxauQ9bHUBEkJz7srfn6OxU/2Z/PysX3sOQS5JJqeat8ryCG5MTJz69QLqDUTutBSOJ8isXC3TcjjYWzxO0jc3PmmmGIqX0D5ZLeURG1ePrkxSPKHNbMYtg/lvDNSZ6R35ApQ7EDXUVZSmlJFDnxPYjuwo9JV6W0AZMekKGdUJMOtwAy0BekBDuTAnzHRbe4QxNCbjDQXbtvOcZ1Q1DRekJtPPM20clucthlTHBgFRtoEFoIcLunY/jbpxrsjMeuKp+iuxnDVHhxxJLdtF/4WI9OKNC6sPGpqhQjGujzg+bCzYn6tuxqf5zgsEiSpqwoxIQLQ/yPJr1UXOWf6NY8AAkBjQ59ExisFGhtg88HgwC9QkMpxWBU0UOnrx7twBwlWNIVjt4yR5UMiMNOIcemZukt7GeXojcpti/mtzbaLOjCB25C6fZBBUJS7hYE3WZ+fMgyUIf1f1VqCdbVBclrduAdx9BqSCPMpjmtKN5MZewc/CNqrm8sPmjYiWI5LC1vh4dbcSpd6Pl76YV3vxPWn3cZTeDwLSU2lX7lVqS3jrj0NF8/VkVR8iS13u6baAIRN6UZNOSLwcalB/eZkRSYHqSTE4Cnh1O+qkoTX/PGYm1BIv5NKGnSJjc6+/vD3xMAIxYr4FbdCZ+VDIVRb0iAhC8hArHXjU6vHL8EAQYxeC8t5JcvfmmaDTkaymVKJz+6mNKSUhLDHJIo1h8Y4a/oVwL+bLPO8HwYQyLxVMwQLeEOc0isB1i62Kygwf+Pvg2xRgcuNwXRarsFQj+wkj0b+8vTyWVS8hTUWi9LkB95sNBwBwCKaHU6lbQBjUCApiV23F3ssJISR8nDuIgRWFYjNU8tUk4lCy0zeM0v9JzbbWm7vGfURx5CPxo4h1PL/Cw+l3QO9qG+FmawLNfF4wO3I/DaSd8aav60r7+mdj6WIcv6F5+MlFMW11kIlBwEh44umhVpzUpSFt8tI3oJ/TTzxdOgXJTg4uZk1ljOd1tXgvKG9+EpFGcFVbcm3ikljcMRY1neXFUV2p9A8tfTCFigB+j+zCQJXPDQlsgdgnBk6uwm4c7vxIEIU+ZMpv+Q2BhP69+W5RpXUo4431R5/bM8mVAmSPvMBSKYh2uZSEhGt/7rC3z61zmYGjSj8RFStBQG/Y82ZVmdFSKz+YYj/wljs1YZo2XghFfTgT/CdZyNWhLO+nHL2H9h0Po4TN5fHXsrfsyFfzIcxjfc+3iCw+Nw0IghSBDFaAkX3jV8ZF9o23vo3AopM8W+2qscnTe+wMSdrME/h7EvvnpMTBnZIpjyFw2vXoOSjitWijvbomDzyHXBwfoKqHquhPLIx7ub0xG6FhxWeKNMfxhJ0/W0Z7iHKGRXH55s05Wd3wjwnghQfFdAjftkcFEkEQIQ3xLzd1QEaRgMbYZEQkH9PYitiIbNmURaZlY5jJZwL5itouaZhsaMoPsego1e0UQfij1bUpJcFL6L4VI5eokeeAtfGguLtaKxkPuHWeWnrErnXWbI7rqFkq5fkESZSv+IaGUYZGRJ1ybpgrH6Ik7Mvi9L3kBCs6dZg6ACkDgq98kpazOCjk0JWuTHaoekTr26NBglfKWdPWke2qvKEuq9baMUkB05+PlC29TW6tvrucRiX1pO9xQjipZ7c6yF8sel/msn3Xj5EB78yPjWZjrwPst3fkFcC1kiBxSPovefaxChjG+u5nP5jbV1NGiQBk/OdIYggel74VkYQ4DANo4D+rs0s6UnzBbsMEe+qxt7ztM7AUAIXfmz0T+XD+pT5Qwv5pE/wuysSLk5KKXw/bFLRORJbzY1f03wKKlTaD7jFVbCJgy7lj2fc+sUCGdaUxmiczJc58n1RK/sqccRNQrnPyi5YYrYZ8EdvwqkHwMSIvZjT0hPw+/ooOLjN8TNPtYRnm3DDN3KN2S8iaHQOxokBD1SWzGN/v1d19+kYcG2aayosqHcr7XcAc5aQKT+M8YdZwgcTu+NsTz5o3YIG4+xIphdjiWAGWKIvlhiXDnVi5zNPt/YqnNE0Vl5mVMaPnKs31PQzErzFeF80ZQ/gSPflWadLLMcoZV3Q8VNGbcmQHuOpdS/rEBGDWE9jRGcC3i+V7CKpzt7ehNLq9b5CdX5qvkfoci/4iDNjXsR8qEMdlKjSD8H9PH7j0JP476El0TaqiuVApv+X/S10x8au086wnKu2L4dzMu9O2VV4qx1xFZI0SAD/JCVYddApkpGAweEMRHoEWqwcBwIsF2mYPmTRaU29Z4laCCMA1uCMMFcL4tM57XlptxFsZgNrWbFJdnOh0KM6TGAeXq9j6h3g0A4PaqfNAOaG5HWQBlOf5KmviO5EtcfslfL0XaS65E+fK8RoOpj0Um6b069R1NwrHy4/YdJZQFUt5EJFKa+m0MvdFxiIeiNIYhG+POH0l+6ycVz4u4nKplh0jmskj2kyNy+65TX4Y1Gg5dKVSQWfG2c5Tuim1UBB/51cS1cgS73SbdEe136kCuUg5Cc0/jm0RCS31DW/GLtrdGtgOcmPNrAk7HomiD6nHvV1yb/ghgyGKRIMmQEMOfn2ul/51Lo0sPSP++1KJKfEkqJFnjYWrmRR2x0rEf/3juYlN4GXO0YTNtfyou3DBI/mpdpHgiR1/jXKWe+h9wMWyVZt4goyQifTYSs+3L7Bx3EsrjhZQzoe/lQTywtkvLIeq5zOkRK2EPkDPjLPbD4nqp+mzQg74Y7ZGWy7DBlU97TdYyFIossYnpNxbRPodJ/xqtB5IPvCjp6uoUwRJyPNBCUCJyanVlN7R2Tju5NszpwhnN3xtcUbvA45M/b2lV4RBh6pnLi/ktajwBo331edlI4q91AGxuJvxugwPYiudkiSWnZc7LxwOPiwExivuq7Era85mci9URRnBb+EYMA4RqnFrs327POeytuMmNtGAESRA1NwlRJOTLplO7suJmnDT9A0mOfUmnkcyzah3khqCucl96w9mINmbcEoOBGp1xVske2TGhFSsDCObae0BvF2f+43ciwbxDpGTuNB9UnV8w41HV2UhZ+OjYJK0pgVlk5+vfnXEw+iJiPItSynB1HZsdqLJuEqRESRVRIozqR/bHSkv61y2Bq5isT9ZwF9FNbZuSgGoLAvuzpwN95Mx83g4MsNvYWo9EyIEGvjbecBzL9fpeunkvrD2LC8k8+sdtQQ5rPibMKV6kL6ThWbeDhXExk0vZcHos3nLBLsW5Ov/J2erN/CcJdd/CGnwzxMjfmbp2FxLFMwe4XdMsBp7WlGjMy++hRbINtwMAysboIb/YOTOylgBNSDl6uJ27MHtbLhgSyDEw18bFglqWvjvKUJKPbZE7bEw9w3HgWojsQavaqewuAp9OYyg4ZfQCApNmSievlt673v0nZ5dooS9rZroDukwIwTQpxmWaS0wo7SWkkRy99Owe08PFEsM93FrtuyTNz4+1sAWWkQrU7eU5l5C+NM9ZUhCe7jTxTBAs+VMHdMVRF5FQKPLM5CU5RIfg7RDs94TSVPEB8gG5r13+Kmf5gv1NzX8QHmrRA1k0uzF9g4btWdXhoCarB61wFXsizx3mTFEmYev5A3vb6Dn6E4Md//+gJFJ31DcmK7I1DvJCM8QV1mKQydZTef5GkrPxxCk4/kK6cbSNpaHwgNZRPoq+2q9+ZBGK8dzvWbOUwOzAfMAcGBSsOAwIaBBQYe7dTefP7Lx9vu5M0PY3co6yQXwQUiMIUs1ICQSCmLpbiC0DEBnr1JxYCAgfQ",
                  "password": "password"
                }
              },
              "productId": "Microsoft.IotHubPreview.1.0.2",
              "secretName": "secretName",
              "secretParameters": {
                "properties": {
                  "secretValue": "sslCert"
                }
              },
              "secretValue": "sslCert",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {},
              "404": {}
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AlternativeDnsNames": {
      "description": "List of alternative DNS names.",
      "type": "string"
    },
    "AlternativeIpAddresses": {
      "description": "List of alternative IP Addresses.",
      "type": "string"
    },
    "Password": {
      "description": "The password as a secure string.",
      "type": "string"
    },
    "PfxFileName": {
      "description": "The pfx certificate file location.",
      "type": "string"
    },
    "PfxPassword": {
      "description": "The pfx certificate file password as a secure string.",
      "type": "string"
    },
    "ProductSecret": {
      "allOf": [
        {
          "description": "Object model of azure resource manager base.",
          "properties": {
            "id": {
              "description": "ID of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "location": {
              "description": "Location of the resource.",
              "type": "string"
            },
            "name": {
              "description": "Name of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "type": {
              "description": "Type of Resource.",
              "readOnly": true,
              "type": "string"
            }
          },
          "type": "object",
          "x-ms-azure-resource": true
        }
      ],
      "description": "Properties for a product secret.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProductSecretProperties",
          "description": "Properties of a product secret.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "ProductSecretProperties": {
      "description": "Properties of product secret.",
      "properties": {
        "description": {
          "description": "The secret description.",
          "type": "string"
        },
        "expiresAfter": {
          "description": "The expiration period of the secret (in ISO8601 format).",
          "type": "string"
        },
        "provisioningState": {
          "description": "Provisioning state of the resource.",
          "type": "string"
        },
        "secretDescriptor": {
          "$ref": "#/definitions/SecretDescriptor",
          "description": "The secret type-specific descriptor."
        },
        "secretKind": {
          "description": "Specifies the secret kind.",
          "enum": [
            "AdHoc",
            "Certificate",
            "Password",
            "StorageAccount",
            "SymmetricKey"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "SecretKind"
          }
        },
        "secretState": {
          "$ref": "#/definitions/SecretState",
          "description": "The secret state."
        }
      },
      "type": "object"
    },
    "ProductSecretsList": {
      "description": "List of product secrets.",
      "properties": {
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        },
        "value": {
          "description": "List of product secrets.",
          "items": {
            "$ref": "#/definitions/ProductSecret"
          },
          "type": "array"
        }
      }
    },
    "SecretDescriptor": {
      "description": "The secret type-specific descriptor.",
      "properties": {
        "allowedCharacters": {
          "description": "The allowed characters in the password",
          "type": "string"
        },
        "alternativeDnsNames": {
          "description": "Alternative DNS Names.",
          "items": {
            "$ref": "#/definitions/AlternativeDnsNames"
          },
          "type": "array"
        },
        "alternativeIpAddresses": {
          "description": "The list of alternative IP addresses.",
          "items": {
            "$ref": "#/definitions/AlternativeIpAddresses"
          },
          "type": "array"
        },
        "keyLength": {
          "description": "The key length.",
          "type": "integer"
        },
        "passwordLength": {
          "description": "The minimum password length is 8 characters, and the maximum password length is 128 characters.",
          "type": "integer"
        },
        "passwordValidationRegex": {
          "description": "Password validation regular expression.",
          "type": "string"
        },
        "rotationStatus": {
          "description": "The storage account key secret rotation status.",
          "enum": [
            "None",
            "PlantNewSak",
            "RotateInactiveSak",
            "Complete"
          ],
          "type": "string",
          "x-ms-enum": {
            "modelAsString": true,
            "name": "RotationStatus"
          }
        },
        "secondaryKeyIsActive": {
          "description": "A value indicating whether the secondary or primary storage account key is active as a secret.",
          "type": "boolean"
        },
        "subject": {
          "description": "Certificate's subject",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SecretParameters": {
      "description": "Parameters required for creating/updating a product secret.",
      "properties": {
        "password": {
          "$ref": "#/definitions/Password",
          "description": "The pfx certificate file password."
        },
        "pfxFileName": {
          "$ref": "#/definitions/PfxFileName",
          "description": "The pfx certificate file location."
        },
        "pfxPassword": {
          "$ref": "#/definitions/PfxPassword",
          "description": "The pfx certificate file password."
        },
        "secretValue": {
          "$ref": "#/definitions/SecretValue",
          "description": "The secret value in a secure string format."
        },
        "symmetricKey": {
          "$ref": "#/definitions/SymmetricKey",
          "description": "The symmetric key."
        }
      },
      "type": "object"
    },
    "SecretRotationStatus": {
      "description": "Specifies the secret rotation status.",
      "enum": [
        "None",
        "InProgress",
        "Complete"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "SecretRotationStatus"
      }
    },
    "SecretState": {
      "description": "Represents the secret state.",
      "properties": {
        "expirationDate": {
          "description": "The secret expiration date.",
          "format": "date-time",
          "type": "string"
        },
        "rotationStatus": {
          "$ref": "#/definitions/SecretRotationStatus",
          "description": "the secret rotation status."
        },
        "status": {
          "$ref": "#/definitions/SecretStatus",
          "description": "The secret status."
        }
      },
      "type": "object"
    },
    "SecretStatus": {
      "description": "Specifies the secret status.",
      "enum": [
        "NotUploaded",
        "Uploaded",
        "Deployed"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "SecretStatus"
      }
    },
    "SecretValue": {
      "description": "The secret value in a secure string format.",
      "type": "string"
    },
    "SymmetricKey": {
      "description": "The symmetric key as a secure string.",
      "type": "string"
    }
  }
}