swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: The Admin Subscriptions Management Client.
  title: SubscriptionsManagementClient
  version: 2015-11-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/Manifest.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Manifest
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ManifestParameter:
    description: The manifest name.
    in: path
    name: manifestName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/manifests":
    get:
      description: Get a list of all manifests.
      operationId: Manifests_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - default: 2015-11-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ManifestList"
      tags:
        - Manifests
      x-ms-examples:
        Get a list of all manifests.:
          parameters:
            api-version: 2015-11-01
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - displayName: Compute Resource Provider
                    enabled: true
                    extensionCollection:
                      extensions:
                        - name: Microsoft_Azure_Compute
                          uri: https://compute.hosting.local.azurestack.external/compute
                      version: 1.0.0.0
                    metadata:
                      Microsoft.Insights:
                        monitoringResourceProvider:
                          apiVersions:
                            default: 2016-03-30
                            operations: 2016-03-30
                          mdsMappingResourceIdOverridePathSelector: properties.vmId
                          metrics:
                            mdmInfo:
                              - enableRegionalMdmAccount: false
                                sourceMdmAccount: AzComputeShoebox
                                sourceMdmNamespace: Shoebox
                          version: "1.0"
                    name: Microsoft-Compute--local--Default
                    namespace: Microsoft.Compute
                    providerAuthorization:
                      applicationId: a40e9da3-94ee-4180-8031-cce50fcdf9f3
                      roleDefinitionId: b24988ac-6180-42a0-ab88-20f7382dd24c
                    providerLocation: local
                    providerType: NotSpecified
                    provisioningState: Succeeded
                    resourceTypes:
                      - apiProfiles:
                          - apiVersion: 2016-03-30
                            profileVersion: 2017-03-09-profile
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-12-01
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2015-06-15
                              - 2016-03-30
                              - 2017-03-30
                              - 2017-12-01
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                            timeout: PT1M
                        inGlobalLocation: false
                        marketplaceType: NotSpecified
                        name: availabilitySets
                        resourceDeletionPolicy: NotSpecified
                        routingType: Default
                      - allowedUnauthorizedActions:
                          - Microsoft.Compute/skus/read
                        apiProfiles:
                          - apiVersion: 2016-03-30
                            profileVersion: 2017-03-09-profile
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-12-01
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2015-06-15
                              - 2016-03-30
                              - 2017-03-30
                              - 2017-12-01
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                            timeout: PT1M
                        inGlobalLocation: false
                        linkedAccessChecks:
                          - actionName: Microsoft.Compute/virtualMachines/write
                            linkedAction: Microsoft.KeyVault/vaults/deploy/action
                            linkedProperty: properties.osProfile.secrets[*].sourceVault.id
                          - actionName: Microsoft.Compute/virtualMachines/write
                            linkedAction: Microsoft.Network/networkInterfaces/join/action
                            linkedProperty: properties.networkProfile.networkInterfaces[*].id
                          - actionName: Microsoft.Compute/virtualMachines/write
                            linkedActionVerb: write
                            linkedProperty: properties.storageProfile.osDisk.managedDisk.id
                          - actionName: Microsoft.Compute/virtualMachines/write
                            linkedActionVerb: write
                            linkedProperty: properties.storageProfile.dataDisks[*].managedDisk.id
                          - actionName: Microsoft.Compute/virtualMachines/write
                            linkedActionVerb: read
                            linkedProperty: properties.storageProfile.imageReference.id
                        marketplaceType: NotSpecified
                        name: virtualMachines
                        resourceDeletionPolicy: NotSpecified
                        routingType: Default
                      - apiProfiles:
                          - apiVersion: 2016-03-30
                            profileVersion: 2017-03-09-profile
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-12-01
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2015-06-15
                              - 2016-03-30
                              - 2017-03-30
                              - 2017-12-01
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                            timeout: PT1M
                        inGlobalLocation: false
                        linkedAccessChecks:
                          - actionName: Microsoft.Compute/virtualMachines/extensions/write
                            linkedAction: Microsoft.KeyVault/vaults/deploy/action
                            linkedProperty: properties.protectedSettingsFromKeyVault.sourceVault.id
                        marketplaceType: NotSpecified
                        name: virtualMachines/extensions
                        resourceDeletionPolicy: NotSpecified
                        routingType: ProxyOnly
                      - apiProfiles:
                          - apiVersion: 2016-03-30
                            profileVersion: 2017-03-09-profile
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-12-01
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2015-06-15
                              - 2016-03-30
                              - 2017-03-30
                              - 2017-12-01
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                            timeout: PT1M
                        inGlobalLocation: false
                        marketplaceType: NotSpecified
                        name: locations
                        resourceDeletionPolicy: NotSpecified
                        routingType: ProxyOnly
                      - allowedUnauthorizedActions:
                          - Microsoft.Compute/operations/read
                        apiProfiles:
                          - apiVersion: 2016-03-30
                            profileVersion: 2017-03-09-profile
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-03-30
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2015-06-15
                              - 2016-03-30
                              - 2017-03-30
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                            timeout: PT1M
                          - apiVersions:
                              - 2017-03-30
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/694ebb8b-3cb9-4e87-89dd-49fc2be7b55d/
                            timeout: PT1M
                        inGlobalLocation: false
                        marketplaceType: NotSpecified
                        name: operations
                        resourceDeletionPolicy: NotSpecified
                        routingType: ProxyOnly, Tenant, Fanout
                      - allowedUnauthorizedActions:
                          - Microsoft.Compute/locations/operations/read
                        apiProfiles:
                          - apiVersion: 2016-03-30
                            profileVersion: 2017-03-09-profile
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-12-01
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2015-06-15
                              - 2016-03-30
                              - 2017-03-30
                              - 2017-12-01
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                            timeout: PT1M
                        inGlobalLocation: false
                        marketplaceType: NotSpecified
                        name: locations/operations
                        resourceDeletionPolicy: NotSpecified
                        routingType: ProxyOnly, LocationBased
                      - allowedUnauthorizedActions:
                          - Microsoft.Compute/locations/publishers/read
                          - Microsoft.Compute/locations/publishers/artifacttypes/offers/read
                          - Microsoft.Compute/locations/publishers/artifacttypes/offers/skus/read
                          - Microsoft.Compute/locations/publishers/artifacttypes/offers/skus/versions/read
                          - Microsoft.Compute/locations/publishers/artifacttypes/types/read
                          - Microsoft.Compute/locations/publishers/artifacttypes/types/versions/read
                        apiProfiles:
                          - apiVersion: 2016-03-30
                            profileVersion: 2017-03-09-profile
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-12-01
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2015-06-15
                              - 2016-03-30
                              - 2017-03-30
                              - 2017-12-01
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/1156be25-22bb-4ed6-99bb-e8e3615569b1/
                            timeout: PT1M
                        inGlobalLocation: false
                        marketplaceType: NotSpecified
                        name: locations/publishers
                        resourceDeletionPolicy: NotSpecified
                        routingType: ProxyOnly, LocationBased
                      - allowedUnauthorizedActions:
                          - Microsoft.Compute/locations/usages/read
                        apiProfiles:
                          - apiVersion: 2016-03-30
                            profileVersion: 2017-03-09-profile
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-12-01
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2015-06-15
                              - 2016-03-30
                              - 2017-03-30
                              - 2017-12-01
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                            timeout: PT1M
                        inGlobalLocation: false
                        marketplaceType: NotSpecified
                        name: locations/usages
                        resourceDeletionPolicy: NotSpecified
                        routingType: ProxyOnly, LocationBased
                      - allowedUnauthorizedActions:
                          - Microsoft.Compute/locations/vmSizes/read
                        apiProfiles:
                          - apiVersion: 2016-03-30
                            profileVersion: 2017-03-09-profile
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-12-01
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2015-06-15
                              - 2016-03-30
                              - 2017-03-30
                              - 2017-12-01
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                            timeout: PT1M
                        inGlobalLocation: false
                        marketplaceType: NotSpecified
                        name: locations/vmSizes
                        resourceDeletionPolicy: NotSpecified
                        routingType: ProxyOnly, LocationBased
                      - apiProfiles:
                          - apiVersion: 2016-03-30
                            profileVersion: 2017-03-09-profile
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-12-01
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2015-06-15
                              - 2016-03-30
                              - 2017-03-30
                              - 2017-12-01
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                            timeout: PT1M
                        inGlobalLocation: false
                        linkedAccessChecks:
                          - actionName: Microsoft.Compute/virtualMachineScaleSets/write
                            linkedAction: Microsoft.KeyVault/vaults/deploy/action
                            linkedProperty: properties.virtualMachineProfile.osProfile.secrets[*].sourceVault.id
                          - actionName: Microsoft.Compute/virtualMachineScaleSets/write
                            linkedAction: Microsoft.Network/virtualNetworks/subnets/join/action
                            linkedProperty: properties.virtualMachineProfile.networkProfile.networkInterfaceConfigurations[*].properties.ipConfigurations[*].properties.subnet.id
                          - actionName: Microsoft.Compute/virtualMachineScaleSets/write
                            linkedAction: Microsoft.Network/loadBalancers/backendAddressPools/join/action
                            linkedProperty: properties.virtualMachineProfile.networkProfile.networkInterfaceConfigurations[*].properties.ipConfigurations[*].properties.loadBalancerBackendAddressPools[*].id
                          - actionName: Microsoft.Compute/virtualMachineScaleSets/write
                            linkedAction: Microsoft.Network/loadBalancers/inboundNatPools/join/action
                            linkedProperty: properties.virtualMachineProfile.networkProfile.networkInterfaceConfigurations[*].properties.ipConfigurations[*].properties.loadBalancerInboundNatPools[*].id
                          - actionName: Microsoft.Compute/virtualMachineScaleSets/write
                            linkedAction: Microsoft.Network/networkSecurityGroups/join/action
                            linkedProperty: properties.virtualMachineProfile.networkProfile.networkInterfaceConfigurations[*].properties.networkSecurityGroup
                          - actionName: Microsoft.Compute/virtualMachineScaleSets/write
                            linkedAction: Microsoft.Network/loadBalancers/probes/join/action
                            linkedProperty: properties.virtualMachineProfile.networkProfile.healthProbe.id
                          - actionName: Microsoft.Compute/virtualMachineScaleSets/write
                            linkedActionVerb: read
                            linkedProperty: properties.virtualMachineProfile.storageProfile.imageReference.id
                        marketplaceType: NotSpecified
                        name: virtualMachineScaleSets
                        resourceDeletionPolicy: NotSpecified
                        routingType: Default
                      - apiProfiles:
                          - apiVersion: 2016-03-30
                            profileVersion: 2017-03-09-profile
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-12-01
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2015-06-15
                              - 2016-03-30
                              - 2017-03-30
                              - 2017-12-01
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                            timeout: PT1M
                        inGlobalLocation: false
                        linkedAccessChecks:
                          - actionName: Microsoft.Compute/virtualMachineScaleSets/extensions/write
                            linkedAction: Microsoft.KeyVault/vaults/deploy/action
                            linkedProperty: properties.protectedSettingsFromKeyVault.sourceVault.id
                        marketplaceType: NotSpecified
                        name: virtualMachineScaleSets/extensions
                        resourceDeletionPolicy: NotSpecified
                        routingType: Default
                      - apiProfiles:
                          - apiVersion: 2016-03-30
                            profileVersion: 2017-03-09-profile
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-12-01
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2015-06-15
                              - 2016-03-30
                              - 2017-03-30
                              - 2017-12-01
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                            timeout: PT1M
                        inGlobalLocation: false
                        marketplaceType: NotSpecified
                        name: virtualMachineScaleSets/virtualMachines
                        resourceDeletionPolicy: NotSpecified
                        routingType: ProxyOnly
                      - apiProfiles:
                          - apiVersion: 2016-03-30
                            profileVersion: 2017-03-09-profile
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-12-01
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2015-06-15
                              - 2016-03-30
                              - 2017-03-30
                              - 2017-12-01
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/913c9765-8a99-4884-85bc-ea58f7b5a41b/
                            timeout: PT1M
                        inGlobalLocation: false
                        marketplaceType: NotSpecified
                        name: virtualMachineScaleSets/networkInterfaces
                        resourceDeletionPolicy: NotSpecified
                        routingType: ProxyOnly
                      - apiProfiles:
                          - apiVersion: 2016-03-30
                            profileVersion: 2017-03-09-profile
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-12-01
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2015-06-15
                              - 2016-03-30
                              - 2017-03-30
                              - 2017-12-01
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/913c9765-8a99-4884-85bc-ea58f7b5a41b/
                            timeout: PT1M
                        inGlobalLocation: false
                        marketplaceType: NotSpecified
                        name: virtualMachineScaleSets/virtualMachines/networkInterfaces
                        resourceDeletionPolicy: NotSpecified
                        routingType: ProxyOnly
                      - apiProfiles:
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-03-30
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2017-03-30
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/694ebb8b-3cb9-4e87-89dd-49fc2be7b55d/
                        inGlobalLocation: false
                        linkedAccessChecks:
                          - actionName: Microsoft.Compute/disks/write
                            linkedAction: Microsoft.Storage/storageAccounts/listKeys/action
                            linkedProperty: properties.creationData.storageAccountId
                          - actionName: Microsoft.Compute/disks/write
                            linkedAction: Microsoft.Compute/disks/beginGetAccess/action
                            linkedProperty: properties.creationData.sourceResourceId
                        marketplaceType: NotSpecified
                        name: disks
                        resourceDeletionPolicy: NotSpecified
                        routingType: Default
                      - apiProfiles:
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-03-30
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2017-03-30
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/694ebb8b-3cb9-4e87-89dd-49fc2be7b55d/
                        inGlobalLocation: false
                        linkedAccessChecks:
                          - actionName: Microsoft.Compute/snapshots/write
                            linkedAction: Microsoft.Storage/storageAccounts/listKeys/action
                            linkedProperty: properties.creationData.storageAccountId
                          - actionName: Microsoft.Compute/snapshots/write
                            linkedAction: Microsoft.Compute/disks/beginGetAccess/action
                            linkedProperty: properties.creationData.sourceResourceId
                        marketplaceType: NotSpecified
                        name: snapshots
                        resourceDeletionPolicy: NotSpecified
                        routingType: Default
                      - allowedUnauthorizedActions:
                          - Microsoft.Compute/locations/diskoperations/read
                        apiProfiles:
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-03-30
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2017-03-30
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/694ebb8b-3cb9-4e87-89dd-49fc2be7b55d/
                            timeout: PT1M
                        inGlobalLocation: false
                        marketplaceType: NotSpecified
                        name: locations/diskoperations
                        resourceDeletionPolicy: NotSpecified
                        routingType: ProxyOnly, LocationBased
                      - apiProfiles:
                          - apiVersion: 2017-03-30
                            profileVersion: 2018-03-01-hybrid
                          - apiVersion: 2017-12-01
                            profileVersion: 2019-03-01-hybrid
                        endpoints:
                          - apiVersions:
                              - 2017-03-30
                              - 2017-12-01
                            enabled: true
                            endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                        inGlobalLocation: false
                        linkedAccessChecks:
                          - actionName: Microsoft.Compute/images/write
                            linkedActionVerb: write
                            linkedProperty: properties.sourceVirtualMachine.id
                        marketplaceType: NotSpecified
                        name: images
                        resourceDeletionPolicy: NotSpecified
                        routingType: Default
                    routingResourceManagerType: Default
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Subscriptions.Admin/manifests/{manifestName}":
    get:
      description: Get the specified manifest.
      operationId: Manifests_Get
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - default: 2015-11-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - $ref: "#/parameters/ManifestParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Manifest"
      tags:
        - Manifests
      x-ms-examples:
        Get the specified manifest.:
          parameters:
            api-version: 2015-11-01
            manifestName: Microsoft-Compute--local--Default
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                displayName: Compute Resource Provider
                enabled: true
                extensionCollection:
                  extensions:
                    - name: Microsoft_Azure_Compute
                      uri: https://compute.hosting.local.azurestack.external/compute
                  version: 1.0.0.0
                metadata:
                  Microsoft.Insights:
                    monitoringResourceProvider:
                      apiVersions:
                        default: 2016-03-30
                        operations: 2016-03-30
                      mdsMappingResourceIdOverridePathSelector: properties.vmId
                      metrics:
                        mdmInfo:
                          - enableRegionalMdmAccount: false
                            sourceMdmAccount: AzComputeShoebox
                            sourceMdmNamespace: Shoebox
                      version: "1.0"
                name: Microsoft-Compute--local--Default
                namespace: Microsoft.Compute
                providerAuthorization:
                  applicationId: a40e9da3-94ee-4180-8031-cce50fcdf9f3
                  roleDefinitionId: b24988ac-6180-42a0-ab88-20f7382dd24c
                providerLocation: local
                providerType: NotSpecified
                provisioningState: Succeeded
                resourceTypes:
                  - apiProfiles:
                      - apiVersion: 2016-03-30
                        profileVersion: 2017-03-09-profile
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-12-01
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2015-06-15
                          - 2016-03-30
                          - 2017-03-30
                          - 2017-12-01
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                        timeout: PT1M
                    inGlobalLocation: false
                    marketplaceType: NotSpecified
                    name: availabilitySets
                    resourceDeletionPolicy: NotSpecified
                    routingType: Default
                  - allowedUnauthorizedActions:
                      - Microsoft.Compute/skus/read
                    apiProfiles:
                      - apiVersion: 2016-03-30
                        profileVersion: 2017-03-09-profile
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-12-01
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2015-06-15
                          - 2016-03-30
                          - 2017-03-30
                          - 2017-12-01
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                        timeout: PT1M
                    inGlobalLocation: false
                    linkedAccessChecks:
                      - actionName: Microsoft.Compute/virtualMachines/write
                        linkedAction: Microsoft.KeyVault/vaults/deploy/action
                        linkedProperty: properties.osProfile.secrets[*].sourceVault.id
                      - actionName: Microsoft.Compute/virtualMachines/write
                        linkedAction: Microsoft.Network/networkInterfaces/join/action
                        linkedProperty: properties.networkProfile.networkInterfaces[*].id
                      - actionName: Microsoft.Compute/virtualMachines/write
                        linkedActionVerb: write
                        linkedProperty: properties.storageProfile.osDisk.managedDisk.id
                      - actionName: Microsoft.Compute/virtualMachines/write
                        linkedActionVerb: write
                        linkedProperty: properties.storageProfile.dataDisks[*].managedDisk.id
                      - actionName: Microsoft.Compute/virtualMachines/write
                        linkedActionVerb: read
                        linkedProperty: properties.storageProfile.imageReference.id
                    marketplaceType: NotSpecified
                    name: virtualMachines
                    resourceDeletionPolicy: NotSpecified
                    routingType: Default
                  - apiProfiles:
                      - apiVersion: 2016-03-30
                        profileVersion: 2017-03-09-profile
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-12-01
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2015-06-15
                          - 2016-03-30
                          - 2017-03-30
                          - 2017-12-01
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                        timeout: PT1M
                    inGlobalLocation: false
                    linkedAccessChecks:
                      - actionName: Microsoft.Compute/virtualMachines/extensions/write
                        linkedAction: Microsoft.KeyVault/vaults/deploy/action
                        linkedProperty: properties.protectedSettingsFromKeyVault.sourceVault.id
                    marketplaceType: NotSpecified
                    name: virtualMachines/extensions
                    resourceDeletionPolicy: NotSpecified
                    routingType: ProxyOnly
                  - apiProfiles:
                      - apiVersion: 2016-03-30
                        profileVersion: 2017-03-09-profile
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-12-01
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2015-06-15
                          - 2016-03-30
                          - 2017-03-30
                          - 2017-12-01
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                        timeout: PT1M
                    inGlobalLocation: false
                    marketplaceType: NotSpecified
                    name: locations
                    resourceDeletionPolicy: NotSpecified
                    routingType: ProxyOnly
                  - allowedUnauthorizedActions:
                      - Microsoft.Compute/operations/read
                    apiProfiles:
                      - apiVersion: 2016-03-30
                        profileVersion: 2017-03-09-profile
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-03-30
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2015-06-15
                          - 2016-03-30
                          - 2017-03-30
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                        timeout: PT1M
                      - apiVersions:
                          - 2017-03-30
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/694ebb8b-3cb9-4e87-89dd-49fc2be7b55d/
                        timeout: PT1M
                    inGlobalLocation: false
                    marketplaceType: NotSpecified
                    name: operations
                    resourceDeletionPolicy: NotSpecified
                    routingType: ProxyOnly, Tenant, Fanout
                  - allowedUnauthorizedActions:
                      - Microsoft.Compute/locations/operations/read
                    apiProfiles:
                      - apiVersion: 2016-03-30
                        profileVersion: 2017-03-09-profile
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-12-01
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2015-06-15
                          - 2016-03-30
                          - 2017-03-30
                          - 2017-12-01
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                        timeout: PT1M
                    inGlobalLocation: false
                    marketplaceType: NotSpecified
                    name: locations/operations
                    resourceDeletionPolicy: NotSpecified
                    routingType: ProxyOnly, LocationBased
                  - allowedUnauthorizedActions:
                      - Microsoft.Compute/locations/publishers/read
                      - Microsoft.Compute/locations/publishers/artifacttypes/offers/read
                      - Microsoft.Compute/locations/publishers/artifacttypes/offers/skus/read
                      - Microsoft.Compute/locations/publishers/artifacttypes/offers/skus/versions/read
                      - Microsoft.Compute/locations/publishers/artifacttypes/types/read
                      - Microsoft.Compute/locations/publishers/artifacttypes/types/versions/read
                    apiProfiles:
                      - apiVersion: 2016-03-30
                        profileVersion: 2017-03-09-profile
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-12-01
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2015-06-15
                          - 2016-03-30
                          - 2017-03-30
                          - 2017-12-01
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/1156be25-22bb-4ed6-99bb-e8e3615569b1/
                        timeout: PT1M
                    inGlobalLocation: false
                    marketplaceType: NotSpecified
                    name: locations/publishers
                    resourceDeletionPolicy: NotSpecified
                    routingType: ProxyOnly, LocationBased
                  - allowedUnauthorizedActions:
                      - Microsoft.Compute/locations/usages/read
                    apiProfiles:
                      - apiVersion: 2016-03-30
                        profileVersion: 2017-03-09-profile
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-12-01
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2015-06-15
                          - 2016-03-30
                          - 2017-03-30
                          - 2017-12-01
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                        timeout: PT1M
                    inGlobalLocation: false
                    marketplaceType: NotSpecified
                    name: locations/usages
                    resourceDeletionPolicy: NotSpecified
                    routingType: ProxyOnly, LocationBased
                  - allowedUnauthorizedActions:
                      - Microsoft.Compute/locations/vmSizes/read
                    apiProfiles:
                      - apiVersion: 2016-03-30
                        profileVersion: 2017-03-09-profile
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-12-01
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2015-06-15
                          - 2016-03-30
                          - 2017-03-30
                          - 2017-12-01
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                        timeout: PT1M
                    inGlobalLocation: false
                    marketplaceType: NotSpecified
                    name: locations/vmSizes
                    resourceDeletionPolicy: NotSpecified
                    routingType: ProxyOnly, LocationBased
                  - apiProfiles:
                      - apiVersion: 2016-03-30
                        profileVersion: 2017-03-09-profile
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-12-01
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2015-06-15
                          - 2016-03-30
                          - 2017-03-30
                          - 2017-12-01
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                        timeout: PT1M
                    inGlobalLocation: false
                    linkedAccessChecks:
                      - actionName: Microsoft.Compute/virtualMachineScaleSets/write
                        linkedAction: Microsoft.KeyVault/vaults/deploy/action
                        linkedProperty: properties.virtualMachineProfile.osProfile.secrets[*].sourceVault.id
                      - actionName: Microsoft.Compute/virtualMachineScaleSets/write
                        linkedAction: Microsoft.Network/virtualNetworks/subnets/join/action
                        linkedProperty: properties.virtualMachineProfile.networkProfile.networkInterfaceConfigurations[*].properties.ipConfigurations[*].properties.subnet.id
                      - actionName: Microsoft.Compute/virtualMachineScaleSets/write
                        linkedAction: Microsoft.Network/loadBalancers/backendAddressPools/join/action
                        linkedProperty: properties.virtualMachineProfile.networkProfile.networkInterfaceConfigurations[*].properties.ipConfigurations[*].properties.loadBalancerBackendAddressPools[*].id
                      - actionName: Microsoft.Compute/virtualMachineScaleSets/write
                        linkedAction: Microsoft.Network/loadBalancers/inboundNatPools/join/action
                        linkedProperty: properties.virtualMachineProfile.networkProfile.networkInterfaceConfigurations[*].properties.ipConfigurations[*].properties.loadBalancerInboundNatPools[*].id
                      - actionName: Microsoft.Compute/virtualMachineScaleSets/write
                        linkedAction: Microsoft.Network/networkSecurityGroups/join/action
                        linkedProperty: properties.virtualMachineProfile.networkProfile.networkInterfaceConfigurations[*].properties.networkSecurityGroup
                      - actionName: Microsoft.Compute/virtualMachineScaleSets/write
                        linkedAction: Microsoft.Network/loadBalancers/probes/join/action
                        linkedProperty: properties.virtualMachineProfile.networkProfile.healthProbe.id
                      - actionName: Microsoft.Compute/virtualMachineScaleSets/write
                        linkedActionVerb: read
                        linkedProperty: properties.virtualMachineProfile.storageProfile.imageReference.id
                    marketplaceType: NotSpecified
                    name: virtualMachineScaleSets
                    resourceDeletionPolicy: NotSpecified
                    routingType: Default
                  - apiProfiles:
                      - apiVersion: 2016-03-30
                        profileVersion: 2017-03-09-profile
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-12-01
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2015-06-15
                          - 2016-03-30
                          - 2017-03-30
                          - 2017-12-01
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                        timeout: PT1M
                    inGlobalLocation: false
                    linkedAccessChecks:
                      - actionName: Microsoft.Compute/virtualMachineScaleSets/extensions/write
                        linkedAction: Microsoft.KeyVault/vaults/deploy/action
                        linkedProperty: properties.protectedSettingsFromKeyVault.sourceVault.id
                    marketplaceType: NotSpecified
                    name: virtualMachineScaleSets/extensions
                    resourceDeletionPolicy: NotSpecified
                    routingType: Default
                  - apiProfiles:
                      - apiVersion: 2016-03-30
                        profileVersion: 2017-03-09-profile
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-12-01
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2015-06-15
                          - 2016-03-30
                          - 2017-03-30
                          - 2017-12-01
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                        timeout: PT1M
                    inGlobalLocation: false
                    marketplaceType: NotSpecified
                    name: virtualMachineScaleSets/virtualMachines
                    resourceDeletionPolicy: NotSpecified
                    routingType: ProxyOnly
                  - apiProfiles:
                      - apiVersion: 2016-03-30
                        profileVersion: 2017-03-09-profile
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-12-01
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2015-06-15
                          - 2016-03-30
                          - 2017-03-30
                          - 2017-12-01
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/913c9765-8a99-4884-85bc-ea58f7b5a41b/
                        timeout: PT1M
                    inGlobalLocation: false
                    marketplaceType: NotSpecified
                    name: virtualMachineScaleSets/networkInterfaces
                    resourceDeletionPolicy: NotSpecified
                    routingType: ProxyOnly
                  - apiProfiles:
                      - apiVersion: 2016-03-30
                        profileVersion: 2017-03-09-profile
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-12-01
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2015-06-15
                          - 2016-03-30
                          - 2017-03-30
                          - 2017-12-01
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/913c9765-8a99-4884-85bc-ea58f7b5a41b/
                        timeout: PT1M
                    inGlobalLocation: false
                    marketplaceType: NotSpecified
                    name: virtualMachineScaleSets/virtualMachines/networkInterfaces
                    resourceDeletionPolicy: NotSpecified
                    routingType: ProxyOnly
                  - apiProfiles:
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-03-30
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2017-03-30
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/694ebb8b-3cb9-4e87-89dd-49fc2be7b55d/
                    inGlobalLocation: false
                    linkedAccessChecks:
                      - actionName: Microsoft.Compute/disks/write
                        linkedAction: Microsoft.Storage/storageAccounts/listKeys/action
                        linkedProperty: properties.creationData.storageAccountId
                      - actionName: Microsoft.Compute/disks/write
                        linkedAction: Microsoft.Compute/disks/beginGetAccess/action
                        linkedProperty: properties.creationData.sourceResourceId
                    marketplaceType: NotSpecified
                    name: disks
                    resourceDeletionPolicy: NotSpecified
                    routingType: Default
                  - apiProfiles:
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-03-30
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2017-03-30
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/694ebb8b-3cb9-4e87-89dd-49fc2be7b55d/
                    inGlobalLocation: false
                    linkedAccessChecks:
                      - actionName: Microsoft.Compute/snapshots/write
                        linkedAction: Microsoft.Storage/storageAccounts/listKeys/action
                        linkedProperty: properties.creationData.storageAccountId
                      - actionName: Microsoft.Compute/snapshots/write
                        linkedAction: Microsoft.Compute/disks/beginGetAccess/action
                        linkedProperty: properties.creationData.sourceResourceId
                    marketplaceType: NotSpecified
                    name: snapshots
                    resourceDeletionPolicy: NotSpecified
                    routingType: Default
                  - allowedUnauthorizedActions:
                      - Microsoft.Compute/locations/diskoperations/read
                    apiProfiles:
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-03-30
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2017-03-30
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/694ebb8b-3cb9-4e87-89dd-49fc2be7b55d/
                        timeout: PT1M
                    inGlobalLocation: false
                    marketplaceType: NotSpecified
                    name: locations/diskoperations
                    resourceDeletionPolicy: NotSpecified
                    routingType: ProxyOnly, LocationBased
                  - apiProfiles:
                      - apiVersion: 2017-03-30
                        profileVersion: 2018-03-01-hybrid
                      - apiVersion: 2017-12-01
                        profileVersion: 2019-03-01-hybrid
                    endpoints:
                      - apiVersions:
                          - 2017-03-30
                          - 2017-12-01
                        enabled: true
                        endpointUri: https://NonPrivilegedAppGateway.azurestack.local:8886/ResourceGUID/a6acb59b-5ac4-41c4-b8e8-3754d2169ac0/
                    inGlobalLocation: false
                    linkedAccessChecks:
                      - actionName: Microsoft.Compute/images/write
                        linkedActionVerb: write
                        linkedProperty: properties.sourceVirtualMachine.id
                    marketplaceType: NotSpecified
                    name: images
                    resourceDeletionPolicy: NotSpecified
                    routingType: Default
                routingResourceManagerType: Default
definitions:
  ApiProfile:
    description: Represents the API profile.
    properties:
      apiVersion:
        description: The API version.
        type: string
      profileVersion:
        description: The profile version.
        type: string
  ApiProfileList:
    description: List of the API profiles.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: List of the API profiles.
        items:
          $ref: "#/definitions/ApiProfile"
        type: array
  AuthorizationActionMapping:
    description: The linked resource access checks.
    properties:
      desired:
        description: The desired action name.
        type: string
      original:
        description: The original action name.
        type: string
  AuthorizationActionMappingList:
    description: List of the read-only actions.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: List of the read-only actions.
        items:
          $ref: "#/definitions/AuthorizationActionMapping"
        type: array
  AzureResourceHydrationAccount:
    description: The API versions supported by the endpoint.
    properties:
      accountName:
        description: The account name.
        type: string
      encryptedKey:
        description: The encrypted key.
        type: string
      maxChildResourceConsistencyJobLimit:
        description: The next child resource consistency job limit.
        type: integer
      subscriptionId:
        description: The subscription identifier.
        type: string
  AzureResourceHydrationAccountList:
    description: List of the resource hydration accounts.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: List of the resource hydration accounts.
        items:
          $ref: "#/definitions/AzureResourceHydrationAccount"
        type: array
  ExtensionCollectionDefinition:
    description: The manifest extension collection definition.
    properties:
      extensions:
        $ref: "#/definitions/ExtensionList"
        description: The extensions.
      version:
        description: The version of the format a.b[.c[.d]]. see System.Version documentation for more details.
        type: string
    type: object
  ExtensionDefinition:
    description: The data contract for specifying extensions in resource provider manifests.
    properties:
      name:
        description: The name.
        type: string
      obsoleteBundlesBitmask:
        description: The obsolete bundles bitmask.
        type: integer
      properties:
        $ref: "#/definitions/ExtensionPropertiesDefinition"
        description: The extension properties.
      resourceAccess:
        $ref: "#/definitions/ResourceAccessList"
        description: The resource access.
      uri:
        description: The Uri
        type: string
    type: object
  ExtensionList:
    description: List of the extensions.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: List of the extensions.
        items:
          $ref: "#/definitions/ExtensionDefinition"
        type: array
  ExtensionPropertiesDefinition:
    description: The extension properties definition.
    properties:
      quotaCreateBladeName:
        description: The quota create blade.
        type: string
      resourceProviderDashboardBladeName:
        description: The resource provider dashboard blade.
        type: string
    type: object
  FanoutLinkedNotificationRule:
    description: The fan-out linked notification rule.
    properties:
      actions:
        description: The list of actions.
        items:
          type: string
        type: array
      endpoints:
        $ref: "#/definitions/ResourceProviderEndpointList"
        description: The list of endpoint uris.
  FanoutLinkedNotificationRuleList:
    description: List of the linked notification rules.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: List of the linked notification rules.
        items:
          $ref: "#/definitions/FanoutLinkedNotificationRule"
        type: array
  LinkedAccessCheck:
    description: The linked resource access checks.
    properties:
      actionName:
        description: The action name.
        type: string
      linkedAction:
        description: The linked action.
        type: string
      linkedActionVerb:
        description: The linked action verb.
        type: string
      linkedProperty:
        description: The linked property.
        type: string
      linkedType:
        description: The linked type.
        type: string
  LinkedAccessCheckList:
    description: List of the linked access checks.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: List of the linked access checks.
        items:
          $ref: "#/definitions/LinkedAccessCheck"
        type: array
  LinkedAction:
    description: The resource type linked action.
    enum:
      - NotSpecified
      - Blocked
      - Validate
      - Enabled
    type: string
    x-ms-enum:
      modelAsString: true
      name: LinkedAction
      values:
        - description: The action is not specified.
          name: NotSpecified
          value: NotSpecified
        - description: The operation is blocked.
          name: Blocked
          value: Blocked
        - description: The operation must be validated.
          name: Validate
          value: Validate
        - description: The operation must be Enabled.
          name: Enabled
          value: Enabled
  LinkedNotificationRule:
    description: The linked notification rule.
    properties:
      actions:
        description: List of actions.
        items:
          type: string
        type: array
  LinkedNotificationRuleList:
    description: List of the linked notification rules.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: List of the linked notification rules.
        items:
          $ref: "#/definitions/LinkedNotificationRule"
        type: array
  LinkedOperation:
    description: The linked operation.
    enum:
      - None
      - CrossResourceGroupResourceMove
      - CrossSubscriptionResourceMove
    type: string
    x-ms-enum:
      modelAsString: true
      name: LinkedOperation
      values:
        - description: The operation is none.
          name: None
          value: None
        - description: Move resources between resource groups within the same subscription.
          name: CrossResourceGroupResourceMove
          value: CrossResourceGroupResourceMove
        - description: Move resources across subscriptions.
          name: CrossSubscriptionResourceMove
          value: CrossSubscriptionResourceMove
  LinkedOperationRule:
    description: The linked resource access checks.
    properties:
      dependsOnTypes:
        description: The list of resource types this rule depends on.
        items:
          type: string
        type: array
      linkedAction:
        $ref: "#/definitions/LinkedAction"
        description: The linked action.
      linkedOperation:
        $ref: "#/definitions/LinkedOperation"
        description: The linked operation.
  LinkedOperationRuleList:
    description: List of the linked operation rules.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: List of the linked operation rules.
        items:
          $ref: "#/definitions/LinkedOperationRule"
        type: array
  Manifest:
    description: The manifest.
    properties:
      alwaysRoutable:
        description: A value indicating whether the manifest is always routable by all subscriptions.
        type: boolean
      displayName:
        description: The display name.
        type: string
      enabled:
        description: A value indicating whether this resource provider is enabled.
        type: boolean
      extensionCollection:
        $ref: "#/definitions/ExtensionCollectionDefinition"
        description: The extensions.
      linkedNotificationRules:
        $ref: "#/definitions/FanoutLinkedNotificationRuleList"
        description: The linked notification rules.
      metadata:
        description: The metadata.
        type: object
      name:
        description: The unique identifier of the registration.
        type: string
      namespace:
        description: The namespace.
        type: string
      providerAuthorization:
        $ref: "#/definitions/ResourceProviderAuthorization"
        description: The resource provider authorization.
      providerLocation:
        description: The location of the provider.
        type: string
      providerType:
        $ref: "#/definitions/ResourceProviderType"
        description: The type of the provider.
      provisioningState:
        $ref: "#/definitions/ManifestProvisioningState"
        description: The provisioning state.
      resourceGroupName:
        description: The name of the resource group.
        type: string
      resourceHydrationAccounts:
        $ref: "#/definitions/AzureResourceHydrationAccountList"
        description: The resource hydration accounts.
      resourceLocation:
        description: The location of the resource.
        type: string
      resourceTags:
        description: The resource tags.
        type: object
      resourceTypes:
        $ref: "#/definitions/ResourceTypeList"
        description: The resource types
      routingResourceManagerType:
        description: Resource manager type.
        enum:
          - Default
          - Admin
        type: string
        x-ms-enum:
          modelAsString: true
          name: ResourceManagerType
      subscriptionId:
        description: The subscription ID under which RP is registered.
        type: string
    type: object
  ManifestList:
    description: List of manifests.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: List of manifests.
        items:
          $ref: "#/definitions/Manifest"
        type: array
  ManifestProvisioningState:
    description: The provisioning state.
    enum:
      - Accepted
      - Creating
      - Deleting
      - Moving
      - Failed
      - Succeeded
    type: string
    x-ms-enum:
      modelAsString: true
      name: ManifestProvisioningState
      values:
        - description: The accepted provisioning state.
          name: Accepted
          value: Accepted
        - description: The creating provisioning state.
          name: Creating
          value: Creating
        - description: The deleting provisioning state.
          name: Deleting
          value: Deleting
        - description: The moving provisioning state.
          name: Moving
          value: Moving
        - description: The failed provisioning state.
          name: Failed
          value: Failed
        - description: The succeeded provisioning state.
          name: Succeeded
          value: Succeeded
  MarketplaceType:
    description: The type of marketplace behavior for the resource type.
    enum:
      - NotSpecified
      - AddOn
    type: string
    x-ms-enum:
      modelAsString: true
      name: MarketplaceType
      values:
        - description: The marketplace type is not specified.
          name: NotSpecified
          value: NotSpecified
        - description: The marketplace offer is an add-on to a resource.
          name: AddOn
          value: AddOn
  ResourceAccess:
    description: Extension Client Access Section.
    properties:
      name:
        description: The name.
        type: string
      resource:
        description: The resource.
        type: string
    type: object
  ResourceAccessList:
    description: List of the resource access.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: List of the resource access.
        items:
          $ref: "#/definitions/ResourceAccess"
        type: array
  ResourceDeletionPolicy:
    description: The resource deletion policy.
    enum:
      - NotSpecified
      - Cascade
    type: string
    x-ms-enum:
      modelAsString: true
      name: ResourceDeletionPolicy
      values:
        - description: The resource deletion policy is not specified.
          name: NotSpecified
          value: NotSpecified
        - description: The resource deletion policy is cascade.
          name: Cascade
          value: Cascade
  ResourceProviderAuthorization:
    description: The resource provider authorization information.
    properties:
      applicationId:
        description: The application id of resource provider in AAD.
        type: string
      roleDefinitionId:
        description: The role definition identifier against which a role assignment is created.
        type: string
  ResourceProviderEndpoint:
    description: The API versions supported by the endpoint.
    properties:
      apiVersions:
        description: The API versions supported by the endpoint.
        items:
          type: string
        type: array
      enabled:
        description: The enabled.
        type: boolean
      endpointUri:
        description: The endpoint uri.
        type: string
      timeout:
        description: The timeout.
        type: string
  ResourceProviderEndpointList:
    description: List of the resource provider endpoints.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: List of the resource provider endpoints.
        items:
          $ref: "#/definitions/ResourceProviderEndpoint"
        type: array
  ResourceProviderType:
    description: The resource provider type.
    enum:
      - NotSpecified
      - Internal
      - External
      - RegistrationFree
      - TenantOnly
      - AlwaysRoutable
    type: string
    x-ms-enum:
      modelAsString: true
      name: ResourceProviderType
      values:
        - description: The resource provider type is not specified.
          name: NotSpecified
          value: NotSpecified
        - description: The resource provider type is internal.
          name: Internal
          value: Internal
        - description: The resource provider type is external. This is used for 3rd party resource providers.
          name: External
          value: External
        - description: The resource provider doesn't require subscription registrations.
          name: RegistrationFree
          value: RegistrationFree
        - description: The resource provider operates only at tenant level.
          name: TenantOnly
          value: TenantOnly
        - description: The resource provider can always be routed to without explicit access via plan.
          name: AlwaysRoutable
          value: AlwaysRoutable
  ResourceType:
    description: The resource type definition.
    properties:
      allowedUnauthorizedActions:
        description: The allowed unauthorized actions.
        items:
          type: string
        type: array
      apiProfiles:
        $ref: "#/definitions/ApiProfileList"
        description: The API profiles.
      authorizationActionMappings:
        $ref: "#/definitions/AuthorizationActionMappingList"
        description: The read-only actions.
      endpoints:
        $ref: "#/definitions/ResourceProviderEndpointList"
        description: The resource provider endpoints.
      inGlobalLocation:
        description: A value indicating whether the resource type is in global location.
        type: boolean
      linkedAccessChecks:
        $ref: "#/definitions/LinkedAccessCheckList"
        description: The linked access checks.
      linkedNotificationRules:
        $ref: "#/definitions/LinkedNotificationRuleList"
        description: The linked notification rules.
      linkedOperationRules:
        $ref: "#/definitions/LinkedOperationRuleList"
        description: The linked operation rules.
      marketplaceType:
        $ref: "#/definitions/MarketplaceType"
        description: The resource type behavior in the marketplace.
      meteredResourceIds:
        description: The metered resource ids.
        items:
          type: string
        type: array
      name:
        description: The name.
        type: string
      resourceDeletionPolicy:
        $ref: "#/definitions/ResourceDeletionPolicy"
        description: The resource deletion policy.
      routingType:
        $ref: "#/definitions/RoutingType"
        description: The resource routing type.
    type: object
  ResourceTypeList:
    description: List of the resource types.
    properties:
      nextLink:
        description: URI to next page.
        type: string
      value:
        description: List of the resource types.
        items:
          $ref: "#/definitions/ResourceType"
        type: array
  RoutingType:
    description: The resource routing type.
    enum:
      - Default
      - ProxyOnly
      - HostBased
      - Extension
      - Tenant
      - Fanout
      - LocationBased
    type: string
    x-ms-enum:
      modelAsString: true
      name: RoutingType
      values:
        - description: The resource routing type is default.
          name: Default
          value: Default
        - description: The resource routing type is proxy only.
          name: ProxyOnly
          value: ProxyOnly
        - description: The resource routing type is host based.
          name: HostBased
          value: HostBased
        - description: The resource routing type is extension.
          name: Extension
          value: Extension
        - description: The resource routing type is tenant.
          name: Tenant
          value: Tenant
        - description: The resource routing type is fan out.
          name: Fanout
          value: Fanout
        - description: The resource routing type is Location based.
          name: LocationBased
          value: LocationBased
