swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Streaming resource management client for Azure Media Services
  title: Azure Media Services
  version: 2018-03-30-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mediaservices/resource-manager/Microsoft.Media/preview/2018-03-30-preview/streamingservice.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: mediaservices-streamingservice
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: Impersonate your user account
    type: oauth2
parameters:
  ApiVersion:
    description: The Version of the API to be used with the client request.
    in: query
    name: api-version
    required: true
    type: string
  LiveEventName:
    description: The name of the Live Event.
    in: path
    maxLength: 32
    minLength: 1
    name: liveEventName
    pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
    required: true
    type: string
    x-ms-parameter-location: method
  LiveOutputName:
    description: The name of the Live Output.
    in: path
    maxLength: 256
    minLength: 1
    name: liveOutputName
    pattern: ^([a-zA-Z0-9])+(-*[a-zA-Z0-9])*$
    required: true
    type: string
    x-ms-parameter-location: method
  MediaServicesAccountName:
    description: The Media Services account name.
    in: path
    name: accountName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupName:
    description: The name of the resource group within the Azure subscription.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  StreamingEndpointName:
    description: The name of the StreamingEndpoint.
    in: path
    maxLength: 24
    minLength: 1
    name: streamingEndpointName
    pattern: ^[a-zA-Z0-9]+(-*[a-zA-Z0-9])*$
    required: true
    type: string
    x-ms-parameter-location: method
  StreamingResourceAutoStart:
    description: The flag indicates if auto start the Live Event.
    in: query
    name: autoStart
    required: false
    type: boolean
    x-ms-parameter-location: method
  SubscriptionId:
    description: The unique identifier for a Microsoft Azure subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/liveEvents":
    get:
      description: Lists the Live Events in the account.
      operationId: LiveEvents_List
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/LiveEventListResult"
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: List Live Events
      tags:
        - LiveEvents
      x-ms-examples:
        List all LiveEvents:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1
                    location: West US
                    name: myLiveEvent1
                    properties:
                      created: 2018-03-03T02:25:08.5564064Z
                      crossSiteAccessPolicies:
                        clientAccessPolicy: null
                        crossDomainPolicy: null
                      description: test event 1
                      encoding:
                        encodingType: None
                        presetName: null
                      input:
                        accessToken: de153bb0814542d9b7e2339ce9430dc4
                        endpoints:
                          - protocol: FragmentedMP4
                            url: http://clouddeployment.media-test.net/de153bb0814542d9b7e2339ce9430dc4/ingest.isml
                        keyFrameIntervalDuration: PT6S
                        streamingProtocol: FragmentedMP4
                      lastModified: 2018-03-03T02:25:08.5564064Z
                      preview:
                        accessControl:
                          ip:
                            allow:
                              - address: 0.0.0.0
                                name: AllowAll
                                subnetPrefixLength: null
                        endpoints:
                          - protocol: FragmentedMP4
                            url: https://myliveevent1-slitestmedia10.preview-usso.channel.mediaservices.windows.net/a220e223-faf8-4e03-b9a9-2c2432f48025/preview.ism/manifest
                        previewLocator: a220e223-faf8-4e03-b9a9-2c2432f48025
                        streamingPolicyName: null
                      provisioningState: Succeeded
                      resourceState: Stopped
                      streamOptions: []
                      vanityUrl: false
                    tags:
                      tag1: value1
                      tag2: value2
                    type: Microsoft.Media/mediaservices/liveevents
      x-ms-pageable:
        nextLinkName: "@odata.nextLink"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/liveEvents/{liveEventName}":
    delete:
      description: Deletes a Live Event.
      operationId: LiveEvents_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/LiveEventName"
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK. The request has succeeded.
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
        "204":
          description: No content. The request has been accepted but the Live Event was not found.
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: Delete Live Event
      tags:
        - LiveEvents
      x-ms-examples:
        Delete a LiveEvent:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            liveEventName: myLiveEvent1
            parameters:
              Location: West US
              Name: myLiveEvent1
              Tags:
                DynamicProperties:
                  tag1: value1
                  tag2: value2
              Type: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourcegroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents
              id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1
              properties:
                Created: 2018-03-02T18:25:07.5748853-08:00
                CrossSiteAccessPolicies: null
                Description: test event updated
                Encoding:
                  EncodingType: None
                  PresetName: null
                Input:
                  AccessToken: null
                  Endpoints: []
                  KeyFrameIntervalDuration: PT6S
                  StreamingProtocol: FragmentedMP4
                LastModified: 2018-03-02T18:25:07.5748853-08:00
                Preview:
                  AccessControl:
                    IP:
                      Allow:
                        - Address: 192.1.1.0
                          Name: AllowOne
                          SubnetPrefixLength: null
                  Endpoints: []
                  PreviewLocator: null
                  streamingPolicyName: null
                ProvisioningState: null
                ResourceState: Stopped
                StreamOptions: []
                VanityUrl: false
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets a Live Event.
      operationId: LiveEvents_Get
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/LiveEventName"
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/LiveEvent"
        "404":
          description: NotFound
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: Get Live Event
      tags:
        - LiveEvents
      x-ms-examples:
        Get a LiveEvent by name:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            liveEventName: myLiveEvent1
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1
                location: West US
                name: myLiveEvent1
                properties:
                  created: 2018-03-03T02:25:08.3474032Z
                  crossSiteAccessPolicies:
                    clientAccessPolicy: <access-policy><cross-domain-access><policy><allow-from http-methods="*"><domain uri="http://*"/></allow-from><grant-to><resource path="/" include-subpaths="true"/></grant-to></policy></cross-domain-access></access-policy>
                    crossDomainPolicy: <cross-domain-policy><allow-access-from domain="*" secure="false" /></cross-domain-policy>
                  description: ""
                  encoding:
                    encodingType: None
                    presetName: null
                  input:
                    accessToken: null
                    endpoints:
                      - protocol: FragmentedMP4
                        url: http://clouddeployment.media-test.net/ingest.isml
                    keyFrameIntervalDuration: PT6S
                    streamingProtocol: FragmentedMP4
                  lastModified: 2018-03-03T02:25:08.3474032Z
                  preview:
                    accessControl:
                      ip:
                        allow:
                          - address: 0.0.0.0
                            name: AllowAll
                            subnetPrefixLength: 0
                    endpoints:
                      - protocol: FragmentedMP4
                        url: https://testeventopito4idh2r-weibzmedia05.preview-ts051.channel.media-test.windows-int.net/763f3ea4-d94f-441c-a634-c833f61a4e04/preview.ism/manifest
                    previewLocator: 763f3ea4-d94f-441c-a634-c833f61a4e04
                    streamingPolicyName: null
                  provisioningState: Succeeded
                  resourceState: Stopped
                  streamOptions:
                    - Default
                  vanityUrl: false
                tags: {}
                type: Microsoft.Media/mediaservices/liveevents
            "404": {}
    patch:
      description: Updates a existing Live Event.
      operationId: LiveEvents_Update
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/LiveEventName"
        - $ref: "#/parameters/ApiVersion"
        - description: Live Event properties needed for creation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/LiveEvent"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/LiveEvent"
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/LiveEvent"
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      tags:
        - LiveEvents
      x-ms-examples:
        Update a LiveEvent:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            liveEventName: myLiveEvent1
            parameters:
              id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1
              location: West US
              name: myLiveEvent1
              properties:
                description: test event updated
                input:
                  keyFrameIntervalDuration: PT6S
                  streamingProtocol: FragmentedMP4
                preview:
                  accessControl:
                    ip:
                      allow:
                        - address: 192.1.1.0
                          name: AllowOne
              tags:
                tag1: value1
                tag2: value2
                tag3: value3
              type: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourcegroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1
                location: West US
                name: myLiveEvent1
                properties:
                  created: 0001-01-01T00:00:00Z
                  description: test event updated
                  encoding:
                    encodingType: None
                    presetName: null
                  input:
                    accessToken: c638baac3195406a84d7ff3bcba8bde4
                    endpoints: []
                    keyFrameIntervalDuration: PT6S
                    streamingProtocol: FragmentedMP4
                  lastModified: 0001-01-01T00:00:00Z
                  preview:
                    accessControl:
                      ip:
                        allow:
                          - address: 192.1.1.0
                            name: AllowOne
                            subnetPrefixLength: null
                    endpoints: []
                    previewLocator: c10ea3fc-587f-4daf-b2b2-fa8f647a9ed2
                    streamingPolicyName: null
                  provisioningState: InProgress
                  resourceState: Running
                  streamOptions: []
                  vanityUrl: false
                tags:
                  tag1: value1
                  tag2: value2
                  tag3: value3
                type: Microsoft.Media/mediaservices/liveevents
            "202":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1
                location: West US
                name: myLiveEvent1
                properties:
                  created: 0001-01-01T00:00:00Z
                  description: test event updated
                  encoding:
                    encodingType: None
                    presetName: null
                  input:
                    accessToken: c638baac3195406a84d7ff3bcba8bde4
                    endpoints: []
                    keyFrameIntervalDuration: PT6S
                    streamingProtocol: FragmentedMP4
                  lastModified: 0001-01-01T00:00:00Z
                  preview:
                    accessControl:
                      ip:
                        allow:
                          - address: 192.1.1.0
                            name: AllowOne
                            subnetPrefixLength: null
                    endpoints: []
                    previewLocator: c10ea3fc-587f-4daf-b2b2-fa8f647a9ed2
                    streamingPolicyName: null
                  provisioningState: InProgress
                  resourceState: Running
                  streamOptions: []
                  vanityUrl: false
                tags:
                  tag1: value1
                  tag2: value2
                  tag3: value3
                type: Microsoft.Media/mediaservices/liveevents
      x-ms-long-running-operation: true
    put:
      description: Creates a Live Event.
      operationId: LiveEvents_Create
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/LiveEventName"
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/StreamingResourceAutoStart"
        - description: Live Event properties needed for creation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/LiveEvent"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/LiveEvent"
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/LiveEvent"
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: Create Live Event
      tags:
        - LiveEvents
      x-ms-examples:
        Create a LiveEvent:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            liveEventName: myLiveEvent1
            parameters:
              id: nb:chid:UUID:00000001-2000-0000-0000-000000000000
              location: West US
              name: myLiveEvent1
              properties:
                description: test event 1
                input:
                  keyFrameIntervalDuration: PT2S
                  streamingProtocol: RTMP
                preview:
                  accessControl:
                    ip:
                      allow:
                        - address: 0.0.0.0
                          name: AllowAll
              tags:
                tag1: value1
                tag2: value2
              type: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourcegroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1
                location: West US
                name: myLiveEvent1
                properties:
                  created: 2018-03-03T02:25:06.0982751Z
                  crossSiteAccessPolicies:
                    clientAccessPolicy: null
                    crossDomainPolicy: null
                  description: test event 1
                  encoding:
                    encodingType: None
                    presetName: null
                  input:
                    accessToken: 0abf356884d74b4aacbd7b1ebd3da0f7
                    endpoints: []
                    keyFrameIntervalDuration: PT6S
                    streamingProtocol: FragmentedMP4
                  lastModified: 2018-03-03T02:25:06.0982751Z
                  preview:
                    accessControl:
                      ip:
                        allow:
                          - address: 0.0.0.0
                            name: AllowAll
                            subnetPrefixLength: null
                    endpoints: []
                    previewLocator: c91726b4-880c-4090-94aa-e6ddb1384b37
                    streamingPolicyName: null
                  provisioningState: InProgress
                  resourceState: Stopped
                  streamOptions: []
                  vanityUrl: false
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Media/mediaservices/liveevents
            "202":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1
                location: West US
                name: myLiveEvent1
                properties:
                  created: 2018-03-03T02:25:06.0982751Z
                  crossSiteAccessPolicies:
                    clientAccessPolicy: null
                    crossDomainPolicy: null
                  description: test event 1
                  encoding:
                    encodingType: None
                    presetName: null
                  input:
                    accessToken: 0abf356884d74b4aacbd7b1ebd3da0f7
                    endpoints: []
                    keyFrameIntervalDuration: PT6S
                    streamingProtocol: FragmentedMP4
                  lastModified: 2018-03-03T02:25:06.0982751Z
                  preview:
                    accessControl:
                      ip:
                        allow:
                          - address: 0.0.0.0
                            name: AllowAll
                            subnetPrefixLength: null
                    endpoints: []
                    previewLocator: c91726b4-880c-4090-94aa-e6ddb1384b37
                    streamingPolicyName: null
                  provisioningState: InProgress
                  resourceState: Stopped
                  streamOptions: []
                  vanityUrl: false
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Media/mediaservices/liveevents
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/liveEvents/{liveEventName}/liveOutputs":
    get:
      description: Lists the Live Outputs in the Live Event.
      operationId: LiveOutputs_List
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/LiveEventName"
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/LiveOutputListResult"
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: List Live Outputs
      tags:
        - LiveOutputs
      x-ms-examples:
        List all LiveOutputs:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            liveEventName: myLiveEvent1
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1/liveoutputs/
                    name: liveoutput1
                    properties:
                      archiveWindowLength: PT30S
                      assetName: 95dafce4-5320-464c-8597-909373854119
                      created: 0001-01-01T00:00:00-08:00
                      description: null
                      hls:
                        fragmentsPerTsSegment: 5
                      lastModified: 0001-01-01T00:00:00-08:00
                      manifestName: c3a23d4b-02a6-4937-a1ad-6416f463fdca
                      outputSnapTime: 0
                      provisioningState: Succeeded
                      resourceState: Running
                    type: Microsoft.Media/mediaservices/liveevents/liveoutputs
      x-ms-pageable:
        nextLinkName: "@odata.nextLink"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/liveEvents/{liveEventName}/liveOutputs/{liveOutputName}":
    delete:
      description: Deletes a Live Output.
      operationId: LiveOutputs_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/LiveEventName"
        - $ref: "#/parameters/LiveOutputName"
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK. The request has succeeded.
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
        "204":
          description: No content. The request has been accepted but the Live Output was not found.
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: Delete Live Output
      tags:
        - LiveOutputs
      x-ms-examples:
        Delete a LiveOutput:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            liveEventName: myLiveEvent1
            liveOutputName: myLiveOutput1
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets a Live Output.
      operationId: LiveOutputs_Get
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/LiveEventName"
        - $ref: "#/parameters/LiveOutputName"
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/LiveOutput"
        "404":
          description: NotFound
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: Get Live Output
      tags:
        - LiveOutputs
      x-ms-examples:
        Get a LiveOutput by name:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            liveEventName: myLiveEvent1
            liveOutputName: myLiveOutput1
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1/liveoutputs/myLiveOutput1
                name: myLiveOutput1
                properties:
                  archiveWindowLength: PT30S
                  assetName: cb2ae0bc-677a-4830-9c8e-06ce4c4cb607
                  created: 0001-01-01T00:00:00-08:00
                  description: null
                  hls:
                    fragmentsPerTsSegment: 5
                  lastModified: 0001-01-01T00:00:00-08:00
                  manifestName: fc7096f5-c488-4b86-8302-f3bfde53fc27
                  outputSnapTime: 0
                  provisioningState: Succeeded
                  resourceState: Running
                type: Microsoft.Media/mediaservices/liveevents/liveoutputs
            "404": {}
    put:
      description: Creates a Live Output.
      operationId: LiveOutputs_Create
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/LiveEventName"
        - $ref: "#/parameters/LiveOutputName"
        - $ref: "#/parameters/ApiVersion"
        - description: Live Output properties needed for creation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/LiveOutput"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/LiveOutput"
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/LiveOutput"
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: Create Live Output
      tags:
        - LiveOutputs
      x-ms-examples:
        Create a LiveOutput:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            liveEventName: myLiveEvent1
            liveOutputName: myLiveOutput1
            parameters:
              properties:
                archiveWindowLength: PT5M
                assetName: 6f3264f5-a189-48b4-a29a-a40f22575212
                description: test live output 1
                hls:
                  fragmentsPerTsSegment: 5
                manifestName: testmanifest
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1/liveoutputs/myLiveOutput1
                name: myLiveOutput1
                properties:
                  archiveWindowLength: PT5M
                  assetName: 6f3264f5-a189-48b4-a29a-a40f22575212
                  created: 2018-03-03T02:25:09.9431835Z
                  description: test live output 1
                  hls:
                    fragmentsPerTsSegment: 5
                  lastModified: 2018-03-03T02:25:09.9431835Z
                  manifestName: testmanifest
                  outputSnapTime: 0
                  provisioningState: Succeeded
                  resourceState: Creating
                type: Microsoft.Media/mediaservices/liveevents/liveoutputs
            "202":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents/myLiveEvent1/liveoutputs/myLiveOutput1
                name: myLiveOutput1
                properties:
                  archiveWindowLength: PT5M
                  assetName: 6f3264f5-a189-48b4-a29a-a40f22575212
                  created: 2018-03-03T02:25:09.9431835Z
                  description: test live output 1
                  hls:
                    fragmentsPerTsSegment: 5
                  lastModified: 2018-03-03T02:25:09.9431835Z
                  manifestName: testmanifest
                  outputSnapTime: 0
                  provisioningState: Succeeded
                  resourceState: Creating
                type: Microsoft.Media/mediaservices/liveevents/liveoutputs
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/liveEvents/{liveEventName}/reset":
    post:
      description: Resets an existing Live Event.
      operationId: LiveEvents_Reset
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/LiveEventName"
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK. The request has succeeded.
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: Reset Live Event
      tags:
        - LiveEvents
      x-ms-examples:
        Reset a LiveEvent:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            liveEventName: myLiveEvent1
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/liveEvents/{liveEventName}/start":
    post:
      description: Starts an existing Live Event.
      operationId: LiveEvents_Start
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/LiveEventName"
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK. The request has succeeded.
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: Start Live Event
      tags:
        - LiveEvents
      x-ms-examples:
        Start a LiveEvent:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            liveEventName: myLiveEvent1
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/liveEvents/{liveEventName}/stop":
    post:
      description: Stops an existing Live Event.
      operationId: LiveEvents_Stop
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/LiveEventName"
        - $ref: "#/parameters/ApiVersion"
        - description: LiveEvent stop parameters
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/LiveEventActionInput"
      responses:
        "200":
          description: OK. The request has succeeded.
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: Stop Live Event
      tags:
        - LiveEvents
      x-ms-examples:
        Stop a LiveEvent:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            liveEventName: myLiveEvent1
            parameters:
              removeOutputsOnStop: false
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/streamingEndpoints":
    get:
      description: Lists the StreamingEndpoints in the account.
      operationId: StreamingEndpoints_List
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/StreamingEndpointListResult"
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: List StreamingEndpoints
      tags:
        - StreamingEndpoints
      x-ms-examples:
        List all StreamingEndpoints:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            resourceGroupName: mediaresources
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints/myStreamingEndpoint1
                    location: West US
                    name: myStreamingEndpoint1
                    properties:
                      availabilitySetName: availableset
                      cdnEnabled: false
                      cdnProfile: ""
                      cdnProvider: null
                      created: 2018-03-03T02:25:09.202013Z
                      customHostNames: []
                      description: test event 1
                      freeTrialEndTime: 0001-01-01T08:00:00Z
                      hostName: mystreamingendpoint1-slitestmedia10.streaming.mediaservices.windows.net
                      lastModified: 2018-03-03T02:25:09.202013Z
                      maxCacheAge: null
                      provisioningState: Succeeded
                      resourceState: Stopped
                      scaleUnits: 1
                    tags:
                      tag1: value1
                      tag2: value2
                    type: Microsoft.Media/mediaservices/streamingEndpoints
                  - id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints/default
                    location: West US
                    name: default
                    properties:
                      availabilitySetName: null
                      cdnEnabled: true
                      cdnProfile: AzureMediaStreamingPlatformCdnProfile-StandardVerizon
                      cdnProvider: StandardVerizon
                      created: 2018-03-03T02:25:09.2310128Z
                      customHostNames: []
                      description: ""
                      freeTrialEndTime: 0001-01-01T00:00:00-08:00
                      hostName: slitestmedia10.streaming.mediaservices.windows.net
                      lastModified: 2018-03-03T02:25:09.2310128Z
                      maxCacheAge: null
                      provisioningState: InProgress
                      resourceState: Starting
                      scaleUnits: 0
                    tags: {}
                    type: Microsoft.Media/mediaservices/streamingEndpoints
      x-ms-pageable:
        nextLinkName: "@odata.nextLink"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/streamingEndpoints/{streamingEndpointName}":
    delete:
      description: Deletes a StreamingEndpoint.
      operationId: StreamingEndpoints_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/StreamingEndpointName"
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK. The request has succeeded.
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
        "204":
          description: No content. The request has been accepted but the Streaming Endpoint was not found.
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: Delete StreamingEndpoint
      tags:
        - StreamingEndpoints
      x-ms-examples:
        Delete a StreamingEndpoint:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            parameters:
              Location: West US
              Name: myStreamingEndpoint1
              Tags:
                DynamicProperties:
                  tag1: value1
                  tag2: value2
              Type: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourcegroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints
              id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints/myStreamingEndpoint1
              properties:
                AccessControl: null
                AvailabilitySetName: availableset
                CdnEnabled: false
                CdnProfile: null
                CdnProvider: null
                Created: 2018-03-02T18:25:09.4897514-08:00
                CrossSiteAccessPolicies: null
                CustomHostNames: []
                Description: test event 1
                FreeTrialEndTime: 0001-01-01T00:00:00-08:00
                HostName: null
                LastModified: 2018-03-02T18:25:09.4897514-08:00
                MaxCacheAge: null
                ProvisioningState: null
                ResourceState: Stopped
                ScaleUnits: 1
            resourceGroupName: mediaresources
            streamingEndpointName: myStreamingEndpoint1
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets a StreamingEndpoint.
      operationId: StreamingEndpoints_Get
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/StreamingEndpointName"
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/StreamingEndpoint"
        "404":
          description: NotFound
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: Get StreamingEndpoint
      tags:
        - StreamingEndpoints
      x-ms-examples:
        Get a StreamingEndpoint by name:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            resourceGroupName: mediaresources
            streamingEndpointName: myStreamingEndpoint1
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints/myStreamingEndpoint1
                location: West US
                name: myStreamingEndpoint1
                properties:
                  availabilitySetName: availableset
                  cdnEnabled: false
                  cdnProfile: ""
                  cdnProvider: null
                  created: 2018-03-03T02:25:09.3500423Z
                  customHostNames: []
                  description: test event 1
                  freeTrialEndTime: 0001-01-01T08:00:00Z
                  hostName: mystreamingendpoint1-slitestmedia10.streaming.mediaservices.windows.net
                  lastModified: 2018-03-03T02:25:09.3500423Z
                  maxCacheAge: null
                  provisioningState: Succeeded
                  resourceState: Stopped
                  scaleUnits: 1
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Media/mediaservices/streamingEndpoints
            "404": {}
    patch:
      description: Updates a existing StreamingEndpoint.
      operationId: StreamingEndpoints_Update
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/StreamingEndpointName"
        - $ref: "#/parameters/ApiVersion"
        - description: StreamingEndpoint properties needed for creation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/StreamingEndpoint"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/StreamingEndpoint"
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/StreamingEndpoint"
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: Update StreamingEndpoint
      tags:
        - StreamingEndpoint
      x-ms-examples:
        Update a StreamingEndpoint:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            parameters:
              id: null
              location: West US
              name: myStreamingEndpoint1
              properties:
                availabilitySetName: availableset
                description: test event 2
                scaleUnits: 5
              tags:
                tag3: value3
                tag5: value5
              type: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourcegroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints
            resourceGroupName: mediaresources
            streamingEndpointName: myStreamingEndpoint1
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints/myStreamingEndpoint1
                location: West US
                name: myStreamingEndpoint1
                properties:
                  availabilitySetName: availableset
                  cdnEnabled: false
                  cdnProfile: null
                  cdnProvider: null
                  created: 0001-01-01T00:00:00Z
                  customHostNames: []
                  description: test event 2
                  freeTrialEndTime: 0001-01-01T00:00:00Z
                  hostName: null
                  lastModified: 0001-01-01T00:00:00Z
                  maxCacheAge: null
                  provisioningState: Succeeded
                  resourceState: null
                  scaleUnits: 5
                tags:
                  tag3: value3
                  tag5: value5
                type: Microsoft.Media/mediaservices/streamingEndpoints
            "202":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints/myStreamingEndpoint1
                location: West US
                name: myStreamingEndpoint1
                properties:
                  availabilitySetName: availableset
                  cdnEnabled: false
                  cdnProfile: null
                  cdnProvider: null
                  created: 0001-01-01T00:00:00Z
                  customHostNames: []
                  description: test event 2
                  freeTrialEndTime: 0001-01-01T00:00:00Z
                  hostName: null
                  lastModified: 0001-01-01T00:00:00Z
                  maxCacheAge: null
                  provisioningState: Succeeded
                  resourceState: null
                  scaleUnits: 5
                tags:
                  tag3: value3
                  tag5: value5
                type: Microsoft.Media/mediaservices/streamingEndpoints
      x-ms-long-running-operation: true
    put:
      description: Creates a StreamingEndpoint.
      operationId: StreamingEndpoints_Create
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/StreamingEndpointName"
        - $ref: "#/parameters/ApiVersion"
        - $ref: "#/parameters/StreamingResourceAutoStart"
        - description: StreamingEndpoint properties needed for creation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/StreamingEndpoint"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/StreamingEndpoint"
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
          schema:
            $ref: "#/definitions/StreamingEndpoint"
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: Create StreamingEndpoint
      tags:
        - StreamingEndpoints
      x-ms-examples:
        Create a StreamingEndpoint:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            parameters:
              id: null
              location: West US
              name: myStreamingEndpoint1
              properties:
                accessControl:
                  akamai:
                    akamaiSignatureHeaderAuthenticationKeyList:
                      - base64Key: dGVzdGlkMQ==
                        expiration: 2029-12-31T16:00:00-08:00
                        identifier: id1
                      - base64Key: dGVzdGlkMQ==
                        expiration: 2030-12-31T16:00:00-08:00
                        identifier: id2
                  ip:
                    allow:
                      - address: 192.168.1.1
                        name: AllowedIp
                availabilitySetName: availableset
                cdnEnabled: false
                description: test event 1
                scaleUnits: 1
              tags:
                tag1: value1
                tag2: value2
              type: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourcegroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/liveevents
            resourceGroupName: mediaresources
            streamingEndpointName: myStreamingEndpoint1
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints/myStreamingEndpoint1
                location: West US
                name: myStreamingEndpoint1
                properties:
                  accessControl:
                    akamai:
                      akamaiSignatureHeaderAuthenticationKeyList:
                        - base64Key: dGVzdGlkMQ==
                          expiration: 2030-01-01T00:00:00Z
                          identifier: id1
                        - base64Key: dGVzdGlkMQ==
                          expiration: 2031-01-01T00:00:00Z
                          identifier: id2
                    ip:
                      allow:
                        - address: 192.168.1.1
                          name: AllowedIp
                          subnetPrefixLength: null
                  availabilitySetName: availableset
                  cdnEnabled: false
                  cdnProfile: ""
                  cdnProvider: null
                  created: 2018-03-03T02:25:09.7561389Z
                  customHostNames: []
                  description: test event 1
                  freeTrialEndTime: 0001-01-01T00:00:00-08:00
                  hostName: mystreamingendpoint1-slitestmedia10.streaming.mediaservices.windows.net
                  lastModified: 2018-03-03T02:25:09.7561389Z
                  maxCacheAge: null
                  provisioningState: InProgress
                  resourceState: Stopped
                  scaleUnits: 1
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Media/mediaservices/streamingEndpoints
            "202":
              body:
                id: /subscriptions/0a6ec948-5a62-437d-b9df-934dc7c1b722/resourceGroups/mediaresources/providers/Microsoft.Media/mediaservices/slitestmedia10/streamingendpoints/myStreamingEndpoint1
                location: West US
                name: myStreamingEndpoint1
                properties:
                  accessControl:
                    akamai:
                      akamaiSignatureHeaderAuthenticationKeyList:
                        - base64Key: dGVzdGlkMQ==
                          expiration: 2030-01-01T00:00:00Z
                          identifier: id1
                        - base64Key: dGVzdGlkMQ==
                          expiration: 2031-01-01T00:00:00Z
                          identifier: id2
                    ip:
                      allow:
                        - address: 192.168.1.1
                          name: AllowedIp
                          subnetPrefixLength: null
                  availabilitySetName: availableset
                  cdnEnabled: false
                  cdnProfile: ""
                  cdnProvider: null
                  created: 2018-03-03T02:25:09.7561389Z
                  customHostNames: []
                  description: test event 1
                  freeTrialEndTime: 0001-01-01T00:00:00-08:00
                  hostName: mystreamingendpoint1-slitestmedia10.streaming.mediaservices.windows.net
                  lastModified: 2018-03-03T02:25:09.7561389Z
                  maxCacheAge: null
                  provisioningState: InProgress
                  resourceState: Stopped
                  scaleUnits: 1
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.Media/mediaservices/streamingEndpoints
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/streamingEndpoints/{streamingEndpointName}/scale":
    post:
      description: Scales an existing StreamingEndpoint.
      operationId: StreamingEndpoints_Scale
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/StreamingEndpointName"
        - $ref: "#/parameters/ApiVersion"
        - description: StreamingEndpoint scale parameters
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/StreamingEntityScaleUnit"
      responses:
        "200":
          description: OK. The request has succeeded.
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: Scale StreamingEndpoint
      tags:
        - StreamingEndpoints
      x-ms-examples:
        Scale a StreamingEndpoint:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            parameters:
              scaleUnit: 5
            resourceGroupName: mediaresources
            streamingEndpointName: myStreamingEndpoint1
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/streamingEndpoints/{streamingEndpointName}/start":
    post:
      description: Starts an existing StreamingEndpoint.
      operationId: StreamingEndpoints_Start
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/StreamingEndpointName"
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK. The request has succeeded.
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: Start StreamingEndpoint
      tags:
        - StreamingEndpoints
      x-ms-examples:
        Start a StreamingEndpoint:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            resourceGroupName: mediaresources
            streamingEndpointName: myStreamingEndpoint1
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/streamingEndpoints/{streamingEndpointName}/stop":
    post:
      description: Stops an existing StreamingEndpoint.
      operationId: StreamingEndpoints_Stop
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/StreamingEndpointName"
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK. The request has succeeded.
        "202":
          description: Accepted. The request has been accepted for processing and the operation will complete asynchronously.
        default:
          description: The streaming error response describing why the operation failed.
          schema:
            description: The API error.
            properties:
              error:
                description: Information about an error.
                properties:
                  code:
                    description: A language-independent error name.
                    type: string
                  details:
                    description: The error details.
                    items:
                      $ref: "#/definitions/ODataError"
                    type: array
                  message:
                    description: The error message.
                    type: string
                  target:
                    description: The target of the error (for example, the name of the property in error).
                    type: string
                type: object
            type: object
      summary: Stop StreamingEndpoint
      tags:
        - StreamingEndpoints
      x-ms-examples:
        Stop a StreamingEndpoint:
          parameters:
            accountName: slitestmedia10
            api-version: 2018-03-30-preview
            resourceGroupName: mediaresources
            streamingEndpointName: myStreamingEndpoint1
            subscriptionId: 0a6ec948-5a62-437d-b9df-934dc7c1b722
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
definitions:
  AkamaiAccessControl:
    description: Akamai access control
    properties:
      akamaiSignatureHeaderAuthenticationKeyList:
        description: authentication key list
        items:
          $ref: "#/definitions/AkamaiSignatureHeaderAuthenticationKey"
        type: array
  AkamaiSignatureHeaderAuthenticationKey:
    description: Akamai Signature Header authentication key.
    properties:
      base64Key:
        description: authentication key
        type: string
      expiration:
        description: The exact time the authentication key.
        format: date-time
        type: string
      identifier:
        description: identifier of the key
        type: string
  CrossSiteAccessPolicies:
    description: The client access policy.
    properties:
      clientAccessPolicy:
        description: The content of clientaccesspolicy.xml used by Silverlight.
        type: string
      crossDomainPolicy:
        description: The content of crossdomain.xml used by Silverlight.
        type: string
  Hls:
    description: The HLS configuration.
    properties:
      fragmentsPerTsSegment:
        description: The amount of fragments per HTTP Live Streaming (HLS) segment.
        format: int32
        type: integer
  IPAccessControl:
    description: The IP access control.
    properties:
      allow:
        description: The IP allow list.
        items:
          $ref: "#/definitions/IPRange"
        type: array
  IPRange:
    description: The IP address range in the CIDR scheme.
    properties:
      address:
        description: The IP address.
        type: string
      name:
        description: The friendly name for the IP address range.
        type: string
      subnetPrefixLength:
        description: The subnet mask prefix length (see CIDR notation).
        format: int32
        type: integer
  LiveEvent:
    allOf:
      - allOf:
          - description: The core properties of ARM resources.
            properties:
              id:
                description: Fully qualified resource ID for the resource.
                readOnly: true
                type: string
              name:
                description: The name of the resource.
                readOnly: true
                type: string
              type:
                description: The type of the resource.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked resource.
        properties:
          location:
            description: The Azure Region of the resource.
            type: string
            x-ms-mutability:
              - read
              - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
              - read
              - create
              - update
    description: The Live Event.
    properties:
      properties:
        $ref: "#/definitions/LiveEventProperties"
        description: The Live Event properties.
        x-ms-client-flatten: true
  LiveEventActionInput:
    description: The LiveEvent action input parameter definition.
    properties:
      removeOutputsOnStop:
        description: The flag indicates if remove LiveOutputs on Stop.
        type: boolean
  LiveEventEncoding:
    description: The Live Event encoding.
    properties:
      encodingType:
        description: The encoding type for Live Event.
        enum:
          - None
          - Basic
        type: string
        x-ms-enum:
          modelAsString: false
          name: LiveEventEncodingType
      presetName:
        description: The encoding preset name.
        type: string
  LiveEventEndpoint:
    description: The Live Event endpoint.
    properties:
      protocol:
        description: The endpoint protocol.
        type: string
      url:
        description: The endpoint URL.
        type: string
  LiveEventInput:
    description: The Live Event input.
    properties:
      accessToken:
        description: The access token.
        type: string
      endpoints:
        description: The input endpoints for the Live Event.
        items:
          $ref: "#/definitions/LiveEventEndpoint"
        type: array
      keyFrameIntervalDuration:
        description: ISO 8601 timespan duration of the key frame interval duration.
        type: string
      streamingProtocol:
        description: The streaming protocol for the Live Event.
        enum:
          - FragmentedMP4
          - RTMP
        type: string
        x-ms-enum:
          modelAsString: false
          name: LiveEventInputProtocol
    required:
      - streamingProtocol
  LiveEventListResult:
    description: The LiveEvent list result.
    properties:
      "@odata.count":
        description: The number of result.
        format: int32
        type: integer
      "@odata.nextLink":
        description: Th link to the next set of results. Not empty if value contains incomplete list of Live Outputs.
        type: string
      value:
        description: The result of the List Live Event operation.
        items:
          $ref: "#/definitions/LiveEvent"
        type: array
    title: LiveEventListResult
  LiveEventPreview:
    description: The Live Event preview.
    properties:
      accessControl:
        $ref: "#/definitions/LiveEventPreviewAccessControl"
        description: The access control for LiveEvent preview.
        type: object
      endpoints:
        description: The endpoints for preview.
        items:
          $ref: "#/definitions/LiveEventEndpoint"
        type: array
      previewLocator:
        description: The preview locator Guid.
        type: string
      streamingPolicyName:
        description: The name of streaming policy used for LiveEvent preview
        type: string
  LiveEventPreviewAccessControl:
    description: The IP access control for Live Event preview.
    properties:
      ip:
        $ref: "#/definitions/IPAccessControl"
        description: The IP access control properties.
        type: object
  LiveEventProperties:
    description: The Live Event properties.
    properties:
      created:
        description: The exact time the Live Event was created.
        format: date-time
        readOnly: true
        type: string
      crossSiteAccessPolicies:
        $ref: "#/definitions/CrossSiteAccessPolicies"
        description: The Live Event access policies.
        type: object
      description:
        description: The Live Event description.
        type: string
      encoding:
        $ref: "#/definitions/LiveEventEncoding"
        description: The Live Event encoding.
        type: object
      input:
        $ref: "#/definitions/LiveEventInput"
        description: The Live Event input.
        type: object
      lastModified:
        description: The exact time the Live Event was last modified.
        format: date-time
        readOnly: true
        type: string
      preview:
        $ref: "#/definitions/LiveEventPreview"
        description: The Live Event preview.
        type: object
      provisioningState:
        description: The provisioning state of the Live Event.
        readOnly: true
        type: string
      resourceState:
        description: The resource state of the Live Event.
        enum:
          - Stopped
          - Starting
          - Running
          - Stopping
          - Deleting
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: LiveEventResourceState
      streamOptions:
        description: The stream options.
        items:
          enum:
            - Default
            - LowLatency
          type: string
          x-ms-enum:
            modelAsString: false
            name: StreamOptionsFlag
        type: array
      vanityUrl:
        description: The Live Event vanity URL flag.
        type: boolean
    required:
      - input
  LiveOutput:
    allOf:
      - allOf:
          - description: The core properties of ARM resources.
            properties:
              id:
                description: Fully qualified resource ID for the resource.
                readOnly: true
                type: string
              name:
                description: The name of the resource.
                readOnly: true
                type: string
              type:
                description: The type of the resource.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource.
    description: The Live Output.
    properties:
      properties:
        $ref: "#/definitions/LiveOutputProperties"
        description: The Live Output properties.
        x-ms-client-flatten: true
  LiveOutputListResult:
    description: The LiveOutput list result.
    properties:
      "@odata.count":
        description: The number of result.
        format: int32
        type: integer
      "@odata.nextLink":
        description: Th link to the next set of results. Not empty if value contains incomplete list of Live Outputs.
        type: string
      value:
        description: The result of the List Live Output operation.
        items:
          $ref: "#/definitions/LiveOutput"
        type: array
    title: LiveOutputListResult
  LiveOutputProperties:
    description: The JSON object that contains the properties required to create a Live Output.
    properties:
      archiveWindowLength:
        description: ISO 8601 timespan duration of the archive window length. This is duration that customer want to retain the recorded content.
        format: duration
        type: string
      assetName:
        description: The asset name.
        type: string
      created:
        description: The exact time the Live Output was created.
        format: date-time
        readOnly: true
        type: string
      description:
        description: The description of the Live Output.
        type: string
      hls:
        $ref: "#/definitions/Hls"
        description: The HLS configuration.
        type: object
      lastModified:
        description: The exact time the Live Output was last modified.
        format: date-time
        readOnly: true
        type: string
      manifestName:
        description: The manifest file name.
        type: string
      outputSnapTime:
        description: The output snapshot time.
        format: int64
        type: integer
      provisioningState:
        description: The provisioning state of the Live Output.
        readOnly: true
        type: string
      resourceState:
        description: The resource state of the Live Output.
        enum:
          - Creating
          - Running
          - Deleting
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: LiveOutputResourceState
    required:
      - assetName
      - archiveWindowLength
  ODataError: {}
  StreamingEndpoint:
    allOf:
      - allOf:
          - description: The core properties of ARM resources.
            properties:
              id:
                description: Fully qualified resource ID for the resource.
                readOnly: true
                type: string
              name:
                description: The name of the resource.
                readOnly: true
                type: string
              type:
                description: The type of the resource.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked resource.
        properties:
          location:
            description: The Azure Region of the resource.
            type: string
            x-ms-mutability:
              - read
              - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
              - read
              - create
              - update
    description: The StreamingEndpoint.
    properties:
      properties:
        $ref: "#/definitions/StreamingEndpointProperties"
        description: The StreamingEndpoint properties.
        x-ms-client-flatten: true
  StreamingEndpointAccessControl:
    description: StreamingEndpoint access control definition.
    properties:
      akamai:
        $ref: "#/definitions/AkamaiAccessControl"
        description: The access control of Akamai
        type: object
      ip:
        $ref: "#/definitions/IPAccessControl"
        description: The IP access control of the StreamingEndpoint.
        type: object
  StreamingEndpointListResult:
    description: The StreamingEndpoint list result.
    properties:
      "@odata.count":
        description: The number of result.
        format: int32
        type: integer
      "@odata.nextLink":
        description: Th link to the next set of results. Not empty if value contains incomplete list of StreamingEndpoints.
        type: string
      value:
        description: The result of the List StreamingEndpoint operation.
        items:
          $ref: "#/definitions/StreamingEndpoint"
        type: array
    title: StreamingEndpointListResult
  StreamingEndpointProperties:
    description: The StreamingEndpoint properties.
    properties:
      accessControl:
        $ref: "#/definitions/StreamingEndpointAccessControl"
        description: The access control definition of the StreamingEndpoint.
        type: object
      availabilitySetName:
        description: AvailabilitySet name
        type: string
      cdnEnabled:
        description: The CDN enabled flag.
        type: boolean
      cdnProfile:
        description: The CDN profile name.
        type: string
      cdnProvider:
        description: The CDN provider name.
        type: string
      created:
        description: The exact time the StreamingEndpoint was created.
        format: date-time
        readOnly: true
        type: string
      crossSiteAccessPolicies:
        $ref: "#/definitions/CrossSiteAccessPolicies"
        description: The StreamingEndpoint access policies.
        type: object
      customHostNames:
        description: The custom host names of the StreamingEndpoint
        items:
          description: custom host name
          type: string
        type: array
      description:
        description: The StreamingEndpoint description.
        type: string
      freeTrialEndTime:
        description: The free trial expiration time.
        format: date-time
        readOnly: true
        type: string
      hostName:
        description: The StreamingEndpoint host name.
        readOnly: true
        type: string
      lastModified:
        description: The exact time the StreamingEndpoint was last modified.
        format: date-time
        readOnly: true
        type: string
      maxCacheAge:
        description: Max cache age
        format: int64
        type: integer
      provisioningState:
        description: The provisioning state of the StreamingEndpoint.
        readOnly: true
        type: string
      resourceState:
        description: The resource state of the StreamingEndpoint.
        enum:
          - Stopped
          - Starting
          - Running
          - Stopping
          - Deleting
          - Scaling
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: StreamingEndpointResourceState
      scaleUnits:
        description: The number of scale units.
        format: int32
        type: integer
        x-nullable: false
  StreamingEntityScaleUnit:
    description: scale units definition
    properties:
      scaleUnit:
        description: The scale unit number of the StreamingEndpoint.
        format: int32
        title: ScaleUnit
        type: integer
