swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: ContainerRegistryManagementClient
  version: 2017-03-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/containerregistry/resource-manager/Microsoft.ContainerRegistry/stable/2017-03-01/containerregistry.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: containerregistry
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: The client API version.
    in: query
    name: api-version
    required: true
    type: string
  RegistryNameParameter:
    description: The name of the container registry.
    in: path
    maxLength: 50
    minLength: 5
    name: registryName
    pattern: ^[a-zA-Z0-9]*$
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupParameter:
    description: The name of the resource group to which the container registry belongs.
    in: path
    minLength: 1
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The Microsoft Azure subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.ContainerRegistry/operations:
    get:
      description: Lists all of the available Azure Container Registry REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/OperationListResult"
      tags:
        - Operation
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerRegistry/checkNameAvailability":
    post:
      description: Checks whether the container registry name is available for use. The name must contain only alphanumeric characters, be globally unique, and between 5 and 50 characters in length.
      operationId: Registries_CheckNameAvailability
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The object containing information for the availability request.
          in: body
          name: registryNameCheckRequest
          required: true
          schema:
            $ref: "#/definitions/RegistryNameCheckRequest"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/RegistryNameStatus"
      tags:
        - Operation
      x-ms-examples:
        RegistryCheckNameAvailable:
          parameters:
            api-version: 2017-03-01
            registryNameCheckRequest:
              name: myRegistry
              type: Microsoft.ContainerRegistry/registries
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                nameAvailable: true
        RegistryCheckNameNotAvailable:
          parameters:
            api-version: 2017-03-01
            registryNameCheckRequest:
              name: myRegistry
              type: Microsoft.ContainerRegistry/registries
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                message: The registry myRegistry is already in use.
                nameAvailable: false
                reason: AlreadyExists
  "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerRegistry/registries":
    get:
      description: Lists all the container registries under the specified subscription.
      operationId: Registries_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/RegistryListResult"
      tags:
        - Registries
      x-ms-examples:
        RegistryList:
          parameters:
            api-version: 2017-03-01
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry
                    location: westus
                    name: myRegistry
                    properties:
                      adminUserEnabled: true
                      creationDate: 2017-03-01T23:14:37.0707808Z
                      loginServer: myregistry.azurecr.io
                      provisioningState: Succeeded
                      storageAccount:
                        name: mystorageaccount
                    sku:
                      name: Basic
                      tier: Basic
                    tags:
                      key: value
                    type: Microsoft.ContainerRegistry/registries
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries":
    get:
      description: Lists all the container registries under the specified resource group.
      operationId: Registries_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/RegistryListResult"
      tags:
        - Registries
      x-ms-examples:
        RegistryListByResourceGroup:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry
                    location: westus
                    name: myRegistry
                    properties:
                      adminUserEnabled: true
                      creationDate: 2017-03-01T23:14:37.0707808Z
                      loginServer: myregistry.azurecr.io
                      provisioningState: Succeeded
                      storageAccount:
                        name: mystorageaccount
                    sku:
                      name: Basic
                      tier: Basic
                    tags:
                      key: value
                    type: Microsoft.ContainerRegistry/registries
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}":
    delete:
      description: Deletes a container registry.
      operationId: Registries_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/RegistryNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
        "204":
          description: The container registry does not exist in the subscription.
      tags:
        - Registries
      x-ms-examples:
        RegistryDelete:
          parameters:
            api-version: 2017-03-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the properties of the specified container registry.
      operationId: Registries_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/RegistryNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Registry"
      tags:
        - Registries
      x-ms-examples:
        RegistryGet:
          parameters:
            api-version: 2017-03-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry
                location: westus
                name: myRegistry
                properties:
                  adminUserEnabled: true
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  loginServer: myregistry.azurecr.io
                  provisioningState: Succeeded
                  storageAccount:
                    name: mystorageaccount
                sku:
                  name: Basic
                  tier: Basic
                tags:
                  key: value
                type: Microsoft.ContainerRegistry/registries
    patch:
      description: Updates a container registry with the specified parameters.
      operationId: Registries_Update
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/RegistryNameParameter"
        - description: The parameters for updating a container registry.
          in: body
          name: registryUpdateParameters
          required: true
          schema:
            $ref: "#/definitions/RegistryUpdateParameters"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Registry"
      tags:
        - Registries
      x-ms-examples:
        RegistryUpdate:
          parameters:
            api-version: 2017-03-01
            registryName: myRegistry
            registryUpdateParameters:
              properties:
                adminUserEnabled: true
                storageAccount:
                  accessKey: "0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
                  name: mystorageaccount
              tags:
                key: value
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry
                location: westus
                name: myRegistry
                properties:
                  adminUserEnabled: true
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  loginServer: myregistry.azurecr.io
                  provisioningState: Succeeded
                  storageAccount:
                    name: mystorageaccount
                sku:
                  name: Basic
                  tier: Basic
                tags:
                  key: value
                type: Microsoft.ContainerRegistry/registries
    put:
      description: Creates a container registry with the specified parameters.
      operationId: Registries_Create
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/RegistryNameParameter"
        - description: The parameters for creating a container registry.
          in: body
          name: registryCreateParameters
          required: true
          schema:
            $ref: "#/definitions/RegistryCreateParameters"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Registry"
        "202":
          description: The request was successful; the operation will complete asynchronously.
      tags:
        - Registries
      x-ms-examples:
        RegistryCreate:
          parameters:
            api-version: 2017-03-01
            registryCreateParameters:
              location: westus
              properties:
                adminUserEnabled: true
                storageAccount:
                  accessKey: "0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
                  name: mystorageaccount
              sku:
                name: Basic
              tags:
                key: value
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/myRegistry
                location: westus
                name: myRegistry
                properties:
                  adminUserEnabled: true
                  creationDate: 2017-03-01T23:14:37.0707808Z
                  loginServer: myregistry.azurecr.io
                  provisioningState: Succeeded
                  storageAccount:
                    name: mystorageaccount
                sku:
                  name: Basic
                  tier: Basic
                tags:
                  key: value
                type: Microsoft.ContainerRegistry/registries
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/listCredentials":
    post:
      description: Lists the login credentials for the specified container registry.
      operationId: Registries_ListCredentials
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/RegistryNameParameter"
      responses:
        "200":
          description: The request was successful; the list of credentials retrieved and returned successfully.
          schema:
            $ref: "#/definitions/RegistryListCredentialsResult"
      tags:
        - Registries
      x-ms-examples:
        RegistryListCredentials:
          parameters:
            api-version: 2017-03-01
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                passwords:
                  - name: password
                    value: "00000000000000000000000000000000"
                  - name: password2
                    value: "00000000000000000000000000000000"
                username: myRegistry
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/regenerateCredential":
    post:
      description: Regenerates one of the login credentials for the specified container registry.
      operationId: Registries_RegenerateCredential
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/RegistryNameParameter"
        - description: Specifies name of the password which should be regenerated -- password or password2.
          in: body
          name: regenerateCredentialParameters
          required: true
          schema:
            $ref: "#/definitions/RegenerateCredentialParameters"
      responses:
        "200":
          description: The request was successful; the specified credential regenerated successfully.
          schema:
            $ref: "#/definitions/RegistryListCredentialsResult"
      tags:
        - Registries
      x-ms-examples:
        RegistryRegenerateCredential:
          parameters:
            api-version: 2017-03-01
            regenerateCredentialParameters:
              name: password
            registryName: myRegistry
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                passwords:
                  - name: password
                    value: "00000000000000000000000000000000"
                  - name: password2
                    value: "00000000000000000000000000000000"
                username: myRegistry
definitions:
  OperationDefinition:
    description: The definition of a container registry operation.
    properties:
      display:
        $ref: "#/definitions/OperationDisplayDefinition"
        description: The display information for the container registry operation.
      name:
        description: "Operation name: {provider}/{resource}/{operation}."
        type: string
  OperationDisplayDefinition:
    description: The display information for a container registry operation.
    properties:
      description:
        description: The description for the operation.
        type: string
      operation:
        description: The operation that users can perform.
        type: string
      provider:
        description: "The resource provider name: Microsoft.ContainerRegistry."
        type: string
      resource:
        description: The resource on which the operation is performed.
        type: string
  OperationListResult:
    description: The result of a request to list container registry operations.
    properties:
      nextLink:
        description: The URI that can be used to request the next list of container registry operations.
        type: string
      value:
        description: The list of container registry operations. Since this list may be incomplete, the nextLink field should be used to request the next list of operations.
        items:
          $ref: "#/definitions/OperationDefinition"
        type: array
  RegenerateCredentialParameters:
    description: The parameters used to regenerate the login credential.
    properties:
      name:
        description: Specifies name of the password which should be regenerated -- password or password2.
        enum:
          - password
          - password2
        type: string
        x-ms-enum:
          modelAsString: false
          name: PasswordName
    required:
      - name
  Registry:
    allOf:
      - $ref: "#/definitions/Resource"
    description: An object that represents a container registry.
    properties:
      properties:
        $ref: "#/definitions/RegistryProperties"
        description: The properties of the container registry.
        x-ms-client-flatten: true
      sku:
        $ref: "#/definitions/Sku"
        description: The SKU of the container registry.
    required:
      - sku
  RegistryCreateParameters:
    description: The parameters for creating a container registry.
    properties:
      location:
        description: The location of the container registry. This cannot be changed after the resource is created.
        type: string
      properties:
        $ref: "#/definitions/RegistryPropertiesCreateParameters"
        description: The properties that the container registry will be created with.
        x-ms-client-flatten: true
      sku:
        $ref: "#/definitions/Sku"
        description: The SKU of the container registry.
      tags:
        additionalProperties:
          type: string
        description: The tags for the container registry.
        type: object
    required:
      - location
      - sku
  RegistryListCredentialsResult:
    description: The response from the ListCredentials operation.
    properties:
      passwords:
        description: The list of passwords for a container registry.
        items:
          $ref: "#/definitions/RegistryPassword"
        type: array
      username:
        description: The username for a container registry.
        type: string
  RegistryListResult:
    description: The result of a request to list container registries.
    properties:
      nextLink:
        description: The URI that can be used to request the next list of container registries.
        type: string
      value:
        description: The list of container registries. Since this list may be incomplete, the nextLink field should be used to request the next list of container registries.
        items:
          $ref: "#/definitions/Registry"
        type: array
  RegistryNameCheckRequest:
    description: A request to check whether a container registry name is available.
    properties:
      name:
        description: The name of the container registry.
        maxLength: 50
        minLength: 5
        pattern: ^[a-zA-Z0-9]*$
        type: string
      type:
        description: The resource type of the container registry. This field must be set to 'Microsoft.ContainerRegistry/registries'.
        enum:
          - Microsoft.ContainerRegistry/registries
        type: string
        x-ms-enum:
          modelAsString: false
          name: ContainerRegistryResourceType
    required:
      - name
      - type
  RegistryNameStatus:
    description: The result of a request to check the availability of a container registry name.
    properties:
      message:
        description: If any, the error message that provides more detail for the reason that the name is not available.
        type: string
      nameAvailable:
        description: The value that indicates whether the name is available.
        type: boolean
      reason:
        description: If any, the reason that the name is not available.
        type: string
  RegistryPassword:
    description: The login password for the container registry.
    properties:
      name:
        description: The password name.
        enum:
          - password
          - password2
        type: string
        x-ms-enum:
          modelAsString: false
          name: PasswordName
      value:
        description: The password value.
        type: string
  RegistryProperties:
    description: The properties of a container registry.
    properties:
      adminUserEnabled:
        default: false
        description: The value that indicates whether the admin user is enabled.
        type: boolean
      creationDate:
        description: The creation date of the container registry in ISO8601 format.
        format: date-time
        readOnly: true
        type: string
      loginServer:
        description: The URL that can be used to log into the container registry.
        readOnly: true
        type: string
      provisioningState:
        description: The provisioning state of the container registry at the time the operation was called.
        enum:
          - Creating
          - Succeeded
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: ProvisioningState
      storageAccount:
        $ref: "#/definitions/StorageAccountProperties"
        description: The properties of the storage account for the container registry.
  RegistryPropertiesCreateParameters:
    description: The parameters for creating the properties of a container registry.
    properties:
      adminUserEnabled:
        default: false
        description: The value that indicates whether the admin user is enabled.
        type: boolean
      storageAccount:
        $ref: "#/definitions/StorageAccountParameters"
        description: The parameters of a storage account for the container registry. If specified, the storage account must be in the same physical location as the container registry.
    required:
      - storageAccount
  RegistryPropertiesUpdateParameters:
    description: The parameters for updating the properties of a container registry.
    properties:
      adminUserEnabled:
        description: The value that indicates whether the admin user is enabled.
        type: boolean
      storageAccount:
        $ref: "#/definitions/StorageAccountParameters"
        description: The parameters of a storage account for the container registry. If specified, the storage account must be in the same physical location as the container registry.
  RegistryUpdateParameters:
    description: The parameters for updating a container registry.
    properties:
      properties:
        $ref: "#/definitions/RegistryPropertiesUpdateParameters"
        description: The properties that the container registry will be updated with.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: The tags for the container registry.
        type: object
  Resource:
    description: An Azure resource.
    properties:
      id:
        description: The resource ID.
        readOnly: true
        type: string
      location:
        description: The location of the resource. This cannot be changed after the resource is created.
        type: string
        x-ms-mutability:
          - read
          - create
      name:
        description: The name of the resource.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: The tags of the resource.
        type: object
      type:
        description: The type of the resource.
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  Sku:
    description: The SKU of a container registry.
    properties:
      name:
        description: "The SKU name of the container registry. Required for registry creation. Allowed value: Basic."
        type: string
      tier:
        description: The SKU tier based on the SKU name.
        enum:
          - Basic
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: SkuTier
    required:
      - name
  StorageAccountParameters:
    description: The parameters of a storage account for a container registry.
    properties:
      accessKey:
        description: The access key to the storage account.
        type: string
      name:
        description: The name of the storage account.
        type: string
    required:
      - name
      - accessKey
  StorageAccountProperties:
    description: The properties of a storage account for a container registry.
    properties:
      name:
        description: The name of the storage account.
        type: string
