swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Use this API to manage the IoT hubs in your Azure subscription.
  title: iotHubClient
  version: 2017-07-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-ms-code-generation-settings:
    header: MICROSOFT_MIT_NO_VERSION
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/iothub/resource-manager/Microsoft.Devices/stable/2017-07-01/iothub.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: iothub
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  api-version:
    description: The version of the API.
    in: query
    name: api-version
    required: true
    type: string
  certificateName:
    description: The name of the certificate
    in: path
    name: certificateName
    pattern: ^[A-Za-z0-9-._]{1,64}$
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupName:
    description: The name of the resource group that contains the IoT hub.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  resourceName:
    description: The name of the IoT hub.
    in: path
    name: resourceName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: The subscription identifier.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Devices/operations:
    get:
      description: Lists all of the available IoT Hub REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Devices/IotHubs":
    get:
      deprecated: false
      description: Get all the IoT hubs in a subscription.
      operationId: IotHubResource_ListBySubscription
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
      responses:
        "200":
          description: This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the IoT hubs in the subscription.
          schema:
            $ref: "#/definitions/IotHubDescriptionListResult"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Get all the IoT hubs in a subscription.
      tags:
        - GET
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Devices/checkNameAvailability":
    post:
      deprecated: false
      description: Check if an IoT hub name is available.
      operationId: IotHubResource_CheckNameAvailability
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - description: Set the name parameter in the OperationInputs structure to the name of the IoT hub to check.
          in: body
          name: operationInputs
          required: true
          schema:
            $ref: "#/definitions/OperationInputs"
      responses:
        "200":
          description: This is a synchronous operation. The body contains a JSON-serialized response that specifies whether the IoT hub name is available. If the name is not available, the body contains the reason.
          schema:
            $ref: "#/definitions/IotHubNameAvailabilityInfo"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Check if an IoT hub name is available.
      tags:
        - POST
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs":
    get:
      deprecated: false
      description: Get all the IoT hubs in a resource group.
      operationId: IotHubResource_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
      responses:
        "200":
          description: This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the IoT hubs in the resource group.
          schema:
            $ref: "#/definitions/IotHubDescriptionListResult"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Get all the IoT hubs in a resource group.
      tags:
        - GET
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}":
    delete:
      deprecated: false
      description: Delete an IoT hub.
      operationId: IotHubResource_Delete
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
      responses:
        "200":
          description: This is returned as a response to the status polling request for the delete operation. The body contains the resource representation that indicates a transitional provisioning state.
          schema:
            $ref: "#/definitions/IotHubDescription"
        "202":
          description: The Iot Hub resource provider always returns a 202 Accepted status code with valid Location and Retry-After headers. The resource provider also sets the Azure-AsyncOperation header with a URL that points to the operation resource for this operation. Subsequent GET attempts on the resource after a DELETE operation return a resource representation that indicates a transitional provisioning state (such as Terminating). To retrieve the status of the operation, a client can either poll the URL returned in the Location header after the Retry-After interval, get the IoT Hub service status directly, or query the operation resource.
          schema:
            $ref: "#/definitions/IotHubDescription"
        "204":
          description: Once the long running delete operation completes successfully, a 204 No Content status code is returned when the status polling request finds the Iot hub metadata in the service and the status of the delete operation is set to a completed state.
        "404":
          description: After the long running delete operation completes successfully, a 404 Not Found is returned when the status polling request no longer finds the Iot hub metadata in the service.
          schema:
            $ref: "#/definitions/ErrorDetails"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Delete an IoT hub.
      tags:
        - DELETE
      x-ms-long-running-operation: true
    get:
      deprecated: false
      description: Get the non-security related metadata of an IoT hub.
      operationId: IotHubResource_Get
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
      responses:
        "200":
          description: The body contains all the non-security properties of the IoT hub. Security-related properties are set to null.
          schema:
            $ref: "#/definitions/IotHubDescription"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Get the non-security related metadata of an IoT hub.
      tags:
        - GET
    put:
      deprecated: false
      description: Create or update the metadata of an Iot hub. The usual pattern to modify a property is to retrieve the IoT hub metadata and security metadata, and then combine them with the modified values in a new body to update the IoT hub.
      operationId: IotHubResource_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
        - description: The IoT hub metadata and security metadata.
          in: body
          name: iotHubDescription
          required: true
          schema:
            $ref: "#/definitions/IotHubDescription"
        - description: ETag of the IoT Hub. Do not specify for creating a brand new IoT Hub. Required to update an existing IoT Hub.
          in: header
          name: If-Match
          required: false
          type: string
      responses:
        "200":
          description: This is returned as a response to the status polling request for the create or update operation. The body contains the resource representation that indicates a transitional provisioning state.
          schema:
            $ref: "#/definitions/IotHubDescription"
        "201":
          description: This is a long running operation. The operation returns a 201 if the validation is complete. The response includes an Azure-AsyncOperation header that contains a status URL. Clients are expected to poll the status URL for the status of the operation. If successful, the operation returns HTTP status code of 201 (OK).
          schema:
            $ref: "#/definitions/IotHubDescription"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Create or update the metadata of an IoT hub.
      tags:
        - PUT
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubKeys/{keyName}/listkeys":
    post:
      deprecated: false
      description: "Get a shared access policy by name from an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security."
      operationId: IotHubResource_GetKeysForKeyName
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
        - description: The name of the shared access policy.
          in: path
          name: keyName
          required: true
          type: string
      responses:
        "200":
          description: This is a synchronous operation. The body contains a JSON-serialized shared access policy, including keys, that you can use to access one or more IoT hub endpoints.
          schema:
            $ref: "#/definitions/SharedAccessSignatureAuthorizationRule"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: "Get a shared access policy by name from an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security."
      tags:
        - POST
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/IotHubStats":
    get:
      deprecated: false
      description: Get the statistics from an IoT hub.
      operationId: IotHubResource_GetStats
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
      responses:
        "200":
          description: This is a synchronous operation. The body contains JSON-serialized statistics from the identity registry in the IoT hub.
          schema:
            $ref: "#/definitions/RegistryStatistics"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Get the statistics from an IoT hub.
      tags:
        - GET
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates":
    get:
      deprecated: false
      description: Returns the list of certificates.
      operationId: Certificates_ListByIotHub
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
      responses:
        "200":
          description: The body contains all the certificate list.
          schema:
            $ref: "#/definitions/CertificateListDescription"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Get the certificate list.
      tags:
        - Certificates
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}":
    delete:
      deprecated: false
      description: Deletes an existing X509 certificate or does nothing if it does not exist.
      operationId: Certificates_Delete
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
        - $ref: "#/parameters/certificateName"
        - description: ETag of the Certificate.
          in: header
          name: If-Match
          required: true
          type: string
      responses:
        "200":
          description: Certificate has been deleted.
        "204":
          description: Certificate does not exist.
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Delete an X509 certificate.
      tags:
        - Certificates
    get:
      deprecated: false
      description: Returns the certificate.
      operationId: Certificates_Get
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
        - $ref: "#/parameters/certificateName"
      responses:
        "200":
          description: The body contains the certificate.
          schema:
            $ref: "#/definitions/CertificateDescription"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Get the certificate.
      tags:
        - Certificates
    put:
      deprecated: false
      description: Adds new or replaces existing certificate.
      operationId: Certificates_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
        - $ref: "#/parameters/certificateName"
        - description: The certificate body.
          in: body
          name: certificateDescription
          required: true
          schema:
            $ref: "#/definitions/CertificateBodyDescription"
        - description: ETag of the Certificate. Do not specify for creating a brand new certificate. Required to update an existing certificate.
          in: header
          name: If-Match
          required: false
          type: string
      responses:
        "200":
          description: If certificate already exist and update was successful, the operation returns HTTP status code of 201 (OK).
          schema:
            $ref: "#/definitions/CertificateDescription"
        "201":
          description: If certificate didn't exist creation was successful, the operation returns HTTP status code of 201 (OK).
          schema:
            $ref: "#/definitions/CertificateDescription"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Upload the certificate to the IoT hub.
      tags:
        - Certificates
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}/generateVerificationCode":
    post:
      deprecated: false
      description: Generates verification code for proof of possession flow. The verification code will be used to generate a leaf certificate.
      operationId: Certificates_GenerateVerificationCode
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
        - $ref: "#/parameters/certificateName"
        - description: ETag of the Certificate.
          in: header
          name: If-Match
          required: true
          type: string
      responses:
        "200":
          description: The body contains the certificate.
          schema:
            $ref: "#/definitions/CertificateWithNonceDescription"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Generate verification code for proof of possession flow.
      tags:
        - Certificates
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/certificates/{certificateName}/verify":
    post:
      deprecated: false
      description: Verifies the certificate's private key possession by providing the leaf cert issued by the verifying pre uploaded certificate.
      operationId: Certificates_Verify
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
        - $ref: "#/parameters/certificateName"
        - description: The name of the certificate
          in: body
          name: certificateVerificationBody
          required: true
          schema:
            $ref: "#/definitions/CertificateVerificationDescription"
        - description: ETag of the Certificate.
          in: header
          name: If-Match
          required: true
          type: string
      responses:
        "200":
          description: The body contains the certificate.
          schema:
            $ref: "#/definitions/CertificateDescription"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Verify certificate's private key possession.
      tags:
        - Certificates
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups":
    get:
      deprecated: false
      description: Get a list of the consumer groups in the Event Hub-compatible device-to-cloud endpoint in an IoT hub.
      operationId: IotHubResource_ListEventHubConsumerGroups
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
        - description: The name of the Event Hub-compatible endpoint.
          in: path
          name: eventHubEndpointName
          required: true
          type: string
      responses:
        "200":
          description: This is a synchronous operation. The body contains a JSON-serialized list of the consumer groups in the Event Hub-compatible endpoint in this IoT hub
          schema:
            $ref: "#/definitions/EventHubConsumerGroupsListResult"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Get a list of the consumer groups in the Event Hub-compatible device-to-cloud endpoint in an IoT hub.
      tags:
        - GET
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/eventHubEndpoints/{eventHubEndpointName}/ConsumerGroups/{name}":
    delete:
      deprecated: false
      description: Delete a consumer group from an Event Hub-compatible endpoint in an IoT hub.
      operationId: IotHubResource_DeleteEventHubConsumerGroup
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
        - description: The name of the Event Hub-compatible endpoint in the IoT hub.
          in: path
          name: eventHubEndpointName
          required: true
          type: string
        - description: The name of the consumer group to delete.
          in: path
          name: name
          required: true
          type: string
      responses:
        "200":
          description: This is a synchronous operation.
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Delete a consumer group from an Event Hub-compatible endpoint in an IoT hub.
      tags:
        - DELETE
    get:
      deprecated: false
      description: Get a consumer group from the Event Hub-compatible device-to-cloud endpoint for an IoT hub.
      operationId: IotHubResource_GetEventHubConsumerGroup
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
        - description: The name of the Event Hub-compatible endpoint in the IoT hub.
          in: path
          name: eventHubEndpointName
          required: true
          type: string
        - description: The name of the consumer group to retrieve.
          in: path
          name: name
          required: true
          type: string
      responses:
        "200":
          description: This is a synchronous operation. The body contains a JSON-serialized consumer group.
          schema:
            $ref: "#/definitions/EventHubConsumerGroupInfo"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Get a consumer group from the Event Hub-compatible device-to-cloud endpoint for an IoT hub.
      tags:
        - GET
    put:
      deprecated: false
      description: Add a consumer group to an Event Hub-compatible endpoint in an IoT hub.
      operationId: IotHubResource_CreateEventHubConsumerGroup
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
        - description: The name of the Event Hub-compatible endpoint in the IoT hub.
          in: path
          name: eventHubEndpointName
          required: true
          type: string
        - description: The name of the consumer group to add.
          in: path
          name: name
          required: true
          type: string
      responses:
        "200":
          description: This is a synchronous operation.
          schema:
            $ref: "#/definitions/EventHubConsumerGroupInfo"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Add a consumer group to an Event Hub-compatible endpoint in an IoT hub.
      tags:
        - PUT
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/exportDevices":
    post:
      deprecated: false
      description: "Exports all the device identities in the IoT hub identity registry to an Azure Storage blob container. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities."
      operationId: IotHubResource_ExportDevices
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
        - description: The parameters that specify the export devices operation.
          in: body
          name: exportDevicesParameters
          required: true
          schema:
            $ref: "#/definitions/ExportDevicesRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/JobResponse"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: "Exports all the device identities in the IoT hub identity registry to an Azure Storage blob container. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities."
      tags:
        - POST
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/importDevices":
    post:
      deprecated: false
      description: "Import, update, or delete device identities in the IoT hub identity registry from a blob. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities."
      operationId: IotHubResource_ImportDevices
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
        - description: The parameters that specify the import devices operation.
          in: body
          name: importDevicesParameters
          required: true
          schema:
            $ref: "#/definitions/ImportDevicesRequest"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/JobResponse"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: "Import, update, or delete device identities in the IoT hub identity registry from a blob. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry#import-and-export-device-identities."
      tags:
        - POST
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/jobs":
    get:
      deprecated: false
      description: "Get a list of all the jobs in an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry."
      operationId: IotHubResource_ListJobs
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
      responses:
        "200":
          description: This is a synchronous operation. The response contains a JSON-serialized array of all the jobs in the IoT hub.
          schema:
            $ref: "#/definitions/JobResponseListResult"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: "Get a list of all the jobs in an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry."
      tags:
        - GET
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/jobs/{jobId}":
    get:
      deprecated: false
      description: "Get the details of a job from an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry."
      operationId: IotHubResource_GetJob
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
        - description: The job identifier.
          in: path
          name: jobId
          required: true
          type: string
      responses:
        "200":
          description: This is a synchronous operation. The response contains a JSON-serialized description of the job in the IoT hub.
          schema:
            $ref: "#/definitions/JobResponse"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: "Get the details of a job from an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-identity-registry."
      tags:
        - GET
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/listkeys":
    post:
      deprecated: false
      description: "Get the security metadata for an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security."
      operationId: IotHubResource_ListKeys
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
      responses:
        "200":
          description: This is a synchronous operation. The body contains a JSON-serialized array of shared access policies, including keys, that you can use to access the IoT hub endpoints.
          schema:
            $ref: "#/definitions/SharedAccessSignatureAuthorizationRuleListResult"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: "Get the security metadata for an IoT hub. For more information, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-security."
      tags:
        - POST
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/quotaMetrics":
    get:
      deprecated: false
      description: Get the quota metrics for an IoT hub.
      operationId: IotHubResource_GetQuotaMetrics
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
      responses:
        "200":
          description: This is a synchronous operation. The response contains a JSON-serialized array of the quota metrics for the IoT hub.
          schema:
            $ref: "#/definitions/IotHubQuotaMetricInfoListResult"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Get the quota metrics for an IoT hub.
      tags:
        - GET
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Devices/IotHubs/{resourceName}/skus":
    get:
      deprecated: false
      description: Get the list of valid SKUs for an IoT hub.
      operationId: IotHubResource_GetValidSkus
      parameters:
        - $ref: "#/parameters/api-version"
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/resourceName"
      responses:
        "200":
          description: This is a synchronous operation. The body contains a JSON-serialized array of the valid SKUs for this IoT hub.
          schema:
            $ref: "#/definitions/IotHubSkuDescriptionListResult"
        default:
          description: DefaultErrorResponse
          schema:
            $ref: "#/definitions/ErrorDetails"
      summary: Get the list of valid SKUs for an IoT hub.
      tags:
        - GET
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  CertificateBodyDescription:
    description: The JSON-serialized X509 Certificate.
    properties:
      certificate:
        description: base-64 representation of the X509 leaf certificate .cer file or just .pem file content.
        type: string
    type: object
  CertificateDescription:
    description: The X509 Certificate.
    properties:
      etag:
        description: The entity tag.
        readOnly: true
        type: string
      id:
        description: The resource identifier.
        readOnly: true
        type: string
      name:
        description: The name of the certificate.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/CertificateProperties"
      type:
        description: The resource type.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  CertificateListDescription:
    description: The JSON-serialized array of Certificate objects.
    properties:
      value:
        description: The array of Certificate objects.
        items:
          $ref: "#/definitions/CertificateDescription"
        type: array
    type: object
  CertificateProperties:
    description: The description of an X509 CA Certificate.
    properties:
      created:
        description: The certificate's create date and time.
        format: date-time-rfc1123
        readOnly: true
        type: string
      expiry:
        description: The certificate's expiration date and time.
        format: date-time-rfc1123
        readOnly: true
        type: string
      isVerified:
        description: Determines whether certificate has been verified.
        readOnly: true
        type: boolean
      subject:
        description: The certificate's subject name.
        readOnly: true
        type: string
      thumbprint:
        description: The certificate's thumbprint.
        readOnly: true
        type: string
      updated:
        description: The certificate's last update date and time.
        format: date-time-rfc1123
        readOnly: true
        type: string
    type: object
  CertificatePropertiesWithNonce:
    description: The description of an X509 CA Certificate including the challenge nonce issued for the Proof-Of-Possession flow.
    properties:
      created:
        description: The certificate's create date and time.
        format: date-time-rfc1123
        readOnly: true
        type: string
      expiry:
        description: The certificate's expiration date and time.
        format: date-time-rfc1123
        readOnly: true
        type: string
      isVerified:
        description: Determines whether certificate has been verified.
        readOnly: true
        type: boolean
      subject:
        description: The certificate's subject name.
        readOnly: true
        type: string
      thumbprint:
        description: The certificate's thumbprint.
        readOnly: true
        type: string
      updated:
        description: The certificate's last update date and time.
        format: date-time-rfc1123
        readOnly: true
        type: string
      verificationCode:
        description: The certificate's verification code that will be used for proof of possession.
        readOnly: true
        type: string
    type: object
  CertificateVerificationDescription:
    description: The JSON-serialized leaf certificate
    properties:
      certificate:
        description: base-64 representation of X509 certificate .cer file or just .pem file content.
        type: string
    type: object
  CertificateWithNonceDescription:
    description: The X509 Certificate.
    properties:
      etag:
        description: The entity tag.
        readOnly: true
        type: string
      id:
        description: The resource identifier.
        readOnly: true
        type: string
      name:
        description: The name of the certificate.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/CertificatePropertiesWithNonce"
      type:
        description: The resource type.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  CloudToDeviceProperties:
    description: The IoT hub cloud-to-device messaging properties.
    properties:
      defaultTtlAsIso8601:
        description: "The default time to live for cloud-to-device messages in the device queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages."
        format: duration
        type: string
      feedback:
        $ref: "#/definitions/FeedbackProperties"
      maxDeliveryCount:
        description: "The max delivery count for cloud-to-device messages in the device queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages."
        format: int32
        maximum: 100
        minimum: 1
        type: integer
    type: object
  ErrorDetails:
    description: Error details.
    properties:
      Code:
        description: The error code.
        readOnly: true
        type: string
      Details:
        description: The error details.
        readOnly: true
        type: string
      HttpStatusCode:
        description: The HTTP status code.
        readOnly: true
        type: string
      Message:
        description: The error message.
        readOnly: true
        type: string
    type: object
  EventHubConsumerGroupInfo:
    description: The properties of the EventHubConsumerGroupInfo object.
    properties:
      id:
        description: The Event Hub-compatible consumer group identifier.
        type: string
      name:
        description: The Event Hub-compatible consumer group name.
        type: string
      tags:
        additionalProperties:
          type: string
        description: The tags.
        type: object
    type: object
  EventHubConsumerGroupsListResult:
    description: The JSON-serialized array of Event Hub-compatible consumer group names with a next link.
    properties:
      nextLink:
        description: The next link.
        readOnly: true
        type: string
      value:
        description: The array of Event Hub-compatible consumer group names.
        items:
          type: string
        type: array
    type: object
  EventHubProperties:
    description: The properties of the provisioned Event Hub-compatible endpoint used by the IoT hub.
    properties:
      endpoint:
        description: The Event Hub-compatible endpoint.
        readOnly: true
        type: string
      partitionCount:
        description: "The number of partitions for receiving device-to-cloud messages in the Event Hub-compatible endpoint. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#device-to-cloud-messages."
        format: int32
        type: integer
      partitionIds:
        description: The partition ids in the Event Hub-compatible endpoint.
        items:
          type: string
        readOnly: true
        type: array
      path:
        description: The Event Hub-compatible name.
        readOnly: true
        type: string
      retentionTimeInDays:
        description: "The retention time for device-to-cloud messages in days. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#device-to-cloud-messages"
        format: int64
        type: integer
    type: object
  ExportDevicesRequest:
    description: Use to provide parameters when requesting an export of all devices in the IoT hub.
    properties:
      ExcludeKeys:
        description: The value indicating whether keys should be excluded during export.
        type: boolean
      ExportBlobContainerUri:
        description: The export blob container URI.
        type: string
    required:
      - ExportBlobContainerUri
      - ExcludeKeys
    type: object
  FallbackRouteProperties:
    description: The properties of the fallback route. IoT Hub uses these properties when it routes messages to the fallback endpoint.
    properties:
      condition:
        description: "The condition which is evaluated in order to apply the fallback route. If the condition is not provided it will evaluate to true by default. For grammar, See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-query-language"
        type: string
      endpointNames:
        description: The list of endpoints to which the messages that satisfy the condition are routed to. Currently only 1 endpoint is allowed.
        items:
          type: string
        maxItems: 1
        minItems: 1
        type: array
      isEnabled:
        description: Used to specify whether the fallback route is enabled.
        type: boolean
      source:
        description: The source to which the routing rule is to be applied to. For example, DeviceMessages
        enum:
          - DeviceMessages
        type: string
        x-ms-enum:
          modelAsString: true
          name: RoutingSource
    required:
      - endpointNames
      - source
      - isEnabled
    type: object
  FeedbackProperties:
    description: The properties of the feedback queue for cloud-to-device messages.
    properties:
      lockDurationAsIso8601:
        description: "The lock duration for the feedback queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages."
        format: duration
        type: string
      maxDeliveryCount:
        description: "The number of times the IoT hub attempts to deliver a message on the feedback queue. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages."
        format: int32
        maximum: 100
        minimum: 1
        type: integer
      ttlAsIso8601:
        description: "The period of time for which a message is available to consume before it is expired by the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging#cloud-to-device-messages."
        format: duration
        type: string
    type: object
  ImportDevicesRequest:
    description: Use to provide parameters when requesting an import of all devices in the hub.
    properties:
      InputBlobContainerUri:
        description: The input blob container URI.
        type: string
      OutputBlobContainerUri:
        description: The output blob container URI.
        type: string
    required:
      - InputBlobContainerUri
      - OutputBlobContainerUri
    type: object
  IotHubCapacity:
    description: IoT Hub capacity information.
    properties:
      default:
        description: The default number of units.
        format: int64
        readOnly: true
        type: integer
      maximum:
        description: The maximum number of units.
        format: int64
        readOnly: true
        type: integer
      minimum:
        description: The minimum number of units.
        format: int64
        maximum: 1
        minimum: 1
        readOnly: true
        type: integer
      scaleType:
        description: The type of the scaling enabled.
        enum:
          - Automatic
          - Manual
          - None
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: IotHubScaleType
    type: object
  IotHubDescription:
    allOf:
      - $ref: "#/definitions/Resource"
    description: The description of the IoT hub.
    properties:
      etag:
        description: The Etag field is *not* required. If it is provided in the response body, it must also be provided as a header per the normal ETag convention.
        type: string
      properties:
        $ref: "#/definitions/IotHubProperties"
      resourcegroup:
        description: The name of the resource group that contains the IoT hub. A resource group name uniquely identifies the resource group within the subscription.
        type: string
      sku:
        $ref: "#/definitions/IotHubSkuInfo"
      subscriptionid:
        description: The subscription identifier.
        type: string
    required:
      - subscriptionid
      - resourcegroup
      - sku
    type: object
  IotHubDescriptionListResult:
    description: The JSON-serialized array of IotHubDescription objects with a next link.
    properties:
      nextLink:
        description: The next link.
        readOnly: true
        type: string
      value:
        description: The array of IotHubDescription objects.
        items:
          $ref: "#/definitions/IotHubDescription"
        type: array
    type: object
  IotHubNameAvailabilityInfo:
    description: The properties indicating whether a given IoT hub name is available.
    properties:
      message:
        description: The detailed reason message.
        type: string
      nameAvailable:
        description: The value which indicates whether the provided name is available.
        readOnly: true
        type: boolean
      reason:
        description: The reason for unavailability.
        enum:
          - Invalid
          - AlreadyExists
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: IotHubNameUnavailabilityReason
    type: object
  IotHubProperties:
    description: The properties of an IoT hub.
    properties:
      authorizationPolicies:
        description: The shared access policies you can use to secure a connection to the IoT hub.
        items:
          $ref: "#/definitions/SharedAccessSignatureAuthorizationRule"
        type: array
      cloudToDevice:
        $ref: "#/definitions/CloudToDeviceProperties"
      comments:
        description: IoT hub comments.
        type: string
      enableFileUploadNotifications:
        description: If True, file upload notifications are enabled.
        type: boolean
      eventHubEndpoints:
        additionalProperties:
          $ref: "#/definitions/EventHubProperties"
        description: The Event Hub-compatible endpoint properties. The possible keys to this dictionary are events and operationsMonitoringEvents. Both of these keys have to be present in the dictionary while making create or update calls for the IoT hub.
        type: object
      features:
        description: The capabilities and features enabled for the IoT hub.
        enum:
          - None
          - DeviceManagement
        type: string
        x-ms-enum:
          modelAsString: true
          name: Capabilities
      hostName:
        description: The name of the host.
        readOnly: true
        type: string
      ipFilterRules:
        description: The IP filter rules.
        items:
          $ref: "#/definitions/IpFilterRule"
        type: array
      messagingEndpoints:
        additionalProperties:
          $ref: "#/definitions/MessagingEndpointProperties"
        description: The messaging endpoint properties for the file upload notification queue.
        type: object
      operationsMonitoringProperties:
        $ref: "#/definitions/OperationsMonitoringProperties"
      provisioningState:
        description: The provisioning state.
        readOnly: true
        type: string
      routing:
        $ref: "#/definitions/RoutingProperties"
      storageEndpoints:
        additionalProperties:
          $ref: "#/definitions/StorageEndpointProperties"
        description: The list of Azure Storage endpoints where you can upload files. Currently you can configure only one Azure Storage account and that MUST have its key as $default. Specifying more than one storage account causes an error to be thrown. Not specifying a value for this property when the enableFileUploadNotifications property is set to True, causes an error to be thrown.
        type: object
    type: object
  IotHubQuotaMetricInfo:
    description: Quota metrics properties.
    properties:
      CurrentValue:
        description: The current value for the quota metric.
        format: int64
        readOnly: true
        type: integer
      MaxValue:
        description: The maximum value of the quota metric.
        format: int64
        readOnly: true
        type: integer
      Name:
        description: The name of the quota metric.
        readOnly: true
        type: string
    type: object
  IotHubQuotaMetricInfoListResult:
    description: The JSON-serialized array of IotHubQuotaMetricInfo objects with a next link.
    properties:
      nextLink:
        description: The next link.
        readOnly: true
        type: string
      value:
        description: The array of quota metrics objects.
        items:
          $ref: "#/definitions/IotHubQuotaMetricInfo"
        type: array
    type: object
  IotHubSkuDescription:
    description: SKU properties.
    properties:
      capacity:
        $ref: "#/definitions/IotHubCapacity"
      resourceType:
        description: The type of the resource.
        readOnly: true
        type: string
      sku:
        $ref: "#/definitions/IotHubSkuInfo"
    required:
      - sku
      - capacity
    type: object
  IotHubSkuDescriptionListResult:
    description: The JSON-serialized array of IotHubSkuDescription objects with a next link.
    properties:
      nextLink:
        description: The next link.
        readOnly: true
        type: string
      value:
        description: The array of IotHubSkuDescription.
        items:
          $ref: "#/definitions/IotHubSkuDescription"
        type: array
    type: object
  IotHubSkuInfo:
    description: Information about the SKU of the IoT hub.
    properties:
      capacity:
        description: "The number of provisioned IoT Hub units. See: https://docs.microsoft.com/azure/azure-subscription-service-limits#iot-hub-limits."
        format: int64
        type: integer
      name:
        description: The name of the SKU.
        enum:
          - F1
          - S1
          - S2
          - S3
        type: string
        x-ms-enum:
          modelAsString: true
          name: IotHubSku
      tier:
        description: The billing tier for the IoT hub.
        enum:
          - Free
          - Standard
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: IotHubSkuTier
    required:
      - name
      - capacity
    type: object
  IpFilterRule:
    description: The IP filter rules for the IoT hub.
    properties:
      action:
        description: The desired action for requests captured by this rule.
        enum:
          - Accept
          - Reject
        type: string
        x-ms-enum:
          modelAsString: false
          name: IpFilterActionType
      filterName:
        description: The name of the IP filter rule.
        type: string
      ipMask:
        description: A string that contains the IP address range in CIDR notation for the rule.
        type: string
    required:
      - filterName
      - action
      - ipMask
    type: object
  JobResponse:
    description: The properties of the Job Response object.
    properties:
      endTimeUtc:
        description: The time the job stopped processing.
        format: date-time-rfc1123
        readOnly: true
        type: string
      failureReason:
        description: If status == failed, this string containing the reason for the failure.
        readOnly: true
        type: string
      jobId:
        description: The job identifier.
        readOnly: true
        type: string
      parentJobId:
        description: The job identifier of the parent job, if any.
        readOnly: true
        type: string
      startTimeUtc:
        description: The start time of the job.
        format: date-time-rfc1123
        readOnly: true
        type: string
      status:
        description: The status of the job.
        enum:
          - unknown
          - enqueued
          - running
          - completed
          - failed
          - cancelled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: JobStatus
      statusMessage:
        description: The status message for the job.
        readOnly: true
        type: string
      type:
        description: The type of the job.
        enum:
          - unknown
          - export
          - import
          - backup
          - readDeviceProperties
          - writeDeviceProperties
          - updateDeviceConfiguration
          - rebootDevice
          - factoryResetDevice
          - firmwareUpdate
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: JobType
    type: object
  JobResponseListResult:
    description: The JSON-serialized array of JobResponse objects with a next link.
    properties:
      nextLink:
        description: The next link.
        readOnly: true
        type: string
      value:
        description: The array of JobResponse objects.
        items:
          $ref: "#/definitions/JobResponse"
        type: array
    type: object
  MessagingEndpointProperties:
    description: The properties of the messaging endpoints used by this IoT hub.
    properties:
      lockDurationAsIso8601:
        description: "The lock duration. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload."
        format: duration
        type: string
      maxDeliveryCount:
        description: "The number of times the IoT hub attempts to deliver a message. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload."
        format: int32
        maximum: 100
        minimum: 1
        type: integer
      ttlAsIso8601:
        description: "The period of time for which a message is available to consume before it is expired by the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload."
        format: duration
        type: string
    type: object
  Operation:
    description: IoT Hub REST API operation
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: Name of the operation
            readOnly: true
            type: string
          provider:
            description: "Service provider: Microsoft Devices"
            readOnly: true
            type: string
          resource:
            description: "Resource Type: IotHubs"
            readOnly: true
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{read | write | action | delete}"
        readOnly: true
        type: string
    type: object
  OperationInputs:
    description: Input values.
    properties:
      Name:
        description: The name of the IoT hub to check.
        type: string
    required:
      - Name
    type: object
  OperationListResult:
    description: Result of the request to list IoT Hub operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        readOnly: true
        type: string
      value:
        description: List of IoT Hub operations supported by the Microsoft.Devices resource provider.
        items:
          $ref: "#/definitions/Operation"
        readOnly: true
        type: array
  OperationsMonitoringProperties:
    description: The operations monitoring properties for the IoT hub. The possible keys to the dictionary are Connections, DeviceTelemetry, C2DCommands, DeviceIdentityOperations, FileUploadOperations, Routes, D2CTwinOperations, C2DTwinOperations, TwinQueries, JobsOperations, DirectMethods.
    properties:
      events:
        additionalProperties:
          description: The operations monitoring level.
          enum:
            - None
            - Error
            - Information
            - Error, Information
          type: string
          x-ms-enum:
            modelAsString: true
            name: OperationMonitoringLevel
        type: object
    type: object
  RegistryStatistics:
    description: Identity registry statistics.
    properties:
      disabledDeviceCount:
        description: The count of disabled devices in the identity registry.
        format: int64
        readOnly: true
        type: integer
      enabledDeviceCount:
        description: The count of enabled devices in the identity registry.
        format: int64
        readOnly: true
        type: integer
      totalDeviceCount:
        description: The total count of devices in the identity registry.
        format: int64
        readOnly: true
        type: integer
    type: object
  Resource:
    description: The common properties of an Azure resource.
    properties:
      id:
        description: The resource identifier.
        readOnly: true
        type: string
      location:
        description: The resource location.
        type: string
      name:
        description: The resource name.
        pattern: ^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: The resource tags.
        type: object
      type:
        description: The resource type.
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  RouteProperties:
    description: The properties of a routing rule that your IoT hub uses to route messages to endpoints.
    properties:
      condition:
        description: "The condition that is evaluated to apply the routing rule. If no condition is provided, it evaluates to true by default. For grammar, see: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-query-language"
        type: string
      endpointNames:
        description: The list of endpoints to which messages that satisfy the condition are routed. Currently only one endpoint is allowed.
        items:
          type: string
        maxItems: 1
        minItems: 1
        type: array
      isEnabled:
        description: Used to specify whether a route is enabled.
        type: boolean
      name:
        description: The name of the route. The name can only include alphanumeric characters, periods, underscores, hyphens, has a maximum length of 64 characters, and must be unique.
        pattern: ^[A-Za-z0-9-._]{1,64}$
        type: string
      source:
        description: The source that the routing rule is to be applied to, such as DeviceMessages.
        enum:
          - DeviceMessages
          - TwinChangeEvents
          - DeviceLifecycleEvents
          - DeviceJobLifecycleEvents
        type: string
        x-ms-enum:
          modelAsString: true
          name: RoutingSource
    required:
      - name
      - endpointNames
      - source
      - isEnabled
    type: object
  RoutingEndpoints:
    description: The properties related to the custom endpoints to which your IoT hub routes messages based on the routing rules. A maximum of 10 custom endpoints are allowed across all endpoint types for paid hubs and only 1 custom endpoint is allowed across all endpoint types for free hubs.
    properties:
      eventHubs:
        description: The list of Event Hubs endpoints that IoT hub routes messages to, based on the routing rules. This list does not include the built-in Event Hubs endpoint.
        items:
          $ref: "#/definitions/RoutingEventHubProperties"
        type: array
      serviceBusQueues:
        description: The list of Service Bus queue endpoints that IoT hub routes the messages to, based on the routing rules.
        items:
          $ref: "#/definitions/RoutingServiceBusQueueEndpointProperties"
        type: array
      serviceBusTopics:
        description: The list of Service Bus topic endpoints that the IoT hub routes the messages to, based on the routing rules.
        items:
          $ref: "#/definitions/RoutingServiceBusTopicEndpointProperties"
        type: array
      storageContainers:
        description: The list of storage container endpoints that IoT hub routes messages to, based on the routing rules.
        items:
          $ref: "#/definitions/RoutingStorageContainerProperties"
        type: array
    type: object
  RoutingEventHubProperties:
    description: The properties related to an event hub endpoint.
    properties:
      connectionString:
        description: "The connection string of the event hub endpoint. "
        type: string
      name:
        description: "The name that identifies this endpoint. The name can only include alphanumeric characters, periods, underscores, hyphens and has a maximum length of 64 characters. The following names are reserved:  events, operationsMonitoringEvents, fileNotifications, $default. Endpoint names must be unique across endpoint types."
        pattern: ^[A-Za-z0-9-._]{1,64}$
        type: string
      resourceGroup:
        description: The name of the resource group of the event hub endpoint.
        type: string
      subscriptionId:
        description: The subscription identifier of the event hub endpoint.
        type: string
    required:
      - name
      - connectionString
    type: object
  RoutingProperties:
    description: "The routing related properties of the IoT hub. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-messaging"
    properties:
      endpoints:
        $ref: "#/definitions/RoutingEndpoints"
      fallbackRoute:
        $ref: "#/definitions/FallbackRouteProperties"
        description: The properties of the route that is used as a fall-back route when none of the conditions specified in the 'routes' section are met. This is an optional parameter. When this property is not set, the messages which do not meet any of the conditions specified in the 'routes' section get routed to the built-in eventhub endpoint.
      routes:
        description: The list of user-provided routing rules that the IoT hub uses to route messages to built-in and custom endpoints. A maximum of 100 routing rules are allowed for paid hubs and a maximum of 5 routing rules are allowed for free hubs.
        items:
          $ref: "#/definitions/RouteProperties"
        type: array
    type: object
  RoutingServiceBusQueueEndpointProperties:
    description: The properties related to service bus queue endpoint types.
    properties:
      connectionString:
        description: The connection string of the service bus queue endpoint.
        type: string
      name:
        description: "The name that identifies this endpoint. The name can only include alphanumeric characters, periods, underscores, hyphens and has a maximum length of 64 characters. The following names are reserved:  events, operationsMonitoringEvents, fileNotifications, $default. Endpoint names must be unique across endpoint types. The name need not be the same as the actual queue name."
        pattern: ^[A-Za-z0-9-._]{1,64}$
        type: string
      resourceGroup:
        description: The name of the resource group of the service bus queue endpoint.
        type: string
      subscriptionId:
        description: The subscription identifier of the service bus queue endpoint.
        type: string
    required:
      - name
      - connectionString
    type: object
  RoutingServiceBusTopicEndpointProperties:
    description: The properties related to service bus topic endpoint types.
    properties:
      connectionString:
        description: The connection string of the service bus topic endpoint.
        type: string
      name:
        description: "The name that identifies this endpoint. The name can only include alphanumeric characters, periods, underscores, hyphens and has a maximum length of 64 characters. The following names are reserved:  events, operationsMonitoringEvents, fileNotifications, $default. Endpoint names must be unique across endpoint types.  The name need not be the same as the actual topic name."
        pattern: ^[A-Za-z0-9-._]{1,64}$
        type: string
      resourceGroup:
        description: The name of the resource group of the service bus topic endpoint.
        type: string
      subscriptionId:
        description: The subscription identifier of the service bus topic endpoint.
        type: string
    required:
      - name
      - connectionString
    type: object
  RoutingStorageContainerProperties:
    description: The properties related to a storage container endpoint.
    properties:
      batchFrequencyInSeconds:
        description: Time interval at which blobs are written to storage. Value should be between 60 and 720 seconds. Default value is 300 seconds.
        format: int32
        maximum: 720
        minimum: 60
        type: integer
      connectionString:
        description: The connection string of the storage account.
        type: string
      containerName:
        description: The name of storage container in the storage account.
        type: string
      encoding:
        description: Encoding that is used to serialize messages to blobs. Supported values are 'avro' and 'avroDeflate'. Default value is 'avro'.
        type: string
      fileNameFormat:
        description: File name format for the blob. Default format is {iothub}/{partition}/{YYYY}/{MM}/{DD}/{HH}/{mm}. All parameters are mandatory but can be reordered.
        type: string
      maxChunkSizeInBytes:
        description: Maximum number of bytes for each blob written to storage. Value should be between 10485760(10MB) and 524288000(500MB). Default value is 314572800(300MB).
        format: int32
        maximum: 524288000
        minimum: 10485760
        type: integer
      name:
        description: "The name that identifies this endpoint. The name can only include alphanumeric characters, periods, underscores, hyphens and has a maximum length of 64 characters. The following names are reserved:  events, operationsMonitoringEvents, fileNotifications, $default. Endpoint names must be unique across endpoint types."
        pattern: ^[A-Za-z0-9-._]{1,64}$
        type: string
      resourceGroup:
        description: The name of the resource group of the storage account.
        type: string
      subscriptionId:
        description: The subscription identifier of the storage account.
        type: string
    required:
      - name
      - connectionString
      - containerName
    type: object
  SharedAccessSignatureAuthorizationRule:
    description: The properties of an IoT hub shared access policy.
    properties:
      keyName:
        description: The name of the shared access policy.
        type: string
      primaryKey:
        description: The primary key.
        type: string
      rights:
        description: The permissions assigned to the shared access policy.
        enum:
          - RegistryRead
          - RegistryWrite
          - ServiceConnect
          - DeviceConnect
          - RegistryRead, RegistryWrite
          - RegistryRead, ServiceConnect
          - RegistryRead, DeviceConnect
          - RegistryWrite, ServiceConnect
          - RegistryWrite, DeviceConnect
          - ServiceConnect, DeviceConnect
          - RegistryRead, RegistryWrite, ServiceConnect
          - RegistryRead, RegistryWrite, DeviceConnect
          - RegistryRead, ServiceConnect, DeviceConnect
          - RegistryWrite, ServiceConnect, DeviceConnect
          - RegistryRead, RegistryWrite, ServiceConnect, DeviceConnect
        type: string
        x-ms-enum:
          modelAsString: false
          name: AccessRights
      secondaryKey:
        description: The secondary key.
        type: string
    required:
      - keyName
      - rights
    type: object
  SharedAccessSignatureAuthorizationRuleListResult:
    description: The list of shared access policies with a next link.
    properties:
      nextLink:
        description: The next link.
        readOnly: true
        type: string
      value:
        description: The list of shared access policies.
        items:
          $ref: "#/definitions/SharedAccessSignatureAuthorizationRule"
        type: array
    type: object
  StorageEndpointProperties:
    description: The properties of the Azure Storage endpoint for file upload.
    properties:
      connectionString:
        description: The connection string for the Azure Storage account to which files are uploaded.
        type: string
      containerName:
        description: The name of the root container where you upload files. The container need not exist but should be creatable using the connectionString specified.
        type: string
      sasTtlAsIso8601:
        description: "The period of time for which the SAS URI generated by IoT Hub for file upload is valid. See: https://docs.microsoft.com/azure/iot-hub/iot-hub-devguide-file-upload#file-upload-notification-configuration-options."
        format: duration
        type: string
    required:
      - connectionString
      - containerName
    type: object
