swagger: "2.0"
schemes:
  - https
host: api.owler.com
basePath: /
info:
  description: Search for information on companies using a website or company name and get access to Company Data, News, Blog Posts, Competitor Lists and much more.
  title: Owler
  version: 1.0.0
  x-apisguru-categories:
    - search
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_owlerinc_profile_image.png
  x-origin:
    - converter:
        url: https://github.com/lucybot/api-spec-converter
        version: 2.7.11
      format: swagger
      url: https://developers.owler.com/swagger/spec.json
      version: "1.2"
  x-providerName: owler.com
produces:
  - application/json
  - application/xml
securityDefinitions:
  user_key:
    description: API Access Key
    in: header
    name: user_key
    type: apiKey
security:
  - user_key: []
tags:
  - description: Provides Company information
    name: CompanyAPI
  - description: Provides company premium information.
    name: CompanyPremiumAPI
  - description: Provides Competitor information
    name: CompetitorAPI
  - description: Provides Competitor Premium information
    name: CompetitorPremiumAPI
  - description: Provides Feed information
    name: FeedAPI
paths:
  /v1/company/basicsearch:
    get:
      description: The Company Basic Search API searches for a company based on the input and will returns results containing basic details about matching companies. By default the API returns the top 10 available results unless the limit is specified. The maximum limit is restricted to 30.
      operationId: basicCompanySearch
      parameters:
        - description: Search term
          in: query
          name: q
          required: true
          type: string
        - description: Fields to be searched - name, website, ticker, permid. If not specfied, will be searched against all fields
          in: query
          items:
            enum:
              - name
              - website
              - ticker
              - permid
            type: string
          name: fields
          required: false
          type: array
        - description: Number of results to be displayed - 10 (by default, if not specified) to 30
          in: query
          name: limit
          required: false
          type: string
        - default: json
          description: Format of the response content - json (by default if not specified), xml
          enum:
            - xml
            - json
          in: query
          name: format
          required: false
          type: string
      responses:
        "200":
          description: Search Results
          schema:
            $ref: "#/definitions/basic_results"
        "400":
          description: Invalid Parameters
        "403":
          description: Authentication Failed
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      summary: Basic Search Company by Ticker or Website or Name or PermID
      tags:
        - CompanyAPI
  "/v1/company/competitor/id/{companyId}":
    get:
      description: The Competitors API provides basic information about top 3 competitors of a company specified in the Company Id
      parameters:
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - default: json
          description: Format of the response content - json (by default if not specified), xml
          enum:
            - xml
            - json
          in: query
          name: format
          required: false
          type: string
      responses:
        "200":
          description: Competitors Data
          schema:
            $ref: "#/definitions/CompanyCompetitorVO"
        "400":
          description: Invalid Parameters
        "403":
          description: Authentication Failed
        "404":
          description: Resource Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      summary: Get Competitor information by Id
      tags:
        - CompetitorAPI
  "/v1/company/competitor/url/{website}":
    get:
      description: The Competitors API provides basic information about top 3 competitors of a company specified in the website
      parameters:
        - description: Company Id
          in: path
          name: website
          required: true
          type: string
        - default: json
          description: Format of the response content - json (by default if not specified), xml
          enum:
            - xml
            - json
          in: query
          name: format
          required: false
          type: string
      responses:
        "200":
          description: Competitors Data
          schema:
            $ref: "#/definitions/CompanyCompetitorVO"
        "400":
          description: Invalid Parameters
        "403":
          description: Authentication Failed
        "404":
          description: Resource Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      summary: Get Competitor information by URL
      tags:
        - CompetitorAPI
  "/v1/company/competitorpremium/id/{companyId}":
    get:
      description: The Competitors API provides basic information about all competitors of a given company Id
      parameters:
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - description: Pass pagination_id as * in the first API request. The API response will return top competitors along with the next pagination_id which can be passed in the subsequent API request to get the next set of competitors. Repeat this process until needed or till the pagination_id returned is blank. Note:Every response will have maximum of 50 competitors.
          in: query
          name: pagination_id
          required: false
          type: string
        - default: json
          description: Format of the response content - json (by default if not specified), xml
          enum:
            - xml
            - json
          in: query
          name: format
          required: false
          type: string
      responses:
        "200":
          description: Competitors Data
          schema:
            $ref: "#/definitions/competitors"
        "400":
          description: Invalid Parameters
        "403":
          description: Authentication Failed
        "404":
          description: Resource Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      summary: Get Competitor information by Id
      tags:
        - CompetitorPremiumAPI
  "/v1/company/competitorpremium/url/{website}":
    get:
      description: The Competitors API provides basic information about all competitors of a given company Id
      parameters:
        - description: Company Id
          in: path
          name: website
          required: true
          type: string
        - description: Pass pagination_id as * in the first API request. The API response will return top competitors along with the next pagination_id which can be passed in the subsequent API request to get the next set of competitors. Repeat this process until needed or till the pagination_id returned is blank. Note:Every response will have maximum of 50 competitors.
          in: query
          name: pagination_id
          required: false
          type: string
        - default: json
          description: Format of the response content - json (by default if not specified), xml
          enum:
            - xml
            - json
          in: query
          name: format
          required: false
          type: string
      responses:
        "200":
          description: Competitors Data
          schema:
            $ref: "#/definitions/competitors"
        "400":
          description: Invalid Parameters
        "403":
          description: Authentication Failed
        "404":
          description: Resource Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      summary: Get Competitor information by Url
      tags:
        - CompetitorPremiumAPI
  /v1/company/fuzzysearch:
    get:
      description: The Company Fuzzy Search API searches for a company based on the input and will return results containing basic details about matching companies. By default the API returns at most top 10 available results unless the limit is specified. The maximum limit is restricted to 30.
      operationId: fuzzyCompanySearch
      parameters:
        - description: Search term
          in: query
          name: q
          required: true
          type: string
        - description: Fields to be searched - name, website, ticker, permid, address, phone. Each field and its corresponding value has to be specified
          in: query
          items:
            enum:
              - name
              - website
              - ticker
              - permid
              - address
              - phone
            type: string
          name: fields
          required: true
          type: array
        - description: Number of results to be displayed - 10 (by default, if not specified) to 30
          in: query
          name: limit
          required: false
          type: string
        - default: json
          description: Format of the response content - json (by default if not specified), xml
          enum:
            - xml
            - json
          in: query
          name: format
          required: false
          type: string
      responses:
        "200":
          description: Search Results
          schema:
            $ref: "#/definitions/fuzzy_results"
        "400":
          description: Invalid Parameters
        "403":
          description: Authentication Failed
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      summary: Fuzzy Search Company by Name or Address or Phone
      tags:
        - CompanyAPI
  "/v1/company/id/{companyId}":
    get:
      description: "The Company Data API provides complete information about a company for the specified Company Id "
      parameters:
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - default: json
          description: Format of the response content - json (by default if not specified), xml
          enum:
            - xml
            - json
          in: query
          name: format
          required: false
          type: string
      responses:
        "200":
          description: Company Data
          schema:
            $ref: "#/definitions/company"
        "400":
          description: Invalid Parameters
        "403":
          description: Authentication Failed
        "404":
          description: Resource Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      summary: Get Company by Id
      tags:
        - CompanyAPI
  /v1/company/search:
    get:
      description: The Company Search API searches for a company based on the input and will returns results containing basic details about matching companies. By default the API returns the top 10 available results unless the limit is specified. The maximum limit is restricted to 30.
      operationId: searchCompany
      parameters:
        - description: Search term
          in: query
          name: q
          required: true
          type: string
        - description: Fields to be searched - name, website, ticker. If not specified, will be searched against all fields
          in: query
          items:
            enum:
              - name
              - website
              - ticker
              - permid
            type: string
          name: fields
          required: false
          type: array
        - description: Number of results to be displayed - 10 (by default, if not specified) to 30
          in: query
          name: limit
          required: false
          type: string
        - default: json
          description: Format of the response content - json (by default if not specified), xml
          enum:
            - xml
            - json
          in: query
          name: format
          required: false
          type: string
      responses:
        "200":
          description: Search Results
          schema:
            $ref: "#/definitions/results"
        "400":
          description: Invalid Parameters
        "403":
          description: Authentication Failed
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      summary: Search Company by Ticker or Website or Name or PermID
      tags:
        - CompanyAPI
  "/v1/company/url/{website}":
    get:
      description: "The Company Data API provides complete information about a company for the specified URL "
      parameters:
        - description: Company Domain
          in: path
          name: website
          required: true
          type: string
        - default: json
          description: Format of the response content - json (by default if not specified), xml
          enum:
            - xml
            - json
          in: query
          name: format
          required: false
          type: string
      responses:
        "200":
          description: Company Data
          schema:
            $ref: "#/definitions/company"
        "400":
          description: Invalid Parameters
        "403":
          description: Authentication Failed
        "404":
          description: Resource Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      summary: Get Company by URL
      tags:
        - CompanyAPI
  "/v1/companypremium/id/{companyId}":
    get:
      description: "The Company Premium Data API provides complete information about a company for the specified Company Id "
      parameters:
        - description: Company Id
          in: path
          name: companyId
          required: true
          type: string
        - default: json
          description: Format of the response content - json (by default if not specified), xml
          enum:
            - xml
            - json
          in: query
          name: format
          required: false
          type: string
      responses:
        "200":
          description: Company Data
          schema:
            $ref: "#/definitions/company"
        "400":
          description: Invalid Parameters
        "403":
          description: Authentication Failed
        "404":
          description: Resource Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      summary: Get Complete Company Info by Id
      tags:
        - CompanyPremiumAPI
  "/v1/companypremium/url/{website}":
    get:
      description: "The Company Data API provides complete information about a company for the specified URL "
      parameters:
        - description: Company Domain
          in: path
          name: website
          required: true
          type: string
        - default: json
          description: Format of the response content - json (by default if not specified), xml
          enum:
            - xml
            - json
          in: query
          name: format
          required: false
          type: string
      responses:
        "200":
          description: Company Data
          schema:
            $ref: "#/definitions/company"
        "400":
          description: Invalid Parameters
        "403":
          description: Authentication Failed
        "404":
          description: Resource Not Found
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      summary: Get Basic Company Info by Url
      tags:
        - CompanyPremiumAPI
  /v1/feed:
    get:
      description: The Feeds API provides a list of feeds and individual feed information for the given Company Ids and Category. By default the API returns the latest 10 feeds available unless the limit is specified. The maximum result is restricted to 100 feeds per API request.
      parameters:
        - default: json
          description: Format of the response content - json (by default if not specified), xml
          enum:
            - xml
            - json
          in: query
          name: format
          required: false
          type: string
        - description: Company Ids separated by comma (Maximum of 150 Company Ids)
          in: query
          items:
            type: string
          name: company_id
          required: true
          type: array
        - default: "10"
          description: Number of results to be displayed - 10 (by default, if not specified) to 100
          in: query
          name: limit
          required: false
          type: string
        - default: "*"
          description: Pass pagination_id as blank in the first API request. The API response will return the latest feeds along with the next pagination_id which can be passed in the subsequent API request to get the next set of feeds. Repeat this process until needed or till the pagination_id returned is blank
          in: query
          name: pagination_id
          required: false
          type: string
        - description: Categories separated by comma. If not specified, will search against all categories
          in: query
          items:
            enum:
              - NEWS
              - PRESS
              - FUNDING
              - ACQUISITION
              - PEOPLE
              - BLOG
              - VIDEOS
            type: string
          name: category
          required: false
          type: array
      responses:
        "200":
          description: Feeds Data
          schema:
            $ref: "#/definitions/results"
        "400":
          description: Invalid Parameters
        "403":
          description: Authentication Failed
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      summary: Get Feeds for given Company Ids
      tags:
        - FeedAPI
  /v1/feed/url:
    get:
      description: The Feeds API provides a list of feeds and individual feed information for the given Company Websites and Category. By default the API returns the latest 10 feeds available unless the limit is specified. The maximum result is restricted to 100 feeds per API request.
      parameters:
        - default: json
          description: Format of the response content - json (by default if not specified), xml
          enum:
            - xml
            - json
          in: query
          name: format
          required: false
          type: string
        - description: Company Websites separated by comma (Maximum of 10 Company Websites)
          in: query
          items:
            type: string
          name: domain
          required: true
          type: array
        - default: "10"
          description: Number of results to be displayed - 10 (by default, if not specified) to 100
          in: query
          name: limit
          required: false
          type: string
        - default: "*"
          description: Pass pagination_id as blank in the first API request. The API response will return the latest feeds along with the next pagination_id which can be passed in the subsequent API request to get the next set of feeds. Repeat this process until needed or till the pagination_id returned is blank
          in: query
          name: pagination_id
          required: false
          type: string
        - description: Categories separated by comma. If not specified, will search against all categories
          in: query
          items:
            enum:
              - NEWS
              - PRESS
              - FUNDING
              - ACQUISITION
              - PEOPLE
              - BLOG
              - VIDEOS
            type: string
          name: category
          required: false
          type: array
      responses:
        "200":
          description: Feeds Data
          schema:
            $ref: "#/definitions/results"
        "400":
          description: Invalid Parameters
        "403":
          description: Authentication Failed
        "429":
          description: Too Many Requests
        "500":
          description: Internal Server Error
      summary: Get Feeds for given Company Websites
      tags:
        - FeedAPI
definitions:
  Acquisition:
    properties:
      acquirer_company_id:
        type: string
      amount:
        type: string
      company_id:
        type: string
      date:
        type: string
      name:
        type: string
      status:
        type: string
      undisclosed:
        type: string
      website:
        type: string
  Address:
    properties:
      city:
        type: string
      country:
        type: string
      phone:
        type: string
      postal_code:
        type: string
      state:
        type: string
      street1:
        type: string
      street2:
        type: string
  Ceo:
    properties:
      ceo_rating:
        type: string
      first_name:
        type: string
      image_url:
        type: string
      last_name:
        type: string
  CompanyBasicSearchVO:
    properties:
      company_id:
        format: int64
        type: integer
      hq_address:
        $ref: "#/definitions/Address"
      name:
        type: string
      perm_id:
        type: string
      profile_url:
        type: string
      short_name:
        type: string
      website:
        type: string
  CompanyBasicVO:
    properties:
      company_id:
        format: int64
        type: integer
      logo_url:
        type: string
      name:
        type: string
      profile_url:
        type: string
      short_name:
        type: string
      website:
        type: string
    required:
      - company_id
      - name
      - website
      - logo_url
      - profile_url
  CompanyCompetitorVO:
    properties:
      competitor:
        items:
          $ref: "#/definitions/CompanyBasicVO"
        type: array
  CompanySearchResultVO:
    properties:
      company_id:
        format: int64
        type: integer
      company_type:
        enum:
          - Private
          - Public
          - Product/Brand/Service
          - NGO/NPO/NFP/Organization/Association
          - Investment Company
          - Government
        type: string
      description:
        type: string
      hq_address:
        $ref: "#/definitions/Address"
      logo_url:
        type: string
      name:
        type: string
      perm_id:
        type: string
      profile_url:
        type: string
      short_name:
        type: string
      stock:
        $ref: "#/definitions/Stock"
      website:
        type: string
    required:
      - company_id
      - name
      - website
      - logo_url
      - profile_url
  CompetitorBasicVO:
    properties:
      company_id:
        format: int64
        type: integer
      logo_url:
        type: string
      name:
        type: string
      profile_url:
        type: string
      score:
        format: int64
        type: integer
      short_name:
        type: string
      website:
        type: string
    required:
      - company_id
      - name
      - website
      - logo_url
      - profile_url
      - score
  FeedsVO:
    properties:
      category:
        type: string
      company:
        $ref: "#/definitions/CompanyBasicVO"
      enclosure_image:
        type: string
      feed_date:
        type: string
      id:
        type: string
      owler_feed_url:
        type: string
      publisher_logo:
        type: string
      publisher_name:
        type: string
      source_url:
        type: string
      title:
        type: string
  Funding:
    properties:
      amount:
        type: string
      date:
        type: string
      investor:
        items:
          $ref: "#/definitions/Investor"
        type: array
      type:
        type: string
      undisclosed:
        type: string
  Investor:
    properties:
      company_id:
        type: string
      name:
        type: string
      website:
        type: string
  SectorVO:
    properties:
      name:
        type: string
      parent_industry:
        type: string
  Stock:
    properties:
      exchange:
        type: string
      ticker:
        type: string
  basic_results:
    properties:
      company:
        items:
          $ref: "#/definitions/CompanyBasicSearchVO"
        type: array
  company:
    properties:
      acquisition:
        items:
          $ref: "#/definitions/Acquisition"
        type: array
      ceo:
        $ref: "#/definitions/Ceo"
      company_id:
        format: int64
        type: integer
      company_type:
        enum:
          - Private
          - Public
          - Product/Brand/Service
          - NGO/NPO/NFP/Organization/Association
          - Investment Company
          - Government
        type: string
      description:
        type: string
      employee_count:
        type: string
      facebook_link:
        type: string
      founded_date:
        type: string
      funding:
        items:
          $ref: "#/definitions/Funding"
        type: array
      hq_address:
        $ref: "#/definitions/Address"
      industries:
        items:
          type: string
        type: array
      linkedin_link:
        type: string
      logo_url:
        type: string
      name:
        type: string
      perm_id:
        type: string
      portfolio_company_ids:
        items:
          format: int32
          type: integer
        type: array
      profile_url:
        type: string
      revenue:
        type: string
      sectors:
        items:
          $ref: "#/definitions/SectorVO"
        type: array
      short_name:
        type: string
      stock:
        $ref: "#/definitions/Stock"
      twitter_link:
        type: string
      website:
        type: string
      youtube_link:
        type: string
    required:
      - company_id
      - name
      - website
      - logo_url
      - profile_url
  competitors:
    properties:
      competitor:
        items:
          $ref: "#/definitions/CompetitorBasicVO"
        type: array
      pagination_id:
        type: string
  fuzzy_results: {}
  results:
    properties:
      feeds:
        items:
          $ref: "#/definitions/FeedsVO"
        type: array
      pagination_id:
        type: string
