swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: LogicAppsManagementClient
  version: 2015-08-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/preview/2015-08-01-preview/logicAppsManagementClient.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-logicAppsManagementClient
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API Version
    in: query
    name: api-version
    required: true
    type: string
  subscriptionIdParameter:
    description: Subscription Id
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/managedApis":
    get:
      deprecated: false
      description: Gets a list of managed APIs.
      operationId: ManagedApis_List
      parameters:
        - description: The location.
          in: path
          name: location
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ApisCollection"
      summary: List managed Apis
      tags:
        - Managed Apis
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/managedApis/{apiName}":
    get:
      deprecated: false
      description: Gets a managed API.
      operationId: ManagedApis_Get
      parameters:
        - description: The location.
          in: path
          name: location
          required: true
          type: string
        - description: The managed API name.
          in: path
          name: apiName
          required: true
          type: string
        - description: flag showing whether to export API definition in format specified by Accept header.
          in: query
          name: export
          type: boolean
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ApiEntity"
      summary: Get managed API
      tags:
        - Managed Apis
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections":
    get:
      description: Gets a list of connections.
      operationId: Connections_List
      parameters:
        - description: Resource Group Name
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: The number of items to be included in the result.
          format: int32
          in: query
          name: $top
          required: false
          type: integer
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ConnectionCollection"
      summary: Get Connections
      tags:
        - Connections
      x-ms-odata: "#/definitions/Connection"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}":
    delete:
      description: Deletes a connection.
      operationId: Connections_Delete
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The connection name.
          in: path
          name: connectionName
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
      tags:
        - Connections
    get:
      description: Gets a connection.
      operationId: Connections_Get
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The connection name.
          in: path
          name: connectionName
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Connection"
      tags:
        - Connections
    put:
      description: Creates or updates a connection.
      operationId: Connections_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The connection name.
          in: path
          name: connectionName
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
        - description: The connection.
          in: body
          name: connection
          required: true
          schema:
            $ref: "#/definitions/Connection"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Connection"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Connection"
      tags:
        - Connections
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}/confirmConsentCode":
    post:
      description: Confirms consent code of a connection.
      operationId: Connections_ConfirmConsentCode
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The connection name.
          in: path
          name: connectionName
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
        - description: The content.
          in: body
          name: content
          required: true
          schema:
            $ref: "#/definitions/ConfirmConsentCodeInput"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Connection"
      tags:
        - Connections
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}/listConnectionKeys":
    post:
      description: Lists connection keys.
      operationId: Connections_ListConnectionKeys
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The connection name.
          in: path
          name: connectionName
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
        - description: The content.
          in: body
          name: content
          required: true
          schema:
            $ref: "#/definitions/ListConnectionKeysInput"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ConnectionSecrets"
      tags:
        - Connections
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/connections/{connectionName}/listConsentLinks":
    post:
      description: Lists consent links of a connection.
      operationId: Connections_ListConsentLinks
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - description: The resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The connection name.
          in: path
          name: connectionName
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
        - description: The content.
          in: body
          name: content
          required: true
          schema:
            $ref: "#/definitions/ConsentLinkInput"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ConsentLinkPayload"
      tags:
        - Connections
definitions:
  ApiEntity:
    allOf:
      - $ref: "#/definitions/Resource"
    description: API Management
    properties:
      properties:
        properties:
          apiDefinitionUrl:
            description: API definition Url - url where the swagger can be downloaded from
            type: string
          backendService:
            $ref: "#/definitions/BackendServiceDefinition"
            description: Backend service definition
          capabilities:
            description: Capabilities
            items:
              type: string
            type: array
          changedTime:
            description: Timestamp of last connection change.
            format: date-time
            type: string
          connectionParameters:
            additionalProperties:
              $ref: "#/definitions/ConnectionParameter"
            description: Connection parameters
            type: object
          createdTime:
            description: Timestamp of the connection creation
            format: date-time
            type: string
          generalInformation:
            $ref: "#/definitions/GeneralApiInformation"
            description: the URL path of this API when exposed via APIM
          metadata:
            $ref: "#/definitions/Object"
            description: Free form object for the data caller wants to store
          name:
            description: "Name of the API\r

              \            the URL path of this API when exposed via APIM"
            type: string
          path:
            description: the URL path of this API when exposed via APIM
            type: string
          policies:
            $ref: "#/definitions/ApiPolicies"
            description: API policies
          protocols:
            description: Protocols supported by the front end - http/https
            items:
              type: string
            type: array
          runtimeUrls:
            description: Read only property returning the runtime endpoints where the API can be called
            items:
              type: string
            type: array
        x-ms-client-flatten: true
    type: object
  ApiOAuthSettings:
    description: OAuth settings for the connection provider
    properties:
      clientId:
        description: Resource provider client id
        type: string
      clientSecret:
        description: Client Secret needed for OAuth
        type: string
      customParameters:
        additionalProperties:
          $ref: "#/definitions/ApiOAuthSettingsParameter"
        description: OAuth parameters key is the name of parameter
        type: object
      identityProvider:
        description: Identity provider
        type: string
      properties:
        $ref: "#/definitions/Object"
        description: Read only properties for this oauth setting.
      redirectUrl:
        description: Url
        type: string
      scopes:
        description: OAuth scopes
        items:
          type: string
        type: array
    type: object
  ApiOAuthSettingsParameter:
    description: OAuth Settings Parameter
    properties:
      options:
        $ref: "#/definitions/Object"
        description: "Read only: Options available to this parameter"
      uiDefinition:
        $ref: "#/definitions/Object"
        description: UI definitions per culture as caller can specify the culture
      value:
        description: Value
        type: string
    type: object
  ApiPolicies:
    allOf:
      - $ref: "#/definitions/Resource"
    description: API policies
    properties:
      properties:
        properties:
          content:
            description: Content of xml policy
            type: string
        x-ms-client-flatten: true
    type: object
  ApisCollection:
    description: Collection of Apis
    properties:
      nextLink:
        description: Link to next page of resources
        type: string
      value:
        description: Collection of resources
        items:
          $ref: "#/definitions/ApiEntity"
        type: array
    type: object
  ArmPlan:
    description: The plan object in an ARM, represents a marketplace plan
    properties:
      name:
        description: The name
        type: string
      product:
        description: The product
        type: string
      promotionCode:
        description: The promotion code
        type: string
      publisher:
        description: The publisher
        type: string
      version:
        description: Version of product
        type: string
    type: object
  BackendServiceDefinition:
    allOf:
      - $ref: "#/definitions/Resource"
    description: API definitions with backend urls
    properties:
      properties:
        properties:
          hostingEnvironmentServiceUrls:
            description: Service Urls per Hosting environment
            items:
              $ref: "#/definitions/HostingEnvironmentServiceDescriptions"
            type: array
          serviceUrl:
            description: Url from which the swagger payload will be fetched
            type: string
        x-ms-client-flatten: true
    type: object
  ConfirmConsentCodeInput:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Confirm Consent Code Input payload
    properties:
      properties:
        properties:
          code:
            description: Code that was returned during consent flow
            type: string
          objectId:
            description: AAD object ID. This is userId
            type: string
          principalType:
            description: Principal type
            enum:
              - ActiveDirectory
              - Connection
              - MicrosoftAccount
            type: string
            x-ms-enum:
              modelAsString: false
              name: PrincipalType
          tenantId:
            description: Tenant Id
            type: string
        x-ms-client-flatten: true
    type: object
  Connection:
    allOf:
      - $ref: "#/definitions/Resource"
    description: API Connection
    properties:
      properties:
        properties:
          api:
            $ref: "#/definitions/ExpandedParent[ApiEntity]"
            description: expanded connection provider name
          changedTime:
            description: Timestamp of last connection change.
            format: date-time
            type: string
          createdTime:
            description: Timestamp of the connection creation
            format: date-time
            type: string
          customParameterValues:
            additionalProperties:
              $ref: "#/definitions/ParameterCustomLoginSettingValues"
            description: Custom login setting values.
            type: object
          displayName:
            description: display name
            type: string
          firstExpirationTime:
            description: Time in UTC when the first expiration of OAuth tokens
            format: date-time
            type: string
          keywords:
            description: List of Keywords that tag the acl
            items:
              type: string
            type: array
          metadata:
            $ref: "#/definitions/Object"
            description: ""
          name:
            description: connection name
            type: string
          nonSecretParameterValues:
            additionalProperties:
              $ref: "#/definitions/Object"
            description: Tokens/Claim
            type: object
          parameterValues:
            additionalProperties:
              $ref: "#/definitions/Object"
            description: Tokens/Claim
            type: object
          statuses:
            description: Status of the connection
            items:
              $ref: "#/definitions/ConnectionStatus"
            type: array
          tenantId:
            description: ""
            type: string
        x-ms-client-flatten: true
    type: object
  ConnectionCollection:
    description: Collection of connections
    properties:
      nextLink:
        description: Link to next page of resources
        type: string
      value:
        description: Collection of resources
        items:
          $ref: "#/definitions/Connection"
        type: array
    type: object
  ConnectionError:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Connection error
    properties:
      properties:
        properties:
          code:
            description: code of the status
            type: string
          message:
            description: Description of the status
            type: string
        x-ms-client-flatten: true
    type: object
  ConnectionParameter:
    description: connection provider parameters
    properties:
      defaultValue:
        $ref: "#/definitions/Object"
        description: Default parameter value
      oAuthSettings:
        $ref: "#/definitions/ApiOAuthSettings"
        description: Settings defining OAuth flow for the back end provider
      type:
        description: Type of the parameter
        enum:
          - string
          - securestring
          - secureobject
          - int
          - bool
          - object
          - array
          - oauthSetting
          - connection
        type: string
        x-ms-enum:
          modelAsString: false
          name: ConnectionParameterType
      uiDefinition:
        $ref: "#/definitions/Object"
        description: UI definitions
    type: object
  ConnectionSecrets:
    description: ""
    properties:
      connectionKey:
        description: Connection Key
        type: string
      parameterValues:
        additionalProperties:
          $ref: "#/definitions/Object"
        description: Tokens/Claim
        type: object
    type: object
  ConnectionStatus:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Connection status
    properties:
      properties:
        properties:
          error:
            $ref: "#/definitions/ConnectionError"
            description: Error details
          status:
            description: Status
            type: string
          target:
            description: Target of the error
            type: string
        x-ms-client-flatten: true
    type: object
  ConsentLink:
    description: ""
    properties:
      displayName:
        description: Display Name of the parameter in the connection provider's oauthSettings
        type: string
      firstPartyLoginUri:
        description: Uri for first party login
        type: string
      link:
        description: Uri for the consent link
        type: string
      status:
        description: Status of the link
        enum:
          - Unauthenticated
          - Authenticated
          - Error
        type: string
        x-ms-enum:
          modelAsString: false
          name: LinkState
    type: object
  ConsentLinkInput:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Connection Consent Link payload
    properties:
      properties:
        properties:
          parameters:
            description: Array of links
            items:
              $ref: "#/definitions/ConsentLinkInputParameter"
            type: array
        x-ms-client-flatten: true
    type: object
  ConsentLinkInputParameter:
    description: ""
    properties:
      objectId:
        description: "AAD OID (user or group) if the principal type is ActiveDirectory.\r

          \            MSA PUID if the principal type is MicrosoftAccount."
        type: string
      parameterName:
        description: Name of the parameter in the connection provider's oauthSettings
        type: string
      principalType:
        description: Principal type
        enum:
          - ActiveDirectory
          - Connection
          - MicrosoftAccount
        type: string
        x-ms-enum:
          modelAsString: false
          name: PrincipalType
      redirectUrl:
        description: Name of the parameter in the connection provider's oauthSettings
        type: string
      tenantId:
        description: Tenant Id
        type: string
    type: object
  ConsentLinkPayload:
    description: Collection of consent links
    properties:
      value:
        description: Collection of resources
        items:
          $ref: "#/definitions/ConsentLink"
        type: array
    type: object
  CustomLoginSettingValue:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Custom logging setting value
    properties:
      properties:
        properties:
          option:
            description: Option selected for this custom login setting value
            type: string
        x-ms-client-flatten: true
    type: object
  "ExpandedParent[ApiEntity]":
    allOf:
      - $ref: "#/definitions/Resource"
    description: expanded parent object for expansion
    properties:
      properties:
        properties:
          entity:
            $ref: "#/definitions/ResponseMessageEnvelope[ApiEntity]"
            description: Id of connection provider
          id:
            description: Id of connection provider
            type: string
        x-ms-client-flatten: true
    type: object
  GeneralApiInformation:
    allOf:
      - $ref: "#/definitions/Resource"
    description: General API information
    properties:
      properties:
        properties:
          connectionDisplayName:
            description: DefaultConnectionNameTemplate
            type: string
          connectionPortalUrl:
            $ref: "#/definitions/Object"
            description: ConnectionPortalUrl
          description:
            description: Description
            type: string
          displayName:
            description: Display Name
            type: string
          iconUrl:
            description: Icon Url
            type: string
          termsOfUseUrl:
            description: a public accessible url of the Terms Of Use Url of this API
            type: string
        x-ms-client-flatten: true
    type: object
  HostingEnvironmentServiceDescriptions:
    description: Back end service per ASE
    properties:
      hostId:
        description: Host Id
        type: string
      hostingEnvironmentId:
        description: Hosting environment Id
        type: string
      serviceUrl:
        description: service url to use
        type: string
      useInternalRouting:
        description: "When the backend url is in same ASE, for performance reason this flag can be set to true\r

          \            If WebApp.DisableHostNames is also set it improves the security by making the back end accessible only \r

          \            via API calls\r

          \            Note: calls will fail if this option is used but back end is not on the same ASE"
        type: boolean
    type: object
  ListConnectionKeysInput:
    allOf:
      - $ref: "#/definitions/Resource"
    description: List Connection Keys Input payload
    properties:
      properties:
        properties:
          validityTimeSpan:
            description: time span for how long the keys will be valid
            type: string
        x-ms-client-flatten: true
    type: object
  Object:
    properties: {}
    type: object
  ParameterCustomLoginSettingValues:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Custom logging setting values
    properties:
      properties:
        properties:
          customParameters:
            additionalProperties:
              $ref: "#/definitions/CustomLoginSettingValue"
            description: Custom parameters.
            type: object
        x-ms-client-flatten: true
    type: object
  Resource:
    properties:
      id:
        description: Resource Id
        type: string
      kind:
        description: Kind of resource
        type: string
      location:
        description: Resource Location
        type: string
      name:
        description: Resource Name
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type
        type: string
    required:
      - location
    x-ms-azure-resource: true
  "ResponseMessageEnvelope[ApiEntity]":
    description: Message envelope that contains the common Azure resource manager properties and the resource provider specific content
    properties:
      id:
        description: "Resource Id. Typically id is populated only for responses to GET requests. Caller is responsible for passing in this\r

          \            value for GET requests only.\r

          \            For example: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupId}/providers/Microsoft.Web/sites/{sitename}"
        type: string
      location:
        description: Geo region resource belongs to e.g. SouthCentralUS, SouthEastAsia
        type: string
      name:
        description: Name of resource
        type: string
      plan:
        $ref: "#/definitions/ArmPlan"
        description: Azure resource manager plan
      properties:
        $ref: "#/definitions/ApiEntity"
        description: Resource specific properties
      sku:
        $ref: "#/definitions/SkuDescription"
        description: Sku description of the resource
      tags:
        additionalProperties:
          type: string
        description: Tags associated with resource
        type: object
      type:
        description: Type of resource e.g Microsoft.Web/sites
        type: string
    type: object
  SkuDescription:
    description: Describes a sku for a scalable resource
    properties:
      capacity:
        description: Current number of instances assigned to the resource
        format: int32
        type: integer
      family:
        description: Family code of the resource sku
        type: string
      name:
        description: Name of the resource sku
        type: string
      size:
        description: Size specifier of the resource sku
        type: string
      tier:
        description: Service Tier of the resource sku
        type: string
    type: object
