swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Cognitive Services Management Client
  title: CognitiveServicesManagementClient
  version: 2017-04-18
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/resource-manager/Microsoft.CognitiveServices/stable/2017-04-18/cognitiveservices.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: cognitiveservices
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  apiVersionParameter:
    description: Version of the API to be used with the client request. Current version is 2017-04-18
    in: query
    name: api-version
    required: true
    type: string
  locationParameter:
    description: Resource location.
    in: path
    name: location
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Azure Subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
  usageFilterParameter:
    description: An OData filter expression that describes a subset of usages to return. The supported parameter is name.value (name of the metric, can have an or of multiple names).
    in: query
    name: $filter
    required: false
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.CognitiveServices/operations:
    get:
      deprecated: false
      description: Lists all the available Cognitive Services account operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/OperationEntityListResult"
      tags:
        - Operations
      x-ms-examples:
        Get Operations:
          parameters:
            api-version: 2017-04-18
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Reads API accounts.
                      operation: Read API Account
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/read
                    origin: user,system
                  - display:
                      description: Writes API Accounts.
                      operation: Write API Account
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/write
                    origin: user,system
                  - display:
                      description: Deletes API accounts
                      operation: Delete API Account
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/delete
                    origin: user,system
                  - display:
                      description: List Keys
                      operation: List Keys
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/listKeys/action
                    origin: user
                  - display:
                      description: Regenerate Key
                      operation: Regenerate Key
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/regenerateKey/action
                    origin: user
                  - display:
                      description: Get the quota usage for an existing resource.
                      operation: Get the quota usage for an existing resource
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/usages/read
                    origin: user
                  - display:
                      description: Reads available SKUs for an existing resource.
                      operation: Read available SKUs for an existing resource
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/skus/read
                    origin: user
                  - display:
                      description: Gets the diagnostic setting for the resource.
                      operation: Read diagnostic setting
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/providers/Microsoft.Insights/diagnosticSettings/read
                    origin: system
                  - display:
                      description: Creates or updates the diagnostic setting for the resource.
                      operation: Write diagnostic setting
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accounts/providers/Microsoft.Insights/diagnosticSettings/write
                    origin: system
                  - display:
                      description: Gets the available metrics for Cognitive Services.
                      operation: Read Cognitive Services metric definitions
                      provider: Microsoft Cognitive Services
                      resource: The metric definition of Cognitive Services
                    name: Microsoft.CognitiveServices/accounts/providers/Microsoft.Insights/metricDefinitions/read
                    origin: system
                    properties:
                      serviceSpecification:
                        metricSpecifications:
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Total number of calls.
                            displayName: Total Calls
                            name: TotalCalls
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Number of successful calls.
                            displayName: Successful Calls
                            name: SuccessfulCalls
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Total number of calls with error response (HTTP response code 4xx or 5xx).
                            displayName: Total Errors
                            name: TotalErrors
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Number of calls that exceeded rate or quota limit.
                            displayName: Blocked Calls
                            name: BlockedCalls
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Number of calls with service internal error (HTTP response code 5xx).
                            displayName: Server Errors
                            name: ServerErrors
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Number of calls with client side error (HTTP response code 4xx).
                            displayName: Client Errors
                            name: ClientErrors
                            unit: Count
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Size of incoming data in bytes.
                            displayName: Data In
                            name: DataIn
                            unit: Bytes
                          - aggregationType: Total
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Size of outgoing data in bytes.
                            displayName: Data Out
                            name: DataOut
                            unit: Bytes
                          - aggregationType: Average
                            availabilities:
                              - blobDuration: PT1H
                                timeGrain: PT1M
                              - blobDuration: P1D
                                timeGrain: PT1H
                            displayDescription: Latency in milliseconds.
                            displayName: Latency
                            name: Latency
                            unit: MilliSeconds
                  - display:
                      description: Description of the operation.
                      operation: Operation display name.
                      provider: Resource Provider display name.
                      resource: Resource type display name.
                    name: Microsoft.CognitiveServices/Operations/read
                    origin: user,system
                  - display:
                      description: Reads avaible SKUs for an subscription.
                      operation: Reads avaible SKUs for an subscription.
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/checkSkuAvailabilityaction
                    origin: user,system
                  - display:
                      description: Allow to create CognitiveServices account for an given subscription/ApiKind/location.
                      operation: Allow to create CognitiveServices account for an given subscription/ApiKind/location.
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/updateAccountsCreationSettingswrite
                    origin: user,system
                  - display:
                      description: Get settings for given subscription/ApiKind/location.
                      operation: Get settings for given subscription/ApiKind/location.
                      provider: Microsoft Cognitive Services
                      resource: Cognitive Services API Account
                    name: Microsoft.CognitiveServices/accountsCreationSettingsread
                    origin: user,system
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/accounts":
    get:
      description: Returns all the resources of a particular type belonging to a subscription.
      operationId: Accounts_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: |-
            The resource provider should return 200 (OK) to indicate that the operation completed successfully. For other errors (e.g. internal errors) use the appropriate HTTP error code.
            The nextLink field is expected to point to the URL the client should use to fetch the next page (per server side paging). This matches the OData guidelines for paged responses. If a resource provider does not support paging, it should return the same body but leave nextLink empty for future compatibility.
            For a detailed explanation of each field in the response body, please refer to the request body description in the PUT resource section. 
          schema:
            $ref: "#/definitions/CognitiveServicesAccountListResult"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/Error"
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        List Accounts by Subscription:
          parameters:
            api-version: 2017-04-18
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            "200":
              body:
                value:
                  - etag: W/"datetime'2017-03-27T11%3A19%3A08.762494Z'"
                    id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/bvttest/providers/Microsoft.CognitiveServices/accounts/bingSearch
                    kind: Bing.Search
                    location: global
                    name: bingSearch
                    properties:
                      endpoint: https://api.cognitive.microsoft.com/bing/v5.0
                      internalId: ceebe1e8e40f44e69554c1a759de4cf9
                      provisioningState: Succeeded
                    sku:
                      name: S1
                    type: Microsoft.CognitiveServices/accounts
                  - etag: W/"datetime'2017-03-31T08%3A57%3A07.4499566Z'"
                    id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/bvttest/providers/Microsoft.CognitiveServices/accounts/CrisProd
                    kind: CRIS
                    location: westus
                    name: CrisProd
                    properties:
                      endpoint: https://westus.api.cognitive.microsoft.com/sts/v1.0
                      internalId: cb9a1ad4861a46ef8e440268f763d09e
                      provisioningState: Succeeded
                    sku:
                      name: S0
                    tags:
                      can't delete it successfully: v-yunjin
                    type: Microsoft.CognitiveServices/accounts
                  - etag: W/"datetime'2017-03-27T11%3A15%3A23.5232645Z'"
                    id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/bvttest/providers/Microsoft.CognitiveServices/accounts/rayrptest0308
                    kind: Face
                    location: westus
                    name: rayrptest0308
                    properties:
                      endpoint: https://westus.api.cognitive.microsoft.com/face/v1.0
                      internalId: c83b58e58b6f4049a6d0d1328473326c
                      provisioningState: Succeeded
                    sku:
                      name: S0
                    type: Microsoft.CognitiveServices/accounts
                  - etag: W/"datetime'2017-04-04T02%3A07%3A07.3957572Z'"
                    id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/bvttest/providers/Microsoft.CognitiveServices/accounts/raytest02
                    kind: Emotion
                    location: westus
                    name: raytest02
                    properties:
                      endpoint: https://westus.api.cognitive.microsoft.com/emotion/v1.0
                      internalId: c118e8b8f4534cff991f2b7c216342df
                      provisioningState: Succeeded
                    sku:
                      name: S0
                    type: Microsoft.CognitiveServices/accounts
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/checkDomainAvailability":
    post:
      description: Check whether a domain is available.
      operationId: CheckDomainAvailability
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Check Domain Availability parameter.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CheckDomainAvailabilityParameter"
          x-ms-client-flatten: true
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/CheckDomainAvailabilityResult"
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        Check SKU Availability:
          parameters:
            api-version: 2017-04-18
            location: westus
            parameters:
              subdomainName: contosodemoapp1
              type: Microsoft.CognitiveServices/accounts
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            "200":
              body:
                isSubdomainAvailable: false
                reason: Sub domain name 'contosodemoapp1' is not valid
                subdomainName: contosodemoapp1
                type: Microsoft.CognitiveServices/accounts
  "/subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/locations/{location}/checkSkuAvailability":
    post:
      description: Check available SKUs.
      operationId: CheckSkuAvailability
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/locationParameter"
        - description: Check SKU Availability POST body.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CheckSkuAvailabilityParameter"
          x-ms-client-flatten: true
      responses:
        "200":
          description: OK.
          schema:
            $ref: "#/definitions/CheckSkuAvailabilityResultList"
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        Check SKU Availability:
          parameters:
            api-version: 2017-04-18
            location: westus
            parameters:
              kind: Face
              skus:
                - S0
              type: Microsoft.CognitiveServices/accounts
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            "200":
              body:
                value:
                  - kind: Face
                    message: null
                    reason: null
                    skuAvailable: true
                    skuName: S0
                    type: Microsoft.CognitiveServices/accounts
  "/subscriptions/{subscriptionId}/providers/Microsoft.CognitiveServices/skus":
    get:
      description: Gets the list of Microsoft.CognitiveServices SKUs available for your Subscription.
      operationId: ResourceSkus_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ResourceSkusResult"
      tags:
        - Skus
        - CognitiveServicesAccounts
      x-ms-examples:
        Regenerate Keys:
          parameters:
            api-version: 2017-04-18
            subscriptionId: f1c637e4-72ec-4f89-8d2b-0f933c036002
          responses:
            "200":
              body:
                value:
                  - kind: Bing.Speech
                    locations:
                      - GLOBAL
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: Bing.Speech
                    locations:
                      - GLOBAL
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: SpeechTranslation
                    locations:
                      - GLOBAL
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: SpeechTranslation
                    locations:
                      - GLOBAL
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: SpeechTranslation
                    locations:
                      - GLOBAL
                    name: S2
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: SpeechTranslation
                    locations:
                      - GLOBAL
                    name: S3
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: SpeechTranslation
                    locations:
                      - GLOBAL
                    name: S4
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextTranslation
                    locations:
                      - GLOBAL
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: TextTranslation
                    locations:
                      - GLOBAL
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextTranslation
                    locations:
                      - GLOBAL
                    name: S2
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextTranslation
                    locations:
                      - GLOBAL
                    name: S3
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextTranslation
                    locations:
                      - GLOBAL
                    name: S4
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Bing.Search.v7
                    locations:
                      - GLOBAL
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Bing.Search.v7
                    locations:
                      - GLOBAL
                    name: S2
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Bing.Search.v7
                    locations:
                      - GLOBAL
                    name: S3
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Bing.Search.v7
                    locations:
                      - GLOBAL
                    name: S4
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Bing.Search.v7
                    locations:
                      - GLOBAL
                    name: S5
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Bing.Search.v7
                    locations:
                      - GLOBAL
                    name: S6
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Bing.Search.v7
                    locations:
                      - GLOBAL
                    name: S7
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Bing.Search.v7
                    locations:
                      - GLOBAL
                    name: S8
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Bing.Autosuggest.v7
                    locations:
                      - GLOBAL
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Bing.CustomSearch
                    locations:
                      - GLOBAL
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Bing.SpellCheck.v7
                    locations:
                      - GLOBAL
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Bing.EntitySearch
                    locations:
                      - GLOBAL
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: Bing.EntitySearch
                    locations:
                      - GLOBAL
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Face
                    locations:
                      - AUSTRALIAEAST
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: Face
                    locations:
                      - AUSTRALIAEAST
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ComputerVision
                    locations:
                      - AUSTRALIAEAST
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ComputerVision
                    locations:
                      - AUSTRALIAEAST
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ContentModerator
                    locations:
                      - AUSTRALIAEAST
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ContentModerator
                    locations:
                      - AUSTRALIAEAST
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - AUSTRALIAEAST
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: TextAnalytics
                    locations:
                      - AUSTRALIAEAST
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - AUSTRALIAEAST
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - AUSTRALIAEAST
                    name: S2
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - AUSTRALIAEAST
                    name: S3
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - AUSTRALIAEAST
                    name: S4
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: LUIS
                    locations:
                      - AUSTRALIAEAST
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: LUIS
                    locations:
                      - AUSTRALIAEAST
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Face
                    locations:
                      - BRAZILSOUTH
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: Face
                    locations:
                      - BRAZILSOUTH
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ComputerVision
                    locations:
                      - BRAZILSOUTH
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ComputerVision
                    locations:
                      - BRAZILSOUTH
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ContentModerator
                    locations:
                      - BRAZILSOUTH
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ContentModerator
                    locations:
                      - BRAZILSOUTH
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - BRAZILSOUTH
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: TextAnalytics
                    locations:
                      - BRAZILSOUTH
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - BRAZILSOUTH
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - BRAZILSOUTH
                    name: S2
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - BRAZILSOUTH
                    name: S3
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - BRAZILSOUTH
                    name: S4
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: LUIS
                    locations:
                      - BRAZILSOUTH
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: LUIS
                    locations:
                      - BRAZILSOUTH
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Face
                    locations:
                      - CENTRALUSEUAP
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: Face
                    locations:
                      - CENTRALUSEUAP
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ComputerVision
                    locations:
                      - CENTRALUSEUAP
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ComputerVision
                    locations:
                      - CENTRALUSEUAP
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - CENTRALUSEUAP
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: TextAnalytics
                    locations:
                      - CENTRALUSEUAP
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - CENTRALUSEUAP
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - CENTRALUSEUAP
                    name: S2
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - CENTRALUSEUAP
                    name: S3
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - CENTRALUSEUAP
                    name: S4
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ContentModerator
                    locations:
                      - CENTRALUSEUAP
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ContentModerator
                    locations:
                      - CENTRALUSEUAP
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: LUIS
                    locations:
                      - CENTRALUSEUAP
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: LUIS
                    locations:
                      - CENTRALUSEUAP
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ContentModerator
                    locations:
                      - WESTUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ContentModerator
                    locations:
                      - WESTUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: LUIS
                    locations:
                      - WESTUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: LUIS
                    locations:
                      - WESTUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Face
                    locations:
                      - WESTUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: Face
                    locations:
                      - WESTUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: TextAnalytics
                    locations:
                      - WESTUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTUS
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTUS
                    name: S2
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTUS
                    name: S3
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTUS
                    name: S4
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: SpeakerRecognition
                    locations:
                      - WESTUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: SpeakerRecognition
                    locations:
                      - WESTUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: CustomSpeech
                    locations:
                      - WESTUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: CustomSpeech
                    locations:
                      - WESTUS
                    name: S2
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ComputerVision
                    locations:
                      - WESTUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ComputerVision
                    locations:
                      - WESTUS
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Face
                    locations:
                      - WESTUS2
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: Face
                    locations:
                      - WESTUS2
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ComputerVision
                    locations:
                      - WESTUS2
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ComputerVision
                    locations:
                      - WESTUS2
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ContentModerator
                    locations:
                      - WESTUS2
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ContentModerator
                    locations:
                      - WESTUS2
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTUS2
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: TextAnalytics
                    locations:
                      - WESTUS2
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTUS2
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTUS2
                    name: S2
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTUS2
                    name: S3
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTUS2
                    name: S4
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: LUIS
                    locations:
                      - WESTUS2
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: LUIS
                    locations:
                      - WESTUS2
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Face
                    locations:
                      - WESTEUROPE
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: Face
                    locations:
                      - WESTEUROPE
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: LUIS
                    locations:
                      - WESTEUROPE
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: LUIS
                    locations:
                      - WESTEUROPE
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ContentModerator
                    locations:
                      - WESTEUROPE
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ContentModerator
                    locations:
                      - WESTEUROPE
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ComputerVision
                    locations:
                      - WESTEUROPE
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ComputerVision
                    locations:
                      - WESTEUROPE
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTEUROPE
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: TextAnalytics
                    locations:
                      - WESTEUROPE
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTEUROPE
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTEUROPE
                    name: S2
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTEUROPE
                    name: S3
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTEUROPE
                    name: S4
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Face
                    locations:
                      - NORTHEUROPE
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: Face
                    locations:
                      - NORTHEUROPE
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ComputerVision
                    locations:
                      - NORTHEUROPE
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ComputerVision
                    locations:
                      - NORTHEUROPE
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ContentModerator
                    locations:
                      - NORTHEUROPE
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ContentModerator
                    locations:
                      - NORTHEUROPE
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - NORTHEUROPE
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: TextAnalytics
                    locations:
                      - NORTHEUROPE
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - NORTHEUROPE
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - NORTHEUROPE
                    name: S2
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - NORTHEUROPE
                    name: S3
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - NORTHEUROPE
                    name: S4
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: LUIS
                    locations:
                      - NORTHEUROPE
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: LUIS
                    locations:
                      - NORTHEUROPE
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Face
                    locations:
                      - SOUTHEASTASIA
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: Face
                    locations:
                      - SOUTHEASTASIA
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ContentModerator
                    locations:
                      - SOUTHEASTASIA
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ContentModerator
                    locations:
                      - SOUTHEASTASIA
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: LUIS
                    locations:
                      - SOUTHEASTASIA
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: LUIS
                    locations:
                      - SOUTHEASTASIA
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ComputerVision
                    locations:
                      - SOUTHEASTASIA
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ComputerVision
                    locations:
                      - SOUTHEASTASIA
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - SOUTHEASTASIA
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: TextAnalytics
                    locations:
                      - SOUTHEASTASIA
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - SOUTHEASTASIA
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - SOUTHEASTASIA
                    name: S2
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - SOUTHEASTASIA
                    name: S3
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - SOUTHEASTASIA
                    name: S4
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Face
                    locations:
                      - EASTASIA
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: Face
                    locations:
                      - EASTASIA
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ComputerVision
                    locations:
                      - EASTASIA
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ComputerVision
                    locations:
                      - EASTASIA
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ContentModerator
                    locations:
                      - EASTASIA
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ContentModerator
                    locations:
                      - EASTASIA
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - EASTASIA
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: TextAnalytics
                    locations:
                      - EASTASIA
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - EASTASIA
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - EASTASIA
                    name: S2
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - EASTASIA
                    name: S3
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - EASTASIA
                    name: S4
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: LUIS
                    locations:
                      - EASTASIA
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: LUIS
                    locations:
                      - EASTASIA
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Face
                    locations:
                      - WESTCENTRALUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: Face
                    locations:
                      - WESTCENTRALUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ContentModerator
                    locations:
                      - WESTCENTRALUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ContentModerator
                    locations:
                      - WESTCENTRALUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: LUIS
                    locations:
                      - WESTCENTRALUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: LUIS
                    locations:
                      - WESTCENTRALUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ComputerVision
                    locations:
                      - WESTCENTRALUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ComputerVision
                    locations:
                      - WESTCENTRALUS
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTCENTRALUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: TextAnalytics
                    locations:
                      - WESTCENTRALUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTCENTRALUS
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTCENTRALUS
                    name: S2
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTCENTRALUS
                    name: S3
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - WESTCENTRALUS
                    name: S4
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Face
                    locations:
                      - SOUTHCENTRALUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: Face
                    locations:
                      - SOUTHCENTRALUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ComputerVision
                    locations:
                      - SOUTHCENTRALUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ComputerVision
                    locations:
                      - SOUTHCENTRALUS
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ContentModerator
                    locations:
                      - SOUTHCENTRALUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ContentModerator
                    locations:
                      - SOUTHCENTRALUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - SOUTHCENTRALUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: TextAnalytics
                    locations:
                      - SOUTHCENTRALUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - SOUTHCENTRALUS
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - SOUTHCENTRALUS
                    name: S2
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - SOUTHCENTRALUS
                    name: S3
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - SOUTHCENTRALUS
                    name: S4
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: LUIS
                    locations:
                      - SOUTHCENTRALUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: LUIS
                    locations:
                      - SOUTHCENTRALUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: CustomVision.Training
                    locations:
                      - SOUTHCENTRALUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: CustomVision.Training
                    locations:
                      - SOUTHCENTRALUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: CustomVision.Prediction
                    locations:
                      - SOUTHCENTRALUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: CustomVision.Prediction
                    locations:
                      - SOUTHCENTRALUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Face
                    locations:
                      - EASTUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: Face
                    locations:
                      - EASTUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ComputerVision
                    locations:
                      - EASTUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ComputerVision
                    locations:
                      - EASTUS
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ContentModerator
                    locations:
                      - EASTUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ContentModerator
                    locations:
                      - EASTUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - EASTUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: TextAnalytics
                    locations:
                      - EASTUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - EASTUS
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - EASTUS
                    name: S2
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - EASTUS
                    name: S3
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - EASTUS
                    name: S4
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: LUIS
                    locations:
                      - EASTUS
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: LUIS
                    locations:
                      - EASTUS
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ContentModerator
                    locations:
                      - EASTUS2
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ContentModerator
                    locations:
                      - EASTUS2
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: Face
                    locations:
                      - EASTUS2
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: Face
                    locations:
                      - EASTUS2
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: LUIS
                    locations:
                      - EASTUS2
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: LUIS
                    locations:
                      - EASTUS2
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: ComputerVision
                    locations:
                      - EASTUS2
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: ComputerVision
                    locations:
                      - EASTUS2
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - EASTUS2
                    name: F0
                    resourceType: accounts
                    restrictions: []
                    tier: Free
                  - kind: TextAnalytics
                    locations:
                      - EASTUS2
                    name: S0
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - EASTUS2
                    name: S1
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - EASTUS2
                    name: S2
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - EASTUS2
                    name: S3
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
                  - kind: TextAnalytics
                    locations:
                      - EASTUS2
                    name: S4
                    resourceType: accounts
                    restrictions: []
                    tier: Standard
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts":
    get:
      description: Returns all the resources of a particular type belonging to a resource group
      operationId: Accounts_ListByResourceGroup
      parameters:
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: |-
            The resource provider should return 200 (OK) to indicate that the operation completed successfully. For other errors (e.g. internal errors) use the appropriate HTTP error code.
            The nextLink field is expected to point to the URL the client should use to fetch the next page (per server side paging). This matches the OData guidelines for paged responses here. If a resource provider does not support paging, it should return the same body (JSON object with "value" property) but omit nextLink entirely (or set to null, *not* empty string) for future compatibility.
            The nextLink should be implemented using following query parameters:
            · skipToken: opaque token that allows the resource provider to skip resources already enumerated. This value is defined and returned by the RP after first request via nextLink.
            · top: the optional client query parameter which defines the maximum number of records to be returned by the server.
            Implementation details:
            · NextLink may include all the query parameters (specifically OData $filter) used by the client in the first query. 
            · Server may return less records than requested with nextLink. Returning zero records with NextLink is an acceptable response. 
            Clients must fetch records until the nextLink is not returned back / null. Clients should never rely on number of returned records to determinate if pagination is completed.
          schema:
            $ref: "#/definitions/CognitiveServicesAccountListResult"
        default:
          description: Error response describing why the operation failed. If the resource group does not exist, 404 (NotFound) will be returned.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        List Accounts by Resource Group:
          parameters:
            api-version: 2017-04-18
            resourceGroupName: felixwa-01
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            "200":
              body:
                value:
                  - etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                    id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/felixwa-01/providers/Microsoft.CognitiveServices/accounts/felixwatest1
                    kind: Emotion
                    location: westus
                    name: felixwatest1
                    properties:
                      endpoint: https://westus.api.cognitive.microsoft.com/emotion/v1.0
                      internalId: a6bb5ff85a3b4c6eb8de8798567a78c6
                      provisioningState: Succeeded
                    sku:
                      name: F0
                    tags:
                      ExpiredDate: 2017/09/01
                      Owner: felixwa
                    type: Microsoft.CognitiveServices/accounts
                  - etag: W/"datetime'2017-04-07T04%3A32%3A38.9187216Z'"
                    id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/felixwa-01/providers/Microsoft.CognitiveServices/accounts/TestPropertyWU2
                    kind: Face
                    location: westus
                    name: TestPropertyWU2
                    properties:
                      endpoint: https://westus.api.cognitive.microsoft.com/face/v1.0
                      internalId: 0d40510f999141509dbfd9e1f9b259ca
                      provisioningState: Succeeded
                    sku:
                      name: S0
                    tags: {}
                    type: Microsoft.CognitiveServices/accounts
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}":
    delete:
      description: "Deletes a Cognitive Services account from the resource group. "
      operationId: Accounts_Delete
      parameters:
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of Cognitive Services account.
          in: path
          maxLength: 64
          minLength: 2
          name: accountName
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: A 200 (OK) should be returned if the object exists and was deleted successfully;
        "202":
          description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
        "204":
          description: a 204 (NoContent) should be used if the resource does not exist and the request is well formed.
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/Error"
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        Delete Account:
          parameters:
            accountName: PropTest01
            api-version: 2017-04-18
            resourceGroupName: felixwa-01
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            "200": {}
            "202": {}
            "204": {}
    get:
      description: Returns a Cognitive Services account specified by the parameters.
      operationId: Accounts_GetProperties
      parameters:
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of Cognitive Services account.
          in: path
          maxLength: 64
          minLength: 2
          name: accountName
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: |
            The resource provider should return 200 (OK) to indicate that the operation completed successfully.
            For a detailed explanation of each field in the response body, please refer to the request body description in the PUT resource section. The only GET specific properties are "name," "type" and "id."
            Field	Description
            Kind	required.  String.
            	The API set for this API account. It can be 
            	· a single API, for example: Face API, Vision API, Speech API. 
            	a bundle of APIs:  Face + Speech, Vision + Emotion, etc.
            sku.name	Required.
            	The pricing tier/plan of this API. Could be: 
            	F0 - Free
            	B0 - Basic
            	S0 - Standard
            	P0 - Premium
          schema:
            $ref: "#/definitions/CognitiveServicesAccount"
        default:
          description: Error response describing why the operation failed. If the resource does not exist, 404 (NotFound) should be returned.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        Get Account:
          parameters:
            accountName: felixwatest1
            api-version: 2017-04-18
            resourceGroupName: felixwa-01
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            "200":
              body:
                etag: W/"datetime'2017-04-10T04%3A42%3A19.7067387Z'"
                id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/felixwa-01/providers/Microsoft.CognitiveServices/accounts/felixwatest1
                kind: Emotion
                location: westus
                name: felixwatest1
                properties:
                  endpoint: https://westus.api.cognitive.microsoft.com/emotion/v1.0
                  internalId: a6bb5ff85a3b4c6eb8de8798567a78c6
                  provisioningState: Succeeded
                sku:
                  name: F0
                tags:
                  ExpiredDate: 2017/09/01
                  Owner: felixwa
                type: Microsoft.CognitiveServices/accounts
    patch:
      description: Updates a Cognitive Services account
      operationId: Accounts_Update
      parameters:
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of Cognitive Services account.
          in: path
          maxLength: 64
          minLength: 2
          name: accountName
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
          required: true
          type: string
        - description: The parameters to provide for the created account.
          in: body
          name: account
          required: true
          schema:
            $ref: "#/definitions/CognitiveServicesAccount"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: "The resource provider should return 200 (OK) to indicate that the operation completed successfully. "
          schema:
            $ref: "#/definitions/CognitiveServicesAccount"
        "202":
          description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
          schema:
            $ref: "#/definitions/CognitiveServicesAccount"
        default:
          description: Error response describing why the operation failed. If the resource group *or* resource does not exist, 404 (NotFound) should be returned.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        Update Account:
          parameters:
            account:
              sku:
                name: S2
            accountName: bingSearch
            api-version: 2017-04-18
            resourceGroupName: bvttest
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            "200":
              body:
                etag: W/"datetime'2017-04-10T07%3A46%3A21.5618831Z'"
                id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/bvttest/providers/Microsoft.CognitiveServices/accounts/bingSearch
                kind: Bing.Search
                location: global
                name: bingSearch
                properties:
                  endpoint: https://api.cognitive.microsoft.com/bing/v5.0
                  internalId: ceebe1e8e40f44e69554c1a759de4cf9
                  provisioningState: Succeeded
                sku:
                  name: S2
                type: Microsoft.CognitiveServices/accounts
            "202":
              body:
                etag: W/"datetime'2017-04-10T07%3A46%3A21.5618831Z'"
                id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/bvttest/providers/Microsoft.CognitiveServices/accounts/bingSearch
                kind: Bing.Search
                location: global
                name: bingSearch
                properties:
                  endpoint: https://api.cognitive.microsoft.com/bing/v5.0
                  internalId: ceebe1e8e40f44e69554c1a759de4cf9
                  provisioningState: Succeeded
                sku:
                  name: S2
                type: Microsoft.CognitiveServices/accounts
    put:
      description: Create Cognitive Services Account. Accounts is a resource group wide resource type. It holds the keys for developer to access intelligent APIs. It's also the resource type for billing.
      operationId: Accounts_Create
      parameters:
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of Cognitive Services account.
          in: path
          maxLength: 64
          minLength: 2
          name: accountName
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
          required: true
          type: string
        - description: The parameters to provide for the created account.
          in: body
          name: account
          required: true
          schema:
            $ref: "#/definitions/CognitiveServicesAccount"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: If resource is created successfully or already existed, the service should return 200 (OK).
          schema:
            $ref: "#/definitions/CognitiveServicesAccount"
        "201":
          description: If resource is created successfully, the service should return 201 (OK).
          schema:
            $ref: "#/definitions/CognitiveServicesAccount"
        "202":
          description: HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.
          schema:
            $ref: "#/definitions/CognitiveServicesAccount"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/Error"
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        Create Account:
          parameters:
            account:
              kind: Emotion
              location: West US
              properties: {}
              sku:
                name: S0
            accountName: testCreate1
            api-version: 2017-04-18
            resourceGroupName: felixwa-01
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            "200":
              body:
                etag: W/"datetime'2017-04-10T08%3A00%3A05.445595Z'"
                id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/felixwa-01/providers/Microsoft.CognitiveServices/accounts/testCreate1
                kind: Emotion
                location: West US
                name: testCreate1
                properties:
                  endpoint: https://westus.api.cognitive.microsoft.com/emotion/v1.0
                  internalId: 9dc1c5b9bb95486aa63899acdaebd9a0
                  provisioningState: Succeeded
                sku:
                  name: S0
                type: Microsoft.CognitiveServices/accounts
            "201":
              body:
                etag: W/"datetime'2017-04-10T07%3A57%3A48.4582781Z'"
                id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/felixwa-01/providers/Microsoft.CognitiveServices/accounts/testCreate1
                kind: Emotion
                location: West US
                name: testCreate1
                properties:
                  endpoint: https://westus.api.cognitive.microsoft.com/emotion/v1.0
                  internalId: 9dc1c5b9bb95486aa63899acdaebd9a0
                  provisioningState: Succeeded
                sku:
                  name: S0
                type: Microsoft.CognitiveServices/accounts
            "202":
              body:
                etag: W/"datetime'2017-04-10T07%3A57%3A48.4582781Z'"
                id: /subscriptions/f9b96b36-1f5e-4021-8959-51527e26e6d3/resourceGroups/felixwa-01/providers/Microsoft.CognitiveServices/accounts/testCreate1
                kind: Emotion
                location: West US
                name: testCreate1
                properties:
                  endpoint: https://westus.api.cognitive.microsoft.com/emotion/v1.0
                  internalId: 9dc1c5b9bb95486aa63899acdaebd9a0
                  provisioningState: Succeeded
                sku:
                  name: S0
                type: Microsoft.CognitiveServices/accounts
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/listKeys":
    post:
      description: Lists the account keys for the specified Cognitive Services account.
      operationId: Accounts_ListKeys
      parameters:
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of Cognitive Services account.
          in: path
          maxLength: 64
          minLength: 2
          name: accountName
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: |-
            Returns with a response body containing the subscription keys for the resource: key1
            The first API key for authentication when client calls the API endpoint.

            key2
            The second API key for authentication when client calls the API endpoint.
          schema:
            $ref: "#/definitions/CognitiveServicesAccountKeys"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/Error"
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        List Keys:
          parameters:
            accountName: felixwatest1
            api-version: 2017-04-18
            resourceGroupName: felixwa-01
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            "200":
              body:
                key1: KEY1
                key2: KEY2
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/regenerateKey":
    post:
      description: Regenerates the specified account key for the specified Cognitive Services account.
      operationId: Accounts_RegenerateKey
      parameters:
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of Cognitive Services account.
          in: path
          maxLength: 64
          minLength: 2
          name: accountName
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
          required: true
          type: string
        - description: regenerate key parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/RegenerateKeyParameters"
          x-ms-client-flatten: true
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CognitiveServicesAccountKeys"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/Error"
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        Regenerate Keys:
          parameters:
            accountName: felixwatest1
            api-version: 2017-04-18
            parameters:
              keyName: Key2
            resourceGroupName: felixwa-01
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            "200":
              body:
                key1: KEY1
                key2: KEY2
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/skus":
    get:
      description: List available SKUs for the requested Cognitive Services account
      operationId: Accounts_ListSkus
      parameters:
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of Cognitive Services account.
          in: path
          maxLength: 64
          minLength: 2
          name: accountName
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
      responses:
        "200":
          description: |
            The resource provider should return 200 (OK) to indicate that the operation completed successfully.
            For a detailed explanation of each field in the response body, please refer to the request body description in the PUT resource section. The only GET specific properties are "name," "type" and "id."
            Field	Description
            sku	Required, object
            	The exact set of keys that define this sku. This matches the fields on the respective resource.
            sku.name	Required, string
            	The name of the SKU. This is typically a letter + number code, such as A0 or P3
            sku.tier	Required, string
            	The tier of this particular SKU. Typically one of:
            	· Free
            	· Basic
            	· Standard
            	· Premium
          schema:
            $ref: "#/definitions/CognitiveServicesAccountEnumerateSkusResult"
        default:
          description: Error response describing why the operation failed. If the resource does not exist, 404 (NotFound) will be returned.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        List SKUs:
          parameters:
            accountName: felixwatest1
            api-version: 2017-04-18
            resourceGroupName: felixwa-01
            subscriptionId: f9b96b36-1f5e-4021-8959-51527e26e6d3
          responses:
            "200":
              body:
                value:
                  - resourceType: Microsoft.CognitiveServices/accounts
                    sku:
                      name: F0
                      tier: Free
                  - resourceType: Microsoft.CognitiveServices/accounts
                    sku:
                      name: S0
                      tier: Standard
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CognitiveServices/accounts/{accountName}/usages":
    get:
      description: Get usages for the requested Cognitive Services account
      operationId: Accounts_GetUsages
      parameters:
        - description: The name of the resource group within the user's subscription.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of Cognitive Services account.
          in: path
          maxLength: 64
          minLength: 2
          name: accountName
          pattern: ^[a-zA-Z0-9][a-zA-Z0-9_.-]*$
          required: true
          type: string
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/usageFilterParameter"
      responses:
        "200":
          description: The usages for Cognitive Services account were retrieved successfully.
          schema:
            $ref: "#/definitions/UsagesResult"
        default:
          description: Error response describing why the operation failed. If the resource does not exist, 404 (NotFound) will be returned.
          schema:
            $ref: "#/definitions/Error"
      tags:
        - CognitiveServicesAccounts
      x-ms-examples:
        Get Usages:
          parameters:
            accountName: TestUsage02
            api-version: 2017-04-18
            resourceGroupName: felixwa-01
            subscriptionId: 5a4f5c2e-6983-4ccb-bd34-2196d5b5bbd3
          responses:
            "200":
              body:
                value:
                  - currentValue: 3
                    limit: 30000
                    name:
                      localizedValue: Face.Transactions
                      value: Face.Transactions
                    nextResetTime: 2018-03-28T09:33:51Z
                    quotaPeriod: 30.00:00:00
                    status: Included
                    unit: Count
definitions:
  CheckDomainAvailabilityParameter:
    description: Check Domain availability parameter.
    properties:
      subdomainName:
        description: The subdomain name to use.
        type: string
      type:
[...]
