swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Compute Management Client.
  title: ComputeManagementClient
  version: 2018-06-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/compute.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: compute
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.Compute/operations:
    get:
      description: Gets a list of compute operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ComputeOperationListResult"
      tags:
        - ComputeOperations
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/availabilitySets":
    get:
      description: Lists all availability sets in a subscription.
      operationId: AvailabilitySets_ListBySubscription
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The expand expression to apply to the operation.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AvailabilitySetListResult"
      tags:
        - AvailabilitySets
      x-ms-examples:
        List availability sets in a subscription.:
          parameters:
            $expand: virtualMachines\$ref
            api-version: 2018-06-01
            subscriptionId: "{subscriptionId}"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}
                    location: australiasoutheast
                    name: "{availabilitySetName}"
                    properties:
                      platformFaultDomainCount: 3
                      platformUpdateDomainCount: 5
                      virtualMachines:
                        - id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}
                    sku:
                      name: Classic
                    type: Microsoft.Compute/availabilitySets
                  - id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}
                    location: australiasoutheast
                    name: "{availabilitySetName}"
                    properties:
                      platformFaultDomainCount: 3
                      platformUpdateDomainCount: 5
                      virtualMachines:
                        - id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}
                    sku:
                      name: Classic
                    type: Microsoft.Compute/availabilitySets
                  - id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}
                    location: westcentralus
                    name: "{availabilitySetName}"
                    properties:
                      platformFaultDomainCount: 3
                      platformUpdateDomainCount: 5
                      virtualMachines: []
                    sku:
                      name: Classic
                    tags:
                      "{tagName}": "{tagValue}"
                    type: Microsoft.Compute/availabilitySets
                  - id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}
                    location: westcentralus
                    name: "{availabilitySetName}"
                    properties:
                      platformFaultDomainCount: 3
                      platformUpdateDomainCount: 5
                      virtualMachines: []
                    sku:
                      name: Classic
                    tags:
                      "{tagName}": "{tagValue}"
                    type: Microsoft.Compute/availabilitySets
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/images":
    get:
      description: Gets the list of Images in the subscription. Use nextLink property in the response to get the next page of Images. Do this till nextLink is null to fetch all the Images.
      operationId: Images_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ImageListResult"
      tags:
        - Images
      x-ms-examples:
        List all virtual machine images in a subscription.:
          parameters:
            api-version: 2018-06-01
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/myImage
                    location: West US
                    name: myImage
                    properties:
                      provisioningState: created
                      storageProfile:
                        dataDisks:
                          - blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                            lun: 1
                            managedDisk:
                              id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2
                            snapshot:
                              id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2
                            storageAccountType: Standard_LRS
                        osDisk:
                          blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                          managedDisk:
                            id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1
                          osState: Generalized
                          osType: Windows
                          snapshot:
                            id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1
                          storageAccountType: Standard_LRS
                    type: Microsoft.Compute/images
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/logAnalytics/apiAccess/getRequestRateByInterval":
    post:
      description: Export logs that show Api requests made by this subscription in the given time window to show throttling activities.
      operationId: LogAnalytics_ExportRequestRateByInterval
      parameters:
        - description: Parameters supplied to the LogAnalytics getRequestRateByInterval Api.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/RequestRateByIntervalInput"
        - description: The location upon which virtual-machine-sizes is queried.
          in: path
          name: location
          pattern: ^[-\w\._]+$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/LogAnalyticsOperationResult"
        "202":
          description: Accepted
      tags:
        - LogAnalytics
      x-ms-examples:
        Export logs which contain all Api requests made to Compute Resource Provider within the given time period broken down by intervals.:
          parameters:
            api-version: 2018-06-01
            location: westus
            parameters:
              blobContainerSasUri: https://somesasuri
              fromTime: 2018-01-21T01:54:06.862601Z
              groupByResourceName: true
              intervalLength: FiveMins
              toTime: 2018-01-23T01:54:06.862601Z
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                properties:
                  output: https://crptestar4227.blob.core.windows.net:443/sascontainer/RequestRateByInterval_20180121-0154_20180123-0154.csv
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/logAnalytics/apiAccess/getThrottledRequests":
    post:
      description: Export logs that show total throttled Api requests for this subscription in the given time window.
      operationId: LogAnalytics_ExportThrottledRequests
      parameters:
        - description: Parameters supplied to the LogAnalytics getThrottledRequests Api.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ThrottledRequestsInput"
        - description: The location upon which virtual-machine-sizes is queried.
          in: path
          name: location
          pattern: ^[-\w\._]+$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/LogAnalyticsOperationResult"
        "202":
          description: Accepted
      tags:
        - LogAnalytics
      x-ms-examples:
        Export logs which contain all throttled Api requests made to Compute Resource Provider within the given time period.:
          parameters:
            api-version: 2018-06-01
            location: westus
            parameters:
              blobContainerSasUri: https://somesasuri
              fromTime: 2018-01-21T01:54:06.862601Z
              groupByOperationName: true
              groupByResourceName: false
              toTime: 2018-01-23T01:54:06.862601Z
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                properties:
                  output: https://crptestar4227.blob.core.windows.net:443/sascontainer/ThrottledRequests_20180121-0154_20180123-0154.csv
            "202": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers":
    get:
      description: Gets a list of virtual machine image publishers for the specified Azure location.
      operationId: VirtualMachineImages_ListPublishers
      parameters:
        - description: The name of a supported Azure region.
          in: path
          name: location
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/VirtualMachineImageResource"
            type: array
      tags:
        - VirtualMachineImages
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types":
    get:
      description: Gets a list of virtual machine extension image types.
      operationId: VirtualMachineExtensionImages_ListTypes
      parameters:
        - description: The name of a supported Azure region.
          in: path
          name: location
          required: true
          type: string
        - in: path
          name: publisherName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/VirtualMachineExtensionImage"
            type: array
      tags:
        - VirtualMachineExtensionImages
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions":
    get:
      description: Gets a list of virtual machine extension image versions.
      operationId: VirtualMachineExtensionImages_ListVersions
      parameters:
        - description: The name of a supported Azure region.
          in: path
          name: location
          required: true
          type: string
        - in: path
          name: publisherName
          required: true
          type: string
        - in: path
          name: type
          required: true
          type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - format: int32
          in: query
          name: $top
          required: false
          type: integer
        - in: query
          name: $orderby
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/VirtualMachineExtensionImage"
            type: array
      tags:
        - VirtualMachineExtensionImages
      x-ms-odata: "#/definitions/VirtualMachineExtensionImage"
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions/{version}":
    get:
      description: Gets a virtual machine extension image.
      operationId: VirtualMachineExtensionImages_Get
      parameters:
        - description: The name of a supported Azure region.
          in: path
          name: location
          required: true
          type: string
        - in: path
          name: publisherName
          required: true
          type: string
        - in: path
          name: type
          required: true
          type: string
        - in: path
          name: version
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VirtualMachineExtensionImage"
      tags:
        - VirtualMachineExtensionImages
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers":
    get:
      description: Gets a list of virtual machine image offers for the specified location and publisher.
      operationId: VirtualMachineImages_ListOffers
      parameters:
        - description: The name of a supported Azure region.
          in: path
          name: location
          required: true
          type: string
        - description: A valid image publisher.
          in: path
          name: publisherName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/VirtualMachineImageResource"
            type: array
      tags:
        - VirtualMachineImages
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus":
    get:
      description: Gets a list of virtual machine image SKUs for the specified location, publisher, and offer.
      operationId: VirtualMachineImages_ListSkus
      parameters:
        - description: The name of a supported Azure region.
          in: path
          name: location
          required: true
          type: string
        - description: A valid image publisher.
          in: path
          name: publisherName
          required: true
          type: string
        - description: A valid image publisher offer.
          in: path
          name: offer
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/VirtualMachineImageResource"
            type: array
      tags:
        - VirtualMachineImages
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions":
    get:
      description: Gets a list of all virtual machine image versions for the specified location, publisher, offer, and SKU.
      operationId: VirtualMachineImages_List
      parameters:
        - description: The name of a supported Azure region.
          in: path
          name: location
          required: true
          type: string
        - description: A valid image publisher.
          in: path
          name: publisherName
          required: true
          type: string
        - description: A valid image publisher offer.
          in: path
          name: offer
          required: true
          type: string
        - description: A valid image SKU.
          in: path
          name: skus
          required: true
          type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - format: int32
          in: query
          name: $top
          required: false
          type: integer
        - in: query
          name: $orderby
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/VirtualMachineImageResource"
            type: array
      tags:
        - VirtualMachineImages
      x-ms-odata: "#/definitions/VirtualMachineImageResource"
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}":
    get:
      description: Gets a virtual machine image.
      operationId: VirtualMachineImages_Get
      parameters:
        - description: The name of a supported Azure region.
          in: path
          name: location
          required: true
          type: string
        - description: A valid image publisher.
          in: path
          name: publisherName
          required: true
          type: string
        - description: A valid image publisher offer.
          in: path
          name: offer
          required: true
          type: string
        - description: A valid image SKU.
          in: path
          name: skus
          required: true
          type: string
        - description: A valid image SKU version.
          in: path
          name: version
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VirtualMachineImage"
      tags:
        - VirtualMachineImages
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/usages":
    get:
      description: Gets, for the specified location, the current compute resource usage information as well as the limits for compute resources under the subscription.
      operationId: Usage_List
      parameters:
        - description: The location for which resource usage is queried.
          in: path
          name: location
          pattern: ^[-\w\._]+$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ListUsagesResult"
      tags:
        - Usage
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/virtualMachines":
    get:
      description: Gets all the virtual machines under the specified subscription for the specified location.
      operationId: VirtualMachines_ListByLocation
      parameters:
        - description: The location for which virtual machines under the subscription are queried.
          in: path
          name: location
          pattern: ^[-\w\._]+$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VirtualMachineListResult"
      tags:
        - VirtualMachines
      x-ms-examples:
        Lists all the virtual machines under the specified subscription for the specified location.:
          parameters:
            api-version: 2018-06-01
            location: eastus
            subscriptionId: "{subscriptionId}"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}
                    location: eastus
                    name: "{virtualMachineName}"
                    properties:
                      availabilitySet:
                        id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}
                      hardwareProfile:
                        vmSize: Standard_A0
                      networkProfile:
                        networkInterfaces:
                          - id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}
                      osProfile:
                        adminUsername: Foo12
                        allowExtensionOperations: true
                        computerName: Test
                        secrets: []
                        windowsConfiguration:
                          enableAutomaticUpdates: true
                          provisionVMAgent: true
                      provisioningState: Succeeded
                      storageProfile:
                        dataDisks: []
                        imageReference:
                          offer: WindowsServer
                          publisher: MicrosoftWindowsServer
                          sku: 2012-R2-Datacenter
                          version: 4.127.20170406
                        osDisk:
                          caching: None
                          createOption: FromImage
                          diskSizeGB: 127
                          name: test
                          osType: Windows
                          vhd:
                            uri: https://{storageAccountName}.blob.core.windows.net/{containerName}/{vhdName}.vhd
                      vmId: "{vmId}"
                    tags:
                      RG: rg
                      testTag: "1"
                    type: Microsoft.Compute/virtualMachines
                  - id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{virtualMachineName}
                    location: eastus
                    name: "{virtualMachineName}"
                    properties:
                      availabilitySet:
                        id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}
                      hardwareProfile:
                        vmSize: Standard_A0
                      networkProfile:
                        networkInterfaces:
                          - id: /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkInterfaces/{networkInterfaceName}
                      osProfile:
                        adminUsername: Foo12
                        allowExtensionOperations: true
                        computerName: Test
                        secrets: []
                        windowsConfiguration:
                          enableAutomaticUpdates: true
                          provisionVMAgent: true
                      provisioningState: Succeeded
                      storageProfile:
                        dataDisks: []
                        imageReference:
                          offer: WindowsServer
                          publisher: MicrosoftWindowsServer
                          sku: 2012-R2-Datacenter
                          version: 4.127.20170406
                        osDisk:
                          caching: None
                          createOption: FromImage
                          diskSizeGB: 127
                          name: test
                          osType: Windows
                          vhd:
                            uri: https://{storageAccountName}.blob.core.windows.net/{containerName}/{vhdName}.vhd
                      vmId: "{vmId}"
                    tags:
                      RG: rg
                      testTag: "1"
                    type: Microsoft.Compute/virtualMachines
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/vmSizes":
    get:
      description: This API is deprecated. Use [Resources Skus](https://docs.microsoft.com/en-us/rest/api/compute/resourceskus/list)
      operationId: VirtualMachineSizes_List
      parameters:
        - description: The location upon which virtual-machine-sizes is queried.
          in: path
          name: location
          pattern: ^[-\w\._]+$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VirtualMachineSizeListResult"
      tags:
        - VirtualMachineSizes
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/proximityPlacementGroups":
    get:
      description: Lists all proximity placement groups in a subscription.
      operationId: ProximityPlacementGroups_ListBySubscription
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProximityPlacementGroupListResult"
      tags:
        - ProximityPlacementGroups
      x-ms-examples:
        Create a proximity placement group.:
          parameters:
            api-version: 2018-06-01
            parameters: {}
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: string
                value:
                  - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myProximityPlacementGroup
                    location: westus
                    name: myProximityPlacementGroup
                    properties:
                      availabilitySets:
                        - id: string
                      proximityPlacementGroupType: Standard
                      virtualMachineScaleSets:
                        - id: string
                      virtualMachines:
                        - id: string
                    type: Microsoft.Compute/proximityPlacementGroups
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachineScaleSets":
    get:
      description: Gets a list of all VM Scale Sets in the subscription, regardless of the associated resource group. Use nextLink property in the response to get the next page of VM Scale Sets. Do this till nextLink is null to fetch all the VM Scale Sets.
      operationId: VirtualMachineScaleSets_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VirtualMachineScaleSetListWithLinkResult"
      tags:
        - VirtualMachineScaleSets
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachines":
    get:
      description: Lists all of the virtual machines in the specified subscription. Use the nextLink property in the response to get the next page of virtual machines.
      operationId: VirtualMachines_ListAll
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VirtualMachineListResult"
      tags:
        - VirtualMachines
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets":
    get:
      description: Lists all availability sets in a resource group.
      operationId: AvailabilitySets_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AvailabilitySetListResult"
      tags:
        - AvailabilitySets
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}":
    delete:
      description: Delete an availability set.
      operationId: AvailabilitySets_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the availability set.
          in: path
          name: availabilitySetName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
        "204":
          description: No Content
      tags:
        - AvailabilitySets
    get:
      description: Retrieves information about an availability set.
      operationId: AvailabilitySets_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the availability set.
          in: path
          name: availabilitySetName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AvailabilitySet"
      tags:
        - AvailabilitySets
    patch:
      description: Update an availability set.
      operationId: AvailabilitySets_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the availability set.
          in: path
          name: availabilitySetName
          required: true
          type: string
        - description: Parameters supplied to the Update Availability Set operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/AvailabilitySetUpdate"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AvailabilitySet"
      tags:
        - AvailabilitySets
    put:
      description: Create or update an availability set.
      operationId: AvailabilitySets_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the availability set.
          in: path
          name: availabilitySetName
          required: true
          type: string
        - description: Parameters supplied to the Create Availability Set operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/AvailabilitySet"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AvailabilitySet"
      tags:
        - AvailabilitySets
      x-ms-examples:
        Create an availability set.:
          parameters:
            api-version: 2018-06-01
            availabilitySetName: myAvailabilitySet
            parameters:
              location: westus
              properties:
                platformFaultDomainCount: 2
                platformUpdateDomainCount: 20
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/availabilitySets/myAvailabilitySet
                location: westus
                name: myAvailabilitySet
                properties:
                  platformFaultDomainCount: 2
                  platformUpdateDomainCount: 20
                sku:
                  name: Classic
                type: Microsoft.Compute/availabilitySets
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/vmSizes":
    get:
      description: Lists all available virtual machine sizes that can be used to create a new virtual machine in an existing availability set.
      operationId: AvailabilitySets_ListAvailableSizes
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the availability set.
          in: path
          name: availabilitySetName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VirtualMachineSizeListResult"
      tags:
        - AvailabilitySets
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/images":
    get:
      description: Gets the list of images under a resource group.
      operationId: Images_ListByResourceGroup
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ImageListResult"
      tags:
        - Images
      x-ms-examples:
        List all virtual machine images in a resource group.:
          parameters:
            api-version: 2018-06-01
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/myImage
                    location: West US
                    name: myImage
                    properties:
                      provisioningState: created
                      storageProfile:
                        dataDisks:
                          - blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                            lun: 1
                            managedDisk:
                              id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2
                            snapshot:
                              id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2
                            storageAccountType: Standard_LRS
                        osDisk:
                          blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                          managedDisk:
                            id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1
                          osState: Generalized
                          osType: Windows
                          snapshot:
                            id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1
                          storageAccountType: Standard_LRS
                    type: Microsoft.Compute/images
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/images/{imageName}":
    delete:
      description: Deletes an Image.
      operationId: Images_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the image.
          in: path
          name: imageName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: No Content
      tags:
        - Images
      x-ms-long-running-operation: true
    get:
      description: Gets an image.
      operationId: Images_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the image.
          in: path
          name: imageName
          required: true
          type: string
        - description: The expand expression to apply on the operation.
          in: query
          name: $expand
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Image"
      tags:
        - Images
      x-ms-examples:
        Get information about a virtual machine image.:
          parameters:
            api-version: 2018-06-01
            imageName: myImage
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/myImage
                location: West US
                name: myImage
                properties:
                  provisioningState: created
                  storageProfile:
                    dataDisks:
                      - blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                        lun: 1
                        managedDisk:
                          id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2
                        snapshot:
                          id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2
                        storageAccountType: Standard_LRS
                    osDisk:
                      blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      diskSizeGB: 20
                      managedDisk:
                        id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk1
                      osState: Generalized
                      osType: Windows
                      snapshot:
                        id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot1
                      storageAccountType: Standard_LRS
                type: Microsoft.Compute/images
    patch:
      description: Update an image.
      operationId: Images_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the image.
          in: path
          name: imageName
          required: true
          type: string
        - description: Parameters supplied to the Update Image operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ImageUpdate"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Image"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Image"
      tags:
        - Images
      x-ms-long-running-operation: true
    put:
      description: Create or update an image.
      operationId: Images_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the image.
          in: path
          name: imageName
          required: true
          type: string
        - description: Parameters supplied to the Create Image operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Image"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Image"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Image"
      tags:
        - Images
      x-ms-examples:
        Create a virtual machine image from a blob.:
          parameters:
            api-version: 2018-06-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  osDisk:
                    blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                    osState: Generalized
                    osType: Linux
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
            "201":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
        Create a virtual machine image from a managed disk.:
          parameters:
            api-version: 2018-06-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  osDisk:
                    managedDisk:
                      id: subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk
                    osState: Generalized
                    osType: Linux
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      managedDisk:
                        id: subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
            "201":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      managedDisk:
                        id: subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
        Create a virtual machine image from a snapshot.:
          parameters:
            api-version: 2018-06-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  osDisk:
                    osState: Generalized
                    osType: Linux
                    snapshot:
                      id: subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                      snapshot:
                        id: subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot
                type: Microsoft.Compute/images
            "201":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                      snapshot:
                        id: subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot
                type: Microsoft.Compute/images
        Create a virtual machine image from an existing virtual machine.:
          parameters:
            api-version: 2018-06-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                sourceVirtualMachine:
                  id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/myVM
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  sourceVirtualMachine:
                    id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/myVM
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      managedDisk:
                        id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myVM_OsDisk_1_6dc293b7d811433196903acf92665022
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
            "201":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  sourceVirtualMachine:
                    id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachines/myVM
                  storageProfile:
                    dataDisks: []
                    osDisk:
                      caching: ReadWrite
                      managedDisk:
                        id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myVM_OsDisk_1_6dc293b7d811433196903acf92665022
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
        Create a virtual machine image that includes a data disk from a blob.:
          parameters:
            api-version: 2018-06-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  dataDisks:
                    - blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                      lun: 1
                  osDisk:
                    blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                    osState: Generalized
                    osType: Linux
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks:
                      - blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                        lun: 1
                    osDisk:
                      blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
            "201":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks:
                      - blobUri: https://mystorageaccount.blob.core.windows.net/dataimages/dataimage.vhd
                        lun: 1
                    osDisk:
                      blobUri: https://mystorageaccount.blob.core.windows.net/osimages/osimage.vhd
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
        Create a virtual machine image that includes a data disk from a managed disk.:
          parameters:
            api-version: 2018-06-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  dataDisks:
                    - lun: 1
                      managedDisk:
                        id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2
                  osDisk:
                    managedDisk:
                      id: subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk
                    osState: Generalized
                    osType: Linux
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks:
                      - lun: 1
                        managedDisk:
                          id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2
                    osDisk:
                      caching: ReadWrite
                      managedDisk:
                        id: subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
            "201":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks:
                      - lun: 1
                        managedDisk:
                          id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk2
                    osDisk:
                      caching: ReadWrite
                      managedDisk:
                        id: subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/disks/myManagedDisk
                      osState: Generalized
                      osType: Linux
                type: Microsoft.Compute/images
        Create a virtual machine image that includes a data disk from a snapshot.:
          parameters:
            api-version: 2018-06-01
            imageName: myImage
            parameters:
              location: West US
              properties:
                storageProfile:
                  dataDisks:
                    - lun: 1
                      snapshot:
                        id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2
                  osDisk:
                    osState: Generalized
                    osType: Linux
                    snapshot:
                      id: subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks:
                      - lun: 1
                        snapshot:
                          id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2
                    osDisk:
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                      snapshot:
                        id: subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot
                type: Microsoft.Compute/images
            "201":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/disk/providers/Microsoft.Compute/images/myImage
                location: westus
                name: myImage
                properties:
                  provisioningState: Creating
                  storageProfile:
                    dataDisks:
                      - lun: 1
                        snapshot:
                          id: subscriptions/{subscriptionId}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot2
                    osDisk:
                      caching: ReadWrite
                      osState: Generalized
                      osType: Linux
                      snapshot:
                        id: subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/snapshots/mySnapshot
                type: Microsoft.Compute/images
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/proximityPlacementGroups":
    get:
      description: Lists all proximity placement groups in a resource group.
      operationId: ProximityPlacementGroups_ListByResourceGroup
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProximityPlacementGroupListResult"
      tags:
        - ProximityPlacementGroups
      x-ms-examples:
        Create a proximity placement group.:
          parameters:
            api-version: 2018-06-01
            parameters: {}
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: string
                value:
                  - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myProximityPlacementGroup
                    location: westus
                    name: myProximityPlacementGroup
                    properties:
                      availabilitySets:
                        - id: string
                      proximityPlacementGroupType: Standard
                      virtualMachineScaleSets:
                        - id: string
                      virtualMachines:
                        - id: string
                    type: Microsoft.Compute/proximityPlacementGroups
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/proximityPlacementGroups/{proximityPlacementGroupName}":
    delete:
      description: Delete a proximity placement group.
      operationId: ProximityPlacementGroups_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the proximity placement group.
          in: path
          name: proximityPlacementGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
      tags:
        - ProximityPlacementGroups
      x-ms-examples:
        Create a proximity placement group.:
          parameters:
            api-version: 2018-06-01
            parameters: {}
            proximityPlacementGroupName: myProximityPlacementGroup
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200": {}
    get:
      description: Retrieves information about a proximity placement group .
      operationId: ProximityPlacementGroups_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the proximity placement group.
          in: path
          name: proximityPlacementGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProximityPlacementGroup"
      tags:
        - ProximityPlacementGroups
      x-ms-examples:
        Create a proximity placement group.:
          parameters:
            api-version: 2018-06-01
            parameters: {}
            proximityPlacementGroupName: myProximityPlacementGroup
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myProximityPlacementGroup
                location: westus
                name: myProximityPlacementGroup
                properties:
                  availabilitySets:
                    - id: string
                  proximityPlacementGroupType: Standard
                  virtualMachineScaleSets:
                    - id: string
                  virtualMachines:
                    - id: string
                type: Microsoft.Compute/proximityPlacementGroups
    patch:
      description: Update a proximity placement group.
      operationId: ProximityPlacementGroups_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the proximity placement group.
          in: path
          name: proximityPlacementGroupName
          required: true
          type: string
        - description: Parameters supplied to the Update Proximity Placement Group operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ProximityPlacementGroupUpdate"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProximityPlacementGroup"
      tags:
        - ProximityPlacementGroups
      x-ms-examples:
        Create a proximity placement group.:
          parameters:
            api-version: 2018-06-01
            parameters:
              tags:
                additionalProp1: string
            proximityPlacementGroupName: myProximityPlacementGroup
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myProximityPlacementGroup
                location: westus
                name: myProximityPlacementGroup
                properties:
                  proximityPlacementGroupType: Standard
                type: Microsoft.Compute/proximityPlacementGroups
    put:
      description: Create or update a proximity placement group.
      operationId: ProximityPlacementGroups_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the proximity placement group.
          in: path
          name: proximityPlacementGroupName
          required: true
          type: string
        - description: Parameters supplied to the Create Proximity Placement Group operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ProximityPlacementGroup"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProximityPlacementGroup"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/ProximityPlacementGroup"
      tags:
        - ProximityPlacementGroups
      x-ms-examples:
        Create or Update a proximity placement group.:
          parameters:
            api-version: 2018-06-01
            parameters:
              location: westus
              properties:
                proximityPlacementGroupType: Standard
            proximityPlacementGroupName: myProximityPlacementGroup
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myProximityPlacementGroup
                location: westus
                name: myProximityPlacementGroup
                properties:
                  proximityPlacementGroupType: Standard
                type: Microsoft.Compute/proximityPlacementGroups
            "201":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myProximityPlacementGroup
                location: westus
                name: myProximityPlacementGroup
                properties:
                  proximityPlacementGroupType: Standard
                type: Microsoft.Compute/proximityPlacementGroups
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets":
    get:
      description: Gets a list of all VM scale sets under a resource group.
      operationId: VirtualMachineScaleSets_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VirtualMachineScaleSetListResult"
      tags:
        - VirtualMachineScaleSets
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines":
    get:
      description: Gets a list of all virtual machines in a VM scale sets.
      operationId: VirtualMachineScaleSetVMs_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VM scale set.
          in: path
          name: virtualMachineScaleSetName
          required: true
          type: string
        - description: The filter to apply to the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: The list parameters.
          in: query
          name: $select
          required: false
          type: string
        - description: The expand expression to apply to the operation.
          in: query
          name: $expand
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VirtualMachineScaleSetVMListResult"
      tags:
        - VirtualMachineScaleSetVMs
      x-ms-odata: "#/definitions/VirtualMachineScaleSetVM"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}":
    delete:
      description: Deletes a VM scale set.
      operationId: VirtualMachineScaleSets_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VM scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: No Content
      tags:
        - VirtualMachineScaleSets
      x-ms-long-running-operation: true
    get:
      description: Display information about a virtual machine scale set.
      operationId: VirtualMachineScaleSets_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VM scale set.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VirtualMachineScaleSet"
      tags:
        - VirtualMachineScaleSets
    patch:
      description: Update a VM scale set.
      operationId: VirtualMachineScaleSets_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VM scale set to create or update.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - description: The scale set object.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VirtualMachineScaleSetUpdate"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VirtualMachineScaleSet"
      tags:
        - VirtualMachineScaleSets
      x-ms-long-running-operation: true
    put:
      description: Create or update a VM scale set.
      operationId: VirtualMachineScaleSets_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the VM scale set to create or update.
          in: path
          name: vmScaleSetName
          required: true
          type: string
        - description: The scale set object.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/VirtualMachineScaleSet"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VirtualMachineScaleSet"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/VirtualMachineScaleSet"
      tags:
        - VirtualMachineScaleSets
      x-ms-examples:
        Create a custom-image scale set from an unmanaged generalized os image.:
          parameters:
            api-version: 2018-06-01
            parameters:
              location: westus
              properties:
                overprovision: true
                upgradePolicy:
                  mode: Manual
                virtualMachineProfile:
                  networkProfile:
                    networkInterfaceConfigurations:
                      - name: "{vmss-name}"
                        properties:
                          enableIPForwarding: true
                          ipConfigurations:
                            - name: "{vmss-name}"
                              properties:
                                subnet:
                                  id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/{existing-virtual-network-name}/subnets/{existing-subnet-name}
                          primary: true
                  osProfile:
                    adminPassword: "{your-password}"
                    adminUsername: "{your-username}"
                    computerNamePrefix: "{vmss-name}"
                  storageProfile:
                    osDisk:
                      caching: ReadWrite
                      createOption: FromImage
                      image:
                        uri: http://{existing-storage-account-name}.blob.core.windows.net/{existing-container-name}/{existing-generalized-os-image-blob-name}.vhd
                      name: osDisk
              sku:
                capacity: 3
                name: Standard_D1_v2
                tier: Standard
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
            vmScaleSetName: "{vmss-name}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachineScaleSets/{vmss-name}
                location: westus
                name: "{vmss-name}"
                properties:
                  overprovision: true
                  provisioningState: Creating
                  singlePlacementGroup: true
                  uniqueId: d6e9ab29-f8c9-4792-978c-ae2c07b98f17
                  upgradePolicy:
                    mode: Manual
                  virtualMachineProfile:
                    networkProfile:
                      networkInterfaceConfigurations:
                        - name: "{vmss-name}"
                          properties:
                            dnsSettings:
                              dnsServers: []
                            enableAcceleratedNetworking: false
                            enableIPForwarding: true
                            ipConfigurations:
                              - name: "{vmss-name}"
                                properties:
                                  privateIPAddressVersion: IPv4
                                  subnet:
                                    id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/nsgExistingVnet/subnets/nsgExistingSubnet
                            primary: true
                    osProfile:
                      adminUsername: "{your-username}"
                      computerNamePrefix: "{vmss-name}"
                      secrets: []
                      windowsConfiguration:
                        enableAutomaticUpdates: true
                        provisionVMAgent: true
                    storageProfile:
                      osDisk:
                        caching: ReadWrite
                        createOption: FromImage
                        image:
                          uri: https://{existing-storage-account-name}.blob.core.windows.net/system/Microsoft.Compute/Images/vhds/{existing-generalized-os-image-blob-name}.vhd
                        name: osDisk
                        osType: Windows
                sku:
                  capacity: 3
                  name: Standard_D1_v2
                  tier: Standard
                type: Microsoft.Compute/virtualMachineScaleSets
            "201":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachineScaleSets/{vmss-name}
                location: westus
                name: "{vmss-name}"
                properties:
                  overprovision: true
                  provisioningState: Creating
                  singlePlacementGroup: true
                  uniqueId: d6e9ab29-f8c9-4792-978c-ae2c07b98f17
                  upgradePolicy:
                    mode: Manual
                  virtualMachineProfile:
                    networkProfile:
                      networkInterfaceConfigurations:
                        - name: "{vmss-name}"
                          properties:
                            dnsSettings:
                              dnsServers: []
                            enableAcceleratedNetworking: false
                            enableIPForwarding: true
                            ipConfigurations:
                              - name: "{vmss-name}"
                                properties:
                                  privateIPAddressVersion: IPv4
                                  subnet:
                                    id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/nsgExistingVnet/subnets/nsgExistingSubnet
                            primary: true
                    osProfile:
                      adminUsername: "{your-username}"
                      computerNamePrefix: "{vmss-name}"
                      secrets: []
                      windowsConfiguration:
                        enableAutomaticUpdates: true
                        provisionVMAgent: true
                    storageProfile:
                      osDisk:
                        caching: ReadWrite
                        createOption: FromImage
                        image:
                          uri: https://{existing-storage-account-name}.blob.core.windows.net/system/Microsoft.Compute/Images/vhds/{existing-generalized-os-image-blob-name}.vhd
                        name: osDisk
                        osType: Windows
                sku:
                  capacity: 3
                  name: Standard_D1_v2
                  tier: Standard
                type: Microsoft.Compute/virtualMachineScaleSets
        Create a platform-image scale set with unmanaged os disks.:
          parameters:
            api-version: 2018-06-01
            parameters:
              location: westus
              properties:
                overprovision: true
                upgradePolicy:
                  mode: Manual
                virtualMachineProfile:
                  networkProfile:
                    networkInterfaceConfigurations:
                      - name: "{vmss-name}"
                        properties:
                          enableIPForwarding: true
                          ipConfigurations:
                            - name: "{vmss-name}"
                              properties:
                                subnet:
                                  id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/{existing-virtual-network-name}/subnets/{existing-subnet-name}
                          primary: true
                  osProfile:
                    adminPassword: "{your-password}"
                    adminUsername: "{your-username}"
                    computerNamePrefix: "{vmss-name}"
                  storageProfile:
                    imageReference:
                      offer: WindowsServer
                      publisher: MicrosoftWindowsServer
                      sku: 2016-Datacenter
                      version: latest
                    osDisk:
                      caching: ReadWrite
                      createOption: FromImage
                      name: osDisk
                      vhdContainers:
                        - http://{existing-storage-account-name-0}.blob.core.windows.net/vhdContainer
                        - http://{existing-storage-account-name-1}.blob.core.windows.net/vhdContainer
                        - http://{existing-storage-account-name-2}.blob.core.windows.net/vhdContainer
                        - http://{existing-storage-account-name-3}.blob.core.windows.net/vhdContainer
                        - http://{existing-storage-account-name-4}.blob.core.windows.net/vhdContainer
              sku:
                capacity: 3
                name: Standard_D1_v2
                tier: Standard
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
            vmScaleSetName: "{vmss-name}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachineScaleSets/{vmss-name}
                location: westus
                name: "{vmss-name}"
                properties:
                  overprovision: true
                  provisioningState: Creating
                  singlePlacementGroup: true
                  uniqueId: 77b7df9a-32fe-45e3-8911-60ac9c9b9c64
                  upgradePolicy:
                    mode: Manual
                  virtualMachineProfile:
                    networkProfile:
                      networkInterfaceConfigurations:
                        - name: "{vmss-name}"
                          properties:
                            dnsSettings:
                              dnsServers: []
                            enableAcceleratedNetworking: false
                            enableIPForwarding: true
                            ipConfigurations:
                              - name: "{vmss-name}"
                                properties:
                                  privateIPAddressVersion: IPv4
                                  subnet:
                                    id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/nsgExistingVnet/subnets/nsgExistingSubnet
                            primary: true
                    osProfile:
                      adminUsername: "{your-username}"
                      computerNamePrefix: "{vmss-name}"
                      secrets: []
                      windowsConfiguration:
                        enableAutomaticUpdates: true
                        provisionVMAgent: true
                    storageProfile:
                      imageReference:
                        offer: WindowsServer
                        publisher: MicrosoftWindowsServer
                        sku: 2016-Datacenter
                        version: latest
                      osDisk:
                        caching: ReadWrite
                        createOption: FromImage
                        name: osDisk
                        vhdContainers:
                          - http://{existing-storage-account-name}.blob.core.windows.net/vhds
                sku:
                  capacity: 3
                  name: Standard_D1_v2
                  tier: Standard
                type: Microsoft.Compute/virtualMachineScaleSets
            "201":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachineScaleSets/{vmss-name}
                location: westus
                name: "{vmss-name}"
                properties:
                  overprovision: true
                  provisioningState: Creating
                  singlePlacementGroup: true
                  uniqueId: 77b7df9a-32fe-45e3-8911-60ac9c9b9c64
                  upgradePolicy:
                    mode: Manual
                  virtualMachineProfile:
                    networkProfile:
                      networkInterfaceConfigurations:
                        - name: "{vmss-name}"
                          properties:
                            dnsSettings:
                              dnsServers: []
                            enableAcceleratedNetworking: false
                            enableIPForwarding: true
                            ipConfigurations:
                              - name: "{vmss-name}"
                                properties:
                                  privateIPAddressVersion: IPv4
                                  subnet:
                                    id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/nsgExistingVnet/subnets/nsgExistingSubnet
                            primary: true
                    osProfile:
                      adminUsername: "{your-username}"
                      computerNamePrefix: "{vmss-name}"
                      secrets: []
                      windowsConfiguration:
                        enableAutomaticUpdates: true
                        provisionVMAgent: true
                    storageProfile:
                      imageReference:
                        offer: WindowsServer
                        publisher: MicrosoftWindowsServer
                        sku: 2016-Datacenter
                        version: latest
                      osDisk:
                        caching: ReadWrite
                        createOption: FromImage
                        name: osDisk
                        vhdContainers:
                          - http://{existing-storage-account-name}.blob.core.windows.net/vhds
                sku:
                  capacity: 3
                  name: Standard_D1_v2
                  tier: Standard
                type: Microsoft.Compute/virtualMachineScaleSets
        Create a scale set from a custom image.:
          parameters:
            api-version: 2018-06-01
            parameters:
              location: westus
              properties:
                overprovision: true
                upgradePolicy:
                  mode: Manual
                virtualMachineProfile:
                  networkProfile:
                    networkInterfaceConfigurations:
                      - name: "{vmss-name}"
                        properties:
                          enableIPForwarding: true
                          ipConfigurations:
                            - name: "{vmss-name}"
                              properties:
                                subnet:
                                  id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/{existing-virtual-network-name}/subnets/{existing-subnet-name}
                          primary: true
                  osProfile:
                    adminPassword: "{your-password}"
                    adminUsername: "{your-username}"
                    computerNamePrefix: "{vmss-name}"
                  storageProfile:
                    imageReference:
                      id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/{existing-custom-image-name}
                    osDisk:
                      caching: ReadWrite
                      createOption: FromImage
                      managedDisk:
                        storageAccountType: Standard_LRS
              sku:
                capacity: 3
                name: Standard_D1_v2
                tier: Standard
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
            vmScaleSetName: "{vmss-name}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachineScaleSets/{vmss-name}
                location: westus
                name: "{vmss-name}"
                properties:
                  overprovision: true
                  provisioningState: Creating
                  singlePlacementGroup: true
                  uniqueId: afa2afa8-9e49-48fb-9d18-c86323b5d064
                  upgradePolicy:
                    mode: Manual
                  virtualMachineProfile:
                    networkProfile:
                      networkInterfaceConfigurations:
                        - name: "{vmss-name}"
                          properties:
                            dnsSettings:
                              dnsServers: []
                            enableAcceleratedNetworking: false
                            enableIPForwarding: true
                            ipConfigurations:
                              - name: "{vmss-name}"
                                properties:
                                  privateIPAddressVersion: IPv4
                                  subnet:
                                    id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/nsgExistingVnet/subnets/nsgExistingSubnet
                            primary: true
                    osProfile:
                      adminUsername: "{your-username}"
                      computerNamePrefix: "{vmss-name}"
                      linuxConfiguration:
                        disablePasswordAuthentication: false
                      secrets: []
                    storageProfile:
                      imageReference:
                        id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/nsgcustom
                      osDisk:
                        caching: ReadWrite
                        createOption: FromImage
                        managedDisk:
                          storageAccountType: Standard_LRS
                sku:
                  capacity: 3
                  name: Standard_D1_v2
                  tier: Standard
                type: Microsoft.Compute/virtualMachineScaleSets
            "201":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/virtualMachineScaleSets/{vmss-name}
                location: westus
                name: "{vmss-name}"
                properties:
                  overprovision: true
                  provisioningState: Creating
                  singlePlacementGroup: true
                  uniqueId: afa2afa8-9e49-48fb-9d18-c86323b5d064
                  upgradePolicy:
                    mode: Manual
                  virtualMachineProfile:
                    networkProfile:
                      networkInterfaceConfigurations:
                        - name: "{vmss-name}"
                          properties:
                            dnsSettings:
                              dnsServers: []
                            enableAcceleratedNetworking: false
                            enableIPForwarding: true
                            ipConfigurations:
                              - name: "{vmss-name}"
                                properties:
                                  privateIPAddressVersion: IPv4
                                  subnet:
                                    id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/nsgExistingVnet/subnets/nsgExistingSubnet
                            primary: true
                    osProfile:
                      adminUsername: "{your-username}"
                      computerNamePrefix: "{vmss-name}"
                      linuxConfiguration:
                        disablePasswordAuthentication: false
                      secrets: []
                    storageProfile:
                      imageReference:
                        id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Compute/images/nsgcustom
                      osDisk:
                        caching: ReadWrite
                        createOption: FromImage
                        managedDisk:
                          storageAccountType: Standard_LRS
                sku:
                  capacity: 3
                  name: Standard_D1_v2
                  tier: Standard
                type: Microsoft.Compute/virtualMachineScaleSets
        Create a scale set with a marketplace image plan.:
          parameters:
            api-version: 2018-06-01
            parameters:
              location: westus
              plan:
                name: windows2016
                product: windows-data-science-vm
                publisher: microsoft-ads
              properties:
                overprovision: true
                upgradePolicy:
                  mode: Manual
                virtualMachineProfile:
                  networkProfile:
                    networkInterfaceConfigurations:
                      - name: "{vmss-name}"
                        properties:
                          enableIPForwarding: true
                          ipConfigurations:
                            - name: "{vmss-name}"
                              properties:
                                subnet:
                                  id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.Network/virtualNetworks/{existing-virtual-network-name}/subnets/{existing-subnet-name}
                          primary: true
                  osProfile:
                    adminPassword: "{your-password}"
                    adminUsername: "{your-username}"
                    computerNamePrefix: "{vmss-name}"
                  storageProfile:
                    imageReference:
                      offer: windows-data-science-vm
                      publisher: microsoft-ads
                      sku: windows2016
                      version: latest
                    osDisk:
                      caching: ReadWrite
                      createOption: FromImage
                      managedDisk:
                        storageAccountType: Standard_LRS
              sku:
                capacity: 3
                name: Standard_D1_v2
                tier: Standard
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
            vmScaleSetName: "{vmss-name}"
          responses:
            "200":
              body:
[...]
