swagger: "2.0"
schemes:
  - https
host: api.cognitive.microsoft.com
basePath: /bingcustomsearch/v7.0
info:
  contact:
    x-twitter: microsoft
  description: The Bing Custom Search API lets you send a search query to Bing and get back search results customized to meet your custom search definition.
  title: Custom Search Client
  version: "1.0"
  x-apisguru-categories:
    - developer_tools
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomWebSearch/stable/v1.0/CustomSearch.json
      version: "2.0"
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-CustomSearch
  x-tags:
    - Microsoft
produces:
  - application/json
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
security:
  - apiKeyHeader: []
parameters:
  x-bingapis-sdk:
    description: Activate swagger compliance
    enum:
      - "true"
    in: header
    name: X-BingApis-SDK
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: XBingApisSDK
    x-ms-parameter-location: method
paths:
  /search:
    get:
      operationId: CustomInstance_Search
      parameters:
        - $ref: "#/parameters/x-bingapis-sdk"
        - description: The default media type is application/json. To specify that the response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.
          in: header
          name: Accept
          required: false
          type: string
        - description: A comma-delimited list of one or more languages to use for user interface strings. The list is in decreasing order of preference. For additional information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). This header and the setLang query parameter are mutually exclusive; do not specify both. If you set this header, you must also specify the cc query parameter. Bing will use the first supported language it finds from the list, and combine that language with the cc parameter value to determine the market to return results for. If the list does not include a supported language, Bing will find the closest language and market that supports the request, and may use an aggregated or default market for the results instead of a specified one. You should use this header and the cc query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. A user interface string is a string that's used as a label in a user interface. There are very few user interface strings in the JSON response objects. Any links in the response objects to Bing.com properties will apply the specified language.
          in: header
          name: Accept-Language
          required: false
          type: string
          x-ms-client-name: AcceptLanguage
        - description: The user agent originating the request. Bing uses the user agent to provide mobile users with an optimized experience. Although optional, you are strongly encouraged to always specify this header. The user-agent should be the same string that any commonly used browser would send. For information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html).
          in: header
          name: User-Agent
          required: false
          type: string
          x-ms-client-name: UserAgent
        - description: "Bing uses this header to provide users with consistent behavior across Bing API calls. Bing often flights new features and improvements, and it uses the client ID as a key for assigning traffic on different flights. If you do not use the same client ID for a user across multiple requests, then Bing may assign the user to multiple conflicting flights. Being assigned to multiple conflicting flights can lead to an inconsistent user experience. For example, if the second request has a different flight assignment than the first, the experience may be unexpected. Also, Bing can use the client ID to tailor web results to that client ID’s search history, providing a richer experience for the user. Bing also uses this header to help improve result rankings by analyzing the activity generated by a client ID. The relevance improvements help with better quality of results delivered by Bing APIs and in turn enables higher click-through rates for the API consumer. IMPORTANT: Although optional, you should consider this header required. Persisting the client ID across multiple requests for the same end user and device combination enables 1) the API consumer to receive a consistent user experience, and 2) higher click-through rates via better quality of results from the Bing APIs. Each user that uses your application on the device must have a unique, Bing generated client ID. If you do not include this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID response header. The only time that you should NOT include this header in a request is the first time the user uses your app on that device. Use the client ID for each Bing API request that your app makes for this user on the device. Persist the client ID. To persist the ID in a browser app, use a persistent HTTP cookie to ensure the ID is used across all sessions. Do not use a session cookie. For other apps such as mobile apps, use the device's persistent storage to persist the ID. The next time the user uses your app on that device, get the client ID that you persisted. Bing responses may or may not include this header. If the response includes this header, capture the client ID and use it for all subsequent Bing requests for the user on that device. If you include the X-MSEdge-ClientID, you must not include cookies in the request."
          in: header
          name: X-MSEdge-ClientID
          required: false
          type: string
          x-ms-client-name: ClientId
        - description: The IPv4 or IPv6 address of the client device. The IP address is used to discover the user's location. Bing uses the location information to determine safe search behavior. Although optional, you are encouraged to always specify this header and the X-Search-Location header. Do not obfuscate the address (for example, by changing the last octet to 0). Obfuscating the address results in the location not being anywhere near the device's actual location, which may result in Bing serving erroneous results.
          in: header
          name: X-MSEdge-ClientIP
          required: false
          type: string
          x-ms-client-name: ClientIp
        - description: "A semicolon-delimited list of key/value pairs that describe the client's geographical location. Bing uses the location information to determine safe search behavior and to return relevant local content. Specify the key/value pair as <key>:<value>. The following are the keys that you use to specify the user's location. lat (required): The latitude of the client's location, in degrees. The latitude must be greater than or equal to -90.0 and less than or equal to +90.0. Negative values indicate southern latitudes and positive values indicate northern latitudes. long (required): The longitude of the client's location, in degrees. The longitude must be greater than or equal to -180.0 and less than or equal to +180.0. Negative values indicate western longitudes and positive values indicate eastern longitudes. re (required): The radius, in meters, which specifies the horizontal accuracy of the coordinates. Pass the value returned by the device's location service. Typical values might be 22m for GPS/Wi-Fi, 380m for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional): The UTC UNIX timestamp of when the client was at the location. (The UNIX timestamp is the number of seconds since January 1, 1970.) head (optional): The client's relative heading or direction of travel. Specify the direction of travel as degrees from 0 through 360, counting clockwise relative to true north. Specify this key only if the sp key is nonzero. sp (optional): The horizontal velocity (speed), in meters per second, that the client device is traveling. alt (optional): The altitude of the client device, in meters. are (optional): The radius, in meters, that specifies the vertical accuracy of the coordinates. Specify this key only if you specify the alt key. Although many of the keys are optional, the more information that you provide, the more accurate the location results are. Although optional, you are encouraged to always specify the user's geographical location. Providing the location is especially important if the client's IP address does not accurately reflect the user's physical location (for example, if the client uses VPN). For optimal results, you should include this header and the X-MSEdge-ClientIP header, but at a minimum, you should include this header."
          in: header
          name: X-Search-Location
          required: false
          type: string
          x-ms-client-name: Location
        - description: The identifier for the custom search configuration
          in: query
          name: customConfig
          required: true
          type: string
          x-ms-client-name: CustomConfig
        - description: A 2-character country code of the country where the results come from. This API supports only the United States market. If you specify this query parameter, it must be set to us. If you set this parameter, you must also specify the Accept-Language header. Bing uses the first supported language it finds from the languages list, and combine that language with the country code that you specify to determine the market to return results for. If the languages list does not include a supported language, Bing finds the closest language and market that supports the request, or it may use an aggregated or default market for the results instead of a specified one. You should use this query parameter and the Accept-Language query parameter only if you specify multiple languages; otherwise, you should use the mkt and setLang query parameters. This parameter and the mkt query parameter are mutually exclusive—do not specify both.
          in: query
          name: cc
          required: false
          type: string
          x-ms-client-name: CountryCode
        - description: The number of search results to return in the response. The default is 10 and the maximum value is 50. The actual number delivered may be less than requested.Use this parameter along with the offset parameter to page results.For example, if your user interface displays 10 search results per page, set count to 10 and offset to 0 to get the first page of results. For each subsequent page, increment offset by 10 (for example, 0, 10, 20). It is possible for multiple pages to include some overlap in results.
          format: int32
          in: query
          name: count
          required: false
          type: integer
          x-ms-client-name: Count
        - default: en-us
          description: The market where the results come from. Typically, mkt is the country where the user is making the request from. However, it could be a different country if the user is not located in a country where Bing delivers results. The market must be in the form <language code>-<country code>. For example, en-US. The string is case insensitive. If known, you are encouraged to always specify the market. Specifying the market helps Bing route the request and return an appropriate and optimal response. If you specify a market that is not listed in Market Codes, Bing uses a best fit market code based on an internal mapping that is subject to change. This parameter and the cc query parameter are mutually exclusive—do not specify both.
          in: query
          name: mkt
          required: false
          type: string
          x-ms-client-name: Market
        - description: The zero-based offset that indicates the number of search results to skip before returning results. The default is 0. The offset should be less than (totalEstimatedMatches - count). Use this parameter along with the count parameter to page results. For example, if your user interface displays 10 search results per page, set count to 10 and offset to 0 to get the first page of results. For each subsequent page, increment offset by 10 (for example, 0, 10, 20). it is possible for multiple pages to include some overlap in results.
          format: int32
          in: query
          name: offset
          required: false
          type: integer
          x-ms-client-name: Offset
        - description: "The user's search query term. The term may not be empty. The term may contain Bing Advanced Operators. For example, to limit results to a specific domain, use the site: operator."
          in: query
          name: q
          required: true
          type: string
          x-ms-client-name: Query
        - description: "A filter used to filter adult content. Off: Return webpages with adult text, images, or videos. Moderate: Return webpages with adult text, but not adult images or videos. Strict: Do not return webpages with adult text, images, or videos. The default is Moderate. If the request comes from a market that Bing's adult policy requires that safeSearch is set to Strict, Bing ignores the safeSearch value and uses Strict. If you use the site: query operator, there is the chance that the response may contain adult content regardless of what the safeSearch query parameter is set to. Use site: only if you are aware of the content on the site and your scenario supports the possibility of adult content."
          enum:
            - Off
            - Moderate
            - Strict
          in: query
          name: safeSearch
          required: false
          type: string
          x-ms-client-name: SafeSearch
          x-ms-enum:
            modelAsString: true
            name: SafeSearch
        - description: The language to use for user interface strings. Specify the language using the ISO 639-1 2-letter language code. For example, the language code for English is EN. The default is EN (English). Although optional, you should always specify the language. Typically, you set setLang to the same language specified by mkt unless the user wants the user interface strings displayed in a different language. This parameter and the Accept-Language header are mutually exclusive; do not specify both. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Also, any links to Bing.com properties in the response objects apply the specified language.
          in: query
          name: setLang
          required: false
          type: string
          x-ms-client-name: SetLang
        - description: A Boolean value that determines whether display strings should contain decoration markers such as hit highlighting characters. If true, the strings may include markers. The default is false. To specify whether to use Unicode characters or HTML tags as the markers, see the textFormat query parameter.
          in: query
          name: textDecorations
          required: false
          type: boolean
          x-ms-client-name: TextDecorations
        - description: The type of markers to use for text decorations (see the textDecorations query parameter). Possible values are Raw—Use Unicode characters to mark content that needs special formatting. The Unicode characters are in the range E000 through E019. For example, Bing uses E000 and E001 to mark the beginning and end of query terms for hit highlighting. HTML—Use HTML tags to mark content that needs special formatting. For example, use <b> tags to highlight query terms in display strings. The default is Raw. For display strings that contain escapable HTML characters such as <, >, and &, if textFormat is set to HTML, Bing escapes the characters as appropriate (for example, < is escaped to &lt;).
          enum:
            - Raw
            - Html
          in: query
          name: textFormat
          required: false
          type: string
          x-ms-client-name: TextFormat
          x-ms-enum:
            modelAsString: true
            name: TextFormat
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/SearchResponse"
        default:
          description: An error has occurred. Check the response type and/or status code for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: The Custom Search API lets you send a search query to Bing and get back web pages found in your custom view of the web.
      tags:
        - CustomSearch
      x-ms-examples:
        Successful query:
          parameters:
            Ocp-Apim-Subscription-Key: "{API key}"
            X-BingApis-SDK: "true"
            customConfig: 123456
            q: cortana
          responses:
            "200":
              body:
                _type: SearchResponse
                webPages:
                  _type: Web/WebAnswer
                  totalEstimatedMatches: 1
                  value:
                    - _type: WebPage
                      dateLastCrawled: 2017-11-27T14:12:00.0000000Z
                      displayUrl: https://www.microsoft.com/en-us/cortana/skills/all
                      id: https://api.cognitive.microsoft.com/api/v7/#WebPages.0
                      name: Cortana Skills - microsoft.com
                      snippet: “Hey Cortana, ask Akinator to guess who I am thinking of.” “Hey Cortana, ask Akinator to start.” “Hey Cortana, ask Akinator to play a new round.” “Hey ...
                      url: https://www.microsoft.com/en-us/cortana/skills/all
                  webSearchUrl: https://www.bing.com/search?q=cortana
              headers: {}
definitions:
  Answer:
    allOf:
      - $ref: "#/definitions/Response"
    properties:
      followUpQueries:
        items:
          $ref: "#/definitions/Query"
        readOnly: true
        type: array
    type: object
  CreativeWork:
    allOf:
      - $ref: "#/definitions/Thing"
    properties:
      provider:
        description: The source of the creative work.
        items:
          $ref: "#/definitions/Thing"
        readOnly: true
        type: array
      text:
        readOnly: true
        type: string
      thumbnailUrl:
        description: The URL to a thumbnail of the item.
        readOnly: true
        type: string
    type: object
  Error:
    description: Defines the error that occurred.
    properties:
      code:
        default: None
        description: The error code that identifies the category of error.
        enum:
          - None
          - ServerError
          - InvalidRequest
          - RateLimitExceeded
          - InvalidAuthorization
          - InsufficientAuthorization
        type: string
        x-ms-enum:
          modelAsString: true
          name: ErrorCode
      message:
        description: A description of the error.
        type: string
      moreDetails:
        description: A description that provides additional information about the error.
        readOnly: true
        type: string
      parameter:
        description: The parameter in the request that caused the error.
        readOnly: true
        type: string
      subCode:
        description: The error code that further helps to identify the error.
        enum:
          - UnexpectedError
          - ResourceError
          - NotImplemented
          - ParameterMissing
          - ParameterInvalidValue
          - HttpNotAllowed
          - Blocked
          - AuthorizationMissing
          - AuthorizationRedundancy
          - AuthorizationDisabled
          - AuthorizationExpired
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ErrorSubCode
      value:
        description: The parameter's value in the request that was not valid.
        readOnly: true
        type: string
    required:
      - code
      - message
    type: object
  ErrorResponse:
    allOf:
      - $ref: "#/definitions/Response"
    description: The top-level response that represents a failed request.
    properties:
      errors:
        description: A list of errors that describe the reasons why the request failed.
        items:
          $ref: "#/definitions/Error"
        type: array
    required:
      - errors
    type: object
  Identifiable:
    allOf:
      - $ref: "#/definitions/ResponseBase"
    description: Defines the identity of a resource.
    properties:
      id:
        description: A String identifier.
        readOnly: true
        type: string
    type: object
  Query:
    description: Defines a search query.
    properties:
      displayText:
        description: The display version of the query term. This version of the query term may contain special characters that highlight the search term found in the query string. The string contains the highlighting characters only if the query enabled hit highlighting
        readOnly: true
        type: string
      searchLink:
        readOnly: true
        type: string
      text:
        description: The query string. Use this string as the query term in a new search request.
        type: string
      webSearchUrl:
        description: The URL that takes the user to the Bing search results page for the query.Only related search results include this field.
        readOnly: true
        type: string
    required:
      - text
    type: object
  QueryContext:
    description: Defines the query context that Bing used for the request.
    properties:
      adultIntent:
        description: A Boolean value that indicates whether the specified query has adult intent. The value is true if the query has adult intent; otherwise, false.
        readOnly: true
        type: boolean
      alterationOverrideQuery:
        description: The query string to use to force Bing to use the original string. For example, if the query string is "saling downwind", the override query string will be "+saling downwind". Remember to encode the query string which results in "%2Bsaling+downwind". This field is included only if the original query string contains a spelling mistake.
        readOnly: true
        type: string
      alteredQuery:
        description: The query string used by Bing to perform the query. Bing uses the altered query string if the original query string contained spelling mistakes. For example, if the query string is "saling downwind", the altered query string will be "sailing downwind". This field is included only if the original query string contains a spelling mistake.
        readOnly: true
        type: string
      originalQuery:
        description: The query string as specified in the request.
        type: string
    required:
      - originalQuery
    type: object
  Response:
    allOf:
      - $ref: "#/definitions/Identifiable"
    description: Defines a response. All schemas that could be returned at the root of a response should inherit from this
    properties:
      webSearchUrl:
        description: The URL To Bing's search result for this item.
        readOnly: true
        type: string
    type: object
  ResponseBase:
    discriminator: _type
    properties:
      _type:
        type: string
    required:
      - _type
    type: object
  SearchResponse:
    allOf:
      - $ref: "#/definitions/Response"
    description: Defines the top-level object that the response includes when the request succeeds.
    properties:
      queryContext:
        $ref: "#/definitions/QueryContext"
        description: An object that contains the query string that Bing used for the request. This object contains the query string as entered by the user. It may also contain an altered query string that Bing used for the query if the query string contained a spelling mistake.
        readOnly: true
      webPages:
        $ref: "#/definitions/WebWebAnswer"
        description: A list of webpages that are relevant to the search query.
        readOnly: true
    type: object
  SearchResultsAnswer:
    allOf:
      - $ref: "#/definitions/Answer"
    properties:
      isFamilyFriendly:
        readOnly: true
        type: boolean
      queryContext:
        $ref: "#/definitions/QueryContext"
        readOnly: true
      totalEstimatedMatches:
        description: The estimated number of webpages that are relevant to the query. Use this number along with the count and offset query parameters to page the results.
        format: int64
        readOnly: true
        type: integer
    type: object
  Thing:
    allOf:
      - $ref: "#/definitions/Response"
    properties:
      bingId:
        description: An ID that uniquely identifies this item.
        readOnly: true
        type: string
      description:
        description: A short description of the item.
        readOnly: true
        type: string
      name:
        description: The name of the thing represented by this object.
        readOnly: true
        type: string
      url:
        description: The URL to get more information about the thing represented by this object.
        readOnly: true
        type: string
    type: object
  WebMetaTag:
    description: Defines a webpage's metadata.
    properties:
      content:
        description: The name of the metadata.
        readOnly: true
        type: string
      name:
        description: The metadata.
        readOnly: true
        type: string
    type: object
  WebPage:
    allOf:
      - $ref: "#/definitions/CreativeWork"
    description: Defines a webpage that is relevant to the query.
    properties:
      dateLastCrawled:
        description: The last time that Bing crawled the webpage. The date is in the form, YYYY-MM-DDTHH:MM:SS. For example, 2015-04-13T05:23:39.
        readOnly: true
        type: string
      deepLinks:
        description: A list of links to related content that Bing found in the website that contains this webpage. The Webpage object in this context includes only the name, url, urlPingSuffix, and snippet fields.
        items:
          $ref: "#/definitions/WebPage"
        readOnly: true
        type: array
      displayUrl:
        description: The display URL of the webpage. The URL is meant for display purposes only and is not well formed.
        readOnly: true
        type: string
      searchTags:
        description: A list of search tags that the webpage owner specified on the webpage. The API returns only indexed search tags. The name field of the MetaTag object contains the indexed search tag. Search tags begin with search.* (for example, search.assetId). The content field contains the tag's value.
        items:
          $ref: "#/definitions/WebMetaTag"
        readOnly: true
        type: array
      snippet:
        description: A snippet of text from the webpage that describes its contents.
        readOnly: true
        type: string
    type: object
  WebWebAnswer:
    allOf:
      - $ref: "#/definitions/SearchResultsAnswer"
    description: Defines a list of relevant webpage links.
    properties:
      someResultsRemoved:
        description: A Boolean value that indicates whether the response excluded some results from the answer. If Bing excluded some results, the value is true.
        readOnly: true
        type: boolean
      value:
        description: A list of webpages that are relevant to the query.
        items:
          $ref: "#/definitions/WebPage"
        type: array
    required:
      - value
    type: object
    x-ms-discriminator-value: Web/WebAnswer
x-ms-parameterized-host:
  hostTemplate: "{Endpoint}"
  parameters:
    - default: https://api.cognitive.microsoft.com
      description: 'Supported Cognitive Services endpoints (protocol and hostname, for example: "https://westus.api.cognitive.microsoft.com", "https://api.cognitive.microsoft.com").'
      x-ms-parameter-location: client
      x-ms-skip-url-encoding: true
  useSchemePrefix: false
