swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: 2018-01-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/network/resource-manager/Microsoft.Network/stable/2018-01-01/checkDnsAvailability.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-checkDnsAvailability
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/CheckDnsNameAvailability":
    get:
      description: Checks whether a domain name in the cloudapp.azure.com zone is available for use.
      operationId: CheckDnsNameAvailability
      parameters:
        - description: The location of the domain name.
          in: path
          name: location
          required: true
          type: string
        - description: "The domain name to be verified. It must conform to the following regular expression: ^[a-z][a-z0-9-]{1,61}[a-z0-9]$."
          in: query
          name: domainNameLabel
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Request successful. Returns whether the DNS name is available.
          schema:
            $ref: "#/definitions/DnsNameAvailabilityResult"
      x-ms-examples:
        Check Dns Name Availability:
          parameters:
            api-version: 2018-01-01
            domainNameLabel: testdns
            location: westus
            subscriptionId: subid
          responses:
            "200":
              body:
                available: false
definitions:
  DnsNameAvailabilityResult:
    description: Response for the CheckDnsNameAvailability API service call.
    properties:
      available:
        description: Domain availability (True/False).
        type: boolean
