openapi: 3.0.1
servers:
  - url: https://healthidsbx.ndhm.gov.in/api
info:
  contact:
    name: National Health Authority
    url: https://ndhm.gov.in/
  description: |-
    It is important to standardize the process of identification of an individual across healthcare providers, to ensure that the created medical records are issued to the right individual or accessed by a Health Information User through appropriate consent. 
    In order to issue a Health ID to an individual, one only needs basic demographic details like Name, Year of Birth, Gender. In addition, citizens should be able to update contact information easily.
  title: Health ID Service
  version: "1.0"
  x-apisguru-categories:
    - open_data
  x-origin:
    - format: openapi
      url: https://apisetu.gov.in/api_specification_v8/ndhm-healthid.yaml
      version: "3.0"
  x-providerName: ndhm.gov.in
  x-serviceName: ndhm-healthid
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
tags:
  - description: Health ID Authentication APIs
    name: Authentication
  - description: APIs to Retrieve Health ID/number using mobile number or aadhar.
    name: Forgot health id/number
  - description: Create Health facility ID APIs
    name: Health Facility
  - description: APIs to be published by the Health ID system for benefit linkage
    name: Integrated Programs
  - description: Health ID Profile APIs (requires authenticated user token)
    name: Profile
  - description: APIs to create Health ID using Aadhaar number & mobile number.
    name: Registration with Aadhaar
  - description: APIs to create Health ID using mobile number.
    name: Registration with mobile number
  - description: Health ID Search APIs
    name: Search
  - description: Health ID Tag APIs
    name: Tags
  - description: Health ID Information APIs
    name: Utility
paths:
  /v1/account/aadhaar/generateOTP:
    post:
      deprecated: false
      description: Generate Aadhaar OTP on registrered for link account with aadhar number
      operationId: generatereKycAadharOTPUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Auth Token
          example: Bearer X-Token
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TxnResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Generate Aadhaar OTP on registrered for link account with aadhar number
      tags:
        - Profile
  /v1/account/aadhaar/verifyOTP:
    post:
      deprecated: false
      description: Verify Aadhaar OTP to complete KYC/re-KYC verification
      operationId: verifyAadharOTPOnlyUsingPOST_1
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Auth Token
          example: Bearer X-Token
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyAadhaarOtp"
        description: verifyAadhaarOtp
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: boolean
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Verify Aadhaar OTP to complete KYC/re-KYC verification.
      tags:
        - Profile
      x-codegen-request-body-name: verifyAadhaarOtp
  /v1/account/benefits:
    get:
      deprecated: false
      operationId: getBenefitsUsingGET
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Auth Token
          example: Bearer XToken
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UserDTO"
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Get List of Benefits associated with HealthID.
      tags:
        - Profile
  /v1/account/change/passwd/byAadhaar:
    post:
      deprecated: false
      description: Change password via Aadhar for heath id.
      operationId: changePasswordViaAadharUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Auth Token
          example: Bearer X-Token
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidOtpRequestPaylaod"
        description: hidOtpRequestPaylaod
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Change password via Aadhar for heath id.
      tags:
        - Profile
      x-codegen-request-body-name: hidOtpRequestPaylaod
  /v1/account/change/passwd/byMobile:
    post:
      deprecated: false
      description: Change password via mobile for heath id.
      operationId: changePasswordViaMobileUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Auth Token
          example: Bearer X-Token
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidOtpRequestPaylaod"
        description: hidOtpRequestPaylaod
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Change password via mobile for heath id.
      tags:
        - Profile
      x-codegen-request-body-name: hidOtpRequestPaylaod
  /v1/account/change/passwd/generateAadhaarOTP:
    get:
      deprecated: false
      description: Generate Aadhaar OTP on registrered mobile number.
      operationId: generateAadharOTPUsingGET
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Auth Token
          example: Bearer X-Token
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Generate Aadhaar OTP on registrered mobile number.
      tags:
        - Profile
  /v1/account/change/passwd/generateMobileOTP:
    get:
      deprecated: false
      description: Generate Mobile OTP to start registration.
      operationId: generateMobileOTPUsingGET
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Auth Token
          example: Bearer X-Token
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Generate Mobile OTP to start registration.
      tags:
        - Profile
  /v1/account/change/password:
    post:
      deprecated: false
      description: Change password via password for heath id.
      operationId: changePasswordViaUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Auth Token
          example: Bearer X-Token
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidChangePasswordRequestPayload"
        description: healthFacilityPasswordRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Change password via password for heath id.
      tags:
        - Profile
      x-codegen-request-body-name: healthFacilityPasswordRequest
  /v1/account/getCard:
    get:
      deprecated: false
      operationId: generateCardUsingGET
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Auth Token
          example: Bearer X-Token
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UserDTO"
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Generate Health ID card in PDF format
      tags:
        - Profile
  /v1/account/getPngCard:
    get:
      deprecated: false
      operationId: generatePngCardUsingGET
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Auth Token
          example: Bearer X-Token
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UserDTO"
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Generate Health ID card PNG
      tags:
        - Profile
  /v1/account/getSvgCard:
    get:
      deprecated: false
      operationId: generateSvgCardUsingGET
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Auth Token
          example: Bearer X-Token
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UserDTO"
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Generate Health ID card SVG
      tags:
        - Profile
  /v1/account/profile:
    delete:
      deprecated: false
      operationId: deleteAccountUsingDELETE
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Auth Token
          example: Bearer X-Token
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: boolean
          description: OK
        "204":
          content: {}
          description: No Content
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Delete account
      tags:
        - Profile
    get:
      deprecated: false
      operationId: getAccountInformationUsingGET
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Auth Token
          example: Bearer XToken
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UserDTO"
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Get account information.
      tags:
        - Profile
    post:
      deprecated: false
      operationId: updateAccountInformationUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Auth Token
          example: Bearer X-Token
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAccountRequest"
        description: request
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UserDTO"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Update account information
      tags:
        - Profile
      x-codegen-request-body-name: request
  /v1/account/qrCode:
    get:
      deprecated: false
      operationId: getQrCodeUsingGET
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Auth Token
          example: Bearer XToken
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                format: byte
                type: string
            image/png:
              schema:
                format: byte
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Get Quick Response code in PNG format for this account.
      tags:
        - Profile
  /v1/account/token:
    post:
      deprecated: false
      operationId: validateTokenUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateTokenRequest"
        description: request
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: boolean
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Validate auth token
      tags:
        - Profile
      x-codegen-request-body-name: request
  /v1/auth/authPassword:
    post:
      deprecated: false
      operationId: authenticateWithPasswordUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JwtRequest"
        description: authenticationRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/JwtResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Authenticate using Health ID number / Health ID and password
      tags:
        - Authentication
      x-codegen-request-body-name: authenticationRequest
  /v1/auth/authWithMobile:
    post:
      deprecated: false
      operationId: authenticateUserUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthMobileOTPRequest"
        description: authRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TxnResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Authenticate request to generate Mobile OTP using Health ID number / Health ID
      tags:
        - Authentication
      x-codegen-request-body-name: authRequest
  /v1/auth/authWithMobileToken:
    post:
      deprecated: false
      operationId: authWithMobileTokenUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthWithMobileTxnAndUserData"
        description: authRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/JwtResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Authenticate using verified Mobile Number and user data
      tags:
        - Authentication
      x-codegen-request-body-name: authRequest
  /v1/auth/cert:
    get:
      deprecated: false
      operationId: certUsingGET
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Auth token public key.
      tags:
        - Authentication
  /v1/auth/confirmWithAadhaarBio:
    post:
      deprecated: false
      operationId: confirmWithAadhaarBioUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthAccountAadhaarBioRequest"
        description: authenticationRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/JwtResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Authentication with Aadhaar Biometric based auth transaction.
      tags:
        - Authentication
      x-codegen-request-body-name: authenticationRequest
  /v1/auth/confirmWithAadhaarOtp:
    post:
      deprecated: false
      operationId: confirmWithAadhaarOtpUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthAccountAadhaarOTPRequest"
        description: authenticationRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/JwtResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Authentication with Aadhaar OTP based auth transaction.
      tags:
        - Authentication
      x-codegen-request-body-name: authenticationRequest
  /v1/auth/confirmWithDemographics:
    post:
      deprecated: false
      operationId: confirmWithDemographicsUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthAccountWithDemographicsRequest"
        description: authenticationRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Authenticate using demographic data of user.
      tags:
        - Authentication
      x-codegen-request-body-name: authenticationRequest
  /v1/auth/confirmWithMobileOTP:
    post:
      deprecated: false
      operationId: confirmWithMobileUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthAccountMobileOTPRequest"
        description: authenticationRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/JwtResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Authentication with Mobile OTP based auth transaction.
      tags:
        - Authentication
      x-codegen-request-body-name: authenticationRequest
  /v1/auth/confirmWithPassword:
    post:
      deprecated: false
      operationId: authAccountPasswordRequestUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthWithPasswordRequest"
        description: authenticationRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/JwtResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Authentication with PASSWORD based auth transaction.
      tags:
        - Authentication
      x-codegen-request-body-name: authenticationRequest
  /v1/auth/init:
    post:
      deprecated: false
      operationId: initiateAuthUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthInitRequest"
        description: authRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TxnResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Initiate authentication process for given Health ID
      tags:
        - Authentication
      x-codegen-request-body-name: authRequest
  /v1/auth/resendAuthOTP:
    post:
      deprecated: false
      operationId: resendAuthMobileOTPUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResendOTPRequest"
        description: resendOtpRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: boolean
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Resend Aadhaar/Mobile OTP for Authentication Transaction.
      tags:
        - Authentication
      x-codegen-request-body-name: resendOtpRequest
  /v1/forgot/healthId/aadhaar:
    post:
      deprecated: false
      description: Verify aadhar OTP sent as part of forgetHealth id.
      operationId: retrievalHealthIdByAadharUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthAccountAadhaarOTPRequest"
        description: authAccountAadhaarOTPRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/RetrieveHealthIdPayloadResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Verify aadhar OTP sent as part of forgetHealth id.
      tags:
        - Forgot health id/number
      x-codegen-request-body-name: authAccountAadhaarOTPRequest
  /v1/forgot/healthId/aadhaar/generateOtp:
    post:
      deprecated: false
      description: Generate Aadhaar OTP on registrered mobile number
      operationId: generateAadharOTPUsingPOST_1
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadharOtpGenerateRequestPayLoad"
        description: generateOtpRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TxnResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Generate Aadhaar OTP on registrered mobile number
      tags:
        - Forgot health id/number
      x-codegen-request-body-name: generateOtpRequest
  /v1/forgot/healthId/mobile:
    post:
      deprecated: false
      description: Verify Mobile OTP sent as  part of forgetHealth id.
      operationId: retrievalHealthIdByMobileUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetriveHealthIdMobilePayLoad"
        description: retriveHealthIdMobilePayLoad
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/RetrieveHealthIdPayloadResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Verify Mobile OTP sent as  part of forgetHealth id.
      tags:
        - Forgot health id/number
      x-codegen-request-body-name: retriveHealthIdMobilePayLoad
  /v1/forgot/healthId/mobile/generateOtp:
    post:
      deprecated: false
      description: Generate Mobile OTP to start registration transaction.
      operationId: generateMobileOTPUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateMobileOTPRequest"
        description: generateOtpRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TxnResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Generate Mobile OTP to start registration
      tags:
        - Forgot health id/number
      x-codegen-request-body-name: generateOtpRequest
  /v1/ha/lgd/districts:
    get:
      deprecated: false
      operationId: getDistrictsInStateUsingGET
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: stateCode
          in: query
          name: stateCode
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/DistrictDTO"
                type: array
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Get a list of districts in a given  State as per LGD.
      tags:
        - Utility
  /v1/ha/lgd/states:
    get:
      deprecated: false
      operationId: getStatesUsingGET
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/StatesDTO"
                type: array
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Get a list of states as per LGD.
      tags:
        - Utility
  /v1/ha/tags:
    delete:
      deprecated: false
      operationId: deleteTagUsingDELETE
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          "*/*":
            schema:
              $ref: "#/components/schemas/TagRequest"
        description: tagRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/TagRequest"
                type: array
          description: OK
        "204":
          content: {}
          description: No Content
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Delete tag against HealthId.
      tags:
        - Tags
      x-codegen-request-body-name: tagRequest
    get:
      deprecated: false
      operationId: getTagsUsingGET
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Auth Token
          example: Bearer X-Token
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: object
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Get list of Tags against HealthID.
      tags:
        - Tags
    post:
      deprecated: false
      operationId: addTagUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TagRequest"
        description: tagRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/TagRequest"
                type: array
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Add tag against HealthId.
      tags:
        - Tags
      x-codegen-request-body-name: tagRequest
  /v1/health/facility/authenticate:
    post:
      deprecated: false
      description: Generate token for heath facility id.
      operationId: authenticateHealthFacilityUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthFacilityAuthenticationRequest"
        description: healthFacilityAuthenticationRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Generate token for heath facility id.
      tags:
        - Health Facility
      x-codegen-request-body-name: healthFacilityAuthenticationRequest
  /v1/health/facility/change/password:
    post:
      deprecated: false
      description: Change password for heath facility id.
      operationId: changePasswordUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthFacilityChangedPasswordRequest"
        description: healthFacilityPasswordRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Change password for heath facility id.
      tags:
        - Health Facility
      x-codegen-request-body-name: healthFacilityPasswordRequest
  /v1/health/facility/createHealthIdWithPreVerified:
    post:
      deprecated: false
      operationId: createAadhaarAccountUsingPOST_1
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountWithPreVerifiedAadhaar"
        description: accountRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CreateAccountJwtResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Generate Health ID card SVG
      tags:
        - Health Facility
      x-codegen-request-body-name: accountRequest
  /v1/health/facility/generate/password:
    post:
      deprecated: false
      description: Generates password for heath facility id.
      operationId: generatePasswordUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthFacilityPasswordRequest"
        description: healthFacilityPasswordRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Generates password for heath facility id.
      tags:
        - Health Facility
      x-codegen-request-body-name: healthFacilityPasswordRequest
  /v1/health/facility/generateOtp:
    post:
      deprecated: false
      description: Generate health facility OTP on registrered mobile number
      operationId: generateFacilityOTPUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Auth Token
          example: Bearer XToken
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadharOtpGenerateRequestPayLoad"
        description: generateOtpRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TxnResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Generate health hacility OTP on registrered mobile number
      tags:
        - Health Facility
      x-codegen-request-body-name: generateOtpRequest
  /v1/health/facility/getSvgCard:
    get:
      deprecated: false
      operationId: generateSvgCardUsingGET_1
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
        - description: Your health id
          example: demo@ndhm
          in: header
          name: Health-ID
          required: true
          schema:
            type: string
        - description: Auth Token
          example: Bearer X-Token
          in: header
          name: X-Token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            "*/*":
              schema:
                format: byte
                type: string
          description: OK
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: generateSvgCard
      tags:
        - Health Facility
  /v1/health/facility/reset/password:
    post:
      deprecated: false
      description: Reset password for heath facility id.
      operationId: resetPasswordUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthFacilityPasswordRequest"
        description: healthFacilityPasswordRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: string
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Reset password for heath facility id.
      tags:
        - Health Facility
      x-codegen-request-body-name: healthFacilityPasswordRequest
  /v1/hid/benefit/aadhaar/generateOtp:
    post:
      deprecated: false
      description: Generate Aadhaar OTP on registrered mobile number
      operationId: generateAadharOTPUsingPOST_2
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadharOtpGenerateRequestPayLoad"
        description: generateOtpRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TxnResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Generate Aadhaar OTP on registrered mobile number
      tags:
        - Integrated Programs
      x-codegen-request-body-name: generateOtpRequest
  /v1/hid/benefit/aadhaar/verifyAadharOtp:
    post:
      deprecated: false
      description: Create health id using Aadhaar number opt
      operationId: verifyAadharOtpUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateHealthIdOptRequest"
        description: createHealthIdOptRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/HidBenefitRequestPayload"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Create health id using Aadhaar Number Otp.
      tags:
        - Integrated Programs
      x-codegen-request-body-name: createHealthIdOptRequest
  /v1/hid/benefit/aadhaar/verifyBio:
    post:
      deprecated: false
      description: Create health id using Biometric Authentication.
      operationId: verifyBioUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateHidBiometricRequest"
        description: createHidBiometricRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/HidBenefitRequestPayload"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Create health id using Biometric Authentication.
      tags:
        - Integrated Programs
      x-codegen-request-body-name: createHidBiometricRequest
  /v1/hid/benefit/createHealthId/demo/auth:
    post:
      deprecated: false
      description: Create health id using Aadhaar Demo Auth.
      operationId: createHealthIdByDemoAuthUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateHIdDemoAuthRequest"
        description: createHIdDemoAuthRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/HidBenefitRequestPayload"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Create health id using Aadhaar Demo Auth.
      tags:
        - Integrated Programs
      x-codegen-request-body-name: createHIdDemoAuthRequest
  /v1/hid/benefit/delink:
    post:
      deprecated: false
      description: De-Linked with hid.
      operationId: delinkHidBenefitUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidBenefitDelinkRequestPayload"
        description: hidBenefitLinkedRequestPayload
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/HidBenefitLinkedResponsePayload"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: De-Linked with hid.
      tags:
        - Integrated Programs
      x-codegen-request-body-name: hidBenefitLinkedRequestPayload
  /v1/hid/benefit/link:
    post:
      deprecated: false
      description: Linked with hid.
      operationId: linkHidBenefitUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidBenefitLinkedRequestPayload"
        description: hidBenefitLinkedRequestPayload
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/HidBenefitLinkedResponsePayload"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Linked with hid.
      tags:
        - Integrated Programs
      x-codegen-request-body-name: hidBenefitLinkedRequestPayload
  /v1/hid/benefit/mobile/createHealthId:
    post:
      deprecated: false
      description: Create health id using mobile Authentication.
      operationId: createHealthIdByMobileUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateHidMobileRequest"
        description: createHidMobileRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TxnResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Create health id using mobile Authentication.
      tags:
        - Integrated Programs
      x-codegen-request-body-name: createHidMobileRequest
  /v1/hid/benefit/mobile/generateOtp:
    post:
      deprecated: false
      description: Generate mobile OTP on registrered mobile number
      operationId: generateMobileOtpUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateMobileOTPRequest"
        description: generateOtpRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TxnResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Generate mobile OTP on registrered mobile number
      tags:
        - Integrated Programs
      x-codegen-request-body-name: generateOtpRequest
  /v1/hid/benefit/notify/benefit:
    post:
      deprecated: false
      description: Create health id using notify Benefit.
      operationId: notifyBenefitUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateHidNotifyBenefitRequest"
        description: createHidNotifyBenefitRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/HidBenefitRequestPayload"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Create health id using notify Benefit.
      tags:
        - Integrated Programs
      x-codegen-request-body-name: createHidNotifyBenefitRequest
  /v1/hid/benefit/search/aadhaar:
    post:
      deprecated: false
      description: Search health id number using aadhar or aadhar token.
      operationId: findByAadharUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadharNumberRequestPayload"
        description: aadharNumberRequestPayload
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Search health id number using aadhar or aadhar token.
      tags:
        - Integrated Programs
      x-codegen-request-body-name: aadharNumberRequestPayload
  /v1/hid/benefit/search/healthIdNumber:
    post:
      deprecated: false
      description: Search benefit using health id number
      operationId: findByHealthIdUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidBenefitNameSearchRequest"
        description: searchRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  $ref: "#/components/schemas/HidBenefitSearchResponsePayload"
                type: array
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Search benefit using health id number.
      tags:
        - Integrated Programs
      x-codegen-request-body-name: searchRequest
  /v1/hid/benefit/update/mobile:
    post:
      deprecated: false
      operationId: updateMobileInformationUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidUpdateMobiletRequest"
        description: request
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UserDTO"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Update mobile number for account.
      tags:
        - Integrated Programs
      x-codegen-request-body-name: request
  /v1/hid/benefit/update/profile:
    post:
      deprecated: false
      operationId: updateAccountInformationUsingPOST_1
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidUpdateAccountRequest"
        description: request
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UserDTO"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Update account information
      tags:
        - Integrated Programs
      x-codegen-request-body-name: request
  /v1/hid/benefit/update/status:
    post:
      deprecated: false
      description: Update health id status.
      operationId: updateStatusUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidStatusRequestPayload"
        description: generateOtpRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: boolean
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Update health id status .
      tags:
        - Integrated Programs
      x-codegen-request-body-name: generateOtpRequest
  /v1/registration/aadhaar/createHealthIdWithAadhaarOtp:
    post:
      deprecated: false
      description: Verify Aadhar OTP received on registrered mobile number
      operationId: verifyAadharOTPUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountWithAadhaarOtp"
        description: verifyAadharOtpRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CreateAccountJwtResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Verify Aadhaar OTP on registrered mobile number to create Health ID.
      tags:
        - Registration with Aadhaar
      x-codegen-request-body-name: verifyAadharOtpRequest
  /v1/registration/aadhaar/createHealthIdWithPreVerified:
    post:
      deprecated: false
      description: Create Health ID using pre-verified Aadhaar & Mobile.
      operationId: createAadhaarAccountUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountWithPreVerifiedAadhaar"
        description: accountRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CreateAccountJwtResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Create Health ID using pre-verified Aadhaar & Mobile.
      tags:
        - Registration with Aadhaar
      x-codegen-request-body-name: accountRequest
  /v1/registration/aadhaar/generateMobileOTP:
    post:
      deprecated: false
      description: Generate Mobile OTP to verify mobile number.
      operationId: generateMobileOTPForTxnUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateMobileOTPForTxnRequest"
        description: request
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TxnResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Generate Mobile OTP for verification.
      tags:
        - Registration with Aadhaar
      x-codegen-request-body-name: request
  /v1/registration/aadhaar/generateOtp:
    post:
      deprecated: false
      description: Generate Aadhaar OTP on registrered mobile number
      operationId: generateAadharOTPUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadharOtpGenerateRequestPayLoad"
        description: generateOtpRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TxnResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Generate Aadhaar OTP on registrered mobile number
      tags:
        - Registration with Aadhaar
      x-codegen-request-body-name: generateOtpRequest
  /v1/registration/aadhaar/resendAadhaarOtp:
    post:
      deprecated: false
      description: Resend Aadhar OTP on registrered mobile number
      operationId: resendAadharOTPUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResendOTPRequest"
        description: request
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CreateAccountJwtResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Resend Aadhaar OTP on registrered mobile number to create Health ID.
      tags:
        - Registration with Aadhaar
      x-codegen-request-body-name: request
  /v1/registration/aadhaar/search/aadhar:
    post:
      deprecated: false
      description: Search health id number using aadhar.
      operationId: getHealthIdNumbersByAadharUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadharNumberRequestPayload"
        description: aadharNumberRequestPayload
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Search health id number using aadhar.
      tags:
        - Registration with Aadhaar
      x-codegen-request-body-name: aadharNumberRequestPayload
  /v1/registration/aadhaar/verifyBio:
    post:
      deprecated: false
      description: Verify Aadhaar using biometrics
      operationId: verifyAadharBioUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyAadhaarWithBio"
        description: verifyAadharOtpRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TxnResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Verify Aadhaar using biometrics.
      tags:
        - Registration with Aadhaar
      x-codegen-request-body-name: verifyAadharOtpRequest
  /v1/registration/aadhaar/verifyMobileOTP:
    post:
      deprecated: false
      description: Verify Mobile OTP in an existing transaction.
      operationId: verifyMobileOTPForTxnUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyMobileRequest"
        description: request
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TxnResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Verify Mobile OTP in an existing transaction.
      tags:
        - Registration with Aadhaar
      x-codegen-request-body-name: request
  /v1/registration/aadhaar/verifyOTP:
    post:
      deprecated: false
      description: Verify Aadhaar OTP received on registrered mobile number
      operationId: verifyAadharOTPOnlyUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyAadhaarOtp"
        description: verifyAadhaarOtp
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TxnResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Verify Aadhaar OTP and continue for mobile verification.
      tags:
        - Registration with Aadhaar
      x-codegen-request-body-name: verifyAadhaarOtp
  /v1/registration/mobile/createHealthId:
    post:
      deprecated: false
      operationId: verifyUserViaMobileUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountByVerifiedMobileRequest"
        description: createAccountRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CreateAccountJwtResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Create Health ID with verified mobile token
      tags:
        - Registration with mobile number
      x-codegen-request-body-name: createAccountRequest
  /v1/registration/mobile/generateOtp:
    post:
      deprecated: false
      description: Generate Mobile OTP to start registration transaction.
      operationId: generateMobileOTPUsingPOST_1
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateMobileOTPRequest"
        description: generateOtpRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TxnResponse"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Generate Mobile OTP to start registration
      tags:
        - Registration with mobile number
      x-codegen-request-body-name: generateOtpRequest
  /v1/registration/mobile/resendOtp:
    post:
      deprecated: false
      description: Resend Mobile OTP in an existing transaction in case previous OTP is not received.
      operationId: resentOtpUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResendOTPRequest"
        description: resendRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: boolean
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Resend Mobile OTP for Health ID registration
      tags:
        - Registration with mobile number
      x-codegen-request-body-name: resendRequest
  /v1/registration/mobile/verifyOtp:
    post:
      deprecated: false
      description: Verify Mobile OTP in current registration transaction.
      operationId: verifyMobileOTPUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyMobileRequest"
        description: verifyOtpRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/MobileVerificationToken"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Verify Mobile OTP sent as part of registration transaction.
      tags:
        - Registration with mobile number
      x-codegen-request-body-name: verifyOtpRequest
  /v1/search/existsByHealthId:
    post:
      deprecated: false
      operationId: searchUserByUseridUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchByHealthIdRequest"
        description: searchDTO
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                type: object
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Search a user by Health IDs.
      tags:
        - Search
      x-codegen-request-body-name: searchDTO
  /v1/search/searchByHealthId:
    post:
      deprecated: false
      operationId: searchUserByAccountUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchByHealthIdRequest"
        description: searchRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SearchResponseSingle"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Search a user by Health ID Number.
      tags:
        - Search
      x-codegen-request-body-name: searchRequest
  /v1/search/searchByMobile:
    post:
      deprecated: false
      operationId: searchUserByMobileUsingPOST
      parameters:
        - in: header
          name: Accept-Language
          schema:
            default: en-US
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchByMobileRequest"
        description: searchRequest
        required: true
      responses:
        "200":
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SearchResponseSingle"
          description: OK
        "201":
          content: {}
          description: Created
        "401":
          content: {}
          description: Unauthorized
        "403":
          content: {}
          description: Forbidden
        "404":
          content: {}
          description: Not Found
      security:
        - Authorization: []
        - X-HIP-ID: []
      summary: Search users with a mobile number.
      tags:
        - Search
      x-codegen-request-body-name: searchRequest
components:
  schemas:
    AadharNumberRequestPayload:
      properties:
        aadhaar:
          pattern: ^(\d{12}|\d{16})*$
          type: string
      title: AadharNumberRequestPayload
      type: object
    AadharOtpGenerateRequestPayLoad:
      properties:
        aadhaar:
          pattern: ^(\d{12}|\d{16})*$
          type: string
      title: AadharOtpGenerateRequestPayLoad
      type: object
    AuthAccountAadhaarBioRequest:
      properties:
        authType:
          enum:
            - FINGERSCAN
            - IRIS
            - OTP
          type: string
        bioType:
          type: string
        pid:
          type: string
        txnId:
          format: uuid
          type: string
      title: AuthAccountAadhaarBioRequest
      type: object
    AuthAccountAadhaarOTPRequest:
      properties:
        otp:
          pattern: ^([1-9][0-9]*)$
          type: string
        txnId:
          format: uuid
          type: string
      required:
        - otp
        - txnId
      title: AuthAccountAadhaarOTPRequest
      type: object
    AuthAccountMobileOTPRequest:
      properties:
        otp:
          type: string
        txnId:
          type: string
      title: AuthAccountMobileOTPRequest
      type: object
    AuthAccountWithDemographicsRequest:
      properties:
        gender:
          pattern: ^(M|F|O|U)$
          type: string
        name:
          type: string
        txnId:
          format: uuid
          type: string
        yearOfBirth:
          pattern: ^(\d{4})$
          type: string
      required:
        - txnId
      title: AuthAccountWithDemographicsRequest
      type: object
    AuthInitRequest:
      properties:
        authMethod:
          enum:
            - AADHAAR_OTP
            - MOBILE_OTP
            - PASSWORD
            - DEMOGRAPHICS
            - AADHAAR_BIO
          type: string
        healthid:
          type: string
      required:
        - authMethod
      title: AuthInitRequest
      type: object
    AuthMobileOTPRequest:
      properties:
        healthid:
          type: string
      title: AuthMobileOTPRequest
      type: object
    AuthWithMobileTxnAndUserData:
      properties:
        gender:
          type: string
        healthId:
          type: string
        name:
          type: string
        token:
          type: string
        txnId:
          type: string
        yearOfBirth:
          type: string
      required:
        - txnId
      title: AuthWithMobileTxnAndUserData
      type: object
    AuthWithPasswordRequest:
      properties:
        password:
          type: string
        txnId:
          format: uuid
          type: string
      required:
        - password
        - txnId
      title: AuthWithPasswordRequest
      type: object
    BenefitDTO:
      properties:
        benefitId:
          type: string
        benefitName:
          type: string
        description:
          type: string
        linkageDate:
          format: date-time
          type: string
        programName:
          type: string
        validity:
          format: date
          type: string
      title: BenefitDTO
      type: object
    ByteArrayResource:
      properties:
        byteArray:
          format: byte
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
        description:
          type: string
        file:
          $ref: "#/components/schemas/File"
        filename:
          type: string
        inputStream:
          $ref: "#/components/schemas/InputStream"
        open:
          type: boolean
        readable:
          type: boolean
        uri:
          $ref: "#/components/schemas/URI"
        url:
          $ref: "#/components/schemas/URL"
      title: ByteArrayResource
      type: object
    CovinTxnResponse:
      properties:
        mobileNumber:
          type: string
        txnId:
          format: uuid
          type: string
      title: CovinTxnResponse
      type: object
    CreateAccountByVerifiedMobileRequest:
      properties:
        address:
          type: string
        dayOfBirth:
          pattern: ^(0?[1-9]|[12][0-9]|3[01])$
          type: string
        districtCode:
          type: string
        email:
          type: string
        firstName:
          type: string
        gender:
          pattern: ^(M|F|O|U)$
          type: string
        healthId:
          type: string
        lastName:
          type: string
        middleName:
          type: string
        monthOfBirth:
          pattern: ^([1-9]|1[012])$
          type: string
        name:
          type: string
        password:
          type: string
        pincode:
          format: int32
          type: integer
        profilePhoto:
          type: string
        restrictions:
          type: string
        stateCode:
          type: string
        subdistrictCode:
          type: string
        token:
          type: string
        townCode:
          type: string
        txnId:
          type: string
        villageCode:
          type: string
        wardCode:
          type: string
        yearOfBirth:
          pattern: ^(\d{4})$
          type: string
      required:
        - txnId
      title: CreateAccountByVerifiedMobileRequest
      type: object
    CreateAccountJwtResponse:
      properties:
        authMethods:
          items:
            enum:
              - AADHAAR_OTP
              - MOBILE_OTP
              - PASSWORD
              - DEMOGRAPHICS
              - AADHAAR_BIO
            type: string
          type: array
        dayOfBirth:
          type: string
        districtCode:
          type: string
        districtName:
          type: string
        email:
          type: string
        firstName:
          type: string
        gender:
          type: string
        healthId:
          type: string
        healthIdNumber:
          type: string
        kycPhoto:
          type: string
        lastName:
          type: string
        middleName:
          type: string
        mobile:
          type: string
        monthOfBirth:
          type: string
        name:
          type: string
        new:
          type: boolean
        stateCode:
          type: string
        stateName:
          type: string
        tags:
          additionalProperties:
            type: string
          type: object
        token:
          type: string
        yearOfBirth:
          type: string
      title: CreateAccountJwtResponse
      type: object
    CreateAccountWithAadhaarOtp:
      properties:
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        middleName:
          type: string
        mobile:
          type: string
        otp:
          type: string
        password:
          type: string
        profilePhoto:
          type: string
        restrictions:
          type: string
        txnId:
          type: string
        username:
          type: string
      title: CreateAccountWithAadhaarOtp
      type: object
    CreateAccountWithPreVerifiedAadhaar:
      properties:
        email:
          type: string
        firstName:
          type: string
        healthId:
          type: string
        lastName:
          type: string
        middleName:
          type: string
        password:
          type: string
        profilePhoto:
          type: string
        txnId:
          type: string
      title: CreateAccountWithPreVerifiedAadhaar
      type: object
    CreateHIdDemoAuthRequest:
      properties:
        aadharNumber:
          pattern: ^(\d{12}|\d{16})*$
          type: string
        autoGeneratedBenefitId:
          type: boolean
        benefitId:
          type: string
        benefitName:
          type: string
        consentHealthId:
          type: boolean
        dateOfBirth:
          type: string
        gender:
          pattern: ^(M|F|T)$
          type: string
        mobileNumber:
          type: string
        name:
          type: string
        validity:
          type: string
      title: CreateHIdDemoAuthRequest
      type: object
    CreateHealthIdOptRequest:
      properties:
        autoGeneratedBenefitId:
          type: boolean
        benefitId:
          type: string
        benefitName:
          type: string
        consentHealthId:
          type: boolean
        mobileNumber:
          type: string
        otp:
          type: string
        txnId:
          type: string
        validity:
          type: string
      title: CreateHealthIdOptRequest
      type: object
    CreateHidBiometricRequest:
      properties:
        aadhaar:
          pattern: ^(\d{12}|\d{16})*$
          type: string
        autoGeneratedBenefitId:
          type: boolean
        benefitId:
          type: string
        benefitName:
          type: string
        bioType:
          type: string
        consentHealthId:
          type: boolean
        mobileNumber:
          type: string
        pid:
          type: string
        validity:
          type: string
      title: CreateHidBiometricRequest
      type: object
    CreateHidMobileRequest:
      properties:
        autoGeneratedBenefitId:
          type: boolean
        benefitDocType:
          enum:
            - VOTER_ID_CARD
            - RATION_CARD
            - PAN_CARD
            - DRIVING_LICENSE
            - PENSIONER_PHOTO_CARD
            - KISSAN_PHOTO_PASSBOOK
            - FREEDOM_FIGHTER_PHOTO_CARD
            - CERTIFICATE_IDENTIFY
            - DISABILITY_ID_CARD
            - MNREGA_JOB_CARD
            - BIRTH_CERTIFICATE
            - MARRIAGE_CERTIFICATE
            - OTHER_GOVERNMENT_ID
            - ADOPTION_CERTIFICATE
          type: string
        benefitId:
          type: string
        benefitName:
          type: string
        consentHealthId:
          type: boolean
        dateOfBirth:
          type: string
        docNumber:
          type: string
        fileType:
          type: string
        gender:
          pattern: ^(M|F|T)$
          type: string
        name:
          type: string
        otp:
          type: string
        txnId:
          type: string
        uploadedDoc:
          type: string
        validity:
          type: string
      title: CreateHidMobileRequest
      type: object
    CreateHidNotifyBenefitRequest:
      properties:
        aadharNumberOrUidToken:
          type: string
        autoGeneratedBenefitId:
          type: boolean
        benefitId:
          type: string
        benefitName:
          type: string
        consentHealthId:
          type: boolean
        dateOfBirth:
          type: string
        gender:
          pattern: ^(M|F|T)$
          type: string
        mobileNumber:
          type: string
        name:
          type: string
        stateCode:
          type: string
        validity:
          type: string
      title: CreateHidNotifyBenefitRequest
      type: object
    DistrictDTO:
      properties:
        code:
          type: string
        name:
          type: string
      title: DistrictDTO
      type: object
    File:
      properties:
        absolute:
          type: boolean
        absoluteFile:
          $ref: "#/components/schemas/File"
        absolutePath:
          type: string
        canonicalFile:
          $ref: "#/components/schemas/File"
        canonicalPath:
          type: string
        directory:
          type: boolean
        file:
          type: boolean
        freeSpace:
          format: int64
          type: integer
        hidden:
          type: boolean
        name:
          type: string
        parent:
          type: string
        parentFile:
          $ref: "#/components/schemas/File"
        path:
          type: string
        totalSpace:
          format: int64
          type: integer
        usableSpace:
          format: int64
          type: integer
      title: File
      type: object
    GenerateMobileOTPForTxnRequest:
      properties:
        mobile:
          type: string
        txnId:
          type: string
      title: GenerateMobileOTPForTxnRequest
      type: object
    GenerateMobileOTPRequest:
      properties:
        mobile:
          type: string
      title: GenerateMobileOTPRequest
      type: object
    HealthFacilityAuthenticationRequest:
      properties:
        hfrUid:
          type: string
        password:
          type: string
      title: HealthFacilityAuthenticationRequest
      type: object
    HealthFacilityAuthenticationResponse:
      properties:
        changePassword:
          type: boolean
        token:
          type: string
      title: HealthFacilityAuthenticationResponse
      type: object
    HealthFacilityChangedPasswordRequest:
      properties:
        hfrUid:
          type: string
        newPassword:
          type: string
        oldPassword:
          type: string
      title: HealthFacilityChangedPasswordRequest
      type: object
    HealthFacilityPasswordRequest:
      properties:
        hfrUid:
          type: string
      title: HealthFacilityPasswordRequest
      type: object
    HealthFacilityPasswordResponse:
      properties:
        password:
          type: string
      title: HealthFacilityPasswordResponse
      type: object
    HidBenefitDelinkRequestPayload:
      properties:
[...]
