openapi: 3.0.0
servers:
  - url: https://batch.core.windows.net
info:
  description: A client for issuing REST requests to the Azure Batch service.
  title: BatchService
  version: 2015-12-01.2.2
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-ms-code-generation-settings:
    name: BatchServiceClient
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/batch/data-plane/Microsoft.Batch/stable/2015-12-01.2.2/BatchService.json
      version: "3.0"
  x-preferred: false
  x-providerName: windows.net
  x-serviceName: batch-BatchService
paths:
  /applications:
    get:
      description: Lists all of the applications available in the specified account.
      operationId: Application_List
      parameters:
        - description: Sets the maximum number of items to return in the response.
          in: query
          name: maxresults
          required: false
          schema:
            format: int32
            type: integer
          x-ms-client-name: maxResults
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationListResult"
          description: ""
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Applications
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
  "/applications/{applicationId}":
    get:
      description: Gets information about the specified application.
      operationId: Application_Get
      parameters:
        - description: The id of the application.
          in: path
          name: applicationId
          required: true
          schema:
            type: string
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationSummary"
          description: ""
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Applications
      x-ms-request-id: request-id
  /certificates:
    get:
      description: Lists all of the certificates that have been added to the specified account.
      operationId: Certificate_List
      parameters:
        - description: Sets an OData $filter clause.
          in: query
          name: $filter
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets an OData $select clause.
          in: query
          name: $select
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets the maximum number of items to return in the response.
          in: query
          name: maxresults
          required: false
          schema:
            format: int32
            type: integer
          x-ms-client-name: maxResults
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertificateListResult"
          description: Gets the list of certificates.
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Certificates
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
    post:
      description: Adds a certificate to the specified account.
      operationId: Certificate_Add
      parameters:
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: "#/components/schemas/CertificateAddParameter"
        description: Specifies the certificate to be added.
        required: true
      responses:
        "201":
          description: Initial response
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request applied.
              schema:
                type: string
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Certificates
      x-ms-request-id: request-id
  "/certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint})":
    delete:
      description: Deletes a certificate from the specified account.
      operationId: Certificate_Delete
      parameters:
        - description: The algorithm used to derive the thumbprint parameter. This must be sha1.
          in: path
          name: thumbprintAlgorithm
          required: true
          schema:
            type: string
        - description: The thumbprint of the certificate to be deleted.
          in: path
          name: thumbprint
          required: true
          schema:
            type: string
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "202":
          description: ""
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Certificates
      x-ms-request-id: request-id
    get:
      description: Gets information about the specified certificate.
      operationId: Certificate_Get
      parameters:
        - description: The algorithm used to derive the thumbprint parameter. This must be sha1.
          in: path
          name: thumbprintAlgorithm
          required: true
          schema:
            type: string
        - description: The thumbprint of the certificate to get.
          in: path
          name: thumbprint
          required: true
          schema:
            type: string
        - description: Sets an OData $select clause.
          in: query
          name: $select
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Certificate"
          description: ""
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Certificates
      x-ms-request-id: request-id
  "/certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint})/canceldelete":
    post:
      description: Cancels a failed deletion of a certificate from the specified account.
      operationId: Certificate_CancelDeletion
      parameters:
        - description: The algorithm used to derive the thumbprint parameter. This must be sha1.
          in: path
          name: thumbprintAlgorithm
          required: true
          schema:
            type: string
        - description: The thumbprint of the certificate being deleted.
          in: path
          name: thumbprint
          required: true
          schema:
            type: string
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "204":
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request applied.
              schema:
                type: string
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Certificates
      x-ms-request-id: request-id
  /jobs:
    get:
      description: Lists all of the jobs in the specified account.
      operationId: Job_List
      parameters:
        - description: Sets an OData $filter clause.
          in: query
          name: $filter
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets an OData $select clause.
          in: query
          name: $select
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets an OData $expand clause.
          in: query
          name: $expand
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets the maximum number of items to return in the response.
          in: query
          name: maxresults
          required: false
          schema:
            format: int32
            type: integer
          x-ms-client-name: maxResults
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudJobListResult"
          description: ""
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Jobs
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
    post:
      description: Adds a job to the specified account.
      operationId: Job_Add
      parameters:
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: "#/components/schemas/JobAddParameter"
        description: Specifies the job to be added.
        required: true
      responses:
        "201":
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request applied.
              schema:
                type: string
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Jobs
      x-ms-request-id: request-id
  "/jobs/{jobId}":
    delete:
      description: Deletes a job.
      operationId: Job_Delete
      parameters:
        - description: The id of the job to delete.
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          in: header
          name: If-Modified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          in: header
          name: If-Unmodified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "202":
          description: ""
          headers:
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Jobs
      x-ms-request-id: request-id
    get:
      description: Gets information about the specified job.
      operationId: Job_Get
      parameters:
        - description: The id of the job.
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: Sets an OData $select clause.
          in: query
          name: $select
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets an OData $expand clause.
          in: query
          name: $expand
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudJob"
          description: ""
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Jobs
      x-ms-request-id: request-id
    patch:
      description: Updates the properties of a job.
      operationId: Job_Patch
      parameters:
        - description: The id of the job whose properties you want to update.
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          in: header
          name: If-Modified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          in: header
          name: If-Unmodified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: "#/components/schemas/JobPatchParameter"
        description: The parameters for the request.
        required: true
      responses:
        "200":
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request applied.
              schema:
                type: string
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Jobs
      x-ms-request-id: request-id
    put:
      description: Updates the properties of a job.
      operationId: Job_Update
      parameters:
        - description: The id of the job whose properties you want to update.
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          in: header
          name: If-Modified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          in: header
          name: If-Unmodified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: "#/components/schemas/JobUpdateParameter"
        description: The parameters for the request.
        required: true
      responses:
        "200":
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request applied.
              schema:
                type: string
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Jobs
      x-ms-request-id: request-id
  "/jobs/{jobId}/disable":
    post:
      description: Disables the specified job, preventing new tasks from running.
      operationId: Job_Disable
      parameters:
        - description: The id of the job to disable.
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          in: header
          name: If-Modified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          in: header
          name: If-Unmodified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: "#/components/schemas/JobDisableParameter"
        description: The parameters for the request.
        required: true
      responses:
        "202":
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request applied.
              schema:
                type: string
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Jobs
      x-ms-request-id: request-id
  "/jobs/{jobId}/enable":
    post:
      description: Enables the specified job, allowing new tasks to run.
      operationId: Job_Enable
      parameters:
        - description: The id of the job to enable.
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          in: header
          name: If-Modified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          in: header
          name: If-Unmodified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "202":
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request applied.
              schema:
                type: string
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Jobs
      x-ms-request-id: request-id
  "/jobs/{jobId}/jobpreparationandreleasetaskstatus":
    get:
      description: Lists the execution status of the Job Preparation and Job Release task for the specified job across the compute nodes where the job has run.
      operationId: Job_ListPreparationAndReleaseTaskStatus
      parameters:
        - description: The id of the job.
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: Sets an OData $filter clause.
          in: query
          name: $filter
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets an OData $select clause.
          in: query
          name: $select
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets the maximum number of items to return in the response.
          in: query
          name: maxresults
          required: false
          schema:
            format: int32
            type: integer
          x-ms-client-name: maxResults
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudJobListPreparationAndReleaseTaskStatusResult"
          description: ""
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Jobs
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
  "/jobs/{jobId}/tasks":
    get:
      description: Lists all of the tasks that are associated with the specified job.
      operationId: Task_List
      parameters:
        - description: The id of the job.
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: Sets an OData $filter clause.
          in: query
          name: $filter
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets an OData $select clause.
          in: query
          name: $select
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets an OData $expand clause.
          in: query
          name: $expand
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets the maximum number of items to return in the response.
          in: query
          name: maxresults
          required: false
          schema:
            format: int32
            type: integer
          x-ms-client-name: maxResults
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudTaskListResult"
          description: ""
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Tasks
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
    post:
      description: Adds a task to the specified job.
      operationId: Task_Add
      parameters:
        - description: The id of the job to which the task is to be added.
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: "#/components/schemas/TaskAddParameter"
        description: Specifies the task to be added.
        required: true
      responses:
        "201":
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request applied.
              schema:
                type: string
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Tasks
      x-ms-request-id: request-id
  "/jobs/{jobId}/tasks/{taskId}":
    delete:
      description: Deletes a task from the specified job.
      operationId: Task_Delete
      parameters:
        - description: The id of the job from which to delete the task.
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: The id of the task to delete.
          in: path
          name: taskId
          required: true
          schema:
            type: string
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          in: header
          name: If-Modified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          in: header
          name: If-Unmodified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: ""
          headers:
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Tasks
      x-ms-request-id: request-id
    get:
      description: Gets information about the specified task.
      operationId: Task_Get
      parameters:
        - description: The id of the job that contains the task.
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: The id of the task to get information about.
          in: path
          name: taskId
          required: true
          schema:
            type: string
        - description: Sets an OData $select clause.
          in: query
          name: $select
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets an OData $expand clause.
          in: query
          name: $expand
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          in: header
          name: If-Modified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          in: header
          name: If-Unmodified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudTask"
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request applied.
              schema:
                type: string
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Tasks
      x-ms-request-id: request-id
    put:
      description: Updates the properties of the specified task.
      operationId: Task_Update
      parameters:
        - description: The id of the job containing the task.
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: The id of the task to update.
          in: path
          name: taskId
          required: true
          schema:
            type: string
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag is an exact match as specified.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: An ETag is specified. Specify this header to perform the operation only if the resource's ETag does not match the specified ETag.
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          in: header
          name: If-Modified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          in: header
          name: If-Unmodified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      requestBody:
        content:
          application/json; odata=minimalmetadata:
            schema:
              $ref: "#/components/schemas/TaskUpdateParameter"
        description: The parameters for the request.
        required: true
      responses:
        "200":
          description: ""
          headers:
            DataServiceId:
              description: Gets the OData id of the resource to which the request applied.
              schema:
                type: string
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Tasks
      x-ms-request-id: request-id
  "/jobs/{jobId}/tasks/{taskId}/files":
    get:
      description: Lists the files in a task's directory on its compute node.
      operationId: File_ListFromTask
      parameters:
        - description: The id of the job that contains the task.
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: The id of the task whose files you want to list.
          in: path
          name: taskId
          required: true
          schema:
            type: string
        - description: Sets an OData $filter clause.
          in: query
          name: $filter
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets whether to list children of a directory.
          in: query
          name: recursive
          required: false
          schema:
            type: boolean
        - description: Sets the maximum number of items to return in the response.
          in: query
          name: maxresults
          required: false
          schema:
            format: int32
            type: integer
          x-ms-client-name: maxResults
          x-ms-parameter-grouping:
            postfix: Options
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NodeFileListResult"
          description: ""
          headers:
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Files
      x-ms-pageable:
        nextLinkName: odata.nextLink
      x-ms-request-id: request-id
  "/jobs/{jobId}/tasks/{taskId}/files/{fileName}":
    delete:
      description: Deletes the specified task file from the compute node where the task ran.
      operationId: File_DeleteFromTask
      parameters:
        - description: The id of the job that contains the task.
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: The id of the task whose file you want to delete.
          in: path
          name: taskId
          required: true
          schema:
            type: string
        - description: The path to the task file that you want to delete.
          in: path
          name: fileName
          required: true
          schema:
            type: string
        - description: Sets whether to delete children of a directory. If the fileName parameter represents a directory instead of a file, you can set Recursive to true to delete the directory and all of the files and subdirectories in it. If Recursive is false then the directory must be empty or deletion will fail.
          in: query
          name: recursive
          required: false
          schema:
            type: boolean
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: ""
          headers:
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Files
      x-ms-request-id: request-id
    get:
      description: Gets the content of the specified task file.
      operationId: File_GetFromTask
      parameters:
        - description: The id of the job that contains the task.
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: The id of the task whose file you want to retrieve.
          in: path
          name: taskId
          required: true
          schema:
            type: string
        - description: The path to the task file that you want to get the content of.
          in: path
          name: fileName
          required: true
          schema:
            type: string
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies the byte range to be retrieved. The default is to retrieve the entire file.  The format is startRange-endRange.
          in: header
          name: ocp-range
          required: false
          schema:
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          in: header
          name: If-Modified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          in: header
          name: If-Unmodified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: ""
          headers:
            Content-Length:
              description: Gets the length of the file.
              schema:
                format: int64
                type: integer
            Content-Type:
              description: Gets the content type of the file.
              schema:
                type: string
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            ocp-batch-file-isdirectory:
              description: Gets whether the object represents a directory.
              schema:
                type: boolean
            ocp-batch-file-url:
              description: Gets the URL of the file.
              schema:
                type: string
            ocp-creation-time:
              description: Gets the file creation time.
              schema:
                format: date-time-rfc1123
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Files
      x-ms-request-id: request-id
    head:
      description: Gets the properties of the specified task file.
      operationId: File_GetNodeFilePropertiesFromTask
      parameters:
        - description: The id of the job that contains the task.
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: The id of the task whose file you want to get the properties of.
          in: path
          name: taskId
          required: true
          schema:
            type: string
        - description: The path to the task file that you want to get the properties of.
          in: path
          name: fileName
          required: true
          schema:
            type: string
        - description: Sets the maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.
          in: query
          name: timeout
          required: false
          schema:
            default: 30
            format: int32
            type: integer
          x-ms-parameter-grouping:
            postfix: Options
        - description: Caller generated request identity, in the form of a GUID with no decoration such as curly braces e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.
          in: header
          name: client-request-id
          required: false
          schema:
            type: string
          x-ms-client-request-id: true
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specifies if the server should return the client-request-id identifier in the response.
          in: header
          name: return-client-request-id
          required: false
          schema:
            type: boolean
          x-ms-parameter-grouping:
            postfix: Options
        - description: The time the request was issued. If not specified, this header will be automatically populated with the current system clock time.
          in: header
          name: ocp-date
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has been modified since the specified date/time.
          in: header
          name: If-Modified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - description: Specify this header to perform the operation only if the resource has not been modified since the specified date/time.
          in: header
          name: If-Unmodified-Since
          required: false
          schema:
            format: date-time-rfc1123
            type: string
          x-ms-parameter-grouping:
            postfix: Options
        - $ref: "#/components/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Found the file
          headers:
            Content-Length:
              description: Gets the length of the file.
              schema:
                format: int64
                type: integer
            Content-Type:
              description: Gets the content type of the file.
              schema:
                type: string
            ETag:
              description: Gets the content of the ETag HTTP response header.
              schema:
                type: string
            Last-Modified:
              description: Gets the content of the Last-Modified HTTP response header.
              schema:
                format: date-time-rfc1123
                type: string
            client-request-id:
              description: Gets the ClientRequestId provided by the client during the request, if present and requested to be returned.
              schema:
                type: string
            ocp-batch-file-isdirectory:
              description: Gets whether the object represents a directory.
              schema:
                type: boolean
            ocp-batch-file-url:
              description: Gets the URL of the file.
              schema:
                type: string
            ocp-creation-time:
              description: Gets the file creation time.
              schema:
                format: date-time-rfc1123
                type: string
            request-id:
              description: Gets the value that uniquely identifies a request.
              schema:
                type: string
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchError"
          description: Error from the Batch service
      tags:
        - Files
      x-ms-request-id: request-id
  "/jobs/{jobId}/tasks/{taskId}/subtasksinfo":
    get:
      description: Lists all of the subtasks that are associated with the specified multi-instance task.
      operationId: Task_ListSubtasks
      parameters:
        - description: The id of the job.
          in: path
          name: jobId
          required: true
          schema:
            type: string
        - description: The id of the task.
          in: path
          name: taskId
[...]
