swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Azure Service Bus client
  title: ServiceBusManagementClient
  version: 2015-08-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/servicebus/resource-manager/Microsoft.ServiceBus/stable/2015-08-01/servicebus.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: servicebus
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: Subscription credentials that uniquely identify a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
  authorizationRuleNameParameter:
    description: The authorization rule name.
    in: path
    maxLength: 50
    minLength: 1
    name: authorizationRuleName
    required: true
    type: string
    x-ms-parameter-location: method
  namespaceNameParameter:
    description: The namespace name
    in: path
    maxLength: 50
    minLength: 6
    name: namespaceName
    required: true
    type: string
    x-ms-parameter-location: method
  queueNameParameter:
    description: The queue name.
    in: path
    maxLength: 50
    minLength: 1
    name: queueName
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: Name of the Resource group within the Azure subscription.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionNameParameter:
    description: The subscription name.
    in: path
    maxLength: 50
    minLength: 1
    name: subscriptionName
    required: true
    type: string
    x-ms-parameter-location: method
  topicNameParameter:
    description: The topic name.
    in: path
    maxLength: 50
    minLength: 1
    name: topicName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.ServiceBus/operations:
    get:
      description: Lists all of the available ServiceBus REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
      tags:
        - Operations
      x-ms-examples:
        OperationsList:
          parameters:
            api-version: 2016-07-01
          responses:
            "200":
              body:
                value:
                  - display:
                      operation: Get namespace availability.
                      provider: Microsoft Azure ServiceBus
                      resource: Non Resource Operation
                    name: Microsoft.ServiceBus/checkNameAvailability/action
                  - display:
                      operation: Registers the ServiceBus Resource Provider
                      provider: Microsoft Azure ServiceBus
                      resource: ServiceBus Resource Provider
                    name: Microsoft.ServiceBus/register/action
                  - display:
                      operation: "Create Or Update Namespace "
                      provider: Microsoft Azure ServiceBus
                      resource: Namespace
                    name: Microsoft.ServiceBus/namespaces/write
                  - display:
                      operation: Get Namespace Resource
                      provider: Microsoft Azure ServiceBus
                      resource: Namespace
                    name: Microsoft.ServiceBus/namespaces/read
                  - display:
                      operation: Delete Namespace
                      provider: Microsoft Azure ServiceBus
                      resource: Namespace
                    name: Microsoft.ServiceBus/namespaces/Delete
                  - display:
                      operation: Create or Update Namespace Authorization Rules
                      provider: Microsoft Azure ServiceBus
                      resource: AuthorizationRules
                    name: Microsoft.ServiceBus/namespaces/authorizationRules/write
                  - display:
                      operation: Get Namespace Authorization Rules
                      provider: Microsoft Azure ServiceBus
                      resource: AuthorizationRules
                    name: Microsoft.ServiceBus/namespaces/authorizationRules/read
                  - display:
                      operation: Delete Namespace Authorization Rule
                      provider: Microsoft Azure ServiceBus
                      resource: AuthorizationRules
                    name: Microsoft.ServiceBus/namespaces/authorizationRules/delete
                  - display:
                      operation: Get Namespace Listkeys
                      provider: Microsoft Azure ServiceBus
                      resource: AuthorizationRules
                    name: Microsoft.ServiceBus/namespaces/authorizationRules/listkeys/action
                  - display:
                      operation: Resource Regeneratekeys
                      provider: Microsoft Azure ServiceBus
                      resource: AuthorizationRules
                    name: Microsoft.ServiceBus/namespaces/authorizationRules/regenerateKeys/action
                  - display:
                      operation: Create or Update Queue
                      provider: Microsoft Azure ServiceBus
                      resource: Queue
                    name: Microsoft.ServiceBus/namespaces/queues/write
                  - display:
                      operation: Get Queue
                      provider: Microsoft Azure ServiceBus
                      resource: Queue
                    name: Microsoft.ServiceBus/namespaces/queues/read
                  - display:
                      operation: Delete Queue
                      provider: Microsoft Azure ServiceBus
                      resource: Queue
                    name: Microsoft.ServiceBus/namespaces/queues/Delete
                  - display:
                      operation: Create or Update Queue Authorization Rule
                      provider: Microsoft Azure ServiceBus
                      resource: Queue AuthorizationRules
                    name: Microsoft.ServiceBus/namespaces/queues/authorizationRules/write
                  - display:
                      operation: " Get Queue Authorization Rules"
                      provider: Microsoft Azure ServiceBus
                      resource: Queue AuthorizationRules
                    name: Microsoft.ServiceBus/namespaces/queues/authorizationRules/read
                  - display:
                      operation: Delete Queue Authorization Rules
                      provider: Microsoft Azure ServiceBus
                      resource: Queue AuthorizationRules
                    name: Microsoft.ServiceBus/namespaces/queues/authorizationRules/delete
                  - display:
                      operation: List Queue keys
                      provider: Microsoft Azure ServiceBus
                      resource: Queue AuthorizationRules
                    name: Microsoft.ServiceBus/namespaces/queues/authorizationRules/listkeys/action
                  - display:
                      operation: Resource Regeneratekeys
                      provider: Microsoft Azure ServiceBus
                      resource: Queue AuthorizationRules
                    name: Microsoft.ServiceBus/namespaces/queues/authorizationRules/regenerateKeys/action
                  - display:
                      operation: Create or Update Topic
                      provider: Microsoft Azure ServiceBus
                      resource: Topic
                    name: Microsoft.ServiceBus/namespaces/topics/write
                  - display:
                      operation: Get Topic
                      provider: Microsoft Azure ServiceBus
                      resource: Topic
                    name: Microsoft.ServiceBus/namespaces/topics/read
                  - display:
                      operation: Delete Topic
                      provider: Microsoft Azure ServiceBus
                      resource: Topic
                    name: Microsoft.ServiceBus/namespaces/topics/Delete
                  - display:
                      operation: Create or Update Topic Authorization Rule
                      provider: Microsoft Azure ServiceBus
                      resource: Topic AuthorizationRules
                    name: Microsoft.ServiceBus/namespaces/topics/authorizationRules/write
                  - display:
                      operation: " Get Topic Authorization Rules"
                      provider: Microsoft Azure ServiceBus
                      resource: Topic AuthorizationRules
                    name: Microsoft.ServiceBus/namespaces/topics/authorizationRules/read
                  - display:
                      operation: Delete Topic Authorization Rules
                      provider: Microsoft Azure ServiceBus
                      resource: Topic AuthorizationRules
                    name: Microsoft.ServiceBus/namespaces/topics/authorizationRules/delete
                  - display:
                      operation: List Topic keys
                      provider: Microsoft Azure ServiceBus
                      resource: Topic AuthorizationRules
                    name: Microsoft.ServiceBus/namespaces/topics/authorizationRules/listkeys/action
                  - display:
                      operation: Resource Regeneratekeys
                      provider: Microsoft Azure ServiceBus
                      resource: Topic AuthorizationRules
                    name: Microsoft.ServiceBus/namespaces/topics/authorizationRules/regenerateKeys/action
                  - display:
                      operation: Create or Update TopicSubscription
                      provider: Microsoft Azure ServiceBus
                      resource: TopicSubscription
                    name: Microsoft.ServiceBus/namespaces/topics/subscriptions/write
                  - display:
                      operation: Get TopicSubscription
                      provider: Microsoft Azure ServiceBus
                      resource: TopicSubscription
                    name: Microsoft.ServiceBus/namespaces/topics/subscriptions/read
                  - display:
                      operation: Delete TopicSubscription
                      provider: Microsoft Azure ServiceBus
                      resource: TopicSubscription
                    name: Microsoft.ServiceBus/namespaces/topics/subscriptions/Delete
                  - display:
                      operation: Create or Update Rule
                      provider: Microsoft Azure ServiceBus
                      resource: Rule
                    name: Microsoft.ServiceBus/namespaces/topics/subscriptions/rules/write
                  - display:
                      operation: Get Rule
                      provider: Microsoft Azure ServiceBus
                      resource: Rule
                    name: Microsoft.ServiceBus/namespaces/topics/subscriptions/rules/read
                  - display:
                      operation: Delete Rule
                      provider: Microsoft Azure ServiceBus
                      resource: Rule
                    name: Microsoft.ServiceBus/namespaces/topics/subscriptions/rules/Delete
                  - display:
                      operation: Get Namespace metrics
                      provider: Microsoft Azure ServiceBus
                      resource: Namespace metrics
                    name: Microsoft.ServiceBus/namespaces/metricDefinitions/read
                  - display:
                      operation: Get Namespace diagnostic settings
                      provider: Microsoft Azure ServiceBus
                      resource: Namespace diagnostic settings
                    name: Microsoft.ServiceBus/namespaces/diagnosticSettings/read
                  - display:
                      operation: Create or Update Namespace diagnostic settings
                      provider: Microsoft Azure ServiceBus
                      resource: Namespace diagnostic settings
                    name: Microsoft.ServiceBus/namespaces/diagnosticSettings/write
                  - display:
                      operation: Get Namespace logs
                      provider: Microsoft Azure ServiceBus
                      resource: Namespace logs
                    name: Microsoft.ServiceBus/namespaces/logDefinitions/read
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/CheckNameAvailability":
    post:
      description: Check the give namespace name availability.
      operationId: Namespaces_CheckNameAvailability
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: Parameters to check availability of the given namespace name
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CheckNameAvailability"
      responses:
        "200":
          description: check availability returned successfully.
          schema:
            $ref: "#/definitions/CheckNameAvailabilityResult"
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceCheckNameAvailability:
          parameters:
            api-version: 2015-08-01
            parameters:
              name: sdk-Namespace1321
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                message: ""
                nameAvailable: true
                reason: None
  "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/namespaces":
    get:
      description: Gets all the available namespaces within the subscription, irrespective of the resource groups.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639412.aspx
      operationId: Namespaces_ListBySubscription
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespaces successfully returned.
          schema:
            $ref: "#/definitions/NamespaceListResult"
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceList:
          parameters:
            api-version: 2015-08-01
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-5018
                    location: Australia East
                    name: sdk-Namespace-5018
                    properties:
                      createdAt: 2017-02-15T19:09:40.8Z
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-5018.servicebus.windows.net:443/
                      updatedAt: 2017-02-15T19:10:05.193Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.ServiceBus/namespaces
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-3458
                    location: West US
                    name: sdk-Namespace-3458
                    properties:
                      createdAt: 2017-02-01T00:07:07.54Z
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-3458.servicebus.windows.net:443/
                      updatedAt: 2017-02-01T00:07:31.14Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.ServiceBus/namespaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces":
    get:
      description: Gets the available namespaces within a resource group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639412.aspx
      operationId: Namespaces_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespaces successfully returned.
          schema:
            $ref: "#/definitions/NamespaceListResult"
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceListByResourceGroup:
          parameters:
            api-version: 2015-08-01
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-5018
                    location: Australia East
                    name: sdk-Namespace-5018
                    properties:
                      createdAt: 2017-02-15T19:09:40.8Z
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-5018.servicebus.windows.net:443/
                      updatedAt: 2017-02-15T19:10:05.193Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.ServiceBus/namespaces
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-3458
                    location: West US
                    name: sdk-Namespace-3458
                    properties:
                      createdAt: 2017-02-01T00:07:07.54Z
                      provisioningState: Succeeded
                      serviceBusEndpoint: https://sdk-Namespace-3458.servicebus.windows.net:443/
                      updatedAt: 2017-02-01T00:07:31.14Z
                    sku:
                      capacity: 1
                      name: Standard
                      tier: Standard
                    tags: {}
                    type: Microsoft.ServiceBus/namespaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}":
    delete:
      description: Deletes an existing namespace. This operation also removes all associated resources under the namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639389.aspx
      operationId: Namespaces_Delete
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace successfully deleted.
        "202":
          description: Namespace delete request accepted.
        "204":
          description: No content.
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceDelete:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace1471
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets a description for the specified namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639379.aspx
      operationId: Namespaces_Get
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace successfully returned.
          schema:
            $ref: "#/definitions/NamespaceResource"
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceGet:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace1471
            resourceGroupName: RG-eg
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace1471
                location: West US
                name: sdk-Namespace1471
                properties:
                  createdAt: 2017-03-12T07:39:13.31Z
                  provisioningState: Succeeded
                  serviceBusEndpoint: https://sdk-Namespace1471.servicebus.windows.net:443/
                  updatedAt: 2017-03-12T07:39:35.443Z
                sku:
                  capacity: 1
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.ServiceBus/namespaces
    patch:
      description: Updates a service namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.
      operationId: Namespaces_Update
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - description: Parameters supplied to update a namespace resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/NamespaceUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace updated successfully.
          schema:
            $ref: "#/definitions/NamespaceResource"
        "201":
          description: Namespace update request accepted.
          schema:
            $ref: "#/definitions/NamespaceResource"
        "202":
          description: Namespace update request accepted.
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceUpdate:
          parameters:
            api-version: 2015-08-01
            location: West US
            namespaceName: sdk-Namespace1471
            parameters:
              tags:
                tag3: value3
                tag4: value4
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: 8c246e6a-cbc6-4a87-aff1-d6a886f376ef
          responses:
            "200":
              body:
                id: ""
                location: ""
                name: ""
                properties:
                  createdAt: 2017-03-12T07:39:13.31Z
                  provisioningState: ""
                  serviceBusEndpoint: https://sdk-Namespace1471.servicebus.windows.net:443/
                  updatedAt: 2017-03-12T07:39:35.443Z
                tags:
                  tag3: value3
                  tag4: value4
                type: ""
            "201":
              body:
                id: ""
                location: ""
                name: ""
                properties:
                  createdAt: 2017-03-12T07:39:13.31Z
                  provisioningState: ""
                  serviceBusEndpoint: https://sdk-Namespace1471.servicebus.windows.net:443/
                  updatedAt: 2017-03-12T07:39:35.443Z
                tags:
                  tag3: value3
                  tag4: value4
                type: ""
            "202": {}
    put:
      description: Creates or updates a service namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639408.aspx
      operationId: Namespaces_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: The namespace name.
          in: path
          name: namespaceName
          required: true
          type: string
        - description: Parameters supplied to create a namespace resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/NamespaceCreateOrUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace created successfully.
          schema:
            $ref: "#/definitions/NamespaceResource"
        "201":
          description: Namespace create request accepted.
          schema:
            $ref: "#/definitions/NamespaceResource"
        "202":
          description: Namespace create or update request accepted.
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceCreate:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace7816
            parameters:
              location: West US
              sku:
                name: Standard
                tier: Standard
              tags:
                tag1: value1
                tag2: value2
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace7816
                location: West US
                name: sdk-Namespace7816
                properties:
                  provisioningState: Unknown
                sku:
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.ServiceBus/namespaces
            "201":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace7816
                location: West US
                name: sdk-Namespace7816
                properties:
                  provisioningState: Unknown
                sku:
                  name: Standard
                  tier: Standard
                tags:
                  tag1: value1
                  tag2: value2
                type: Microsoft.ServiceBus/namespaces
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/AuthorizationRules":
    get:
      description: Gets the authorization rules for a namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639376.aspx
      operationId: Namespaces_ListAuthorizationRules
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace authorization rules returned successfully.
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleListResult"
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleListAll:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace8341
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace8341/AuthorizationRules/RootManageSharedAccessKey
                    name: RootManageSharedAccessKey
                    properties:
                      rights:
                        - Listen
                        - Manage
                        - Send
                    type: Microsoft.ServiceBus/AuthorizationRules
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace8341/AuthorizationRules/sdk-Authrules9875
                    name: sdk-Authrules9875
                    properties:
                      rights:
                        - Listen
                        - Send
                    type: Microsoft.ServiceBus/AuthorizationRules
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}":
    delete:
      description: Deletes a namespace authorization rule.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639417.aspx
      operationId: Namespaces_DeleteAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace authorization rule successfully deleted.
        "204":
          description: No content.
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleDelete:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-RelayAuthRules-01
            namespaceName: sdk-Namespace8341
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets an authorization rule for a namespace by rule name.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639392.aspx
      operationId: Namespaces_GetAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace authorization rule returned successfully.
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleGet:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules9875
            namespaceName: sdk-Namespace8341
            resourceGroupName: sdk-Namespace8341
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace8341/AuthorizationRules/sdk-Authrules9875
                name: sdk-Authrules9875
                properties:
                  rights:
                    - Listen
                    - Send
                type: Microsoft.ServiceBus/AuthorizationRules
    put:
      description: Creates or updates an authorization rule for a namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639410.aspx
      operationId: Namespaces_CreateOrUpdateAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - description: The shared access authorization rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Namespace authorization rule created.
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleCreate:
          parameters:
            api-version: 2016-07-01
            authorizationRuleName: sdk-Authrules9875
            namespaceName: sdk-Namespace8341
            parameters:
              location: West US
              properties:
                rights:
                  - Listen
                  - Send
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace8341/AuthorizationRules/sdk-Authrules9875
                name: sdk-Authrules9875
                properties:
                  rights:
                    - Listen
                    - Send
                type: Microsoft.ServiceBus/AuthorizationRules
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/listKeys":
    post:
      description: Gets the primary and secondary connection strings for the namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639398.aspx
      operationId: Namespaces_ListKeys
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Connection strings successfully returned.
          schema:
            $ref: "#/definitions/ResourceListKeys"
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleListKey:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-RelayAuthRules-01
            namespaceName: sdk-Namespace8341
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                keyName: sdk-Authrules9875
                primaryConnectionString: Endpoint=sb://sdk-namespace8341.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules9875;SharedAccessKey=############################################
                primaryKey: "############################################"
                secondaryConnectionString: Endpoint=sb://sdk-namespace8341.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules9875;SharedAccessKey=############################################
                secondaryKey: "############################################"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}/regenerateKeys":
    post:
      description: Regenerates the primary or secondary connection strings for the namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt718977.aspx
      operationId: Namespaces_RegenerateKeys
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - description: Parameters supplied to regenerate the authorization rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/RegenerateKeysParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Authorization rule successfully regenerated.
          schema:
            $ref: "#/definitions/ResourceListKeys"
      tags:
        - Namespaces
      x-ms-examples:
        NameSpaceAuthorizationRuleRegenerateKey:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-RelayAuthRules-01
            namespaceName: sdk-Namespace8341
            parameters:
              Policykey: PrimaryKey
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                keyName: sdk-Authrules9875
                primaryConnectionString: Endpoint=sb://sdk-namespace8341.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules9875;SharedAccessKey=############################################
                primaryKey: "############################################"
                secondaryConnectionString: Endpoint=sb://sdk-namespace8341.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules9875;SharedAccessKey=############################################
                secondaryKey: "############################################"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues":
    get:
      description: Gets the queues within a namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639415.aspx
      operationId: Queues_ListAll
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Queues successfully returned.
          schema:
            $ref: "#/definitions/QueueListResult"
      tags:
        - Queues
      x-ms-examples:
        QueueListByNameSpace:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace7626
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace7626/queues/sdk-queues7173
                    name: sdk-queues7173
                    properties:
                      accessedAt: 0001-01-01T00:00:00Z
                      autoDeleteOnIdle: 10675199.02:48:05.4775807
                      countDetails:
                        activeMessageCount: 0
                        deadLetterMessageCount: 0
                        scheduledMessageCount: 0
                        transferDeadLetterMessageCount: 0
                        transferMessageCount: 0
                      createdAt: 2017-03-12T10:11:38.87Z
                      deadLetteringOnMessageExpiration: false
                      defaultMessageTimeToLive: 10675199.02:48:05.4775807
                      duplicateDetectionHistoryTimeWindow: 00:10:00
                      enableBatchedOperations: true
                      enableExpress: false
                      enablePartitioning: false
                      lockDuration: 00:01:00
                      maxDeliveryCount: 10
                      maxSizeInMegabytes: 1024
                      messageCount: 0
                      requiresDuplicateDetection: false
                      requiresSession: false
                      sizeInBytes: 0
                      status: Active
                      supportOrdering: true
                      updatedAt: 2017-03-12T10:11:38.917Z
                    type: Microsoft.ServiceBus/Queues
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}":
    delete:
      description: Deletes a queue from the specified namespace in a resource group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639411.aspx
      operationId: Queues_Delete
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/queueNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Queue successfully deleted.
        "204":
          description: No content.
      tags:
        - Queues
      x-ms-examples:
        QueueDelete:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace3082
            queueName: sdk-Queues8544
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200": {}
            "204": {}
    get:
      description: Returns a description for the specified queue.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639380.aspx
      operationId: Queues_Get
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/queueNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Queue description successfully returned.
          schema:
            $ref: "#/definitions/QueueResource"
      tags:
        - Queues
      x-ms-examples:
        QueueGet:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace3082
            queueName: sdk-Queues8544
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace3082/queues/sdk-Queues8544
                name: sdk-Queues8544
                properties:
                  accessedAt: 0001-01-01T00:00:00Z
                  autoDeleteOnIdle: 10675199.02:48:05.4775807
                  countDetails:
                    activeMessageCount: 0
                    deadLetterMessageCount: 0
                    scheduledMessageCount: 0
                    transferDeadLetterMessageCount: 0
                    transferMessageCount: 0
                  createdAt: 2017-03-12T09:16:03.577Z
                  deadLetteringOnMessageExpiration: false
                  defaultMessageTimeToLive: 10675199.02:48:05.4775807
                  duplicateDetectionHistoryTimeWindow: 00:10:00
                  enableBatchedOperations: true
                  enableExpress: false
                  enablePartitioning: false
                  lockDuration: 00:01:00
                  maxDeliveryCount: 10
                  maxSizeInMegabytes: 1024
                  messageCount: 0
                  requiresDuplicateDetection: false
                  requiresSession: false
                  sizeInBytes: 0
                  status: Active
                  supportOrdering: true
                  updatedAt: 2017-03-12T09:16:03.623Z
                type: Microsoft.ServiceBus/Queues
    put:
      description: Creates or updates a Service Bus queue. This operation is idempotent.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639395.aspx
      operationId: Queues_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/queueNameParameter"
        - description: Parameters supplied to create or update a queue resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/QueueCreateOrUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Queue successfully created.
          schema:
            $ref: "#/definitions/QueueResource"
      tags:
        - Queues
      x-ms-examples:
        QueueCreate:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace3082
            parameters:
              location: West US
              properties:
                enableExpress: false
                enablePartitioning: false
            queueName: sdk-Queues8544
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace3082/queues/sdk-Queues8544
                name: sdk-Queues8544
                properties:
                  autoDeleteOnIdle: 10675199.02:48:05.4775807
                  createdAt: 2017-03-12T09:16:03.577Z
                  deadLetteringOnMessageExpiration: false
                  defaultMessageTimeToLive: 10675199.02:48:05.4775807
                  duplicateDetectionHistoryTimeWindow: 00:10:00
                  enableBatchedOperations: true
                  enableExpress: false
                  enablePartitioning: false
                  lockDuration: 00:01:00
                  maxDeliveryCount: 10
                  maxSizeInMegabytes: 1024
                  messageCount: 0
                  requiresDuplicateDetection: false
                  requiresSession: false
                  sizeInBytes: 0
                  status: Active
                  supportOrdering: true
                  updatedAt: 2017-03-12T09:16:03.623Z
                type: Microsoft.ServiceBus/Queues
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}/authorizationRules":
    get:
      description: Gets all authorization rules for a queue.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt705607.aspx
      operationId: Queues_ListAuthorizationRules
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/queueNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Authorization rules successfully returned.
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleListResult"
      tags:
        - Queues
      x-ms-examples:
        QueueAuthorizationRuleListAll:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace6556
            queueName: sdk-Queues3136
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace6556/queues/sdk-Queues3136/authorizationRules/sdk-Authrules7319
                    name: sdk-Authrules7319
                    properties:
                      rights:
                        - Listen
                        - Send
                    type: Microsoft.ServiceBus/AuthorizationRules
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}/authorizationRules/{authorizationRuleName}":
    delete:
      description: Deletes a queue authorization rule.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt705609.aspx
      operationId: Queues_DeleteAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/queueNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Authorization rule successfully deleted.
        "204":
          description: No content.
      tags:
        - Queues
      x-ms-examples:
        QueueAuthorizationRuleDelete:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules7319
            namespaceName: sdk-Namespace6556
            queueName: sdk-Queues3136
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets an authorization rule for a queue by rule name.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt705611.aspx
      operationId: Queues_GetAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/queueNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Authorization rule successfully returned.
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
      tags:
        - Queues
      x-ms-examples:
        QueueAuthorizationRuleGet:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules7319
            namespaceName: sdk-Namespace6556
            queueName: sdk-Queues3136
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace6556/queues/sdk-Queues3136/authorizationRules/sdk-Authrules7319
                name: sdk-Authrules7319
                properties:
                  rights:
                    - Listen
                    - Send
                type: Microsoft.ServiceBus/AuthorizationRules
    post:
      description: Gets an authorization rule for a queue by rule name.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt705611.aspx
      operationId: Queues_PostAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/queueNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Authorization rule successfully returned.
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
      tags:
        - Queues
      x-ms-examples:
        QueueAuthorizationRuleGet:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules7319
            namespaceName: sdk-Namespace6556
            queueName: sdk-Queues3136
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace6556/queues/sdk-Queues3136/authorizationRules/sdk-Authrules7319
                name: sdk-Authrules7319
                properties:
                  rights:
                    - Listen
                    - Send
                type: Microsoft.ServiceBus/AuthorizationRules
    put:
      description: Creates an authorization rule for a queue.
      operationId: Queues_CreateOrUpdateAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/queueNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - description: The shared access authorization rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Authorization rule successfully created.
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
      tags:
        - Queues
      x-ms-examples:
        QueueAuthorizationRuleCreate:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules7319
            namespaceName: sdk-Namespace6556
            parameters:
              properties:
                rights:
                  - Listen
                  - Send
            queueName: sdk-Queues3136
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace6556/queues/sdk-Queues3136/authorizationRules/sdk-Authrules7319
                name: sdk-Authrules7319
                properties:
                  rights:
                    - Listen
                    - Send
                type: Microsoft.ServiceBus/AuthorizationRules
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}/authorizationRules/{authorizationRuleName}/ListKeys":
    post:
      description: Primary and secondary connection strings to the queue.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt705608.aspx
      operationId: Queues_ListKeys
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/queueNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Connection strings successfully returned.
          schema:
            $ref: "#/definitions/ResourceListKeys"
      tags:
        - Queues
      x-ms-examples:
        QueueAuthorizationRuleListKey:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules7319
            namespaceName: sdk-Namespace6556
            queueName: sdk-Queues3136
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                keyName: sdk-Authrules7319
                primaryConnectionString: Endpoint=sb://sdk-namespace6556.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules7319;SharedAccessKey=###########################################;EntityPath=sdk-Queues3136
                primaryKey: "###########################################"
                secondaryConnectionString: Endpoint=sb://sdk-namespace6556.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules7319;SharedAccessKey=###########################################;EntityPath=sdk-Queues3136
                secondaryKey: "###########################################"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/queues/{queueName}/authorizationRules/{authorizationRuleName}/regenerateKeys":
    post:
      description: Regenerates the primary or secondary connection strings to the queue.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt705606.aspx
      operationId: Queues_RegenerateKeys
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/queueNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - description: Parameters supplied to regenerate the authorization rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/RegenerateKeysParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Connection strings successfully regenerated.
          schema:
            $ref: "#/definitions/ResourceListKeys"
      tags:
        - Queues
      x-ms-examples:
        QueueAuthorizationRuleRegenerateKey:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules7319
            namespaceName: sdk-Namespace6556
            parameters:
              Policykey: PrimaryKey
            queueName: sdk-Queues3136
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                keyName: sdk-Authrules7319
                primaryConnectionString: Endpoint=sb://sdk-namespace6556.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules7319;SharedAccessKey=###########################################;EntityPath=sdk-Queues3136
                primaryKey: "###########################################"
                secondaryConnectionString: Endpoint=sb://sdk-namespace6556.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules7319;SharedAccessKey=###########################################;EntityPath=sdk-Queues3136
                secondaryKey: "###########################################"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics":
    get:
      description: Gets all the topics in a namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639388.aspx
      operationId: Topics_ListAll
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successfully retrieved list of topics.
          schema:
            $ref: "#/definitions/TopicListResult"
      tags:
        - Topics
      x-ms-examples:
        TopicGet:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace4191
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace4191/topics/sdk-topics1377
                    name: sdk-topics1377
                    properties:
                      accessedAt: 0001-01-01T00:00:00Z
                      autoDeleteOnIdle: 10675199.02:48:05.4775807
                      countDetails:
                        activeMessageCount: 0
                        deadLetterMessageCount: 0
                        scheduledMessageCount: 0
                        transferDeadLetterMessageCount: 0
                        transferMessageCount: 0
                      createdAt: 2017-03-12T16:54:30.4Z
                      defaultMessageTimeToLive: 10675199.02:48:05.4775807
                      duplicateDetectionHistoryTimeWindow: 00:10:00
                      enableBatchedOperations: true
                      enableExpress: false
                      enablePartitioning: false
                      maxSizeInMegabytes: 1024
                      requiresDuplicateDetection: false
                      sizeInBytes: 0
                      status: Active
                      subscriptionCount: 0
                      supportOrdering: true
                      updatedAt: 2017-03-12T16:54:30.45Z
                    type: Microsoft.ServiceBus/Topic
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}":
    delete:
      description: Deletes a topic from the specified namespace and resource group.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639404.aspx
      operationId: Topics_Delete
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/topicNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Topic successfully deleted.
        "204":
          description: No Content
      tags:
        - Topics
      x-ms-examples:
        TopicDelete:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace3082
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
            topicName: sdk-Topics1377
          responses:
            "200": {}
            "204": {}
    get:
      description: Returns a description for the specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639399.aspx
      operationId: Topics_Get
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/topicNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Topic description successfully retrieved.
          schema:
            $ref: "#/definitions/TopicResource"
      tags:
        - Topics
      x-ms-examples:
        TopicGet:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace4191
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
            topicName: sdk-Topics1377
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace4191/topics/sdk-Topics1377
                name: sdk-Topics1377
                properties:
                  accessedAt: 0001-01-01T00:00:00Z
                  autoDeleteOnIdle: 10675199.02:48:05.4775807
                  countDetails:
                    activeMessageCount: 0
                    deadLetterMessageCount: 0
                    scheduledMessageCount: 0
                    transferDeadLetterMessageCount: 0
                    transferMessageCount: 0
                  createdAt: 2017-03-12T16:54:30.4Z
                  defaultMessageTimeToLive: 10675199.02:48:05.4775807
                  duplicateDetectionHistoryTimeWindow: 00:10:00
                  enableBatchedOperations: true
                  enableExpress: false
                  enablePartitioning: false
                  maxSizeInMegabytes: 1024
                  requiresDuplicateDetection: false
                  sizeInBytes: 0
                  status: Active
                  subscriptionCount: 0
                  supportOrdering: true
                  updatedAt: 2017-03-12T16:54:30.45Z
                type: Microsoft.ServiceBus/Topic
    put:
      description: Creates a topic in the specified namespace.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639409.aspx
      operationId: Topics_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/topicNameParameter"
        - description: Parameters supplied to create a topic resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/TopicCreateOrUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Topic successfully created.
          schema:
            $ref: "#/definitions/TopicResource"
      tags:
        - Topics
      x-ms-examples:
        TopicCreate:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace4191
            parameters:
              location: West US
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
            topicName: sdk-Topics1377
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace4191/topics/sdk-Topics1377
                name: sdk-Topics1377
                properties:
                  autoDeleteOnIdle: 10675199.02:48:05.4775807
                  createdAt: 2017-03-12T16:54:30.4Z
                  defaultMessageTimeToLive: 10675199.02:48:05.4775807
                  duplicateDetectionHistoryTimeWindow: 00:10:00
                  enableBatchedOperations: true
                  enableExpress: false
                  enablePartitioning: false
                  maxSizeInMegabytes: 1024
                  requiresDuplicateDetection: false
                  sizeInBytes: 0
                  status: Active
                  supportOrdering: true
                  updatedAt: 2017-03-12T16:54:30.45Z
                type: Microsoft.ServiceBus/Topic
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules":
    get:
      description: Gets authorization rules for a topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720681.aspx
      operationId: Topics_ListAuthorizationRules
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/topicNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Authorization rules successfully returned.
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleListResult"
      tags:
        - Topics
      x-ms-examples:
        TopicAuthorizationRuleListAll:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace8408
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
            topicName: sdk-Topics2075
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace8408/topics/sdk-Topics2075/authorizationRules/sdk-Authrules5067
                    name: sdk-Authrules5067
                    properties:
                      rights:
                        - Listen
                        - Send
                    type: Microsoft.ServiceBus/AuthorizationRules
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules/{authorizationRuleName}":
    delete:
      description: Deletes a topic authorization rule.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720681.aspx
      operationId: Topics_DeleteAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/topicNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Topic authorization rule successfully deleted.
        "204":
          description: No content.
      tags:
        - Topics
      x-ms-examples:
        TopicAuthorizationRuleDelete:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules5067
            namespaceName: sdk-Namespace8408
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
            topicName: sdk-Topics2075
          responses:
            "200": {}
            "204": {}
    get:
      description: Returns the specified authorization rule.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720676.aspx
      operationId: Topics_GetAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/topicNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Topic authorization rule returned successfully.
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
      tags:
        - Topics
      x-ms-examples:
        TopicAuthorizationRuleGet:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules5067
            namespaceName: sdk-Namespace8408
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
            topicName: sdk-Topics2075
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace8408/topics/sdk-Topics2075/authorizationRules/sdk-Authrules5067
                name: sdk-Authrules5067
                properties:
                  rights:
                    - Listen
                    - Send
                type: Microsoft.ServiceBus/AuthorizationRules
    post:
      description: Returns the specified authorization rule.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720676.aspx
      operationId: Topics_PostAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/topicNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Topic authorization rule returned successfully.
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
      tags:
        - Topics
      x-ms-examples:
        TopicAuthorizationRuleGet:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules5067
            namespaceName: sdk-Namespace8408
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
            topicName: sdk-Topics2075
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace8408/topics/sdk-Topics2075/authorizationRules/sdk-Authrules5067
                name: sdk-Authrules5067
                properties:
                  rights:
                    - Listen
                    - Send
                type: Microsoft.ServiceBus/AuthorizationRules
    put:
      description: Creates an authorization rule for the specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720678.aspx
      operationId: Topics_CreateOrUpdateAuthorizationRule
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/topicNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - description: The shared access authorization rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleCreateOrUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Topic authorization rule successfully created.
          schema:
            $ref: "#/definitions/SharedAccessAuthorizationRuleResource"
      tags:
        - Topics
      x-ms-examples:
        TopicAuthorizationRuleCreate:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules5067
            namespaceName: sdk-Namespace8408
            parameters:
              properties:
                rights:
                  - Listen
                  - Send
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
            topicName: sdk-Topics2075
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace8408/topics/sdk-Topics2075/authorizationRules/sdk-Authrules5067
                name: sdk-Authrules5067
                properties:
                  rights:
                    - Listen
                    - Send
                type: Microsoft.ServiceBus/AuthorizationRules
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules/{authorizationRuleName}/ListKeys":
    post:
      description: Gets the primary and secondary connection strings for the topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720677.aspx
      operationId: Topics_ListKeys
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/topicNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Connection strings successfully retrieved.
          schema:
            $ref: "#/definitions/ResourceListKeys"
      tags:
        - Topics
      x-ms-examples:
        TopicAuthorizationRuleListKey:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules5067
            namespaceName: sdk-Namespace8408
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
            topicName: sdk-Topics2075
          responses:
            "200":
              body:
                keyName: sdk-Authrules5067
                primaryConnectionString: Endpoint=sb://sdk-namespace8408.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules5067;SharedAccessKey=###########################################;EntityPath=sdk-Topics2075
                primaryKey: "###########################################"
                secondaryConnectionString: Endpoint=sb://sdk-namespace8408.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules5067;SharedAccessKey=###########################################;EntityPath=sdk-Topics2075
                secondaryKey: "###########################################"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/authorizationRules/{authorizationRuleName}/regenerateKeys":
    post:
      description: Regenerates primary or secondary connection strings for the topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt720679.aspx
      operationId: Topics_RegenerateKeys
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/topicNameParameter"
        - $ref: "#/parameters/authorizationRuleNameParameter"
        - description: Parameters supplied to regenerate the authorization rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/RegenerateKeysParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Connection strings successfully regenerated.
          schema:
            $ref: "#/definitions/ResourceListKeys"
      tags:
        - Topics
      x-ms-examples:
        TopicAuthorizationRuleRegenerateKey:
          parameters:
            api-version: 2015-08-01
            authorizationRuleName: sdk-Authrules5067
            namespaceName: sdk-Namespace8408
            parameters:
              Policykey: PrimaryKey
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
            topicName: sdk-Topics2075
          responses:
            "200":
              body:
                keyName: sdk-Authrules5067
                primaryConnectionString: Endpoint=sb://sdk-namespace8408.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules5067;SharedAccessKey=###########################################;EntityPath=sdk-Topics2075
                primaryKey: "###########################################"
                secondaryConnectionString: Endpoint=sb://sdk-namespace8408.servicebus.windows.net/;SharedAccessKeyName=sdk-Authrules5067;SharedAccessKey=###########################################;EntityPath=sdk-Topics2075
                secondaryKey: "###########################################"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions":
    get:
      description: List all the subscriptions under a specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639400.aspx
      operationId: Subscriptions_ListAll
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/topicNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successfully retrieved list of subscriptions.
          schema:
            $ref: "#/definitions/SubscriptionListResult"
      tags:
        - Subscriptions
      x-ms-examples:
        SubscriptionListByTopic:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace2500
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
            topicName: sdk-Topics2565
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace2500/topics/sdk-Topics2565/subscriptions/sdk-Subscriptions3374
                    name: sdk-Subscriptions3374
                    properties:
                      accessedAt: 2017-03-12T17:38:55.97Z
                      autoDeleteOnIdle: 10675199.02:48:05.4775807
                      countDetails:
                        activeMessageCount: 0
                        deadLetterMessageCount: 0
                        scheduledMessageCount: 0
                        transferDeadLetterMessageCount: 0
                        transferMessageCount: 0
                      createdAt: 2017-03-12T17:38:55.969348Z
                      deadLetteringOnFilterEvaluationExceptions: true
                      deadLetteringOnMessageExpiration: false
                      defaultMessageTimeToLive: 10675199.02:48:05.4775807
                      enableBatchedOperations: true
                      lockDuration: 00:01:00
                      maxDeliveryCount: 10
                      messageCount: 0
                      requiresSession: false
                      status: Active
                      updatedAt: 2017-03-12T17:38:55.969348Z
                    type: Microsoft.ServiceBus/TopicSubscriptions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/topics/{topicName}/subscriptions/{subscriptionName}":
    delete:
      description: Deletes a subscription from the specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639381.aspx
      operationId: Subscriptions_Delete
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/topicNameParameter"
        - $ref: "#/parameters/subscriptionNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Subscription successfully deleted.
        "204":
          description: No content.
      tags:
        - Subscriptions
      x-ms-examples:
        SubscriptionDelete:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace4191
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
            subscriptionName: sdk-Subscriptions3374
            topicName: sdk-Topics1377
          responses:
            "200": {}
            "204": {}
    get:
      description: Returns a subscription description for the specified topic.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639402.aspx
      operationId: Subscriptions_Get
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/topicNameParameter"
        - $ref: "#/parameters/subscriptionNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Successfully retrieved subscription description.
          schema:
            $ref: "#/definitions/SubscriptionResource"
      tags:
        - Subscriptions
      x-ms-examples:
        SubscriptionGet:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace2500
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
            subscriptionName: sdk-Subscriptions3374
            topicName: sdk-Topics2565
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace2500/topics/sdk-Topics2565/subscriptions/sdk-Subscriptions3374
                name: sdk-Subscriptions3374
                properties:
                  accessedAt: 2017-03-12T17:38:55.97Z
                  autoDeleteOnIdle: 10675199.02:48:05.4775807
                  countDetails:
                    activeMessageCount: 0
                    deadLetterMessageCount: 0
                    scheduledMessageCount: 0
                    transferDeadLetterMessageCount: 0
                    transferMessageCount: 0
                  createdAt: 2017-03-12T17:38:55.969348Z
                  deadLetteringOnFilterEvaluationExceptions: true
                  deadLetteringOnMessageExpiration: false
                  defaultMessageTimeToLive: 10675199.02:48:05.4775807
                  enableBatchedOperations: true
                  lockDuration: 00:01:00
                  maxDeliveryCount: 10
                  messageCount: 0
                  requiresSession: false
                  status: Active
                  updatedAt: 2017-03-12T17:38:55.969348Z
                type: Microsoft.ServiceBus/TopicSubscriptions
    put:
      description: Creates a topic subscription.
      externalDocs:
        url: https://msdn.microsoft.com/en-us/library/azure/mt639385.aspx
      operationId: Subscriptions_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/namespaceNameParameter"
        - $ref: "#/parameters/topicNameParameter"
        - $ref: "#/parameters/subscriptionNameParameter"
        - description: Parameters supplied to create a subscription resource.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/SubscriptionCreateOrUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Subscription create request accepted.
          schema:
            $ref: "#/definitions/SubscriptionResource"
      tags:
        - Subscriptions
      x-ms-examples:
        SubscriptionCreate:
          parameters:
            api-version: 2015-08-01
            namespaceName: sdk-Namespace2500
            parameters:
              location: West US
            resourceGroupName: Default-ServiceBus-WestUS
            subscriptionId: e2f361f0-3b27-4503-a9cc-21cfba380093
            subscriptionName: sdk-Subscriptions3374
            topicName: sdk-Topics2565
          responses:
            "200":
              body:
                id: /subscriptions/e2f361f0-3b27-4503-a9cc-21cfba380093/resourceGroups/Default-ServiceBus-WestUS/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace2500/topics/sdk-Topics2565/subscriptions/sdk-Subscriptions3374
                name: sdk-Subscriptions3374
                properties:
                  accessedAt: 2017-03-12T16:54:30.45Z
                  autoDeleteOnIdle: 10675199.02:48:05.4775807
                  createdAt: 2017-03-12T16:54:30.4Z
                  deadLetteringOnFilterEvaluationExceptions: true
                  deadLetteringOnMessageExpiration: false
                  defaultMessageTimeToLive: 10675199.02:48:05.4775807
                  enableBatchedOperations: true
                  lockDuration: 00:01:00
                  maxDeliveryCount: 10
                  messageCount: 0
                  requiresSession: false
                  status: Active
                  updatedAt: 2017-03-12T16:54:30.45Z
                type: Microsoft.ServiceBus/TopicSubscriptions
definitions:
  CheckNameAvailability:
    description: Description of a Check Name availability request properties.
    properties:
      name:
        description: The Name to check the namespace name availability and The namespace name can contain only letters, numbers, and hyphens. The namespace must start with a letter, and it must end with a letter or number.
        type: string
    required:
      - name
  CheckNameAvailabilityResult:
    description: Description of a Check Name availability request properties.
    properties:
      message:
        description: The detailed info regarding the reason associated with the namespace.
        readOnly: true
        type: string
      nameAvailable:
        description: Value indicating namespace is availability, true if the namespace is available; otherwise, false.
        type: boolean
      reason:
        $ref: "#/definitions/UnavailableReason"
        description: The reason for unavailability of a namespace.
  EntityAvailabilityStatus:
    description: Entity availability status.
    enum:
      - Available
      - Limited
      - Renaming
      - Restoring
      - Unknown
    type: string
    x-ms-enum:
      modelAsString: false
      name: EntityAvailabilityStatus
  EntityStatus:
    description: Entity status.
    enum:
      - Active
      - Creating
      - Deleting
      - Disabled
      - ReceiveDisabled
      - Renaming
      - Restoring
      - SendDisabled
      - Unknown
    type: string
    x-ms-enum:
      modelAsString: false
      name: EntityStatus
  MessageCountDetails:
    description: Message Count Details.
    properties:
      activeMessageCount:
        description: Number of active messages in the queue, topic, or subscription.
        format: int64
        readOnly: true
        type: integer
      deadLetterMessageCount:
        description: Number of messages that are dead lettered.
        format: int64
        readOnly: true
        type: integer
      scheduledMessageCount:
        description: Number of scheduled messages.
        format: int64
        readOnly: true
        type: integer
      transferDeadLetterMessageCount:
        description: Number of messages transferred into dead letters.
        format: int64
        readOnly: true
        type: integer
      transferMessageCount:
        description: Number of messages transferred to another queue, topic, or subscription.
        format: int64
        readOnly: true
        type: integer
    type: object
  NamespaceCreateOrUpdateParameters:
    description: Parameters supplied to the Create Or Update Namespace operation.
    properties:
      location:
        description: Namespace location.
        type: string
      properties:
        $ref: "#/definitions/NamespaceProperties"
        x-ms-client-flatten: true
      sku:
        $ref: "#/definitions/Sku"
      tags:
        additionalProperties:
          type: string
        description: Namespace tags.
        type: object
    required:
      - location
  NamespaceListResult:
    description: The response of the List Namespace operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of Namespaces.
        type: string
      value:
        description: Result of the List Namespace operation.
        items:
          $ref: "#/definitions/NamespaceResource"
        type: array
  NamespaceProperties:
    description: Properties of the namespace.
    properties:
      createACSNamespace:
        description: Indicates whether to create an ACS namespace.
        type: boolean
      createdAt:
        description: The time the namespace was created.
        format: date-time
        readOnly: true
        type: string
      enabled:
        description: Specifies whether this instance is enabled.
        type: boolean
      provisioningState:
        description: Provisioning state of the namespace.
        readOnly: true
        type: string
      serviceBusEndpoint:
        description: Endpoint you can use to perform Service Bus operations.
        readOnly: true
        type: string
      status:
        description: State of the namespace.
        enum:
          - Unknown
          - Creating
          - Created
          - Activating
          - Enabling
          - Active
          - Disabling
          - Disabled
          - SoftDeleting
          - SoftDeleted
          - Removing
          - Removed
          - Failed
        type: string
        x-ms-enum:
          modelAsString: false
          name: NamespaceState
      updatedAt:
        description: The time the namespace was updated.
        format: date-time
        readOnly: true
        type: string
  NamespaceResource:
    allOf:
      - $ref: "#/definitions/TrackedResource"
    description: Description of a namespace resource.
    properties:
      properties:
        $ref: "#/definitions/NamespaceProperties"
        x-ms-client-flatten: true
      sku:
        $ref: "#/definitions/Sku"
  NamespaceUpdateParameters:
    description: Parameters supplied to the Patch Namespace operation.
    properties:
      sku:
        $ref: "#/definitions/Sku"
        description: The sku of the created namespace
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
  Operation:
    description: A ServiceBus REST API operation
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: "Operation type: Read, write, delete, etc."
            readOnly: true
            type: string
          provider:
            description: "Service provider: Microsoft.ServiceBus"
            readOnly: true
            type: string
          resource:
            description: "Resource on which the operation is performed: Invoice, etc."
            readOnly: true
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}"
        readOnly: true
        type: string
    type: object
  OperationListResult:
    description: Result of the request to list ServiceBus operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        readOnly: true
        type: string
      value:
        description: List of ServiceBus operations supported by the Microsoft.ServiceBus resource provider.
        items:
          $ref: "#/definitions/Operation"
        readOnly: true
        type: array
  QueueCreateOrUpdateParameters:
    description: Parameters supplied to the Create Or Update Queue operation.
    properties:
      location:
        description: location of the resource.
        type: string
      name:
        description: Queue name.
        type: string
      properties:
        $ref: "#/definitions/QueueProperties"
        x-ms-client-flatten: true
    required:
      - location
  QueueListResult:
    description: The response to the List Queues operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of queues.
        type: string
      value:
        description: Result of the List Queues operation.
        items:
          $ref: "#/definitions/QueueResource"
        type: array
  QueueProperties:
    description: The Queue Properties definition.
    properties:
      accessedAt:
        description: Last time a message was sent, or the last time there was a receive request to this queue.
        format: date-time
        readOnly: true
        type: string
      autoDeleteOnIdle:
        description: the TimeSpan idle interval after which the queue is automatically deleted. The minimum duration is 5 minutes.
        type: string
      countDetails:
        $ref: "#/definitions/MessageCountDetails"
        readOnly: true
      createdAt:
        description: The exact time the message was created.
        format: date-time
        readOnly: true
        type: string
      deadLetteringOnMessageExpiration:
[...]
