swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: AutomationManagement
  version: 2015-10-31
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/account.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: automation-account
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  /providers/Microsoft.Automation/operations:
    get:
      description: Lists all of the available Automation REST API operations.
      operationId: Operations_List
      parameters:
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.Automation/automationAccounts":
    get:
      description: Retrieve a list of accounts within a given subscription.
      operationId: AutomationAccount_List
      parameters:
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AutomationAccountListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      summary: Lists the Automation Accounts within an Azure subscription.
      tags:
        - AutomationAccount
      x-ms-examples:
        List automation accounts by resource group:
          parameters:
            api-version: 2015-10-31
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/JPEDeploy1/providers/Microsoft.Automation/automationAccounts/JPEDDeployDSC1
                    location: japaneast
                    name: JPEDDeployDSC1
                    properties:
                      creationTime: 2015-04-28T23:48:25.143+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.06+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/jpeDemo1/providers/Microsoft.Automation/automationAccounts/jpeDemoAutomation1
                    location: japaneast
                    name: jpeDemoAutomation1
                    properties:
                      creationTime: 2015-04-25T02:04:10.223+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.06+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/ASERG1/providers/Microsoft.Automation/automationAccounts/ASEAutomationAccount1
                    location: australiasoutheast
                    name: ASEAutomationAccount1
                    properties:
                      creationTime: 2016-04-12T05:19:19.48+00:00
                      lastModifiedTime: 2017-02-09T21:35:15.64+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/eus2Demo1/providers/Microsoft.Automation/automationAccounts/AAEU2DSCDemo
                    location: East US 2
                    name: AAEU2DSCDemo
                    properties:
                      creationTime: 2015-08-04T14:44:02.397+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/eus2Demo1/providers/Microsoft.Automation/automationAccounts/AAEU2DSCDemo2
                    location: East US 2
                    name: AAEU2DSCDemo2
                    properties:
                      creationTime: 2015-08-04T15:03:45.977+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/aadscdemo1/providers/Microsoft.Automation/automationAccounts/AAsnoverDemo1
                    location: East US 2
                    name: AAsnoverDemo1
                    properties:
                      creationTime: 2016-01-29T02:29:13.18+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/oaastest/providers/Microsoft.Automation/automationAccounts/automationaccdelete
                    location: eastus2
                    name: automationaccdelete
                    properties:
                      creationTime: 2016-03-29T20:30:49.97+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/aadscdemo2/providers/Microsoft.Automation/automationAccounts/mytest1212
                    location: eastus2
                    name: mytest1212
                    properties:
                      creationTime: 2016-12-12T20:25:36.34+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/CIDRG/providers/Microsoft.Automation/automationAccounts/deleteacc
                    location: eastus2
                    name: deleteacc
                    properties:
                      creationTime: 2017-01-12T22:13:39.79+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/test/providers/Microsoft.Automation/automationAccounts/deleteme
                    location: eastus2
                    name: deleteme
                    properties:
                      creationTime: 2017-01-12T21:56:10.267+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/tst/providers/Microsoft.Automation/automationAccounts/deleteme3
                    location: eastus2
                    name: deleteme3
                    properties:
                      creationTime: 2017-01-12T22:00:51.333+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/OaaSCSXASVNLMD6CUTP2UKUNHMCSLLJRVOSRAS2HOBKX4B3A3UBNLZWZEA-East-US/providers/Microsoft.Automation/automationAccounts/Eus2Account1
                    location: East US 2
                    name: Eus2Account1
                    properties:
                      creationTime: 2016-05-19T19:07:43.2+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/EUS2Deploy1/providers/Microsoft.Automation/automationAccounts/EUS2DDeployDSC1
                    location: eastus2
                    name: EUS2DDeployDSC1
                    properties:
                      creationTime: 2015-04-28T23:50:56.16+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/OaaSCSXASVNLMD6CUTP2UKUNHMCSLLJRVOSRAS2HOBKX4B3A3UBNLZWZEA-East-US/providers/Microsoft.Automation/automationAccounts/eusAccount2
                    location: eastus2
                    name: eusAccount2
                    properties:
                      creationTime: 2016-05-19T19:12:19.853+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myProdAutomation1
                    location: eastus2
                    name: myProdAutomation1
                    properties:
                      creationTime: 2017-02-16T21:31:06.333+00:00
                      lastModifiedTime: 2017-02-16T21:31:06.333+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myProdDevAutomation
                    location: eastus2
                    name: myProdDevAutomation
                    properties:
                      creationTime: 2016-10-27T21:11:16.71+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myProdPublicAutomation
                    location: eastus2
                    name: myProdPublicAutomation
                    properties:
                      creationTime: 2016-11-18T19:49:08.893+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myTestaccount
                    location: eastus2
                    name: myTestaccount
                    properties:
                      creationTime: 2016-09-24T00:47:04.227+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/kjohn-sandbox-eus
                    location: eastus2
                    name: kjohn-sandbox-eus
                    properties:
                      creationTime: 2017-03-19T17:29:18.493+00:00
                      lastModifiedTime: 2017-03-19T17:29:18.493+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/kjohn-sandbox-eus-proddev
                    location: eastus2
                    name: kjohn-sandbox-eus-proddev
                    properties:
                      creationTime: 2017-01-06T02:33:10.29+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/kjohn-rg/providers/Microsoft.Automation/automationAccounts/kjohn-sandbox-eus-prodtest
                    location: eastus2
                    name: kjohn-sandbox-eus-prodtest
                    properties:
                      creationTime: 2017-01-10T23:40:13.103+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/kjohn-rg/providers/Microsoft.Automation/automationAccounts/kjohn-sandbox-eus-prodtest2
                    location: eastus2
                    name: kjohn-sandbox-eus-prodtest2
                    properties:
                      creationTime: 2017-01-11T00:20:50.463+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/LinuxPatchingOpsEUS-AA2
                    location: eastus2
                    name: LinuxPatchingOpsEUS-AA2
                    properties:
                      creationTime: 2016-09-24T03:17:00.043+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/LinuxTestNewAA
                    location: eastus2
                    name: LinuxTestNewAA
                    properties:
                      creationTime: 2016-09-23T18:50:54.887+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/OaasCSsubid-east-us/providers/Microsoft.Automation/automationAccounts/psrdfeAccount2
                    location: East US 2
                    name: psrdfeAccount2
                    properties:
                      creationTime: 2015-05-05T00:26:49.02+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/myrg/providers/Microsoft.Automation/automationAccounts/my-account-one
                    location: eastus2
                    name: my-account-one
                    properties:
                      creationTime: 2016-10-27T17:54:31.007+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myku-no-vms
                    location: eastus2
                    name: myku-no-vms
                    properties:
                      creationTime: 2016-09-30T01:12:00.853+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/myku-win-vms
                    location: eastus2
                    name: myku-win-vms
                    properties:
                      creationTime: 2016-09-30T01:17:07.613+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/aadscdemo2/providers/Microsoft.Automation/automationAccounts/SVCPrnAcctTest1
                    location: eastus2
                    name: SVCPrnAcctTest1
                    properties:
                      creationTime: 2016-03-28T20:12:48.163+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/tesdbgfvfhgjghjgh/providers/Microsoft.Automation/automationAccounts/testfgbhfghfgh
                    location: eastus2
                    name: testfgbhfghfgh
                    properties:
                      creationTime: 2016-12-12T20:48:59.3+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/mms-eus/providers/Microsoft.Automation/automationAccounts/test-linux-linuxopsworkspace
                    location: eastus2
                    name: test-linux-linuxopsworkspace
                    properties:
                      creationTime: 2016-09-23T18:59:56.99+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/my-dev/providers/Microsoft.Automation/automationAccounts/my-dsc-test-1
                    location: eastus2
                    name: my-dsc-test-1
                    properties:
                      creationTime: 2016-11-10T00:21:05.133+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/my-dev/providers/Microsoft.Automation/automationAccounts/my-test-automation-1
                    location: eastus2
                    name: my-test-automation-1
                    properties:
                      creationTime: 2016-11-09T19:57:50.043+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/myresourcegroupeus/providers/Microsoft.Automation/automationAccounts/myAccount
                    location: eastus2
                    name: myAccount
                    properties:
                      creationTime: 2017-03-10T19:10:30.453+00:00
                      lastModifiedTime: 2017-03-10T19:10:30.453+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccount123
                    location: eastus2
                    name: myAccount123
                    properties:
                      creationTime: 2016-09-29T00:32:32.52+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccountasfads
                    location: East US 2
                    name: myAccountasfads
                    properties:
                      creationTime: 2017-03-24T23:21:03.27+00:00
                      lastModifiedTime: 2017-03-24T23:21:03.27+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/myResourceGroupEUS/providers/Microsoft.Automation/automationAccounts/myAccountEUS
                    location: eastus2
                    name: myAccountEUS
                    properties:
                      creationTime: 2016-09-29T23:13:38.873+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount1
                    location: East US 2
                    name: myAutomationAccount1
                    properties:
                      creationTime: 2017-03-24T23:22:33.26+00:00
                      lastModifiedTime: 2017-03-24T23:22:33.26+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11
                    location: East US 2
                    name: myAutomationAccount11
                    properties:
                      creationTime: 2017-03-26T02:10:24.523+00:00
                      lastModifiedTime: 2017-03-26T02:11:12.027+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount2
                    location: East US 2
                    name: myAutomationAccount2
                    properties:
                      creationTime: 2017-03-24T23:24:20.31+00:00
                      lastModifiedTime: 2017-03-24T23:24:20.31+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount3
                    location: East US 2
                    name: myAutomationAccount3
                    properties:
                      creationTime: 2017-03-24T23:24:43.967+00:00
                      lastModifiedTime: 2017-03-24T23:24:43.967+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount4
                    location: East US 2
                    name: myAutomationAccount4
                    properties:
                      creationTime: 2017-03-25T02:04:56.9+00:00
                      lastModifiedTime: 2017-03-25T02:04:56.9+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount6
                    location: East US 2
                    name: myAutomationAccount6
                    properties:
                      creationTime: 2017-03-25T02:10:44.567+00:00
                      lastModifiedTime: 2017-03-25T02:10:44.567+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount7
                    location: East US 2
                    name: myAutomationAccount7
                    properties:
                      creationTime: 2017-03-25T02:19:17.943+00:00
                      lastModifiedTime: 2017-03-25T02:19:17.943+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/WEURG1/providers/Microsoft.Automation/automationAccounts/CSSCase1
                    location: westeurope
                    name: CSSCase1
                    properties:
                      creationTime: 2016-08-18T05:53:58.91+00:00
                      lastModifiedTime: 2017-02-09T21:35:15.373+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/deleteme
                    location: westeurope
                    name: deleteme
                    properties:
                      creationTime: 2017-01-12T21:48:47.98+00:00
                      lastModifiedTime: 2017-02-09T21:35:15.373+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/mms-weu/providers/Microsoft.Automation/automationAccounts/LinuxPatchingOpsWEU-AA2
                    location: westeurope
                    name: LinuxPatchingOpsWEU-AA2
                    properties:
                      creationTime: 2016-09-24T02:27:35.713+00:00
                      lastModifiedTime: 2017-02-09T21:35:15.373+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/my-dev/providers/Microsoft.Automation/automationAccounts/LinuxPatchJobs
                    location: westeurope
                    name: LinuxPatchJobs
                    properties:
                      creationTime: 2016-09-14T22:02:28.223+00:00
                      lastModifiedTime: 2017-02-09T21:35:15.373+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/IgnniteRG/providers/Microsoft.Automation/automationAccounts/MyCoolAAC1
                    location: westeurope
                    name: MyCoolAAC1
                    properties:
                      creationTime: 2016-09-22T05:59:22.443+00:00
                      lastModifiedTime: 2017-02-09T21:35:15.373+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/IgnniteRG/providers/Microsoft.Automation/automationAccounts/MyCoolACT1
                    location: westeurope
                    name: MyCoolACT1
                    properties:
                      creationTime: 2016-09-22T06:05:18.5+00:00
                      lastModifiedTime: 2017-02-09T21:35:15.373+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/OaaSCSXASVNLMD6CUTP2UKUNHMCSLLJRVOSRAS2HOBKX4B3A3UBNLZWZEA-West-Europe/providers/Microsoft.Automation/automationAccounts/MyTestmyTest-WEU
                    location: West Europe
                    name: MyTestmyTest-WEU
                    properties:
                      creationTime: 2014-11-12T02:48:51.473+00:00
                      lastModifiedTime: 2017-02-09T21:35:15.373+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/WEDeploy1/providers/Microsoft.Automation/automationAccounts/WEDDeployDSC1
                    location: westeurope
                    name: WEDDeployDSC1
                    properties:
                      creationTime: 2015-04-28T23:20:01.73+00:00
                      lastModifiedTime: 2017-03-13T08:43:47.36+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/SEADeploy1/providers/Microsoft.Automation/automationAccounts/SEADDeployDSC1
                    location: southeamyia
                    name: SEADDeployDSC1
                    properties:
                      creationTime: 2015-04-28T19:06:39.1+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.683+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/seaDemo1/providers/Microsoft.Automation/automationAccounts/seaDemoAutomation1
                    location: southeamyia
                    name: seaDemoAutomation1
                    properties:
                      creationTime: 2015-04-25T01:31:32.15+00:00
                      lastModifiedTime: 2017-02-09T21:35:16.683+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/aadscdemo1/providers/Microsoft.Automation/automationAccounts/AAsnoverDemo2
                    location: South Central US
                    name: AAsnoverDemo2
                    properties:
                      creationTime: 2016-01-29T02:30:05.84+00:00
                      lastModifiedTime: 2017-02-09T21:35:17.107+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/SCUSDeploy1/providers/Microsoft.Automation/automationAccounts/SCUSDDeployDSC1
                    location: southcentralus
                    name: SCUSDDeployDSC1
                    properties:
                      creationTime: 2015-06-04T23:06:44.897+00:00
                      lastModifiedTime: 2017-02-09T21:35:17.107+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/eus2Demo1/providers/Microsoft.Automation/automationAccounts/scusposthydtest1
                    location: South Central US
                    name: scusposthydtest1
                    properties:
                      creationTime: 2015-06-04T16:44:18.823+00:00
                      lastModifiedTime: 2017-02-09T21:35:17.107+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/OaaSCSXASVNLMD6CUTP2UKUNHMCSLLJRVOSRAS2HOBKX4B3A3UBNLZWZEA-South-Central-US/providers/Microsoft.Automation/automationAccounts/scustestaccount1
                    location: South Central US
                    name: scustestaccount1
                    properties:
                      creationTime: 2015-05-30T01:54:57.313+00:00
                      lastModifiedTime: 2017-02-09T21:35:17.107+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/UKSRG1/providers/Microsoft.Automation/automationAccounts/AAUKSmyTest1
                    location: uksouth
                    name: AAUKSmyTest1
                    properties:
                      creationTime: 2017-02-15T02:31:03.19+00:00
                      lastModifiedTime: 2017-02-15T02:31:03.19+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/Gaurav_machines/providers/Microsoft.Automation/automationAccounts/Tip-WCUS-AutomationAccount
                    location: westcentralus
                    name: Tip-WCUS-AutomationAccount
                    properties:
                      creationTime: 2017-03-08T19:53:36.2933333+00:00
                      lastModifiedTime: 2017-03-08T19:53:36.2933333+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/myRG/providers/Microsoft.Automation/automationAccounts/aa-my
                    location: northeurope
                    name: aa-my
                    properties:
                      creationTime: 2016-09-21T18:59:56.26+00:00
                      lastModifiedTime: 2017-02-09T21:35:15.457+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/CIDRG/providers/Microsoft.Automation/automationAccounts/CIDAccout1
                    location: Central India
                    name: CIDAccout1
                    properties:
                      creationTime: 2016-02-24T20:04:58.867+00:00
                      lastModifiedTime: 2017-02-09T21:35:19.003+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/aaspntest
                    location: northcentralus
                    name: aaspntest
                    properties:
                      creationTime: 2016-12-06T17:18:51.88+00:00
                      lastModifiedTime: 2017-02-09T21:35:19.37+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/dsccomposite
                    location: northcentralus
                    name: dsccomposite
                    properties:
                      creationTime: 2017-02-13T17:37:55.163+00:00
                      lastModifiedTime: 2017-03-06T17:19:15.09+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/dsclinux
                    location: northcentralus
                    name: dsclinux
                    properties:
                      creationTime: 2017-03-06T21:50:05.493+00:00
                      lastModifiedTime: 2017-03-06T21:50:05.493+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/mydsc
                    location: northcentralus
                    name: mydsc
                    properties:
                      creationTime: 2016-11-01T17:28:36.197+00:00
                      lastModifiedTime: 2017-02-09T21:35:19.37+00:00
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/my/providers/Microsoft.Automation/automationAccounts/mydsc2
                    location: northcentralus
                    name: mydsc2
                    properties:
                      creationTime: 2016-11-01T18:50:06.063+00:00
                      lastModifiedTime: 2017-03-11T01:33:13.113+00:00
                    type: Microsoft.Automation/AutomationAccounts
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts":
    get:
      description: Retrieve a list of accounts within a given resource group.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/automationaccountoperations
      operationId: AutomationAccount_ListByResourceGroup
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AutomationAccountListResult"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - AutomationAccount
      x-ms-examples:
        List automation accounts by resource group:
          parameters:
            api-version: 2015-10-31
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myaccount
                    location: eastus2
                    name: myaccount
                    properties:
                      creationTime: 2016-09-24T00:47:04.227+00:00
                      lastModifiedBy: myEmailId@microsoft.com
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                      state: Ok
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccount123
                    location: eastus2
                    name: myAccount123
                    properties:
                      creationTime: 2016-09-29T00:32:32.52+00:00
                      lastModifiedBy: myEmailId@microsoft.com
                      lastModifiedTime: 2017-02-09T21:35:16.4+00:00
                      state: Ok
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAccountasfads
                    location: East US 2
                    name: myAccountasfads
                    properties:
                      creationTime: 2017-03-24T23:21:03.27+00:00
                      lastModifiedBy: myEmailId@microsoft.com
                      lastModifiedTime: 2017-03-24T23:21:03.27+00:00
                      state: Ok
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount1
                    location: East US 2
                    name: myAutomationAccount1
                    properties:
                      creationTime: 2017-03-24T23:22:33.26+00:00
                      lastModifiedBy: myEmailId@microsoft.com
                      lastModifiedTime: 2017-03-24T23:22:33.26+00:00
                      state: Ok
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11
                    location: East US 2
                    name: myAutomationAccount11
                    properties:
                      creationTime: 2017-03-26T02:10:24.523+00:00
                      lastModifiedBy: myEmailId@microsoft.com
                      lastModifiedTime: 2017-03-26T02:11:12.027+00:00
                      state: Ok
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount2
                    location: East US 2
                    name: myAutomationAccount2
                    properties:
                      creationTime: 2017-03-24T23:24:20.31+00:00
                      lastModifiedBy: myEmailId@microsoft.com
                      lastModifiedTime: 2017-03-24T23:24:20.31+00:00
                      state: Ok
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount3
                    location: East US 2
                    name: myAutomationAccount3
                    properties:
                      creationTime: 2017-03-24T23:24:43.967+00:00
                      lastModifiedBy: myEmailId@microsoft.com
                      lastModifiedTime: 2017-03-24T23:24:43.967+00:00
                      state: Ok
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount4
                    location: East US 2
                    name: myAutomationAccount4
                    properties:
                      creationTime: 2017-03-25T02:04:56.9+00:00
                      lastModifiedBy: myEmailId@microsoft.com
                      lastModifiedTime: 2017-03-25T02:04:56.9+00:00
                      state: Ok
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount6
                    location: East US 2
                    name: myAutomationAccount6
                    properties:
                      creationTime: 2017-03-25T02:10:44.567+00:00
                      lastModifiedBy: myEmailId@microsoft.com
                      lastModifiedTime: 2017-03-25T02:10:44.567+00:00
                      state: Ok
                    type: Microsoft.Automation/AutomationAccounts
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount7
                    location: East US 2
                    name: myAutomationAccount7
                    properties:
                      creationTime: 2017-03-25T02:19:17.943+00:00
                      lastModifiedBy: myEmailId@microsoft.com
                      lastModifiedTime: 2017-03-25T02:19:17.943+00:00
                      state: Ok
                    type: Microsoft.Automation/AutomationAccounts
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}":
    delete:
      description: Delete an automation account.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/automationaccountoperations
      operationId: AutomationAccount_Delete
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - AutomationAccount
      x-ms-examples:
        Delete automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount9
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
    get:
      description: Get information about an Automation Account.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/automationaccountoperations
      operationId: AutomationAccount_Get
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AutomationAccount"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - AutomationAccount
      x-ms-examples:
        Get automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount9
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: null
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount9
                location: East US 2
                name: myAutomationAccount9
                properties:
                  creationTime: 2017-03-26T01:13:43.267+00:00
                  lastModifiedBy: myEmailId@microsoft.com
                  lastModifiedTime: 2017-03-26T01:13:43.267+00:00
                  sku:
                    capacity: null
                    family: null
                    name: Free
                  state: Ok
                tags: {}
                type: Microsoft.Automation/AutomationAccounts
              headers: {}
    patch:
      description: Update an automation account.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/automationaccountoperations
      operationId: AutomationAccount_Update
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Parameters supplied to the update automation account.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/AutomationAccountUpdateParameters"
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AutomationAccount"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - AutomationAccount
      x-ms-examples:
        Update an automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount9
            parameters:
              location: East US 2
              name: myAutomationAccount9
              properties:
                sku:
                  name: Free
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: null
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount9
                location: East US 2
                name: myAutomationAccount9
                properties:
                  creationTime: 2017-03-26T01:13:43.267+00:00
                  lastModifiedBy: myEmailId@microsoft.com
                  lastModifiedTime: 2017-03-26T01:13:43.267+00:00
                  sku:
                    capacity: null
                    family: null
                    name: Free
                  state: Ok
                tags: {}
                type: Microsoft.Automation/AutomationAccounts
              headers: {}
    put:
      description: Create or update automation account.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/automationaccountoperations
      operationId: AutomationAccount_CreateOrUpdate
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Parameters supplied to the create or update automation account.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/AutomationAccountCreateOrUpdateParameters"
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AutomationAccount"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/AutomationAccount"
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - AutomationAccount
      x-ms-examples:
        Create or update automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount9
            parameters:
              location: East US 2
              name: myAutomationAccount9
              properties:
                sku:
                  name: Free
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: null
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount9
                location: East US 2
                name: ContoseAutomationAccount
                properties:
                  creationTime: 2017-03-28T18:21:15.187+00:00
                  lastModifiedBy: myEmaild@microsoft.com
                  lastModifiedTime: 2017-03-28T18:21:15.187+00:00
                  sku:
                    capacity: null
                    family: null
                    name: Free
                  state: Ok
                tags: {}
                type: Microsoft.Automation/AutomationAccounts
              headers: {}
            "201":
              body:
                etag: null
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount9
                location: East US 2
                name: myAutomationAccount9
                properties:
                  creationTime: 2017-03-26T01:13:43.267+00:00
                  lastModifiedBy: myEmailId@microsoft.com
                  lastModifiedTime: 2017-03-26T01:13:43.267+00:00
                  sku:
                    capacity: null
                    family: null
                    name: Free
                  state: Ok
                tags: {}
                type: Microsoft.Automation/AutomationAccounts
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/listKeys":
    post:
      description: Retrieve the automation keys for an account.
      operationId: Keys_ListByAutomationAccount
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/KeyListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - ListKeys
      x-ms-examples:
        Get lists of an automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: MyAutomationAccount
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                keys:
                  - KeyName: Primary
                    Permissions: Full
                    Value: "**************************************************************"
                  - KeyName: Secondary
                    Permissions: Full
                    Value: "**************************************************************"
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/statistics":
    get:
      description: Retrieve the statistics for the account.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/statisticsoperations
      operationId: Statistics_ListByAutomationAccount
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/StatisticsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Statistics
      x-ms-examples:
        Get statistics of an automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount11
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - counterProperty: New
                    counterValue: 0
                    endTime: 2017-03-26T02:11:49.9879197+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/New
                    startTime: 2017-03-19T02:11:49.9879197+00:00
                  - counterProperty: Activating
                    counterValue: 0
                    endTime: 2017-03-26T02:11:49.9879197+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Activating
                    startTime: 2017-03-19T02:11:49.9879197+00:00
                  - counterProperty: Running
                    counterValue: 0
                    endTime: 2017-03-26T02:11:49.9879197+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Running
                    startTime: 2017-03-19T02:11:49.9879197+00:00
                  - counterProperty: Completed
                    counterValue: 0
                    endTime: 2017-03-26T02:11:49.9879197+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Completed
                    startTime: 2017-03-19T02:11:49.9879197+00:00
                  - counterProperty: Failed
                    counterValue: 0
                    endTime: 2017-03-26T02:11:49.9879197+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Failed
                    startTime: 2017-03-19T02:11:49.9879197+00:00
                  - counterProperty: Stopped
                    counterValue: 0
                    endTime: 2017-03-26T02:11:49.9879197+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Stopped
                    startTime: 2017-03-19T02:11:49.9879197+00:00
                  - counterProperty: Blocked
                    counterValue: 0
                    endTime: 2017-03-26T02:11:49.9879197+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Blocked
                    startTime: 2017-03-19T02:11:49.9879197+00:00
                  - counterProperty: Suspended
                    counterValue: 0
                    endTime: 2017-03-26T02:11:49.9879197+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Suspended
                    startTime: 2017-03-19T02:11:49.9879197+00:00
                  - counterProperty: Disconnected
                    counterValue: 0
                    endTime: 2017-03-26T02:11:49.9879197+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Disconnected
                    startTime: 2017-03-19T02:11:49.9879197+00:00
                  - counterProperty: Suspending
                    counterValue: 0
                    endTime: 2017-03-26T02:11:49.9879197+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Suspending
                    startTime: 2017-03-19T02:11:49.9879197+00:00
                  - counterProperty: Stopping
                    counterValue: 0
                    endTime: 2017-03-26T02:11:49.9879197+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Stopping
                    startTime: 2017-03-19T02:11:49.9879197+00:00
                  - counterProperty: Resuming
                    counterValue: 0
                    endTime: 2017-03-26T02:11:49.9879197+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Resuming
                    startTime: 2017-03-19T02:11:49.9879197+00:00
                  - counterProperty: Removing
                    counterValue: 0
                    endTime: 2017-03-26T02:11:49.9879197+00:00
                    id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount11/statistics/Removing
                    startTime: 2017-03-19T02:11:49.9879197+00:00
              headers: {}
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/usages":
    get:
      description: Retrieve the usage for the account id.
      externalDocs:
        url: http://aka.ms/azureautomationsdk/usageoperations
      operationId: Usages_ListByAutomationAccount
      parameters:
        - description: Name of an Azure Resource group.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the automation account.
          in: path
          name: automationAccountName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/UsageListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Usages
      x-ms-examples:
        Get usages of an automation account:
          parameters:
            api-version: 2015-10-31
            automationAccountName: myAutomationAccount11
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - currentValue: 0
                    limit: 500
                    name:
                      localizedValue: AccountUsage
                      value: AccountUsage
                    throttleStatus: NotThrottled
                    unit: Minute
                  - currentValue: 429
                    limit: 500
                    name:
                      localizedValue: SubscriptionUsage
                      value: SubscriptionUsage
                    throttleStatus: NotThrottled
                    unit: Minute
                  - currentValue: 8
                    limit: 5
                    name:
                      localizedValue: DscSubscriptionUsage
                      value: DscSubscriptionUsage
                    throttleStatus: ThrottledAtSubscriptionLevel
                    unit: Count
              headers: {}
      x-ms-pageable:
        nextLinkName: null
definitions:
  AutomationAccount:
    allOf:
      - allOf:
          - description: The core properties of ARM resources
            properties:
              id:
                description: Fully qualified resource Id for the resource
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The Azure Region where the resource lives
            type: string
            x-ms-mutability:
              - read
              - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
              - read
              - create
              - update
        type: object
    description: Definition of the automation account type.
    properties:
      etag:
        description: Gets or sets the etag of the resource.
        type: string
      properties:
        $ref: "#/definitions/AutomationAccountProperties"
        description: Gets or sets the automation account properties.
        x-ms-client-flatten: true
  AutomationAccountCreateOrUpdateParameters:
    description: The parameters supplied to the create or update automation account operation.
    properties:
      location:
        description: Gets or sets the location of the resource.
        type: string
      name:
        description: Gets or sets name of the resource.
        type: string
      properties:
        $ref: "#/definitions/AutomationAccountCreateOrUpdateProperties"
        description: Gets or sets account create or update properties.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: Gets or sets the tags attached to the resource.
        type: object
  AutomationAccountCreateOrUpdateProperties:
    description: The parameters supplied to the create or update account properties.
    properties:
      sku:
        $ref: "#/definitions/Sku"
        description: Gets or sets account SKU.
  AutomationAccountListResult:
    description: The response model for the list account operation.
    properties:
      nextLink:
        description: Gets or sets the next link.
        type: string
      value:
        description: Gets or sets list of accounts.
        items:
          $ref: "#/definitions/AutomationAccount"
        type: array
  AutomationAccountProperties:
    description: Definition of the account property.
    properties:
      creationTime:
        description: Gets the creation time.
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      description:
        description: Gets or sets the description.
        type: string
      lastModifiedBy:
        description: Gets or sets the last modified by.
        type: string
      lastModifiedTime:
        description: Gets the last modified time.
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      sku:
        $ref: "#/definitions/Sku"
        description: Gets or sets the SKU of account.
      state:
        description: Gets status of account.
        enum:
          - Ok
          - Unavailable
          - Suspended
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: AutomationAccountState
  AutomationAccountUpdateParameters:
    description: The parameters supplied to the update automation account operation.
    properties:
      location:
        description: Gets or sets the location of the resource.
        type: string
      name:
        description: Gets or sets the name of the resource.
        type: string
      properties:
        $ref: "#/definitions/AutomationAccountUpdateProperties"
        description: Gets or sets account update properties.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: Gets or sets the tags attached to the resource.
        type: object
  AutomationAccountUpdateProperties:
    description: The parameters supplied to the update account properties.
    properties:
      sku:
        $ref: "#/definitions/Sku"
        description: Gets or sets account SKU.
  Key:
    description: Automation key which is used to register a DSC Node
    properties:
      KeyName:
        description: Automation key name.
        enum:
          - Primary
          - Secondary
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: AutomationKeyName
      Permissions:
        description: Automation key permissions.
        enum:
          - Read
          - Full
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: AutomationKeyPermissions
      Value:
        description: Value of the Automation Key used for registration.
        readOnly: true
        type: string
  KeyListResult:
    properties:
      keys:
        description: Lists the automation keys.
        items:
          $ref: "#/definitions/Key"
        type: array
  Operation:
    description: Automation REST API operation
    properties:
      display:
        description: Provider, Resource and Operation values
        properties:
          operation:
            description: "Operation type: Read, write, delete, etc."
            type: string
          provider:
            description: "Service provider: Microsoft.Automation"
            type: string
          resource:
            description: "Resource on which the operation is performed: Runbooks, Jobs etc."
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}"
        type: string
    type: object
  OperationListResult:
    description: The response model for the list of Automation operations
    properties:
      value:
        description: List of Automation operations supported by the Automation resource provider.
        items:
          $ref: "#/definitions/Operation"
        type: array
  Sku:
    description: The account SKU.
    properties:
      capacity:
        description: Gets or sets the SKU capacity.
        format: int32
        type: integer
      family:
        description: Gets or sets the SKU family.
        type: string
      name:
        description: Gets or sets the SKU name of the account.
        enum:
          - Free
          - Basic
        type: string
        x-ms-enum:
          modelAsString: true
          name: SkuNameEnum
    required:
      - name
  Statistics:
    description: Definition of the statistic.
    properties:
      counterProperty:
        description: Gets the property value of the statistic.
        readOnly: true
        type: string
      counterValue:
        description: Gets the value of the statistic.
        format: int64
        readOnly: true
        type: integer
      endTime:
        description: Gets the endTime of the statistic.
        format: date-time
        readOnly: true
        type: string
        x-nullable: true
      id:
        description: Gets the id.
        readOnly: true
        type: string
      startTime:
        description: Gets the startTime of the statistic.
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
  StatisticsListResult:
    description: The response model for the list statistics operation.
    properties:
      value:
        description: Gets or sets a list of statistics.
        items:
          $ref: "#/definitions/Statistics"
        type: array
  Usage:
    description: Definition of Usage.
    properties:
      currentValue:
        description: Gets or sets the current usage value.
        format: double
        type: number
      id:
        description: Gets or sets the id of the resource.
        type: string
      limit:
        description: Gets or sets max limit. -1 for unlimited
        format: int64
        type: integer
      name:
        $ref: "#/definitions/UsageCounterName"
        description: Gets or sets the usage counter name.
      throttleStatus:
        description: Gets or sets the throttle status.
        type: string
      unit:
        description: Gets or sets the usage unit name.
        type: string
  UsageCounterName:
    description: Definition of usage counter name.
    properties:
      localizedValue:
        description: Gets or sets the localized usage counter name.
        type: string
      value:
        description: Gets or sets the usage counter name.
        type: string
  UsageListResult:
    description: The response model for the get usage operation.
    properties:
      value:
        description: Gets or sets usage.
        items:
          $ref: "#/definitions/Usage"
        type: array
