swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: BatchManagement
  version: 2019-08-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-ms-code-generation-settings:
    name: BatchManagementClient
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/batch/resource-manager/Microsoft.Batch/stable/2019-08-01/BatchManagement.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: batch-BatchManagement
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  AccountNameParameter:
    description: The name of the Batch account.
    in: path
    maxLength: 24
    minLength: 3
    name: accountName
    pattern: ^[-\w\._]+$
    required: true
    type: string
    x-ms-parameter-location: method
  ApiVersionParameter:
    description: The API version to be used with the HTTP request.
    in: query
    name: api-version
    required: true
    type: string
  ApplicationNameParameter:
    description: The name of the application. This must be unique within the account.
    in: path
    maxLength: 64
    minLength: 1
    name: applicationName
    pattern: ^[a-zA-Z0-9_-]+$
    required: true
    type: string
    x-ms-parameter-location: method
  CertificateNameParameter:
    description: The identifier for the certificate. This must be made up of algorithm and thumbprint separated by a dash, and must match the certificate data in the request. For example SHA1-a3d1c5.
    in: path
    maxLength: 45
    minLength: 5
    name: certificateName
    pattern: ^[\w]+-[\w]+$
    required: true
    type: string
    x-ms-parameter-location: method
  PoolNameParameter:
    description: The pool name. This must be unique within the account.
    in: path
    maxLength: 64
    minLength: 1
    name: poolName
    pattern: ^[a-zA-Z0-9_-]+$
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: The name of the resource group that contains the Batch account.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)
    in: path
    name: subscriptionId
    required: true
    type: string
  VersionNameParameter:
    description: The version of the application.
    in: path
    maxLength: 64
    minLength: 1
    name: versionName
    pattern: ^[a-zA-Z0-9_-][a-zA-Z0-9_.-]*$
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.Batch/operations:
    get:
      description: Lists available operations for the Microsoft.Batch provider
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the list of available operations.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Batch/batchAccounts":
    get:
      description: Gets information about the Batch accounts associated with the subscription.
      operationId: BatchAccount_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains a list of Batch account entities associated with the subscription.
          schema:
            $ref: "#/definitions/BatchAccountListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - BatchAccount
      x-ms-examples:
        BatchAccountList:
          parameters:
            api-version: 2019-08-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct
                    location: japaneast
                    name: sampleacct
                    properties:
                      accountEndpoint: sampleacct.japaneast.batch.azure.com
                      activeJobAndJobScheduleQuota: 20
                      autoStorage:
                        lastKeySync: 2016-03-10T23:48:38.9878479Z
                        storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
                      dedicatedCoreQuota: 20
                      lowPriorityCoreQuota: 20
                      poolAllocationMode: BatchService
                      poolQuota: 20
                      provisioningState: Succeeded
                    type: Microsoft.Batch/batchAccounts
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Batch/locations/{locationName}/checkNameAvailability":
    post:
      description: Checks whether the Batch account name is available in the specified region.
      operationId: Location_CheckNameAvailability
      parameters:
        - description: The desired region for the name check.
          in: path
          name: locationName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: Properties needed to check the availability of a name.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CheckNameAvailabilityParameters"
      responses:
        "200":
          description: Success. Returns details about whether a Batch account name is available.
          schema:
            $ref: "#/definitions/CheckNameAvailabilityResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      x-ms-examples:
        LocationCheckNameAvailability_AlreadyExists:
          parameters:
            api-version: 2019-08-01
            locationName: japaneast
            parameters:
              name: existingaccountname
              type: Microsoft.Batch/batchAccounts
            subscriptionId: subid
          responses:
            "200":
              body:
                message: An account named 'existingaccountname' is already in use.
                nameAvailable: false
                reason: AlreadyExists
        LocationCheckNameAvailability_Available:
          parameters:
            api-version: 2019-08-01
            locationName: japaneast
            parameters:
              name: newaccountname
              type: Microsoft.Batch/batchAccounts
            subscriptionId: subid
          responses:
            "200":
              body:
                nameAvailable: true
  "/subscriptions/{subscriptionId}/providers/Microsoft.Batch/locations/{locationName}/quotas":
    get:
      description: Gets the Batch service quotas for the specified subscription at the given location.
      operationId: Location_GetQuotas
      parameters:
        - description: The region for which to retrieve Batch service quotas.
          in: path
          name: locationName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the Batch service quotas for the subscription in the specified location.
          schema:
            $ref: "#/definitions/BatchLocationQuota"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Location
      x-ms-examples:
        LocationGetQuotas:
          parameters:
            api-version: 2019-08-01
            locationName: japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                accountQuota: 1
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts":
    get:
      description: Gets information about the Batch accounts associated with the specified resource group.
      operationId: BatchAccount_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains a list of Batch account entities associated with the resource group.
          schema:
            $ref: "#/definitions/BatchAccountListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - BatchAccount
      x-ms-examples:
        BatchAccountListByResourceGroup:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct
                    location: japaneast
                    name: sampleacct
                    properties:
                      accountEndpoint: sampleacct.japaneast.batch.azure.com
                      activeJobAndJobScheduleQuota: 20
                      autoStorage:
                        lastKeySync: 2016-03-10T23:48:38.9878479Z
                        storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
                      dedicatedCoreQuota: 20
                      lowPriorityCoreQuota: 20
                      poolAllocationMode: BatchService
                      poolQuota: 20
                      provisioningState: Succeeded
                    type: Microsoft.Batch/batchAccounts
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}":
    delete:
      description: Deletes the specified Batch account.
      operationId: BatchAccount_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful.
        "202":
          description: The operation will be completed asynchronously.
          headers:
            Location:
              description: The URL of the resource used to check the status of the asynchronous operation.
              type: string
            Retry-After:
              description: Suggested delay to check the status of the asynchronous operation. The value is an integer that specifies the delay in seconds.
              format: int32
              type: integer
        "204":
          description: NoContent -- account does not exist in the subscription.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - BatchAccount
      x-ms-examples:
        BatchAccountDelete:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets information about the specified Batch account.
      operationId: BatchAccount_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the Batch account entity.
          schema:
            $ref: "#/definitions/BatchAccount"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - BatchAccount
      x-ms-examples:
        BatchAccountGet:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct
                location: japaneast
                name: sampleacct
                properties:
                  accountEndpoint: sampleacct.japaneast.batch.azure.com
                  activeJobAndJobScheduleQuota: 20
                  autoStorage:
                    lastKeySync: 2016-03-10T23:48:38.9878479Z
                    storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
                  dedicatedCoreQuota: 20
                  lowPriorityCoreQuota: 20
                  poolAllocationMode: BatchService
                  poolQuota: 20
                  provisioningState: Succeeded
                type: Microsoft.Batch/batchAccounts
    patch:
      description: Updates the properties of an existing Batch account.
      operationId: BatchAccount_Update
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: Additional parameters for account update.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/BatchAccountUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the Batch account entity.
          schema:
            $ref: "#/definitions/BatchAccount"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - BatchAccount
      x-ms-examples:
        BatchAccountUpdate:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            parameters:
              properties:
                autoStorage:
                  storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct
                location: japaneast
                name: sampleacct
                properties:
                  accountEndpoint: sampleacct.japaneast.batch.azure.com
                  activeJobAndJobScheduleQuota: 20
                  autoStorage:
                    lastKeySync: 2016-03-10T23:48:38.9878479Z
                    storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
                  dedicatedCoreQuota: 20
                  lowPriorityCoreQuota: 20
                  poolAllocationMode: BatchService
                  poolQuota: 20
                  provisioningState: Succeeded
                type: Microsoft.Batch/batchAccounts
    put:
      description: Creates a new Batch account with the specified parameters. Existing accounts cannot be updated with this API and should instead be updated with the Update Batch Account API.
      operationId: BatchAccount_Create
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: "A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/."
          in: path
          maxLength: 24
          minLength: 3
          name: accountName
          pattern: ^[-\w\._]+$
          required: true
          type: string
        - description: Additional parameters for account creation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/BatchAccountCreateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the Batch account entity.
          schema:
            $ref: "#/definitions/BatchAccount"
        "202":
          description: The operation will be completed asynchronously.
          headers:
            Location:
              description: The URL of the resource used to check the status of the asynchronous operation.
              type: string
            Retry-After:
              description: Suggested delay to check the status of the asynchronous operation. The value is an integer that specifies the delay in seconds.
              format: int32
              type: integer
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - BatchAccount
      x-ms-examples:
        BatchAccountCreate_BYOS:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            parameters:
              location: japaneast
              properties:
                autoStorage:
                  storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
                keyVaultReference:
                  id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.KeyVault/vaults/sample
                  url: http://sample.vault.azure.net/
                poolAllocationMode: UserSubscription
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct
                location: japaneast
                name: sampleacct
                properties:
                  accountEndpoint: sampleacct.japaneast.batch.azure.com
                  activeJobAndJobScheduleQuota: 20
                  autoStorage:
                    lastKeySync: 2016-03-10T23:48:38.9878479Z
                    storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
                  dedicatedCoreQuota: 20
                  keyVaultReference:
                    id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.KeyVault/vaults/sample
                    url: http://sample.vault.azure.net/
                  lowPriorityCoreQuota: 20
                  poolAllocationMode: UserSubscription
                  poolQuota: 20
                  provisioningState: Succeeded
                type: Microsoft.Batch/batchAccounts
            "202": {}
        BatchAccountCreate_Default:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            parameters:
              location: japaneast
              properties:
                autoStorage:
                  storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct
                location: japaneast
                name: sampleacct
                properties:
                  accountEndpoint: sampleacct.japaneast.batch.azure.com
                  activeJobAndJobScheduleQuota: 20
                  autoStorage:
                    lastKeySync: 2016-03-10T23:48:38.9878479Z
                    storageAccountId: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Storage/storageAccounts/samplestorage
                  dedicatedCoreQuota: 20
                  lowPriorityCoreQuota: 20
                  poolAllocationMode: BatchService
                  poolQuota: 20
                  provisioningState: Succeeded
                type: Microsoft.Batch/batchAccounts
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications":
    get:
      description: Lists all of the applications in the specified account.
      operationId: Application_List
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The maximum number of items to return in the response.
          format: int32
          in: query
          name: maxresults
          required: false
          type: integer
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains a list of the application entities associated with the specified account.
          schema:
            $ref: "#/definitions/ListApplicationsResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Application
      x-ms-examples:
        ApplicationList:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: W/"0x8D64F91A9089879"
                    id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/applications/app1
                    name: app1
                    properties:
                      allowUpdates: false
                      defaultVersion: "1"
                    type: Microsoft.Batch/batchAccounts/applications
                  - etag: W/"0x8D64F91A9089879"
                    id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/applications/app2
                    name: app1
                    properties:
                      allowUpdates: false
                      defaultVersion: "2.0"
                      displayName: myAppName
                    type: Microsoft.Batch/batchAccounts/applications
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationName}":
    delete:
      description: Deletes an application.
      operationId: Application_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApplicationNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful.
        "204":
          description: The operation was successful.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Application
      x-ms-examples:
        ApplicationDelete:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            applicationName: app1
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets information about the specified application.
      operationId: Application_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApplicationNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the application entity.
          schema:
            $ref: "#/definitions/Application"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Application
      x-ms-examples:
        ApplicationGet:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            applicationName: app1
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D64F915BDF7F00"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/applications/app1
                name: app1
                properties:
                  allowUpdates: true
                  displayName: Sample Application
                type: Microsoft.Batch/batchAccounts/applications
              headers:
                ETag: W/"0x8D64F915BDF7F00"
    patch:
      description: Updates settings for the specified application.
      operationId: Application_Update
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApplicationNameParameter"
        - description: The parameters for the request.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Application"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the application entity.
          schema:
            $ref: "#/definitions/Application"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Application
      x-ms-examples:
        ApplicationUpdate:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            applicationName: app1
            parameters:
              properties:
                allowUpdates: true
                defaultVersion: "2"
                displayName: myAppName
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D64F915BDF7F00"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/applications/app1
                name: app1
                properties:
                  allowUpdates: true
                  defaultVersion: "2"
                  displayName: myAppName
                type: Microsoft.Batch/batchAccounts/applications
              headers:
                ETag: W/"0x8D64F915BDF7F00"
    put:
      description: Adds an application to the specified Batch account.
      operationId: Application_Create
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApplicationNameParameter"
        - description: The parameters for the request.
          in: body
          name: parameters
          required: false
          schema:
            $ref: "#/definitions/Application"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the application entity.
          schema:
            $ref: "#/definitions/Application"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Application
      x-ms-examples:
        ApplicationCreate:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            applicationName: app1
            parameters:
              properties:
                allowUpdates: false
                displayName: myAppName
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D64F8EBB3DC411"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/applications/app1
                name: app1
                properties:
                  allowUpdates: false
                  displayName: myAppName
                type: Microsoft.Batch/batchAccounts/applications
              headers:
                ETag: W/"0x8D64F8EBB3DC411"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationName}/versions":
    get:
      description: Lists all of the application packages in the specified application.
      operationId: ApplicationPackage_List
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApplicationNameParameter"
        - description: The maximum number of items to return in the response.
          format: int32
          in: query
          name: maxresults
          required: false
          type: integer
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains a list of the application package entities associated with the specified application.
          schema:
            $ref: "#/definitions/ListApplicationPackagesResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - ApplicationPackage
      x-ms-examples:
        ApplicationList:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            applicationName: app1
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: W/"0x8D64FF0B9F47F67"
                    id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/applications/app1/versions/1.0
                    name: "1.0"
                    properties:
                      state: Pending
                    type: Microsoft.Batch/batchAccounts/applications/versions
                  - etag: W/"0x8D64FF0B9F47F67"
                    id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/applications/app1/versions/2.0
                    name: "2.0"
                    properties:
                      format: zip
                      lastActivationTime: 2017-06-27T18:48:09.9330991Z
                      state: Active
                    type: Microsoft.Batch/batchAccounts/applications/versions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationName}/versions/{versionName}":
    delete:
      description: Deletes an application package record and its associated binary file.
      operationId: ApplicationPackage_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApplicationNameParameter"
        - $ref: "#/parameters/VersionNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful.
        "204":
          description: The operation was successful.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - ApplicationPackage
      x-ms-examples:
        ApplicationPackageDelete:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            applicationName: app1
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
            versionName: "1"
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets information about the specified application package.
      operationId: ApplicationPackage_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApplicationNameParameter"
        - $ref: "#/parameters/VersionNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the application package entity.
          schema:
            $ref: "#/definitions/ApplicationPackage"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - ApplicationPackage
      x-ms-examples:
        ApplicationPackageGet:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            applicationName: app1
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
            versionName: "1"
          responses:
            "200":
              body:
                etag: W/"0x8D64FEC83A3B436"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/applications/app1/versions/1
                name: "1"
                properties:
                  format: zip
                  lastActivationTime: 2017-06-27T18:48:09.9330991Z
                  state: Active
                type: Microsoft.Batch/batchAccounts/applications/versions
              headers:
                ETag: W/"0x8D64FEC83A3B436"
    put:
      description: Creates an application package record. The record contains the SAS where the package should be uploaded to.  Once it is uploaded the `ApplicationPackage` needs to be activated using `ApplicationPackageActive` before it can be used.
      operationId: ApplicationPackage_Create
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApplicationNameParameter"
        - $ref: "#/parameters/VersionNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The parameters for the request.
          in: body
          name: parameters
          required: false
          schema:
            $ref: "#/definitions/ApplicationPackage"
      responses:
        "200":
          description: The operation was successful. The response contains the application package entity.
          schema:
            $ref: "#/definitions/ApplicationPackage"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - ApplicationPackage
      x-ms-examples:
        ApplicationPackageCreate:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            applicationName: app1
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
            versionName: "1"
          responses:
            "200":
              body:
                etag: W/"0x8D64FEC83A3B436"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/applications/app1/versions/1
                name: "1"
                properties:
                  state: Pending
                  storageUrl: http://mystorage1.blob.core.windows.net/myapp?mysas
                  storageUrlExpiry: 2017-06-27T18:48:09.9330991Z
                type: Microsoft.Batch/batchAccounts/applications/versions
              headers:
                ETag: W/"0x8D64FEC83A3B436"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationName}/versions/{versionName}/activate":
    post:
      description: Activates the specified application package. This should be done after the `ApplicationPackage` was created and uploaded. This needs to be done before an `ApplicationPackage` can be used on Pools or Tasks
      operationId: ApplicationPackage_Activate
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApplicationNameParameter"
        - $ref: "#/parameters/VersionNameParameter"
        - description: The parameters for the request.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ActivateApplicationPackageParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the application package entity.
          schema:
            $ref: "#/definitions/ApplicationPackage"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - ApplicationPackage
      x-ms-examples:
        ApplicationPackageActivate:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            applicationName: app1
            parameters:
              format: zip
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
            versionName: "1"
          responses:
            "200":
              body:
                etag: W/"0x8D64FEC83A3B436"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/applications/app1/versions/1
                name: "1"
                properties:
                  format: zip
                  lastActivationTime: 2017-06-27T18:48:09.9330991Z
                  state: Active
                type: Microsoft.Batch/batchAccounts/applications/versions
              headers:
                ETag: W/"0x8D64FEC83A3B436"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/certificates":
    get:
      description: Lists all of the certificates in the specified account.
      operationId: Certificate_ListByBatchAccount
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The maximum number of items to return in the response.
          format: int32
          in: query
          name: maxresults
          required: false
          type: integer
        - description: Comma separated list of properties that should be returned. e.g. "properties/provisioningState". Only top level properties under properties/ are valid for selection.
          in: query
          name: $select
          required: false
          type: string
        - description: OData filter expression. Valid properties for filtering are "properties/provisioningState", "properties/provisioningStateTransitionTime", "name".
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains a list of certificates associated with the account.
          schema:
            $ref: "#/definitions/ListCertificatesResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Certificate
      x-ms-examples:
        ListCertificates:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            maxResults: "1"
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates?api-version=2017-06-01&$skiptoken=NPK%3D28%3A2857p428pug%2022F53A7734C947B8NRK%3D45%3Asha1-c23dc7f22edc793856a7506fe66397ccb4a33b46SM%3D5%3AFalse
                value:
                  - etag: W/"0x8D4EDD5118668F7"
                    id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                    name: sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                    properties:
                      format: Pfx
                      provisioningState: Succeeded
                      provisioningStateTransitionTime: 2017-07-21T01:47:38.4420202Z
                      publicData: MIICrjCCAZagAwI...
                      thumbprint: 0a0e4f50d51beadeac1d35afc5116098e7902e6e
                      thumbprintAlgorithm: sha1
                    type: Microsoft.Batch/batchAccounts/certificates
        ListCertificates - Filter and Select:
          parameters:
            $filter: properties/provisioningStateTransitionTime gt '2017-05-01' or properties/provisioningState eq 'Failed'
            $select: properties/format,properties/provisioningState
            accountName: sampleacct
            api-version: 2019-08-01
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: W/"0x8D4EDD5118668F7"
                    id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                    name: sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                    properties:
                      format: Pfx
                      provisioningState: Failed
                    type: Microsoft.Batch/batchAccounts/certificates
                  - etag: W/"0x8D4EDD5118572E0"
                    id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/sha1-aeb228ffb0bf67a793d61dce263ebd16949f15a1
                    name: sha1-aeb228ffb0bf67a793d61dce263ebd16949f15a1
                    properties:
                      format: Cer
                      provisioningState: Failed
                    type: Microsoft.Batch/batchAccounts/certificates
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/certificates/{certificateName}":
    delete:
      description: Deletes the specified certificate.
      operationId: Certificate_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/CertificateNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful.
        "202":
          description: The operation will be completed asynchronously.
          headers:
            Location:
              description: The URL of the resource used to check the status of the asynchronous operation.
              type: string
            Retry-After:
              description: Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.
              format: int32
              type: integer
        "204":
          description: The operation was successful.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Certificate
      x-ms-examples:
        CertificateDelete:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            certificateName: sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200": {}
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/certificateOperationResults/sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e-8D4EDFF164A11C9?api-version=2019-08-01
                Retry-After: "15"
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets information about the specified certificate.
      operationId: Certificate_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/CertificateNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the certificate entity.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              type: string
          schema:
            $ref: "#/definitions/Certificate"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Certificate
      x-ms-examples:
        Get Certificate:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            certificateName: sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDD5118668F7"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                name: sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                properties:
                  format: Pfx
                  provisioningState: Succeeded
                  provisioningStateTransitionTime: 2017-07-21T01:47:38.4420202Z
                  publicData: MIICrjCCAZagAwI...
                  thumbprint: 0a0e4f50d51beadeac1d35afc5116098e7902e6e
                  thumbprintAlgorithm: sha1
                type: Microsoft.Batch/batchAccounts/certificates
              headers:
                ETag: W/"0x8D4EDD5118668F7"
        Get Certificate with Deletion Error:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            certificateName: sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDD5118668F7"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                name: sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                properties:
                  deleteCertificateError:
                    code: NodesReferencingCertificate
                    details:
                      - code: Nodes
                        message: node1, node3
                    message: |-
                      The specified certificate is being used by the below mentioned node(s)
                      RequestId:2dc78afc-b15b-42d2-8c85-39cb61a0799e
                      Time:2017-08-28T10:22:52.8633406Z
                    target: BatchAccount
                  format: Pfx
                  previousProvisioningState: Deleting
                  previousProvisioningStateTransitionTime: 2017-07-21T00:15:25.5625498Z
                  provisioningState: Failed
                  provisioningStateTransitionTime: 2017-07-21T01:47:38.4420202Z
                  publicData: MIICrjCCAZagAwI...
                  thumbprint: 0a0e4f50d51beadeac1d35afc5116098e7902e6e
                  thumbprintAlgorithm: sha1
                type: Microsoft.Batch/batchAccounts/certificates
              headers:
                ETag: W/"0x8D4EDD5118668F7"
    patch:
      description: Updates the properties of an existing certificate.
      operationId: Certificate_Update
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/CertificateNameParameter"
        - description: Certificate entity to update.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CertificateCreateOrUpdateParameters"
        - description: The entity state (ETag) version of the certificate to update. This value can be omitted or set to "*" to apply the operation unconditionally.
          in: header
          name: If-Match
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the certificate entity.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              type: string
          schema:
            $ref: "#/definitions/Certificate"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Certificate
      x-ms-examples:
        UpdateCertificate:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            certificateName: sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
            parameters:
              properties:
                data: MIIJsgIBAzCCCW4GCSqGSIb3DQE...
                password: KG0UY40e...
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDD5118668F7"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                name: sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                properties:
                  format: Pfx
                  provisioningState: Succeeded
                  provisioningStateTransitionTime: 2017-07-21T01:47:38.4420202Z
                  publicData: MIICrjCCAZagAwI...
                  thumbprint: 0a0e4f50d51beadeac1d35afc5116098e7902e6e
                  thumbprintAlgorithm: sha1
                type: Microsoft.Batch/batchAccounts/certificates
              headers:
                ETag: W/"0x8D4EDD5118668F7"
    put:
      description: Creates a new certificate inside the specified account.
      operationId: Certificate_Create
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/CertificateNameParameter"
        - description: Additional parameters for certificate creation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CertificateCreateOrUpdateParameters"
        - description: The entity state (ETag) version of the certificate to update. A value of "*" can be used to apply the operation only if the certificate already exists. If omitted, this operation will always be applied.
          in: header
          name: If-Match
          required: false
          type: string
        - description: Set to '*' to allow a new certificate to be created, but to prevent updating an existing certificate. Other values will be ignored.
          in: header
          name: If-None-Match
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the certificate entity.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              type: string
          schema:
            $ref: "#/definitions/Certificate"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Certificate
      x-ms-examples:
        CreateCertificate - Full:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            certificateName: sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
            parameters:
              properties:
                data: MIIJsgIBAzCCCW4GCSqGSIb3DQE...
                format: Pfx
                password: KG0UY40e...
                thumbprint: 0a0e4f50d51beadeac1d35afc5116098e7902e6e
                thumbprintAlgorithm: sha1
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDD5118668F7"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                name: sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                properties:
                  format: Pfx
                  provisioningState: Succeeded
                  provisioningStateTransitionTime: 2017-07-21T01:47:38.4420202Z
                  publicData: MIICrjCCAZagAwI...
                  thumbprint: 0a0e4f50d51beadeac1d35afc5116098e7902e6e
                  thumbprintAlgorithm: sha1
                type: Microsoft.Batch/batchAccounts/certificates
              headers:
                ETag: W/"0x8D4EDD5118668F7"
        CreateCertificate - Minimal Cer:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            certificateName: sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
            parameters:
              properties:
                data: MIICrjCCAZagAwI...
                format: Cer
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDD5118668F7"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                name: sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                properties:
                  format: Cer
                  provisioningState: Succeeded
                  provisioningStateTransitionTime: 2017-07-21T01:47:38.4420202Z
                  publicData: MIICrjCCAZagAwI...
                  thumbprint: 0a0e4f50d51beadeac1d35afc5116098e7902e6e
                  thumbprintAlgorithm: sha1
                type: Microsoft.Batch/batchAccounts/certificates
              headers:
                ETag: W/"0x8D4EDD5118668F7"
        CreateCertificate - Minimal Pfx:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            certificateName: sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
            parameters:
              properties:
                data: MIIJsgIBAzCCCW4GCSqGSIb3DQE...
                password: KG0UY40e...
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDD5118668F7"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                name: sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                properties:
                  format: Pfx
                  provisioningState: Succeeded
                  provisioningStateTransitionTime: 2017-07-21T01:47:38.4420202Z
                  publicData: MIICrjCCAZagAwI...
                  thumbprint: 0a0e4f50d51beadeac1d35afc5116098e7902e6e
                  thumbprintAlgorithm: sha1
                type: Microsoft.Batch/batchAccounts/certificates
              headers:
                ETag: W/"0x8D4EDD5118668F7"
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/certificates/{certificateName}/cancelDelete":
    post:
      description: If you try to delete a certificate that is being used by a pool or compute node, the status of the certificate changes to deleteFailed. If you decide that you want to continue using the certificate, you can use this operation to set the status of the certificate back to active. If you intend to delete the certificate, you do not need to run this operation after the deletion failed. You must make sure that the certificate is not being used by any resources, and then you can try again to delete the certificate.
      operationId: Certificate_CancelDeletion
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/CertificateNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the certificate entity.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              type: string
          schema:
            $ref: "#/definitions/Certificate"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Cancels a failed deletion of a certificate from the specified account.
      tags:
        - Certificate
      x-ms-examples:
        CertificateCancelDeletion:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            certificateName: sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDD513C3EDBB"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/samplecct/certificates/sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                name: sha1-0a0e4f50d51beadeac1d35afc5116098e7902e6e
                properties:
                  format: Pfx
                  previousProvisioningState: Failed
                  previousProvisioningStateTransitionTime: 2017-07-21T00:22:54.3299195Z
                  provisioningState: Succeeded
                  provisioningStateTransitionTime: 2017-07-21T01:47:38.4420202Z
                  publicData: MIICrjCCAZagAwI...
                  thumbprint: 0a0e4f50d51beadeac1d35afc5116098e7902e6e
                  thumbprintAlgorithm: sha1
                type: Microsoft.Batch/batchAccounts/certificates
              headers:
                ETag: W/"0x8D4EDD513C3EDBB"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/listKeys":
    post:
      description: This operation applies only to Batch accounts created with a poolAllocationMode of 'BatchService'. If the Batch account was created with a poolAllocationMode of 'UserSubscription', clients cannot use access to keys to authenticate, and must use Azure Active Directory instead. In this case, getting the keys will fail.
      operationId: BatchAccount_GetKeys
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the keys of the Batch account.
          schema:
            $ref: "#/definitions/BatchAccountKeys"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      summary: Gets the account keys for the specified Batch account.
      tags:
        - BatchAccount
      x-ms-examples:
        BatchAccountGetKeys:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                accountName: sampleacct
                primary: AAAA==
                secondary: BBBB==
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools":
    get:
      description: Lists all of the pools in the specified account.
      operationId: Pool_ListByBatchAccount
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The maximum number of items to return in the response.
          format: int32
          in: query
          name: maxresults
          required: false
          type: integer
        - description: Comma separated list of properties that should be returned. e.g. "properties/provisioningState". Only top level properties under properties/ are valid for selection.
          in: query
          name: $select
          required: false
          type: string
        - description: |-
            OData filter expression. Valid properties for filtering are:

             name
             properties/allocationState
             properties/allocationStateTransitionTime
             properties/creationTime
             properties/provisioningState
             properties/provisioningStateTransitionTime
             properties/lastModified
             properties/vmSize
             properties/interNodeCommunication
             properties/scaleSettings/autoScale
             properties/scaleSettings/fixedScale
          in: query
          name: $filter
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains a list of certificates associated with the account.
          schema:
            $ref: "#/definitions/ListPoolsResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Pool
      x-ms-examples:
        ListPool:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            poolName: testpool
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: W/"0x8D4EDFEBFADF4AB"
                    id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool
                    name: testpool
                    properties:
                      allocationState: Steady
                      allocationStateTransitionTime: 2017-08-28T10:22:55.9407275Z
                      applicationLicenses:
                        - app-license0
                        - app-license1
                      applicationPackages:
                        - id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool/applications/app_1234
                          version: asdf
                      certificates:
                        - id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool/certificates/sha1-1234567
                          storeLocation: LocalMachine
                          storeName: MY
                          visibility:
                            - RemoteUser
                      creationTime: 2017-08-28T10:22:55.9407275Z
                      currentDedicatedNodes: 0
                      currentLowPriorityNodes: 0
                      deploymentConfiguration:
                        cloudServiceConfiguration:
                          osFamily: "4"
                          osVersion: WA-GUEST-OS-4.45_201708-01
                      interNodeCommunication: Enabled
                      lastModified: 2017-08-28T10:22:55.9407275Z
                      maxTasksPerNode: 13
                      metadata:
                        - name: metadata-1
                          value: value-1
                        - name: metadata-2
                          value: value-2
                      networkConfiguration:
                        endpointConfiguration:
                          inboundNatPools:
                            - backendPort: 12001
                              frontendPortRangeEnd: 15100
                              frontendPortRangeStart: 15000
                              name: testnat
                              networkSecurityGroupRules:
                                - access: Allow
                                  priority: 150
                                  sourceAddressPrefix: 192.100.12.45
                                  sourcePortRanges:
                                    - "*"
                                - access: Deny
                                  priority: 3500
                                  sourceAddressPrefix: "*"
                                  sourcePortRanges:
                                    - "*"
                              protocol: TCP
                        subnetId: /subscriptions/subid/resourceGroups/rg1234/providers/Microsoft.Network/virtualNetworks/network1234/subnets/subnet123
                      provisioningState: Succeeded
                      provisioningStateTransitionTime: 2017-08-28T10:22:55.9407275Z
                      resizeOperationStatus:
                        errors:
                          - code: AllocationTimedout
                            message: Desired number of dedicated nodes could not be allocated as the resize timeout was reached
                        nodeDeallocationOption: TaskCompletion
                        resizeTimeout: PT8M
                        startTime: 2017-08-28T10:22:55.9407275Z
                        targetDedicatedNodes: 6
                        targetLowPriorityNodes: 28
                      scaleSettings:
                        fixedScale:
                          resizeTimeout: PT8M
                          targetDedicatedNodes: 6
                          targetLowPriorityNodes: 28
                      startTask:
                        commandLine: cmd /c SET
                        environmentSettings:
                          - name: MYSET
                            value: "1234"
                        maxTaskRetryCount: 6
                        resourceFiles:
                          - fileMode: "777"
                            filePath: c:\temp\gohere
                            httpUrl: https://testaccount.blob.core.windows.net/example-blob-file
                        userIdentity:
                          autoUser:
                            elevationLevel: Admin
                            scope: Pool
                        waitForSuccess: true
                      taskSchedulingPolicy:
                        nodeFillType: Pack
                      userAccounts:
                        - elevationLevel: Admin
                          linuxUserConfiguration:
                            gid: 4567
                            uid: 1234
                          name: username1
                      vmSize: STANDARD_D4
                    type: Microsoft.Batch/batchAccounts/pools
        ListPoolWithFilter:
          parameters:
            $filter: startswith(name, 'po') or (properties/allocationState eq 'Steady' and properties/provisioningStateTransitionTime lt datetime'2017-02-02')
            $select: properties/allocationState,properties/provisioningStateTransitionTime,properties/currentDedicatedNodes,properties/currentLowPriorityNodes
            accountName: sampleacct
            api-version: 2019-08-01
            maxResults: "50"
            poolName: testpool
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: W/"0x8D4EDFEBFADF4AB"
                    id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool
                    name: testpool
                    properties:
                      allocationState: Steady
                      currentDedicatedNodes: 0
                      currentLowPriorityNodes: 2
                      provisioningStateTransitionTime: 2017-08-28T10:22:55.9407275Z
                    type: Microsoft.Batch/batchAccounts/pools
                  - etag: W/"0x8D4EDFEBFADF4AB"
                    id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/pooltest
                    name: pooltest
                    properties:
                      allocationState: Resizing
                      currentDedicatedNodes: 4
                      currentLowPriorityNodes: 0
                      provisioningStateTransitionTime: 2017-08-26T10:22:55.9407275Z
                    type: Microsoft.Batch/batchAccounts/pools
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools/{poolName}":
    delete:
      description: Deletes the specified pool.
      operationId: Pool_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/PoolNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful.
        "202":
          description: The operation will be completed asynchronously.
          headers:
            Location:
              description: The URL of the resource used to check the status of the asynchronous operation.
              type: string
            Retry-After:
              description: Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.
              format: int32
              type: integer
        "204":
          description: The operation was successful.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Pool
      x-ms-examples:
        DeletePool:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            poolName: testpool
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200": {}
            "202":
              headers:
                Location: https://management.azure.com/subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/poolOperationResults/delete-testpool-8D4EDFF164A11C9?api-version=2019-08-01
                Retry-After: "15"
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets information about the specified pool.
      operationId: Pool_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/PoolNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the pool entity.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              type: string
          schema:
            $ref: "#/definitions/Pool"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Pool
      x-ms-examples:
        GetPool:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            poolName: testpool
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDFEBFADF4AB"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool
                name: testpool
                properties:
                  allocationState: Resizing
                  allocationStateTransitionTime: 2017-08-28T10:22:55.9407275Z
                  applicationLicenses:
                    - app-license0
                    - app-license1
                  applicationPackages:
                    - id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool/applications/app_1234
                      version: asdf
                  certificates:
                    - id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool/certificates/sha1-1234567
                      storeLocation: LocalMachine
                      storeName: MY
                      visibility:
                        - RemoteUser
                  creationTime: 2017-08-28T10:22:55.9407275Z
                  currentDedicatedNodes: 0
                  currentLowPriorityNodes: 0
                  deploymentConfiguration:
                    cloudServiceConfiguration:
                      osFamily: "4"
                      osVersion: WA-GUEST-OS-4.45_201708-01
                  interNodeCommunication: Enabled
                  lastModified: 2017-08-28T10:22:55.9407275Z
                  maxTasksPerNode: 13
                  metadata:
                    - name: metadata-1
                      value: value-1
                    - name: metadata-2
                      value: value-2
                  networkConfiguration:
                    endpointConfiguration:
                      inboundNatPools:
                        - backendPort: 12001
                          frontendPortRangeEnd: 15100
                          frontendPortRangeStart: 15000
                          name: testnat
                          networkSecurityGroupRules:
                            - access: Allow
                              priority: 150
                              sourceAddressPrefix: 192.100.12.45
                              sourcePortRanges:
                                - "123"
                                - "22"
                            - access: Deny
                              priority: 3500
                              sourceAddressPrefix: "*"
                              sourcePortRanges:
                                - "*"
                          protocol: TCP
                    subnetId: /subscriptions/subid/resourceGroups/rg1234/providers/Microsoft.Network/virtualNetworks/network1234/subnets/subnet123
                  provisioningState: Succeeded
                  provisioningStateTransitionTime: 2017-08-28T10:22:55.9407275Z
                  resizeOperationStatus:
                    nodeDeallocationOption: TaskCompletion
                    resizeTimeout: PT8M
                    startTime: 2017-08-28T10:22:55.9407275Z
                    targetDedicatedNodes: 6
                    targetLowPriorityNodes: 28
                  scaleSettings:
                    fixedScale:
                      resizeTimeout: PT8M
                      targetDedicatedNodes: 6
                      targetLowPriorityNodes: 28
                  startTask:
                    commandLine: cmd /c SET
                    environmentSettings:
                      - name: MYSET
                        value: "1234"
                    maxTaskRetryCount: 6
                    resourceFiles:
                      - fileMode: "777"
                        filePath: c:\temp\gohere
                        httpUrl: https://testaccount.blob.core.windows.net/example-blob-file
                    userIdentity:
                      autoUser:
                        elevationLevel: Admin
                        scope: Pool
                    waitForSuccess: true
                  taskSchedulingPolicy:
                    nodeFillType: Pack
                  userAccounts:
                    - elevationLevel: Admin
                      linuxUserConfiguration:
                        gid: 4567
                        uid: 1234
                      name: username1
                  vmSize: STANDARD_D4
                type: Microsoft.Batch/batchAccounts/pools
              headers:
                ETag: W/"0x8D4EDFEBFADF4AB"
    patch:
      description: Updates the properties of an existing pool.
      operationId: Pool_Update
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/PoolNameParameter"
        - description: Pool properties that should be updated. Properties that are supplied will be updated, any property not supplied will be unchanged.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Pool"
        - description: The entity state (ETag) version of the pool to update. This value can be omitted or set to "*" to apply the operation unconditionally.
          in: header
          name: If-Match
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the pool entity.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              type: string
          schema:
            $ref: "#/definitions/Pool"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Pool
      x-ms-examples:
        UpdatePool - Enable Autoscale:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            parameters:
              properties:
                scaleSettings:
                  autoScale:
                    formula: $TargetDedicatedNodes=34
            poolName: testpool
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDFEBFADF4AB"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool
                name: testpool
                properties:
                  allocationState: Resizing
                  allocationStateTransitionTime: 2017-08-29T10:22:55.9407275Z
                  autoScaleRun:
                    evaluationTime: 2017-08-29T10:22:55.9407275Z
                    results: $TargetDedicatedNodes=34;NodeDeallocationOption=requeue
                  creationTime: 2017-08-28T10:22:55.9407275Z
                  currentDedicatedNodes: 12
                  currentLowPriorityNodes: 0
                  deploymentConfiguration:
                    cloudServiceConfiguration:
                      osFamily: "5"
                      osVersion: "*"
                  interNodeCommunication: Disabled
                  lastModified: 2017-08-29T10:22:55.9407275Z
                  maxTasksPerNode: 1
                  provisioningState: Succeeded
                  provisioningStateTransitionTime: 2017-08-28T10:22:55.9407275Z
                  resizeOperationStatus:
                    nodeDeallocationOption: Requeue
                    resizeTimeout: PT15M
                    startTime: 2017-08-29T10:22:55.9407275Z
                    targetDedicatedNodes: 34
                  scaleSettings:
                    autoScale:
                      evaluationInterval: PT15M
                      formula: $TargetDedicated=34
                  taskSchedulingPolicy:
                    nodeFillType: Spread
                  vmSize: STANDARD_D4
                type: Microsoft.Batch/batchAccounts/pools
              headers:
                ETag: W/"0x8D4EDFEBFADF4AB"
        UpdatePool - Other Properties:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            parameters:
              properties:
                applicationPackages:
                  - id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool/applications/app_1234
                  - id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool/applications/app_5678
                    version: "1.0"
                certificates:
                  - id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool/certificates/sha1-1234567
                    storeLocation: LocalMachine
                    storeName: MY
                metadata:
                  - name: key1
                    value: value1
            poolName: testpool
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDFEBFADF4AB"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool
                name: testpool
                properties:
                  allocationState: Resizing
                  allocationStateTransitionTime: 2017-08-29T10:22:55.9407275Z
                  applicationPackages:
                    - id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool/applications/app_1234
                    - id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool/applications/app_5678
                      version: "1.0"
                  autoScaleRun:
                    evaluationTime: 2017-08-29T10:22:55.9407275Z
                    results: $TargetDedicatedNodes=34;NodeDeallocationOption=requeue
                  certificates:
                    - id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool/certificates/sha1-1234567
                      storeLocation: LocalMachine
                      storeName: MY
                      visibility:
                        - StartTask
                        - Task
                        - RemoteUser
                  creationTime: 2017-08-28T10:22:55.9407275Z
                  currentDedicatedNodes: 12
                  currentLowPriorityNodes: 0
                  deploymentConfiguration:
                    cloudServiceConfiguration:
                      osFamily: "5"
                      osVersion: "*"
                  interNodeCommunication: Disabled
                  lastModified: 2017-08-29T10:22:55.9407275Z
                  maxTasksPerNode: 1
                  metadata:
                    - name: key1
                      value: value1
                  provisioningState: Succeeded
                  provisioningStateTransitionTime: 2017-08-28T10:22:55.9407275Z
                  resizeOperationStatus:
                    nodeDeallocationOption: TaskCompletion
                    resizeTimeout: PT8M
                    startTime: 2017-08-29T10:22:55.9407275Z
                    targetDedicatedNodes: 8
                  scaleSettings:
                    fixedScale:
                      nodeDeallocationOption: TaskCompletion
                      resizeTimeout: PT8M
                      targetDedicatedNodes: 1
                      targetLowPriorityNodes: 0
                  taskSchedulingPolicy:
                    nodeFillType: Spread
                  vmSize: STANDARD_D4
                type: Microsoft.Batch/batchAccounts/pools
              headers:
                ETag: W/"0x8D4EDFEBFADF4AB"
        UpdatePool - Remove Start Task:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            parameters:
              properties:
                startTask: {}
            poolName: testpool
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDFEBFADF4AB"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool
                name: testpool
                properties:
                  allocationState: Resizing
                  allocationStateTransitionTime: 2017-08-29T10:22:55.9407275Z
                  autoScaleRun:
                    evaluationTime: 2017-08-29T10:22:55.9407275Z
                    results: $TargetDedicatedNodes=34;NodeDeallocationOption=requeue
                  creationTime: 2017-08-28T10:22:55.9407275Z
                  currentDedicatedNodes: 12
                  currentLowPriorityNodes: 0
                  deploymentConfiguration:
                    cloudServiceConfiguration:
                      osFamily: "5"
                      osVersion: "*"
                  interNodeCommunication: Disabled
                  lastModified: 2017-08-29T10:22:55.9407275Z
                  maxTasksPerNode: 1
                  provisioningState: Succeeded
                  provisioningStateTransitionTime: 2017-08-28T10:22:55.9407275Z
                  resizeOperationStatus:
                    nodeDeallocationOption: Requeue
                    resizeTimeout: PT15M
                    startTime: 2017-08-29T10:22:55.9407275Z
                    targetDedicatedNodes: 34
                  scaleSettings:
                    autoScale:
                      evaluationInterval: PT15M
                      formula: $TargetDedicated=34
                  taskSchedulingPolicy:
                    nodeFillType: Spread
                  vmSize: STANDARD_D4
                type: Microsoft.Batch/batchAccounts/pools
              headers:
                ETag: W/"0x8D4EDFEBFADF4AB"
        UpdatePool - Resize Pool:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            parameters:
              properties:
                scaleSettings:
                  fixedScale:
                    nodeDeallocationOption: TaskCompletion
                    resizeTimeout: PT8M
                    targetDedicatedNodes: 5
                    targetLowPriorityNodes: 0
            poolName: testpool
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDFEBFADF4AB"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool
                name: testpool
                properties:
                  allocationState: Resizing
                  allocationStateTransitionTime: 2017-08-29T10:22:55.9407275Z
                  autoScaleRun:
                    evaluationTime: 2017-08-29T10:22:55.9407275Z
                    results: $TargetDedicatedNodes=34;NodeDeallocationOption=requeue
                  creationTime: 2017-08-28T10:22:55.9407275Z
                  currentDedicatedNodes: 12
                  currentLowPriorityNodes: 0
                  deploymentConfiguration:
                    cloudServiceConfiguration:
                      osFamily: "5"
                      osVersion: "*"
                  interNodeCommunication: Disabled
                  lastModified: 2017-08-29T10:22:55.9407275Z
                  maxTasksPerNode: 1
                  provisioningState: Succeeded
                  provisioningStateTransitionTime: 2017-08-28T10:22:55.9407275Z
                  resizeOperationStatus:
                    nodeDeallocationOption: TaskCompletion
                    resizeTimeout: PT8M
                    startTime: 2017-08-29T10:22:55.9407275Z
                    targetDedicatedNodes: 8
                  scaleSettings:
                    fixedScale:
                      nodeDeallocationOption: TaskCompletion
                      resizeTimeout: PT8M
                      targetDedicatedNodes: 1
                      targetLowPriorityNodes: 0
                  taskSchedulingPolicy:
                    nodeFillType: Spread
                  vmSize: STANDARD_D4
                type: Microsoft.Batch/batchAccounts/pools
              headers:
                ETag: W/"0x8D4EDFEBFADF4AB"
    put:
      description: Creates a new pool inside the specified account.
      operationId: Pool_Create
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/PoolNameParameter"
        - description: Additional parameters for pool creation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Pool"
        - description: The entity state (ETag) version of the pool to update. A value of "*" can be used to apply the operation only if the pool already exists. If omitted, this operation will always be applied.
          in: header
          name: If-Match
          required: false
          type: string
        - description: Set to '*' to allow a new pool to be created, but to prevent updating an existing pool. Other values will be ignored.
          in: header
          name: If-None-Match
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The operation was successful. The response contains the pool entity.
          headers:
            ETag:
              description: The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.
              type: string
          schema:
            $ref: "#/definitions/Pool"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Pool
      x-ms-examples:
        CreatePool - Custom Image:
          parameters:
            accountName: sampleacct
            api-version: 2019-08-01
            parameters:
              properties:
                deploymentConfiguration:
                  virtualMachineConfiguration:
                    imageReference:
                      id: /subscriptions/subid/resourceGroups/networking-group/providers/Microsoft.Compute/images/image-123
                    nodeAgentSkuId: batch.node.ubuntu 18.04
                vmSize: STANDARD_D4
            poolName: testpool
            resourceGroupName: default-azurebatch-japaneast
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: W/"0x8D4EDFEBFADF4AB"
                id: /subscriptions/subid/resourceGroups/default-azurebatch-japaneast/providers/Microsoft.Batch/batchAccounts/sampleacct/pools/testpool
                name: testpool
                properties:
                  allocationState: Steady
                  allocationStateTransitionTime: 2017-08-28T10:22:55.9407275Z
                  creationTime: 2017-08-28T10:22:55.9407275Z
                  currentDedicatedNodes: 0
                  currentLowPriorityNodes: 0
                  deploymentConfiguration:
                    virtualMachineConfiguration:
                      imageReference:
                        id: /subscriptions/subid/resourceGroups/networking-group/providers/Microsoft.Compute/images/image-123
                      nodeAgentSkuId: batch.node.ubuntu 18.04
[...]
