swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The HDInsight Management Client.
  title: HDInsightManagementClient
  version: 2015-03-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/preview/2015-03-01-preview/capabilities.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: hdinsight-capabilities
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: The HDInsight client API Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/capabilities":
    get:
      description: Gets the capabilities for the specified location.
      operationId: Location_GetCapabilities
      parameters:
        - description: The location to get capabilities for.
          in: path
          name: location
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK response definition.
          schema:
            $ref: "#/definitions/capabilitiesResult"
      tags:
        - Regions
      x-ms-examples:
        Get the subscription capabilities for specific location:
          parameters:
            api-version: 2015-03-01-preview
            location: West US
            subscriptionId: subid
          responses:
            "200":
              Body:
                features:
                  - ALLOW_GATEWAY_AUTH_BYPASS
                  - AUX_IAAS_FUNCTIONALITIES
                  - BLOCK_APPS_FOR_SECURE_CLUSTER
                  - CLUSTER_RESIZE
                  - CLUSTERS_CONTRACT_1
                  - CLUSTERS_CONTRACT_1_SDK
                  - CLUSTERS_CONTRACT_2_SDK
                  - CLUSTERS_CONTRACT_VERSION_3_SDK
                  - COLLECTANONYMIZEDLOGS
                  - CONTAINER_LOG_COLLECTOR
                  - CONTAINER_RESOURCE_V3
                  - CUSTOM_ACTIONS_V2
                  - DATALAKE
                  - DATALAKE_3_2
                  - DATALAKE_3_4
                  - DATALAKE_3_5
                  - DATALAKE_DEFAULTFS_3_5
                  - DEFAULT_CONTAINER_IDENTIFIER_AND_STORAGEFQDN_ALREADY_USED
                  - DOCUMENT_VALIDATION_IN_API
                  - ENABLEDATALAKE
                  - ENABLEGENEVAANALYTICS
                  - HADOOP_VIRTUAL_NETWORK_ENABLED
                  - HS2_ZK_ROUTER_INTERACTIVEHIVE
                  - IAAS_ALLOW_CUSTOM_DNS
                  - IAAS_AMBARI_APP_TIMELINE_SERVER_HA_SERVICE
                  - IAAS_AMBARI_DEPENDENCY_BASED_DEPLOYMENT
                  - IAAS_AMBARI_HA_SERVICES
                  - IAAS_AMBARI_HISTORYSERVER_HA_SERVICE
                  - IAAS_AMBARI_LOWER_LATENCY
                  - IAAS_AMBARI_SKIP_COMPONENTS_INSTALL
                  - IAAS_ARM_PROVISIONING
                  - IAAS_CLOSE_HEAD_HTTPS_END_POINT_AFTER_CLUSTER_CREATE
                  - IAAS_CLUSTER_APPLICATION_ALLOW_MULTIPLE_ROLE_INSTANCES
                  - IAAS_CLUSTER_APPLICATION_REMOVE
                  - IAAS_CLUSTER_CONTAINER_PREUPLOAD_SUBMIT_WAIT
                  - IAAS_CLUSTER_RSERVER
                  - IAAS_DB_CREATION_IN_PARALLEL_TO_VM
                  - IAAS_DELETE_LEAKED_RESOURCES
                  - IAAS_DEPLOYMENTS
                  - IAAS_DO_NOT_CREATE_WASB_TABLES_IN_CUSTOMER_STORAGE
                  - IAAS_ENABLE_CLUSTER_CONFIG_OVERRIDES
                  - IAAS_ENABLE_OFFLINE_CLEANUP
                  - IAAS_ENABLE_OFFLINE_CLEANUP_FOR_DELETING_VMS
                  - IAAS_INCLUDE_STORAGE_IN_SUBSCRIPTION_SELECTION
                  - IAAS_PARALLEL_DB_CREATE
                  - IAAS_PREPROVISION_METASTORES_SCHEMAS
                  - IAAS_SCRIPTACTIONS_DELETE_VMS_CRUD_FAILURES
                  - IAAS_SCRIPTACTIONS_RUNNING
                  - IAAS_SHORT_VM_NAME
                  - IAAS_SUBMIT_AMBARI_REQUEST_ONCE_LINUX_VM_ARE_AVAILABLE
                  - IAAS_TEZ_ATS_V15
                  - IAAS_USE_UNATTENDED_UPGRADES_FOR_PATCHING
                  - IAAS_VALIDATE_CUSTOM_VNET
                  - IAAS_VALIDATE_NSG
                  - IAAS_WAIT_FOR_CLOSING_HEAD_HTTPS_END_POINT_AFTER_CLUSTER_CREATE
                  - IAAS_YARN_HDINSIGHT_SQL_TIMELINE_STORE
                  - IAAS_YARN_HDINSIGHT_TIMELINE_STORE
                  - INTERACTIVEHIVE
                  - MDSCENTRALLOGGING
                  - NODE_SETUP_POLLER_ENABLED
                  - OVERPROVISION_HOSTGROUP_edgenode
                  - OVERPROVISION_HOSTGROUP_Gateway
                  - OVERPROVISION_HOSTGROUP_Workernode
                  - OVERPROVISION_HOSTGROUP_zookeepernode
                  - PERF_OPTIMIZED_RESOURCE_LOCATION_FETCH
                  - PORTALAPPINSTALL
                  - POWERSHELL_SCRIPT_ACTION
                  - POWERSHELL_SCRIPT_ACTION_SDK
                  - PREMIUM_TIER_PREVIEW
                  - PROVISIONING_AGENT
                  - RMHA
                  - RSERVER_CLUSTERTYPE_3_5_ENABLED
                  - RSERVER_CLUSTERTYPE_ENABLED
                  - SHOW_HUMBOLDT_GA
                  - SHOW_IBIZA_CREATE
                  - SPARK_2_1
                  - SPARK_EXPERIMENTAL
                  - STORM_PREVIEW
                  - UI_CREATE_WIZARD_V2
                  - VIRTUAL_NETWORK_ENABLED
                  - VMSIZES_AUX
                quota:
                  cores_used: 72
                  max_cores_allowed: 1000
                  regionalQuotas:
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Australia East
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Australia Southeast
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Brazil South
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Canada Central
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Canada East
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Central India
                    - cores_available: 1000
                      cores_used: 24
                      region_name: Central US
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Central US EUAP
                    - cores_available: 1000
                      cores_used: 24
                      region_name: East Asia
                    - cores_available: 1000
                      cores_used: 24
                      region_name: East US
                    - cores_available: 1000
                      cores_used: 0
                      region_name: East US 2
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Japan East
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Japan West
                    - cores_available: 1000
                      cores_used: 0
                      region_name: North Central US
                    - cores_available: 1000
                      cores_used: 0
                      region_name: North Europe
                    - cores_available: 1000
                      cores_used: 0
                      region_name: South Central US
                    - cores_available: 1000
                      cores_used: 0
                      region_name: Southeast Asia
                    - cores_available: 1000
                      cores_used: 0
                      region_name: West Central US
                    - cores_available: 1000
                      cores_used: 0
                      region_name: West Europe
                    - cores_available: 1000
                      cores_used: 132
                      region_name: West US
                    - cores_available: 1000
                      cores_used: 0
                      region_name: West US 2
                regions:
                  iaas:
                    available:
                      - AUSTRALIA EAST
                      - AUSTRALIA SOUTHEAST
                      - BRAZIL SOUTH
                      - CANADA CENTRAL
                      - CANADA EAST
                      - CENTRAL INDIA
                      - CENTRAL US
                      - CENTRAL US EUAP
                      - EAST ASIA
                      - EAST US
                      - EAST US 2
                      - JAPAN EAST
                      - JAPAN WEST
                      - NORTH CENTRAL US
                      - NORTH EUROPE
                      - SOUTH CENTRAL US
                      - SOUTHEAST ASIA
                      - WEST CENTRAL US
                      - WEST EUROPE
                      - WEST US
                      - WEST US 2
                  paas:
                    available:
                      - AUSTRALIA EAST
                      - AUSTRALIA SOUTHEAST
                      - BRAZIL SOUTH
                      - CENTRAL INDIA
                      - CENTRAL US
                      - EAST ASIA
                      - EAST US
                      - EAST US 2
                      - JAPAN EAST
                      - JAPAN WEST
                      - NORTH CENTRAL US
                      - NORTH EUROPE
                      - SOUTH CENTRAL US
                      - SOUTHEAST ASIA
                      - WEST EUROPE
                      - WEST US
                      - WEST US 2
                versions:
                  iaas:
                    available:
                      - componentVersions:
                          HBase: 0.98.4
                          HDP: "2.2"
                          Hadoop: 2.6.0
                          Storm: 0.9.3
                        displayName: Version 3.2.1000.0.8840373
                        friendlyName: "3.2"
                        isDefault: false
                      - componentVersions:
                          HBase: 1.1.2
                          HDP: "2.3"
                          Hadoop: 2.7.0
                          Spark: 1.5.2
                          Storm: 0.10.0
                        displayName: Version 3.3.1000.0.9776961
                        friendlyName: "3.3"
                        isDefault: false
                      - componentVersions:
                          HBase: 1.1.2
                          HDP: "2.4"
                          Hadoop: 2.7.1
                          RServer: "8.0"
                          Spark: 1.6.2
                          Storm: 0.10.0
                        displayName: Version 3.4.1000.0.9719475
                        friendlyName: "3.4"
                        isDefault: false
                      - componentVersions:
                          HBase: 1.1.2
                          HDP: "2.5"
                          Hadoop: 2.7.3
                          InteractiveHive: 2.1.0
                          RServer: "9.0"
                          Spark: 1.6.3,2.0.2
                          Storm: 1.0.1
                        displayName: Version 3.5.1000.0.9732704
                        friendlyName: "3.5"
                        isDefault: true
                      - componentVersions:
                          HDP: "2.6"
                          Spark: 2.1.0
                        displayName: Version 3.6.1000.0.9503998
                        friendlyName: "3.6"
                        isDefault: false
                      - displayName: Version 99.152.1000.0.6943836
                        friendlyName: "99.152"
                        isDefault: false
                  paas:
                    available:
                      - displayName: HdInsight version 1.6.1.0.335536
                        friendlyName: "1.6"
                        isDefault: false
                      - componentVersions:
                          HDP: "1.3"
                          Hadoop: 1.2.0
                        displayName: Version 2.1.9.406.1221105
                        friendlyName: "2.1"
                        isDefault: false
                      - componentVersions:
                          HDP: "2.0"
                          Hadoop: 2.2.0
                        displayName: Version 3.0.6.989.2441725
                        friendlyName: "3.0"
                        isDefault: false
                      - componentVersions:
                          HBase: "0.98"
                          HDP: 2.1.7
                          Hadoop: 2.4.0
                        displayName: Version 3.1.4.989.2441725
                        friendlyName: "3.1"
                        isDefault: false
                      - componentVersions:
                          HBase: 0.98.4
                          HDP: "2.2"
                          Hadoop: 2.6.0
                          Storm: 0.9.3
                        displayName: Version 3.2.7.989.2441725
                        friendlyName: "3.2"
                        isDefault: false
                      - componentVersions:
                          HBase: 1.1.2
                          HDP: "2.3"
                          Hadoop: 2.7.0
                          Storm: 0.10.0
                        displayName: Version 3.3.0.989.2441725
                        friendlyName: "3.3"
                        isDefault: true
                vmsize_filters:
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - A5
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - A5
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - A5
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - A5
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - A5
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - A6
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - A6
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - A6
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - A6
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - A7
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - A7
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - A7
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - A7
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - EXTRALARGE
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - EXTRALARGE
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - WorkerNodeRole
                      - EdgeNodeRole
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - EXTRALARGE
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - EXTRALARGE
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - LARGE
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - LARGE
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - LARGE
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - LARGE
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - MEDIUM
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - MEDIUM
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - MEDIUM
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - SMALL
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - SMALL
                  - ClusterFlavors:
                      - HBase
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - SMALL
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - SMALL
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D1
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D1
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D1
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D1
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D1
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D1
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D1_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D1_V2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D1_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    VMSizes:
                      - STANDARD_D1_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D1_V2
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D1_V2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D11
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D11
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D11
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D11
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D11
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D11
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D11_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D11_V2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D11_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    VMSizes:
                      - STANDARD_D11_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D11_V2
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D11_V2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D12
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D12
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D12
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D12
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D12
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D12_V2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D12_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    VMSizes:
                      - STANDARD_D12_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D12_V2
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D12_V2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D13
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D13
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D13
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D13
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D13_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    VMSizes:
                      - STANDARD_D13_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D13_V2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D14
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D14
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D14
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D14
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D14_V2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D14_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    VMSizes:
                      - STANDARD_D14_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D14_V2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D2
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D2_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                      - EdgeNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D2_V2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D2_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    VMSizes:
                      - STANDARD_D2_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D2_V2
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D2_V2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D3
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D3
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D3
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D3
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D3
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D3_V2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D3_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    VMSizes:
                      - STANDARD_D3_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D3_V2
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D3_V2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D4
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D4
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D4
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D4
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D4
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D4_V2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D4_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    VMSizes:
                      - STANDARD_D4_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D4_V2
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D4_V2
                  - ClusterFlavors:
                      - Sandbox
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D5_V2
                  - ClusterFlavors:
                      - Hadoop
                      - Spark
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D5_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - Brazil South
                      - Japan West
                    VMSizes:
                      - STANDARD_D5_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "1.6"
                      - "2.1"
                      - "3.0"
                    FilterMode: Exclude
                    NodeTypes:
                      - "*"
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D5_V2
                  - ClusterFlavors:
                      - InteractiveHive
                    ClusterVersions:
                      - "*"
                    FilterMode: Exclude
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - "*"
                    VMSizes:
                      - STANDARD_D5_V2
                  - ClusterFlavors:
                      - HBase
                      - Storm
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D1_V2
                  - ClusterFlavors:
                      - HBase
                      - Storm
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D11_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D12_V2
                  - ClusterFlavors:
                      - HBase
                      - Storm
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D12_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D13_V2
                  - ClusterFlavors:
                      - HBase
                      - Storm
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D13_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D14_V2
                  - ClusterFlavors:
                      - HBase
                      - Storm
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D14_V2
                  - ClusterFlavors:
                      - HBase
                      - Storm
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D2_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D3_V2
                  - ClusterFlavors:
                      - HBase
                      - Storm
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D3_V2
                  - ClusterFlavors:
                      - "*"
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - HeadNodeRole
                      - WorkerNodeRole
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D4_V2
                  - ClusterFlavors:
                      - HBase
                      - Storm
                    ClusterVersions:
                      - "*"
                    FilterMode: Include
                    NodeTypes:
                      - ZookeeperRole
                    OsType:
                      - "*"
                    Regions:
                      - Central India
                    VMSizes:
                      - STANDARD_D4_V2
                vmsizes:
                  iaas:
                    available:
                      - A5
                      - A6
                      - A7
                      - EXTRALARGE
                      - LARGE
                      - MEDIUM
                      - SMALL
                      - STANDARD_D1
                      - STANDARD_D1_V2
                      - STANDARD_D11
                      - STANDARD_D11_V2
                      - STANDARD_D12
                      - STANDARD_D12_V2
                      - STANDARD_D13
                      - STANDARD_D13_V2
                      - STANDARD_D14
                      - STANDARD_D14_V2
                      - STANDARD_D2
                      - STANDARD_D2_V2
                      - STANDARD_D3
                      - STANDARD_D3_V2
                      - STANDARD_D4
                      - STANDARD_D4_V2
                      - STANDARD_D5_V2
                  paas:
                    available:
                      - A5
                      - A6
                      - A7
                      - EXTRALARGE
                      - LARGE
                      - MEDIUM
                      - SMALL
                      - STANDARD_D1
                      - STANDARD_D1_V2
                      - STANDARD_D11
                      - STANDARD_D11_V2
                      - STANDARD_D12
                      - STANDARD_D12_V2
                      - STANDARD_D13
                      - STANDARD_D13_V2
                      - STANDARD_D14
                      - STANDARD_D14_V2
                      - STANDARD_D2
                      - STANDARD_D2_V2
                      - STANDARD_D3
                      - STANDARD_D3_V2
                      - STANDARD_D4
                      - STANDARD_D4_V2
                      - STANDARD_D5_V2
definitions:
  capabilitiesResult:
    description: The Get Capabilities operation response.
    properties:
      features:
        description: The capabilty features.
        items:
          type: string
        type: array
      quota:
        $ref: "#/definitions/quotaCapability"
        description: The quota capability.
      regions:
        additionalProperties:
          $ref: "#/definitions/regionsCapability"
        description: The virtual machine size compatibilty features.
        type: object
      versions:
        additionalProperties:
          $ref: "#/definitions/versionsCapability"
        description: The version capability.
        type: object
      vmSize_filters:
        description: The virtual machine size compatibilty filters.
        items:
          $ref: "#/definitions/vmSizeCompatibilityFilter"
        type: array
      vmSizes:
        additionalProperties:
          $ref: "#/definitions/vmSizesCapability"
        description: The virtual machine sizes.
        type: object
  quotaCapability:
    description: The regional quota capability.
    properties:
      regionalQuotas:
        description: The list of region quota capabilities.
        items:
          $ref: "#/definitions/regionalQuotaCapability"
        type: array
  regionalQuotaCapability:
    description: The regional quota capacity.
    properties:
      cores_available:
        description: The number of courses available in the region.
        format: int64
        type: integer
      cores_used:
        description: The number of cores used in the region.
        format: int64
        type: integer
      region_name:
        description: The region name.
        type: string
  regionsCapability:
    description: The regions capability.
    properties:
      available:
        description: The list of region capabilities.
        items:
          type: string
        type: array
  versionSpec:
    description: The version properties.
    properties:
      componentVersions:
        additionalProperties:
          type: string
        description: The component version property.
        type: object
      displayName:
        description: The display name
        type: string
      friendlyName:
        description: The friendly name
        type: string
      isDefault:
        description: Whether or not the version is the default version.
        type: string
  versionsCapability:
    description: The version capability.
    properties:
      available:
        description: The list of version capabilities.
        items:
          $ref: "#/definitions/versionSpec"
        type: array
  vmSizeCompatibilityFilter:
    description: The virtual machine type compatibility filter.
    properties:
      ClusterFlavors:
        description: The list of cluster types available.
        items:
          type: string
        type: array
      ClusterVersions:
        description: The list of cluster versions.
        items:
          type: string
        type: array
      FilterMode:
        description: The mode for the filter.
        type: string
      NodeTypes:
        description: The list of node types.
        items:
          type: string
        type: array
      Regions:
        description: The list of regions.
        items:
          type: string
        type: array
      vmsizes:
        description: The list of virtual machine sizes.
        items:
          type: string
        type: array
  vmSizesCapability:
    description: The virtual machine sizes capability.
    properties:
      available:
        description: The list of virtual machine size capabilities.
        items:
          type: string
        type: array
