swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The SAP HANA on Azure Management Client.
  title: HanaManagementClient
  version: 2017-11-03-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hanaonazure/resource-manager/Microsoft.HanaOnAzure/preview/2017-11-03-preview/hanaonazure.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: hanaonazure
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ApiVersionParameter:
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
  HanaInstanceNameParameter:
    description: Name of the SAP HANA on Azure instance.
    in: path
    name: hanaInstanceName
    required: true
    type: string
    x-ms-parameter-location: method
  HanaInstanceParameter:
    description: Request body representing a HanaInstance
    in: body
    name: hanaInstanceParameter
    required: true
    schema:
      $ref: "#/definitions/HanaInstance"
    x-ms-parameter-location: method
  MonitoringParameter:
    description: Request body that only contains monitoring attributes
    in: body
    name: monitoringParameter
    required: true
    schema:
      $ref: "#/definitions/MonitoringDetails"
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: Name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SapMonitorNameParameter:
    description: Name of the SAP monitor resource.
    in: path
    name: sapMonitorName
    required: true
    type: string
    x-ms-parameter-location: method
  SapMonitorParameter:
    description: Request body representing a SAP Monitor
    in: body
    name: sapMonitorParameter
    required: true
    schema:
      $ref: "#/definitions/SapMonitor"
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Subscription ID which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
  TagsParameter:
    description: Request body that only contains the new Tags field
    in: body
    name: tagsParameter
    required: true
    schema:
      $ref: "#/definitions/Tags"
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.HanaOnAzure/operations:
    get:
      description: Gets a list of SAP HANA management operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - HanaOnAzure
      x-ms-examples:
        List all HANA management operations supported by HANA RP:
          parameters:
            api-version: 2017-11-03-preview
          responses:
            "200":
              body:
                value:
                  - display:
                      description: HanaOp1Description
                      operation: HanaOp1OperationName
                      origin: HanaOp1Origin
                      provider: HanaOp1ProviderName
                      resource: HanaOp1ResourceName
                    name: HanaOp1
                  - display:
                      description: HanaOp2Description
                      operation: HanaOp2OperationName
                      origin: HanaOp2Origin
                      provider: HanaOp2ProviderName
                      resource: HanaOp2ResourceName
                    name: HanaOp2
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.HanaOnAzure/hanaInstances":
    get:
      description: Gets a list of SAP HANA instances in the specified subscription. The operations returns various properties of each SAP HANA on Azure instance.
      operationId: HanaInstances_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/HanaInstancesListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Gets a list of SAP HANA instances in the specified subscription.
      tags:
        - HanaOnAzure
      x-ms-examples:
        List all HANA instances in a subscription:
          parameters:
            api-version: 2017-11-03-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance1
                    location: westus
                    name: myHanaInstance1
                    properties:
                      hanaInstanceId: 00000000-0000-0000-0000-000000000000
                      hardwareProfile:
                        hanaInstanceSize: S72
                        hardwareType: Cisco_UCS
                      hwRevision: Rev 3
                      networkProfile:
                        circuitId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Network/expressRouteCircuit
                        networkInterfaces:
                          - ipAddress: 100.100.100.100
                      osProfile:
                        computerName: myComputerName1
                        osType: SUSE
                        sshPublicKey: AAAAB3NzaC1yc2EAAAABJQAAAQB/nAmOjTmezNUDKYvEeIRf2YnwM9/uUG1d0BYsc8/tRtx+RGi7N2lUbp728MXGwdnL9od4cItzky/zVdLZE2cycOa18xBK9cOWmcKS0A8FYBxEQWJ/q9YVUgZbFKfYGaGQxsER+A0w/fX8ALuk78ktP31K69LcQgxIsl7rNzxsoOQKJ/CIxOGMMxczYTiEoLvQhapFQMs3FL96didKr/QbrfB1WT6s3838SEaXfgZvLef1YB2xmfhbT9OXFE3FXvh2UPBfN+ffE7iiayQf/2XR+8j4N4bW30DiPtOQLGUrH1y5X/rpNZNlWW2+jGIxqZtgWg7lTy3mXy5x836Sj/6L
                        version: 12 SP1
                      powerState: started
                      provisioningState: Succeeded
                      proximityPlacementGroup: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myplacementgroup
                      storageProfile:
                        nfsIpAddress: 200.200.200.200
                    tags:
                      key: value
                    type: Microsoft.HanaOnAzure/hanaInstances
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance2
                    location: westus
                    name: myHanaInstance2
                    properties:
                      hanaInstanceId: 00000000-0000-0000-0000-000000000000
                      hardwareProfile:
                        hanaInstanceSize: S384
                        hardwareType: HPE
                      hwRevision: Rev 3
                      networkProfile:
                        circuitId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Network/expressRouteCircuit
                        networkInterfaces:
                          - ipAddress: 100.100.100.101
                      osProfile:
                        computerName: myComputerName2
                        osType: SUSE
                        sshPublicKey: AAAAB3NzaC1yc2EAAAABJQAAAQB/nAmOjTmezNUDKYvEeIRf2YnwM9/uUG1d0BYsc8/tRtx+RGi7N2lUbp728MXGwdnL9od4cItzky/zVdLZE2cycOa18xBK9cOWmcKS0A8FYBxEQWJ/q9YVUgZbFKfYGaGQxsER+A0w/fX8ALuk78ktP31K69LcQgxIsl7rNzxsoOQKJ/CIxOGMMxczYTiEoLvQhapFQMs3FL96didKr/QbrfB1WT6s3838SEaXfgZvLef1YB2xmfhbT9OXFE3FXvh2UPBfN+ffE7iiayQf/2XR+8j4N4bW30DiPtOQLGUrH1y5X/rpNZNlWW2+jGIxqZtgWg7lTy3mXy5x836Sj/6L
                        version: 12 SP1
                      partnerNodeId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance1
                      powerState: started
                      provisioningState: Succeeded
                      proximityPlacementGroup: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myplacementgroup
                      storageProfile:
                        nfsIpAddress: 200.200.200.201
                    tags:
                      key: value
                    type: Microsoft.HanaOnAzure/hanaInstances
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance3
                    location: westus
                    name: myHanaInstance3
                    properties:
                      hanaInstanceId: 00000000-0000-0000-0000-000000000000
                      hardwareProfile:
                        hanaInstanceSize: S960m
                        hardwareType: HPE
                      hwRevision: Rev 3
                      networkProfile:
                        circuitId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.Network/expressRouteCircuit
                        networkInterfaces:
                          - ipAddress: 100.100.100.102
                      osProfile:
                        computerName: myComputerName3
                        osType: SUSE
                        sshPublicKey: AAAAB3NzaC1yc2EAAAABJQAAAQB/nAmOjTmezNUDKYvEeIRf2YnwM9/uUG1d0BYsc8/tRtx+RGi7N2lUbp728MXGwdnL9od4cItzky/zVdLZE2cycOa18xBK9cOWmcKS0A8FYBxEQWJ/q9YVUgZbFKfYGaGQxsER+A0w/fX8ALuk78ktP31K69LcQgxIsl7rNzxsoOQKJ/CIxOGMMxczYTiEoLvQhapFQMs3FL96didKr/QbrfB1WT6s3838SEaXfgZvLef1YB2xmfhbT9OXFE3FXvh2UPBfN+ffE7iiayQf/2XR+8j4N4bW30DiPtOQLGUrH1y5X/rpNZNlWW2+jGIxqZtgWg7lTy3mXy5x836Sj/6L
                        version: 12 SP1
                      partnerNodeId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance2
                      powerState: started
                      provisioningState: Succeeded
                      proximityPlacementGroup: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myplacementgroup
                      storageProfile:
                        nfsIpAddress: 200.200.200.202
                    type: Microsoft.HanaOnAzure/hanaInstances
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance4
                    location: westus
                    name: myHanaInstance4
                    properties:
                      hanaInstanceId: 00000000-0000-0000-0000-000000000000
                      hardwareProfile:
                        hanaInstanceSize: S96
                        hardwareType: Cisco_UCS
                      hwRevision: Rev 3
                      networkProfile:
                        circuitId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.Network/expressRouteCircuit
                        networkInterfaces:
                          - ipAddress: 100.100.100.103
                      osProfile:
                        computerName: myComputerName4
                        osType: SUSE
                        sshPublicKey: AAAAB3NzaC1yc2EAAAABJQAAAQB/nAmOjTmezNUDKYvEeIRf2YnwM9/uUG1d0BYsc8/tRtx+RGi7N2lUbp728MXGwdnL9od4cItzky/zVdLZE2cycOa18xBK9cOWmcKS0A8FYBxEQWJ/q9YVUgZbFKfYGaGQxsER+A0w/fX8ALuk78ktP31K69LcQgxIsl7rNzxsoOQKJ/CIxOGMMxczYTiEoLvQhapFQMs3FL96didKr/QbrfB1WT6s3838SEaXfgZvLef1YB2xmfhbT9OXFE3FXvh2UPBfN+ffE7iiayQf/2XR+8j4N4bW30DiPtOQLGUrH1y5X/rpNZNlWW2+jGIxqZtgWg7lTy3mXy5x836Sj/6L
                        version: 12 SP1
                      powerState: started
                      provisioningState: Succeeded
                      proximityPlacementGroup: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myplacementgroup
                      storageProfile:
                        nfsIpAddress: 200.200.200.203
                    type: Microsoft.HanaOnAzure/hanaInstances
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance5
                    location: westus
                    name: myHanaInstance5
                    properties:
                      hanaInstanceId: 00000000-0000-0000-0000-000000000000
                      hardwareProfile:
                        hanaInstanceSize: S112
                        hardwareType: Cisco_UCS
                      hwRevision: Rev 3
                      networkProfile:
                        circuitId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.Network/expressRouteCircuit
                        networkInterfaces:
                          - ipAddress: 100.100.100.103
                      osProfile:
                        computerName: myComputerName5
                        osType: SUSE
                        sshPublicKey: AAAAB3NzaC1yc2EAAAABJQAAAQB/nAmOjTmezNUDKYvEeIRf2YnwM9/uUG1d0BYsc8/tRtx+RGi7N2lUbp728MXGwdnL9od4cItzky/zVdLZE2cycOa18xBK9cOWmcKS0A8FYBxEQWJ/q9YVUgZbFKfYGaGQxsER+A0w/fX8ALuk78ktP31K69LcQgxIsl7rNzxsoOQKJ/CIxOGMMxczYTiEoLvQhapFQMs3FL96didKr/QbrfB1WT6s3838SEaXfgZvLef1YB2xmfhbT9OXFE3FXvh2UPBfN+ffE7iiayQf/2XR+8j4N4bW30DiPtOQLGUrH1y5X/rpNZNlWW2+jGIxqZtgWg7lTy3mXy5x836Sj/6L
                        version: 12 SP1
                      powerState: started
                      provisioningState: Succeeded
                      proximityPlacementGroup: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myplacementgroup
                      storageProfile:
                        nfsIpAddress: 200.200.200.203
                    type: Microsoft.HanaOnAzure/hanaInstances
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance6
                    location: westus
                    name: myHanaInstance6
                    properties:
                      hanaInstanceId: 00000000-0000-0000-0000-000000000000
                      hardwareProfile:
                        hanaInstanceSize: S224oo
                        hardwareType: Cisco_UCS
                      hwRevision: Rev 4
                      networkProfile:
                        circuitId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.Network/expressRouteCircuit
                        networkInterfaces:
                          - ipAddress: 100.100.100.103
                      osProfile:
                        computerName: myComputerName6
                        osType: SUSE
                        sshPublicKey: AAAAB3NzaC1yc2EAAAABJQAAAQB/nAmOjTmezNUDKYvEeIRf2YnwM9/uUG1d0BYsc8/tRtx+RGi7N2lUbp728MXGwdnL9od4cItzky/zVdLZE2cycOa18xBK9cOWmcKS0A8FYBxEQWJ/q9YVUgZbFKfYGaGQxsER+A0w/fX8ALuk78ktP31K69LcQgxIsl7rNzxsoOQKJ/CIxOGMMxczYTiEoLvQhapFQMs3FL96didKr/QbrfB1WT6s3838SEaXfgZvLef1YB2xmfhbT9OXFE3FXvh2UPBfN+ffE7iiayQf/2XR+8j4N4bW30DiPtOQLGUrH1y5X/rpNZNlWW2+jGIxqZtgWg7lTy3mXy5x836Sj/6L
                        version: 12 SP1
                      powerState: started
                      provisioningState: Succeeded
                      proximityPlacementGroup: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myplacementgroup
                      storageProfile:
                        nfsIpAddress: 200.200.200.203
                    type: Microsoft.HanaOnAzure/hanaInstances
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance7
                    location: westus
                    name: myHanaInstance7
                    properties:
                      hanaInstanceId: 00000000-0000-0000-0000-000000000000
                      hardwareProfile:
                        hanaInstanceSize: S224oom
                        hardwareType: Cisco_UCS
                      hwRevision: Rev 4
                      networkProfile:
                        circuitId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.Network/expressRouteCircuit
                        networkInterfaces:
                          - ipAddress: 100.100.100.103
                      osProfile:
                        computerName: myComputerName7
                        osType: SUSE
                        sshPublicKey: AAAAB3NzaC1yc2EAAAABJQAAAQB/nAmOjTmezNUDKYvEeIRf2YnwM9/uUG1d0BYsc8/tRtx+RGi7N2lUbp728MXGwdnL9od4cItzky/zVdLZE2cycOa18xBK9cOWmcKS0A8FYBxEQWJ/q9YVUgZbFKfYGaGQxsER+A0w/fX8ALuk78ktP31K69LcQgxIsl7rNzxsoOQKJ/CIxOGMMxczYTiEoLvQhapFQMs3FL96didKr/QbrfB1WT6s3838SEaXfgZvLef1YB2xmfhbT9OXFE3FXvh2UPBfN+ffE7iiayQf/2XR+8j4N4bW30DiPtOQLGUrH1y5X/rpNZNlWW2+jGIxqZtgWg7lTy3mXy5x836Sj/6L
                        version: 12 SP1
                      powerState: started
                      provisioningState: Succeeded
                      proximityPlacementGroup: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myplacementgroup
                      storageProfile:
                        nfsIpAddress: 200.200.200.203
                    type: Microsoft.HanaOnAzure/hanaInstances
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance8
                    location: westus
                    name: myHanaInstance8
                    properties:
                      hanaInstanceId: 00000000-0000-0000-0000-000000000000
                      hardwareProfile:
                        hanaInstanceSize: S224ooo
                        hardwareType: Cisco_UCS
                      hwRevision: Rev 4
                      networkProfile:
                        circuitId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup2/providers/Microsoft.Network/expressRouteCircuit
                        networkInterfaces:
                          - ipAddress: 100.100.100.103
                      osProfile:
                        computerName: myComputerName8
                        osType: SUSE
                        sshPublicKey: AAAAB3NzaC1yc2EAAAABJQAAAQB/nAmOjTmezNUDKYvEeIRf2YnwM9/uUG1d0BYsc8/tRtx+RGi7N2lUbp728MXGwdnL9od4cItzky/zVdLZE2cycOa18xBK9cOWmcKS0A8FYBxEQWJ/q9YVUgZbFKfYGaGQxsER+A0w/fX8ALuk78ktP31K69LcQgxIsl7rNzxsoOQKJ/CIxOGMMxczYTiEoLvQhapFQMs3FL96didKr/QbrfB1WT6s3838SEaXfgZvLef1YB2xmfhbT9OXFE3FXvh2UPBfN+ffE7iiayQf/2XR+8j4N4bW30DiPtOQLGUrH1y5X/rpNZNlWW2+jGIxqZtgWg7lTy3mXy5x836Sj/6L
                        version: 12 SP1
                      powerState: started
                      provisioningState: Succeeded
                      proximityPlacementGroup: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myplacementgroup
                      storageProfile:
                        nfsIpAddress: 200.200.200.203
                    type: Microsoft.HanaOnAzure/hanaInstances
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.HanaOnAzure/sapMonitors":
    get:
      description: Gets a list of SAP monitors in the specified subscription. The operations returns various properties of each SAP monitor.
      operationId: SapMonitors_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SapMonitorListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Gets a list of SAP monitors in the specified subscription.
      tags:
        - HanaOnAzure
      x-ms-examples:
        List all SAP Monitors in a subscription:
          parameters:
            api-version: 2017-11-03-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/sapMonitors/mySapMonitor1
                    location: westus
                    name: mySapMonitor1
                    properties:
                      hanaDbCredentialsMsiId: ""
                      hanaDbName: ""
                      hanaDbPasswordKeyVaultUrl: ""
                      hanaDbSqlPort: 1234
                      hanaDbUsername: ""
                      hanaHostname: ""
                      hanaSubnet: ""
                      keyVaultId: ""
                      logAnalyticsWorkspaceArmId: ""
                      managedResourceGroupName: testManagedRg
                      provisioningState: Succeeded
                    tags:
                      key: value
                    type: Microsoft.HanaOnAzure/sapMonitors
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/sapMonitors/mySapMonitor2
                    location: westus
                    name: mySapMonitor2
                    properties:
                      hanaDbCredentialsMsiId: ""
                      hanaDbName: ""
                      hanaDbPasswordKeyVaultUrl: ""
                      hanaDbSqlPort: 1234
                      hanaDbUsername: ""
                      hanaHostname: ""
                      hanaSubnet: ""
                      keyVaultId: ""
                      logAnalyticsWorkspaceArmId: ""
                      managedResourceGroupName: testManagedRg
                      provisioningState: Succeeded
                    tags:
                      key: value
                    type: Microsoft.HanaOnAzure/sapMonitors
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances":
    get:
      description: Gets a list of SAP HANA instances in the specified subscription and the resource group. The operations returns various properties of each SAP HANA on Azure instance.
      operationId: HanaInstances_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/HanaInstancesListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Gets a list of SAP HANA instances in the specified subscription and the resource group.
      tags:
        - HanaOnAzure
      x-ms-examples:
        List all HANA instances in a resource group:
          parameters:
            api-version: 2017-11-03-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance1
                    location: westus
                    name: myHanaInstance1
                    properties:
                      hanaInstanceId: 00000000-0000-0000-0000-000000000000
                      hardwareProfile:
                        hanaInstanceSize: S72
                        hardwareType: Cisco_UCS
                      hwRevision: Rev 3
                      networkProfile:
                        circuitId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Network/expressRouteCircuit
                        networkInterfaces:
                          - ipAddress: 100.100.100.100
                      osProfile:
                        computerName: myComputerName1
                        osType: SUSE
                        sshPublicKey: AAAAB3NzaC1yc2EAAAABJQAAAQB/nAmOjTmezNUDKYvEeIRf2YnwM9/uUG1d0BYsc8/tRtx+RGi7N2lUbp728MXGwdnL9od4cItzky/zVdLZE2cycOa18xBK9cOWmcKS0A8FYBxEQWJ/q9YVUgZbFKfYGaGQxsER+A0w/fX8ALuk78ktP31K69LcQgxIsl7rNzxsoOQKJ/CIxOGMMxczYTiEoLvQhapFQMs3FL96didKr/QbrfB1WT6s3838SEaXfgZvLef1YB2xmfhbT9OXFE3FXvh2UPBfN+ffE7iiayQf/2XR+8j4N4bW30DiPtOQLGUrH1y5X/rpNZNlWW2+jGIxqZtgWg7lTy3mXy5x836Sj/6L
                        version: 12 SP1
                      powerState: started
                      provisioningState: Succeeded
                      proximityPlacementGroup: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myplacementgroup
                      storageProfile:
                        nfsIpAddress: 200.200.200.200
                    tags:
                      key: value
                    type: Microsoft.HanaOnAzure/hanaInstances
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance2
                    location: westus
                    name: myHanaInstance2
                    properties:
                      hanaInstanceId: 00000000-0000-0000-0000-000000000000
                      hardwareProfile:
                        hanaInstanceSize: S384
                        hardwareType: HPE
                      hwRevision: Rev 3
                      networkProfile:
                        circuitId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Network/expressRouteCircuit
                        networkInterfaces:
                          - ipAddress: 100.100.100.101
                      osProfile:
                        computerName: myComputerName2
                        osType: SUSE
                        sshPublicKey: AAAAB3NzaC1yc2EAAAABJQAAAQB/nAmOjTmezNUDKYvEeIRf2YnwM9/uUG1d0BYsc8/tRtx+RGi7N2lUbp728MXGwdnL9od4cItzky/zVdLZE2cycOa18xBK9cOWmcKS0A8FYBxEQWJ/q9YVUgZbFKfYGaGQxsER+A0w/fX8ALuk78ktP31K69LcQgxIsl7rNzxsoOQKJ/CIxOGMMxczYTiEoLvQhapFQMs3FL96didKr/QbrfB1WT6s3838SEaXfgZvLef1YB2xmfhbT9OXFE3FXvh2UPBfN+ffE7iiayQf/2XR+8j4N4bW30DiPtOQLGUrH1y5X/rpNZNlWW2+jGIxqZtgWg7lTy3mXy5x836Sj/6L
                        version: 12 SP1
                      partnerNodeId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance1
                      powerState: started
                      provisioningState: Succeeded
                      proximityPlacementGroup: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myplacementgroup
                      storageProfile:
                        nfsIpAddress: 200.200.200.201
                    tags:
                      key: value
                    type: Microsoft.HanaOnAzure/hanaInstances
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances/{hanaInstanceName}":
    delete:
      description: Deletes a SAP HANA instance with the specified subscription, resource group, and instance name.
      operationId: HanaInstances_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/HanaInstanceNameParameter"
      responses:
        "200":
          description: Deleted HanaInstance
        "202":
          description: Deleting HanaInstance
        "204":
          description: No HanaInstance to delete
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Deletes a SAP HANA instance.
      tags:
        - HanaOnAzure
      x-ms-examples:
        Get properties of a HANA instance:
          parameters:
            api-version: 2017-11-03-preview
            hanaInstanceName: myHanaInstance
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets properties of a SAP HANA instance for the specified subscription, resource group, and instance name.
      operationId: HanaInstances_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/HanaInstanceNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/HanaInstance"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Gets properties of a SAP HANA instance.
      tags:
        - HanaOnAzure
      x-ms-examples:
        Get properties of a HANA instance:
          parameters:
            api-version: 2017-11-03-preview
            hanaInstanceName: myHanaInstance
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance
                location: westus
                name: myHanaInstance
                properties:
                  hanaInstanceId: 00000000-0000-0000-0000-000000000000
                  hardwareProfile:
                    hanaInstanceSize: S72
                    hardwareType: Cisco_UCS
                  hwRevision: Rev 3
                  networkProfile:
                    circuitId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Network/expressRouteCircuit
                    networkInterfaces:
                      - ipAddress: 100.100.100.100
                  osProfile:
                    computerName: myComputerName
                    osType: SUSE
                    sshPublicKey: AAAAB3NzaC1yc2EAAAABJQAAAQB/nAmOjTmezNUDKYvEeIRf2YnwM9/uUG1d0BYsc8/tRtx+RGi7N2lUbp728MXGwdnL9od4cItzky/zVdLZE2cycOa18xBK9cOWmcKS0A8FYBxEQWJ/q9YVUgZbFKfYGaGQxsER+A0w/fX8ALuk78ktP31K69LcQgxIsl7rNzxsoOQKJ/CIxOGMMxczYTiEoLvQhapFQMs3FL96didKr/QbrfB1WT6s3838SEaXfgZvLef1YB2xmfhbT9OXFE3FXvh2UPBfN+ffE7iiayQf/2XR+8j4N4bW30DiPtOQLGUrH1y5X/rpNZNlWW2+jGIxqZtgWg7lTy3mXy5x836Sj/6L
                    version: 12 SP1
                  partnerNodeId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance2
                  powerState: restarting
                  provisioningState: Succeeded
                  proximityPlacementGroup: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myplacementgroup
                  storageProfile:
                    nfsIpAddress: 200.200.200.200
                tags:
                  key: value
                type: Microsoft.HanaOnAzure/hanaInstances
    patch:
      description: Patches the Tags field of a SAP HANA instance for the specified subscription, resource group, and instance name.
      operationId: HanaInstances_Update
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/HanaInstanceNameParameter"
        - $ref: "#/parameters/TagsParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/HanaInstance"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Patches the Tags field of a SAP HANA instance.
      tags:
        - HanaOnAzure
      x-ms-examples:
        Delete Tags field of a HANA instance:
          parameters:
            api-version: 2017-11-03-preview
            hanaInstanceName: myHanaInstance
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            tagsParameter:
              tags: {}
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance
                location: westus
                name: myHanaInstance
                properties:
                  hanaInstanceId: 00000000-0000-0000-0000-000000000000
                  hardwareProfile:
                    hanaInstanceSize: S72
                    hardwareType: Cisco_UCS
                  hwRevision: Rev 3
                  networkProfile:
                    circuitId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Network/expressRouteCircuit
                    networkInterfaces:
                      - ipAddress: 100.100.100.100
                  osProfile:
                    computerName: myComputerName
                    osType: SUSE
                    sshPublicKey: AAAAB3NzaC1yc2EAAAABJQAAAQB/nAmOjTmezNUDKYvEeIRf2YnwM9/uUG1d0BYsc8/tRtx+RGi7N2lUbp728MXGwdnL9od4cItzky/zVdLZE2cycOa18xBK9cOWmcKS0A8FYBxEQWJ/q9YVUgZbFKfYGaGQxsER+A0w/fX8ALuk78ktP31K69LcQgxIsl7rNzxsoOQKJ/CIxOGMMxczYTiEoLvQhapFQMs3FL96didKr/QbrfB1WT6s3838SEaXfgZvLef1YB2xmfhbT9OXFE3FXvh2UPBfN+ffE7iiayQf/2XR+8j4N4bW30DiPtOQLGUrH1y5X/rpNZNlWW2+jGIxqZtgWg7lTy3mXy5x836Sj/6L
                    version: 12 SP1
                  partnerNodeId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance2
                  powerState: started
                  provisioningState: Succeeded
                  proximityPlacementGroup: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myplacementgroup
                  storageProfile:
                    nfsIpAddress: 200.200.200.200
                tags: {}
                type: Microsoft.HanaOnAzure/hanaInstances
        Update Tags field of a HANA instance:
          parameters:
            api-version: 2017-11-03-preview
            hanaInstanceName: myHanaInstance
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            tagsParameter:
              tags:
                testkey: testvalue
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance
                location: westus
                name: myHanaInstance
                properties:
                  hanaInstanceId: 00000000-0000-0000-0000-000000000000
                  hardwareProfile:
                    hanaInstanceSize: S72
                    hardwareType: Cisco_UCS
                  hwRevision: Rev 3
                  networkProfile:
                    circuitId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Network/expressRouteCircuit
                    networkInterfaces:
                      - ipAddress: 100.100.100.100
                  osProfile:
                    computerName: myComputerName
                    osType: SUSE
                    sshPublicKey: AAAAB3NzaC1yc2EAAAABJQAAAQB/nAmOjTmezNUDKYvEeIRf2YnwM9/uUG1d0BYsc8/tRtx+RGi7N2lUbp728MXGwdnL9od4cItzky/zVdLZE2cycOa18xBK9cOWmcKS0A8FYBxEQWJ/q9YVUgZbFKfYGaGQxsER+A0w/fX8ALuk78ktP31K69LcQgxIsl7rNzxsoOQKJ/CIxOGMMxczYTiEoLvQhapFQMs3FL96didKr/QbrfB1WT6s3838SEaXfgZvLef1YB2xmfhbT9OXFE3FXvh2UPBfN+ffE7iiayQf/2XR+8j4N4bW30DiPtOQLGUrH1y5X/rpNZNlWW2+jGIxqZtgWg7lTy3mXy5x836Sj/6L
                    version: 12 SP1
                  partnerNodeId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance2
                  powerState: started
                  provisioningState: Succeeded
                  proximityPlacementGroup: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myplacementgroup
                  storageProfile:
                    nfsIpAddress: 200.200.200.200
                tags:
                  testkey: testvalue
                type: Microsoft.HanaOnAzure/hanaInstances
    put:
      description: Creates a SAP HANA instance for the specified subscription, resource group, and instance name.
      operationId: HanaInstances_Create
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/HanaInstanceNameParameter"
        - $ref: "#/parameters/HanaInstanceParameter"
      responses:
        "200":
          description: Created HanaInstance
          schema:
            $ref: "#/definitions/HanaInstance"
        "201":
          description: Creating HanaInstance
          schema:
            $ref: "#/definitions/HanaInstance"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Creates a SAP HANA instance.
      tags:
        - HanaOnAzure
      x-ms-examples:
        Get properties of a HANA instance:
          parameters:
            api-version: 2017-11-03-preview
            hanaInstanceName: myHanaInstance
            hanaInstanceParameter:
              id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance
              location: westus
              name: myHanaInstance
              properties:
                hanaInstanceId: 00000000-0000-0000-0000-000000000000
                hardwareProfile:
                  hanaInstanceSize: S72
                  hardwareType: Cisco_UCS
                hwRevision: Rev 3
                networkProfile:
                  circuitId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Network/expressRouteCircuit
                  networkInterfaces:
                    - ipAddress: 100.100.100.100
                osProfile:
                  computerName: myComputerName
                  osType: SUSE
                  sshPublicKey: AAAAB3NzaC1yc2EAAAABJQAAAQB/nAmOjTmezNUDKYvEeIRf2YnwM9/uUG1d0BYsc8/tRtx+RGi7N2lUbp728MXGwdnL9od4cItzky/zVdLZE2cycOa18xBK9cOWmcKS0A8FYBxEQWJ/q9YVUgZbFKfYGaGQxsER+A0w/fX8ALuk78ktP31K69LcQgxIsl7rNzxsoOQKJ/CIxOGMMxczYTiEoLvQhapFQMs3FL96didKr/QbrfB1WT6s3838SEaXfgZvLef1YB2xmfhbT9OXFE3FXvh2UPBfN+ffE7iiayQf/2XR+8j4N4bW30DiPtOQLGUrH1y5X/rpNZNlWW2+jGIxqZtgWg7lTy3mXy5x836Sj/6L
                  version: 12 SP1
                partnerNodeId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance2
                powerState: started
                provisioningState: Succeeded
                proximityPlacementGroup: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myplacementgroup
                storageProfile:
                  nfsIpAddress: 200.200.200.200
              tags:
                key: value
              type: Microsoft.HanaOnAzure/hanaInstances
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance
                location: westus
                name: myHanaInstance
                properties:
                  hanaInstanceId: 00000000-0000-0000-0000-000000000000
                  hardwareProfile:
                    hanaInstanceSize: S72
                    hardwareType: Cisco_UCS
                  hwRevision: Rev 3
                  networkProfile:
                    circuitId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Network/expressRouteCircuit
                    networkInterfaces:
                      - ipAddress: 100.100.100.100
                  osProfile:
                    computerName: myComputerName
                    osType: SUSE
                    sshPublicKey: AAAAB3NzaC1yc2EAAAABJQAAAQB/nAmOjTmezNUDKYvEeIRf2YnwM9/uUG1d0BYsc8/tRtx+RGi7N2lUbp728MXGwdnL9od4cItzky/zVdLZE2cycOa18xBK9cOWmcKS0A8FYBxEQWJ/q9YVUgZbFKfYGaGQxsER+A0w/fX8ALuk78ktP31K69LcQgxIsl7rNzxsoOQKJ/CIxOGMMxczYTiEoLvQhapFQMs3FL96didKr/QbrfB1WT6s3838SEaXfgZvLef1YB2xmfhbT9OXFE3FXvh2UPBfN+ffE7iiayQf/2XR+8j4N4bW30DiPtOQLGUrH1y5X/rpNZNlWW2+jGIxqZtgWg7lTy3mXy5x836Sj/6L
                    version: 12 SP1
                  partnerNodeId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance2
                  powerState: started
                  provisioningState: Succeeded
                  proximityPlacementGroup: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myplacementgroup
                  storageProfile:
                    nfsIpAddress: 200.200.200.200
                tags:
                  key: value
                type: Microsoft.HanaOnAzure/hanaInstances
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance
                location: westus
                name: myHanaInstance
                properties:
                  hanaInstanceId: 00000000-0000-0000-0000-000000000000
                  hardwareProfile:
                    hanaInstanceSize: S72
                    hardwareType: Cisco_UCS
                  hwRevision: Rev 3
                  networkProfile:
                    circuitId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Network/expressRouteCircuit
                    networkInterfaces:
                      - ipAddress: 100.100.100.100
                  osProfile:
                    computerName: myComputerName
                    osType: SUSE
                    sshPublicKey: AAAAB3NzaC1yc2EAAAABJQAAAQB/nAmOjTmezNUDKYvEeIRf2YnwM9/uUG1d0BYsc8/tRtx+RGi7N2lUbp728MXGwdnL9od4cItzky/zVdLZE2cycOa18xBK9cOWmcKS0A8FYBxEQWJ/q9YVUgZbFKfYGaGQxsER+A0w/fX8ALuk78ktP31K69LcQgxIsl7rNzxsoOQKJ/CIxOGMMxczYTiEoLvQhapFQMs3FL96didKr/QbrfB1WT6s3838SEaXfgZvLef1YB2xmfhbT9OXFE3FXvh2UPBfN+ffE7iiayQf/2XR+8j4N4bW30DiPtOQLGUrH1y5X/rpNZNlWW2+jGIxqZtgWg7lTy3mXy5x836Sj/6L
                    version: 12 SP1
                  partnerNodeId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance2
                  powerState: started
                  provisioningState: Accepted
                  proximityPlacementGroup: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Compute/proximityPlacementGroups/myplacementgroup
                  storageProfile:
                    nfsIpAddress: 200.200.200.200
                tags:
                  key: value
                type: Microsoft.HanaOnAzure/hanaInstances
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances/{hanaInstanceName}/restart":
    post:
      description: The operation to restart a SAP HANA instance.
      operationId: HanaInstances_Restart
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/HanaInstanceNameParameter"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - HanaOnAzure
      x-ms-examples:
        Restart a HANA instance:
          parameters:
            api-version: 2017-11-03-preview
            hanaInstanceName: myHanaInstance
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances/{hanaInstanceName}/shutdown":
    post:
      description: The operation to shutdown a SAP HANA instance.
      operationId: HanaInstances_Shutdown
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/HanaInstanceNameParameter"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - HanaOnAzure
      x-ms-examples:
        Shutdown a HANA instance:
          parameters:
            api-version: 2017-11-03-preview
            hanaInstanceName: myHanaInstance
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/hanaInstances/{hanaInstanceName}/start":
    post:
      description: The operation to start a SAP HANA instance.
      operationId: HanaInstances_Start
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/HanaInstanceNameParameter"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - HanaOnAzure
      x-ms-examples:
        Start a HANA instance:
          parameters:
            api-version: 2017-11-03-preview
            hanaInstanceName: myHanaInstance
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HanaOnAzure/sapMonitors/{sapMonitorName}":
    delete:
      description: Deletes a SAP monitor with the specified subscription, resource group, and monitor name.
      operationId: SapMonitors_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/SapMonitorNameParameter"
      responses:
        "200":
          description: Deleted SapMonitor
        "202":
          description: Deleting SapMonitor
        "204":
          description: No SapMonitor to delete
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Deletes a SAP monitor.
      tags:
        - HanaOnAzure
      x-ms-examples:
        Deletes a SAP monitor:
          parameters:
            api-version: 2017-11-03-preview
            resourceGroupName: myResourceGroup
            sapMonitorName: mySapMonitor
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets properties of a SAP monitor for the specified subscription, resource group, and resource name.
      operationId: SapMonitors_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/SapMonitorNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SapMonitor"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Gets properties of a SAP monitor.
      tags:
        - HanaOnAzure
      x-ms-examples:
        Get properties of a SAP monitor:
          parameters:
            api-version: 2017-11-03-preview
            resourceGroupName: myResourceGroup
            sapMonitorName: mySapMonitor
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/sapMonitors/mySapMonitor
                location: westus
                name: mySapMonitor
                properties:
                  hanaDbCredentialsMsiId: ""
                  hanaDbName: ""
                  hanaDbPasswordKeyVaultUrl: ""
                  hanaDbSqlPort: 1234
                  hanaDbUsername: ""
                  hanaHostname: ""
                  hanaSubnet: ""
                  keyVaultId: ""
                  logAnalyticsWorkspaceArmId: ""
                  managedResourceGroupName: testManagedRg
                  provisioningState: Succeeded
                tags:
                  key: value
                type: Microsoft.HanaOnAzure/sapMonitors
    patch:
      description: Patches the Tags field of a SAP monitor for the specified subscription, resource group, and monitor name.
      operationId: SapMonitors_Update
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/SapMonitorNameParameter"
        - $ref: "#/parameters/TagsParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SapMonitor"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Patches the Tags field of a SAP monitor.
      tags:
        - HanaOnAzure
      x-ms-examples:
        Delete Tags field of a SAP monitor:
          parameters:
            api-version: 2017-11-03-preview
            resourceGroupName: myResourceGroup
            sapMonitorName: mySapMonitor
            subscriptionId: 00000000-0000-0000-0000-000000000000
            tagsParameter:
              tags: {}
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/sapMonitors/mySapMonitor
                location: westus
                name: mySapMonitor
                properties:
                  hanaDbCredentialsMsiId: ""
                  hanaDbName: ""
                  hanaDbPasswordKeyVaultUrl: ""
                  hanaDbSqlPort: 1234
                  hanaDbUsername: ""
                  hanaHostname: ""
                  hanaSubnet: ""
                  keyVaultId: ""
                  logAnalyticsWorkspaceArmId: ""
                  managedResourceGroupName: testManagedRg
                  provisioningState: Succeeded
                tags: {}
                type: Microsoft.HanaOnAzure/sapMonitors
        Update Tags field of a SAP monitor:
          parameters:
            api-version: 2017-11-03-preview
            resourceGroupName: myResourceGroup
            sapMonitorName: mySapMonitor
            subscriptionId: 00000000-0000-0000-0000-000000000000
            tagsParameter:
              tags:
                testkey: testvalue
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/sapMonitors/mySapMonitor
                location: westus
                name: mySapMonitor
                properties:
                  hanaDbCredentialsMsiId: ""
                  hanaDbName: ""
                  hanaDbPasswordKeyVaultUrl: ""
                  hanaDbSqlPort: 1234
                  hanaDbUsername: ""
                  hanaHostname: ""
                  hanaSubnet: ""
                  keyVaultId: ""
                  logAnalyticsWorkspaceArmId: ""
                  managedResourceGroupName: testManagedRg
                  provisioningState: Succeeded
                tags:
                  testkey: testvalue
                type: Microsoft.HanaOnAzure/sapMonitors
    put:
      description: Creates a SAP monitor for the specified subscription, resource group, and resource name.
      operationId: SapMonitors_Create
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/SapMonitorNameParameter"
        - $ref: "#/parameters/SapMonitorParameter"
      responses:
        "200":
          description: Created SapMonitor
          schema:
            $ref: "#/definitions/SapMonitor"
        "201":
          description: Creating SapMonitor
          schema:
            $ref: "#/definitions/SapMonitor"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      summary: Creates a SAP monitor.
      tags:
        - HanaOnAzure
      x-ms-examples:
        Create a SAP Monitor:
          parameters:
            api-version: 2017-11-03-preview
            resourceGroupName: myResourceGroup
            sapMonitorName: mySapMonitor
            sapMonitorParameter:
              id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/sapMonitors/mySapMonitor
              location: westus
              name: mySapMonitor
              properties:
                HanaDbCredentialsMsiID: ""
                HanaDbPasswordKeyVaultURL: ""
                enableCustomerAnalytics: true
                hanaDbName: ""
                hanaDbPassword: ""
                hanaDbSqlPort: 1234
                hanaDbUsername: ""
                hanaHostname: ""
                hanaSubnet: ""
                logAnalyticsWorkspaceArmID: ""
                logAnalyticsWorkspaceID: ""
                logAnalyticsWorkspaceSharedKey: ""
                provisioningState: Succeeded
              tags:
                key: value
              type: Microsoft.HanaOnAzure/sapMonitors
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance
                location: westus
                name: myHanaInstance
                properties:
                  enableCustomerAnalytics: true
                  hanaDbCredentialsMsiId: ""
                  hanaDbName: ""
                  hanaDbPasswordKeyVaultUrl: ""
                  hanaDbSqlPort: 1234
                  hanaDbUsername: ""
                  hanaHostname: ""
                  hanaSubnet: ""
                  logAnalyticsWorkspaceArmId: ""
                  provisioningState: Succeeded
                tags:
                  key: value
                type: Microsoft.HanaOnAzure/hanaInstances
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.HanaOnAzure/hanaInstances/myHanaInstance
                location: westus
                name: myHanaInstance
                properties:
                  enableCustomerAnalytics: true
                  hanaDbCredentialsMsiId: ""
                  hanaDbName: ""
                  hanaDbPasswordKeyVaultUrl: ""
                  hanaDbSqlPort: 1234
                  hanaDbUsername: ""
                  hanaHostname: ""
                  hanaSubnet: ""
                  logAnalyticsWorkspaceArmId: ""
                  provisioningState: Accepted
                tags:
                  key: value
                type: Microsoft.HanaOnAzure/hanaInstances
      x-ms-long-running-operation: true
definitions:
  Disk:
    description: Specifies the disk information fo the HANA instance
    properties:
      diskSizeGB:
        description: Specifies the size of an empty data disk in gigabytes.
        format: int32
        type: integer
      lun:
        description: Specifies the logical unit number of the data disk. This value is used to identify data disks within the VM and therefore must be unique for each data disk attached to a VM.
        format: int32
        readOnly: true
        type: integer
      name:
        description: The disk name.
        type: string
  Display:
    description: Detailed HANA operation information
    properties:
      description:
        description: The localized friendly description for the operation as shown to the user. This description should be thorough, yet concise. It will be used in tool-tips and detailed views.
        readOnly: true
        type: string
      operation:
        description: The localized friendly name for the operation as shown to the user. This name should be concise (to fit in drop downs), but clear (self-documenting). Use Title Casing and include the entity/resource to which it applies.
        readOnly: true
        type: string
      origin:
        description: The intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX. Default value is 'user,system'
        readOnly: true
        type: string
      provider:
        description: The localized friendly form of the resource provider name. This form is also expected to include the publisher/company responsible. Use Title Casing. Begin with "Microsoft" for 1st party services.
        readOnly: true
        type: string
      resource:
        description: The localized friendly form of the resource type related to this action/operation. This form should match the public documentation for the resource provider. Use Title Casing. For examples, refer to the “name” section.
        readOnly: true
        type: string
    type: object
  ErrorResponse:
    description: Describes the format of Error response.
    properties:
      code:
        description: Error code
        type: string
      message:
        description: Error message indicating why the operation failed.
        type: string
    type: object
  HanaInstance:
    allOf:
      - $ref: "#/definitions/Resource"
    description: HANA instance info on Azure (ARM properties and HANA properties)
    properties:
      properties:
        $ref: "#/definitions/HanaInstanceProperties"
        description: HANA instance properties
        x-ms-client-flatten: true
  HanaInstanceProperties:
    description: Describes the properties of a HANA instance.
    properties:
      hanaInstanceId:
        description: Specifies the HANA instance unique ID.
        readOnly: true
        type: string
      hardwareProfile:
        $ref: "#/definitions/HardwareProfile"
        description: Specifies the hardware settings for the HANA instance.
      hwRevision:
        description: Hardware revision of a HANA instance
        readOnly: true
        type: string
      networkProfile:
        $ref: "#/definitions/NetworkProfile"
        description: Specifies the network settings for the HANA instance.
      osProfile:
        $ref: "#/definitions/OSProfile"
        description: Specifies the operating system settings for the HANA instance.
      partnerNodeId:
        description: ARM ID of another HanaInstance that will share a network with this HanaInstance
        type: string
      powerState:
        description: Resource power state
        enum:
          - starting
          - started
          - stopping
          - stopped
          - restarting
          - unknown
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: HanaInstancePowerStateEnum
      provisioningState:
        description: State of provisioning of the HanaInstance
        enum:
          - Accepted
          - Creating
          - Updating
          - Failed
          - Succeeded
          - Deleting
          - Migrating
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: HanaProvisioningStatesEnum
      proximityPlacementGroup:
        description: Resource proximity placement group
        readOnly: true
        type: string
      storageProfile:
        $ref: "#/definitions/StorageProfile"
        description: Specifies the storage settings for the HANA instance disks.
  HanaInstancesListResult:
    description: The response from the List HANA Instances operation.
    properties:
      nextLink:
        description: The URL to get the next set of HANA instances.
        type: string
      value:
        description: The list of SAP HANA on Azure instances.
        items:
          $ref: "#/definitions/HanaInstance"
        type: array
  HardwareProfile:
    description: Specifies the hardware settings for the HANA instance.
    properties:
      hanaInstanceSize:
        description: Specifies the HANA instance SKU.
        enum:
          - S72m
          - S144m
          - S72
          - S144
          - S192
          - S192m
          - S192xm
          - S96
          - S112
          - S224m
          - S224o
          - S224om
          - S224oo
          - S224oom
          - S224ooo
          - S224oxm
          - S224oxxm
          - S384
          - S384m
          - S384xm
          - S384xxm
          - S576m
          - S576xm
          - S768
          - S768m
          - S768xm
          - S960m
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: HanaInstanceSizeNamesEnum
      hardwareType:
        description: Name of the hardware type (vendor and/or their product name)
        enum:
          - Cisco_UCS
          - HPE
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: HanaHardwareTypeNamesEnum
  IpAddress:
    description: Specifies the IP address of the network interface.
    properties:
      ipAddress:
        description: Specifies the IP address of the network interface.
        type: string
  MonitoringDetails:
    description: Details needed to monitor a Hana Instance
    properties:
      hanaDbName:
        description: Name of the database itself.
        type: string
      hanaDbPassword:
        description: Password for the HANA database to login for monitoring
        type: string
      hanaDbSqlPort:
        description: The port number of the tenant DB. Used to connect to the DB.
        type: integer
      hanaDbUsername:
        description: Username for the HANA database to login to for monitoring
        type: string
      hanaHostname:
        description: Hostname of the HANA Instance blade.
        type: string
      hanaSubnet:
        description: ARM ID of an Azure Subnet with access to the HANA instance.
        type: string
    type: object
  NetworkProfile:
    description: Specifies the network settings for the HANA instance disks.
    properties:
      circuitId:
        description: Specifies the circuit id for connecting to express route.
        readOnly: true
        type: string
      networkInterfaces:
        description: Specifies the network interfaces for the HANA instance.
        items:
          $ref: "#/definitions/IpAddress"
        type: array
  OSProfile:
    description: Specifies the operating system settings for the HANA instance.
    properties:
      computerName:
        description: Specifies the host OS name of the HANA instance.
        type: string
      osType:
        description: This property allows you to specify the type of the OS.
        readOnly: true
        type: string
      sshPublicKey:
        description: Specifies the SSH public key used to access the operating system.
        type: string
      version:
        description: Specifies version of operating system.
        readOnly: true
        type: string
  Operation:
    description: HANA operation information
    properties:
      display:
        $ref: "#/definitions/Display"
        description: Displayed HANA operation information
      name:
        description: The name of the operation being performed on this particular object. This name should match the action name that appears in RBAC / the event service.
        readOnly: true
        type: string
    type: object
  OperationList:
    description: List of HANA operations
    properties:
      value:
        description: List of HANA operations
        items:
          $ref: "#/definitions/Operation"
        type: array
    type: object
  Resource:
    description: The resource model definition.
    properties:
      id:
        description: Resource ID
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        readOnly: true
        type: object
      type:
        description: Resource type
        readOnly: true
        type: string
    x-ms-azure-resource: true
  SapMonitor:
    allOf:
      - $ref: "#/definitions/Resource"
    description: SAP monitor info on Azure (ARM properties and SAP monitor properties)
    properties:
      properties:
        $ref: "#/definitions/SapMonitorProperties"
        description: SAP monitor properties
        x-ms-client-flatten: true
  SapMonitorListResult:
    description: The response from the List SAP monitors operation.
    properties:
      nextLink:
        description: The URL to get the next set of SAP monitors.
        type: string
      value:
        description: The list of SAP monitors.
        items:
          $ref: "#/definitions/SapMonitor"
        type: array
  SapMonitorProperties:
    description: Describes the properties of a SAP monitor.
    properties:
      enableCustomerAnalytics:
        description: The value indicating whether to send analytics to Microsoft
        type: boolean
      hanaDbCredentialsMsiId:
        description: MSI ID passed by customer which has access to customer's KeyVault and to be assigned to the Collector VM.
        type: string
      hanaDbName:
        description: Database name of the HANA instance.
        type: string
      hanaDbPassword:
        description: Database password of the HANA instance.
        type: string
      hanaDbPasswordKeyVaultUrl:
        description: KeyVault URL link to the password for the HANA database.
        type: string
      hanaDbSqlPort:
        description: Database port of the HANA instance.
        type: integer
      hanaDbUsername:
        description: Database username of the HANA instance.
        type: string
      hanaHostname:
        description: Hostname of the HANA instance.
        type: string
      hanaSubnet:
        description: Specifies the SAP monitor unique ID.
        type: string
      keyVaultId:
        description: Key Vault ID containing customer's HANA credentials.
        type: string
      logAnalyticsWorkspaceArmId:
        description: The ARM ID of the Log Analytics Workspace that is used for monitoring
        type: string
      logAnalyticsWorkspaceId:
        description: The workspace ID of the log analytics workspace to be used for monitoring
        type: string
      logAnalyticsWorkspaceSharedKey:
        description: The shared key of the log analytics workspace that is used for monitoring
        type: string
      managedResourceGroupName:
        description: The name of the resource group the SAP Monitor resources get deployed into.
        readOnly: true
        type: string
      provisioningState:
        description: State of provisioning of the HanaInstance
        enum:
          - Accepted
          - Creating
          - Updating
          - Failed
          - Succeeded
          - Deleting
          - Migrating
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: HanaProvisioningStatesEnum
  StorageProfile:
    description: Specifies the storage settings for the HANA instance disks.
    properties:
      nfsIpAddress:
        description: IP Address to connect to storage.
        readOnly: true
        type: string
      osDisks:
        description: Specifies information about the operating system disk used by the hana instance.
        items:
          $ref: "#/definitions/Disk"
        type: array
  Tags:
    description: Tags field of the HANA instance.
    properties:
      tags:
        additionalProperties:
          type: string
        description: Tags field of the HANA instance.
        type: object
    type: object
