{
  "swagger": "2.0",
  "schemes": [
    "http",
    "https"
  ],
  "host": "api.wavecell.com",
  "basePath": "/",
  "info": {
    "contact": {
      "email": "support@wavecell.com",
      "name": "Wavecell Dev team",
      "url": "https://wavecell.com/"
    },
    "description": "This API allows Wavecell customers to originate request to send SMS messages anywhere in the World. The messages can be send individually or as a bulk request.",
    "termsOfService": "https://wavecell.com/terms.html",
    "title": "Wavecell.Sms.Api",
    "version": "v1",
    "x-apisguru-categories": [
      "messaging"
    ],
    "x-logo": {
      "backgroundColor": "#050917",
      "url": "https://api.apis.guru/v2/cache/logo/https_wavecell.com_wp-content_uploads_2020_05_Group.svg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://api.wavecell.com/swagger/v1/swagger.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "wavecell.com"
  },
  "produces": [],
  "securityDefinitions": {
    "basicAuth": {
      "description": "HTTP/HTTPS Basic Authentication. The authentication uses the Wavecell AccountId as username",
      "type": "basic"
    }
  },
  "paths": {
    "/sms/v1/status": {
      "get": {
        "consumes": [],
        "deprecated": false,
        "operationId": "SmsV1StatusGet",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "StatusPage"
        ]
      }
    },
    "/sms/v1/{subAccountId}/many": {
      "post": {
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "deprecated": false,
        "operationId": "SendManyMessages",
        "parameters": [
          {
            "in": "path",
            "name": "subAccountId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BulkSmsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BulkSmsResponse"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "SmsApi"
        ]
      }
    },
    "/sms/v1/{subAccountId}/many/compact": {
      "post": {
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "deprecated": false,
        "operationId": "SendManyMessagesInCompactForm",
        "parameters": [
          {
            "in": "path",
            "name": "subAccountId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/BulkSmsRequestCompact"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BulkSmsResponse"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "SmsApi"
        ]
      }
    },
    "/sms/v1/{subAccountId}/single": {
      "post": {
        "consumes": [
          "application/json",
          "text/json",
          "application/json-patch+json"
        ],
        "deprecated": false,
        "operationId": "SendSingleMessage",
        "parameters": [
          {
            "in": "path",
            "name": "subAccountId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SmsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SmsResponse"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "BadRequest",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "InternalServerError",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "SmsApi"
        ]
      }
    }
  },
  "definitions": {
    "BulkSmsRequest": {
      "properties": {
        "clientBatchId": {
          "maxLength": 20,
          "type": "string"
        },
        "includeMessagesInResponse": {
          "type": "boolean"
        },
        "messages": {
          "items": {
            "$ref": "#/definitions/SmsRequest"
          },
          "type": "array"
        },
        "template": {
          "$ref": "#/definitions/SmsTemplate"
        }
      },
      "required": [
        "messages"
      ],
      "type": "object"
    },
    "BulkSmsRequestCompact": {
      "properties": {
        "clientBatchId": {
          "maxLength": 20,
          "type": "string"
        },
        "destinations": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "includeMessagesInResponse": {
          "type": "boolean"
        },
        "template": {
          "$ref": "#/definitions/SmsTemplate"
        }
      },
      "required": [
        "destinations",
        "template"
      ],
      "type": "object"
    },
    "BulkSmsResponse": {
      "properties": {
        "acceptedCount": {
          "format": "int32",
          "type": "integer"
        },
        "batchId": {
          "format": "uuid",
          "type": "string"
        },
        "clientBatchId": {
          "type": "string"
        },
        "messages": {
          "items": {
            "$ref": "#/definitions/SmsResponse"
          },
          "type": "array"
        },
        "rejectedCount": {
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ErrorResponse": {
      "properties": {
        "code": {
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "errorId": {
          "format": "uuid",
          "readOnly": true,
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "timestamp": {
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "SmsRequest": {
      "properties": {
        "clientMessageId": {
          "maxLength": 20,
          "type": "string"
        },
        "destination": {
          "pattern": "^\\+{0,1}[1-9]{1}[0-9]{6,14}$",
          "type": "string"
        },
        "encoding": {
          "enum": [
            "AUTO",
            "GSM7bit",
            "UNICODE"
          ],
          "type": "string"
        },
        "expiry": {
          "format": "date-time",
          "type": "string"
        },
        "scheduled": {
          "format": "date-time",
          "type": "string"
        },
        "source": {
          "maxLength": 16,
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "required": [
        "destination"
      ],
      "type": "object"
    },
    "SmsResponse": {
      "properties": {
        "clientMessageId": {
          "type": "string"
        },
        "destination": {
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/SmsStatus"
        },
        "umid": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SmsStatus": {
      "properties": {
        "code": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SmsTemplate": {
      "properties": {
        "encoding": {
          "enum": [
            "AUTO",
            "GSM7bit",
            "UNICODE"
          ],
          "type": "string"
        },
        "expiry": {
          "format": "date-time",
          "type": "string"
        },
        "scheduled": {
          "format": "date-time",
          "type": "string"
        },
        "source": {
          "maxLength": 16,
          "type": "string"
        },
        "text": {
          "type": "string"
        }
      },
      "type": "object"
    }
  }
}