swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: PowerBI Dedicated Web API provides a RESTful set of web services that enables users to create, retrieve, update, and delete Power BI dedicated capacities
  title: PowerBIDedicated
  version: 2017-10-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-ms-code-generation-settings:
    name: PowerBIDedicatedManagementClient
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/powerbidedicated/resource-manager/Microsoft.PowerBIdedicated/stable/2017-10-01/powerbidedicated.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: powerbidedicated
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: The client API version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupNameParameter:
    description: The name of the Azure Resource group of which a given PowerBIDedicated capacity is part. This name must be at least 1 character in length, and no more than 90.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+$
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: A unique identifier for a Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.PowerBIDedicated/operations:
    get:
      description: Lists all of the available PowerBIDedicated REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/capacities":
    get:
      description: Lists all the Dedicated capacities for the given subscription.
      operationId: Capacities_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DedicatedCapacities"
      tags:
        - Capacities
      x-ms-examples:
        Get details of a capacity:
          parameters:
            api-version: 2017-10-01
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/613192d7-503f-477a-9cfe-4efc3ee2bd60/providers/Microsoft.PowerBIDedicated/capacities/azsdktest
                    location: West US
                    name: azsdktest
                    properties:
                      administration:
                        members:
                          - azsdktest@microsoft.com
                      provisioningState: Provisioning
                      state: Provisioning
                    sku:
                      name: A1
                      tier: PBIE_Azure
                    tags:
                      testKey: testValue
                  - id: /subscriptions/613192d7-503f-477a-9cfe-4efc3ee2bd60/providers/Microsoft.PowerBIDedicated/capacities/azsdktest
                    location: West US
                    name: azsdktest2
                    properties:
                      administration:
                        members:
                          - azsdktest@microsoft.com
                      provisioningState: Provisioning
                      state: Provisioning
                    sku:
                      name: A2
                      tier: PBIE_Azure
                    tags:
                      testKey: testValue
              headers: {}
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/locations/{location}/checkNameAvailability":
    post:
      description: Check the name availability in the target location.
      operationId: Capacities_CheckNameAvailability
      parameters:
        - description: The region name which the operation will lookup into.
          in: path
          name: location
          required: true
          type: string
        - description: The name of the capacity.
          in: body
          name: capacityParameters
          required: true
          schema:
            $ref: "#/definitions/CheckCapacityNameAvailabilityParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/CheckCapacityNameAvailabilityResult"
      tags:
        - Capacities
      x-ms-examples:
        Check name availability of a capacity:
          parameters:
            api-version: 2017-10-01
            capacityParameters:
              name: azsdktest
              type: Microsoft.PowerBIDedicated/capacities
            location: West US
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              body:
                nameAvailable: true
              headers: {}
  "/subscriptions/{subscriptionId}/providers/Microsoft.PowerBIDedicated/skus":
    get:
      description: Lists eligible SKUs for PowerBI Dedicated resource provider.
      operationId: Capacities_ListSkus
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SkuEnumerationForNewResourceResult"
      x-ms-examples:
        List eligible SKUs for a new capacity:
          parameters:
            api-version: 2017-10-01
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              body:
                value:
                  - name: A1
                  - name: A2
                  - name: A3
                  - name: A4
                  - name: A5
                  - name: A6
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities":
    get:
      description: Gets all the Dedicated capacities for the given resource group.
      operationId: Capacities_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DedicatedCapacities"
      tags:
        - Capacities
      x-ms-examples:
        List capacities in resource group:
          parameters:
            api-version: 2017-10-01
            resourceGroupName: TestRG
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/613192d7-503f-477a-9cfe-4efc3ee2bd60/resourceGroups/TestRG/providers/Microsoft.PowerBIDedicated/capacities/azsdktest
                    location: West US
                    name: azsdktest
                    properties:
                      administration:
                        members:
                          - azsdktest@microsoft.com
                      provisioningState: Provisioning
                      state: Provisioning
                    sku:
                      name: A1
                      tier: PBIE_Azure
                    tags:
                      testKey: testValue
                  - id: /subscriptions/613192d7-503f-477a-9cfe-4efc3ee2bd60/resourceGroups/TestRG/providers/Microsoft.PowerBIDedicated/capacities/azsdktest
                    location: West US
                    name: azsdktest2
                    properties:
                      administration:
                        members:
                          - azsdktest@microsoft.com
                      provisioningState: Provisioning
                      state: Provisioning
                    sku:
                      name: A2
                      tier: PBIE_Azure
                    tags:
                      testKey: testValue
              headers: {}
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}":
    delete:
      description: Deletes the specified Dedicated capacity.
      operationId: Capacities_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.
          in: path
          maxLength: 63
          minLength: 3
          name: dedicatedCapacityName
          pattern: ^[a-z][a-z0-9]*$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK.
        "202":
          description: Accepted.
        "204":
          description: No Content.
      tags:
        - Capacities
      x-ms-examples:
        Get details of a capacity:
          parameters:
            api-version: 2017-10-01
            dedicatedCapacityName: azsdktest
            resourceGroupName: TestRG
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              description: OK.
              headers: {}
            "202":
              description: Accepted.
              headers: {}
            "204":
              headers: {}
      x-ms-long-running-operation: true
    get:
      description: Gets details about the specified dedicated capacity.
      operationId: Capacities_GetDetails
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: The name of the dedicated capacity. It must be a minimum of 3 characters, and a maximum of 63.
          in: path
          maxLength: 63
          minLength: 3
          name: dedicatedCapacityName
          pattern: ^[a-z][a-z0-9]*$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK. The operation was successful.
          schema:
            $ref: "#/definitions/DedicatedCapacity"
      tags:
        - Capacities
      x-ms-examples:
        Get details of a capacity:
          parameters:
            api-version: 2017-10-01
            dedicatedCapacityName: azsdktest
            resourceGroupName: TestRG
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              body:
                id: /subscriptions/613192d7-503f-477a-9cfe-4efc3ee2bd60/resourceGroups/TestRG/providers/Microsoft.PowerBIDedicated/capacities/azsdktest
                location: West US
                name: azsdktest
                properties:
                  administration:
                    members:
                      - azsdktest@microsoft.com
                  provisioningState: Provisioning
                  state: Provisioning
                sku:
                  name: A1
                  tier: PBIE_Azure
                tags: {}
              headers: {}
    patch:
      description: Updates the current state of the specified Dedicated capacity.
      operationId: Capacities_Update
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.
          in: path
          maxLength: 63
          minLength: 3
          name: dedicatedCapacityName
          pattern: ^[a-z][a-z0-9]*$
          required: true
          type: string
        - description: Request object that contains the updated information for the capacity.
          in: body
          name: capacityUpdateParameters
          required: true
          schema:
            $ref: "#/definitions/DedicatedCapacityUpdateParameters"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DedicatedCapacity"
        "202":
          description: Accepted
          schema:
            $ref: "#/definitions/DedicatedCapacity"
      tags:
        - Capacities
      x-ms-examples:
        Update capacity parameters:
          parameters:
            api-version: 2017-10-01
            capacityUpdateParameters:
              properties:
                administration:
                  members:
                    - azsdktest@microsoft.com
                    - azsdktest2@microsoft.com
              sku:
                name: A1
                tier: PBIE_Azure
              tags:
                testKey: testValue
            dedicatedCapacityName: azsdktest
            resourceGroupName: TestRG
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              body:
                id: /subscriptions/613192d7-503f-477a-9cfe-4efc3ee2bd60/resourceGroups/TestRG/providers/Microsoft.PowerBIDedicated/capacities/azsdktest
                location: West US
                name: azsdktest
                properties:
                  administration:
                    members:
                      - azsdktest@microsoft.com
                      - azsdktest2@microsoft.com
                  provisioningState: Provisioning
                  state: Provisioning
                sku:
                  name: A1
                  tier: PBIE_Azure
                tags:
                  testKey: testValue
              headers: {}
            "202":
              body:
                id: /subscriptions/613192d7-503f-477a-9cfe-4efc3ee2bd60/resourceGroups/TestRG/providers/Microsoft.PowerBIDedicated/capacities/azsdktest
                location: West US
                name: azsdktest
                properties:
                  administration:
                    members:
                      - azsdktest@microsoft.com
                      - azsdktest2@microsoft.com
                  provisioningState: Provisioning
                  state: Provisioning
                sku:
                  name: A1
                  tier: PBIE_Azure
                tags:
                  testKey: testValue
              headers: {}
      x-ms-long-running-operation: true
    put:
      description: Provisions the specified Dedicated capacity based on the configuration specified in the request.
      operationId: Capacities_Create
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: The name of the Dedicated capacity. It must be a minimum of 3 characters, and a maximum of 63.
          in: path
          maxLength: 63
          minLength: 3
          name: dedicatedCapacityName
          pattern: ^[a-z][a-z0-9]*$
          required: true
          type: string
        - description: Contains the information used to provision the Dedicated capacity.
          in: body
          name: capacityParameters
          required: true
          schema:
            $ref: "#/definitions/DedicatedCapacity"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK. The operation completed successfully.
          schema:
            $ref: "#/definitions/DedicatedCapacity"
        "201":
          description: InProgress. The operation is still in progress.
          schema:
            $ref: "#/definitions/DedicatedCapacity"
      tags:
        - Capacities
      x-ms-examples:
        Create capacity:
          parameters:
            api-version: 2017-10-01
            capacityParameters:
              location: West US
              properties:
                administration:
                  members:
                    - azsdktest@microsoft.com
                    - azsdktest2@microsoft.com
                provisioningState: Preparing
                state: Preparing
              sku:
                name: A1
                tier: PBIE_Azure
              tags:
                testKey: testValue
            dedicatedCapacityName: azsdktest
            resourceGroupName: TestRG
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              body:
                id: /subscriptions/613192d7-503f-477a-9cfe-4efc3ee2bd60/resourceGroups/TestRG/providers/Microsoft.PowerBIDedicated/capacities/azsdktest
                location: West US
                name: azsdktest
                properties:
                  administration:
                    members:
                      - azsdktest@microsoft.com
                      - azsdktest2@microsoft.com
                  provisioningState: Provisioning
                  state: Provisioning
                sku:
                  name: A1
                  tier: PBIE_Azure
                tags:
                  testKey: testValue
              headers: {}
            "201":
              body:
                id: /subscriptions/613192d7-503f-477a-9cfe-4efc3ee2bd60/resourceGroups/TestRG/providers/Microsoft.PowerBIDedicated/servers/azsdktest
                location: West US
                name: azsdktest
                properties:
                  administration:
                    members:
                      - azsdktest@microsoft.com
                      - azsdktest2@microsoft.com
                  provisioningState: Provisioning
                  state: Provisioning
                sku:
                  name: A1
                  tier: PBIE_Azure
                tags:
                  testKey: testValue
              headers: {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}/resume":
    post:
      description: Resumes operation of the specified Dedicated capacity instance.
      operationId: Capacities_Resume
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.
          in: path
          maxLength: 63
          minLength: 3
          name: dedicatedCapacityName
          pattern: ^[a-z][a-z0-9]*$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
      tags:
        - Capacities
      x-ms-examples:
        Get details of a capacity:
          parameters:
            api-version: 2017-10-01
            dedicatedCapacityName: azsdktest
            resourceGroupName: TestRG
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              description: OK.
              headers: {}
            "202":
              description: Accepted.
              headers: {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}/skus":
    get:
      description: Lists eligible SKUs for a PowerBI Dedicated resource.
      operationId: Capacities_ListSkusForCapacity
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.
          in: path
          maxLength: 63
          minLength: 3
          name: dedicatedCapacityName
          pattern: ^[a-z][a-z0-9]*$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SkuEnumerationForExistingResourceResult"
      tags:
        - Capacities
      x-ms-examples:
        List eligible SKUs for an existing capacity:
          parameters:
            api-version: 2017-10-01
            dedicatedCapacityName: azsdktest
            resourceGroupName: TestRG
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              body:
                value:
                  - sku:
                      name: A2
                      tier: PBIE_Azure
                  - sku:
                      name: A3
                      tier: PBIE_Azure
                  - sku:
                      name: A4
                      tier: PBIE_Azure
                  - sku:
                      name: A5
                      tier: PBIE_Azure
                  - sku:
                      name: A6
                      tier: PBIE_Azure
              headers: {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBIDedicated/capacities/{dedicatedCapacityName}/suspend":
    post:
      description: Suspends operation of the specified dedicated capacity instance.
      operationId: Capacities_Suspend
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: The name of the Dedicated capacity. It must be at least 3 characters in length, and no more than 63.
          in: path
          maxLength: 63
          minLength: 3
          name: dedicatedCapacityName
          pattern: ^[a-z][a-z0-9]*$
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: OK.
        "202":
          description: Accepted.
      tags:
        - Capacities
      x-ms-examples:
        Suspend capacity:
          parameters:
            api-version: 2017-10-01
            dedicatedCapacityName: azsdktest
            resourceGroupName: TestRG
            subscriptionId: 613192d7-503f-477a-9cfe-4efc3ee2bd60
          responses:
            "200":
              description: OK.
              headers: {}
            "202":
              description: Accepted.
              headers: {}
      x-ms-long-running-operation: true
definitions:
  CheckCapacityNameAvailabilityParameters:
    description: Details of capacity name request body.
    properties:
      name:
        description: Name for checking availability.
        maxLength: 63
        minLength: 3
        pattern: ^[a-z][a-z0-9]*$
        type: string
      type:
        default: Microsoft.PowerBIDedicated/capacities
        description: The resource type of PowerBI dedicated.
        type: string
    type: object
  CheckCapacityNameAvailabilityResult:
    description: The checking result of capacity name availability.
    properties:
      message:
        description: The detailed message of the request unavailability.
        type: string
      nameAvailable:
        description: Indicator of availability of the capacity name.
        type: boolean
      reason:
        description: The reason of unavailability.
        type: string
    type: object
  DedicatedCapacities:
    description: An array of Dedicated capacities resources.
    properties:
      value:
        description: An array of Dedicated capacities resources.
        items:
          $ref: "#/definitions/DedicatedCapacity"
        type: array
    required:
      - value
    type: object
  DedicatedCapacity:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Represents an instance of a Dedicated Capacity resource.
    properties:
      properties:
        $ref: "#/definitions/DedicatedCapacityProperties"
        description: Properties of the provision operation request.
        x-ms-client-flatten: true
    type: object
  DedicatedCapacityAdministrators:
    description: An array of administrator user identities
    properties:
      members:
        description: An array of administrator user identities.
        items:
          description: "The UPN of the user. For example: johnsmith@contoso.com."
          type: string
        type: array
    type: object
  DedicatedCapacityMutableProperties:
    description: An object that represents a set of mutable Dedicated capacity resource properties.
    properties:
      administration:
        $ref: "#/definitions/DedicatedCapacityAdministrators"
        description: A collection of Dedicated capacity administrators
    type: object
  DedicatedCapacityProperties:
    allOf:
      - $ref: "#/definitions/DedicatedCapacityMutableProperties"
    description: Properties of Dedicated Capacity resource.
    properties:
      provisioningState:
        description: The current deployment state of PowerBI Dedicated resource. The provisioningState is to indicate states for resource provisioning.
        enum:
          - Deleting
          - Succeeded
          - Failed
          - Paused
          - Suspended
          - Provisioning
          - Updating
          - Suspending
          - Pausing
          - Resuming
          - Preparing
          - Scaling
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      state:
        description: The current state of PowerBI Dedicated resource. The state is to indicate more states outside of resource provisioning.
        enum:
          - Deleting
          - Succeeded
          - Failed
          - Paused
          - Suspended
          - Provisioning
          - Updating
          - Suspending
          - Pausing
          - Resuming
          - Preparing
          - Scaling
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: State
    type: object
  DedicatedCapacityUpdateParameters:
    description: Provision request specification
    properties:
      properties:
        $ref: "#/definitions/DedicatedCapacityMutableProperties"
        description: Properties of the provision operation request.
        x-ms-client-flatten: true
      sku:
        $ref: "#/definitions/ResourceSku"
        description: The SKU of the Dedicated capacity resource.
      tags:
        additionalProperties:
          type: string
        description: Key-value pairs of additional provisioning properties.
        type: object
    type: object
  ErrorResponse:
    description: Describes the format of Error response.
    properties:
      code:
        description: Error code
        type: string
      message:
        description: Error message indicating why the operation failed.
        type: string
    type: object
  Operation:
    description: Capacities REST API operation.
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: "Operation type: create, update, delete, etc."
            readOnly: true
            type: string
          provider:
            description: "Service provider: Microsoft.PowerBIDedicated."
            readOnly: true
            type: string
          resource:
            description: "Resource on which the operation is performed: capacity, etc."
            readOnly: true
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}."
        readOnly: true
        type: string
    type: object
  OperationListResult:
    description: Result listing capacities. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        readOnly: true
        type: string
      value:
        description: List of capacities supported by the Microsoft.PowerBIDedicated resource provider.
        items:
          $ref: "#/definitions/Operation"
        readOnly: true
        type: array
  Resource:
    description: Represents an instance of an PowerBI Dedicated resource.
    properties:
      id:
        description: An identifier that represents the PowerBI Dedicated resource.
        readOnly: true
        type: string
      location:
        description: Location of the PowerBI Dedicated resource.
        type: string
      name:
        description: The name of the PowerBI Dedicated resource.
        readOnly: true
        type: string
      sku:
        $ref: "#/definitions/ResourceSku"
        description: The SKU of the PowerBI Dedicated resource.
      tags:
        additionalProperties:
          type: string
        description: Key-value pairs of additional resource provisioning properties.
        type: object
      type:
        description: The type of the PowerBI Dedicated resource.
        readOnly: true
        type: string
    required:
      - location
      - sku
    type: object
    x-ms-azure-resource: true
  ResourceSku:
    description: Represents the SKU name and Azure pricing tier for PowerBI Dedicated resource.
    properties:
      name:
        description: Name of the SKU level.
        type: string
      tier:
        description: The name of the Azure pricing tier to which the SKU applies.
        enum:
          - PBIE_Azure
        type: string
        x-ms-enum:
          modelAsString: true
          name: SkuTier
    required:
      - name
    type: object
  SkuDetailsForExistingResource:
    description: An object that represents SKU details for existing resources
    properties:
      sku:
        $ref: "#/definitions/ResourceSku"
        description: The SKU in SKU details for existing resources.
    type: object
  SkuEnumerationForExistingResourceResult:
    description: An object that represents enumerating SKUs for existing resources
    properties:
      value:
        description: The collection of available SKUs for existing resources
        items:
          $ref: "#/definitions/SkuDetailsForExistingResource"
        type: array
    type: object
  SkuEnumerationForNewResourceResult:
    description: An object that represents enumerating SKUs for new resources
    properties:
      value:
        description: The collection of available SKUs for new resources
        items:
          $ref: "#/definitions/ResourceSku"
        type: array
    type: object
