swagger: "2.0"
host: stats.nba.com
basePath: /stats
info:
  description: The destination for current and historic NBA statistics.
  title: NBA Stats API
  version: version
  x-apisguru-categories:
    - media
    - open_data
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_en_thumb_0_03_National_Basketball_Association_logo.svg_100px-National_Basketball_Association_logo.svg.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/danielwelch/little-pynny/master/little-pynny/swagger.json
      version: "2.0"
  x-providerName: nba.com
  x-unofficialSpec: true
paths:
  /allstarballotpredictor:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: PointCap
        required: false
        type: string
      - in: query
        name: WestPlayer1
        required: true
        type: string
      - in: query
        name: WestPlayer2
        required: true
        type: string
      - in: query
        name: WestPlayer3
        required: true
        type: string
      - in: query
        name: WestPlayer4
        required: true
        type: string
      - in: query
        name: WestPlayer5
        required: true
        type: string
      - in: query
        name: EastPlayer1
        required: true
        type: string
      - in: query
        name: EastPlayer2
        required: true
        type: string
      - in: query
        name: EastPlayer3
        required: true
        type: string
      - in: query
        name: EastPlayer4
        required: true
        type: string
      - in: query
        name: EastPlayer5
        required: true
        type: string
  /boxscore:
    get:
      deprecated: true
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameID
        required: false
        type: string
      - in: query
        name: StartPeriod
        required: false
        type: string
      - in: query
        name: EndPeriod
        required: false
        type: string
      - in: query
        name: StartRange
        required: false
        type: string
      - in: query
        name: EndRange
        required: false
        type: string
      - in: query
        name: RangeType
        required: false
        type: string
  /boxscoreadvanced:
    get:
      deprecated: true
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameID
        required: false
        type: string
      - in: query
        name: StartPeriod
        required: false
        type: string
      - in: query
        name: EndPeriod
        required: false
        type: string
      - in: query
        name: StartRange
        required: false
        type: string
      - in: query
        name: EndRange
        required: false
        type: string
      - in: query
        name: RangeType
        required: false
        type: string
  /boxscoreadvancedv2:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameID
        required: true
        type: string
      - in: query
        name: StartPeriod
        required: true
        type: string
      - in: query
        name: EndPeriod
        required: true
        type: string
      - in: query
        name: StartRange
        required: true
        type: string
      - in: query
        name: EndRange
        required: true
        type: string
      - in: query
        name: RangeType
        required: true
        type: string
  /boxscorefourfactors:
    get:
      deprecated: true
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameID
        required: false
        type: string
      - in: query
        name: StartPeriod
        required: false
        type: string
      - in: query
        name: EndPeriod
        required: false
        type: string
      - in: query
        name: StartRange
        required: false
        type: string
      - in: query
        name: EndRange
        required: false
        type: string
      - in: query
        name: RangeType
        required: false
        type: string
  /boxscorefourfactorsv2:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameID
        required: true
        type: string
      - in: query
        name: StartPeriod
        required: true
        type: string
      - in: query
        name: EndPeriod
        required: true
        type: string
      - in: query
        name: StartRange
        required: true
        type: string
      - in: query
        name: EndRange
        required: true
        type: string
      - in: query
        name: RangeType
        required: true
        type: string
  /boxscoremisc:
    get:
      deprecated: true
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameID
        required: false
        type: string
      - in: query
        name: StartPeriod
        required: false
        type: string
      - in: query
        name: EndPeriod
        required: false
        type: string
      - in: query
        name: StartRange
        required: false
        type: string
      - in: query
        name: EndRange
        required: false
        type: string
      - in: query
        name: RangeType
        required: false
        type: string
  /boxscoremiscv2:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameID
        required: true
        type: string
      - in: query
        name: StartPeriod
        required: true
        type: string
      - in: query
        name: EndPeriod
        required: true
        type: string
      - in: query
        name: StartRange
        required: true
        type: string
      - in: query
        name: EndRange
        required: true
        type: string
      - in: query
        name: RangeType
        required: true
        type: string
  /boxscoreplayertrackv2:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameID
        required: true
        type: string
  /boxscorescoring:
    get:
      deprecated: true
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameID
        required: false
        type: string
      - in: query
        name: StartPeriod
        required: false
        type: string
      - in: query
        name: EndPeriod
        required: false
        type: string
      - in: query
        name: StartRange
        required: false
        type: string
      - in: query
        name: EndRange
        required: false
        type: string
      - in: query
        name: RangeType
        required: false
        type: string
  /boxscorescoringv2:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameID
        required: true
        type: string
      - in: query
        name: StartPeriod
        required: true
        type: string
      - in: query
        name: EndPeriod
        required: true
        type: string
      - in: query
        name: StartRange
        required: true
        type: string
      - in: query
        name: EndRange
        required: true
        type: string
      - in: query
        name: RangeType
        required: true
        type: string
  /boxscoresummaryv2:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameID
        required: true
        type: string
  /boxscoretraditionalv2:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameID
        required: true
        type: string
      - in: query
        name: StartPeriod
        required: true
        type: string
      - in: query
        name: EndPeriod
        required: true
        type: string
      - in: query
        name: StartRange
        required: true
        type: string
      - in: query
        name: EndRange
        required: true
        type: string
      - in: query
        name: RangeType
        required: true
        type: string
  /boxscoreusage:
    get:
      deprecated: true
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameID
        required: false
        type: string
      - in: query
        name: StartPeriod
        required: false
        type: string
      - in: query
        name: EndPeriod
        required: false
        type: string
      - in: query
        name: StartRange
        required: false
        type: string
      - in: query
        name: EndRange
        required: false
        type: string
      - in: query
        name: RangeType
        required: false
        type: string
  /boxscoreusagev2:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameID
        required: true
        type: string
      - in: query
        name: StartPeriod
        required: true
        type: string
      - in: query
        name: EndPeriod
        required: true
        type: string
      - in: query
        name: StartRange
        required: true
        type: string
      - in: query
        name: EndRange
        required: true
        type: string
      - in: query
        name: RangeType
        required: true
        type: string
  /commonTeamYears:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
  /commonallplayers:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: IsOnlyCurrentSeason
        required: true
        type: string
  /commonplayerinfo:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: PlayerID
        required: true
        type: string
  /commonplayoffseries:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
  /commonteamroster:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: TeamID
        required: true
        type: string
  /draftcombinedrillresults:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: SeasonYear
        required: true
        type: string
  /draftcombinenonstationaryshooting:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: SeasonYear
        required: true
        type: string
  /draftcombineplayeranthro:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: SeasonYear
        required: true
        type: string
  /draftcombinespotshooting:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: SeasonYear
        required: true
        type: string
  /draftcombinestats:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: SeasonYear
        required: true
        type: string
  /drafthistory:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
  /franchisehistory:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
  /homepageleaders:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: StatCategory
        required: true
        type: string
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: PlayerOrTeam
        required: true
        type: string
      - in: query
        name: Game
        required: false
        type: string
      - in: query
        name: Player
        required: false
        type: string
      - in: query
        name: PlayerScope
        required: true
        type: string
      - in: query
        name: GameScope
        required: true
        type: string
  /homepagev2:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: StatType
        required: true
        type: string
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: PlayerOrTeam
        required: true
        type: string
      - in: query
        name: Game
        required: false
        type: string
      - in: query
        name: Player
        required: false
        type: string
      - in: query
        name: PlayerScope
        required: true
        type: string
      - in: query
        name: GameScope
        required: true
        type: string
  /leaderstiles:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: Stat
        required: true
        type: string
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: PlayerOrTeam
        required: true
        type: string
      - in: query
        name: Game
        required: false
        type: string
      - in: query
        name: Player
        required: false
        type: string
      - in: query
        name: PlayerScope
        required: true
        type: string
      - in: query
        name: GameScope
        required: true
        type: string
  /leaguedashlineups:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GroupQuantity
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /leaguedashplayerbiostats:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
  /leaguedashplayerclutch:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: ClutchTime
        required: true
        type: string
      - in: query
        name: AheadBehind
        required: true
        type: string
      - in: query
        name: PointDiff
        required: true
        type: string
      - in: query
        name: GameScope
        required: true
        type: string
      - in: query
        name: PlayerExperience
        required: true
        type: string
      - in: query
        name: PlayerPosition
        required: true
        type: string
      - in: query
        name: StarterBench
        required: true
        type: string
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /leaguedashplayerptshot:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
  /leaguedashplayershotlocations:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
      - in: query
        name: DistanceRange
        required: true
        type: string
      - in: query
        name: GameScope
        required: true
        type: string
      - in: query
        name: PlayerExperience
        required: true
        type: string
      - in: query
        name: PlayerPosition
        required: true
        type: string
      - in: query
        name: StarterBench
        required: true
        type: string
  /leaguedashplayerstats:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameScope
        required: true
        type: string
      - in: query
        name: PlayerExperience
        required: true
        type: string
      - in: query
        name: PlayerPosition
        required: true
        type: string
      - in: query
        name: StarterBench
        required: true
        type: string
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /leaguedashptdefend:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: DefenseCategory
        required: true
        type: string
  /leaguedashptteamdefend:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: DefenseCategory
        required: true
        type: string
  /leaguedashteamclutch:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: ClutchTime
        required: true
        type: string
      - in: query
        name: AheadBehind
        required: true
        type: string
      - in: query
        name: PointDiff
        required: true
        type: string
      - in: query
        name: GameScope
        required: true
        type: string
      - in: query
        name: PlayerExperience
        required: true
        type: string
      - in: query
        name: PlayerPosition
        required: true
        type: string
      - in: query
        name: StarterBench
        required: true
        type: string
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /leaguedashteamptshot:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
  /leaguedashteamshotlocations:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
      - in: query
        name: DistanceRange
        required: true
        type: string
      - in: query
        name: GameScope
        required: true
        type: string
      - in: query
        name: PlayerExperience
        required: true
        type: string
      - in: query
        name: PlayerPosition
        required: true
        type: string
      - in: query
        name: StarterBench
        required: true
        type: string
  /leaguedashteamstats:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /leagueleaders:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: StatCategory
        required: false
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: Scope
        required: true
        type: string
  /playbyplay:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameID
        required: true
        type: string
      - in: query
        name: StartPeriod
        required: true
        type: string
      - in: query
        name: EndPeriod
        required: true
        type: string
  /playbyplayv2:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameID
        required: true
        type: string
      - in: query
        name: StartPeriod
        required: true
        type: string
      - in: query
        name: EndPeriod
        required: true
        type: string
  /playercareerstats:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlayerID
        required: true
        type: string
  /playercompare:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: PlayerIDList
        required: true
        type: string
      - in: query
        name: VsPlayerIDList
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /playerdashboardbyclutch:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: PlayerID
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /playerdashboardbygamesplits:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: PlayerID
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /playerdashboardbygeneralsplits:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: PlayerID
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /playerdashboardbylastngames:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: PlayerID
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /playerdashboardbyopponent:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: PlayerID
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /playerdashboardbyshootingsplits:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: PlayerID
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /playerdashboardbyteamperformance:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: PlayerID
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /playerdashboardbyyearoveryear:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: PlayerID
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /playerdashptpass:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: PlayerID
        required: true
        type: string
      - in: query
        name: TeamID
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /playerdashptreb:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: PlayerID
        required: true
        type: string
      - in: query
        name: TeamID
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /playerdashptreboundlogs:
    get:
      deprecated: true
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: Season
        required: false
        type: string
      - in: query
        name: SeasonType
        required: false
        type: string
      - in: query
        name: PlayerID
        required: false
        type: string
      - in: query
        name: TeamID
        required: false
        type: string
      - in: query
        name: Outcome
        required: false
        type: string
      - in: query
        name: Location
        required: false
        type: string
      - in: query
        name: Month
        required: false
        type: string
      - in: query
        name: SeasonSegment
        required: false
        type: string
      - in: query
        name: DateFrom
        required: false
        type: string
      - in: query
        name: DateTo
        required: false
        type: string
      - in: query
        name: OpponentTeamID
        required: false
        type: string
      - in: query
        name: VsConference
        required: false
        type: string
      - in: query
        name: VsDivision
        required: false
        type: string
      - in: query
        name: GameSegment
        required: false
        type: string
      - in: query
        name: Period
        required: false
        type: string
      - in: query
        name: LastNGames
        required: false
        type: string
  /playerdashptshotdefend:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: PlayerID
        required: true
        type: string
      - in: query
        name: TeamID
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /playerdashptshotlog:
    get:
      deprecated: true
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: false
        type: string
      - in: query
        name: Season
        required: false
        type: string
      - in: query
        name: SeasonType
        required: false
        type: string
      - in: query
        name: PlayerID
        required: false
        type: string
      - in: query
        name: TeamID
        required: false
        type: string
  /playerdashptshots:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: PlayerID
        required: true
        type: string
      - in: query
        name: TeamID
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /playergamelog:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: PlayerID
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
  /playerprofile:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: PlayerID
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: GraphStartSeason
        required: true
        type: string
      - in: query
        name: GraphEndSeason
        required: true
        type: string
      - in: query
        name: GraphStat
        required: true
        type: string
  /playerprofilev2:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlayerID
        required: true
        type: string
  /playersvsplayers:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: PlayerTeamID
        required: true
        type: string
      - in: query
        name: PlayerID1
        required: true
        type: string
      - in: query
        name: PlayerID2
        required: true
        type: string
      - in: query
        name: PlayerID3
        required: true
        type: string
      - in: query
        name: PlayerID4
        required: true
        type: string
      - in: query
        name: PlayerID5
        required: true
        type: string
      - in: query
        name: VsTeamID
        required: true
        type: string
      - in: query
        name: VsPlayerID1
        required: true
        type: string
      - in: query
        name: VsPlayerID2
        required: true
        type: string
      - in: query
        name: VsPlayerID3
        required: true
        type: string
      - in: query
        name: VsPlayerID4
        required: true
        type: string
      - in: query
        name: VsPlayerID5
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /playervsplayer:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: PlayerID
        required: true
        type: string
      - in: query
        name: VsPlayerID
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /playoffpicture:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: SeasonID
        required: true
        type: string
  /scoreboard:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameDate
        required: true
        type: string
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: DayOffset
        required: true
        type: string
  /scoreboardV2:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: GameDate
        required: true
        type: string
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: DayOffset
        required: true
        type: string
  /shotchartdetail:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: TeamID
        required: true
        type: string
      - in: query
        name: PlayerID
        required: true
        type: string
      - in: query
        name: GameID
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: Position
        required: true
        type: string
      - in: query
        name: RookieYear
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
      - in: query
        name: ContextMeasure
        required: true
        type: string
  /shotchartlineupdetail:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: LeagueID
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: TeamID
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
      - in: query
        name: GameID
        required: true
        type: string
      - in: query
        name: GROUP_ID
        required: true
        type: string
      - in: query
        name: ContextMeasure
        required: true
        type: string
      - in: query
        name: ContextFilter
        required: true
        type: string
  /teamdashboardbyclutch:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: TeamID
        required: true
        type: string
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /teamdashboardbygamesplits:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: TeamID
        required: true
        type: string
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
        type: string
      - in: query
        name: VsDivision
        required: true
        type: string
      - in: query
        name: GameSegment
        required: true
        type: string
      - in: query
        name: Period
        required: true
        type: string
      - in: query
        name: LastNGames
        required: true
        type: string
  /teamdashboardbygeneralsplits:
    get:
      deprecated: false
      description: ""
      produces:
        - application/json
        - text/html
        - text/xml
      responses:
        "200":
          description: 200 OK
        "400":
          description: Bad request - bad parameters
        "404":
          description: "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint"
      summary: ""
    parameters:
      - in: query
        name: SeasonType
        required: true
        type: string
      - in: query
        name: TeamID
        required: true
        type: string
      - in: query
        name: MeasureType
        required: true
        type: string
      - in: query
        name: PerMode
        required: true
        type: string
      - in: query
        name: PlusMinus
        required: true
        type: string
      - in: query
        name: PaceAdjust
        required: true
        type: string
      - in: query
        name: Rank
        required: true
        type: string
      - in: query
        name: Season
        required: true
        type: string
      - in: query
        name: Outcome
        required: true
        type: string
      - in: query
        name: Location
        required: true
        type: string
      - in: query
        name: Month
        required: true
        type: string
      - in: query
        name: SeasonSegment
        required: true
        type: string
      - in: query
        name: DateFrom
        required: true
        type: string
      - in: query
        name: DateTo
        required: true
        type: string
      - in: query
        name: OpponentTeamID
        required: true
        type: string
      - in: query
        name: VsConference
        required: true
[...]
