swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: This Swagger was generated by the API Framework.
  title: Azure Media Services
  version: 2018-06-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/mediaservices/resource-manager/Microsoft.Media/preview/2018-06-01-preview/Assets.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: mediaservices-Assets
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: Impersonate your user account
    type: oauth2
parameters:
  ApiVersion:
    description: The Version of the API to be used with the client request.
    in: query
    name: api-version
    required: true
    type: string
  MediaServicesAccountName:
    description: The Media Services account name.
    in: path
    name: accountName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupName:
    description: The name of the resource group within the Azure subscription.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionId:
    description: The unique identifier for a Microsoft Azure subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets":
    get:
      description: List Assets in the Media Services account with optional filtering and ordering
      operationId: Assets_List
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - $ref: "#/parameters/ApiVersion"
        - description: Restricts the set of items returned.
          in: query
          name: $filter
          required: false
          type: string
        - description: Specifies a non-negative integer n that limits the number of items returned from a collection. The service returns the number of available items up to but not greater than the specified value n.
          in: query
          name: $top
          required: false
          type: integer
        - description: Specifies the key by which the result collection should be ordered.
          in: query
          name: $orderby
          required: false
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AssetCollection"
        default:
          description: Detailed error information.
          schema:
            $ref: "#/definitions/ApiError"
      summary: List Assets
      x-ms-examples:
        List Asset created in a date range:
          parameters:
            $filter: properties/created gt 2012-06-01 and properties/created lt 2013-07-01
            $orderby: properties/created
            accountName: contosomedia
            api-version: 2018-06-01-preview
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/assets/ClimbingMountRainier
                    name: ClimbingMountRainier
                    properties:
                      alternateId: CLIMB00001
                      assetId: f8eea45c-b814-44c2-9c42-a5174ebdee4c
                      container: null
                      created: 2012-11-01T00:00:00Z
                      description: A documentary showing the ascent of Mount Rainier
                      lastModified: 2012-11-01T00:00:00Z
                      storageAccountName: null
                      storageEncryptionFormat: None
                    type: Microsoft.Media/mediaservices/assets
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/assets/ClimbingMountAdams
                    name: ClimbingMountAdams
                    properties:
                      alternateId: CLIMB00002
                      assetId: 1b648c1a-2268-461d-a1da-742bde23db40
                      container: null
                      created: 2013-02-01T00:00:00Z
                      description: A documentary showing the ascent of Mount Adams
                      lastModified: 2017-11-01T00:00:00Z
                      storageAccountName: null
                      storageEncryptionFormat: None
                    type: Microsoft.Media/mediaservices/assets
        List Asset ordered by date:
          parameters:
            $orderby: properties/created
            accountName: contosomedia
            api-version: 2018-06-01-preview
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/assets/ClimbingMountBaker
                    name: ClimbingMountBaker
                    properties:
                      alternateId: CLIMB00004
                      assetId: 89af1750-e681-4fbe-8c4c-9a5567867a6b
                      container: null
                      created: 2011-02-01T00:00:00Z
                      description: A documentary showing the ascent of Mount Baker
                      lastModified: 2017-11-01T00:00:00Z
                      storageAccountName: null
                      storageEncryptionFormat: None
                    type: Microsoft.Media/mediaservices/assets
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/assets/ClimbingLittleTahoma
                    name: ClimbingLittleTahoma
                    properties:
                      alternateId: CLIMB00003
                      assetId: e6c7ee55-d1f5-48bc-9c36-2d2157aadbbe
                      container: null
                      created: 2012-04-01T00:00:00Z
                      description: A documentary showing the ascent of Little Tahoma
                      lastModified: 2017-11-01T00:00:00Z
                      storageAccountName: null
                      storageEncryptionFormat: None
                    type: Microsoft.Media/mediaservices/assets
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/assets/ClimbingMountRainier
                    name: ClimbingMountRainier
                    properties:
                      alternateId: CLIMB00001
                      assetId: f8eea45c-b814-44c2-9c42-a5174ebdee4c
                      container: null
                      created: 2012-11-01T00:00:00Z
                      description: A documentary showing the ascent of Mount Rainier
                      lastModified: 2012-11-01T00:00:00Z
                      storageAccountName: null
                      storageEncryptionFormat: None
                    type: Microsoft.Media/mediaservices/assets
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/assets/ClimbingMountAdams
                    name: ClimbingMountAdams
                    properties:
                      alternateId: CLIMB00002
                      assetId: 1b648c1a-2268-461d-a1da-742bde23db40
                      container: null
                      created: 2013-02-01T00:00:00Z
                      description: A documentary showing the ascent of Mount Adams
                      lastModified: 2017-11-01T00:00:00Z
                      storageAccountName: null
                      storageEncryptionFormat: None
                    type: Microsoft.Media/mediaservices/assets
        List all Assets:
          parameters:
            accountName: contosomedia
            api-version: 2018-06-01-preview
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/assets/ClimbingLittleTahoma
                    name: ClimbingLittleTahoma
                    properties:
                      alternateId: CLIMB00003
                      assetId: e6c7ee55-d1f5-48bc-9c36-2d2157aadbbe
                      container: null
                      created: 2012-04-01T00:00:00Z
                      description: A documentary showing the ascent of Little Tahoma
                      lastModified: 2017-11-01T00:00:00Z
                      storageAccountName: null
                      storageEncryptionFormat: None
                    type: Microsoft.Media/mediaservices/assets
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/assets/ClimbingMountAdams
                    name: ClimbingMountAdams
                    properties:
                      alternateId: CLIMB00002
                      assetId: 1b648c1a-2268-461d-a1da-742bde23db40
                      container: null
                      created: 2013-02-01T00:00:00Z
                      description: A documentary showing the ascent of Mount Adams
                      lastModified: 2017-11-01T00:00:00Z
                      storageAccountName: null
                      storageEncryptionFormat: None
                    type: Microsoft.Media/mediaservices/assets
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/assets/ClimbingMountBaker
                    name: ClimbingMountBaker
                    properties:
                      alternateId: CLIMB00004
                      assetId: 89af1750-e681-4fbe-8c4c-9a5567867a6b
                      container: null
                      created: 2011-02-01T00:00:00Z
                      description: A documentary showing the ascent of Mount Baker
                      lastModified: 2017-11-01T00:00:00Z
                      storageAccountName: null
                      storageEncryptionFormat: None
                    type: Microsoft.Media/mediaservices/assets
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/assets/ClimbingMountRainier
                    name: ClimbingMountRainier
                    properties:
                      alternateId: CLIMB00001
                      assetId: f8eea45c-b814-44c2-9c42-a5174ebdee4c
                      container: null
                      created: 2012-11-01T00:00:00Z
                      description: A documentary showing the ascent of Mount Rainier
                      lastModified: 2012-11-01T00:00:00Z
                      storageAccountName: null
                      storageEncryptionFormat: None
                    type: Microsoft.Media/mediaservices/assets
      x-ms-odata: "#/definitions/Asset"
      x-ms-pageable:
        nextLinkName: "@odata.nextLink"
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets/{assetName}":
    delete:
      description: Deletes an Asset in the Media Services account
      operationId: Assets_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - description: The Asset name.
          in: path
          name: assetName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK
        "204":
          description: NoContent
        default:
          description: Detailed error information.
          schema:
            $ref: "#/definitions/ApiError"
      summary: Delete an Asset.
      x-ms-examples:
        Delete an Asset:
          parameters:
            accountName: contosomedia
            api-version: 2018-06-01-preview
            assetName: ClimbingMountAdams
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
    get:
      description: Get the details of an Asset in the Media Services account
      operationId: Assets_Get
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - description: The Asset name.
          in: path
          name: assetName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Asset"
        "404":
          description: NotFound
        default:
          description: Detailed error information.
          schema:
            $ref: "#/definitions/ApiError"
      summary: Get an Asset
      x-ms-examples:
        Get an Asset by name:
          parameters:
            accountName: contosomedia
            api-version: 2018-06-01-preview
            assetName: ClimbingMountAdams
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/assets/ClimbingMountAdams
                name: ClimbingMountAdams
                properties:
                  alternateId: CLIMB00002
                  assetId: 1b648c1a-2268-461d-a1da-742bde23db40
                  container: null
                  created: 2013-02-01T00:00:00Z
                  description: A documentary showing the ascent of Mount Adams
                  lastModified: 2017-11-01T00:00:00Z
                  storageAccountName: null
                  storageEncryptionFormat: None
                type: Microsoft.Media/mediaservices/assets
            "404": {}
    patch:
      description: Updates an existing Asset in the Media Services account
      operationId: Assets_Update
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - description: The Asset name.
          in: path
          name: assetName
          required: true
          type: string
        - description: The request parameters
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Asset"
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Asset"
        default:
          description: Detailed error information.
          schema:
            $ref: "#/definitions/ApiError"
      summary: Update an Asset
      x-ms-examples:
        Update an Asset:
          parameters:
            accountName: contosomedia
            api-version: 2018-06-01-preview
            assetName: ClimbingMountBaker
            parameters:
              properties:
                description: A documentary showing the ascent of Mount Baker in HD
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/assets/ClimbingMountBaker
                name: ClimbingMountBaker
                properties:
                  alternateId: CLIMB00004
                  assetId: 89af1750-e681-4fbe-8c4c-9a5567867a6b
                  container: null
                  created: 2011-02-01T00:00:00Z
                  description: A documentary showing the ascent of Mount Baker in HD
                  lastModified: 2018-05-31T21:08:48.143Z
                  storageAccountName: null
                  storageEncryptionFormat: None
                type: Microsoft.Media/mediaservices/assets
    put:
      description: Creates or updates an Asset in the Media Services account
      operationId: Assets_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - description: The Asset name.
          in: path
          name: assetName
          required: true
          type: string
        - description: The request parameters
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Asset"
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Asset"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/Asset"
        default:
          description: Detailed error information.
          schema:
            $ref: "#/definitions/ApiError"
      summary: Create or update an Asset
      x-ms-examples:
        Create an Asset:
          parameters:
            accountName: contosomedia
            api-version: 2018-06-01-preview
            assetName: ClimbingMountLogan
            parameters:
              properties:
                description: A documentary showing the ascent of Mount Logan
                storageAccountName: storage0
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/assets/ClimbingMountLogan
                name: ClimbingMountLogan
                properties:
                  alternateId: null
                  assetId: 6b4ec0a2-546f-4cc2-a000-6a46f9aec67f
                  container: null
                  created: 2018-05-31T21:08:47.903Z
                  description: A documentary showing the ascent of Mount Logan
                  lastModified: 2018-05-31T21:08:47.957Z
                  storageAccountName: storage0
                  storageEncryptionFormat: None
                type: Microsoft.Media/mediaservices/assets
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/contoso/providers/Microsoft.Media/mediaservices/contosomedia/assets/ClimbingMountLogan
                name: ClimbingMountLogan
                properties:
                  alternateId: null
                  assetId: 6b4ec0a2-546f-4cc2-a000-6a46f9aec67f
                  container: null
                  created: 2018-05-31T21:08:47.903Z
                  description: A documentary showing the ascent of Mount Logan
                  lastModified: 2018-05-31T21:08:47.903Z
                  storageAccountName: storage0
                  storageEncryptionFormat: None
                type: Microsoft.Media/mediaservices/assets
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets/{assetName}/getEncryptionKey":
    post:
      description: Gets the Asset storage encryption keys used to decrypt content created by version 2 of the Media Services API
      operationId: Assets_GetEncryptionKey
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - description: The Asset name.
          in: path
          name: assetName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AssetStorageEncryptionKey"
        default:
          description: Detailed error information.
          schema:
            $ref: "#/definitions/ApiError"
      summary: Gets the Asset storage key
      x-ms-examples:
        Get Asset Storage Encryption Keys:
          parameters:
            accountName: contosomedia
            api-version: 2018-06-01-preview
            assetName: ClimbingMountAdams
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                storageEncryptionKey: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaServices/{accountName}/assets/{assetName}/listContainerSas":
    post:
      description: Lists storage container URLs with shared access signatures (SAS) for uploading and downloading Asset content. The signatures are derived from the storage account keys.
      operationId: Assets_ListContainerSas
      parameters:
        - $ref: "#/parameters/SubscriptionId"
        - $ref: "#/parameters/ResourceGroupName"
        - $ref: "#/parameters/MediaServicesAccountName"
        - description: The Asset name.
          in: path
          name: assetName
          required: true
          type: string
        - description: The request parameters
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ListContainerSasInput"
        - $ref: "#/parameters/ApiVersion"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AssetContainerSas"
        default:
          description: Detailed error information.
          schema:
            $ref: "#/definitions/ApiError"
      summary: List the Asset URLs
      x-ms-examples:
        List Asset SAS URLs:
          parameters:
            accountName: contosomedia
            api-version: 2018-06-01-preview
            assetName: ClimbingMountBaker
            parameters:
              expiryTime: 2018-01-01T10:00:00.007Z
              permissions: ReadWrite
            resourceGroupName: contoso
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                assetContainerSasUrls:
                  - https://storage0.blob.core.windows.net/asset-89af1750-e681-4fbe-8c4c-9a5567867a6b?sr=b&sig=<secret-value-from-key-1>&se=2018-01-01T10:00:00Z&sp=lrw
                  - https://storage0.blob.core.windows.net/asset-89af1750-e681-4fbe-8c4c-9a5567867a6b?sr=b&sig=<secret-value-from-key-2>&se=2018-01-01T10:00:00Z&sp=lrw
definitions:
  ApiError:
    description: The API error.
    properties:
      error:
        $ref: "#/definitions/ODataError"
        description: The error properties.
    type: object
  Asset:
    allOf:
      - allOf:
          - description: The core properties of ARM resources.
            properties:
              id:
                description: Fully qualified resource ID for the resource.
                readOnly: true
                type: string
              name:
                description: The name of the resource.
                readOnly: true
                type: string
              type:
                description: The type of the resource.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: The resource model definition for a ARM proxy resource.
    description: An Asset.
    properties:
      properties:
        $ref: "#/definitions/AssetProperties"
        description: The resource properties.
        x-ms-client-flatten: true
    type: object
  AssetCollection:
    description: A collection of Asset items.
    properties:
      "@odata.nextLink":
        description: A link to the next page of the collection (when the collection contains too many results to return in one response).
        type: string
      value:
        description: A collection of Asset items.
        items:
          $ref: "#/definitions/Asset"
        type: array
    type: object
  AssetContainerSas:
    description: The Asset Storage container SAS URLs.
    properties:
      assetContainerSasUrls:
        description: The list of Asset container SAS URLs.
        items:
          type: string
        type: array
    type: object
  AssetProperties:
    description: The Asset properties.
    properties:
      alternateId:
        description: The alternate ID of the Asset.
        type: string
      assetId:
        description: The Asset ID.
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      container:
        description: The name of the asset blob container.
        type: string
      created:
        description: The creation date of the Asset.
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      description:
        description: The Asset description.
        type: string
      lastModified:
        description: The last modified date of the Asset.
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      storageAccountName:
        description: The name of the storage account.
        type: string
      storageEncryptionFormat:
        description: The Asset encryption format. One of None or MediaStorageEncryption.
        enum:
          - None
          - MediaStorageClientEncryption
        readOnly: true
        type: string
        x-ms-enum:
          modelAsExtensible: true
          name: AssetStorageEncryptionFormat
          values:
            - description: The Asset does not use client-side storage encryption (this is the only allowed value for new Assets).
              value: None
            - description: The Asset is encrypted with Media Services client-side encryption.
              value: MediaStorageClientEncryption
        x-nullable: false
    type: object
  AssetStorageEncryptionKey:
    description: The Asset Storage encryption key.
    properties:
      storageEncryptionKey:
        description: The Asset storage encryption key.
        type: string
    type: object
  ListContainerSasInput:
    description: The parameters to the list SAS request.
    properties:
      expiryTime:
        description: The SAS URL expiration time.  This must be less than 24 hours from the current time.
        format: date-time
        type: string
      permissions:
        description: The permissions to set on the SAS URL.
        enum:
          - Read
          - ReadWrite
          - ReadWriteDelete
        type: string
        x-ms-enum:
          modelAsExtensible: true
          name: AssetContainerPermission
          values:
            - description: The SAS URL will allow read access to the container.
              value: Read
            - description: The SAS URL will allow read and write access to the container.
              value: ReadWrite
            - description: The SAS URL will allow read, write and delete access to the container.
              value: ReadWriteDelete
    type: object
  ODataError:
    description: Information about an error.
    properties:
      code:
        description: A language-independent error name.
        type: string
      details:
        description: The error details.
        items:
          $ref: "#/definitions/ODataError"
        type: array
      message:
        description: The error message.
        type: string
      target:
        description: The target of the error (for example, the name of the property in error).
        type: string
    type: object
