swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Use these REST APIs for performing operations on entities like API, Product, and Subscription associated with your Azure API Management deployment.
  title: ApiManagementClient
  version: 2017-03-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimanagement.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Version of the API to be used with the client request.
    in: query
    name: api-version
    required: true
    type: string
  PolicyIdParameter:
    description: The identifier of the Policy.
    enum:
      - policy
    in: path
    name: policyId
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: PolicyIdName
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: The name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ServiceNameParameter:
    description: The name of the API Management service.
    in: path
    maxLength: 50
    minLength: 1
    name: serviceName
    pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
    required: true
    type: string
    x-ms-parameter-location: method
  SkipQueryParameter:
    description: Number of records to skip.
    format: int32
    in: query
    minimum: 0
    name: $skip
    required: false
    type: integer
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
  TopQueryParameter:
    description: Number of records to return.
    format: int32
    in: query
    minimum: 1
    name: $top
    required: false
    type: integer
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policies":
    get:
      description: Lists all the Global Policy definitions of the Api Management service.
      operationId: Policy_ListByService
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - description: Policy scope.
          enum:
            - Tenant
            - Product
            - Api
            - Operation
            - All
          in: query
          name: scope
          required: false
          type: string
          x-ms-enum:
            modelAsString: false
            name: PolicyScopeContract
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Returns an array of Policy Contracts.
          schema:
            $ref: "#/definitions/PolicyCollection"
      tags:
        - Policy
      x-ms-examples:
        ApiManagementListPolicies:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policies/policy
                    name: policy
                    properties:
                      policyContent: "<!--\r

                        \    IMPORTANT:\r

                        \    - Policy elements can appear only within the <inbound>, <outbound>, <backend> section elements.\r

                        \    - Only the <forward-request> policy element can appear within the <backend> section element.\r

                        \    - To apply a policy to the incoming request (before it is forwarded to the backend service), place a corresponding policy element within the <inbound> section element.\r

                        \    - To apply a policy to the outgoing response (before it is sent back to the caller), place a corresponding policy element within the <outbound> section element.\r

                        \    - To add a policy position the cursor at the desired insertion point and click on the round button associated with the policy.\r

                        \    - To remove a policy, delete the corresponding policy statement from the policy document.\r

                        \    - Policies are applied in the order of their appearance, from the top down.\r

                        -->\r

                        <policies>\r

                        \  <inbound />\r

                        \  <backend>\r

                        \    <forward-request />\r

                        \  </backend>\r

                        \  <outbound />\r

                        </policies>"
                    type: Microsoft.ApiManagement/service/policies
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policies/{policyId}":
    delete:
      description: Deletes the global policy configuration of the Api Management Service.
      operationId: Policy_Delete
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/PolicyIdParameter"
        - description: The entity state (Etag) version of the policy to be deleted. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "204":
          description: Successfully deleted the policy configuration at the Global level.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Policy
      x-ms-examples:
        ApiManagementDeletePolicy:
          parameters:
            If-Match: "*"
            api-version: 2017-03-01
            policyId: policy
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
    get:
      description: Get the Global policy definition of the Api Management service.
      operationId: Policy_Get
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/PolicyIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      produces:
        - application/json
        - application/vnd.ms-azure-apim.policy+xml
        - application/vnd.ms-azure-apim.policy.raw+xml
      responses:
        "200":
          description: Returns the Policy Contracts.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: "#/definitions/PolicyContract"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Policy
      x-ms-examples:
        ApiManagementGetPolicy:
          parameters:
            api-version: 2017-03-01
            policyId: policy
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policies/policy
                name: policy
                properties:
                  policyContent: "<!--\r

                    \    IMPORTANT:\r

                    \    - Policy elements can appear only within the <inbound>, <outbound>, <backend> section elements.\r

                    \    - Only the <forward-request> policy element can appear within the <backend> section element.\r

                    \    - To apply a policy to the incoming request (before it is forwarded to the backend service), place a corresponding policy element within the <inbound> section element.\r

                    \    - To apply a policy to the outgoing response (before it is sent back to the caller), place a corresponding policy element within the <outbound> section element.\r

                    \    - To add a policy position the cursor at the desired insertion point and click on the round button associated with the policy.\r

                    \    - To remove a policy, delete the corresponding policy statement from the policy document.\r

                    \    - Policies are applied in the order of their appearance, from the top down.\r

                    -->\r

                    <policies>\r

                    \  <inbound />\r

                    \  <backend>\r

                    \    <forward-request />\r

                    \  </backend>\r

                    \  <outbound />\r

                    </policies>"
                type: Microsoft.ApiManagement/service/policies
    put:
      consumes:
        - application/json
        - application/vnd.ms-azure-apim.policy+xml
        - application/vnd.ms-azure-apim.policy.raw+xml
      description: Creates or updates the global policy configuration of the Api Management service.
      operationId: Policy_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/PolicyIdParameter"
        - description: The policy contents to apply.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/PolicyContract"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Global policy configuration of the Api Management service was successfully updated.
          schema:
            $ref: "#/definitions/PolicyContract"
        "201":
          description: Global policy configuration was successfully created.
          schema:
            $ref: "#/definitions/PolicyContract"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Policy
      x-ms-examples:
        ApiManagementCreatePolicy:
          parameters:
            api-version: 2017-03-01
            parameters:
              properties:
                policyContent: "<policies>\r

                  \  <inbound />\r

                  \  <backend>\r

                  \    <forward-request />\r

                  \  </backend>\r

                  \  <outbound />\r

                  </policies>"
            policyId: policy
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policies/policy
                name: policy
                properties:
                  policyContent: "<policies>\r

                    \  <inbound />\r

                    \  <backend>\r

                    \    <forward-request />\r

                    \  </backend>\r

                    \  <outbound />\r

                    </policies>"
                type: Microsoft.ApiManagement/service/policies
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/policies/policy
                name: policy
                properties:
                  policyContent: "<policies>\r

                    \  <inbound />\r

                    \  <backend>\r

                    \    <forward-request />\r

                    \  </backend>\r

                    \  <outbound />\r

                    </policies>"
                type: Microsoft.ApiManagement/service/policies
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policySnippets":
    get:
      description: Lists all policy snippets.
      operationId: PolicySnippets_ListByService
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - description: Policy scope.
          enum:
            - Tenant
            - Product
            - Api
            - Operation
            - All
          in: query
          name: scope
          required: false
          type: string
          x-ms-enum:
            modelAsString: false
            name: PolicyScopeContract
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Returns an array of Policy Contracts.
          schema:
            $ref: "#/definitions/PolicySnippetsCollection"
      tags:
        - PolicySnippets
      x-ms-examples:
        ApiManagementListPolicySnippets:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            scope: Api
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                - content: <authentication-basic username="username" password="password" />
                  name: Authenticate with Basic
                  scope: 268435471
                  toolTip: Authenticate with the backend service using Basic authentication. Use in the inbound section at API scope.
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/regions":
    get:
      description: Lists all azure regions in which the service exists.
      operationId: Regions_ListByService
      parameters:
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Lists of Regions in which the service is deployed.
          schema:
            $ref: "#/definitions/RegionListResult"
      tags:
        - Regions
      x-ms-examples:
        ApiManagementListRegions:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                count: 1
                nextLink: ""
                value:
                  - isDeleted: false
                    isMasterRegion: true
                    name: West US
      x-ms-pageable:
        nextLinkName: ""
definitions:
  ErrorFieldContract:
    description: Error Field contract.
    properties:
      code:
        description: Property level error code.
        type: string
      message:
        description: Human-readable representation of property-level error.
        type: string
      target:
        description: Property name.
        type: string
  ErrorResponse:
    description: Error Body contract.
    properties:
      code:
        description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
        type: string
      details:
        description: The list of invalid fields send in request, in case of validation error.
        items:
          $ref: "#/definitions/ErrorFieldContract"
        type: array
      message:
        description: Human-readable representation of the error.
        type: string
  PolicyCollection:
    description: The response of the list policy operation.
    properties:
      nextLink:
        description: Next page link if any.
        type: string
      value:
        description: Policy Contract value.
        items:
          $ref: "#/definitions/PolicyContract"
        type: array
  PolicyContract:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Policy Contract details.
    properties:
      properties:
        $ref: "#/definitions/PolicyContractProperties"
        description: Properties of the Policy.
        x-ms-client-flatten: true
  PolicyContractProperties:
    description: Policy contract Properties.
    properties:
      policyContent:
        description: Json escaped Xml Encoded contents of the Policy.
        type: string
    required:
      - policyContent
  PolicySnippetContract:
    description: Policy snippet.
    properties:
      content:
        description: Snippet content.
        readOnly: true
        type: string
      name:
        description: Snippet name.
        readOnly: true
        type: string
      scope:
        description: Binary OR value of the Snippet scope.
        readOnly: true
        type: integer
      toolTip:
        description: Snippet toolTip.
        readOnly: true
        type: string
  PolicySnippetsCollection:
    description: The response of the list policy snippets operation.
    properties:
      value:
        description: Policy snippet value.
        items:
          $ref: "#/definitions/PolicySnippetContract"
        type: array
  RegionContract:
    description: Region profile.
    properties:
      isDeleted:
        description: whether Region is deleted.
        type: boolean
      isMasterRegion:
        description: whether Region is the master region.
        type: boolean
      name:
        description: Region name.
        readOnly: true
        type: string
  RegionListResult:
    description: Lists Regions operation response details.
    properties:
      count:
        description: Total record count number across all pages.
        format: int64
        type: integer
      nextLink:
        description: Next page link if any.
        type: string
      value:
        description: Lists of Regions.
        items:
          $ref: "#/definitions/RegionContract"
        type: array
  Resource:
    description: The Resource definition.
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      type:
        description: Resource type for API Management resource.
        readOnly: true
        type: string
    x-ms-azure-resource: true
