swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Use these REST APIs for performing operations on Product entity associated with your Azure API Management deployment. The Product entity represents a product in API Management. Products include one or more APIs and their associated terms of use. Once a product is published, developers can subscribe to the product and begin to use the product’s APIs.
  title: ApiManagementClient
  version: 2018-01-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2018-01-01/apimproducts.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimproducts
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ProductIdParameter:
    description: Product identifier. Must be unique in the current API Management service instance.
    in: path
    maxLength: 80
    minLength: 1
    name: productId
    pattern: (^[\w]+$)|(^[\w][\w\-]+[\w]$)
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products":
    get:
      description: Lists a collection of products in the specified service instance.
      operationId: Product_ListByService
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: |-
            | Field       | Supported operators    | Supported functions                         |
            |-------------|------------------------|---------------------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | terms       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | state       | eq                     |                                             |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: When set to true, the response contains an array of groups that have visibility to the product. The default is false.
          in: query
          name: expandGroups
          required: false
          type: boolean
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: A Collection of the Product entities for the specified API Management service instance.
          schema:
            $ref: "#/definitions/ProductCollection"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - Products
      x-ms-examples:
        ApiManagementListProducts:
          parameters:
            api-version: 2018-01-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/kjoshiarmtemplateCert1
                    name: kjoshiarmtemplateCert1
                    properties:
                      description: Development Product
                      displayName: Dev
                      state: published
                      subscriptionRequired: false
                    type: Microsoft.ApiManagement/service/products
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/starter
                    name: starter
                    properties:
                      approvalRequired: false
                      description: Subscribers will be able to run 5 calls/minute up to a maximum of 100 calls/week.
                      displayName: Starter
                      state: published
                      subscriptionRequired: true
                      subscriptionsLimit: 1
                      terms: ""
                    type: Microsoft.ApiManagement/service/products
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/unlimited
                    name: unlimited
                    properties:
                      approvalRequired: true
                      description: Subscribers have completely unlimited access to the API. Administrator approval is required.
                      displayName: Unlimited
                      state: published
                      subscriptionRequired: true
                      subscriptionsLimit: 1
                    type: Microsoft.ApiManagement/service/products
      x-ms-odata: "#/definitions/ProductContract"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}":
    delete:
      description: Delete product.
      operationId: Product_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ProductIdParameter"
        - description: Delete existing subscriptions associated with the product or not.
          in: query
          name: deleteSubscriptions
          required: false
          type: boolean
        - description: ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The product was successfully deleted.
        "204":
          description: The product was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - Products
      x-ms-examples:
        ApiManagementDeleteProduct:
          parameters:
            If-Match: "*"
            api-version: 2018-01-01
            deleteSubscriptions: true
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the details of the product specified by its identifier.
      operationId: Product_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ProductIdParameter"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The response body contains the specified Product entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: "#/definitions/ProductContract"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - Products
      x-ms-examples:
        ApiManagementGetProduct:
          parameters:
            api-version: 2018-01-01
            productId: unlimited
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/unlimited
                name: unlimited
                properties:
                  approvalRequired: true
                  description: Subscribers have completely unlimited access to the API. Administrator approval is required.
                  displayName: Unlimited
                  state: published
                  subscriptionRequired: true
                  subscriptionsLimit: 1
                type: Microsoft.ApiManagement/service/products
    head:
      description: Gets the entity state (Etag) version of the product specified by its identifier.
      operationId: Product_GetEntityTag
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ProductIdParameter"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Specified Product entity exists and current entity state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - Products
      x-ms-examples:
        ApiManagementHeadProduct:
          parameters:
            api-version: 2018-01-01
            productId: unlimited
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
    patch:
      description: Update product.
      operationId: Product_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ProductIdParameter"
        - description: Update parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ProductUpdateParameters"
        - description: ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "204":
          description: No Content in case of Update Successful.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - Products
      x-ms-examples:
        ApiManagementUpdateProductBasic:
          parameters:
            If-Match: "*"
            api-version: 2018-01-01
            parameters:
              properties:
                displayName: Test Template ProductName 4
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
    put:
      description: Creates or Updates a product.
      operationId: Product_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ProductIdParameter"
        - description: Create or update parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ProductContract"
        - description: ETag of the Entity. Not required when creating an entity, but required when updating an entity.
          in: header
          name: If-Match
          required: false
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Product was successfully updated.
          schema:
            $ref: "#/definitions/ProductContract"
        "201":
          description: Product was successfully created.
          schema:
            $ref: "#/definitions/ProductContract"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - Products
      x-ms-examples:
        ApiManagementCreateProductBasic:
          parameters:
            api-version: 2018-01-01
            parameters:
              properties:
                displayName: Test Template ProductName 4
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/testproduct
                name: testproduct
                properties:
                  approvalRequired: false
                  displayName: Test Template ProductName 4
                  state: notPublished
                  subscriptionRequired: true
                type: Microsoft.ApiManagement/service/products
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/testproduct
                name: testproduct
                properties:
                  approvalRequired: false
                  displayName: Test Template ProductName 4
                  state: notPublished
                  subscriptionRequired: true
                type: Microsoft.ApiManagement/service/products
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/apis":
    get:
      description: Lists a collection of the APIs associated with a product.
      operationId: ProductApi_ListByProduct
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ProductIdParameter"
        - description: |
            | Field       | Supported operators    | Supported functions                         |
            |-------------|------------------------|---------------------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | serviceUrl  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | path        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The response body contains a collection of Api entities in the product.
          schema:
            description: Paged Api list representation.
            properties:
              nextLink:
                description: Next page link if any.
                readOnly: true
                type: string
              value:
                description: Page values.
                items:
                  allOf:
                    - description: The Resource definition.
                      properties:
                        id:
                          description: Resource ID.
                          readOnly: true
                          type: string
                        name:
                          description: Resource name.
                          readOnly: true
                          type: string
                        type:
                          description: Resource type for API Management resource.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: API details.
                  properties:
                    properties:
                      allOf:
                        - description: API base contract details.
                          properties:
                            apiRevision:
                              description: Describes the Revision of the Api. If no value is provided, default revision 1 is created
                              maxLength: 100
                              minLength: 1
                              type: string
                            apiRevisionDescription:
                              description: Description of the Api Revision.
                              maxLength: 256
                              type: string
                            apiVersion:
                              description: Indicates the Version identifier of the API if the API is versioned
                              maxLength: 100
                              type: string
                            apiVersionDescription:
                              description: Description of the Api Version.
                              maxLength: 256
                              type: string
                            apiVersionSetId:
                              description: A resource identifier for the related ApiVersionSet.
                              type: string
                            authenticationSettings:
                              description: API Authentication Settings.
                              properties:
                                oAuth2:
                                  description: API OAuth2 Authentication settings details.
                                  properties:
                                    authorizationServerId:
                                      description: OAuth authorization server identifier.
                                      type: string
                                    scope:
                                      description: operations scope.
                                      type: string
                                openid:
                                  description: API OAuth2 Authentication settings details.
                                  properties:
                                    bearerTokenSendingMethods:
                                      description: How to send token to the server.
                                      items:
                                        description: Form of an authorization grant, which the client uses to request the access token.
                                        enum:
                                          - authorizationHeader
                                          - query
                                        type: string
                                        x-ms-enum:
                                          modelAsString: true
                                          name: bearerTokenSendingMethods
                                          values:
                                            - description: Access token will be transmitted in the Authorization header using Bearer schema
                                              value: authorizationHeader
                                            - description: Access token will be transmitted as query parameters.
                                              value: query
                                      type: array
                                    openidProviderId:
                                      description: OAuth authorization server identifier.
                                      type: string
                                subscriptionKeyRequired:
                                  description: Specifies whether subscription key is required during call to this API, true - API is included into closed products only, false - API is included into open products alone, null - there is a mix of products.
                                  type: boolean
                            description:
                              description: Description of the API. May include HTML formatting tags.
                              type: string
                            isCurrent:
                              description: Indicates if API revision is current api revision.
                              readOnly: true
                              type: boolean
                            isOnline:
                              description: Indicates if API revision is accessible via the gateway.
                              readOnly: true
                              type: boolean
                            subscriptionKeyParameterNames:
                              description: Subscription key parameter names details.
                              example:
                                subscriptionKeyParameterNames:
                                  header: customHeaderParameterName
                                  query: customQueryParameterName
                              properties:
                                header:
                                  description: Subscription key header name.
                                  type: string
                                query:
                                  description: Subscription key query string parameter name.
                                  type: string
                            type:
                              description: Type of API.
                              enum:
                                - http
                                - soap
                              type: string
                              x-ms-client-name: ApiType
                              x-ms-enum:
                                modelAsString: true
                                name: ApiType
                      description: Api Entity Properties
                      properties:
                        apiVersionSet:
                          description: "An API Version Set contains the common configuration for a set of API Versions relating "
                          properties:
                            description:
                              description: Description of API Version Set.
                              type: string
                            id:
                              description: Identifier for existing API Version Set. Omit this value to create a new Version Set.
                              type: string
                            versionHeaderName:
                              description: Name of HTTP header parameter that indicates the API Version if versioningScheme is set to `header`.
                              type: string
                            versionQueryName:
                              description: Name of query parameter that indicates the API Version if versioningScheme is set to `query`.
                              type: string
                            versioningScheme:
                              description: An value that determines where the API Version identifer will be located in a HTTP request.
                              enum:
                                - Segment
                                - Query
                                - Header
                              type: string
                        displayName:
                          description: API name.
                          maxLength: 300
                          minLength: 1
                          type: string
                        path:
                          description: Relative URL uniquely identifying this API and all of its resource paths within the API Management service instance. It is appended to the API endpoint base URL specified during the service instance creation to form a public URL for this API.
                          maxLength: 400
                          minLength: 0
                          type: string
                        protocols:
                          description: Describes on which protocols the operations in this API can be invoked.
                          items:
                            enum:
                              - http
                              - https
                            type: string
                            x-ms-enum:
                              modelAsString: false
                              name: Protocol
                          type: array
                        serviceUrl:
                          description: Absolute URL of the backend service implementing this API.
                          maxLength: 2000
                          minLength: 0
                          type: string
                      required:
                        - path
                readOnly: true
                type: array
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ProductApis
      x-ms-examples:
        ApiManagementListProductApis:
          parameters:
            api-version: 2018-01-01
            productId: 5768181ea40f7eb6c49f6ac7
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5768181ea40f7eb6c49f6ac7/apis/57681820a40f7eb6c49f6aca
                    name: 57681820a40f7eb6c49f6aca
                    properties:
                      apiRevision: "1"
                      description: description_57681820a40f7eb6c49f6acc
                      displayName: api_57681820a40f7eb6c49f6acb
                      isCurrent: true
                      path: suffix_57681820a40f7eb6c49f6ace
                      protocols:
                        - https
                      serviceUrl: http://contoso/57681820a40f7eb6c49f6acd
                    type: Microsoft.ApiManagement/service/products/apis
      x-ms-odata: ./apimapis.json#/definitions/ApiContract
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/apis/{apiId}":
    delete:
      description: Deletes the specified API from the specified product.
      operationId: ProductApi_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ProductIdParameter"
        - description: API revision identifier. Must be unique in the current API Management service instance. Non-current revision has ;rev=n as a suffix where n is the revision number.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The API was successfully removed from the product.
        "204":
          description: The API was successfully removed from the product.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ProductApis
      x-ms-examples:
        ApiManagementDeleteProductApi:
          parameters:
            If-Match: "*"
            api-version: 2018-01-01
            apiId: echo-api
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
    head:
      description: Checks that API entity specified by identifier is associated with the Product entity.
      operationId: ProductApi_CheckEntityExists
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ProductIdParameter"
        - description: API revision identifier. Must be unique in the current API Management service instance. Non-current revision has ;rev=n as a suffix where n is the revision number.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "204":
          description: Entity exists
        "404":
          description: API is not associated with the product.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ProductApis
      x-ms-examples:
        ApiManagementHeadProductApi:
          parameters:
            api-version: 2018-01-01
            apiId: 59306a29e4bbd510dc24e5f9
            productId: 5931a75ae4bbd512a88c680b
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
            "404": {}
    put:
      description: Adds an API to the specified product.
      operationId: ProductApi_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ProductIdParameter"
        - description: API revision identifier. Must be unique in the current API Management service instance. Non-current revision has ;rev=n as a suffix where n is the revision number.
          in: path
          maxLength: 256
          minLength: 1
          name: apiId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The specified API is already added to the product.
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: API details.
            properties:
              properties:
                allOf:
                  - description: API base contract details.
                    properties:
                      apiRevision:
                        description: Describes the Revision of the Api. If no value is provided, default revision 1 is created
                        maxLength: 100
                        minLength: 1
                        type: string
                      apiRevisionDescription:
                        description: Description of the Api Revision.
                        maxLength: 256
                        type: string
                      apiVersion:
                        description: Indicates the Version identifier of the API if the API is versioned
                        maxLength: 100
                        type: string
                      apiVersionDescription:
                        description: Description of the Api Version.
                        maxLength: 256
                        type: string
                      apiVersionSetId:
                        description: A resource identifier for the related ApiVersionSet.
                        type: string
                      authenticationSettings:
                        description: API Authentication Settings.
                        properties:
                          oAuth2:
                            description: API OAuth2 Authentication settings details.
                            properties:
                              authorizationServerId:
                                description: OAuth authorization server identifier.
                                type: string
                              scope:
                                description: operations scope.
                                type: string
                          openid:
                            description: API OAuth2 Authentication settings details.
                            properties:
                              bearerTokenSendingMethods:
                                description: How to send token to the server.
                                items:
                                  description: Form of an authorization grant, which the client uses to request the access token.
                                  enum:
                                    - authorizationHeader
                                    - query
                                  type: string
                                  x-ms-enum:
                                    modelAsString: true
                                    name: bearerTokenSendingMethods
                                    values:
                                      - description: Access token will be transmitted in the Authorization header using Bearer schema
                                        value: authorizationHeader
                                      - description: Access token will be transmitted as query parameters.
                                        value: query
                                type: array
                              openidProviderId:
                                description: OAuth authorization server identifier.
                                type: string
                          subscriptionKeyRequired:
                            description: Specifies whether subscription key is required during call to this API, true - API is included into closed products only, false - API is included into open products alone, null - there is a mix of products.
                            type: boolean
                      description:
                        description: Description of the API. May include HTML formatting tags.
                        type: string
                      isCurrent:
                        description: Indicates if API revision is current api revision.
                        readOnly: true
                        type: boolean
                      isOnline:
                        description: Indicates if API revision is accessible via the gateway.
                        readOnly: true
                        type: boolean
                      subscriptionKeyParameterNames:
                        description: Subscription key parameter names details.
                        example:
                          subscriptionKeyParameterNames:
                            header: customHeaderParameterName
                            query: customQueryParameterName
                        properties:
                          header:
                            description: Subscription key header name.
                            type: string
                          query:
                            description: Subscription key query string parameter name.
                            type: string
                      type:
                        description: Type of API.
                        enum:
                          - http
                          - soap
                        type: string
                        x-ms-client-name: ApiType
                        x-ms-enum:
                          modelAsString: true
                          name: ApiType
                description: Api Entity Properties
                properties:
                  apiVersionSet:
                    description: "An API Version Set contains the common configuration for a set of API Versions relating "
                    properties:
                      description:
                        description: Description of API Version Set.
                        type: string
                      id:
                        description: Identifier for existing API Version Set. Omit this value to create a new Version Set.
                        type: string
                      versionHeaderName:
                        description: Name of HTTP header parameter that indicates the API Version if versioningScheme is set to `header`.
                        type: string
                      versionQueryName:
                        description: Name of query parameter that indicates the API Version if versioningScheme is set to `query`.
                        type: string
                      versioningScheme:
                        description: An value that determines where the API Version identifer will be located in a HTTP request.
                        enum:
                          - Segment
                          - Query
                          - Header
                        type: string
                  displayName:
                    description: API name.
                    maxLength: 300
                    minLength: 1
                    type: string
                  path:
                    description: Relative URL uniquely identifying this API and all of its resource paths within the API Management service instance. It is appended to the API endpoint base URL specified during the service instance creation to form a public URL for this API.
                    maxLength: 400
                    minLength: 0
                    type: string
                  protocols:
                    description: Describes on which protocols the operations in this API can be invoked.
                    items:
                      enum:
                        - http
                        - https
                      type: string
                      x-ms-enum:
                        modelAsString: false
                        name: Protocol
                    type: array
                  serviceUrl:
                    description: Absolute URL of the backend service implementing this API.
                    maxLength: 2000
                    minLength: 0
                    type: string
                required:
                  - path
        "201":
          description: The API was successfully added to the product.
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: API details.
            properties:
              properties:
                allOf:
                  - description: API base contract details.
                    properties:
                      apiRevision:
                        description: Describes the Revision of the Api. If no value is provided, default revision 1 is created
                        maxLength: 100
                        minLength: 1
                        type: string
                      apiRevisionDescription:
                        description: Description of the Api Revision.
                        maxLength: 256
                        type: string
                      apiVersion:
                        description: Indicates the Version identifier of the API if the API is versioned
                        maxLength: 100
                        type: string
                      apiVersionDescription:
                        description: Description of the Api Version.
                        maxLength: 256
                        type: string
                      apiVersionSetId:
                        description: A resource identifier for the related ApiVersionSet.
                        type: string
                      authenticationSettings:
                        description: API Authentication Settings.
                        properties:
                          oAuth2:
                            description: API OAuth2 Authentication settings details.
                            properties:
                              authorizationServerId:
                                description: OAuth authorization server identifier.
                                type: string
                              scope:
                                description: operations scope.
                                type: string
                          openid:
                            description: API OAuth2 Authentication settings details.
                            properties:
                              bearerTokenSendingMethods:
                                description: How to send token to the server.
                                items:
                                  description: Form of an authorization grant, which the client uses to request the access token.
                                  enum:
                                    - authorizationHeader
                                    - query
                                  type: string
                                  x-ms-enum:
                                    modelAsString: true
                                    name: bearerTokenSendingMethods
                                    values:
                                      - description: Access token will be transmitted in the Authorization header using Bearer schema
                                        value: authorizationHeader
                                      - description: Access token will be transmitted as query parameters.
                                        value: query
                                type: array
                              openidProviderId:
                                description: OAuth authorization server identifier.
                                type: string
                          subscriptionKeyRequired:
                            description: Specifies whether subscription key is required during call to this API, true - API is included into closed products only, false - API is included into open products alone, null - there is a mix of products.
                            type: boolean
                      description:
                        description: Description of the API. May include HTML formatting tags.
                        type: string
                      isCurrent:
                        description: Indicates if API revision is current api revision.
                        readOnly: true
                        type: boolean
                      isOnline:
                        description: Indicates if API revision is accessible via the gateway.
                        readOnly: true
                        type: boolean
                      subscriptionKeyParameterNames:
                        description: Subscription key parameter names details.
                        example:
                          subscriptionKeyParameterNames:
                            header: customHeaderParameterName
                            query: customQueryParameterName
                        properties:
                          header:
                            description: Subscription key header name.
                            type: string
                          query:
                            description: Subscription key query string parameter name.
                            type: string
                      type:
                        description: Type of API.
                        enum:
                          - http
                          - soap
                        type: string
                        x-ms-client-name: ApiType
                        x-ms-enum:
                          modelAsString: true
                          name: ApiType
                description: Api Entity Properties
                properties:
                  apiVersionSet:
                    description: "An API Version Set contains the common configuration for a set of API Versions relating "
                    properties:
                      description:
                        description: Description of API Version Set.
                        type: string
                      id:
                        description: Identifier for existing API Version Set. Omit this value to create a new Version Set.
                        type: string
                      versionHeaderName:
                        description: Name of HTTP header parameter that indicates the API Version if versioningScheme is set to `header`.
                        type: string
                      versionQueryName:
                        description: Name of query parameter that indicates the API Version if versioningScheme is set to `query`.
                        type: string
                      versioningScheme:
                        description: An value that determines where the API Version identifer will be located in a HTTP request.
                        enum:
                          - Segment
                          - Query
                          - Header
                        type: string
                  displayName:
                    description: API name.
                    maxLength: 300
                    minLength: 1
                    type: string
                  path:
                    description: Relative URL uniquely identifying this API and all of its resource paths within the API Management service instance. It is appended to the API endpoint base URL specified during the service instance creation to form a public URL for this API.
                    maxLength: 400
                    minLength: 0
                    type: string
                  protocols:
                    description: Describes on which protocols the operations in this API can be invoked.
                    items:
                      enum:
                        - http
                        - https
                      type: string
                      x-ms-enum:
                        modelAsString: false
                        name: Protocol
                    type: array
                  serviceUrl:
                    description: Absolute URL of the backend service implementing this API.
                    maxLength: 2000
                    minLength: 0
                    type: string
                required:
                  - path
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ProductApis
      x-ms-examples:
        ApiManagementCreateProductApi:
          parameters:
            api-version: 2018-01-01
            apiId: echo-api
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5931a75ae4bbd512a88c680b
                name: 5931a75ae4bbd512a88c680b
                properties:
                  apiRevision: "1"
                  displayName: EchoApi
                  isCurrent: true
                  path: ""
                  protocols:
                    - http
                    - https
                  serviceUrl: https://contoso.com/apis/echo
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5931a75ae4bbd512a88c680b
                name: 5931a75ae4bbd512a88c680b
                properties:
                  apiRevision: "1"
                  displayName: EchoApi
                  isCurrent: true
                  path: ""
                  protocols:
                    - http
                    - https
                  serviceUrl: https://contoso.com/apis/echo
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/groups":
    get:
      description: Lists the collection of developer groups associated with the specified product.
      operationId: ProductGroup_ListByProduct
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ProductIdParameter"
        - description: |-
            | Field       | Supported operators    | Supported functions                         |
            |-------------|------------------------|---------------------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | type        | eq, ne                 | N/A                                         |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Lists a collection of Group entities.
          schema:
            description: Paged Group list representation.
            properties:
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Page values.
                items:
                  allOf:
                    - description: The Resource definition.
                      properties:
                        id:
                          description: Resource ID.
                          readOnly: true
                          type: string
                        name:
                          description: Resource name.
                          readOnly: true
                          type: string
                        type:
                          description: Resource type for API Management resource.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: Contract details.
                  properties:
                    properties:
                      description: Group contract Properties.
                      properties:
                        builtIn:
                          description: true if the group is one of the three system groups (Administrators, Developers, or Guests); otherwise false.
                          readOnly: true
                          type: boolean
                        description:
                          description: Group description. Can contain HTML formatting tags.
                          maxLength: 1000
                          type: string
                        displayName:
                          description: Group name.
                          maxLength: 300
                          minLength: 1
                          type: string
                        externalId:
                          description: For external groups, this property contains the id of the group from the external identity provider, e.g. for Azure Active Directory aad://<tenant>.onmicrosoft.com/groups/<group object id>; otherwise the value is null.
                          type: string
                        type:
                          description: Group type.
                          enum:
                            - custom
                            - system
                            - external
                          type: string
                          x-ms-enum:
                            modelAsString: false
                            name: GroupType
                      required:
                        - displayName
                type: array
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ProductGroups
      x-ms-examples:
        ApiManagementListProductGroups:
          parameters:
            api-version: 2018-01-01
            productId: 5600b57e7e8880006a060002
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002/groups/5600b57e7e8880006a020001
                    name: 5600b57e7e8880006a020001
                    properties:
                      builtIn: true
                      description: Administrators is a built-in group. Its membership is managed by the system. Microsoft Azure subscription administrators fall into this group.
                      displayName: Administrators
                      type: system
                    type: Microsoft.ApiManagement/service/products/groups
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002/groups/5600b57e7e8880006a020002
                    name: 5600b57e7e8880006a020002
                    properties:
                      builtIn: true
                      description: Developers is a built-in group. Its membership is managed by the system. Signed-in users fall into this group.
                      displayName: Developers
                      type: system
                    type: Microsoft.ApiManagement/service/products/groups
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/products/5600b57e7e8880006a060002/groups/5600b57e7e8880006a020003
                    name: 5600b57e7e8880006a020003
                    properties:
                      builtIn: true
                      description: Guests is a built-in group. Its membership is managed by the system. Unauthenticated users visiting the developer portal fall into this group.
                      displayName: Guests
                      type: system
                    type: Microsoft.ApiManagement/service/products/groups
      x-ms-odata: ./apimgroups.json#/definitions/GroupContract
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/groups/{groupId}":
    delete:
      description: Deletes the association between the specified group and product.
      operationId: ProductGroup_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ProductIdParameter"
        - description: Group identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 80
          minLength: 1
          name: groupId
          pattern: (^[\w]+$)|(^[\w][\w\-]+[\w]$)
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The group was successfully disassociated with the product.
        "204":
          description: The group was successfully disassociated with the product.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ProductGroups
      x-ms-examples:
        ApiManagementDeleteProductGroup:
          parameters:
            If-Match: "*"
            api-version: 2018-01-01
            groupId: templateGroup
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
    head:
      description: Checks that Group entity specified by identifier is associated with the Product entity.
      operationId: ProductGroup_CheckEntityExists
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ProductIdParameter"
        - description: Group identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 80
          minLength: 1
          name: groupId
          pattern: (^[\w]+$)|(^[\w][\w\-]+[\w]$)
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "204":
          description: The Group is associated with the Product.
        "404":
          description: The Group entity is not associated with the Product.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ProductGroups
      x-ms-examples:
        ApiManagementHeadProductGroup:
          parameters:
            api-version: 2018-01-01
            groupId: 59306a29e4bbd510dc24e5f9
            productId: 5931a75ae4bbd512a88c680b
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
            "404": {}
    put:
      description: Adds the association between the specified developer group with the specified product.
      operationId: ProductGroup_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ProductIdParameter"
        - description: Group identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 80
          minLength: 1
          name: groupId
          pattern: (^[\w]+$)|(^[\w][\w\-]+[\w]$)
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The specified group is already associated with the product.
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Contract details.
            properties:
              properties:
                description: Group contract Properties.
                properties:
                  builtIn:
                    description: true if the group is one of the three system groups (Administrators, Developers, or Guests); otherwise false.
                    readOnly: true
                    type: boolean
                  description:
                    description: Group description. Can contain HTML formatting tags.
                    maxLength: 1000
                    type: string
                  displayName:
                    description: Group name.
                    maxLength: 300
                    minLength: 1
                    type: string
                  externalId:
                    description: For external groups, this property contains the id of the group from the external identity provider, e.g. for Azure Active Directory aad://<tenant>.onmicrosoft.com/groups/<group object id>; otherwise the value is null.
                    type: string
                  type:
                    description: Group type.
                    enum:
                      - custom
                      - system
                      - external
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: GroupType
                required:
                  - displayName
        "201":
          description: The group was successfully associated with the product.
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Contract details.
            properties:
              properties:
                description: Group contract Properties.
                properties:
                  builtIn:
                    description: true if the group is one of the three system groups (Administrators, Developers, or Guests); otherwise false.
                    readOnly: true
                    type: boolean
                  description:
                    description: Group description. Can contain HTML formatting tags.
                    maxLength: 1000
                    type: string
                  displayName:
                    description: Group name.
                    maxLength: 300
                    minLength: 1
                    type: string
                  externalId:
                    description: For external groups, this property contains the id of the group from the external identity provider, e.g. for Azure Active Directory aad://<tenant>.onmicrosoft.com/groups/<group object id>; otherwise the value is null.
                    type: string
                  type:
                    description: Group type.
                    enum:
                      - custom
                      - system
                      - external
                    type: string
                    x-ms-enum:
                      modelAsString: false
                      name: GroupType
                required:
                  - displayName
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Response.
            properties:
              error:
                description: Error Body contract.
                properties:
                  code:
                    description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                    type: string
                  details:
                    description: The list of invalid fields send in request, in case of validation error.
                    items:
                      description: Error Field contract.
                      properties:
                        code:
                          description: Property level error code.
                          type: string
                        message:
                          description: Human-readable representation of property-level error.
                          type: string
                        target:
                          description: Property name.
                          type: string
                    type: array
                  message:
                    description: Human-readable representation of the error.
                    type: string
      tags:
        - ProductGroups
      x-ms-examples:
        ApiManagementCreateProductGroup:
          parameters:
            api-version: 2018-01-01
            groupId: templateGroup
            productId: testproduct
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/groups/templateGroup
                name: templateGroup
                properties:
                  builtIn: false
                  description: group created via Template
                  displayName: Template Group
                  type: custom
                type: Microsoft.ApiManagement/service/products/groups
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/groups/templateGroup
                name: templateGroup
                properties:
                  builtIn: false
                  description: group created via Template
                  displayName: Template Group
                  type: custom
                type: Microsoft.ApiManagement/service/products/groups
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/policies":
    get:
      description: Get the policy configuration at the Product level.
      operationId: ProductPolicy_ListByProduct
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - $ref: "#/parameters/ProductIdParameter"
      responses:
        "200":
          description: Product Policy information.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            description: The response of the list policy operation.
            properties:
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Policy Contract value.
                items:
                  allOf:
                    - description: The Resource definition.
                      properties:
                        id:
                          description: Resource ID.
                          readOnly: true
                          type: string
                        name:
                          description: Resource name.
                          readOnly: true
                          type: string
                        type:
                          description: Resource type for API Management resource.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: Policy Contract details.
                  properties:
                    properties:
                      description: Policy contract Properties.
                      properties:
                        contentFormat:
                          default: xml
                          description: Format of the policyContent.
                          enum:
                            - xml
                            - xml-link
                            - rawxml
                            - rawxml-link
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: PolicyContentFormat
                            values:
                              - description: The contents are inline and Content type is an XML document.
                                value: xml
                              - description: The policy XML document is hosted on a http endpoint accessible from the API Management service.
                                value: xml-link
                              - description: The contents are inline and Content type is a non XML encoded policy document.
                                value: rawxml
                              - description: The policy document is not Xml encoded and is hosted on a http endpoint accessible from the API Management service.
                                value: rawxml-link
                        policyContent:
                          description: Json escaped Xml Encoded contents of the Policy.
                          type: string
                      required:
[...]
