{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "adminmanagement.local.azurestack.external",
  "info": {
    "description": "The Admin Subscriptions Management Client.",
    "title": "SubscriptionsManagementClient",
    "version": "2015-11-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/subscriptions/Microsoft.Subscriptions.Admin/preview/2015-11-01/DirectoryTenant.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "azsadmin-DirectoryTenant",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 flow",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "DirectoryTenantParameter": {
      "description": "Directory tenant name.",
      "in": "path",
      "name": "tenant",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "NewDirectoryTenantParameter": {
      "description": "New directory tenant properties.",
      "in": "body",
      "name": "newTenant",
      "required": true,
      "schema": {
        "$ref": "#/definitions/DirectoryTenant"
      },
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/directoryTenants": {
      "get": {
        "description": "Lists all the directory tenants under the current subscription and given resource group name.",
        "operationId": "DirectoryTenants_List",
        "parameters": [
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The resource group the resource is located under.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "default": "2015-11-01",
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DirectoryTenantList"
            }
          }
        },
        "tags": [
          "DirectoryTenants"
        ],
        "x-ms-examples": {
          "Lists all the directory tenants under the current subscription and given resource group name.": {
            "parameters": {
              "api-version": "2015-11-01",
              "location": "local",
              "resourceGroupName": "system.local",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/System.local/providers/Microsoft.Subscriptions.Admin/directoryTenants/azurestackci07.onmicrosoft.com",
                      "location": "local",
                      "name": "azurestackci07.onmicrosoft.com",
                      "properties": {
                        "tenantId": "2b3697e6-a7a2-4cdd-a3d4-f4ef6505cd4f"
                      },
                      "type": "Microsoft.Subscriptions.Admin/directoryTenants"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Subscriptions.Admin/directoryTenants/{tenant}": {
      "delete": {
        "description": "Delete a directory tenant under a resource group.",
        "operationId": "DirectoryTenants_Delete",
        "parameters": [
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The resource group the resource is located under.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/DirectoryTenantParameter"
          },
          {
            "default": "2015-11-01",
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "DirectoryTenants"
        ],
        "x-ms-examples": {
          "Delete a directory tenant under a resource group.": {
            "parameters": {
              "api-version": "2015-11-01",
              "location": "local",
              "resourceGroupName": "system.local",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "tenant": "azurestackci07.onmicrosoft.com"
            },
            "responses": {
              "200": {},
              "204": {}
            }
          }
        }
      },
      "get": {
        "description": "Get a directory tenant by name.",
        "operationId": "DirectoryTenants_Get",
        "parameters": [
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The resource group the resource is located under.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/DirectoryTenantParameter"
          },
          {
            "default": "2015-11-01",
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DirectoryTenant"
            }
          }
        },
        "tags": [
          "DirectoryTenants"
        ],
        "x-ms-examples": {
          "Get a directory tenant by name.": {
            "parameters": {
              "api-version": "2015-11-01",
              "location": "local",
              "resourceGroupName": "system.local",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "tenant": "azurestackci07.onmicrosoft.com"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/8ab2551d-41e5-489b-9273-1cdf1cbc7dc6/resourceGroups/System.local/providers/Microsoft.Subscriptions.Admin/directoryTenants/azurestackci07.onmicrosoft.com",
                  "location": "local",
                  "name": "azurestackci07.onmicrosoft.com",
                  "properties": {
                    "tenantId": "2b3697e6-a7a2-4cdd-a3d4-f4ef6505cd4f"
                  },
                  "type": "Microsoft.Subscriptions.Admin/directoryTenants"
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Create or updates a directory tenant.",
        "operationId": "DirectoryTenants_CreateOrUpdate",
        "parameters": [
          {
            "description": "Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The resource group the resource is located under.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/DirectoryTenantParameter"
          },
          {
            "default": "2015-11-01",
            "description": "Client Api Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/NewDirectoryTenantParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DirectoryTenant"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/DirectoryTenant"
            }
          }
        },
        "tags": [
          "DirectoryTenants"
        ],
        "x-ms-examples": {
          "Create or updates a directory tenant.": {
            "parameters": {
              "api-version": "2015-11-01",
              "location": "local",
              "newTenant": "eb90516e-65d7-4bf6-8537-8322e9172832",
              "resourceGroupName": "system.local",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23",
              "tenant": "azurestackci05.onmicrosoft.in"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourceGroups/System.local/providers/Microsoft.Subscriptions.Admin/directoryTenants/azurestackci05.onmicrosoft.in",
                  "location": "local",
                  "name": "azurestackci05.onmicrosoft.in",
                  "properties": {
                    "tenantId": "eb90516e-65d7-4bf6-8537-8322e9172832"
                  },
                  "type": "Microsoft.Subscriptions.Admin/directoryTenants"
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/8158498d-27b1-4ccf-9aa1-de0f925731e6/resourceGroups/System.local/providers/Microsoft.Subscriptions.Admin/directoryTenants/azurestackci05.onmicrosoft.in",
                  "location": "local",
                  "name": "azurestackci05.onmicrosoft.in",
                  "properties": {
                    "tenantId": "eb90516e-65d7-4bf6-8537-8322e9172832"
                  },
                  "type": "Microsoft.Subscriptions.Admin/directoryTenants"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DirectoryTenant": {
      "allOf": [
        {
          "description": "Base Resource Object",
          "properties": {
            "id": {
              "description": "URI of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "location": {
              "description": "Location of the resource",
              "type": "string"
            },
            "name": {
              "description": "Name of the resource.",
              "readOnly": true,
              "type": "string"
            },
            "tags": {
              "additionalProperties": {
                "type": "string"
              },
              "description": "List of key-value pairs.",
              "readOnly": true,
              "type": "object"
            },
            "type": {
              "description": "Type of resource.",
              "readOnly": true,
              "type": "string"
            }
          },
          "type": "object",
          "x-ms-azure-resource": true
        }
      ],
      "description": "Directory tenant.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DirectoryTenantProperties",
          "description": "Directory tenant.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "DirectoryTenantList": {
      "description": "List of directory tenants.",
      "properties": {
        "nextLink": {
          "description": "Continuation token",
          "type": "string"
        },
        "value": {
          "description": "List of directory tenants.",
          "items": {
            "$ref": "#/definitions/DirectoryTenant"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DirectoryTenantProperties": {
      "description": "Directory tenant.",
      "properties": {
        "tenantId": {
          "description": "Tenant unique identifier.",
          "type": "string"
        }
      },
      "type": "object"
    }
  }
}