swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: PolicyStatesClient
  version: 2017-10-17-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/policyinsights/resource-manager/Microsoft.PolicyInsights/preview/2017-10-17-preview/policyStates.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: policyinsights-policyStates
  x-tags:
    - Azure
    - Microsoft
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API version to use with the client requests.
    in: query
    name: api-version
    required: true
    type: string
    x-ms-parameter-location: client
  applyParameter:
    description: OData apply expression for aggregations.
    in: query
    name: $apply
    required: false
    type: string
    x-ms-client-name: Apply
    x-ms-parameter-grouping:
      name: QueryOptions
    x-ms-parameter-location: method
  filterParameter:
    description: OData filter expression.
    in: query
    name: $filter
    required: false
    type: string
    x-ms-client-name: Filter
    x-ms-parameter-grouping:
      name: QueryOptions
    x-ms-parameter-location: method
  fromParameter:
    description: ISO 8601 formatted timestamp specifying the start time of the interval to query. When not specified, the service uses ($to - 1-day).
    format: date-time
    in: query
    name: $from
    required: false
    type: string
    x-ms-client-name: From
    x-ms-parameter-grouping:
      name: QueryOptions
    x-ms-parameter-location: method
  managementGroupNameParameter:
    description: Management group name.
    in: path
    name: managementGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  managementGroupsNamespaceParameter:
    description: The namespace for Microsoft Management resource provider; only "Microsoft.Management" is allowed.
    enum:
      - Microsoft.Management
    in: path
    name: managementGroupsNamespace
    required: true
    type: string
    x-ms-parameter-location: method
  orderByParameter:
    description: Ordering expression using OData notation. One or more comma-separated column names with an optional "desc" (the default) or "asc", e.g. "$orderby=PolicyAssignmentId, ResourceId asc".
    in: query
    name: $orderby
    required: false
    type: string
    x-ms-client-name: OrderBy
    x-ms-parameter-grouping:
      name: QueryOptions
    x-ms-parameter-location: method
  policyStatesResourceParameter:
    description: The virtual resource under PolicyStates resource type. In a given time range, 'latest' represents the latest policy state(s), whereas 'default' represents all policy state(s).
    enum:
      - default
      - latest
    in: path
    name: policyStatesResource
    required: true
    type: string
    x-ms-enum:
      modelAsString: true
      name: PolicyStatesResource
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: Resource group name.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  resourceIdParameter:
    description: Resource ID.
    in: path
    name: resourceId
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  scopeParameter:
    description: A valid scope, i.e. management group, subscription, resource group, or resource ID. Scope used has no effect on metadata returned.
    in: path
    name: scope
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  selectParameter:
    description: Select expression using OData notation. Limits the columns on each record to just those requested, e.g. "$select=PolicyAssignmentId, ResourceId".
    in: query
    name: $select
    required: false
    type: string
    x-ms-client-name: Select
    x-ms-parameter-grouping:
      name: QueryOptions
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Microsoft Azure subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
    x-ms-parameter-location: method
  toParameter:
    description: ISO 8601 formatted timestamp specifying the end time of the interval to query. When not specified, the service uses request time.
    format: date-time
    in: query
    name: $to
    required: false
    type: string
    x-ms-client-name: To
    x-ms-parameter-grouping:
      name: QueryOptions
    x-ms-parameter-location: method
  topParameter:
    description: Maximum number of records to return.
    format: int32
    in: query
    minimum: 0
    name: $top
    required: false
    type: integer
    x-ms-client-name: Top
    x-ms-parameter-grouping:
      name: QueryOptions
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.PolicyInsights/operations:
    get:
      description: Lists available operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: List of available operations.
          schema:
            $ref: "#/definitions/OperationsListResults"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        List operations:
          parameters:
            api-version: 2017-10-17-preview
          responses:
            "200":
              body:
                "@odata.count": 3
                value:
                  - display:
                      description: Query information about policy events.
                      operation: Query Policy Events
                      provider: Microsoft Policy Insights
                      resource: Policy Events
                    name: default/queryResults/action
                  - display:
                      description: Query information about policy states.
                      operation: Query Policy States
                      provider: Microsoft Policy Insights
                      resource: Policy States
                    name: default/queryResults/action
                  - display:
                      description: Query information about policy latest states.
                      operation: Query Policy Latest States
                      provider: Microsoft Policy Insights
                      resource: Policy Latest States
                    name: latest/queryResults/action
  "/providers/{managementGroupsNamespace}/managementGroups/{managementGroupName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults":
    post:
      description: Queries policy states for the resources under the management group.
      operationId: PolicyStates_ListQueryResultsForManagementGroup
      parameters:
        - $ref: "#/parameters/policyStatesResourceParameter"
        - $ref: "#/parameters/managementGroupsNamespaceParameter"
        - $ref: "#/parameters/managementGroupNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/topParameter"
        - $ref: "#/parameters/orderByParameter"
        - $ref: "#/parameters/selectParameter"
        - $ref: "#/parameters/fromParameter"
        - $ref: "#/parameters/toParameter"
        - $ref: "#/parameters/filterParameter"
        - $ref: "#/parameters/applyParameter"
      responses:
        "200":
          description: Query results.
          schema:
            $ref: "#/definitions/PolicyStatesQueryResults"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        Query latest at management group scope:
          parameters:
            api-version: 2017-10-17-preview
            managementGroupName: myManagementGroup
            managementGroupsNamespace: Microsoft.Management
            policyStatesResource: latest
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: myManagementGroup,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.Authorization/policyAssignments/1ef5d536aec743a0aa801c1a
                    policyAssignmentName: 1ef5d536aec743a0aa801c1a
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: "{}"
                    policyAssignmentScope: /providers/Microsoft.Management/managementGroups/myManagementGroup
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.Authorization/policyDefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d
                    policyDefinitionName: 022d9357-5a90-46f7-9554-21d30ce4c32d
                    policyDefinitionReferenceId: "15521232277412542086"
                    policySetDefinitionCategory: null
                    policySetDefinitionId: /providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.Authorization/policySetDefinitions/335cefd2-ab16-430f-b364-974a170eb1d5
                    policySetDefinitionName: 335cefd2-ab16-430f-b364-974a170eb1d5
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myrg1
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg1/providers/microsoft.insights/autoscalesettings/mytest1
                    resourceLocation: westus
                    resourceTags: tbd
                    resourceType: /microsoft.insights/autoscalesettings
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-09T17:41:47Z
                  - "@odata.context": https://management.azure.com/providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: myManagementGroup,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.Authorization/policyAssignments/186044306c044a1d8c0ff76c
                    policyAssignmentName: 186044306c044a1d8c0ff76c
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: '{"allowedLocations":{"value":["centralus"]}}'
                    policyAssignmentScope: /providers/Microsoft.Management/managementGroups/myManagementGroup
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /providers/Microsoft.Management/managementGroups/myManagementGroup/providers/Microsoft.Authorization/policyDefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d
                    policyDefinitionName: 022d9357-5a90-46f7-9554-21d30ce4c32d
                    policyDefinitionReferenceId: ""
                    policySetDefinitionCategory: null
                    policySetDefinitionId: ""
                    policySetDefinitionName: ""
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myrg1
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg1/providers/microsoft.insights/autoscalesettings/mytest1
                    resourceLocation: westus
                    resourceTags: tbd
                    resourceType: /microsoft.insights/autoscalesettings
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-09T17:41:47Z
  "/subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults":
    post:
      description: Queries policy states for the resources under the subscription.
      operationId: PolicyStates_ListQueryResultsForSubscription
      parameters:
        - $ref: "#/parameters/policyStatesResourceParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/topParameter"
        - $ref: "#/parameters/orderByParameter"
        - $ref: "#/parameters/selectParameter"
        - $ref: "#/parameters/fromParameter"
        - $ref: "#/parameters/toParameter"
        - $ref: "#/parameters/filterParameter"
        - $ref: "#/parameters/applyParameter"
      responses:
        "200":
          description: Query results.
          schema:
            $ref: "#/definitions/PolicyStatesQueryResults"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        Filter and aggregate only:
          parameters:
            $apply: aggregate($count as NumDenyStates)
            $filter: PolicyDefinitionAction eq 'deny'
            $from: 2018-02-05T18:00:00Z
            api-version: 2017-10-17-preview
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 1
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumDenyStates: 6
        Filter and group with aggregate:
          parameters:
            $apply: groupby((PolicyAssignmentId, PolicyDefinitionId, PolicyDefinitionAction, ResourceId), aggregate($count as NumAuditDenyNonComplianceRecords))
            $filter: IsCompliant eq false and (PolicyDefinitionAction eq 'audit' or PolicyDefinitionAction eq 'deny')
            $from: 2018-02-05T18:00:00Z
            $orderby: NumAuditDenyNonComplianceRecords desc
            $top: 2
            api-version: 2017-10-17-preview
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumAuditDenyNonComplianceRecords: 10
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01
                    policyDefinitionAction: audit
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myrg/providers/microsoft.classiccompute/domainnames/myDomainName
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumAuditDenyNonComplianceRecords: 10
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/ddd8ef92e3714a5ea3d208c1
                    policyDefinitionAction: audit
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myrg/providers/microsoft.classiccompute/domainnames/myDomainName
        Filter and group without aggregate:
          parameters:
            $apply: groupby((PolicyAssignmentId, PolicyDefinitionId, PolicyDefinitionAction, ResourceId))
            $filter: IsCompliant eq false and (PolicyDefinitionAction ne 'audit' and PolicyDefinitionAction ne 'append')
            $from: 2018-01-05T18:00:00Z
            $top: 2
            api-version: 2017-10-17-preview
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/enable monitoring in azure security center
                    policyDefinitionAction: auditifnotexists
                    policyDefinitionId: /providers/microsoft.authorization/policydefinitions/44452482-524f-4bf4-b852-0bff7cc4a3ed
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myrg/providers/microsoft.network/virtualnetworks/vnet
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/89b27f38-e9e4-4468-ab81-801c84b8c017
                    policyDefinitionAction: auditifnotexists
                    policyDefinitionId: /providers/microsoft.authorization/policydefinitions/44452482-524f-4bf4-b852-0bff7cc4a3ed
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myrg/providers/microsoft.network/virtualnetworks/vnet
        Filter and multiple groups:
          parameters:
            $apply: groupby((PolicyAssignmentId, PolicySetDefinitionId, PolicyDefinitionId, PolicyDefinitionReferenceId, ResourceId))/groupby((PolicyAssignmentId, PolicySetDefinitionId, PolicyDefinitionId, PolicyDefinitionReferenceId), aggregate($count as NumNonCompliantResources))
            $filter: IsCompliant eq false
            $orderby: NumNonCompliantResources desc
            $top: 10
            api-version: 2017-10-17-preview
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 10
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 557
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: "14799174781370023846"
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 557
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/f4cc58b7db524a9799381531
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: "1679708035638239273"
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 557
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/ddd8ef92e3714a5ea3d208c1
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: "14799174781370023846"
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 557
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/ddd8ef92e3714a5ea3d208c1
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: "1679708035638239273"
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 557
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/d9da7e80af6344ab9d342aa7
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: ""
                    policySetDefinitionId: ""
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 557
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/dcda79d769674aea8bfcaa49
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                    policyDefinitionReferenceId: ""
                    policySetDefinitionId: ""
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 552
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/3f3c4330183b4e218fe6fd29
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: ""
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 544
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/e46af646ebdb461dba708e01
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                    policyDefinitionReferenceId: "8935913113203900114"
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/a03db67e-a286-43c3-9098-b2da83d361ad
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 526
                    policyAssignmentId: /providers/microsoft.management/managementgroups/mymg/providers/microsoft.authorization/policyassignments/8174043a1e2849179635b874
                    policyDefinitionId: /providers/microsoft.management/managementgroups/mymg/providers/microsoft.authorization/policydefinitions/72c0c41a-c752-4bc0-9c61-0d6adc567066
                    policyDefinitionReferenceId: ""
                    policySetDefinitionId: ""
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    NumNonCompliantResources: 509
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policyassignments/ddd8ef92e3714a5ea3d208c1
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policydefinitions/c8b79b49-a579-4045-984e-1b249ab8b474
                    policyDefinitionReferenceId: "2124621540977569058"
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/microsoft.authorization/policysetdefinitions/12b58873-e0f8-4b95-936c-86cbe7c9d697
        Query latest at subscription scope:
          parameters:
            api-version: 2017-10-17-preview
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/Enable Monitoring in Azure Security Center
                    policyAssignmentName: Enable Monitoring in Azure Security Center
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: "{}"
                    policyAssignmentScope: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
                    policyDefinitionAction: AuditIfNotExists
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/9daedab3-fb2d-461e-b861-71790eead4f6
                    policyDefinitionName: 9daedab3-fb2d-461e-b861-71790eead4f6
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: /providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                    policySetDefinitionName: 1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myrg1
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg1/providers/Microsoft.Network/publicIPAddresses/mypubip1
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.Network/publicIPAddresses
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-09T17:48:05Z
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/9ac09b0657d942e5ad4041a6
                    policyAssignmentName: 9ac09b0657d942e5ad4041a6
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: "{}"
                    policyAssignmentScope: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
                    policyDefinitionAction: AuditIfNotExists
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/9daedab3-fb2d-461e-b861-71790eead4f6
                    policyDefinitionName: 9daedab3-fb2d-461e-b861-71790eead4f6
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: /providers/Microsoft.Authorization/policySetDefinitions/1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                    policySetDefinitionName: 1f3afdf9-d0c9-4c3d-847f-89da613e70a8
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myrg1
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg1/providers/Microsoft.Network/publicIPAddresses/mypubip1
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.Network/publicIPAddresses
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-09T17:48:05Z
        "Time range; sort, select and limit":
          parameters:
            $from: 2018-02-05T18:00:00Z
            $orderby: Timestamp desc, PolicyAssignmentId asc, SubscriptionId asc, ResourceGroup asc, ResourceId
            $select: Timestamp, PolicyAssignmentId, PolicyDefinitionId, SubscriptionId, ResourceGroup, ResourceId
            $to: 2018-02-06T18:00:00Z
            $top: 2
            api-version: 2017-10-17-preview
            policyStatesResource: latest
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    policyAssignmentId: /providers/Microsoft.Management/managementGroups/8cb1e007-947f-423a-ad0c-7ab7dc7d0255/providers/Microsoft.Authorization/policyAssignments/1654a0254ab34920a60f94eb
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/655cb504-bcee-4362-bd4c-402e6aa38759
                    resourceGroup: myrg1
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg1/providers/Microsoft.Storage/storageAccounts/mysa1
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-06T17:58:00Z
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    policyAssignmentId: /providers/Microsoft.Management/managementGroups/8cb1e007-947f-423a-ad0c-7ab7dc7d0255/providers/Microsoft.Authorization/policyAssignments/1654a0254ab34920a60f94eb
                    policyDefinitionId: /providers/Microsoft.Authorization/policyDefinitions/655cb504-bcee-4362-bd4c-402e6aa38759
                    resourceGroup: myrg2
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myrg2/providers/Microsoft.Storage/storageAccounts/mysa2
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-06T17:58:00Z
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults":
    post:
      description: Queries policy states for the resources under the resource group.
      operationId: PolicyStates_ListQueryResultsForResourceGroup
      parameters:
        - $ref: "#/parameters/policyStatesResourceParameter"
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/topParameter"
        - $ref: "#/parameters/orderByParameter"
        - $ref: "#/parameters/selectParameter"
        - $ref: "#/parameters/fromParameter"
        - $ref: "#/parameters/toParameter"
        - $ref: "#/parameters/filterParameter"
        - $ref: "#/parameters/applyParameter"
      responses:
        "200":
          description: Query results.
          schema:
            $ref: "#/definitions/PolicyStatesQueryResults"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        Query latest at resource group scope:
          parameters:
            api-version: 2017-10-17-preview
            policyStatesResource: latest
            resourceGroupName: myResourceGroup
            subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myResourceGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myResourceGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/3f3c4330183b4e218fe6fd29
                    policyAssignmentName: 3f3c4330183b4e218fe6fd29
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: "{}"
                    policyAssignmentScope: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionName: 24813039-7534-408a-9842-eb99f45721b1
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policySetDefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c
                    policySetDefinitionName: 3e3807c1-65c9-49e0-a406-82d8ae3e338c
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myResourceGroup
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/mysa1
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.Storage/storageAccounts
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-09T18:42:42Z
                  - "@odata.context": https://management.azure.com/subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourcegroups/myResourceGroup/providers/Microsoft.PolicyInsights/policyStates/$metadata#latest/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyAssignments/3f3c4330183b4e218fe6fd29
                    policyAssignmentName: 3f3c4330183b4e218fe6fd29
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: "{}"
                    policyAssignmentScope: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policyDefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e3682
                    policyDefinitionName: 3e3807c1-65c9-49e0-a406-82d8ae3e3682
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/providers/Microsoft.Authorization/policySetDefinitions/3e3807c1-65c9-49e0-a406-82d8ae3e338c
                    policySetDefinitionName: 3e3807c1-65c9-49e0-a406-82d8ae3e338c
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myResourceGroup
                    resourceId: /subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/mysa1
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.Storage/storageAccounts
                    subscriptionId: fffedd8f-ffff-fffd-fffd-fffed2f84852
                    timestamp: 2018-02-09T18:42:42Z
  "/{resourceId}/providers/Microsoft.PolicyInsights/policyStates/{policyStatesResource}/queryResults":
    post:
      description: Queries policy states for the resource.
      operationId: PolicyStates_ListQueryResultsForResource
      parameters:
        - $ref: "#/parameters/policyStatesResourceParameter"
        - $ref: "#/parameters/resourceIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/topParameter"
        - $ref: "#/parameters/orderByParameter"
        - $ref: "#/parameters/selectParameter"
        - $ref: "#/parameters/fromParameter"
        - $ref: "#/parameters/toParameter"
        - $ref: "#/parameters/filterParameter"
        - $ref: "#/parameters/applyParameter"
      responses:
        "200":
          description: Query results.
          schema:
            $ref: "#/definitions/PolicyStatesQueryResults"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        Query all policy states at nested resource scope:
          parameters:
            api-version: 2017-10-17-preview
            policyStatesResource: default
            resourceId: subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/resourceGroups/myResourceGroup/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApplication
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/resourcegroups/myResourceGroup/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApplication/providers/Microsoft.PolicyInsights/policyStates/$metadata#default
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/resourcegroups/myResourceGroup/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApplication/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /providers/Microsoft.Management/managementGroups/mymg/providers/Microsoft.Authorization/policyAssignments/186044306c044a1d8c0ff76c
                    policyAssignmentName: 186044306c044a1d8c0ff76c
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: '{"allowedLocations":{"value":["centralus"]}}'
                    policyAssignmentScope: /providers/Microsoft.Management/managementGroups/mymg
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /providers/Microsoft.Management/managementGroups/mymg/providers/Microsoft.Authorization/policyDefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d
                    policyDefinitionName: 022d9357-5a90-46f7-9554-21d30ce4c32d
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: null
                    policySetDefinitionName: null
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myResourceGroup
                    resourceId: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/resourcegroups/myResourceGroup/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApplication
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.ServiceFabric/clusters/applications
                    subscriptionId: fff10b27-fff3-fff5-fff8-fffbe01e86a5
                    timestamp: 2018-02-09T16:04:31Z
                  - "@odata.context": https://management.azure.com/subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/resourcegroups/myResourceGroup/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApplication/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /providers/Microsoft.Management/managementGroups/mymg/providers/Microsoft.Authorization/policyAssignments/186044306c044a1d8c0ff76c
                    policyAssignmentName: 186044306c044a1d8c0ff76c
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: '{"allowedLocations":{"value":["centralus"]}}'
                    policyAssignmentScope: /providers/Microsoft.Management/managementGroups/mymg
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /providers/Microsoft.Management/managementGroups/mymg/providers/Microsoft.Authorization/policyDefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d
                    policyDefinitionName: 022d9357-5a90-46f7-9554-21d30ce4c32d
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: null
                    policySetDefinitionName: null
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myResourceGroup
                    resourceId: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/resourcegroups/myResourceGroup/providers/Microsoft.ServiceFabric/clusters/myCluster/applications/myApplication
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.ServiceFabric/clusters/applications
                    subscriptionId: fff10b27-fff3-fff5-fff8-fffbe01e86a5
                    timestamp: 2018-02-09T16:04:31Z
        Query all policy states at resource scope:
          parameters:
            api-version: 2017-10-17-preview
            policyStatesResource: default
            resourceId: subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/resourceGroups/myResourceGroup/providers/Microsoft.ClassicCompute/domainNames/myDomainName
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/resourcegroups/myResourceGroup/providers/Microsoft.ClassicCompute/domainNames/myDomainName/providers/Microsoft.PolicyInsights/policyStates/$metadata#default
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/resourcegroups/myResourceGroup/providers/Microsoft.ClassicCompute/domainNames/myDomainName/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.Authorization/policyAssignments/test
                    policyAssignmentName: test
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: '{"tagName":{"value":"no"},"tagValue":{"value":"no"}}'
                    policyAssignmentScope: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.Authorization/policyDefinitions/Audit a tag and it's value
                    policyDefinitionName: Audit a tag and it's value
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: null
                    policySetDefinitionName: null
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myResourceGroup
                    resourceId: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/resourcegroups/myResourceGroup/providers/Microsoft.ClassicCompute/domainNames/myDomainName
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.ClassicCompute/domainNames
                    subscriptionId: fff10b27-fff3-fff5-fff8-fffbe01e86a5
                    timestamp: 2018-02-09T16:04:31Z
                  - "@odata.context": https://management.azure.com/subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/resourcegroups/myResourceGroup/providers/Microsoft.ClassicCompute/domainNames/myDomainName/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.Authorization/policyAssignments/test
                    policyAssignmentName: test
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: '{"tagName":{"value":"no"},"tagValue":{"value":"no"}}'
                    policyAssignmentScope: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.Authorization/policyDefinitions/Audit a tag and it's value
                    policyDefinitionName: Audit a tag and it's value
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: null
                    policySetDefinitionName: null
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: myResourceGroup
                    resourceId: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/resourcegroups/myResourceGroup/providers/Microsoft.ClassicCompute/domainNames/myDomainName
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.ClassicCompute/domainNames
                    subscriptionId: fff10b27-fff3-fff5-fff8-fffbe01e86a5
                    timestamp: 2018-02-09T16:04:31Z
        Query all policy states at subscription level nested resource scope:
          parameters:
            api-version: 2017-10-17-preview
            policyStatesResource: default
            resourceId: subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.SomeNamespace/someResourceType/someResource/someNestedResourceType/someNestedResource
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.SomeNamespace/someResourceType/someResource/someNestedResourceType/someNestedResource/providers/Microsoft.PolicyInsights/policyStates/$metadata#default
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.SomeNamespace/someResourceType/someResource/someNestedResourceType/someNestedResource/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /providers/Microsoft.Management/managementGroups/mymg/providers/Microsoft.Authorization/policyAssignments/186044306c044a1d8c0ff76c
                    policyAssignmentName: 186044306c044a1d8c0ff76c
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: '{"allowedLocations":{"value":["centralus"]}}'
                    policyAssignmentScope: /providers/Microsoft.Management/managementGroups/mymg
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /providers/Microsoft.Management/managementGroups/mymg/providers/Microsoft.Authorization/policyDefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d
                    policyDefinitionName: 022d9357-5a90-46f7-9554-21d30ce4c32d
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: null
                    policySetDefinitionName: null
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: ""
                    resourceId: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.SomeNamespace/someResourceType/someResource/someNestedResourceType/someNestedResource
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.SomeNamespace/someResourceType/someNestedResourceType
                    subscriptionId: fff10b27-fff3-fff5-fff8-fffbe01e86a5
                    timestamp: 2018-02-09T16:04:31Z
                  - "@odata.context": https://management.azure.com/subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.SomeNamespace/someResourceType/someResource/someNestedResourceType/someNestedResource/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /providers/Microsoft.Management/managementGroups/mymg/providers/Microsoft.Authorization/policyAssignments/186044306c044a1d8c0ff76c
                    policyAssignmentName: 186044306c044a1d8c0ff76c
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: '{"allowedLocations":{"value":["centralus"]}}'
                    policyAssignmentScope: /providers/Microsoft.Management/managementGroups/mymg
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /providers/Microsoft.Management/managementGroups/mymg/providers/Microsoft.Authorization/policyDefinitions/022d9357-5a90-46f7-9554-21d30ce4c32d
                    policyDefinitionName: 022d9357-5a90-46f7-9554-21d30ce4c32d
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: null
                    policySetDefinitionName: null
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: ""
                    resourceId: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.SomeNamespace/someResourceType/someResource/someNestedResourceType/someNestedResource
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.SomeNamespace/someResourceType/someNestedResourceType
                    subscriptionId: fff10b27-fff3-fff5-fff8-fffbe01e86a5
                    timestamp: 2018-02-09T16:04:31Z
        Query all policy states at subscription level resource scope:
          parameters:
            api-version: 2017-10-17-preview
            policyStatesResource: default
            resourceId: subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.SomeNamespace/someResourceType/someResourceName
          responses:
            "200":
              body:
                "@odata.context": https://management.azure.com/subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.SomeNamespace/someResourceType/someResourceName/providers/Microsoft.PolicyInsights/policyStates/$metadata#default
                "@odata.count": 2
                value:
                  - "@odata.context": https://management.azure.com/subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.SomeNamespace/someResourceType/someResourceName/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.Authorization/policyAssignments/test
                    policyAssignmentName: test
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: '{"tagName":{"value":"no"},"tagValue":{"value":"no"}}'
                    policyAssignmentScope: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.Authorization/policyDefinitions/Audit a tag and it's value
                    policyDefinitionName: Audit a tag and it's value
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: null
                    policySetDefinitionName: null
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: ""
                    resourceId: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.SomeNamespace/someResourceType/someResourceName
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.SomeNamespace/someResourceType
                    subscriptionId: fff10b27-fff3-fff5-fff8-fffbe01e86a5
                    timestamp: 2018-02-09T16:04:31Z
                  - "@odata.context": https://management.azure.com/subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.SomeNamespace/someResourceType/someResourceName/providers/Microsoft.PolicyInsights/policyStates/$metadata#default/$entity
                    "@odata.id": null
                    effectiveParameters: null
                    isCompliant: false
                    managementGroupIds: mymg,fff988bf-fff1-ffff-fffb-fffcd011db47
                    policyAssignmentId: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.Authorization/policyAssignments/test
                    policyAssignmentName: test
                    policyAssignmentOwner: tbd
                    policyAssignmentParameters: '{"tagName":{"value":"no"},"tagValue":{"value":"no"}}'
                    policyAssignmentScope: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5
                    policyDefinitionAction: audit
                    policyDefinitionCategory: tbd
                    policyDefinitionId: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.Authorization/policyDefinitions/Audit a tag and it's value
                    policyDefinitionName: Audit a tag and it's value
                    policyDefinitionReferenceId: null
                    policySetDefinitionCategory: null
                    policySetDefinitionId: null
                    policySetDefinitionName: null
                    policySetDefinitionOwner: null
                    policySetDefinitionParameters: null
                    resourceGroup: ""
                    resourceId: /subscriptions/fff10b27-fff3-fff5-fff8-fffbe01e86a5/providers/Microsoft.SomeNamespace/someResourceType/someResourceName
                    resourceLocation: eastus
                    resourceTags: tbd
                    resourceType: /Microsoft.SomeNamespace/someResourceType
                    subscriptionId: fff10b27-fff3-fff5-fff8-fffbe01e86a5
                    timestamp: 2018-02-09T16:04:31Z
  "/{scope}/providers/Microsoft.PolicyInsights/policyStates/$metadata":
    get:
      description: Gets OData metadata XML document.
      operationId: PolicyStates_GetMetadata
      parameters:
        - $ref: "#/parameters/scopeParameter"
        - $ref: "#/parameters/apiVersionParameter"
      produces:
        - application/xml
      responses:
        "200":
          description: OData metadata XML document.
          schema:
            $ref: "#/definitions/MetadataDocument"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/QueryFailure"
      x-ms-examples:
        Get metadata:
          parameters:
            api-version: 2017-10-17-preview
            scope: subscriptions/fffedd8f-ffff-fffd-fffd-fffed2f84852
          responses:
            "200":
              body: <edmx:Edmx Version="4.0" xmlns:edmx="http://docs.oasis-open.org/odata/ns/edmx">  <edmx:DataServices>    <Schema Namespace="Microsoft.WindowsAzure.Governance.Policy.Provider" xmlns="http://docs.oasis-open.org/odata/ns/edm">      <EntityType Name="PolicyState">        <Key>          <PropertyRef Name="Timestamp" />          <PropertyRef Name="ResourceId" />          <PropertyRef Name="PolicyAssignmentId" />          <PropertyRef Name="PolicyDefinitionId" />        </Key>        <Property Name="Timestamp" Type="Edm.DateTimeOffset" />        <Property Name="ResourceId" Type="Edm.String" />        <Property Name="PolicyAssignmentId" Type="Edm.String" />        <Property Name="PolicyDefinitionId" Type="Edm.String" />        <Property Name="EffectiveParameters" Type="Edm.String" />        <Property Name="IsCompliant" Type="Edm.Boolean" />        <Property Name="SubscriptionId" Type="Edm.String" />        <Property Name="ResourceType" Type="Edm.String" />        <Property Name="ResourceLocation" Type="Edm.String" />        <Property Name="ResourceGroup" Type="Edm.String" />        <Property Name="ResourceTags" Type="Edm.String" />        <Property Name="PolicyAssignmentName" Type="Edm.String" />        <Property Name="PolicyAssignmentOwner" Type="Edm.String" />        <Property Name="PolicyAssignmentParameters" Type="Edm.String" />        <Property Name="PolicyAssignmentScope" Type="Edm.String" />        <Property Name="PolicyDefinitionName" Type="Edm.String" />        <Property Name="PolicyDefinitionAction" Type="Edm.String" />        <Property Name="PolicyDefinitionCategory" Type="Edm.String" />        <Property Name="PolicySetDefinitionId" Type="Edm.String" />        <Property Name="PolicySetDefinitionName" Type="Edm.String" />        <Property Name="PolicySetDefinitionOwner" Type="Edm.String" />        <Property Name="PolicySetDefinitionCategory" Type="Edm.String" />        <Property Name="PolicySetDefinitionParameters" Type="Edm.String" />        <Property Name="ManagementGroupIds" Type="Edm.String" />        <Property Name="PolicyDefinitionReferenceId" Type="Edm.String" />      </EntityType>      <Action Name="queryResults" IsBound="true" EntitySetPath="default">        <Parameter Name="default" Type="Collection(Microsoft.WindowsAzure.Governance.Policy.Provider.PolicyState)" Nullable="false" />        <ReturnType Type="Collection(Microsoft.WindowsAzure.Governance.Policy.Provider.PolicyState)" Nullable="false" />      </Action>      <Action Name="queryResults" IsBound="true" EntitySetPath="latest">        <Parameter Name="latest" Type="Collection(Microsoft.WindowsAzure.Governance.Policy.Provider.PolicyState)" Nullable="false" />        <ReturnType Type="Collection(Microsoft.WindowsAzure.Governance.Policy.Provider.PolicyState)" Nullable="false" />      </Action>      <EntityContainer Name="DefaultContainer">        <EntitySet Name="default" EntityType="Microsoft.WindowsAzure.Governance.Policy.Provider.PolicyState">          <Annotation Term="Org.OData.Core.V1.ResourcePath" String="default" />          <Annotation Term="Org.OData.Capabilities.V1.SearchRestrictions">            <Record>              <PropertyValue Property="Searchable" Bool="false" />            </Record>          </Annotation>          <Annotation Term="Org.OData.Capabilities.V1.InsertRestrictions">            <Record>              <PropertyValue Property="Insertable" Bool="false" />            </Record>          </Annotation>          <Annotation Term="Org.OData.Capabilities.V1.UpdateRestrictions">            <Record>              <PropertyValue Property="Updatable" Bool="false" />            </Record>          </Annotation>          <Annotation Term="Org.OData.Capabilities.V1.DeleteRestrictions">            <Record>              <PropertyValue Property="Deletable" Bool="false" />            </Record>          </Annotation>        </EntitySet>        <EntitySet Name="latest" EntityType="Microsoft.WindowsAzure.Governance.Policy.Provider.PolicyState">          <Annotation Term="Org.OData.Core.V1.ResourcePath" String="latest" />          <Annotation Term="Org.OData.Capabilities.V1.SearchRestrictions">            <Record>              <PropertyValue Property="Searchable" Bool="false" />            </Record>          </Annotation>          <Annotation Term="Org.OData.Capabilities.V1.InsertRestrictions">            <Record>              <PropertyValue Property="Insertable" Bool="false" />            </Record>          </Annotation>          <Annotation Term="Org.OData.Capabilities.V1.UpdateRestrictions">            <Record>              <PropertyValue Property="Updatable" Bool="false" />            </Record>          </Annotation>          <Annotation Term="Org.OData.Capabilities.V1.DeleteRestrictions">            <Record>              <PropertyValue Property="Deletable" Bool="false" />            </Record>          </Annotation>        </EntitySet>        <Annotation Term="Org.OData.Core.V1.Description" String="Policy States" />      </EntityContainer>      <Annotations Target="Microsoft.WindowsAzure.Governance.Policy.Provider.DefaultContainer">        <Annotation Term="Org.OData.Capabilities.V1.ConformanceLevel">          <EnumMember>Org.OData.Capabilities.V1.ConformanceLevelType/Minimal</EnumMember>        </Annotation>        <Annotation Term="Org.OData.Capabilities.V1.SupportedFormats">          <Collection>            <String>application/json;odata.metadata=minimal;IEEE754Compatible=false;odata.streaming=true</String>            <String>application/json;odata.metadata=none;IEEE754Compatible=false;odata.streaming=true</String>          </Collection>        </Annotation>        <Annotation Term="Org.OData.Capabilities.V1.AsynchronousRequestsSupported" Bool="true" />      </Annotations>    </Schema>  </edmx:DataServices></edmx:Edmx>
              headers:
                content-type: application/xml
definitions:
  MetadataDocument:
    description: Metadata XML document.
    type: string
  Operation:
    description: Operation definition.
    properties:
      display:
        description: Display metadata associated with the operation.
        properties:
          description:
            description: Operation description.
            type: string
          operation:
            description: Operation name.
            type: string
          provider:
            description: Resource provider name.
            type: string
          resource:
            description: Resource name on which the operation is performed.
            type: string
      name:
        description: Operation name.
        type: string
  OperationsListResults:
    description: List of available operations.
    properties:
      "@odata.count":
        description: OData entity count; represents the number of operations returned.
        format: int32
        minimum: 1
        type: integer
      value:
        description: List of available operations.
        items:
          $ref: "#/definitions/Operation"
        type: array
  PolicyState:
    additionalProperties:
      description: The list of key/value pairs for the additional properties, in the format 'key':'value' where key = the field name, and value = the field value. By default this is not populated
    description: Policy state record.
    properties:
      "@odata.context":
        description: OData context string; used by OData clients to resolve type information based on metadata.
        type: string
      "@odata.id":
        description: OData entity ID; always set to null since policy state records do not have an entity ID.
        type: string
      effectiveParameters:
        description: Effective parameters for the policy assignment.
        type: string
      isCompliant:
        description: Flag which states whether the resource is compliant against the policy assignment it was evaluated against.
        type: boolean
      managementGroupIds:
        description: Comma separated list of management group IDs, which represent the hierarchy of the management groups the resource is under.
        type: string
      policyAssignmentId:
        description: Policy assignment ID.
        type: string
      policyAssignmentName:
        description: Policy assignment name.
        type: string
      policyAssignmentOwner:
        description: Policy assignment owner.
        type: string
      policyAssignmentParameters:
        description: Policy assignment parameters.
        type: string
      policyAssignmentScope:
        description: Policy assignment scope.
        type: string
      policyDefinitionAction:
        description: Policy definition action, i.e. effect.
        type: string
      policyDefinitionCategory:
        description: Policy definition category.
        type: string
      policyDefinitionId:
        description: Policy definition ID.
        type: string
      policyDefinitionName:
        description: Policy definition name.
        type: string
      policyDefinitionReferenceId:
        description: Reference ID for the policy definition inside the policy set, if the policy assignment is for a policy set.
        type: string
      policySetDefinitionCategory:
        description: Policy set definition category, if the policy assignment is for a policy set.
        type: string
      policySetDefinitionId:
        description: Policy set definition ID, if the policy assignment is for a policy set.
        type: string
      policySetDefinitionName:
        description: Policy set definition name, if the policy assignment is for a policy set.
        type: string
      policySetDefinitionOwner:
        description: Policy set definition owner, if the policy assignment is for a policy set.
        type: string
      policySetDefinitionParameters:
        description: Policy set definition parameters, if the policy assignment is for a policy set.
        type: string
      resourceGroup:
        description: Resource group name.
        type: string
      resourceId:
        description: Resource ID.
        type: string
      resourceLocation:
        description: Resource location.
        type: string
      resourceTags:
        description: List of resource tags.
        type: string
      resourceType:
        description: Resource type.
        type: string
      subscriptionId:
        description: Subscription ID.
        type: string
      timestamp:
        description: Timestamp for the policy state record.
        format: date-time
        type: string
    type: object
  PolicyStatesQueryResults:
    description: Query results.
    properties:
      "@odata.context":
        description: OData context string; used by OData clients to resolve type information based on metadata.
        type: string
      "@odata.count":
        description: OData entity count; represents the number of policy state records returned.
        format: int32
        minimum: 0
        type: integer
      value:
        description: Query results.
        items:
          $ref: "#/definitions/PolicyState"
        type: array
  QueryFailure:
    description: Error response.
    properties:
      error:
        description: Error definition.
        properties:
          code:
            description: Service specific error code which serves as the substatus for the HTTP error code.
            type: string
          message:
            description: Description of the error.
            type: string
