{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "adminmanagement.local.azurestack.external",
  "info": {
    "description": "Resource provider health operation endpoints and objects.",
    "title": "InfrastructureInsightsManagementClient",
    "version": "2016-05-01",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/infrastructureinsights/Microsoft.InfrastructureInsights.Admin/preview/2016-05-01/ServiceHealth.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "azure.com",
    "x-serviceName": "azsadmin-ServiceHealth",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "ServiceHealthParameter": {
      "description": "Service Health name.",
      "in": "path",
      "name": "serviceHealth",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths": {
      "get": {
        "description": "Returns the list of all resource provider health states.",
        "operationId": "ServiceHealths_List",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Name of the region",
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "default": "2016-05-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          },
          {
            "description": "OData filter parameter.",
            "in": "query",
            "name": "$filter",
            "type": "string",
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceHealthList"
            }
          }
        },
        "tags": [
          "ServiceHealths"
        ],
        "x-ms-examples": {
          "Returns the list of all resource provider health states.": {
            "parameters": {
              "api-version": "2016-05-01",
              "location": "local",
              "resourceGroupName": "System.local",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "nextLink": null,
                  "value": [
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/23c54265-0e65-4d53-abdc-6734bd6a59f6",
                      "location": "local",
                      "name": "23c54265-0e65-4d53-abdc-6734bd6a59f6",
                      "properties": {
                        "alertSummary": {
                          "criticalAlertCount": 0,
                          "warningAlertCount": 0
                        },
                        "displayName": "Network",
                        "healthState": "Healthy",
                        "infraURI": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Network.Admin/infraRoles/Network",
                        "namespace": "Microsoft.Network.Admin",
                        "registrationId": "23c54265-0e65-4d53-abdc-6734bd6a59f6",
                        "routePrefix": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Network.Admin/",
                        "serviceLocation": "local"
                      },
                      "tags": {},
                      "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths"
                    },
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/385a3e01-3685-45ae-a073-f00dda2b1f7d",
                      "location": "local",
                      "name": "385a3e01-3685-45ae-a073-f00dda2b1f7d",
                      "properties": {
                        "alertSummary": {
                          "criticalAlertCount": 0,
                          "warningAlertCount": 0
                        },
                        "displayName": "Storage",
                        "healthState": "Healthy",
                        "infraURI": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Storage.Admin/farms/84e1c82f-06e2-4bf7-8a9e-646cfa4e4988/infraRoles/Storage",
                        "namespace": "Microsoft.Storage.Admin",
                        "registrationId": "385a3e01-3685-45ae-a073-f00dda2b1f7d",
                        "routePrefix": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Storage.Admin/farms/84e1c82f-06e2-4bf7-8a9e-646cfa4e4988",
                        "serviceLocation": "local"
                      },
                      "tags": {},
                      "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths"
                    },
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/9d9bd18c-5f8d-4f3d-b680-7a27161527ca",
                      "location": "local",
                      "name": "9d9bd18c-5f8d-4f3d-b680-7a27161527ca",
                      "properties": {
                        "alertSummary": {
                          "criticalAlertCount": 0,
                          "warningAlertCount": 0
                        },
                        "displayName": "Key Vault",
                        "healthState": "Healthy",
                        "infraURI": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.KeyVault.Admin/locations/local/infraRoles/Key Vault",
                        "namespace": "Microsoft.KeyVault.Admin",
                        "registrationId": "9d9bd18c-5f8d-4f3d-b680-7a27161527ca",
                        "routePrefix": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.KeyVault.Admin/locations/local",
                        "serviceLocation": "local"
                      },
                      "tags": {},
                      "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths"
                    },
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/bb58377f-3d7d-4d7f-b3b3-d433d422bf9e",
                      "location": "local",
                      "name": "bb58377f-3d7d-4d7f-b3b3-d433d422bf9e",
                      "properties": {
                        "alertSummary": {
                          "criticalAlertCount": 0,
                          "warningAlertCount": 0
                        },
                        "displayName": "Region Management",
                        "healthState": "Unknown",
                        "infraURI": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/infraRoles/Region Management",
                        "namespace": "Microsoft.InfrastructureInsights.Admin",
                        "registrationId": "bb58377f-3d7d-4d7f-b3b3-d433d422bf9e",
                        "routePrefix": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local",
                        "serviceLocation": "local"
                      },
                      "tags": {},
                      "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths"
                    },
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/c720a7de-4812-4b58-969d-c2e2a5cd89ec",
                      "location": "local",
                      "name": "c720a7de-4812-4b58-969d-c2e2a5cd89ec",
                      "properties": {
                        "alertSummary": {
                          "criticalAlertCount": 0,
                          "warningAlertCount": 0
                        },
                        "displayName": "Compute",
                        "healthState": "Unknown",
                        "infraURI": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Compute.Admin/infraRoles/Compute",
                        "namespace": "Microsoft.Compute.Admin",
                        "registrationId": "c720a7de-4812-4b58-969d-c2e2a5cd89ec",
                        "routePrefix": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Compute.Admin/",
                        "serviceLocation": "local"
                      },
                      "tags": {},
                      "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths"
                    },
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/ca6d95e7-7fe1-4c10-b0db-ab4cc835a811",
                      "location": "local",
                      "name": "ca6d95e7-7fe1-4c10-b0db-ab4cc835a811",
                      "properties": {
                        "alertSummary": {
                          "criticalAlertCount": 0,
                          "warningAlertCount": 0
                        },
                        "displayName": "Updates",
                        "healthState": "Unknown",
                        "infraURI": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Update.Admin/updateLocations/local/infraRoles/Updates",
                        "namespace": "Microsoft.Update.Admin",
                        "registrationId": "ca6d95e7-7fe1-4c10-b0db-ab4cc835a811",
                        "routePrefix": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Update.Admin/updateLocations/local",
                        "serviceLocation": "local"
                      },
                      "tags": {},
                      "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths"
                    },
                    {
                      "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/e56bc7b8-c8b5-4e25-b00c-4f951effb22c",
                      "location": "local",
                      "name": "e56bc7b8-c8b5-4e25-b00c-4f951effb22c",
                      "properties": {
                        "alertSummary": {
                          "criticalAlertCount": 0,
                          "warningAlertCount": 1
                        },
                        "displayName": "Capacity",
                        "healthState": "Warning",
                        "infraURI": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/infraRoles/Capacity",
                        "namespace": "Microsoft.Fabric.Admin",
                        "registrationId": "e56bc7b8-c8b5-4e25-b00c-4f951effb22c",
                        "routePrefix": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Fabric.Admin/fabricLocations/local",
                        "serviceLocation": "local"
                      },
                      "tags": {},
                      "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-ms-odata": "#/definitions/ServiceHealth",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/serviceHealths/{serviceHealth}": {
      "get": {
        "description": "Returns the requested service health object.",
        "operationId": "ServiceHealths_Get",
        "parameters": [
          {
            "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
            "in": "path",
            "name": "subscriptionId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the resource group.",
            "in": "path",
            "name": "resourceGroupName",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "description": "Name of the region",
            "in": "path",
            "name": "location",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/parameters/ServiceHealthParameter"
          },
          {
            "default": "2016-05-01",
            "description": "Client API Version.",
            "in": "query",
            "name": "api-version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceHealth"
            }
          }
        },
        "tags": [
          "ServiceHealths"
        ],
        "x-ms-examples": {
          "Returns the requested service health object.": {
            "parameters": {
              "api-version": "2016-05-01",
              "location": "local",
              "resourceGroupName": "System.local",
              "serviceHealth": "c720a7de-4812-4b58-969d-c2e2a5cd89ec",
              "subscriptionId": "20ff7fc3-e762-44dd-bd96-b71116dcdc23"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/local/serviceHealths/c720a7de-4812-4b58-969d-c2e2a5cd89ec",
                  "location": "local",
                  "name": "c720a7de-4812-4b58-969d-c2e2a5cd89ec",
                  "properties": {
                    "alertSummary": {
                      "criticalAlertCount": 0,
                      "warningAlertCount": 0
                    },
                    "displayName": "Compute",
                    "healthState": "Unknown",
                    "infraURI": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Compute.Admin/infraRoles/Compute",
                    "namespace": "Microsoft.Compute.Admin",
                    "registrationId": "c720a7de-4812-4b58-969d-c2e2a5cd89ec",
                    "routePrefix": "/subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/system.local/providers/Microsoft.Compute.Admin/",
                    "serviceLocation": "local"
                  },
                  "tags": {},
                  "type": "Microsoft.InfrastructureInsights.Admin/regionHealths/serviceHealths"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ServiceHealth": {
      "allOf": [
        {
          "allOf": [
            {
              "description": "The core properties of ARM resources",
              "properties": {
                "id": {
                  "description": "Fully qualified resource Id for the resource",
                  "readOnly": true,
                  "type": "string"
                },
                "name": {
                  "description": "The name of the resource",
                  "readOnly": true,
                  "type": "string"
                },
                "type": {
                  "description": "The type of the resource.",
                  "readOnly": true,
                  "type": "string"
                }
              },
              "x-ms-azure-resource": true
            }
          ],
          "description": "The resource model definition for a ARM tracked top level resource",
          "properties": {
            "location": {
              "description": "The Azure Region where the resource lives",
              "type": "string",
              "x-ms-mutability": [
                "read",
                "create"
              ]
            },
            "tags": {
              "additionalProperties": {
                "type": "string"
              },
              "description": "Resource tags.",
              "type": "object",
              "x-ms-mutability": [
                "read",
                "create",
                "update"
              ]
            }
          }
        }
      ],
      "description": "Holds information about the health of a service.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServiceHealthModel",
          "description": "Holds information about the health of a service.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "ServiceHealthList": {
      "description": "Pageable list of service health objects.",
      "properties": {
        "nextLink": {
          "description": "URI of the next page.",
          "type": "string"
        },
        "value": {
          "description": "List of service health objects.",
          "items": {
            "$ref": "#/definitions/ServiceHealth"
          },
          "type": "array"
        }
      }
    },
    "ServiceHealthModel": {
      "allOf": [
        {
          "description": "Models the base properties for health resource.",
          "properties": {
            "alertSummary": {
              "description": "Summary of the alerts.",
              "properties": {
                "criticalAlertCount": {
                  "description": "The number of critical alerts for the service.",
                  "type": "integer"
                },
                "warningAlertCount": {
                  "description": "The number of warning alerts for the service.",
                  "type": "integer"
                }
              }
            },
            "healthState": {
              "description": "Health state.",
              "type": "string"
            },
            "namespace": {
              "description": "Namespace of the health resource.",
              "type": "string"
            },
            "registrationId": {
              "description": "Registration ID.",
              "type": "string"
            },
            "routePrefix": {
              "description": "Route prefix.",
              "type": "string"
            }
          }
        }
      ],
      "description": "Holds information about the health of a service.",
      "properties": {
        "displayName": {
          "description": "Name of the service.",
          "type": "string"
        },
        "infraURI": {
          "description": "The route prefix to the service.",
          "type": "string"
        },
        "serviceLocation": {
          "description": "Location of the service.",
          "type": "string"
        }
      }
    }
  }
}