swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The Hybrid Compute Management Client.
  title: HybridComputeManagementClient
  version: 2019-12-12
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hybridcompute/resource-manager/Microsoft.HybridCompute/stable/2019-12-12/HybridCompute.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: hybridcompute-HybridCompute
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths:
  /providers/Microsoft.HybridCompute/operations:
    get:
      description: Gets a list of hybrid compute operations.
      operationId: Operations_List
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - operations
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/machines":
    get:
      description: Lists all the hybrid machines in the specified subscription. Use the nextLink property in the response to get the next page of hybrid machines.
      operationId: Machines_ListBySubscription
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MachineListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - machines
      x-ms-examples:
        Get all machine resources in a subscription.:
          parameters:
            api-version: 2019-12-12
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: string
                value:
                  - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup1/providers/Microsoft.HybridCompute/machines/myMachine
                    identity:
                      principalId: f7a068cc-b0b8-46e8-a203-22f301a62a8f
                      tenantId: c4098cc-91b8-46c2-a205-d82ab1a62a8f
                      type: SystemAssigned
                    location: eastus2euap
                    name: myMachine
                    properties:
                      agentVersion: null
                      clientPublicKey: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCqGKukO1De7zhZj6+H0qtjTkVxwTCpvKe4eCZ0FPqri0cb2JZfXJ/DgYSF6vUpwmJG8wVQZKjeGcjDOL5UlsuusFncCzWBQ7RKNUSesmQRMSGkVb1/3j+skZ6UtW+5u09lHNsj6tQ51s1SPrCBkedbNf0Tp0GbMJDyR4e9T04ZZwIDAQAB
                      displayName: null
                      errorDetails: null
                      lastStatusChange: null
                      locationData:
                        name: Redmond
                      machineFqdn: null
                      osName: null
                      osProfile:
                        computerName: null
                      osVersion: null
                      provisioningState: Succeeded
                      status: null
                      vmId: b7a098cc-b0b8-46e8-a205-62f301a62a8f
                    tags: null
                    type: Microsoft.HybridCompute/machines
                  - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup2/providers/Microsoft.HybridCompute/machines/myMachine2
                    identity:
                      principalId: e7a068cc-b0b8-46e8-a203-22f301a62a8f
                      tenantId: c4098cc-91b8-46c2-a205-d82ab1a62a8f
                      type: SystemAssigned
                    location: westus2
                    name: myMachine2
                    properties:
                      agentVersion: null
                      clientPublicKey: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCqGKukO1De7zhZj6+H0qtjpkVxwTCpvKe4eCZ0FPqri0cb2JZfXJ/DgYSF6vUpwmJG8wVQZKjfGcjDOL5UlsuusFncCzWBQ7RKNUSesmQRMSGkVb1/3j+skZ6UtW+5u09lHNsj6tQ51s1SPrCBkedbNf0Tp0GbMJDyR4e9T04ZZwIDAQAB
                      displayName: null
                      errorDetails: null
                      lastStatusChange: null
                      locationData:
                        name: Redmond
                      machineFqdn: null
                      osName: null
                      osProfile:
                        computerName: null
                      osVersion: null
                      provisioningState: Succeeded
                      status: null
                      vmId: a4a098cc-b0b8-46e8-a205-62f301a62a8f
                    tags: null
                    type: Microsoft.HybridCompute/machines
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines":
    get:
      description: Lists all the hybrid machines in the specified resource group. Use the nextLink property in the response to get the next page of hybrid machines.
      operationId: Machines_ListByResourceGroup
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MachineListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - machines
      x-ms-examples:
        Get all machine resources in a resource group.:
          parameters:
            api-version: 2019-12-12
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.HybridCompute/machines/myMachine
                    identity:
                      principalId: f7a068cc-b0b8-46e8-a203-22f301a62a8f
                      tenantId: c4098cc-91b8-46c2-a205-d82ab1a62a8f
                      type: SystemAssigned
                    location: eastus2euap
                    name: myMachine
                    properties:
                      agentVersion: null
                      clientPublicKey: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCqGKukO1De7zhZj6+H0qtjTkVxwTCpvKe4eCZ0FPqri0cb2JZfXJ/DgYSF6vUpwmJG8wVQZKjeGcjDOL5UlsuusFncCzWBQ7RKNUSesmQRMSGkVb1/3j+skZ6UtW+5u09lHNsj6tQ51s1SPrCBkedbNf0Tp0GbMJDyR4e9T04ZZwIDAQAB
                      displayName: null
                      errorDetails: null
                      lastStatusChange: null
                      locationData:
                        name: Redmond
                      machineFqdn: null
                      osName: null
                      osProfile:
                        computerName: null
                      osVersion: null
                      provisioningState: Succeeded
                      status: null
                      vmId: b7a098cc-b0b8-46e8-a205-62f301a62a8f
                    tags: null
                    type: Microsoft.HybridCompute/machines
                  - id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.HybridCompute/machines/myMachine2
                    identity:
                      principalId: e7a068cc-b0b8-46e8-a203-22f301a62a8f
                      tenantId: c4098cc-91b8-46c2-a205-d82ab1a62a8f
                      type: SystemAssigned
                    location: westus2
                    name: myMachine2
                    properties:
                      agentVersion: null
                      clientPublicKey: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCqGKukO1De7zhZj6+H0qtjpkVxwTCpvKe4eCZ0FPqri0cb2JZfXJ/DgYSF6vUpwmJG8wVQZKjfGcjDOL5UlsuusFncCzWBQ7RKNUSesmQRMSGkVb1/3j+skZ6UtW+5u09lHNsj6tQ51s1SPrCBkedbNf0Tp0GbMJDyR4e9T04ZZwIDAQAB
                      displayName: null
                      errorDetails: null
                      lastStatusChange: null
                      locationData:
                        name: Redmond
                      machineFqdn: null
                      osName: null
                      osProfile:
                        computerName: null
                      osVersion: null
                      provisioningState: Succeeded
                      status: null
                      vmId: a4a098cc-b0b8-46e8-a205-62f301a62a8f
                    tags: null
                    type: Microsoft.HybridCompute/machines
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}":
    delete:
      description: The operation to remove a hybrid machine identity in Azure.
      operationId: Machines_Delete
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the hybrid machine.
          in: path
          name: name
          required: true
          type: string
      responses:
        "200":
          description: OK
        "204":
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - machines
      x-ms-examples:
        Delete a machine resource.:
          parameters:
            api-version: 2019-12-12
            name: myMachine
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200": {}
            "204": {}
    get:
      description: Retrieves information about the model view or the instance view of a hybrid machine.
      operationId: Machines_Get
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the hybrid machine.
          in: path
          name: name
          required: true
          type: string
        - description: The expand expression to apply on the operation.
          enum:
            - instanceView
          in: query
          name: $expand
          required: false
          type: string
          x-ms-enum:
            modelAsString: true
            name: InstanceViewTypes
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Machine"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - machines
      x-ms-examples:
        Get a machine resource.:
          parameters:
            api-version: 2019-12-12
            name: myMachine
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.HybridCompute/machines/myMachine
                identity:
                  principalId: f7a068cc-b0b8-46e8-a203-22f301a62a8f
                  tenantId: c4098cc-91b8-46c2-a205-d82ab1a62a8f
                  type: SystemAssigned
                location: eastus2euap
                name: myMachine
                properties:
                  agentVersion: null
                  clientPublicKey: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCqGKukO1De7zhZj6+H0qtjTkVxwTCpvKe4eCZ0FPqri0cb2JZfXJ/DgYSF6vUpwmJG8wVQZKjeGcjDOL5UlsuusFncCzWBQ7RKNUSesmQRMSGkVb1/3j+skZ6UtW+5u09lHNsj6tQ51s1SPrCBkedbNf0Tp0GbMJDyR4e9T04ZZwIDAQAB
                  displayName: null
                  errorDetails: null
                  lastStatusChange: null
                  locationData:
                    name: Redmond
                  machineFqdn: null
                  osName: null
                  osProfile:
                    computerName: null
                  osVersion: null
                  provisioningState: Succeeded
                  status: null
                  vmId: b7a098cc-b0b8-46e8-a205-62f301a62a8f
                tags: null
                type: Microsoft.HybridCompute/machines
    patch:
      description: The operation to update a hybrid machine.
      operationId: Machines_Update
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the hybrid machine.
          in: path
          name: name
          required: true
          type: string
        - description: Parameters supplied to the Update hybrid machine operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/MachineUpdate"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Machine"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - machines
      x-ms-examples:
        Update a machine resource.:
          parameters:
            api-version: 2019-12-12
            location: eastus2euap
            name: myMachine
            parameters:
              identity:
                type: SystemAssigned
              properties:
                locationData:
                  name: Redmond
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.HybridCompute/machines/myMachine
                identity:
                  principalId: f7a068cc-b0b8-46e8-a203-22f301a62a8f
                  tenantId: c4098cc-91b8-46c2-a205-d82ab1a62a8f
                  type: SystemAssigned
                location: eastus2euap
                name: myMachine
                properties:
                  agentVersion: null
                  clientPublicKey: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCqGKukO1De7zhZj6+H0qtjTkVxwTCpvKe4eCZ0FPqri0cb2JZfXJ/DgYSF6vUpwmJG8wVQZKjeGcjDOL5UlsuusFncCzWBQ7RKNUSesmQRMSGkVb1/3j+skZ6UtW+5u09lHNsj6tQ51s1SPrCBkedbNf0Tp0GbMJDyR4e9T04ZZwIDAQAB
                  displayName: null
                  errorDetails: null
                  lastStatusChange: null
                  locationData:
                    name: Redmond
                  machineFqdn: null
                  osName: null
                  osProfile:
                    computerName: null
                  osVersion: null
                  provisioningState: Succeeded
                  status: null
                  vmId: b7a098cc-b0b8-46e8-a205-62f301a62a8f
                tags: null
                type: Microsoft.HybridCompute/machines
    put:
      description: The operation to create or update a hybrid machine resource identity in Azure.
      operationId: Machines_CreateOrUpdate
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the hybrid machine.
          in: path
          name: name
          required: true
          type: string
        - description: Parameters supplied to the Create hybrid machine operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Machine"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Machine"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - machines
      x-ms-examples:
        Create or update a machine resource.:
          parameters:
            api-version: 2019-12-12
            name: myMachine
            parameters:
              identity:
                type: SystemAssigned
              location: eastus2euap
              properties:
                clientPublicKey: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCqGKukO1De7zhZj6+H0qtjTkVxwTCpvKe4eCZ0FPqri0cb2JZfXJ/DgYSF6vUpwmJG8wVQZKjeGcjDOL5UlsuusFncCzWBQ7RKNUSesmQRMSGkVb1/3j+skZ6UtW+5u09lHNsj6tQ51s1SPrCBkedbNf0Tp0GbMJDyR4e9T04ZZwIDAQAB
                locationData:
                  name: Redmond
                vmId: b7a098cc-b0b8-46e8-a205-62f301a62a8f
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.HybridCompute/machines/myMachine
                identity:
                  principalId: f7a068cc-b0b8-46e8-a203-22f301a62a8f
                  tenantId: c4098cc-91b8-46c2-a205-d82ab1a62a8f
                  type: SystemAssigned
                location: eastus2euap
                name: myMachine
                properties:
                  agentVersion: null
                  clientPublicKey: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCqGKukO1De7zhZj6+H0qtjTkVxwTCpvKe4eCZ0FPqri0cb2JZfXJ/DgYSF6vUpwmJG8wVQZKjeGcjDOL5UlsuusFncCzWBQ7RKNUSesmQRMSGkVb1/3j+skZ6UtW+5u09lHNsj6tQ51s1SPrCBkedbNf0Tp0GbMJDyR4e9T04ZZwIDAQAB
                  displayName: null
                  errorDetails: null
                  lastStatusChange: null
                  locationData:
                    name: Redmond
                  machineFqdn: null
                  osName: null
                  osProfile:
                    computerName: null
                  osVersion: null
                  provisioningState: Succeeded
                  status: null
                  vmId: b7a098cc-b0b8-46e8-a205-62f301a62a8f
                tags: null
                type: Microsoft.HybridCompute/machines
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}/extensions":
    get:
      description: The operation to get all extensions of a non-Azure machine
      operationId: MachineExtensions_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the machine containing the extension.
          in: path
          name: name
          required: true
          type: string
        - description: The expand expression to apply on the operation.
          in: query
          name: $expand
          required: false
          type: string
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MachineExtensionsListResult"
      tags:
        - MachineExtensions
      x-ms-examples:
        GET all Machine Extensions:
          parameters:
            api-version: 2019-08-02-preview
            name: extdemo
            resourceGroupName: extRG
            subscriptionId: b5e4748c-f69a-467c-8749-e2f9c8cd3db0
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourcegroups/extRG/providers/Microsoft.HybridCompute/Machines/extdemo/Extensions/CustomScriptExtension
                    location: eastus2euap
                    name: CustomScriptExtension
                    properties:
                      autoUpgradeMinorVersion: false
                      instanceView:
                        name: CustomScriptExtension
                        status:
                          code: success
                          level: Information
                          message: "formattedMessage: Finished executing command, StdOut: , StdErr: "
                        type: CustomScriptExtension
                        typeHandlerVersion: 1.10.3
                      provisioningState: Succeeded
                      publisher: Microsoft.Compute
                      settings:
                        commandToExecute: powershell.exe -c "Get-Process | Where-Object { $_.CPU -gt 10000 }"
                      type: CustomScriptExtension
                      typeHandlerVersion: 1.10.3
                    type: Microsoft.HybridCompute/machines/extensions
                  - id: /subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourcegroups/extRG/providers/Microsoft.HybridCompute/Machines/extdemo/Extensions/winosupdateextension
                    location: eastus2euap
                    name: winosupdateextension
                    properties:
                      autoUpgradeMinorVersion: false
                      instanceView:
                        name: winosupdateextension
                        status: {}
                        type: windowsosupdateextension
                        typeHandlerVersion: 1.0.0.0
                      provisioningState: Creating
                      publisher: microsoft.softwareupdatemanagement.test
                      settings: {}
                      type: windowsosupdateextension
                      typeHandlerVersion: 1.0.0.0
                    type: Microsoft.HybridCompute/machines/extensions
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}/extensions/{extensionName}":
    delete:
      description: The operation to delete the extension.
      operationId: MachineExtensions_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the machine where the extension should be deleted.
          in: path
          name: name
          required: true
          type: string
        - description: The name of the machine extension.
          in: path
          name: extensionName
          required: true
          type: string
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: No Content
      tags:
        - MachineExtensions
      x-ms-examples:
        Delete a Machine Extension:
          parameters:
            api-version: 2019-12-12
            extensionName: MMA
            name: myMachine
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: The operation to get the extension.
      operationId: MachineExtensions_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the machine containing the extension.
          in: path
          name: name
          required: true
          type: string
        - description: The name of the machine extension.
          in: path
          name: extensionName
          required: true
          type: string
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MachineExtension"
      tags:
        - MachineExtensions
      x-ms-examples:
        GET Machine Extension:
          parameters:
            api-version: 2019-08-02-preview
            extensionName: CustomScriptExtension
            name: extdemo
            resourceGroupName: extRG
            subscriptionId: b5e4748c-f69a-467c-8749-e2f9c8cd3db0
          responses:
            "200":
              body:
                id: /subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourcegroups/extRG/providers/Microsoft.HybridCompute/Machines/extdemo/Extensions/CustomScriptExtension
                location: eastus2euap
                name: CustomScriptExtension
                properties:
                  autoUpgradeMinorVersion: false
                  instanceView:
                    name: CustomScriptExtension
                    status:
                      code: success
                      level: Information
                      message: "Finished executing command, StdOut: , StdErr:"
                      time: 2019-08-08T20:42:10.999Z
                    type: CustomScriptExtension
                    typeHandlerVersion: 1.10.3
                  protectedSettings: {}
                  provisioningState: Succeeded
                  publisher: Microsoft.Compute
                  settings: '@{commandToExecute=powershell.exe -c "Get-Process | Where-Object { $_.CPU -gt 10000 }"}'
                  type: string
                  typeHandlerVersion: 1.10.3
                type: Microsoft.HybridCompute/machines/extensions
    patch:
      description: The operation to create or update the extension.
      operationId: MachineExtensions_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the machine where the extension should be created or updated.
          in: path
          name: name
          required: true
          type: string
        - description: The name of the machine extension.
          in: path
          name: extensionName
          required: true
          type: string
        - description: Parameters supplied to the Create Machine Extension operation.
          in: body
          name: extensionParameters
          required: true
          schema:
            $ref: "#/definitions/MachineExtensionUpdate"
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MachineExtension"
        "202":
          description: Accepted
      tags:
        - MachineExtensions
      x-ms-examples:
        Create or Update a Machine Extension:
          parameters:
            api-version: 2019-08-02-preview
            extensionName: CustomScriptExtension
            extensionParameters:
              properties:
                publisher: Microsoft.Compute
                settings:
                  commandToExecute: powershell.exe -c "Get-Process | Where-Object { $_.CPU -lt 100 }"
                type: CustomScriptExtension
                typeHandlerVersion: "1.10"
            name: extdemo
            resourceGroupName: extRG
            subscriptionId: b5e4748c-f69a-467c-8749-e2f9c8cd3db0
          responses:
            "200":
              body:
                id: /subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourcegroups/extRG/providers/Microsoft.HybridCompute/Machines/extdemo/Extensions/CustomScriptExtension
                location: eastus2euap
                name: CustomScriptExtension
                properties:
                  autoUpgradeMinorVersion: false
                  instanceView:
                    name: CustomScriptExtension
                    status:
                      code: success
                      level: Information
                      message: "Finished executing command, StdOut: , StdErr:"
                      time: 2020-01-08T20:42:10.999Z
                    type: CustomScriptExtension
                    typeHandlerVersion: 1.10.3
                  protectedSettings: {}
                  provisioningState: Succeeded
                  publisher: Microsoft.Compute
                  settings: '@{commandToExecute=powershell.exe -c "Get-Process | Where-Object { $_.CPU -lt 100 }"}'
                  type: string
                  typeHandlerVersion: 1.10.3
                type: Microsoft.HybridCompute/machines/extensions
            "202": {}
      x-ms-long-running-operation: true
    put:
      description: The operation to create or update the extension.
      operationId: MachineExtensions_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the machine where the extension should be created or updated.
          in: path
          name: name
          required: true
          type: string
        - description: The name of the machine extension.
          in: path
          name: extensionName
          required: true
          type: string
        - description: Parameters supplied to the Create Machine Extension operation.
          in: body
          name: extensionParameters
          required: true
          schema:
            $ref: "#/definitions/MachineExtension"
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/MachineExtension"
        "202":
          description: Accepted
      tags:
        - MachineExtensions
      x-ms-examples:
        Create or Update a Machine Extension:
          parameters:
            api-version: 2019-08-02-preview
            extensionName: CustomScriptExtension
            extensionParameters:
              location: eastus2euap
              properties:
                publisher: Microsoft.Compute
                settings:
                  commandToExecute: powershell.exe -c "Get-Process | Where-Object { $_.CPU -gt 10000 }"
                type: CustomScriptExtension
                typeHandlerVersion: "1.10"
            name: extdemo
            resourceGroupName: extRG
            subscriptionId: b5e4748c-f69a-467c-8749-e2f9c8cd3db0
          responses:
            "200":
              body:
                id: /subscriptions/b5e4748c-f69a-467c-8749-e2f9c8cd3db0/resourcegroups/extRG/providers/Microsoft.HybridCompute/Machines/extdemo/Extensions/CustomScriptExtension
                location: eastus2euap
                name: CustomScriptExtension
                properties:
                  autoUpgradeMinorVersion: false
                  instanceView:
                    name: CustomScriptExtension
                    status:
                      code: success
                      level: Information
                      message: "Finished executing command, StdOut: , StdErr:"
                      time: 2019-08-08T20:42:10.999Z
                    type: CustomScriptExtension
                    typeHandlerVersion: 1.10.3
                  protectedSettings: {}
                  provisioningState: Succeeded
                  publisher: Microsoft.Compute
                  settings: '@{commandToExecute=powershell.exe -c "Get-Process | Where-Object { $_.CPU -gt 10000 }"}'
                  type: string
                  typeHandlerVersion: 1.10.3
                type: Microsoft.HybridCompute/machines/extensions
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{name}/reconnect":
    post:
      description: The operation to reconnect a hybrid machine resource to its identity in Azure.
      operationId: Machines_Reconnect
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the hybrid machine.
          in: path
          name: name
          required: true
          type: string
        - description: Parameters supplied to the Reconnect hybrid machine operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/MachineReconnect"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Machine"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - machines
      x-ms-examples:
        Reconnect a machine resource.:
          parameters:
            api-version: 2019-12-12
            name: myMachine
            parameters:
              properties:
                clientPublicKey: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCqGKukO1De7zhZj6+H0qtjTkVxwTCpvKe4eCZ0FPqri0cb2JZfXJ/DgYSF6vUpwmJG8wVQZKjeGcjDOL5UlsuusFncCzWBQ7RKNUSesmQRMSGkVb1/3j+skZ6UtW+5u09lHNsj6tQ51s1SPrCBkedbNf0Tp0GbMJDyR4e9T04ZZwIDAQAB
                vmId: b7a098cc-b0b8-46e8-a205-62f301a62a8f
            resourceGroupName: myResourceGroup
            subscriptionId: "{subscription-id}"
          responses:
            "200":
              body:
                id: /subscriptions/{subscription-id}/resourceGroups/myResourceGroup/providers/Microsoft.HybridCompute/machines/myMachine
                identity:
                  principalId: f7a068cc-b0b8-46e8-a203-22f301a62a8f
                  tenantId: c4098cc-91b8-46c2-a205-d82ab1a62a8f
                  type: SystemAssigned
                location: eastus2euap
                name: myMachine
                properties:
                  agentVersion: null
                  clientPublicKey: MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCqGKukO1De7zhZj6+H0qtjTkVxwTCpvKe4eCZ0FPqri0cb2JZfXJ/DgYSF6vUpwmJG8wVQZKjeGcjDOL5UlsuusFncCzWBQ7RKNUSesmQRMSGkVb1/3j+skZ6UtW+5u09lHNsj6tQ51s1SPrCBkedbNf0Tp0GbMJDyR4e9T04ZZwIDAQAB
                  displayName: null
                  errorDetails: null
                  lastStatusChange: null
                  locationData:
                    name: Redmond
                  machineFqdn: null
                  osName: null
                  osProfile:
                    computerName: null
                  osVersion: null
                  provisioningState: Succeeded
                  status: null
                  vmId: b7a098cc-b0b8-46e8-a205-62f301a62a8f
                tags: null
                type: Microsoft.HybridCompute/machines
definitions:
  ErrorDetail:
    properties:
      code:
        description: The error's code.
        type: string
      details:
        description: Additional error details.
        items:
          $ref: "#/definitions/ErrorDetail"
        type: array
      message:
        description: A human readable error message.
        type: string
      target:
        description: Indicates which property in the request is responsible for the error.
        type: string
    required:
      - code
      - message
    title: Error details.
    type: object
  ErrorResponse: {}
  Machine:
    allOf:
      - allOf:
          - properties:
              id:
                description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The geo-location where the resource lives
            type: string
            x-ms-mutability:
              - read
              - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
              - read
              - create
              - update
        required:
          - location
    description: Describes a hybrid machine.
    properties:
      identity:
        allOf:
          - description: Identity for the resource.
            properties:
              principalId:
                description: The principal ID of resource identity.
                readOnly: true
                type: string
              tenantId:
                description: The tenant ID of resource.
                readOnly: true
                type: string
              type:
                description: The identity type.
                enum:
                  - SystemAssigned
                type: string
                x-ms-enum:
                  modelAsString: false
                  name: ResourceIdentityType
      properties:
        allOf:
          - $ref: "#/definitions/MachineProperties"
        description: Hybrid Compute Machine properties
        x-ms-client-flatten: true
  MachineExtension:
    allOf:
      - allOf:
          - properties:
              id:
                description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The geo-location where the resource lives
            type: string
            x-ms-mutability:
              - read
              - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
              - read
              - create
              - update
        required:
          - location
    description: Describes a Machine Extension.
    properties:
      properties:
        allOf:
          - $ref: "#/definitions/MachineExtensionProperties"
        description: Describes Machine Extension Properties.
        x-ms-client-flatten: true
  MachineExtensionInstanceView:
    description: Describes the Machine Extension Instance View.
    properties:
      name:
        description: The machine extension name.
        type: string
      status:
        description: Instance view status.
        properties:
          code:
            description: The status code.
            type: string
          displayStatus:
            description: The short localizable label for the status.
            type: string
          level:
            description: The level code.
            enum:
              - Info
              - Warning
              - Error
            type: string
            x-ms-enum:
              modelAsString: true
              name: StatusLevelTypes
          message:
            description: The detailed status message, including for alerts and error messages.
            type: string
          time:
            description: The time of the status.
            format: date-time
            type: string
      type:
        description: Specifies the type of the extension; an example is "CustomScriptExtension".
        type: string
      typeHandlerVersion:
        description: Specifies the version of the script handler.
        type: string
  MachineExtensionProperties:
    description: Describes the properties of a Machine Extension.
    properties:
      autoUpgradeMinorVersion:
        description: Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true.
        type: boolean
      forceUpdateTag:
        description: How the extension handler should be forced to update even if the extension configuration has not changed.
        type: string
      instanceView:
        allOf:
          - $ref: "#/definitions/MachineExtensionInstanceView"
        description: The machine extension instance view.
      protectedSettings:
        description: The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all.
        type: object
      provisioningState:
        description: The provisioning state, which only appears in the response.
        readOnly: true
        type: string
      publisher:
        description: The name of the extension handler publisher.
        type: string
      settings:
        description: Json formatted public settings for the extension.
        type: object
      type:
        description: Specifies the type of the extension; an example is "CustomScriptExtension".
        type: string
      typeHandlerVersion:
        description: Specifies the version of the script handler.
        type: string
  MachineExtensionUpdate:
    allOf:
      - $ref: "#/definitions/UpdateResource"
    description: Describes a Machine Extension Update.
    properties:
      properties:
        allOf:
          - $ref: "#/definitions/MachineExtensionUpdateProperties"
        description: Describes Machine Extension Update Properties.
        x-ms-client-flatten: true
  MachineExtensionUpdateProperties:
    description: Describes the properties of a Machine Extension.
    properties:
      autoUpgradeMinorVersion:
        description: Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true.
        type: boolean
      forceUpdateTag:
        description: How the extension handler should be forced to update even if the extension configuration has not changed.
        type: string
      protectedSettings:
        description: The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all.
        type: object
      publisher:
        description: The name of the extension handler publisher.
        type: string
      settings:
        description: Json formatted public settings for the extension.
        type: object
      type:
        description: Specifies the type of the extension; an example is "CustomScriptExtension".
        type: string
      typeHandlerVersion:
        description: Specifies the version of the script handler.
        type: string
  MachineExtensionsListResult:
    description: Describes the Machine Extensions List Result.
    properties:
      nextLink:
        description: The uri to fetch the next page of machine extensions. Call ListNext() with this to fetch the next page of extensions.
        type: string
      value:
        description: The list of extensions
        items:
          $ref: "#/definitions/MachineExtension"
        type: array
  MachineListResult:
    description: The List hybrid machine operation response.
    properties:
      nextLink:
        description: The URI to fetch the next page of Machines. Call ListNext() with this URI to fetch the next page of hybrid machines.
        type: string
      value:
        description: The list of hybrid machines.
        items:
          $ref: "#/definitions/Machine"
        type: array
    required:
      - value
  MachineProperties:
    description: Describes the properties of a hybrid machine.
    properties:
      agentVersion:
        description: The hybrid machine agent full version.
        readOnly: true
        type: string
      clientPublicKey:
        description: Public Key that the client provides to be used during initial resource onboarding
        type: string
      displayName:
        description: Specifies the hybrid machine display name.
        readOnly: true
        type: string
      errorDetails:
        description: Details about the error state.
        items:
          $ref: "#/definitions/ErrorDetail"
        readOnly: true
        type: array
      extensions:
        description: Machine Extensions information
        items:
          $ref: "#/definitions/MachineExtensionInstanceView"
        type: array
      lastStatusChange:
        description: The time of the last status change.
        format: date-time
        readOnly: true
        type: string
      locationData:
        description: Metadata pertaining to the geographic location of the resource.
        properties:
          city:
            description: The city or locality where the resource is located.
            type: string
          countryOrRegion:
            description: The country or region where the resource is located
            type: string
          district:
            description: The district, state, or province where the resource is located.
            type: string
          name:
            description: A canonical name for the geographic or physical location.
            maxLength: 256
            type: string
        required:
          - name
        type: object
      machineFqdn:
        description: Specifies the hybrid machine FQDN.
        readOnly: true
        type: string
      osName:
        description: The Operating System running on the hybrid machine.
        readOnly: true
        type: string
      osProfile:
        allOf:
          - $ref: "#/definitions/OSProfile"
        description: Specifies the operating system settings for the hybrid machine.
      osVersion:
        description: The version of Operating System running on the hybrid machine.
        readOnly: true
        type: string
      provisioningState:
        description: The provisioning state, which only appears in the response.
        readOnly: true
        type: string
      status:
        description: The status of the hybrid machine agent.
        enum:
          - Connected
          - Disconnected
          - Error
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: StatusTypes
      vmId:
        description: Specifies the hybrid machine unique ID.
        type: string
        x-ms-mutability:
          - read
          - create
  MachineReconnect:
    description: Describes a hybrid machine reconnect.
    properties:
      properties:
        allOf:
          - $ref: "#/definitions/MachineReconnectProperties"
        description: Hybrid Compute Machine properties
        x-ms-client-flatten: true
  MachineReconnectProperties:
    description: Describes the properties required to reconnect a hybrid machine.
    properties:
      clientPublicKey:
        description: Public Key that the client provides to be used during initial resource onboarding.
        type: string
      vmId:
        description: Specifies the hybrid machine unique ID.
        type: string
  MachineUpdate:
    allOf:
      - $ref: "#/definitions/UpdateResource"
    description: Describes a hybrid machine Update.
    properties:
      identity:
        allOf:
          - description: Identity for the resource.
            properties:
              principalId:
                description: The principal ID of resource identity.
                readOnly: true
                type: string
              tenantId:
                description: The tenant ID of resource.
                readOnly: true
                type: string
              type:
                description: The identity type.
                enum:
                  - SystemAssigned
                type: string
                x-ms-enum:
                  modelAsString: false
                  name: ResourceIdentityType
        description: Hybrid Compute Machine Managed Identity
        x-ms-client-flatten: true
      properties:
        allOf:
          - $ref: "#/definitions/MachineUpdateProperties"
        description: Hybrid Compute Machine properties
        x-ms-client-flatten: true
  MachineUpdateProperties:
    description: Describes the ARM updatable properties of a hybrid machine.
    properties:
      locationData:
        description: Metadata pertaining to the geographic location of the resource.
        properties:
          city:
            description: The city or locality where the resource is located.
            type: string
          countryOrRegion:
            description: The country or region where the resource is located
            type: string
          district:
            description: The district, state, or province where the resource is located.
            type: string
          name:
            description: A canonical name for the geographic or physical location.
            maxLength: 256
            type: string
        required:
          - name
        type: object
  OSProfile:
    description: Specifies the operating system settings for the hybrid machine.
    properties:
      computerName:
        description: Specifies the host OS name of the hybrid machine.
        readOnly: true
        type: string
    readOnly: true
  OperationListResult:
    description: The List Compute Operation operation response.
    properties:
      value:
        description: The list of compute operations
        items:
          $ref: "#/definitions/OperationValue"
        readOnly: true
        type: array
  OperationValue:
    description: Describes the properties of a Compute Operation value.
    properties:
      display:
        allOf:
          - $ref: "#/definitions/OperationValueDisplay"
        description: Display properties
        x-ms-client-flatten: true
      name:
        description: The name of the compute operation.
        readOnly: true
        type: string
      origin:
        description: The origin of the compute operation.
        readOnly: true
        type: string
  OperationValueDisplay:
    description: Describes the properties of a Hybrid Compute Operation Value Display.
    properties:
      description:
        description: The description of the operation.
        readOnly: true
        type: string
      operation:
        description: The display name of the compute operation.
        readOnly: true
        type: string
      provider:
        description: The resource provider for the operation.
        readOnly: true
        type: string
      resource:
        description: The display name of the resource the operation applies to.
        readOnly: true
        type: string
  UpdateResource:
    description: The Update Resource model definition.
    properties:
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
