swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: DataBoxManagementClient
  version: 2019-09-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/databox/resource-manager/Microsoft.DataBox/stable/2019-09-01/databox.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: databox
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: The API Version
    in: query
    name: api-version
    required: true
    type: string
  jobNameParameter:
    description: The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only
    in: path
    maxLength: 24
    minLength: 3
    name: jobName
    pattern: ^[-\w\.]+$
    required: true
    type: string
    x-ms-parameter-location: method
  locationParameter:
    description: The location of the resource
    in: path
    name: location
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: The Resource Group Name
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: The Subscription Id
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.DataBox/operations:
    get:
      description: This method gets all the operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The supported operations list.
          schema:
            $ref: "#/definitions/OperationList"
        default:
          description: Error response describing reason for operation failure.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Operations
      x-ms-examples:
        OperationsGet:
          parameters:
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            accept-language:
              - en-US
            api-version: 2018-01-01
            x-ms-client-request-id:
              - 69fc02f6-5d9f-42d5-8d98-b5a943b8c888
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Cancels an order in progress.
                      operation: Cancel
                      provider: Azure Data Box
                      resource: Orders
                    name: Microsoft.DataBox/jobs/cancel/action
                    origin: user
                    properties: {}
                  - display:
                      description: Allows to book a pick up for return shipments.
                      operation: Book Shipment Pick Up
                      provider: Azure Data Box
                      resource: Orders
                    name: Microsoft.DataBox/jobs/bookShipmentPickUp/action
                    origin: user
                    properties: {}
                  - display:
                      description: List or get the Orders
                      operation: List Orders
                      provider: Azure Data Box
                      resource: Orders
                    name: Microsoft.DataBox/jobs/read
                    origin: user
                    properties: {}
                  - display:
                      description: Delete the Orders
                      operation: Delete Orders
                      provider: Azure Data Box
                      resource: Orders
                    name: Microsoft.DataBox/jobs/delete
                    origin: user
                    properties: {}
                  - display:
                      description: Create or update the Orders
                      operation: Create or Update Orders
                      provider: Azure Data Box
                      resource: Orders
                    name: Microsoft.DataBox/jobs/write
                    origin: user
                    properties: {}
                  - display:
                      description: Lists the unencrypted credentials related to the order.
                      operation: List Credentials
                      provider: Azure Data Box
                      resource: Orders
                    name: Microsoft.DataBox/jobs/listCredentials/action
                    origin: user
                    properties: {}
                  - display:
                      description: Validates the shipping address and provides alternate addresses if any.
                      operation: Validate Address
                      provider: Azure Data Box
                      resource: Validate Address
                    name: Microsoft.DataBox/locations/validateAddress/action
                    origin: user
                    properties: {}
                  - display:
                      description: This method returns the list of available skus.
                      operation: Availabe Skus
                      provider: Azure Data Box
                      resource: Available Skus
                    name: Microsoft.DataBox/locations/availableSkus/action
                    origin: user
                    properties: {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/jobs":
    get:
      description: Lists all the jobs available under the subscription.
      operationId: Jobs_List
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: $skipToken is supported on Get list of jobs, which provides the next page in the list of jobs.
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        "200":
          description: List of jobs available under the subscription.
          schema:
            $ref: "#/definitions/JobResourceList"
        default:
          description: Error response describing reason for operation failure.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Jobs
      x-ms-examples:
        JobsList:
          parameters:
            $expand: details
            Accept-Language:
              - en-US
            User-Agent:
              - FxVersion/4.6.27817.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18362.
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            api-version: 2019-09-01
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - a3118d2e-2b53-4e95-860e-cd141dd57b15
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/providers/Microsoft.DataBox/jobs?api-version=2019-09-01&$skipToken=PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTE2Ij8%2bDQo8Q29udGludWF0aW9uVG9rZW4%2bDQogIDxDb250aW51YXRpb25Ub2tlbj4NCiAgICA8VmVyc2lvbj4yLjA8L1ZlcnNpb24%2bDQogICAgPFR5cGU%2bVGFibGU8L1R5cGU%2bDQogICAgPE5leHRQYXJ0aXRpb25LZXk%2bMSE4NCFabUUyT0RBNE1tWXRPR1ptTnkwMFlUSTFMVGsxWXpjdFkyVTVaR0UxTkRFeU5ESm1YekJmYldsamNtOXpiMlowTG1SaGRHRmliM2hmTUY5cWIySno8L05leHRQYXJ0aXRpb25LZXk%2bDQogICAgPE5leHRSb3dLZXk%2bMSE3MiFjbVZ6YjNWeVkyVnRZWEJ3YVc1blh6QmZjbWRmTUY5aGEzWmxibXRoZEY4d1gzUmxjM1J6WTJobFpIVnNaVEF4TFdOc2IyNWw8L05leHRSb3dLZXk%2bDQogICAgPFRhcmdldExvY2F0aW9uPlByaW1hcnk8L1RhcmdldExvY2F0aW9uPg0KICA8L0NvbnRpbnVhdGlvblRva2VuPg0KPC9Db250aW51YXRpb25Ub2tlbj4%3d
                value:
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat3198inh0-9)inh(il(h)_fyoin)(upf(yLASD0-FJ(hal-DSNWP0JDS0P3-0SJ93/providers/Microsoft.DataBox/jobs/testbadresourcegroup
                    location: westus
                    name: testbadresourcegroup
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2018-11-27T15:17:49.0760408+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/andipodtest4jan
                    location: westus
                    name: andipodtest4jan
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-01-04T09:08:49.9928621+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdeepak04-07
                    location: westus
                    name: testdeepak04-07
                    properties:
                      cancellationReason: IncorrectOrder null
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-07-04T14:01:50.9232807+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurga-heavy
                    location: westus
                    name: testdurga-heavy
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-02-11T12:33:16.6231232+05:30
                      status: Cancelled
                    sku:
                      name: DataBoxHeavy
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurga-heavy1
                    location: westus
                    name: testdurga-heavy1
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-02-11T12:38:49.0620094+05:30
                      status: Cancelled
                    sku:
                      name: DataBoxHeavy
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurga2
                    location: westus
                    name: testdurga2
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-01-09T16:12:43.2931373+05:30
                      status: Cancelled
                    sku:
                      name: DataBoxHeavy
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurgad
                    location: westus
                    name: testdurgad
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-01-09T15:59:47.4375821+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurgadisk
                    location: westus
                    name: testdurgadisk
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-01-09T19:04:31.4461343+05:30
                      status: Cancelled
                    sku:
                      name: DataBoxDisk
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurgadisk-Clone
                    location: westus
                    name: testdurgadisk-Clone
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-01-09T19:10:08.2854968+05:30
                      status: Cancelled
                    sku:
                      name: DataBoxDisk
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurgam
                    location: westus
                    name: testdurgam
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2018-12-19T14:23:06.8155601+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurgam-1
                    location: westus
                    name: testdurgam-1
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2018-12-19T16:46:12.824436+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurgam-Clone
                    location: westus
                    name: testdurgam-Clone
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-03-04T12:00:17.7643558+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurgasm-1
                    location: westus
                    name: testdurgasm-1
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2018-12-19T18:24:23.0774328+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurgasm-1-1
                    location: westus
                    name: testdurgasm-1-1
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-03-04T11:58:13.4876698+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurgasm-1-Clone
                    location: westus
                    name: testdurgasm-1-Clone
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-01-11T14:28:55.4375406+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurgasm-11
                    location: westus
                    name: testdurgasm-11
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-02-15T12:51:12.2717434+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurgasm-12
                    location: westus
                    name: testdurgasm-12
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-02-15T12:54:58.9886188+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurgasm-1dssd
                    location: westus
                    name: testdurgasm-1dssd
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-02-15T13:33:29.8417562+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurgasm-ccxcx
                    location: westus
                    name: testdurgasm-ccxcx
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-02-15T15:35:39.937519+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurgasm-Clone
                    location: westus
                    name: testdurgasm-Clone
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-01-09T15:56:58.4277564+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurgasm-Clone-Clone
                    location: westus
                    name: testdurgasm-Clone-Clone
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-02-10T14:46:10.401621+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurgasm-compute
                    location: westus
                    name: testdurgasm-compute
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2019-02-10T14:52:37.2363289+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testdurgasm-compute1
                    location: westus
                    name: testdurgasm-compute1
                    properties:
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: false
                      isShippingAddressEditable: false
                      startTime: 2019-02-10T14:57:32.3159255+05:30
                      status: ReadyToDispatchFromAzureDC
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/TestPortalContract
                    location: westus
                    name: TestPortalContract
                    properties:
                      cancellationReason: Old job which is still in ordered state cancelled by the service
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: false
                      isCancellableWithoutFee: false
                      isDeletable: true
                      isShippingAddressEditable: false
                      startTime: 2018-09-08T22:46:11.5143859+05:30
                      status: Cancelled
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/testschedule01
                    location: westus
                    name: testschedule01
                    properties:
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: true
                      isCancellableWithoutFee: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2019-07-30T10:47:22.083517+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/availableSkus":
    post:
      description: This method provides the list of available skus for the given subscription and location.
      operationId: Service_ListAvailableSkus
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/locationParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Filters for showing the available skus.
          in: body
          name: availableSkuRequest
          required: true
          schema:
            $ref: "#/definitions/AvailableSkuRequest"
      responses:
        "200":
          description: The list of available skus under subscription.
          schema:
            $ref: "#/definitions/AvailableSkusResult"
        default:
          description: Error response describing reason for operation failure.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Service
      x-ms-examples:
        AvailableSkusPost:
          parameters:
            Accept-Language:
              - en-US
            Content-Length:
              - "84"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.27817.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18362.
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            api-version: 2019-09-01
            availableSkuRequest:
              country: US
              location: westus
              transferType: ImportToAzure
            location: westus
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - 130a5941-a075-412d-817f-e65065af00dd
          responses:
            "200":
              body:
                value:
                  - enabled: true
                    properties:
                      apiVersions:
                        - 2018-01-01
                      capacity:
                        maximum: "100"
                        usable: "80"
                      costs:
                        - meterId: 0cf23ffc-0b64-49e6-9bdd-1db885349042
                          meterType: DataBoxServiceFee
                        - meterId: a701f058-119b-4713-a923-bed7da4b7801
                          meterType: DataBoxShippingFee
                        - meterId: 049fa331-0a48-4a81-9991-a6bef3c79fed
                          meterType: DataBoxExtraDayFee
                        - meterId: c3ea978d-6a0a-4632-b094-4fffcafcb057
                          meterType: DataBoxLostOrDamagedDeviceFee
                      destinationToServiceLocationMap:
                        - destinationLocation: westus
                          serviceLocation: westus
                        - destinationLocation: centralus
                          serviceLocation: westus
                        - destinationLocation: eastus
                          serviceLocation: westus
                        - destinationLocation: eastus2
                          serviceLocation: westus
                        - destinationLocation: northcentralus
                          serviceLocation: westus
                        - destinationLocation: southcentralus
                          serviceLocation: westus
                        - destinationLocation: westcentralus
                          serviceLocation: westus
                        - destinationLocation: westus2
                          serviceLocation: westus
                        - destinationLocation: centraluseuap
                          serviceLocation: centraluseuap
                        - destinationLocation: eastus2euap
                          serviceLocation: eastus2euap
                      disabledReason: None
                    sku:
                      name: DataBox
                  - enabled: true
                    properties:
                      apiVersions:
                        - 2018-01-01
                      capacity:
                        maximum: "40"
                        usable: "35"
                      costs:
                        - meterId: d95cd8b5-b6f1-4cd9-ae86-a016d1945d6f
                          meterType: DataBoxDiskServiceFee
                        - meterId: 4b8cf572-cb04-4ef3-9528-2cda4e9b544e
                          meterType: DataBoxDiskShippingFee
                        - meterId: b6ae9bbf-815d-49dd-bb2b-77c497b72ba4
                          meterType: DataBoxDiskDailyUsageFee
                        - meterId: 08bc0ea1-6c82-421b-b953-2a7a65810d2e
                          meterType: DataBoxDiskLostDeviceFee
                      destinationToServiceLocationMap:
                        - destinationLocation: westus
                          serviceLocation: westus
                        - destinationLocation: centralus
                          serviceLocation: westus
                        - destinationLocation: eastus
                          serviceLocation: westus
                        - destinationLocation: eastus2
                          serviceLocation: westus
                        - destinationLocation: northcentralus
                          serviceLocation: westus
                        - destinationLocation: southcentralus
                          serviceLocation: westus
                        - destinationLocation: westcentralus
                          serviceLocation: westus
                        - destinationLocation: westus2
                          serviceLocation: westus
                        - destinationLocation: centraluseuap
                          serviceLocation: centraluseuap
                        - destinationLocation: eastus2euap
                          serviceLocation: eastus2euap
                      disabledReason: None
                    sku:
                      name: DataBoxDisk
                  - enabled: true
                    properties:
                      apiVersions:
                        - 2018-01-01
                      capacity:
                        maximum: "1000"
                        usable: "800"
                      costs:
                        - meterId: d0dccaaf-3de9-4c7a-ba97-f83551b90126
                          meterType: DataBoxHeavyServiceFee
                        - meterId: 7b49d11f-d4f7-4029-a197-04998fd282f9
                          meterType: DataBoxHeavyShippingFee
                        - meterId: c2c66d53-11b4-4f11-9642-43c7c336f0b7
                          meterType: DataBoxHeavyExtraDayFee
                        - meterId: 188dcd7e-fbd7-4a41-aa42-162b81b0510f
                          meterType: DataBoxHeavyLostOrDamagedDeviceFee
                      destinationToServiceLocationMap:
                        - destinationLocation: westus
                          serviceLocation: westus
                        - destinationLocation: centralus
                          serviceLocation: westus
                        - destinationLocation: eastus
                          serviceLocation: westus
                        - destinationLocation: eastus2
                          serviceLocation: westus
                        - destinationLocation: northcentralus
                          serviceLocation: westus
                        - destinationLocation: southcentralus
                          serviceLocation: westus
                        - destinationLocation: westcentralus
                          serviceLocation: westus
                        - destinationLocation: westus2
                          serviceLocation: westus
                        - destinationLocation: centraluseuap
                          serviceLocation: centraluseuap
                        - destinationLocation: eastus2euap
                          serviceLocation: eastus2euap
                      disabledReason: None
                      requiredFeature: HeavyCreateAccess
                    sku:
                      name: DataBoxHeavy
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/regionConfiguration":
    post:
      description: This API provides configuration details specific to given region/location.
      operationId: Service_RegionConfiguration
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/locationParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Request body to get the configuration for the region.
          in: body
          name: regionConfigurationRequest
          required: true
          schema:
            $ref: "#/definitions/RegionConfigurationRequest"
      responses:
        "200":
          description: Region configuration response.
          schema:
            $ref: "#/definitions/RegionConfigurationResponse"
        default:
          description: Error response describing reason for operation failure.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Service
      x-ms-examples:
        ServiceRegionConfiguration:
          parameters:
            Content-Length:
              - "311"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            accept-language:
              - en-US
            api-version: 2019-09-01
            location: westus
            regionConfigurationRequest:
              scheduleAvailabilityRequest:
                skuName: DataBox
                storageLocation: westus
            subscriptionId: 3c66da21-607e-49b4-8bdf-f25fbb8f705f
          responses:
            "200":
              body:
                scheduleAvailabilityResponse:
                  availableDates:
                    - 2019-07-11T00:00:00+00:00
                    - 2019-07-12T00:00:00+00:00
                    - 2019-07-13T00:00:00+00:00
                    - 2019-07-14T00:00:00+00:00
                    - 2019-07-15T00:00:00+00:00
                    - 2019-07-16T00:00:00+00:00
                    - 2019-07-17T00:00:00+00:00
                    - 2019-07-18T00:00:00+00:00
                    - 2019-07-19T00:00:00+00:00
                    - 2019-07-20T00:00:00+00:00
                    - 2019-07-21T00:00:00+00:00
                    - 2019-07-22T00:00:00+00:00
                    - 2019-07-23T00:00:00+00:00
                    - 2019-07-24T00:00:00+00:00
                    - 2019-07-25T00:00:00+00:00
                    - 2019-07-26T00:00:00+00:00
                    - 2019-07-27T00:00:00+00:00
                    - 2019-07-28T00:00:00+00:00
                    - 2019-07-29T00:00:00+00:00
                    - 2019-07-30T00:00:00+00:00
                    - 2019-07-31T00:00:00+00:00
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/validateAddress":
    post:
      deprecated: true
      description: "[DEPRECATED NOTICE: This operation will soon be removed] This method validates the customer shipping address and provide alternate addresses if any."
      operationId: Service_ValidateAddress
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/locationParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Shipping address of the customer.
          in: body
          name: validateAddress
          required: true
          schema:
            $ref: "#/definitions/ValidateAddress"
      responses:
        "200":
          description: The valid and alternate addresses.
          schema:
            $ref: "#/definitions/AddressValidationOutput"
        default:
          description: Error response describing reason for operation failure.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Service
      x-ms-examples:
        ValidateAddressPost:
          parameters:
            Content-Length:
              - "311"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            accept-language:
              - en-US
            api-version: 2019-09-01
            location: westus
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            validateAddress:
              deviceType: DataBox
              shippingAddress:
                addressType: Commercial
                city: San Francisco
                companyName: Microsoft
                country: US
                postalCode: "94107"
                stateOrProvince: CA
                streetAddress1: 16 TOWNSEND ST
                streetAddress2: Unit 1
              validationType: ValidateAddress
            x-ms-client-request-id:
              - 9f1830f8-1cf7-4145-8b34-0742d9c9be13
          responses:
            "200":
              body:
                properties:
                  alternateAddresses:
                    - addressType: None
                      city: SAN FRANCISCO
                      country: US
                      postalCode: "94107"
                      stateOrProvince: CA
                      streetAddress1: 16 TOWNSEND ST
                      streetAddress2: Unit 1
                      streetAddress3: ""
                  validationStatus: Valid
                  validationType: ValidateAddress
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/validateInputs":
    post:
      description: This method does all necessary pre-job creation validation under subscription.
      operationId: Service_ValidateInputs
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/locationParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Inputs of the customer.
          in: body
          name: validationRequest
          required: true
          schema:
            $ref: "#/definitions/ValidationRequest"
      responses:
        "200":
          description: The validation status and responses of each validating parameter.
          schema:
            $ref: "#/definitions/ValidationResponse"
        default:
          description: Error response describing reason for operation failure.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Service
      x-ms-examples:
        ServiceValidateInputs:
          parameters:
            Content-Length:
              - "311"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            accept-language:
              - en-US
            api-version: 2019-09-01
            location: westus
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            validationRequest:
              individualRequestDetails:
                - destinationAccountDetails:
                    - dataDestinationType: StorageAccount
                      storageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                  location: westus
                  validationType: ValidateDataDestinationDetails
                - deviceType: DataBox
                  shippingAddress:
                    addressType: Commercial
                    city: San Francisco
                    companyName: Microsoft
                    country: US
                    postalCode: "94107"
                    stateOrProvince: CA
                    streetAddress1: 16 TOWNSEND ST
                    streetAddress2: Unit 1
                  validationType: ValidateAddress
              validationCategory: JobCreationValidation
            x-ms-client-request-id:
              - ee686d79-42c2-4b01-9afe-5e99f4cabfee
          responses:
            "200":
              body:
                properties:
                  individualResponseDetails:
                    - error: {}
                      status: Valid
                      validationType: ValidateDataDestinationDetails
                    - alternateAddresses:
                        - addressType: None
                          city: SAN FRANCISCO
                          country: US
                          postalCode: "94107"
                          stateOrProvince: CA
                          streetAddress1: 16 TOWNSEND ST
                          streetAddress2: Unit 1
                          streetAddress3: ""
                      error: {}
                      validationStatus: Valid
                      validationType: ValidateAddress
                  status: AllValidToProceed
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs":
    get:
      description: Lists all the jobs available under the given resource group.
      operationId: Jobs_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: $skipToken is supported on Get list of jobs, which provides the next page in the list of jobs.
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        "200":
          description: List of jobs by resource group.
          schema:
            $ref: "#/definitions/JobResourceList"
        default:
          description: Error response describing reason for operation failure.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Jobs
      x-ms-examples:
        JobsListByResourceGroup:
          parameters:
            $expand: details
            Accept-Language:
              - en-US
            User-Agent:
              - FxVersion/4.6.27817.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18362.
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            api-version: 2019-09-01
            resourceGroupName: SdkRg4981
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - dc5cb221-1401-492c-abe7-9f74a5193c65
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg4981/providers/Microsoft.DataBox/jobs/SdkJob3971
                    location: westus
                    name: SdkJob3971
                    properties:
                      deliveryInfo:
                        scheduledDateTime: 0001-01-01T05:30:00+05:30
                      deliveryType: NonScheduled
                      isCancellable: true
                      isCancellableWithoutFee: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2019-09-21T14:49:49.0027611+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}":
    delete:
      description: Deletes a job.
      operationId: Jobs_Delete
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/jobNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Accepted request for delete Job.
        "204":
          description: Job deleted.
        default:
          description: Error response describing reason for operation failure.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Jobs
      x-ms-examples:
        JobsDelete:
          parameters:
            $expand: details
            Accept-Language:
              - en-US
            User-Agent:
              - FxVersion/4.6.27817.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18362.
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            api-version: 2019-09-01
            jobName: SdkJob3971
            resourceGroupName: SdkRg4981
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - 70328b56-a888-4a73-8b25-752da61cbc36
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets information about the specified job.
      operationId: Jobs_Get
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/jobNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: $expand is supported on details parameter for job, which provides details on the job stages.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: Job object.
          schema:
            $ref: "#/definitions/JobResource"
        default:
          description: Error response describing reason for operation failure.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Jobs
      x-ms-examples:
        JobsGet:
          parameters:
            $expand: details
            Accept-Language:
              - en-US
            User-Agent:
              - FxVersion/4.6.27817.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18362.
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            api-version: 2019-09-01
            jobName: SdkJob3971
            resourceGroupName: SdkRg4981
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - 4a4a42b7-4d1a-40d7-aca7-9364f62832e1
          responses:
            "200":
              body:
                id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg4981/providers/Microsoft.DataBox/jobs/SdkJob3971
                location: westus
                name: SdkJob3971
                properties:
                  deliveryInfo:
                    scheduledDateTime: 0001-01-01T05:30:00+05:30
                  deliveryType: NonScheduled
                  details:
                    contactDetails:
                      contactName: Public SDK Test
                      emailList:
                        - testing@microsoft.com
                      notificationPreference:
                        - sendNotification: true
                          stageName: DevicePrepared
                        - sendNotification: true
                          stageName: Dispatched
                        - sendNotification: true
                          stageName: Delivered
                        - sendNotification: true
                          stageName: PickedUp
                        - sendNotification: true
                          stageName: AtAzureDC
                        - sendNotification: true
                          stageName: DataCopy
                      phone: "1234567890"
                      phoneExtension: "1234"
                    copyLogDetails: []
                    copyProgress: []
                    destinationAccountDetails:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        dataDestinationType: StorageAccount
                        storageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                    errorDetails: []
                    jobDetailsType: DataBox
                    jobStages:
                      - displayName: Ordered
                        stageName: DeviceOrdered
                        stageStatus: Succeeded
                        stageTime: 2019-09-21T14:49:52.3995743+05:30
                      - displayName: Processed
                        stageName: DevicePrepared
                        stageStatus: None
                      - displayName: Dispatched
                        stageName: Dispatched
                        stageStatus: None
                      - displayName: Delivered
                        stageName: Delivered
                        stageStatus: None
                      - displayName: Picked up
                        stageName: PickedUp
                        stageStatus: None
                      - displayName: Received
                        stageName: AtAzureDC
                        stageStatus: None
                      - displayName: Data copy in progress
                        stageName: DataCopy
                        stageStatus: None
                      - displayName: Completed
                        stageName: Completed
                        stageStatus: None
                    shippingAddress:
                      addressType: Commercial
                      city: San Francisco
                      companyName: Microsoft
                      country: US
                      postalCode: "94107"
                      stateOrProvince: CA
                      streetAddress1: 16 TOWNSEND ST
                      streetAddress2: Unit 1
                  isCancellable: true
                  isCancellableWithoutFee: true
                  isDeletable: false
                  isShippingAddressEditable: true
                  startTime: 2019-09-21T14:49:49.0027611+05:30
                  status: DeviceOrdered
                sku:
                  name: DataBox
                tags: {}
                type: Microsoft.DataBox/jobs
        JobsGet1:
          parameters:
            $expand: details
            Accept-Language:
              - en-US
            User-Agent:
              - FxVersion/4.6.27817.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18362.
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            api-version: 2019-09-01
            jobName: SdkJob3970
            resourceGroupName: SdkRg4981
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - 5822ad95-d3d8-40d2-9a0e-c6f318e5ac45
          responses:
            "200":
              body:
                id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg4981/providers/Microsoft.DataBox/jobs/SdkJob3970
                location: westus
                name: SdkJob3970
                properties:
                  cancellationReason: CancelTest
                  deliveryType: NonScheduled
                  details:
                    chainOfCustodySasKey: https://wusbeta.blob.core.windows.net/chainofcustody/6ce2f399-1cc7-4144-ba92-c50bd5324a5c.txt?sv=2017-04-17&sr=b&sig=pWxYQP3CDKU9TzRgzvbbT%2F48a1BjLeF10Rtz86%2FZ3qI%3D&st=2019-09-21T09%3A15%3A43Z&se=2019-09-21T09%3A45%3A43Z&sp=r
                    contactDetails:
                      contactName: " "
                      emailList: []
                      notificationPreference: []
                      phone: "1234567890"
                    copyLogDetails: []
                    copyProgress:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        bytesSentToCloud: 0
                        dataDestinationType: StorageAccount
                        storageAccountName: databoxbvttestaccount
                        totalBytesToProcess: 0
                    deliveryPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    destinationAccountDetails:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        dataDestinationType: StorageAccount
                        storageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                    errorDetails: []
                    jobDetailsType: DataBox
                    jobStages:
                      - displayName: Ordered
                        stageName: DeviceOrdered
                        stageStatus: Succeeded
                        stageTime: 2019-09-21T14:49:52.3995743+05:30
                      - displayName: Canceled
                        stageName: Cancelled
                        stageStatus: Succeeded
                        stageTime: 2019-09-21T14:50:39.468691+05:30
                    returnPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    shippingAddress:
                      addressType: Commercial
                      city: San Francisco
                      companyName: Microsoft
                      country: US
                      postalCode: "94107"
                      stateOrProvince: CA
                      streetAddress1: 16 TOWNSEND ST
                      streetAddress2: Unit 1
                  isCancellable: false
                  isCancellableWithoutFee: false
                  isDeletable: true
                  isShippingAddressEditable: false
                  startTime: 2019-09-21T14:49:49.0027611+05:30
                  status: Cancelled
                sku:
                  name: DataBox
                tags: {}
                type: Microsoft.DataBox/jobs
        JobsGet2:
          parameters:
            $expand: details
            Accept-Language:
              - en-US
            User-Agent:
              - FxVersion/4.6.27817.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18362.
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            api-version: 2019-09-01
            jobName: SdkJob3971
            resourceGroupName: SdkRg4981
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - f5665abc-b241-4cfb-88a5-3b3d2f7863e4
          responses:
            "200":
              body:
                id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg4981/providers/Microsoft.DataBox/jobs/SdkJob3971
                location: westus
                name: SdkJob3971
                properties:
                  cancellationReason: CancelTest
                  deliveryType: NonScheduled
                  details:
                    contactDetails:
                      contactName: Update Job
                      emailList:
                        - testing@microsoft.com
                      notificationPreference:
                        - sendNotification: true
                          stageName: DevicePrepared
                        - sendNotification: true
                          stageName: Dispatched
                        - sendNotification: true
                          stageName: Delivered
                        - sendNotification: true
                          stageName: PickedUp
                        - sendNotification: true
                          stageName: AtAzureDC
                        - sendNotification: true
                          stageName: DataCopy
                      phone: "1234567890"
                      phoneExtension: "1234"
                    copyLogDetails: []
                    copyProgress:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        bytesSentToCloud: 0
                        dataDestinationType: StorageAccount
                        storageAccountName: databoxbvttestaccount
                        totalBytesToProcess: 0
                    deliveryPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    destinationAccountDetails:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        dataDestinationType: StorageAccount
                        storageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                    errorDetails: []
                    jobDetailsType: DataBox
                    jobStages:
                      - displayName: Ordered
                        stageName: DeviceOrdered
                        stageStatus: Succeeded
                        stageTime: 2019-09-21T14:49:52.3995743+05:30
                      - displayName: Canceled
                        stageName: Cancelled
                        stageStatus: Succeeded
                        stageTime: 2019-09-21T14:50:39.468691+05:30
                    returnPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    shippingAddress:
                      addressType: Commercial
                      city: San Francisco
                      companyName: Microsoft
                      country: US
                      postalCode: "94107"
                      stateOrProvince: CA
                      streetAddress1: 16 TOWNSEND ST
                      streetAddress2: Unit 1
                  isCancellable: false
                  isCancellableWithoutFee: false
                  isDeletable: true
                  isShippingAddressEditable: false
                  startTime: 2019-09-21T14:49:49.0027611+05:30
                  status: Cancelled
                sku:
                  name: DataBox
                tags: {}
                type: Microsoft.DataBox/jobs
        JobsGet3:
          parameters:
            $expand: details
            Accept-Language:
              - en-US
            User-Agent:
              - FxVersion/4.6.27817.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18362.
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            api-version: 2019-09-01
            jobName: SdkJob3971
            resourceGroupName: SdkRg4981
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - 5822ad95-d3d8-40d2-9a0e-c6f318e5ac45
          responses:
            "200":
              body:
                id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg4981/providers/Microsoft.DataBox/jobs/SdkJob3971
                location: westus
                name: SdkJob3971
                properties:
                  cancellationReason: CancelTest
                  deliveryInfo:
                    scheduledDateTime: 0001-01-01T05:30:00+05:30
                  deliveryType: NonScheduled
                  details:
                    chainOfCustodySasKey: https://wusbeta.blob.core.windows.net/chainofcustody/6ce2f399-1cc7-4144-ba92-c50bd5324a5c.txt?sv=2017-04-17&sr=b&sig=pWxYQP3CDKU9TzRgzvbbT%2F48a1BjLeF10Rtz86%2FZ3qI%3D&st=2019-09-21T09%3A15%3A43Z&se=2019-09-21T09%3A45%3A43Z&sp=r
                    contactDetails:
                      contactName: " "
                      emailList: []
                      notificationPreference: []
                      phone: "1234567890"
                    copyLogDetails: []
                    copyProgress:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        bytesSentToCloud: 0
                        dataDestinationType: StorageAccount
                        storageAccountName: databoxbvttestaccount
                        totalBytesToProcess: 0
                    deliveryPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    destinationAccountDetails:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        dataDestinationType: StorageAccount
                        storageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                    errorDetails: []
                    jobDetailsType: DataBox
                    jobStages:
                      - displayName: Ordered
                        stageName: DeviceOrdered
                        stageStatus: Succeeded
                        stageTime: 2019-09-21T14:49:52.3995743+05:30
                      - displayName: Canceled
                        stageName: Cancelled
                        stageStatus: Succeeded
                        stageTime: 2019-09-21T14:50:39.468691+05:30
                    returnPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    shippingAddress:
                      addressType: Commercial
                      city: San Francisco
                      companyName: Microsoft
                      country: US
                      postalCode: "94107"
                      stateOrProvince: CA
                      streetAddress1: 16 TOWNSEND ST
                      streetAddress2: Unit 1
                  isCancellable: false
                  isCancellableWithoutFee: false
                  isDeletable: true
                  isShippingAddressEditable: false
                  startTime: 2019-09-21T14:49:49.0027611+05:30
                  status: Cancelled
                sku:
                  name: DataBox
                tags: {}
                type: Microsoft.DataBox/jobs
        JobsGet4:
          parameters:
            $expand: details
            Accept-Language:
              - en-US
            User-Agent:
              - FxVersion/4.6.27817.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18362.
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            api-version: 2019-09-01
            jobName: SdkJob3971
            resourceGroupName: SdkRg4981
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - f5665abc-b241-4cfb-88a5-3b3d2f7863e4
          responses:
            "200":
              body:
                id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg4981/providers/Microsoft.DataBox/jobs/SdkJob3971
                location: westus
                name: SdkJob3971
                properties:
                  cancellationReason: CancelTest
                  deliveryInfo:
                    scheduledDateTime: 0001-01-01T05:30:00+05:30
                  deliveryType: NonScheduled
                  details:
                    contactDetails:
                      contactName: Update Job
                      emailList:
                        - testing@microsoft.com
                      notificationPreference:
                        - sendNotification: true
                          stageName: DevicePrepared
                        - sendNotification: true
                          stageName: Dispatched
                        - sendNotification: true
                          stageName: Delivered
                        - sendNotification: true
                          stageName: PickedUp
                        - sendNotification: true
                          stageName: AtAzureDC
                        - sendNotification: true
                          stageName: DataCopy
                      phone: "1234567890"
                      phoneExtension: "1234"
                    copyLogDetails: []
                    copyProgress:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        bytesSentToCloud: 0
                        dataDestinationType: StorageAccount
                        storageAccountName: databoxbvttestaccount
                        totalBytesToProcess: 0
                    deliveryPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    destinationAccountDetails:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        dataDestinationType: StorageAccount
                        storageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                    errorDetails: []
                    jobDetailsType: DataBox
                    jobStages:
                      - displayName: Ordered
                        stageName: DeviceOrdered
                        stageStatus: Succeeded
                        stageTime: 2019-09-21T14:49:52.3995743+05:30
                      - displayName: Canceled
                        stageName: Cancelled
                        stageStatus: Succeeded
                        stageTime: 2019-09-21T14:50:39.468691+05:30
                    returnPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    shippingAddress:
                      addressType: Commercial
                      city: San Francisco
                      companyName: Microsoft
                      country: US
                      postalCode: "94107"
                      stateOrProvince: CA
                      streetAddress1: 16 TOWNSEND ST
                      streetAddress2: Unit 1
                  isCancellable: false
                  isCancellableWithoutFee: false
                  isDeletable: true
                  isShippingAddressEditable: false
                  startTime: 2019-09-21T14:49:49.0027611+05:30
                  status: Cancelled
                sku:
                  name: DataBox
                tags: {}
                type: Microsoft.DataBox/jobs
        JobsGet5:
          parameters:
            $expand: details
            Accept-Language:
              - en-US
            User-Agent:
              - FxVersion/4.6.27817.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18362.
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            api-version: 2019-09-01
            jobName: SdkJob3971
            resourceGroupName: SdkRg4981
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - f5665abc-b241-4cfb-88a5-3b3d2f7863e4
          responses:
            "200":
              body:
                id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg4981/providers/Microsoft.DataBox/jobs/SdkJob3971
                location: westus
                name: SdkJob3971
                properties:
                  cancellationReason: CancelTest
                  deliveryInfo:
                    scheduledDateTime: 0001-01-01T05:30:00+05:30
                  deliveryType: NonScheduled
                  details:
                    contactDetails:
                      contactName: Update Job
                      emailList:
                        - testing@microsoft.com
                      notificationPreference:
                        - sendNotification: true
                          stageName: DevicePrepared
                        - sendNotification: true
                          stageName: Dispatched
                        - sendNotification: true
                          stageName: Delivered
                        - sendNotification: true
                          stageName: PickedUp
                        - sendNotification: true
                          stageName: AtAzureDC
                        - sendNotification: true
                          stageName: DataCopy
                      phone: "1234567890"
                      phoneExtension: "1234"
                    copyLogDetails: []
                    copyProgress:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        bytesSentToCloud: 0
                        dataDestinationType: StorageAccount
                        storageAccountName: databoxbvttestaccount
                        totalBytesToProcess: 0
                    deliveryPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    destinationAccountDetails:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        dataDestinationType: StorageAccount
                        storageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                    errorDetails: []
                    jobDetailsType: DataBox
                    jobStages:
                      - displayName: Ordered
                        stageName: DeviceOrdered
                        stageStatus: Succeeded
                        stageTime: 2019-09-21T14:49:52.3995743+05:30
                      - displayName: Canceled
                        stageName: Cancelled
                        stageStatus: Succeeded
                        stageTime: 2019-09-21T14:50:39.468691+05:30
                    returnPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    shippingAddress:
                      addressType: Commercial
                      city: San Francisco
                      companyName: Microsoft
                      country: US
                      postalCode: "94107"
                      stateOrProvince: CA
                      streetAddress1: 16 TOWNSEND ST
                      streetAddress2: Unit 1
                  isCancellable: false
                  isCancellableWithoutFee: false
                  isDeletable: true
                  isShippingAddressEditable: false
                  startTime: 2019-09-21T14:49:49.0027611+05:30
                  status: Cancelled
                sku:
                  name: DataBox
                tags: {}
                type: Microsoft.DataBox/jobs
    patch:
      description: Updates the properties of an existing job.
      operationId: Jobs_Update
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/jobNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Defines the If-Match condition. The patch will be performed only if the ETag of the job on the server matches this value.
          in: header
          name: If-Match
          type: string
        - description: Job update parameters from request body.
          in: body
          name: jobResourceUpdateParameter
          required: true
          schema:
            $ref: "#/definitions/JobResourceUpdateParameter"
      responses:
        "200":
          description: Job object.
          schema:
            $ref: "#/definitions/JobResource"
        "202":
          description: Accepted request for job updated.
        default:
          description: Error response describing reason for operation failure.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Jobs
      x-ms-examples:
        JobsPatch:
          parameters:
            $expand: details
            Accept-Language:
              - en-US
            Content-Length:
              - "584"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.27817.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18362.
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            api-version: 2019-09-01
            jobName: SdkJob3971
            jobResourceUpdateParameter:
              properties:
                details:
                  contactDetails:
                    contactName: Update Job
                    emailList:
                      - testing@microsoft.com
                    phone: "1234567890"
                    phoneExtension: "1234"
                  shippingAddress:
                    addressType: Commercial
                    city: San Francisco
                    companyName: Microsoft
                    country: US
                    postalCode: "94107"
                    stateOrProvince: CA
                    streetAddress1: 16 TOWNSEND ST
                    streetAddress2: Unit 1
            resourceGroupName: SdkRg4981
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - 04bb03ba-8e90-47c8-a1af-15e083036c6f
          responses:
            "200":
              body:
                id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg4981/providers/Microsoft.DataBox/jobs/SdkJob3971
                location: westus
                name: SdkJob3971
                properties:
                  cancellationReason: CancelTest
                  deliveryType: NonScheduled
                  details:
                    contactDetails:
                      contactName: Update Job
                      emailList:
                        - testing@microsoft.com
                      notificationPreference:
                        - sendNotification: true
                          stageName: DevicePrepared
                        - sendNotification: true
                          stageName: Dispatched
                        - sendNotification: true
                          stageName: Delivered
                        - sendNotification: true
                          stageName: PickedUp
                        - sendNotification: true
                          stageName: AtAzureDC
                        - sendNotification: true
                          stageName: DataCopy
                      phone: "1234567890"
                      phoneExtension: "1234"
                    copyLogDetails: []
                    copyProgress:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        bytesSentToCloud: 0
                        dataDestinationType: StorageAccount
                        storageAccountName: databoxbvttestaccount
                        totalBytesToProcess: 0
                    deliveryPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    destinationAccountDetails:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        dataDestinationType: StorageAccount
                        storageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                    errorDetails: []
                    jobDetailsType: DataBox
                    jobStages:
                      - displayName: Ordered
                        stageName: DeviceOrdered
                        stageStatus: Succeeded
                        stageTime: 2019-09-21T14:49:52.3995743+05:30
                      - displayName: Canceled
                        stageName: Cancelled
                        stageStatus: Succeeded
                        stageTime: 2019-09-21T14:50:39.468691+05:30
                    returnPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    shippingAddress:
                      addressType: Commercial
                      city: San Francisco
                      companyName: Microsoft
                      country: US
                      postalCode: "94107"
                      stateOrProvince: CA
                      streetAddress1: 16 TOWNSEND ST
                      streetAddress2: Unit 1
                  isCancellable: false
                  isCancellableWithoutFee: false
                  isDeletable: true
                  isShippingAddressEditable: false
                  startTime: 2019-09-21T14:49:49.0027611+05:30
                  status: Cancelled
                sku:
                  name: DataBox
                tags: {}
                type: Microsoft.DataBox/jobs
            "202": {}
      x-ms-long-running-operation: true
    put:
      description: Creates a new job with the specified parameters. Existing job cannot be updated with this API and should instead be updated with the Update job API.
      operationId: Jobs_Create
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/jobNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Job details from request body.
          in: body
          name: jobResource
          required: true
          schema:
            $ref: "#/definitions/JobResource"
      responses:
        "200":
          description: Job object.
          schema:
            $ref: "#/definitions/JobResource"
        "202":
          description: Accepted request for create Job.
        default:
          description: Error response describing reason for operation failure.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Jobs
      x-ms-examples:
        JobsCreate:
          parameters:
            Accept-Language:
              - en-US
            Content-Length:
              - "983"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.27817.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18362.
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            api-version: 2019-09-01
            jobName: SdkJob3971
            jobResource:
              location: westus
              properties:
                details:
                  contactDetails:
                    contactName: Public SDK Test
                    emailList:
                      - testing@microsoft.com
                    phone: "1234567890"
                    phoneExtension: "1234"
                  destinationAccountDetails:
                    - dataDestinationType: StorageAccount
                      storageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                  jobDetailsType: DataBox
                  shippingAddress:
                    addressType: Commercial
                    city: San Francisco
                    companyName: Microsoft
                    country: US
                    postalCode: "94107"
                    stateOrProvince: CA
                    streetAddress1: 16 TOWNSEND ST
                    streetAddress2: Unit 1
              sku:
                name: DataBox
            resourceGroupName: SdkRg4981
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - f0ce17be-5da4-4184-88c9-50a701ad7d11
          responses:
            "200":
              body:
                id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg4981/providers/Microsoft.DataBox/jobs/SdkJob3971
                location: westus
                name: SdkJob3971
                properties:
                  deliveryInfo:
                    scheduledDateTime: 0001-01-01T05:30:00+05:30
                  deliveryType: NonScheduled
                  details:
                    contactDetails:
                      contactName: Public SDK Test
                      emailList:
                        - testing@microsoft.com
                      notificationPreference:
                        - sendNotification: true
                          stageName: DevicePrepared
                        - sendNotification: true
                          stageName: Dispatched
                        - sendNotification: true
                          stageName: Delivered
                        - sendNotification: true
                          stageName: PickedUp
                        - sendNotification: true
                          stageName: AtAzureDC
                        - sendNotification: true
                          stageName: DataCopy
                      phone: "1234567890"
                      phoneExtension: "1234"
                    copyLogDetails: []
                    copyProgress: []
                    destinationAccountDetails:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        dataDestinationType: StorageAccount
                        storageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                    errorDetails: []
                    jobDetailsType: DataBox
                    jobStages:
                      - displayName: Ordered
                        stageName: DeviceOrdered
                        stageStatus: Succeeded
                        stageTime: 2019-09-21T14:49:52.3995743+05:30
                      - displayName: Processed
                        stageName: DevicePrepared
                        stageStatus: None
                      - displayName: Dispatched
                        stageName: Dispatched
                        stageStatus: None
                      - displayName: Delivered
                        stageName: Delivered
                        stageStatus: None
                      - displayName: Picked up
                        stageName: PickedUp
                        stageStatus: None
                      - displayName: Received
                        stageName: AtAzureDC
                        stageStatus: None
                      - displayName: Data copy in progress
                        stageName: DataCopy
                        stageStatus: None
                      - displayName: Completed
                        stageName: Completed
                        stageStatus: None
                    shippingAddress:
                      addressType: Commercial
                      city: San Francisco
                      companyName: Microsoft
                      country: US
                      postalCode: "94107"
                      stateOrProvince: CA
                      streetAddress1: 16 TOWNSEND ST
                      streetAddress2: Unit 1
                  isCancellable: true
                  isCancellableWithoutFee: true
                  isDeletable: false
                  isShippingAddressEditable: true
                  startTime: 2019-09-21T14:49:49.0027611+05:30
                  status: DeviceOrdered
                sku:
                  name: DataBox
                tags: {}
                type: Microsoft.DataBox/jobs
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/bookShipmentPickUp":
    post:
      description: Book shipment pick up.
      operationId: Jobs_BookShipmentPickUp
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/jobNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Details of shipment pick up request.
          in: body
          name: shipmentPickUpRequest
          required: true
          schema:
            $ref: "#/definitions/ShipmentPickUpRequest"
      responses:
        "200":
          description: Booked shipment pick up successfully.
          schema:
            $ref: "#/definitions/ShipmentPickUpResponse"
        default:
          description: Error response describing reason for operation failure.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Jobs
      x-ms-examples:
        BookShipmentPickupPost:
          parameters:
            Accept-Language:
              - en-US
            Content-Length:
              - "118"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.27817.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18362.
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            api-version: 2019-09-01
            jobName: TJ-636646322037905056
            resourceGroupName: bvttoolrg6
            shipmentPickUpRequest:
              endTime: 2019-09-22T18:30:00Z
              shipmentLocation: Front desk
              startTime: 2019-09-20T18:30:00Z
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - e1437186-b41d-492e-9b7a-e197c28a517a
          responses:
            "200":
              body:
                confirmationNumber: 2929602E9CP
                readyByTime: 2019-09-20T18:30:00Z
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/cancel":
    post:
      description: CancelJob.
      operationId: Jobs_Cancel
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/jobNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Reason for cancellation.
          in: body
          name: cancellationReason
          required: true
          schema:
            $ref: "#/definitions/CancellationReason"
      responses:
        "204":
          description: Job cancelled.
        default:
          description: Error response describing reason for operation failure.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Jobs
      x-ms-examples:
        JobsCancelPost:
          parameters:
            $expand: details
            Accept-Language:
              - en-US
            Content-Length:
              - "30"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.27817.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18362.
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            api-version: 2019-09-01
            cancellationReason:
              reason: CancelTest
            jobName: SdkJob3971
            resourceGroupName: SdkRg4981
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - 5e3d8f70-7ee0-45aa-9c12-6d505e577b54
          responses:
            "204": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/listCredentials":
    post:
      description: This method gets the unencrypted secrets related to the job.
      operationId: Jobs_ListCredentials
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/jobNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: List of unencrypted credentials of the job.
          schema:
            $ref: "#/definitions/UnencryptedCredentialsList"
        default:
          description: Error response describing reason for operation failure.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - Jobs
      x-ms-examples:
        JobsListCredentials:
          parameters:
            Accept-Language:
              - en-US
            User-Agent:
              - FxVersion/4.6.27817.01
              - OSName/Windows
              - OSVersion/Microsoft.Windows.10.0.18362.
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.2.0
            api-version: 2019-09-01
            jobName: TJ-636646322037905056
            resourceGroupName: bvttoolrg6
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - 03b50fba-1fac-429d-9edb-e3bfd95b9c20
          responses:
            "200":
              body:
                value:
                  - jobName: TJ-636646322037905056
                    jobSecrets:
                      dcAccessSecurityCode: {}
                      jobSecretsType: DataBox
                      podSecrets:
                        - accountCredentialDetails:
                            - accountConnectionString: ""
                              accountName: databoxbvttestaccount
                              dataDestinationType: StorageAccount
[...]
