swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Use these REST APIs to manage Azure API Management deployment.
  title: ApiManagementClient
  version: 2017-03-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimdeployment.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimdeployment
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  /providers/Microsoft.ApiManagement/operations:
    get:
      description: Lists all of the available REST API operations of the Microsoft.ApiManagement provider.
      operationId: ApiManagementOperations_List
      parameters:
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: Success. The response describes the list of operations.
          schema:
            $ref: "#/definitions/OperationListResult"
      tags:
        - ApiManagementOperations
      x-ms-examples:
        ApiManagementListOperations:
          parameters:
            api-version: 2017-03-01
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Create a new instance of API Management Service
                      operation: Create a new instance of API Management Service
                      provider: Microsoft API Management
                      resource: Service
                    name: Microsoft.ApiManagement/service/write
                  - display:
                      description: Read metadata for an API Management Service instance
                      operation: Read metadata for an API Management Service instance
                      provider: Microsoft API Management
                      resource: Service
                    name: Microsoft.ApiManagement/service/read
                  - display:
                      description: Delete API Management Service instance
                      operation: Delete API Management Service instance
                      provider: Microsoft API Management
                      resource: Service
                    name: Microsoft.ApiManagement/service/delete
                  - display:
                      description: Creates or updates the diagnostic setting for API Management service
                      operation: Write diagnostic setting
                      provider: Microsoft API Management
                      resource: Service
                    name: Microsoft.ApiManagement/service/providers/Microsoft.Insights/diagnosticSettings/write
                    origin: system
                  - display:
                      description: Get list of operation results or Get result of a specific operation
                      operation: Get operation results or Get operation result
                      provider: Microsoft API Management
                      resource: Results of async operations
                    name: Microsoft.ApiManagement/service/tenant/operationResults/read
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/checkNameAvailability":
    post:
      description: Checks availability and correctness of a name for an API Management service.
      operationId: ApiManagementService_CheckNameAvailability
      parameters:
        - description: Parameters supplied to the CheckNameAvailability operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApiManagementServiceCheckNameAvailabilityParameters"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The result of check name availability.
          schema:
            $ref: "#/definitions/ApiManagementServiceNameAvailabilityResult"
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementServiceCheckNameAvailability:
          parameters:
            api-version: 2017-03-01
            parameters:
              name: apimService1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                message: ""
                nameAvailable: true
                reason: Valid
  "/subscriptions/{subscriptionId}/providers/Microsoft.ApiManagement/service":
    get:
      description: Lists all API Management services within an Azure subscription.
      operationId: ApiManagementService_List
      parameters:
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The API Management service list.
          schema:
            $ref: "#/definitions/ApiManagementServiceListResult"
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementListServiceBySubscription:
          parameters:
            api-version: 2017-03-01
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: AAAAAAAXXAQ=
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService3
                    location: West US
                    name: apimService3
                    properties:
                      additionalLocations:
                        - location: West Europe
                          sku:
                            capacity: 1
                            name: Premium
                          staticIps:
                            - 52.233.184.197
                      createdAtUtc: 2017-05-27T15:33:55.5426123Z
                      gatewayUrl: https://apimService3.azure-api.net
                      hostnameConfigurations: []
                      managementApiUrl: https://apimService3.management.azure-api.net
                      notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                      portalUrl: https://apimService3.portal.azure-api.net
                      provisioningState: Succeeded
                      publisherEmail: admin@live.com
                      publisherName: contoso
                      scmUrl: https://apimService3.scm.azure-api.net
                      staticIps:
                        - 13.88.16.64
                      targetProvisioningState: ""
                      virtualNetworkType: None
                    sku:
                      capacity: 1
                      name: Premium
                    tags: {}
                    type: Microsoft.ApiManagement/service
                  - etag: AAAAAAAXW4U=
                    id: /subscriptions/subid/resourceGroups/rg2/providers/Microsoft.ApiManagement/service/apimService2
                    location: West US
                    name: apimService2
                    properties:
                      createdAtUtc: 2017-05-26T23:55:31.1405115Z
                      gatewayUrl: https://apimService2.azure-api.net
                      hostnameConfigurations: []
                      managementApiUrl: https://apimService2.management.azure-api.net
                      notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                      portalUrl: https://apimService2.portal.azure-api.net
                      provisioningState: Succeeded
                      publisherEmail: admin@live.com
                      publisherName: MS
                      scmUrl: https://apimService2.scm.azure-api.net
                      staticIps:
                        - 13.64.237.151
                      targetProvisioningState: ""
                      virtualNetworkType: None
                    sku:
                      capacity: 1
                      name: Developer
                    tags: {}
                    type: Microsoft.ApiManagement/service
                  - etag: AAAAAAAXW5c=
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService5
                    location: West US
                    name: apimService5
                    properties:
                      createdAtUtc: 2017-05-26T18:13:02.0196315Z
                      gatewayUrl: https://apimService5.azure-api.net
                      hostnameConfigurations:
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=proxytemplatehostname1.contoso.com
                            thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                          hostName: proxytemplatehostname1.contoso.com
                          negotiateClientCertificate: false
                          type: Proxy
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=proxytemplatehostname2.contoso.com
                            thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                          hostName: proxytemplatehostname2.contoso.com
                          negotiateClientCertificate: true
                          type: Proxy
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=proxytemplatehostname3.contoso.com
                            thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                          hostName: proxytemplatehostname3.azure-api.net
                          negotiateClientCertificate: false
                          type: Proxy
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=proxytemplatehostname4.contoso.com
                            thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                          hostName: proxytemplatehostname4.azure-api.net
                          negotiateClientCertificate: true
                          type: Proxy
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=portaltemplatehostname1.contoso.com
                            thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                          hostName: portaltemplatehostname1.contoso.com
                          negotiateClientCertificate: false
                          type: Portal
                      managementApiUrl: https://apimService5.management.azure-api.net
                      notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                      portalUrl: https://apimService5.portal.azure-api.net
                      provisioningState: Succeeded
                      publisherEmail: admin@live.com
                      publisherName: contoso
                      scmUrl: https://apimService5.scm.azure-api.net
                      staticIps:
                        - 13.93.167.166
                      targetProvisioningState: ""
                      virtualNetworkType: None
                    sku:
                      capacity: 1
                      name: Premium
                    tags: {}
                    type: Microsoft.ApiManagement/service
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service":
    get:
      description: List all API Management services within a resource group.
      operationId: ApiManagementService_ListByResourceGroup
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The API Management service list.
          schema:
            $ref: "#/definitions/ApiManagementServiceListResult"
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementListServiceBySubscriptionAndResourceGroup:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: AAAAAAAXXAQ=
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService3
                    location: West US
                    name: apimService3
                    properties:
                      additionalLocations:
                        - location: West Europe
                          sku:
                            capacity: 1
                            name: Premium
                          staticIps:
                            - 52.233.184.197
                      createdAtUtc: 2017-05-27T15:33:55.5426123Z
                      gatewayUrl: https://apimService3.azure-api.net
                      hostnameConfigurations: []
                      managementApiUrl: https://apimService3.management.azure-api.net
                      portalUrl: https://apimService3.portal.azure-api.net
                      provisioningState: Succeeded
                      publisherEmail: admin@live.com
                      publisherName: contoso
                      scmUrl: https://apimService3.scm.azure-api.net
                      staticIps:
                        - 13.88.16.64
                      targetProvisioningState: ""
                      virtualNetworkType: None
                    sku:
                      capacity: 1
                      name: Premium
                    tags: {}
                    type: Microsoft.ApiManagement/service
                  - etag: AAAAAAAXW4U=
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService2
                    location: West US
                    name: apimService2
                    properties:
                      createdAtUtc: 2017-05-26T23:55:31.1405115Z
                      gatewayUrl: https://apimService2.azure-api.net
                      hostnameConfigurations: []
                      managementApiUrl: https://apimService2.management.azure-api.net
                      portalUrl: https://apimService2.portal.azure-api.net
                      provisioningState: Succeeded
                      publisherEmail: admin@live.com
                      publisherName: MS
                      scmUrl: https://apimService2.scm.azure-api.net
                      staticIps:
                        - 13.64.237.151
                      targetProvisioningState: ""
                      virtualNetworkType: None
                    sku:
                      capacity: 1
                      name: Developer
                    tags: {}
                    type: Microsoft.ApiManagement/service
                  - etag: AAAAAAAXW5c=
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService5
                    location: West US
                    name: apimService5
                    properties:
                      createdAtUtc: 2017-05-26T18:13:02.0196315Z
                      gatewayUrl: https://apimService5.azure-api.net
                      hostnameConfigurations:
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=proxytemplatehostname1.contoso.com
                            thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                          hostName: proxytemplatehostname1.contoso.com
                          negotiateClientCertificate: false
                          type: Proxy
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=proxytemplatehostname2.contoso.com
                            thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                          hostName: proxytemplatehostname2.contoso.com
                          negotiateClientCertificate: true
                          type: Proxy
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=proxytemplatehostname3.contoso.com
                            thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                          hostName: proxytemplatehostname3.azure-api.net
                          negotiateClientCertificate: false
                          type: Proxy
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=proxytemplatehostname4.contoso.com
                            thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                          hostName: proxytemplatehostname4.azure-api.net
                          negotiateClientCertificate: true
                          type: Proxy
                        - certificate:
                            expiry: 2018-03-17T21:55:07+00:00
                            subject: CN=portaltemplatehostname1.contoso.com
                            thumbprint: DE57B67BA63D21E925DA8BEFA436E6B7553A4C19
                          hostName: portaltemplatehostname1.contoso.com
                          negotiateClientCertificate: false
                          type: Portal
                      managementApiUrl: https://apimService5.management.azure-api.net
                      portalUrl: https://apimService5.portal.azure-api.net
                      provisioningState: Succeeded
                      publisherEmail: admin@live.com
                      publisherName: contoso
                      scmUrl: https://apimService5.scm.azure-api.net
                      staticIps:
                        - 13.93.167.166
                      targetProvisioningState: ""
                      virtualNetworkType: None
                    sku:
                      capacity: 1
                      name: Premium
                    tags: {}
                    type: Microsoft.ApiManagement/service
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}":
    delete:
      description: Deletes an existing API Management service.
      operationId: ApiManagementService_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Service was successfully deleted.
        "204":
          description: Service is already deleted.
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementServiceDeleteService:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets an API Management service resource description.
      operationId: ApiManagementService_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Successfully got the API Management Service Resource.
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementServiceGetService:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAYP5M=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: Central US
                name: apimService1
                properties:
                  additionalLocations:
                    - gatewayRegionalUrl: https://apimService1-westus-01.regional.azure-api.net
                      location: West US
                      sku:
                        capacity: 1
                        name: Premium
                      staticIps:
                        - 40.78.99.244
                  createdAtUtc: 2017-06-28T23:01:33.0667959Z
                  gatewayRegionalUrl: https://apimService1-centralus-01.regional.azure-api.net
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations:
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=*.contoso.net
                        thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                      defaultSslBinding: true
                      hostName: proxyhostname4.contoso.net
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=*.contoso.net
                        thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                      defaultSslBinding: true
                      hostName: proxyhostname9.contoso.net
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=*.contoso.net
                        thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                      defaultSslBinding: false
                      hostName: portalhostname2.contoso.net
                      negotiateClientCertificate: false
                      type: Portal
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: contoso@live.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: contoso@microsoft.com
                  publisherName: admin
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                    - 52.173.22.222
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
        ApiManagementServiceGetServiceHavingMsi:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAC2jkE=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                identity:
                  principalId: ae7d906a-xxx-408a-xxxx-6b9d60e5756b
                  tenantId: 72f988bf-xxx-41af-xxxx-2d7cd011db47
                  type: SystemAssigned
                location: West US
                name: apimService1
                properties:
                  createdAtUtc: 2017-10-13T16:56:47.0174063Z
                  gatewayRegionalUrl: https://apimService1-westus-01.regional.azure-api.net
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations:
                    - certificate:
                        expiry: 2036-01-01T07:00:00+00:00
                        subject: CN=*.msitesting.net
                        thumbprint: 8E98XXX52CAXXXXXXX2C91F1D174FDB3A2
                      defaultSslBinding: true
                      hostName: foobar.msitesting.net
                      keyVaultId: https://constoso-msi-keyvault.vault.azure.net/secrets/msitestingCert
                      negotiateClientCertificate: false
                      type: Proxy
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@contoso.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                    - 13.xx.76.xxx
                sku:
                  capacity: 1
                  name: Developer
                tags: {}
                type: Microsoft.ApiManagement/service
    patch:
      description: Updates an existing API Management service.
      operationId: ApiManagementService_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Parameters supplied to the CreateOrUpdate API Management service operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApiManagementServiceUpdateParameters"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The service was successfully updated.
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
        "202":
          description: The service update request was Accepted.
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementUpdateServiceDisableTls10:
          parameters:
            api-version: 2017-03-01
            parameters:
              properties:
                customProperties:
                  Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "false"
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAYRPs=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: West US
                name: apimService1
                properties:
                  createdAtUtc: 2017-06-29T17:50:42.3191122Z
                  customProperties:
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "False"
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations: []
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                    - 40.86.176.232
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Standard
                tags:
                  Owner: sasolank
                  Pool: Manual
                  Reserved: ""
                  TestExpiration: Thu, 29 Jun 2017 18:50:40 GMT
                  TestSuiteExpiration: Thu, 29 Jun 2017 18:51:46 GMT
                  UID: 4f5025fe-0669-4e2e-8320-5199466e5eb3
                type: Microsoft.ApiManagement/service
            "202":
              etag: AAAAAAAYRPs=
              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
              location: West US
              name: apimService1
              properties:
                createdAtUtc: 2017-06-29T17:50:42.3191122Z
                customProperties:
                  Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "False"
                gatewayUrl: https://apimService1.azure-api.net
                hostnameConfigurations: []
                managementApiUrl: https://apimService1.management.azure-api.net
                notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                portalUrl: https://apimService1.portal.azure-api.net
                provisioningState: Succeeded
                publisherEmail: admin@live.com
                publisherName: Contoso
                scmUrl: https://apimService1.scm.azure-api.net
                staticIps:
                  - 40.86.176.232
                targetProvisioningState: ""
                virtualNetworkType: None
              sku:
                capacity: 1
                name: Standard
              tags:
                TestExpiration: Thu, 29 Jun 2017 18:50:40 GMT
              type: Microsoft.ApiManagement/service
        ApiManagementUpdateServicePublisherDetails:
          parameters:
            api-version: 2017-03-01
            parameters:
              properties:
                publisherEmail: foobar@live.com
                publisherName: Contoso Vnext
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAYRPs=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: West US
                name: apimService1
                properties:
                  createdAtUtc: 2017-06-29T17:50:42.3191122Z
                  customProperties:
                    Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "False"
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations: []
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: foobar@live.com
                  publisherName: Contoso Vnext
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                    - 40.86.176.232
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Standard
                tags:
                  Owner: sasolank
                  Pool: Manual
                  Reserved: ""
                  TestExpiration: Thu, 29 Jun 2017 18:50:40 GMT
                  TestSuiteExpiration: Thu, 29 Jun 2017 18:51:46 GMT
                  UID: 4f5025fe-0669-4e2e-8320-5199466e5eb3
                type: Microsoft.ApiManagement/service
            "202":
              etag: AAAAAAAYRPs=
              id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
              location: West US
              name: apimService1
              properties:
                createdAtUtc: 2017-06-29T17:50:42.3191122Z
                customProperties:
                  Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10: "False"
                gatewayUrl: https://apimService1.azure-api.net
                hostnameConfigurations: []
                managementApiUrl: https://apimService1.management.azure-api.net
                notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                portalUrl: https://apimService1.portal.azure-api.net
                provisioningState: Succeeded
                publisherEmail: admin@live.com
                publisherName: Contoso
                scmUrl: https://apimService1.scm.azure-api.net
                staticIps:
                  - 40.86.176.232
                targetProvisioningState: ""
                virtualNetworkType: None
              sku:
                capacity: 1
                name: Standard
              tags:
                TestExpiration: Thu, 29 Jun 2017 18:50:40 GMT
              type: Microsoft.ApiManagement/service
      x-ms-long-running-operation: true
    put:
      description: Creates or updates an API Management service. This is long running operation and could take several minutes to complete.
      operationId: ApiManagementService_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Parameters supplied to the CreateOrUpdate API Management service operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The service was successfully set up.
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
        "202":
          description: Accepted
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementCreateMultiRegionServiceWithCustomHostname:
          parameters:
            api-version: 2017-03-01
            parameters:
              location: Central US
              properties:
                additionalLocations:
                  - location: West US
                    sku:
                      capacity: 1
                      name: Premium
                    virtualNetworkConfiguration:
                      subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/westUsVirtualNetwork/subnets/apimSubnet
                hostnameConfigurations:
                  - certificatePassword: "**************Password of the Certificate************************************************"
                    encodedCertificate: "************Base 64 Encoded Pfx Certificate************************"
                    hostName: proxyhostname1.contoso.com
                    type: Proxy
                  - certificatePassword: "**************Password of the Certificate************************************************"
                    encodedCertificate: "************Base 64 Encoded Pfx Certificate************************"
                    hostName: proxyhostname2.contoso.com
                    negotiateClientCertificate: true
                    type: Proxy
                  - certificatePassword: "**************Password of the Certificate************************************************"
                    encodedCertificate: "************Base 64 Encoded Pfx Certificate************************"
                    hostName: portalhostname1.contoso.com
                    type: Portal
                publisherEmail: admin@live.com
                publisherName: contoso
                virtualNetworkConfiguration:
                  subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/centralUsVirtualNetwork/subnets/apimSubnet
                virtualNetworkType: External
              sku:
                capacity: 1
                name: Premium
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAXXwI=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: Central US
                name: apimService1
                properties:
                  additionalLocations:
                    - location: West US
                      sku:
                        capacity: 1
                        name: Premium
                      staticIps:
                        - 104.210.41.234
                      virtualNetworkConfiguration:
                        subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/westUsVirtualNetwork/subnets/apimSubnet
                  createdAtUtc: 2017-05-30T19:00:47.1121713Z
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations:
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=proxyhostname1.contoso.com
                        thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                      hostName: proxyhostname1.contoso.com
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=proxyhostname2.contoso.com
                        thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                      hostName: proxyhostname2.contoso.com
                      negotiateClientCertificate: true
                      type: Proxy
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=portalhostname1.contoso.com
                        thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                      hostName: portalhostname1.contoso.com
                      negotiateClientCertificate: false
                      type: Portal
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                    - 52.173.193.207
                  targetProvisioningState: ""
                  virtualNetworkConfiguration:
                    subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/centralUsVirtualNetwork/subnets/apimSubnet
                  virtualNetworkType: External
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
            "201":
              body:
                etag: AAAAAAAXXpw=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: Central US
                name: apimService1
                properties:
                  additionalLocations:
                    - location: West US
                      sku:
                        capacity: 1
                        name: Premium
                      staticIps: []
                      virtualNetworkConfiguration:
                        subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/westUsVirtualNetwork/subnets/apimSubnet
                  createdAtUtc: 2017-05-30T18:06:23.0096164Z
                  hostnameConfigurations:
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=proxyhostname1.contoso.com
                        thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                      hostName: proxyhostname1.contoso.com
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=proxyhostname2.contoso.com
                        thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                      hostName: proxyhostname2.contoso.com
                      negotiateClientCertificate: true
                      type: Proxy
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=portalhostname1.contoso.com
                        thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                      hostName: portalhostname1.contoso.com
                      negotiateClientCertificate: false
                      type: Portal
                  provisioningState: Created
                  publisherEmail: admin@live.com
                  publisherName: contoso
                  staticIps: []
                  targetProvisioningState: Activating
                  virtualNetworkConfiguration:
                    subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/centralUsVirtualNetwork/subnets/apimSubnet
                  virtualNetworkType: External
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
              headers:
                location: https://management.azure.com/subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/bXVsdGlob3N0bmFtZW11bHRpcmVnaW9uc2VydmljZV9BY3RfZjFiOTZhMjc=?api-version=2017-03-01
            "202":
              body:
                etag: AAAAAAAXXwI=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: Central US
                name: apimService1
                properties:
                  additionalLocations:
                    - location: West US
                      sku:
                        capacity: 1
                        name: Premium
                      staticIps:
                        - 104.210.41.234
                      virtualNetworkConfiguration:
                        subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/westUsVirtualNetwork/subnets/apimSubnet
                  createdAtUtc: 2017-05-30T19:00:47.1121713Z
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations:
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=proxyhostname1.contoso.com
                        thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                      hostName: proxyhostname1.contoso.com
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=proxyhostname2.contoso.com
                        thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                      hostName: proxyhostname2.contoso.com
                      negotiateClientCertificate: true
                      type: Proxy
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=portalhostname1.contoso.com
                        thumbprint: 918D7785B926AC5AEE66322778A147BCE7237CF3
                      hostName: portalhostname1.contoso.com
                      negotiateClientCertificate: false
                      type: Portal
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                    - 52.173.193.207
                  targetProvisioningState: ""
                  virtualNetworkConfiguration:
                    subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/centralUsVirtualNetwork/subnets/apimSubnet
                  virtualNetworkType: External
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
        ApiManagementCreateService:
          parameters:
            api-version: 2017-03-01
            parameters:
              location: West US
              properties:
                publisherEmail: admin@live.com
                publisherName: contoso
              sku:
                capacity: 1
                name: Premium
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAV8XM=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: West US
                name: apimService1
                properties:
                  createdAtUtc: 2015-09-22T01:52:02.4307221Z
                  gatewayUrl: https://apimService1.azure-api.net
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                    - xx.xx.250.222
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
            "201":
              body:
                etag: AAAAAAAXXr0=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: West US
                name: apimService1
                properties:
                  createdAtUtc: 2017-05-30T18:35:50.7228425Z
                  hostnameConfigurations: []
                  provisioningState: Created
                  publisherEmail: admin@live.com
                  publisherName: contoso
                  staticIps: []
                  targetProvisioningState: Activating
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2017-03-01
            "202":
              body:
                etag: AAAAAAAV8XM=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: West US
                name: apimService1
                properties:
                  createdAtUtc: 2015-09-22T01:52:02.4307221Z
                  gatewayUrl: https://apimService1.azure-api.net
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                    - xx.xx.250.222
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
        ApiManagementCreateServiceHavingMsi:
          parameters:
            api-version: 2017-03-01
            parameters:
              identity:
                type: SystemAssigned
              location: Japan East
              properties:
                publisherEmail: admin@contoso.com
                publisherName: Contoso
              sku:
                name: Developer
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAC268s=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                identity:
                  principalId: f4b0f1c2-xxxx-43db-xxxx-ccd99e1afd22
                  tenantId: 72f988bf-xxxx-41af-xxxx-2d7cd011db47
                  type: SystemAssigned
                location: Japan East
                name: apimService1
                properties:
                  createdAtUtc: 2017-10-28T01:52:02.4307221Z
                  gatewayUrl: https://apimService1.azure-api.net
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                    - xx.xx.250.222
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Developer
                tags: {}
                type: Microsoft.ApiManagement/service
            "201":
              body:
                etag: AAAAAAC268k=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                identity:
                  principalId: f4b0f1c2-xxxx-43db-xxxx-ccd99e1afd22
                  tenantId: 72f988bf-xxxx-41af-xxxx-2d7cd011db47
                  type: SystemAssigned
                location: Japan East
                name: apimService1
                properties:
                  createdAtUtc: 2017-10-27T23:41:41.7231779Z
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  provisioningState: Created
                  publisherEmail: admin@contoso.com
                  publisherName: Contoso
                  targetProvisioningState: Activating
                sku:
                  capacity: 1
                  name: Developer
                type: Microsoft.ApiManagement/service
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2017-03-01
            "202":
              body:
                etag: AAAAAAC268k=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                identity:
                  principalId: f4b0f1c2-xxxx-43db-xxxx-ccd99e1afd22
                  tenantId: 72f988bf-xxxx-41af-xxxx-2d7cd011db47
                  type: SystemAssigned
                location: Japan East
                name: apimService1
                properties:
                  createdAtUtc: 2017-10-27T23:41:41.7231779Z
                  notificationSenderEmail: apimgmt-noreply@mail.windowsazure.com
                  provisioningState: Created
                  publisherEmail: admin@contoso.com
                  publisherName: Contoso
                  targetProvisioningState: Activating
                sku:
                  capacity: 1
                  name: Developer
                type: Microsoft.ApiManagement/service
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2017-03-01
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/applynetworkconfigurationupdates":
    post:
      description: Updates the Microsoft.ApiManagement resource running in the Virtual network to pick the updated network settings.
      operationId: ApiManagementService_ApplyNetworkConfigurationUpdates
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Parameters supplied to the Apply Network Configuration operation. If the parameters are empty, all the regions in which the Api Management service is deployed will be updated sequentially without incurring downtime in the region.
          in: body
          name: parameters
          required: false
          schema:
            $ref: "#/definitions/ApiManagementServiceApplyNetworkConfigurationParameters"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Network configuration updates were successfully applied on the Api Management service.
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
        "202":
          description: "Accepted: Location header contains the URL where the status of the long running operation can be checked."
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementApplyNetworkConfigurationUpdates:
          parameters:
            api-version: 2017-03-01
            parameters:
              location: west us
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAXX6Y=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: East Asia
                name: apimService1
                properties:
                  createdAtUtc: 2015-09-22T01:50:34.7921566Z
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations: []
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                    - 207.46.155.24
                  targetProvisioningState: ""
                  virtualNetworkConfiguration:
                    subnetResourceId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.Network/virtualNetworks/eastUsVirtualNetwork/subnets/apimSubnet
                  virtualNetworkType: External
                sku:
                  capacity: 1
                  name: Premium
                tags:
                  UID: 52ed5986-717b-45b4-b17c-3df8db372cff
                type: Microsoft.ApiManagement/service
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2017-03-01
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backup":
    post:
      description: Creates a backup of the API Management service to the given Azure Storage Account. This is long running operation and could take several minutes to complete.
      operationId: ApiManagementService_Backup
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Parameters supplied to the ApiManagementService_Backup operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApiManagementServiceBackupRestoreParameters"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Successfully backed up the API Management service to the storage account.
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
        "202":
          description: "Accepted: Location header contains the URL where the status of the long running operation can be checked."
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementCreateBackup:
          parameters:
            api-version: 2017-03-01
            parameters:
              accessKey: "**************************************************"
              backupName: apimService1backup_2017_03_19
              containerName: backupContainer
              storageAccount: teststorageaccount
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAXX6Y=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: East Asia
                name: apimService1
                properties:
                  createdAtUtc: 2015-09-22T01:50:34.7921566Z
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations: []
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                    - 207.46.155.24
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags:
                  UID: 52ed5986-717b-45b4-b17c-3df8db372cff
                type: Microsoft.ApiManagement/service
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2017-03-01
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/getssotoken":
    post:
      description: Gets the Single-Sign-On token for the API Management Service which is valid for 5 Minutes.
      operationId: ApiManagementService_GetSsoToken
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: OK if successful with the SSO Redirect URI.
          schema:
            $ref: "#/definitions/ApiManagementServiceGetSsoTokenResult"
            x-ms-client-flatten: true
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementServiceGetSsoToken:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                redirectUri: https://apimService1.portal.azure-api.net:443/signin-sso?token=1%26201705301929%26eIkr3%2fnfaLs1GVJ0OVbzkJjAcwPFkEZAPM8VUXvXPf7cJ6lWsB9oUwsk2zln9x0KLkn21txCPJWWheSPq7SNeA%3d%3d
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/restore":
    post:
      description: Restores a backup of an API Management service created using the ApiManagementService_Backup operation on the current service. This is a long running operation and could take several minutes to complete.
      operationId: ApiManagementService_Restore
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Parameters supplied to the Restore API Management service from backup operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApiManagementServiceBackupRestoreParameters"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Successfully restored the backup onto the API Management service.
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
        "202":
          description: "Accepted: Location header contains the URL where the status of the long running operation can be checked."
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementRestoreService:
          parameters:
            api-version: 2017-03-01
            parameters:
              accessKey: "**************************************************"
              backupName: apimService1backup_2017_03_19
              containerName: backupContainer
              storageAccount: teststorageaccount
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAXX6Y=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: East Asia
                name: apimService1
                properties:
                  createdAtUtc: 2015-09-22T01:50:34.7921566Z
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations: []
                  managementApiUrl: https://apimService1.management.azure-api.net
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: admin@live.com
                  publisherName: Contoso
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                    - 207.46.155.24
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags:
                  UID: 52ed5986-717b-45b4-b17c-3df8db372cff
                type: Microsoft.ApiManagement/service
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2017-03-01
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/updatehostname":
    post:
      description: Creates, updates, or deletes the custom hostnames for an API Management service. The custom hostname can be applied to the Proxy and Portal endpoint. This is a long running operation and could take several minutes to complete. This operation will be deprecated in the next version update.
      operationId: ApiManagementService_UpdateHostname
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Parameters supplied to the UpdateHostname operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApiManagementServiceUpdateHostnameParameters"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Service was successfully updated with desired hostnames.
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
        "202":
          description: Accepted. The location header contains the URL where the status of the long running operation can be checked. The response also includes the unmodified ApiManagementServiceResource.
          schema:
            $ref: "#/definitions/ApiManagementServiceResource"
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementServiceUpdateHostName:
          parameters:
            api-version: 2017-03-01
            parameters:
              update:
                - certificate:
                    expiry: 2018-03-17T21:55:07+00:00
                    subject: CN=*.contoso.com
                    thumbprint: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  hostname: internalproxy2.contoso.com
                  type: Proxy
                - certificate:
                    expiry: 2018-03-17T21:55:07+00:00
                    subject: CN=*.contoso.com
                    thumbprint: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  hostname: internalportal2.contoso.com
                  type: Portal
                - certificate:
                    expiry: 2018-03-17T21:55:07+00:00
                    subject: CN=*.contoso.com
                    thumbprint: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  hostname: internalmgmt2.contoso.com
                  type: Management
                - certificate:
                    expiry: 2018-03-17T21:55:07+00:00
                    subject: CN=*.contoso.com
                    thumbprint: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  hostname: internalscm2.contoso.com
                  type: Scm
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: AAAAAAAYP5M=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: Central US
                name: apimService1
                properties:
                  additionalLocations:
                    - location: West US
                      sku:
                        capacity: 1
                        name: Premium
                      staticIps:
                        - 40.78.99.244
                  createdAtUtc: 2017-06-28T23:01:33.0667959Z
                  gatewayUrl: https://apimService1.azure-api.net
                  hostnameConfigurations:
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=*.contoso.net
                        thumbprint: xxxxxxxxxxxxxxxxxxxxxxxxxxxx
                      defaultSslBinding: true
                      hostName: internalproxy2.contoso.net
                      negotiateClientCertificate: false
                      type: Proxy
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=*.contoso.net
                        thumbprint: xxxxxxxxxxxxxxxxxxxxxxxxxxxx
                      defaultSslBinding: false
                      hostName: internalportal2.contoso.net
                      negotiateClientCertificate: false
                      type: Portal
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=*.contoso.net
                        thumbprint: xxxxxxxxxxxxxxxxxxxxxxxxxxxx
                      defaultSslBinding: false
                      hostName: internalmgmt2.contoso.net
                      negotiateClientCertificate: false
                      type: Management
                    - certificate:
                        expiry: 2018-03-17T21:55:07+00:00
                        subject: CN=*.contoso.net
                        thumbprint: xxxxxxxxxxxxxxxxxxxxxxxxxxxx
                      defaultSslBinding: false
                      hostName: internalscm2.contoso.net
                      negotiateClientCertificate: false
                      type: Scm
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: contoso@live.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: contoso@microsoft.com
                  publisherName: admin
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                    - 52.173.22.222
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
            "202":
              body:
                etag: AAAAAAAYP5M=
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1
                location: Central US
                name: apimService1
                properties:
                  additionalLocations:
                    - location: West US
                      sku:
                        capacity: 1
                        name: Premium
                      staticIps:
                        - 40.78.99.244
                  createdAtUtc: 2017-06-28T23:01:33.0667959Z
                  gatewayUrl: https://apimService1.azure-api.net
                  managementApiUrl: https://apimService1.management.azure-api.net
                  notificationSenderEmail: contoso@live.com
                  portalUrl: https://apimService1.portal.azure-api.net
                  provisioningState: Succeeded
                  publisherEmail: contoso@microsoft.com
                  publisherName: admin
                  scmUrl: https://apimService1.scm.azure-api.net
                  staticIps:
                    - 52.173.22.222
                  targetProvisioningState: ""
                  virtualNetworkType: None
                sku:
                  capacity: 1
                  name: Premium
                tags: {}
                type: Microsoft.ApiManagement/service
              headers:
                location: https://management.azure.com/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/operationresults/dGVjaGVkX01hbmFnZVJvbGVfNWRiNGI3Ng==?api-version=2016-10-10
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/uploadcertificate":
    post:
      description: Upload Custom Domain SSL certificate for an API Management service. This operation will be deprecated in future releases.
      operationId: ApiManagementService_UploadCertificate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Parameters supplied to the Upload SSL certificate for an API Management service operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApiManagementServiceUploadCertificateParameters"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Successfully uploaded certificate to the API Management Service.
          schema:
            $ref: "#/definitions/CertificateInformation"
      tags:
        - ApiManagementService
      x-ms-examples:
        ApiManagementServiceUploadProxyCertificate:
          parameters:
            api-version: 2016-10-10
            parameters:
              certificate: MIIZ7wI************************************************************
              certificate_password: "******"
              type: Proxy
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                expiry: 2018-03-17T21:55:07+00:00
                subject: CN=*.contoso.com
                thumbprint: DE57B************************
definitions:
  AdditionalLocation:
    description: Description of an additional API Management resource location.
    properties:
      gatewayRegionalUrl:
        description: Gateway URL of the API Management service in the Region.
        readOnly: true
        type: string
      location:
        description: The location name of the additional region among Azure Data center regions.
        type: string
      sku:
        $ref: "#/definitions/ApiManagementServiceSkuProperties"
        description: SKU properties of the API Management service.
      staticIps:
        description: Static IP addresses of the location's virtual machines.
        items:
          type: string
        readOnly: true
        type: array
      virtualNetworkConfiguration:
        $ref: "#/definitions/VirtualNetworkConfiguration"
        description: Virtual network configuration for the location.
    required:
      - location
      - sku
  ApiManagementServiceApplyNetworkConfigurationParameters:
    description: Parameter supplied to the Apply Network configuration operation.
    properties:
      location:
        description: Location of the Api Management service to update for a multi-region service. For a service deployed in a single region, this parameter is not required.
        type: string
  ApiManagementServiceBackupRestoreParameters:
    description: Parameters supplied to the Backup/Restore of an API Management service operation.
    properties:
      accessKey:
        description: Azure Cloud Storage account (used to place/retrieve the backup) access key.
        type: string
      backupName:
        description: The name of the backup file to create.
        type: string
      containerName:
        description: Azure Cloud Storage blob container name used to place/retrieve the backup.
        type: string
      storageAccount:
        description: Azure Cloud Storage account (used to place/retrieve the backup) name.
        type: string
    required:
      - storageAccount
      - accessKey
      - containerName
      - backupName
  ApiManagementServiceBaseProperties:
    description: Base Properties of an API Management service resource description.
    properties:
      additionalLocations:
        description: Additional datacenter locations of the API Management service.
        items:
          $ref: "#/definitions/AdditionalLocation"
        type: array
      certificates:
        description: List of Certificates that need to be installed in the API Management service. Max supported certificates that can be installed is 10.
        items:
          $ref: "#/definitions/CertificateConfiguration"
        type: array
      createdAtUtc:
        description: "Creation UTC date of the API Management service.The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard."
        format: date-time
        readOnly: true
        type: string
      customProperties:
        additionalProperties:
          type: string
        description: Custom properties of the API Management service. Setting `Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168` will disable the cipher TLS_RSA_WITH_3DES_EDE_CBC_SHA for all TLS(1.0, 1.1 and 1.2). Setting `Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11` can be used to disable just TLS 1.1 and setting `Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10` can be used to disable TLS 1.0 on an API Management service.
        type: object
      gatewayRegionalUrl:
        description: Gateway URL of the API Management service in the Default Region.
        readOnly: true
        type: string
      gatewayUrl:
        description: Gateway URL of the API Management service.
        readOnly: true
        type: string
      hostnameConfigurations:
        description: Custom hostname configuration of the API Management service.
        items:
          $ref: "#/definitions/HostnameConfiguration"
        type: array
      managementApiUrl:
        description: Management API endpoint URL of the API Management service.
        readOnly: true
        type: string
      notificationSenderEmail:
        description: Email address from which the notification will be sent.
        maxLength: 100
        type: string
      portalUrl:
        description: Publisher portal endpoint Url of the API Management service.
        readOnly: true
        type: string
      provisioningState:
        description: "The current provisioning state of the API Management service which can be one of the following: Created/Activating/Succeeded/Updating/Failed/Stopped/Terminating/TerminationFailed/Deleted."
        readOnly: true
        type: string
      scmUrl:
        description: SCM endpoint URL of the API Management service.
        readOnly: true
        type: string
      staticIps:
        description: Static IP addresses of the API Management service virtual machines. Available only for Standard and Premium SKU.
        items:
          type: string
        readOnly: true
        type: array
      targetProvisioningState:
        description: The provisioning state of the API Management service, which is targeted by the long running operation started on the service.
        readOnly: true
        type: string
      virtualNetworkConfiguration:
        $ref: "#/definitions/VirtualNetworkConfiguration"
        description: Virtual network configuration of the API Management service.
      virtualNetworkType:
        default: None
        description: The type of VPN in which API Management service needs to be configured in. None (Default Value) means the API Management service is not part of any Virtual Network, External means the API Management deployment is set up inside a Virtual Network having an Internet Facing Endpoint, and Internal means that API Management deployment is setup inside a Virtual Network having an Intranet Facing Endpoint only.
        enum:
          - None
          - External
          - Internal
        type: string
        x-ms-enum:
          modelAsString: true
          name: VirtualNetworkType
          values:
            - description: The service is not part of any Virtual Network.
              value: None
            - description: The service is part of Virtual Network and it is accessible from Internet.
              value: External
            - description: The service is part of Virtual Network and it is only accessible from within the virtual network.
              value: Internal
  ApiManagementServiceCheckNameAvailabilityParameters:
    description: Parameters supplied to the CheckNameAvailability operation.
    properties:
      name:
        description: The name to check for availability.
        type: string
    required:
      - name
  ApiManagementServiceGetSsoTokenResult:
    description: The response of the GetSsoToken operation.
    properties:
      redirectUri:
        description: Redirect URL to the Publisher Portal containing the SSO token.
        type: string
  ApiManagementServiceIdentity:
    description: Identity properties of the Api Management service resource.
    properties:
      principalId:
        description: The principal id of the identity.
        format: uuid
        readOnly: true
        type: string
      tenantId:
        description: The client tenant id of the identity.
        format: uuid
        readOnly: true
        type: string
      type:
        description: The identity type. Currently the only supported type is 'SystemAssigned'.
        enum:
          - SystemAssigned
        type: string
        x-ms-enum:
          modelAsString: true
          name: ApimIdentityType
    required:
      - type
  ApiManagementServiceListResult:
    description: The response of the List API Management services operation.
    properties:
      nextLink:
        description: Link to the next set of results. Not empty if Value contains incomplete list of API Management services.
        type: string
      value:
        description: Result of the List API Management services operation.
        items:
          $ref: "#/definitions/ApiManagementServiceResource"
        type: array
    required:
      - value
  ApiManagementServiceNameAvailabilityResult:
    description: Response of the CheckNameAvailability operation.
    properties:
      message:
        description: If reason == invalid, provide the user with the reason why the given name is invalid, and provide the resource naming requirements so that the user can select a valid name. If reason == AlreadyExists, explain that <resourceName> is already in use, and direct them to select a different name.
        readOnly: true
        type: string
      nameAvailable:
        description: True if the name is available and can be used to create a new API Management service; otherwise false.
        readOnly: true
        type: boolean
      reason:
        description: Invalid indicates the name provided does not match the resource provider’s naming requirements (incorrect length, unsupported characters, etc.)  AlreadyExists indicates that the name is already in use and is therefore unavailable.
        enum:
          - Valid
          - Invalid
          - AlreadyExists
        type: string
        x-ms-enum:
          modelAsString: false
          name: NameAvailabilityReason
  ApiManagementServiceProperties:
    allOf:
      - $ref: "#/definitions/ApiManagementServiceBaseProperties"
    description: Properties of an API Management service resource description.
    properties:
      publisherEmail:
        description: Publisher email.
        maxLength: 100
        type: string
      publisherName:
        description: Publisher name.
        maxLength: 100
        type: string
    required:
      - publisherEmail
      - publisherName
  ApiManagementServiceResource:
    allOf:
      - $ref: "#/definitions/ApimResource"
    description: A single API Management service resource in List or Get response.
    properties:
      etag:
        description: ETag of the resource.
        readOnly: true
        type: string
      identity:
        $ref: "#/definitions/ApiManagementServiceIdentity"
        description: Managed service identity of the Api Management service.
      location:
        description: Resource location.
        type: string
        x-ms-mutability:
          - read
          - create
      properties:
        $ref: "#/definitions/ApiManagementServiceProperties"
        description: Properties of the API Management service.
        x-ms-client-flatten: true
      sku:
        $ref: "#/definitions/ApiManagementServiceSkuProperties"
        description: SKU properties of the API Management service.
    required:
      - location
      - sku
      - properties
  ApiManagementServiceSkuProperties:
    description: API Management service resource SKU properties.
    properties:
      capacity:
        default: 1
        description: Capacity of the SKU (number of deployed units of the SKU). The default value is 1.
        format: int32
        type: integer
      name:
        description: Name of the Sku.
        enum:
          - Developer
          - Standard
          - Premium
          - Basic
        externalDocs:
          url: https://azure.microsoft.com/en-us/pricing/details/api-management/
        type: string
        x-ms-enum:
          modelAsString: true
          name: SkuType
          values:
            - description: Developer SKU of Api Management.
              value: Developer
            - description: Standard SKU of Api Management.
              value: Standard
            - description: Premium SKU of Api Management.
              value: Premium
            - description: Basic SKU of Api Management.
              value: Basic
    required:
      - name
  ApiManagementServiceUpdateHostnameParameters:
    description: Parameters supplied to the UpdateHostname operation.
    properties:
      delete:
        description: Hostnames types to delete.
        items:
          enum:
            - Proxy
            - Portal
            - Management
            - Scm
          type: string
          x-ms-enum:
            modelAsString: false
            name: HostnameType
        type: array
      update:
        description: Hostnames to create or update.
        items:
          $ref: "#/definitions/HostnameConfigurationOld"
        type: array
  ApiManagementServiceUpdateParameters:
    allOf:
      - $ref: "#/definitions/ApimResource"
    description: Parameter supplied to Update Api Management Service.
    properties:
      etag:
        description: ETag of the resource.
        readOnly: true
        type: string
      identity:
        $ref: "#/definitions/ApiManagementServiceIdentity"
        description: Managed service identity of the Api Management service.
      properties:
        $ref: "#/definitions/ApiManagementServiceUpdateProperties"
        description: Properties of the API Management service.
        x-ms-client-flatten: true
      sku:
        $ref: "#/definitions/ApiManagementServiceSkuProperties"
        description: SKU properties of the API Management service.
  ApiManagementServiceUpdateProperties:
    allOf:
      - $ref: "#/definitions/ApiManagementServiceBaseProperties"
    description: Properties of an API Management service resource description.
    properties:
      publisherEmail:
        description: Publisher email.
        maxLength: 100
        type: string
      publisherName:
        description: Publisher name.
        maxLength: 100
        type: string
  ApiManagementServiceUploadCertificateParameters:
    description: Parameters supplied to the Upload SSL certificate for an API Management service operation.
    properties:
      certificate:
        description: Base64 Encoded certificate.
        type: string
      certificate_password:
        description: Certificate password.
        type: string
      type:
        description: Hostname type.
        enum:
          - Proxy
          - Portal
          - Management
          - Scm
        type: string
        x-ms-enum:
          modelAsString: false
          name: HostnameType
    required:
      - type
      - certificate
      - certificate_password
  ApimResource:
    description: The Resource definition.
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
      type:
        description: Resource type for API Management resource is set to Microsoft.ApiManagement.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  CertificateConfiguration:
    description: Certificate configuration which consist of non-trusted intermediates and root certificates.
    properties:
      certificate:
        $ref: "#/definitions/CertificateInformation"
        description: Certificate information.
        readOnly: true
      certificatePassword:
        description: Certificate Password.
        type: string
      encodedCertificate:
        description: Base64 Encoded certificate.
        type: string
      storeName:
        description: The local certificate store location. Only Root and CertificateAuthority are valid locations.
        enum:
          - CertificateAuthority
          - Root
        type: string
    required:
      - storeName
  CertificateInformation:
    description: SSL certificate information.
    properties:
      expiry:
        description: "Expiration date of the certificate. The date conforms to the following format: `yyyy-MM-ddTHH:mm:ssZ` as specified by the ISO 8601 standard."
        format: date-time
        type: string
      subject:
        description: Subject of the certificate.
        type: string
      thumbprint:
        description: Thumbprint of the certificate.
        type: string
    required:
      - expiry
      - thumbprint
      - subject
  HostnameConfiguration:
    description: Custom hostname configuration.
    properties:
      certificate:
        $ref: "#/definitions/CertificateInformation"
        description: Certificate information.
        readOnly: true
      certificatePassword:
        description: Certificate Password.
        type: string
      defaultSslBinding:
        default: false
[...]
