swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Creates a Microsoft.DataShare management client.
  title: DataShareManagementClient
  version: 2019-11-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/datashare/resource-manager/Microsoft.DataShare/stable/2019-11-01/DataShare.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: datashare-DataShare
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  accountName:
    description: The name of the share account.
    in: path
    name: accountName
    required: true
    type: string
    x-ms-parameter-location: method
  api-version:
    description: The api version to use.
    in: query
    name: api-version
    required: true
    type: string
  resourceGroupName:
    description: The resource group name.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: The subscription identifier
    in: path
    name: subscriptionId
    required: true
    type: string
tags: []
paths:
  /providers/Microsoft.DataShare/ListInvitations:
    get:
      description: Lists invitations
      operationId: ConsumerInvitations_ListInvitations
      parameters:
        - $ref: "#/parameters/api-version"
        - description: The continuation token
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ConsumerInvitationList"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: List the invitations
      tags:
        - ConsumerInvitation
      x-ms-examples:
        ConsumerInvitations_ListInvitations:
          parameters:
            api-version: 2019-11-01
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.DataShare/consumerInvitations/4256e2cf-0f82-4865-961b-12f83333f487
                    name: invitation1
                    properties:
                      dataSetCount: 1
                      description: Some share
                      invitationId: 4256e2cf-0f82-4865-961b-12f83333f487
                      invitationStatus: Accepted
                      location: eastus2
                      providerEmail: john.smith@microsoft.com
                      providerName: John Smith
                      providerTenantName: microsoft
                      respondedAt: 2019-01-15T02:01:51.8953054Z
                      sentAt: 2019-01-15T01:45:25.6226946Z
                      shareName: share1
                      termsOfUse: Confidential
                    type: Microsoft.DataShare/consumerInvitations
              headers:
                Date: Wed, 13 Sep 2017 17:33:55 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 5d862c55-4de9-4a46-969d-cf1ed3e235ed
                x-ms-ratelimit-remaining-subscription-reads: "14993"
                x-ms-request-id: 8e58266a-de42-40d5-b3c4-c6a7e159cfba
      x-ms-pageable:
        nextLinkName: nextLink
  "/providers/Microsoft.DataShare/locations/{location}/RejectInvitation":
    post:
      description: Reject an invitation
      operationId: ConsumerInvitations_RejectInvitation
      parameters:
        - description: Location of the invitation
          in: path
          name: location
          required: true
          type: string
        - description: An invitation payload
          in: body
          name: invitation
          required: true
          schema:
            $ref: "#/definitions/ConsumerInvitation"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ConsumerInvitation"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Rejects the invitation identified by invitationId
      tags:
        - ConsumerInvitation
      x-ms-examples:
        ConsumerInvitations_RejectInvitation:
          parameters:
            api-version: 2019-11-01
            invitation:
              properties:
                invitationId: dfbbc788-19eb-4607-a5a1-c74181bfff03
            location: East US 2
          responses:
            "200":
              body:
                id: providers/Microsoft.DataShare/consumerInvitations/4256e2cf-0f82-4865-961b-12f83333f487
                name: invitation1
                properties:
                  dataSetCount: 1
                  description: Some share
                  invitationId: 4256e2cf-0f82-4865-961b-12f83333f487
                  invitationStatus: Rejected
                  location: eastus2
                  providerEmail: john.smith@microsoft.com
                  providerName: John Smith
                  providerTenantName: microsoft
                  respondedAt: 2019-01-15T02:01:51.8953054Z
                  sentAt: 2019-01-15T01:45:25.6226946Z
                  shareName: share1
                  termsOfUse: Confidential
                type: Microsoft.DataShare/consumerInvitations
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
  "/providers/Microsoft.DataShare/locations/{location}/consumerInvitations/{invitationId}":
    get:
      description: Get an invitation
      operationId: ConsumerInvitations_Get
      parameters:
        - description: Location of the invitation
          in: path
          name: location
          required: true
          type: string
        - description: An invitation id
          in: path
          name: invitationId
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ConsumerInvitation"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Gets the invitation identified by invitationId
      tags:
        - ConsumerInvitation
      x-ms-examples:
        ConsumerInvitations_Get:
          parameters:
            api-version: 2019-11-01
            invitationId: dfbbc788-19eb-4607-a5a1-c74181bfff03
            location: East US 2
          responses:
            "200":
              body:
                id: providers/Microsoft.DataShare/consumerInvitations/4256e2cf-0f82-4865-961b-12f83333f487
                name: invitation1
                properties:
                  dataSetCount: 1
                  description: Some share
                  invitationId: 4256e2cf-0f82-4865-961b-12f83333f487
                  invitationStatus: Accepted
                  location: eastus2
                  providerEmail: john.smith@microsoft.com
                  providerName: John Smith
                  providerTenantName: Microsoft
                  respondedAt: 2019-01-15T02:01:51.8953054Z
                  sentAt: 2019-01-15T01:45:25.6226946Z
                  shareName: share1
                  termsOfUse: Confidential
                type: Microsoft.DataShare/consumerInvitations
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
  /providers/Microsoft.DataShare/operations:
    get:
      description: List of available operations
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OperationList"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Lists the available operations
      tags:
        - Operation
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2019-11-01
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Reads all available operations in Data Share Resource Provider.
                      operation: Read all operations
                      provider: Microsoft Data Share
                      resource: Data Share Resource Provider
                    name: Microsoft.DataShare/operations/read
                  - display:
                      description: Register the subscription for the Data Share Resource Provider.
                      operation: Register Data Share Resource Provider
                      provider: Microsoft Data Share
                      resource: Data Share Resource Provider
                    name: Microsoft.DataShare/register/action
                  - display:
                      description: Unregister the subscription for the Data Share Resource Provider.
                      operation: Unregister Data Share Resource Provider
                      provider: Microsoft Data Share
                      resource: Data Share Resource Provider
                    name: Microsoft.DataShare/unregister/action
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataShare/accounts":
    get:
      description: List Accounts in Subscription
      operationId: Accounts_ListBySubscription
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/api-version"
        - description: Continuation token
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AccountList"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: List Accounts in a subscription
      tags:
        - Account
      x-ms-examples:
        Accounts_ListBySubscription:
          parameters:
            api-version: 2019-11-01
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1
                    identity:
                      type: SystemAssigned
                    location: West US 2
                    name: Account1
                    properties:
                      createdAt: 2018-11-14T04:47:52.9614956Z
                      userEmail: johnsmith@microsoft.com
                      userName: John Smith
                    tags:
                      tag1: Red
                      tag2: White
                    type: Microsoft.DataShare/Accounts
                  - id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account2
                    identity:
                      type: SystemAssigned
                    location: East US 2
                    name: Account2
                    properties:
                      createdAt: 2018-11-14T04:47:52.9614956Z
                      userEmail: johnsmith@microsoft.com
                      userName: John Smith
                    type: Microsoft.DataShare/Accounts
              headers:
                Date: Wed, 13 Sep 2017 17:33:55 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 5d862c55-4de9-4a46-969d-cf1ed3e235ed
                x-ms-ratelimit-remaining-subscription-reads: "14993"
                x-ms-request-id: 8e58266a-de42-40d5-b3c4-c6a7e159cfba
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts":
    get:
      description: List Accounts in ResourceGroup
      operationId: Accounts_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/api-version"
        - description: Continuation token
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AccountList"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: List Accounts in a resource group
      tags:
        - Account
      x-ms-examples:
        Accounts_ListByResourceGroup:
          parameters:
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1
                    identity:
                      type: SystemAssigned
                    location: West US 2
                    name: Account1
                    properties:
                      createdAt: 2018-11-14T04:47:52.9614956Z
                      userEmail: johnsmith@microsoft.com
                      userName: John Smith,
                    tags:
                      tag1: Red
                      tag2: White
                    type: Microsoft.DataShare/Accounts
                  - id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account2
                    identity:
                      type: SystemAssigned
                    location: East US 2
                    name: Account2
                    properties:
                      createdAt: 2018-11-14T04:47:52.9614956Z
                      userEmail: johnsmith@microsoft.com
                      userName: John Smith,
                    type: Microsoft.DataShare/Accounts
              headers:
                Date: Wed, 13 Sep 2017 17:33:55 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 5d862c55-4de9-4a46-969d-cf1ed3e235ed
                x-ms-ratelimit-remaining-subscription-reads: "14993"
                x-ms-request-id: 8e58266a-de42-40d5-b3c4-c6a7e159cfba
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}":
    delete:
      description: DeleteAccount
      operationId: Accounts_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OperationResponse"
        "202":
          description: Accepted
        "204":
          description: Success
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Delete an account
      tags:
        - Account
      x-ms-examples:
        Accounts_Delete:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
          responses:
            "200":
              body:
                status: Succeeded
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/d8869ae5-cd9e-413a-b660-104573d8bcee/resourceGroups/testrg/providers/Microsoft.DataShare/accounts/sourceAccount/operationResults/dad6baec-3a39-41df-a469-843a9ee94213?api-version=2018-11-01-preview
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-long-running-operation: true
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
            "204":
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
      x-ms-long-running-operation: true
    get:
      description: Get an account
      operationId: Accounts_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Account"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Get an account under a resource group
      tags:
        - Account
      x-ms-examples:
        Accounts_Get:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1
                identity:
                  type: SystemAssigned
                location: West US 2
                name: Account1
                properties:
                  createdAt: 2018-11-14T04:47:52.9614956Z
                  provisioningState: Succeeded
                  userEmail: johnsmith@microsoft.com
                  userName: John Smith
                tags:
                  tag1: Red
                  tag2: White
                type: Microsoft.DataShare/Accounts
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
    patch:
      description: Patch an account
      operationId: Accounts_Update
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The account update parameters.
          in: body
          name: accountUpdateParameters
          required: true
          schema:
            $ref: "#/definitions/AccountUpdateParameters"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Account"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Patch a given account
      tags:
        - Account
      x-ms-examples:
        Accounts_Update:
          parameters:
            accountName: Account1
            accountUpdateParameters:
              tags:
                tag1: Red
                tag2: White
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
          responses:
            "200":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1
                identity:
                  type: SystemAssigned
                location: West US 2
                name: Account1
                properties:
                  createdAt: 2018-11-14T04:47:52.9614956Z
                  userEmail: johnsmith@microsoft.com
                  userName: John Smith
                tags:
                  tag1: Red
                  tag2: White
                type: Microsoft.DataShare/Accounts
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
    put:
      description: Create an account
      operationId: Accounts_Create
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The account payload.
          in: body
          name: account
          required: true
          schema:
            $ref: "#/definitions/Account"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Account"
        "201":
          description: Success
          schema:
            $ref: "#/definitions/Account"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Create an account in the given resource group
      tags:
        - Account
      x-ms-examples:
        Accounts_Create:
          parameters:
            account:
              identity:
                type: SystemAssigned
              location: West US 2
              tags:
                tag1: Red
                tag2: White
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
          responses:
            "200":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1
                identity:
                  type: SystemAssigned
                location: West US 2
                name: Account1
                properties:
                  createdAt: 2018-11-14T04:47:52.9614956Z
                  userEmail: johnsmith@microsoft.com
                  userName: John Smith
                tags:
                  tag1: Red
                  tag2: White
                type: Microsoft.DataShare/Accounts
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
            "201":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1
                identity:
                  type: SystemAssigned
                location: West US 2
                name: Account1
                properties:
                  createdAt: 2018-11-14T04:47:52.9614956Z
                  userEmail: johnsmith@microsoft.com
                  userName: John Smith
                tags:
                  tag1: Red
                  tag2: White
                type: Microsoft.DataShare/Accounts
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions":
    get:
      description: List share subscriptions in an account
      operationId: ShareSubscriptions_ListByAccount
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - $ref: "#/parameters/api-version"
        - description: Continuation Token
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ShareSubscriptionList"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: List of available share subscriptions under an account.
      tags:
        - ShareSubscription
      x-ms-examples:
        ShareSubscriptions_ListByAccount:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/sharesubscriptions/ShareSubscription1
                    name: ShareSubscription1
                    properties:
                      createdAt: 2018-11-14T06:15:15.6818898Z
                      invitationId: 12345678-1234-1234-12345678abd
                      providerEmail: jack.rose@microsoft.com
                      providerName: Jack Rose
                      providerTenantName: Microsoft
                      shareDescription: Some share
                      shareKind: CopyBased
                      shareName: share1
                      shareSubscriptionStatus: Active
                      shareTerms: Confidential
                      sourceShareLocation: eastus2
                      userEmail: john.smith@microsoft.com
                      userName: johnsmith@microsoft.com
                    type: Microsoft.DataShare/ShareSubscription
                  - id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/sharesubscriptions/ShareSubscription1
                    name: ShareSubscription1
                    properties:
                      createdAt: 2019-01-17T22:32:36.8185016Z
                      invitationId: 4256e2cf-0f82-4865-961b-12f83333f487
                      providerEmail: jack.rose@microsoft.com
                      providerName: Jack Rose
                      providerTenantName: Microsoft
                      shareDescription: Some share
                      shareKind: CopyBased
                      shareName: share1
                      shareSubscriptionStatus: Active
                      shareTerms: Confidential
                      sourceShareLocation: eastus2
                      userEmail: john.smith@microsoft.com
                      userName: John Smith
                    type: Microsoft.DataShare/ShareSubscription
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}":
    delete:
      description: Delete a shareSubscription in an account
      operationId: ShareSubscriptions_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the shareSubscription.
          in: path
          name: shareSubscriptionName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OperationResponse"
        "202":
          description: Accepted
        "204":
          description: Success
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Delete shareSubscription in an account.
      tags:
        - ShareSubscription
      x-ms-examples:
        ShareSubscriptions_Delete:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSubscription1
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                status: Succeeded
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/d8869ae5-cd9e-413a-b660-104573d8bcee/resourceGroups/testrg/providers/Microsoft.DataShare/accounts/consumerAccount/shareSubscriptions/shareSub1/operationResults/dad6baec-3a39-41df-a469-843a9ee94213?api-version=2018-11-01-preview
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-long-running-operation: true
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
            "204":
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
      x-ms-long-running-operation: true
    get:
      description: Get a shareSubscription in an account
      operationId: ShareSubscriptions_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the shareSubscription.
          in: path
          name: shareSubscriptionName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ShareSubscription"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Get shareSubscription in an account.
      tags:
        - ShareSubscription
      x-ms-examples:
        ShareSubscriptions_Get:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSubscription1
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/sharesubscriptions/ShareSubscription1
                name: ShareSubscription1
                properties:
                  createdAt: 2019-01-17T22:32:36.8185016Z
                  invitationId: 4256e2cf-0f82-4865-961b-12f83333f487
                  providerEmail: jack.rose@microsoft.com
                  providerName: Jack Rose
                  providerTenantName: ShareSenderCompanyName
                  provisioningState: Succeeded
                  shareDescription: Some share
                  shareKind: CopyBased
                  shareName: share1
                  shareSubscriptionStatus: Active
                  shareTerms: Confidential
                  sourceShareLocation: eastus2
                  userEmail: john.smith@microsoft.com
                  userName: John Smith
                type: Microsoft.DataShare/ShareSubscription
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
    put:
      description: Create a shareSubscription in an account
      operationId: ShareSubscriptions_Create
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the shareSubscription.
          in: path
          name: shareSubscriptionName
          required: true
          type: string
        - description: create parameters for shareSubscription
          in: body
          name: shareSubscription
          required: true
          schema:
            $ref: "#/definitions/ShareSubscription"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ShareSubscription"
        "201":
          description: Success
          schema:
            $ref: "#/definitions/ShareSubscription"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Create shareSubscription in an account.
      tags:
        - ShareSubscription
      x-ms-examples:
        ShareSubscriptions_Create:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            shareSubscription:
              properties:
                invitationId: 12345678-1234-1234-12345678abd
                sourceShareLocation: eastus2
            shareSubscriptionName: ShareSubscription1
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/sharesubscriptions/ShareSubscription1
                name: ShareSubscription1
                properties:
                  createdAt: 2019-01-17T22:32:36.8185016Z
                  invitationId: 4256e2cf-0f82-4865-961b-12f83333f487
                  providerEmail: jack.rose@microsoft.com
                  providerName: Jack Rose
                  providerTenantName: Microsoft
                  shareDescription: Some share
                  shareKind: CopyBased
                  shareName: share1
                  shareSubscriptionStatus: Active
                  shareTerms: Confidential
                  sourceShareLocation: eastus2
                  userEmail: john.smith@microsoft.com
                  userName: John Smith
                type: Microsoft.DataShare/ShareSubscription
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
            "201":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/sharesubscriptions/ShareSubscription1
                name: ShareSubscription1
                properties:
                  createdAt: 2019-01-17T22:32:36.8185016Z
                  invitationId: 4256e2cf-0f82-4865-961b-12f83333f487
                  providerEmail: jack.rose@microsoft.com
                  providerName: Jack Rose
                  providerTenantName: Microsoft
                  shareDescription: Some share
                  shareKind: CopyBased
                  shareName: share1
                  shareSubscriptionStatus: Active
                  shareTerms: Confidential
                  sourceShareLocation: eastus2
                  userEmail: john.smith@microsoft.com
                  userName: John Smith
                type: Microsoft.DataShare/ShareSubscription
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/ConsumerSourceDataSets":
    get:
      description: Get source dataSets of a shareSubscription
      operationId: ConsumerSourceDataSets_ListByShareSubscription
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the shareSubscription.
          in: path
          name: shareSubscriptionName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: Continuation token
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ConsumerSourceDataSetList"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Get source dataSets of a shareSubscription.
      tags:
        - ShareSubscription
      x-ms-examples:
        ConsumerSourceDataSets_ListByShareSubscription:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: Share1
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/sharesubscriptions/ShareSubscription1/consumerSourceDataSets/4256e2cf-0f82-4865-961b-12f83333f487
                    name: invitation1
                    properties:
                      dataSetId: 0b9d4394-8bb3-49a1-aa4f-4be49cd10375
                      dataSetName: input.text
                      dataSetPath: cars.text
                      dataSetType: Blob
                    type: Microsoft.DataShare/consumerSourceDataSets
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/Synchronize":
    post:
      description: Initiate a copy
      operationId: ShareSubscriptions_Synchronize
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of share subscription
          in: path
          name: shareSubscriptionName
          required: true
          type: string
        - description: Synchronize payload
          in: body
          name: synchronize
          required: true
          schema:
            $ref: "#/definitions/Synchronize"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ShareSubscriptionSynchronization"
        "202":
          description: Accepted
          schema:
            $ref: "#/definitions/ShareSubscriptionSynchronization"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Initiate an asynchronous data share job
      tags:
        - ShareSubscription
      x-ms-examples:
        ShareSubscriptions_Synchronize:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSubscription1
            subscriptionId: 12345678-1234-1234-12345678abc
            synchronize:
              synchronizationMode: Incremental
          responses:
            "200":
              body:
                startTime: 2019-06-30T02:37:48.4979104Z
                status: Succeeded
                synchronizationId: 343c4772-ad68-41aa-91b9-bab1c92f9c27
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
            "202":
              body:
                startTime: 2019-06-30T02:37:48.4979104Z
                status: Accepted
                synchronizationId: 343c4772-ad68-41aa-91b9-bab1c92f9c27
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/d8869ae5-cd9e-413a-b660-104573d8bcee/resourceGroups/testrg/providers/Microsoft.DataShare/accounts/consumerAccount/shareSubscriptions/shareSub1/operationResults/dad6baec-3a39-41df-a469-843a9ee94213?api-version=2018-11-01-preview
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-long-running-operation: true
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/cancelSynchronization":
    post:
      description: Request to cancel a synchronization.
      operationId: ShareSubscriptions_CancelSynchronization
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the shareSubscription.
          in: path
          name: shareSubscriptionName
          required: true
          type: string
        - description: Share Subscription Synchronization payload.
          in: body
          name: shareSubscriptionSynchronization
          required: true
          schema:
            $ref: "#/definitions/ShareSubscriptionSynchronization"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ShareSubscriptionSynchronization"
        "202":
          description: Accepted
          schema:
            $ref: "#/definitions/ShareSubscriptionSynchronization"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Request cancellation of a data share snapshot
      tags:
        - ShareSubscription
      x-ms-examples:
        ShareSubscriptions_CancelSynchronization:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSubscription1
            shareSubscriptionSynchronization:
              synchronizationId: 7d0536a6-3fa5-43de-b152-3d07c4f6b2bb
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                startTime: 2019-06-30T02:37:48.4979104Z
                status: Cancelled
                synchronizationId: 343c4772-ad68-41aa-91b9-bab1c92f9c27
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
            "202":
              body:
                startTime: 2019-06-30T02:37:48.4979104Z
                status: Queued
                synchronizationId: 343c4772-ad68-41aa-91b9-bab1c92f9c27
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/d8869ae5-cd9e-413a-b660-104573d8bcee/resourceGroups/testrg/providers/Microsoft.DataShare/accounts/consumerAccount/shareSubscriptions/shareSub1/operationResults/dad6baec-3a39-41df-a469-843a9ee94213?api-version=2018-11-01-preview
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-long-running-operation: true
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/dataSetMappings":
    get:
      description: List DataSetMappings in a share subscription
      operationId: DataSetMappings_ListByShareSubscription
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the share subscription.
          in: path
          name: shareSubscriptionName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: Continuation token
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DataSetMappingList"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: List DataSetMappings in a share subscription.
      tags:
        - DataSetMapping
      x-ms-examples:
        DataSetMappings_ListByShareSubscription:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSubscription1
            subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shareSubscriptions/ShareSubscription1/dataSetMappings/DatasetMapping1
                    kind: Blob
                    name: DatasetMapping1
                    properties:
                      containerName: C1
                      dataSetId: a08f184b-0567-4b11-ba22-a1199336d226
                      filePath: file21
                      resourceGroup: SampleResourceGroup
                      storageAccountName: storage2
                      subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
                    type: Microsoft.DataShare/DataSetMapping
                  - id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shareSubscriptions/ShareSubscription1/dataSetMappings/DatasetMapping1
                    kind: Blob
                    name: DatasetMapping1
                    properties:
                      containerName: C1
                      dataSetId: a08f184b-0567-4b11-ba22-a1199336d227
                      filePath: file21
                      resourceGroup: SampleResourceGroup
                      storageAccountName: storage2
                      subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
                    type: Microsoft.DataShare/DataSetMapping
              headers:
                Date: Wed, 13 Sep 2017 17:33:55 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 5d862c55-4de9-4a46-969d-cf1ed3e235ed
                x-ms-ratelimit-remaining-subscription-reads: "14993"
                x-ms-request-id: 8e58266a-de42-40d5-b3c4-c6a7e159cfba
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/dataSetMappings/{dataSetMappingName}":
    delete:
      description: Delete a DataSetMapping in a shareSubscription
      operationId: DataSetMappings_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the shareSubscription.
          in: path
          name: shareSubscriptionName
          required: true
          type: string
        - description: The name of the dataSetMapping.
          in: path
          name: dataSetMappingName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
        "204":
          description: Success
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Delete DataSetMapping in a shareSubscription.
      tags:
        - DataSetMapping
      x-ms-examples:
        DataSetMappings_Delete:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            dataSetMappingName: DatasetMapping1
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSubscription1
            subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
          responses:
            "200":
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
            "204":
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
    get:
      description: Get a DataSetMapping in a shareSubscription
      operationId: DataSetMappings_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the shareSubscription.
          in: path
          name: shareSubscriptionName
          required: true
          type: string
        - description: The name of the dataSetMapping.
          in: path
          name: dataSetMappingName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DataSetMapping"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Get DataSetMapping in a shareSubscription.
      tags:
        - DataSetMapping
      x-ms-examples:
        DataSetMappings_Get:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            dataSetMappingName: DatasetMapping1
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSubscription1
            subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
          responses:
            "200":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shareSubscriptions/ShareSubscription1/dataSetMappings/DatasetMapping1
                kind: Blob
                name: DatasetMapping1
                properties:
                  containerName: C1
                  dataSetId: a08f184b-0567-4b11-ba22-a1199336d226
                  filePath: file21
                  resourceGroup: SampleResourceGroup
                  storageAccountName: storage2
                  subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
                type: Microsoft.DataShare/DataSetMapping
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
    put:
      description: "Create a DataSetMapping "
      operationId: DataSetMappings_Create
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the share subscription which will hold the data set sink.
          in: path
          name: shareSubscriptionName
          required: true
          type: string
        - description: The name of the data set mapping to be created.
          in: path
          name: dataSetMappingName
          required: true
          type: string
        - description: Destination data set configuration details.
          in: body
          name: dataSetMapping
          required: true
          schema:
            $ref: "#/definitions/DataSetMapping"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DataSetMapping"
        "201":
          description: Success
          schema:
            $ref: "#/definitions/DataSetMapping"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: "Maps a source data set in the source share to a sink data set in the share subscription.\r

        Enables copying the data set from source to destination."
      tags:
        - DataSetMapping
      x-ms-examples:
        DataSetMappings_Create:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            dataSetMapping:
              kind: Blob
              properties:
                containerName: C1
                dataSetId: a08f184b-0567-4b11-ba22-a1199336d226
                filePath: file21
                resourceGroup: SampleResourceGroup
                storageAccountName: storage2
                subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
            dataSetMappingName: DatasetMapping1
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSubscription1
            subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
          responses:
            "200":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shareSubscriptions/ShareSubscription1/dataSetMappings/DatasetMapping1
                kind: Blob
                name: DatasetMapping1
                properties:
                  containerName: C1
                  dataSetId: a08f184b-0567-4b11-ba22-a1199336d226
                  filePath: file21
                  resourceGroup: SampleResourceGroup
                  storageAccountName: storage2
                  subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
                type: Microsoft.DataShare/DataSetMapping
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
            "201":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shareSubscriptions/ShareSubscription1/dataSetMappings/DatasetMapping1
                kind: Blob
                name: DatasetMapping1
                properties:
                  containerName: C1
                  dataSetId: a08f184b-0567-4b11-ba22-a1199336d227
                  filePath: file21
                  resourceGroup: SampleResourceGroup
                  storageAccountName: storage2
                  subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
                type: Microsoft.DataShare/DataSetMapping
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
        DataSetMappings_SqlDB_Create:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            dataSetMapping:
              kind: SqlDBTable
              properties:
                dataSetId: a08f184b-0567-4b11-ba22-a1199336d226
                databaseName: Database1
                schemaName: dbo
                sqlServerResourceId: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.Sql/servers/Server1
                tableName: Table1
            dataSetMappingName: DatasetMapping1
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSubscription1
            subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
          responses:
            "200":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shareSubscriptions/ShareSubscription1/dataSetMappings/DatasetMapping1
                kind: SqlDBTable
                name: DatasetMapping1
                properties:
                  dataSetId: a08f184b-0567-4b11-ba22-a1199336d226
                  databaseName: Database1
                  schemaName: dbo
                  sqlServerResourceId: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.Sql/servers/Server1
                  tableName: Table1
                type: Microsoft.DataShare/DataSetMapping
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
            "201":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shareSubscriptions/ShareSubscription1/dataSetMappings/DatasetMapping1
                kind: SqlDBTable
                name: DatasetMapping1
                properties:
                  dataSetId: a08f184b-0567-4b11-ba22-a1199336d226
                  databaseName: Database1
                  schemaName: dbo
                  sqlServerResourceId: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.Sql/servers/Server1
                  tableName: Table1
                type: Microsoft.DataShare/DataSetMapping
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
        DataSetMappings_SqlDWDataSetToAdlsGen2File_Create:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            dataSetMapping:
              kind: AdlsGen2File
              properties:
                dataSetId: a08f184b-0567-4b11-ba22-a1199336d226
                filePath: file21
                fileSystem: fileSystem
                outputType: Csv
                resourceGroup: SampleResourceGroup
                storageAccountName: storage2
                subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
            dataSetMappingName: DatasetMapping1
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSubscription1
            subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
          responses:
            "200":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shareSubscriptions/ShareSubscription1/dataSetMappings/DatasetMapping1
                kind: AdlsGen2File
                name: DatasetMapping1
                properties:
                  dataSetId: a08f184b-0567-4b11-ba22-a1199336d226
                  filePath: file21
                  fileSystem: fileSystem
                  outputType: Csv
                  resourceGroup: SampleResourceGroup
                  storageAccountName: storage2
                  subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
                type: Microsoft.DataShare/DataSetMapping
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
            "201":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shareSubscriptions/ShareSubscription1/dataSetMappings/DatasetMapping1
                kind: AdlsGen2File
                name: DatasetMapping1
                properties:
                  dataSetId: a08f184b-0567-4b11-ba22-a1199336d226
                  filePath: file21
                  fileSystem: fileSystem
                  outputType: Csv
                  resourceGroup: SampleResourceGroup
                  storageAccountName: storage2
                  subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
                type: Microsoft.DataShare/DataSetMapping
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
        DataSetMappings_SqlDW_Create:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            dataSetMapping:
              kind: SqlDWTable
              properties:
                dataSetId: a08f184b-0567-4b11-ba22-a1199336d226
                dataWarehouseName: DataWarehouse1
                schemaName: dbo
                sqlServerResourceId: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.Sql/servers/Server1
                tableName: Table1
            dataSetMappingName: DatasetMapping1
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSubscription1
            subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
          responses:
            "200":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shareSubscriptions/ShareSubscription1/dataSetMappings/DatasetMapping1
                kind: SqlDWTable
                name: DatasetMapping1
                properties:
                  dataSetId: a08f184b-0567-4b11-ba22-a1199336d226
                  dataWarehouseName: DataWarehouse1
                  schemaName: dbo
                  sqlServerResourceId: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.Sql/servers/Server1
                  tableName: Table1
                type: Microsoft.DataShare/DataSetMapping
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
            "201":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shareSubscriptions/ShareSubscription1/dataSetMappings/DatasetMapping1
                kind: SqlDWTable
                name: DatasetMapping1
                properties:
                  dataSetId: a08f184b-0567-4b11-ba22-a1199336d226
                  dataWarehouseName: DataWarehouse1
                  schemaName: dbo
                  sqlServerResourceId: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.Sql/servers/Server1
                  tableName: Table1
                type: Microsoft.DataShare/DataSetMapping
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSourceShareSynchronizationSettings":
    post:
      description: Get synchronization settings set on a share
      operationId: ShareSubscriptions_ListSourceShareSynchronizationSettings
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the shareSubscription.
          in: path
          name: shareSubscriptionName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: Continuation token
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/SourceShareSynchronizationSettingList"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Get source share synchronization settings for a shareSubscription.
      tags:
        - ShareSubscription
      x-ms-examples:
        ShareSubscriptions_ListSourceShareSynchronizationSettings:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSub1
            subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
          responses:
            "200":
              body:
                value:
                  - kind: ScheduleBased
                    properties:
                      recurrenceInterval: Hour
                      synchronizationTime: 2019-03-15T19:45:58Z
              headers:
                Date: Wed, 13 Sep 2017 17:33:55 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 5d862c55-4de9-4a46-969d-cf1ed3e235ed
                x-ms-ratelimit-remaining-subscription-reads: "14993"
                x-ms-request-id: 8e58266a-de42-40d5-b3c4-c6a7e159cfba
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSynchronizationDetails":
    post:
      description: List synchronization details
      operationId: ShareSubscriptions_ListSynchronizationDetails
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the share subscription.
          in: path
          name: shareSubscriptionName
          required: true
          type: string
        - description: Share Subscription Synchronization payload.
          in: body
          name: shareSubscriptionSynchronization
          required: true
          schema:
            $ref: "#/definitions/ShareSubscriptionSynchronization"
        - $ref: "#/parameters/api-version"
        - description: Continuation token
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/SynchronizationDetailsList"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: List data set level details for a share subscription synchronization
      tags:
        - ShareSubscription
      x-ms-examples:
        ShareSubscriptions_ListSynchronizationDetails:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSub1
            shareSubscriptionSynchronization:
              synchronizationId: 7d0536a6-3fa5-43de-b152-3d07c4f6b2bb
            subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
          responses:
            "200":
              body:
                value:
                  - dataSetId: 7d0536a6-3fa5-43de-b152-3d07c4f6b2bb
                    dataSetType: Blob
                    durationMs: 2000
                    endTime: 2018-11-14T04:47:52.9614956Z
                    name: dataset1
                    startTime: 2018-11-14T04:47:52.9614956Z
                    status: Completed
              headers:
                Date: Wed, 13 Sep 2017 17:33:55 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 5d862c55-4de9-4a46-969d-cf1ed3e235ed
                x-ms-ratelimit-remaining-subscription-reads: "14993"
                x-ms-request-id: 8e58266a-de42-40d5-b3c4-c6a7e159cfba
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/listSynchronizations":
    post:
      description: List synchronizations of a share subscription
      operationId: ShareSubscriptions_ListSynchronizations
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the share subscription.
          in: path
          name: shareSubscriptionName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: Continuation token
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ShareSubscriptionSynchronizationList"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: List Synchronizations in a share subscription.
      tags:
        - ShareSubscription
      x-ms-examples:
        ShareSubscriptions_ListSynchronizations:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSub1
            subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
          responses:
            "200":
              body:
                value:
                  - durationMs: 2000
                    endTime: 2018-11-14T04:47:52.9614956Z
                    message: nda
                    startTime: 2018-11-14T04:47:52.9614956Z
                    status: Completed
                    synchronizationId: runId
                    synchronizationMode: Incremental
              headers:
                Date: Wed, 13 Sep 2017 17:33:55 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 5d862c55-4de9-4a46-969d-cf1ed3e235ed
                x-ms-ratelimit-remaining-subscription-reads: "14993"
                x-ms-request-id: 8e58266a-de42-40d5-b3c4-c6a7e159cfba
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/triggers":
    get:
      description: List Triggers in a share subscription
      operationId: Triggers_ListByShareSubscription
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the share subscription.
          in: path
          name: shareSubscriptionName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
        - description: Continuation token
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/TriggerList"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: List Triggers in a share subscription.
      tags:
        - Trigger
      x-ms-examples:
        Triggers_ListByShareSubscription:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSubscription1
            subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
            triggerName: Trigger1
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shareSubscriptions/ShareSubscription1/triggers/Trigger1
                    kind: ScheduleBased
                    name: Trigger1
                    properties:
                      provisioningState: Succeeded
                      recurrenceInterval: Day
                      synchronizationMode: Incremental
                      synchronizationTime: 2018-11-14T04:47:52.9614956Z
                      userName: John Smith
                    type: Microsoft.DataShare/Trigger
              headers:
                Date: Wed, 13 Sep 2017 17:33:55 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 5d862c55-4de9-4a46-969d-cf1ed3e235ed
                x-ms-ratelimit-remaining-subscription-reads: "14993"
                x-ms-request-id: 8e58266a-de42-40d5-b3c4-c6a7e159cfba
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shareSubscriptions/{shareSubscriptionName}/triggers/{triggerName}":
    delete:
      description: Delete a Trigger in a shareSubscription
      operationId: Triggers_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the shareSubscription.
          in: path
          name: shareSubscriptionName
          required: true
          type: string
        - description: The name of the trigger.
          in: path
          name: triggerName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OperationResponse"
        "202":
          description: Accepted
        "204":
          description: Success
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Delete Trigger in a shareSubscription.
      tags:
        - Trigger
      x-ms-examples:
        Triggers_Delete:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSubscription1
            subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
            triggerName: Trigger1
          responses:
            "200":
              body:
                status: Succeeded
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/d8869ae5-cd9e-413a-b660-104573d8bcee/resourceGroups/testrg/providers/Microsoft.DataShare/accounts/consumerAccount/shareSubscriptions/shareSub1/triggers/trigger1/operationResults/dad6baec-3a39-41df-a469-843a9ee94213?api-version=2018-11-01-preview
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
                x-ms-retry-after-ms: "30"
            "204":
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
      x-ms-long-running-operation: true
    get:
      description: Get a Trigger in a shareSubscription
      operationId: Triggers_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the shareSubscription.
          in: path
          name: shareSubscriptionName
          required: true
          type: string
        - description: The name of the trigger.
          in: path
          name: triggerName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Trigger"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Get Trigger in a shareSubscription.
      tags:
        - Trigger
      x-ms-examples:
        Triggers_Get:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSubscription1
            subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
            triggerName: Trigger1
          responses:
            "200":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shareSubscriptions/ShareSubscription1/triggers/Trigger1
                kind: ScheduleBased
                name: Trigger1
                properties:
                  provisioningState: Succeeded
                  recurrenceInterval: Day
                  synchronizationMode: Incremental
                  synchronizationTime: 2018-11-14T04:47:52.9614956Z
                  triggerStatus: Active
                  userName: John Smith
                type: Microsoft.DataShare/Trigger
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
    put:
      description: "Create a Trigger "
      operationId: Triggers_Create
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the share subscription which will hold the data set sink.
          in: path
          name: shareSubscriptionName
          required: true
          type: string
        - description: The name of the trigger.
          in: path
          name: triggerName
          required: true
          type: string
        - description: Trigger details.
          in: body
          name: trigger
          required: true
          schema:
            $ref: "#/definitions/Trigger"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Trigger"
        "201":
          description: Success
          schema:
            $ref: "#/definitions/Trigger"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: This method creates a trigger for a share subscription
      tags:
        - Trigger
      x-ms-examples:
        Triggers_Create:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            shareSubscriptionName: ShareSubscription1
            subscriptionId: 433a8dfd-e5d5-4e77-ad86-90acdc75eb1a
            trigger:
              kind: ScheduleBased
              properties:
                recurrenceInterval: Day
                synchronizationMode: Incremental
                synchronizationTime: 2018-11-14T04:47:52.9614956Z
            triggerName: Trigger1
          responses:
            "200":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shareSubscriptions/ShareSubscription1/triggers/Trigger1
                kind: ScheduleBased
                name: Trigger1
                properties:
                  provisioningState: Succeeded
                  recurrenceInterval: Day
                  synchronizationMode: Incremental
                  synchronizationTime: 2018-11-14T04:47:52.9614956Z
                  triggerStatus: Active
                  userName: John Smith
                type: Microsoft.DataShare/Trigger
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
            "201":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shareSubscriptions/ShareSubscription1/triggers/Trigger1
                kind: ScheduleBased
                name: Trigger1
                properties:
                  provisioningState: Creating
                  recurrenceInterval: Day
                  synchronizationMode: Incremental
                  synchronizationTime: 2018-11-14T04:47:52.9614956Z
                  triggerStatus: Active
                  userName: John Smith
                type: Microsoft.DataShare/Trigger
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-long-running-operation: true
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares":
    get:
      description: List shares in an account
      operationId: Shares_ListByAccount
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - $ref: "#/parameters/api-version"
        - description: Continuation Token
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ShareList"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: List of available shares under an account.
      tags:
        - Share
      x-ms-examples:
        Shares_ListByAccount:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shares/Share1
                    name: Share1
                    properties:
                      createdAt: 2018-11-14T06:15:15.6818898Z
                      description: share description
                      shareKind: CopyBased
                      terms: Confidential
                      userEmail: johnsmith@microsoft.com
                      userName: John Smith
                    type: Microsoft.DataShare/Share
                  - id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shares/Share1
                    name: Share1
                    properties:
                      createdAt: 2018-11-14T06:15:15.6818898Z
                      description: share description
                      shareKind: CopyBased
                      terms: Confidential
                      userEmail: johnsmith@microsoft.com
                      userName: John Smith
                    type: Microsoft.DataShare/Share
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataShare/accounts/{accountName}/shares/{shareName}":
    delete:
      description: "Delete a share "
      operationId: Shares_Delete
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the share.
          in: path
          name: shareName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/OperationResponse"
        "202":
          description: Accepted
        "204":
          description: Success
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Deletes a share
      tags:
        - Share
      x-ms-examples:
        Shares_Delete:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            shareName: Share1
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                status: Succeeded
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
            "202":
              headers:
                Azure-AsyncOperation: https://management.azure.com/subscriptions/d8869ae5-cd9e-413a-b660-104573d8bcee/resourceGroups/testrg/providers/Microsoft.DataShare/accounts/consumerAccount/shareSubscriptions/shareSub1/operationResults/dad6baec-3a39-41df-a469-843a9ee94213?api-version=2018-11-01-preview
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-long-running-operation: true
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
            "204":
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
      x-ms-long-running-operation: true
    get:
      description: "Get a share "
      operationId: Shares_Get
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the share to retrieve.
          in: path
          name: shareName
          required: true
          type: string
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Share"
        default:
          description: An error response received from the Microsoft.DataShare resource provider.
          schema:
            $ref: "#/definitions/DataShareError"
      summary: Get a specified share
      tags:
        - Share
      x-ms-examples:
        Shares_Get:
          parameters:
            accountName: Account1
            api-version: 2019-11-01
            resourceGroupName: SampleResourceGroup
            shareName: Share1
            subscriptionId: 12345678-1234-1234-12345678abc
          responses:
            "200":
              body:
                id: /subscriptions/433a8dfd-e5d5-4e77-ad86-90acdc75eb1a/resourceGroups/SampleResourceGroup/providers/Microsoft.DataShare/accounts/Account1/shares/Share1
                name: Share1
                properties:
                  createdAt: 2018-11-14T06:15:15.6818898Z
                  description: share description
                  shareKind: CopyBased
                  terms: Confidential
                  userEmail: johnsmith@microsoft.com
                  userName: John Smith
                type: Microsoft.DataShare/Share
              headers:
                Date: Wed, 13 Sep 2017 18:04:32 GMT
                X-Content-Type-Options: nosniff
                x-ms-correlation-request-id: 25c78f97-0b0a-4fe9-ad39-883a482265cd
                x-ms-ratelimit-remaining-tenant-reads: "14999"
                x-ms-request-id: d5496da4-9c52-402f-b067-83cc9ddea888
    put:
      description: "Create a share "
      operationId: Shares_Create
      parameters:
        - $ref: "#/parameters/subscriptionId"
        - $ref: "#/parameters/resourceGroupName"
        - $ref: "#/parameters/accountName"
        - description: The name of the share.
          in: path
          name: shareName
          required: true
          type: string
        - description: The share payload
          in: body
          name: share
          required: true
          schema:
            $ref: "#/definitions/Share"
        - $ref: "#/parameters/api-version"
      responses:
        "200":
          description: Success
          schema:
[...]
