swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: MonitorManagementClient
  version: 2015-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-ms-code-generation-settings:
    name: MonitorManagementClient
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2015-04-01/operations_API.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: monitor-operations_API
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
paths:
  /providers/microsoft.insights/operations:
    get:
      description: Lists all of the available operations from Microsoft.Insights provider.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
      tags:
        - Operations
      x-ms-examples:
        Get a list of operations for a resource provider:
          parameters:
            api-version: 2015-04-01
          responses:
            "200":
              body:
                value:
                  - display:
                      operation: Operations read
                      provider: Microsoft Monitoring Insights
                      resource: Operations
                    name: Microsoft.Insights/Operations/Read
                  - display:
                      operation: Metric definitions read
                      provider: Microsoft Monitoring Insights
                      resource: Metric Definitions
                    name: Microsoft.Insights/MetricDefinitions/Read
                  - display:
                      operation: Metrics read
                      provider: Microsoft Monitoring Insights
                      resource: Metrics
                    name: Microsoft.Insights/Metrics/Read
                  - display:
                      operation: Alert Rule write
                      provider: Microsoft Monitoring Insights
                      resource: Alert Rules
                    name: Microsoft.Insights/AlertRules/Write
                  - display:
                      operation: Alert Rule delete
                      provider: Microsoft Monitoring Insights
                      resource: Alert Rules
                    name: Microsoft.Insights/AlertRules/Delete
                  - display:
                      operation: Alert Rule read
                      provider: Microsoft Monitoring Insights
                      resource: Alert Rules
                    name: Microsoft.Insights/AlertRules/Read
                  - display:
                      operation: Metric alert write
                      provider: Microsoft Monitoring Insights
                      resource: Metric alerts
                    name: Microsoft.Insights/MetricAlerts/Write
                  - display:
                      operation: Metric alert delete
                      provider: Microsoft Monitoring Insights
                      resource: Metric alerts
                    name: Microsoft.Insights/MetricAlerts/Delete
                  - display:
                      operation: Metric alert read
                      provider: Microsoft Monitoring Insights
                      resource: Metric alerts
                    name: Microsoft.Insights/MetricAlerts/Read
                  - display:
                      operation: Autoscale Setting write
                      provider: Microsoft Monitoring Insights
                      resource: Autoscale
                    name: Microsoft.Insights/AutoscaleSettings/Write
                  - display:
                      operation: Autoscale Setting delete
                      provider: Microsoft Monitoring Insights
                      resource: Autoscale
                    name: Microsoft.Insights/AutoscaleSettings/Delete
                  - display:
                      operation: Autoscale Setting read
                      provider: Microsoft Monitoring Insights
                      resource: Autoscale
                    name: Microsoft.Insights/AutoscaleSettings/Read
                  - display:
                      operation: Alert Rule Incidents read
                      provider: Microsoft Monitoring Insights
                      resource: Alert Rule Incident resource
                    name: Microsoft.Insights/AlertRules/Incidents/Read
                  - display:
                      operation: Metric definitions read
                      provider: Microsoft Monitoring Insights
                      resource: Metric Definitions
                    name: Microsoft.Insights/AutoscaleSettings/providers/Microsoft.Insights/MetricDefinitions/Read
                  - display:
                      operation: Action group write
                      provider: Microsoft Monitoring Insights
                      resource: Action groups
                    name: Microsoft.Insights/ActionGroups/Write
                  - display:
                      operation: Action group delete
                      provider: Microsoft Monitoring Insights
                      resource: Action groups
                    name: Microsoft.Insights/ActionGroups/Delete
                  - display:
                      operation: Action group read
                      provider: Microsoft Monitoring Insights
                      resource: Action groups
                    name: Microsoft.Insights/ActionGroups/Read
                  - display:
                      operation: Activity log alert read
                      provider: Microsoft Monitoring Insights
                      resource: Activity log alert
                    name: Microsoft.Insights/ActivityLogAlerts/Write
                  - display:
                      operation: Activity log alert delete
                      provider: Microsoft Monitoring Insights
                      resource: Activity log alert
                    name: Microsoft.Insights/ActivityLogAlerts/Delete
                  - display:
                      operation: Activity log alert read
                      provider: Microsoft Monitoring Insights
                      resource: Activity log alert
                    name: Microsoft.Insights/ActivityLogAlerts/Read
                  - display:
                      operation: Activity Log Alert Activated
                      provider: Microsoft Monitoring Insights
                      resource: Activity Log Alert
                    name: Microsoft.Insights/ActivityLogAlerts/Activated/Action
                  - display:
                      operation: Event category read
                      provider: Microsoft Monitoring Insights
                      resource: Event category
                    name: Microsoft.Insights/EventCategories/Read
                  - display:
                      operation: Event types management values read
                      provider: Microsoft Monitoring Insights
                      resource: Events
                    name: Microsoft.Insights/eventtypes/values/Read
                  - display:
                      operation: Event types management digest read
                      provider: Microsoft Monitoring Insights
                      resource: Digest events
                    name: Microsoft.Insights/eventtypes/digestevents/Read
                  - display:
                      operation: Diagnostic settings write
                      provider: Microsoft Monitoring Insights
                      resource: Diagnostic settings
                    name: Microsoft.Insights/DiagnosticSettings/Write
                  - display:
                      operation: Diagnostic settings delete
                      provider: Microsoft Monitoring Insights
                      resource: Diagnostic settings
                    name: Microsoft.Insights/DiagnosticSettings/Delete
                  - display:
                      operation: Diagnostic settings read
                      provider: Microsoft Monitoring Insights
                      resource: Diagnostic settings
                    name: Microsoft.Insights/DiagnosticSettings/Read
                  - display:
                      operation: Extended Diagnostic settings write
                      provider: Microsoft Monitoring Insights
                      resource: Extended Diagnostic settings
                    name: Microsoft.Insights/ExtendedDiagnosticSettings/Write
                  - display:
                      operation: Extended Diagnostic settings delete
                      provider: Microsoft Monitoring Insights
                      resource: Extended Diagnostic settings
                    name: Microsoft.Insights/ExtendedDiagnosticSettings/Delete
                  - display:
                      operation: Extended Diagnostic settings read
                      provider: Microsoft Monitoring Insights
                      resource: Extended Diagnostic settings
                    name: Microsoft.Insights/ExtendedDiagnosticSettings/Read
                  - display:
                      operation: Log profile write
                      provider: Microsoft Monitoring Insights
                      resource: Log Profiles
                    name: Microsoft.Insights/LogProfiles/Write
                  - display:
                      operation: Log profile delete
                      provider: Microsoft Monitoring Insights
                      resource: Log Profiles
                    name: Microsoft.Insights/LogProfiles/Delete
                  - display:
                      operation: Log profile read
                      provider: Microsoft Monitoring Insights
                      resource: Log Profiles
                    name: Microsoft.Insights/LogProfiles/Read
                  - display:
                      operation: Log Definitions read
                      provider: Microsoft Monitoring Insights
                      resource: Log Definitions
                    name: Microsoft.Insights/LogDefinitions/Read
                  - display:
                      operation: Autoscale scale up operation
                      provider: Microsoft Monitoring Insights
                      resource: Autoscale
                    name: Microsoft.Insights/AutoscaleSettings/Scaleup/Action
                  - display:
                      operation: Autoscale scale down operation
                      provider: Microsoft Monitoring Insights
                      resource: Autoscale
                    name: Microsoft.Insights/AutoscaleSettings/Scaledown/Action
                  - display:
                      operation: Alert Rule activated
                      provider: Microsoft Monitoring Insights
                      resource: Alert Rules
                    name: Microsoft.Insights/AlertRules/Activated/Action
                  - display:
                      operation: Alert Rule resolved
                      provider: Microsoft Monitoring Insights
                      resource: Alert Rules
                    name: Microsoft.Insights/AlertRules/Resolved/Action
                  - display:
                      operation: Alert Rule throttled
                      provider: Microsoft Monitoring Insights
                      resource: Alert Rules
                    name: Microsoft.Insights/AlertRules/Throttled/Action
                  - display:
                      operation: Register Microsoft.Insights
                      provider: Microsoft Monitoring Insights
                      resource: Microsoft.Insights
                    name: Microsoft.Insights/Register/Action
                  - display:
                      operation: Application insights component write
                      provider: Microsoft Monitoring Insights
                      resource: Application insights components
                    name: Microsoft.Insights/Components/Write
                  - display:
                      operation: Application insights component delete
                      provider: Microsoft Monitoring Insights
                      resource: Application insights components
                    name: Microsoft.Insights/Components/Delete
                  - display:
                      operation: Application insights component read
                      provider: Microsoft Monitoring Insights
                      resource: Application insights components
                    name: Microsoft.Insights/Components/Read
                  - display:
                      operation: Webtest write
                      provider: Microsoft Monitoring Insights
                      resource: Web tests
                    name: Microsoft.Insights/Webtests/Write
                  - display:
                      operation: Webtest delete
                      provider: Microsoft Monitoring Insights
                      resource: Web tests
                    name: Microsoft.Insights/Webtests/Delete
                  - display:
                      operation: Workbooks read
                      provider: Microsoft Application Insights
                      resource: Workbooks
                    name: Microsoft.Insights/Workbooks/Read
                  - display:
                      operation: Workbooks write
                      provider: Microsoft Application Insights
                      resource: Workbooks
                    name: Microsoft.Insights/Workbooks/Write
                  - display:
                      operation: Workbooks delete
                      provider: Microsoft Application Insights
                      resource: Workbooks
                    name: Microsoft.Insights/Workbooks/Delete
                  - display:
                      operation: Workbooks read
                      provider: Microsoft Application Insights
                      resource: Workbooks
                    name: Microsoft.Insights/Workbooks/Read
definitions:
  Operation:
    description: Microsoft Insights API operation definition.
    properties:
      display:
        description: Display metadata associated with the operation.
        properties:
          operation:
            description: "Operation type: Read, write, delete, etc."
            type: string
          provider:
            description: "Service provider: Microsoft.Insights"
            type: string
          resource:
            description: "Resource on which the operation is performed: AlertRules, Autoscale, etc."
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}"
        type: string
    type: object
  OperationListResult:
    description: Result of the request to list Microsoft.Insights operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        type: string
      value:
        description: List of operations supported by the Microsoft.Insights provider.
        items:
          $ref: "#/definitions/Operation"
        type: array
