swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: AzureBridge Admin Client.
  title: AzureBridgeAdminClient
  version: 2016-01-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/azurebridge/Microsoft.AzureBridge.Admin/preview/2016-01-01/Product.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-Product
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.AzureBridge.Admin/activations/{activationName}/products":
    get:
      description: Return product name.
      operationId: Products_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: The resource group the resource is located under.
          in: path
          name: resourceGroup
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the activation.
          in: path
          name: activationName
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2016-01-01
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/ProductResourcesPage"
      tags:
        - Products
      x-ms-examples:
        Return product name.:
          parameters:
            activationName: default
            api-version: 2015-06-01-preview
            location: local
            resourceGroup: azurestack
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                nextLink: https://adminmanagement.local.azurestack.external/subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourcegroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products?api-version=2016-01-01&%24skiptoken=eyJjb250aW51YXRpb25Ub2tlbiI6IlpYbEtkVnBZYURCVlIwWjVaRWRzTUdGWE9YVlRNbFkxU1dwdmFVMVRSVEJPUTBaUFZrZGtNMVF3VmtkUk1VcFdVbFJTVG1WclZqVlVhMUpXVFdzMVJXRjZRbEJXUlVWNlZGVlNWbVF3TVhGVlZGWlFWa1ZXTmxWV1VtNU1VMGx6U1cwMWJHVklVbE5pTTJSTVdsaHJhVTlwU1hoSlZGRTBTVmRTZEZadWJHaFhSa3B2V1ROck1XRnRTa2hQVkVaaFUwVktNbGxXWXpGTlJYaFZVbGhTVGxJd05YcFphazVYWVRKT1NFOVlRbWxpYkVwdFZGWk5kMlI1U1hOSmJUVnNaVWhTVlZsWFNuTmFWVFZvWWxkVmFVOXROVEZpUjNkelNXNVNhR050Wkd4a1JYaDJXVEpHTUdGWE9YVkphbTlwVlVoS2NHSlhSbmxsVTBvNSJ9
                value:
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Acronis.acronis-backup-linux-arm
                    name: default/Acronis.acronis-backup-linux-arm
                    properties:
                      displayName: Acronis Backup for Linux (preview)
                      galleryItemIdentity: Acronis.acronis-backup-lin-arm.0.0.36
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/Acronis.acronis-backup-linux-arm/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Acronis.acronis-backup-linux-arm/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Acronis.acronis-backup-linux-arm/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Acronis.acronis-backup-linux-arm/icons/Wide.png
                      offer: ""
                      offerVersion: ""
                      payloadLength: 2385801
                      productKind: virtualMachineExtension
                      productProperties:
                        version: "1.0"
                      provisioningState: Succeeded
                      publisherDisplayName: Acronis, Inc.
                      publisherIdentifier: Acronis.Backup
                      sku: ""
                      vmExtensionType: AcronisBackupLinux
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Acronis.acronis-backup-win-arm
                    name: default/Acronis.acronis-backup-win-arm
                    properties:
                      displayName: Acronis Backup for Windows (preview)
                      galleryItemIdentity: Acronis.acronis-backup-win-arm.0.0.36
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/Acronis.acronis-backup-win-arm/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Acronis.acronis-backup-win-arm/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Acronis.acronis-backup-win-arm/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Acronis.acronis-backup-win-arm/icons/Wide.png
                      offer: ""
                      offerVersion: ""
                      payloadLength: 2846529
                      productKind: virtualMachineExtension
                      productProperties:
                        version: "1.0"
                      provisioningState: Succeeded
                      publisherDisplayName: Acronis, Inc.
                      publisherIdentifier: Acronis.Backup
                      sku: ""
                      vmExtensionType: AcronisBackup
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Canonical.UbuntuServer1404LTS-ARM.1.0.46
                    name: default/Canonical.UbuntuServer1404LTS-ARM.1.0.46
                    properties:
                      displayName: Ubuntu Server 14.04 LTS
                      galleryItemIdentity: Canonical.UbuntuServer1404LTS-ARM.1.0.46
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1404LTS-ARM.1.0.46/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1404LTS-ARM.1.0.46/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1404LTS-ARM.1.0.46/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1404LTS-ARM.1.0.46/icons/Wide.png
                      offer: UbuntuServer
                      offerVersion: 1.0.46
                      payloadLength: 32212288248
                      productKind: VirtualMachine
                      productProperties:
                        version: 14.04.201801100
                      provisioningState: Succeeded
                      publisherDisplayName: Canonical
                      publisherIdentifier: Canonical
                      sku: 14.04.5-LTS
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Canonical.UbuntuServer1604LTS-ARM.1.0.39
                    name: default/Canonical.UbuntuServer1604LTS-ARM.1.0.39
                    properties:
                      displayName: Ubuntu Server 16.04 LTS
                      galleryItemIdentity: Canonical.UbuntuServer1604LTS-ARM.1.0.39
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1604LTS-ARM.1.0.39/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1604LTS-ARM.1.0.39/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1604LTS-ARM.1.0.39/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1604LTS-ARM.1.0.39/icons/Wide.png
                      offer: UbuntuServer
                      offerVersion: 1.0.39
                      payloadLength: 32212288270
                      productKind: VirtualMachine
                      productProperties:
                        version: 16.04.201801120
                      provisioningState: Succeeded
                      publisherDisplayName: Canonical
                      publisherIdentifier: Canonical
                      sku: 16.04-LTS
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Canonical.UbuntuServer1604LTS-ARM_201711072
                    name: default/Canonical.UbuntuServer1604LTS-ARM_201711072
                    properties:
                      displayName: Ubuntu Server 16.04 LTS
                      galleryItemIdentity: Canonical.UbuntuServer1604LTS-ARM.1.0.33
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1604LTS-ARM_201711072/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1604LTS-ARM_201711072/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1604LTS-ARM_201711072/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1604LTS-ARM_201711072/icons/Wide.png
                      offer: UbuntuServer
                      offerVersion: 1.0.33
                      payloadLength: 32212288270
                      productKind: VirtualMachine
                      productProperties:
                        version: 16.04.201711072
                      provisioningState: Succeeded
                      publisherDisplayName: Canonical
                      publisherIdentifier: Canonical
                      sku: 16.04-LTS
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Canonical.UbuntuServer1710-ARM.1.0.6
                    name: default/Canonical.UbuntuServer1710-ARM.1.0.6
                    properties:
                      displayName: Ubuntu Server 17.10
                      galleryItemIdentity: Canonical.UbuntuServer1710-ARM.1.0.6
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Canonical.UbuntuServer1710-ARM.1.0.6/icons/Wide.png
                      offer: UbuntuServer
                      offerVersion: 1.0.6
                      payloadLength: 32212288186
                      productKind: VirtualMachine
                      productProperties:
                        version: 17.10.201801090
                      provisioningState: Succeeded
                      publisherDisplayName: Canonical
                      publisherIdentifier: Canonical
                      sku: "17.10"
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/CoreOS.CoreOSStable-ARM
                    name: default/CoreOS.CoreOSStable-ARM
                    properties:
                      displayName: CoreOS Linux (Stable)
                      galleryItemIdentity: CoreOS.CoreOSStable-ARM.1.0.2
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/CoreOS.CoreOSStable-ARM/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/CoreOS.CoreOSStable-ARM/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/CoreOS.CoreOSStable-ARM/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/CoreOS.CoreOSStable-ARM/icons/Wide.png
                      offer: CoreOS
                      offerVersion: 1.0.2
                      payloadLength: 32633915519
                      productKind: VirtualMachine
                      productProperties:
                        version: 1465.8.0
                      provisioningState: Succeeded
                      publisherDisplayName: CoreOS
                      publisherIdentifier: CoreOS
                      sku: Stable
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/FreeLicenseSQLServer2016SP1DeveloperWindowsServer2016.13.1.900302
                    name: default/FreeLicenseSQLServer2016SP1DeveloperWindowsServer2016.13.1.900302
                    properties:
                      displayName: "Free License: SQL Server 2016 SP1 Developer on Windows Server 2016"
                      galleryItemIdentity: Microsoft.FreeLicenseSQLServer2016SP1DeveloperWindowsServer2016-ARM.1.0.3
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/FreeLicenseSQLServer2016SP1DeveloperWindowsServer2016.13.1.900302/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/FreeLicenseSQLServer2016SP1DeveloperWindowsServer2016.13.1.900302/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/FreeLicenseSQLServer2016SP1DeveloperWindowsServer2016.13.1.900302/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/FreeLicenseSQLServer2016SP1DeveloperWindowsServer2016.13.1.900302/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/FreeLicenseSQLServer2016SP1DeveloperWindowsServer2016.13.1.900302/icons/Wide.png
                      offer: SQL2016SP1-WS2016
                      offerVersion: 13.1.900302
                      payloadLength: 136367435689
                      productKind: VirtualMachine
                      productProperties:
                        version: 13.1.900302
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftSQLServer
                      sku: SQLDEV
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/FreeLicenseSQLServer2016SP1ExpressWindowsServer2016.13.1.900302
                    name: default/FreeLicenseSQLServer2016SP1ExpressWindowsServer2016.13.1.900302
                    properties:
                      displayName: "Free License: SQL Server 2016 SP1 Express on Windows Server 2016"
                      galleryItemIdentity: Microsoft.FreeLicenseSQLServer2016SP1ExpressWindowsServer2016-ARM.1.0.3
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/FreeLicenseSQLServer2016SP1ExpressWindowsServer2016.13.1.900302/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/FreeLicenseSQLServer2016SP1ExpressWindowsServer2016.13.1.900302/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/FreeLicenseSQLServer2016SP1ExpressWindowsServer2016.13.1.900302/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/FreeLicenseSQLServer2016SP1ExpressWindowsServer2016.13.1.900302/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/FreeLicenseSQLServer2016SP1ExpressWindowsServer2016.13.1.900302/icons/Wide.png
                      offer: SQL2016SP1-WS2016
                      offerVersion: 13.1.900302
                      payloadLength: 136367434719
                      productKind: VirtualMachine
                      productProperties:
                        version: 13.1.900302
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Express
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.Azure.Extensions.CustomScript
                    name: default/Microsoft.Azure.Extensions.CustomScript
                    properties:
                      displayName: Custom Script for Linux
                      galleryItemIdentity: microsoft.custom-script-linux-arm.2.0.50
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/Microsoft.Azure.Extensions.CustomScript/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.Azure.Extensions.CustomScript/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.Azure.Extensions.CustomScript/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.Azure.Extensions.CustomScript/icons/Wide.png
                      offer: ""
                      offerVersion: ""
                      payloadLength: 2404403
                      productKind: virtualMachineExtension
                      productProperties:
                        version: 2.0.3
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft Corp
                      publisherIdentifier: Microsoft.Azure.Extensions
                      sku: ""
                      vmExtensionType: CustomScript
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.CustomScriptExtension-arm.2.0.50
                    name: default/Microsoft.CustomScriptExtension-arm.2.0.50
                    properties:
                      displayName: Custom Script Extension
                      galleryItemIdentity: Microsoft.CustomScriptExtension-arm.2.0.50
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/Microsoft.CustomScriptExtension-arm.2.0.50/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.CustomScriptExtension-arm.2.0.50/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.CustomScriptExtension-arm.2.0.50/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.CustomScriptExtension-arm.2.0.50/icons/Wide.png
                      offer: ""
                      offerVersion: ""
                      payloadLength: 2532946
                      productKind: virtualMachineExtension
                      productProperties:
                        version: "1.9"
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft Corp.
                      publisherIdentifier: Microsoft.Compute
                      sku: ""
                      vmExtensionType: CustomScriptExtension
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.DSC-arm.2.0.8
                    name: default/Microsoft.DSC-arm.2.0.8
                    properties:
                      displayName: PowerShell Desired State Configuration
                      galleryItemIdentity: Microsoft.DSC-arm.2.0.8
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/Microsoft.DSC-arm.2.0.8/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.DSC-arm.2.0.8/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.DSC-arm.2.0.8/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.DSC-arm.2.0.8/icons/Wide.png
                      offer: ""
                      offerVersion: ""
                      payloadLength: 47227857
                      productKind: virtualMachineExtension
                      productProperties:
                        version: 2.26.0.0
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft Corp
                      publisherIdentifier: Microsoft.Powershell
                      sku: ""
                      vmExtensionType: DSC
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonSLES12SP2-ARM.1.0.5
                    name: default/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonSLES12SP2-ARM.1.0.5
                    properties:
                      displayName: "Free SQL Server License: SQL Server 2017 Developer on SLES 12 SP2"
                      galleryItemIdentity: Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonSLES12SP2-ARM.1.0.5
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonSLES12SP2-ARM.1.0.5/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonSLES12SP2-ARM.1.0.5/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonSLES12SP2-ARM.1.0.5/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonSLES12SP2-ARM.1.0.5/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonSLES12SP2-ARM.1.0.5/icons/Wide.png
                      offer: SQL2017-SLES12SP2
                      offerVersion: 1.0.5
                      payloadLength: 32212380931
                      productKind: VirtualMachine
                      productProperties:
                        version: 14.0.1000210
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft + SUSE
                      publisherIdentifier: MicrosoftSQLServer
                      sku: SQLDEV
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonUbuntuServer1604LTS-ARM.January
                    name: default/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonUbuntuServer1604LTS-ARM.January
                    properties:
                      displayName: "Free SQL Server License: SQL Server 2017 Developer on Ubuntu Server 16.04 LTS"
                      galleryItemIdentity: Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonUbuntuServer1604LTS-ARM.1.0.3
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonUbuntuServer1604LTS-ARM.January/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonUbuntuServer1604LTS-ARM.January/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonUbuntuServer1604LTS-ARM.January/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonUbuntuServer1604LTS-ARM.January/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonUbuntuServer1604LTS-ARM.January/icons/Wide.png
                      offer: SQL2017-Ubuntu1604
                      offerVersion: 1.0.3
                      payloadLength: 32212380921
                      productKind: VirtualMachine
                      productProperties:
                        version: 14.0.1000208
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft + Canonical
                      publisherIdentifier: MicrosoftSQLServer
                      sku: SQLDEV
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonWindowsServer2016-ARM.January
                    name: default/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonWindowsServer2016-ARM.January
                    properties:
                      displayName: "Free SQL Server License: SQL Server 2017 Developer on Windows Server 2016"
                      galleryItemIdentity: Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonWindowsServer2016-ARM.1.0.2
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonWindowsServer2016-ARM.January/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonWindowsServer2016-ARM.January/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonWindowsServer2016-ARM.January/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonWindowsServer2016-ARM.January/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017DeveloperonWindowsServer2016-ARM.January/icons/Wide.png
                      offer: SQL2017-WS2016
                      offerVersion: 1.0.2
                      payloadLength: 136367435580
                      productKind: VirtualMachine
                      productProperties:
                        version: 14.0.1000203
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftSQLServer
                      sku: SQLDEV
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonSLES12SP2-ARM.1.0.5
                    name: default/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonSLES12SP2-ARM.1.0.5
                    properties:
                      displayName: "Free SQL Server License: SQL Server 2017 Express on SLES 12 SP2"
                      galleryItemIdentity: Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonSLES12SP2-ARM.1.0.5
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonSLES12SP2-ARM.1.0.5/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonSLES12SP2-ARM.1.0.5/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonSLES12SP2-ARM.1.0.5/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonSLES12SP2-ARM.1.0.5/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonSLES12SP2-ARM.1.0.5/icons/Wide.png
                      offer: SQL2017-SLES12SP2
                      offerVersion: 1.0.5
                      payloadLength: 32212380917
                      productKind: VirtualMachine
                      productProperties:
                        version: 14.0.1000210
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft + SUSE
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Express
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonUbuntuServer1604LTS-ARM.January
                    name: default/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonUbuntuServer1604LTS-ARM.January
                    properties:
                      displayName: "Free SQL Server License: SQL Server 2017 Express on Ubuntu Server 16.04 LTS"
                      galleryItemIdentity: Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonUbuntuServer1604LTS-ARM.1.0.3
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonUbuntuServer1604LTS-ARM.January/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonUbuntuServer1604LTS-ARM.January/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonUbuntuServer1604LTS-ARM.January/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonUbuntuServer1604LTS-ARM.January/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonUbuntuServer1604LTS-ARM.January/icons/Wide.png
                      offer: SQL2017-Ubuntu1604
                      offerVersion: 1.0.3
                      payloadLength: 32212380907
                      productKind: VirtualMachine
                      productProperties:
                        version: 14.0.1000210
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft + Canonical
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Express
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonWindowsServer2016-ARM.January
                    name: default/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonWindowsServer2016-ARM.January
                    properties:
                      displayName: "Free SQL Server License: SQL Server 2017 Express on Windows Server 2016"
                      galleryItemIdentity: Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonWindowsServer2016-ARM.1.0.2
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonWindowsServer2016-ARM.January/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonWindowsServer2016-ARM.January/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonWindowsServer2016-ARM.January/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonWindowsServer2016-ARM.January/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.FreeSQLServerLicenseSQLServer2017ExpressonWindowsServer2016-ARM.January/icons/Wide.png
                      offer: SQL2017-WS2016
                      offerVersion: 1.0.2
                      payloadLength: 136367434691
                      productKind: VirtualMachine
                      productProperties:
                        version: 14.0.1000203
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Express
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.MicrosoftMachineLearningServer921WindowsServer2016-ARM
                    name: default/Microsoft.MicrosoftMachineLearningServer921WindowsServer2016-ARM
                    properties:
                      displayName: Microsoft Machine Learning Server 9.2.1 Windows Server 2016
                      galleryItemIdentity: Microsoft.MicrosoftMachineLearningServer921WindowsServer2016-ARM.1.0.0
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/Microsoft.MicrosoftMachineLearningServer921WindowsServer2016-ARM/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.MicrosoftMachineLearningServer921WindowsServer2016-ARM/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.MicrosoftMachineLearningServer921WindowsServer2016-ARM/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.MicrosoftMachineLearningServer921WindowsServer2016-ARM/icons/Wide.png
                      offer: MLServer-WS2016
                      offerVersion: 1.0.0
                      payloadLength: 136367353255
                      productKind: VirtualMachine
                      productProperties:
                        version: 9.2.113640001
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftRServer
                      sku: Enterprise
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.MicrosoftMachineLearningServer921onCentOSversion72-ARM
                    name: default/Microsoft.MicrosoftMachineLearningServer921onCentOSversion72-ARM
                    properties:
                      displayName: Microsoft Machine Learning Server 9.2.1 on CentOS Linux 7.2
                      galleryItemIdentity: Microsoft.MicrosoftMachineLearningServer921onCentOSLinux72-ARM.1.0.0
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/Microsoft.MicrosoftMachineLearningServer921onCentOSversion72-ARM/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.MicrosoftMachineLearningServer921onCentOSversion72-ARM/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.MicrosoftMachineLearningServer921onCentOSversion72-ARM/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.MicrosoftMachineLearningServer921onCentOSversion72-ARM/icons/Wide.png
                      offer: MLServer-CentOS
                      offerVersion: 1.0.0
                      payloadLength: 32214396377
                      productKind: VirtualMachine
                      productProperties:
                        version: 9.2.113640001
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft + Rogue Wave Software
                      publisherIdentifier: MicrosoftRServer
                      sku: Enterprise
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.MicrosoftMachineLearningServer921onUbuntu1604-ARM
                    name: default/Microsoft.MicrosoftMachineLearningServer921onUbuntu1604-ARM
                    properties:
                      displayName: Microsoft Machine Learning Server 9.2.1 on Ubuntu 16.04
                      galleryItemIdentity: Microsoft.MicrosoftMachineLearningServer921onUbuntu1604-ARM.1.0.0
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/Microsoft.MicrosoftMachineLearningServer921onUbuntu1604-ARM/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.MicrosoftMachineLearningServer921onUbuntu1604-ARM/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.MicrosoftMachineLearningServer921onUbuntu1604-ARM/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.MicrosoftMachineLearningServer921onUbuntu1604-ARM/icons/Wide.png
                      offer: MLServer-Ubuntu
                      offerVersion: 1.0.0
                      payloadLength: 32212299200
                      productKind: VirtualMachine
                      productProperties:
                        version: 9.2.113640001
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft + Canonical
                      publisherIdentifier: MicrosoftRServer
                      sku: Enterprise
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1
                    name: default/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1
                    properties:
                      displayName: VM Access For Linux Extension
                      galleryItemIdentity: Microsoft.VMAccessForLinux.1.4.7
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.OSTCExtensions.VMAccessForLinux.1.4.7.1/icons/Wide.png
                      offer: ""
                      offerVersion: ""
                      payloadLength: 119307
                      productKind: virtualMachineExtension
                      productProperties:
                        version: 1.4.7.1
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft Corp.
                      publisherIdentifier: Microsoft.OSTCExtensions
                      sku: ""
                      vmExtensionType: VMAccessForLinux
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.RDSFarmAzureDeploy.1.0.5
                    name: default/Microsoft.RDSFarmAzureDeploy.1.0.5
                    properties:
                      displayName: Remote Desktop Services (RDS) Basic Farm
                      galleryItemIdentity: Microsoft.RDSFarmAzureDeploy.1.0.5
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/Microsoft.RDSFarmAzureDeploy.1.0.5/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.RDSFarmAzureDeploy.1.0.5/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.RDSFarmAzureDeploy.1.0.5/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.RDSFarmAzureDeploy.1.0.5/icons/Wide.png
                      offer: WindowsServer
                      offerVersion: 1.0.5
                      payloadLength: 42949720406
                      productKind: VirtualMachine
                      productProperties:
                        version: 2017.7.17
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftWindowsServer
                      sku: 2016-Datacenter
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.SQLIaaSExtension.1.2.24
                    name: default/Microsoft.SQLIaaSExtension.1.2.24
                    properties:
                      displayName: SQL IaaS Extension
                      galleryItemIdentity: Microsoft.SqlIaaSExtension.1.2.24
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/Microsoft.SQLIaaSExtension.1.2.24/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.SQLIaaSExtension.1.2.24/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.SQLIaaSExtension.1.2.24/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.SQLIaaSExtension.1.2.24/icons/Wide.png
                      offer: ""
                      offerVersion: ""
                      payloadLength: 6624300
                      productKind: virtualMachineExtension
                      productProperties:
                        version: 1.2.24
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: Microsoft.SqlServer.Management
                      sku: ""
                      vmExtensionType: SqlIaaSAgent
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.SQLServer2017EnterpriseWindowsServer2016-ARM.January
                    name: default/Microsoft.SQLServer2017EnterpriseWindowsServer2016-ARM.January
                    properties:
                      displayName: SQL Server 2017 Enterprise Windows Server 2016
                      galleryItemIdentity: Microsoft.SQLServer2017EnterpriseWindowsServer2016-ARM.1.0.3
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017EnterpriseWindowsServer2016-ARM.January/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017EnterpriseWindowsServer2016-ARM.January/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017EnterpriseWindowsServer2016-ARM.January/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017EnterpriseWindowsServer2016-ARM.January/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017EnterpriseWindowsServer2016-ARM.January/icons/Wide.png
                      offer: SQL2017-WS2016
                      offerVersion: 1.0.3
                      payloadLength: 136367435529
                      productKind: VirtualMachine
                      productProperties:
                        version: 14.0.1000203
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Enterprise
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.SQLServer2017EnterpriseonSLES12SP2-ARM.1.0.5
                    name: default/Microsoft.SQLServer2017EnterpriseonSLES12SP2-ARM.1.0.5
                    properties:
                      displayName: SQL Server 2017 Enterprise on SLES 12 SP2
                      galleryItemIdentity: Microsoft.SQLServer2017EnterpriseonSLES12SP2-ARM.1.0.5
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017EnterpriseonSLES12SP2-ARM.1.0.5/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017EnterpriseonSLES12SP2-ARM.1.0.5/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017EnterpriseonSLES12SP2-ARM.1.0.5/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017EnterpriseonSLES12SP2-ARM.1.0.5/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017EnterpriseonSLES12SP2-ARM.1.0.5/icons/Wide.png
                      offer: SQL2017-SLES12SP2
                      offerVersion: 1.0.5
                      payloadLength: 32212381075
                      productKind: VirtualMachine
                      productProperties:
                        version: 14.0.1000210
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft + SUSE
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Enterprise
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.SQLServer2017EnterpriseonUbuntuServer1604LTS-ARM.January
                    name: default/Microsoft.SQLServer2017EnterpriseonUbuntuServer1604LTS-ARM.January
                    properties:
                      displayName: SQL Server 2017 Enterprise on Ubuntu Server 16.04 LTS
                      galleryItemIdentity: Microsoft.SQLServer2017EnterpriseonUbuntuServer1604LTS-ARM.1.0.3
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017EnterpriseonUbuntuServer1604LTS-ARM.January/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017EnterpriseonUbuntuServer1604LTS-ARM.January/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017EnterpriseonUbuntuServer1604LTS-ARM.January/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017EnterpriseonUbuntuServer1604LTS-ARM.January/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017EnterpriseonUbuntuServer1604LTS-ARM.January/icons/Wide.png
                      offer: SQL2017-Ubuntu1604
                      offerVersion: 1.0.3
                      payloadLength: 32212381064
                      productKind: VirtualMachine
                      productProperties:
                        version: 14.0.1000210
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft + Canonical
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Enterprise
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.SQLServer2017StandardonSLES12SP2-ARM.1.0.5
                    name: default/Microsoft.SQLServer2017StandardonSLES12SP2-ARM.1.0.5
                    properties:
                      displayName: SQL Server 2017 Standard on SLES 12 SP2
                      galleryItemIdentity: Microsoft.SQLServer2017StandardonSLES12SP2-ARM.1.0.5
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017StandardonSLES12SP2-ARM.1.0.5/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017StandardonSLES12SP2-ARM.1.0.5/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017StandardonSLES12SP2-ARM.1.0.5/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017StandardonSLES12SP2-ARM.1.0.5/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017StandardonSLES12SP2-ARM.1.0.5/icons/Wide.png
                      offer: SQL2017-SLES12SP2
                      offerVersion: 1.0.5
                      payloadLength: 32212380878
                      productKind: VirtualMachine
                      productProperties:
                        version: 14.0.1000210
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft + SUSE
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Standard
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.SQLServer2017StandardonUbuntuServer1604LTS-ARM.January
                    name: default/Microsoft.SQLServer2017StandardonUbuntuServer1604LTS-ARM.January
                    properties:
                      displayName: SQL Server 2017 Standard on Ubuntu Server 16.04 LTS
                      galleryItemIdentity: Microsoft.SQLServer2017StandardonUbuntuServer1604LTS-ARM.1.0.3
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017StandardonUbuntuServer1604LTS-ARM.January/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017StandardonUbuntuServer1604LTS-ARM.January/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017StandardonUbuntuServer1604LTS-ARM.January/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017StandardonUbuntuServer1604LTS-ARM.January/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017StandardonUbuntuServer1604LTS-ARM.January/icons/Wide.png
                      offer: SQL2017-Ubuntu1604
                      offerVersion: 1.0.3
                      payloadLength: 32212380868
                      productKind: VirtualMachine
                      productProperties:
                        version: 14.0.1000210
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft + Canonical
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Standard
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.SQLServer2017StandardonWindowsServer2016-ARM.January
                    name: default/Microsoft.SQLServer2017StandardonWindowsServer2016-ARM.January
                    properties:
                      displayName: SQL Server 2017 Standard on Windows Server 2016
                      galleryItemIdentity: Microsoft.SQLServer2017StandardonWindowsServer2016-ARM.1.0.3
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017StandardonWindowsServer2016-ARM.January/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017StandardonWindowsServer2016-ARM.January/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017StandardonWindowsServer2016-ARM.January/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017StandardonWindowsServer2016-ARM.January/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017StandardonWindowsServer2016-ARM.January/icons/Wide.png
                      offer: SQL2017-WS2016
                      offerVersion: 1.0.3
                      payloadLength: 136367434825
                      productKind: VirtualMachine
                      productProperties:
                        version: 14.0.1000203
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Standard
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.SQLServer2017WebonSLES12SP2-ARM.1.0.5
                    name: default/Microsoft.SQLServer2017WebonSLES12SP2-ARM.1.0.5
                    properties:
                      displayName: SQL Server 2017 Web on SLES 12 SP2
                      galleryItemIdentity: Microsoft.SQLServer2017WebonSLES12SP2-ARM.1.0.5
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017WebonSLES12SP2-ARM.1.0.5/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017WebonSLES12SP2-ARM.1.0.5/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017WebonSLES12SP2-ARM.1.0.5/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017WebonSLES12SP2-ARM.1.0.5/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017WebonSLES12SP2-ARM.1.0.5/icons/Wide.png
                      offer: SQL2017-SLES12SP2
                      offerVersion: 1.0.5
                      payloadLength: 32212380823
                      productKind: VirtualMachine
                      productProperties:
                        version: 14.0.1000206
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft + SUSE
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Web
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.SQLServer2017WebonUbuntuServer1604LTS-ARM.January
                    name: default/Microsoft.SQLServer2017WebonUbuntuServer1604LTS-ARM.January
                    properties:
                      displayName: SQL Server 2017 Web on Ubuntu Server 16.04 LTS
                      galleryItemIdentity: Microsoft.SQLServer2017WebonUbuntuServer1604LTS-ARM.1.0.3
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017WebonUbuntuServer1604LTS-ARM.January/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017WebonUbuntuServer1604LTS-ARM.January/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017WebonUbuntuServer1604LTS-ARM.January/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017WebonUbuntuServer1604LTS-ARM.January/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017WebonUbuntuServer1604LTS-ARM.January/icons/Wide.png
                      offer: SQL2017-Ubuntu1604
                      offerVersion: 1.0.3
                      payloadLength: 32212380813
                      productKind: VirtualMachine
                      productProperties:
                        version: 14.0.1000210
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft + Canonical
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Web
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.SQLServer2017WebonWindowsServer2016-ARM.January
                    name: default/Microsoft.SQLServer2017WebonWindowsServer2016-ARM.January
                    properties:
                      displayName: SQL Server 2017 Web on Windows Server 2016
                      galleryItemIdentity: Microsoft.SQLServer2017WebonWindowsServer2016-ARM.1.0.3
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017WebonWindowsServer2016-ARM.January/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017WebonWindowsServer2016-ARM.January/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017WebonWindowsServer2016-ARM.January/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017WebonWindowsServer2016-ARM.January/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.SQLServer2017WebonWindowsServer2016-ARM.January/icons/Wide.png
                      offer: SQL2017-WS2016
                      offerVersion: 1.0.3
                      payloadLength: 136367434655
                      productKind: VirtualMachine
                      productProperties:
                        version: 14.0.1000203
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Web
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.SharePointServer2013Trial-ARM
                    name: default/Microsoft.SharePointServer2013Trial-ARM
                    properties:
                      displayName: SharePoint Server 2013 Trial
                      galleryItemIdentity: Microsoft.SharePointServer2013Trial-ARM.1.0.12
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.SharePointServer2013Trial-ARM/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.SharePointServer2013Trial-ARM/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.SharePointServer2013Trial-ARM/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.SharePointServer2013Trial-ARM/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.SharePointServer2013Trial-ARM/icons/Wide.png
                      offer: MicrosoftSharePointServer
                      offerVersion: 1.0.12
                      payloadLength: 136367434242
                      productKind: VirtualMachine
                      productProperties:
                        version: 15.0.4445
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftSharepoint
                      sku: "2013"
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.SharePointServer2016Trial-ARM
                    name: default/Microsoft.SharePointServer2016Trial-ARM
                    properties:
                      displayName: SharePoint Server 2016 Trial
                      galleryItemIdentity: Microsoft.SharePointServer2016Trial-ARM.1.0.8
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.SharePointServer2016Trial-ARM/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.SharePointServer2016Trial-ARM/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.SharePointServer2016Trial-ARM/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.SharePointServer2016Trial-ARM/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.SharePointServer2016Trial-ARM/icons/Wide.png
                      offer: MicrosoftSharePointServer
                      offerVersion: 1.0.8
                      payloadLength: 136367434248
                      productKind: VirtualMachine
                      productProperties:
                        version: 16.0.4358
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftSharepoint
                      sku: "2016"
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.WindowsServer2008R2SP1-ARM.December
                    name: default/Microsoft.WindowsServer2008R2SP1-ARM.December
                    properties:
                      displayName: Windows Server 2008 R2 SP1
                      galleryItemIdentity: Microsoft.WindowsServer2008R2SP1-ARM.1.0.19
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2008R2SP1-ARM.December/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2008R2SP1-ARM.December/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2008R2SP1-ARM.December/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2008R2SP1-ARM.December/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2008R2SP1-ARM.December/icons/Wide.png
                      offer: WindowsServer
                      offerVersion: 1.0.19
                      payloadLength: 136365415348
                      productKind: VirtualMachine
                      productProperties:
                        version: 2.127.20171215
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftWindowsServer
                      sku: 2008-R2-SP1
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.WindowsServer2012Datacenter-ARM.December
                    name: default/Microsoft.WindowsServer2012Datacenter-ARM.December
                    properties:
                      displayName: Windows Server 2012 Datacenter
                      galleryItemIdentity: Microsoft.WindowsServer2012Datacenter-ARM.1.0.19
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2012Datacenter-ARM.December/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2012Datacenter-ARM.December/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2012Datacenter-ARM.December/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2012Datacenter-ARM.December/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2012Datacenter-ARM.December/icons/Wide.png
                      offer: WindowsServer
                      offerVersion: 1.0.19
                      payloadLength: 136365415303
                      productKind: VirtualMachine
                      productProperties:
                        version: 3.127.20171215
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftWindowsServer
                      sku: 2012-Datacenter
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.WindowsServer2012R2Datacenter-ARM.December.1216
                    name: default/Microsoft.WindowsServer2012R2Datacenter-ARM.December.1216
                    properties:
                      displayName: Windows Server 2012 R2 Datacenter
                      galleryItemIdentity: Microsoft.WindowsServer2012R2Datacenter-ARM.1.0.20
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2012R2Datacenter-ARM.December.1216/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2012R2Datacenter-ARM.December.1216/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2012R2Datacenter-ARM.December.1216/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2012R2Datacenter-ARM.December.1216/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2012R2Datacenter-ARM.December.1216/icons/Wide.png
                      offer: WindowsServer
                      offerVersion: 1.0.20
                      payloadLength: 136365415467
                      productKind: VirtualMachine
                      productProperties:
                        version: 4.127.20171216
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftWindowsServer
                      sku: 2012-R2-Datacenter
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.WindowsServer2016Datacenter-ARM.December2
                    name: default/Microsoft.WindowsServer2016Datacenter-ARM.December2
                    properties:
                      displayName: Windows Server 2016 Datacenter
                      galleryItemIdentity: Microsoft.WindowsServer2016Datacenter-ARM.1.0.11
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2016Datacenter-ARM.December2/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2016Datacenter-ARM.December2/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2016Datacenter-ARM.December2/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2016Datacenter-ARM.December2/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2016Datacenter-ARM.December2/icons/Wide.png
                      offer: WindowsServer
                      offerVersion: 1.0.11
                      payloadLength: 136365415886
                      productKind: VirtualMachine
                      productProperties:
                        version: 2016.127.20171216
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftWindowsServer
                      sku: 2016-Datacenter
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.WindowsServer2016DatacenterServerContainers-ARM.December3
                    name: default/Microsoft.WindowsServer2016DatacenterServerContainers-ARM.December3
                    properties:
                      displayName: Windows Server 2016 Datacenter - with Containers
                      galleryItemIdentity: Microsoft.WindowsServer2016DatacenterwithContainers-ARM.1.0.6
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2016DatacenterServerContainers-ARM.December3/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2016DatacenterServerContainers-ARM.December3/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2016DatacenterServerContainers-ARM.December3/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2016DatacenterServerContainers-ARM.December3/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2016DatacenterServerContainers-ARM.December3/icons/Wide.png
                      offer: WindowsServer
                      offerVersion: 1.0.6
                      payloadLength: 136365415706
                      productKind: VirtualMachine
                      productProperties:
                        version: 2016.127.20171215
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftWindowsServer
                      sku: 2016-Datacenter-with-Containers
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Microsoft.WindowsServer2016DatacenterServerCore-ARM.December2
                    name: default/Microsoft.WindowsServer2016DatacenterServerCore-ARM.December2
                    properties:
                      displayName: Windows Server 2016 Datacenter - Server Core
                      galleryItemIdentity: Microsoft.WindowsServer2016DatacenterServerCore-ARM.1.0.8
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2016DatacenterServerCore-ARM.December2/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2016DatacenterServerCore-ARM.December2/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2016DatacenterServerCore-ARM.December2/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2016DatacenterServerCore-ARM.December2/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Microsoft.WindowsServer2016DatacenterServerCore-ARM.December2/icons/Wide.png
                      offer: WindowsServer
                      offerVersion: 1.0.8
                      payloadLength: 136365415915
                      productKind: VirtualMachine
                      productProperties:
                        version: 2016.127.20171215
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftWindowsServer
                      sku: 2016-Datacenter-Server-Core
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/Puppet.PuppetEnterprise.2017.2
                    name: default/Puppet.PuppetEnterprise.2017.2
                    properties:
                      displayName: Puppet Enterprise 2017.2 Solution Template
                      galleryItemIdentity: Puppet.PuppetEnterprise.2017.2.1
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/Puppet.PuppetEnterprise.2017.2/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/Puppet.PuppetEnterprise.2017.2/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/Puppet.PuppetEnterprise.2017.2/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/Puppet.PuppetEnterprise.2017.2/icons/Wide.png
                      offer: SolutionTemplateOffer
                      offerVersion: 1.0.0
                      payloadLength: 3260752
                      productKind: VirtualMachine
                      productProperties:
                        version: 1.0.0
                      provisioningState: Succeeded
                      publisherDisplayName: Puppet
                      publisherIdentifier: Puppet
                      sku: SolutionTemplateSku
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/RogueWave.CentOSbased69-ARM.January
                    name: default/RogueWave.CentOSbased69-ARM.January
                    properties:
                      displayName: CentOS-based 6.9
                      galleryItemIdentity: RogueWave.CentOSbased69-ARM.1.0.7
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/RogueWave.CentOSbased69-ARM.January/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/RogueWave.CentOSbased69-ARM.January/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/RogueWave.CentOSbased69-ARM.January/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/RogueWave.CentOSbased69-ARM.January/icons/Wide.png
                      offer: CentOS
                      offerVersion: 1.0.7
                      payloadLength: 32212327511
                      productKind: VirtualMachine
                      productProperties:
                        version: 6.9.20180105
                      provisioningState: Succeeded
                      publisherDisplayName: Rogue Wave Software (formerly OpenLogic)
                      publisherIdentifier: OpenLogic
                      sku: "6.9"
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/RogueWave.CentOSbased74-ARM.January
                    name: default/RogueWave.CentOSbased74-ARM.January
                    properties:
                      displayName: CentOS-based 7.4
                      galleryItemIdentity: RogueWave.CentOSbased74-ARM.1.0.2
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/RogueWave.CentOSbased74-ARM.January/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/RogueWave.CentOSbased74-ARM.January/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/RogueWave.CentOSbased74-ARM.January/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/RogueWave.CentOSbased74-ARM.January/icons/Wide.png
                      offer: CentOS
                      offerVersion: 1.0.2
                      payloadLength: 32212327539
                      productKind: VirtualMachine
                      productProperties:
                        version: 7.4.20180124
                      provisioningState: Succeeded
                      publisherDisplayName: Rogue Wave Software (formerly OpenLogic)
                      publisherIdentifier: OpenLogic
                      sku: "7.4"
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/RogueWave.CentOSbased74LVM-ARM.January
                    name: default/RogueWave.CentOSbased74LVM-ARM.January
                    properties:
                      displayName: CentOS-based 7.4 LVM
                      galleryItemIdentity: RogueWave.CentOSbased74LVM-ARM.1.0.2
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/RogueWave.CentOSbased74LVM-ARM.January/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/RogueWave.CentOSbased74LVM-ARM.January/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/RogueWave.CentOSbased74LVM-ARM.January/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/RogueWave.CentOSbased74LVM-ARM.January/icons/Wide.png
                      offer: CentOS-LVM
                      offerVersion: 1.0.2
                      payloadLength: 68719549644
                      productKind: VirtualMachine
                      productProperties:
                        version: 7.4.20180122
                      provisioningState: Succeeded
                      publisherDisplayName: Rogue Wave Software (formerly OpenLogic)
                      publisherIdentifier: OpenLogic
                      sku: 7-LVM
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/SQLServer2014SP2EnterpriseWindowsServer2012R2-ARM.January
                    name: default/SQLServer2014SP2EnterpriseWindowsServer2012R2-ARM.January
                    properties:
                      displayName: SQL Server 2014 SP2 Enterprise on Windows Server 2012 R2
                      galleryItemIdentity: Microsoft.SQLServer2014SP2EnterpriseWindowsServer2012R2-ARM.1.0.3
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/SQLServer2014SP2EnterpriseWindowsServer2012R2-ARM.January/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/SQLServer2014SP2EnterpriseWindowsServer2012R2-ARM.January/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/SQLServer2014SP2EnterpriseWindowsServer2012R2-ARM.January/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/SQLServer2014SP2EnterpriseWindowsServer2012R2-ARM.January/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/SQLServer2014SP2EnterpriseWindowsServer2012R2-ARM.January/icons/Wide.png
                      offer: SQL2014SP2-WS2012R2
                      offerVersion: 1.0.3
                      payloadLength: 136367434981
                      productKind: VirtualMachine
                      productProperties:
                        version: 12.10.0
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Enterprise
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/SQLServer2014SP2ExpressWindowsServer2012R2-ARM.January
                    name: default/SQLServer2014SP2ExpressWindowsServer2012R2-ARM.January
                    properties:
                      displayName: SQL Server 2014 SP2 Express on Windows Server 2012 R2
                      galleryItemIdentity: Microsoft.SQLServer2014SP2ExpressWindowsServer2012R2-ARM.1.0.1
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/SQLServer2014SP2ExpressWindowsServer2012R2-ARM.January/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/SQLServer2014SP2ExpressWindowsServer2012R2-ARM.January/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/SQLServer2014SP2ExpressWindowsServer2012R2-ARM.January/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/SQLServer2014SP2ExpressWindowsServer2012R2-ARM.January/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/SQLServer2014SP2ExpressWindowsServer2012R2-ARM.January/icons/Wide.png
                      offer: SQL2014SP2-WS2012R2
                      offerVersion: 1.0.1
                      payloadLength: 136367434697
                      productKind: VirtualMachine
                      productProperties:
                        version: 12.10.0
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Express
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/SQLServer2014SP2StandardWindowsServer2012R2-ARM.January
                    name: default/SQLServer2014SP2StandardWindowsServer2012R2-ARM.January
                    properties:
                      displayName: SQL Server 2014 SP2 Standard on Windows Server 2012 R2
                      galleryItemIdentity: Microsoft.SQLServer2014SP2StandardWindowsServer2012R2-ARM.1.0.3
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/SQLServer2014SP2StandardWindowsServer2012R2-ARM.January/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/SQLServer2014SP2StandardWindowsServer2012R2-ARM.January/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/SQLServer2014SP2StandardWindowsServer2012R2-ARM.January/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/SQLServer2014SP2StandardWindowsServer2012R2-ARM.January/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/SQLServer2014SP2StandardWindowsServer2012R2-ARM.January/icons/Wide.png
                      offer: SQL2014SP2-WS2012R2
                      offerVersion: 1.0.3
                      payloadLength: 136367434829
                      productKind: VirtualMachine
                      productProperties:
                        version: 12.10.0
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Standard
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/SQLServer2014SP2WebWindowsServer2012R2-ARM.January
                    name: default/SQLServer2014SP2WebWindowsServer2012R2-ARM.January
                    properties:
                      displayName: SQL Server 2014 SP2 Web on Windows Server 2012 R2
                      galleryItemIdentity: Microsoft.SQLServer2014SP2WebWindowsServer2012R2-ARM.1.0.3
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/SQLServer2014SP2WebWindowsServer2012R2-ARM.January/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/SQLServer2014SP2WebWindowsServer2012R2-ARM.January/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/SQLServer2014SP2WebWindowsServer2012R2-ARM.January/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/SQLServer2014SP2WebWindowsServer2012R2-ARM.January/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/SQLServer2014SP2WebWindowsServer2012R2-ARM.January/icons/Wide.png
                      offer: SQL2014SP2-WS2012R2
                      offerVersion: 1.0.3
                      payloadLength: 136367434642
                      productKind: VirtualMachine
                      productProperties:
                        version: 12.10.0
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Web
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/SQLServer2016SP1EnterpriseWindowsServer2016.13.1.900302
                    name: default/SQLServer2016SP1EnterpriseWindowsServer2016.13.1.900302
                    properties:
                      displayName: SQL Server 2016 SP1 Enterprise on Windows Server 2016
                      galleryItemIdentity: Microsoft.SQLServer2016SP1EnterpriseWindowsServer2016-ARM.1.0.4
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/SQLServer2016SP1EnterpriseWindowsServer2016.13.1.900302/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/SQLServer2016SP1EnterpriseWindowsServer2016.13.1.900302/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/SQLServer2016SP1EnterpriseWindowsServer2016.13.1.900302/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/SQLServer2016SP1EnterpriseWindowsServer2016.13.1.900302/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/SQLServer2016SP1EnterpriseWindowsServer2016.13.1.900302/icons/Wide.png
                      offer: SQL2016SP1-WS2016
                      offerVersion: 13.1.900302
                      payloadLength: 136367436121
                      productKind: VirtualMachine
                      productProperties:
                        version: 13.1.900302
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Enterprise
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/SQLServer2016SP1StandardWindowsServer2016.13.1.900302
                    name: default/SQLServer2016SP1StandardWindowsServer2016.13.1.900302
                    properties:
                      displayName: SQL Server 2016 SP1 Standard on Windows Server 2016
                      galleryItemIdentity: Microsoft.SQLServer2016SP1StandardWindowsServer2016-ARM.1.0.3
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/SQLServer2016SP1StandardWindowsServer2016.13.1.900302/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/SQLServer2016SP1StandardWindowsServer2016.13.1.900302/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/SQLServer2016SP1StandardWindowsServer2016.13.1.900302/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/SQLServer2016SP1StandardWindowsServer2016.13.1.900302/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/SQLServer2016SP1StandardWindowsServer2016.13.1.900302/icons/Wide.png
                      offer: SQL2016SP1-WS2016
                      offerVersion: 13.1.900302
                      payloadLength: 136367435141
                      productKind: VirtualMachine
                      productProperties:
                        version: 13.1.900302
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Standard
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/SQLServer2016SP1WebWindowsServer2016.13.1.900302
                    name: default/SQLServer2016SP1WebWindowsServer2016.13.1.900302
                    properties:
                      displayName: SQL Server 2016 SP1 Web on Windows Server 2016
                      galleryItemIdentity: Microsoft.SQLServer2016SP1WebWindowsServer2016-ARM.1.0.3
                      iconUris:
                        hero: https://azstmktprod001.azureedge.net/SQLServer2016SP1WebWindowsServer2016.13.1.900302/icons/Hero.png
                        large: https://azstmktprod001.azureedge.net/SQLServer2016SP1WebWindowsServer2016.13.1.900302/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/SQLServer2016SP1WebWindowsServer2016.13.1.900302/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/SQLServer2016SP1WebWindowsServer2016.13.1.900302/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/SQLServer2016SP1WebWindowsServer2016.13.1.900302/icons/Wide.png
                      offer: SQL2016SP1-WS2016
                      offerVersion: 13.1.900302
                      payloadLength: 136367434993
                      productKind: VirtualMachine
                      productProperties:
                        version: 13.1.900302
                      provisioningState: Succeeded
                      publisherDisplayName: Microsoft
                      publisherIdentifier: MicrosoftSQLServer
                      sku: Web
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/SUSE.SUSELinuxEnterpriseServer11SP4BringYourOwnSubscription-ARM
                    name: default/SUSE.SUSELinuxEnterpriseServer11SP4BringYourOwnSubscription-ARM
                    properties:
                      displayName: SLES 11 SP4 (BYOS)
                      galleryItemIdentity: SUSE.SUSELinuxEnterpriseServer11SP4BringYourOwnSubscription-ARM.1.0.5
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/SUSE.SUSELinuxEnterpriseServer11SP4BringYourOwnSubscription-ARM/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/SUSE.SUSELinuxEnterpriseServer11SP4BringYourOwnSubscription-ARM/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/SUSE.SUSELinuxEnterpriseServer11SP4BringYourOwnSubscription-ARM/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/SUSE.SUSELinuxEnterpriseServer11SP4BringYourOwnSubscription-ARM/icons/Wide.png
                      offer: SLES-BYOS
                      offerVersion: 1.0.5
                      payloadLength: 32212310994
                      productKind: VirtualMachine
                      productProperties:
                        version: 2.16.0
                      provisioningState: Succeeded
                      publisherDisplayName: SUSE
                      publisherIdentifier: SUSE
                      sku: 11-SP4
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/SUSE.SUSELinuxEnterpriseServer12SP3BringYourOwnSubscription-ARM.1.0.0
                    name: default/SUSE.SUSELinuxEnterpriseServer12SP3BringYourOwnSubscription-ARM.1.0.0
                    properties:
                      displayName: SLES 12 SP3 (BYOS)
                      galleryItemIdentity: SUSE.SUSELinuxEnterpriseServer12SP3BringYourOwnSubscription-ARM.1.0.0
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/SUSE.SUSELinuxEnterpriseServer12SP3BringYourOwnSubscription-ARM.1.0.0/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/SUSE.SUSELinuxEnterpriseServer12SP3BringYourOwnSubscription-ARM.1.0.0/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/SUSE.SUSELinuxEnterpriseServer12SP3BringYourOwnSubscription-ARM.1.0.0/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/SUSE.SUSELinuxEnterpriseServer12SP3BringYourOwnSubscription-ARM.1.0.0/icons/Wide.png
                      offer: SLES-BYOS
                      offerVersion: 1.0.0
                      payloadLength: 32212311023
                      productKind: VirtualMachine
                      productProperties:
                        version: 2018.01.04
                      provisioningState: Succeeded
                      publisherDisplayName: SUSE
                      publisherIdentifier: SUSE
                      sku: 12-SP3
                    type: Microsoft.AzureBridge.Admin/activations/products
                  - id: /subscriptions/b6a34e73-810f-4564-881a-8434c6c2e5c8/resourceGroups/azurestack-activation/providers/Microsoft.AzureBridge.Admin/activations/default/products/SUSE.SUSEManager30ProxyBringYourOwnSubscription-ARM
                    name: default/SUSE.SUSEManager30ProxyBringYourOwnSubscription-ARM
                    properties:
                      displayName: SUSE Manager 3.0 Proxy (BYOS)
                      galleryItemIdentity: SUSE.SUSEManager30ProxyBringYourOwnSubscription-ARM.1.0.0
                      iconUris:
                        large: https://azstmktprod001.azureedge.net/SUSE.SUSEManager30ProxyBringYourOwnSubscription-ARM/icons/Large.png
                        medium: https://azstmktprod001.azureedge.net/SUSE.SUSEManager30ProxyBringYourOwnSubscription-ARM/icons/Medium.png
                        small: https://azstmktprod001.azureedge.net/SUSE.SUSEManager30ProxyBringYourOwnSubscription-ARM/icons/Small.png
                        wide: https://azstmktprod001.azureedge.net/SUSE.SUSEManager30ProxyBringYourOwnSubscription-ARM/icons/Wide.png
                      offer: SUSE-Manager-Proxy-BYOS
                      offerVersion: 1.0.0
                      payloadLength: 32212310789
                      productKind: VirtualMachine
                      productProperties:
                        version: 1.0.0
                      provisioningState: Succeeded
                      publisherDisplayName: SUSE
                      publisherIdentifier: SUSE
                      sku: "3.0"
                    type: Microsoft.AzureBridge.Admin/activations/products
[...]
