swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: These APIs allow end users to operate on Azure Machine Learning Workspace resources. They support CRUD operations for Azure Machine Learning Workspaces.
  title: Machine Learning Workspaces Management Client
  version: 2016-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/machinelearning/resource-manager/Microsoft.MachineLearning/stable/2016-04-01/workspaces.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: machinelearning-workspaces
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: The client API version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupParameter:
    description: The name of the resource group to which the machine learning workspace belongs.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The Microsoft Azure subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
  WorkspaceNameParameter:
    description: The name of the machine learning workspace.
    in: path
    name: workspaceName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.MachineLearning/operations:
    get:
      description: Lists all of the available Azure Machine Learning Studio REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operation
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.MachineLearning/workspaces":
    get:
      description: Lists all the available machine learning workspaces under the specified subscription.
      operationId: Workspaces_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/WorkspaceListResult"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Workspaces
      x-ms-examples:
        WorkspaceGetBySubscription:
          parameters:
            api-version: 2016-04-01
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace
                    location: East US
                    name: testworkspace
                    properties:
                      creationTime: 2017-03-01T23:14:37.0707808Z
                      keyVaultIdentifierId: kvid
                      ownerEmail: abc@microsoft.com
                      studioEndpoint: https://studioapi.azureml.net
                      userStorageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage1
                      workspaceId: 00000000-1111-2222-3333-444444444444
                      workspaceState: Enabled
                      workspaceType: PaidStandard
                    type: Microsoft.MachineLearning/workspaces
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace1
                    location: East US
                    name: testworkspace1
                    properties:
                      creationTime: 2017-03-01T23:16:37.0707808Z
                      keyVaultIdentifierId: kvid
                      ownerEmail: abc@microsoft.com
                      studioEndpoint: https://studioapi.azureml.net
                      userStorageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage1
                      workspaceId: 00000000-1111-2222-3333-444444444444
                      workspaceState: Enabled
                      workspaceType: PaidStandard
                    type: Microsoft.MachineLearning/workspaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces":
    get:
      description: Lists all the available machine learning workspaces under the specified resource group.
      operationId: Workspaces_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/WorkspaceListResult"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Workspaces
      x-ms-examples:
        WorkspaceListResourceGroup:
          parameters:
            api-version: 2016-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace
                    location: East US
                    name: testworkspace
                    properties:
                      creationTime: 2017-03-01T23:14:37.0707808Z
                      keyVaultIdentifierId: kvid
                      ownerEmail: abc@microsoft.com
                      studioEndpoint: https://studioapi.azureml.net
                      userStorageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage1
                      workspaceId: 00000000-1111-2222-3333-444444444444
                      workspaceState: Enabled
                      workspaceType: PaidStandard
                    type: Microsoft.MachineLearning/workspaces
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace1
                    location: East US
                    name: testworkspace1
                    properties:
                      creationTime: 2017-03-01T23:16:37.0707808Z
                      keyVaultIdentifierId: kvid
                      ownerEmail: abc@microsoft.com
                      studioEndpoint: https://studioapi.azureml.net
                      userStorageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage1
                      workspaceId: 00000000-1111-2222-3333-444444444444
                      workspaceState: Enabled
                      workspaceType: PaidStandard
                    type: Microsoft.MachineLearning/workspaces
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces/{workspaceName}":
    delete:
      description: Deletes a machine learning workspace.
      operationId: Workspaces_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
        "204":
          description: The machine learning workspace does not exist in the subscription.
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Workspaces
      x-ms-examples:
        WorkspaceDelete:
          parameters:
            api-version: 2016-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the properties of the specified machine learning workspace.
      operationId: Workspaces_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Workspace"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Workspaces
      x-ms-examples:
        WorkspaceGet:
          parameters:
            api-version: 2016-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace
                location: East US
                name: testworkspace
                properties:
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  keyVaultIdentifierId: kvid
                  ownerEmail: abc@microsoft.com
                  studioEndpoint: https://studioapi.azureml.net
                  userStorageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage
                  workspaceId: 00000000-1111-2222-3333-444444444444
                  workspaceState: Enabled
                  workspaceType: PaidStandard
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearning/workspaces
    patch:
      description: Updates a machine learning workspace with the specified parameters.
      operationId: Workspaces_Update
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - description: The parameters for updating a machine learning workspace.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/WorkspaceUpdateParameters"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/Workspace"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Workspaces
      x-ms-examples:
        WorkspaceUpdate:
          parameters:
            api-version: 2016-04-01
            parameters:
              properties:
                keyVaultIdentifierId: kvidnew
              tags:
                tagKey1: TagValue1
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace
                location: East US
                name: testworkspace
                properties:
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  keyVaultIdentifierId: kvidnew
                  ownerEmail: abc@microsoft.com
                  studioEndpoint: https://studioapi.azureml.net
                  userStorageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage
                  workspaceId: 00000000-1111-2222-3333-444444444444
                  workspaceState: Enabled
                  workspaceType: PaidStandard
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearning/workspaces
    put:
      description: Creates or updates a workspace with the specified parameters.
      operationId: Workspaces_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - description: The parameters for creating or updating a machine learning workspace.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Workspace"
      responses:
        "200":
          description: The request was successful; the resource already exists and was updated.
          schema:
            $ref: "#/definitions/Workspace"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Workspaces
      x-ms-examples:
        WorkspaceCreate:
          parameters:
            api-version: 2016-04-01
            parameters:
              location: West Europe
              properties:
                ownerEmail: abc@microsoft.com
                userStorageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage
              tags:
                tagKey1: TagValue1
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.MachineLearning/workspaces/testworkspace
                location: East US
                name: testworkspace
                properties:
                  creationTime: 2017-03-01T23:14:37.0707808Z
                  keyVaultIdentifierId: kvid
                  ownerEmail: abc@microsoft.com
                  studioEndpoint: https://studioapi.azureml.net
                  userStorageAccountId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.Storage/storageAccounts/teststorage
                  workspaceId: 00000000-1111-2222-3333-444444444444
                  workspaceState: Enabled
                  workspaceType: PaidStandard
                tags:
                  tagKey1: TagValue1
                type: Microsoft.MachineLearning/workspaces
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces/{workspaceName}/listWorkspaceKeys":
    post:
      description: List the authorization keys associated with this workspace.
      operationId: Workspaces_ListWorkspaceKeys
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
          schema:
            $ref: "#/definitions/WorkspaceKeysResponse"
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Workspaces
      x-ms-examples:
        ListWorkspaceKeys:
          parameters:
            api-version: 2016-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200":
              body:
                primaryToken: cZdmqKBYLEPcPo7dsfdfefeSlKpnxybJ86KSQGLarmLik2MYMxHijwsDIZ+d1mGtYJz3mlI5AEnxu8QqHcUjSA==
                secondaryToken: NPtbk8ksmLvsasasonFeTjw/k7QLz/SEdKN8+SyzKRcPzOVTQcR6C0O1fwmlELnCsYLjs+13yzdJ+4+Lxo3LtZ2g==
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearning/workspaces/{workspaceName}/resyncStorageKeys":
    post:
      description: Resync storage keys associated with this workspace.
      operationId: Workspaces_ResyncStorageKeys
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/WorkspaceNameParameter"
        - $ref: "#/parameters/ResourceGroupParameter"
      responses:
        "200":
          description: The request was successful; the request was well-formed and received properly.
        default:
          description: Error response describing why the operation failed
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Workspaces
      x-ms-examples:
        ResyncStorageKeys:
          parameters:
            api-version: 2016-04-01
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
            workspaceName: testworkspace
          responses:
            "200": {}
definitions:
  ErrorResponse:
    description: The error response send when an operation fails.
    properties:
      code:
        description: error code
        type: string
      message:
        description: error message
        type: string
    required:
      - code
      - message
  Operation:
    description: Azure Machine Learning Studio REST API operation
    properties:
      display:
        description: Display name of operation
        properties:
          description:
            description: The description for the operation.
            type: string
          operation:
            description: The operation that users can perform.
            type: string
          provider:
            description: "The resource provider name: Microsoft.MachineLearning"
            type: string
          resource:
            description: The resource on which the operation is performed.
            type: string
      name:
        description: "Operation name: {provider}/{resource}/{operation}"
        type: string
    type: object
  OperationListResult:
    description: An array of operations supported by the resource provider.
    properties:
      value:
        description: List of AML Studio operations supported by the AML Studio resource provider.
        items:
          $ref: "#/definitions/Operation"
        type: array
  Resource:
    description: An Azure resource.
    properties:
      id:
        description: The resource ID.
        readOnly: true
        type: string
      location:
        description: The location of the resource. This cannot be changed after the resource is created.
        type: string
      name:
        description: The name of the resource.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: The tags of the resource.
        type: object
      type:
        description: The type of the resource.
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  Workspace:
    allOf:
      - $ref: "#/definitions/Resource"
    description: An object that represents a machine learning workspace.
    properties:
      properties:
        $ref: "#/definitions/WorkspaceProperties"
        description: The properties of the machine learning workspace.
        x-ms-client-flatten: true
    type: object
  WorkspaceKeysResponse:
    description: Workspace authorization keys for a workspace.
    properties:
      primaryToken:
        description: Primary authorization key for this workspace.
        type: string
      secondaryToken:
        description: Secondary authorization key for this workspace.
        type: string
    type: object
  WorkspaceListResult:
    description: The result of a request to list machine learning workspace keys.
    properties:
      nextLink:
        description: The URI that can be used to request the next list of machine learning workspaces.
        type: string
      value:
        description: The list of machine learning workspaces. Since this list may be incomplete, the nextLink field should be used to request the next list of machine learning workspaces.
        items:
          $ref: "#/definitions/Workspace"
        type: array
  WorkspaceProperties:
    description: The properties of a machine learning workspace.
    properties:
      creationTime:
        description: The creation time for this workspace resource.
        readOnly: true
        type: string
      keyVaultIdentifierId:
        description: The key vault identifier used for encrypted workspaces.
        type: string
      ownerEmail:
        description: The email id of the owner for this workspace.
        type: string
      studioEndpoint:
        description: The regional endpoint for the machine learning studio service which hosts this workspace.
        readOnly: true
        type: string
      userStorageAccountId:
        description: The fully qualified arm id of the storage account associated with this workspace.
        type: string
      workspaceId:
        description: The immutable id associated with this workspace.
        readOnly: true
        type: string
      workspaceState:
        description: The current state of workspace resource.
        enum:
          - Deleted
          - Enabled
          - Disabled
          - Migrated
          - Updated
          - Registered
          - Unregistered
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: WorkspaceState
      workspaceType:
        description: The type of this workspace.
        enum:
          - Production
          - Free
          - Anonymous
          - PaidStandard
          - PaidPremium
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: WorkspaceType
    required:
      - userStorageAccountId
      - ownerEmail
    type: object
  WorkspacePropertiesUpdateParameters:
    description: The parameters for updating the properties of a machine learning workspace.
    properties:
      keyVaultIdentifierId:
        description: The key vault identifier used for encrypted workspaces.
        type: string
      workspaceState:
        description: The current state of workspace resource.
        enum:
          - Deleted
          - Enabled
          - Disabled
          - Migrated
          - Updated
          - Registered
          - Unregistered
        type: string
        x-ms-enum:
          modelAsString: false
          name: WorkspaceState
  WorkspaceUpdateParameters:
    description: The parameters for updating a machine learning workspace.
    properties:
      properties:
        $ref: "#/definitions/WorkspacePropertiesUpdateParameters"
        description: The properties that the machine learning workspace will be updated with.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: The resource tags for the machine learning workspace.
        type: object
