openapi: 3.0.0
servers:
  - url: https://api.interzoid.com
info:
  contact:
    email: support@interzoid.com
    name: API Support
    url: https://www.interzoid.com
    x-twitter: interzoid
  description: This API provides a timed, browser-simulated page load function (or a measured API call) from the specified geography using a server from that geography.
  license:
    name: Interzoid license
    url: https://www.interzoid.com/license
  termsOfService: https://www.interzoid.com/terms
  title: Interzoid Global Page Load Performance API
  version: 1.0.0
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_interzoid_profile_image.png
  x-origin:
    - format: openapi
      url: https://oas.interzoid.com/api/globalpageload.json
      version: "3.0"
  x-providerName: interzoid.com
  x-serviceName: globalpageload
externalDocs:
  description: API home page and documentation
  url: https://www.interzoid.com/services/globalpageload
paths:
  /globalpageload:
    get:
      description: |
        Gets page load performance from a specified geography
      operationId: globalpageload
      parameters:
        - description: Your Interzoid license API key. Register at www.interzoid.com/register
          in: query
          name: license
          required: true
          schema:
            type: string
        - description: Geographic location to perform the measurement from (Paris, Hong Kong, Seoul, Mumbai, Sao Paolo, London, etc. see API home page for full list)
          in: query
          name: origin
          required: true
          schema:
            type: string
        - description: specific URL to perform load test time
          in: query
          name: url
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  Code:
                    type: string
                  Contents:
                    type: string
                  Credits:
                    type: string
                  Origin:
                    type: string
                  PageResponseStatus:
                    type: string
                  Seconds:
                    type: string
                type: object
          description: Page load performance measurement response
        "400":
          description: bad request - insufficient parameters
        "402":
          description: credits exhausted
        "403":
          description: invalid license API key
        "404":
          description: origin or url note found
        "405":
          description: method not allowed
        "500":
          description: internal server error
      summary: Gets page load (or an API call) performance from a specified global geography such as Paris, Tokyo, Virginia, Mumbai, Frankfurt, London, Seoul, California, Sao Paolo, and many more.
      tags:
        - Page Load Performance Time
