swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: DataBoxManagementClient
  version: 2018-01-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/databox/resource-manager/Microsoft.DataBox/stable/2018-01-01/databox.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: databox
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: The API Version
    in: query
    name: api-version
    required: true
    type: string
  jobNameParameter:
    description: The name of the job Resource within the specified resource group. job names must be between 3 and 24 characters in length and use any alphanumeric and underscore only
    in: path
    maxLength: 24
    minLength: 3
    name: jobName
    pattern: ^[-\w\.]+$
    required: true
    type: string
    x-ms-parameter-location: method
  locationParameter:
    description: The location of the resource
    in: path
    name: location
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: The Resource Group Name
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: The Subscription Id
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.DataBox/operations:
    get:
      description: This method gets all the operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: The supported operations list.
          schema:
            $ref: "#/definitions/OperationList"
      tags:
        - Operations
      x-ms-examples:
        OperationsGet:
          parameters:
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.1.0
            accept-language:
              - en-US
            api-version: 2018-01-01
            x-ms-client-request-id:
              - 69fc02f6-5d9f-42d5-8d98-b5a943b8c888
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Cancels an order in progress.
                      operation: Cancel
                      provider: Azure Data Box
                      resource: Orders
                    name: Microsoft.DataBox/jobs/cancel/action
                    origin: user
                    properties: {}
                  - display:
                      description: Allows to book a pick up for return shipments.
                      operation: Book Shipment Pick Up
                      provider: Azure Data Box
                      resource: Orders
                    name: Microsoft.DataBox/jobs/bookShipmentPickUp/action
                    origin: user
                    properties: {}
                  - display:
                      description: List or get the Orders
                      operation: List Orders
                      provider: Azure Data Box
                      resource: Orders
                    name: Microsoft.DataBox/jobs/read
                    origin: user
                    properties: {}
                  - display:
                      description: Delete the Orders
                      operation: Delete Orders
                      provider: Azure Data Box
                      resource: Orders
                    name: Microsoft.DataBox/jobs/delete
                    origin: user
                    properties: {}
                  - display:
                      description: Create or update the Orders
                      operation: Create or Update Orders
                      provider: Azure Data Box
                      resource: Orders
                    name: Microsoft.DataBox/jobs/write
                    origin: user
                    properties: {}
                  - display:
                      description: Lists the unencrypted credentials related to the order.
                      operation: List Credentials
                      provider: Azure Data Box
                      resource: Orders
                    name: Microsoft.DataBox/jobs/listCredentials/action
                    origin: user
                    properties: {}
                  - display:
                      description: Validates the shipping address and provides alternate addresses if any.
                      operation: Validate Address
                      provider: Azure Data Box
                      resource: Validate Address
                    name: Microsoft.DataBox/locations/validateAddress/action
                    origin: user
                    properties: {}
                  - display:
                      description: This method returns the list of available skus.
                      operation: Availabe Skus
                      provider: Azure Data Box
                      resource: Available Skus
                    name: Microsoft.DataBox/locations/availableSkus/action
                    origin: user
                    properties: {}
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/jobs":
    get:
      description: Lists all the jobs available under the subscription.
      operationId: Jobs_List
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: $skipToken is supported on Get list of jobs, which provides the next page in the list of jobs.
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        "200":
          description: List of jobs available under the subscription.
          schema:
            $ref: "#/definitions/JobResourceList"
      tags:
        - Jobs
      x-ms-examples:
        JobsList:
          parameters:
            $expand: details
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.1.0
            accept-language:
              - en-US
            api-version: 2018-01-01
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - 03e7ecda-9d8a-4883-ad1e-26ce670891ee
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/providers/Microsoft.DataBox/jobs?api-version=2018-01-01&%24skiptoken=dVJrb5swFP0v0bZvKcaBFipVUx5A0wVCDOb1zQZCDBhYIM%2bq%2f33uonXStEr%2bYN1z7zlH99zXUZOfhxVrqn70%2bDoKDc%2fH3uhxtBuGrn%2bUJE4aUuQ8b4Y7cj3s87u05VJ%2foH26Z93A2qaXtuReAxrcjrXt9mGsEKiOdTV9GKe5nhFVkaECt1K3b48sy%2fe9ZLN03%2fbtdrhbkIHM2rNUtrT%2fTjo2PgpcUD5BIGtjIIv37Utfsc5vq7x5che6QsNTkfHgksL6SEvAbE85Ldmsptw5JlZ9SK6AZRHiK9%2bAy1L7Culi02obqB8ygWahCUioHwJL3yehckOL5eK8oFAViCrHEerEH1M41LRUnDmbFsv5VAs%2bNJXLqpxqKzmp08YRvR8s82nhmkhNLSx4A8tk1MKi709F%2bHhnKlxDrfNntImjF0BuaqskqsSM7RlC0CQU44sP0Mwx5CGMkIvkbvCb6mSbNfZ80w6s%2fhxGXZmZ1SXwA4IAPvsVMnOsGh6X47x64XGd9YQ7wzrqmF23J9%2bSPWKhZ8RrZsMd93GspuHy4jWttgKfOfrHs0cn2V%2bvE4eZJQ2S%2b7h0wjwQXhqUhMbLJA5Smda7%2bw1PShqi31okRAdczphd1tcYyqV9wysEdeDzzrEr9Sf2nXVeGRcfo8AGKk6ujhtYqezO9XUS7QDm%2bsSDgeoW4Mf7JkVuWGyxSSJkU%2bjsRMLiJtRNyutB1FUx9x%2f8lqnAPs%2b8PB0%2fv5jR29sv
                value:
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/ausresgrpmn/providers/Microsoft.DataBox/jobs/mnaustest
                    location: australiaeast
                    name: mnaustest
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-08-30T14:44:39.77401+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBoxDisk
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/ausresgrpmn/providers/Microsoft.DataBox/jobs/portalcontractAUS
                    location: australiaeast
                    name: portalcontractAUS
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-09-10T18:03:22.2578238+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBoxDisk
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/testBB/providers/Microsoft.DataBox/jobs/testBB-diskAU
                    location: australiaeast
                    name: testBB-diskAU
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-08-30T15:17:17.3753642+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBoxDisk
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/akvenkat/providers/Microsoft.DataBox/jobs/TestPortalContract
                    location: westus
                    name: TestPortalContract
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-09-08T22:46:11.5143859+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/autoallocation/providers/Microsoft.DataBox/jobs/testheavy1
                    location: westus
                    name: testheavy1
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-08-21T15:19:38.5967539+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBoxHeavy
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/autoallocation/providers/Microsoft.DataBox/jobs/TJ-636657717727899366
                    location: westus
                    name: TJ-636657717727899366
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-06-28T14:07:33.0497881+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/abvetestups
                    location: westus
                    name: abvetestups
                    properties:
                      isCancellable: false
                      isDeletable: false
                      isShippingAddressEditable: false
                      startTime: 2018-09-06T16:23:58.7665181+05:30
                      status: PickedUp
                    sku:
                      name: DataBoxDisk
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/disksmoketest
                    location: westus
                    name: disksmoketest
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-08-21T14:08:42.9538214+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBoxDisk
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/heavyjob1029039
                    location: westus
                    name: heavyjob1029039
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-08-08T07:52:22.8655902+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBoxHeavy
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/heavyjob1029039-Clone
                    location: westus
                    name: heavyjob1029039-Clone
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-08-30T14:26:12.0791245+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBoxHeavy
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/sojaintest1
                    location: westus
                    name: sojaintest1
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-07-06T05:48:00.4841388+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/testacispasskey
                    location: westus
                    name: testacispasskey
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-09-04T12:05:35.7885962+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBoxDisk
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/testacispasskey1
                    location: westus
                    name: testacispasskey1
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-09-04T12:19:50.1313891+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBoxDisk
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/testacispasskey2
                    location: westus
                    name: testacispasskey2
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-09-04T12:27:03.679307+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBoxDisk
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/testingpasskey
                    location: westus
                    name: testingpasskey
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-09-04T02:24:49.5106952+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBoxDisk
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/testingpasskey1
                    location: westus
                    name: testingpasskey1
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-09-04T03:37:18.5000801+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBoxDisk
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/TJ-636644753834613064
                    location: westus
                    name: TJ-636644753834613064
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-06-13T14:01:22.0918861+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/TJ-636645978308049673
                    location: westus
                    name: TJ-636645978308049673
                    properties:
                      isCancellable: false
                      isDeletable: false
                      isShippingAddressEditable: false
                      startTime: 2018-06-15T00:01:51.7887418+05:30
                      status: PickedUp
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/TJ-636645978327256231
                    location: westus
                    name: TJ-636645978327256231
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-06-15T00:00:55.8926702+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/TJ-636645978337105060
                    location: westus
                    name: TJ-636645978337105060
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-06-15T00:00:49.1912624+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/TJ-636646322037905056
                    location: westus
                    name: TJ-636646322037905056
                    properties:
                      isCancellable: false
                      isDeletable: false
                      isShippingAddressEditable: false
                      startTime: 2018-06-15T09:34:08.5731715+05:30
                      status: Delivered
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/TJ-636646322198505202
                    location: westus
                    name: TJ-636646322198505202
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-06-15T09:33:44.4557174+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/TJ-636646842116642570
                    location: westus
                    name: TJ-636646842116642570
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-06-16T00:00:42.7564714+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/TJ-636646842129749628
                    location: westus
                    name: TJ-636646842129749628
                    properties:
                      isCancellable: false
                      isDeletable: false
                      isShippingAddressEditable: false
                      startTime: 2018-06-16T00:00:37.1560297+05:30
                      status: DevicePrepared
                    sku:
                      name: DataBoxDisk
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/TJ-636646842130208643
                    location: westus
                    name: TJ-636646842130208643
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-06-16T00:00:55.5759323+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/TJ-636646842175867545
                    location: westus
                    name: TJ-636646842175867545
                    properties:
                      isCancellable: false
                      isDeletable: false
                      isShippingAddressEditable: false
                      startTime: 2018-06-16T00:01:43.7487451+05:30
                      status: PickedUp
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/TJ-636646842185996513
                    location: westus
                    name: TJ-636646842185996513
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-06-16T00:00:40.1336605+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBoxDisk
                    tags: {}
                    type: Microsoft.DataBox/jobs
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/bvttoolrg6/providers/Microsoft.DataBox/jobs/TJ-636647706054109071
                    location: westus
                    name: TJ-636647706054109071
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-06-17T00:00:22.60807+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/availableSkus":
    post:
      description: This method provides the list of available skus for the given subscription and location.
      operationId: Service_ListAvailableSkus
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/locationParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Filters for showing the available skus.
          in: body
          name: availableSkuRequest
          required: true
          schema:
            $ref: "#/definitions/AvailableSkuRequest"
      responses:
        "200":
          description: The list of available skus.
          schema:
            $ref: "#/definitions/AvailableSkusResult"
      tags:
        - Service
      x-ms-examples:
        AvailableSkusPost:
          parameters:
            Content-Length:
              - "84"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.1.0
            accept-language:
              - en-US
            api-version: 2018-01-01
            availableSkuRequest:
              country: US
              location: westus
              transferType: ImportToAzure
            location: westus
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - a69a48a0-a372-444d-9251-83828238a521
          responses:
            "200":
              body:
                value:
                  - enabled: true
                    properties:
                      apiVersions:
                        - 2018-01-01
                      capacity:
                        maximum: "100"
                        usable: "80"
                      costs:
                        - meterId: 0cf23ffc-0b64-49e6-9bdd-1db885349042
                          meterType: DataBoxServiceFee
                        - meterId: a701f058-119b-4713-a923-bed7da4b7801
                          meterType: DataBoxShippingFee
                        - meterId: 049fa331-0a48-4a81-9991-a6bef3c79fed
                          meterType: DataBoxExtraDayFee
                      destinationToServiceLocationMap:
                        - destinationLocation: westus
                          serviceLocation: westus
                        - destinationLocation: centralus
                          serviceLocation: westus
                        - destinationLocation: eastus
                          serviceLocation: westus
                        - destinationLocation: eastus2
                          serviceLocation: westus
                        - destinationLocation: northcentralus
                          serviceLocation: westus
                        - destinationLocation: southcentralus
                          serviceLocation: westus
                        - destinationLocation: westcentralus
                          serviceLocation: westus
                        - destinationLocation: westus2
                          serviceLocation: westus
                        - destinationLocation: centraluseuap
                          serviceLocation: centraluseuap
                        - destinationLocation: eastus2euap
                          serviceLocation: eastus2euap
                      disabledReason: None
                    sku:
                      name: DataBox
                  - enabled: true
                    properties:
                      apiVersions:
                        - 2018-01-01
                      capacity:
                        maximum: "40"
                        usable: "35"
                      costs: []
                      destinationToServiceLocationMap:
                        - destinationLocation: westus
                          serviceLocation: westus
                        - destinationLocation: centralus
                          serviceLocation: westus
                        - destinationLocation: eastus
                          serviceLocation: westus
                        - destinationLocation: eastus2
                          serviceLocation: westus
                        - destinationLocation: northcentralus
                          serviceLocation: westus
                        - destinationLocation: southcentralus
                          serviceLocation: westus
                        - destinationLocation: westcentralus
                          serviceLocation: westus
                        - destinationLocation: westus2
                          serviceLocation: westus
                        - destinationLocation: centraluseuap
                          serviceLocation: centraluseuap
                        - destinationLocation: eastus2euap
                          serviceLocation: eastus2euap
                      disabledReason: None
                    sku:
                      name: DataBoxDisk
                  - enabled: true
                    properties:
                      apiVersions:
                        - 2018-01-01
                      capacity:
                        maximum: "1000"
                        usable: "800"
                      costs: []
                      destinationToServiceLocationMap:
                        - destinationLocation: westus
                          serviceLocation: westus
                        - destinationLocation: centralus
                          serviceLocation: westus
                        - destinationLocation: eastus
                          serviceLocation: westus
                        - destinationLocation: eastus2
                          serviceLocation: westus
                        - destinationLocation: northcentralus
                          serviceLocation: westus
                        - destinationLocation: southcentralus
                          serviceLocation: westus
                        - destinationLocation: westcentralus
                          serviceLocation: westus
                        - destinationLocation: westus2
                          serviceLocation: westus
                        - destinationLocation: centraluseuap
                          serviceLocation: centraluseuap
                        - destinationLocation: eastus2euap
                          serviceLocation: eastus2euap
                      disabledReason: None
                      requiredFeature: HeavyCreateAccess
                    sku:
                      name: DataBoxHeavy
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/validateAddress":
    post:
      description: This method validates the customer shipping address and provide alternate addresses if any.
      operationId: Service_ValidateAddress
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/locationParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Shipping address of the customer.
          in: body
          name: validateAddress
          required: true
          schema:
            $ref: "#/definitions/ValidateAddress"
      responses:
        "200":
          description: The valid and alternate addresses.
          schema:
            $ref: "#/definitions/AddressValidationOutput"
      tags:
        - Service
      x-ms-examples:
        ValidateAddressPost:
          parameters:
            Content-Length:
              - "311"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.1.0
            accept-language:
              - en-US
            api-version: 2018-01-01
            location: westus
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            validateAddress:
              deviceType: DataBox
              shippingAddress:
                addressType: Commercial
                city: San Francisco
                companyName: Microsoft
                country: US
                postalCode: "94107"
                stateOrProvince: CA
                streetAddress1: 16 TOWNSEND ST
                streetAddress2: Unit 1
            x-ms-client-request-id:
              - 9f1830f8-1cf7-4145-8b34-0742d9c9be13
          responses:
            "200":
              body:
                properties:
                  alternateAddresses:
                    - addressType: None
                      city: SAN FRANCISCO
                      country: US
                      postalCode: "94107"
                      stateOrProvince: CA
                      streetAddress1: 16 TOWNSEND ST
                      streetAddress2: Unit 1
                      streetAddress3: ""
                  validationStatus: Valid
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs":
    get:
      description: Lists all the jobs available under the given resource group.
      operationId: Jobs_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: $skipToken is supported on Get list of jobs, which provides the next page in the list of jobs.
          in: query
          name: $skipToken
          required: false
          type: string
      responses:
        "200":
          description: List of jobs by resource group.
          schema:
            $ref: "#/definitions/JobResourceList"
      tags:
        - Jobs
      x-ms-examples:
        JobsListByResourceGroup:
          parameters:
            $expand: details
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.1.0
            accept-language:
              - en-US
            api-version: 2018-01-01
            resourceGroupName: SdkRg9836
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - 62542393-3051-4952-8e59-625cc76e9abf
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg9836/providers/Microsoft.DataBox/jobs/SdkJob8367
                    location: westus
                    name: SdkJob8367
                    properties:
                      isCancellable: true
                      isDeletable: false
                      isShippingAddressEditable: true
                      startTime: 2018-09-11T17:58:36.6886059+05:30
                      status: DeviceOrdered
                    sku:
                      name: DataBox
                    tags: {}
                    type: Microsoft.DataBox/jobs
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}":
    delete:
      description: Deletes a job.
      operationId: Jobs_Delete
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/jobNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "202":
          description: Accepted request for delete Job.
        "204":
          description: Job deleted.
      tags:
        - Jobs
      x-ms-examples:
        JobsDelete:
          parameters:
            $expand: details
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.1.0
            accept-language:
              - en-US
            api-version: 2018-01-01
            jobName: SdkJob8367
            resourceGroupName: SdkRg9836
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - 39272b77-a3c6-4cea-8476-9177cb4020d5
          responses:
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets information about the specified job.
      operationId: Jobs_Get
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/jobNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: $expand is supported on details parameter for job, which provides details on the job stages.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        "200":
          description: Job object.
          schema:
            $ref: "#/definitions/JobResource"
      tags:
        - Jobs
      x-ms-examples:
        JobsGet:
          parameters:
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.1.0
            api-version: 2018-01-01
            jobName: SdkJob8367
            resourceGroupName: SdkRg9836
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
          responses:
            "200":
              body:
                id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg9836/providers/Microsoft.DataBox/jobs/SdkJob8367
                location: westus
                name: SdkJob8367
                properties:
                  isCancellable: true
                  isDeletable: false
                  isShippingAddressEditable: true
                  startTime: 2018-09-11T17:58:36.6886059+05:30
                  status: DeviceOrdered
                sku:
                  name: DataBox
                tags: {}
                type: Microsoft.DataBox/jobs
        JobsGet1:
          parameters:
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.1.0
            api-version: 2018-01-01
            jobName: SdkJob8367
            resourceGroupName: SdkRg8120
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
          responses:
            "200":
              body:
                id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg8120/providers/Microsoft.DataBox/jobs/SdkJob8367
                location: westus
                name: SdkJob8367
                properties:
                  isCancellable: true
                  isDeletable: false
                  isShippingAddressEditable: true
                  startTime: 2018-09-11T17:58:36.6886059+05:30
                  status: DeviceOrdered
                sku:
                  name: DataBox
                tags: {}
                type: Microsoft.DataBox/jobs
        JobsGet2:
          parameters:
            $expand: details
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.1.0
            accept-language:
              - en-US
            api-version: 2018-01-01
            jobName: SdkJob8367
            resourceGroupName: SdkRg9836
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - b7369c18-a695-4b58-9839-ede7358e10c2
          responses:
            "200":
              body:
                id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg9836/providers/Microsoft.DataBox/jobs/SdkJob8367
                location: westus
                name: SdkJob8367
                properties:
                  details:
                    contactDetails:
                      contactName: Public SDK Test
                      emailList:
                        - testing@microsoft.com
                      notificationPreference:
                        - sendNotification: true
                          stageName: DevicePrepared
                        - sendNotification: true
                          stageName: Dispatched
                        - sendNotification: true
                          stageName: Delivered
                        - sendNotification: true
                          stageName: PickedUp
                        - sendNotification: true
                          stageName: AtAzureDC
                        - sendNotification: true
                          stageName: DataCopy
                      phone: "1234567890"
                      phoneExtension: "1234"
                    copyLogDetails: []
                    copyProgress:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        bytesSentToCloud: 0
                        storageAccountName: databoxbvttestaccount
                        totalBytesToProcess: 0
                    deliveryPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    destinationAccountDetails:
                      - storageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                      - resourceGroupId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt
                        stagingStorageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                    errorDetails: []
                    jobDetailsType: DataBox
                    jobStages:
                      - displayName: Ordered
                        stageName: DeviceOrdered
                        stageStatus: Succeeded
                        stageTime: 2018-09-11T17:58:41.7934219+05:30
                      - displayName: Processed
                        stageName: DevicePrepared
                        stageStatus: None
                      - displayName: Dispatched
                        stageName: Dispatched
                        stageStatus: None
                      - displayName: Delivered
                        stageName: Delivered
                        stageStatus: None
                      - displayName: Picked up
                        stageName: PickedUp
                        stageStatus: None
                      - displayName: Received
                        stageName: AtAzureDC
                        stageStatus: None
                      - displayName: Data copy in progress
                        stageName: DataCopy
                        stageStatus: None
                      - displayName: Completed
                        stageName: Completed
                        stageStatus: None
                    returnPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    shippingAddress:
                      addressType: Commercial
                      city: San Francisco
                      companyName: Microsoft
                      country: US
                      postalCode: "94107"
                      stateOrProvince: CA
                      streetAddress1: 16 TOWNSEND ST
                      streetAddress2: Unit 1
                  isCancellable: true
                  isDeletable: false
                  isShippingAddressEditable: true
                  startTime: 2018-09-11T17:58:36.6886059+05:30
                  status: DeviceOrdered
                sku:
                  name: DataBox
                tags: {}
                type: Microsoft.DataBox/jobs
        JobsGet3:
          parameters:
            $expand: details
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.1.0
            accept-language:
              - en-US
            api-version: 2018-01-01
            jobName: SdkJob8367
            resourceGroupName: SdkRg9836
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - dd519084-efed-4bce-962e-529921f4ab2a
          responses:
            "200":
              body:
                id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg9836/providers/Microsoft.DataBox/jobs/SdkJob8367
                location: westus
                name: SdkJob8367
                properties:
                  details:
                    contactDetails:
                      contactName: Update Job
                      emailList:
                        - testing@microsoft.com
                      notificationPreference:
                        - sendNotification: true
                          stageName: DevicePrepared
                        - sendNotification: true
                          stageName: Dispatched
                        - sendNotification: true
                          stageName: Delivered
                        - sendNotification: true
                          stageName: PickedUp
                        - sendNotification: true
                          stageName: AtAzureDC
                        - sendNotification: true
                          stageName: DataCopy
                      phone: "1234567890"
                      phoneExtension: "1234"
                    copyLogDetails: []
                    copyProgress:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        bytesSentToCloud: 0
                        storageAccountName: databoxbvttestaccount
                        totalBytesToProcess: 0
                    deliveryPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    destinationAccountDetails:
                      - storageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                      - resourceGroupId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt
                        stagingStorageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                    errorDetails: []
                    jobDetailsType: DataBox
                    jobStages:
                      - displayName: Ordered
                        stageName: DeviceOrdered
                        stageStatus: Succeeded
                        stageTime: 2018-09-11T17:58:41.7934219+05:30
                      - displayName: Processed
                        stageName: DevicePrepared
                        stageStatus: None
                      - displayName: Dispatched
                        stageName: Dispatched
                        stageStatus: None
                      - displayName: Delivered
                        stageName: Delivered
                        stageStatus: None
                      - displayName: Picked up
                        stageName: PickedUp
                        stageStatus: None
                      - displayName: Received
                        stageName: AtAzureDC
                        stageStatus: None
                      - displayName: Data copy in progress
                        stageName: DataCopy
                        stageStatus: None
                      - displayName: Completed
                        stageName: Completed
                        stageStatus: None
                    returnPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    shippingAddress:
                      addressType: Commercial
                      city: San Francisco
                      companyName: Microsoft
                      country: US
                      postalCode: "94107"
                      stateOrProvince: CA
                      streetAddress1: 16 TOWNSEND ST
                      streetAddress2: Unit 1
                  isCancellable: true
                  isDeletable: false
                  isShippingAddressEditable: true
                  startTime: 2018-09-11T17:58:36.6886059+05:30
                  status: DeviceOrdered
                sku:
                  name: DataBox
                tags: {}
                type: Microsoft.DataBox/jobs
        JobsGet4:
          parameters:
            $expand: details
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.1.0
            accept-language:
              - en-US
            api-version: 2018-01-01
            jobName: SdkJob8367
            resourceGroupName: SdkRg9836
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - 2d0ac131-80ad-419a-9126-722678b09c94
          responses:
            "200":
              body:
                id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg9836/providers/Microsoft.DataBox/jobs/SdkJob8367
                location: westus
                name: SdkJob8367
                properties:
                  cancellationReason: CancelTest
                  details:
                    contactDetails:
                      contactName: Update Job
                      emailList:
                        - testing@microsoft.com
                      notificationPreference:
                        - sendNotification: true
                          stageName: DevicePrepared
                        - sendNotification: true
                          stageName: Dispatched
                        - sendNotification: true
                          stageName: Delivered
                        - sendNotification: true
                          stageName: PickedUp
                        - sendNotification: true
                          stageName: AtAzureDC
                        - sendNotification: true
                          stageName: DataCopy
                      phone: "1234567890"
                      phoneExtension: "1234"
                    copyLogDetails: []
                    copyProgress:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        bytesSentToCloud: 0
                        storageAccountName: databoxbvttestaccount
                        totalBytesToProcess: 0
                    deliveryPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    destinationAccountDetails:
                      - storageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                      - resourceGroupId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt
                        stagingStorageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                    errorDetails: []
                    jobDetailsType: DataBox
                    jobStages:
                      - displayName: Ordered
                        stageName: DeviceOrdered
                        stageStatus: Succeeded
                        stageTime: 2018-09-11T17:58:41.7934219+05:30
                      - displayName: Canceled
                        stageName: Cancelled
                        stageStatus: Succeeded
                        stageTime: 2018-09-11T17:59:27.3708564+05:30
                    returnPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    shippingAddress:
                      addressType: Commercial
                      city: San Francisco
                      companyName: Microsoft
                      country: US
                      postalCode: "94107"
                      stateOrProvince: CA
                      streetAddress1: 16 TOWNSEND ST
                      streetAddress2: Unit 1
                  isCancellable: false
                  isDeletable: true
                  isShippingAddressEditable: false
                  startTime: 2018-09-11T17:58:36.6886059+05:30
                  status: Cancelled
                sku:
                  name: DataBox
                tags: {}
                type: Microsoft.DataBox/jobs
        JobsGet5:
          parameters:
            $expand: details
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.1.0
            accept-language:
              - en-US
            api-version: 2018-01-01
            jobName: SdkJob8367
            resourceGroupName: SdkRg9836
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - bdcc8e76-b662-42a4-93fd-5554809712d7
          responses:
            "200":
              body:
                id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg9836/providers/Microsoft.DataBox/jobs/SdkJob8367
                location: westus
                name: SdkJob8367
                properties:
                  cancellationReason: CancelTest
                  details:
                    chainOfCustodySasKey: https://wusbeta.blob.core.windows.net/chainofcustody/dbb287f3-ded6-42ee-b673-0c49d46394dc.txt?sv=2016-05-31&sr=b&sig=ljyW4jh7VAuQg%2Bm9JPKznnKEh7kyekn4zhkZ4vIH5LY%3D&st=2018-09-11T12%3A24%3A31Z&se=2018-09-11T12%3A54%3A31Z&sp=r
                    contactDetails:
                      contactName: " "
                      emailList: []
                      notificationPreference: []
                      phone: ""
                    copyLogDetails: []
                    copyProgress:
                      - accountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                        bytesSentToCloud: 0
                        storageAccountName: databoxbvttestaccount
                        totalBytesToProcess: 0
                    deliveryPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    destinationAccountDetails:
                      - storageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                      - resourceGroupId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt
                        stagingStorageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                    errorDetails: []
                    jobDetailsType: DataBox
                    jobStages:
                      - displayName: Ordered
                        stageName: DeviceOrdered
                        stageStatus: Succeeded
                        stageTime: 2018-09-11T17:58:41.7934219+05:30
                      - displayName: Canceled
                        stageName: Cancelled
                        stageStatus: Succeeded
                        stageTime: 2018-09-11T17:59:27.3708564+05:30
                    returnPackage:
                      carrierName: ""
                      trackingId: ""
                      trackingUrl: ""
                    shippingAddress:
                      addressType: Commercial
                      city: San Francisco
                      companyName: Microsoft
                      country: US
                      postalCode: "94107"
                      stateOrProvince: CA
                      streetAddress1: 16 TOWNSEND ST
                      streetAddress2: Unit 1
                  isCancellable: false
                  isDeletable: true
                  isShippingAddressEditable: false
                  startTime: 2018-09-11T17:58:36.6886059+05:30
                  status: Cancelled
                sku:
                  name: DataBox
                tags: {}
                type: Microsoft.DataBox/jobs
    patch:
      description: Updates the properties of an existing job.
      operationId: Jobs_Update
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/jobNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Defines the If-Match condition. The patch will be performed only if the ETag of the job on the server matches this value.
          in: header
          name: If-Match
          type: string
        - description: Job update parameters from request body.
          in: body
          name: jobResourceUpdateParameter
          required: true
          schema:
            $ref: "#/definitions/JobResourceUpdateParameter"
      responses:
        "200":
          description: Job object.
          schema:
            $ref: "#/definitions/JobResource"
        "202":
          description: Accepted request for job updated.
      tags:
        - Jobs
      x-ms-examples:
        JobsPatch:
          parameters:
            $expand: details
            Content-Length:
              - "584"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.1.0
            accept-language:
              - en-US
            api-version: 2018-01-01
            jobName: SdkJob8367
            jobResourceUpdateParameter:
              properties:
                details:
                  contactDetails:
                    contactName: Update Job
                    emailList:
                      - testing@microsoft.com
                    phone: "1234567890"
                    phoneExtension: "1234"
                  shippingAddress:
                    addressType: Commercial
                    city: San Francisco
                    companyName: Microsoft
                    country: US
                    postalCode: "94107"
                    stateOrProvince: CA
                    streetAddress1: 16 TOWNSEND ST
                    streetAddress2: Unit 1
            resourceGroupName: SdkRg9836
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - 26b53b91-d67c-4e6a-b8d6-0d01db7b6e90
          responses:
            "200":
              body:
                id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg9836/providers/Microsoft.DataBox/jobs/SdkJob8367
                location: westus
                name: SdkJob8367
                properties:
                  isCancellable: true
                  isDeletable: false
                  isShippingAddressEditable: true
                  startTime: 2018-09-11T17:58:36.6886059+05:30
                  status: DeviceOrdered
                sku:
                  name: DataBox
                tags: {}
                type: Microsoft.DataBox/jobs
            "202": {}
      x-ms-long-running-operation: true
    put:
      description: Creates a new job with the specified parameters. Existing job cannot be updated with this API and should instead be updated with the Update job API.
      operationId: Jobs_Create
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/jobNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Job details from request body.
          in: body
          name: jobResource
          required: true
          schema:
            $ref: "#/definitions/JobResource"
      responses:
        "200":
          description: Job object.
          schema:
            $ref: "#/definitions/JobResource"
        "202":
          description: Accepted request for create Job.
      tags:
        - Jobs
      x-ms-examples:
        JobsCreate:
          parameters:
            Content-Length:
              - "931"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.1.0
            accept-language:
              - en-US
            api-version: 2018-01-01
            jobName: SdkJob8367
            jobResource:
              location: westus
              properties:
                details:
                  contactDetails:
                    contactName: Public SDK Test
                    emailList:
                      - testing@microsoft.com
                    phone: "1234567890"
                    phoneExtension: "1234"
                  destinationAccountDetails:
                    - storageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                    - resourceGroupId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt
                      stagingStorageAccountId: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourcegroups/databoxbvt/providers/Microsoft.Storage/storageAccounts/databoxbvttestaccount
                  jobDetailsType: DataBox
                  shippingAddress:
                    addressType: Commercial
                    city: San Francisco
                    companyName: Microsoft
                    country: US
                    postalCode: "94107"
                    stateOrProvince: CA
                    streetAddress1: 16 TOWNSEND ST
                    streetAddress2: Unit 1
              sku:
                name: DataBox
            resourceGroupName: SdkRg9836
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - ee686d79-42c2-4b01-9afe-5e99f4cabfee
          responses:
            "200":
              body:
                id: /subscriptions/fa68082f-8ff7-4a25-95c7-ce9da541242f/resourceGroups/SdkRg9836/providers/Microsoft.DataBox/jobs/SdkJob8367
                location: westus
                name: SdkJob8367
                properties:
                  isCancellable: true
                  isDeletable: false
                  isShippingAddressEditable: true
                  startTime: 2018-09-11T17:58:36.6886059+05:30
                  status: DeviceOrdered
                sku:
                  name: DataBox
                tags: {}
                type: Microsoft.DataBox/jobs
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/bookShipmentPickUp":
    post:
      description: Book shipment pick up.
      operationId: Jobs_BookShipmentPickUp
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/jobNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Details of shipment pick up request.
          in: body
          name: shipmentPickUpRequest
          required: true
          schema:
            $ref: "#/definitions/ShipmentPickUpRequest"
      responses:
        "200":
          description: Booked shipment pick up successfully.
          schema:
            $ref: "#/definitions/ShipmentPickUpResponse"
      tags:
        - Jobs
      x-ms-examples:
        BookShipmentPickupPost:
          parameters:
            Content-Length:
              - "118"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.1.0
            accept-language:
              - en-US
            api-version: 2018-01-01
            jobName: TJ-636646322037905056
            resourceGroupName: bvttoolrg6
            shipmentPickUpRequest:
              endTime: 2018-09-12T18:30:00Z
              shipmentLocation: Front desk
              startTime: 2018-09-10T18:30:00Z
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - 8b6afb5d-ddce-481b-8621-e4bc2836a590
          responses:
            "200":
              body:
                confirmationNumber: 2929602E9CP
                readyByTime: 2018-09-10T18:30:00Z
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/cancel":
    post:
      description: CancelJob.
      operationId: Jobs_Cancel
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/jobNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: Reason for cancellation.
          in: body
          name: cancellationReason
          required: true
          schema:
            $ref: "#/definitions/CancellationReason"
      responses:
        "204":
          description: Job cancelled.
      tags:
        - Jobs
      x-ms-examples:
        JobsCancelPost:
          parameters:
            $expand: details
            Content-Length:
              - "30"
            Content-Type:
              - application/json; charset=utf-8
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.1.0
            accept-language:
              - en-US
            api-version: 2018-01-01
            cancellationReason:
              reason: CancelTest
            jobName: SdkJob8367
            resourceGroupName: SdkRg9836
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - 71d282dc-56a0-402b-a322-3b50c89711b5
          responses:
            "204": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/listCredentials":
    post:
      description: This method gets the unencrypted secrets related to the job.
      operationId: Jobs_ListCredentials
      parameters:
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/resourceGroupNameParameter"
        - $ref: "#/parameters/jobNameParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: List of unencrypted credentials of the job.
          schema:
            $ref: "#/definitions/UnencryptedCredentialsList"
      tags:
        - Jobs
      x-ms-examples:
        JobsListCredentials:
          parameters:
            User-Agent:
              - FxVersion/4.6.26614.01
              - Microsoft.Azure.Management.DataBox.DataBoxManagementClient/1.1.0
            accept-language:
              - en-US
            api-version: 2018-01-01
            jobName: TJ-636646322037905056
            resourceGroupName: bvttoolrg6
            subscriptionId: fa68082f-8ff7-4a25-95c7-ce9da541242f
            x-ms-client-request-id:
              - 1321416f-58bc-4bc7-8214-492c7cbbc310
          responses:
            "200":
              body:
                value:
                  - jobName: TJ-636646322037905056
                    jobSecrets:
                      jobSecretsType: DataBox
                      podSecrets:
                        - accountCredentialDetails:
                            - accountConnectionString: ""
                              accountName: databoxbvttestaccount
                              shareCredentialDetails:
                                - password: 4N)K4(j6tyR
                                  shareName: databoxbvttestaccount_PageBlob
                                  shareType: PageBlob
                                  supportedAccessProtocols:
                                    - SMB
                                  userName: databoxbvttestac_903
                                - password: 4N)K4(j6tyR
                                  shareName: databoxbvttestaccount_BlockBlob
                                  shareType: BlockBlob
                                  supportedAccessProtocols:
                                    - SMB
                                  userName: databoxbvttestac_903
                                - password: 4N)K4(j6tyR
                                  shareName: databoxbvttestaccount_AzFile
                                  shareType: AzureFile
                                  supportedAccessProtocols:
                                    - SMB
                                  userName: databoxbvttestac_903
                          devicePassword: cT5nt8R;S%5
                          deviceSerialNumber: testimolapod-3ecc44ce
                          encodedValidationCertPubKey: 5CYoAoVKEBa4WgPVis8keX94w30pon4jGMADSqcdE/NlHLChj6Cmhbl4q9QOFKSB/US4AwhS7zY1QS3YMDrkAPfOy7Hi6kWMBpJWZidTq3oXX8FAQjg+IqQESti/2jvAlcDpO2453rgd7Yb6XZ43P8MMTpTjcarI0ImCf//eITQWnFa3AzfIJ9C+hxCCaA7HTYhwQEPUBMwyQJsI6v6WuQysROtlBgx1YtbWFhDVbcqYRSLIbaj+RdzlvxvDJSo70kv+8em5upuDTpVE7xP+WePLlARdSPNwwfRzHnvCUqC2UqXHpRUhQlYnMqAJEcjjroRnyIGumPmmQ8O155X8aw==
                          networkConfigurations:
                            - macAddress: D05099C1F439
                              name: DataPort3
                            - macAddress: EC0D9A21A6C0
                              name: DataPort1
                            - macAddress: EC0D9A21A6C1
                              name: DataPort2
      x-ms-pageable:
        nextLinkName: null
definitions:
  AccountCredentialDetails:
    description: Credential details of the account.
    properties:
      accountConnectionString:
        description: Connection string of the account endpoint to use the account as a storage endpoint on the device.
        readOnly: true
        type: string
      accountName:
        description: Name of the account.
        readOnly: true
        type: string
      shareCredentialDetails:
        description: Per share level unencrypted access credentials.
        items:
          $ref: "#/definitions/ShareCredentialDetails"
        readOnly: true
        type: array
    type: object
  AddressValidationOutput:
    description: Output of the address validation api.
    properties:
      properties:
        $ref: "#/definitions/AddressValidationProperties"
        description: The address validation properties.
        readOnly: true
        x-ms-client-flatten: true
    type: object
  AddressValidationProperties:
    description: The address validation output.
    properties:
      alternateAddresses:
        description: List of alternate addresses.
        items:
          $ref: "#/definitions/ShippingAddress"
        readOnly: true
        type: array
      validationStatus:
        description: The address validation status.
        enum:
          - Valid
          - Invalid
          - Ambiguous
        readOnly: true
        type: string
        x-ms-enum:
          modelAsExtensible: true
          name: AddressValidationStatus
          values:
            - description: Address provided is valid.
              value: Valid
            - description: Address provided is invalid or not supported.
              value: Invalid
            - description: Address provided is ambiguous, please choose one of the alternate addresses returned.
              value: Ambiguous
    type: object
  ApplianceNetworkConfiguration:
    description: The Network Adapter configuration of a DataBox.
    properties:
      macAddress:
        description: Mac Address.
        readOnly: true
        type: string
      name:
        description: Name of the network.
        readOnly: true
        type: string
    type: object
  ArmBaseObject:
    description: Base class for all objects under resource.
    properties:
      id:
        description: Id of the object.
        readOnly: true
        type: string
      name:
        description: Name of the object.
        readOnly: true
        type: string
      type:
        description: Type of the object.
        readOnly: true
        type: string
    type: object
  AvailableSkuRequest:
    description: The filters for showing the available skus.
    properties:
      country:
        description: "ISO country code. Country for hardware shipment. For codes check: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements"
        type: string
      location:
        description: "Location for data transfer. For locations check: https://management.azure.com/subscriptions/SUBSCRIPTIONID/locations?api-version=2018-01-01"
        type: string
      skuNames:
        description: Sku Names to filter for available skus
        items:
          enum:
            - DataBox
            - DataBoxDisk
            - DataBoxHeavy
          type: string
          x-ms-enum:
            modelAsExtensible: true
            name: SkuName
            values:
              - description: DataBox.
                value: DataBox
              - description: DataBoxDisk.
                value: DataBoxDisk
              - description: DataBoxHeavy.
                value: DataBoxHeavy
        type: array
      transferType:
        description: Type of the transfer.
        enum:
          - ImportToAzure
        type: string
        x-ms-enum:
          modelAsExtensible: true
          name: TransferType
          values:
            - description: Import data to azure.
              value: ImportToAzure
    required:
      - transferType
      - country
      - location
    type: object
  AvailableSkusResult:
    description: The available skus operation response.
    properties:
      nextLink:
        description: Link for the next set of skus.
        type: string
      value:
        description: List of available skus.
        items:
          $ref: "#/definitions/SkuInformation"
        readOnly: true
        type: array
    type: object
  CancellationReason:
    description: Reason for cancellation.
    properties:
      reason:
        description: Reason for cancellation.
        type: string
    required:
      - reason
    type: object
  ContactDetails:
    description: Contact Details.
    properties:
      contactName:
        description: Contact name of the person.
        type: string
      emailList:
        description: List of Email-ids to be notified about job progress.
        items:
          type: string
        type: array
      mobile:
        description: Mobile number of the contact person.
        type: string
      notificationPreference:
        description: Notification preference for a job stage.
        items:
          $ref: "#/definitions/NotificationPreference"
        type: array
      phone:
        description: Phone number of the contact person.
        type: string
      phoneExtension:
        description: Phone extension number of the contact person.
        type: string
    required:
      - contactName
      - phone
      - emailList
    type: object
  CopyLogDetails:
    description: Details for log generated during copy.
    discriminator: copyLogDetailsType
    properties:
      copyLogDetailsType:
        description: Indicates the type of job details.
        enum:
          - DataBox
          - DataBoxDisk
          - DataBoxHeavy
        readOnly: true
        type: string
        x-ms-enum:
          modelAsExtensible: false
          name: ClassDiscriminator
          values:
            - description: DataBox orders.
              value: DataBox
            - description: DataBoxDisk orders.
              value: DataBoxDisk
            - description: DataBoxHeavy orders.
              value: DataBoxHeavy
    type: object
  CopyProgress:
    description: Copy progress.
    properties:
      accountId:
        description: Id of the account where the data needs to be uploaded.
        readOnly: true
        type: string
      bytesSentToCloud:
        description: Amount of data uploaded by the job as of now.
        format: int64
        readOnly: true
        type: integer
      filesProcessed:
        description: Number of files processed by the job as of now.
        format: int64
        readOnly: true
        type: integer
      storageAccountName:
        description: Name of the storage account where the data needs to be uploaded.
        readOnly: true
        type: string
      totalBytesToProcess:
        description: Total amount of data to be processed by the job.
        format: int64
        readOnly: true
        type: integer
      totalFilesToProcess:
        description: Total number of files to be processed by the job.
        format: int64
        readOnly: true
        type: integer
    type: object
  DataBoxAccountCopyLogDetails:
    allOf:
      - $ref: "#/definitions/CopyLogDetails"
    description: Copy log details for a storage account of a DataBox job
    properties:
      accountName:
        description: Destination account name.
        readOnly: true
        type: string
      copyLogLink:
        description: Link for copy logs.
        readOnly: true
        type: string
    type: object
    x-ms-discriminator-value: DataBox
  DataBoxDiskCopyLogDetails:
    allOf:
      - $ref: "#/definitions/CopyLogDetails"
    description: Copy Log Details for a disk
    properties:
      diskSerialNumber:
        description: Disk Serial Number.
        readOnly: true
        type: string
      errorLogLink:
        description: Link for copy error logs.
        readOnly: true
        type: string
      verboseLogLink:
        description: Link for copy verbose logs.
        readOnly: true
        type: string
    type: object
    x-ms-discriminator-value: DataBoxDisk
  DataBoxDiskCopyProgress:
    description: DataBox Disk Copy Progress
    properties:
      bytesCopied:
        description: Bytes copied during the copy of disk.
        format: int64
        readOnly: true
        type: integer
      percentComplete:
        description: Indicates the percentage completed for the copy of the disk.
        format: int32
        readOnly: true
        type: integer
      serialNumber:
        description: The serial number of the disk
        readOnly: true
        type: string
      status:
        description: The Status of the copy
        enum:
          - NotStarted
          - InProgress
          - Completed
          - CompletedWithErrors
          - Failed
          - NotReturned
        readOnly: true
        type: string
        x-ms-enum:
          modelAsExtensible: true
          name: CopyStatus
          values:
            - description: Data copy hasn't started yet.
              value: NotStarted
            - description: Data copy is in progress.
              value: InProgress
            - description: Data copy completed.
              value: Completed
            - description: Data copy completed with errors.
              value: CompletedWithErrors
            - description: Data copy failed. No data was copied.
              value: Failed
            - description: No copy triggered as device was not returned.
              value: NotReturned
    type: object
  DataBoxDiskJobDetails:
    allOf:
      - $ref: "#/definitions/JobDetails"
    description: DataBox Disk Job Details.
    properties:
      copyProgress:
        description: Copy progress per disk.
        items:
          $ref: "#/definitions/DataBoxDiskCopyProgress"
        readOnly: true
        type: array
      disksAndSizeDetails:
        additionalProperties:
          format: int32
          type: integer
        description: Contains the map of disk serial number to the disk size being used for the job. Is returned only after the disks are shipped to the customer.
        readOnly: true
        type: object
      passkey:
        description: User entered passkey for DataBox Disk job.
        type: string
      preferredDisks:
        additionalProperties:
          format: int32
          type: integer
        description: User preference on what size disks are needed for the job. The map is from the disk size in TB to the count. Eg. {2,5} means 5 disks of 2 TB size. Key is string but will be checked against an int.
        type: object
    required:
      - contactDetails
      - shippingAddress
      - destinationAccountDetails
      - jobDetailsType
    type: object
    x-ms-discriminator-value: DataBoxDisk
  DataBoxDiskJobSecrets:
    allOf:
      - $ref: "#/definitions/JobSecrets"
    description: The secrets related to disk job.
    properties:
      diskSecrets:
        description: Contains the list of secrets object for that device.
        items:
          $ref: "#/definitions/DiskSecret"
        readOnly: true
        type: array
      isPasskeyUserDefined:
        description: Whether passkey was provided by user.
        readOnly: true
        type: boolean
      passKey:
        description: PassKey for the disk Job.
        readOnly: true
        type: string
    type: object
    x-ms-discriminator-value: DataBoxDisk
  DataBoxHeavyAccountCopyLogDetails:
    allOf:
      - $ref: "#/definitions/CopyLogDetails"
    description: Copy log details for a storage account for DataBoxHeavy
    properties:
      accountName:
        description: Destination account name.
        readOnly: true
        type: string
      copyLogLink:
        description: Link for copy logs.
        items:
          type: string
        readOnly: true
        type: array
    type: object
    x-ms-discriminator-value: DataBoxHeavy
  DataBoxHeavyJobDetails:
    allOf:
      - $ref: "#/definitions/JobDetails"
    description: DataBoxHeavy Device Job Details
    properties:
      copyProgress:
        description: Copy progress per account.
        items:
          $ref: "#/definitions/CopyProgress"
        readOnly: true
        type: array
    required:
      - contactDetails
      - shippingAddress
      - destinationAccountDetails
      - jobDetailsType
    type: object
    x-ms-discriminator-value: DataBoxHeavy
  DataBoxHeavyJobSecrets:
    allOf:
      - $ref: "#/definitions/JobSecrets"
    description: The secrets related to a DataBoxHeavy job.
    properties:
      cabinetPodSecrets:
        description: Contains the list of secret objects for a DataBoxHeavy job.
        items:
          $ref: "#/definitions/DataBoxHeavySecret"
        readOnly: true
        type: array
    type: object
    x-ms-discriminator-value: DataBoxHeavy
  DataBoxHeavySecret:
    description: The secrets related to a DataBoxHeavy.
    properties:
      accountCredentialDetails:
        description: Per account level access credentials.
        items:
          $ref: "#/definitions/AccountCredentialDetails"
        readOnly: true
        type: array
      devicePassword:
        description: Password for out of the box experience on device.
        readOnly: true
        type: string
      deviceSerialNumber:
        description: Serial number of the assigned device.
        readOnly: true
        type: string
      encodedValidationCertPubKey:
        description: The base 64 encoded public key to authenticate with the device
        readOnly: true
        type: string
      networkConfigurations:
        description: Network configuration of the appliance.
        items:
          $ref: "#/definitions/ApplianceNetworkConfiguration"
        readOnly: true
        type: array
    type: object
  DataBoxJobDetails:
    allOf:
      - $ref: "#/definitions/JobDetails"
    description: DataBox Job Details
    properties:
      copyProgress:
        description: Copy progress per storage account.
        items:
          $ref: "#/definitions/CopyProgress"
        readOnly: true
        type: array
    required:
      - contactDetails
      - shippingAddress
      - destinationAccountDetails
      - jobDetailsType
    type: object
    x-ms-discriminator-value: DataBox
  DataBoxSecret:
    description: The secrets related to a DataBox.
    properties:
      accountCredentialDetails:
        description: Per account level access credentials.
        items:
          $ref: "#/definitions/AccountCredentialDetails"
        readOnly: true
        type: array
      devicePassword:
        description: Password for out of the box experience on device.
        readOnly: true
        type: string
      deviceSerialNumber:
        description: Serial number of the assigned device.
        readOnly: true
        type: string
      encodedValidationCertPubKey:
        description: The base 64 encoded public key to authenticate with the device
        readOnly: true
        type: string
      networkConfigurations:
        description: Network configuration of the appliance.
        items:
          $ref: "#/definitions/ApplianceNetworkConfiguration"
        readOnly: true
        type: array
    type: object
  DataboxJobSecrets:
    allOf:
      - $ref: "#/definitions/JobSecrets"
    description: The secrets related to a DataBox job.
    properties:
      podSecrets:
        description: Contains the list of secret objects for a job.
        items:
          $ref: "#/definitions/DataBoxSecret"
        type: array
    type: object
    x-ms-discriminator-value: DataBox
  DestinationAccountDetails:
    description: Details of the destination of the data
    discriminator: dataDestinationType
    properties:
      accountId:
        description: Arm Id of the destination where the data has to be moved.
        type: string
      dataDestinationType:
        description: Data Destination Type.
        enum:
          - UnknownType
          - StorageAccount
          - ManagedDisk
        type: string
        x-ms-enum:
          modelAsExtensible: true
          name: DataDestinationType
          values:
            - description: Unknown type.
              value: UnknownType
            - description: Storage Accounts .
              value: StorageAccount
            - description: Azure Managed disk storage.
              value: ManagedDisk
    required:
      - dataDestinationType
    type: object
  DestinationManagedDiskDetails:
    allOf:
      - $ref: "#/definitions/DestinationAccountDetails"
    description: Details for the destination compute disks.
    properties:
      resourceGroupId:
        description: Destination Resource Group Id where the Compute disks should be created.
        type: string
      stagingStorageAccountId:
        description: Arm Id of the storage account that can be used to copy the vhd for staging.
        type: string
    required:
      - resourceGroupId
      - stagingStorageAccountId
      - dataDestinationType
    type: object
    x-ms-discriminator-value: ManagedDisk
  DestinationStorageAccountDetails:
    allOf:
      - $ref: "#/definitions/DestinationAccountDetails"
    description: Details for the destination storage account.
    properties:
      storageAccountId:
        description: Destination Storage Account Arm Id.
        type: string
    required:
      - storageAccountId
      - dataDestinationType
    type: object
    x-ms-discriminator-value: StorageAccount
  DestinationToServiceLocationMap:
    description: Map of destination location to service location
    properties:
      destinationLocation:
        description: Location of the destination.
        readOnly: true
        type: string
      serviceLocation:
        description: Location of the service.
        readOnly: true
        type: string
    type: object
  DiskSecret:
    description: Contains all the secrets of a Disk.
    properties:
      bitLockerKey:
        description: Bit Locker key of the disk which can be used to unlock the disk to copy data.
        readOnly: true
        type: string
      diskSerialNumber:
        description: Serial number of the assigned disk.
        readOnly: true
        type: string
    type: object
  Error:
    description: Top level error for the job.
    properties:
      code:
        description: Error code that can be used to programmatically identify the error.
        readOnly: true
        type: string
      message:
        description: Describes the error in detail and provides debugging information.
        readOnly: true
        type: string
    type: object
  JobDetails:
    description: Job details.
    discriminator: jobDetailsType
    properties:
      chainOfCustodySasKey:
        description: Shared access key to download the chain of custody logs
        readOnly: true
        type: string
      contactDetails:
        $ref: "#/definitions/ContactDetails"
        description: Contact details for notification and shipping.
      copyLogDetails:
        description: List of copy log details.
        items:
          $ref: "#/definitions/CopyLogDetails"
        readOnly: true
        type: array
      deliveryPackage:
        $ref: "#/definitions/PackageShippingDetails"
        description: Delivery package shipping details.
        readOnly: true
      destinationAccountDetails:
        description: Destination account details.
        items:
          $ref: "#/definitions/DestinationAccountDetails"
        type: array
      errorDetails:
        description: Error details for failure. This is optional.
        items:
          $ref: "#/definitions/JobErrorDetails"
        readOnly: true
        type: array
      expectedDataSizeInTeraBytes:
        description: The expected size of the data, which needs to be transferred in this job, in terabytes.
        format: int32
        type: integer
      jobDetailsType:
        description: Indicates the type of job details.
        enum:
          - DataBox
          - DataBoxDisk
          - DataBoxHeavy
        type: string
        x-ms-enum:
          modelAsExtensible: false
          name: ClassDiscriminator
          values:
            - description: DataBox orders.
              value: DataBox
            - description: DataBoxDisk orders.
              value: DataBoxDisk
            - description: DataBoxHeavy orders.
              value: DataBoxHeavy
      jobStages:
        description: List of stages that run in the job.
        items:
          $ref: "#/definitions/JobStages"
        readOnly: true
        type: array
      preferences:
        $ref: "#/definitions/Preferences"
        description: Preferences for the order.
      returnPackage:
        $ref: "#/definitions/PackageShippingDetails"
        description: Return package shipping details.
        readOnly: true
      reverseShipmentLabelSasKey:
        description: Shared access key to download the return shipment label
        readOnly: true
        type: string
      shippingAddress:
        $ref: "#/definitions/ShippingAddress"
        description: Shipping address of the customer.
    required:
      - contactDetails
      - shippingAddress
      - destinationAccountDetails
      - jobDetailsType
    type: object
  JobErrorDetails:
    description: Job Error Details for providing the information and recommended action.
    properties:
      errorCode:
        description: Code for the error.
        format: int32
        readOnly: true
        type: integer
      errorMessage:
        description: Message for the error.
        readOnly: true
        type: string
      exceptionMessage:
        description: Contains the non localized exception message
        readOnly: true
        type: string
      recommendedAction:
        description: Recommended action for the error.
        readOnly: true
        type: string
    type: object
  JobProperties:
    description: Job Properties
    properties:
      cancellationReason:
        description: Reason for cancellation.
        readOnly: true
        type: string
      details:
        $ref: "#/definitions/JobDetails"
        description: Details of a job run. This field will only be sent for expand details filter.
      error:
        $ref: "#/definitions/Error"
        description: Top level error for the job.
        readOnly: true
      isCancellable:
        description: Describes whether the job is cancellable or not.
        readOnly: true
        type: boolean
      isDeletable:
        description: Describes whether the job is deletable or not.
        readOnly: true
        type: boolean
      isShippingAddressEditable:
        description: Describes whether the shipping address is editable or not.
        readOnly: true
        type: boolean
      startTime:
        description: Time at which the job was started in UTC ISO 8601 format.
        format: date-time
        readOnly: true
        type: string
      status:
        description: Name of the stage which is in progress.
        enum:
          - DeviceOrdered
          - DevicePrepared
          - Dispatched
          - Delivered
          - PickedUp
          - AtAzureDC
          - DataCopy
          - Completed
          - CompletedWithErrors
          - Cancelled
          - Failed_IssueReportedAtCustomer
          - Failed_IssueDetectedAtAzureDC
          - Aborted
        readOnly: true
        type: string
        x-ms-enum:
          modelAsExtensible: true
          name: StageName
          values:
            - description: An order has been created.
              value: DeviceOrdered
            - description: A device has been prepared for the order.
              value: DevicePrepared
            - description: Device has been dispatched to the user of the order.
              value: Dispatched
            - description: Device has been delivered to the user of the order.
              value: Delivered
            - description: Device has been picked up from user and in transit to azure datacenter.
              value: PickedUp
            - description: Device has been received at azure datacenter from the user.
              value: AtAzureDC
            - description: Data copy from the device at azure datacenter.
              value: DataCopy
            - description: Order has completed.
              value: Completed
            - description: Order has completed with errors.
              value: CompletedWithErrors
            - description: Order has been cancelled.
              value: Cancelled
            - description: Order has failed due to issue reported by user.
              value: Failed_IssueReportedAtCustomer
            - description: Order has failed due to issue detected at azure datacenter.
              value: Failed_IssueDetectedAtAzureDC
            - description: Order has been aborted.
              value: Aborted
    type: object
  JobResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: Job Resource.
    properties:
      id:
        description: Id of the object.
        readOnly: true
        type: string
      name:
        description: Name of the object.
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/JobProperties"
        description: Properties of a job.
        x-ms-client-flatten: true
      type:
        description: Type of the object.
        readOnly: true
        type: string
    required:
      - properties
    type: object
  JobResourceList:
    description: Job Resource Collection
    properties:
      nextLink:
        description: Link for the next set of job resources.
        type: string
      value:
        description: List of job resources.
        items:
          $ref: "#/definitions/JobResource"
        type: array
    type: object
  JobResourceUpdateParameter:
    description: The JobResourceUpdateParameter.
    properties:
      properties:
        $ref: "#/definitions/UpdateJobProperties"
        description: Properties of a job to be updated.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
[...]
