{
  "openapi": "3.0.3",
  "servers": [
    {
      "description": "Production",
      "url": "https://api.journy.io"
    }
  ],
  "info": {
    "contact": {
      "email": "hi@journy.io",
      "name": "Support",
      "url": "https://help.journy.io"
    },
    "description": "# Introduction\n\nThe journy.io API is organized around REST. Our API has predictable resource-oriented URLs, returns JSON-encoded responses, and uses standard HTTP response codes, authentication, and verbs.\n\nThe API is hosted on api.journy.io.\n\n# Official SDKs\n\nOur SDKs are designed to help you interact with our APIs with less friction. They are written in several different languages and help bridge the gap between your application and journy.io APIs. They take away the need to know the exact URL and HTTP method to use for each API call among other things leaving you more time to focus on making your application.\n\n| Language   | Package                                                                        | Source code                                                                |\n|------------|--------------------------------------------------------------------------------|----------------------------------------------------------------------------|\n| 💚 Node.js | [npm install @journyio/sdk ](https://www.npmjs.com/package/@journyio/sdk)      | [github.com/journy-io/js-sdk](https://github.com/journy-io/js-sdk)         |\n| 🐘 PHP     | [composer require journy-io/sdk](https://packagist.org/packages/journy-io/sdk) | [github.com/journy-io/php-sdk](https://github.com/journy-io/php-sdk)       |\n| 🐍 Python  | [pip install journyio-sdk](https://pypi.org/project/journyio-sdk/)             | [github.com/journy-io/python-sdk](https://github.com/journy-io/python-sdk) |\n| 💎 Ruby    | Coming soon                                                                    | Coming soon                                                                |\n\nYour favourite programming language not included? [Let us know!](mailto:hi@journy.io)\n\nIn the meanwhile, you can use [OpenAPI Generator](https://github.com/OpenAPITools/openapi-generator) to generate a client for your programming language.\n\n# Authentication\n\nThe journy.io API uses API keys to authenticate requests. You can view and manage your API keys in the [connections screen](https://system.journy.io).\n\nYour API keys carry many privileges, so be sure to keep them secure! Do not share your secret API keys in publicly accessible areas such as GitHub, client-side code, and so forth.\n\nAll API requests must be made over HTTPS. Calls made over plain HTTP will fail. API requests without authentication will also fail.\n\nFor every request send to the API we expect a header `X-Api-Key` to be set with the API Key.\n\n## Permissions\n\nWhen creating an API Key in [the application](https://system.journy.io) you will have the choice to give permissions to an API Key (which you can change later on). These permissions restrict the API Key from different actions. When an API Key tries to perform a certain action it doesn't have the permissions for, you will receive a `401: Unauthorized` response.\n\n# Rate limiting\n\nTo prevent abuse of the API there is a maximum throughput of 100 requests per minute. If you need a higher throughput, please contact us.\n\nTo keep our platform healthy and stable, we'll block API keys that consistently hit our rate limits. Therefore, please consider taking this throughput into account.\n\nIn every response the headers `X-RateLimit-Limit` and `X-RateLimit-Remaining` will be set. The `X-RateLimit-Limit`-header will always contain the current limit of requests per minute. The `X-RateLimit-Remaining`-header will always contain the amount of requests you have left in the current sliding window.\n\n# Errors\n\njourny.io uses conventional HTTP response codes to indicate the success or failure of an API request. In general: Codes in the 2xx range indicate success. Codes in the 4xx range indicate an error that failed given the information provided (e.g. a required parameter was omitted). Codes in the 5xx range indicate an error with journy.io's servers (these are rare).\n\nWhen performing a `POST`- or `PUT`-request with a requestBody, or when including parameters, these parameters and fields will automatically be checked and validated against the API Spec. When any error occurs, you will get a response with an `errors`-field, structured as follows:\n\n```json\n{\n  \"errors\": {\n    \"parameters\": {\n      \"header\": {\n        \"headerParameterName\": \"Describe what's wrong with the header parameter.\",\n        ...\n      },\n      \"query\": {\n        \"queryParameterName\": \"Describe what's wrong with the query parameter.\",\n        ...\n      },\n      \"path\": {\n        \"pathParameterName\": \"Describe what's wrong with the path parameter.\",\n        ...\n      },\n    },\n    \"fields\": {\n      \"fieldName\": \"Describe what's wrong with the fieldName.\",\n      \"object.fieldName\": \"Describe what's wrong with the fieldName of the included object.\",\n       ...\n    }\n  }\n}\n```\n\n# Support\n\nLooking for a specific endpoint? Documentation not clear? [We would love to help!](mailto:hi@journy.io)",
    "termsOfService": "https://www.journy.io/terms-of-use/",
    "title": "journy.io API docs",
    "version": "1.0.0",
    "x-apisguru-categories": [
      "customer_relation"
    ],
    "x-logo": {
      "altText": "Journy.io",
      "url": "https://api.apis.guru/v2/cache/logo/https_developers.journy.io_developers.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://api.journy.io/spec.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "journy.io"
  },
  "externalDocs": {
    "description": "API Documentation",
    "url": "https://developers.journy.io"
  },
  "tags": [
    {
      "description": "Endpoints for creating or updating users",
      "name": "Users"
    },
    {
      "description": "Endpoints for creating or updating accounts",
      "name": "Accounts"
    },
    {
      "description": "Endpoints for adding events",
      "name": "Events"
    },
    {
      "description": "Endpoints for managing websites",
      "name": "Websites"
    },
    {
      "description": "Endpoints for validating API keys",
      "name": "Validation"
    }
  ],
  "paths": {
    "/accounts/upsert": {
      "post": {
        "description": "Endpoint used to create or update an account.",
        "operationId": "upsertAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Update properties and/or members of an account",
                "properties": {
                  "identification": {
                    "description": "Account identification requires an accountId, domain or both",
                    "minProperties": 1,
                    "properties": {
                      "accountId": {
                        "description": "Unique identifier for the account in your database",
                        "format": "account-id",
                        "type": "string"
                      },
                      "domain": {
                        "description": "The domain associated with the account (e.g. acme-inc.com)",
                        "format": "top-level-domain",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "members": {
                    "description": "The users that are member of this account",
                    "items": {
                      "description": "Identification requires an accountId, domain or both",
                      "properties": {
                        "identification": {
                          "description": "User identification requires a userId, email or both",
                          "minProperties": 1,
                          "properties": {
                            "email": {
                              "description": "Email address of the user",
                              "format": "email",
                              "type": "string"
                            },
                            "userId": {
                              "description": "Unique identifier for the user in your database",
                              "format": "user-id",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "required": [
                        "identification"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "properties": {
                    "additionalProperties": {
                      "oneOf": [
                        {
                          "nullable": true,
                          "type": "string"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "format": "datetime",
                          "type": "string"
                        },
                        {
                          "items": {
                            "format": "non-empty-string",
                            "type": "string"
                          },
                          "type": "array"
                        }
                      ]
                    },
                    "description": "The properties being set, possible values are strings, booleans, numbers and datetimes (ISO 8601)",
                    "type": "object"
                  }
                },
                "required": [
                  "identification"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The object was created",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Object was created",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "allOf": [
                        {
                          "description": "The basic response containing the unique ID of the request and the response status",
                          "properties": {
                            "meta": {
                              "properties": {
                                "requestId": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "requestId",
                                "status"
                              ],
                              "type": "object"
                            }
                          },
                          "required": [
                            "meta"
                          ],
                          "type": "object"
                        },
                        {
                          "description": "The error message should specify what cause the error",
                          "properties": {
                            "message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "message"
                          ],
                          "type": "object"
                        }
                      ]
                    },
                    {
                      "description": "Specify the fields and/ or parameters that had errors",
                      "properties": {
                        "errors": {
                          "description": "Map that sums up all received values that seemed incorrect",
                          "properties": {
                            "fields": {
                              "additionalProperties": {
                                "type": "string"
                              },
                              "description": "All input fields that seemed incorrect",
                              "type": "object"
                            },
                            "parameters": {
                              "description": "All query-, header- and path- parameters that seemed incorrect",
                              "properties": {
                                "header": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                },
                                "path": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                },
                                "query": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "required": [
                        "errors"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad request, some fields or parameters are incorrect",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "No API Key was provided or the key is not authorised to perform the action",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Too many API requests were send",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "An unexpected error occurred",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "summary": "Create or update account",
        "tags": [
          "Accounts"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "// https://github.com/journy-io/js-sdk\n\nimport { Client } from \"@journyio/sdk\";\n\nconst client = Client.withDefaults('your-api-key');\n\nawait client.upsertAccount({\n  // required\n  accountId: \"accountId\",\n  domain: \"acme-inc.com\",\n\n  // optional\n  properties: {\n    name: \"ACME, Inc\",\n    mrr: 399,\n    plan: \"Pro\",\n    registered_at: new Date(...),\n    is_paying: true,\n    key_with_empty_value: \"\",\n    array_of_values: [\"value1\", \"value2\"],\n    this_property_will_be_deleted: null,\n  },\n\n  // optional\n  members: [\n    { userId: \"userId\" },\n    { userId: \"userId\" }\n  ]\n});"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n// https://github.com/journy-io/php-sdk\n\nuse JournyIO\\SDK\\Client;\n\n$client = Client::withDefaults(\"your-api-key\");\n\n$client->upsertAccount([\n    \"accountId\" => \"accountId\",\n    \"domain\" => \"acme-inc.com\",\n\n    // optional\n    \"properties\" => [\n        \"name\" => \"ACME, Inc\",\n        \"mrr\" => 399,\n        \"plan\" => \"Pro\",\n        \"registered_at\" => new \\DateTimeImmutable(\"...\"),\n        \"is_paying\" => true,\n        \"key_with_empty_value\" => \"\",\n        \"array_of_values\" => [\"value1\", \"value2\"],\n        \"this_property_will_be_deleted\" => null,\n    ],\n\n    // optional\n    \"members\" => [\n        [\"userId\" => \"userId\"],\n        [\"userId\" => \"userId\"],\n    ],\n]);"
          },
          {
            "lang": "Python",
            "source": "# https://github.com/journy-io/python-sdk\n\nfrom journyio.client import Client, Config\nfrom journyio.client import Properties\nfrom journyio.account_identified import AccountIdentified\nfrom journyio.user_identified import UserIdentified\nfrom datetime import datetime\n\nconfig = Config(\"api-key-secret\")\nhttp_client = HttpClientRequests()\nclient = Client(http_client, config)\n\naccount = AccountIdentified(\"accountId\", \"acme-inc.com\")\n# or\naccount = AccountIdentified.by_account_id(\"accountId\")\n# or\naccount = AccountIdentified.by_domain(\"acme-inc.com\")\n\nproperties = Properties()\nproperties[\"name\"] = \"ACME, Inc\"\nproperties[\"mrr\"] = 399\nproperties[\"plan\"] = \"Pro\"\nproperties[\"registered_at\"] = datetime.now()\nproperties[\"is_paying\"] = True\nproperties[\"key_with_empty_value\"] = \"\"\nproperties[\"this_property_will_be_deleted\"] = None\nproperties[\"array_of_values\"] = [\"value1\", \"value2\"]\n\nmember1 = UserIdentified.by_user_id(\"userId\")\nmember2 = UserIdentified.by_user_id(\"userId\")\n\nclient.upsert_account(account, properties, [member1, member2])"
          }
        ],
        "x-key-permissions": [
          "TrackData"
        ]
      }
    },
    "/accounts/{accountId}/users": {
      "delete": {
        "description": "Endpoint used to remove a user from an account.",
        "operationId": "removeUserFromAccount",
        "parameters": [
          {
            "description": "Unique identifier for the account in your database",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "The user being added/removed from the account",
                "properties": {
                  "userId": {
                    "description": "Unique identifier for the user in your database",
                    "format": "user-id",
                    "type": "string"
                  }
                },
                "required": [
                  "userId"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The object was created",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Object was created",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "allOf": [
                        {
                          "description": "The basic response containing the unique ID of the request and the response status",
                          "properties": {
                            "meta": {
                              "properties": {
                                "requestId": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "requestId",
                                "status"
                              ],
                              "type": "object"
                            }
                          },
                          "required": [
                            "meta"
                          ],
                          "type": "object"
                        },
                        {
                          "description": "The error message should specify what cause the error",
                          "properties": {
                            "message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "message"
                          ],
                          "type": "object"
                        }
                      ]
                    },
                    {
                      "description": "Specify the fields and/ or parameters that had errors",
                      "properties": {
                        "errors": {
                          "description": "Map that sums up all received values that seemed incorrect",
                          "properties": {
                            "fields": {
                              "additionalProperties": {
                                "type": "string"
                              },
                              "description": "All input fields that seemed incorrect",
                              "type": "object"
                            },
                            "parameters": {
                              "description": "All query-, header- and path- parameters that seemed incorrect",
                              "properties": {
                                "header": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                },
                                "path": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                },
                                "query": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "required": [
                        "errors"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad request, some fields or parameters are incorrect",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "No API Key was provided or the key is not authorised to perform the action",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "The API Key provided is currently not enabled",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Too many API requests were send",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "An unexpected error occurred",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "summary": "Remove user from account",
        "tags": [
          "Accounts"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "// https://github.com/journy-io/js-sdk\nimport { Client } from \"@journyio/sdk\";\nconst client = Client.withDefaults('your-api-key');\nawait client.removeUserFromAccount({\n  accountId: \"accountId\",\n  userId: \"userId\"\n});"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n// https://github.com/journy-io/php-sdk\n\nuse JournyIO\\SDK\\Client;\n\n$client = Client::withDefaults(\"your-api-key\");\n\n$client->removeUserFromAccount(\n    \"accountId\",\n    \"userId\"\n);"
          },
          {
            "lang": "Python",
            "source": "# https://github.com/journy-io/python-sdk\n\nfrom journyio.client import Client, Config\n\nconfig = Config(\"api-key-secret\")\nhttp_client = HttpClientRequests()\nclient = Client(http_client, config)\n\nclient.remove_user_from_account(\"accountId\", \"userId\")"
          }
        ],
        "x-key-permissions": [
          "TrackData"
        ]
      },
      "post": {
        "description": "Endpoint used to add a user to an account.",
        "operationId": "addUserToAccount",
        "parameters": [
          {
            "description": "Unique identifier for the account in your database",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "The user being added/removed from the account",
                "properties": {
                  "userId": {
                    "description": "Unique identifier for the user in your database",
                    "format": "user-id",
                    "type": "string"
                  }
                },
                "required": [
                  "userId"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The object was created",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Object was created",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "allOf": [
                        {
                          "description": "The basic response containing the unique ID of the request and the response status",
                          "properties": {
                            "meta": {
                              "properties": {
                                "requestId": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "requestId",
                                "status"
                              ],
                              "type": "object"
                            }
                          },
                          "required": [
                            "meta"
                          ],
                          "type": "object"
                        },
                        {
                          "description": "The error message should specify what cause the error",
                          "properties": {
                            "message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "message"
                          ],
                          "type": "object"
                        }
                      ]
                    },
                    {
                      "description": "Specify the fields and/ or parameters that had errors",
                      "properties": {
                        "errors": {
                          "description": "Map that sums up all received values that seemed incorrect",
                          "properties": {
                            "fields": {
                              "additionalProperties": {
                                "type": "string"
                              },
                              "description": "All input fields that seemed incorrect",
                              "type": "object"
                            },
                            "parameters": {
                              "description": "All query-, header- and path- parameters that seemed incorrect",
                              "properties": {
                                "header": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                },
                                "path": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                },
                                "query": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "required": [
                        "errors"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad request, some fields or parameters are incorrect",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "No API Key was provided or the key is not authorised to perform the action",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Too many API requests were send",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "An unexpected error occurred",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "summary": "Add user to account",
        "tags": [
          "Accounts"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "// https://github.com/journy-io/js-sdk\nimport { Client } from \"@journyio/sdk\";\nconst client = Client.withDefaults('your-api-key');\nawait client.addUserToAccount({\n  accountId: \"accountId\",\n  userId: \"userId\"\n});"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n// https://github.com/journy-io/php-sdk\n\nuse JournyIO\\SDK\\Client;\n\n$client = Client::withDefaults(\"your-api-key\");\n\n$client->addUserToAccount(\n    \"accountId\",\n    \"userId\"\n);"
          },
          {
            "lang": "Python",
            "source": "# https://github.com/journy-io/python-sdk\n\nfrom journyio.client import Client, Config\n\nconfig = Config(\"api-key-secret\")\nhttp_client = HttpClientRequests()\nclient = Client(http_client, config)\n\nclient.add_user_to_account(\"accountId\", \"userId\")"
          }
        ],
        "x-key-permissions": [
          "TrackData"
        ]
      }
    },
    "/events": {
      "post": {
        "description": "Endpoint used to push an event for a user or an account.",
        "operationId": "trackJourneyEvent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Event for a user or an account",
                "properties": {
                  "identification": {
                    "description": "Event identification requires a user, account or both",
                    "minProperties": 1,
                    "properties": {
                      "account": {
                        "description": "Account identification requires an accountId, domain or both",
                        "minProperties": 1,
                        "properties": {
                          "accountId": {
                            "description": "Unique identifier for the account in your database",
                            "format": "account-id",
                            "type": "string"
                          },
                          "domain": {
                            "description": "The domain associated with the account (e.g. acme-inc.com)",
                            "format": "top-level-domain",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "user": {
                        "description": "User identification requires a userId, email or both",
                        "minProperties": 1,
                        "properties": {
                          "email": {
                            "description": "Email address of the user",
                            "format": "email",
                            "type": "string"
                          },
                          "userId": {
                            "description": "Unique identifier for the user in your database",
                            "format": "user-id",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "metadata": {
                    "additionalProperties": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "format": "datetime",
                          "type": "string"
                        }
                      ]
                    },
                    "description": "Event metadata, possible values are strings, booleans, numbers and datetimes (ISO 8601)",
                    "type": "object"
                  },
                  "name": {
                    "format": "event-name",
                    "type": "string"
                  },
                  "triggeredAt": {
                    "description": "If left blank this defaults to the current datetime",
                    "format": "datetime",
                    "type": "string"
                  }
                },
                "required": [
                  "identification",
                  "name"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The object was created",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Object was created",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "allOf": [
                        {
                          "description": "The basic response containing the unique ID of the request and the response status",
                          "properties": {
                            "meta": {
                              "properties": {
                                "requestId": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "requestId",
                                "status"
                              ],
                              "type": "object"
                            }
                          },
                          "required": [
                            "meta"
                          ],
                          "type": "object"
                        },
                        {
                          "description": "The error message should specify what cause the error",
                          "properties": {
                            "message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "message"
                          ],
                          "type": "object"
                        }
                      ]
                    },
                    {
                      "description": "Specify the fields and/ or parameters that had errors",
                      "properties": {
                        "errors": {
                          "description": "Map that sums up all received values that seemed incorrect",
                          "properties": {
                            "fields": {
                              "additionalProperties": {
                                "type": "string"
                              },
                              "description": "All input fields that seemed incorrect",
                              "type": "object"
                            },
                            "parameters": {
                              "description": "All query-, header- and path- parameters that seemed incorrect",
                              "properties": {
                                "header": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                },
                                "path": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                },
                                "query": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "required": [
                        "errors"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad request, some fields or parameters are incorrect",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "No API Key was provided or the key is not authorised to perform the action",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "The API Key provided is currently not enabled",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Too many API requests were send",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "An unexpected error occurred",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "summary": "Push event",
        "tags": [
          "Events"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "// https://github.com/journy-io/js-sdk\n\nimport { Client, Event, UserIdentified, AccountIdentified } from \"@journyio/sdk\";\n\nconst client = Client.withDefaults('your-api-key');\n\nevent = Event.forUser(\"login\", UserIdentified.byUserId(\"userId\"));\n\nevent = Event.forUser(\"some_historic_event\", UserIdentified.byUserId(\"userId\"))\n  .happenedAt(new Date(...))\n;\n\nevent = Event.forAccount(\"reached_monthly_volume\", AccountIdentified.byAccountId(\"accountId\"))\n  .withMetadata({\n    \"number\": 1313,\n    \"string\": \"string\",\n    \"boolean\": true,\n  })\n;\n\nevent = Event.forUserInAccount(\n  \"updated_settings\",\n  UserIdentified.byUserId(\"userId\"),\n  AccountIdentified.byAccountId(\"accountId\")\n);\n\nawait client.addEvent(event);"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n// https://github.com/journy-io/php-sdk\n\nuse JournyIO\\SDK\\Client;\nuse JournyIO\\SDK\\Event;\nuse JournyIO\\SDK\\UserIdentified;\nuse JournyIO\\SDK\\AccountIdentified;\n\n$client = Client::withDefaults(\"your-api-key\");\n\n$event = Event::forUser(\"login\", UserIdentified::byUserId(\"userId\"));\n\n$event = Event::forUser(\"some_historic_event\", UserIdentified::byUserId(\"userId\"))\n    ->happenedAt(new \\DateTimeImmutable(\"now\"))\n;\n\n$event = Event::forAccount(\"reached_monthly_volume\", AccountIdentified::byAccountId(\"accountId\"))\n    ->withMetadata([\n        \"number\" => 13313,\n        \"string\" => \"string\",\n        \"boolean\" => true,\n    ])\n;\n\n$event = Event::forUserInAccount(\n    \"updated_settings\",\n    UserIdentified::byUserId(\"userId\"),\n    AccountIdentified::byAccountId(\"accountId\")\n);\n\n$client->addEvent($event);"
          },
          {
            "lang": "Python",
            "source": "# https://github.com/journy-io/python-sdk\n\nfrom journyio.client import Client, Config\nfrom datetime import datetime\nfrom journyio.events import Event, Metadata\nfrom journyio.account_identified import AccountIdentified\nfrom journyio.user_identified import UserIdentified\n\nconfig = Config(\"api-key-secret\")\nhttp_client = HttpClientRequests()\nclient = Client(http_client, config)\n\naccount = AccountIdentified(\"accountId\", \"www.domain.tld\")\nuser = UserIdentified(\"userId\", \"name@domain.tld\")\n\nmetadata = Metadata()\nmetadata[\"number\"] = 454554\nmetadata[\"boolean\"] = False\nmetadata[\"string\"] = \"string\"\n\nevent = Event()\n    .for_user_in_account(\"settings_updated\", user, account)\n    .happened_at(datetime.now())\n    .with_metadata(metadata)\n\nclient.add_event(event)"
          }
        ],
        "x-key-permissions": [
          "TrackData"
        ]
      }
    },
    "/link": {
      "post": {
        "description": "Endpoint used to link web activity to a user.",
        "operationId": "link",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Link web activity to user",
                "properties": {
                  "deviceId": {
                    "format": "non-empty-string",
                    "type": "string"
                  },
                  "identification": {
                    "description": "User identification requires a userId, email or both",
                    "minProperties": 1,
                    "properties": {
                      "email": {
                        "description": "Email address of the user",
                        "format": "email",
                        "type": "string"
                      },
                      "userId": {
                        "description": "Unique identifier for the user in your database",
                        "format": "user-id",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "required": [
                  "deviceId",
                  "identification"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The object was created",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Object was created",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "allOf": [
                        {
                          "description": "The basic response containing the unique ID of the request and the response status",
                          "properties": {
                            "meta": {
                              "properties": {
                                "requestId": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "requestId",
                                "status"
                              ],
                              "type": "object"
                            }
                          },
                          "required": [
                            "meta"
                          ],
                          "type": "object"
                        },
                        {
                          "description": "The error message should specify what cause the error",
                          "properties": {
                            "message": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "message"
                          ],
                          "type": "object"
                        }
                      ]
                    },
                    {
                      "description": "Specify the fields and/ or parameters that had errors",
                      "properties": {
                        "errors": {
                          "description": "Map that sums up all received values that seemed incorrect",
                          "properties": {
                            "fields": {
                              "additionalProperties": {
                                "type": "string"
                              },
                              "description": "All input fields that seemed incorrect",
                              "type": "object"
                            },
                            "parameters": {
                              "description": "All query-, header- and path- parameters that seemed incorrect",
                              "properties": {
                                "header": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                },
                                "path": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                },
                                "query": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "required": [
                        "errors"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Bad request, some fields or parameters are incorrect",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "No API Key was provided or the key is not authorised to perform the action",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "The API Key provided is currently not enabled",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Too many API requests were send",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "description": "The error message should specify what cause the error",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "message"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "An unexpected error occurred",
            "headers": {
              "X-RateLimit-Limit": {
                "description": "Request limit per minute.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "The number of requests left for the time window.",
                "schema": {
                  "type": "integer"
                }
              }
            }
          }
        },
        "summary": "Link web activity to user",
        "tags": [
          "Users"
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "// https://github.com/journy-io/js-sdk\n\nimport { Client } from \"@journyio/sdk\";\n\nconst client = Client.withDefaults('your-api-key');\n\nawait client.link({\n  deviceId: request.cookies[\"__journey\"],\n\n  userId: request.user.id,\n  // or\n  email: request.user.email,\n});"
          },
          {
            "lang": "PHP",
            "source": "<?php\n\n// https://github.com/journy-io/php-sdk\n\nuse JournyIO\\SDK\\Client;\n\n$client = Client::withDefaults(\"your-api-key\");\n\n$client->link([\n    \"deviceId\" => \"deviceId\",\n\n    \"userId\" => \"userId\",\n    // or\n    \"email\" => \"email\",\n]);"
          },
          {
            "lang": "Python",
            "source": "# https://github.com/journy-io/python-sdk\n\nfrom journyio.client import Client, Config\nfrom journyio.user_identified import UserIdentified\n\nconfig = Config(\"api-key-secret\")\nhttp_client = HttpClientRequests()\nclient = Client(http_client, config)\n\nuser = UserIdentified(\"userId\", \"name@domain.tld\")\n# or\nuser = UserIdentified.by_user_id(\"userId\")\n# or\nuser = UserIdentified.by_email(\"name@domain.tld\")\n\nclient.link(user, \"deviceId\")"
          }
        ],
        "x-key-permissions": [
          "TrackData"
        ]
      }
    },
    "/tracking/snippet": {
      "get": {
        "description": "Endpoint used to get a snippet for a website.",
        "operationId": "getTrackingSnippet",
        "parameters": [
          {
            "description": "The domain you want to receive a snippet for",
            "in": "query",
            "name": "domain",
            "required": true,
            "schema": {
              "format": "domain",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "The basic response containing the unique ID of the request and the response status",
                      "properties": {
                        "meta": {
                          "properties": {
                            "requestId": {
                              "type": "string"
                            },
                            "status": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "requestId",
                            "status"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "meta"
                      ],
                      "type": "object"
                    },
                    {
                      "properties": {
                        "data": {
                          "description": "A snippet",
                          "properties": {
                            "domain": {
                              "format": "domain",
                              "type": "string"
                            },
                            "snippet": {
                              "type": "string"
                            }
                          },
[...]
