openapi: 3.0.0
servers:
  - url: http://nsidc.org/api/dataset/2
info:
  contact:
    email: support@aoncadis.org
  description: This API allows programmers to build National Snow and Ice Data Center data and metadata services into their applications.
  title: NSIDC Web Service Documentation Index
  version: 1.0.0
  x-apisguru-categories:
    - open_data
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/http_nsidc.org_images_logo_nsidc_115x90.jpg
  x-origin:
    - converter:
        url: https://github.com/lucybot/api-spec-converter
        version: 2.7.31
      format: swagger
      url: http://documentation-index-vm.apps.nsidc.org/api-docs
      version: "1.2"
  x-providerName: nsidc.org
tags:
  - description: Dataset search
    name: SwaggerDocs
paths:
  /Facets:
    get:
      description: In the NSIDC Search and Arctic Data Explorer interfaces, this endpoint is used in conjunction with /OpenSearch whenever a user submits a new search. Consequently, it has the same parameters as /OpenSearch.
      operationId: facets
      parameters:
        - description: URL-encoded keyword or keywords desired by the client; OpenSearch 1.1
          in: query
          name: searchTerms
          required: false
          schema:
            type: string
        - description: The number of search results per page desired by the client; OpenSearch 1.1
          in: query
          name: count
          required: false
          schema:
            default: 25
            type: integer
        - description: First search result desired by the search client; OpenSearch 1.1
          in: query
          name: startIndex
          required: false
          schema:
            default: 1
            type: integer
        - description: 4 comma separated values - W, S, E, N; OpenSearch-Geo 1.0, "box" parameter
          in: query
          name: spatial
          required: false
          schema:
            default: -180.0,-90.0,180.0,90.0
            type: string
        - description: Sort the results by most relevant (default), smallest or largest spatial area, shortest or longest temporal duration, or most recently updated; partial implementation of OpenSearch SRU 1.0
          in: query
          name: sortKeys
          required: false
          schema:
            default: score,,desc
            enum:
              - score,,desc
              - spatial_area,,asc
              - spatial_area,,desc
              - temporal_duration,,asc
              - temporal_duration,,desc
              - updated,,desc
            type: string
        - description: The start date in yyyy-mm-dd format
          in: query
          name: startDate
          required: false
          schema:
            format: date
            type: string
        - description: The end date in yyyy-mm-dd format
          in: query
          name: endDate
          required: false
          schema:
            format: date
            type: string
        - description: Describes faceted restrictions on the search. A URL-encoded JSON object where the keys are the names of the facet, and the values are arrays of the selected facet values
          in: query
          name: facetFilters
          required: false
          schema:
            type: string
        - description: Custom parameter for selecting which source to use; the Arctic Data Explorer (ADE) uses data aggregated from many sources, including, but not limited to, NSIDC
          in: query
          name: source
          required: false
          schema:
            default: NSIDC
            enum:
              - NSIDC
              - ADE
            type: string
      responses:
        "200":
          content:
            application/nsidcfacets+xml:
              schema:
                type: string
          description: OK
        "400":
          description: Bad request
        "500":
          description: Internal server error
      summary: View the facet information corresponding to a search
      tags:
        - SwaggerDocs
  /OpenSearch:
    get:
      description: This endpoint uses parameters from the OpenSearch 1.1 specification, as well as parameters from the OpenSearch Geo (1.0) and SRU (1.0) extensions.
      operationId: open search
      parameters:
        - description: URL-encoded keyword or keywords desired by the client; OpenSearch 1.1
          in: query
          name: searchTerms
          required: false
          schema:
            type: string
        - description: The number of search results per page desired by the client; OpenSearch 1.1
          in: query
          name: count
          required: false
          schema:
            default: 25
            type: integer
        - description: First search result desired by the search client; OpenSearch 1.1
          in: query
          name: startIndex
          required: false
          schema:
            default: 1
            type: integer
        - description: 4 comma separated values - W, S, E, N; OpenSearch-Geo 1.0, "box" parameter
          in: query
          name: spatial
          required: false
          schema:
            default: -180.0,-90.0,180.0,90.0
            type: string
        - description: Sort the results by most relevant (default), smallest or largest spatial area, shortest or longest temporal duration, or most recently updated; partial implementation of OpenSearch SRU 1.0
          in: query
          name: sortKeys
          required: false
          schema:
            default: score,,desc
            enum:
              - score,,desc
              - spatial_area,,asc
              - spatial_area,,desc
              - temporal_duration,,asc
              - temporal_duration,,desc
              - updated,,desc
            type: string
        - description: The start date in yyyy-mm-dd format
          in: query
          name: startDate
          required: false
          schema:
            format: date
            type: string
        - description: The end date in yyyy-mm-dd format
          in: query
          name: endDate
          required: false
          schema:
            format: date
            type: string
        - description: Describes faceted restrictions on the search. A URL-encoded JSON object where the keys are the names of the facet, and the values are arrays of the selected facet values
          in: query
          name: facetFilters
          required: false
          schema:
            type: string
        - description: Custom parameter for selecting which source to use; the Arctic Data Explorer (ADE) uses data aggregated from many sources, including, but not limited to, NSIDC
          in: query
          name: source
          required: false
          schema:
            default: NSIDC
            enum:
              - NSIDC
              - ADE
            type: string
      responses:
        "200":
          content:
            application/atom+xml:
              schema:
                type: string
          description: OK
        "400":
          description: Bad request
        "500":
          description: Internal server error
      summary: Search documents using the OpenSearch 1.1 Specification
      tags:
        - SwaggerDocs
  /OpenSearchDescription:
    get:
      operationId: opensearch description
      responses:
        "200":
          content:
            application/opensearchdescription+xml:
              schema:
                type: string
          description: Success
      summary: Describes the web interface of NSIDC's data search engine
      tags:
        - SwaggerDocs
  /suggest:
    get:
      description: In NSIDC Search and the Arctic Data Explorer, this endpoint is queried whenever the user types into the search terms box, and the returned suggestions are displayed in a dropdown beneath the search terms box. The q parameter and returned JSON follow the specifications of the OpenSearch Suggestions 1.0 extension.
      operationId: id
      parameters:
        - description: Search terms typed into the interface (minimum two characters)
          in: query
          name: q
          required: true
          schema:
            type: string
        - description: Custom parameter for selecting which source to use; the Arctic Data Explorer (ADE) uses data aggregated from many sources, including, but not limited to, NSIDC
          in: query
          name: source
          required: true
          schema:
            default: NSIDC
            enum:
              - NSIDC
              - ADE
            type: string
      responses:
        "200":
          content:
            application/x-suggestions+json:
              schema:
                type: string
          description: OK
        "400":
          description: Bad request
        "500":
          description: Internal server error
      summary: Suggest search terms based on a partial query
      tags:
        - SwaggerDocs
