swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: Update run operation endpoints and objects.
  title: UpdateAdminClient
  version: 2016-05-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/update/Microsoft.Update.Admin/preview/2016-05-01/UpdateRuns.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-UpdateRuns
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  UpdateRunParameter:
    description: Update run identifier.
    in: path
    name: runName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updateRuns":
    get:
      description: Get the list of update runs.
      operationId: UpdateRuns_ListTopLevel
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.  The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the update location.
          in: path
          name: updateLocation
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/UpdateRunList"
      tags:
        - UpdateRuns
      x-ms-examples:
        Get the list of update runs.:
          parameters:
            api-version: 2016-05-01
            resourceGroupName: System.Redmond
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            updateLocation: Redmond
            updateName: Microsoft1.0.180302.1
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourceGroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180302.1/updateRuns/407d9b8f-debf-4058-b374-a94a1bb4de30
                    location: redmond
                    name: 407d9b8f-debf-4058-b374-a94a1bb4de30
                    properties:
                      duration: PT14H43M50.0644552S
                      progress:
                        description: Update Azure Stack.
                        endTimeUtc: 2018-03-03T00:09:04.9913191-08:00
                        errorMessage: ""
                        name: Unnamed step
                        startTimeUtc: 2018-03-02T09:25:37.4173123-08:00
                        status: Success
                        steps:
                          - description: Perform pre-engine update.
                            endTimeUtc: 2018-03-02T10:28:55.8289013-08:00
                            errorMessage: ""
                            name: Pre-engine Update
                            startTimeUtc: 2018-03-02T09:25:37.4798089-08:00
                            status: Success
                            steps:
                              - description: Copy packages to NugetStore.
                                endTimeUtc: 2018-03-02T09:57:50.1318779-08:00
                                errorMessage: ""
                                name: PreUpdate Cloud
                                startTimeUtc: 2018-03-02T09:25:41.9019404-08:00
                                status: Success
                                steps: []
                              - description: Update SeedRing SF Runtime step.
                                endTimeUtc: 2018-03-02T10:17:07.8319178-08:00
                                errorMessage: ""
                                name: Update SeedRing SF Runtime
                                startTimeUtc: 2018-03-02T09:57:50.1475043-08:00
                                status: Success
                                steps: []
                              - description: Update SeedRing ECE step.
                                endTimeUtc: 2018-03-02T10:28:55.7507724-08:00
                                errorMessage: ""
                                name: Update SeedRing ECE
                                startTimeUtc: 2018-03-02T10:17:07.8631688-08:00
                                status: Success
                                steps: []
                          - description: Perform engine update.
                            endTimeUtc: 2018-03-02T10:37:44.0480253-08:00
                            errorMessage: ""
                            name: Engine Update
                            startTimeUtc: 2018-03-02T10:28:55.8601531-08:00
                            status: Success
                            steps:
                              - description: Copy packages to NugetStore.
                                endTimeUtc: 2018-03-02T10:35:43.2198256-08:00
                                errorMessage: ""
                                name: PreUpdate Cloud
                                startTimeUtc: 2018-03-02T10:28:59.500983-08:00
                                status: Success
                                steps: []
                              - description: Update SeedRing SF Runtime step.
                                endTimeUtc: 2018-03-02T10:36:14.5629258-08:00
                                errorMessage: ""
                                name: Update SeedRing SF Runtime
                                startTimeUtc: 2018-03-02T10:35:43.2354458-08:00
                                status: Success
                                steps: []
                              - description: Update SeedRing ECE step.
                                endTimeUtc: 2018-03-02T10:37:43.9698965-08:00
                                errorMessage: ""
                                name: Update SeedRing ECE
                                startTimeUtc: 2018-03-02T10:36:14.5941782-08:00
                                status: Success
                                steps: []
                          - description: Perform cloud update.
                            endTimeUtc: 2018-03-03T00:09:04.960067-08:00
                            errorMessage: ""
                            name: Cloud Update
                            startTimeUtc: 2018-03-02T10:37:44.079278-08:00
                            status: Success
                            steps:
                              - description: Live Update on Domain.
                                endTimeUtc: 2018-03-02T10:41:20.0340798-08:00
                                errorMessage: ""
                                name: Update Domain
                                startTimeUtc: 2018-03-02T10:37:48.3763886-08:00
                                status: Success
                                steps: []
                              - description: Check the health of all roles in parallel before beginning update.
                                endTimeUtc: 2018-03-02T10:56:10.4396313-08:00
                                errorMessage: ""
                                name: Check Cloud Health
                                startTimeUtc: 2018-03-02T10:41:20.0653266-08:00
                                status: Success
                                steps: []
                              - description: Copy OEM content to CloudMedia.
                                endTimeUtc: 2018-03-02T10:56:16.1459718-08:00
                                errorMessage: ""
                                name: PreUpdate OEM.
                                startTimeUtc: 2018-03-02T10:56:10.4708828-08:00
                                status: Success
                                steps: []
                              - description: Generates the Code Integrity Policy
                                endTimeUtc: 2018-03-02T10:57:07.0682796-08:00
                                errorMessage: ""
                                name: (DEP) Generate Code Integrity Policy
                                startTimeUtc: 2018-03-02T10:56:16.1807685-08:00
                                status: Success
                                steps: []
                              - description: Update S2D health service from StorageDisks.xml.
                                endTimeUtc: 2018-03-02T10:57:14.7249566-08:00
                                errorMessage: ""
                                name: Update OEM S2D whitelist.
                                startTimeUtc: 2018-03-02T10:57:07.0995306-08:00
                                status: Success
                                steps: []
                              - description: Create newly introduced storage accounts to be used by different providers.
                                endTimeUtc: 2018-03-02T10:58:34.4194385-08:00
                                errorMessage: ""
                                name: (FBI) Create new Storage Accounts
                                startTimeUtc: 2018-03-02T10:57:14.7562105-08:00
                                status: Success
                                steps: []
                              - description: Disable EnableAutomaticUpdates flag on NC fabriccluster
                                endTimeUtc: 2018-03-02T11:00:13.6332139-08:00
                                errorMessage: ""
                                name: NC Auto Update Disable
                                startTimeUtc: 2018-03-02T10:58:34.4506838-08:00
                                status: Success
                                steps: []
                              - description: Install Update on Hosts and Infra VMs.
                                endTimeUtc: 2018-03-02T12:19:16.6339385-08:00
                                errorMessage: ""
                                name: Install Update.
                                startTimeUtc: 2018-03-02T11:00:13.6644452-08:00
                                status: Success
                                steps: []
                              - description: Creates and updates the base images needed by hosts and virtual machines.
                                endTimeUtc: 2018-03-02T12:38:55.3959294-08:00
                                errorMessage: ""
                                name: (DEP) Generate base images for hosts and virtual machines.
                                startTimeUtc: 2018-03-02T12:19:16.7901987-08:00
                                status: Success
                                steps: []
                              - description: Build VHDs for the host at runtime and the backup WinPE for servicing.
                                endTimeUtc: 2018-03-02T12:43:15.272197-08:00
                                errorMessage: ""
                                name: (DEP) Generate host image.
                                startTimeUtc: 2018-03-02T12:38:55.4115607-08:00
                                status: Success
                                steps: []
                              - description: Update PrivilegedEndpoint whitelist on SeedRing nodes.
                                endTimeUtc: 2018-03-02T12:47:22.3519764-08:00
                                errorMessage: ""
                                name: Update PrivilegedEndpoint whitelist
                                startTimeUtc: 2018-03-02T12:43:15.3034455-08:00
                                status: Success
                                steps: []
                              - description: Update Defender signatures.
                                endTimeUtc: 2018-03-02T12:48:07.0983871-08:00
                                errorMessage: ""
                                name: Update Defender
                                startTimeUtc: 2018-03-02T12:47:22.3832322-08:00
                                status: Success
                                steps: []
                              - description: Live Update all nodes in a node set.
                                endTimeUtc: 2018-03-02T13:51:45.6581291-08:00
                                errorMessage: ""
                                name: Update Node Sets
                                startTimeUtc: 2018-03-02T12:48:07.129639-08:00
                                status: Success
                                steps: []
                              - description: Update SeedRing IBC step.
                                endTimeUtc: 2018-03-02T14:02:32.5586541-08:00
                                errorMessage: ""
                                name: Update SeedRing IBC
                                startTimeUtc: 2018-03-02T13:51:45.6934194-08:00
                                status: Success
                                steps: []
                              - description: Restart Storage Hosts step.
                                endTimeUtc: 2018-03-02T18:53:35.1617531-08:00
                                errorMessage: ""
                                name: Restart Storage Hosts
                                startTimeUtc: 2018-03-02T14:02:32.5899091-08:00
                                status: Success
                                steps: []
                              - description: Restart CA to finish applying OS updates.
                                endTimeUtc: 2018-03-02T19:00:23.0498989-08:00
                                errorMessage: ""
                                name: Restart CA.
                                startTimeUtc: 2018-03-02T18:53:35.1993965-08:00
                                status: Success
                                steps: []
                              - description: Restart NC VMs to finish applying OS updates and Update the NC ring app.
                                endTimeUtc: 2018-03-02T20:53:58.2467744-08:00
                                errorMessage: ""
                                name: Restart NC.
                                startTimeUtc: 2018-03-02T19:00:23.1436539-08:00
                                status: Success
                                steps: []
                              - description: Restart SQL VMs to finish applying OS updates and Update SQL servers.
                                endTimeUtc: 2018-03-02T21:08:54.2948193-08:00
                                errorMessage: ""
                                name: Restart SQL.
                                startTimeUtc: 2018-03-02T20:53:58.3717999-08:00
                                status: Success
                                steps: []
                              - description: Restart SLB to finish applying OS updates.
                                endTimeUtc: 2018-03-02T21:28:05.8095784-08:00
                                errorMessage: ""
                                name: Restart SLB.
                                startTimeUtc: 2018-03-02T21:08:54.3260706-08:00
                                status: Success
                                steps: []
                              - description: Restart ACSFabric and Gateway to finish applying OS updates.
                                endTimeUtc: 2018-03-02T22:27:56.0854925-08:00
                                errorMessage: ""
                                name: Restart ACSFabric and Gateway
                                startTimeUtc: 2018-03-02T21:28:05.8408311-08:00
                                status: Success
                                steps: []
                              - description: Restart WAS to finish applying OS updates.
                                endTimeUtc: 2018-03-02T22:46:02.7735634-08:00
                                errorMessage: ""
                                name: Restart WAS
                                startTimeUtc: 2018-03-02T22:27:56.1479976-08:00
                                status: Success
                                steps: []
                              - description: Restart WASPUBLIC to finish applying OS updates.
                                endTimeUtc: 2018-03-02T23:15:02.30254-08:00
                                errorMessage: ""
                                name: Restart WASPUBLIC
                                startTimeUtc: 2018-03-02T22:46:02.8048171-08:00
                                status: Success
                                steps: []
                              - description: Restart XRP FabricRing, PXE, ADFS, and SQL to finish applying OS updates.
                                endTimeUtc: 2018-03-02T23:47:21.7605287-08:00
                                errorMessage: ""
                                name: Restart XRP FabricRing, PXE and ADFS, and SQL.
                                startTimeUtc: 2018-03-02T23:15:02.3337871-08:00
                                status: Success
                                steps: []
                              - description: Update ECE manifest from OEM manifests.
                                endTimeUtc: 2018-03-02T23:47:35.5958946-08:00
                                errorMessage: ""
                                name: Update OEM manifest.
                                startTimeUtc: 2018-03-02T23:47:21.7917861-08:00
                                status: Success
                                steps: []
                              - description: Live Update all nodes active version.
                                endTimeUtc: 2018-03-03T00:05:12.3530683-08:00
                                errorMessage: ""
                                name: Update Active Version on Node Sets
                                startTimeUtc: 2018-03-02T23:47:35.6271478-08:00
                                status: Success
                                steps: []
                              - description: Switch Trace Collector to post update and validate the service is running.
                                endTimeUtc: 2018-03-03T00:06:19.9796654-08:00
                                errorMessage: ""
                                name: Post Update Trace Collector.
                                startTimeUtc: 2018-03-03T00:05:12.5405827-08:00
                                status: Success
                                steps: []
                              - description: Enable WU StartComponentCleanup on NC VMs
                                endTimeUtc: 2018-03-03T00:07:37.297809-08:00
                                errorMessage: ""
                                name: Enable StartComponentCleanup on NC VMs
                                startTimeUtc: 2018-03-03T00:06:20.0265482-08:00
                                status: Success
                                steps: []
                              - description: Update cloud security step
                                endTimeUtc: 2018-03-03T00:07:56.664821-08:00
                                errorMessage: ""
                                name: Update Cloud Security
                                startTimeUtc: 2018-03-03T00:07:37.3446716-08:00
                                status: Success
                                steps: []
                              - description: Update Azure Stack Version.
                                endTimeUtc: 2018-03-03T00:08:19.7703032-08:00
                                errorMessage: ""
                                name: PostUpdate Cloud.
                                startTimeUtc: 2018-03-03T00:07:56.6960734-08:00
                                status: Success
                                steps: []
                              - description: Disable DNS Recursion on WASP VMs
                                endTimeUtc: 2018-03-03T00:08:28.0283394-08:00
                                errorMessage: ""
                                name: Update ExternalDNS
                                startTimeUtc: 2018-03-03T00:08:19.8015565-08:00
                                status: Success
                                steps: []
                              - description: Query HRP service and close all existing active alerts
                                endTimeUtc: 2018-03-03T00:09:04.8819362-08:00
                                errorMessage: ""
                                name: Close Active Alerts After LiveUdpate
                                startTimeUtc: 2018-03-03T00:08:28.0595832-08:00
                                status: Success
                                steps: []
                      state: Succeeded
                      timeStarted: 2018-03-02T17:25:22.818Z
                    tags: {}
                    type: Microsoft.Update.Admin/updateLocations/updates/updateRuns
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updateRuns/{runName}":
    get:
      description: Get an instance of update run using the ID.
      operationId: UpdateRuns_GetTopLevel
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.  The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the update location.
          in: path
          name: updateLocation
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/UpdateRunParameter"
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/UpdateRun"
      tags:
        - UpdateRuns
      x-ms-examples:
        Get an update run.:
          parameters:
            api-version: 2016-05-01
            resourceGroupName: System.Redmond
            runName: 407d9b8f-debf-4058-b374-a94a1bb4de30
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            updateLocation: Redmond
            updateName: Microsoft1.0.180302.1
          responses:
            "200":
              body:
                id: /subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourceGroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180302.1/updateRuns/407d9b8f-debf-4058-b374-a94a1bb4de30
                location: redmond
                name: 407d9b8f-debf-4058-b374-a94a1bb4de30
                properties:
                  duration: PT14H43M50.0644552S
                  progress:
                    description: Update Azure Stack.
                    endTimeUtc: 2018-03-03T00:09:04.9913191-08:00
                    errorMessage: ""
                    name: Unnamed step
                    startTimeUtc: 2018-03-02T09:25:37.4173123-08:00
                    status: Success
                    steps:
                      - description: Perform pre-engine update.
                        endTimeUtc: 2018-03-02T10:28:55.8289013-08:00
                        errorMessage: ""
                        name: Pre-engine Update
                        startTimeUtc: 2018-03-02T09:25:37.4798089-08:00
                        status: Success
                        steps:
                          - description: Copy packages to NugetStore.
                            endTimeUtc: 2018-03-02T09:57:50.1318779-08:00
                            errorMessage: ""
                            name: PreUpdate Cloud
                            startTimeUtc: 2018-03-02T09:25:41.9019404-08:00
                            status: Success
                            steps: []
                          - description: Update SeedRing SF Runtime step.
                            endTimeUtc: 2018-03-02T10:17:07.8319178-08:00
                            errorMessage: ""
                            name: Update SeedRing SF Runtime
                            startTimeUtc: 2018-03-02T09:57:50.1475043-08:00
                            status: Success
                            steps: []
                          - description: Update SeedRing ECE step.
                            endTimeUtc: 2018-03-02T10:28:55.7507724-08:00
                            errorMessage: ""
                            name: Update SeedRing ECE
                            startTimeUtc: 2018-03-02T10:17:07.8631688-08:00
                            status: Success
                            steps: []
                      - description: Perform engine update.
                        endTimeUtc: 2018-03-02T10:37:44.0480253-08:00
                        errorMessage: ""
                        name: Engine Update
                        startTimeUtc: 2018-03-02T10:28:55.8601531-08:00
                        status: Success
                        steps:
                          - description: Copy packages to NugetStore.
                            endTimeUtc: 2018-03-02T10:35:43.2198256-08:00
                            errorMessage: ""
                            name: PreUpdate Cloud
                            startTimeUtc: 2018-03-02T10:28:59.500983-08:00
                            status: Success
                            steps: []
                          - description: Update SeedRing SF Runtime step.
                            endTimeUtc: 2018-03-02T10:36:14.5629258-08:00
                            errorMessage: ""
                            name: Update SeedRing SF Runtime
                            startTimeUtc: 2018-03-02T10:35:43.2354458-08:00
                            status: Success
                            steps: []
                          - description: Update SeedRing ECE step.
                            endTimeUtc: 2018-03-02T10:37:43.9698965-08:00
                            errorMessage: ""
                            name: Update SeedRing ECE
                            startTimeUtc: 2018-03-02T10:36:14.5941782-08:00
                            status: Success
                            steps: []
                      - description: Perform cloud update.
                        endTimeUtc: 2018-03-03T00:09:04.960067-08:00
                        errorMessage: ""
                        name: Cloud Update
                        startTimeUtc: 2018-03-02T10:37:44.079278-08:00
                        status: Success
                        steps:
                          - description: Live Update on Domain.
                            endTimeUtc: 2018-03-02T10:41:20.0340798-08:00
                            errorMessage: ""
                            name: Update Domain
                            startTimeUtc: 2018-03-02T10:37:48.3763886-08:00
                            status: Success
                            steps: []
                          - description: Check the health of all roles in parallel before beginning update.
                            endTimeUtc: 2018-03-02T10:56:10.4396313-08:00
                            errorMessage: ""
                            name: Check Cloud Health
                            startTimeUtc: 2018-03-02T10:41:20.0653266-08:00
                            status: Success
                            steps: []
                          - description: Copy OEM content to CloudMedia.
                            endTimeUtc: 2018-03-02T10:56:16.1459718-08:00
                            errorMessage: ""
                            name: PreUpdate OEM.
                            startTimeUtc: 2018-03-02T10:56:10.4708828-08:00
                            status: Success
                            steps: []
                          - description: Generates the Code Integrity Policy
                            endTimeUtc: 2018-03-02T10:57:07.0682796-08:00
                            errorMessage: ""
                            name: (DEP) Generate Code Integrity Policy
                            startTimeUtc: 2018-03-02T10:56:16.1807685-08:00
                            status: Success
                            steps: []
                          - description: Update S2D health service from StorageDisks.xml.
                            endTimeUtc: 2018-03-02T10:57:14.7249566-08:00
                            errorMessage: ""
                            name: Update OEM S2D whitelist.
                            startTimeUtc: 2018-03-02T10:57:07.0995306-08:00
                            status: Success
                            steps: []
                          - description: Create newly introduced storage accounts to be used by different providers.
                            endTimeUtc: 2018-03-02T10:58:34.4194385-08:00
                            errorMessage: ""
                            name: (FBI) Create new Storage Accounts
                            startTimeUtc: 2018-03-02T10:57:14.7562105-08:00
                            status: Success
                            steps: []
                          - description: Disable EnableAutomaticUpdates flag on NC fabriccluster
                            endTimeUtc: 2018-03-02T11:00:13.6332139-08:00
                            errorMessage: ""
                            name: NC Auto Update Disable
                            startTimeUtc: 2018-03-02T10:58:34.4506838-08:00
                            status: Success
                            steps: []
                          - description: Install Update on Hosts and Infra VMs.
                            endTimeUtc: 2018-03-02T12:19:16.6339385-08:00
                            errorMessage: ""
                            name: Install Update.
                            startTimeUtc: 2018-03-02T11:00:13.6644452-08:00
                            status: Success
                            steps: []
                          - description: Creates and updates the base images needed by hosts and virtual machines.
                            endTimeUtc: 2018-03-02T12:38:55.3959294-08:00
                            errorMessage: ""
                            name: (DEP) Generate base images for hosts and virtual machines.
                            startTimeUtc: 2018-03-02T12:19:16.7901987-08:00
                            status: Success
                            steps: []
                          - description: Build VHDs for the host at runtime and the backup WinPE for servicing.
                            endTimeUtc: 2018-03-02T12:43:15.272197-08:00
                            errorMessage: ""
                            name: (DEP) Generate host image.
                            startTimeUtc: 2018-03-02T12:38:55.4115607-08:00
                            status: Success
                            steps: []
                          - description: Update PrivilegedEndpoint whitelist on SeedRing nodes.
                            endTimeUtc: 2018-03-02T12:47:22.3519764-08:00
                            errorMessage: ""
                            name: Update PrivilegedEndpoint whitelist
                            startTimeUtc: 2018-03-02T12:43:15.3034455-08:00
                            status: Success
                            steps: []
                          - description: Update Defender signatures.
                            endTimeUtc: 2018-03-02T12:48:07.0983871-08:00
                            errorMessage: ""
                            name: Update Defender
                            startTimeUtc: 2018-03-02T12:47:22.3832322-08:00
                            status: Success
                            steps: []
                          - description: Live Update all nodes in a node set.
                            endTimeUtc: 2018-03-02T13:51:45.6581291-08:00
                            errorMessage: ""
                            name: Update Node Sets
                            startTimeUtc: 2018-03-02T12:48:07.129639-08:00
                            status: Success
                            steps: []
                          - description: Update SeedRing IBC step.
                            endTimeUtc: 2018-03-02T14:02:32.5586541-08:00
                            errorMessage: ""
                            name: Update SeedRing IBC
                            startTimeUtc: 2018-03-02T13:51:45.6934194-08:00
                            status: Success
                            steps: []
                          - description: Restart Storage Hosts step.
                            endTimeUtc: 2018-03-02T18:53:35.1617531-08:00
                            errorMessage: ""
                            name: Restart Storage Hosts
                            startTimeUtc: 2018-03-02T14:02:32.5899091-08:00
                            status: Success
                            steps: []
                          - description: Restart CA to finish applying OS updates.
                            endTimeUtc: 2018-03-02T19:00:23.0498989-08:00
                            errorMessage: ""
                            name: Restart CA.
                            startTimeUtc: 2018-03-02T18:53:35.1993965-08:00
                            status: Success
                            steps: []
                          - description: Restart NC VMs to finish applying OS updates and Update the NC ring app.
                            endTimeUtc: 2018-03-02T20:53:58.2467744-08:00
                            errorMessage: ""
                            name: Restart NC.
                            startTimeUtc: 2018-03-02T19:00:23.1436539-08:00
                            status: Success
                            steps: []
                          - description: Restart SQL VMs to finish applying OS updates and Update SQL servers.
                            endTimeUtc: 2018-03-02T21:08:54.2948193-08:00
                            errorMessage: ""
                            name: Restart SQL.
                            startTimeUtc: 2018-03-02T20:53:58.3717999-08:00
                            status: Success
                            steps: []
                          - description: Restart SLB to finish applying OS updates.
                            endTimeUtc: 2018-03-02T21:28:05.8095784-08:00
                            errorMessage: ""
                            name: Restart SLB.
                            startTimeUtc: 2018-03-02T21:08:54.3260706-08:00
                            status: Success
                            steps: []
                          - description: Restart ACSFabric and Gateway to finish applying OS updates.
                            endTimeUtc: 2018-03-02T22:27:56.0854925-08:00
                            errorMessage: ""
                            name: Restart ACSFabric and Gateway
                            startTimeUtc: 2018-03-02T21:28:05.8408311-08:00
                            status: Success
                            steps: []
                          - description: Restart WAS to finish applying OS updates.
                            endTimeUtc: 2018-03-02T22:46:02.7735634-08:00
                            errorMessage: ""
                            name: Restart WAS
                            startTimeUtc: 2018-03-02T22:27:56.1479976-08:00
                            status: Success
                            steps: []
                          - description: Restart WASPUBLIC to finish applying OS updates.
                            endTimeUtc: 2018-03-02T23:15:02.30254-08:00
                            errorMessage: ""
                            name: Restart WASPUBLIC
                            startTimeUtc: 2018-03-02T22:46:02.8048171-08:00
                            status: Success
                            steps: []
                          - description: Restart XRP FabricRing, PXE, ADFS, and SQL to finish applying OS updates.
                            endTimeUtc: 2018-03-02T23:47:21.7605287-08:00
                            errorMessage: ""
                            name: Restart XRP FabricRing, PXE and ADFS, and SQL.
                            startTimeUtc: 2018-03-02T23:15:02.3337871-08:00
                            status: Success
                            steps: []
                          - description: Update ECE manifest from OEM manifests.
                            endTimeUtc: 2018-03-02T23:47:35.5958946-08:00
                            errorMessage: ""
                            name: Update OEM manifest.
                            startTimeUtc: 2018-03-02T23:47:21.7917861-08:00
                            status: Success
                            steps: []
                          - description: Live Update all nodes active version.
                            endTimeUtc: 2018-03-03T00:05:12.3530683-08:00
                            errorMessage: ""
                            name: Update Active Version on Node Sets
                            startTimeUtc: 2018-03-02T23:47:35.6271478-08:00
                            status: Success
                            steps: []
                          - description: Switch Trace Collector to post update and validate the service is running.
                            endTimeUtc: 2018-03-03T00:06:19.9796654-08:00
                            errorMessage: ""
                            name: Post Update Trace Collector.
                            startTimeUtc: 2018-03-03T00:05:12.5405827-08:00
                            status: Success
                            steps: []
                          - description: Enable WU StartComponentCleanup on NC VMs
                            endTimeUtc: 2018-03-03T00:07:37.297809-08:00
                            errorMessage: ""
                            name: Enable StartComponentCleanup on NC VMs
                            startTimeUtc: 2018-03-03T00:06:20.0265482-08:00
                            status: Success
                            steps: []
                          - description: Update cloud security step
                            endTimeUtc: 2018-03-03T00:07:56.664821-08:00
                            errorMessage: ""
                            name: Update Cloud Security
                            startTimeUtc: 2018-03-03T00:07:37.3446716-08:00
                            status: Success
                            steps: []
                          - description: Update Azure Stack Version.
                            endTimeUtc: 2018-03-03T00:08:19.7703032-08:00
                            errorMessage: ""
                            name: PostUpdate Cloud.
                            startTimeUtc: 2018-03-03T00:07:56.6960734-08:00
                            status: Success
                            steps: []
                          - description: Disable DNS Recursion on WASP VMs
                            endTimeUtc: 2018-03-03T00:08:28.0283394-08:00
                            errorMessage: ""
                            name: Update ExternalDNS
                            startTimeUtc: 2018-03-03T00:08:19.8015565-08:00
                            status: Success
                            steps: []
                          - description: Query HRP service and close all existing active alerts
                            endTimeUtc: 2018-03-03T00:09:04.8819362-08:00
                            errorMessage: ""
                            name: Close Active Alerts After LiveUdpate
                            startTimeUtc: 2018-03-03T00:08:28.0595832-08:00
                            status: Success
                            steps: []
                  state: Succeeded
                  timeStarted: 2018-03-02T17:25:22.818Z
                tags: {}
                type: Microsoft.Update.Admin/updateLocations/updates/updateRuns
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}/updateRuns":
    get:
      description: Get the list of update runs.
      operationId: UpdateRuns_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.  The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the update location.
          in: path
          name: updateLocation
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the update.
          in: path
          name: updateName
          required: true
          type: string
          x-ms-parameter-location: method
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/UpdateRunList"
      tags:
        - UpdateRuns
      x-ms-examples:
        Get the list of update runs.:
          parameters:
            api-version: 2016-05-01
            resourceGroupName: System.Redmond
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            updateLocation: Redmond
            updateName: Microsoft1.0.180302.1
          responses:
            "200":
              body:
                nextLink: null
                value:
                  - id: /subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourceGroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180302.1/updateRuns/407d9b8f-debf-4058-b374-a94a1bb4de30
                    location: redmond
                    name: 407d9b8f-debf-4058-b374-a94a1bb4de30
                    properties:
                      duration: PT14H43M50.0644552S
                      progress:
                        description: Update Azure Stack.
                        endTimeUtc: 2018-03-03T00:09:04.9913191-08:00
                        errorMessage: ""
                        name: Unnamed step
                        startTimeUtc: 2018-03-02T09:25:37.4173123-08:00
                        status: Success
                        steps:
                          - description: Perform pre-engine update.
                            endTimeUtc: 2018-03-02T10:28:55.8289013-08:00
                            errorMessage: ""
                            name: Pre-engine Update
                            startTimeUtc: 2018-03-02T09:25:37.4798089-08:00
                            status: Success
                            steps:
                              - description: Copy packages to NugetStore.
                                endTimeUtc: 2018-03-02T09:57:50.1318779-08:00
                                errorMessage: ""
                                name: PreUpdate Cloud
                                startTimeUtc: 2018-03-02T09:25:41.9019404-08:00
                                status: Success
                                steps: []
                              - description: Update SeedRing SF Runtime step.
                                endTimeUtc: 2018-03-02T10:17:07.8319178-08:00
                                errorMessage: ""
                                name: Update SeedRing SF Runtime
                                startTimeUtc: 2018-03-02T09:57:50.1475043-08:00
                                status: Success
                                steps: []
                              - description: Update SeedRing ECE step.
                                endTimeUtc: 2018-03-02T10:28:55.7507724-08:00
                                errorMessage: ""
                                name: Update SeedRing ECE
                                startTimeUtc: 2018-03-02T10:17:07.8631688-08:00
                                status: Success
                                steps: []
                          - description: Perform engine update.
                            endTimeUtc: 2018-03-02T10:37:44.0480253-08:00
                            errorMessage: ""
                            name: Engine Update
                            startTimeUtc: 2018-03-02T10:28:55.8601531-08:00
                            status: Success
                            steps:
                              - description: Copy packages to NugetStore.
                                endTimeUtc: 2018-03-02T10:35:43.2198256-08:00
                                errorMessage: ""
                                name: PreUpdate Cloud
                                startTimeUtc: 2018-03-02T10:28:59.500983-08:00
                                status: Success
                                steps: []
                              - description: Update SeedRing SF Runtime step.
                                endTimeUtc: 2018-03-02T10:36:14.5629258-08:00
                                errorMessage: ""
                                name: Update SeedRing SF Runtime
                                startTimeUtc: 2018-03-02T10:35:43.2354458-08:00
                                status: Success
                                steps: []
                              - description: Update SeedRing ECE step.
                                endTimeUtc: 2018-03-02T10:37:43.9698965-08:00
                                errorMessage: ""
                                name: Update SeedRing ECE
                                startTimeUtc: 2018-03-02T10:36:14.5941782-08:00
                                status: Success
                                steps: []
                          - description: Perform cloud update.
                            endTimeUtc: 2018-03-03T00:09:04.960067-08:00
                            errorMessage: ""
                            name: Cloud Update
                            startTimeUtc: 2018-03-02T10:37:44.079278-08:00
                            status: Success
                            steps:
                              - description: Live Update on Domain.
                                endTimeUtc: 2018-03-02T10:41:20.0340798-08:00
                                errorMessage: ""
                                name: Update Domain
                                startTimeUtc: 2018-03-02T10:37:48.3763886-08:00
                                status: Success
                                steps: []
                              - description: Check the health of all roles in parallel before beginning update.
                                endTimeUtc: 2018-03-02T10:56:10.4396313-08:00
                                errorMessage: ""
                                name: Check Cloud Health
                                startTimeUtc: 2018-03-02T10:41:20.0653266-08:00
                                status: Success
                                steps: []
                              - description: Copy OEM content to CloudMedia.
                                endTimeUtc: 2018-03-02T10:56:16.1459718-08:00
                                errorMessage: ""
                                name: PreUpdate OEM.
                                startTimeUtc: 2018-03-02T10:56:10.4708828-08:00
                                status: Success
                                steps: []
                              - description: Generates the Code Integrity Policy
                                endTimeUtc: 2018-03-02T10:57:07.0682796-08:00
                                errorMessage: ""
                                name: (DEP) Generate Code Integrity Policy
                                startTimeUtc: 2018-03-02T10:56:16.1807685-08:00
                                status: Success
                                steps: []
                              - description: Update S2D health service from StorageDisks.xml.
                                endTimeUtc: 2018-03-02T10:57:14.7249566-08:00
                                errorMessage: ""
                                name: Update OEM S2D whitelist.
                                startTimeUtc: 2018-03-02T10:57:07.0995306-08:00
                                status: Success
                                steps: []
                              - description: Create newly introduced storage accounts to be used by different providers.
                                endTimeUtc: 2018-03-02T10:58:34.4194385-08:00
                                errorMessage: ""
                                name: (FBI) Create new Storage Accounts
                                startTimeUtc: 2018-03-02T10:57:14.7562105-08:00
                                status: Success
                                steps: []
                              - description: Disable EnableAutomaticUpdates flag on NC fabriccluster
                                endTimeUtc: 2018-03-02T11:00:13.6332139-08:00
                                errorMessage: ""
                                name: NC Auto Update Disable
                                startTimeUtc: 2018-03-02T10:58:34.4506838-08:00
                                status: Success
                                steps: []
                              - description: Install Update on Hosts and Infra VMs.
                                endTimeUtc: 2018-03-02T12:19:16.6339385-08:00
                                errorMessage: ""
                                name: Install Update.
                                startTimeUtc: 2018-03-02T11:00:13.6644452-08:00
                                status: Success
                                steps: []
                              - description: Creates and updates the base images needed by hosts and virtual machines.
                                endTimeUtc: 2018-03-02T12:38:55.3959294-08:00
                                errorMessage: ""
                                name: (DEP) Generate base images for hosts and virtual machines.
                                startTimeUtc: 2018-03-02T12:19:16.7901987-08:00
                                status: Success
                                steps: []
                              - description: Build VHDs for the host at runtime and the backup WinPE for servicing.
                                endTimeUtc: 2018-03-02T12:43:15.272197-08:00
                                errorMessage: ""
                                name: (DEP) Generate host image.
                                startTimeUtc: 2018-03-02T12:38:55.4115607-08:00
                                status: Success
                                steps: []
                              - description: Update PrivilegedEndpoint whitelist on SeedRing nodes.
                                endTimeUtc: 2018-03-02T12:47:22.3519764-08:00
                                errorMessage: ""
                                name: Update PrivilegedEndpoint whitelist
                                startTimeUtc: 2018-03-02T12:43:15.3034455-08:00
                                status: Success
                                steps: []
                              - description: Update Defender signatures.
                                endTimeUtc: 2018-03-02T12:48:07.0983871-08:00
                                errorMessage: ""
                                name: Update Defender
                                startTimeUtc: 2018-03-02T12:47:22.3832322-08:00
                                status: Success
                                steps: []
                              - description: Live Update all nodes in a node set.
                                endTimeUtc: 2018-03-02T13:51:45.6581291-08:00
                                errorMessage: ""
                                name: Update Node Sets
                                startTimeUtc: 2018-03-02T12:48:07.129639-08:00
                                status: Success
                                steps: []
                              - description: Update SeedRing IBC step.
                                endTimeUtc: 2018-03-02T14:02:32.5586541-08:00
                                errorMessage: ""
                                name: Update SeedRing IBC
                                startTimeUtc: 2018-03-02T13:51:45.6934194-08:00
                                status: Success
                                steps: []
                              - description: Restart Storage Hosts step.
                                endTimeUtc: 2018-03-02T18:53:35.1617531-08:00
                                errorMessage: ""
                                name: Restart Storage Hosts
                                startTimeUtc: 2018-03-02T14:02:32.5899091-08:00
                                status: Success
                                steps: []
                              - description: Restart CA to finish applying OS updates.
                                endTimeUtc: 2018-03-02T19:00:23.0498989-08:00
                                errorMessage: ""
                                name: Restart CA.
                                startTimeUtc: 2018-03-02T18:53:35.1993965-08:00
                                status: Success
                                steps: []
                              - description: Restart NC VMs to finish applying OS updates and Update the NC ring app.
                                endTimeUtc: 2018-03-02T20:53:58.2467744-08:00
                                errorMessage: ""
                                name: Restart NC.
                                startTimeUtc: 2018-03-02T19:00:23.1436539-08:00
                                status: Success
                                steps: []
                              - description: Restart SQL VMs to finish applying OS updates and Update SQL servers.
                                endTimeUtc: 2018-03-02T21:08:54.2948193-08:00
                                errorMessage: ""
                                name: Restart SQL.
                                startTimeUtc: 2018-03-02T20:53:58.3717999-08:00
                                status: Success
                                steps: []
                              - description: Restart SLB to finish applying OS updates.
                                endTimeUtc: 2018-03-02T21:28:05.8095784-08:00
                                errorMessage: ""
                                name: Restart SLB.
                                startTimeUtc: 2018-03-02T21:08:54.3260706-08:00
                                status: Success
                                steps: []
                              - description: Restart ACSFabric and Gateway to finish applying OS updates.
                                endTimeUtc: 2018-03-02T22:27:56.0854925-08:00
                                errorMessage: ""
                                name: Restart ACSFabric and Gateway
                                startTimeUtc: 2018-03-02T21:28:05.8408311-08:00
                                status: Success
                                steps: []
                              - description: Restart WAS to finish applying OS updates.
                                endTimeUtc: 2018-03-02T22:46:02.7735634-08:00
                                errorMessage: ""
                                name: Restart WAS
                                startTimeUtc: 2018-03-02T22:27:56.1479976-08:00
                                status: Success
                                steps: []
                              - description: Restart WASPUBLIC to finish applying OS updates.
                                endTimeUtc: 2018-03-02T23:15:02.30254-08:00
                                errorMessage: ""
                                name: Restart WASPUBLIC
                                startTimeUtc: 2018-03-02T22:46:02.8048171-08:00
                                status: Success
                                steps: []
                              - description: Restart XRP FabricRing, PXE, ADFS, and SQL to finish applying OS updates.
                                endTimeUtc: 2018-03-02T23:47:21.7605287-08:00
                                errorMessage: ""
                                name: Restart XRP FabricRing, PXE and ADFS, and SQL.
                                startTimeUtc: 2018-03-02T23:15:02.3337871-08:00
                                status: Success
                                steps: []
                              - description: Update ECE manifest from OEM manifests.
                                endTimeUtc: 2018-03-02T23:47:35.5958946-08:00
                                errorMessage: ""
                                name: Update OEM manifest.
                                startTimeUtc: 2018-03-02T23:47:21.7917861-08:00
                                status: Success
                                steps: []
                              - description: Live Update all nodes active version.
                                endTimeUtc: 2018-03-03T00:05:12.3530683-08:00
                                errorMessage: ""
                                name: Update Active Version on Node Sets
                                startTimeUtc: 2018-03-02T23:47:35.6271478-08:00
                                status: Success
                                steps: []
                              - description: Switch Trace Collector to post update and validate the service is running.
                                endTimeUtc: 2018-03-03T00:06:19.9796654-08:00
                                errorMessage: ""
                                name: Post Update Trace Collector.
                                startTimeUtc: 2018-03-03T00:05:12.5405827-08:00
                                status: Success
                                steps: []
                              - description: Enable WU StartComponentCleanup on NC VMs
                                endTimeUtc: 2018-03-03T00:07:37.297809-08:00
                                errorMessage: ""
                                name: Enable StartComponentCleanup on NC VMs
                                startTimeUtc: 2018-03-03T00:06:20.0265482-08:00
                                status: Success
                                steps: []
                              - description: Update cloud security step
                                endTimeUtc: 2018-03-03T00:07:56.664821-08:00
                                errorMessage: ""
                                name: Update Cloud Security
                                startTimeUtc: 2018-03-03T00:07:37.3446716-08:00
                                status: Success
                                steps: []
                              - description: Update Azure Stack Version.
                                endTimeUtc: 2018-03-03T00:08:19.7703032-08:00
                                errorMessage: ""
                                name: PostUpdate Cloud.
                                startTimeUtc: 2018-03-03T00:07:56.6960734-08:00
                                status: Success
                                steps: []
                              - description: Disable DNS Recursion on WASP VMs
                                endTimeUtc: 2018-03-03T00:08:28.0283394-08:00
                                errorMessage: ""
                                name: Update ExternalDNS
                                startTimeUtc: 2018-03-03T00:08:19.8015565-08:00
                                status: Success
                                steps: []
                              - description: Query HRP service and close all existing active alerts
                                endTimeUtc: 2018-03-03T00:09:04.8819362-08:00
                                errorMessage: ""
                                name: Close Active Alerts After LiveUdpate
                                startTimeUtc: 2018-03-03T00:08:28.0595832-08:00
                                status: Success
                                steps: []
                      state: Succeeded
                      timeStarted: 2018-03-02T17:25:22.818Z
                    tags: {}
                    type: Microsoft.Update.Admin/updateLocations/updates/updateRuns
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}/updateRuns/{runName}":
    get:
      description: Get an instance of update run using the ID.
      operationId: UpdateRuns_Get
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.  The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the update location.
          in: path
          name: updateLocation
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the update.
          in: path
          name: updateName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/UpdateRunParameter"
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/UpdateRun"
      tags:
        - UpdateRuns
      x-ms-examples:
        Get an update run.:
          parameters:
            api-version: 2016-05-01
            resourceGroupName: System.Redmond
            runName: 407d9b8f-debf-4058-b374-a94a1bb4de30
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            updateLocation: Redmond
            updateName: Microsoft1.0.180302.1
          responses:
            "200":
              body:
                id: /subscriptions/23d66fd1-4743-42ff-b391-e29dc51d799e/resourceGroups/System.Redmond/providers/Microsoft.Update.Admin/updateLocations/redmond/updates/Microsoft1.0.180302.1/updateRuns/407d9b8f-debf-4058-b374-a94a1bb4de30
                location: redmond
                name: 407d9b8f-debf-4058-b374-a94a1bb4de30
                properties:
                  duration: PT14H43M50.0644552S
                  progress:
                    description: Update Azure Stack.
                    endTimeUtc: 2018-03-03T00:09:04.9913191-08:00
                    errorMessage: ""
                    name: Unnamed step
                    startTimeUtc: 2018-03-02T09:25:37.4173123-08:00
                    status: Success
                    steps:
                      - description: Perform pre-engine update.
                        endTimeUtc: 2018-03-02T10:28:55.8289013-08:00
                        errorMessage: ""
                        name: Pre-engine Update
                        startTimeUtc: 2018-03-02T09:25:37.4798089-08:00
                        status: Success
                        steps:
                          - description: Copy packages to NugetStore.
                            endTimeUtc: 2018-03-02T09:57:50.1318779-08:00
                            errorMessage: ""
                            name: PreUpdate Cloud
                            startTimeUtc: 2018-03-02T09:25:41.9019404-08:00
                            status: Success
                            steps: []
                          - description: Update SeedRing SF Runtime step.
                            endTimeUtc: 2018-03-02T10:17:07.8319178-08:00
                            errorMessage: ""
                            name: Update SeedRing SF Runtime
                            startTimeUtc: 2018-03-02T09:57:50.1475043-08:00
                            status: Success
                            steps: []
                          - description: Update SeedRing ECE step.
                            endTimeUtc: 2018-03-02T10:28:55.7507724-08:00
                            errorMessage: ""
                            name: Update SeedRing ECE
                            startTimeUtc: 2018-03-02T10:17:07.8631688-08:00
                            status: Success
                            steps: []
                      - description: Perform engine update.
                        endTimeUtc: 2018-03-02T10:37:44.0480253-08:00
                        errorMessage: ""
                        name: Engine Update
                        startTimeUtc: 2018-03-02T10:28:55.8601531-08:00
                        status: Success
                        steps:
                          - description: Copy packages to NugetStore.
                            endTimeUtc: 2018-03-02T10:35:43.2198256-08:00
                            errorMessage: ""
                            name: PreUpdate Cloud
                            startTimeUtc: 2018-03-02T10:28:59.500983-08:00
                            status: Success
                            steps: []
                          - description: Update SeedRing SF Runtime step.
                            endTimeUtc: 2018-03-02T10:36:14.5629258-08:00
                            errorMessage: ""
                            name: Update SeedRing SF Runtime
                            startTimeUtc: 2018-03-02T10:35:43.2354458-08:00
                            status: Success
                            steps: []
                          - description: Update SeedRing ECE step.
                            endTimeUtc: 2018-03-02T10:37:43.9698965-08:00
                            errorMessage: ""
                            name: Update SeedRing ECE
                            startTimeUtc: 2018-03-02T10:36:14.5941782-08:00
                            status: Success
                            steps: []
                      - description: Perform cloud update.
                        endTimeUtc: 2018-03-03T00:09:04.960067-08:00
                        errorMessage: ""
                        name: Cloud Update
                        startTimeUtc: 2018-03-02T10:37:44.079278-08:00
                        status: Success
                        steps:
                          - description: Live Update on Domain.
                            endTimeUtc: 2018-03-02T10:41:20.0340798-08:00
                            errorMessage: ""
                            name: Update Domain
                            startTimeUtc: 2018-03-02T10:37:48.3763886-08:00
                            status: Success
                            steps: []
                          - description: Check the health of all roles in parallel before beginning update.
                            endTimeUtc: 2018-03-02T10:56:10.4396313-08:00
                            errorMessage: ""
                            name: Check Cloud Health
                            startTimeUtc: 2018-03-02T10:41:20.0653266-08:00
                            status: Success
                            steps: []
                          - description: Copy OEM content to CloudMedia.
                            endTimeUtc: 2018-03-02T10:56:16.1459718-08:00
                            errorMessage: ""
                            name: PreUpdate OEM.
                            startTimeUtc: 2018-03-02T10:56:10.4708828-08:00
                            status: Success
                            steps: []
                          - description: Generates the Code Integrity Policy
                            endTimeUtc: 2018-03-02T10:57:07.0682796-08:00
                            errorMessage: ""
                            name: (DEP) Generate Code Integrity Policy
                            startTimeUtc: 2018-03-02T10:56:16.1807685-08:00
                            status: Success
                            steps: []
                          - description: Update S2D health service from StorageDisks.xml.
                            endTimeUtc: 2018-03-02T10:57:14.7249566-08:00
                            errorMessage: ""
                            name: Update OEM S2D whitelist.
                            startTimeUtc: 2018-03-02T10:57:07.0995306-08:00
                            status: Success
                            steps: []
                          - description: Create newly introduced storage accounts to be used by different providers.
                            endTimeUtc: 2018-03-02T10:58:34.4194385-08:00
                            errorMessage: ""
                            name: (FBI) Create new Storage Accounts
                            startTimeUtc: 2018-03-02T10:57:14.7562105-08:00
                            status: Success
                            steps: []
                          - description: Disable EnableAutomaticUpdates flag on NC fabriccluster
                            endTimeUtc: 2018-03-02T11:00:13.6332139-08:00
                            errorMessage: ""
                            name: NC Auto Update Disable
                            startTimeUtc: 2018-03-02T10:58:34.4506838-08:00
                            status: Success
                            steps: []
                          - description: Install Update on Hosts and Infra VMs.
                            endTimeUtc: 2018-03-02T12:19:16.6339385-08:00
                            errorMessage: ""
                            name: Install Update.
                            startTimeUtc: 2018-03-02T11:00:13.6644452-08:00
                            status: Success
                            steps: []
                          - description: Creates and updates the base images needed by hosts and virtual machines.
                            endTimeUtc: 2018-03-02T12:38:55.3959294-08:00
                            errorMessage: ""
                            name: (DEP) Generate base images for hosts and virtual machines.
                            startTimeUtc: 2018-03-02T12:19:16.7901987-08:00
                            status: Success
                            steps: []
                          - description: Build VHDs for the host at runtime and the backup WinPE for servicing.
                            endTimeUtc: 2018-03-02T12:43:15.272197-08:00
                            errorMessage: ""
                            name: (DEP) Generate host image.
                            startTimeUtc: 2018-03-02T12:38:55.4115607-08:00
                            status: Success
                            steps: []
                          - description: Update PrivilegedEndpoint whitelist on SeedRing nodes.
                            endTimeUtc: 2018-03-02T12:47:22.3519764-08:00
                            errorMessage: ""
                            name: Update PrivilegedEndpoint whitelist
                            startTimeUtc: 2018-03-02T12:43:15.3034455-08:00
                            status: Success
                            steps: []
                          - description: Update Defender signatures.
                            endTimeUtc: 2018-03-02T12:48:07.0983871-08:00
                            errorMessage: ""
                            name: Update Defender
                            startTimeUtc: 2018-03-02T12:47:22.3832322-08:00
                            status: Success
                            steps: []
                          - description: Live Update all nodes in a node set.
                            endTimeUtc: 2018-03-02T13:51:45.6581291-08:00
                            errorMessage: ""
                            name: Update Node Sets
                            startTimeUtc: 2018-03-02T12:48:07.129639-08:00
                            status: Success
                            steps: []
                          - description: Update SeedRing IBC step.
                            endTimeUtc: 2018-03-02T14:02:32.5586541-08:00
                            errorMessage: ""
                            name: Update SeedRing IBC
                            startTimeUtc: 2018-03-02T13:51:45.6934194-08:00
                            status: Success
                            steps: []
                          - description: Restart Storage Hosts step.
                            endTimeUtc: 2018-03-02T18:53:35.1617531-08:00
                            errorMessage: ""
                            name: Restart Storage Hosts
                            startTimeUtc: 2018-03-02T14:02:32.5899091-08:00
                            status: Success
                            steps: []
                          - description: Restart CA to finish applying OS updates.
                            endTimeUtc: 2018-03-02T19:00:23.0498989-08:00
                            errorMessage: ""
                            name: Restart CA.
                            startTimeUtc: 2018-03-02T18:53:35.1993965-08:00
                            status: Success
                            steps: []
                          - description: Restart NC VMs to finish applying OS updates and Update the NC ring app.
                            endTimeUtc: 2018-03-02T20:53:58.2467744-08:00
                            errorMessage: ""
                            name: Restart NC.
                            startTimeUtc: 2018-03-02T19:00:23.1436539-08:00
                            status: Success
                            steps: []
                          - description: Restart SQL VMs to finish applying OS updates and Update SQL servers.
                            endTimeUtc: 2018-03-02T21:08:54.2948193-08:00
                            errorMessage: ""
                            name: Restart SQL.
                            startTimeUtc: 2018-03-02T20:53:58.3717999-08:00
                            status: Success
                            steps: []
                          - description: Restart SLB to finish applying OS updates.
                            endTimeUtc: 2018-03-02T21:28:05.8095784-08:00
                            errorMessage: ""
                            name: Restart SLB.
                            startTimeUtc: 2018-03-02T21:08:54.3260706-08:00
                            status: Success
                            steps: []
                          - description: Restart ACSFabric and Gateway to finish applying OS updates.
                            endTimeUtc: 2018-03-02T22:27:56.0854925-08:00
                            errorMessage: ""
                            name: Restart ACSFabric and Gateway
                            startTimeUtc: 2018-03-02T21:28:05.8408311-08:00
                            status: Success
                            steps: []
                          - description: Restart WAS to finish applying OS updates.
                            endTimeUtc: 2018-03-02T22:46:02.7735634-08:00
                            errorMessage: ""
                            name: Restart WAS
                            startTimeUtc: 2018-03-02T22:27:56.1479976-08:00
                            status: Success
                            steps: []
                          - description: Restart WASPUBLIC to finish applying OS updates.
                            endTimeUtc: 2018-03-02T23:15:02.30254-08:00
                            errorMessage: ""
                            name: Restart WASPUBLIC
                            startTimeUtc: 2018-03-02T22:46:02.8048171-08:00
                            status: Success
                            steps: []
                          - description: Restart XRP FabricRing, PXE, ADFS, and SQL to finish applying OS updates.
                            endTimeUtc: 2018-03-02T23:47:21.7605287-08:00
                            errorMessage: ""
                            name: Restart XRP FabricRing, PXE and ADFS, and SQL.
                            startTimeUtc: 2018-03-02T23:15:02.3337871-08:00
                            status: Success
                            steps: []
                          - description: Update ECE manifest from OEM manifests.
                            endTimeUtc: 2018-03-02T23:47:35.5958946-08:00
                            errorMessage: ""
                            name: Update OEM manifest.
                            startTimeUtc: 2018-03-02T23:47:21.7917861-08:00
                            status: Success
                            steps: []
                          - description: Live Update all nodes active version.
                            endTimeUtc: 2018-03-03T00:05:12.3530683-08:00
                            errorMessage: ""
                            name: Update Active Version on Node Sets
                            startTimeUtc: 2018-03-02T23:47:35.6271478-08:00
                            status: Success
                            steps: []
                          - description: Switch Trace Collector to post update and validate the service is running.
                            endTimeUtc: 2018-03-03T00:06:19.9796654-08:00
                            errorMessage: ""
                            name: Post Update Trace Collector.
                            startTimeUtc: 2018-03-03T00:05:12.5405827-08:00
                            status: Success
                            steps: []
                          - description: Enable WU StartComponentCleanup on NC VMs
                            endTimeUtc: 2018-03-03T00:07:37.297809-08:00
                            errorMessage: ""
                            name: Enable StartComponentCleanup on NC VMs
                            startTimeUtc: 2018-03-03T00:06:20.0265482-08:00
                            status: Success
                            steps: []
                          - description: Update cloud security step
                            endTimeUtc: 2018-03-03T00:07:56.664821-08:00
                            errorMessage: ""
                            name: Update Cloud Security
                            startTimeUtc: 2018-03-03T00:07:37.3446716-08:00
                            status: Success
                            steps: []
                          - description: Update Azure Stack Version.
                            endTimeUtc: 2018-03-03T00:08:19.7703032-08:00
                            errorMessage: ""
                            name: PostUpdate Cloud.
                            startTimeUtc: 2018-03-03T00:07:56.6960734-08:00
                            status: Success
                            steps: []
                          - description: Disable DNS Recursion on WASP VMs
                            endTimeUtc: 2018-03-03T00:08:28.0283394-08:00
                            errorMessage: ""
                            name: Update ExternalDNS
                            startTimeUtc: 2018-03-03T00:08:19.8015565-08:00
                            status: Success
                            steps: []
                          - description: Query HRP service and close all existing active alerts
                            endTimeUtc: 2018-03-03T00:09:04.8819362-08:00
                            errorMessage: ""
                            name: Close Active Alerts After LiveUdpate
                            startTimeUtc: 2018-03-03T00:08:28.0595832-08:00
                            status: Success
                            steps: []
                  state: Succeeded
                  timeStarted: 2018-03-02T17:25:22.818Z
                tags: {}
                type: Microsoft.Update.Admin/updateLocations/updates/updateRuns
  "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Update.Admin/updateLocations/{updateLocation}/updates/{updateName}/updateRuns/{runName}/rerun":
    post:
      description: Resume a failed update.
      operationId: UpdateRuns_Rerun
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.  The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Resource group name.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the update location.
          in: path
          name: updateLocation
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the update.
          in: path
          name: updateName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/UpdateRunParameter"
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
      tags:
        - UpdateRuns
      x-ms-examples:
        Rerun an update.:
          parameters:
            api-version: 2016-05-01
            resourceGroupName: System.Redmond
            runName: 407d9b8f-debf-4058-b374-a94a1bb4de30
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            updateLocation: Redmond
            updateName: Microsoft1.0.180302.1
          responses:
            "200": {}
definitions:
  Step:
    description: Information about each step of the update process.
    properties:
      description:
        description: Description of the step.
        type: string
      endTimeUtc:
        description: Time at which this step stopped executing
        format: date-time
        type: string
      errorMessage:
        description: Error message, if any.
        type: string
      name:
        description: Name of the step.
        type: string
      startTimeUtc:
        description: Time at which this step started executing
        format: date-time
        type: string
      status:
        description: State of the step.
        type: string
      steps:
        description: Inner steps
        items:
          $ref: "#/definitions/Step"
        type: array
    type: object
  UpdateRun:
    allOf:
      - description: Base Resource Object
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: Region location of resource.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Representation of a update run resource.
    properties:
      properties:
        $ref: "#/definitions/UpdateRunModel"
        description: Properties of a update run.
        x-ms-client-flatten: true
    type: object
  UpdateRunList:
    description: Pageable list of update runs.
    properties:
      nextLink:
        description: URI to the next page.
        type: string
      value:
        description: List of update runs.
        items:
          $ref: "#/definitions/UpdateRun"
        type: array
    type: object
  UpdateRunModel:
    description: Properties of an update run.
    properties:
      duration:
        description: Duration of the update.
        type: string
      progress:
        $ref: "#/definitions/Step"
        description: Current progress of the update run.
      state:
        $ref: "#/definitions/UpdateRunState"
        description: State of the update run.
      timeStarted:
        description: Update start time.
        format: date-time
        type: string
    type: object
  UpdateRunState:
    description: State of the update run.
    enum:
      - Unknown
      - Succeeded
      - InProgress
      - Failed
    type: string
    x-ms-enum:
      modelAsString: true
      name: UpdateRunState
