openapi: 3.0.2
servers:
  - description: Base server
    url: https://api.presalytics.io/doc-converter/
info:
  contact:
    email: kevin@presalytics.io
    name: Presalytics.io
    url: http://presalytics.io
  description: This api converts file formats of OpenXml and OpenOffice documents formats to vector files (e.g., svg)
  license:
    name: AGPL
  title: Doc Converter
  version: "0.1"
  x-apisguru-categories:
    - analytics
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_presalytics.io_static_img_Logo_Logos_Orange-White_navbar.png
  x-origin:
    - format: openapi
      url: https://api.presalytics.io/doc-converter/openapi.json
      version: "3.0"
  x-providerName: presalytics.io
  x-serviceName: converter
paths:
  /svgconvert:
    post:
      operationId: svgconvert
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                file:
                  format: binary
                  type: string
              title: File to Convert
              type: object
        description: Fizepath to pptx file
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  blob_name:
                    type: string
                  blob_url:
                    type: string
                title: File Url
                type: object
          description: Url of svg file
        "400":
          description: Bad Request.
        "415":
          description: Invalid file type
      summary: converts pptx file to svg image
