openapi: 3.0.0
servers:
  - url: http://netboxdemo.com/api
info:
  contact:
    email: netbox@digitalocean.com
  description: API to access NetBox
  license:
    name: Apache v2 License
  termsOfService: https://github.com/digitalocean/netbox
  title: NetBox API
  version: "2.4"
  x-apisguru-categories:
    - cloud
  x-origin:
    - format: swagger
      url: https://github.com/APIs-guru/openapi-directory/files/5383965/swagger.yaml.txt
      version: "2.0"
  x-preferred: false
  x-providerName: netboxdemo.com
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
security:
  - Bearer: []
paths:
  /circuits/_choices/:
    get:
      description: ""
      operationId: circuits__choices_list
      responses:
        "200":
          description: ""
      tags:
        - circuits
    parameters: []
  "/circuits/_choices/{id}/":
    get:
      description: ""
      operationId: circuits__choices_read
      responses:
        "200":
          description: ""
      tags:
        - circuits
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  /circuits/circuit-terminations/:
    get:
      description: ""
      operationId: circuits_circuit-terminations_list
      parameters:
        - description: ""
          in: query
          name: term_side
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: port_speed
          required: false
          schema:
            type: number
        - description: ""
          in: query
          name: upstream_speed
          required: false
          schema:
            type: number
        - description: ""
          in: query
          name: xconnect_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: q
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: circuit_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/CircuitTermination"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - circuits
    parameters: []
    post:
      description: ""
      operationId: circuits_circuit-terminations_create
      requestBody:
        $ref: "#/components/requestBodies/WritableCircuitTermination"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitTermination"
          description: ""
      tags:
        - circuits
  "/circuits/circuit-terminations/{id}/":
    delete:
      description: ""
      operationId: circuits_circuit-terminations_delete
      responses:
        "204":
          description: ""
      tags:
        - circuits
    get:
      description: ""
      operationId: circuits_circuit-terminations_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitTermination"
          description: ""
      tags:
        - circuits
    parameters:
      - description: A unique integer value identifying this circuit termination.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: circuits_circuit-terminations_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableCircuitTermination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitTermination"
          description: ""
      tags:
        - circuits
    put:
      description: ""
      operationId: circuits_circuit-terminations_update
      requestBody:
        $ref: "#/components/requestBodies/WritableCircuitTermination"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitTermination"
          description: ""
      tags:
        - circuits
  /circuits/circuit-types/:
    get:
      description: ""
      operationId: circuits_circuit-types_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/CircuitType"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - circuits
    parameters: []
    post:
      description: ""
      operationId: circuits_circuit-types_create
      requestBody:
        $ref: "#/components/requestBodies/CircuitType"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitType"
          description: ""
      tags:
        - circuits
  "/circuits/circuit-types/{id}/":
    delete:
      description: ""
      operationId: circuits_circuit-types_delete
      responses:
        "204":
          description: ""
      tags:
        - circuits
    get:
      description: ""
      operationId: circuits_circuit-types_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitType"
          description: ""
      tags:
        - circuits
    parameters:
      - description: A unique integer value identifying this circuit type.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: circuits_circuit-types_partial_update
      requestBody:
        $ref: "#/components/requestBodies/CircuitType"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitType"
          description: ""
      tags:
        - circuits
    put:
      description: ""
      operationId: circuits_circuit-types_update
      requestBody:
        $ref: "#/components/requestBodies/CircuitType"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CircuitType"
          description: ""
      tags:
        - circuits
  /circuits/circuits/:
    get:
      description: ""
      operationId: circuits_circuits_list
      parameters:
        - description: ""
          in: query
          name: cid
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: install_date
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: commit_rate
          required: false
          schema:
            type: number
        - description: Multiple values may be separated by commas.
          in: query
          name: id__in
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: q
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: provider_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: provider
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: type_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: type
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: status
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/Circuit"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - circuits
    parameters: []
    post:
      description: ""
      operationId: circuits_circuits_create
      requestBody:
        $ref: "#/components/requestBodies/WritableCircuit"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Circuit"
          description: ""
      tags:
        - circuits
  "/circuits/circuits/{id}/":
    delete:
      description: ""
      operationId: circuits_circuits_delete
      responses:
        "204":
          description: ""
      tags:
        - circuits
    get:
      description: ""
      operationId: circuits_circuits_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Circuit"
          description: ""
      tags:
        - circuits
    parameters:
      - description: A unique integer value identifying this circuit.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: circuits_circuits_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableCircuit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Circuit"
          description: ""
      tags:
        - circuits
    put:
      description: ""
      operationId: circuits_circuits_update
      requestBody:
        $ref: "#/components/requestBodies/WritableCircuit"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Circuit"
          description: ""
      tags:
        - circuits
  /circuits/providers/:
    get:
      description: ""
      operationId: circuits_providers_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: asn
          required: false
          schema:
            type: number
        - description: ""
          in: query
          name: account
          required: false
          schema:
            type: string
        - description: Multiple values may be separated by commas.
          in: query
          name: id__in
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: q
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/Provider"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - circuits
    parameters: []
    post:
      description: ""
      operationId: circuits_providers_create
      requestBody:
        $ref: "#/components/requestBodies/Provider"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Provider"
          description: ""
      tags:
        - circuits
  "/circuits/providers/{id}/":
    delete:
      description: ""
      operationId: circuits_providers_delete
      responses:
        "204":
          description: ""
      tags:
        - circuits
    get:
      description: ""
      operationId: circuits_providers_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Provider"
          description: ""
      tags:
        - circuits
    parameters:
      - description: A unique integer value identifying this provider.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: circuits_providers_partial_update
      requestBody:
        $ref: "#/components/requestBodies/Provider"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Provider"
          description: ""
      tags:
        - circuits
    put:
      description: ""
      operationId: circuits_providers_update
      requestBody:
        $ref: "#/components/requestBodies/Provider"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Provider"
          description: ""
      tags:
        - circuits
  "/circuits/providers/{id}/graphs/":
    get:
      description: A convenience method for rendering graphs for a particular provider.
      operationId: circuits_providers_graphs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Provider"
          description: ""
      tags:
        - circuits
    parameters:
      - description: A unique integer value identifying this provider.
        in: path
        name: id
        required: true
        schema:
          type: integer
  /dcim/_choices/:
    get:
      description: ""
      operationId: dcim__choices_list
      responses:
        "200":
          description: ""
      tags:
        - dcim
    parameters: []
  "/dcim/_choices/{id}/":
    get:
      description: ""
      operationId: dcim__choices_read
      responses:
        "200":
          description: ""
      tags:
        - dcim
    parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
  /dcim/connected-device/:
    get:
      description: |-
        This endpoint allows a user to determine what device (if any) is connected to a given peer device and peer
        interface. This is useful in a situation where a device boots with no configuration, but can detect its neighbors
        via a protocol such as LLDP. Two query parameters must be included in the request:

        * `peer_device`: The name of the peer device
        * `peer_interface`: The name of the peer interface
      operationId: dcim_connected-device_list
      parameters:
        - description: The name of the peer device
          in: query
          name: peer_device
          required: true
          schema:
            type: string
        - description: The name of the peer interface
          in: query
          name: peer_interface
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
          description: ""
      tags:
        - dcim
    parameters: []
  /dcim/console-connections/:
    get:
      description: ""
      operationId: dcim_console-connections_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: connection_status
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/ConsolePort"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
  /dcim/console-port-templates/:
    get:
      description: ""
      operationId: dcim_console-port-templates_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: devicetype_id
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/ConsolePortTemplate"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_console-port-templates_create
      requestBody:
        $ref: "#/components/requestBodies/WritableConsolePortTemplate"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsolePortTemplate"
          description: ""
      tags:
        - dcim
  "/dcim/console-port-templates/{id}/":
    delete:
      description: ""
      operationId: dcim_console-port-templates_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_console-port-templates_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsolePortTemplate"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this console port template.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_console-port-templates_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableConsolePortTemplate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsolePortTemplate"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_console-port-templates_update
      requestBody:
        $ref: "#/components/requestBodies/WritableConsolePortTemplate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsolePortTemplate"
          description: ""
      tags:
        - dcim
  /dcim/console-ports/:
    get:
      description: ""
      operationId: dcim_console-ports_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/ConsolePort"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_console-ports_create
      requestBody:
        $ref: "#/components/requestBodies/WritableConsolePort"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsolePort"
          description: ""
      tags:
        - dcim
  "/dcim/console-ports/{id}/":
    delete:
      description: ""
      operationId: dcim_console-ports_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_console-ports_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsolePort"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this console port.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_console-ports_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableConsolePort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsolePort"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_console-ports_update
      requestBody:
        $ref: "#/components/requestBodies/WritableConsolePort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsolePort"
          description: ""
      tags:
        - dcim
  /dcim/console-server-port-templates/:
    get:
      description: ""
      operationId: dcim_console-server-port-templates_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: devicetype_id
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/ConsoleServerPortTemplate"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_console-server-port-templates_create
      requestBody:
        $ref: "#/components/requestBodies/WritableConsoleServerPortTemplate"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsoleServerPortTemplate"
          description: ""
      tags:
        - dcim
  "/dcim/console-server-port-templates/{id}/":
    delete:
      description: ""
      operationId: dcim_console-server-port-templates_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_console-server-port-templates_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsoleServerPortTemplate"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this console server port template.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_console-server-port-templates_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableConsoleServerPortTemplate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsoleServerPortTemplate"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_console-server-port-templates_update
      requestBody:
        $ref: "#/components/requestBodies/WritableConsoleServerPortTemplate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsoleServerPortTemplate"
          description: ""
      tags:
        - dcim
  /dcim/console-server-ports/:
    get:
      description: ""
      operationId: dcim_console-server-ports_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/ConsoleServerPort"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_console-server-ports_create
      requestBody:
        $ref: "#/components/requestBodies/WritableConsoleServerPort"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsoleServerPort"
          description: ""
      tags:
        - dcim
  "/dcim/console-server-ports/{id}/":
    delete:
      description: ""
      operationId: dcim_console-server-ports_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_console-server-ports_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsoleServerPort"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this console server port.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_console-server-ports_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableConsoleServerPort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsoleServerPort"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_console-server-ports_update
      requestBody:
        $ref: "#/components/requestBodies/WritableConsoleServerPort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsoleServerPort"
          description: ""
      tags:
        - dcim
  /dcim/device-bay-templates/:
    get:
      description: ""
      operationId: dcim_device-bay-templates_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: devicetype_id
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/DeviceBayTemplate"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_device-bay-templates_create
      requestBody:
        $ref: "#/components/requestBodies/WritableDeviceBayTemplate"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceBayTemplate"
          description: ""
      tags:
        - dcim
  "/dcim/device-bay-templates/{id}/":
    delete:
      description: ""
      operationId: dcim_device-bay-templates_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_device-bay-templates_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceBayTemplate"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this device bay template.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_device-bay-templates_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableDeviceBayTemplate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceBayTemplate"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_device-bay-templates_update
      requestBody:
        $ref: "#/components/requestBodies/WritableDeviceBayTemplate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceBayTemplate"
          description: ""
      tags:
        - dcim
  /dcim/device-bays/:
    get:
      description: ""
      operationId: dcim_device-bays_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/DeviceBay"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_device-bays_create
      requestBody:
        $ref: "#/components/requestBodies/WritableDeviceBay"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceBay"
          description: ""
      tags:
        - dcim
  "/dcim/device-bays/{id}/":
    delete:
      description: ""
      operationId: dcim_device-bays_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_device-bays_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceBay"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this device bay.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_device-bays_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableDeviceBay"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceBay"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_device-bays_update
      requestBody:
        $ref: "#/components/requestBodies/WritableDeviceBay"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceBay"
          description: ""
      tags:
        - dcim
  /dcim/device-roles/:
    get:
      description: ""
      operationId: dcim_device-roles_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: color
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: vm_role
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/DeviceRole"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_device-roles_create
      requestBody:
        $ref: "#/components/requestBodies/DeviceRole"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceRole"
          description: ""
      tags:
        - dcim
  "/dcim/device-roles/{id}/":
    delete:
      description: ""
      operationId: dcim_device-roles_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_device-roles_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceRole"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this device role.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_device-roles_partial_update
      requestBody:
        $ref: "#/components/requestBodies/DeviceRole"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceRole"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_device-roles_update
      requestBody:
        $ref: "#/components/requestBodies/DeviceRole"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceRole"
          description: ""
      tags:
        - dcim
  /dcim/device-types/:
    get:
      description: ""
      operationId: dcim_device-types_list
      parameters:
        - description: ""
          in: query
          name: model
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: part_number
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: u_height
          required: false
          schema:
            type: number
        - description: ""
          in: query
          name: is_full_depth
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: is_console_server
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: is_pdu
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: is_network_device
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: subdevice_role
          required: false
          schema:
            type: string
        - description: Multiple values may be separated by commas.
          in: query
          name: id__in
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: q
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: manufacturer_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: manufacturer
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/DeviceType"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_device-types_create
      requestBody:
        $ref: "#/components/requestBodies/WritableDeviceType"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceType"
          description: ""
      tags:
        - dcim
  "/dcim/device-types/{id}/":
    delete:
      description: ""
      operationId: dcim_device-types_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_device-types_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceType"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this device type.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_device-types_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableDeviceType"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceType"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_device-types_update
      requestBody:
        $ref: "#/components/requestBodies/WritableDeviceType"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceType"
          description: ""
      tags:
        - dcim
  /dcim/devices/:
    get:
      description: ""
      operationId: dcim_devices_list
      parameters:
        - description: ""
          in: query
          name: serial
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: position
          required: false
          schema:
            type: number
        - description: Multiple values may be separated by commas.
          in: query
          name: id__in
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: q
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: manufacturer_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: manufacturer
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device_type_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: role_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: role
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tenant
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: platform_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: platform
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: asset_tag
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: region_id
          required: false
          schema:
            type: number
        - description: ""
          in: query
          name: region
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: rack_group_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: rack_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: cluster_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: model
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: status
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: is_full_depth
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: is_console_server
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: is_pdu
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: is_network_device
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: mac_address
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: has_primary_ip
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: virtual_chassis_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/Device"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_devices_create
      requestBody:
        $ref: "#/components/requestBodies/WritableDevice"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
          description: ""
      tags:
        - dcim
  "/dcim/devices/{id}/":
    delete:
      description: ""
      operationId: dcim_devices_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_devices_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceWithConfigContext"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this device.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_devices_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableDevice"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_devices_update
      requestBody:
        $ref: "#/components/requestBodies/WritableDevice"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
          description: ""
      tags:
        - dcim
  "/dcim/devices/{id}/napalm/":
    get:
      description: Execute a NAPALM method on a Device
      operationId: dcim_devices_napalm
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this device.
        in: path
        name: id
        required: true
        schema:
          type: integer
  /dcim/interface-connections/:
    get:
      description: ""
      operationId: dcim_interface-connections_list
      parameters:
        - description: ""
          in: query
          name: connection_status
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/InterfaceConnection"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_interface-connections_create
      requestBody:
        $ref: "#/components/requestBodies/WritableInterfaceConnection"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InterfaceConnection"
          description: ""
      tags:
        - dcim
  "/dcim/interface-connections/{id}/":
    delete:
      description: ""
      operationId: dcim_interface-connections_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_interface-connections_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InterfaceConnection"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this interface connection.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_interface-connections_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableInterfaceConnection"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InterfaceConnection"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_interface-connections_update
      requestBody:
        $ref: "#/components/requestBodies/WritableInterfaceConnection"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InterfaceConnection"
          description: ""
      tags:
        - dcim
  /dcim/interface-templates/:
    get:
      description: ""
      operationId: dcim_interface-templates_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: form_factor
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: mgmt_only
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: devicetype_id
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/InterfaceTemplate"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_interface-templates_create
      requestBody:
        $ref: "#/components/requestBodies/WritableInterfaceTemplate"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InterfaceTemplate"
          description: ""
      tags:
        - dcim
  "/dcim/interface-templates/{id}/":
    delete:
      description: ""
      operationId: dcim_interface-templates_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_interface-templates_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InterfaceTemplate"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this interface template.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_interface-templates_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableInterfaceTemplate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InterfaceTemplate"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_interface-templates_update
      requestBody:
        $ref: "#/components/requestBodies/WritableInterfaceTemplate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InterfaceTemplate"
          description: ""
      tags:
        - dcim
  /dcim/interfaces/:
    get:
      description: ""
      operationId: dcim_interfaces_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: enabled
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: mtu
          required: false
          schema:
            type: number
        - description: ""
          in: query
          name: mgmt_only
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device_id
          required: false
          schema:
            type: number
        - description: ""
          in: query
          name: type
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: lag_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: mac_address
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: vlan_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: vlan
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: form_factor
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/Interface"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_interfaces_create
      requestBody:
        $ref: "#/components/requestBodies/WritableInterface"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Interface"
          description: ""
      tags:
        - dcim
  "/dcim/interfaces/{id}/":
    delete:
      description: ""
      operationId: dcim_interfaces_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_interfaces_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Interface"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this interface.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_interfaces_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableInterface"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Interface"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_interfaces_update
      requestBody:
        $ref: "#/components/requestBodies/WritableInterface"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Interface"
          description: ""
      tags:
        - dcim
  "/dcim/interfaces/{id}/graphs/":
    get:
      description: A convenience method for rendering graphs for a particular interface.
      operationId: dcim_interfaces_graphs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Interface"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this interface.
        in: path
        name: id
        required: true
        schema:
          type: integer
  /dcim/inventory-items/:
    get:
      description: ""
      operationId: dcim_inventory-items_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: part_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: serial
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: asset_tag
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: discovered
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: q
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: parent_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: manufacturer_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: manufacturer
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/InventoryItem"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_inventory-items_create
      requestBody:
        $ref: "#/components/requestBodies/WritableInventoryItem"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryItem"
          description: ""
      tags:
        - dcim
  "/dcim/inventory-items/{id}/":
    delete:
      description: ""
      operationId: dcim_inventory-items_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_inventory-items_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryItem"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this inventory item.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_inventory-items_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritableInventoryItem"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryItem"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_inventory-items_update
      requestBody:
        $ref: "#/components/requestBodies/WritableInventoryItem"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryItem"
          description: ""
      tags:
        - dcim
  /dcim/manufacturers/:
    get:
      description: ""
      operationId: dcim_manufacturers_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/Manufacturer"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_manufacturers_create
      requestBody:
        $ref: "#/components/requestBodies/Manufacturer"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Manufacturer"
          description: ""
      tags:
        - dcim
  "/dcim/manufacturers/{id}/":
    delete:
      description: ""
      operationId: dcim_manufacturers_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_manufacturers_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Manufacturer"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this manufacturer.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_manufacturers_partial_update
      requestBody:
        $ref: "#/components/requestBodies/Manufacturer"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Manufacturer"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_manufacturers_update
      requestBody:
        $ref: "#/components/requestBodies/Manufacturer"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Manufacturer"
          description: ""
      tags:
        - dcim
  /dcim/platforms/:
    get:
      description: ""
      operationId: dcim_platforms_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: slug
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: manufacturer_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: manufacturer
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/Platform"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_platforms_create
      requestBody:
        $ref: "#/components/requestBodies/WritablePlatform"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Platform"
          description: ""
      tags:
        - dcim
  "/dcim/platforms/{id}/":
    delete:
      description: ""
      operationId: dcim_platforms_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_platforms_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Platform"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this platform.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_platforms_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritablePlatform"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Platform"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_platforms_update
      requestBody:
        $ref: "#/components/requestBodies/WritablePlatform"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Platform"
          description: ""
      tags:
        - dcim
  /dcim/power-connections/:
    get:
      description: ""
      operationId: dcim_power-connections_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: connection_status
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: site
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/PowerPort"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
  /dcim/power-outlet-templates/:
    get:
      description: ""
      operationId: dcim_power-outlet-templates_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: devicetype_id
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/PowerOutletTemplate"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_power-outlet-templates_create
      requestBody:
        $ref: "#/components/requestBodies/WritablePowerOutletTemplate"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowerOutletTemplate"
          description: ""
      tags:
        - dcim
  "/dcim/power-outlet-templates/{id}/":
    delete:
      description: ""
      operationId: dcim_power-outlet-templates_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_power-outlet-templates_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowerOutletTemplate"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this power outlet template.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_power-outlet-templates_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritablePowerOutletTemplate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowerOutletTemplate"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_power-outlet-templates_update
      requestBody:
        $ref: "#/components/requestBodies/WritablePowerOutletTemplate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowerOutletTemplate"
          description: ""
      tags:
        - dcim
  /dcim/power-outlets/:
    get:
      description: ""
      operationId: dcim_power-outlets_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/PowerOutlet"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_power-outlets_create
      requestBody:
        $ref: "#/components/requestBodies/WritablePowerOutlet"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowerOutlet"
          description: ""
      tags:
        - dcim
  "/dcim/power-outlets/{id}/":
    delete:
      description: ""
      operationId: dcim_power-outlets_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_power-outlets_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowerOutlet"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this power outlet.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_power-outlets_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritablePowerOutlet"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowerOutlet"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_power-outlets_update
      requestBody:
        $ref: "#/components/requestBodies/WritablePowerOutlet"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowerOutlet"
          description: ""
      tags:
        - dcim
  /dcim/power-port-templates/:
    get:
      description: ""
      operationId: dcim_power-port-templates_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: devicetype_id
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/PowerPortTemplate"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_power-port-templates_create
      requestBody:
        $ref: "#/components/requestBodies/WritablePowerPortTemplate"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowerPortTemplate"
          description: ""
      tags:
        - dcim
  "/dcim/power-port-templates/{id}/":
    delete:
      description: ""
      operationId: dcim_power-port-templates_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_power-port-templates_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowerPortTemplate"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this power port template.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_power-port-templates_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritablePowerPortTemplate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowerPortTemplate"
          description: ""
      tags:
        - dcim
    put:
      description: ""
      operationId: dcim_power-port-templates_update
      requestBody:
        $ref: "#/components/requestBodies/WritablePowerPortTemplate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowerPortTemplate"
          description: ""
      tags:
        - dcim
  /dcim/power-ports/:
    get:
      description: ""
      operationId: dcim_power-ports_list
      parameters:
        - description: ""
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device_id
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: device
          required: false
          schema:
            type: string
        - description: ""
          in: query
          name: tag
          required: false
          schema:
            type: string
        - description: Number of results to return per page.
          in: query
          name: limit
          required: false
          schema:
            type: integer
        - description: The initial index from which to return the results.
          in: query
          name: offset
          required: false
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    type: integer
                  next:
                    format: uri
                    nullable: true
                    type: string
                  previous:
                    format: uri
                    nullable: true
                    type: string
                  results:
                    items:
                      $ref: "#/components/schemas/PowerPort"
                    type: array
                required:
                  - count
                  - results
                type: object
          description: ""
      tags:
        - dcim
    parameters: []
    post:
      description: ""
      operationId: dcim_power-ports_create
      requestBody:
        $ref: "#/components/requestBodies/WritablePowerPort"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowerPort"
          description: ""
      tags:
        - dcim
  "/dcim/power-ports/{id}/":
    delete:
      description: ""
      operationId: dcim_power-ports_delete
      responses:
        "204":
          description: ""
      tags:
        - dcim
    get:
      description: ""
      operationId: dcim_power-ports_read
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowerPort"
          description: ""
      tags:
        - dcim
    parameters:
      - description: A unique integer value identifying this power port.
        in: path
        name: id
        required: true
        schema:
          type: integer
    patch:
      description: ""
      operationId: dcim_power-ports_partial_update
      requestBody:
        $ref: "#/components/requestBodies/WritablePowerPort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowerPort"
[...]
