swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: Drive operation endpoints and objects.
  title: FabricAdminClient
  version: 2018-10-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2018-10-01/Drive.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: azsadmin-Drive
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    default: 2018-10-01
    description: Client API Version.
    in: query
    name: api-version
    required: true
    type: string
  DriveParameter:
    description: Name of the storage drive.
    in: path
    name: drive
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/drives":
    get:
      description: Returns a list of all storage drives at a location.
      operationId: Drives_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the scale units.
          in: path
          name: scaleUnit
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the storage system.
          in: path
          name: storageSubSystem
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ApiVersionParameter"
        - description: OData filter parameter.
          in: query
          name: $filter
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DriveList"
        "404":
          description: NOT FOUND
      tags:
        - Drives
      x-ms-examples:
        Returns a list of all storage drives at a location.:
          parameters:
            api-version: 2018-10-01
            location: local
            resourceGroupName: System.local
            scaleUnit: S-Cluster
            storageSubSystem: S-Cluster.azurestack.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster/storageSubSystems/S-Cluster.azurestack.local/drives/fafadf46-ce35-8e64-aa57-8b0be39d7c64
                    location: local
                    name: fafadf46-ce35-8e64-aa57-8b0be39d7c64
                    properties:
                      action: ""
                      canPool: false
                      cannotPoolReason: In a Pool
                      capacityGB: 1490
                      description: ""
                      healthStatus: Healthy
                      mediaType: SSD
                      model: MZ7KM1T6HAJM00D3
                      operationalStatus: OK
                      physicalLocation: Slot 0
                      serialNumber: S2CXNAAH200330
                      storageNode: local/HC1n22r0409
                      usage: Journal
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits/storageSubSystems/drives
            "404": {}
      x-ms-odata: "#/definitions/Drive"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/drives/{drive}":
    get:
      description: Return the requested a storage drive.
      operationId: Drives_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the scale units.
          in: path
          name: scaleUnit
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the storage system.
          in: path
          name: storageSubSystem
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/DriveParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Drive"
        "404":
          description: NOT FOUND
      tags:
        - Drives
      x-ms-examples:
        Return the requested a storage drive.:
          parameters:
            api-version: 2018-10-01
            drive: 14848052-5f5d-4206-97a5-2f7b1ed41705
            location: local
            resourceGroupName: System.local
            scaleUnit: S-Cluster
            storageSubSystem: S-Cluster.azurestack.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster/storageSubSystems/S-Cluster.azurestack.local/drives/fafadf46-ce35-8e64-aa57-8b0be39d7c64
                location: local
                name: fafadf46-ce35-8e64-aa57-8b0be39d7c64
                properties:
                  action: ""
                  canPool: false
                  cannotPoolReason: In a Pool
                  capacityGB: 1490
                  description: ""
                  healthStatus: Healthy
                  mediaType: SSD
                  model: MZ7KM1T6HAJM00D3
                  operationalStatus: OK
                  physicalLocation: Slot 0
                  serialNumber: S2CXNAAH200330
                  storageNode: local/HC1n22r0409
                  usage: Journal
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits/storageSubSystems/drives
            "404": {}
definitions:
  Drive:
    allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Representation of a drive resource.
    properties:
      properties:
        $ref: "#/definitions/DriveModel"
        description: Properties of a drive.
        x-ms-client-flatten: true
    type: object
  DriveList:
    description: Pageable list of storage drives.
    properties:
      nextLink:
        description: URI to the next page.
        type: string
      value:
        description: List of storage drives.
        items:
          $ref: "#/definitions/Drive"
        type: array
    type: object
  DriveModel:
    description: Properties of a drive.
    properties:
      action:
        description: Detailed recommended action for HealthStatus/OperationalStatus. Empty if HealthStatus/OperationalStatus is Healthy/Ok.
        type: string
      canPool:
        description: Indicate whether the drive can be added to the pool.
        type: boolean
      cannotPoolReason:
        description: Specify the reasons why the drive cannot be added to the pool.
        type: string
      capacityGB:
        description: Total capacity in GB of the drive.
        format: int32
        type: integer
      description:
        description: Detailed description for HealthStatus/OperationalStatus. Empty if HealthStatus/OperationalStatus is Healthy/Ok.
        type: string
      healthStatus:
        description: Health status of the drive.
        type: string
      mediaType:
        description: Media type of the drive.
        type: string
      model:
        description: Model of the drive.
        type: string
      operationalStatus:
        description: Operational status of the drive.
        type: string
      physicalLocation:
        description: Indicate where the hardware is located.
        type: string
      serialNumber:
        description: Serial number of the drive.
        type: string
      storageNode:
        description: Node that the drive is physically connected.
        type: string
      usage:
        description: Intended usage of the drive.
        type: string
    type: object
