swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Creates an Azure Data Lake Analytics account management client.
  title: DataLakeAnalyticsAccountManagementClient
  version: 2016-11-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/datalake-analytics/resource-manager/Microsoft.DataLakeAnalytics/stable/2016-11-01/account.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: datalake-analytics-account
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  AccountNameParameter:
    description: The name of the Data Lake Analytics account.
    in: path
    name: accountName
    required: true
    type: string
    x-ms-parameter-location: method
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupNameParameter:
    description: The name of the Azure resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Get subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.DataLakeAnalytics/operations:
    get:
      description: Lists all of the available Data Lake Analytics REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully listed the available operations for Data Lake Analytics.
          schema:
            $ref: "#/definitions/OperationListResult"
      tags:
        - Operations
      x-ms-examples:
        Lists all of the available Data Lake Analytics REST API operations:
          parameters:
            api-version: 2016-11-01
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>
                value:
                  - display:
                      description: Get available operations of DataLakeAnalytics.
                      operation: Get Available Operations
                      provider: Microsoft DataLakeAnalytics
                      resource: Available Operations
                    name: Microsoft.DataLakeAnalytics/operations/read
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeAnalytics/accounts":
    get:
      description: Gets the first page of Data Lake Analytics accounts, if any, within the current subscription. This includes a link to the next page, if any.
      operationId: Accounts_List
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: OData filter. Optional.
          in: query
          name: $filter
          required: false
          type: string
        - description: The number of items to return. Optional.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
        - description: The number of items to skip over before returning elements. Optional.
          format: int32
          in: query
          minimum: 1
          name: $skip
          required: false
          type: integer
        - description: OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.
          in: query
          name: $select
          required: false
          type: string
        - description: OrderBy clause. One or more comma-separated expressions with an optional "asc" (the default) or "desc" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.
          in: query
          name: $orderby
          required: false
          type: string
        - description: The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.
          in: query
          name: $count
          required: false
          type: boolean
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of Azure Data Lake Analytics accounts.
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccountListResult"
      tags:
        - Accounts
      x-ms-examples:
        "Gets the first page of Data Lake Analytics accounts, if any, within the current subscription. This includes a link to the next page, if any.":
          parameters:
            $count: false
            $filter: test_filter
            $orderby: test_orderby
            $select: test_select
            $skip: 1
            $top: 1
            api-version: 2016-11-01
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>
                value:
                  - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    location: eastus2
                    name: test_account
                    properties:
                      accountId: 94f4bf5d-78a9-4c31-8aa7-b34d07bad898
                      creationTime: 2017-04-14T13:21:56.6819037-07:00
                      endpoint: test_endpoint
                      lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                      provisioningState: Succeeded
                      state: Active
                    tags:
                      test_key: test_value
                    type: test_type
      x-ms-odata: "#/definitions/DataLakeAnalyticsAccountBasic"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeAnalytics/locations/{location}/capability":
    get:
      description: Gets subscription-level properties and limits for Data Lake Analytics specified by resource location.
      operationId: Locations_GetCapability
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The resource location without whitespace.
          in: path
          name: location
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the subscription-level properties and limits for Data Lake Analytics specified by resource location.
          schema:
            $ref: "#/definitions/CapabilityInformation"
        "404":
          description: Subscription not found.
      tags:
        - Locations
      x-ms-examples:
        Gets subscription-level properties and limits for Data Lake Analytics specified by resource location:
          parameters:
            api-version: 2016-11-01
            location: EastUS2
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                accountCount: 100
                maxAccountCount: 150
                migrationState: false
                state: Registered
                subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
            "404": {}
  "/subscriptions/{subscriptionId}/providers/Microsoft.DataLakeAnalytics/locations/{location}/checkNameAvailability":
    post:
      description: Checks whether the specified account name is available or taken.
      operationId: Accounts_CheckNameAvailability
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: The resource location without whitespace.
          in: path
          name: location
          required: true
          type: string
        - description: Parameters supplied to check the Data Lake Analytics account name availability.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CheckNameAvailabilityParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the Data Lake Analytics account name availability information.
          schema:
            $ref: "#/definitions/NameAvailabilityInformation"
      tags:
        - Accounts
      x-ms-examples:
        Checks whether the specified account name is available or taken:
          parameters:
            api-version: 2016-11-01
            location: EastUS2
            parameters:
              name: contosoadla
              type: Microsoft.DataLakeAnalytics/accounts
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                message: An account named 'abc' already exists.
                nameAvailable: false
                reason: AlreadyExists
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts":
    get:
      description: Gets the first page of Data Lake Analytics accounts, if any, within a specific resource group. This includes a link to the next page, if any.
      operationId: Accounts_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - description: OData filter. Optional.
          in: query
          name: $filter
          required: false
          type: string
        - description: The number of items to return. Optional.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
        - description: The number of items to skip over before returning elements. Optional.
          format: int32
          in: query
          minimum: 1
          name: $skip
          required: false
          type: integer
        - description: OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.
          in: query
          name: $select
          required: false
          type: string
        - description: OrderBy clause. One or more comma-separated expressions with an optional "asc" (the default) or "desc" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.
          in: query
          name: $orderby
          required: false
          type: string
        - description: The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.
          in: query
          name: $count
          required: false
          type: boolean
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of accounts in the specified resource group.
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccountListResult"
      tags:
        - Accounts
      x-ms-examples:
        "Gets the first page of Data Lake Analytics accounts, if any, within a specific resource group. This includes a link to the next page, if any.":
          parameters:
            $count: false
            $filter: test_filter
            $orderby: test_orderby
            $select: test_select
            $skip: 1
            $top: 1
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>
                value:
                  - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    location: eastus2
                    name: test_account
                    properties:
                      accountId: 94f4bf5d-78a9-4c31-8aa7-b34d07bad898
                      creationTime: 2017-04-14T13:21:56.6819037-07:00
                      endpoint: test_endpoint
                      lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                      provisioningState: Succeeded
                      state: Active
                    tags:
                      test_key: test_value
                    type: test_type
      x-ms-odata: "#/definitions/DataLakeAnalyticsAccountBasic"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}":
    delete:
      description: Begins the delete process for the Data Lake Analytics account object specified by the account name.
      operationId: Accounts_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully deleted the specified account.
        "202":
          description: Successfully initiated the deletion of the specified account.
        "204":
          description: The specified account was not found.
      tags:
        - Accounts
      x-ms-examples:
        Begins the delete process for the Data Lake Analytics account object specified by the account name.:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
            "202": {}
            "204": {}
      x-ms-long-running-operation: true
    get:
      description: Gets details of the specified Data Lake Analytics account.
      operationId: Accounts_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the details of the specified account.
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccount"
      tags:
        - Accounts
      x-ms-examples:
        Gets details of the specified Data Lake Analytics account.:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/rgaba12041/providers/Microsoft.DataLakeAnalytics/accounts/testaba15818
                location: eastus2
                name: test_account
                properties:
                  accountId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  computePolicies:
                    - id: test_policy_id
                      name: test_policy
                      properties:
                        maxDegreeOfParallelismPerJob: 1
                        minPriorityPerJob: 1
                        objectId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                        objectType: User
                      type: test_type
                  creationTime: 2017-04-14T13:21:56.6819037-07:00
                  currentTier: Consumption
                  dataLakeStoreAccounts:
                    - id: test_adls_id
                      name: test_adls
                      properties:
                        suffix: test_suffix
                      type: test_type
                  defaultDataLakeStoreAccount: test_adls
                  endpoint: test_endpoint
                  firewallAllowAzureIps: Enabled
                  firewallRules:
                    - id: test_firewall_id
                      name: test_rule
                      properties:
                        endIpAddress: 2.2.2.2
                        startIpAddress: 1.1.1.1
                      type: test_type
                  firewallState: Enabled
                  lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                  maxDegreeOfParallelism: 30
                  maxDegreeOfParallelismPerJob: 1
                  maxJobCount: 3
                  minPriorityPerJob: 1
                  newTier: Consumption
                  provisioningState: Succeeded
                  queryStoreRetention: 30
                  state: Active
                  storageAccounts:
                    - id: test_storage_id
                      name: test_storage
                      properties:
                        suffix: test_suffix
                      type: test_type
                  systemMaxDegreeOfParallelism: 1
                  systemMaxJobCount: 1
                tags:
                  test_key: test_value
                type: Microsoft.DataLakeAnalytics/accounts
    patch:
      description: Updates the Data Lake Analytics account object specified by the accountName with the contents of the account object.
      operationId: Accounts_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: Parameters supplied to the update Data Lake Analytics account operation.
          in: body
          name: parameters
          required: false
          schema:
            $ref: "#/definitions/UpdateDataLakeAnalyticsAccountParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the specified account.
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccount"
        "201":
          description: Successfully initiated an update of the specified account.
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccount"
        "202":
          description: Successfully initiated an update of the specified account.
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccount"
      tags:
        - Accounts
      x-ms-examples:
        Updates the Data Lake Analytics account object specified by the accountName with the contents of the account object.:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            parameters:
              properties:
                computePolicies:
                  - name: test_policy
                    properties:
                      maxDegreeOfParallelismPerJob: 1
                      minPriorityPerJob: 1
                      objectId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      objectType: User
                firewallAllowAzureIps: Enabled
                firewallRules:
                  - name: test_rule
                    properties:
                      endIpAddress: 2.2.2.2
                      startIpAddress: 1.1.1.1
                firewallState: Enabled
                maxDegreeOfParallelism: 1
                maxDegreeOfParallelismPerJob: 1
                maxJobCount: 1
                minPriorityPerJob: 1
                newTier: Consumption
                queryStoreRetention: 1
              tags:
                test_key: test_value
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/rgaba12041/providers/Microsoft.DataLakeAnalytics/accounts/testaba15818
                location: eastus2
                name: test_account
                properties:
                  accountId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  computePolicies:
                    - id: test_policy_id
                      name: test_policy
                      properties:
                        maxDegreeOfParallelismPerJob: 1
                        minPriorityPerJob: 1
                        objectId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                        objectType: User
                      type: test_type
                  creationTime: 2017-04-14T13:21:56.6819037-07:00
                  currentTier: Consumption
                  dataLakeStoreAccounts:
                    - id: test_adls_id
                      name: test_adls
                      properties:
                        suffix: test_suffix
                      type: test_type
                  defaultDataLakeStoreAccount: test_adls
                  endpoint: test_endpoint
                  firewallAllowAzureIps: Enabled
                  firewallRules:
                    - id: test_firewall_id
                      name: test_rule
                      properties:
                        endIpAddress: 2.2.2.2
                        startIpAddress: 1.1.1.1
                      type: test_type
                  firewallState: Enabled
                  lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                  maxDegreeOfParallelism: 30
                  maxDegreeOfParallelismPerJob: 1
                  maxJobCount: 3
                  minPriorityPerJob: 1
                  newTier: Consumption
                  provisioningState: Succeeded
                  queryStoreRetention: 30
                  state: Active
                  storageAccounts:
                    - id: test_storage_id
                      name: test_storage
                      properties:
                        suffix: test_suffix
                      type: test_type
                  systemMaxDegreeOfParallelism: 1
                  systemMaxJobCount: 1
                tags:
                  test_key: test_value
                type: Microsoft.DataLakeAnalytics/accounts
            "201":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/rgaba12041/providers/Microsoft.DataLakeAnalytics/accounts/testaba15818
                location: eastus2
                name: test_account
                properties:
                  accountId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  computePolicies:
                    - id: test_policy_id
                      name: test_policy
                      properties:
                        maxDegreeOfParallelismPerJob: 1
                        minPriorityPerJob: 1
                        objectId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                        objectType: User
                      type: test_type
                  creationTime: 2017-04-14T13:21:56.6819037-07:00
                  currentTier: Consumption
                  dataLakeStoreAccounts:
                    - id: test_adls_id
                      name: test_adls
                      properties:
                        suffix: test_suffix
                      type: test_type
                  defaultDataLakeStoreAccount: test_adls
                  endpoint: test_endpoint
                  firewallAllowAzureIps: Enabled
                  firewallRules:
                    - id: test_firewall_id
                      name: test_rule
                      properties:
                        endIpAddress: 2.2.2.2
                        startIpAddress: 1.1.1.1
                      type: test_type
                  firewallState: Enabled
                  lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                  maxDegreeOfParallelism: 30
                  maxDegreeOfParallelismPerJob: 1
                  maxJobCount: 3
                  minPriorityPerJob: 1
                  newTier: Consumption
                  provisioningState: Succeeded
                  queryStoreRetention: 30
                  state: Active
                  storageAccounts:
                    - id: test_storage_id
                      name: test_storage
                      properties:
                        suffix: test_suffix
                      type: test_type
                  systemMaxDegreeOfParallelism: 1
                  systemMaxJobCount: 1
                tags:
                  test_key: test_value
                type: Microsoft.DataLakeAnalytics/accounts
            "202":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/rgaba12041/providers/Microsoft.DataLakeAnalytics/accounts/testaba15818
                location: eastus2
                name: test_account
                properties:
                  accountId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  computePolicies:
                    - id: test_policy_id
                      name: test_policy
                      properties:
                        maxDegreeOfParallelismPerJob: 1
                        minPriorityPerJob: 1
                        objectId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                        objectType: User
                      type: test_type
                  creationTime: 2017-04-14T13:21:56.6819037-07:00
                  currentTier: Consumption
                  dataLakeStoreAccounts:
                    - id: test_adls_id
                      name: test_adls
                      properties:
                        suffix: test_suffix
                      type: test_type
                  defaultDataLakeStoreAccount: test_adls
                  endpoint: test_endpoint
                  firewallAllowAzureIps: Enabled
                  firewallRules:
                    - id: test_firewall_id
                      name: test_rule
                      properties:
                        endIpAddress: 2.2.2.2
                        startIpAddress: 1.1.1.1
                      type: test_type
                  firewallState: Enabled
                  lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                  maxDegreeOfParallelism: 30
                  maxDegreeOfParallelismPerJob: 1
                  maxJobCount: 3
                  minPriorityPerJob: 1
                  newTier: Consumption
                  provisioningState: Succeeded
                  queryStoreRetention: 30
                  state: Active
                  storageAccounts:
                    - id: test_storage_id
                      name: test_storage
                      properties:
                        suffix: test_suffix
                      type: test_type
                  systemMaxDegreeOfParallelism: 1
                  systemMaxJobCount: 1
                tags:
                  test_key: test_value
                type: Microsoft.DataLakeAnalytics/accounts
      x-ms-long-running-operation: true
    put:
      description: Creates the specified Data Lake Analytics account. This supplies the user with computation services for Data Lake Analytics workloads.
      operationId: Accounts_Create
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: Parameters supplied to create a new Data Lake Analytics account.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CreateDataLakeAnalyticsAccountParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully created the specified account.
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccount"
        "201":
          description: Successfully initiated creation of the specified account.
          schema:
            $ref: "#/definitions/DataLakeAnalyticsAccount"
      tags:
        - Accounts
      x-ms-examples:
        Creates the specified Data Lake Analytics account. This supplies the user with computation services for Data Lake Analytics workloads.:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            parameters:
              location: eastus2
              properties:
                computePolicies:
                  - name: test_policy
                    properties:
                      maxDegreeOfParallelismPerJob: 1
                      minPriorityPerJob: 1
                      objectId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                      objectType: User
                dataLakeStoreAccounts:
                  - name: test_adls
                    properties:
                      suffix: test_suffix
                defaultDataLakeStoreAccount: test_adls
                firewallAllowAzureIps: Enabled
                firewallRules:
                  - name: test_rule
                    properties:
                      endIpAddress: 2.2.2.2
                      startIpAddress: 1.1.1.1
                firewallState: Enabled
                maxDegreeOfParallelism: 30
                maxDegreeOfParallelismPerJob: 1
                maxJobCount: 3
                minPriorityPerJob: 1
                newTier: Consumption
                queryStoreRetention: 30
                storageAccounts:
                  - name: test_storage
                    properties:
                      accessKey: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab346
                      suffix: test_suffix
              tags:
                test_key: test_value
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/rgaba12041/providers/Microsoft.DataLakeAnalytics/accounts/testaba15818
                location: eastus2
                name: test_account
                properties:
                  accountId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  computePolicies:
                    - id: test_policy_id
                      name: test_policy
                      properties:
                        maxDegreeOfParallelismPerJob: 1
                        minPriorityPerJob: 1
                        objectId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                        objectType: User
                      type: test_type
                  creationTime: 2017-04-14T13:21:56.6819037-07:00
                  currentTier: Consumption
                  dataLakeStoreAccounts:
                    - id: test_adls_id
                      name: test_adls
                      properties:
                        suffix: test_suffix
                      type: test_type
                  defaultDataLakeStoreAccount: test_adls
                  endpoint: test_endpoint
                  firewallAllowAzureIps: Enabled
                  firewallRules:
                    - id: test_firewall_id
                      name: test_rule
                      properties:
                        endIpAddress: 2.2.2.2
                        startIpAddress: 1.1.1.1
                      type: test_type
                  firewallState: Enabled
                  lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                  maxDegreeOfParallelism: 30
                  maxDegreeOfParallelismPerJob: 1
                  maxJobCount: 3
                  minPriorityPerJob: 1
                  newTier: Consumption
                  provisioningState: Succeeded
                  queryStoreRetention: 30
                  state: Active
                  storageAccounts:
                    - id: test_storage_id
                      name: test_storage
                      properties:
                        suffix: test_suffix
                      type: test_type
                  systemMaxDegreeOfParallelism: 1
                  systemMaxJobCount: 1
                tags:
                  test_key: test_value
                type: Microsoft.DataLakeAnalytics/accounts
            "201":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/rgaba12041/providers/Microsoft.DataLakeAnalytics/accounts/testaba15818
                location: eastus2
                name: test_account
                properties:
                  accountId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                  computePolicies:
                    - id: test_policy_id
                      name: test_policy
                      properties:
                        maxDegreeOfParallelismPerJob: 1
                        minPriorityPerJob: 1
                        objectId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                        objectType: User
                      type: test_type
                  creationTime: 2017-04-14T13:21:56.6819037-07:00
                  currentTier: Consumption
                  dataLakeStoreAccounts:
                    - id: test_adls_id
                      name: test_adls
                      properties:
                        suffix: test_suffix
                      type: test_type
                  defaultDataLakeStoreAccount: test_adls
                  endpoint: test_endpoint
                  firewallAllowAzureIps: Enabled
                  firewallRules:
                    - id: test_firewall_id
                      name: test_rule
                      properties:
                        endIpAddress: 2.2.2.2
                        startIpAddress: 1.1.1.1
                      type: test_type
                  firewallState: Enabled
                  lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                  maxDegreeOfParallelism: 30
                  maxDegreeOfParallelismPerJob: 1
                  maxJobCount: 3
                  minPriorityPerJob: 1
                  newTier: Consumption
                  provisioningState: Succeeded
                  queryStoreRetention: 30
                  state: Active
                  storageAccounts:
                    - id: test_storage_id
                      name: test_storage
                      properties:
                        suffix: test_suffix
                      type: test_type
                  systemMaxDegreeOfParallelism: 1
                  systemMaxJobCount: 1
                tags:
                  test_key: test_value
                type: Microsoft.DataLakeAnalytics/accounts
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/computePolicies":
    get:
      description: Lists the Data Lake Analytics compute policies within the specified Data Lake Analytics account. An account supports, at most, 50 policies
      operationId: ComputePolicies_ListByAccount
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully listed the compute policies.
          schema:
            $ref: "#/definitions/ComputePolicyListResult"
      tags:
        - ComputePolicies
      x-ms-examples:
        Lists the compute policies within the adla account:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>
                value:
                  - name: test_policy
                    properties:
                      maxDegreeOfParallelismPerJob: 10
                      minPriorityPerJob: 30
                      objectId: 776b9091-8916-4638-87f7-9c989a38da98
                      objectType: User
                  - name: test_policy1
                    properties:
                      maxDegreeOfParallelismPerJob: 5
                      minPriorityPerJob: 15
                      objectId: 776b9091-8916-4638-87f7-9c989a38da99
                      objectType: Group
                  - name: test_policy2
                    properties:
                      maxDegreeOfParallelismPerJob: 20
                      minPriorityPerJob: 60
                      objectId: 776b9091-8916-4638-87f7-9c989a38da97
                      objectType: ServicePrincipal
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/computePolicies/{computePolicyName}":
    delete:
      description: Deletes the specified compute policy from the specified Data Lake Analytics account
      operationId: ComputePolicies_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the compute policy to delete.
          in: path
          name: computePolicyName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully deleted the specified compute policy
        "204":
          description: The specified compute policy does not exist or was already deleted.
      tags:
        - ComputePolicies
      x-ms-examples:
        Deletes the specified compute policy from the adla account:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            computePolicyName: test_policy
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the specified Data Lake Analytics compute policy.
      operationId: ComputePolicies_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the compute policy to retrieve.
          in: path
          name: computePolicyName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the specified compute policy.
          schema:
            $ref: "#/definitions/ComputePolicy"
      tags:
        - ComputePolicies
      x-ms-examples:
        Gets the specified compute policy:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            computePolicyName: test_policy
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                name: test_policy
                properties:
                  maxDegreeOfParallelismPerJob: 10
                  minPriorityPerJob: 30
                  objectId: 776b9091-8916-4638-87f7-9c989a38da98
                  objectType: User
    patch:
      description: Updates the specified compute policy.
      operationId: ComputePolicies_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the compute policy to update.
          in: path
          name: computePolicyName
          required: true
          type: string
        - description: Parameters supplied to update the compute policy.
          in: body
          name: parameters
          required: false
          schema:
            $ref: "#/definitions/UpdateComputePolicyParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the specified compute policy
          schema:
            $ref: "#/definitions/ComputePolicy"
      tags:
        - ComputePolicies
      x-ms-examples:
        Updates the specified compute policy:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            computePolicyName: test_policy
            parameters:
              properties:
                maxDegreeOfParallelismPerJob: 11
                minPriorityPerJob: 31
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                name: test_policy
                properties:
                  maxDegreeOfParallelismPerJob: 11
                  minPriorityPerJob: 31
                  objectId: 776b9091-8916-4638-87f7-9c989a38da98
                  objectType: User
    put:
      description: Creates or updates the specified compute policy. During update, the compute policy with the specified name will be replaced with this new compute policy. An account supports, at most, 50 policies
      operationId: ComputePolicies_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the compute policy to create or update.
          in: path
          name: computePolicyName
          required: true
          type: string
        - description: Parameters supplied to create or update the compute policy. The max degree of parallelism per job property, min priority per job property, or both must be present.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CreateOrUpdateComputePolicyParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully created or updated the specified compute policy
          schema:
            $ref: "#/definitions/ComputePolicy"
      tags:
        - ComputePolicies
      x-ms-examples:
        Creates or updates the specified compute policy:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            computePolicyName: test_policy
            parameters:
              properties:
                maxDegreeOfParallelismPerJob: 10
                minPriorityPerJob: 30
                objectId: 776b9091-8916-4638-87f7-9c989a38da98
                objectType: User
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                name: test_policy
                properties:
                  maxDegreeOfParallelismPerJob: 10
                  minPriorityPerJob: 30
                  objectId: 776b9091-8916-4638-87f7-9c989a38da98
                  objectType: User
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/dataLakeStoreAccounts":
    get:
      description: Gets the first page of Data Lake Store accounts linked to the specified Data Lake Analytics account. The response includes a link to the next page, if any.
      operationId: DataLakeStoreAccounts_ListByAccount
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: OData filter. Optional.
          in: query
          name: $filter
          required: false
          type: string
        - description: The number of items to return. Optional.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
        - description: The number of items to skip over before returning elements. Optional.
          format: int32
          in: query
          minimum: 1
          name: $skip
          required: false
          type: integer
        - description: OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.
          in: query
          name: $select
          required: false
          type: string
        - description: OrderBy clause. One or more comma-separated expressions with an optional "asc" (the default) or "desc" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.
          in: query
          name: $orderby
          required: false
          type: string
        - description: The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.
          in: query
          name: $count
          required: false
          type: boolean
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of Data Lake Store accounts.
          schema:
            $ref: "#/definitions/DataLakeStoreAccountInformationListResult"
      tags:
        - DataLakeStoreAccounts
      x-ms-examples:
        Gets the first page of Data Lake Store accounts linked to the specified Data Lake Analytics account:
          parameters:
            $count: false
            $filter: test_filter
            $orderby: test_orderby
            $select: test_select
            $skip: 1
            $top: 1
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>
                value:
                  - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    name: test_adls
                    properties:
                      suffix: test_suffix
                    type: test_type
      x-ms-odata: "#/definitions/DataLakeStoreAccountInformation"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/dataLakeStoreAccounts/{dataLakeStoreAccountName}":
    delete:
      description: Updates the Data Lake Analytics account specified to remove the specified Data Lake Store account.
      operationId: DataLakeStoreAccounts_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the Data Lake Store account to remove
          in: path
          name: dataLakeStoreAccountName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully removed the specified Azure Data Lake Store account information from the specified Azure Data Lake Analytics account.
      tags:
        - DataLakeStoreAccounts
      x-ms-examples:
        Removes the specified Data Lake Store account:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            dataLakeStoreAccountName: test_adls_account
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
    get:
      description: Gets the specified Data Lake Store account details in the specified Data Lake Analytics account.
      operationId: DataLakeStoreAccounts_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the Data Lake Store account to retrieve
          in: path
          name: dataLakeStoreAccountName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the specified Azure Data Lake Store account information.
          schema:
            $ref: "#/definitions/DataLakeStoreAccountInformation"
      tags:
        - DataLakeStoreAccounts
      x-ms-examples:
        Gets the specified Data Lake Store account details:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            dataLakeStoreAccountName: test_adls_account
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1669ab345
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_adls
                properties:
                  suffix: test_suffix
                type: test_type
    put:
      description: Updates the specified Data Lake Analytics account to include the additional Data Lake Store account.
      operationId: DataLakeStoreAccounts_Add
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the Data Lake Store account to add.
          in: path
          name: dataLakeStoreAccountName
          required: true
          type: string
        - description: The details of the Data Lake Store account.
          in: body
          name: parameters
          schema:
            $ref: "#/definitions/AddDataLakeStoreParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully added the specified Azure Data Lake Store account information.
      tags:
        - DataLakeStoreAccounts
      x-ms-examples:
        Adds a Data Lake Store account:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            dataLakeStoreAccountName: test_adls_account
            parameters:
              properties:
                suffix: test_suffix
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/firewallRules":
    get:
      description: Lists the Data Lake Analytics firewall rules within the specified Data Lake Analytics account.
      operationId: FirewallRules_ListByAccount
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully listed the firewall rules.
          schema:
            $ref: "#/definitions/FirewallRuleListResult"
      tags:
        - FirewallRules
      x-ms-examples:
        Lists the Data Lake Analytics firewall rules:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>
                value:
                  - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    name: test_rule
                    properties:
                      endIpAddress: 2.2.2.2
                      startIpAddress: 1.1.1.1
                    type: test_type
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/firewallRules/{firewallRuleName}":
    delete:
      description: Deletes the specified firewall rule from the specified Data Lake Analytics account
      operationId: FirewallRules_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the firewall rule to delete.
          in: path
          name: firewallRuleName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully deleted the specified firewall rule
        "204":
          description: The specified firewall rule does not exist or was already deleted.
      tags:
        - FirewallRules
      x-ms-examples:
        Deletes the specified firewall rule:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            firewallRuleName: test_rule
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
            "204": {}
    get:
      description: Gets the specified Data Lake Analytics firewall rule.
      operationId: FirewallRules_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the firewall rule to retrieve.
          in: path
          name: firewallRuleName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the specified firewall rule.
          schema:
            $ref: "#/definitions/FirewallRule"
      tags:
        - FirewallRules
      x-ms-examples:
        Gets the specified Data Lake Analytics firewall rule:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            firewallRuleName: test_rule
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_rule
                properties:
                  endIpAddress: 2.2.2.2
                  startIpAddress: 1.1.1.1
                type: test_type
    patch:
      description: Updates the specified firewall rule.
      operationId: FirewallRules_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the firewall rule to update.
          in: path
          name: firewallRuleName
          required: true
          type: string
        - description: Parameters supplied to update the firewall rule.
          in: body
          name: parameters
          required: false
          schema:
            $ref: "#/definitions/UpdateFirewallRuleParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully updated the specified firewall rule
          schema:
            $ref: "#/definitions/FirewallRule"
      tags:
        - FirewallRules
      x-ms-examples:
        Updates the specified firewall rule:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            firewallRuleName: test_rule
            parameters:
              properties:
                endIpAddress: 2.2.2.2
                startIpAddress: 1.1.1.1
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_rule
                properties:
                  endIpAddress: 2.2.2.2
                  startIpAddress: 1.1.1.1
                type: test_type
    put:
      description: Creates or updates the specified firewall rule. During update, the firewall rule with the specified name will be replaced with this new firewall rule.
      operationId: FirewallRules_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the firewall rule to create or update.
          in: path
          name: firewallRuleName
          required: true
          type: string
        - description: Parameters supplied to create or update the firewall rule.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/CreateOrUpdateFirewallRuleParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully created or updated the specified firewall rule
          schema:
            $ref: "#/definitions/FirewallRule"
      tags:
        - FirewallRules
      x-ms-examples:
        Creates or updates the specified firewall rule:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            firewallRuleName: test_rule
            parameters:
              properties:
                endIpAddress: 2.2.2.2
                startIpAddress: 1.1.1.1
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_rule
                properties:
                  endIpAddress: 2.2.2.2
                  startIpAddress: 1.1.1.1
                type: test_type
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts":
    get:
      description: Gets the first page of Azure Storage accounts, if any, linked to the specified Data Lake Analytics account. The response includes a link to the next page, if any.
      operationId: StorageAccounts_ListByAccount
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The OData filter. Optional.
          in: query
          name: $filter
          required: false
          type: string
        - description: The number of items to return. Optional.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
        - description: The number of items to skip over before returning elements. Optional.
          format: int32
          in: query
          minimum: 1
          name: $skip
          required: false
          type: integer
        - description: OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional.
          in: query
          name: $select
          required: false
          type: string
        - description: OrderBy clause. One or more comma-separated expressions with an optional "asc" (the default) or "desc" depending on the order you'd like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional.
          in: query
          name: $orderby
          required: false
          type: string
        - description: The Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional.
          in: query
          name: $count
          required: false
          type: boolean
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of Azure Storage accounts.
          schema:
            $ref: "#/definitions/StorageAccountInformationListResult"
      tags:
        - StorageAccounts
      x-ms-examples:
        Gets the first page of Azure Storage accounts linked to the specified Data Lake Analytics account:
          parameters:
            $count: false
            $filter: test_filter
            $orderby: test_orderby
            $select: test_select
            $skip: 1
            $top: 1
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>
                value:
                  - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    name: test_storage
                    properties:
                      suffix: test_suffix
                    type: test_type
      x-ms-odata: "#/definitions/StorageAccountInformation"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts/{storageAccountName}":
    delete:
      description: Updates the specified Data Lake Analytics account to remove an Azure Storage account.
      operationId: StorageAccounts_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the Azure Storage account to remove
          in: path
          name: storageAccountName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully deleted the specified Azure Storage account information from the Azure Data Lake Analytics account.
      tags:
        - StorageAccounts
      x-ms-examples:
        Removes an Azure Storage account:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            storageAccountName: test_storage
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
    get:
      description: Gets the specified Azure Storage account linked to the given Data Lake Analytics account.
      operationId: StorageAccounts_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the Azure Storage account for which to retrieve the details.
          in: path
          name: storageAccountName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the specified Azure Storage account information.
          schema:
            $ref: "#/definitions/StorageAccountInformation"
      tags:
        - StorageAccounts
      x-ms-examples:
        Gets the specified Azure Storage account:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            storageAccountName: test_storage
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_storage
                properties:
                  suffix: test_suffix
                type: test_type
    patch:
      description: Updates the Data Lake Analytics account to replace Azure Storage blob account details, such as the access key and/or suffix.
      operationId: StorageAccounts_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The Azure Storage account to modify
          in: path
          name: storageAccountName
          required: true
          type: string
        - description: The parameters containing the access key and suffix to update the storage account with, if any. Passing nothing results in no change.
          in: body
          name: parameters
          required: false
          schema:
            $ref: "#/definitions/UpdateStorageAccountParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully update the specified Azure Storage account information for the specified Azure Data Lake Analytics account.
      tags:
        - StorageAccounts
      x-ms-examples:
        Replaces Azure Storage blob account details:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            parameters:
              properties:
                accessKey: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab346
                suffix: test_suffix
            resourceGroupName: contosorg
            storageAccountName: test_storage
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
    put:
      description: Updates the specified Data Lake Analytics account to add an Azure Storage account.
      operationId: StorageAccounts_Add
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the Azure Storage account to add
          in: path
          name: storageAccountName
          required: true
          type: string
        - description: The parameters containing the access key and optional suffix for the Azure Storage Account.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/AddStorageAccountParameters"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully added the specified Azure Storage account information to the specified Azure Data Lake Analytics account.
      tags:
        - StorageAccounts
      x-ms-examples:
        Adds an Azure Storage account:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            parameters:
              properties:
                accessKey: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab346
                suffix: test_suffix
            resourceGroupName: contosorg
            storageAccountName: test_storage
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts/{storageAccountName}/containers":
    get:
      description: Lists the Azure Storage containers, if any, associated with the specified Data Lake Analytics and Azure Storage account combination. The response includes a link to the next page of results, if any.
      operationId: StorageAccounts_ListStorageContainers
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the Azure storage account from which to list blob containers.
          in: path
          name: storageAccountName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of Azure Storage containers under the specified Azure Data Lake Analytics account.
          schema:
            $ref: "#/definitions/StorageContainerListResult"
      tags:
        - StorageAccounts
      x-ms-examples:
        Lists the Azure Storage containers:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            resourceGroupName: contosorg
            storageAccountName: test_storage
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>
                value:
                  - id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                    name: test_storage
                    properties:
                      lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                    type: test_type
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts/{storageAccountName}/containers/{containerName}":
    get:
      description: Gets the specified Azure Storage container associated with the given Data Lake Analytics and Azure Storage accounts.
      operationId: StorageAccounts_GetStorageContainer
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the Azure storage account from which to retrieve the blob container.
          in: path
          name: storageAccountName
          required: true
          type: string
        - description: The name of the Azure storage container to retrieve
          in: path
          name: containerName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the specified Azure Storage container information.
          schema:
            $ref: "#/definitions/StorageContainer"
      tags:
        - StorageAccounts
      x-ms-examples:
        Gets the specified Azure Storage container:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            containerName: test_container
            resourceGroupName: contosorg
            storageAccountName: test_storage
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
                name: test_storage
                properties:
                  lastModifiedTime: 2017-04-14T13:21:56.6819037-07:00
                type: test_type
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataLakeAnalytics/accounts/{accountName}/storageAccounts/{storageAccountName}/containers/{containerName}/listSasTokens":
    post:
      description: Gets the SAS token associated with the specified Data Lake Analytics and Azure Storage account and container combination.
      operationId: StorageAccounts_ListSasTokens
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/AccountNameParameter"
        - description: The name of the Azure storage account for which the SAS token is being requested.
          in: path
          name: storageAccountName
          required: true
          type: string
        - description: The name of the Azure storage container for which the SAS token is being requested.
          in: path
          name: containerName
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Successfully retrieved the list of Storage Account SAS tokens for the specified Azure Storage account container.
          schema:
            $ref: "#/definitions/SasTokenInformationListResult"
      tags:
        - StorageAccounts
      x-ms-examples:
        Gets the SAS token:
          parameters:
            accountName: contosoadla
            api-version: 2016-11-01
            containerName: test_container
            resourceGroupName: contosorg
            storageAccountName: test_storage
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                nextLink: https://management.azure.com/subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/contosorg/providers/Microsoft.DataLakeAnalytics/accounts/contosoadla/jobPolicies?api-version=2016-11-01&%24skiptoken=<token>
                value:
                  - accessToken: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab346
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  AddDataLakeStoreParameters:
    description: The parameters used to add a new Data Lake Store account.
    properties:
      properties:
        $ref: "#/definitions/AddDataLakeStoreProperties"
        description: The Data Lake Store account properties to use when adding a new Data Lake Store account.
        x-ms-client-flatten: true
  AddDataLakeStoreProperties:
    description: The Data Lake Store account properties to use when adding a new Data Lake Store account.
    properties:
      suffix:
        description: The optional suffix for the Data Lake Store account.
        type: string
  AddDataLakeStoreWithAccountParameters:
    description: The parameters used to add a new Data Lake Store account while creating a new Data Lake Analytics account.
    properties:
      name:
        description: The unique name of the Data Lake Store account to add.
        type: string
      properties:
        $ref: "#/definitions/AddDataLakeStoreProperties"
        description: The Data Lake Store account properties to use when adding a new Data Lake Store account.
        x-ms-client-flatten: true
    required:
      - name
  AddStorageAccountParameters:
    description: The parameters used to add a new Azure Storage account.
    properties:
      properties:
        $ref: "#/definitions/AddStorageAccountProperties"
        description: The Azure Storage account properties to use when adding a new Azure Storage account.
        x-ms-client-flatten: true
    required:
      - properties
  AddStorageAccountProperties:
    description: The Azure Storage account properties to use when adding a new Azure Storage account.
    properties:
      accessKey:
        description: The access key associated with this Azure Storage account that will be used to connect to it.
        type: string
      suffix:
        description: The optional suffix for the storage account.
        type: string
    required:
      - accessKey
  AddStorageAccountWithAccountParameters:
    description: The parameters used to add a new Azure Storage account while creating a new Data Lake Analytics account.
    properties:
      name:
        description: The unique name of the Azure Storage account to add.
        type: string
      properties:
        $ref: "#/definitions/AddStorageAccountProperties"
        description: The Azure Storage account properties to use when adding a new Azure Storage account.
        x-ms-client-flatten: true
    required:
      - name
      - properties
  CapabilityInformation:
    description: Subscription-level properties and limits for Data Lake Analytics.
    properties:
      accountCount:
        description: The current number of accounts under this subscription.
        format: int32
        readOnly: true
        type: integer
      maxAccountCount:
        description: The maximum supported number of accounts under this subscription.
        format: int32
        readOnly: true
        type: integer
      migrationState:
        description: The Boolean value of true or false to indicate the maintenance state.
        readOnly: true
        type: boolean
      state:
        description: The subscription state.
        enum:
          - Registered
          - Suspended
          - Deleted
          - Unregistered
          - Warned
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: SubscriptionState
      subscriptionId:
        description: The subscription credentials that uniquely identifies the subscription.
        format: uuid
        readOnly: true
        type: string
  CheckNameAvailabilityParameters:
    description: Data Lake Analytics account name availability check parameters.
    properties:
      name:
        description: The Data Lake Analytics name to check availability for.
        type: string
      type:
        description: "The resource type. Note: This should not be set by the user, as the constant value is Microsoft.DataLakeAnalytics/accounts"
        enum:
          - Microsoft.DataLakeAnalytics/accounts
        type: string
    required:
      - name
      - type
  ComputePolicy:
    allOf:
      - $ref: "#/definitions/SubResource"
    description: Data Lake Analytics compute policy information.
    properties:
      properties:
        $ref: "#/definitions/ComputePolicyProperties"
        description: The compute policy properties.
        readOnly: true
        x-ms-client-flatten: true
  ComputePolicyListResult:
    description: The list of compute policies in the account.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The results of the list operation.
        items:
          $ref: "#/definitions/ComputePolicy"
        readOnly: true
        type: array
  ComputePolicyProperties:
    description: The compute policy properties.
    properties:
      maxDegreeOfParallelismPerJob:
        description: The maximum degree of parallelism per job this user can use to submit jobs.
        format: int32
        minimum: 1
        readOnly: true
        type: integer
      minPriorityPerJob:
        description: The minimum priority per job this user can use to submit jobs.
        format: int32
        minimum: 1
        readOnly: true
        type: integer
      objectId:
        description: The AAD object identifier for the entity to create a policy for.
        format: uuid
        readOnly: true
        type: string
      objectType:
        description: The type of AAD object the object identifier refers to.
        enum:
          - User
          - Group
          - ServicePrincipal
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: AADObjectType
  CreateComputePolicyWithAccountParameters:
    description: The parameters used to create a new compute policy while creating a new Data Lake Analytics account.
    properties:
      name:
        description: The unique name of the compute policy to create.
        type: string
      properties:
        $ref: "#/definitions/CreateOrUpdateComputePolicyProperties"
        description: The compute policy properties to use when creating a new compute policy.
        x-ms-client-flatten: true
    required:
      - name
      - properties
  CreateDataLakeAnalyticsAccountParameters:
    description: The parameters to use for creating a Data Lake Analytics account.
    properties:
      location:
        description: The resource location.
        type: string
      properties:
        $ref: "#/definitions/CreateDataLakeAnalyticsAccountProperties"
        description: The Data Lake Analytics account properties to use for creating.
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: The resource tags.
        type: object
    required:
      - location
      - properties
  CreateDataLakeAnalyticsAccountProperties:
    properties:
      computePolicies:
        description: The list of compute policies associated with this account.
        items:
          $ref: "#/definitions/CreateComputePolicyWithAccountParameters"
        type: array
      dataLakeStoreAccounts:
        description: The list of Data Lake Store accounts associated with this account.
        items:
          $ref: "#/definitions/AddDataLakeStoreWithAccountParameters"
        type: array
      defaultDataLakeStoreAccount:
        description: The default Data Lake Store account associated with this account.
        type: string
      firewallAllowAzureIps:
        description: The current state of allowing or disallowing IPs originating within Azure through the firewall. If the firewall is disabled, this is not enforced.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: FirewallAllowAzureIpsState
      firewallRules:
        description: The list of firewall rules associated with this account.
        items:
          $ref: "#/definitions/CreateFirewallRuleWithAccountParameters"
        type: array
      firewallState:
        description: The current state of the IP address firewall for this account.
        enum:
          - Enabled
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: FirewallState
      maxDegreeOfParallelism:
        default: 30
        description: The maximum supported degree of parallelism for this account.
        format: int32
        minimum: 1
        type: integer
      maxDegreeOfParallelismPerJob:
        description: The maximum supported degree of parallelism per job for this account.
        format: int32
        minimum: 1
        type: integer
      maxJobCount:
        default: 3
        description: The maximum supported jobs running under the account at the same time.
        format: int32
        minimum: 1
        type: integer
      minPriorityPerJob:
        description: The minimum supported priority per job for this account.
        format: int32
        minimum: 1
        type: integer
      newTier:
        description: The commitment tier for the next month.
        enum:
          - Consumption
          - Commitment_100AUHours
          - Commitment_500AUHours
          - Commitment_1000AUHours
          - Commitment_5000AUHours
          - Commitment_10000AUHours
          - Commitment_50000AUHours
          - Commitment_100000AUHours
          - Commitment_500000AUHours
        type: string
        x-ms-enum:
          modelAsString: false
          name: TierType
      queryStoreRetention:
        default: 30
        description: The number of days that job metadata is retained.
        format: int32
        maximum: 180
        minimum: 1
        type: integer
      storageAccounts:
        description: The list of Azure Blob Storage accounts associated with this account.
        items:
          $ref: "#/definitions/AddStorageAccountWithAccountParameters"
        type: array
    required:
      - defaultDataLakeStoreAccount
      - dataLakeStoreAccounts
  CreateFirewallRuleWithAccountParameters:
    description: The parameters used to create a new firewall rule while creating a new Data Lake Analytics account.
    properties:
      name:
        description: The unique name of the firewall rule to create.
        type: string
      properties:
        $ref: "#/definitions/CreateOrUpdateFirewallRuleProperties"
        description: The firewall rule properties to use when creating a new firewall rule.
        x-ms-client-flatten: true
    required:
      - name
      - properties
  CreateOrUpdateComputePolicyParameters:
    description: The parameters used to create a new compute policy.
    properties:
      properties:
        $ref: "#/definitions/CreateOrUpdateComputePolicyProperties"
        description: The compute policy properties to use when creating a new compute policy.
        x-ms-client-flatten: true
    required:
      - properties
  CreateOrUpdateComputePolicyProperties:
    description: The compute policy properties to use when creating a new compute policy.
    properties:
      maxDegreeOfParallelismPerJob:
        description: The maximum degree of parallelism per job this user can use to submit jobs. This property, the min priority per job property, or both must be passed.
        format: int32
        minimum: 1
        type: integer
      minPriorityPerJob:
        description: The minimum priority per job this user can use to submit jobs. This property, the max degree of parallelism per job property, or both must be passed.
        format: int32
        minimum: 1
        type: integer
      objectId:
        description: The AAD object identifier for the entity to create a policy for.
        format: uuid
        type: string
      objectType:
        description: The type of AAD object the object identifier refers to.
        enum:
          - User
          - Group
          - ServicePrincipal
        type: string
        x-ms-enum:
          modelAsString: true
          name: AADObjectType
    required:
      - objectId
      - objectType
  CreateOrUpdateFirewallRuleParameters:
    description: The parameters used to create a new firewall rule.
    properties:
      properties:
        $ref: "#/definitions/CreateOrUpdateFirewallRuleProperties"
        description: The firewall rule properties to use when creating a new firewall rule.
        x-ms-client-flatten: true
    required:
      - properties
  CreateOrUpdateFirewallRuleProperties:
    description: The firewall rule properties to use when creating a new firewall rule.
    properties:
      endIpAddress:
        description: The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        type: string
      startIpAddress:
        description: The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        type: string
    required:
      - startIpAddress
      - endIpAddress
  DataLakeAnalyticsAccount:
    allOf:
      - $ref: "#/definitions/Resource"
    description: A Data Lake Analytics account object, containing all information associated with the named Data Lake Analytics account.
    properties:
      properties:
        $ref: "#/definitions/DataLakeAnalyticsAccountProperties"
        description: The properties defined by Data Lake Analytics all properties are specific to each resource provider.
        readOnly: true
        x-ms-client-flatten: true
  DataLakeAnalyticsAccountBasic:
    allOf:
      - $ref: "#/definitions/Resource"
    description: A Data Lake Analytics account object, containing all information associated with the named Data Lake Analytics account.
    properties:
      properties:
        $ref: "#/definitions/DataLakeAnalyticsAccountPropertiesBasic"
        description: The properties defined by Data Lake Analytics all properties are specific to each resource provider.
        readOnly: true
        x-ms-client-flatten: true
  DataLakeAnalyticsAccountListResult:
    description: Data Lake Analytics account list information.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The results of the list operation.
        items:
          $ref: "#/definitions/DataLakeAnalyticsAccountBasic"
        readOnly: true
        type: array
  DataLakeAnalyticsAccountProperties:
    allOf:
      - $ref: "#/definitions/DataLakeAnalyticsAccountPropertiesBasic"
    description: The account specific properties that are associated with an underlying Data Lake Analytics account. Returned only when retrieving a specific account.
    properties:
      computePolicies:
        description: The list of compute policies associated with this account.
        items:
          $ref: "#/definitions/ComputePolicy"
        readOnly: true
        type: array
      currentTier:
        description: The commitment tier in use for the current month.
        enum:
          - Consumption
          - Commitment_100AUHours
          - Commitment_500AUHours
          - Commitment_1000AUHours
          - Commitment_5000AUHours
          - Commitment_10000AUHours
          - Commitment_50000AUHours
          - Commitment_100000AUHours
          - Commitment_500000AUHours
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: TierType
      dataLakeStoreAccounts:
        description: The list of Data Lake Store accounts associated with this account.
        items:
          $ref: "#/definitions/DataLakeStoreAccountInformation"
        readOnly: true
        type: array
      defaultDataLakeStoreAccount:
        description: The default Data Lake Store account associated with this account.
        readOnly: true
        type: string
      firewallAllowAzureIps:
        description: The current state of allowing or disallowing IPs originating within Azure through the firewall. If the firewall is disabled, this is not enforced.
        enum:
          - Enabled
          - Disabled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: FirewallAllowAzureIpsState
      firewallRules:
        description: The list of firewall rules associated with this account.
        items:
          $ref: "#/definitions/FirewallRule"
        readOnly: true
        type: array
      firewallState:
        description: The current state of the IP address firewall for this account.
        enum:
          - Enabled
          - Disabled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: FirewallState
      maxDegreeOfParallelism:
        default: 30
        description: The maximum supported degree of parallelism for this account.
        format: int32
        minimum: 1
        readOnly: true
        type: integer
      maxDegreeOfParallelismPerJob:
        description: The maximum supported degree of parallelism per job for this account.
        format: int32
        minimum: 1
        readOnly: true
        type: integer
      maxJobCount:
        default: 3
        description: The maximum supported jobs running under the account at the same time.
        format: int32
        minimum: 1
        readOnly: true
        type: integer
      minPriorityPerJob:
        description: The minimum supported priority per job for this account.
        format: int32
        minimum: 1
        readOnly: true
        type: integer
      newTier:
        description: The commitment tier for the next month.
        enum:
          - Consumption
          - Commitment_100AUHours
          - Commitment_500AUHours
          - Commitment_1000AUHours
          - Commitment_5000AUHours
          - Commitment_10000AUHours
          - Commitment_50000AUHours
          - Commitment_100000AUHours
          - Commitment_500000AUHours
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: TierType
      queryStoreRetention:
        default: 30
        description: The number of days that job metadata is retained.
        format: int32
        maximum: 180
        minimum: 1
        readOnly: true
        type: integer
      storageAccounts:
        description: The list of Azure Blob Storage accounts associated with this account.
        items:
          $ref: "#/definitions/StorageAccountInformation"
        readOnly: true
        type: array
      systemMaxDegreeOfParallelism:
        description: The system defined maximum supported degree of parallelism for this account, which restricts the maximum value of parallelism the user can set for the account.
        format: int32
        readOnly: true
        type: integer
      systemMaxJobCount:
        description: The system defined maximum supported jobs running under the account at the same time, which restricts the maximum number of running jobs the user can set for the account.
        format: int32
        readOnly: true
        type: integer
  DataLakeAnalyticsAccountPropertiesBasic:
    description: The basic account specific properties that are associated with an underlying Data Lake Analytics account.
    properties:
      accountId:
        description: The unique identifier associated with this Data Lake Analytics account.
        format: uuid
        readOnly: true
        type: string
      creationTime:
        description: The account creation time.
        format: date-time
        readOnly: true
        type: string
      endpoint:
        description: The full CName endpoint for this account.
        readOnly: true
        type: string
      lastModifiedTime:
        description: The account last modified time.
        format: date-time
        readOnly: true
        type: string
      provisioningState:
        description: The provisioning status of the Data Lake Analytics account.
        enum:
          - Failed
          - Creating
          - Running
          - Succeeded
          - Patching
          - Suspending
          - Resuming
          - Deleting
          - Deleted
          - Undeleting
          - Canceled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: DataLakeAnalyticsAccountStatus
      state:
        description: The state of the Data Lake Analytics account.
        enum:
          - Active
          - Suspended
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: DataLakeAnalyticsAccountState
  DataLakeStoreAccountInformation:
    allOf:
      - $ref: "#/definitions/SubResource"
    description: Data Lake Store account information.
    properties:
      properties:
        $ref: "#/definitions/DataLakeStoreAccountInformationProperties"
        description: The Data Lake Store account properties.
        readOnly: true
        x-ms-client-flatten: true
  DataLakeStoreAccountInformationListResult:
    description: Data Lake Store account list information.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The results of the list operation.
        items:
          $ref: "#/definitions/DataLakeStoreAccountInformation"
        readOnly: true
        type: array
  DataLakeStoreAccountInformationProperties:
    description: The Data Lake Store account properties.
    properties:
      suffix:
        description: The optional suffix for the Data Lake Store account.
        readOnly: true
        type: string
  FirewallRule:
    allOf:
      - $ref: "#/definitions/SubResource"
    description: Data Lake Analytics firewall rule information.
    properties:
      properties:
        $ref: "#/definitions/FirewallRuleProperties"
        description: The firewall rule properties.
        readOnly: true
        x-ms-client-flatten: true
  FirewallRuleListResult:
    description: Data Lake Analytics firewall rule list information.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The results of the list operation.
        items:
          $ref: "#/definitions/FirewallRule"
        readOnly: true
        type: array
  FirewallRuleProperties:
    description: The firewall rule properties.
    properties:
      endIpAddress:
        description: The end IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        readOnly: true
        type: string
      startIpAddress:
        description: The start IP address for the firewall rule. This can be either ipv4 or ipv6. Start and End should be in the same protocol.
        readOnly: true
        type: string
  NameAvailabilityInformation:
    description: Data Lake Analytics account name availability result information.
    properties:
      message:
        description: The message describing why the Data Lake Analytics account name is not available, if nameAvailable is false.
        readOnly: true
        type: string
      nameAvailable:
        description: The Boolean value of true or false to indicate whether the Data Lake Analytics account name is available or not.
        readOnly: true
        type: boolean
      reason:
        description: The reason why the Data Lake Analytics account name is not available, if nameAvailable is false.
        readOnly: true
        type: string
  Operation:
    description: An available operation for Data Lake Analytics.
    properties:
      display:
        $ref: "#/definitions/OperationDisplay"
        description: The display information for the operation.
        readOnly: true
      name:
        description: The name of the operation.
        readOnly: true
        type: string
      origin:
        description: The intended executor of the operation.
[...]
