swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: API spec for Microsoft.Security (Azure Security Center) resource provider
  title: Security Center
  version: 2017-08-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/security/resource-manager/Microsoft.Security/preview/2017-08-01-preview/securityContacts.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: security-securityContacts
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  SecurityContact:
    description: Security contact object
    in: body
    name: securityContact
    required: true
    schema:
      $ref: "#/definitions/SecurityContact"
    x-ms-parameter-location: method
  SecurityContactName:
    description: Name of the security contact object
    in: path
    name: securityContactName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts":
    get:
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_List
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          type: string
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SecurityContactList"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response structure.
            properties:
              error:
                description: Error details.
                properties:
                  code:
                    description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
                    readOnly: true
                    type: string
                  message:
                    description: A message describing the error, intended to be suitable for display in a user interface.
                    readOnly: true
                    type: string
                type: object
                x-ms-external: true
            type: object
            x-ms-external: true
      tags:
        - Security Contacts
      x-ms-examples:
        Update security contact data full:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
                    name: default1
                    properties:
                      alertNotifications: On
                      alertsToAdmins: On
                      email: john@contoso.com
                      phone: (214)275-4038
                    type: Microsoft.Security/securityContacts
        Update security contact data minimal:
          parameters:
            api-version: 2017-08-01-preview
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
                    name: default2
                    properties:
                      alertNotifications: On
                      alertsToAdmins: On
                      email: chen@contoso.com
                    type: Microsoft.Security/securityContacts
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts/{securityContactName}":
    delete:
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_Delete
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          type: string
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
          required: true
          type: string
        - $ref: "#/parameters/SecurityContactName"
      responses:
        "204":
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response structure.
            properties:
              error:
                description: Error details.
                properties:
                  code:
                    description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
                    readOnly: true
                    type: string
                  message:
                    description: A message describing the error, intended to be suitable for display in a user interface.
                    readOnly: true
                    type: string
                type: object
                x-ms-external: true
            type: object
            x-ms-external: true
      tags:
        - Security Contacts
      x-ms-examples:
        Delete security contact data:
          parameters:
            api-version: 2017-08-01-preview
            securityContactName: default1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "204": {}
    get:
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_Get
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          type: string
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
          required: true
          type: string
        - $ref: "#/parameters/SecurityContactName"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SecurityContact"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response structure.
            properties:
              error:
                description: Error details.
                properties:
                  code:
                    description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
                    readOnly: true
                    type: string
                  message:
                    description: A message describing the error, intended to be suitable for display in a user interface.
                    readOnly: true
                    type: string
                type: object
                x-ms-external: true
            type: object
            x-ms-external: true
      tags:
        - Security Contacts
      x-ms-examples:
        Get security contact data full:
          parameters:
            api-version: 2017-08-01-preview
            securityContactName: default1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
                name: default1
                properties:
                  alertNotifications: On
                  alertsToAdmins: On
                  email: john@contoso.com
                  phone: (214)275-4038
                type: Microsoft.Security/securityContacts
        Get security contact data minimal:
          parameters:
            api-version: 2017-08-01-preview
            securityContactName: default2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
                name: default2
                properties:
                  alertNotifications: On
                  alertsToAdmins: On
                  email: chen@contoso.com
                type: Microsoft.Security/securityContacts
    patch:
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_Update
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          type: string
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
          required: true
          type: string
        - $ref: "#/parameters/SecurityContactName"
        - $ref: "#/parameters/SecurityContact"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SecurityContact"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response structure.
            properties:
              error:
                description: Error details.
                properties:
                  code:
                    description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
                    readOnly: true
                    type: string
                  message:
                    description: A message describing the error, intended to be suitable for display in a user interface.
                    readOnly: true
                    type: string
                type: object
                x-ms-external: true
            type: object
            x-ms-external: true
      tags:
        - Security Contacts
      x-ms-examples:
        Update security contact data full:
          parameters:
            api-version: 2017-08-01-preview
            securityContact:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
              name: default1
              properties:
                alertNotifications: On
                phone: (214)275-4038
              type: Microsoft.Security/securityContacts
            securityContactName: john
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
                name: default1
                properties:
                  alertNotifications: On
                  alertsToAdmins: Off
                  email: john@contoso.com
                  phone: (214)275-4038
                type: Microsoft.Security/securityContacts
        Update security contact data minimal:
          parameters:
            api-version: 2017-08-01-preview
            securityContact:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
              name: default2
              properties:
                alertNotifications: On
              type: Microsoft.Security/securityContacts
            securityContactName: default2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
                name: default2
                properties:
                  alertNotifications: On
                  alertsToAdmins: Off
                  email: chen@contoso.com
                type: Microsoft.Security/securityContacts
    put:
      description: Security contact configurations for the subscription
      operationId: SecurityContacts_Create
      parameters:
        - description: API version for the operation
          in: query
          name: api-version
          required: true
          type: string
        - description: Azure subscription ID
          in: path
          name: subscriptionId
          pattern: ^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$
          required: true
          type: string
        - $ref: "#/parameters/SecurityContactName"
        - $ref: "#/parameters/SecurityContact"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/SecurityContact"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error response structure.
            properties:
              error:
                description: Error details.
                properties:
                  code:
                    description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
                    readOnly: true
                    type: string
                  message:
                    description: A message describing the error, intended to be suitable for display in a user interface.
                    readOnly: true
                    type: string
                type: object
                x-ms-external: true
            type: object
            x-ms-external: true
      tags:
        - Security Contacts
      x-ms-examples:
        Create security contact data full:
          parameters:
            api-version: 2017-08-01-preview
            securityContact:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
              name: default1
              properties:
                alertNotifications: On
                alertsToAdmins: On
                email: john@contoso.com
                phone: (214)275-4038
              type: Microsoft.Security/securityContacts
            securityContactName: default1
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default1
                name: default1
                properties:
                  alertNotifications: On
                  alertsToAdmins: On
                  email: john@contoso.com
                  phone: (214)275-4038
                type: Microsoft.Security/securityContacts
        Create security contact data minimal:
          parameters:
            api-version: 2017-08-01-preview
            securityContact:
              id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
              name: default2
              properties:
                alertNotifications: On
                alertsToAdmins: On
                email: chen@contoso.com
              type: Microsoft.Security/securityContacts
            securityContactName: default2
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/providers/Microsoft.Security/securityContacts/default2
                name: default2
                properties:
                  alertNotifications: On
                  alertsToAdmins: On
                  email: chen@contoso.com
                type: Microsoft.Security/securityContacts
definitions:
  SecurityContact:
    allOf:
      - description: Describes an Azure resource.
        properties:
          id:
            description: Resource Id
            readOnly: true
            type: string
          name:
            description: Resource name
            readOnly: true
            type: string
          type:
            description: Resource type
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Contact details for security issues
    properties:
      properties:
        $ref: "#/definitions/SecurityContactProperties"
        description: Security contact data
        x-ms-client-flatten: true
    type: object
  SecurityContactList:
    description: List of security contacts response
    properties:
      nextLink:
        description: The URI to fetch the next page.
        readOnly: true
        type: string
      value:
        description: List of security contacts
        items:
          $ref: "#/definitions/SecurityContact"
        readOnly: true
        type: array
    type: object
  SecurityContactProperties:
    description: describes security contact properties
    properties:
      alertNotifications:
        description: Whether to send security alerts notifications to the security contact
        enum:
          - On
          - Off
        type: string
        x-ms-enum:
          modelAsString: true
          name: alertNotifications
          values:
            - description: Get notifications on new alerts
              value: On
            - description: Don't get notifications on new alerts
              value: Off
      alertsToAdmins:
        description: Whether to send security alerts notifications to subscription admins
        enum:
          - On
          - Off
        type: string
        x-ms-enum:
          modelAsString: true
          name: alertsToAdmins
          values:
            - description: Send notification on new alerts to the subscription's admins
              value: On
            - description: Don't send notification on new alerts to the subscription's admins
              value: Off
      email:
        description: The email of this security contact
        format: email
        type: string
      phone:
        description: The phone number of this security contact
        type: string
    required:
      - email
      - alertNotifications
      - alertsToAdmins
    type: object
