swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: The HDInsight Management Client.
  title: HDInsightManagementClient
  version: 2018-06-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/hdinsight/resource-manager/Microsoft.HDInsight/stable/2018-06-01-preview/cluster.json
      version: "2.0"
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: hdinsight-cluster
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: The HDInsight client API Version.
    in: query
    name: api-version
    required: true
    type: string
  ClusterNameParameter:
    description: The name of the cluster.
    in: path
    name: clusterName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: The name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/clusters":
    get:
      description: Lists all the HDInsight clusters under the subscription.
      operationId: Clusters_List
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK response definition.
          schema:
            $ref: "#/definitions/ClusterListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Describes the format of Error response.
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Clusters
      x-ms-examples:
        Get All Hadoop on Linux clusters:
          parameters:
            api-version: 2018-06-01-preview
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                    location: West US
                    name: cluster1
                    properties:
                      clusterDefinition:
                        blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                        kind: hadoop
                      clusterState: Running
                      clusterVersion: 3.5.1000.0
                      computeProfile:
                        roles:
                          - hardwareProfile:
                              vmSize: Standard_D3_V2
                            name: headnode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 2
                          - hardwareProfile:
                              vmSize: Standard_D3_V2
                            name: workernode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 4
                          - hardwareProfile:
                              vmSize: Medium
                            name: zookeepernode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 3
                      connectivityEndpoints:
                        - location: cluster1-ssh.azurehdinsight.net
                          name: SSH
                          port: 22
                          protocol: TCP
                        - location: cluster1.azurehdinsight.net
                          name: HTTPS
                          port: 443
                          protocol: TCP
                      createdDate: 2017-01-11T18:58:26.187
                      osType: Linux
                      provisioningState: Succeeded
                      quotaInfo:
                        coresUsed: 24
                      tier: Standard
                    tags:
                      key1: val1
                    type: Microsoft.HDInsight/clusters
                  - etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster2
                    location: West US
                    name: cluster2
                    properties:
                      clusterDefinition:
                        blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                        kind: hadoop
                      clusterState: Running
                      clusterVersion: 3.5.1000.0
                      computeProfile:
                        roles:
                          - hardwareProfile:
                              vmSize: Standard_D3_V2
                            name: headnode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 2
                          - hardwareProfile:
                              vmSize: Standard_D3_V2
                            name: workernode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 4
                          - hardwareProfile:
                              vmSize: Medium
                            name: zookeepernode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 3
                      connectivityEndpoints:
                        - location: cluster2-ssh.azurehdinsight.net
                          name: SSH
                          port: 22
                          protocol: TCP
                        - location: cluster2.azurehdinsight.net
                          name: HTTPS
                          port: 443
                          protocol: TCP
                      createdDate: 2017-01-11T18:58:26.187
                      osType: Linux
                      provisioningState: Succeeded
                      quotaInfo:
                        coresUsed: 24
                      tier: Standard
                    tags:
                      key1: val1
                    type: Microsoft.HDInsight/clusters
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters":
    get:
      description: Lists the HDInsight clusters in a resource group.
      operationId: Clusters_ListByResourceGroup
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK response definition.
          schema:
            $ref: "#/definitions/ClusterListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Describes the format of Error response.
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Clusters
      x-ms-examples:
        Get All Hadoop on Linux clusters in a resource group:
          parameters:
            api-version: 2018-06-01-preview
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                value:
                  - etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                    location: West US
                    name: cluster1
                    properties:
                      clusterDefinition:
                        blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                        kind: hadoop
                      clusterState: Running
                      clusterVersion: 3.5.1000.0
                      computeProfile:
                        roles:
                          - hardwareProfile:
                              vmSize: Standard_D3_V2
                            name: headnode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 2
                          - hardwareProfile:
                              vmSize: Standard_D3_V2
                            name: workernode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 4
                          - hardwareProfile:
                              vmSize: Medium
                            name: zookeepernode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 3
                      connectivityEndpoints:
                        - location: cluster1-ssh.azurehdinsight.net
                          name: SSH
                          port: 22
                          protocol: TCP
                        - location: cluster1.azurehdinsight.net
                          name: HTTPS
                          port: 443
                          protocol: TCP
                      createdDate: 2017-01-11T18:58:26.187
                      osType: Linux
                      provisioningState: Succeeded
                      quotaInfo:
                        coresUsed: 24
                      tier: Standard
                    tags:
                      key1: val1
                    type: Microsoft.HDInsight/clusters
                  - etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                    id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster2
                    location: West US
                    name: cluster2
                    properties:
                      clusterDefinition:
                        blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                        kind: hadoop
                      clusterState: Running
                      clusterVersion: 3.5.1000.0
                      computeProfile:
                        roles:
                          - hardwareProfile:
                              vmSize: Standard_D3_V2
                            name: headnode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 2
                          - hardwareProfile:
                              vmSize: Standard_D3_V2
                            name: workernode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 4
                          - hardwareProfile:
                              vmSize: Medium
                            name: zookeepernode
                            osProfile:
                              linuxOperatingSystemProfile:
                                username: pulkitssh
                            targetInstanceCount: 3
                      connectivityEndpoints:
                        - location: cluster2-ssh.azurehdinsight.net
                          name: SSH
                          port: 22
                          protocol: TCP
                        - location: cluster2.azurehdinsight.net
                          name: HTTPS
                          port: 443
                          protocol: TCP
                      createdDate: 2017-01-11T18:58:26.187
                      osType: Linux
                      provisioningState: Succeeded
                      quotaInfo:
                        coresUsed: 24
                      tier: Standard
                    tags:
                      key1: val1
                    type: Microsoft.HDInsight/clusters
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}":
    delete:
      description: Deletes the specified HDInsight cluster.
      operationId: Clusters_Delete
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Ok response definition.
        "202":
          description: Accepted response definition.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Describes the format of Error response.
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Clusters
      x-ms-examples:
        Delete Hadoop on Linux cluster:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
    get:
      description: Gets the specified cluster.
      operationId: Clusters_Get
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK response definition.
          schema:
            $ref: "#/definitions/Cluster"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Describes the format of Error response.
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Clusters
      x-ms-examples:
        Get Hadoop on Linux cluster:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                location: West US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                    kind: hadoop
                  clusterState: Running
                  clusterVersion: 3.5.1000.0
                  computeProfile:
                    roles:
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: Medium
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 3
                  connectivityEndpoints:
                    - location: cluster1-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster1.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                  createdDate: 2017-01-11T18:58:26.187
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 24
                  tier: Standard
                tags:
                  key1: val1
                type: Microsoft.HDInsight/clusters
        Get Spark on Linux cluster:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: 4cd8b5a9-ca9c-4239-9e5b-3916032e994c
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                location: West US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/spark-3.5.1000.0.9625065.json
                    componentVersion:
                      Spark: "2.0"
                    kind: SPARK
                  clusterState: Running
                  clusterVersion: 3.5.1000.0
                  computeProfile:
                    roles:
                      - hardwareProfile:
                          vmSize: Standard_D12_V2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: Standard_D4_V2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: Medium
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 3
                  connectivityEndpoints:
                    - location: cluster1-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster1.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                  createdDate: 2017-03-03T08:35:07.323
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 40
                  tier: Standard
                tags:
                  key1: val1
                type: Microsoft.HDInsight/clusters
    patch:
      description: Patch HDInsight cluster with the specified parameters.
      operationId: Clusters_Update
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: The cluster patch request.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ClusterPatchParameters"
      responses:
        "200":
          description: OK response definition.
          schema:
            $ref: "#/definitions/Cluster"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Describes the format of Error response.
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Clusters
      x-ms-examples:
        Patch HDInsight Linux clusters:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            parameters:
              tags:
                key1: val1
                key2: val2
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: f0212a39-b827-45e0-9ffa-4f5232e58851
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                location: West US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-3.5.1000.0.9243893.json
                    kind: hadoop
                  clusterState: Running
                  clusterVersion: 3.5.1000.0
                  computeProfile:
                    roles:
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: Standard_D3_V2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: Medium
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 3
                  connectivityEndpoints:
                    - location: cluster1-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster1.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                  createdDate: 2017-01-11T18:58:26.187
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 24
                  tier: Standard
                tags:
                  key1: val1
                  key2: val2
                type: Microsoft.HDInsight/clusters
    put:
      description: Creates a new HDInsight cluster with the specified parameters.
      operationId: Clusters_Create
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: The cluster create request.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ClusterCreateParametersExtended"
      responses:
        "200":
          description: OK response definition.
          schema:
            $ref: "#/definitions/Cluster"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Describes the format of Error response.
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Clusters
      x-ms-examples:
        Create HDInsight cluster with Autoscale configuration:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  componentVersion:
                    Hadoop: "2.7"
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: true
                      restAuthCredential.password: "**********"
                      restAuthCredential.username: admin
                  kind: hadoop
                clusterVersion: "3.6"
                computeProfile:
                  roles:
                    - autoscale:
                        capacity: null
                        recurrence:
                          schedule:
                            - days:
                                - Monday
                                - Tuesday
                                - Wednesday
                                - Thursday
                                - Friday
                              timeAndCapacity:
                                maxInstanceCount: 3
                                minInstanceCount: 3
                                time: 09:00
                            - days:
                                - Monday
                                - Tuesday
                                - Wednesday
                                - Thursday
                                - Friday
                              timeAndCapacity:
                                maxInstanceCount: 6
                                minInstanceCount: 6
                                time: 18:00
                            - days:
                                - Saturday
                                - Sunday
                              timeAndCapacity:
                                maxInstanceCount: 2
                                minInstanceCount: 2
                                time: 09:00
                            - days:
                                - Saturday
                                - Sunday
                              timeAndCapacity:
                                maxInstanceCount: 4
                                minInstanceCount: 4
                                time: 18:00
                          timeZone: China Standard Time
                      dataDisksGroups: null
                      hardwareProfile:
                        vmSize: Standard_D4_V2
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          username: sshuser
                      scriptActions: []
                      targetInstanceCount: 4
                      virtualNetworkProfile: null
                osType: Linux
                storageProfile:
                  storageaccounts:
                    - container: hdinsight-autoscale-tes-2019-06-18t05-49-16-591z
                      isDefault: true
                      key: storagekey
                      name: mystorage.blob.core.windows.net
                tier: Standard
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zzy-test-rg/providers/Microsoft.HDInsight/clusters/cluster1
                location: East US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json
                    componentVersion:
                      Hadoop: "3.1"
                    kind: HADOOP
                  clusterState: Running
                  clusterVersion: 4.0.1000.1
                  computeProfile:
                    roles:
                      - hardwareProfile:
                          vmSize: standard_d12_v2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: standard_d4_v2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: standard_a2_v2
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 3
                  connectivityEndpoints:
                    - location: cluster1-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster1.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                  createdDate: 2019-11-18T12:25:43.48
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 40
                  tier: Standard
                type: Microsoft.HDInsight/clusters
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
        Create Hadoop cluster with Azure Data Lake Storage Gen 2:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: "true"
                      restAuthCredential.password: "**********"
                      restAuthCredential.username: admin
                  kind: Hadoop
                clusterVersion: "3.6"
                computeProfile:
                  roles:
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      minInstanceCount: 1
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      minInstanceCount: 1
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: Small
                      minInstanceCount: 1
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          username: sshuser
                      targetInstanceCount: 3
                osType: Linux
                storageProfile:
                  storageaccounts:
                    - fileSystem: default
                      isDefault: true
                      key: storagekey
                      name: mystorage.dfs.core.windows.net
                tier: Standard
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zzy-test-rg/providers/Microsoft.HDInsight/clusters/cluster1
                location: East US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json
                    componentVersion:
                      Hadoop: "3.1"
                    kind: HADOOP
                  clusterState: Running
                  clusterVersion: 4.0.1000.1
                  computeProfile:
                    roles:
                      - hardwareProfile:
                          vmSize: standard_d12_v2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: standard_d4_v2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: standard_a2_v2
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 3
                  connectivityEndpoints:
                    - location: cluster1-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster1.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                  createdDate: 2019-11-18T12:25:43.48
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 40
                  tier: Standard
                type: Microsoft.HDInsight/clusters
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
        Create Hadoop on Linux cluster with SSH password:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: "true"
                      restAuthCredential.password: "**********"
                      restAuthCredential.username: admin
                  kind: Hadoop
                clusterVersion: "3.5"
                computeProfile:
                  roles:
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      minInstanceCount: 1
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      minInstanceCount: 1
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: Small
                      minInstanceCount: 1
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          username: sshuser
                      targetInstanceCount: 3
                osType: Linux
                storageProfile:
                  storageaccounts:
                    - container: containername
                      isDefault: true
                      key: storagekey
                      name: mystorage.blob.core.windows.net
                tier: Standard
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zzy-test-rg/providers/Microsoft.HDInsight/clusters/cluster1
                location: East US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json
                    componentVersion:
                      Hadoop: "3.1"
                    kind: HADOOP
                  clusterState: Running
                  clusterVersion: 4.0.1000.1
                  computeProfile:
                    roles:
                      - hardwareProfile:
                          vmSize: standard_d12_v2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: standard_d4_v2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: standard_a2_v2
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 3
                  connectivityEndpoints:
                    - location: cluster1-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster1.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                  createdDate: 2019-11-18T12:25:43.48
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 40
                  tier: Standard
                type: Microsoft.HDInsight/clusters
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
        Create Hadoop on Linux cluster with SSH public key:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: true
                      restAuthCredential.password: "**********"
                      restAuthCredential.username: admin
                  kind: Hadoop
                clusterVersion: "3.5"
                computeProfile:
                  roles:
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      minInstanceCount: 1
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          sshProfile:
                            publicKeys:
                              - certificateData: "**********"
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      minInstanceCount: 1
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          username: sshuser
                      targetInstanceCount: 4
                    - hardwareProfile:
                        vmSize: Small
                      minInstanceCount: 1
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          username: sshuser
                      targetInstanceCount: 3
                osType: Linux
                storageProfile:
                  storageaccounts:
                    - container: containername
                      isDefault: true
                      key: storagekey
                      name: mystorage.blob.core.windows.net
                tier: Standard
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zzy-test-rg/providers/Microsoft.HDInsight/clusters/cluster1
                location: East US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json
                    componentVersion:
                      Hadoop: "3.1"
                    kind: HADOOP
                  clusterState: Running
                  clusterVersion: 4.0.1000.1
                  computeProfile:
                    roles:
                      - hardwareProfile:
                          vmSize: standard_d12_v2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: standard_d4_v2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: standard_a2_v2
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 3
                  connectivityEndpoints:
                    - location: cluster1-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster1.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                  createdDate: 2019-11-18T12:25:43.48
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 40
                  tier: Standard
                type: Microsoft.HDInsight/clusters
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
        Create Kafka cluster with Kafka Rest Proxy:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  componentVersion:
                    Kafka: "2.1"
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: true
                      restAuthCredential.password: "**********"
                      restAuthCredential.username: admin
                  kind: kafka
                clusterVersion: "4.0"
                computeProfile:
                  roles:
                    - hardwareProfile:
                        vmSize: Large
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          username: sshuser
                      targetInstanceCount: 2
                    - dataDisksGroups:
                        - disksPerNode: 8
                      hardwareProfile:
                        vmSize: Large
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          username: sshuser
                      targetInstanceCount: 3
                    - hardwareProfile:
                        vmSize: Small
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          username: sshuser
                      targetInstanceCount: 3
                    - hardwareProfile:
                        vmSize: Standard_D4_v2
                      name: kafkamanagementnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          username: kafkauser
                      targetInstanceCount: 2
                kafkaRestProperties:
                  clientGroupInfo:
                    groupId: 00000000-0000-0000-0000-111111111111
                    groupName: Kafka security group name
                osType: Linux
                storageProfile:
                  storageaccounts:
                    - container: containername
                      isDefault: true
                      key: storagekey
                      name: mystorage.blob.core.windows.net
                tier: Standard
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: e1266b83-9bda-4797-a906-1bf82c8eb09a
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/rg1/providers/Microsoft.HDInsight/clusters/cluster1
                location: South Central US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/kafka-4.0.1000.1.1911212244.json
                    componentVersion:
                      Kafka: "2.1"
                    kind: KAFKA
                  clusterState: Running
                  clusterVersion: 4.0.1000.1
                  computeProfile:
                    roles:
                      - hardwareProfile:
                          vmSize: standard_d3_v2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 2
                      - dataDisksGroups:
                          - diskSizeGB: 1023
                            disksPerNode: 2
                            storageAccountType: Standard_LRS
                        hardwareProfile:
                          vmSize: standard_d3_v2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: standard_d4_v2
                        name: kafkamanagementnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: standard_a4_v2
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 3
                  connectivityEndpoints:
                    - location: cluster1-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster1.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                    - location: cluster1-kafkarest.azurehdinsight.net
                      name: KafkaRestProxyPublicEndpoint
                      port: 443
                      protocol: TCP
                  createdDate: 2019-11-25T03:43:23.663
                  kafkaRestProperties:
                    clientGroupInfo:
                      groupId: 00000000-0000-0000-0000-000000000000
                      groupName: security group name
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 52
                  tier: Standard
                tags: null
                type: Microsoft.HDInsight/clusters
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
        Create Secure Hadoop cluster:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: true
                      restAuthCredential.password: "**********"
                      restAuthCredential.username: admin
                  kind: Hadoop
                clusterVersion: "3.5"
                computeProfile:
                  roles:
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      minInstanceCount: 1
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          sshProfile:
                            publicKeys:
                              - certificateData: "**********"
                          username: sshuser
                      scriptActions: []
                      targetInstanceCount: 2
                      virtualNetworkProfile:
                        id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname
                        subnet: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet
                    - hardwareProfile:
                        vmSize: Standard_D3_V2
                      minInstanceCount: 1
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          sshProfile:
                            publicKeys:
                              - certificateData: "**********"
                          username: sshuser
                      scriptActions: []
                      targetInstanceCount: 4
                      virtualNetworkProfile:
                        id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname
                        subnet: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet
                    - hardwareProfile:
                        vmSize: Small
                      minInstanceCount: 1
                      name: zookeepernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          sshProfile:
                            publicKeys:
                              - certificateData: "**********"
                          username: sshuser
                      scriptActions: []
                      targetInstanceCount: 3
                      virtualNetworkProfile:
                        id: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname
                        subnet: /subscriptions/subId/resourceGroups/rg/providers/Microsoft.Network/virtualNetworks/vnetname/subnets/vnetsubnet
                osType: Linux
                securityProfile:
                  clusterUsersGroupDNs:
                    - hdiusers
                  directoryType: ActiveDirectory
                  domain: DomainName
                  domainUserPassword: "**********"
                  domainUsername: DomainUsername
                  ldapsUrls:
                    - ldaps://10.10.0.4:636
                  organizationalUnitDN: OU=Hadoop,DC=hdinsight,DC=test
                storageProfile:
                  storageaccounts:
                    - container: containername
                      isDefault: true
                      key: storage account key
                      name: mystorage.blob.core.windows.net
                tier: Premium
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zzy-test-rg/providers/Microsoft.HDInsight/clusters/cluster1
                location: East US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json
                    componentVersion:
                      Hadoop: "3.1"
                    kind: HADOOP
                  clusterState: Running
                  clusterVersion: 4.0.1000.1
                  computeProfile:
                    roles:
                      - hardwareProfile:
                          vmSize: standard_d12_v2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: standard_d4_v2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: standard_a2_v2
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 3
                  connectivityEndpoints:
                    - location: cluster1-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster1.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                  createdDate: 2019-11-18T12:25:43.48
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 40
                  tier: Standard
                type: Microsoft.HDInsight/clusters
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
        Create Spark on Linux Cluster with SSH password:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            parameters:
              properties:
                clusterDefinition:
                  componentVersion:
                    Spark: "2.0"
                  configurations:
                    gateway:
                      restAuthCredential.isEnabled: true
                      restAuthCredential.password: "**********"
                      restAuthCredential.username: admin
                  kind: Spark
                clusterVersion: "3.5"
                computeProfile:
                  roles:
                    - hardwareProfile:
                        vmSize: Standard_D12_V2
                      minInstanceCount: 1
                      name: headnode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          username: sshuser
                      targetInstanceCount: 2
                    - hardwareProfile:
                        vmSize: Standard_D4_V2
                      minInstanceCount: 1
                      name: workernode
                      osProfile:
                        linuxOperatingSystemProfile:
                          password: "**********"
                          username: sshuser
                      targetInstanceCount: 4
                osType: Linux
                storageProfile:
                  storageaccounts:
                    - container: containername
                      isDefault: true
                      key: storageapikey*
                      name: mystorage.blob.core.windows.net
                tier: Standard
              tags:
                key1: val1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                etag: fdf2a6e8-ce83-42cc-8c2d-0ceb11a370ff
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/zzy-test-rg/providers/Microsoft.HDInsight/clusters/cluster1
                location: East US
                name: cluster1
                properties:
                  clusterDefinition:
                    blueprint: https://blueprints.azurehdinsight.net/hadoop-4.0.1000.1.1910270459.json
                    componentVersion:
                      Hadoop: "3.1"
                    kind: HADOOP
                  clusterState: Running
                  clusterVersion: 4.0.1000.1
                  computeProfile:
                    roles:
                      - hardwareProfile:
                          vmSize: standard_d12_v2
                        name: headnode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 2
                      - hardwareProfile:
                          vmSize: standard_d4_v2
                        name: workernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 4
                      - hardwareProfile:
                          vmSize: standard_a2_v2
                        name: zookeepernode
                        osProfile:
                          linuxOperatingSystemProfile:
                            username: sshuser
                        targetInstanceCount: 3
                  connectivityEndpoints:
                    - location: cluster1-ssh.azurehdinsight.net
                      name: SSH
                      port: 22
                      protocol: TCP
                    - location: cluster1.azurehdinsight.net
                      name: HTTPS
                      port: 443
                      protocol: TCP
                  createdDate: 2019-11-18T12:25:43.48
                  osType: Linux
                  provisioningState: Succeeded
                  quotaInfo:
                    coresUsed: 40
                  tier: Standard
                type: Microsoft.HDInsight/clusters
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/getGatewaySettings":
    post:
      description: Gets the gateway settings for the specified cluster.
      operationId: Clusters_GetGatewaySettings
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK response definition.
          schema:
            $ref: "#/definitions/GatewaySettings"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Describes the format of Error response.
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Clusters
      x-ms-examples:
        Get HTTP settings:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              body:
                restAuthCredential.isEnabled: "true"
                restAuthCredential.password: "**********"
                restAuthCredential.username: hadoop
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/roles/{roleName}/resize":
    post:
      description: Resizes the specified HDInsight cluster to the specified size.
      operationId: Clusters_Resize
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - description: The constant value for the roleName
          enum:
            - workernode
          in: path
          name: roleName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: RoleName
        - $ref: "#/parameters/ApiVersionParameter"
        - description: The parameters for the resize operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ClusterResizeParameters"
      responses:
        "200":
          description: OK response definition.
        "202":
          description: Accepted response definition.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Describes the format of Error response.
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Clusters
      x-ms-examples:
        Resize the worker nodes for a Hadoop on Linux cluster:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            parameters:
              targetInstanceCount: 10
            resourceGroupName: rg1
            roleName: workernode
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/rotatediskencryptionkey":
    post:
      description: Rotate disk encryption key of the specified HDInsight cluster.
      operationId: Clusters_RotateDiskEncryptionKey
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: The parameters for the disk encryption operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ClusterDiskEncryptionParameters"
      responses:
        "200":
          description: OK response definition.
        "202":
          description: Accepted response definition.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Describes the format of Error response.
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Clusters
      x-ms-examples:
        Rotate disk encryption key of the specified HDInsight cluster:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            parameters:
              keyName: newkeyname
              keyVersion: newkeyversion
              vaultUri: https://newkeyvault.vault.azure.net/
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200": {}
            "202": {}
      x-ms-long-running-operation: true
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/updateGatewaySettings":
    post:
      description: Configures the gateway settings on the specified cluster.
      operationId: Clusters_UpdateGatewaySettings
      parameters:
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ClusterNameParameter"
        - $ref: "#/parameters/ApiVersionParameter"
        - description: The cluster configurations.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/UpdateGatewaySettingsParameters"
      responses:
        "200":
          description: OK response definition.
        "202":
          description: Accepted response definition
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Describes the format of Error response.
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Clusters
      x-ms-examples:
        Enable HTTP connectivity:
          parameters:
            api-version: 2018-06-01-preview
            clusterName: cluster1
            parameters:
              restAuthCredential.isEnabled: true
              restAuthCredential.password: "**********"
              restAuthCredential.username: hadoop
            resourceGroupName: rg1
            subscriptionId: subid
          responses:
            "200":
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.HDInsight/pathToOperationResult
      x-ms-long-running-operation: true
definitions:
  Autoscale:
    description: The autoscale request parameters
    properties:
      capacity:
        $ref: "#/definitions/AutoscaleCapacity"
        description: Parameters for load-based autoscale
      recurrence:
        $ref: "#/definitions/AutoscaleRecurrence"
        description: Parameters for schedule-based autoscale
  AutoscaleCapacity:
    description: The load-based autoscale request parameters
    properties:
      maxInstanceCount:
        description: The maximum instance count of the cluster
        format: int32
        type: integer
      minInstanceCount:
        description: The minimum instance count of the cluster
        format: int32
        type: integer
  AutoscaleRecurrence:
    description: Schedule-based autoscale request parameters
    properties:
      schedule:
        description: Array of schedule-based autoscale rules
        items:
          $ref: "#/definitions/AutoscaleSchedule"
        type: array
      timeZone:
        description: The time zone for the autoscale schedule times
        type: string
  AutoscaleSchedule:
    description: Parameters for a schedule-based autoscale rule, consisting of an array of days + a time and capacity
    properties:
      days:
        description: Days of the week for a schedule-based autoscale rule
        items:
          enum:
            - Monday
            - Tuesday
            - Wednesday
            - Thursday
            - Friday
            - Saturday
            - Sunday
          type: string
          x-ms-enum:
            modelAsString: false
            name: DaysOfWeek
        type: array
      timeAndCapacity:
        $ref: "#/definitions/AutoscaleTimeAndCapacity"
        description: Time and capacity for a schedule-based autoscale rule
  AutoscaleTimeAndCapacity:
    description: Time and capacity request parameters
    properties:
      maxInstanceCount:
        description: The maximum instance count of the cluster
        format: int32
        type: integer
      minInstanceCount:
        description: The minimum instance count of the cluster
        format: int32
        type: integer
      time:
        description: 24-hour time in the form xx:xx
        type: string
  ClientGroupInfo:
    description: The information of AAD security group.
    properties:
      groupId:
        description: The AAD security group id.
        type: string
      groupName:
        description: The AAD security group name.
        type: string
  Cluster:
    allOf:
      - $ref: "#/definitions/TrackedResource"
    description: The HDInsight cluster.
    properties:
      etag:
        description: The ETag for the resource
        type: string
      identity:
        $ref: "#/definitions/ClusterIdentity"
        description: The identity of the cluster, if configured.
      properties:
        $ref: "#/definitions/ClusterGetProperties"
        description: The properties of the cluster.
  ClusterCreateParametersExtended:
    description: The CreateCluster request parameters.
    properties:
      identity:
        $ref: "#/definitions/ClusterIdentity"
        description: The identity of the cluster, if configured.
      location:
        description: The location of the cluster.
        type: string
      properties:
        $ref: "#/definitions/ClusterCreateProperties"
        description: The cluster create parameters.
      tags:
        additionalProperties:
          type: string
        description: The resource tags.
        type: object
  ClusterCreateProperties:
    description: The cluster create parameters.
    properties:
      clusterDefinition:
        $ref: "#/definitions/ClusterDefinition"
        description: The cluster definition.
      clusterVersion:
        description: The version of the cluster.
        type: string
      computeProfile:
        $ref: "#/definitions/ComputeProfile"
        description: The compute profile.
      diskEncryptionProperties:
        $ref: "#/definitions/DiskEncryptionProperties"
        description: The disk encryption properties.
      kafkaRestProperties:
        $ref: "#/definitions/KafkaRestProperties"
        description: The cluster kafka rest proxy configuration.
      osType:
        description: The type of operating system.
        enum:
          - Windows
          - Linux
        type: string
        x-ms-enum:
          modelAsString: false
          name: OSType
      securityProfile:
        $ref: "#/definitions/SecurityProfile"
        description: The security profile.
      storageProfile:
        $ref: "#/definitions/StorageProfile"
        description: The storage profile.
      tier:
        description: The cluster tier.
        enum:
          - Standard
          - Premium
        type: string
        x-ms-enum:
          modelAsString: false
          name: Tier
  ClusterDefinition:
    description: The cluster definition.
    properties:
      blueprint:
        description: The link to the blueprint.
        type: string
      componentVersion:
        additionalProperties:
          type: string
        description: The versions of different services in the cluster.
        type: object
      configurations:
        description: The cluster configurations.
        type: object
      kind:
        description: The type of cluster.
        type: string
  ClusterDiskEncryptionParameters:
    description: The Disk Encryption Cluster request parameters.
    properties:
      keyName:
        description: Key name that is used for enabling disk encryption.
        type: string
      keyVersion:
        description: Specific key version that is used for enabling disk encryption.
        type: string
      vaultUri:
        description: Base key vault URI where the customers key is located eg. https://myvault.vault.azure.net
        type: string
  ClusterGetProperties:
    description: The properties of cluster.
    properties:
      clusterDefinition:
        $ref: "#/definitions/ClusterDefinition"
        description: The cluster definition.
      clusterState:
        description: The state of the cluster.
        type: string
      clusterVersion:
        description: The version of the cluster.
        type: string
      computeProfile:
        $ref: "#/definitions/ComputeProfile"
        description: The compute profile.
      connectivityEndpoints:
        description: The list of connectivity endpoints.
        items:
          $ref: "#/definitions/ConnectivityEndpoint"
        type: array
      createdDate:
        description: The date on which the cluster was created.
        type: string
      diskEncryptionProperties:
        $ref: "#/definitions/DiskEncryptionProperties"
        description: The disk encryption properties.
      errors:
        description: The list of errors.
        items:
          $ref: "#/definitions/Errors"
        type: array
      kafkaRestProperties:
        $ref: "#/definitions/KafkaRestProperties"
        description: The cluster kafka rest proxy configuration.
      osType:
        description: The type of operating system.
        enum:
          - Windows
          - Linux
        type: string
        x-ms-enum:
          modelAsString: false
          name: OSType
      provisioningState:
        description: The provisioning state, which only appears in the response.
        enum:
          - InProgress
          - Failed
          - Succeeded
          - Canceled
          - Deleting
        type: string
        x-ms-enum:
          modelAsString: false
          name: HDInsightClusterProvisioningState
      quotaInfo:
        $ref: "#/definitions/QuotaInfo"
        description: The quota information.
      securityProfile:
        $ref: "#/definitions/SecurityProfile"
        description: The security profile.
      tier:
        description: The cluster tier.
        enum:
          - Standard
          - Premium
        type: string
        x-ms-enum:
          modelAsString: false
          name: Tier
    required:
      - clusterDefinition
  ClusterIdentity:
    description: Identity for the cluster.
    properties:
      principalId:
        description: The principal id of cluster identity. This property will only be provided for a system assigned identity.
        readOnly: true
        type: string
      tenantId:
        description: The tenant id associated with the cluster. This property will only be provided for a system assigned identity.
        readOnly: true
        type: string
      type:
        description: The type of identity used for the cluster. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities.
        enum:
          - SystemAssigned
          - UserAssigned
          - SystemAssigned, UserAssigned
          - None
        type: string
        x-ms-enum:
          modelAsString: false
          name: ResourceIdentityType
      userAssignedIdentities:
        additionalProperties:
          properties:
            clientId:
              description: The client id of user assigned identity.
              readOnly: true
              type: string
            principalId:
              description: The principal id of user assigned identity.
              readOnly: true
              type: string
          type: object
        description: "The list of user identities associated with the cluster. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
        type: object
  ClusterListPersistedScriptActionsResult:
    description: The ListPersistedScriptActions operation response.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The list of Persisted Script Actions.
        items:
          $ref: "#/definitions/RuntimeScriptAction"
        type: array
  ClusterListResult:
    description: The List Cluster operation response.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        description: The list of Clusters.
        items:
          $ref: "#/definitions/Cluster"
        type: array
  ClusterListRuntimeScriptActionDetailResult:
    description: The list runtime script action detail response.
    properties:
      nextLink:
        description: The link (url) to the next page of results.
        readOnly: true
        type: string
      value:
        items:
          $ref: "#/definitions/RuntimeScriptActionDetail"
        readOnly: true
        type: array
  ClusterPatchParameters:
    description: The PatchCluster request parameters
    properties:
      tags:
        additionalProperties:
          type: string
        description: The resource tags.
        type: object
        x-nullable: true
  ClusterResizeParameters:
    description: The Resize Cluster request parameters.
    properties:
      targetInstanceCount:
        description: The target instance count for the operation.
        format: int32
        type: integer
  ComputeProfile:
    description: Describes the compute profile.
    properties:
      roles:
        description: The list of roles in the cluster.
        items:
          $ref: "#/definitions/Role"
        type: array
  ConnectivityEndpoint:
    description: The connectivity properties
    properties:
      location:
        description: The location of the endpoint.
        type: string
      name:
        description: The name of the endpoint.
        type: string
      port:
        description: The port to connect to.
        format: int32
        type: integer
      protocol:
        description: The protocol of the endpoint.
        type: string
  DataDisksGroups:
    description: The data disks groups for the role.
    properties:
      diskSizeGB:
        description: ReadOnly. The DiskSize in GB. Do not set this value.
        readOnly: true
        type: integer
      disksPerNode:
        description: The number of disks per node.
        format: int32
        type: integer
      storageAccountType:
        description: ReadOnly. The storage account type. Do not set this value.
        readOnly: true
        type: string
  DiskEncryptionProperties:
    description: The disk encryption properties
    properties:
      encryptionAlgorithm:
        description: Algorithm identifier for encryption, default RSA-OAEP.
        enum:
          - RSA-OAEP
          - RSA-OAEP-256
          - RSA1_5
        type: string
        x-ms-enum:
          modelAsString: true
          name: JsonWebKeyEncryptionAlgorithm
      keyName:
        description: Key name that is used for enabling disk encryption.
        type: string
      keyVersion:
        description: Specific key version that is used for enabling disk encryption.
        type: string
      msiResourceId:
        description: Resource ID of Managed Identity that is used to access the key vault.
        type: string
      vaultUri:
        description: Base key vault URI where the customers key is located eg. https://myvault.vault.azure.net
        type: string
  Errors:
    description: The error message associated with the cluster creation.
    properties:
      code:
        description: The error code.
        type: string
      message:
        description: The error message.
        type: string
  ExecuteScriptActionParameters:
    description: The parameters for the script actions to execute on a running cluster.
    properties:
      persistOnSuccess:
        description: Gets or sets if the scripts needs to be persisted.
        type: boolean
      scriptActions:
        description: The list of run time script actions.
        items:
          $ref: "#/definitions/RuntimeScriptAction"
        type: array
    required:
      - persistOnSuccess
  GatewaySettings:
    description: Gateway settings.
    properties:
      restAuthCredential.isEnabled:
        description: Indicates whether or not the gateway settings based authorization is enabled.
        readOnly: true
        type: string
        x-ms-client-name: isCredentialEnabled
      restAuthCredential.password:
        description: The gateway settings user password.
        readOnly: true
        type: string
        x-ms-client-name: password
      restAuthCredential.username:
        description: The gateway settings user name.
        readOnly: true
        type: string
        x-ms-client-name: userName
  HardwareProfile:
    description: The hardware profile.
    properties:
      vmSize:
        description: The size of the VM
        type: string
  KafkaRestProperties:
    description: The kafka rest proxy configuration which contains AAD security group information.
    properties:
      clientGroupInfo:
        $ref: "#/definitions/ClientGroupInfo"
        description: The information of AAD security group.
  LinuxOperatingSystemProfile:
    description: The ssh username, password, and ssh public key.
    properties:
      password:
        description: The password.
        type: string
      sshProfile:
        $ref: "#/definitions/SshProfile"
        description: The SSH profile.
      username:
        description: The username.
        type: string
  OperationResource:
    description: The azure async operation response.
    properties:
      error:
        $ref: "#/definitions/Errors"
        description: The operation error information.
      status:
        description: The async operation state.
        enum:
          - InProgress
          - Succeeded
          - Failed
        type: string
        x-ms-enum:
          modelAsString: false
          name: AsyncOperationState
  OsProfile:
    description: The Linux operation systems profile.
    properties:
      linuxOperatingSystemProfile:
        $ref: "#/definitions/LinuxOperatingSystemProfile"
        description: The Linux OS profile.
  ProxyResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: The resource model definition for a ARM proxy resource. It will have everything other than required location and tags
  QuotaInfo:
    description: The quota properties for the cluster.
    properties:
      coresUsed:
        description: The cores used by the cluster.
        format: int32
        type: integer
  Resource:
    description: The core properties of ARM resources
    properties:
      id:
        description: Fully qualified resource Id for the resource.
        readOnly: true
        type: string
      name:
        description: The name of the resource
        readOnly: true
        type: string
      type:
        description: The type of the resource.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  Role:
    description: Describes a role on the cluster.
    properties:
      autoscale:
        $ref: "#/definitions/Autoscale"
        description: The autoscale configurations.
        x-ms-client-name: autoscaleConfiguration
      dataDisksGroups:
        description: The data disks groups for the role.
        items:
          $ref: "#/definitions/DataDisksGroups"
        type: array
      hardwareProfile:
        $ref: "#/definitions/HardwareProfile"
        description: The hardware profile.
      minInstanceCount:
        description: The minimum instance count of the cluster.
        format: int32
        type: integer
      name:
        description: The name of the role.
        type: string
      osProfile:
        $ref: "#/definitions/OsProfile"
        description: The operating system profile.
      scriptActions:
        description: The list of script actions on the role.
        items:
          description: Describes a script action on role on the cluster.
          properties:
            name:
              description: The name of the script action.
              type: string
            parameters:
              description: The parameters for the script provided.
              type: string
            uri:
              description: The URI to the script.
              type: string
          required:
            - name
            - uri
            - parameters
        type: array
      targetInstanceCount:
        description: The instance count of the cluster.
        format: int32
        type: integer
      virtualNetworkProfile:
        $ref: "#/definitions/VirtualNetworkProfile"
        description: The virtual network profile.
  RuntimeScriptAction:
    description: Describes a script action on a running cluster.
    properties:
      applicationName:
        description: The application name of the script action, if any.
        readOnly: true
        type: string
      name:
        description: The name of the script action.
        type: string
      parameters:
        description: The parameters for the script
        type: string
      roles:
        description: The list of roles where script will be executed.
        items:
          type: string
        type: array
      uri:
        description: The URI to the script.
        type: string
    required:
      - name
      - uri
      - roles
  RuntimeScriptActionDetail:
    allOf:
      - $ref: "#/definitions/RuntimeScriptAction"
      - properties:
          debugInformation:
            description: The script action execution debug information.
            readOnly: true
            type: string
          endTime:
            description: The end time of script action execution.
            readOnly: true
            type: string
          executionSummary:
            description: The summary of script action execution result.
            items:
              $ref: "#/definitions/ScriptActionExecutionSummary"
            readOnly: true
            type: array
          operation:
            description: The reason why the script action was executed.
            readOnly: true
            type: string
          scriptExecutionId:
            description: The execution id of the script action.
            format: int64
            readOnly: true
            type: integer
          startTime:
            description: The start time of script action execution.
            readOnly: true
            type: string
          status:
            description: The current execution status of the script action.
            readOnly: true
            type: string
    description: The execution details of a script action.
  ScriptActionExecutionSummary:
    description: The execution summary of a script action.
    properties:
      instanceCount:
        description: The instance count for a given script action execution status.
        format: int32
        readOnly: true
        type: integer
      status:
        description: The status of script action execution.
        readOnly: true
        type: string
  SecurityProfile:
    description: The security profile which contains Ssh public key for the HDInsight cluster.
    properties:
      aaddsResourceId:
        description: The resource ID of the user's Azure Active Directory Domain Service.
        type: string
      clusterUsersGroupDNs:
        description: Optional. The Distinguished Names for cluster user groups
        items:
          type: string
        type: array
      directoryType:
        description: The directory type.
        enum:
          - ActiveDirectory
        type: string
        x-ms-enum:
          modelAsString: false
          name: DirectoryType
      domain:
        description: The organization's active directory domain.
        type: string
      domainUserPassword:
        description: The domain admin password.
        format: password
        type: string
      domainUsername:
        description: The domain user account that will have admin privileges on the cluster.
        type: string
      ldapsUrls:
        description: The LDAPS protocol URLs to communicate with the Active Directory.
        items:
          type: string
        type: array
      msiResourceId:
        description: User assigned identity that has permissions to read and create cluster-related artifacts in the user's AADDS.
        type: string
      organizationalUnitDN:
        description: The organizational unit within the Active Directory to place the cluster and service accounts.
        type: string
  SshProfile:
    description: The list of SSH public keys.
    properties:
      publicKeys:
        description: The list of SSH public keys.
        items:
          $ref: "#/definitions/SshPublicKey"
        type: array
  SshPublicKey:
    description: The SSH public key for the cluster nodes.
    properties:
      certificateData:
        description: The certificate for SSH.
        type: string
  StorageAccount:
    description: The storage Account.
    properties:
      container:
        description: The container in the storage account, only to be specified for WASB storage accounts.
        type: string
      fileSystem:
        description: The filesystem, only to be specified for Azure Data Lake Storage Gen 2.
        type: string
      isDefault:
        description: Whether or not the storage account is the default storage account.
        type: boolean
      key:
        description: The storage account access key.
        type: string
      msiResourceId:
        description: The managed identity (MSI) that is allowed to access the storage account, only to be specified for Azure Data Lake Storage Gen 2.
        type: string
      name:
        description: The name of the storage account.
        type: string
      resourceId:
        description: The resource ID of storage account, only to be specified for Azure Data Lake Storage Gen 2.
        type: string
  StorageProfile:
    description: The storage profile.
    properties:
      storageaccounts:
        description: The list of storage accounts in the cluster.
        items:
          $ref: "#/definitions/StorageAccount"
        type: array
  TrackedResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: The resource model definition for a ARM tracked top level resource
    properties:
      location:
        description: The Azure Region where the resource lives
        type: string
        x-ms-mutability:
          - read
          - create
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
        x-ms-mutability:
          - read
          - create
          - update
  UpdateGatewaySettingsParameters:
    description: The update gateway settings request parameters.
    properties:
      restAuthCredential.isEnabled:
        default: true
        description: Indicates whether or not the gateway settings based authorization is enabled.
        type: boolean
        x-ms-client-name: isCredentialEnabled
      restAuthCredential.password:
        description: The gateway settings user password.
        type: string
        x-ms-client-name: password
      restAuthCredential.username:
        description: The gateway settings user name.
        type: string
        x-ms-client-name: userName
  VirtualNetworkProfile:
    description: The virtual network properties.
    properties:
      id:
        description: The ID of the virtual network.
        type: string
      subnet:
        description: The name of the subnet.
        type: string
