swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: The Admin Gallery Management Client.
  title: GalleryManagementClient
  version: 2015-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/gallery/Microsoft.Gallery.Admin/preview/2015-04-01/GalleryItem.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: azsadmin-GalleryItem
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  GalleryItemNameParameter:
    description: Identity of the gallery item. Includes publisher name, item name, and may include version separated by period character.
    in: path
    name: galleryItemName
    required: true
    type: string
    x-ms-parameter-location: method
  GalleryItemUriPayloadParameter:
    description: The URI to the gallery item JSON file.
    in: body
    name: galleryItemUriPayload
    required: true
    schema:
      $ref: "#/definitions/GalleryItemUriPayload"
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/microsoft.gallery.admin/galleryItems":
    get:
      operationId: GalleryItems_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - default: 2016-05-01
          description: Client API Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/GalleryItemList"
      summary: Lists gallery items.
      tags:
        - GalleryItems
      x-ms-examples:
        Lists gallery items.:
          parameters:
            api-version: 2016-05-01
            subscriptionId: 0ff0bbbe-d68d-4314-8f68-80a808b5a6ec
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.AvailabilitySet-ARM.1.0.1
                    name: Microsoft.AvailabilitySet-ARM.1.0.1
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: AvailabilitySet
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.AvailabilitySet-ARM.1.0.1/DeploymentTemplates/AvailabilitySet.json
                      categoryIds:
                        - virtualMachine-ARM
                        - virtualMachineRecommended
                        - appInfra
                      changedTime: 2017-09-29T01:48:53.4565305Z
                      createdTime: 2017-09-29T01:48:53.4552495Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: AvailabilitySet
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          AvailabilitySet: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.AvailabilitySet-ARM.1.0.1/DeploymentTemplates/AvailabilitySet.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.AvailabilitySet-ARM.1.0.1/UIDefinition.json
                      description: "<p>An availability set is a group of virtual machines that are deployed across\r

                        \   fault domains and update domains. Availability sets make sure that your application is not affected by single points of failure,\r

                        \    like the network switch or the power unit of a rack of servers.</p>"
                      filters: []
                      iconFileUris:
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.AvailabilitySet-ARM.1.0.1/icons/Large.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.AvailabilitySet-ARM.1.0.1/icons/Medium.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.AvailabilitySet-ARM.1.0.1/icons/Small.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.AvailabilitySet-ARM.1.0.1/icons/Wide.png
                      identity: Microsoft.AvailabilitySet-ARM.1.0.1
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.AvailabilitySet-ARM.1.0.1/icons/Small.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.AvailabilitySet-ARM.1.0.1/icons/Medium.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.AvailabilitySet-ARM.1.0.1/icons/Large.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.AvailabilitySet-ARM.1.0.1/icons/Wide.png
                      itemDisplayName: Availability Set
                      itemName: AvailabilitySet-ARM
                      itemType: GalleryItem
                      links:
                        - displayName: Documentation
                          id: "0"
                          uri: https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-how-to-configure-availability/
                      longSummary: "An availability set is a group of virtual machines that are deployed across\r

                        \   fault domains and update domains."
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft
                      screenshotUris: []
                      summary: "An availability set is a group of virtual machines that are deployed across\r

                        \   fault domains and update domains."
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.AvailabilitySet-ARM.1.0.1/UIDefinition.json
                      version: 1.0.1
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.Connection-ARM.1.2.2
                    name: Microsoft.Connection-ARM.1.2.2
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: IPsecConnection.json
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Connection-ARM.1.2.2/DeploymentTemplates/IPsecConnection.json
                        - name: Vnet2VnetConnection
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Connection-ARM.1.2.2/DeploymentTemplates/Vnet2VnetConnection.json
                      categoryIds:
                        - Networking
                      changedTime: 2017-09-29T01:48:55.6210659Z
                      createdTime: 2017-09-29T01:48:55.6198316Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: IPsecConnection.json
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          IPsecConnection.json: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Connection-ARM.1.2.2/DeploymentTemplates/IPsecConnection.json
                          Vnet2VnetConnection: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Connection-ARM.1.2.2/DeploymentTemplates/Vnet2VnetConnection.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Connection-ARM.1.2.2/UIDefinition.json
                      description: <p>A VPN connection securely connects two Azure virtual networks, or a virtual network and your local network using Internet Protocol security (IPsec). It can also be used to connect a virtual network to an ExpressRoute circuit. Traffic between the two networks is encrypted by one gateway and decrypted by the other, to protect data when transmitted via the Internet.</p><p>A connection consists of different components depending on the connection type. When configuring a connection between two virtual networks, also known as a VNet-to-VNet connection, each network contains a virtual network gateway. The two virtual networks can be in different regions and subscriptions, and different deployment models. For example, use a VNet-to-VNet connection to connect a Classic virtual network to one deployed using Resource Manager.</p><p>When configuring a connection between a virtual network and your local network, also known as a site-to-site connection, the virtual network contains a virtual network gateway for the Azure side of the VPN connection, and a local network gateway represents the hardware or software VPN device on your side. The connection wizard creates the right resources depending on the connection type.</p><p>Microsoft Azure provides a <a href='https://azure.microsoft.com/support/legal/sla/vpn-gateway' target='_blank'>99.9% uptime SLA</a> for virtual network gateways.</p>
                      filters: []
                      iconFileUris:
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Connection-ARM.1.2.2/Icons/Large.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Connection-ARM.1.2.2/Icons/Medium.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Connection-ARM.1.2.2/Icons/Small.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Connection-ARM.1.2.2/Icons/Wide.png
                      identity: Microsoft.Connection-ARM.1.2.2
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Connection-ARM.1.2.2/Icons/Small.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Connection-ARM.1.2.2/Icons/Medium.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Connection-ARM.1.2.2/Icons/Large.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Connection-ARM.1.2.2/Icons/Wide.png
                      itemDisplayName: Connection
                      itemName: Connection-ARM
                      itemType: GalleryItem
                      links:
                        - displayName: Service overview
                          id: "0"
                          uri: https://azure.microsoft.com/services/vpn-gateway/
                        - displayName: Documentation
                          id: "1"
                          uri: https://azure.microsoft.com/documentation/services/vpn-gateway/
                        - displayName: Pricing details
                          id: "2"
                          uri: https://azure.microsoft.com/pricing/details/vpn-gateway/
                      longSummary: Set up a VPN connection between two virtual networks, or a virtual network and your local network.
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft
                      screenshotUris: []
                      summary: Set up a VPN connection between two virtual networks, or a virtual network and your local network.
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Connection-ARM.1.2.2/UIDefinition.json
                      version: 1.2.2
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.CustomScriptExtension-arm.2.0.10
                    name: Microsoft.CustomScriptExtension-arm.2.0.10
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: MainTemplate
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.CustomScriptExtension-arm.2.0.10/DeploymentTemplates/MainTemplate.json
                        - name: CreateUiDefinition
                          type: custom
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.CustomScriptExtension-arm.2.0.10/DeploymentTemplates/CreateUiDefinition.json
                      categoryIds:
                        - compute-vmextension-windows
                      changedTime: 2017-09-29T01:48:54.0711822Z
                      createdTime: 2017-09-29T01:48:54.0702274Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: MainTemplate
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          CreateUiDefinition: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.CustomScriptExtension-arm.2.0.10/DeploymentTemplates/CreateUiDefinition.json
                          MainTemplate: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.CustomScriptExtension-arm.2.0.10/DeploymentTemplates/MainTemplate.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.CustomScriptExtension-arm.2.0.10/UiDefinition.json
                      description: <p>Custom Script Extension is a tool that can be used to automatically launch and execute VM customization tasks post configuration. When this Extension is added to a Virtual Machine, it can download Powershell scripts and files from Azure storage and launch a Powershell script on the VM which in turn can download additional software components. Custom Script Extension tasks can also be automated using the Azure Powershell cmdlets.</p>
                      filters: []
                      iconFileUris:
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.CustomScriptExtension-arm.2.0.10/icons/Large.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.CustomScriptExtension-arm.2.0.10/icons/Medium.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.CustomScriptExtension-arm.2.0.10/icons/Small.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.CustomScriptExtension-arm.2.0.10/icons/Wide.png
                      identity: Microsoft.CustomScriptExtension-arm.2.0.10
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.CustomScriptExtension-arm.2.0.10/icons/Small.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.CustomScriptExtension-arm.2.0.10/icons/Medium.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.CustomScriptExtension-arm.2.0.10/icons/Large.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.CustomScriptExtension-arm.2.0.10/icons/Wide.png
                      itemDisplayName: Custom Script Extension
                      itemName: CustomScriptExtension-arm
                      itemType: GalleryItem
                      links:
                        - displayName: Powershell cmdlets
                          id: "0"
                          uri: https://msdn.microsoft.com/en-us/library/mt603584.aspx
                      longSummary: Custom Script handler extension for Windows
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft Corp.
                      screenshotUris: []
                      summary: Custom Script handler extension for Windows
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.CustomScriptExtension-arm.2.0.10/UiDefinition.json
                      version: 2.0.10
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.DSC-arm.2.0.7
                    name: Microsoft.DSC-arm.2.0.7
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: MainTemplate
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DSC-arm.2.0.7/DeploymentTemplates/MainTemplate.json
                        - name: CreateUiDefinition
                          type: custom
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DSC-arm.2.0.7/DeploymentTemplates/CreateUiDefinition.json
                      categoryIds:
                        - compute-vmextension-windows
                      changedTime: 2017-09-29T01:48:54.6618173Z
                      createdTime: 2017-09-29T01:48:54.6612587Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: MainTemplate
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          CreateUiDefinition: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DSC-arm.2.0.7/DeploymentTemplates/CreateUiDefinition.json
                          MainTemplate: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DSC-arm.2.0.7/DeploymentTemplates/MainTemplate.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DSC-arm.2.0.7/UIDefinition.json
                      description: "<p>DSC is a management platform in Windows PowerShell that enables deploying and managing configuration data for software services and managing the environment in which these services run.\r

                        DSC provides a set of Windows PowerShell language extensions, new Windows PowerShell cmdlets, and resources that you can use to declaratively specify how you want your software environment to be configured. It also provides a means to maintain and manage existing configurations.</p>"
                      filters: []
                      iconFileUris:
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DSC-arm.2.0.7/icons/Large.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DSC-arm.2.0.7/icons/Medium.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DSC-arm.2.0.7/icons/Small.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DSC-arm.2.0.7/icons/Wide.png
                      identity: Microsoft.DSC-arm.2.0.7
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DSC-arm.2.0.7/icons/Small.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DSC-arm.2.0.7/icons/Medium.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DSC-arm.2.0.7/icons/Large.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DSC-arm.2.0.7/icons/Wide.png
                      itemDisplayName: PowerShell Desired State Configuration
                      itemName: DSC-arm
                      itemType: GalleryItem
                      links:
                        - displayName: Learn more about PowerShell DSC
                          id: "0"
                          uri: http://technet.microsoft.com/library/dn249912.aspx
                      longSummary: PowerShell Desired State Configuration
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft Corp.
                      screenshotUris: []
                      summary: PowerShell Desired State Configuration
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DSC-arm.2.0.7/UIDefinition.json
                      version: 2.0.7
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.DnsZone-ARM.1.0.1
                    name: Microsoft.DnsZone-ARM.1.0.1
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: DnsZone
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DnsZone-ARM.1.0.1/DeploymentTemplates/DnsZone.json
                      categoryIds:
                        - networking
                      changedTime: 2017-09-29T01:48:55.9490242Z
                      createdTime: 2017-09-29T01:48:55.9476455Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: DnsZone
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          DnsZone: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DnsZone-ARM.1.0.1/DeploymentTemplates/DnsZone.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DnsZone-ARM.1.0.1/UIDefinition.json
                      description: <p>A DNS zone is used to host the DNS records for a particular domain. For example, the domain 'contoso.com' may contain a number of DNS records such as 'mail.contoso.com' (for a mail server) and 'www.contoso.com' (for a web site).  Azure DNS allows you to host your DNS zone and manage your DNS records, and provides name servers that will respond to DNS queries from end users with the DNS records that you create.</p>
                      filters: []
                      iconFileUris:
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DnsZone-ARM.1.0.1/Icons/Large.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DnsZone-ARM.1.0.1/Icons/Medium.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DnsZone-ARM.1.0.1/Icons/Small.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DnsZone-ARM.1.0.1/Icons/Wide.png
                      identity: Microsoft.DnsZone-ARM.1.0.1
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DnsZone-ARM.1.0.1/Icons/Small.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DnsZone-ARM.1.0.1/Icons/Medium.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DnsZone-ARM.1.0.1/Icons/Large.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DnsZone-ARM.1.0.1/Icons/Wide.png
                      itemDisplayName: DNS zone
                      itemName: DnsZone-ARM
                      itemType: GalleryItem
                      links:
                        - displayName: Service overview
                          id: "0"
                          uri: https://azure.microsoft.com/services/dns/
                        - displayName: Documentation
                          id: "1"
                          uri: https://azure.microsoft.com/documentation/services/dns/
                      longSummary: A DNS zone hosts DNS records for a domain.
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft
                      screenshotUris: []
                      summary: A DNS zone hosts DNS records for a domain.
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.DnsZone-ARM.1.0.1/UIDefinition.json
                      version: 1.0.1
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.KeyVault.1.0.11
                    name: Microsoft.KeyVault.1.0.11
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: CreateResource
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.KeyVault.1.0.11/DeploymentTemplates/CreateResource.json
                      categoryIds:
                        - Security
                      changedTime: 2017-09-29T01:48:55.2741748Z
                      createdTime: 2017-09-29T01:48:55.2729537Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: CreateResource
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          CreateResource: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.KeyVault.1.0.11/DeploymentTemplates/CreateResource.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.KeyVault.1.0.11/UIDefinition.json
                      description: <b>Enhance data protection and compliance</b><br/>Secure key management is essential to protecting data in the cloud. With Azure Key Vault, you can safeguard encryption keys and application secrets like passwords using keys stored in hardware security modules (HSMs). For added assurance, you can import or generate your encryption keys in HSMs. If you choose to do this, Microsoft will process your keys in FIPS 140-2 Level 2 validated HSMs (hardware and firmware). Key Vault is designed so that Microsoft does not see or extract your keys. Monitor and audit key use with Azure logging&ndash;pipe logs into Azure HDInsight or your SIEM for additional analysis and threat detection.<br/><br/><b>All of the control, none of the work</b><br/>With Key Vault, there's no need to provision, configure, patch, and maintain HSMs and key management software. You can provision new vaults and keys (or import keys from your own HSMs) in minutes and centrally manage keys, secrets, and policies. You maintain control over your keys&ndash;simply grant permission for your own and third-party applications to use them as needed. Applications never have direct access to keys. Developers easily manage keys used for Dev/Test and migrate seamlessly to production keys managed by security operations.<br/><br/><b>Boost performance and achieve global scale</b><br/>Improve performance and reduce the latency of cloud applications by storing cryptographic keys in the cloud instead of on-premises. Key Vault rapidly scales to meet the cryptographic needs of your cloud applications and match peak demand without the cost associated with deploying dedicated HSMs. You can achieve global redundancy by provisioning vaults in Azure global datacenters&ndash;keep a copy in your own HSMs for added durability.
                      filters: []
                      iconFileUris:
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.KeyVault.1.0.11/Icons/KeyVault_115x115.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.KeyVault.1.0.11/Icons/KeyVault_90x90.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.KeyVault.1.0.11/Icons/KeyVault_40x40.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.KeyVault.1.0.11/Icons/KeyVault_255x115.png
                      identity: Microsoft.KeyVault.1.0.11
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.KeyVault.1.0.11/Icons/KeyVault_40x40.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.KeyVault.1.0.11/Icons/KeyVault_90x90.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.KeyVault.1.0.11/Icons/KeyVault_115x115.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.KeyVault.1.0.11/Icons/KeyVault_255x115.png
                            - id: "0"
                              type: screenshot
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.KeyVault.1.0.11/Screenshots/keyvaultexample.png
                      itemDisplayName: Key Vault
                      itemName: KeyVault
                      itemType: GalleryItem
                      links:
                        - displayName: Documentation
                          id: "0"
                          uri: https://azure.microsoft.com/documentation/services/key-vault/
                        - displayName: Service Overview
                          id: "1"
                          uri: https://azure.microsoft.com/services/key-vault/
                        - displayName: Pricing Details
                          id: "2"
                          uri: https://azure.microsoft.com/pricing/details/key-vault/
                      longSummary: With Key Vault, there is no need to provision, configure, patch, and maintain Hardware Security Modules (HSMs) and key management software. You can provision new vaults and encryption keys (or import keys from your own HSMs) in minutes and centrally manage your encryption keys, secrets, and policies.
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft
                      screenshotUris:
                        - https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.KeyVault.1.0.11/Screenshots/keyvaultexample.png
                      summary: Safeguard cryptographic keys and other secrets used by cloud apps and services.
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.KeyVault.1.0.11/UIDefinition.json
                      version: 1.0.11
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.LoadBalancer-ARM.1.0.2
                    name: Microsoft.LoadBalancer-ARM.1.0.2
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: LoadBalancer
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LoadBalancer-ARM.1.0.2/DeploymentTemplates/LoadBalancer.json
                      categoryIds:
                        - Networking
                      changedTime: 2017-09-29T01:48:56.3625091Z
                      createdTime: 2017-09-29T01:48:56.3612295Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: LoadBalancer
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          LoadBalancer: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LoadBalancer-ARM.1.0.2/DeploymentTemplates/LoadBalancer.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LoadBalancer-ARM.1.0.2/UIDefinition.json
                      description: <p>Azure load balancer is a layer 4 load balancer that distributes incoming traffic among healthy virtual machine instances. Load balancers uses a hash-based distribution algorithm. By default, it uses a 5-tuple (source IP, source port, destination IP, destination port, protocol type) hash to map traffic to available servers. Load balancers can either be internet-facing where it is accessible via public IP addresses, or internal where it is only accessible from a virtual network. Azure load balancers also support Network Address Translation (NAT) to route traffic between public and private IP addresses.</p><p>You can configure the load balancer to:<ul><li>Load balance incoming traffic across your virtual machines.</li><li>Forward traffic to and from a specific virtual machine using NAT rules.</li></ul></p>
                      filters: []
                      iconFileUris:
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LoadBalancer-ARM.1.0.2/Icons/Large.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LoadBalancer-ARM.1.0.2/Icons/Medium.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LoadBalancer-ARM.1.0.2/Icons/Small.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LoadBalancer-ARM.1.0.2/Icons/Wide.png
                      identity: Microsoft.LoadBalancer-ARM.1.0.2
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LoadBalancer-ARM.1.0.2/Icons/Small.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LoadBalancer-ARM.1.0.2/Icons/Medium.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LoadBalancer-ARM.1.0.2/Icons/Large.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LoadBalancer-ARM.1.0.2/Icons/Wide.png
                      itemDisplayName: Load Balancer
                      itemName: LoadBalancer-ARM
                      itemType: GalleryItem
                      links:
                        - displayName: Service overview
                          id: "0"
                          uri: https://azure.microsoft.com/documentation/articles/load-balancer-overview/
                        - displayName: Documentation
                          id: "1"
                          uri: https://azure.microsoft.com/documentation/articles/load-balancer-arm/
                      longSummary: A load balancer that distributes incoming traffic among backend virtual machine instances.
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft
                      screenshotUris: []
                      summary: A load balancer that distributes incoming traffic among backend virtual machine instances.
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LoadBalancer-ARM.1.0.2/UIDefinition.json
                      version: 1.0.2
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.LocalNetworkGateway-ARM.1.0.3
                    name: Microsoft.LocalNetworkGateway-ARM.1.0.3
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: LocalNetworkGateway
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LocalNetworkGateway-ARM.1.0.3/DeploymentTemplates/LocalNetworkGateway.json
                      categoryIds:
                        - Networking
                      changedTime: 2017-09-29T01:48:56.7056258Z
                      createdTime: 2017-09-29T01:48:56.7043475Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: LocalNetworkGateway
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          LocalNetworkGateway: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LocalNetworkGateway-ARM.1.0.3/DeploymentTemplates/LocalNetworkGateway.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LocalNetworkGateway-ARM.1.0.3/UIDefinition.json
                      description: <p>A local network gateway represents the hardware or software VPN device in your local network. Use this with a <a href='https://portal.azure.com/#create/Microsoft.Connection-ARM' target='_blank'>connection</a> to set up a site-to-site VPN connection between an Azure virtual network and your local network.</p><p>There are no additional charges for creating local network gateways in Microsoft Azure.</p>
                      filters: []
                      iconFileUris:
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LocalNetworkGateway-ARM.1.0.3/Icons/Large.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LocalNetworkGateway-ARM.1.0.3/Icons/Medium.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LocalNetworkGateway-ARM.1.0.3/Icons/Small.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LocalNetworkGateway-ARM.1.0.3/Icons/Wide.png
                      identity: Microsoft.LocalNetworkGateway-ARM.1.0.3
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LocalNetworkGateway-ARM.1.0.3/Icons/Small.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LocalNetworkGateway-ARM.1.0.3/Icons/Medium.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LocalNetworkGateway-ARM.1.0.3/Icons/Large.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LocalNetworkGateway-ARM.1.0.3/Icons/Wide.png
                      itemDisplayName: Local network gateway
                      itemName: LocalNetworkGateway-ARM
                      itemType: GalleryItem
                      links:
                        - displayName: Service overview
                          id: "0"
                          uri: https://azure.microsoft.com/services/vpn-gateway/
                        - displayName: Documentation
                          id: "1"
                          uri: https://azure.microsoft.com/documentation/services/vpn-gateway/
                      longSummary: Represents the VPN device in your local network and used to set up a site-to-site VPN connection.
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft
                      screenshotUris: []
                      summary: Represents the VPN device in your local network and used to set up a site-to-site VPN connection.
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.LocalNetworkGateway-ARM.1.0.3/UIDefinition.json
                      version: 1.0.3
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.NetworkInterface-ARM.1.0.4
                    name: Microsoft.NetworkInterface-ARM.1.0.4
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: NetworkInterface
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkInterface-ARM.1.0.4/DeploymentTemplates/NetworkInterface.json
                      categoryIds:
                        - Networking
                      changedTime: 2017-09-29T01:48:57.060099Z
                      createdTime: 2017-09-29T01:48:57.0588248Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: NetworkInterface
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          NetworkInterface: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkInterface-ARM.1.0.4/DeploymentTemplates/NetworkInterface.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkInterface-ARM.1.0.4/UIDefinition.json
                      description: <p>Network Interfaces are used to configure IP addresses, Virtual Network settings, and DNS servers that will be assigned to a Virtual Machine. Microsoft Azure supports attaching multiple Network Interfaces (NICs) to a Virtual Machine for additional flexibility in network connectivity options.</p>
                      filters: []
                      iconFileUris:
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkInterface-ARM.1.0.4/Icons/Large.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkInterface-ARM.1.0.4/Icons/Medium.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkInterface-ARM.1.0.4/Icons/Small.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkInterface-ARM.1.0.4/Icons/Wide.png
                      identity: Microsoft.NetworkInterface-ARM.1.0.4
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkInterface-ARM.1.0.4/Icons/Small.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkInterface-ARM.1.0.4/Icons/Medium.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkInterface-ARM.1.0.4/Icons/Large.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkInterface-ARM.1.0.4/Icons/Wide.png
                      itemDisplayName: Network interface
                      itemName: NetworkInterface-ARM
                      itemType: GalleryItem
                      links:
                        - displayName: Services overview
                          id: "0"
                          uri: http://azure.microsoft.com/en-us/services/
                        - displayName: Documentation
                          id: "1"
                          uri: http://azure.microsoft.com/en-us/get-started/
                      longSummary: Create a Microsoft Azure Network Interface that allows you to connect a Virtual Machine to a Virtual Network.
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft
                      screenshotUris: []
                      summary: Create a Microsoft Azure Network Interface that allows you to connect a Virtual Machine to a Virtual Network.
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkInterface-ARM.1.0.4/UIDefinition.json
                      version: 1.0.4
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.NetworkSecurityGroup-ARM.1.0.4
                    name: Microsoft.NetworkSecurityGroup-ARM.1.0.4
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: NetworkSecurityGroup
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkSecurityGroup-ARM.1.0.4/DeploymentTemplates/NetworkSecurityGroup.json
                      categoryIds:
                        - Networking
                      changedTime: 2017-09-29T01:48:57.3938896Z
                      createdTime: 2017-09-29T01:48:57.3926125Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: NetworkSecurityGroup
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          NetworkSecurityGroup: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkSecurityGroup-ARM.1.0.4/DeploymentTemplates/NetworkSecurityGroup.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkSecurityGroup-ARM.1.0.4/UIDefinition.json
                      description: "<p>A network security group is a layer of security that acts as a virtual firewall for controlling traffic in and out of virtual machines (via network interfaces) and subnets. It contains a set of security rules that allow or deny inbound and outbound traffic using the following 5-tuple: protocol, source IP address range, source port range, destination IP address range, and destination port range. A network security group can be associated to multiple network interfaces and subnets, but each network interface or subnet can be associated to only one network security group.</p><p>Security rules are evaluated in priority-order, starting with the lowest number rule, to determine whether traffic is allowed in or out of the network interfaces or subnets associated with the network security group. A network security group has separate inbound and outbound rules, and each rule can allow or deny traffic. Each network security group has a set of default security rules, which allows all traffic within a virtual network and outbound traffic to the internet. There is also a rule to allow traffic originating from Azure's load balancer probe. All other traffic is automatically denied. These default rules can be overriden by specifying rules with a lower priority number.</p><p>In the Classic deployment model, endpoints - with access control lists (ACLs) - were used to control traffic in and out of virtual machines. In the Resource Manager deployment model, traffic can be controlled by using either network security groups or load balancers with inbound NAT rules. While inbound NAT rules are functionally equivalent to endpoints, Azure recommends using network security groups for new deployments where NAT features (like port translation) are not required.</p><p>There are no additional charges for creating network security groups in Microsoft Azure.</p>"
                      filters: []
                      iconFileUris:
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkSecurityGroup-ARM.1.0.4/Icons/Large.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkSecurityGroup-ARM.1.0.4/Icons/Medium.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkSecurityGroup-ARM.1.0.4/Icons/Small.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkSecurityGroup-ARM.1.0.4/Icons/Wide.png
                      identity: Microsoft.NetworkSecurityGroup-ARM.1.0.4
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkSecurityGroup-ARM.1.0.4/Icons/Small.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkSecurityGroup-ARM.1.0.4/Icons/Medium.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkSecurityGroup-ARM.1.0.4/Icons/Large.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkSecurityGroup-ARM.1.0.4/Icons/Wide.png
                      itemDisplayName: Network security group
                      itemName: NetworkSecurityGroup-ARM
                      itemType: GalleryItem
                      links:
                        - displayName: Service overview
                          id: "0"
                          uri: https://azure.microsoft.com/documentation/articles/virtual-networks-nsg/
                        - displayName: Documentation
                          id: "1"
                          uri: https://azure.microsoft.com/documentation/articles/virtual-networks-create-nsg-arm-pportal/
                      longSummary: A virtual firewall to control inbound and outbound traffic for virtual machines and subnets.
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft
                      screenshotUris: []
                      summary: A virtual firewall to control inbound and outbound traffic for virtual machines and subnets.
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.NetworkSecurityGroup-ARM.1.0.4/UIDefinition.json
                      version: 1.0.4
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.Offer.1.0.0
                    name: Microsoft.Offer.1.0.0
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: Template
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/DeploymentTemplates/Template.json
                        - name: AdminOfferDefault
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/DeploymentTemplates/AdminOfferDefault.json
                        - name: AdminOfferWithNewPlans
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/DeploymentTemplates/AdminOfferWithNewPlans.json
                        - name: ResellerOfferDefault
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/DeploymentTemplates/ResellerOfferDefault.json
                      categoryIds:
                        - subscriptionMgmt
                      changedTime: 2017-09-29T01:48:46.0665558Z
                      createdTime: 2017-09-29T01:48:46.0653402Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: Template
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          AdminOfferDefault: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/DeploymentTemplates/AdminOfferDefault.json
                          AdminOfferWithNewPlans: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/DeploymentTemplates/AdminOfferWithNewPlans.json
                          ResellerOfferDefault: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/DeploymentTemplates/ResellerOfferDefault.json
                          Template: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/DeploymentTemplates/Template.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/UIDefinition.json
                      description: "<p>Tenants subscribe to offers. Offers can be private or publicly visible to the tenants. Offers can have both base plans and add-on plans; base plans determine default quotas available to the tenant subscription, while add-on plans are opt-in for the tenant at a later time.</p>\r

                        Common Offers:\r

                        <ul>\r

                        <li>Pay-as-you-go   To charge your customers for only what they use, create a plan with maximum quota limits for each cloud service, and add it as a base plan for the offer. Tenants will be able to use up to their quota and can be charged based on their subscription s usage data.</li>\r

                        <li>Pre-paid   Include base plans with any default quotas to be provided to the tenant as part of subscribing to the offer. Use add-on plans to offer services that can be added at a later time.</li>\r

                        <li>Private offers   To create an offer for a specific tenant that is not visible to other tenants, create the personalized offer and keep it in a private state. You assign tenant subscriptions instead of providing it through self-service sign up.</li>\r

                        </ul>"
                      filters: []
                      iconFileUris:
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/Icons/Large.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/Icons/Medium.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/Icons/Small.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/Icons/Wide.png
                      identity: Microsoft.Offer.1.0.0
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/Icons/Small.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/Icons/Medium.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/Icons/Large.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/Icons/Wide.png
                      itemDisplayName: Offer
                      itemName: Offer
                      itemType: GalleryItem
                      links: []
                      longSummary: Your tenants subscribe to offers. Create offers to reflect different billing models that your tenants can opt into. Each offer can have default quotas and opt-in quotas.
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft Corporation
                      screenshotUris: []
                      summary: Create an offer to deliver cloud services to your tenants.
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Offer.1.0.0/UIDefinition.json
                      version: 1.0.0
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.Plan.1.0.0
                    name: Microsoft.Plan.1.0.0
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: Template
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Plan.1.0.0/DeploymentTemplates/Template.json
                      categoryIds:
                        - subscriptionMgmt
                      changedTime: 2017-09-29T01:48:47.3002761Z
                      createdTime: 2017-09-29T01:48:47.2990718Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: Template
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          Template: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Plan.1.0.0/DeploymentTemplates/Template.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Plan.1.0.0/UIDefinition.json
                      description: "<p>When creating a plan, you must select which cloud services will be made available to the tenant within the plan. For each service selected, you also can specify which regions the service will be available in and what limits will be applied on consumption of the service (quotas).</p> \r

                        \   <p> Plans are then made available to tenants by including them in offers. The base plans of an offer determine default quotas available to the tenant subscription, while add-on plans are opt-in for the tenant at a later time. </p>\r

                        \   <p> Not seeing a service that you want to offer? Make sure to register and configure at least one region of each resource provider that you wish to include in your plans.</p>"
                      filters: []
                      iconFileUris:
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Plan.1.0.0/Icons/Large.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Plan.1.0.0/Icons/Medium.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Plan.1.0.0/Icons/Small.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Plan.1.0.0/Icons/Wide.png
                      identity: Microsoft.Plan.1.0.0
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Plan.1.0.0/Icons/Small.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Plan.1.0.0/Icons/Medium.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Plan.1.0.0/Icons/Large.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Plan.1.0.0/Icons/Wide.png
                      itemDisplayName: Plan
                      itemName: Plan
                      itemType: GalleryItem
                      links: []
                      longSummary: Plans bundle cloud services together to be offered to tenants. A plan can always be modified at a later time to add additional services or modify quotas for any service.
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft Corporation
                      screenshotUris: []
                      summary: Assign regions and quotas for your cloud services in a plan to offer to your tenants.
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Plan.1.0.0/UIDefinition.json
                      version: 1.0.0
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.PublicIPAddress-ARM.1.0.2
                    name: Microsoft.PublicIPAddress-ARM.1.0.2
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: PublicIPAddress
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPAddress-ARM.1.0.2/DeploymentTemplates/PublicIPAddress.json
                      categoryIds:
                        - Networking
                      changedTime: 2017-09-29T01:48:57.7340083Z
                      createdTime: 2017-09-29T01:48:57.7327254Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: PublicIPAddress
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          PublicIPAddress: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPAddress-ARM.1.0.2/DeploymentTemplates/PublicIPAddress.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPAddress-ARM.1.0.2/UIDefinition.json
                      description: <p>A public IP address is a dynamic or static IP address that you can assign to virtual machines, load balancers, and virtual network gateways to communicate with the Internet. Your public IP addresses are associated with your Azure subscription, and can be moved freely between Azure resources. The address of dynamic public IP address may change when dissociated and moved between resources, or when the associated resource is shutdown or deleted. You can use a static public IP address to ensure that the assigned address remains the same, even if the associated resource is shutdown or deleted.</p><p>In the Classic deployment model, a public IP address was named an instance-level public IP (ILPIP) address when assigned to a virtual machine or role instance directly, and a virtual IP address (VIP) when assigned to a cloud service. Furthermore, a reserved IP address could be associated to the VIP of a cloud service to ensure that the assigned address remained the same even if its virtual machines or deployments were stopped. These concepts have now been unified in the Resource Manager deployment model with the public IP address resource.</p>
                      filters: []
                      iconFileUris:
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPAddress-ARM.1.0.2/Icons/Large.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPAddress-ARM.1.0.2/Icons/Medium.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPAddress-ARM.1.0.2/Icons/Small.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPAddress-ARM.1.0.2/Icons/Wide.png
                      identity: Microsoft.PublicIPAddress-ARM.1.0.2
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPAddress-ARM.1.0.2/Icons/Small.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPAddress-ARM.1.0.2/Icons/Medium.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPAddress-ARM.1.0.2/Icons/Large.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPAddress-ARM.1.0.2/Icons/Wide.png
                      itemDisplayName: Public IP address
                      itemName: PublicIPAddress-ARM
                      itemType: GalleryItem
                      links:
                        - displayName: Service overview
                          id: "0"
                          uri: https://azure.microsoft.com/documentation/articles/virtual-networks-instance-level-public-ip/
                        - displayName: Pricing details
                          id: "1"
                          uri: http://azure.microsoft.com/pricing/details/ip-addresses/
                      longSummary: An IP address that can be used with virtual machines and load balancers.
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft
                      screenshotUris: []
                      summary: An IP address that can be used with virtual machines and load balancers.
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPAddress-ARM.1.0.2/UIDefinition.json
                      version: 1.0.2
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.PublicIPPool-ARM.1.0.0
                    name: Microsoft.PublicIPPool-ARM.1.0.0
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: PublicIPPool
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPPool-ARM.1.0.0/DeploymentTemplates/PublicIPPool.json
                      categoryIds:
                        - Capacity
                      changedTime: 2017-09-29T01:48:54.9296826Z
                      createdTime: 2017-09-29T01:48:54.9293585Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: PublicIPPool
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          PublicIPPool: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPPool-ARM.1.0.0/DeploymentTemplates/PublicIPPool.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPPool-ARM.1.0.0/UIDefinition.json
                      description: <p>Creates a new public IP pool.</p>
                      filters: []
                      iconFileUris:
                        hero: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPPool-ARM.1.0.0/Icons/Hero.png
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPPool-ARM.1.0.0/Icons/Large.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPPool-ARM.1.0.0/Icons/Medium.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPPool-ARM.1.0.0/Icons/Small.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPPool-ARM.1.0.0/Icons/Wide.png
                      identity: Microsoft.PublicIPPool-ARM.1.0.0
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPPool-ARM.1.0.0/Icons/Small.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPPool-ARM.1.0.0/Icons/Medium.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPPool-ARM.1.0.0/Icons/Large.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPPool-ARM.1.0.0/Icons/Wide.png
                            - id: hero
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPPool-ARM.1.0.0/Icons/Hero.png
                      itemDisplayName: Public IP pool
                      itemName: PublicIPPool-ARM
                      itemType: GalleryItem
                      links: []
                      longSummary: Creates a new public IP pool.
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft
                      screenshotUris: []
                      summary: Creates a new public IP pool.
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.PublicIPPool-ARM.1.0.0/UIDefinition.json
                      version: 1.0.0
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.ResourceGroup.1.0.0
                    name: Microsoft.ResourceGroup.1.0.0
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: Template
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.ResourceGroup.1.0.0/DeploymentTemplates/Template.json
                      categoryIds: []
                      changedTime: 2017-09-29T01:48:42.6510752Z
                      createdTime: 2017-09-29T01:48:42.6451225Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: Template
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          Template: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.ResourceGroup.1.0.0/DeploymentTemplates/Template.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.ResourceGroup.1.0.0/UIDefinition.json
                      description: <p>Resource groups enable you to manage all your resources in an application together. Resource groups are enabled by Azure Resource Manager. Resource Manager allows you to group multiple resources as a logical group which serves as the lifecycle boundary for every resource contained within it. Typically a group will contain resources related to a specific application. For example, a group may contain a Website resource that hosts your public website, a SQL Database that stores relational data used by the site, and a Storage Account that stores non-relational assets.</p>
                      filters: []
                      iconFileUris:
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.ResourceGroup.1.0.0/Icons/Large.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.ResourceGroup.1.0.0/Icons/Medium.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.ResourceGroup.1.0.0/Icons/Small.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.ResourceGroup.1.0.0/Icons/Wide.png
                      identity: Microsoft.ResourceGroup.1.0.0
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.ResourceGroup.1.0.0/Icons/Small.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.ResourceGroup.1.0.0/Icons/Medium.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.ResourceGroup.1.0.0/Icons/Large.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.ResourceGroup.1.0.0/Icons/Wide.png
                      itemDisplayName: Resource group
                      itemName: ResourceGroup
                      itemType: GalleryItem
                      links:
                        - displayName: Documentation
                          id: "0"
                          uri: http://go.microsoft.com/fwlink/?LinkId=532897
                      longSummary: Manage and deploy resources in an application together
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft
                      screenshotUris: []
                      summary: Manage and deploy resources in an application together
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.ResourceGroup.1.0.0/UIDefinition.json
                      version: 1.0.0
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.RouteTable-ARM.1.0.2
                    name: Microsoft.RouteTable-ARM.1.0.2
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: RouteTableProfile
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.RouteTable-ARM.1.0.2/DeploymentTemplates/RouteTableProfile.json
                      categoryIds:
                        - Networking
                      changedTime: 2017-09-29T01:48:58.0897097Z
                      createdTime: 2017-09-29T01:48:58.0884535Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: RouteTableProfile
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          RouteTableProfile: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.RouteTable-ARM.1.0.2/DeploymentTemplates/RouteTableProfile.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.RouteTable-ARM.1.0.2/UIDefinition.json
                      description: <p>A route table contains a set of rules, called routes, that specifies how packets should be routed in a virtual network. Route tables are associated to subnets, and each packet leaving a subnet is handled based on the associated route table. Each route table can be associated to multiple subnets, but a subnet can only be associated to a single route table.</p><p>Packets are matched to routes using the destination. This can be an IP address, a virtual network gateway, a virtual appliance, or the internet. If a matching route can't be found, then the packet is dropped. By default, every subnet in a virtual network is associated with a set of built-in routes. These allow traffic between virtual machines in a virtual network; virtual machines and an address space as defined by a local network gateway; and virtual machines and the internet.</p><p>There are no additional charges for creating route tables in Microsoft Azure.</p>
                      filters: []
                      iconFileUris:
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.RouteTable-ARM.1.0.2/Icons/Large.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.RouteTable-ARM.1.0.2/Icons/Medium.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.RouteTable-ARM.1.0.2/Icons/Small.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.RouteTable-ARM.1.0.2/Icons/Wide.png
                      identity: Microsoft.RouteTable-ARM.1.0.2
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.RouteTable-ARM.1.0.2/Icons/Small.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.RouteTable-ARM.1.0.2/Icons/Medium.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.RouteTable-ARM.1.0.2/Icons/Large.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.RouteTable-ARM.1.0.2/Icons/Wide.png
                      itemDisplayName: Route table
                      itemName: RouteTable-ARM
                      itemType: GalleryItem
                      links:
                        - displayName: Service overview
                          id: "0"
                          uri: https://azure.microsoft.com/documentation/articles/virtual-networks-udr-overview/
                        - displayName: Documentation
                          id: "1"
                          uri: https://msdn.microsoft.com/library/azure/mt502549.aspx
                      longSummary: Use route tables to control how traffic is directed in a virtual network.
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft
                      screenshotUris: []
                      summary: Use route tables to control how traffic is directed in a virtual network.
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.RouteTable-ARM.1.0.2/UIDefinition.json
                      version: 1.0.2
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.StorageAccount-ARM.1.0.1
                    name: Microsoft.StorageAccount-ARM.1.0.1
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: StorageAccount
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.StorageAccount-ARM.1.0.1/DeploymentTemplates/StorageAccount.json
                      categoryIds:
                        - azure
                        - data
                        - storage
                        - dataService
                        - mobileAddOn
                        - webAddOn
                        - virtualMachine-Arm
                      changedTime: 2017-09-29T01:48:59.398273Z
                      createdTime: 2017-09-29T01:48:59.3969997Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: StorageAccount
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          StorageAccount: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.StorageAccount-ARM.1.0.1/DeploymentTemplates/StorageAccount.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.StorageAccount-ARM.1.0.1/UIDefinition.json
                      description: <p>Microsoft Azure provides scalable, durable cloud storage, backup, and recovery solutions for any data, big or small. It works with the infrastructure you already have to cost-effectively enhance your existing applications and business continuity strategy, and provide the storage required by your cloud applications, including unstructured text or binary data such as video, audio, and images.</p>
                      filters: []
                      iconFileUris:
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.StorageAccount-ARM.1.0.1/Icons/Large.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.StorageAccount-ARM.1.0.1/Icons/Medium.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.StorageAccount-ARM.1.0.1/Icons/Small.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.StorageAccount-ARM.1.0.1/Icons/Wide.png
                      identity: Microsoft.StorageAccount-ARM.1.0.1
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.StorageAccount-ARM.1.0.1/Icons/Small.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.StorageAccount-ARM.1.0.1/Icons/Medium.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.StorageAccount-ARM.1.0.1/Icons/Large.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.StorageAccount-ARM.1.0.1/Icons/Wide.png
                      itemDisplayName: Storage account - blob, file, table, queue
                      itemName: StorageAccount-ARM
                      itemType: GalleryItem
                      links:
                        - displayName: Service overview
                          id: "0"
                          uri: http://azure.microsoft.com/services/storage
                        - displayName: Documentation
                          id: "1"
                          uri: http://azure.microsoft.com/documentation/services/storage
                        - displayName: Pricing
                          id: "2"
                          uri: http://azure.microsoft.com/pricing/details/storage
                      longSummary: Use Blobs, Tables, Queues, and Files for reliable, economical cloud storage.
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft
                      screenshotUris: []
                      summary: Use Blobs, Tables, Queues, and Files for reliable, economical cloud storage.
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.StorageAccount-ARM.1.0.1/UIDefinition.json
                      version: 1.0.1
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.Template.1.0.0
                    name: Microsoft.Template.1.0.0
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: EmptyTemplate
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Template.1.0.0/DeploymentTemplates/EmptyTemplate.json
                      categoryIds:
                        - Custom
                      changedTime: 2017-09-29T01:48:43.7718438Z
                      createdTime: 2017-09-29T01:48:43.7706272Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: EmptyTemplate
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          EmptyTemplate: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Template.1.0.0/DeploymentTemplates/EmptyTemplate.json
                        uiDefinitionFileUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Template.1.0.0/UIDefinition.json
                      description: <p>Applications running in Microsoft Azure usually rely on a combination of resources, like databases, servers, and web apps. Azure Resource Manager templates enable you to deploy and manage these resources as a group, using a JSON description of the resources and their deployment settings.</p><p>Edit your template with IntelliSense and deploy it to a new or existing resource group.</p>
                      filters: []
                      iconFileUris:
                        large: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Template.1.0.0/Icons/Large.png
                        medium: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Template.1.0.0/Icons/Medium.png
                        small: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Template.1.0.0/Icons/Small.png
                        wide: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Template.1.0.0/Icons/Wide.png
                      identity: Microsoft.Template.1.0.0
                      images:
                        - context: ibiza
                          items:
                            - id: small
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Template.1.0.0/Icons/Small.png
                            - id: medium
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Template.1.0.0/Icons/Medium.png
                            - id: large
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Template.1.0.0/Icons/Large.png
                            - id: wide
                              type: icon
                              uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Template.1.0.0/Icons/Wide.png
                      itemDisplayName: Template deployment
                      itemName: Template
                      itemType: GalleryItem
                      links:
                        - displayName: Documentation
                          id: "0"
                          uri: http://go.microsoft.com/fwlink/?LinkId=532898
                      longSummary: Customize your template and build for the cloud
                      metadata: {}
                      products: []
                      properties: {}
                      publisher: Microsoft
                      publisherDisplayName: Microsoft
                      screenshotUris: []
                      summary: Customize your template and build for the cloud
                      uiDefinitionUri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.Template.1.0.0/UIDefinition.json
                      version: 1.0.0
                    type: Microsoft.Gallery.Admin/galleryItems
                  - id: /subscriptions/0ff0bbbe-d68d-4314-8f68-80a808b5a6ec/providers/Microsoft.Gallery.Admin/galleryItems/Microsoft.TenantSubscription.1.0.0
                    name: Microsoft.TenantSubscription.1.0.0
                    properties:
                      additionalProperties: {}
                      artifacts:
                        - name: Template
                          type: template
                          uri: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.TenantSubscription.1.0.0/DeploymentTemplates/Template.json
                      categoryIds:
                        - subscriptionMgmt
                      changedTime: 2017-09-29T01:48:44.5922481Z
                      createdTime: 2017-09-29T01:48:44.59098Z
                      definitionTemplates:
                        defaultDeploymentTemplateId: Template
                        deploymentFragmentFileUris: {}
                        deploymentTemplateFileUris:
                          Template: https://adminportal.local.azurestack.external:30015/artifact/20161101/Microsoft.TenantSubscription.1.0.0/DeploymentTemplates/Template.json
[...]
