swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Provides create, read, update and delete functionality for Azure SQL Database resources including recommendations and operations.
  title: Azure SQL Database
  version: 2014-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/recommendedElasticPools.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-recommendedElasticPools
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools":
    get:
      description: Returns recommended elastic pools.
      operationId: RecommendedElasticPools_ListByServer
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/RecommendedElasticPoolListResult"
      tags:
        - RecommendedElasticPools
      x-ms-examples:
        List recommended elastic pools:
          parameters:
            api-version: 2014-04-01
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/recommendedElasticPools/ElasticPool1
                    name: ElasticPool1
                    properties:
                      databaseDtuMax: 200.5
                      databaseDtuMin: 100.6
                      databaseEdition: Standard
                      databases: []
                      dtu: 1000
                      maxObservedDtu: 900.2
                      maxObservedStorageMB: 350
                      metrics:
                        - dateTime: 2015-04-01T00:00:00Z
                          dtu: 100.5
                          sizeGB: 15.4
                        - dateTime: 2015-04-02T00:00:00Z
                          dtu: 135
                          sizeGB: 12.754
                        - dateTime: 2015-04-03T00:00:00Z
                          dtu: 135
                          sizeGB: 12.754
                      observationPeriodEnd: 2014-11-15T00:00:00Z
                      observationPeriodStart: 2014-11-01T00:00:00Z
                      storageMB: 1000.3
                    type: Microsoft.Sql/servers/recommendedElasticPools
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/recommendedElasticPools/ElasticPool2
                    name: ElasticPool2
                    properties:
                      databaseDtuMax: 200
                      databaseDtuMin: 100
                      databaseEdition: Standard
                      databases:
                        - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/databases/master
                          location: Southeast Asia
                          name: master
                          properties:
                            collation: SQL_Latin1_General_CP1_CI_AS
                            createMode: null
                            creationDate: 2015-04-17T08:36:48.237Z
                            currentServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                            databaseId: 28acaef5-d228-4660-bb67-546ec8482496
                            defaultSecondaryLocation: Japan East
                            earliestRestoreDate: null
                            edition: System
                            maxSizeBytes: "5368709120"
                            requestedServiceObjectiveId: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                            requestedServiceObjectiveName: null
                            restorePointInTime: null
                            serviceLevelObjective: System2
                            sourceDatabaseDeletionDate: null
                            sourceDatabaseId: null
                            status: Online
                          type: Microsoft.Sql/servers/databases
                      dtu: 1000
                      maxObservedDtu: 450
                      maxObservedStorageMB: 900
                      observationPeriodEnd: 2014-11-15T00:00:00Z
                      observationPeriodStart: 2014-11-01T00:00:00Z
                      storageMB: 1000
                    type: Microsoft.Sql/servers/recommendedElasticPools
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}":
    get:
      description: Gets a recommended elastic pool.
      operationId: RecommendedElasticPools_Get
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the recommended elastic pool to be retrieved.
          in: path
          name: recommendedElasticPoolName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/RecommendedElasticPool"
      tags:
        - RecommendedElasticPools
      x-ms-examples:
        Get a recommended elastic pool:
          parameters:
            api-version: 2014-04-01
            recommendedElasticPoolName: ElasticPool1
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/sqlcrudtest-6852/providers/Microsoft.Sql/servers/sqlcrudtest-2080/recommendedElasticPools/ElasticPool1
                name: ElasticPool1
                properties:
                  databaseDtuMax: 200.5
                  databaseDtuMin: 100.6
                  databaseEdition: Standard
                  databases: []
                  dtu: 1000
                  maxObservedDtu: 900.2
                  maxObservedStorageMB: 350
                  metrics:
                    - dateTime: 2015-04-01T00:00:00Z
                      dtu: 100.5
                      sizeGB: 15.4
                    - dateTime: 2015-04-02T00:00:00Z
                      dtu: 135
                      sizeGB: 12.754
                    - dateTime: 2015-04-03T00:00:00Z
                      dtu: 135
                      sizeGB: 12.754
                  observationPeriodEnd: 2014-11-15T00:00:00Z
                  observationPeriodStart: 2014-11-01T00:00:00Z
                  storageMB: 1000.3
                type: Microsoft.Sql/servers/recommendedElasticPools
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recommendedElasticPools/{recommendedElasticPoolName}/metrics":
    get:
      description: Returns recommended elastic pool metrics.
      operationId: RecommendedElasticPools_ListMetrics
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the recommended elastic pool to be retrieved.
          in: path
          name: recommendedElasticPoolName
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/RecommendedElasticPoolListMetricsResult"
      tags:
        - RecommendedElasticPools
      x-ms-examples:
        Get recommended elastic pool metrics:
          parameters:
            api-version: 2014-04-01
            recommendedElasticPoolName: sqlcrudtest-2080_pool1
            resourceGroupName: sqlcrudtest-6852
            serverName: sqlcrudtest-2080
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - dateTime: 2017-07-24T12:00:00Z
                    dtu: 0.01758824557626567
                    sizeGB: 0.921875
                  - dateTime: 2017-07-25T12:00:00Z
                    dtu: 0.018937532104510685
                    sizeGB: 0.921875
      x-ms-pageable:
        nextLinkName: null
definitions:
  RecommendedElasticPool:
    allOf:
      - allOf:
          - description: ARM resource.
            properties:
              id:
                description: Resource ID.
                readOnly: true
                type: string
              name:
                description: Resource name.
                readOnly: true
                type: string
              type:
                description: Resource type.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: ARM proxy resource.
        properties: {}
        type: object
    description: Represents a recommended elastic pool.
    properties:
      properties:
        $ref: "#/definitions/RecommendedElasticPoolProperties"
        description: The properties representing the resource.
        x-ms-client-flatten: true
  RecommendedElasticPoolListMetricsResult:
    description: Represents the response to a list recommended elastic pool metrics request.
    properties:
      value:
        description: The list of recommended elastic pools metrics.
        items:
          $ref: "#/definitions/RecommendedElasticPoolMetric"
        type: array
    required:
      - value
  RecommendedElasticPoolListResult:
    description: Represents the response to a list recommended elastic pool request.
    properties:
      value:
        description: The list of recommended elastic pools hosted in the server.
        items:
          $ref: "#/definitions/RecommendedElasticPool"
        type: array
    required:
      - value
  RecommendedElasticPoolMetric:
    description: Represents recommended elastic pool metric.
    properties:
      dateTime:
        description: The time of metric (ISO8601 format).
        format: date-time
        type: string
      dtu:
        description: Gets or sets the DTUs (Database Transaction Units). See https://azure.microsoft.com/documentation/articles/sql-database-what-is-a-dtu/
        format: double
        type: number
      sizeGB:
        description: Gets or sets size in gigabytes.
        format: double
        type: number
  RecommendedElasticPoolProperties:
    description: Represents the properties of a recommended elastic pool.
    properties:
      databaseDtuMax:
        description: The maximum DTU for the database.
        format: double
        type: number
      databaseDtuMin:
        description: The minimum DTU for the database.
        format: double
        type: number
      databaseEdition:
        description: The edition of the recommended elastic pool. The ElasticPoolEdition enumeration contains all the valid editions.
        enum:
          - Basic
          - Standard
          - Premium
          - GeneralPurpose
          - BusinessCritical
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ElasticPoolEdition
      databases:
        description: The list of databases in this pool. Expanded property
        items:
          allOf:
            - allOf:
                - description: ARM resource.
                  properties:
                    id:
                      description: Resource ID.
                      readOnly: true
                      type: string
                    name:
                      description: Resource name.
                      readOnly: true
                      type: string
                    type:
                      description: Resource type.
                      readOnly: true
                      type: string
                  type: object
                  x-ms-azure-resource: true
              description: ARM tracked top level resource.
              properties:
                location:
                  description: Resource location.
                  type: string
                  x-ms-mutability:
                    - read
                    - create
                tags:
                  additionalProperties:
                    type: string
                  description: Resource tags.
                  type: object
              required:
                - location
              type: object
          description: Represents a database.
          properties:
            kind:
              description: Kind of database.  This is metadata used for the Azure portal experience.
              readOnly: true
              type: string
            properties:
              description: Represents the properties of a database.
              properties:
                collation:
                  description: The collation of the database. If createMode is not Default, this value is ignored.
                  type: string
                  x-ms-mutability:
                    - create
                    - read
                containmentState:
                  description: The containment state of the database.
                  format: int64
                  readOnly: true
                  type: integer
                createMode:
                  description: |-
                    Specifies the mode of database creation.

                    Default: regular database creation.

                    Copy: creates a database as a copy of an existing database. sourceDatabaseId must be specified as the resource ID of the source database.

                    OnlineSecondary/NonReadableSecondary: creates a database as a (readable or nonreadable) secondary replica of an existing database. sourceDatabaseId must be specified as the resource ID of the existing primary database.

                    PointInTimeRestore: Creates a database by restoring a point in time backup of an existing database. sourceDatabaseId must be specified as the resource ID of the existing database, and restorePointInTime must be specified.

                    Recovery: Creates a database by restoring a geo-replicated backup. sourceDatabaseId must be specified as the recoverable database resource ID to restore.

                    Restore: Creates a database by restoring a backup of a deleted database. sourceDatabaseId must be specified. If sourceDatabaseId is the database's original resource ID, then sourceDatabaseDeletionDate must be specified. Otherwise sourceDatabaseId must be the restorable dropped database resource ID and sourceDatabaseDeletionDate is ignored. restorePointInTime may also be specified to restore from an earlier point in time.

                    RestoreLongTermRetentionBackup: Creates a database by restoring from a long term retention vault. recoveryServicesRecoveryPointResourceId must be specified as the recovery point resource ID.

                    Copy, NonReadableSecondary, OnlineSecondary and RestoreLongTermRetentionBackup are not supported for DataWarehouse edition.
                  enum:
                    - Copy
                    - Default
                    - NonReadableSecondary
                    - OnlineSecondary
                    - PointInTimeRestore
                    - Recovery
                    - Restore
                    - RestoreLongTermRetentionBackup
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: CreateMode
                  x-ms-mutability:
                    - create
                creationDate:
                  description: The creation date of the database (ISO8601 format).
                  format: date-time
                  readOnly: true
                  type: string
                currentServiceObjectiveId:
                  description: The current service level objective ID of the database. This is the ID of the service level objective that is currently active.
                  format: uuid
                  readOnly: true
                  type: string
                databaseId:
                  description: The ID of the database.
                  format: uuid
                  readOnly: true
                  type: string
                defaultSecondaryLocation:
                  description: The default secondary region for this database.
                  readOnly: true
                  type: string
                earliestRestoreDate:
                  description: This records the earliest start date and time that restore is available for this database (ISO8601 format).
                  format: date-time
                  readOnly: true
                  type: string
                edition:
                  description: "The edition of the database. The DatabaseEditions enumeration contains all the valid editions. If createMode is NonReadableSecondary or OnlineSecondary, this value is ignored.\r

                    \r

                    The list of SKUs may vary by region and support offer. To determine the SKUs (including the SKU name, tier/edition, family, and capacity) that are available to your subscription in an Azure region, use the `Capabilities_ListByLocation` REST API or one of the following commands:\r

                    \r

                    ```azurecli\r

                    az sql db list-editions -l <location> -o table\r

                    ````\r

                    \r

                    ```powershell\r

                    Get-AzSqlServerServiceObjective -Location <location>\r

                    ````\r\n"
                  enum:
                    - Web
                    - Business
                    - Basic
                    - Standard
                    - Premium
                    - PremiumRS
                    - Free
                    - Stretch
                    - DataWarehouse
                    - System
                    - System2
                    - GeneralPurpose
                    - BusinessCritical
                    - Hyperscale
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: DatabaseEdition
                elasticPoolName:
                  description: The name of the elastic pool the database is in. If elasticPoolName and requestedServiceObjectiveName are both updated, the value of requestedServiceObjectiveName is ignored. Not supported for DataWarehouse edition.
                  type: string
                failoverGroupId:
                  description: The resource identifier of the failover group containing this database.
                  readOnly: true
                  type: string
                maxSizeBytes:
                  description: 'The max size of the database expressed in bytes. If createMode is not Default, this value is ignored. To see possible values, query the capabilities API (/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationID}/capabilities) referred to by operationId: "Capabilities_ListByLocation."'
                  type: string
                readScale:
                  description: Conditional. If the database is a geo-secondary, readScale indicates whether read-only connections are allowed to this database or not. Not supported for DataWarehouse edition.
                  enum:
                    - Enabled
                    - Disabled
                  type: string
                  x-ms-enum:
                    name: ReadScale
                recommendedIndex:
                  description: The recommended indices for this database.
                  items:
                    allOf:
                      - allOf:
                          - description: ARM resource.
                            properties:
                              id:
                                description: Resource ID.
                                readOnly: true
                                type: string
                              name:
                                description: Resource name.
                                readOnly: true
                                type: string
                              type:
                                description: Resource type.
                                readOnly: true
                                type: string
                            type: object
                            x-ms-azure-resource: true
                        description: ARM proxy resource.
                        properties: {}
                        type: object
                    description: Represents a database recommended index.
                    properties:
                      properties:
                        description: Represents the properties of a database recommended index.
                        properties:
                          action:
                            description: The proposed index action. You can create a missing index, drop an unused index, or rebuild an existing index to improve its performance.
                            enum:
                              - Create
                              - Drop
                              - Rebuild
                            readOnly: true
                            type: string
                            x-ms-enum:
                              name: RecommendedIndexAction
                          columns:
                            description: Columns over which to build index
                            items:
                              type: string
                            readOnly: true
                            type: array
                          created:
                            description: The UTC datetime showing when this resource was created (ISO8601 format).
                            format: date-time
                            readOnly: true
                            type: string
                          estimatedImpact:
                            description: The estimated impact of doing recommended index action.
                            items:
                              description: The impact of an operation, both in absolute and relative terms.
                              properties:
                                changeValueAbsolute:
                                  description: The absolute impact to dimension.
                                  format: double
                                  readOnly: true
                                  type: number
                                changeValueRelative:
                                  description: The relative impact to dimension (null if not applicable)
                                  format: double
                                  readOnly: true
                                  type: number
                                name:
                                  description: The name of the impact dimension.
                                  readOnly: true
                                  type: string
                                unit:
                                  description: The unit in which estimated impact to dimension is measured.
                                  readOnly: true
                                  type: string
                            readOnly: true
                            type: array
                          includedColumns:
                            description: The list of column names to be included in the index
                            items:
                              type: string
                            readOnly: true
                            type: array
                          indexScript:
                            description: The full build index script
                            readOnly: true
                            type: string
                          indexType:
                            description: The type of index (CLUSTERED, NONCLUSTERED, COLUMNSTORE, CLUSTERED COLUMNSTORE)
                            enum:
                              - CLUSTERED
                              - NONCLUSTERED
                              - COLUMNSTORE
                              - CLUSTERED COLUMNSTORE
                            readOnly: true
                            type: string
                            x-ms-enum:
                              name: RecommendedIndexType
                          lastModified:
                            description: The UTC datetime of when was this resource last changed (ISO8601 format).
                            format: date-time
                            readOnly: true
                            type: string
                          reportedImpact:
                            description: The values reported after index action is complete.
                            items:
                              description: The impact of an operation, both in absolute and relative terms.
                              properties:
                                changeValueAbsolute:
                                  description: The absolute impact to dimension.
                                  format: double
                                  readOnly: true
                                  type: number
                                changeValueRelative:
                                  description: The relative impact to dimension (null if not applicable)
                                  format: double
                                  readOnly: true
                                  type: number
                                name:
                                  description: The name of the impact dimension.
                                  readOnly: true
                                  type: string
                                unit:
                                  description: The unit in which estimated impact to dimension is measured.
                                  readOnly: true
                                  type: string
                            readOnly: true
                            type: array
                          schema:
                            description: The schema where table to build index over resides
                            readOnly: true
                            type: string
                          state:
                            description: The current recommendation state.
                            enum:
                              - Active
                              - Pending
                              - Executing
                              - Verifying
                              - Pending Revert
                              - Reverting
                              - Reverted
                              - Ignored
                              - Expired
                              - Blocked
                              - Success
                            readOnly: true
                            type: string
                            x-ms-enum:
                              name: RecommendedIndexState
                          table:
                            description: The table on which to build index.
                            readOnly: true
                            type: string
                  readOnly: true
                  type: array
                recoveryServicesRecoveryPointResourceId:
                  description: Conditional. If createMode is RestoreLongTermRetentionBackup, then this value is required. Specifies the resource ID of the recovery point to restore from.
                  type: string
                  x-ms-mutability:
                    - create
                requestedServiceObjectiveId:
                  description: "The configured service level objective ID of the database. This is the service level objective that is in the process of being applied to the database. Once successfully updated, it will match the value of currentServiceObjectiveId property. If requestedServiceObjectiveId and requestedServiceObjectiveName are both updated, the value of requestedServiceObjectiveId overrides the value of requestedServiceObjectiveName.\r

                    \r

                    The list of SKUs may vary by region and support offer. To determine the service objective ids that are available to your subscription in an Azure region, use the `Capabilities_ListByLocation` REST API."
                  format: uuid
                  type: string
                requestedServiceObjectiveName:
                  description: "The name of the configured service level objective of the database. This is the service level objective that is in the process of being applied to the database. Once successfully updated, it will match the value of serviceLevelObjective property. \r

                    \r

                    The list of SKUs may vary by region and support offer. To determine the SKUs (including the SKU name, tier/edition, family, and capacity) that are available to your subscription in an Azure region, use the `Capabilities_ListByLocation` REST API or one of the following commands:\r

                    \r

                    ```azurecli\r

                    az sql db list-editions -l <location> -o table\r

                    ````\r

                    \r

                    ```powershell\r

                    Get-AzSqlServerServiceObjective -Location <location>\r

                    ````\r\n"
                  enum:
                    - System
                    - System0
                    - System1
                    - System2
                    - System3
                    - System4
                    - System2L
                    - System3L
                    - System4L
                    - Free
                    - Basic
                    - S0
                    - S1
                    - S2
                    - S3
                    - S4
                    - S6
                    - S7
                    - S9
                    - S12
                    - P1
                    - P2
                    - P3
                    - P4
                    - P6
                    - P11
                    - P15
                    - PRS1
                    - PRS2
                    - PRS4
                    - PRS6
                    - DW100
                    - DW200
                    - DW300
                    - DW400
                    - DW500
                    - DW600
                    - DW1000
                    - DW1200
                    - DW1000c
                    - DW1500
                    - DW1500c
                    - DW2000
                    - DW2000c
                    - DW3000
                    - DW2500c
                    - DW3000c
                    - DW6000
                    - DW5000c
                    - DW6000c
                    - DW7500c
                    - DW10000c
                    - DW15000c
                    - DW30000c
                    - DS100
                    - DS200
                    - DS300
                    - DS400
                    - DS500
                    - DS600
                    - DS1000
                    - DS1200
                    - DS1500
                    - DS2000
                    - ElasticPool
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: ServiceObjectiveName
                restorePointInTime:
                  description: Conditional. If createMode is PointInTimeRestore, this value is required. If createMode is Restore, this value is optional. Specifies the point in time (ISO8601 format) of the source database that will be restored to create the new database. Must be greater than or equal to the source database's earliestRestoreDate value.
                  format: date-time
                  type: string
                  x-ms-mutability:
                    - create
                sampleName:
                  description: Indicates the name of the sample schema to apply when creating this database. If createMode is not Default, this value is ignored. Not supported for DataWarehouse edition.
                  enum:
                    - AdventureWorksLT
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: SampleName
                  x-ms-mutability:
                    - create
                serviceLevelObjective:
                  description: The current service level objective of the database.
                  enum:
                    - System
                    - System0
                    - System1
                    - System2
                    - System3
                    - System4
                    - System2L
                    - System3L
                    - System4L
                    - Free
                    - Basic
                    - S0
                    - S1
                    - S2
                    - S3
                    - S4
                    - S6
                    - S7
                    - S9
                    - S12
                    - P1
                    - P2
                    - P3
                    - P4
                    - P6
                    - P11
                    - P15
                    - PRS1
                    - PRS2
                    - PRS4
                    - PRS6
                    - DW100
                    - DW200
                    - DW300
                    - DW400
                    - DW500
                    - DW600
                    - DW1000
                    - DW1200
                    - DW1000c
                    - DW1500
                    - DW1500c
                    - DW2000
                    - DW2000c
                    - DW3000
                    - DW2500c
                    - DW3000c
                    - DW6000
                    - DW5000c
                    - DW6000c
                    - DW7500c
                    - DW10000c
                    - DW15000c
                    - DW30000c
                    - DS100
                    - DS200
                    - DS300
                    - DS400
                    - DS500
                    - DS600
                    - DS1000
                    - DS1200
                    - DS1500
                    - DS2000
                    - ElasticPool
                  readOnly: true
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: ServiceObjectiveName
                serviceTierAdvisors:
                  description: The list of service tier advisors for this database. Expanded property
                  items:
                    allOf:
                      - allOf:
                          - description: ARM resource.
                            properties:
                              id:
                                description: Resource ID.
                                readOnly: true
                                type: string
                              name:
                                description: Resource name.
                                readOnly: true
                                type: string
                              type:
                                description: Resource type.
                                readOnly: true
                                type: string
                            type: object
                            x-ms-azure-resource: true
                        description: ARM proxy resource.
                        properties: {}
                        type: object
                    description: Represents a Service Tier Advisor.
                    properties:
                      properties:
                        description: Represents the properties of a Service Tier Advisor.
                        properties:
                          activeTimeRatio:
                            description: The activeTimeRatio for service tier advisor.
                            format: double
                            readOnly: true
                            type: number
                          avgDtu:
                            description: Gets or sets avgDtu for service tier advisor.
                            format: double
                            readOnly: true
                            type: number
                          confidence:
                            description: Gets or sets confidence for service tier advisor.
                            format: double
                            readOnly: true
                            type: number
                            x-nullable: false
                          currentServiceLevelObjective:
                            description: Gets or sets currentServiceLevelObjective for service tier advisor.
                            readOnly: true
                            type: string
                          currentServiceLevelObjectiveId:
                            description: Gets or sets currentServiceLevelObjectiveId for service tier advisor.
                            format: uuid
                            readOnly: true
                            type: string
                          databaseSizeBasedRecommendationServiceLevelObjective:
                            description: Gets or sets databaseSizeBasedRecommendationServiceLevelObjective for service tier advisor.
                            readOnly: true
                            type: string
                          databaseSizeBasedRecommendationServiceLevelObjectiveId:
                            description: Gets or sets databaseSizeBasedRecommendationServiceLevelObjectiveId for service tier advisor.
                            format: uuid
                            readOnly: true
                            type: string
                          disasterPlanBasedRecommendationServiceLevelObjective:
                            description: Gets or sets disasterPlanBasedRecommendationServiceLevelObjective for service tier advisor.
                            readOnly: true
                            type: string
                          disasterPlanBasedRecommendationServiceLevelObjectiveId:
                            description: Gets or sets disasterPlanBasedRecommendationServiceLevelObjectiveId for service tier advisor.
                            format: uuid
                            readOnly: true
                            type: string
                          maxDtu:
                            description: Gets or sets maxDtu for service tier advisor.
                            format: double
                            readOnly: true
                            type: number
                          maxSizeInGB:
                            description: Gets or sets maxSizeInGB for service tier advisor.
                            format: double
                            readOnly: true
                            type: number
                          minDtu:
                            description: Gets or sets minDtu for service tier advisor.
                            format: double
                            readOnly: true
                            type: number
                          observationPeriodEnd:
                            description: The observation period start (ISO8601 format).
                            format: date-time
                            readOnly: true
                            type: string
                          observationPeriodStart:
                            description: The observation period start (ISO8601 format).
                            format: date-time
                            readOnly: true
                            type: string
                          overallRecommendationServiceLevelObjective:
                            description: Gets or sets overallRecommendationServiceLevelObjective for service tier advisor.
                            readOnly: true
                            type: string
                          overallRecommendationServiceLevelObjectiveId:
                            description: Gets or sets overallRecommendationServiceLevelObjectiveId for service tier advisor.
                            format: uuid
                            readOnly: true
                            type: string
                          serviceLevelObjectiveUsageMetrics:
                            description: Gets or sets serviceLevelObjectiveUsageMetrics for the service tier advisor.
                            items:
                              description: A Slo Usage Metric.
                              properties:
                                inRangeTimeRatio:
                                  description: Gets or sets inRangeTimeRatio for SLO usage metric.
                                  format: double
                                  readOnly: true
                                  type: number
                                  x-nullable: false
                                serviceLevelObjective:
                                  description: The serviceLevelObjective for SLO usage metric.
                                  enum:
                                    - System
                                    - System0
                                    - System1
                                    - System2
                                    - System3
                                    - System4
                                    - System2L
                                    - System3L
                                    - System4L
                                    - Free
                                    - Basic
                                    - S0
                                    - S1
                                    - S2
                                    - S3
                                    - S4
                                    - S6
                                    - S7
                                    - S9
                                    - S12
                                    - P1
                                    - P2
                                    - P3
                                    - P4
                                    - P6
                                    - P11
                                    - P15
                                    - PRS1
                                    - PRS2
                                    - PRS4
                                    - PRS6
                                    - DW100
                                    - DW200
                                    - DW300
                                    - DW400
                                    - DW500
                                    - DW600
                                    - DW1000
                                    - DW1200
                                    - DW1000c
                                    - DW1500
                                    - DW1500c
                                    - DW2000
                                    - DW2000c
                                    - DW3000
                                    - DW2500c
                                    - DW3000c
                                    - DW6000
                                    - DW5000c
                                    - DW6000c
                                    - DW7500c
                                    - DW10000c
                                    - DW15000c
                                    - DW30000c
                                    - DS100
                                    - DS200
                                    - DS300
                                    - DS400
                                    - DS500
                                    - DS600
                                    - DS1000
                                    - DS1200
                                    - DS1500
                                    - DS2000
                                    - ElasticPool
                                  readOnly: true
                                  type: string
                                  x-ms-enum:
                                    modelAsString: true
                                    name: ServiceObjectiveName
                                serviceLevelObjectiveId:
                                  description: The serviceLevelObjectiveId for SLO usage metric.
                                  format: uuid
                                  readOnly: true
                                  type: string
                                  x-nullable: false
                            readOnly: true
                            type: array
                          usageBasedRecommendationServiceLevelObjective:
                            description: Gets or sets usageBasedRecommendationServiceLevelObjective for service tier advisor.
                            readOnly: true
                            type: string
                          usageBasedRecommendationServiceLevelObjectiveId:
                            description: Gets or sets usageBasedRecommendationServiceLevelObjectiveId for service tier advisor.
                            format: uuid
                            readOnly: true
                            type: string
                  readOnly: true
                  type: array
                sourceDatabaseDeletionDate:
                  description: Conditional. If createMode is Restore and sourceDatabaseId is the deleted database's original resource id when it existed (as opposed to its current restorable dropped database id), then this value is required. Specifies the time that the database was deleted.
                  format: date-time
                  type: string
                  x-ms-mutability:
                    - create
                sourceDatabaseId:
                  description: Conditional. If createMode is Copy, NonReadableSecondary, OnlineSecondary, PointInTimeRestore, Recovery, or Restore, then this value is required. Specifies the resource ID of the source database. If createMode is NonReadableSecondary or OnlineSecondary, the name of the source database must be the same as the new database being created.
                  type: string
                  x-ms-mutability:
                    - create
                status:
                  description: The status of the database.
                  readOnly: true
                  type: string
                transparentDataEncryption:
                  description: The transparent data encryption info for this database.
                  items:
                    allOf:
                      - allOf:
                          - description: ARM resource.
                            properties:
                              id:
                                description: Resource ID.
                                readOnly: true
                                type: string
                              name:
                                description: Resource name.
                                readOnly: true
                                type: string
                              type:
                                description: Resource type.
                                readOnly: true
                                type: string
                            type: object
                            x-ms-azure-resource: true
                        description: ARM proxy resource.
                        properties: {}
                        type: object
                    description: Represents a database transparent data encryption configuration.
                    properties:
                      location:
                        description: Resource location.
                        readOnly: true
                        type: string
                      properties:
                        description: Represents the properties of a database transparent data encryption.
                        properties:
                          status:
                            description: The status of the database transparent data encryption.
                            enum:
                              - Enabled
                              - Disabled
                            type: string
                            x-ms-enum:
                              name: TransparentDataEncryptionStatus
                  readOnly: true
                  type: array
                zoneRedundant:
                  description: Whether or not this database is zone redundant, which means the replicas of this database will be spread across multiple availability zones.
                  type: boolean
        readOnly: true
        type: array
      dtu:
        description: The DTU for the recommended elastic pool.
        format: double
        type: number
      maxObservedDtu:
        description: Gets maximum observed DTU.
        format: double
        readOnly: true
        type: number
      maxObservedStorageMB:
        description: Gets maximum observed storage in megabytes.
        format: double
        readOnly: true
        type: number
      metrics:
        description: The list of databases housed in the server. Expanded property
        items:
          $ref: "#/definitions/RecommendedElasticPoolMetric"
        readOnly: true
        type: array
      observationPeriodEnd:
        description: The observation period start (ISO8601 format).
        format: date-time
        readOnly: true
        type: string
      observationPeriodStart:
        description: The observation period start (ISO8601 format).
        format: date-time
        readOnly: true
        type: string
      storageMB:
        description: Gets storage size in megabytes.
        format: double
        type: number
