swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Resource Provider
  title: Azure Maps Resource Provider
  version: 2020-02-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-ms-code-generation-settings:
    name: MapsManagementClient
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/maps/resource-manager/Microsoft.Maps/preview/2020-02-01-preview/maps-management.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: maps-maps-management
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  AccountNameParameter:
    description: The name of the Maps Account.
    in: path
    name: accountName
    required: true
    type: string
    x-ms-parameter-location: method
  PrivateAtlasNameParameter:
    description: The name of the Private Atlas instance.
    in: path
    name: privateAtlasName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  /providers/Microsoft.Maps/operations:
    get:
      description: List operations available for the Maps Resource Provider
      operationId: Maps_ListOperations
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
      responses:
        "200":
          description: The request was successful.
          schema:
            $ref: "#/definitions/MapsOperations"
        default:
          description: An unexpected error occurred.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - Operations
      x-ms-examples:
        GetOperations:
          parameters:
            api-version: 2020-02-01-preview
          responses:
            "200":
              body:
                value:
                  - display:
                      description: Register the provider
                      operation: Register the provider
                      provider: Microsoft Maps
                      resource: Maps Account
                    name: Microsoft.Maps/register/action
                  - display:
                      description: Create or update a Maps Account.
                      operation: Create or update a Maps Account.
                      provider: Microsoft Maps
                      resource: Maps Account
                    name: Microsoft.Maps/accounts/write
                  - display:
                      description: Get a Maps Account.
                      operation: Get a Maps Account.
                      provider: Microsoft Maps
                      resource: Maps Account
                    name: Microsoft.Maps/accounts/read
                  - display:
                      description: Delete a Maps Account.
                      operation: Delete a Maps Account.
                      provider: Microsoft Maps
                      resource: Maps Account
                    name: Microsoft.Maps/accounts/delete
                  - display:
                      description: List Maps Account keys
                      operation: List keys
                      provider: Microsoft Maps
                      resource: Maps Account
                    name: Microsoft.Maps/accounts/listKeys/action
                  - display:
                      description: Generate new Maps Account primary or secondary key
                      operation: Generate new primary or secondary key
                      provider: Microsoft Maps
                      resource: Maps Account
                    name: Microsoft.Maps/accounts/regenerateKey/action
                  - display:
                      description: Create or update a Private Atlas.
                      operation: Create or update a Private Atlas.
                      provider: Microsoft Maps
                      resource: Private Atlas
                    name: Microsoft.Maps/accounts/privateAtlases/write
                  - display:
                      description: Get a Private Atlas.
                      operation: Get a Private Atlas.
                      provider: Microsoft Maps
                      resource: Private Atlas
                    name: Microsoft.Maps/accounts/privateAtlases/read
                  - display:
                      description: Delete a Private Atlas.
                      operation: Delete a Private Atlas.
                      provider: Microsoft Maps
                      resource: Private Atlas
                    name: Microsoft.Maps/accounts/privateAtlases/delete
      x-ms-pageable:
        itemName: value
        nextLinkName: null
  "/subscriptions/{subscriptionId}/providers/Microsoft.Maps/accounts":
    get:
      description: Get all Maps Accounts in a Subscription
      operationId: Accounts_ListBySubscription
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The request was successful.
          schema:
            $ref: "#/definitions/MapsAccounts"
        default:
          description: An unexpected error occurred.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - Accounts
      x-ms-examples:
        ListAccountsBySubscription:
          parameters:
            api-version: 2020-02-01-preview
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.Maps/accounts/myMapsAccount2
                    location: global
                    name: myMapsAccount2
                    sku:
                      name: S0
                      tier: Standard
                    tags:
                      test: "true"
                    type: Microsoft.Maps/accounts
                  - id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.Maps/accounts/myMapsAccount
                    location: global
                    name: myMapsAccount
                    sku:
                      name: S0
                      tier: Standard
                    tags:
                      test: "true"
                    type: Microsoft.Maps/accounts
      x-ms-pageable:
        itemName: value
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts":
    get:
      description: Get all Maps Accounts in a Resource Group
      operationId: Accounts_ListByResourceGroup
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: The request was successful.
          schema:
            $ref: "#/definitions/MapsAccounts"
        default:
          description: An unexpected error occurred.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - Accounts
      x-ms-examples:
        ListAccountsByResourceGroup:
          parameters:
            api-version: 2020-02-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.Maps/accounts/myMapsAccount2
                    location: global
                    name: myMapsAccount2
                    sku:
                      name: S0
                      tier: Standard
                    tags:
                      test: "true"
                    type: Microsoft.Maps/accounts
                  - id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.Maps/accounts/myMapsAccount
                    location: global
                    name: myMapsAccount
                    sku:
                      name: S0
                      tier: Standard
                    tags:
                      test: "true"
                    type: Microsoft.Maps/accounts
      x-ms-pageable:
        itemName: value
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}":
    delete:
      description: Delete a Maps Account.
      operationId: Accounts_Delete
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/AccountNameParameter"
      responses:
        "200":
          description: The Account was deleted successfully.
        "204":
          description: The specified Account was not found. Nothing was deleted.
        default:
          description: An unexpected error occurred.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - Accounts
      x-ms-examples:
        DeleteAccount:
          parameters:
            accountName: myMapsAccount
            api-version: 2020-02-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200": {}
            "204": {}
    get:
      description: Get a Maps Account.
      operationId: Accounts_Get
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/AccountNameParameter"
      responses:
        "200":
          description: The request was successful.
          schema:
            $ref: "#/definitions/MapsAccount"
        default:
          description: An unexpected error occurred.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - Accounts
      x-ms-examples:
        GetAccount:
          parameters:
            accountName: myMapsAccount
            api-version: 2020-02-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.Maps/accounts/myMapsAccount
                location: global
                name: myMapsAccount
                properties:
                  x-ms-client-id: string
                sku:
                  name: S0
                  tier: Standard
                tags:
                  test: "true"
                type: Microsoft.Maps/accounts
    patch:
      description: Updates a Maps Account. Only a subset of the parameters may be updated after creation, such as Sku and Tags.
      operationId: Accounts_Update
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/AccountNameParameter"
        - description: The updated parameters for the Maps Account.
          in: body
          name: MapsAccountUpdateParameters
          required: true
          schema:
            $ref: "#/definitions/MapsAccountUpdateParameters"
      responses:
        "200":
          description: The Account was successfully updated.
          schema:
            $ref: "#/definitions/MapsAccount"
        default:
          description: An unexpected error occurred.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - Accounts
      x-ms-examples:
        UpdateAccount:
          parameters:
            MapsAccountUpdateParameters:
              tags:
                specialTag: "true"
            accountName: myMapsAccount
            api-version: 2020-02-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.Maps/accounts/myMapsAccount
                location: global
                name: myMapsAccount
                properties:
                  x-ms-client-id: string
                sku:
                  name: S0
                  tier: Standard
                tags:
                  specialTag: "true"
                type: Microsoft.Maps/accounts
    put:
      description: Create or update a Maps Account. A Maps Account holds the keys which allow access to the Maps REST APIs.
      operationId: Accounts_CreateOrUpdate
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/AccountNameParameter"
        - description: The new or updated parameters for the Maps Account.
          in: body
          name: MapsAccountCreateParameters
          required: true
          schema:
            $ref: "#/definitions/MapsAccountCreateParameters"
      responses:
        "200":
          description: The Account was successfully updated.
          schema:
            $ref: "#/definitions/MapsAccount"
        "201":
          description: The Account was successfully created.
          schema:
            $ref: "#/definitions/MapsAccount"
        default:
          description: An unexpected error occurred.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - Accounts
      x-ms-examples:
        CreateAccount:
          parameters:
            MapsAccountCreateParameters:
              location: global
              sku:
                name: S0
              tags:
                test: "true"
            accountName: myMapsAccount
            api-version: 2020-02-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.Maps/accounts/myMapsAccount
                location: global
                name: myMapsAccount
                properties:
                  x-ms-client-id: string
                sku:
                  name: S0
                  tier: Standard
                tags:
                  test: "true"
                type: Microsoft.Maps/accounts
            "201":
              body:
                id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.Maps/accounts/myMapsAccount
                location: global
                name: myMapsAccount
                properties:
                  x-ms-client-id: string
                sku:
                  name: S0
                  tier: Standard
                tags:
                  test: "true"
                type: Microsoft.Maps/accounts
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/listKeys":
    post:
      description: Get the keys to use with the Maps APIs. A key is used to authenticate and authorize access to the Maps REST APIs. Only one key is needed at a time; two are given to provide seamless key regeneration.
      operationId: Accounts_ListKeys
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/AccountNameParameter"
      responses:
        "200":
          description: The request was successful.
          schema:
            $ref: "#/definitions/MapsAccountKeys"
        default:
          description: An unexpected error occurred.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - Accounts
      x-ms-examples:
        ListKeys:
          parameters:
            accountName: myMapsAccount
            api-version: 2020-02-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.Maps/accounts/myMapsAccount
                primaryKey: ZiBllKWCwXXLTO13S2TaoHoK8kPFYaoyYlAcnCcE4PQ
                secondaryKey: cJHpmUGNaGGO8H59p6NKGhfff9VjD278-2bi5wo0_mU
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/privateAtlases":
    get:
      description: Get all Private Atlas instances for an Azure Map Account
      operationId: PrivateAtlases_ListByAccount
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/AccountNameParameter"
      responses:
        "200":
          description: The request was successful.
          schema:
            $ref: "#/definitions/PrivateAtlasList"
        default:
          description: An unexpected error occurred.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - Private Atlases
      x-ms-examples:
        ListPrivateAtlasByAccount:
          parameters:
            accountName: myMapsAccount
            api-version: 2020-02-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.Maps/accounts/myMapsAccount/privateAtlases/myPrivateAtlas
                    location: unitedstates
                    name: myPrivateAtlas
                    properties:
                      provisioningState: Succeeded
                    tags:
                      test: "true"
                    type: Microsoft.Maps/accounts/privateAtlases
      x-ms-pageable:
        itemName: value
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/privateAtlases/{privateAtlasName}":
    delete:
      description: Delete a Private Atlas resource.
      operationId: PrivateAtlases_Delete
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/PrivateAtlasNameParameter"
      responses:
        "200":
          description: The Private Atlas was deleted successfully.
        "204":
          description: The specified Private Atlas was not found. Nothing was deleted.
        default:
          description: An unexpected error occurred.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - Private Atlases
      x-ms-examples:
        DeletePrivateAtlas:
          parameters:
            accountName: myMapsAccount
            api-version: 2020-02-01-preview
            privateAtlasName: myPrivateAtlas
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200": {}
            "204": {}
    get:
      description: Get a Private Atlas resource.
      operationId: PrivateAtlases_Get
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/PrivateAtlasNameParameter"
      responses:
        "200":
          description: The request was successful.
          schema:
            $ref: "#/definitions/PrivateAtlas"
        default:
          description: An unexpected error occurred.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - Private Atlases
      x-ms-examples:
        GetPrivateAtlas:
          parameters:
            accountName: myMapsAccount
            api-version: 2020-02-01-preview
            privateAtlasName: myPrivateAtlas
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.Maps/accounts/myMapsAccount/privateAtlases/myPrivateAtlas
                location: unitedstates
                name: myPrivateAtlas
                properties:
                  provisioningState: Succeeded
                tags:
                  test: "true"
                type: Microsoft.Maps/accounts/privateAtlases
    patch:
      description: Updates the Private Atlas resource. Only a subset of the parameters may be updated after creation, such as Tags.
      operationId: PrivateAtlases_Update
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/PrivateAtlasNameParameter"
        - description: The updated parameters for the Private Atlas.
          in: body
          name: PrivateAtlasUpdateParameters
          required: true
          schema:
            $ref: "#/definitions/PrivateAtlasUpdateParameters"
      responses:
        "200":
          description: The Private Atlas was successfully updated.
          schema:
            $ref: "#/definitions/PrivateAtlas"
        default:
          description: An unexpected error occurred.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - Private Atlases
      x-ms-examples:
        UpdateAccount:
          parameters:
            PrivateAtlasUpdateParameters:
              tags:
                specialTag: "true"
            accountName: myMapsAccount
            api-version: 2020-02-01-preview
            privateAtlasName: myPrivateAtlas
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.Maps/accounts/myMapsAccount/privateAtlas/myPrivateAtlas
                location: unitedstates
                name: myPrivateAtlas
                properties:
                  provisioningState: Succeeded
                tags:
                  specialTag: "true"
                type: Microsoft.Maps/accounts/privateAtlas
    put:
      description: Create or update a Private Atlas resource. Private Atlas resource will enable the usage of Azure resources to build a custom set of mapping data. It requires an account to exist before it can be created.
      operationId: PrivateAtlases_CreateOrUpdate
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/AccountNameParameter"
        - $ref: "#/parameters/PrivateAtlasNameParameter"
        - description: The new or updated parameters for the Private Atlas resource.
          in: body
          name: PrivateAtlasCreateParameters
          required: true
          schema:
            $ref: "#/definitions/PrivateAtlasCreateParameters"
      responses:
        "200":
          description: The Private Atlas was successfully updated.
          schema:
            $ref: "#/definitions/PrivateAtlas"
        "201":
          description: The Private Atlas was successfully created.
          schema:
            $ref: "#/definitions/PrivateAtlas"
        default:
          description: An unexpected error occurred.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - Private Atlases
      x-ms-examples:
        CreateAccount:
          parameters:
            PrivateAtlasCreateParameters:
              location: unitedstates
              tags:
                test: "true"
            accountName: myMapsAccount
            api-version: 2020-02-01-preview
            privateAtlasName: myPrivateAtlas
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.Maps/accounts/myMapsAccount/privateAtlases/myPrivateAtlas
                location: unitedstates
                name: myPrivateAtlas
                properties:
                  provisioningState: Succeeded
                tags:
                  test: "true"
                type: Microsoft.Maps/accounts/privateAtlases
            "201":
              body:
                id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.Maps/accounts/myMapsAccount/privateAtlases/myPrivateAtlas
                location: unitedstates
                name: myPrivateAtlas
                properties:
                  provisioningState: Succeeded
                tags:
                  test: "true"
                type: Microsoft.Maps/accounts/privateAtlases
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Maps/accounts/{accountName}/regenerateKey":
    post:
      description: Regenerate either the primary or secondary key for use with the Maps APIs. The old key will stop working immediately.
      operationId: Accounts_RegenerateKeys
      parameters:
        - description: The API version to use for this operation.
          in: query
          minLength: 1
          name: api-version
          required: true
          type: string
        - description: The ID of the target subscription.
          in: path
          minLength: 1
          name: subscriptionId
          required: true
          type: string
        - description: The name of the resource group. The name is case insensitive.
          in: path
          maxLength: 90
          minLength: 1
          name: resourceGroupName
          pattern: ^[-\w\._\(\)]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/AccountNameParameter"
        - description: "Which key to regenerate:  primary or secondary."
          in: body
          name: keySpecification
          required: true
          schema:
            $ref: "#/definitions/MapsKeySpecification"
      responses:
        "200":
          description: The request was successful.
          schema:
            $ref: "#/definitions/MapsAccountKeys"
        default:
          description: An unexpected error occurred.
          schema:
            description: The resource management error response.
            properties:
              additionalInfo:
                description: The error additional info.
                items:
                  description: The resource management error additional info.
                  properties:
                    info:
                      description: The additional info.
                      readOnly: true
                      type: object
                    type:
                      description: The additional info type.
                      readOnly: true
                      type: string
                readOnly: true
                type: array
              code:
                description: The error code.
                readOnly: true
                type: string
              details:
                description: The error details.
                items:
                  $ref: "#/definitions/ErrorResponse"
                readOnly: true
                type: array
              message:
                description: The error message.
                readOnly: true
                type: string
              target:
                description: The error target.
                readOnly: true
                type: string
      tags:
        - Accounts
      x-ms-examples:
        RegenerateKey:
          parameters:
            accountName: myMapsAccount
            api-version: 2020-02-01-preview
            keySpecification:
              keyType: primary
            resourceGroupName: myResourceGroup
            subscriptionId: 21a9967a-e8a9-4656-a70b-96ff1c4d05a0
          responses:
            "200":
              body:
                id: /subscriptions/21a9967a-e8a9-4656-a70b-96ff1c4d05a0/resourceGroups/myResourceGroup/providers/Microsoft.Maps/accounts/myMapsAccount
                primaryKey: uj0yqjjz8zG3IOSWvb_smi1q1QenGtupAqrOA1zCO6s
                secondaryKey: cJHpmUGNaGGO8H59p6NKGhfff9VjD278-2bi5wo0_mU
definitions:
  ErrorResponse: {}
  MapsAccount:
    allOf:
      - allOf:
          - properties:
              id:
                description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The geo-location where the resource lives
            type: string
            x-ms-mutability:
              - read
              - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
              - read
              - create
              - update
        required:
          - location
    description: An Azure resource which represents access to a suite of Maps REST APIs.
    properties:
      properties:
        $ref: "#/definitions/MapsAccountProperties"
        description: The map account properties.
        readOnly: true
      sku:
        $ref: "#/definitions/Sku"
        description: The SKU of this account.
        readOnly: true
    type: object
  MapsAccountCreateParameters:
    description: Parameters used to create a new Maps Account.
    properties:
      location:
        description: The location of the resource.
        type: string
      sku:
        $ref: "#/definitions/Sku"
        description: The SKU of this account.
      tags:
        additionalProperties:
          type: string
        description: Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). Each tag must have a key no greater than 128 characters and value no greater than 256 characters.
        type: object
    required:
      - location
      - sku
    type: object
  MapsAccountKeys:
    description: The set of keys which can be used to access the Maps REST APIs. Two keys are provided for key rotation without interruption.
    properties:
      id:
        description: The full Azure resource identifier of the Maps Account.
        readOnly: true
        type: string
      primaryKey:
        description: The primary key for accessing the Maps REST APIs.
        readOnly: true
        type: string
      secondaryKey:
        description: The secondary key for accessing the Maps REST APIs.
        readOnly: true
        type: string
    type: object
  MapsAccountProperties:
    description: Additional Map account properties
    properties:
      x-ms-client-id:
        description: A unique identifier for the maps account
        type: string
  MapsAccountUpdateParameters:
    description: Parameters used to update an existing Maps Account.
    properties:
      sku:
        $ref: "#/definitions/Sku"
        description: The SKU of this account.
      tags:
        additionalProperties:
          type: string
        description: Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.
        type: object
    type: object
  MapsAccounts:
    description: A list of Maps Accounts.
    properties:
      value:
        description: a Maps Account.
        items:
          $ref: "#/definitions/MapsAccount"
        readOnly: true
        type: array
    type: object
  MapsKeySpecification:
    description: Whether the operation refers to the primary or secondary key.
    properties:
      keyType:
        description: Whether the operation refers to the primary or secondary key.
        enum:
          - primary
          - secondary
        type: string
        x-ms-enum:
          modelAsString: true
          name: KeyType
    required:
      - keyType
    type: object
  MapsOperations:
    description: The set of operations available for Maps.
    properties:
      value:
        description: An operation available for Maps.
        items:
          properties:
            display:
              description: The human-readable description of the operation.
              properties:
                description:
                  description: The description of the operation.
                  readOnly: true
                  type: string
                operation:
                  description: The action that users can perform, based on their permission level.
                  readOnly: true
                  type: string
                provider:
                  description: "Service provider: Microsoft Maps."
                  readOnly: true
                  type: string
                resource:
                  description: Resource on which the operation is performed.
                  readOnly: true
                  type: string
              type: object
            name:
              description: "Operation name: {provider}/{resource}/{operation}."
              readOnly: true
              type: string
            origin:
              description: The origin of the operation.
              readOnly: true
              type: string
          type: object
        readOnly: true
        type: array
    type: object
  PrivateAtlas:
    allOf:
      - allOf:
          - properties:
              id:
                description: Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}
                readOnly: true
                type: string
              name:
                description: The name of the resource
                readOnly: true
                type: string
              type:
                description: The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: The resource model definition for a ARM tracked top level resource
        properties:
          location:
            description: The geo-location where the resource lives
            type: string
            x-ms-mutability:
              - read
              - create
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
            x-ms-mutability:
              - read
              - create
              - update
        required:
          - location
    description: An Azure resource which represents which will provision the ability to create private location data.
    properties:
      properties:
        $ref: "#/definitions/PrivateAtlasProperties"
        description: The Private Atlas resource properties.
    type: object
  PrivateAtlasCreateParameters:
    description: Parameters used to create a new Private Atlas resource.
    properties:
      location:
        description: The location of the resource.
        type: string
      tags:
        additionalProperties:
          type: string
        description: Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.
        type: object
    required:
      - location
    type: object
  PrivateAtlasList:
    description: A list of Private Atlas resources.
    properties:
      value:
        description: a Private Atlas.
        items:
          $ref: "#/definitions/PrivateAtlas"
        readOnly: true
        type: array
    type: object
  PrivateAtlasProperties:
    description: Private Atlas resource properties
    properties:
      provisioningState:
        description: "The state of the resource provisioning, terminal states: Succeeded, Failed, Canceled"
        type: string
  PrivateAtlasUpdateParameters:
    description: Parameters used to update an existing Private Atlas resource.
    properties:
      tags:
        additionalProperties:
          type: string
        description: Gets or sets a list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups). A maximum of 15 tags can be provided for a resource. Each tag must have a key no greater than 128 characters and value no greater than 256 characters.
        type: object
    type: object
  Sku:
    description: The SKU of the Maps Account.
    properties:
      name:
        description: The name of the SKU, in standard format (such as S0).
        type: string
      tier:
        description: Gets the sku tier. This is based on the SKU name.
        readOnly: true
        type: string
    required:
      - name
