swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: CostManagementClient
  version: 2019-09-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cost-management/resource-manager/Microsoft.CostManagement/stable/2019-09-01/costmanagement.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: cost-management-costmanagement
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: Version of the API to be used with the client request. The current version is 2018-05-31.
    in: query
    name: api-version
    required: true
    type: string
  billingAccountIdParameter:
    description: BillingAccount ID
    in: path
    name: billingAccountId
    required: true
    type: string
    x-ms-parameter-location: method
  departmentIdParameter:
    description: Department ID
    in: path
    name: departmentId
    required: true
    type: string
    x-ms-parameter-location: method
  enrollmentAccountIdParameter:
    description: Enrollment Account ID
    in: path
    name: enrollmentAccountId
    required: true
    type: string
    x-ms-parameter-location: method
  exportNameParameter:
    description: Export Name.
    in: path
    name: exportName
    required: true
    type: string
    x-ms-parameter-location: method
  managementGroupIdParameter:
    description: ManagementGroup ID
    in: path
    name: managementGroupId
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: Azure Resource Group Name.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  scopeDimensionParameter:
    description: The scope associated with dimension operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope and '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management Group scope..
    in: path
    name: scope
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  scopeQueryParameter:
    description: The scope associated with query and export operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope and '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management Group scope..
    in: path
    name: scope
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  subscriptionIdParameter:
    description: Azure Subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.CostManagement/operations:
    get:
      description: Lists all of the available cost management REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/OperationListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  "/{scope}/providers/Microsoft.CostManagement/dimensions":
    get:
      description: Lists the dimensions by the defined scope.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Dimensions_ListBySubscription
      parameters:
        - $ref: "#/parameters/scopeDimensionParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - description: May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.
          in: query
          name: $filter
          required: false
          type: string
        - description: May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.
          in: query
          name: $expand
          required: false
          type: string
        - description: Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.
          in: query
          name: $skiptoken
          required: false
          type: string
        - description: May be used to limit the number of results to the most recent N dimension data.
          in: query
          maximum: 1000
          minimum: 1
          name: $top
          required: false
          type: integer
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/DimensionsListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Dimensions
      x-ms-examples:
        BillingAccountDimensionsList:
          parameters:
            api-version: 2019-09-01
            billingAccountId: "100"
            scope: providers/Microsoft.Billing/billingAccounts/100
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31
                    name: dimensions_ResourceGroup_2018-05-01_2018-05-31
                    properties:
                      category: ResourceGroup
                      data: []
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31
                    name: dimensions_ResourceType_2018-05-01_2018-05-31
                    properties:
                      category: ResourceType
                      data: []
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
        BillingAccountDimensionsListExpandAndTop:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2019-09-01
            billingAccountId: "100"
            scope: providers/Microsoft.Billing/billingAccounts/100
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceGroup
                      data:
                        - thoroetrg01
                        - default-notificationhubs-westus
                        - jedikeyvaultrg
                        - contosocodeflow8d4a
                        - noobaa
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceType_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.automation/automationaccounts
                        - microsoft.databricks/workspaces
                        - microsoft.dbformysql/servers
                        - microsoft.containerregistry/registries
                        - microsoft.search/searchservices
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
        BillingAccountDimensionsListWithFilter:
          parameters:
            $expand: properties/data
            $filter: properties/category eq 'resourceId'
            $top: 5
            api-version: 2019-09-01
            billingAccountId: "100"
            scope: providers/Microsoft.Billing/billingAccounts/100
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/providers/microsoft.CostManagement/dimensions_ResourceId_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceId_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceId
                      data:
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                        - /subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1
                        - /subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume
                      description: Resource Id
                      filterEnabled: true
                      groupingEnabled: true
                      nextLink: http://management.azure.com/ccmapi/providers/Microsoft.Billing/billingAccounts/100/providers/Microsoft.CostManagement/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2019-01-01&$expand=properties/data&$skiptoken=AQAAAA%3D%3D
                      total: 1409
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
        DepartmentDimensionsList:
          parameters:
            api-version: 2019-09-01
            billingAccountId: "100"
            departmentId: "123"
            scope: providers/Microsoft.Billing/billingAccounts/100/departments/123
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31
                    name: dimensions_ResourceGroup_2018-05-01_2018-05-31
                    properties:
                      category: ResourceGroup
                      data: []
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31
                    name: dimensions_ResourceType_2018-05-01_2018-05-31
                    properties:
                      category: ResourceType
                      data: []
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
        DepartmentDimensionsListExpandAndTop:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2019-09-01
            billingAccountId: "100"
            departmentId: "123"
            scope: providers/Microsoft.Billing/billingAccounts/100/departments/123
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceGroup
                      data:
                        - thoroetrg01
                        - default-notificationhubs-westus
                        - jedikeyvaultrg
                        - contosocodeflow8d4a
                        - noobaa
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceType_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.automation/automationaccounts
                        - microsoft.databricks/workspaces
                        - microsoft.dbformysql/servers
                        - microsoft.containerregistry/registries
                        - microsoft.search/searchservices
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
        DepartmentDimensionsListWithFilter:
          parameters:
            $expand: properties/data
            $filter: properties/category eq 'resourceId'
            $top: 5
            api-version: 2019-09-01
            billingAccountId: "100"
            departmentId: "123"
            scope: providers/Microsoft.Billing/billingAccounts/100/departments/123
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/microsoft.CostManagement/dimensions_ResourceId_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceId_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceId
                      data:
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                        - /subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1
                        - /subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume
                      description: Resource Id
                      filterEnabled: true
                      groupingEnabled: true
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/100/departments/123/providers/Microsoft.CostManagement/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2019-01-01&$expand=properties/data&$skiptoken=AQAAAA%3D%3D
                      total: 1409
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
        EnrollmentAccountDimensionsList:
          parameters:
            api-version: 2019-09-01
            billingAccountId: "100"
            enrollmentAccountId: "456"
            scope: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31
                    name: dimensions_ResourceGroup_2018-05-01_2018-05-31
                    properties:
                      category: ResourceGroup
                      data: []
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31
                    name: dimensions_ResourceType_2018-05-01_2018-05-31
                    properties:
                      category: ResourceType
                      data: []
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
        EnrollmentAccountDimensionsListExpandAndTop:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2019-09-01
            billingAccountId: "100"
            enrollmentAccountId: "456"
            scope: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceGroup
                      data:
                        - thoroetrg01
                        - default-notificationhubs-westus
                        - jedikeyvaultrg
                        - contosocodeflow8d4a
                        - noobaa
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
                  - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceType_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.automation/automationaccounts
                        - microsoft.databricks/workspaces
                        - microsoft.dbformysql/servers
                        - microsoft.containerregistry/registries
                        - microsoft.search/searchservices
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
        EnrollmentAccountDimensionsListWithFilter:
          parameters:
            $expand: properties/data
            $filter: properties/category eq 'resourceId'
            $top: 5
            api-version: 2019-09-01
            billingAccountId: "100"
            enrollmentAccountId: "456"
            scope: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/microsoft.CostManagement/dimensions_ResourceId_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceId_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceId
                      data:
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                        - /subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1
                        - /subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume
                      description: Resource Id
                      filterEnabled: true
                      groupingEnabled: true
                      nextLink: https://management.azure.com/providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/Microsoft.CostManagement/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2019-01-01&$expand=properties/data&$skiptoken=AQAAAA%3D%3D
                      total: 1409
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
        ManagementGroupDimensionsList:
          parameters:
            api-version: 2019-09-01
            managementGroupId: MyMgId
            scope: providers/Microsoft.Management/managementGroups/MyMgId
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Management/managementGroups/MyMgId/providers/microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31
                    name: dimensions_ResourceGroup_2018-05-01_2018-05-31
                    properties:
                      category: ResourceGroup
                      data: []
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
                  - id: providers/Microsoft.Management/managementGroups/MyMgId/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31
                    name: dimensions_ResourceType_2018-05-01_2018-05-31
                    properties:
                      category: ResourceType
                      data: []
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
        ManagementGroupDimensionsListExpandAndTop:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2019-09-01
            managementGroupId: MyMgId
            scope: providers/Microsoft.Management/managementGroups/MyMgId
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Management/managementGroups/MyMgId/providers/microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceGroup
                      data:
                        - thoroetrg01
                        - default-notificationhubs-westus
                        - jedikeyvaultrg
                        - contosocodeflow8d4a
                        - noobaa
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 377
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
                  - id: providers/Microsoft.Management/managementGroups/MyMgId/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceType_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.automation/automationaccounts
                        - microsoft.databricks/workspaces
                        - microsoft.dbformysql/servers
                        - microsoft.containerregistry/registries
                        - microsoft.search/searchservices
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 37
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
        ManagementGroupDimensionsListWithFilter:
          parameters:
            $expand: properties/data
            $filter: properties/category eq 'resourceId'
            $top: 5
            api-version: 2019-09-01
            managementGroupId: MyMgId
            scope: providers/Microsoft.Management/managementGroups/MyMgId
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Management/managementGroups/MyMgId/providers/microsoft.CostManagement/dimensions_ResourceId_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceId_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceId
                      data:
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/urphealthaccount
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                        - /subscriptions/67e24f6b-1ec2-4c90-993a-dc2d25b00b6c/resourcegroups/defaultresourcegroup-eus/providers/microsoft.operationalinsights/workspaces/defaultworkspace-67e24f6b-1ec2-4c90-993a-dc2d25b00b6c-eus
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/rg-sql-ha/providers/microsoft.compute/virtualmachines/sql-4qqp1
                        - /subscriptions/a98d6dc5-eb8f-46cf-8938-f1fb08f03706/resourcegroups/databricks-rg-testwsp-xijmsdubneexm/providers/microsoft.compute/disks/488cdb42bf74474a98075415be3f806c-containerrootvolume
                      description: Resource Id
                      filterEnabled: true
                      groupingEnabled: true
                      nextLink: http://management.azure.com/providers/Microsoft.Management/managementGroups/MyMgId/providers/Microsoft.CostManagement/Dimensions?$filter=properties/category eq 'resourceId'&$top=5&api-version=2019-01-01&$expand=properties/data&$skiptoken=AQAAAA%3D%3D
                      total: 1409
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
        ResourceGroupDimensionsList:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2019-09-01
            resourceGroupName: system.orlando
            scope: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/system.orlando
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/system.orlando/providers/microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceType_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.storage/storageaccounts
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 1
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/system.orlando/providers/microsoft.CostManagement/dimensions_ResourceId_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceId_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceId
                      data:
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/authprod
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/systemevents
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/armadminprod
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/srphytenaccount
                        - /subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/system.orlando/providers/microsoft.storage/storageaccounts/publicsystemportal
                      description: Resource Id
                      filterEnabled: true
                      groupingEnabled: true
                      total: 27
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
        SubscriptionDimensionsList:
          parameters:
            $expand: properties/data
            $top: 5
            api-version: 2019-09-01
            scope: subscriptions/00000000-0000-0000-0000-000000000000
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceGroup_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceGroup
                      data:
                        - dcrg
                        - rg
                        - offlinegalleryrg
                        - system.orlando.adminkeyvault
                        - system.orlando.keyvault
                      description: Resource group
                      filterEnabled: true
                      groupingEnabled: true
                      total: 68
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/dimensions_ResourceType_2018-05-01_2018-05-31_5
                    name: dimensions_ResourceType_2018-05-01_2018-05-31_5
                    properties:
                      category: ResourceType
                      data:
                        - microsoft.storage/storageaccounts
                        - microsoft.web.admin/role
                        - microsoft.sql/servers
                        - microsoft.compute/virtualmachines
                      description: Resource type
                      filterEnabled: true
                      groupingEnabled: true
                      total: 4
                      usageEnd: 2018-05-31T00:00:00-07:00
                      usageStart: 2018-05-01T00:00:00-07:00
                    type: microsoft.CostManagement/dimensions
      x-ms-odata: "#/definitions/Dimension"
      x-ms-pageable:
        nextLinkName: null
  "/{scope}/providers/Microsoft.CostManagement/exports":
    get:
      description: The operation to list all exports at the given scope.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Exports_List
      parameters:
        - $ref: "#/parameters/scopeQueryParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/ExportListResult"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Exports
      x-ms-examples:
        BillingAccountExportList:
          parameters:
            api-version: 2019-09-01
            billingAccountId: "123456"
            scope: providers/Microsoft.Billing/billingAccounts/123456
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/123456/providers/Microsoft.CostManagement/exports/TestExport1
                    name: TestExport1
                    properties:
                      definition:
                        dataset:
                          aggregation:
                            costSum:
                              function: Sum
                              name: PreTaxCost
                          configuration:
                            columns:
                              - Date
                              - MeterId
                              - InstanceId
                              - ResourceLocation
                              - PreTaxCost
                          filter:
                            and:
                              - or:
                                  - dimension:
                                      name: ResourceLocation
                                      operator: In
                                      values:
                                        - East US
                                        - West Europe
                                  - tag:
                                      name: Environment
                                      operator: In
                                      values:
                                        - UAT
                                        - Prod
                              - dimension:
                                  name: ResourceGroup
                                  operator: In
                                  values:
                                    - API
                          granularity: Daily
                          grouping:
                            - name: SubscriptionName
                              type: Dimension
                        timePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        timeframe: Custom
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: exports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ad-hoc
                      format: Csv
                    type: Microsoft.CostManagement/exports
                  - id: providers/Microsoft.Billing/billingAccounts/123456/providers/Microsoft.CostManagement/exports/TestExport2
                    name: TestExport2
                    properties:
                      definition:
                        dataset:
                          aggregation:
                            usageSum:
                              function: Sum
                              name: UsageQuantity
                          configuration:
                            columns:
                              - Date
                              - MeterId
                              - InstanceId
                              - ResourceLocation
                              - UsageQuantity
                          filter:
                            and:
                              - dimension:
                                  name: ResourceLocation
                                  operator: In
                                  values:
                                    - East US
                                    - West Europe
                              - tag:
                                  name: Environment
                                  operator: In
                                  values:
                                    - UAT
                                    - Prod
                          granularity: Daily
                          grouping:
                            - name: Environment
                              type: Tag
                        timeframe: WeekToDate
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: exports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ad-hoc
                      format: Csv
                      schedule:
                        recurrence: Weekly
                        recurrencePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        status: Active
                    type: Microsoft.CostManagement/exports
        DepartmentExportList:
          parameters:
            api-version: 2019-09-01
            billingAccountId: "12"
            departmentId: "1234"
            scope: providers/Microsoft.Billing/billingAccounts/12/departments/123
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/12/departments/1234/providers/Microsoft.CostManagement/exports/TestExport1
                    name: TestExport1
                    properties:
                      definition:
                        dataset:
                          aggregation:
                            costSum:
                              function: Sum
                              name: PreTaxCost
                          configuration:
                            columns:
                              - Date
                              - MeterId
                              - InstanceId
                              - ResourceLocation
                              - PreTaxCost
                          filter:
                            and:
                              - or:
                                  - dimension:
                                      name: ResourceLocation
                                      operator: In
                                      values:
                                        - East US
                                        - West Europe
                                  - tag:
                                      name: Environment
                                      operator: In
                                      values:
                                        - UAT
                                        - Prod
                              - dimension:
                                  name: ResourceGroup
                                  operator: In
                                  values:
                                    - API
                          granularity: Daily
                          grouping:
                            - name: SubscriptionName
                              type: Dimension
                        timePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        timeframe: Custom
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: exports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ad-hoc
                      format: Csv
                    type: Microsoft.CostManagement/exports
                  - id: providers/Microsoft.Billing/billingAccounts/12/departments/1234/providers/Microsoft.CostManagement/exports/TestExport2
                    name: TestExport2
                    properties:
                      definition:
                        dataset:
                          aggregation:
                            usageSum:
                              function: Sum
                              name: UsageQuantity
                          configuration:
                            columns:
                              - Date
                              - MeterId
                              - InstanceId
                              - ResourceLocation
                              - UsageQuantity
                          filter:
                            and:
                              - dimension:
                                  name: ResourceLocation
                                  operator: In
                                  values:
                                    - East US
                                    - West Europe
                              - tag:
                                  name: Environment
                                  operator: In
                                  values:
                                    - UAT
                                    - Prod
                          granularity: Daily
                          grouping:
                            - name: Environment
                              type: Tag
                        timeframe: WeekToDate
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: exports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ad-hoc
                      format: Csv
                      schedule:
                        recurrence: Weekly
                        recurrencePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        status: Active
                    type: Microsoft.CostManagement/exports
        EnrollmentAccountExportList:
          parameters:
            api-version: 2019-09-01
            billingAccountId: "100"
            enrollmentAccountId: "456"
            scope: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/Microsoft.CostManagement/exports/TestExport1
                    name: TestExport1
                    properties:
                      definition:
                        dataset:
                          aggregation:
                            costSum:
                              function: Sum
                              name: PreTaxCost
                          configuration:
                            columns:
                              - Date
                              - MeterId
                              - InstanceId
                              - ResourceLocation
                              - PreTaxCost
                          filter:
                            and:
                              - or:
                                  - dimension:
                                      name: ResourceLocation
                                      operator: In
                                      values:
                                        - East US
                                        - West Europe
                                  - tag:
                                      name: Environment
                                      operator: In
                                      values:
                                        - UAT
                                        - Prod
                              - dimension:
                                  name: ResourceGroup
                                  operator: In
                                  values:
                                    - API
                          granularity: Daily
                          grouping:
                            - name: SubscriptionName
                              type: Dimension
                        timePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        timeframe: Custom
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: exports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ad-hoc
                      format: Csv
                    type: Microsoft.CostManagement/exports
                  - id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/Microsoft.CostManagement/exports/TestExport2
                    name: TestExport2
                    properties:
                      definition:
                        dataset:
                          aggregation:
                            usageSum:
                              function: Sum
                              name: UsageQuantity
                          configuration:
                            columns:
                              - Date
                              - MeterId
                              - InstanceId
                              - ResourceLocation
                              - UsageQuantity
                          filter:
                            and:
                              - dimension:
                                  name: ResourceLocation
                                  operator: In
                                  values:
                                    - East US
                                    - West Europe
                              - tag:
                                  name: Environment
                                  operator: In
                                  values:
                                    - UAT
                                    - Prod
                          granularity: Daily
                          grouping:
                            - name: Environment
                              type: Tag
                        timeframe: WeekToDate
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: exports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ad-hoc
                      format: Csv
                      schedule:
                        recurrence: Weekly
                        recurrencePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        status: Active
                    type: Microsoft.CostManagement/exports
        ManagementGroupExportList:
          parameters:
            api-version: 2019-09-01
            managementGroupId: TestMG
            scope: providers/Microsoft.Management/managementGroups/TestMG
          responses:
            "200":
              body:
                value:
                  - id: providers/Microsoft.Management/managementGroups/TestMG/providers/Microsoft.CostManagement/exports/TestExport1
                    name: TestExport1
                    properties:
                      definition:
                        dataset:
                          aggregation:
                            costSum:
                              function: Sum
                              name: PreTaxCost
                          configuration:
                            columns:
                              - Date
                              - MeterId
                              - InstanceId
                              - ResourceLocation
                              - PreTaxCost
                          filter:
                            and:
                              - or:
                                  - dimension:
                                      name: ResourceLocation
                                      operator: In
                                      values:
                                        - East US
                                        - West Europe
                                  - tag:
                                      name: Environment
                                      operator: In
                                      values:
                                        - UAT
                                        - Prod
                              - dimension:
                                  name: ResourceGroup
                                  operator: In
                                  values:
                                    - API
                          granularity: Daily
                          grouping:
                            - name: SubscriptionName
                              type: Dimension
                        timePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        timeframe: Custom
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: exports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ad-hoc
                      format: Csv
                    type: Microsoft.CostManagement/exports
                  - id: providers/Microsoft.Management/managementGroups/TestMG/providers/Microsoft.CostManagement/exports/TestExport2
                    name: TestExport2
                    properties:
                      definition:
                        dataset:
                          aggregation:
                            usageSum:
                              function: Sum
                              name: UsageQuantity
                          configuration:
                            columns:
                              - Date
                              - MeterId
                              - InstanceId
                              - ResourceLocation
                              - UsageQuantity
                          filter:
                            and:
                              - dimension:
                                  name: ResourceLocation
                                  operator: In
                                  values:
                                    - East US
                                    - West Europe
                              - tag:
                                  name: Environment
                                  operator: In
                                  values:
                                    - UAT
                                    - Prod
                          granularity: Daily
                          grouping:
                            - name: Environment
                              type: Tag
                        timeframe: WeekToDate
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: exports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ad-hoc
                      format: Csv
                      schedule:
                        recurrence: Weekly
                        recurrencePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        status: Active
                    type: Microsoft.CostManagement/exports
        ResourceGroupExportList:
          parameters:
            api-version: 2019-09-01
            resourceGroupName: MYDEVTESTRG
            scope: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.CostManagement/exports/TestExport1
                    name: TestExport1
                    properties:
                      definition:
                        dataset:
                          aggregation:
                            costSum:
                              function: Sum
                              name: PreTaxCost
                          configuration:
                            columns:
                              - Date
                              - MeterId
                              - InstanceId
                              - ResourceLocation
                              - PreTaxCost
                          filter:
                            and:
                              - or:
                                  - dimension:
                                      name: ResourceLocation
                                      operator: In
                                      values:
                                        - East US
                                        - West Europe
                                  - tag:
                                      name: Environment
                                      operator: In
                                      values:
                                        - UAT
                                        - Prod
                              - dimension:
                                  name: ResourceGroup
                                  operator: In
                                  values:
                                    - API
                          granularity: Daily
                          grouping:
                            - name: SubscriptionName
                              type: Dimension
                        timePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        timeframe: Custom
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: exports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ad-hoc
                      format: Csv
                    type: Microsoft.CostManagement/exports
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.CostManagement/exports/TestExport2
                    name: TestExport2
                    properties:
                      definition:
                        dataset:
                          aggregation:
                            usageSum:
                              function: Sum
                              name: UsageQuantity
                          configuration:
                            columns:
                              - Date
                              - MeterId
                              - InstanceId
                              - ResourceLocation
                              - UsageQuantity
                          filter:
                            and:
                              - dimension:
                                  name: ResourceLocation
                                  operator: In
                                  values:
                                    - East US
                                    - West Europe
                              - tag:
                                  name: Environment
                                  operator: In
                                  values:
                                    - UAT
                                    - Prod
                          granularity: Daily
                          grouping:
                            - name: Environment
                              type: Tag
                        timeframe: WeekToDate
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: exports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ad-hoc
                      format: Csv
                      schedule:
                        recurrence: Weekly
                        recurrencePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        status: Active
                    type: Microsoft.CostManagement/exports
        SubscriptionExportList:
          parameters:
            api-version: 2019-09-01
            scope: subscriptions/00000000-0000-0000-0000-000000000000
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports/TestExport1
                    name: TestExport1
                    properties:
                      definition:
                        dataset:
                          aggregation:
                            costSum:
                              function: Sum
                              name: PreTaxCost
                          configuration:
                            columns:
                              - Date
                              - MeterId
                              - InstanceId
                              - ResourceLocation
                              - PreTaxCost
                          filter:
                            and:
                              - or:
                                  - dimension:
                                      name: ResourceLocation
                                      operator: In
                                      values:
                                        - East US
                                        - West Europe
                                  - tag:
                                      name: Environment
                                      operator: In
                                      values:
                                        - UAT
                                        - Prod
                              - dimension:
                                  name: ResourceGroup
                                  operator: In
                                  values:
                                    - API
                          granularity: Daily
                          grouping:
                            - name: SubscriptionName
                              type: Dimension
                        timePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        timeframe: Custom
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: exports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ad-hoc
                      format: Csv
                    type: Microsoft.CostManagement/exports
                  - id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports/TestExport2
                    name: TestExport2
                    properties:
                      definition:
                        dataset:
                          aggregation:
                            usageSum:
                              function: Sum
                              name: UsageQuantity
                          configuration:
                            columns:
                              - Date
                              - MeterId
                              - InstanceId
                              - ResourceLocation
                              - UsageQuantity
                          filter:
                            and:
                              - dimension:
                                  name: ResourceLocation
                                  operator: In
                                  values:
                                    - East US
                                    - West Europe
                              - tag:
                                  name: Environment
                                  operator: In
                                  values:
                                    - UAT
                                    - Prod
                          granularity: Daily
                          grouping:
                            - name: Environment
                              type: Tag
                        timeframe: WeekToDate
                        type: Usage
                      deliveryInfo:
                        destination:
                          container: exports
                          resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                          rootFolderPath: ad-hoc
                      format: Csv
                      schedule:
                        recurrence: Weekly
                        recurrencePeriod:
                          from: 2018-06-01T00:00:00Z
                          to: 2018-10-31T00:00:00Z
                        status: Active
                    type: Microsoft.CostManagement/exports
  "/{scope}/providers/Microsoft.CostManagement/exports/{exportName}":
    delete:
      description: The operation to delete a export.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Exports_Delete
      parameters:
        - $ref: "#/parameters/scopeQueryParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/exportNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Exports
      x-ms-examples:
        BillingAccountDeleteExport:
          parameters:
            api-version: 2019-09-01
            billingAccountId: "123456"
            exportName: TestExport
            scope: providers/Microsoft.Billing/billingAccounts/123456
          responses:
            "200": {}
        DepartmentDeleteExport:
          parameters:
            api-version: 2019-09-01
            billingAccountId: "12"
            departmentId: "1234"
            exportName: TestExport
            scope: providers/Microsoft.Billing/billingAccounts/12/departments/1234
          responses:
            "200": {}
        EnrollmentAccountDeleteExport:
          parameters:
            api-version: 2019-09-01
            billingAccountId: "100"
            enrollmentAccountId: "456"
            exportName: TestExport
            scope: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456
          responses:
            "200": {}
        ManagementGroupDeleteExport:
          parameters:
            api-version: 2019-09-01
            exportName: TestExport
            managementGroupId: TestMG
            scope: providers/Microsoft.Management/managementGroups/TestMG
          responses:
            "200": {}
        ResourceGroupDeleteExport:
          parameters:
            api-version: 2019-09-01
            exportName: TestExport
            resourceGroupName: MYDEVTESTRG
            scope: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
        SubscriptionDeleteExport:
          parameters:
            api-version: 2019-09-01
            exportName: TestExport
            scope: subscriptions/00000000-0000-0000-0000-000000000000
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
    get:
      description: The operation to get the export for the defined scope by export name.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Exports_Get
      parameters:
        - $ref: "#/parameters/scopeQueryParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/exportNameParameter"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Export"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Exports
      x-ms-examples:
        BillingAccountExport:
          parameters:
            api-version: 2019-09-01
            billingAccountId: "123456"
            exportName: TestExport
            scope: providers/Microsoft.Billing/billingAccounts/123456
          responses:
            "200":
              body:
                id: providers/Microsoft.Billing/billingAccounts/{billingAccount-Id}/providers/Microsoft.CostManagement/exports/TestExport
                name: TestExport
                properties:
                  definition:
                    dataset:
                      aggregation:
                        usageSum:
                          function: Sum
                          name: UsageQuantity
                      configuration:
                        columns:
                          - UsageDate
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - UsageQuantity
                      filter:
                        and:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                                - East US
                                - West Europe
                          - tag:
                              name: Environment
                              operator: Contains
                              values:
                                - UAT
                                - Prod
                      granularity: Daily
                      grouping:
                        - name: SubscriptionName
                          type: Dimension
                        - name: Environment
                          type: Tag
                    timePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    timeframe: Custom
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: exports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                type: Microsoft.CostManagement/exports
        DepartmentExport:
          parameters:
            api-version: 2019-09-01
            billingAccountId: "12"
            departmentId: "1234"
            exportName: TestExport
            scope: providers/Microsoft.Billing/billingAccounts/12/departments/1234
          responses:
            "200":
              body:
                id: providers/Microsoft.Billing/billingAccounts/12/departments/1234/providers/Microsoft.CostManagement/exports/TestExport
                name: TestExport
                properties:
                  definition:
                    dataset:
                      aggregation:
                        usageSum:
                          function: Sum
                          name: UsageQuantity
                      configuration:
                        columns:
                          - UsageDate
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - UsageQuantity
                      filter:
                        and:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                                - East US
                                - West Europe
                          - tag:
                              name: Environment
                              operator: Contains
                              values:
                                - UAT
                                - Prod
                      granularity: Daily
                      grouping:
                        - name: SubscriptionName
                          type: Dimension
                        - name: Environment
                          type: Tag
                    timePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    timeframe: Custom
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: exports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                type: Microsoft.CostManagement/exports
        EnrollmentAccountExport:
          parameters:
            api-version: 2019-09-01
            billingAccountId: "100"
            enrollmentAccountId: "456"
            exportName: TestExport
            scope: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456
          responses:
            "200":
              body:
                id: providers/Microsoft.Billing/billingAccounts/100/enrollmentAccounts/456/providers/Microsoft.CostManagement/exports/TestExport
                name: TestExport
                properties:
                  definition:
                    dataset:
                      aggregation:
                        usageSum:
                          function: Sum
                          name: UsageQuantity
                      configuration:
                        columns:
                          - UsageDate
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - UsageQuantity
                      filter:
                        and:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                                - East US
                                - West Europe
                          - tag:
                              name: Environment
                              operator: Contains
                              values:
                                - UAT
                                - Prod
                      granularity: Daily
                      grouping:
                        - name: SubscriptionName
                          type: Dimension
                        - name: Environment
                          type: Tag
                    timePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    timeframe: Custom
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: exports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                type: Microsoft.CostManagement/exports
        ManagementGroupExport:
          parameters:
            api-version: 2019-09-01
            exportName: TestExport
            managementGroupId: TestMG
            scope: providers/Microsoft.Management/managementGroups/TestMG
          responses:
            "200":
              body:
                id: providers/Microsoft.Management/managementGroups/TestMG/providers/Microsoft.CostManagement/exports/TestExport
                name: TestExport
                properties:
                  definition:
                    dataset:
                      aggregation:
                        usageSum:
                          function: Sum
                          name: UsageQuantity
                      configuration:
                        columns:
                          - UsageDate
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - UsageQuantity
                      filter:
                        and:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                                - East US
                                - West Europe
                          - tag:
                              name: Environment
                              operator: Contains
                              values:
                                - UAT
                                - Prod
                      granularity: Daily
                      grouping:
                        - name: SubscriptionName
                          type: Dimension
                        - name: Environment
                          type: Tag
                    timePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    timeframe: Custom
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: exports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                type: Microsoft.CostManagement/exports
        ResourceGroupExport:
          parameters:
            api-version: 2019-09-01
            exportName: TestExport
            resourceGroupName: MYDEVTESTRG
            scope: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.CostManagement/exports/TestExport
                name: TestExport
                properties:
                  definition:
                    dataset:
                      aggregation:
                        usageSum:
                          function: Sum
                          name: UsageQuantity
                      configuration:
                        columns:
                          - UsageDate
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - UsageQuantity
                      filter:
                        and:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                                - East US
                                - West Europe
                          - tag:
                              name: Environment
                              operator: Contains
                              values:
                                - UAT
                                - Prod
                      granularity: Daily
                      grouping:
                        - name: SubscriptionName
                          type: Dimension
                        - name: Environment
                          type: Tag
                    timePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    timeframe: Custom
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: exports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                type: Microsoft.CostManagement/exports
        SubscriptionExport:
          parameters:
            api-version: 2019-09-01
            exportName: TestExport
            scope: subscriptions/00000000-0000-0000-0000-000000000000
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.CostManagement/exports/TestExport
                name: TestExport
                properties:
                  definition:
                    dataset:
                      aggregation:
                        usageSum:
                          function: Sum
                          name: UsageQuantity
                      configuration:
                        columns:
                          - UsageDate
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - UsageQuantity
                      filter:
                        and:
                          - dimension:
                              name: ResourceLocation
                              operator: In
                              values:
                                - East US
                                - West Europe
                          - tag:
                              name: Environment
                              operator: Contains
                              values:
                                - UAT
                                - Prod
                      granularity: Daily
                      grouping:
                        - name: SubscriptionName
                          type: Dimension
                        - name: Environment
                          type: Tag
                    timePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    timeframe: Custom
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: exports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                type: Microsoft.CostManagement/exports
    put:
      description: The operation to create or update a export. Update operation requires latest eTag to be set in the request. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.
      externalDocs:
        url: https://docs.microsoft.com/en-us/rest/api/costmanagement/
      operationId: Exports_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/scopeQueryParameter"
        - $ref: "#/parameters/apiVersionParameter"
        - $ref: "#/parameters/exportNameParameter"
        - description: Parameters supplied to the CreateOrUpdate Export operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/Export"
      responses:
        "200":
          description: OK. The request has succeeded.
          schema:
            $ref: "#/definitions/Export"
        "201":
          description: Created.
          schema:
            $ref: "#/definitions/Export"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/ErrorResponse"
      tags:
        - Exports
      x-ms-examples:
        BillingAccountCreateOrUpdateExport:
          parameters:
            api-version: 2019-09-01
            billingAccountId: "123456"
            exportName: TestExport
            parameters:
              properties:
                definition:
                  dataset:
                    aggregation:
                      costSum:
                        function: Sum
                        name: PreTaxCost
                    configuration:
                      columns:
                        - Date
                        - MeterId
                        - InstanceId
                        - ResourceLocation
                        - PreTaxCost
                    filter:
                      and:
                        - or:
                            - dimension:
                                name: ResourceLocation
                                operator: In
                                values:
                                  - East US
                                  - West Europe
                            - tag:
                                name: Environment
                                operator: In
                                values:
                                  - UAT
                                  - Prod
                        - dimension:
                            name: ResourceGroup
                            operator: In
                            values:
                              - API
                    granularity: Daily
                    grouping:
                      - name: SubscriptionName
                        type: Dimension
                      - name: Environment
                        type: Tag
                  timeframe: MonthToDate
                  type: Usage
                deliveryInfo:
                  destination:
                    container: exports
                    resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                    rootFolderPath: ad-hoc
                format: Csv
                schedule:
                  recurrence: Weekly
                  recurrencePeriod:
                    from: 2018-06-01T00:00:00Z
                    to: 2018-10-31T00:00:00Z
                  status: Active
            scope: providers/Microsoft.Billing/billingAccounts/123456
          responses:
            "200":
              body:
                id: providers/Microsoft.Billing/billingAccounts/123456/providers/Microsoft.CostManagement/exports/TestExport
                name: TestExport
                properties:
                  definition:
                    dataset:
                      aggregation:
                        costSum:
                          function: Sum
                          name: PreTaxCost
                      configuration:
                        columns:
                          - Date
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - PreTaxCost
                      filter:
                        and:
                          - or:
                              - dimension:
                                  name: ResourceLocation
                                  operator: In
                                  values:
                                    - East US
                                    - West Europe
                              - tag:
                                  name: Environment
                                  operator: In
                                  values:
                                    - UAT
                                    - Prod
                          - dimension:
                              name: ResourceGroup
                              operator: In
                              values:
                                - API
                      granularity: Daily
                      grouping:
                        - name: SubscriptionName
                          type: Dimension
                        - name: Environment
                          type: Tag
                    timeframe: MonthToDate
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: exports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                  schedule:
                    recurrence: Weekly
                    recurrencePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    status: Active
                type: Microsoft.CostManagement/exports
            "201":
              body:
                id: providers/Microsoft.Billing/billingAccounts/123456/providers/Microsoft.CostManagement/exports/TestExport
                name: TestExport
                properties:
                  definition:
                    dataset:
                      aggregation:
                        costSum:
                          function: Sum
                          name: PreTaxCost
                      configuration:
                        columns:
                          - Date
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - PreTaxCost
                      filter:
                        and:
                          - or:
                              - dimension:
                                  name: ResourceLocation
                                  operator: In
                                  values:
                                    - East US
                                    - West Europe
                              - tag:
                                  name: Environment
                                  operator: In
                                  values:
                                    - UAT
                                    - Prod
                          - dimension:
                              name: ResourceGroup
                              operator: In
                              values:
                                - API
                      granularity: Daily
                      grouping:
                        - name: SubscriptionName
                          type: Dimension
                        - name: Environment
                          type: Tag
                    timeframe: MonthToDate
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: exports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                  schedule:
                    recurrence: Weekly
                    recurrencePeriod:
                      from: 2018-06-01T00:00:00Z
                      to: 2018-10-31T00:00:00Z
                    status: Active
                type: Microsoft.CostManagement/exports
        DepartmentCreateOrUpdateExport:
          parameters:
            api-version: 2019-09-01
            billingAccountId: "12"
            departmentId: "1234"
            exportName: TestExport
            parameters:
              properties:
                definition:
                  dataset:
                    aggregation:
                      costSum:
                        function: Sum
                        name: PreTaxCost
                    configuration:
                      columns:
                        - Date
                        - MeterId
                        - InstanceId
                        - ResourceLocation
                        - PreTaxCost
                    filter:
                      and:
                        - or:
                            - dimension:
                                name: ResourceLocation
                                operator: In
                                values:
                                  - East US
                                  - West Europe
                            - tag:
                                name: Environment
                                operator: In
                                values:
                                  - UAT
                                  - Prod
                        - dimension:
                            name: ResourceGroup
                            operator: In
                            values:
                              - API
                    granularity: Daily
                    grouping:
                      - name: SubscriptionName
                        type: Dimension
                      - name: Environment
                        type: Tag
                  timeframe: MonthToDate
                  type: Usage
                deliveryInfo:
                  destination:
                    container: exports
                    resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                    rootFolderPath: ad-hoc
                format: Csv
                schedule:
                  recurrence: Weekly
                  recurrencePeriod:
                    from: 2018-06-01T00:00:00Z
                    to: 2018-10-31T00:00:00Z
                  status: Active
            scope: providers/Microsoft.Billing/billingAccounts/12/departments/1234
          responses:
            "200":
              body:
                id: providers/Microsoft.Billing/billingAccounts/12/departments/1234/providers/Microsoft.CostManagement/exports/TestExport
                name: TestExport
                properties:
                  definition:
                    dataset:
                      aggregation:
                        costSum:
                          function: Sum
                          name: PreTaxCost
                      configuration:
                        columns:
                          - Date
                          - MeterId
                          - InstanceId
                          - ResourceLocation
                          - PreTaxCost
                      filter:
                        and:
                          - or:
                              - dimension:
                                  name: ResourceLocation
                                  operator: In
                                  values:
                                    - East US
                                    - West Europe
                              - tag:
                                  name: Environment
                                  operator: In
                                  values:
                                    - UAT
                                    - Prod
                          - dimension:
                              name: ResourceGroup
                              operator: In
                              values:
                                - API
                      granularity: Daily
                      grouping:
                        - name: SubscriptionName
                          type: Dimension
                        - name: Environment
                          type: Tag
                    timeframe: MonthToDate
                    type: Usage
                  deliveryInfo:
                    destination:
                      container: exports
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/MYDEVTESTRG/providers/Microsoft.Storage/storageAccounts/ccmeastusdiag182
                      rootFolderPath: ad-hoc
                  format: Csv
                  schedule:
                    recurrence: Weekly
[...]
