swagger: "2.0"
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: Volume operation endpoints and objects.
  title: FabricAdminClient
  version: 2018-10-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/preview/2018-10-01/Volume.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: azsadmin-Volume
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Authorization uses an Azure Active Directory OAuth2 flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    default: 2018-10-01
    description: Client API Version.
    in: query
    name: api-version
    required: true
    type: string
  VolumeParameter:
    description: Name of the storage volume.
    in: path
    name: volume
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/volumes":
    get:
      description: Returns a list of all storage volumes at a location.
      operationId: Volumes_List
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the scale units.
          in: path
          name: scaleUnit
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the storage system.
          in: path
          name: storageSubSystem
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ApiVersionParameter"
        - description: OData filter parameter.
          in: query
          name: $filter
          type: string
          x-ms-parameter-location: method
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/VolumeList"
        "404":
          description: NOT FOUND
      tags:
        - Volumes
      x-ms-examples:
        Returns a list of all storage volumes at a location.:
          parameters:
            api-version: 2018-10-01
            location: local
            resourceGroupName: System.local
            scaleUnit: S-Cluster
            storageSubSystem: S-Cluster.azurestack.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster/storageSubSystems/S-Cluster.azurestack.local/volumes/05c1cbb7
                    location: local
                    name: 05c1cbb7
                    properties:
                      action: ""
                      description: ""
                      healthStatus: Healthy
                      operationalStatus: OK
                      remainingCapacityGB: 30416
                      repairStatus: ""
                      totalCapacityGB: 30797
                      volumeLabel: SU1_Volume
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits/storageSubSystems/volumes
            "404": {}
      x-ms-odata: "#/definitions/Volume"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/scaleUnits/{scaleUnit}/storageSubSystems/{storageSubSystem}/volumes/{volume}":
    get:
      description: Return the requested a storage volume.
      operationId: Volumes_Get
      parameters:
        - description: Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the scale units.
          in: path
          name: scaleUnit
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Name of the storage system.
          in: path
          name: storageSubSystem
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/VolumeParameter"
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Volume"
        "404":
          description: NOT FOUND
      tags:
        - Volumes
      x-ms-examples:
        Return the requested a storage volume.:
          parameters:
            api-version: 2018-10-01
            location: local
            resourceGroupName: System.local
            scaleUnit: S-Cluster
            storageSubSystem: S-Cluster.azurestack.local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
            volume: 28fbffa4
          responses:
            "200":
              body:
                id: /subscriptions/36e98cad-c8a5-4580-bef7-af878a237908/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/scaleUnits/S-Cluster/storageSubSystems/S-Cluster.azurestack.local/volumes/05c1cbb7
                location: local
                name: 05c1cbb7
                properties:
                  action: ""
                  description: ""
                  healthStatus: Healthy
                  operationalStatus: OK
                  remainingCapacityGB: 30416
                  repairStatus: ""
                  totalCapacityGB: 30797
                  volumeLabel: SU1_Volume
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/scaleUnits/storageSubSystems/volumes
            "404": {}
definitions:
  Volume:
    allOf:
      - description: Base resource object.
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: The region where the resource is located.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key-value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Representation of a volume resource.
    properties:
      properties:
        $ref: "#/definitions/VolumeModel"
        description: Properties of a volume.
        x-ms-client-flatten: true
    type: object
  VolumeList:
    description: Pageable list of storage volumes.
    properties:
      nextLink:
        description: URI to the next page.
        type: string
      value:
        description: List of storage volumes.
        items:
          $ref: "#/definitions/Volume"
        type: array
    type: object
  VolumeModel:
    description: Properties of a volume.
    properties:
      action:
        description: Detailed recommended action for HealthStatus/OperationalStatus. Empty if HealthStatus/OperationalStatus is Healthy/Ok.
        type: string
      description:
        description: Detailed description for HealthStatus/OperationalStatus. Empty if HealthStatus/OperationalStatus is Healthy/Ok.
        type: string
      healthStatus:
        description: Health status of the volume.
        type: string
      operationalStatus:
        description: Operational status of the volume.
        type: string
      remainingCapacityGB:
        description: Remaining capacity in GB of the volume.
        format: int32
        type: integer
      repairStatus:
        description: Repair status of the volume. Empty if no repair job running, something like 'Running, 90%' when repairing.
        type: string
      totalCapacityGB:
        description: Total capacity in GB of the volume.
        format: int32
        type: integer
      volumeLabel:
        description: Volume label.
        type: string
    type: object
