swagger: "2.0"
schemes:
  - https
host: echodata.epa.gov
basePath: /echo
info:
  contact:
    name: U.S. EPA, OECA Integration, Targeting and Access Branch
    url: https://echo.epa.gov/resources/general-info/contact-us
  description: "Enforcement and Compliance History Online (ECHO) is a tool developed and maintained by EPA's Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated compliance and enforcement information for over 1 million regulated facilities nationwide.

    \ CWA Rest Services provides multiple service endpoints, each with specific capabilities, to search and retrieve data on facilities regulated under the Clean Water Act (CWA) and managed under the National Pollutant Discharge Elimination System (NPDES) program. The returned results reflect data drawn from EPA's ICIS-NPDES database.

    \\

    The get_facilities, get_map, get_qid, and get_download end points are meant to be used together, while the enhanced get_facility_info end point is self contained.

    \  The get_facility_info end point returns either an array of state, county or zip clusters with summary statistics per cluster or an array of facilities.

    \\

    The recommended use scenario for get_facilities, get_qid, get_map, and get_downoad is:

    \\

    \ <b>1)</b>  Use get_facilities to validate passed query parameters, obtain summary statistics and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for approximately 30 minutes.

    \ <b>2)</b>  Use get_qid, with the returned QID, to paginate through arrays of facility results.

    \ <b>3)</b>  Use get_map, with the returned QID, to zoom in/out and pan on the clustered and individual facility coordinates that meet the QID query criteria.

    \ <b>4)</b>  Use get_download, with the returned QID, to generate a Comma Separated Value (CSV) file of facility information that meets the QID query criteria.

    \\

    \\

    Use the qcolumns parameter to customize your search results.  Use the Metadata service endpoint for a list of available output objects, their Column Ids, and their definitions to help you build your customized output.\ 

    \\

    Additional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>

    \ "
  license:
    name: U.S. Public Domain License
    url: https://edg.epa.gov/EPA_Data_License.html
  title: U.S. EPA Enforcement and Compliance History Online (ECHO) - Clean Water Act (CWA) Rest Services
  version: 2019.10.15
  x-apisguru-categories:
    - open_data
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_632233890594299904_DgRDU6dx_400x400.png
  x-origin:
    - format: swagger
      url: https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=CWA
      version: "2.0"
  x-providerName: epa.gov
  x-serviceName: cwa
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
  - application/xml
parameters:
  f.c1_lat:
    description: Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: c1_lat
    required: false
    type: number
  f.c1_long:
    description: Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: c1_long
    required: false
    type: number
  f.c2_lat:
    description: Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: c2_lat
    required: false
    type: number
  f.c2_long:
    description: Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: c2_long
    required: false
    type: number
  f.callback:
    description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
    in: formData
    name: callback
    required: false
    type: string
  f.descending:
    description: Output Sort Column Descending Flag.  Enter Y to column identified in the newsort parameter descending.  Enter N to use ascending sort order. Used only when newsort parameter is populated.
    enum:
      - Y
      - N
    in: formData
    name: descending
    required: false
    type: string
  f.maplist:
    description: Map List Flag.  Provide a Y to return mappable coordinates representing the full geographic extent of the queryset (all facilities that met the selection criteria).
    enum:
      - Y
      - N
    in: formData
    name: maplist
    required: false
    type: string
  f.newsort:
    description: Output Sort Column.  Enter the number of the column on which the data will be sorted. If unpopulated results will sort on the first column.
    in: formData
    name: newsort
    required: false
    type: number
  f.p_MS4:
    description: Municipal Separate Storm Water Sewer (MS4) Permit Flag.  Enter a Y or N to filter results by this type of permit.
    enum:
      - Y
      - N
    in: formData
    name: p_MS4
    required: false
    type: string
  f.p_act:
    description: Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.  A Y will select ICIS NPDES permits with a status of effective, continued, or expired.
    in: formData
    name: p_act
    required: false
    type: string
  f.p_agoo:
    description: Indicates whether to AND or OR the Owner/Operator parameter (p_owop) and the federal agency code (p_fa) parameters.
    enum:
      - AND
      - OR
    in: formData
    name: p_agoo
    required: false
    type: string
  f.p_alrexceed:
    description: Alert Limits Exceedences Limiter.  Enter a numeric value to restrict results to facilities having the given amount or more of alert limits exceedances.
    in: formData
    name: p_alrexceed
    required: false
    type: number
  f.p_bio_analy_method_catgry:
    description: |-
      The unique code for the category of the analytic methods used by the facility to analyze regulated parameters (including enteric viruses, fecal coliforms, helminth ova, and Salmonella sp.) at the facility:

      - PAT = Pathogens
      - MET = Metals
      - NIT = Nitrogen Compounds
      - OTH = Other Analytes
    in: formData
    name: p_bio_analy_method_catgry
    required: false
    type: string
  f.p_bio_current_vio:
    description: |-
      Indicator of whether the facility is currently in violation for biosolids under the Clean Water Act, in the 12th or 13th quarter:

      - Y = Yes
      - N = No
    enum:
      - Y
      - N
    in: formData
    name: p_bio_current_vio
    required: false
    type: string
  f.p_bio_fac_type:
    description: |-
      The code indicating the reporting obligation reason:

      - POT = A POTW with a design flow rate equal to or greater than one million gallons per day
      - CLI = A Class I Sludge Management Facility as defined in 40 CFR 503.9
      - PPL = A POTW that serves 10,000 people or more
      - OTH = Otherwise required to report (e.g., permit condition, enforcement action)
      - NOA = None of the above
    in: formData
    name: p_bio_fac_type
    required: false
    type: string
  f.p_bio_flag:
    description: A Y value will select all biosolid-related permits.
    in: formData
    name: p_bio_flag
    required: false
    type: string
  f.p_bio_mgmt_container:
    description: |-
      The code that identifies the nature of each biosolids and sewage sludge material generated by the facility in terms of whether the material is a biosolid or sewage sludge and whether the material is ultimately conveyed off-site in bulk or in bags. The facility separately reports the form for each biosolids or sewage sludge management practice or practices used by the facility and pathogen class:

      - BUL = Bulk
      - BAG = Bag or Container
    in: formData
    name: p_bio_mgmt_container
    required: false
    type: string
  f.p_bio_mgmt_def_category:
    description: |-
      This is the code indicating the type of NPDES special regulatory program deficiency:

      - INC = Biosolids Incineration
      - LNA = Biosolids Land Application
      - LNB = Biosolids Land Application - Pathogen Class B
      - OTB = Biosolids Other Management Practice
      - SFD = Biosolids Surface Disposal
    in: formData
    name: p_bio_mgmt_def_category
    required: false
    type: string
  f.p_bio_mgmt_deficiencies:
    description: The number of times noncompliance was reported by the facility in the last 3 years. The results returned will include facilities whose number of reported noncompliance events is greater than or equal to the number entered.
    in: formData
    name: p_bio_mgmt_deficiencies
    required: false
    type: number
  f.p_bio_mgmt_pathogen:
    description: |-
      This code identifies the pathogen class [e.g., Class A, Class B, Not Applicable (Incineration)] for biosolids or sewage sludge generated by the facility. The facility will separately report the pathogen class for each biosolids or sewage sludge management practice used by the facility and by each biosolids or sewage sludge form. It also is used to filter applicable Pathogen Reduction and Vector Attraction Reduction Options as well as Land Application Management Practice Deficiencies. Only reqired for some of the mgmt. practice types:

      - AAA = Class A
      - AEQ = Class A EQ (sale/give away)
      - BBB = Class B
      - NAP = Not Applicable (Incineration)
    in: formData
    name: p_bio_mgmt_pathogen
    required: false
    type: string
  f.p_bio_mgmt_pathred:
    description: |-
      This is the description of the option used by the facility to control pathogen for a Biosolids Management Practice:

      - A1 = Class A - Alternative 1: Time/Temperature
      - A2 = Class A - Alternative 2: pH/Temperature/Percent Solids
      - A3 = Class A - Alternative 3: Test Enteric Viruses and Helminth ova; Operating Parameters
      - A4 = Class A - Alternative 4: Test Enteric Viruses and Helminth ova; No New Solids
      - A51 = Class A - Alternative 5: PFRP 1: Composting
      - A52 = Class A - Alternative 5: PFRP 2: Heat Drying
      - A53 = Class A - Alternative 5: PFRP 3: Liquid heat treatment
      - A54 = Class A - Alternative 5: PFRP 4: Thermophilic Aerobic Digestion (ATAD)
      - A55 = Class A - Alternative 5 PFPR 5: Beta Ray Irradiation
      - A56 = Class A - Alternative 5 PFPR 6: Gamma Ray Irradiation
      - A57 = Class A - Alternative 5: PFRP 7: Pasteurization
      - A6 = Class A - Alternative 6: PFRP Equivalency
      - B1 = Class B - Alternative 1: Fecal Coliform Geometric Mean
      - B21 = Class B - Alternative 2 PSRP 1: Aerobic Digestion
      - B22 = Class B - Alternative 2 PSRP 2: Air Drying
      - B23 = Class B - Alternative 2 PSRP 3: Anaerobic Digestion
      - B24 = Class B - Alternative 2 PSRP 4: Composting
      - B25 = Class B - Alternative 2 PSRP 5: Lime Stabilization
      - B3 = Class B - Alternative 3: PSRP Equivalency
      - PH = pH Adjustment (Domestic Septage)
    in: formData
    name: p_bio_mgmt_pathred
    required: false
    type: string
  f.p_bio_mgmt_prctce_handler:
    description: |-
      This is the code indicating the type of Biosolids or Sewage Sludge handlers/preparers.

      - OWN = Owner or Operator
      - OFF = Off-Site Third-Party Handler or Preparer
    in: formData
    name: p_bio_mgmt_prctce_handler
    required: false
    type: string
  f.p_bio_mgmt_prctce_stype:
    description: |-
      This is the code indicating additional detail about the type of Management Practice used for a volume of Biosolids or Sewage Sludge:

      - ADV = Advanced Alkaline Stabilized Biosolids Distribution & Marketing
      - AGR = Agricultural Land Application
      - COM = Distribution and Marketing - Compost
      - DEE = Deep-well Injection Disposal
      - DIS = Disposal in a Municipal Landfill (under 40 CFR 258)
      - DMO = Distribution and Marketing - Other
      - HEA = Heat Dried Biosolids Distribution & Marketing
      - OTL = Other Land Application Management Practice Detail
      - OTO = Other Management Practice Detail
      - RSA = Reclamation Site Application
      - SEN = Sent to Cement Kiln for Use as Alternative Energy
      - STO = Storage
      - UIC = Use in Construction
      - UPS = Used in Production of Syngas
      - USE = Use as Daily Cover for Municipal Landfill (under 40 CFR 258)
    in: formData
    name: p_bio_mgmt_prctce_stype
    required: false
    type: string
  f.p_bio_mgmt_prctce_type:
    description: |-
      The unique code that identifies the type of biosolids or sewage sludge management practice (e.g., land application, surface disposal, incineration) used by the facility. The facility will separately report the management practice for each biosolids or sewage sludge form and pathogen class. This data element will also identify the management practices used by surface disposal site owners/operators (see 40 CFR 503.24):

      - BIN = Incineration
      - BLN = Land Application
      - BOT = Other Management Practice
      - BSD = Surface Disposal
    in: formData
    name: p_bio_mgmt_prctce_type
    required: false
    type: string
  f.p_bio_mgmt_vector:
    description: |-
      The unique code that identifies the option used by the facility for vector attraction reduction. See a listing of these vector attraction reduction options at 40 CFR 503.33(b)(1) through (11). The facility will separately report the vector attraction reduction options for each biosolids or sewage sludge management practice used by the facility and by each biosolids or sewage sludge form as well as by each biosolids or sewage sludge pathogen class:

      - VR1 = Option 1 - Volatile Solids Reduction
      - VR2 = Option 2 - Bench-Scale Volatile Solids Reduction (Anaerobic Bench Test)
      - VR3 = Option 3 - Bench-Scale Volatile Solids Reduction (Aerobic Bench Test w/ Percent Solids - 2% or Less)
      - VR4 = Option 4 - Specific Oxygen Uptake Rate
      - VR5 = Option 5 - Aerobic Processing (Thermophilic Aerobic Digestion/Composting)
      - VR6 = Option 6 - Alkaline Treatment
      - VR7 = Option 7 - Drying (Equal to or Greater than 75 Percent)
      - VR8 = Option 8 - Drying (Equal to or Greater than 90 Percent)
      - VR9 = Option 9 - Sewage Sludge Injection
      - V10 = Option 10 - Sewage Sludge Timely Incorporation into Land
      - V11 = Option 11 - Sewage Sludge Covered at the End of Each Operating Day
    in: formData
    name: p_bio_mgmt_vector
    required: false
    type: string
  f.p_bio_qtrs_in_vio:
    description: The number of quarters, in the last three years, where the facility was in violation for a biosolids violation type.  The results returned will include facilities whose number of quarters with violations is greater than or equal to the number entered.
    in: formData
    name: p_bio_qtrs_in_vio
    required: false
    type: number
  f.p_bio_rpt_year:
    description: The last year that the permittee submitted an annual Biosolids report.  Valid values are NONE and any year greater or equal to 2016.
    in: formData
    name: p_bio_rpt_year
    required: false
    type: string
  f.p_bio_total_volume_amt:
    description: |-
      Total annual amount (in dry metric tons) of biosolids or sewage sludge generated at the facility.

      - EQ0 = 0
      - IN0_1 = GT 0 but LT 1
      - IN0_289  =  GT 0 but LT 290 MT/year
      - IN290_1499  =  GE 290 but LT 1500 MT/year
      - IN1500_14999  =  GE 1500 but LT 15,000
      - GE15000  =  GE 15,000
    in: formData
    name: p_bio_total_volume_amt
    required: false
    type: string
  f.p_bio_trtmnt_procs:
    description: |-
      The biosolids or sewage sludge treatment process or processes at the facility:

      - AER = Aerobic Digestion
      - AIR = Air Drying (or Sludge Drying Beds)
      - ANA = Anaerobic Digestion
      - COD = Beta Ray Irradiation
      - COM = Lower Temperature Composting
      - DEW = Pasteurization
      - DIS = Gamma Ray Irradiation
      - HEA = Heat Drying (e.g., Flash Dryer, Spray Dryer, Rotary Dryer)
      - HET = Heat Treatment (Liquid Sewage Sludge Heated to 356 Deg. F/180 Deg. C or Higher for 30 min.)
      - HTC = Higher Temperature Composting
      - MET = Methane or Biogas Capture and Recovery
      - OTH = Other Treatment Process
      - PRE = Preliminary Operations (e.g., Sludge Grinding, Degritting, Blending)
      - SLU = Sludge Lagoon
      - STA = Lime Stabilization
      - THE = Temporary Sludge Storage (Sewage Sludge Stored on Land 2 Years or Less, Not in Sewage Sludge Unit)
      - THI = Thickening (Gravity and/or Flotation Thickening, Centrifugation, Belt Filter Press, Vacuum Filter)
      - THM = Thermophilic Aerobic Digestion
      - UND = Long-Term Sludge Storage (Sewage Sludge Stored on Land 2 Years or More, not in Sewage Sludge Unit)"
    in: formData
    name: p_bio_trtmnt_procs
    required: false
    type: string
  f.p_bio_vio_code:
    description: The Biosolids Single Event Violation Code.  Enter one or mode codes.
    in: formData
    name: p_bio_vio_code
    required: false
    type: string
  f.p_bio_vio_last_year:
    description: Identifies if a biosolids violation has occured in the last year.  Valid values are Y and N.
    enum:
      - Y
      - N
    in: formData
    name: p_bio_vio_last_year
    required: false
    type: string
  f.p_c1lat:
    description: In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: p_c1lat
    required: false
    type: number
  f.p_c1lon:
    description: In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: p_c1lon
    required: false
    type: number
  f.p_c2lat:
    description: In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: p_c2lat
    required: false
    type: number
  f.p_c2lon:
    description: In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: p_c2lon
    required: false
    type: number
  f.p_co:
    description: Facility County Filter. Provide a single county name in combination with a state value provided via p_st.
    in: formData
    name: p_co
    required: false
    type: string
  f.p_ct:
    description: Facility City Filter. Enter a single case-insensitive city name to filter results.
    in: formData
    name: p_ct
    required: false
    type: string
  f.p_da1:
    description: Active Date Filter Start.  To filter by the active date, enter a start date here and an end date in the p_da2 parameter.  Both dates are required for filtering.
    in: formData
    name: p_da1
    required: false
    type: string
  f.p_da2:
    description: Active Date Filter End.  To filter by the active date, enter an end date here and a start date in the p_da1 parameter.  Both dates are required for filtering.
    in: formData
    name: p_da2
    required: false
    type: string
  f.p_ds1:
    description: Submitted Date Filter Start.  To filter by the date of submission, enter a start date here and an end date in the p_ds2 parameter.  Both dates are required for filtering.
    in: formData
    name: p_ds1
    required: false
    type: string
  f.p_ds2:
    description: Submitted Date Filter End.  To filter by the date of submission, enter an end date here and a start date in the p_ds1 parameter.  Both dates are required for filtering.
    in: formData
    name: p_ds2
    required: false
    type: string
  f.p_dwd:
    description: Direct Water Discharges. Pounds of toxic chemicals released directly to surface water as reported to the Toxics Release Inventory.
    enum:
      - "0"
      - GT0
      - GT1000
      - GT5000
      - GT10000
      - GT20000
      - GT50000
    in: formData
    name: p_dwd
    required: false
    type: string
  f.p_e90_count:
    description: Number of E90 Exceedances.  Identifies water permits with a number of E90 (Effluient Exceedances) >= the value provided for the last number of years provided by the p_e90_years value.
    in: formData
    name: p_e90_count
    required: false
    type: number
  f.p_e90_years:
    description: Number of years for the p_e90_count search.  Identified the past number of years to be used for the p_e90_count search.
    in: formData
    name: p_e90_years
    required: false
    type: number
  f.p_ejscreen:
    description: Enter "Y" to limit facilities to Census block groups where one of more Environmental Justice indexes above 80th percentile.
    in: formData
    name: p_ejscreen
    required: false
    type: string
  f.p_ejscreen_over80cnt:
    description: The number of Environmenmt Justice Indicators above the 80th percentile.  Valid values are 1 through 11.
    enum:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      - "6"
      - "7"
      - "8"
      - "9"
      - "10"
      - "11"
    in: formData
    name: p_ejscreen_over80cnt
    required: false
    type: string
  f.p_fa:
    description: Federal Agency. 1 character or 5-character values; may contain multiple comma-separated values. ALL will retrieve all facilities where the federal agency code is not null.  Use the Federal Agencies lookup service to obtain a list of values.
    in: formData
    name: p_fa
    required: false
    type: string
  f.p_fac_ico:
    description: FRS tribal land code flag.  Enter "Y" or "N" to include or exclude facilities based on FRS tribal land code.
    enum:
      - Y
      - N
    in: formData
    name: p_fac_ico
    required: false
    type: string
  f.p_fac_icos:
    description: FRS tribal land spatial flag.  Enter "Y" or "N" to include or exclude facilities based on FRS tribal land spatial flag.
    in: formData
    name: p_fac_icos
    required: false
    type: string
  f.p_fea:
    description: |-
      Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
    in: formData
    name: p_fea
    required: false
    type: string
  f.p_feaa:
    description: |-
      Agency associated with Formal Enforcement Actions:
      - E = EPA
      - S = State
      - A = All
    enum:
      - A
      - E
      - S
    in: formData
    name: p_feaa
    required: false
    type: string
  f.p_feay:
    description: Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: formData
    name: p_feay
    required: false
    type: number
  f.p_ff:
    description: Federal Facility Indicator Flag. Enter Y to restrict searches to federal facilities.
    enum:
      - Y
    in: formData
    name: p_ff
    required: false
    type: string
  f.p_fips:
    description: FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059.
    in: formData
    name: p_fips
    required: false
    type: string
  f.p_fn:
    description: Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers.
    in: formData
    name: p_fn
    required: false
    type: string
  f.p_fntype:
    description: |-
      Controls type of text search performed on facility name with parameter p_fn.
      - EXACT = Find facilities having the exact provided name(s).
      - BEGINS = Find facilities with names starting with the provided term(s).
      - ALL = Find facilities using Oracle text search terms.
      - CONTAINS = 
    enum:
      - ALL
      - CONTAINS
      - EXACT
      - BEGINS
    in: formData
    name: p_fntype
    required: false
    type: string
  f.p_frs:
    description: Facility Registry Service ID Filter. Enter a single 12-digit FRS identifier to filter results.
    in: formData
    name: p_frs
    required: false
    type: string
  f.p_frswbd:
    description: Works exactly the same as the p_wbd parameter.  2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value.
    in: formData
    name: p_frswbd
    required: false
    type: string
  f.p_huc:
    description: 2-, 4-, 6-, or 8-character watershed code. May contain multiple comma-separated values.
    in: formData
    name: p_huc
    required: false
    type: string
  f.p_iagency:
    description: Issuing Agency Limiter.  Enter a single value to filter results by the issuing agency, e.g. "State" or "EPA".
    in: formData
    name: p_iagency
    required: false
    type: string
  f.p_ico:
    description: Indian Country Flag.  Enter a "Y" or "N" to restrict searches to facilities inside or outside Indian Country.
    enum:
      - Y
      - N
    in: formData
    name: p_ico
    required: false
    type: string
  f.p_icoo:
    description: Indian country search and/or flag.  Enter "Y" to set indian country search conditions to return any results found using p_ico, p_fac_ico or p_fac_icoo.  Otherwise only results matching all provided p_ico, p_fac_ico or p_fac_icoo conditions will be returned.
    in: formData
    name: p_icoo
    required: false
    type: string
  f.p_id:
    description: Nine-character code used to uniquely identify a permitted NPDES facility. The NPDES permit program regulates the direct discharge of pollutants into US waters.
    in: formData
    name: p_id
    required: true
    type: string
  f.p_idt1:
    description: Beginning of date range of most recent facility inspection.
    in: formData
    name: p_idt1
    required: false
    type: string
  f.p_idt2:
    description: End of date range of most recent facility inspection.
    in: formData
    name: p_idt2
    required: false
    type: string
  f.p_iea:
    description: |-
      Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
    in: formData
    name: p_iea
    required: false
    type: string
  f.p_ieaa:
    description: |-
      Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.
      - E = EPA
      - S = State
    enum:
      - E
      - S
    in: formData
    name: p_ieaa
    required: false
    type: string
  f.p_ieay:
    description: Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: formData
    name: p_ieay
    required: false
    type: number
  f.p_imp_cau_grp:
    description: Facility is discharging a pollutant group causing a waterbody to be impaired.  Enter 1 through 34 (the internal number of the pollutant group); or enter a partial name such as Dioxin,Temp,tUrBidity.
    enum:
      - ALGAL GROWTH
      - AMMONIA
      - BIOTOXINS
      - CAUSE UNKNOWN
      - CAUSE UNKNOWN - FISH KILLS
      - CAUSE UNKNOWN - IMPAIRED BIOTA
      - CHLORINE
      - DIOXINS
      - FISH CONSUMPTION ADVISORY
      - FLOW ALTERATION(S)
      - HABITAT ALTERATIONS
      - MERCURY
      - METALS (OTHER THAN MERCURY)
      - NOXIOUS AQUATIC PLANTS
      - NUISANCE EXOTIC SPECIES
      - NUISANCE NATIVE SPECIES
      - NUTRIENTS
      - OIL AND GREASE
      - ORGANIC ENRICHMENT/OXYGEN DEPLETION
      - OTHER CAUSE
      - PATHOGENS
      - PESTICIDES
      - PH/ACIDITY/CAUSTIC CONDITIONS
      - POLYCHLORINATED BIPHENYLS (PCBS)
      - RADIATION
      - SALINITY/TOTAL DISSOLVED SOLIDS/CHLORIDES/SULFATES
      - SEDIMENT
      - TASTE, COLOR AND ODOR
      - TEMPERATURE
      - TOTAL TOXICS
      - TOXIC INORGANICS
      - TOXIC ORGANICS
      - TRASH
      - TURBIDITY
    in: formData
    name: p_imp_cau_grp
    required: false
    type: string
  f.p_imp_pol:
    description: Facility is discharging pollutants that are potentially contributing to the impairment of local waterbodies according to the ATTAINS database.
    enum:
      - Y
      - N
    in: formData
    name: p_imp_pol
    required: false
    type: string
  f.p_impw:
    description: Discharging into Impaired Waters Flag. Enter Y to limit results to facilities with discharge to waterbodies listed as impaired in the ATTAINS database.
    enum:
      - Y
      - N
    in: formData
    name: p_impw
    required: false
    type: string
  f.p_indsw:
    description: Industrial Stormwater Permit Flag.  Enter a Y or N to filter results by this type of permit.
    enum:
      - Y
      - N
    in: formData
    name: p_indsw
    required: false
    type: string
  f.p_ipfti:
    in: formData
    name: p_ipfti
    required: false
    type: string
  f.p_isws:
    description: Multi-Sector General Purpose Permit Subsector Individual Identifier.  Enter a value to filter results.
    in: formData
    name: p_isws
    required: false
    type: string
  f.p_iswss:
    description: Multi-Sector General Purpose Permit Subsector Group Code.  Enter a value to filter results.
    in: formData
    name: p_iswss
    required: false
    type: string
  f.p_iswssID:
    description: Multi-Sector General Purpose Permit Sector Code.  Enter a value to filter results.
    in: formData
    name: p_iswssID
    required: false
    type: string
  f.p_iv:
    description: |-
      Facility has a violation status of 'In Viol' during any of the selected quarters. 

      Range: Fiscal Year 2020 Quarter 2 to Fiscal Year 2017 Quarter 2

      Multiple values are comma delimited.


      ||||||  Fiscal Years ||||||
      - FY2020 or FY20 or 2020 or 20
      - FY2019 or FY19 or 2019 or 19
      - FY2018 or FY18 or 2018 or 18
      - FY2017 or FY17 or 2017 or 17

      ||||| Fiscal Quarters |||||
      - FY2020Q2 or FY20Q2 or 20202 or 202 or 13
      - FY2020Q1 or FY20Q1 or 20201 or 201 or 12
      - FY2019Q4 or FY19Q4 or 20194 or 194 or 11
      - FY2019Q3 or FY19Q3 or 20193 or 193 or 10
      - FY2019Q2 or FY19Q2 or 20192 or 192 or 9
      - FY2019Q1 or FY19Q1 or 20191 or 191 or 8
      - FY2018Q4 or FY18Q4 or 20184 or 184 or 7
      - FY2018Q3 or FY18Q3 or 20183 or 183 or 6
      - FY2018Q2 or FY18Q2 or 20182 or 182 or 5
      - FY2018Q1 or FY18Q1 or 20181 or 181 or 4
      - FY2017Q4 or FY17Q4 or 20174 or 174 or 3
      - FY2017Q3 or FY17Q3 or 20173 or 173 or 2
      - FY2017Q2 or FY17Q2 or 20172 or 172 or 1
    in: formData
    name: p_iv
    required: false
    type: string
  f.p_last_dmr_within:
    description: W value returns facilities that have submitted DMRs within the number of months specified by p_months_last_dmr. An N value returns facilities that have not submitted a DMR within the specified number of months.
    enum:
      - W
      - N
    in: formData
    name: p_last_dmr_within
    required: false
    type: string
  f.p_lat:
    description: Latitude location in decimal degrees.
    in: formData
    name: p_lat
    required: false
    type: number
  f.p_limit_addr:
    description: "Limit Address Search Flag.  Enter Y to restrict facility searches to native data source only.  "
    enum:
      - Y
      - N
    in: formData
    name: p_limit_addr
    required: false
    type: string
  f.p_long:
    description: Longitude location in decimal degrees.
    in: formData
    name: p_long
    required: false
    type: number
  f.p_mact:
    description: CAA Maximum Achievable Control Technology (MACT) Subpart codes (alpha ID between 1 and 7 characters) applicable to the facility.
    in: formData
    name: p_mact
    required: false
    type: string
  f.p_maj:
    description: Major Facility Flag.  Enter Y to restrict results to Major facilities only.
    enum:
      - Y
      - N
    in: formData
    name: p_maj
    required: false
    type: string
  f.p_med:
    description: |-
      Filter Results by Media.
      - A = Air
      - M = RMP (Risk Management Plan)
      - R = RCRA (Hazardous Waste)
      - S = SDWA (Public Drinking Water Systems)
      - ALL = Air and RCRA and Water
    enum:
      - A
      - M
      - R
      - S
      - ALL
    in: formData
    name: p_med
    required: false
    type: string
  f.p_mon_type:
    description: "For use with the Industrial Stormwater search only. Valid values are BENCHGS fro Benchmark (Alert Limit) G2 Ore, BENCH for Benchmark (Alert Limit), and ELG fro Effluent Limitation Guidelines(ELG)(Effluent Limit).  "
    enum:
      - BENCHG2
      - BENCH
      - ELG
    in: formData
    name: p_mon_type
    required: false
    type: string
  f.p_months_last_dmr:
    description: The number of months since the last Discharge Monitoring Report has been submitted.
    in: formData
    name: p_months_last_dmr
    required: false
    type: number
  f.p_msgp_ptype:
    description: |-
      Multi-Sector General Purpose Permit Type.  Enter a value to filter results by MSGP Permit Type.
      - NOI = Notice of Intent
      - NOE = No Exposure Certification
    enum:
      - NOI
      - NOE
    in: formData
    name: p_msgp_ptype
    required: false
    type: string
  f.p_msgp_rpt_year:
    description: The last year that a MSGP report was submitted for the permit.  Valid values are "NONE" and any year Greater or Eqal to 2015.
    in: formData
    name: p_msgp_rpt_year
    required: false
    type: string
  f.p_ncs:
    description: North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values.
    in: formData
    name: p_ncs
    required: false
    type: string
  f.p_ooCt:
    description: Owner/Operator City. Enter the city where the owner/operator of the facility is located.
    in: formData
    name: p_ooCt
    required: false
    type: string
  f.p_ooFN:
    description: Owner/Operator Name. Enter the owner/operator name of the facility.
    in: formData
    name: p_ooFN
    required: false
    type: string
  f.p_ooFNtype:
    description: "Owner/Operator Name Multiple Selection Evaluator.  "
    enum:
      - ALL
      - EXACT
      - BEGINS
      - CONTAINS
    in: formData
    name: p_ooFNtype
    required: false
    type: string
  f.p_ooSA:
    description: Owner/Operator Address.  Enter the address of the owner/operator of the facility.
    in: formData
    name: p_ooSA
    required: false
    type: string
  f.p_ooSA1:
    description: Owner/Operator Address Line 2.  Enter the line 2 address of the owner/operator of the facility.
    in: formData
    name: p_ooSA1
    required: false
    type: string
  f.p_ooSt:
    description: Owner/Operator State.  Enter the standardized postal state code where the owner/operator of the facility is located.
    in: formData
    name: p_ooSt
    required: false
    type: string
  f.p_ooZip:
    description: Owner/Operator Zip Code.  Enter the postal zip code where the owner/operator of the facility is located.
    in: formData
    name: p_ooZip
    required: false
    type: string
  f.p_owop:
    description: |-
      Owner/Operator code filter.  Enter one of the following values to restrict results.
      - Federal = Federal facilities regulated under the NPDES program.
      - POTW = Publicly owned treatment works. Treatment works that are owned by a State, Tribe, or municipality.
      - Non-POTW = Non-publicly owned treatment works. Often referred to as "non-municipals" or "industrials".
    enum:
      - FEDERAL
      - POTW
      - NON-POTW
    in: formData
    name: p_owop
    required: false
    type: string
  f.p_pccs:
    description: |-
      Current Compliance Status:
      ||||||||||||||||||||||||||| 
      Significant Noncompliance (SNC) 
      |||||||||||||||||||||||||||
      - SNC = E, S, X, T, D
      - E�= E(EffViol)
      - S�= S(CSchVio)
      - X = X(EffNMth)
      - T = T(CSchRpt)
      - D�= D(DMR NR)

      |||||||||||||||||||||||||||
      Noncompliance (NC)
      |||||||||||||||||||||||||||
      - NC = N, V
      - N�= N(RptViol)
      - V�= V(NonRNCV)

      |||||||||||||||||||||||||||
      New Violations (PQV)
      |||||||||||||||||||||||||||
      - PQV = New Violations (13th Quarter)

      |||||||||||||||||||||||||||
      No Violations (NV)
      |||||||||||||||||||||||||||
      - NV = R, P, M, U, W
      , Blank, and No New Violations (no PQV)
      - R�= R(Resolvd)
      - P�= P(ResPend)
      - M�= C(Manual)
      - U = U(N/A)
      - W = W(N/A)
      - Blank = (null)

      May contain multiple comma-separated values.
    in: formData
    name: p_pccs
    required: false
    type: string
  f.p_pcomp:
    description: |-
      Permit Component Code Filter.  Enter one or more codes to filter results.  Provide multiple values as a comma-delimited list.
      - PRE = Pretreatment
      - CAF = CAFO
      - CSO = CSO
      - POT = POTW
      - BIO = Biosolids
      - SWS = Storm Water Small MS4s
      - SWM = Storm Water Medium/Large MS4s
      - SWI = Storm Water Industrial
      - SWC = Storm Water Construction
    in: formData
    name: p_pcomp
    required: false
    type: string
  f.p_pcss:
    description: |-
      Combined Sewer Systems Outflows Limiter.  Enter one of the following to limit results to facilities having the given count of CSS outflows.
      - ALL = returns all facilities, regardless of the number of outflows.
      - GE1 = returns facilities with one or more outflows.
      - GE10 = returns facilities with ten or more outflows.
      - GE50 = returns facilities with fifty or more outflows.
    enum:
      - ALL
      - GE1
      - GE10
      - GE50
    in: formData
    name: p_pcss
    required: false
    type: string
  f.p_pctrack:
    description: |-
      Compliance Tracking Limiter. Provide a keyword to indicate the extent to which data is being entered and effluent exceedances are being identified.
      - Off
      - Partial
      - On
    enum:
      - Off
      - Partial
      - On
    in: formData
    name: p_pctrack
    required: false
    type: string
  f.p_pd:
    description: |-
      Population Density Limiter (per sq mile). Enter a value to limit results to facilities located in area of a given population density.
      - NONE = 0 population density per square mile
      - GT100 = More than 100 population density per square mile
      - GT500 = More than 500 population density per square mile
      - GT1000 = More than 1000 population density per square mile
      - GT5000 = More than 5000 population density per square mile
      - GT10000 = More than 10000 population density per square mile
      - GT20000 = More than 20000 population density per square mile
    enum:
      - NONE
      - GT100
      - GT500
      - GT1000
      - GT5000
      - GT10000
      - GT20000
    in: formData
    name: p_pd
    required: false
    type: string
  f.p_pdwdist:
    description: Distance (in miles) to downstream drinking water intake.
    enum:
      - N
      - LT1
      - LT2
      - LT5
      - LT10
      - LT15
    in: formData
    name: p_pdwdist
    required: false
    type: string
  f.p_pen:
    description: |-
      Last Penality Date Qualifier Filter.  Enter one of the following:   
      - NEVER = No Penalties
      - ANY = Any Penalty
      - LEXX = Less than or equal to XX months.  Provide a number in place of XX, e.g. "LE5" for a facility with a penalty within previous 5 months.
      - GTXX = Greater than XX months.  Provide a number in place of XX, eg. GT12, for a facility with the last penalty greater than 12 months ago.
    in: formData
    name: p_pen
    required: false
    type: string
  f.p_permitting_agency:
    in: formData
    name: p_permitting_agency
    required: false
    type: string
  f.p_pexcd:
    description: |-
      3-Year Effluent Exceedances Limiter.  Enter a value to restrict results to facilities with the given amount of exceedances in the past 3 years.
      - 0 = facilities with no exceedances
      - GE0 = facilities with one or more exceedances
      - GE10 = facilities with ten or more exceedances
      - GE50 = facilities with fifty or more exceedances
      - GE100 = facilities with one hundred or more exceedances
    enum:
      - "0"
      - GE0
      - GE10
      - GE50
      - GE100
    in: formData
    name: p_pexcd
    required: false
    type: string
  f.p_pexp:
    description: |-
      Permit Expired or Administratively Continued Limiter.  Enter one of the following values to filter results.
      - EXP = limit results to facilities with permits expired or administratively continued.
      - EXPLE1YR = limit resuls to facilities with permits expired administratively continued within the past year.
      - EXPGT1YR = limit resuls to facilities with permits expired administratively continued more than a year ago.
    enum:
      - EXP
      - EXPLE1YR
      - EXPGT1YR
    in: formData
    name: p_pexp
    required: false
    type: string
  f.p_pfead1:
    description: Formal Enforcement Action Date Range Start.  Enter a date in MM/DD/YYYY format to set the start of the range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.
    in: formData
    name: p_pfead1
    required: false
    type: string
  f.p_pfead2:
    description: Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY format to set the end of the date range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.
    in: formData
    name: p_pfead2
    required: false
    type: string
  f.p_pfeat:
    description: Formal Enforcement Action (FEA) Code Filter.  Enter one or more three-letter FEA codes to restrict results to facilities with these attributes.  Use p_fead1 and p_fead2 parameters to further restrict this filter by entering a date range.  Provide multiple codes as a comma-delimited list.
    in: formData
    name: p_pfeat
    required: false
    type: string
  f.p_pid:
    description: Nine-digit permit IDs. May contain up to 2000 comma-separated values.
    in: formData
    name: p_pid
    required: false
    type: string
  f.p_pidall:
    description: Controls whether search is restricted to existing system. Y means the search will match the p_pid parameter against all associated permits (AIR, RCRA, SDWIS, etc).
    enum:
      - Y
      - N
    in: formData
    name: p_pidall
    required: false
    type: string
  f.p_pityp:
    description: Inspection Type Code.  See ICIS Compliance Monitor Types lookup serivce for a list of available codes and descriptions.
    in: formData
    name: p_pityp
    required: false
    type: string
  f.p_plimits:
    description: Permit Limits Present Flag.  Enter Y to limit results to facilities have present permit limits.
    enum:
      - Y
      - N
    in: formData
    name: p_plimits
    required: false
    type: string
  f.p_pm:
    description: |-
      Percent Minority Population Limiter.  Enter a value to restrict results to facilities with a given percentage of minority population within 3-mile radius.
      - NONE = 0%
      - GT5 = greater than 5%
      - GT10 = greater than 10%
      - GT25 = greater than 25%
      - GT50 = greater than 50%
      - GT75 = greater than 75%
    enum:
      - NONE
      - GT5
      - GT10
      - GT25
      - GT50
      - GT75
    in: formData
    name: p_pm
    required: false
    type: string
  f.p_pretty_print:
    description: Optional flag to request GeoJSON formatted results to be pretty printed.  Only provide a numeric value when the output needs to be human readable as pretty printing has a performance cost.
    in: formData
    name: p_pretty_print
    required: false
    type: number
  f.p_psc:
    description: Point Source Category.
    in: formData
    name: p_psc
    required: false
    type: string
  f.p_psncq:
    description: |-
      Quarters in Significant Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of significant noncompliance.
      - Z = Zero quarters in significant noncompliance.
      - GEXX = Replacing XX with a numeric value, that number of quarterd or more in significant noncompliance.
      - GTXX = Replacing XX with a numeric value, more than that number of quarters in significant noncompliance.
    enum:
      - GT1
      - GE1
      - GT2
      - GE2
      - GT4
      - GE4
      - GT8
      - GE8
      - GT12
      - GE12
    in: formData
    name: p_psncq
    required: false
    type: string
  f.p_pstat:
    description: |-
      Permit Status Filter.  Enter one or more of the following codes.  Provide multiple values as a comma-delimited list.
      - EFF = Effective
      - EXP = Expired
      - PND = Pending
      - TRM = Terminated
      - RET = Retired
      - NON = Not Needed
      - ADC = Admin Continued
    in: formData
    name: p_pstat
    required: false
    type: string
  f.p_pswcas:
    description: CAS numbers for surface water discharges. May contain multiple comma-separated values.
    in: formData
    name: p_pswcas
    required: false
    type: string
  f.p_pswdmp:
    description: Used to determine limit begin and end dates for surface water discharges. Number represents years from current date.
    enum:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
    in: formData
    name: p_pswdmp
    required: false
    type: string
  f.p_pswdpc:
    description: "Pollutant Category Code:  Values: WTR for Water, AIR for Air"
    in: formData
    name: p_pswdpc
    required: false
    type: string
  f.p_pswparam:
    description: Parameter codes for surface water discharges. May contain multiple comma-separated values.
    in: formData
    name: p_pswparam
    required: false
    type: string
  f.p_pswpol:
    description: For CWA, pollutant names for surface water discharges. for Drinking Water, SDWIS Violation contaminant codes for unaddressed violations that have occurred in the last 3 years. May contain multiple comma-separated values.
    in: formData
    name: p_pswpol
    required: false
    type: string
  f.p_pswvio:
    description: Used in conjuction with parameters p_pswpol and p_pswparam, indicates whether search should only include pollutants with violations.
    enum:
      - Y
      - N
    in: formData
    name: p_pswvio
    required: false
    type: string
  f.p_pt:
    description: POTW Transfers. Pounds of toxic chemicals transferred to a Publicly Operated Treatment Works (POTW) as reported to the Toxics Release Inventory.
    enum:
      - "0"
      - GT0
      - GT1000
      - GT5000
      - GT10000
      - GT20000
      - GT50000
    in: formData
    name: p_pt
    required: false
    type: string
  f.p_ptype:
    description: |-
      Permit Type Filter. Enter one or more code values to filter results.  Provide multiple values as a comma-delimited list.
      - NPD = NPDES Individual Permit
      - NGP = NPDES Master General Permit
      - GPC = General Permit Covered Facility
      - SNN = State Issued Master General Permit (Non-NPDES)
      - IIU = Individual IU Permit (Non-NPDES)
      - SIN = Individual State Issued Permit (Non-NPDES)
      - APR = Associated Permit Record
      - UFT = Unpermitted Facility
    in: formData
    name: p_ptype
    required: false
    type: string
  f.p_qid:
    description: Query ID Selector.  Enter the QueryID number from a previously run query.
    in: formData
    name: p_qid
    required: true
    type: string
  f.p_qiv:
    description: |-
      Quarters in Noncompliance Limiter.  Enter a coded value to limit results to facilities with given quarter of noncompliance.
      - Z = Zero quarters in noncompliance.
      - GEXX = Replacing XX with a numeric value, that number of quarterd or more in noncompliance.
      - GTXX = Replacing XX with a numeric value, more than that number of quarters in noncompliance.
    enum:
      - "0"
      - GT1
      - GT2
      - GT4
      - GT8
      - "12"
    in: formData
    name: p_qiv
    required: false
    type: string
  f.p_qs:
    description: Quick Search. Allows entry for city, state, and/or zip code.
    in: formData
    name: p_qs
    required: false
    type: string
  f.p_radius:
    description: Spatial Search Radius.  Enter a radius up to 100 miles in which to spatially search for facilities.
    in: formData
    name: p_radius
    required: false
    type: number
  f.p_radwbd:
    description: '2-, 4-, 6-, 8-, 10-, or 12 character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Will search against WBD values otained by "reach indexing" NPDES permits against the medium resolution National Hydrography Dataset. '
    in: formData
    name: p_radwbd
    required: false
    type: string
  f.p_reg:
    description: EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.
    enum:
      - "01"
      - "02"
      - "03"
      - "04"
      - "05"
      - "06"
      - "07"
      - "08"
      - "09"
      - "10"
    in: formData
    name: p_reg
    required: false
    type: string
  f.p_sa:
    description: Facility street address. Enter a complete or partial street address.
    in: formData
    name: p_sa
    required: false
    type: string
  f.p_sa1:
    description: Facility street address. Enter a complete or partial street address.   Note that p_sa1 is culmulative with p_sa.
    in: formData
    name: p_sa1
    required: false
    type: string
  f.p_sfs:
    description: Single Facility Search Filter.  Provide a facility name or program system identifier to limit results.  For the all data search, the FRS registry identifier is also searched.
    in: formData
    name: p_sfs
    required: false
    type: string
  f.p_sic:
    description: Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.  If more complex filtering is required, use p_sic2 and p_sic4.
    in: formData
    name: p_sic
    required: false
    type: string
  f.p_sic2:
    description: Standard Industrial Classification (SIC) Code Filter Alternate 2. Enter a wild-card search against SIC codes.  A final wild-card is always present allowing "22" to match all SIC codes beginning with 22.  Use the "%" character within strings to match any SIC values with the pattern.  For example, "2%21" matches 2021, 2121, 2221, etc.
    in: formData
    name: p_sic2
    required: false
    type: string
  f.p_sic4:
    description: Standard Industrial Classification (SIC) Code Filter Alternate 3.  Enter the first 2, 3 or 4 SIC code digits to filter results to facilities having those code prefixes.  As this alternative does not utilize an index, p_sic2 will generally be quicker.
    in: formData
    name: p_sic4
    required: false
    type: string
  f.p_st:
    description: Facility State and State-Equivalent Filter.  Provide one or more USPS postal abbreviations for states and state-equivalents to filter results.  Provide multiple values as a comma-delimited list.
    in: formData
    name: p_st
    required: false
    type: string
  f.p_trep:
    description: |-
      Current Toxics Release Inventory (TRI) Reporter Limiter.  Enter one of the following codes to limit results.
      - CURR = Current TRI reporter.
      - NONCURR = Has reported to TRI in the past but not for the current reporting year.
    enum:
      - CURR
      - NOTCURR
    in: formData
    name: p_trep
    required: false
    type: string
  f.p_tribedist:
    description: Proximity to tribal land limiter. Enter an amount of mile between 0 and 25 to filter results.  This parameter is only evaluated if p_tribeid is populated.
    in: formData
    name: p_tribedist
    required: false
    type: number
  f.p_tribeid:
    description: Numeric code for tribe (or list of tribes).
    in: formData
    name: p_tribeid
    required: false
    type: number
  f.p_tribename:
    description: Tribe Name Filter.  Enter a single tribe name to filter results.
    in: formData
    name: p_tribename
    required: false
    type: string
  f.p_usmex:
    description: US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.
    enum:
      - Y
      - N
    in: formData
    name: p_usmex
    required: false
    type: string
  f.p_vio_last_year:
    description: Identifies if a permit violation has occured in the last year.  Valid values are Y and N.
    enum:
      - Y
      - N
    in: formData
    name: p_vio_last_year
    required: false
    type: string
  f.p_wbd:
    description: 2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value.
    in: formData
    name: p_wbd
    required: false
    type: string
  f.p_ysl:
    description: |-
      Last Facility Inspection [within / not within] Specified Date Range Indicator. The date range is determined by parameters p_idt1 and p_idt2 or by parameter p_ysly.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
      - NV
    in: formData
    name: p_ysl
    required: false
    type: string
  f.p_ysla:
    description: |-
      Facility Last Inspection Code Filter.  If left blank, both agencies are included.  Enter a value to limit results:
      - E = EPA
      - S = State
    enum:
      - E
      - S
      - A
    in: formData
    name: p_ysla
    required: false
    type: string
  f.p_ysly:
    description: Number of years (1 to 5) since last facility inspection.  A value of 1 means that it has been inspected within the year.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: formData
    name: p_ysly
    required: false
    type: number
  f.p_zip:
    description: 5-Digit ZIP Code Filter. Provide one or more 5-digit postal zip codes to filter results.  May contain multiple comma-separated values.
    in: formData
    name: p_zip
    required: false
    type: string
  f.pageno:
    default: 1
    description: Indicates the number of the page to display. It is used only when the results are paginated.
    in: formData
    name: pageno
    required: false
    type: number
  f.qid:
    description: Query ID Selector.  Enter the QueryID number from a previously run query.
    in: formData
    name: qid
    required: true
    type: string
  f.queryset:
    description: Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000.
    in: formData
    name: queryset
    required: false
    type: number
  f.responseset:
    description: Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000.
    in: formData
    name: responseset
    required: false
    type: number
  f.search_code:
    description: Enter a partial or complete code value.
    in: formData
    name: search_code
    required: false
    type: string
  f.search_term:
    description: Enter a partial or complete search phrase or word.
    in: formData
    name: search_term
    required: false
    type: string
  f.sort_order:
    in: formData
    name: sort_order
    required: false
    type: number
  f.status_flag:
    in: formData
    name: status_flag
    required: false
    type: string
  f.statute_code:
    in: formData
    name: statute_code
    required: false
    type: string
  f.summarylist:
    description: Summary List Flag.  Enter a Y to return a list of summary statistics based on the parameters submitted to the query service.
    enum:
      - Y
      - N
    in: formData
    name: summarylist
    required: false
    type: string
  f.tablelist:
    description: Table List Flag. Enter a Y to display the first page of facility results.
    enum:
      - Y
      - N
    in: formData
    name: tablelist
    required: false
    type: string
  f.wbd_code:
    description: Two-digit watershed code [Hydrologic Unit Code (HUC)].
    in: formData
    name: wbd_code
    required: false
    type: string
  f.wbd_level:
    description: The number of digits of the watershed code [Hydrologic Unit Code (HUC)] returned in the ValueCode. Must be an even number between 4 and 12.
    in: formData
    name: wbd_level
    required: false
    type: string
  f.wbd_name:
    description: Watershed Name Filter.
    in: formData
    name: wbd_name
    required: true
    type: string
  f.xmax:
    description: Maximum longitude value in decimal degrees.
    in: formData
    name: xmax
    required: false
    type: number
  f.xmin:
    description: Minimum longitude value in decimal degrees.
    in: formData
    name: xmin
    required: false
    type: number
  f.ymax:
    description: Maximum latitude value in decimal degrees.
    in: formData
    name: ymax
    required: false
    type: number
  f.ymin:
    description: Minimum latitude value in decimal degrees.
    in: formData
    name: ymin
    required: false
    type: number
  q.c1_lat:
    description: Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: c1_lat
    required: false
    type: number
  q.c1_long:
    description: Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: c1_long
    required: false
    type: number
  q.c2_lat:
    description: Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: c2_lat
    required: false
    type: number
  q.c2_long:
    description: Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: c2_long
    required: false
    type: number
  q.callback:
    description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
    in: query
    name: callback
    required: false
    type: string
  q.descending:
    description: Output Sort Column Descending Flag.  Enter Y to column identified in the newsort parameter descending.  Enter N to use ascending sort order. Used only when newsort parameter is populated.
    enum:
      - Y
      - N
    in: query
    name: descending
    required: false
    type: string
  q.maplist:
    description: Map List Flag.  Provide a Y to return mappable coordinates representing the full geographic extent of the queryset (all facilities that met the selection criteria).
    enum:
      - Y
      - N
    in: query
    name: maplist
    required: false
    type: string
  q.newsort:
    description: Output Sort Column.  Enter the number of the column on which the data will be sorted. If unpopulated results will sort on the first column.
    in: query
    name: newsort
    required: false
    type: number
  q.p_MS4:
    description: Municipal Separate Storm Water Sewer (MS4) Permit Flag.  Enter a Y or N to filter results by this type of permit.
    enum:
      - Y
      - N
    in: query
    name: p_MS4
    required: false
    type: string
  q.p_act:
    description: Active Permits/Facilities Flag.  Provide Y or N to filter results to facilities with active permits.  A Y will select ICIS NPDES permits with a status of effective, continued, or expired.
    in: query
    name: p_act
    required: false
    type: string
  q.p_agoo:
    description: Indicates whether to AND or OR the Owner/Operator parameter (p_owop) and the federal agency code (p_fa) parameters.
    enum:
      - AND
      - OR
    in: query
    name: p_agoo
    required: false
    type: string
  q.p_alrexceed:
    description: Alert Limits Exceedences Limiter.  Enter a numeric value to restrict results to facilities having the given amount or more of alert limits exceedances.
    in: query
    name: p_alrexceed
    required: false
    type: number
  q.p_bio_analy_method_catgry:
    description: |-
      The unique code for the category of the analytic methods used by the facility to analyze regulated parameters (including enteric viruses, fecal coliforms, helminth ova, and Salmonella sp.) at the facility:

      - PAT = Pathogens
      - MET = Metals
      - NIT = Nitrogen Compounds
      - OTH = Other Analytes
    in: query
    name: p_bio_analy_method_catgry
    required: false
    type: string
  q.p_bio_current_vio:
    description: |-
      Indicator of whether the facility is currently in violation for biosolids under the Clean Water Act, in the 12th or 13th quarter:

      - Y = Yes
      - N = No
    enum:
      - Y
      - N
    in: query
    name: p_bio_current_vio
    required: false
    type: string
  q.p_bio_fac_type:
    description: |-
      The code indicating the reporting obligation reason:

      - POT = A POTW with a design flow rate equal to or greater than one million gallons per day
      - CLI = A Class I Sludge Management Facility as defined in 40 CFR 503.9
      - PPL = A POTW that serves 10,000 people or more
      - OTH = Otherwise required to report (e.g., permit condition, enforcement action)
      - NOA = None of the above
    in: query
    name: p_bio_fac_type
    required: false
    type: string
  q.p_bio_flag:
    description: A Y value will select all biosolid-related permits.
    in: query
    name: p_bio_flag
    required: false
    type: string
  q.p_bio_mgmt_container:
    description: |-
      The code that identifies the nature of each biosolids and sewage sludge material generated by the facility in terms of whether the material is a biosolid or sewage sludge and whether the material is ultimately conveyed off-site in bulk or in bags. The facility separately reports the form for each biosolids or sewage sludge management practice or practices used by the facility and pathogen class:

      - BUL = Bulk
      - BAG = Bag or Container
    in: query
    name: p_bio_mgmt_container
    required: false
    type: string
  q.p_bio_mgmt_def_category:
    description: |-
      This is the code indicating the type of NPDES special regulatory program deficiency:

      - INC = Biosolids Incineration
      - LNA = Biosolids Land Application
      - LNB = Biosolids Land Application - Pathogen Class B
      - OTB = Biosolids Other Management Practice
      - SFD = Biosolids Surface Disposal
    in: query
    name: p_bio_mgmt_def_category
    required: false
    type: string
  q.p_bio_mgmt_deficiencies:
    description: The number of times noncompliance was reported by the facility in the last 3 years. The results returned will include facilities whose number of reported noncompliance events is greater than or equal to the number entered.
    in: query
    name: p_bio_mgmt_deficiencies
    required: false
    type: number
  q.p_bio_mgmt_pathogen:
    description: |-
      This code identifies the pathogen class [e.g., Class A, Class B, Not Applicable (Incineration)] for biosolids or sewage sludge generated by the facility. The facility will separately report the pathogen class for each biosolids or sewage sludge management practice used by the facility and by each biosolids or sewage sludge form. It also is used to filter applicable Pathogen Reduction and Vector Attraction Reduction Options as well as Land Application Management Practice Deficiencies. Only reqired for some of the mgmt. practice types:

      - AAA = Class A
      - AEQ = Class A EQ (sale/give away)
      - BBB = Class B
      - NAP = Not Applicable (Incineration)
    in: query
    name: p_bio_mgmt_pathogen
    required: false
    type: string
  q.p_bio_mgmt_pathred:
    description: |-
      This is the description of the option used by the facility to control pathogen for a Biosolids Management Practice:

      - A1 = Class A - Alternative 1: Time/Temperature
      - A2 = Class A - Alternative 2: pH/Temperature/Percent Solids
      - A3 = Class A - Alternative 3: Test Enteric Viruses and Helminth ova; Operating Parameters
      - A4 = Class A - Alternative 4: Test Enteric Viruses and Helminth ova; No New Solids
      - A51 = Class A - Alternative 5: PFRP 1: Composting
      - A52 = Class A - Alternative 5: PFRP 2: Heat Drying
      - A53 = Class A - Alternative 5: PFRP 3: Liquid heat treatment
      - A54 = Class A - Alternative 5: PFRP 4: Thermophilic Aerobic Digestion (ATAD)
      - A55 = Class A - Alternative 5 PFPR 5: Beta Ray Irradiation
      - A56 = Class A - Alternative 5 PFPR 6: Gamma Ray Irradiation
      - A57 = Class A - Alternative 5: PFRP 7: Pasteurization
      - A6 = Class A - Alternative 6: PFRP Equivalency
      - B1 = Class B - Alternative 1: Fecal Coliform Geometric Mean
      - B21 = Class B - Alternative 2 PSRP 1: Aerobic Digestion
      - B22 = Class B - Alternative 2 PSRP 2: Air Drying
      - B23 = Class B - Alternative 2 PSRP 3: Anaerobic Digestion
      - B24 = Class B - Alternative 2 PSRP 4: Composting
      - B25 = Class B - Alternative 2 PSRP 5: Lime Stabilization
      - B3 = Class B - Alternative 3: PSRP Equivalency
      - PH = pH Adjustment (Domestic Septage)
    in: query
    name: p_bio_mgmt_pathred
    required: false
    type: string
  q.p_bio_mgmt_prctce_handler:
    description: |-
      This is the code indicating the type of Biosolids or Sewage Sludge handlers/preparers.

      - OWN = Owner or Operator
      - OFF = Off-Site Third-Party Handler or Preparer
    in: query
    name: p_bio_mgmt_prctce_handler
    required: false
    type: string
  q.p_bio_mgmt_prctce_stype:
    description: |-
      This is the code indicating additional detail about the type of Management Practice used for a volume of Biosolids or Sewage Sludge:

      - ADV = Advanced Alkaline Stabilized Biosolids Distribution & Marketing
      - AGR = Agricultural Land Application
      - COM = Distribution and Marketing - Compost
      - DEE = Deep-well Injection Disposal
      - DIS = Disposal in a Municipal Landfill (under 40 CFR 258)
      - DMO = Distribution and Marketing - Other
      - HEA = Heat Dried Biosolids Distribution & Marketing
      - OTL = Other Land Application Management Practice Detail
      - OTO = Other Management Practice Detail
      - RSA = Reclamation Site Application
      - SEN = Sent to Cement Kiln for Use as Alternative Energy
      - STO = Storage
      - UIC = Use in Construction
      - UPS = Used in Production of Syngas
      - USE = Use as Daily Cover for Municipal Landfill (under 40 CFR 258)
    in: query
    name: p_bio_mgmt_prctce_stype
    required: false
    type: string
  q.p_bio_mgmt_prctce_type:
    description: |-
      The unique code that identifies the type of biosolids or sewage sludge management practice (e.g., land application, surface disposal, incineration) used by the facility. The facility will separately report the management practice for each biosolids or sewage sludge form and pathogen class. This data element will also identify the management practices used by surface disposal site owners/operators (see 40 CFR 503.24):

      - BIN = Incineration
      - BLN = Land Application
      - BOT = Other Management Practice
      - BSD = Surface Disposal
    in: query
    name: p_bio_mgmt_prctce_type
    required: false
    type: string
  q.p_bio_mgmt_vector:
    description: |-
      The unique code that identifies the option used by the facility for vector attraction reduction. See a listing of these vector attraction reduction options at 40 CFR 503.33(b)(1) through (11). The facility will separately report the vector attraction reduction options for each biosolids or sewage sludge management practice used by the facility and by each biosolids or sewage sludge form as well as by each biosolids or sewage sludge pathogen class:

      - VR1 = Option 1 - Volatile Solids Reduction
      - VR2 = Option 2 - Bench-Scale Volatile Solids Reduction (Anaerobic Bench Test)
      - VR3 = Option 3 - Bench-Scale Volatile Solids Reduction (Aerobic Bench Test w/ Percent Solids - 2% or Less)
      - VR4 = Option 4 - Specific Oxygen Uptake Rate
      - VR5 = Option 5 - Aerobic Processing (Thermophilic Aerobic Digestion/Composting)
      - VR6 = Option 6 - Alkaline Treatment
      - VR7 = Option 7 - Drying (Equal to or Greater than 75 Percent)
      - VR8 = Option 8 - Drying (Equal to or Greater than 90 Percent)
      - VR9 = Option 9 - Sewage Sludge Injection
      - V10 = Option 10 - Sewage Sludge Timely Incorporation into Land
      - V11 = Option 11 - Sewage Sludge Covered at the End of Each Operating Day
    in: query
    name: p_bio_mgmt_vector
    required: false
    type: string
  q.p_bio_qtrs_in_vio:
    description: The number of quarters, in the last three years, where the facility was in violation for a biosolids violation type.  The results returned will include facilities whose number of quarters with violations is greater than or equal to the number entered.
    in: query
    name: p_bio_qtrs_in_vio
    required: false
    type: number
  q.p_bio_rpt_year:
    description: The last year that the permittee submitted an annual Biosolids report.  Valid values are NONE and any year greater or equal to 2016.
    in: query
    name: p_bio_rpt_year
    required: false
    type: string
  q.p_bio_total_volume_amt:
    description: |-
      Total annual amount (in dry metric tons) of biosolids or sewage sludge generated at the facility.

      - EQ0 = 0
      - IN0_1 = GT 0 but LT 1
      - IN0_289  =  GT 0 but LT 290 MT/year
      - IN290_1499  =  GE 290 but LT 1500 MT/year
      - IN1500_14999  =  GE 1500 but LT 15,000
      - GE15000  =  GE 15,000
    in: query
    name: p_bio_total_volume_amt
    required: false
    type: string
  q.p_bio_trtmnt_procs:
    description: |-
      The biosolids or sewage sludge treatment process or processes at the facility:

      - AER = Aerobic Digestion
      - AIR = Air Drying (or Sludge Drying Beds)
      - ANA = Anaerobic Digestion
      - COD = Beta Ray Irradiation
      - COM = Lower Temperature Composting
      - DEW = Pasteurization
      - DIS = Gamma Ray Irradiation
      - HEA = Heat Drying (e.g., Flash Dryer, Spray Dryer, Rotary Dryer)
      - HET = Heat Treatment (Liquid Sewage Sludge Heated to 356 Deg. F/180 Deg. C or Higher for 30 min.)
      - HTC = Higher Temperature Composting
      - MET = Methane or Biogas Capture and Recovery
      - OTH = Other Treatment Process
      - PRE = Preliminary Operations (e.g., Sludge Grinding, Degritting, Blending)
      - SLU = Sludge Lagoon
      - STA = Lime Stabilization
      - THE = Temporary Sludge Storage (Sewage Sludge Stored on Land 2 Years or Less, Not in Sewage Sludge Unit)
      - THI = Thickening (Gravity and/or Flotation Thickening, Centrifugation, Belt Filter Press, Vacuum Filter)
      - THM = Thermophilic Aerobic Digestion
      - UND = Long-Term Sludge Storage (Sewage Sludge Stored on Land 2 Years or More, not in Sewage Sludge Unit)"
    in: query
    name: p_bio_trtmnt_procs
    required: false
    type: string
  q.p_bio_vio_code:
    description: The Biosolids Single Event Violation Code.  Enter one or mode codes.
    in: query
    name: p_bio_vio_code
    required: false
    type: string
  q.p_bio_vio_last_year:
    description: Identifies if a biosolids violation has occured in the last year.  Valid values are Y and N.
    enum:
      - Y
      - N
    in: query
    name: p_bio_vio_last_year
    required: false
    type: string
  q.p_c1lat:
    description: In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: p_c1lat
    required: false
    type: number
  q.p_c1lon:
    description: In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: p_c1lon
    required: false
    type: number
  q.p_c2lat:
    description: In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: p_c2lat
    required: false
    type: number
  q.p_c2lon:
    description: In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: p_c2lon
    required: false
    type: number
  q.p_co:
    description: Facility County Filter. Provide a single county name in combination with a state value provided via p_st.
    in: query
    name: p_co
    required: false
    type: string
  q.p_ct:
    description: Facility City Filter. Enter a single case-insensitive city name to filter results.
    in: query
    name: p_ct
    required: false
    type: string
  q.p_da1:
    description: Active Date Filter Start.  To filter by the active date, enter a start date here and an end date in the p_da2 parameter.  Both dates are required for filtering.
    in: query
    name: p_da1
    required: false
    type: string
  q.p_da2:
    description: Active Date Filter End.  To filter by the active date, enter an end date here and a start date in the p_da1 parameter.  Both dates are required for filtering.
    in: query
    name: p_da2
    required: false
    type: string
  q.p_ds1:
    description: Submitted Date Filter Start.  To filter by the date of submission, enter a start date here and an end date in the p_ds2 parameter.  Both dates are required for filtering.
    in: query
    name: p_ds1
    required: false
    type: string
  q.p_ds2:
    description: Submitted Date Filter End.  To filter by the date of submission, enter an end date here and a start date in the p_ds1 parameter.  Both dates are required for filtering.
    in: query
    name: p_ds2
    required: false
    type: string
  q.p_dwd:
    description: Direct Water Discharges. Pounds of toxic chemicals released directly to surface water as reported to the Toxics Release Inventory.
    enum:
      - "0"
      - GT0
      - GT1000
      - GT5000
      - GT10000
      - GT20000
      - GT50000
    in: query
    name: p_dwd
    required: false
    type: string
  q.p_e90_count:
    description: Number of E90 Exceedances.  Identifies water permits with a number of E90 (Effluient Exceedances) >= the value provided for the last number of years provided by the p_e90_years value.
    in: query
    name: p_e90_count
    required: false
    type: number
  q.p_e90_years:
    description: Number of years for the p_e90_count search.  Identified the past number of years to be used for the p_e90_count search.
    in: query
    name: p_e90_years
    required: false
    type: number
  q.p_ejscreen:
    description: Enter "Y" to limit facilities to Census block groups where one of more Environmental Justice indexes above 80th percentile.
    in: query
    name: p_ejscreen
    required: false
    type: string
  q.p_ejscreen_over80cnt:
    description: The number of Environmenmt Justice Indicators above the 80th percentile.  Valid values are 1 through 11.
    enum:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
      - "6"
      - "7"
      - "8"
      - "9"
      - "10"
      - "11"
    in: query
    name: p_ejscreen_over80cnt
    required: false
    type: string
  q.p_fa:
    description: Federal Agency. 1 character or 5-character values; may contain multiple comma-separated values. ALL will retrieve all facilities where the federal agency code is not null.  Use the Federal Agencies lookup service to obtain a list of values.
    in: query
    name: p_fa
    required: false
    type: string
  q.p_fac_ico:
    description: FRS tribal land code flag.  Enter "Y" or "N" to include or exclude facilities based on FRS tribal land code.
    enum:
      - Y
      - N
    in: query
    name: p_fac_ico
    required: false
    type: string
  q.p_fac_icos:
    description: FRS tribal land spatial flag.  Enter "Y" or "N" to include or exclude facilities based on FRS tribal land spatial flag.
    in: query
    name: p_fac_icos
    required: false
    type: string
  q.p_fea:
    description: |-
      Formal Enforcement Actions [within / not within] specified date range indicator. The date range is determined by parameters p_fead1 and p_fead2 or by parameter p_feay.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
    in: query
    name: p_fea
    required: false
    type: string
  q.p_feaa:
    description: |-
      Agency associated with Formal Enforcement Actions:
      - E = EPA
      - S = State
      - A = All
    enum:
      - A
      - E
      - S
    in: query
    name: p_feaa
    required: false
    type: string
  q.p_feay:
    description: Years (1 to 5) Range.  This value is used to create a date range for Formal Enforcement Actions (FEA). Used along with p_fea (which indicates whether to look within or outside of the date range) to find FEAs within (or not within) the number of years specified.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: query
    name: p_feay
    required: false
    type: number
  q.p_ff:
    description: Federal Facility Indicator Flag. Enter Y to restrict searches to federal facilities.
    enum:
      - Y
    in: query
    name: p_ff
    required: false
    type: string
  q.p_fips:
    description: FIPS Code Filter.  Enter a single 5-character Federal Information Processing Standards (FIPS) state + county value to restrict results.  E.g. to limit results to Kenosha County, Wisconsin, use 55059.
    in: query
    name: p_fips
    required: false
    type: string
  q.p_fn:
    description: Facility Name Filter. Enter one or more case-insensitive facility names to filter results.  Provide multiple values as a comma-delimited list.  See p_fntype for additional modifiers.
    in: query
    name: p_fn
    required: false
    type: string
  q.p_fntype:
    description: |-
      Controls type of text search performed on facility name with parameter p_fn.
      - EXACT = Find facilities having the exact provided name(s).
      - BEGINS = Find facilities with names starting with the provided term(s).
      - ALL = Find facilities using Oracle text search terms.
      - CONTAINS = 
    enum:
      - ALL
      - CONTAINS
      - EXACT
      - BEGINS
    in: query
    name: p_fntype
    required: false
    type: string
  q.p_frs:
    description: Facility Registry Service ID Filter. Enter a single 12-digit FRS identifier to filter results.
    in: query
    name: p_frs
    required: false
    type: string
  q.p_frswbd:
    description: Works exactly the same as the p_wbd parameter.  2-, 4-, 6-, 8-, 10-, or 12-character watershed (WBD from the USGS Watershed Boundary Dataset). May contain multiple comma-separated values.  Uses the FRS Best Pick Coordinate to obtain the WBD12 Huc value.
    in: query
    name: p_frswbd
    required: false
    type: string
  q.p_huc:
    description: 2-, 4-, 6-, or 8-character watershed code. May contain multiple comma-separated values.
    in: query
    name: p_huc
    required: false
    type: string
  q.p_iagency:
    description: Issuing Agency Limiter.  Enter a single value to filter results by the issuing agency, e.g. "State" or "EPA".
    in: query
    name: p_iagency
    required: false
    type: string
  q.p_ico:
    description: Indian Country Flag.  Enter a "Y" or "N" to restrict searches to facilities inside or outside Indian Country.
    enum:
      - Y
      - N
    in: query
    name: p_ico
    required: false
    type: string
  q.p_icoo:
    description: Indian country search and/or flag.  Enter "Y" to set indian country search conditions to return any results found using p_ico, p_fac_ico or p_fac_icoo.  Otherwise only results matching all provided p_ico, p_fac_ico or p_fac_icoo conditions will be returned.
    in: query
    name: p_icoo
    required: false
    type: string
  q.p_id:
    description: Nine-character code used to uniquely identify a permitted NPDES facility. The NPDES permit program regulates the direct discharge of pollutants into US waters.
    in: query
    name: p_id
    required: true
    type: string
  q.p_idt1:
    description: Beginning of date range of most recent facility inspection.
    in: query
    name: p_idt1
    required: false
    type: string
  q.p_idt2:
    description: End of date range of most recent facility inspection.
    in: query
    name: p_idt2
    required: false
    type: string
  q.p_iea:
    description: |-
      Informal Enforcement Actions [within / not within] specified date range.  The date range is determined by parameters p_iead1 and p_iead2 or by parameter p_ieay.
      - W = within date range
      - N = not within date range
    enum:
      - W
      - N
    in: query
    name: p_iea
    required: false
    type: string
  q.p_ieaa:
    description: |-
      Agency associated with Informal Enforcement Actions. If left blank, both agencies are included.
      - E = EPA
      - S = State
    enum:
      - E
      - S
    in: query
    name: p_ieaa
    required: false
    type: string
  q.p_ieay:
    description: Years (1 to 5) Range.  This value is used to create a date range for Informal Enforcement Actions (IEA). Used along with p_iea (which indicates whether to look within or outside of the date range) to find IEAs within (or not within) the number of years specified.
    enum:
      - 1
      - 2
      - 3
      - 4
      - 5
    in: query
    name: p_ieay
    required: false
    type: number
  q.p_imp_cau_grp:
    description: Facility is discharging a pollutant group causing a waterbody to be impaired.  Enter 1 through 34 (the internal number of the pollutant group); or enter a partial name such as Dioxin,Temp,tUrBidity.
    enum:
      - ALGAL GROWTH
      - AMMONIA
      - BIOTOXINS
      - CAUSE UNKNOWN
      - CAUSE UNKNOWN - FISH KILLS
      - CAUSE UNKNOWN - IMPAIRED BIOTA
      - CHLORINE
      - DIOXINS
      - FISH CONSUMPTION ADVISORY
      - FLOW ALTERATION(S)
      - HABITAT ALTERATIONS
      - MERCURY
      - METALS (OTHER THAN MERCURY)
      - NOXIOUS AQUATIC PLANTS
      - NUISANCE EXOTIC SPECIES
      - NUISANCE NATIVE SPECIES
      - NUTRIENTS
      - OIL AND GREASE
      - ORGANIC ENRICHMENT/OXYGEN DEPLETION
      - OTHER CAUSE
      - PATHOGENS
      - PESTICIDES
      - PH/ACIDITY/CAUSTIC CONDITIONS
      - POLYCHLORINATED BIPHENYLS (PCBS)
      - RADIATION
      - SALINITY/TOTAL DISSOLVED SOLIDS/CHLORIDES/SULFATES
      - SEDIMENT
      - TASTE, COLOR AND ODOR
      - TEMPERATURE
      - TOTAL TOXICS
      - TOXIC INORGANICS
      - TOXIC ORGANICS
      - TRASH
      - TURBIDITY
    in: query
    name: p_imp_cau_grp
    required: false
    type: string
  q.p_imp_pol:
    description: Facility is discharging pollutants that are potentially contributing to the impairment of local waterbodies according to the ATTAINS database.
    enum:
      - Y
      - N
    in: query
    name: p_imp_pol
    required: false
    type: string
  q.p_impw:
    description: Discharging into Impaired Waters Flag. Enter Y to limit results to facilities with discharge to waterbodies listed as impaired in the ATTAINS database.
    enum:
      - Y
      - N
    in: query
    name: p_impw
    required: false
    type: string
  q.p_indsw:
    description: Industrial Stormwater Permit Flag.  Enter a Y or N to filter results by this type of permit.
    enum:
      - Y
      - N
    in: query
    name: p_indsw
    required: false
    type: string
  q.p_ipfti:
    in: query
    name: p_ipfti
    required: false
    type: string
  q.p_isws:
    description: Multi-Sector General Purpose Permit Subsector Individual Identifier.  Enter a value to filter results.
    in: query
    name: p_isws
    required: false
    type: string
  q.p_iswss:
    description: Multi-Sector General Purpose Permit Subsector Group Code.  Enter a value to filter results.
    in: query
    name: p_iswss
    required: false
    type: string
  q.p_iswssID:
    description: Multi-Sector General Purpose Permit Sector Code.  Enter a value to filter results.
    in: query
    name: p_iswssID
    required: false
    type: string
  q.p_iv:
    description: |-
      Facility has a violation status of 'In Viol' during any of the selected quarters. 

      Range: Fiscal Year 2020 Quarter 2 to Fiscal Year 2017 Quarter 2

      Multiple values are comma delimited.


      ||||||  Fiscal Years ||||||
      - FY2020 or FY20 or 2020 or 20
      - FY2019 or FY19 or 2019 or 19
      - FY2018 or FY18 or 2018 or 18
      - FY2017 or FY17 or 2017 or 17

      ||||| Fiscal Quarters |||||
      - FY2020Q2 or FY20Q2 or 20202 or 202 or 13
      - FY2020Q1 or FY20Q1 or 20201 or 201 or 12
      - FY2019Q4 or FY19Q4 or 20194 or 194 or 11
      - FY2019Q3 or FY19Q3 or 20193 or 193 or 10
      - FY2019Q2 or FY19Q2 or 20192 or 192 or 9
      - FY2019Q1 or FY19Q1 or 20191 or 191 or 8
      - FY2018Q4 or FY18Q4 or 20184 or 184 or 7
      - FY2018Q3 or FY18Q3 or 20183 or 183 or 6
      - FY2018Q2 or FY18Q2 or 20182 or 182 or 5
      - FY2018Q1 or FY18Q1 or 20181 or 181 or 4
      - FY2017Q4 or FY17Q4 or 20174 or 174 or 3
      - FY2017Q3 or FY17Q3 or 20173 or 173 or 2
      - FY2017Q2 or FY17Q2 or 20172 or 172 or 1
    in: query
    name: p_iv
    required: false
    type: string
  q.p_last_dmr_within:
    description: W value returns facilities that have submitted DMRs within the number of months specified by p_months_last_dmr. An N value returns facilities that have not submitted a DMR within the specified number of months.
    enum:
      - W
      - N
    in: query
    name: p_last_dmr_within
    required: false
    type: string
  q.p_lat:
    description: Latitude location in decimal degrees.
    in: query
    name: p_lat
    required: false
    type: number
  q.p_limit_addr:
    description: "Limit Address Search Flag.  Enter Y to restrict facility searches to native data source only.  "
    enum:
      - Y
      - N
    in: query
    name: p_limit_addr
    required: false
    type: string
  q.p_long:
    description: Longitude location in decimal degrees.
    in: query
    name: p_long
    required: false
    type: number
  q.p_mact:
    description: CAA Maximum Achievable Control Technology (MACT) Subpart codes (alpha ID between 1 and 7 characters) applicable to the facility.
    in: query
    name: p_mact
    required: false
    type: string
  q.p_maj:
    description: Major Facility Flag.  Enter Y to restrict results to Major facilities only.
    enum:
      - Y
      - N
    in: query
    name: p_maj
    required: false
    type: string
  q.p_med:
    description: |-
      Filter Results by Media.
      - A = Air
      - M = RMP (Risk Management Plan)
      - R = RCRA (Hazardous Waste)
      - S = SDWA (Public Drinking Water Systems)
      - ALL = Air and RCRA and Water
    enum:
      - A
      - M
      - R
      - S
      - ALL
    in: query
    name: p_med
    required: false
    type: string
  q.p_mon_type:
    description: "For use with the Industrial Stormwater search only. Valid values are BENCHGS fro Benchmark (Alert Limit) G2 Ore, BENCH for Benchmark (Alert Limit), and ELG fro Effluent Limitation Guidelines(ELG)(Effluent Limit).  "
    enum:
      - BENCHG2
      - BENCH
      - ELG
    in: query
    name: p_mon_type
    required: false
    type: string
  q.p_months_last_dmr:
    description: The number of months since the last Discharge Monitoring Report has been submitted.
    in: query
    name: p_months_last_dmr
    required: false
    type: number
  q.p_msgp_ptype:
    description: |-
      Multi-Sector General Purpose Permit Type.  Enter a value to filter results by MSGP Permit Type.
      - NOI = Notice of Intent
      - NOE = No Exposure Certification
    enum:
      - NOI
      - NOE
    in: query
    name: p_msgp_ptype
    required: false
    type: string
  q.p_msgp_rpt_year:
    description: The last year that a MSGP report was submitted for the permit.  Valid values are "NONE" and any year Greater or Eqal to 2015.
    in: query
    name: p_msgp_rpt_year
    required: false
    type: string
  q.p_ncs:
    description: North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values.
    in: query
    name: p_ncs
    required: false
    type: string
  q.p_ooCt:
    description: Owner/Operator City. Enter the city where the owner/operator of the facility is located.
    in: query
    name: p_ooCt
    required: false
    type: string
  q.p_ooFN:
    description: Owner/Operator Name. Enter the owner/operator name of the facility.
    in: query
    name: p_ooFN
    required: false
    type: string
  q.p_ooFNtype:
    description: "Owner/Operator Name Multiple Selection Evaluator.  "
    enum:
      - ALL
      - EXACT
      - BEGINS
      - CONTAINS
    in: query
    name: p_ooFNtype
    required: false
    type: string
  q.p_ooSA:
    description: Owner/Operator Address.  Enter the address of the owner/operator of the facility.
    in: query
    name: p_ooSA
    required: false
    type: string
  q.p_ooSA1:
    description: Owner/Operator Address Line 2.  Enter the line 2 address of the owner/operator of the facility.
    in: query
    name: p_ooSA1
    required: false
    type: string
  q.p_ooSt:
    description: Owner/Operator State.  Enter the standardized postal state code where the owner/operator of the facility is located.
    in: query
    name: p_ooSt
    required: false
    type: string
  q.p_ooZip:
    description: Owner/Operator Zip Code.  Enter the postal zip code where the owner/operator of the facility is located.
    in: query
    name: p_ooZip
    required: false
    type: string
  q.p_owop:
    description: |-
      Owner/Operator code filter.  Enter one of the following values to restrict results.
      - Federal = Federal facilities regulated under the NPDES program.
      - POTW = Publicly owned treatment works. Treatment works that are owned by a State, Tribe, or municipality.
      - Non-POTW = Non-publicly owned treatment works. Often referred to as "non-municipals" or "industrials".
    enum:
      - FEDERAL
      - POTW
      - NON-POTW
    in: query
    name: p_owop
    required: false
    type: string
  q.p_pccs:
    description: |-
      Current Compliance Status:
      ||||||||||||||||||||||||||| 
      Significant Noncompliance (SNC) 
      |||||||||||||||||||||||||||
      - SNC = E, S, X, T, D
      - E�= E(EffViol)
      - S�= S(CSchVio)
      - X = X(EffNMth)
      - T = T(CSchRpt)
      - D�= D(DMR NR)

      |||||||||||||||||||||||||||
      Noncompliance (NC)
      |||||||||||||||||||||||||||
      - NC = N, V
      - N�= N(RptViol)
      - V�= V(NonRNCV)

      |||||||||||||||||||||||||||
      New Violations (PQV)
      |||||||||||||||||||||||||||
      - PQV = New Violations (13th Quarter)

      |||||||||||||||||||||||||||
      No Violations (NV)
      |||||||||||||||||||||||||||
      - NV = R, P, M, U, W
      , Blank, and No New Violations (no PQV)
      - R�= R(Resolvd)
      - P�= P(ResPend)
      - M�= C(Manual)
      - U = U(N/A)
      - W = W(N/A)
      - Blank = (null)

      May contain multiple comma-separated values.
    in: query
    name: p_pccs
    required: false
    type: string
  q.p_pcomp:
    description: |-
      Permit Component Code Filter.  Enter one or more codes to filter results.  Provide multiple values as a comma-delimited list.
      - PRE = Pretreatment
      - CAF = CAFO
      - CSO = CSO
      - POT = POTW
      - BIO = Biosolids
      - SWS = Storm Water Small MS4s
      - SWM = Storm Water Medium/Large MS4s
      - SWI = Storm Water Industrial
      - SWC = Storm Water Construction
    in: query
    name: p_pcomp
    required: false
    type: string
  q.p_pcss:
    description: |-
      Combined Sewer Systems Outflows Limiter.  Enter one of the following to limit results to facilities having the given count of CSS outflows.
      - ALL = returns all facilities, regardless of the number of outflows.
      - GE1 = returns facilities with one or more outflows.
      - GE10 = returns facilities with ten or more outflows.
      - GE50 = returns facilities with fifty or more outflows.
    enum:
      - ALL
      - GE1
      - GE10
      - GE50
    in: query
    name: p_pcss
    required: false
    type: string
  q.p_pctrack:
    description: |-
      Compliance Tracking Limiter. Provide a keyword to indicate the extent to which data is being entered and effluent exceedances are being identified.
      - Off
      - Partial
      - On
    enum:
      - Off
      - Partial
      - On
    in: query
    name: p_pctrack
    required: false
    type: string
  q.p_pd:
    description: |-
      Population Density Limiter (per sq mile). Enter a value to limit results to facilities located in area of a given population density.
      - NONE = 0 population density per square mile
      - GT100 = More than 100 population density per square mile
      - GT500 = More than 500 population density per square mile
      - GT1000 = More than 1000 population density per square mile
      - GT5000 = More than 5000 population density per square mile
      - GT10000 = More than 10000 population density per square mile
      - GT20000 = More than 20000 population density per square mile
    enum:
      - NONE
      - GT100
      - GT500
      - GT1000
      - GT5000
      - GT10000
      - GT20000
    in: query
    name: p_pd
    required: false
    type: string
  q.p_pdwdist:
    description: Distance (in miles) to downstream drinking water intake.
    enum:
      - N
      - LT1
      - LT2
      - LT5
      - LT10
      - LT15
    in: query
    name: p_pdwdist
    required: false
    type: string
  q.p_pen:
    description: |-
      Last Penality Date Qualifier Filter.  Enter one of the following:   
      - NEVER = No Penalties
      - ANY = Any Penalty
      - LEXX = Less than or equal to XX months.  Provide a number in place of XX, e.g. "LE5" for a facility with a penalty within previous 5 months.
      - GTXX = Greater than XX months.  Provide a number in place of XX, eg. GT12, for a facility with the last penalty greater than 12 months ago.
    in: query
    name: p_pen
    required: false
    type: string
  q.p_permitting_agency:
    in: query
    name: p_permitting_agency
    required: false
    type: string
  q.p_pexcd:
    description: |-
      3-Year Effluent Exceedances Limiter.  Enter a value to restrict results to facilities with the given amount of exceedances in the past 3 years.
      - 0 = facilities with no exceedances
      - GE0 = facilities with one or more exceedances
      - GE10 = facilities with ten or more exceedances
      - GE50 = facilities with fifty or more exceedances
      - GE100 = facilities with one hundred or more exceedances
    enum:
      - "0"
      - GE0
      - GE10
      - GE50
      - GE100
    in: query
    name: p_pexcd
    required: false
    type: string
  q.p_pexp:
    description: |-
      Permit Expired or Administratively Continued Limiter.  Enter one of the following values to filter results.
      - EXP = limit results to facilities with permits expired or administratively continued.
      - EXPLE1YR = limit resuls to facilities with permits expired administratively continued within the past year.
      - EXPGT1YR = limit resuls to facilities with permits expired administratively continued more than a year ago.
    enum:
      - EXP
      - EXPLE1YR
      - EXPGT1YR
    in: query
    name: p_pexp
    required: false
    type: string
  q.p_pfead1:
    description: Formal Enforcement Action Date Range Start.  Enter a date in MM/DD/YYYY format to set the start of the range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.
    in: query
    name: p_pfead1
    required: false
    type: string
  q.p_pfead2:
    description: Formal Enforcement Action Date Range End.  Enter a date in MM/DD/YYYY format to set the end of the date range for filtering by recent Formal Enforcement Action (FEA) taken against the facility within the last five years.
    in: query
    name: p_pfead2
    required: false
    type: string
  q.p_pfeat:
    description: Formal Enforcement Action (FEA) Code Filter.  Enter one or more three-letter FEA codes to restrict results to facilities with these attributes.  Use p_fead1 and p_fead2 parameters to further restrict this filter by entering a date range.  Provide multiple codes as a comma-delimited list.
    in: query
    name: p_pfeat
    required: false
    type: string
  q.p_pid:
    description: Nine-digit permit IDs. May contain up to 2000 comma-separated values.
    in: query
    name: p_pid
    required: false
    type: string
  q.p_pidall:
    description: Controls whether search is restricted to existing system. Y means the search will match the p_pid parameter against all associated permits (AIR, RCRA, SDWIS, etc).
    enum:
      - Y
      - N
    in: query
    name: p_pidall
    required: false
    type: string
  q.p_pityp:
    description: Inspection Type Code.  See ICIS Compliance Monitor Types lookup serivce for a list of available codes and descriptions.
    in: query
    name: p_pityp
    required: false
    type: string
  q.p_plimits:
    description: Permit Limits Present Flag.  Enter Y to limit results to facilities have present permit limits.
    enum:
      - Y
      - N
    in: query
    name: p_plimits
    required: false
    type: string
  q.p_pm:
    description: |-
      Percent Minority Population Limiter.  Enter a value to restrict results to facilities with a given percentage of minority population within 3-mile radius.
      - NONE = 0%
      - GT5 = greater than 5%
      - GT10 = greater than 10%
      - GT25 = greater than 25%
      - GT50 = greater than 50%
      - GT75 = greater than 75%
    enum:
      - NONE
      - GT5
      - GT10
      - GT25
      - GT50
      - GT75
    in: query
    name: p_pm
    required: false
    type: string
  q.p_pretty_print:
    description: Optional flag to request GeoJSON formatted results to be pretty printed.  Only provide a numeric value when the output needs to be human readable as pretty printing has a performance cost.
    in: query
[...]
