swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Use these REST APIs for performing operations on API entity and their Operations associated with your Azure API Management deployment.
  title: ApiManagementClient
  version: 2017-03-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/apimanagement/resource-manager/Microsoft.ApiManagement/stable/2017-03-01/apimapis.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: apimanagement-apimapis
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiIdParameter:
    description: API identifier. Must be unique in the current API Management service instance.
    in: path
    maxLength: 256
    minLength: 1
    name: apiId
    pattern: ^[^*#&+:<>?]+$
    required: true
    type: string
    x-ms-parameter-location: method
  ApiIdRevParameter:
    description: API revision identifier. Must be unique in the current API Management service instance. Non-current revision has ;rev=n as a suffix where n is the revision number.
    in: path
    maxLength: 256
    minLength: 1
    name: apiId
    pattern: ^[^*#&+:<>?]+$
    required: true
    type: string
    x-ms-parameter-location: method
  AttachmentIdParameter:
    description: Attachment identifier within an Issue. Must be unique in the current Issue.
    in: path
    maxLength: 256
    minLength: 1
    name: attachmentId
    pattern: ^[^*#&+:<>?]+$
    required: true
    type: string
    x-ms-parameter-location: method
  CommentIdParameter:
    description: Comment identifier within an Issue. Must be unique in the current Issue.
    in: path
    maxLength: 256
    minLength: 1
    name: commentId
    pattern: ^[^*#&+:<>?]+$
    required: true
    type: string
    x-ms-parameter-location: method
  IfMatch:
    description: ETag of the Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
    in: header
    name: If-Match
    required: true
    type: string
    x-ms-parameter-location: method
  IssueIdParameter:
    description: Issue identifier. Must be unique in the current API Management service instance.
    in: path
    maxLength: 256
    minLength: 1
    name: issueId
    pattern: ^[^*#&+:<>?]+$
    required: true
    type: string
    x-ms-parameter-location: method
  OperationIdParameter:
    description: Operation identifier within an API. Must be unique in the current API Management service instance.
    in: path
    maxLength: 256
    minLength: 1
    name: operationId
    pattern: ^[^*#&+:<>?]+$
    required: true
    type: string
    x-ms-parameter-location: method
  SchemaIdParameter:
    description: Schema identifier within an API. Must be unique in the current API Management service instance.
    in: path
    maxLength: 256
    minLength: 1
    name: schemaId
    pattern: ^[^*#&+:<>?]+$
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis":
    get:
      description: Lists all APIs of the API Management service instance.
      externalDocs:
        url: https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-create-apis
      operationId: Api_ListByService
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: |-
            | Field       | Supported operators    | Supported functions               |
            |-------------|------------------------|-----------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | serviceUrl  | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | path        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - default: false
          description: Include full ApiVersionSet resource in response
          in: query
          name: expandApiVersionSet
          required: false
          type: boolean
      responses:
        "200":
          description: Paged Result response of Apis.
          schema:
            $ref: "#/definitions/ApiCollection"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Apis
      x-ms-examples:
        ApiManagementListApis:
          parameters:
            api-version: 2017-03-01
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/a1
                    name: a1
                    properties:
                      apiRevision: "1"
                      apiVersionSetId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/api-version-sets/c48f96c9-1385-4e2d-b410-5ab591ce0fc4
                      displayName: api1
                      isCurrent: true
                      path: api1
                      protocols:
                        - https
                      serviceUrl: http://echoapi.cloudapp.net/api
                    type: Microsoft.ApiManagement/service/apis
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5a73933b8f27f7cc82a2d533
                    name: 5a73933b8f27f7cc82a2d533
                    properties:
                      apiRevision: "1"
                      apiVersion: v1
                      apiVersionSetId: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/api-version-sets/c48f96c9-1385-4e2d-b410-5ab591ce0fc4
                      displayName: api1
                      isCurrent: true
                      path: api1
                      protocols:
                        - https
                      serviceUrl: http://echoapi.cloudapp.net/api
                    type: Microsoft.ApiManagement/service/apis
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/echo-api
                    name: echo-api
                    properties:
                      apiRevision: "1"
                      displayName: Echo API
                      isCurrent: true
                      path: echo
                      protocols:
                        - https
                      serviceUrl: http://echoapi.cloudapp.net/api
                    type: Microsoft.ApiManagement/service/apis
                  - id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5a7390baa5816a110435aee0
                    name: 5a7390baa5816a110435aee0
                    properties:
                      apiRevision: "1"
                      description: A sample API that uses a petstore as an example to demonstrate features in the swagger-2.0 specification
                      displayName: Swagger Petstore Extensive
                      isCurrent: true
                      path: vvv
                      protocols:
                        - https
                      serviceUrl: http://petstore.swagger.wordnik.com/api
                    type: Microsoft.ApiManagement/service/apis
      x-ms-odata: "#/definitions/ApiContract"
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}":
    delete:
      description: Deletes the specified API of the API Management service instance.
      operationId: Api_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ApiIdRevParameter"
        - description: ETag of the API Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "204":
          description: The API was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Apis
      x-ms-examples:
        ApiManagementDeleteApi.json:
          parameters:
            If-Match: "*"
            api-version: 2017-03-01
            apiId: echo-api
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
    get:
      description: Gets the details of the API specified by its identifier.
      operationId: Api_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ApiIdRevParameter"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      produces:
        - application/json
        - application/vnd.sun.wadl+xml
        - application/vnd.swagger.doc+json
        - application/wsdl+xml
      responses:
        "200":
          description: The response body contains the specified API entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: "#/definitions/ApiContract"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Apis
      x-ms-examples:
        ApiManagementGetApiContract:
          parameters:
            api-version: 2017-03-01
            apiId: 57d1f7558aa04f15146d9d8a
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a
                name: 57d1f7558aa04f15146d9d8a
                properties:
                  apiRevision: "1"
                  displayName: Service
                  isCurrent: true
                  isOnline: true
                  path: schulte
                  protocols:
                    - https
                  serviceUrl: https://api.plexonline.com/DataSource/Service.asmx
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                  type: soap
                type: Microsoft.ApiManagement/service/apis
    head:
      description: Gets the entity state (Etag) version of the API specified by its identifier.
      operationId: Api_GetEntityTag
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ApiIdParameter"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Specified API entity exists and current entity state version is present in the ETag header.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Apis
      x-ms-examples:
        ApiManagementHeadApi:
          parameters:
            api-version: 2017-03-01
            apiId: 57d1f7558aa04f15146d9d8a
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
    patch:
      description: Updates the specified API of the API Management service instance.
      operationId: Api_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ApiIdRevParameter"
        - description: API Update Contract parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApiUpdateContract"
        - description: ETag of the API entity. ETag should match the current entity state in the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "204":
          description: The API was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Apis
      x-ms-examples:
        ApiManagementUpdateApi.json:
          parameters:
            If-Match: "*"
            api-version: 2017-03-01
            apiId: echo-api
            parameters:
              properties:
                displayName: Echo API New
                path: newecho
                serviceUrl: http://echoapi.cloudapp.net/api2
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
    put:
      consumes:
        - application/json
        - application/vnd.sun.wadl+xml
        - application/vnd.swagger.doc+json
        - application/wsdl+xml
      description: Creates new or updates existing specified API of the API Management service instance.
      operationId: Api_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ApiIdRevParameter"
        - description: Create or update parameters.
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/ApiCreateOrUpdateParameter"
        - description: ETag of the Api Entity. For Create Api Etag should not be specified. For Update Etag should match the existing Entity or it can be * for unconditional update.
          in: header
          name: If-Match
          required: false
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: API was successfully updated.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: "#/definitions/ApiContract"
        "201":
          description: API was successfully created.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            $ref: "#/definitions/ApiContract"
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - Apis
      x-ms-examples:
        ApiManagementCreateApi:
          parameters:
            api-version: 2017-03-01
            apiId: tempgroup
            parameters:
              properties:
                authenticationSettings:
                  oAuth2:
                    authorizationServerId: authorizationServerId2283
                    scope: oauth2scope2580
                description: apidescription5200
                displayName: apiname1463
                path: newapiPath
                protocols:
                  - https
                  - http
                serviceUrl: http://newechoapi.cloudapp.net/api
                subscriptionKeyParameterNames:
                  header: header4520
                  query: query3037
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/apiid9419
                name: apiid9419
                properties:
                  apiRevision: "1"
                  authenticationSettings:
                    oAuth2:
                      authorizationServerId: authorizationServerId2283
                      scope: oauth2scope2580
                  description: apidescription5200
                  displayName: apiname1463
                  isCurrent: true
                  isOnline: true
                  path: newapiPath
                  protocols:
                    - http
                    - https
                  serviceUrl: http://newechoapi.cloudapp.net/api
                  subscriptionKeyParameterNames:
                    header: header4520
                    query: query3037
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/apiid9419
                name: apiid9419
                properties:
                  apiRevision: "1"
                  authenticationSettings:
                    oAuth2:
                      authorizationServerId: authorizationServerId2283
                      scope: oauth2scope2580
                  description: apidescription5200
                  displayName: apiname1463
                  isCurrent: true
                  isOnline: true
                  path: newapiPath
                  protocols:
                    - http
                    - https
                  serviceUrl: http://newechoapi.cloudapp.net/api
                  subscriptionKeyParameterNames:
                    header: header4520
                    query: query3037
                type: Microsoft.ApiManagement/service/apis
        ApiManagementCreateApiRevision:
          parameters:
            api-version: 2017-03-01
            apiId: 5a838fd48f33670ed070d77c;rev=4
            parameters:
              properties:
                description: "This is a sample server Petstore server.  You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For this sample, you can use the api key `special-key` to test the authorization filters."
                displayName: Swagger Petstore V2
                isCurrent: false
                path: petstore2
                protocols:
                  - https
                serviceUrl: http://petstore.swagger.io/v4
                subscriptionKeyParameterNames:
                  header: Ocp-Apim-Subscription-Key
                  query: subscription-key
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5a838fd48f33670ed070d77c;rev=4
                name: 5a838fd48f33670ed070d77c;rev=4
                properties:
                  apiRevision: "4"
                  description: "This is a sample server Petstore server.  You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For this sample, you can use the api key `special-key` to test the authorization filters."
                  displayName: Swagger Petstore 2
                  path: petstore2
                  protocols:
                    - https
                  serviceUrl: http://petstore.swagger.io/v4
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/5a838fd48f33670ed070d77c;rev=4
                name: 5a838fd48f33670ed070d77c;rev=4
                properties:
                  apiRevision: "4"
                  description: "This is a sample server Petstore server.  You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For this sample, you can use the api key `special-key` to test the authorization filters."
                  displayName: Swagger Petstore 2
                  path: petstore2
                  protocols:
                    - https
                  serviceUrl: http://petstore.swagger.io/v4
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
        ApiManagementCreateApiUsingSwaggerImport:
          parameters:
            api-version: 2017-03-01
            apiId: petstore
            parameters:
              properties:
                contentFormat: swagger-link-json
                contentValue: http://petstore.swagger.io/v2/swagger.json
                path: petstore
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/petstoreapi
                name: petstoreapi
                properties:
                  apiRevision: "1"
                  description: "This is a sample server Petstore server.  You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For this sample, you can use the api key `special-key` to test the authorization filters."
                  displayName: Swagger Petstore
                  isCurrent: true
                  path: petstore
                  protocols:
                    - http
                  serviceUrl: http://petstore.swagger.io/v2
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/petstoreapi
                name: petstoreapi
                properties:
                  apiRevision: "1"
                  description: "This is a sample server Petstore server.  You can find out more about Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).  For this sample, you can use the api key `special-key` to test the authorization filters."
                  displayName: Swagger Petstore
                  isCurrent: true
                  path: petstore
                  protocols:
                    - http
                  serviceUrl: http://petstore.swagger.io/v2
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
        ApiManagementCreateApiUsingWadlImport:
          parameters:
            api-version: 2017-03-01
            apiId: petstore
            parameters:
              properties:
                contentFormat: wadl-link-json
                contentValue: https://developer.cisco.com/media/wae-release-6-2-api-reference/wae-collector-rest-api/application.wadl
                path: collector
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/collectorwadl
                name: collectorwadl
                properties:
                  apiRevision: "1"
                  description: ""
                  displayName: http://localhost:8080/collector-northbound
                  isCurrent: true
                  path: collector
                  protocols:
                    - https
                  serviceUrl: http://localhost:8080/collector-northbound
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/collectorwadl
                name: collectorwadl
                properties:
                  apiRevision: "1"
                  description: ""
                  displayName: http://localhost:8080/collector-northbound
                  isCurrent: true
                  path: collector
                  protocols:
                    - https
                  serviceUrl: http://localhost:8080/collector-northbound
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
        ApiManagementCreateApiUsingWsdlImport:
          parameters:
            api-version: 2017-03-01
            apiId: soapApi
            parameters:
              properties:
                contentFormat: wsdl-link
                contentValue: http://www.webservicex.net/CurrencyConvertor.asmx?WSDL
                path: currency
                wsdlSelector:
                  wsdlEndpointName: CurrencyConvertorSoap
                  wsdlServiceName: CurrencyConvertor
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/soapApi
                name: soapApi
                properties:
                  apiRevision: "1"
                  displayName: CurrencyConvertor
                  isCurrent: true
                  path: currency
                  protocols:
                    - https
                  serviceUrl: http://www.webservicex.net
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/soapApi
                name: soapApi
                properties:
                  apiRevision: "1"
                  displayName: CurrencyConvertor
                  isCurrent: true
                  path: currency
                  protocols:
                    - https
                  serviceUrl: http://www.webservicex.net
                  subscriptionKeyParameterNames:
                    header: Ocp-Apim-Subscription-Key
                    query: subscription-key
                type: Microsoft.ApiManagement/service/apis
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/diagnostics":
    get:
      description: Lists all diagnostics of an API.
      operationId: ApiDiagnostic_ListByService
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ApiIdParameter"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: |-
            | Field       | Supported operators    | Supported functions               |
            |-------------|------------------------|-----------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
      responses:
        "200":
          description: Paged Result response of diagnostics for an API.
          schema:
            description: Paged Diagnostic list representation.
            properties:
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Page values.
                items:
                  allOf:
                    - description: The Resource definition.
                      properties:
                        id:
                          description: Resource ID.
                          readOnly: true
                          type: string
                        name:
                          description: Resource name.
                          readOnly: true
                          type: string
                        type:
                          description: Resource type for API Management resource.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: Diagnostic details.
                  properties:
                    properties:
                      description: Diagnostic Entity Properties
                      properties:
                        enabled:
                          description: Indicates whether a diagnostic should receive data or not.
                          type: boolean
                      required:
                        - enabled
                type: array
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiDiagnostics
      x-ms-examples:
        ApiManagementListApiDiagnostics:
          parameters:
            api-version: 2017-03-01
            apiId: 57d1f7558aa04f15146d9d8a
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                  - id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/diagnostics/default
                    name: default
                    properties:
                      enabled: false
                    type: Microsoft.ApiManagement/service/apis/diagnostics
      x-ms-odata: ./apimdiagnostics.json#/definitions/DiagnosticContract
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/diagnostics/{diagnosticId}":
    delete:
      description: Deletes the specified Diagnostic from an API.
      operationId: ApiDiagnostic_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ApiIdParameter"
        - description: Diagnostic identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: diagnosticId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: ETag of the Diagnostic Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "204":
          description: The Diagnostic was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiDiagnostics
      x-ms-examples:
        ApiManagementDeleteApiDiagnostic:
          parameters:
            If-Match: "*"
            api-version: 2017-03-01
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: default
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
    get:
      description: Gets the details of the Diagnostic for an API specified by its identifier.
      operationId: ApiDiagnostic_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ApiIdParameter"
        - description: Diagnostic identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: diagnosticId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: The response body contains the specified Diagnostic entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Diagnostic details.
            properties:
              properties:
                description: Diagnostic Entity Properties
                properties:
                  enabled:
                    description: Indicates whether a diagnostic should receive data or not.
                    type: boolean
                required:
                  - enabled
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiDiagnostics
      x-ms-examples:
        ApiManagementGetApiDiagnostic:
          parameters:
            api-version: 2017-03-01
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: default
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/diagnostics/default
                name: default
                properties:
                  enabled: false
                type: Microsoft.ApiManagement/service/apis/diagnostics
    head:
      description: Gets the entity state (Etag) version of the Diagnostic for an API specified by its identifier.
      operationId: ApiDiagnostic_Head
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ApiIdParameter"
        - description: Diagnostic identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: diagnosticId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Operation completed successfully.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              type: string
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiDiagnostics
      x-ms-examples:
        ApiManagementHeadApiDiagnostic:
          parameters:
            api-version: 2017-03-01
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: default
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              headers:
                etag: AAAAAAAAAAa=
    patch:
      description: Updates the details of the Diagnostic for an API specified by its identifier.
      operationId: ApiDiagnostic_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ApiIdParameter"
        - description: Diagnostic identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: diagnosticId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Diagnostic Update parameters.
          in: body
          name: parameters
          required: true
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Diagnostic details.
            properties:
              properties:
                description: Diagnostic Entity Properties
                properties:
                  enabled:
                    description: Indicates whether a diagnostic should receive data or not.
                    type: boolean
                required:
                  - enabled
        - description: ETag of the Diagnostic Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "204":
          description: The Diagnostic was successfully updated.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiDiagnostics
      x-ms-examples:
        ApiManagementUpdateApiDiagnostic:
          parameters:
            If-Match: "*"
            api-version: 2017-03-01
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: default
            parameters:
              properties:
                enabled: false
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
    put:
      description: Creates a new Diagnostic for an API or updates an existing one.
      operationId: ApiDiagnostic_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ApiIdParameter"
        - description: Diagnostic identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: diagnosticId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Create parameters.
          in: body
          name: parameters
          required: true
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Diagnostic details.
            properties:
              properties:
                description: Diagnostic Entity Properties
                properties:
                  enabled:
                    description: Indicates whether a diagnostic should receive data or not.
                    type: boolean
                required:
                  - enabled
        - description: ETag of the Diagnostic Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: false
          type: string
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Diagnostic was successfully updated.
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Diagnostic details.
            properties:
              properties:
                description: Diagnostic Entity Properties
                properties:
                  enabled:
                    description: Indicates whether a diagnostic should receive data or not.
                    type: boolean
                required:
                  - enabled
        "201":
          description: Diagnostic was successfully created.
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Diagnostic details.
            properties:
              properties:
                description: Diagnostic Entity Properties
                properties:
                  enabled:
                    description: Indicates whether a diagnostic should receive data or not.
                    type: boolean
                required:
                  - enabled
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiDiagnostics
      x-ms-examples:
        ApiManagementCreateApiDiagnostic:
          parameters:
            api-version: 2017-03-01
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: default
            parameters:
              properties:
                enabled: true
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/diagnostics/default
                name: default
                properties:
                  enabled: true
                type: Microsoft.ApiManagement/service/apis/diagnostics
            "201":
              body:
                id: /subscriptions/subid/resourceGroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/diagnostics/default
                name: default
                properties:
                  enabled: true
                type: Microsoft.ApiManagement/service/apis/diagnostics
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/diagnostics/{diagnosticId}/loggers":
    get:
      description: Lists all loggers associated with the specified Diagnostic of an API.
      operationId: ApiDiagnosticLogger_ListByService
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ApiIdParameter"
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Diagnostic identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: diagnosticId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: |-
            | Field       | Supported operators    | Supported functions               |
            |-------------|------------------------|-----------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | type        | eq                     |                                   |
          in: query
          name: $filter
          required: false
          type: string
        - description: Number of records to return.
          format: int32
          in: query
          minimum: 1
          name: $top
          required: false
          type: integer
          x-ms-parameter-location: method
        - description: Number of records to skip.
          format: int32
          in: query
          minimum: 0
          name: $skip
          required: false
          type: integer
          x-ms-parameter-location: method
      responses:
        "200":
          description: Paged Result response of loggers assigned to the specified Diagnostic.
          schema:
            description: Paged Logger list representation.
            properties:
              count:
                description: Total record count number across all pages.
                format: int64
                type: integer
              nextLink:
                description: Next page link if any.
                type: string
              value:
                description: Logger values.
                items:
                  allOf:
                    - description: The Resource definition.
                      properties:
                        id:
                          description: Resource ID.
                          readOnly: true
                          type: string
                        name:
                          description: Resource name.
                          readOnly: true
                          type: string
                        type:
                          description: Resource type for API Management resource.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: Logger details.
                  properties:
                    properties:
                      description: The Logger entity in API Management represents an event sink that you can use to log API Management events. Currently the Logger entity supports logging API Management events to Azure Event Hubs.
                      properties:
                        credentials:
                          additionalProperties:
                            type: string
                          description: |-
                            The name and SendRule connection string of the event hub for azureEventHub logger.
                            Instrumentation key for applicationInsights logger.
                          example:
                            connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
                            name: apim
                          type: object
                        description:
                          description: Logger description.
                          maxLength: 256
                          type: string
                        isBuffered:
                          description: Whether records are buffered in the logger before publishing. Default is assumed to be true.
                          type: boolean
                        loggerType:
                          description: Logger type.
                          enum:
                            - azureEventHub
                            - applicationInsights
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: LoggerType
                            values:
                              - description: Azure Event Hub as log destination.
                                value: azureEventHub
                              - description: Azure Application Insights as log destination.
                                value: applicationInsights
                        sampling:
                          description: Sampling settings contract.
                          properties:
                            properties:
                              description: Sampling settings for an ApplicationInsights logger.
                              properties:
                                evaluationInterval:
                                  description: Rate re-evaluation interval in ISO8601 format.
                                  format: duration
                                  maxLength: 2000
                                  minLength: 1
                                  type: string
                                initialPercentage:
                                  description: Initial sampling rate.
                                  format: double
                                  type: number
                                maxPercentage:
                                  description: Maximum allowed rate of sampling.
                                  format: double
                                  type: number
                                maxTelemetryItemsPerSecond:
                                  description: Target rate of telemetry items per second.
                                  format: int32
                                  type: integer
                                minPercentage:
                                  description: Minimum allowed rate of sampling.
                                  format: double
                                  type: number
                                movingAverageRatio:
                                  description: Moving average ration assigned to most recent value.
                                  format: double
                                  type: number
                                percentage:
                                  description: Rate of sampling for fixed-rate sampling.
                                  format: double
                                  type: number
                                percentageDecreaseTimeout:
                                  description: Duration in ISO8601 format after which it's allowed to lower the sampling rate.
                                  format: duration
                                  maxLength: 2000
                                  minLength: 1
                                  type: string
                                percentageIncreaseTimeout:
                                  description: Duration in ISO8601 format after which it's allowed to increase the sampling rate.
                                  format: duration
                                  maxLength: 2000
                                  minLength: 1
                                  type: string
                                samplingType:
                                  description: Sampling type.
                                  enum:
                                    - fixed
                                    - adaptive
                                  type: string
                                  x-ms-enum:
                                    modelAsString: true
                                    name: SamplingType
                                    values:
                                      - description: Fixed-rate sampling.
                                        value: fixed
                                      - description: Sampling with a dynamically adjustable rate.
                                        value: adaptive
                      required:
                        - loggerType
                        - credentials
                type: array
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiDiagnosticLoggers
      x-ms-examples:
        ApiManagementListApiDiagnosticLoggers:
          parameters:
            api-version: 2017-03-01
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: default
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "200":
              body:
                nextLink: ""
                value:
                  - id: /subscriptions/subid/resourcegroups/rg1/providers/Microsoft.ApiManagement/service/apimService1/apis/57d1f7558aa04f15146d9d8a/diagnostics/default/loggers/applicationinsights
                    name: applicationinsights
                    properties:
                      credentials:
                        instrumentationKey: "{{5a.......2a}}"
                      description: null
                      isBuffered: false
                      loggerType: applicationInsights
                    type: Microsoft.ApiManagement/service/apis/diagnostics/loggers
      x-ms-odata: ./apimloggers.json#/definitions/LoggerContract
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/diagnostics/{diagnosticId}/loggers/{loggerid}":
    delete:
      description: Deletes the specified Logger from Diagnostic for an API.
      operationId: ApiDiagnosticLogger_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ApiIdParameter"
        - description: Diagnostic identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: diagnosticId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Logger identifier. Must be unique in the API Management service instance.
          in: path
          maxLength: 256
          name: loggerid
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "204":
          description: The Logger was successfully detached from Diagnostic.
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiDiagnosticLoggers
      x-ms-examples:
        ApiManagementDeleteApiDiagnosticLogger:
          parameters:
            api-version: 2017-03-01
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: default
            loggerid: applicationinsights
            parameters: {}
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
    head:
      description: Checks that logger entity specified by identifier is associated with the diagnostics entity.
      operationId: ApiDiagnosticLogger_CheckEntityExists
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ApiIdParameter"
        - description: Diagnostic identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: diagnosticId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Logger identifier. Must be unique in the API Management service instance.
          in: path
          maxLength: 256
          name: loggerid
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "204":
          description: Entity exists
        default:
          description: Error response describing why the operation failed.
          schema:
            description: Error Body contract.
            properties:
              code:
                description: Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response.
                type: string
              details:
                description: The list of invalid fields send in request, in case of validation error.
                items:
                  description: Error Field contract.
                  properties:
                    code:
                      description: Property level error code.
                      type: string
                    message:
                      description: Human-readable representation of property-level error.
                      type: string
                    target:
                      description: Property name.
                      type: string
                type: array
              message:
                description: Human-readable representation of the error.
                type: string
      tags:
        - ApiDiagnosticLoggers
      x-ms-examples:
        ApiManagementHeadApiDiagnosticLogger:
          parameters:
            api-version: 2017-03-01
            apiId: 57d1f7558aa04f15146d9d8a
            diagnosticId: default
            loggerid: templateLogger
            resourceGroupName: rg1
            serviceName: apimService1
            subscriptionId: subid
          responses:
            "204": {}
    put:
      description: Attaches a logger to a diagnostic for an API.
      operationId: ApiDiagnosticLogger_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - description: The name of the API Management service.
          in: path
          maxLength: 50
          minLength: 1
          name: serviceName
          pattern: ^[a-zA-Z](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ApiIdParameter"
        - description: Diagnostic identifier. Must be unique in the current API Management service instance.
          in: path
          maxLength: 256
          minLength: 1
          name: diagnosticId
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Logger identifier. Must be unique in the API Management service instance.
          in: path
          maxLength: 256
          name: loggerid
          pattern: ^[^*#&+:<>?]+$
          required: true
          type: string
          x-ms-parameter-location: method
        - description: Version of the API to be used with the client request.
          in: query
          name: api-version
          required: true
          type: string
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
      responses:
        "200":
          description: Logger to Diagnostic link was successfully updated.
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Logger details.
            properties:
              properties:
                description: The Logger entity in API Management represents an event sink that you can use to log API Management events. Currently the Logger entity supports logging API Management events to Azure Event Hubs.
                properties:
                  credentials:
                    additionalProperties:
                      type: string
                    description: |-
                      The name and SendRule connection string of the event hub for azureEventHub logger.
                      Instrumentation key for applicationInsights logger.
                    example:
                      connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
                      name: apim
                    type: object
                  description:
                    description: Logger description.
                    maxLength: 256
                    type: string
                  isBuffered:
                    description: Whether records are buffered in the logger before publishing. Default is assumed to be true.
                    type: boolean
                  loggerType:
                    description: Logger type.
                    enum:
                      - azureEventHub
                      - applicationInsights
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: LoggerType
                      values:
                        - description: Azure Event Hub as log destination.
                          value: azureEventHub
                        - description: Azure Application Insights as log destination.
                          value: applicationInsights
                  sampling:
                    description: Sampling settings contract.
                    properties:
                      properties:
                        description: Sampling settings for an ApplicationInsights logger.
                        properties:
                          evaluationInterval:
                            description: Rate re-evaluation interval in ISO8601 format.
                            format: duration
                            maxLength: 2000
                            minLength: 1
                            type: string
                          initialPercentage:
                            description: Initial sampling rate.
                            format: double
                            type: number
                          maxPercentage:
                            description: Maximum allowed rate of sampling.
                            format: double
                            type: number
                          maxTelemetryItemsPerSecond:
                            description: Target rate of telemetry items per second.
                            format: int32
                            type: integer
                          minPercentage:
                            description: Minimum allowed rate of sampling.
                            format: double
                            type: number
                          movingAverageRatio:
                            description: Moving average ration assigned to most recent value.
                            format: double
                            type: number
                          percentage:
                            description: Rate of sampling for fixed-rate sampling.
                            format: double
                            type: number
                          percentageDecreaseTimeout:
                            description: Duration in ISO8601 format after which it's allowed to lower the sampling rate.
                            format: duration
                            maxLength: 2000
                            minLength: 1
                            type: string
                          percentageIncreaseTimeout:
                            description: Duration in ISO8601 format after which it's allowed to increase the sampling rate.
                            format: duration
                            maxLength: 2000
                            minLength: 1
                            type: string
                          samplingType:
                            description: Sampling type.
                            enum:
                              - fixed
                              - adaptive
                            type: string
                            x-ms-enum:
                              modelAsString: true
                              name: SamplingType
                              values:
                                - description: Fixed-rate sampling.
                                  value: fixed
                                - description: Sampling with a dynamically adjustable rate.
                                  value: adaptive
                required:
                  - loggerType
                  - credentials
        "201":
          description: Logger was successfully attached to Diagnostic.
          schema:
            allOf:
              - description: The Resource definition.
                properties:
                  id:
                    description: Resource ID.
                    readOnly: true
                    type: string
                  name:
                    description: Resource name.
                    readOnly: true
                    type: string
                  type:
                    description: Resource type for API Management resource.
                    readOnly: true
                    type: string
                x-ms-azure-resource: true
            description: Logger details.
            properties:
              properties:
                description: The Logger entity in API Management represents an event sink that you can use to log API Management events. Currently the Logger entity supports logging API Management events to Azure Event Hubs.
                properties:
                  credentials:
                    additionalProperties:
                      type: string
                    description: |-
                      The name and SendRule connection string of the event hub for azureEventHub logger.
                      Instrumentation key for applicationInsights logger.
                    example:
                      connectionString: Endpoint=sb://contoso-ns.servicebus.windows.net/;SharedAccessKeyName=Sender;SharedAccessKey=...
                      name: apim
                    type: object
                  description:
                    description: Logger description.
                    maxLength: 256
                    type: string
                  isBuffered:
                    description: Whether records are buffered in the logger before publishing. Default is assumed to be true.
                    type: boolean
                  loggerType:
                    description: Logger type.
                    enum:
                      - azureEventHub
                      - applicationInsights
                    type: string
                    x-ms-enum:
                      modelAsString: true
                      name: LoggerType
                      values:
                        - description: Azure Event Hub as log destination.
                          value: azureEventHub
                        - description: Azure Application Insights as log destination.
                          value: applicationInsights
                  sampling:
                    description: Sampling settings contract.
                    properties:
                      properties:
                        description: Sampling settings for an ApplicationInsights logger.
                        properties:
                          evaluationInterval:
                            description: Rate re-evaluation interval in ISO8601 format.
                            format: duration
                            maxLength: 2000
                            minLength: 1
                            type: string
                          initialPercentage:
                            description: Initial sampling rate.
                            format: double
                            type: number
                          maxPercentage:
                            description: Maximum allowed rate of sampling.
                            format: double
                            type: number
                          maxTelemetryItemsPerSecond:
[...]
