swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Provides read and update functionality for Azure SQL Server backup long term retention vault
  title: Azure SQL Server Backup Long Term Retention Vault
  version: 2014-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/backupLongTermRetentionVaults.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: sql-backupLongTermRetentionVaults
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/backupLongTermRetentionVaults":
    get:
      description: Gets server backup long term retention vaults in a server
      operationId: BackupLongTermRetentionVaults_ListByServer
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/BackupLongTermRetentionVaultListResult"
      tags:
        - BackupLongTermRetentionVaults
      x-ms-examples:
        Get backup long term retention vault:
          parameters:
            api-version: 2014-04-01
            resourceGroupName: longtermretentiontest-1234
            serverName: longtermretentiontest-5678
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/backupLongTermRetentionVaults/RegisteredVault
                    location: Japan East
                    name: RegisteredVault
                    properties:
                      recoveryServicesVaultResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc
                    type: Microsoft.Sql/servers/backupLongTermRetentionVaults
      x-ms-pageable:
        nextLinkName: null
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/backupLongTermRetentionVaults/{backupLongTermRetentionVaultName}":
    get:
      description: Gets a server backup long term retention vault
      operationId: BackupLongTermRetentionVaults_Get
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the Azure SQL Server backup LongTermRetention vault
          enum:
            - RegisteredVault
          in: path
          name: backupLongTermRetentionVaultName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: BackupLongTermRetentionVaultName
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/BackupLongTermRetentionVault"
      tags:
        - BackupLongTermRetentionVaults
      x-ms-examples:
        Get backup long term retention vault:
          parameters:
            api-version: 2014-04-01
            backupLongTermRetentionVaultName: RegisteredVault
            resourceGroupName: longtermretentiontest-1234
            serverName: longtermretentiontest-5678
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/backupLongTermRetentionVaults/RegisteredVault
                location: Japan East
                name: RegisteredVault
                properties:
                  recoveryServicesVaultResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc
                type: Microsoft.Sql/servers/backupLongTermRetentionVaults
    put:
      description: Updates a server backup long term retention vault
      operationId: BackupLongTermRetentionVaults_CreateOrUpdate
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
          in: path
          name: resourceGroupName
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: "#/parameters/ServerNameParameter"
        - description: The name of the backup long term retention vault
          enum:
            - RegisteredVault
          in: path
          name: backupLongTermRetentionVaultName
          required: true
          type: string
          x-ms-enum:
            modelAsString: true
            name: BackupLongTermRetentionVaultName
        - description: The required parameters to update a backup long term retention vault
          in: body
          name: parameters
          required: true
          schema:
            $ref: "#/definitions/BackupLongTermRetentionVault"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/BackupLongTermRetentionVault"
        "201":
          description: Created
          schema:
            $ref: "#/definitions/BackupLongTermRetentionVault"
        "202":
          description: Accepted
      tags:
        - BackupLongTermRetentionVaults
      x-ms-examples:
        Update backup long term retention vault:
          parameters:
            api-version: 2014-04-01
            backupLongTermRetentionVaultName: RegisteredVault
            parameters:
              location: Japan East
              properties:
                recoveryServicesVaultResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-5678/providers/Microsoft.RecoveryServices/vaults/testVaultabc
            resourceGroupName: longtermretentiontest-1234
            serverName: longtermretentiontest-5678
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/backupLongTermRetentionVaults/RegisteredVault
                location: Japan East
                name: RegisteredVault
                properties:
                  recoveryServicesVaultResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc
                type: Microsoft.Sql/servers/backupLongTermRetentionVaults
            "201":
              body:
                id: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentiontest-1234/providers/Microsoft.Sql/servers/longtermretentiontest-5678/backupLongTermRetentionVaults/RegisteredVault
                location: Japan East
                name: RegisteredVault
                properties:
                  recoveryServicesVaultResourceId: /subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/longtermretentionvaulttest-1234/providers/Microsoft.RecoveryServices/vaults/testVaultabc
                type: Microsoft.Sql/servers/backupLongTermRetentionVaults
            "202": {}
      x-ms-long-running-operation: true
definitions:
  BackupLongTermRetentionVault:
    allOf:
      - allOf:
          - description: ARM resource.
            properties:
              id:
                description: Resource ID.
                readOnly: true
                type: string
              name:
                description: Resource name.
                readOnly: true
                type: string
              type:
                description: Resource type.
                readOnly: true
                type: string
            type: object
            x-ms-azure-resource: true
        description: ARM proxy resource.
        properties: {}
        type: object
    description: A backup long term retention vault
    properties:
      location:
        description: The geo-location where the resource lives
        readOnly: true
        type: string
      properties:
        $ref: "#/definitions/BackupLongTermRetentionVaultProperties"
        description: The properties of the backup long term retention vault
        x-ms-client-flatten: true
  BackupLongTermRetentionVaultListResult:
    description: Represents the response to a list vaults request.
    properties:
      value:
        description: The list of vaults in the server.
        items:
          $ref: "#/definitions/BackupLongTermRetentionVault"
        type: array
    required:
      - value
  BackupLongTermRetentionVaultProperties:
    description: The properties of a backup long term retention vault.
    properties:
      recoveryServicesVaultResourceId:
        description: The azure recovery services vault resource id
        type: string
    required:
      - recoveryServicesVaultResourceId
