swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  title: Diagnostics API Client
  version: 2019-08-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2019-08-01/Diagnostics.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: web-Diagnostics
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API Version
    in: query
    name: api-version
    required: true
    type: string
  resourceGroupNameParameter:
    description: Name of the resource group to which the resource belongs.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: ^[-\w\._\(\)]+[^\.]$
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/detectors":
    get:
      description: Description for List Hosting Environment Detector Responses
      operationId: Diagnostics_ListHostingEnvironmentDetectorResponses
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: name
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DetectorResponseCollection"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: List Hosting Environment Detector Responses
      tags:
        - Diagnostics
      x-ms-examples:
        Get App Service Environment Detector Responses:
          parameters:
            api-version: 2019-08-01
            name: SampleAppServiceEnvironment
            resourceGroupName: Sample-WestUSResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/hostingEnvironments/SampleAppServiceEnvironment/detectors/runtimeavailability
                    name: runtimeavailability
                    properties:
                      dataset: []
                      metadata:
                        category: Availability and Performance
                        description: This detector analyzes all the requests to all applications running on this app service environment.
                        subCategory: App Availability
                        supportTopicId: ""
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/detectors/{detectorName}":
    get:
      description: Description for Get Hosting Environment Detector Response
      operationId: Diagnostics_GetHostingEnvironmentDetectorResponse
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: App Service Environment Name
          in: path
          name: name
          required: true
          type: string
        - description: Detector Resource Name
          in: path
          name: detectorName
          required: true
          type: string
        - description: Start Time
          format: date-time
          in: query
          name: startTime
          type: string
        - description: End Time
          format: date-time
          in: query
          name: endTime
          type: string
        - description: Time Grain
          in: query
          name: timeGrain
          pattern: PT[1-9][0-9]+[SMH]
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DetectorResponse"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Get Hosting Environment Detector Response
      tags:
        - Diagnostics
      x-ms-examples:
        Get App Service Environment Detector Responses:
          parameters:
            api-version: 2019-08-01
            detectorName: runtimeavailability
            name: SampleAppServiceEnvironment
            resourceGroupName: Sample-WestUSResourceGroup
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/hostingEnvironments/SampleAppServiceEnvironment/detectors/runtimeavailability
                name: runtimeavailability
                properties:
                  dataset:
                    - renderingProperties:
                        description: This detector breaks down the number of requests that your apps on this app service environment received for each status code.
                        title: Requests by Status Code
                      table:
                        columns:
                          - columnName: PreciseTimeStamp
                            columnType: datetime
                            dataType: DateTime
                          - columnName: count_Http2xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http3xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http4xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http5xx
                            columnType: long
                            dataType: Int64
                        rows:
                          - - 2018-03-27T00:25:00Z
                            - "772705"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:30:00Z
                            - "787069"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:35:00Z
                            - "781627"
                            - "0"
                            - "1"
                            - "0"
                          - - 2018-03-27T00:40:00Z
                            - "785017"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:45:00Z
                            - "783518"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:50:00Z
                            - "785783"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:55:00Z
                            - "772874"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:00:00Z
                            - "787162"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:05:00Z
                            - "782036"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:10:00Z
                            - "784642"
                            - "0"
                            - "0"
                            - "0"
                        tableName: Table_0
                  metadata:
                    category: Availability and Performance
                    description: This detector analyzes all the requests to all applications running on this app service environment.
                    subCategory: App Availability
                    supportTopicId: ""
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/detectors":
    get:
      description: Description for List Site Detector Responses
      operationId: Diagnostics_ListSiteDetectorResponses
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DetectorResponseCollection"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: List Site Detector Responses
      tags:
        - Diagnostics
      x-ms-examples:
        Get App Detector Responses:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/detectors/runtimeavailability
                    name: runtimeavailability
                    properties:
                      dataset: []
                      metadata:
                        category: Availability and Performance
                        description: This detector analyzes the requests to your application.
                        subCategory: App Availability
                        supportTopicId: ""
        Get App Slot Detector Responses:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/detectors/runtimeavailability
                    name: runtimeavailability
                    properties:
                      dataset: []
                      metadata:
                        category: Availability and Performance
                        description: This detector analyzes the requests to your application.
                        subCategory: App Availability
                        supportTopicId: ""
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/detectors/{detectorName}":
    get:
      description: Description for Get site detector response
      operationId: Diagnostics_GetSiteDetectorResponse
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Detector Resource Name
          in: path
          name: detectorName
          required: true
          type: string
        - description: Start Time
          format: date-time
          in: query
          name: startTime
          type: string
        - description: End Time
          format: date-time
          in: query
          name: endTime
          type: string
        - description: Time Grain
          in: query
          name: timeGrain
          pattern: PT[1-9][0-9]+[SMH]
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DetectorResponse"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Get site detector response
      tags:
        - Diagnostics
      x-ms-examples:
        Get App Detector Response:
          parameters:
            api-version: 2019-08-01
            detectorName: runtimeavailability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/detectors/runtimeavailability
                name: runtimeavailability
                properties:
                  dataset:
                    - renderingProperties:
                        description: This detector breaks down the number of requests that your app received for each status code.
                        title: Requests by Status Code
                      table:
                        columns:
                          - columnName: PreciseTimeStamp
                            columnType: datetime
                            dataType: DateTime
                          - columnName: count_Http2xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http3xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http4xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http5xx
                            columnType: long
                            dataType: Int64
                        rows:
                          - - 2018-03-27T00:25:00Z
                            - "772705"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:30:00Z
                            - "787069"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:35:00Z
                            - "781627"
                            - "0"
                            - "1"
                            - "0"
                          - - 2018-03-27T00:40:00Z
                            - "785017"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:45:00Z
                            - "783518"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:50:00Z
                            - "785783"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:55:00Z
                            - "772874"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:00:00Z
                            - "787162"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:05:00Z
                            - "782036"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:10:00Z
                            - "784642"
                            - "0"
                            - "0"
                            - "0"
                        tableName: Table_0
                  metadata:
                    category: Availability and Performance
                    description: This detector analyzes the requests to your application.
                    subCategory: Web App Down
                    supportTopicId: ""
        Get App Slot Detector Response:
          parameters:
            api-version: 2019-08-01
            detectorName: runtimeavailability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/slots/staging/detectors/runtimeavailability
                name: runtimeavailability
                properties:
                  dataset:
                    - renderingProperties:
                        description: This detector breaks down the number of requests that your app received for each status code.
                        title: Requests by Status Code
                      table:
                        columns:
                          - columnName: PreciseTimeStamp
                            columnType: datetime
                            dataType: DateTime
                          - columnName: count_Http2xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http3xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http4xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http5xx
                            columnType: long
                            dataType: Int64
                        rows:
                          - - 2018-03-27T00:25:00Z
                            - "772705"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:30:00Z
                            - "787069"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:35:00Z
                            - "781627"
                            - "0"
                            - "1"
                            - "0"
                          - - 2018-03-27T00:40:00Z
                            - "785017"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:45:00Z
                            - "783518"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:50:00Z
                            - "785783"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:55:00Z
                            - "772874"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:00:00Z
                            - "787162"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:05:00Z
                            - "782036"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:10:00Z
                            - "784642"
                            - "0"
                            - "0"
                            - "0"
                        tableName: Table_0
                  metadata:
                    category: Availability and Performance
                    description: This detector analyzes the requests to your application.
                    subCategory: Web App Down
                    supportTopicId: ""
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics":
    get:
      description: Description for Get Diagnostics Categories
      operationId: Diagnostics_ListSiteDiagnosticCategories
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticCategoryCollection"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Get Diagnostics Categories
      tags:
        - Diagnostics
      x-ms-examples:
        List App Diagnostic Categories:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: Production
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/diagnostics/availability
                    name: availability
                    properties:
                      description: Availability and Perfomance Diagnostics
        List App Slot Diagnostic Categories:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/diagnostics/availability
                    name: availability
                    properties:
                      description: Availability and Perfomance Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}":
    get:
      description: Description for Get Diagnostics Category
      operationId: Diagnostics_GetSiteDiagnosticCategory
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticCategory"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Get Diagnostics Category
      tags:
        - Diagnostics
      x-ms-examples:
        Get App Diagnostic Category:
          parameters:
            api-version: 2019-08-01
            diagnosticCategory: availability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: Production
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/diagnostics/availability
                name: availability
                properties:
                  description: Availability and Perfomance Diagnostics
        Get App Slot Diagnostic Category:
          parameters:
            api-version: 2019-08-01
            diagnosticCategory: availability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/diagnostics/availability
                name: availability
                properties:
                  description: Availability and Perfomance Diagnostics
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses":
    get:
      description: Description for Get Site Analyses
      operationId: Diagnostics_ListSiteAnalyses
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticAnalysisCollection"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Get Site Analyses
      tags:
        - Diagnostics
      x-ms-examples:
        List App Analyses:
          parameters:
            api-version: 2019-08-01
            diagnosticCategory: availability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: Production
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/diagnostics/availability/analyses/appanalysis
                    name: appanalysis
                    properties:
                      description: Determine causes of availability loss as well as solutions for these problems
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/diagnostics/availability/analyses/apprestartanalyses
                    name: apprestartanalysis
                    properties:
                      description: Find the reasons that your app restarted
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/diagnostics/availability/analyses/memoryanalysis
                    name: memoryanalysis
                    properties:
                      description: Detect issues with memory as well as suggest ways to troubleshoot memory problems
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/diagnostics/availability/analyses/tcpconnectionsanalysis
                    name: tcpconnectionsanalysis
                    properties:
                      description: Analyze port usage and find out if a high number of connections is causing problems for your web app
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/diagnostics/availability/analyses/perfanalysis
                    name: perfanalysis
                    properties:
                      description: Determine causes of performance degredation as well as solutions for these problems
        List App Slot Analyses:
          parameters:
            api-version: 2019-08-01
            diagnosticCategory: availability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/diagnostics/availability/analyses/appanalysis
                    name: appanalysis
                    properties:
                      description: Determine causes of availability loss as well as solutions for these problems
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/diagnostics/availability/analyses/apprestartanalyses
                    name: apprestartanalysis
                    properties:
                      description: Find the reasons that your app restarted
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/diagnostics/availability/analyses/memoryanalysis
                    name: memoryanalysis
                    properties:
                      description: Detect issues with memory as well as suggest ways to troubleshoot memory problems
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/diagnostics/availability/analyses/tcpconnectionsanalysis
                    name: tcpconnectionsanalysis
                    properties:
                      description: Analyze port usage and find out if a high number of connections is causing problems for your web app
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/diagnostics/availability/analyses/perfanalysis
                    name: perfanalysis
                    properties:
                      description: Determine causes of performance degredation as well as solutions for these problems
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}":
    get:
      description: Description for Get Site Analysis
      operationId: Diagnostics_GetSiteAnalysis
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Analysis Name
          in: path
          name: analysisName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/AnalysisDefinition"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Get Site Analysis
      tags:
        - Diagnostics
      x-ms-examples:
        Get App Analysis:
          parameters:
            analysisName: appanalysis
            api-version: 2019-08-01
            diagnosticCategory: availability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: Production
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/diagnostics/availability/analyses/appanalysis
                name: appanalysis
                properties:
                  description: Determine causes of availability loss as well as solutions for these problems
        Get App Slot Analysis:
          parameters:
            analysisName: appanalysis
            api-version: 2019-08-01
            diagnosticCategory: availability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/diagnostics/availability/analyses/appanalysis
                name: appanalysis
                properties:
                  description: Determine causes of availability loss as well as solutions for these problems
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}/execute":
    post:
      description: Description for Execute Analysis
      operationId: Diagnostics_ExecuteSiteAnalysis
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Category Name
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Analysis Resource Name
          in: path
          name: analysisName
          required: true
          type: string
        - description: Start Time
          format: date-time
          in: query
          name: startTime
          type: string
        - description: End Time
          format: date-time
          in: query
          name: endTime
          type: string
        - description: Time Grain
          in: query
          name: timeGrain
          pattern: PT[1-9][0-9]+[SMH]
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticAnalysis"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Execute Analysis
      tags:
        - Diagnostics
      x-ms-examples:
        Execute site analysis:
          parameters:
            analysisName: apprestartanalyses
            api-version: 2019-08-01
            diagnosticCategory: availability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: Production
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/diagnostics/availability/analyses/apprestartanalyses
                name: apprestartanalysis
                properties:
                  abnormalTimePeriods:
                    - endTime: 2017-11-06T22:50:00Z
                      events:
                        - endTime: 2017-11-06T22:21:48Z
                          message: Your application process was restarted as application environment variables changed. This can most likely occur due to update in app settings or swap operation. This event occurred multiple times during the day.
                          metaData:
                            - - name: feature
                                value: auditlogs
                              - name: displayedName
                                value: Check Audit Logs
                          priority: 0
                          solutions: []
                          source: null
                          startTime: 2017-11-06T22:21:50Z
                          type: ServiceIncident
                      solutions: []
                      startTime: 2017-11-05T22:50:00Z
                  endTime: 2017-11-06T22:50:00Z
                  nonCorrelatedDetectors: []
                  payload:
                    - data: []
                      detectorMetaData: null
                      metrics:
                        - endTime: 2017-11-06T22:50:00Z
                          name: All Application Stop Events
                          startTime: 2017-11-05T22:50:00Z
                          timeGrain: 00:05:00
                          unit: null
                          values:
                            - roleInstance: RD00155D3C15BE
                              timestamp: 2017-11-06T00:00:00Z
                              total: 2
                            - isAggregated: true
                              timestamp: 2017-11-06T00:00:00Z
                              total: 2
                            - roleInstance: RD00155D3C15C1
                              timestamp: 2017-11-06T00:10:00Z
                              total: 2
                            - roleInstance: RD00155D3BE0FB
                              timestamp: 2017-11-06T00:10:00Z
                              total: 2
                            - isAggregated: true
                              timestamp: 2017-11-06T00:10:00Z
                              total: 4
                        - endTime: 2017-11-06T22:50:00Z
                          name: User Events
                          startTime: 2017-11-05T22:50:00Z
                          timeGrain: 00:05:00
                          unit: ""
                          values:
                            - isAggregated: true
                              timestamp: 2017-11-06T22:20:00Z
                              total: 3
                            - roleInstance: RD00155D3C09FC
                              timestamp: 2017-11-06T22:20:00Z
                              total: 1
                            - roleInstance: RD00155D3C2ADC
                              timestamp: 2017-11-06T22:20:00Z
                              total: 1
                            - roleInstance: RD00155D3C214E
                              timestamp: 2017-11-06T22:20:00Z
                              total: 1
                      source: workerprocessrecycle
                  startTime: 2017-11-05T22:50:00Z
        Execute site slot analysis:
          parameters:
            analysisName: apprestartanalyses
            api-version: 2019-08-01
            diagnosticCategory: availability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/diagnostics/availability/analyses/apprestartanalyses
                name: apprestartanalysis
                properties:
                  abnormalTimePeriods:
                    - endTime: 2017-11-06T22:50:00Z
                      events:
                        - endTime: 2017-11-06T22:21:48Z
                          message: Your application process was restarted as application environment variables changed. This can most likely occur due to update in app settings or swap operation. This event occurred multiple times during the day.
                          metaData:
                            - - name: feature
                                value: auditlogs
                              - name: displayedName
                                value: Check Audit Logs
                          priority: 0
                          solutions: []
                          source: null
                          startTime: 2017-11-06T22:21:50Z
                          type: ServiceIncident
                      solutions: []
                      startTime: 2017-11-05T22:50:00Z
                  endTime: 2017-11-06T22:50:00Z
                  nonCorrelatedDetectors: []
                  payload:
                    - data: []
                      detectorMetaData: null
                      metrics:
                        - endTime: 2017-11-06T22:50:00Z
                          name: All Application Stop Events
                          startTime: 2017-11-05T22:50:00Z
                          timeGrain: 00:05:00
                          unit: null
                          values:
                            - roleInstance: RD00155D3C15BE
                              timestamp: 2017-11-06T00:00:00Z
                              total: 2
                            - isAggregated: true
                              timestamp: 2017-11-06T00:00:00Z
                              total: 2
                            - roleInstance: RD00155D3C15C1
                              timestamp: 2017-11-06T00:10:00Z
                              total: 2
                            - roleInstance: RD00155D3BE0FB
                              timestamp: 2017-11-06T00:10:00Z
                              total: 2
                            - isAggregated: true
                              timestamp: 2017-11-06T00:10:00Z
                              total: 4
                        - endTime: 2017-11-06T22:50:00Z
                          name: User Events
                          startTime: 2017-11-05T22:50:00Z
                          timeGrain: 00:05:00
                          unit: ""
                          values:
                            - isAggregated: true
                              timestamp: 2017-11-06T22:20:00Z
                              total: 3
                            - roleInstance: RD00155D3C09FC
                              timestamp: 2017-11-06T22:20:00Z
                              total: 1
                            - roleInstance: RD00155D3C2ADC
                              timestamp: 2017-11-06T22:20:00Z
                              total: 1
                            - roleInstance: RD00155D3C214E
                              timestamp: 2017-11-06T22:20:00Z
                              total: 1
                      source: workerprocessrecycle
                  startTime: 2017-11-05T22:50:00Z
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors":
    get:
      description: Description for Get Detectors
      operationId: Diagnostics_ListSiteDetectors
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticDetectorCollection"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Get Detectors
      tags:
        - Diagnostics
      x-ms-examples:
        List App Detectors:
          parameters:
            api-version: 2019-08-01
            diagnosticCategory: availability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: Production
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/servicehealth
                    name: servicehealth
                    properties:
                      description: null
                      displayName: Service Health
                      isEnabled: true
                      rank: 1
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/siteswap
                    name: siteswap
                    properties:
                      description: null
                      displayName: Site Swap Operations
                      isEnabled: true
                      rank: 8
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/sitecrashes
                    name: sitecrashes
                    properties:
                      description: null
                      displayName: Site Crash Events
                      isEnabled: true
                      rank: 9
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/deployment
                    name: deployment
                    properties:
                      description: null
                      displayName: Site Deployments
                      isEnabled: true
                      rank: 7
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/sitecpuanalysis
                    name: sitecpuanalysis
                    properties:
                      description: null
                      displayName: CPU Analysis
                      isEnabled: true
                      rank: 3
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/sitememoryanalysis
                    name: sitememoryanalysis
                    properties:
                      description: null
                      displayName: Physical Memory Analysis
                      isEnabled: true
                      rank: 3
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/committedmemoryusage
                    name: committedmemoryusage
                    properties:
                      description: null
                      displayName: Committed Memory Usage
                      isEnabled: true
                      rank: 7
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/pagefileoperations
                    name: pagefileoperations
                    properties:
                      description: null
                      displayName: Page File Operations
                      isEnabled: true
                      rank: 3
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/siterestartuserinitiated
                    name: siterestartuserinitiated
                    properties:
                      description: null
                      displayName: User Initiated Site Restarts
                      isEnabled: true
                      rank: 14
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/siterestartsettingupdate
                    name: siterestartsettingupdate
                    properties:
                      description: null
                      displayName: Config Update Site Restarts
                      isEnabled: true
                      rank: 12
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/frebanalysis
                    name: frebanalysis
                    properties:
                      description: null
                      displayName: Freb Logs Analysis
                      isEnabled: true
                      rank: 6
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/workeravailability
                    name: workeravailability
                    properties:
                      description: null
                      displayName: Worker Availability
                      isEnabled: true
                      rank: 11
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/sitelatency
                    name: sitelatency
                    properties:
                      description: null
                      displayName: Site Latency
                      isEnabled: false
                      rank: 1005
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/threadcount
                    name: threadcount
                    properties:
                      description: null
                      displayName: Thread Count
                      isEnabled: true
                      rank: 23
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/failedrequestsperuri
                    name: failedrequestsperuri
                    properties:
                      description: null
                      displayName: Failed Requests Per URI
                      isEnabled: true
                      rank: 998
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/autoheal
                    name: autoheal
                    properties:
                      description: null
                      displayName: AutoHeal
                      isEnabled: true
                      rank: 21
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/loganalyzer
                    name: loganalyzer
                    properties:
                      description: null
                      displayName: PHP Log Analyzer
                      isEnabled: true
                      rank: 26
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/aspnetcore
                    name: aspnetcore
                    properties:
                      description: null
                      displayName: ASP.NET Core
                      isEnabled: true
                      rank: 5
        List App Slot Detectors:
          parameters:
            api-version: 2019-08-01
            diagnosticCategory: availability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/slots/staging/diagnostics/availability/detectors/servicehealth
                    name: servicehealth
                    properties:
                      description: null
                      displayName: Service Health
                      isEnabled: true
                      rank: 1
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/slots/staging/diagnostics/availability/detectors/siteswap
                    name: siteswap
                    properties:
                      description: null
                      displayName: Site Swap Operations
                      isEnabled: true
                      rank: 8
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/slots/staging/diagnostics/availability/detectors/sitecrashes
                    name: sitecrashes
                    properties:
                      description: null
                      displayName: Site Crash Events
                      isEnabled: true
                      rank: 9
                  - id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/slots/staging/diagnostics/availability/detectors/deployment
                    name: deployment
                    properties:
                      description: null
                      displayName: Site Deployments
                      isEnabled: true
                      rank: 7
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}":
    get:
      description: Description for Get Detector
      operationId: Diagnostics_GetSiteDetector
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Detector Name
          in: path
          name: detectorName
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DetectorDefinition"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Get Detector
      tags:
        - Diagnostics
      x-ms-examples:
        Get App Detector:
          parameters:
            api-version: 2019-08-01
            detectorName: sitecrashes
            diagnosticCategory: availability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: Production
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/diagnostics/availability/detectors/sitecrashes
                name: sitecrashes
                properties:
                  description: null
                  displayName: Site Crash Events
                  isEnabled: true
                  rank: 9
        Get App Slot Detector:
          parameters:
            api-version: 2019-08-01
            detectorName: sitecrashes
            diagnosticCategory: availability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/slots/staging/diagnostics/availability/detectors/sitecrashes
                name: sitecrashes
                properties:
                  description: null
                  displayName: Site Crash Events
                  isEnabled: true
                  rank: 9
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}/execute":
    post:
      description: Description for Execute Detector
      operationId: Diagnostics_ExecuteSiteDetector
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Detector Resource Name
          in: path
          name: detectorName
          required: true
          type: string
        - description: Category Name
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Start Time
          format: date-time
          in: query
          name: startTime
          type: string
        - description: End Time
          format: date-time
          in: query
          name: endTime
          type: string
        - description: Time Grain
          in: query
          name: timeGrain
          pattern: PT[1-9][0-9]+[SMH]
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DiagnosticDetectorResponse"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Execute Detector
      tags:
        - Diagnostics
      x-ms-examples:
        Execute site detector:
          parameters:
            api-version: 2019-08-01
            detectorName: sitecrashes
            diagnosticCategory: availability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: Production
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/diagnostics/availability/detectors/sitecrashes
                name: sitecrashes
                properties:
                  abnormalTimePeriods:
                    - endTime: 2017-11-06T22:50:00Z
                      solutions: []
                      startTime: 2017-11-05T22:50:00Z
                  endTime: 2017-11-06T22:50:00Z
                  startTime: 2017-11-05T22:50:00Z
        Execute site slot detector:
          parameters:
            api-version: 2019-08-01
            detectorName: sitecrashes
            diagnosticCategory: availability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/diagnostics/availability/detectors/sitecrashes
                name: sitecrashes
                properties:
                  abnormalTimePeriods:
                    - endTime: 2017-11-06T22:50:00Z
                      solutions: []
                      startTime: 2017-11-05T22:50:00Z
                  endTime: 2017-11-06T22:50:00Z
                  startTime: 2017-11-05T22:50:00Z
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/detectors":
    get:
      description: Description for List Site Detector Responses
      operationId: Diagnostics_ListSiteDetectorResponsesSlot
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DetectorResponseCollection"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: List Site Detector Responses
      tags:
        - Diagnostics
      x-ms-examples:
        Get App Detector Responses:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/detectors/runtimeavailability
                    name: runtimeavailability
                    properties:
                      dataset: []
                      metadata:
                        category: Availability and Performance
                        description: This detector analyzes the requests to your application.
                        subCategory: App Availability
                        supportTopicId: ""
        Get App Slot Detector Responses:
          parameters:
            api-version: 2019-08-01
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/34adfa4f-cedf-4dc0-ba29-b6d1a69ab345/resourceGroups/Sample-WestUSResourceGroup/providers/Microsoft.Web/sites/SampleApp/slots/staging/detectors/runtimeavailability
                    name: runtimeavailability
                    properties:
                      dataset: []
                      metadata:
                        category: Availability and Performance
                        description: This detector analyzes the requests to your application.
                        subCategory: App Availability
                        supportTopicId: ""
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/detectors/{detectorName}":
    get:
      description: Description for Get site detector response
      operationId: Diagnostics_GetSiteDetectorResponseSlot
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Detector Resource Name
          in: path
          name: detectorName
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - description: Start Time
          format: date-time
          in: query
          name: startTime
          type: string
        - description: End Time
          format: date-time
          in: query
          name: endTime
          type: string
        - description: Time Grain
          in: query
          name: timeGrain
          pattern: PT[1-9][0-9]+[SMH]
          type: string
        - $ref: "#/parameters/subscriptionIdParameter"
        - $ref: "#/parameters/apiVersionParameter"
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/DetectorResponse"
        default:
          description: App Service error response.
          schema:
            description: App Service error response.
            properties:
              error:
                description: Error model.
                properties:
                  code:
                    description: Standardized string to programmatically identify the error.
                    readOnly: true
                    type: string
                  details:
                    items:
                      description: Detailed errors.
                      properties:
                        code:
                          description: Standardized string to programmatically identify the error.
                          readOnly: true
                          type: string
                        message:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                        target:
                          description: Detailed error description and debugging information.
                          readOnly: true
                          type: string
                      readOnly: true
                    type: array
                  innererror:
                    description: More information to debug error.
                    readOnly: true
                    type: string
                  message:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                  target:
                    description: Detailed error description and debugging information.
                    readOnly: true
                    type: string
                readOnly: true
                type: object
            type: object
      summary: Get site detector response
      tags:
        - Diagnostics
      x-ms-examples:
        Get App Detector Response:
          parameters:
            api-version: 2019-08-01
            detectorName: runtimeavailability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/detectors/runtimeavailability
                name: runtimeavailability
                properties:
                  dataset:
                    - renderingProperties:
                        description: This detector breaks down the number of requests that your app received for each status code.
                        title: Requests by Status Code
                      table:
                        columns:
                          - columnName: PreciseTimeStamp
                            columnType: datetime
                            dataType: DateTime
                          - columnName: count_Http2xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http3xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http4xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http5xx
                            columnType: long
                            dataType: Int64
                        rows:
                          - - 2018-03-27T00:25:00Z
                            - "772705"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:30:00Z
                            - "787069"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:35:00Z
                            - "781627"
                            - "0"
                            - "1"
                            - "0"
                          - - 2018-03-27T00:40:00Z
                            - "785017"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:45:00Z
                            - "783518"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:50:00Z
                            - "785783"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:55:00Z
                            - "772874"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:00:00Z
                            - "787162"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:05:00Z
                            - "782036"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:10:00Z
                            - "784642"
                            - "0"
                            - "0"
                            - "0"
                        tableName: Table_0
                  metadata:
                    category: Availability and Performance
                    description: This detector analyzes the requests to your application.
                    subCategory: Web App Down
                    supportTopicId: ""
        Get App Slot Detector Response:
          parameters:
            api-version: 2019-08-01
            detectorName: runtimeavailability
            resourceGroupName: Sample-WestUSResourceGroup
            siteName: SampleApp
            slot: staging
            subscriptionId: 34adfa4f-cedf-4dc0-ba29-b6d1a69ab345
          responses:
            "200":
              body:
                id: /subscriptions/ef90e930-9d7f-4a60-8a99-748e0eea69de/resourceGroups/Build2015DemoRG/providers/Microsoft.Web/sites/BuggyBakery/slots/staging/detectors/runtimeavailability
                name: runtimeavailability
                properties:
                  dataset:
                    - renderingProperties:
                        description: This detector breaks down the number of requests that your app received for each status code.
                        title: Requests by Status Code
                      table:
                        columns:
                          - columnName: PreciseTimeStamp
                            columnType: datetime
                            dataType: DateTime
                          - columnName: count_Http2xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http3xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http4xx
                            columnType: long
                            dataType: Int64
                          - columnName: count_Http5xx
                            columnType: long
                            dataType: Int64
                        rows:
                          - - 2018-03-27T00:25:00Z
                            - "772705"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:30:00Z
                            - "787069"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:35:00Z
                            - "781627"
                            - "0"
                            - "1"
                            - "0"
                          - - 2018-03-27T00:40:00Z
                            - "785017"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:45:00Z
                            - "783518"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:50:00Z
                            - "785783"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T00:55:00Z
                            - "772874"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:00:00Z
                            - "787162"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:05:00Z
                            - "782036"
                            - "0"
                            - "0"
                            - "0"
                          - - 2018-03-27T01:10:00Z
                            - "784642"
                            - "0"
                            - "0"
                            - "0"
                        tableName: Table_0
                  metadata:
                    category: Availability and Performance
                    description: This detector analyzes the requests to your application.
                    subCategory: Web App Down
                    supportTopicId: ""
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics":
    get:
      description: Description for Get Diagnostics Categories
      operationId: Diagnostics_ListSiteDiagnosticCategoriesSlot
      parameters:
        - $ref: "#/parameters/resourceGroupNameParameter"
[...]
