{
  "swagger": "2.0",
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "info": {
    "description": "Azure Log Analytics API reference.",
    "title": "Azure Log Analytics",
    "version": "2015-03-20",
    "x-apisguru-categories": [
      "cloud"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2015-03-20/OperationalInsights.json",
        "version": "2.0"
      }
    ],
    "x-preferred": false,
    "x-providerName": "azure.com",
    "x-serviceName": "operationalinsights-OperationalInsights",
    "x-tags": [
      "Azure",
      "Microsoft"
    ]
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "parameters": {
    "ApiVersionParameter": {
      "description": "The client API version.",
      "in": "query",
      "name": "api-version",
      "required": true,
      "type": "string"
    },
    "GatewayIdParameter": {
      "description": "The Log Analytics gateway Id.",
      "in": "path",
      "name": "gatewayId",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "description": "The Resource Group name.",
      "in": "path",
      "maxLength": 90,
      "minLength": 1,
      "name": "resourceGroupName",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "description": "The Subscription ID.",
      "in": "path",
      "name": "subscriptionId",
      "required": true,
      "type": "string"
    },
    "WorkspaceNameParameter": {
      "description": "The Log Analytics Workspace name.",
      "in": "path",
      "name": "workspaceName",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "WorkspacePurgeIdParameter": {
      "description": "In a purge status request, this is the Id of the operation the status of which is returned.",
      "in": "path",
      "name": "purgeId",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client"
    },
    "WorkspacePurgeParameter": {
      "description": "Describes the body of a request to purge data in a single table of an Log Analytics Workspace",
      "in": "body",
      "name": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/WorkspacePurgeBody"
      },
      "x-ms-parameter-location": "client"
    }
  },
  "paths": {
    "/providers/Microsoft.OperationalInsights/operations": {
      "get": {
        "description": "Lists all of the available OperationalInsights Rest API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          }
        },
        "tags": [
          "Operations"
        ],
        "x-ms-examples": {
          "OperationsList": {
            "parameters": {
              "api-version": "2015-03-02"
            },
            "responses": {
              "200": {
                "body": [
                  {
                    "display": {
                      "description": "Creates a new workspace or links to an existing workspace by providing the customer id from the existing workspace.",
                      "operation": "Create Workspace",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Workspace"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/write"
                  },
                  {
                    "display": {
                      "description": "Gets an existing workspace",
                      "operation": "Get Workspace",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Workspace"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/read"
                  },
                  {
                    "display": {
                      "description": "Deletes a workspace. If the workspace was linked to an existing workspace at creation time then the workspace it was linked to is not deleted.",
                      "operation": "Delete Workspace",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Workspace"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/delete"
                  },
                  {
                    "display": {
                      "description": "Generates Registration Certificate for the workspace. This Certificate is used to connect Microsoft System Center Operation Manager to the workspace.",
                      "operation": "Generates Registration Certificate for Workspace.",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Registration Certificate"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/generateregistrationcertificate/action"
                  },
                  {
                    "display": {
                      "description": "Creates a new storage configuration. These configurations are used to pull data from a location in an existing storage account.",
                      "operation": "Create Storage Configuration",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Storage Insight Configuration"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/storageinsightconfigs/write"
                  },
                  {
                    "display": {
                      "description": "Gets a storage configuration.",
                      "operation": "Get Storage Configuration",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Storage Insight Configuration"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/storageinsightconfigs/read"
                  },
                  {
                    "display": {
                      "description": "Deletes a storage configuration. This will stop Microsoft Operational Insights from reading data from the storage account.",
                      "operation": "Delete Storage Configuration",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Storage Insight Configuration"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/storageinsightconfigs/delete"
                  },
                  {
                    "display": {
                      "description": "Register a subscription to a resource provider.",
                      "operation": "Register a subscription to a resource provider.",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Register"
                    },
                    "name": "Microsoft.OperationalInsights/register/action"
                  },
                  {
                    "display": {
                      "description": "Retrieves the shared keys for the workspace. These keys are used to connect Microsoft Operational Insights agents to the workspace.",
                      "operation": "List Workspace Shared Keys",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Shared Keys"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/sharedKeys/action"
                  },
                  {
                    "display": {
                      "description": "Retrieves the shared keys for the workspace. These keys are used to connect Microsoft Operational Insights agents to the workspace.",
                      "operation": "List Workspace Shared Keys",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Shared Keys"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/sharedKeys/read"
                  },
                  {
                    "display": {
                      "description": "Retrieves the list keys for the workspace. These keys are used to connect Microsoft Operational Insights agents to the workspace.",
                      "operation": "List Workspace Keys",
                      "provider": "Microsoft Operational Insights",
                      "resource": "List Keys"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/listKeys/action"
                  },
                  {
                    "display": {
                      "description": "Retrieves the list keys for the workspace. These keys are used to connect Microsoft Operational Insights agents to the workspace.",
                      "operation": "List Workspace Keys",
                      "provider": "Microsoft Operational Insights",
                      "resource": "List Keys"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/listKeys/read"
                  },
                  {
                    "display": {
                      "description": "Gets the names and metadata for System Center Operations Manager management groups connected to this workspace.",
                      "operation": "Get Management Groups for Workspace",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Management Group"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/managementGroups/read"
                  },
                  {
                    "display": {
                      "description": "Gets usage data for a workspace including the amount of data read by the workspace.",
                      "operation": "Get Usage Data for Workspace",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Usage Metric"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/usages/read"
                  },
                  {
                    "display": {
                      "description": "Executes a search query",
                      "operation": "Search Workspace Data",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Search"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/search/action"
                  },
                  {
                    "display": {
                      "description": "Gets the search schema for the workspace.  Search schema includes the exposed fields and their types.",
                      "operation": "Get Search Schema",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Search Schema"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/schema/read"
                  },
                  {
                    "display": {
                      "description": "Get datasources under a workspace.",
                      "operation": "Get datasources under a workspace.",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Data Source"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/datasources/read"
                  },
                  {
                    "display": {
                      "description": "Create/Update datasources under a workspace.",
                      "operation": "Create/Update datasources under a workspace.",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Data Source"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/datasources/write"
                  },
                  {},
                  {},
                  {},
                  {},
                  {
                    "display": {
                      "description": "Get the user's notification settings for the workspace.",
                      "operation": "Get Notification Settings",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Notification Settings"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/notificationSettings/read"
                  },
                  {
                    "display": {
                      "description": "Set the user's notification settings for the workspace.",
                      "operation": "Put Notification Settings",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Notification Settings"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/notificationSettings/write"
                  },
                  {},
                  {},
                  {},
                  {
                    "display": {
                      "description": "Delete Configuration Scope",
                      "operation": "Delete Configuration Scope",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Configuration Scope"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/configurationScopes/delete"
                  },
                  {
                    "display": {
                      "description": "Get linked services under given workspace.",
                      "operation": "Get linked services under given workspace.",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Linked Services"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/linkedServices/read"
                  },
                  {
                    "display": {
                      "description": "Create/Update linked services under given workspace.",
                      "operation": "Create/Update linked services under given workspace.",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Linked Services"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/linkedServices/write"
                  },
                  {
                    "display": {
                      "description": "Delete linked services under given workspace.",
                      "operation": "Delete linked services under given workspace.",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Linked Services"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/linkedServices/delete"
                  },
                  {
                    "display": {
                      "description": "Lists all intelligence packs that are visible for a given worksapce and also lists whether the pack is enabled or disabled for that workspace.",
                      "operation": "List Intelligence Packs",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Intelligence Packs"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/intelligencepacks/read"
                  },
                  {
                    "display": {
                      "description": "Enables an intelligence pack for a given workspace.",
                      "operation": "Enable Intelligence Pack",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Intelligence Packs"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/intelligencepacks/enable/action"
                  },
                  {
                    "display": {
                      "description": "Disables an intelligence pack for a given workspace.",
                      "operation": "Disable Intelligence Pack",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Intelligence Packs"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/intelligencepacks/disable/action"
                  },
                  {
                    "display": {
                      "description": "Search using new engine.",
                      "operation": "Search using new engine.",
                      "provider": "Microsoft Operational Insights",
                      "resource": "analytics"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/analytics/query/action"
                  },
                  {
                    "display": {
                      "description": "Get search schema V2.",
                      "operation": "Get search schema V2.",
                      "provider": "Microsoft Operational Insights",
                      "resource": "analytics"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/analytics/query/schema/read"
                  },
                  {
                    "display": {
                      "description": "Search using new engine.",
                      "operation": "Search using new engine.",
                      "provider": "Microsoft Operational Insights",
                      "resource": "analytics"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/api/query/action"
                  },
                  {
                    "display": {
                      "description": "Get search schema V2.",
                      "operation": "Get search schema V2.",
                      "provider": "Microsoft Operational Insights",
                      "resource": "analytics"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/api/query/schema/read"
                  },
                  {
                    "display": {
                      "description": "Delete specified data from workspace",
                      "operation": "Delete specified data from workspace",
                      "provider": "Microsoft Operational Insights",
                      "resource": "analytics"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/purge/action"
                  },
                  {
                    "display": {
                      "description": "Lists existing accounts that are not associated with an Azure subscription. To link this Azure subscription to a workspace, use a customer id returned by this operation in the customer id property of the Create Workspace operation.",
                      "operation": "List Unlinked Accounts",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Unlinked Account"
                    },
                    "name": "Microsoft.OperationalInsights/linkTargets/read"
                  },
                  {
                    "display": {
                      "description": "Get Metric Definitions under workspace",
                      "operation": "Metric Definition operation",
                      "provider": "Microsoft Operational Insights",
                      "resource": "Metric Definitions"
                    },
                    "name": "Microsoft.OperationalInsights/workspaces/metricDefinitions/read",
                    "properties": {
                      "serviceSpecification": {
                        "metricSpecifications": [
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_% Free Inodes",
                            "displayName": "Average_% Free Inodes",
                            "name": "Average_% Free Inodes",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_% Free Space",
                            "displayName": "Average_% Free Space",
                            "name": "Average_% Free Space",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_% Used Inodes",
                            "displayName": "Average_% Used Inodes",
                            "name": "Average_% Used Inodes",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_% Used Space",
                            "displayName": "Average_% Used Space",
                            "name": "Average_% Used Space",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Disk Read Bytes/sec",
                            "displayName": "Average_Disk Read Bytes/sec",
                            "name": "Average_Disk Read Bytes/sec",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Disk Reads/sec",
                            "displayName": "Average_Disk Reads/sec",
                            "name": "Average_Disk Reads/sec",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Disk Transfers/sec",
                            "displayName": "Average_Disk Transfers/sec",
                            "name": "Average_Disk Transfers/sec",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Disk Write Bytes/sec",
                            "displayName": "Average_Disk Write Bytes/sec",
                            "name": "Average_Disk Write Bytes/sec",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Disk Writes/sec",
                            "displayName": "Average_Disk Writes/sec",
                            "name": "Average_Disk Writes/sec",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Free Megabytes",
                            "displayName": "Average_Free Megabytes",
                            "name": "Average_Free Megabytes",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Logical Disk Bytes/sec",
                            "displayName": "Average_Logical Disk Bytes/sec",
                            "name": "Average_Logical Disk Bytes/sec",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_% Available Memory",
                            "displayName": "Average_% Available Memory",
                            "name": "Average_% Available Memory",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_% Available Swap Space",
                            "displayName": "Average_% Available Swap Space",
                            "name": "Average_% Available Swap Space",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_% Used Memory",
                            "displayName": "Average_% Used Memory",
                            "name": "Average_% Used Memory",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_% Used Swap Space",
                            "displayName": "Average_% Used Swap Space",
                            "name": "Average_% Used Swap Space",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Available MBytes Memory",
                            "displayName": "Average_Available MBytes Memory",
                            "name": "Average_Available MBytes Memory",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Available MBytes Swap",
                            "displayName": "Average_Available MBytes Swap",
                            "name": "Average_Available MBytes Swap",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Page Reads/sec",
                            "displayName": "Average_Page Reads/sec",
                            "name": "Average_Page Reads/sec",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Page Writes/sec",
                            "displayName": "Average_Page Writes/sec",
                            "name": "Average_Page Writes/sec",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Pages/sec",
                            "displayName": "Average_Pages/sec",
                            "name": "Average_Pages/sec",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Used MBytes Swap Space",
                            "displayName": "Average_Used MBytes Swap Space",
                            "name": "Average_Used MBytes Swap Space",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Used Memory MBytes",
                            "displayName": "Average_Used Memory MBytes",
                            "name": "Average_Used Memory MBytes",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Total Bytes Transmitted",
                            "displayName": "Average_Total Bytes Transmitted",
                            "name": "Average_Total Bytes Transmitted",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Total Bytes Received",
                            "displayName": "Average_Total Bytes Received",
                            "name": "Average_Total Bytes Received",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Total Bytes",
                            "displayName": "Average_Total Bytes",
                            "name": "Average_Total Bytes",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Total Packets Transmitted",
                            "displayName": "Average_Total Packets Transmitted",
                            "name": "Average_Total Packets Transmitted",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Total Packets Received",
                            "displayName": "Average_Total Packets Received",
                            "name": "Average_Total Packets Received",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Total Rx Errors",
                            "displayName": "Average_Total Rx Errors",
                            "name": "Average_Total Rx Errors",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Total Tx Errors",
                            "displayName": "Average_Total Tx Errors",
                            "name": "Average_Total Tx Errors",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Total Collisions",
                            "displayName": "Average_Total Collisions",
                            "name": "Average_Total Collisions",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Avg. Disk sec/Read",
                            "displayName": "Average_Avg. Disk sec/Read",
                            "name": "Average_Avg. Disk sec/Read",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Avg. Disk sec/Transfer",
                            "displayName": "Average_Avg. Disk sec/Transfer",
                            "name": "Average_Avg. Disk sec/Transfer",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Avg. Disk sec/Write",
                            "displayName": "Average_Avg. Disk sec/Write",
                            "name": "Average_Avg. Disk sec/Write",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Physical Disk Bytes/sec",
                            "displayName": "Average_Physical Disk Bytes/sec",
                            "name": "Average_Physical Disk Bytes/sec",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Pct Privileged Time",
                            "displayName": "Average_Pct Privileged Time",
                            "name": "Average_Pct Privileged Time",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Pct User Time",
                            "displayName": "Average_Pct User Time",
                            "name": "Average_Pct User Time",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Used Memory kBytes",
                            "displayName": "Average_Used Memory kBytes",
                            "name": "Average_Used Memory kBytes",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Virtual Shared Memory",
                            "displayName": "Average_Virtual Shared Memory",
                            "name": "Average_Virtual Shared Memory",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_% DPC Time",
                            "displayName": "Average_% DPC Time",
                            "name": "Average_% DPC Time",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_% Idle Time",
                            "displayName": "Average_% Idle Time",
                            "name": "Average_% Idle Time",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_% Interrupt Time",
                            "displayName": "Average_% Interrupt Time",
                            "name": "Average_% Interrupt Time",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_% IO Wait Time",
                            "displayName": "Average_% IO Wait Time",
                            "name": "Average_% IO Wait Time",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_% Nice Time",
                            "displayName": "Average_% Nice Time",
                            "name": "Average_% Nice Time",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_% Privileged Time",
                            "displayName": "Average_% Privileged Time",
                            "name": "Average_% Privileged Time",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_% Processor Time",
                            "displayName": "Average_% Processor Time",
                            "name": "Average_% Processor Time",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_% User Time",
                            "displayName": "Average_% User Time",
                            "name": "Average_% User Time",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Free Physical Memory",
                            "displayName": "Average_Free Physical Memory",
                            "name": "Average_Free Physical Memory",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Free Space in Paging Files",
                            "displayName": "Average_Free Space in Paging Files",
                            "name": "Average_Free Space in Paging Files",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Free Virtual Memory",
                            "displayName": "Average_Free Virtual Memory",
                            "name": "Average_Free Virtual Memory",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Processes",
                            "displayName": "Average_Processes",
                            "name": "Average_Processes",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Size Stored In Paging Files",
                            "displayName": "Average_Size Stored In Paging Files",
                            "name": "Average_Size Stored In Paging Files",
                            "unit": "Count"
                          },
                          {},
                          {},
                          {},
                          {},
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Current Disk Queue Length",
                            "displayName": "Average_Current Disk Queue Length",
                            "name": "Average_Current Disk Queue Length",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Disk Reads/sec",
                            "displayName": "Average_Disk Reads/sec",
                            "name": "Average_Disk Reads/sec",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Disk Transfers/sec",
                            "displayName": "Average_Disk Transfers/sec",
                            "name": "Average_Disk Transfers/sec",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Disk Writes/sec",
                            "displayName": "Average_Disk Writes/sec",
                            "name": "Average_Disk Writes/sec",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Free Megabytes",
                            "displayName": "Average_Free Megabytes",
                            "name": "Average_Free Megabytes",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_% Free Space",
                            "displayName": "Average_% Free Space",
                            "name": "Average_% Free Space",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
                                "displayName": "InstanceName",
                                "name": "InstanceName"
                              },
                              {
                                "displayName": "CounterPath",
                                "name": "CounterPath"
                              },
                              {
                                "displayName": "SourceSystem",
                                "name": "SourceSystem"
                              }
                            ],
                            "displayDescription": "Average_Available MBytes",
                            "displayName": "Average_Available MBytes",
                            "name": "Average_Available MBytes",
                            "unit": "Count"
                          },
                          {
                            "aggregationType": "Average",
                            "dimensions": [
                              {
                                "displayName": "Computer",
                                "name": "Computer"
                              },
                              {
                                "displayName": "ObjectName",
                                "name": "ObjectName"
                              },
                              {
[...]
