swagger: "2.0"
schemes:
  - https
host: echodata.epa.gov
basePath: /echo
info:
  contact:
    name: US EPA, OECA Integration, Targeting and Access Branch
  description: "Enforcement and Compliance History Online (ECHO) is a tool developed and maintained by EPA's Office of Enforcement and Compliance Assurance for public use. ECHO provides integrated compliance and enforcement information for over 1 million regulated facilities nationwide.

    \ CASE Rest Services provide multiple service endpoints, each with specific capabilities, to search and retrieve data on civil cases entered into the\ 

    Integrated Compliance Information System (ICIS) and criminal cases entered into the Summary of Criminal Prosecutions database. \ 

    See Enforcement Case Search Help (https://echo.epa.gov/help/enforcement-case-search-help) for additional information on searching civil and criminal cases.\ 

    \\

    The get_cases, get_map, get_qid, and get_download end points are meant to be used together, while the enhanced get_case_info end point is self contained..  \ 

    The recommended use scenario for get_cases, get_qid, get_map, and get_downoad is:

    \\

    \ <b>1)</b>  Use get_cases to validate passed query parameters, obtain summary statistics and to obtain a query_id (QID).  QIDs are time sensitive and will be valid for approximately 30 minutes.

    \ <b>2)</b>  Use get_qid, with the returned QID, to paginate through arrays of case results.

    \ <b>3)</b>  Use get_map, with the returned QID, to zoom in/out and pan on the clustered and individual facility coordinates, related to the returned cases, that meet the QID query criteria.

    \ <b>4)</b>  Use get_download, with the returned QID, to generate a Comma Separated Value (CSV) file of facility information that meets the QID query criteria.

    \\

    In addition to the service endpoints listed above there are two detailed case report services, one for civil cases (get_case_report) and one for criminal cases (get_crcase_report).\ 

    See the Civil Enforcement Case Report Help (https://echo.epa.gov/help/reports/enforcement-case-report-help) and the Criminal Case Report Help (https://echo.epa.gov/help/reports/criminal-case-report-help) for additional information\ 

    on then data returned from these two services.  \ 

    \\

    Additional ECHO Resources:   <a href=\"https://echo.epa.gov/tools/web-services\">Web Services</a>, <a href=\"https://echo.epa.gov/resources/echo-data/about-the-data\">About ECHO's Data</a>, <a href=\"https://echo.epa.gov/tools/data-downloads\">Data Downloads</a>

    \ "
  license:
    name: This page was built with the Swagger API.
    url: https://swagger.io
  title: U.S. EPA Enforcement and Compliance History Online (ECHO) - Enforcement Case Search
  version: 1.0.0
  x-apisguru-categories:
    - open_data
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_632233890594299904_DgRDU6dx_400x400.png
  x-origin:
    - format: swagger
      url: https://ofmpub.epa.gov/echo/swaggerx.swagger_json?p_prefix=CASE
      version: "2.0"
  x-providerName: epa.gov
  x-serviceName: case
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
  - application/xml
parameters:
  f.c1_lat:
    description: Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: c1_lat
    required: false
    type: number
  f.c1_long:
    description: Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: c1_long
    required: false
    type: number
  f.c2_lat:
    description: Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: c2_lat
    required: false
    type: number
  f.c2_long:
    description: Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: c2_long
    required: false
    type: number
  f.callback:
    description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
    in: formData
    name: callback
    required: false
    type: string
  f.descending:
    description: Output Sort Column Descending Flag.  Enter Y to column identified in the newsort parameter descending.  Enter N to use ascending sort order. Used only when newsort parameter is populated.
    enum:
      - Y
      - N
    in: formData
    name: descending
    required: false
    type: string
  f.maplist:
    description: Map List Flag.  Provide a Y to return mappable coordinates representing the full geographic extent of the queryset (all facilities that met the selection criteria).
    enum:
      - Y
      - N
    in: formData
    name: maplist
    required: false
    type: string
  f.mapset:
    default: "1400"
    description: Identifies the maxium number of case facilities to return from the case_rest_services.get_case_info query.
    in: formData
    name: mapset
    required: false
    type: string
  f.newsort:
    description: Output Sort Column.  Enter the number of the column on which the data will be sorted. If unpopulated results will sort on the first column.
    in: formData
    name: newsort
    required: false
    type: number
  f.p_activity_contact:
    description: Activity Contact Last Name Filter.  Enter a single last name or partial last name to filter results.  Use "%" as a wild-card for advanced searching.
    in: formData
    name: p_activity_contact
    required: false
    type: string
  f.p_activity_number:
    description: Case Activity Number Filter.  Enter a single case activity number to filter results.
    in: formData
    name: p_activity_number
    required: false
    type: string
  f.p_c1lat:
    description: In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: p_c1lat
    required: false
    type: number
  f.p_c1lon:
    description: In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: p_c1lon
    required: false
    type: number
  f.p_c2lat:
    description: In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: p_c2lat
    required: false
    type: number
  f.p_c2lon:
    description: In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: formData
    name: p_c2lon
    required: false
    type: number
  f.p_case_category:
    description: |-
      Case Category Filter.  Enter one or more case category codes to filter results.   Provide multiple values as a comma-delimited list.
      - AFR = Administrative - Formal
      - AIF = Administrative - Informal
      - JDC = Judicial
    in: formData
    name: p_case_category
    required: false
    type: string
  f.p_case_lead:
    description: |-
      Case Lead Limiter.  Enter E or S to limit results.
      - E = EPA is the case lead.
      - S = The state is the case lead.
    enum:
      - E
      - S
    in: formData
    name: p_case_lead
    required: false
    type: string
  f.p_case_number:
    description: Case Number Filter.  Enter one or more case numbers to restrict results.  Provide multiple values as a comma-delimited list.
    in: formData
    name: p_case_number
    required: false
    type: string
  f.p_case_sens_flg:
    description: Case Sensitive Data Flag.  Enter a Y or N to include or exclude cases with sensitive data.
    in: formData
    name: p_case_sens_flg
    required: false
    type: string
  f.p_case_status:
    description: Case Status Code Filter.  Enter one or more case status codes to limit results.  Provide multiple values as a comma-delimited list.
    in: formData
    name: p_case_status
    required: false
    type: string
  f.p_case_summary:
    description: Case Summary Search Limiter.  Enter a single case summary to limit results.  This parameter accepts partial codes and allows for advanced search modifiers.
    in: formData
    name: p_case_summary
    required: false
    type: string
  f.p_case_summary_type:
    description: Identifies how the the search terms enterened in p_case_summary are searched.  Valid values are ALL (Default), WITHIN, and CONTAINS.  Must be used with p_case_summary.
    enum:
      - ALL
      - CONTAINS
      - WITHIN
    in: formData
    name: p_case_summary_type
    required: false
    type: string
  f.p_civil_criminal_indicator:
    description: |-
      Civil/Criminal Case Limiter.  Provide a keyword to limit results.
      - ANY = return both civil and criminal cases.
      - CI = return only civil cases.
      - CR = return only criminal cases.
    enum:
      - CI
      - CR
      - ALL
    in: formData
    name: p_civil_criminal_indicator
    required: false
    type: string
  f.p_comp_act_val:
    description: |-
      Compliance Action Cost Limiter. Enter a keyword value to limit results to cases with given compliance cost amounts.
      - ANY = Cases with any compliance cost amount greater than zero.
      - LEXX = Replacing XX with a dollar value, return cases with compliance cost amount less than or equal to the given amount.
      - GTXX = Replacing XX with a dollar value, return cases with compliance cost amount greater than the given amount.
    enum:
      - ANY
      - LE5000
      - GT5000
      - GT100000
      - GT1000000
      - GT50000000
    in: formData
    name: p_comp_act_val
    required: false
    type: string
  f.p_complying_actions:
    description: Complying Actions Type Code Limiter.  Enter one or more complying action codes to restrict results.  Provide multiple values as a comma-delimited list.
    in: formData
    name: p_complying_actions
    required: false
    type: string
  f.p_cost_recovery:
    description: |-
      Cost Recovery Awarded Amount Limiter.  Enter a keyword value to limit results to cases with given cost recovery amounts.
      - ANY = Cases with any cost recovery amount greater than zero.
      - LEXX = Replacing XX with a dollar value, return cases with cost recovery amount less than or equal to the given amount.
      - GTXX = Replacing XX with a dollar value, return cases with cost recovery amount greater than the given amount.
    in: formData
    name: p_cost_recovery
    required: false
    type: string
  f.p_court_docket_number:
    in: formData
    name: p_court_docket_number
    required: false
    type: string
  f.p_cp_citation:
    description: Law Section Code Filter Alternative. Enter a single law section code to limit results.  This parameter accepts partial codes and allows for advanced search modifiers.
    in: formData
    name: p_cp_citation
    required: false
    type: string
  f.p_district:
    description: Case Location Court District Limiter.  Enter a single state court district code to limit results.
    in: formData
    name: p_district
    required: false
    type: string
  f.p_docket_number:
    description: DOJ Docket Number Filter.  Enter a single docket number or partial docket number to restrict results.  Use "%" as a wildcard for more complex filtering.
    in: formData
    name: p_docket_number
    required: false
    type: string
  f.p_enf_program:
    description: "Enforcement Program Code Limiter.  Enter one or more enforcement program codes to limit results.  Provide multiple values as a comma-delimited list.  "
    in: formData
    name: p_enf_program
    required: false
    type: string
  f.p_enf_type:
    description: Case Enforcement Type Filter. Enter one or more case enforcement type codes to limit results.  Provide multiple values as a comma-delimited list.
    in: formData
    name: p_enf_type
    required: false
    type: string
  f.p_entered_date:
    description: Settlement Entered Date Limiter.  Enter a single settlement entered date in MM/DD/YYYY format to limit results.
    in: formData
    name: p_entered_date
    required: false
    type: string
  f.p_fac_city:
    description: Case Facility City Limiter.  Enter a single complete city name to filter cases by facility location city.
    in: formData
    name: p_fac_city
    required: false
    type: string
  f.p_fac_county:
    description: Case Facility County Limiter.  Enter a single complete county name to filter cases by facility location county name.
    in: formData
    name: p_fac_county
    required: false
    type: string
  f.p_fac_zip:
    description: Case Facility ZIP Code Limiter.  Enter a single 5-digit zip code to filter cases by facility location zip code.
    in: formData
    name: p_fac_zip
    required: false
    type: string
  f.p_facility_id:
    description: Case Facility Registration Identifier Limiter.  Enter a single complete facility identifier to limit results.
    in: formData
    name: p_facility_id
    required: false
    type: string
  f.p_fed_case:
    description: Federal Facility Involvement Flag.  Enter a Y or N to include or exclude cases involving federal facilities.
    enum:
      - Y
      - N
    in: formData
    name: p_fed_case
    required: false
    type: string
  f.p_fed_indicator:
    description: Federal Facility/Cross Media Flag.  Enter Y or N to limit results to cases with federal facility cross media.
    in: formData
    name: p_fed_indicator
    required: false
    type: string
  f.p_fed_penalty:
    description: |-
      Federal Penalty Assessed Amount Filter.  Provide one of the following keywords to restrict results.
      - ANY = cases with any penalty amount.
      - LE5000 = cases with penalty amount less than or equal to $5,000.
      - GT5000 = cases with penalty amount more than $5,000.
      - GT50000 = cases with penalty amount more than $50,000.
      - GT100000 = cases with penalty amount more than $100,000.
      - GT500000 = cases with penalty amount more than $500,000.
      - GT1000000 = cases with penalty amount more than $1,000,000.
      - GT2500000 = cases with penalty amount more than $2,500,000.
    enum:
      - ANY
      - LE5000
      - GT5000
      - GT50000
      - GT100000
      - GT500000
      - GT1000000
      - GT2500000
    in: formData
    name: p_fed_penalty
    required: false
    type: string
  f.p_fntype:
    description: |-
      Controls type of text search performed on facility name with parameter p_fn.
      - EXACT = Find facilities having the exact provided name(s).
      - BEGINS = Find facilities with names starting with the provided term(s).
      - ALL = Find facilities using Oracle text search terms.
      - CONTAINS = 
    enum:
      - ALL
      - CONTAINS
      - EXACT
      - BEGINS
    in: formData
    name: p_fntype
    required: false
    type: string
  f.p_from_date:
    description: Administrative or Judicial Milestone Date Range Start Limiter.  Enter a date value in MM/DD/YYYY format to limit milestone results.  Parameter p_to_date must also be populated when using this parameter option.
    in: formData
    name: p_from_date
    required: false
    type: string
  f.p_has_map:
    in: formData
    name: p_has_map
    required: false
    type: string
  f.p_law:
    description: Law Statute Code Filter.  Enter a single statute code to limit results.
    in: formData
    name: p_law
    required: false
    type: string
  f.p_lodged_date:
    description: Settlement Lodged Date Limiter.  Enter a single settlement lodged date in MM/DD/YYYY format to limit results.
    in: formData
    name: p_lodged_date
    required: false
    type: string
  f.p_milestone:
    description: Administrative or Judicial Milestone Filter.  Enter one or milestone values to restrict results.  Provide multiple values as a comma-delimited list.
    in: formData
    name: p_milestone
    required: false
    type: string
  f.p_milestone_fy:
    description: Administrative or Judicial Milestone Fiscal Year Limiter.  Enter a single fiscal year value to limit milestone searches to a given fiscal year.
    in: formData
    name: p_milestone_fy
    required: false
    type: string
  f.p_multimedia:
    description: Enforcement Multimedia Case Flag.  Enter Y or N to include or exclude multimedia cases.
    enum:
      - Y
      - N
    in: formData
    name: p_multimedia
    required: false
    type: string
  f.p_naics:
    description: North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values.
    in: formData
    name: p_naics
    required: false
    type: string
  f.p_naics_frs_flg:
    description: Case Location Extended FRS NAICS Search Flag.  Enter Y to expand NAICS search to include Federal Registry Service datasets.
    enum:
      - Y
      - N
    in: formData
    name: p_naics_frs_flg
    required: false
    type: string
  f.p_naics_primary_flg:
    description: Case Location Primary NAICS Flag.  Enter Y to limit NAICS search results to primary NAICS codes only.
    enum:
      - Y
      - N
    in: formData
    name: p_naics_primary_flg
    required: false
    type: string
  f.p_name:
    description: Case Name Filter.  Enter one or more case names to restrict results.  Provide multiple values as a comma-delimited list.  When using this parameter the p_name_type parameter is required.
    in: formData
    name: p_name
    required: false
    type: string
  f.p_name_type:
    description: Case Name Filter Modifier.
    in: formData
    name: p_name_type
    required: false
    type: string
  f.p_ocmap_fy:
    description: Fiscal Year to select cases that are displayed in the Office of Complicance Fiscal Year Map Services
    in: formData
    name: p_ocmap_fy
    required: false
    type: string
  f.p_oeca_core:
    description: OECA Core Program Flag.  Enter Y or N to include or exclude core program cases.
    enum:
      - Y
      - N
    in: formData
    name: p_oeca_core
    required: false
    type: string
  f.p_pretty_print:
    description: Optional flag to request GeoJSON formatted results to be pretty printed.  Only provide a numeric value when the output needs to be human readable as pretty printing has a performance cost.
    in: formData
    name: p_pretty_print
    required: false
    type: number
  f.p_priority_area:
    description: Case Priority Area Filter.  Enter one or more case priority areas to limit results.  Provide multiple values as a comma-delimited list.
    in: formData
    name: p_priority_area
    required: false
    type: string
  f.p_priority_area_desc:
    description: Case Priority Area Description Filter.  Enter a single case priority area description or partial case priority area description to limit results.  Use "%" as a wild-card match for more complex searches.
    in: formData
    name: p_priority_area_desc
    required: false
    type: string
  f.p_qs:
    description: Quick Search. Allows entry for city, state, and/or zip code.
    in: formData
    name: p_qs
    required: false
    type: string
  f.p_rank_order:
    description: Law Status Rank Order Limiter.  Enter a single integer rank order to limit results.
    enum:
      - "1"
      - "0"
    in: formData
    name: p_rank_order
    required: false
    type: string
  f.p_region:
    description: EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.
    enum:
      - "01"
      - "02"
      - "03"
      - "04"
      - "05"
      - "06"
      - "07"
      - "08"
      - "09"
      - "10"
    in: formData
    name: p_region
    required: false
    type: string
  f.p_role:
    description: Activity Contact Role Code Filter.  Enter a single role code to restrict results.
    in: formData
    name: p_role
    required: false
    type: string
  f.p_section:
    description: Law Section Code Filter. Enter one or more law section codes to limit results.  Provide multiple values as a comma-delimited list.
    in: formData
    name: p_section
    required: false
    type: string
  f.p_sep_cats:
    description: Supplemental Environmental Projects Activity Category Code Limiter.  Provide one or more SEP activity category codes to limit results.  Provide multiple values as a comma-delimited list.
    in: formData
    name: p_sep_cats
    required: false
    type: string
  f.p_sep_val:
    description: |-
      Supplemental Environmental Projects Activity Value Limiter.  Provide a keyword to limit results.
      - ANY = return cases with any SEP activity amount.
      - LE10000 = return cases with SEP activity amount less than or equal to $10,000.
      - GT10000 = return cases with SEP activity amount greater than $10,000.
      - GT50000 = return cases with SEP activity amount greater than $50,000.
      - GT100000 = return cases with SEP activity amount greater than $100,000.
      - GT500000 = return cases with SEP activity amount greater than $500,000.
      - GT1000000 = return cases with SEP activity amount greater than $1,000,000.
    enum:
      - ANY
      - LE10000
      - GT10000
      - GT50000
      - GT100000
      - GT500000
      - GT1000000
    in: formData
    name: p_sep_val
    required: false
    type: string
  f.p_sic:
    description: Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.
    in: formData
    name: p_sic
    required: false
    type: string
  f.p_sic_ao_naics:
    description: |-
      Case Location SIC/NAICS And/Or Modifier.  Enter either AND or OR to govern the search logic of SIC and NAICS codes.
      - AND = Search will return results having both the provided SIC code(s) and provided NAICS code(s).
      - OR = Search will return results having either the provided SIC code(s) or the provided NAICS code(s).
    enum:
      - AND
      - OR
    in: formData
    name: p_sic_ao_naics
    required: false
    type: string
  f.p_sic_frs_flg:
    description: Case Location Extended FRS SIC Search Flag.  Enter Y to expand SIC search to include Federal Registry Service datasets.
    enum:
      - Y
      - N
    in: formData
    name: p_sic_frs_flg
    required: false
    type: string
  f.p_sic_primary_flg:
    description: Case Location Primary SIC Flag.  Enter Y to limit SIC search results to primary SIC codes only.
    enum:
      - Y
      - N
    in: formData
    name: p_sic_primary_flg
    required: false
    type: string
  f.p_state:
    description: Case Location State Filter.  Enter one or more state USPS postal codes to filter results.  Provide multiple values as a comma-delimited list.
    in: formData
    name: p_state
    required: false
    type: string
  f.p_to_date:
    description: Administrative or Judicial Milestone Date Range End Limiter.  Enter a date value in MM/DD/YYYY format to limit milestone results.  Parameter p_from_date must also be populated when using this parameter option.
    in: formData
    name: p_to_date
    required: false
    type: string
  f.p_total_comp_act_val:
    description: |-
      Total Compliance Action Amount Limiter.  Enter a keyword value to limit results to cases with given total compliance action amounts.
      - ANY = Cases with any total compliance action amount greater than zero.
      - LEXX = Replacing XX with a dollar value, return cases with total compliance action amount less than or equal to the given amount.
      - GTXX = Replacing XX with a dollar value, return cases with total compliance action amount greater than the given amount.
    in: formData
    name: p_total_comp_act_val
    required: false
    type: string
  f.p_total_cost_recovery:
    description: |-
      Total Cost Recovery Amount Limiter.  Enter a keyword value to limit results to cases with given cost recovery amounts.
      - ANY = Cases with any cost recovery amount greater than zero.
      - LEXX = Replacing XX with a dollar value, return cases with cost recovery amount less than or equal to the given amount.
      - GTXX = Replacing XX with a dollar value, return cases with cost recovery amount greater than the given amount.
    in: formData
    name: p_total_cost_recovery
    required: false
    type: string
  f.p_total_fed_penalty:
    description: |-
      Total Federal Penalty Limiter.  Enter a keyword value to limit results to cases with given total federal penalties.
      - ANY = Cases with any federal penalty greater than zero.
      - LEXX = Replacing XX with a dollar value, return cases with federal penalty less than or equal to the given amount.
      - GTXX = Replacing XX with a dollar value, return cases with federal penalty greater than the given amount.
    in: formData
    name: p_total_fed_penalty
    required: false
    type: string
  f.p_total_sep_val:
    description: |-
      Supplemental Environmental Projects Total Value Limiter.  Provide a keyword to limit results.
      - ANY = return cases with any SEP total amount.
      - LE10000 = return cases with SEP total amount less than or equal to $10,000.
      - GT10000 = return cases with SEP total amount greater than $10,000.
      - GT50000 = return cases with SEP total amount greater than $50,000.
      - GT100000 = return cases with SEP total amount greater than $100,000.
      - GT500000 = return cases with SEP total amount greater than $500,000.
      - GT1000000 = return cases with SEP total amount greater than $1,000,000.
    in: formData
    name: p_total_sep_val
    required: false
    type: string
  f.p_tribal:
    description: Case Location Tribal Land Flag.  Enter Y or N to include or disallow cases on tribal land.
    enum:
      - Y
      - N
    in: formData
    name: p_tribal
    required: false
    type: string
  f.p_usmex:
    description: US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.
    enum:
      - Y
      - N
    in: formData
    name: p_usmex
    required: false
    type: string
  f.p_violation:
    description: Violation Type Code Filter.  Enter one or more violation type codes to limit results.  Provide multiple values as a comma-delimited list.
    in: formData
    name: p_violation
    required: false
    type: string
  f.p_voluntary:
    description: Voluntary Self Disclosure Flag.  Enter Y or N to include or exclude cases results having voluntary disclosure.
    in: formData
    name: p_voluntary
    required: false
    type: string
  f.pageno:
    default: 1
    description: Indicates the number of the page to display. It is used only when the results are paginated.
    in: formData
    name: pageno
    required: false
    type: number
  f.qcolumns:
    description: Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.
    in: formData
    name: qcolumns
    required: false
    type: string
  f.qid:
    description: Query ID Selector.  Enter the QueryID number from a previously run query.
    in: formData
    name: qid
    required: true
    type: string
  f.queryset:
    description: Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000.
    in: formData
    name: queryset
    required: false
    type: number
  f.responseset:
    description: Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000.
    in: formData
    name: responseset
    required: false
    type: number
  f.search_code:
    description: Enter a partial or complete code value.
    in: formData
    name: search_code
    required: false
    type: string
  f.search_term:
    description: Enter a partial or complete search phrase or word.
    in: formData
    name: search_term
    required: false
    type: string
  f.sort_order:
    in: formData
    name: sort_order
    required: false
    type: number
  f.status_flag:
    in: formData
    name: status_flag
    required: false
    type: string
  f.statute_code:
    in: formData
    name: statute_code
    required: false
    type: string
  f.tablelist:
    description: Table List Flag. Enter a Y to display the first page of facility results.
    enum:
      - Y
      - N
    in: formData
    name: tablelist
    required: false
    type: string
  q.c1_lat:
    description: Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: c1_lat
    required: false
    type: number
  q.c1_long:
    description: Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: c1_long
    required: false
    type: number
  q.c2_lat:
    description: Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: c2_lat
    required: false
    type: number
  q.c2_long:
    description: Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: c2_long
    required: false
    type: number
  q.callback:
    description: JSONP Callback.  For use with JSONP and GEOJSONP output only.  Enter a name of the function in which to wrap the JSON response.
    in: query
    name: callback
    required: false
    type: string
  q.descending:
    description: Output Sort Column Descending Flag.  Enter Y to column identified in the newsort parameter descending.  Enter N to use ascending sort order. Used only when newsort parameter is populated.
    enum:
      - Y
      - N
    in: query
    name: descending
    required: false
    type: string
  q.maplist:
    description: Map List Flag.  Provide a Y to return mappable coordinates representing the full geographic extent of the queryset (all facilities that met the selection criteria).
    enum:
      - Y
      - N
    in: query
    name: maplist
    required: false
    type: string
  q.mapset:
    default: "1400"
    description: Identifies the maxium number of case facilities to return from the case_rest_services.get_case_info query.
    in: query
    name: mapset
    required: false
    type: string
  q.newsort:
    description: Output Sort Column.  Enter the number of the column on which the data will be sorted. If unpopulated results will sort on the first column.
    in: query
    name: newsort
    required: false
    type: number
  q.p_activity_contact:
    description: Activity Contact Last Name Filter.  Enter a single last name or partial last name to filter results.  Use "%" as a wild-card for advanced searching.
    in: query
    name: p_activity_contact
    required: false
    type: string
  q.p_activity_number:
    description: Case Activity Number Filter.  Enter a single case activity number to filter results.
    in: query
    name: p_activity_number
    required: false
    type: string
  q.p_c1lat:
    description: In decimal degrees.  Latitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: p_c1lat
    required: false
    type: number
  q.p_c1lon:
    description: In decimal degrees.  Longitude of 1st corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: p_c1lon
    required: false
    type: number
  q.p_c2lat:
    description: In decimal degrees.  Latitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: p_c2lat
    required: false
    type: number
  q.p_c2lon:
    description: In decimal degrees.  Longitude of 2nd corner of box that bounds the resulting facilities. The latitude and longitude of both corners of the bounding box must be provided.
    in: query
    name: p_c2lon
    required: false
    type: number
  q.p_case_category:
    description: |-
      Case Category Filter.  Enter one or more case category codes to filter results.   Provide multiple values as a comma-delimited list.
      - AFR = Administrative - Formal
      - AIF = Administrative - Informal
      - JDC = Judicial
    in: query
    name: p_case_category
    required: false
    type: string
  q.p_case_lead:
    description: |-
      Case Lead Limiter.  Enter E or S to limit results.
      - E = EPA is the case lead.
      - S = The state is the case lead.
    enum:
      - E
      - S
    in: query
    name: p_case_lead
    required: false
    type: string
  q.p_case_number:
    description: Case Number Filter.  Enter one or more case numbers to restrict results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_case_number
    required: false
    type: string
  q.p_case_sens_flg:
    description: Case Sensitive Data Flag.  Enter a Y or N to include or exclude cases with sensitive data.
    in: query
    name: p_case_sens_flg
    required: false
    type: string
  q.p_case_status:
    description: Case Status Code Filter.  Enter one or more case status codes to limit results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_case_status
    required: false
    type: string
  q.p_case_summary:
    description: Case Summary Search Limiter.  Enter a single case summary to limit results.  This parameter accepts partial codes and allows for advanced search modifiers.
    in: query
    name: p_case_summary
    required: false
    type: string
  q.p_case_summary_type:
    description: Identifies how the the search terms enterened in p_case_summary are searched.  Valid values are ALL (Default), WITHIN, and CONTAINS.  Must be used with p_case_summary.
    enum:
      - ALL
      - CONTAINS
      - WITHIN
    in: query
    name: p_case_summary_type
    required: false
    type: string
  q.p_civil_criminal_indicator:
    description: |-
      Civil/Criminal Case Limiter.  Provide a keyword to limit results.
      - ANY = return both civil and criminal cases.
      - CI = return only civil cases.
      - CR = return only criminal cases.
    enum:
      - CI
      - CR
      - ALL
    in: query
    name: p_civil_criminal_indicator
    required: false
    type: string
  q.p_comp_act_val:
    description: |-
      Compliance Action Cost Limiter. Enter a keyword value to limit results to cases with given compliance cost amounts.
      - ANY = Cases with any compliance cost amount greater than zero.
      - LEXX = Replacing XX with a dollar value, return cases with compliance cost amount less than or equal to the given amount.
      - GTXX = Replacing XX with a dollar value, return cases with compliance cost amount greater than the given amount.
    enum:
      - ANY
      - LE5000
      - GT5000
      - GT100000
      - GT1000000
      - GT50000000
    in: query
    name: p_comp_act_val
    required: false
    type: string
  q.p_complying_actions:
    description: Complying Actions Type Code Limiter.  Enter one or more complying action codes to restrict results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_complying_actions
    required: false
    type: string
  q.p_cost_recovery:
    description: |-
      Cost Recovery Awarded Amount Limiter.  Enter a keyword value to limit results to cases with given cost recovery amounts.
      - ANY = Cases with any cost recovery amount greater than zero.
      - LEXX = Replacing XX with a dollar value, return cases with cost recovery amount less than or equal to the given amount.
      - GTXX = Replacing XX with a dollar value, return cases with cost recovery amount greater than the given amount.
    in: query
    name: p_cost_recovery
    required: false
    type: string
  q.p_court_docket_number:
    in: query
    name: p_court_docket_number
    required: false
    type: string
  q.p_cp_citation:
    description: Law Section Code Filter Alternative. Enter a single law section code to limit results.  This parameter accepts partial codes and allows for advanced search modifiers.
    in: query
    name: p_cp_citation
    required: false
    type: string
  q.p_district:
    description: Case Location Court District Limiter.  Enter a single state court district code to limit results.
    in: query
    name: p_district
    required: false
    type: string
  q.p_docket_number:
    description: DOJ Docket Number Filter.  Enter a single docket number or partial docket number to restrict results.  Use "%" as a wildcard for more complex filtering.
    in: query
    name: p_docket_number
    required: false
    type: string
  q.p_enf_program:
    description: "Enforcement Program Code Limiter.  Enter one or more enforcement program codes to limit results.  Provide multiple values as a comma-delimited list.  "
    in: query
    name: p_enf_program
    required: false
    type: string
  q.p_enf_type:
    description: Case Enforcement Type Filter. Enter one or more case enforcement type codes to limit results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_enf_type
    required: false
    type: string
  q.p_entered_date:
    description: Settlement Entered Date Limiter.  Enter a single settlement entered date in MM/DD/YYYY format to limit results.
    in: query
    name: p_entered_date
    required: false
    type: string
  q.p_fac_city:
    description: Case Facility City Limiter.  Enter a single complete city name to filter cases by facility location city.
    in: query
    name: p_fac_city
    required: false
    type: string
  q.p_fac_county:
    description: Case Facility County Limiter.  Enter a single complete county name to filter cases by facility location county name.
    in: query
    name: p_fac_county
    required: false
    type: string
  q.p_fac_zip:
    description: Case Facility ZIP Code Limiter.  Enter a single 5-digit zip code to filter cases by facility location zip code.
    in: query
    name: p_fac_zip
    required: false
    type: string
  q.p_facility_id:
    description: Case Facility Registration Identifier Limiter.  Enter a single complete facility identifier to limit results.
    in: query
    name: p_facility_id
    required: false
    type: string
  q.p_fed_case:
    description: Federal Facility Involvement Flag.  Enter a Y or N to include or exclude cases involving federal facilities.
    enum:
      - Y
      - N
    in: query
    name: p_fed_case
    required: false
    type: string
  q.p_fed_indicator:
    description: Federal Facility/Cross Media Flag.  Enter Y or N to limit results to cases with federal facility cross media.
    in: query
    name: p_fed_indicator
    required: false
    type: string
  q.p_fed_penalty:
    description: |-
      Federal Penalty Assessed Amount Filter.  Provide one of the following keywords to restrict results.
      - ANY = cases with any penalty amount.
      - LE5000 = cases with penalty amount less than or equal to $5,000.
      - GT5000 = cases with penalty amount more than $5,000.
      - GT50000 = cases with penalty amount more than $50,000.
      - GT100000 = cases with penalty amount more than $100,000.
      - GT500000 = cases with penalty amount more than $500,000.
      - GT1000000 = cases with penalty amount more than $1,000,000.
      - GT2500000 = cases with penalty amount more than $2,500,000.
    enum:
      - ANY
      - LE5000
      - GT5000
      - GT50000
      - GT100000
      - GT500000
      - GT1000000
      - GT2500000
    in: query
    name: p_fed_penalty
    required: false
    type: string
  q.p_fntype:
    description: |-
      Controls type of text search performed on facility name with parameter p_fn.
      - EXACT = Find facilities having the exact provided name(s).
      - BEGINS = Find facilities with names starting with the provided term(s).
      - ALL = Find facilities using Oracle text search terms.
      - CONTAINS = 
    enum:
      - ALL
      - CONTAINS
      - EXACT
      - BEGINS
    in: query
    name: p_fntype
    required: false
    type: string
  q.p_from_date:
    description: Administrative or Judicial Milestone Date Range Start Limiter.  Enter a date value in MM/DD/YYYY format to limit milestone results.  Parameter p_to_date must also be populated when using this parameter option.
    in: query
    name: p_from_date
    required: false
    type: string
  q.p_has_map:
    in: query
    name: p_has_map
    required: false
    type: string
  q.p_law:
    description: Law Statute Code Filter.  Enter a single statute code to limit results.
    in: query
    name: p_law
    required: false
    type: string
  q.p_lodged_date:
    description: Settlement Lodged Date Limiter.  Enter a single settlement lodged date in MM/DD/YYYY format to limit results.
    in: query
    name: p_lodged_date
    required: false
    type: string
  q.p_milestone:
    description: Administrative or Judicial Milestone Filter.  Enter one or milestone values to restrict results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_milestone
    required: false
    type: string
  q.p_milestone_fy:
    description: Administrative or Judicial Milestone Fiscal Year Limiter.  Enter a single fiscal year value to limit milestone searches to a given fiscal year.
    in: query
    name: p_milestone_fy
    required: false
    type: string
  q.p_multimedia:
    description: Enforcement Multimedia Case Flag.  Enter Y or N to include or exclude multimedia cases.
    enum:
      - Y
      - N
    in: query
    name: p_multimedia
    required: false
    type: string
  q.p_naics:
    description: North American Industry Classification System Filter. Enter two to six digits to filter results to facilities having matching NAICS codes.  Digits less than six will match to all codes beginning with the provided values.
    in: query
    name: p_naics
    required: false
    type: string
  q.p_naics_frs_flg:
    description: Case Location Extended FRS NAICS Search Flag.  Enter Y to expand NAICS search to include Federal Registry Service datasets.
    enum:
      - Y
      - N
    in: query
    name: p_naics_frs_flg
    required: false
    type: string
  q.p_naics_primary_flg:
    description: Case Location Primary NAICS Flag.  Enter Y to limit NAICS search results to primary NAICS codes only.
    enum:
      - Y
      - N
    in: query
    name: p_naics_primary_flg
    required: false
    type: string
  q.p_name:
    description: Case Name Filter.  Enter one or more case names to restrict results.  Provide multiple values as a comma-delimited list.  When using this parameter the p_name_type parameter is required.
    in: query
    name: p_name
    required: false
    type: string
  q.p_name_type:
    description: Case Name Filter Modifier.
    in: query
    name: p_name_type
    required: false
    type: string
  q.p_ocmap_fy:
    description: Fiscal Year to select cases that are displayed in the Office of Complicance Fiscal Year Map Services
    in: query
    name: p_ocmap_fy
    required: false
    type: string
  q.p_oeca_core:
    description: OECA Core Program Flag.  Enter Y or N to include or exclude core program cases.
    enum:
      - Y
      - N
    in: query
    name: p_oeca_core
    required: false
    type: string
  q.p_pretty_print:
    description: Optional flag to request GeoJSON formatted results to be pretty printed.  Only provide a numeric value when the output needs to be human readable as pretty printing has a performance cost.
    in: query
    name: p_pretty_print
    required: false
    type: number
  q.p_priority_area:
    description: Case Priority Area Filter.  Enter one or more case priority areas to limit results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_priority_area
    required: false
    type: string
  q.p_priority_area_desc:
    description: Case Priority Area Description Filter.  Enter a single case priority area description or partial case priority area description to limit results.  Use "%" as a wild-card match for more complex searches.
    in: query
    name: p_priority_area_desc
    required: false
    type: string
  q.p_qs:
    description: Quick Search. Allows entry for city, state, and/or zip code.
    in: query
    name: p_qs
    required: false
    type: string
  q.p_rank_order:
    description: Law Status Rank Order Limiter.  Enter a single integer rank order to limit results.
    enum:
      - "1"
      - "0"
    in: query
    name: p_rank_order
    required: false
    type: string
  q.p_region:
    description: EPA Region Filter. Provide a single value of 01 thru 10 to restrict results to a single EPA region.
    enum:
      - "01"
      - "02"
      - "03"
      - "04"
      - "05"
      - "06"
      - "07"
      - "08"
      - "09"
      - "10"
    in: query
    name: p_region
    required: false
    type: string
  q.p_role:
    description: Activity Contact Role Code Filter.  Enter a single role code to restrict results.
    in: query
    name: p_role
    required: false
    type: string
  q.p_section:
    description: Law Section Code Filter. Enter one or more law section codes to limit results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_section
    required: false
    type: string
  q.p_sep_cats:
    description: Supplemental Environmental Projects Activity Category Code Limiter.  Provide one or more SEP activity category codes to limit results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_sep_cats
    required: false
    type: string
  q.p_sep_val:
    description: |-
      Supplemental Environmental Projects Activity Value Limiter.  Provide a keyword to limit results.
      - ANY = return cases with any SEP activity amount.
      - LE10000 = return cases with SEP activity amount less than or equal to $10,000.
      - GT10000 = return cases with SEP activity amount greater than $10,000.
      - GT50000 = return cases with SEP activity amount greater than $50,000.
      - GT100000 = return cases with SEP activity amount greater than $100,000.
      - GT500000 = return cases with SEP activity amount greater than $500,000.
      - GT1000000 = return cases with SEP activity amount greater than $1,000,000.
    enum:
      - ANY
      - LE10000
      - GT10000
      - GT50000
      - GT100000
      - GT500000
      - GT1000000
    in: query
    name: p_sep_val
    required: false
    type: string
  q.p_sic:
    description: Standard Industrial Classification (SIC) Code Filter.  Enter a single 4-digit SIC Code to filter results.
    in: query
    name: p_sic
    required: false
    type: string
  q.p_sic_ao_naics:
    description: |-
      Case Location SIC/NAICS And/Or Modifier.  Enter either AND or OR to govern the search logic of SIC and NAICS codes.
      - AND = Search will return results having both the provided SIC code(s) and provided NAICS code(s).
      - OR = Search will return results having either the provided SIC code(s) or the provided NAICS code(s).
    enum:
      - AND
      - OR
    in: query
    name: p_sic_ao_naics
    required: false
    type: string
  q.p_sic_frs_flg:
    description: Case Location Extended FRS SIC Search Flag.  Enter Y to expand SIC search to include Federal Registry Service datasets.
    enum:
      - Y
      - N
    in: query
    name: p_sic_frs_flg
    required: false
    type: string
  q.p_sic_primary_flg:
    description: Case Location Primary SIC Flag.  Enter Y to limit SIC search results to primary SIC codes only.
    enum:
      - Y
      - N
    in: query
    name: p_sic_primary_flg
    required: false
    type: string
  q.p_state:
    description: Case Location State Filter.  Enter one or more state USPS postal codes to filter results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_state
    required: false
    type: string
  q.p_to_date:
    description: Administrative or Judicial Milestone Date Range End Limiter.  Enter a date value in MM/DD/YYYY format to limit milestone results.  Parameter p_from_date must also be populated when using this parameter option.
    in: query
    name: p_to_date
    required: false
    type: string
  q.p_total_comp_act_val:
    description: |-
      Total Compliance Action Amount Limiter.  Enter a keyword value to limit results to cases with given total compliance action amounts.
      - ANY = Cases with any total compliance action amount greater than zero.
      - LEXX = Replacing XX with a dollar value, return cases with total compliance action amount less than or equal to the given amount.
      - GTXX = Replacing XX with a dollar value, return cases with total compliance action amount greater than the given amount.
    in: query
    name: p_total_comp_act_val
    required: false
    type: string
  q.p_total_cost_recovery:
    description: |-
      Total Cost Recovery Amount Limiter.  Enter a keyword value to limit results to cases with given cost recovery amounts.
      - ANY = Cases with any cost recovery amount greater than zero.
      - LEXX = Replacing XX with a dollar value, return cases with cost recovery amount less than or equal to the given amount.
      - GTXX = Replacing XX with a dollar value, return cases with cost recovery amount greater than the given amount.
    in: query
    name: p_total_cost_recovery
    required: false
    type: string
  q.p_total_fed_penalty:
    description: |-
      Total Federal Penalty Limiter.  Enter a keyword value to limit results to cases with given total federal penalties.
      - ANY = Cases with any federal penalty greater than zero.
      - LEXX = Replacing XX with a dollar value, return cases with federal penalty less than or equal to the given amount.
      - GTXX = Replacing XX with a dollar value, return cases with federal penalty greater than the given amount.
    in: query
    name: p_total_fed_penalty
    required: false
    type: string
  q.p_total_sep_val:
    description: |-
      Supplemental Environmental Projects Total Value Limiter.  Provide a keyword to limit results.
      - ANY = return cases with any SEP total amount.
      - LE10000 = return cases with SEP total amount less than or equal to $10,000.
      - GT10000 = return cases with SEP total amount greater than $10,000.
      - GT50000 = return cases with SEP total amount greater than $50,000.
      - GT100000 = return cases with SEP total amount greater than $100,000.
      - GT500000 = return cases with SEP total amount greater than $500,000.
      - GT1000000 = return cases with SEP total amount greater than $1,000,000.
    in: query
    name: p_total_sep_val
    required: false
    type: string
  q.p_tribal:
    description: Case Location Tribal Land Flag.  Enter Y or N to include or disallow cases on tribal land.
    enum:
      - Y
      - N
    in: query
    name: p_tribal
    required: false
    type: string
  q.p_usmex:
    description: US-Mexico Border Flag.  Enter Y/N to restrict searches to facilities located within 100KM of the border.
    enum:
      - Y
      - N
    in: query
    name: p_usmex
    required: false
    type: string
  q.p_violation:
    description: Violation Type Code Filter.  Enter one or more violation type codes to limit results.  Provide multiple values as a comma-delimited list.
    in: query
    name: p_violation
    required: false
    type: string
  q.p_voluntary:
    description: Voluntary Self Disclosure Flag.  Enter Y or N to include or exclude cases results having voluntary disclosure.
    in: query
    name: p_voluntary
    required: false
    type: string
  q.pageno:
    default: 1
    description: Indicates the number of the page to display. It is used only when the results are paginated.
    in: query
    name: pageno
    required: false
    type: number
  q.qcolumns:
    description: Used to customize service output.  A list of comma-separated column IDs of output objects that will be returned in the service query object or download.  Use the metadata service endpoint for a complete list of Ids and definitions.
    in: query
    name: qcolumns
    required: false
    type: string
  q.qid:
    description: Query ID Selector.  Enter the QueryID number from a previously run query.
    in: query
    name: qid
    required: true
    type: string
  q.queryset:
    description: Query Limiter.  Enter a value to limit the number of records returned for each query. Value cannot exceed 70,000.
    in: query
    name: queryset
    required: false
    type: number
  q.responseset:
    description: Response Set Limiter. Enter a value to limit the number of records per page. Value cannot exceed 1,000.
    in: query
    name: responseset
    required: false
    type: number
  q.search_code:
    description: Enter a partial or complete code value.
    in: query
    name: search_code
    required: false
    type: string
  q.search_term:
    description: Enter a partial or complete search phrase or word.
    in: query
    name: search_term
    required: false
    type: string
  q.sort_order:
    in: query
    name: sort_order
    required: false
    type: number
  q.status_flag:
    in: query
    name: status_flag
    required: false
    type: string
  q.statute_code:
    in: query
    name: statute_code
    required: false
    type: string
  q.tablelist:
    description: Table List Flag. Enter a Y to display the first page of facility results.
    enum:
      - Y
      - N
    in: query
    name: tablelist
    required: false
    type: string
paths:
  /case_rest_services.get_case_info:
    get:
      description: The get_case_info service end point searches for civil enforcement and criminal cases based on the provided selection criteria and returns either individual cases or clusters of case facility locations.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.p_case_category"
        - $ref: "#/parameters/q.p_case_status"
        - $ref: "#/parameters/q.p_milestone"
        - $ref: "#/parameters/q.p_from_date"
        - $ref: "#/parameters/q.p_to_date"
        - $ref: "#/parameters/q.p_milestone_fy"
        - $ref: "#/parameters/q.p_name"
        - $ref: "#/parameters/q.p_name_type"
        - $ref: "#/parameters/q.p_case_number"
        - $ref: "#/parameters/q.p_docket_number"
        - $ref: "#/parameters/q.p_court_docket_number"
        - $ref: "#/parameters/q.p_activity_number"
        - $ref: "#/parameters/q.p_case_lead"
        - $ref: "#/parameters/q.p_case_sens_flg"
        - $ref: "#/parameters/q.p_region"
        - $ref: "#/parameters/q.p_state"
        - $ref: "#/parameters/q.p_district"
        - $ref: "#/parameters/q.p_sic"
        - $ref: "#/parameters/q.p_sic_ao_naics"
        - $ref: "#/parameters/q.p_sic_primary_flg"
        - $ref: "#/parameters/q.p_sic_frs_flg"
        - $ref: "#/parameters/q.p_naics"
        - $ref: "#/parameters/q.p_naics_primary_flg"
        - $ref: "#/parameters/q.p_naics_frs_flg"
        - $ref: "#/parameters/q.p_enf_type"
        - $ref: "#/parameters/q.p_law"
        - $ref: "#/parameters/q.p_section"
        - $ref: "#/parameters/q.p_cp_citation"
        - $ref: "#/parameters/q.p_rank_order"
        - $ref: "#/parameters/q.p_enf_program"
        - $ref: "#/parameters/q.p_violation"
        - $ref: "#/parameters/q.p_priority_area"
        - $ref: "#/parameters/q.p_priority_area_desc"
        - $ref: "#/parameters/q.p_tribal"
        - $ref: "#/parameters/q.p_oeca_core"
        - $ref: "#/parameters/q.p_multimedia"
        - $ref: "#/parameters/q.p_fed_case"
        - $ref: "#/parameters/q.p_activity_contact"
        - $ref: "#/parameters/q.p_role"
        - $ref: "#/parameters/q.p_fed_penalty"
        - $ref: "#/parameters/q.p_total_fed_penalty"
        - $ref: "#/parameters/q.p_cost_recovery"
        - $ref: "#/parameters/q.p_total_cost_recovery"
        - $ref: "#/parameters/q.p_complying_actions"
        - $ref: "#/parameters/q.p_comp_act_val"
        - $ref: "#/parameters/q.p_total_comp_act_val"
        - $ref: "#/parameters/q.p_sep_cats"
        - $ref: "#/parameters/q.p_sep_val"
        - $ref: "#/parameters/q.p_total_sep_val"
        - $ref: "#/parameters/q.p_lodged_date"
        - $ref: "#/parameters/q.p_entered_date"
        - $ref: "#/parameters/q.p_facility_id"
        - $ref: "#/parameters/q.p_fac_city"
        - $ref: "#/parameters/q.p_fac_zip"
        - $ref: "#/parameters/q.p_fac_county"
        - $ref: "#/parameters/q.p_case_summary"
        - $ref: "#/parameters/q.p_case_summary_type"
        - $ref: "#/parameters/q.p_usmex"
        - $ref: "#/parameters/q.p_c1lat"
        - $ref: "#/parameters/q.p_c1lon"
        - $ref: "#/parameters/q.p_c2lat"
        - $ref: "#/parameters/q.p_c2lon"
        - $ref: "#/parameters/q.p_voluntary"
        - $ref: "#/parameters/q.p_fed_indicator"
        - $ref: "#/parameters/q.p_fntype"
        - $ref: "#/parameters/q.p_civil_criminal_indicator"
        - $ref: "#/parameters/q.queryset"
        - $ref: "#/parameters/q.responseset"
        - $ref: "#/parameters/q.mapset"
        - $ref: "#/parameters/q.callback"
        - $ref: "#/parameters/q.qcolumns"
        - $ref: "#/parameters/q.p_pretty_print"
        - $ref: "#/parameters/q.p_ocmap_fy"
        - $ref: "#/parameters/q.p_qs"
        - $ref: "#/parameters/q.p_has_map"
      responses:
        "200":
          description: Returns an array of cases that meet the selection criteria.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/crs0_get_case_info.Results"
            required:
              - Results
            type: object
            xml:
              name: Case
      summary: Enforcement Case Search (new version)
      tags:
        - Case Enforcement
    post:
      description: The get_case_info service end point searches for civil enforcement and criminal cases based on the provided selection criteria and returns either individual cases or clusters of case facility locations.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: formData
          name: output
          required: false
          type: string
        - $ref: "#/parameters/f.p_case_category"
        - $ref: "#/parameters/f.p_case_status"
        - $ref: "#/parameters/f.p_milestone"
        - $ref: "#/parameters/f.p_from_date"
        - $ref: "#/parameters/f.p_to_date"
        - $ref: "#/parameters/f.p_milestone_fy"
        - $ref: "#/parameters/f.p_name"
        - $ref: "#/parameters/f.p_name_type"
        - $ref: "#/parameters/f.p_case_number"
        - $ref: "#/parameters/f.p_docket_number"
        - $ref: "#/parameters/f.p_court_docket_number"
        - $ref: "#/parameters/f.p_activity_number"
        - $ref: "#/parameters/f.p_case_lead"
        - $ref: "#/parameters/f.p_case_sens_flg"
        - $ref: "#/parameters/f.p_region"
        - $ref: "#/parameters/f.p_state"
        - $ref: "#/parameters/f.p_district"
        - $ref: "#/parameters/f.p_sic"
        - $ref: "#/parameters/f.p_sic_ao_naics"
        - $ref: "#/parameters/f.p_sic_primary_flg"
        - $ref: "#/parameters/f.p_sic_frs_flg"
        - $ref: "#/parameters/f.p_naics"
        - $ref: "#/parameters/f.p_naics_primary_flg"
        - $ref: "#/parameters/f.p_naics_frs_flg"
        - $ref: "#/parameters/f.p_enf_type"
        - $ref: "#/parameters/f.p_law"
        - $ref: "#/parameters/f.p_section"
        - $ref: "#/parameters/f.p_cp_citation"
        - $ref: "#/parameters/f.p_rank_order"
        - $ref: "#/parameters/f.p_enf_program"
        - $ref: "#/parameters/f.p_violation"
        - $ref: "#/parameters/f.p_priority_area"
        - $ref: "#/parameters/f.p_priority_area_desc"
        - $ref: "#/parameters/f.p_tribal"
        - $ref: "#/parameters/f.p_oeca_core"
        - $ref: "#/parameters/f.p_multimedia"
        - $ref: "#/parameters/f.p_fed_case"
        - $ref: "#/parameters/f.p_activity_contact"
        - $ref: "#/parameters/f.p_role"
        - $ref: "#/parameters/f.p_fed_penalty"
        - $ref: "#/parameters/f.p_total_fed_penalty"
        - $ref: "#/parameters/f.p_cost_recovery"
        - $ref: "#/parameters/f.p_total_cost_recovery"
        - $ref: "#/parameters/f.p_complying_actions"
        - $ref: "#/parameters/f.p_comp_act_val"
        - $ref: "#/parameters/f.p_total_comp_act_val"
        - $ref: "#/parameters/f.p_sep_cats"
        - $ref: "#/parameters/f.p_sep_val"
        - $ref: "#/parameters/f.p_total_sep_val"
        - $ref: "#/parameters/f.p_lodged_date"
        - $ref: "#/parameters/f.p_entered_date"
        - $ref: "#/parameters/f.p_facility_id"
        - $ref: "#/parameters/f.p_fac_city"
        - $ref: "#/parameters/f.p_fac_zip"
        - $ref: "#/parameters/f.p_fac_county"
        - $ref: "#/parameters/f.p_case_summary"
        - $ref: "#/parameters/f.p_case_summary_type"
        - $ref: "#/parameters/f.p_usmex"
        - $ref: "#/parameters/f.p_c1lat"
        - $ref: "#/parameters/f.p_c1lon"
        - $ref: "#/parameters/f.p_c2lat"
        - $ref: "#/parameters/f.p_c2lon"
        - $ref: "#/parameters/f.p_voluntary"
        - $ref: "#/parameters/f.p_fed_indicator"
        - $ref: "#/parameters/f.p_fntype"
        - $ref: "#/parameters/f.p_civil_criminal_indicator"
        - $ref: "#/parameters/f.queryset"
        - $ref: "#/parameters/f.responseset"
        - $ref: "#/parameters/f.mapset"
        - $ref: "#/parameters/f.callback"
        - $ref: "#/parameters/f.qcolumns"
        - $ref: "#/parameters/f.p_pretty_print"
        - $ref: "#/parameters/f.p_ocmap_fy"
        - $ref: "#/parameters/f.p_qs"
        - $ref: "#/parameters/f.p_has_map"
      responses:
        "200":
          description: Returns an array of cases that meet the selection criteria.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/crs0_get_case_info.Results"
            required:
              - Results
            type: object
            xml:
              name: Case
      summary: Enforcement Case Search (new version)
      tags:
        - Case Enforcement
  /case_rest_services.get_case_report:
    get:
      description: The get_case_report service endpoint returns a complex object of civil enforcement case details based on the provided case id.
      parameters:
        - description: Case Number. Enter the case number identifier to retrieve the case report.
          in: query
          name: p_id
          required: false
          type: string
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Returns a complex object containing detailed case information for the provided Case Identifier.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: "#/definitions/crs1_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Enforcement Case Summary Report Search
      tags:
        - Case Enforcement
    post:
      description: The get_case_report service endpoint returns a complex object of civil enforcement case details based on the provided case id.
      parameters:
        - description: Case Number. Enter the case number identifier to retrieve the case report.
          in: formData
          name: p_id
          required: false
          type: string
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: formData
          name: output
          required: false
          type: string
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns a complex object containing detailed case information for the provided Case Identifier.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: "#/definitions/crs1_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Enforcement Case Summary Report Search
      tags:
        - Case Enforcement
  /case_rest_services.get_cases:
    get:
      description: The get_cases service end point searches for civil enforcement and criminal cases based on the provided selection criteria.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.p_case_category"
        - $ref: "#/parameters/q.p_case_status"
        - $ref: "#/parameters/q.p_violation"
        - $ref: "#/parameters/q.p_milestone"
        - $ref: "#/parameters/q.p_from_date"
        - $ref: "#/parameters/q.p_to_date"
        - $ref: "#/parameters/q.p_milestone_fy"
        - $ref: "#/parameters/q.p_name"
        - $ref: "#/parameters/q.p_name_type"
        - $ref: "#/parameters/q.p_case_number"
        - $ref: "#/parameters/q.p_docket_number"
        - $ref: "#/parameters/q.p_court_docket_number"
        - $ref: "#/parameters/q.p_activity_number"
        - $ref: "#/parameters/q.p_case_lead"
        - $ref: "#/parameters/q.p_case_sens_flg"
        - $ref: "#/parameters/q.p_region"
        - $ref: "#/parameters/q.p_state"
        - $ref: "#/parameters/q.p_district"
        - $ref: "#/parameters/q.p_sic"
        - $ref: "#/parameters/q.p_sic_ao_naics"
        - $ref: "#/parameters/q.p_sic_primary_flg"
        - $ref: "#/parameters/q.p_sic_frs_flg"
        - $ref: "#/parameters/q.p_naics"
        - $ref: "#/parameters/q.p_naics_primary_flg"
        - $ref: "#/parameters/q.p_naics_frs_flg"
        - $ref: "#/parameters/q.p_enf_type"
        - $ref: "#/parameters/q.p_law"
        - $ref: "#/parameters/q.p_section"
        - $ref: "#/parameters/q.p_cp_citation"
        - $ref: "#/parameters/q.p_rank_order"
        - $ref: "#/parameters/q.p_enf_program"
        - $ref: "#/parameters/q.p_priority_area"
        - $ref: "#/parameters/q.p_priority_area_desc"
        - $ref: "#/parameters/q.p_tribal"
        - $ref: "#/parameters/q.p_oeca_core"
        - $ref: "#/parameters/q.p_multimedia"
        - $ref: "#/parameters/q.p_fed_case"
        - $ref: "#/parameters/q.p_activity_contact"
        - $ref: "#/parameters/q.p_role"
        - $ref: "#/parameters/q.p_fed_penalty"
        - $ref: "#/parameters/q.p_total_fed_penalty"
        - $ref: "#/parameters/q.p_cost_recovery"
        - $ref: "#/parameters/q.p_total_cost_recovery"
        - $ref: "#/parameters/q.p_complying_actions"
        - $ref: "#/parameters/q.p_comp_act_val"
        - $ref: "#/parameters/q.p_total_comp_act_val"
        - $ref: "#/parameters/q.p_sep_cats"
        - $ref: "#/parameters/q.p_sep_val"
        - $ref: "#/parameters/q.p_total_sep_val"
        - $ref: "#/parameters/q.p_lodged_date"
        - $ref: "#/parameters/q.p_entered_date"
        - $ref: "#/parameters/q.p_facility_id"
        - $ref: "#/parameters/q.p_fac_city"
        - $ref: "#/parameters/q.p_fac_zip"
        - $ref: "#/parameters/q.p_fac_county"
        - $ref: "#/parameters/q.p_case_summary"
        - $ref: "#/parameters/q.p_case_summary_type"
        - $ref: "#/parameters/q.p_usmex"
        - $ref: "#/parameters/q.p_c1lat"
        - $ref: "#/parameters/q.p_c1lon"
        - $ref: "#/parameters/q.p_c2lat"
        - $ref: "#/parameters/q.p_c2lon"
        - $ref: "#/parameters/q.p_voluntary"
        - $ref: "#/parameters/q.p_fed_indicator"
        - $ref: "#/parameters/q.p_fntype"
        - $ref: "#/parameters/q.p_civil_criminal_indicator"
        - $ref: "#/parameters/q.queryset"
        - $ref: "#/parameters/q.responseset"
        - $ref: "#/parameters/q.maplist"
        - $ref: "#/parameters/q.tablelist"
        - $ref: "#/parameters/q.callback"
        - $ref: "#/parameters/q.qcolumns"
        - $ref: "#/parameters/q.p_ocmap_fy"
        - $ref: "#/parameters/q.p_qs"
        - $ref: "#/parameters/q.p_has_map"
      responses:
        "200":
          description: Returns an array of cases that meet the selection criteria.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: "#/definitions/crs2_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Enforcement Case Search
      tags:
        - Case Enforcement
    post:
      description: The get_cases service end point searches for civil enforcement and criminal cases based on the provided selection criteria.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: formData
          name: output
          required: false
          type: string
        - $ref: "#/parameters/f.p_case_category"
        - $ref: "#/parameters/f.p_case_status"
        - $ref: "#/parameters/f.p_milestone"
        - $ref: "#/parameters/f.p_from_date"
        - $ref: "#/parameters/f.p_to_date"
        - $ref: "#/parameters/f.p_milestone_fy"
        - $ref: "#/parameters/f.p_name"
        - $ref: "#/parameters/f.p_name_type"
        - $ref: "#/parameters/f.p_case_number"
        - $ref: "#/parameters/f.p_docket_number"
        - $ref: "#/parameters/f.p_court_docket_number"
        - $ref: "#/parameters/f.p_activity_number"
        - $ref: "#/parameters/f.p_case_lead"
        - $ref: "#/parameters/f.p_case_sens_flg"
        - $ref: "#/parameters/f.p_region"
        - $ref: "#/parameters/f.p_state"
        - $ref: "#/parameters/f.p_district"
        - $ref: "#/parameters/f.p_sic"
        - $ref: "#/parameters/f.p_sic_ao_naics"
        - $ref: "#/parameters/f.p_sic_primary_flg"
        - $ref: "#/parameters/f.p_sic_frs_flg"
        - $ref: "#/parameters/f.p_naics"
        - $ref: "#/parameters/f.p_naics_primary_flg"
        - $ref: "#/parameters/f.p_naics_frs_flg"
        - $ref: "#/parameters/f.p_enf_type"
        - $ref: "#/parameters/f.p_law"
        - $ref: "#/parameters/f.p_section"
        - $ref: "#/parameters/f.p_cp_citation"
        - $ref: "#/parameters/f.p_rank_order"
        - $ref: "#/parameters/f.p_enf_program"
        - $ref: "#/parameters/f.p_violation"
        - $ref: "#/parameters/f.p_priority_area"
        - $ref: "#/parameters/f.p_priority_area_desc"
        - $ref: "#/parameters/f.p_tribal"
        - $ref: "#/parameters/f.p_oeca_core"
        - $ref: "#/parameters/f.p_multimedia"
        - $ref: "#/parameters/f.p_fed_case"
        - $ref: "#/parameters/f.p_activity_contact"
        - $ref: "#/parameters/f.p_role"
        - $ref: "#/parameters/f.p_fed_penalty"
        - $ref: "#/parameters/f.p_total_fed_penalty"
        - $ref: "#/parameters/f.p_cost_recovery"
        - $ref: "#/parameters/f.p_total_cost_recovery"
        - $ref: "#/parameters/f.p_complying_actions"
        - $ref: "#/parameters/f.p_comp_act_val"
        - $ref: "#/parameters/f.p_total_comp_act_val"
        - $ref: "#/parameters/f.p_sep_cats"
        - $ref: "#/parameters/f.p_sep_val"
        - $ref: "#/parameters/f.p_total_sep_val"
        - $ref: "#/parameters/f.p_lodged_date"
        - $ref: "#/parameters/f.p_entered_date"
        - $ref: "#/parameters/f.p_facility_id"
        - $ref: "#/parameters/f.p_fac_city"
        - $ref: "#/parameters/f.p_fac_zip"
        - $ref: "#/parameters/f.p_fac_county"
        - $ref: "#/parameters/f.p_case_summary"
        - $ref: "#/parameters/f.p_case_summary_type"
        - $ref: "#/parameters/f.p_usmex"
        - $ref: "#/parameters/f.p_c1lat"
        - $ref: "#/parameters/f.p_c1lon"
        - $ref: "#/parameters/f.p_c2lat"
        - $ref: "#/parameters/f.p_c2lon"
        - $ref: "#/parameters/f.p_voluntary"
        - $ref: "#/parameters/f.p_fed_indicator"
        - $ref: "#/parameters/f.p_fntype"
        - $ref: "#/parameters/f.p_civil_criminal_indicator"
        - $ref: "#/parameters/f.queryset"
        - $ref: "#/parameters/f.responseset"
        - $ref: "#/parameters/f.maplist"
        - $ref: "#/parameters/f.tablelist"
        - $ref: "#/parameters/f.callback"
        - $ref: "#/parameters/f.qcolumns"
        - $ref: "#/parameters/f.p_ocmap_fy"
        - $ref: "#/parameters/f.p_qs"
        - $ref: "#/parameters/f.p_has_map"
      responses:
        "200":
          description: Returns an array of cases that meet the selection criteria.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: "#/definitions/crs2_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Enforcement Case Search
      tags:
        - Case Enforcement
  /case_rest_services.get_cases_from_facility:
    get:
      parameters:
        - description: Identifier for the service.
          in: query
          name: p_id
          required: true
          type: string
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Results
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/crs0_get_cases_from_facility.Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Placeholder
      tags:
        - Case Enforcement
    post:
      parameters:
        - description: Identifier for the service.
          in: query
          name: p_id
          required: true
          type: string
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Results
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/crs0_get_cases_from_facility.Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Placeholder
      tags:
        - Case Enforcement
  /case_rest_services.get_crcase_report:
    get:
      description: The get_crcase_report service end point returns a complex object of criminal case detials based on the provided criminal case id.
      parameters:
        - description: Prosecution Summary Identifier. Enter the numeric prosecution summary identifier to retrieve the criminal case report.
          in: query
          name: p_id
          required: false
          type: string
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.callback"
        - $ref: "#/parameters/q.mapset"
      responses:
        "200":
          description: Returns a complex object containing detailed criminal case information for the provided Case Identifier.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: "#/definitions/crs3_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Enforcement Criminal Case Summary Report Search
      tags:
        - Case Enforcement
    post:
      description: The get_crcase_report service end point returns a complex object of criminal case detials based on the provided criminal case id.
      parameters:
        - description: Prosecution Summary Identifier. Enter the numeric prosecution summary identifier to retrieve the criminal case report.
          in: formData
          name: p_id
          required: false
          type: string
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: formData
          name: output
          required: false
          type: string
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Returns a complex object containing detailed criminal case information for the provided Case Identifier.
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: "#/definitions/crs3_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Enforcement Criminal Case Summary Report Search
      tags:
        - Case Enforcement
  /case_rest_services.get_download:
    get:
      description: Based on the QID obtained from a get_cases query, return a comma separated value (CSV) file of the cases found.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - CSV = Facility results formatted as comma delimited file download (default).
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.qid"
        - $ref: "#/parameters/q.qcolumns"
      responses:
        "200":
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Enforcement Case Download Data Service
      tags:
        - Case Enforcement
    post:
      description: Based on the QID obtained from a get_cases query, return a comma separated value (CSV) file of the cases found.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - CSV = Facility results formatted as comma delimited file download (default).
          in: formData
          name: output
          required: false
          type: string
        - $ref: "#/parameters/f.qid"
        - $ref: "#/parameters/f.qcolumns"
      responses:
        "200":
          description: Results are a comma separated value (CSV) file.
          schema:
            type: file
      summary: Enforcement Case Download Data Service
      tags:
        - Case Enforcement
  /case_rest_services.get_facilities_from_case:
    get:
      parameters:
        - description: Identifier for the service.
          in: query
          name: p_id
          required: true
          type: string
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Results
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/crs0_get_facilities_from_case.Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Placeholder
      tags:
        - Case Enforcement
    post:
      parameters:
        - description: Identifier for the service.
          in: query
          name: p_id
          required: true
          type: string
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Results
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/crs0_get_facilities_from_case.Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Placeholder
      tags:
        - Case Enforcement
  /case_rest_services.get_map:
    get:
      description: The purpose of the GET_MAP service is to display facility coordinates and facility clusters related to a get_cases query. Currently, the maximum number of coordinates returned is 500. GET_MAP performs automatic clustering at the state, county, and zip code levels to maximize the number of coordinates returned.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.qid"
        - $ref: "#/parameters/q.callback"
        - $ref: "#/parameters/q.tablelist"
        - $ref: "#/parameters/q.c1_lat"
        - $ref: "#/parameters/q.c1_long"
        - $ref: "#/parameters/q.c2_lat"
        - $ref: "#/parameters/q.c2_long"
      responses:
        "200":
          description: Results are either an array of State, County, Zip Code facility cluster map coordinates or individual facility coordinates.  Coordinates provided are in WGS84.
          schema:
            description: Service call container.
            properties:
              MapOutput:
                $ref: "#/definitions/crs0_MapOutput"
            required:
              - MapOutput
            type: object
            xml:
              name: Root
      summary: Enforcement Case Map Service
      tags:
        - Case Enforcement
    post:
      description: The purpose of the GET_MAP service is to display facility coordinates and facility clusters related to a get_cases query. Currently, the maximum number of coordinates returned is 500. GET_MAP performs automatic clustering at the state, county, and zip code levels to maximize the number of coordinates returned.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: formData
          name: output
          required: false
          type: string
        - $ref: "#/parameters/f.qid"
        - $ref: "#/parameters/f.callback"
        - $ref: "#/parameters/f.tablelist"
        - $ref: "#/parameters/f.c1_lat"
        - $ref: "#/parameters/f.c1_long"
        - $ref: "#/parameters/f.c2_lat"
        - $ref: "#/parameters/f.c2_long"
        - $ref: "#/parameters/f.mapset"
      responses:
        "200":
          description: Results are either an array of State, County, Zip Code facility cluster map coordinates or individual facility coordinates.  Coordinates provided are in WGS84.
          schema:
            description: Service call container.
            properties:
              MapOutput:
                $ref: "#/definitions/crs0_MapOutput"
            required:
              - MapOutput
            type: object
            xml:
              name: Root
      summary: Enforcement Case Map Service
      tags:
        - Case Enforcement
  /case_rest_services.get_qid:
    get:
      description: "GET_QID is passed with a query ID corresponding to a previously run get_cases query. It then returns a CASES object containing all matching cases. The main purpose of GET_QID is for large querysets that contain multiple pages (responsesets) of output. GET_QID allows for pagination and for the selection and sorting of columns. "
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.qid"
        - $ref: "#/parameters/q.pageno"
        - $ref: "#/parameters/q.callback"
        - $ref: "#/parameters/q.newsort"
        - $ref: "#/parameters/q.descending"
        - $ref: "#/parameters/q.qcolumns"
      responses:
        "200":
          description: Results are an array (page)  of Cases from ICIS with the number of cases equal to the responseset (page size).
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: "#/definitions/crs5_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Enforcement Case Paginated Results Service
      tags:
        - Case Enforcement
    post:
      description: "GET_QID is passed with a query ID corresponding to a previously run get_cases query. It then returns a CASES object containing all matching cases. The main purpose of GET_QID is for large querysets that contain multiple pages (responsesets) of output. GET_QID allows for pagination and for the selection and sorting of columns. "
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: formData
          name: output
          required: false
          type: string
        - $ref: "#/parameters/f.qid"
        - $ref: "#/parameters/f.pageno"
        - $ref: "#/parameters/f.callback"
        - $ref: "#/parameters/f.newsort"
        - $ref: "#/parameters/f.descending"
        - $ref: "#/parameters/f.qcolumns"
      responses:
        "200":
          description: Results are an array (page)  of Cases from ICIS with the number of cases equal to the responseset (page size).
          schema:
            description: Service call container.
            properties:
              Results:
                $ref: "#/definitions/crs5_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Enforcement Case Paginated Results Service
      tags:
        - Case Enforcement
  /case_rest_services.metadata:
    get:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_cases endpoint.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.callback"
      responses:
        "200":
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/met1"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Enforcement Case Metadata Service
      tags:
        - Metadata
    post:
      description: Returns the JSON Object Name and ColumnId for usage with the qcolumns parameter for get_cases endpoint.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: formData
          name: output
          required: false
          type: string
        - $ref: "#/parameters/f.callback"
      responses:
        "200":
          description: Results are an array of columns/objects.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/met1"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: Enforcement Case Metadata Service
      tags:
        - Metadata
  /rest_lookups.icis_law_sections:
    get:
      description: Returns the ICIS Law Section Descriptions.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: query
          name: output
          required: false
          type: string
        - $ref: "#/parameters/q.callback"
        - $ref: "#/parameters/q.statute_code"
        - $ref: "#/parameters/q.status_flag"
        - $ref: "#/parameters/q.search_term"
        - $ref: "#/parameters/q.search_code"
        - $ref: "#/parameters/q.sort_order"
      responses:
        "200":
          description: Returns an array of icis_inspection_types codes and their description. If search term or search code is  not provided, all values are returned.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/rlk51_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: ECHO ICIS Law Sections Lookup Service
      tags:
        - Lookups
    post:
      description: Returns the ICIS Law Section Descriptions.
      parameters:
        - description: |-
            Output Format Flag.  Enter one of the following keywords:
            - JSON = Data model formatted as Javascript Object Notation (default).
            - JSONP = Data model formatted as Javascript Object Notation with Padding.  
            - XML = Data model formatted as Extensible Markup Language.
          enum:
            - JSONP
            - JSON
            - XML
          in: formData
          name: output
          required: false
          type: string
        - $ref: "#/parameters/f.callback"
        - $ref: "#/parameters/f.statute_code"
        - $ref: "#/parameters/f.status_flag"
        - $ref: "#/parameters/f.search_term"
        - $ref: "#/parameters/f.search_code"
        - $ref: "#/parameters/f.sort_order"
      responses:
        "200":
          description: Returns an array of icis_inspection_types codes and their description. If search term or search code is  not provided, all values are returned.
          schema:
            description: Root Object
            properties:
              Results:
                $ref: "#/definitions/rlk51_Results"
            required:
              - Results
            type: object
            xml:
              name: Root
      summary: ECHO ICIS Law Sections Lookup Service
      tags:
        - Lookups
definitions:
  crs0_Cases:
    description: A summary of the violation(s), environmental problem(s), and a description of the cause of action.
    properties:
      ActivityId:
        description: The unique, system-generated identifier for an activity performed at or related to a particular site or Facility.
        example: ???
        title: Activity ID
        type: string
      CaaFlag:
        description: A flag indicating that the Primary Law cited for the case was the Clean Air Act.
        example: "1"
        title: CAA Flag
        type: string
      CaseCategoryCode:
        description: "A three-character code that identifies the type of ICIS activity, which includes general categories such as information requests, inspections, compliance determinations, and enforcement.  Activities selected for the ECHO data download are restricted to two subcategories of enforcement:  administrative – formal (AFR), and judicial activities (JDC)."
        example: AIF
        title: Case Category Code
        type: string
      CaseCategoryDesc:
        description: |-
          Identifies the type of action based on the enforcement authority used.  

          Administrative Formal Cases are non-judicial enforcement actions taken by EPA or a state under its own authority, without involving a judicial court process. An administrative action by EPA or a state agency may be in the form of:
          - A notice of violation or a Superfund notice letter.
          -> An administrative order or order (either with or without penalties) directing an individual, a business, or other entity to take action to come into compliance, or to clean up a site.

          Judicial Cases are formal lawsuits, filed in court, against persons or entities that have failed to comply with statutory or regulatory requirements, with an administrative order, or who owe EPA response costs for cleaning up a Superfund site. These cases are filed by the U.S. Department of Justice on behalf of EPA and, in regulatory cases, by the State's Attorneys General for the states as well.

          Criminal Cases occur when EPA or a state enforce against a company or person through a criminal action. Criminal actions are usually reserved for the most serious violations, those that are willful, or knowingly committed. A court conviction can result in fines or imprisonment.
        example: Administrative - Informal
        title: Case Category Description
        type: string
      CaseName:
        description: |-
[...]
