openapi: 3.0.0
servers:
  - url: https://abusiveexperiencereport.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Views Abusive Experience Report data, and gets a list of sites that have a significant number of abusive experiences.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Abusive Experience Report API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: google
      url: https://abusiveexperiencereport.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: abusiveexperiencereport
externalDocs:
  url: https://developers.google.com/abusive-experience-report/
tags:
  - name: sites
  - name: violatingSites
paths:
  /v1/violatingSites:
    get:
      description: Lists sites that are failing in the Abusive Experience Report.
      operationId: abusiveexperiencereport.violatingSites.list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ViolatingSitesResponse"
          description: Successful response
      tags:
        - violatingSites
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}":
    get:
      description: Gets a site's Abusive Experience Report summary.
      operationId: abusiveexperiencereport.sites.get
      parameters:
        - description: "Required. The name of the site whose summary to get, e.g. `sites/http%3A%2F%2Fwww.google.com%2F`. Format: `sites/{site}`"
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteSummaryResponse"
          description: Successful response
      tags:
        - sites
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    SiteSummaryResponse:
      description: Response message for GetSiteSummary.
      properties:
        abusiveStatus:
          description: The site's Abusive Experience Report status.
          enum:
            - UNKNOWN
            - PASSING
            - FAILING
          type: string
        enforcementTime:
          description: The time at which [enforcement](https://support.google.com/webtools/answer/7538608) against the site began or will begin. Not set when the filter_status is OFF.
          format: google-datetime
          type: string
        filterStatus:
          description: The site's [enforcement status](https://support.google.com/webtools/answer/7538608).
          enum:
            - UNKNOWN
            - ON
            - OFF
            - PAUSED
            - PENDING
          type: string
        lastChangeTime:
          description: The time at which the site's status last changed.
          format: google-datetime
          type: string
        reportUrl:
          description: A link to the full Abusive Experience Report for the site. Not set in ViolatingSitesResponse. Note that you must complete the [Search Console verification process](https://support.google.com/webmasters/answer/9008080) for the site before you can access the full report.
          type: string
        reviewedSite:
          description: The name of the reviewed site, e.g. `google.com`.
          type: string
        underReview:
          description: Whether the site is currently under review.
          type: boolean
      type: object
    ViolatingSitesResponse:
      description: Response message for ListViolatingSites.
      properties:
        violatingSites:
          description: The list of violating sites.
          items:
            $ref: "#/components/schemas/SiteSummaryResponse"
          type: array
      type: object
