swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: Describes the Azure SQL capabilities available to a subscription for a given location.
  title: Azure SQL Database capabilities
  version: 2014-04-01
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/sql/resource-manager/Microsoft.Sql/stable/2014-04-01/capabilities.json
      version: "2.0"
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: sql-capabilities
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
parameters:
  ServerNameParameter:
    description: The name of the server.
    in: path
    name: serverName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  "/subscriptions/{subscriptionId}/providers/Microsoft.Sql/locations/{locationId}/capabilities":
    get:
      description: Gets the capabilities available for the specified location.
      operationId: Capabilities_ListByLocation
      parameters:
        - description: The API version to use for the request.
          in: query
          name: api-version
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The subscription ID that identifies an Azure subscription.
          in: path
          name: subscriptionId
          required: true
          type: string
          x-ms-parameter-location: client
        - description: The location id whose capabilities are retrieved.
          in: path
          name: locationId
          required: true
          type: string
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/LocationCapabilities"
      tags:
        - Capabilities
      x-ms-examples:
        Get location capabilities:
          parameters:
            api-version: 2014-04-01
            locationId: eastus2euap
            subscriptionId: 00000000-1111-2222-3333-444444444444
          responses:
            "200":
              body:
                name: East US 2 EUAP
                status: Available
                supportedServerVersions:
                  - name: "12.0"
                    status: Default
                    supportedEditions:
                      - name: System
                        status: Visible
                        supportedServiceLevelObjectives:
                          - id: 26e021db-f1f9-4c98-84c6-92af8ef433d7
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System
                            performanceLevel:
                              unit: DTU
                              value: 0
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                status: Visible
                                unit: Gigabytes
                          - id: 29dd7459-4a7c-4e56-be22-f0adda49440d
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System0
                            performanceLevel:
                              unit: DTU
                              value: 0
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                status: Visible
                                unit: Gigabytes
                          - id: c99ac918-dbea-463f-a475-16ec020fdc12
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System1
                            performanceLevel:
                              unit: DTU
                              value: 0
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                status: Visible
                                unit: Gigabytes
                          - id: 620323bf-2879-4807-b30d-c2e6d7b3b3aa
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System2
                            performanceLevel:
                              unit: DTU
                              value: 0
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                status: Visible
                                unit: Gigabytes
                          - id: 33d0db1f-6893-4210-99f9-463fb9b496a4
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System3
                            performanceLevel:
                              unit: DTU
                              value: 0
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                status: Visible
                                unit: Gigabytes
                          - id: da24338c-a6c9-46c2-a4bf-4ac95b496ae4
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System4
                            performanceLevel:
                              unit: DTU
                              value: 0
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                status: Visible
                                unit: Gigabytes
                          - id: 53f7fa1b-b0d0-43d6-bc29-c5f059fb36e9
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System2L
                            performanceLevel:
                              unit: DTU
                              value: 0
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                status: Visible
                                unit: Gigabytes
                          - id: e79cd55c-689f-48d9-bffa-0dd12c772248
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System3L
                            performanceLevel:
                              unit: DTU
                              value: 0
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                status: Visible
                                unit: Gigabytes
                          - id: 4b37bb6d-e004-47ac-8f7a-be56ac9fb490
                            includedMaxSize:
                              limit: 30720
                              status: Available
                              unit: Megabytes
                            name: System4L
                            performanceLevel:
                              unit: DTU
                              value: 0
                            status: Visible
                            supportedMaxSizes:
                              - limit: 5
                                status: Visible
                                unit: Gigabytes
                              - limit: 30
                                status: Visible
                                unit: Gigabytes
                      - name: Free
                        status: Available
                        supportedServiceLevelObjectives:
                          - id: 6aa3bb3e-7f50-40d6-95ef-5497c30d99d8
                            includedMaxSize:
                              limit: 32
                              status: Available
                              unit: Megabytes
                            name: Free
                            performanceLevel:
                              unit: DTU
                              value: 5
                            status: Default
                            supportedMaxSizes:
                              - limit: 32
                                status: Default
                                unit: Megabytes
                      - name: Basic
                        status: Available
                        supportedServiceLevelObjectives:
                          - id: dd6d99bb-f193-4ec1-86f2-43d3bccbc49c
                            includedMaxSize:
                              limit: 2048
                              status: Available
                              unit: Megabytes
                            name: Basic
                            performanceLevel:
                              unit: DTU
                              value: 5
                            status: Default
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Default
                                unit: Gigabytes
                      - name: Standard
                        status: Default
                        supportedServiceLevelObjectives:
                          - id: f1173c43-91bd-4aaa-973c-54e79e15235b
                            includedMaxSize:
                              limit: 256000
                              status: Available
                              unit: Megabytes
                            name: S0
                            performanceLevel:
                              unit: DTU
                              value: 10
                            status: Default
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Default
                                unit: Gigabytes
                          - id: 1b1ebd4d-d903-4baa-97f9-4ea675f5e928
                            includedMaxSize:
                              limit: 256000
                              status: Available
                              unit: Megabytes
                            name: S1
                            performanceLevel:
                              unit: DTU
                              value: 20
                            status: Available
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Default
                                unit: Gigabytes
                          - id: 455330e1-00cd-488b-b5fa-177c226f28b7
                            includedMaxSize:
                              limit: 256000
                              status: Available
                              unit: Megabytes
                            name: S2
                            performanceLevel:
                              unit: DTU
                              value: 50
                            status: Available
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Default
                                unit: Gigabytes
                          - id: 789681b8-ca10-4eb0-bdf2-e0b050601b40
                            includedMaxSize:
                              limit: 256000
                              status: Available
                              unit: Megabytes
                            name: S3
                            performanceLevel:
                              unit: DTU
                              value: 100
                            status: Available
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Default
                                unit: Gigabytes
                      - name: Premium
                        status: Available
                        supportedServiceLevelObjectives:
                          - id: 7203483a-c4fb-4304-9e9f-17c71c904f5d
                            includedMaxSize:
                              limit: 512000
                              status: Available
                              unit: Megabytes
                            name: P1
                            performanceLevel:
                              unit: DTU
                              value: 125
                            status: Default
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 300
                                status: Available
                                unit: Gigabytes
                              - limit: 400
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Default
                                unit: Gigabytes
                          - id: a7d1b92d-c987-4375-b54d-2b1d0e0f5bb0
                            includedMaxSize:
                              limit: 512000
                              status: Available
                              unit: Megabytes
                            name: P2
                            performanceLevel:
                              unit: DTU
                              value: 250
                            status: Available
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 300
                                status: Available
                                unit: Gigabytes
                              - limit: 400
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Default
                                unit: Gigabytes
                          - id: afe1eee1-1f12-4e5f-9ad6-2de9c12cb4dc
                            includedMaxSize:
                              limit: 512000
                              status: Available
                              unit: Megabytes
                            name: P4
                            performanceLevel:
                              unit: DTU
                              value: 500
                            status: Available
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 300
                                status: Available
                                unit: Gigabytes
                              - limit: 400
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Default
                                unit: Gigabytes
                          - id: 43940481-9191-475a-9dba-6b505615b9aa
                            includedMaxSize:
                              limit: 512000
                              status: Available
                              unit: Megabytes
                            name: P6
                            performanceLevel:
                              unit: DTU
                              value: 1000
                            status: Available
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 300
                                status: Available
                                unit: Gigabytes
                              - limit: 400
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Default
                                unit: Gigabytes
                          - id: dd00d544-bbc0-4f61-ba60-cdce0c410288
                            includedMaxSize:
                              limit: 512000
                              status: Available
                              unit: Megabytes
                            name: P11
                            performanceLevel:
                              unit: DTU
                              value: 1750
                            status: Available
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 300
                                status: Available
                                unit: Gigabytes
                              - limit: 400
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Default
                                unit: Terabytes
                          - id: 5bc86cca-9a96-4a94-90ef-bbdfcfbf2d71
                            includedMaxSize:
                              limit: 512000
                              status: Available
                              unit: Megabytes
                            name: P15
                            performanceLevel:
                              unit: DTU
                              value: 4000
                            status: Available
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 300
                                status: Available
                                unit: Gigabytes
                              - limit: 400
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Default
                                unit: Terabytes
                      - name: PremiumRS
                        status: Available
                        supportedServiceLevelObjectives:
                          - id: dfdc102c-ed02-4349-9756-e227f0e43bb8
                            includedMaxSize:
                              limit: 512000
                              status: Available
                              unit: Megabytes
                            name: PRS1
                            performanceLevel:
                              unit: DTU
                              value: 125
                            status: Default
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 300
                                status: Available
                                unit: Gigabytes
                              - limit: 400
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Default
                                unit: Gigabytes
                          - id: a089506e-b47a-4f42-8a32-cc19af4c86fb
                            includedMaxSize:
                              limit: 512000
                              status: Available
                              unit: Megabytes
                            name: PRS2
                            performanceLevel:
                              unit: DTU
                              value: 250
                            status: Available
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 300
                                status: Available
                                unit: Gigabytes
                              - limit: 400
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Default
                                unit: Gigabytes
                          - id: 39cb8faf-cba8-4b1b-b580-1e1202f2a024
                            includedMaxSize:
                              limit: 512000
                              status: Available
                              unit: Megabytes
                            name: PRS4
                            performanceLevel:
                              unit: DTU
                              value: 500
                            status: Available
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 300
                                status: Available
                                unit: Gigabytes
                              - limit: 400
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Default
                                unit: Gigabytes
                          - id: 1e8da92e-efcd-4682-9140-bf6582120d1f
                            includedMaxSize:
                              limit: 512000
                              status: Available
                              unit: Megabytes
                            name: PRS6
                            performanceLevel:
                              unit: DTU
                              value: 1000
                            status: Available
                            supportedMaxSizes:
                              - limit: 100
                                status: Available
                                unit: Megabytes
                              - limit: 500
                                status: Available
                                unit: Megabytes
                              - limit: 1
                                status: Available
                                unit: Gigabytes
                              - limit: 2
                                status: Available
                                unit: Gigabytes
                              - limit: 5
                                status: Available
                                unit: Gigabytes
                              - limit: 10
                                status: Available
                                unit: Gigabytes
                              - limit: 20
                                status: Available
                                unit: Gigabytes
                              - limit: 30
                                status: Available
                                unit: Gigabytes
                              - limit: 40
                                status: Available
                                unit: Gigabytes
                              - limit: 50
                                status: Available
                                unit: Gigabytes
                              - limit: 100
                                status: Available
                                unit: Gigabytes
                              - limit: 150
                                status: Available
                                unit: Gigabytes
                              - limit: 200
                                status: Available
                                unit: Gigabytes
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 300
                                status: Available
                                unit: Gigabytes
                              - limit: 400
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Default
                                unit: Gigabytes
                      - name: DataWarehouse
                        status: Available
                        supportedServiceLevelObjectives:
                          - id: 4e63cb0e-91b9-46fd-b05c-51fdd2367618
                            includedMaxSize:
                              limit: 251658240
                              status: Available
                              unit: Megabytes
                            name: DW100
                            performanceLevel:
                              unit: DTU
                              value: 750
                            status: Default
                            supportedMaxSizes:
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Available
                                unit: Terabytes
                              - limit: 5
                                status: Available
                                unit: Terabytes
                              - limit: 10
                                status: Default
                                unit: Terabytes
                              - limit: 20
                                status: Available
                                unit: Terabytes
                              - limit: 30
                                status: Available
                                unit: Terabytes
                              - limit: 40
                                status: Available
                                unit: Terabytes
                              - limit: 50
                                status: Available
                                unit: Terabytes
                              - limit: 60
                                status: Available
                                unit: Terabytes
                              - limit: 70
                                status: Available
                                unit: Terabytes
                              - limit: 80
                                status: Available
                                unit: Terabytes
                              - limit: 90
                                status: Available
                                unit: Terabytes
                              - limit: 100
                                status: Available
                                unit: Terabytes
                              - limit: 150
                                status: Available
                                unit: Terabytes
                              - limit: 200
                                status: Available
                                unit: Terabytes
                              - limit: 240
                                status: Available
                                unit: Terabytes
                          - id: 99e78a92-d724-4e1b-857b-2be661f3d153
                            includedMaxSize:
                              limit: 251658240
                              status: Available
                              unit: Megabytes
                            name: DW200
                            performanceLevel:
                              unit: DTU
                              value: 1500
                            status: Available
                            supportedMaxSizes:
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Available
                                unit: Terabytes
                              - limit: 5
                                status: Available
                                unit: Terabytes
                              - limit: 10
                                status: Default
                                unit: Terabytes
                              - limit: 20
                                status: Available
                                unit: Terabytes
                              - limit: 30
                                status: Available
                                unit: Terabytes
                              - limit: 40
                                status: Available
                                unit: Terabytes
                              - limit: 50
                                status: Available
                                unit: Terabytes
                              - limit: 60
                                status: Available
                                unit: Terabytes
                              - limit: 70
                                status: Available
                                unit: Terabytes
                              - limit: 80
                                status: Available
                                unit: Terabytes
                              - limit: 90
                                status: Available
                                unit: Terabytes
                              - limit: 100
                                status: Available
                                unit: Terabytes
                              - limit: 150
                                status: Available
                                unit: Terabytes
                              - limit: 200
                                status: Available
                                unit: Terabytes
                              - limit: 240
                                status: Available
                                unit: Terabytes
                          - id: 284f1aff-fee7-4d3b-a211-5b8ebdd28fea
                            includedMaxSize:
                              limit: 251658240
                              status: Available
                              unit: Megabytes
                            name: DW300
                            performanceLevel:
                              unit: DTU
                              value: 2250
                            status: Available
                            supportedMaxSizes:
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Available
                                unit: Terabytes
                              - limit: 5
                                status: Available
                                unit: Terabytes
                              - limit: 10
                                status: Default
                                unit: Terabytes
                              - limit: 20
                                status: Available
                                unit: Terabytes
                              - limit: 30
                                status: Available
                                unit: Terabytes
                              - limit: 40
                                status: Available
                                unit: Terabytes
                              - limit: 50
                                status: Available
                                unit: Terabytes
                              - limit: 60
                                status: Available
                                unit: Terabytes
                              - limit: 70
                                status: Available
                                unit: Terabytes
                              - limit: 80
                                status: Available
                                unit: Terabytes
                              - limit: 90
                                status: Available
                                unit: Terabytes
                              - limit: 100
                                status: Available
                                unit: Terabytes
                              - limit: 150
                                status: Available
                                unit: Terabytes
                              - limit: 200
                                status: Available
                                unit: Terabytes
                              - limit: 240
                                status: Available
                                unit: Terabytes
                          - id: 3bdaeefe-8a9d-41d3-91c4-46ef896b19af
                            includedMaxSize:
                              limit: 251658240
                              status: Available
                              unit: Megabytes
                            name: DW400
                            performanceLevel:
                              unit: DTU
                              value: 3000
                            status: Available
                            supportedMaxSizes:
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Available
                                unit: Terabytes
                              - limit: 5
                                status: Available
                                unit: Terabytes
                              - limit: 10
                                status: Default
                                unit: Terabytes
                              - limit: 20
                                status: Available
                                unit: Terabytes
                              - limit: 30
                                status: Available
                                unit: Terabytes
                              - limit: 40
                                status: Available
                                unit: Terabytes
                              - limit: 50
                                status: Available
                                unit: Terabytes
                              - limit: 60
                                status: Available
                                unit: Terabytes
                              - limit: 70
                                status: Available
                                unit: Terabytes
                              - limit: 80
                                status: Available
                                unit: Terabytes
                              - limit: 90
                                status: Available
                                unit: Terabytes
                              - limit: 100
                                status: Available
                                unit: Terabytes
                              - limit: 150
                                status: Available
                                unit: Terabytes
                              - limit: 200
                                status: Available
                                unit: Terabytes
                              - limit: 240
                                status: Available
                                unit: Terabytes
                          - id: 5f759b78-8ec0-4dfb-97cc-c1455a3b5b4d
                            includedMaxSize:
                              limit: 251658240
                              status: Available
                              unit: Megabytes
                            name: DW500
                            performanceLevel:
                              unit: DTU
                              value: 3750
                            status: Available
                            supportedMaxSizes:
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Available
                                unit: Terabytes
                              - limit: 5
                                status: Available
                                unit: Terabytes
                              - limit: 10
                                status: Default
                                unit: Terabytes
                              - limit: 20
                                status: Available
                                unit: Terabytes
                              - limit: 30
                                status: Available
                                unit: Terabytes
                              - limit: 40
                                status: Available
                                unit: Terabytes
                              - limit: 50
                                status: Available
                                unit: Terabytes
                              - limit: 60
                                status: Available
                                unit: Terabytes
                              - limit: 70
                                status: Available
                                unit: Terabytes
                              - limit: 80
                                status: Available
                                unit: Terabytes
                              - limit: 90
                                status: Available
                                unit: Terabytes
                              - limit: 100
                                status: Available
                                unit: Terabytes
                              - limit: 150
                                status: Available
                                unit: Terabytes
                              - limit: 200
                                status: Available
                                unit: Terabytes
                              - limit: 240
                                status: Available
                                unit: Terabytes
                          - id: efd65c5b-af7b-4389-9109-f6a69d6a3885
                            includedMaxSize:
                              limit: 251658240
                              status: Available
                              unit: Megabytes
                            name: DW600
                            performanceLevel:
                              unit: DTU
                              value: 4500
                            status: Available
                            supportedMaxSizes:
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Available
                                unit: Terabytes
                              - limit: 5
                                status: Available
                                unit: Terabytes
                              - limit: 10
                                status: Default
                                unit: Terabytes
                              - limit: 20
                                status: Available
                                unit: Terabytes
                              - limit: 30
                                status: Available
                                unit: Terabytes
                              - limit: 40
                                status: Available
                                unit: Terabytes
                              - limit: 50
                                status: Available
                                unit: Terabytes
                              - limit: 60
                                status: Available
                                unit: Terabytes
                              - limit: 70
                                status: Available
                                unit: Terabytes
                              - limit: 80
                                status: Available
                                unit: Terabytes
                              - limit: 90
                                status: Available
                                unit: Terabytes
                              - limit: 100
                                status: Available
                                unit: Terabytes
                              - limit: 150
                                status: Available
                                unit: Terabytes
                              - limit: 200
                                status: Available
                                unit: Terabytes
                              - limit: 240
                                status: Available
                                unit: Terabytes
                          - id: b89b9c6a-4ec2-4eb8-99db-6d2807e6aabb
                            includedMaxSize:
                              limit: 251658240
                              status: Available
                              unit: Megabytes
                            name: DW1000
                            performanceLevel:
                              unit: DTU
                              value: 7500
                            status: Available
                            supportedMaxSizes:
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Available
                                unit: Terabytes
                              - limit: 5
                                status: Available
                                unit: Terabytes
                              - limit: 10
                                status: Default
                                unit: Terabytes
                              - limit: 20
                                status: Available
                                unit: Terabytes
                              - limit: 30
                                status: Available
                                unit: Terabytes
                              - limit: 40
                                status: Available
                                unit: Terabytes
                              - limit: 50
                                status: Available
                                unit: Terabytes
                              - limit: 60
                                status: Available
                                unit: Terabytes
                              - limit: 70
                                status: Available
                                unit: Terabytes
                              - limit: 80
                                status: Available
                                unit: Terabytes
                              - limit: 90
                                status: Available
                                unit: Terabytes
                              - limit: 100
                                status: Available
                                unit: Terabytes
                              - limit: 150
                                status: Available
                                unit: Terabytes
                              - limit: 200
                                status: Available
                                unit: Terabytes
                              - limit: 240
                                status: Available
                                unit: Terabytes
                          - id: 9a7a374e-b95c-4fd5-a68e-131d60796c47
                            includedMaxSize:
                              limit: 251658240
                              status: Available
                              unit: Megabytes
                            name: DW1200
                            performanceLevel:
                              unit: DTU
                              value: 9000
                            status: Available
                            supportedMaxSizes:
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Available
                                unit: Terabytes
                              - limit: 5
                                status: Available
                                unit: Terabytes
                              - limit: 10
                                status: Default
                                unit: Terabytes
                              - limit: 20
                                status: Available
                                unit: Terabytes
                              - limit: 30
                                status: Available
                                unit: Terabytes
                              - limit: 40
                                status: Available
                                unit: Terabytes
                              - limit: 50
                                status: Available
                                unit: Terabytes
                              - limit: 60
                                status: Available
                                unit: Terabytes
                              - limit: 70
                                status: Available
                                unit: Terabytes
                              - limit: 80
                                status: Available
                                unit: Terabytes
                              - limit: 90
                                status: Available
                                unit: Terabytes
                              - limit: 100
                                status: Available
                                unit: Terabytes
                              - limit: 150
                                status: Available
                                unit: Terabytes
                              - limit: 200
                                status: Available
                                unit: Terabytes
                              - limit: 240
                                status: Available
                                unit: Terabytes
                          - id: b930f58e-86b5-43e0-a2da-d8bf8769c557
                            includedMaxSize:
                              limit: 251658240
                              status: Available
                              unit: Megabytes
                            name: DW1500
                            performanceLevel:
                              unit: DTU
                              value: 11250
                            status: Available
                            supportedMaxSizes:
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Available
                                unit: Terabytes
                              - limit: 5
                                status: Available
                                unit: Terabytes
                              - limit: 10
                                status: Default
                                unit: Terabytes
                              - limit: 20
                                status: Available
                                unit: Terabytes
                              - limit: 30
                                status: Available
                                unit: Terabytes
                              - limit: 40
                                status: Available
                                unit: Terabytes
                              - limit: 50
                                status: Available
                                unit: Terabytes
                              - limit: 60
                                status: Available
                                unit: Terabytes
                              - limit: 70
                                status: Available
                                unit: Terabytes
                              - limit: 80
                                status: Available
                                unit: Terabytes
                              - limit: 90
                                status: Available
                                unit: Terabytes
                              - limit: 100
                                status: Available
                                unit: Terabytes
                              - limit: 150
                                status: Available
                                unit: Terabytes
                              - limit: 200
                                status: Available
                                unit: Terabytes
                              - limit: 240
                                status: Available
                                unit: Terabytes
                          - id: 99165ede-a5ab-4b52-b317-e391d92ec370
                            includedMaxSize:
                              limit: 251658240
                              status: Available
                              unit: Megabytes
                            name: DW2000
                            performanceLevel:
                              unit: DTU
                              value: 15000
                            status: Available
                            supportedMaxSizes:
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Available
                                unit: Terabytes
                              - limit: 5
                                status: Available
                                unit: Terabytes
                              - limit: 10
                                status: Default
                                unit: Terabytes
                              - limit: 20
                                status: Available
                                unit: Terabytes
                              - limit: 30
                                status: Available
                                unit: Terabytes
                              - limit: 40
                                status: Available
                                unit: Terabytes
                              - limit: 50
                                status: Available
                                unit: Terabytes
                              - limit: 60
                                status: Available
                                unit: Terabytes
                              - limit: 70
                                status: Available
                                unit: Terabytes
                              - limit: 80
                                status: Available
                                unit: Terabytes
                              - limit: 90
                                status: Available
                                unit: Terabytes
                              - limit: 100
                                status: Available
                                unit: Terabytes
                              - limit: 150
                                status: Available
                                unit: Terabytes
                              - limit: 200
                                status: Available
                                unit: Terabytes
                              - limit: 240
                                status: Available
                                unit: Terabytes
                          - id: 8e28c923-5cf2-43cb-bd25-28c8c69b30ff
                            includedMaxSize:
                              limit: 251658240
                              status: Available
                              unit: Megabytes
                            name: DW3000
                            performanceLevel:
                              unit: DTU
                              value: 22500
                            status: Available
                            supportedMaxSizes:
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Available
                                unit: Terabytes
                              - limit: 5
                                status: Available
                                unit: Terabytes
                              - limit: 10
                                status: Default
                                unit: Terabytes
                              - limit: 20
                                status: Available
                                unit: Terabytes
                              - limit: 30
                                status: Available
                                unit: Terabytes
                              - limit: 40
                                status: Available
                                unit: Terabytes
                              - limit: 50
                                status: Available
                                unit: Terabytes
                              - limit: 60
                                status: Available
                                unit: Terabytes
                              - limit: 70
                                status: Available
                                unit: Terabytes
                              - limit: 80
                                status: Available
                                unit: Terabytes
                              - limit: 90
                                status: Available
                                unit: Terabytes
                              - limit: 100
                                status: Available
                                unit: Terabytes
                              - limit: 150
                                status: Available
                                unit: Terabytes
                              - limit: 200
                                status: Available
                                unit: Terabytes
                              - limit: 240
                                status: Available
                                unit: Terabytes
                          - id: ee1df062-4f3c-42ad-91bf-58b2a7c351e4
                            includedMaxSize:
                              limit: 251658240
                              status: Available
                              unit: Megabytes
                            name: DW6000
                            performanceLevel:
                              unit: DTU
                              value: 45000
                            status: Available
                            supportedMaxSizes:
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Available
                                unit: Terabytes
                              - limit: 5
                                status: Available
                                unit: Terabytes
                              - limit: 10
                                status: Default
                                unit: Terabytes
                              - limit: 20
                                status: Available
                                unit: Terabytes
                              - limit: 30
                                status: Available
                                unit: Terabytes
                              - limit: 40
                                status: Available
                                unit: Terabytes
                              - limit: 50
                                status: Available
                                unit: Terabytes
                              - limit: 60
                                status: Available
                                unit: Terabytes
                              - limit: 70
                                status: Available
                                unit: Terabytes
                              - limit: 80
                                status: Available
                                unit: Terabytes
                              - limit: 90
                                status: Available
                                unit: Terabytes
                              - limit: 100
                                status: Available
                                unit: Terabytes
                              - limit: 150
                                status: Available
                                unit: Terabytes
                              - limit: 200
                                status: Available
                                unit: Terabytes
                              - limit: 240
                                status: Available
                                unit: Terabytes
                      - name: Stretch
                        status: Available
                        supportedServiceLevelObjectives:
                          - id: 9cfc850f-d57f-4760-b5a6-bb640d268bf0
                            includedMaxSize:
                              limit: 251658240
                              status: Available
                              unit: Megabytes
                            name: DS100
                            performanceLevel:
                              unit: DTU
                              value: 750
                            status: Default
                            supportedMaxSizes:
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Available
                                unit: Terabytes
                              - limit: 5
                                status: Available
                                unit: Terabytes
                              - limit: 10
                                status: Default
                                unit: Terabytes
                              - limit: 20
                                status: Available
                                unit: Terabytes
                              - limit: 30
                                status: Available
                                unit: Terabytes
                              - limit: 40
                                status: Available
                                unit: Terabytes
                              - limit: 50
                                status: Available
                                unit: Terabytes
                              - limit: 60
                                status: Available
                                unit: Terabytes
                              - limit: 70
                                status: Available
                                unit: Terabytes
                              - limit: 80
                                status: Available
                                unit: Terabytes
                              - limit: 90
                                status: Available
                                unit: Terabytes
                              - limit: 100
                                status: Available
                                unit: Terabytes
                              - limit: 150
                                status: Available
                                unit: Terabytes
                              - limit: 200
                                status: Available
                                unit: Terabytes
                              - limit: 240
                                status: Available
                                unit: Terabytes
                          - id: 053407ef-f01c-46f4-b829-96e01a14f449
                            includedMaxSize:
                              limit: 251658240
                              status: Available
                              unit: Megabytes
                            name: DS200
                            performanceLevel:
                              unit: DTU
                              value: 1500
                            status: Available
                            supportedMaxSizes:
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Available
                                unit: Terabytes
                              - limit: 5
                                status: Available
                                unit: Terabytes
                              - limit: 10
                                status: Default
                                unit: Terabytes
                              - limit: 20
                                status: Available
                                unit: Terabytes
                              - limit: 30
                                status: Available
                                unit: Terabytes
                              - limit: 40
                                status: Available
                                unit: Terabytes
                              - limit: 50
                                status: Available
                                unit: Terabytes
                              - limit: 60
                                status: Available
                                unit: Terabytes
                              - limit: 70
                                status: Available
                                unit: Terabytes
                              - limit: 80
                                status: Available
                                unit: Terabytes
                              - limit: 90
                                status: Available
                                unit: Terabytes
                              - limit: 100
                                status: Available
                                unit: Terabytes
                              - limit: 150
                                status: Available
                                unit: Terabytes
                              - limit: 200
                                status: Available
                                unit: Terabytes
                              - limit: 240
                                status: Available
                                unit: Terabytes
                          - id: 013a9e10-cafc-45a8-8fcf-93095655d2ce
                            includedMaxSize:
                              limit: 251658240
                              status: Available
                              unit: Megabytes
                            name: DS300
                            performanceLevel:
                              unit: DTU
                              value: 2250
                            status: Available
                            supportedMaxSizes:
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Available
                                unit: Terabytes
                              - limit: 5
                                status: Available
                                unit: Terabytes
                              - limit: 10
                                status: Default
                                unit: Terabytes
                              - limit: 20
                                status: Available
                                unit: Terabytes
                              - limit: 30
                                status: Available
                                unit: Terabytes
                              - limit: 40
                                status: Available
                                unit: Terabytes
                              - limit: 50
                                status: Available
                                unit: Terabytes
                              - limit: 60
                                status: Available
                                unit: Terabytes
                              - limit: 70
                                status: Available
                                unit: Terabytes
                              - limit: 80
                                status: Available
                                unit: Terabytes
                              - limit: 90
                                status: Available
                                unit: Terabytes
                              - limit: 100
                                status: Available
                                unit: Terabytes
                              - limit: 150
                                status: Available
                                unit: Terabytes
                              - limit: 200
                                status: Available
                                unit: Terabytes
                              - limit: 240
                                status: Available
                                unit: Terabytes
                          - id: 79f61db4-8c10-46ba-a93a-d7d02dddd61c
                            includedMaxSize:
                              limit: 251658240
                              status: Available
                              unit: Megabytes
                            name: DS400
                            performanceLevel:
                              unit: DTU
                              value: 3000
                            status: Available
                            supportedMaxSizes:
                              - limit: 250
                                status: Available
                                unit: Gigabytes
                              - limit: 500
                                status: Available
                                unit: Gigabytes
                              - limit: 750
                                status: Available
                                unit: Gigabytes
                              - limit: 1
                                status: Available
                                unit: Terabytes
                              - limit: 5
                                status: Available
                                unit: Terabytes
                              - limit: 10
                                status: Default
                                unit: Terabytes
                              - limit: 20
                                status: Available
                                unit: Terabytes
                              - limit: 30
                                status: Available
                                unit: Terabytes
                              - limit: 40
                                status: Available
                                unit: Terabytes
                              - limit: 50
                                status: Available
                                unit: Terabytes
                              - limit: 60
                                status: Available
                                unit: Terabytes
                              - limit: 70
                                status: Available
                                unit: Terabytes
                              - limit: 80
                                status: Available
                                unit: Terabytes
                              - limit: 90
[...]
