openapi: 3.0.0
servers:
  - url: https://openbanking.org.uk
  - url: /open-banking/v3.1/pisp
info:
  contact:
    email: ServiceDesk@openbanking.org.uk
    name: Service Desk
  description: Swagger for Payment Initiation API Specification
  license:
    name: open-licence
    url: https://www.openbanking.org.uk/open-licence
  termsOfService: https://www.openbanking.org.uk/terms
  title: Payment Initiation API
  version: 3.1.7
  x-apisguru-categories:
    - financial
  x-logo:
    backgroundColor: "#FFFFFF"
    url: https://api.apis.guru/v2/cache/logo/https_avatars0.githubusercontent.com_u_23359225.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/OpenBankingUK/read-write-api-specs/master/dist/openapi/payment-initiation-openapi.yaml
      version: "3.0"
  x-providerName: openbanking.org.uk
  x-serviceName: payment-initiation-openapi
paths:
  /domestic-payment-consents:
    post:
      operationId: CreateDomesticPaymentConsents
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBWriteDomesticConsent4"
          application/json:
            schema:
              $ref: "#/components/schemas/OBWriteDomesticConsent4"
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBWriteDomesticConsent4"
        description: Default
        required: true
      responses:
        "201":
          $ref: "#/components/responses/201DomesticPaymentConsentsCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Create Domestic Payment Consents
      tags:
        - Domestic Payments
  "/domestic-payment-consents/{ConsentId}":
    get:
      operationId: GetDomesticPaymentConsentsConsentId
      parameters:
        - $ref: "#/components/parameters/ConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200DomesticPaymentConsentsConsentIdRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Domestic Payment Consents
      tags:
        - Domestic Payments
  "/domestic-payment-consents/{ConsentId}/funds-confirmation":
    get:
      operationId: GetDomesticPaymentConsentsConsentIdFundsConfirmation
      parameters:
        - $ref: "#/components/parameters/ConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200DomesticPaymentConsentsConsentIdFundsConfirmationRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - PSUOAuth2Security:
            - payments
      summary: Get Domestic Payment Consents Funds Confirmation
      tags:
        - Domestic Payments
  /domestic-payments:
    post:
      operationId: CreateDomesticPayments
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBWriteDomestic2"
          application/json:
            schema:
              $ref: "#/components/schemas/OBWriteDomestic2"
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBWriteDomestic2"
        description: Default
        required: true
      responses:
        "201":
          $ref: "#/components/responses/201DomesticPaymentsCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - PSUOAuth2Security:
            - payments
      summary: Create Domestic Payments
      tags:
        - Domestic Payments
  "/domestic-payments/{DomesticPaymentId}":
    get:
      operationId: GetDomesticPaymentsDomesticPaymentId
      parameters:
        - $ref: "#/components/parameters/DomesticPaymentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200DomesticPaymentsDomesticPaymentIdRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Domestic Payments
      tags:
        - Domestic Payments
  "/domestic-payments/{DomesticPaymentId}/payment-details":
    get:
      operationId: GetDomesticPaymentsDomesticPaymentIdPaymentDetails
      parameters:
        - $ref: "#/components/parameters/DomesticPaymentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200DomesticPaymentsDomesticPaymentIdPaymentDetailsRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Payment Details
      tags:
        - Payment Details
  /domestic-scheduled-payment-consents:
    post:
      operationId: CreateDomesticScheduledPaymentConsents
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBWriteDomesticScheduledConsent4"
          application/json:
            schema:
              $ref: "#/components/schemas/OBWriteDomesticScheduledConsent4"
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBWriteDomesticScheduledConsent4"
        description: Default
        required: true
      responses:
        "201":
          $ref: "#/components/responses/201DomesticScheduledPaymentConsentsCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Create Domestic Scheduled Payment Consents
      tags:
        - Domestic Scheduled Payments
  "/domestic-scheduled-payment-consents/{ConsentId}":
    get:
      operationId: GetDomesticScheduledPaymentConsentsConsentId
      parameters:
        - $ref: "#/components/parameters/ConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200DomesticScheduledPaymentConsentsConsentIdRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Domestic Scheduled Payment Consents
      tags:
        - Domestic Scheduled Payments
  /domestic-scheduled-payments:
    post:
      operationId: CreateDomesticScheduledPayments
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBWriteDomesticScheduled2"
          application/json:
            schema:
              $ref: "#/components/schemas/OBWriteDomesticScheduled2"
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBWriteDomesticScheduled2"
        description: Default
        required: true
      responses:
        "201":
          $ref: "#/components/responses/201DomesticScheduledPaymentsCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - PSUOAuth2Security:
            - payments
      summary: Create Domestic Scheduled Payments
      tags:
        - Domestic Scheduled Payments
  "/domestic-scheduled-payments/{DomesticScheduledPaymentId}":
    get:
      operationId: GetDomesticScheduledPaymentsDomesticScheduledPaymentId
      parameters:
        - $ref: "#/components/parameters/DomesticScheduledPaymentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200DomesticScheduledPaymentsDomesticScheduledPaymentIdRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Domestic Scheduled Payments
      tags:
        - Domestic Scheduled Payments
  "/domestic-scheduled-payments/{DomesticScheduledPaymentId}/payment-details":
    get:
      operationId: GetDomesticScheduledPaymentsDomesticScheduledPaymentIdPaymentDetails
      parameters:
        - $ref: "#/components/parameters/DomesticScheduledPaymentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200DomesticScheduledPaymentsDomesticScheduledPaymentIdPaymentDetailsRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Payment Details
      tags:
        - Payment Details
  /domestic-standing-order-consents:
    post:
      operationId: CreateDomesticStandingOrderConsents
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBWriteDomesticStandingOrderConsent5"
          application/json:
            schema:
              $ref: "#/components/schemas/OBWriteDomesticStandingOrderConsent5"
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBWriteDomesticStandingOrderConsent5"
        description: Default
        required: true
      responses:
        "201":
          $ref: "#/components/responses/201DomesticStandingOrderConsentsCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Create Domestic Standing Order Consents
      tags:
        - Domestic Standing Orders
  "/domestic-standing-order-consents/{ConsentId}":
    get:
      operationId: GetDomesticStandingOrderConsentsConsentId
      parameters:
        - $ref: "#/components/parameters/ConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200DomesticStandingOrderConsentsConsentIdRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Domestic Standing Order Consents
      tags:
        - Domestic Standing Orders
  /domestic-standing-orders:
    post:
      operationId: CreateDomesticStandingOrders
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBWriteDomesticStandingOrder3"
          application/json:
            schema:
              $ref: "#/components/schemas/OBWriteDomesticStandingOrder3"
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBWriteDomesticStandingOrder3"
        description: Default
        required: true
      responses:
        "201":
          $ref: "#/components/responses/201DomesticStandingOrdersCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - PSUOAuth2Security:
            - payments
      summary: Create Domestic Standing Orders
      tags:
        - Domestic Standing Orders
  "/domestic-standing-orders/{DomesticStandingOrderId}":
    get:
      operationId: GetDomesticStandingOrdersDomesticStandingOrderId
      parameters:
        - $ref: "#/components/parameters/DomesticStandingOrderId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200DomesticStandingOrdersDomesticStandingOrderIdRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Domestic Standing Orders
      tags:
        - Domestic Standing Orders
  "/domestic-standing-orders/{DomesticStandingOrderId}/payment-details":
    get:
      operationId: GetDomesticStandingOrdersDomesticStandingOrderIdPaymentDetails
      parameters:
        - $ref: "#/components/parameters/DomesticStandingOrderId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200DomesticStandingOrdersDomesticStandingOrderIdPaymentDetailsRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Payment Details
      tags:
        - Payment Details
  /file-payment-consents:
    post:
      operationId: CreateFilePaymentConsents
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBWriteFileConsent3"
          application/json:
            schema:
              $ref: "#/components/schemas/OBWriteFileConsent3"
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBWriteFileConsent3"
        description: Default
        required: true
      responses:
        "201":
          $ref: "#/components/responses/201FilePaymentConsentsCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Create File Payment Consents
      tags:
        - File Payments
  "/file-payment-consents/{ConsentId}":
    get:
      operationId: GetFilePaymentConsentsConsentId
      parameters:
        - $ref: "#/components/parameters/ConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200FilePaymentConsentsConsentIdRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get File Payment Consents
      tags:
        - File Payments
  "/file-payment-consents/{ConsentId}/file":
    get:
      operationId: GetFilePaymentConsentsConsentIdFile
      parameters:
        - $ref: "#/components/parameters/ConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200FilePaymentConsentsConsentIdFileRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get File Payment Consents
      tags:
        - File Payments
    post:
      operationId: CreateFilePaymentConsentsConsentIdFile
      parameters:
        - $ref: "#/components/parameters/ConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/File"
          application/json:
            schema:
              $ref: "#/components/schemas/File"
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/File"
        description: Default
        required: true
      responses:
        "200":
          $ref: "#/components/responses/200FilePaymentConsentsConsentIdFileCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Create File Payment Consents
      tags:
        - File Payments
  /file-payments:
    post:
      operationId: CreateFilePayments
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBWriteFile2"
          application/json:
            schema:
              $ref: "#/components/schemas/OBWriteFile2"
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBWriteFile2"
        description: Default
        required: true
      responses:
        "201":
          $ref: "#/components/responses/201FilePaymentsCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - PSUOAuth2Security:
            - payments
      summary: Create File Payments
      tags:
        - File Payments
  "/file-payments/{FilePaymentId}":
    get:
      operationId: GetFilePaymentsFilePaymentId
      parameters:
        - $ref: "#/components/parameters/FilePaymentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200FilePaymentsFilePaymentIdRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get File Payments
      tags:
        - File Payments
  "/file-payments/{FilePaymentId}/payment-details":
    get:
      operationId: GetFilePaymentsFilePaymentIdPaymentDetails
      parameters:
        - $ref: "#/components/parameters/FilePaymentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200FilePaymentsFilePaymentIdPaymentDetailsRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Payment Details
      tags:
        - Payment Details
  "/file-payments/{FilePaymentId}/report-file":
    get:
      operationId: GetFilePaymentsFilePaymentIdReportFile
      parameters:
        - $ref: "#/components/parameters/FilePaymentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200FilePaymentsFilePaymentIdReportFileRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get File Payments
      tags:
        - File Payments
  /international-payment-consents:
    post:
      operationId: CreateInternationalPaymentConsents
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBWriteInternationalConsent5"
          application/json:
            schema:
              $ref: "#/components/schemas/OBWriteInternationalConsent5"
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBWriteInternationalConsent5"
        description: Default
        required: true
      responses:
        "201":
          $ref: "#/components/responses/201InternationalPaymentConsentsCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Create International Payment Consents
      tags:
        - International Payments
  "/international-payment-consents/{ConsentId}":
    get:
      operationId: GetInternationalPaymentConsentsConsentId
      parameters:
        - $ref: "#/components/parameters/ConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200InternationalPaymentConsentsConsentIdRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get International Payment Consents
      tags:
        - International Payments
  "/international-payment-consents/{ConsentId}/funds-confirmation":
    get:
      operationId: GetInternationalPaymentConsentsConsentIdFundsConfirmation
      parameters:
        - $ref: "#/components/parameters/ConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200InternationalPaymentConsentsConsentIdFundsConfirmationRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - PSUOAuth2Security:
            - payments
      summary: Get International Payment Consents Funds Confirmation
      tags:
        - International Payments
  /international-payments:
    post:
      operationId: CreateInternationalPayments
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBWriteInternational3"
          application/json:
            schema:
              $ref: "#/components/schemas/OBWriteInternational3"
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBWriteInternational3"
        description: Default
        required: true
      responses:
        "201":
          $ref: "#/components/responses/201InternationalPaymentsCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - PSUOAuth2Security:
            - payments
      summary: Create International Payments
      tags:
        - International Payments
  "/international-payments/{InternationalPaymentId}":
    get:
      operationId: GetInternationalPaymentsInternationalPaymentId
      parameters:
        - $ref: "#/components/parameters/InternationalPaymentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200InternationalPaymentsInternationalPaymentIdRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get International Payments
      tags:
        - International Payments
  "/international-payments/{InternationalPaymentId}/payment-details":
    get:
      operationId: GetInternationalPaymentsInternationalPaymentIdPaymentDetails
      parameters:
        - $ref: "#/components/parameters/InternationalPaymentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200InternationalPaymentsInternationalPaymentIdPaymentDetailsRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Payment Details
      tags:
        - Payment Details
  /international-scheduled-payment-consents:
    post:
      operationId: CreateInternationalScheduledPaymentConsents
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBWriteInternationalScheduledConsent5"
          application/json:
            schema:
              $ref: "#/components/schemas/OBWriteInternationalScheduledConsent5"
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBWriteInternationalScheduledConsent5"
        description: Default
        required: true
      responses:
        "201":
          $ref: "#/components/responses/201InternationalScheduledPaymentConsentsCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Create International Scheduled Payment Consents
      tags:
        - International Scheduled Payments
  "/international-scheduled-payment-consents/{ConsentId}":
    get:
      operationId: GetInternationalScheduledPaymentConsentsConsentId
      parameters:
        - $ref: "#/components/parameters/ConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200InternationalScheduledPaymentConsentsConsentIdRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get International Scheduled Payment Consents
      tags:
        - International Scheduled Payments
  "/international-scheduled-payment-consents/{ConsentId}/funds-confirmation":
    get:
      operationId: GetInternationalScheduledPaymentConsentsConsentIdFundsConfirmation
      parameters:
        - $ref: "#/components/parameters/ConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200InternationalScheduledPaymentConsentsConsentIdFundsConfirmationRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - PSUOAuth2Security:
            - payments
      summary: Get International Scheduled Payment Consents Funds Confirmation
      tags:
        - International Scheduled Payments
  /international-scheduled-payments:
    post:
      operationId: CreateInternationalScheduledPayments
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBWriteInternationalScheduled3"
          application/json:
            schema:
              $ref: "#/components/schemas/OBWriteInternationalScheduled3"
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBWriteInternationalScheduled3"
        description: Default
        required: true
      responses:
        "201":
          $ref: "#/components/responses/201InternationalScheduledPaymentsCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - PSUOAuth2Security:
            - payments
      summary: Create International Scheduled Payments
      tags:
        - International Scheduled Payments
  "/international-scheduled-payments/{InternationalScheduledPaymentId}":
    get:
      operationId: GetInternationalScheduledPaymentsInternationalScheduledPaymentId
      parameters:
        - $ref: "#/components/parameters/InternationalScheduledPaymentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200InternationalScheduledPaymentsInternationalScheduledPaymentIdRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get International Scheduled Payments
      tags:
        - International Scheduled Payments
  "/international-scheduled-payments/{InternationalScheduledPaymentId}/payment-details":
    get:
      operationId: GetInternationalScheduledPaymentsInternationalScheduledPaymentIdPaymentDetails
      parameters:
        - $ref: "#/components/parameters/InternationalScheduledPaymentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200InternationalScheduledPaymentsInternationalScheduledPaymentIdPaymentDetailsRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Payment Details
      tags:
        - Payment Details
  /international-standing-order-consents:
    post:
      operationId: CreateInternationalStandingOrderConsents
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBWriteInternationalStandingOrderConsent6"
          application/json:
            schema:
              $ref: "#/components/schemas/OBWriteInternationalStandingOrderConsent6"
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBWriteInternationalStandingOrderConsent6"
        description: Default
        required: true
      responses:
        "201":
          $ref: "#/components/responses/201InternationalStandingOrderConsentsCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Create International Standing Order Consents
      tags:
        - International Standing Orders
  "/international-standing-order-consents/{ConsentId}":
    get:
      operationId: GetInternationalStandingOrderConsentsConsentId
      parameters:
        - $ref: "#/components/parameters/ConsentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200InternationalStandingOrderConsentsConsentIdRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get International Standing Order Consents
      tags:
        - International Standing Orders
  /international-standing-orders:
    post:
      operationId: CreateInternationalStandingOrders
      parameters:
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-idempotency-key"
        - $ref: "#/components/parameters/x-jws-signature"
        - $ref: "#/components/parameters/x-customer-user-agent"
      requestBody:
        content:
          application/jose+jwe:
            schema:
              $ref: "#/components/schemas/OBWriteInternationalStandingOrder4"
          application/json:
            schema:
              $ref: "#/components/schemas/OBWriteInternationalStandingOrder4"
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/OBWriteInternationalStandingOrder4"
        description: Default
        required: true
      responses:
        "201":
          $ref: "#/components/responses/201InternationalStandingOrdersCreated"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "415":
          $ref: "#/components/responses/415Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - PSUOAuth2Security:
            - payments
      summary: Create International Standing Orders
      tags:
        - International Standing Orders
  "/international-standing-orders/{InternationalStandingOrderPaymentId}":
    get:
      operationId: GetInternationalStandingOrdersInternationalStandingOrderPaymentId
      parameters:
        - $ref: "#/components/parameters/InternationalStandingOrderPaymentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200InternationalStandingOrdersInternationalStandingOrderPaymentIdRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get International Standing Orders
      tags:
        - International Standing Orders
  "/international-standing-orders/{InternationalStandingOrderPaymentId}/payment-details":
    get:
      operationId: GetInternationalStandingOrdersInternationalStandingOrderPaymentIdPaymentDetails
      parameters:
        - $ref: "#/components/parameters/InternationalStandingOrderPaymentId"
        - $ref: "#/components/parameters/x-fapi-auth-date"
        - $ref: "#/components/parameters/x-fapi-customer-ip-address"
        - $ref: "#/components/parameters/x-fapi-interaction-id"
        - $ref: "#/components/parameters/Authorization"
        - $ref: "#/components/parameters/x-customer-user-agent"
      responses:
        "200":
          $ref: "#/components/responses/200InternationalStandingOrdersInternationalStandingOrderPaymentIdPaymentDetailsRead"
        "400":
          $ref: "#/components/responses/400Error"
        "401":
          $ref: "#/components/responses/401Error"
        "403":
          $ref: "#/components/responses/403Error"
        "404":
          $ref: "#/components/responses/404Error"
        "405":
          $ref: "#/components/responses/405Error"
        "406":
          $ref: "#/components/responses/406Error"
        "429":
          $ref: "#/components/responses/429Error"
        "500":
          $ref: "#/components/responses/500Error"
      security:
        - TPPOAuth2Security:
            - payments
      summary: Get Payment Details
      tags:
        - Payment Details
components:
  parameters:
    Authorization:
      description: An Authorisation Token as per https://tools.ietf.org/html/rfc6750
      in: header
      name: Authorization
      required: true
      schema:
        type: string
    ConsentId:
      description: ConsentId
      in: path
      name: ConsentId
      required: true
      schema:
        type: string
    DomesticPaymentId:
      description: DomesticPaymentId
      in: path
      name: DomesticPaymentId
      required: true
      schema:
        type: string
    DomesticScheduledPaymentId:
      description: DomesticScheduledPaymentId
      in: path
      name: DomesticScheduledPaymentId
      required: true
      schema:
        type: string
    DomesticStandingOrderId:
      description: DomesticStandingOrderId
      in: path
      name: DomesticStandingOrderId
      required: true
      schema:
        type: string
    FilePaymentId:
      description: FilePaymentId
      in: path
      name: FilePaymentId
      required: true
      schema:
        type: string
    InternationalPaymentId:
      description: InternationalPaymentId
      in: path
      name: InternationalPaymentId
      required: true
      schema:
        type: string
    InternationalScheduledPaymentId:
      description: InternationalScheduledPaymentId
      in: path
      name: InternationalScheduledPaymentId
      required: true
      schema:
        type: string
    InternationalStandingOrderPaymentId:
      description: InternationalStandingOrderPaymentId
      in: path
      name: InternationalStandingOrderPaymentId
      required: true
      schema:
        type: string
    x-customer-user-agent:
      description: Indicates the user-agent that the PSU is using.
      in: header
      name: x-customer-user-agent
      required: false
      schema:
        type: string
    x-fapi-auth-date:
      description: |-
        The time when the PSU last logged in with the TPP. 
        All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below: 
        Sun, 10 Sep 2017 19:43:31 UTC
      in: header
      name: x-fapi-auth-date
      required: false
      schema:
        pattern: ^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$
        type: string
    x-fapi-customer-ip-address:
      description: The PSU's IP address if the PSU is currently logged in with the TPP.
      in: header
      name: x-fapi-customer-ip-address
      required: false
      schema:
        type: string
    x-fapi-interaction-id:
      description: An RFC4122 UID used as a correlation id.
      in: header
      name: x-fapi-interaction-id
      required: false
      schema:
        type: string
    x-idempotency-key:
      description: |
        Every request will be processed only once per x-idempotency-key.  The
        Idempotency Key will be valid for 24 hours.
      in: header
      name: x-idempotency-key
      required: true
      schema:
        maxLength: 40
        pattern: ^(?!\s)(.*)(\S)$
        type: string
    x-jws-signature:
      description: A detached JWS signature of the body of the payload.
      in: header
      name: x-jws-signature
      required: true
      schema:
        type: string
  responses:
    200DomesticPaymentConsentsConsentIdFundsConfirmationRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteFundsConfirmationResponse1"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteFundsConfirmationResponse1"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteFundsConfirmationResponse1"
      description: Domestic Payment Consents Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200DomesticPaymentConsentsConsentIdRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticConsentResponse5"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticConsentResponse5"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticConsentResponse5"
      description: Domestic Payment Consents Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200DomesticPaymentsDomesticPaymentIdPaymentDetailsRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
      description: Payment Details Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200DomesticPaymentsDomesticPaymentIdRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticResponse5"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticResponse5"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticResponse5"
      description: Domestic Payments Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200DomesticScheduledPaymentConsentsConsentIdRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticScheduledConsentResponse5"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticScheduledConsentResponse5"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticScheduledConsentResponse5"
      description: Domestic Scheduled Payment Consents Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200DomesticScheduledPaymentsDomesticScheduledPaymentIdPaymentDetailsRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
      description: Payment Details Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200DomesticScheduledPaymentsDomesticScheduledPaymentIdRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticScheduledResponse5"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticScheduledResponse5"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticScheduledResponse5"
      description: Domestic Scheduled Payments Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200DomesticStandingOrderConsentsConsentIdRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticStandingOrderConsentResponse6"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticStandingOrderConsentResponse6"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticStandingOrderConsentResponse6"
      description: Domestic Standing Order Consents Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200DomesticStandingOrdersDomesticStandingOrderIdPaymentDetailsRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
      description: Payment Details Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200DomesticStandingOrdersDomesticStandingOrderIdRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticStandingOrderResponse6"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticStandingOrderResponse6"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticStandingOrderResponse6"
      description: Domestic Standing Orders Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200FilePaymentConsentsConsentIdFileCreated:
      description: File Payment Consents Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
    200FilePaymentConsentsConsentIdFileRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/File"
        application/json:
          schema:
            $ref: "#/components/schemas/File"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/File"
      description: File Payment Consents Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200FilePaymentConsentsConsentIdRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteFileConsentResponse4"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteFileConsentResponse4"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteFileConsentResponse4"
      description: File Payment Consents Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200FilePaymentsFilePaymentIdPaymentDetailsRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
      description: Payment Details Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200FilePaymentsFilePaymentIdRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteFileResponse3"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteFileResponse3"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteFileResponse3"
      description: File Payments Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200FilePaymentsFilePaymentIdReportFileRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/File"
        application/json:
          schema:
            $ref: "#/components/schemas/File"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/File"
      description: File Payments Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200InternationalPaymentConsentsConsentIdFundsConfirmationRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteFundsConfirmationResponse1"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteFundsConfirmationResponse1"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteFundsConfirmationResponse1"
      description: International Payment Consents Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200InternationalPaymentConsentsConsentIdRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalConsentResponse6"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalConsentResponse6"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalConsentResponse6"
      description: International Payment Consents Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200InternationalPaymentsInternationalPaymentIdPaymentDetailsRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
      description: Payment Details Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200InternationalPaymentsInternationalPaymentIdRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalResponse5"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalResponse5"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalResponse5"
      description: International Payments Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200InternationalScheduledPaymentConsentsConsentIdFundsConfirmationRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteFundsConfirmationResponse1"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteFundsConfirmationResponse1"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteFundsConfirmationResponse1"
      description: International Scheduled Payment Consents Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200InternationalScheduledPaymentConsentsConsentIdRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalScheduledConsentResponse6"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalScheduledConsentResponse6"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalScheduledConsentResponse6"
      description: International Scheduled Payment Consents Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200InternationalScheduledPaymentsInternationalScheduledPaymentIdPaymentDetailsRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
      description: Payment Details Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200InternationalScheduledPaymentsInternationalScheduledPaymentIdRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalScheduledResponse6"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalScheduledResponse6"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalScheduledResponse6"
      description: International Scheduled Payments Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200InternationalStandingOrderConsentsConsentIdRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalStandingOrderConsentResponse7"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalStandingOrderConsentResponse7"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalStandingOrderConsentResponse7"
      description: International Standing Order Consents Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200InternationalStandingOrdersInternationalStandingOrderPaymentIdPaymentDetailsRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWritePaymentDetailsResponse1"
      description: Payment Details Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    200InternationalStandingOrdersInternationalStandingOrderPaymentIdRead:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalStandingOrderResponse7"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalStandingOrderResponse7"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalStandingOrderResponse7"
      description: International Standing Orders Read
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    201DomesticPaymentConsentsCreated:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticConsentResponse5"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticConsentResponse5"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticConsentResponse5"
      description: Domestic Payment Consents Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    201DomesticPaymentsCreated:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticResponse5"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticResponse5"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticResponse5"
      description: Domestic Payments Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    201DomesticScheduledPaymentConsentsCreated:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticScheduledConsentResponse5"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticScheduledConsentResponse5"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticScheduledConsentResponse5"
      description: Domestic Scheduled Payment Consents Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    201DomesticScheduledPaymentsCreated:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticScheduledResponse5"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticScheduledResponse5"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticScheduledResponse5"
      description: Domestic Scheduled Payments Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    201DomesticStandingOrderConsentsCreated:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticStandingOrderConsentResponse6"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticStandingOrderConsentResponse6"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticStandingOrderConsentResponse6"
      description: Domestic Standing Order Consents Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    201DomesticStandingOrdersCreated:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticStandingOrderResponse6"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticStandingOrderResponse6"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteDomesticStandingOrderResponse6"
      description: Domestic Standing Orders Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    201FilePaymentConsentsCreated:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteFileConsentResponse4"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteFileConsentResponse4"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteFileConsentResponse4"
      description: File Payment Consents Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    201FilePaymentsCreated:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteFileResponse3"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteFileResponse3"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteFileResponse3"
      description: File Payments Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    201InternationalPaymentConsentsCreated:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalConsentResponse6"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalConsentResponse6"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalConsentResponse6"
      description: International Payment Consents Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    201InternationalPaymentsCreated:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalResponse5"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalResponse5"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalResponse5"
      description: International Payments Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    201InternationalScheduledPaymentConsentsCreated:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalScheduledConsentResponse6"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalScheduledConsentResponse6"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalScheduledConsentResponse6"
      description: International Scheduled Payment Consents Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    201InternationalScheduledPaymentsCreated:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalScheduledResponse6"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalScheduledResponse6"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalScheduledResponse6"
      description: International Scheduled Payments Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    201InternationalStandingOrderConsentsCreated:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalStandingOrderConsentResponse7"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalStandingOrderConsentResponse7"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalStandingOrderConsentResponse7"
      description: International Standing Order Consents Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    201InternationalStandingOrdersCreated:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalStandingOrderResponse7"
        application/json:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalStandingOrderResponse7"
        application/json; charset=utf-8:
          schema:
            $ref: "#/components/schemas/OBWriteInternationalStandingOrderResponse7"
      description: International Standing Orders Created
      headers:
        x-fapi-interaction-id:
          description: An RFC4122 UID used as a correlation id.
          schema:
            type: string
        x-jws-signature:
          description: |
            Header containing a detached JWS signature of the body of the payload.
          schema:
            type: string
    400Error:
      content:
        application/jose+jwe:
          schema:
            $ref: "#/components/schemas/OBErrorResponse1"
        application/json:
          schema:
            $ref: "#/components/schemas/OBErrorResponse1"
[...]
