swagger: "2.0"
schemes:
  - https
host: management.azure.com
info:
  description: REST API for Azure Spring Cloud
  title: AppPlatformManagementClient
  version: 2019-05-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/appplatform/resource-manager/Microsoft.AppPlatform/preview/2019-05-01-preview/appplatform.json
      version: "2.0"
  x-providerName: azure.com
  x-serviceName: appplatform
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    enum:
      - 2019-05-01-preview
    in: query
    name: api-version
    required: true
    type: string
  AppNameParameter:
    description: The name of the App resource.
    in: path
    name: appName
    required: true
    type: string
    x-ms-parameter-location: method
  BindingNameParameter:
    description: The name of the Binding resource.
    in: path
    name: bindingName
    required: true
    type: string
    x-ms-parameter-location: method
  DeploymentNameParameter:
    description: The name of the Deployment resource.
    in: path
    name: deploymentName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceGroupNameParameter:
    description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ServiceNameParameter:
    description: The name of the Service resource.
    in: path
    name: serviceName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: Gets subscription ID which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.AppPlatform/operations:
    get:
      description: Lists all of the available REST API operations of the Microsoft.AppPlatform provider.
      operationId: Operations_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
      responses:
        "200":
          description: Success. The response describes the list of operations.
          schema:
            $ref: "#/definitions/AvailableOperations"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Operations_List:
          parameters:
            api-version: 2019-05-01-preview
          responses:
            "200":
              body:
                nextLink: providers/Microsoft.AppPlatform?$skipToken={opaqueString}
                value:
                  - dataAction: false
                    display:
                      description: Create or Update Managed Applications
                      operation: Create or Update Managed Applications
                      provider: Microsoft Azure Distributed Managed Service for Spring
                      resource: Managed Applications
                    name: Microsoft.AppPlatform/Spring/read
                    origin: user,system
                    properties:
                      serviceSpecification: null
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.AppPlatform/Spring":
    get:
      description: Handles requests to list all resources in a subscription.
      operationId: Services_ListBySubscription
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
      responses:
        "200":
          description: Success. The response describes the list of Services in the subscription.
          schema:
            $ref: "#/definitions/ServiceResourceList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Services_ListBySubscription:
          parameters:
            api-version: 2019-05-01-preview
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice
                    location: eastus
                    name: myservice
                    properties:
                      configServerProperties:
                        configServer:
                          gitProperty:
                            label: master
                            searchPaths:
                              - /
                            uri: https://github.com/fake-user/fake-repository.git
                        state: Succeeded
                      provisioningState: Succeeded
                      serviceId: 12345678abcd1234abcd12345678abcd
                      trace:
                        appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                        enabled: true
                        state: Succeeded
                    tags:
                      key1: value1
                    type: Microsoft.AppPlatform/Spring
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/providers/Microsoft.AppPlatform/locations/{location}/checkNameAvailability":
    post:
      description: Checks that the resource name is valid and is not already in use.
      operationId: Services_CheckNameAvailability
      parameters:
        - description: the region
          in: path
          name: location
          required: true
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - description: Parameters supplied to the operation.
          in: body
          name: availabilityParameters
          required: true
          schema:
            $ref: "#/definitions/NameAvailabilityParameters"
      responses:
        "200":
          description: Success. The response describes the name availability.
          schema:
            $ref: "#/definitions/NameAvailability"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Services_CheckNameAvailability:
          parameters:
            api-version: 2019-05-01-preview
            availabilityParameters:
              name: myservice
              type: Microsoft.AppPlatform/Spring
            location: eastus
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                message: The name is already used.
                nameAvailable: false
                reason: AlreadyExists
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring":
    get:
      description: Handles requests to list all resources in a resource group.
      operationId: Services_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
      responses:
        "200":
          description: Success. The response describes the list of Services in the resource group.
          schema:
            $ref: "#/definitions/ServiceResourceList"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Services_List:
          parameters:
            api-version: 2019-05-01-preview
            resourceGroupName: myResourceGroup
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice
                    location: eastus
                    name: myservice
                    properties:
                      configServerProperties:
                        configServer:
                          gitProperty:
                            label: master
                            searchPaths:
                              - /
                            uri: https://github.com/fake-user/fake-repository.git
                        state: Succeeded
                      provisioningState: Succeeded
                      serviceId: 12345678abcd1234abcd12345678abcd
                      trace:
                        appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                        enabled: true
                        state: Succeeded
                    tags:
                      key1: value1
                    type: Microsoft.AppPlatform/Spring
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}":
    delete:
      description: Operation to delete a Service.
      operationId: Services_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
      responses:
        "202":
          description: Accepted. The response indicates the delete operation is performed in the background.
        "204":
          description: Success. The response indicates the resource is already deleted.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Services_Delete:
          parameters:
            api-version: 2019-05-01-preview
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.AppPlatform/...pathToOperationResult...
            "204": {}
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    get:
      description: Get a Service and its properties.
      operationId: Services_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
      responses:
        "200":
          description: Success. The response describes the corresponding Service.
          schema:
            $ref: "#/definitions/ServiceResource"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Services_Get:
          parameters:
            api-version: 2019-05-01-preview
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice
                location: eastus
                name: myservice
                properties:
                  configServerProperties:
                    configServer:
                      gitProperty:
                        label: master
                        searchPaths:
                          - /
                        uri: https://github.com/fake-user/fake-repository.git
                    state: Succeeded
                  provisioningState: Succeeded
                  serviceId: 12345678abcd1234abcd12345678abcd
                  trace:
                    appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                    enabled: true
                    state: Succeeded
                tags:
                  key1: value1
                type: Microsoft.AppPlatform/Spring
    patch:
      description: Operation to update an exiting Service.
      operationId: Services_Update
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - description: Parameters for the update operation
          in: body
          name: resource
          required: true
          schema:
            $ref: "#/definitions/ServiceResource"
      responses:
        "200":
          description: Success. The response describes the updated Service.
          schema:
            $ref: "#/definitions/ServiceResource"
        "202":
          description: Accepted. The response indicates the exiting Service is now updating and contains a Location header to query the operation result.
          schema:
            $ref: "#/definitions/ServiceResource"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Services_Update:
          parameters:
            api-version: 2019-05-01-preview
            resource:
              location: eastus
              properties:
                configServerProperties:
                  configServer:
                    gitProperty:
                      label: master
                      searchPaths:
                        - /
                      uri: https://github.com/fake-user/fake-repository.git
                trace:
                  appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                  enabled: true
              tags:
                key1: value1
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice
                location: eastus
                name: myservice
                properties:
                  configServerProperties:
                    configServer:
                      gitProperty:
                        label: master
                        searchPaths:
                          - /
                        uri: https://github.com/fake-user/fake-repository.git
                    state: Succeeded
                  provisioningState: Succeeded
                  serviceId: 12345678abcd1234abcd12345678abcd
                  trace:
                    appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                    enabled: true
                    state: Succeeded
                tags:
                  key1: value1
                type: Microsoft.AppPlatform/Spring
            "202":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice
                location: eastus
                name: myservice
                properties:
                  configServerProperties:
                    configServer:
                      gitProperty:
                        label: master
                        searchPaths:
                          - /
                        uri: https://github.com/fake-user/fake-repository.git
                    state: Succeeded
                  provisioningState: Updating
                  serviceId: 12345678abcd1234abcd12345678abcd
                  trace:
                    appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                    enabled: true
                    state: Succeeded
                tags:
                  key1: value1
                type: Microsoft.AppPlatform/Spring
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    put:
      description: Create a new Service or update an exiting Service.
      operationId: Services_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - description: Parameters for the create or update operation
          in: body
          name: resource
          required: true
          schema:
            $ref: "#/definitions/ServiceResource"
      responses:
        "200":
          description: Success. The response describes the updated Service.
          schema:
            $ref: "#/definitions/ServiceResource"
        "201":
          description: Created. The response describes the new Service and contains a Location header to query the operation result.
          schema:
            $ref: "#/definitions/ServiceResource"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Services_CreateOrUpdate:
          parameters:
            api-version: 2019-05-01-preview
            resource:
              location: eastus
              properties:
                configServerProperties:
                  configServer:
                    gitProperty:
                      label: master
                      searchPaths:
                        - /
                      uri: https://github.com/fake-user/fake-repository.git
                trace:
                  appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                  enabled: true
              tags:
                key1: value1
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice
                location: eastus
                name: myservice
                properties:
                  configServerProperties:
                    configServer:
                      gitProperty:
                        label: master
                        searchPaths:
                          - /
                        uri: https://github.com/fake-user/fake-repository.git
                    state: Succeeded
                  provisioningState: Succeeded
                  serviceId: 12345678abcd1234abcd12345678abcd
                  trace:
                    appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                    enabled: true
                    state: Succeeded
                tags:
                  key1: value1
                type: Microsoft.AppPlatform/Spring
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice
                location: eastus
                name: myservice
                properties:
                  configServerProperties:
                    configServer:
                      gitProperty:
                        label: master
                        searchPaths:
                          - /
                        uri: https://github.com/fake-user/fake-repository.git
                    state: Succeeded
                  provisioningState: Creating
                  serviceId: 12345678abcd1234abcd12345678abcd
                  trace:
                    appInsightInstrumentationKey: 00000000-0000-0000-0000-000000000000
                    enabled: true
                    state: Succeeded
                tags:
                  key1: value1
                type: Microsoft.AppPlatform/Spring
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps":
    get:
      description: Handles requests to list all resources in a Service.
      operationId: Apps_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
      responses:
        "200":
          description: Success. The response describes the list of Apps in the Service.
          schema:
            $ref: "#/definitions/AppResourceCollection"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Apps_List:
          parameters:
            api-version: 2019-05-01-preview
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp
                    name: myapp
                    properties:
                      activeDeploymentName: mydeployment1
                      persistentDisk:
                        mountPath: mypersistentdisk
                        sizeInGB: 2
                        usedInGB: 1
                      provisioningState: Succeeded
                      public: true
                      temporaryDisk:
                        mountPath: mytemporarydisk
                        sizeInGB: 2
                      url: myapp.myservice.azuremicroservices.io
                    type: Microsoft.AppPlatform/Spring/apps
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}":
    delete:
      description: Operation to delete an App.
      operationId: Apps_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
      responses:
        "200":
          description: Success. The response indicates the resource is deleted.
        "204":
          description: Success. The response indicates the resource doesn't exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Apps_Delete:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
    get:
      description: Get an App and its properties.
      operationId: Apps_Get
      parameters:
        - description: Indicates whether sync status
          in: query
          name: syncStatus
          required: false
          type: string
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
      responses:
        "200":
          description: Success. The response describes the corresponding App.
          schema:
            $ref: "#/definitions/AppResource"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Apps_Get:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp
                name: myapp
                properties:
                  activeDeploymentName: mydeployment1
                  persistentDisk:
                    mountPath: mypersistentdisk
                    sizeInGB: 2
                    usedInGB: 1
                  provisioningState: Succeeded
                  public: true
                  temporaryDisk:
                    mountPath: mytemporarydisk
                    sizeInGB: 2
                  url: myapp.myservice.azuremicroservices.io
                type: Microsoft.AppPlatform/Spring/apps
    patch:
      description: Operation to update an exiting App.
      operationId: Apps_Update
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
        - description: Parameters for the update operation
          in: body
          name: appResource
          required: true
          schema:
            $ref: "#/definitions/AppResource"
      responses:
        "200":
          description: Success. The response describes the updated App.
          schema:
            $ref: "#/definitions/AppResource"
        "202":
          description: Accepted. The response indicates the exiting App is now updating and contains a Location header to query the operation result.
          schema:
            $ref: "#/definitions/AppResource"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Apps_Update:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            appResource:
              properties:
                activeDeploymentName: mydeployment1
                persistentDisk:
                  mountPath: mypersistentdisk
                  sizeInGB: 2
                public: true
                temporaryDisk:
                  mountPath: mytemporarydisk
                  sizeInGB: 2
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp
                name: myapp
                properties:
                  activeDeploymentName: mydeployment1
                  persistentDisk:
                    mountPath: mypersistentdisk
                    sizeInGB: 2
                    usedInGB: 1
                  provisioningState: Succeeded
                  public: true
                  temporaryDisk:
                    mountPath: mytemporarydisk
                    sizeInGB: 2
                  url: myapp.myservice.azuremicroservices.io
                type: Microsoft.AppPlatform/Spring/apps
            "202":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp
                name: myapp
                properties:
                  activeDeploymentName: mydeployment1
                  persistentDisk:
                    mountPath: mypersistentdisk
                    sizeInGB: 2
                    usedInGB: 1
                  provisioningState: Updating
                  public: true
                  temporaryDisk:
                    mountPath: mytemporarydisk
                    sizeInGB: 2
                  url: myapp.myservice.azuremicroservices.io
                type: Microsoft.AppPlatform/Spring/apps
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    put:
      description: Create a new App or update an exiting App.
      operationId: Apps_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
        - description: Parameters for the create or update operation
          in: body
          name: appResource
          required: true
          schema:
            $ref: "#/definitions/AppResource"
      responses:
        "200":
          description: Success. The response describes the updated App.
          schema:
            $ref: "#/definitions/AppResource"
        "201":
          description: Created. The response describes the new App and contains a Location header to query the operation result.
          schema:
            $ref: "#/definitions/AppResource"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Apps_CreateOrUpdate:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            appResource:
              properties:
                activeDeploymentName: mydeployment1
                persistentDisk:
                  mountPath: mypersistentdisk
                  sizeInGB: 2
                public: true
                temporaryDisk:
                  mountPath: mytemporarydisk
                  sizeInGB: 2
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp
                name: myapp
                properties:
                  activeDeploymentName: mydeployment1
                  persistentDisk:
                    mountPath: mypersistentdisk
                    sizeInGB: 2
                    usedInGB: 1
                  provisioningState: Succeeded
                  public: true
                  temporaryDisk:
                    mountPath: mytemporarydisk
                    sizeInGB: 2
                  url: myapp.myservice.azuremicroservices.io
                type: Microsoft.AppPlatform/Spring/apps
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp
                name: myapp
                properties:
                  activeDeploymentName: mydeployment1
                  persistentDisk:
                    mountPath: mypersistentdisk
                    sizeInGB: 2
                    usedInGB: 1
                  provisioningState: Creating
                  public: true
                  temporaryDisk:
                    mountPath: mytemporarydisk
                    sizeInGB: 2
                  url: myapp.myservice.azuremicroservices.io
                type: Microsoft.AppPlatform/Spring/apps
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/bindings":
    get:
      description: Handles requests to list all resources in an App.
      operationId: Bindings_List
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
      responses:
        "200":
          description: Success. The response describes the list of Bindings in the App.
          schema:
            $ref: "#/definitions/BindingResourceCollection"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Bindings_List:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/bindings/mybinding
                    name: mybinding
                    properties:
                      bindingParameters:
                        apiType: SQL
                        databaseName: db1
                      createdAt: 2019-01-01T12:34:56.000Z
                      generatedProperties: |-
                        spring.datasource.url=jdbc:mysql://localhost:3306/test
                        spring.datasource.username=root
                        spring.datasource.password=1****6
                      resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DocumentDB/databaseAccounts/my-cosmosdb-1
                      resourceName: my-cosmosdb-1
                      resourceType: Microsoft.DocumentDB
                      updatedAt: 2019-01-01T12:34:56.000Z
                    type: Microsoft.AppPlatform/Spring/apps/bindings
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/bindings/{bindingName}":
    delete:
      description: Operation to delete a Binding.
      operationId: Bindings_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
        - $ref: "#/parameters/BindingNameParameter"
      responses:
        "200":
          description: Success. The response indicates the resource is deleted.
        "204":
          description: Success. The response indicates the resource doesn't exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Bindings_Delete:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            bindingName: mybinding
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
    get:
      description: Get a Binding and its properties.
      operationId: Bindings_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
        - $ref: "#/parameters/BindingNameParameter"
      responses:
        "200":
          description: Success. The response describes the corresponding Binding.
          schema:
            $ref: "#/definitions/BindingResource"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Bindings_Get:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            bindingName: mybinding
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/bindings/mybinding
                name: mybinding
                properties:
                  bindingParameters:
                    apiType: SQL
                    databaseName: db1
                  createdAt: 2019-01-01T12:34:56.000Z
                  generatedProperties: |-
                    spring.datasource.url=jdbc:mysql://localhost:3306/test
                    spring.datasource.username=root
                    spring.datasource.password=1****6
                  resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DocumentDB/databaseAccounts/my-cosmosdb-1
                  resourceName: my-cosmosdb-1
                  resourceType: Microsoft.DocumentDB
                  updatedAt: 2019-01-01T12:34:56.000Z
                type: Microsoft.AppPlatform/Spring/apps/bindings
    patch:
      description: Operation to update an exiting Binding.
      operationId: Bindings_Update
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
        - $ref: "#/parameters/BindingNameParameter"
        - description: Parameters for the update operation
          in: body
          name: bindingResource
          required: true
          schema:
            $ref: "#/definitions/BindingResource"
      responses:
        "200":
          description: Success. The response describes the updated Binding.
          schema:
            $ref: "#/definitions/BindingResource"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Bindings_Update:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            bindingName: mybinding
            bindingResource:
              properties:
                bindingParameters:
                  apiType: SQL
                  databaseName: db1
                createdAt: null
                generatedProperties: null
                key: xxxx
                resourceName: null
                resourceType: null
                updatedAt: null
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/bindings/mybinding
                name: mybinding
                properties:
                  bindingParameters:
                    apiType: SQL
                    databaseName: db1
                  createdAt: 2019-01-01T12:34:56.000Z
                  generatedProperties: |-
                    spring.datasource.url=jdbc:mysql://localhost:3306/test
                    spring.datasource.username=root
                    spring.datasource.password=1****6
                  resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DocumentDB/databaseAccounts/my-cosmosdb-1
                  resourceName: my-cosmosdb-1
                  resourceType: Microsoft.DocumentDB
                  updatedAt: 2019-01-01T12:34:56.000Z
                type: Microsoft.AppPlatform/Spring/apps/bindings
    put:
      description: Create a new Binding or update an exiting Binding.
      operationId: Bindings_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
        - $ref: "#/parameters/BindingNameParameter"
        - description: Parameters for the create or update operation
          in: body
          name: bindingResource
          required: true
          schema:
            $ref: "#/definitions/BindingResource"
      responses:
        "200":
          description: Success. The response describes the created or updated Binding.
          schema:
            $ref: "#/definitions/BindingResource"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Bindings_CreateOrUpdate:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            bindingName: mybinding
            bindingResource:
              properties:
                bindingParameters:
                  apiType: SQL
                  databaseName: db1
                createdAt: null
                generatedProperties: null
                key: xxxx
                resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DocumentDB/databaseAccounts/my-cosmosdb-1
                resourceName: my-cosmosdb-1
                resourceType: Microsoft.DocumentDB
                updatedAt: null
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/bindings/mybinding
                name: mybinding
                properties:
                  bindingParameters:
                    apiType: SQL
                    databaseName: db1
                  createdAt: 2019-01-01T12:34:56.000Z
                  generatedProperties: |-
                    spring.datasource.url=jdbc:mysql://localhost:3306/test
                    spring.datasource.username=root
                    spring.datasource.password=1****6
                  resourceId: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.DocumentDB/databaseAccounts/my-cosmosdb-1
                  resourceName: my-cosmosdb-1
                  resourceType: Microsoft.DocumentDB
                  updatedAt: 2019-01-01T12:34:56.000Z
                type: Microsoft.AppPlatform/Spring/apps/bindings
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments":
    get:
      description: Handles requests to list all resources in an App.
      operationId: Deployments_List
      parameters:
        - collectionFormat: multi
          description: Version of the deployments to be listed
          in: query
          items:
            type: string
          name: version
          required: false
          type: array
          uniqueItems: false
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
      responses:
        "200":
          description: Success. The response describes the list of Deployments in the App.
          schema:
            $ref: "#/definitions/DeploymentResourceCollection"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Deployments_List:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/deployments/mydeployment
                    name: mydeployment
                    properties:
                      active: false
                      appName: myapp
                      deploymentSettings:
                        cpu: 1
                        environmentVariables:
                          env: test
                        instanceCount: 1
                        jvmOptions: -Xms1G -Xmx3G
                        memoryInGB: 3
                        runtimeVersion: Java_8
                      instances:
                        - discoveryStatus: pending
                          name: instance1
                          status: Running
                      provisioningState: Succeeded
                      source:
                        artifactSelector: sub-module-1
                        relativePath: resources/a172cedcae47474b615c54d510a5d84a8dea3032e958587430b413538be3f333-2019082605-e3095339-1723-44b7-8b5e-31b1003978bc
                        type: Source
                        version: "1.0"
                      status: Running
                    type: Microsoft.AppPlatform/Spring/apps/deployments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments/{deploymentName}":
    delete:
      description: Operation to delete a Deployment.
      operationId: Deployments_Delete
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
        - $ref: "#/parameters/DeploymentNameParameter"
      responses:
        "200":
          description: Success. The response indicates the resource is deleted.
        "204":
          description: Success. The response indicates the resource doesn't exist.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Deployments_Delete:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            deploymentName: mydeployment
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "204": {}
    get:
      description: Get a Deployment and its properties.
      operationId: Deployments_Get
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
        - $ref: "#/parameters/DeploymentNameParameter"
      responses:
        "200":
          description: Success. The response describes the corresponding Deployment.
          schema:
            $ref: "#/definitions/DeploymentResource"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Deployments_Get:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            deploymentName: mydeployment
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/deployments/mydeployment
                name: mydeployment
                properties:
                  active: false
                  appName: myapp
                  deploymentSettings:
                    cpu: 1
                    environmentVariables:
                      env: test
                    instanceCount: 1
                    jvmOptions: -Xms1G -Xmx3G
                    memoryInGB: 3
                    runtimeVersion: Java_8
                  instances:
                    - discoveryStatus: pending
                      name: instance1
                      status: Running
                  provisioningState: Succeeded
                  source:
                    artifactSelector: sub-module-1
                    relativePath: resources/a172cedcae47474b615c54d510a5d84a8dea3032e958587430b413538be3f333-2019082605-e3095339-1723-44b7-8b5e-31b1003978bc
                    type: Source
                    version: "1.0"
                  status: Running
                type: Microsoft.AppPlatform/Spring/apps/deployments
    patch:
      description: Operation to update an exiting Deployment.
      operationId: Deployments_Update
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
        - $ref: "#/parameters/DeploymentNameParameter"
        - description: Parameters for the update operation
          in: body
          name: deploymentResource
          required: true
          schema:
            $ref: "#/definitions/DeploymentResource"
      responses:
        "200":
          description: Success. The response describes the updated Deployment.
          schema:
            $ref: "#/definitions/DeploymentResource"
        "202":
          description: "Accepted. The response indicates the exiting Deployment is now updating and contains a Location\r

            header to query the operation result."
          schema:
            $ref: "#/definitions/DeploymentResource"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Deployments_Update:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            deploymentName: mydeployment
            deploymentResource:
              properties:
                instances: null
                source:
                  artifactSelector: sub-module-1
                  relativePath: resources/a172cedcae47474b615c54d510a5d84a8dea3032e958587430b413538be3f333-2019082605-e3095339-1723-44b7-8b5e-31b1003978bc
                  type: Source
                  version: "1.0"
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/deployments/mydeployment
                name: mydeployment
                properties:
                  active: false
                  appName: myapp
                  deploymentSettings:
                    cpu: 1
                    environmentVariables:
                      env: test
                    instanceCount: 1
                    jvmOptions: -Xms1G -Xmx3G
                    memoryInGB: 3
                    runtimeVersion: Java_8
                  instances:
                    - discoveryStatus: pending
                      name: instance1
                      status: Running
                  provisioningState: Succeeded
                  source:
                    artifactSelector: sub-module-1
                    relativePath: resources/a172cedcae47474b615c54d510a5d84a8dea3032e958587430b413538be3f333-2019082605-e3095339-1723-44b7-8b5e-31b1003978bc
                    type: Source
                    version: "1.0"
                  status: Running
                type: Microsoft.AppPlatform/Spring/apps/deployments
            "202":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/deployments/mydeployment
                name: mydeployment
                properties:
                  active: false
                  appName: myapp
                  deploymentSettings:
                    cpu: 1
                    environmentVariables:
                      env: test
                    instanceCount: 1
                    jvmOptions: -Xms1G -Xmx3G
                    memoryInGB: 3
                    runtimeVersion: Java_8
                  instances:
                    - discoveryStatus: pending
                      name: instance1
                      status: Running
                  provisioningState: Updating
                  source:
                    artifactSelector: sub-module-1
                    relativePath: resources/a172cedcae47474b615c54d510a5d84a8dea3032e958587430b413538be3f333-2019082605-e3095339-1723-44b7-8b5e-31b1003978bc
                    type: Source
                    version: "1.0"
                  status: Running
                type: Microsoft.AppPlatform/Spring/apps/deployments
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
    put:
      description: Create a new Deployment or update an exiting Deployment.
      operationId: Deployments_CreateOrUpdate
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
        - $ref: "#/parameters/DeploymentNameParameter"
        - description: Parameters for the create or update operation
          in: body
          name: deploymentResource
          required: true
          schema:
            $ref: "#/definitions/DeploymentResource"
      responses:
        "200":
          description: Success. The response describes the updated Deployment.
          schema:
            $ref: "#/definitions/DeploymentResource"
        "201":
          description: "Created. The response describes the new Deployment and contains a Location header to query the\r

            operation result."
          schema:
            $ref: "#/definitions/DeploymentResource"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Deployments_CreateOrUpdate:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            deploymentName: mydeployment
            deploymentResource:
              properties:
                deploymentSettings:
                  cpu: 1
                  environmentVariables:
                    env: test
                  instanceCount: 1
                  jvmOptions: -Xms1G -Xmx3G
                  memoryInGB: 3
                  runtimeVersion: Java_8
                instances: null
                source:
                  artifactSelector: sub-module-1
                  relativePath: resources/a172cedcae47474b615c54d510a5d84a8dea3032e958587430b413538be3f333-2019082605-e3095339-1723-44b7-8b5e-31b1003978bc
                  type: Source
                  version: "1.0"
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/deployments/mydeployment
                name: mydeployment
                properties:
                  active: false
                  appName: myapp
                  deploymentSettings:
                    cpu: 1
                    environmentVariables:
                      env: test
                    instanceCount: 1
                    jvmOptions: -Xms1G -Xmx3G
                    memoryInGB: 3
                    runtimeVersion: Java_8
                  instances:
                    - discoveryStatus: pending
                      name: instance1
                      status: Running
                  provisioningState: Succeeded
                  source:
                    artifactSelector: sub-module-1
                    relativePath: resources/a172cedcae47474b615c54d510a5d84a8dea3032e958587430b413538be3f333-2019082605-e3095339-1723-44b7-8b5e-31b1003978bc
                    type: Source
                    version: "1.0"
                  status: Running
                type: Microsoft.AppPlatform/Spring/apps/deployments
            "201":
              body:
                id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/deployments/mydeployment
                name: mydeployment
                properties:
                  active: false
                  appName: myapp
                  deploymentSettings:
                    cpu: 1
                    environmentVariables:
                      env: test
                    instanceCount: 1
                    jvmOptions: -Xms1G -Xmx3G
                    memoryInGB: 3
                    runtimeVersion: Java_8
                  instances:
                    - discoveryStatus: pending
                      name: instance1
                      status: Running
                  provisioningState: Updating
                  source:
                    artifactSelector: sub-module-1
                    relativePath: resources/a172cedcae47474b615c54d510a5d84a8dea3032e958587430b413538be3f333-2019082605-e3095339-1723-44b7-8b5e-31b1003978bc
                    type: Source
                    version: "1.0"
                  status: Compiling
                type: Microsoft.AppPlatform/Spring/apps/deployments
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments/{deploymentName}/getLogFileUrl":
    post:
      description: Get deployment log file URL
      operationId: Deployments_GetLogFileUrl
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
        - $ref: "#/parameters/DeploymentNameParameter"
      responses:
        "200":
          description: Success. The response contains the log file URL.
          schema:
            $ref: "#/definitions/LogFileUrlResponse"
        "204":
          description: Success. The deployment does not have log file.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Deployments_GetLogFileUrl:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            deploymentName: mydeployment
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                url: https://spring.blob.core.windows.net/logs/110ec0c337154d45b1f01daf2196c0bf/b58b0cb4ecdea3c65311b4ca8833fe47b6ae0a7500f87a8eb31e8379d3fe48f1-2019081312-42b7b90c-f108-4c09-b33d-1ea134f57f23?sv=2018-03-28&sr=b&sig=example-signature&se=2019-08-14T09%3A43%3A52Z&sp=r
            "204": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments/{deploymentName}/restart":
    post:
      description: Restart the deployment.
      operationId: Deployments_Restart
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
        - $ref: "#/parameters/DeploymentNameParameter"
      responses:
        "200":
          description: Success.
        "202":
          description: "Accepted. The response indicates the Deployment is now restarting and contains a Location header\r

            to query the operation result."
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Deployments_Restart:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            deploymentName: mydeployment
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.AppPlatform/...pathToOperationResult...
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments/{deploymentName}/start":
    post:
      description: Start the deployment.
      operationId: Deployments_Start
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
        - $ref: "#/parameters/DeploymentNameParameter"
      responses:
        "200":
          description: Success.
        "202":
          description: "Accepted. The response indicates the Deployment is now starting and contains a Location header to\r

            query the operation result."
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Deployments_Start:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            deploymentName: mydeployment
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.AppPlatform/...pathToOperationResult...
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/deployments/{deploymentName}/stop":
    post:
      description: Stop the deployment.
      operationId: Deployments_Stop
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
        - $ref: "#/parameters/DeploymentNameParameter"
      responses:
        "200":
          description: Success.
        "202":
          description: "Accepted. The response indicates the Deployment is now stopping and contains a Location header to\r

            query the operation result."
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Deployments_Stop:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            deploymentName: mydeployment
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
            "202":
              headers:
                location: https://management.azure.com/subscriptions/subid/providers/Microsoft.AppPlatform/...pathToOperationResult...
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apps/{appName}/getResourceUploadUrl":
    post:
      description: Get an resource upload URL for an App, which may be artifacts or source archive.
      operationId: Apps_GetResourceUploadUrl
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - $ref: "#/parameters/AppNameParameter"
      responses:
        "200":
          description: Success. The response describes the resource upload URL.
          schema:
            $ref: "#/definitions/ResourceUploadDefinition"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Apps_GetResourceUploadUrl:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                relativePath: e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855-20190801-3ed9f4a2-986b-4bbd-b833-a42dccb2f777
                uploadUrl: https://springcloudstorageaccount.file.core.windows.net/bd172614181f42e2853f6fd90029cda8/e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855-20190801-3ed9f4a2-986b-4bbd-b833-a42dccb2f777?sv=2018-03-28&sr=f&sig=SampleSignature&se=2019-08-01T10%3A42%3A21Z&sp=w
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/deployments":
    get:
      description: List deployments for a certain service
      operationId: Deployments_ListClusterAllDeployments
      parameters:
        - collectionFormat: multi
          description: Version of the deployments to be listed
          in: query
          items:
            type: string
          name: version
          required: false
          type: array
          uniqueItems: false
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DeploymentResourceCollection"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Deployments_ListClusterAllDeployments:
          parameters:
            api-version: 2019-05-01-preview
            appName: myapp
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                value:
                  - id: /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myResourceGroup/providers/Microsoft.AppPlatform/Spring/myservice/apps/myapp/deployments/mydeployment
                    name: mydeployment
                    properties:
                      active: false
                      appName: myapp
                      deploymentSettings:
                        cpu: 1
                        environmentVariables:
                          env: test
                        instanceCount: 1
                        jvmOptions: -Xms1G -Xmx3G
                        memoryInGB: 3
                        runtimeVersion: Java_8
                      instances:
                        - discoveryStatus: pending
                          name: instance1
                          status: Running
                      provisioningState: Succeeded
                      source:
                        artifactSelector: sub-module-1
                        relativePath: resources/a172cedcae47474b615c54d510a5d84a8dea3032e958587430b413538be3f333-2019082605-e3095339-1723-44b7-8b5e-31b1003978bc
                        type: Source
                        version: "1.0"
                      status: Running
                    type: Microsoft.AppPlatform/Spring/apps/deployments
      x-ms-pageable:
        nextLinkName: nextLink
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/disableTestEndpoint":
    post:
      operationId: Services_DisableTestEndpoint
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
      responses:
        "200":
          description: Success
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Services_DisableTestEndpoint:
          parameters:
            api-version: 2019-05-01-preview
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200": {}
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/enableTestEndpoint":
    post:
      operationId: Services_EnableTestEndpoint
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/TestKeys"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Services_EnableTestEndpoint:
          parameters:
            api-version: 2019-05-01-preview
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                enabled: true
                primaryKey: key1
                primaryTestEndpoint: key1@TestEndpoint
                secondaryKey: key2
                secondaryTestEndpoint: key2@TestEndpoint
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/listTestKeys":
    post:
      description: List test keys for a Service.
      operationId: Services_ListTestKeys
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
      responses:
        "200":
          description: Success. The response describes the test keys.
          schema:
            $ref: "#/definitions/TestKeys"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Services_ListTestKeys:
          parameters:
            api-version: 2019-05-01-preview
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                enabled: true
                primaryKey: key1
                primaryTestEndpoint: key1@TestEndpoint
                secondaryKey: key2
                secondaryTestEndpoint: key2@TestEndpoint
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/regenerateTestKey":
    post:
      description: Regenerate a test key for a Service.
      operationId: Services_RegenerateTestKey
      parameters:
        - $ref: "#/parameters/ApiVersionParameter"
        - $ref: "#/parameters/SubscriptionIdParameter"
        - $ref: "#/parameters/ResourceGroupNameParameter"
        - $ref: "#/parameters/ServiceNameParameter"
        - description: Parameters for the operation
          in: body
          name: regenerateTestKeyRequest
          required: true
          schema:
            $ref: "#/definitions/RegenerateTestKeyRequestPayload"
      responses:
        "200":
          description: Success.
          schema:
            $ref: "#/definitions/TestKeys"
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: "#/definitions/CloudError"
      tags:
        - AppPlatform
      x-ms-examples:
        Services_RegenerateTestKey:
          parameters:
            api-version: 2019-05-01-preview
            regenerateTestKeyRequest:
              keyType: Primary
            resourceGroupName: myResourceGroup
            serviceName: myservice
            subscriptionId: 00000000-0000-0000-0000-000000000000
          responses:
            "200":
              body:
                enabled: true
                primaryKey: key1
                primaryTestEndpoint: key1@TestEndpoint
                secondaryKey: key2
                secondaryTestEndpoint: key2@TestEndpoint
definitions:
  AppResource:
    allOf:
      - $ref: "#/definitions/ProxyResource"
    description: App resource payload
    properties:
      properties:
        $ref: "#/definitions/AppResourceProperties"
        description: Properties of the App resource
        x-ms-client-flatten: false
    type: object
  AppResourceCollection:
    description: Object that includes an array of App resources and a possible link for next set
    properties:
      nextLink:
        description: "URL client should use to fetch the next page (per server side paging).\r

          It's null for now, added for future use."
        type: string
      value:
        description: Collection of App resources
        items:
          $ref: "#/definitions/AppResource"
        type: array
        uniqueItems: false
    type: object
  AppResourceProperties:
    description: App resource properties payload
    properties:
      activeDeploymentName:
        description: Name of the active deployment of the App
        type: string
      createdTime:
        description: Date time when the resource is created
        format: date-time
        readOnly: true
        type: string
      persistentDisk:
        $ref: "#/definitions/PersistentDisk"
        description: Persistent disk settings
      provisioningState:
        description: Provisioning state of the App
        enum:
          - Succeeded
          - Failed
          - Creating
          - Updating
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: AppResourceProvisioningState
      public:
        description: Indicates whether the App exposes public endpoint
        type: boolean
      temporaryDisk:
        $ref: "#/definitions/TemporaryDisk"
        description: Temporary disk settings
      url:
        description: URL of the App
        readOnly: true
        type: string
    type: object
  AvailableOperations:
    description: Available operations of the service
    properties:
      nextLink:
        description: "URL client should use to fetch the next page (per server side paging).\r

          It's null for now, added for future use."
        type: string
      value:
        description: Collection of available operation details
        items:
          $ref: "#/definitions/OperationDetail"
        type: array
        uniqueItems: false
    type: object
  BindingResource:
    allOf:
      - $ref: "#/definitions/ProxyResource"
    description: Binding resource payload
    properties:
      properties:
        $ref: "#/definitions/BindingResourceProperties"
        description: Properties of the Binding resource
        x-ms-client-flatten: false
    type: object
  BindingResourceCollection:
    description: Object that includes an array of Binding resources and a possible link for next set
    properties:
      nextLink:
        description: "URL client should use to fetch the next page (per server side paging).\r

          It's null for now, added for future use."
        type: string
      value:
        description: Collection of Binding resources
        items:
          $ref: "#/definitions/BindingResource"
        type: array
        uniqueItems: false
    type: object
  BindingResourceProperties:
    description: Binding resource properties payload
    properties:
      bindingParameters:
        additionalProperties:
          type: object
        description: Binding parameters of the Binding resource
        type: object
      createdAt:
        description: Creation time of the Binding resource
        readOnly: true
        type: string
      generatedProperties:
        description: The generated Spring Boot property file for this binding. The secret will be deducted.
        readOnly: true
        type: string
      key:
        description: The key of the bound resource
        type: string
      resourceId:
        description: The Azure resource id of the bound resource
        type: string
      resourceName:
        description: The name of the bound resource
        type: string
      resourceType:
        description: The standard Azure resource type of the bound resource
        type: string
      updatedAt:
        description: Update time of the Binding resource
        readOnly: true
        type: string
    type: object
  CloudError:
    description: An error response from the service.
    properties:
      error:
        $ref: "#/definitions/CloudErrorBody"
    x-ms-external: true
  CloudErrorBody:
    description: An error response from the service.
    properties:
      code:
        description: An identifier for the error. Codes are invariant and are intended to be consumed programmatically.
        type: string
      details:
        description: A list of additional details about the error.
        items:
          $ref: "#/definitions/CloudErrorBody"
        type: array
      message:
        description: A message describing the error, intended to be suitable for display in a user interface.
        type: string
      target:
        description: The target of the particular error. For example, the name of the property in error.
        type: string
    x-ms-external: true
  ClusterResourceProperties:
    description: Service properties payload
    properties:
      configServerProperties:
        $ref: "#/definitions/ConfigServerProperties"
        description: Config server git properties of the Service
      provisioningState:
        description: Provisioning state of the Service
        enum:
          - Creating
          - Updating
          - Deleting
          - Deleted
          - Succeeded
          - Failed
          - Moving
          - Moved
          - MoveFailed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      serviceId:
        description: ServiceInstanceEntity GUID which uniquely identifies a created resource
        readOnly: true
        type: string
      trace:
        $ref: "#/definitions/TraceProperties"
        description: Trace properties of the Service
      version:
        description: Version of the Service
        format: int32
        readOnly: true
        type: integer
    type: object
  ConfigServerGitProperty:
    description: Property of git.
    properties:
      hostKey:
        description: Public sshKey of git repository.
        type: string
      hostKeyAlgorithm:
        description: SshKey algorithm of git repository.
        type: string
      label:
        description: Label of the repository
        type: string
      password:
        description: Password of git repository basic auth.
        type: string
      privateKey:
        description: Private sshKey algorithm of git repository.
        type: string
      repositories:
        description: Repositories of git.
        items:
          $ref: "#/definitions/GitPatternRepository"
        type: array
        uniqueItems: false
      searchPaths:
        description: Searching path of the repository
        items:
          type: string
        type: array
        uniqueItems: false
      strictHostKeyChecking:
        description: Strict host key checking or not.
        type: boolean
      uri:
        description: URI of the repository
        type: string
      username:
        description: Username of git repository basic auth.
        type: string
    required:
      - uri
    type: object
  ConfigServerProperties:
    description: Config server git properties payload
    properties:
      configServer:
        $ref: "#/definitions/ConfigServerSettings"
        description: Settings of config server.
      error:
        $ref: "#/definitions/Error"
        description: Error when apply config server settings.
      state:
        description: State of the config server.
        enum:
          - NotAvailable
          - Deleted
          - Failed
          - Succeeded
          - Updating
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ConfigServerState
    type: object
  ConfigServerSettings:
    description: The settings of config server.
    properties:
      gitProperty:
        $ref: "#/definitions/ConfigServerGitProperty"
        description: Property of git environment.
    type: object
  DeploymentInstance:
    description: Deployment instance payload
    properties:
      discoveryStatus:
        description: Discovery status of the deployment instance
        readOnly: true
        type: string
      name:
        description: Name of the deployment instance
        readOnly: true
        type: string
      reason:
        description: Failed reason of the deployment instance
        readOnly: true
        type: string
      status:
        description: Status of the deployment instance
        readOnly: true
        type: string
    type: object
  DeploymentResource:
    allOf:
      - $ref: "#/definitions/ProxyResource"
    description: Deployment resource payload
    properties:
      properties:
        $ref: "#/definitions/DeploymentResourceProperties"
        description: Properties of the Deployment resource
        x-ms-client-flatten: false
    type: object
  DeploymentResourceCollection:
    description: Object that includes an array of App resources and a possible link for next set
    properties:
      nextLink:
        description: "URL client should use to fetch the next page (per server side paging).\r

          It's null for now, added for future use."
        type: string
      value:
        description: Collection of Deployment resources
        items:
          $ref: "#/definitions/DeploymentResource"
        type: array
        uniqueItems: false
    type: object
  DeploymentResourceProperties:
    description: Deployment resource properties payload
    properties:
      active:
        description: Indicates whether the Deployment is active
        readOnly: true
        type: boolean
      appName:
        description: App name of the deployment
        readOnly: true
        type: string
      createdTime:
        description: Date time when the resource is created
        format: date-time
        readOnly: true
        type: string
      deploymentSettings:
        $ref: "#/definitions/DeploymentSettings"
        description: Deployment settings of the Deployment
      instances:
        description: Collection of instances belong to the Deployment
        items:
          $ref: "#/definitions/DeploymentInstance"
        readOnly: true
        type: array
        uniqueItems: false
      provisioningState:
        description: Provisioning state of the Deployment
        enum:
          - Creating
          - Updating
          - Succeeded
          - Failed
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: DeploymentResourceProvisioningState
      source:
        $ref: "#/definitions/UserSourceInfo"
        description: Uploaded source information of the deployment.
      status:
        description: Status of the Deployment
        enum:
          - Unknown
          - Stopped
          - Running
          - Failed
          - Allocating
          - Upgrading
          - Compiling
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: DeploymentResourceStatus
    type: object
  DeploymentSettings:
    description: Deployment settings payload
    properties:
      cpu:
        default: 1
        description: Required CPU
        format: int32
        maximum: 4
        minimum: 1
        type: integer
      environmentVariables:
        additionalProperties:
          type: string
        description: Collection of environment variables
        type: object
      instanceCount:
        default: 1
        description: Instance count
        format: int32
        maximum: 20
        minimum: 1
        type: integer
      jvmOptions:
        description: JVM parameter
        type: string
      memoryInGB:
        default: 1
        description: Required Memory size in GB
        format: int32
        maximum: 8
        minimum: 1
        type: integer
      runtimeVersion:
        description: Runtime version
        enum:
          - Java_8
          - Java_11
        type: string
        x-ms-enum:
          modelAsString: true
          name: RuntimeVersion
    type: object
  Error:
    description: The error code compose of code and message.
    properties:
      code:
        description: The code of error.
        type: string
      message:
        description: The message of error.
        type: string
    type: object
  GitPatternRepository:
    description: Git repository property payload
    properties:
      hostKey:
        description: Public sshKey of git repository.
        type: string
      hostKeyAlgorithm:
        description: SshKey algorithm of git repository.
        type: string
      label:
        description: Label of the repository
        type: string
      name:
        description: Name of the repository
        type: string
      password:
        description: Password of git repository basic auth.
        type: string
      pattern:
        description: Collection of pattern of the repository
        items:
          type: string
        type: array
        uniqueItems: false
      privateKey:
        description: Private sshKey algorithm of git repository.
        type: string
      searchPaths:
        description: Searching path of the repository
        items:
          type: string
        type: array
        uniqueItems: false
      strictHostKeyChecking:
        description: Strict host key checking or not.
        type: boolean
      uri:
        description: URI of the repository
        type: string
      username:
        description: Username of git repository basic auth.
        type: string
    required:
      - name
      - uri
    type: object
  LogFileUrlResponse:
    description: Log file URL payload
    properties:
      url:
        description: URL of the log file
        type: string
    required:
      - url
    type: object
  LogSpecification:
    description: Specifications of the Log for Azure Monitoring
    properties:
      blobDuration:
        description: Blob duration of the log
        type: string
      displayName:
        description: Localized friendly display name of the log
        type: string
      name:
        description: Name of the log
        type: string
    type: object
  MetricDimension:
    description: Specifications of the Dimension of metrics
    properties:
      displayName:
        description: Localized friendly display name of the dimension
        type: string
      name:
        description: Name of the dimension
        type: string
    type: object
  MetricSpecification:
    description: Specifications of the Metrics for Azure Monitoring
    properties:
      aggregationType:
        description: "Only provide one value for this field. Valid values: Average, Minimum, Maximum, Total, Count."
        type: string
      category:
        description: Name of the metric category that the metric belongs to. A metric can only belong to a single category.
        type: string
      dimensions:
        description: Dimensions of the metric
        items:
          $ref: "#/definitions/MetricDimension"
        type: array
        uniqueItems: false
      displayDescription:
        description: Localized friendly description of the metric
        type: string
      displayName:
        description: Localized friendly display name of the metric
        type: string
      fillGapWithZero:
        description: Optional. If set to true, then zero will be returned for time duration where no metric is emitted/published.
        type: boolean
      name:
        description: Name of the metric
        type: string
      supportedAggregationTypes:
        description: Supported aggregation types
        items:
          type: string
        type: array
        uniqueItems: false
      supportedTimeGrainTypes:
        description: Supported time grain types
        items:
          type: string
        type: array
        uniqueItems: false
      unit:
        description: Unit that makes sense for the metric
        type: string
    type: object
  NameAvailability:
    description: Name availability result payload
    properties:
      message:
        description: Message why the name is not available
        type: string
      nameAvailable:
        description: Indicates whether the name is available
        type: boolean
      reason:
        description: Reason why the name is not available
        type: string
    readOnly: true
    type: object
  NameAvailabilityParameters:
    description: Name availability parameters payload
    properties:
      name:
        description: Name to be checked
        type: string
      type:
        description: Type of the resource to check name availability
        type: string
    required:
      - type
      - name
    type: object
  OperationDetail:
    description: Operation detail payload
    properties:
      dataAction:
        description: Indicates whether the operation is a data action
        type: boolean
      display:
        $ref: "#/definitions/OperationDisplay"
        description: Display of the operation
      name:
        description: Name of the operation
        type: string
      origin:
        description: Origin of the operation
        type: string
      properties:
        $ref: "#/definitions/OperationProperties"
        description: Properties of the operation
    type: object
  OperationDisplay:
    description: Operation display payload
    properties:
      description:
        description: Localized friendly description for the operation
        type: string
      operation:
        description: Localized friendly name for the operation
        type: string
      provider:
        description: Resource provider of the operation
        type: string
      resource:
        description: Resource of the operation
        type: string
    type: object
  OperationProperties:
    description: Extra Operation properties
    properties:
      serviceSpecification:
        $ref: "#/definitions/ServiceSpecification"
        description: Service specifications of the operation
    type: object
  PersistentDisk:
    description: Persistent disk payload
    properties:
      mountPath:
        description: Mount path of the persistent disk
        type: string
      sizeInGB:
        description: Size of the persistent disk in GB
        format: int32
        maximum: 50
        minimum: 0
        type: integer
      usedInGB:
        description: Size of the used persistent disk in GB
        format: int32
        maximum: 50
        minimum: 0
        readOnly: true
        type: integer
    type: object
  ProxyResource:
    allOf:
      - $ref: "#/definitions/Resource"
    description: The resource model definition for a ARM proxy resource. It will have everything other than required location and tags.
    properties: {}
    type: object
  RegenerateTestKeyRequestPayload:
    description: Regenerate test key request payload
    properties:
      keyType:
        description: Type of the test key
        enum:
          - Primary
          - Secondary
        type: string
        x-ms-enum:
          modelAsString: true
          name: TestKeyType
    required:
      - keyType
    type: object
  Resource:
    description: The core properties of ARM resources.
    properties:
      id:
        description: Fully qualified resource Id for the resource.
        readOnly: true
        type: string
      name:
        description: The name of the resource.
        readOnly: true
        type: string
      type:
        description: The type of the resource.
        readOnly: true
        type: string
    type: object
    x-ms-azure-resource: true
  ResourceUploadDefinition:
    description: Resource upload definition payload
    properties:
      relativePath:
        description: Source relative path
        type: string
      uploadUrl:
        description: Upload URL
        type: string
    type: object
  ServiceResource:
    allOf:
      - $ref: "#/definitions/TrackedResource"
    description: Service resource
    properties:
      properties:
        $ref: "#/definitions/ClusterResourceProperties"
        description: Properties of the Service resource
        x-ms-client-flatten: false
    type: object
  ServiceResourceList:
    description: Object that includes an array of Service resources and a possible link for next set
    properties:
      nextLink:
        description: "URL client should use to fetch the next page (per server side paging).\r

          It's null for now, added for future use."
        type: string
      value:
        description: Collection of Service resources
        items:
          $ref: "#/definitions/ServiceResource"
        type: array
[...]
